
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO
-- erro na select 37
/*
 EXEC [dbo].[PRC_P123GER_CALCULO] '2015-01-31'
 EXEC [dbo].[PRC_P123GER_CALCULO] '2015-02-28'
 EXEC [dbo].[PRC_P123GER_CALCULO] '2015-03-31'
 EXEC [dbo].[PRC_P123GER_CALCULO] '2015-04-30'
 EXEC [dbo].[PRC_P123GER_CALCULO] '2015-05-31'
 EXEC [dbo].[PRC_P123GER_CALCULO] '2015-06-30'
 
 EXEC [dbo].[PRC_P123GER_CALCULO] '2016-01-31'
 EXEC [dbo].[PRC_P123GER_CALCULO] '2016-02-29'
 EXEC [dbo].[PRC_P123GER_CALCULO] '2016-03-31'
 EXEC [dbo].[PRC_P123GER_CALCULO] '2016-04-30'

exec [PRC_P123GER_CALCULO] '20141231'

  SELECT * FROM P123GER_RPT WHERE DT_FECHA = '2016-01-31' AND RPT=1 
  SELECT * FROM P123GER_RPT WHERE DT_FECHA = '2016-01-31' AND  RPT=2
  SELECT * FROM P123GER_RPT WHERE DT_FECHA = '2016-01-31' AND  RPT=3

Scr_vlr_p123Gerencial '20160131','20160430',1,1
Scr_grafico_p123Gerencial '20160131','20160430',1,1
scr_vlr_GerencialP123_AnoAnterior '20160131','20160430',1,1

*/
use SIG
go


/*

USE SIG

DROP TABLE P123GER_RPT
SP_HELP CML_PRODUCAO_ANALISE
SP_HELP P123_RPT
SP_HELP P123GER_RPT
CREATE TABLE P123GER_RPT
	(	
		DT_FECHA		SMALLDATETIME,
		RPT				INT,
		CARTEIRA		INT,
		ORDEM			INT,
		DESCR			VARCHAR(100),

		M1		float,
		M2		float,
		M3		float,
		M4		float,
		M5		float,

		M6		FLOAT,
		M7		float,
		M8		float,
		M9		FLOAT,
		M10		FLOAT,

		M11		FLOAT,	
		M12		FLOAT,
		M13		FLOAT,
		M14		FLOAT,	
		COR_LINHA   varchar(3)
	)
CREATE INDEX P123GER_RPT_IDX1 ON P123GER_RPT
	(	DT_FECHA,	RPT, ORDEM,	DESCR)


*/

-- SELECT * FROM RR_ROLLRATE WHERE RATING='HH'
-- SELECT * FROM RATING_HISTORICO WHERE NVL_RISCO='HH'


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_P123GER_CALCULO' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_P123GER_CALCULO]
GO


CREATE Procedure [dbo].[PRC_P123GER_CALCULO] (@data_ref as datetime) AS
BEGIN


		DECLARE @data_INI AS SMALLDATETIME
		-- DIA 1 DO MES DO FECHAMENTO
		SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

		-- APAGA PROCESSAMENTO ANTERIOR		 -- PRODUCAO GLOBAL  1 a 3		-- SQL 1
		delete  from P123GER_RPT
			WHERE	 DT_FECHA = @data_ref
				--AND	 RPT=2 AND CARTEIRA=2


		-- faltou COR_LINHA

		-- ANALISE COM GRAFICO POR PRODUTO E OPERADOR

	--	 declare @data_ref datetime	set @data_ref ='20140630'
	--	 declare @data_ref datetime	set @data_ref ='20160131'

	--		M24   M23  M22  M21 , M11  M10  M9  M6, M3 M2 M1  @data_ref
	--  13 MESES
	DECLARE @M1  AS DATETIME 
	DECLARE @M2  AS DATETIME
	DECLARE @M3  AS DATETIME
	DECLARE @M4  AS DATETIME
	DECLARE @M5  AS DATETIME
	DECLARE @M6  AS DATETIME
	DECLARE @M7  AS DATETIME
	DECLARE @M8  AS DATETIME
	DECLARE @M9  AS DATETIME
	DECLARE @M10  AS DATETIME
	DECLARE @M11  AS DATETIME
	DECLARE @M12  AS DATETIME
	DECLARE @M13  AS DATETIME
	DECLARE @M14  AS DATETIME  -- DT REF

	--				declare @data_ref datetime set @data_ref = '20150228'
		-- MES  DE FECHAMENTO
		SET		@M14 = @data_ref

		-- MES ANTERIOR AO DO FECHAMENTO
		SET		@M13 = CONVERT(CHAR(4),DATEPART(YEAR,@M14))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M14))),2)+'01'
		SET		@M13 = DATEADD(DD,-1,@M13)
		--		SELECT @M1, @m2

		set		@M12 = CONVERT(CHAR(4),DATEPART(YEAR,@M13))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M13))),2)+'01'
		SET		@M12=DATEADD(DD,-1,@M12)
		--		SELECT @M1, @M2,@M3

		set  @M11 = CONVERT(CHAR(4),DATEPART(YEAR,@M12))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M12))),2)+'01'
		SET	 @M11=DATEADD(DD,-1,@M11)
		--		  SELECT @M4

	set  @M10 = CONVERT(CHAR(4),DATEPART(YEAR,@M11))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M11))),2)+'01'
	SET	 @M10 = DATEADD(DD,-1,@M10)
	--		 	SELECT @M5

	set  @M9 = CONVERT(CHAR(4),DATEPART(YEAR,@M10))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M10))),2)+'01'
	SET	 @M9 = DATEADD(DD,-1,@M9)

	set  @M8 = CONVERT(CHAR(4),DATEPART(YEAR,@M9))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M9))),2)+'01'
	SET	 @M8 = DATEADD(DD,-1,@M8)

	set  @M7 = CONVERT(CHAR(4),DATEPART(YEAR,@M8))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M8))),2)+'01'
	SET	 @M7 = DATEADD(DD,-1,@M7)

	set  @M6 = CONVERT(CHAR(4),DATEPART(YEAR,@M7))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M7))),2)+'01'
	SET	 @M6 = DATEADD(DD,-1,@M6)

	set		@M5 = CONVERT(CHAR(4),DATEPART(YEAR,@M6))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M6))),2)+'01'
	SET		@M5 = DATEADD(DD,-1,@M5)
	--			SELECT	@M10

	set		@M4 = CONVERT(CHAR(4),DATEPART(YEAR,@M5))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M5))),2)+'01'
	SET		@M4 = DATEADD(DD,-1,@M4)
	--			SELECT	@M11 

	set		@M3 = CONVERT(CHAR(4),DATEPART(YEAR,@M4))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M4))),2)+'01'
	SET		@M3 = DATEADD(DD,-1,@M3)

	set		@M2 = CONVERT(CHAR(4),DATEPART(YEAR,@M3))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M3))),2)+'01'
	SET		@M2 = DATEADD(DD,-1,@M2)

	set		@M1 = CONVERT(CHAR(4),DATEPART(YEAR,@M2))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M2))),2)+'01'
	SET		@M1 = DATEADD(DD,-1,@M1)
		-- 		SELECT @M1, @M2,@M3 , @M4, @M5,@M6,@M7,@m8,@M9,@M10,@M11,@M12,@M13 ,@M14


		--		VARIAVEIS PARA COMPOR OS 14 MESES   M1 ANTIGO,  M14 RECENTE
		DECLARE @columns VARCHAR(200)
		SET		@columns = '['+CONVERT(VARCHAR(8),@M1,112)+']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M2 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M3 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M4 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M5 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M6 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M7 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M8 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M9 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M10 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M11 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M12 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M13 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M14 ,112)  + ']'


		--		SELECT  @columns		-- M1= MES ANTIGO,	M14 = MES RECENTE


	--		M24   M23  M22  M21 , M11  M10  M9  M6, M3 M2 M1  @data_ref

/*
		SELECT	@M1 as m1, @M2 as m2, @M3 as m3, @M6 as m6, @M9 as m9, @M10 as m10, 
				@M11 as m11, @M21 as m21, @M22 as m22,@M23 as m23, @M24 as m24
*/
-- **************************************************  PRODUCAO GLOBAL  RPT 1, 2, 3
--  QUEBRAS
-- ******************************************************************** PV  4  PRODUCAO QTDE CONTRATOS
DECLARE @query VARCHAR(max)
--	DESCR 1 E 2
--	cart, ordem, prod, 
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES		-- SQL 2
TRUNCATE TABLE   AUX_CML_PROD_MES
								-- INVERTIDO	M14 ANTIGO, M1 RECENTE
	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, QTDE	FROM COMERCIAL_PRODUCAO_MES (NOLOCK) WHERE PRODUTO=''V'') P '+
					 ' PIVOT( SUM (QTDE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
													-- COLUMNS  M1 A M14	-- ANTIGO A RECENTE

--   3
--	select  @query
EXEC (@query)


--  SELECT * FROM COMERCIAL_PRODUCAO_MES 
--  SELECT * FROM  CML_PRODUCAO_ANALISE
--  SELECT * FROM AUX_CML_PROD_MES
--  SELECT * FROM P123GER_RPT
--  SELECT SUM (VLR_PRESENTE) FROM COMERCIAL_PRODUCAO (NOLOCK)
-- SP_HELP CML_PRODUCAO_ANALISE
-- SP_HELP AUX_CML_PROD_MES  -- INVERTIDO 14 A 1
-- 4
	INSERT P123GER_RPT		 -- ORDEM DE 1 A 14  *************
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT  @data_ref, -- 
			1,			1,		-- RPT, CART
			1 ,	-- ORDEM PRODUCAO
			'SAFRA - QTDE CONTRATOS' ,	-- DESCR
			M14,			M13		,			M12		,		M11		,
			M10		,		M9		,			M8		,		M7		,
			M6		,		M5		,			M4		,		M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)		-- INVERTIDO	M14 ANTIGO E M1 RECENTE			*****


-- ******************************************************************** SAFRA PRODUCAO
-- ******************************************************************** SAFRA PRODUCAO
--	DESCR 1 E 2
--	cart, ordem, prod, 
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_FECHA, PRODUTO, VLR_OP	FROM COMERCIAL_PRODUCAO_MES (NOLOCK) WHERE PRODUTO=''V'') P '+
					 ' PIVOT( SUM (VLR_OP) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

--   5
--	select  @query
EXEC (@query)

--  SELECT * FROM COMERCIAL_PRODUCAO_MES 
--  SELECT * FROM  CML_PRODUCAO_ANALISE
--  SELECT * FROM AUX_CML_PROD_MES
--  SELECT * FROM P123GER_RPT
--  SELECT SUM (VLR_PRESENTE) FROM COMERCIAL_PRODUCAO (NOLOCK)
-- SP_HELP CML_PRODUCAO_ANALISE
-- SP_HELP AUX_CML_PROD_MES
-- 6

	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			2 ,	-- ORDEM PRODUCAO
			'SAFRA - PRODUÇÃO' ,	-- DESCR
			M14,			M13		,			M12		,		M11		,
			M10		,		M9		,			M8		,		M7		,
			M6		,		M5		,			M4		,		M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ***************************************************  PRODUCAO E QTDE DOS RPT 2, 3,4 P/ P2,P3, OUTRAS P
-- 6 SELECT * FROM P123GER_RPT			-- P2 ********
	INSERT P123GER_RPT    
		SELECT
			@data_ref,	-- DT
			2,			1,		-- RPT, CART
			ORDEM ,	-- ORDEM PRODUCAO
			DESCR ,
			M1,			M2		,			M3		,		M4		,
			M5		,	M6		,			M7		,		M8		,
			M9		,	M10		,			M11		,		M12		,
			M13		,	M14		,		
			COR_LINHA				-- COR_LINHA			
			-- ORDEM DE 1 A 14
FROM		P123GER_RPT	(NOLOCK)	WHERE DT_FECHA = @data_ref AND RPT=1

-- SP_HELP P123GER_RPT
	INSERT P123GER_RPT				-- P3 ********
		SELECT
			@data_ref, --DT_FECHA,	-- DT
			3,			1,		-- RPT, CART
			ORDEM ,	-- ORDEM PRODUCAO
			DESCR ,
			M1,			M2		,			M3		,		M4		,
			M5		,	M6		,			M7		,		M8		,
			M9		,	M10		,			M11		,		M12		,
			M13		,	M14		,		
			COR_LINHA				-- COR_LINHA			
			-- ORDEM DE 1 A 14
FROM		P123GER_RPT	(NOLOCK)	WHERE DT_FECHA = @data_ref AND RPT=1

	INSERT P123GER_RPT			-- RPT 4 OUTRAS PARCELAS ********
		SELECT
			DT_FECHA,	-- DT
			4,			1,		-- RPT, CART
			ORDEM ,	-- ORDEM PRODUCAO
			DESCR ,
			M1,			M2		,			M3		,		M4		,
			M5		,	M6		,			M7		,		M8		,
			M9		,	M10		,			M11		,		M12		,
			M13		,	M14		,		
			COR_LINHA				-- COR_LINHA			
			-- ORDEM DE 1 A 14
FROM		P123GER_RPT	(NOLOCK)	WHERE DT_FECHA = @data_ref AND RPT=1

-- P1 RPT=1 , P2  RPT=2,  P3  RPT=3,  P123 > 90   RPT=4


-- ******************************************************************** 
-- ********************************************************************   P1 *************
-- ******************************************************************** 
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P1_QTDE_30D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_QTDE_30D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)
	--  
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			5 ,	-- ORDEM PRODUCAO
			'1o Momento (30d) - Qtde VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)  -- ORDEM DE 14 A 1 

-- ******************************************************************** VENCTO 30 D  P1
-- ******************************************************************** 
-- ******************************************************************** 
--	DESCR 1 E 2
--	cart, ordem, prod, 
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P1_INAD_30D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_INAD_30D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			6 ,	-- ORDEM PRODUCAO
			'1o Momento (30d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ***************************************************  PRODUCAO E QTDE DOS RPT 2, 3,4 P/ P2,P3, OUTRAS P
-- 1o Momento (30d) - % inadimpl
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P1_PRC_INAD_30D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_PRC_INAD_30D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			7 ,	-- ORDEM PRODUCAO
			'1o Momento (30d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)


-- ************************************************ 2o MOMENTO  **********************************************
-- 2o Momento (60d) - QTDE
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P1_QTDE_60D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_QTDE_60D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			8 ,	-- ORDEM PRODUCAO
			'2o Momento (60d) - QTDE VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)
-- 2o Momento (60d) - VLR inadimpl  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P1_INAD_60D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_INAD_60D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			9 ,	-- ORDEM PRODUCAO
			'2o Momento (60d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- 2o Momento (60d) - % inadimpl	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P1_PRC_INAD_60D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_PRC_INAD_60D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			10 ,	-- ORDEM PRODUCAO
			'2o Momento (60d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ************************************************ 3o MOMENTO  **********************************************
-- 3o Momento (90d) - QTDE
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P1_QTDE_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_QTDE_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			11 ,	-- ORDEM PRODUCAO
			'3o Momento (90d) - QTDE VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- 3o Momento (90d) - VLR inadimpl  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P1_INAD_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_INAD_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			12 ,	-- ORDEM PRODUCAO
			'3o Momento (90d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- 3o Momento (90d) - % inadimpl	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P1_PRC_INAD_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_PRC_INAD_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			13 ,	-- ORDEM PRODUCAO
			'3o Momento (90d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)


-- ************************************************ 4o MOMENTO  **********************************************
-- 4o Momento (91d) - QTDE
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P1_QTDE_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_QTDE_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			14 ,	-- ORDEM PRODUCAO
			'4o Momento (>90d) - QTDE VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)
-- 4o Momento (91d) - VLR inadimpl  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P1_INAD_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_INAD_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			15 ,	-- ORDEM PRODUCAO
			'4o Momento (>90d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- 3o Momento (90d) - % inadimpl	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P1_PRC_INAD_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_PRC_INAD_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			16 ,	-- ORDEM PRODUCAO
			'4o Momento (>90d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ******************************************************************** 
-- ********************************************************************   P2 *************************
-- ******************************************************************** 
-- ******************************************************************** 
--	DESCR 1 E 2
--	cart, ordem, prod, 
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P2_QTDE_30D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_QTDE_30D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)

--  SELECT * FROM P123GER_RPT
--  SELECT SUM (P2_QTDE_30D) FROM P123Ger_MES (NOLOCK)
-- SP_HELP AUX_CML_PROD_MES
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			2,			1,		-- RPT, CART
			5 ,	-- ORDEM PRODUCAO
			'1o Momento (30d) - Qtde VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ******************************************************************** VENCTO 30 D  P1
-- ******************************************************************** 
-- ******************************************************************** 
--	DESCR 1 E 2
--	cart, ordem, prod, 
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P2_INAD_30D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_INAD_30D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			2,			1,		-- RPT, CART
			6 ,	-- ORDEM PRODUCAO
			'1o Momento (30d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ***************************************************  PRODUCAO E QTDE DOS RPT 2, 3,4 P/ P2,P3, OUTRAS P
-- 1o Momento (30d) - % inadimpl
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P2_PRC_INAD_30D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_PRC_INAD_30D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			2,			1,		-- RPT, CART
			7 ,	-- ORDEM PRODUCAO
			'1o Momento (30d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)


-- ************************************************ 2o MOMENTO  **********************************************
-- 2o Momento (60d) - QTDE
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P2_QTDE_60D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_QTDE_60D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			2,			1,		-- RPT, CART
			8 ,	-- ORDEM PRODUCAO
			'2o Momento (60d) - QTDE VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)
-- 2o Momento (60d) - VLR inadimpl  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P2_INAD_60D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_INAD_60D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			2,			1,		-- RPT, CART
			9 ,	-- ORDEM PRODUCAO
			'2o Momento (60d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- 2o Momento (60d) - % inadimpl	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P2_PRC_INAD_60D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_PRC_INAD_60D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			2,			1,		-- RPT, CART
			10 ,	-- ORDEM PRODUCAO
			'2o Momento (60d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ************************************************ 3o MOMENTO  **********************************************
-- 3o Momento (90d) - QTDE
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P2_QTDE_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_QTDE_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			2,			1,		-- RPT, CART
			11 ,	-- ORDEM PRODUCAO
			'3o Momento (90d) - QTDE VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)
-- 3o Momento (90d) - VLR inadimpl  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P2_INAD_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_INAD_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			2,			1,		-- RPT, CART
			12 ,	-- ORDEM PRODUCAO
			'3o Momento (90d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- 3o Momento (90d) - % inadimpl	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P2_PRC_INAD_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_PRC_INAD_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			2,			1,		-- RPT, CART
			13 ,	-- ORDEM PRODUCAO
			'3o Momento (90d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)


-- ************************************************ 4o MOMENTO  **********************************************
-- 4o Momento (91d) - QTDE
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P2_QTDE_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_QTDE_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			2,			1,		-- RPT, CART
			14 ,	-- ORDEM PRODUCAO
			'4o Momento (>90d) - QTDE VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)
-- 4o Momento (91d) - VLR inadimpl  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P2_INAD_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_INAD_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			2,			1,		-- RPT, CART
			15 ,	-- ORDEM PRODUCAO
			'4o Momento (>90d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- 3o Momento (90d) - % inadimpl	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P2_PRC_INAD_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_PRC_INAD_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			2,			1,		-- RPT, CART
			16 ,	-- ORDEM PRODUCAO
			'4o Momento (>90d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)


-- ******************************************************************** 
-- ********************************************************************  P3 *************************
-- ******************************************************************** 
-- ******************************************************************** 
--	DESCR 1 E 2
--	cart, ordem, prod, 
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P3_QTDE_30D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_QTDE_30D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)

--  SELECT * FROM P123GER_RPT
--  SELECT SUM (P3_QTDE_30D) FROM P123Ger_MES (NOLOCK)
-- SP_HELP AUX_CML_PROD_MES
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			3,			1,		-- RPT, CART
			5 ,	-- ORDEM PRODUCAO
			'1o Momento (30d) - Qtde VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)


-- ******************************************************************** VENCTO 30 D  P3  **********************
-- ******************************************************************** 
-- ******************************************************************** 
--	DESCR 1 E 2
--	cart, ordem, prod, 
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P3_INAD_30D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_INAD_30D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			3,			1,		-- RPT, CART
			6 ,	-- ORDEM PRODUCAO
			'1o Momento (30d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ***************************************************  PRODUCAO E QTDE DOS RPT 2, 3,4 P/ P2,P3, OUTRAS P
-- 1o Momento (30d) - % inadimpl
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P3_PRC_INAD_30D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_PRC_INAD_30D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			3,			1,		-- RPT, CART
			7 ,	-- ORDEM PRODUCAO
			'1o Momento (30d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)


-- ************************************************ 2o MOMENTO  **********************************************
-- 2o Momento (60d) - QTDE
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P3_QTDE_60D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_QTDE_60D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			3,			1,		-- RPT, CART
			8 ,	-- ORDEM PRODUCAO
			'2o Momento (60d) - QTDE VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)
-- 2o Momento (60d) - VLR inadimpl  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P3_INAD_60D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_INAD_60D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			3,			1,		-- RPT, CART
			9 ,	-- ORDEM PRODUCAO
			'2o Momento (60d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- 2o Momento (60d) - % inadimpl	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P3_PRC_INAD_60D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_PRC_INAD_60D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			3,			1,		-- RPT, CART
			10 ,	-- ORDEM PRODUCAO
			'2o Momento (60d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ************************************************ 3o MOMENTO  **********************************************
-- 3o Momento (90d) - QTDE
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P3_QTDE_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_QTDE_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			3,			1,		-- RPT, CART
			11 ,	-- ORDEM PRODUCAO
			'3o Momento (90d) - QTDE VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)
-- 3o Momento (90d) - VLR inadimpl  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P3_INAD_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_INAD_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			3,			1,		-- RPT, CART
			12 ,	-- ORDEM PRODUCAO
			'3o Momento (90d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- 3o Momento (90d) - % inadimpl	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P3_PRC_INAD_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_PRC_INAD_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			3,			1,		-- RPT, CART
			13 ,	-- ORDEM PRODUCAO
			'3o Momento (90d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)


-- ************************************************ 4o MOMENTO  **********************************************
-- 4o Momento (91d) - QTDE
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P3_QTDE_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_QTDE_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			3,			1,		-- RPT, CART
			14 ,	-- ORDEM PRODUCAO
			'4o Momento (>90d) - QTDE VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)
-- 4o Momento (91d) - VLR inadimpl  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P3_INAD_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_INAD_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			3,			1,		-- RPT, CART
			15 ,	-- ORDEM PRODUCAO
			'4o Momento (>90d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- 3o Momento (90d) - % inadimpl	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P3_PRC_INAD_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_PRC_INAD_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			3,			1,		-- RPT, CART
			16 ,	-- ORDEM PRODUCAO
			'4o Momento (>90d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)


-- SELECT * FROM P123GER_RPT WHERE DT_FECHA='20160131' AND RPT=4
-- ************************************************************************

-- ******************************************************************** VENCTO 30 D  P4  **********************
-- ******************************************************************** 
-- ******************************************************************** 
-- ************************************************ 3o MOMENTO  **********************************************
-- 3o Momento (90d) - QTDE		DA P4
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P4_QTDE_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_QTDE_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			4,			1,		-- RPT, CART
			11 ,	-- ORDEM PRODUCAO
			'3o Momento (90d) - QTDE VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)
-- 3o Momento (90d) - VLR inadimpl  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P4_INAD_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_INAD_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			4,			1,		-- RPT, CART
			12 ,	-- ORDEM PRODUCAO
			'3o Momento (90d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- 3o Momento (90d) - % inadimpl	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P4_PRC_INAD_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_PRC_INAD_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			4,			1,		-- RPT, CART   P4
			13 ,	-- ORDEM PRODUCAO
			'3o Momento (90d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)




--	DESCR 1 E 2
--	cart, ordem, prod, 
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
/*
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P4_INAD_30D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_INAD_30D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			4,			1,		-- RPT, CART
			6 ,	-- ORDEM PRODUCAO
			'1o Momento (30d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ***************************************************  PRODUCAO E QTDE DOS RPT 2, 3,4 P/ P2,P3, OUTRAS P
-- 1o Momento (30d) - % inadimpl
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P4_PRC_INAD_30D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_PRC_INAD_30D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			4,			1,		-- RPT, CART
			7 ,	-- ORDEM PRODUCAO
			'1o Momento (30d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)


-- ************************************************ 2o MOMENTO  **********************************************
-- 2o Momento (60d) - QTDE
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P4_QTDE_60D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_QTDE_60D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			4,			1,		-- RPT, CART
			8 ,	-- ORDEM PRODUCAO
			'2o Momento (60d) - QTDE VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)
-- 2o Momento (60d) - VLR inadimpl  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P4_INAD_60D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_INAD_60D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			4,			1,		-- RPT, CART
			9 ,	-- ORDEM PRODUCAO
			'2o Momento (60d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- 2o Momento (60d) - % inadimpl	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P4_PRC_INAD_60D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_PRC_INAD_60D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			4,			1,		-- RPT, CART
			10 ,	-- ORDEM PRODUCAO
			'2o Momento (60d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ************************************************ 3o MOMENTO  **********************************************
-- 3o Momento (90d) - QTDE
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P4_QTDE_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_QTDE_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			4,			1,		-- RPT, CART
			11 ,	-- ORDEM PRODUCAO
			'3o Momento (90d) - QTDE VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)
-- 3o Momento (90d) - VLR inadimpl  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P4_INAD_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_INAD_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			4,			1,		-- RPT, CART
			12 ,	-- ORDEM PRODUCAO
			'3o Momento (90d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- 3o Momento (90d) - % inadimpl	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P4_PRC_INAD_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_PRC_INAD_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			4,			1,		-- RPT, CART
			13 ,	-- ORDEM PRODUCAO
			'3o Momento (90d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

*/
-- ************************************************ 4o MOMENTO  **********************************************
-- 4o Momento (91d) - QTDE
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P4_QTDE_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_QTDE_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			4,			1,		-- RPT, CART
			14 ,	-- ORDEM PRODUCAO
			'4o Momento (>90d) - QTDE VNP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)
-- 4o Momento (91d) - VLR inadimpl  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P4_INAD_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_INAD_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			4,			1,		-- RPT, CART
			15 ,	-- ORDEM PRODUCAO
			'4o Momento (>90d) - Vlr Vencido NP' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- 3o Momento (90d) - % inadimpl	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, P4_PRC_INAD_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_PRC_INAD_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT P123GER_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			4,			1,		-- RPT, CART
			16 ,	-- ORDEM PRODUCAO
			'4o Momento (>90d) - % inadimpl' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)



-- *****************************	GRAFICOS 12 MESES	***************************
--  USE SIG
--	DECLARE		@data_ref DATETIME SET @data_ref ='20160229'
-- DECLARE @M1 DATETIME	DECLARE @M2 DATETIME	DECLARE @M3 DATETIME	DECLARE @M4 DATETIME	DECLARE @M5 DATETIME	DECLARE @M6 DATETIME	DECLARE @M7 DATETIME	DECLARE @M8 DATETIME	DECLARE @M9 DATETIME	DECLARE @M10 DATETIME	DECLARE @M11 DATETIME	DECLARE @M12 DATETIME	 DECLARE @COLUMNS VARCHAR(200)	DECLARE @QUERY VARCHAR(8000)
DECLARE @ANO	VARCHAR(4)
SET		@ANO	= DATEPART(YYYY,@data_ref)		-- SELECT		@ANO
SET		@M1 =  @ANO + '0131'	-- JAN

--SET		@M2 =  @ANO + '0228'	-- FEV
SET		@M2 =  DATEADD(DD,-1,@ANO + '0301') -- MAR -1D FIM FEV

SET		@M3 =  @ANO + '0331'	-- MAR
SET		@M4 =  @ANO + '0430'	-- ABR
SET		@M5 =  @ANO + '0531'	-- MAI
SET		@M6 =  @ANO + '0630'	-- JUN
SET		@M7 =  @ANO + '0731'	-- JUL
SET		@M8 =  @ANO + '0831'	-- AGO
SET		@M9 =  @ANO + '0930'	-- SET
SET		@M10 =  @ANO + '1031'	-- OUT
SET		@M11 =  @ANO + '1130'	-- NOV
SET		@M12 =  @ANO + '1231'	-- DEZ

	-- COLUMNS COM 12 MESES
		SET		@columns = '['+CONVERT(VARCHAR(8),@M1,112)+']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M2 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M3 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M4 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M5 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M6 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M7 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M8 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M9 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M10 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M11 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M12 ,112)  + ']'
--	SELECT @COLUMNS

-- LIMPA O GRAF ANTERIOR
DELETE		p123g_ano	WHERE ANO = @ANO

-- *****************************	P1	***************************
-- 1o Momento (30d) - % inadimpl	P1	*************************** -- LIMPA ANTERIOR   SP_HELP AUX_GRAFICO_CART  12M
TRUNCATE TABLE   AUX_GRAFICO_CART

	SET		@query = ' INSERT	AUX_GRAFICO_CART  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''20160101'' AS DT_FECHA,''1'' AS ordem_linha,''2016'' AS ANO, P1_PRC_INAD_30D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_PRC_INAD_30D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	SELECT	@query
EXEC (@query)


-- GRAFICO 12 M ANUAL
INSERT		p123g_ano
SELECT		@ANO,	--	ANO		AS DESCRICAO,
			1,		--	PARC	P1
			1,		--	GRAF	1o
			M1		,
			M2		,
			M3		,
			M4		,
			M5		,
			M6		,
			M7		,
			M8		,
			M9		,
			M10		,
			M11		,
			M12		
	FROM	AUX_GRAFICO_CART (NOLOCK)


-- 2o Momento (60d) - % inadimpl	P1	*************************** -- LIMPA ANTERIOR   SP_HELP AUX_GRAFICO_CART  12M
TRUNCATE TABLE   AUX_GRAFICO_CART

	SET		@query = ' INSERT	AUX_GRAFICO_CART  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''20160101'' AS DT_FECHA,''1'' AS ordem_linha,''2016'' AS ANO, P1_PRC_INAD_60D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_PRC_INAD_60D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	SELECT	@query
EXEC (@query)


-- GRAFICO 12 M ANUAL
INSERT		p123g_ano
SELECT		@ANO,	--	ANO		AS DESCRICAO,
			1,		--	PARC	P1
			2,		--	GRAF	2o
			M1		,
			M2		,
			M3		,
			M4		,
			M5		,
			M6		,
			M7		,
			M8		,
			M9		,
			M10		,
			M11		,
			M12		
	FROM	AUX_GRAFICO_CART (NOLOCK)


-- 3o Momento (90d) - % inadimpl	P1	*************************** -- LIMPA ANTERIOR   SP_HELP AUX_GRAFICO_CART  12M
TRUNCATE TABLE   AUX_GRAFICO_CART

	SET		@query = ' INSERT	AUX_GRAFICO_CART  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''20160101'' AS DT_FECHA,''1'' AS ordem_linha,''2016'' AS ANO, P1_PRC_INAD_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_PRC_INAD_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	SELECT	@query
EXEC (@query)


-- GRAFICO 12 M ANUAL
INSERT		p123g_ano
SELECT		@ANO,	--	ANO		AS DESCRICAO,
			1,		--	PARC	1
			3,		--	GRAF	3o  ,
			M1		,
			M2		,
			M3		,
			M4		,
			M5		,
			M6		,
			M7		,
			M8		,
			M9		,
			M10		,
			M11		,
			M12		
	FROM	AUX_GRAFICO_CART (NOLOCK)


-- 4o Momento (91d) - % inadimpl	P1	*************************** -- LIMPA ANTERIOR   SP_HELP AUX_GRAFICO_CART  12M
TRUNCATE TABLE   AUX_GRAFICO_CART

	SET		@query = ' INSERT	AUX_GRAFICO_CART  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''20160101'' AS DT_FECHA,''1'' AS ordem_linha,''2016'' AS ANO, P1_PRC_INAD_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P1_PRC_INAD_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	SELECT	@query
EXEC (@query)


-- GRAFICO 12 M ANUAL
INSERT		p123g_ano
SELECT		@ANO,	--	ANO		AS DESCRICAO,
			1,		--	PARC	1
			4,		--	GRAF	,
			M1		,
			M2		,
			M3		,
			M4		,
			M5		,
			M6		,
			M7		,
			M8		,
			M9		,
			M10		,
			M11		,
			M12		
	FROM	AUX_GRAFICO_CART (NOLOCK)


-- *****************************	P2	***************************
-- 1o Momento (30d) - % inadimpl	P2	*************************** -- LIMPA ANTERIOR   SP_HELP AUX_GRAFICO_CART  12M
TRUNCATE TABLE   AUX_GRAFICO_CART

	SET		@query = ' INSERT	AUX_GRAFICO_CART  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''20160101'' AS DT_FECHA,''1'' AS ordem_linha,''2016'' AS ANO, P2_PRC_INAD_30D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_PRC_INAD_30D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	SELECT	@query
EXEC (@query)


-- GRAFICO 12 M ANUAL
INSERT		p123g_ano
SELECT		@ANO,	--	ANO		AS DESCRICAO,
			2,		--	PARC	P2
			1,		--	GRAF	1o,
			M1		,
			M2		,
			M3		,
			M4		,
			M5		,
			M6		,
			M7		,
			M8		,
			M9		,
			M10		,
			M11		,
			M12		
	FROM	AUX_GRAFICO_CART (NOLOCK)


-- 2o Momento (60d) - % inadimpl	P2	*************************** -- LIMPA ANTERIOR   SP_HELP AUX_GRAFICO_CART  12M
TRUNCATE TABLE   AUX_GRAFICO_CART

	SET		@query = ' INSERT	AUX_GRAFICO_CART  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''20160101'' AS DT_FECHA,''1'' AS ordem_linha,''2016'' AS ANO, P2_PRC_INAD_60D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_PRC_INAD_60D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	SELECT	@query
EXEC (@query)


-- GRAFICO 12 M ANUAL
INSERT		p123g_ano
SELECT		@ANO,	--	ANO		AS DESCRICAO,
			2,		--	PARC	P2
			2,		--	GRAF	2o
			M1		,
			M2		,
			M3		,
			M4		,
			M5		,
			M6		,
			M7		,
			M8		,
			M9		,
			M10		,
			M11		,
			M12		
	FROM	AUX_GRAFICO_CART (NOLOCK)


-- 3o Momento (90d) - % inadimpl	P2	*************************** -- LIMPA ANTERIOR   SP_HELP AUX_GRAFICO_CART  12M
TRUNCATE TABLE   AUX_GRAFICO_CART

	SET		@query = ' INSERT	AUX_GRAFICO_CART  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''20160101'' AS DT_FECHA,''1'' AS ordem_linha,''2016'' AS ANO, P2_PRC_INAD_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_PRC_INAD_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	SELECT	@query
EXEC (@query)


-- GRAFICO 12 M ANUAL
INSERT		p123g_ano
SELECT		@ANO,	--	ANO		AS DESCRICAO,
			2,		--	PARC	2
			3,		--	GRAF	3o  ,
			M1		,
			M2		,
			M3		,
			M4		,
			M5		,
			M6		,
			M7		,
			M8		,
			M9		,
			M10		,
			M11		,
			M12		
	FROM	AUX_GRAFICO_CART (NOLOCK)


-- 4o Momento (91d) - % inadimpl	P2	*************************** -- LIMPA ANTERIOR   SP_HELP AUX_GRAFICO_CART  12M
TRUNCATE TABLE   AUX_GRAFICO_CART

	SET		@query = ' INSERT	AUX_GRAFICO_CART  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''20160101'' AS DT_FECHA,''1'' AS ordem_linha,''2016'' AS ANO, P2_PRC_INAD_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P2_PRC_INAD_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	SELECT	@query
EXEC (@query)


-- GRAFICO 12 M ANUAL
INSERT		p123g_ano
SELECT		@ANO,	--	ANO		AS DESCRICAO,
			2,		--	PARC	2
			4,		--	GRAF	4o
			M1		,
			M2		,
			M3		,
			M4		,
			M5		,
			M6		,
			M7		,
			M8		,
			M9		,
			M10		,
			M11		,
			M12		
	FROM	AUX_GRAFICO_CART (NOLOCK)



-- *****************************	P3	***************************
-- 1o Momento (30d) - % inadimpl	P3	*************************** -- LIMPA ANTERIOR   SP_HELP AUX_GRAFICO_CART  12M
TRUNCATE TABLE   AUX_GRAFICO_CART

	SET		@query = ' INSERT	AUX_GRAFICO_CART  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''20160101'' AS DT_FECHA,''1'' AS ordem_linha,''2016'' AS ANO, P3_PRC_INAD_30D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_PRC_INAD_30D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	SELECT	@query
EXEC (@query)


-- GRAFICO 12 M ANUAL
INSERT		p123g_ano
SELECT		@ANO,	--	ANO		AS DESCRICAO,
			3,		--	PARC	P3,
			1,		--	GRAF	1o,
			M1		,
			M2		,
			M3		,
			M4		,
			M5		,
			M6		,
			M7		,
			M8		,
			M9		,
			M10		,
			M11		,
			M12		
	FROM	AUX_GRAFICO_CART (NOLOCK)


-- 2o Momento (60d) - % inadimpl	P3	*************************** -- LIMPA ANTERIOR   SP_HELP AUX_GRAFICO_CART  12M
TRUNCATE TABLE   AUX_GRAFICO_CART

	SET		@query = ' INSERT	AUX_GRAFICO_CART  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''20160101'' AS DT_FECHA,''1'' AS ordem_linha,''2016'' AS ANO, P3_PRC_INAD_60D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_PRC_INAD_60D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	SELECT	@query
EXEC (@query)


-- GRAFICO 12 M ANUAL
INSERT		p123g_ano
SELECT		@ANO,	--	ANO		AS DESCRICAO,
			3,		--	PARC	P3,
			2,		--	GRAF	2o,
			M1		,
			M2		,
			M3		,
			M4		,
			M5		,
			M6		,
			M7		,
			M8		,
			M9		,
			M10		,
			M11		,
			M12		
	FROM	AUX_GRAFICO_CART (NOLOCK)


-- 3o Momento (90d) - % inadimpl	P3	*************************** -- LIMPA ANTERIOR   SP_HELP AUX_GRAFICO_CART  12M
TRUNCATE TABLE   AUX_GRAFICO_CART

	SET		@query = ' INSERT	AUX_GRAFICO_CART  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''20160101'' AS DT_FECHA,''1'' AS ordem_linha,''2016'' AS ANO, P3_PRC_INAD_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_PRC_INAD_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	SELECT	@query
EXEC (@query)


-- GRAFICO 12 M ANUAL
INSERT		p123g_ano
SELECT		@ANO,	--	ANO		AS DESCRICAO,
			3,		--	PARC	3	,
			3,		--	GRAF	3o  ,
			M1		,
			M2		,
			M3		,
			M4		,
			M5		,
			M6		,
			M7		,
			M8		,
			M9		,
			M10		,
			M11		,
			M12		
	FROM	AUX_GRAFICO_CART (NOLOCK)


-- 4o Momento (91d) - % inadimpl	P3	*************************** -- LIMPA ANTERIOR   SP_HELP AUX_GRAFICO_CART  12M
TRUNCATE TABLE   AUX_GRAFICO_CART

	SET		@query = ' INSERT	AUX_GRAFICO_CART  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''20160101'' AS DT_FECHA,''1'' AS ordem_linha,''2016'' AS ANO, P3_PRC_INAD_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P3_PRC_INAD_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	SELECT	@query
EXEC (@query)


-- GRAFICO 12 M ANUAL
INSERT		p123g_ano
SELECT		@ANO,	--	ANO		AS DESCRICAO,
			3,		--	PARC	3	,
			4,		--	GRAF	,
			M1		,
			M2		,
			M3		,
			M4		,
			M5		,
			M6		,
			M7		,
			M8		,
			M9		,
			M10		,
			M11		,
			M12		
	FROM	AUX_GRAFICO_CART (NOLOCK)

-- *****************************	P4	***************************		SOMENTE 3o E 4o MOMENTO
-- 3o Momento (90d) - % inadimpl	P4	*************************** -- LIMPA ANTERIOR   SP_HELP AUX_GRAFICO_CART  12M
TRUNCATE TABLE   AUX_GRAFICO_CART

	SET		@query = ' INSERT	AUX_GRAFICO_CART  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''20160101'' AS DT_FECHA,''1'' AS ordem_linha,''2016'' AS ANO, P4_PRC_INAD_90D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_PRC_INAD_90D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	SELECT	@query
EXEC (@query)


-- GRAFICO 12 M ANUAL
INSERT		p123g_ano
SELECT		@ANO,	--	ANO		AS DESCRICAO,
			4,		--	PARC	1+2+3= P4	,
			3,		--	GRAF	,
			M1		,
			M2		,
			M3		,
			M4		,
			M5		,
			M6		,
			M7		,
			M8		,
			M9		,
			M10		,
			M11		,
			M12		
	FROM	AUX_GRAFICO_CART (NOLOCK)

-- 4o Momento (91d) - % inadimpl	P4	*************************** -- LIMPA ANTERIOR   SP_HELP AUX_GRAFICO_CART  12M
TRUNCATE TABLE   AUX_GRAFICO_CART

	SET		@query = ' INSERT	AUX_GRAFICO_CART  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''20160101'' AS DT_FECHA,''1'' AS ordem_linha,''2016'' AS ANO, P4_PRC_INAD_91D	FROM P123Ger_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (P4_PRC_INAD_91D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	SELECT	@query
EXEC (@query)


-- GRAFICO 12 M ANUAL
INSERT		p123g_ano
SELECT		@ANO,	--	ANO		AS DESCRICAO,
			4,		--	PARC	1+2+3= P4	,
			4,		--	GRAF	,
			M1		,
			M2		,
			M3		,
			M4		,
			M5		,
			M6		,
			M7		,
			M8		,
			M9		,
			M10		,
			M11		,
			M12		
	FROM	AUX_GRAFICO_CART (NOLOCK)

IF	@ANO = DATEPART(YY,GETDATE()) 
BEGIN
	IF   DATEPART(MM,GETDATE())=9	-- SET
		 BEGIN
			UPDATE p123g_ano SET	M9=NULL, M8=NULL, M7=NULL, M6=NULL WHERE ANO = @ANO AND PARC=2
		 END
END

-- SELECT GETDATE()
END
GO


--	WHERE	ANO IN ( @ANO, @ANO_ANT, @ANO2)	FROM	P123GER_RPT 	(NOLOCK) 	where 	dt_fecha = @DTREF 	AND	PARC = @PARCELA	AND	GRAF = @GRAF
-- SELECT * FROM  P123Ger_MES
-- SELECT * FROM  P123GER_RPT
-- SELECT * FROM  p123g_ano (nolock)