
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*

DROP TABLE SCR_SCORE_MES

DROP   TABLE SCORE_MES
CREATE TABLE SCORE_MES (
DT_REF		smalldatetime	,
DT_FECHA	smalldatetime	,
ORDEM		INT,
DESCR		varchar(100),	-- SCORE
QTDE		INT,
VLR_OP		FLOAT,
TTL_QTDE	INT,
TTL_VLR_OP	FLOAT,

PRC_PROD	float,
VLR_OVER90	FLOAT,
PRC_OVER90	float)

CREATE INDEX SCORE_MES_IDX1 ON SCORE_MES (DT_REF,DT_FECHA,ORDEM)


 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2016-01-31','20160531'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2016-02-29','20160531'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2016-03-31','20160531'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2016-04-30','20160531'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2016-05-31','20160531'
--
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2015-12-31','20160531'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2015-11-30','20160531'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2015-10-31','20160531'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2015-09-30','20160531'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2015-08-31','20160531'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2015-07-31','20160531'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2015-06-30','20160531'

 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2015-05-31','20160531'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2015-04-30','20160531'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2015-03-31','20160531'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2015-02-28','20160531'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2015-01-31','20160531'

--
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2014-01-31'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2014-02-28'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2014-03-31'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2014-04-30'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2014-05-30'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2014-06-30'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2014-07-31'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2014-08-31'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2014-09-30'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2014-10-31'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2014-11-30'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2014-12-31'

 EXEC [PRC_P123GER_SCORE_CALC1M] '20150131'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2015-01-31'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2015-02-28'
 EXEC [dbo].[PRC_P123GER_SCORE_CALC1M] '2015-03-31'

select * from CML_PRODUCAO_OPE WHERE DT_FECHA ='20150331' ORDER BY ORDEM

select * from COMERCIAL_PRODUCAO WHERE PRODUTO IN ('CG','CP')

SP_HELP CML_PRODUCAO_OPE

select * from TRISCO 
ALTER TABLE TRISCO ADD DESCR_RISCO VARCHAR(200)
ALTER TABLE TRISCO ADD ORDEM INT

UPDATE TRISCO SET DESCR_RISCO = CONVERT(VARCHAR(10),SCORE_DE)+' A '+CONVERT(VARCHAR(10),SCORE_ATE)+' - '+RISCO

select * from TRISCO (NOLOCK) ORDER BY DESCR_RISCO
UPDATE TRISCO SET ORDEM = 1 WHERE CODIGO=7
UPDATE TRISCO SET ORDEM = 2 WHERE CODIGO=1
UPDATE TRISCO SET ORDEM = 3 WHERE CODIGO=3
UPDATE TRISCO SET ORDEM = 4 WHERE CODIGO=2
UPDATE TRISCO SET ORDEM = 5 WHERE CODIGO=4
UPDATE TRISCO SET ORDEM = 6 WHERE CODIGO=6
UPDATE TRISCO SET ORDEM = 7 WHERE CODIGO=5




*/


use SIG
go


/*

DROP TABLE CML_PRODUCAO_OPE
SP_HELP CML_PRODUCAO_OPE

DROP   TABLE SCR_OVER90

DROP   TABLE SCORE_OVER90
CREATE TABLE SCORE_OVER90
	(	
		DT_FECHA		SMALLDATETIME,
--		PRODUTO			VARCHAR(10),
		CONTRATO		VARCHAR(30),
		DATA_CONTRATO	DATETIME,
		PARCELA_ABERTO	INT,
		ATRASO			INT,
		VENCIMENTO		DATETIME,
		SCORE			INT,
		VLR_FINANCIADO			float,
		DATA_PAGAMENTO	DATETIME
	)
CREATE INDEX SCORE_OVER90_IDX1 ON SCORE_OVER90 (DT_FECHA,CONTRATO)

SELECT *	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA = '20160531'   -- MES ATUAL
AND PRODUTO='V' AND VLR_OP >0.0

SELECT *	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA = '20160331'   -- MES ATUAL
AND PRODUTO='V' AND VLR_OP >0.0

*/


-- PROC CALCULO  PRC_P123GER_SCORE_CALC1M ********************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_P123GER_SCORE_CALC1M' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_P123GER_SCORE_CALC1M]
GO


CREATE PROCEDURE [dbo].[PRC_P123GER_SCORE_CALC1M] (@data_ref AS DATETIME, @dataREF_ATE AS DATETIME) AS
BEGIN


DECLARE @data_INI AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

/*
-- LIMPA O ATRASO DO PROCESSAMENTO ANTERIOR
UPDATE	COMERCIAL_PRODUCAO
	SET	ATRASO = 0		-- ATRASO EM DIAS
-- SELECT *	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	WHERE	DT_FECHA = @data_ref  -- MES ATUAL
		AND PRODUTO='V' AND VLR_OP > 0.0
*/

-- DECLARE @data_ref DATETIME SET @data_ref ='20160131' 
DECLARE @DT90D   DATETIME 
SET		@DT90D = CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' 
 -- PGTOS CONSIDERADOS ATEH
SET		@DT90D = DATEADD(MM,+5,@DT90D)    -- 5M DEPOIS VENCTOS 90D APOS AS P1 OK! 4M DESDE A SAFRA DE PROD=DIG
--  SELECT  @DT90D
SET		@DT90D = DATEADD(DD,-1,@DT90D)		-- FIM mes , +90 DIAS DO 1o VCTO (1 MES DEPOIS DO FIM DA SAFRA)
--  SELECT  @DT90D  -- MAI


/*
DECLARE @DT90D   DATETIME 
SET		@DT90D = CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' 
 -- PGTOS CONSIDERADOS ATEH
SET		@DT90D = DATEADD(M,+4,@data_ref)   -- 6M DEPOIS VENCTOS 90D APOS AS P123
SET		@DT90D = DATEADD(DD,-1,@DT90D)		-- FIM mes , +90 DIAS DO 1o VCTO (1 MES DEPOIS DO FIM DA SAFRA)


DECLARE @DT90D	DATETIME   -- @DTM2
SET @DT90D  =  CONVERT(CHAR(4),DATEPART(YEAR,@data_SAFRA))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_SAFRA))),2)+'01'  -- INICIO DO MES SAFRA
SET	@DT90D =  DATEADD(M,+4,@DT90D) -- + 4 MESES
SET	@DT90D =  DATEADD(DD,-1,@DT90D) -- FIM mes , +90 DIAS DO 1o VCTO (1 MES DEPOIS DO FIM DA SAFRA)


DECLARE @data_VCT   DATETIME 
SET		@data_VCT =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' 
 -- VENCTOS ATEH A P3 . P123 
SET		@data_VCT =DATEADD(M,+4,@data_ref))  -- 6M DEPOIS VENCTOS 90D APOS AS P123

*/

-- DECLARE @DTREF AS VARCHAR(8) SET @DTREF = CONVERT(varchar(8),@data_ref,112)
/*
DECLARE @dataREF_DE   DATETIME 
DECLARE @dataREF_ATE  DATETIME
SET		@dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'  -- INICIO DO MES SAFRA

SET		@dataREF_ATE  =@data_ref


DECLARE @PROD AS FLOAT 
SET		@PROD = (SELECT 	SUM(VLR_OP)	
					FROM	COMERCIAL_PRODUCAO (NOLOCK) 
					WHERE	DT_FECHA BETWEEN @data_DE AND @data_ATE  
						AND PRODUTO = 'V' AND VLR_OP>0.0)

use sig

SELECT * FROM P123_HISTORICO	R1 (NOLOCK) where dt_fecha='20160131'
-- P1
DtVencPARC DT_PAGTO
-- P2
P2VCTO	P2PGTO
-- P3
P3VCTO	P3PGTO
*/
-- CONTRATOS PRODUCAO	- LIMPA  *****************
TRUNCATE TABLE TAUX_CONTRATO2
-- SELECT * FROM TAUX_CONTRATO2 (NOLOCK)

INSERT		TAUX_CONTRATO2 (CONTRATO,DATA_CONTRATO,PLANO,COD_CLI, COD_AGENTE,MODELO,VLR_FINANCIADO)
-- DECLARE @data_DE  datetime DECLARE @data_ATE  datetime SET @data_DE='20160101' SET @data_ATE='20160131'  DECLARE @DATA_REF AS VARCHAR(8) SET @DATA_REF = '20160531' DECLARE @dataREF_DE   DATETIME DECLARE @dataREF_ATE  DATETIME SET  @dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' SET  @dataREF_ATE  =@data_ref
	SELECT	DISTINCT C.NUM_OPE,
			C.DT_BASE, C.PLANO,
			C.CODCLI,
			C.AGENTE, C.SCORE, C.VLR_OP
-- DECLARE @data_DE  datetime DECLARE @data_ATE  datetime SET @data_DE='20160101' SET @data_ATE='20160131'  DECLARE @DATA_REF AS VARCHAR(8) SET @DATA_REF = '20160531' DECLARE @dataREF_DE   DATETIME DECLARE @dataREF_ATE  DATETIME SET  @dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' SET  @dataREF_ATE  =@data_ref SELECT *
	FROM	(SELECT		C1.*	FROM COMERCIAL_PRODUCAO  C1 (NOLOCK) 
				WHERE	C1.DT_FECHA = @data_ref --BETWEEN @data_DE AND @data_ATE  -- DT_BASE ??
					AND C1.PRODUTO  = 'V' AND C1.VLR_OP>0.0) AS C

/*		-- ajusta o SCORE
UPDATE		COMERCIAL_PRODUCAO
			SET		SCORE = isnull((select  PPSCORING  
						from CDCSANTANAMicroCredito..coper  (NOLOCK),
								PROPWEBSMC..cprop  (NOLOCK)
						where OPNRPROP = PPNRPROP  and OPNROPER= COMERCIAL_PRODUCAO.NUM_OPE 
							and OPDTBASE >= '2014-01-01' 		),0) --AS VEIC
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= '20150930'  -- set com pb
				AND COMERCIAL_PRODUCAO.PRODUTO  = 'V'			  and vlr_op >0.0	
and isnull(COMERCIAL_PRODUCAO.score ,0) =0
*/

-- DECLARE @data_ATE DATETIME SET @data_ATE ='20160131' DECLARE @DT90D DATETIME
DECLARE @DT_VENC DATETIME
SET		@DT_VENC = CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' 
SET		@DT_VENC = DATEADD(MM,+2,@DT_VENC)    -- +2 MESES DO INICIO DA PROD
SET		@DT_VENC = DATEADD(DD,-1,@DT_VENC)    -- FIM DO MES DA P1, 1 MES DEPOIS DA PROD
--	SELECT  @DT_VENC, @DT90D
 -- PGTOS CONSIDERADOS ATEH


-- INADIMPLENCIA	- LIMPA  -- VENCIDAS NAO PAGAS 90D *************************
DELETE  SCORE_OVER90 WHERE DT_FECHA=@data_ref

-- ANALITICO DO SCORE OVER 90 INADIMPLENCIA *********** P1
INSERT SCORE_OVER90
--	(	DT_FECHA	SMALLDATETIME,	CONTRATO	VARCHAR(30), DATA_CONTRATO	DATETIME, PARCELA_ABERTO	INT, ATRASO	INT,
--		VENCIMENTO		DATETIME,	SCORE	INT,	VLR_FINANCIADO	float	)
SELECT	@data_ref, NUM_OPE, DT_BASE,
		1,DATEDIFF(DD,DTVENCPARC,@DT90D),
		DtVencPARC , 0, VLR_OP ,DT_PAGTO
-- declare @DT90D datetime set @DT90D='20160531'  declare @data_ref datetime set @data_ref='20160131' select *
	FROM	(SELECT *		FROM P123_HISTORICO	R1 (NOLOCK) 
					WHERE	Dt_fecha=@data_ref
						AND	NUM_OPE		<>''
						AND RENEGOCIADO =0	AND VLR_OP > 0.0) AS P
		-- P1
	WHERE	 
			DtVencPARC  <= @DT90D	-- VENCIDO NAO PAGO  a 90 d, antes @DT_VENC
		AND	(DT_PAGTO IS NULL OR ISNULL(DT_PAGTO,'') > @DT90D)

-- ANALITICO DO SCORE OVER 90 INADIMPLENCIA *********** P2
-- DECLARE @DT90D DATETIME SET @DT90D ='20160131'
SET		@DT90D = DATEADD(DD,+1,@DT90D)		-- INICIO DO MES SEGUINTE
SET		@DT90D = DATEADD(MM,+1,@DT90D)		-- 30D DA P1
SET		@DT90D = DATEADD(DD,-1,@DT90D)		-- FIM mes , +90 DIAS DO 1o VCTO (1 MES DEPOIS DO FIM DA SAFRA)
-- SELECT  @DT90D

-- DECLARE @data_ATE DATETIME SET @data_ATE ='20160131'  DECLARE @DT_VENC DATETIME SET @DT_VENC='20160229'
SET		@DT_VENC = DATEADD(DD,+1,@DT_VENC)    -- INICIO DO MES SEGUINTE
SET		@DT_VENC = DATEADD(MM,+1,@DT_VENC)    -- MES SEGUINTE DA P1  = P2
SET		@DT_VENC = DATEADD(DD,-1,@DT_VENC)    -- FIM DO MES DA P2, 2 MESES DEPOIS DA PROD
--	SELECT  @DT_VENC

/*
-- ANALITICO DO SCORE OVER 90 INADIMPLENCIA *********** P2
SET		@DT90D = DATEADD(DD,-1,@DT90D)		-- FIM mes , +90 DIAS DO 1o VCTO (1 MES DEPOIS DO FIM DA SAFRA)
SET		@DT90D = DATEADD(MM,+2,@DT90D)		-- 90D DA P2
*/

INSERT SCORE_OVER90
--	(	DT_FECHA	SMALLDATETIME,	CONTRATO	VARCHAR(30), DATA_CONTRATO	DATETIME, PARCELA_ABERTO	INT, ATRASO	INT,
--		VENCIMENTO		DATETIME,	SCORE	INT,	VLR_FINANCIADO	float	)
SELECT	@data_ref, NUM_OPE, DT_BASE,
		2,DATEDIFF(DD,P2VCTO,@DT90D),
		P2VCTO , 0, VLR_OP , P2PGTO
	FROM	(SELECT		* 
				FROM	P123_HISTORICO	R1 (NOLOCK) 
				Where	dt_fecha=@data_ref
					AND	NUM_OPE		<>''
					AND RENEGOCIADO =0	AND VLR_OP > 0.0 ) AS P
			-- P2
	WHERE	P2VCTO  <= @DT90D	-- VENCIDO NAO PAGO a 90 d @DT_VENC
		AND	(P2PGTO IS NULL OR ISNULL(P2PGTO,'') > @DT90D)


-- ANALITICO DO SCORE OVER 90 INADIMPLENCIA *********** P3
SET		@DT90D = DATEADD(DD,+1,@DT90D)		-- INICIO DO MES SEGUINTE
SET		@DT90D = DATEADD(MM,+1,@DT90D)		-- 30D DA P2
SET		@DT90D = DATEADD(DD,-1,@DT90D)		-- FIM mes , +90 DIAS DO 1o VCTO (1 MES DEPOIS DO FIM DA SAFRA)

-- DECLARE @data_ATE DATETIME SET @data_ATE ='20160131'  DECLARE @DT_VENC DATETIME SET @DT_VENC='20160331'
SET		@DT_VENC = DATEADD(DD,+1,@DT_VENC)    -- INICIO DO MES SEGUINTE
SET		@DT_VENC = DATEADD(MM,+1,@DT_VENC)    -- MES SEGUINTE DA P2  = P3
SET		@DT_VENC = DATEADD(DD,-1,@DT_VENC)    -- FIM DO MES DA P3, 3 MESES DEPOIS DA PROD
--	SELECT  @DT_VENC
/*
-- ANALITICO DO SCORE OVER 90 INADIMPLENCIA *********** P3
SET		@DT90D = DATEADD(DD,-1,@DT90D)		-- FIM mes , +90 DIAS DO 1o VCTO (1 MES DEPOIS DO FIM DA SAFRA)
SET		@DT90D = DATEADD(MM,+2,@DT90D)		-- 90D DA P2
*/

INSERT SCORE_OVER90
--	(	DT_FECHA	SMALLDATETIME,	CONTRATO	VARCHAR(30), DATA_CONTRATO	DATETIME, PARCELA_ABERTO	INT, ATRASO	INT,
--		VENCIMENTO		DATETIME,	SCORE	INT,	VLR_FINANCIADO	float	)
SELECT	@data_ref, NUM_OPE, DT_BASE,
		3,DATEDIFF(DD,DTVENCPARC,@DT90D),
		P3VCTO , 0, VLR_OP , P3PGTO
	FROM	(SELECT		* 
				FROM	P123_HISTORICO	R1 (NOLOCK) 
				Where	dt_fecha=@data_ref
					AND	NUM_OPE		<>''
					AND RENEGOCIADO =0	AND VLR_OP > 0.0 ) AS P
			-- P3
	WHERE	P3VCTO  <= @DT90D	-- VENCIDO NAO PAGO  @DT_VENC
		AND	(P3PGTO IS NULL OR ISNULL(P3PGTO,'') > @DT90D)



/*
SELECT	@data_ref, NUM_OPE, DT_BASE,
		1,DATEDIFF(DD,DTVENCPARC,@data_ref),
		DTVENCPARC, 0,VLR_OP  -- = VLR OP
	FROM	TAUX_CONTRATO C	 (NOLOCK)
	GROUP BY CONTRATO, DATA_CONTRATO
*/

UPDATE		SCORE_OVER90
	SET		SCORE=C.MODELO	-- ESTAH NO MODELO TEMPORARIO
	FROM	TAUX_CONTRATO2 C	 (NOLOCK)
	 WHERE	DT_FECHA = @data_ref 
		AND SCORE_OVER90.CONTRATO= C.CONTRATO


-- CALCULA O MES
DELETE SCORE_MES WHERE	DT_REF	 = @dataREF_ATE 
					AND	DT_FECHA = @data_ref 		-- PROD 		

-- TTLS DO MES PRODUCAO E RISCO
INSERT	SCORE_MES 
SELECT	@dataREF_ATE ,		--	DT_REF		smalldatetime	,
		@data_ref,			--  DT_FECHA	smalldatetime	,
		ISNULL(R.ORDEM,0),			--	ORDEM		INT,
		ISNULL(R.DESCR_RISCO,''),	--	DESCR		varchar(100),	-- SCORE
		COUNT(CONTRATO),	--	QTDE		INT,
		SUM(VLR_FINANCIADO),--	VLR_OP		FLOAT,
		0.0,				--	TTL_QTDE	INT,
		0.0,				--	TTL_VLR_OP	FLOAT,
		0.0,				--	PRC_QTD		float,
		0.0,				--	VLR_OVER90	FLOAT,
		0.0					--	PRC_OVER90	float)
FROM 	TAUX_CONTRATO2 AS	C	(NOLOCK)
	LEFT JOIN	TRISCO AS	R	(NOLOCK)		-- RISCO
		ON	C.MODELO BETWEEN R.SCORE_DE AND R.SCORE_ATE
GROUP BY 	R.ORDEM,	
			R.DESCR_RISCO

-- TTL DE PRODUCAO DO MES
UPDATE	SCORE_MES
	SET	
		TTL_QTDE    = C.Q,
		TTL_VLR_OP	= C.V ,
		PRC_PROD	= VLR_OP / C.V * 100.0
	FROM	(SELECT COUNT(CONTRATO) AS Q,SUM(VLR_FINANCIADO) AS V FROM TAUX_CONTRATO2 	(NOLOCK) ) AS	C
	WHERE	SCORE_MES.DT_REF	 = @dataREF_ATE		-- REF DO RPT
		AND	SCORE_MES.DT_FECHA   = @data_ref 		-- PROD 		
-- TAUX_CONTRATO2 (CONTRATO,DATA_CONTRATO,PLANO,COD_CLI, COD_AGENTE,MODELO,VLR_FINANCIADO)
-- WHERE DT_REF	= @dataREF_ATE 


-- TTL DE PRODUCAO DO MES
UPDATE	SCORE_MES
	SET	VLR_OVER90  = C.V,
		PRC_OVER90  = C.V / TTL_VLR_OP * 100.0
	FROM	(SELECT		DESCR_RISCO,SUM(VLR_FINANCIADO) AS V 
				FROM	(SELECT		DISTINCT CONTRATO,SCORE,VLR_FINANCIADO
							 FROM	SCORE_OVER90 	(NOLOCK) WHERE DT_FECHA = @data_ref ) AS C1 -- ATRASOS ACIMA DE 90 D
				LEFT JOIN	TRISCO AS	R	(NOLOCK)		-- RISCO
					ON		C1.SCORE BETWEEN R.SCORE_DE AND R.SCORE_ATE
					GROUP BY R.DESCR_RISCO )  AS	C
	WHERE	SCORE_MES.DT_REF	 = @dataREF_ATE		-- REF DO RPT
		AND	SCORE_MES.DT_FECHA = @data_ref 		-- PROD 		
		AND	DESCR	 = DESCR_RISCO 		-- FXS DE RISCO IGUAIS

--GROUP BY P.PANROPER

-- SELECT * FROM 		TAUX_CONTRATO C	 (NOLOCK)
--  SELECT * FROM 		 CdcSantanaMicroCredito..CPARC  P1 (NOLOCK) WHERE PANROPER='612233656'
-- SELECT * FROM 		TAUX_CONTRATO2 C	 (NOLOCK)
/*
SELECT * FROM 		TRISCO C	 (NOLOCK)
SELECT * FROM 		SCR_OVER90 C	 (NOLOCK)
SELECT * FROM 		SCR_SCORE_MES C	 (NOLOCK)
WHERE DT_REF='20160531'


 SELECT * FROM 		SCORE_OVER90 C	 (NOLOCK) WHERE DT_FECHA='20150131'

SELECT DATEADD(DD,-90,'20160531') 
SELECT		P1.*	FROM CdcSantanaMicroCredito..CPARC  P1 (NOLOCK) 
				WHERE	P1.PANROPER IN (SELECT DISTINCT C2.CONTRATO FROM	TAUX_CONTRATO2 C2	 (NOLOCK))
					AND P1.PADTVCTO <= '2016-03-02'  -- VENCIDAS ATEH 90 D ANTES DO FIM DO PERIODO
					AND (P1.PADTLIQ IS NULL OR P1.PADTLIQ >= '20160531' )  -- NAO PAGO , OU PAGO APOS O PERIODO CONSIDERADO
					AND P1.PACNTRL = (SELECT	MAX(P2.PACNTRL) FROM CdcSantanaMicroCredito..CPARC  P2 (NOLOCK)
										WHERE	P2.PANROPER = P1.PANROPER AND P2.PANRPARC = P1.PANRPARC )
	

*/


END
GO
