
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--   EXEC [PRC_Score_13M_CALC] '20160229'

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO
-- erro na select 37
--  select * INTO AUX_SCORE_MES from SCR_SCORE_MES (nolock) WHERE DT_REF='20160531'

-- ************************************************
-- ALTER TABLE SCORE_13M ADD M1 FLOAT
-- ALTER TABLE SCORE_13M ADD DT_REF DATETIME
-- CREATE INDEX SCORE_13M_IDX1 ON SCORE_13M (DT_REF,ORDEM,DESCR)

-- SELECT *  FROM SCR_OVER90 (NOLOCK) 
-- truncate table SCR_OVER90 
-- TRUNCATE TABLE   SCORE_13M  
-- SELECT * FROM    SCORE_13M (NOLOCK)
/*
DROP   TABLE AUX_SCORE_13M
CREATE TABLE AUX_SCORE_13M
(
--		DT_FECHA		datetime,
		ORDEM			INT,
		DESCR			VARCHAR(200),
		M15		FLOAT,
		M14		FLOAT,
		M13		FLOAT,
		M12		FLOAT,
		M11		FLOAT,
		M10		FLOAT,
		M9		FLOAT,
		M8		float,
		M7		float,
		M6		float,
		M5		float,
		M4		float,
		M3		float,
		M2		float
--,		M1		float
	)
CREATE INDEX AUX_SCORE_13M_IDX1 ON AUX_SCORE_13M (ORDEM,DESCR)
*/

/*


--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2015-07-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-01-31'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-02-28'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-03-31'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-04-30'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-05-30'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-06-30'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-07-31'

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-08-31'

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-09-30'

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-10-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-11-30'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-12-31'

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '20150131'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '20150228'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '20150331'

-- prod global
select * from CML_PRODUCAO_ANALISE where dt_fecha='20150131' and rpt=1 and carteira=1 and produto='d'

-- carteira
select * from CML_PRODUCAO_ANALISE where dt_fecha='20150131' and rpt=2 and carteira=2 and produto='d'

-- prod mensal
select * from CML_PRODUCAO_ANALISE where dt_fecha='20150131' and rpt=3 and carteira=3 and produto='d'

select * from rating_historico where dt_fecha='20140530' 
select * from pdd_SEM_veic where dt_fecha='20140531' and nvl_risco<>'hh'
update  pdd_SEM_veic set dt_fecha='20140530' where dt_fecha='20140531'

select * from COMERCIAL_PRODUCAO_MES_AUX
 INSERT AUX_CML_PROD_MEDIA     
SELECT *  FROM (    SELECT DATEPART(YY,DT_FECHA) AS ANO,PRODUTO, 'PV' AS DESCR2, AVG(VLR_PRESENTE) AS VLR_MES FROM  COMERCIAL_PRODUCAO_MES_AUX (NOLOCK)  P    GROUP BY DATEPART(YY,DT_FECHA),PRODUTO    
 ) A  PIVOT( AVG (VLR_MES) FOR ANO IN ([2011],[2012],[2013],[2014] ) ) AS PVT
SELECT * FROM  AUX_CML_PROD_MEDIA     
select DISTINCT RPT,CARTEIRA,PRODUTO from CML_PRODUCAO_ANALISE
DELETE FROM CML_PRODUCAO_ANALISE

select * from CML_PRODUCAO_ANALISE WHERE RPT=1		ORDER BY ORDEM
select * from CML_PRODUCAO_ANALISE WHERE RPT=3 AND PRODUTO='CG' ORDER BY ORDEM
select * from CML_PRODUCAO_ANALISE WHERE RPT=3 AND PRODUTO='V' ORDER BY ORDEM

select * from CML_PRODUCAO_ANALISE WHERE PRODUTO='V' ORDER BY ORDEM

select * from CML_PRODUCAO_ANALISE WHERE PRODUTO='R' ORDER BY ORDEM
select * from COMERCIAL_PRODUCAO WHERE PRODUTO IN ('CG','CP')

 INSERT AUX_CML_PROD_MES 
 SELECT *  FROM (SELECT DT_FECHA,PRODUTO, VLR_PRESENTE FROM COMERCIAL_PRODUCAO_mes (NOLOCK) ) P  PIVOT( SUM (VLR_PRESENTE) FOR DT_FECHA IN ([20140630],[20140531],[20140430],[20140331],[20131231],[20130930],[20130630],[20130531],[20121231],[20120930],[20120630],[20120531]) ) AS PVT

		SELECT DT_FECHA,  PRODUTO, QTDE, VLR_PRESENTE, VLR_FUTURO FROM COMERCIAL_CARTEIRA_MES 
			WHERE DT_FECHA <= '20140630'
			  AND DATEPART(YY,DT_FECHA) >= '2011'  -- MEDIA DE 4 ANOS
			  AND PRODUTO IS NOT NULL


2 TABELA AUXILIAR MENSAL TTL  PRODUCAO E CARTEIRA
		COM A DT_FECHA, PRODUTO, PRODUCAO,  PLANO MEDIO, TAXA MÉDIA, QTDE, TKT MEDIO, PROD PV, TKT PV, ANO, FIPE, SCORE, QTDE, TKT_X_OP, CED_CLI, CED, QTD_CED, CED_CLI, TARIFA, TC, 

*/

use SIG
go


/*


USE SIG




-- ************************************************

SELECT * FROM SCORE_13M (NOLOCK)

EXEC [PRC_Score_13M_CALC] '20160131'

*/

-- SELECT * FROM RR_ROLLRATE WHERE RATING='HH'
-- SELECT * FROM RATING_HISTORICO WHERE NVL_RISCO='HH'


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_Score_13M_CALC' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_Score_13M_CALC]
GO


CREATE Procedure [dbo].[PRC_Score_13M_CALC] (@data_ref as datetime) AS
BEGIN





DECLARE @data_INI AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

-- APAGA PROCESSAMENTO ANTERIOR
delete  from AUX_SCORE_13M
	--WHERE	 DT_FECHA = @data_ref
-- faltou COR_LINHA

-- ANALISE COM GRAFICO POR PRODUTO E OPERADOR


--	DECLARE @data_ref as datetime SET @data_ref='20151231'

	--  13 MESES				-- MEDIA
	DECLARE @M1  AS DATETIME	-- DT REF	
	DECLARE @M2  AS DATETIME
	DECLARE @M3  AS DATETIME
	DECLARE @M4  AS DATETIME
	DECLARE @M5  AS DATETIME
	DECLARE @M6  AS DATETIME
	DECLARE @M7  AS DATETIME
	DECLARE @M8  AS DATETIME
	DECLARE @M9  AS DATETIME
	DECLARE @M10  AS DATETIME
	DECLARE @M11  AS DATETIME
	DECLARE @M12  AS DATETIME
	DECLARE @M13  AS DATETIME
	DECLARE @M14  AS DATETIME
	DECLARE @M15  AS DATETIME

		-- MES  DE FECHAMENTO
		SET		@M1 = @data_ref

		-- MES ANTERIOR AO DO FECHAMENTO
		SET		@M2 = CONVERT(CHAR(4),DATEPART(YEAR,@M1))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M1))),2)+'01'
		SET		@M2 = DATEADD(DD,-1,@M2)
		--		SELECT @M1, @m2

		set		@M3 = CONVERT(CHAR(4),DATEPART(YEAR,@M2))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M2))),2)+'01'
		SET		@M3=DATEADD(DD,-1,@M3)
		--		SELECT @M1, @M2,@M3

		set  @M4 = CONVERT(CHAR(4),DATEPART(YEAR,@M3))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M3))),2)+'01'
		SET	 @M4=DATEADD(DD,-1,@M4)
		--		  SELECT @M4

	set  @M5 = CONVERT(CHAR(4),DATEPART(YEAR,@M4))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M4))),2)+'01'
	SET	 @M5 = DATEADD(DD,-1,@M5)
	--		 	SELECT @M5

	set  @M6 = CONVERT(CHAR(4),DATEPART(YEAR,@M5))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M5))),2)+'01'
	SET	 @M6 = DATEADD(DD,-1,@M6)

	set  @M7 = CONVERT(CHAR(4),DATEPART(YEAR,@M6))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M6))),2)+'01'
	SET	 @M7 = DATEADD(DD,-1,@M7)

	set  @M8 = CONVERT(CHAR(4),DATEPART(YEAR,@M7))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M7))),2)+'01'
	SET	 @M8 = DATEADD(DD,-1,@M8)

	set  @M9 = CONVERT(CHAR(4),DATEPART(YEAR,@M8))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M8))),2)+'01'
	SET	 @M9 = DATEADD(DD,-1,@M9)

	set		@M10 = CONVERT(CHAR(4),DATEPART(YEAR,@M9))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M9))),2)+'01'
	SET		@M10 = DATEADD(DD,-1,@M10)
	--			SELECT	@M10

	set		@M11 = CONVERT(CHAR(4),DATEPART(YEAR,@M10))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M10))),2)+'01'
	SET		@M11 = DATEADD(DD,-1,@M11)
	--			SELECT	@M11 

	set		@M12 = CONVERT(CHAR(4),DATEPART(YEAR,@M11))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M11))),2)+'01'
	SET		@M12 = DATEADD(DD,-1,@M12)

	set		@M13 = CONVERT(CHAR(4),DATEPART(YEAR,@M12))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M12))),2)+'01'
	SET		@M13 = DATEADD(DD,-1,@M13)

	set		@M14 = CONVERT(CHAR(4),DATEPART(YEAR,@M13))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M13))),2)+'01'
	SET		@M14 = DATEADD(DD,-1,@M14)


		--		VARIAVEIS PARA COMPOR OS 13 MESES 
		DECLARE @columns VARCHAR(200)
		SET		@columns = '['+CONVERT(VARCHAR(8),@M14,112)+']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M13 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M12 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M11 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M10 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M9 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M8 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M7 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M6 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M5 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M4 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M3 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M2 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M1 ,112)  + ']'


		--		SELECT  @columns



-- CARREGA TABELA AUXILIAR
-- SP_HELP CML_PRODUCAO_MES
-- SELECT * FROM  CML_PRODUCAO_MES
/*
SELECT * FROM COMERCIAL_PRODUCAO_MES 

SELECT PRODUTO,AGENTE,SUM(VLR_PRESENTE) FROM COMERCIAL_PRODUCAO WHERE DT_FECHA ='20150131' GROUP BY PRODUTO,AGENTE

select * from AUX_CML_OPER_MES (nolock)
SELECT * 
					  FROM (SELECT DT_FECHA,PRODUTO,AGENTE, (VLR_PRESENTE)	FROM COMERCIAL_PRODUCAO (NOLOCK) ) P 
					  PIVOT( SUM (VLR_PRESENTE) FOR DT_FECHA IN ("20150131") ) AS PVT
*/
TRUNCATE TABLE     AUX_SCORE_13M
-- auxiliar no mes de REF com as 13 Producoes
TRUNCATE	TABLE AUX_SCORE_MES
INSERT		AUX_SCORE_MES
	SELECT	* FROM SCORE_MES (nolock) WHERE DT_REF=@data_ref --'20160531'

-- ******************************************************************** VALOR LIBERADO COM QUEBRA
DECLARE @query VARCHAR(max)
--	DESCR 1 E 2
--	cart, ordem, prod, 

-- LINHA 1 TTL PRODUCAO
-- ************************************************** CARREGA AUXILIAR
-- POR AGENTE EXCETO CP E R
-- ULTIMOS 13 MESES  VLR LIBERADO (ANTES DAS TARIFAS)
-- select * from SCR_SCORE_MES (nolock)		select * from AUX_SCORE_MES (nolock)	select * from AUX_SCORE_13M (nolock)	
--  select * INTO AUX_SCORE_MES from SCR_SCORE_MES (nolock) WHERE DT_REF='20160531'

	SET		@query = ' INSERT	AUX_SCORE_13M  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,0 AS ORDEM ,''PRODUCAO'' AS DESCR, VLR_OP	FROM AUX_SCORE_MES (NOLOCK)  ) P '+
					 ' PIVOT( SUM (VLR_OP) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'


--	select  @query

EXEC (@query)


-- LINHA 2 % PERC PROD
-- ************************************************** CARREGA AUXILIAR
-- POR AGENTE EXCETO CP E R
-- ULTIMOS 13 MESES  VLR LIBERADO (ANTES DAS TARIFAS)
-- select * from SCR_SCORE_MES (nolock)		 select * from AUX_SCORE_MES (nolock)
--  select * INTO AUX_SCORE_MES from SCR_SCORE_MES (nolock) WHERE DT_REF='20160531'

	SET		@query = ' INSERT	AUX_SCORE_13M  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,10+ORDEM AS ORDEM,DESCR, PRC_PROD	FROM AUX_SCORE_MES (NOLOCK)  ) P '+
--					 ' FROM (SELECT DT_FECHA,DESCR, PRC_PROD	FROM AUX_SCORE_MES (NOLOCK)  ) P '+
					 ' PIVOT( MAX (PRC_PROD) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'


-- select  @query

EXEC (@query)

---- ********************************

-- LINHA 3 % PERC 90 D
-- ************************************************** CARREGA AUXILIAR
-- POR AGENTE EXCETO CP E R
-- ULTIMOS 13 MESES  VLR LIBERADO (ANTES DAS TARIFAS)
-- select * from SCR_SCORE_MES (nolock)
--  select * INTO AUX_SCORE_MES from SCR_SCORE_MES (nolock) WHERE DT_REF='20160531'
-- select * from AUX_SCORE_MES (nolock)

	SET		@query = ' INSERT	AUX_SCORE_13M  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,20+ORDEM AS ORDEM,DESCR, PRC_OVER90	FROM AUX_SCORE_MES (NOLOCK)  ) P '+
--					 ' FROM (SELECT DT_FECHA,DESCR, PRC_OVER90	FROM AUX_SCORE_MES (NOLOCK)  ) P '+
					 ' PIVOT( MAX (PRC_OVER90) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'


-- select  @query

EXEC (@query)

-- SELECT *  INTO SCORE_13M FROM AUX_SCORE_13M (NOLOCK) 
-- SELECT *  FROM SCORE_13M (NOLOCK) 
-- ALTER TABLE SCORE_13M ADD M1 FLOAT
-- SELECT *  FROM SCR_OVER90 (NOLOCK) 
-- truncate table SCR_OVER90 

/*
SELECT DT_FECHA,SUM(VLR_OP),AVG(TTL_VLR_OP), SUM(VLR_OVER90), SUM(VLR_OVER90)/AVG(TTL_VLR_OP)*100.0 AS PRC
				FROM		SCORE_MES (nolock) 
				WHERE		DT_REF='20160229'
GROUP BY DT_FECHA
*/
-- ************************************************** CARREGA AUXILIAR OVER DA SAFRA
	SET		@query = ' INSERT	AUX_SCORE_13M  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,30 AS ORDEM,''OVER DA SAFRA'' AS DESCR, VLR_OVER90	FROM AUX_SCORE_MES (NOLOCK)  ) P '+
					 ' PIVOT( SUM(VLR_OVER90)  FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
-- select  @query
EXEC (@query)



-- TRUNCATE TABLE   SCORE_13M  
-- SELECT * FROM    SCORE_13M (NOLOCK)
-- ALTER TABLE SCORE_13M ADD DT_REF DATETIME
DELETE FROM   SCORE_13M    WHERE DT_REF=@data_ref 

INSERT		SCORE_13M
	SELECT	*, 0.0,@data_ref  FROM AUX_SCORE_13M (NOLOCK) 


-- MEDIA DA PRODUCAO  no periodo
UPDATE	SCORE_13M
	SET	M1 = S.V
FROM	(SELECT		AVG(TTL_VLR_OP) AS V --AVG(VLR_OP) AS V 
			FROM	SCORE_MES (nolock) 
			WHERE	DT_REF=@data_ref  -- NA DATA DE REF CONTEM AS PRODUCOES NECESSARIAS
		--FROM AUX_SCORE_MES AS S1 (NOLOCK)	
			) AS S	-- CONTEM SOMENTE O PERIODO DE 13M
  WHERE		SCORE_13M.DT_REF = @data_ref	AND	
			SCORE_13M.DESCR  = 'PRODUCAO' 

-- MEDIA DO PRC PRODUCAO  no periodo
UPDATE		SCORE_13M
	SET		M1 = S.V
	FROM	(SELECT			DESCR, ORDEM, AVG(PRC_PROD) AS V 
				FROM		SCORE_MES (nolock) 
				WHERE		DT_REF=@data_ref  -- NA DATA DE REF CONTEM AS PRODUCOES NECESSARIAS
				GROUP BY	DESCR, ORDEM	) AS S	-- CONTEM SOMENTE O PERIODO DE 13M
	WHERE	SCORE_13M.DT_REF = @data_ref 		AND	
			SCORE_13M.DESCR  = S.DESCR
		AND	SCORE_13M.ORDEM  = S.ORDEM + 10

-- MEDIA DO  PRC_OVER90  no periodo
UPDATE		SCORE_13M
	SET		M1 = S.V
	FROM	(SELECT			DESCR, ORDEM, AVG(PRC_OVER90) AS V 
				--FROM		AUX_SCORE_MES S1 (NOLOCK)
				FROM		SCORE_MES (nolock) 
				WHERE		DT_REF=@data_ref  -- NA DATA DE REF CONTEM AS PRODUCOES NECESSARIAS
				GROUP BY	DESCR, ORDEM	) AS S	-- CONTEM SOMENTE O PERIODO DE 13M
	WHERE	SCORE_13M.DT_REF = @data_ref 		AND	
			SCORE_13M.DESCR  = S.DESCR
		AND	SCORE_13M.ORDEM  = S.ORDEM + 20


---- ********************************
/*
SELECT *				FROM		SCR_SCORE_MES (nolock) 
				WHERE		DT_REF='20160531'

SELECT			DESCR, ORDEM, AVG(PRC_OVER90) AS V , AVG(VLR_OP) AS PROD
				--FROM		AUX_SCORE_MES S1 (NOLOCK)
				FROM		SCR_SCORE_MES (nolock) 
				WHERE		DT_REF='20160531'  -- NA DATA DE REF CONTEM AS PRODUCOES NECESSARIAS
				GROUP BY	DESCR, ORDEM

6601680,32
SELECT	AVG(TTL_VLR_OP) AS PROD
				--FROM		AUX_SCORE_MES S1 (NOLOCK)
				FROM		SCR_SCORE_MES (nolock) 
				WHERE		DT_REF='20160531'  -- NA DATA DE REF CONTEM AS PRODUCOES NECESSARIAS

SELECT	* --		AVG(VLR_OP) AS PROD
				--FROM		AUX_SCORE_MES S1 (NOLOCK)
				FROM		SCR_SCORE_MES (nolock) 
				WHERE		DT_REF='20160531'  -- NA DATA DE REF CONTEM AS PRODUCOES NECESSARIAS

DELETE SCR_SCORE_13M  WHERE DT_REF = @data_ref
-- select * from AUX_SCORE_13M (nolock)
INSERT SCR_SCORE_13M 
	SELECT			@data_ref,	
					DESCR,
					m15,
					m14,
					m13,
					m12,
					m11,
					m10,
					m9,
					m8,
					m7,
					m6,
					m5,
					m4,
					m3,
					m2,
					0.0 AS m1,			
					ORDEM
	FROM AUX_SCORE_13M (NOLOCK) 
	ORDER BY ORDEM
*/

-- MEDIA DA PRODUCAO
/*
UPDATE	SCR_SCORE_13M
	SET	M1 = (M15 + M14 + M13 + M12 + M11 + M10 + M9 + M8 + M7 + M6 + M5 + M4 + M3 + M2 )/ 14.0
  WHERE DT_REF = @data_ref
	AND	DESCR  = 'PRODUCAO' 


			 CASE 
					WHEN M15 = NULL AND M14 = NULL AND  M13 = NULL AND  M12 = NULL AND  M11 = NULL AND  M10 = NULL AND  M9 = NULL AND  M8 = NULL AND  M7 = NULL AND  M6 = NULL AND  M5 = NULL AND  M4 = NULL AND  M3 = NULL AND  M2= NULL THEN 0
					WHEN M15 = NULL AND M14 = NULL AND  M13 = NULL AND  M12 = NULL AND  M11 = NULL AND  M10 = NULL AND  M9 = NULL AND  M8 = NULL AND  M7 = NULL AND  M6 = NULL AND  M5 = NULL AND  M4 = NULL AND  M3 = NULL AND  M2= NULL THEN 0

SELECT AVG(3.47,2.25,3.75,3.02)

UPDATE	SCR_SCORE_13M
	SET	M1 =		CASE WHEN P.Q =0.0 THEN 0.0 ELSE P.V/P.Q END
	FROM 	(SELECT		COUNT(ISNULL(VLR_OP,0.0))	AS Q, SUM(ISNULL(VLR_OP,0.0))	AS V	-- SELECT * 
						FROM	SCR_SCORE_MES (NOLOCK) WHERE DT_REF=@data_ref  AND DT_FECHA BETWEEN @M1 AND @M14 ) AS P
  WHERE DT_REF = @data_ref
	AND	DESCR  = 'PRODUCAO' 

-- MEDIA DA PRODUCAO
UPDATE	SCR_SCORE_13M
	SET	M1 =		CASE WHEN P.Q =0.0 THEN 0.0 ELSE P.V/P.Q END
	FROM 	(SELECT		ORDEM,DESCR,COUNT(ISNULL(VLR_OP,0.0))	AS Q, SUM(ISNULL(VLR_OP,0.0))	AS V	-- SELECT * 
						FROM	SCR_SCORE_MES (NOLOCK) WHERE DT_REF=@data_ref  AND DT_FECHA BETWEEN @M1 AND @M14
						GROUP BY ORDEM,DESCR ) AS P
  WHERE DT_REF = @data_ref
	AND	DESCR  = 'PRODUCAO' 

*/
-- SELECT * FROM AUX_SCORE_13M (NOLOCK)
-- SELECT * FROM SCORE_13M (NOLOCK)


-- MEDIA DA PRODUCAO  no periodo
-- DECLARE @data_ref DATETIME SET @data_ref ='20160229'
UPDATE	SCORE_13M
	SET	SCORE_13M.M1 = SCORE_13M.M1 / S.M1 * 100.0,
		SCORE_13M.M2 = SCORE_13M.M2 / S.M2 * 100.0,
		SCORE_13M.M3 = SCORE_13M.M3 / S.M3 * 100.0,
		SCORE_13M.M4 = SCORE_13M.M4 / S.M4 * 100.0,
		SCORE_13M.M5 = SCORE_13M.M5 / S.M5 * 100.0,
		SCORE_13M.M6 = SCORE_13M.M6 / S.M6 * 100.0,
		SCORE_13M.M7 = SCORE_13M.M7 / S.M7 * 100.0,
		SCORE_13M.M8 = SCORE_13M.M8 / S.M8 * 100.0,
		SCORE_13M.M9 = SCORE_13M.M9 / S.M9 * 100.0,
		SCORE_13M.M10 = SCORE_13M.M10 / S.M10 * 100.0,
		SCORE_13M.M11 = SCORE_13M.M11 / S.M11 * 100.0,
		SCORE_13M.M12 = SCORE_13M.M12 / S.M12 * 100.0,
		SCORE_13M.M13 = SCORE_13M.M13 / S.M13 * 100.0,
		SCORE_13M.M14 = SCORE_13M.M14 / S.M14 * 100.0,
		SCORE_13M.M15 = SCORE_13M.M15 / S.M15 * 100.0
FROM	(SELECT		*
			FROM	SCORE_13M S1 (nolock) 
			WHERE	S1.DT_REF=@data_ref  -- NA DATA DE REF CONTEM AS PRODUCOES NECESSARIAS
				AND S1.DESCR  = 'PRODUCAO' AND S1.ORDEM=0 				
			) AS S	-- CONTEM SOMENTE O PERIODO DE 13M	************	PRODUCAO
  WHERE		SCORE_13M.DT_REF = @data_ref	AND	
			SCORE_13M.ORDEM  = 30		-- OVER DA SAFRA CALCULAR ATRASO/TTL PRODUCAO


-- MEDIA DO  PRC_OVER90  LINHA TTL 30
UPDATE		SCORE_13M
	SET		M1 = S.MEDIA
	FROM	(SELECT		AVG(S1.V) AS MEDIA  -- MEDIA DO % INADIMPL OVER 90
	FROM	(SELECT			DT_FECHA,SUM(VLR_OVER90)/AVG(TTL_VLR_OP)*100.0  AS V 
				FROM		SCORE_MES (nolock) 
				WHERE		DT_REF=@data_ref  -- NA DATA DE REF CONTEM AS PRODUCOES NECESSARIAS
				GROUP BY	DT_FECHA	) AS S1	-- CONTEM SOMENTE O PERIODO DE 13M
			) AS S
	WHERE	SCORE_13M.DT_REF = @data_ref
		AND	SCORE_13M.ORDEM  = 30
-- 		AND	SCORE_13M.DESCR  = S.DESCR

-- ZERAR OS % PRC NAO FECHADOS **********************
/*
DECLARE @PDD DATETIME
SET		@PDD = (SELECT MAX(DT_FECHA) FROM RATING_HISTORICO (NOLOCK)   )
-- WHERE DT_FECHA <= @data_ref
-- MESES AINDA NAO FECHADOS
IF  @data_ref < @PDD	AND DATEDIFF (MM, @data_ref, @PDD ) < 1
	UPDATE		SCORE_13M
		SET		M1 = S.MEDIA
		WHERE	SCORE_13M.DT_REF = @data_ref
*/

/*
SELECT DATEDIFF (MM , '20160531', '20160731')
delete from SCORE_13M where dt_ref is null
select * from SCORE_13M (nolock) WHER
SELECT AVG(S.V)
FROM (SELECT			DT_FECHA,SUM(VLR_OVER90)/AVG(TTL_VLR_OP)*100.0 AS V 
				--FROM		AUX_SCORE_MES S1 (NOLOCK)
				FROM		SCORE_MES (nolock) 
				WHERE		DT_REF='20160229'  -- NA DATA DE REF CONTEM AS PRODUCOES NECESSARIAS
				GROUP BY	DT_FECHA ) AS S
*/
END
GO