/****** Object:  StoredProcedure [dbo].[Scr_Score_prod]    Script Date: 16/05/2016 17:35:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
go


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'Scr_Score_prod' AND type = 'P')
   DROP PROCEDURE [dbo].[Scr_Score_prod]
GO

-- Scr_Score_prod '20160131','20160131','20160430'

CREATE Procedure [dbo].[Scr_Score_prod] (@data_DE as datetime, @data_ATE as datetime,  @data_ref as datetime) AS
BEGIN

-- DECLARE @DTREF AS VARCHAR(8) SET @DTREF = CONVERT(varchar(8),@data_ref,112)
/*
CREATE TABLE SCORE_PROD_1M  (
RISCO	VARCHAR(200) ,
QTDE	INT,
VLR_FINANC	FLOAT,
PRC		FLOAT,
PRC_90D	FLOAT,
VLR_90D	FLOAT)
*/

DECLARE @dataREF_DE   DATETIME 
DECLARE @dataREF_ATE  DATETIME
SET  @dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'  -- INICIO DO MES SAFRA

SET  @dataREF_ATE  =@data_ATE

-- DECLARE @data_ATE DATETIME SET @data_ATE ='20160131' 
DECLARE @DT90D   DATETIME 
SET		@DT90D = CONVERT(CHAR(4),DATEPART(YEAR,@data_ATE))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ATE))),2)+'01' 
 -- PGTOS CONSIDERADOS ATEH
SET		@DT90D = DATEADD(MM,+5,@DT90D)    -- 5M DEPOIS VENCTOS 90D APOS AS P1 OK! 4M DA SAFRA = 90D  EH CRITERIO DO P123 DO DIG
--  SELECT  @DT90D
SET		@DT90D = DATEADD(DD,-1,@DT90D)		-- FIM mes , +90 DIAS DO 1o VCTO (1 MES DEPOIS DO FIM DA SAFRA)
--  SELECT  @DT90D		-- MAI

SET		@data_ref =  @DT90D

DECLARE @PROD AS FLOAT 
SET		@PROD = (SELECT 	SUM(VLR_OP)	
					FROM	COMERCIAL_PRODUCAO (NOLOCK) 
					WHERE	DT_FECHA BETWEEN @data_DE AND @data_ATE  
						AND PRODUTO = 'V' AND VLR_OP>0.0)

-- CONTRATOS PRODUCAO	- LIMPA  *****************
TRUNCATE TABLE TAUX_CONTRATO2
-- SELECT * FROM TAUX_CONTRATO2 (NOLOCK)

INSERT		TAUX_CONTRATO2 (CONTRATO,DATA_CONTRATO,PLANO,COD_CLI, COD_AGENTE,MODELO,VLR_FINANCIADO)
-- DECLARE @data_DE  datetime DECLARE @data_ATE  datetime SET @data_DE='20160101' SET @data_ATE='20160131'  DECLARE @DATA_REF AS VARCHAR(8) SET @DATA_REF = '20160531' DECLARE @dataREF_DE   DATETIME DECLARE @dataREF_ATE  DATETIME SET  @dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' SET  @dataREF_ATE  =@data_ref
	SELECT	DISTINCT C.NUM_OPE,
			C.DT_BASE, C.PLANO,
			C.CODCLI,
			C.AGENTE, C.SCORE, C.VLR_OP
-- DECLARE @data_DE  datetime DECLARE @data_ATE  datetime SET @data_DE='20160101' SET @data_ATE='20160131'  DECLARE @DATA_REF AS VARCHAR(8) SET @DATA_REF = '20160531' DECLARE @dataREF_DE   DATETIME DECLARE @dataREF_ATE  DATETIME SET  @dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' SET  @dataREF_ATE  =@data_ref SELECT *
	FROM	(SELECT		C1.*	FROM COMERCIAL_PRODUCAO  C1 (NOLOCK) 
				WHERE	C1.DT_FECHA BETWEEN @data_DE AND @data_ATE  -- DT_BASE ??
					AND C1.PRODUTO = 'V' AND C1.VLR_OP>0.0) AS C
/*
Risco	QTDE	vlr_financ	prc	prc_90d
0 a 0-	41	481570,23	481,57023	0
CREATE TABLE SCORE_PROD_1M  (
RISCO	VARCHAR(200) ,
QTDE	INT,
VLR_FINANC	FLOAT,
PRC		FLOAT,
PRC_90D	FLOAT,
VLR_90D	FLOAT)

SELECT * FROM SCORE_PROD_1M
*/

TRUNCATE TABLE SCORE_PROD_1M 
--DELETE SCORE_PROD_1M  WHERE	DT_REF	 = @dataREF_ATE

INSERT SCORE_PROD_1M
-- DECLARE @PROD FLOAT SET @PROD =100000.0
SELECT		--CONVERT(VARCHAR(10),ISNULL(R.SCORE_DE,''))+' a '+CONVERT(VARCHAR(10),ISNULL(R.SCORE_ATE,''))+'-'+ISNULL(R.RISCO,'')			AS  Risco,
			ISNULL(R.DESCR_RISCO,'')   AS  Risco,
			COUNT(*)		AS	QTDE,
			SUM(ISNULL(P.VLR_FINANCIADO,0.0))		AS	vlr_financ,
			SUM(P.VLR_FINANCIADO)	/ @PROD * 100.0	AS	prc,
--			SUM(ISNULL(I.VLR_FINANCIADO,0.0))	/ @PROD * 100.0	AS	prc_90d	
			0.0, 0.0
FROM		TAUX_CONTRATO2  AS P (NOLOCK) -- COMERCIAL_PRODUCAO 			
/*	LEFT JOIN	(SELECT		DISTINCT CONTRATO, VLR_FINANCIADO FROM TAUX_CONTRATO	AS I1 (NOLOCK) -- INADIMPLENCIA
					WHERE	I1.ATRASO > 90  ) AS I-- atraso acima de 90 d 
		ON	P.CONTRATO = I.CONTRATO		  -- MESMO CONTRATO		
*/
	LEFT JOIN	TRISCO AS R (NOLOCK)	
		ON	P.MODELO BETWEEN R.SCORE_DE AND R.SCORE_ATE
--		ON	P.SCORE BETWEEN R.SCORE_DE AND R.SCORE_ATE
GROUP BY	ISNULL(R.DESCR_RISCO,'')
--  CONVERT(VARCHAR(10),ISNULL(R.SCORE_DE,''))+' a '+CONVERT(VARCHAR(10),ISNULL(R.SCORE_ATE,''))+'-'+ISNULL(R.RISCO,'')		



-- INADIMPLENCIA	- LIMPA  -- VENCIDAS NAO PAGAS 90D *************************
-- SELECT * INTO SCORE_OVER90_AUX FROM SCORE_OVER90 (NOLOCK) WHERE 1=0
-- DELETE  SCORE_OVER90_AUX WHERE DT_FECHA=@data_ref
-- SELECT * FROM SCORE_OVER90_AUX (NOLOCK)
TRUNCATE TABLE SCORE_OVER90_AUX

-- DECLARE @data_ATE DATETIME SET @data_ATE ='20160131' DECLARE @DT90D DATETIME
DECLARE @DT_VENC DATETIME
SET		@DT_VENC = CONVERT(CHAR(4),DATEPART(YEAR,@data_ATE))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ATE))),2)+'01' 
SET		@DT_VENC = DATEADD(MM,+2,@DT_VENC)    -- +2 MESES DO INICIO DA PROD
SET		@DT_VENC = DATEADD(DD,-1,@DT_VENC)    -- FIM DO MES DA P1, 1 MES DEPOIS DA PROD
--	SELECT  @DT_VENC
 -- PGTOS CONSIDERADOS ATEH

-- ANALITICO DO SCORE OVER 90 INADIMPLENCIA *********** P1
-- SELECT * FROM SCORE_OVER90_AUX
INSERT SCORE_OVER90_AUX
--	(	DT_FECHA	SMALLDATETIME,	CONTRATO	VARCHAR(30), DATA_CONTRATO	DATETIME, PARCELA_ABERTO	INT, ATRASO	INT,
--		VENCIMENTO		DATETIME,	SCORE	INT,	VLR_FINANCIADO	float	)
SELECT	@data_ATE, NUM_OPE, DT_BASE,
		1,DATEDIFF(DD,DTVENCPARC,@DT90D),
		DtVencPARC , 0, VLR_OP ,DT_PAGTO
-- declare @DT90D datetime set @DT90D='20160531'  declare @data_ref datetime set @data_ref='20160131' select *
	FROM	(SELECT *		FROM P123_HISTORICO	R1 (NOLOCK) 
					WHERE	Dt_fecha=@data_ATE   -- PRODUCAO
						AND	NUM_OPE		<>''
						AND RENEGOCIADO =0	AND VLR_OP > 0.0) AS P
		-- P1
	WHERE	 
			DtVencPARC  <=  @DT90D	-- VENCIDO NAO PAGO a 90d, antes @DT_VENC
		AND	(DT_PAGTO IS NULL OR DT_PAGTO > @DT90D)-- PGTO ATEH 90 D
--  SELECT @data_ATE,@DT_VENC, @DT90D

-- ANALITICO DO SCORE OVER 90 INADIMPLENCIA *********** P2
-- DECLARE @DT90D DATETIME SET @DT90D ='20160131'
SET @DT90D  =  CONVERT(CHAR(4),DATEPART(YEAR,@DT90D))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DT90D))),2)+'01'  -- INICIO DO MES SAFRA
SET		@DT90D = DATEADD(MM,+2,@DT90D)		-- 30D DA P1
SET		@DT90D = DATEADD(DD,-1,@DT90D)		-- FIM mes , +90 DIAS DO 1o VCTO (1 MES DEPOIS DO FIM DA SAFRA)
-- SELECT  @DT90D  -- FEV

-- DECLARE @data_ATE DATETIME SET @data_ATE ='20160131'  DECLARE @DT_VENC DATETIME SET @DT_VENC='20160229'
SET		@DT_VENC = DATEADD(DD,+1,@DT_VENC)    -- INICIO DO MES SEGUINTE
SET		@DT_VENC = DATEADD(MM,+1,@DT_VENC)    -- MES SEGUINTE DA P1  = P2
SET		@DT_VENC = DATEADD(DD,-1,@DT_VENC)    -- FIM DO MES DA P2, 2 MESES DEPOIS DA PROD
--	SELECT  @DT_VENC

INSERT SCORE_OVER90_AUX
--	(	DT_FECHA	SMALLDATETIME,	CONTRATO	VARCHAR(30), DATA_CONTRATO	DATETIME, PARCELA_ABERTO	INT, ATRASO	INT,
--		VENCIMENTO		DATETIME,	SCORE	INT,	VLR_FINANCIADO	float	)
SELECT	@data_ATE, NUM_OPE, DT_BASE,
		2,DATEDIFF(DD,P2VCTO,@DT90D),
		P2VCTO , 0, VLR_OP , P2PGTO
	FROM	(SELECT		* 
				FROM	P123_HISTORICO	R1 (NOLOCK) 
				Where	dt_fecha=@data_ATE
					AND	NUM_OPE		<>''
					AND RENEGOCIADO =0	AND VLR_OP > 0.0 ) AS P
			-- P2
	WHERE	P2VCTO  <= @DT90D	-- VENCIDO NAO PAGO a 90d, antes @DT_VENC
		AND	(P2PGTO IS NULL OR P2PGTO > @DT90D)


-- ANALITICO DO SCORE OVER 90 INADIMPLENCIA *********** P3
-- DECLARE @DT90D DATETIME SET @DT90D ='20160131'
SET		@DT90D = DATEADD(DD,+1,@DT90D)		-- INICIO DO MES SEGUINTE
SET		@DT90D = DATEADD(MM,+1,@DT90D)		-- 30D DA P2
SET		@DT90D = DATEADD(DD,-1,@DT90D)		-- FIM mes , +90 DIAS DO 1o VCTO (1 MES DEPOIS DO FIM DA SAFRA)
-- SELECT		@DT90D  --FEV

-- DECLARE @data_ATE DATETIME SET @data_ATE ='20160131'  DECLARE @DT_VENC DATETIME SET @DT_VENC='20160331'
SET		@DT_VENC = DATEADD(DD,+1,@DT_VENC)    -- INICIO DO MES SEGUINTE
SET		@DT_VENC = DATEADD(MM,+1,@DT_VENC)    -- MES SEGUINTE DA P2  = P3
SET		@DT_VENC = DATEADD(DD,-1,@DT_VENC)    -- FIM DO MES DA P3, 3 MESES DEPOIS DA PROD
--	SELECT  @DT_VENC

INSERT SCORE_OVER90_AUX
--	(	DT_FECHA	SMALLDATETIME,	CONTRATO	VARCHAR(30), DATA_CONTRATO	DATETIME, PARCELA_ABERTO	INT, ATRASO	INT,
--		VENCIMENTO		DATETIME,	SCORE	INT,	VLR_FINANCIADO	float	)
SELECT	@data_ATE, NUM_OPE, DT_BASE,
		3,DATEDIFF(DD,DTVENCPARC,@DT90D),
		P3VCTO , 0, VLR_OP , P3PGTO
	FROM	(SELECT		* 
				FROM	P123_HISTORICO	R1 (NOLOCK) 
				Where	dt_fecha=@data_ATE
					AND	NUM_OPE		<>''
					AND RENEGOCIADO =0	AND VLR_OP > 0.0 ) AS P
			-- P3
	WHERE	P3VCTO  <= @DT90D	-- VENCIDO NAO PAGO a 90d, antes @DT_VENC
		AND	(P3PGTO IS NULL OR P3PGTO > @DT90D)

-- ********* AJUSTE DO SCORE
UPDATE		SCORE_OVER90_AUX
	SET		SCORE=C.MODELO	-- ESTAH NO MODELO TEMPORARIO
	FROM	TAUX_CONTRATO2 C	 (NOLOCK)
	 WHERE	DT_FECHA = @data_ATE 
		AND SCORE_OVER90_AUX.CONTRATO= C.CONTRATO

-- SELECT * FROM SCORE_OVER90_AUX (NOLOCK)
-- SELECT DISTINCT CONTRATO,SCORE,VLR_FINANCIADO FROM SCORE_OVER90_AUX (NOLOCK)
-- SELECT * FROM SCORE_PROD_1M (NOLOCK)
-- TTL DE INADIMPL 90 D
UPDATE	 SCORE_PROD_1M
	SET	VLR_90D  = C.V,
		PRC_90D  = C.V / @PROD * 100.0
	FROM	(SELECT		DESCR_RISCO,SUM(VLR_FINANCIADO) AS V 
				FROM	(SELECT DISTINCT CONTRATO,SCORE,VLR_FINANCIADO FROM SCORE_OVER90_AUX 	(NOLOCK)  ) AS C1 -- ATRASOS ACIMA DE 90 D
				LEFT JOIN	TRISCO AS	R	(NOLOCK)		-- RISCO
					ON		C1.SCORE BETWEEN R.SCORE_DE AND R.SCORE_ATE
					GROUP BY R.DESCR_RISCO )  AS	C
	WHERE	
--			SCORE_PROD_1M.DT_REF	 = @dataREF_ATE		-- REF DO RPT
--		AND	SCORE_PROD_1M.DT_FECHA = @data_ref 	AND		-- PROD 		
		SCORE_PROD_1M.RISCO	 = C.DESCR_RISCO 		-- FXS DE RISCO IGUAIS


INSERT		SCORE_PROD_1M
	SELECT	'TOTAL',SUM(QTDE),SUM(VLR_FINANC),100.00,SUM(VLR_90D)/SUM(VLR_FINANC) *100.0 ,SUM(VLR_90D)
	FROM	SCORE_PROD_1M (NOLOCK)

SELECT * FROM SCORE_PROD_1M (NOLOCK)
order by risco

END
GO

-- INADIMPLENCIA	- LIMPA  -- VENCIDAS NAO PAGAS 90D *************************
/*  inadimplencia atual todas as parcelas, cf data ref  *********************
TRUNCATE TABLE TAUX_CONTRATO

INSERT		TAUX_CONTRATO
-- DECLARE @data_DE  datetime DECLARE @data_ATE  datetime SET @data_DE='20160101' SET @data_ATE='20160131'  DECLARE @DATA_REF AS VARCHAR(8) SET @DATA_REF = '20160531' DECLARE @dataREF_DE   DATETIME DECLARE @dataREF_ATE  DATETIME SET  @dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' SET  @dataREF_ATE  =@data_ref
	SELECT	C.CONTRATO,
			C.COD_CLI, '',
			C.AGENTE,'',
			C.DATA_CONTRATO, C.PLANO,
			'',	'',
			DATEDIFF(DD,P.PADTVCTO,@data_ref),  -- ATRASO DA PARCELA INADIMPLENTE
			P.PADTVCTO,
			ISNULL(P.PAVLRPR,0.0) +ISNULL(P.PAVLRJR,0.0),
			0, --P.QTD_PARC_ATRASO,
			0.0, --P.SALDO_INSCRITO,
			C.VLR_FINANCIADO,
			'', --P.MARCA,
			'', --P.MODELO,
			'', --P.ANO_FABRIC, 
			'', --P.PARC_PAGAS, 
			'', --P.PROFISSAO,
			'', --P.CARGO,
			C.COD_CLI,
			'', --P.COD_COB,
			'', --P.COD_VEIC,
			'', --P.COD_OPERADOR, 
			''  --P.COD_AGENTE
-- DECLARE @data_DE  datetime DECLARE @data_ATE  datetime SET @data_DE='20160101' SET @data_ATE='20160131'  DECLARE @DATA_REF AS VARCHAR(8) SET @DATA_REF = '20160531' DECLARE @dataREF_DE   DATETIME DECLARE @dataREF_ATE  DATETIME SET  @dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' SET  @dataREF_ATE  =@data_ref SELECT *
	FROM	TAUX_CONTRATO2 C	 (NOLOCK)
	-- USAR PARCELAS DO FUNCAO  ******** P/ CALCULAR INADIMPLENCIA
	JOIN	(
-- DECLARE @data_DE  datetime DECLARE @data_ATE  datetime SET @data_DE='20160101' SET @data_ATE='20160131'  DECLARE @DATA_REF AS VARCHAR(8) SET @DATA_REF = '20160531' DECLARE @dataREF_DE   DATETIME DECLARE @dataREF_ATE  DATETIME SET  @dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' SET  @dataREF_ATE  =@data_ref 
SELECT		P1.*	FROM CdcSantanaMicroCredito..CPARC  P1 (NOLOCK) 
				WHERE	P1.PANROPER IN (SELECT DISTINCT C2.CONTRATO FROM	TAUX_CONTRATO2 C2	 (NOLOCK))
					AND P1.PADTVCTO <= @dataREF_ATE  -- VENCIDAS
					AND (P1.PADTLIQ IS NULL OR P1.PADTLIQ >= DATEADD(DD,90,@dataREF_ATE) )  -- NAO PAGAS ATEH 90D 
					AND P1.PACNTRL = (SELECT	MAX(P2.PACNTRL) FROM CdcSantanaMicroCredito..CPARC  P2 (NOLOCK)
										WHERE	P2.PANROPER = P1.PANROPER AND P2.PANRPARC = P1.PANRPARC )
					) AS P
	ON		C.CONTRATO = P.PANROPER		-- PRODUCAO X PARCELAS NAO PAGAS	CALCULA INADIMPL


/* 
SELECT * FROM	TAUX_CONTRATO2 C	 (NOLOCK)
SELECT * FROM	TAUX_CONTRATO C	 (NOLOCK)   WHERE ATRASO > 90

(SELECT		C1.*	FROM COMERCIAL_PRODUCAO  C1 (NOLOCK) 
				WHERE	C1.DT_FECHA BETWEEN @data_DE AND @data_ATE  -- DT_BASE ??
					AND C1.PRODUTO = 'V' AND C1.VLR_OP>0.0) AS C		*/
/*

SELECT * FROM TAUX_CONTRATO (NOLOCK)
SELECT * FROM TAUX_CONTRATO2 (NOLOCK)

NAO USAR O PERFORMANCE DO IP
USAR PARCELAS DO FUNCAO  ******** P/ CALCULAR INADIMPLENCIA
(SELECT P1.*	FROM PERFORMANCE_HISTORICO P1 (NOLOCK) 
				WHERE	P1.DATA_REF BETWEEN @dataREF_DE AND @dataREF_ATE  
					) AS P

-- DECLARE @data_DE  datetime DECLARE @data_ATE  datetime SET @data_DE='20160101' SET @data_ATE='20160131'  DECLARE @DATA_REF AS VARCHAR(8) SET @DATA_REF = '20160531' DECLARE @dataREF_DE   DATETIME DECLARE @dataREF_ATE  DATETIME SET  @dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' SET  @dataREF_ATE  =@data_ref
	SELECT	C.NUM_OP,
			C.CODCLI, '',
			C.AGENTE,P.COBRADORA,
			C.DT_BASE, C.PLANO,
			P.PARCELA_ABERTO,
			P.PRIMEIRO_VCTO,
			P.ATRASO,
			P.VENCIMENTO,
			P.VLR_PARCELA,
			P.QTD_PARC_ATRASO,
			P.SALDO_INSCRITO,
			P.VLR_FINANCIADO,
			P.MARCA,
			P.MODELO,
			P.ANO_FABRIC, P.PARC_PAGAS, P.PROFISSAO,
			P.CARGO,P.COD_CLI,P.COD_COB,P.COD_VEIC,
			P.COD_OPERADOR, P.COD_AGENTE

FROM	(SELECT		* FROM	COMERCIAL_PRODUCAO (NOLOCK) 
			WHERE	DT_FECHA  BETWEEN @data_DE AND @data_ATE  			--='20160331' 
				AND PRODUTO = 'V' AND VLR_OP>0.0 ) AS P


*/
--			AND P.DT_REF = (SELECT MAX
--	DECLARE @PROD FLOAT SET @PROD =5078071.73
SELECT		CONVERT(VARCHAR(10),ISNULL(R.SCORE_DE,''))+' a '+CONVERT(VARCHAR(10),ISNULL(R.SCORE_ATE,''))+'-'+ISNULL(R.RISCO,'')			AS  Risco,
			COUNT(*)		AS	QTDE,
			SUM(ISNULL(P.VLR_FINANCIADO,0.0))		AS	vlr_financ,
			SUM(P.VLR_FINANCIADO)	/ @PROD * 100.0	AS	prc,
			SUM(ISNULL(I.VLR_FINANCIADO,0.0))	/ @PROD * 100.0	AS	prc_90d	
FROM		TAUX_CONTRATO2  AS P (NOLOCK) -- COMERCIAL_PRODUCAO 			
	LEFT JOIN	(SELECT		DISTINCT CONTRATO, VLR_FINANCIADO FROM TAUX_CONTRATO	AS I1 (NOLOCK) -- INADIMPLENCIA
					WHERE	I1.ATRASO > 90  ) AS I-- atraso acima de 90 d 
		ON	P.CONTRATO = I.CONTRATO		  -- MESMO CONTRATO	
	LEFT JOIN	TRISCO AS R (NOLOCK)	
		ON	P.MODELO BETWEEN R.SCORE_DE AND R.SCORE_ATE
--		ON	P.SCORE BETWEEN R.SCORE_DE AND R.SCORE_ATE
GROUP BY CONVERT(VARCHAR(10),ISNULL(R.SCORE_DE,''))+' a '+CONVERT(VARCHAR(10),ISNULL(R.SCORE_ATE,''))+'-'+ISNULL(R.RISCO,'')		

--CONVERT(VARCHAR(10),ISNULL(R.SCORE_DE,''))+'-'+ISNULL(R.RISCO,'')
--R.SCORE_DE, R.RISCO
--ORDER BY R.SCORE_DE

UNION
-- TOTAL
SELECT		'TOTAL '		AS  Risco,
			COUNT(*)		AS	QTDE,
			SUM(P.VLR_FINANCIADO)		AS	vlr_financ, --VLR_OP
			SUM(P.VLR_FINANCIADO)	/ @PROD * 100.0	AS	prc,
			SUM(ISNULL(I.VLR_FINANCIADO,0.0))	/ @PROD * 100.0	AS	prc_90d		
FROM		TAUX_CONTRATO2  AS P (NOLOCK) -- COMERCIAL_PRODUCAO 	
	LEFT JOIN	(SELECT		DISTINCT CONTRATO, VLR_FINANCIADO FROM TAUX_CONTRATO	AS I1 (NOLOCK) -- INADIMPLENCIA
					WHERE	I1.ATRASO > 90  ) AS I-- atraso acima de 90 d 
		ON	P.CONTRATO = I.CONTRATO		  -- MESMO CONTRATO	
ENDGO



	LEFT JOIN	TAUX_CONTRATO	AS I (NOLOCK) -- INADIMPLENCIA
		ON	P.CONTRATO = I.CONTRATO		  -- MESMO CONTRATO	
		AND	I.ATRASO = (SELECT MAX(I1.ATRASO) FROM TAUX_CONTRATO	AS I1 (NOLOCK)
							WHERE	I1.CONTRATO = I.CONTRATO)
		AND	I.ATRASO > 90 -- atraso acima de 90 d 

		AND	I.ATRASO = (SELECT MAX(I1.ATRASO) FROM TAUX_CONTRATO	AS I1 (NOLOCK)
							WHERE	I1.CONTRATO = I.CONTRATO)

-- SEM SCORE
SELECT TOP 100 * FROM SPREAD_HISTORICO (NOLOCK)
SELECT TOP 100 * FROM P123_HISTORICO (NOLOCK)

-- TEM SCORE
SELECT TOP 100 * FROM COMERCIAL_PRODUCAO (NOLOCK) WHERE DT_FECHA ='20160331' AND PRODUTO = 'V' AND VLR_OP>0.0

codigo	Classificação de Risco	Score DE	Score ATE
CREATE TABLE TRISCO
(	CODIGO	INT,
	RISCO	VARCHAR(200),
	SCORE_DE	INT,
	SCORE_ATE	INT  )

CREATE INDEX TRISCO_IDX1 ON TRISCO (CODIGO)
CREATE INDEX TRISCO_IDX2 ON TRISCO (SCORE_DE,SCORE_ATE)

INSERT TRISCO SELECT 1,'Muito Alto Risco',401,450
INSERT TRISCO SELECT 2,'Medio Risco',501,530
INSERT TRISCO SELECT 3,'Alto Risco',451,500
INSERT TRISCO SELECT 4,'Baixo Risco',601,700
INSERT TRISCO SELECT 5,'Baixissimo Risco',701,800
INSERT TRISCO SELECT 6,'Muito Baixo Risco',531,600
INSERT TRISCO SELECT 7,'Altíssimo Risco',0,400

use sig
SELECT * FROM TRISCO (NOLOCK) ORDER BY SCORE_DE
-- final scores **************
UPDATE TRISCO SET SCORE_DE =2   , SCORE_ATE =530 WHERE CODIGO =7 -- Altíssimo Risco
UPDATE TRISCO SET SCORE_DE =531 , SCORE_ATE =614 WHERE CODIGO =1 -- Muito Alto Risco
UPDATE TRISCO SET SCORE_DE =615 , SCORE_ATE =631 WHERE CODIGO =3 -- Alto Risco
UPDATE TRISCO SET SCORE_DE =632 , SCORE_ATE =660 WHERE CODIGO =2 -- Medio Risco
UPDATE TRISCO SET SCORE_DE =661 , SCORE_ATE =688 WHERE CODIGO =4 -- Baixo Risco
UPDATE TRISCO SET SCORE_DE =689 , SCORE_ATE =705 WHERE CODIGO =6 -- Muito Baixo Risco
UPDATE TRISCO SET SCORE_DE =706 , SCORE_ATE =99999 WHERE CODIGO =5 -- Baixissimo Risco


SELECT * FROM TAUX_CONTRATO (NOLOCK)

SELECT	TOP 100	* FROM	COMERCIAL_PRODUCAO (NOLOCK) 

SELECT * FROM CdcSantanaMicroCredito..CPARC  (NOLOCK) WHERE PANROPER IN ('612189611','552009741A','612090363A')

*/

-- SELECT * FROM P123_RPT