/****** Object:  StoredProcedure [dbo].[Scr_Inadimpl_score]    Script Date: 22/09/2016 17:35:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
go


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'Scr_Inadimpl_score' AND type = 'P')
   DROP PROCEDURE [dbo].[Scr_Inadimpl_score]
GO

-- Scr_Inadimpl_score '20160101','20160131','20160630'

CREATE Procedure [dbo].[Scr_Inadimpl_score] (@data_DE as datetime, @data_ATE as datetime, @DT_PDD as datetime) AS
BEGIN

-- ,  @data_ref as datetime DECLARE @DTREF AS VARCHAR(8) SET @DTREF = CONVERT(varchar(8),@data_ref,112)
/*
select * from G123_Inadimpl_agente


DECLARE @dataREF_DE   DATETIME 
DECLARE @dataREF_ATE  DATETIME
SET  @dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'  -- INICIO DO MES SAFRA

SET  @dataREF_ATE  =@data_ATE
*/

-- DECLARE @data_ATE DATETIME SET @data_ATE ='20160131' 
DECLARE @DT90D   DATETIME 
SET		@DT90D = CONVERT(CHAR(4),DATEPART(YEAR,@data_ATE))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ATE))),2)+'01' 
 -- PGTOS CONSIDERADOS ATEH
SET		@DT90D = DATEADD(MM,+5,@DT90D)    -- 5M DEPOIS VENCTOS 90D APOS AS P1
--  SELECT  @DT90D
SET		@DT90D = DATEADD(DD,-1,@DT90D)		-- FIM mes , +90 DIAS DO 1o VCTO (1 MES DEPOIS DO FIM DA SAFRA)
--  SELECT  @DT90D		SET		@data_ref =  @DT90D

DECLARE @PROD AS FLOAT 
SET		@PROD = (SELECT 	SUM(VLR_OP)	
					FROM	COMERCIAL_PRODUCAO (NOLOCK) 
				WHERE	DT_FECHA BETWEEN @data_DE AND @data_ATE  
						AND PRODUTO = 'V' AND VLR_OP>0.0)

-- CONTRATOS PRODUCAO	- LIMPA  *****************
TRUNCATE TABLE TAUX_CONTRATO2
-- SELECT * FROM TAUX_CONTRATO2 (NOLOCK)

INSERT		TAUX_CONTRATO2 (CONTRATO,DATA_CONTRATO,PLANO,COD_CLI, COD_AGENTE,MODELO,VLR_FINANCIADO)
-- DECLARE @data_DE  datetime DECLARE @data_ATE  datetime SET @data_DE='20160101' SET @data_ATE='20160131'  DECLARE @DATA_REF AS VARCHAR(8) SET @DATA_REF = '20160531' DECLARE @dataREF_DE   DATETIME DECLARE @dataREF_ATE  DATETIME SET  @dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' SET  @dataREF_ATE  =@data_ref
	SELECT	DISTINCT C.NUM_OPE,
			C.DT_BASE, C.PLANO,
			C.CODCLI,
			C.AGENTE, C.SCORE, C.VLR_OP
-- DECLARE @data_DE  datetime DECLARE @data_ATE  datetime SET @data_DE='20160101' SET @data_ATE='20160131'  DECLARE @DATA_REF AS VARCHAR(8) SET @DATA_REF = '20160531' DECLARE @dataREF_DE   DATETIME DECLARE @dataREF_ATE  DATETIME SET  @dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' SET  @dataREF_ATE  =@data_ref SELECT *
	FROM	(SELECT		C1.*	FROM COMERCIAL_PRODUCAO  C1 (NOLOCK) 
				WHERE	C1.DT_FECHA BETWEEN @data_DE AND @data_ATE  -- DT_BASE ??
					AND C1.PRODUTO = 'V' AND C1.VLR_OP>0.0) AS C


-- NVL DE RISCO DO RATING DE FECHAMENTO DA PDD		-- ******************************************
-- DECLARE @data_ATE DATETIME SET @data_ATE = '20160531'
/*
DECLARE @DT_PDD  DATETIME
SET		@DT_PDD = (SELECT	MAX(DT_FECHA) FROM RATING_HISTORICO R (NOLOCK) ) -- ULTIMA PDD
				--	WHERE	R.DT_FECHA <= @data_ATE)
*/
-- SELECT @DT_PDD
-- NVL DE RISCO DO RATING DE FECHAMENTO DA PDD
UPDATE		TAUX_CONTRATO2
	SET		NVL_RISCO = (SELECT R.NVL_RISCO	
						FROM	RATING_HISTORICO R (NOLOCK)
						WHERE	R.DT_FECHA = @DT_PDD AND R.NUM_OPE = TAUX_CONTRATO2.CONTRATO )

-- LIQUIDADOS EM DIA ***********
UPDATE		TAUX_CONTRATO2
	SET		NVL_RISCO = 'a' WHERE NVL_RISCO IS NULL

-- NA PROFISSAO INSIRO A DESCRICAO DO RISCO DE SCORE
UPDATE		TAUX_CONTRATO2
	SET		PROFISSAO = R.DESCR_RISCO,
			CARGO = R.ORDEM
--FROM (SELECT DESCR_RISCO,ORDEM
						FROM	TRISCO R (NOLOCK)
						WHERE	TAUX_CONTRATO2.MODELO BETWEEN R.SCORE_DE AND R.SCORE_ATE --)

/*
Risco	QTDE	vlr_financ	prc	prc_90d
0 a 0-	41	481570,23	481,57023	0
CREATE TABLE SCORE_PROD_1M  (
RISCO	VARCHAR(200) ,
QTDE	INT,
VLR_FINANC	FLOAT,
PRC		FLOAT,
PRC_90D	FLOAT,
VLR_90D	FLOAT)

SELECT * FROM SCORE_PROD_1M
SELECT * FROM TAUX_CONTRATO2
SELECT VendorID, [250] AS Emp1, [251] AS Emp2, [256] AS Emp3, [257] AS Emp4, [260] AS Emp5
FROM 
(SELECT PurchaseOrderID, EmployeeID, VendorID
FROM Purchasing.PurchaseOrderHeader) p
PIVOT
(
COUNT (PurchaseOrderID)
FOR EmployeeID IN
( [250], [251], [256], [257], [260] )
) AS pvt
ORDER BY pvt.VendorID;

select * from DailyIncome                                 — Colums to pivot
pivot (
   max (IncomeAmount)                                                    — Pivot on this column
   for IncomeDay in ([MON],[TUE],[WED],[THU],[FRI],[SAT],[SUN]))         — Make colum where IncomeDay is in one of these.
   as MaxIncomePerDay                                                     — Pivot table alias
where VendorId in (‘SPIKE’)  


SIMPLES RISCO OK

SELECT * FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 



	SET		@query = ' INSERT	AUX_SCORE_13M  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,30 AS ORDEM,''OVER DA SAFRA'' AS DESCR, VLR_OVER90	FROM AUX_SCORE_MES (NOLOCK)  ) P '+
					 ' PIVOT( SUM(VLR_OVER90)  FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	-- select  @query
	EXEC (@query)

SELECT * FROM TRISCO (NOLOCK) ORDER BY ORDEM
		--		VARIAVEIS PARA COMPOR OS	RISCOS CLASSIF DE SCORE
		DECLARE @columns VARCHAR(800)
--		SET		@columns = '['+(SELECT DESCR_RISCO FROM TRISCO (NOLOCK) WHERE ORDEM=1)+'] AS R1'
--		SET     @columns = @columns + ',[' + (SELECT DESCR_RISCO FROM TRISCO (NOLOCK) WHERE ORDEM=2)  + '] AS R2'
		SET		@columns = '[1] AS R1'
		SET     @columns = @columns + ',[2] AS R2'
		SET     @columns = @columns + ',[3] AS R3'
		SET     @columns = @columns + ',[4] AS R4'
		SET     @columns = @columns + ',[5] AS R5'
		SET     @columns = @columns + ',[6] AS R6'
		SET     @columns = @columns + ',[7] AS R7'
SELECT @columns

SELECT DISTINCT CARGO FROM TAUX_CONTRATO2
SELECT PROFISSAO,[2 A 530 - Altíssimo Risco] AS R1,[531 A 614 - Muito Alto Risco] AS R2,[615 A 631 - Alto Risco] AS R3,[632 A 660 - Medio Risco] AS R4,[661 A 688 - Baixo Risco] AS R5,[689 A 705 - Muito Baixo Risco] AS R6,[706 A 99999 - Baixissimo Risco] AS R7

SELECT * FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

-- ERRO NO PIVOT COMPLETO 
SELECT CARGO, [1] AS R1, [2] AS R2, [3] AS R3, [4] AS R4, [5] AS R5, [6] AS R6, [7] AS R7
FROM	(SELECT VLR_FINANCIADO, NVL_RISCO, CARGO FROM TAUX_CONTRATO2  (NOLOCK) ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

SELECT * FROM (SELECT CARGO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) ) P
pivot ( SUM(VLR_FINANCIADO) for CARGO in ([1],[2],[3],[4],[5],[6],[7])  ) AS PVT 

SELECT * FROM  G123_Inadimpl_agente 


*/
DELETE FROM G123_Inadimpl_agente WHERE DT_FECHA	=@DATA_ATE AND RPT=2

INSERT	G123_Inadimpl_agente (DT_FECHA	,RPT , AGENTE, ORDEM_LINHA,FXA_VLR, FXB_VLR, FxC_VLR, FxD_VLR,FXE_VLR,FXF_VLR,FXG_VLR,FXH_VLR,FXHH_VLR)
SELECT @DATA_ATE,2,'',1,* FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) WHERE CARGO=1 ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

INSERT	G123_Inadimpl_agente (DT_FECHA	,RPT , AGENTE, ORDEM_LINHA,FXA_VLR, FXB_VLR, FxC_VLR, FxD_VLR,FXE_VLR,FXF_VLR,FXG_VLR,FXH_VLR,FXHH_VLR)
SELECT @DATA_ATE,2,'',2,* FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) WHERE CARGO=2 ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

INSERT	G123_Inadimpl_agente (DT_FECHA	,RPT , AGENTE, ORDEM_LINHA,FXA_VLR, FXB_VLR, FxC_VLR, FxD_VLR,FXE_VLR,FXF_VLR,FXG_VLR,FXH_VLR,FXHH_VLR)
SELECT @DATA_ATE,2,'',3,* FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) WHERE CARGO=3 ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

INSERT	G123_Inadimpl_agente (DT_FECHA	,RPT , AGENTE, ORDEM_LINHA,FXA_VLR, FXB_VLR, FxC_VLR, FxD_VLR,FXE_VLR,FXF_VLR,FXG_VLR,FXH_VLR,FXHH_VLR)
SELECT @DATA_ATE,2,'',4,* FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) WHERE CARGO=4 ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

INSERT	G123_Inadimpl_agente (DT_FECHA	,RPT , AGENTE, ORDEM_LINHA,FXA_VLR, FXB_VLR, FxC_VLR, FxD_VLR,FXE_VLR,FXF_VLR,FXG_VLR,FXH_VLR,FXHH_VLR)
SELECT @DATA_ATE,2,'',5,* FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) WHERE CARGO=5 ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

INSERT	G123_Inadimpl_agente (DT_FECHA	,RPT , AGENTE, ORDEM_LINHA,FXA_VLR, FXB_VLR, FxC_VLR, FxD_VLR,FXE_VLR,FXF_VLR,FXG_VLR,FXH_VLR,FXHH_VLR)
SELECT @DATA_ATE,2,'',6,* FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) WHERE CARGO=6 ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

INSERT	G123_Inadimpl_agente (DT_FECHA	,RPT , AGENTE, ORDEM_LINHA,FXA_VLR, FXB_VLR, FxC_VLR, FxD_VLR,FXE_VLR,FXF_VLR,FXG_VLR,FXH_VLR,FXHH_VLR)
SELECT @DATA_ATE,2,'',7,* FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) WHERE CARGO=7 ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 


UPDATE  G123_Inadimpl_agente 
SET		VLR_PROD = @PROD,
		FXA=FXA_VLR/@PROD*100.0,
		FXB=FXB_VLR/@PROD*100.0,
		FXC=FXC_VLR/@PROD*100.0,
		FXD=FXD_VLR/@PROD*100.0,
		FXE=FXE_VLR/@PROD*100.0,
		FXF=FXF_VLR/@PROD*100.0,
		FXG=FXG_VLR/@PROD*100.0,
		FXH=FXH_VLR/@PROD*100.0,
		FXHH=FXHH_VLR/@PROD*100.0
WHERE	DT_FECHA = @DATA_ATE AND RPT=2

-- USE SIG SELECT * FROM G123_Inadimpl_agente
UPDATE  G123_Inadimpl_agente 
SET		VLRA = ISNULL(FXA_VLR,0.0),
		VLRB = ISNULL(FXB_VLR,0.0)+ISNULL(FXC_VLR,0.0)+ISNULL(FXD_VLR,0.0),
		VLRC = ISNULL(FXE_VLR,0.0)+ISNULL(FXF_VLR,0.0)+ISNULL(FXG_VLR,0.0)+ISNULL(FXH_VLR,0.0),
		VLRD = ISNULL(FXHH_VLR,0.0)
WHERE	DT_FECHA = @DATA_ATE AND RPT=2

-- USE SIG SELECT * FROM G123_Inadimpl_agente
UPDATE  G123_Inadimpl_agente 
SET		INAD0   = VLRA/@PROD*100.0,
		INAD15  = VLRB/@PROD*100.0,
		INAD91  = VLRC/@PROD*100.0,
		INAD360 = VLRD/@PROD*100.0
WHERE	DT_FECHA = @DATA_ATE AND RPT=2

-- CLASSIFICACAO DE RISCO
UPDATE  G123_Inadimpl_agente 
SET		AGENTE   = ISNULL(DESCR_RISCO,'')
FROM	TRISCO (NOLOCK)
WHERE	DT_FECHA = @DATA_ATE AND RPT=2
	AND ORDEM = ORDEM_LINHA
-- SELECT * FROM TRISCO (NOLOCK)


SELECT	--ISNULL(agente,'')	AS RISCO,
		ISNULL(AGENTE,'')	AS DESCRICAO,
		ISNULL(fxA_vlr,0.0)	AS FXA_VLR, 
		ISNULL(fxA,0.0)		AS fxA,  
		ISNULL(fxB_vlr,0.0) AS fxB_vlr,  
		ISNULL(fxB,0.0)		AS fxB, 
		ISNULL(fxC_vlr,0.0) AS fxC_vlr,  
		ISNULL(fxC,0.0)		AS fxC, 
		ISNULL(fxD_vlr,0.0)	AS fxD_vlr,  
		ISNULL(fxD,0.0)		AS fxD, 
		ISNULL(fxE_vlr,0.0) AS fxE_vlr, 
		ISNULL(fxE,0.0)		AS fxE,  
		ISNULL(fxF_vlr,0.0) AS fxF_vlr,  
		ISNULL(fxF,0.0)		AS fxF, 
		ISNULL(fxG_vlr,0.0) AS fxG_vlr,  
		ISNULL(fxG,0.0)		AS fxG, 
		ISNULL(fxH_vlr,0.0) AS fxH_vlr,   ISNULL(fxH,0.0)   AS fxH, 
		ISNULL(fxHH_vlr,0.0) AS fxHH_vlr, ISNULL(fxHH,0.0)  AS fxHH, 
		ISNULL(VLR_PROD,0.0) AS VLR_PROD, ISNULL(inad0,0.0) AS inad0 , 
		ISNULL(inad15,0.0)   AS inad15 ,
		ISNULL(inad91,0.0)   AS inad91, 
		ISNULL(inad360,0.0)  AS inad360
 FROM	G123_Inadimpl_agente (NOLOCK)
WHERE	DT_FECHA = @DATA_ATE AND RPT=2
order by ORDEM_LINHA

END
GO

