SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
go


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'Scr_inadimpl_safra' AND type = 'P')
   DROP PROCEDURE [dbo].[Scr_inadimpl_safra]
GO

-- Scr_inadimpl_safra '20160101','20160131','20160430'

CREATE Procedure [dbo].[Scr_inadimpl_safra] (@data_DE as datetime, @data_ATE as datetime, @DT_PDD as datetime) AS
 --(@data_DE as datetime, @data_ATE as datetime,  @data_ref as datetime) AS
BEGIN

/*  PARAMETRO DATA FECHAMENTO DA PDD

SP_HELP G123_Inadimpl_agente
use sig
create table G123_Inadimpl_agente (
DT_FECHA	smalldatetime,
RPT	int,
cod_agente	varchar(6),
agente	varchar(200),
ORDEM_LINHA	int,
fxA_vlr	float,
fxA		float,
fxB_vlr	float,
fxB		float,
fxC_vlr	float,
fxC		float,
fxD_vlr	float,
fxD		float,
fxE_vlr	float,
fxE		float,
fxF_vlr	float,
fxF		float,
fxG_vlr	float,
fxG		float,
fxH_vlr	float,
fxH			float,
fxHH_vlr	float,
fxHH		float,
VLR_PROD	float,
inad0	float	,
inad15	float	,
inad91	float	,
inad360	float	,
vlrA	float	,
vlrB	float	,
vlrC	float	,
vlrD	float	,
vlrE	float	,
vlrF	float	,
vlrG	float	,
vlrH	float	,
vlrHH	float	,
vlr_ttl	float	,
inad_ttl	float,
prc_ttl	float)

CREATE INDEX G123_Inadimpl_agente_IDX1 ON G123_Inadimpl_agente  
	(DT_FECHA		,
	RPT		,
	ORDEM_LINHA	, cod_agente	) 

index_name	index_description	index_keys
G123_Inadimpl_agente_IDX1	nonclustered located on PRIMARY	DT_FECHA, RPT, cod_agente

DROP   TABLE P123GER_INADIMPL_RPT

CREATE TABLE  P123GER_INADIMPL_RPT (
DT_FECHA	smalldatetime,
RPT		INT,
DESCR	varchar(100),
fxA_vlr	FLOAT,
fxA		FLOAT,
fxB_vlr	FLOAT,
fxB		FLOAT,
fxC_vlr	FLOAT,
fxC		FLOAT,
fxD_vlr	FLOAT,
fxD		FLOAT,
fxE_vlr	FLOAT,
fxE		FLOAT,
fxF_vlr	FLOAT,
fxF		FLOAT,
fxG_vlr	FLOAT,
fxG		FLOAT,
fxH_vlr	FLOAT,
fxH		FLOAT,
fxHH_vlr	FLOAT,	
fxHH		FLOAT,
VLR_PROD	FLOAT,
inad0		FLOAT,
inad15		FLOAT,
inad91		FLOAT,
inad360		FLOAT,
ordem_linha	INT,
vlrA		FLOAT,
vlrB		FLOAT,
vlrC		FLOAT,
vlrD		FLOAT,
vlrE		FLOAT,
vlrF		FLOAT,
vlrG		FLOAT,
vlrH		FLOAT,
vlrHH		FLOAT,
vlr_ttl		FLOAT,
inad_ttl	FLOAT,
prc_ttl		FLOAT
)
 
CREATE INDEX P123GER_INADIMPL_RPT_IDX1 ON P123GER_INADIMPL_RPT  
	(DT_FECHA		,
	RPT		,
	ORDEM_LINHA		) 

SELECT * FROM P123GER_INADIMPL_RPT
*/




-- ,  @data_ref as datetime DECLARE @DTREF AS VARCHAR(8) SET @DTREF = CONVERT(varchar(8),@data_ref,112)
/*
select * from G123_Inadimpl_agente


DECLARE @dataREF_DE   DATETIME 
DECLARE @dataREF_ATE  DATETIME
SET  @dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'  -- INICIO DO MES SAFRA

SET  @dataREF_ATE  =@data_ATE
-- DECLARE @data_ATE DATETIME SET @data_ATE ='20160131' 
DECLARE @DT90D   DATETIME 
SET		@DT90D = CONVERT(CHAR(4),DATEPART(YEAR,@data_ATE))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ATE))),2)+'01' 
 -- PGTOS CONSIDERADOS ATEH
SET		@DT90D = DATEADD(MM,+5,@DT90D)    -- 5M DEPOIS VENCTOS 90D APOS AS P1
--  SELECT  @DT90D
SET		@DT90D = DATEADD(DD,-1,@DT90D)		-- FIM mes , +90 DIAS DO 1o VCTO (1 MES DEPOIS DO FIM DA SAFRA)
--  SELECT  @DT90D		SET		@data_ref =  @DT90D
SELECT 	* FROM	COMERCIAL_PRODUCAO (NOLOCK) 
*/

DECLARE @CONTADOR AS INT 
SET		@CONTADOR =  1
DECLARE @PROD AS FLOAT 
DELETE FROM G123_Inadimpl_agente WHERE DT_FECHA	= @DATA_DE AND RPT=1


WHILE	@CONTADOR <= 12
BEGIN
IF		@CONTADOR =  1
SET		@PROD = (SELECT 	SUM(VLR_OP)	
					FROM	COMERCIAL_PRODUCAO (NOLOCK) 
				WHERE	DT_FECHA BETWEEN @data_DE AND @data_ATE  
						AND PRODUTO = 'V' AND VLR_OP>0.0)

IF		@CONTADOR >  1
SET		@PROD = (SELECT 	SUM(VLR_OP)	
					FROM	COMERCIAL_PRODUCAO (NOLOCK) 
				WHERE	DT_FECHA = @data_ATE		-- FECHAMENTO
						AND PRODUTO = 'V' AND VLR_OP>0.0)

-- CONTRATOS PRODUCAO	- LIMPA  *****************
TRUNCATE TABLE TAUX_CONTRATO2
-- SELECT * FROM TAUX_CONTRATO2 (NOLOCK)

IF		@CONTADOR =  1
INSERT		TAUX_CONTRATO2 (CONTRATO,DATA_CONTRATO,PLANO,COD_CLI, COD_AGENTE,MODELO,VLR_FINANCIADO)
-- DECLARE @data_DE  datetime DECLARE @data_ATE  datetime SET @data_DE='20160101' SET @data_ATE='20160131'  DECLARE @DATA_REF AS VARCHAR(8) SET @DATA_REF = '20160531' DECLARE @dataREF_DE   DATETIME DECLARE @dataREF_ATE  DATETIME SET  @dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' SET  @dataREF_ATE  =@data_ref
	SELECT	DISTINCT C.NUM_OPE,
			C.DT_BASE, C.PLANO,
			C.CODCLI,
			C.AGENTE, C.SCORE, C.VLR_OP
-- DECLARE @data_DE  datetime DECLARE @data_ATE  datetime SET @data_DE='20160101' SET @data_ATE='20160131'  DECLARE @DATA_REF AS VARCHAR(8) SET @DATA_REF = '20160531' DECLARE @dataREF_DE   DATETIME DECLARE @dataREF_ATE  DATETIME SET  @dataREF_DE =CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' SET  @dataREF_ATE  =@data_ref SELECT *
	FROM	(SELECT		C1.*	FROM COMERCIAL_PRODUCAO  C1 (NOLOCK) 
				WHERE	C1.DT_FECHA BETWEEN @data_DE AND @data_ATE  -- DT_BASE ??
					AND C1.PRODUTO = 'V' AND C1.VLR_OP>0.0) AS C


IF		@CONTADOR > 1
INSERT		TAUX_CONTRATO2 (CONTRATO,DATA_CONTRATO,PLANO,COD_CLI, COD_AGENTE,MODELO,VLR_FINANCIADO)
	SELECT	DISTINCT C.NUM_OPE,
			C.DT_BASE, C.PLANO,
			C.CODCLI,
			C.AGENTE, C.SCORE, C.VLR_OP
	FROM	(SELECT		C1.*	FROM COMERCIAL_PRODUCAO  C1 (NOLOCK) 
				WHERE	C1.DT_FECHA = @data_ATE  -- DT_BASE ??
					AND C1.PRODUTO = 'V' AND C1.VLR_OP>0.0) AS C

-- NVL DE RISCO DO RATING DE FECHAMENTO DA PDD		-- ******************************************
-- DECLARE @data_ATE DATETIME SET @data_ATE = '20160531'
/*
DECLARE @DT_PDD  DATETIME
SET		@DT_PDD = (SELECT	MAX(DT_FECHA) FROM RATING_HISTORICO R (NOLOCK) ) -- ULTIMA PDD
				--	WHERE	R.DT_FECHA <= @data_ATE)
*/
-- SELECT @DT_PDD
-- NVL DE RISCO DO RATING DE FECHAMENTO DA PDD
UPDATE		TAUX_CONTRATO2
	SET		NVL_RISCO = (SELECT R.NVL_RISCO	
						FROM	RATING_HISTORICO R (NOLOCK)
						WHERE	R.DT_FECHA = @DT_PDD AND R.NUM_OPE = TAUX_CONTRATO2.CONTRATO )

UPDATE		TAUX_CONTRATO2
	SET		NVL_RISCO = 'a' WHERE NVL_RISCO IS NULL

/*
select * from TAUX_CONTRATO2 (nolock)
-- NA PROFISSAO INSIRO A DESCRICAO DO RISCO DE SCORE
UPDATE		TAUX_CONTRATO2
	SET		PROFISSAO = R.DESCR_RISCO,
			CARGO = R.ORDEM
--FROM (SELECT DESCR_RISCO,ORDEM
						FROM	TRISCO R (NOLOCK)
						WHERE	TAUX_CONTRATO2.MODELO BETWEEN R.SCORE_DE AND R.SCORE_ATE --)

Risco	QTDE	vlr_financ	prc	prc_90d
0 a 0-	41	481570,23	481,57023	0
CREATE TABLE SCORE_PROD_1M  (
RISCO	VARCHAR(200) ,
QTDE	INT,
VLR_FINANC	FLOAT,
PRC		FLOAT,
PRC_90D	FLOAT,
VLR_90D	FLOAT)

SELECT * FROM SCORE_PROD_1M
SELECT * FROM TAUX_CONTRATO2
SELECT VendorID, [250] AS Emp1, [251] AS Emp2, [256] AS Emp3, [257] AS Emp4, [260] AS Emp5
FROM 
(SELECT PurchaseOrderID, EmployeeID, VendorID
FROM Purchasing.PurchaseOrderHeader) p
PIVOT
(
COUNT (PurchaseOrderID)
FOR EmployeeID IN
( [250], [251], [256], [257], [260] )
) AS pvt
ORDER BY pvt.VendorID;

select * from DailyIncome                                 — Colums to pivot
pivot (
   max (IncomeAmount)                                                    — Pivot on this column
   for IncomeDay in ([MON],[TUE],[WED],[THU],[FRI],[SAT],[SUN]))         — Make colum where IncomeDay is in one of these.
   as MaxIncomePerDay                                                     — Pivot table alias
where VendorId in (‘SPIKE’)  


SIMPLES RISCO OK

SELECT * FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 



	SET		@query = ' INSERT	AUX_SCORE_13M  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,30 AS ORDEM,''OVER DA SAFRA'' AS DESCR, VLR_OVER90	FROM AUX_SCORE_MES (NOLOCK)  ) P '+
					 ' PIVOT( SUM(VLR_OVER90)  FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	-- select  @query
	EXEC (@query)

SELECT * FROM TRISCO (NOLOCK) ORDER BY ORDEM
		--		VARIAVEIS PARA COMPOR OS	RISCOS CLASSIF DE SCORE
		DECLARE @columns VARCHAR(800)
--		SET		@columns = '['+(SELECT DESCR_RISCO FROM TRISCO (NOLOCK) WHERE ORDEM=1)+'] AS R1'
--		SET     @columns = @columns + ',[' + (SELECT DESCR_RISCO FROM TRISCO (NOLOCK) WHERE ORDEM=2)  + '] AS R2'
		SET		@columns = '[1] AS R1'
		SET     @columns = @columns + ',[2] AS R2'
		SET     @columns = @columns + ',[3] AS R3'
		SET     @columns = @columns + ',[4] AS R4'
		SET     @columns = @columns + ',[5] AS R5'
		SET     @columns = @columns + ',[6] AS R6'
		SET     @columns = @columns + ',[7] AS R7'
SELECT @columns

SELECT DISTINCT CARGO FROM TAUX_CONTRATO2
SELECT PROFISSAO,[2 A 530 - Altíssimo Risco] AS R1,[531 A 614 - Muito Alto Risco] AS R2,[615 A 631 - Alto Risco] AS R3,[632 A 660 - Medio Risco] AS R4,[661 A 688 - Baixo Risco] AS R5,[689 A 705 - Muito Baixo Risco] AS R6,[706 A 99999 - Baixissimo Risco] AS R7

SELECT * FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

-- ERRO NO PIVOT COMPLETO 
SELECT CARGO, [1] AS R1, [2] AS R2, [3] AS R3, [4] AS R4, [5] AS R5, [6] AS R6, [7] AS R7
FROM	(SELECT VLR_FINANCIADO, NVL_RISCO, CARGO FROM TAUX_CONTRATO2  (NOLOCK) ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

SELECT * FROM (SELECT CARGO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) ) P
pivot ( SUM(VLR_FINANCIADO) for CARGO in ([1],[2],[3],[4],[5],[6],[7])  ) AS PVT 

SELECT * FROM  G123_Inadimpl_agente 


*/

INSERT	G123_Inadimpl_agente (DT_FECHA	,RPT , AGENTE, ORDEM_LINHA,FXA_VLR, FXB_VLR, FxC_VLR, FxD_VLR,FXE_VLR,FXF_VLR,FXG_VLR,FXH_VLR,FXHH_VLR)
SELECT @DATA_DE,1,@DATA_ATE,@CONTADOR,* FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

/*
INSERT	G123_Inadimpl_agente (DT_FECHA	,RPT , AGENTE, ORDEM_LINHA,FXA_VLR, FXB_VLR, FxC_VLR, FxD_VLR,FXE_VLR,FXF_VLR,FXG_VLR,FXH_VLR,FXHH_VLR)
SELECT @DATA_ATE,2,'',2,* FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) WHERE CARGO=2 ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

INSERT	G123_Inadimpl_agente (DT_FECHA	,RPT , AGENTE, ORDEM_LINHA,FXA_VLR, FXB_VLR, FxC_VLR, FxD_VLR,FXE_VLR,FXF_VLR,FXG_VLR,FXH_VLR,FXHH_VLR)
SELECT @DATA_ATE,2,'',3,* FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) WHERE CARGO=3 ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

INSERT	G123_Inadimpl_agente (DT_FECHA	,RPT , AGENTE, ORDEM_LINHA,FXA_VLR, FXB_VLR, FxC_VLR, FxD_VLR,FXE_VLR,FXF_VLR,FXG_VLR,FXH_VLR,FXHH_VLR)
SELECT @DATA_ATE,2,'',4,* FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) WHERE CARGO=4 ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

INSERT	G123_Inadimpl_agente (DT_FECHA	,RPT , AGENTE, ORDEM_LINHA,FXA_VLR, FXB_VLR, FxC_VLR, FxD_VLR,FXE_VLR,FXF_VLR,FXG_VLR,FXH_VLR,FXHH_VLR)
SELECT @DATA_ATE,2,'',5,* FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) WHERE CARGO=5 ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

INSERT	G123_Inadimpl_agente (DT_FECHA	,RPT , AGENTE, ORDEM_LINHA,FXA_VLR, FXB_VLR, FxC_VLR, FxD_VLR,FXE_VLR,FXF_VLR,FXG_VLR,FXH_VLR,FXHH_VLR)
SELECT @DATA_ATE,2,'',6,* FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) WHERE CARGO=6 ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

INSERT	G123_Inadimpl_agente (DT_FECHA	,RPT , AGENTE, ORDEM_LINHA,FXA_VLR, FXB_VLR, FxC_VLR, FxD_VLR,FXE_VLR,FXF_VLR,FXG_VLR,FXH_VLR,FXHH_VLR)
SELECT @DATA_ATE,2,'',7,* FROM (SELECT NVL_RISCO, VLR_FINANCIADO FROM TAUX_CONTRATO2  (NOLOCK) WHERE CARGO=7 ) P
pivot ( SUM(VLR_FINANCIADO) for NVL_RISCO in ([A],[B],[C],[D],[E],[F],[G],[H],[HH])  ) AS PVT 

*/
-- VLR_PROD DO MES
UPDATE  G123_Inadimpl_agente 
SET		VLR_PROD = @PROD
WHERE	DT_FECHA = @DATA_DE AND RPT=1 AND AGENTE=@data_ATE


SET		@CONTADOR = @CONTADOR + 1
SET		@data_ATE = DATEADD(DD,+1,@data_ATE)  -- 1o DIA DO MES SEGUINTE
SET		@data_ATE = DATEADD(MM,-1,@data_ATE)  -- 1o DIA DO MES ANTERIOR
SET		@data_ATE = DATEADD(DD,-1,@data_ATE)  -- ULTIMO DIA DO MES ANTERIOR
--SELECT @CONTADOR,@data_ATE
END
-- FIM DO LOOP 12 MESES

-- CACULO DOS PERCENT  %  *************************
UPDATE  G123_Inadimpl_agente 
SET		-- VLR_PROD = @PROD,  ACIMA , DIFERENTE A CADA MES
		FXA=FXA_VLR/VLR_PROD*100.0,
		FXB=FXB_VLR/VLR_PROD*100.0,
		FXC=FXC_VLR/VLR_PROD*100.0,
		FXD=FXD_VLR/VLR_PROD*100.0,
		FXE=FXE_VLR/VLR_PROD*100.0,
		FXF=FXF_VLR/VLR_PROD*100.0,
		FXG=FXG_VLR/VLR_PROD*100.0,
		FXH=FXH_VLR/VLR_PROD*100.0,
		FXHH=FXHH_VLR/VLR_PROD*100.0
WHERE	DT_FECHA = @DATA_DE AND RPT=1

-- USE SIG SELECT * FROM G123_Inadimpl_agente
UPDATE  G123_Inadimpl_agente 
SET		VLRA = FXA_VLR,
		VLRB = FXB_VLR+FXC_VLR+FXD_VLR,
		VLRC = FXE_VLR+FXF_VLR+FXG_VLR+FXH_VLR,
		VLRD = FXHH_VLR
WHERE	DT_FECHA = @DATA_DE AND RPT=1

-- USE SIG SELECT * FROM G123_Inadimpl_agente
UPDATE  G123_Inadimpl_agente 
SET		INAD0   = VLRA/VLR_PROD*100.0,
		INAD15  = VLRB/VLR_PROD*100.0,
		INAD91  = VLRC/VLR_PROD*100.0,
		INAD360 = VLRD/VLR_PROD*100.0
WHERE	DT_FECHA = @DATA_DE AND RPT=1


SELECT	--ISNULL(agente,'')	AS RISCO,
		ISNULL(AGENTE,'')	AS DESCRICAO,
		ISNULL(fxA_vlr,0.0)	AS FXA_VLR, 
		ISNULL(fxA,0.0)		AS fxA,  
		ISNULL(fxB_vlr,0.0) AS fxB_vlr,  
		ISNULL(fxB,0.0)		AS fxB, 
		ISNULL(fxC_vlr,0.0) AS fxC_vlr,  
		ISNULL(fxC,0.0)		AS fxC, 
		ISNULL(fxD_vlr,0.0)	AS fxD_vlr,  
		ISNULL(fxD,0.0)		AS fxD, 
		ISNULL(fxE_vlr,0.0) AS fxE_vlr, 
		ISNULL(fxE,0.0)		AS fxE,  
		ISNULL(fxF_vlr,0.0) AS fxF_vlr,  
		ISNULL(fxF,0.0)		AS fxF, 
		ISNULL(fxG_vlr,0.0) AS fxG_vlr,  
		ISNULL(fxG,0.0)		AS fxG, 
		ISNULL(fxH_vlr,0.0) AS fxH_vlr,   ISNULL(fxH,0.0)   AS fxH, 
		ISNULL(fxHH_vlr,0.0) AS fxHH_vlr, ISNULL(fxHH,0.0)  AS fxHH, 
		ISNULL(VLR_PROD,0.0) AS VLR_PROD, ISNULL(inad0,0.0) AS inad0 , 
		ISNULL(inad15,0.0)   AS inad15 ,
		ISNULL(inad91,0.0)   AS inad91, 
		ISNULL(inad360,0.0)  AS inad360
 FROM	G123_Inadimpl_agente (NOLOCK)
WHERE	DT_FECHA = @DATA_DE --AND  @DATA_DE
 AND RPT=1
order by ORDEM_LINHA

END
GO
--

