SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
go


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'Scr_grafico_p123Gerencial' AND type = 'P')
   DROP PROCEDURE [dbo].[Scr_grafico_p123Gerencial]
GO

-- Scr_VLR_p123Gerencial '20160131','20160430',1,1
-- Scr_grafico_p123Gerencial  '20160131','20160131',1,1

CREATE Procedure [dbo].[Scr_grafico_p123Gerencial] (@data_ref as datetime, @data_SAFRA as datetime,  @parcela varchar(6) ,  @GRAF varchar(6)) AS
BEGIN

DECLARE @DTREF AS VARCHAR(8)
SET		@DTREF = CONVERT(varchar(8),@data_ref,112)

DECLARE @MES AS INT
SET		@MES = DATEPART(MM,@data_ref)


/*  PARAMETRO DATA FECHAMENTO DA PDD
DROP	TABLE  p123g_ano 
CREATE	TABLE  p123g_ano (
ANO		INT,
PARC	INT,
GRAF	INT,
M1		float,
M2		float,
M3		float,
M4		float,
M5		float,
M6		float,
M7		float,
M8		float,
M9		float,
M10		float,
M11		float,
M12		float
)
 
CREATE INDEX p123g_ano_IDX1 ON p123g_ano  
	(ANO, PARC, GRAF	) 


DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END

SELECT * FROM  RR_ROLLRATE_DIA_RPT

SP_HELP RR_ROLLRATE_DIA_RPT
-- SP_HELP P123_RPT
-- SP_HELP P123_HISTORICO
DROP TABLE P123_RPT

CREATE TABLE  P123_RPT (
DT_FECHA	smalldatetime,
RPT		INT,
AGENTE	varchar(6),
COBRADORA	varchar(6),
ORDEM_LINHA	int,
FORMATO	varchar(6),
DESCRICAO	varchar(50),
M1_VLR	float,
M2_VLR	float,
M3_VLR	float,
M4_VLR	float,
M5_VLR	float,
M6_VLR	float,
M7_VLR	float,
M8_VLR	float,
M9_VLR	float,
M10_VLR	float,
M11_VLR	float,
M12_VLR	float,
M13_VLR	float,
M14_VLR	float
)
 
CREATE INDEX P123_RPT_IDX1 ON P123_RPT  
	(DT_FECHA		,
	RPT		,
	AGENTE			,
	COBRADORA		,
	ORDEM_LINHA		) 

SELECT * FROM P123GER_RPT
*/

DECLARE @ANO  INT
SET @ANO = DATEPART(YYYY,@data_ref)
DECLARE @ANO_ANT  INT
SET @ANO_ANT = @ANO - 1
DECLARE @ANO2  INT
SET @ANO2 = @ANO_ANT - 1

SELECT		
			ANO		AS DESCRICAO,
			PARC	,
			GRAF	,
			M1		,
-- PARCELA 1 OK
-- PARCELA 2  MES -1
-- CASE WHEN @PARCELA=1 THEN  BEGIN
-- AND @PARCELA<=3
			CASE WHEN @MES < 2  AND ANO = @ANO  THEN NULL  ELSE M2  END AS M2		,
			CASE WHEN @MES < 3  AND ANO = @ANO THEN NULL  ELSE M3  END AS M3		,
			CASE WHEN @MES < 4  AND ANO = @ANO THEN NULL  ELSE M4  END AS M4		,
			CASE WHEN @MES < 5  AND ANO = @ANO THEN NULL  ELSE M5  END AS M5		,
			CASE WHEN @MES < 6  AND ANO = @ANO THEN NULL  ELSE M6  END AS M6		,
			CASE WHEN @MES < 7  AND ANO = @ANO THEN NULL  ELSE M7  END AS M7		,
			CASE WHEN @MES < 8  AND ANO = @ANO THEN NULL  ELSE M8  END AS M8		,
			CASE WHEN @MES < 9  AND ANO = @ANO THEN NULL  ELSE M9  END AS M9		,
			CASE WHEN @MES < 10 AND ANO = @ANO THEN NULL  ELSE M10  END AS M10		,
			CASE WHEN @MES < 11 AND ANO = @ANO THEN NULL  ELSE M11  END AS M11		,
			CASE WHEN @MES < 12 AND ANO = @ANO THEN NULL  ELSE M12  END AS M12
--END

	FROM	p123g_ano (NOLOCK)
	WHERE	ANO IN ( @ANO, @ANO_ANT, @ANO2)
		AND	PARC = @PARCELA
		AND	GRAF = @GRAF
	-- INCLUI 13/2/17
	ORDER BY	ANO
	
/*
		SELECT	distinct
			' ' AS Formato,
				--Left(dt_fecha,4) AS DESCRICAO,
				convert(varchar(4),datepart(yyyy,dt_fecha)) AS DESCRICAO,
				M1,
				M2,
				M3,
				M4,
				M5,
				M6,
				M7,
				M8,
				M9,
				M10,
				M11,
				M12,
				M13,
				M14
--,				ORDEM AS ORDEM_LINHA

/*
				CASE WHEN  @parcela=3		THEN NULL
					 ELSE				M12_VLR		END		AS M12,
				CASE WHEN ORDEM_LINHA >=11	AND @parcela>=3  THEN NULL
					 WHEN @parcela>=2		THEN NULL	
					 ELSE M13_VLR			END  AS M13,
				CASE WHEN ORDEM_LINHA >=7	AND @parcela>=3	THEN NULL
					 WHEN ORDEM_LINHA >=11	AND @parcela>=1	THEN NULL
					 WHEN @parcela>=1		THEN NULL
					 ELSE M14_VLR			END  AS M14
*/	
			FROM	P123GER_RPT 	(NOLOCK) 
			where 	dt_fecha = @DTREF 

				and 1= case when @parcela = 1 and RPT=1 then 1
							when @parcela = 2 and RPT=2 then 1
							when @parcela = 3 and RPT=3 then 1
							when @parcela = 4 and RPT=4 then 1
							else 0 end

				and 1= case when @GRAF = 1 and ORDEM=7  then 1	-- 1o MOMENTO
							when @GRAF = 2 and ORDEM=10 then 1	-- 2o MOMENTO
							when @GRAF = 3 and ORDEM=13 then 1	-- 3o MOMENTO
							when @GRAF = 4 and ORDEM=16 then 1	-- 4o MOMENTO
							else 0 end



--				AND RIGHT(RTRIM(DESCRICAO),7) = 'CTO - %'
--			ORDER BY ORDEM_LINHA,DESCR

UNION

		SELECT	--distinct
			' ' AS Formato,
				'Ano Anterior ' AS DESCRICAO,
				M1,
				M2,
				M3,
				M4,
				M5,
				M6,
				M7,
				M8,
				M9,
				M10,
				M11,
				M12,
				M13,
				M14
--,				ORDEM AS ORDEM_LINHA
*/

/*
				CASE WHEN  @parcela=3		THEN NULL
					 ELSE				M12_VLR		END		AS M12,
				CASE WHEN ORDEM_LINHA >=11	AND @parcela>=3  THEN NULL
					 WHEN @parcela>=2		THEN NULL	
					 ELSE M13_VLR			END  AS M13,
				CASE WHEN ORDEM_LINHA >=7	AND @parcela>=3	THEN NULL
					 WHEN ORDEM_LINHA >=11	AND @parcela>=1	THEN NULL
					 WHEN @parcela>=1		THEN NULL
					 ELSE M14_VLR			END  AS M14

select * FROM	P123GER_RPT 
			where 	dt_fecha = '20141231' ORDER BY ORDEM

 dateadd(mm,-13,@DTREF)

select dateadd(mm,-13,'20160131')

			FROM	P123GER_RPT		(NOLOCK)
			where 	dt_fecha = DATEADD(DD,-1,dateadd(mm,-13,DATEADD(DD,+1,@DTREF)))

				and 1= case when @parcela = 1 and RPT=1 then 1
							when @parcela = 2 and RPT=2 then 1
							when @parcela = 3 and RPT=3 then 1
							when @parcela = 4 and RPT=4 then 1
							else 0 end

				and 1= case when @GRAF = 1 and ORDEM=7  then 1	-- 1o MOMENTO
							when @GRAF = 2 and ORDEM=10 then 1	-- 2o MOMENTO
							when @GRAF = 3 and ORDEM=13 then 1	-- 3o MOMENTO
							when @GRAF = 4 and ORDEM=16 then 1	-- 4o MOMENTO
							else 0 end

--				AND RIGHT(RTRIM(DESCRICAO),7) = 'CTO - %'
--			ORDER BY ORDEM_LINHA,DESCR

*/	
END
GO


-- SELECT * FROM P123GER_RPT (NOLOCK) where 	dt_fecha = '20160131' AND RPT=1 AND ORDEM IN (7)-- 1o MOMENTO, 2o MOM 10, 3o MOM 13, 4o MOM 16.
