SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
go


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'Scr_vlr_GerencialP123' AND type = 'P')
   DROP PROCEDURE [dbo].[Scr_vlr_GerencialP123]
GO

-- Scr_vlr_GerencialP123 '20160131','20160430',1,1,1
-- Scr_vlr_GerencialP123 '20160430','20160430',1,1,1
-- select * from 		AUX_GRAFICO_CHART   (NOLOCK)
CREATE Procedure [dbo].[Scr_vlr_GerencialP123] (@data_ref as datetime, @data_SAFRA as datetime,  @parcela varchar(6) ,  @GRAF varchar(6), @tela as int) AS
BEGIN

DECLARE @DTREF AS VARCHAR(8)
SET @DTREF = CONVERT(varchar(8),@data_ref,112)


/*  PARAMETRO DATA FECHAMENTO DA PDD
DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END

SELECT * FROM  RR_ROLLRATE_DIA_RPT

SP_HELP RR_ROLLRATE_DIA_RPT
-- SP_HELP P123_RPT
-- SP_HELP P123_HISTORICO
DROP TABLE P123_RPT


SELECT * FROM P123GER_RPT
*/



		SELECT	
				'C1' as  Formato,
				DESCR AS DESCRICAO,
				M1,
				M2,
				M3,
				M4,
				M5,
				M6,
				M7,
				M8,
				M9,
				M10,
				M11,
				M12,
				M13,
				M14
,				ORDEM AS ORDEM_LINHA

/*
				CASE WHEN  @parcela=3		THEN NULL
					 ELSE				M12_VLR		END		AS M12,
				CASE WHEN ORDEM_LINHA >=11	AND @parcela>=3  THEN NULL
					 WHEN @parcela>=2		THEN NULL	
					 ELSE M13_VLR			END  AS M13,
				CASE WHEN ORDEM_LINHA >=7	AND @parcela>=3	THEN NULL
					 WHEN ORDEM_LINHA >=11	AND @parcela>=1	THEN NULL
					 WHEN @parcela>=1		THEN NULL
					 ELSE M14_VLR			END  AS M14
*/	
			FROM	P123GER_RPT  (NOLOCK)
			where 	dt_fecha = @DTREF 				and 
					1= case when @parcela = 1 and RPT=1 then 1
							when @parcela = 2 and RPT=2 then 1
							when @parcela = 3 and RPT=3 then 1
							when @parcela = 4 and RPT=4 then 1
							else 0 end

--				AND RIGHT(RTRIM(DESCRICAO),7) = 'CTO - %'
			ORDER BY ORDEM,DESCR

END
GO


-- SELECT * FROM P123_RPT