
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
go

-- EXEC [P123_PAGTO] '20140831'
-- EXEC [P123_PAGTO] '20140430'

-- EXEC [P123_PAGTO] '20140331'

-- PRODUCAO
-- SELECT * FROM P123_HISTORICO
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE PARC=1
-- INADIMPL P1 1A ANALISE = 30D APOS VCTO  -- PROD MAR, VCTO ABR, 30D MAI, 60D JUN
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE PARC=1 AND DT_VCTO1P IS NULL OR DT_VCTO1P> '20140430'
-- SELECT * FROM RATING_PROJETADO   WHERE DT_VCTO1P IS NULL 
-- INADIMPL P1 2A ANALISE = 60D APOS VCTO
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE DT_VCTO1P IS NULL OR DT_VCTO1P> '20140531'
-- INADIMPL P1 1A ANALISE = 30D APOS VCTO
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE DT_VCTO1P IS NULL OR DT_VCTO1P> '20140630'

-- SELECT * FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK) WHERE PANROPER='612155441'
-- SELECT * FROM	CDCSANTANAMicroCredito..COPER P (NOLOCK) WHERE OPNROPER='612155441'

-- SELECT SUM(VLR_OP) AS PROD, COUNT(*) AS QTD FROM P123_HISTORICO   WHERE DT_FECHA='20140331' AND RENEGOCIADO=0

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'P123_PAGTO' AND type = 'P')
   DROP PROCEDURE [dbo].[P123_PAGTO] 
GO

-- MENSAL
-- ***************************************
CREATE Procedure [dbo].[P123_PAGTO] 
 (@DTREF1  SMALLDATETIME )	AS  

BEGIN

-- PROCESSAR DIA 7 
-- 1. VER PRODUCAO			P1_PRODUCAO
-- 2. VER PGTOS P1, P2, P3	P123_PAGTO
-- 3. GERAR OS RELATORIOS : ANALISE (S/RENEG), VEICULOS (C/RENEG), AGENTES (S/RENEG)  
-- P123_RPT

DECLARE @DTREF  AS VARCHAR(8)
DECLARE @DTINI  AS VARCHAR(8)
DECLARE @DTFIM  AS VARCHAR(8)
DECLARE @DTM1   AS VARCHAR(8)
DECLARE @DTM4ANT   AS SMALLDATETIME

SET @DTREF = CONVERT(VARCHAR(8),@DTREF1,112)
SET @DTINI = CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'
SET @DTFIM = CONVERT(VARCHAR(8),@DTREF1,112)

SET @DTM1 = DATEADD(M,2,@DTINI)
SET @DTM1 = DATEADD(DD,-1,@DTM1)

-- 4 MESES ANTES
SET @DTM4ANT = DATEADD(M,-4,@DTREF1)

SELECT @DTM4ANT, @DTREF

-- FIM DO MES ANTERIOR
-- SET		@data_ANT=DATEADD(DD,-1,@data_ANT)


-- select * from P123_HISTORICO
-- SEPARAR A ATUALIZACAO DOS PGTOS DAS PARCELAS
-- PROCESSAR 4 MESES DEPOIS DA PRODUCAO (DT REF)

-- ATUALIZAR PARC 1, 2, 3
-- PARC 1
UPDATE	P123_HISTORICO 
						-- VCTO EM FDS
	SET DT_PAGTO   =CASE WHEN	DATEPART(DW,PADTVCTO) IN (1,7) AND PADTLIQ IS NOT NULL AND
								DATEDIFF(DD,PADTVCTO,PADTLIQ) <= 2
							AND	DATEDIFF(DD,PADTVCTO,PADTLIQ) >= 0
						THEN	PADTVCTO
						-- SE VENCTO EM FERIADO
						  WHEN 	PADTVCTO = (SELECT MAX(FEDTFER) FROM CDCSANTANAMicroCredito..TFERI WHERE FEDTFER<=PADTVCTO)
							AND PADTLIQ IS NOT NULL AND
								DATEDIFF(DD,PADTVCTO,PADTLIQ) IN (0,1)
						THEN	PADTVCTO
						-- SE VENCTO EM FERIADO SEX 
						  WHEN 	PADTVCTO = (SELECT MAX(FEDTFER) FROM CDCSANTANAMicroCredito..TFERI WHERE FEDTFER<=PADTVCTO)
							AND DATEPART(DW,PADTVCTO) IN (6)  -- VCTO SEX
							AND PADTLIQ IS NOT NULL AND
								DATEDIFF(DD,PADTVCTO,PADTLIQ) IN (0,1,2,3)
						THEN	PADTVCTO
						  ELSE  PADTLIQ END
--,  --  PAGTO E VCTO

--		DtVencPARC = PADTVCTO
	FROM	--P123_HISTORICO O (NOLOCK),
			CDCSANTANAMicroCredito..CPARC P (NOLOCK)
	WHERE	P123_HISTORICO.DT_FECHA BETWEEN @DTM4ANT AND @DTREF
		AND P123_HISTORICO.NUM_OPE =P.PANROPER
		AND P.PANRPARC=1		-- PARCELA 1 *********************
		AND P.PACNTRL = (SELECT MAX(P1.PACNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
							WHERE P1.PANROPER= P.PANROPER AND P1.PANRPARC = P.PANRPARC)

-- PARC 2 
UPDATE	P123_HISTORICO 
						-- VCTO EM FDS
	SET P2PGTO   =CASE WHEN	DATEPART(DW,PADTVCTO) IN (1,7) AND PADTLIQ IS NOT NULL AND
								DATEDIFF(DD,PADTVCTO,PADTLIQ) <= 2
							AND	DATEDIFF(DD,PADTVCTO,PADTLIQ) >= 0
						THEN	PADTVCTO
						-- SE VENCTO EM FERIADO
						  WHEN 	PADTVCTO = (SELECT MAX(FEDTFER) FROM CDCSANTANAMicroCredito..TFERI WHERE FEDTFER<=PADTVCTO)
							AND PADTLIQ IS NOT NULL AND
								DATEDIFF(DD,PADTVCTO,PADTLIQ) IN (0,1)
						THEN	PADTVCTO
						-- SE VENCTO EM FERIADO SEX 
						  WHEN 	PADTVCTO = (SELECT MAX(FEDTFER) FROM CDCSANTANAMicroCredito..TFERI WHERE FEDTFER<=PADTVCTO)
							AND DATEPART(DW,PADTVCTO) IN (6)  -- VCTO SEX
							AND PADTLIQ IS NOT NULL AND
								DATEDIFF(DD,PADTVCTO,PADTLIQ) IN (0,1,2,3)
						THEN	PADTVCTO
						  ELSE  PADTLIQ END,  --  PAGTO E VCTO
		P2VCTO = PADTVCTO
	FROM	--RATING_PROJETADO O (NOLOCK),
			CDCSANTANAMicroCredito..CPARC P (NOLOCK)
	WHERE	P123_HISTORICO.DT_FECHA BETWEEN @DTM4ANT AND @DTREF
		AND P123_HISTORICO.NUM_OPE =P.PANROPER
		AND P.PANRPARC=2		-- PARCELA 2 *********************
		AND P.PACNTRL = (SELECT MAX(P1.PACNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
							WHERE P1.PANROPER= P.PANROPER AND P1.PANRPARC = P.PANRPARC)
	--	AND PADTVCTO <=


-- SELECT TOP 100 * FROM CDCSANTANAMicroCredito..CPARC P

-- PARC 3
UPDATE	P123_HISTORICO 
						-- VCTO EM FDS
	SET P3PGTO   =CASE WHEN	DATEPART(DW,PADTVCTO) IN (1,7) AND PADTLIQ IS NOT NULL AND
								DATEDIFF(DD,PADTVCTO,PADTLIQ) <= 2
							AND	DATEDIFF(DD,PADTVCTO,PADTLIQ) >= 0
						THEN	PADTVCTO
						-- SE VENCTO EM FERIADO
						  WHEN 	PADTVCTO = (SELECT MAX(FEDTFER) FROM CDCSANTANAMicroCredito..TFERI WHERE FEDTFER<=PADTVCTO)
							AND PADTLIQ IS NOT NULL AND
								DATEDIFF(DD,PADTVCTO,PADTLIQ) IN (0,1)
						THEN	PADTVCTO
						-- SE VENCTO EM FERIADO SEX 
						  WHEN 	PADTVCTO = (SELECT MAX(FEDTFER) FROM CDCSANTANAMicroCredito..TFERI WHERE FEDTFER<=PADTVCTO)
							AND DATEPART(DW,PADTVCTO) IN (6)  -- VCTO SEX
							AND PADTLIQ IS NOT NULL AND
								DATEDIFF(DD,PADTVCTO,PADTLIQ) IN (0,1,2,3)
						THEN	PADTVCTO
						  ELSE  PADTLIQ END,  --  PAGTO E VCTO
		P3VCTO = PADTVCTO
	FROM	--RATING_PROJETADO O (NOLOCK),
			CDCSANTANAMicroCredito..CPARC P (NOLOCK)
	WHERE	P123_HISTORICO.DT_FECHA BETWEEN @DTM4ANT AND @DTREF
		AND P123_HISTORICO.NUM_OPE =P.PANROPER
		AND P.PANRPARC=3		-- PARCELA 3 *********************
		AND P.PACNTRL = (SELECT MAX(P1.PACNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
							WHERE P1.PANROPER= P.PANROPER AND P1.PANRPARC = P.PANRPARC)


/*

select * from P123_HISTORICO where 	DT_FECHA='2014-01-31'
		UPDATE	RATING_HISTORICO_AUX
			SET	DESCR1 = CASE WHEN CHARINDEX('LEVES',ISNULL(P.TPDESCR,'')) > 0 THEN 'LEVES'
							  WHEN CHARINDEX('MOTOS',ISNULL(P.TPDESCR,'')) > 0 THEN 'MOTOS'	
							  WHEN CHARINDEX('CAMINH',ISNULL(P.TPDESCR,''))+
									CHARINDEX('UTILIT',ISNULL(P.TPDESCR,'')) > 0 THEN 'UTILIT/CAMINHOES'	
							  ELSE 'LEVES' END
		FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK), 
				CDCSANTANAMicroCredito..TPROD P (NOLOCK)
		WHERE	RATING_HISTORICO_AUX.NUM_OPE = OPNROPER
			AND	OPCODPROD = P.TPCODPRD

*/
END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
