
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

use SIG
go

/*

 EXEC [dbo].P1_PRODUCAO	'2014-01-31'
 EXEC [dbo].P123_PAGTO	'2014-01-31'
 EXEC [dbo].P123_CALC_RPT 	'2014-01-31'

 EXEC [dbo].P1_PRODUCAO	'2014-02-28'
 EXEC [dbo].P123_PAGTO	'2014-02-28'
 EXEC [dbo].P123_CALC_RPT 	'2014-02-28'

 EXEC [dbo].P1_PRODUCAO	'2014-03-31'
 EXEC [dbo].P123_PAGTO	'2014-03-31'
 EXEC [dbo].P123_CALC_RPT 	'20140331'


-- 2013
 EXEC [dbo].P1_PRODUCAO	'2013-12-31'
 EXEC [dbo].P123_PAGTO	'2013-12-31'
 EXEC [dbo].P1_PRODUCAO	'2013-11-29'
 EXEC [dbo].P123_PAGTO	'2013-11-29'
 EXEC [dbo].P1_PRODUCAO	'2013-10-31'
 EXEC [dbo].P123_PAGTO	'2013-10-31'
 EXEC [dbo].P1_PRODUCAO	'2013-09-30'
 EXEC [dbo].P123_PAGTO	'2013-09-30'
 EXEC [dbo].P1_PRODUCAO	'2013-08-31'
 EXEC [dbo].P123_PAGTO	'2013-08-31'
 EXEC [dbo].P1_PRODUCAO	'2013-07-31'
 EXEC [dbo].P123_PAGTO	'2013-07-31'
 EXEC [dbo].P1_PRODUCAO	'2013-06-30'
 EXEC [dbo].P123_PAGTO	'2013-06-30'
 EXEC [dbo].P1_PRODUCAO	'2013-05-31'
 EXEC [dbo].P123_PAGTO	'2013-05-31'
 EXEC [dbo].P1_PRODUCAO	'2013-04-30'
 EXEC [dbo].P123_PAGTO	'2013-04-30'
 EXEC [dbo].P1_PRODUCAO	'2013-03-31'
 EXEC [dbo].P123_PAGTO	'2013-03-31'
 EXEC [dbo].P1_PRODUCAO	'2013-02-30'
 EXEC [dbo].P123_PAGTO	'2013-02-30'
 EXEC [dbo].P1_PRODUCAO	'2013-01-31'
 EXEC [dbo].P123_PAGTO	'2013-01-31'

-- select * from P123_HISTORICO
-- select * from P123_RPT WHERE DT_FECHA='20140331'
-- SELECT DATEPART(DW,'2013-11-30')

*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'P123_CALC_RPT' AND type = 'P')
   DROP PROCEDURE [dbo].[P123_CALC_RPT]
GO


CREATE Procedure [dbo].[P123_CALC_RPT] (@data_ref as datetime) AS
BEGIN

DECLARE @DTREF AS VARCHAR(8)
SET @DTREF = CONVERT(varchar(8),@data_ref,112)


/*  PARAMETRO DATA FECHAMENTO DA PDD
DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END

SELECT * FROM  RR_ROLLRATE_DIA_RPT

SP_HELP RR_ROLLRATE_DIA_RPT
-- SP_HELP P123_RPT
-- SP_HELP P123_HISTORICO
DROP TABLE P123_RPT

CREATE TABLE  P123_RPT (
DT_FECHA	smalldatetime,
RPT		INT,
AGENTE	varchar(6),
COBRADORA	varchar(6),
ORDEM_LINHA	int,
FORMATO	varchar(6),
DESCRICAO	varchar(50),
M1_VLR	float,
M2_VLR	float,
M3_VLR	float,
M4_VLR	float,
M5_VLR	float,
M6_VLR	float,
M7_VLR	float,
M8_VLR	float,
M9_VLR	float,
M10_VLR	float,
M11_VLR	float,
M12_VLR	float,
M13_VLR	float,
M14_VLR	float
)
 
CREATE INDEX P123_RPT_IDX1 ON P123_RPT  
	(DT_FECHA		,
	RPT		,
	AGENTE			,
	COBRADORA		,
	ORDEM_LINHA		) 

SELECT * FROM P123_RPT
*/
-- SELECT  CONVERT(CHAR(4),DATEPART(YEAR,GETDATE()))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,GETDATE()))),2)+'01'

-- APAGA PROCESSAMENTO ANTERIOR
delete  from P123_RPT 
	WHERE	 CONVERT(varchar(8),DT_FECHA,112) = @DTREF
	
-- CARREGA TABELA RESULTADO  
/*
CREATE INDEX RR_ROLLRATE_DIA_RPT_IDX1 ON RR_ROLLRATE_DIA_RPT  
	(DT_FECHA		,
	AGENTE			,
	COBRADORA		,
	ORDEM_LINHA		) 

*/

-- CARREGA DADOS ATUAIS
-- INSERE LINHAS ZERADAS E DEPOIS UPDATE
-- 1A LINHA
INSERT	P123_RPT
	(	
	DT_FECHA	,--	SMALLDATETIME,
	RPT			,  -- INT

	AGENTE		,--	VARCHAR(6),
	COBRADORA	,--	VARCHAR(6),
	ORDEM_LINHA	,--	int,
	FORMATO		,--	VARCHAR(6),
	DESCRICAO	,--	VARCHAR(50),

	M1_VLR		,--	FLOAT,
	M2_VLR		,--	FLOAT,
	M3_VLR		,--	FLOAT,
	M4_VLR		,--	FLOAT,
	M5_VLR		,--	FLOAT,
	M6_VLR		,--	FLOAT,
	M7_VLR		,--	FLOAT,
	M8_VLR		,--	FLOAT,
	M9_VLR		,--	FLOAT,
	M10_VLR		,--	FLOAT,
	M11_VLR		,--	FLOAT,
	M12_VLR		,--	FLOAT,
	M13_VLR		,--	FLOAT,
	M14_VLR		--	FLOAT,
)
SELECT	DISTINCT 
		@data_ref,
		1 , -- RPT ANALISE TTL VEIC
		AGENTE,
		'', --COBRADORA,
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		'SAFRA - Qtde Contratos' ,		-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14


/*
 DECLARE @data_ref SMALLDATETIME SET @data_ref='2014-05-02 19:22:00'
 SELECT @data_ref
 SELECT CONVERT(varchar(8),@data_ref,112)
 --SELECT CAST(@data_ref AS date)
SELECT *  */
FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE


-- 2A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		1, -- relatorio 1 = analise ttl
		AGENTE,
		'', --COBRADORA,
		2,				-- linha 2 = producao
		'',			-- FORMATO
		'Safra - Produção' ,	-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 3A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		1, -- relatorio 1 = ttl analise
		AGENTE,
		'', --COBRADORA,
		3,				-- linha 3
		'V',			-- FORMATO
		'1a Análise - Qtde' ,	-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 4A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		1, -- relatorio ttl analise
		AGENTE,
		'', --COBRADORA,
		4,				-- linha 4
		'V',			-- FORMATO A= VERMELHO NA TELA
		'1a Analise - %' ,		-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 5A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,	
		1, -- relatorio ttl analise
		AGENTE,
		'', --COBRADORA,
		5,				-- linha 5
		'V',				-- FORMATO
		'Dia 30 vcto - Valor' ,	-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 6A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		1, -- relatorio ttl analise
		AGENTE,
		'', --COBRADORA,
		6,				-- linha 6
		'V',				-- FORMATO
		'Dia 30 vcto - %' ,	-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 7A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		1, -- rpt 1 ttl analise
		AGENTE,
		'', --COBRADORA,
		7,				-- linha 7
		'A',				-- FORMATO
		'2a Analise - Qtde' ,	-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 8A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		1, -- rpt
		AGENTE,
		'', --COBRADORA,
		8,				-- linha 8
		'A',				-- FORMATO
		'2a Analise - %' ,	-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 9A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		1, -- rpt
		AGENTE,
		'', --COBRADORA,
		9,				-- linha 9
		'A',				-- FORMATO
		'30 D apos Vcto - Valor' ,	-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 10A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		1, -- rpt
		AGENTE,
		'', --COBRADORA,
		10,				-- linha 10
		'A',				-- FORMATO
		'30 D apos vcto - %' ,	-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 11A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		1, -- rpt
		AGENTE,
		'', --COBRADORA,
		11,				-- linha 11
		'V',				-- FORMATO
		'3a Analise - Qtde' ,	-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 12A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		1, -- rpt
		AGENTE,
		'', --COBRADORA,
		12,				-- linha 12
		'V',				-- FORMATO
		'3a Analise - %' ,	-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 13A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		1, -- rpt
		AGENTE,
		'', --COBRADORA,
		13,				-- linha 13
		'V',				-- FORMATO
		'60 D apos Vcto - Valor' ,	-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 14A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		1, -- rpt
		AGENTE,
		'', --COBRADORA,
		14,				-- linha 14
		'V',				-- FORMATO
		'60 D apos Vcto - %' ,	-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE


/*
SELECT	@data_ref,
		AGENTE,
		COBRADORA,
		1,  -- SALDO ANTERIOR
		'',	-- FORMATO
		'SALDO INICIAL' ,		-- DESCRICAO
		IsNULL(SUM(QTDE),0),	-- QTDE
		ISNULL(SUM(SALDO),0.0),	-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		IsNULL(SUM(QTDE),0),	-- QTDE
		ISNULL(SUM(SALDO),0.0)	-- SALDO
FROM
		RR_ROLLRATE	R	(NOLOCK)	
where	DT_FECHA = @data_ANT  -- FINAL DO MES ANTERIOR = INICIAL DESTE MES
	AND	ORDEM_LINHA = 5       -- LINHA DE SALDO FINAL	
 -- MES CORRENTE JA CALCULADO
	AND	RATING   = 'A'
GROUP	BY R.AGENTE, R.COBRADORA
*/

-- CALCULAR 14 M ANTERIORES
-- 
DECLARE @DTM1 DATETIME
DECLARE @DTM2 DATETIME
DECLARE @DTM3 DATETIME
DECLARE @DTM4 DATETIME
DECLARE @DTM5 DATETIME
DECLARE @DTM6 DATETIME
DECLARE @DTM7 DATETIME
DECLARE @DTM8 DATETIME
DECLARE @DTM9 DATETIME
DECLARE @DTM10 DATETIME
DECLARE @DTM11 DATETIME
DECLARE @DTM12 DATETIME
DECLARE @DTM13 DATETIME
DECLARE @DTM14 DATETIME

-- FECHAMENTO M1 = 14 meses anteriores
SET @DTM14 =  @data_ref  -- mes atual
	-- inicio mes REF  ********************
	
	-- 13 MESES ANT
	SET @DTM13 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM14))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM14))),2)+'01'
	SET	@DTM13 =  DATEADD(DD,-1,@DTM13) -- FIM mes anterior
	-- CHECA SE EH DIA UTIL
	SET	@DTM13= CASE WHEN DATEPART(DW,@DTM13) = 1 THEN DATEADD(D,-2,@DTM13)	-- DOMINGO
					WHEN DATEPART(DW,@DTM13) = 7 THEN DATEADD(D,-1,@DTM13)	-- SABADO
					ELSE @DTM13					 END

	-- 12 MESES ANT
	SET @DTM12 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM13))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM13))),2)+'01'
	SET	@DTM12 =  DATEADD(DD,-1,@DTM12) -- FIM mes anterior
	-- CHECA SE EH DIA UTIL
	SET	@DTM12= CASE WHEN DATEPART(DW,@DTM12) = 1 THEN DATEADD(D,-2,@DTM12)	-- DOMINGO
					WHEN DATEPART(DW,@DTM12) = 7 THEN DATEADD(D,-1,@DTM12)	-- SABADO
					ELSE @DTM12					 END

	-- 2o mes anterior  ********************
	SET @DTM11 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM12))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM12))),2)+'01'
	SET	@DTM11 =  DATEADD(DD,-1,@DTM11) -- FIM mes anterior
	-- CHECA SE EH DIA UTIL
	SET	@DTM11 = CASE	WHEN DATEPART(DW,@DTM11) = 1 THEN DATEADD(D,-2,@DTM11)	-- DOMINGO
						WHEN DATEPART(DW,@DTM11) = 7 THEN DATEADD(D,-1,@DTM11)	-- SABADO
						ELSE @DTM11					 END


	-- 3o mes anterior  ********************
	SET @DTM10 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM11))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM11))),2)+'01'
	SET	@DTM10 =  DATEADD(DD,-1,@DTM10) -- FIM mes anterior
	-- CHECA SE EH DIA UTIL
	SET	@DTM10 = CASE	WHEN DATEPART(DW,@DTM10) = 1 THEN DATEADD(D,-2,@DTM10)	-- DOMINGO
						WHEN DATEPART(DW,@DTM10) = 7 THEN DATEADD(D,-1,@DTM10)	-- SABADO
						ELSE @DTM10					 END

	-- 4o mes anterior  ********************
	SET @DTM9  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM10))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM10))),2)+'01'
	SET	@DTM9 =  DATEADD(DD,-1,@DTM9) -- FIM mes anterior
	-- CHECA SE EH DIA UTIL
	SET	@DTM9 = CASE	WHEN DATEPART(DW,@DTM9) = 1 THEN DATEADD(D,-2,@DTM9)	-- DOMINGO
						WHEN DATEPART(DW,@DTM9) = 7 THEN DATEADD(D,-1,@DTM9)	-- SABADO
						ELSE @DTM9					END

	-- 5o mes anterior  ********************
	SET @DTM8  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM9))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM9))),2)+'01'
	SET	@DTM8 =  DATEADD(DD,-1,@DTM8) -- FIM mes anterior
	-- CHECA SE EH DIA UTIL
	SET	@DTM8 = CASE	WHEN DATEPART(DW,@DTM8) = 1 THEN DATEADD(D,-2,@DTM8)	-- DOMINGO
						WHEN DATEPART(DW,@DTM8) = 7 THEN DATEADD(D,-1,@DTM8)	-- SABADO
						ELSE @DTM8					END

	-- 6o mes anterior  ********************
	SET @DTM7  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM8))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM8))),2)+'01'
	SET	@DTM7 =  DATEADD(DD,-1,@DTM7) -- FIM mes anterior
	-- CHECA SE EH DIA UTIL
	SET	@DTM7 = CASE	WHEN DATEPART(DW,@DTM7) = 1 THEN DATEADD(D,-2,@DTM7)	-- DOMINGO
						WHEN DATEPART(DW,@DTM7) = 7 THEN DATEADD(D,-1,@DTM7)	-- SABADO
						ELSE @DTM7					END

	-- 7o mes anterior  ********************
	SET @DTM6  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM7))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM7))),2)+'01'
	SET	@DTM6 =  DATEADD(DD,-1,@DTM6) -- FIM mes anterior
	-- CHECA SE EH DIA UTIL
	SET	@DTM6 = CASE	WHEN DATEPART(DW,@DTM6) = 1 THEN DATEADD(D,-2,@DTM6)	-- DOMINGO
						WHEN DATEPART(DW,@DTM6) = 7 THEN DATEADD(D,-1,@DTM6)	-- SABADO
						ELSE @DTM6					END

	-- 8o mes anterior  ********************
	SET @DTM5  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM6))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM6))),2)+'01'
	SET	@DTM5 =  DATEADD(DD,-1,@DTM5) -- FIM mes anterior
	-- CHECA SE EH DIA UTIL
	SET	@DTM5 = CASE	WHEN DATEPART(DW,@DTM5) = 1 THEN DATEADD(D,-2,@DTM5)	-- DOMINGO
						WHEN DATEPART(DW,@DTM5) = 7 THEN DATEADD(D,-1,@DTM5)	-- SABADO
						ELSE @DTM5					END


	-- 8o mes anterior  ********************
	SET @DTM4  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM5))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM5))),2)+'01'
	SET	@DTM4 =  DATEADD(DD,-1,@DTM4) -- FIM mes anterior
	-- CHECA SE EH DIA UTIL
	SET	@DTM4 = CASE	WHEN DATEPART(DW,@DTM4) = 1 THEN DATEADD(D,-2,@DTM4)	-- DOMINGO
						WHEN DATEPART(DW,@DTM4) = 7 THEN DATEADD(D,-1,@DTM4)	-- SABADO
						ELSE @DTM4					END

	-- 9o mes anterior  ********************
	SET @DTM3  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM4))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM4))),2)+'01'
	SET	@DTM3 =  DATEADD(DD,-1,@DTM3) -- FIM mes anterior
	-- CHECA SE EH DIA UTIL
	SET	@DTM3 = CASE	WHEN DATEPART(DW,@DTM3) = 1 THEN DATEADD(D,-2,@DTM3)	-- DOMINGO
						WHEN DATEPART(DW,@DTM3) = 7 THEN DATEADD(D,-1,@DTM3)	-- SABADO
						ELSE @DTM3					END

	-- 10o mes anterior  ********************
	SET @DTM2  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM3))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM3))),2)+'01'
	SET	@DTM2 =  DATEADD(DD,-1,@DTM2) -- FIM mes anterior
	-- CHECA SE EH DIA UTIL
	SET	@DTM2 = CASE	WHEN DATEPART(DW,@DTM2) = 1 THEN DATEADD(D,-2,@DTM2)	-- DOMINGO
						WHEN DATEPART(DW,@DTM2) = 7 THEN DATEADD(D,-1,@DTM2)	-- SABADO
						ELSE @DTM2					END

	-- 11o mes anterior  ********************
	SET @DTM1  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM2))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM2))),2)+'01'
	SET	@DTM1 =  DATEADD(DD,-1,@DTM1) -- FIM mes anterior
	-- CHECA SE EH DIA UTIL
	SET	@DTM1 = CASE	WHEN DATEPART(DW,@DTM1) = 1 THEN DATEADD(D,-2,@DTM1)	-- DOMINGO
						WHEN DATEPART(DW,@DTM1) = 7 THEN DATEADD(D,-1,@DTM1)	-- SABADO
						ELSE @DTM1					END

/*
SELECT @DTM14, @DTM13, @DTM12, @DTM11

-- ATUALIZAR O RELATORIO COM AS QTDES E SALDOS POR FAIXA DE ATRASO
-- SELECT * FROM P123_HISTORICO
-- QTDE SAFRA
-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET M14_VLR= QTDE
FROM	(SELECT COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
				WHERE CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM14 )  AS R
WHERE	
		CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
-- TTL
--CASE WHEN CONVERT(varchar(8),P123_HISTORICO.DT_FECHA,112)= @DTM14 THEN 
--			 WHEN CONVERT(varchar(8),P123_HISTORICO.DT_FECHA,112)= @DTM13 THEN SET M13= COUNT(*)			 END
--AND R.AGENTE     = p123_RPT.AGENTE
	--AND	R.COBRADORA  = p123_RPT.COBRADORA
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde
--GROUP BY R.AGENTE
*/


-- SAFRA QTDE RPT 1, LINHA 1 ************************************************
-- MESES 1 A 14
UPDATE	p123_RPT
 SET	M1_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE	FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM1
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde

UPDATE	p123_RPT
 SET	M2_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM2 
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde

UPDATE	p123_RPT
 SET	M3_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM3 
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde

UPDATE	p123_RPT
 SET	M4_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM4 
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde

UPDATE	p123_RPT
 SET	M5_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM5  
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde

UPDATE	p123_RPT
 SET	M6_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM6  
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde

UPDATE	p123_RPT
 SET	M7_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM7  
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde

UPDATE	p123_RPT
 SET	M8_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM8 
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde

UPDATE	p123_RPT
 SET	M9_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM9  
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde

UPDATE	p123_RPT
 SET	M10_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM10 
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde

UPDATE	p123_RPT
 SET	M11_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM11 
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde

UPDATE	p123_RPT
 SET	M12_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM12  
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M13_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM13  
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M14_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM14  
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde
-- ******************************************************* FIM RPT 1, LINHA 1

-- SAFRA VLR RPT 1, LINHA 2 ************************************************
-- SELECT * FROM P123_HISTORICO	R1 (NOLOCK) 
-- MESES 1 A 14
UPDATE	p123_RPT
 SET	M1_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM1
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 2 -- safra VLR

UPDATE	p123_RPT
 SET	M2_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM2 
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 2 -- safra VLR

UPDATE	p123_RPT
 SET	M3_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM3 
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 2 -- safra VLR

UPDATE	p123_RPT
 SET	M4_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM4 
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 2 -- safra VLR

UPDATE	p123_RPT
 SET	M5_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM5  
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 2 -- safra VLR

UPDATE	p123_RPT
 SET	M6_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM6  
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 2 -- safra VLR

UPDATE	p123_RPT
 SET	M7_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM7  
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 2 -- safra VLR

UPDATE	p123_RPT
 SET	M8_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM8 
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 2 -- safra VLR

UPDATE	p123_RPT
 SET	M9_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM9  
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 2 -- safra VLR

UPDATE	p123_RPT
 SET	M10_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM10 
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 2 -- safra VLR

UPDATE	p123_RPT
 SET	M11_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM11 
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 2 -- safra VLR

UPDATE	p123_RPT
 SET	M12_VLR= VLR
FROM	(SELECT		SUM(VLR_OP) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM12  
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 2 -- safra VLR

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M13_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM13  
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 2 -- safra VLR

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M14_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM14  
				AND RENEGOCIADO =0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 2 -- safra VLR
-- ******************************************************* FIM RPT 1, LINHA 2 VLR SAFRA



-- 1A ANALISE QTDE RPT 1, LINHA 3 ************************************************
-- SELECT * FROM  P123_HISTORICO
-- CORRETO: CONSIDERAR O VENCTO
-- SELECT		COUNT(*) AS QTDE	FROM P123_HISTORICO	R1 (NOLOCK) WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= '20140331'		AND RENEGOCIADO = 0		AND DtVencPARC <= '20140430'	AND (DT_PAGTO IS NULL OR DT_PAGTO > '20140430' )
-- SELECT		COUNT(*) AS QTDE	FROM P123_HISTORICO	R1 (NOLOCK) WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= '20140331'		AND RENEGOCIADO = 0		AND DtVencPARC <= '20140501'	AND (DT_PAGTO IS NULL OR DT_PAGTO > '20140501' )
-- MESES 1 A 14
UPDATE	p123_RPT
 SET	M1_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE	FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM1  -- PRODUCAO
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM2 -- VENCIDOS GERALMENTE 30 D
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM2 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 3 -- 1A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M2_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM2 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM3 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM3 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 3 -- 1A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M3_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM3 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM4 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM4 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 3 -- 1A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M4_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM4 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM5 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM5 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 3 -- 1A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M5_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM5
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM6 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM6 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 3 -- 1A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M6_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM6  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM7 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM7 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 3 -- 1A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M7_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM7  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM8 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM8 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 3 -- 1A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M8_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM8 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM9 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM9 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 3 -- 1A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M9_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM9  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM10 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM10 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 3 -- 1A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M10_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM10 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM11 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM11 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 3 -- 1A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M11_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM11 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM12 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM12 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 3 -- 1A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M12_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM12  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM13 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM13 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 3 -- 1A ANALISE  QTDE

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M13_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM13  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM14 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM14 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 3 -- 1A ANALISE  QTDE

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
-- SELECT DATEADD(D,+30,'20140331')
-- SELECT DATEADD(M,+1,'20140331')
UPDATE	p123_RPT
 SET	M14_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM14  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= DATEADD(D,+30,@DTM14) -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > DATEADD(D,+30,@DTM14) )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 3 -- 1A ANALISE  QTDE
-- ******************************************************* FIM RPT 1, LINHA 3 


-- 1A ANALISE % QTDE  RPT 1, LINHA 4 ************************************************
update	P123_RPT
	set 
		M1_VLR = (CASE WHEN QTTL.M1_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M1_VLR/QTTL.M1_VLR * 100.0  END),
		M2_VLR = (CASE WHEN QTTL.M2_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M2_VLR/QTTL.M2_VLR * 100.0  END),
		M3_VLR = (CASE WHEN QTTL.M3_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M3_VLR/QTTL.M3_VLR * 100.0  END),
		M4_VLR = (CASE WHEN QTTL.M4_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M4_VLR/QTTL.M4_VLR * 100.0  END),
		M5_VLR = (CASE WHEN QTTL.M5_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M5_VLR/QTTL.M5_VLR * 100.0  END),
		M6_VLR = (CASE WHEN QTTL.M6_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M6_VLR/QTTL.M6_VLR * 100.0  END),
		M7_VLR = (CASE WHEN QTTL.M7_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M7_VLR/QTTL.M7_VLR * 100.0  END),
		M8_VLR = (CASE WHEN QTTL.M8_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M8_VLR/QTTL.M8_VLR * 100.0  END),
		M9_VLR = (CASE WHEN QTTL.M9_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M9_VLR/QTTL.M9_VLR * 100.0  END),
		M10_VLR = (CASE WHEN QTTL.M10_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M10_VLR/QTTL.M10_VLR * 100.0  END),
		M11_VLR = (CASE WHEN QTTL.M11_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M11_VLR/QTTL.M11_VLR * 100.0  END),
		M12_VLR = (CASE WHEN QTTL.M12_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M12_VLR/QTTL.M12_VLR * 100.0  END),

		M13_VLR = (CASE WHEN QTTL.M13_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M13_VLR/QTTL.M13_VLR * 100.0  END),
		M14_VLR = (CASE WHEN QTTL.M14_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M14_VLR/QTTL.M14_VLR * 100.0  END)
	from (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
				AND R1.ORDEM_LINHA= 3 --  qtde 1A ANALISE 
				)  AS QTDE1A, 
		 (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
				AND R1.ORDEM_LINHA= 1 --  qtde SAFRA
				)  AS QTTL
where 	CONVERT(varchar(8),P123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND P123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND P123_RPT.ORDEM_LINHA= 4 --  qtde 1A ANALISE %
-- ******************************************************* FIM RPT 1, LINHA 4

-- 1A ANALISE VLR RPT 1, LINHA 5 ************************************************
-- SELECT * FROM P123_HISTORICO	R1 (NOLOCK) 
-- MESES 1 A 14
UPDATE	p123_RPT
 SET	M1_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM1
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM2 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM2 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 5 -- 1A ANALISE  VLR

UPDATE	p123_RPT
 SET	M2_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM2 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM3 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM3 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 5 -- 1A ANALISE  VLR

UPDATE	p123_RPT
 SET	M3_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM3 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM4 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM4 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 5 -- 1A ANALISE  VLR

UPDATE	p123_RPT
 SET	M4_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM4 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM5 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM5 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 5 -- 1A ANALISE  VLR

UPDATE	p123_RPT
 SET	M5_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM5  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM6 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM6 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 5 -- 1A ANALISE  VLR

UPDATE	p123_RPT
 SET	M6_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM6  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM7 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM7 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 5 -- 1A ANALISE  VLR

UPDATE	p123_RPT
 SET	M7_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM7  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM8 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM8 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 5 -- 1A ANALISE  VLR

UPDATE	p123_RPT
 SET	M8_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM8 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM9 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM9 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 5 -- 1A ANALISE  VLR

UPDATE	p123_RPT
 SET	M9_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM9  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM10 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM10 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 5 -- 1A ANALISE  VLR

UPDATE	p123_RPT
 SET	M10_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM10 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM11 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM11 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 5 -- 1A ANALISE  VLR

UPDATE	p123_RPT
 SET	M11_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM11 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM12 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM12 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 5 -- 1A ANALISE  VLR

UPDATE	p123_RPT
 SET	M12_VLR= VLR
FROM	(SELECT		SUM(VLR_OP) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM12  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM13 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM13 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 5 -- 1A ANALISE  VLR

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M13_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM13  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= @DTM14 -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > @DTM14 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 5 -- 1A ANALISE  VLR

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M14_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM14  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND DtVencPARC <= DATEADD(D,+30,@DTM14) -- VENCIDOS
				AND (DT_PAGTO IS NULL OR DT_PAGTO > DATEADD(D,+30,@DTM14) )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 5 -- 1A ANALISE  VLR
-- ******************************************************* FIM RPT 1, LINHA 5 - 1A ANALISE   VLR



-- 1A ANALISE % VLR  RPT 1, LINHA 6 ************************************************
update	P123_RPT
	set 
		M1_VLR = (CASE WHEN QTTL.M1_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M1_VLR/QTTL.M1_VLR * 100.0  END),
		M2_VLR = (CASE WHEN QTTL.M2_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M2_VLR/QTTL.M2_VLR * 100.0  END),
		M3_VLR = (CASE WHEN QTTL.M3_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M3_VLR/QTTL.M3_VLR * 100.0  END),
		M4_VLR = (CASE WHEN QTTL.M4_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M4_VLR/QTTL.M4_VLR * 100.0  END),
		M5_VLR = (CASE WHEN QTTL.M5_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M5_VLR/QTTL.M5_VLR * 100.0  END),
		M6_VLR = (CASE WHEN QTTL.M6_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M6_VLR/QTTL.M6_VLR * 100.0  END),
		M7_VLR = (CASE WHEN QTTL.M7_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M7_VLR/QTTL.M7_VLR * 100.0  END),
		M8_VLR = (CASE WHEN QTTL.M8_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M8_VLR/QTTL.M8_VLR * 100.0  END),
		M9_VLR = (CASE WHEN QTTL.M9_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M9_VLR/QTTL.M9_VLR * 100.0  END),
		M10_VLR = (CASE WHEN QTTL.M10_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M10_VLR/QTTL.M10_VLR * 100.0  END),
		M11_VLR = (CASE WHEN QTTL.M11_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M11_VLR/QTTL.M11_VLR * 100.0  END),
		M12_VLR = (CASE WHEN QTTL.M12_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M12_VLR/QTTL.M12_VLR * 100.0  END),

		M13_VLR = (CASE WHEN QTTL.M13_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M13_VLR/QTTL.M13_VLR * 100.0  END),
		M14_VLR = (CASE WHEN QTTL.M14_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M14_VLR/QTTL.M14_VLR * 100.0  END)
	from (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
				AND R1.ORDEM_LINHA= 5 --  VLR 1A ANALISE 
				)  AS QTDE1A, 
		 (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
				AND R1.ORDEM_LINHA= 2 --  VLR SAFRA
				)  AS QTTL
where 	CONVERT(varchar(8),P123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND P123_RPT.RPT = 1		-- RELATORIO SAFRA ANALISE TTL
	AND P123_RPT.ORDEM_LINHA= 6 --  VLR 1A ANALISE %
-- ******************************************************* FIM RPT 1, LINHA 6


-- ************************ 2A ANALISE ************************************************

-- 2A ANALISE QTDE RPT 1, LINHA 7 ************************************************
-- SELECT * FROM  P123_HISTORICO
-- CORRETO: CONSIDERAR O VENCTO
-- SELECT		* 	FROM P123_HISTORICO	R1 (NOLOCK) WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= '20140331'		AND RENEGOCIADO = 0		AND P2VCTO <= '20140531'	AND (P2PGTO IS NULL OR P2PGTO > '20140531' )
-- SELECT		COUNT(*) AS QTDE	FROM P123_HISTORICO	R1 (NOLOCK) WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= '20140331'		AND RENEGOCIADO = 0		AND P2VCTO <= '20140531'	AND (P2PGTO IS NULL OR P2PGTO > '20140531' )
-- SELECT		COUNT(*) AS QTDE	FROM P123_HISTORICO	R1 (NOLOCK) WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= '20140331'		AND RENEGOCIADO = 0		AND DtVencPARC <= '20140501'	AND (DT_PAGTO IS NULL OR DT_PAGTO > '20140501' )
-- MESES 1 A 14
UPDATE	p123_RPT
 SET	M1_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE	FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM1  -- PRODUCAO
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM3 -- VENCIDOS GERALMENTE 30 D
				AND (P2PGTO IS NULL OR P2PGTO > @DTM3 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 7 -- 2A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M2_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM2 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM4 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM4 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 7 -- 2A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M3_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM3 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM5 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM5 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 7 -- 2A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M4_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM4 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM6 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM6 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 7 -- 2A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M5_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM5
				AND P2VCTO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM7 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM7 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 7 -- 2A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M6_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM6  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM8 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM8 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 7 -- 2A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M7_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM7  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM9		 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM9 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 7 -- 2A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M8_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM8 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM10	 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM10 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 7 -- 2A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M9_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM9  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM11	 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM11 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 7 -- 2A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M10_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM10 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM12	 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM12 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 7 -- 2A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M11_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM11 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM13	 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM13 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 7 -- 2A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M12_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM12  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM14	 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM14 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 7 -- 2A ANALISE  QTDE

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M13_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM13  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= DATEADD(DD,+30,@DTM14) -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > DATEADD(DD,+30,@DTM14) )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 7 -- 2A ANALISE  QTDE

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
-- SELECT DATEADD(D,+30,'20140331')
-- SELECT DATEADD(M,+1,'20140331')
UPDATE	p123_RPT
 SET	M14_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM14  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= DATEADD(D,+60,@DTM14) -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > DATEADD(D,+60,@DTM14) )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 7 -- 2A ANALISE  QTDE
-- ******************************************************* FIM RPT 1, LINHA 7


-- 2A ANALISE % QTDE  RPT 1, LINHA 8 ************************************************
update	P123_RPT
	set 
		M1_VLR = (CASE WHEN QTTL.M1_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M1_VLR/QTTL.M1_VLR * 100.0  END),
		M2_VLR = (CASE WHEN QTTL.M2_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M2_VLR/QTTL.M2_VLR * 100.0  END),
		M3_VLR = (CASE WHEN QTTL.M3_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M3_VLR/QTTL.M3_VLR * 100.0  END),
		M4_VLR = (CASE WHEN QTTL.M4_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M4_VLR/QTTL.M4_VLR * 100.0  END),
		M5_VLR = (CASE WHEN QTTL.M5_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M5_VLR/QTTL.M5_VLR * 100.0  END),
		M6_VLR = (CASE WHEN QTTL.M6_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M6_VLR/QTTL.M6_VLR * 100.0  END),
		M7_VLR = (CASE WHEN QTTL.M7_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M7_VLR/QTTL.M7_VLR * 100.0  END),
		M8_VLR = (CASE WHEN QTTL.M8_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M8_VLR/QTTL.M8_VLR * 100.0  END),
		M9_VLR = (CASE WHEN QTTL.M9_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M9_VLR/QTTL.M9_VLR * 100.0  END),
		M10_VLR = (CASE WHEN QTTL.M10_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M10_VLR/QTTL.M10_VLR * 100.0  END),
		M11_VLR = (CASE WHEN QTTL.M11_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M11_VLR/QTTL.M11_VLR * 100.0  END),
		M12_VLR = (CASE WHEN QTTL.M12_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M12_VLR/QTTL.M12_VLR * 100.0  END),

		M13_VLR = (CASE WHEN QTTL.M13_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M13_VLR/QTTL.M13_VLR * 100.0  END),
		M14_VLR = (CASE WHEN QTTL.M14_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M14_VLR/QTTL.M14_VLR * 100.0  END)
	from (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
				AND R1.ORDEM_LINHA= 7 --  qtde 2A ANALISE 
				)  AS QTDE1A, 
		 (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
				AND R1.ORDEM_LINHA= 1 --  qtde SAFRA
				)  AS QTTL
where 	CONVERT(varchar(8),P123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND P123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND P123_RPT.ORDEM_LINHA= 8 --  qtde 2A ANALISE %
-- ******************************************************* FIM RPT 1, LINHA 8

-- 2A ANALISE VLR RPT 1, LINHA 9 ************************************************
-- SELECT * FROM P123_HISTORICO	R1 (NOLOCK) 
-- MESES 1 A 14
UPDATE	p123_RPT
 SET	M1_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM1
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM3		 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM3 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 9 -- 2A ANALISE  VLR

UPDATE	p123_RPT
 SET	M2_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM2 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM4 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM4 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 9 -- 2A ANALISE  VLR

UPDATE	p123_RPT
 SET	M3_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM3 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM5		 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM5 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 9 -- 2A ANALISE  VLR

UPDATE	p123_RPT
 SET	M4_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM4 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM6		 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM6 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 9 -- 2A ANALISE  VLR

UPDATE	p123_RPT
 SET	M5_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM5  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM7		 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM7 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 9 -- 2A ANALISE  VLR

UPDATE	p123_RPT
 SET	M6_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM6  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM8		 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM8 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 9 -- 2A ANALISE  VLR

UPDATE	p123_RPT
 SET	M7_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM7  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM9		 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM9 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 9 -- 2A ANALISE  VLR

UPDATE	p123_RPT
 SET	M8_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM8 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM10		-- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM10 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 9 -- 2A ANALISE  VLR

UPDATE	p123_RPT
 SET	M9_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM9  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM11	 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM11 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 9 -- 2A ANALISE  VLR

UPDATE	p123_RPT
 SET	M10_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM10 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM12	 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM12 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 9 -- 2A ANALISE  VLR

UPDATE	p123_RPT
 SET	M11_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM11 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM13	 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM13 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 9 -- 2A ANALISE  VLR

UPDATE	p123_RPT
 SET	M12_VLR= VLR
FROM	(SELECT		SUM(VLR_OP) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM12  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= @DTM14	 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > @DTM14 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 9 -- 2A ANALISE  VLR

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M13_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM13  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= DATEADD(DD,+30,@DTM14)	 -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > DATEADD(DD,+30,@DTM14) )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 9 -- 2A ANALISE  VLR

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M14_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM14  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P2VCTO <= DATEADD(D,+60,@DTM14) -- VENCIDOS
				AND (P2PGTO IS NULL OR P2PGTO > DATEADD(D,+60,@DTM14) )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 9 -- 2A ANALISE  VLR
-- ******************************************************* FIM RPT 1, LINHA 9 - 2A ANALISE   VLR



-- 2A ANALISE % VLR  RPT 1, LINHA 10 ************************************************
update	P123_RPT
	set 
		M1_VLR = (CASE WHEN QTTL.M1_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M1_VLR/QTTL.M1_VLR * 100.0  END),
		M2_VLR = (CASE WHEN QTTL.M2_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M2_VLR/QTTL.M2_VLR * 100.0  END),
		M3_VLR = (CASE WHEN QTTL.M3_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M3_VLR/QTTL.M3_VLR * 100.0  END),
		M4_VLR = (CASE WHEN QTTL.M4_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M4_VLR/QTTL.M4_VLR * 100.0  END),
		M5_VLR = (CASE WHEN QTTL.M5_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M5_VLR/QTTL.M5_VLR * 100.0  END),
		M6_VLR = (CASE WHEN QTTL.M6_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M6_VLR/QTTL.M6_VLR * 100.0  END),
		M7_VLR = (CASE WHEN QTTL.M7_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M7_VLR/QTTL.M7_VLR * 100.0  END),
		M8_VLR = (CASE WHEN QTTL.M8_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M8_VLR/QTTL.M8_VLR * 100.0  END),
		M9_VLR = (CASE WHEN QTTL.M9_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M9_VLR/QTTL.M9_VLR * 100.0  END),
		M10_VLR = (CASE WHEN QTTL.M10_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M10_VLR/QTTL.M10_VLR * 100.0  END),
		M11_VLR = (CASE WHEN QTTL.M11_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M11_VLR/QTTL.M11_VLR * 100.0  END),
		M12_VLR = (CASE WHEN QTTL.M12_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M12_VLR/QTTL.M12_VLR * 100.0  END),

		M13_VLR = (CASE WHEN QTTL.M13_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M13_VLR/QTTL.M13_VLR * 100.0  END),
		M14_VLR = (CASE WHEN QTTL.M14_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M14_VLR/QTTL.M14_VLR * 100.0  END)
	from (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
				AND R1.ORDEM_LINHA= 9 --  VLR 2A ANALISE 
				)  AS QTDE1A, 
		 (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
				AND R1.ORDEM_LINHA= 2 --  VLR SAFRA
				)  AS QTTL
where 	CONVERT(varchar(8),P123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND P123_RPT.RPT = 1		-- RELATORIO SAFRA ANALISE TTL
	AND P123_RPT.ORDEM_LINHA= 10 --  VLR 2A ANALISE %
-- ******************************************************* FIM RPT 1, LINHA 10

-- ******************************** 3A ANALISE *************************************************


-- 3A ANALISE QTDE RPT 1, LINHA 11 ************************************************
-- SELECT * FROM  P123_HISTORICO
-- CORRETO: CONSIDERAR O VENCTO
-- SELECT		COUNT(*) AS QTDE	FROM P123_HISTORICO	R1 (NOLOCK) WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= '20140331'		AND RENEGOCIADO = 0		AND DtVencPARC <= '20140430'	AND (DT_PAGTO IS NULL OR DT_PAGTO > '20140430' )
-- SELECT		COUNT(*) AS QTDE	FROM P123_HISTORICO	R1 (NOLOCK) WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= '20140331'		AND RENEGOCIADO = 0		AND DtVencPARC <= '20140501'	AND (DT_PAGTO IS NULL OR DT_PAGTO > '20140501' )
-- MESES 1 A 14
UPDATE	p123_RPT
 SET	M1_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE	FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM1  -- PRODUCAO
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM4		-- VENCIDOS GERALMENTE 30 D
				AND (P3PGTO IS NULL OR P3PGTO > @DTM4 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 11 -- 3A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M2_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM2 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM5		-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM5 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 11 -- 3A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M3_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM3 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM6		 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM6 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 11 -- 3A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M4_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM4 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM7		 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM7 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 11 -- 3A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M5_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM5
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM8		 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM8 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 11 -- 3A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M6_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM6  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM9		 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM9 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 11 -- 3A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M7_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM7  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM10		 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM10 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 11 -- 3A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M8_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM8 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM11	 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM11 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 11 -- 3A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M9_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM9  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM12	 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM12 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 11 -- 3A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M10_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM10 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM13	 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM13 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 11 -- 3A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M11_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM11 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM14	 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM14 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 11 -- 3A ANALISE  QTDE

UPDATE	p123_RPT
 SET	M12_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM12  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= DATEADD(DD,+30,@DTM14)	 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > DATEADD(DD,+30,@DTM14) )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 11 -- 3A ANALISE  QTDE

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M13_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM13  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= DATEADD(D,+60,@DTM14)	 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > DATEADD(D,+60,@DTM14) )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 11 -- 3A ANALISE  QTDE

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
-- SELECT DATEADD(D,+30,'20140331')
-- SELECT DATEADD(M,+1,'20140331')
UPDATE	p123_RPT
 SET	M14_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM14  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= DATEADD(D,+90,@DTM14) -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > DATEADD(D,+90,@DTM14) )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 11 -- 3A ANALISE  QTDE
-- ******************************************************* FIM RPT 1, LINHA 11


-- 3A ANALISE % QTDE  RPT 1, LINHA 12 ************************************************
update	P123_RPT
	set 
		M1_VLR = (CASE WHEN QTTL.M1_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M1_VLR/QTTL.M1_VLR * 100.0  END),
		M2_VLR = (CASE WHEN QTTL.M2_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M2_VLR/QTTL.M2_VLR * 100.0  END),
		M3_VLR = (CASE WHEN QTTL.M3_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M3_VLR/QTTL.M3_VLR * 100.0  END),
		M4_VLR = (CASE WHEN QTTL.M4_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M4_VLR/QTTL.M4_VLR * 100.0  END),
		M5_VLR = (CASE WHEN QTTL.M5_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M5_VLR/QTTL.M5_VLR * 100.0  END),
		M6_VLR = (CASE WHEN QTTL.M6_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M6_VLR/QTTL.M6_VLR * 100.0  END),
		M7_VLR = (CASE WHEN QTTL.M7_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M7_VLR/QTTL.M7_VLR * 100.0  END),
		M8_VLR = (CASE WHEN QTTL.M8_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M8_VLR/QTTL.M8_VLR * 100.0  END),
		M9_VLR = (CASE WHEN QTTL.M9_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M9_VLR/QTTL.M9_VLR * 100.0  END),
		M10_VLR = (CASE WHEN QTTL.M10_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M10_VLR/QTTL.M10_VLR * 100.0  END),
		M11_VLR = (CASE WHEN QTTL.M11_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M11_VLR/QTTL.M11_VLR * 100.0  END),
		M12_VLR = (CASE WHEN QTTL.M12_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M12_VLR/QTTL.M12_VLR * 100.0  END),

		M13_VLR = (CASE WHEN QTTL.M13_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M13_VLR/QTTL.M13_VLR * 100.0  END),
		M14_VLR = (CASE WHEN QTTL.M14_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M14_VLR/QTTL.M14_VLR * 100.0  END)
	from (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
				AND R1.ORDEM_LINHA= 11 --  qtde 3A ANALISE 
				)  AS QTDE1A, 
		 (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
				AND R1.ORDEM_LINHA= 1 --  qtde SAFRA
				)  AS QTTL
where 	CONVERT(varchar(8),P123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND P123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND P123_RPT.ORDEM_LINHA= 12 --  qtde 3A ANALISE %
-- ******************************************************* FIM RPT 1, LINHA 12

-- 3A ANALISE VLR RPT 1, LINHA 13 ************************************************
-- SELECT * FROM P123_HISTORICO	R1 (NOLOCK) 
-- MESES 1 A 14
UPDATE	p123_RPT
 SET	M1_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM1
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM2 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM2 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 13 -- 3A ANALISE  VLR

UPDATE	p123_RPT
 SET	M2_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM2 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM3 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM3 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 13 -- 3A ANALISE  VLR

UPDATE	p123_RPT
 SET	M3_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM3 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM4 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM4 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 13 -- 3A ANALISE  VLR

UPDATE	p123_RPT
 SET	M4_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM4 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM5 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM5 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 13 -- 3A ANALISE  VLR

UPDATE	p123_RPT
 SET	M5_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM5  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM6 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM6 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 13 -- 3A ANALISE  VLR

UPDATE	p123_RPT
 SET	M6_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM6  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM7 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM7 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 13 -- 3A ANALISE  VLR

UPDATE	p123_RPT
 SET	M7_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM7  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM8 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM8 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 13 -- 3A ANALISE  VLR

UPDATE	p123_RPT
 SET	M8_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM8 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM9 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM9 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 13 -- 3A ANALISE  VLR

UPDATE	p123_RPT
 SET	M9_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM9  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM10 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM10 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 13 -- 3A ANALISE  VLR

UPDATE	p123_RPT
 SET	M10_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM10 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM11 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM11 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 13 -- 3A ANALISE  VLR

UPDATE	p123_RPT
 SET	M11_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM11 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM12 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM12 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 13 -- 3A ANALISE  VLR

UPDATE	p123_RPT
 SET	M12_VLR= VLR
FROM	(SELECT		SUM(VLR_OP) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM12  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM13 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM13 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 13 -- 3A ANALISE  VLR

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M13_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM13  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM14 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM14 )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 13 -- 3A ANALISE  VLR

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M14_VLR= VLR
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM14  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= DATEADD(D,+30,@DTM14) -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > DATEADD(D,+30,@DTM14) )	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND p123_RPT.ORDEM_LINHA= 13 -- 3A ANALISE  VLR
-- ******************************************************* FIM RPT 1, LINHA 13 - 3A ANALISE   VLR



-- 3A ANALISE % VLR  RPT 1, LINHA 14 ************************************************
update	P123_RPT
	set 
		M1_VLR = (CASE WHEN QTTL.M1_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M1_VLR/QTTL.M1_VLR * 100.0  END),
		M2_VLR = (CASE WHEN QTTL.M2_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M2_VLR/QTTL.M2_VLR * 100.0  END),
		M3_VLR = (CASE WHEN QTTL.M3_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M3_VLR/QTTL.M3_VLR * 100.0  END),
		M4_VLR = (CASE WHEN QTTL.M4_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M4_VLR/QTTL.M4_VLR * 100.0  END),
		M5_VLR = (CASE WHEN QTTL.M5_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M5_VLR/QTTL.M5_VLR * 100.0  END),
		M6_VLR = (CASE WHEN QTTL.M6_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M6_VLR/QTTL.M6_VLR * 100.0  END),
		M7_VLR = (CASE WHEN QTTL.M7_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M7_VLR/QTTL.M7_VLR * 100.0  END),
		M8_VLR = (CASE WHEN QTTL.M8_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M8_VLR/QTTL.M8_VLR * 100.0  END),
		M9_VLR = (CASE WHEN QTTL.M9_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M9_VLR/QTTL.M9_VLR * 100.0  END),
		M10_VLR = (CASE WHEN QTTL.M10_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M10_VLR/QTTL.M10_VLR * 100.0  END),
		M11_VLR = (CASE WHEN QTTL.M11_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M11_VLR/QTTL.M11_VLR * 100.0  END),
		M12_VLR = (CASE WHEN QTTL.M12_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M12_VLR/QTTL.M12_VLR * 100.0  END),

		M13_VLR = (CASE WHEN QTTL.M13_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M13_VLR/QTTL.M13_VLR * 100.0  END),
		M14_VLR = (CASE WHEN QTTL.M14_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M14_VLR/QTTL.M14_VLR * 100.0  END)
	from (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
				AND R1.ORDEM_LINHA= 13 --  VLR 3A ANALISE 
				)  AS QTDE1A, 
		 (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
				AND R1.ORDEM_LINHA= 2 --  VLR SAFRA
				)  AS QTTL
where 	CONVERT(varchar(8),P123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND P123_RPT.RPT = 1		-- RELATORIO SAFRA ANALISE TTL
	AND P123_RPT.ORDEM_LINHA= 14 --  VLR 3A ANALISE %
-- ******************************************************* FIM RPT 1, LINHA 14






/*
SELECT * FROM p123_RPT
*/

/*
-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
update	p123_RPT
	set 

		M1_VLR = (CASE WHEN CONVERT(varchar(8),V.DT_FECHA,112)= @DTM1     THEN V.QTDE        ELSE E.M1_VLR  END),
		M2_VLR = (CASE WHEN CONVERT(varchar(8),V.DT_FECHA,112)= @DTM2     THEN V.QTDE        ELSE E.M2_VLR  END),
		M3_VLR = (CASE WHEN CONVERT(varchar(8),V.DT_FECHA,112)= @DTM3     THEN V.QTDE        ELSE E.M3_VLR  END),
		M4_VLR = (CASE WHEN CONVERT(varchar(8),V.DT_FECHA,112)= @DTM4     THEN V.QTDE        ELSE E.M4_VLR  END),
		M5_VLR = (CASE WHEN CONVERT(varchar(8),V.DT_FECHA,112)= @DTM5     THEN V.QTDE        ELSE E.M5_VLR  END),
		M6_VLR = (CASE WHEN CONVERT(varchar(8),V.DT_FECHA,112)= @DTM6     THEN V.QTDE        ELSE E.M6_VLR  END),
		M7_VLR = (CASE WHEN CONVERT(varchar(8),V.DT_FECHA,112)= @DTM7     THEN V.QTDE        ELSE E.M7_VLR  END),
		M8_VLR = (CASE WHEN CONVERT(varchar(8),V.DT_FECHA,112)= @DTM8     THEN V.QTDE        ELSE E.M8_VLR  END),
		M9_VLR = (CASE WHEN CONVERT(varchar(8),V.DT_FECHA,112)= @DTM9     THEN V.QTDE        ELSE E.M9_VLR  END),
		M10_VLR = (CASE WHEN CONVERT(varchar(8),V.DT_FECHA,112)= @DTM10   THEN V.QTDE        ELSE E.M10_VLR END),
		M11_VLR = (CASE WHEN CONVERT(varchar(8),V.DT_FECHA,112)= @DTM11   THEN V.QTDE        ELSE E.M11_VLR END),
		M12_VLR = (CASE WHEN CONVERT(varchar(8),V.DT_FECHA,112)= @DTM12   THEN V.QTDE        ELSE E.M12_VLR END),

		M13_VLR = (CASE WHEN CONVERT(varchar(8),V.DT_FECHA,112)= @DTM13   THEN V.QTDE        ELSE E.M13_VLR END),
		M14_VLR = (CASE WHEN CONVERT(varchar(8),V.DT_FECHA,112)= @DTM14   THEN V.QTDE        ELSE E.M14_VLR END)
	from (SELECT	DT_FECHA,COUNT(*) AS QTDE 
			FROM	P123_HISTORICO	R1 (NOLOCK) 
			GROUP BY DT_FECHA )  AS V, 
		 p123_RPT AS E
where 	CONVERT(varchar(8),E.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND E.RPT = 1 -- RELATORIO SAFRA ANALISE TTL
	AND E.ORDEM_LINHA= 1 -- safra qtde


DELETE FROM p123_RPT
SELECT * FROM p123_RPT
-- FAIXA A
UPDATE	p123_RPT
SET		A_QTDE = R.QTDE,	--	FLOAT
		A_SALDO= R.SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	P123_HISTORICO	R (NOLOCK) 
WHERE	CONVERT(varchar(8),R.DT_FECHA,112) = @DTREF
	AND	CONVERT(varchar(8),P123_HISTORICO.DT_FECHA,112) = @DTREF
	AND	R.RATING='A'
	AND R.AGENTE     = P123_HISTORICO.AGENTE
	AND	R.COBRADORA  = P123_HISTORICO.COBRADORA
	AND R.ORDEM_LINHA= 2  -- safra R$

*/


END
GO


-- SELECT * FROM P123_RPT