SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
go

-- EXEC [P1_PRODUCAO] '20140831'
-- EXEC [P1_PRODUCAO] '20140430'

-- EXEC [P1_PRODUCAO] '20140331'

-- EXEC [P1_PRODUCAO] '20140930'
-- EXEC [P1_PRODUCAO] '20141031'

-- PRODUCAO
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE PARC=1
-- INADIMPL P1 1A ANALISE = 30D APOS VCTO  -- PROD MAR, VCTO ABR, 30D MAI, 60D JUN
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE PARC=1 AND DT_VCTO1P IS NULL OR DT_VCTO1P> '20140430'
-- SELECT * FROM RATING_PROJETADO   WHERE DT_VCTO1P IS NULL 
-- INADIMPL P1 2A ANALISE = 60D APOS VCTO
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE DT_VCTO1P IS NULL OR DT_VCTO1P> '20140531'
-- INADIMPL P1 1A ANALISE = 30D APOS VCTO
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE DT_VCTO1P IS NULL OR DT_VCTO1P> '20140630'

-- SELECT * FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK) WHERE PANROPER='612155441'
-- SELECT * FROM	CDCSANTANAMicroCredito..COPER P (NOLOCK) WHERE OPNROPER='612155441'

-- SELECT SUM(VLR_OP) AS PROD, COUNT(*) AS QTD FROM P123_HISTORICO   WHERE DT_FECHA='20140331' AND RENEGOCIADO=0

/*
detalhes
select * from P123_HISTORICO  WHERE DT_FECHA='20140731' AND RENEGOCIADO=0



*/


-- PROCESSAR DIA 7 
-- 1. VER PRODUCAO			P1_PRODUCAO
-- 2. VER PGTOS P1, P2, P3	P123_PAGTO
-- 3. GERAR OS RELATORIOS : ANALISE (S/RENEG), VEICULOS (C/RENEG), AGENTES (S/RENEG)  
-- P123_RPT


-- SP_HELP RATING_PROJETADO
-- SP_HELP P123_HISTORICO

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'P123_PROC' AND type = 'P')
   DROP PROCEDURE [dbo].[P123_PROC] 
GO

-- [P123_PROC] '20140831'
-- [P123_PROC] '20140930'
-- [P123_PROC] '20141031'

-- MENSAL
-- ***************************************
CREATE Procedure [dbo].[P123_PROC] 
 (@DTREF1  SMALLDATETIME )	
AS  

BEGIN


DECLARE @DTREF  AS SMALLDATETIME
DECLARE @DTINI  AS SMALLDATETIME
DECLARE @DTFIM  AS VARCHAR(8)
DECLARE @DTM1   AS SMALLDATETIME

--set  @DTREF = CONVERT(VARCHAR(8),GETDATE(),112)
SET @DTREF = CONVERT(VARCHAR(8),@DTREF1,112)
SET @DTINI = CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'
SET @DTFIM = CONVERT(VARCHAR(8),@DTREF1,112)
SELECT @DTREF ,  @DTINI

-- DECLARE @DTINI DATETIME SET @DTINI = '20141001'   DECLARE @DTM1 DATETIME 
SET @DTM1 = CONVERT(CHAR(4),DATEPART(YEAR,@DTINI))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTINI))),2)+'01'
-- SET @DTM1  = DATEADD(M,-1,@DTINI)
SET @DTM1 = DATEADD(DD,-1,@DTM1)
SELECT @DTM1

-- 2MESES ANTERIORES 
DECLARE @DTM2  SMALLDATETIME
SET @DTM2 = CONVERT(CHAR(4),DATEPART(YEAR,@DTM1))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM1))),2)+'01'
--SET @DTM2 = DATEADD(M,-1,@DTM2)
SET @DTM2 = DATEADD(DD,-1,@DTM2)

SELECT @DTM2

--EXEC [P1_PRODUCAO] '20140831'
-- 3meses de pagto
 EXEC [P123_PAGTO] @DTREF
 EXEC [P123_PAGTO] @DTM1   --'20170630'
 EXEC [P123_PAGTO] @DTM2   --'20170531'

 EXEC [dbo].P1_CALC_RPT1 	@DTREF
 EXEC [dbo].P1_CALC_RPT2 	@DTREF
 EXEC [dbo].P1_CALC_RPT3 	@DTREF

 EXEC [dbo].P2_CALC_RPT1 	@DTREF
 EXEC [dbo].P2_CALC_RPT2 	@DTREF
 EXEC [dbo].P2_CALC_RPT3 	@DTREF

 EXEC [dbo].P3_CALC_RPT1 	@DTREF
 EXEC [dbo].P3_CALC_RPT2 	@DTREF
 EXEC [dbo].P3_CALC_RPT3 	@DTREF

END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
