SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
go
-- 4 min
-- EXEC [P123_job_data]  '20140430'
-- EXEC [P1_PRODUCAO] '20140430'

-- EXEC [P1_PRODUCAO] '20140331'

-- PRODUCAO
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE PARC=1
-- INADIMPL P1 1A ANALISE = 30D APOS VCTO  -- PROD MAR, VCTO ABR, 30D MAI, 60D JUN
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE PARC=1 AND DT_VCTO1P IS NULL OR DT_VCTO1P> '20140430'
-- SELECT * FROM RATING_PROJETADO   WHERE DT_VCTO1P IS NULL 
-- INADIMPL P1 2A ANALISE = 60D APOS VCTO
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE DT_VCTO1P IS NULL OR DT_VCTO1P> '20140531'
-- INADIMPL P1 1A ANALISE = 30D APOS VCTO
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE DT_VCTO1P IS NULL OR DT_VCTO1P> '20140630'

-- SELECT * FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK) WHERE PANROPER='612155441'
-- SELECT * FROM	CDCSANTANAMicroCredito..COPER P (NOLOCK) WHERE OPNROPER='612155441'

-- SELECT SUM(VLR_OP) AS PROD, COUNT(*) AS QTD FROM P123_HISTORICO   WHERE DT_FECHA='20140331' AND RENEGOCIADO=0

/*
detalhes
select * from P123_HISTORICO  WHERE DT_FECHA='20140731' AND RENEGOCIADO=0

use sig
select min(dt_fecha) from P123_HISTORICO  (nolock)
select distinct dt_fecha from P123_HISTORICO  (nolock)

select distinct dt_fecha  from P123_RPT  (nolock)
*/


-- PROCESSAR DIA 7 
-- 1. VER PRODUCAO			P1_PRODUCAO
-- 2. VER PGTOS P1, P2, P3	P123_PAGTO
-- 3. GERAR OS RELATORIOS : ANALISE (S/RENEG), VEICULOS (C/RENEG), AGENTES (S/RENEG)  
-- P123_RPT


-- SP_HELP RATING_PROJETADO
-- SP_HELP P123_HISTORICO

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'P123_job_data' AND type = 'P')
   DROP PROCEDURE [dbo].[P123_job_data] 
GO


-- MENSAL
-- ***************************************
CREATE Procedure [dbo].[P123_job_data]    (@DTREF1  SMALLDATETIME )
AS  

BEGIN

	DECLARE @DTREF  AS DATETIME

	SET		@DTREF =  CONVERT(CHAR(4),DATEPART(YEAR,@DTREF1))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF1))),2)+'01'
	-- FIM DO MES ANTERIOR = FECHAMENTO
	SET		@DTREF=DATEADD(DD,-1,@DTREF)
	-- SELECT @DTREF

	DECLARE @M1  AS DATETIME
	-- MES ANTERIOR AO DO FECHAMENTO
	set  @M1 = CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'
	SET		@M1=DATEADD(DD,-1,@M1)
	-- SELECT @M1

	DECLARE @M2  AS DATETIME
	-- MES ANTERIOR AO DO FECHAMENTO
	set  @M2 = CONVERT(CHAR(4),DATEPART(YEAR,@M1))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M1))),2)+'01'
	SET	 @M2=DATEADD(DD,-1,@M2)
	-- SELECT @M2	

	DECLARE @M3  AS DATETIME
	-- MES ANTERIOR AO DO FECHAMENTO
	set  @M3 = CONVERT(CHAR(4),DATEPART(YEAR,@M2))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M2))),2)+'01'
	SET	 @M3=DATEADD(DD,-1,@M3)
	--  SELECT @M3

	DECLARE @M4  AS DATETIME
	-- MES ANTERIOR AO DO FECHAMENTO
	set  @M4 = CONVERT(CHAR(4),DATEPART(YEAR,@M3))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M3))),2)+'01'
	SET	 @M4=DATEADD(DD,-1,@M4)
	-- SELECT @M4	

/*  -- 6 meses anteriores
	DECLARE @M5  AS DATETIME
	-- MES ANTERIOR AO DO FECHAMENTO
	set  @M5 = CONVERT(CHAR(4),DATEPART(YEAR,@M4))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M4))),2)+'01'
	SET	 @M5=DATEADD(DD,-1,@M5)
	-- 
SELECT @M5	
*/


		-- EXECUTA PROC  PRODUCAO
	 EXEC [P1_PRODUCAO] @M4
	 EXEC [P1_PRODUCAO] @M3
	 EXEC [P1_PRODUCAO] @M2
		-- EXECUTA PROC  PRODUCAO
	 EXEC [P1_PRODUCAO] @M1
		-- EXECUTA PROC  PRODUCAO
	 EXEC [P1_PRODUCAO] @DTREF


		-- EXECUTA PROC  3M PAGTO , RELATORIOS P123
	 EXEC [P123_PAGTO] @M4
	 EXEC [P123_PAGTO] @M3
	 EXEC [P123_PAGTO] @M2
		-- EXECUTA PROC  3M PAGTO , RELATORIOS P123
	 EXEC [P123_PAGTO] @M1
		-- EXECUTA PROC  3M PAGTO , RELATORIOS P123
	 EXEC [P123_PAGTO] @DTREF


	-- ***************************************************   5 MESes ANTERIORes

		-- EXECUTA  RELATORIOS P123
	 EXEC [dbo].P1_CALC_RPT1 	@M4
	 EXEC [dbo].P1_CALC_RPT2 	@M4
	 EXEC [dbo].P1_CALC_RPT3 	@M4

	 EXEC [dbo].P2_CALC_RPT1 	@M4
	 EXEC [dbo].P2_CALC_RPT2 	@M4
	 EXEC [dbo].P2_CALC_RPT3 	@M4

	 EXEC [dbo].P3_CALC_RPT1 	@M4
	 EXEC [dbo].P3_CALC_RPT2 	@M4
	 EXEC [dbo].P3_CALC_RPT3 	@M4

	-- ***************************************************   4 MESes ANTERIORes

		-- EXECUTA  RELATORIOS P123
	 EXEC [dbo].P1_CALC_RPT1 	@M3
	 EXEC [dbo].P1_CALC_RPT2 	@M3
	 EXEC [dbo].P1_CALC_RPT3 	@M3

	 EXEC [dbo].P2_CALC_RPT1 	@M3
	 EXEC [dbo].P2_CALC_RPT2 	@M3
	 EXEC [dbo].P2_CALC_RPT3 	@M3

	 EXEC [dbo].P3_CALC_RPT1 	@M3
	 EXEC [dbo].P3_CALC_RPT2 	@M3
	 EXEC [dbo].P3_CALC_RPT3 	@M3

	-- ***************************************************   3 MESes ANTERIORes

		-- EXECUTA  RELATORIOS P123
	 EXEC [dbo].P1_CALC_RPT1 	@M2
	 EXEC [dbo].P1_CALC_RPT2 	@M2
	 EXEC [dbo].P1_CALC_RPT3 	@M2

	 EXEC [dbo].P2_CALC_RPT1 	@M2
	 EXEC [dbo].P2_CALC_RPT2 	@M2
	 EXEC [dbo].P2_CALC_RPT3 	@M2

	 EXEC [dbo].P3_CALC_RPT1 	@M2
	 EXEC [dbo].P3_CALC_RPT2 	@M2
	 EXEC [dbo].P3_CALC_RPT3 	@M2


	-- ***************************************************   MES ANTERIOR



		-- EXECUTA  RELATORIOS P123
	 EXEC [dbo].P1_CALC_RPT1 	@M1
	 EXEC [dbo].P1_CALC_RPT2 	@M1
	 EXEC [dbo].P1_CALC_RPT3 	@M1

	 EXEC [dbo].P2_CALC_RPT1 	@M1
	 EXEC [dbo].P2_CALC_RPT2 	@M1
	 EXEC [dbo].P2_CALC_RPT3 	@M1

	 EXEC [dbo].P3_CALC_RPT1 	@M1
	 EXEC [dbo].P3_CALC_RPT2 	@M1
	 EXEC [dbo].P3_CALC_RPT3 	@M1


	-- ***************************************************   MES FECHAMENTO



		-- EXECUTA  RELATORIOS P123
	 EXEC [dbo].P1_CALC_RPT1 	@DTREF
	 EXEC [dbo].P1_CALC_RPT2 	@DTREF
	 EXEC [dbo].P1_CALC_RPT3 	@DTREF

	 EXEC [dbo].P2_CALC_RPT1 	@DTREF
	 EXEC [dbo].P2_CALC_RPT2 	@DTREF
	 EXEC [dbo].P2_CALC_RPT3 	@DTREF

	 EXEC [dbo].P3_CALC_RPT1 	@DTREF
	 EXEC [dbo].P3_CALC_RPT2 	@DTREF
	 EXEC [dbo].P3_CALC_RPT3 	@DTREF

END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
