
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
go

-- EXEC [P1_PRODUCAO] '20140831'
-- EXEC [P1_PRODUCAO] '20140731'
-- EXEC [P1_PRODUCAO] '20140430'



/*
 ALTER TABLE P123_HISTORICO ALTER COLUMN VEICULO VARCHAR(100)

[P123_job]

 EXEC [P1_PRODUCAO] '20131231'
 EXEC [P1_PRODUCAO] '20140131'
 EXEC [P1_PRODUCAO] '20140228'
 EXEC [P1_PRODUCAO] '20140331'

 EXEC [P1_PRODUCAO] '20140430'
 EXEC [P1_PRODUCAO] '20140531'
 EXEC [P1_PRODUCAO] '20140630'
 EXEC [P1_PRODUCAO] '20140731'
 EXEC [P1_PRODUCAO] '20140831'
 EXEC [P1_PRODUCAO] '20140930'

 EXEC [P1_PRODUCAO] '20141031'
 EXEC [P1_PRODUCAO] '20141130'
 EXEC [P1_PRODUCAO] '20141231'

 EXEC [P1_PRODUCAO] '20150131'

 EXEC [P1_PRODUCAO] '20150531'
 EXEC [P123_PAGTO] '20150531'
 EXEC [P123_PAGTO] '20150430'
 EXEC [P123_PAGTO] '20150331'


 EXEC [P123_PAGTO] '20131231'
 EXEC [P123_PAGTO] '20140131'
 EXEC [P123_PAGTO] '20140228'
 EXEC [P123_PAGTO] '20140331'
 EXEC [P123_PAGTO] '20140430'
 EXEC [P123_PAGTO] '20140531'
 EXEC [P123_PAGTO] '20140630'
 EXEC [P123_PAGTO] '20140731'
 EXEC [P123_PAGTO] '20140831'
 EXEC [P123_PAGTO] '20140930'

 EXEC [P123_PAGTO] '20141031'
 EXEC [P123_PAGTO] '20141130'
 EXEC [P123_PAGTO] '20141231'

 EXEC [P123_PAGTO] '20150131'

*/
-- PRODUCAO
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE PARC=1
-- INADIMPL P1 1A ANALISE = 30D APOS VCTO  -- PROD MAR, VCTO ABR, 30D MAI, 60D JUN
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE PARC=1 AND DT_VCTO1P IS NULL OR DT_VCTO1P> '20140430'
-- SELECT * FROM RATING_PROJETADO   WHERE DT_VCTO1P IS NULL 
-- INADIMPL P1 2A ANALISE = 60D APOS VCTO
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE DT_VCTO1P IS NULL OR DT_VCTO1P> '20140531'
-- INADIMPL P1 1A ANALISE = 30D APOS VCTO
-- SELECT SUM(SLD_INSCRITO) AS PROD, COUNT(*) AS QTD FROM RATING_PROJETADO   WHERE DT_VCTO1P IS NULL OR DT_VCTO1P> '20140630'

-- SELECT * FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK) WHERE PANROPER='612155441'
-- SELECT * FROM	CDCSANTANAMicroCredito..COPER P (NOLOCK) WHERE OPNROPER='612155441'

-- SELECT SUM(VLR_OP) AS PROD, COUNT(*) AS QTD FROM P123_HISTORICO   WHERE DT_FECHA='20140331' AND RENEGOCIADO=0

-- SP_HELP RATING_PROJETADO
-- SP_HELP P123_HISTORICO

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'P1_PRODUCAO' AND type = 'P')
   DROP PROCEDURE [dbo].[P1_PRODUCAO] 
GO

-- MENSAL
-- ***************************************
CREATE Procedure [dbo].[P1_PRODUCAO] 
 (@DTREF1  SMALLDATETIME )	AS  

BEGIN

DECLARE @DTREF  AS VARCHAR(8)
DECLARE @DTINI  AS VARCHAR(8)
DECLARE @DTFIM  AS VARCHAR(8)
DECLARE @DTM1   AS VARCHAR(8)

SET @DTREF = CONVERT(VARCHAR(8),@DTREF1,112)
SET @DTINI = CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'
SET @DTFIM = CONVERT(VARCHAR(8),@DTREF1,112)

SET @DTM1 = DATEADD(M,2,@DTINI)
SET @DTM1 = DATEADD(DD,-1,@DTM1)

-- FIM DO MES ANTERIOR
-- SET		@data_ANT=DATEADD(DD,-1,@data_ANT)


TRUNCATE TABLE   RATING_PROJETADO
-- DELETE FROM RATING_PROJETADO_PARC

-- COPIA O ULTIMO FECHAMENTO
-- DECLARE @DTFECHA SMALLDATETIME SET @DTFECHA='2014-04-30'
/*
INSERT RATING_PROJETADO
(DT_REF,
NUM_OPE,
DT_BASE,
NVL_RISCO,
NOM_CLI,
DT_VCTO1,
SLD_INSCRITO,
VLR_PRINC,
VL_JUROS,
TX_RAP,
RRF_JR,
VLR_FV,
PERC_PDD,
VLR_PDD,
Atraso,
parc,
dtVencParc,
AGENTE,
COBRADORA,
DT_FECHA,
DT_VCTO1P,
CODCLI,
CODPROD )
*/
-- P1
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES   TABELA AUXILIAR
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-05-29'
-- SELECT * FROM RATING_PROJETADO WHERE NUM_OPE='89313224'
-- ******************									OK
INSERT	RATING_PROJETADO 
		(NUM_OPE,DT_BASE,NVL_RISCO,SLD_INSCRITO, -- VLR OPERADO
		VLR_PRINC,  -- VLR PARCELA
		AGENTE,COBRADORA,ATRASO,
		DT_FECHA, 
		parc,
		dtVencParc,

		DT_VCTO1P,  -- USAR PARA PAGTO
		CODCLI,
		CODPROD )
		-- OPVLRFIN VLR OPER
SELECT	OPNROPER, OPDTBASE, 'AA', OPVLROPCZ,
		OPVLRPARC, 
		OPCODORG3,	-- OPERADOR DEPOIS TRANSF AGENTE
		'',0
			,		@DTREF, 
		-- PARC
		1,OPDT1VCTO,
		-- PGTO 
		NULL,OPCODCLI, OPCODOP  -- PRODUTO OPCODPROD ALTERADO EM 31/5/17 **********
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	-- PRODUCAO
			CONVERT(VARCHAR(8),OPDTBASE,112) BETWEEN @DTINI AND @DTFIM 

		--   LISTA COM MODALIDADES DO PRODUTO VEIC
		AND (OPCODOP IN (SELECT	M.COD_MODA
						FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
							AND T.COD_PROD = 'V' )
		OR	OPCODOP IN (751, 752 ) ) -- RENEG
			

/*
			and OPCODOP  IN (550,551,    552,553, 610,  611 , 612, 613 ,  630, 631,632 ,633,  640, 641  ,642,643,670,672,700,  751,752, 760,   860, 861, 863, 862,  893,894,
							800,	200,201, 250,251,   400,401,450,451  ,500,501,  600,601,  650,651, 671, 673, 720,   741,742
			, 554,555, 800,801, 802,890, 891,892) 
*/
			-- SOMENTE VEICULOS
--		AND OPCODOP IN (552,610,612,630,632,642,643,670,672,700,751,752,760,862,553 , 890, 893,894 , 800)

-- cart 80 e 89 refin  (800,890,893,894)
		-- se nao for renegociacao
		-- AND RIGHT(OPNROPER,1) NOT IN ('A','B')


		-- COD DO AGENTE ********************	
		UPDATE	RATING_PROJETADO
		SET		AGENTE		= ISNULL(OP.O3CODORGA13,'') -- ISNULL(A.COD_AGENTE,'')
		FROM	CDCSANTANAMicroCredito..TORG3 OP (NOLOCK) 
		WHERE	AGENTE = O3CODORG  -- OPERADOR
		-- OPERADOR AGENTE= OPCODORG3
		
		UPDATE	RATING_PROJETADO
		SET		AGENTE	='' WHERE AGENTE IS NULL

/*

-- FALTOU CARTEIRA 80 = REFIN UTILIT 
-- CODOP 800
SELECT * FROM CDCSANTANAMicroCredito..TMODA WHERE TOCODCART=80
		-- NOME DO AGENTE ********************	
		UPDATE	RATING_PROJETADO
		SET		AGENTE		= ISNULL(A.A13DESCR,'') --ISNULL(A.agente,'')
		FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)
		WHERE	AGENTE = A13CODORG --a.COD_agente  -- CONTEM CODIGO

		UPDATE	RATING_PROJETADO
		SET		AGENTE	='' WHERE AGENTE IS NULL
*/


			-- P1 VCTO OPDT1VCTO
--		AND OPNROPER = PANROPER
--		AND CONVERT(INT,PANRPARC) = 1 
--		AND CONVERT(VARCHAR(8),PADTVCTO,112) BETWEEN @DTINI AND @DTFIM   -- VENCIDO NO PERIODO, APOS FECHAMENTO
		-- AND CONVERT(VARCHAR(8),PADTVCTO,112) BETWEEN '20140501' AND '20140531'   -- VENCIDO NO PERIODO, APOS FECHAMENTO
		-- se nao existem NO ARQUIVO
		-- AND OPNROPER NOT IN (SELECT NUM_OPE FROM	RATING_PROJETADO (NOLOCK) )
		-- ALTERADO 6/8/2014 ********************************************************************
		-- SE FOR RENEGOCIACAO, PRECISA MANTER A DT BASE DA OPERACAO RENEGOCIADA, NAO ORIGINAL!!


-- SELECT *	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)	WHERE	OPDT1VCTO BETWEEN '20140801' AND '20140831' AND OPDTLIQ1 IS NULL
-- DT VENCTO P1 = OPDT1VCTO
-- SOMENTE VEICULOS FILTRAR OPCODOP
-- OPDTBASE BETWEEN '20140801' AND '20140831'  -- DT CONTRATO
	--OPDTBASE BETWEEN @DTINI AND @DTFIM	AND
--		CONVERT(VARCHAR(8),OPDTBASE,112) BETWEEN @DTINI AND @DTFIM 

/*
 SELECT *	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK),
					CDCSANTANAMicroCredito..CPARC P (NOLOCK)
	WHERE	OPDT1VCTO BETWEEN '20140801' AND '20140831'  --AND OPDTLIQ1 IS NULL
		AND P.PANROPER=O.OPNROPER AND P.PANRPARC=1

SELECT *	FROM	RATING_PROJETADO
*/

UPDATE	RATING_PROJETADO 
	SET DT_VCTO1P = PADTLIQ,  -- USAR PARA PAGTO
		-- ATRASO 
		ATRASO = CASE WHEN  PADTLIQ IS NULL THEN --DATEDIFF(DD,PADTVCTO,'20140430') ELSE 0 END
							DATEDIFF(DD,PADTVCTO,@DTM1) ELSE 0 END
	FROM	RATING_PROJETADO O (NOLOCK),
			CDCSANTANAMicroCredito..CPARC P (NOLOCK)
	WHERE	O.NUM_OPE =P.PANROPER
		AND P.PANRPARC=1		-- PARCELA 1 *********************
		AND P.PACNTRL = (SELECT MAX(P1.PACNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
							WHERE P1.PANROPER= P.PANROPER AND P1.PANRPARC = P.PANRPARC)

-- ZERA OS DADOS PARA PROJETAR
UPDATE	RATING_PROJETADO
SET		DT_FECHA=@DTREF

/*
-- SP_HELP RATING_HISTORICO
CREATE TABLE P123_HISTORICO (
DT_FECHA	smalldatetime,
NUM_OPE		varchar(50),
DT_BASE		smalldatetime,
VLR_OP		float,
VLR_PARC	float,
Atraso		int,
parc		int,
dtVencParc	smalldatetime,
AGENTE		varchar(6),
VEICULO		varchar(10),
RENEGOCIADO	INT,  -- 0 OU 1
DT_PAGTO	smalldatetime,
CODCLI	varchar(15),
CODPROD	smallint)

ALTER TABLE P123_HISTORICO ADD  P2VCTO SMALLDATETIME
ALTER TABLE P123_HISTORICO ADD  P2PGTO SMALLDATETIME
ALTER TABLE P123_HISTORICO ADD  P3VCTO SMALLDATETIME
ALTER TABLE P123_HISTORICO ADD  P3PGTO SMALLDATETIME

ALTER TABLE P123_HISTORICO ALTER COLUMN VEICULO VARCHAR(20)

CREATE INDEX P123_HISTORICO_idx1 ON P123_HISTORICO  
	(DT_FECHA		,
	NUM_OPE			,
	AGENTE			,
	VEICULO			,
	RENEGOCIADO		-- 0 OU 1
		) 


*/

-- ARMAZENAR O HISTORICO
DELETE P123_HISTORICO 
	WHERE DT_FECHA=@DTREF
-- PARC=1 AND	

INSERT P123_HISTORICO 
			(DT_FECHA	,
			NUM_OPE	,
			DT_BASE	,
			VLR_OP	,
			VLR_PARC	,
			Atraso	,
			parc	,
			dtVencParc	,
			AGENTE	,
			VEICULO	,
			RENEGOCIADO	,  -- 0 OU 1
			DT_PAGTO	,
			CODCLI	,
			CODPROD	)
	SELECT	dt_fecha,num_ope,
			DT_BASE, 
			SLD_INSCRITO,
			VLR_PRINC,
			ATRASO,
			parc,
			dtVencParc,

			AGENTE,
			'',
			CASE WHEN RIGHT(num_ope,1) IN ('A','B') THEN 1 ELSE 0 END, -- RENEGOCIADO

			DT_VCTO1P,  -- USAR PARA PAGTO
			CODCLI,
			CODPROD 
 FROM RATING_PROJETADO (NOLOCK)
		--WHERE DT_VCTO1P IS NULL OR DT_VCTO1P> @DTM1

-- ALTERACAO 22/1/16		*************** REFIN UTILIT SEM PRODUCAO
DECLARE @REFIN_UTIL INT
SET		@REFIN_UTIL = ISNULL((SELECT COUNT(*) FROM P123_HISTORICO  (NOLOCK) WHERE DT_FECHA=@DTREF AND VEICULO ='Refinanciamento Utilitarios' ),0)
--		INCLUIR CONTRATO FICTICIO SE NAO TEM PRODUCAO ****************
IF		@REFIN_UTIL = 0 
BEGIN
		INSERT P123_HISTORICO
		SELECT @DTREF, '800000000', NULL,0.0,0.0,0,1,NULL,97,'Refinanciamento Utilitarios',0,NULL,
		--CODCLI	CODPROD	P2VCTO	P2PGTO	P3VCTO	P3PGTO
		'10878108688',80,NULL,NULL,NULL,NULL
END

-- INCLUI 31/5/17
DECLARE @REFIN_UTIL_ESC INT
-- Refinanciamento Utilitários Escolar
SET		@REFIN_UTIL_ESC = ISNULL((SELECT COUNT(*) FROM P123_HISTORICO  (NOLOCK) WHERE DT_FECHA=@DTREF AND CHARINDEX('Refinanciamento',VEICULO)>0  AND CHARINDEX('Escolar',VEICULO)>0   ),0)
--		INCLUIR CONTRATO FICTICIO SE NAO TEM PRODUCAO ****************
IF		@REFIN_UTIL_ESC = 0 
BEGIN
		INSERT P123_HISTORICO
		SELECT @DTREF, '890000000', NULL,0.0,0.0,0,1,NULL,97,'Refinanciamento Utilitários Escolar',0,NULL,
		--CODCLI	CODPROD	P2VCTO	P2PGTO	P3VCTO	P3PGTO
		'10878108688',83,NULL,NULL,NULL,NULL
END


-- RENEGOCIADOS , INCLUIR CARTEIRA 75 ****************************************
UPDATE		P123_HISTORICO 
	SET 	VEICULO='RENEGOCIACAO',
			RENEGOCIADO=1
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK),
			CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		AND P123_HISTORICO.NUM_OPE =O.OPNROPER
		AND O.OPCODOP=M.TOCODOP		-- MODALIDADE *********************
		AND M.TOCODCART = 75		-- CARTEIRA DE RENEGOCIACAO	 75 	
-- SELECT * FROM 	CDCSANTANAMicroCredito..COPER O (NOLOCK)
-- SELECT * FROM 	CDCSANTANAMicroCredito..TMODA O (NOLOCK) -- TOCODCART = 75
-- SELECT * FROM 	CDCSANTANAMicroCredito..TCART O (NOLOCK) -- 75 = RENEGOCIACAO

-- REFINANCIAMENTO , INCLUIR CARTEIRA 80 ****************************************
-- REFIN UTILITARIOS
UPDATE		P123_HISTORICO 
	SET 	VEICULO='REFINANCIAMENTO',
			RENEGOCIADO=0
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK),
			CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		AND P123_HISTORICO.NUM_OPE =O.OPNROPER
		AND O.OPCODOP=M.TOCODOP		-- MODALIDADE *********************
		AND M.TOCODCART = 80		-- CARTEIRA DE REFINANCIAMENTO	 80 	



-- TIPO DE VEICULO = PRODUTO			********************
-- ALTER TABLE P123_HISTORICO ALTER COLUMN VEICULO VARCHAR(100)
-- DECLARE @DTREF  SMALLDATETIME  SET @DTREF = '20150930'
UPDATE	P123_HISTORICO
SET		VEICULO = CASE	WHEN DESCR_TIPO= 'Automatico' THEN 'LEVES'
						--WHEN DESCR_TIPO= 'Refinanciamento Utilitarios'	THEN 'Refinanciamento'
						ELSE DESCR_TIPO END
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK),
		Ttipo_prod		T (NOLOCK), 
		TModa_tipo_prod M (NOLOCK)  
WHERE	DT_FECHA		 = @DTREF
	AND	M.COD_PROD		 = 'V'		-- VEICULOS
	AND M.COD_PROD		 = T.COD_PROD 
	AND T.COD_MODALIDADE = M.COD_MODALIDADE 
	AND P123_HISTORICO.NUM_OPE =O.OPNROPER
	AND O.OPCODOP=M.COD_MODA		-- MODALIDADE *********************

/*  antes de out-15
SELECT * FROM P123_HISTORICO (NOLOCK) WHERE DT_FECHA = '20150930'

SELECT * FROM P123_HISTORICO (NOLOCK), CDCSANTANAMicroCredito..COPER O (NOLOCK)		,Ttipo_prod		T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
WHERE DT_FECHA = '20150930' 	AND	M.COD_PROD		 = 'V'		-- VEICULOS
	AND P123_HISTORICO.NUM_OPE =O.OPNROPER
	AND O.OPCODOP=M.COD_MODA		-- MODALIDADE *********************
	AND M.COD_PROD		 = T.COD_PROD 
	AND T.COD_MODALIDADE = M.COD_MODALIDADE 

SELECT * FROM Ttipo_prod		T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
	WHERE M.COD_PROD		 = T.COD_PROD 
	AND T.COD_MODALIDADE = M.COD_MODALIDADE 

UPDATE P123_HISTORICO 
	SET 	VEICULO=CASE	WHEN CHARINDEX('LEVES',ISNULL(P.TPDESCR,'')) > 0  THEN 'LEVES'
							WHEN CHARINDEX('MOTOS',ISNULL(P.TPDESCR,'')) > 0  THEN 'MOTOS'	
							WHEN CHARINDEX('CAMINH',ISNULL(P.TPDESCR,''))+
							 	 CHARINDEX('UTILIT',ISNULL(P.TPDESCR,'')) > 0 THEN 'UTILITARIO'	
							ELSE 'LEVES' END
 FROM		CDCSANTANAMicroCredito..TPROD P (NOLOCK)
	WHERE	DT_FECHA=@DTREF
			AND	CODPROD = P.TPCODPRD
		--AND	P123_HISTORICO.NUM_OPE = OPNROPER
*/
-- RENEGOCIACAO
UPDATE		P123_HISTORICO 
	SET 	VEICULO=CASE WHEN RENEGOCIADO > 0 THEN 'RENEGOCIACAO' ELSE VEICULO END
	WHERE	DT_FECHA=@DTREF

-- REFINANCIAMENTO cart 89
/*		-- comentei out-15
UPDATE		P123_HISTORICO 
	SET 	VEICULO=CASE WHEN LEFT(NUM_OPE,2) ='89' THEN 'REFINANCIAMENTO' ELSE VEICULO END,
			-- ALTERADO FEV/2015 PARA INCLUIR O REFIN NOS CALCULOS DO P123
			RENEGOCIADO=CASE WHEN LEFT(NUM_OPE,2) ='89' THEN 0 ELSE RENEGOCIADO END
	WHERE	DT_FECHA=@DTREF
*/

UPDATE	P123_HISTORICO 
	SET VEICULO='RENEGOCIACAO', 
		RENEGOCIADO=1 
	WHERE	DT_FECHA=@DTREF
		AND LEFT(NUM_OPE,2) ='89' 
		AND RIGHT(NUM_OPE,1) IN ('A','B')


--  REFINANCIAMENTO  893
-- SEPARAR A ATUALIZACAO DOS PGTOS DAS PARCELAS
-- PROCESSAR 4 MESES DEPOIS DA PRODUCAO (DT REF)

-- ATUALIZAR PARC 1, 2, 3

-- PARC 2 ***************************
UPDATE	P123_HISTORICO 
	SET P2PGTO = PADTLIQ,  --  PAGTO E VCTO
		P2VCTO = PADTVCTO
	FROM	RATING_PROJETADO O (NOLOCK),
			CDCSANTANAMicroCredito..CPARC P (NOLOCK)
	WHERE	P123_HISTORICO.DT_FECHA=@DTREF		-- ALTERADO 27/6/16
		AND P123_HISTORICO.NUM_OPE = O.NUM_OPE 
		AND	O.NUM_OPE =P.PANROPER
		AND P.PANRPARC=2		-- PARCELA 2 *********************
		AND P.PACNTRL = (SELECT MAX(P1.PACNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
							WHERE P1.PANROPER= P.PANROPER AND P1.PANRPARC = P.PANRPARC)
--		AND PADTVCTO <=

-- PARC 3 ****************************
UPDATE	P123_HISTORICO 
	SET P3PGTO = PADTLIQ,  --  PAGTO E VCTO
		P3VCTO = PADTVCTO
	FROM	RATING_PROJETADO O (NOLOCK),
			CDCSANTANAMicroCredito..CPARC P (NOLOCK)
	WHERE	P123_HISTORICO.DT_FECHA=@DTREF		-- ALTERADO 27/6/16
		AND P123_HISTORICO.NUM_OPE = O.NUM_OPE 
		AND O.NUM_OPE =P.PANROPER
		AND P.PANRPARC=3		-- PARCELA 3 *********************
		AND P.PACNTRL = (SELECT MAX(P1.PACNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
							WHERE P1.PANROPER= P.PANROPER AND P1.PANRPARC = P.PANRPARC)


/*
		UPDATE	RATING_HISTORICO_AUX
			SET	DESCR1 = CASE WHEN CHARINDEX('LEVES',ISNULL(P.TPDESCR,'')) > 0 THEN 'LEVES'
							  WHEN CHARINDEX('MOTOS',ISNULL(P.TPDESCR,'')) > 0 THEN 'MOTOS'	
							  WHEN CHARINDEX('CAMINH',ISNULL(P.TPDESCR,''))+
									CHARINDEX('UTILIT',ISNULL(P.TPDESCR,'')) > 0 THEN 'UTILIT/CAMINHOES'	
							  ELSE 'LEVES' END
		FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK), 
				CDCSANTANAMicroCredito..TPROD P (NOLOCK)
		WHERE	RATING_HISTORICO_AUX.NUM_OPE = OPNROPER
			AND	OPCODPROD = P.TPCODPRD

*/
END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
