
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

use SIG
go

/*
 EXEC [dbo].P3_CALC_RPT3 	'20141130'

 EXEC [dbo].P3_CALC_RPT3 	'20140831'
select * from P123_RPT WHERE DT_FECHA='20140831' AND RPT=33 ORDER BY ORDEM_LINHA,DESCRICAO

select * from P123_RPT WHERE DT_FECHA='20141130' AND RPT=33 ORDER BY ORDEM_LINHA,DESCRICAO

001384 , 1386
-- select * from P123_HISTORICO
-- select * from P123_RPT WHERE DT_FECHA='20140331'
-- SELECT DATEPART(DW,'2013-11-30')

*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'P3_CALC_RPT3' AND type = 'P')
   DROP PROCEDURE [dbo].[P3_CALC_RPT3]
GO


CREATE Procedure [dbo].[P3_CALC_RPT3] (@data_ref as datetime) AS
BEGIN
-- RPT 2 VEICULO **********

DECLARE @DTREF AS VARCHAR(8)
SET @DTREF = CONVERT(varchar(8),@data_ref,112)


/*  PARAMETRO DATA FECHAMENTO = ULTIMO DIA DO MES

-- SP_HELP P123_RPT
-- SP_HELP P123_HISTORICO
DROP TABLE P123_RPT

CREATE TABLE  P123_RPT (
DT_FECHA	smalldatetime,
RPT		INT,
AGENTE	varchar(6),
COBRADORA	varchar(6),
ORDEM_LINHA	int,
FORMATO	varchar(6),
DESCRICAO	varchar(50),
M1_VLR	float,
M2_VLR	float,
M3_VLR	float,
M4_VLR	float,
M5_VLR	float,
M6_VLR	float,
M7_VLR	float,
M8_VLR	float,
M9_VLR	float,
M10_VLR	float,
M11_VLR	float,
M12_VLR	float,
M13_VLR	float,
M14_VLR	float
)
 
CREATE INDEX P123_RPT_IDX1 ON P123_RPT  
	(DT_FECHA		,
	RPT		,
	AGENTE			,
	COBRADORA		,
	ORDEM_LINHA		) 

SELECT * FROM P123_RPT

		-- NOME DO AGENTE ********************	
		UPDATE	P123_HISTORICO
		SET		AGENTE		= ISNULL(A.A13DESCR,'') --ISNULL(A.agente,'')
		FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)
		WHERE	AGENTE = A13CODORG --a.COD_agente  -- CONTEM CODIGO

		UPDATE	P123_HISTORICO
		SET		AGENTE	='' WHERE AGENTE IS NULL

*/

-- CALCULAR 14 M ANTERIORES
-- 
DECLARE @DTM1 DATETIME
DECLARE @DTM2 DATETIME
DECLARE @DTM3 DATETIME
DECLARE @DTM4 DATETIME
DECLARE @DTM5 DATETIME
DECLARE @DTM6 DATETIME
DECLARE @DTM7 DATETIME
DECLARE @DTM8 DATETIME
DECLARE @DTM9 DATETIME
DECLARE @DTM10 DATETIME
DECLARE @DTM11 DATETIME
DECLARE @DTM12 DATETIME
DECLARE @DTM13 DATETIME
DECLARE @DTM14 DATETIME
DECLARE @DTM15 DATETIME
DECLARE @DTM16 DATETIME
DECLARE @DTM17 DATETIME
DECLARE @DTM18 DATETIME
DECLARE @DTM19 DATETIME

-- FECHAMENTO M1 = 14, var 15 meses anteriores
	-- inicio mes REF  ********************
	SET @DTM14 =  @data_ref  -- FIM mes atual FECHADO
	-- MESES SEGUINTES AO REF, 1a 2a 3a analise
	-- m14 + 30d
	SET @DTM15 =  DATEADD(MM,+2,@DTM14) -- + 1 mes
	SET @DTM15 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM15))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM15))),2)+'01'
	SET	@DTM15 =  DATEADD(DD,-1,@DTM15) -- FIM mes 
	-- m14 + 60d
	SET @DTM16 =  DATEADD(MM,+2,@DTM15) -- + 1 mes
	SET @DTM16 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM16))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM16))),2)+'01'
	SET	@DTM16 =  DATEADD(DD,-1,@DTM16) -- FIM mes 
	-- m14 + 90d
	SET @DTM17 =  DATEADD(MM,+2,@DTM16) -- + 1 mes
	SET @DTM17 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM17))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM17))),2)+'01'
	SET	@DTM17 =  DATEADD(DD,-1,@DTM17) -- FIM mes 
	-- m14 + 120d
	SET @DTM18 =  DATEADD(MM,+2,@DTM17) -- + 1 mes
	SET @DTM18 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM18))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM18))),2)+'01'
	SET	@DTM18 =  DATEADD(DD,-1,@DTM18) -- FIM mes 
	-- m14 + 150d
	SET @DTM19 =  DATEADD(MM,+2,@DTM18) -- + 1 mes
	SET @DTM19 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM19))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM19))),2)+'01'
	SET	@DTM19 =  DATEADD(DD,-1,@DTM19) -- FIM mes 
	
	-- 13 MESES ANT
	SET @DTM13 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM14))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM14))),2)+'01'
	SET	@DTM13 =  DATEADD(DD,-1,@DTM13) -- FIM mes anterior

	-- 12 MESES ANT
	SET @DTM12 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM13))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM13))),2)+'01'
	SET	@DTM12 =  DATEADD(DD,-1,@DTM12) -- FIM mes anterior

	-- 2o mes anterior  ********************
	SET @DTM11 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM12))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM12))),2)+'01'
	SET	@DTM11 =  DATEADD(DD,-1,@DTM11) -- FIM mes anterior

	-- 3o mes anterior  ********************
	SET @DTM10 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM11))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM11))),2)+'01'
	SET	@DTM10 =  DATEADD(DD,-1,@DTM10) -- FIM mes anterior

	-- 4o mes anterior  ********************
	SET @DTM9  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM10))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM10))),2)+'01'
	SET	@DTM9 =  DATEADD(DD,-1,@DTM9) -- FIM mes anterior

	-- 5o mes anterior  ********************
	SET @DTM8  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM9))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM9))),2)+'01'
	SET	@DTM8 =  DATEADD(DD,-1,@DTM8) -- FIM mes anterior

	-- 6o mes anterior  ********************
	SET @DTM7  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM8))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM8))),2)+'01'
	SET	@DTM7 =  DATEADD(DD,-1,@DTM7) -- FIM mes anterior

	-- 7o mes anterior  ********************
	SET @DTM6  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM7))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM7))),2)+'01'
	SET	@DTM6 =  DATEADD(DD,-1,@DTM6) -- FIM mes anterior

	-- 8o mes anterior  ********************
	SET @DTM5  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM6))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM6))),2)+'01'
	SET	@DTM5 =  DATEADD(DD,-1,@DTM5) -- FIM mes anterior

	-- 8o mes anterior  ********************
	SET @DTM4  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM5))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM5))),2)+'01'
	SET	@DTM4 =  DATEADD(DD,-1,@DTM4) -- FIM mes anterior

	-- 9o mes anterior  ********************
	SET @DTM3  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM4))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM4))),2)+'01'
	SET	@DTM3 =  DATEADD(DD,-1,@DTM3) -- FIM mes anterior

	-- 10o mes anterior  ********************
	SET @DTM2  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM3))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM3))),2)+'01'
	SET	@DTM2 =  DATEADD(DD,-1,@DTM2) -- FIM mes anterior

	-- 11o mes anterior  ********************
	SET @DTM1  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM2))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM2))),2)+'01'
	SET	@DTM1 =  DATEADD(DD,-1,@DTM1) -- FIM mes anterior



-- SELECT  CONVERT(CHAR(4),DATEPART(YEAR,GETDATE()))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,GETDATE()))),2)+'01'

-- APAGA PROCESSAMENTO ANTERIOR
delete		from P123_RPT 
	WHERE	CONVERT(varchar(8),DT_FECHA,112) = @DTREF
		AND RPT=33

-- CARREGA TABELA RESULTADO  
-- INSERE LINHAS ZERADAS E DEPOIS UPDATE
-- 1A LINHA
INSERT	P123_RPT
	(	
	DT_FECHA	,--	SMALLDATETIME,
	RPT			,  -- INT

	AGENTE		,--	VARCHAR(6),
	COBRADORA	,--	VARCHAR(6),
	ORDEM_LINHA	,--	int,
	FORMATO		,--	VARCHAR(6),
	DESCRICAO	,--	VARCHAR(50),

	M1_VLR		,--	FLOAT,
	M2_VLR		,--	FLOAT,
	M3_VLR		,--	FLOAT,
	M4_VLR		,--	FLOAT,
	M5_VLR		,--	FLOAT,
	M6_VLR		,--	FLOAT,
	M7_VLR		,--	FLOAT,
	M8_VLR		,--	FLOAT,
	M9_VLR		,--	FLOAT,
	M10_VLR		,--	FLOAT,
	M11_VLR		,--	FLOAT,
	M12_VLR		,--	FLOAT,
	M13_VLR		,--	FLOAT,
	M14_VLR		--	FLOAT,
)
SELECT	DISTINCT 
		@data_ref,
		33 , -- RPT ANALISE AGENTE, P3
		'', -- AGENTE,
		'', -- COBRADORA,
		1,				-- linha 1 = producao
		'',			-- FORMATO
		'Safra - Produção (C/RENEG)' ,	-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE
-- SELECT * FROM P123_RPT

-- 2A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		33 , -- RPT ANALISE AGENTE, P3
		'', -- AGENTE,
		'', -- COBRADORA,
		2,  -- LINHA 2 = SAFRA QTDE C/ RENEG
		'',	-- FORMATO
		'SAFRA - Qtde Contratos' ,		-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14

FROM
		P123_HISTORICO	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE
-- ************ FIM DA PRODUCAO  *******


-- 3A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		33 , -- RPT ANALISE AGENTE, P3
		'', -- AGENTE,
		'', -- COBRADORA,
		3,				-- linha 3
		'V',			-- FORMATO
		AGENTE ,	-- DESCRICAO  +' - VLR'
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
		-- where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE
		-- ALTERADO 6/9/16  DIFERENCA NOS TTLS DE PRODUCAO  ********
WHERE	DT_FECHA BETWEEN @DTM1 AND  @DTREF  
		-- NO MES CORRENTE NAO TEM PRODUCAO, MAS TINHA EM 2015
		-- CHECA PRODUCAO NO PERIODO E AGRUPA POR AGENTE
GROUP BY AGENTE
-- SELECT * FROM		P123_HISTORICO


-- 4A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		33 , -- RPT ANALISE AGENTE, P3
		'', -- AGENTE,
		'', -- COBRADORA,
		4,				-- linha 4
		'A',			-- FORMATO
		AGENTE, --'2a Analise - VLR' ,	-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
		-- where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE
		-- ALTERADO 6/9/16  DIFERENCA NOS TTLS DE PRODUCAO  ********
WHERE	DT_FECHA BETWEEN @DTM1 AND  @DTREF  
		-- NO MES CORRENTE NAO TEM PRODUCAO, MAS TINHA EM 2015
		-- CHECA PRODUCAO NO PERIODO E AGRUPA POR AGENTE
GROUP BY AGENTE

-- 5A LINHA
INSERT	p123_RPT
SELECT	DISTINCT 
		@data_ref,
		33 , -- RPT ANALISE AGENTE, P3
		'', -- AGENTE,
		'', -- COBRADORA,
		5,				-- linha 11
		'V',				-- FORMATO
		AGENTE , --'3a Analise - vlr' ,	-- DESCRICAO
		0.0, 0.0,	-- m1, m2
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0,	-- m7, m8
		0.0, 0.0,	-- m9, m10
		0.0, 0.0,	-- m11, m12
		0.0, 0.0	-- m13, m14
FROM
		P123_HISTORICO	R	(NOLOCK)	
		-- where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE
		-- ALTERADO 6/9/16  DIFERENCA NOS TTLS DE PRODUCAO  ********
WHERE	DT_FECHA BETWEEN @DTM1 AND  @DTREF  
		-- NO MES CORRENTE NAO TEM PRODUCAO, MAS TINHA EM 2015
		-- CHECA PRODUCAO NO PERIODO E AGRUPA POR AGENTE
GROUP BY AGENTE



/*
SELECT	@data_ref,
		AGENTE,
		COBRADORA,
		1,  -- SALDO ANTERIOR
		'',	-- FORMATO
		'SALDO INICIAL' ,		-- DESCRICAO
		IsNULL(SUM(QTDE),0),	-- QTDE
		ISNULL(SUM(SALDO),0.0),	-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		IsNULL(SUM(QTDE),0),	-- QTDE
		ISNULL(SUM(SALDO),0.0)	-- SALDO
FROM
		RR_ROLLRATE	R	(NOLOCK)	
where	DT_FECHA = @data_ANT  -- FINAL DO MES ANTERIOR = INICIAL DESTE MES
	AND	ORDEM_LINHA = 5       -- LINHA DE SALDO FINAL	
 -- MES CORRENTE JA CALCULADO
	AND	RATING   = 'A'
GROUP	BY R.AGENTE, R.COBRADORA
*/


/*
SELECT '20130331', DATEPART(DW,'20130331')
SELECT @DTM14, @DTM13, @DTM12, @DTM11

-- ATUALIZAR O RELATORIO COM AS QTDES E SALDOS POR FAIXA DE ATRASO
-- SELECT * FROM P123_HISTORICO
-- QTDE SAFRA
-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET M14_VLR= QTDE
FROM	(SELECT COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
				WHERE CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM14 )  AS R
WHERE	
		CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
-- TTL
--CASE WHEN CONVERT(varchar(8),P123_HISTORICO.DT_FECHA,112)= @DTM14 THEN 
--			 WHEN CONVERT(varchar(8),P123_HISTORICO.DT_FECHA,112)= @DTM13 THEN SET M13= COUNT(*)			 END
--AND R.AGENTE     = p123_RPT.AGENTE
	--AND	R.COBRADORA  = p123_RPT.COBRADORA
	AND p123_RPT.RPT = 2  -- RPT ANALISE PRODUTO
	AND p123_RPT.ORDEM_LINHA= 1 -- safra qtde
--GROUP BY R.AGENTE
*/


-- P1 SAFRA VLR RPT 1, LINHA 1 ************************************************
-- MESES 1 A 14   -- SEM RENEGOCIADOS
-- ******************************************************* FIM RPT 1, LINHA 1
UPDATE	p123_RPT
 SET	M1_VLR= VLR / 1000.0
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM1	
				AND RENEGOCIADO=0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 1 -- safra VLR

UPDATE	p123_RPT
 SET	M2_VLR= VLR / 1000.0
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM2		
				AND RENEGOCIADO=0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 1 -- safra VLR

UPDATE	p123_RPT
 SET	M3_VLR= VLR / 1000.0
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM3		
				AND RENEGOCIADO=0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 1 -- safra VLR

UPDATE	p123_RPT
 SET	M4_VLR= VLR / 1000.0
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM4		
				AND RENEGOCIADO=0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 1 -- safra VLR

UPDATE	p123_RPT
 SET	M5_VLR= VLR / 1000.0
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM5		
				AND RENEGOCIADO=0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 1 -- safra VLR

UPDATE	p123_RPT
 SET	M6_VLR= VLR / 1000.0
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM6		
				AND RENEGOCIADO=0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 1 -- safra VLR

UPDATE	p123_RPT
 SET	M7_VLR= VLR / 1000.0
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM7		
				AND RENEGOCIADO=0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 1 -- safra VLR

UPDATE	p123_RPT
 SET	M8_VLR= VLR / 1000.0
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM8		
				AND RENEGOCIADO=0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 1 -- safra VLR

UPDATE	p123_RPT
 SET	M9_VLR= VLR / 1000.0
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM9		
				AND RENEGOCIADO=0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 1 -- safra VLR

UPDATE	p123_RPT
 SET	M10_VLR= VLR / 1000.0
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM10		
				AND RENEGOCIADO=0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 1 -- safra VLR

UPDATE	p123_RPT
 SET	M11_VLR= VLR / 1000.0
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM11		
				AND RENEGOCIADO=0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 1 -- safra VLR

UPDATE	p123_RPT
 SET	M12_VLR= VLR / 1000.0
FROM	(SELECT		SUM(VLR_OP) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM12		
				AND RENEGOCIADO=0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 1 -- safra VLR

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M13_VLR= VLR / 1000.0
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM13		
				AND RENEGOCIADO=0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 1 -- safra VLR

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M14_VLR= VLR / 1000.0
FROM	(SELECT		ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM14		
				AND RENEGOCIADO=0	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 1 -- safra VLR
-- FIM LINHA 1

-- SAFRA VLR RPT 1, LINHA 2 ************************************************
-- SELECT * FROM P123_HISTORICO	R1 (NOLOCK) 
-- MESES 1 A 14
UPDATE	p123_RPT
 SET	M1_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE	FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM1		
				AND RENEGOCIADO=0		AND  VLR_OP > 0.0 )  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 2 -- safra qtde

UPDATE	p123_RPT
 SET	M2_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM2		
				AND RENEGOCIADO=0		AND  VLR_OP > 0.0 )  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 2 -- safra qtde

UPDATE	p123_RPT
 SET	M3_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM3 		
				AND RENEGOCIADO=0		AND  VLR_OP > 0.0 )  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 2 -- safra qtde

UPDATE	p123_RPT
 SET	M4_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM4 		
				AND RENEGOCIADO=0		AND  VLR_OP > 0.0 )  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 2 -- safra qtde

UPDATE	p123_RPT
 SET	M5_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM5 		
				AND RENEGOCIADO=0		AND  VLR_OP > 0.0 )  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 2 -- safra qtde

UPDATE	p123_RPT
 SET	M6_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM6 		
				AND RENEGOCIADO=0		AND  VLR_OP > 0.0 )  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 2 -- safra qtde

UPDATE	p123_RPT
 SET	M7_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM7 		
				AND RENEGOCIADO=0		AND  VLR_OP > 0.0 )  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 2 -- safra qtde

UPDATE	p123_RPT
 SET	M8_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM8 		
				AND RENEGOCIADO=0		AND  VLR_OP > 0.0 )  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 2 -- safra qtde

UPDATE	p123_RPT
 SET	M9_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM9  	
				AND RENEGOCIADO=0		AND  VLR_OP > 0.0 )  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 2 -- safra qtde

UPDATE	p123_RPT
 SET	M10_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM10 	
				AND RENEGOCIADO=0		AND  VLR_OP > 0.0 )  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 2 -- safra qtde

UPDATE	p123_RPT
 SET	M11_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM11 	
				AND RENEGOCIADO=0		AND  VLR_OP > 0.0 )  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 2 -- safra qtde

UPDATE	p123_RPT
 SET	M12_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM12 		
				AND RENEGOCIADO=0		AND  VLR_OP > 0.0 )  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 2 -- safra qtde

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M13_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM13 		
				AND RENEGOCIADO=0		AND  VLR_OP > 0.0 )  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 2 -- safra qtde

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M14_VLR= QTDE
FROM	(SELECT		COUNT(*) AS QTDE FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM14 		
				AND RENEGOCIADO=0		AND  VLR_OP > 0.0 )  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 2 -- safra qtde

-- FIM LINHA 2
-- ******************************************************* FIM RPT 1, LINHA 2 VLR SAFRA


-- P2		TTL PRODUCAO POR VEICULO
-- VLR PROD POR VEICULO RPT 2, LINHA 3 ************************************************
-- SELECT * FROM  P123_HISTORICO
-- CORRETO: CONSIDERAR O VENCTO
-- SELECT		COUNT(*) AS QTDE	FROM P123_HISTORICO	R1 (NOLOCK) WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= '20140331'		AND RENEGOCIADO = 0		AND P3VCTO <= '20140430'	AND (P3PGTO IS NULL OR P3PGTO > '20140430' )
-- MESES 1 A 14   -- SEM RENEGOCIADOS
-- ******************************************************* FIM RPT 1, LINHA 1
UPDATE	p123_RPT
 SET	M1_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE ,ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM1		
				AND RENEGOCIADO=0	
			GROUP BY AGENTE 	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 3 -- safra VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE 


UPDATE	p123_RPT
 SET	M2_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE , ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM2		
				AND RENEGOCIADO=0	
			GROUP BY AGENTE 		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 3 -- safra VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M3_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM3		
				AND RENEGOCIADO=0	
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 3 -- safra VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M4_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM4	
				AND RENEGOCIADO=0		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 3 -- safra VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M5_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM5		
				AND RENEGOCIADO=0	
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 3 -- safra VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M6_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM6	
				AND RENEGOCIADO=0		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 3 -- safra VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M7_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM7	
				AND RENEGOCIADO=0		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 3 -- safra VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M8_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM8		
				AND RENEGOCIADO=0	
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 3 -- safra VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M9_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM9	
				AND RENEGOCIADO=0		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 3 -- safra VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M10_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM10		
				AND RENEGOCIADO=0	
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 3 -- safra VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M11_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM11	
				AND RENEGOCIADO=0		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 3 -- safra VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M12_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, SUM(VLR_OP) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM12		
				AND RENEGOCIADO=0	
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 3 -- safra VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M13_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM13		
				AND RENEGOCIADO=0	
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 3 -- safra VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M14_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM14		
				AND RENEGOCIADO=0	
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 3 -- safra VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE
-- FIM LINHA 3
-- ******************************************************* FIM RPT 1, LINHA 3 


-- 2A ANALISE VLR RPT 2, LINHA 4 ************************************************ P2
-- QUEBRA POR VEICULO
-- MESES 1 A 14
UPDATE	p123_RPT
 SET	M1_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM1	
				AND RENEGOCIADO=0	
				AND P3VCTO <= @DTM5		 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM5 )	
			GROUP BY AGENTE	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 4 -- 2A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M2_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM2 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM6 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM6 )		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 4 -- 2A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M3_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM3 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM7		 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM7 )	
			GROUP BY AGENTE			)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 4 -- 2A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M4_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM4 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM8		 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM8 )		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 4 -- 2A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M5_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM5  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM9		 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM9 )		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 4 -- 2A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M6_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM6  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM10		 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM10 )		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 4 -- 2A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M7_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM7  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM11		 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM11 )		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 4 -- 2A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M8_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM8 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM12		-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM12 )		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 4 -- 2A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M9_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM9  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM13	 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM13 )		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 4 -- 2A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M10_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM10 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM14	 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM14 )		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 4 -- 2A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M11_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM11 
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM15	 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM15 )		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 4 -- 2A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M12_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, SUM(VLR_OP) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM12  
				AND RENEGOCIADO = 0		 -- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM16	 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM16 )		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 4 -- 2A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M13_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM13  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM17	 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM17 )		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 4 -- 2A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M14_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM14  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM18	-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM18 )		
			GROUP BY AGENTE		)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 4 -- 2A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

-- ******************************************************* FIM RPT 1, LINHA 9 - 2A ANALISE   VLR


-- ******************************** 3A ANALISE *************************************************
-- 3A ANALISE VLR RPT 1, LINHA 5 ************************************************
-- QUEBRA POR VEICULO
-- MESES 1 A 14
UPDATE	p123_RPT
 SET	M1_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM1
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM6		-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM6 )	
			GROUP BY AGENTE	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 5 -- 3A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M2_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM2 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM7		-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM7 )	
			GROUP BY AGENTE	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 5 -- 3A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M3_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM3 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM8		-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM8 )	
			GROUP BY AGENTE	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 5 -- 3A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M4_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM4 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM9		-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM9 )	
			GROUP BY AGENTE	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 5 -- 3A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M5_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM5  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM10		-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM10 )	
			GROUP BY AGENTE	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 5 -- 3A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M6_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM6  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM11		-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM11 )	
			GROUP BY AGENTE	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 5 -- 3A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M7_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM7  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM12	 -- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM12 )	
			GROUP BY AGENTE	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 5 -- 3A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M8_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM8 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM13	-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM13 )	
			GROUP BY AGENTE	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 5 -- 3A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M9_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM9  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM14	-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM14 )	
			GROUP BY AGENTE	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 5 -- 3A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M10_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM10 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM15	-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM15 )	
			GROUP BY AGENTE	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33		-- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 5 -- 3A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M11_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM11 
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM16	-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM16 )	
			GROUP BY AGENTE	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 5 -- 3A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

UPDATE	p123_RPT
 SET	M12_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, SUM(VLR_OP) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM12  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM17	-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM17 )	
			GROUP BY AGENTE	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 5 -- 3A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M13_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM13  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM18	-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM18 )	
			GROUP BY AGENTE	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 5 -- 3A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

-- DECLARE @DTREF DATETIME SET @DTREF = '20140331' DECLARE @DTM14 DATETIME DECLARE @DTM13 DATETIME SET @DTM14='20140331' SET @DTM13='20140228'
UPDATE	p123_RPT
 SET	M14_VLR= VLR / 1000.0
FROM	(SELECT		AGENTE, ISNULL(SUM(VLR_OP),0.0) AS VLR FROM P123_HISTORICO	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)= @DTM14  
				AND RENEGOCIADO = 0		-- SEM RENEG, P1 NAO PAGAS, ATE DIA 30 DO MES
				AND P3VCTO <= @DTM19	-- VENCIDOS
				AND (P3PGTO IS NULL OR P3PGTO > @DTM19 )	
			GROUP BY AGENTE	)  AS R
WHERE	CONVERT(varchar(8),p123_RPT.DT_FECHA,112)  = @DTREF  -- RELATORIO DA DT REF
	AND p123_RPT.RPT = 33  -- RPT ANALISE AGENTE
	AND p123_RPT.ORDEM_LINHA= 5 -- 3A ANALISE  VLR
	AND p123_RPT.DESCRICAO  = R.AGENTE

-- ******************************************************* FIM RPT 1, LINHA 13 - 3A ANALISE   VLR



-- 2A ANALISE % VLR  RPT 1, LINHA 4 ************************************************
-- DT_FECHA	smalldatetime,RPT	INT,AGENTE	varchar(6),COBRADORA	varchar(6),ORDEM_LINHA	int,FORMATO	varchar(6),DESCRICAO	varchar(50),M1_VLR	float,
INSERT	P123_RPT 
	SELECT
		@data_ref,
		33 , -- RPT ANALISE PRODUTO
		'', -- AGENTE,
		'', -- COBRADORA,
		4,				-- linha 4 = % 2A ANALISE
		'',				-- FORMATO A
		QTTL.DESCRICAO,		-- AGENTE
		M1_VLR = (CASE WHEN QTTL.M1_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M1_VLR/QTTL.M1_VLR * 100.0  END),
		M2_VLR = (CASE WHEN QTTL.M2_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M2_VLR/QTTL.M2_VLR * 100.0  END),
		M3_VLR = (CASE WHEN QTTL.M3_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M3_VLR/QTTL.M3_VLR * 100.0  END),
		M4_VLR = (CASE WHEN QTTL.M4_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M4_VLR/QTTL.M4_VLR * 100.0  END),
		M5_VLR = (CASE WHEN QTTL.M5_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M5_VLR/QTTL.M5_VLR * 100.0  END),
		M6_VLR = (CASE WHEN QTTL.M6_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M6_VLR/QTTL.M6_VLR * 100.0  END),
		M7_VLR = (CASE WHEN QTTL.M7_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M7_VLR/QTTL.M7_VLR * 100.0  END),
		M8_VLR = (CASE WHEN QTTL.M8_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M8_VLR/QTTL.M8_VLR * 100.0  END),
		M9_VLR = (CASE WHEN QTTL.M9_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M9_VLR/QTTL.M9_VLR * 100.0  END),
		M10_VLR = (CASE WHEN QTTL.M10_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M10_VLR/QTTL.M10_VLR * 100.0  END),
		M11_VLR = (CASE WHEN QTTL.M11_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M11_VLR/QTTL.M11_VLR * 100.0  END),
		M12_VLR = (CASE WHEN QTTL.M12_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M12_VLR/QTTL.M12_VLR * 100.0  END),
		M13_VLR = (CASE WHEN QTTL.M13_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M13_VLR/QTTL.M13_VLR * 100.0  END),
		M14_VLR = (CASE WHEN QTTL.M14_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M14_VLR/QTTL.M14_VLR * 100.0  END)
	from (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 33			-- RELATORIO SAFRA ANALISE TTL AGENTE
				AND R1.ORDEM_LINHA= 4	--  qtde 2A ANALISE 
				)  AS QTDE1A, 
		 (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 33			-- RELATORIO SAFRA ANALISE TTL AGENTE
				AND R1.ORDEM_LINHA= 3	--  qtde SAFRA
				)  AS QTTL
where 	QTTL.DESCRICAO  = QTDE1A.DESCRICAO

-- ******************************************************* FIM RPT 2, LINHA 4 %



-- 2A ANALISE % VLR  RPT 1, LINHA 5 ************************************************
INSERT	P123_RPT 
	SELECT
		@data_ref,
		33 , -- RPT ANALISE AGENTE, P3
		'', -- AGENTE,
		'', -- COBRADORA,
		5,				-- linha 5 = % 2A ANALISE
		'',				-- FORMATO A
		QTTL.DESCRICAO,		-- AGENTE
		M1_VLR = (CASE WHEN QTTL.M1_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M1_VLR/QTTL.M1_VLR * 100.0  END),
		M2_VLR = (CASE WHEN QTTL.M2_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M2_VLR/QTTL.M2_VLR * 100.0  END),
		M3_VLR = (CASE WHEN QTTL.M3_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M3_VLR/QTTL.M3_VLR * 100.0  END),
		M4_VLR = (CASE WHEN QTTL.M4_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M4_VLR/QTTL.M4_VLR * 100.0  END),
		M5_VLR = (CASE WHEN QTTL.M5_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M5_VLR/QTTL.M5_VLR * 100.0  END),
		M6_VLR = (CASE WHEN QTTL.M6_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M6_VLR/QTTL.M6_VLR * 100.0  END),
		M7_VLR = (CASE WHEN QTTL.M7_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M7_VLR/QTTL.M7_VLR * 100.0  END),
		M8_VLR = (CASE WHEN QTTL.M8_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M8_VLR/QTTL.M8_VLR * 100.0  END),
		M9_VLR = (CASE WHEN QTTL.M9_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M9_VLR/QTTL.M9_VLR * 100.0  END),
		M10_VLR = (CASE WHEN QTTL.M10_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M10_VLR/QTTL.M10_VLR * 100.0  END),
		M11_VLR = (CASE WHEN QTTL.M11_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M11_VLR/QTTL.M11_VLR * 100.0  END),
		M12_VLR = (CASE WHEN QTTL.M12_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M12_VLR/QTTL.M12_VLR * 100.0  END),

		M13_VLR = (CASE WHEN QTTL.M13_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M13_VLR/QTTL.M13_VLR * 100.0  END),
		M14_VLR = (CASE WHEN QTTL.M14_VLR = 0.0	THEN 0.0 ELSE  QTDE1A.M14_VLR/QTTL.M14_VLR * 100.0  END)
	from (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 33			-- RELATORIO SAFRA ANALISE TTL AGENTE
				AND R1.ORDEM_LINHA= 5	--  VLR 2A ANALISE 
				)  AS QTDE1A, 
		 (SELECT	*			FROM	P123_RPT	R1 (NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)  = @DTREF
				AND R1.RPT = 33			-- RELATORIO SAFRA ANALISE TTL
				AND R1.ORDEM_LINHA= 3	--  VLR SAFRA
				)  AS QTTL
where 	QTTL.DESCRICAO  = QTDE1A.DESCRICAO
-- ******************************************************* FIM RPT 1, LINHA 5


-- NOME DO AGENTE ********************	
--  ATUALIZA DESCRICOES DO RPT3
	UPDATE	P123_RPT 
	SET		DESCRICAO = ISNULL(A.A13DESCR,'') 
	FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)
	WHERE	CONVERT(varchar(8),P123_RPT.DT_FECHA,112)  = @DTREF
		AND P123_RPT.RPT = 33		 -- RELATORIO SAFRA ANALISE TTL AGENTE
		AND P123_RPT.ORDEM_LINHA>= 3 --  LINHAS COM CODIGOS
		AND	DESCRICAO = A13CODORG	 --a.COD_agente  -- CONTEM CODIGO



--  ATUALIZA DESCRICOES  LINHA 4
	UPDATE	P123_RPT 
	SET		DESCRICAO = DESCRICAO  +' (2o Mom.)  VLR'
	WHERE	CONVERT(varchar(8),P123_RPT.DT_FECHA,112)  = @DTREF
		AND P123_RPT.RPT = 33		-- RELATORIO SAFRA ANALISE TTL AGENTE
		AND P123_RPT.ORDEM_LINHA= 4 --  qtde 2A ANALISE 
		AND P123_RPT.FORMATO= 'A'	--  qtde 2A ANALISE 
--  ATUALIZA DESCRICOES  LINHA 4
	UPDATE	P123_RPT 
	SET		DESCRICAO = DESCRICAO  +' (2o Mom.) %',
			FORMATO= 'A'
	WHERE	CONVERT(varchar(8),P123_RPT.DT_FECHA,112)  = @DTREF
		AND P123_RPT.RPT = 33		-- RELATORIO SAFRA ANALISE TTL VEICULO
		AND P123_RPT.ORDEM_LINHA= 4 --  qtde 2A ANALISE 
		AND P123_RPT.FORMATO= ''	--  qtde 2A ANALISE 


--  ATUALIZA DESCRICOES  LINHA 5 *********************************************************
	UPDATE	P123_RPT 
	SET		DESCRICAO = DESCRICAO  +' (3o Mom.)  VLR'
	WHERE	CONVERT(varchar(8),P123_RPT.DT_FECHA,112)  = @DTREF
		AND P123_RPT.RPT = 33		-- RELATORIO SAFRA ANALISE TTL AGENTE
		AND P123_RPT.ORDEM_LINHA= 5 --  VLR 3A ANALISE 
		AND P123_RPT.FORMATO= 'V'	--  VLR 3A ANALISE 
--  ATUALIZA DESCRICOES  LINHA 5
	UPDATE	P123_RPT 
	SET		DESCRICAO = DESCRICAO  +' (3o Mom.) %',
			FORMATO= 'V'
	WHERE	CONVERT(varchar(8),P123_RPT.DT_FECHA,112)  = @DTREF
		AND P123_RPT.RPT = 33		-- RELATORIO SAFRA ANALISE TTL AGENTE
		AND P123_RPT.ORDEM_LINHA= 5 --  % 3A ANALISE 
		AND P123_RPT.FORMATO= ''	--  % 3A ANALISE 


-- ********************************************
--  ATUALIZA DESCRICOES  LINHA 1 2
	UPDATE	P123_RPT 
	SET		DESCRICAO = '  '+ DESCRICAO  
	WHERE	CONVERT(varchar(8),P123_RPT.DT_FECHA,112)  = @DTREF
		AND P123_RPT.RPT = 33		-- RELATORIO SAFRA ANALISE TTL AGENTE
		AND P123_RPT.ORDEM_LINHA IN (1,2) --  1, 2 LINHAS TTL INICIO


--  ATUALIZA ORDEM - ELIMINA ORDEM
	UPDATE	P123_RPT 
	SET		ORDEM_LINHA =1
	WHERE	CONVERT(varchar(8),P123_RPT.DT_FECHA,112)  = @DTREF
		AND P123_RPT.RPT = 33		-- RELATORIO SAFRA ANALISE TTL AGENTE


-- select * from  P123_RPT where DT_FECHA='20141130'

END
GO


-- SELECT * FROM P123_RPT where dt_fecha='20141130' and rpt=33 order by descricao , ordem_linha