SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
go


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_grafico_P123Analise' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_grafico_P123Analise]
GO

-- scr_grafico_P123Analise '20140831',1

CREATE Procedure [dbo].[scr_grafico_P123Analise] (@data_ref as datetime, @parcela varchar(6)) AS
BEGIN

DECLARE @DTREF AS VARCHAR(8)
SET @DTREF = CONVERT(varchar(8),@data_ref,112)


/*  PARAMETRO DATA FECHAMENTO DA PDD
DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END

SELECT * FROM  RR_ROLLRATE_DIA_RPT

SP_HELP RR_ROLLRATE_DIA_RPT
-- SP_HELP P123_RPT
-- SP_HELP P123_HISTORICO
DROP TABLE P123_RPT

CREATE TABLE  P123_RPT (
DT_FECHA	smalldatetime,
RPT		INT,
AGENTE	varchar(6),
COBRADORA	varchar(6),
ORDEM_LINHA	int,
FORMATO	varchar(6),
DESCRICAO	varchar(50),
M1_VLR	float,
M2_VLR	float,
M3_VLR	float,
M4_VLR	float,
M5_VLR	float,
M6_VLR	float,
M7_VLR	float,
M8_VLR	float,
M9_VLR	float,
M10_VLR	float,
M11_VLR	float,
M12_VLR	float,
M13_VLR	float,
M14_VLR	float
)
 
CREATE INDEX P123_RPT_IDX1 ON P123_RPT  
	(DT_FECHA		,
	RPT		,
	AGENTE			,
	COBRADORA		,
	ORDEM_LINHA		) 

SELECT * FROM P123_RPT
*/



		SELECT	Formato,
				DESCRICAO,
				M1_VLR AS M1,
				M2_VLR AS M2,
				M3_VLR AS M3,
				M4_VLR AS M4,
				M5_VLR AS M5,
				M6_VLR AS M6,
				M7_VLR AS M7,
				M8_VLR AS M8,
				M9_VLR AS M9,
				M10_VLR AS M10,
				M11_VLR AS M11,
				CASE WHEN  @parcela=3		THEN NULL
					 ELSE				M12_VLR		END		AS M12,
				CASE WHEN ORDEM_LINHA >=11	AND @parcela>=3  THEN NULL
					 WHEN @parcela>=2		THEN NULL	
					 ELSE M13_VLR			END  AS M13,
				CASE WHEN ORDEM_LINHA >=7	AND @parcela>=3	THEN NULL
					 WHEN ORDEM_LINHA >=11	AND @parcela>=1	THEN NULL
					 WHEN @parcela>=1		THEN NULL
					 ELSE M14_VLR			END  AS M14
	
			FROM	p123_RPT 
			where 	dt_fecha = @DTREF 
				and 1= case when @parcela = 1 and RPT=1  then 1
							when @parcela = 2 and RPT=21 then 1
							when @parcela = 3 and RPT=31 then 1
							else 0 end
				AND RIGHT(RTRIM(DESCRICAO),7) = 'CTO - %'
			ORDER BY ORDEM_LINHA,DESCRICAO

END
GO


-- SELECT * FROM P123_RPT