SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
go


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_grafico_P123PRODUTO' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_grafico_P123PRODUTO]
GO

-- scr_grafico_P123PRODUTO '20140831',1,1 --'LEVES'

CREATE Procedure [dbo].[scr_grafico_P123PRODUTO] (@data_ref as datetime, @parcela varchar(6) , @Produto varchar(6)) AS
BEGIN

DECLARE @DTREF AS VARCHAR(8)
SET @DTREF = CONVERT(varchar(8),@data_ref,112)


/*  PARAMETRO DATA FECHAMENTO DA PDD
DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END

SELECT * FROM  RR_ROLLRATE_DIA_RPT

SP_HELP RR_ROLLRATE_DIA_RPT
-- SP_HELP P123_RPT
-- SP_HELP P123_HISTORICO
DROP TABLE P123_RPT

CREATE TABLE  P123_RPT (
DT_FECHA	smalldatetime,
RPT		INT,
AGENTE	varchar(6),
COBRADORA	varchar(6),
ORDEM_LINHA	int,
FORMATO	varchar(6),
DESCRICAO	varchar(50),
M1_VLR	float,
M2_VLR	float,
M3_VLR	float,
M4_VLR	float,
M5_VLR	float,
M6_VLR	float,
M7_VLR	float,
M8_VLR	float,
M9_VLR	float,
M10_VLR	float,
M11_VLR	float,
M12_VLR	float,
M13_VLR	float,
M14_VLR	float
)
 
CREATE INDEX P123_RPT_IDX1 ON P123_RPT  
	(DT_FECHA		,
	RPT		,
	AGENTE			,
	COBRADORA		,
	ORDEM_LINHA		) 

SELECT * FROM P123_RPT
*/



		SELECT	CASE WHEN LEFT(DESCRICAO,5) = 'LEVES' THEN 'C3'
					 WHEN LEFT(DESCRICAO,5) = 'UTILI' THEN 'C2'
					 WHEN LEFT(DESCRICAO,5) = 'MOTOS' THEN 'C1'
					 WHEN LEFT(DESCRICAO,11) = 'Veículos PJ' THEN 'C1'
					 ELSE FORMATO	END
				AS Formato,
				CASE WHEN ORDEM_LINHA = 4 THEN '2o M- 30 D VCTO ' + DESCRICAO
					 WHEN ORDEM_LINHA = 5 THEN '3o M- 60 D VCTO ' + DESCRICAO
					 ELSE DESCRICAO
					 END	AS DESCRICAO,
				CASE WHEN M1_VLR = 0.0 THEN NULL ELSE M1_VLR END  AS M1,
				CASE WHEN M2_VLR = 0.0 THEN NULL ELSE M2_VLR END  AS M2,
				CASE WHEN M3_VLR = 0.0 THEN NULL ELSE M3_VLR END  AS M3,
				CASE WHEN M4_VLR = 0.0 THEN NULL ELSE M4_VLR END  AS M4,
				CASE WHEN M5_VLR = 0.0 THEN NULL ELSE M5_VLR END  AS M5,
				CASE WHEN M6_VLR = 0.0 THEN NULL ELSE M6_VLR END  AS M6,
				CASE WHEN M7_VLR = 0.0 THEN NULL ELSE M7_VLR END  AS M7,
				CASE WHEN M8_VLR = 0.0 THEN NULL ELSE M8_VLR END  AS M8,
				CASE WHEN M9_VLR = 0.0 THEN NULL ELSE M9_VLR END  AS M9,
				CASE WHEN M10_VLR = 0.0 THEN NULL ELSE M10_VLR END  AS M10,
				CASE WHEN M11_VLR = 0.0 THEN NULL ELSE M11_VLR END  AS M11,
				CASE WHEN M12_VLR = 0.0 THEN NULL
					 WHEN @parcela>=3		THEN NULL
					 ELSE M12_VLR END		 AS M12,
				CASE WHEN ORDEM_LINHA >=5	AND @parcela>=3  THEN NULL
					 WHEN M13_VLR = 0.0		THEN NULL 	
					 WHEN @parcela>=2		THEN NULL
					 ELSE M13_VLR			END  AS M13,
				CASE WHEN ORDEM_LINHA >=4	AND @parcela>=3	THEN NULL
					 WHEN ORDEM_LINHA >=5	AND @parcela>=1	THEN NULL
					 WHEN M14_VLR = 0.0		THEN NULL 	
					 WHEN @parcela>=1		THEN NULL
					 ELSE M14_VLR			END  AS M14
				,ORDEM_LINHA 
			FROM	p123_RPT 
			where 	dt_fecha = @DTREF 
				and 1= case when @parcela = 1 and RPT=2  then 1
							when @parcela = 2 and RPT=22 then 1
							when @parcela = 3 and RPT=32 then 1
							else 0 end
					-- PRODUTO
				AND 1= CASE 
--							when ORDEM_LINHA >= 3 and @produto = 'T' 	THEN 1
							when @PRODUTO=AGENTE 	THEN 1
							when   @PRODUTO='R' AND CHARINDEX('RENEG',DESCRICAO) >0 	THEN 1
-- ORDEM_LINHA >= 3 and
--WHEN LEFT(DESCRICAO,5) = left(@Produto,5) and left(@produto,5)<> 'REFIN' THEN 1
--WHEN LEFT(DESCRICAO,5) = left(@Produto,5) and @produto= 'REFINANCIAMENTO' THEN 1
							ELSE 0 END

--				AND 1= CASE WHEN @Produto = 1 AND LEFT(DESCRICAO,5) = 'LEVES' THEN 1
--							WHEN @Produto = 2 AND LEFT(DESCRICAO,5) = 'UTILI' THEN 1
--							WHEN @Produto = 3 AND LEFT(DESCRICAO,5) = 'MOTOS' THEN 1
--							WHEN @Produto = 4 AND LEFT(DESCRICAO,5) = 'REFIN' THEN 1
--							WHEN @Produto = 5 AND LEFT(DESCRICAO,5) = 'RENEG' THEN 1		
--							WHEN @Produto = 6 AND LEFT(DESCRICAO,11) = 'Veículos PJ' THEN 1		
--							ELSE 0 END
				AND RIGHT(RTRIM(DESCRICAO),4) = ' - %'
			ORDER BY ORDEM_LINHA,DESCRICAO

END
GO


-- SELECT * FROM P123_RPT