SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
go


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_vlr_AnaliseP123' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_vlr_AnaliseP123]
GO
-- [scr_vlr_AnaliseP123] '20170331',1,'REFINANCIAMENTO','2'  -- ANALISE
-- [scr_vlr_AnaliseP123] '20170331',2,'80','2'  -- ANALISE
-- [scr_vlr_AnaliseP123] '20170331',2,'Refinanciamento Utilitario','2'  -- ANALISE
-- [scr_vlr_AnaliseP123] '20170331',2,'LEVES','2'  -- ANALISE
-- [scr_vlr_AnaliseP123] '20140831',1,'','1'  -- ANALISE
-- [scr_vlr_AnaliseP123] '20140831',1,'1','2'  -- PRODUTO LEVES
-- [scr_vlr_AnaliseP123] '20140831',1,null,'3'  -- agente

CREATE Procedure [dbo].[scr_vlr_AnaliseP123] (@data_ref as datetime,  @parcela varchar(6), @produto varchar(6), @tela int) AS
BEGIN

DECLARE @DTREF AS VARCHAR(8)
SET @DTREF = CONVERT(varchar(8),@data_ref,112)


/*  PARAMETRO DATA FECHAMENTO DA PDD
DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END

SELECT * FROM  RR_ROLLRATE_DIA_RPT

SP_HELP RR_ROLLRATE_DIA_RPT
-- SP_HELP P123_RPT
-- SP_HELP P123_HISTORICO
DROP TABLE P123_RPT

CREATE TABLE  P123_RPT (
DT_FECHA	smalldatetime,
RPT		INT,
AGENTE	varchar(6),
COBRADORA	varchar(6),
ORDEM_LINHA	int,
FORMATO	varchar(6),
DESCRICAO	varchar(50),
M1_VLR	float,
M2_VLR	float,
M3_VLR	float,
M4_VLR	float,
M5_VLR	float,
M6_VLR	float,
M7_VLR	float,
M8_VLR	float,
M9_VLR	float,
M10_VLR	float,
M11_VLR	float,
M12_VLR	float,
M13_VLR	float,
M14_VLR	float
)
 
CREATE INDEX P123_RPT_IDX1 ON P123_RPT  
	(DT_FECHA		,
	RPT		,
	AGENTE			,
	COBRADORA		,
	ORDEM_LINHA		) 

SELECT * FROM P123_RPT
*/


-- TELA 1 = ANALISE
IF @tela = 1  
BEGIN

		SELECT	Formato,

				DESCRICAO,
				M1_VLR AS M1,
				M2_VLR AS M2,
				M3_VLR AS M3,
				M4_VLR AS M4,
				M5_VLR AS M5,
				M6_VLR AS M6,
				M7_VLR AS M7,
				M8_VLR AS M8,
				M9_VLR AS M9,
				M10_VLR AS M10,
				M11_VLR AS M11,
				M12_VLR AS M12,
				CASE WHEN ORDEM_LINHA >=11	AND @parcela>=3  THEN NULL
					 ELSE M13_VLR			END  AS M13,
				CASE WHEN ORDEM_LINHA >=7	AND @parcela>=3	THEN NULL
					 WHEN ORDEM_LINHA >=11	AND @parcela>=1	THEN NULL
					 ELSE M14_VLR			END  AS M14
				,ORDEM_LINHA
			FROM	p123_RPT  (NOLOCK)
			where 	dt_fecha = @DTREF 
				and 1= case when @parcela = 1 and RPT=1  then 1
							when @parcela = 2 and RPT=21 then 1
							when @parcela = 3 and RPT=31 then 1
							else 0 end


			ORDER BY ORDEM_LINHA,DESCRICAO

END

-- TELA 2 = PRODUTO
IF @tela = 2  
BEGIN
		SELECT	CASE WHEN LEFT(DESCRICAO,5) = 'LEVES' THEN 'C3'
					 WHEN LEFT(DESCRICAO,5) = 'UTILI' THEN 'C2'
					 WHEN LEFT(DESCRICAO,5) = 'MOTOS' THEN 'C1'
					 WHEN LEFT(DESCRICAO,11) = 'Veículos PJ' THEN 'C1'
					 ELSE FORMATO	END
				AS Formato,
				CASE 
				-- 	 WHEN ORDEM_LINHA = 3 THEN '1o M- Mes VCTO  ' + DESCRICAO
					 WHEN ORDEM_LINHA = 4 THEN '2o M- 30 D VCTO ' + DESCRICAO
					 WHEN ORDEM_LINHA = 5 THEN '3o M- 60 D VCTO ' + DESCRICAO
					 ELSE DESCRICAO
					 END	AS DESCRICAO,
				M1_VLR AS M1,
				M2_VLR AS M2,
				M3_VLR AS M3,
				M4_VLR AS M4,
				M5_VLR AS M5,
				M6_VLR AS M6,
				M7_VLR AS M7,
				M8_VLR AS M8,
				M9_VLR AS M9,
				M10_VLR AS M10,
				M11_VLR AS M11,
				M12_VLR AS M12,
				CASE WHEN ORDEM_LINHA >=5	AND @parcela>=3  THEN NULL
					 ELSE M13_VLR			END  AS M13,
				CASE WHEN ORDEM_LINHA >=4	AND @parcela>=3	THEN NULL
					 WHEN ORDEM_LINHA >=5	AND @parcela>=1	THEN NULL
					 ELSE M14_VLR			END  AS M14
				,ORDEM_LINHA 
			FROM	p123_RPT  (NOLOCK)
			where 	dt_fecha = @DTREF 
				and 1= case when @parcela = 1 and RPT=2  then 1 -- RELATORIO PRODUTO
							when @parcela = 2 and RPT=22 then 1
							when @parcela = 3 and RPT=32 then 1
							else 0 end

				and 1= case when ORDEM_LINHA < 3 then 1  -- linhas iniciais
							when ORDEM_LINHA >= 3 and @produto = 'R' AND  CHARINDEX('RENEG',DESCRICAO)>0  	THEN 1  -- RENEG
							when ORDEM_LINHA >= 3 and @produto <> 'T' AND @PRODUTO=AGENTE 	THEN 1

							--when ORDEM_LINHA >= 3 and @produto <> 'T' and (@produto not in ('Refinanciamento','Refinanciamento Utilit')) and CHARINDEX(@produto,DESCRICAO)>0	THEN 1
--							when ORDEM_LINHA >= 3 and left(@produto,22) = 'Refinanciamento Utilit' and CHARINDEX('Refinanciamento Utilit',DESCRICAO)>0	THEN 1
--							when ORDEM_LINHA >= 3 and @produto = 'Refinanciamento' and CHARINDEX('Utilit',DESCRICAO)=0  and CHARINDEX('escolar',DESCRICAO)=0 and CHARINDEX('Refinanciamento',DESCRICAO)>0	THEN 1
--							when ORDEM_LINHA >= 3 and (@produto not in ( 'T','Refinanciamento') and left(@produto,22) <> 'Refinanciamento Utilit') and CHARINDEX(@produto,DESCRICAO)>0	THEN 1

--							when ORDEM_LINHA >= 3 and @produto = 'Refinanciamento' and CHARINDEX('Refinanciamento Utilit',DESCRICAO)=0	 and CHARINDEX('Refinanciamento',DESCRICAO)>0 THEN 1
--							when ORDEM_LINHA >= 3 and @produto = 'Refinanciamento' and  (CHARINDEX('UTILIT',DESCRICAO)=0 and CHARINDEX(@PRODUTO,DESCRICAO)>0)	THEN 1

--							when ORDEM_LINHA >= 3 and @produto not in ( 'T','Refinanciamento','Refinanciamento Utilitarios') and CHARINDEX(@PRODUTO,DESCRICAO)>0	THEN 1
							--when ORDEM_LINHA >= 3 and left(@produto,22) = 'Refinanciamento UTILIT' and CHARINDEX('Refinanciamento',DESCRICAO)=0 and CHARINDEX(@PRODUTO,DESCRICAO)>0	THEN 1
--							when ORDEM_LINHA >= 3 and @produto = 'Refinanciamento' and CHARINDEX(@PRODUTO,DESCRICAO)>0	THEN 1

							-- LEVES
							-- when ORDEM_LINHA >= 3 and @produto = '1' and CHARINDEX('LEVES',DESCRICAO)>0 THEN 1
							-- Utilit
							-- when ORDEM_LINHA >= 3 and @produto = '2' and CHARINDEX('Utilit',DESCRICAO)>0 THEN 1
							-- Motos
							-- when ORDEM_LINHA >= 3 and @produto = '3' and CHARINDEX('Motos',DESCRICAO)>0 THEN 1
							-- Refin
							-- when ORDEM_LINHA >= 3 and @produto = '4' and CHARINDEX('Refin',DESCRICAO)>0 THEN 1
							-- Reneg
							-- when ORDEM_LINHA >= 3 and @produto = '5' and CHARINDEX('Reneg',DESCRICAO)>0 THEN 1
							-- VEÍCULOS PJ	 ************* INCLUI 8/3/17
							-- when ORDEM_LINHA >= 3 and @produto = '6' and CHARINDEX('PJ',DESCRICAO)>0	THEN 1
							else 0 end

					-- PRODUTO , MOSTRA TUDO. NO GRAFICO MOSTRA SOMENTE O SELECIONADO.
		/*
				AND 1= CASE WHEN @Produto = 1 AND LEFT(DESCRICAO,5) = 'LEVES' THEN 1
							WHEN @Produto = 2 AND LEFT(DESCRICAO,5) = 'UTILI' THEN 1
							WHEN @Produto = 3 AND LEFT(DESCRICAO,5) = 'MOTOS' THEN 1
							WHEN @Produto = 4 AND LEFT(DESCRICAO,5) = 'REFIN' THEN 1
							WHEN @Produto = 5 AND LEFT(DESCRICAO,5) = 'RENEG' THEN 1		
							ELSE 1 END
*/
			ORDER BY ORDEM_LINHA,DESCRICAO

END

-- TELA 3 = Agente
IF @tela = 3
BEGIN

		SELECT	Formato,

/*
				CASE 
					 WHEN ORDEM_LINHA = 3 AND LEFT(DESCRICAO,9)='PROMOTORA' THEN ltrim(RIGHT(DESCRICAO,LEN(LTRIM(DESCRICAO))-9))
					 WHEN ORDEM_LINHA = 4 AND LEFT(DESCRICAO,5)='PROMOT'	THEN '2o M- 30d Vcto ' + ltrim(RIGHT(DESCRICAO,LEN(LTRIM(DESCRICAO))-5))
					 WHEN ORDEM_LINHA = 4 AND LEFT(DESCRICAO,3)='PROM'		THEN '2o M- 30d Vcto ' + ltrim(RIGHT(DESCRICAO,LEN(LTRIM(DESCRICAO))-3))

					 WHEN ORDEM_LINHA = 4 AND LEFT(DESCRICAO,9)='PROMOTORA' THEN '2o M- 30d Vcto ' + ltrim(RIGHT(DESCRICAO,LEN(LTRIM(DESCRICAO))-9))
					 WHEN ORDEM_LINHA = 4 AND LEFT(DESCRICAO,5)='PROMOT'	THEN '2o M- 30d Vcto ' + ltrim(RIGHT(DESCRICAO,LEN(LTRIM(DESCRICAO))-5))
					 WHEN ORDEM_LINHA = 4 AND LEFT(DESCRICAO,3)='PROM'		THEN '2o M- 30d Vcto ' + ltrim(RIGHT(DESCRICAO,LEN(LTRIM(DESCRICAO))-3))
					 WHEN ORDEM_LINHA = 4  THEN '2o M- 30d Vcto ' + DESCRICAO									
					
					 WHEN ORDEM_LINHA = 5 AND LEFT(DESCRICAO,9)='PROMOTORA' THEN '3o M- 60d Vcto ' + ltrim(RIGHT(DESCRICAO,LEN(LTRIM(DESCRICAO))-9))
					 WHEN ORDEM_LINHA = 5 AND LEFT(DESCRICAO,5)='PROMOT'	THEN '3o M- 60d Vcto ' + ltrim(RIGHT(DESCRICAO,LEN(LTRIM(DESCRICAO))-5))
					 WHEN ORDEM_LINHA = 5 AND LEFT(DESCRICAO,3)='PROM'		THEN '3o M- 60d Vcto ' + ltrim(RIGHT(DESCRICAO,LEN(LTRIM(DESCRICAO))-3))
					 WHEN ORDEM_LINHA = 5 THEN '3o M- 60d Vcto ' + DESCRICAO
					 ELSE DESCRICAO
					 END	AS			*/
				DESCRICAO,
				M1_VLR AS M1,
				M2_VLR AS M2,
				M3_VLR AS M3,
				M4_VLR AS M4,
				M5_VLR AS M5,
				M6_VLR AS M6,
				M7_VLR AS M7,
				M8_VLR AS M8,
				M9_VLR AS M9,
				M10_VLR AS M10,
				M11_VLR AS M11,
				M12_VLR AS M12,
				CASE WHEN ORDEM_LINHA >=11	AND @parcela>=3  THEN NULL
					 ELSE M13_VLR			END  AS M13,
				CASE WHEN ORDEM_LINHA >=7	AND @parcela>=3	THEN NULL
					 WHEN ORDEM_LINHA >=11	AND @parcela>=1	THEN NULL
					 ELSE M14_VLR			END  AS M14
			,	ORDEM_LINHA
	
			FROM	p123_RPT (NOLOCK)
			where 	dt_fecha = @DTREF 
				and 1= case when @parcela = 1 and RPT=3  then 1
							when @parcela = 2 and RPT=23 then 1
							when @parcela = 3 and RPT=33 then 1
							else 0 end
			ORDER BY	--ORDEM_LINHA,
						DESCRICAO

END

END
GO


-- SELECT * FROM P123_RPT 
-- SELECT * FROM P123_RPT where dt_fecha='20141231' and rpt=2  and CHARINDEX('LEVES',DESCRICAO)>0

-- SELECT * FROM P123_RPT where dt_fecha='20141231' and rpt=22  and CHARINDEX('LEVES',DESCRICAO)>0

-- SELECT * FROM P123_RPT where dt_fecha='20141231' and rpt=32  and CHARINDEX('LEVES',DESCRICAO)>0