
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO
-- erro na select 37
/*

 EXEC [dbo].[PRC_GER_RELATORIO] '20150131'
 EXEC [dbo].[PRC_GER_RELATORIO] '20150228'
 EXEC [dbo].[PRC_GER_RELATORIO] '20150331'
 EXEC [dbo].[PRC_GER_RELATORIO] '20150430'
 EXEC [dbo].[PRC_GER_RELATORIO] '20150531'
 EXEC [dbo].[PRC_GER_RELATORIO] '20150630'
 EXEC [dbo].[PRC_GER_RELATORIO] '20150731'
 EXEC [dbo].[PRC_GER_RELATORIO] '20150831'


SELECT * FROM GER_RPT_MOD1 (NOLOCK) ORDER BY COD_EMPRESA,COD_CONTA
  SELECT * FROM  GER_CUBO (NOLOCK) WHERE DT_FECHA='20150430' AND COD_CONTA='RESULT'
 INSERT AUX_GER_RPT
  SELECT *  FROM (SELECT cod_rpt,DT_FECHA,EMPRESA, c.COD_CONTA,VLR FROM GER_RELATORIO_ITEM r (nolock) join GER_CUBO c (NOLOCK)  on r.cod_conta = c.cod_conta ) P  PIVOT( SUM (VLR) FOR DT_FECHA IN ([20140430],[20140531],[20140630],[20140731],[20140831],[20140930],[20141031],[20141130],[20141231],[20150131],[20150228],[20150331],[20150430]) ) AS PVT

-- 13 meses pivot table **********************
*/

use SIG
go




-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_GER_RELATORIO' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_GER_RELATORIO]
GO


CREATE Procedure [dbo].[PRC_GER_RELATORIO] (@data_ref as datetime) AS
BEGIN

/*
DT_FECHA,EMPRESA, COD_CONTA
					 ' FROM (SELECT DT_FECHA,EMPRESA, COD_CONTA,VLR	FROM GER_CUBO (NOLOCK) ) P '+

DROP   TABLE AUX_GER_RPT
CREATE TABLE AUX_GER_RPT
(
--		DT_FECHA	DATETIME,
		cod_rpt VARCHAR(20),
		ORDEM	VARCHAR(20),
		EMPRESA		VARCHAR(100),
		COD_CONTA		VARCHAR(100),
		M13		float,
		M12		float,
		M11		float,
		M10		float,

		M9		float,
		M8		float,
		M7		FLOAT,
		M6		FLOAT,

		M5		FLOAT,
		M4		FLOAT,
		M3		FLOAT,
		M2		FLOAT,
		M1		FLOAT
	)
*/

		DECLARE @data_INI AS SMALLDATETIME
		-- DIA 1 DO MES DO FECHAMENTO
		SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

		-- APAGA PROCESSAMENTO ANTERIOR		 
		delete  from GER_RPT_MOD1
			WHERE	 DT_FECHA = @data_ref

		-- faltou COR_LINHA
		-- ANALISE COM GRAFICO POR PRODUTO E OPERADOR


		-- CARREGA TABELA AUXILIAR
		-- SP_HELP CML_PRODUCAO_MES
		-- SELECT * FROM  CML_PRODUCAO_ANALISE
		-- SELECT * FROM  COMERCIAL_PRODUCAO
		/*
		SELECT PRODUTO, [20140430] AS D1 ,[20140531] AS D2,[20140630] AS D3
		FROM (SELECT DT_FECHA,PRODUTO, VLR_FUTURO	FROM COMERCIAL_PRODUCAO) P
		PIVOT( SUM (VLR_FUTURO) FOR DT_FECHA IN ([20140430] ,[20140531],[20140630])
		) AS PVT

		sp_help CML_PRODUCAO_ANALISE
		*/
	--	 declare @data_ref datetime	set @data_ref ='20140630'
	--	 declare @data_ref datetime	set @data_ref ='20141130'

	--		M24   M23  M22  M21 , M11  M10  M9  M6, M3 M2 M1  @data_ref
	--  13 MESES
	DECLARE @M1  AS DATETIME  -- DT REF
	DECLARE @M2  AS DATETIME
	DECLARE @M3  AS DATETIME
	DECLARE @M4  AS DATETIME
	DECLARE @M5  AS DATETIME
	DECLARE @M6  AS DATETIME
	DECLARE @M7  AS DATETIME
	DECLARE @M8  AS DATETIME
	DECLARE @M9  AS DATETIME
	DECLARE @M10  AS DATETIME
	DECLARE @M11  AS DATETIME
	DECLARE @M12  AS DATETIME
	DECLARE @M13  AS DATETIME
--	DECLARE @M14  AS DATETIME

	--				declare @data_ref datetime set @data_ref = '20150228'
		-- MES  DE FECHAMENTO
		SET		@M1 = @data_ref

		-- MES ANTERIOR AO DO FECHAMENTO
		SET		@M2 = CONVERT(CHAR(4),DATEPART(YEAR,@M1))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M1))),2)+'01'
		SET		@M2 = DATEADD(DD,-1,@M2)
		--		SELECT @M1, @m2

		set		@M3 = CONVERT(CHAR(4),DATEPART(YEAR,@M2))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M2))),2)+'01'
		SET		@M3=DATEADD(DD,-1,@M3)
		--		SELECT @M1, @M2,@M3

		set  @M4 = CONVERT(CHAR(4),DATEPART(YEAR,@M3))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M3))),2)+'01'
		SET	 @M4=DATEADD(DD,-1,@M4)
		--		  SELECT @M4

	set  @M5 = CONVERT(CHAR(4),DATEPART(YEAR,@M4))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M4))),2)+'01'
	SET	 @M5 = DATEADD(DD,-1,@M5)
	--		 	SELECT @M5

	set  @M6 = CONVERT(CHAR(4),DATEPART(YEAR,@M5))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M5))),2)+'01'
	SET	 @M6 = DATEADD(DD,-1,@M6)

	set  @M7 = CONVERT(CHAR(4),DATEPART(YEAR,@M6))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M6))),2)+'01'
	SET	 @M7 = DATEADD(DD,-1,@M7)

	set  @M8 = CONVERT(CHAR(4),DATEPART(YEAR,@M7))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M7))),2)+'01'
	SET	 @M8 = DATEADD(DD,-1,@M8)

	set  @M9 = CONVERT(CHAR(4),DATEPART(YEAR,@M8))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M8))),2)+'01'
	SET	 @M9 = DATEADD(DD,-1,@M9)

	set		@M10 = CONVERT(CHAR(4),DATEPART(YEAR,@M9))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M9))),2)+'01'
	SET		@M10 = DATEADD(DD,-1,@M10)
	--			SELECT	@M10

	set		@M11 = CONVERT(CHAR(4),DATEPART(YEAR,@M10))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M10))),2)+'01'
	SET		@M11 = DATEADD(DD,-1,@M11)
	--			SELECT	@M11 

	set		@M12 = CONVERT(CHAR(4),DATEPART(YEAR,@M11))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M11))),2)+'01'
	SET		@M12 = DATEADD(DD,-1,@M12)

	set		@M13 = CONVERT(CHAR(4),DATEPART(YEAR,@M12))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M12))),2)+'01'
	SET		@M13 = DATEADD(DD,-1,@M13)

/*
	set		@M14 = CONVERT(CHAR(4),DATEPART(YEAR,@M13))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M13))),2)+'01'
	SET		@M14 = DATEADD(DD,-1,@M14)
*/
		-- 		SELECT @M1, @M2,@M3 , @M4, @M5,@M6,@M7,@m8,@M9,@M10,@M11,@M12,@M13


		--		VARIAVEIS PARA COMPOR OS 13 MESES 
		DECLARE @columns VARCHAR(200)
		SET		@columns = '['+CONVERT(VARCHAR(8),@M13,112)+']'
		--SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M13 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M12 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M11 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M10 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M9 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M8 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M7 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M6 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M5 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M4 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M3 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M2 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M1 ,112)  + ']'


		--		SELECT  @columns


	--		M24   M23  M22  M21 , M11  M10  M9  M6, M3 M2 M1  @data_ref

/*
		SELECT	@M1 as m1, @M2 as m2, @M3 as m3, @M6 as m6, @M9 as m9, @M10 as m10, 
				@M11 as m11, @M21 as m21, @M22 as m22,@M23 as m23, @M24 as m24

select * from GER_RELATORIO (nolock)

select * from GER_CUBO (NOLOCK)
select * from GER_RELATORIO_ITEM r (nolock)

select * from GER_RELATORIO_ITEM r (nolock)
join GER_CUBO c (NOLOCK)
on r.cod_conta = c.cod_conta
 where dt_fecha='20150430'

*/

-- **************************************************  PRODUCAO GLOBAL  RPT 1, 2, 3
--  QUEBRAS
-- ******************************************************************** PV
DECLARE @query VARCHAR(max)
--	DESCR 1 E 2
--	cart, ordem, prod, 
-- LIMPA ANTERIOR
DELETE  AUX_GER_RPT

/* ok tdas contas, sem rpt
	SET		@query = ' INSERT	AUX_GER_RPT  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,EMPRESA, COD_CONTA,VLR	FROM GER_CUBO (NOLOCK) ) P '+
					 ' PIVOT( SUM (VLR) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

sp_help AUX_GER_RPT

*/
	SET		@query = ' INSERT	AUX_GER_RPT  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,cod_rpt,ORDEM,EMPRESA, c.COD_CONTA,VLR	FROM GER_RELATORIO_ITEM r (nolock) join GER_CUBO c (NOLOCK) '+
					 '	on r.cod_conta = c.cod_conta ) P '+
					 ' PIVOT( SUM (VLR) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

--   5
--	select  @query
EXEC (@query)

--  SELECT * FROM  GER_CUBO
--  SELECT * FROM AUX_GER_RPT
--  SELECT SUM (VLR) FROM COMERCIAL_PRODUCAO (NOLOCK)

-- INSERT AUX_GER_RPT  SELECT *  FROM (SELECT DT_FECHA,EMPRESA, COD_CONTA,VLR FROM GER_CUBO (NOLOCK) ) P  PIVOT( SUM (VLR) FOR DT_FECHA IN ([20140430],[20140531],[20140630],[20140731],[20140831],[20140930],[20141031],[20141130],[20141231],[20150131],[20150228],[20150331],[20150430]) ) AS PVT

-- SP_HELP CML_PRODUCAO_ANALISE
-- SP_HELP AUX_GER_RPT
-- SP_HELP GER_RPT_MOD1
	INSERT GER_RPT_MOD1
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			COD_RPT,		--	1,		-- RPT, CART
			ORDEM ,	-- ORDEM
			'',		-- COR_LINHA
			0,
			EMPRESA,	
			'' ,	-- DESCR1
			COD_CONTA ,	-- DESCR2
			'',
			--0.0, -- media_3a
			--M14, 
			M13		,
			M12		,
			M11		,
			M10		,

			M9		,
			M8		,
			M7		,
			M6		,

			M5		,
			M4		,
			M3		,
			M2		,
			M1		
			--0.0, 0.0, 0.0, 0.0, 0.0,
					
FROM		AUX_GER_RPT	(NOLOCK)


---  *********************** TTL JA CALCULADO NO CUBO

--  EMPRESA
-- SP_HELP GER_RPT_MOD1
-- select * FROM	CONTABIL_SANTANA..empresa (nolock)

UPDATE		GER_RPT_MOD1
	SET		EMPRESA = MNEM_EMPR
	FROM   CONTABIL_SANTANA..empresa (nolock)
	WHERE
		DT_FECHA = @data_ref 
	AND CODX_EMPR = COD_EMPRESA


-- CONTA
-- select * FROM	GER_CONTA_CALC (nolock)
UPDATE		GER_RPT_MOD1
	SET		DESCR_CONTA = DESCR
	FROM	GER_CONTA_CALC C (nolock)
	WHERE	DT_FECHA = @data_ref 
		AND GER_RPT_MOD1.COD_CONTA = C.COD_CONTA


END
GO


-- SELECT * FROM  GER_RPT_MOD1 (NOLOCK) ORDER BY COD_EMPRESA
-- SELECT * FROM  CML_PRODUCAO_ANALISE