
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

/*
 exec SCR_GERENCIAL_PROCESSO '20141231'

 exec SCR_GERENCIAL_PROCESSO '20150131'
 exec SCR_GERENCIAL_PROCESSO '20150228'
 exec SCR_GERENCIAL_PROCESSO '20150331'
 exec SCR_GERENCIAL_PROCESSO '20150430'
 exec SCR_GERENCIAL_PROCESSO '20150531'
 exec SCR_GERENCIAL_PROCESSO '20150630'
*/
-- PROC tela cad gerencial contas calculadas **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_GERENCIAL_PROCESSO' AND type = 'P')
   DROP PROCEDURE [dbo].SCR_GERENCIAL_PROCESSO
GO


CREATE Procedure [dbo].SCR_GERENCIAL_PROCESSO  
 (@DTREF  SMALLDATETIME )	AS  

BEGIN

-- SELECT * FROM GER_RPT_MOD1 (NOLOCK)
		-- voltei a carga no Processo em 30/ago/2017	***********
		EXEC [ger_base_contabil]  @DTREF

		EXEC [ger_CALCULO_CUBO]   @DTREF
		EXEC [dbo].[PRC_GER_RELATORIO]   @DTREF

		EXEC [dbo].[PRC_GER_RELATORIO2]  @DTREF
		EXEC [dbo].[PRC_GER_RELATORIO_balanco]  @DTREF


END


GO
