
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO
-- erro na select 37
/*

 EXEC [dbo].[PRC_GER_RELATORIO2] '20150131'
 EXEC [dbo].[PRC_GER_RELATORIO2] '20150228'
 EXEC [dbo].[PRC_GER_RELATORIO2] '20150331'
 EXEC [dbo].[PRC_GER_RELATORIO2] '20150430'
 EXEC [dbo].[PRC_GER_RELATORIO2] '20150531'
 EXEC [dbo].[PRC_GER_RELATORIO2] '20150630'  --
 EXEC [dbo].[PRC_GER_RELATORIO2] '20150731'
 EXEC [dbo].[PRC_GER_RELATORIO2] '20150831'

 EXEC [dbo].[PRC_GER_CUBO] '20150831'


SELECT * FROM GER_RPT_MOD1 (NOLOCK) ORDER BY COD_EMPRESA,COD_CONTA
  SELECT * FROM  GER_CUBO (NOLOCK) WHERE DT_FECHA='20150430' AND COD_CONTA='RESULT'
  SELECT * FROM  GER_CUBO (NOLOCK) WHERE DT_FECHA='20150630' AND COD_CONTA='RESULT'

 INSERT AUX_GER_RPT
  SELECT *  FROM (SELECT cod_rpt,DT_FECHA,EMPRESA, c.COD_CONTA,VLR FROM GER_RELATORIO_ITEM r (nolock) join GER_CUBO c (NOLOCK)  on r.cod_conta = c.cod_conta ) P  PIVOT( SUM (VLR) FOR DT_FECHA IN ([20140430],[20140531],[20140630],[20140731],[20140831],[20140930],[20141031],[20141130],[20141231],[20150131],[20150228],[20150331],[20150430]) ) AS PVT

 INSERT AUX_GER_RPT2  SELECT *  FROM (SELECT DT_FECHA,cod_rpt,ORDEM,EMPRESA, c.COD_CONTA,VLR FROM GER_RELATORIO_ITEM r (nolock) join GER_CUBO c (NOLOCK)   on r.cod_conta = c.cod_conta WHERE COD_RPT IN (SELECT COD_RPT FROM  GER_RELATORIO (NOLOCK) WHERE MODELO=2)  ) P  PIVOT( SUM (VLR) FOR DT_FECHA IN ([20141231],[20150131]) ) AS PVT
 INSERT AUX_GER_RPT2  SELECT *  FROM (SELECT DT_FECHA,cod_rpt,ORDEM,EMPRESA, c.COD_CONTA,VLR FROM GER_RELATORIO_ITEM r (nolock) join GER_CUBO c (NOLOCK)   on r.cod_conta = c.cod_conta WHERE COD_RPT IN (SELECT COD_RPT FROM  GER_RELATORIO (NOLOCK) WHERE MODELO=2)  ) P  PIVOT( SUM (VLR) FOR DT_FECHA IN ([20150731],[20150831]) ) AS PVT
-- 13 meses pivot table **********************

select * FROM GER_RELATORIO r (nolock) where modelo=2
*/

use SIG
go




-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_GER_RELATORIO2' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_GER_RELATORIO2]
GO


CREATE Procedure [dbo].[PRC_GER_RELATORIO2] (@data_ref as datetime) AS
BEGIN

/*
DT_FECHA,EMPRESA, COD_CONTA
					 ' FROM (SELECT DT_FECHA,EMPRESA, COD_CONTA,VLR	FROM GER_CUBO (NOLOCK) ) P '+

DROP   TABLE AUX_GER_RPT2
CREATE TABLE AUX_GER_RPT2
(
		cod_rpt		VARCHAR(20),
		ORDEM		VARCHAR(20),
		EMPRESA		VARCHAR(100),
		COD_CONTA	VARCHAR(100),
		M2			FLOAT,
		M1			FLOAT
	)
*/

		DECLARE @data_INI AS SMALLDATETIME
		-- DIA 1 DO MES DO FECHAMENTO
		SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

		-- APAGA PROCESSAMENTO ANTERIOR		 
		delete  from GER_RPT_MOD2
			WHERE	 DT_FECHA = @data_ref

		-- faltou COR_LINHA
		-- ANALISE COM GRAFICO POR PRODUTO E OPERADOR


		-- CARREGA TABELA AUXILIAR
	--  2 MESES
	DECLARE @M1  AS DATETIME  -- DT REF
	DECLARE @M2  AS DATETIME

	--				declare @data_ref datetime set @data_ref = '20150228'
		-- MES  DE FECHAMENTO
		SET		@M1 = @data_ref

		-- MES ANTERIOR AO DO FECHAMENTO
		SET		@M2 = CONVERT(CHAR(4),DATEPART(YEAR,@M1))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M1))),2)+'01'
		SET		@M2 = DATEADD(DD,-1,@M2)
		--		SELECT @M1, @m2

		-- 		SELECT @M1, @M2,@M3 , @M4, @M5,@M6,@M7,@m8,@M9,@M10,@M11,@M12,@M13


		--		VARIAVEIS PARA COMPOR OS 13 MESES 
		DECLARE @columns VARCHAR(200)
		SET		@columns = '['+CONVERT(VARCHAR(8),@M2,112)+']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M1 ,112)  + ']'
		--		SELECT  @columns


-- **************************************************  PRODUCAO GLOBAL  RPT 1, 2, 3
--  QUEBRAS
-- ******************************************************************** PV
DECLARE @query VARCHAR(max)
--	DESCR 1 E 2
--	cart, ordem, prod, 
-- LIMPA ANTERIOR
DELETE  AUX_GER_RPT2

/* ok tdas contas, sem rpt
	SET		@query = ' INSERT	AUX_GER_RPT  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,EMPRESA, COD_CONTA,VLR	FROM GER_CUBO (NOLOCK) ) P '+
					 ' PIVOT( SUM (VLR) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
SELECT * FROM  GER_RELATORIO (NOLOCK) WHERE MODELO=2
SELECT * FROM  GER_RELATORIO_ITEM (NOLOCK)
		WHERE COD_RPT IN (SELECT COD_RPT FROM  GER_RELATORIO (NOLOCK) WHERE MODELO=2)
sp_help AUX_GER_RPT

*/
	-- SOMENTE ITENS DO RELATORIO MODELO 2
	SET		@query = ' INSERT	AUX_GER_RPT2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,cod_rpt,ORDEM,EMPRESA, c.COD_CONTA,VLR	FROM GER_RELATORIO_ITEM r (nolock) join GER_CUBO c (NOLOCK)  '+
					 '	on r.cod_conta = c.cod_conta WHERE COD_RPT IN (SELECT COD_RPT FROM  GER_RELATORIO (NOLOCK) WHERE MODELO=2)  ) P '+
					 ' PIVOT( SUM (VLR) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

--   5
	select  @query
EXEC (@query)

--  SELECT * FROM  GER_CUBO (NOLOCK) WHERE DT_FECHA='20150630'
--  SELECT * FROM AUX_GER_RPT2
--  SELECT SUM (VLR) FROM COMERCIAL_PRODUCAO (NOLOCK)

-- INSERT AUX_GER_RPT  SELECT *  FROM (SELECT DT_FECHA,EMPRESA, COD_CONTA,VLR FROM GER_CUBO (NOLOCK) ) P  PIVOT( SUM (VLR) FOR DT_FECHA IN ([20140430],[20140531],[20140630],[20140731],[20140831],[20140930],[20141031],[20141130],[20141231],[20150131],[20150228],[20150331],[20150430]) ) AS PVT

-- SP_HELP CML_PRODUCAO_ANALISE
-- SP_HELP AUX_GER_RPT
-- SP_HELP GER_RPT_MOD2
	INSERT GER_RPT_MOD2
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			COD_RPT,		--	1,		-- RPT, CART
			ORDEM ,	-- ORDEM
			'',		-- COR_LINHA
			0,
			EMPRESA,	
			'' ,	-- DESCR1
			COD_CONTA ,	-- DESCR2
			'',
			M2		,
			M1		,
			0.0, 0.0   --, 0.0, 0.0, 0.0,
					
FROM		AUX_GER_RPT2	(NOLOCK)


---  *********************** TTL JA CALCULADO NO CUBO

--  EMPRESA
-- SP_HELP GER_RPT_MOD2
-- select * FROM	CONTABIL_SANTANA..empresa (nolock)

UPDATE		GER_RPT_MOD2
	SET		EMPRESA = MNEM_EMPR
	FROM	CONTABIL_SANTANA..empresa (nolock)
	WHERE	DT_FECHA = @data_ref 
		AND CODX_EMPR = COD_EMPRESA


-- CONTA
-- select * FROM	GER_CONTA_CALC (nolock)
UPDATE		GER_RPT_MOD2
	SET		DESCR_CONTA = DESCR
	FROM	GER_CONTA_CALC C (nolock)
	WHERE	DT_FECHA = @data_ref 
		AND GER_RPT_MOD2.COD_CONTA = C.COD_CONTA


END
GO


-- SELECT * FROM  GER_RPT_MOD2 (NOLOCK) ORDER BY COD_EMPRESA
-- SELECT * FROM  CML_PRODUCAO_ANALISE