
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

/*
 exec SCR_GERENCIAL_PROCESSO13 '20141231'

 exec SCR_GERENCIAL_PROCESSO '20150131'
 exec SCR_GERENCIAL_PROCESSO '20150228'
 exec SCR_GERENCIAL_PROCESSO '20150331'
 exec SCR_GERENCIAL_PROCESSO '20150430'
 exec SCR_GERENCIAL_PROCESSO '20150531'
 exec SCR_GERENCIAL_PROCESSO '20150630'
*/
-- PROC tela cad gerencial contas calculadas **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_GERENCIAL_PROCESSO13' AND type = 'P')
   DROP PROCEDURE [dbo].SCR_GERENCIAL_PROCESSO13
GO


CREATE Procedure [dbo].SCR_GERENCIAL_PROCESSO13
 (@DTREF  SMALLDATETIME )	AS  

BEGIN

-- SELECT * FROM GER_RPT_MOD1 (NOLOCK)
--		EXEC [ger_base_contabil]  @DTREF

	--  13 MESES
	DECLARE @M1  AS DATETIME  -- DT REF
	DECLARE @M2  AS DATETIME
	DECLARE @M3  AS DATETIME
	DECLARE @M4  AS DATETIME
	DECLARE @M5  AS DATETIME
	DECLARE @M6  AS DATETIME
	DECLARE @M7  AS DATETIME
	DECLARE @M8  AS DATETIME
	DECLARE @M9  AS DATETIME
	DECLARE @M10  AS DATETIME
	DECLARE @M11  AS DATETIME
	DECLARE @M12  AS DATETIME
	DECLARE @M13  AS DATETIME
--	DECLARE @M14  AS DATETIME

	--				declare @data_ref datetime set @data_ref = '20150228'
		-- MES  DE FECHAMENTO
		SET		@M1 = @DTREF

		-- MES ANTERIOR AO DO FECHAMENTO
		SET		@M2 = CONVERT(CHAR(4),DATEPART(YEAR,@M1))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M1))),2)+'01'
		SET		@M2 = DATEADD(DD,-1,@M2)
		--		SELECT @M1, @m2

		set		@M3 = CONVERT(CHAR(4),DATEPART(YEAR,@M2))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M2))),2)+'01'
		SET		@M3=DATEADD(DD,-1,@M3)
		--		SELECT @M1, @M2,@M3

		set  @M4 = CONVERT(CHAR(4),DATEPART(YEAR,@M3))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M3))),2)+'01'
		SET	 @M4=DATEADD(DD,-1,@M4)
		--		  SELECT @M4

	set  @M5 = CONVERT(CHAR(4),DATEPART(YEAR,@M4))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M4))),2)+'01'
	SET	 @M5 = DATEADD(DD,-1,@M5)
	--		 	SELECT @M5

	set  @M6 = CONVERT(CHAR(4),DATEPART(YEAR,@M5))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M5))),2)+'01'
	SET	 @M6 = DATEADD(DD,-1,@M6)

	set  @M7 = CONVERT(CHAR(4),DATEPART(YEAR,@M6))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M6))),2)+'01'
	SET	 @M7 = DATEADD(DD,-1,@M7)

	set  @M8 = CONVERT(CHAR(4),DATEPART(YEAR,@M7))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M7))),2)+'01'
	SET	 @M8 = DATEADD(DD,-1,@M8)

	set  @M9 = CONVERT(CHAR(4),DATEPART(YEAR,@M8))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M8))),2)+'01'
	SET	 @M9 = DATEADD(DD,-1,@M9)

	set		@M10 = CONVERT(CHAR(4),DATEPART(YEAR,@M9))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M9))),2)+'01'
	SET		@M10 = DATEADD(DD,-1,@M10)
	--			SELECT	@M10

	set		@M11 = CONVERT(CHAR(4),DATEPART(YEAR,@M10))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M10))),2)+'01'
	SET		@M11 = DATEADD(DD,-1,@M11)
	--			SELECT	@M11 

	set		@M12 = CONVERT(CHAR(4),DATEPART(YEAR,@M11))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M11))),2)+'01'
	SET		@M12 = DATEADD(DD,-1,@M12)

	set		@M13 = CONVERT(CHAR(4),DATEPART(YEAR,@M12))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M12))),2)+'01'
	SET		@M13 = DATEADD(DD,-1,@M13)

		-- 		SELECT @M1, @M2,@M3 , @M4, @M5,@M6,@M7,@m8,@M9,@M10,@M11,@M12,@M13

		EXEC [ger_CALCULO_CUBO]   @M1
		EXEC [ger_CALCULO_CUBO]   @M2
		EXEC [ger_CALCULO_CUBO]   @M3
		EXEC [ger_CALCULO_CUBO]   @M4
		EXEC [ger_CALCULO_CUBO]   @M5
		EXEC [ger_CALCULO_CUBO]   @M6
		EXEC [ger_CALCULO_CUBO]   @M7
		EXEC [ger_CALCULO_CUBO]   @M8
		EXEC [ger_CALCULO_CUBO]   @M9
		EXEC [ger_CALCULO_CUBO]   @M10

		EXEC [ger_CALCULO_CUBO]   @M11
		EXEC [ger_CALCULO_CUBO]   @M12
		EXEC [ger_CALCULO_CUBO]   @M13


		-- relatorios gerenciais
		EXEC [dbo].[PRC_GER_RELATORIO]   @DTREF
		EXEC [dbo].[PRC_GER_RELATORIO2] @DTREF
		EXEC [dbo].[PRC_GER_RELATORIO_balanco] @DTREF


END


GO
