
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec SCR_GERENCIAL_BALANCETE '20150430',1

-- PROC tela cad gerencial contas calculadas **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_GERENCIAL_BALANCETE' AND type = 'P')
   DROP PROCEDURE [dbo].SCR_GERENCIAL_BALANCETE
GO


CREATE Procedure [dbo].SCR_GERENCIAL_BALANCETE  
 (@DTREF  SMALLDATETIME , @EMPRESA INT)	AS  

BEGIN


SELECT		DT_FECHA,EMPRESA,CONTA,'"'+CONTA_FMT as CONTA_FMT,DESCR,SLD_ANT,MOV_DEB,MOV_CRED,MOV_D_C,SLD_ATU
	FROM	GER_BASE_BALANCETE (NOLOCK) 
	WHERE	DT_FECHA=@DTREF
		AND	1=1+ CASE WHEN @EMPRESA = 99 THEN 0
					  WHEN @EMPRESA < 99 AND EMPRESA= @EMPRESA THEN  0
					  ELSE 1	END
order by EMPRESA,CONTA

--group by codcli ORDER BY sum(vlr_presente) desc
-- select top 10 * from CoMerciaL_PROducao where dt_fecha='20150331' and produto in('d','cg') ORDER BY vlr_presente desc

-- select top 10 codcli,sum(vlr_presente) from CoMerciaL_PROducao where dt_fecha='20150331' and produto in('d','cg') group by codcli ORDER BY sum(vlr_presente) desc

-- MES_1A_2A


END


GO
