
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec SCR_GERENCIAL_padrao '20150430',1,1
-- exec SCR_GERENCIAL_padrao '20150430',1,99
-- exec SCR_GERENCIAL_padrao '20150430',5,99

-- PROC tela cad gerencial contas calculadas **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_GERENCIAL_PADRAO' AND type = 'P')
   DROP PROCEDURE [dbo].SCR_GERENCIAL_PADRAO
GO


CREATE Procedure [dbo].SCR_GERENCIAL_PADRAO  
 (@DTREF  SMALLDATETIME , @RELATORIO INT, @EMPRESA INT)	AS  

BEGIN

-- SELECT * FROM GER_RPT_MOD1 (NOLOCK)

IF	DATEPART(MM,@DTREF) = DATEPART(MM,GETDATE()) AND DATEPART(YYYY,@DTREF) = DATEPART(YYYY,GETDATE()) 
BEGIN
	DECLARE @QTD INT
	SET @QTD = (SELECT		COUNT(*) FROM 	GER_RPT_MOD1 C (NOLOCK) 
					WHERE	DT_FECHA=@DTREF )

	IF @QTD =0
	BEGIN
		EXEC [ger_base_contabil]  @DTREF
		EXEC [ger_CALCULO_CUBO]   @DTREF
		EXEC [dbo].[PRC_GER_RELATORIO]   @DTREF
	END
END

SELECT		DT_FECHA,
			COD_EMPRESA,
			EMPRESA,
			C.COD_CONTA AS CODCONTA,
			DESCR_CONTA AS DESCR,
			ISNULL(M13,0.0) AS M13,
			ISNULL(M12,0.0) AS M12,
			ISNULL(M11,0.0) AS M11,
			ISNULL(M10,0.0) AS M10,
			ISNULL(M9 ,0.0) AS M9,
			ISNULL(M8 ,0.0) AS M8,
			ISNULL(M7 ,0.0) AS M7,
			ISNULL(M6 ,0.0) AS M6,
			ISNULL(M5 ,0.0) AS M5,
			ISNULL(M4 ,0.0) AS M4,
			ISNULL(M3 ,0.0) AS M3,
			ISNULL(M2 ,0.0) AS M2,
			ISNULL(M1 ,0.0) AS M1, convert(int,ORDEM)  as ordem
	FROM	GER_RPT_MOD1 C (NOLOCK) 
	WHERE	DT_FECHA=@DTREF
		AND RPT = @RELATORIO
		AND	1=1+ CASE WHEN @EMPRESA = 99 THEN 0
					  WHEN @EMPRESA < 99 AND COD_EMPRESA= @EMPRESA THEN  0
					  ELSE 1	END
	ORDER BY COD_EMPRESA,convert(int,ORDEM) 

-- SELECT * FROM GER_CUBO (NOLOCK)
-- SELECT * FROM GER_CUBO (NOLOCK)
-- SELECT * FROM CONTABIL_SANTANA..PLANO_CONTABIL	P (NOLOCK)
--group by codcli ORDER BY sum(vlr_presente) desc
-- select top 10 * from CoMerciaL_PROducao where dt_fecha='20150331' and produto in('d','cg') ORDER BY vlr_presente desc
-- SELECT * FROM GER_RPT_MOD1 (NOLOCK)
-- select top 10 codcli,sum(vlr_presente) from CoMerciaL_PROducao where dt_fecha='20150331' and produto in('d','cg') group by codcli ORDER BY sum(vlr_presente) desc

-- MES_1A_2A


END


GO
