
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec SCR_GERENCIAL_CUBO '20150430',1
-- exec SCR_GERENCIAL_CUBO '20150430',99

-- PROC tela cad gerencial contas calculadas **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_GERENCIAL_CUBO' AND type = 'P')
   DROP PROCEDURE [dbo].SCR_GERENCIAL_CUBO
GO


CREATE Procedure [dbo].SCR_GERENCIAL_CUBO  
 (@DTREF  SMALLDATETIME , @EMPRESA INT)	AS  

BEGIN



SELECT		DT_FECHA,EMPRESA,
			C.COD_CONTA,DESCR,VLR
	FROM	GER_CUBO C (NOLOCK) 
	JOIN	(SELECT * FROM GER_CONTA_CALC CTA1  (NOLOCK) 	) AS CTA
		ON	CTA.COD_CONTA = C.COD_CONTA
--,			CONTABIL_SANTANA..PLANO_CONTABIL	P (NOLOCK)
	WHERE	DT_FECHA=@DTREF
--		AND COD_CONTA = convert(varchar(30),NUME_CONT )
		AND	1=1+ CASE WHEN @EMPRESA = 99 THEN 0
					  WHEN @EMPRESA < 99 AND EMPRESA= @EMPRESA THEN  0
					  ELSE 1	END
	ORDER BY EMPRESA,DESCR
-- SELECT * FROM GER_CUBO (NOLOCK)
-- SELECT * FROM GER_CUBO (NOLOCK)
-- SELECT * FROM CONTABIL_SANTANA..PLANO_CONTABIL	P (NOLOCK)
--group by codcli ORDER BY sum(vlr_presente) desc
-- select top 10 * from CoMerciaL_PROducao where dt_fecha='20150331' and produto in('d','cg') ORDER BY vlr_presente desc

-- select top 10 codcli,sum(vlr_presente) from CoMerciaL_PROducao where dt_fecha='20150331' and produto in('d','cg') group by codcli ORDER BY sum(vlr_presente) desc

-- MES_1A_2A


END


GO
