USE sig
GO

drop proc [SCR_fin_operacao]
/****** Object:  StoredProcedure [dbo].[SCR_fin_operacao]    Script Date: 19/06/2017 19:42:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        CREATE Procedure [dbo].[SCR_fin_operacao] (
        	@PARAM1 as smalldatetime, 
			@PARAM2 as varchar(10),
			@PARAM3 as varchar(10)) AS

			BEGIN


				SELECT 
				'21/08/2013' dt_vcto,
				12.13 vlr_original,
				'César' cod_gerente,
				'Pré' pre_cdi,
				1.04 prc_cdi_real,
				1.7714 tx_cliente,
				8.56 tx_final,
				'LCI12345' cod_papel

			

			END