USE sig
GO

drop proc [SCR_fin_operacao]
/****** Object:  StoredProcedure [dbo].[SCR_fin_operacao]    Script Date: 18/06/2017 22:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        CREATE Procedure [dbo].[SCR_fin_operacao] (
        	@PARAM1 as smalldatetime, 
			@PARAM2 as int,
			@PARAM3 as int) AS

			BEGIN


				SELECT 
				'21/08/2013' dt_vcto,
				12.13 vlr_original,
				'César' cod_gerente,
				'Pré' pre_cdi,
				1.04 prc_cdi_real,
				1.7714 tx_cliente,
				8.56 tx_final,
				'LCI12345' cod_papel

/*
                txtDataVencimento.Text = row("dt_vcto")
                txtValorCaptado.Text = row("vlr_original")
                txtCorretor.Text = row("cod_gerente")
                txtTipoTaxa.Text = row("pre_cdi")
                txtTaxaIntermed.Text = row("prc_cdi_real")
                txtTaxaCliente.Text = row("prc_cdi_real")
                txtTaxaFinal.Text = row("prc_cdi_real")
                txtCodigoPapel.Text = row("cod_papel")
*/

			

			END