USE sig
GO
/****** Object:  StoredProcedure [dbo].[SCR_financeiro_base]    Script Date: 18/06/2017 22:16:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        CREATE Procedure [dbo].[SCR_financeiro_base] (
        	@PARAM1 as smalldatetime, 
			@PARAM2 as smalldatetime,
			@PARAM3 as smalldatetime,
			@PARAM4 as decimal) AS

			BEGIN


				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				1 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				2 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				3 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				4 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				5 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				6 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				7 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				8 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				9 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				10 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				11 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				12 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				13 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				14 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				15 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				16 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				17 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				18 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				19 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				20 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				21 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				22 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				23 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				24 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				25 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				26 ordem

				UNION ALL

				SELECT 
				'01/03/2017' dt_emissao,
				124 cod_operacao,
				'20/02/2019' dt_vcto,
				754 dias,
				'CDI' pre_cdi	,
				'LCI12345' cod_papel,
				145.87 prc_cdi_real,
				113.54 prc_cdi_interm,
				1908.56 prc_cdi_final,
				'Poupa Brasil' serie_operacao,
				1000.00 vlr_original,
				1005.00 vlr_mes_ant,
				1011.25 vlr_mes_atual	,
				6.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				'EDGARD HERMINIO WOHLERS MENDES' cliente,
				27 ordem

				UNION ALL

				SELECT 
				'TOTAL' dt_emissao,
				NULL cod_operacao,
				NULL dt_vcto,
				NULL dias,
				NULL pre_cdi	,
				NULL cod_papel,
				NULL prc_cdi_real,
				NULL prc_cdi_interm,
				NULL prc_cdi_final,
				NULL serie_operacao,
				211000.00 vlr_original,
				211005.00 vlr_mes_ant,
				211011.25 vlr_mes_atual	,
				211226.25 vlr_rend_mes,
				1255.47 vlr_projetado,
				NULL cliente,
				28 ordem





		

			 

			END