USE sig
GO

drop proc [SCR_fin_operacao]
/****** Object:  StoredProcedure [dbo].[SCR_fin_operacao]    Script Date: 18/06/2017 22:15:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        CREATE Procedure [dbo].[SCR_fin_operacao] (
        	@PARAM1 as smalldatetime, 
			@PARAM2 as int,
			@PARAM3 as int) AS

			BEGIN


				SELECT 
				'21/08/2013' dt_vencto,
				12.13 vlr_captado,
				'César' gerente,
				'Pré' tipo_taxa,
				1.04 tx_intermed,
				1.7714 tx_cliente,
				8.56 tx_final,
				'LCI12345' cod_papel

			

			END