USE [Santana]
GO
/****** Object:  StoredProcedure [dbo].[SCR_fin_operacao_proj]    Script Date: 19/06/2017 19:42:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        CREATE Procedure [dbo].[SCR_fin_operacao_proj] (
        	@PARAM1 as smalldatetime, 
			@PARAM2 as varchar(10),
			@PARAM3 as varchar(10),			
			@PARAM4 as smalldatetime, 
			@PARAM5 as decimal) AS



			BEGIN


				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				1 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem

				UNION ALL

				SELECT 
				'21/08/2013' dt_proj,
				12.13 tx_cdi,
				0.00045442 factor1,
				1.0004771410000000 factor2	,
				1.0004771410000000 intermed_factor,
				1.00047714 resultado,
				4001908.56 vlr_dia,
				1908.56 atualiz_dia,
				2 ordem



		

			 

			END