USE sig
GO

drop proc [SCR_fin_operacao1]
/****** Object:  StoredProcedure [dbo].[SCR_fin_operacao1]    Script Date: 19/06/2017 19:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        CREATE Procedure [dbo].[SCR_fin_operacao1] (
        	@PARAM1 as varchar(10)
			) AS

			BEGIN


				SELECT 
				'21/08/2013' dt_vcto,
				12.13 vlr_original,
				'César' cod_gerente,
				'Pré' pre_cdi,
				1.04 prc_cdi_real,
				1.7714 tx_cliente,
				8.56 tx_final,
				'LCI12345' cod_papel

			    --txtDataVencimento.Text = row("dt_vcto")
       --         txtValorCaptado.Text = row("vlr_original")
       --         txtCorretor.Text = row("cod_gerente")
       --         txtTipoTaxa.Text = row("pre_cdi")
       --         txtCodigoPapel.Text = row("cod_papel")
       --         txtTaxaIntermed.Text = row("prc_cdi_real")
       --         txtTaxaCliente.Text = row("prc_cdi_real")
       --         txtTaxaFinal.Text = row("prc_cdi_real")

			END