USE SIG


-- exec [fct_PJ_cnpj_cod] '000342610000173'

/****** Object:  StoredProcedure [dbo].[SCR_PJ_ASSINADIG_GRAVAR]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'fct_PJ_cnpj_cod' AND type = 'P')
   DROP procedure [dbo].[fct_PJ_cnpj_cod]
GO

CREATE procedure [dbo].[fct_PJ_cnpj_cod] (
        @cnpj	[char](20) )
AS
BEGIN

-- SELECT cednte_cedn,* 	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK) where cednte_cpfcgc = '000342610000173'
SELECT cednte_cedn 	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK) where cednte_cpfcgc = @cnpj

END

GO
-- SELECT cednte_cedn,* 	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK) where cednte_cpfcgc = '010531308000117'
-- 00000010531308000117
