USE SIG

/****** Object:  StoredProcedure [dbo].[SCR_CETIP_POTENCIAL_ANALITICO_DADOS]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_PJ_ASSINADIG' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_PJ_ASSINADIG]
GO


CREATE PROCEDURE [dbo].[SCR_PJ_ASSINADIG] 
AS
BEGIN

SELECT 
        strDET1		,	-- [varchar](18) NOT NULL,
        strDETfixo	,	-- [varchar](24) NOT NULL,
        strDET2 		-- [varchar](400) NOT NULL
FROM 
	[PJ_ASSINADIG]  (NOLOCK)
ORDER BY	ordem
	
END

GO

/****** Object:  StoredProcedure [dbo].[SCR_PJ_ASSINADIG_LIMPAR]    Script Date: 02/12/2015 03:53:17 ******/
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_PJ_ASSINADIG_LIMPAR' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_PJ_ASSINADIG_LIMPAR]
GO
CREATE PROCEDURE [dbo].[SCR_PJ_ASSINADIG_LIMPAR] 
AS 
BEGIN
	DELETE FROM [PJ_ASSINADIG]-- WHERE MesReferencia = @MesReferencia
END

GO


/****** Object:  StoredProcedure [dbo].[SCR_PJ_ASSINADIG_GRAVAR]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_PJ_ASSINADIG_GRAVAR' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_PJ_ASSINADIG_GRAVAR]
GO

CREATE PROCEDURE [dbo].[SCR_PJ_ASSINADIG_GRAVAR] (
        @strDET1	[char](20) ,
        @strDETfixo	[char](24) ,
        @strDET2 	[char](356),
		@ORDEM		[char](6)
)
AS
BEGIN
INSERT INTO [PJ_ASSINADIG]
           (
        strDET1		,	-- [varchar](18) NOT NULL,
        strDETfixo	,	-- [varchar](24) NOT NULL,
        strDET2 	,	-- [varchar](400) NOT NULL
		ORDEM
				)
     VALUES
           (
        @strDET1	,
        @strDETfixo	,
        @strDET2 	,
		@ORDEM
				)
END




GO

-- SELECT * FROM  [PJ_ASSINADIG]
--1                                                             00000000             109                      016769/A    0104160000000118400        01N040316                 0000000000000000000                          0247344197000140KELVION INTERCAMBIADORES LTDA           RODOVIA SP-354 KM-43,5 S/N              SERRA DOS CR07803970FRANCO DA ROCHASP                                           000003
-- EXEC SCR_PJ_ASSINADIG_GRAVAR  '1                  ','001100000000000000000000' ,' 00000000             109                      016769/A    0104160000000118400        01N040316                 0000000000000000000                          0247344197000140KELVION INTERCAMBIADORES LTDA           RODOVIA SP-354 KM-43,5 S/N              SERRA DOS CR07803970FRANCO DA ROCHASP                                           000003'

