USE SIG

/*
SELECT COUNT(*) FROM CETIP_POTENCIAL_ANALITICO (NOLOCK) WHERE MESREFERENCIA='201506'

/****** Object:  Table [dbo].[CETIP_POTENCIAL_ANALITICO]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
DROP   TABLE [dbo].[CETIP_POTENCIAL_ANALITICO]
CREATE TABLE [dbo].[CETIP_POTENCIAL_ANALITICO](
	[MesReferencia] [varchar](6) NOT NULL,
	[CNPJ] [varchar](14) NOT NULL,
	[Categoria] [varchar](50) NOT NULL,
	[Segmento] [varchar](20) NOT NULL,
	[Consorcio] [varchar](1) NOT NULL,
	[TipoPessoa] [varchar](1) NOT NULL,
	[Quantidade] [int] NOT NULL,
	[Volume] [decimal](18, 2) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CETIP_POTENCIAL_SINTETICO]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
DROP   TABLE [dbo].[CETIP_POTENCIAL_SINTETICO]
CREATE TABLE [dbo].[CETIP_POTENCIAL_SINTETICO](
	[MesReferencia] [varchar](6) NULL,
	[CNPJ] [varchar](14) NULL,
	[Classificacao] [varchar](1) NULL,
	[RazaoSocial] [varchar](150) NULL,
	[NomeFantasia] [varchar](55) NULL,
	[CNAE] [varchar](174) NULL,
	[Endereco] [varchar](64) NULL,
	[Complemento] [varchar](137) NULL,
	[Numero] [varchar](10) NULL,
	[Bairro] [varchar](50) NULL,
	[UF] [varchar](2) NULL,
	[Cidade] [varchar](32) NULL,
	[CEP] [varchar](8) NULL,
	[Quantidade] [int] NULL,
	[Volume] [decimal](18, 2) NULL,
	[MarketShareQuant] [int] NULL,
	[MarketShareValor] [decimal](18, 2) NULL,
	[MarketShareAcimaQuant] [int] NULL,
	[MarketShareAcimaValor] [decimal](18, 2) NULL,
	[MarketShareAbaixoQuant] [int] NULL,
	[MarketShareAbaxoValor] [decimal](18, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CETIP_RANKING]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
DROP   TABLE [dbo].[CETIP_RANKING]
CREATE TABLE [dbo].[CETIP_RANKING](
	[MesReferencia] [varchar](6) NOT NULL,
	[CNPJ] [varchar](14) NOT NULL,
	[Classificacao] [char](1) NOT NULL,
	[RazaoSocial] [varchar](150) NOT NULL,
	[NomeFantasia] [varchar](55) NOT NULL,
	[CNAE] [varchar](174) NOT NULL,
	[Endereco] [varchar](64) NOT NULL,
	[Complemento] [varchar](137) NOT NULL,
	[Número] [varchar](10) NULL,
	[Bairro] [varchar](50) NULL,
	[UF] [varchar](2) NULL,
	[Cidade] [varchar](32) NULL,
	[CEP] [varchar](8) NULL,
	[QuantidadedeBancos] [int] NOT NULL,
	[RankingCliente] [int] NOT NULL,
 CONSTRAINT [PK_Cetip_Ranking] PRIMARY KEY CLUSTERED 
(
	[MesReferencia] ASC,
	[CNPJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
*/

/****** Object:  StoredProcedure [dbo].[SCR_CETIP_POTENCIAL_ANALITICO_CONSULTA]    Script Date: 02/12/2015 03:53:17 *****
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_POTENCIAL_ANALITICO_CONSULTA' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_ANALITICO_CONSULTA]
GO

CREATE PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_ANALITICO_CONSULTA] (
	@MesReferencia as varchar(6),
	@localizar as varchar(200))
AS
BEGIN

DECLARE @DTINI  DATETIME  
DECLARE @DTFIM  DATETIME  
  
SET @DTINI = DATEADD(MM,-1,CONVERT(DATETIME,@MesReferencia+'01'))  
SET @DTFIM = DATEADD(MM,+1,CONVERT(DATETIME,@MesReferencia+'01'))  

SELECT 
	MesReferencia
	,CNPJ
--	,'' Loja_Ativa
	,ISNULL(o4ativa,'')   AS  Loja_Ativa  
--	,'' Loja
--o4ativa,o4descr,o4rua,o4cmpt,o4cep,o4bai,o4cid,o4cpfcgc   
	,ISNULL(o4descr,'')   AS  Loja
	,ISNULL(o4rua+o4cmpt+o4cep+o4bai+o4cid,'') AS ENDERECO
--	,'' Endereco
--	,'' Agente
    ,ISNULL(CONVERT(VARCHAR(10),A13CODORG)+'-'+A13DESCR,'') AS Agente  
	,Categoria
	,Segmento
	,Consorcio
	,TipoPessoa
	,Quantidade
	,Volume
FROM 
	(SELECT * FROM	Cetip_Potencial_Analitico (NOLOCK)
		WHERE		MesReferencia = @MesReferencia
			   AND  (@localizar = '' or (
							CNPJ like '%'+@localizar+'%' or 
							Categoria like '%'+@localizar+'%' or
							Segmento like '%'+@localizar+'%'
								) 	) ) AS PA
left join   
	 (select --o4ativa,o4descr,o4rua,o4cmpt,o4cep,o4bai,o4cid,o4cpfcgc   
	 o4codorg, o4nome, o4descr, o4rua,o4cmpt, o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ  
	 from  CDCSANTANAMicroCredito..torg4 O (NOLOCK) ) as c  
	 on o4cpfcgc= left(PA.cnpj,2)+'.'+substring(PA.cnpj,3,3)+'.'+substring(PA.cnpj,6,3)+'/'+substring(PA.cnpj,9,4)+'-'+right(PA.cnpj,2)  
left join  
	 (SELECT DISTINCT PPCODORG4,PPCODORG3 FROM  PropWebSmc..CProp  (NOLOCK)  
	  WHERE PPDTBASE BETWEEN @DTINI AND @DTFIM ) AS PROP  
	 ON PPCODORG4= o4codorg          
left join  
	 (select DISTINCT O3CODORG,O3DESCR,o3codOrgA13 from CDCSANTANAMicroCredito..TORG3 OPE1 (NOLOCK) ) as OPERADOR  
	 ON O3CODORG = PPCODORG3  
-- AGENTE  
left join  
	 (select A13CODORG,A13DESCR,A13DTCAD from CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) ) as A  
	 ON OPERADOR.o3codOrgA13 = A.A13CODORG  	
END

GO*/

/****** Object:  StoredProcedure [dbo].[SCR_CETIP_POTENCIAL_ANALITICO_DADOS]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_POTENCIAL_ANALITICO_DADOS' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_ANALITICO_DADOS]
GO


CREATE PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_ANALITICO_DADOS] 
AS
BEGIN

SELECT 
	MesReferencia
	,CNPJ
	,Categoria
	,Segmento
	,Consorcio
	,TipoPessoa
	,Quantidade
	,Volume
FROM 
	Cetip_Potencial_Analitico  (NOLOCK)
Where
	MesReferencia = (SELECT MAX(MesReferencia) FROM Cetip_Potencial_Analitico  (NOLOCK))
	
END

GO
/****** Object:  StoredProcedure [dbo].[SCR_CETIP_POTENCIAL_ANALITICO_GRAVAR]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_POTENCIAL_ANALITICO_GRAVAR' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_ANALITICO_GRAVAR]
GO

CREATE PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_ANALITICO_GRAVAR] (
	 @MesReferencia varchar(14),
     @CNPJ varchar(14),
     @Categoria varchar(50),
     @Segmento varchar(20),
     @Consorcio varchar(1),
     @TipoPessoa varchar(1),
     @Quantidade int,
     @Volume decimal(18,2)
)
AS
BEGIN
INSERT INTO Cetip_Potencial_Analitico
           (MesReferencia
		   ,CNPJ
           ,Categoria
           ,Segmento
           ,Consorcio
           ,TipoPessoa
           ,Quantidade
           ,Volume)
     VALUES
           (@MesReferencia
		   ,@CNPJ
           ,@Categoria
           ,@Segmento
           ,@Consorcio
           ,@TipoPessoa
           ,@Quantidade
           ,@Volume)
END




GO
/****** Object:  StoredProcedure [dbo].[SCR_CETIP_POTENCIAL_ANALITICO_LIMPAR]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_POTENCIAL_ANALITICO_LIMPAR' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_ANALITICO_LIMPAR]
GO

CREATE PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_ANALITICO_LIMPAR](@MesReferencia varchar(6))
AS
BEGIN

DELETE FROM Cetip_Potencial_ANALITICO WHERE MesReferencia = @MesReferencia
        
END




GO
/****** Object:  StoredProcedure [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_CONSULTA]    Script Date: 02/12/2015 03:53:17 *****
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_POTENCIAL_SINTETICO_CONSULTA' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_CONSULTA]
GO

-- ***********
CREATE PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_CONSULTA] (
	@MesReferencia as varchar(6),
	@localizar as varchar(200))
AS
BEGIN

DECLARE @DTINI  DATETIME  
DECLARE @DTFIM  DATETIME  
  
SET @DTINI = DATEADD(MM,-1,CONVERT(DATETIME,@MesReferencia+'01'))  
SET @DTFIM = DATEADD(MM,+1,CONVERT(DATETIME,@MesReferencia+'01'))  

SELECT
	MesReferencia 
	,CNPJ
	,Classificacao
	,RazaoSocial
	,NomeFantasia
--	,'' Agente
	,ISNULL(CONVERT(VARCHAR(10),A13CODORG)+'-'+A13DESCR,'') AS Agente  
--	,'' Loja_Ativa
	,ISNULL(o4ativa,'')   AS  Loja_Ativa  
	,CNAE
	,Endereco
	,Complemento
	,Numero
	,Bairro
	,UF
	,Cidade
	,CEP
	,Quantidade
	,Volume
	,MarketShareQuant
	,MarketShareValor
	,MarketShareAcimaQuant
	,MarketShareAcimaValor
	,MarketShareAbaixoQuant
	,MarketShareAbaxoValor
FROM 

(  
-- DECLARE  @MesReferencia as varchar(6) DECLARE  @localizar as varchar(200) SET @MesReferencia='201506' SET @localizar=''  
	SELECT * FROM   Cetip_Potencial_Sintetico (NOLOCK)
	 WHERE    MesReferencia = @MesReferencia AND  
				  (@localizar = '' or (  
					  CNPJ like '%'+@localizar+'%' or   
					  RazaoSocial like '%'+@localizar+'%' or  
					  NomeFantasia like '%'+@localizar+'%'  
					   )   
				  ) ) AS PS 
/* WHERE  	(@localizar = '' or (
					CNPJ like '%'+@localizar+'%' or 
					RazaoSocial like '%'+@localizar+'%' or
					NomeFantasia like '%'+@localizar+'%'   						) 	)
	AND MesReferencia = @MesReferencia		*/

left join   
	 (select  o4codorg, o4nome, o4descr, o4rua,o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ  
	 from  CDCSANTANAMicroCredito..torg4 O (NOLOCK) ) as c  
	 on o4cpfcgc= LEFT(PS.cnpj,2)+'.'+substring(PS.cnpj,3,3)+'.'+substring(PS.cnpj,6,3)+'/'+substring(PS.cnpj,9,4)+'-'+right(PS.cnpj,2)  
left join  
	 (SELECT DISTINCT PPCODORG4,PPCODORG3 FROM  PropWebSmc..CProp  (NOLOCK)  
	  WHERE PPDTBASE BETWEEN @DTINI AND @DTFIM ) AS PROP  
	 ON PPCODORG4= o4codorg  
/*  
 (select OPCODORG4,OPCODORG3 --,OPDTBASE  
  from CDCSANTANAMicroCredito..COPER O1 (NOLOCK)  
 WHERE OPDTBASE BETWEEN @DTINI AND @DTFIM  
  ) as o  
 ON O4CODORG = OPCODORG4  */  
left join  
	 (select DISTINCT O3CODORG,O3DESCR,o3codOrgA13 from CDCSANTANAMicroCredito..TORG3 OPE1 (NOLOCK) ) as OPERADOR  
	 ON O3CODORG = PPCODORG3  
-- AGENTE  
left join  
	 (select A13CODORG,A13DESCR,A13DTCAD from CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) ) as A  
	 ON OPERADOR.o3codOrgA13 = A.A13CODORG  
	

END




GO  */

/****** Object:  StoredProcedure [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_DADOS]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_POTENCIAL_SINTETICO_DADOS' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_DADOS]
GO

CREATE PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_DADOS]
AS
BEGIN

SELECT 
	MesReferencia
	,CNPJ
	,Classificacao
	,RazaoSocial
	,NomeFantasia
	,CNAE
	,Endereco
	,Complemento
	,Numero
	,Bairro
	,UF
	,Cidade
	,CEP
	,Quantidade
	,Volume
	,MarketShareQuant
	,MarketShareValor
	,MarketShareAcimaQuant
	,MarketShareAcimaValor
	,MarketShareAbaixoQuant
	,MarketShareAbaxoValor
FROM 
	Cetip_Potencial_Sintetico (NOLOCK)
WHERE
   MesReferencia = (SELECT MAX(MesReferencia) FROM Cetip_Potencial_Sintetico (NOLOCK) )
        
END




GO
/****** Object:  StoredProcedure [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_GRAVAR]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_POTENCIAL_SINTETICO_GRAVAR' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_GRAVAR]
GO

CREATE PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_GRAVAR] (
	@MesReferencia varchar(6),
	@CNPJ varchar(14),
	@Classificacao varchar(1),
	@RazaoSocial varchar(150),
	@NomeFantasia varchar(55),
	@CNAE varchar(174),
	@Endereco varchar(64),
	@Complemento varchar(137),
	@Numero varchar(10),
	@Bairro varchar(50),
	@UF varchar(2),
	@Cidade varchar(32),
	@CEP varchar(8),
	@Quantidade int,
	@Volume decimal(18,2),
	@MarketShareQuant int,
	@MarketShareValor decimal(18,2),
	@MarketShareAcimaQuant int,
	@MarketShareAcimaValor decimal(18,2),
	@MarketShareAbaixoQuant int,
	@MarketShareAbaxoValor decimal(18,2)
)
AS
BEGIN
INSERT INTO CETIP_POTENCIAL_SINTETICO
	(MesReferencia
	,CNPJ
	,Classificacao
	,RazaoSocial
	,NomeFantasia
	,CNAE
	,Endereco
	,Complemento
	,Numero
	,Bairro
	,UF
	,Cidade
	,CEP
	,Quantidade
	,Volume
	,MarketShareQuant
	,MarketShareValor
	,MarketShareAcimaQuant
	,MarketShareAcimaValor
	,MarketShareAbaixoQuant
	,MarketShareAbaxoValor)
VALUES
	(@MesReferencia,
	@CNPJ,
	@Classificacao,
	@RazaoSocial,
	@NomeFantasia,
	@CNAE,
	@Endereco,
	@Complemento,
	@Numero,
	@Bairro,
	@UF,
	@Cidade,
	@CEP,
	@Quantidade,
	@Volume,
	@MarketShareQuant,
	@MarketShareValor,
	@MarketShareAcimaQuant,
	@MarketShareAcimaValor,
	@MarketShareAbaixoQuant,
	@MarketShareAbaxoValor
)
END

GO
/****** Object:  StoredProcedure [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_LIMPAR]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_POTENCIAL_SINTETICO_LIMPAR' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_LIMPAR]
GO

CREATE PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_LIMPAR] (@MesReferencia varchar(6))
AS
BEGIN

DELETE FROM CETIP_POTENCIAL_SINTETICO WHERE MesReferencia = @MesReferencia
	
END

GO
/****** Object:  StoredProcedure [dbo].[SCR_CETIP_RANKING_CONSULTA]    Script Date: 02/12/2015 03:53:17 *****
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_RANKING_CONSULTA' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_RANKING_CONSULTA]
GO

-- EXEC [SCR_CETIP_RANKING_CONSULTA] '201508',''
CREATE PROCEDURE [dbo].[SCR_CETIP_RANKING_CONSULTA] (
	@MesReferencia as varchar(6),
	@localizar as varchar(200))
AS 
BEGIN

-- DECLARE 	@MesReferencia as varchar(6) DECLARE 	@localizar as varchar(200) SET @MesReferencia='201508' SET @localizar=''
DECLARE @DTINI  DATETIME
DECLARE @DTFIM  DATETIME

SET @DTINI = DATEADD(MM,-1,CONVERT(DATETIME,@MesReferencia+'01'))
SET @DTFIM = DATEADD(MM,+1,CONVERT(DATETIME,@MesReferencia+'01'))
--  SELECT @DTINI, @DTFIM

-- 2M54S
-- DECLARE 	@MesReferencia as varchar(6) DECLARE 	@localizar as varchar(200) SET @MesReferencia='201508' SET @localizar=''

	SELECT 
		MesReferencia
		,CNPJ
		,Classificacao
		,RazaoSocial
		,NomeFantasia
		-- O.OPCODORG4,OPERADOR.*,A.* 
		,ISNULL(CONVERT(VARCHAR(10),A13CODORG)+'-'+A13DESCR,'') AS	Agente
--,'' AGENTE   
-- 4= LJ 3= OPER
/*, ISNULL(	(select A13DESCR from CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) 
		WHERE  A13CODORG = ISNULL(

-- COD AGENTE
	(select MAX(o3codOrgA13) from CDCSANTANAMicroCredito..TORG3 OPE1 (NOLOCK) 
	WHERE O3CODORG = --OPCODORG3
-- COD OPERADOR
ISNULL(  (

-- DECLARE 	@MesReferencia as varchar(6) DECLARE 	@localizar as varchar(200) SET @MesReferencia='201508' SET @localizar=''
SELECT MAX(PPCODORG3) FROM  PropWebSmc..CProp  (NOLOCK)
		WHERE	PPDTBASE BETWEEN @DTINI AND @DTFIM
	AND PPCODORG4= 
-- COD LOJA
ISNULL((SELECT MAX(O4CODORG)  FROM  CDCSANTANAMicroCredito..torg4  (NOLOCK)
		WHERE	o4cpfcgc= left(r.cnpj,2)+'.'+substring(r.cnpj,3,3)+'.'+substring(r.cnpj,6,3)+'/'+substring(r.cnpj,9,4)+'-'+right(r.cnpj,2) ),'')
--left(r.cnpj,2)+'.'+substring(r.cnpj,3,3)+'.'+substring(r.cnpj,6,3)+'/'+substring(r.cnpj,9,4)+'-'+right(r.cnpj,2)
	)  ,'')
	),'')  ),'')		AS AGENTE
*/

--		,o4ativa			AS  Loja_Ativa
	,ISNULL((select	MAX(o4ativa)	from  CDCSANTANAMicroCredito..torg4 O (NOLOCK) 
		WHERE	o4cpfcgc= left(r.cnpj,2)+'.'+substring(r.cnpj,3,3)+'.'+substring(r.cnpj,6,3)+'/'+substring(r.cnpj,9,4)+'-'+right(r.cnpj,2) ),'')
		AS Loja_Ativa
		,CNAE
		,Endereco
		,Complemento
		,Número
		,Bairro
		,UF
		,Cidade
		,CEP
		,QuantidadedeBancos
		,RankingCliente
--		,O3CODORG+O3DESCR AS OPERADOR
	FROM
(
-- DECLARE 	@MesReferencia as varchar(6) DECLARE 	@localizar as varchar(200) SET @MesReferencia='201506' SET @localizar=''
SELECT * FROM	  Cetip_Ranking (NOLOCK)
	WHERE
		MesReferencia = @MesReferencia AND
		(@localizar = '' or (
						CNPJ like '%'+@localizar+'%' or 
						RazaoSocial like '%'+@localizar+'%' or
						NomeFantasia like '%'+@localizar+'%'
							) 
		)	) AS R

left join 
	(select --o4ativa,o4descr,o4rua,o4cmpt,o4cep,o4bai,o4cid,o4cpfcgc 
	o4codorg, o4nome, o4descr, o4rua,o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ
	from  CDCSANTANAMicroCredito..torg4 O (NOLOCK) ) as c
	on o4cpfcgc= left(r.cnpj,2)+'.'+substring(r.cnpj,3,3)+'.'+substring(r.cnpj,6,3)+'/'+substring(r.cnpj,9,4)+'-'+right(r.cnpj,2)
left join
	(SELECT DISTINCT PPCODORG4,PPCODORG3 FROM  PropWebSmc..CProp  (NOLOCK)
		WHERE	PPDTBASE BETWEEN @DTINI AND @DTFIM ) AS PROP
	ON PPCODORG4= o4codorg
/*
	(select OPCODORG4,OPCODORG3 --,OPDTBASE
	 from CDCSANTANAMicroCredito..COPER O1 (NOLOCK)
	WHERE OPDTBASE BETWEEN @DTINI AND @DTFIM
	 ) as o
	ON O4CODORG = OPCODORG4		*/
left join
	(select DISTINCT O3CODORG,O3DESCR,o3codOrgA13 from CDCSANTANAMicroCredito..TORG3 OPE1 (NOLOCK) ) as OPERADOR
	ON O3CODORG = PPCODORG3
-- AGENTE
left join
	(select A13CODORG,A13DESCR,A13DTCAD from CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) ) as A
	ON OPERADOR.o3codOrgA13 = A.A13CODORG


END

GO		*/
/****** Object:  StoredProcedure [dbo].[SCR_CETIP_RANKING_DADOS]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_RANKING_DADOS' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_RANKING_DADOS] 
GO

CREATE PROCEDURE [dbo].[SCR_CETIP_RANKING_DADOS] 
AS 
BEGIN
	SELECT 
		MesReferencia
		,CNPJ
		,Classificacao
		,RazaoSocial
		,NomeFantasia
		,CNAE
		,Endereco
		,Complemento
		,Número
		,Bairro
		,UF
		,Cidade
		,CEP
		,QuantidadedeBancos
		,RankingCliente
	FROM
	  Cetip_Ranking (NOLOCK)
	WHERE
		MesReferencia = (SELECT MAX(MesReferencia) FROM Cetip_Ranking (NOLOCK) )
END

GO
/****** Object:  StoredProcedure [dbo].[SCR_CETIP_RANKING_GRAVAR]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_RANKING_GRAVAR' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_RANKING_GRAVAR]
GO

CREATE PROCEDURE [dbo].[SCR_CETIP_RANKING_GRAVAR] (
	@MesReferencia  varchar(6),
	@CNPJ varchar(14),
	@Classificacao char(1),
	@RazaoSocial varchar(150),
	@NomeFantasia varchar(55),
	@CNAE varchar(174),
	@Endereco varchar(64),
	@Complemento varchar(137),
	@Número varchar(10),
	@Bairro varchar(50),
	@UF varchar(2),
	@Cidade varchar(32),
	@CEP varchar(8),
	@QuantidadedeBancos int,
	@RankingCliente int)

AS 
BEGIN
	INSERT INTO Cetip_Ranking
		(MesReferencia
		,CNPJ
		,Classificacao
		,RazaoSocial
		,NomeFantasia
		,CNAE
		,Endereco
		,Complemento
		,Número
		,Bairro
		,UF
		,Cidade
		,CEP
		,QuantidadedeBancos
		,RankingCliente)
	VALUES
		(@MesReferencia,
		@CNPJ,
		@Classificacao,
		@RazaoSocial,
		@NomeFantasia,
		@CNAE,
		@Endereco,
		@Complemento,
		@Número,
		@Bairro,
		@UF,
		@Cidade,
		@CEP,
		@QuantidadedeBancos,
		@RankingCliente)
END

GO
/****** Object:  StoredProcedure [dbo].[SCR_CETIP_RANKING_LIMPAR]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_RANKING_LIMPAR' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_RANKING_LIMPAR]
GO

CREATE PROCEDURE [dbo].[SCR_CETIP_RANKING_LIMPAR] (@MesReferencia varchar(6))
AS 
BEGIN
	DELETE FROM Cetip_Ranking WHERE MesReferencia = @MesReferencia
END

GO
