USE sig
GO
/****** Object:  StoredProcedure [dbo].[scr_graf4_Rolag_Consolid]    Script Date: 28/12/2016 02:25:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        create Procedure [dbo].[scr_graf4_Rolag_Consolid] (
			@data_ref as datetime) AS

			begin

				select
					'ROLAGENS  15 a 30 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					1 ORDEM

			
				union all

				select
					'ROLAGENS  31 a 60 d' DESCR,

					346 m24,
					575 m23,
					23 m22,
					379 m21,
					469 m20,
					23 m19,
					739 m18,
					538 m17,
					274 m16,
					45 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					56 m10,
					683 m9,
					574 m8,
					7 m7,
					828 m6,
					535 m5,
					420 m4,
					56 m3,
					570 m2,
					384 m1,
					543 m0,
					2 ORDEM

			
				union all

				select
					'ROLAGENS  61 a 90 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					34 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					56 m7,
					828 m6,
					535 m5,
					420 m4,
					75 m3,
					570 m2,
					384 m1,
					543 m0,
					3 ORDEM

				union all

				select
					'ROLAGENS  91 a 120 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					33 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					11 m7,
					828 m6,
					535 m5,
					420 m4,
					3 m3,
					570 m2,
					384 m1,
					543 m0,
					4 ORDEM


				union all

				select
					'ROLAGENS 121 a 150 d' DESCR,

					346 m24,
					575 m23,
					32 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					43 m17,
					274 m16,
					496 m15,
					966 m14,
					23 m13,
					657 m12,
					782 m11,
					775 m10,
					23 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					5 ORDEM


				union all

				select
					'ROLAGENS 151 a 180 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					12 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					5 m10,
					683 m9,
					574 m8,
					3 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					2 m1,
					543 m0,
					6 ORDEM


			end









