--USE [Santana]
USE SIG
GO
/****** Object:  StoredProcedure [dbo].[scr_risco_pdd_safra_tempo]    Script Date: 22/12/2016 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        CREATE Procedure [dbo].[scr_risco_pdd_safra_tempo2] (
			@data_ref as datetime) AS

			begin



				select
					'MÉDIA 2014' DESCR,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					1 ORDEM

			
				union all

				select
					'MÉDIA 2015' DESCR,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					2 ORDEM

			
				union all

				select
					'MÉDIA 2016' DESCR,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					3 ORDEM

			
				union all

				select
					'VARIAÇÃO 2016 (%)' DESCR,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					4 ORDEM

			
				union all

				select
					'VARIAÇÃO 2015 (%)' DESCR,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					5 ORDEM

			

			end









