USE [Santana]
GO
/****** Object:  StoredProcedure [dbo].[scr_risco_pdd_safra_tempo]    Script Date: 22/12/2016 23:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        ALTER Procedure [dbo].[scr_risco_pdd_safra_tempo] (
			@data_ref as datetime) AS

			begin



				select
					'2014 01' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					1 ORDEM

			
				union all

								select
					'2014 02' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					2 ORDEM

			
				union all

				select
					'2014 03' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					3 ORDEM

			
				union all

				select
					'2014 04' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					4 ORDEM

			
				union all

				select
					'2014 05' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					5 ORDEM

			
				union all

				select
					'2014 06' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					6 ORDEM

			
				union all

				select
					'2014 07' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					7 ORDEM

			
				union all

				select
					'2014 08' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					8 ORDEM

			
				union all

				select
					'2014 09' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					9 ORDEM

			
				union all

				select
					'2014 10' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					10 ORDEM

			
				union all

				select
					'2014 11' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					11 ORDEM

			
				union all

				select
					'2014 12' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					12 ORDEM

			
				union all

				select
					'2015 01' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					13 ORDEM

			
				union all

				select
					'2015 02' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					14 ORDEM

			
				union all

				select
					'2015 03' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					15 ORDEM

			
				union all

				select
					'2015 04' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					16 ORDEM

			
				union all

				select
					'2015 05' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					17 ORDEM

			
				union all

				select
					'2015 06' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					18 ORDEM

			
				union all

				select
					'2015 07' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					19 ORDEM

			
				union all

				select
					'2015 08' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					20 ORDEM

			
				union all

				select
					'2015 09' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					21 ORDEM

			
				union all

				select
					'2015 10' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					22 ORDEM

			
				union all

				select
					'2015 11' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					23 ORDEM

			
				union all

				select
					'2015 12' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					24 ORDEM

			
				union all

				select
					'2016 01' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					25 ORDEM

			
				union all

				select
					'2016 02' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					26 ORDEM

			
				union all

				select
					'2016 03' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					27 ORDEM

			
				union all

				select
					'2016 04' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					28 ORDEM

			
				union all

				select
					'2016 05' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					29 ORDEM

			
				union all

				select
					'2016 06' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					30 ORDEM

			
				union all

				select
					'2016 07' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					31 ORDEM

			
				union all

				select
					'2016 08' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					32 ORDEM

			
				union all

				select
					'2016 09' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					33 ORDEM

			
				union all

				select
					'2016 10' DESCR,
					5133 m34,
					23 m33,
					345 m32,
					867 m31,
					324 m30,
					985 m29,
					387 m28,
					5634 m27,
					978 m26,
					4567 m25,
					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					34 ORDEM

			

			
		



				



			end









