USE sig
GO
/****** Object:  StoredProcedure [dbo].[scr_graf_Rolag_Consolid]    Script Date: 28/12/2016 02:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        create Procedure [dbo].[scr_graf_Rolag_Consolid] (
			@data_ref as datetime) AS

			begin



				select
					'ENTRADAS  15 a 30 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					1 ORDEM

			
				union all

				select
					'ENTRADAS  31 a 60 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					2 ORDEM

			
				union all

				select
					'ENTRADAS  61 a 90 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					3 ORDEM

				union all

				select
					'ENTRADAS  91 a 120 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					4 ORDEM


				union all

				select
					'ENTRADAS 121 a 150 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					5 ORDEM


				union all

				select
					'ENTRADAS 151 a 180 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					6 ORDEM


				union all


				select
					'Estoque  15 a 30 d R$MM' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					7 ORDEM

			
				union all

				select
					'Estoque  31 a 60 d R$ MM' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					8 ORDEM

			
				union all


				select
					'Estoque  61 a 90 d R$ MM' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					9 ORDEM

			
				union all


				select
					'Estoque  91 a 120 d R$ MM' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					10 ORDEM

			
				union all


				select
					'Estoque 121 a 150 d R$ MM' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					11 ORDEM

			
				union all


				select
					'Estoque 151 a 180 d R$ MM' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					12 ORDEM

			
				union all


				select
					'REGULARIZAÇÕES  15 a 30 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					13 ORDEM

			
				union all


				select
					'REGULARIZAÇÕES  31 a 60 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					14 ORDEM

			
				union all


				select
					'REGULARIZAÇÕES  61 a 90 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					15 ORDEM

			
				union all


				select
					'REGULARIZAÇÕES  91 a 120 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					16 ORDEM

			
				union all


				select
					'REGULARIZAÇÕES 121 a 150 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					17 ORDEM

			
				union all


				select
					'REGULARIZAÇÕES 151 a 180 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					18 ORDEM

			
				union all


				select
					'ROLAGENS  15 a 30 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					19 ORDEM

			
				union all


				select
					'ROLAGENS  31 a 60 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					20 ORDEM

			
				union all


				select
					'ROLAGENS  61 a 90 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					21 ORDEM

			
				union all


				select
					'ROLAGENS  91 a 120 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					22 ORDEM

			
				union all


				select
					'ROLAGENS 121 a 150 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					23 ORDEM

			
				union all


				select
					'ROLAGENS 151 a 180 d' DESCR,

					346 m24,
					575 m23,
					456 m22,
					379 m21,
					469 m20,
					158 m19,
					739 m18,
					538 m17,
					274 m16,
					496 m15,
					966 m14,
					533 m13,
					657 m12,
					782 m11,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					543 m0,
					24 ORDEM

			


		



				



			end









