
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec scr_Spread_DESCONTO '20180331','20180101','1','20161001','20180331','99'

-- exec scr_Spread_DESCONTO '20180331','20180101','7', '1','99','DESCRICAO','20161001','20180331','60','99'
-- sp_helptext scr_Spread_DESCONTO

-- PROC tela scr_Spread_BALCAO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_Spread_DESCONTO' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_Spread_DESCONTO]
GO

-- EXEC [scr_Spread_DESCONTO] @data_ref as datetime, @Dt_Prod_de as smalldatetime, @RPT int,
--  @Dt_de as smalldatetime, @Dt_ate as smalldatetime, @OPERADOR INT = COD_OPERADOR
  
  
CREATE Procedure [dbo].[scr_Spread_DESCONTO] (@data_ref as datetime, @Dt_Prod_de as smalldatetime, @RPT int,   
  @Dt_de as smalldatetime, @Dt_ate as smalldatetime --, @dias_atraso int  
,  @CodAgente VARCHAR(10)) AS  
BEGIN  



 EXEC [dbo].SPR_CALCULO_DESCONTO	@Dt_Prod_de ,@data_ref,@RPT, @Dt_de , @Dt_ate
-- PRODUTO 0, 1, 2

/*
SELECT  '11'	AS  CODIGO,
		'FIDC'	AS  DESCRICAO,
		99000.0 AS	CARTEIRA,
		2.0		AS	PRAZO_MEDIO,
		3.0		AS	TAXA_MEDIA,
		0.650	AS 	RISCO,
		1.123	AS	CAPTACAO,
		0.500	AS 	SPREAD_MEDIO,
		90		AS	QTDE_PROD,
		8000.0	AS	VLR_PROD,
		2000.0  AS	VF_SAFRA,
		400.0   AS	VLR_PERDA	*/


 SELECT  OPERADOR	AS  CODIGO,
		DESCRICAO,
		CARTEIRA,
		PRAZO_MEDIO,
		TAXA_MEDIA,
		PERDA AS RISCO,
		CAPTACAO,
		SPREAD AS SPREAD_MEDIO,
		QTD_CONTRATOS	AS	QTDE_PROD,
		VLR_CONTRATOS	AS	VLR_PROD,
		VF_SAFRA,
		VLR_PERDA
		-- SELECT *
		 FROM SPREAD_RPT_DESCONTO (NOLOCK)
WHERE	DT_FECHA=@data_ref
	AND RPT=@RPT

END  
GO
