
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- sp_helptext scr_lst_operador_desconto
-- exec scr_lst_operador_desconto 

-- PROC tela CUBO RR MENSAL  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_lst_operador_desconto' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_lst_operador_desconto]
GO

  
  
CREATE Procedure [dbo].scr_lst_operador_desconto  AS        
BEGIN        
        
SELECT		DISTINCT P.PesNome, A.pesCnpjCpf,A.AgeCodigo
	FROM	NETFACTOR..NFagente A (NOLOCK)
	JOIN	NETFACTOR..NFPESSOA P (NOLOCK)
		ON	P.pesCNPJCPF = A.pesCNPJCPF
--	WHERE	A.pesCNPJCPF='08925129892'

UNION 
SELECT		'Z-TOTAL GERAL'	AS PesNome, 
			'999'			AS pesCnpjCpf,
			'999'				AS AgeCodigo

    ORDER	BY PesNOME      
        
END     
GO
