
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec scr_SPREAD_DESCONTO_analitico_prod  '20180131','20180101','20180331'
-- exec scr_SPREAD_DESCONTO_analitico_prod  '20180131','20171201'

-- PROC tela CUBO RR MENSAL  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_Spread_DESCONTO_analitico_prod' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_spread_DESCONTO_analitico_prod]
GO


CREATE Procedure [dbo].[scr_Spread_DESCONTO_analitico_prod]
 (@data_ref as datetime,@Dt_Prod_de as smalldatetime, @Dt_Risco as smalldatetime
					) AS
BEGIN

TRUNCATE TABLE TBL_Spread_DESCONTO_analitico_prod

-- SP_HELP TBL_Spread_DESCONTO_analitico_prod
INSERT	TBL_Spread_DESCONTO_analitico_prod
SELECT	DISTINCT 
		@data_ref,	NUM_OPE,	DT_BASE,	VLR_OP,		VLR_PARC,
		PRAZO,		PLANO,		0.0,  -- VLR_ATRASO
		0.0,		-- VLR_VINCENDO
		TAXA,		ATRASO,		RATING,
		CODCLI,		CODPROD,	CODMODA,	AGENTE,  '' ,  -- PRODUTO
		TX_X_VLR,	PRZ_X_VLR,	VLR_FUTURO,	NULL, 0.0, -- VLR_RISCO  SLD_CONTABIL
		SCORE	,	0,			0,			0, -- qtd_Parc_Avencer qtd_Parc_Abertas qtd_Parc_Pagas
		TAXA,	--	TAXA_SEM_RET,	
		'','','',0.0, 0.0 -- Tx_Cliente_am CPF_Cliente Dt_vcto_contrato Dt_Liq_Oper PMT SPREAD_AUX

		/*
		VLR_PRESENTE	VLR_RECEITA	VLR_LIBERADO	VLR_TC		VLR_TARIFA		VLR_IOF
		VLR_FIPE		RETORNO		dtVencParc		DT_PAGTO	RENEGOCIADO		VEICULO			
		CODOPER			CODLOJA		ANO_MODELO		BORDERO		FX_ANO			FX_PLANO	
		NVL_RISCO		PLANO_X_VLR		TAXA_AA		TX_AA_X_VLR  */
FROM	COMERCIAL_PRODUCAO (NOLOCK) 
WHERE	DT_FECHA=@data_ref 	
	AND PRODUTO='D'
	AND DT_BASE BETWEEN @Dt_Prod_de AND @DATA_REF 
	AND VLR_OP >0.0   -- DESCONTO
	-- produção do mes de fechamento

	-- mes anterior  **********
	-- FECHAMENTO DO MES ANTERIOR  	************** DIA 12/6/17
	DECLARE @DATA_ANT   AS DATETIME
	SET		@DATA_ANT	= CONVERT(VARCHAR(4),DATEPART(YYYY,@DATA_REF))+ RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MM,@DATA_REF))),2) + '01'
	--		SELECT  @DATA_ANT
	SET		@DATA_ANT	= DATEADD(DD,-1,@DATA_ANT)  -- FIM DO MES ANTERIOR
	--		SELECT  @DATA_ANT

--  ********** anterior 
INSERT	TBL_Spread_DESCONTO_analitico_prod
SELECT	DISTINCT 
		@data_ref,	NUM_OPE,	DT_BASE,	VLR_OP,		VLR_PARC,
		PRAZO,		PLANO,		0.0,  -- VLR_ATRASO
		0.0,		-- VLR_VINCENDO
		TAXA,		ATRASO,		RATING,
		CODCLI,		CODPROD,	CODMODA,	AGENTE,  '' ,   -- PRODUTO
		TX_X_VLR,	PRZ_X_VLR,	VLR_FUTURO,	NULL, 0.0,		-- VLR_RISCO  SLD_CONTABIL
		SCORE	,	0,			0,			0, -- qtd_Parc_Avencer qtd_Parc_Abertas qtd_Parc_Pagas
		TAXA,  -- TAXA_SEM_RET,	
		'','','',0.0, 0.0  -- Tx_Cliente_am CPF_Cliente Dt_vcto_contrato Dt_Liq_Oper PMT SPREAD_AUX
FROM	COMERCIAL_PRODUCAO (NOLOCK) 
WHERE	DT_FECHA = @DATA_ANT  -- mes anterior 	
	AND PRODUTO  = 'D'
	AND DT_BASE  BETWEEN @Dt_Prod_de AND @DATA_REF 
	AND VLR_OP   > 0.0   -- DESCONTO

	-- 2 meses anterior  **********
	-- FECHAMENTO DO MES ANTERIOR  	************** DIA 12/6/17
	DECLARE @DATA_2M   AS DATETIME
	SET		@DATA_2M	= CONVERT(VARCHAR(4),DATEPART(YYYY,@DATA_ANT))+ RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MM,@DATA_ANT))),2) + '01'
	--		SELECT  @DATA_ANT
	SET		@DATA_2M	= DATEADD(DD,-1,@DATA_2M)  -- FIM DO MES ANTERIOR
	--		SELECT  @DATA_ANT

--  ********** 2 M anterior 
INSERT	TBL_Spread_DESCONTO_analitico_prod
SELECT	DISTINCT 
		@data_ref,	NUM_OPE,	DT_BASE,	VLR_OP,		VLR_PARC,
		PRAZO,		PLANO,		0.0,  -- VLR_ATRASO
		0.0,		-- VLR_VINCENDO
		TAXA,		ATRASO,		RATING,
		CODCLI,		CODPROD,	CODMODA,	AGENTE,  '' ,   -- PRODUTO
		TX_X_VLR,	PRZ_X_VLR,	VLR_FUTURO,	NULL, 0.0,		-- VLR_RISCO  SLD_CONTABIL
		SCORE	,	0,			0,			0, -- qtd_Parc_Avencer qtd_Parc_Abertas qtd_Parc_Pagas
		TAXA,  --TAXA_SEM_RET,		
		'','','',0.0, 0.0  -- Tx_Cliente_am CPF_Cliente Dt_vcto_contrato Dt_Liq_Oper PMT SPREAD_AUX
FROM	COMERCIAL_PRODUCAO (NOLOCK) 
WHERE	DT_FECHA = @DATA_2M  -- 2 mes anterior 	
	AND PRODUTO  = 'D'
	AND DT_BASE  BETWEEN @Dt_Prod_de AND @DATA_REF 
	AND VLR_OP   > 0.0   -- DESCONTO


	--  SELECT * FROM PDD_SEM_VEIC P (NOLOCK)  WHERE DT_FECHA='20180131'
	--  SELECT * FROM PDD_SEM_VEIC P (NOLOCK)  JOIN NETFACTOR..NFOPERACAO O (NOLOCK) ON CONVERT(VARCHAR(20),P.NUM_OPE) = CONVERT(VARCHAR(20),O.OPECODIGO) WHERE DT_FECHA='20180131' 
	--  SELECT * FROM NETFACTOR..NFOPERACAO (NOLOCK) WHERE OPECODIGO IN ('15000318','15000342','15000343','15000376')
	--  SELECT * FROM NETFACTOR..NFOPERACAO (NOLOCK) WHERE OPECODIGO IN ('1000089','22002021','22002027')

	 -- PDD  INCLUIDOS			*********************************	
	 -- DECLARE  @Dt_Prod_de DATETIME SET  @Dt_Prod_de='20180101' DECLARE @DATA_REF DATETIME SET @DATA_REF='20180131'
	UPDATE	 TBL_Spread_DESCONTO_analitico_prod 
	SET		 RATING= R.NVL_RISCO,
			 SLD_CONTABIL = ISNULL(R.SLD_INSCRITO,0.0)
	FROM	(SELECT *	FROM	PDD_SEM_VEIC R1 (NOLOCK)
				WHERE	R1.DT_FECHA = @DATA_REF ) AS R 
				--AND  NVL_RISCO <> 'HH') AS R  -- TODOS   / SOMENTE ATIVOS  
	WHERE	TBL_Spread_DESCONTO_analitico_prod.DT_FECHA BETWEEN @Dt_Prod_de AND @DATA_REF
		--AND	TBL_Spread_DESCONTO_analitico_prod.NUM_OPE
		AND	CONVERT(VARCHAR(20),TBL_Spread_DESCONTO_analitico_prod.NUM_OPE)  = CONVERT(VARCHAR(20),R.NUM_OPE)
		AND	CONVERT(VARCHAR(20),TBL_Spread_DESCONTO_analitico_prod.NUM_OPE)  = 
		(SELECT		CONVERT(VARCHAR(20),OPECODIGO) FROM NETFACTOR..NFOPERACAO O (NOLOCK)
			WHERE	CONVERT(VARCHAR(20),OPECODIGO) = CONVERT(VARCHAR(20),TBL_Spread_DESCONTO_analitico_prod.NUM_OPE) )
		--CONVERT(VARCHAR(20),R.NUM_OPE)
	-- SELECT * FROM PDD_SEM_VEIC P (NOLOCK)  JOIN NETFACTOR..NFOPERACAO O (NOLOCK) ON CONVERT(VARCHAR(20),P.NUM_OPE) = CONVERT(VARCHAR(20),O.OPECODIGO) WHERE DT_FECHA='20180131' 
	-- SELECT * FROM TBL_Spread_DESCONTO_analitico_prod P (NOLOCK)

	UPDATE	TBL_Spread_DESCONTO_analitico_prod
	SET		PLANO= 1
	WHERE	PLANO= 0
 

	UPDATE	TBL_Spread_DESCONTO_analitico_prod
		SET	CPF_CLIENTE = pesCNPJCPF
		--	SELECT *
		FROM NETFACTOR..NFCEDENTE C (NOLOCK)			
		WHERE C.EMPCODIGO = CODPROD  AND C.CEDCODIGO = CODCLI

-- SELECT * FROM Ttipo_prod (NOLOCK) WHERE COD_PROD='D'		
	UPDATE	TBL_Spread_DESCONTO_analitico_prod
		SET	produto = descr_tipo
		FROM	(SELECT	*	FROM Ttipo_prod (NOLOCK) 	WHERE COD_PROD='D' ) AS T	
		JOIN	(SELECT * FROM TModa_tipo_prod (NOLOCK) WHERE COD_PROD='D' ) AS M
			ON  T.COD_MODALIDADE = M.COD_MODALIDADE
		WHERE	M.COD_MODA		 = TBL_Spread_DESCONTO_analitico_prod.CODMODA

	-- RATING DO MES ANTERIOR
		-- DECLARE @DATA_ANT DATETIME SET @DATA_ANT='20180131'
	UPDATE	 TBL_Spread_DESCONTO_analitico_prod
		SET	 RATING   = NVL_RISCO    -- SELECT *
		FROM PDD_SEM_VEIC  P (NOLOCK) 
		WHERE P.DT_FECHA  = @DATA_ANT
		  AND P.NUM_OPE = TBL_Spread_DESCONTO_analitico_prod.NUM_OPE

	-- RATING ANTIGO
	UPDATE	 TBL_Spread_DESCONTO_analitico_prod
		SET	 RATING   = NVL_RISCO    -- SELECT *
		FROM PDD_SEM_VEIC  P (NOLOCK) 
		WHERE TBL_Spread_DESCONTO_analitico_prod.NUM_OPE = P.NUM_OPE 

--  ***************
--  VALOR VINCENDO
	UPDATE		TBL_Spread_DESCONTO_analitico_prod
		SET		VLR_VINCENDO = (SELECT	SUM(P.IngValorDeFace)
								FROM	NETFACTOR..NFINGRESSOS  P (NOLOCK)
								WHERE	TBL_Spread_DESCONTO_analitico_prod.codPROD = P.EMPCODIGO 
								AND		TBL_Spread_DESCONTO_analitico_prod.NUM_OPE = P.OPECODIGO
								AND		P.IngVencimento >=  @data_ref )  -- VINCENDO 

--  VALOR ATRASO
	UPDATE		TBL_Spread_DESCONTO_analitico_prod
		SET		VLR_ATRASO = (SELECT	SUM(P.IngValorDeFace)   
								-- SELECT *
								FROM	NETFACTOR..NFINGRESSOS  P (NOLOCK)
								WHERE	TBL_Spread_DESCONTO_analitico_prod.codPROD = P.EMPCODIGO 
								AND		TBL_Spread_DESCONTO_analitico_prod.NUM_OPE = P.OPECODIGO
								AND		P.IngVencimento  <=  @data_ref	-- VENCIDO 
								AND		IngDataLiquidacao IS NULL  )  -- NAO PAGO

-- DT VCTO E LIQ CONTRATO
	UPDATE	 TBL_Spread_DESCONTO_analitico_prod
		SET	 DT_VCTO_CONTRATO    = INGVENCIMENTO ,
			 DT_LIQ_OPER		 = INGDATALIQUIDACAO
		   -- SELECT *  		FROM NETFACTOR..NFOPERACAO  O (NOLOCK) WHERE OPECODIGO=1001302 AND CEDCODIGO=84  -- CODCLI
		   -- SELECT *  		
		   -- 		            FROM TBL_Spread_DESCONTO_analitico_prod
		FROM	NETFACTOR..NFINGRESSOS  P (NOLOCK)
		WHERE	TBL_Spread_DESCONTO_analitico_prod.codPROD = P.EMPCODIGO 
		AND		TBL_Spread_DESCONTO_analitico_prod.NUM_OPE = P.OPECODIGO

-- ****************  CIL SOMENTE EM PRODUCAO  **********
/*
-- RATING E SALDO CONTABIL
--  DECLARE @data_ref DATETIME SET @data_ref = '20180131'
	UPDATE	 TBL_Spread_DESCONTO_analitico_prod
		SET	 RATING			= CRSCODRATFIM ,
			 SLD_CONTABIL	= RATVALSALDO
		   -- SELECT *  		FROM NETFACTOR..NFOPERACAO  O (NOLOCK) WHERE OPECODIGO=1001302 AND CEDCODIGO=84  -- CODCLI
		   -- SELECT *  		
		   --             FROM TBL_Spread_DESCONTO_analitico_prod
		FROM	FINCILDBS..CILTBLrat (NOLOCK) 
		WHERE	RATDATREF	= @data_ref
			AND RATCODSIS	= 4		--  SISTEMA DO DESCONTO   -- 1 SISTEMA FUNCAO
			AND RATCODCONTR = NUM_OPE
			AND RATCODEMP	= CODPROD
-- **************** FIM  CIL SOMENTE EM PRODUCAO  **********
*/

-- RISCO
	UPDATE		TBL_Spread_DESCONTO_analitico_prod
		SET		VLR_RISCO    = R.PRC_RISCO
		-- SELECT *
		FROM	tbl_risco_desconto R (NOLOCK)
		WHERE	R.COD_OPERADOR = TBL_Spread_DESCONTO_analitico_prod.OPERADOR
			AND R.DATA_REF=(SELECT	MAX(R1.DATA_REF)
							FROM	tbl_risco_desconto R1 (NOLOCK)
							WHERE	R1.DATA_REF <= @Dt_Risco )

--  RISCO  GERAL 
	UPDATE		TBL_Spread_DESCONTO_analitico_prod
		SET		VLR_RISCO    = R.PRC_RISCO
		-- SELECT *
		FROM	tbl_risco_desconto R (NOLOCK)
		WHERE	TBL_Spread_DESCONTO_analitico_prod.VLR_RISCO IS NULL
			AND R.COD_OPERADOR = 12   --  SANTANA COM GERAL
			AND R.DATA_REF=(SELECT	MAX(R1.DATA_REF)
							FROM	tbl_risco_desconto R1 (NOLOCK)
							WHERE	R1.DATA_REF <= @Dt_Risco )

-- SELECT	*			FROM	tbl_risco_desconto R1 (NOLOCK)

-- TAXA COM TX CAPTACAO  MEDIA PONDERADA  ??
	UPDATE		TBL_Spread_DESCONTO_analitico_prod
		SET		TAXA    =	C.PRC_CAPTACAO
		FROM	TCAPTACAO	C	(NOLOCK)
		WHERE	C.DT_DE = (SELECT   MAX(C1.DT_DE)
							FROM	TCAPTACAO	C1	(NOLOCK)
							WHERE	C1.DT_DE <= @DATA_REF )
		-- SELECT * FROM TCAPTACAO (NOLOCK)

-- PMT CALCULO

	UPDATE  TBL_Spread_DESCONTO_analitico_prod
	SET		PMT = DBO.PMT( TX_CLIENTE_AM/100.0, PRAZO/30.0, +1.0)

	--SET PMT_AUX = DBO.PMT( TAXA_MEDIA/100.0, PRAZO_MEDIO, +1.0)
	--WHERE	TBL_Spread_DESCONTO_analitico_prod.DT_FECHA=@DTREF

-- SPREAD CALCULO
	UPDATE  TBL_Spread_DESCONTO_analitico_prod
	SET		SPREAD_AUX = (1.0+ TX_CLIENTE_AM/100.0)/
													--*VLR_OP
			(1.0+ DBO.RATE( PRAZO/30.0, (PMT * (1.0 - VLR_RISCO/100.0)), +1.0)) -1.0
			-- * 100.0

	UPDATE  TBL_Spread_DESCONTO_analitico_prod
	SET		SPREAD_AUX = ((1.0+ TX_CLIENTE_AM/100.0) 
	/(1.0+ TAXA/100.0)/(1.0+SPREAD_AUX/100.0)/(1.0+VLR_RISCO/100.0) -1.0)* 100.0
			-- CAPTACAO
/*
SET		SPREAD_MEDIO = (1.0+ TAXA_MEDIA/100.0) /
(1.0+ DBO.RATE( PRAZO_MEDIO, (PMT_AUX * (1.0 - RISCO/100.0)) , +1.0)) - 1.0

	UPDATE  TBL_Spread_DESCONTO_analitico_prod
	SET		SPREAD_AUX = ((1.0+ TX_CLIENTE_AM/100.0)/(1.0+TAXA/100.0)/(1.0+SPREAD_AUX/100.0 )/
	 (1.0+(VLR_RISCO*VLR_OP)) -1.0)* 100.0


	SET		SPREAD_MEDIO = ((1.0+ TAXA_MEDIA/100.0) /(1.0+ CAPTACAO/100.0)/(1.0+SPREAD_AUX/100.0)/(1.0+VLR_PREJUIZO) -1.0)* 100.0

	SET		SPREAD_AUX = ((1.0+ TAXA_MEDIA/100.0) /(1.0+ vlr_desconto/100.0) - 1.0 ) * 100.0
	WHERE	SPREAD_RPT_LOJA.DT_FECHA=@DTREF

	UPDATE  SPREAD_RPT_LOJA
	SET		SPREAD_MEDIO = ((1.0+ TAXA_MEDIA/100.0) /(1.0+ CAPTACAO/100.0)/(1.0+SPREAD_AUX/100.0)/(1.0+VLR_PREJUIZO) -1.0)* 100.0
			-- INCLUI EM 24/JAN/2018
			,SPREAD_CAPT_MED = ((1.0+ TAXA_MEDIA/100.0) /(1.0+ @CAPTACAO_MED/100.0)/(1.0+SPREAD_AUX/100.0)/(1.0+VLR_PREJUIZO) -1.0)* 100.0
	WHERE	SPREAD_RPT_LOJA.DT_FECHA=@DTREF  */

-- ORDEM CRESCENTE *************************
	SELECT	  *
	FROM TBL_Spread_DESCONTO_analitico_prod (NOLOCK)
	/*
		S.DT_FECHA,
		S.NUM_OPE,
		S.DT_BASE,
		S.VLR_OP,
		S.VLR_PARC,
		S.PRAZO,
		S.PLANO,
		0.0 as VLR_ATRASO,
		S.VLR_PARC * S.PLANO as  VLR_VINCENDO,
		S.TAXA,
		S.RETORNO,
		S.TAXA_SEM_RET,

		-- inclui 15/9/17
		S.Tx_CET_am,	
		S.Tx_CET_aa,	

		S.ATRASO,
		S.RENEGOCIADO,
--		P.NVL_RISCO AS RATING	,		-- AJUSTE 12/6/17
		S.RATING,
		S.CODCLI,
		S.CODPROD,
		S.CODMODA,
		S.AGENTE,
		S.VEICULO,
		S.ANO_MODELO,
		S.RENDA,
		S.FX_RENDA,
		S.FX_PRAZO,
		S.CODOPER,
		S.CODLOJA,
		S.TX_X_VLR,

		-- inclui 15/9/17
		TxCET_X_VLR_am,
		TxCET_X_VLR_aa,

		S.PRZ_X_VLR,
		S.idade,
		S.fx_idade,	
		ISNULL(S.fx_ANO,'') AS fx_ANO,	
		S.OCUPACAO,
		-- ISNULL(CONTRATO_ORIGINAL,'') AS CONTRATO_ORIGINAL,
		''  AS CONTRATO_ORIGINAL,
		''  AS VEICULO_ORIGINAL,
		0.0 AS VF,	
		0.0 AS VLR_RISCO,
				-- ALTERADO 11/MAR/16
		CASE WHEN S.RENEGOCIADO = 0 THEN S.VLR_PARC * S.PLANO ELSE  0.0 END AS VF_ORIGINAL,
		ISNULL((SELECT MAX(PPSCORING) FROM  PropWebSMC..CPROP B2 (NOLOCK)
					WHERE	B2.PPNRPROP=(SELECT OPNRPROP FROM  CDCSANTANAMicroCredito..COPER O (NOLOCK)
					WHERE	O.OPNROPER=S.NUM_OPE )),'')  AS SCORE,
		ISNULL((SELECT MAX(ABVLRVND)  FROM  CDCSANTANAMicroCredito..CBFIN B2 (NOLOCK)
					WHERE	B2.ABNROPER=S.NUM_OPE ),0.0) AS VLR_VEICULO
		,S.TABELA -- INCLUIDO 4/11/16
		-- INCLUIDO 7/12/16
		,ISNULL((select		MAX(TtDescr) from CdcSantanaMicroCredito.. TTABE T (NOLOCK) 
					WHERE	T.TtCodTAB=S.TABELA ),'') AS TABELA_DESCR,
		-- INCLUIDO 12/6/17   DADOS DA PDD
		S.VLR_PDD,
		S.VLR_DESPESA
		-- INCLUIDO 14/6/17
		,	(SELECT TONOMEOP 	FROM	CDCSANTANAMicroCredito..TMODA O (NOLOCK) WHERE	TOCODOP= S.CODMODA ) AS MODALIDADE
		-- AGENTE ATUAL		:	LOJA COM OPERADOR ATUAL E AGENTE ATUAL		INCLUIDO 14/6/17
		,	(SELECT CONVERT(VARCHAR(10),A13CODORG)+'-'+ISNULL(A.A13DESCR,'') 		FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)
					-- COD AGENTE
					WHERE A13CODORG = (SELECT		O3CODORGA13 	FROM	CDCSANTANAMicroCredito..TORG3 (NOLOCK) 
						-- OPERADOR ATUAL DA LOJA DO CONTRATO
				WHERE	O3CODORG =(SELECT O4CODORG3 	FROM	CDCSANTANAMicroCredito..TORG4 (NOLOCK)  WHERE O4CODORG = RIGHT('0000'+RTRIM(S.CODLOJA),6) ))) AS AGENTE_ATUAL
				
	FROM	TBL_Spread_DESCONTO_analitico_prod AS S  (NOLOCK) 
	
	SELECT	DISTINCT  PRAZO,PLANO
	FROM TBL_Spread_DESCONTO_analitico_prod (NOLOCK)
	--WHERE PLANO=0 
	ORDER BY PRAZO

	SELECT	*
	FROM TBL_Spread_DESCONTO_analitico_prod (NOLOCK)
	WHERE PRAZO=0 
	 AND PLANO=0

	 */
	
/*	(	SELECT	* FROM SPREAD_HISTORICO (NOLOCK)
				WHERE	DT_FECHA BETWEEN @Dt_Prod_de  AND @DATA_REF		) AS S	
				
SELECT TOP 10 * FROM FINCILDBS..CILTBLNCV3040 (NOLOCK)

				
					*/
		




END
GO
