
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

use SIG
go

/*
sp_helptext [SPR_CALCULO_DESCONTO]

 EXEC [dbo].SPR_CALCULO_DESCONTO	'20180101' ,'2018-01-31',0,'20180131','20180331'
 EXEC [dbo].SPR_CALCULO_DESCONTO	'20180101' ,'2018-01-31',1,'20180131','20180630',99
-- EXEC [dbo].SPR_CALCULO_DESCONTO	'20180101' ,'2018-01-31',2,'20180331'
 SELECT * FROM SPREAD_RPT_DESCONTO (NOLOCK)
*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SPR_CALCULO_DESCONTO' AND type = 'P')
   DROP PROCEDURE [dbo].[SPR_CALCULO_DESCONTO]
GO
         

-- de ate datas PERIODO DE PRODUCAO      DE @DT3M           ATE  @data_ref
-- RISCO DO AGENTE DATA
CREATE Procedure [dbo].[SPR_CALCULO_DESCONTO] (@DT3M as datetime, @data_ref as datetime,@RPT as int,@DT_RISCO_DE AS DATETIME,@DT_RISCO AS DATETIME) AS              
BEGIN              
              
              
DECLARE @DTREF AS DATETIME
SET		@DTREF = @data_ref


-- mes anterior  **********
-- FECHAMENTO DO MES ANTERIOR  	************** DIA 12/6/17
DECLARE @DATA_ANT   AS DATETIME
SET		@DATA_ANT	= CONVERT(VARCHAR(4),DATEPART(YYYY,@DATA_REF))+ RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MM,@DATA_REF))),2) + '01'
SET		@DATA_ANT	= DATEADD(DD,-1,@DATA_ANT)  -- FIM DO MES ANTERIOR
IF		@DATA_ANT	< @DT3M 
BEGIN             
		SET		@DATA_ANT	= NULL		
END

DECLARE @DATA_2M   AS DATETIME
IF		@DATA_ANT	<> NULL		
BEGIN
	-- 2 meses anterior  **********  	-- FECHAMENTO DO MES ANTERIOR  	************** DIA 12/6/17
	SET		@DATA_2M	= CONVERT(VARCHAR(4),DATEPART(YYYY,@DATA_ANT))+ RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MM,@DATA_ANT))),2) + '01'
	SET		@DATA_2M	= DATEADD(DD,-1,@DATA_2M)  -- FIM DO MES ANTERIOR
END

IF		@DT3M < @DATA_2M
BEGIN           
		SET		@DATA_2M	=  NULL  
END

-- SELECT  @DTREF, @DATA_ANT, @DATA_2M  , @DT3M

-- MESES DE SAFRA
DECLARE @DTSAFRA DATETIME,  @DTSAFRA_1M DATETIME,@DTSAFRA_2M  DATETIME , @DTSAFRA_3M DATETIME
SET		@DTSAFRA = @DT_RISCO

-- MES ANTERIOR
SET		@DTSAFRA_1M	= CONVERT(VARCHAR(4),DATEPART(YYYY,@DTSAFRA))+ RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MM,@DTSAFRA))),2) + '01'
SET		@DTSAFRA_1M	= DATEADD(DD,-1,@DTSAFRA_1M)  -- FIM DO MES ANTERIOR

IF		@DT_RISCO_DE < @DTSAFRA_1M
BEGIN
	-- 2 MESES ANTERIORES
	SET		@DTSAFRA_2M	= CONVERT(VARCHAR(4),DATEPART(YYYY,@DTSAFRA_1M))+ RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MM,@DTSAFRA_1M))),2) + '01'
	SET		@DTSAFRA_2M	= DATEADD(DD,-1,@DTSAFRA_2M)  -- FIM DO MES ANTERIOR
END
ELSE
BEGIN
	SET		@DTSAFRA_2M	= @DTSAFRA_1M
END

IF			@DT_RISCO_DE < @DTSAFRA_2M
BEGIN
	-- 3 MESES ANTERIORES
	SET		@DTSAFRA_3M	= CONVERT(VARCHAR(4),DATEPART(YYYY,@DTSAFRA_2M))+ RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MM,@DTSAFRA_2M))),2) + '01'
	SET		@DTSAFRA_3M	= DATEADD(DD,-1,@DTSAFRA_3M)  -- FIM DO MES ANTERIOR
END
ELSE
BEGIN
	SET		@DTSAFRA_3M	= @DTSAFRA_2M
END
              
-- APAGA PROCESSAMENTO ANTERIOR              
Delete  From SPREAD_RPT_DESCONTO               
 WHERE  DT_FECHA = @DTREF              
               
              
-- DEPENDE DA DATA DE RELATORIO                           

-- CARREGA TABELA RESULTADO                
-- CARREGA DADOS ATUAIS              
-- INSERE LINHAS ZERADAS E DEPOIS UPDATE              

IF @RPT = 0				-- PRODUTO ***********
BEGIN              
		-- 1A LINHA              
		INSERT SPREAD_RPT_DESCONTO              
		 (               
		  DT_FECHA ,-- smalldatetime,              
		  RPT   ,-- INT,              
		  COD_PRODUTO ,-- INT,              
		  CONTRATOS ,-- INT,              
              
		  ORDEM_LINHA ,-- int,              
		  FORMATO  ,--varchar(6),              
		  OPERADOR ,-- varchar(50),              
		  DESCRICAO ,-- varchar(50),              
              
		  PRAZO_MEDIO ,-- float,              
		  TAXA_MEDIA  ,--float,              
		  TICKET_MEDIO ,-- float,              
		  VLR_CONTRATOS ,-- float,              
		  QTD_CONTRATOS ,-- INT,              
              
		  CAPTACAO  ,-- float,              
		  PERDA  ,--float,              
		  COMISSAO ,-- float,              
		  SPREAD  ,--float,              
		  CARTEIRA ,-- float,              
		  PRC_CARTEIRA ,-- float,              
		  PRODUCAO_TRIM ,-- float,              
		  PRC_PRODUCAO_TRIM -- float              
		  )              
		-- SP_HELP SPREAD_RPT_DESCONTO              
              
		SELECT DISTINCT               
		  @data_ref,              
		  0 , -- RPT ANALISE TTL VEIC              
		  99, --'TODOS', -- VEIC              
		  99 , -- TODOS CONTRATOS              
		  99,  -- LINHA 1 = SAFRA QTDE              
		  '', -- FORMATO              
		  '' ,  -- DESCRICAO VEIC              
		  VEICULO ,  -- DESCRICAO               
              
		  -- PRODUCAO SEM RENEGOCIACAO              
		  -- MEDIA PONDERADA               
		  SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 ,  -- PRAZO_MEDIO PONDERADO  -- ANTES AVG(PRAZO)              
		  SUM(TX_X_VLR) / SUM(VLR_OP) , -- TAXA_MEDIA AVG(TAXA_SEM_RET) PONDERADA float,              
              
		  AVG(VLR_OP)   , -- TICKET_MEDIO ,-- float,              
		  SUM(VLR_OP)   , -- VLR_CONTRATOS ,-- float,              
		--  COUNT(*) ,  --QTD_CONTRATOS ,-- INT,              
		  -- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000'               
		  SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,  --QTD_CONTRATOS ,-- INT,              
              
		  0.0, NULL, -- PERDA              
		  0.0, 0.0, -- m3, m4              
		  0.0, 0.0, -- m5, m6              
		  0.0, 0.0 -- m7, m8              
              
		--WHERE DT_FECHA BETWEEN @DT3M AND @DTREF              
		--  SELECT *
		FROM	COMERCIAL_PRODUCAO (NOLOCK) 
		WHERE	PRODUTO  = 'D'
			AND DT_FECHA IN (@DTREF, @DATA_ANT ,@DATA_2M )  -- 4 mes anterior 	 , @DT3M REPET
			AND DT_BASE  BETWEEN @DT3M AND @DTREF  
			AND VLR_OP   > 0.0   -- DESCONTO
		GROUP BY VEICULO              


--  RISCO  GERAL 
	UPDATE		SPREAD_RPT_DESCONTO
		SET		PERDA        = ISNULL(R.PRC_RISCO,0.0),
				VLR_PERDA    = ISNULL(R.VLR_RISCO,0.0),
				VLR_PREJUIZO = ISNULL(R.VLR_RISCO,0.0)
		-- SELECT *
		FROM	tbl_risco_desconto R (NOLOCK)
		WHERE	SPREAD_RPT_DESCONTO.DT_FECHA = @DTREF		 
			AND SPREAD_RPT_DESCONTO.PERDA IS NULL
			AND R.COD_OPERADOR = 12   --  SANTANA COM GERAL
			AND R.DATA_REF=(SELECT	MAX(R1.DATA_REF)
							FROM	tbl_risco_desconto R1 (NOLOCK) )
							-- RISCO ULTIMO CADASTRADO
							-- WHERE	R1.DATA_REF <= @Dt_Risco )

		-- VF DA SAFRA
		UPDATE		SPREAD_RPT_DESCONTO
			SET		VF_SAFRA    = (SELECT SUM(VLR_OP)
					FROM	COMERCIAL_PRODUCAO (NOLOCK) 
					WHERE	DT_FECHA IN (@DTSAFRA, @DTSAFRA_1M ,@DTSAFRA_2M , @DTSAFRA_3M)  -- 4 mes anterior SAFRA	
						AND PRODUTO  = 'D'
						AND DT_BASE  BETWEEN @DT_RISCO_DE AND @DT_RISCO  
						AND VLR_OP   > 0.0			-- DESCONTO
						AND VEICULO= DESCRICAO	)	-- PRODUTOS
			WHERE	SPREAD_RPT_DESCONTO.DT_FECHA = @DTREF		 

		-- VLR CARTEIRA  -- *** SOH NO AMBIENTE DE PRODUCAO TEM O CIL  *********
		/*
		UPDATE		SPREAD_RPT_DESCONTO
			SET		VF_SAFRA    = VLR
		FROM	(SELECT PROD.DESCR_TIPO, SUM(RATVALSALDO) AS VLR
				FROM	(SELECT		RATCODEMP,	RATCODCONTR,	RATVALSALDO 
							FROM	FinCilDbs..CilTblRat 	R	(NOLOCK)	
							WHERE	RatDatRef = @DTREF    -- MES Ref Fechamento
									--and ratcodemp = 1
									AND CrsCodRatFIM <> 'HH'  -- CARTEIRA SEM PREJUIZO
									AND ISNULL(RatValSaldo,0.0) > 0.0
									AND  MOPCOD IN ('0301','0302') 	) AS RAT	-- DESCONTO		
				JOIN		NETFactor..NfOperacao 	O	(NOLOCK)	
						ON	RATCODEMP   = O.EMPCODIGO
						AND	RATCODCONTR = O.OPECODIGO
				JOIN	(SELECT DESCR_TIPO,COD_MODA		
						FROM	TTIPO_PROD		T (NOLOCK) 
						JOIN	TMODA_TIPO_PROD M (NOLOCK)
							ON	T.COD_PROD	= M.COD_PROD 
							AND M.COD_MODALIDADE = T.COD_MODALIDADE
						WHERE	T.COD_PROD	= 'D'  ) AS PROD
						ON		CONVERT(FLOAT,O.IDGCODIGO) = CONVERT(FLOAT,PROD.COD_MODA)
				GROUP BY PROD.DESCR_TIPO ) AS TOT
	WHERE	SPREAD_RPT_DESCONTO.DT_FECHA  = @DTREF		 	
		AND	SPREAD_RPT_DESCONTO.DESCRICAO = TOT.DESCR_TIPO

		*/  -- FIM CARTEIRA


/*				SELECT	@DTREF,
				CASE	WHEN MOPCOD IN ('0216')			THEN 'CG'   -- '0215' ANTES
						WHEN MOPCOD IN ('0301','0302')  THEN 'D'
						WHEN MOPCOD IN ('0203','0401','0402')  THEN 'V'
						--WHEN MOPCOD IN ('0216')			THEN 'R'
						WHEN MOPCOD IN ('0206','1511')  THEN 'CP'
						END,	  		-- PRODUTO
				COUNT(RATVALSALDO)  ,	-- QTDE
				SUM(RATVALSALDO)	
		--	SELECT RATCODSIS,MOPCOD,SUM(RATVALSALDO)	
		FROM			FinCilDbs..CilTblRat 	R	(NOLOCK)	
			where	ratDatRef = @DTREF    -- MES Ref Fechamento
				--and ratcodemp = 1
				and CrsCodRatFIM <> 'HH'  -- CARTEIRA SEM PREJUIZO
				and ISNULL(RatValSaldo,0.0) > 0.0
		GROUP BY CASE	WHEN MOPCOD IN ('0216')			THEN 'CG'		-- '0215' ANTES
						WHEN MOPCOD IN ('0301','0302')  THEN 'D'
						WHEN MOPCOD IN ('0203','0401','0402')  THEN 'V'
						--WHEN MOPCOD IN ('0216')			THEN 'R'
						WHEN MOPCOD IN ('0206','1511')  THEN 'CP'		*/




END

              
-- *************************************** RPT 1 OPERADOR
-- OUTRAS LINHAS TTLS              
IF @RPT = 1 
BEGIN
		INSERT SPREAD_RPT_DESCONTO              
		 (               
		  DT_FECHA ,-- smalldatetime,              
		  RPT   ,-- INT,              
		  COD_PRODUTO ,-- INT,              
		  CONTRATOS ,-- INT,              
              
		  ORDEM_LINHA ,-- int,              
		  FORMATO  ,--varchar(6),              
		  OPERADOR ,-- varchar(50),              
		  DESCRICAO ,-- varchar(50),              
              
		  PRAZO_MEDIO ,-- float,              
		  TAXA_MEDIA  ,--float,              
		  TICKET_MEDIO ,-- float,              
		  VLR_CONTRATOS ,-- float,              
		  QTD_CONTRATOS ,-- INT,              
              
		  CAPTACAO  ,-- float,              
		  PERDA  ,--float,              
		  COMISSAO ,-- float,              
		  SPREAD  ,--float,              
		  CARTEIRA ,-- float,              
		  PRC_CARTEIRA ,-- float,              
		  PRODUCAO_TRIM ,-- float,              
		  PRC_PRODUCAO_TRIM -- float              
		  )              
		-- SP_HELP SPREAD_RPT_DESCONTO              
              
		SELECT DISTINCT               
		  @data_ref,              
		  1 , -- RPT ANALISE TTL VEIC              
		  99, --'TODOS', -- VEIC              
		  99 , -- TODOS CONTRATOS              
		  99,  -- LINHA 1 = SAFRA QTDE              
		  '', -- FORMATO              
		  AGENTE ,  -- DESCRICAO VEIC              
		  '' ,  -- DESCRICAO               
              
		  -- PRODUCAO SEM RENEGOCIACAO              
		  -- MEDIA PONDERADA               
		  SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 ,  -- PRAZO_MEDIO PONDERADO  -- ANTES AVG(PRAZO)              
		  SUM(TX_X_VLR) / SUM(VLR_OP) , -- TAXA_MEDIA AVG(TAXA_SEM_RET) PONDERADA float,              
              
		  AVG(VLR_OP)   , -- TICKET_MEDIO ,-- float,              
		  SUM(VLR_OP)   , -- VLR_CONTRATOS ,-- float,              
		--  COUNT(*) ,  --QTD_CONTRATOS ,-- INT,              
		  -- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000'               
		  SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,  --QTD_CONTRATOS ,-- INT,              
              
		  0.0, 0.0, -- PERDA              
		  0.0, 0.0, -- m3, m4              
		  0.0, 0.0, -- m5, m6              
		  0.0, 0.0 -- m7, m8              
              
		--WHERE DT_FECHA BETWEEN @DT3M AND @DTREF              
		--  SELECT *
		FROM	COMERCIAL_PRODUCAO (NOLOCK) 
		WHERE	DT_FECHA IN (@DTREF, @DATA_ANT ,@DATA_2M , @DT3M)  -- 4 mes anterior 	
			AND PRODUTO  = 'D'
			AND DT_BASE  BETWEEN @DT3M AND @DTREF  
			AND VLR_OP   > 0.0   -- DESCONTO
		GROUP BY AGENTE              

		-- ATUALIZA NOME DE OPER              
		UPDATE	SPREAD_RPT_DESCONTO
		SET		DESCRICAO = P.PESNOME 
		--	SELECT *
		FROM NETFACTOR..NFAGENTE A (NOLOCK)	,
			 NETFACTOR..NFPESSOA P (NOLOCK)
		WHERE	SPREAD_RPT_DESCONTO.DT_FECHA = @DTREF		 
		AND		A.AGECODIGO  = SPREAD_RPT_DESCONTO.OPERADOR		
		AND		A.PESCNPJCPF = P.PESCNPJCPF

		-- RISCO DO OPERADOR
	UPDATE		SPREAD_RPT_DESCONTO
		SET		PERDA    = R.PRC_RISCO
		-- SELECT *
		FROM	tbl_risco_desconto R (NOLOCK)
		WHERE	SPREAD_RPT_DESCONTO.DT_FECHA = @DTREF		 
			AND	R.COD_OPERADOR = SPREAD_RPT_DESCONTO.OPERADOR
			AND R.DATA_REF=(SELECT	MAX(R1.DATA_REF)
							FROM	tbl_risco_desconto R1 (NOLOCK)
							WHERE	R1.DATA_REF <= @Dt_Risco )


		-- VF DA SAFRA POR AGENTE
		UPDATE		SPREAD_RPT_DESCONTO
			SET		VF_SAFRA    = (SELECT SUM(VLR_OP)
							FROM	COMERCIAL_PRODUCAO (NOLOCK) 
							WHERE	DT_FECHA IN (@DTSAFRA, @DTSAFRA_1M ,@DTSAFRA_2M , @DTSAFRA_3M)  -- 4 mes anterior SAFRA	
								AND PRODUTO  = 'D'
								AND DT_BASE  BETWEEN @DT_RISCO_DE AND @DT_RISCO  
								AND VLR_OP   > 0.0			-- DESCONTO
								AND AGENTE= OPERADOR	)	-- PRODUTOS
		WHERE	SPREAD_RPT_DESCONTO.DT_FECHA = @DTREF		 

		-- VLR CARTEIRA  -- *** SOH NO AMBIENTE DE PRODUCAO TEM O CIL  *********
		/*  -- select * from SPREAD_RPT_DESCONTO (nolock)
		UPDATE		SPREAD_RPT_DESCONTO
			SET		VF_SAFRA    = VLR
		FROM	(SELECT C.AGECODIGO, SUM(RATVALSALDO) AS VLR
				FROM	(SELECT		RATCODEMP,	RATCODCONTR,	RATVALSALDO 
							FROM	FinCilDbs..CilTblRat 	R	(NOLOCK)	
							WHERE	RatDatRef = @DTREF    -- MES Ref Fechamento
									--and ratcodemp = 1
									AND CrsCodRatFIM <> 'HH'  -- CARTEIRA SEM PREJUIZO
									AND ISNULL(RatValSaldo,0.0) > 0.0
									AND  MOPCOD IN ('0301','0302') 	) AS RAT	-- DESCONTO		
				JOIN		NETFactor..NfOperacao 	O	(NOLOCK)	
						ON	-- RATCODEMP   = O.EMPCODIGO	AND	
							RATCODCONTR = O.OPECODIGO
				JOIN		NETFactor..NfCEDENTE 	C	(NOLOCK)	
						ON	C.CEDCODIGO   = O.CEDCODIGO  ) AS TOT
	WHERE	SPREAD_RPT_DESCONTO.DT_FECHA  = @DTREF		 	
		AND	SPREAD_RPT_DESCONTO.OPERADOR  = TOT.AGECODIGO

		*/  -- FIM CARTEIRA


END



-- *************************************** RPT 2 CEDENTE
-- OUTRAS LINHAS TTLS              
IF @RPT = 2
BEGIN
		INSERT SPREAD_RPT_DESCONTO              
		 (               
		  DT_FECHA ,-- smalldatetime,              
		  RPT   ,-- INT,              
		  COD_PRODUTO ,-- INT,              
		  CONTRATOS ,-- INT,              
              
		  ORDEM_LINHA ,-- int,              
		  FORMATO  ,--varchar(6),              
		  OPERADOR ,-- varchar(50),              
		  DESCRICAO ,-- varchar(50),              
              
		  PRAZO_MEDIO ,-- float,              
		  TAXA_MEDIA  ,--float,              
		  TICKET_MEDIO ,-- float,              
		  VLR_CONTRATOS ,-- float,              
		  QTD_CONTRATOS ,-- INT,              
              
		  CAPTACAO  ,-- float,              
		  PERDA  ,--float,              
		  COMISSAO ,-- float,              
		  SPREAD  ,--float,              
		  CARTEIRA ,-- float,              
		  PRC_CARTEIRA ,-- float,              
		  PRODUCAO_TRIM ,-- float,              
		  PRC_PRODUCAO_TRIM -- float              
		  )              
		-- SP_HELP SPREAD_RPT_DESCONTO              
              
		SELECT DISTINCT               
		  @data_ref,              
		  2, -- RPT DESCONTO
		  99, --'TODOS', -- VEIC              
		  99 , -- TODOS CONTRATOS              
		  99,  -- LINHA 1 = SAFRA QTDE              
		  '', -- FORMATO              
		  CODCLI ,  -- OPERADOR              
		  '' ,  -- DESCRICAO               
              
		  -- PRODUCAO SEM RENEGOCIACAO              
		  -- MEDIA PONDERADA               
		  SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 ,  -- PRAZO_MEDIO PONDERADO  -- ANTES AVG(PRAZO)              
		  SUM(TX_X_VLR) / SUM(VLR_OP) , -- TAXA_MEDIA AVG(TAXA_SEM_RET) PONDERADA float,              
              
		  AVG(VLR_OP)   , -- TICKET_MEDIO ,-- float,              
		  SUM(VLR_OP)   , -- VLR_CONTRATOS ,-- float,              
		--  COUNT(*) ,  --QTD_CONTRATOS ,-- INT,              
		  -- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000'               
		  SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,  --QTD_CONTRATOS ,-- INT,              
              
		  0.0, 0.0, -- PERDA              
		  0.0, 0.0, -- m3, m4              
		  0.0, 0.0, -- m5, m6              
		  0.0, 0.0 -- m7, m8              
              
		--WHERE DT_FECHA BETWEEN @DT3M AND @DTREF              
		--  SELECT *
		FROM	COMERCIAL_PRODUCAO (NOLOCK) 
		WHERE	DT_FECHA IN (@DTREF, @DATA_ANT ,@DATA_2M , @DT3M)  -- 4 mes anterior 	
			AND PRODUTO  = 'D'
			AND DT_BASE  BETWEEN @DT3M AND @DTREF  
			AND VLR_OP   > 0.0   -- DESCONTO
		GROUP BY CODCLI              

		-- ATUALIZA NOME DE CEDENTE
		UPDATE	SPREAD_RPT_DESCONTO
		SET		DESCRICAO = P.PESNOME 
		--	SELECT *
		FROM	NETFACTOR..NFCEDENTE C (NOLOCK),
				NETFACTOR..NFPESSOA P (NOLOCK)
		WHERE	SPREAD_RPT_DESCONTO.DT_FECHA = @DTREF		 
			AND CONVERT(FLOAT,SPREAD_RPT_DESCONTO.OPERADOR) = CONVERT(FLOAT,C.CEDCODIGO)
			AND	P.PESCNPJCPF = C.PESCNPJCPF
			AND RPT=2

		-- RISCO DO CEDENTE  = OPERADOR
	UPDATE		SPREAD_RPT_DESCONTO
		SET		PERDA    = R.PRC_RISCO
		-- SELECT *
		FROM	tbl_risco_desconto R (NOLOCK)
		WHERE	SPREAD_RPT_DESCONTO.DT_FECHA = @DTREF		 
			AND R.COD_OPERADOR = SPREAD_RPT_DESCONTO.OPERADOR
			AND R.DATA_REF=(SELECT	MAX(R1.DATA_REF)
							FROM	tbl_risco_desconto R1 (NOLOCK)
							WHERE	R1.DATA_REF <= @Dt_Risco )


		-- VF DA SAFRA POR AGENTE
		UPDATE		SPREAD_RPT_DESCONTO
			SET		VF_SAFRA    = (SELECT SUM(VLR_OP)
			FROM	COMERCIAL_PRODUCAO (NOLOCK) 
			WHERE	SPREAD_RPT_DESCONTO.DT_FECHA = @DTREF		 
				AND DT_FECHA IN (@DTSAFRA, @DTSAFRA_1M ,@DTSAFRA_2M , @DTSAFRA_3M)  -- 4 mes anterior SAFRA	
				AND PRODUTO  = 'D'
				AND DT_BASE  BETWEEN @DT_RISCO_DE AND @DT_RISCO  
				AND VLR_OP   > 0.0			-- DESCONTO
				AND OPERADOR = CODCLI	)	-- CEDENTE

			-- VLR CARTEIRA  -- *** SOH NO AMBIENTE DE PRODUCAO TEM O CIL  *********
			/*
			UPDATE		SPREAD_RPT_DESCONTO
				SET		VF_SAFRA    = VLR
			FROM	(SELECT C.AGECODIGO, SUM(RATVALSALDO) AS VLR
					FROM	(SELECT		RATCODEMP,	RATCODCONTR,	RATVALSALDO 
								FROM	FinCilDbs..CilTblRat 	R	(NOLOCK)	
								WHERE	RatDatRef = @DTREF    -- MES Ref Fechamento
										--and ratcodemp = 1
										AND CrsCodRatFIM <> 'HH'  -- CARTEIRA SEM PREJUIZO
										AND ISNULL(RatValSaldo,0.0) > 0.0
										AND  MOPCOD IN ('0301','0302') 	) AS RAT	-- DESCONTO		
					JOIN		NETFactor..NfOperacao 	O	(NOLOCK)	
							ON	-- RATCODEMP   = O.EMPCODIGO	AND	
								RATCODCONTR = O.OPECODIGO
					JOIN		NETFactor..NfCEDENTE 	C	(NOLOCK)	
							ON	C.CEDCODIGO   = O.CEDCODIGO  ) AS TOT
		WHERE	SPREAD_RPT_DESCONTO.DT_FECHA  = @DTREF		 	
			AND	SPREAD_RPT_DESCONTO.OPERADOR = TOT.AGECODIGO

			*/  -- FIM CARTEIRA

END

-- TAXA COM TX CAPTACAO  MEDIA PONDERADA  ?? Nao!  maior captação cadastrada!
	UPDATE		SPREAD_RPT_DESCONTO
		SET		CAPTACAO    =	C.PRC_CAPTACAO
		FROM	TCAPTACAO	C	(NOLOCK)
		WHERE	SPREAD_RPT_DESCONTO.DT_FECHA = @DTREF		 
			AND C.DT_DE = (SELECT   MAX(C1.DT_DE)
							FROM	TCAPTACAO	C1	(NOLOCK)
							WHERE	C1.DT_DE <= @DATA_REF )
		-- SELECT * FROM TCAPTACAO (NOLOCK)
		-- SELECT * 		FROM	tbl_risco_desconto
              
-- ********************************************* rpt =    
-- SELECT * FROM SPREAD_RPT_DESCONTO (NOLOCK)              
              
              
              
              
              
              
              
              

	-- CALCULO VALOR PERDA
	UPDATE  SPREAD_RPT_DESCONTO
	SET		VLR_PERDA = PERDA * VLR_CONTRATOS / 100.0
	WHERE	SPREAD_RPT_DESCONTO.DT_FECHA = @DTREF		 

          
	-- PMT CALCULO
	UPDATE  SPREAD_RPT_DESCONTO
	SET		PMT_AUX = DBO.PMT( TAXA_MEDIA/100.0, PRAZO_MEDIO, +1.0)
	WHERE	SPREAD_RPT_DESCONTO.DT_FECHA = @DTREF		 
              -- 30D
              
	-- SPREAD CALCULO
	UPDATE  SPREAD_RPT_DESCONTO
	SET		SPREAD_AUX = (1.0+ TAXA_MEDIA/100.0)/
			(1.0+ DBO.RATE( PRAZO_MEDIO/30.0, (PMT_AUX * (1.0 - VLR_PERDA/100.0)), +1.0)) -1.0
	WHERE	SPREAD_RPT_DESCONTO.DT_FECHA = @DTREF		 
			-- * 100.0

	UPDATE  SPREAD_RPT_DESCONTO
	SET		SPREAD= ((1.0+ TAXA_MEDIA/100.0) 
					/(1.0+ CAPTACAO/100.0)/(1.0+SPREAD_AUX/100.0)/(1.0+PERDA/100.0) -1.0)* 100.0
	WHERE	SPREAD_RPT_DESCONTO.DT_FECHA = @DTREF		 


	/*  carteira Desconto
		SELECT	@DTREF,
				CASE	WHEN MOPCOD IN ('0216')			THEN 'CG'   -- '0215' ANTES
						WHEN MOPCOD IN ('0301','0302')  THEN 'D'
						WHEN MOPCOD IN ('0203','0401','0402')  THEN 'V'
						--WHEN MOPCOD IN ('0216')			THEN 'R'
						WHEN MOPCOD IN ('0206','1511')  THEN 'CP'
						END,	  		-- PRODUTO
				COUNT(RATVALSALDO)  ,	-- QTDE
				SUM(RATVALSALDO)	
		--	SELECT RATCODSIS,MOPCOD,SUM(RATVALSALDO)	
		FROM			FinCilDbs..CilTblRat 	R	(NOLOCK)	
			where	ratDatRef = @DTREF    -- MES Ref Fechamento
				--and ratcodemp = 1
				and CrsCodRatFIM <> 'HH'  -- CARTEIRA SEM PREJUIZO
				and ISNULL(RatValSaldo,0.0) > 0.0
*/
              
END            
-- SELECT * FROM SPREAD_RPT_DESCONTO                
-- SELECT * FROM COMERCIAL_PRODUCAO
GO
