
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

drop   table tbl_risco_desconto
create table tbl_risco_desconto
 (data_ref		datetime ,
  cod_operador	int ,
  cpf_operador	varchar(50)		,
  Operador		varchar(200),
  Prc_Risco		float  )

CREATE INDEX tbl_risco_desconto_IDX1 ON tbl_risco_desconto 
(data_ref ,  cod_operador )


drop   table tbl_risco_desconto
create table tbl_risco_desconto
 (data_ref		datetime primary key,
  cod_operador	int primary key,
  cpf_operador	varchar(50)		,
  Operador		varchar(200),
  Prc_Risco		float  )

EXEC [scr_Spread_DESCONTO_analitico_prod] (Dt_Prod_Ate datetime,@Dt_Prod_de as datetime		

DROP	TABLE TBL_Spread_DESCONTO_analitico_prod																												

CREATE	TABLE TBL_Spread_DESCONTO_analitico_prod																												
(DT_FECHA	SMALLDATETIME,
NUM_OPE		VARCHAR(20)	,
DT_BASE		SMALLDATETIME,
VLR_OP		FLOAT,
VLR_PARC	FLOAT,	
PRAZO		FLOAT,
PLANO		FLOAT,
VLR_ATRASO	FLOAT,
VLR_VINCENDO	FLOAT,	
TAXA			FLOAT,
ATRASO			FLOAT,
RATING			VARCHAR(2)	,
CODCLI			VARCHAR(20)	,
CODPROD			VARCHAR(20)	,
CODMODA			VARCHAR(20)	,
OPERADOR		VARCHAR(20)	,
PRODUTO			VARCHAR(200)	,
TX_X_VLR		FLOAT,
PRZ_X_VLR		FLOAT,
VF				FLOAT,
VLR_RISCO		FLOAT,
SLD_CONTABIL	FLOAT,
SCORE			VARCHAR(20)	,

qtd_Parc_Avencer	INT	,
qtd_Parc_Abertas	INT ,
qtd_Parc_Pagas		INT ,
Tx_Cliente_am		FLOAT,
CPF_Cliente			VARCHAR(20)	,
Dt_vcto_contrato	DATETIME,
Dt_Liq_Oper			DATETIME,
PMT					FLOAT,
SPREAD_AUX			FLOAT )

-- indice


-- AJUSTA INDICE
CREATE INDEX PDD_SEM_VEIC_IDX1 ON PDD_SEM_VEIC (DT_REF,NUM_OPE)

CREATE INDEX PDD_SEM_VEIC_IDX2 ON PDD_SEM_VEIC (NUM_OPE)

-- create index COMERCIAL_PRODUCAO_idx2 on COMERCIAL_PRODUCAO (PRODUTO,DT_BASE,NUM_OPE)

use sig
sp_help SPREAD_RPT_BALCAO

sp_help SPREAD_RPT

DROP   table SPREAD_RPT_DESCONTO
create table SPREAD_RPT_DESCONTO
(
DT_FECHA		smalldatetime,
RPT				int,
COD_PRODUTO		int,
CONTRATOS		int,
ORDEM_LINHA		int,
FORMATO			varchar(6),
OPERADOR		varchar(100),
DESCRICAO		varchar(100),
PRAZO_MEDIO		float,
TAXA_MEDIA		float,
TICKET_MEDIO	float,
VLR_CONTRATOS	float,
QTD_CONTRATOS	int,
CAPTACAO		float,
PERDA			float,
COMISSAO		float,
SPREAD			float,
CARTEIRA		float,
PRC_CARTEIRA	float,
PRODUCAO_TRIM	float,
PRC_PRODUCAO_TRIM	float,
VLR_PREJUIZO	float,
VLR_DESCONTO	float,
VLR_PERDA		float,
PMT_AUX			float,
SPREAD_AUX		float,
VF_SAFRA		float)

create index on SPREAD_RPT_DESCONTO_idx1 on SPREAD_RPT_DESCONTO
(DT_FECHA,	RPT,	DESCRICAO)


use sig
sp_help SPREAD_RPT_DESCONTO