USE [Sig]
GO
/****** Object:  StoredProcedure [dbo].[SCR_BKF]    Script Date: 21/02/2017 22:25:17 

CREATE	TABLE BKF_COBRANCA (
CONTRATO	varchar(15),
PROPOSTA	varchar(9),
AGENTE	varchar(100),
CODPROMOTORA	varchar(6),
PROMOTORA	varchar(100),
LOJA	varchar(47),
NOME_CLIENTE	varchar(60),
CARTEIRA	varchar(2),
MODALIDADE	varchar(3),
DATA_CONTRATO	smalldatetime,
PLANO	smallint,
PARCELA	varchar(3),
PRI_VCTO	smalldatetime,
ATRASO	int,
Rating	varchar(2),
SituacaoBacen	varchar(2),
VENCIMENTO	smalldatetime,
VLR_PARCELA	float,
QTD_PARC_ATRASO	int,
VALOR_RISCO	float,
VALOR_FINANCIADO	float,
TAC	float,
IOC	float,
CPF_CNPJ	varchar(18),
RG	varchar(16),
ENDERECO	varchar(43),
BAIRRO	varchar(25),
CIDADE	varchar(40),
CEP	varchar(8),
UF	varchar(2),
TELEFONE	varchar(20),
CELULAR	varchar(15),
FONE_COMERCIAL	varchar(20),
LOCAL_TRABALHO	varchar(40),
REFERENCIA1	varchar(20),
REFERENCIA2	varchar(20),
VALORBEM	float,
MARCA	varchar(20),
MODELO	varchar(80),
ANO_FABRIC	varchar(4),
ANO_MODELO	varchar(4),
COR	varchar(15),
PLACA	varchar(7),
COBRADORA	varchar(24),
SERASA	varchar(3),
OCORRENCIA	varchar(258),
REGRA	varchar(61),
BLOQUEIO	smalldatetime,
DESBLOQUEIO	smalldatetime,
FAIXA	varchar(50),
GRUPO	varchar(50),
RENAVAM	varchar(50),
CHASSI	varchar(50),
QTDPAGAR	int,
PROFISSAO	varchar(100),
CARGO	varchar(100),
COD_AGENTE	varchar(50),
PARCELAS_PAGAS	int,
FAIXA_RATING	varchar(50),
SALDO_INSC	float)      
                
******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ALTER -- PROC   **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_BKF_COBRANCA' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_BKF_COBRANCA] 
GO



CREATE Procedure [dbo].[SCR_BKF_COBRANCA] (    
 @DataDe as datetime,    
 @DataAte as datetime) AS    
    
 begin    
    
TRUNCATE TABLE BKF_COBRANCA                      
                        
 INSERT INTO BKF_COBRANCA (CONTRATO, PROPOSTA, AGENTE,COD_AGENTE, CODPROMOTORA,                       
                               PROMOTORA, LOJA, NOME_CLIENTE, CARTEIRA, MODALIDADE,                       
          DATA_CONTRATO, PLANO, PARCELA, PRI_VCTO, ATRASO, SituacaoBacen,                      
          VENCIMENTO, VLR_PARCELA, QTD_PARC_ATRASO, VALOR_RISCO, VALOR_FINANCIADO,                      
          TAC, IOC, CPF_CNPJ, RG, ENDERECO, BAIRRO, CIDADE, CEP, UF, TELEFONE,                       
          CELULAR, FONE_COMERCIAL, LOCAL_TRABALHO, REFERENCIA1, REFERENCIA2,                       
          VALORBEM, MARCA, MODELO, ANO_FABRIC,  ANO_MODELO, COR, PLACA, RENAVAM,CHASSI, PROFISSAO, CARGO, SALDO_INSC)                        
                      
                      
SELECT OPNROPER AS CONTRATO,                        
                OPNRPROP AS PROPOSTA,                        
                O3DESCR   AS AGENTE,                
                O3CODORG as CODAGENTE,                                  
                O6CODORG AS CODPROMOTORA,                        
                O6DESCR AS PROMOTORA,                        
                O4CODORG + '-' + O4NOME AS LOJA,                        
                CLNOMECLI AS NOME_CLIENTE,                        
                TOCODCART AS CARTEIRA,                        
                OPCODOP AS MODALIDADE,                        
                OPDTBASE AS DATA_CONTRATO,                        
                OPQTDDPARC AS PLANO,                        
                min(x.panrparc) AS PARCELA,                        
                OPDT1VCTO PRI_VCTO,                          
                DATEDIFF(D, min(x.padtvcto) ,  GETDATE())AS ATRASO,                      
                --' '   'Rating',                      
                -- CSCODNIV AS SituacaoBacen,                                      
    '' AS SituacaoBacen,       
                min(x.padtvcto) VENCIMENTO,                       
                opvlrparc VLR_PARCELA,                         
                count(DISTINCT x.panrparc) as QTD_PARC_ATRASO,                      
                (Select sum(x.pavlrpr + x.pavlrjr)                        
                 from CDCSANTANAMicrocredito .. cparc x                        
                 Where x.panroper = opnroper                        
                    and x.padtliq is null                        
               and x.pacntrl = (Select max(y.pacntrl) from CDCSANTANAMicrocredito .. cparc y Where y.panroper = x.panroper and y.panrparc = x.panrparc)) as VALOR_RISCO,                      
/*             as VALOR_RISCO,*/                      
                OPVLRFIN AS VALOR_FINANCIADO,                        
                --OPTAC AS TAC,                        
    OPDESPESA3 AS TAC,        
                OPIOC AS IOC,                        
                CLCGC AS CPF_CNPJ,                        
                CLRG AS RG,                        
                CLENDCOB AS ENDERECO,                        
                CLBAICOB AS BAIRRO,                        
                CLCIDCOB AS CIDADE,                        
                CLCEPFIS AS CEP,                        
                CLUFCOB AS UF,                        
                CLFONEFIS AS TELEFONE,                        
                CLCELULAR AS CELULAR,                        
                CLFONECOM AS FONE_COMERCIAL,                        
                CLEMPTRBL AS LOCAL_TRABALHO,                        
                CLFONERF1 AS REFERENCIA1,                        
                CLFONERF2 AS REFERENCIA2,                        
    0.0 AS VALORBEM,                      
    ''  AS MARCA,                                       
 '' AS MODELO,          
    '',             
    '', 
    '', 
    '', 
    '', 
    '', 
    CLPROFI   AS PROFISSAO,                
    CLCARGO   AS CARGO,       
    0.0 
  FROM CDCSANTANAMicrocredito .. COPER WITH (NOLOCK),                        
       CDCSANTANAMicrocredito .. cclie WITH (NOLOCK),                      
       CDCSANTANAMicrocredito .. cparc X WITH (NOLOCK),                      
       CDCSANTANAMicroCredito..TORG3 T1O3 WITH (NOLOCK),          
       CDCSANTANAMicrocredito .. TORG6 WITH (NOLOCK),                        
       CDCSANTANAMicrocredito .. TORG4 WITH (NOLOCK),                        
       CDCSANTANAMicrocredito .. tmoda WITH (NOLOCK)                                             
 where clcodcli = opcodcli                        
   and opnroper = panroper                 
   and O6CODORG3 = T1O3.O3CODORG                    
   and o6codorg = opcodorg6                        
   and o4codorg = opcodorg4                        
   and tocodop = opcodop                        
  AND OPCODOP IN (SELECT M.COD_MODA    
      FROM Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)      
      WHERE M.COD_PROD = T.COD_PROD     
       AND T.COD_MODALIDADE = M.COD_MODALIDADE     
       AND T.COD_PROD IN ( 'BF','BK','B' ) )    
   and opdtliq is null                        
   and padtliq is null                       
   and x.padtvcto < getdate()                      
   and x.pacntrl = (select max(y.pacntrl) from CDCSANTANAMicrocredito .. cparc  (NOLOCK) y      
     where x.panroper = y.panroper and x.panrparc = y.panrparc)                                  
group by OPNROPER,                       
           OPNRPROP,                      
           O3DESCR,                                       
           O6CODORG,                      
           O6DESCR,                      
           O4CODORG,                      
           O4NOME,                      
           CLNOMECLI,                      
           TOCODCART,                      
           OPCODOP,                      
           OPDTBASE,                      
           OPQTDDPARC,                      
           OPVLRPARC,                       
           OPVLRFIN,                      
		   OPDESPESA3,    
           OPIOC,                   
           OPDT1VCTO,                   
           CLCGC,                      
           CLRG,                      
           CLENDCOB,                      
           CLBAICOB,                      
           CLCIDCOB,                      
           CLCEPFIS,                      
           CLUFCOB,                      
           CLFONEFIS,                      
           CLCELULAR,                      
           CLFONECOM,                       
           CLEMPTRBL,                       
           CLFONERF1,                       
           CLFONERF2,                       
           OPDT1VCTO,                 
           CLCARGO,                 
           CLPROFI,                 
           O3CODORG       
                      
/* AJUSTA RISCO bacen*/                      
UPDATE  BKF_COBRANCA      
  SET SituacaoBacen= CSCODNIV,    
   SALDO_INSC  = CSVLRINSC    
  from      BacenSantanaMicrocredito .. Eclas Y  WITH (NOLOCK)    
 where Y.Csnroper =contrato
    And y.Csdtref = (Select max(csdtref)  from BacenSantanaMicrocredito .. Eclas (NOLOCK) )                                          
    
UPDATE  BKF_COBRANCA      
 SET     VALORBEM=ABVLRVND,          
         MARCA =ABCODMARCA,                        
    MODELO=ABMODELO  ,                        
    ANO_FABRIC=ABANOFAB,                    
    ANO_MODELO=ABANOMOD ,                        
    COR=ABCOR,    
    PLACA=ABPLACA,                 
    RENAVAM=ABRENAVAM ,                 
    CHASSI=ABCHASSI     
from     CDCSANTANAMicroCredito..CBFIN B WITH (NOLOCK)                              
 where ABNROPER = CONTRATO                      AND ABNRGAR = '01'                      
   AND B.ABCNTRL = (SELECT MAX(ABCNTRL) FROM CDCSANTANAMicroCredito..CBFIN B2 WHERE B.ABNROPER = B2.ABNROPER AND B.ABNRGAR = B2.ABNRGAR)                       
    
                    
                    
/*AJUSTA RATING */                                      
UPDATE  BKF_COBRANCA  SET RATING = 'A', FAIXA_RATING = 'A- 0 a 15' WHERE ATRASO  <= 15                                   
UPDATE  BKF_COBRANCA  SET RATING = 'B', FAIXA_RATING = 'B- 16 a 30' WHERE ATRASO  >15 and ATRASO <= 30                      
UPDATE  BKF_COBRANCA  SET RATING = 'C' , FAIXA_RATING = 'C- 31 a 60'WHERE ATRASO > 30 and ATRASO  <= 60                      
UPDATE  BKF_COBRANCA  SET RATING = 'D', FAIXA_RATING = 'D- 61 a 90' WHERE ATRASO > 60 and ATRASO <= 90                      
UPDATE  BKF_COBRANCA  SET RATING = 'E', FAIXA_RATING = 'E- 91 a 120' WHERE ATRASO >90 and ATRASO <= 120                      
UPDATE  BKF_COBRANCA  SET RATING = 'F', FAIXA_RATING = 'F- 121 a 150' WHERE ATRASO >120 and ATRASO<= 150                      
UPDATE  BKF_COBRANCA  SET RATING = 'G', FAIXA_RATING = 'G- 151 a 180' WHERE ATRASO > 150 and ATRASO <= 180                      
UPDATE  BKF_COBRANCA  SET RATING = 'H', FAIXA_RATING = 'H- 181 a 360' WHERE ATRASO >180 and ATRASO  <= 360                      
UPDATE  BKF_COBRANCA  SET RATING = 'HH', FAIXA_RATING = 'H- > 360' WHERE ATRASO  > 360                      
                      
/* AJUSTA COBRADORA*/                      
UPDATE BKF_COBRANCA SET COBRADORA =  (SELECT TOP 1 ACCODACOB + '-' + ACNOMEACOB                        
                   FROM GESTORCOB .. ELCCB  (NOLOCK) , GESTORCOB .. TACOB   (NOLOCK)                     
                  WHERE LCNROPER = CONTRATO                       
                    AND GETDATE() <= (SELECT MAX(LCDTMOV) FROM GESTORCOB .. ELCCB     (NOLOCK)                    
                                    WHERE LCNROPER = CONTRATO)                        
                    AND LCCODACOB = ACCODACOB                        
                  ORDER BY LCDTMOV DESC)                       
                                            
/* AJUSTA REGRA*/                      
UPDATE BKF_COBRANCA  SET REGRA =  (SELECT TOP 1 LTRIM(RTRIM(CONVERT(CHAR, RCCODREGR))) + '-' + RCDESCR                        
                   FROM GESTORCOB..ELCCB WITH (NOLOCK), GESTORCOB..TREGC  WITH (NOLOCK)                      
                  WHERE LCNROPER = CONTRATO                         
                    AND LCDTVAL = (SELECT MAX(LCDTVAL)                        
                                     FROM GESTORCOB .. ELCCB    (NOLOCK)                     
                                    WHERE LCNROPER = CONTRATO)                        
                    AND LCCODREGR = RCCODREGR                        
                    AND RCCNTRL = (SELECT MAX(RCCNTRL)                        
                                     FROM GESTORCOB .. TREGC   (NOLOCK)                      
                                    WHERE RCCODREGR = LCCODREGR))                      
                      
/* AJUSTA BLOQUEIO */                           
UPDATE BKF_COBRANCA  SET BLOQUEIO =  (SELECT MAX(EODTOCOR) FROM CDCSANTANAMICROCREDITO..EOCOR (NOLOCK) WHERE EONROPER = CONTRATO  AND EOCODOCOR = '122')                      
                      
/* AJUSTA DESBLOQUEIO */                          
UPDATE BKF_COBRANCA  SET  DESBLOQUEIO = (SELECT MAX(EODTOCOR) FROM CDCSANTANAMICROCREDITO..EOCOR (NOLOCK) WHERE EONROPER = CONTRATO  AND EOCODOCOR = '123')                      
                      
/* AJUSTA MARCA */                      
 UPDATE  BKF_COBRANCA SET MARCA  = TMDESCR      
 FROM CDCSANTANAMicroCredito..TMARC (NOLOCK),     
   BKF_COBRANCA (NOLOCK)    
 WHERE  MARCA = TMCODMARC                       
                                    
/* AJUSTA VALOR DO BEM */                  
UPDATE  BKF_COBRANCA     
 SET  VALORBEM =  ABVLRVND      
 from CDCSANTANAMicroCredito..cbfin (NOLOCK) c , BKF_COBRANCA (NOLOCK) v     
 where contrato = ABNROPER                      
                                            
/* AJUSTA FAIXA DE ATRASO */                                      
UPDATE  BKF_COBRANCA  SET FAIXA = '1- 0 A 15' WHERE ATRASO <= 15;                
UPDATE  BKF_COBRANCA  SET FAIXA = '2- 16 A 60' WHERE ATRASO >  15 AND ATRASO <= 60;                
UPDATE  BKF_COBRANCA  SET FAIXA = '3- 61 A 120'  WHERE ATRASO >  60 AND ATRASO <= 120;               
UPDATE  BKF_COBRANCA  SET FAIXA = '4- 121 A 180'  WHERE ATRASO >  120 AND ATRASO <= 180;                
UPDATE  BKF_COBRANCA  SET FAIXA = '5- 181 A 360'  WHERE ATRASO >  180 AND ATRASO <= 360;                
UPDATE  BKF_COBRANCA  SET FAIXA = '6- 361 A 720'  WHERE ATRASO >  360 AND ATRASO <= 720;                
UPDATE  BKF_COBRANCA  SET FAIXA = '7- 721 A 1040'  WHERE ATRASO >  720 AND ATRASO <= 1040;                
UPDATE  BKF_COBRANCA  SET FAIXA = '8- 141 A 180'  WHERE ATRASO >  1040 AND ATRASO <= 1800;                
UPDATE  BKF_COBRANCA  SET FAIXA = '9- > 1800'  WHERE ATRASO >  1800;                 

/* Ajusta  Grupos */                              
UPDATE  BKF_COBRANCA SET GRUPO = 'Grupo1'  WHERE COD_AGENTE IN  ('000018', '000033', '000045', '000055', '000068','000082', '000103', '000140', '000150', '000171') ;            
UPDATE  BKF_COBRANCA SET GRUPO = 'Grupo2'  WHERE COD_AGENTE IN  ('000026','000029','000031','000032','000070','000075','000086','000111','000113','000117','000121','000124','000138','000149','000158','000164')  ;            
UPDATE  BKF_COBRANCA SET GRUPO = 'Grupo3'  WHERE COD_AGENTE IN  ('000007','000014','000028','000054','000056','000058','000061','000078','000101','000109','000125','000126','000141','000147','000169');            
                        
/*AJUSTA  PARCELAS_PAGAS */            
  UPDATE BKF_COBRANCA  SET PARCELAS_PAGAS = O.QTD_PARC     
FROM (SELECT PANROPER , COUNT(PANRPARC) QTD_PARC     
  FROM CDCSANTANAMicrocredito .. cparc X WITH (NOLOCK)     
  WHERE PADTLIQ IS NOT NULL  And x.pacntrl = (select max(y.pacntrl)     
    from CDCSANTANAMicrocredito .. cparc y      
    where x.panroper = y.panroper and x.panrparc = y.panrparc)     
   GROUP BY PANROPER) O     
 WHERE O.PANROPER = CONTRATO                       
          
/* Ajusta Pri_vcto */          
update  BKF_COBRANCA  set PRI_VCTO = padtvcto     
 from BKF_COBRANCA PRI_VCTO , CDCSANTANAMicrocredito .. cparc X WITH (NOLOCK)     
 where contrato = panroper and panrparc = parcela           
  and x.pacntrl = (select  max(y.pacntrl)     
       from CDCSANTANAMicrocredito .. cparc y      
       where x.panroper = y.panroper and x.panrparc = y.panrparc)       
      
	      
SELECT CONTRATO, PARCELA, NOME_CLIENTE,  CARTEIRA, MODALIDADE, DATA_CONTRATO, PLANO, ATRASO,    
 VENCIMENTO, VLR_PARCELA, QTD_PARC_ATRASO,  VALOR_FINANCIADO, TAC, IOC, CPF_CNPJ,    
RG,ENDERECO,BAIRRO,CIDADE,CEP,UF,TELEFONE,CELULAR,     
FONE_COMERCIAL, LOCAL_TRABALHO,    
VALORBEM,  MARCA, MODELO, ANO_FABRIC, ANO_MODELO, --COR, PLACA,     
COBRADORA, REGRA, BLOQUEIO,DESBLOQUEIO,     
FAIXA, --0,    
PROFISSAO , CARGO, (SELECT OPNRPROP     
  FROM CDCSANTANAMicrocredito .. COPER WITH (NOLOCK) WHERE CONTRATO=OPNROPER) AS PROPOSTA      
FROM BKF_COBRANCA (NOLOCK) --ORDER BY AGENTE, PROMOTORA, LOJA    
    
end    