USE SIG --[Santana]
GO
/****** Object:  StoredProcedure [dbo].[SCR_CRV]    Script Date: 09/02/2017 23:01:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 10/2/17
-- EXEC SCR_BKF '20160101','20160930','20170131'
/*
ALTER TABLE AUX_BKF ADD TC FLOAT, ANO_FABR VARCHAR(10), VLR_LIB FLOAT
 
CREATE	TABLE AUX_BKF (
OPNROPER	varchar(15),
OPNRPROP	varchar(15),
CLNOMECLI	varchar(100),
TxJUROS		float,
OPQTDDPARC	smallint,
CLCPF		varchar(20),
OPDTBASE	smalldatetime,
OPDTVCTOCCB	smalldatetime,
OPDTVCTO	smalldatetime,
QTDPARC		smallint,
VLRCEDIDO	float,
OPVLR		float,
VLRCURVA	float,
PRCCESSAO	float,
OPVLRPARC	float,
OPTC		float,
RATING		varchar(2),
INADIMPLENTE	varchar(10),
COMBUSTIVEL		varchar(10),
MOLICAR			float )
*/

-- PROC TELA BANKFACIL  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_BKF' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_BKF]
GO

CREATE Procedure [dbo].[SCR_BKF] (  
 @DataDe as datetime,  
 @DataAte as datetime,  
 @DataRef as datetime,  
 @reanalise as smallint) AS  
  
 begin  
  
TRUNCATE TABLE AUX_BKF  
  
IF @REANALISE = 1   
  BEGIN  
  INSERT  AUX_BKF  
  select  DISTINCT   
   OPNROPER,    
   OPNRPROP,    
   (SELECT CLNOMECLI FROM CDCSANTANAMicroCredito..CCLIE C (NOLOCK) WHERE C.CLCODCLI=O.OPCODCLI ) AS  CLNOMECLI,   
   ( (POWER(((OPTxJrCL/100.0)+1.0),(1.0/12.0))-1.0)*100.0)  AS TxJUROS,    
   OPQTDDPARC,    
   (SELECT CLCGC   FROM CDCSANTANAMicroCredito..CCLIE C (NOLOCK) WHERE C.CLCODCLI=O.OPCODCLI ) AS  CLCPF,    
   OPDTBASE,    
   OPDt1VCTO   AS OPDTVCTOCCB,    
   OPDTVCTO,    
   OPQTDDPARC  AS  QTDPARC,    
   OPQTDDPARC*OPVLRPARC AS VLRCEDIDO,    
   OPVLROPCZ   AS  OPVLR,    
   OPVLROPCZ AS  VLRCURVA,    
   0.00  AS  PRCCESSAO,  
   OPVLRPARC,    
   OPDESPESA3  AS  OPTC,    
   ''   AS  RATING,    
   'N'   AS  INADIMPLENTE,    
   (select MAX(ABTpCOMB) from CDCSANTANAMicroCredito..cbfin WHERE ABnroper =O.OPNROPER) AS  COMBUSTIVEL,     
   (select MAX(AbVlrTab) from CDCSANTANAMicroCredito..cbfin WHERE ABnroper =O.OPNROPER) AS  MOLICAR ,    
   OPTAC,    
   (select MAX(AbANOfab) from CDCSANTANAMicroCredito..cbfin WHERE ABnroper =O.OPNROPER),    
   OPVLRFIN  
FROM CDCSANTANAMicroCredito..COPER O (NOLOCK)    
 INNER JOIN  PROPWEBSMC..CPROP (NOLOCK) ON OPNRPROP = PPNRPROP  
 INNER JOIN PROPWEBSMC..EPROP B (NOLOCK) ON PPNRPROP = B.EPNRPROP  
 WHERE OPDTBASE BETWEEN @DataDe AND @DataAte    
 AND B.EPNRSEQ = (SELECT MAX(EPNRSEQ) FROM PROPWEBSMC..EPROP B1 (NOLOCK) WHERE B1.EPNRPROP = B.EPNRPROP AND B1.EPNRDECI IN ('600'))  
  AND OPCODOP IN (SELECT M.COD_MODA    
      FROM Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)      
      WHERE M.COD_PROD = T.COD_PROD     
       AND T.COD_MODALIDADE = M.COD_MODALIDADE     
       AND T.COD_PROD IN ( 'BF','BK','B' ))  
END  
ELSE  
  
IF @REANALISE = 2  
BEGIN  
INSERT  AUX_BKF  
select  DISTINCT   
   OPNROPER,    
   OPNRPROP,    
   (SELECT CLNOMECLI FROM CDCSANTANAMicroCredito..CCLIE C (NOLOCK) WHERE C.CLCODCLI=O.OPCODCLI ) AS  CLNOMECLI,   
   ( (POWER(((OPTxJrCL/100.0)+1.0),(1.0/12.0))-1.0)*100.0)  AS TxJUROS,    
   OPQTDDPARC,    
   (SELECT CLCGC   FROM CDCSANTANAMicroCredito..CCLIE C (NOLOCK) WHERE C.CLCODCLI=O.OPCODCLI ) AS  CLCPF,    
   OPDTBASE,    
   OPDt1VCTO   AS OPDTVCTOCCB,    
   OPDTVCTO,    
   OPQTDDPARC  AS  QTDPARC,    
   OPQTDDPARC*OPVLRPARC AS VLRCEDIDO,    
   OPVLROPCZ   AS  OPVLR,    
   OPVLROPCZ AS  VLRCURVA,    
   0.00  AS  PRCCESSAO,  
   OPVLRPARC,    
   OPDESPESA3  AS  OPTC,    
   ''   AS  RATING,    
   'N'   AS  INADIMPLENTE,    
   (select MAX(ABTpCOMB) from CDCSANTANAMicroCredito..cbfin WHERE ABnroper =O.OPNROPER) AS  COMBUSTIVEL,     
   (select MAX(AbVlrTab) from CDCSANTANAMicroCredito..cbfin WHERE ABnroper =O.OPNROPER) AS  MOLICAR ,    
   OPTAC,    
   (select MAX(AbANOfab) from CDCSANTANAMicroCredito..cbfin WHERE ABnroper =O.OPNROPER),    
   OPVLRFIN  
FROM CDCSANTANAMicroCredito..COPER O (NOLOCK)    
 INNER JOIN  PROPWEBSMC..CPROP (NOLOCK) ON OPNRPROP = PPNRPROP  
 INNER JOIN PROPWEBSMC..EPROP B (NOLOCK) ON PPNRPROP = B.EPNRPROP  
 WHERE OPDTBASE BETWEEN @DataDe AND @DataAte    
 AND B.EPNRSEQ = (SELECT MAX(EPNRSEQ) FROM PROPWEBSMC..EPROP B1 (NOLOCK) WHERE B1.EPNRPROP = B.EPNRPROP AND B1.EPNRDECI IN ('602')) --603,79  
  AND OPCODOP IN (SELECT M.COD_MODA    
      FROM Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)      
      WHERE M.COD_PROD = T.COD_PROD     
       AND T.COD_MODALIDADE = M.COD_MODALIDADE     
       AND T.COD_PROD IN ( 'BF','BK','B' ) )  
END  
 

DELETE AUX_BKF     --ALTEREI 26/06/2017 ********* SEM CADASTO NA CPCES  
WHERE AUX_BKF.OPNROPER IN (SELECT DISTINCT PCNROPER FROM CDCSANTANAMICROCREDITO..CPCES O (NOLOCK)  
      WHERE PCCNTRL = (SELECT MAX(PCCNTRL) FROM CDCSANTANAMICROCREDITO..CPCES O1 (NOLOCK) where O.PCnroper=O1.PCnroper)  
       AND PCDTMOV <@DataRef)   

UPDATE  AUX_BKF  
 SET  VLRCURVA=
  (SELECT  
   SUM(CASE  
       WHEN ((B.PAVLRPR + B.PAVLRJR + B.PAVLRTARP) /   
       POWER(((A.OPTXJRAP / 100) + 1),  
       (DATEDIFF(DAY, @DataRef, B.PADTVCTO) / 360.00000000))) > (B.PAVLRPR + B.PAVLRJR + B.PAVLRTARP)  
      THEN CONVERT(NUMERIC(9, 2), B.PAVLRPR + B.PAVLRJR + B.PAVLRTARP)  
       ELSE  
      CONVERT(NUMERIC(9, 2), ((B.PAVLRPR + B.PAVLRJR + B.PAVLRTARP) /   
       POWER(((A.OPTXJRAP / 100) + 1), (DATEDIFF(DAY, @DataRef, B.PADTVCTO) / 360.00000000))))  
      END) AS VLR  
    FROM CDCSANTANAMicroCredito..CPARC B (NOLOCK)  ,  
      CDCSANTANAMicroCredito..COPER A (NOLOCK)    
    WHERE B.PANROPER = AUX_BKF.OPNROPER AND A.OPNROPER =B.PANROPER )   
  
-- CALCULA O VLR CESSAO  
UPDATE  AUX_BKF  
 SET  PRCCESSAO = VLRCURVA* 1.015    
  
SELECT * FROM  AUX_BKF (NOLOCK)   
  
  
end  

