USE sig --[Santana]
GO
/****** Object:  StoredProcedure [dbo].[SCR_CRV]    Script Date: 09/02/2017 23:01:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SCR_BKF] (
	@DataDe as datetime,
	@DataAte as datetime) AS

	begin


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

		union all


		select
			'612115341' OPNROPER,
			'612140220' OPNRPROP,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' CLNOMECLI,
			4.51 TxJUROS,
			36 OPQTDDPARC,
			'090555442-01' CLCPF,
			'13/05/2016' OPDTBASE,
			'13/06/2016' OPDTVCTOCCB,
			'13/06/2018' OPDTVCTO,
			36 QTDPARC,
			20600.00 VLRCEDIDO,
			20600.00 OPVLR,
			20600.00 VLRCURVA,
			20600.00 PRCCESSAO,
			480.00 OPVLRPARC,
			350.00 OPTC,
			'B' RATING,
			'N' INADIMPLENTE,
			'FLEX' COMBUSTIVEL,
			12000.00 MOLICAR

	

	



end









