USE [Sig]
GO
/****** Object:  StoredProcedure [dbo].[SCR_BKF]    Script Date: 21/02/2017 22:25:17 
USE SF_RELATORIOS
EXEC CST_VEICULOS_NEW

USE SF_RELATORIOS
sP_HELPTEXT CST_VEICULOS_NEW

SELECT CONTRATO, CPF_CNPJ, NOME_CLIENTE,  AGENTE, CODPROMOTORA, PROMOTORA, LOJA, CARTEIRA, MODALIDADE, DATA_CONTRATO, PLANO, PARCELA, PRI_VCTO, ATRASO, RATING, SITUACAOBACEN, VENCIMENTO, VLR_PARCELA, QTD_PARC_ATRASO, VALOR_RISCO, VALOR_FINANCIADO, ENDERECO, BAIRRO, CIDADE, CEP, UF, TELEFONE, CELULAR, FONE_COMERCIAL, LOCAL_TRABALHO, REFERENCIA1, REFERENCIA2, MARCA, MODELO, ANO_FABRIC, ANO_MODELO, COR, PLACA, VALORBEM, COBRADORA, REGRA, BLOQUEIO,DESBLOQUEIO, RENAVAM, CHASSI, PARCELAS_PAGAS, PROFISSAO , CARGO, FAIXA_RATING, FAIXA, GRUPO, SALDO_INSC, (VLR_PARCELA * QTD_PARC_ATRASO) VLR_ATRASO  
FROM COBRANCA_VEICULO_2 ORDER BY AGENTE, PROMOTORA, LOJA

SP_HELP   COBRANCA_VEICULO_2

CREATE	TABLE BKF_COBRANCA (
CONTRATO	varchar(15),
PROPOSTA	varchar(9),
AGENTE	varchar(100),
CODPROMOTORA	varchar(6),
PROMOTORA	varchar(100),
LOJA	varchar(47),
NOME_CLIENTE	varchar(60),
CARTEIRA	varchar(2),
MODALIDADE	varchar(3),
DATA_CONTRATO	smalldatetime,
PLANO	smallint,
PARCELA	varchar(3),
PRI_VCTO	smalldatetime,
ATRASO	int,
Rating	varchar(2),
SituacaoBacen	varchar(2),
VENCIMENTO	smalldatetime,
VLR_PARCELA	float,
QTD_PARC_ATRASO	int,
VALOR_RISCO	float,
VALOR_FINANCIADO	float,
TAC	float,
IOC	float,
CPF_CNPJ	varchar(18),
RG	varchar(16),
ENDERECO	varchar(43),
BAIRRO	varchar(25),
CIDADE	varchar(40),
CEP	varchar(8),
UF	varchar(2),
TELEFONE	varchar(20),
CELULAR	varchar(15),
FONE_COMERCIAL	varchar(20),
LOCAL_TRABALHO	varchar(40),
REFERENCIA1	varchar(20),
REFERENCIA2	varchar(20),
VALORBEM	float,
MARCA	varchar(20),
MODELO	varchar(80),
ANO_FABRIC	varchar(4),
ANO_MODELO	varchar(4),
COR	varchar(15),
PLACA	varchar(7),
COBRADORA	varchar(24),
SERASA	varchar(3),
OCORRENCIA	varchar(258),
REGRA	varchar(61),
BLOQUEIO	smalldatetime,
DESBLOQUEIO	smalldatetime,
FAIXA	varchar(50),
GRUPO	varchar(50),
RENAVAM	varchar(50),
CHASSI	varchar(50),
QTDPAGAR	int,
PROFISSAO	varchar(100),
CARGO	varchar(100),
COD_AGENTE	varchar(50),
PARCELAS_PAGAS	int,
FAIXA_RATING	varchar(50),
SALDO_INSC	float)
  
  
              
                 
--DROP PROCEDURE CST_VEICULOS_NEW                
                
CREATE PROCEDURE [dbo].[CST_VEICULOS_NEW] AS                    
--IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'CST_VEICULOS_TESTE') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)                    
BEGIN                   
TRUNCATE TABLE COBRANCA_VEICULO_2                  
                    
 INSERT INTO COBRANCA_VEICULO_2 (CONTRATO, PROPOSTA, AGENTE,COD_AGENTE, CODPROMOTORA,                   
                               PROMOTORA, LOJA, NOME_CLIENTE, CARTEIRA, MODALIDADE,                   
          DATA_CONTRATO, PLANO, PARCELA, PRI_VCTO, ATRASO, SituacaoBacen,                  
          VENCIMENTO, VLR_PARCELA, QTD_PARC_ATRASO, VALOR_RISCO, VALOR_FINANCIADO,                  
          TAC, IOC, CPF_CNPJ, RG, ENDERECO, BAIRRO, CIDADE, CEP, UF, TELEFONE,                   
          CELULAR, FONE_COMERCIAL, LOCAL_TRABALHO, REFERENCIA1, REFERENCIA2,                   
          VALORBEM, MARCA, MODELO, ANO_FABRIC,  ANO_MODELO, COR, PLACA, RENAVAM,CHASSI, PROFISSAO, CARGO, SALDO_INSC)                    
                  
                  
SELECT OPNROPER AS CONTRATO,                    
                OPNRPROP AS PROPOSTA,                    
                A13DESCR   AS AGENTE,            
                A13CODORG as CODAGENTE,                              
                O3CODORG AS CODPROMOTORA,                    
                O3DESCR AS PROMOTORA,                    
                O4CODORG + '-' + O4NOME AS LOJA,                    
                CLNOMECLI AS NOME_CLIENTE,                    
                TOCODCART AS CARTEIRA,                    
                OPCODOP AS MODALIDADE,                    
                OPDTBASE AS DATA_CONTRATO,                    
                OPQTDDPARC AS PLANO,                    
                min(x.panrparc) AS PARCELA,                    
                OPDT1VCTO PRI_VCTO,                      
                DATEDIFF(D, min(x.padtvcto) ,  GETDATE())AS ATRASO,                  
                --' '   'Rating',                  
                CSCODNIV AS SituacaoBacen,                                  
                min(x.padtvcto) VENCIMENTO,                   
                opvlrparc VLR_PARCELA,                     
                count(DISTINCT x.panrparc) as QTD_PARC_ATRASO,                  
                (Select sum(x.pavlrpr + x.pavlrjr)                    
                 from CDCSANTANAMicrocredito .. cparc x                    
                 Where x.panroper = opnroper                    
                    and x.padtliq is null                    
               and x.pacntrl = (Select max(y.pacntrl) from CDCSANTANAMicrocredito .. cparc y Where y.panroper = x.panroper and y.panrparc = x.panrparc)) as VALOR_RISCO,                  
/*             as VALOR_RISCO,*/                  
                OPVLRFIN AS VALOR_FINANCIADO,                    
                OPTAC AS TAC,                    
                OPIOC AS IOC,                    
                CLCGC AS CPF_CNPJ,                    
                CLRG AS RG,                    
                CLENDCOB AS ENDERECO,                    
                CLBAICOB AS BAIRRO,                    
                CLCIDCOB AS CIDADE,                    
                CLCEPFIS AS CEP,                    
                CLUFCOB AS UF,                    
                CLFONEFIS AS TELEFONE,                    
                CLCELULAR AS CELULAR,                    
                CLFONECOM AS FONE_COMERCIAL,                    
                CLEMPTRBL AS LOCAL_TRABALHO,                    
                CLFONERF1 AS REFERENCIA1,                    
                CLFONERF2 AS REFERENCIA2,                    
                ABVLRVND AS VALORBEM,                  
                ABCODMARCA AS MARCA,                    
    ABMODELO AS MODELO,                    
    ABANOFAB AS ANO_FABRIC,                
    ABANOMOD AS ANO_MODELO,                    
    ABCOR AS COR,                    
    ABPLACA AS PLACA,             
    ABRENAVAM AS RENAVAM,             
    ABCHASSI  AS CHASSI,             
    CLPROFI   AS PROFISSAO,            
    CLCARGO   AS CARGO,   
    CSVLRINSC   
                 
                             
             
                  
                  
--INTO COBRANCA_VEICULO  
  FROM CDCSANTANAMicrocredito .. COPER WITH (NOLOCK),                    
       CDCSANTANAMicrocredito .. cclie WITH (NOLOCK),                  
       BacenSantanaMicrocredito .. Eclas Y  WITH (NOLOCK),                   
       CDCSANTANAMicrocredito .. cparc X WITH (NOLOCK),                  
       CDCSANTANAMicroCredito..TA1O3 T1O3 WITH (NOLOCK),  
       --SF_RELATORIOS .. TORG3_AGENTE WITH (NOLOCK),                    
      -- CDCSANTANAMicrocredito .. TORG2 WITH (NOLOCK),                    
       CDCSANTANAMicrocredito .. TORG3 WITH (NOLOCK),                    
       CDCSANTANAMicrocredito .. TORG4 WITH (NOLOCK),                    
       CDCSANTANAMicrocredito .. tmoda WITH (NOLOCK),                  
       CDCSANTANAMicroCredito..CBFIN B WITH (NOLOCK)                          
                       
                      
                    
 where clcodcli = opcodcli                    
   and opnroper = panroper             
   and O3CODORGA13 = T1O3.A13CODORG                
   --and o1codorg = opcodorg1                    
   --and o2codorg = opcodorg2                    
   and o3codorg = opcodorg3                    
   and o4codorg = opcodorg4                    
   and tocodop = opcodop                    
   and Y.Csnroper =* opnroper                  
   and ABNROPER =* OPNROPER                   
   and opdtliq is null                    
   and padtliq is null                   
   AND ABNRGAR = '01'                  
   and x.padtvcto < getdate()                  
   and x.pacntrl = (select max(y.pacntrl) from CDCSANTANAMicrocredito .. cparc y  where x.panroper = y.panroper and x.panrparc = y.panrparc)                    
   And y.Csdtref = (Select max(csdtref)  from BacenSantanaMicrocredito .. Eclas )                  
   AND B.ABCNTRL = (SELECT MAX(ABCNTRL) FROM CDCSANTANAMicroCredito..CBFIN B2 WHERE B.ABNROPER = B2.ABNROPER AND B.ABNRGAR = B2.ABNRGAR)                   
      
                     
group by OPNROPER,                   
           OPNRPROP,                  
           A13DESCR,                                   
           O3CODORG,                  
           O3DESCR,                  
           O4CODORG,                  
           O4NOME,                  
           CLNOMECLI,                  
           TOCODCART,                  
           OPCODOP,                  
           OPDTBASE,                  
           OPQTDDPARC,                  
           CSCODNIV ,                   
           OPVLRPARC,                   
           OPVLRFIN,                  
           OPTAC,                   
           OPIOC,               
           OPDT1VCTO,               
           CLCGC,                  
           CLRG,                  
           CLENDCOB,                  
           CLBAICOB,                  
           CLCIDCOB,                  
           CLCEPFIS,                  
           CLUFCOB,                  
           CLFONEFIS,                  
           CLCELULAR,                  
           CLFONECOM,                   
           CLEMPTRBL,                   
           CLFONERF1,                   
           CLFONERF2,                   
           ABVLRVEND,                  
           ABCODMARCA,                  
           ABMODELO,                  
           ABANOFAB,                  
           ABANOMOD,                  
           ABCOR,                  
           ABPLACA,                   
           ABVLRVND,             
           OPDT1VCTO,             
           ABRENAVAM,            
           ABCHASSI,             
           CLCARGO,             
           CLPROFI,             
           A13CODORG,   
           CSVLRINSC           
                  
                  
                  
/* AJUSTA RISCO */                  
                
                
/*AJUSTA RATING */                  
                    
UPDATE  COBRANCA_VEICULO_2  SET RATING = 'A', FAIXA_RATING = 'A- 0 a 15' WHERE ATRASO  <= 15                               
    
UPDATE  COBRANCA_VEICULO_2  SET RATING = 'B', FAIXA_RATING = 'B- 16 a 30' WHERE ATRASO  >15 and ATRASO <= 30                  
                  
UPDATE  COBRANCA_VEICULO_2  SET RATING = 'C' , FAIXA_RATING = 'C- 31 a 60'WHERE ATRASO > 30 and ATRASO  <= 60                  
                  
UPDATE  COBRANCA_VEICULO_2  SET RATING = 'D', FAIXA_RATING = 'D- 61 a 90' WHERE ATRASO > 60 and ATRASO <= 90                  
                  
UPDATE  COBRANCA_VEICULO_2  SET RATING = 'E', FAIXA_RATING = 'E- 91 a 120' WHERE ATRASO >90 and ATRASO <= 120                  
                
UPDATE  COBRANCA_VEICULO_2  SET RATING = 'F', FAIXA_RATING = 'F- 121 a 150' WHERE ATRASO >120 and ATRASO<= 150                  
                  
UPDATE  COBRANCA_VEICULO_2  SET RATING = 'G', FAIXA_RATING = 'G- 151 a 180' WHERE ATRASO > 150 and ATRASO <= 180                  
                   
UPDATE  COBRANCA_VEICULO_2  SET RATING = 'H', FAIXA_RATING = 'H- 181 a 360' WHERE ATRASO >180 and ATRASO  <= 360                  
                  
UPDATE  COBRANCA_VEICULO_2  SET RATING = 'HH', FAIXA_RATING = 'H- > 360' WHERE ATRASO  > 360                  
                  
                  
/* AJUSTA COBRADORA*/                  
                  
                  
UPDATE COBRANCA_VEICULO_2 SET COBRADORA =  (SELECT TOP 1 ACCODACOB + '-' + ACNOMEACOB                    
                   FROM GESTORCOB .. ELCCB  , GESTORCOB .. TACOB                   
                  WHERE LCNROPER = CONTRATO                   
                    AND GETDATE() <= (SELECT MAX(LCDTMOV) FROM GESTORCOB .. ELCCB                    
                                    WHERE LCNROPER = CONTRATO)                    
                    AND LCCODACOB = ACCODACOB                    
                  ORDER BY LCDTMOV DESC)                   
                                  
               
                  
                  
/* AJUSTA REGRA*/                  
                  
                   
UPDATE COBRANCA_VEICULO_2  SET REGRA =  (SELECT TOP 1 LTRIM(RTRIM(CONVERT(CHAR, RCCODREGR))) + '-' + RCDESCR                    
                   FROM GESTORCOB..ELCCB WITH (NOLOCK), GESTORCOB..TREGC  WITH (NOLOCK)                  
                  WHERE LCNROPER = CONTRATO                     
                    AND LCDTVAL = (SELECT MAX(LCDTVAL)                    
                                     FROM GESTORCOB .. ELCCB                    
                                    WHERE LCNROPER = CONTRATO)                    
                    AND LCCODREGR = RCCODREGR                    
                    AND RCCNTRL = (SELECT MAX(RCCNTRL)                    
                                     FROM GESTORCOB .. TREGC                    
                                    WHERE RCCODREGR = LCCODREGR))                  
                  
/* AJUSTA BLOQUEIO */                  
                  
UPDATE COBRANCA_VEICULO_2  SET BLOQUEIO =  (SELECT MAX(EODTOCOR) FROM CDCSANTANAMICROCREDITO..EOCOR WHERE EONROPER = CONTRATO  AND EOCODOCOR = '122')                  
                  
                  
/* AJUSTA DESBLOQUEIO */                  
                  
                      
UPDATE COBRANCA_VEICULO_2  SET  DESBLOQUEIO = (SELECT MAX(EODTOCOR) FROM CDCSANTANAMICROCREDITO..EOCOR WHERE EONROPER = CONTRATO  AND EOCODOCOR = '123')                  
                  
                  
/* AJUSTA MARCA */                  
                  
 UPDATE COBRANCA_VEICULO_2 SET MARCA  = TMDESCR  FROM  CDCSANTANAMicroCredito..TMARC, COBRANCA_VEICULO_2 WHERE  MARCA = TMCODMARC                   
                  
                  
/* AJUSTA VALOR DO BEM */              
UPDATE SF_RELATORIOS..COBRANCA_VEICULO_2 SET VALORBEM =  ABVLRVND  from CDCSANTANAMicroCredito..cbfin c , SF_RELATORIOS..COBRANCA_VEICULO_2 v where contrato = ABNROPER                  
                  
END                  
                  
                  
/* AJUSTA FAIXA DE ATRASO */            
                  
UPDATE  COBRANCA_VEICULO_2  SET FAIXA = '1- 0 A 15' WHERE ATRASO <= 15;            
        
UPDATE  COBRANCA_VEICULO_2  SET FAIXA = '2- 16 A 60' WHERE ATRASO >  15 AND ATRASO <= 60;            
        
UPDATE  COBRANCA_VEICULO_2  SET FAIXA = '3- 61 A 120'  WHERE ATRASO >  60 AND ATRASO <= 120;           
        
UPDATE  COBRANCA_VEICULO_2  SET FAIXA = '4- 121 A 180'  WHERE ATRASO >  120 AND ATRASO <= 180;            
        
UPDATE  COBRANCA_VEICULO_2  SET FAIXA = '5- 181 A 360'  WHERE ATRASO >  180 AND ATRASO <= 360;            
        
UPDATE  COBRANCA_VEICULO_2  SET FAIXA = '6- 361 A 720'  WHERE ATRASO >  360 AND ATRASO <= 720;            
        
UPDATE  COBRANCA_VEICULO_2  SET FAIXA = '7- 721 A 1040'  WHERE ATRASO >  720 AND ATRASO <= 1040;            
        
UPDATE  COBRANCA_VEICULO_2  SET FAIXA = '8- 141 A 180'  WHERE ATRASO >  1040 AND ATRASO <= 1800;            
        
UPDATE  COBRANCA_VEICULO_2  SET FAIXA = '9- > 1800'  WHERE ATRASO >  1800;             
            
/* Ajusta  Grupos */            
          
UPDATE  COBRANCA_VEICULO_2 SET GRUPO = 'Grupo1'  WHERE COD_AGENTE IN  ('000018', '000033', '000045', '000055', '000068','000082', '000103', '000140', '000150', '000171') ;        
        
UPDATE  COBRANCA_VEICULO_2 SET GRUPO = 'Grupo2'  WHERE COD_AGENTE IN  ('000026','000029','000031','000032','000070','000075','000086','000111','000113','000117','000121','000124','000138','000149','000158','000164')  ;        
        
UPDATE  COBRANCA_VEICULO_2 SET GRUPO = 'Grupo3'  WHERE COD_AGENTE IN  ('000007','000014','000028','000054','000056','000058','000061','000078','000101','000109','000125','000126','000141','000147','000169');        
        
        
/*AJUSTA  PARCELAS_PAGAS */        
        
  UPDATE COBRANCA_VEICULO_2  SET PARCELAS_PAGAS = O.QTD_PARC FROM (SELECT PANROPER , COUNT(PANRPARC) QTD_PARC FROM CDCSANTANAMicrocredito .. cparc X WITH (NOLOCK) WHERE PADTLIQ IS NOT NULL  And x.pacntrl = (select max(y.pacntrl) from CDCSANTANAMicrocredi
to .. cparc y  where x.panroper = y.panroper and x.panrparc = y.panrparc) GROUP BY PANROPER) O WHERE O.PANROPER = CONTRATO                   
      
      
/* Ajusta Pri_vcto */      
      
update COBRANCA_VEICULO_2  set PRI_VCTO = padtvcto from COBRANCA_VEICULO_2 PRI_VCTO , CDCSANTANAMicrocredito .. cparc X WITH (NOLOCK) where contrato = panroper and panrparc = parcela       
and x.pacntrl = (select max(y.pacntrl) from CDCSANTANAMicrocredito .. cparc y  where x.panroper = y.panroper and x.panrparc = y.panrparc)   
  
  
  
  
  
******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SCR_BKF_COBRANCA] (
	@DataDe as datetime,
	@DataAte as datetime) AS

	begin

		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

		union all


		select
			'63227546' CONTRATO,
			10 PARCELA,
			'EDNOLIA CORREIA DA SILVA ARQUIAS' NOME_CLIENTE,
			63 CARTEIRA,
			632 MODALIDADE,
			'13/05/2016' DATA_CONTRATO,
			36 PLANO,
			229 ATRASO,
			'13/06/2018' VENCIMENTO,
			225,56 VLR_PARCELA,
			2 QTD_PARC_ATRASO,
			20600.25 VALOR_FINANCIADO,
			200.12 TAC,
			20.11 IOC,
			'29411550827' CPF_CNPJ,
			'29411550827' RG,
			'RUA SEG SRG FREDERICO I. DE OLIVEIR, 145' ENDERECO,
			'JARDIM DEL PLATA' BAIRRO,
			'SAO JOAO DA BOA VISTA' CIDADE,
			'13873-160' CEP,
			'SP' UF,
			'32145788' TELEFONE,
			'999874568' CELULAR,
			'55584578' FONE_COMERCIAL,
			'MONICA CRISTINA VIANA DEARO' LOCAL_TRABALHO,
			4800.54 VALORBEM,
			'HONDA' MARCA,
			'BIZ - 125 KS' MODELO,
			'2008' ANO_FABRIC,
			'2009' ANO_MODELO,	
			'ICR COBRANÇAS' COBRADORA,	
			'9275-5¦ FASE 181 A 360 - GERAL' REGRA,	
			'01/01/1900' BLOQUEIO,	
			'01/01/1900' DESBLOQUEIO,	
			'9- 181 A 360' FAIXA,	
			2 QTDPAGAR,	
			'PROPRIETARIA' PROFISSAO,	
			'MOTORISTA' CARGO,	
			'941611583' PROPOSTA

	

	



end









