
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
--use SF_relatorios
go

-- 25-33 SEG CARGA
-- @data_ref = DATA DE FECHAMENTO
-- EXEC [dbo].[JOB_DIARIO_limpar_LOG]
-- select * FROM RATING_HISTORICO where dt_fecha='2014-01-31'
-- select * FROM RATING_HISTORICO_parc where dt_fecha='2014-01-31'


-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'JOB_DIARIO_limpar_LOG' AND type = 'P')
   DROP PROCEDURE [dbo].[JOB_DIARIO_limpar_LOG]
GO


CREATE Procedure [dbo].[JOB_DIARIO_limpar_LOG] AS
BEGIN

-- PROCESSAMENTO DIARIO
DUMP TRANSACTION SIG WITH NO_LOG

dbcc ShrinkFile(SIV_log, 1)

END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

