
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
--use SF_relatorios
go

-- 25-33 SEG CARGA
-- @data_ref = DATA DE FECHAMENTO
-- EXEC [dbo].[JOB_DIARIO]
-- select * FROM RATING_HISTORICO where dt_fecha='2014-01-31'
-- select * FROM RATING_HISTORICO_parc where dt_fecha='2014-01-31'


-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'JOB_DIARIO' AND type = 'P')
   DROP PROCEDURE [dbo].[JOB_DIARIO]
GO


CREATE Procedure [dbo].[JOB_DIARIO] AS          
BEGIN          
          
-- PROCESSAMENTO DIARIO          
-- pagas e recebidas, executa SEXTAS e FIM de MES  ********* INCLUI 20/10/17          
EXEC [PRC_PAGAS_RECEBIDAS]   
EXEC [PRC_RESUMO_PROPOSTA]           
          
-- PDD DIARIA          
-- RECEBIMENTOS DIARIOS          
-- RELATORIOS          
          
DECLARE @data_ref1 as datetime          
DECLARE @data_FECHA as datetime  -- 2o D UTIL          
DECLARE @data_FECHA_PDD as datetime  -- ULTIMO DU DO MES ANTERIOR          
          
DECLARE @data_INI   as datetime          
DECLARE @data_FIM_MES_ANT   as datetime -- 30 OU 31          
DECLARE @CONTADOR as INT          
          
-- DTA REF  hoje a noite          
SET @data_ref1 = ( GETDATE() )          
DECLARE @data_ref as VARCHAR(8)          
SET @data_ref = CONVERT(VARCHAR(8),@data_ref1,112)          
SELECT @data_ref          
--DATEADD(DD,-1,GETDATE() )          
          
-- DTA INICIO DO MES ATUAL          
SET @data_INI = CONVERT(CHAR(4),DATEPART(YYYY,@data_ref))+          
   RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@data_ref))),2)+ '01'          
          
--SElecT @data_INI           
          
-- @data_FIM_MES_ANT  INICIO DO MES, MENOS -1D           
SET @data_FIM_MES_ANT = DATEADD(DD,-1,@data_INI)            
          
          
 -- DTA FECHAM PDD , ULTIMO DU DO MES ANT          
 -- DATA DE FECHAMENTO ************************************          
 -- DIA 1 DO MES ATUAL          
 SET  @data_FECHA_PDD =  CONVERT(CHAR(4),DATEPART(yyyy,@data_ref))+          
    RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(mm,@data_ref))),2)+'01'          
 -- FIM DO MES ANTERIOR = FECHAMENTO          
 SET  @data_FECHA_PDD=DATEADD(DD,-1,@data_FECHA_PDD)          
 -- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES  RISCO          
 -- CHECA SE EH DIA UTIL          
          
 -- VERIFICA ULTIMO FECHAMENTO PDD  -- ALTERADO 6/6/14 ****************************          
 SET @data_FECHA_PDD= ISNULL((SELECT MAX(DT_FECHA)          
      FROM RATING_HISTORICO  (NOLOCK)  ),'')          
          
/*  -- PROCESSO ANTERIOR          
--SElect @data_FECHA_PDD          
 SET @data_FECHA_PDD= CASE WHEN DATEPART(DW,@data_FECHA_PDD) = 1 THEN DATEADD(D,-2,@data_FECHA_PDD) -- DOMINGO          
         WHEN DATEPART(DW,@data_FECHA_PDD) = 7 THEN DATEADD(D,-1,@data_FECHA_PDD) -- SABADO          
         ELSE @data_FECHA_PDD      END          
          
--SElect @data_FECHA_PDD          
          
 -- VERIFICA SE FECHOU A PDD          
 SET @CONTADOR= ISNULL((SELECT COUNT(*)           
      FROM RATING_HISTORICO           
      WHERE dt_fecha=@data_FECHA_PDD ),0)          
--select @CONTADOR          
          
          
 IF @CONTADOR = 0          
 BEGIN          
  -- PDD DE 2 MESES ANTERIORES          
  SET  @data_FECHA_PDD=CONVERT(CHAR(4),DATEPART(YYYY,@data_FECHA_PDD))+          
        RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@data_FECHA_PDD))),2)+'01'          
  SET  @data_FECHA_PDD=DATEADD(DD,-1,@data_FECHA_PDD)          
  SELECT @data_FECHA_PDD= CASE WHEN DATEPART(DW,@data_FECHA_PDD) = 1 THEN DATEADD(D,-2,@data_FECHA_PDD) -- DOMINGO          
          WHEN DATEPART(DW,@data_FECHA_PDD) = 7 THEN DATEADD(D,-1,@data_FECHA_PDD) -- SABADO          
          ELSE @data_FECHA_PDD      END          
          
 END          
*/          
          
          
-- SET  @data_FECHA_PDD='20140430'  ---???????????????????????          
          
--select @data_FECHA_PDD          
          
          
-- PROCESSA O PDD DIARIO *****************************************************          
--             PDD          
-- EXEC [dbo].[RR_RATING_PROJETADO] '2014-02-27','2014-01-31','2014-02-01','2014-02-27'          
-- EXEC [dbo].[RR_RATING_PROJETADO] '2014-05-03','2014-03-31','2014-05-01','2014-05-03'          
-- EXEC [RR_RATING_PROJETADO] '2014-05-29','2014-04-30','2014-05-01','2014-05-29'          
          
 EXEC [dbo].[RR_RATING_PROJETADO] @data_ref, @data_FECHA_PDD, @data_INI, @data_ref          
          
-- removi o ajuste em 15/2/18 ajuste feito na sexta de carnaval 9/2/18          
/*           
-- declare @data_ref datetime set @data_ref ='2018-01-31'          
declare @dt datetime set @dt =@data_ref          
-- ajusta b          
update rating_projetado          
set nvl_risco='b', perc_pdd=1,atraso=18, vlr_pdd=sld_inscrito/100.0          
where dt_fecha=@dt and num_ope in ('616028208')          
          
          
-- ajusta h 200 d          
Update rating_projetado           
set nvl_risco='h' , dtvencParc=dateadd(d,-200,@dt) , atraso=200          
, perc_pdd=100, vlr_pdd=sld_inscrito          
where dt_fecha=@dt and num_ope in ('612211036B','612229375B',          
'612197056B','612201835B','612205434B','612249623A','612188239B',          
'612249358B','612223801B',   '612255368A','616008091A','616008202A')          
*/          
          
          
          
 --EXEC [dbo].[RR_CALCULO_diario]  '2014-02-27',  '2014-03-31'          
 -- EXEC [dbo].[RR_CALCULO_diario]  '2014-05-03',  '2014-03-31'          
 EXEC [dbo].[RR_CALCULO_diario]  @data_ref , @data_FECHA_PDD          
          
 -- EXEC [dbo].[RR_RELATORIO_DIARIO]  '2014-03-20'          
 -- EXEC [dbo].[RR_RELATORIO_DIARIO]  '2014-05-03',  '2014-03-31'          
 EXEC [dbo].[RR_RELATORIO_DIARIO] @data_ref , @data_FECHA_PDD          
          
          
 -- producao do Spread Diaria  - SOH VEICULOS          
 -- EXEC [SPR_PRODUCAO_DIARIA] '20150410'          
 EXEC [dbo].[SPR_PRODUCAO_DIARIA]  @data_ref          
          
 -- LIMITES DO DESCONTO PARA PJ -- COMERCIAL          
 -- EXEC [PDV_CALCULO_LIMITES] '20150611','D'          
  EXEC [PDV_CALCULO_LIMITES] @data_ref,'D'          
          
-- VERIFICA FECHAMENTO DE MES PARA RECEBIMENTOS DA COBRANCA          
-- ATEH 2o DIA UTIL DO MES  HOJE          
 -- @data_FECHA as datetime          
 -- FIM DO MES ANTERIOR = FECHAMENTO          
 SET  @data_FECHA=DATEADD(DD,+2,@data_FIM_MES_ANT)          
 -- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES  RISCO          
 -- CHECA SE EH DIA UTIL          
 SELECT @data_FECHA= CASE WHEN DATEPART(DW,@data_FECHA) = 1 THEN DATEADD(D,+1,@data_FECHA) -- DOMINGO          
         WHEN DATEPART(DW,@data_FECHA) = 7 THEN DATEADD(D,+2,@data_FECHA) -- SABADO          
         ELSE @data_FECHA      END          
          
-- CALCULA ESTOQUE    **********************************************          
/*          
IF 1= 0+ CASE WHEN DATEPART(DD,@data_ref) > 5 THEN 0 -- APOS 2o DIA UTIL DO MES, NAO CALCULA MAIS O ESTOQUE              
    WHEN DATEPART(DW,@data_ref) IN (7,1)  AND DATEPART(DD,@data_ref) <5 THEN 1-- SAB,DOMINGO. DIA ATEH 5 REPROCESSA          
    WHEN DATEPART(DW,@data_ref) NOT IN (7,1)  AND DATEPART(DD,@data_ref) <=4 THEN 1 -- SAB,DOMINGO. DIA ATEH 5 REPROCESSA          
         ELSE 0      END  -- NAO REPROCESSA           
*/          
          
          
/* -- remover, nao usado ainda          
IF DATEPART(DD,@data_ref) <= DATEPART(DD,@data_FECHA) -- ANTES DO FECHAMENTO          
BEGIN          
  --EXEC [dbo].[PE_ESTOQUE_CALC] '2014-03-31'  -- ATEH ANTES DE ABRIL          
  EXEC [dbo].[PE_ESTOQUE_CALC] @data_FIM_MES_ANT          
  -- SELECT * FROM PERFORM_ESTOQUE  -- ENVIADOS COBRADORA, ACOMPANHA - NAO PAGOS ATEH HOJE          
            
END          
          
          
          
-- RECUPERACAO **********************************************          
-- RECUPERACAO DE ESTOQUE  DIARIA                    FECHApdd             
-- EXEC [dbo].[RE_ESTOQUE_RECUPERA] '2014-02-27','2014-01-31','2014-02-02','2014-02-27'          
-- EXEC [dbo].[RE_ESTOQUE_RECUPERA] '2014-05-03','2014-03-31','2014-05-01','2014-05-03'          
 EXEC [dbo].[RE_ESTOQUE_RECUPERA] @data_ref,@data_FECHA_PDD, @data_INI,@data_ref          
-- (@DTREF  SMALLDATETIME,   @DTFECHA PDD SMALLDATETIME,   @DTINI SMALLDATETIME,   @DTFIM SMALLDATETIME  ) AS            
-- select * from RATING_recupera_PARC           
          
-- EXEC [dbo].[RE_ESTOQUE_RELAT]  '2014-02-27'          
-- EXEC [dbo].[RE_ESTOQUE_RELAT]  '2014-05-03','2014-03-31'          
 EXEC [dbo].[RE_ESTOQUE_RELAT] @data_ref , @data_FECHA_PDD          
-- SELECT * FROM RE_ESTOQUE_RPT  WHERE DT_FECHA = '2014-02-27'          
-- DELETE FROM RE_ESTOQUE_RPT WHERE DT_FECHA >= '2014-05-01'          
          
-- PERFORMANCES **********************************************          
          
-- SAFRAS **********************************************          
-- UM PERIODO (MES ATUAL) DE RECEBIMENTO          
 --EXEC [dbo].[PE_SAFRA_EXEC] '2014-04-01','2014-04-22','2014-04-22'   -- RECEBIMENTOS ATEH HOJE          
 --EXEC [dbo].[PE_SAFRA_EXEC] '2014-05-01','2014-05-03','2014-05-03'   -- RECEBIMENTOS ATEH HOJE          
 EXEC [dbo].[PE_SAFRA_EXEC] @data_INI,@data_ref,@data_ref          
-- 1 DIA          
-- EXEC [dbo].[PE_SAFRA_CALC] '2014-05-01','2014-05-22'   -- RECEBIMENTOS ATEH HOJE          
-- SELECT * FROM PErform_SAFRA  WHERE DT_ENVIO BETWEEN '2014-04-01' AND '2014-04-20'   ORDER BY DT_ENVIO           
          
          
-- EXEC [dbo].[PE_SAFRA_RELAT]  '2014-05-03','2014-03-31'          
 EXEC [dbo].[PE_SAFRA_RELAT]  @data_REF,@data_FECHA_PDD           
-- SELECT * FROM PE_SAFRA_RPT  WHERE DT_ENVIO BETWEEN '2014-04-01' AND '2014-04-20'   ORDER BY DT_ENVIO           
-- delete FROM PE_SAFRA_RPT  WHERE DT_ENVIO BETWEEN '2014-04-01' AND '2014-04-20'          
          
          
          
          
          
-- PERFORMANCE ESTOQUE **********************************************          
-- RECEBIMENTOS DIARIOS          
-- EXEC [dbo].[PE_ESTOQUE_RECEB] '2014-03-31','2014-04-22'  -- ATEH ANTES DE ABRIL ESTOQUE, RECEBIDO ATEH HOJE          
  EXEC [dbo].[PE_ESTOQUE_RECEB] @data_FIM_MES_ANT , @data_ref          
-- SELECT * FROM PERFORM_ESTOQUE  -- DETALHE          
          
-- INI FIM REV          
 EXEC [dbo].[PE_ESTOQUE_RELAT]  @data_FIM_MES_ANT, @data_INI,@data_ref,@data_ref          
-- SELECT * FROM PE_ESTOQUE_RPT where dt_ref='20140503'          
-- SELECT * FROM PErform_ESTOQUE where dt_ref='20140430'          
-- SELECT * FROM PErform_safra where dt_ref='20140430'          
-- SELECT * FROM PE_SAFRA_RPT          
          
-- fim desativar          
*/          
          
/*          
 -- CHECA SE EH DIA UTIL          
 SELECT @data_FECHA= CASE WHEN DATEPART(DW,@data_FECHA) = 1 THEN DATEADD(D,-2,@data_FECHA) -- DOMINGO          
         WHEN DATEPART(DW,@data_FECHA) = 7 THEN DATEADD(D,-1,@data_FECHA) -- SABADO          
         ELSE @data_FECHA      END          
          
          
          
-- ATEH O DIA 10          
IF GETDATE() < 10          
BEGIN          
          
 -- DATA DE FECHAMENTO ************************************          
 -- DIA 1 DO MES ATUAL          
 SET  @data_FECHA =  CONVERT(CHAR(4),DATEPART(YEAR,GETDATE()))+          
    RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,GETDATE()))),2)+'01'          
 -- FIM DO MES ANTERIOR = FECHAMENTO          
 SET  @data_FECHA=DATEADD(DD,-1,@data_FECHA)          
 -- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES  RISCO          
 -- CHECA SE EH DIA UTIL          
 SELECT @data_FECHA= CASE WHEN DATEPART(DW,@data_FECHA) = 1 THEN DATEADD(D,-2,@data_FECHA) -- DOMINGO          
         WHEN DATEPART(DW,@data_FECHA) = 7 THEN DATEADD(D,-1,@data_FECHA) -- SABADO          
         ELSE @data_FECHA      END          
          
 SELECT @data_FECHA          
 -- VERIFICA SE O PDD_HISTORICO FOI CARREGADO          
/*          
DECLARE @data_FECHA as datetime          
DECLARE @CONTADOR as INT          
SET @data_FECHA = '2014-03-31'          
SET @data_FECHA = '2014-04-30'          
 SET @CONTADOR= ISNULL((SELECT COUNT(*)           
      FROM RATING_HISTORICO           
      WHERE dt_fecha=@data_FECHA ),0)          
          
  SET @CONTADOR= ISNULL((SELECT  COUNT(*)          
   FROM BACENSANTANAMicroCredito..ECLAS (NOLOCK)          
   where CsDtRef = @data_FECHA),0)          
 SELECT @CONTADOR          
*/          
 SET @CONTADOR= ISNULL((SELECT COUNT(*)           
      FROM RATING_HISTORICO           
      WHERE dt_fecha=@data_FECHA ),0)          
          
 SELECT @CONTADOR          
          
 -- NAO CARREGOU O MES          
 IF @CONTADOR = 0           
 BEGIN          
  
  -- VERIFICA SE O BACEN FOI FECHADO          
  SET @CONTADOR= ISNULL((SELECT  COUNT(*)          
   FROM BACENSANTANAMicroCredito..ECLAS (NOLOCK)          
   where CsDtRef = @data_FECHA),0)          
          
  -- SELECT @CONTADOR          
  -- NAO FECHOU = 0          
  -- FECHOU >0 ENTAO CARREGA          
  IF @CONTADOR > 0           
  BEGIN          
          
    -- CARREGA          
    EXEC [dbo].[PDD_CARGA] @data_FECHA          
          
  END          
          
 END          
-- SELECT RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MONTH,GETDATE()))),2)       
-- SELECT '00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MONTH,GETDATE())))          
-- SELECT RIGHT(RTRIM(CONVERT(VARCHAR(4),DATEPART(YEAR,GETDATE()))),2)          
END           
*/          
          
          
-- *********************** PROCESSAMENTOS DO IP 5 DIAS ANTES  -- ALTERADO 4/3/2015          
-- PROCESSAR 5 D ANTERIORES          
/*          
DECLARE @DIA_ANT DATETIME          
SET @DIA_ANT = DATEADD(DD,-5,@data_REF)          
 EXEC [SIG_IP_CARGA_DT]  @DIA_ANT          
 EXEC [SIG_IP_HISTORICO_DT] @DIA_ANT          
 EXEC [SIG_IP_CALCULO]  @DIA_ANT          
 EXEC [SIG_IP_RELATORIO]  @DIA_ANT          
-- 4D ANT          
SET @DIA_ANT = DATEADD(DD,-4,@data_REF)          
 EXEC [SIG_IP_CARGA_DT]  @DIA_ANT          
 EXEC [SIG_IP_HISTORICO_DT] @DIA_ANT          
 EXEC [SIG_IP_CALCULO]  @DIA_ANT          
 EXEC [SIG_IP_RELATORIO]  @DIA_ANT          
-- 3D ANT          
SET @DIA_ANT = DATEADD(DD,-3,@data_REF)          
 EXEC [SIG_IP_CARGA_DT]  @DIA_ANT          
 EXEC [SIG_IP_HISTORICO_DT] @DIA_ANT          
 EXEC [SIG_IP_CALCULO]  @DIA_ANT          
 EXEC [SIG_IP_RELATORIO]  @DIA_ANT          
-- 2D ANT          
SET @DIA_ANT = DATEADD(DD,-2,@data_REF)          
 EXEC [SIG_IP_CARGA_DT]  @DIA_ANT          
 EXEC [SIG_IP_HISTORICO_DT] @DIA_ANT          
 EXEC [SIG_IP_CALCULO]  @DIA_ANT          
 EXEC [SIG_IP_RELATORIO]  @DIA_ANT          
-- 1D ANT          
SET @DIA_ANT = DATEADD(DD,-1,@data_REF)          
 EXEC [SIG_IP_CARGA_DT]  @DIA_ANT          
 EXEC [SIG_IP_HISTORICO_DT] @DIA_ANT          
 EXEC [SIG_IP_CALCULO]  @DIA_ANT          
 EXEC [SIG_IP_RELATORIO]  @DIA_ANT          
*/          
          
          
-- *********************** PROCESSAMENTOS DO DIA ATUAL          
-- ip          
-- SELECT 'IP CARGA'          
EXEC [SIG_IP_CARGA]          
-- SELECT 'IP HIST'          
EXEC [SIG_IP_HISTORICO]          
-- SELECT 'IP CALC'          
          
-- REMOVE PARCELAS PULADAS ANTES DO CALCULO          
-- EXEC SIG_IP_Ajuste          
          
-- ATEH O DIA 7 REMOVER PARCELAS PAGAS DO MES ANTERIOR -- BAIXA RETROATIVA          
IF DATEPART(DD,@data_REF) <= 7          
BEGIN          
 EXEC SIG_IP_FIM_MES   @data_REF , @data_FECHA_PDD          
 SET  @data_FECHA_PDD  =  DATEADD(DD, -1, @data_FECHA_PDD)          
 EXEC SIG_IP_FIM_MES   @data_REF , @data_FECHA_PDD          
 SET  @data_FECHA_PDD  =  DATEADD(DD, -2, @data_FECHA_PDD)          
 EXEC SIG_IP_FIM_MES   @data_REF , @data_FECHA_PDD          
 SET  @data_FECHA_PDD  =  DATEADD(DD, -3, @data_FECHA_PDD)          
 EXEC SIG_IP_FIM_MES   @data_REF , @data_FECHA_PDD          
END          
          
-- REPROCESSAR AS BAIXAS RETROATIVAS -- DO DIA 1 A DATA_REF  ************** ALTERADO 11/NOV/15          
-- DTA INICIO DO MES ATUAL          
SET  @data_INI = CONVERT(CHAR(4),DATEPART(YYYY,@data_ref))+          
     RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@data_ref))),2)+ '01'          
WHILE @data_INI <= @data_REF          
BEGIN          
  EXEC [SIG_IP_PAGAMENTO_DT] @data_INI          
  SET  @data_INI = DATEADD(DD, +1, @data_INI)          
END          
          
-- RELATORIOS DO IP          
EXEC [SIG_IP_CALCULO]     @data_REF          
-- SELECT 'IP RElat'          
EXEC [SIG_IP_RELATORIO]   @data_REF          
          
          
-- ATEH O DIA 3 REPROCESSAR FECHAMENTO ********** PARCELAS PAGAS DO MES ANTERIOR -- BAIXA RETROATIVA          
-- PGTO PROCESSADO D+1          
IF DATEPART(DD,@data_REF) <= 3          
BEGIN          
 -- FIM DO MES ANTERIOR = FECHAMENTO  *************** INCLUI P/ AJUSTAR EM 8/12/16          
 SET  @data_FECHA_PDD =  CONVERT(CHAR(4),DATEPART(yyyy,@data_ref))+          
    RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(mm,@data_ref))),2)+'01'          
 SET  @data_FECHA_PDD=DATEADD(DD,-1,@data_FECHA_PDD)          
 -- select @data_FECHA_PDD          
          
          
  EXEC [SIG_IP_PAGAMENTO_DT] @data_FECHA_PDD          
  -- RELATORIOS DO IP          
  EXEC [SIG_IP_CALCULO]      @data_FECHA_PDD          
  EXEC [SIG_IP_RELATORIO]    @data_FECHA_PDD          
  --  SET  @data_INI = DATEADD(DD, +1, @data_INI)          
END          
          
 -- ****************************** alterado JOB p/ 3 dias - rodar os pagamentos do mes ANTERIOR IP ex Carnaval no fim do mes          
 -- alterado 29/3/17          
  IF DATEPART(DD,@data_REF) <= 3          
  BEGIN          
   -- FIM DO MES ANTERIOR = FECHAMENTO  *************** INCLUI P/ AJUSTAR           
   -- declare @data_FECHA_PDD datetime declare @data_ref datetime set @data_ref ='20170303'          
   SET  @data_FECHA_PDD =  CONVERT(CHAR(4),DATEPART(yyyy,@data_ref))+          
      RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(mm,@data_ref))),2)+'01'          
   SET  @data_FECHA_PDD=DATEADD(DD,-1,@data_FECHA_PDD)          
   --  select @data_FECHA_PDD     -- Ok          
   -- SELECT dateadd(DD,-5,@data_FECHA_PDD) -- OK          
          
   -- 5 d antes          
   SET  @data_FECHA_PDD = dateadd(D,-5,@data_FECHA_PDD)    --  select @data_FECHA_PDD     -- Ok          
   EXEC [SIG_IP_PAGAMENTO_DT] @data_FECHA_PDD          
   SET  @data_FECHA_PDD = dateadd(D,+1,@data_FECHA_PDD)          EXEC [SIG_IP_PAGAMENTO_DT] @data_FECHA_PDD          
   SET  @data_FECHA_PDD = dateadd(D,+1,@data_FECHA_PDD)           
   EXEC [SIG_IP_PAGAMENTO_DT] @data_FECHA_PDD          
   SET  @data_FECHA_PDD = dateadd(D,+1,@data_FECHA_PDD)           
   EXEC [SIG_IP_PAGAMENTO_DT] @data_FECHA_PDD          
   SET  @data_FECHA_PDD = dateadd(D,+1,@data_FECHA_PDD)           
   EXEC [SIG_IP_PAGAMENTO_DT] @data_FECHA_PDD          
   SET  @data_FECHA_PDD = dateadd(D,+1,@data_FECHA_PDD)           
   EXEC [SIG_IP_PAGAMENTO_DT] @data_FECHA_PDD  -- FIM MES           
   --  select @data_FECHA_PDD           
          
    -- RELATORIOS DO IP  -- REPROCESSA O FIM DO MES          
    EXEC [SIG_IP_CALCULO]      @data_FECHA_PDD          
    EXEC [SIG_IP_RELATORIO]    @data_FECHA_PDD          
  END          
          
          
          
          
          
 -- ****************************** alterado JOB p/ rodar relatorio Fech Coml e CRED por operacao realizadas          
 -- alterado 6/jan/17          
          
 EXEC PRC_COMERCIAL_PRODUCAO   @data_ref          
 --  EXEC PRC_COMERCIAL_PRODUCAO_PROPOSTAS  '20161231'          
 EXEC PRC_COMERCIAL_VEIC_QUEBRAS  @data_ref          
 -- EXEC PRC_COMERCIAL_PRODUCAO_CARTEIRA  @DT          
 -- OPERACAO          
 EXEC [dbo].[PRC_COMERCIAL_CALCULO]  @data_ref          
 -- EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] @DT          
 --  DECLARE @DT DATETIME  SET @DT = '20170105'          
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES_OPER] @data_ref          
 -- novo relatorio de valor OPERADO diario alterado inlcui 5/6/17          
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES_OPER2] @data_ref          
          
 EXEC [dbo].[SCR_CONTROLE_ACOES]  --criado dia 22/08/18 para sr. joão      
 EXEC [dbo].[SCR_CONTROLE_ACOES_PJ]  --criado dia 22/08/18 para sr. joão            

--PARCELAS LIQUIDADAS (MORA, MULTA, IOF, ETC.) - EXECUTA NO 10º DIA  criado dia 29/07/2019     
EXEC [SCR_PARC_REC]
  
-- INCLUI EM    22/4/19  ********************************************************  
-- ATEH O DIA 3 REPROCESSAR FECHAMENTO ********** SPREAD REPROCESSAR O MES FECHADO **  
IF DATEPART(DD,@data_REF) <= 3          
BEGIN          
 DECLARE @DT_AUX DATETIME  
  -- FIM DO MES ANTERIOR = FECHAMENTO  *************** INCLUI P/ AJUSTAR EM 8/12/16          
 SET  @DT_AUX =   CONVERT(CHAR(4),DATEPART(yyyy,@data_FECHA_PDD))+          
      RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(mm,@data_FECHA_PDD))),2)+'01'          
  
 -- LOOP COM O MES ANTERIOR  ************  
 WHILE @DT_AUX <= @data_FECHA_PDD  
 BEGIN  
   EXEC SPR_PRODUCAO_DIARIA @DT_AUX  -- REPROCESSA O SPREAD DIARIO        
   SET  @DT_AUX = DATEADD(DD,+1,@DT_AUX)  
 END  
END  
          
END   
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

