         
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
go

-- EXEC [dbo].[JOB_REPROC_FECH_DIARIO]

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'JOB_REPROC_FECH_DIARIO' AND type = 'P')
   DROP PROCEDURE [dbo].[JOB_REPROC_FECH_DIARIO]
GO


CREATE Procedure [dbo].[JOB_REPROC_FECH_DIARIO] AS
BEGIN

-- APOS O FECHAMENTO DA PDD, REPROCESSA O FECHAMENTO
-- REPROCESSAMENTO DO DIARIO
-- EXECUTA DIA 5 A 15 -- 

DECLARE @data_ref1	as datetime
DECLARE @data_FECHA as datetime  -- 2o D UTIL
DECLARE @data_FECHA_PDD as datetime  -- ULTIMO DU DO MES ANTERIOR
DECLARE @data_FECHA_PDD_ANT as datetime  -- ULTIMO DU 2 MESES ANTERIORES

DECLARE @data_INI   as datetime
DECLARE @data_FIM_MES_ANT   as datetime -- 30 OU 31
--DECLARE @CONTADOR	as INT

-- DTA REF  ONTEM
SET @data_ref1 = GETDATE()
SET @data_ref1 = DATEADD(DD,-1,@data_ref1)
DECLARE @data_ref	as VARCHAR(8)
SET @data_ref = CONVERT(VARCHAR(8),@data_ref1,112)
--SELECT @data_ref
--DATEADD(DD,-1,GETDATE() )

-- DTA INICIO DO MES ATUAL
SET @data_INI = CONVERT(CHAR(4),DATEPART(YYYY,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@data_ref))),2)+ '01'
--SElecT @data_INI 

-- @data_FIM_MES_ANT  INICIO DO MES, MENOS -1D 
SET @data_FIM_MES_ANT = DATEADD(DD,-1,@data_INI)  
--  SELECT @data_FIM_MES_ANT

-- RECARGA?  ******************************************************************
-- VERIFICAR SE ESTAH CARREGADO NO RATING_HISTORICO
DECLARE @QTDE_RATE INT
SELECT	@QTDE_RATE = COUNT(*) 
					from	rating_historico 
					where	DT_FECHA = @data_FIM_MES_ANT
--SELECT @QTDE_RATE

-- VERIFICAR SE AINDA ESTAH NO BACEN
DECLARE		@QTDE_BACEN INT
SET			@QTDE_BACEN = (SELECT	COUNT(*) 
							FROM	BACENSANTANAMicroCredito..ECLAS (NOLOCK)
							where	CsDtRef =@data_FIM_MES_ANT)
--select @QTDE_BACEN

/*  alterado 12/2/16
SELECT		@QTDE_BACEN = COUNT(*) 
					FROM	BACENSANTANAMicroCredito..ECLAS (NOLOCK)
					where	CsDtRef =@data_FIM_MES_ANT
*/
--SELECT @QTDE_BACEN

-- EXECUTA DO DIA 5 AO 15
IF  DATEPART(DD,GETDATE()) BETWEEN 5 AND 15		-- voltei em 28/9/16 ***************
--IF  DATEPART(DD,GETDATE()) BETWEEN 2 AND 15	-- DIA 2 AO 15
BEGIN


		-- RECARGA?  ******************************************************************

		-- SOMENTE APOS O 5o DIA UTIL
		-- CALCULO DIAS UTEIS *******************************
		DECLARE @DIAS_UTEIS     INT
/*
		DECLARE @DIAS_FERIADOS  INT
		DECLARE @DIAS_FIMDESEMANA  INT
		DECLARE @DIAS		    INT
		DECLARE @CONTADOR	    INT

		SET		  @DIAS = DATEPART(D,GETDATE())
		SELECT	  @DIAS_FERIADOS = COUNT(*) 
			FROM  CDCSANTANAMicroCredito..TFERI (NOLOCK) 
			WHERE FEDTFER BETWEEN @data_INI AND GETDATE()

		SET		@CONTADOR = @DIAS - 1
		SET		@DIAS_FIMDESEMANA =0
		-- VERIFICA OS DIAS DE FIM DE SEMANA
		-- SELECT DATEADD(DD,15-1,'20140801')
		WHILE	@CONTADOR > 0
		BEGIN
				IF DATEPART(DW, DATEADD(DD,@CONTADOR,@data_INI) ) IN ( 1, 7 ) -- SAB OU DOMINGO
				BEGIN
					SET @DIAS_FIMDESEMANA = @DIAS_FIMDESEMANA + 1 
				END
				SET		@CONTADOR =  @CONTADOR - 1
		END
		
			
		-- DIAS UTEIS
		SET @DIAS_UTEIS =  @DIAS - @DIAS_FERIADOS -  @DIAS_FIMDESEMANA
*/
		-- SELECT @DIAS_UTEIS
		SET @DIAS_UTEIS =  DATEPART(DD,@data_ref1)

		-- SELECT COUNT(*) FROM CDCSANTANAMicroCredito..TFERI (NOLOCK)  WHERE FEDTFER BETWEEN '20140801' AND GETDATE()
		
		--IF @QTDE_RATE> 0 AND @QTDE_BACEN >0 AND  @DIAS_UTEIS >= 5 -- A Partir do 5o DIA UTIL
		IF @QTDE_RATE> 0 AND @QTDE_BACEN >0 AND  @DIAS_UTEIS >= 5  -- VOLTEI EM 3/10/16
 -- A Partir do 2o DIA CORRIDO FECHAMENTO
		BEGIN
			-- RECARGA   ********************* MENSAL ****************
			EXEC [dbo].[PDD_reCARGA]   @data_FIM_MES_ANT
			-- REPROCESSAR O RR MENSAL DE FECHAMENTO
			 EXEC [dbo].[RR_CALCULO]   @data_FIM_MES_ANT
			-- MONTAR OS RESULTADOS DO RELATORIO ROLLRATE DO MES
			 EXEC [dbo].[RR_RELATORIO]  @data_FIM_MES_ANT

			-- calculo PDD
			EXEC [dbo].[PDD_CUBO_CALCULO]   @data_FIM_MES_ANT

			-- DTA FECHAM PDD , ULTIMO DU DO MES ANT   ******* REFAZ O DIARIO
			-- DATA DE FECHAMENTO ************************************
			-- PROCESSA DIARIO FINAL CF FECHAMENTO
			-- REPROCESSA DIARIOS ATEH ONTEM
			 EXEC [dbo].[PROC_REPROC_FECH_DIARIO]


			-- ateh o dia 15 ************************** roda PRODUCAO DO SPREAD
			-- EXEC [SPR_PRODUCAO] @data_FECHA

			-- ateh o dia 15 ************************** roda PRODUCAO DO SPREAD
			 EXEC JOB_COMERCIAL_CRED_CART  @data_FIM_MES_ANT

			-- carrega a base do contabil para o GERENCIAL
			EXEC [ger_base_contabil] @data_FIM_MES_ANT

			-- PDV VEIC  (@DT3M as datetime, @data_ref as datetime,@veiculo as int) AS
			-- [PDV_CALCULO_VEIC_3M_loja]  @data_ref
			-- PDV VEIC
			EXEC  [PDV_CALCULO_VEIC_3M_loja] @data_FIM_MES_ANT

		END
END

END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

