
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
--use SF_relatorios
go


-- exec [JOB_CARGA]
-- 25-33 SEG CARGA
-- @data_ref = DATA DE FECHAMENTO
--  
-- select * FROM RATING_HISTORICO where dt_fecha='2014-05-31'
--	SELECT top 10 * FROM	BACENSANTANAMicroCredito..ECLAS (NOLOCK)  where csdtref='2014-05-30' 
--	SELECT top 10 * FROM	BACENSANTANAMicroCredito..ECLAS (NOLOCK)  where csnroper='612055909A'

-- select * FROM RATING_HISTORICO_parc where dt_fecha='2014-01-31'


-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'JOB_CARGA' AND type = 'P')
   DROP PROCEDURE [dbo].[JOB_CARGA]
GO


CREATE Procedure [dbo].[JOB_CARGA] AS
BEGIN

-- VERIFICA PROCESSAMENTO PDD

DECLARE @data_ref	as datetime
DECLARE @data_FECHA as datetime
DECLARE @CONTADOR	as INT




-- ATEH O DIA 10 do mes
IF datepart(dd,GETDATE()) < 10
BEGIN

	-- DATA DE FECHAMENTO ************************************
	-- DIA 1 DO MES ATUAL
	SET		@data_FECHA =  CONVERT(CHAR(4),DATEPART(YEAR,GETDATE()))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,GETDATE()))),2)+'01'
	-- FIM DO MES ANTERIOR = FECHAMENTO
	SET		@data_FECHA=DATEADD(DD,-1,@data_FECHA)


	-- ateh o dia 10 ************************** roda PRODUCAO DO SPREAD
	-- EXEC [SPR_PRODUCAO] @data_FECHA

	-- ateh o dia 10 ************************** roda p123
	exec [P123_job] 

	-- RODA O P123 GERENCIAL		*********** INCLUI EM 28/9/16
	EXEC [JOB_P123GER] @data_FECHA -- '20160831'

  -- removido 3/set/2014 -- considerar ultimo dia do mes cf BC
	-- ALTERACAO DT FECHAMENTO ULTIMO DIA DO MES
	IF @data_FECHA <= '20140801' -- ANTES AGO/2014
	BEGIN
		-- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES		RISCO
		-- CHECA SE EH DIA UTIL
		SELECT	@data_FECHA= CASE WHEN DATEPART(DW,@data_FECHA) = 1 THEN DATEADD(D,-2,@data_FECHA)	-- DOMINGO
								  WHEN DATEPART(DW,@data_FECHA) = 7 THEN DATEADD(D,-1,@data_FECHA)	-- SABADO
								  ELSE @data_FECHA					 END
	END
--	SELECT @data_FECHA

	-- VERIFICA SE O PDD_HISTORICO FOI CARREGADO
/*
DECLARE @data_FECHA as datetime
DECLARE @CONTADOR	as INT
SET @data_FECHA = '2014-03-31'
SET @data_FECHA = '2014-04-30'
	SET @CONTADOR= ISNULL((SELECT	COUNT(*) 
						FROM RATING_HISTORICO 
						WHERE dt_fecha=@data_FECHA ),0)

		SET @CONTADOR= ISNULL((SELECT		COUNT(*)
			FROM	BACENSANTANAMicroCredito..ECLAS (NOLOCK)
			where	CsDtRef = @data_FECHA),0)
	SELECT @CONTADOR
*/
	SET @CONTADOR= ISNULL((SELECT	COUNT(*) 
						FROM RATING_HISTORICO 
						WHERE dt_fecha=@data_FECHA ),0)

	SELECT @CONTADOR

	-- NAO CARREGOU O MES
	IF @CONTADOR = 0 
	BEGIN
	
		-- VERIFICA SE O BACEN FOI FECHADO
		SET @CONTADOR= ISNULL((SELECT		COUNT(*)
			FROM	BACENSANTANAMicroCredito..ECLAS (NOLOCK)
			where	CsDtRef = @data_FECHA),0)

		SELECT @CONTADOR
		-- NAO FECHOU = 0
		-- FECHOU >0 ENTAO CARREGA
		IF @CONTADOR > 0 
		BEGIN

				-- CARREGA PDD
			EXEC [dbo].[PDD_CARGA] @data_FECHA


			-- FECHAMENTO PDD MENSAL ******************
			-- EXECUTAR OS CALCULOS DO RELATORIO ROLLRATE DO MES
			 EXEC [dbo].[RR_CALCULO]  @data_FECHA
			-- MONTAR OS RESULTADOS DO RELATORIO ROLLRATE DO MES
			 EXEC [dbo].[RR_RELATORIO] @data_FECHA

			-- calculo PDD
			EXEC [dbo].[PDD_CUBO_CALCULO]  @data_FECHA

/*

			-- APRESENTAR OS DADOS
			-- SELECT * FROM RR_ROLLRATE_RPT ORDER BY DT_FECHA DESC, ORDEM_LINHA ASC

			-- MES ANTERIOR
			--  PARAMETRO DATA FECHAMENTO DA PDD, MES ANTERIOR
			DECLARE @data_ANT AS SMALLDATETIME
			-- DIA 1 DO MES DO FECHAMENTO
			SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_FECHA))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_FECHA))),2)+'01'
			-- FIM DO MES ANTERIOR
			SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
			-- CHECA SE EH DIA UTIL
			SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
									WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
									ELSE @data_ANT					 END



			-- REPROCESSAR O DIARIO DO ULTIMO DIA DO MES = AO FECHAMENTO
			EXEC [dbo].[RR_RATING_PROJETADO_FECHADO]	@data_FECHA
			EXEC [dbo].[RR_CALCULO_diario]		@data_FECHA,@data_ANT
			EXEC [dbo].[RR_RELATORIO_DIARIO]	@data_FECHA,@data_ANT

*/

		END

	END
-- SELECT RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MONTH,GETDATE()))),2)
-- SELECT '00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MONTH,GETDATE())))
-- SELECT RIGHT(RTRIM(CONVERT(VARCHAR(4),DATEPART(YEAR,GETDATE()))),2)

END	

END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

