
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Use SIG
go

-- exec [PRC_PAGAS_RECEBIDAS]

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_PAGAS_RECEBIDAS' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_PAGAS_RECEBIDAS]
GO



CREATE Procedure [dbo].[PRC_PAGAS_RECEBIDAS] AS          
BEGIN          
          
DECLARE @data_ref as datetime          
DECLARE @data_DE as datetime          
DECLARE @data_ATE as datetime          
SET @data_ref = GETDATE()          
SET @data_ATE = GETDATE()          
          
-- TRANSFORMA EM DATA SEM A HORA          
SET  @data_ref= CONVERT(DATETIME, CONVERT(VARCHAR(10),GETDATE(),120))          
          
SET  @data_DE =  CONVERT(CHAR(4),DATEPART(YEAR,GETDATE()))+          
    RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,GETDATE()))),2)+'01'          
          
-- executa às sextas ou no fim do mes          
IF  Datepart(dw,getdate())= 6 OR DATEPART(day,DATEADD (DD,+1,GETDATE()))=1          
          
BEGIN          
          
 DELETE PAGAS_RECEBIDAS WHERE PROP_DATAREF = @data_ref          
         
 -- select * from PAGAS_RECEBIDAS  (nolock)        
 insert PAGAS_RECEBIDAS          
 select  @data_ref,ppnrprop, ppcodorg4,  ppnroper, ppnomecli, ppcgc, ppcodorg6, ppusuario, PPCODPRD, PPCODTAB, ppdtbase, ppdtcad, PPVLROPCZ, ppvlrliq1, ppvlrfin, pppropfim, mpsit, tddescr,          
   NULL,NULL,NULL          
 from PROPWEBSMC..cprop (nolock), PROPWEBSMC..cmovp (nolock), PROPWEBSMC..tdeci (nolock)          
 WHERE ppnrprop = mpnrprop and tdnrdeci=mpnrdeci and mpcoddeci =tdcoddeci and  ppdtbase >= @data_DE  AND ppdtbase <=@data_ATE     
 AND PPCODOP IN (SELECT M.COD_MODA                      
        FROM Ttipo_prod T  (NOLOCK),         
        TModa_tipo_prod M (NOLOCK)                        
      WHERE M.COD_PROD   = T.COD_PROD                       
       AND T.COD_MODALIDADE = M.COD_MODALIDADE                       
       AND T.COD_PROD IN ( 'R','V','BF')              -- INSERI EM 24/1/19  
       -- SEM RENEG CP, SEM RENEG PJ                      
       AND T.COD_MODALIDADE NOT IN (14, 87) )                                   
      
          
 EXEC PRC_COMERCIAL_PRODUCAO_PROPOSTAS @data_ref          
 EXEC PRC_COMERCIAL_CALCULO_prop_OPER  @data_ref          
          
          
  EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER @data_ref          
          
-- reducao          
 TRUNCATE TABLE  proposta_inicial          
 INSERT  proposta_inicial          
 select A.lpnrprop Proposta_1, A.lpvlrfin vlr_ini          
 --into  proposta_inicial          
 from PropWebSmc..clogprop A, propwebsmc..cprop B          
 where ppnrprop = lpnrprop and ppdtbase>=@data_DE and ppdtbase<=@data_ATE          
 and lpcntrl = (select min (lpcntrl) from propwebsmc..clogprop C where A.lpnrprop= C.lpnrprop)          
          
 -- USE SIG          
 TRUNCATE TABLE  proposta_final           
 INSERT  proposta_final           
 select  A.lpnrprop Proposta_2, A.lpvlrfin vlr_fin          
 --into  proposta_final          
 from PropWebSmc..clogprop A, PropWebSmc..cprop B          
 where ppnrprop = lpnrprop and ppdtbase>=@data_DE and ppdtbase<=@data_ATE          
 and lpcntrl = (select max (lpcntrl) from PropWebSmc..clogprop C where A.lpnrprop= C.lpnrprop)          
          
 /* select * from proposta_inicial          
 select * from proposta_final  */          
            
 TRUNCATE TABLE  proposta_reducao           
 INSERT  proposta_reducao           
 select distinct Proposta_1, VLR_ini, vlr_fin          
 --into proposta_reducao          
 from proposta_inicial, proposta_final          
 where vlr_fin<vlr_ini and Proposta_1=Proposta_2          
            
 /*          
 select  ppnrprop Proposta, ppnroper Contrato, ppnomecli Nome, ppcgc CPF,          
 ppcodorg4 Cod_loja,A13DESCR Agente ,tpdescr Produto, ppdtbase Data_Base,VLR_ini Vlr_inicial,vlr_fin Vlr_Final,          
 mpsit Situação, tddescr Esteira          
 from propwebsmc..cprop, propwebsmc..cmovp, propwebsmc..tdeci,          
 SIG..proposta_reducao, propwebsmc..tprod,cdcsantanamicrocredito..torg3, cdcsantanamicrocredito..ta1o3          
 WHERE ppnrprop = mpnrprop and tdnrdeci=mpnrdeci and mpcoddeci =tdcoddeci and  Proposta_1=ppnrprop and Proposta_1=mpnrprop          
 and tpcodprd = ppcodprd and ppcodorg3 = O3CODORG and O3CODORGA13 = A13CODORG */          
            
 -- DECLARE @data_ref DATETIME SET @data_ref = '20170930'          
 UPDATE  PAGAS_RECEBIDAS          
  SET  REDUCAO ='S',  Vlr_INI = R.VLR_ini  , vlr_fin =  R.Vlr_FiN           
  FROM proposta_reducao R (NOLOCK)          
  WHERE PROP_DATAREF = @data_ref           
   AND PAGAS_RECEBIDAS.NUM_PROP = R.Proposta_1       

--19/06/2019 - TIAGO - INCLUSÃO DA ULTIMA ATIVIDADE DA PROPOSTA   
--ALTER TABLE PAGAS_RECEBIDAS ADD HORALNC VARCHAR(10)
--ALTER TABLE PAGAS_RECEBIDAS ADD DTLNC SMALLDATETIME
UPDATE PAGAS_RECEBIDAS
SET HORALNC = E.EPHORALNC, DTLNC = E.EPDTLNC
FROM PROPWEBSMC..EPROP E (NOLOCK)
WHERE PROP_DATAREF = @data_ref
AND PAGAS_RECEBIDAS.NUM_PROP = E.EPNRPROP
AND E.EPNRSEQ = (SELECT MAX(E1.EPNRSEQ) FROM PROPWEBSMC..EPROP E1 (NOLOCK) WHERE E1.EPNRPROP = E.EPNRPROP)

END          
          
END          
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

