         
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
go

-- EXEC [dbo].[PROC_REPROC_FECH_DIARIO]
-- select * from rating_historico where dt_fecha='20140731' and nvl_risco='hh'
-- select * from rating_historico where dt_fecha='20140731' and num_ope='61632618'

-- faltou HH no 31-jul
-- select * from rating_historico where dt_fecha='20140630' and num_ope='61632618'  -- 2744,62
-- select * from rating_historico where dt_fecha='20140630' and num_ope='612104894' -- 6261,87
-- insert rating_historico select '07_14',num_ope,dt_base,'hh',nom_cli,dt_vcto1,sld_inscrito,vlr_princ, vl_juros,tx_rap,rrf_jr,vlr_fv,perc_pdd,vlr_pdd,381,parc,dtVencParc,agente,cobradora,'20140731',dt_vcto1p,codcli,codprod from rating_historico where dt_fecha='20140630' and num_ope='61632618'
-- insert rating_historico select '07_14',num_ope,dt_base,'hh',nom_cli,dt_vcto1,sld_inscrito,vlr_princ, vl_juros,tx_rap,rrf_jr,vlr_fv,perc_pdd,vlr_pdd,381,parc,dtVencParc,agente,cobradora,'20140731',dt_vcto1p,codcli,codprod from rating_historico where dt_fecha='20140630' and num_ope='612104894'  -- 6261,87


-- select * from BACENSANTANAMicroCredito..ECLAS (NOLOCK) where csdtref='20140731' and csnroper='61632618'  -- 2744,62
-- select * from BACENSANTANAMicroCredito..ECLAS (NOLOCK) where csdtref='20140731' and csnroper='612104894' -- 6261,87
-- inclui no ECLAS
-- insert BACENSANTANAMicroCredito..ECLAS select '20140731','61632618','35791515847','hh','a','001','hh','35791515847','n',2744.62,null,null,null,null,null
-- insert BACENSANTANAMicroCredito..ECLAS select '20140731','612104894','40534096832','hh','a','001','hh','40534096832','n',6261.87,null,null,null,null,null

-- diferenca de saldo transferido
-- select * from BACENSANTANAMicroCredito..ECLAS (NOLOCK) where csdtref='20140731' and csnroper='61622459' -- 2138,93  3059,07
-- select * from BACENSANTANAMicroCredito..ECLAS (NOLOCK) where csdtref='20140731' and csnroper='612064996'	-- 4107,28
--  select * from BACENSANTANAMicroCredito..ECLAS (NOLOCK) where csdtref='20140731' and csnroper='612092777' --	3811,58
--  select * from BACENSANTANAMicroCredito..ECLAS (NOLOCK) where csdtref='20140731' and csnroper='612060686A' --	7299,53
--  select * from BACENSANTANAMicroCredito..ECLAS (NOLOCK) where csdtref='20140731' and csnroper='61638321A' --	6441,44
--  select * from BACENSANTANAMicroCredito..ECLAS (NOLOCK) where csdtref='20140731' and csnroper='63209210A' --	6279,88

-- diferenca de saldo transferido AJUSTE
-- update  BACENSANTANAMicroCredito..ECLAS  set csvlrInsc =3059.07 where csdtref='20140731' and csnroper='61622459' -- 2138,93  3059,07
-- update  BACENSANTANAMicroCredito..ECLAS  set csvlrInsc =4107.28 where csdtref='20140731' and csnroper='612064996'	-- 4107,28
--  update  BACENSANTANAMicroCredito..ECLAS set csvlrInsc =3811.58 where csdtref='20140731' and csnroper='612092777' --	3811,58
--   update   BACENSANTANAMicroCredito..ECLAS set csvlrInsc =7299.53 where csdtref='20140731' and csnroper='612060686A' --	7299,53
--   update   BACENSANTANAMicroCredito..ECLAS set csvlrInsc =6441.44 where csdtref='20140731' and csnroper='61638321A' --	6441,44
--   update   BACENSANTANAMicroCredito..ECLAS set csvlrInsc =6279.88 where csdtref='20140731' and csnroper='63209210A' --	6279,88


--612064996



--   DROP PROCEDURE JOB_DIARIO_REPROC_FECH
-- 5 MIN

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'proc_REPROC_FECH_DIARIO' AND type = 'P')
   DROP PROCEDURE [dbo].[proc_REPROC_FECH_DIARIO]
GO


CREATE Procedure [dbo].[proc_REPROC_FECH_DIARIO] AS
BEGIN

-- APOS O FECHAMENTO DA PDD, REPROCESSA O FECHAMENTO
-- REPROCESSAMENTO DO DIARIO

DECLARE @data_ref1	as datetime
DECLARE @data_FECHA as datetime  -- 2o D UTIL
DECLARE @data_FECHA_PDD as datetime  -- ULTIMO DU DO MES ANTERIOR
DECLARE @data_FECHA_PDD_ANT as datetime  -- ULTIMO DU 2 MESES ANTERIORES

DECLARE @data_INI   as datetime
DECLARE @data_FIM_MES_ANT   as datetime -- 30 OU 31
DECLARE @CONTADOR	as INT

-- DTA REF  ONTEM
SET @data_ref1 = GETDATE()
SET @data_ref1 = DATEADD(DD,-1,@data_ref1)
DECLARE @data_ref	as VARCHAR(8)
SET @data_ref = CONVERT(VARCHAR(8),@data_ref1,112)
--SELECT @data_ref
--DATEADD(DD,-1,GETDATE() )

-- DTA INICIO DO MES ATUAL
SET @data_INI = CONVERT(CHAR(4),DATEPART(YYYY,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@data_ref))),2)+ '01'
--SElecT @data_INI 

-- @data_FIM_MES_ANT  INICIO DO MES, MENOS -1D 
SET @data_FIM_MES_ANT = DATEADD(DD,-1,@data_INI)  


	-- DTA FECHAM PDD , ULTIMO DU DO MES ANT
	-- DATA DE FECHAMENTO ************************************
	-- DIA 1 DO MES ATUAL
	SET		@data_FECHA_PDD =  CONVERT(CHAR(4),DATEPART(yyyy,@data_ref))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(mm,@data_ref))),2)+'01'
	-- FIM DO MES ANTERIOR = FECHAMENTO
	SET		@data_FECHA_PDD=DATEADD(DD,-1,@data_FECHA_PDD)
	-- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES		RISCO
	-- CHECA SE EH DIA UTIL

	-- VERIFICA ULTIMO FECHAMENTO PDD  -- ALTERADO 6/6/14 ****************************
	SET @data_FECHA_PDD= ISNULL((SELECT	MAX(DT_FECHA)
						FROM RATING_HISTORICO  ),'')
select @data_FECHA_PDD


	-- DATA DE FECHAMENTO 2M ************************************
	-- DIA 1 DO MES ANT
	SET		@data_FECHA_PDD_ANT =  CONVERT(CHAR(4),DATEPART(yyyy,@data_FECHA_PDD))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(mm,@data_FECHA_PDD))),2)+'01'
	-- FIM DO MES ANTERIOR = FECHAMENTO
	SET		@data_FECHA_PDD_ANT=DATEADD(DD,-1,@data_FECHA_PDD_ANT)
	-- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES		RISCO
	-- CHECA SE EH DIA UTIL

	-- VERIFICA  FECHAMENTO PDD  2M   ****************************
	SET @data_FECHA_PDD_ANT= ISNULL((SELECT	MAX(DT_FECHA)
						FROM RATING_HISTORICO WHERE DT_FECHA < @data_FECHA_PDD   ),'')


SElecT @data_INI , @data_ref , @data_FECHA_PDD, @data_FECHA_PDD_ANT

-- PROCESSA O PDD DIARIO	*****************************************************
--	REFAZ O FECHAMENTO PDD NO DIARIO									PDD
--30/6  diario ref 30/5, diferenca gde saldo a menor 40K
-- QDO NAO ESTAH FECHADO PDD , PROJETA   EXEC [dbo].[RR_RATING_PROJETADO]	'2014-06-30','2014-05-30','2014-06-01','2014-06-30'
-- QDO PDD FECHOU USAR OUTRA PROC ************************
-- 30/6,30/5

 EXEC [RR_RATING_PROJETADO_FECHAMENTO] @data_FECHA_PDD 
 EXEC [dbo].[RR_CALCULO_diario]		@data_FECHA_PDD,@data_FECHA_PDD_ANT
 EXEC [dbo].[RR_RELATORIO_DIARIO]	@data_FECHA_PDD,@data_FECHA_PDD_ANT



-- REFAZ OS DIARIOS
-- DE @data_INI  ATE @data_ref
-- @DT_AUX  CONTADOR
DECLARE @DT_AUX SMALLDATETIME
SET @DT_AUX = @data_INI

select @data_FECHA_PDD,@data_FECHA_PDD_ANT
select @DT_AUX, @data_ref


WHILE @DT_AUX<= @data_ref
BEGIN
	EXEC [dbo].[RR_RATING_PROJETADO]	@DT_AUX, @data_FECHA_PDD, @data_INI, @DT_AUX

	-- EXEC [dbo].[RR_CALCULO_diario]  '2014-05-03',  '2014-03-31'
	EXEC [dbo].[RR_CALCULO_diario]		@DT_AUX , @data_FECHA_PDD

	-- EXEC [dbo].[RR_RELATORIO_DIARIO]  '2014-05-03',  '2014-03-31'
	EXEC [dbo].[RR_RELATORIO_DIARIO]	@DT_AUX , @data_FECHA_PDD

	SET @DT_AUX = DATEADD(DD,1,@DT_AUX)
END


END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

