
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
--use SF_relatorios
go

-- ESTAS PROCS AINDA ESTAO NA HOMOLOGACAO
-- USAM DADOS DOS BANCOS	BACENSANTANAMicroCredito E	CDCSANTANAMicroCredito

-- USAR DATA DE FECHAMENTO DO MES NO FUNÇÃO - ULTIMO DIA UTIL DO MES.
-- EX FEV-14	'2014-02-28'

EXEC [dbo].[PDD_CARGA] '2014-02-28'


-- SE FOR NECESSARIO REPROCESSAR A PDD E A CARGA
EXEC [dbo].[PDD_RECARGA] '2014-02-28'


-- EXECUTAR OS CALCULOS DO RELATORIO ROLLRATE DO MES
 EXEC [dbo].[RR_CALCULO]  '2014-02-28'


-- MONTAR OS RESULTADOS DO RELATORIO ROLLRATE DO MES
 EXEC [dbo].[RR_RELATORIO] '2014-02-28'


-- APRESENTAR OS DADOS
SELECT * FROM RR_ROLLRATE_RPT ORDER BY DT_FECHA DESC, ORDEM_LINHA ASC

-- marco
-- EXECUTAR OS CALCULOS DO RELATORIO ROLLRATE DO MES
 EXEC [dbo].[RR_CALCULO]  '2014-03-31'
-- MONTAR OS RESULTADOS DO RELATORIO ROLLRATE DO MES
 EXEC [dbo].[RR_RELATORIO] '2014-03-31'
-- APRESENTAR OS DADOS
SELECT * FROM RR_ROLLRATE_RPT ORDER BY DT_FECHA DESC, ORDEM_LINHA ASC
