USE [Sig]
GO
-- PROC producao 3m desconto  ********************************************************************************************************************************************************************************** 
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_DESCONTO_PRODUCAO' AND type = 'P')
   DROP PROCEDURE [dbo].SCR_DESCONTO_PRODUCAO

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        CREATE Procedure [dbo].[SCR_DESCONTO_PRODUCAO] (
        	@Dt_Referencia as smalldatetime, 
			@Relatorio as int) 
			
AS
Begin




			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO


			union all

			Select 
			'Daniel' OPERADOR,
			'SANSONE CORREIAS TRANSP FER MET LTDA' CEDENTE,	
			672916.45 MES_ANO_ANT,
			738605.01 MES_ANT,
			590.43 MES_ATUAL,
			-148170 DIF_MES,
			-20 PRC_DIF_MES,
			-82481.54 DIF_ANO,
			-12 PRC_DIF_ANO

			 

End