USE [SIG]
GO

drop Procedure [dbo].[SCR_DESCONTO_80_20]
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        CREATE Procedure [dbo].[SCR_DESCONTO_80_20] (
        	@Dt_Referencia as smalldatetime, 
			@Relatorio as int) 
			
AS
Begin



			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE

			 union all

			Select 
			 1 SEQ,	
			 1.3 PRC,	
			 'Santana' OPERADOR,	
			 'Recorrente' FREQ,	
			 'Operando' STATUS,	
			 'WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA' CEDENTE,	
			 698621 RISCO_DESCONTO,	
			 0 RISCO_FIDC,	
			 904694 RISCO_GIRO,	
			 1603314 RISCO_TTL,	
			 13 PRC_REPRES,	
			 13 PRC_REPRES_ACUMUL,	
			 3.3 TAXA,	
			 'A' RATING_MERCADO_M3,	
			 'A' RATING_MERCADO_M2,	
			 'B' RATING_MERCADO_M1,	
			 8400 SCORE


End