USE [SIG]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROC producao 80 20 desconto  ********************************************************************************************************************************************************************************** 
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_DESCONTO_80_20' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_DESCONTO_80_20]

GO

-- PROC producao 80 20 desconto  ********************************************************************************************************************************************************************************** 
        CREATE Procedure [dbo].[SCR_DESCONTO_80_20] (
        	@DATA_Ref    as smalldatetime, 
			@Relatorio   as int) 
			
AS
Begin

/*
[SCR_DESCONTO_80_20] '20170331',1
[SCR_DESCONTO_80_20] '20170331',3

SEQ	PRC	OPERADOR	FREQ	STATUS	CEDENTE	RISCO_DESCONTO	RISCO_FIDC	RISCO_GIRO	RISCO_TTL	PRC_REPRES	PRC_REPRES_ACUMUL	TAXA	RATING_MERCADO_M3	RATING_MERCADO_M2	RATING_MERCADO_M1	SCORE
1	1.3	Santana	Recorrente	Operando	WISECASE IND. E COMERCIO DE ELETRÔNICO LTDA	698621	0	904694	1603314	13	13	3.3	A	A	B	8400

DROP TABLE DESCONTO_PRODUCAO_80_20 

create TABLE DESCONTO_PRODUCAO_80_20 (
data_ref DATETIME,
SEQ	INT,
PRC	FLOAT,
OPERADOR	VARCHAR(200),
FREQ		VARCHAR(50),
STATUS		VARCHAR(50),
codCEDENTE	VARCHAR(50),
CEDENTE		VARCHAR(200),
CPFCNPJ		VARCHAR(50),
RISCO_DESCONTO	FLOAT,
RISCO_FIDC		FLOAT,
RISCO_GIRO		FLOAT,
RISCO_TTL		FLOAT,
PRC_REPRES		FLOAT,
PRC_REPRES_ACUMUL	FLOAT,
TAXA	FLOAT,
RATING_MERCADO_M3	VARCHAR(5),	
RATING_MERCADO_M2	VARCHAR(5),	
RATING_MERCADO_M1	VARCHAR(5),	
SCORE VARCHAR(5),
COD_OPERADOR VARCHAR(20)	)

*/

-- limpa  
delete from DESCONTO_PRODUCAO_80_20 where data_ref=@data_ref  
  
  
-- carrega 80 20 PRODUCAO
insert DESCONTO_PRODUCAO_80_20  (
data_ref ,		SEQ	,		PRC	,		OPERADOR,	FREQ		,STATUS		,
codCEDENTE	,CEDENTE	,CPFCNPJ,
RISCO_DESCONTO, RISCO_FIDC,	RISCO_GIRO,	RISCO_TTL,	PRC_REPRES	,PRC_REPRES_ACUMUL,
TAXA	,		RATING_MERCADO_M3	,	RATING_MERCADO_M2	,	 RATING_MERCADO_M1	,	
SCORE 	,COD_OPERADOR)

select	DISTINCT
		@data_ref,  
		0,	0.0,
  		Agente,		0.0,	'', 
		CODCLI,  '','',		-- cedente
		SUM(CASE WHEN VEICULO<>'FIDC' THEN  VLR_PRESENTE ELSE 0.0 END) , 
		SUM(CASE WHEN VEICULO='FIDC'  THEN  VLR_PRESENTE ELSE 0.0 END) , 
		0.0, 0.0, 0.0, 0.0,
		0.0, '','','','',AGENTE
--		declare @data_ref datetime set @data_ref='20160131'  select *
FROM	COMERCIAL_PRODUCAO (NOLOCK)  
 WHERE	DT_FECHA = @data_ref  
	AND PRODUTO='D'	
	AND	VLR_OP > 0.0
	AND VEICULO NOT IN ('ADIANTA') -- SEM ADIANTA, CESSAO
GROUP BY AGENTE  , CODCLI

-- CPFCNPJ DO CEDENTE DO NETFACTOR
IF DATEPART(YYYY,@data_ref) >= 2017 
BEGIN
		-- DECLARE @data_ref DATETIME SET @data_ref ='20170331'
		UPDATE	DESCONTO_PRODUCAO_80_20  
			SET	CPFCNPJ = pesCNPJCPF
		FROM	NETFACTOR..nfCedente (NOLOCK) 
		 WHERE	DATA_REF = @data_ref  
			AND CODCEDENTE = CEDCODIGO
		-- NOME DO CEDENTE
		UPDATE	DESCONTO_PRODUCAO_80_20  
			SET	CEDENTE = pesNOME
		FROM	NETFACTOR..nfPESSOA (NOLOCK) 
		 WHERE	DATA_REF = @data_ref  
			AND CPFCNPJ  = PesCNPJCPF 
END

-- insere CG na producao   ***************** CG NO FUNCAO CPF
--	 DECLARE @data_ref DATETIME SET @data_ref = '20170331' 
UPDATE			DESCONTO_PRODUCAO_80_20
		SET		RISCO_GIRO = P.VLR  -- VLR PRESENTE DO DESCONTO + CG
		FROM	(SELECT		CODCLI,  SUM(VLR_PRESENTE)  AS VLR
					FROM	COMERCIAL_PRODUCAO (NOLOCK) 
				 WHERE		DT_FECHA =  @data_ref    AND PRODUTO in ('CG')	-- CG
					AND		VLR_OP > 0.0	 
				 GROUP BY   CODCLI	) AS P
		 WHERE	DESCONTO_PRODUCAO_80_20.DATA_REF  = @data_ref  
			AND DESCONTO_PRODUCAO_80_20.CPFCNPJ   = CODCLI	   
-- select * FROM	DESCONTO_PRODUCAO_80_20 (NOLOCK) WHERE	DaTa_ref =  '20170331' 

-- INSERE OS NÃO LOCALIZADOS CG NO RELATORIO  *********** CG DO FUNCAO
insert DESCONTO_PRODUCAO_80_20  (
data_ref ,		SEQ	,		PRC	,		OPERADOR,	FREQ		,STATUS		,
codCEDENTE	,CEDENTE	,CPFCNPJ,
RISCO_DESCONTO, RISCO_FIDC,	RISCO_GIRO,	RISCO_TTL,	PRC_REPRES	,PRC_REPRES_ACUMUL,
TAXA	,		RATING_MERCADO_M3	,	RATING_MERCADO_M2	,	 RATING_MERCADO_M1	,	
SCORE ,COD_OPERADOR	)

select	DISTINCT
		@data_ref,  
		0,	0.0,
  		12,		0.0,	'', 
		'99999',  
		( SELECT  'cg '+clNomeCli	FROM	CDCSANTANAMicroCredito..Cclie O (NOLOCK) 
				where clcodcli=CODCLI ),  -- CLIENTE DO FUNCAO
		CODCLI,		-- cedente
		0.0 , 0.0, 
		VLR, 0.0, 0.0, 0.0,
		0.0, '','','','',12 -- SANTANA AJUSTE 2018
/*select	DISTINCT
		-- SANTANA OPERADOR CG PRECISA AJUSTAR ********** COD_CEDENTE,CEDENTE,
		@data_ref,  12,  CODCLI,  '99999',--'CG FUNCAO',
		( SELECT  'cg '+clNomeCli	FROM	CDCSANTANAMicroCredito..Cclie O (NOLOCK) 
			where clcodcli=CODCLI ),  -- CLIENTE DO FUNCAO
		VLR  -- VLR PRESENTE DO DESCONTO	
*/
FROM	(
--		declare @data_ref datetime set @data_ref='20170331' 
			SELECT		CODCLI,  SUM(VLR_PRESENTE) AS VLR -- VLR PRESENTE DO DESCONTO
			FROM	COMERCIAL_PRODUCAO (NOLOCK)  
			 WHERE	DT_FECHA = @data_ref  AND PRODUTO='CG'	AND	VLR_OP > 0.0	
			GROUP BY  CODCLI ) AS PROD
 	--	INSERE OS NAO LOCALIZADOS
WHERE   CODCLI	   NOT IN (SELECT DISTINCT CPFCNPJ FROM DESCONTO_PRODUCAO_80_20 (NOLOCK)
							WHERE	DATA_REF  = @data_ref  )
-- CALCULA RISCO TTL
UPDATE			DESCONTO_PRODUCAO_80_20
		SET		RISCO_TTL = ISNULL(RISCO_GIRO,0.0) + ISNULL(RISCO_FIDC,0.0) + ISNULL(RISCO_DESCONTO,0.0)
WHERE	DATA_REF  = @data_ref


-- OPERADOR  ****************** NOME
-- DECLARE @data_ref DATETIME SET @data_ref ='20170331'
UPDATE		DESCONTO_PRODUCAO_80_20
	SET		OPERADOR	 = P.PESNOME
--  SELECT *
	FROM		NETFACTOR..nfAGENTE A (NOLOCK) 
	LEFT JOIN	NETFACTOR..nfPESSOA P (NOLOCK) 
		ON		A.PESCNPJCPF = P.PESCNPJCPF
	WHERE		Data_ref =@data_ref 
		AND		COD_OPERADOR=A.AGECODIGO  -- COD OPERADOR = AGENTE

-- RATING M2 DO CIL  EM 2018

-- MOSTRA NA TELA  CEDENTE
IF	@relatorio =1
BEGIN
	SELECT * FROM DESCONTO_PRODUCAO_80_20 (NOLOCK) WHERE DATA_REF = @data_ref
		 ORDER  BY CEDENTE
END  

-- MOSTRA NA TELA  OPERAD
IF	@relatorio =2
BEGIN
	SELECT * FROM DESCONTO_PRODUCAO_80_20 (NOLOCK) WHERE DATA_REF = @data_ref
		 ORDER  BY OPERADOR,CEDENTE
END  

-- MOSTRA NA TELA  RESUMO OPERAD
IF	@relatorio =3
BEGIN
--	SELECT * FROM DESCONTO_PRODUCAO_80_20 (NOLOCK) WHERE DATA_REF = @data_ref
	SELECT DATA_REF,1 AS SEQ,1 AS PRC,OPERADOR,'' AS FREQ ,'' AS STATUS,'' AS CODCEDENTE,'' AS CEDENTE,'' AS CPFCNPJ,
			SUM (RISCO_DESCONTO) AS RISCO_DESCONTO,
			SUM (RISCO_GIRO) AS RISCO_GIRO,
			SUM (RISCO_FIDC) AS RISCO_FIDC,
			SUM (RISCO_TTL) AS RISCO_TTL,
			0.0 AS PRC_REPRES, 0.0 ASPRC_REPRES_ACUMUL,
			0.0 AS TAXA, '' AS RATING_MERCADO_M3,
'' AS RATING_MERCADO_M2,'' AS RATING_MERCADO_M1,'' AS SCORE
	 FROM DESCONTO_PRODUCAO_80_20 (NOLOCK)
	WHERE DATA_REF = @data_ref
		 GROUP  BY  
DATA_REF,--CODCEDENTE,CEDENTE,CPFCNPJ,
OPERADOR  -- COD_OPER ,
		-- ORDER  BY OPERADOR
END

End