
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO


/* CRIAR TABELA AUXILIAR



*/

use SIG
--use SF_relatorios
go


/*

 EXEC [RR_RATING_PROJETADO] '2014-07-31','2014-06-30','2014-07-01','2014-07-31'
 SELECT * 	FROM rating_PROJETADO WHERE NVL_RISCO='B'
 EXEC [dbo].[RR_CALCULO_diario]  '2014-07-31','20140630'
 EXEC [dbo].[RR_RELATORIO_DIARIO]  '2014-07-31','20140630'


 EXEC [RR_RATING_PROJETADO] '2014-05-29','2014-04-30','2014-05-01','2014-05-29'
 SELECT * 	FROM rating_PROJETADO WHERE NVL_RISCO='B'

 EXEC [dbo].[RR_CALCULO_diario]  '2014-05-29','20140430'
 EXEC [dbo].[RR_RELATORIO_DIARIO]  '2014-05-29','20140430'


 EXEC [dbo].[RR_RATING_PROJETADO] '2014-02-27','2014-01-31','2014-02-01','2014-02-27'
 EXEC [dbo].[RR_CALCULO_diario]  '2014-02-27'

 EXEC [dbo].[RR_CALCULO_diario]  '2014-05-02','2014-03-31'


 EXEC [dbo].[RR_RATING_PROJETADO] '2014-03-20','2014-02-28','2014-03-01','2014-03-20'
 EXEC [dbo].[RR_CALCULO_diario]  '2014-03-20'

 EXEC [dbo].[RR_RATING_PROJETADO] '2014-03-30','2014-02-28','2014-03-01','2014-03-30'
 EXEC [dbo].[RR_CALCULO_diario]  '2014-03-30'

*/

-- DELETE FROM RR_ROLLRATE_DIA WHERE DT_FECHA='2014-05-02'
-- SELECT * FROM RR_ROLLRATE_DIA WHERE RATING='HH'
-- SELECT * FROM RATING_HISTORICO WHERE NVL_RISCO='HH'

-- SELECT * FROM RR_ROLLRATE WHERE DT_FECHA IN ('2013-03-20','2013-03-30')
-- DELETE FROM RR_ROLLRATE WHERE DT_FECHA IN ('2013-03-20','2013-03-30')

-- SELECT * FROM RR_AUX_CONTRATO_2M WHERE DT_FECHA IN ('2013-03-20','2013-03-30')

-- SELECT * FROM RR_PRJ_CONTRATO_2M WHERE DT_FECHA ='2014-03-20' AND nvl_risco_ANT='A' and rola=1

-- SELECT * FROM RR_PRJ_CONTRATO_2M WHERE DT_FECHA ='2014-02-27' AND nvl_risco_ANT='A' and rola=1
-- SELECT * FROM RATING_HISTORICO WHERE DT_FECHA ='2014-01-31' AND NVL_RISCO='A' 
-- SELECT * FROM RR_PRJ_CONTRATO_2M WHERE DT_FECHA ='2014-02-27' AND NUM_OPE='865001130A'
-- SELECT OPNROPER2,* FROM CDCSANTANAMicroCredito..COPER P (NOLOCK) WHERE OPNROPER='865001130'

-- SELECT OPNROPER2,* FROM CDCSANTANAMicroCredito..COPER P (NOLOCK) WHERE OPNROPER='612062229'
-- SELECT OPNROPER2,* FROM CDCSANTANAMicroCredito..COPER P (NOLOCK) WHERE OPcodCLI='28887356874'
-- SELECT * FROM RR_PRJ_CONTRATO_2M WHERE DT_FECHA ='2014-03-20' AND NUM_OPE='612062229'

-- SELECT * FROM RATING_HISTORICO WHERE DT_FECHA ='2014-04-30' AND atraso>0

-- SELECT * FROM RATING_HISTORICO WHERE DT_FECHA ='2014-01-31' AND NUM_OPE='865001130'
-- SELECT * FROM SF_RELATORIOS2..ECLAS_JANEIRO WHERE CSNROPER ='865001130'
-- NVL A ATRASO GDE		104 CONTRATOS
-- SELECT * FROM RATING_HISTORICO WHERE DT_FECHA ='2014-01-31' AND NVL_RISCO='A'  AND NUM_OPE='63208633'  AND ATRASO>300
-- SELECT * FROM CDCSANTANAMicroCredito..CPARC P (NOLOCK) WHERE PANROPER='63208633'


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'RR_CALCULO_diario' AND type = 'P')
   DROP PROCEDURE [dbo].[RR_CALCULO_diario]
GO


CREATE Procedure [dbo].[RR_CALCULO_diario] (@data_ref1 as datetime, @data_ANT1 AS SMALLDATETIME) AS
BEGIN

DECLARE @data_ref AS VARCHAR(8)
SET @data_ref =CONVERT(VARCHAR(8),@data_ref1,112)
DECLARE @data_ANT AS VARCHAR(8)
SET @data_ANT =CONVERT(VARCHAR(8),@data_ANT1,112)


/*  PARAMETRO FECHAMENTO PDD

DECLARE @data_ANT AS SMALLDATETIME

-- PROCURA DATAREF	O ULTIMO FECHAMENTO
-- DECLARE @data_ANT AS SMALLDATETIME, @data_ref AS SMALLDATETIME SET @data_ref ='2014-03-20'
SELECT	@data_ANT=MAX(DT_FECHA)
FROM	RATING_HISTORICO (NOLOCK)	
WHERE 	DT_FECHA <= @data_ref  -- MES ATUAL
-- SELECT @DATA_ANT
*/

-- DATA DE INICIO DO MES ATUAL
DECLARE @data_INI AS VARCHAR(8)
-- DIA 1 DO MES DO MES DE REF
-- DECLARE @data_INI AS SMALLDATETIME, @data_ref AS SMALLDATETIME SET @data_ref ='2014-03-20'
SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
--SELECT @DATA_INI

-- VERIFICA SE A DATAREF	SE É FECHAMENTO
/*
IF	@data_ANT <> @data_ref
BEGIN


-- MES ATUAL CALCULO PROJETADO
-- VERIFICA PAGAMENTOS 
-- TABELA	RATING_PROJETADO
		EXEC [dbo].[RR_RATING_PROJETADO] @data_ANT, @data_ref, @data_INI, @data_ref

*/
-- SELECT  CONVERT(CHAR(4),DATEPART(YEAR,GETDATE()))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,GETDATE()))),2)+'01'

-- SELECT * FROM RR_PRJ_CONTRATO_2M  where dt_fecha='20140505' and nvl_risco='aa'
-- SELECT * FROM rating_projetado  where dt_fecha='20140505' and nvl_risco='aa'

-- APAGA PROCESSAMENTO ANTERIOR -- 2M ANTES -- HOUSEKEEPING******************
delete  from RR_PRJ_CONTRATO_2M 
	WHERE	 DT_FECHA < DATEADD(M,-2,@data_ref)
delete  from RR_ROLLRATE_DIA
	WHERE	 DT_FECHA < DATEADD(M,-3,@data_ref)

-- APAGA PROCESSAMENTO ANTERIOR
delete  from RR_PRJ_CONTRATO_2M 
-- declare @data_ref smalldatetime set @data_ref = '20140502' select *  from RR_PRJ_CONTRATO_2M 
-- declare @data_ref varchar(8) set @data_ref = '20140502' select *  from RR_PRJ_CONTRATO_2M 
	WHERE	 CONVERT(varchar(8),DT_FECHA,112) = @data_ref
	


-- CARREGA DADOS ATUAIS
-- DECLARE @data_ref  SMALLDATETIME  SET @data_ref ='2014-03-20'
INSERT	RR_PRJ_CONTRATO_2M
	(	
		DT_FECHA		,   --SMALLDATETIME,
		NUM_OPE			,	--varchar(50),
		AGENTE			,	-- VARCHAR(6)
		COBRADORA		,	-- VARCHAR(6)
		NVL_RISCO		,	--varchar(50),
		NVL_RISCO_ANT	,	--varchar(50),
		SLD_INSCRITO	,	--float,
		SLD_INSCRITO_ANT,	--float,
		Atraso			,	--int,
		Atraso_ANT		,	--int,

		PARC		,	--INT,
		PARC_ANT	,	--INT,

		VENCTO		,	--SMALLDATETIME,
		VENCTO_ANT	,	--SMALLDATETIME,

--		INICIO		,	--INT,
		ENTRA		,	--int,
		RECUPERA	,	--int,
		ROLA		)	--int	 )
SELECT	@data_ref,
		NUM_OPE,
		AGENTE,
		COBRADORA,
		NVL_RISCO, -- RISCO ATUAL
		 -- RISCO NO MES ANTERIOR
		'',

		SLD_INSCRITO,
		0.0,
		ATRASO,
		0,
		parc, 0,
		dtVencParc,'',
		--0,
		0,0,0
FROM
		RATING_PROJETADO (NOLOCK)
where	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref  -- MES ATUAL
--		RATING_HISTORICO (NOLOCK)
-- SP_HELP RATING_PROJETADO
-- SELECT * FROM RATING_PROJETADO WHERE DT_FECHA='2014-02-27' AND NVL_RISCO_ANT IS NULL

-- INCLUIR REGISTROS DO AA Q FORAM LIQUIDADOS NO MES ATUAL DE FECHAMENTO
-- liquidados 246
-- DECLARE @data_ref  SMALLDATETIME  SET @data_ref ='2014-05-30'
/*
INSERT	RR_PRJ_CONTRATO_2M
	(	
		DT_FECHA		,   --SMALLDATETIME,
		NUM_OPE			,	--varchar(50),
		AGENTE			,	-- VARCHAR(6)
		COBRADORA		,	-- VARCHAR(6)
		NVL_RISCO		,	--varchar(50),
		NVL_RISCO_ANT	,	--varchar(50),
		SLD_INSCRITO	,	--float,
		SLD_INSCRITO_ANT,	--float,
		Atraso			,	--int,
		Atraso_ANT		,	--int,

		PARC		,	--INT,
		PARC_ANT	,	--INT,

		VENCTO		,	--SMALLDATETIME,
		VENCTO_ANT	,	--SMALLDATETIME,

--		INICIO		,	--INT,
		ENTRA		,	--int,
		RECUPERA	,	--int,
		ROLA		)	--int	 )
SELECT	@data_ref,
		mes_ant.NUM_OPE,
		mes_ant.AGENTE,
		mes_ant.COBRADORA,
		NULL,	-- RISCO ATUAL
		'AA',	-- RISCO NO MES ANTERIOR
		

		0.0,  -- SALDO ATUAL ZERADO
		mes_ant.SLD_INSCRITO,  -- SALDO ANTERIOR
		NULL,  -- ATRASO ATUAL
		mes_ant.ATRASO, 

		0,mes_ant.parc, 
		'',mes_ant.dtVencParc,
		--0,
		0,0,0
FROM
	 ( select *		from rating_historico 	WHERE	 DT_FECHA = @data_ANT  --'20140430'
					and  NVL_RISCO = 'A' and atraso<=5) as mes_ant
LEFT JOIN
	 ( select *  
		from RR_PRJ_CONTRATO_2M 	WHERE	 DT_FECHA =@data_REF  ---'20140530'
				 and  NVL_RISCO_ANT = 'AA') as mes
	on  mes_ant.num_ope = mes.num_ope
where  mes.num_ope is null

USE SIG

SELECT * FROM AUX_RATING -- CONTRATO_2M
SELECT * FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = '20160731' @data_ANT

CREATE INDEX AUX_RATING_IDX1 ON AUX_RATING (DT_REF,NUM_OPE)
CREATE INDEX AUX_RATING_IDX2 ON AUX_RATING (NUM_OPE)
*/

-- ALTERADO 22/8/16 PARA MELHORAR A PERFORMANCE
TRUNCATE	TABLE AUX_RATING
INSERT		AUX_RATING 
SELECT *	FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = @data_ANT


-- LINHAS DO MES ATUAL DO FECHAMENTO
-- atualiza OS CAMPOS DO MES ANTERIOR
-- DECLARE @data_ref SMALLDATETIME, @data_ANT SMALLDATETIME SET @DATA_REF='2014-03-20' SET @DATA_ANT='2014-02-28'
UPDATE	RR_PRJ_CONTRATO_2M
SET		
		NVL_RISCO_ANT	=H.NVL_RISCO,
		SLD_INSCRITO_ANT=H.SLD_INSCRITO,--float,		
		Atraso_ANT		=H.Atraso,		--int,
		PARC_ANT		=H.PARC,		--INT,
		VENCTO_ANT		=H.dtVencParc	--SMALLDATETIME,
FROM	AUX_RATING  AS H  (NOLOCK) -- (SELECT * FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = @data_ANT ) 
WHERE	CONVERT(VARCHAR(8),RR_PRJ_CONTRATO_2M.DT_FECHA,112) = @data_ref  -- MEIO DO MES
--   AND	CONVERT(VARCHAR(8),H.DT_FECHA,112)  = @data_ANT					 -- MES ANTERIOR
   AND  RR_PRJ_CONTRATO_2M.NUM_OPE	 = H.NUM_OPE


-- RENEGOCIADOS NUM OPE DIFERENTE, FINAL A
UPDATE	RR_PRJ_CONTRATO_2M
SET		
		NVL_RISCO_ANT	=H.NVL_RISCO,
		SLD_INSCRITO_ANT=H.SLD_INSCRITO,--float,		
		Atraso_ANT		=H.Atraso,		--int,
		PARC_ANT		=H.PARC,		--INT,
		VENCTO_ANT		=H.dtVencParc	--SMALLDATETIME,
FROM	AUX_RATING  AS H  (NOLOCK) -- (SELECT * FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = @data_ANT ) 
WHERE	CONVERT(VARCHAR(8),RR_PRJ_CONTRATO_2M.DT_FECHA,112) = @data_ref
	AND RIGHT(RR_PRJ_CONTRATO_2M.NUM_OPE,1)='A'		-- ATUAL RENEGOCIADO
	AND RR_PRJ_CONTRATO_2M.NVL_RISCO_ANT =''			-- SEM RATING ANTERIOR
--   AND	CONVERT(VARCHAR(8),H.DT_FECHA,112)  = @data_ANT		-- MES ANTERIOR
	--  CONTRATO ANTERIOR SEM A
   AND  LEFT(RR_PRJ_CONTRATO_2M.NUM_OPE,LEN(RR_PRJ_CONTRATO_2M.NUM_OPE)-1)	 = H.NUM_OPE

-- RENEGOCIADOS NUM OPE DIFERENTE, FINAL B  = 2A RENEGOCIACAO
UPDATE	RR_PRJ_CONTRATO_2M
SET		
		NVL_RISCO_ANT	=H.NVL_RISCO,
		SLD_INSCRITO_ANT=H.SLD_INSCRITO,--float,		
		Atraso_ANT		=H.Atraso,		--int,
		PARC_ANT		=H.PARC,		--INT,
		VENCTO_ANT		=H.dtVencParc	--SMALLDATETIME,
FROM	AUX_RATING  AS H  (NOLOCK) -- (SELECT * FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = @data_ANT ) 
WHERE	CONVERT(VARCHAR(8),RR_PRJ_CONTRATO_2M.DT_FECHA,112) = @data_ref
	AND RIGHT(RR_PRJ_CONTRATO_2M.NUM_OPE,1)='B'		-- ATUAL RENEGOCIADO
	AND RR_PRJ_CONTRATO_2M.NVL_RISCO_ANT =''			-- SEM RATING ANTERIOR
--   AND	CONVERT(VARCHAR(8),H.DT_FECHA,112)  = @data_ANT		-- MES ANTERIOR
	--  CONTRATO ANTERIOR RENEGOCIADO A
   AND  LEFT(RR_PRJ_CONTRATO_2M.NUM_OPE,LEN(RR_PRJ_CONTRATO_2M.NUM_OPE)-1)+'A'	 = H.NUM_OPE

-- RENEGOCIACAO ANTIGA
-- RENEGOCIADOS NUM OPE DIFERENTE, VER CODCLI = E DTLIQ ANT = DTBASE DO RENEGOCIADO
UPDATE	RR_PRJ_CONTRATO_2M
SET		
		NVL_RISCO_ANT	=H.NVL_RISCO,
		SLD_INSCRITO_ANT=H.SLD_INSCRITO,--float,		
		Atraso_ANT		=H.Atraso,		--int,
		PARC_ANT		=H.PARC,		--INT,
		VENCTO_ANT		=H.dtVencParc	--SMALLDATETIME,
FROM	AUX_RATING  AS H  (NOLOCK), -- (SELECT * FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = @data_ANT ) 
		CDCSANTANAMicroCredito..COPER O (NOLOCK)		
WHERE	CONVERT(VARCHAR(8),RR_PRJ_CONTRATO_2M.DT_FECHA,112) = @data_ref
	AND RR_PRJ_CONTRATO_2M.NVL_RISCO_ANT =''		-- SEM RATING ANTERIOR
--   AND	CONVERT(VARCHAR(8),H.DT_FECHA,112)  = @data_ANT						-- MES ANTERIOR
	AND RR_PRJ_CONTRATO_2M.NUM_OPE=O.OPNROPER  		-- ATUAL RENEGOCIADO LOCALIZAR A OPERACAO
	AND O.OPCODOP  IN (720,730,731,741,742,751,752,  800,860,861,862,863,890,891,892,893,894  )  -- RENEGOCIACAO
/*			--		********* CORRECAO EM 03/10/16 *************** CONSIDERAR OS CODIGOS DO CADASTRO DE PARAMETROS
TODOS VEIC
			AND O.OPCODOP  IN (SELECT	M.COD_MODA
								FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
								WHERE	M.COD_PROD = T.COD_PROD 
									AND T.COD_MODALIDADE = M.COD_MODALIDADE 
									AND T.COD_PROD IN ( 'R','V')  
									-- SEM RENEG CP, SEM RENEG PJ
									AND T.COD_MODALIDADE NOT IN (14, 87) ) )  
*/
	--  LOCALIZAR CONTRATO ANTERIOR NO HISTORICO  RENEGOCIADO 
	AND H.NUM_OPE= O.OPNROPER2  		-- OPERACAO ANTERIOR
	AND	H.CODCLI = O.OPCODCLI			-- MESMO CODIGO DE CLIENTE

-- AJUSTAR O AA NO CAMPO ANTERIOR
-- select * from RR_PRJ_CONTRATO_2M where dt_fecha='20140430'
UPDATE	RR_PRJ_CONTRATO_2M
SET		NVL_RISCO_ANT ='AA'
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND	NVL_RISCO_ANT = 'A'  -- CUIDADO, HA RENEGOCIADOS EM DIA. DEVE MANTER RATING ANTERIOR, DO CONTRATO ORIGINAL.
	AND	ATRASO_ANT <= 5
--	AND RIGHT(RR_PRJ_CONTRATO_2M.NUM_OPE,1) NOT IN ('A','B')	-- SEM OS RENEGOCIADOS, DEVEM FICAR NO RATING ORIGINAL


/* -- REPETIDO
-- AJUSTAR O AA NO CAMPO ANTERIOR  EM 101 CONTRATOS EM A
-- SELECT COUNT(*) FROM RR_PRJ_CONTRATO_2M  R	(NOLOCK) 		WHERE	 DT_FECHA = '20140531' AND NVL_RISCO_ANT='A' AND ATRASO_ANT <=5 		
UPDATE	RR_PRJ_CONTRATO_2M
SET		NVL_RISCO_ANT ='AA'
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND NVL_RISCO_ANT='A' AND ATRASO_ANT <=5 		
	 -- CUIDADO, HA RENEGOCIADOS EM DIA. DEVE MANTER RATING ANTERIOR, DO CONTRATO ORIGINAL.
	 -- CLASSIFICACAO ANTERIOR JAH EH A    OK!
*/

-- NOVOS CONTRATOS VENCIDOS NO MES P1
-- SELECT * FROM RR_PRJ_CONTRATO_2M WHERE DT_FECHA ='20140531' AND NVL_RISCO='AA' _ANT IS NULL



-- AJUSTAR O AA NO CAMPO ATUAL
/*
UPDATE	RR_PRJ_CONTRATO_2M
SET		NVL_RISCO ='AA'
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND	ATRASO <= 5
	AND RIGHT(RR_PRJ_CONTRATO_2M.NUM_OPE,1) NOT IN ('A','B')	-- SEM OS RENEGOCIADOS, DEVEM FICAR NO RATING ORIGINAL
*/


-- alterado 10-DEZ-2014 *************************** AJUSTE DO FECHAMENTO DE NOV
-- select * from RR_AUX_CONTRATO_2M where dt_fecha='20141130' and NUM_OPE='612091301'
IF  @data_ref = '20141130'
BEGIN
	UPDATE		RR_PRJ_CONTRATO_2M 
		SET		NVL_RISCO_ANT = 'H' 
		WHERE	NUM_OPE IN ('612091301','61246421A','862000198A')
END





-- verifica ENTRADAS
-- ENTRADAS NOVAS
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=1
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND	NVL_RISCO_ANT =''
-- VERIFICA ENTRADAS DE FAIXAS SUPERIORES
-- ex: estava no C e foi para A: 
-- RECUPERA EM C e Entrada em A=nvl_risco
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=1
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND	NVL_RISCO_ANT > NVL_RISCO
	AND	NVL_RISCO_ANT <> ''
    and nvl_risco_ant <>'aa' -- tratado depois 

-- VERIFICA ENTRADAS DE FAIXAS INFERIORES
-- ex: estava em A e foi para B : rola em A, entra em B
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=1
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND	NVL_RISCO_ANT < NVL_RISCO
	AND	NVL_RISCO_ANT <> ''
	and nvl_risco_ant <>'aa' --  tratado separadamente
-- RECUPERA EM A e Entrada em AA=nvl_risco ABAIXO



-- VERIFICA ROLA
-- ex: estava em A e foi para B : rola em A, entra em B
-- ROLAGEM NO NIVEL ANTERIOR	*************
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=1,	ROLA=1
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND	NVL_RISCO_ANT < NVL_RISCO
	AND	NVL_RISCO_ANT <> ''
	and nvl_risco_ant<>'aa' -- aa trata abaixo

-- ROLAGEM NO NIVEL ANTERIOR AA	*************
-- EX   55002452  DO AA P/  A
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=1,
		ROLA=1,
		RECUPERA=0
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND	NVL_RISCO_ANT = 'AA'  -- M-1 0 A  4D
	AND NVL_RISCO	  = 'A'   -- M   5 A 15D
-- DE AA PARA B, ETC
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=1,
		ROLA=1,
		RECUPERA=0
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND	NVL_RISCO_ANT = 'AA'   -- M-1 0 A  4D
	AND NVL_RISCO	  >= 'B'   -- M   5 A 15D

-- ROLA EM A e Entrada em AA=nvl_risco
-- B E OUTRAS
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=1,
		ROLA=1,
		recupera=0
WHERE	DT_FECHA = @data_ref
	AND	NVL_RISCO_ANT ='A'
	AND NVL_RISCO	  >='B'	  -- TXT A PARA B OU >


-- RECUPERA DE A PARA AA
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=1,
		ROLA=0,
		recupera=1
WHERE	DT_FECHA = @data_ref
	AND	NVL_RISCO_ANT ='A'
	AND NVL_RISCO	  ='Aa'	  -- TXT A < AA 


-- VERIFICA RECUPERACAO
-- ex: estava em B e foi para A: recupera em B, entra em A
-- RECUPERACAO NO NIVEL ANTERIOR  ************
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=1, RECUPERA=1
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND	NVL_RISCO_ANT > NVL_RISCO
	AND NVL_RISCO_ANT NOT IN ('A') -- TRATAR A PARTE
-- RECUPERA NO NIVEL ANTERIOR AA	*************
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=1,
		ROLA=0,
		RECUPERA=1
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND	NVL_RISCO_ANT = 'A'    -- M-1 5 A 15D
	AND NVL_RISCO	  = 'AA'   -- M   0 A  4D
-- DE OUTRAS FXS B,ETC   PARA A
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=1,
		ROLA=0,
		RECUPERA=1
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND	NVL_RISCO_ANT >= 'B'    -- M-1 5 A 15D
	AND NVL_RISCO	  = 'A'   -- M   0 A  4D
-- RECUPERA NO NIVEL ANTERIOR AA	*************
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=0,
		ROLA=0,
		RECUPERA=1
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND	NVL_RISCO_ANT = 'AA'  -- M-1 ATEH 5D
	AND NVL_RISCO	  IS NULL -- ALTERADO 11/6/14


-- ESTAVA NO AA E FOI PARA A , ROLOU=1, RECUPERA=0
-- SELECT * FROM RR_PRJ_CONTRATO_2M  R	(NOLOCK) 		WHERE	 DT_FECHA = '20140531' AND NVL_RISCO_ANT='AA' AND RECUPERA=1
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=1,
		ROLA=1,
		RECUPERA=0
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND	NVL_RISCO_ANT = 'AA'    -- M-1 5 A 15D
	AND NVL_RISCO	  = 'A'   -- M   0 A  4D


-- ALTERADO 16/6/2014 ************************************************
-- LIQUIDADOS NO MES
-- RECUPERACAO
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=0,
		ROLA=0,
		RECUPERA=1  -- LIQUIDACAO
FROM	CDCSANTANAMicroCredito..COPER O		(NOLOCK)
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND OPNROPER= NUM_OPE		-- CONTRATO
	AND OPDTLIQ IS NOT NULL     -- LIQUIDADO
	AND	OPDTLIQ <= @data_ref	-- NO PERIODO



-- HH TRATADO A PARTE  ************************* ALTERADO 258/7/14
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=1,
		ROLA=1,
		RECUPERA=0
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND	NVL_RISCO_ANT = 'H'    -- CARTEIRA
	AND NVL_RISCO	  = 'HH'   -- PREJUIZO

/*
UPDATE	RR_PRJ_CONTRATO_2M
SET		ENTRA=1,
		RECUPERA=1
WHERE	DT_FECHA = @data_ref
	AND	NVL_RISCO_ANT ='A'
	AND NVL_RISCO	  ='AA'	  -- TXT A < AA 
*/


-- **********************
-- AJUSTE RATING  DO FECHAMENTO (SEM AA) ANTERIOR
-- RECUPERACAO NO NIVEL ANTERIOR  ************
/*
UPDATE	RR_PRJ_CONTRATO_2M
SET		NVL_RISCO_ANT='AA'
WHERE	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref
	AND	NVL_RISCO_ANT = 'A'
	AND	ATRASO_ANT <= 5
	AND RIGHT(RR_PRJ_CONTRATO_2M.NUM_OPE,1) NOT IN ('A','B')	-- SEM OS RENEGOCIADOS, DEVEM FICAR NO RATING ORIGINAL
*/
-- SELECT * FROM RR_PRJ_CONTRATO_2M WHERE DT_FECHA='2014-01-31' AND NVL_RISCO_ANT='AA'


-- ATUALIZA OS DADOS DO CLIENTE
/*
RR_AUX_CONTRATO_2M
*/

-- LIMPA O RELATORIO ANTERIOR
DELETE FROM RR_ROLLRATE_DIA WHERE CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ref

-- *****************************************
-- CALCULA O RELATORIO
-- *****************
-- 1. SALDO INICIAL		********************* DO MES ANTERIOR
-- 1. SALDO INICIAL  FAIXA 1 AA  DE 0 A 4
-- SELECT * FROM RATING_HISTORICO	R	(NOLOCK)	WHERE   CONVERT(VARCHAR(8),DT_FECHA,112) = '20140430' AND NVL_RISCO='A'
-- 14795
-- ATRASO  OK MAS CLASSIFICA EM A
-- SELECT * FROM CDCSANTANAMicroCredito..CPARC P WHERE PANROPER='612139139'
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		--	AGENTE,	COBRADORA		VARCHAR(6),
		R.AGENTE,R.COBRADORA,
		1,1,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		0, 5, 'AA'
FROM	AUX_RATING  AS R  (NOLOCK) 
--		(SELECT * FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = @data_ANT ) AS R
--		RATING_HISTORICO	R	(NOLOCK)	--	ANTES COM DIFERENCA DEVIDO AO ATRASO
		--  RATING_HISTORICO	R	(NOLOCK)	--	ANTES COM DIFERENCA DEVIDO AO ATRASO
		--		WHERE  		ATRASO <= 5
		-- CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ANT  -- MES ANTERIOR
		-- AND	NVL_RISCO='AA'  -- RISCO DO FECHAMENTO --NAO TEM AA
where	
--		CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ANT  AND	 -- MES ANTERIOR	
		NVL_RISCO='A'  -- RISCO DO FECHAMENTO --NAO TEM AA
	AND ATRASO <= 5
	-- RR_PRJ_CONTRATO_2M  R	(NOLOCK)	
	--	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_REF  -- MES ATUAL
	--AND	NVL_RISCO_ANT='AA'
GROUP	BY R.AGENTE, R.COBRADORA

-- 1. SALDO INICIAL  FAIXA 1 A  DE 5 A 15
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		--	AGENTE,	COBRADORA		VARCHAR(6),
		R.AGENTE,R.COBRADORA,
		1,1,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		6, 14, 'A'
FROM	AUX_RATING  AS R  (NOLOCK) 
--FROM	(SELECT * FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = @data_ANT ) AS R
		--	RATING_HISTORICO	R	(NOLOCK)	
		--	AND		ATRASO BETWEEN 6 AND 15
		--	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ANT  -- MES ANTERIOR
		-- AND	NVL_RISCO='A'  -- RISCO DO FECHAMENTO PDD
where
		--	CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ANT  AND -- MES ANTERIOR
			NOT ATRASO <= 5		-- EXCLUI O AA
		AND	NVL_RISCO='A'		-- RISCO DO FECHAMENTO PDD

		--	RR_PRJ_CONTRATO_2M  R	(NOLOCK)	
		--		CONVERT(VARCHAR(8),DT_FECHA,112) = @data_REF  -- MES ATUAL
		--	AND	NVL_RISCO_ANT='A'  -- RATING ANTERIOR
GROUP	BY R.AGENTE, R.COBRADORA
-- *****************
-- 1. SALDO INICIAL  FAIXA 2 B  DE 15 A 30
INSERT RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,2,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		15, 30, 'B'
FROM	AUX_RATING  AS R  (NOLOCK) 
--FROM		(SELECT * FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = @data_ANT ) AS R
where	--CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ANT AND -- MES ANTERIOR
		NVL_RISCO='B'
--AND		ATRASO BETWEEN 15 AND 30
GROUP	BY R.AGENTE, R.COBRADORA
-- *****************
-- 1. SALDO INICIAL  FAIXA 3 C  DE 31 A 60
INSERT RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,3,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		31, 60, 'C'
FROM	AUX_RATING  AS R  (NOLOCK) 
--FROM		(SELECT * FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = @data_ANT ) AS R
where	-- CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ANT AND  -- MES ANTERIOR
		NVL_RISCO='C'
--AND		ATRASO BETWEEN 31 AND 60
GROUP BY 		R.AGENTE,R.COBRADORA

-- *****************
-- 1. SALDO INICIAL  FAIXA 4 D  DE 61 A 90
INSERT RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,4,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		61, 90, 'D'
FROM	AUX_RATING  AS R  (NOLOCK) 
--FROM	(SELECT * FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = @data_ANT ) AS R
		--RATING_HISTORICO	R	(NOLOCK)
where	--CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ANT  AND -- MES ANTERIOR
		NVL_RISCO='D'
--AND		ATRASO BETWEEN 61 AND 90
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 1. SALDO INICIAL  FAIXA 5 E  DE 91 A 120
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,5,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		91, 120, 'E'
FROM	AUX_RATING  AS R  (NOLOCK) 
--FROM	(SELECT * FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = @data_ANT ) AS R
		-- RATING_HISTORICO	R	(NOLOCK)
where	-- CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ANT AND  -- MES ANTERIOR
		NVL_RISCO='E'
--AND		ATRASO BETWEEN 91 AND 120
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 1. SALDO INICIAL  FAIXA 6 F  DE 121 A 150
INSERT RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,6,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		121, 150, 'F'
FROM	AUX_RATING  AS R  (NOLOCK) 
--FROM	(SELECT * FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = @data_ANT ) AS R
		--RATING_HISTORICO	R	(NOLOCK)
where	--CONVERT(VARCHAR(8),DT_FECHA,112) = @data_ANT  AND -- MES ANTERIOR
		NVL_RISCO='F'
--AND		ATRASO BETWEEN 121 AND 150
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 1. SALDO INICIAL  FAIXA 7 G  DE 151 A 180
INSERT RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,7,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		151, 180, 'G'
FROM	AUX_RATING  AS R  (NOLOCK) 
--FROM	(SELECT * FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = @data_ANT ) AS R
		--RATING_HISTORICO	R	(NOLOCK)
where	--DT_FECHA = @data_ANT  AND -- MES ANTERIOR
		NVL_RISCO='G'
--AND		ATRASO BETWEEN 151 AND 180
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 1. SALDO INICIAL  FAIXA 8 H  DE 181 A 360
INSERT RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,8,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		181, 359, 'H'
FROM	AUX_RATING  AS R  (NOLOCK) 
--FROM	(SELECT * FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = @data_ANT ) AS R
		--RATING_HISTORICO	R	(NOLOCK)
where	--DT_FECHA = @data_ANT  AND -- MES ANTERIOR
		NVL_RISCO='H'
--AND		ATRASO BETWEEN 181 AND 360
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 1. SALDO INICIAL  FAIXA 9 HH  ACIMA 360
INSERT RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,9,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		360, 99999, 'HH'
FROM	AUX_RATING  AS R  (NOLOCK) 
--FROM	(SELECT * FROM RATING_HISTORICO H1 (NOLOCK) WHERE 	DT_FECHA = @data_ANT ) AS R
		--RATING_HISTORICO	R	(NOLOCK)
where	--DT_FECHA = @data_ANT  AND -- MES ANTERIOR
		NVL_RISCO='HH'
--AND		ATRASO > 360
GROUP BY		R.AGENTE,R.COBRADORA




-- *****************************************
-- 2. ENTRADAS		********************* NO MES
-- *****************
-- 2. ENTRADAS	  FAIXA 1 AA  ATE 4
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		1, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		0, 5, 'AA'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	ENTRA = 1			  -- ENTRADA
	AND	NVL_RISCO='AA'
--	AND Atraso <= 4
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 1 A  ATE 15
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		1, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		6, 14, 'A'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	ENTRA = 1			  -- ENTRADA
	AND	NVL_RISCO='A'
--	AND Atraso <= 14
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 2 B  DE 15  A 30
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		2, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		15, 30, 'B'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	ENTRA = 1			  -- ENTRADA
	AND	NVL_RISCO='B'
--	AND Atraso	BETWEEN  15	AND 30
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 3 C  DE 31  A 60
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		3, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		31, 60, 'C'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ENTRA = 1				-- ENTRADA
	AND	NVL_RISCO='C'
--	AND Atraso	BETWEEN  31	AND 60
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 4 D  DE 61  A 90
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		4, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		61, 90, 'D'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ENTRA = 1				-- ENTRADA
	AND	NVL_RISCO='D'
--	AND Atraso	BETWEEN  61	AND 90
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 5 E  DE 91  A 120
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		5, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		91, 120, 'E'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ENTRA = 1				-- ENTRADA
	AND	NVL_RISCO='E'
--	AND Atraso	BETWEEN  91	AND 120
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 6 F  DE 121  A 150
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		6, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		121, 150, 'F'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ENTRA = 1				-- ENTRADA
	AND	NVL_RISCO='F'
--	AND Atraso	BETWEEN  121	AND 150
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 7 G  DE 151  A 180
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		7, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		151, 180, 'G'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ENTRA = 1				-- ENTRADA
	AND	NVL_RISCO='G'
--	AND Atraso	BETWEEN  151	AND 180
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 8 H  DE 181  A 360
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		8, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		181, 359, 'H'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ENTRA = 1				-- ENTRADA
	AND	NVL_RISCO='H'
--	AND Atraso	BETWEEN  181	AND 360
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 9 HH  ACIMA 360
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		9, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		360, 99999, 'HH'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ENTRA	 = 1			-- ENTRADA
	AND	NVL_RISCO='HH'
--	AND Atraso	 > 360
GROUP BY		C.AGENTE,C.COBRADORA

-- DIFERENÇA DE ENTRADA. RECALCULAR NO FINAL.



-- *****************************************
-- 3. RECUPERACAO	********************* NO MES
-- *****************
-- 3. RECUPERACAO	  FAIXA 1 AA  ATE 4
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		1, -- ORDEM FAIXA
		'A',
		'RECUPERACAO' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		0, 5, 'AA'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	RECUPERA = 1		  -- RECUPERACAO
	AND NVL_RISCO_ANT = 'AA'	  -- ESTAVA EM A
--	AND Atraso <= 14  -- NIVEL ATUAL
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 1 A  ATE 15
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		1, -- ORDEM FAIXA
		'A',
		'RECUPERACAO' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		6, 14, 'A'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	RECUPERA = 1		  -- RECUPERACAO
	AND NVL_RISCO_ANT = 'A'	  -- ESTAVA EM A
--	AND Atraso <= 15  -- NIVEL ATUAL
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 2 B  DE 15 A 30
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		2, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,		-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		15, 30, 'B'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	RECUPERA = 1  -- RECUPERACAO
	AND NVL_RISCO_ANT = 'B'	  -- ESTAVA EM B
--		AND Atraso BETWEEN 15 AND 30  -- NIVEL ATUAL
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 3 C   DE 31 A 60
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		3, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,		-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		31, 60, 'C'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	RECUPERA = 1  -- RECUPERACAO
	AND NVL_RISCO_ANT = 'C'	  -- ESTAVA EM C
--		AND Atraso BETWEEN 31 AND 60
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 4 D  DE 61 A 90
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		4, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,					-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		61, 90, 'D'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	RECUPERA = 1		  -- RECUPERACAO
	AND NVL_RISCO_ANT = 'D'	  -- ESTAVA EM D
--		AND Atraso BETWEEN 61 AND 90
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 5 E  DE 91 A 120
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		5, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,		-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		91, 120, 'E'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	RECUPERA = 1  -- RECUPERACAO
	AND NVL_RISCO_ANT = 'E'	  -- ESTAVA EM E
--		AND Atraso BETWEEN 91 AND 120
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 6 F  DE 121 A 150
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		6, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,		-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		121, 150, 'F'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	RECUPERA = 1			-- RECUPERACAO
	AND NVL_RISCO_ANT = 'F'		-- ESTAVA EM F
--		AND Atraso BETWEEN 121 AND 150
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 7 G  DE 151 A 180
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		7, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,		-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		151, 180, 'G'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	RECUPERA = 1			-- RECUPERACAO
	AND NVL_RISCO_ANT = 'G'		-- ESTAVA EM G
--		AND Atraso BETWEEN 15 AND 30
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 8 H  DE 181 A 360
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		8, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,		-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		181, 359, 'H'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	RECUPERA = 1			-- RECUPERACAO
	AND NVL_RISCO_ANT = 'H'		-- ESTAVA EM H
--		AND Atraso BETWEEN 181 AND 360
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 9 HH  ACIMA 360
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		9, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,		-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		360, 99999, 'HH'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	RECUPERA = 1			-- RECUPERACAO
	AND NVL_RISCO_ANT = 'HH'	-- ESTAVA EM HH
--		AND Atraso > 360
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************************************
-- 4. ROLAGEM	********************* NO MES
-- *****************
-- 4. ROLAGEM	  FAIXA 1 AA  ATE 4
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		1, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		0, 5, 'AA'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'AA'		-- ESTAVA EM A
--			AND Atraso <= 4	ATRASO ATUAL
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 1 A  ATE 14
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		1, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		6, 14, 'A'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'A'		-- ESTAVA EM A
--			AND Atraso <= 14	ATRASO ATUAL
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 2 B  DE 15 A 30
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		2, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		15, 30, 'B'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'B'		-- ESTAVA EM B
--		AND Atraso	BETWEEN	15 AND 30	ATRASO ATUAL
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 3 C  DE 31 A 60
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		3, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		31, 60, 'C'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'C'		-- ESTAVA EM C
--	AND Atraso	BETWEEN	31 AND 60	ATRASO ATUAL
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 4 D  DE 61 A 90
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		4, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		61, 90, 'D'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'D'		-- ESTAVA EM D
--	AND Atraso	BETWEEN	61 AND 90
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 5 E  DE 91 A 120
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		5, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		91, 120, 'E'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'E'		-- ESTAVA EM E
--	AND Atraso	BETWEEN	91 AND 120	ATUAL
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 6 F  DE 121 A 150
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		6, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		121, 150, 'F'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'F'		-- ESTAVA EM F
--	AND Atraso	BETWEEN	121 AND 150
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 7 G  DE 151 A 180
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		7, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		151, 180, 'G'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'G'		-- ESTAVA EM G
--	AND Atraso	BETWEEN	151 AND 180
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 8 H  DE 181 A 360
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		8, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		181, 359, 'H'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'H'		-- ESTAVA EM H
--	AND Atraso	BETWEEN	181 AND 360
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 9 HH  ACIMA 360
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		9, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		360, 99999, 'HH'
FROM
		RR_PRJ_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA	 = 1			-- ROLAGEM
	AND NVL_RISCO_ANT = 'HH'	-- ESTAVA EM HH
--	AND Atraso	 > 360			ATRASO ATUAL
GROUP BY C.AGENTE,C.COBRADORA


-- *****************************************
-- 5. SALDO FINAL	********************* NO MES
-- *****************
-- 5. SALDO FINAL	  FAIXA 1 AA  ATE 5
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5, -- ORDEM LINHA
		1, -- ORDEM FAIXA
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		0, 5, 'AA'
FROM
		RR_PRJ_CONTRATO_2M	R	(NOLOCK)
		--RATING_PROJETADO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO='AA'
	-- SEM OS LIQUIDADOS NO MES
	AND NOT ( ENTRA=0 AND ROLA=0 AND RECUPERA=1)
--	AND	ATRASO <= 4
GROUP BY	R.AGENTE,R.COBRADORA

-- INCLUI 13/10/16  ********************** INCLUI OS NOVOS CONTRATOS		*******************
	/*	UPDATE  RR_ROLLRATE_DIA
			SET	QTDE = QTDE + R.Q,
				SALDO = SALDO + R.S
			FROM	(SELECT		COUNT(NUM_OPE) AS Q,	SUM(SLD_INSCRITO) AS S
						FROM	RR_PRJ_CONTRATO_2M	R1	(NOLOCK)
						where	DT_FECHA = @data_ref  -- mes atual
			AND	NVL_RISCO='AA'	AND NVL_RISCO_ANT ='' AND SLD_INSCRITO_ANT = 0.0) AS R -- NOVOS CONTRATOS PRODUZIDOS
		WHERE	DT_FECHA = @data_ref  -- mes atual
			--AND	NVL_RISCO='AA'				--R.AGENTE,R.COBRADORA,
			AND	ORDEM_LINHA = 5 -- ORDEM LINHA
			AND ORDEM_FAIXA	= 1 -- ORDEM FAIXA  AA
			AND	DESCRICAO= 'SALDO FINAL' 
*/

-- *****************
-- 5. SALDO FINAL	  FAIXA 1 A  ATE 15
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5, -- ORDEM LINHA
		1, -- ORDEM FAIXA
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		6, 14, 'A'
FROM
		RR_PRJ_CONTRATO_2M	R	(NOLOCK)
		--RATING_PROJETADO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO='A'
	-- SEM OS LIQUIDADOS NO MES
	AND NOT ( ENTRA=0 AND ROLA=0 AND RECUPERA=1)
--	AND	ATRASO <= 15
GROUP BY	R.AGENTE,R.COBRADORA

-- *****************
-- 5. SALDO FINAL  FAIXA 2 B  DE 15 A 30
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,2,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		15, 30, 'B'
FROM
		RR_PRJ_CONTRATO_2M	R	(NOLOCK)
		--RATING_PROJETADO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO='B'
	-- SEM OS LIQUIDADOS NO MES
	AND NOT ( ENTRA=0 AND ROLA=0 AND RECUPERA=1)
--	AND	ATRASO BETWEEN 15 AND 30
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 5. SALDO FINAL  FAIXA 3 C  DE 31 A 60
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,3,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		31, 60, 'C'
FROM
				RR_PRJ_CONTRATO_2M	R	(NOLOCK)
		--RATING_PROJETADO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO='C'
	-- SEM OS LIQUIDADOS NO MES
	AND NOT ( ENTRA=0 AND ROLA=0 AND RECUPERA=1)
--	AND	ATRASO BETWEEN 31 AND 60
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 5. SALDO FINAL  FAIXA 4 D  DE 61 A 90
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,4,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		61, 90, 'D'
FROM
				RR_PRJ_CONTRATO_2M	R	(NOLOCK)
		--RATING_PROJETADO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO='D'
	-- SEM OS LIQUIDADOS NO MES
	AND NOT ( ENTRA=0 AND ROLA=0 AND RECUPERA=1)
--	AND	ATRASO BETWEEN 61 AND 90
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- F. SALDO FINAL  FAIXA 5 E  DE 91 A 120
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,5,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		91, 120, 'E'
FROM
				RR_PRJ_CONTRATO_2M	R	(NOLOCK)
		--RATING_PROJETADO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO='E'
	-- SEM OS LIQUIDADOS NO MES
	AND NOT ( ENTRA=0 AND ROLA=0 AND RECUPERA=1)
--	AND	ATRASO BETWEEN 91 AND 120
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 5. SALDO FINAL  FAIXA 6 F  DE 121 A 150
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,6,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		121, 150, 'F'
FROM
				RR_PRJ_CONTRATO_2M	R	(NOLOCK)
		--RATING_PROJETADO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO='F'
	-- SEM OS LIQUIDADOS NO MES
	AND NOT ( ENTRA=0 AND ROLA=0 AND RECUPERA=1)
--	AND	ATRASO BETWEEN 121 AND 150
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 5. SALDO FINAL  FAIXA 7 G  DE 151 A 180
INSERT RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,7,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		151, 180, 'G'
FROM
				RR_PRJ_CONTRATO_2M	R	(NOLOCK)
		--RATING_PROJETADO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO='G'
	-- SEM OS LIQUIDADOS NO MES
	AND NOT ( ENTRA=0 AND ROLA=0 AND RECUPERA=1)
--	AND	ATRASO BETWEEN 151 AND 180
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 5. SALDO FINAL  FAIXA 8 H  DE 181 A 360
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,8,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		181, 359, 'H'
FROM
				RR_PRJ_CONTRATO_2M	R	(NOLOCK)
		--RATING_PROJETADO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO='H'
	-- SEM OS LIQUIDADOS NO MES
	AND NOT ( ENTRA=0 AND ROLA=0 AND RECUPERA=1)
--	AND	ATRASO BETWEEN 181 AND 360
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 5. SALDO FINAL  FAIXA 9 HH  ACIMA 360
INSERT  RR_ROLLRATE_DIA
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,9,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		360, 99999, 'HH'
FROM
				RR_PRJ_CONTRATO_2M	R	(NOLOCK)
		--RATING_PROJETADO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO='HH'
	-- SEM OS LIQUIDADOS NO MES
	AND NOT ( ENTRA=0 AND ROLA=0 AND RECUPERA=1)
--	AND	ATRASO > 360
GROUP BY		R.AGENTE,R.COBRADORA


-- INSERIR A LINHA RECUPERACAO NA FAIXA A
-- SE NAO HOUVER
-- 3. RECUPERACAO	  FAIXA 1 AA  ATE 4

INSERT  RR_ROLLRATE_DIA
SELECT	DISTINCT
		@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		1, -- ORDEM FAIXA
		'A',
		'RECUPERACAO' ,
		0,		-- QTDE
		0.0,
		0.0,	-- SALDO
		0.0,	-- PRC
		0, 5, 'AA'
FROM

		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
		AND NOT EXISTS (SELECT * 
			FROM 	RR_ROLLRATE_dia	R	(NOLOCK)
			WHERE   R.DT_FECHA = @data_ref  -- mes atual
			AND		R.DESCRICAO='RECUPERACAO' AND R.RATING='AA' )
GROUP BY	C.AGENTE,C.COBRADORA


/*
-- *****************************************
-- 5. SALDO FINAL	********************* NO MES
-- *****************
-- 5. RECALCULAR FINAL = SALDO inic +ENTRADA - RECUPERA   - ROLA
UPDATE  RR_ROLLRATE_DIA
SET		RR_ROLLRATE_DIA.QTDE = ISNULL(INICIO.QTDE,0.0)  + ISNULL(ENTRADA.QTDE,0.0)  - ISNULL(RECUPERA.QTDE,0.0) -ISNULL(ROLA.QTDE,0.0) ,
		RR_ROLLRATE_DIA.SALDO= ISNULL(INICIO.SALDO,0.0) + ISNULL(ENTRADA.SALDO,0.0) - ISNULL(RECUPERA.SALDO,0.0) - ISNULL(ROLA.SALDO,0.0)
	
FROM
		(SELECT	    * FROM 	RR_ROLLRATE_DIA	R	(NOLOCK)
			WHERE   R.DT_FECHA = @data_ref  -- mes atual
			AND		R.DESCRICAO='SALDO INICIAL'
			) AS inicio,
		(SELECT	    * FROM 	RR_ROLLRATE_DIA	R	(NOLOCK)
			WHERE   R.DT_FECHA = @data_ref  -- mes atual
			AND		R.DESCRICAO='ENTRADAS'
			) AS ENTRADA,

		(SELECT	    * FROM 	RR_ROLLRATE_DIA	R	(NOLOCK)
			WHERE   R.DT_FECHA = @data_ref  -- mes atual
			AND		R.DESCRICAO='RECUPERACAO'
			) AS RECUPERA,

		(SELECT	    * FROM 	RR_ROLLRATE_DIA	R	(NOLOCK)
			WHERE   R.DT_FECHA = @data_ref  -- mes atual
			AND		R.DESCRICAO='ROLAGEM'
			) AS ROLA

where	RR_ROLLRATE_DIA.DT_FECHA = @data_ref  -- mes atual
	AND RR_ROLLRATE_DIA.DESCRICAO='SALDO FINAL'  -- SOMENTE A LINHA DE SALDO FINAL RECALCULADA	

	AND	RR_ROLLRATE_DIA.RATING	 = INICIO.RATING
	AND	RR_ROLLRATE_DIA.AGENTE	 = INICIO.AGENTE
	AND	RR_ROLLRATE_DIA.COBRADORA= INICIO.COBRADORA

	AND	RR_ROLLRATE_DIA.RATING	 = ENTRADA.RATING
	AND	RR_ROLLRATE_DIA.AGENTE	 = ENTRADA.AGENTE
	AND	RR_ROLLRATE_DIA.COBRADORA= ENTRADA.COBRADORA

	AND	RR_ROLLRATE_DIA.RATING	 = RECUPERA.RATING
	AND	RR_ROLLRATE_DIA.AGENTE	 = RECUPERA.AGENTE
	AND	RR_ROLLRATE_DIA.COBRADORA= RECUPERA.COBRADORA

	AND	RR_ROLLRATE_DIA.RATING	 = ROLA.RATING
	AND	RR_ROLLRATE_DIA.AGENTE	 = ROLA.AGENTE
	AND	RR_ROLLRATE_DIA.COBRADORA= ROLA.COBRADORA

*/


/*
-- 3. RECUPERACAO	  FAIXA 1 AA  ATE 4D
INSERT  RR_ROLLRATE_DIA
SELECT	DISTINCT
		@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		1, -- ORDEM FAIXA
		'A',
		'RECUPERACAO' ,
		0,		-- QTDE
		0.0,
		0.0,	-- SALDO
		0.0,	-- PRC
		0, 4, 'AA'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
		AND NOT EXISTS (SELECT * 
			FROM 	RR_ROLLRATE_dia	R	(NOLOCK)
			WHERE   R.DT_FECHA = @data_ref  -- mes atual
			AND		R.DESCRICAO='RECUPERACAO' AND R.RATING='AA' )
GROUP BY	C.AGENTE,C.COBRADORA

*/


/*
-- RECUPERAR A = SALDO FINAL EM A - 
-- 12267 - 11883 = 384
-- CONTRATOS FINDOS EM DIA

UPDATE  RR_ROLLRATE_DIA
SET		RR_ROLLRATE_DIA.QTDE  = SALDO.QTDE  - A.QTDE ,
		RR_ROLLRATE_DIA.SALDO = SALDO.SALDO - A.SALDO
FROM
	(	SELECT	AGENTE, COBRADORA,
				ISNULL(COUNT(*),0.0)			AS QTDE,
				ISNULL(SUM(SLD_INSCRITO),0.0)	AS SALDO
		 FROM	RR_PRJ_CONTRATO_2M R	(NOLOCK)
		WHERE	DT_FECHA	= @data_ref   -- NO MES
			AND	NVL_RISCO	= 'AA'
		GROUP BY AGENTE, COBRADORA
	)	AS SALDO	,
	(	SELECT	AGENTE, COBRADORA,
				ISNULL(COUNT(*),0.0)			AS QTDE,
				ISNULL(SUM(SLD_INSCRITO),0.0)	AS SALDO
		 FROM	RR_PRJ_CONTRATO_2M R	(NOLOCK)
		WHERE	DT_FECHA		= @data_ref   -- NO MES
			AND	NVL_RISCO_ANT	= 'AA'
		GROUP BY AGENTE, COBRADORA
	)	AS A	

where	RR_ROLLRATE_DIA.DT_FECHA = @data_ref	  -- mes atual
	AND RR_ROLLRATE_DIA.DESCRICAO= 'RECUPERACAO'  -- SOMENTE A LINHA DE RECUPERACAO RECALCULADA	
	AND	RR_ROLLRATE_DIA.RATING	 = 'AA'
	AND	RR_ROLLRATE_DIA.AGENTE	 = SALDO.AGENTE
	AND	RR_ROLLRATE_DIA.COBRADORA= SALDO.COBRADORA

	AND	RR_ROLLRATE_DIA.AGENTE	 = A.AGENTE
	AND	RR_ROLLRATE_DIA.COBRADORA= A.COBRADORA
*/
/*
-- SELECT * FROM RR_AUX_CONTRATO_2M
-- SELECT * FROM RR_ROLLRATE
*/

-- *****************************************
-- 3. RECUPERA	********************* NO MES
-- *****************
-- 3. RECALCULAR RECUPERA =   ESTOQUE final +ENTRADA - ROLA - SALDO inic
UPDATE  RR_ROLLRATE_DIA
SET		RR_ROLLRATE_DIA.QTDE = ISNULL(INICIO.QTDE,0.0)  + ISNULL(ENTRADA.QTDE,0.0) - ISNULL(ROLA.QTDE,0.0) -ISNULL(SALDO.QTDE,0.0) ,
		RR_ROLLRATE_DIA.SALDO= ISNULL(INICIO.SALDO,0.0) + ISNULL(ENTRADA.SALDO,0.0) - ISNULL(ROLA.SALDO,0.0) - ISNULL(SALDO.SALDO,0.0)
		
FROM
		(SELECT	    * FROM 	RR_ROLLRATE_DIA	R	(NOLOCK)
			WHERE   R.DT_FECHA = @data_ref  -- mes atual
			AND		R.DESCRICAO='SALDO FINAL'
			) AS saldo,
		(SELECT	    * FROM 	RR_ROLLRATE_DIA	R	(NOLOCK)
			WHERE   R.DT_FECHA = @data_ref  -- mes atual
			AND		R.DESCRICAO='SALDO INICIAL'
			) AS inicio,
		(SELECT	    * FROM 	RR_ROLLRATE_DIA	R	(NOLOCK)
			WHERE   R.DT_FECHA = @data_ref  -- mes atual
			AND		R.DESCRICAO='ENTRADAS'
			) AS ENTRADA,

		(SELECT	    * FROM 	RR_ROLLRATE_DIA	R	(NOLOCK)
			WHERE   R.DT_FECHA = @data_ref  -- mes atual
			AND		R.DESCRICAO='ROLAGEM'
			) AS ROLA

where	RR_ROLLRATE_DIA.DT_FECHA = @data_ref  -- mes atual
	AND RR_ROLLRATE_DIA.DESCRICAO='RECUPERACAO'  -- SOMENTE A LINHA DE RECUPERACAO RECALCULADA	

	AND	RR_ROLLRATE_DIA.RATING	 = SALDO.RATING
	AND	RR_ROLLRATE_DIA.AGENTE	 = SALDO.AGENTE
	AND	RR_ROLLRATE_DIA.COBRADORA= SALDO.COBRADORA

	AND	RR_ROLLRATE_DIA.RATING	 = INICIO.RATING
	AND	RR_ROLLRATE_DIA.AGENTE	 = INICIO.AGENTE
	AND	RR_ROLLRATE_DIA.COBRADORA= INICIO.COBRADORA

	AND	RR_ROLLRATE_DIA.RATING	 = ENTRADA.RATING
	AND	RR_ROLLRATE_DIA.AGENTE	 = ENTRADA.AGENTE
	AND	RR_ROLLRATE_DIA.COBRADORA= ENTRADA.COBRADORA

	AND	RR_ROLLRATE_DIA.RATING	 = ROLA.RATING
	AND	RR_ROLLRATE_DIA.AGENTE	 = ROLA.AGENTE
	AND	RR_ROLLRATE_DIA.COBRADORA= ROLA.COBRADORA

END
--END
GO


-- SELECT * FROM RR_PRJ_CONTRATO_2M WHERE DT_FECHA ='20140613' AND NVL_RISCO='C'     <>'HH'
-- SELECT * FROM RR_PRJ_CONTRATO_2M WHERE DT_FECHA ='20140613' AND NVL_RISCO_ANT   <>'HH'