-- alterado 10/10/2016 *******************
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG

-- create index RATING_PROJETADO_idx1 on RATING_PROJETADO (NUM_OPE)
go

-- EXEC [RR_RATING_PROJETADO] '2016-07-10','2016-06-30','2016-07-01','2016-07-10'

-- SELECT * FROM RATING_PROJETADO WHERE DT_FECHA='20140503'


-- SELECT * FROM RATING_PROJETADO WHERE DT_FECHA='2014-03-20' AND NVL_RISCO='A'
-- SELECT * FROM RATING_PROJETADO WHERE DT_FECHA='2014-03-20' AND NVL_RISCO_ant='A'

-- SELECT * FROM RATING_PROJETADO WHERE DT_FECHA='2014-02-27' AND NVL_RISCO='AA'

-- SELECT * FROM RATING_PROJETADO WHERE DT_FECHA='2014-02-27' AND NVL_RISCO='B'
-- SELECT DATEDIFF(DD, '2014-02-06','2014-02-27')
-- SELECT * FROM CDCSANTANAMicroCredito..CPARC P (NOLOCK) WHERE PANROPER='61633126'

-- 25-33 SEG CARGA
-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

-- EXEC [dbo].[RR_RATING_PROJETADO] '2014-03-20','2014-02-28','2014-03-01','2014-03-20'
-- Select * from RATING_PROJETADO

-- HOMOLOG
-- EXEC [dbo].[RR_RATING_PROJETADO] '2013-12-10','2013-11-31','2013-12-01','2013-12-10'
-- SELECT DTPGTO,* FROM RATING_PROJETADO  -- SEM PGTO

-- SELECT * from rating_historico
-- SELECT * FROM RATING_PROJETADO WHERE ATRASO>4

-- EXEC [dbo].[RR_RATING_PROJETADO] '2014-01-08','2014-01-01','2014-01-08'
-- SELECT DTPGTO,* FROM RATING_PROJETADO  -- SEM PGTO

-- PROD
-- EXEC [dbo].[RR_RATING_PROJETADO] '2014-04-09','2014-03-31','2014-04-09'

-- DROP PROCEDURE   [dbo].[RR_RATING_PROJETADO]


-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'RR_RATING_PROJETADO' AND type = 'P')
   DROP PROCEDURE [dbo].[RR_RATING_PROJETADO] 
GO

-- APAGA PROCESSAMENTO ANTERIOR
-- delete * from rating_PROJETADO where dt_ref = datepart(month,data_ref)
-- EXEC [RR_RATING_PROJETADO] '2014-04-09','2014-03-28','2014-03-01','2014-03-28'
-- EXEC [RR_RATING_PROJETADO] '2014-03-20','2014-02-28','2014-03-01','2014-03-20'
-- SELECT * 	FROM rating_PROJETADO


CREATE Procedure [dbo].[RR_RATING_PROJETADO] 
 (@DTREF1  SMALLDATETIME,  
 @DTFECHA SMALLDATETIME,  
 @DTINI1 SMALLDATETIME,  
 @DTFIM1 SMALLDATETIME  )	AS  

BEGIN

DECLARE @DTREF  AS VARCHAR(8)
DECLARE @DTINI  AS VARCHAR(8)
DECLARE @DTFIM  AS VARCHAR(8)

SET @DTREF = CONVERT(VARCHAR(8),@DTREF1,112)
SET @DTINI = CONVERT(VARCHAR(8),@DTINI1,112)
SET @DTFIM = CONVERT(VARCHAR(8),@DTFIM1,112)


-- SELECT * FROM RATING_PROJETADO WHERE NVL_RISCO<> 'HH'
-- SELECT * FROM RR_PRJ_CONTRATO_2M WHERE DT_FECHA='20140613' AND NVL_RISCO<> 'HH'
-- DELETE FROM RATING_PROJETADO_PARC
-- SP_HELP RATING_PROJETADO
TRUNCATE TABLE   RATING_PROJETADO
-- COPIA O ULTIMO FECHAMENTO
-- DECLARE @DTFECHA SMALLDATETIME SET @DTFECHA='2014-04-30'
INSERT RATING_PROJETADO
(DT_REF,
NUM_OPE,
DT_BASE,
NVL_RISCO,
NOM_CLI,
DT_VCTO1,
SLD_INSCRITO,
VLR_PRINC,
VL_JUROS,
TX_RAP,
RRF_JR,
VLR_FV,
PERC_PDD,
VLR_PDD,
Atraso,
parc,
dtVencParc,
AGENTE,
COBRADORA,
DT_FECHA,
DT_VCTO1P,
CODCLI,
CODPROD )
-- ADECORRER , PLANO , ATRASO_RENEG 
-- ALTER TABLE RATING_PROJETADO ADD ATRASO_RENEG INT
-- ALTER TABLE RATING_PROJETADO ADD OPDTVCTO SMALLDATETIME
SELECT * 
	FROM	RATING_HISTORICO (nolock)
	WHERE	DT_FECHA =@DTFECHA

-- 3
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-05-29'
-- SELECT * FROM RATING_PROJETADO WHERE NUM_OPE='89313224'
-- ******************									OK
IF @DTREF <= '20140930'   -- ANTES DE INCLUIR CART 800
BEGIN
	INSERT	RATING_PROJETADO 
			(NUM_OPE,DT_BASE,NVL_RISCO,SLD_INSCRITO,AGENTE,COBRADORA,ATRASO,
			DT_FECHA, PARC)
	SELECT	OPNROPER, OPDTBASE, 'AA', OPVLRFIN,'','',0
				,		@DTREF, 1
		FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
		WHERE	--OPDTBASE BETWEEN @DTINI AND @DTFIM	AND
				-- SOMENTE VEICULOS
				CONVERT(VARCHAR(8),OPDTBASE,112) BETWEEN @DTINI AND @DTFIM 
			--		********* CORRECAO EM 03/10/16 *************** CONSIDERAR OS CODIGOS DO CADASTRO DE PARAMETROS
			AND OPCODOP  IN (SELECT	M.COD_MODA
								FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
								WHERE	M.COD_PROD = T.COD_PROD 
									AND T.COD_MODALIDADE = M.COD_MODALIDADE 
									AND T.COD_PROD IN ( 'R','V')  
									-- SEM RENEG CP, SEM RENEG PJ
									AND T.COD_MODALIDADE NOT IN (14, 87) ) 
			--		********* ALTEREI EM 12/9/16 *************** CONSIDERAR OS CODIGOS DO CADASTRO DE PARAMETROS
--			AND OPCODOP IN (select COD_MODA from TMODA_TIPO_PROD (NOLOCK) WHERE COD_PROD ='V')  -- SOMENTE VEIC
--			AND OPCODOP IN (552,610,612,630,632,642,643,670,672,700,751,752,760,862,893,553,894)

	--		AND OPNROPER = PANROPER
	--		AND CONVERT(INT,PANRPARC) = 1 
	--		AND CONVERT(VARCHAR(8),PADTVCTO,112) BETWEEN @DTINI AND @DTFIM   -- VENCIDO NO PERIODO, APOS FECHAMENTO
			-- AND CONVERT(VARCHAR(8),PADTVCTO,112) BETWEEN '20140501' AND '20140531'   -- VENCIDO NO PERIODO, APOS FECHAMENTO
			-- se nao existem NO ARQUIVO
			AND OPNROPER NOT IN (SELECT NUM_OPE FROM	RATING_PROJETADO (NOLOCK) )
			-- ALTERADO 6/8/2014 ********************************************************************
			-- SE FOR RENEGOCIACAO, PRECISA MANTER A DT BASE DA OPERACAO RENEGOCIADA, NAO ORIGINAL!!
			-- se nao for renegociacao
			AND RIGHT(OPNROPER,1) NOT IN ('A','B')
END

-- INCLUIR CART 800
IF @DTREF > '20140930'   -- ANTES DE INCLUIR CART 800
BEGIN
	INSERT	RATING_PROJETADO 
			(NUM_OPE,DT_BASE,NVL_RISCO,SLD_INSCRITO,AGENTE,COBRADORA,ATRASO,
			DT_FECHA, PARC)
	SELECT	OPNROPER, OPDTBASE, 'AA', OPVLRFIN,'','',0
				,		@DTREF, 1
		FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
		WHERE	--OPDTBASE BETWEEN @DTINI AND @DTFIM	AND
				-- SOMENTE VEICULOS
				CONVERT(VARCHAR(8),OPDTBASE,112) BETWEEN @DTINI AND @DTFIM 
			-- FALTAM MODALIDADES 751 E 752
			--		********* CORRECAO EM 03/10/16 *************** CONSIDERAR OS CODIGOS DO CADASTRO DE PARAMETROS
			AND OPCODOP  IN (SELECT	M.COD_MODA
								FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
								WHERE	M.COD_PROD = T.COD_PROD 
									AND T.COD_MODALIDADE = M.COD_MODALIDADE 
									AND T.COD_PROD IN ( 'R','V')  
									-- SEM RENEG CP, SEM RENEG PJ
									AND T.COD_MODALIDADE NOT IN (14, 87) )  
			--		********* ALTEREI EM 12/9/16 *************** CONSIDERAR OS CODIGOS DO CADASTRO DE PARAMETROS
--			AND OPCODOP IN (select COD_MODA from TMODA_TIPO_PROD (NOLOCK) WHERE COD_PROD ='V')  -- SOMENTE VEIC
			--  AND OPCODOP IN (552,610,612,630,632,642,643,670,672,700,751,752,760,862,893,553,894 , 800 )
	--		AND OPNROPER = PANROPER
	--		AND CONVERT(INT,PANRPARC) = 1 
	--		AND CONVERT(VARCHAR(8),PADTVCTO,112) BETWEEN @DTINI AND @DTFIM   -- VENCIDO NO PERIODO, APOS FECHAMENTO
			-- AND CONVERT(VARCHAR(8),PADTVCTO,112) BETWEEN '20140501' AND '20140531'   -- VENCIDO NO PERIODO, APOS FECHAMENTO
			-- se nao existem NO ARQUIVO
			AND OPNROPER NOT IN (SELECT NUM_OPE FROM	RATING_PROJETADO (NOLOCK) )
			-- ALTERADO 6/8/2014 ********************************************************************
			-- SE FOR RENEGOCIACAO, PRECISA MANTER A DT BASE DA OPERACAO RENEGOCIADA, NAO ORIGINAL!!
			-- se nao for renegociacao
			AND RIGHT(OPNROPER,1) NOT IN ('A','B')
END


-- 4
-- ALTERA OS RENEGOCIADOS DO MES  - 1A RENEG - FINAL A
UPDATE	RATING_PROJETADO 
SET		NUM_OPE = OPNROPER,
		DT_BASE = OPDTBASE  -- ALTERADO 6/8/14 ************************** CORRECAO ********************
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	--OPDTBASE BETWEEN @DTINI AND @DTFIM	AND
			CONVERT(VARCHAR(8),OPDTBASE,112) BETWEEN @DTINI AND @DTFIM 
			--		********* CORRECAO EM 03/10/16 *************** CONSIDERAR OS CODIGOS DO CADASTRO DE PARAMETROS
			AND OPCODOP  IN (SELECT	M.COD_MODA
								FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
								WHERE	M.COD_PROD = T.COD_PROD 
									AND T.COD_MODALIDADE = M.COD_MODALIDADE 
									AND T.COD_PROD IN ( 'R','V')  
									-- SEM RENEG CP, SEM RENEG PJ
									AND T.COD_MODALIDADE NOT IN (14, 87) ) 
			-- SOMENTE VEICULOS
			--		********* ALTEREI EM 12/9/16 *************** CONSIDERAR OS CODIGOS DO CADASTRO DE PARAMETROS
--			AND OPCODOP IN (select COD_MODA from TMODA_TIPO_PROD (NOLOCK) WHERE COD_PROD ='V')  -- SOMENTE VEIC
			--	AND OPCODOP IN (552,610,612,630,632,642,643,670,672,700,751,752,760,862,893,553,894 , 800)
--		CONVERT(VARCHAR(8),OPDTBASE,112) BETWEEN '20140501' AND '20140531'

		-- SOMENTE RENEGOCIADOS NOVOS
		AND OPNROPER NOT IN (SELECT NUM_OPE FROM	RATING_PROJETADO (NOLOCK) )
		-- se nao for renegociacao
		AND RIGHT(OPNROPER,1)  IN ('A')  --,'B')
		AND NUM_OPE = LEFT(OPNROPER,LEN(OPNROPER)-1)  -- CONTRATO ORIGINAL, RECEBERA A

-- fechamento abril contem estes contratos p=1
		-- AND PANRPARC = 1 
--		AND CONVERT(VARCHAR(8),PADTVCTO,112) BETWEEN @DTINI AND @DTFIM   -- VENCIDO NO PERIODO, APOS FECHAMENTO
--		AND CONVERT(VARCHAR(8),PADTVCTO,112) BETWEEN '20140501' AND '20140529'   -- VENCIDO NO PERIODO, APOS FECHAMENTO

-- 5
-- ALTERA OS RENEGOCIADOS DO MES  - 1A RENEG - FINAL A
UPDATE	RATING_PROJETADO 
SET		NUM_OPE = OPNROPER
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	--OPDTBASE BETWEEN @DTINI AND @DTFIM	AND
			-- SOMENTE VEICULOS
				CONVERT(VARCHAR(8),OPDTBASE,112) BETWEEN @DTINI AND @DTFIM 
			--		********* CORRECAO EM 03/10/16 *************** CONSIDERAR OS CODIGOS DO CADASTRO DE PARAMETROS
			AND OPCODOP  IN (SELECT	M.COD_MODA
								FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
								WHERE	M.COD_PROD = T.COD_PROD 
									AND T.COD_MODALIDADE = M.COD_MODALIDADE 
									AND T.COD_PROD IN ( 'R','V')  
									-- SEM RENEG CP, SEM RENEG PJ
									AND T.COD_MODALIDADE NOT IN (14, 87) )  
			--		********* ALTEREI EM 12/9/16 *************** CONSIDERAR OS CODIGOS DO CADASTRO DE PARAMETROS
--			AND OPCODOP IN (select COD_MODA from TMODA_TIPO_PROD (NOLOCK) WHERE COD_PROD ='V')  -- SOMENTE VEIC
					--AND 	OPCODOP IN (552,610,612,630,632,642,643,670,672,700,751,752,760,862,893,553,894  ,800 )

		-- SOMENTE RENEGOCIADOS NOVOS
		AND OPNROPER NOT IN (SELECT NUM_OPE FROM	RATING_PROJETADO (NOLOCK) )
		-- se nao for renegociacao
		AND RIGHT(OPNROPER,1)  IN ('B')  -- 2A RENEG
		-- CONTRATO ANTERIOR, 1A RENEG
		AND NUM_OPE = LEFT(OPNROPER,LEN(OPNROPER)-1)+'A'  -- 1A RENEG FINAL A, CONTRATO RECEBERA B

--		AND PANRPARC = 1 
--		AND CONVERT(VARCHAR(8),PADTVCTO,112) BETWEEN @DTINI AND @DTFIM   -- VENCIDO NO PERIODO, APOS FECHAMENTO
--		AND CONVERT(VARCHAR(8),PADTVCTO,112) BETWEEN '20140501' AND '20140529'   -- VENCIDO NO PERIODO, APOS FECHAMENTO


-- 6
-- ZERA OS DADOS PARA PROJETAR
UPDATE	RATING_PROJETADO
SET		DT_FECHA=@DTREF

-- 7
-- DADOS PARA PRAZO DOBRADO
UPDATE	RATING_PROJETADO
SET		PLANO = OPQTDDPARC,
		OPDTVCTO = O.OPDTVCTO
FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK) 
WHERE	OPNROPER=NUM_OPE

-- 8
-- DADOS PARA PRAZO DOBRADO
UPDATE	RATING_PROJETADO
SET		ADECORRER= DATEDIFF(MM,@DTREF,OPDTVCTO)
--PLANO - PARC
-- SELECT DATEDIFF(MM,'20140501','20150101')

-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2013-12-10'
/*
UPDATE	RATING_PROJETADO
SET		DT_FECHA=@DTREF,
		ATRASO = NULL, PARC=0, DTVENCPARC = NULL
*/

-- 9
-- LIMPA AUX
-- 10100 EM ATRASO
-- SELECT * FROM AUX_PARC WHERE PADTLIQ IS NULL OR PADTLIQ>'2014-02-27'
TRUNCATE TABLE   AUX_PARC

-- 10
-- MENOR PARCELA VENCIDA NAO PAGA
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2013-12-10'
INSERT	AUX_PARC
SELECT  P.PANROPER, 
		MIN(P.PANRPARC), 
		MIN(P.PADTVCTO),
		MIN(P.PAVLRPR + P.PAVLRJR),
		MIN(P.PADTLIQ)
FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK) ,
		RATING_PROJETADO	R (NOLOCK)
WHERE	P.PANROPER = NUM_OPE AND 
--		P.PADTVCTO < DATEADD(DD,-2,@DTREF)	-- VENCIDO HA 2 D
		CONVERT(VARCHAR(8),P.PADTVCTO,112) <= @DTREF			-- VENCIDO 
	AND NVL_RISCO <> 'HH'  -- SEM PREJUIZO
	AND	(P.PADTLIQ	IS NULL				-- NAO PAGO
	OR	 CONVERT(VARCHAR(8),P.PADTLIQ,112)	> 	@DTREF)			-- PAGO APOS PERIODO
	AND P.PACNTRL = (SELECT MAX(AUX.PACNTRL)
						FROM  CDCSANTANAMicroCredito..CPARC AUX (NOLOCK) 
								-- CONTRATO
						WHERE	AUX.PANROPER  = P.PANROPER
							AND	AUX.PANRPARC  = P.PANRPARC )

 GROUP BY P.PANROPER

-- VENCIDOS E PAGOS	EM DIA
-- MAIOR PARCELA VENCIDA PAGA
-- CONTRATO NAO CONSTA NO ATRASO
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2013-12-10'
INSERT	AUX_PARC
SELECT  P.PANROPER, MAX(P.PANRPARC), MAX(P.PADTVCTO),
		MAX(P.PAVLRPR + P.PAVLRJR),
		MAX(P.PADTLIQ)
FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK) ,
		RATING_PROJETADO	R (NOLOCK)
WHERE	P.PANROPER = NUM_OPE AND 
--		P.PADTVCTO < DATEADD(DD,-2,@DTREF)	-- VENCIDO HA 2 D PROCESSAR PGTO
		CONVERT(VARCHAR(8),P.PADTVCTO,112) <= @DTREF				-- VENCIDO 
	AND NVL_RISCO <> 'HH'  -- SEM PREJUIZO
	AND	P.PADTLIQ IS NOT NULL				-- PAGA 
	AND	CONVERT(VARCHAR(8),P.PADTLIQ,112) <=	@DTREF				-- PAGA NO PERIODO
	--AND	P.PADTVCTO <=	@DTREF				-- PAGA EM DIA, NAO ANTECIPADO
	AND P.PANROPER NOT IN (SELECT PANROPER FROM AUX_PARC (NOLOCK))
	AND P.PACNTRL = (SELECT MAX(AUX.PACNTRL)
						FROM  CDCSANTANAMicroCredito..CPARC AUX (NOLOCK) 
								-- CONTRATO
						WHERE	AUX.PANROPER  = P.PANROPER
							AND	AUX.PANRPARC  = P.PANRPARC )
GROUP BY P.PANROPER

-- SELECT DATEADD(DD,-2,'2014-01-01')

-- ATUALIZA OS DADOS DA PARCELA NO ARQUIVO DE CONTRATOS
-- SELECT  DATEDIFF(D, '20140211', '20140227')
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2013-12-10'
UPDATE	RATING_PROJETADO
SET		PARC=PANRPARC, 
		DTVENCPARC = PADTVCTO,
	--	ATRASO = DATEDIFF(DD,@DTREF,PADTVCTO)
		ATRASO   =	
				CASE	-- PAGO ANTES DA PROJECAO, EM DIA
					 WHEN	P.PADTLIQ IS NOT NULL AND
							CONVERT(VARCHAR(8),P.PADTLIQ,112) <= @DTREF   AND	 
						  DATEDIFF(D, P.PADTLIQ, @DTREF) >=0 THEN 0
				ELSE
					CASE  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 5 THEN 5 -- AA

					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 14 THEN 14
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 30 THEN 30  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 60 THEN 60  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 90 THEN 90  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 120 THEN 120  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 150 THEN 150  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 180 THEN 180  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 359 THEN 359
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) >= 360 THEN 999   
					 END
				END     ,
		NVL_RISCO	 =
				CASE	-- PAGO ANTES DA PROJECAO
					 WHEN NOT (	P.PADTLIQ IS NULL OR
								P.PADTLIQ > @DTREF)   AND	 
						  DATEDIFF(D, P.PADTLIQ, @DTREF) >=0 THEN 'AA'
				ELSE
				CASE  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 5  THEN 'AA'
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 14 THEN 'A'
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 30 THEN 'B'
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 60 THEN 'C' 
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 90 THEN 'D' 
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 120 THEN 'E'
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 150 THEN 'F'  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 180 THEN 'G'  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 359 THEN 'H'  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) >= 360 THEN 'HH'   
					 END  
				END 
FROM	AUX_PARC P
WHERE	P.PANROPER = NUM_OPE
--	AND NVL_RISCO <> 'HH'  -- SEM PREJUIZO, no aux_parc nao tem prejuizo
	AND ADECORRER <= 36  -- SEM BENEFICIO PRAZO DOBRADO
	AND RIGHT(P.PANROPER,1)  NOT IN ('A','B')  -- SEM RENEGOCIADOS

-- PRAZO DOBRADO  **********************************
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2013-12-10'
UPDATE	RATING_PROJETADO
SET		PARC=PANRPARC, 
		DTVENCPARC = PADTVCTO,
	--	ATRASO = DATEDIFF(DD,@DTREF,PADTVCTO)
		ATRASO   =	
				CASE	-- PAGO ANTES DA PROJECAO, EM DIA
					 WHEN	P.PADTLIQ IS NOT NULL AND
							CONVERT(VARCHAR(8),P.PADTLIQ,112) <= @DTREF   AND	 
						  DATEDIFF(D, P.PADTLIQ, @DTREF) >=0 THEN 0
				ELSE
					CASE  
					-- WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 5 THEN 5 -- AA

					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 14 THEN 5	-- AA
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <  30 THEN 14
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 60 THEN 30  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 120 THEN 60  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 180 THEN 90  

					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 240 THEN 120  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 300 THEN 150  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 359 THEN 180  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 719 THEN 359 
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) >= 720 THEN 999   
					 END
				END     ,
		NVL_RISCO	 =
				CASE	-- PAGO ANTES DA PROJECAO
					 WHEN NOT (	P.PADTLIQ IS NULL OR
								P.PADTLIQ > @DTREF)   AND	 
						  DATEDIFF(D, P.PADTLIQ, @DTREF) >=0 THEN 'AA'
				ELSE
				CASE  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 14  THEN 'AA'
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <  30  THEN 'A'
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 60  THEN 'B'
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 120 THEN 'C' 
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 180 THEN 'D' 
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 240 THEN 'E'
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 300 THEN 'F'  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 359 THEN 'G'  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 719 THEN 'H'  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) >= 720 THEN 'HH'   
					 END  
				END 
FROM	AUX_PARC P	(NOLOCK)
WHERE	P.PANROPER = NUM_OPE
--	AND NVL_RISCO <> 'HH'  -- SEM PREJUIZO, nao tem prejuizo no aux_parc
	AND ADECORRER > 36  -- COM BENEFICIO PRAZO DOBRADO
	AND NOT  (RIGHT(RATING_PROJETADO.NUM_OPE,1)  IN ('A','B')  -- SEM RENEGOCIADOS
	OR LEFT(P.PANROPER,3)  = '862' )  -- RENEGOCIADOS ANTIGOS


-- RENEGOCIADOS  ***************************
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2013-12-10'
-- SELECT * FROM RATING_PROJETADO  WHERE NUM_OPE='89313238'
-- SELECT * FROM RATING_HISTORICO  WHERE DT_FECHA='20140430' AND NUM_OPE IN ('90513623A','90513912A')
-- SELECT * FROM RATING_PROJETADO  WHERE NUM_OPE IN ('90513623A','90513912A')
-- SELECT * from CDCSANTANAMicroCredito..CPARC P (NOLOCK) WHERE PANROPER='89313238'
-- SELECT * from CDCSANTANAMicroCredito..CPARC P (NOLOCK) WHERE PANROPER IN ('90513623A','90513912A')
-- RECALCULA O ATRASO DO CONTRATO
UPDATE	RATING_PROJETADO
SET		PARC=PANRPARC, 
		DTVENCPARC = PADTVCTO,
		-- ATRASO DO RATING ORIGINAL ESTAH EM ATRASO
		-- ATRASO DO NOVO CONTRATO RENEGOCIADO
		ATRASO_RENEG	=	
				CASE	-- PAGO ANTES DA PROJECAO, EM DIA
					 WHEN	P.PADTLIQ IS NOT NULL AND
							CONVERT(VARCHAR(8),P.PADTLIQ,112) <= @DTREF   AND	 
						  DATEDIFF(D, P.PADTLIQ, @DTREF) >=0 THEN 0
				ELSE
					CASE  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 5 THEN 5 -- AA

					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 14 THEN 14
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 30 THEN 30  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 60 THEN 60  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 90 THEN 90  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 120 THEN 120  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 150 THEN 150  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 180 THEN 180  
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 359 THEN 359
					 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) >= 360 THEN 999   
					 END
				END     
FROM	AUX_PARC P	(NOLOCK)
WHERE	P.PANROPER = NUM_OPE
--	AND ADECORRER < 36  -- SEM BENEFICIO PRAZO DOBRADO
	AND (	RIGHT(P.PANROPER,1)   IN ('A','B')  -- SOH RENEGOCIADOS
		OR	LEFT(P.PANROPER,3)  = '862' )  -- RENEGOCIADOS ANTIGOS

-- *********************************************************************
-- renegociacao TESTE
-- RENEGOCIADO MAIS ATRASADO QUE O ORIGINAL
-- ALTERAR O RATING PARA MAIOR. NUNCA PARA MENOR!!
-- *********************************************************************
-- *********************************************************************
UPDATE	RATING_PROJETADO
SET		-- ATRASO DO RATING ORIGINAL ESTAH EM ATRASO
		-- ATRASO DO NOVO CONTRATO RENEGOCIADO
		ATRASO = ATRASO_RENEG	,
		NVL_RISCO	 =
				CASE	-- PAGO ANTES DA PROJECAO
					 WHEN ATRASO_RENEG <= 5   THEN 'AA'
					 WHEN ATRASO_RENEG <= 14  THEN 'A'
					 WHEN ATRASO_RENEG <= 30  THEN 'B'
					 WHEN ATRASO_RENEG <= 60  THEN 'C'
					 WHEN ATRASO_RENEG <= 90  THEN 'D' 
					 WHEN ATRASO_RENEG <= 120 THEN 'E' 
					 WHEN ATRASO_RENEG <= 150 THEN 'F'
					 WHEN ATRASO_RENEG <= 180 THEN 'G'  
					 WHEN ATRASO_RENEG <= 359 THEN 'H'  
					 WHEN ATRASO_RENEG >= 360 THEN 'HH'   
				END 
FROM	AUX_PARC P	(NOLOCK)
WHERE	P.PANROPER = NUM_OPE
	--	AND ADECORRER < 36  -- SEM BENEFICIO PRAZO DOBRADO
--	AND RIGHT(P.PANROPER,1)   IN ('A','B')  -- SOH RENEGOCIADOS

	AND (	RIGHT(P.PANROPER,1)   IN ('A','B')  -- SOH RENEGOCIADOS
		OR	LEFT(P.PANROPER,3)  = '862' )  -- RENEGOCIADOS ANTIGOS

	-- MANTEM O NIVEL DE RISCO DO CONTRATO ORIGINAL
	-- RECALCULA O RISCO SOMENTE SE O ATRASO AUMENTAR !! *********
	AND NVL_RISCO <  -- VERIFICA O RISCO E O NOVO ATRASO
				CASE	-- PAGO ANTES DA PROJECAO
					 --WHEN ATRASO_RENEG <= 5   THEN 'AA'
					 WHEN ATRASO_RENEG <= 14  THEN 'A'
					 WHEN ATRASO_RENEG <= 30  THEN 'B'
					 WHEN ATRASO_RENEG <= 60  THEN 'C'
					 WHEN ATRASO_RENEG <= 90  THEN 'D' 
					 WHEN ATRASO_RENEG <= 120 THEN 'E' 
					 WHEN ATRASO_RENEG <= 150 THEN 'F'
					 WHEN ATRASO_RENEG <= 180 THEN 'G'  
					 WHEN ATRASO_RENEG <= 359 THEN 'H'  
					 WHEN ATRASO_RENEG >= 360 THEN 'HH'   
				END 



-- *********************************************************************
-- NOVA REGRA ********************
-- DT OPERACAO DA RENEGOCIACAO > 6M
-- ATRASO ATEH 60D  
-- CONSIDERA O ATRASO  DA RENEGOCIACAO  --  ATEH C
-- *********************************************************************
-- *********************************************************************
UPDATE	RATING_PROJETADO
SET		-- ATRASO DO RATING ORIGINAL ESTAH EM ATRASO
		-- ATRASO DO NOVO CONTRATO RENEGOCIADO
		ATRASO = ATRASO_RENEG	,
		NVL_RISCO	 =
				CASE	-- PAGO ANTES DA PROJECAO
					 WHEN ATRASO_RENEG <= 5   THEN 'AA'
					 WHEN ATRASO_RENEG <= 14  THEN 'A'
					 WHEN ATRASO_RENEG <= 30  THEN 'B'
					 WHEN ATRASO_RENEG <= 60  THEN 'C'
					 WHEN ATRASO_RENEG <= 90  THEN 'D' 
					 WHEN ATRASO_RENEG <= 120 THEN 'E' 
					 WHEN ATRASO_RENEG <= 150 THEN 'F'
					 WHEN ATRASO_RENEG <= 180 THEN 'G'  
					 WHEN ATRASO_RENEG <= 359 THEN 'H'  
					 WHEN ATRASO_RENEG >= 360 THEN 'HH'   
				END 
FROM	AUX_PARC P	(NOLOCK)
WHERE	P.PANROPER = NUM_OPE
--	AND RIGHT(P.PANROPER,1)   IN ('A','B')  -- SOH RENEGOCIADOS
	AND (	RIGHT(P.PANROPER,1)   IN ('A','B')  -- SOH RENEGOCIADOS
		OR	LEFT(P.PANROPER,3)  = '862' )  -- RENEGOCIADOS ANTIGOS
	-- DT OPERACAO DA RENEGOCIACAO >= 6M
	AND DATEDIFF(MM, DT_BASE, @DTREF) >=   6  -- 5 p/ teste
	-- ATRASO ATEH 60D  
	AND ATRASO_RENEG <= 60 
	-- NAO MANTEM O NIVEL DE RISCO DO CONTRATO ORIGINAL !!



	-- ATRASO DO RATING ORIGINAL ESTAH EM ATRASO
	-- ATRASO DO NOVO CONTRATO RENEGOCIADO. RENEGOCIADO PODE ESTAR EM DIA
--	AND ATRASO_RENEG > ATRASO  
		

-- SELECT * FROM RATING_proJETADO WHERE NVL_RISCO ='F'
-- SELECT * FROM RATING_proJETADO WHERE NUM_OPE='61247058'
-- SELECT * FROM RATING_proJETADO WHERE NUM_OPE IN ('61644775B','61645057A','67072350A','67073335A')
-- SELECT * FROM CDCSANTANAMicroCredito..CPARC P WHERE PANROPER IN ('61644775B','61645057A','67072350A','67073335A')
-- SELECT * FROM CDCSANTANAMicroCredito..CPARC P WHERE PANROPER IN ('61631120A','61632656A','61633697A','61634829A','61635113A','67273531A','89312608A')

-- SELECT * FROM RATING_proJETADO P WHERE NUM_OPE='55004189'
-- SELECT * FROM RATING_HISTORICO P WHERE NUM_OPE='55004189' AND DT_FECHA='20140430'

-- OPDTVCTO
-- SELECT * FROM CDCSANTANAMicroCredito..COPER P WHERE OPNROPER='55004189'
-- SELECT * FROM CDCSANTANAMicroCredito..CPARC P WHERE PANROPER='55004189'
-- SELECT * FROM CDCSANTANAMicroCredito..CPARC P WHERE PANROPER='55004189A'



-- *******************************************************
-- ALTERADO 13/6/2014		AJUSTA O SALDO QDO HOUVER PAGAMENTO DE PARCELA
-- *******************************************************
/*
UPDATE	RATING_PROJETADO
-- NAO DEIXO O SALDO FICAR NEGATIVO QDO A PARCELA É MAIOR Q O SALDO, MANTEM O SALDO
SET		SLD_INSCRITO = CASE WHEN SLD_INSCRITO - VLR_PARCELA_PAGA >0 THEN SLD_INSCRITO - VLR_PARCELA_PAGA
							ELSE SLD_INSCRITO END
FROM    (SELECT PANROPER,SUM(PAVLRPR	+ PAVLRJR) AS VLR_PARCELA_PAGA
			FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK) 
			-- PAGO NO MES
			WHERE	P1.PADTLIQ BETWEEN @DTINI AND @DTREF
				AND P1.PACNTRL =  (SELECT		MAX(P2.PACNTRL) 
										FROM	CDCSANTANAMicroCredito..CPARC P2 (NOLOCK) 
										WHERE	P2.PANROPER=P1.PANROPER
											AND P2.PANRPARC=P1.PANRPARC)
				-- NAO CONSIDERAR PARCELA PULADA AJUSTADA EM JUNHO-14
				-- VCTO ANTES DO FECHAMENTO, JAH FOI CONSIDERADO NO SALDO DO FECHAMENTO. PRECISA RETIRAR O SALDO PAGO!
				-- AND P1.PADTVCTO >= @DTINI 
			GROUP BY PANROPER ) AS P
WHERE   PANROPER = NUM_OPE
AND    NVL_RISCO <> 'HH' -- NAO PODE AJUSTAR O PREJUIZO
	-- NAO LIQUIDADO NO MES
	-- VENCIDO NO MES	
	-- AND DTVENCPARC <= @DTREF
*/

/*
-- ALTERADO 13/6/2014		AJUSTA O SALDO QDO HOUVER VENCIMENTO DE PARCELA
UPDATE	RATING_PROJETADO
SET		SLD_INSCRITO = SLD_INSCRITO + VLR_PARCELA 
-- somente parcela + PAVLRJR
FROM    (SELECT PANROPER,SUM(PAVLRPR	) AS VLR_PARCELA  
			FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK) 
			-- VENCIDO NO MES
			WHERE	P1.PADTVCTO BETWEEN @DTINI AND @DTREF
				AND P1.PACNTRL =  (SELECT		MAX(P2.PACNTRL) 
										FROM	CDCSANTANAMicroCredito..CPARC P2 (NOLOCK) 
										WHERE	P2.PANROPER=P1.PANROPER
											AND P2.PANRPARC=P1.PANRPARC)
				-- CONSIDERAR PARCELAS VENCIDAS APOS O FECHAMENTO
				AND P1.PADTVCTO >= @DTINI 
			GROUP BY PANROPER ) AS P
WHERE   PANROPER = NUM_OPE
	-- NAO LIQUIDADO NO MES
	-- VENCIDO NO MES	
	-- AND DTVENCPARC <= @DTREF

*/

-- dt_SALDO ULTIMO FECHAMENTO CONTABIL
declare @DT_SALDO SMALLDATETIME
SET @DT_SALDO = (select max(opdtref) from 		BACENSANTANAMicroCredito..cParcB (NOLOCK) where OpDtRef <= @DTREF )

-- ALTEREI 3/10/16  *********************** SALDO INSCRITO JAH EH O DO CONTABIL
-- IF  @DT_SALDO = @DTREF  -- JAH ESTAH CORRETO ABAIXO, PERDE OS AJUSTES DO SLD_INSCRITO


-- MUDEI A ORDEM : 1o VENCTOS, 2o PAGTOS  *******************************   ALTERADO 10/10/16

-- ALTERADO 13/6/2014		AJUSTA O SALDO QDO HOUVER VENCIMENTO DE PARCELA
UPDATE	RATING_PROJETADO
SET		SLD_INSCRITO = SLD_INSCRITO + VLR_PARCELA 
-- somente parcela + PAVLRJR
FROM    (SELECT PANROPER,SUM(PAVLRPR	) AS VLR_PARCELA  
			FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK) 
			-- VENCIDO NO MES
			WHERE	P1.PADTVCTO BETWEEN @DTINI AND @DTREF
				AND P1.PACNTRL =  (SELECT		MAX(P2.PACNTRL) 
										FROM	CDCSANTANAMicroCredito..CPARC P2 (NOLOCK) 
										WHERE	P2.PANROPER=P1.PANROPER
											AND P2.PANRPARC=P1.PANRPARC)
				-- CONSIDERAR PARCELAS VENCIDAS APOS O FECHAMENTO
				AND P1.PADTVCTO >= @DTINI 
			GROUP BY PANROPER ) AS P
WHERE   PANROPER = NUM_OPE
	--	REGRA DE APROPRIACAO : O SALDO NAO MUDA APOS 60 D	********** ALTERADO 10/10/16
	AND NVL_RISCO <=  'C'  -- ACIMA DE 60 D  O SALDO CONTABIL EH CONGELADO, SOMENTE EM CASO DE PGTO DIMINUI

	-- NAO LIQUIDADO NO MES
	-- VENCIDO NO MES	
	-- AND DTVENCPARC <= @DTREF





-- VOLTEI  12/9/16  ***************************** CONSIDERA O FINANCEIRO
UPDATE	RATING_PROJETADO
-- NAO DEIXO O SALDO FICAR NEGATIVO QDO A PARCELA É MAIOR Q O SALDO, MANTEM O SALDO
SET		SLD_INSCRITO = CASE WHEN SLD_INSCRITO - VLR_PARCELA_PAGA >0 THEN SLD_INSCRITO - VLR_PARCELA_PAGA
							ELSE SLD_INSCRITO END
FROM    (SELECT PANROPER,SUM(PAVLRPR	+ PAVLRJR) AS VLR_PARCELA_PAGA
			FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK) 
			-- PAGO NO MES
			WHERE	P1.PADTLIQ BETWEEN @DTINI AND @DTREF
				AND P1.PACNTRL =  (SELECT		MAX(P2.PACNTRL) 
										FROM	CDCSANTANAMicroCredito..CPARC P2 (NOLOCK) 
										WHERE	P2.PANROPER=P1.PANROPER
											AND P2.PANRPARC=P1.PANRPARC)
				-- NAO CONSIDERAR PARCELA PULADA AJUSTADA EM JUNHO-14
				-- VCTO ANTES DO FECHAMENTO, JAH FOI CONSIDERADO NO SALDO DO FECHAMENTO. PRECISA RETIRAR O SALDO PAGO!
				-- AND P1.PADTVCTO >= @DTINI 
			GROUP BY PANROPER ) AS P
WHERE   PANROPER = NUM_OPE
AND    NVL_RISCO <> 'HH' -- NAO PODE AJUSTAR O PREJUIZO
	-- NAO LIQUIDADO NO MES
	-- VENCIDO NO MES	
	-- AND DTVENCPARC <= @DTREF

-- select max(opdtref) from 		BACENSANTANAMicroCredito..cParcB (NOLOCK) where opnroper = '612123252' and opdtref <='20140613'


-- CORRECAO 10/10/16	********************  SE DT SALDO CONTABIL FOR MAIOR Q O FECHAMENTO DA PDD
-- *******************  SALDO INICIAL
IF @DT_SALDO >  @DTFECHA   --  AND  @DTREF >= @DT_SALDO   -- JAH CONSIDERADO NO 
BEGIN

	-- OTIMIZADO EM 22/08/16		***************************
	-- DECLARE @DT_SALDO DATETIME SET @DT_SALDO='20160731'	DECLARE @DTREF DATETIME SET @DTREF ='20160721'
	UPDATE	RATING_PROJETADO
		SET SLD_INSCRITO = (SELECT	SUM(OPVLRPR+Opvlrjr	) AS VLR_PARCELA   	FROM BACENSANTANAMicroCredito..cParcB (NOLOCK) 
				where Opdtref = @DT_SALDO AND OPNROPER=RATING_PROJETADO.NUM_OPE	 ) 
	WHERE	RATING_PROJETADO.DT_FECHA= @DTREF
		-- INCLUIDO 12/9/16 P/ EVITAR PERDA DE SALDOS
		AND	(SELECT	SUM(OPVLRPR+Opvlrjr	) AS VLR_PARCELA   	FROM BACENSANTANAMicroCredito..cParcB (NOLOCK) 
				where Opdtref = @DT_SALDO AND OPNROPER=RATING_PROJETADO.NUM_OPE	 ) IS NOT NULL

END

/*
UPDATE	RATING_PROJETADO
	SET SLD_INSCRITO = S.VLR_PARCELA 
FROM  (SELECT	OPNROPER,SUM(OPVLRPR+Opvlrjr	) AS VLR_PARCELA   	FROM BACENSANTANAMicroCredito..cParcB (NOLOCK) 
			where Opdtref = @DT_SALDO
			GROUP BY OPNROPER  ) AS S
WHERE	RATING_PROJETADO.DT_FECHA= @DTREF
	AND	S.OPNROPER = RATING_PROJETADO.NUM_OPE
--	AND NVL_RISCO NOT IN ('HH')		-- PREJUIZO TB ATUALIZA O SALDO
*/

/*
SELECT * FROM RR_PRJ_CONTRATO_2M WHERE DT_FECHA='20140613' AND NUM_OPE = '612050161A'
SELECT * FROM RR_PRJ_CONTRATO_2M WHERE DT_FECHA='20140613' AND NVL_RISCO='HH' AND NVL_RISCO_ANT <>'HH'
select * from 		BACENSANTANAMicroCredito..cParcB (NOLOCK) where opnroper = '612050161A' and opdtref ='20140613'
612111680
SELECT * FROM RR_PRJ_CONTRATO_2M WHERE DT_FECHA='20140613' AND NUM_OPE= '612123252'
-- ajusta o saldo se houver o contabil mais atual
-- select max(opdtref) from 		BACENSANTANAMicroCredito..cParcB (NOLOCK) where opnroper = '612123252' and opdtref <='20140613'
-- select opRRFJR,* from 		BACENSANTANAMicroCredito..cParcB (NOLOCK) where opnroper = '612123252' and opdtref ='20140613'
-- opvlrpr 7111,08	 opvlrjr 1552,36 oprrfjr 749,71
-- SELECT * FROM RR_PRJ_CONTRATO_2M
-- select sum(opRRFJR) from 		BACENSANTANAMicroCredito..cParcB (NOLOCK) where opnroper = '612123252' and opdtref ='20140531'


-- SELECT PANROPER,(PAVLRPR+pavlrjr	) AS VLR_PARCELA,*   	FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK) where panroper = '612123252'  and padtliq is null and-- padtvcto <='20140613' and
pacntrl = (select max(pacntrl) from CDCSANTANAMicroCredito..CPARC P2 (NOLOCK) where panroper = '612123252' and p1.panrparc=p2.panrparc)

select * from RR_PRJ_CONTRATO_2M WHERE DT_FECHA='20140613' and num_ope='612123252'


-- SELECT PANROPER,(PAVLRPR+pavlrjr	) AS VLR_PARCELA,*   	FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK) where panroper = '612123252'  and padtliq is null and-- padtvcto <='20140613' and
pacntrl = (select max(pacntrl) from CDCSANTANAMicroCredito..CPARC P2 (NOLOCK) where panroper = '612123252' and p1.panrparc=p2.panrparc)

-- SELECT PANROPER,(PAVLRPR	) AS VLR_PARCELA,*   	FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK) where panroper = '612123252'  and padtliq is null and padtvcto >='20140613' and
pacntrl = (select max(pacntrl) from CDCSANTANAMicroCredito..CPARC P2 (NOLOCK) where panroper = '612123252' and p1.panrparc=p2.panrparc)

-- ALTERADO 13/6/2014		AJUSTA O SALDO QDO HOUVER VENCIMENTO DE PARCELA
UPDATE	RATING_PROJETADO
SET		SLD_INSCRITO = VLR_PRESENTE
FROM	(
	-- DECLARE @DTREF SMALLDATETIME SET @DTREF ='20140613'
		SELECT	B.PANROPER,
				   SUM(CASE
-- OPDTLIQ
					   WHEN (A.OPVLRPARC / POWER(((A.OPTXJRAP / 100.0) + 1.0), (DATEDIFF(DAY, @DTREF, B.PADTVCTO) / 360.00000000))) > A.OPVLRPARC THEN

							ISNULL(A.OPVLRPARC,0.0)

					   ELSE

							(A.OPVLRPARC / POWER(((A.OPTXJRAP / 100.0) + 1.0), (DATEDIFF(DAY, @DTREF, B.PADTVCTO) / 360.00000000)))

					   END)   as 'VLR_PRESENTE'

-- SLD_INSCRITO + VLR_PARCELA 
-- somente parcela + PAVLRJR
	FROM    CDCSANTANAMicroCredito..COPER A (NOLOCK) ,
		(SELECT PANROPER,panrparc, PADTVCTO
			FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK) 
			-- VENCIDOS E  NAO PAGOS.    SEM VINCENDAS!
			WHERE	P1.PADTVCTO <= @DTREF				AND 
					(P1.PADTLIQ IS NULL  OR P1.PADTLIQ <= @DTREF )  -- NAO PAGOS
				AND P1.PACNTRL =  (SELECT		MAX(P2.PACNTRL) 
										FROM	CDCSANTANAMicroCredito..CPARC P2 (NOLOCK) 
										WHERE	P2.PANROPER=P1.PANROPER
											AND P2.PANRPARC=P1.PANRPARC) 
				-- CONSIDERAR PARCELAS VENCIDAS APOS O FECHAMENTO
				-- AND P1.PADTVCTO <= @DTREF   -- SOMENTE VENCIDAS


				 ) AS B
	WHERE   b.PANROPER = A.OPNROPER
--AND PANROPER = '63215866'

GROUP BY B.PANROPER 
		)		AS CONTR
WHERE CONTR.PANROPER = NUM_OPE
	AND NVL_RISCO NOT IN ('HH')
--	AND A.OPNROPER = NUM_OPE

 */
END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
