set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


-- MENSAL
-- ***************************************
ALTER Procedure [dbo].[SPR_PRODUCAO_DIARIA] 
 (@DTREF1  SMALLDATETIME )	AS  

BEGIN

DECLARE @DTREF  AS SMALLDATETIME
SET @DTREF = @DTREF1


DECLARE @DTINI  AS SMALLDATETIME
DECLARE @DTFIM  AS SMALLDATETIME
DECLARE @DTM1   AS SMALLDATETIME

SET @DTINI = CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'

SET @DTM1 = DATEADD(M,2,@DTINI)
SET @DTM1 = DATEADD(DD,-1,@DTM1)

SET @DTM1 = DATEADD(M,2,@DTINI)
SET @DTM1 = DATEADD(DD,-1,@DTM1)

-- FIM DO MES ANTERIOR
-- SET		@data_ANT=DATEADD(DD,-1,@data_ANT)


DELETE FROM RATING_PROJETADO
-- DELETE FROM RATING_PROJETADO_PARC

-- COPIA O ULTIMO FECHAMENTO
-- DECLARE @DTFECHA SMALLDATETIME SET @DTFECHA='2014-04-30'
/*
SP_HELP RATING_PROJETADO
INSERT RATING_PROJETADO
(DT_REF,
NUM_OPE,
DT_BASE,
NVL_RISCO,
NOM_CLI,	-- ANO MODELO
DT_VCTO1,
SLD_INSCRITO,
VLR_PRINC, -- VLR PARCELA
VL_JUROS, -- COD LOJA
TX_RAP,  -- TX 
RRF_JR,  -- RENDA
VLR_FV,  
PERC_PDD,
VLR_PDD,
Atraso, --COD OPER
parc,  -- SIT
dtVencParc,
AGENTE,
COBRADORA,
DT_FECHA,
DT_VCTO1P,  
CODCLI,
CODPROD,
ADECORRER	-- PLANO EM MESES
PLANO   -- QTDE DIAS
ATRASO_RENEG
OPDTVCTO
 )
*/
-- P1
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES   TABELA AUXILIAR
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-05-29'
-- SELECT * FROM RATING_PROJETADO WHERE NUM_OPE='89313224'
-- ******************									OK
INSERT	RATING_PROJETADO 
		(NUM_OPE,DT_BASE,
		NVL_RISCO,SLD_INSCRITO, -- VLR OPERADO
		VLR_PRINC,  -- VLR PARCELA
		VL_JUROS,	-- COD LOJA
		TX_RAP,  -- TX CONTRATO

		--CODOPER,
		AGENTE,  -- COD OPERADOR, COD AGENTE
		ATRASO,  -- COD OPERADOR, 
		parc,  -- SIT
		DT_FECHA, 
		ADECORRER, -- PLANO EM MESES
		PLANO,   -- PRAZO EM DIAS

		CODCLI,
		CODPROD,
		COBRADORA,   -- COM O COD MODALIDADE
		RRF_JR,  -- RENDA DO CLIENTE
		VLR_FV	 )   -- RETORNO
		-- OPVLRFIN VLR OPER
SELECT	OPNROPER, OPDTBASE,
		 'AA', OPVLROPCZ, -- VLR OPERADO
		OPVLRPARC,   -- VLR PARCELA NO VLR_PRINC
		OPCODORG4,   -- COD LOJA EM VL_JUROS
		OPTXJRCL, -- OPTXNET, OPSPREAD  EM TX_RATP
		
		OPCODORG3,	-- OPERADOR DEPOIS TRANSF AGENTE
		OPCODORG3   -- OPERADOR NO ATRASO
		, '' -- SITUACAO DA LOJA NO CAMPO PARC
		, @DTREF
		, OPQTDDPARC -- PLANO EM MESES
		, DATEDIFF(DD,OPDTBASE,OPDTVCTO)  -- PRAZO EM DIAS
		--OPQTDDPARC -- PLANO
		
		, OPCODCLI, OPCODPROD  -- PRODUTO
		, OPCODOP  -- MODALIDADE NO COBRADORA
		,0.0  --RENDA
		, OPDESPESA4 -- RETORNO
		
-- SELECT DATEDIFF(DD,OPDTBASE,OPDTVCTO),* 
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	-- PRODUCAO
			CONVERT(VARCHAR(8),OPDTBASE,112) = @DTREF
		--   LISTA COM MODALIDADES DO PRODUTO VEIC
		AND (OPCODOP IN (SELECT	M.COD_MODA
						FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
							AND T.COD_PROD = 'V' )
		OR	OPCODOP IN (751, 752 ) ) -- RENEG


			-- SOMENTE VEICULOS  anterior
		--AND OPCODOP IN (552,610,612,630,632,642,643,670,672,700,751,752,760,862,893,553,894 , 800)
		-- se nao for renegociacao
		-- AND RIGHT(OPNROPER,1) NOT IN ('A','B')
/*
			AND	OPCODOP  IN (550,551,    552,553, 610,  611 , 612, 613 ,  630, 631,632 ,633,  640, 641  ,642,643,670,672,700,  751,752, 760,   860, 861, 863, 862,  893,894,
							800,	200,201, 250,251,   400,401,450,451  ,500,501,  600,601,  650,651, 671, 673, 720,   741,742
, 554,555, 800,801, 802,890, 891,892)		*/

		-- COD DO AGENTE ********************	
		UPDATE	RATING_PROJETADO
		SET		AGENTE		= ISNULL(OP.O3CODORGA13,'') -- ISNULL(A.COD_AGENTE,'')
		FROM	CDCSANTANAMicroCredito..TORG3 OP (NOLOCK) 
		WHERE	AGENTE = O3CODORG  -- OPERADOR
		-- OPERADOR AGENTE= OPCODORG3
		
		UPDATE	RATING_PROJETADO
		SET		AGENTE	='' WHERE AGENTE IS NULL


		-- RATING DO HISTORICO ********************
		UPDATE	RATING_PROJETADO
		SET		NVL_RISCO		= ISNULL(OP.NVL_RISCO,'') -- RETORNO
		FROM	RATING_HISTORICO OP (NOLOCK) 
		WHERE	RATING_PROJETADO.NUM_OPE = OP.NUM_OPE  -- OPERADOR

		-- RATING DO HISTORICO ********************
		UPDATE		RATING_PROJETADO
		SET		Nom_cli = ISNULL(ABANOMOD,'S/INF')  -- com Ano Modelo
		FROM	CDCSANTANAMicroCredito..CBFIN B (NOLOCK)
		WHERE	NUM_OPE= B.ABNROPER
			AND B.ABCNTRL = (SELECT		MAX(BX.ABCNTRL) 
								FROM	CDCSANTANAMicroCredito..CBFIN BX (NOLOCK) 
								WHERE	BX.ABNROPER = B.ABNROPER )
			AND B.ABNRGAR = '01'


		-- RENDA DO CLIENTE ********************
/*
		UPDATE		RATING_PROJETADO
		-- RENDA + RENDA COMPLEMENTAR
		SET		RRF_JR = ISNULL(CLRENDA,0.0) +ISNULL(CLRENDACPV,0.0) -- com Ano Modelo
-- SELECT *
		FROM	PROPWEBSMC..cclip B (NOLOCK)
				--CDCSANTANAMicroCredito..CCLIE B (NOLOCK)
		WHERE	CODCLI= B.CLCODCLI
*/

--SELECT CLRENDACPV,* FROM PROPwEBsmc..CCLIP

/*

			
		-- VLR DO RETORNO ********************	 NA TABELA DE DESPESA
		UPDATE	RATING_PROJETADO
		SET		VLR_PDD		= ISNULL(OP.O3CODORGA13,0.0) -- RETORNO
		FROM	CDCSANTANAMicroCredito..T OP (NOLOCK) 
		WHERE	NUM_OPE = O3CODORG  -- OPERADOR




-- FALTOU CARTEIRA 80 = REFIN UTILIT 
-- CODOP 800
SELECT * FROM CDCSANTANAMicroCredito..TMODA WHERE TOCODCART=80
		-- NOME DO AGENTE ********************	
		UPDATE	RATING_PROJETADO
		SET		AGENTE		= ISNULL(A.A13DESCR,'') --ISNULL(A.agente,'')
		FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)
		WHERE	AGENTE = A13CODORG --a.COD_agente  -- CONTEM CODIGO

		UPDATE	RATING_PROJETADO
		SET		AGENTE	='' WHERE AGENTE IS NULL
*/


			-- P1 VCTO OPDT1VCTO
--		AND OPNROPER = PANROPER
--		AND CONVERT(INT,PANRPARC) = 1 
--		AND CONVERT(VARCHAR(8),PADTVCTO,112) BETWEEN @DTINI AND @DTFIM   -- VENCIDO NO PERIODO, APOS FECHAMENTO
		-- AND CONVERT(VARCHAR(8),PADTVCTO,112) BETWEEN '20140501' AND '20140531'   -- VENCIDO NO PERIODO, APOS FECHAMENTO
		-- se nao existem NO ARQUIVO
		-- AND OPNROPER NOT IN (SELECT NUM_OPE FROM	RATING_PROJETADO (NOLOCK) )
		-- ALTERADO 6/8/2014 ********************************************************************
		-- SE FOR RENEGOCIACAO, PRECISA MANTER A DT BASE DA OPERACAO RENEGOCIADA, NAO ORIGINAL!!


-- SELECT *	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)	WHERE	OPDT1VCTO BETWEEN '20140801' AND '20140831' AND OPDTLIQ1 IS NULL
-- DT VENCTO P1 = OPDT1VCTO
-- SOMENTE VEICULOS FILTRAR OPCODOP
-- OPDTBASE BETWEEN '20140801' AND '20140831'  -- DT CONTRATO
	--OPDTBASE BETWEEN @DTINI AND @DTFIM	AND
--		CONVERT(VARCHAR(8),OPDTBASE,112) BETWEEN @DTINI AND @DTFIM 

/*
 SELECT *	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK),
					CDCSANTANAMicroCredito..CPARC P (NOLOCK)
	WHERE	OPDT1VCTO BETWEEN '20140801' AND '20140831'  --AND OPDTLIQ1 IS NULL
		AND P.PANROPER=O.OPNROPER AND P.PANRPARC=1

SELECT *	FROM	RATING_PROJETADO
*/

UPDATE	RATING_PROJETADO 
	SET DT_VCTO1P = PADTLIQ,  -- USAR PARA PAGTO
		-- ATRASO 
		ATRASO = CASE WHEN  PADTLIQ IS NULL THEN --DATEDIFF(DD,PADTVCTO,'20140430') ELSE 0 END
							DATEDIFF(DD,PADTVCTO,@DTM1) ELSE 0 END
	FROM	RATING_PROJETADO O (NOLOCK),
			CDCSANTANAMicroCredito..CPARC P (NOLOCK)
	WHERE	O.NUM_OPE =P.PANROPER
		AND P.PANRPARC=1		-- PARCELA 1 *********************
		AND P.PACNTRL = (SELECT MAX(P1.PACNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
							WHERE P1.PANROPER= P.PANROPER AND P1.PANRPARC = P.PANRPARC)

-- ZERA OS DADOS PARA PROJETAR
UPDATE	RATING_PROJETADO
SET		DT_FECHA=@DTREF

/*
-- SP_HELP RATING_HISTORICO
DROP   TABLE SPREAD_HISTORICO
CREATE TABLE SPREAD_HISTORICO (
DT_FECHA	smalldatetime,
NUM_OPE		varchar(50),
DT_BASE		smalldatetime,
VLR_OP		float,
VLR_PARC	float,
PRAZO		int,
TAXA		float,
RETORNO		FLOAT,
TAXA_SEM_RET	float,

ATRASO		int,
dtVencParc	smalldatetime,
DT_PAGTO	smalldatetime,
RENEGOCIADO	INT,  -- 0 OU 1
RATING	varchar(2),

CODCLI	varchar(15),
CODPROD	smallint,
CODMODA SMALLINT,
AGENTE		varchar(6),
VEICULO		varchar(20),
ANO_MODELO	VARCHAR(20),
RENDA		FLOAT,
FX_RENDA	VARCHAR(20),
FX_PRAZO	VARCHAR(20)
)

DROP INDEX SPREAD_HISTORICO.SPREAD_HISTORICO_idx1

CREATE INDEX SPREAD_HISTORICO_idx1 ON SPREAD_HISTORICO  
	(DT_FECHA		,
	NUM_OPE			,
	AGENTE			,
	VEICULO			,
	RENEGOCIADO		-- 0 OU 1
		) 


ALTER TABLE  SPREAD_HISTORICO ADD CODOPER VARCHAR(20), CODLOJA VARCHAR(20), TX_X_VLR FLOAT, PRZ_X_VLR FLOAT
ALTER TABLE  SPREAD_HISTORICO ADD PLANO INT

 alter table SPREAD_HISTORICO add  idade float, fx_idade  varchar(50) 

 alter table SPREAD_HISTORICO add  fx_ANO  varchar(50) 

 alter table SPREAD_HISTORICO add  OCUPACAO  varchar(50) 

SELECT * FROM SPREAD_HISTORICO
SPREAD_HISTORICO_SAFRA

-- SP_HELP TSM
DROP   TABLE TSM
CREATE TABLE TSM (
DT_DE		smalldatetime,
VLR_SM		float )

INSERT TSM SELECT '20140101' , 810
SELECT * FROM TSM
*/

-- ARMAZENAR O HISTORICO
DELETE SPREAD_HISTORICO 
	WHERE DT_FECHA=@DTREF
-- PARC=1 AND	
-- SP_HELP SPREAD_HISTORICO
INSERT SPREAD_HISTORICO 
			(DT_FECHA	,
			NUM_OPE	,
			DT_BASE	,
			VLR_OP	,
			VLR_PARC	,

			PRAZO	,--	int,
			TAXA	,--	float,
			RETORNO	,--	FLOAT,
			TAXA_SEM_RET,--	float,

			ATRASO	 ,--	int,
			dtVencParc,--	smalldatetime,
			DT_PAGTO,--	smalldatetime,
			RENEGOCIADO,--	INT,  -- 0 OU 1
			RATING,--	varchar(2),

			CODCLI,--	varchar(15),
			CODPROD,--	smallint,
			CODMODA,	-- MODALIDADE
			AGENTE,--		varchar(6),
			VEICULO,--		varchar(20)
			ANO_MODELO,--	VARCHAR(20),
			RENDA, --		FLOAT,
			--FX_RENDA--	INT
			--CODOPER VARCHAR(20), CODLOJA VARCHAR(20), TX_X_VLR FLOAT, PRZ_X_VLR FLOAT		
			CODOPER , --VARCHAR(20), 
			CODLOJA ,
			PLANO)
	SELECT	dt_fecha,num_ope,
			DT_BASE, 
			SLD_INSCRITO,
			VLR_PRINC,

			PLANO,		-- PRAZO EM DIAS
			TX_RAP,
			VLR_FV,  -- RETORNO
			0.0,

			ATRASO,
			dtVencParc,
			DT_VCTO1P,  -- USAR PARA PAGTO
			CASE WHEN RIGHT(num_ope,1) IN ('A','B') THEN 1 ELSE 0 END, -- RENEGOCIADO
			'',  -- RATING


			CODCLI,
			CODPROD ,
			COBRADORA, -- CONTEM A MODALIDADE
			AGENTE,
			'',
			NOM_CLI, --ANO_MODELO,--	VARCHAR(20),
			RRF_JR, --	CONTEM RENDA
			--FX_RENDA--	INT
			Atraso,		-- COM COD OPERADOR
			VL_JUROS	--COD LOJA
			, ADECORRER -- PLANO EM MESES
 FROM RATING_PROJETADO
		--WHERE DT_VCTO1P IS NULL OR DT_VCTO1P> @DTM1

-- ACERTA OPERADOR *********************************************************
UPDATE		SPREAD_HISTORICO 
	SET 	CODOPER=OPCODORG3 -- COD OPERADOR
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		AND SPREAD_HISTORICO.NUM_OPE =O.OPNROPER


-- ACERTA RENDA ********************************************************* ACRESCENTA OUTRAS RENDAS
UPDATE		SPREAD_HISTORICO 
	SET 	RENDA=	ISNULL(C.CLRENDA,0.0)
	FROM 	CDCSANTANAMicroCredito..CCLIE C (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		AND SPREAD_HISTORICO.CODCLI =C.CLCODCLI
-- RENDA OUTRAS
UPDATE		SPREAD_HISTORICO 
	SET 	RENDA=	ISNULL(RENDA,0.0) + ISNULL(clOutrenda,0.0)
	FROM 	PROPWEBSMC..cclip C (NOLOCK)
	--FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		AND SPREAD_HISTORICO.CODCLI =C.CLCODCLI


-- RENEGOCIADOS , INCLUIR CARTEIRA 75 ****************************************
UPDATE		SPREAD_HISTORICO 
	SET 	VEICULO='RENEGOCIACAO',
			RENEGOCIADO=1
	FROM	--CDCSANTANAMicroCredito..COPER O (NOLOCK),
			CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		and CODMODA = M.TOCODOP
		--AND SPREAD_HISTORICO.NUM_OPE =O.OPNROPER
		--aND O.OPCODOP=M.TOCODOP		-- MODALIDADE *********************
		AND M.TOCODCART = 75		-- CARTEIRA DE RENEGOCIACAO	 75 	
-- SELECT * FROM 	CDCSANTANAMicroCredito..COPER O (NOLOCK)
-- SELECT * FROM 	CDCSANTANAMicroCredito..TMODA O (NOLOCK) -- TOCODCART = 75
-- SELECT * FROM 	CDCSANTANAMicroCredito..TCART O (NOLOCK) -- 75 = RENEGOCIACAO


-- PRAZO EM DIAS, PLANO EM MESES
-- FAIXA DE PRAZO ****************************************
UPDATE	 SPREAD_HISTORICO 
SET		 FX_PRAZO=  (SELECT DESCR FROM FX_PLANO P (NOLOCK)
				WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
									WHERE	P1.DT_DE <=   @DTREF)
				AND SPREAD_HISTORICO.PLANO BETWEEN P.DE AND P.ATE)
	WHERE	DT_FECHA=@DTREF



/* antes de 2015/8 fixa
UPDATE	 SPREAD_HISTORICO 
SET		 FX_PRAZO=  (SELECT DESCR FROM FX_PLANO P (NOLOCK)
				WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
									WHERE	P1.DT_DE <=   '20150816')
				AND SPREAD_HISTORICO.PLANO BETWEEN P.DE AND P.ATE)
	WHERE	DT_FECHA between '20150101' and '20150816'


-- FAIXA DE PRAZO ****************************************
UPDATE		SPREAD_HISTORICO 
	SET 	FX_PRAZO= CASE	WHEN PLANO BETWEEN  1 AND 12 THEN '1 A 12'
							WHEN PLANO BETWEEN 13 AND 18 THEN '13 A 18'
							WHEN PLANO BETWEEN 19 AND 24 THEN '19 A 24'
							WHEN PLANO BETWEEN 25 AND 36 THEN '25 A 36'
							WHEN PLANO BETWEEN 37 AND 48 THEN '37 A 48'
					  END	
	WHERE	DT_FECHA=@DTREF		*/


-- FAIXA DE RENDA ****************************************
-- SELECT DT_DE,VLR_SM FROM TSM 
UPDATE		SPREAD_HISTORICO 
	SET 	FX_RENDA= CASE	WHEN RENDA/S.VLR_SM <= 1.0  THEN '1- Até 1 SM'
							WHEN RENDA/S.VLR_SM > 1.0 AND RENDA/S.VLR_SM <= 2.0 THEN '2- De 1 a 2 SM'
							WHEN RENDA/S.VLR_SM > 2.0 AND RENDA/S.VLR_SM <= 3.0 THEN '3- De 2 a 3 SM'
							WHEN RENDA/S.VLR_SM > 3.0 AND RENDA/S.VLR_SM <= 5.0 THEN '4- De 3 a 5 SM'
							WHEN RENDA/S.VLR_SM > 5.0 AND RENDA/S.VLR_SM <= 10.0 THEN '5- De 5 a 10 SM'
							WHEN RENDA/S.VLR_SM > 10.0 AND RENDA/S.VLR_SM <= 20.0 THEN '6- De 10 a 20 SM'
							WHEN RENDA/S.VLR_SM > 20.0							 THEN '7- Mais de 20 SM'
					  END	
			--RENEGOCIADO=0
	FROM	(SELECT S1.DT_DE,VLR_SM FROM TSM S1 (NOLOCK) WHERE S1.DT_DE = (SELECT MAX(DT_DE) FROM TSM S2 (NOLOCK)
				WHERE S2.DT_DE <= @DTREF ) ) AS S
	WHERE	DT_FECHA=@DTREF


-- TIPO DE VEICULO = PRODUTO
-- DECLARE @DTREF  SMALLDATETIME  SET @DTREF = '20140131'
-- alter table COMERCIAL_PRODUCAO alter column veiculo varchar(40)
-- SP_HELP SPREAD_HISTORICO
UPDATE	SPREAD_HISTORICO
SET		VEICULO = CASE	WHEN DESCR_TIPO= 'Automatico' THEN 'LEVES'
						--WHEN DESCR_TIPO= 'Refinanciamento Utilitarios'	THEN 'Refinanciamento'
						ELSE DESCR_TIPO END
FROM	Ttipo_prod		T (NOLOCK), 
		TModa_tipo_prod M (NOLOCK)  
WHERE	DT_FECHA		 = @DTREF
--	AND	PRODUTO			 = 'V'		-- VEICULOS
	AND	M.COD_PROD		 = 'V'		-- VEICULOS
	AND M.COD_PROD		 = T.COD_PROD 
	AND T.COD_MODALIDADE = M.COD_MODALIDADE 
	AND SPREAD_HISTORICO.CODMODA = M.COD_MODA

/* -- antigo
UPDATE SPREAD_HISTORICO 
	SET 	VEICULO=CASE	WHEN CHARINDEX('LEVES',ISNULL(P.TPDESCR,'')) > 0  THEN 'LEVES'
							WHEN CHARINDEX('MOTOS',ISNULL(P.TPDESCR,'')) > 0  THEN 'MOTOS'	
							WHEN CHARINDEX('CAMINH',ISNULL(P.TPDESCR,''))+
							 	 CHARINDEX('UTILIT',ISNULL(P.TPDESCR,'')) > 0 THEN 'UTILITARIO'	
							ELSE 'LEVES' END
 FROM		CDCSANTANAMicroCredito..TPROD P (NOLOCK)
	WHERE	DT_FECHA=@DTREF
			AND	CODPROD = CONVERT(INT,P.TPCODPRD)
		--AND	P123_HISTORICO.NUM_OPE = OPNROPER


-- REFINANCIAMENTO , INCLUIR CARTEIRA 80 ****************************************
-- REFIN UTILITARIOS
UPDATE		SPREAD_HISTORICO 
	SET 	VEICULO='REFINANCIAMENTO',
			RENEGOCIADO=0
	FROM	--CDCSANTANAMicroCredito..COPER O (NOLOCK),
			CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		--AND SPREAD_HISTORICO.NUM_OPE =O.OPNROPER
		--AND O.OPCODOP=M.TOCODOP		-- MODALIDADE *********************		
		AND CODMODA = M.TOCODOP
		AND M.TOCODCART = 80		-- CARTEIRA DE REFINANCIAMENTO	 80 	


-- REFINANCIAMENTO
UPDATE		SPREAD_HISTORICO 
	SET 	VEICULO=CASE WHEN LEFT(NUM_OPE,2) ='89' THEN 'REFINANCIAMENTO' ELSE VEICULO END
	WHERE	DT_FECHA=@DTREF
-- RENEGOCIADOS DEPOIS
-- RENEGOCIACAO
UPDATE		SPREAD_HISTORICO 
	SET 	VEICULO=CASE WHEN RENEGOCIADO > 0 THEN 'RENEGOCIACAO' ELSE VEICULO END
	WHERE	DT_FECHA=@DTREF


-- VEICULO POR MODALIDADE
-- SELECT * FROM 		CDCSANTANAMicroCredito..TPROD P (NOLOCK)
-- SELECT * FROM 		SPREAD_HISTORICO WHERE DT_FECHA='20140131'
UPDATE		SPREAD_HISTORICO 
	--SET 	VEICULO=CASE WHEN RENEGOCIADO > 0 THEN 'RENEGOCIACAO' ELSE VEICULO END
	SET 	VEICULO=CASE	WHEN CHARINDEX('VEIC',ISNULL(P.TONOMEOP,'')) > 0  THEN 'LEVES'
							WHEN CHARINDEX('AUTOM',ISNULL(P.TONOMEOP,'')) > 0  THEN 'LEVES'
							WHEN CHARINDEX('MOTOS',ISNULL(P.TONOMEOP,'')) > 0  THEN 'MOTOS'	
							WHEN CHARINDEX('CAMINH',ISNULL(P.TONOMEOP,''))+
							 	 CHARINDEX('UTILIT',ISNULL(P.TONOMEOP,'')) > 0 THEN 'UTILITARIO'	
							ELSE 'LEVES' END
-- SELECT *
 FROM		CDCSANTANAMicroCredito..TMODA P (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		AND VEICULO = ''
		AND CODMODA = TOCODOP
-- SEPARAR A ATUALIZACAO DOS PGTOS DAS PARCELAS
-- PROCESSAR 4 MESES DEPOIS DA PRODUCAO (DT REF)

-- RENEG FINAL A OU B
UPDATE		SPREAD_HISTORICO
	SET 	VEICULO='RENEGOCIACAO',
			RENEGOCIADO=1
	WHERE	DT_FECHA=@DTREF
		AND RIGHT(NUM_OPE,1) IN ('A','B')

-- Carteira 86 – alterar para renegociação
-- SELECT TOP 50 * FROM SPREAD_HISTORICO_SAFRA (NOLOCK)
UPDATE		SPREAD_HISTORICO
	SET 	VEICULO='RENEGOCIACAO',
			RENEGOCIADO=1
	FROM	CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		AND CODMODA = M.TOCODOP
		AND M.TOCODCART = 86		-- CARTEIRA DE RENEG	 86

-- Carteira 80 e 81 – alterar para refinanciamento
UPDATE		SPREAD_HISTORICO
	SET 	VEICULO='REFINANCIAMENTO',
			RENEGOCIADO=0
	FROM	CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		AND CODMODA = M.TOCODOP
		AND M.TOCODCART IN (80,81)		-- CARTEIRA DE REFINANCIAMENTO	 81, 82
*/



-- ATUALIZAR PARC 1, 2, 3


-- ajusta taxa
--SELECT @TEXTO = 'Taxa CL: ' + RTRIM(LTRIM(STR(@TXJRCLAA,10,4))) + ' a.a.' + ' - ' + RTRIM(LTRIM(STR(((POWER(((@TXJRCLAA/100)+1),(1./12))-1)*100),10,4))) + ' a.m.'
UPDATE SPREAD_HISTORICO
SET	TAXA =( (POWER(((TAXA/100.0)+1.0),(1.0/12.0))-1.0)*100.0)
	WHERE	DT_FECHA = @DTREF

-- SELECT TAXA_SEM_RET,TAXA,* FROM SPREAD_HISTORICO WHERE DT_FECHA='20141231' and retorno=0.0
-- ADECORRER, -- PLANO EM MESES
UPDATE SPREAD_HISTORICO
SET	TAXA_SEM_RET = dbo.Rate(PLANO, vlr_parc,(VLR_OP + RETORNO)) -- EM % *100.0
	WHERE	DT_FECHA = @DTREF

UPDATE SPREAD_HISTORICO   -- QUANDO O RETORNO FOR 0, USAR A TAXA DO FUNCAO
SET	TAXA_SEM_RET = TAXA -- EM % *100.0
	WHERE	DT_FECHA = @DTREF
		AND RETORNO  = 0.0

--ALTER TABLE  SPREAD_HISTORICO ADD CODOPER VARCHAR(20), CODLOJA VARCHAR(20), TX_X_VLR FLOAT, PRZ_X_VLR FLOAT
UPDATE	SPREAD_HISTORICO
SET		TX_X_VLR = 	TAXA_SEM_RET * (VLR_OP + RETORNO)  -- AUXILIAR NO CALCULO DA MEDIA PONDERADA
	,	PRZ_X_VLR = PRAZO * VLR_OP  
	WHERE	DT_FECHA = @DTREF

-- ACERTA IDADE  *********************************************************
UPDATE		SPREAD_HISTORICO 
	SET 	IDADE = (DATEDIFF(DD, CLDtNASC, @DTREF)/365.0)  -- IDADE EM ANOS    FLOAT USAR O NUMERO CALCULADO
	FROM	CDCSANTANAMicroCredito..CCLIE O (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		AND SPREAD_HISTORICO.CODCLI =O.CLCODCLI


/* VARIAS TENTATIVAS
SP_HELP SPREAD_HISTORICO
	SET 	IDADE = CASE	WHEN	DATEPART(MM,CLDtNASC) = DATEPART(MM,@DTREF) AND DATEPART(DD,CLDtNASC) < DATEPART(DD,@DTREF)
							THEN	FLOOR(DATEDIFF(YY, CLDtNASC, @DTREF)) -1  -- AINDA NAO FEZ ANIVERSARIO
							-- JA   FEZ ANIVERS
							WHEN	DATEPART(MM,CLDtNASC) = DATEPART(MM,@DTREF) AND DATEPART(DD,CLDtNASC) >= DATEPART(DD,@DTREF)
							THEN	FLOOR(DATEDIFF(YY, CLDtNASC, @DTREF))  -- IDADE EM ANOS    INT NAO ARREDONDAR
							WHEN	DATEPART(MM,CLDtNASC) < DATEPART(MM,@DTREF) 
							THEN	FLOOR(DATEDIFF(MM, CLDtNASC, @DTREF)/12)  -- IDADE EM ANOS    INT NAO ARREDONDAR
							ELSE	FLOOR(DATEDIFF(MM, CLDtNASC, @DTREF)/12)  -- IDADE EM ANOS    INT NAO ARREDONDAR
							END
	FROM	CDCSANTANAMicroCredito..CCLIE O (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		AND SPREAD_HISTORICO.CODCLI =O.CLCODCLI
*/

-- ACERTA FX IDADE  *********************************************************
UPDATE		SPREAD_HISTORICO 
	SET 	FX_IDADE=CASE	when len(rtrim(codcli))>=13	then '  PJ'
							WHEN IDADE <= 20.0 THEN ' Até 20 anos'  -- antes 23
							WHEN IDADE > 20.0 AND IDADE <= 29.0 THEN '21 a 29 anos'
							WHEN IDADE > 29.0 AND IDADE <= 39.0 THEN '30 a 39 anos'
							WHEN IDADE > 39.0 AND IDADE <= 49.0 THEN '40 a 49 anos'
							WHEN IDADE > 49.0 AND IDADE <= 59.0 THEN '50 a 59 anos'
							WHEN IDADE > 59.0 AND IDADE <= 69.0 THEN '60 a 69 anos'
							WHEN IDADE > 69.0 AND IDADE <= 81.0 THEN '70 a 79 anos'
							END
	WHERE	DT_FECHA=@DTREF
	

-- ************************************ FAIXA DE ANO
-- DECLARE @DTREF SMALLDATETIME SET @DTREF = '20140630'
	UPDATE	SPREAD_HISTORICO
	SET		FX_ANO = FX_ANO.DESCR
	FROM	SPREAD_HISTORICO (NOLOCK) LEFT JOIN 
		 (SELECT * FROM FX_ANO (NOLOCK) WHERE DT_DE = (SELECT	MAX(DT_DE) 
														FROM	FX_ANO A1 (NOLOCK)
														WHERE	A1.DT_DE <=@DTREF)   )  AS FX_ANO
			ON ANO_MODELO BETWEEN FX_ANO.DE AND FX_ANO.ATE
	WHERE	DT_FECHA = @DTREF
	

-- SELECT * FROM FX_ANO (NOLOCK) WHERE DT_DE<='20140630'
-- SELECT MAX(DT_DE) FROM FX_ANO (NOLOCK) WHERE DT_DE<='20141130'


-- NATUREZA DE OCUPACAO  ***********************************
-- select CLCODOCUP from PROPWEBSMC..cclip
	UPDATE	SPREAD_HISTORICO
	SET		OCUPACAO = 		CASE CLCODOCUP 
								  WHEN '01' THEN 'CLT' 
								  WHEN '02' THEN 'AUTONOMO' 
								  WHEN '03' THEN 'APOSENTADO' 
								  WHEN '04' THEN 'EMPRESARIO'
								  WHEN '05' THEN 'PROFISSIONAL LIBERAL'
								  ELSE 'S/ INFO' 
								END 
	FROM 	PROPWEBSMC..cclip C (NOLOCK)
	WHERE	DT_FECHA = @DTREF
		AND	CODCLI = CLCODCLI 

/*

 SELECT * FROM FX_ANO WHERE DATEPART(YYYY,DT_DE)=2014

SELECT	COUNT(*)	FROM SPREAD_HISTORICO_SAFRA 
23880

	SELECT	*	FROM SPREAD_HISTORICO_SAFRA (NOLOCK) LEFT JOIN FX_ANO
			ON ANO_MODELO BETWEEN DE AND ATE


*/

--CREATE FUNCTION dbo.Rate_fn  (@nper MONEY, @pmt  MONEY, @pv MONEY,  @fv MONEY, @tolerance DECIMAL(18,6) = .001,@step DECIMAL(18, 6) = .0001, @maxIterations INT = 1000,@guess DECIMAL(18, 6) = .1)
-- select DBO.Rate_fn(24, 388.44,(5934.07 - 220.8), (24 * 388.44))
-- SELECT (5934.07 - 220.8)
-- SELECT (24 * 388.44)
-- select DBO.Rate_fn(24, 388.44,5713.27, 0.0)
-- select DBO.Rate_fn(24, -388.44,5713.27, 0.0) * 100.0
-- select DBO.Rate(24, 388.44,5713.27) 
/*
UPDATE SPREAD_HISTORICO
SET	TAXA_SEM_RET = DBO.Rate_fn(CONVERT(INT,prazo), (-1.0 * vlr_parc),(VLR_OP - RETORNO), 0.0) * 100.0
	WHERE	DT_FECHA = '20140131'

SELECT TOP 2 DBO.Rate_fn(CONVERT(INT,prazo), (-1.0 * vlr_parc),(VLR_OP - RETORNO), 0.0) * 100.0
FROM SPREAD_HISTORICO
	WHERE	DT_FECHA = '20140131'

SELECT TOP 9 CONVERT(INT,prazo), (-1.0 * vlr_parc),(VLR_OP - RETORNO), DBO.Rate_fn(CONVERT(INT,prazo), (-1.0 * vlr_parc),(VLR_OP - RETORNO), 0.0) 
FROM SPREAD_HISTORICO
	WHERE	DT_FECHA = '20140131'

SELECT TOP 9 VLR_OP , RETORNO, prazo, vlr_parc
FROM SPREAD_HISTORICO
	WHERE	DT_FECHA = '20140131'

select DBO.Rate_fn(48.0,	-557.56,	12789.26,	0.0)
select DBO.Rate(48.0,	557.56,	12789.26)

SELECT * FROM SPREAD_HISTORICO WHERE VEICULO='REFINANCIAMENTO'

 SELECT *
 FROM		CDCSANTANAMicroCredito..coper where opnroper='612065083A'

*/

END

