
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
go
-- EXEC PRC_COMISSAO_CALCULO '20151031'
-- EXEC PRC_COMISSAO_CALCULO '20160131'
-- EXEC PRC_COMISSAO_CALCULO '20160229'
-- ALTER TABLE COMISSAO_ANALITICO ALTER COLUMN PRZ_MEDIO FLOAT
-- ALTER TABLE COMISSAO_ANALITICO ALTER COLUMN PM FLOAT

-- PROC comissao  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_COMISSAO_CALCULO' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_COMISSAO_CALCULO] 
GO

-- MENSAL
-- ***************************************
CREATE Procedure [dbo].[PRC_COMISSAO_CALCULO] 
		 (@DTREF  SMALLDATETIME )	AS  

BEGIN

DECLARE @DTINI  AS SMALLDATETIME
DECLARE @DTFIM  AS SMALLDATETIME
DECLARE @DTPDD  AS SMALLDATETIME

SET @DTINI = CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'
SET @DTFIM = @DTREF
--  SELECT  @DTINI , @DTFIM

-- FECHAMENTO DA PDD
SET @DTPDD = @DTREF
	-- ALTERACAO DT FECHAMENTO ULTIMO DIA DO MES
	IF @DTPDD <= '20140801' -- ANTES AGO/2014
	BEGIN
		-- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES		RISCO
		-- CHECA SE EH DIA UTIL
		SELECT	@DTPDD= CASE  WHEN DATEPART(DW,@DTPDD) = 1 THEN DATEADD(D,-2,@DTPDD)	-- DOMINGO
							  WHEN DATEPART(DW,@DTPDD) = 7 THEN DATEADD(D,-1,@DTPDD)	-- SABADO
							  ELSE @DTPDD					 END
	END
--	SELECT @DTPDD


-- LIMPA PROCESSO ANTERIOR
DELETE FROM COMISSAO_ANALITICO WHERE DT_FECHA = @DTREF

-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES   TABELA AUXILIAR
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-05-29'
-- SELECT * FROM RATING_PROJETADO WHERE NUM_OPE='89313224'
-- ******************									OK
INSERT	COMISSAO_ANALITICO
			(DT_FECHA		, --smalldatetime,
			GRUPO,
			Cod_Cedente,
			Nome_Cedente,
			CODORG3,
			CODMODA,
			DT_OPER,
			TX_NOMINAL,
			TX_PONDERADA,
			FV,

			JUROS,
			IOF,
			PV,
			VLR_LIBERADO,
			NROPER,
			NOSSO_NUM,
			PRZ_MEDIO,
			PM,
			MODAL_ORIGINAL,
			TX_CALCULADA,

			TARIFAS,
			TAC,
			TX_EFET_AUX,
			CUMPRE_META,
			COD_OPERADOR,
			OPERADOR,
			TX_EFET_AUX2,
			TX_PONDERADA2,
			COMISSAO,
			PRC_COMISSAO,

			PRC_TAC,
			DESCONTO,
			TOTAL,
			FIXO,
			REMUNERACAO_TOTAL,
			META,
			PRC_META,
			CUMPRIU_META,
			TX_REDUZIDA,
			TC_UNITARIA,

			PRC_COMISSAO_CLIENTE,
			VLR_REALIZ_GRUPO,
			QTD_GRUPO				 )   
-- DESCONTO
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES   TABELA AUXILIAR
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-06-30'
-- ******************									OK
SELECT	DISTINCT
		@DTREF,	
		'',
		O.Cednte_Cedn,	--CODCLI		, --varchar(15),
		O.CEDNTE_NOME,
		'',--OPERC_COD,
		O.ParDIV_cod  ,   -- MODALIDADE NO COBRADORA  CODMODA		, --smallint,
		O.bordro_dat_MOVatu,	-- DT 		--O.TITLO_DAT_ENTR,		-- DT
		O.bordro_Tax_CustOPER,	 -- OPTXNET, OPSPREAD  EM TX_RATP
--		O.bordro_tax_custoper,	-- tx am	 --TAXA_SEM_RET	, --float,
		0.0,		-- TX PONDERADA
		O.bordro_vlr_bord,  	 -- VLR_FUTURO		 float
		--bordro_vlr_TitABERT,		

		0.0, -- JUROS
		0.0, -- TITLO_VLR_IOF_QTDMDA,	-- IOF
		-- VP = vf - VLR Juros 
		0.0  ,		 -- VLR_PRESENTE	, --float,
		-- Valor Liberado   -Juros - 	 IOF 
		O.bordro_vlr_bord- 	O.bordro_vlr_tarifa - 	 O.bordro_vlr_tac ,	
		O.bordro_num, -- NROPER
		0.0, -- TITLO_NOSS_NUM,				-- NOSSO NUM
		'',  --DATEDIFF(DD,TITLO_DAT_VENC,TITLO_DAT_ENTR),  -- PRAZO EM DIAS PRAZO		, --int,
		'',  -- PM
		O.Bordro_Prod,  --O.ParDIV_cod,	 -- MODAL ORIGIN  ************** ALTERADO 8/7/16
		0.0,	-- TX

		O.bordro_vlr_tarifa,	 -- VLR_TARIFA		, --float,
		O.bordro_vlr_tac,	    	 -- VLR_TC			, --float,
		0.0,		-- TX EFET
		'',			-- CUMPRE META
		'',			-- OPERC_COD,	-- COD OPER
		'',			-- OPER
		0.0, 0.0 ,  -- TX
		0.0,	0.0, -- COMISS

		0.0, 0.0, 0.0,  0.0, 0.0,0.0,  0.0,
		'',
		0.0, 0.0, 

		0.0,  0.0,0.0
		
/*
--		1,  --PLANO		, --INT,		
		CASE	WHEN O.PARDIV_COD =4		  THEN  2 --'DPC'
				WHEN O.PARDIV_COD IN (3)	  THEN  1 --'CHEQUES'  7 não é mais cheque
				WHEN O.PARDIV_COD IN (2,7,10) THEN  1 --'DUPLICATAS' 7 é duplicata
				ELSE 1
				END, -- PLANO

		O.bordro_vlr_bord,		-- VLR OPERADO  VP
		0.0,   -- VLR PARCELA NO VLR_PRINC

		-- RECEITA = JUROS
		0.0,		 -- VLR_RECEITA		, --float,


		 -- RETORNO VLR_LIBERADO	, --float,

		0.0,		 -- VLR_IOF			, --float,
		0.0,		 -- VLR_FIPE		, --float,

		0,			 -- SCORE		, --INT,


		--TAXA		, --float,


		0,--ATRASO		, --int,
		0,--dtVencParc	, --smalldatetime,
		'',--DT_PAGTO	, --smalldatetime,
		0, --RENEGOCIADO	, --int,
		ISNULL(O.Bordro_Niv_Risco_Aplic,''), --RATING		, --varchar(2),

		O.ctlCart_Cod,    -- PRODUTO CODPROD		, --smallint,

		--(SELECT espc_cod  FROM FinSGRDBS..tb_TITLO T (NOLOCK) WHERE T.BORDRO_NUM= O.BORDRO_NUM), CF ATT

		0,			-- AGENTE		, --varchar(6),
		-- MODALIDADE  		-- Espc_cod no Tb_titlo
		'', 
		''  ,  -- OPERADOR  CODOPER		, --varchar(20),
		'',   -- COD LOJA  CODLOJA		, --varchar(20),
		'',    -- ANO_MODELO	, --varchar(20),
		0.0 ,  -- TX_X_VLR	, --float,
		0.0 ,  -- PRZ_X_VLR	, --float,
		0      -- BORDERO		  --INT
		, '','', '',0.0,0.0 ,0.0 --   FX_ANO , FX_PLANO ,  NVL_RISCO ,  PLANO_X_VLR ,  TAXA_AA ,	TX_AA_X_VLR	
*/
	FROM		FinSGRDBS..tb_bordro O (NOLOCK)
--		JOIN	FinSGRDBS..tb_TITLO  T (NOLOCK) ON	O.CEDNTE_CEDN = T.CEDNTE_CEDN 	AND O.BORDRO_NUM  = T.BORDRO_NUM
	WHERE	-- PRODUCAO
				O.bordro_dat_MOVatu BETWEEN @DTINI AND @DTFIM 
			AND O.CtlCART_COD =11 
			--	T.TITLO_DAT_ENTR BETWEEN @DTINI AND @DTFIM 


-- ALTERACAO P/ CORRIGIR PROBLEMA NO DESCONTO, OPERACAO NAO FINALIZADA ************* 11/05/2016  ************
IF @DTINI = '20160401' --04/05/2016 00:00:00
BEGIN
	-- MOVIMENTADO EM MAIO/16 MAS OPERACAO DE ABR/16 ***********
	INSERT	COMISSAO_ANALITICO
	SELECT	DISTINCT
		@DTREF,	
		'',
		O.Cednte_Cedn,	--CODCLI		, --varchar(15),
		O.CEDNTE_NOME,
		'',--OPERC_COD,
		O.ParDIV_cod  ,   -- MODALIDADE NO COBRADORA  CODMODA		, --smallint,
		O.bordro_dat_MOVatu,	-- DT 		--O.TITLO_DAT_ENTR,		-- DT
		O.bordro_Tax_CustOPER,	 -- OPTXNET, OPSPREAD  EM TX_RATP
--		O.bordro_tax_custoper,	-- tx am	 --TAXA_SEM_RET	, --float,
		0.0,		-- TX PONDERADA
		O.bordro_vlr_bord,  	 -- VLR_FUTURO		 float
		--bordro_vlr_TitABERT,		

		0.0, -- JUROS
		0.0, -- TITLO_VLR_IOF_QTDMDA,	-- IOF
		-- VP = vf - VLR Juros 
		0.0  ,		 -- VLR_PRESENTE	, --float,
		-- Valor Liberado   -Juros - 	 IOF 
		O.bordro_vlr_bord- 	O.bordro_vlr_tarifa - 	 O.bordro_vlr_tac ,	
		O.bordro_num, -- NROPER
		0.0, -- TITLO_NOSS_NUM,				-- NOSSO NUM
		'',  --DATEDIFF(DD,TITLO_DAT_VENC,TITLO_DAT_ENTR),  -- PRAZO EM DIAS PRAZO		, --int,
		'',  -- PM
		O.ParDIV_cod,	 -- MODAL ORIGIN
		0.0,	-- TX

		O.bordro_vlr_tarifa,	 -- VLR_TARIFA		, --float,
		O.bordro_vlr_tac,	    	 -- VLR_TC			, --float,
		0.0,		-- TX EFET
		'',			-- CUMPRE META
		'',			-- OPERC_COD,	-- COD OPER
		'',			-- OPER
		0.0, 0.0 ,  -- TX
		0.0,	0.0, -- COMISS

		0.0, 0.0, 0.0,  0.0, 0.0,0.0,  0.0,
		'',
		0.0, 0.0, 

		0.0,  0.0,0.0
		FROM		FinSGRDBS..tb_bordro O (NOLOCK)
		WHERE	-- PRODUCAO AJUSTADA EXCECAO
					O.bordro_num = 32 AND O.cednte_cedn = 294001  -- 294001	32
				AND O.CtlCART_COD =11 
END
-- REMOVE A EXCECAO DE  MAIO/16
IF @DTINI = '20160501' --04/05/2016 00:00:00
BEGIN
	-- MOVIMENTADO EM MAIO/16 MAS OPERACAO DE ABR/16 ***********
	DELETE FROM	COMISSAO_ANALITICO WHERE  DT_FECHA='20160531' AND NrOPER = 32 AND Cod_Cedente = 294001 
END



--	OPERADOR
--  declare @DTREF datetime set @DTREF ='20151031'
UPDATE		COMISSAO_ANALITICO
	SET		CODORG3 = T.OPERC_COD
	FROM	FinSGRDBS..tb_TITLO  T (NOLOCK)
	WHERE	COMISSAO_ANALITICO.DT_FECHA = @DTREF
		AND	COD_CEDENTE = T.CEDNTE_CEDN 	AND NROPER  = T.BORDRO_NUM
-- select * FROM		FinSGRDBS..tb_oper (NOLOCK) ORDER BY OPER_ABV_NOM
UPDATE		COMISSAO_ANALITICO
	SET		GRUPO = T.OPER_ABV_NOM
	FROM	FinSGRDBS..tb_oper  T (NOLOCK)
	WHERE	COMISSAO_ANALITICO.DT_FECHA = @DTREF
		AND	convert(int,CODORG3) = T.OPER_COD

-- tx efet
-- =SE(K3=0;0;(((((K3/N3)^(1/Q3))^30)-1)*100))

/*
-- ATUALIZA VEICULO COM DESCRICAO DA MODALIDADE
--		DECLARE @DTREF DATETIME SET @DTREF = '20150131'
UPDATE		COMISSAO_ANALITICO
	SET		VEICULO = T.DESCR_TIPO
	FROM	Ttipo_prod T (NOLOCK) ,
			TModa_tipo_prod M (NOLOCK) 
	WHERE	COMISSAO_ANALITICO.DT_FECHA = @DTREF
		AND	COMISSAO_ANALITICO.PRODUTO  = 'D'	-- desconto
		AND T.COD_PROD = COMISSAO_ANALITICO.PRODUTO	  -- PRODUTO
		AND T.COD_PROD = M.COD_PROD
		AND COMISSAO_ANALITICO.CODPROD  = 11		  -- DESCONTO
		AND COMISSAO_ANALITICO.CODMODA  = M.COD_MODA  -- BAIXO NIVEL MODALIDADE DA OPERACAO
		AND T.COD_MODALIDADE = M.COD_MODALIDADE		  -- TIPO DA OPERACAO	
		
-- nome do Operador
select * FROM		FinSGRDBS..tb_oper
-- SELECT * 
	FROM		FinSGRDBS..tb_bordro O (NOLOCK)
	WHERE	-- PRODUCAO
			bordro_dat_MOVatu BETWEEN @DTINI AND @DTFIM 
		AND CtlCART_COD =11  -- SOMENTE DESCONTO

*/



-- *************************************
-- PRAZO MEDIO DO ATT DESCONTO
UPDATE	COMISSAO_ANALITICO
SET		PRZ_MEDIO = (SELECT MAX(opeblt_prz_medio)
				FROM	FinSGRDBS..tb_bordro BORD (NOLOCK)	
				JOIN	FINSGRDBS..tb_cob_opeblt  B (NOLOCK)
					ON CONVERT(INT,COMISSAO_ANALITICO.Cod_Cedente) = B.cednte_cedn 
					-- removi **************** dias diferentes  1d ***********  ALTERADO 17/10/16
					-- 		and COMISSAO_ANALITICO.DT_OPER= B.boleta_dat_entr
					AND OPEBLT_VLR =BORD.BORDRO_VLR_BORD
					AND BORD.BORDRO_QTD_TIT = B.OPEBLT_NUM_TITULOS 

				WHERE	CONVERT(INT,COMISSAO_ANALITICO.Cod_Cedente) = BORD.cednte_cedn 
					and CONVERT(INT,COMISSAO_ANALITICO.NROPER) =  BORD.BORDRO_NUM
					and COMISSAO_ANALITICO.DT_OPER= BORD.boRDRO_dat_MOVatu )
WHERE DT_FECHA = @DTREF  --AND CODPROD=11 


-- AJUSTA VALORES DESCONTO COM BASE NOS TITULOS CONTIDOS NUM BORDERO
-- SELECT * FROM COMISSAO_ANALITICO WHERE DT_FECHA='20140630' AND PRODUTO='D'
-- liberado  =pv-iofv-tarif-tac
-- DECLARE @DTREF DATETIME  SET @DTREF='20140630'
-- DECLARE @DTREF DATETIME  SET @DTREF='20150131' declare @DTINI datetime declare @DTFIM datetime set @DTINI='20150101' set @DTFIM='20150131' 
UPDATE		COMISSAO_ANALITICO
	SET		PV = TITULO.VP + TITULO.IOF,
			IOF		 = TITULO.IOF,
			VLR_LIBERADO = TITULO.VP  - TARIFAS - TAC
--			PRAZO		 = CASE WHEN VEICULO IN ('DUPLICATAS','CHEQUES') THEN TITULO.PZOM--+2.0
--								ELSE TITULO.PZO+1.0 END				
	FROM	(   SELECT	CEDNTE_CEDN, Bordro_Prod, BORDRO_NUM , SUM( titlo_vlr_moe_datEnt ) AS VP,
						SUM( titlo_vlr_iof_qtdMda ) AS IOF ,
-- VP MEDIA PONDERADA
-- antes media simples
--						SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_emiss,TITLO_DAT_VENC)))/CONVERT(FLOAT,COUNT(TITLO_DAT_emiss))  AS PZO

-- prazo=	media ponderada pelo vlr tit
--			titlo_vlr_moe_tit
-- prazo=prazo cheq+ 2d compens
--						SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_emiss,TITLO_DAT_VENC))* titlo_vlr_moe_tit)/
--							SUM(titlo_vlr_moe_tit)  AS PZO

/*
						-- tratar se 0 -- media simples do PRAZO
						case when ISNULL(COUNT(TITLO_DAT_emiss),0) = 0 then 0.0
							 else
								SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_ENTR,TITLO_DAT_venc)))/
									CONVERT(FLOAT,COUNT(TITLO_DAT_emiss)) 
							 end	 AS PZOM ,
						-- tratar se 0, p/ nao resultar em Erro DIV0
						case when ISNULL(COUNT(TITLO_DAT_emiss),0) = 0 then 0.0
							 else
								SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_ENTR,TITLO_DAT_VENC)))/
									CONVERT(FLOAT,COUNT(TITLO_DAT_emiss)) 
							 end	 AS PZO
*/

						-- tratar se 0  -- media ponderada do PRAZO
						-- vp=titlo_vlr_moe_datent				vf=titlo_vlr_moe_tit
						case when ISNULL(COUNT(TITLO_DAT_ENTR),0) = 0 then 0.0
							 else
/*
-- 2 DIAS DE COMPENSACAO, SE FDS + DIAS
CASE WHEN DATEPART(DW,DATEADD(DD,+2,TITLO_DAT_VENC)) IN (1,7) THEN 
								SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_ENTR,DATEADD(DD,+4,TITLO_DAT_venc) ))*titlo_vlr_moe_tit)/
									SUM(titlo_vlr_moe_tit) 
ELSE
*/
		-- COM A COMPENSACAO +2 , VCTO CAI EM DIA DA SEMANA
								SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_ENTR,DATEADD(DD,+2,TITLO_DAT_venc) ))*titlo_vlr_moe_tit)/
									SUM(titlo_vlr_moe_tit) 
--END

							 end	 AS PZOM ,
						-- tratar se 0, p/ nao resultar em Erro DIV0
						case when ISNULL(COUNT(TITLO_DAT_emiss),0) = 0 then 0.0
							 else
								SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_ENTR,TITLO_DAT_VENC))*titlo_vlr_moe_tit)/
									SUM(titlo_vlr_moe_tit) 
							 end	 AS PZO

						-- prazo de cada titulo : TITLO_DAT_VENC	-	TITLO_DAT_emiss
				FROM		FinSGRDBS..tb_TITLO O (NOLOCK) 
				WHERE		TITLO_DAT_ENTR BETWEEN dateadd(m,-1,@DTINI) AND @DTFIM 
							--BETWEEN '20140601' AND '20140630' 
						AND CtlCART_COD =11 
				GROUP BY	CEDNTE_CEDN, Bordro_Prod, BORDRO_NUM ) AS TITULO   -- ************* ALTERADO 8/7/16
	WHERE	DT_FECHA = @DTREF
		--AND	PRODUTO  = 'D' 		AND CODPROD  = 11  -- DESCONTO
		AND CONVERT(INT,Cod_Cedente)   = TITULO.CEDNTE_CEDN
		AND CONVERT(INT,NROPER)  = TITULO.BORDRO_NUM
		AND CONVERT(INT,MODAL_ORIGINAL ) = TITULO.Bordro_Prod   -- ******* ALTERADO 8/7/16 IOF PRECISA DESTAS CHAVES

-- ALTERADO 9/MAR/16  ***************  CAMPOS CALCULADOS
-- CALCULOS DE TAXAS					=SE(K2=0;0;(((((K2/N2)^(1/Q2))^30)-1)*100))  FV / VP ^ (1/PZO MEDIO)
UPDATE		COMISSAO_ANALITICO
	SET		TX_EFET_AUX = CASE	WHEN PV = 0.0 THEN 0.0 
								ELSE ( POWER ( POWER( (FV / PV) , (1.0/PRZ_MEDIO)  ), 30.0) - 1.0 ) * 100.0
								END
	WHERE	DT_FECHA = @DTREF
-- TX
UPDATE		COMISSAO_ANALITICO
	SET		TX_CALCULADA = TX_EFET_AUX * PV
	WHERE	DT_FECHA	 = @DTREF
-- CALCULOS
UPDATE		COMISSAO_ANALITICO
	SET		JUROS = FV -  PV  ,
			PM	  = PV *  PRZ_MEDIO,
			TX_PONDERADA = TX_CALCULADA
	WHERE	DT_FECHA = @DTREF

		-- (H25/K25)^(1/N25))^30)-1)*100)
		-- TAXA_SEM_RET=( POWER(VLR_FUTURO /VLR_PRESENTE,(1/PRAZO)^30-1)*100
		-- PRAZO 35.38 MENOR
		-- SELECT 	(POWER( POWER((3510.0 /3355.06),(1.0/38.38)),30.0)-1.0)*100.0
-- SELECT power(3.0  , 2.0)
-- DECLARE @DTREF DATETIME  SET @DTREF='20140630'
-- DECLARE @DTREF DATETIME  SET @DTREF='20150131' declare @DTINI datetime declare @DTFIM datetime set @DTINI='20150101' set @DTFIM='20150131' 

-- *********************************** TX DESCONTO
-- DECLARE @DTREF DATETIME  SET @DTREF='20150131'
-- DECLARE @DTREF DATETIME  SET @DTREF='20150228'
/*
UPDATE		COMISSAO_ANALITICO
	SET		TAXA_SEM_RET = case when isnull(VLR_PRESENTE,0.0) =0.0 or isnull(PRAZO,0)=0 then 0.0
								else (POWER( POWER((VLR_FUTURO /VLR_PRESENTE),(1.0/PRAZO)) ,30.0)-1.0)*100.0 
								end,
			--TX_X_VLR     = TAXA_SEM_RET * VLR_PRESENTE,			
			PRZ_X_VLR    = PRAZO * VLR_PRESENTE, -- VLR_PRESENTE,
			RETORNO      = 0.0,
			VLR_RECEITA  = VLR_FUTURO - VLR_PRESENTE
	WHERE	DT_FECHA = @DTREF
--		AND	PRODUTO  = 'D'		AND CODPROD  = 11  -- DESCONTO

-- TX AA
UPDATE		COMISSAO_ANALITICO
	SET		TAXA_AA =( (POWER(((TAXA_SEM_RET/100.0)+1.0),(12.0))-1.0)*100.0) 
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  = 'D'
		AND CODPROD  = 11  -- DESCONTO



-- CALCULA VALORES COM MEDIA PONDERADA PELO VLR_PRESENTE (antes)
-- nao alterar! MUDEI PARA VLR_OP= VLR FUTURO
-- DECLARE @DTREF DATETIME SET @DTREF ='20150131'
-- DECLARE @DTREF DATETIME SET @DTREF ='20150228'
UPDATE		COMISSAO_ANALITICO
SET			TX_X_VLR	= 	TAXA_SEM_RET * VLR_PRESENTE  -- AUXILIAR NO CALCULO DA MEDIA PONDERADA
		,	TX_AA_X_VLR = 	TAXA_AA  *  VLR_PRESENTE     -- AUXILIAR NO CALCULO DA MEDIA PONDERADA
		,	PRZ_X_VLR	= PRAZO * VLR_PRESENTE  
		,	PLANO_X_VLR = PLANO * VLR_PRESENTE  
	WHERE	DT_FECHA = @DTREF
--		AND	PRODUTO  = 'D'		AND CODPROD  = 11  -- DESCONTO




		-- COD DO AGENTE ********************	DO SISTEMA FUNCAO
		UPDATE	COMISSAO_ANALITICO
		SET		AGENTE		= ISNULL(OP.O3CODORGA13,'') -- ISNULL(A.COD_AGENTE,'')
		FROM	CDCSANTANAMicroCredito..TORG3 OP (NOLOCK) 
		WHERE	DT_FECHA=@DTREF
			AND COD_OPERADOR = O3CODORG  -- OPERADOR
		-- OPERADOR AGENTE= OPCODORG3
		
		UPDATE	COMISSAO_ANALITICO
		SET		AGENTE	='' 
		WHERE	DT_FECHA=@DTREF
			AND AGENTE IS NULL




-- DECLARE @DTREF DATETIME SET @DTREF = '20150630'
UPDATE	COMISSAO_ANALITICO
SET		VEICULO = DESCR_TIPO
FROM	Ttipo_prod		T (NOLOCK), 
		TModa_tipo_prod M (NOLOCK)  
WHERE	DT_FECHA		 = @DTREF
	AND	PRODUTO			 = 'D'		-- desconto
	AND	PRODUTO			 = M.COD_PROD 
	AND PRODUTO			 = T.COD_PROD 
	AND T.COD_MODALIDADE = M.COD_MODALIDADE 
	AND COMISSAO_ANALITICO.CODMODA = M.COD_MODA





-- SALVO DESCONTO, TX NO FUNCAO AA, CONVERTER AM
UPDATE		COMISSAO_ANALITICO
	SET		TAXA_SEM_RET =( (POWER(((TAXA_AA/100.0)+1.0),(1.0/12.0))-1.0)*100.0)
	WHERE	DT_FECHA = @DTREF
		AND RETORNO  = 0.0      -- QUANDO O RETORNO FOR 0, USAR A TAXA DO FUNCAO AA, CONVERTER AM

-- 21
-- DECLARE @DTREF DATETIME   SET @DTREF = '20140630'
-- TODOS OS PRODUTOS
UPDATE		COMISSAO_ANALITICO
	SET		TAXA_AA =( (POWER(((TAXA_SEM_RET/100.0)+1.0),(12.0))-1.0)*100.0)
	WHERE	DT_FECHA = @DTREF
	



-- DECLARE @DTREF  DATETIME  SET @DTREF = '20140630'
-- SP_HELP COMISSAO_ANALITICO
UPDATE	COMISSAO_ANALITICO
SET		VLR_RECEITA  = VLR_FUTURO - VLR_PRESENTE
--VLR_TC + VLR_TARIFA
WHERE	DT_FECHA	= @DTREF

*/

/*
PODE MUDAR A QUEBRA POR GRUPO OPERADOR


-- TTLS DO MES ********************************************* AUXILIA NOS RELATORIOS
-- DECLARE @DTREF  DATETIME  SET @DTREF = '20140630'
		DELETE	FROM	COMISSAO_ANALITICO_MES
				WHERE	DT_FECHA	= @DTREF

		INSERT	COMISSAO_ANALITICO_MES
		SELECT	@DTREF,
				PRODUTO,
				COUNT(NUM_OPE),		-- QTDE
				SUM(VLR_OP),
				SUM(VLR_PRESENTE),
				SUM(VLR_RECEITA),
				SUM(VLR_FUTURO),
				SUM(VLR_TC),
				SUM(VLR_TARIFA),
				SUM(VLR_IOF),
				AVG(VLR_FIPE),
				AVG(CONVERT(INT,SCORE)),
				CASE	WHEN SUM(VLR_OP) = 0.0			THEN 0.0 
						ELSE SUM(PLANO_X_VLR)/SUM(VLR_OP) END,  -- PLANO_MEDIO
				CASE	WHEN SUM(VLR_OP)+SUM(RETORNO) = 0.0				THEN 0.0 
						ELSE SUM(TX_X_VLR)/(SUM(VLR_OP)+SUM(RETORNO))	END, -- TAXA_MEDIA
				0.0, -- VARIACAO
				--	0.0,0.0, 
				--AVG(VLR_OP),				-- TKT_MEDIO ANTIGO, COM DIFERENCA
				SUM(VLR_PRESENTE)/COUNT(NUM_OPE),   -- TKT_MEDIO
				CASE WHEN	PRODUTO = 'D' THEN COUNT(DISTINCT CODCLI)		-- QTDE CLIENTES
					 ELSE	COUNT(DISTINCT CODLOJA)		END	,				-- QTDE_LJ
				0.0,0.0, 0.0,0.0,
				AVG(PRAZO),
				COUNT(DISTINCT CODCLI)  -- QTDE CLIENTES
				, 0.0 -- VAR_PROD
		FROM	COMISSAO_ANALITICO		(NOLOCK)
		WHERE	DT_FECHA	= @DTREF
			AND	NUM_OPE  <>''
		GROUP	BY	PRODUTO


		UPDATE		COMISSAO_ANALITICO_MES
			SET		QTDE_CLI  =  (SELECT	COUNT(DISTINCT O4CodORG)
				FROM	CdcSantanaMicroCredito..TOrg4  (NOLOCK)
				JOIN	(SELECT * FROM COMISSAO_ANALITICO (nolock) WHERE DT_FECHA=@DTREF AND PRODUTO='V') AS PROD
						ON PROD.CODOPER =O4CODORG3 
				WHERE (O4DTDESAT IS NULL OR O4DTDESAT <=@DTREF) AND O4ATIVA='A'  )
		WHERE DT_FECHA=@DTREF AND PRODUTO='V'


EXEC PRC_COMISSAO_CALCULO '20151031'

sp_help COMISSAO_ANALITICO

select * from COMISSAO_ANALITICO (nolock) where dt_fecha='20151031'
*/

END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

