
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
go



-- PROC comissao  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_PJ_COMISSAO_ANALITICO' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_PJ_COMISSAO_ANALITICO] 
GO

-- MENSAL
-- ***************************************
CREATE Procedure [dbo].[SCR_PJ_COMISSAO_ANALITICO] 
		 (@DTREF  SMALLDATETIME , @OPERADOR VARCHAR(200))	AS  

BEGIN

DECLARE @DTINI  AS SMALLDATETIME
DECLARE @DTFIM  AS SMALLDATETIME
DECLARE @DTPDD  AS SMALLDATETIME

SET @DTINI = CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'
SET @DTFIM = @DTREF
--  SELECT  @DTINI , @DTFIM

-- FECHAMENTO DA PDD
SET @DTPDD = @DTREF
	-- ALTERACAO DT FECHAMENTO ULTIMO DIA DO MES
	IF @DTPDD <= '20140801' -- ANTES AGO/2014
	BEGIN
		-- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES		RISCO
		-- CHECA SE EH DIA UTIL
		SELECT	@DTPDD= CASE  WHEN DATEPART(DW,@DTPDD) = 1 THEN DATEADD(D,-2,@DTPDD)	-- DOMINGO
							  WHEN DATEPART(DW,@DTPDD) = 7 THEN DATEADD(D,-1,@DTPDD)	-- SABADO
							  ELSE @DTPDD					 END
	END
--	SELECT @DTPDD


-- LIMPA PROCESSO ANTERIOR
-- DELETE FROM COMISSAO_ANALITICO WHERE DT_FECHA = @DTREF

/*
SP_HELP COMISSAO_ANALITICO
/*		data_ref	grupo	Cod_Cedente	Nome_Cedente	CodOrg3	CodModa	Dt_Oper	Tx_Nominal	Tx_Efetiva	tx_ponderada	FV
	Juros 	IOF	PV	Vlr_Liberado	NrOper	Prz_Medio	PM	MODAL_ORIGINAL	TX_calculada	Tarifas	Tac	tx_efet_aux	cumpre_meta	cod_operador	operador
	Tx_Ponderada	comissao	prc_comissao	prc_Tac	DESCONTO	Total	Fixo	Remuneracao_Total	Meta	prc_Meta	Cumpriu_Meta	
		Tx_REDUZIDA	TC_UNITARIA	PRC_COMISSAO_CLIENTE	vlr_realiz_Grupo	qtd_Grupo	prz_medio		*/
drop table COMISSAO_ANALITICO
CREATE TABLE COMISSAO_ANALITICO
(DT_FECHA		smalldatetime,
GRUPO			VARCHAR(20),  
Cod_Cedente		varchar(50),
Nome_Cedente	varchar(200),
CODORG3			varchar(20),
CODMODA			varchar(20),
DT_OPER			smalldatetime,
TX_NOMINAL		float,
TX_PONDERADA	float,
FV				float,
JUROS			float,
IOF				float,
PV				float,
VLR_LIBERADO	float,
NROPER			varchar(20),	-- BORDERO
NOSSO_NUM		varchar(20),	-- NOSSO NUM TITULO
PRZ_MEDIO		varchar(20),  -- *********
PM				varchar(20),
MODAL_ORIGINAL	varchar(20),
TX_CALCULADA	float,
TARIFAS			float,
TAC				float,
TX_EFET_AUX		float,
CUMPRE_META		varchar(20),		--
COD_OPERADOR	varchar(20),
OPERADOR		varchar(200),
TX_EFET_AUX2	float,
TX_PONDERADA2	float,
COMISSAO		float,
PRC_COMISSAO	float,
PRC_TAC			float,
DESCONTO		float,
TOTAL			float,
FIXO			float,
REMUNERACAO_TOTAL		float,
META		float,
PRC_META		float,
CUMPRIU_META		varchar(20),		--
TX_REDUZIDA		float,
TC_UNITARIA		float,
PRC_COMISSAO_CLIENTE		float,
VLR_REALIZ_GRUPO		float,
QTD_GRUPO		float		--,	PRZ_MEDIO		float		*******
 )


CREATE INDEX  COMISSAO_ANALITICO_IDX1 ON COMISSAO_ANALITICO ( DT_FECHA	, GRUPO		)



*/
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES   TABELA AUXILIAR
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-05-29'
-- SELECT * FROM RATING_PROJETADO WHERE NUM_OPE='89313224'
-- ******************									OK
SELECT   --* 
ISNULL(DT_FECHA,'')		as DATA_REF			,
ISNULL(GRUPO,'')		AS GRUPO			,  
ISNULL(Cod_Cedente,'')	AS Cod_Cedente		,
ISNULL(Nome_Cedente,'')	AS Nome_Cedente		,
ISNULL(CODORG3,'')		AS CODORG3			,
ISNULL(CODMODA,'')		AS CODMODA			,
ISNULL(DT_OPER,'')		AS DT_OPER			,
ISNULL(TX_NOMINAL,0.0)	AS TX_NOMINAL		,
ISNULL(TX_EFET_AUX,0.0)	AS Tx_Efetiva,

ISNULL(TX_PONDERADA,0.0) AS TX_PONDERADA	,
ISNULL(FV,0.0)			 AS FV				,
ISNULL(JUROS,0.0)		 AS JUROS			,
ISNULL(IOF,0.0)			 AS IOF				,
ISNULL(PV,0.0)			 AS PV				,
ISNULL(VLR_LIBERADO,0.0) AS VLR_LIBERADO	,
ISNULL(NROPER,'')		 AS NROPER			,
ISNULL(PRZ_MEDIO,0.0)		 AS PRZ_MEDIO		,  -- *********
ISNULL(PM, 0.0)			 AS PM				,
ISNULL(MODAL_ORIGINAL,'')	AS MODAL_ORIGINAL	,
ISNULL(TX_CALCULADA,0.0)	AS TX_CALCULADA	,
ISNULL(TARIFAS,0.0)			AS TARIFAS			,
ISNULL(TAC,0.0)				AS TAC				,

ISNULL(TX_EFET_AUX,0.0)		AS TX_EFET_AUX		,		-- a
ISNULL(CUMPRE_META,'')		AS CUMPRE_META		,		-- b
ISNULL(COD_OPERADOR,'')		AS COD_OPERADOR	,
ISNULL(OPERADOR,'')			AS OPERADOR		,
--TX_EFET_AUX2	float,
ISNULL(TX_PONDERADA2,0.0)	AS TX_PONDERADA2,
ISNULL(COMISSAO,0.0)		AS COMISSAO		,
ISNULL(PRC_COMISSAO,0.0)	AS PRC_COMISSAO	,
ISNULL(PRC_TAC,0.0)			AS PRC_TAC			,
ISNULL(DESCONTO,0.0)		AS DESCONTO		,
ISNULL(TOTAL,0.0)			AS TOTAL			,
ISNULL(FIXO,0.0)			AS FIXO			,
ISNULL(REMUNERACAO_TOTAL,0.0) AS REMUNERACAO_TOTAL		,
ISNULL(META,0.0)	AS META			,
ISNULL(PRC_META,0.0) AS PRC_META		,
ISNULL(CUMPRIU_META,'')	AS CUMPRIU_META	,		--
ISNULL(TX_REDUZIDA,0.0) AS TX_REDUZIDA		,
ISNULL(TC_UNITARIA,0.0) AS TC_UNITARIA		,
ISNULL(PRC_COMISSAO_CLIENTE,0.0) AS PRC_COMISSAO_CLIENTE	,
ISNULL(VLR_REALIZ_GRUPO,0.0)	 AS VLR_REALIZ_GRUPO		,
ISNULL(QTD_GRUPO,0)				 AS QTD_GRUPO		,
ISNULL(PRZ_MEDIO,0.0)				AS PRZ_MEDIO2

FROM COMISSAO_ANALITICO   (NOLOCK) 
--COMISSAO_OPERADOR
WHERE DT_FECHA = @DTREF

END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

