
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
go


-- EXEC SCR_PJ_COMISSAO_OPERADORES '','',''
-- PROC comissao  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_PJ_COMISSAO_OPERADORES' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_PJ_COMISSAO_OPERADORES] 
GO

-- MENSAL
-- ***************************************
CREATE Procedure [dbo].[SCR_PJ_COMISSAO_OPERADORES] 
		 (@DTREF  SMALLDATETIME , @RPT VARCHAR(20) ,   @OPERADOR VARCHAR(200) )	AS  

BEGIN

DECLARE @DTINI  AS SMALLDATETIME
DECLARE @DTFIM  AS SMALLDATETIME
DECLARE @DTPDD  AS SMALLDATETIME

SET @DTINI = CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'
SET @DTFIM = @DTREF
--  SELECT  @DTINI , @DTFIM

-- FECHAMENTO DA PDD
SET @DTPDD = @DTREF
	-- ALTERACAO DT FECHAMENTO ULTIMO DIA DO MES
	IF @DTPDD <= '20140801' -- ANTES AGO/2014
	BEGIN
		-- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES		RISCO
		-- CHECA SE EH DIA UTIL
		SELECT	@DTPDD= CASE  WHEN DATEPART(DW,@DTPDD) = 1 THEN DATEADD(D,-2,@DTPDD)	-- DOMINGO
							  WHEN DATEPART(DW,@DTPDD) = 7 THEN DATEADD(D,-1,@DTPDD)	-- SABADO
							  ELSE @DTPDD					 END
	END
--	SELECT @DTPDD

/*
SP_HELP			COMISSAO_OPERADOR
CREATE TABLE COMISSAO_OPERADOR (
DT_FECHA	SMALLDATETIME,
GRUPO		VARCHAR(50)	,  
OPERADOR	VARCHAR(50)	,
COD_OPERADOR	VARCHAR(50),
MODALIDADE		VARCHAR(50)	,
COD_MODALIDADE		VARCHAR(50)	,
TX_EFETIVA			FLOAT,
TX_NOMINAL			FLOAT,

TX_PONDERADA		FLOAT,
PV					FLOAT,
FV					FLOAT,
VLR_LIBERADO		FLOAT,
PRZ_MEDIO			FLOAT,  -- *********
QTD					FLOAT,
PRC_COMISSAO		FLOAT,
VLR_COMISSAO		FLOAT,

TAC					FLOAT,
DESCONTO			FLOAT,
TOTAL1				FLOAT,		--
FIXO				FLOAT,
COMISSAO_TOTAL		FLOAT,

PRC_COMISSAO2		FLOAT,
META				FLOAT,
PRC_META			FLOAT,
CUMPRIU_META		FLOAT  )

*/

SELECT   --* 
DT_FECHA	,
GRUPO			,  
OPERADOR		,
COD_OPERADOR	,
MODALIDADE			,
COD_MODALIDADE			,
TX_EFETIVA			,
TX_NOMINAL		,

TX_PONDERADA	,
PV				,
FV			,
VLR_LIBERADO	,
PRZ_MEDIO		,  -- *********
QTD				,
PRC_COMISSAO	,
VLR_COMISSAO	,

TAC				,
DESCONTO		,
TOTAL1		,		--
FIXO	,
COMISSAO_TOTAL		,

PRC_COMISSAO2	,
META			,
PRC_META		,
CUMPRIU_META	
FROM COMISSAO_OPERADOR (NOLOCK) 
WHERE DT_FECHA = @DTREF

END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

