
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

use SIG
go


IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_CARTEIRA_DETALHE' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_CARTEIRA_DETALHE]
GO

-- EXEC [scr_CARTEIRA_DETALHE] '20140831',3,''
-- EXEC [scr_CARTEIRA_DETALHE] '20140831',3,'CARLOS'

CREATE PROCEDURE [dbo].[scr_CARTEIRA_DETALHE]  
  (@data_ref as datetime, @carteira as int ,@localizar as varchar(50)  ) AS  
BEGIN  
  
DELETE FROM TAUX_CONTRATOC  
   
DECLARE @data_ANT AS SMALLDATETIME  
-- DIA 1 DO MES DO FECHAMENTO  
SET  @data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+  
     RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'  
-- FIM DO MES ANTERIOR  
SET  @data_ANT=DATEADD(DD,-1,@data_ANT)  
  
DECLARE @data_INI AS SMALLDATETIME  
DECLARE @data_FIM AS SMALLDATETIME  
-- DIA 1 DO MES DO SEGUINTE  
SET  @data_INI =  DATEADD(DD,+1,@data_ref)   
SET  @data_FIM =  DATEADD(M,+1,@data_INI)  
SET  @data_FIM =  DATEADD(DD,-1,@data_FIM)  
  
DELETE TAUX_CONTRATOC  
  
-- TODOS  
if @carteira =3  
begin  
 INSERT TAUX_CONTRATOC  
  ( CONTRATO,  
   COD_CLI,  
   DATA_CONTRATO,  

    SALDO_INSCRITO,  
   COD_VEIC ,
   PLANO 
   ,RATING_FINAL 
   ,RATING_ORIGINAL 
   ,VF  )  
 select RatCodContr ,  
   RatCodCli,  
   RatDatRef, 
   RatValSaldo, 
   MOpCod,    
   RatCodEmp,  
   CrsCodRatFIM,
   CrsCodRatOri 
   ,0.0  
FROM  
  FinCilDbs..CilTblRat  R (NOLOCK)   
where 
  ratDatRef = @data_ref  
      and RatValSaldo > 0  
end  
  
-- somente ATIVOS, carteira  
if @carteira =1  
begin  
 INSERT TAUX_CONTRATOC  
  ( CONTRATO,  
   COD_CLI,  
   DATA_CONTRATO,   
    SALDO_INSCRITO,  
   COD_VEIC , 
   PLANO
   ,RATING_FINAL   
   ,RATING_ORIGINAL 
   ,VF  
   )  
 select RatCodContr ,  
   RatCodCli,  
   RatDatRef, 
     
   RatValSaldo,
   MOpCod,    
   RatCodEmp,   
   CrsCodRatFIM, 
   CrsCodRatOri  
   ,0.0  
FROM  
  FinCilDbs..CilTblRat  R (NOLOCK)   
where ratDatRef = @data_ref 
 and ratcodemp = 1  
 and CrsCodRatFIM <> 'HH'  
      and RatValSaldo > 0  
end  
  
-- somente HH prejuizo  
if @carteira =2  
begin  
 INSERT TAUX_CONTRATOC  
  ( CONTRATO,  
   COD_CLI,  
   DATA_CONTRATO,  
    SALDO_INSCRITO,  
   COD_VEIC , 
   PLANO 
   ,RATING_FINAL
   ,RATING_ORIGINAL
   ,VF  
   )  
 select RatCodContr ,  
   RatCodCli,  
   RatDatRef, 
   RatValSaldo, 
   MOpCod,    
   RatCodEmp,  
   CrsCodRatFIM, 
   CrsCodRatOri 
   ,0.0  
FROM  
  FinCilDbs..CilTblRat  R (NOLOCK)   
where ratDatRef = @data_ref
 and ratcodemp = 1  
 and CrsCodRatFIM = 'HH'  
      and RatValSaldo > 0  
end  
  
 
 UPDATE TAUX_CONTRATOC  
  SET VF = OP.VLR_FUTURO  
  FROM TAUX_CONTRATOC ,   
    (SELECT  PANROPER,SUM(PAVLRPR + PAVLRJR) AS VLR_FUTURO  
     FROM CDCSANTANAMicroCredito..CPARC O (NOLOCK)   
     WHERE (PADTLIQ IS NULL OR PADTLIQ > @data_ref )  
     AND  PACNTRL = (SELECT MAX(PACNTRL)   
          FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)  
          WHERE P1.PANROPER = O.PANROPER  
           AND P1.PANRPARC = O.PANRPARC  
        )  
     GROUP BY PANROPER ) AS OP   
  WHERE CONTRATO = OP.PANROPER  
  
-- FACTORING  
 INSERT TAUX_CONTRATOC  
  ( CONTRATO,  
   COD_CLI,  
   CPF_CNPJ,   
   NOME_CLIENTE,   
   DATA_CONTRATO,   
   PARCELA_ABERTO,  
   ATRASO,  
    SALDO_INSCRITO,  
   COD_VEIC ,
   PLANO 
   ,RATING_FINAL 
   ,RATING_ORIGINAL  
   ,VF  
   )  
 select DISTINCT  
   ATNSSNR ,
   ATCODCED,   
            '',
            '', 
   @data_ref,
   '',   
            ATDIAS,  
   case when AtdtVAL between @data_INI and @data_FIM then  AtVlrTitOG  
     else AtVlrTit end ,
   AtCodMod,      
   2,  
   ' ', 
   ' '   
   ,AtVlrTitOG  
FROM SanFifa..ArqTit  R (NOLOCK)    
where   
  (AtDtLiq is NULL or AtDtLiq>@data_ref)
  and atNrOrd = (SELECT MAX(atnrord) FROM Sanfifa..ArqTit WHERE  ATNSSNR= R.ATNSSNR) 
   and  1= case when @carteira =1 and ATDIAS <= 360  then 1
     when @carteira =2 and ATDIAS >  360  then 1 
     when @carteira =3   then 1 
     else 0 end  

  
UPDATE TAUX_CONTRATOC  
SET  RATING_ORIGINAL  = ''  
WHERE RATING_ORIGINAL IS NULL  
  
UPDATE TAUX_CONTRATOC  
SET  RATING_FINAL  = ''  
WHERE RATING_FINAL IS NULL  
   
  
/*AJUSTA RATING */      
UPDATE  TAUX_CONTRATOC  SET RATING_FINAL = 'A', RATING_ORIGINAL = 'A' WHERE ATRASO  < 15    AND RATING_FINAL = '' AND RATING_ORIGINAL = ''  
UPDATE  TAUX_CONTRATOC  SET RATING_FINAL = 'B', RATING_ORIGINAL = 'B' WHERE ATRASO  >15 and ATRASO <= 30   AND RATING_FINAL = '' AND RATING_ORIGINAL = ''  
UPDATE  TAUX_CONTRATOC  SET RATING_FINAL = 'C', RATING_ORIGINAL = 'C' WHERE ATRASO > 30 and ATRASO  <= 60  AND RATING_FINAL = '' AND RATING_ORIGINAL = ''  
UPDATE  TAUX_CONTRATOC  SET RATING_FINAL = 'D', RATING_ORIGINAL = 'D' WHERE ATRASO > 60 and ATRASO <= 90   AND RATING_FINAL = '' AND RATING_ORIGINAL = ''  
UPDATE  TAUX_CONTRATOC  SET RATING_FINAL = 'E', RATING_ORIGINAL = 'E' WHERE ATRASO >90 and ATRASO <= 120   AND RATING_FINAL = '' AND RATING_ORIGINAL = ''  
UPDATE  TAUX_CONTRATOC  SET RATING_FINAL = 'F', RATING_ORIGINAL = 'F' WHERE ATRASO >1020 and ATRASO<= 150  AND RATING_FINAL = '' AND RATING_ORIGINAL = ''  
UPDATE  TAUX_CONTRATOC  SET RATING_FINAL = 'G', RATING_ORIGINAL = 'G 'WHERE ATRASO > 150 and ATRASO <= 180  AND RATING_FINAL = '' AND RATING_ORIGINAL = ''  
UPDATE  TAUX_CONTRATOC  SET RATING_FINAL = 'H', RATING_ORIGINAL = 'H' WHERE ATRASO >180 and ATRASO  <= 360  AND RATING_FINAL = '' AND RATING_ORIGINAL = ''   
UPDATE  TAUX_CONTRATOC  SET RATING_FINAL = 'HH', RATING_ORIGINAL = 'HH' WHERE ATRASO  > 360    AND RATING_FINAL = '' AND   RATING_ORIGINAL = ''   

UPDATE TAUX_CONTRATOC  
set agente = ''  
where agente is null   
  
-- NOME CLIENTE ******************** ATT  
UPDATE TAUX_CONTRATOC  
SET  nome_CLIENTE  = ISNULL(CLInom,'')  
FROM FinCilDbs..CilTblCLI  R (NOLOCK)   
WHERE PLANO = 1 
 AND CLIDatRef = @data_ref  
 AND clicod = COD_CLI  
  
UPDATE TAUX_CONTRATOC  
SET  COD_CLI  = ISNULL(opCodCli,'')  
FROM CDCSANTANAMicroCredito..COPER C (NOLOCK)  
WHERE PLANO = 1 -- EMPRESA SCM  
 AND CONTRATO = OPNROPER  
 AND nome_CLIENTE  ='' -- CLIENTE NAO LOCALIZADO NO ATT  
  
-- CPF_CNPJ ********************   
UPDATE TAUX_CONTRATOC  
SET  CPF_CNPJ  =  ISNULL(CLCGC,'')   
 ,  NOME_CLIENTE    = case when nome_cliente='' then CLNOMECLI else nome_cliente end  
FROM CDCSANTANAMicroCredito..CCLIE C (NOLOCK)  
WHERE PLANO = 1 -- EMPRESA SCM  
 AND C.CLCODCLI = COD_CLI  
  
-- CLIENTES SCM NAO ENCONTRADOS NO FUNCAO  
UPDATE TAUX_CONTRATOC  
SET  CPF_CNPJ  = cednte_cpfcgc,
  NOME_CLIENTE    = cednte_nome  
FROM  
  FinSgrDbs..TB_ENDERE_CLI B (NOLOCK) ,  
  FinSgrDbs..tb_cednte A     
WHERE A.CLI_COD = B.CLI_COD  
 AND TAUX_CONTRATOC.PLANO = 1
and TAUX_CONTRATOC.nome_CLIENTE = ''  
 AND B.CLI_COD = CONVERT(NUMERIC,TAUX_CONTRATOC.COD_CLI)  
  
-- CPF_CNPJ ********************   
UPDATE TAUX_CONTRATOC  
SET  CPF_CNPJ  = ISNULL(CLCGC,''),  
  NOME_CLIENTE    = CLNOMECLI  
FROM SanFifa..cclie      C   (NOLOCK)  
WHERE PLANO = 2 -- EMPRESA FACTORING  
 AND C.CLCODCLI = COD_CLI  
  
-- NOME DA COBRADORA ********************   
UPDATE TAUX_CONTRATOC  
SET  COBRADORA  = ISNULL(CODESCR,'')  
FROM TCOBRADORA  
WHERE COD_COB = COCOD  
  
UPDATE TAUX_CONTRATOC  
SET  COBRADORA  = ''  
WHERE COBRADORA IS NULL  
  
-- AJUSTA PARC_PAGAS  
UPDATE TAUX_CONTRATOC  
SET  PARC_PAGAS  = ISNULL(PARC_PAGAS,0)  
WHERE PARC_PAGAS IS NULL  
  
-- AJUSTA QTD_PARC_ATRASO  
UPDATE TAUX_CONTRATOC  
SET  QTD_PARC_ATRASO  = ISNULL(QTD_PARC_ATRASO,0)  
WHERE QTD_PARC_ATRASO IS NULL  
  
-- AJUSTA MODALIDADE ***********************  
UPDATE TAUX_CONTRATOC  
SET  MARCA  = TONOMEOP  
FROM CDCSANTANAMicroCredito..TMODA M (NOLOCK)  
WHERE convert(int,COD_VEIC) = TOCODOP  
UPDATE TAUX_CONTRATOC  
 set cpf_cnpj = ''  
 where cpf_cnpj is null  
  
UPDATE TAUX_CONTRATOC  
 set nome_cliente = ''  
 where nome_cliente is null  
  
UPDATE TAUX_CONTRATOC  
 set PROFISSAO = ''  
 where PROFISSAO is null  
  
UPDATE TAUX_CONTRATOC  
 set CARGO = ''  
 where CARGO is null  
  
UPDATE TAUX_CONTRATOC  
 set MARCA = ''  
 where MARCA is null  
UPDATE TAUX_CONTRATOC  
 set MODELO = ''  
 where MODELO is null  
UPDATE TAUX_CONTRATOC  
 set ANO_FABRIC = ''  
 where ANO_FABRIC is null  
UPDATE TAUX_CONTRATOC  
 set COD_COB = ''  
 where COD_COB is null  
UPDATE TAUX_CONTRATOC  
 set ATRASO = ''  
 where ATRASO is null  
  
SELECT    
  Convert(varchar, [DATA_CONTRATO], 103) [DATA_REF]  
      ,Convert(varchar, [PLANO])  AS EMPRESA  
   ,Convert(varchar, CONTRATO )  CONTRATO   
      ,[CPF_CNPJ]  
      ,[NOME_CLIENTE]  
      ,Convert(varchar, [ATRASO]) [ATRASO]  
      ,[MARCA] AS MODALIDADE  
        ,[COD_CLI]  
      ,[RATING_ORIGINAL]  
      , [RATING_FINAL]  
  ,[SALDO_INSCRITO]  
  , VF  
  , COD_VEIC as cod_modalidade  
  FROM [dbo].[TAUX_CONTRATOC]  
WHERE  NOME_CLIENTE LIKE '%'+RTRIM(@Localizar)+'%'  
ORDER BY PLANO, [RATING_FINAL], CONTRATO   
END  