
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

USE SIG
go

-- EXEC [scr_HH_DETALHE] '20140831'
-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_HH_DETALHE' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_HH_DETALHE]
GO


CREATE Procedure [dbo].[scr_HH_DETALHE]  
  (@data_ref as datetime   ) AS  
BEGIN  
    
DELETE FROM TAUX_CONTRATO  
  
DECLARE @data_ANT AS SMALLDATETIME  
-- DIA 1 DO MES DO FECHAMENTO  
SET  @data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+  
     RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'  
-- FIM DO MES ANTERIOR  
SET  @data_ANT=DATEADD(DD,-1,@data_ANT)  
  
 INSERT TAUX_CONTRATO  
  ( CONTRATO,  
   COD_CLI,  
   DATA_CONTRATO,  
    SALDO_INSCRITO,  
   COD_VEIC , 
   PLANO -- EMPRESA 1= SANTANA SMC, 2= FACTORING  
   ,COBRADORA 
   ,AGENTE 
   )  
 select RatCodContr ,  
   RatCodCli,  
   RatDatRef, -- DT FECHAMENTO  
   RatValSaldo, -- sld inscr  
   MOpCod,    -- modalidade  
   RatCodEmp,  -- EMPR  
   CrsCodRatFIM, -- rating final HH  
   CrsCodRatOri  -- rating original  
FROM  
  FinCilDbs..CilTblRat  R (NOLOCK)   
where CONVERT(VARCHAR(8),ratDatRef,112) = @data_ref  
      and RatValSaldo > 0  
   
-- FACTORING  
 INSERT TAUX_CONTRATO  
  ( CONTRATO,  
   COD_CLI,  
   DATA_CONTRATO,   
   PARCELA_ABERTO,  
    SALDO_INSCRITO,  
   COD_VEIC , -- MODALIDADE  
   PLANO -- EMPRESA 1= SANTANA SMC, 2= FACTORING  
   ,COBRADORA -- RATING   
   ,AGENTE -- RATING ORIGINAL  
   )  
 select DISTINCT  
   AtNrOP ,  
   '',  
   @data_ref, -- DT FECHAMENTO  
   '', 
   AtVlrTit, -- sld inscr  
   AtCodMod,    -- modalidade  
   2,  -- EMPR FACTORING  
   'HH', -- rating final HH  
   'HH'  -- rating original  
FROM SanFifa..ArqTit  R (NOLOCK)   
where AtDias >= 360  -- PREJU  
 and AtDtLiq is NULL -- nao pago  
  
UPDATE TAUX_CONTRATO  
set agente = ''  
where agente is null  
  
  
-- NOME DA COBRADORA ********************   
UPDATE TAUX_CONTRATO  
SET  COBRADORA  = ISNULL(CODESCR,'')  
FROM TCOBRADORA  
WHERE COD_COB = COCOD  
  
UPDATE TAUX_CONTRATO  
SET  COBRADORA  = ''  
WHERE COBRADORA IS NULL  
  
-- AJUSTA PARC_PAGAS  
UPDATE TAUX_CONTRATO  
SET  PARC_PAGAS  = ISNULL(PARC_PAGAS,0)  
WHERE PARC_PAGAS IS NULL  
  
-- AJUSTA QTD_PARC_ATRASO  
UPDATE TAUX_CONTRATO  
SET  QTD_PARC_ATRASO  = ISNULL(QTD_PARC_ATRASO,0)  
WHERE QTD_PARC_ATRASO IS NULL  
  
UPDATE TAUX_CONTRATO  
set nome_cliente = ''  
where nome_cliente is null  
  
UPDATE TAUX_CONTRATO  
set PROFISSAO = ''  
where PROFISSAO is null  
  
UPDATE TAUX_CONTRATO  
set CARGO = ''  
where CARGO is null  
  
UPDATE TAUX_CONTRATO  
set MARCA = ''  
where MARCA is null  

UPDATE TAUX_CONTRATO  
set MODELO = ''  
where MODELO is null  

UPDATE TAUX_CONTRATO  
set ANO_FABRIC = ''  
where ANO_FABRIC is null  

UPDATE TAUX_CONTRATO  
set COD_COB = ''  
where COD_COB is null  

UPDATE TAUX_CONTRATO  
set ATRASO = ''  
where ATRASO is null  
  
  
SELECT  Convert(varchar, CONTRATO )  CONTRATO   
      ,[CPF_CNPJ]  
      ,[NOME_CLIENTE]  
      ,[AGENTE]  
      ,[COBRADORA]  
      ,Convert(varchar, [DATA_CONTRATO], 103) [DATA_CONTRATO]  
      ,Convert(varchar, [PLANO]) [PLANO]  
      ,Convert(varchar, [PARCELA_ABERTO]) [PARCELA_ABERTO]  
      ,Convert(varchar, [PRIMEIRO_VCTO], 103) [PRIMEIRO_VCTO]  
      ,Convert(varchar, [ATRASO]) [ATRASO]  
      ,Convert(varchar, [VENCIMENTO], 103) [VENCIMENTO]  
      ,Convert(varchar, [VLR_PARCELA]) [VLR_PARCELA]  
      ,Convert(varchar, [QTD_PARC_ATRASO]) [QTD_PARC_ATRASO]  
      ,Convert(varchar, [SALDO_INSCRITO]) [SALDO_INSCRITO]  
      ,Convert(varchar, [VLR_FINANCIADO]) [VLR_FINANCIADO]  
      ,[MARCA]  
      ,[MODELO]  
      ,[ANO_FABRIC]  
      ,Convert(varchar, [PARC_PAGAS]) [PARC_PAGAS]  
      ,[PROFISSAO]  
      ,[CARGO]  
      ,[COD_CLI]  
      ,[COD_COB]  
      ,cod_Agente as [COD_AGE]  
  FROM [dbo].[TAUX_CONTRATOC]  

END  
  
  