use sig
go

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

drop proc [SPR_TOTALIZADOR]
go  
  
CREATE Procedure [dbo].[SPR_TOTALIZADOR] (@DT_INI as datetime, @DT_FIM as datetime, @DT_REF as datetime) AS    
BEGIN    
    
TRUNCATE TABLE TOTAL_SPREAD    
    
--- ALIMENTA PRINCIPAL / POR ATIVIDADE     
INSERT INTO TOTAL_SPREAD  (atividade, OPERADO, PER_OPERADO, RECEBIDO, PERC_RECEBIDO,  PREJUIZO,    
    PERC_PREJUIZO,  PERC_PREJUIZO_PERDA, DESCONTO, PERC_DESCONTO, PERC_DESCONTO_PERDA,      
    PERDA_TOTAL,  PERC_TOTAL_PERDA,  PERC_TOTAL_PERDA1,  LIQUIDADO, PERC_LIQUIDADO, PERC_LIQUIDADO_PERDA,    
             RECEBER, PERC_ARECEBER, PERC_ARECEBER_PERDA, PDD, PERC_PDD, SAFRA, PERC_SAFRA, PERDA_REALIZADA, PERC_PERDA_RELIZADA, TIPO)        
SELECT  atividade ,            
    (SUM(FV_CONTRATO)/1000.0)  OPERADO,     
        SUM(PER_OPERADO)       PER_OPERADO,    
    (SUM(VLR_RECEBIDO)/1000.0)  RECEBIDO,     
  SUM(PERC_RECEBIDO)     PERC_RECEBIDO,    
       (SUM(VLR_PREJUIZO)/1000.0)  PREJUIZO,     
     SUM(PERC_PREJUIZO)     PERC_PREJUIZO,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE     
    (sum(isnull(VLR_PREJUIZO,0.0))/sum(FV_CONTRATO)*100.0) END  PERC_PREJUIZO_PERDA,    
       (SUM(VLR_DESCONTO)/1000.0)  DESCONTO,     
  SUM(PERC_DESCONTO)       PERC_DESCONTO,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE     
    (sum(isnull(VLR_DESCONTO,0.0))/sum(FV_CONTRATO)*100.0) END PERC_DESCONTO_PERDA,    
         (SUM(VLR_PREJUIZO)+SUM(VLR_DESCONTO))/1000.0 PERDA_TOTAL,      
     sum(PERC_TOTAL_PERDA)    PERC_TOTAL_PERDA,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE     
    (sum(isnull(VLR_TOTAL_PERDA,0.0))/sum(FV_CONTRATO)*100.0) END    PERC_TOTAL_PERDA1,     
    (SUM(VLR_LIQUIDADO)/1000.0) LIQUIDADO,     
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE     
    (sum(isnull(VLR_LIQUIDADO,0.0))/sum(FV_CONTRATO)*100.0)  END       PERC_LIQUIDADO,    
  CASE WHEN sum(VLR_TOTAL_PERDA)+ sum(VLR_RECEBIDO)= 0.0 THEN 0.0 ELSE     
    (sum(VLR_TOTAL_PERDA) /(sum(VLR_TOTAL_PERDA)+ sum(VLR_RECEBIDO))*100.0) END    PERC_LIQUIDADO_PERDA,    
       (SUM(VLR_RECEBER)/1000.0)  RECEBER,        
  SUM(PERC_ARECEBER)     PERC_ARECEBER,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE     
  (sum(VLR_RECEBER)/sum(FV_CONTRATO)*100.0)   END  PERC_ARECEBER_PERDA,    
     (SUM(VLR_PDD)/1000.0)   PDD,    
  CASE WHEN SUM(VLR_RECEBER) = 0.0 THEN 0.0 ELSE     
  (sum(VLR_PDD)/sum(VLR_RECEBER)*100.0)    END   PERC_PDD,    
     (SUM(VLR_SAFRA)/1000.0) SAFRA,     
      SUM(PERC_SAFRA)    PERC_SAFRA,    
     (SUM(VLR_PERDA_RELIZADA)/1000.0)PERDA_REALIZADA,     
  CASE WHEN SUM(VLR_SAFRA) = 0.0 THEN 0.0 ELSE    
        (sum(VLR_PERDA_RELIZADA)/sum(VLR_SAFRA)*100.0) END  PERC_PERDA_RELIZADA,     
        '01'                                    TIPO   
FROM CARTEIRA_PERDA (NOLOCK)       
WHERE NOT RIGHT(CONTRATO,1) IN ('A','B','C')    
group by  atividade     
    

UPDATE TOTAL_SPREAD    
SET  operado = VLROPERADO/ 1000.00,      
        PDD = VLRPDD/ 1000.00,    
  PERC_PDD = CASE WHEN VLRREC=0.0 THEN 0.0 ELSE VLRPDD / VLRREC *100.0 END,   
        SAFRA = VLR_SAFRA/1000.0,    
  PREJUIZO = VLRPREJUIZO / 1000.0,    
   PERC_PREJUIZO = PRCPREJUIZO ,    
  DESCONTO = VLRDESCONTO / 1000.0,    
  PERDA_TOTAL =       (VLRPREJUIZO+VLRDESCONTO)/1000.0,  
    
  PERC_DESCONTO = PRCDESCONTO,    
  PERDA_REALIZADA =  PERDAREAL / 1000.00,    
  PERC_PERDA_RELIZADA =CASE WHEN VLRSAFRA = 0.0 THEN 0.0    
         ELSE (PERDAREAL / VLRSAFRA * 100.0 ) END     
FROM (SELECT  atividade, SUM(VLR_SAFRA)AS VLR_SAFRA , SUM(FV_CONTRATO) as   VLROPERADO, SUM(VLR_DESCONTO) AS VLRDESCONTO, SUM(PERC_DESCONTO) AS PRCDESCONTO,    
     SUM(VLR_PREJUIZO)  AS VLRPREJUIZO, SUM(PERC_PREJUIZO) AS PRCPREJUIZO,    
     SUM(VLR_PDD) AS VLRPDD, sum(VLR_RECEBER) AS VLRREC, SUM(VLR_PERDA_RELIZADA) AS PERDAREAL,    
     sum(VLR_SAFRA) AS VLRSAFRA    
   FROM CARTEIRA_PERDA (NOLOCK)     
   WHERE NOT RIGHT(CONTRATO,1) IN ('A','B','C')      
   GROUP BY atividade  ) AS CART    
WHERE TOTAL_SPREAD.ATIVIDADE = CART.ATIVIDADE    
        

INSERT INTO TOTAL_SPREAD  (atividade, OPERADO, PER_OPERADO, RECEBIDO, PERC_RECEBIDO,  PREJUIZO,    
    PERC_PREJUIZO,  PERC_PREJUIZO_PERDA, DESCONTO, PERC_DESCONTO, PERC_DESCONTO_PERDA,      
    PERDA_TOTAL,  PERC_TOTAL_PERDA,  PERC_TOTAL_PERDA1,  LIQUIDADO, PERC_LIQUIDADO, PERC_LIQUIDADO_PERDA,    
             RECEBER, PERC_ARECEBER, PERC_ARECEBER_PERDA, PDD, PERC_PDD, SAFRA, PERC_SAFRA, PERDA_REALIZADA, PERC_PERDA_RELIZADA, TIPO)     
SELECT  atividade ,            
    (SUM(FV_CONTRATO)/1000.0)  OPERADO,     
        SUM(PER_OPERADO)       PER_OPERADO,    
    (SUM(VLR_RECEBIDO)/1000.0)  RECEBIDO,     
  SUM(PERC_RECEBIDO)     PERC_RECEBIDO,    
       (SUM(VLR_PREJUIZO)/1000.0)  PREJUIZO,     
     SUM(PERC_PREJUIZO)     PERC_PREJUIZO,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
    (sum(isnull(VLR_PREJUIZO,0.0))/sum(FV_CONTRATO)*100.0) END PERC_PREJUIZO_PERDA,    
       (SUM(VLR_DESCONTO)/1000.0)  DESCONTO,     
  SUM(PERC_DESCONTO)       PERC_DESCONTO,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
    (sum(isnull(VLR_DESCONTO,0.0))/sum(FV_CONTRATO)*100.0) END PERC_DESCONTO_PERDA,    
       (SUM(VLR_TOTAL_PERDA)/1000.0) PERDA_TOTAL,    
     sum(PERC_TOTAL_PERDA)    PERC_TOTAL_PERDA,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
    (sum(isnull(VLR_TOTAL_PERDA,0.0))/sum(FV_CONTRATO)*100.0) END    PERC_TOTAL_PERDA1,     
    (SUM(VLR_LIQUIDADO)/1000.0) LIQUIDADO,     
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
    (sum(isnull(VLR_LIQUIDADO,0.0))/sum(FV_CONTRATO)*100.0)   END      PERC_LIQUIDADO,    
    case when((sum(VLR_TOTAL_PERDA) + sum(VLR_RECEBIDO)))= 0.0 then 0.0 else (sum(VLR_TOTAL_PERDA)/ (sum(VLR_TOTAL_PERDA) + sum(VLR_RECEBIDO))*100.0)END     PERC_LIQUIDADO_PERDA,    
       (SUM(VLR_RECEBER)/1000.0)  RECEBER,        
  SUM(PERC_ARECEBER)     PERC_ARECEBER,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
  (sum(VLR_RECEBER)/sum(FV_CONTRATO)*100.0)   END PERC_ARECEBER_PERDA,    
     (SUM(VLR_PDD)/1000.0)   PDD,    
  CASE WHEN SUM(VLR_RECEBER) = 0.0 THEN 0.0 ELSE    
  (sum(VLR_PDD)/sum(VLR_RECEBER)*100.0)    END   PERC_PDD,    
     (SUM(VLR_SAFRA)/1000.0)SAFRA,     
      SUM(PERC_SAFRA)    PERC_SAFRA,    
     (SUM(VLR_PERDA_RELIZADA)/1000.0)PERDA_REALIZADA,     
  CASE WHEN SUM(VLR_SAFRA) = 0.0 THEN 0.0 ELSE    
        (sum(VLR_PERDA_RELIZADA)/sum(VLR_SAFRA)*100.0)  END PERC_PERDA_RELIZADA,    
   '02'  TIPO  --- 'RENEGOCIADO ATIVIDADE'    
 FROM CARTEIRA_PERDA_RENE (NOLOCK)    
group by  atividade     
    
  
UPDATE TOTAL_SPREAD   
SET  SAFRA = TOTAL_SPREAD.SAFRA - S.SAFRA  
FROM (SELECT    *  
   FROM TOTAL_SPREAD  (NOLOCK)    
   WHERE TIPO = '02'    )  AS S 
WHERE TOTAL_SPREAD.TIPO = '01'    AND TOTAL_SPREAD.ATIVIDADE = S.ATIVIDADE  
    
    
UPDATE TOTAL_SPREAD SET OPERADO =       0.0  WHERE TIPO = '02'     
UPDATE TOTAL_SPREAD SET PER_OPERADO =   0.0  WHERE TIPO = '02'        
UPDATE TOTAL_SPREAD SET RECEBIDO =     ISNULL(SAFRA,0.0) - ISNULL(DESCONTO,0.0) - ISNULL(PREJUIZO,0.0) - ISNULL(RECEBER,0.0)  
UPDATE TOTAL_SPREAD SET LIQUIDADO =     ISNULL(RECEBIDO,0.0) + ISNULL(PERDA_TOTAL,0.0)  


INSERT INTO TOTAL_SPREAD  (atividade, OPERADO, PER_OPERADO, RECEBIDO, PERC_RECEBIDO,  PREJUIZO,    
    PERC_PREJUIZO,  PERC_PREJUIZO_PERDA, DESCONTO, PERC_DESCONTO, PERC_DESCONTO_PERDA,      
    PERDA_TOTAL,  PERC_TOTAL_PERDA,  PERC_TOTAL_PERDA1,  LIQUIDADO, PERC_LIQUIDADO, PERC_LIQUIDADO_PERDA,    
             RECEBER, PERC_ARECEBER, PERC_ARECEBER_PERDA, PDD, PERC_PDD, SAFRA, PERC_SAFRA, PERDA_REALIZADA, PERC_PERDA_RELIZADA, TIPO)    
    
SELECT 'z- TOTAL' ,            
    (SUM(FV_CONTRATO)/1000.0)  OPERADO,     
        SUM(PER_OPERADO)       PER_OPERADO,    
    (SUM(VLR_RECEBIDO)/1000.0)  RECEBIDO,        
 100.0 as      PERC_RECEBIDO,    
       (SUM(VLR_PREJUIZO)/1000.0)  PREJUIZO,     
     SUM(PERC_PREJUIZO)     PERC_PREJUIZO,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
    (sum(isnull(VLR_PREJUIZO,0.0))/sum(FV_CONTRATO)*100.0) END PERC_PREJUIZO_PERDA,    
       (SUM(VLR_DESCONTO)/1000.0)  DESCONTO,     
 100.0 as       PERC_DESCONTO,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
    (sum(isnull(VLR_DESCONTO,0.0))/sum(FV_CONTRATO)*100.0) END PERC_DESCONTO_PERDA,    
       (SUM(VLR_TOTAL_PERDA)/1000.0) PERDA_TOTAL,    
     sum(PERC_TOTAL_PERDA)    PERC_TOTAL_PERDA,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
    (sum(isnull(VLR_TOTAL_PERDA,0.0))/sum(FV_CONTRATO)*100.0) END    PERC_TOTAL_PERDA1,     
    (SUM(VLR_LIQUIDADO)/1000.0) LIQUIDADO,     
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
    (sum(isnull(VLR_LIQUIDADO,0.0))/sum(FV_CONTRATO)*100.0)  END       PERC_LIQUIDADO,    
    (sum(VLR_TOTAL_PERDA) /(sum(VLR_TOTAL_PERDA)+ sum(VLR_RECEBIDO))*100.0)     PERC_LIQUIDADO_PERDA,    
       (SUM(VLR_RECEBER)/1000.0)  RECEBER,          
    100.0 as        PERC_ARECEBER,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
  (sum(VLR_RECEBER)/sum(FV_CONTRATO)*100.0)   END  PERC_ARECEBER_PERDA,    
     (SUM(VLR_PDD)/1000.0)   PDD,    
  CASE WHEN SUM(VLR_RECEBER) = 0.0 THEN 0.0 ELSE    
  (sum(VLR_PDD)/sum(VLR_RECEBER)*100.0)    END   PERC_PDD,    
     (SUM(VLR_SAFRA)/1000.0)  SAFRA,     
      SUM(PERC_SAFRA)    PERC_SAFRA,    
     (SUM(VLR_PERDA_RELIZADA)/1000.0) PERDA_REALIZADA,     
  CASE WHEN SUM(VLR_SAFRA) = 0.0 THEN 0.0 ELSE    
        (sum(VLR_PERDA_RELIZADA)/sum(VLR_SAFRA)*100.0) END   PERC_PERDA_RELIZADA,    
   '03'                                    TIPO  --- 'TOTAL GERAL'    
 FROM CARTEIRA_PERDA (NOLOCK)    
WHERE NOT RIGHT(CONTRATO,1) IN ('A','B','C')    
    
 
UPDATE TOTAL_SPREAD    
SET  PDD     = VLRPDD / 1000.00,    
  PER_OPERADO   = 100.00 , 
  PERC_PREJUIZO = 100.00 ,  
  PERC_PDD     =   CASE WHEN VLRREC =0.0 THEN 0.0 ELSE VLRPDD / VLRREC *100.0 END,
  PERDA_REALIZADA = PERDAREAL / 1000.00,    
  PERC_SAFRA  = 100.0,       
  PREJUIZO = VLRPREJUIZO / 1000.00,    
  DESCONTO = CART.DESCONTO ,    
  PERC_DESCONTO = 100.0,     
  PERDA_TOTAL = cart.PERDA_TOTAL,    
  PERC_TOTAL_PERDA = cart.PERC_TOTAL_PERDA    
FROM (SELECT  SUM(VLR_PDD) AS VLRPDD, sum(VLR_RECEBER) AS VLRREC, SUM(VLR_PERDA_RELIZADA) AS PERDAREAL,    
     sum(VLR_SAFRA) AS VLRSAFRA    ,    
      (SUM(VLR_PREJUIZO)) AS VLRPREJUIZO,     
    SUM(PERC_PREJUIZO)    PRCPREJUIZO,    
    CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
      (sum(isnull(VLR_PREJUIZO,0.0))/sum(FV_CONTRATO)*100.0) END PERC_PREJUIZO_PERDA,    
      (SUM(VLR_DESCONTO)/1000.0)  DESCONTO,      
    SUM(PERC_DESCONTO)       PERC_DESCONTO,    
       (SUM(VLR_TOTAL_PERDA)/1000.0) PERDA_TOTAL,    
     sum(PERC_TOTAL_PERDA)    PERC_TOTAL_PERDA    
   FROM CARTEIRA_PERDA (NOLOCK)      
   WHERE NOT RIGHT(CONTRATO,1) IN ('A','B','C')  
    ) AS CART    
WHERE TOTAL_SPREAD.ATIVIDADE = 'z- TOTAL'     
    

UPDATE TOTAL_SPREAD    
SET  PERDA_REALIZADA = PERDAREAL ,      
  PERC_TOTAL_PERDA = 100.0   
FROM (SELECT  SUM(PERDA_REALIZADA) AS PERDAREAL,    
     SUM(SAFRA)    AS VLRSAFRA    ,    
     SUM(PREJUIZO)   AS VLRPREJUIZO,     
     SUM (PERC_PREJUIZO)  AS PRCPREJUIZO   ,    
           SUM(DESCONTO)   AS VLRDESCONTO,     
     (SUM (PREJUIZO)+ SUM(DESCONTO)) AS VLRPERDA_TOTAL ,    
    SUM(PERC_TOTAL_PERDA)        PERC_TOTAL_PERDA    
   FROM TOTAL_SPREAD (NOLOCK)     
   WHERE TIPO IN ('03','04')  
     ) AS CART    
WHERE TOTAL_SPREAD.ATIVIDADE = 'z- TOTAL'     
    
    
---- TOTAL RENEGOCIAÇÃO     
INSERT INTO TOTAL_SPREAD  (atividade, OPERADO, PER_OPERADO, RECEBIDO, PERC_RECEBIDO,  PREJUIZO,    
    PERC_PREJUIZO,  PERC_PREJUIZO_PERDA, DESCONTO, PERC_DESCONTO, PERC_DESCONTO_PERDA,      
    PERDA_TOTAL,  PERC_TOTAL_PERDA,  PERC_TOTAL_PERDA1,  LIQUIDADO, PERC_LIQUIDADO, PERC_LIQUIDADO_PERDA,    
             RECEBER, PERC_ARECEBER, PERC_ARECEBER_PERDA, PDD, PERC_PDD, SAFRA, PERC_SAFRA, PERDA_REALIZADA, PERC_PERDA_RELIZADA, TIPO)    
SELECT 'z-  TOTAL_RENE' ,            
    (SUM(FV_CONTRATO)/1000.0) OPERADO,     
        SUM(PER_OPERADO)       PER_OPERADO,    
    (SUM(VLR_RECEBIDO)/1000.0) RECEBIDO,     
  SUM(PERC_RECEBIDO)     PERC_RECEBIDO,    
       (SUM(VLR_PREJUIZO)/1000.0) PREJUIZO,     
     SUM(PERC_PREJUIZO)     PERC_PREJUIZO,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
    (sum(isnull(VLR_PREJUIZO,0.0))/sum(FV_CONTRATO)*100.0) END  PERC_PREJUIZO_PERDA,    
       (SUM(VLR_DESCONTO)/1000.0) DESCONTO,     
  SUM(PERC_DESCONTO)       PERC_DESCONTO,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
    (sum(isnull(VLR_DESCONTO,0.0))/sum(FV_CONTRATO)*100.0) END PERC_DESCONTO_PERDA,    
       (SUM(VLR_TOTAL_PERDA)/1000.0) PERDA_TOTAL,    
     sum(PERC_TOTAL_PERDA)    PERC_TOTAL_PERDA,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
    (sum(isnull(VLR_TOTAL_PERDA,0.0))/sum(FV_CONTRATO)*100.0) END    PERC_TOTAL_PERDA1,     
    (SUM(VLR_LIQUIDADO)/1000.0) LIQUIDADO,     
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
    (sum(isnull(VLR_LIQUIDADO,0.0))/sum(FV_CONTRATO)*100.0)   END      PERC_LIQUIDADO,    
  CASE WHEN sum(VLR_TOTAL_PERDA)+ sum(VLR_RECEBIDO) = 0.0 THEN 0.0 ELSE    
    (sum(VLR_TOTAL_PERDA) /(sum(VLR_TOTAL_PERDA)+ sum(VLR_RECEBIDO))*100.0) END    PERC_LIQUIDADO_PERDA,    
       (SUM(VLR_RECEBER)/1000.0)  RECEBER,        
  SUM(PERC_ARECEBER)     PERC_ARECEBER,    
  CASE WHEN SUM(FV_CONTRATO) = 0.0 THEN 0.0 ELSE    
  (sum(VLR_RECEBER)/sum(FV_CONTRATO)*100.0)   END PERC_ARECEBER_PERDA,    
     (SUM(VLR_PDD)/1000.0)   PDD,    
  CASE WHEN SUM(VLR_RECEBER) = 0.0 THEN 0.0 ELSE    
  (sum(VLR_PDD)/sum(VLR_RECEBER)*100.0)    END   PERC_PDD,    
     (SUM(VLR_SAFRA)/1000.0)  SAFRA,     
      SUM(PERC_SAFRA)    PERC_SAFRA,    
     (SUM(VLR_PERDA_RELIZADA)/1000.0) PERDA_REALIZADA,     
  CASE WHEN SUM(VLR_SAFRA) = 0.0 THEN 0.0 ELSE    
        (sum(VLR_PERDA_RELIZADA)/sum(VLR_SAFRA)*100.0)  END PERC_PERDA_RELIZADA,    
   '04'                                    TIPO  --- 'TOTAL RENE'    
 FROM CARTEIRA_PERDA_RENE (NOLOCK)    
    
UPDATE TOTAL_SPREAD SET OPERADO =      0.0  WHERE TIPO = '04'     
UPDATE TOTAL_SPREAD SET PER_OPERADO =  0.0  WHERE TIPO = '04'     
 
UPDATE TOTAL_SPREAD SET TOTAL_RECEBIDO  = CONVERT (FLOAT,T.R),    
       TOTAL_PREJUIZO  = CONVERT (FLOAT,T.P),    
       TOTAL_DESCONTO  = CONVERT (FLOAT,T.D),    
       TOTAL_PERDA_TOTAL = CONVERT (FLOAT,T.PT),    
       TOTAL_SAFRA  = CONVERT (FLOAT,T.S),    
       TOTAL_ARECEBER  = CONVERT (FLOAT,T.AR),    
       TOTAL_PDD   = CONVERT (FLOAT,T.PDD)    
FROM (SELECT  SUM(isnull(RECEBIDO,0.0) ) AS R,     
     SUM(isnull(PREJUIZO,0.0) ) AS P,    
     SUM(isnull(DESCONTO,0.0) ) AS D,    
     SUM(isnull(PERDA_TOTAL,0.0) ) AS PT,    
     SUM(isnull(SAFRA,0.0) )    AS S,    
     SUM(isnull(RECEBER,0.0) )   AS AR,    
     SUM(isnull(PDD,0.0) )   AS PDD    
   FROM TOTAL_SPREAD  (NOLOCK)    
   WHERE TIPO = '01'    )  AS T    
 WHERE TIPO = '01'    
UPDATE TOTAL_SPREAD SET PERC_RECEBIDO  = CASE WHEN ISNULL(TOTAL_RECEBIDO,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(RECEBIDO,0.0)/ TOTAL_RECEBIDO))*100.0)     
             END ,      
      PERC_PREJUIZO  = CASE WHEN ISNULL(TOTAL_PREJUIZO,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(PREJUIZO,0.0)/ TOTAL_PREJUIZO))*100.0)     
             END ,    
      PERC_DESCONTO  = CASE WHEN ISNULL(TOTAL_DESCONTO,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(DESCONTO,0.0)/ TOTAL_DESCONTO))*100.0)     
             END ,    
      PERC_TOTAL_PERDA = CASE WHEN ISNULL(TOTAL_PERDA_TOTAL,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(PERDA_TOTAL,0.0)/ TOTAL_PERDA_TOTAL))*100.0)     
             END ,    
      PERC_SAFRA   = CASE WHEN ISNULL(TOTAL_SAFRA,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(SAFRA,0.0)/ TOTAL_SAFRA))*100.0)     
             END ,    
      PERC_ARECEBER  = CASE WHEN ISNULL(TOTAL_ARECEBER,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(RECEBER,0.0)/ TOTAL_ARECEBER))*100.0)     
             END ,    
      PERC_PDD   = CASE WHEN ISNULL(TOTAL_PDD,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(PDD,0.0)/ TOTAL_PDD))*100.0)     
END  WHERE TIPO = '01'  -- FIM TIPO 1 = OCUPACAO    
  
-- TIPO 2 OCUP + RENEG  -- PB NO TTL PDD  ******************************    
UPDATE TOTAL_SPREAD SET TOTAL_PDD   = CONVERT (FLOAT,T.PDD)    
FROM (SELECT      
     SUM(isnull(PDD,0.0) )   AS PDD    
   FROM TOTAL_SPREAD  (NOLOCK)    
   WHERE TIPO = '02'    )  AS T    
 WHERE TIPO = '02'    
UPDATE TOTAL_SPREAD SET     
   PERC_PDD   = CASE WHEN ISNULL(TOTAL_PDD,0.0) = 0.0 THEN 0.0 ELSE    
           (CONVERT (FLOAT,(isnull(PDD,0.0)/ TOTAL_PDD))*100.0)     
END  WHERE TIPO = '02'      
  
-- TIPO 3 TTL ************************** ALTERADO EM 3/2/17  INCLUIDO  
UPDATE TOTAL_SPREAD   
SET RECEBIDO =    S.R, LIQUIDADO=S.L, SAFRA =S.SF  
FROM (SELECT SUM(RECEBIDO) AS R, SUM(LIQUIDADO) AS L, SUM(SAFRA) AS SF  FROM TOTAL_SPREAD (NOLOCK)  
   WHERE TIPO IN ( '01')) AS S  
WHERE TOTAL_SPREAD.TIPO='03'  
    
INSERT INTO TOTAL_SPREAD  (atividade, OPERADO,  RECEBIDO, PREJUIZO, DESCONTO,  PERDA_TOTAL, LIQUIDADO,    
             RECEBER, PDD,  SAFRA, PERDA_REALIZADA, TIPO)    
SELECT ATIVIDADE ,            
    (SUM(ISNULL(OPERADO,0.0)))     OPERADO,     
    (SUM(ISNULL(RECEBIDO,0.0)))  RECEBIDO,     
       (SUM(ISNULL(PREJUIZO,0.0)))  PREJUIZO,         
       (SUM(ISNULL(DESCONTO,0.0)))  DESCONTO,     
    (SUM(ISNULL(PERDA_TOTAL,0.0)))   PERDA_TOTAL,        
    (SUM(ISNULL(LIQUIDADO,0.0)))  LIQUIDADO,         
       (SUM(ISNULL(RECEBER,0.0)))     RECEBER,         
       (SUM(ISNULL(PDD,0.0)))      PDD,    
       (SUM(ISNULL(SAFRA,0.0)))   SAFRA,     
    (SUM(ISNULL(PERDA_REALIZADA,0.0))) PERDA_REALIZADA,            
    '05'                               TIPO 
 FROM TOTAL_SPREAD  (NOLOCK)    
WHERE TIPO IN ('01','02')    
GROUP BY ATIVIDADE     
    
    
    
    
-------    
 UPDATE TOTAL_SPREAD SET PERDA_TOTAL    = (ISNULL(PREJUIZO,0.0) + ISNULL(DESCONTO,0.0)) WHERE TIPO = '05'    
 UPDATE TOTAL_SPREAD SET PERDA_REALIZADA = (ISNULL(PERDA_TOTAL,0.0) + ISNULL(PDD,0.0) ) WHERE TIPO = '05'    
 UPDATE TOTAL_SPREAD SET TOTAL_OPERADO     =  (SELECT SUM(ISNULL(OPERADO,0.0)) FROM TOTAL_SPREAD (NOLOCK) WHERE TIPO IN ('05') ) WHERE TIPO = '05'    
 UPDATE TOTAL_SPREAD SET TOTAL_RECEBIDO     =  (SELECT SUM(ISNULL(RECEBIDO,0.0)) FROM TOTAL_SPREAD (NOLOCK)  WHERE TIPO IN ('05') ) WHERE TIPO = '05'    
 UPDATE TOTAL_SPREAD SET TOTAL_PREJUIZO     =  (SELECT SUM(ISNULL(PREJUIZO,0.0)) FROM TOTAL_SPREAD (NOLOCK)  WHERE TIPO IN ('05') ) WHERE TIPO = '05'    
 UPDATE TOTAL_SPREAD SET TOTAL_DESCONTO     =  (SELECT SUM(ISNULL(DESCONTO,0.0)) FROM TOTAL_SPREAD (NOLOCK) WHERE TIPO IN ('05'))   WHERE TIPO = '05'    
 UPDATE TOTAL_SPREAD SET TOTAL_PERDA_TOTAL     =  (SELECT SUM(ISNULL(PERDA_TOTAL,0.0)) FROM TOTAL_SPREAD (NOLOCK) WHERE TIPO IN ('05') ) WHERE TIPO = '05'    
 UPDATE TOTAL_SPREAD SET TOTAL_LIQUIDADO       =  (SELECT SUM(ISNULL(LIQUIDADO,0.0)) FROM TOTAL_SPREAD (NOLOCK) WHERE TIPO IN ('05') )   WHERE TIPO = '05'    
 UPDATE TOTAL_SPREAD SET TOTAL_ARECEBER           =  (SELECT SUM(ISNULL(RECEBER,0.0)) FROM TOTAL_SPREAD (NOLOCK) WHERE TIPO IN ('05') ) WHERE TIPO = '05'    
 UPDATE TOTAL_SPREAD SET TOTAL_PDD            =  (SELECT SUM(ISNULL(PDD,0.0)) FROM TOTAL_SPREAD (NOLOCK) WHERE TIPO IN ('05') ) WHERE TIPO = '05'    
 UPDATE TOTAL_SPREAD SET TOTAL_SAFRA        =  (SELECT SUM(ISNULL(SAFRA,0.0)) FROM TOTAL_SPREAD (NOLOCK) WHERE TIPO IN ('05') ) WHERE TIPO = '05'    
 UPDATE TOTAL_SPREAD SET TOTAL_PERDA_REALIZADA    =  (SELECT SUM(ISNULL(PERDA_REALIZADA,0.0)) FROM TOTAL_SPREAD (NOLOCK) WHERE TIPO IN ('05') ) WHERE TIPO = '05'     
UPDATE TOTAL_SPREAD SET PER_OPERADO   =  CASE WHEN ISNULL(TOTAL_OPERADO,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(OPERADO,0.0)/ TOTAL_OPERADO))*100.0)     
             END         WHERE TIPO = '05'    
UPDATE TOTAL_SPREAD SET PERC_RECEBIDO  = CASE WHEN ISNULL(TOTAL_RECEBIDO,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(RECEBIDO,0.0)/ TOTAL_RECEBIDO))*100.0)     
             END   WHERE TIPO = '05'    
UPDATE TOTAL_SPREAD SET PERC_PREJUIZO  = CASE WHEN ISNULL(TOTAL_PREJUIZO,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(PREJUIZO,0.0)/ TOTAL_PREJUIZO))*100.0)           
             END   WHERE TIPO = '05'            
UPDATE TOTAL_SPREAD SET PERC_DESCONTO  =  CASE WHEN ISNULL(TOTAL_DESCONTO,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(DESCONTO,0.0)/ TOTAL_DESCONTO))*100.0)           
             END    WHERE TIPO = '05'           
UPDATE TOTAL_SPREAD SET PERC_TOTAL_PERDA = CASE WHEN ISNULL(TOTAL_PERDA_TOTAL,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(PERDA_TOTAL,0.0)/ TOTAL_PERDA_TOTAL))*100.0)     
             END    WHERE TIPO = '05'         
UPDATE TOTAL_SPREAD SET PERC_ARECEBER  = CASE WHEN ISNULL(TOTAL_ARECEBER,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(RECEBER,0.0)/ TOTAL_ARECEBER))*100.0)            
             END    WHERE TIPO = '05'           
UPDATE TOTAL_SPREAD SET PERC_SAFRA   = CASE WHEN ISNULL(TOTAL_SAFRA,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(SAFRA,0.0) / TOTAL_SAFRA))*100.0)                
             END    WHERE TIPO = '05'           
UPDATE TOTAL_SPREAD SET PERC_PDD =            CASE WHEN ISNULL(TOTAL_PDD,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(PDD,0.0) / TOTAL_PDD))*100.0)                   
             END     WHERE TIPO = '05'             
UPDATE TOTAL_SPREAD SET PERC_PERDA_RELIZADA =   CASE WHEN ISNULL(SAFRA,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT,(isnull(PERDA_REALIZADA,0.0) / SAFRA))*100.0)     
              END         WHERE TIPO = '05'    
UPDATE TOTAL_SPREAD SET PERC_PREJUIZO_PERDA =  CASE WHEN ISNULL(OPERADO,0.0) = 0.0 THEN 0.0 ELSE    
              (CONVERT (FLOAT, isnull(PREJUIZO,0.0)/(ISNULL(OPERADO,0.0))*100.0))    
              END         WHERE TIPO = '05'     
UPDATE TOTAL_SPREAD SET PERC_DESCONTO_PERDA =  CASE WHEN ISNULL(OPERADO,0.0) = 0.0 THEN 0.0 ELSE    
              (isnull(DESCONTO,0.0)/isnull(OPERADO,0.0)*100.0)     
              END         WHERE TIPO = '05'     
UPDATE TOTAL_SPREAD SET PERC_TOTAL_PERDA1   =  CASE WHEN ISNULL(OPERADO,0.0) = 0.0 THEN 0.0 ELSE    
              (isnull(PERDA_TOTAL,0.0)/isnull(OPERADO,0.0)*100.0)    
              END         WHERE TIPO = '05'     
UPDATE TOTAL_SPREAD SET PERC_LIQUIDADO       = CASE WHEN ISNULL(OPERADO,0.0) = 0.0 THEN 0.0 ELSE    
              (isnull(LIQUIDADO,0.0)/isnull(OPERADO,0.0)*100.0)    
              END         WHERE TIPO = '05'     
UPDATE TOTAL_SPREAD SET PERC_LIQUIDADO_PERDA = CASE WHEN ISNULL(PERDA_TOTAL,0.0)+ isnull(RECEBIDO,0.0) = 0.0 THEN 0.0 ELSE    
              (isnull(PERDA_TOTAL,0.0) /(isnull(PERDA_TOTAL,0.0)+ isnull(RECEBIDO,0.0))*100.0)     
              END        WHERE TIPO = '05'     
UPDATE TOTAL_SPREAD SET PERC_ARECEBER_PERDA = CASE WHEN ISNULL(OPERADO,0.0) = 0.0 THEN 0.0 ELSE    
              ((isnull(RECEBER,0.0)/ isnull(OPERADO,0.0)*100.0) )    
              END         WHERE TIPO = '05'     
   
UPDATE TOTAL_SPREAD    
SET  PERDA_REALIZADA = PERDAREAL ,    
  PERC_PERDA_RELIZADA =CASE WHEN VLRSAFRA = 0.0 THEN 0.0   
         ELSE (PERDAREAL / VLRSAFRA * 100.0 ) END     
FROM (SELECT  LEFT(ATIVIDADE,3) AS ATIVIDADE, SUM(PERDA_REALIZADA) AS PERDAREAL,    
     sum(SAFRA) AS VLRSAFRA        
   FROM TOTAL_SPREAD (NOLOCK)     
   WHERE TIPO IN ('01','02') 
   GROUP BY LEFT(ATIVIDADE,3)   ) AS CART    
WHERE TOTAL_SPREAD.TIPO =     '05'     
 AND LEFT(TOTAL_SPREAD.ATIVIDADE,3) = LEFT(CART.ATIVIDADE,3)    
    
    
--------------- TOTAL GERAL       
    
INSERT INTO TOTAL_SPREAD  (atividade, OPERADO, PER_OPERADO, RECEBIDO, PERC_RECEBIDO,  PREJUIZO,    
    PERC_PREJUIZO,  PERC_PREJUIZO_PERDA, DESCONTO, PERC_DESCONTO, PERC_DESCONTO_PERDA,      
    PERDA_TOTAL,  PERC_TOTAL_PERDA,  PERC_TOTAL_PERDA1,  LIQUIDADO, PERC_LIQUIDADO, PERC_LIQUIDADO_PERDA,    
             RECEBER, PERC_ARECEBER, PERC_ARECEBER_PERDA, PDD, PERC_PDD, SAFRA, PERC_SAFRA, PERDA_REALIZADA, PERC_PERDA_RELIZADA, TIPO)    
    
    
    
SELECT 'z-TOTAL_GERAL',     
    SUM(OPERADO)           OPERADO,     
    SUM(PER_OPERADO)          PER_OPERADO,    
    SUM(RECEBIDO)          RECEBIDO,    
       SUM(PERC_RECEBIDO)         PERC_RECEBIDO,     
    SUM(PREJUIZO)          PREJUIZO,     
    SUM (PERC_PREJUIZO)         PERC_PREJUIZO,    
      
  CASE WHEN SUM(OPERADO) = 0.0 THEN 0.0 ELSE    
       (SUM (PREJUIZO)/ SUM(OPERADO)*100.0)  END   PERC_PREJUIZO_PERDA,    
       SUM(DESCONTO)          DESCONTO,     
       SUM (PERC_DESCONTO)         PERC_DESCONTO,     
  CASE WHEN SUM(OPERADO) = 0.0 THEN 0.0 ELSE    
    (SUM (DESCONTO)/ SUM(OPERADO) *100.0)   END   PERC_DESCONTO_PERDA,     
    (SUM (PREJUIZO)+ SUM(DESCONTO))      PERDA_TOTAL ,          
       SUM(PERC_TOTAL_PERDA)        PERC_TOTAL_PERDA,     
  CASE WHEN SUM(OPERADO) = 0.0 THEN 0.0 ELSE    
       ((SUM (PREJUIZO)+ SUM(DESCONTO))/SUM(OPERADO)*100.0) END  PERC_TOTAL_PERDA1,    
       SUM(LIQUIDADO)          LIQUIDADO,     
       (SUM(LIQUIDADO)/SUM(OPERADO)*100.0)                    PERC_LIQUIDADO,       
  CASE WHEN (SUM (LIQUIDADO)) = 0.0 THEN 0.0 ELSE    
       ((SUM (PREJUIZO)+ SUM(DESCONTO))/ SUM(LIQUIDADO) *100.0) END  PERC_LIQUIDADO_PERDA,     
    
       SUM(RECEBER)           RECEBER ,    
       SUM(PERC_ARECEBER)         PERC_ARECEBER,     
  CASE WHEN SUM(OPERADO) = 0.0 THEN 0.0 ELSE    
       (SUM(RECEBER)/SUM(OPERADO)*100.0)  END   PERC_ARECEBER_PERDA,     
       SUM(PDD)            PDD,    
  CASE WHEN SUM(RECEBER) = 0.0 THEN 0.0 ELSE    
       (SUM(PDD)/SUM(RECEBER) *100.0)   END   PERC_PDD,     
       SUM(SAFRA)           SAFRA,     
       SUM(PERC_SAFRA)          PERC_SAFRA,     
      ((SUM (PREJUIZO)+ SUM(DESCONTO))+ SUM (PDD))   PERDA_REALIZADA,     
  CASE WHEN SUM(SAFRA) = 0.0 THEN 0.0 ELSE    
      (((SUM (PREJUIZO)+ SUM(DESCONTO))+ SUM (PDD)) / SUM(SAFRA)*100.0)  END PERC_PERDA_RELIZADA,    
     '06'                                    TIPO  
          
FROM TOTAL_SPREAD (NOLOCK) where tipo = '05'    
    
     
UPDATE TOTAL_SPREAD    
SET  PERDA_REALIZADA = PERDAREAL ,     
  PERC_PREJUIZO = 100.0 ,  
  PERC_TOTAL_PERDA = 100.0   
FROM (SELECT  SUM(PERDA_REALIZADA) AS PERDAREAL,    
     SUM(SAFRA)    AS VLRSAFRA    ,    
     SUM(PREJUIZO)   AS VLRPREJUIZO,     
     SUM (PERC_PREJUIZO)  AS PRCPREJUIZO   ,    
           SUM(DESCONTO)   AS VLRDESCONTO,     
     (SUM (PREJUIZO)+ SUM(DESCONTO)) AS  VLRPERDA_TOTAL ,    
     SUM(PERC_TOTAL_PERDA)    PERC_TOTAL_PERDA      
   FROM TOTAL_SPREAD (NOLOCK)     
   WHERE TIPO IN ('03','04')  
     ) AS CART    
WHERE TOTAL_SPREAD.TIPO =     '06'     

-- REMOVE OS NULL    
UPDATE TOTAL_SPREAD SET  PREJUIZO = 0.0   WHERE PREJUIZO      IS NULL    
UPDATE TOTAL_SPREAD SET  PERC_PREJUIZO = 0.0  WHERE PERC_PREJUIZO     IS NULL    
UPDATE TOTAL_SPREAD SET  PERC_PREJUIZO_PERDA = 0.0 WHERE PERC_PREJUIZO_PERDA IS NULL    
UPDATE TOTAL_SPREAD SET  DESCONTO = 0.0   WHERE DESCONTO      IS NULL    
UPDATE TOTAL_SPREAD SET  RECEBER = 0.0   WHERE RECEBER       IS NULL    
    
UPDATE TOTAL_SPREAD SET  PERC_ARECEBER_PERDA = 0.0  WHERE PERC_ARECEBER_PERDA    IS NULL    
UPDATE TOTAL_SPREAD SET  PDD = 0.0    WHERE PDD        IS NULL    
UPDATE TOTAL_SPREAD SET  PERC_PDD = 0.0   WHERE PERC_PDD      IS NULL    
    
UPDATE TOTAL_SPREAD SET  TOTAL_OPERADO = 0.0  WHERE TOTAL_OPERADO     IS NULL    
UPDATE TOTAL_SPREAD SET  TOTAL_RECEBIDO = 0.0 WHERE TOTAL_RECEBIDO     IS NULL    
UPDATE TOTAL_SPREAD SET  TOTAL_PREJUIZO = 0.0 WHERE TOTAL_PREJUIZO     IS NULL    
UPDATE TOTAL_SPREAD SET  TOTAL_DESCONTO = 0.0 WHERE TOTAL_DESCONTO     IS NULL    
    
UPDATE TOTAL_SPREAD SET  TOTAL_PERDA_TOTAL = 0.0 WHERE TOTAL_PERDA_TOTAL   IS NULL    
UPDATE TOTAL_SPREAD SET  TOTAL_LIQUIDADO = 0.0 WHERE TOTAL_LIQUIDADO     IS NULL    
    
UPDATE TOTAL_SPREAD SET  TOTAL_ARECEBER = 0.0 WHERE TOTAL_ARECEBER     IS NULL    
UPDATE TOTAL_SPREAD SET  TOTAL_PDD = 0.0   WHERE TOTAL_PDD      IS NULL    
UPDATE TOTAL_SPREAD SET  TOTAL_SAFRA = 0.0  WHERE TOTAL_SAFRA      IS NULL    
    
UPDATE TOTAL_SPREAD SET  TOTAL_PERDA_REALIZADA = 0.0  WHERE TOTAL_PERDA_REALIZADA IS NULL    
    
UPDATE TOTAL_SPREAD SET  PERC_DESCONTO = 0.0    WHERE PERC_DESCONTO   IS NULL    
    
UPDATE TOTAL_SPREAD   
SET  PER_OPERADO = 100.0, PERC_RECEBIDO = 100.0,  PERC_PREJUIZO = 100.0,  PERC_DESCONTO = 100.0,  PERC_ARECEBER = 100.0,  
  PERC_SAFRA  = 100.0  
WHERE TOTAL_SPREAD.TIPO = '03' -- TTL SEM RENEG    
UPDATE TOTAL_SPREAD   
SET  PER_OPERADO = 100.0, PERC_RECEBIDO = 100.0,  PERC_PREJUIZO = 100.0,  PERC_DESCONTO = 100.0,  PERC_ARECEBER = 100.0,  
  PERC_SAFRA  = 100.0  
WHERE TOTAL_SPREAD.TIPO = '06' -- TTL GERAL  
    
UPDATE TOTAL_SPREAD SET  atividade = case when tipo='01'   then atividade    
             when tipo in ('02') then atividade + ' Reneg'    
             when tipo='05'   then atividade + '+Reneg'     
             else atividade   end    
  
END    