USE SIG

-- EXEC [SCR_PROT_CAPTURA] '20160101','20160410'

/****** Object:  StoredProcedure [dbo].[SCR_PROT_CAPTURA]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_PROT_CAPTURA' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_PROT_CAPTURA]
GO

-- ***********
CREATE PROCEDURE [dbo].[SCR_PROT_CAPTURA] (
	@DTINI as DATETIME,
	@DTFIM as DATETIME
)
AS
BEGIN

--SELECT *	
SELECT			DATA_MOV,
				DATA_OCORRENCIA AS DATA_OCOR
                    	   ,'V' AS [CODIGO_PRODUTO] 
                          ,[CONTRATO] 
                          ,[PARCELA] 
                          ,O.COD_FC AS COD_OCORRENCIA
                          ,1 AS [SEQ_OCORRENCIA] 
                          ,O.OCORRENCIA_FC AS  [OBS_OCORRENCIA] 
FROM	PROT_RETORNO_HIST R (NOLOCK)
JOIN	PROT_OCORRENCIA_DE_PARA  O (NOLOCK) ON O.COD_CART = R.STATUS
	WHERE	R.DATA_MOV BETWEEN @DTINI AND @DTFIM
	
END

-- SELECT * FROM	PROT_RETORNO_HIST (NOLOCK)	WHERE	DATA_MOV BETWEEN '20160401' AND '20160410'
-- SELECT * FROM PROT_OCORRENCIA_DE_PARA

GO

