USE SIG
-- alter table PROT_RETORNO alter column status varchar(100)

-- EXEC [SCR_PROT_RETORNO] '20160101','20160201','',0,60
/****** Object:  StoredProcedure [dbo].[SCR_PROT_REMESSA]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_PROT_RETORNO' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_PROT_RETORNO]
GO

-- ***********
CREATE PROCEDURE [dbo].[SCR_PROT_RETORNO] (
	@DTINI as DATETIME,
	@DTFIM as DATETIME
)
AS
BEGIN

--SELECT *	
SELECT			DATA_MOV
                    	   ,[CODIGO_CLIENTE] 
                          ,[NOME_CLIENTE] 
                          ,[CONTRATO] 
                          ,[PARCELA] 
                          ,[PROTOCOLO] 
                          ,[DT_RECEPCAO] 
                          ,[CARTORIO] 
                          ,[IBGE] 
                          ,[CIDADE]
                          ,[DATA_OCORRENCIA]
                          ,[STATUS] ,  [DESCR_STATUS]
                          --, (SELECT OCORRENCIA FROM prot_ocorrencia_cart (NOLOCK) WHERE COD=STATUS) AS DESCR_STATUS
							,[VALOR_CUSTAS] 
FROM	PROT_RETORNO_HIST (NOLOCK)
	WHERE	DATA_MOV BETWEEN @DTINI AND @DTFIM

END


GO

