USE SIG

-- EXEC [SCR_PROT_CAPTURA] '20160101','20160201','',0,60
/****** Object:  StoredProcedure [dbo].[SCR_PROT_CAPTURA]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_PROTESTO' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_PROTESTO]
GO

-- ***********
CREATE PROCEDURE [dbo].[SCR_PROTESTO] (
	@DTINI as DATETIME,
	@DTFIM as DATETIME
)
AS
BEGIN

--SELECT *	 DATA_OCORRENCIA
SELECT	--	*
		RM.DATA_MOV AS Data_Mov_REMESSA
                    	   ,RM.CLIENTE
                          ,RM.ENDERECO

                          ,RM.BAIRRO 
                          ,RM.CEP 
                          ,RM.CIDADE
                          ,RM.UF
                          ,RM.CNPJ

                          ,RM.CONTRATO
                          ,RM.PARCELA 
                          ,RM.VALOR
							,RM.VALOR_PROTESTO
							,RM.DT_EMISSAO, 
RM.Dt_VENCIMENTO,
	RM.ESPECIE	
,
ISNULL(C.DATA_MOV,'')       AS Data_Mov_CONFIRMA,	
ISNULL(C.CODigo_CLIENTE,'') AS CODigo_CLIENTE,	
ISNULL(C.NOME_CLIENTE,'')   AS NOME_CLIENTE,
ISNULL(C.CONTRATO,'')   AS 	CONTRATO,
ISNULL(C.PARCELA,'')    AS 		PARCELA	,
ISNULL(C.PROTOCOLO,'')		AS PROTOCOLO,	
ISNULL(C.DT_RECEPCAO,'')    AS DT_RECEPCAO,	
ISNULL(C.CARTORIO,'')   AS CARTORIO,	
ISNULL(C.IBGE,'')		AS IBGE,	

R.Data_Mov AS Data_Mov_RETORNO,	
R.DT_RECEPCAO AS DT_RECEPCAO_RETORNO,	
R.CARTORIO AS CARTORIO_RETORNO,	
R.IBGE AS IBGE_RETORNO,	
R.CIDADE AS CIDADE_RETORNO,	
R.DATA_OCORRENCIA AS DT_OCORR_RETORNO,	R.STATUS AS COD_STATUS_RETORNO,
R.DESCR_STATUS AS	DESCR_STATUS_RETORNO,	
R.VALOR_CUSTAS AS   VLR_CUSTAS_RET,	

ISNULL(CP.DATA_MOV,'')		 AS DT_MOV_CAPTURA,	
ISNULL(CP.CODIGO_PRODUTO,'') AS COD_PROD_CAPT,	
ISNULL(CP.COD_OCORRENCIA,'') AS COD_OCORR,	
ISNULL(CP.SEQ_OCORRENCIA,'') AS SEQ_OCORR,	
ISNULL(CP.OBS_OCORRENCIA,'') AS OBS_OCORR_CAPT,	
ISNULL(CP.SEQ_OCORRENCIA,'') AS SEQ_CAPT   
-- */
FROM	PROT_REMESSA_HIST RM (NOLOCK)	
LEFT JOIN	PROT_RETORNO_HIST AS R (NOLOCK)      ON RM.CONTRATO = R.CONTRATO  AND RM.PARCELA = R.PARCELA
--JOIN	PROT_OCORRENCIA_DE_PARA  O (NOLOCK) ON O.COD_CART = R.STATUS
LEFT JOIN	PROT_CONFIRMA_HISTORICO  C (NOLOCK)  ON C.CONTRATO  = RM.CONTRATO AND C.PARCELA  = RM.PARCELA
LEFT JOIN	PROT_CAPTURA_HIST        CP (NOLOCK) ON CP.CONTRATO = RM.CONTRATO AND CP.PARCELA = RM.PARCELA
	WHERE	RM.DATA_MOV BETWEEN @DTINI AND @DTFIM
	
END

-- SELECT * FROM	PROT_RETORNO_HIST (NOLOCK)	WHERE	DATA_MOV BETWEEN '20160401' AND '20160410'
-- SELECT * FROM	PROT_CARGA_CONFIRMA (NOLOCK)	
-- SELECT * FROM	PROT_CAPTURA_HIST
-- SELECT * FROM	PROT_CONFIRMA_HISTORICO C (NOLOCK)	
-- SELECT * FROM	PROT_REMESSA_HIST  RM (NOLOCK)	
-- SELECT * FROM PROT_OCORRENCIA_DE_PARA
-- Data_Mov_REMESSA	CLIENTE	ENDERECO	BAIRRO	CEP	CIDADE	UF	CNPJ	Contrato	PARCELA	Valor	VALOR_PROTESTO	Dt_EMISSAO	Dt_VENCIMENTO	ESPECIE	Data_Mov_CONFIRMA	CODigo_CLIENTE	NOME_CLIENTE	CONTRATO	PARCELA	PROTOCOLO	DT_RECEPCAO	CARTORIO	IBGE	Data_Mov_RETORNO	DT_RECEPCAO_RETORNO	CARTORIO_RETORNO	IBGE_RETORNO	CIDADE_RETORNO	DT_OCORR_RETORNO	COD_STATUS_RETORNO	DESCR_STATUS_RETORNO	VLR_CUSTAS_RET	DT_MOV_CAPTURA	COD_PROD_CAPT	COD_OCORR	SEQ_OCORR	OBS_OCORR_CAPT	SEQ_CAPT

GO

