USE SIG

-- EXEC [SCR_PROT_CONFIRMA] '20160101','20160201','',0,60
-- select * from PROT_CARGA_CONFIRMA
-- sp_help  PROT_CARGA_CONFIRMA
-- Insert Into PROT_CARGA_CONFIRMA Values ( '87064723468', 'EDMILSON JOSE DA SILVA DIAS', '612057766A', '21', '123', '01/02/2016', '1', 'teste', 'Sao paulo')
/****** Object:  StoredProcedure [dbo].[SCR_PROT_CONFIRMA]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_PROT_CONFIRMA' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_PROT_CONFIRMA]
GO

-- ***********
CREATE PROCEDURE [dbo].[SCR_PROT_CONFIRMA] (
	@DTINI as DATETIME,
	@DTFIM as DATETIME
)
AS
BEGIN


DECLARE @ONTEM  DATETIME  
SET @ONTEM =   @DTFIM
/*
DECLARE @DTINI  DATETIME  
DECLARE @DTFIM  DATETIME  

SET @DTINI = DATEADD(MM,-1,CONVERT(DATETIME,@MesReferencia+'01'))  
SET @DTFIM = DATEADD(MM,+1,CONVERT(DATETIME,@MesReferencia+'01'))  
*/

/*
TRUNCATE TABLE AUX_PROT_REMESSA
create table AUX_PROT_REMESSA (
Data_Mov	datetime,
CLIENTE		varchar(200),
ENDERECO	varchar(200),	
BAIRRO		varchar(200),
CEP			varchar(20),
CIDADE		varchar(200),
UF			varchar(2),
CNPJ		varchar(20),
Contrato		varchar(20),
PARCELA			varchar(10),
Valor			FLOAT,
VALOR_PROTESTO	FLOAT,
Dt_EMISSAO		DATETIME,
Dt_VENCIMENTO	DATETIME,
ESPECIE			varchar(200))
*/

SELECT * FROM [PROT_CONFIRMA_HISTORICO] (NOLOCK)
WHERE	DATA_MOV BETWEEN @DTINI AND @DTFIM
/*WHERE
				  (

@localizar = '' or (  
					  CNPJ like '%'+@localizar+'%' or   
					  RazaoSocial like '%'+@localizar+'%' or  
					  --NOMEFANTASIA  like '%'+@localizar+'%' or  
					  CNAE		  like '%'+@localizar+'%' or  
					  Endereco	  like '%'+@localizar+'%' or  
					  Bairro	  like '%'+@localizar+'%' or  
					  Cidade	  like '%'+@localizar+'%' or  
					  NomeFantasia like '%'+@localizar+'%'  
					   )   )
*/
END




GO

