USE SIG

-- EXEC [SCR_PROT_REMESSA] '20160201','20160228','',0,60
-- EXEC [SCR_PROT_REMESSA] '20160301','20160329','',0,200
/****** Object:  StoredProcedure [dbo].[SCR_PROT_REMESSA]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_PROT_REMESSA' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_PROT_REMESSA]
GO

-- ***********
CREATE PROCEDURE [dbo].[SCR_PROT_REMESSA] (
	@DTINI as DATETIME,
	@DTFIM as DATETIME,
	@PRODUTO as varchar(200),
	@ATRASO_DE  as INT,
	@ATRASO_ATE as INT
)
AS
BEGIN

/*
-- limp o anterior
DELETE	FROM	PROT_REMESSA_HIST
WHERE	DATA_MOV = @DTFIM


DECLARE @ONTEM  DATETIME  
SET @ONTEM =   @DTFIM
/*
DECLARE @DTINI  DATETIME  
DECLARE @DTFIM  DATETIME  

SET @DTINI = DATEADD(MM,-1,CONVERT(DATETIME,@MesReferencia+'01'))  
SET @DTFIM = DATEADD(MM,+1,CONVERT(DATETIME,@MesReferencia+'01'))  
*/

TRUNCATE TABLE AUX_PROT_REMESSA
/*
DROP table AUX_PROT_REMESSA 
DROP table PROT_REMESSA_HIST

create table AUX_PROT_REMESSA (
create table PROT_REMESSA_HIST (
Data_Mov	datetime,
CLIENTE		varchar(200),
ENDERECO	varchar(200),	
COMPL_ENDERECO	varchar(200),	
BAIRRO		varchar(200),
CEP			varchar(20),
CIDADE		varchar(200),
UF			varchar(2),
CNPJ		varchar(20),
Contrato		varchar(20),
PARCELA			varchar(10),
Valor			FLOAT,
VALOR_PROTESTO	FLOAT,
Dt_EMISSAO		DATETIME,
Dt_VENCIMENTO	DATETIME,
ESPECIE			varchar(200))
*/

INSERT AUX_PROT_REMESSA
SELECT
	@ONTEM
	, NOME_CLIENTE
	,Endereco
	,''
	,Bairro
	,CEP
	,Cidade
	,UF

	,CPF_CNPJ
	,CONTRATO
	,PARCELA
	,VLR_PARCELA
	,VLR_PARCELA
	,data_contrato
	,VENCIMENTO
	,'CBI'
FROM 

(  
-- DECLARE  @MesReferencia as varchar(6) DECLARE  @localizar as varchar(200) SET @MesReferencia='201506' SET @localizar=''  
	SELECT * FROM   PERFORMANCE_HISTORICO (NOLOCK)
	 WHERE    DATA_REF = @ONTEM
		AND   RECEBIDO NOT IN (1)   -- EM  ABERTO
		AND	  RATING NOT IN ('HH')	-- SEM PREJUIZO 
		AND	  ATRASO BETWEEN @ATRASO_DE AND @ATRASO_ATE
				   ) AS PS 


-- remove negativados  ***************
DELETE	AUX_PROT_REMESSA
FROM	GestorCob..ENEGP (NOLOCK)
WHERE	Contrato = NPNROPER
	AND PARCELA	 = NPNRPARC

-- remove OS JAH PROTESTADOS  ***************
DELETE	AUX_PROT_REMESSA
FROM	PROT_REMESSA_HIST H (NOLOCK)
WHERE	AUX_PROT_REMESSA.Contrato = H.Contrato
	AND AUX_PROT_REMESSA.PARCELA	 = H.PARCELA

-- AJUSTA O COMPLEMENTO DE ENDERECO  **********
-- COD CLIENTE
UPDATE	AUX_PROT_REMESSA
SET		COMPL_ENDERECO = OPCODCLI
FROM	CDCSANTANAMicroCredito..COPER (NOLOCK)
WHERE	CONTRATO = OPNROPER
-- COMPLEMENTO
UPDATE	AUX_PROT_REMESSA
SET		COMPL_ENDERECO = CLCMPTCOB
FROM	CDCSANTANAMicroCredito..CCLIE (NOLOCK)
WHERE	COMPL_ENDERECO = CLCODCLI




-- ATUALIZAR O HISTORICO DE REMESSAS
INSERT	PROT_REMESSA_HIST
SELECT * FROM AUX_PROT_REMESSA (NOLOCK)


SELECT * FROM AUX_PROT_REMESSA (NOLOCK)
WHERE
				  (

@localizar = '' or (  
					  CNPJ like '%'+@localizar+'%' or   
					  RazaoSocial like '%'+@localizar+'%' or  
					  --NOMEFANTASIA  like '%'+@localizar+'%' or  
					  CNAE		  like '%'+@localizar+'%' or  
					  Endereco	  like '%'+@localizar+'%' or  
					  Bairro	  like '%'+@localizar+'%' or  
					  Cidade	  like '%'+@localizar+'%' or  
					  NomeFantasia like '%'+@localizar+'%'  
					   )   )
*/

SELECT *	FROM	PROT_REMESSA_HIST (NOLOCK)
	WHERE	DATA_MOV = @DTFIM

END




GO

