
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

--  **********************************************************************************************************
--  **********************************************************************************************************
--  **********************************************************************************************************

--DROP FUNCTION PMT
CREATE FUNCTION PMT (@MONTHLYRATE FLOAT, @NUMBEROFMONTHS FLOAT, @AMOUNT FLOAT)  
RETURNS FLOAT   
AS  
BEGIN  
    DECLARE @PAYMENT FLOAT
	-- VERIFICA PARA NAO DAR ERRO   	DIV 0
	IF (1.0 - POWER(1.0 + @MONTHLYRATE, -1.0 * @NUMBEROFMONTHS)) <> 0.0 
		SET @PAYMENT = (@AMOUNT * @MONTHLYRATE / (1.0 - POWER(1.0 + @MONTHLYRATE, -1.0 * @NUMBEROFMONTHS)))  
	ELSE
		SET @PAYMENT = 0.0		
	
    RETURN  @PAYMENT
	--RETURN (@AMOUNT *POWER((1.0+ @MONTHLYRATE),@NUMBEROFMONTHS) / (( POWER(1.0 + @MONTHLYRATE, @NUMBEROFMONTHS)-1.0)/  @MONTHLYRATE))
END  
  


-- FUNCAO DE CALCULO DA TAXA  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'Rate' AND type = 'F')
   DROP FUNCTION [dbo].[Rate]
GO
--DROP FUNCTION RATE  
CREATE FUNCTION RATE (@NUMBEROFMONTHS FLOAT, @PAYMENT FLOAT, @AMOUNT FLOAT)  
RETURNS FLOAT
AS  
BEGIN  
    DECLARE @PAYMENT_CALC FLOAT,  
            @RATE_MAX FLOAT,  
            @RATE_MIN FLOAT,  
            @RATE FLOAT,  
            @ITER_CNT INT  
      
    SET @RATE_MAX = 1.0   -- ANTES 0.2
    SET @RATE = 0.01  
    SET @RATE_MIN = 0.0  
    SET @ITER_CNT = 0  
	
	IF (1.0 - POWER(1.0 + @RATE, -1.0 * @NUMBEROFMONTHS)) <> 0.0
		SET @PAYMENT_CALC = (@AMOUNT * @RATE / (1.0 - POWER(1.0 + @RATE, -1.0 * @NUMBEROFMONTHS)))  
	ELSE
		SET @PAYMENT_CALC =  0.0
		
--    WHILE ((ABS(@PAYMENT - @PAYMENT_CALC) > 0.0000001) AND (@ITER_CNT < 256))  
    WHILE ((ABS(@PAYMENT - @PAYMENT_CALC) > 0.00000001) AND (@ITER_CNT < 300))  
        BEGIN  
            IF (@PAYMENT > @PAYMENT_CALC) SET @RATE_MIN = @RATE ELSE SET @RATE_MAX = @RATE  
            SET @RATE = (@RATE_MIN + @RATE_MAX) / 2.0 
			
			IF (1.0 - POWER(1.0 + @RATE, -1.0 * @NUMBEROFMONTHS)) <> 0.0
				SET @PAYMENT_CALC = (@AMOUNT * @RATE / (1.0 - POWER(1.0 + @RATE, -1.0 * @NUMBEROFMONTHS)))  
			ELSE	
				SET @PAYMENT_CALC =  0.0
				
            SET @ITER_CNT = @ITER_CNT + 1  
        END  
--    RETURN ROUND(@RATE * 100.0, 6)  
    RETURN @RATE * 100.0
END  

