
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go
-- EXEC  [scr_Spread_analitico_cart]  '20170430' ,'20170401',0,99,'20170401','20170430',60

-- EXEC  [scr_Spread_analitico_cart]  '20160630' ,'20160630',2,99,'20160630','20160630',60
-- EXEC  [scr_Spread_analitico_cart]  '20150630' ,'20150101',0,99,'20150630','20150630',60
-- SELECT *  FROM	RATING_HISTORICO R (NOLOCK) 
-- SP_HELP SPREAD_HISTORICO_SAFRA
-- CREATE INDEX SPREAD_HISTORICO_SAFRA_IDX1 ON SPREAD_HISTORICO_SAFRA (NUM_OPE)
/*
SELECT * FROM RATING_HISTORICO (NOLOCK) WHERE NUM_OPE='552008223'
select		* from CdcSantanaMicroCredito.. COPER T (NOLOCK)  WHERE OPNROPER='552008223'
*/

-- PROC tela spread analitico Carteira **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_Spread_analitico_cart' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_spread_analitico_cart]
GO


CREATE Procedure [dbo].[scr_Spread_analitico_cart] (@data_ref as datetime,@Dt_Prod_de as smalldatetime, 
			@carteira int, @veiculo int , @Dt_de as smalldatetime, @Dt_ate as smalldatetime, @dias_atraso int) AS
BEGIN

DECLARE @sortOrder  AS VARCHAR(5)

DECLARE @DTREF AS DATETIME
SET		@DTREF = @data_ref
-- EQUALIZA DTAS DE FECHAMENTO RATING E SAFRA, PAGTOS
SET		@Dt_ate = @DTREF
-- exec SPR_CALCULO_safra @data_ref,1, @carteira,@veiculo,'ASC',  @Dt_de,@Dt_ate,@dias_atraso


-- FECHAMENTO DO MES ANTERIOR	************** DIA 12/6/17
DECLARE @DATA_ANT   AS DATETIME
SET		@DATA_ANT	= CONVERT(VARCHAR(4),DATEPART(YYYY,@DATA_REF))+ RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MM,@DATA_REF))),2) + '01'
--SELECT  @DATA_ANT
SET		@DATA_ANT	= DATEADD(DD,-1,@DATA_ANT)  -- FIM DO MES ANTERIOR
--SELECT  @DATA_ANT



-- TABELA AUXILIAR COM CONTRATOS
-- ARMAZENAR O HISTORICO
DELETE SPREAD_HISTORICO_SAFRA

-- alterado 13/7/16		******************  vlr_PDD no VLR_PARC
INSERT SPREAD_HISTORICO_SAFRA  (DT_FECHA, NUM_OPE, VLR_OP,VLR_PARC, ATRASO	, RATING,  ANO_MODELO, VF, VLR_ATRASO )
-- DT_FECHA	smalldatetime, NUM_OPE		varchar(50),  VLR_OP		float,
-- DECLARE @DTREF DATETIME DECLARE @DT_ATE DATETIME SET @DTREF='20140331' SET @Dt_ATE='20131231'
-- alterado p/ USAR SLD_INSCRITO = VP, antes USA CARTEIRA FV  VLR_FV
	SELECT	@data_ref, NUM_OPE, SLD_INSCRITO, vlr_PDD ,ATRASO, NVL_RISCO, '',VLR_FV,0.0
	FROM	RATING_HISTORICO R (NOLOCK) 
	WHERE	DT_FECHA = @data_ref -- AND NVL_RISCO <>'HH'  REMOVI EM 14/6/17
-- carteira total do fechamento da PDD
--		and ATRASO > @dias_atraso 


	-- LIMPA OS HH ANTIGOS		INCLUI 13/6/17		************
	DELETE	SPREAD_HISTORICO_SAFRA
	WHERE	SPREAD_HISTORICO_SAFRA.DT_FECHA = @data_ref 
		AND	SPREAD_HISTORICO_SAFRA.RATING  = 'HH'		-- HH HA 2 MESES
		AND	SPREAD_HISTORICO_SAFRA.NUM_OPE IN  (SELECT	NUM_OPE 
												FROM	RATING_HISTORICO  (NOLOCK)
												WHERE	DT_FECHA = @DATA_ANT AND NVL_RISCO ='HH')  
	-- ZERA A PROD E PDD DOS HH		PARA NAO ALTERAR TODOS OS CALCULOS
	UPDATE	SPREAD_HISTORICO_SAFRA
	SET		VLR_OP=0.0	,  VLR_PDD  =0.0	
	WHERE	SPREAD_HISTORICO_SAFRA.DT_FECHA = @data_ref 
		AND	SPREAD_HISTORICO_SAFRA.RATING  = 'HH'		-- HH HA 2 MESES


	-- INCLUI 2 CAMPOS PDD E DESPESA EM 13/6/17		************ INCLUIR OS LIQUIDADOS NO MES ANT COM DESPESA E SEM PROD, PDD
	INSERT SPREAD_HISTORICO_SAFRA  (DT_FECHA, NUM_OPE, VLR_OP, ATRASO	, RATING,  ANO_MODELO , VLR_PDD , VLR_DESPESA )
	-- DT_FECHA	smalldatetime, NUM_OPE		varchar(50),  VLR_OP		float,
	-- DECLARE @DTREF DATETIME DECLARE @DT_ATE DATETIME SET @DTREF='20140331' SET @Dt_ATE='20131231'
	-- alterado p/ USAR SLD_INSCRITO = VP, antes USA CARTEIRA FV  VLR_FV
		SELECT	@DTREF, NUM_OPE, 0.0, ATRASO, NVL_RISCO, '',  0.0 , -VLR_PDD
		FROM	RATING_HISTORICO R (NOLOCK) 
		WHERE	R.DT_FECHA = @data_ANT AND NVL_RISCO <>'HH'  -- SEM PREJUIZO		
			AND	R.NUM_OPE NOT IN  (SELECT	NUM_OPE FROM	SPREAD_HISTORICO_SAFRA  (NOLOCK)
													WHERE	DT_FECHA = @data_ref )  

	-- AJUSTA DESPESA PDD MES ANTERIOR	***************************	13/6/17		CALCULO DEPSESA
	UPDATE	SPREAD_HISTORICO_SAFRA
	SET		VLR_DESPESA = ISNULL(SPREAD_HISTORICO_SAFRA.VLR_PDD,0.0) - ISNULL(R.VLR_PDD,0.0)
	FROM	RATING_HISTORICO	R	(NOLOCK) 
	WHERE	R.DT_FECHA = @DATA_ANT     --AND NVL_RISCO <>'HH'
		AND	SPREAD_HISTORICO_SAFRA.NUM_OPE = R.NUM_OPE


	-- AJUSTA DESPESA PDD MES ANTERIOR	***************************	13/6/17  PDD ATU - PDD ANT + PREJU = M1_PDD - M0_PDD + M1_PREJUIZO  -- CALCULO
	UPDATE	SPREAD_HISTORICO_SAFRA
	SET		VLR_DESPESA = ISNULL(SPREAD_HISTORICO_SAFRA.VLR_DESPESA,0.0) + ISNULL(R.SALDO,0.0)
		FROM	(	SELECT	NUM_OPE,
							SLD_INSCRITO AS SALDO
					FROM	RATING_HISTORICO S1  (NOLOCK)
					WHERE	DT_FECHA = @data_REF	-- MES ATUAL
						AND NVL_RISCO = 'HH'		-- SOMENTE PREJUIZO
						-- NOVOS CONTRATOS EM PREJUIZO. Q NAO ESTAVAM NO MES ANTERIOR
						AND NUM_OPE NOT IN (SELECT		NUM_OPE 
												FROM	RATING_HISTORICO  (NOLOCK)
												WHERE	DT_FECHA = @DATA_ANT AND NVL_RISCO ='HH')  ) AS R
	WHERE	SPREAD_HISTORICO_SAFRA.DT_FECHA = @data_ref 
		AND	SPREAD_HISTORICO_SAFRA.NUM_OPE = R.NUM_OPE
-- ************** FIM AJUSTE 14/6/17



-- ATUALIZA CAMPOS COM CONTRATO
-- SELECT * FROM SPREAD_HISTORICO_SAFRA
UPDATE SPREAD_HISTORICO_SAFRA
SET		DT_BASE=OPDTBASE,
	--	VLR_PARC =OPVLRPARC,
		PRAZO=DATEDIFF(DD,OPDTBASE,OPDTVCTO),  -- PRAZO EM DIAS
		PLANO = OPQTDDPARC , -- PLANO EM MESES
		--VLR_ATRASO FLOAT, VLR_VINCENDO FLOAT,
		TAXA= OPTXJRCL, -- OPTXNET, OPSPREAD  EM TX_RATP
		RETORNO=ISNULL(OPDESPESA4,0.0), -- RETORNO
		--TAXA_SEM_RET	float,ATRASO	int, RENEGOCIADO	int	,RATING	varchar(2),
		CODCLI	=OPCODCLI, 
		CODPROD	=OPCODPROD,  -- PRODUTO
		CODMODA	=OPCODOP,  -- MODALIDADE 
		AGENTE	=OPCODORG3,	-- OPERADOR DEPOIS TRANSF AGENTE
		-- VEICULO	varchar(20), ANO_MODELO	varchar(20), RENDA	float,
		--FX_RENDA	varchar(20),FX_PRAZO	varchar(20),
		CODOPER	=OPCODORG3,	-- OPERADOR 
		CODLOJA	=OPCODORG4   -- COD LOJA
		,RENEGOCIADO	=0 
		--VF_SAFRA=OPQTDDPARC * OPVLRPARC  -- VF		
		-- inseri 19/5/17
		, Tx_CET_aa = OPTXJRCET
		, TxCET_X_VLR_aa = OPTXJRCET * (OPVLROPCZ + OPDESPESA4) 
		, TxCET_X_VLR_am =  (OPVLROPCZ + OPDESPESA4) 
		--, OPVLROPCZ -- VLR OPERADO
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	-- PRODUCAO
		OPNROPER = NUM_OPE


		-- ANO MODELO ********************
		UPDATE		SPREAD_HISTORICO_SAFRA
		SET		ANO_MODELO = ISNULL(ABANOMOD,'S/INF')  -- com Ano Modelo
		FROM	CDCSANTANAMicroCredito..CBFIN B (NOLOCK)
		WHERE	NUM_OPE= B.ABNROPER
			-- maior garantia e seu controle
			and b.abNrGAR = (select max(abNrGAR) from CDCSANTANAMicroCredito..CBFIN B2 (NOLOCK)
					WHERE	B2.ABNROPER=B.ABNROPER)
			and b.abCntrl = (select max(abCntrl) from CDCSANTANAMicroCredito..CBFIN B3 (NOLOCK)
					WHERE	B3.ABNROPER=B.ABNROPER and b3.abNrGAR =b.abNrGAR)

		-- ************************************ FAIXA DE ANO
		-- DECLARE @data_ref SMALLDATETIME SET @data_ref = '20141231'
			UPDATE	SPREAD_HISTORICO_SAFRA
			SET		FX_ANO = FX_ANO.DESCR
			FROM	SPREAD_HISTORICO_SAFRA (NOLOCK) LEFT JOIN 
				 (SELECT * FROM FX_ANO (NOLOCK) WHERE DT_DE = (SELECT	MAX(DT_DE) 
														FROM	FX_ANO A1 (NOLOCK)
														WHERE	A1.DT_DE <=@data_ref)  )  AS FX_ANO
					ON ANO_MODELO BETWEEN FX_ANO.DE AND FX_ANO.ATE

			UPDATE	SPREAD_HISTORICO_SAFRA
			SET		FX_ANO = 'S/ INFO'   --- alterado out15 ' ATE 1990'
			WHERE	FX_ANO IS NULL

		-- COD DO AGENTE ********************	
		UPDATE	SPREAD_HISTORICO_SAFRA
		SET		AGENTE		= ISNULL(OP.O3CODORGA13,'') -- ISNULL(A.COD_AGENTE,'')
		FROM	CDCSANTANAMicroCredito..TORG3 OP (NOLOCK) 
		WHERE	CODOPER = O3CODORG  -- OPERADOR
		-- OPERADOR AGENTE= OPCODORG3
		
		UPDATE	SPREAD_HISTORICO_SAFRA
		SET		AGENTE	='' WHERE AGENTE IS NULL


		-- RENDA DO CLIENTE ********************
		UPDATE		SPREAD_HISTORICO_SAFRA
		SET		RENDA = ISNULL(CLRENDA,0.0)  -- com Ano Modelo
		-- SELECT *
		FROM	PROPWEBSMC..cclip B (NOLOCK)
		WHERE	CODCLI= B.CLCODCLI

-- ATUALIZA VEICULO COM DESCRICAO DA MODALIDADE CADASTRADA NO PARAMETRO - ALTERADO 28-SET-15
--		DECLARE @DTREF DATETIME SET @DTREF = '20150731'
UPDATE		SPREAD_HISTORICO_SAFRA
	SET		VEICULO = CASE	WHEN T.DESCR_TIPO='Automatico'					THEN 'LEVES'
							--WHEN T.DESCR_TIPO='Refinanciamento Utilitarios' THEN 'Refinanciamento'
							ELSE T.DESCR_TIPO END
	FROM	Ttipo_prod T (NOLOCK) ,
			TModa_tipo_prod M (NOLOCK) 
	WHERE	SPREAD_HISTORICO_SAFRA.DT_FECHA = @DTREF
		AND	T.COD_PROD	 = 'V'	--  PRODUTO VEICULO SEM RENEGOCIACAO
		AND T.COD_PROD	 = M.COD_PROD
		AND CODMODA		 = M.COD_MODA  -- BAIXO NIVEL MODALIDADE DA OPERACAO
		AND T.COD_MODALIDADE = M.COD_MODALIDADE		  -- TIPO DA OPERACAO	

-- Carteira 86 – alterar para renegociação
-- SELECT TOP 50 * FROM SPREAD_HISTORICO_SAFRA (NOLOCK)
-- RENEG
UPDATE		SPREAD_HISTORICO_SAFRA
	SET 	VEICULO='RENEGOCIACAO',
			RENEGOCIADO=1			
	FROM	CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	CODMODA = M.TOCODOP
		AND M.TOCODCART  IN ( 75 ,86 )		-- CARTEIRA DE RENEGOCIACAO	 75  E 86

-- RENEG FINAL A OU B
UPDATE		SPREAD_HISTORICO_SAFRA
	SET 	VEICULO='RENEGOCIACAO',
			RENEGOCIADO=1,
			CONTRATO_ORIGINAL = LEFT(NUM_OPE,LEN(NUM_OPE)-1) 
	WHERE	RIGHT(NUM_OPE,1) IN ('A','B')

-- FAIXA DE RENDA ****************************************
UPDATE		SPREAD_HISTORICO_SAFRA 
	SET 	FX_RENDA= CASE	WHEN RENDA/S.VLR_SM <= 1.0  THEN '1- Até 1 SM'
							WHEN RENDA/S.VLR_SM > 1.0 AND RENDA/S.VLR_SM <= 2.0 THEN '2- De 1 a 2 SM'
							WHEN RENDA/S.VLR_SM > 2.0 AND RENDA/S.VLR_SM <= 3.0 THEN '3- De 2 a 3 SM'
							WHEN RENDA/S.VLR_SM > 3.0 AND RENDA/S.VLR_SM <= 5.0 THEN '4- De 3 a 5 SM'
							WHEN RENDA/S.VLR_SM > 5.0 AND RENDA/S.VLR_SM <= 10.0 THEN '5- De 5 a 10 SM'
							WHEN RENDA/S.VLR_SM > 10.0 AND RENDA/S.VLR_SM <= 20.0 THEN '6- De 10 a 20 SM'
							WHEN RENDA/S.VLR_SM > 20.0							 THEN '7- Mais de 20 SM'
					  END	
	FROM	(SELECT S1.DT_DE,VLR_SM FROM TSM S1 (NOLOCK) WHERE S1.DT_DE = (SELECT MAX(DT_DE) FROM TSM S2 (NOLOCK)
				WHERE S2.DT_DE <= @DTREF ) ) AS S


-- RENEG FINAL A OU B -- trazer o plano ORIGINAL
UPDATE		SPREAD_HISTORICO_SAFRA
	SET 	PLANO = OpQtdDParc,
			PRAZO = DATEDIFF(DD,OPDTBASE,OPDTVCTO),
			CONTRATO_ORIGINAL = LEFT(NUM_OPE,LEN(NUM_OPE)-1)	-- ************** INCLUI 7/12/15
	FROM	CDCSANTANAMicroCredito..coper (NOLOCK)
	WHERE	RIGHT(NUM_OPE,1) IN ('A','B','C','D','E')
		AND OPNrOPER = LEFT(NUM_OPE,LEN(NUM_OPE)-1)  -- CONTRATO ORIGINAL


-- FAIXA DE PRAZO ****************************************  CLASSIFICA CF O ORIGINAL
UPDATE	 SPREAD_HISTORICO_SAFRA 
SET		 FX_PRAZO=  (SELECT DESCR FROM FX_PLANO P (NOLOCK)
				WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
									WHERE	P1.DT_DE <=   @DTREF)
				AND SPREAD_HISTORICO_SAFRA.PLANO BETWEEN P.DE AND P.ATE)
	WHERE	DT_FECHA=@DTREF

-- VOLTA O PRAZO, APOS CLASSIFICACAO. P/ NAO AFETAR O VALOR FUTURO
-- RENEG FINAL A OU B -- trazer o plano ORIGINAL
UPDATE		SPREAD_HISTORICO_SAFRA
	SET 	PLANO = OpQtdDParc,
			PRAZO = DATEDIFF(DD,OPDTBASE,OPDTVCTO)
	FROM	CDCSANTANAMicroCredito..coper	(NOLOCK)
	WHERE	RIGHT(NUM_OPE,1) IN ('A','B')
		AND OPNrOPER = NUM_OPE  -- CONTRATO RENEGOCIADO

-- RENEGOCIADOS DISTRIBUIR *******************   +++++++++++++
UPDATE SPREAD_HISTORICO_SAFRA SET VEICULO_ORIGINAL = VEICULO --WHERE DT_FECHA>='20150101'

-- ACIMA
-- UPDATE SPREAD_HISTORICO_SAFRA SET CONTRATO_ORIGINAL = LEFT(NUM_OPE,LEN(NUM_OPE)-1) 	WHERE  RIGHT(NUM_OPE,1) IN ('A','B')

 UPDATE SPREAD_HISTORICO_SAFRA SET VEICULO_ORIGINAL='LEVES'  WHERE  VEICULO_ORIGINAL='RENEGOCIACAO' AND CONTRATO_ORIGINAL IS  NULL

-- ATUALIZA VEICULO COM DESCRICAO DA MODALIDADE CADASTRADA NO PARAMETRO - ALTERADO 28-SET-15
--		DECLARE @DTREF DATETIME SET @DTREF = '20150731'
UPDATE		SPREAD_HISTORICO_SAFRA
	SET		VEICULO_ORIGINAL = CASE WHEN T.DESCR_TIPO='Automatico' THEN 'LEVES'
									ELSE T.DESCR_TIPO END
	FROM	Ttipo_prod T (NOLOCK) ,
			TModa_tipo_prod M (NOLOCK) ,
	 		CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	SPREAD_HISTORICO_SAFRA.DT_FECHA = @DTREF
		AND (CONTRATO_ORIGINAL IS NOT NULL		OR CONTRATO_ORIGINAL<> '')	  -- SOH RENEG
		AND CONTRATO_ORIGINAL = O.OPNROPER -- OPERACAO ORIGINAL
		AND	T.COD_PROD  = 'V'	--  PRODUTO VEICULO
		AND T.COD_PROD = M.COD_PROD
		AND O.OPCODOP  = M.COD_MODA  -- BAIXO NIVEL MODALIDADE DA OPERACAO
		AND T.COD_MODALIDADE = M.COD_MODALIDADE		  -- TIPO DA OPERACAO	

 UPDATE SPREAD_HISTORICO_SAFRA SET VEICULO_ORIGINAL='LEVES'  WHERE  VEICULO_ORIGINAL='RENEGOCIACAO'-- AND CONTRATO_ORIGINAL IS  NULL

-- FAIXA DE RENDA ****************************************
UPDATE		SPREAD_HISTORICO_SAFRA 
	SET 	FX_RENDA= CASE	WHEN RENDA/S.VLR_SM <= 1.0  THEN '1- Até 1 SM'
							WHEN RENDA/S.VLR_SM > 1.0 AND RENDA/S.VLR_SM <= 2.0 THEN '2- De 1 a 2 SM'
							WHEN RENDA/S.VLR_SM > 2.0 AND RENDA/S.VLR_SM <= 3.0 THEN '3- De 2 a 3 SM'
							WHEN RENDA/S.VLR_SM > 3.0 AND RENDA/S.VLR_SM <= 5.0 THEN '4- De 3 a 5 SM'
							WHEN RENDA/S.VLR_SM > 5.0 AND RENDA/S.VLR_SM <= 10.0 THEN '5- De 5 a 10 SM'
							WHEN RENDA/S.VLR_SM > 10.0 AND RENDA/S.VLR_SM <= 20.0 THEN '6- De 10 a 20 SM'
							WHEN RENDA/S.VLR_SM > 20.0							 THEN '7- Mais de 20 SM'
					  END	
			--RENEGOCIADO=0
	FROM	(SELECT S1.DT_DE,VLR_SM FROM TSM S1 (NOLOCK) WHERE S1.DT_DE = (SELECT MAX(DT_DE) FROM TSM S2 (NOLOCK)
				WHERE S2.DT_DE <= @DTREF ) ) AS S
	WHERE	DT_FECHA=@DTREF


-- ACERTA IDADE  *********************************************************
UPDATE		SPREAD_HISTORICO_SAFRA 
	SET 	IDADE=round(DATEDIFF(YY, CLDtNASC , @DTREF),0) -- COD OPERADOR
	FROM	CDCSANTANAMicroCredito..CCLIE O (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		AND SPREAD_HISTORICO_SAFRA.CODCLI =O.CLCODCLI

-- ACERTA FX IDADE  *********************************************************
UPDATE		SPREAD_HISTORICO_SAFRA 
	SET 	FX_IDADE=CASE	when len(rtrim(codcli))>=13	then '  PJ'
							WHEN IDADE <= 20.0 THEN ' Até 20 anos'  -- antes 23
							WHEN IDADE > 20.0 AND IDADE <= 29.0 THEN '21 a 29 anos'
							WHEN IDADE > 29.0 AND IDADE <= 39.0 THEN '30 a 39 anos'
							WHEN IDADE > 39.0 AND IDADE <= 49.0 THEN '40 a 49 anos'
							WHEN IDADE > 49.0 AND IDADE <= 59.0 THEN '50 a 59 anos'
							WHEN IDADE > 59.0 AND IDADE <= 69.0 THEN '60 a 69 anos'
							WHEN IDADE > 69.0  THEN '70 a 79 anos'  -- 	ALTEREI 12/6/17
							END
	WHERE	DT_FECHA=@DTREF

-- NATUREZA DE OCUPACAO  ***********************************
-- select CLCODOCUP from PROPWEBSMC..cclip
	UPDATE	SPREAD_HISTORICO_SAFRA 
	SET		OCUPACAO = 		CASE CLCODOCUP 
								  WHEN '01' THEN 'CLT' 
								  WHEN '02' THEN 'AUTONOMO' 
								  WHEN '03' THEN 'APOSENTADO' 
								  WHEN '04' THEN 'EMPRESARIO'
								  ELSE 'S/ INFO' 
								END 
	FROM 	PROPWEBSMC..cclip C (NOLOCK)
	WHERE	CODCLI = CLCODCLI 

	-- TRATA NULOS  OUT-15 -----------------
	UPDATE	SPREAD_HISTORICO_SAFRA 
	SET		OCUPACAO = 	 'S/ INFO' 
	WHERE	OCUPACAO IS NULL

-- SP_HELP SPREAD_HISTORICO_SAFRA
-- ************************************* RENEGOCIADOS***************************************
--	FROM	RATING_HISTORICO R (NOLOCK) 	WHERE DT_FECHA = @Dt_ATE AND NVL_RISCO <>'HH'
-- RENEGOCIADOS recalcular o atraso: pdd considera o atraso ORIGINAL
-- DECLARE @DTREF DATETIME DECLARE @Dt_ATE DATETIME SET @Dt_ATE ='20160630' SET @DTREF='20160630'
UPDATE		SPREAD_HISTORICO_SAFRA 
	SET 	atraso=  DATEDIFF(DD,VENC, @Dt_ATE),
			VLR_ATRASO = VLR
			--RENEGOCIADO=0
	FROM	(SELECT		PANROPER,MAX(PADTVCTO) AS VENC, SUM(PAVLRPR+PAVLRJR) AS VLR
				FROM	CDCSANTANAMicroCredito..CPARC O (NOLOCK) 
				WHERE	PANROPER IN (SELECT NUM_OPE FROM SPREAD_HISTORICO_SAFRA  S (NOLOCK) WHERE RENEGOCIADO=1)
					AND PADTVCTO <= @Dt_ATE  -- VENCIDAS E NAO PAGAS
					AND (PADTLIQ IS NULL OR PADTLIQ >@Dt_ATE )
					AND PACNTRL = (SELECT MAX(PACNTRL) FROM	CDCSANTANAMicroCredito..CPARC P1 (NOLOCK) 
									WHERE P1.PANROPER = O.PANROPER AND P1.PANRPARC = O.PANRPARC)
				GROUP BY PANROPER
				 ) AS S
	WHERE	DT_FECHA=@DTREF
		and RENEGOCIADO= 1 -- SOMENTE RENEGOCIADOS
		AND S.PANROPER = SPREAD_HISTORICO_SAFRA.NUM_OPE


-- ************************************* SEM RENEGOCIADOS***************************************
--	FROM	RATING_HISTORICO R (NOLOCK) 	WHERE DT_FECHA = @Dt_ATE AND NVL_RISCO <>'HH'
-- SEM RENEGOCIADOS recalcular o VLR atraso: pdd considera o atraso ORIGINAL
-- DECLARE @DTREF DATETIME DECLARE @Dt_ATE DATETIME SET @Dt_ATE ='20160630' SET @DTREF='20160630'

UPDATE		SPREAD_HISTORICO_SAFRA 
	SET 	VLR_ATRASO = VLR
	FROM	(SELECT		PANROPER,MAX(PADTVCTO) AS VENC, SUM(PAVLRPR+PAVLRJR) AS VLR
				FROM	CDCSANTANAMicroCredito..CPARC O (NOLOCK) 
				WHERE	PANROPER IN (SELECT NUM_OPE FROM SPREAD_HISTORICO_SAFRA  S (NOLOCK) WHERE RENEGOCIADO=0)
					AND PADTVCTO <= @Dt_ATE  -- VENCIDAS E NAO PAGAS
					AND (PADTLIQ IS NULL OR PADTLIQ >@Dt_ATE )
					AND PACNTRL = (SELECT MAX(PACNTRL) FROM	CDCSANTANAMicroCredito..CPARC P1 (NOLOCK) 
									WHERE P1.PANROPER = O.PANROPER AND P1.PANRPARC = O.PANRPARC)
				GROUP BY PANROPER
				 ) AS S
	WHERE	DT_FECHA=@DTREF
		and RENEGOCIADO= 0 -- SEM RENEGOCIADOS
		AND S.PANROPER = SPREAD_HISTORICO_SAFRA.NUM_OPE

-- SELECT * FROM SPREAD_HISTORICO_SAFRA (NOLOCK)
-- ZERAR VLRs ********************************
UPDATE		SPREAD_HISTORICO_SAFRA 
	SET 	VLR_VINCENDO = 0.0, TAXA_SEM_RET = 0.0,  TX_X_VLR=0.0, PRZ_X_VLR =0.0, VLR_RISCO=0.0
			--	inseri 15/9/17		,Tx_CET_aa =0.0, Tx_CET_am =0.0
			, TxCET_X_VLR_aa =0.0, TxCET_X_VLR_am =0.0
--VF=0.0 VLR_atraso=  0.0, 


--	CONTRATO ORIGINAL
UPDATE		SPREAD_HISTORICO_SAFRA 
	SET 	CONTRATO_ORIGINAL =''
	WHERE	CONTRATO_ORIGINAL IS NULL
--  ACIMA
UPDATE		SPREAD_HISTORICO_SAFRA 
	SET 	CONTRATO_ORIGINAL =LEFT(NUM_OPE,LEN(NUM_OPE)-1)
	WHERE	RIGHT(NUM_OPE,1) IN ('A','B','C','D','E','F')

--		ALTERADO EM 24/JUNHO/2016  **********************
-- ALTERA O  CONTRATO ORIGINAL 
UPDATE		SPREAD_HISTORICO_SAFRA 
	SET		CONTRATO_ORIGINAL =LEFT(NUM_OPE,LEN(NUM_OPE)-1)  -- PRIMEIRO CONTRATO
	WHERE	 RENEGOCIADO = 1	AND RIGHT(NUM_OPE,1) IN ('A','B','C','D')
UPDATE		SPREAD_HISTORICO_SAFRA 
	SET		CONTRATO_ORIGINAL =NUM_OPE  -- PRIMEIRO CONTRATO
	WHERE	RENEGOCIADO = 0



-- VLR VINCENDO
-- DECLARE @DTREF DATETIME DECLARE @Dt_ATE DATETIME SET @Dt_ATE ='20160630' SET @DTREF='20160630'
UPDATE		SPREAD_HISTORICO_SAFRA 
	SET 	VLR_VINCENDO = VLR
	FROM	(SELECT		PANROPER,SUM(PAVLRPR+PAVLRJR) AS VLR
				FROM	CDCSANTANAMicroCredito..CPARC O (NOLOCK) 
				WHERE	PANROPER IN (SELECT NUM_OPE FROM SPREAD_HISTORICO_SAFRA  S (NOLOCK) )
					AND PADTVCTO > @Dt_ATE  -- VINCENDO
					-- AND (PADTLIQ IS NULL OR PADTLIQ >@Dt_ATE )  NAO IMPORTA SE PG OU NAO
					AND PACNTRL = (SELECT MAX(PACNTRL) FROM	CDCSANTANAMicroCredito..CPARC P1 (NOLOCK) 
									WHERE P1.PANROPER = O.PANROPER AND P1.PANRPARC = O.PANRPARC)
				GROUP BY PANROPER					 ) AS S
	WHERE	DT_FECHA=@DTREF
		AND S.PANROPER = SPREAD_HISTORICO_SAFRA.NUM_OPE

-- TAXA_SEM_RET
/*
UPDATE SPREAD_HISTORICO_SAFRA
SET	TAXA_SEM_RET = dbo.Rate(PLANO, vlr_parc,(VLR_OP + RETORNO)) -- EM % *100.0
*/

-- ACERTA IDADE  *********************************************************
UPDATE		SPREAD_HISTORICO_SAFRA 
	SET 	Tx_CET_AA=OPTXJRCET,
			TxCET_X_VLR_aa = OPTXJRCET * (isnull(OPVLROPCZ,0.0) + isnull(OPDESPESA4,0.0)) 	
	FROM	CDCSANTANAMicroCredito..COper O (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		AND num_ope = OpNrOper

		-- ajusta taxa AA CONVERTE AM --- ******************** INCLUI EM 15/9/17
		UPDATE		SPREAD_HISTORICO_SAFRA
		-- ANTES 12 M E APOS 25/09/2017 TX CET AM CF SIST FUNCAO 
		--SET			Tx_CET_am =( (POWER(((Tx_CET_aa/100.0)+1.0),(1.0/12.0))-1.0)*100.0) -- TX AA P/ AM
		SET 		Tx_CET_am =( (POWER(((Tx_CET_aa/100.0)+1.0),(1.0/ (365.25/30.0) ))-1.0)*100.0) -- TX AA P/ AM

		UPDATE		SPREAD_HISTORICO_SAFRA 
			SET		TxCET_X_VLR_am =  Tx_CET_am * (isnull(VLR_OP,0.0) + isnull(RETORNO,0.0))  -- AUXILIAR NO CALCULO DA MEDIA PONDERADA

/*		UPDATE		SPREAD_HISTORICO_SAFRA
		SET
			-- INCLUI 15/9/17		NAO ADIANTA, O VLR OP = SALDO INSCRITO ******
					TxCET_X_VLR_am =  Tx_CET_am * (VLR_OP + RETORNO)  -- AUXILIAR NO CALCULO DA MEDIA PONDERADA
				,	TxCET_X_VLR_aa =  Tx_CET_aa * (VLR_OP + RETORNO)
*/

UPDATE SPREAD_HISTORICO_SAFRA
SET	--  TX_X_VLR = TAXA * VLR_OP, PRZ_X_VLR = PRAZO * VLR_OP ,  -- antes
	--  alterei o valor em 15/9/17 ***********(VLR_OP + RETORNO) *** NAO ADIANTA, VLR OP = SLDO INSCRITO
	--  TX_X_VLR  = TAXA * (VLR_OP + RETORNO), PRZ_X_VLR = PRAZO * (VLR_OP + RETORNO) ,
	VLR_RISCO = VLR_VINCENDO + VLR_ATRASO

--  ************************************************* INCLUIDO 4/11/16 TABELA
--  AJUSTA O RATING COM TABELA
--  declare @DTREF datetime set @DTREF ='20160630'
	UPDATE	SPREAD_HISTORICO_SAFRA
	SET		TABELA = 	ISNULL((SELECT MAX(PPCodTab) FROM  PropWebSMC..CPROP B2 (NOLOCK)
								WHERE	B2.PPNRPROP=(SELECT		OPNRPROP FROM  CDCSANTANAMicroCredito..COPER O (NOLOCK)
														WHERE	O.OPNROPER=NUM_OPE )),'')  
	WHERE	DT_FECHA=@DTREF



-- ORDEM CRESCENTE *************************
--IF @sortOrder = 'ASC'		BEGIN
-- DECLARE @DATA_ANT DATETIME SET @DATA_ANT='20161231'		 DECLARE @DATA_REF DATETIME SET @DATA_REF='20170131' 
	SELECT	   
		S.DT_FECHA,
		S.NUM_OPE,
		S.DT_BASE,
		S.VLR_OP,
		S.VLR_PARC,
		S.PRAZO,
		S.PLANO,
		S.VLR_ATRASO,
		S.VLR_VINCENDO,
		S.TAXA,
		S.RETORNO,
		S.TAXA_SEM_RET,
		-- inclui 15/9/17
		S.Tx_CET_am,	
		S.Tx_CET_aa,	

		S.ATRASO,
		S.RENEGOCIADO,
		S.RATING	,
		S.CODCLI,
		S.CODPROD,
		S.CODMODA,
		S.AGENTE,
		S.VEICULO,
		S.ANO_MODELO,
		S.RENDA,
		S.FX_RENDA,
		S.FX_PRAZO,
		S.CODOPER,
		S.CODLOJA,
		S.TX_X_VLR,
		-- inclui 15/9/17
		TxCET_X_VLR_am,
		TxCET_X_VLR_aa,

		S.PRZ_X_VLR,
		S.idade,
		S.fx_idade,	
		S.fx_ANO,	
		S.OCUPACAO,
		ISNULL('',S.CONTRATO_ORIGINAL) AS CONTRATO_ORIGINAL,
		S.VEICULO_ORIGINAL,
		S.VF,	
		S.VLR_RISCO,
		-- ALTERADO 26/FEV/16
		-- CASE WHEN RENEGOCIADO = 0 THEN VF ELSE  0.0 END AS 
		ISNULL(S.VF_ORIGINAL,0.0) AS VF_ORIGINAL,
		ISNULL((SELECT MAX(PPSCORING) FROM  PropWebSMC..CPROP B2 (NOLOCK)
					WHERE	B2.PPNRPROP=(SELECT OPNRPROP FROM  CDCSANTANAMicroCredito..COPER O (NOLOCK)
					WHERE	O.OPNROPER=S.NUM_OPE )),'')  AS SCORE,
		ISNULL((SELECT MAX(ABVLRVND)  FROM  CDCSANTANAMicroCredito..CBFIN B2 (NOLOCK)
					WHERE	B2.ABNROPER=S.NUM_OPE ),0.0) AS VLR_VEICULO
		,S.TABELA -- INCLUIDO 4/11/16
		-- INCLUIDO 7/12/16
		,ISNULL((select		MAX(TtDescr) from CdcSantanaMicroCredito.. TTABE T (NOLOCK) 
					WHERE	T.TtCodTAB=S.TABELA ),'') AS TABELA_DESCR	,
		-- INCLUIDO 12/6/17   DADOS DA PDD
		S.VLR_PDD,
		S.VLR_DESPESA
		,	(SELECT TONOMEOP 	FROM	CDCSANTANAMicroCredito..TMODA O (NOLOCK) WHERE	TOCODOP= S.CODMODA ) AS MODALIDADE
		-- AGENTE ATUAL		:	LOJA COM OPERADOR ATUAL E AGENTE ATUAL		INCLUIDO 14/6/17
		,	(SELECT CONVERT(VARCHAR(10),A13CODORG)+'-'+ISNULL(A.A13DESCR,'') 		FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)
					-- COD AGENTE
					WHERE A13CODORG = (SELECT		O3CODORGA13 	FROM	CDCSANTANAMicroCredito..TORG3 (NOLOCK) 
						-- OPERADOR ATUAL DA LOJA DO CONTRATO
									WHERE	O3CODORG =(SELECT O4CODORG3 	FROM	CDCSANTANAMicroCredito..TORG4 (NOLOCK)  
														WHERE O4CODORG = RIGHT('0000'+RTRIM(S.CODLOJA),6) ))) AS AGENTE_ATUAL
	FROM	SPREAD_HISTORICO_SAFRA S	(NOLOCK)



END
GO
