
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go
-- exec scr_SPREAD_analitico_prod '20170531','20170501'
--,'1', '1','DESCRICAO ASC','20120101','20141231',60


-- REDISTRIB RENEG CARTEIRA
-- exec scr_SPREAD_analitico '20150331','20150101','1', '1','DESCRICAO ASC','20120101','20141231',60

/*
sp_help SPREAD_HISTORICO

alter table SPREAD_HISTORICO add VLR_PDD	FLOAT, VLR_DESPESA	float
alter table SPREAD_HISTORICO add Tx_CET_aa FLOAT, Tx_CET_am FLOAT, TxCET_X_VLR_aa FLOAT, TxCET_X_VLR_am FLOAT


Column_name	Type
VLR_PDD	float
VLR_DESPESA	float
*/
-- PRODUCAO NAO REDISTRIBUI, SOH NA SAFRA
-- SELECT *  FROM	SPREAD_RPT (NOLOCK) WHERE DT_FECHA='20150430' AND RPT=1

-- REDISTRIB RENEG FX ANO
-- exec scr_SPREAD '20150331','20150101','102', '1',99,'DESCRICAO ASC','20120101','20141231',60

-- teste modificacao Produto: LEVES c/RENEG e rpt 1,2 cart,fx ano
-- exec scr_SPREAD '20150331','20150101','1', '1',6,'','20120101','20141231',60
-- exec scr_SPREAD '20150331','20150101','2', '1',6,'','20120101','20141231',60

-- TODOS CART RPT 1
-- exec scr_SPREAD '20150331','20150101','1', '1',99,'','20120101','20141231',60

-- SELECT * FROM SPREAD_HISTORICO_SAFRA WHERE CONTRATO_ORIGINAL IS NOT NULL

-- TODOS VEICULOS FX ANO
-- exec scr_SPREAD '20141231','20141001','2', '1',99,'DESCRICAO ASC','20111001','20140930',60
-- FX ANO VEICULO LEVE
-- exec scr_SPREAD '20141231','20141001','2', '1',1,'DESCRICAO ASC','20111001','20140930',60

-- SELECT * FROM	SPREAD_RPT (NOLOCK) 	WHERE	DT_FECHA = '20150331'	AND RPT = 102
-- lj  rpt=7
-- exec scr_SPREAD '20141231','20141001','7', '1',99,'DESCRICAO ASC','20111001','20140930',60

-- [scr_CUBO_RRMENSAL] '20140630', '1', 'M0_DESCR1 ASC'
-- exec scr_SPREAD '20140331','1', '1',99,'DESCRICAO ASC','20110101','20140331',60

-- exec scr_SPREAD '20140331','20140101','1', '1','99','DESCRICAO','20110101','20131231','60'

-- FX RENDA 4o TRIM 2014
-- exec scr_SPREAD '20141231','20141001','4', '1','99','DESCRICAO','20111001','20140930','60'


-- SELECT * FROM TCUBO

-- PROC tela CUBO RR MENSAL  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_Spread_analitico_prod' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_spread_analitico_prod]
GO


CREATE Procedure [dbo].[scr_Spread_analitico_prod] (@data_ref as datetime,@Dt_Prod_de as smalldatetime
) AS
BEGIN

DECLARE @sortOrder  AS VARCHAR(5)

-- APAGA CONTRATOS Q NAO FORAM INTEGRADOS, NAO ESTAO MAIS NA COPER
DELETE		SPREAD_HISTORICO
	WHERE	DT_FECHA	BETWEEN	@Dt_Prod_de  AND @DATA_REF 
		AND NUM_OPE		NOT IN (SELECT	OPNROPER 
								FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
								WHERE	OPDTBASE BETWEEN  @Dt_Prod_de  AND @DATA_REF )
 
	-- FECHAMENTO DO MES ANTERIOR  	************** DIA 12/6/17
	DECLARE @DATA_ANT   AS DATETIME
	SET		@DATA_ANT	= CONVERT(VARCHAR(4),DATEPART(YYYY,@DATA_REF))+ RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MM,@DATA_REF))),2) + '01'
	--SELECT  @DATA_ANT
	SET		@DATA_ANT	= DATEADD(DD,-1,@DATA_ANT)  -- FIM DO MES ANTERIOR
	--SELECT  @DATA_ANT



	 -- PDD E DESPESA INCLUIDOS			*********************************	13/6/17
	UPDATE	 SPREAD_HISTORICO 
	SET		 RATING= R.NVL_RISCO,
			 VLR_PDD = ISNULL(R.VLR_PDD,0.0),
			 VLR_DESPESA = ISNULL(R.VLR_PDD,0.0)
	FROM	-- AJUSTE 12/6/17   DADOS DA PDD
			(SELECT *	FROM	RATING_HISTORICO R1 (NOLOCK)
				WHERE	R1.DT_FECHA = @DATA_REF AND  NVL_RISCO <> 'HH') AS R  -- TODOS   / SOMENTE ATIVOS  
	WHERE	SPREAD_HISTORICO.DT_FECHA BETWEEN @Dt_Prod_de AND @DATA_REF
		AND	SPREAD_HISTORICO.NUM_OPE = R.NUM_OPE
	-- MES ANTERIOR
	UPDATE	 SPREAD_HISTORICO 
	SET		 VLR_DESPESA = ISNULL(SPREAD_HISTORICO.VLR_PDD,0.0) - ISNULL(R.VLR_PDD,0.0)
	FROM	-- AJUSTE 12/6/17   DADOS DA PDD
			(SELECT *	FROM	RATING_HISTORICO (NOLOCK)
				WHERE	DT_FECHA = @DATA_ANT  ) AS R
	WHERE	SPREAD_HISTORICO.DT_FECHA BETWEEN @Dt_Prod_de AND @DATA_REF
		AND	SPREAD_HISTORICO.NUM_OPE = R.NUM_OPE
--  ***************


-- ORDEM CRESCENTE *************************
--IF @sortOrder = 'ASC'		BEGIN
	SELECT	  -- *
		S.DT_FECHA,
		S.NUM_OPE,
		S.DT_BASE,
		S.VLR_OP,
		S.VLR_PARC,
		S.PRAZO,
		S.PLANO,
		0.0 as VLR_ATRASO,
		S.VLR_PARC * S.PLANO as  VLR_VINCENDO,
		S.TAXA,
		S.RETORNO,
		S.TAXA_SEM_RET,

		-- inclui 15/9/17
		S.Tx_CET_am,	
		S.Tx_CET_aa,	

		S.ATRASO,
		S.RENEGOCIADO,
--		P.NVL_RISCO AS RATING	,		-- AJUSTE 12/6/17
		S.RATING,
		S.CODCLI,
		S.CODPROD,
		S.CODMODA,
		S.AGENTE,
		S.VEICULO,
		S.ANO_MODELO,
		S.RENDA,
		S.FX_RENDA,
		S.FX_PRAZO,
		S.CODOPER,
		S.CODLOJA,
		S.TX_X_VLR,

		-- inclui 15/9/17
		TxCET_X_VLR_am,
		TxCET_X_VLR_aa,

		S.PRZ_X_VLR,
		S.idade,
		S.fx_idade,	
		ISNULL(S.fx_ANO,'') AS fx_ANO,	
		S.OCUPACAO,
		-- ISNULL(CONTRATO_ORIGINAL,'') AS CONTRATO_ORIGINAL,
		''  AS CONTRATO_ORIGINAL,
		''  AS VEICULO_ORIGINAL,
		0.0 AS VF,	
		0.0 AS VLR_RISCO,
				-- ALTERADO 11/MAR/16
		CASE WHEN S.RENEGOCIADO = 0 THEN S.VLR_PARC * S.PLANO ELSE  0.0 END AS VF_ORIGINAL,
		ISNULL((SELECT MAX(PPSCORING) FROM  PropWebSMC..CPROP B2 (NOLOCK)
					WHERE	B2.PPNRPROP=(SELECT OPNRPROP FROM  CDCSANTANAMicroCredito..COPER O (NOLOCK)
					WHERE	O.OPNROPER=S.NUM_OPE )),'')  AS SCORE,
		ISNULL((SELECT MAX(ABVLRVND)  FROM  CDCSANTANAMicroCredito..CBFIN B2 (NOLOCK)
					WHERE	B2.ABNROPER=S.NUM_OPE ),0.0) AS VLR_VEICULO
		,S.TABELA -- INCLUIDO 4/11/16
		-- INCLUIDO 7/12/16
		,ISNULL((select		MAX(TtDescr) from CdcSantanaMicroCredito.. TTABE T (NOLOCK) 
					WHERE	T.TtCodTAB=S.TABELA ),'') AS TABELA_DESCR,
		-- INCLUIDO 12/6/17   DADOS DA PDD
		S.VLR_PDD,
		S.VLR_DESPESA
		-- INCLUIDO 14/6/17
		,	(SELECT TONOMEOP 	FROM	CDCSANTANAMicroCredito..TMODA O (NOLOCK) WHERE	TOCODOP= S.CODMODA ) AS MODALIDADE
		-- AGENTE ATUAL		:	LOJA COM OPERADOR ATUAL E AGENTE ATUAL		INCLUIDO 14/6/17
		,	(SELECT CONVERT(VARCHAR(10),A13CODORG)+'-'+ISNULL(A.A13DESCR,'') 		FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)
					-- COD AGENTE
					WHERE A13CODORG = (SELECT		O3CODORGA13 	FROM	CDCSANTANAMicroCredito..TORG3 (NOLOCK) 
						-- OPERADOR ATUAL DA LOJA DO CONTRATO
				WHERE	O3CODORG =(SELECT O4CODORG3 	FROM	CDCSANTANAMicroCredito..TORG4 (NOLOCK)  WHERE O4CODORG = RIGHT('0000'+RTRIM(S.CODLOJA),6) ))) AS AGENTE_ATUAL
	FROM	(	SELECT	* FROM SPREAD_HISTORICO (NOLOCK)
				WHERE	DT_FECHA BETWEEN @Dt_Prod_de  AND @DATA_REF		) AS S	
		




END
GO
