
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec scr_SPREAD_LOJA '20141231','20141001','7', '1','99','DESCRICAO','20111001','20140930','60'

-- select * 	FROM CDCSANTANAMICROCREDITO..ta1o3 (nolock)
-- 30 diniz norte  ,   A13CODORG	A13DESCR  119	PROMOT DINIZ OESTE

-- exec scr_SPREAD '20140331','1', '1',99,'DESCRICAO ASC','20110101','20140331',60
-- exec scr_SPREAD_LOJA '20140331','1', '1','99','DESCRICAO','20110101','20140331','60'

-- PROC tela CUBO RR MENSAL  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_Spread_LOJA' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_spread_LOJA]
GO


CREATE Procedure [dbo].[scr_Spread_LOJA] (@data_ref as datetime, @Dt_Prod_de as smalldatetime,  @RPT int, 
			@carteira int, @veiculo int --) as
,  @ordenar varchar(30), 			@Dt_de as smalldatetime, @Dt_ate as smalldatetime, @dias_atraso int
,  @CodAgente varchar(10) ) AS
BEGIN

--declare @ordenar varchar(30), 			@Dt_de as smalldatetime, @Dt_ate as smalldatetime, @dias_atraso int

DECLARE @sortOrder  AS VARCHAR(5)

SET @sortOrder = CASE	WHEN RIGHT(RTRIM(@ordenar),4) = 'DESC' THEN 'DESC'
						WHEN RIGHT(RTRIM(@ordenar),3) = 'ASC'  THEN 'ASC'
						ELSE  'ASC' END

-- SELECT CASE	WHEN RIGHT(RTRIM('M0_DESCR1 DESC'),4) = 'DESC' THEN 'DESC' END
-- SELECT @sortOrder

DECLARE @ORDEM_TELA AS VARCHAR(30)
SET		@ORDEM_TELA= CASE	WHEN RIGHT(RTRIM(@ordenar),4) = 'DESC' THEN LEFT(@ordenar,LEN(@ordenar)-5)
						WHEN RIGHT(RTRIM(@ordenar),3) = 'ASC'  THEN  LEFT(@ordenar,LEN(@ordenar)-4)
						ELSE  @ordenar END
-- SELECT @ORDEM_TELA

-- executar o calculo do relatorio de PRODUCAO
--  EXEC [dbo].SPR_CALCULO_prod	'20140101' ,'2014-03-31'
exec  [dbo].SPR_CALCULO_prod	 @Dt_Prod_de, @data_ref,@veiculo

-- executar o calculo do relatorio de SAFRA update
--SPR_CALCULO_safra '20140331','1', '1','99','DESCRICAO',  '20110101','20140331','60'
exec SPR_CALCULO_safra @data_ref,@RPT, @carteira,@veiculo,@ordenar,  @Dt_de,@Dt_ate,@dias_atraso




--LOJA
/*
DROP TABLE SPREAD_RPT_LOJA
CREATE TABLE SPREAD_RPT_LOJA
(
		DT_FECHA  SMALLDATETIME,
		COD_LOJA  VARCHAR(20),
		DES_LOJA  VARCHAR(100),
		SIT		  VARCHAR(2),
		COD_OPER  VARCHAR(20),
		DES_OPER  VARCHAR(100),

		COD_AGENTE VARCHAR(20),
		AGENTE	   VARCHAR(100),

		PROD_3M	FLOAT,
		PROD_2M FLOAT,
		PROD_1M FLOAT,

		CARTEIRA FLOAT,

		PRAZO_MEDIO FLOAT,
		TAXA_MEDIA  FLOAT, 
		RISCO		FLOAT,
		SPREAD_MEDIO	FLOAT,

		CARTEIRA_TRIM	FLOAT,
		TAXA_MEDIA_TRIM	FLOAT,
		RISCO_TRIM		FLOAT,
		SPREAD_TRIM		FLOAT
)

CREATE INDEX SPREAD_RPT_LOJA_IDX1 ON SPREAD_RPT_LOJA (DT_FECHA,COD_LOJA, COD_OPER,COD_AGENTE)


if @rpt =1 and  @sortOrder = 'ASC' 
	BEGIN
		SET @ORDEM_TELA='M0_CARTEIRA'
		SET  @sortOrder = 'DESC'
	END
*/

-- ORDEM CRESCENTE *************************
IF @sortOrder = 'ASC' 
BEGIN
	SELECT	 
-- * 
		--DT_FECHA,
		COD_LOJA,
		DES_LOJA,
		SIT,
		COD_OPER,
		--DES_OPER,
		--COD_AGENTE,
		AGENTE,
		ISNULL(DES_OPER,'') AS DES_OPER,
		PROD_1M,  -- qtd cart
		CARTEIRA, -- vlr cart

		PRAZO_MEDIO,
		TAXA_MEDIA, 
		-- INSERI 18/9/17
		ISNULL(Tx_CET_aa,0.0)		AS TX_CET_AA, 
		ISNULL(Tx_CET_am,0.0)		AS TX_CET_AM, 

		CARTEIRA_TRIM, -- prod trim
		PROD_2M,  -- qtd prod

		PROD_3M,    -- tkt medio
		RISCO,		-- 
		VLR_PERDA,  -- RISCO_TRIM, -- perda

		SPREAD_MEDIO,

		TAXA_MEDIA_TRIM,
		SPREAD_TRIM,
		VF_SAFRA,
		VLR_PERDA
		,ISNULL(VLR_PDD,0.0)		AS VLR_PDD,			-- INCLUIDO 13/6/17
		ISNULL(VLR_DESPESA,0.0)		AS VLR_DESPESA
		-- AGENTE ATUAL		:	LOJA COM OPERADOR ATUAL E AGENTE ATUAL		INCLUIDO 14/6/17
		,	(SELECT CONVERT(VARCHAR(10),A13CODORG)+'-'+ISNULL(A.A13DESCR,'') 		FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)
					-- COD AGENTE
					WHERE A13CODORG = (SELECT		O3CODORGA13 	FROM	CDCSANTANAMicroCredito..TORG3 (NOLOCK) 
						-- OPERADOR ATUAL DA LOJA DO CONTRATO
				WHERE	O3CODORG =(SELECT		O4CODORG3 	FROM	CDCSANTANAMicroCredito..TORG4 (NOLOCK)  
										WHERE	O4CODORG = RIGHT('0000'+RTRIM(COD_LOJA),6) ))) AS AGENTE_ATUAL

	FROM	SPREAD_RPT_LOJA	(NOLOCK)
	WHERE	DT_FECHA = @DATA_REF 
		AND RPT=@RPT 
		AND	(@CodAgente='99' OR COD_AGENTE = @CodAgente)
END

-- ORDEM DECRESCENTE  ************************
IF @sortOrder = 'DESC' 
BEGIN
	SELECT	 
		--DT_FECHA,
		COD_LOJA,
		DES_LOJA,
		SIT,
		COD_OPER,
		--DES_OPER,
		--COD_AGENTE,
		AGENTE,
		ISNULL(DES_OPER,'') AS DES_OPER,

		AGENTE,
		ISNULL(DES_OPER,'') AS DES_OPER,
		PROD_1M,  -- qtd cart
		CARTEIRA, -- vlr cart

		PRAZO_MEDIO,
		TAXA_MEDIA, 
		-- INSERI 18/9/17
		ISNULL(Tx_CET_aa,0.0)		AS TX_CET_AA, 
		ISNULL(Tx_CET_am,0.0)		AS TX_CET_AM, 

		CARTEIRA_TRIM, -- prod trim
		PROD_2M,  -- qtd prod

		PROD_3M,    -- tkt medio
		RISCO,		-- 
		VLR_PERDA,  -- RISCO_TRIM, -- perda

		SPREAD_MEDIO,

		TAXA_MEDIA_TRIM,
		SPREAD_TRIM,
		VF_SAFRA,
		VLR_PERDA
		,ISNULL(VLR_PDD,0.0)		AS VLR_PDD,			-- INCLUIDO 13/6/17
		ISNULL(VLR_DESPESA,0.0)		AS VLR_DESPESA

	FROM	SPREAD_RPT_LOJA  	(NOLOCK)
	WHERE	DT_FECHA = @DATA_REF 
		AND RPT=@RPT 
		AND	(@CodAgente='99' OR COD_AGENTE = @CodAgente)
END


END
GO
