
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec scr_SPREAD_OPERADOR '20160331','20160101','6', '1','99','DESCRICAO','20150101','20150331','60','118'

-- [scr_CUBO_RRMENSAL] '20140630', '1', 'M0_DESCR1 ASC'
-- exec scr_SPREAD '20140331','1', '1',99,'DESCRICAO ASC','20110101','20140331',60
-- exec scr_SPREAD_OPERADOR '20140331','20140101','6', '1','99','DESCRICAO','20110101','20140331','60'


-- PROC tela CUBO RR MENSAL  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_Spread_OPERADOR' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_spread_OPERADOR]
GO


CREATE Procedure [dbo].[scr_Spread_OPERADOR] (@data_ref as datetime, @Dt_Prod_de as smalldatetime, @RPT int, 
			@carteira int, @veiculo int --) as
,  @ordenar varchar(30), 			@Dt_de as smalldatetime, @Dt_ate as smalldatetime, @dias_atraso int
,  @CodAgente VARCHAR(10)) AS
BEGIN

--declare @ordenar varchar(30), 			@Dt_de as smalldatetime, @Dt_ate as smalldatetime, @dias_atraso int

DECLARE @sortOrder  AS VARCHAR(5)

SET @sortOrder = CASE	WHEN RIGHT(RTRIM(@ordenar),4) = 'DESC' THEN 'DESC'
						WHEN RIGHT(RTRIM(@ordenar),3) = 'ASC'  THEN 'ASC'
						ELSE  'ASC' END

-- SELECT CASE	WHEN RIGHT(RTRIM('M0_DESCR1 DESC'),4) = 'DESC' THEN 'DESC' END
-- SELECT @sortOrder

DECLARE @ORDEM_TELA AS VARCHAR(30)
SET		@ORDEM_TELA= CASE	WHEN RIGHT(RTRIM(@ordenar),4) = 'DESC' THEN LEFT(@ordenar,LEN(@ordenar)-5)
						WHEN RIGHT(RTRIM(@ordenar),3) = 'ASC'  THEN  LEFT(@ordenar,LEN(@ordenar)-4)
						ELSE  @ordenar END
-- SELECT @ORDEM_TELA


-- executar o calculo do relatorio de PRODUCAO
--  EXEC [dbo].SPR_CALCULO_prod	'20140101' ,'2014-03-31'
exec  [dbo].SPR_CALCULO_prod	 @Dt_Prod_de, @data_ref, @veiculo

-- executar o calculo do relatorio de SAFRA update
--SPR_CALCULO_safra '20140331','1', '1','99','DESCRICAO',  '20110101','20140331','60'
exec SPR_CALCULO_safra @data_ref,@RPT, @carteira,@veiculo,@ordenar,  @Dt_de,@Dt_ate,@dias_atraso

		-- AJUSTAR TTL DO RELATORIO DE OPERADOR  ********** DESP E PDD ********* INCLUI 14/6/17
		UPDATE	SPREAD_RPT_OPERADOR
		SET		VLR_PDD=PDD, VLR_DESPESA=DESP
		FROM	(SELECT	SUM(VLR_PDD) AS PDD, SUM(VLR_DESPESA) AS DESP
				FROM	SPREAD_RPT_OPERADOR 	(NOLOCK)
				WHERE	DT_FECHA = @DATA_REF 
					AND COD_OPER <>99)	AS O
		WHERE	DT_FECHA = @DATA_REF 
			AND COD_OPER =99


-- ORDEM CRESCENTE *************************
IF @sortOrder = 'ASC' 
BEGIN
	SELECT	 
-- * 
		--DT_FECHA,
		COD_OPER,
		DES_OPER,
		AGENTE,
		CARTEIRA,

		PRAZO_MEDIO,
		TAXA_MEDIA, 

		-- INSERI 18/9/17
		ISNULL(Tx_CET_aa,0.0)		AS TX_CET_AA, 
		ISNULL(Tx_CET_am,0.0)		AS TX_CET_AM, 

		RISCO,
		SPREAD1,
		SPREAD4,

		qtde,
		vlr_producao,
		VF_SAFRA,
		VLR_PERDA
		,ISNULL(VLR_PDD,0.0)		AS VLR_PDD,			-- INCLUIDO 13/6/17
		ISNULL(VLR_DESPESA,0.0)		AS VLR_DESPESA


	FROM	SPREAD_RPT_OPERADOR 	(NOLOCK)
	WHERE	DT_FECHA = @DATA_REF 
		AND	(@CodAgente='99' OR COD_AGENTE = @CodAgente)
ORDER BY 
		DES_OPER,
		AGENTE
END

-- ORDEM DECRESCENTE  ************************
IF @sortOrder = 'DESC' 
BEGIN
	SELECT	 
		--DT_FECHA,
		COD_OPER,
		DES_OPER,
		AGENTE,
		CARTEIRA,

		PRAZO_MEDIO,
		TAXA_MEDIA, 

		-- INSERI 18/9/17
		ISNULL(Tx_CET_aa,0.0)		AS TX_CET_AA, 
		ISNULL(Tx_CET_am,0.0)		AS TX_CET_AM, 

		RISCO,
		SPREAD1,
		SPREAD4,

		qtde,
		vlr_producao,
		VF_SAFRA,
		VLR_PERDA
		,ISNULL(VLR_PDD,0.0)		AS VLR_PDD,			-- INCLUIDO 13/6/17
		ISNULL(VLR_DESPESA,0.0)		AS VLR_DESPESA

	FROM	SPREAD_RPT_OPERADOR 	(NOLOCK)
	WHERE	DT_FECHA = @DATA_REF 
		AND	(@CodAgente='99' OR COD_AGENTE = @CodAgente)
END




END
GO
