
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go
-- exec scr_SPREAD_analitico '20160229','20160201','1', '1','20160101','20160131',60

-- REDISTRIB RENEG CARTEIRA
-- exec scr_SPREAD_analitico '20160229','20151201','1', '1','20121201','20151130',60
-- exec scr_SPREAD_analitico '20150331','20150101','1', '1','20120101','20141231',60
--,'DESCRICAO ASC','20120101','20141231',60


-- PROC tela CUBO RR MENSAL  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_Spread_analitico' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_spread_analitico]
GO


CREATE Procedure [dbo].[scr_Spread_analitico] (@data_ref as datetime,@Dt_Prod_de as smalldatetime, 
			@carteira int, @veiculo int 
, @Dt_de as smalldatetime, @Dt_ate as smalldatetime, @dias_atraso int) AS
BEGIN


DECLARE @sortOrder  AS VARCHAR(5)


-- FECHAMENTO DO MES ANTERIOR	************** DIA 12/6/17
DECLARE @DATA_ANT   AS DATETIME
SET		@DATA_ANT	= CONVERT(VARCHAR(4),DATEPART(YYYY,@DATA_REF))+ RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MM,@DATA_REF))),2) + '01'
SET		@DATA_ANT	= DATEADD(DD,-1,@DATA_ANT)  -- FIM DO MES ANTERIOR



exec SPR_CALCULO_safra @data_ref,1, @carteira,@veiculo,'ASC',  @Dt_de,@Dt_ate,@dias_atraso


-- create table spread_aux SPREAD_HISTORICO_SAFRA
-- select * into  spread_aux from SPREAD_HISTORICO_SAFRA
-- alter table spread_aux add  vf_original float
-- SP_HELP spread_aux

-- ORDEM CRESCENTE *************************
--IF @sortOrder = 'ASC'		BEGIN
	SELECT	   
		S.DT_FECHA,
		S.NUM_OPE,
		S.DT_BASE,
		S.VLR_OP,
		S.VLR_PARC,
		S.PRAZO,
		S.PLANO,
		S.VLR_ATRASO,
		S.VLR_VINCENDO,
		S.TAXA,
		S.RETORNO,
		S.TAXA_SEM_RET,

		-- inclui 15/9/17
		Tx_CET_am,
		Tx_CET_aa,

		S.ATRASO,
		S.RENEGOCIADO,
		S.RATING	,
		S.CODCLI,
		S.CODPROD,
		S.CODMODA,
		S.AGENTE,
		S.VEICULO,
		S.ANO_MODELO,
		S.RENDA,
		S.FX_RENDA,
		S.FX_PRAZO,
		S.CODOPER,
		S.CODLOJA,
		S.TX_X_VLR,
		-- inclui 15/9/17
		TxCET_X_VLR_am,
		TxCET_X_VLR_aa,

		S.PRZ_X_VLR,
		S.idade,
		S.fx_idade,	
		S.fx_ANO,	
		S.OCUPACAO,
		ISNULL('',S.CONTRATO_ORIGINAL) AS CONTRATO_ORIGINAL,
		S.VEICULO_ORIGINAL,
		S.VF,	
		S.VLR_RISCO,
		-- ALTERADO 26/FEV/16
		--CASE WHEN RENEGOCIADO = '0' THEN VF ELSE  0.0 END AS
		S.VF_ORIGINAL,
		ISNULL((SELECT MAX(PPSCORING) FROM  PropWebSMC..CPROP B2 (NOLOCK)
					WHERE	B2.PPNRPROP=(SELECT OPNRPROP FROM  CDCSANTANAMicroCredito..COPER O (NOLOCK)
					WHERE	O.OPNROPER=S.NUM_OPE )),'')  AS SCORE,
		ISNULL((SELECT MAX(ABVLRVND) FROM  CDCSANTANAMicroCredito..CBFIN B2 (NOLOCK)
					WHERE	B2.ABNROPER=S.NUM_OPE ),0.0) AS VLR_VEICULO
		,S.TABELA -- INCLUIDO 4/11/16
		-- INCLUIDO 7/12/16
		,ISNULL((select		MAX(TtDescr) from CdcSantanaMicroCredito.. TTABE T (NOLOCK) 
					WHERE	T.TtCodTAB=S.TABELA ),'') AS TABELA_DESCR
		-- INCLUIDO 12/6/17   DADOS DA PDD
		-- ,ISNULL(S.VLR_PDD,0.0)		AS VLR_PDD,		ISNULL(S.VLR_DESPESA,0.0)	AS VLR_DESPESA
		,ISNULL(P.VLR_PDD,0.0)		AS VLR_PDD,
		 (ISNULL(P.VLR_PDD,0.0) - ISNULL((SELECT	R.VLR_PDD FROM	RATING_HISTORICO R (NOLOCK)
						WHERE	DT_FECHA = @DATA_ANT AND S.NUM_OPE= R.NUM_OPE ),0.0)		-- + PREJUIZO
			+ 	ISNULL((SELECT	R1.VLR_PDD FROM	RATING_HISTORICO R1 (NOLOCK)
						WHERE	R1.DT_FECHA = @DATA_REF AND R1.NUM_OPE= S.NUM_OPE AND R1.NVL_RISCO ='HH'	  -- FOI PRO PREJU EM M
								AND R1.NUM_OPE NOT IN (SELECT	R2.NUM_OPE FROM	RATING_HISTORICO R2 (NOLOCK)
									WHERE	R2.DT_FECHA = @DATA_ANT AND R2.NUM_OPE= S.NUM_OPE AND R2.NVL_RISCO <>'HH')  -- NAO ESTAVA NO PREJU EM M-1
						 ),0.0)) AS VLR_DESPESA		
		,	(SELECT O.TONOMEOP 	FROM	CDCSANTANAMicroCredito..TMODA O (NOLOCK) WHERE	O.TOCODOP= S.CODMODA ) AS MODALIDADE

		-- AGENTE ATUAL		:	LOJA COM OPERADOR ATUAL E AGENTE ATUAL		INCLUIDO 14/6/17
		,	(SELECT CONVERT(VARCHAR(10),A13CODORG)+'-'+ISNULL(A.A13DESCR,'') 		FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)
					-- COD AGENTE
					WHERE A13CODORG = (SELECT		O3CODORGA13 	FROM	CDCSANTANAMicroCredito..TORG3 (NOLOCK) 
						-- OPERADOR ATUAL DA LOJA DO CONTRATO
				WHERE	O3CODORG =(SELECT O4CODORG3 	FROM	CDCSANTANAMicroCredito..TORG4 (NOLOCK)  WHERE O4CODORG = S.CODLOJA ))) AS AGENTE_ATUAL
	FROM	
			-- AJUSTE 14/6/17   DADOS DA PDD
			(SELECT * FROM SPREAD_HISTORICO_SAFRA (NOLOCK) ) AS S
			,(SELECT *	FROM	RATING_HISTORICO (NOLOCK)
						WHERE	DT_FECHA = @DATA_REF) AS P
			WHERE	S.NUM_OPE = P.NUM_OPE



END
GO
