
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go
-- RPT NAO EH 5 E AGENTE COM CODIGO -- NAO PODE ACESSAR!
-- exec scr_SPREAD '20150731','20150701','6', '1',99,' ASC','20120601','20150531',60,'9'

-- rpt 5 agente
-- exec scr_SPREAD '20150731','20150701','5', '1',99,' ASC','20120601','20150531',60,'118'
-- exec scr_SPREAD '20150731','20150701','5', '1',99,' ASC','20120601','20150531',60,'6'
-- exec scr_SPREAD '20150731','20150701','5', '1',99,' ASC','20150401','20150531',60,'30'


-- exec scr_SPREAD '20150731','20150701','1', '1',99,' ASC','20120601','20150531',60

-- exec scr_SPREAD '20150731','20150701','1', '1',90,' ASC','20120601','20150531',60
-- exec scr_SPREAD '20150731','20150701','2', '1',99,' ASC','20120601','20150531',60
-- exec scr_SPREAD '20150731','20150701','2', '1',90,' ASC','20120601','20150531',60

-- REDISTRIB RENEG FX ANO
-- exec scr_SPREAD '20150331','20150101','102', '1',99,'DESCRICAO ASC','20120101','20141231',60

-- teste modificacao Produto: LEVES c/RENEG e rpt 1,2 cart,fx ano
-- exec scr_SPREAD '20150331','20150101','1', '1',6,'','20120101','20141231',60
-- exec scr_SPREAD '20150331','20150101','2', '1',6,'','20120101','20141231',60

-- TODOS CART RPT 1
-- exec scr_SPREAD '20150331','20150101','1', '1',99,'','20120101','20141231',60

-- SELECT * FROM SPREAD_HISTORICO_SAFRA WHERE CONTRATO_ORIGINAL IS NOT NULL

-- TODOS VEICULOS FX ANO
-- exec scr_SPREAD '20141231','20141001','2', '1',99,'DESCRICAO ASC','20111001','20140930',60
-- FX ANO VEICULO LEVE
-- exec scr_SPREAD '20141231','20141001','2', '1',1,'DESCRICAO ASC','20111001','20140930',60

-- SELECT * FROM	SPREAD_RPT (NOLOCK) 	WHERE	DT_FECHA = '20150331'	AND RPT = 102
-- lj  rpt=7
-- exec scr_SPREAD '20141231','20141001','7', '1',99,'DESCRICAO ASC','20111001','20140930',60
-- exec scr_SPREAD '20140331','1', '1',99,'DESCRICAO ASC','20110101','20140331',60
-- exec scr_SPREAD '20140331','20140101','1', '1','99','DESCRICAO','20110101','20131231','60'
-- FX RENDA 4o TRIM 2014
-- exec scr_SPREAD '20141231','20141001','4', '1','99','DESCRICAO','20111001','20140930','60'

-- PROC tela CUBO RR MENSAL  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_Spread' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_spread]
GO


CREATE Procedure [dbo].[scr_Spread] (@data_ref as datetime,@Dt_Prod_de as smalldatetime, @RPT int, 
			@carteira int, @veiculo int --) as
,  @ordenar varchar(30), 			@Dt_de as smalldatetime, @Dt_ate as smalldatetime, @dias_atraso int,
@CodAgente  varchar(10)) AS
BEGIN

--declare @ordenar varchar(30), 			@Dt_de as smalldatetime, @Dt_ate as smalldatetime, @dias_atraso int

IF @CodAGENTE <>'99' AND @RPT<>5  -- OUTROS RELATORIOS S/ AGENTES, AGENTE ESPECIFICO
BEGIN
	RETURN		-- SAIR
END


DECLARE @sortOrder  AS VARCHAR(5)
SET @sortOrder = 'ASC'


SET @sortOrder = CASE	WHEN RIGHT(RTRIM(@ordenar),4) = 'DESC' THEN 'DESC'
						WHEN RIGHT(RTRIM(@ordenar),3) = 'ASC'  THEN 'ASC'
						ELSE  'ASC' END


-- SELECT CASE	WHEN RIGHT(RTRIM('M0_DESCR1 DESC'),4) = 'DESC' THEN 'DESC' END
-- SELECT @sortOrder

DECLARE @ORDEM_TELA AS VARCHAR(30)
SET		@ORDEM_TELA= CASE	WHEN RIGHT(RTRIM(@ordenar),4) = 'DESC' THEN  LEFT(@ordenar,LEN(@ordenar)-5)
							WHEN RIGHT(RTRIM(@ordenar),3) = 'ASC'  THEN  LEFT(@ordenar,LEN(@ordenar)-4)
							ELSE  @ordenar END
-- LEVES UTILIT MOTOS C/ RENEG
IF @veiculo IN (6,7,8, 99,90) 
BEGIN
	-- tratar NOVAS REDISTRIBUICOES: VEIC LEVES, MOTOS, UTIL COM RENEG E REFIN (VEIC 6,7,8)
	IF (@veiculo IN (6,7,8) AND @RPT IN (1,2) ) -- CART E FX ANO
		OR (@veiculo IN (99) AND @RPT IN (2)  ) -- FX ANO E TODOS
	BEGIN
		SET @RPT =@RPT + 100
	END
	-- fx ano e todos c/ reneg=90
	if @veiculo IN (90) AND @RPT IN (2)
	begin
		set @veiculo =99	-- como o TODOS S/ RENEG 
		SET @RPT =102  -- original, sem reneg distrib
	end
	-- CARTEIRA e todos c/ reneg
	if @veiculo IN (90) AND @RPT IN (1)
	begin
		set @veiculo =6  -- como leves
		SET @RPT =@RPT + 100  -- carteira com reneg distrib
	end
--	ELSE 	BEGIN		RETURN 	END
END
-- select @RPT


-- executar o calculo do relatorio de PRODUCAO
--  EXEC [dbo].SPR_CALCULO_prod	'20150701' ,'2015-07-31' , 99
exec  [dbo].SPR_CALCULO_prod	 @Dt_Prod_de, @data_ref,@veiculo

-- executar o calculo do relatorio de SAFRA update
--SPR_CALCULO_safra '20140331','1', '1','99','DESCRICAO',  '20110101','20140331','60'
exec SPR_CALCULO_safra @data_ref,@RPT, @carteira,@veiculo,@ordenar,  @Dt_de,@Dt_ate,@dias_atraso

-- SPR_CALCULO_safra '20150731','1', '1','99','DESCRICAO',  '20120601','20150531','60'
-- SELECT @ORDEM_TELA


-- agentes acessam SOMENTE SEUS DADOS  *************************** INCLUIDO 28/10/2016
-- AGENTE = 99 TODOS , ADMS, OUTROS PERFIS
IF @CodAGENTE ='99'
BEGIN

		-- ORDEM CRESCENTE *************************
		IF @sortOrder = 'ASC' 
		BEGIN
			--
			SELECT	 
		-- * 
				DT_FECHA,
				DESCR_VEIC,
				-- ALTERADO 07/12/16 PARA INSERIR O NOME DA TABELA CASO RPT= 13 
				(CASE	WHEN @RPT=13	THEN	ISNULL((select		MAX(TtDescr) from CdcSantanaMicroCredito.. TTABE T (NOLOCK) 
															WHERE	T.TtCodTAB=DESCR_VEIC ),'')
						ELSE DESCRICAO	END)			AS DESCRICAO,
				ISNULL(PRAZO_MEDIO,0.0)		AS PRAZO_MEDIO,
				ISNULL(TAXA_MEDIA,0.0)		AS TAXA_MEDIA, 

				-- INSERI 18/9/17
				ISNULL(Tx_CET_aa,0.0)		AS TX_CET_AA, 
				ISNULL(Tx_CET_am,0.0)		AS TX_CET_AM, 

				ISNULL(TICKET_MEDIO,0.0)	AS TICKET_MEDIO,
				ISNULL(VLR_CONTRATOS,0.0)	AS VLR_CONTRATOS,
				ISNULL(QTD_CONTRATOS,0.0)	AS QTD_CONTRATOS,
				ISNULL(CAPTACAO,0.0)		AS CAPTACAO, 
				ISNULL(PERDA,0.0)			AS PERDA,
				ISNULL(COMISSAO,0.0)		AS COMISSAO,
				ISNULL(SPREAD,0.0)			AS SPREAD, 
				ISNULL(CARTEIRA,0.0)		AS CARTEIRA,
				ISNULL(PRC_CARTEIRA,0.0)	AS PRC_CARTEIRA, 
				ISNULL(PRODUCAO_TRIM,0.0)	AS PRODUCAO_TRIM,
				ISNULL(PRC_PRODUCAO_TRIM,0.0) AS PRC_PRODUCAO_TRIM,
				ISNULL(VF_SAFRA,0.0)		 AS VF_SAFRA,
				ISNULL(VLR_PERDA,0.0)		AS VLR_PERDA,
				ISNULL(VLR_PDD,0.0)			AS VLR_PDD,
				ISNULL(VLR_DESPESA,0.0)		AS VLR_DESPESA,
				ordem_linha

	FROM	SPREAD_RPT (NOLOCK)
			WHERE	DT_FECHA = @DATA_REF 
				AND RPT = @RPT  -- RELATORIO
			ORDER BY ORDEM_LINHA ASC, descr_veic
		END

		-- ORDEM DECRESCENTE  ************************
		IF @sortOrder = 'DESC' 
		BEGIN
			SELECT	 
				DT_FECHA,
				DESCR_VEIC,
				-- ALTERADO 07/12/16 PARA INSERIR O NOME DA TABELA CASO RPT= 13 
				(CASE	WHEN @RPT=13	THEN	ISNULL((select		MAX(TtDescr) from CdcSantanaMicroCredito.. TTABE T (NOLOCK) 
															WHERE	T.TtCodTAB=DESCR_VEIC ),'')
						ELSE DESCRICAO	END)			AS DESCRICAO,
				ISNULL(PRAZO_MEDIO,0.0)		AS PRAZO_MEDIO,
				ISNULL(TAXA_MEDIA,0.0)		AS TAXA_MEDIA, 

				-- INSERI 18/9/17
				ISNULL(Tx_CET_aa,0.0)		AS TX_CET_AA, 
				ISNULL(Tx_CET_am,0.0)		AS TX_CET_AM, 

				ISNULL(TICKET_MEDIO,0.0)	AS TICKET_MEDIO,
				ISNULL(VLR_CONTRATOS,0.0)	AS VLR_CONTRATOS,
				ISNULL(QTD_CONTRATOS,0.0)	AS QTD_CONTRATOS,
				ISNULL(CAPTACAO,0.0)		AS CAPTACAO, 
				ISNULL(PERDA,0.0)			AS PERDA,
				ISNULL(COMISSAO,0.0)		AS COMISSAO,
				ISNULL(SPREAD,0.0)			AS SPREAD, 
				ISNULL(CARTEIRA,0.0)		AS CARTEIRA,
				ISNULL(PRC_CARTEIRA,0.0)	AS PRC_CARTEIRA, 
				ISNULL(PRODUCAO_TRIM,0.0)	AS PRODUCAO_TRIM,
				ISNULL(PRC_PRODUCAO_TRIM,0.0) AS PRC_PRODUCAO_TRIM,
				ISNULL(VF_SAFRA,0.0)		 AS VF_SAFRA,
				ISNULL(VLR_PERDA,0.0)		AS VLR_PERDA,
				ISNULL(VLR_PDD,0.0)			AS VLR_PDD,
				ISNULL(VLR_DESPESA,0.0)		AS VLR_DESPESA,
				ordem_linha

				
			FROM	SPREAD_RPT (NOLOCK)
			WHERE	DT_FECHA = @DATA_REF 
				AND RPT = @RPT
			ORDER BY ORDEM_LINHA ASC, descr_veic

		END
END


-- agentes acessam SOMENTE SEUS DADOS  *************************** INCLUIDO 28/10/2016
-- AGENTE = 99 TODOS , ADMS, OUTROS PERFIS
IF @CodAGENTE <>'99' AND @RPT=5  -- RELATORIO DE AGENTES
BEGIN

		-- ORDEM CRESCENTE *************************
		IF @sortOrder = 'ASC' 
		BEGIN
			SELECT	 
				DT_FECHA,
				DESCR_VEIC,
				DESCRICAO,
				ISNULL(PRAZO_MEDIO,0.0)		AS PRAZO_MEDIO,
				ISNULL(TAXA_MEDIA,0.0)		AS TAXA_MEDIA, 

				-- INSERI 18/9/17
				ISNULL(Tx_CET_aa,0.0)		AS TX_CET_AA, 
				ISNULL(Tx_CET_am,0.0)		AS TX_CET_AM, 

				ISNULL(TICKET_MEDIO,0.0)	AS TICKET_MEDIO,
				ISNULL(VLR_CONTRATOS,0.0)	AS VLR_CONTRATOS,
				ISNULL(QTD_CONTRATOS,0.0)	AS QTD_CONTRATOS,
				ISNULL(CAPTACAO,0.0)		AS CAPTACAO, 
				ISNULL(PERDA,0.0)			AS PERDA,
				ISNULL(COMISSAO,0.0)		AS COMISSAO,
				ISNULL(SPREAD,0.0)			AS SPREAD, 
				ISNULL(CARTEIRA,0.0)		AS CARTEIRA,
				ISNULL(PRC_CARTEIRA,0.0)	AS PRC_CARTEIRA, 
				ISNULL(PRODUCAO_TRIM,0.0)	AS PRODUCAO_TRIM,
				ISNULL(PRC_PRODUCAO_TRIM,0.0) AS PRC_PRODUCAO_TRIM,
				ISNULL(VF_SAFRA,0.0)		 AS VF_SAFRA,
				ISNULL(VLR_PERDA,0.0)		AS VLR_PERDA,
				ISNULL(VLR_PDD,0.0)			AS VLR_PDD,
				ISNULL(VLR_DESPESA,0.0)		AS VLR_DESPESA,
				ordem_linha
			FROM	SPREAD_RPT  (NOLOCK)
			WHERE	DT_FECHA = @DATA_REF 
				AND RPT = @RPT  -- RELATORIO 5 AGENTE
				-- ALTERACAO 28/10/16	ACESSO AGENTES			******************
				AND (substring(descr_veic,CHARINDEX(' ',descr_veic,len(descr_veic)-3)+1,len(descr_veic)) = rtrim(@CodAGENTE) OR rtrim(@CodAGENTE) = '99')
			ORDER BY ORDEM_LINHA ASC, descr_veic
		END

		-- ORDEM DECRESCENTE  ************************
		IF @sortOrder = 'DESC' 
		BEGIN
			SELECT	 
				DT_FECHA,
				DESCR_VEIC,
				DESCRICAO,
				ISNULL(PRAZO_MEDIO,0.0)		AS PRAZO_MEDIO,
				ISNULL(TAXA_MEDIA,0.0)		AS TAXA_MEDIA, 

				-- INSERI 18/9/17
				ISNULL(Tx_CET_aa,0.0)		AS TX_CET_AA, 
				ISNULL(Tx_CET_am,0.0)		AS TX_CET_AM, 

				ISNULL(TICKET_MEDIO,0.0)	AS TICKET_MEDIO,
				ISNULL(VLR_CONTRATOS,0.0)	AS VLR_CONTRATOS,
				ISNULL(QTD_CONTRATOS,0.0)	AS QTD_CONTRATOS,
				ISNULL(CAPTACAO,0.0)		AS CAPTACAO, 
				ISNULL(PERDA,0.0)			AS PERDA,
				ISNULL(COMISSAO,0.0)		AS COMISSAO,
				ISNULL(SPREAD,0.0)			AS SPREAD, 
				ISNULL(CARTEIRA,0.0)		AS CARTEIRA,
				ISNULL(PRC_CARTEIRA,0.0)	AS PRC_CARTEIRA, 
				ISNULL(PRODUCAO_TRIM,0.0)	AS PRODUCAO_TRIM,
				ISNULL(PRC_PRODUCAO_TRIM,0.0) AS PRC_PRODUCAO_TRIM,
				ISNULL(VF_SAFRA,0.0)		 AS VF_SAFRA,
				ISNULL(VLR_PERDA,0.0)		AS VLR_PERDA,
				ISNULL(VLR_PDD,0.0)			AS VLR_PDD,
				ISNULL(VLR_DESPESA,0.0)		AS VLR_DESPESA,
				ordem_linha
			FROM	SPREAD_RPT (NOLOCK)
			WHERE	DT_FECHA = @DATA_REF 
				AND RPT = @RPT
				AND RIGHT(DESCR_VEIC,3) = @CodAGENTE 
				-- ALTERACAO 28/10/16	ACESSO AGENTES			******************
				AND (substring(descr_veic,CHARINDEX(' ',descr_veic,len(descr_veic)-3)+1,len(descr_veic)) = rtrim(@CodAGENTE) OR rtrim(@CodAGENTE) = '99')

--OR RIGHT(DESCR_VEIC,2)=@COD
			ORDER BY ORDEM_LINHA ASC, descr_veic
		END
END




END
GO
