
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
go


/*
 EXEC [SPR_PRODUCAO_INCLUIR_CONTRATO] '801012338'

select * from SPREAD_HISTORICO (nolock)  where DT_FECHA BETWEEN  '20151001'  and '20151031' and num_ope='801012338'
select OPCODORG3,OPCODORG4,OPCODCLI,* FROM CDCSANTANAMicroCredito..coper O (NOLOCK) where opnroper ='801012338'

*/


-- PROC PRODUCAO SPREAD INCLUIR UM CONTRATO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SPR_PRODUCAO_INCLUIR_CONTRATO' AND type = 'P')
   DROP PROCEDURE [dbo].[SPR_PRODUCAO_INCLUIR_CONTRATO] 
GO

-- MENSAL
-- ***************************************
CREATE Procedure [dbo].[SPR_PRODUCAO_INCLUIR_CONTRATO] 
 (@CONTRATO VARCHAR(20) )	AS  

BEGIN
-- SELECT OPDTBASE FROM CDCSANTANAMicroCredito..COPER O (NOLOCK) WHERE OPNROPER = '801012338'
DECLARE @DTREF1	AS	SMALLDATETIME
--SET		@DTREF1 =	(
SELECT @DTREF1 = OPDTBASE FROM CDCSANTANAMicroCredito..COPER O (NOLOCK) WHERE OPNROPER =@CONTRATO

DECLARE @DTREF  AS  SMALLDATETIME
SET		@DTREF =	@DTREF1

DECLARE @DTINI  AS SMALLDATETIME
DECLARE @DTFIM  AS SMALLDATETIME
DECLARE @DTM1   AS SMALLDATETIME

SET @DTINI = CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'

SET @DTM1 = DATEADD(M,2,@DTINI)
SET @DTM1 = DATEADD(DD,-1,@DTM1)

SET @DTM1 = DATEADD(M,2,@DTINI)
SET @DTM1 = DATEADD(DD,-1,@DTM1)


-- P1
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES   TABELA AUXILIAR
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-05-29'
-- SELECT * FROM RATING_PROJETADO WHERE NUM_OPE='89313224'
-- ******************	
TRUNCATE TABLE	RATING_PROJETADO 
INSERT	RATING_PROJETADO 
		(NUM_OPE,DT_BASE,
		NVL_RISCO,SLD_INSCRITO, -- VLR OPERADO
		VLR_PRINC,  -- VLR PARCELA
		VL_JUROS,	-- COD LOJA
		TX_RAP,  -- TX CONTRATO

		--CODOPER,
		AGENTE,  -- COD OPERADOR, COD AGENTE
		ATRASO,  -- COD OPERADOR, 
		parc,  -- SIT
		DT_FECHA, 
		ADECORRER, -- PLANO EM MESES
		PLANO,   -- PRAZO EM DIAS

		CODCLI,
		CODPROD,
		COBRADORA,   -- COM O COD MODALIDADE
		RRF_JR,  -- RENDA DO CLIENTE
		VLR_FV	 )   -- RETORNO
		-- OPVLRFIN VLR OPER
SELECT	OPNROPER, OPDTBASE,
		 'AA', OPVLROPCZ, -- VLR OPERADO
		OPVLRPARC,   -- VLR PARCELA NO VLR_PRINC
		OPCODORG4,   -- COD LOJA EM VL_JUROS
		OPTXJRCL, -- OPTXNET, OPSPREAD  EM TX_RATP
		
		OPCODORG3,	-- OPERADOR DEPOIS TRANSF AGENTE
		OPCODORG3   -- OPERADOR NO ATRASO
		, '' -- SITUACAO DA LOJA NO CAMPO PARC
		, @DTREF
		, OPQTDDPARC -- PLANO EM MESES
		, DATEDIFF(DD,OPDTBASE,OPDTVCTO)  -- PRAZO EM DIAS
		--OPQTDDPARC -- PLANO
		
		, OPCODCLI, OPCODPROD  -- PRODUTO
		, OPCODOP  -- MODALIDADE NO COBRADORA
		,0.0  --RENDA
		, OPDESPESA4 -- RETORNO
		
-- SELECT DATEDIFF(DD,OPDTBASE,OPDTVCTO),* 
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	-- CONTRATO SELECIONADO
			OPNROPER = @CONTRATO
		--	CONVERT(VARCHAR(8),OPDTBASE,112) = @DTREF
		--   LISTA COM MODALIDADES DO PRODUTO VEIC
		AND (OPCODOP IN (SELECT	M.COD_MODA
						FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
							AND T.COD_PROD = 'V' )
		OR	OPCODOP IN (751, 752 ) ) -- RENEG

		-- COD DO AGENTE ********************	
		UPDATE	RATING_PROJETADO
		SET		AGENTE		= ISNULL(OP.O3CODORGA13,'') -- ISNULL(A.COD_AGENTE,'')
		FROM	CDCSANTANAMicroCredito..TORG3 OP (NOLOCK) 
		WHERE	AGENTE = O3CODORG  -- OPERADOR
		-- OPERADOR AGENTE= OPCODORG3
-- SELECT * FROM RATING_PROJETADO (NOLOCK)
--  select O3CODORGA13,* FROM CDCSANTANAMicroCredito..TORG3 O (NOLOCK) where O3CODORG ='001421'
		

		UPDATE	RATING_PROJETADO 		SET		AGENTE	='' WHERE AGENTE IS NULL


		-- RATING DO HISTORICO ********************
		UPDATE	RATING_PROJETADO
		SET		NVL_RISCO		= ISNULL(OP.NVL_RISCO,'') -- RETORNO
		FROM	RATING_HISTORICO OP (NOLOCK) 
		WHERE	RATING_PROJETADO.NUM_OPE = OP.NUM_OPE  -- OPERADOR

		-- RATING DO HISTORICO ********************
		UPDATE		RATING_PROJETADO
		SET		Nom_cli = ISNULL(ABANOMOD,'S/INF')  -- com Ano Modelo
		FROM	CDCSANTANAMicroCredito..CBFIN B (NOLOCK)
		WHERE	NUM_OPE= B.ABNROPER
			AND B.ABCNTRL = (SELECT		MAX(BX.ABCNTRL) 
								FROM	CDCSANTANAMicroCredito..CBFIN BX (NOLOCK) 
								WHERE	BX.ABNROPER = B.ABNROPER )
			AND B.ABNRGAR = '01'



UPDATE	RATING_PROJETADO 
	SET DT_VCTO1P = PADTLIQ,  -- USAR PARA PAGTO
		-- ATRASO 
		ATRASO = CASE WHEN  PADTLIQ IS NULL THEN --DATEDIFF(DD,PADTVCTO,'20140430') ELSE 0 END
							DATEDIFF(DD,PADTVCTO,@DTM1) ELSE 0 END
	FROM	RATING_PROJETADO O (NOLOCK),
			CDCSANTANAMicroCredito..CPARC P (NOLOCK)
	WHERE	O.NUM_OPE =P.PANROPER
		AND P.PANRPARC=1		-- PARCELA 1 *********************
		AND P.PACNTRL = (SELECT MAX(P1.PACNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
							WHERE P1.PANROPER= P.PANROPER AND P1.PANRPARC = P.PANRPARC)

-- ZERA OS DADOS PARA PROJETAR
UPDATE	RATING_PROJETADO
SET		DT_FECHA=@DTREF


-- ARMAZENAR O HISTORICO
DELETE		SPREAD_HISTORICO 
	WHERE	DT_FECHA=@DTREF AND NUM_OPE = @CONTRATO

INSERT SPREAD_HISTORICO 
			(DT_FECHA	,
			NUM_OPE	,
			DT_BASE	,
			VLR_OP	,
			VLR_PARC	,

			PRAZO	,--	int,
			TAXA	,--	float,
			RETORNO	,--	FLOAT,
			TAXA_SEM_RET,--	float,

			ATRASO	 ,--	int,
			dtVencParc,--	smalldatetime,
			DT_PAGTO,--	smalldatetime,
			RENEGOCIADO,--	INT,  -- 0 OU 1
			RATING,--	varchar(2),

			CODCLI,--	varchar(15),
			CODPROD,--	smallint,
			CODMODA,	-- MODALIDADE
			AGENTE,--		varchar(6),
			VEICULO,--		varchar(20)
			ANO_MODELO,--	VARCHAR(20),
			RENDA, --		FLOAT,
			--FX_RENDA--	INT
			--CODOPER VARCHAR(20), CODLOJA VARCHAR(20), TX_X_VLR FLOAT, PRZ_X_VLR FLOAT		
			CODOPER , --VARCHAR(20), 
			CODLOJA ,
			PLANO)
	SELECT	dt_fecha,num_ope,
			DT_BASE, 
			SLD_INSCRITO,
			VLR_PRINC,

			PLANO,		-- PRAZO EM DIAS
			TX_RAP,
			VLR_FV,  -- RETORNO
			0.0,

			ATRASO,
			dtVencParc,
			DT_VCTO1P,  -- USAR PARA PAGTO
			CASE WHEN RIGHT(num_ope,1) IN ('A','B') THEN 1 ELSE 0 END, -- RENEGOCIADO
			'',  -- RATING


			CODCLI,
			CODPROD ,
			COBRADORA, -- CONTEM A MODALIDADE
			AGENTE,
			'',
			NOM_CLI, --ANO_MODELO,--	VARCHAR(20),
			RRF_JR, --	CONTEM RENDA
			--FX_RENDA--	INT
			Atraso,		-- COM COD OPERADOR
			VL_JUROS	--COD LOJA
			, ADECORRER -- PLANO EM MESES
 FROM		RATING_PROJETADO		(NOLOCK)
 WHERE		RATING_PROJETADO.NUM_OPE = @CONTRATO		-- SOH O CONTRATO SELECIONADO

		--WHERE DT_VCTO1P IS NULL OR DT_VCTO1P> @DTM1

-- ACERTA OPERADOR *********************************************************
-- DECLARE @DTREF DATETIME SET @DTREF='20151030' DECLARE @CONTRATO VARCHAR(20) SET @CONTRATO = '801012338'
UPDATE		SPREAD_HISTORICO 
	SET 	CODOPER=OPCODORG3 -- COD OPERADOR
	FROM	(SELECT *	FROM	CDCSANTANAMicroCredito..COPER  (NOLOCK)
						--		SOH O CONTRATO SELECIONADO
						WHERE	OPNROPER = @CONTRATO) AS O
	WHERE	DT_FECHA=@DTREF
		AND SPREAD_HISTORICO.NUM_OPE =O.OPNROPER


-- ACERTA RENDA ********************************************************* ACRESCENTA OUTRAS RENDAS
-- select * from SPREAD_HISTORICO (nolock)  where DT_FECHA BETWEEN  '20151001'  and '20151031' and num_ope='801012338'
-- select * FROM 	CDCSANTANAMicroCredito..CCLIE C (NOLOCK) WHERE CLCODCLI='32830585801'

-- DECLARE @DTREF DATETIME SET @DTREF='20151030' DECLARE @CONTRATO VARCHAR(20) SET @CONTRATO = '801012338'
UPDATE		SPREAD_HISTORICO 
	SET 	RENDA	=	ISNULL(C.CLRENDA,0.0)
	FROM 	CDCSANTANAMicroCredito..CCLIE C (NOLOCK)
	WHERE	DT_FECHA=	@DTREF
		AND SPREAD_HISTORICO.NUM_OPE =  @CONTRATO
		AND SPREAD_HISTORICO.CODCLI  =  C.CLCODCLI
-- RENDA OUTRAS
UPDATE		SPREAD_HISTORICO 
	SET 	RENDA	=	ISNULL(RENDA,0.0) + ISNULL(clOutrenda,0.0)
	FROM 	PROPWEBSMC..CCLIP C (NOLOCK)
	WHERE	DT_FECHA=	@DTREF
		AND SPREAD_HISTORICO.NUM_OPE = @CONTRATO		-- SOH O CONTRATO SELECIONADO
		AND SPREAD_HISTORICO.CODCLI  =	C.CLCODCLI


-- RENEGOCIADOS , INCLUIR CARTEIRA 75 ****************************************
UPDATE		SPREAD_HISTORICO 
	SET 	VEICULO='RENEGOCIACAO',
			RENEGOCIADO=1
	FROM	CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	SPREAD_HISTORICO.DT_FECHA= @DTREF
		AND SPREAD_HISTORICO.NUM_OPE = @CONTRATO		-- SOH O CONTRATO SELECIONADO
		AND SPREAD_HISTORICO.CODMODA = M.TOCODOP
		AND M.TOCODCART = 75		-- CARTEIRA DE RENEGOCIACAO	 75 	


-- PRAZO EM DIAS, PLANO EM MESES
-- FAIXA DE PRAZO ****************************************
UPDATE	 SPREAD_HISTORICO 
SET		 FX_PRAZO=  (SELECT DESCR FROM FX_PLANO P (NOLOCK)
				WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
									WHERE	P1.DT_DE <=   @DTREF)
				AND SPREAD_HISTORICO.PLANO BETWEEN P.DE AND P.ATE)
	WHERE	DT_FECHA=@DTREF
		AND SPREAD_HISTORICO.NUM_OPE = @CONTRATO		-- SOH O CONTRATO SELECIONADO




-- FAIXA DE RENDA ****************************************
-- SELECT DT_DE,VLR_SM FROM TSM 
UPDATE		SPREAD_HISTORICO 
	SET 	FX_RENDA= CASE	WHEN RENDA/S.VLR_SM <= 1.0  THEN '1- Até 1 SM'
							WHEN RENDA/S.VLR_SM > 1.0 AND RENDA/S.VLR_SM <= 2.0 THEN '2- De 1 a 2 SM'
							WHEN RENDA/S.VLR_SM > 2.0 AND RENDA/S.VLR_SM <= 3.0 THEN '3- De 2 a 3 SM'
							WHEN RENDA/S.VLR_SM > 3.0 AND RENDA/S.VLR_SM <= 5.0 THEN '4- De 3 a 5 SM'
							WHEN RENDA/S.VLR_SM > 5.0 AND RENDA/S.VLR_SM <= 10.0 THEN '5- De 5 a 10 SM'
							WHEN RENDA/S.VLR_SM > 10.0 AND RENDA/S.VLR_SM <= 20.0 THEN '6- De 10 a 20 SM'
							WHEN RENDA/S.VLR_SM > 20.0							 THEN '7- Mais de 20 SM'
					  END	
			--RENEGOCIADO=0
	FROM	(SELECT S1.DT_DE,VLR_SM FROM TSM S1 (NOLOCK) WHERE S1.DT_DE = (SELECT MAX(DT_DE) FROM TSM S2 (NOLOCK)
				WHERE S2.DT_DE <= @DTREF ) ) AS S
	WHERE	DT_FECHA=@DTREF
		AND SPREAD_HISTORICO.NUM_OPE = @CONTRATO		-- SOH O CONTRATO SELECIONADO


-- TIPO DE VEICULO = PRODUTO
-- DECLARE @DTREF  SMALLDATETIME  SET @DTREF = '20140131'
-- alter table COMERCIAL_PRODUCAO alter column veiculo varchar(40)
-- SP_HELP SPREAD_HISTORICO
UPDATE	SPREAD_HISTORICO
SET		VEICULO = CASE	WHEN DESCR_TIPO= 'Automatico' THEN 'LEVES'
						--WHEN DESCR_TIPO= 'Refinanciamento Utilitarios'	THEN 'Refinanciamento'
						ELSE DESCR_TIPO END
FROM	Ttipo_prod		T (NOLOCK), 
		TModa_tipo_prod M (NOLOCK)  
WHERE	DT_FECHA		 = @DTREF
	AND SPREAD_HISTORICO.NUM_OPE = @CONTRATO		-- SOH O CONTRATO SELECIONADO
	AND	M.COD_PROD		 = 'V'		-- VEICULOS
	AND M.COD_PROD		 = T.COD_PROD 
	AND T.COD_MODALIDADE = M.COD_MODALIDADE 
	AND SPREAD_HISTORICO.CODMODA = M.COD_MODA






-- ajusta taxa
UPDATE SPREAD_HISTORICO
SET	TAXA =( (POWER(((TAXA/100.0)+1.0),(1.0/12.0))-1.0)*100.0)
	WHERE	DT_FECHA = @DTREF
		AND SPREAD_HISTORICO.NUM_OPE = @CONTRATO		-- SOH O CONTRATO SELECIONADO

-- SELECT TAXA_SEM_RET,TAXA,* FROM SPREAD_HISTORICO WHERE DT_FECHA='20141231' and retorno=0.0
-- ADECORRER, -- PLANO EM MESES
UPDATE SPREAD_HISTORICO
SET	TAXA_SEM_RET = dbo.Rate(PLANO, vlr_parc,(VLR_OP + RETORNO)) -- EM % *100.0
	WHERE	DT_FECHA = @DTREF
		AND SPREAD_HISTORICO.NUM_OPE = @CONTRATO		-- SOH O CONTRATO SELECIONADO

UPDATE SPREAD_HISTORICO   -- QUANDO O RETORNO FOR 0, USAR A TAXA DO FUNCAO
SET	TAXA_SEM_RET = TAXA -- EM % *100.0
	WHERE	DT_FECHA = @DTREF
		AND SPREAD_HISTORICO.NUM_OPE = @CONTRATO		-- SOH O CONTRATO SELECIONADO
		AND RETORNO  = 0.0

--ALTER TABLE  SPREAD_HISTORICO ADD CODOPER VARCHAR(20), CODLOJA VARCHAR(20), TX_X_VLR FLOAT, PRZ_X_VLR FLOAT
UPDATE	SPREAD_HISTORICO
SET		TX_X_VLR = 	TAXA_SEM_RET * (VLR_OP + RETORNO)  -- AUXILIAR NO CALCULO DA MEDIA PONDERADA
	,	PRZ_X_VLR = PRAZO * VLR_OP  
	WHERE	DT_FECHA = @DTREF
		AND SPREAD_HISTORICO.NUM_OPE = @CONTRATO		-- SOH O CONTRATO SELECIONADO

-- ACERTA IDADE  *********************************************************
UPDATE		SPREAD_HISTORICO 
	SET 	IDADE = (DATEDIFF(DD, CLDtNASC, @DTREF)/365.0)  -- IDADE EM ANOS    FLOAT USAR O NUMERO CALCULADO
	FROM	CDCSANTANAMicroCredito..CCLIE O (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		AND SPREAD_HISTORICO.NUM_OPE = @CONTRATO		-- SOH O CONTRATO SELECIONADO
		AND SPREAD_HISTORICO.CODCLI =O.CLCODCLI


-- ACERTA FX IDADE  *********************************************************
UPDATE		SPREAD_HISTORICO 
	SET 	FX_IDADE=CASE	when len(rtrim(codcli))>=13	then '  PJ'
							WHEN IDADE <= 20.0 THEN ' Até 20 anos'  -- antes 23
							WHEN IDADE > 20.0 AND IDADE <= 29.0 THEN '21 a 29 anos'
							WHEN IDADE > 29.0 AND IDADE <= 39.0 THEN '30 a 39 anos'
							WHEN IDADE > 39.0 AND IDADE <= 49.0 THEN '40 a 49 anos'
							WHEN IDADE > 49.0 AND IDADE <= 59.0 THEN '50 a 59 anos'
							WHEN IDADE > 59.0 AND IDADE <= 69.0 THEN '60 a 69 anos'
							WHEN IDADE > 69.0 AND IDADE <= 81.0 THEN '70 a 79 anos'
							END
	WHERE	DT_FECHA=@DTREF
		AND SPREAD_HISTORICO.NUM_OPE = @CONTRATO		-- SOH O CONTRATO SELECIONADO
	

-- ************************************ FAIXA DE ANO
-- DECLARE @DTREF SMALLDATETIME SET @DTREF = '20140630'
	UPDATE	SPREAD_HISTORICO
	SET		FX_ANO = FX_ANO.DESCR
	FROM	SPREAD_HISTORICO (NOLOCK) LEFT JOIN 
		 (SELECT * FROM FX_ANO (NOLOCK) WHERE DT_DE = (SELECT	MAX(DT_DE) 
														FROM	FX_ANO A1 (NOLOCK)
														WHERE	A1.DT_DE <=@DTREF)   )  AS FX_ANO
			ON ANO_MODELO BETWEEN FX_ANO.DE AND FX_ANO.ATE
	WHERE	DT_FECHA = @DTREF
		AND SPREAD_HISTORICO.NUM_OPE = @CONTRATO		-- SOH O CONTRATO SELECIONADO
	


-- NATUREZA DE OCUPACAO  ***********************************
-- select CLCODOCUP from PROPWEBSMC..cclip
	UPDATE	SPREAD_HISTORICO
	SET		OCUPACAO = 		CASE CLCODOCUP 
								  WHEN '01' THEN 'CLT' 
								  WHEN '02' THEN 'AUTONOMO' 
								  WHEN '03' THEN 'APOSENTADO' 
								  WHEN '04' THEN 'EMPRESARIO'
								  ELSE 'S/ INFO' 
								END 
	FROM 	PROPWEBSMC..cclip C (NOLOCK)
	WHERE	CODCLI = CLCODCLI 
		AND SPREAD_HISTORICO.NUM_OPE = @CONTRATO		-- SOH O CONTRATO SELECIONADO

END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
