
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

use SIG
go

/*

ALTER TABLE SPREAD_HISTORICO_safra ADD	 VF_ORIGINAL FLOAT
ALTER TABLE SPREAD_HISTORICO ALTER COLUMN VEICULO VARCHAR(50)
 EXEC [dbo].SPR_CALCULO_prod	'20150901' ,'20150930',9

-- TODOS VEICULOS
 EXEC [dbo].SPR_CALCULO_prod	'20141001' ,'2014-12-31',99
-- MOD VEIC RPT 10
SPR_CALCULO_safra '20141231','10', '1','99','DESCRICAO',  '20111001','20140930','60'
SELECT * FROM  SPREAD_RPT_LOJA (NOLOCK) WHERE DT_FECHA='2014-12-31' AND RPT =10

 EXEC [dbo].SPR_CALCULO_prod	'20140101' ,'2014-03-31'

*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SPR_CALCULO_prod' AND type = 'P')
   DROP PROCEDURE [dbo].[SPR_CALCULO_prod]
GO

-- de ate datas PERIODO DE PRODUCAO
CREATE Procedure [dbo].[SPR_CALCULO_prod] (@DT3M as datetime, @data_ref as datetime,@veiculo as int) AS
BEGIN


DECLARE @DTREF AS VARCHAR(8)
SET @DTREF = CONVERT(varchar(8),@data_ref,112)


-- VERIFICA SE TEM O REFIN UTILITARIOS  -- ******************* ALTE 22/1/16
DECLARE @REFIN_UTIL INT
SET		@REFIN_UTIL = ISNULL((SELECT		COUNT(*) FROM SPREAD_HISTORICO (NOLOCK) 
								WHERE	DT_FECHA  BETWEEN @DT3M AND @DTREF
									AND VEICULO ='Refinanciamento Utilitarios' ),0)
IF		@REFIN_UTIL = 0		-- NAO TEM PRODUCAO, INSERE FICTICIO
BEGIN
		INSERT SPREAD_HISTORICO
		SELECT @DTREF, '800000000', @DTREF,0.0,0.0,0,1,0.0,0.0, 0,null,
		null,0, '','', 9,800, 97,'Refinanciamento Utilitarios',0,0,'',
		--rat CODCLI	CODPROD	CODMODA	AGENTE	VEICULO	ANO_MODELO	RENDA	FX_RENDA	
		--FX_PRAZO	CODOPER	CODLOJA	TX_X_VLR	PRZ_X_VLR	PLANO	idade	fx_idade	fx_ANO	OCUPACAO
		'','','',0.0,0.0,0,0,'','','S/ INFO'
		,'' -- TABELA
		,0.0, 0.0			 -- PDD E DESPESA INCLUIDOS 13/6/17
		,0.0, 0.0 ,0.0, 0.0  -- INCLUIDOS 18/9/17  Tx_CET_aa , Tx_CET_am , TxCET_X_VLR_aa , TxCET_X_VLR_am 
END

-- VERIFICA SE TEM O REFIN UTILITARIOS  -- ******************* ALTE 22/1/16
DECLARE @REFIN_UTIL_esc INT
SET		@REFIN_UTIL_esc = ISNULL((SELECT		COUNT(*) FROM SPREAD_HISTORICO (NOLOCK) 
								WHERE	DT_FECHA  BETWEEN @DT3M AND @DTREF
									AND VEICULO ='Refinanciamento Utilitários Escolar' ),0)
IF		@REFIN_UTIL_esc = 0		-- NAO TEM PRODUCAO, INSERE FICTICIO
BEGIN
		INSERT SPREAD_HISTORICO
		SELECT @DTREF, '990000000', @DTREF,0.0,0.0,0,1,0.0,0.0, 0,null,
		null,0, '','', 9,801, 97,'Refinanciamento Utilitários Escolar',0,0,'',
		--rat CODCLI	CODPROD	CODMODA	AGENTE	VEICULO	ANO_MODELO	RENDA	FX_RENDA	
		--FX_PRAZO	CODOPER	CODLOJA	TX_X_VLR	PRZ_X_VLR	PLANO	idade	fx_idade	fx_ANO	OCUPACAO
		'','','',0.0,0.0,0,0,'','','S/ INFO'
		,'' -- TABELA
		,0.0, 0.0 -- PDD E DESPESA INCLUIDOS 13/6/17
		,0.0, 0.0 ,0.0, 0.0  -- INCLUIDOS 18/9/17  Tx_CET_aa , Tx_CET_am , TxCET_X_VLR_aa , TxCET_X_VLR_am 
END

-- FIM REFIN UTILITARIOS  ******************************

-- utilit escolar
-- VERIFICA SE TEM O ESCOLAR  -- ******************* ALTE 22/1/16
DECLARE @UTIL_esc INT
SET		@UTIL_esc = ISNULL((SELECT		COUNT(*) FROM SPREAD_HISTORICO (NOLOCK) 
								WHERE	DT_FECHA  BETWEEN @DT3M AND @DTREF
									AND LEFT(VEICULO,7) ='Escolar' ),0)
IF		@UTIL_esc = 0		-- NAO TEM PRODUCAO, INSERE FICTICIO
BEGIN
		INSERT SPREAD_HISTORICO
		SELECT @DTREF, '890000000', @DTREF,0.0,0.0,0,1,0.0,0.0, 0,null,
		null,0, '','', 9,555, 97,'Escolar (Utilitários)',0,0,'',
		--rat CODCLI	CODPROD	CODMODA	AGENTE	VEICULO	ANO_MODELO	RENDA	FX_RENDA	
		--FX_PRAZO	CODOPER	CODLOJA	TX_X_VLR	PRZ_X_VLR	PLANO	idade	fx_idade	fx_ANO	OCUPACAO
		'','','',0.0,0.0,0,0,'','','S/ INFO'
		,'' -- TABELA
		,0.0, 0.0 -- PDD E DESPESA INCLUIDOS 13/6/17
		,0.0, 0.0 ,0.0, 0.0  -- INCLUIDOS 18/9/17  Tx_CET_aa , Tx_CET_am , TxCET_X_VLR_aa , TxCET_X_VLR_am 
END

-- CAMINHAO 642
-- VERIFICA SE TEM O ESCOLAR  -- ******************* ALTE 22/1/16
DECLARE @CAM INT
SET		@CAM = ISNULL((SELECT		COUNT(*) FROM SPREAD_HISTORICO (NOLOCK) 
								WHERE	DT_FECHA  BETWEEN @DT3M AND @DTREF
									AND LEFT(VEICULO,6) ='Caminh' ),0)
IF		@CAM = 0		-- NAO TEM PRODUCAO, INSERE FICTICIO
BEGIN
		INSERT SPREAD_HISTORICO
		SELECT @DTREF, '700000000', @DTREF,0.0,0.0,0,1,0.0,0.0, 0,null,
		null,0, '','', 9,642, 97,'Caminhão',0,0,'',
		--rat CODCLI	CODPROD	CODMODA	AGENTE	VEICULO	ANO_MODELO	RENDA	FX_RENDA	
		--FX_PRAZO	CODOPER	CODLOJA	TX_X_VLR	PRZ_X_VLR	PLANO	idade	fx_idade	fx_ANO	OCUPACAO
		'','','',0.0,0.0,0,0,'','','S/ INFO'
		,'' -- TABELA
		,0.0, 0.0 -- PDD E DESPESA INCLUIDOS 13/6/17
		,0.0, 0.0 ,0.0, 0.0  -- INCLUIDOS 18/9/17  Tx_CET_aa , Tx_CET_am , TxCET_X_VLR_aa , TxCET_X_VLR_am 
END


-- VERIFICA SE TEM O VEICULOS PJ  -- ******************* INCLUIDO 24/2/17
-- DECLARE @REFIN_UTIL INT
SET		@REFIN_UTIL = ISNULL((SELECT		COUNT(*) FROM SPREAD_HISTORICO (NOLOCK) 
								WHERE	DT_FECHA  BETWEEN @DT3M AND @DTREF
									AND VEICULO ='Veículos PJ' ),0)
IF		@REFIN_UTIL = 0		-- NAO TEM PRODUCAO, INSERE FICTICIO  59 TIPO PROD, 613 MODALIDADE
BEGIN
		INSERT SPREAD_HISTORICO
/*
DT_FECHA,NUM_OPE,DT_BASE,VLR_OP,VLR_PARC,PRAZO,TAXA,RETORNO,TAXA_SEM_RET,ATRASO,dtVencParc,
DT_PAGTO,RENEGOCIADO,RATING,CODCLI,CODPROD,CODMODA,AGENTE,VEICULO,ANO_MODELO,
RENDA,FX_RENDA,FX_PRAZO,CODOPER,CODLOJA,TX_X_VLR,PRZ_X_VLR,PLANO,idade,fx_idade,fx_ANO,OCUPACAO,TABELA
*/
		SELECT @DTREF, '900000000', @DTREF,0.0,0.0,0,1,0.0,0.0, 0,null,
		null,0, '','', 9,613, 59,'Veículos PJ',0,0,'',
		--rat CODCLI	CODPROD	CODMODA	AGENTE	VEICULO	ANO_MODELO	RENDA	FX_RENDA	
		--FX_PRAZO	CODOPER	CODLOJA	TX_X_VLR	PRZ_X_VLR	PLANO	idade	fx_idade	fx_ANO	OCUPACAO
		'','','',0.0,0.0,0,0,'','','S/ INFO'
		,'' -- TABELA
		,0.0, 0.0 -- PDD E DESPESA INCLUIDOS 13/6/17
		,0.0, 0.0 ,0.0, 0.0  -- INCLUIDOS 18/9/17  Tx_CET_aa , Tx_CET_am , TxCET_X_VLR_aa , TxCET_X_VLR_am 
END

-- FIM veiculos pj  ******************************


-- APAGA CONTRATOS Q NAO FORAM INTEGRADOS, NAO ESTAO MAIS NA COPER
DELETE		SPREAD_HISTORICO
	WHERE	DT_FECHA  BETWEEN @DT3M AND @DTREF
		AND NUM_OPE NOT IN (SELECT	OPNROPER 
							FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
							WHERE	OPDTBASE BETWEEN @DT3M AND @DTREF )
		AND NUM_OPE NOT IN ( '700000000','800000000','890000000', '900000000', '990000000' )  -- refin utilitarios qdo nao tem producao

-- APAGA CONTRATOS Q NAO FORAM INTEGRADOS, NAO ESTAO MAIS NA COPER
/* removi 19/5/17
DELETE		SPREAD_HISTORICO
	WHERE	DT_FECHA  BETWEEN @DT3M AND @DTREF
		AND NUM_OPE NOT IN (SELECT	OPNROPER 
							FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
							WHERE	OPDTBASE BETWEEN @DT3M AND @DTREF )
		AND NUM_OPE NOT IN ( '900000000' ,'990000000')  -- refin utilitarios qdo nao tem producao
*/




-- REFAZ A CLASSIFICACAO DE VEICULOS ****************** OUT-15
UPDATE		SPREAD_HISTORICO
		SET	VEICULO = CASE	WHEN T.DESCR_TIPO='Automatico'					THEN 'LEVES'
							-- WHEN T.DESCR_TIPO='Refinanciamento Utilitarios' THEN 'Refinanciamento'
							ELSE T.DESCR_TIPO END
	FROM	Ttipo_prod T (NOLOCK) ,
			TModa_tipo_prod M (NOLOCK) 
	WHERE	SPREAD_HISTORICO.DT_FECHA  BETWEEN @DT3M AND @DTREF
		AND	T.COD_PROD	 = 'V'	--  PRODUTO VEICULO SEM RENEGOCIACAO
		AND T.COD_PROD	 = M.COD_PROD
		AND CODMODA		 = M.COD_MODA  -- BAIXO NIVEL MODALIDADE DA OPERACAO
		AND T.COD_MODALIDADE = M.COD_MODALIDADE	

-- APAGA PROCESSAMENTO ANTERIOR
delete		from SPREAD_RPT 
	WHERE	DT_FECHA = @DTREF
--		AND RPT=1
	
-- APAGA PROCESSAMENTO ANTERIOR
delete		from SPREAD_RPT_OPERADOR 
	WHERE	DT_FECHA = @DTREF

-- APAGA PROCESSAMENTO ANTERIOR
delete		from SPREAD_RPT_LOJA
	WHERE	DT_FECHA = @DTREF

-- DEPENDE DA DATA DE RELATORIO
-- ACERTA IDADE  *********************************************************
UPDATE		SPREAD_HISTORICO 
	SET 	IDADE = (DATEDIFF(DD, CLDtNASC, @DTREF)/365.0)  -- IDADE EM ANOS    FLOAT USAR O NUMERO CALCULADO
	FROM	CDCSANTANAMicroCredito..CCLIE O (NOLOCK)
	WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
		AND SPREAD_HISTORICO.CODCLI =O.CLCODCLI
-- ACERTA FX IDADE  *********************************************************
UPDATE		SPREAD_HISTORICO 
	SET 	FX_IDADE=CASE	when len(rtrim(codcli))>=13	then '  PJ'
							WHEN IDADE <= 20.0 THEN ' Até 20 anos'  -- antes 23
							WHEN IDADE > 20.0 AND IDADE <= 29.0 THEN '21 a 29 anos'
							WHEN IDADE > 29.0 AND IDADE <= 39.0 THEN '30 a 39 anos'
							WHEN IDADE > 39.0 AND IDADE <= 49.0 THEN '40 a 49 anos'
							WHEN IDADE > 49.0 AND IDADE <= 59.0 THEN '50 a 59 anos'
							WHEN IDADE > 59.0 AND IDADE <= 69.0 THEN '60 a 69 anos'
--							WHEN IDADE > 69.0 AND IDADE <= 89.0 THEN '70 a 79 anos'
							WHEN IDADE > 69.0					THEN '70 a 79 anos'
							END
	WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
-- FIM ACERTO IDADE E FX  *********************************************************


-- ************************************ FAIXA DE ANO	ACERTA FX CF RELATORIO
-- DECLARE @DTREF SMALLDATETIME SET @DTREF = '20140630'
-- ajuste FX_ANO NULL
	UPDATE	SPREAD_HISTORICO
	SET		ANO_MODELO = DATEPART(YYYY,@DTREF)
	WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
		AND ANO_MODELO IS NULL

/*	-- removi a pedido VIDAL 22/04/2015, voltei 23/4/2015 a pedido do Sr VIDAL */
-- REMOVI 10/2015 a pedido do Sr VIDAL 
-- ajuste FX_ANO --  ANO MENOR Q 1990
--	UPDATE	SPREAD_HISTORICO	SET		ANO_MODELO = NULL	WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF AND ANO_MODELO <= 1990

--  FX ANO CF TABELA
	UPDATE	SPREAD_HISTORICO
	SET		FX_ANO = ISNULL(FX_ANO.DESCR,'S/ INFO')
	FROM	SPREAD_HISTORICO (NOLOCK) LEFT JOIN 
		 (SELECT * FROM FX_ANO (NOLOCK) WHERE DT_DE = (SELECT	MAX(DT_DE) 
														FROM	FX_ANO A1 (NOLOCK)
														WHERE	A1.DT_DE <=@DTREF)   )  AS FX_ANO
			ON ANO_MODELO BETWEEN FX_ANO.DE AND FX_ANO.ATE
	WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF

	--		SEM INFO ALTERADO OUT-15	**********		TRATA NULL FX ANO
	UPDATE	SPREAD_HISTORICO
	SET		FX_ANO = 'S/ INFO'
	WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF	AND FX_ANO  IS NULL


-- FAIXA DE PRAZO ****************************************  CLASSIFICA CF O ORIGINAL
UPDATE	 SPREAD_HISTORICO 
SET		 FX_PRAZO=  (SELECT DESCR FROM FX_PLANO P (NOLOCK)
				WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
									WHERE	P1.DT_DE <=   @DTREF)
				AND SPREAD_HISTORICO.PLANO BETWEEN P.DE AND P.ATE)
	WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF


--		AGENTE RECLASSIFICA OS NOVOS ****************************** 30-OUT-2015
--		DECLARE @DTREF SMALLDATETIME SET @DTREF = '20150930' DECLARE @DT3M SMALLDATETIME SET @DT3M = '20150701'
	UPDATE	 SPREAD_HISTORICO 
	SET		 AGENTE=  (SELECT   O3CODORGA13 FROM CDCSANTANAMicroCredito..TORG3 O (NOLOCK)
						WHERE	O3CODORG = CODOPER )  -- OPERADOR
	WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
		AND AGENTE IN ('0','')


 -- PDD E DESPESA INCLUIDOS			*********************************	13/6/17
	UPDATE	 SPREAD_HISTORICO 
	SET		 RATING	 = R.NVL_RISCO,
			 VLR_PDD = R.VLR_PDD,
			 VLR_DESPESA = ISNULL(R.VLR_PDD,0.0)
	FROM	-- AJUSTE 12/6/17   DADOS DA PDD
			(SELECT *	FROM	RATING_HISTORICO R1 (NOLOCK)
				WHERE	R1.DT_FECHA = @DTREF AND  NVL_RISCO <> 'HH') AS R -- SOMENTE ATIVOS DO MES
	WHERE	SPREAD_HISTORICO.DT_FECHA BETWEEN @DT3M AND @DTREF
		AND	SPREAD_HISTORICO.NUM_OPE = R.NUM_OPE
	-- FECHAMENTO DO MES ANTERIOR	************** DIA 12/6/17
	DECLARE @DATA_ANT   AS DATETIME
	SET		@DATA_ANT	= CONVERT(VARCHAR(4),DATEPART(YYYY,@DTREF))+ RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MM,@DTREF))),2) + '01'
	--SELECT  @DATA_ANT
	SET		@DATA_ANT	= DATEADD(DD,-1,@DATA_ANT)  -- FIM DO MES ANTERIOR
	--SELECT  @DATA_ANT
	-- MES ANTERIOR
	UPDATE	 SPREAD_HISTORICO 
	SET		 VLR_DESPESA = ISNULL(SPREAD_HISTORICO.VLR_PDD,0.0) - ISNULL(R.VLR_PDD,0.0)
	FROM	-- AJUSTE 12/6/17   DADOS DA PDD
			(SELECT *	FROM	RATING_HISTORICO (NOLOCK)
				WHERE	DT_FECHA = @DATA_ANT) AS R				-- MES ANT OS ATIVOS DO MES
	WHERE	SPREAD_HISTORICO.DT_FECHA BETWEEN @DT3M AND @DTREF
		AND	SPREAD_HISTORICO.NUM_OPE = R.NUM_OPE
--  ***************

-- CARREGA TABELA RESULTADO  
-- CARREGA DADOS ATUAIS
-- INSERE LINHAS ZERADAS E DEPOIS UPDATE

-- 1A LINHA
-- DECLARE @DTREF DATETIME SET @DTREF = '20170228' DECLARE @data_ref DATETIME SET @data_ref = '20170228' DECLARE @DT3M DATETIME SET @DT3M ='20170101'
INSERT	SPREAD_RPT
	(	
		DT_FECHA	,--	smalldatetime,
		RPT			,--	INT,
		VEICULOS	,--	INT,
		CONTRATOS	,--	INT,

		ORDEM_LINHA	,--	int,
		FORMATO		,--varchar(6),
		DESCR_VEIC	,--	varchar(50),
		DESCRICAO	,--	varchar(50),

		PRAZO_MEDIO	,--	float,
		TAXA_MEDIA		,--float,
		TICKET_MEDIO	,--	float,
		VLR_CONTRATOS	,--	float,
		QTD_CONTRATOS	,--	INT,

		CAPTACAO		,--	float,
		PERDA		,--float,
		COMISSAO	,--	float,
		SPREAD		,--float,
		CARTEIRA	,--	float,
		PRC_CARTEIRA	,--	float,
		PRODUCAO_TRIM	,--	float,
		PRC_PRODUCAO_TRIM	--	float
		, VLR_PDD   , VLR_DESPESA	-- PDD E DESPESA INCLUIDOS 13/6/17
		, Tx_CET_aa , Tx_CET_am		-- Tx CETs       INCLUIDOS 18/9/17
		)
-- SP_HELP SPREAD_RPT
-- SP_HELP SPREAD_HISTORICO

SELECT	DISTINCT 
		@data_ref,
		1 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		99,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		'TOTAL' ,		-- DESCRICAO VEIC
		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN SUM(VLR_OP ) =0.0						THEN 0.0 -- INCLUI 18/9/17
			 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0	END,     -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN SUM(VLR_OP + RETORNO) =0.0			THEN 0.0 -- INCLUI 18/9/17
			 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO)	END,	 -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,SUM(VLR_PDD), SUM(VLR_DESPESA)								-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0				THEN 0.0 -- Tx CET 	 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)	END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0				THEN 0.0
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS

--  SELECT AVG(PRAZO),COUNT(*) FROM SPREAD_HISTORICO S (NOLOCK) WHERE	DT_FECHA BETWEEN '20140101' AND '20140331'
-- ALTER TABLE  SPREAD_HISTORICO ADD CODOPER VARCHAR(20), CODLOJA VARCHAR(20), TX_X_VLR FLOAT, PRZ_X_VLR FLOAT


-- *************************************** RPT 1
-- OUTRAS LINHAS TTLS
-- SELECT * FROM 	SPREAD_RPT
-- DECLARE @DTREF DATETIME SET @DTREF = '20170228' DECLARE @data_ref DATETIME SET @data_ref = '20170228' DECLARE @DT3M DATETIME SET @DT3M ='20170101'
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		1 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		VEICULO ,		-- DESCRICAO VEIC
		'TOTAL' ,		-- DESCRICAO 

		-- MEDIA PONDERADA 
		CASE WHEN SUM(VLR_OP) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
		--COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		CASE WHEN SUM(VLR_OP)=0.0 THEN  0 ELSE 	 COUNT(*) END	,	 --QTD_CONTRATOS	,--	INT,


		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- TRIM
		,0.0, 0.0, 0.0, 0.0 , 0.0 , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA) -- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0				THEN 0.0 -- Tx CET 	 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)	END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0				THEN 0.0
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END
FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	--AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS
GROUP BY VEICULO

-- *************************************** RPT 101 -- VEICULO ORIGINAL, RENEGOCIACAO DISTRIBUIDA CART
-- OUTRAS LINHAS TTLS
-- SELECT * FROM 	SPREAD_RPT
-- DECLARE @DTREF DATETIME SET @DTREF = '20170228' DECLARE @data_ref DATETIME SET @data_ref = '20170228' DECLARE @DT3M DATETIME SET @DT3M ='20170101'
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		101 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		VEICULO ,		-- DESCRICAO VEIC
		'TOTAL' ,		-- DESCRICAO 

		-- MEDIA PONDERADA 
		CASE WHEN SUM(VLR_OP) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- TRIM
		,0.0, 0.0, 0.0, 0.0 , 0.0 , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA) -- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0		THEN 0.0   -- Tx CET INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)	END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0		THEN 0.0   -- Tx CET INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END
FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	--AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS
GROUP BY VEICULO --_ORIGINAL
-- 101 TTL
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		101 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		200,  -- LINHA = SAFRA =  TOTAL DA CARTEIRA
		'',	-- FORMATO
		'TOTAL' ,		-- DESCRICAO VEIC
		'TOTAL' ,		-- DESCRICAO 

		-- MEDIA PONDERADA 
		CASE WHEN SUM(VLR_OP) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- TRIM
		,0.0, 0.0, 0.0, 0.0 , 0.0 , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END
FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0

-- ************************************* rpt 2   FX ANO


-- OUTRAS LINHAS TTLS
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		2 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		FX.DESCR,	-- FX_ANO,

		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN SUM(ISNULL(VLR_OP,0.0)) = 0.0 THEN 0.0 ELSE
				  SUM(ISNULL(PRZ_X_VLR,0.0)) / SUM(ISNULL(VLR_OP,0.0)) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN SUM(ISNULL(VLR_OP,0.0) + ISNULL(RETORNO,0.0)) = 0.0 THEN 0.0 ELSE
				  SUM(ISNULL(TX_X_VLR ,0.0)) / SUM(ISNULL(VLR_OP,0.0) + ISNULL(RETORNO,0.0)) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(ISNULL(VLR_OP,0.0))			, -- TICKET_MEDIO	,--	float,
		SUM(ISNULL(VLR_OP,0.0))			, -- VLR_CONTRATOS	,--	float,
--		ISNULL(COUNT(*),0)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0   , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

FROM	(SELECT * FROM FX_ANO (NOLOCK) WHERE DT_DE = (SELECT	MAX(DT_DE) 
														FROM	FX_ANO A1 (NOLOCK)
														WHERE	A1.DT_DE <=@data_ref)  )  AS FX
LEFT JOIN	(SELECT * FROM SPREAD_HISTORICO S1 (NOLOCK)
				WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
					-- PRODUCAO SEM RENEGOCIADOS
					AND 1=CASE   WHEN @veiculo =99 AND RENEGOCIADO =0						 THEN 1
								 WHEN @veiculo =1 AND VEICULO = 'LEVES' AND RENEGOCIADO =0   THEN 1
								 WHEN @veiculo =2 AND VEICULO = 'MOTOS' AND RENEGOCIADO =0   THEN 1
								 WHEN @veiculo =3 AND VEICULO = 'UTILITARIO'	AND RENEGOCIADO =0  THEN 1
								 WHEN @veiculo =4 AND VEICULO IN ( 'REFINANCIAMENTO','Refinanciamento') AND RENEGOCIADO =0  THEN 1
									-- excecao refin estah com renegociado=1
								 WHEN @veiculo =5 AND VEICULO = 'RENEGOCIACAO'  AND RENEGOCIADO =0   THEN 1
								 ELSE 0 END
				) AS S
				ON FX.DESCR =  S.fx_ano
GROUP BY  FX.DESCR

-- ALTERADO OUT-15  *********** INCLUIR S/ INFO  
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		2 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		'S/ INFO',	-- FX_ANO,
		'TOTAL' ,		-- DESCRICAO 
		0.0	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		0.0	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,
		0.0		, -- TICKET_MEDIO	,--	float,
		0.0			, -- VLR_CONTRATOS	,--	float,
		0	,	 --QTD_CONTRATOS	,--	INT,
		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0   , 0.0
		,0.0, 0.0			-- PDD E DESPESA INCLUIDOS 13/6/17
		,0.0, 0.0			-- CETs AA AM    INCLUIDOS 18/9/17
WHERE	NOT EXISTS (SELECT	* FROM	SPREAD_RPT (NOLOCK) 
						WHERE DT_FECHA = @data_ref AND RPT=2 AND DESCR_VEIC='S/ INFO' )


-- geral do ano 
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		2 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		'GERAL ' , --fx_ano , --VEICULO ,		-- DESCRICAO VEIC
		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN SUM(VLR_OP) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA) -- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END
FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS
	AND 1=CASE   WHEN @veiculo =99 THEN 1
				 WHEN @veiculo =1 AND VEICULO = 'LEVES' THEN 1
				 WHEN @veiculo =2 AND VEICULO = 'MOTOS' THEN 1
				 WHEN @veiculo =3 AND VEICULO = 'UTILITARIO' THEN 1
				 WHEN @veiculo =4 AND VEICULO = 'REFINANCIAMENTO' THEN 1
				 WHEN @veiculo =5 AND VEICULO = 'RENEGOCIACAO' THEN 1
				 ELSE 0 END


-- ************************************* rpt 102   FX ANO  REDISTRIBUICAO DOS RENEGOCIADOS


-- OUTRAS LINHAS TTLS	******************* FX ANO POR VEICULO
-- SP_HELP SPREAD_RPT
-- SP_HELP SPREAD_RPT		*************** INCLUIDO EM SET-15
IF @veiculo <> 99  
BEGIN
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref, -- DT_FECHA
		102 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE  ORDEM_LINHA
		'',	-- FORMATO
		FX.DESCR,	-- DESCR_VEIC  FX ANO P/ ESTE RPT
		--VEICULO ,		-- DESCRICAO 
			CASE WHEN @veiculo =99 THEN 'TODOS'
				 WHEN @veiculo IN (1,6) THEN  'LEVES'
				 WHEN @veiculo IN (2,7) THEN  'MOTOS' 
				 WHEN @veiculo IN (3,8) THEN  'UTILITARIO' 
				 WHEN @veiculo =4 THEN  'REFINANCIAMENTO' 
				 WHEN @veiculo =5 THEN  'RENEGOCIACAO' 
				 END,


		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN SUM(VLR_OP) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		ISNULL( AVG(VLR_OP) ,0.0)			, -- TICKET_MEDIO	,--	float,
		ISNULL( SUM(VLR_OP) ,0.0)			, -- VLR_CONTRATOS	,--	float,
--		ISNULL( COUNT(*),0.0)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0   , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA) -- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

FROM	(SELECT * FROM FX_ANO (NOLOCK) WHERE DT_DE = (SELECT	MAX(DT_DE) 
														FROM	FX_ANO A1 (NOLOCK)
														WHERE	A1.DT_DE <=@data_ref)  )  AS FX
LEFT JOIN	(SELECT * FROM SPREAD_HISTORICO S1 (NOLOCK)
				WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
					--AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS
					AND 1=CASE   WHEN @veiculo =99 THEN 1   -- TODOS SOMENTE O TTL DO RELATORIO
								 WHEN @veiculo IN (1,6) AND VEICULO = 'LEVES'			THEN 1
								 WHEN @veiculo IN (2,7) AND VEICULO = 'MOTOS'			THEN 1
								 WHEN @veiculo IN (3,8) AND VEICULO = 'UTILITARIO'	THEN 1
								 WHEN @veiculo =4 AND VEICULO = 'REFINANCIAMENTO'	THEN 1
								 WHEN @veiculo =5 AND VEICULO = 'RENEGOCIACAO'	    THEN 1
								 ELSE 0 END
				) AS S
				ON FX.DESCR =  S.fx_ano
GROUP BY VEICULO,FX.DESCR --VEICULO_ORIGINAL
END

-- OUTRAS LINHAS TTLS	******************* FX ANO POR VEICULO  TOTAL COM RENEG DISTRIB
-- SP_HELP SPREAD_RPT		*************** INCLUIDO EM SET-15
IF @veiculo =99  
BEGIN
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref, -- DT_FECHA
		102 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE  ORDEM_LINHA
		'',	-- FORMATO
		FX.DESCR,	-- DESCR_VEIC  FX ANO P/ ESTE RPT
		--VEICULO ,		-- DESCRICAO 
		 'TODOS',

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		ISNULL( AVG(VLR_OP) ,0.0)			, -- TICKET_MEDIO	,--	float,
		ISNULL( SUM(VLR_OP) ,0.0)			, -- VLR_CONTRATOS	,--	float,
--		ISNULL( COUNT(*),0.0)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN ISNULL(VLR_OP,0.0)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0   , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

FROM	(SELECT * FROM FX_ANO (NOLOCK) WHERE DT_DE = (SELECT	MAX(DT_DE) 
														FROM	FX_ANO A1 (NOLOCK)
														WHERE	A1.DT_DE <=@data_ref)  )  AS FX
LEFT JOIN	(SELECT * FROM SPREAD_HISTORICO S1 (NOLOCK)
				WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
					--AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS
					AND 1=CASE   WHEN @veiculo =99 THEN 1   --  SOMENTE O TTL DO RELATORIO FX ANO (TODOS VEIC C/ RENEG DISTRIB)
								 ELSE 0 END
				) AS S
				ON FX.DESCR =  S.fx_ano
GROUP BY FX.DESCR -- FX DE ANO SOMENTE P/ TTL
END

-- geral do ano fx ano Reneg
-- geral do ano 
-- DECLARE @data_ref DATETIME SET @data_ref='20150430' DECLARE @veiculo INT SET @veiculo=6  DECLARE @DTREF DATETIME SET @DTREF='20150430' DECLARE @DT3M DATETIME SET @DT3M='20150201' 
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		102 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		'TOTAL' , --fx_ano , --VEICULO ,		-- DESCRICAO VEIC
		-- veiculo
		CASE	 WHEN @veiculo =99		THEN 'TODOS'
				 WHEN @veiculo IN (1,6) THEN 'LEVES'			
				 WHEN @veiculo IN (2,7) THEN 'MOTOS'			
				 WHEN @veiculo IN (3,8) THEN 'UTILITARIO'		
				 WHEN @veiculo =4 THEN  'REFINANCIAMENTO'					
				 WHEN @veiculo =5 THEN  'RENEGOCIACAO'
				 ELSE 'TODO' END,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END
FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND 1=CASE   WHEN @veiculo =99 THEN 1
				 WHEN @veiculo IN (1,6) AND VEICULO = 'LEVES'			THEN 1
				 WHEN @veiculo IN (2,7) AND VEICULO = 'MOTOS'			THEN 1
				 WHEN @veiculo IN (3,8) AND VEICULO = 'UTILITARIO'		THEN 1
				 WHEN @veiculo =4 AND VEICULO = 'REFINANCIAMENTO'		THEN 1
				 WHEN @veiculo =5 AND VEICULO = 'RENEGOCIACAO'			THEN 1
				 ELSE 0 END
-- ********************************************* fim rpt =102 fx ano com Reneg distribuida



-- ********************************************* rpt =3 fx  parcelas pro



-- OUTRAS LINHAS TTLS
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		3 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		fx_prazo ,		-- DESCRICAO fx_prazo
		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS
GROUP BY fx_prazo

-- OUTRAS LINHAS TTLS  -- TTL GERAL
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		3 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		'GERAL' ,		-- DESCRICAO fx_prazo
		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS

-- ********************************************* rpt =4 fx  renda



-- OUTRAS LINHAS TTLS
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		4 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		fx_renda ,		-- DESCRICAO fx_prazo
		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS
GROUP BY fx_renda

-- TOTAL FX RENDA
-- OUTRAS LINHAS TTLS
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		4 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		'GERAL' ,		-- DESCRICAO fx_prazo
		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS

-- INCLUIR FX DE RENDA MESMO SE NAO HOUVER PRODUCAO
-- 1 SM	 
-- DECLARE @data_ref DATETIME SET @data_ref = '20141231'
INSERT	SPREAD_RPT
SELECT	
		@data_ref,
		4 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		'1- Até 1 SM' ,		-- DESCRICAO DESCR_VEIC fx_prazo8
		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		0.0	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		0.0	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		0.0			, -- TICKET_MEDIO	,--	float,
		0.0			, -- VLR_CONTRATOS	,--	float,
		0.0	,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,0.0, 0.0    -- PDD E DESPESA INCLUIDOS 13/6/17
		--,SUM(ISNULL(VLR_PDD,0.0)), SUM(ISNULL(VLR_DESPESA,0.0)) -- PDD E DESPESA INCLUIDOS 13/6/17
		,0.0, 0.0    -- TX CETs       INCLUIDOS 18/9/17

WHERE	NOT EXISTS (SELECT * FROM SPREAD_RPT R2 (NOLOCK)
	WHERE R2.DT_FECHA = @data_ref AND RPT=4 AND DESCR_VEIC = '1- Até 1 SM')

-- > 20 SM
-- DECLARE @data_ref DATETIME SET @data_ref = '20141231'
INSERT	SPREAD_RPT
SELECT	
		@data_ref,
		4 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		'7- Mais de 20 SM' ,		-- DESCRICAO DESCR_VEIC fx_prazo8
		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		0.0	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		0.0	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		0.0			, -- TICKET_MEDIO	,--	float,
		0.0			, -- VLR_CONTRATOS	,--	float,
		0.0	,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,0.0, 0.0 -- PDD E DESPESA INCLUIDOS 13/6/17
		,0.0, 0.0    -- TX CETs       INCLUIDOS 18/9/17

WHERE	NOT EXISTS (SELECT * FROM SPREAD_RPT R2 (NOLOCK)
	WHERE R2.DT_FECHA = @data_ref AND RPT=4 AND DESCR_VEIC = '7- Mais de 20 SM')
-- mar-16	************************************** S/ INFO INCLUIR NA PRODUCAO SE NAO HOUVER
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		4 , -- RPT FX RENDA
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		'S/ INFO' ,		-- DESCRICAO FX IDADE
		'TOTAL' ,		-- DESCRICAO 
		0.0	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		0.0	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,
		0.0		, -- TICKET_MEDIO	,--	float,
		0.0			, -- VLR_CONTRATOS	,--	float,
		0	,	 --QTD_CONTRATOS	,--	INT,
		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,0.0, 0.0	 -- PDD E DESPESA INCLUIDOS 13/6/17
		,0.0, 0.0    -- TX CETs       INCLUIDOS 18/9/17
WHERE   NOT EXISTS ( SELECT		* FROM	SPREAD_RPT S (NOLOCK)  -- RELATORIO
						WHERE	DT_FECHA = @DTREF
							AND RPT = 4  -- RELATORIO DE FX D RENDA
							AND DESCR_VEIC = 'S/ INFO')

-- ********************************************* rpt =5 fx  agente



-- OUTRAS LINHAS TTLS
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		5 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		agente ,		-- DESCRICAO agente
		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS
GROUP BY agente

-- AJUSTE AGENTE NULL PARA 0 -- DIFERENÇAS ALTERADO *********** 20/07/16
UPDATE	SPREAD_RPT
	SET	DESCR_VEIC ='0'
WHERE	DT_FECHA = @DTREF
	AND RPT = 5 --- RPT AGENTES
	AND ISNULL(DESCR_VEIC,'0') ='0'  -- PRODUCAO SEM RENEGOCIADOS


-- GERAL TTL  -- TTL AGENTE
-- OUTRAS LINHAS TTLS
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		5 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		99,  -- LINHA 1 = SAFRA QTDE  ********* TOTAL NO FINAL
		'',	-- FORMATO
		'GERAL PRODUTO' ,		-- DESCRICAO agente
		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS



-- ********************************************* rpt = 8 IDADE


-- select * FROM	SPREAD_HISTORICO S
-- alter table SPREAD_HISTORICO add ( idade float, fx_idade  varchar(50))
-- OUTRAS LINHAS TTLS
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		8 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		FX_IDADE ,		-- DESCRICAO agente
		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS
GROUP BY FX_IDADE

-- GERAL TTL  -- TTL FX IDADE
-- OUTRAS LINHAS TTLS
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		8 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		'GERAL' ,		-- DESCRICAO agente
		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS

-- mar-16	************************************** S/ INFO INCLUIR NA PRODUCAO SE NAO HOUVER
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		8 , -- RPT FX IDADE
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		'S/ INFO' ,		-- DESCRICAO FX IDADE
		'TOTAL' ,		-- DESCRICAO 
		0.0	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		0.0	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,
		0.0		, -- TICKET_MEDIO	,--	float,
		0.0			, -- VLR_CONTRATOS	,--	float,
		0	,	 --QTD_CONTRATOS	,--	INT,
		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,0.0, 0.0 -- PDD E DESPESA INCLUIDOS 13/6/17
		,0.0, 0.0 -- CETs		   INCLUIDOS 18/9/17
WHERE   NOT EXISTS ( SELECT		* FROM	SPREAD_RPT S (NOLOCK)  -- RELATORIO
						WHERE	DT_FECHA = @DTREF
							AND RPT = 8  -- RELATORIO DE FX D IDADE
							AND DESCR_VEIC = 'S/ INFO')
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		8 , -- RPT FX IDADE
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		'  PJ' ,		-- DESCRICAO FX IDADE
		'TOTAL' ,		-- DESCRICAO 
		0.0	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		0.0	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,
		0.0		, -- TICKET_MEDIO	,--	float,
		0.0			, -- VLR_CONTRATOS	,--	float,
		0	,	 --QTD_CONTRATOS	,--	INT,
		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,0.0, 0.0 -- PDD E DESPESA INCLUIDOS 13/6/17
		,0.0, 0.0 -- CETs		   INCLUIDOS 18/9/17
WHERE   NOT EXISTS ( SELECT		* FROM	SPREAD_RPT S (NOLOCK)  -- RELATORIO
						WHERE	DT_FECHA = @DTREF
							AND RPT = 8  -- RELATORIO DE FX D IDADE
							AND DESCR_VEIC = '  PJ')

-- ********************************************* rpt = 9 OCUPACAO


-- select * FROM	SPREAD_HISTORICO S
-- alter table SPREAD_HISTORICO add ( idade float, fx_idade  varchar(50))
-- OUTRAS LINHAS TTLS
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		9 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE  ********** DETALHES
		'',	-- FORMATO
		OCUPACAO ,		-- DESCRICAO OCUPACAO
		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS
GROUP BY OCUPACAO


-- *********************************** ALTERADO 4/11/16 ***********************************		RPT 13
-- ************************************************* TABELA NO CAMPO RATING ***************
-- DECLARE @data_ref DATETIME DECLARE @DT3M DATETIME DECLARE @DTREF DATETIME  SET @data_ref = '20141231' SET @DT3M= '20141001' SET @DTREF= '20141231'
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		13 , -- RPT			TABELA
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		TABELA ,		-- DESCRICAO CONTEM TABELA
		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

		--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
		--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,
		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END
FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS
GROUP BY TABELA




-- out-15	************************************** S/ INFO INCLUIR NA PRODUCAO SE NAO HOUVER
-- OUTRAS LINHAS TTLS		select * from SPREAD_RPT (nolock) where rpt=9

INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		9 , -- RPT ANALISE TTL VEIC
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		1,  -- LINHA 1 = SAFRA QTDE
		'',	-- FORMATO
		'S/ INFO' ,		-- DESCRICAO OCUPACAO
		'TOTAL' ,		-- DESCRICAO 
		0.0	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		0.0	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,
		0.0		, -- TICKET_MEDIO	,--	float,
		0.0			, -- VLR_CONTRATOS	,--	float,
		0	,	 --QTD_CONTRATOS	,--	INT,
		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,0.0, 0.0	-- PDD E DESPESA INCLUIDOS 13/6/17
		,0.0, 0.0	-- CETs			 INCLUIDOS 18/9/17
WHERE   NOT EXISTS ( SELECT		* FROM	SPREAD_RPT S (NOLOCK)  -- RELATORIO
						WHERE	DT_FECHA = @DTREF
							AND RPT = 9  -- RELATORIO DE OCUPACAO
							AND DESCR_VEIC = 'S/ INFO')


-- GERAL TTL  -- TTL FX IDADE
-- OUTRAS LINHAS TTLS
INSERT	SPREAD_RPT
SELECT	DISTINCT 
		@data_ref,
		9 , -- RPT ANALISE TTL VEIC OCUPACAO
		99, --'TODOS', -- VEIC
		99 , -- TODOS CONTRATOS
		99,  -- LINHA 1 = SAFRA QTDE  -- TOTAL NO FINAL
		'',	-- FORMATO
		'GERAL' ,		-- DESCRICAO agente
		'TOTAL' ,		-- DESCRICAO 

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

--AVG(TAXA)	, -- TAXA_MEDIA		,--float,
		AVG(VLR_OP)			, -- TICKET_MEDIO	,--	float,
		SUM(VLR_OP)			, -- VLR_CONTRATOS	,--	float,
--		COUNT(*)	,	 --QTD_CONTRATOS	,--	INT,
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,

		0.0, 0.0,	-- PERDA
		0.0, 0.0,	-- m3, m4
		0.0, 0.0,	-- m5, m6
		0.0, 0.0	-- m7, m8
		,0.0, 0.0, 0.0, 0.0 , 0.0  , 0.0
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS


-- ************************************************ OPERADOR  rpt=6

INSERT SPREAD_RPT_OPERADOR
-- DECLARE  @DT3M DATETIME DECLARE @DTREF DATETIME DECLARE @data_ref DATETIME SET @data_ref='20140930' SET @DTREF='20140930' SET @DT3M='20140630'
SELECT	 
		@data_ref,
		99, --OPERADOR
		'TOTAL GERAL' ,		-- DESCRICAO 
		99 , -- OPERADOR
		'TODOS' ,		-- DESCRICAO OPERADOR
		0.0		, -- VLR_CONTRATOS	,--	float CARTEIRA

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,


		0.0	,	 -- RISCO
		0.0	,	 -- SPREAD 1 T
		0.0			 -- SPREAD 4 T -- vlr producao
		,0.0, 0.0, 0.0, 0.0  ,0.0, 0.0, 0.0, 0.0,
--		,count(*),
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,
		sum(VLR_OP)  -- qtd e valor prod
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS

-- SELECT * FROM 	SPREAD_HISTORICO S (NOLOCK)
-- SELECT * FROM SPREAD_RPT_OPERADOR
-- DETALHES CADA OPERADOR
INSERT SPREAD_RPT_OPERADOR
-- DECLARE  @DT3M DATETIME DECLARE @DTREF DATETIME DECLARE @data_ref DATETIME SET @data_ref='20140930' SET @DTREF='20140930' SET @DT3M='20140630'
SELECT	DISTINCT 
		@data_ref,
		CODOPER, --OPERADOR
		'' ,		-- DESCRICAO 
		AGENTE , --  COD AGENTE
		'' ,		-- DESCRICAO AGENTE
		0.0		, -- VLR_CONTRATOS	,--	float CARTEIRA

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,


		0.0	,	 -- RISCO
		0.0	,	 -- SPREAD 1 T
		0.0			 -- SPREAD 4 T
		,0.0, 0.0, 0.0, 0.0 ,0.0, 0.0, 0.0, 0.0,
--		,count(*),
		-- TRATA EXCECAO DO REFIN UTILIT SEM PRODUCAO CONTRATO FICTICIO  '800000000' 
		SUM(CASE WHEN (VLR_OP)=0.0 THEN  0 ELSE 1 END) ,	 --QTD_CONTRATOS	,--	INT,
		SUM(VLR_OP)  -- qtd e valor prod
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END
-- SELECT *
FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS
GROUP BY  AGENTE , CODOPER
ORDER BY  AGENTE , CODOPER

-- *************************************************LOJAS
-- DETALHES CADA LOJA
-- SELECT * from SPREAD_RPT_LOJA WHERE DT_FECHA = '20141231' AND RPT=7
-- ALTER TABLE SPREAD_RPT_LOJA ADD  RPT INT
-- DECLARE @data_ref DATETIME DECLARE @DT3M DATETIME DECLARE @DTREF DATETIME  SET @data_ref = '20141231' SET @DT3M= '20141001' SET @DTREF= '20141231'
INSERT  SPREAD_RPT_LOJA
SELECT	DISTINCT 
		@data_ref,	-- dt_fecha
		
		CODLOJA,	 -- LOJA
		'' , -- DESCRICAO 
		'' , -- SIT LOJA
		(CODOPER), -- COD OPERADOR
		'',			  -- des oper	
		max(AGENTE) , -- AGENTE
		'' ,		-- DESCRICAO AGENTE

		CASE WHEN  COUNT(VLR_OP) =0.0 THEN 0.0		-- TKT MED
			 ELSE  SUM(VLR_OP)/COUNT(VLR_OP)	END, 
		COUNT(VLR_OP) , 0.0 ,	 -- PRODUCAO 3M  TKT MED, QTDE PROD, QTDE CART,
		0.0,				 -- CART	
					 -- PZO, TX
		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

		0.0	,	 -- RISCO
		0.0	,	 -- SPREAD 

		SUM(VLR_OP)			, --  CARTEIRA TRIM ANT
		 0.0 , 0.0 , 0.0	 -- TRIMESTRE ANTERIOR
		,0.0, 0.0, 0.0, 0.0 ,  0.0, 0.0, 0.0 , 0.0  -- VLR AUXILIARES
		, 7 -- LJ
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END
-- SELECT *
FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS
	AND NOT EXISTS (SELECT *		FROM	SPREAD_RPT_LOJA S1 (NOLOCK)
									WHERE	S1.DT_FECHA = @DTREF
										AND	S1.RPT = 7
										AND S1.COD_LOJA =S.CODLOJA
										AND S1.COD_OPER =S.CODOPER  )
GROUP BY CODLOJA, CODOPER  --, AGENTE

-- TOTAL DA LOJA
INSERT  SPREAD_RPT_LOJA
SELECT	DISTINCT 
		@data_ref,	-- dt_fecha
		'999999',	 -- LOJA
		'zz-TOTAL' , -- DESCRICAO 
		'' , -- SIT LOJA
		'999999', -- COD OPERADOR
		'',			  -- des oper	
		'999999' , -- AGENTE
		'' ,		-- DESCRICAO AGENTE

		CASE WHEN  COUNT(VLR_OP) =0.0 THEN 0.0		-- TKT MED
			 ELSE  SUM(VLR_OP)/COUNT(VLR_OP)	END, 
		COUNT(VLR_OP) , 0.0 ,	 -- PRODUCAO 3M:  QTD PROD, QTD CART
		0.0,				 -- CART	
					 -- PZO, TX
		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

		0.0	,	 -- RISCO
		0.0	,	 -- SPREAD 

		SUM(VLR_OP)			, --  CARTEIRA TRIM ANT
		 0.0 , 0.0 , 0.0	 -- TRIMESTRE ANTERIOR
		,0.0, 0.0, 0.0, 0.0 ,  0.0, 0.0, 0.0 , 0.0  -- VLR AUXILIARES
		, 7 -- LJ
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END
-- SELECT *
FROM	SPREAD_HISTORICO S (NOLOCK)
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0  -- PRODUCAO SEM RENEGOCIADOS

-- ************************************************* MODELO VEICULO
-- DETALHES CADA MODELO
-- SELECT * from SPREAD_RPT_LOJA WHERE DT_FECHA = '20141231' AND RPT=10
-- ALTER TABLE SPREAD_RPT_LOJA ADD COLUMN RPT INT
-- DECLARE @data_ref DATETIME DECLARE @DT3M DATETIME DECLARE @DTREF DATETIME  SET @data_ref = '20141231' SET @DT3M= '20141001' SET @DTREF= '20141231'
INSERT  SPREAD_RPT_LOJA
SELECT	DISTINCT 
		@data_ref,	-- dt_fecha
		
		'',	 -- LOJA
		'' , -- DESCRICAO 
		'' , -- SIT LOJA
		'', -- COD OPERADOR
		ISNULL(VEIC_MOD2,MOD),			  -- des oper	
		'' , -- AGENTE
		'' ,		-- DESCRICAO AGENTE

		0.0 , COUNT(*)	 , 0.0 ,	 -- PRODUCAO 3M

		0.0		, -- VLR_CONTRATOS	,--	float CARTEIRA

		-- PRODUCAO SEM RENEGOCIACAO
		-- MEDIA PONDERADA 
		CASE WHEN ISNULL(SUM(VLR_OP),0.0) = 0.0  THEN 0.0 ELSE SUM(PRZ_X_VLR) / SUM(VLR_OP) / 30.0 END	,  -- PRAZO_MEDIO	PONDERADO 	-- ANTES AVG(PRAZO)
		CASE WHEN ISNULL(SUM(VLR_OP + RETORNO),0.0) = 0.0 THEN 0.0 ELSE SUM(TX_X_VLR) / SUM(VLR_OP + RETORNO) END	, -- TAXA_MEDIA	AVG(TAXA_SEM_RET)	PONDERADA float,

		0.0	,	 -- RISCO
		0.0	,	 -- SPREAD 

		SUM(VLR_OP)	 , 0.0 , 0.0 , 0.0	 -- TRIMESTRE ANTERIOR
		,0.0, 0.0, 0.0, 0.0 ,  0.0, 0.0, 0.0 , 0.0  -- VLR AUXILIARES
		, 10 -- MODELO
		,SUM(VLR_PDD), SUM(VLR_DESPESA)						-- PDD E DESPESA INCLUIDOS 13/6/17
		,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	-- Tx CET		 INCLUIDOS 18/9/17
				ELSE SUM(TxCET_X_VLR_aa)/SUM(VLR_OP + RETORNO)  END
        ,CASE	WHEN SUM(VLR_OP + RETORNO) = 0.0 THEN 0.0	
				ELSE SUM(TxCET_X_VLR_am)/SUM(VLR_OP + RETORNO)	END

-- DECLARE @DT3M DATETIME DECLARE @DTREF DATETIME SET @DT3M='20141001' SET @DTREF='20141231'  SELECT  *
FROM	SPREAD_HISTORICO S (NOLOCK)
	LEFT JOIN (select AbNrOper,MAX(AbMODELO) AS MOD   from CDCSANTANAMicroCredito..CBFIN B1 (NOLOCK) group by AbNrOper) as  BF 
		ON NUM_OPE = BF.ABNROPER		-- CONTRATO
	LEFT JOIN (select VEIC_MOD,max(VEIC_MOD2) as VEIC_MOD2  from CBFIN2 B1 (NOLOCK) group by VEIC_MOD) as  B 
	  ON VEIC_MOD = BF.MOD		-- MODELO DO FUNCAO E DA TABELA ADAPTADA
WHERE	DT_FECHA BETWEEN @DT3M AND @DTREF
	AND RENEGOCIADO =0		-- PRODUCAO SEM RENEGOCIADOS
GROUP BY ISNULL(VEIC_MOD2,MOD)			-- MOD VEIC


-- VALORES FIXOS AUXILIARES **********************************
-- SELECT MAX(DT_DE) FROM TCAPTACAO S2 (NOLOCK)	WHERE S2.DT_DE <= '20140331'
-- SELECT S1.DT_DE,PRC_CAPTACAO FROM TCAPTACAO S1 (NOLOCK) 	WHERE DT_DE = '20140331'
-- atualizar a captação
-- DECLARE @DTREF SMALLDATETIME SET @DTREF ='20140331'
UPDATE  SPREAD_RPT
	SET CAPTACAO = S.PRC_CAPTACAO
	FROM	(SELECT S1.DT_DE,PRC_CAPTACAO FROM TCAPTACAO S1 (NOLOCK) 
				WHERE S1.DT_DE = (SELECT MAX(DT_DE) FROM TCAPTACAO S2 (NOLOCK)
									WHERE S2.DT_DE <= @DTREF ) ) AS S
	WHERE	DT_FECHA=@DTREF
-- OPERADOR
UPDATE  SPREAD_RPT_OPERADOR
	SET CAPTACAO = S.PRC_CAPTACAO
	FROM	(SELECT S1.DT_DE,PRC_CAPTACAO FROM TCAPTACAO S1 (NOLOCK) 
				WHERE S1.DT_DE = (SELECT MAX(DT_DE) FROM TCAPTACAO S2 (NOLOCK)
									WHERE S2.DT_DE <= @DTREF ) ) AS S
	WHERE	DT_FECHA=@DTREF

-- LOJA  RPT 10,  MODELO  RPT 11 *********************************
UPDATE  SPREAD_RPT_LOJA
	SET CAPTACAO = S.PRC_CAPTACAO
	FROM	(SELECT S1.DT_DE,PRC_CAPTACAO FROM TCAPTACAO S1 (NOLOCK) 
				WHERE S1.DT_DE = (SELECT MAX(DT_DE) FROM TCAPTACAO S2 (NOLOCK)
									WHERE S2.DT_DE <= @DTREF ) ) AS S
	WHERE	DT_FECHA=@DTREF


-- atualizar a COMISSAO
-- SELECT * FROM TCOMISSAO
UPDATE  SPREAD_RPT
	SET COMISSAO = S.PRC_COMISSAO
	FROM	(SELECT S1.DT_DE,PRC_COMISSAO FROM TCOMISSAO S1 (NOLOCK) 
				WHERE S1.DT_DE = (SELECT MAX(DT_DE) FROM TCOMISSAO S2 (NOLOCK)
									WHERE S2.DT_DE <= @DTREF ) ) AS S
	WHERE	DT_FECHA=@DTREF
-- OPERADOR
-- DECLARE @DTREF DATETIME SET @DTREF = '20140331'
UPDATE  SPREAD_RPT_OPERADOR
	SET COMISSAO = S.PRC_COMISSAO
	FROM	(SELECT S1.DT_DE,PRC_COMISSAO FROM TCOMISSAO S1 (NOLOCK) 
				WHERE S1.DT_DE = (SELECT MAX(DT_DE) FROM TCOMISSAO S2 (NOLOCK)
									WHERE S2.DT_DE <= @DTREF ) ) AS S
	WHERE	DT_FECHA=@DTREF

-- *********************************************************************************
-- LOJA RPT 10, MODELO RPT 11
-- DECLARE @DTREF DATETIME SET @DTREF = '20140331'
UPDATE  SPREAD_RPT_LOJA
	SET COMISSAO = S.PRC_COMISSAO
	FROM	(SELECT S1.DT_DE,PRC_COMISSAO FROM TCOMISSAO S1 (NOLOCK) 
				WHERE S1.DT_DE = (SELECT MAX(DT_DE) FROM TCOMISSAO S2 (NOLOCK)
									WHERE S2.DT_DE <= @DTREF ) ) AS S
	WHERE	DT_FECHA=@DTREF
	--	AND RPT = 10

-- FIM   VALORES FIXOS AUXILIARES **********************************

-- PRODUCAO TRIM
UPDATE  SPREAD_RPT
	SET PRODUCAO_TRIM = VLR_CONTRATOS
	WHERE	DT_FECHA=@DTREF

-- VARIAVEL TTL PRODUCAO TRIM
-- DECLARE @DTREF SMALLDATETIME SET @DTREF ='20140331'
DECLARE @TTLPROD FLOAT
SELECT  @TTLPROD = PRODUCAO_TRIM 
					FROM SPREAD_RPT R2 (NOLOCK)
					WHERE R2.DT_FECHA=@DTREF
					AND	R2.DESCR_VEIC IN ( 'TOTAL' ,'GERAL')
					AND	R2.RPT = 1  -- CARTEIRA
--SELECT  @TTLPROD

-- PRC PRODUCAO TRIM
-- DECLARE @DTREF SMALLDATETIME SET @DTREF ='20140331'
-- SELECT *,PRODUCAO_TRIM FROM SPREAD_RPT R2 WHERE R2.DT_FECHA=@DTREF AND	R2.DESCR_VEIC IN ( 'TOTAL' ,'GERAL')	AND	R2.RPT IN (1,2,3,4,5)
UPDATE		SPREAD_RPT
	SET		PRC_PRODUCAO_TRIM = PRODUCAO_TRIM/ @TTLPROD * 100.0
	WHERE	DT_FECHA=@DTREF

--SELECT * FROM SPREAD_RPT


END
GO
