
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- COPIA O ULTIMO FECHAMENTO
-- DECLARE @DTFECHA SMALLDATETIME SET @DTFECHA='2014-04-30'
/*
SP_HELP RATING_PROJETADO
INSERT RATING_PROJETADO
(DT_REF,
NUM_OPE,
DT_BASE,
NVL_RISCO,
NOM_CLI,	-- ANO MODELO
DT_VCTO1,
SLD_INSCRITO,
VLR_PRINC, -- VLR PARCELA
VL_JUROS, -- COD LOJA
TX_RAP,  -- TX 
RRF_JR,  -- RENDA
VLR_FV,  
PERC_PDD,
VLR_PDD,
Atraso, --COD OPER
parc,  -- SIT
dtVencParc,
AGENTE,
COBRADORA,
DT_FECHA,
DT_VCTO1P,  
CODCLI,
CODPROD,
ADECORRER	-- PLANO EM MESES
PLANO   -- QTDE DIAS
ATRASO_RENEG
OPDTVCTO
 )
*/

-- SP_HELP RATING_HISTORICO
DROP   TABLE SPREAD_HISTORICO
CREATE TABLE SPREAD_HISTORICO (
DT_FECHA	smalldatetime,
NUM_OPE		varchar(50),
DT_BASE		smalldatetime,
VLR_OP		float,
VLR_PARC	float,
PRAZO		int,
TAXA		float,
RETORNO		FLOAT,
TAXA_SEM_RET	float,

ATRASO		int,
dtVencParc	smalldatetime,
DT_PAGTO	smalldatetime,
RENEGOCIADO	INT,  -- 0 OU 1
RATING	varchar(2),

CODCLI	varchar(15),
CODPROD	smallint,
CODMODA SMALLINT,
AGENTE		varchar(6),
VEICULO		varchar(20),
ANO_MODELO	VARCHAR(20),
RENDA		FLOAT,
FX_RENDA	VARCHAR(20),
FX_PRAZO	VARCHAR(20)
)

DROP INDEX SPREAD_HISTORICO.SPREAD_HISTORICO_idx1

CREATE INDEX SPREAD_HISTORICO_idx1 ON SPREAD_HISTORICO  
	(DT_FECHA		,
	NUM_OPE			,
	AGENTE			,
	VEICULO			,
	RENEGOCIADO		-- 0 OU 1
		) 

SPREAD_HISTORICO
Column_name	Type	Computed	Length
DT_FECHA	smalldatetime	no	4
NUM_OPE	varchar	no	50
DT_BASE	smalldatetime	no	4
VLR_OP	float	no	8
VLR_PARC	float	no	8
PRAZO	int	no	4
TAXA	float	no	8
RETORNO	float	no	8
TAXA_SEM_RET	float	no	8
ATRASO	int	no	4
dtVencParc	smalldatetime	no	4
DT_PAGTO	smalldatetime	no	4
RENEGOCIADO	int	no	4
RATING	varchar	no	2
CODCLI	varchar	no	15
CODPROD	smallint	no	2
CODMODA	smallint	no	2
AGENTE	varchar	no	6
VEICULO	varchar	no	50
ANO_MODELO	varchar	no	20
RENDA	float	no	8
FX_RENDA	varchar	no	20
FX_PRAZO	varchar	no	20
CODOPER	varchar	no	20
CODLOJA	varchar	no	20
TX_X_VLR	float	no	8
PRZ_X_VLR	float	no	8
PLANO	int	no	4
idade	float	no	8
fx_idade	varchar	no	50
fx_ANO	varchar	no	50
OCUPACAO	varchar	no	50
TABELA	varchar	no	20
VLR_PDD	float	no	8
VLR_DESPESA	float	no	8
Tx_CET_aa	float	no	8
Tx_CET_am	float	no	8
TxCET_X_VLR_aa	float	no	8
TxCET_X_VLR_am	float	no	8


ALTER TABLE  SPREAD_HISTORICO ADD CODOPER VARCHAR(20), CODLOJA VARCHAR(20), TX_X_VLR FLOAT, PRZ_X_VLR FLOAT
ALTER TABLE  SPREAD_HISTORICO ADD PLANO INT

 alter table SPREAD_HISTORICO add  idade float, fx_idade  varchar(50) 

 alter table SPREAD_HISTORICO add  fx_ANO  varchar(50) 

 alter table SPREAD_HISTORICO add  OCUPACAO  varchar(50) 

Column_name	Type	Computed	Length
TABELA	varchar	no	20
VLR_PDD	float	no	8
VLR_DESPESA	float	no	8
sp_help SPREAD_HISTORICO

 alter table SPREAD_HISTORICO add  TABELA  varchar(20) 
alter table SPREAD_HISTORICO add VLR_PDD	FLOAT, VLR_DESPESA	float
alter table SPREAD_HISTORICO add Tx_CET_aa FLOAT, Tx_CET_am FLOAT, TxCET_X_VLR_aa FLOAT, TxCET_X_VLR_am FLOAT

SELECT * FROM SPREAD_HISTORICO
SPREAD_HISTORICO_SAFRA



-- SP_HELP TSM
DROP   TABLE TSM
CREATE TABLE TSM (
DT_DE		smalldatetime,
VLR_SM		float )

INSERT TSM SELECT '20140101' , 810
SELECT * FROM TSM


-- alter table spread_aux add  vf_original float
-- SP_HELP spread_aux

Column_name	Type	Computed	Length
DT_FECHA	smalldatetime	no	4
NUM_OPE	varchar	no	50
DT_BASE	smalldatetime	no	4
VLR_OP	float	no	8
VLR_PARC	float	no	8
PRAZO	int	no	4
PLANO	int	no	4
VLR_ATRASO	float	no	8
VLR_VINCENDO	float	no	8
TAXA	float	no	8
RETORNO	float	no	8
TAXA_SEM_RET	float	no	8
ATRASO	int	no	4
RENEGOCIADO	int	no	4
RATING	varchar	no	2
CODCLI	varchar	no	15
CODPROD	smallint	no	2
CODMODA	smallint	no	2
AGENTE	varchar	no	6
VEICULO	varchar	no	100
ANO_MODELO	varchar	no	20
RENDA	float	no	8
FX_RENDA	varchar	no	20
FX_PRAZO	varchar	no	20
CODOPER	varchar	no	20
CODLOJA	varchar	no	20
TX_X_VLR	float	no	8
PRZ_X_VLR	float	no	8
idade	float	no	8
fx_idade	varchar	no	50
fx_ANO	varchar	no	50
OCUPACAO	varchar	no	50
CONTRATO_ORIGINAL	varchar	no	50
VEICULO_ORIGINAL	varchar	no	50
VF	float	no	8
VLR_RISCO	float	no	8
vf_original	float	no	8


sp_help SPREAD_HISTORICO_SAFRA
Column_name	Type	Computed	Length
DT_FECHA	smalldatetime	no	4
NUM_OPE	varchar	no	50
DT_BASE	smalldatetime	no	4
VLR_OP	float	no	8
VLR_PARC	float	no	8
PRAZO	int	no	4
PLANO	int	no	4
VLR_ATRASO	float	no	8
VLR_VINCENDO	float	no	8
TAXA	float	no	8
RETORNO	float	no	8
TAXA_SEM_RET	float	no	8
ATRASO	int	no	4
RENEGOCIADO	int	no	4
RATING	varchar	no	2
CODCLI	varchar	no	15
CODPROD	smallint	no	2
CODMODA	smallint	no	2
AGENTE	varchar	no	6
VEICULO	varchar	no	100
ANO_MODELO	varchar	no	20
RENDA	float	no	8
FX_RENDA	varchar	no	20
FX_PRAZO	varchar	no	20
CODOPER	varchar	no	20
CODLOJA	varchar	no	20
TX_X_VLR	float	no	8
PRZ_X_VLR	float	no	8
idade	float	no	8
fx_idade	varchar	no	50
fx_ANO	varchar	no	50
OCUPACAO	varchar	no	50
CONTRATO_ORIGINAL	varchar	no	50
VEICULO_ORIGINAL	varchar	no	50
VF	float	no	8
VLR_RISCO	float	no	8
VF_ORIGINAL	float	no	8
TABELA	varchar	no	20
VLR_PDD	float	no	8
VLR_DESPESA	float	no	8

alter table SPREAD_HISTORICO_SAFRA add Tx_CET_aa FLOAT, Tx_CET_am FLOAT, TxCET_X_VLR_aa FLOAT, TxCET_X_VLR_am FLOAT

index_name	index_description	index_keys
SPREAD_HISTORICO_SAFRA_idx1	nonclustered located on PRIMARY	DT_FECHA, NUM_OPE
SPREAD_HISTORICO_SAFRA_idx2	nonclustered located on PRIMARY	NUM_OPE

SP_HELP SPREAD_HISTORICO_SAFRA

DROP TABLE SPREAD_HISTORICO_SAFRA
-- ANTERIOR
CREATE TABLE SPREAD_HISTORICO_SAFRA
(
DT_FECHA	smalldatetime,
NUM_OPE		varchar(50),
DT_BASE		smalldatetime,
VLR_OP		float,
VLR_PARC	float,
PRAZO	int,
PLANO	int,


VLR_ATRASO FLOAT,
VLR_VINCENDO FLOAT,

TAXA	float,
RETORNO	float,
TAXA_SEM_RET	float,
ATRASO	int,

RENEGOCIADO	int	,
RATING	varchar(2),
CODCLI	varchar(15),
CODPROD	smallint,
CODMODA	smallint,
AGENTE	varchar(6),
VEICULO	varchar(20),
ANO_MODELO	varchar(20),
RENDA	float,
FX_RENDA	varchar(20),
FX_PRAZO	varchar(20),
CODOPER	varchar(20),
CODLOJA	varchar(20),
TX_X_VLR	float,
PRZ_X_VLR	float,
VF	FLOAT,
VLR_RISCO	FLOAT
 )
ALTER TABLE SPREAD_HISTORICO_SAFRA ADD VF FLOAT
ALTER TABLE SPREAD_HISTORICO_SAFRA DROP COLUMN VF 

 alter table SPREAD_HISTORICO add  idade float, fx_idade  varchar(50)

 alter table SPREAD_HISTORICO_SAFRA add  idade float, fx_idade  varchar(50)
 alter table SPREAD_HISTORICO_SAFRA add  fx_ANO  varchar(50)
 alter table SPREAD_HISTORICO_SAFRA add  OCUPACAO  varchar(50)

ALTER TABLE SPREAD_HISTORICO_SAFRA ADD VF FLOAT
ALTER TABLE SPREAD_HISTORICO_SAFRA ADD VLR_RISCO FLOAT

ALTER TABLE SPREAD_HISTORICO_SAFRA ADD  CONTRATO_ORIGINAL VARCHAR(50)
ALTER TABLE SPREAD_HISTORICO_SAFRA ADD  VEICULO_ORIGINAL VARCHAR(50)

---

DROP TABLE SPREAD_RPT

CREATE TABLE  SPREAD_RPT (
DT_FECHA	smalldatetime,
RPT			INT,
VEICULOS	INT,
CONTRATOS	INT,

ORDEM_LINHA	int,
FORMATO	varchar(6),
DESCR_VEIC	varchar(50),
DESCRICAO	varchar(50),
PRAZO_MEDIO	float,
TAXA_MEDIA	float,
TICKET_MEDIO	float,
VLR_CONTRATOS	float,
QTD_CONTRATOS	INT,
CAPTACAO		float,
PERDA	float,
COMISSAO	float,
SPREAD	float,
CARTEIRA	float,
PRC_CARTEIRA	float,
PRODUCAO_TRIM	float,
PRC_PRODUCAO_TRIM	float

)
 
CREATE INDEX SPREAD_RPT_IDX1 ON SPREAD_RPT  
	(DT_FECHA		,
	RPT		,
	VEICULOS			,
	ORDEM_LINHA		,
	DESCR_VEIC, 
	DESCRICAO		) 

ALTER  TABLE SPREAD_RPT ADD VLR_PREJUIZO FLOAT, VLR_DESCONTO FLOAT, VLR_PERDA FLOAT, PMT_AUX	float

ALTER TABLE  SPREAD_RPT
	ADD SPREAD_AUX FLOAT

alter table SPREAD_RPT add VLR_PDD	FLOAT, VLR_DESPESA	float
alter table SPREAD_RPT add Tx_CET_aa FLOAT, Tx_CET_am FLOAT


sp_help SPREAD_RPT
Column_name	Type	Computed	Length
DT_FECHA	smalldatetime	no	4
RPT	int	no	4
VEICULOS	int	no	4
CONTRATOS	int	no	4
ORDEM_LINHA	int	no	4
FORMATO	varchar	no	6
DESCR_VEIC	varchar	no	50
DESCRICAO	varchar	no	50
PRAZO_MEDIO	float	no	8
TAXA_MEDIA	float	no	8
TICKET_MEDIO	float	no	8
VLR_CONTRATOS	float	no	8
QTD_CONTRATOS	int	no	4
CAPTACAO	float	no	8
PERDA	float	no	8
COMISSAO	float	no	8
SPREAD	float	no	8
CARTEIRA	float	no	8
PRC_CARTEIRA	float	no	8
PRODUCAO_TRIM	float	no	8
PRC_PRODUCAO_TRIM	float	no	8
VLR_PREJUIZO	float	no	8
VLR_DESCONTO	float	no	8
VLR_PERDA	float	no	8
PMT_AUX	float	no	8
SPREAD_AUX	float	no	8
VF_SAFRA	float	no	8
VLR_PDD	float	no	8
VLR_DESPESA	float	no	8


--


SELECT * FROM TCOMISSAO (NOLOCK)

DROP TABLE TCOMISSAO
CREATE TABLE TCOMISSAO
	(DT_DE			SMALLDATETIME,
	 PRC_COMISSAO	FLOAT )
CREATE INDEX TCOMISSAO_IDX1 ON TCOMISSAO (DT_DE)

INSERT TCOMISSAO	SELECT '20140331',1.50

ALTER TABLE SPREAD_RPT_OPERADOR ADD COMISSAO FLOAT

SP_HELP SPREAD_RPT_LOJA
ALTER TABLE SPREAD_RPT_LOJA ADD VLR_PERDA FLOAT, VF_SAFRA FLOAT, PMT_AUX FLOAT,VLR_DESCONTO FLOAT, VLR_PREJUIZO FLOAT, SPREAD_AUX FLOAT, CAPTACAO FLOAT
ALTER TABLE SPREAD_RPT_LOJA ADD COMISSAO FLOAT

sp_help SPREAD_RPT_LOJA

Column_name	Type	Computed	Length
DT_FECHA	smalldatetime	no	4
COD_LOJA	varchar	no	20
DES_LOJA	varchar	no	100
SIT	varchar	no	2
COD_OPER	varchar	no	20
DES_OPER	varchar	no	100
COD_AGENTE	varchar	no	20
AGENTE	varchar	no	100
PROD_3M	float	no	8
PROD_2M	float	no	8
PROD_1M	float	no	8
CARTEIRA	float	no	8
PRAZO_MEDIO	float	no	8
TAXA_MEDIA	float	no	8
RISCO	float	no	8
SPREAD_MEDIO	float	no	8
CARTEIRA_TRIM	float	no	8
TAXA_MEDIA_TRIM	float	no	8
RISCO_TRIM	float	no	8
SPREAD_TRIM	float	no	8
VLR_PERDA	float	no	8
VF_SAFRA	float	no	8
PMT_AUX	float	no	8
VLR_DESCONTO	float	no	8
VLR_PREJUIZO	float	no	8
SPREAD_AUX	float	no	8
CAPTACAO	float	no	8
COMISSAO	float	no	8
RPT	int	no	4
VLR_PDD	float	no	8
VLR_DESPESA	float	no	8

-- ALTER TABLE SPREAD_RPT_OPERADOR ADD VLR_PERDA FLOAT, VF_SAFRA FLOAT, PMT_AUX FLOAT,VLR_DESCONTO FLOAT, VLR_PREJUIZO FLOAT, SPREAD_AUX FLOAT, CAPTACAO FLOAT

SELECT * FROM SPREAD_RPT

SELECT DT_DE,VLR_CAPTACAO FROM TCAPTACAO

DROP TABLE TCAPTACAO
CREATE TABLE TCAPTACAO
	(DT_DE			SMALLDATETIME,
	 PRC_CAPTACAO	FLOAT )
CREATE INDEX TCAPTACAO_IDX1 ON TCAPTACAO (DT_DE)


--------------
sp_help SPREAD_RPT
Column_name	Type	Computed	Length
DT_FECHA	smalldatetime	no	4
RPT	int	no	4
VEICULOS	int	no	4
CONTRATOS	int	no	4
ORDEM_LINHA	int	no	4
FORMATO	varchar	no	6
DESCR_VEIC	varchar	no	50
DESCRICAO	varchar	no	50
PRAZO_MEDIO	float	no	8
TAXA_MEDIA	float	no	8
TICKET_MEDIO	float	no	8
VLR_CONTRATOS	float	no	8
QTD_CONTRATOS	int	no	4
CAPTACAO	float	no	8
PERDA	float	no	8
COMISSAO	float	no	8
SPREAD	float	no	8
CARTEIRA	float	no	8
PRC_CARTEIRA	float	no	8
PRODUCAO_TRIM	float	no	8
PRC_PRODUCAO_TRIM	float	no	8
VLR_PREJUIZO	float	no	8
VLR_DESCONTO	float	no	8
VLR_PERDA	float	no	8
PMT_AUX	float	no	8
SPREAD_AUX	float	no	8
VF_SAFRA	float	no	8
VLR_PDD	float	no	8
VLR_DESPESA	float	no	8


	sp_help SPREAD_RPT_operador
Column_name	Type	Computed	Length
DT_FECHA	smalldatetime	no	4
COD_OPER	varchar	no	20
DES_OPER	varchar	no	50
COD_AGENTE	varchar	no	20
AGENTE	varchar	no	50
CARTEIRA	float	no	8
PRAZO_MEDIO	float	no	8
TAXA_MEDIA	float	no	8
RISCO	float	no	8
SPREAD1	float	no	8
SPREAD4	float	no	8
VLR_PERDA	float	no	8
VF_SAFRA	float	no	8
PMT_AUX	float	no	8
VLR_DESCONTO	float	no	8
VLR_PREJUIZO	float	no	8
SPREAD_AUX	float	no	8
CAPTACAO	float	no	8
COMISSAO	float	no	8
qtde	int	no	4
vlr_producao	float	no	8
VLR_PDD	float	no	8
VLR_DESPESA	float	no	8
Tx_CET_aa	float	no	8
Tx_CET_am	float	no	8

SP_HELP SPREAD_RPT_operador