<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="Sistema" value="MIS"/>
    <add key="Autenticacao" value="SUPERBANK"/>
    <add key="Validacao" value="BD"/>
    <add key="Servidor" value="172.17.2.10"/>
    <add key="BancoDados" value="Data Source=172.17.2.10;Initial Catalog=siv;User=usr_siv;password=s35i@v78"/>
    <!--<add key="BancoDados" value="Data Source=200.219.204.5;Initial Catalog=LEG_FUN;User=GJwRoQYnKOVkJ3yzwfJVAg==;password=GJwRoQYnKOVkJ3yzwfJVAg=="/>-->
    <add key="BancoPool" value="Data Source=200.219.204.140;Initial Catalog=MIS;User=funcao;password=funcao"/>
    <add key="TimeOutConnection" value="800000"/>
    <add key="usuario" value="usr_siv"/>
    <add key="Senha" value="s35i@v78"/>
    <add key="Log" value="C:\LOG"/>
  </appSettings>
    <connectionStrings>
        <!--<add name="Util.Settings.LEG_FUNConnectionString" connectionString="Data Source=200.219.204.5;Initial Catalog=LEG_FUN;User ID=funcao"-->
        <add name="LEG_FUNConnectionString" connectionString="Data Source=172.17.2.10;Initial Catalog=siv;User ID=usr_siv;Password=s35i@v78;Connect Timeout=800000" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
