USE sig --[Santana]
GO
/****** Object:  StoredProcedure [dbo].[SCR_CRV_sintetico]    Script Date: set/2017  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CRV_sintetico' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CRV_sintetico] 
GO

-- EXEC SCR_CRV_sintetico '20160601','20170101','20160601','20160730',30
-- EXEC SCR_CRV_sintetico '20170201','20170201','20170201','20170228',99

-- EXEC SCR_CRV_sintetico '20170914','20171113','19970101','20170914',99

CREATE Procedure [dbo].SCR_CRV_sintetico (
	@DataContrato as datetime,
@DT_REF SMALLDATETIME,        
@DT_INI SMALLDATETIME,    
@DT_FIM SMALLDATETIME,   
@AGNT   INT ) AS  

	begin
  
  
TRUNCATE TABLE crv_PEND  
  
INSERT INTO  crv_PEND (OPCODPROD, OPNROPER, OPDTBASE, OPVLRFIN, OPCODORG1, O1DESCR,  
 OPCODORG2, O2DESCR, OPCODORG3, O3DESCR,  OPCODORG4, O4DESCR,  
 OPCODORG5, O5DESCR, OPCODORG6, EPCODPEN, EPCMPLTO, OPCODCLI,  
 A13CODORG, A13DESCR, 
	ABRENAVAM, ABVLRTAB, ABCHASSI, ABCERTIF,   ABPLACA, ABMODELO, 
	CLNOMECLI, CLFONEFIS, CLFONECOM, CLCGC,  
 DIASATRASO, EPDTAGEN, EPDTPEN, EPDTCAD, EPDTLNCBX, EPDTFIM)  
  
  
SELECT  distinct OPCODPROD,  O.OPNROPER, O.OPDTBASE, O.OPVLRFIN,O.OPCODORG1, T1.O1DESCR, O.OPCODORG2, T2.O2DESCR, O.OPCODORG3, T3.O3DESCR,  
  O.OPCODORG4, T4.O4DESCR, O.OPCODORG5, T5.O5DESCR, O.OPCODORG6, E.EPCODPEN, E.EPCMPLTO, O.OPCODCLI,  
  T1O3.A13CODORG,  replace( REPLACE( replace (A13DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''), 
--	B.ABRENAVAM, B.ABVLRTAB, B.ABCHASSI, B.ABCERTIF, B.ABPLACA, B.ABMODELO, 
	'',0.0,'','','','',
  C.CLNOMECLI, C.CLFONEFIS, C.CLFONECOM, C.CLCGC,      
  ISNULL((SELECT MAX(DATEDIFF(DD, P.PADTVCTO, @DT_REF)) 
			FROM	CDCSANTANAMicroCredito..CPARC P		(NOLOCK)
			WHERE	P.PANROPER = O.OPNROPER   
			  AND ( P.PADTMOV IS NULL OR P.PADTMOV > @DT_REF) AND  P.PADTVAL <= @DT_REF AND  NOT (P.PACODMOV IN ('07', '08', '09', '13', '91', '94') AND   
			  P.PADTLIQ IS NOT NULL)), 0) AS DIASATRASO,   
  E.EPDTAGEN, E.EPDTPEN, E.EPDTCAD, E.EPDTLNCBX, E.EPDTFIM   
  
FROM   
  CDCSANTANAMicroCredito..COPER O				(NOLOCK)
  INNER JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.OPCODCLI = C.CLCODCLI   
  INNER JOIN (SELECT	* 
				FROM	CDCSANTANAMicroCredito..EPEND E1	(NOLOCK) 
				WHERE	E1.EPDTCAD BETWEEN  @DT_INI  AND  @DT_FIM  
					AND (E1.EPDTFIM IS NULL OR E1.EPDTFIM > @DT_REF )  
					AND E1.EPDTCAD <= @DT_REF  AND E1.EPCODPEN =   '151' ) AS E
--AND O.OPCODPROD IN ('000010','000009','000030','000072','000073','000005','000004','020001','000002','000003','999999','000001','000020','020003','000011','000013','000007','002000','000026','000019','020004','000012','000014','000025','000008','020006','020002','020005','020007')   
		ON O.OPNROPER = E.EPNROPER   
  INNER JOIN CDCSANTANAMicroCredito..TPEND TP	(NOLOCK) ON E.EPCODPEN = TP.PDCODPEN   

  LEFT  JOIN CDCSANTANAMicroCredito..TORG1 T1	(NOLOCK) ON O.OPCODORG1 = T1.O1CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG2 T2	(NOLOCK) ON O.OPCODORG2 = T2.O2CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG3 T3	(NOLOCK) ON O.OPCODORG3 = T3.O3CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG4 T4	(NOLOCK) ON O.OPCODORG4 = T4.O4CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG5 T5	(NOLOCK) ON O.OPCODORG5 = T5.O5CODORG   
  LEFT JOIN CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK) ON T3.O3CODORGA13 = T1O3.A13CODORG  
WHERE 
	( O.OPDTLIQ IS NULL OR O.OPDTLIQ > @DT_REF)   
AND O.OPDTBASE <= @DT_FIM  
-- ALTERADOS DESATIVADOS EM 13/9/17
AND 1= 0+ CASE WHEN  @AGNT='99'  THEN 1 -- TODOS OS AGENTES
			   WHEN	 @AGNT='980' THEN 1 -- SOH OS DESATIVADOS
			   WHEN	 @AGNT NOT IN ('99','980') AND T1O3.A13CODORG = @AGNT  THEN 1
			   ELSE  0			END	
  
  /*
-- ajusta os dados da Garantia 13/2/17
UPDATE		crv_PEND  
	SET		ABRENAVAM= B.ABRENAVAM, ABVLRTAB=B.ABVLRTAB, 
			ABCHASSI=B.ABCHASSI, ABCERTIF=B.ABCERTIF,   
			ABPLACA=B.ABPLACA, ABMODELO=B.ABMODELO
	FROM	CDCSANTANAMicroCredito..CBFIN B	(NOLOCK) 
	WHERE	B.ABNROPER=crv_PEND.OPNROPER
	AND		 B.ABNRGAR ='01'   -- ALTEREI 13/2/17
	 AND       B.ABCNTRL = (SELECT		MAX(BX.ABCNTRL) FROM CDCSANTANAMicroCredito..CBFIN BX (NOLOCK) 
					WHERE	BX.ABNROPER = crv_PEND.OPNROPER AND BX.ABNRGAR = '01') -- ALTEREI 13/2/17
  */

TRUNCATE   TABLE crv_PEND_SINT
-- PENDENTES POR AGENTE
INSERT	crv_PEND_SINT
		(A13CODORG	,A13DESCR,QTDE,QTDE_PEND)
--A13CODORG	int,A13DESCR	varchar(20),QTDE		int,QTDE_PEND	int,PRC			FLOAT,VLR_RETIDO	FLOAT,PRC_ANT,  QTDE_ANT		int,QTDE_PEND_ANT	int   
SELECT		A13CODORG, A13DESCR, 0 ,COUNT(*)		
	FROM	crv_PEND	(NOLOCK)
	GROUP BY A13CODORG, A13DESCR

-- AGENTE ATIVO S N
UPDATE	crv_PEND_SINT
	SET	AGATIVO = (SELECT CASE WHEN ISNULL(A13CODORGA23,0)=1 THEN 'S' ELSE 'N' END
					FROM	CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK)  -- AGENTE
					WHERE	crv_PEND_SINT.A13CODORG = T1O3.A13CODORG )


--A13CODORG	A13DESCR	A13CODORGA23	A13DDDTEL	A13TEL	A13DTCAD
--1	PROMOTORA SHOPCRED	NULL	11	98514-9702	2010-01-05 00:00:00			

-- total de contratos no período por AGENTE
UPDATE		crv_PEND_SINT
	SET		QTDE = (
    SELECT		COUNT(*) as CONTRATO 
		FROM	CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK),  -- AGENTE
				(SELECT OPNROPER,OPCODORG3,OPDTLIQ,OPDTBASE FROM CDCSANTANAMicroCredito..COPER		(NOLOCK)
					WHERE	OPDTLIQ IS NULL 
						AND OPDTBASE  between @DT_INI AND @DT_FIM ) AS OP, 
				CDCSANTANAMicroCredito..TORG3 T3	(NOLOCK)   -- OPERADOR
		WHERE	
--OPDTLIQ IS NULL AND OPDTBASE  between @DT_INI AND @DT_FIM AND
				OPCODORG3   = T3.O3CODORG 
			AND T3.O3CODORGA13 = T1O3.A13CODORG
			And T1O3.A13CODORG = crv_PEND_SINT.A13CODORG )


UPDATE		crv_PEND_SINT
	SET		 PRC = CASE WHEN QTDE=0.0 THEN 0.0 ELSE (QTDE_PEND/QTDE) * 100.0  END-- CALCULO DO PERCENTUAL
			,VLR_RETIDO = CASE	WHEN QTDE =0.0 THEN 0.0
								WHEN QTDE_PEND / QTDE <= 0.20 THEN 0.0 
								ELSE
							(QTDE_PEND - QTDE * 0.2 ) * 10.0  --( PEND - 20% QTD CONTRAT )* R$ 10
								END
			--CDbl(txtQtePendAlienacao.Text) - CDbl(txtQteContratoRealizado.Text) * 0.2) * 10.0
			
-- MES ANTERIOR  D=1  D-1
-- DECLARE @DT_FIM DATETIME SET @DT_FIM = '20170531'
SET @DT_FIM  =  CONVERT(CHAR(4),DATEPART(YYYY,@DT_FIM))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@DT_FIM))),2)+ '01'
SET @DT_FIM  =  DATEADD(D,-1,@DT_FIM)
--SELECT @DT_FIM


-- QTDE PEND MES ANT
UPDATE		crv_PEND_SINT
	SET		QTDE_PEND_ANT = P.QTD
FROM		(SELECT  T1O3.A13CODORG,COUNT(*) AS QTD
			FROM    CDCSANTANAMicroCredito..COPER O				(NOLOCK)
		  INNER JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.OPCODCLI = C.CLCODCLI   
		  INNER JOIN CDCSANTANAMicroCredito..EPEND E	(NOLOCK) ON O.OPNROPER = E.EPNROPER   
		  INNER JOIN CDCSANTANAMicroCredito..TPEND TP	(NOLOCK) ON E.EPCODPEN = TP.PDCODPEN   

		--  LEFT  JOIN CDCSANTANAMicroCredito..TORG1 T1	(NOLOCK) ON O.OPCODORG1 = T1.O1CODORG   
		--  LEFT  JOIN CDCSANTANAMicroCredito..TORG2 T2	(NOLOCK) ON O.OPCODORG2 = T2.O2CODORG   
		  LEFT  JOIN CDCSANTANAMicroCredito..TORG3 T3	(NOLOCK) ON O.OPCODORG3 = T3.O3CODORG   
		--  LEFT  JOIN CDCSANTANAMicroCredito..TORG4 T4	(NOLOCK) ON O.OPCODORG4 = T4.O4CODORG   
		--  LEFT  JOIN CDCSANTANAMicroCredito..TORG5 T5	(NOLOCK) ON O.OPCODORG5 = T5.O5CODORG   
		  LEFT JOIN CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK) ON T3.O3CODORGA13 = T1O3.A13CODORG  
		WHERE E.EPCODPEN =   '151' 
		and   ( O.OPDTLIQ IS NULL OR O.OPDTLIQ > @DT_REF)   
		AND O.OPDTBASE <= @DT_FIM  
		AND (E.EPDTFIM IS NULL OR E.EPDTFIM > @DT_REF )  AND E.EPDTCAD <= @DT_REF  
		--AND O.OPCODPROD IN ('000010','000009','000030','000072','000073','000005','000004','020001','000002','000003','999999','000001','000020','020003','000011','000013','000007','002000','000026','000019','020004','000012','000014','000025','000008','020006','020002','020005','020007')   
		AND E.EPDTCAD >= @DT_INI  
		AND E.EPDTCAD <= @DT_FIM  
		-- ALTERADOS DESATIVADOS EM 13/9/17
		AND 1= 0+ CASE WHEN  @AGNT='99'  THEN 1 -- TODOS OS AGENTES
					   WHEN	 @AGNT='980' THEN 1 -- SOH OS DESATIVADOS
					   WHEN	 @AGNT NOT IN ('99','980') AND T1O3.A13CODORG = @AGNT  THEN 1
					   ELSE  0			END	
/*		AND 1= 0+ CASE WHEN  @AGNT='99' THEN 1 -- TODOS OS AGENTES
					   WHEN	 @AGNT<>'99' AND T1O3.A13CODORG = @AGNT  THEN 1 
						ELSE 0 END		*/
		GROUP BY  T1O3.A13CODORG) AS P
		WHERE	P.A13CODORG =crv_PEND_SINT.A13CODORG
				
-- total de contratos no período por AGENTE MES ANT
UPDATE		crv_PEND_SINT
	SET		QTDE_ANT = (
    SELECT		COUNT(*) as CONTRATO 
		FROM	CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK),  -- AGENTE
				(SELECT OPNROPER,OPCODORG3,OPDTLIQ,OPDTBASE FROM CDCSANTANAMicroCredito..COPER		(NOLOCK)
					WHERE	OPDTLIQ IS NULL 
						AND OPDTBASE  between @DT_INI AND @DT_FIM ) AS OP, 
				CDCSANTANAMicroCredito..TORG3 T3	(NOLOCK)   -- OPERADOR
		WHERE	
--OPDTLIQ IS NULL AND OPDTBASE  between @DT_INI AND @DT_FIM AND
				OPCODORG3   = T3.O3CODORG 
			AND T3.O3CODORGA13 = T1O3.A13CODORG
			And T1O3.A13CODORG = crv_PEND_SINT.A13CODORG )


UPDATE		crv_PEND_SINT
	SET		 PRC_ANT = (QTDE_PEND_ANT/QTDE_ANT) * 100.0  -- CALCULO DO PERCENTUAL


select * FROM	crv_PEND_SINT	(NOLOCK)
-- ALTERADOS DESATIVADOS EM 13/9/17
	WHERE 1=0 + CASE WHEN @AGNT =99  AND AGATIVO = 'S'  THEN 1	-- TODOS AGENTES ATIVOS
					 WHEN @AGNT =980 AND AGATIVO <> 'S' THEN 1	-- SOH   AGENTES DESATIVADOS
					   WHEN	 @AGNT NOT IN ('99','980') AND A13CODORG = @AGNT  THEN 1	-- OUTROS		
					   ELSE  0			END	


/*
SELECT a13codOrg as AGCod, a13descr,*  FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK) 
-- 980 desativados a13codorga23 =1
SELECT a13codOrg as AGCod, a13descr,*  FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)  where a13codorga23 =1
*/
end


/*
use sig
select * FROM	crv_PEND	(NOLOCK)

 EXEC SCR_CRV_sintetico '20170531','20170801','19970101','20170531',99

select * FROM	crv_PEND_SINT	(NOLOCK)

SELECT 1.0/11.0*100.0
select a13codorg, a13descr, 

DROP   TABLE crv_PEND_SINT 
GO
CREATE TABLE crv_PEND_SINT (
A13CODORG	int,
A13DESCR	varchar(20),
AGATIVO		VARCHAR(2),
QTDE		FLOAT,
QTDE_PEND	FLOAT,
PRC			FLOAT,
VLR_RETIDO	FLOAT,
PRC_ANT		FLOAT,

QTDE_ANT		FLOAT,
QTDE_PEND_ANT	FLOAT   )



DROP   TABLE crv_PEND 
GO
CREATE TABLE crv_PEND (
OPCODPROD	varchar(6),
OPNROPER	varchar(15),
OPDTBASE	smalldatetime,
OPVLRFIN	float,
OPCODORG1	varchar(6),
O1DESCR	varchar(20),
OPCODORG2	varchar(6),
O2DESCR	varchar(30),
OPCODORG3	varchar(6),
O3DESCR	varchar(20),
OPCODORG4	varchar(6),
O4DESCR	varchar(15),
OPCODORG5	varchar(6),
O5DESCR	varchar(15),
OPCODORG6	varchar(6),
EPCODPEN	varchar(3),
EPCMPLTO	varchar(255),
OPCODCLI	varchar(15),
A13CODORG	int,
A13DESCR	varchar(20),
ABRENAVAM	varchar(11),
ABVLRTAB	float	,
ABCHASSI	varchar	(20),
ABCERTIF	varchar	(10),
ABPLACA	varchar(7),
ABMODELO	varchar(80),
CLNOMECLI	varchar(60),
CLFONEFIS	varchar(20),
CLFONECOM	varchar(20),
CLCGC	varchar(18),
DIASATRASO	int,
EPDTAGEN	smalldatetime,
EPDTPEN	smalldatetime,
EPDTCAD	smalldatetime,
EPDTLNCBX	smalldatetime,
EPDTFIM	smalldatetime )

  */







