USE sig --[Santana]
GO
/****** Object:  StoredProcedure [dbo].[SCR_DCO_SUBSTITUI_GARANT]    Script Date: set/2017  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_DCO_SUBSTITUI_GARANT' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_DCO_SUBSTITUI_GARANT] 
GO

-- EXEC SCR_DCO_SUBSTITUI_GARANT '20170801','20170831',30
-- EXEC SCR_DCO_SUBSTITUI_GARANT '20170801','20170831',99

CREATE Procedure [dbo].SCR_DCO_SUBSTITUI_GARANT (
@DT_INI SMALLDATETIME,    
@DT_FIM SMALLDATETIME,   
@AGNT   INT ) AS  

	begin
  
  
TRUNCATE TABLE crv_PEND  
  
INSERT INTO  crv_PEND (OPCODPROD, OPNROPER, OPDTBASE, OPVLRFIN, OPCODORG1, O1DESCR,  
 OPCODORG2, O2DESCR, OPCODORG3, O3DESCR,  OPCODORG4, O4DESCR,  
 OPCODORG5, O5DESCR, OPCODORG6, EPCODPEN, EPCMPLTO, OPCODCLI,  
 A13CODORG, A13DESCR, 
	ABRENAVAM, ABVLRTAB, ABCHASSI, ABCERTIF,   ABPLACA, ABMODELO, 
	CLNOMECLI, CLFONEFIS, CLFONECOM, CLCGC,  
 DIASATRASO )
--, EPDTAGEN, EPDTPEN, EPDTCAD, EPDTLNCBX, EPDTFIM)  
  
  
SELECT  distinct OPCODPROD,  O.OPNROPER, O.OPDTBASE, O.OPVLRFIN,O.OPCODORG1, T1.O1DESCR, O.OPCODORG2, T2.O2DESCR, O.OPCODORG3, T3.O3DESCR,  
  O.OPCODORG4, T4.O4DESCR, O.OPCODORG5, T5.O5DESCR, O.OPCODORG6, 
	--E.EPCODPEN, E.EPCMPLTO, O.OPCODCLI,  
	O.OPCODPRD, '', O.OPCODCLI,  
  T1O3.A13CODORG,  replace( REPLACE( replace (A13DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''), 
--	B.ABRENAVAM, B.ABVLRTAB, B.ABCHASSI, B.ABCERTIF, B.ABPLACA, B.ABMODELO, 
	'',0.0,'','','','',
  C.CLNOMECLI, C.CLFONEFIS, C.CLFONECOM, C.CLCGC,      
  ISNULL((SELECT MAX(DATEDIFF(DD, P.PADTVCTO, @DT_FIM)) 
			FROM	CDCSANTANAMicroCredito..CPARC P		(NOLOCK)
			WHERE	P.PANROPER = O.OPNROPER   
			  AND ( P.PADTMOV IS NULL OR P.PADTMOV > @DT_FIM) AND  P.PADTVAL <= @DT_FIM AND  NOT (P.PACODMOV IN ('07', '08', '09', '13', '91', '94') AND   
			  P.PADTLIQ IS NOT NULL)), 0) AS DIASATRASO
--,    E.EPDTAGEN, E.EPDTPEN, E.EPDTCAD, E.EPDTLNCBX, E.EPDTFIM   
-- SELECT *  FROM     CDCSANTANAMicroCredito..TMODA O		(NOLOCK)  TOCODCART
-- SELECT *  FROM     CDCSANTANAMicroCredito..TCART O		(NOLOCK) 
-- SELECT *  FROM     CDCSANTANAMicroCredito..TPROD O		(NOLOCK) TPCODCART 
-- SELECT *  FROM     CDCSANTANAMicroCredito..TPROD O		(NOLOCK) WHERE TPCODPRD IN (420,400)
-- SELECT *
FROM   
  (SELECT * FROM	CDCSANTANAMicroCredito..COPER O1				(NOLOCK) 
			WHERE	O1.OPCODPRD IN (420,400) ) AS O
  INNER JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.OPCODCLI = C.CLCODCLI   
/*
  INNER JOIN CDCSANTANAMicroCredito..EPEND E	(NOLOCK) ON O.OPNROPER = E.EPNROPER   
  INNER JOIN CDCSANTANAMicroCredito..TPEND TP	(NOLOCK) ON E.EPCODPEN = TP.PDCODPEN   
*/
  LEFT  JOIN CDCSANTANAMicroCredito..TORG1 T1	(NOLOCK) ON O.OPCODORG1 = T1.O1CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG2 T2	(NOLOCK) ON O.OPCODORG2 = T2.O2CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG3 T3	(NOLOCK) ON O.OPCODORG3 = T3.O3CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG4 T4	(NOLOCK) ON O.OPCODORG4 = T4.O4CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG5 T5	(NOLOCK) ON O.OPCODORG5 = T5.O5CODORG   
  LEFT JOIN CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK) ON T3.O3CODORGA13 = T1O3.A13CODORG  
WHERE
/*
 E.EPCODPEN =   '151' 
AND (E.EPDTFIM IS NULL OR E.EPDTFIM > @DT_FIM )  AND E.EPDTCAD <= @DT_FIM  
--AND O.OPCODPROD IN ('000010','000009','000030','000072','000073','000005','000004','020001','000002','000003','999999','000001','000020','020003','000011','000013','000007','002000','000026','000019','020004','000012','000014','000025','000008','020006','020002','020005','020007')   
AND E.EPDTCAD >= @DT_INI     AND E.EPDTCAD <= @DT_FIM  
*/
		O.OPDTBASE BETWEEN  @DT_INI  AND @DT_FIM  
AND    ( O.OPDTLIQ IS NULL OR O.OPDTLIQ > @DT_FIM)   
-- ALTERADOS DESATIVADOS EM 13/9/17
AND 1= 0+ CASE WHEN  @AGNT='99'  THEN 1 -- TODOS OS AGENTES
			   WHEN	 @AGNT='980' THEN 1 -- SOH OS DESATIVADOS
			   WHEN	 @AGNT NOT IN ('99','980') AND T1O3.A13CODORG = @AGNT  THEN 1
			   ELSE  0			END	
  

TRUNCATE   TABLE DCO_SUBST_GARANTIA
-- SUBSTITUICAO DE GARANTIA
INSERT	DCO_SUBST_GARANTIA
		(A13CODORG,	A13DESCR,	qtd_substitui,	vlr_substitui)
	--	A13CODORG	A13DESCR	qtd_substitui	vlr_substitui	qtd_transfer	vlr_transfer	qtd_ttl	vlr_ttl
SELECT		A13CODORG, A13DESCR, COUNT(*),0.0
	FROM	crv_PEND	(NOLOCK)
	WHERE	EPCODPEN = 420  -- OPCODPRD 420 SUBSTITUICAO GARANTIA
	GROUP BY A13CODORG, A13DESCR

-- TRANSFERENCIA DE DIVIDA
INSERT	DCO_SUBST_GARANTIA
		(A13CODORG,	A13DESCR,	qtd_transfer,	vlr_transfer)
	--	A13CODORG	A13DESCR	qtd_substitui	vlr_substitui	qtd_transfer	vlr_transfer	qtd_ttl	vlr_ttl
SELECT		A13CODORG, A13DESCR, COUNT(*),0.0
	FROM	crv_PEND	(NOLOCK)
	WHERE	EPCODPEN = 400  -- OPCODPRD 400 TRANSFERENCIA DE DIVIDA
	GROUP BY A13CODORG, A13DESCR


-- AGENTE ATIVO S N
UPDATE	DCO_SUBST_GARANTIA
	SET	AGATIVO = (SELECT CASE WHEN ISNULL(A13CODORGA23,0)=1 THEN 'S' ELSE 'N' END
					FROM	CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK)  -- AGENTE
					WHERE	DCO_SUBST_GARANTIA.A13CODORG = T1O3.A13CODORG )


--A13CODORG	A13DESCR	A13CODORGA23	A13DDDTEL	A13TEL	A13DTCAD
--1	PROMOTORA SHOPCRED	NULL	11	98514-9702	2010-01-05 00:00:00			

-- SELECT * FROM DCO_SUBST_GARANTIA

	--	A13CODORG	A13DESCR	qtd_substitui	vlr_substitui	qtd_transfer	vlr_transfer	qtd_ttl	vlr_ttl
UPDATE		DCO_SUBST_GARANTIA
	SET		 vlr_substitui = ISNULL(qtd_substitui,0.0) * 150.0  -- CALCULO
			,vlr_transfer  = ISNULL(qtd_transfer ,0.0) * 150.0  -- CALCULO
			,qtd_ttl       = ISNULL(qtd_substitui,0.0) + ISNULL(qtd_transfer ,0.0)
			,vlr_ttl       = (ISNULL(qtd_substitui,0.0) + ISNULL(qtd_transfer ,0.0)) * 150.0
			

select * FROM	DCO_SUBST_GARANTIA	(NOLOCK)
-- ALTERADOS DESATIVADOS EM 13/9/17
	WHERE 1=0 + CASE WHEN @AGNT =99  AND AGATIVO = 'S'  THEN 1	-- TODOS AGENTES ATIVOS
					 WHEN @AGNT =980 AND AGATIVO <> 'S' THEN 1	-- SOH   AGENTES DESATIVADOS
					   WHEN	 @AGNT NOT IN ('99','980') AND A13CODORG = @AGNT  THEN 1	-- OUTROS		
					   ELSE  0			END	


end


