USE sig --[Santana]
GO
/****** Object:  StoredProcedure [dbo].[scr_graf_Rolag_Consolid]    Script Date: 05/01/2017 16:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_DCO_CONF_PAGTO' AND type = 'P')
   DROP PROCEDURE [dbo].SCR_DCO_CONF_PAGTO 
GO

-- EXEC SCR_DCO_CONF_PAGTO '20170720','20170720'
-- EXEC SCR_DCO_CONF_PAGTO '20170701','20171020'

-- EXEC SCR_DCO_CONF_PAGTO '20171025','20171025'

--SCR_DCO_CONF_PAGTO '20180226', '20180226', 99, 2, 0

CREATE Procedure [dbo].SCR_DCO_CONF_PAGTO (                           
@DT_INI SMALLDATETIME,                  
@DT_FIM SMALLDATETIME,  --, @AGNT   INT SOH INTERNO           
@AGNT  INT,    
@PAGTO INT,    
@FAVOR INT      
 ) AS                      
              
 begin              
              
              
                
/*                
DROP   TABLE DCO_CONF_PGTO_RES              
GO              
CREATE TABLE DCO_CONF_PGTO_RES (              
A13CODORG int,              
A13DESCR varchar(20),              
OPNROPER varchar(15),              
OPDTBASE smalldatetime,              
OPCODCLI varchar(15),              
OPNOMEBNF varchar(200),                        
ABRENAVAM varchar(11),              
DCFAVNOME varchar(200),              
DCVALOR float ,              
ABCHASSI varchar (20),                       
ABUFLCPL varchar (10),              
EPDTLNC  DATETIME,              
EPHORALNC DATETIME,
OPCODORG3 VARCHAR(10),
OPERADOR VARCHAR(200),
NRRENAVAM VARCHAR(11),
OPCODORG4 VARCHAR(10),
LOJA VARCHAR(200),
CODPROD VARCHAR(100),
DCVALOR_ACESSORIOS  FLOAT,
DCVALOR_BOLETO FLOAT,
DCVALOR_PAGFROTA  FLOAT,
CODMOV VARCHAR(5))                 


SELECT * FROM DCO_CONF_PGTO
              
*/       
TRUNCATE TABLE DCO_CONF_PGTO_RES                
    
IF @AGNT = '99'    
BEGIN                
  INSERT INTO  DCO_CONF_PGTO_RES              
  SELECT              
  O3CODORG,O3DESCR,              
  OPNROPER,              
  OPDTBASE,              
  OPCODCLI,              
  OPNOMEBNF,               
  '' AS ABRENAVAM,                      
  --B.DCFAVNOME, B.DCVALOR,              
  '','' ,           
  '' AS ABCHASSI,              
  '' AS ABUFLCPL,              
  ISNULL(EP,OPDTBASE),     
   ISNULL(EPHORALNC,'') , OPCODORG6, '','' AS NRRENAVAM,               
   OPCODORG4, '',           
   OPCODPROD,
   '','','',''        
  FROM (SELECT * FROM CDCSANTANAMICROCREDITO..COPER AS OP1 (NOLOCK)              
    WHERE OPDTBASE BETWEEN  @DT_INI AND @DT_FIM) AS OP              
              
  INNER JOIN CDCSANTANAMICROCREDITO..TORG6 WITH (NOLOCK) ON OPCODORG6 = O6CODORG              
  INNER JOIN CDCSANTANAMICROCREDITO..TORG3 WITH (NOLOCK)ON O6CODORG3 = O3CODORG              
  LEFT  JOIN (SELECT  EPNRPROP,MAX(EPDTLNC +EPHORALNC) AS EP,MAX(EPHORALNC) AS EPHORALNC              
     FROM PROPWEBSMC..EPROP (NOLOCK)               
     WHERE EPNRDECI = '22' -- PAGAMENTO DA REMESSA              
     GROUP BY  EPNRPROP ) AS P              
   ON EPNRPROP = OPNRPROP              
  --LEFT  JOIN (select   DCNROPER, DCFAVNOME, DCVALOR              
  -- FROM  CDCSANTANAMICROCREDITO..CDOCS AS B1  (NOLOCK)                       
  --   ) AS B              
  -- ON   OP.OPNROPER=B.DCNROPER          
     
                  
  DELETE FROM  DCO_CONF_PGTO_RES                 
   WHERE RIGHT(OPNROPER,1) IN ('A','B','C','D','E','F','G') -- REMOVE RENEGS              
              
              
  -- 30/10/17 AJUSTA NOME DO OPERADOR              
  UPDATE  DCO_CONF_PGTO_RES                
   SET  OPERADOR= B.O6DESCR    --  SELECT *              
   FROM CDCSANTANAMicroCredito..TORG6 B (NOLOCK)               
   WHERE DCO_CONF_PGTO_RES.OPCODORG3 = B.O6CODORG              
              
  -- 10/01/18 AJUSTA NOME DA LOJA         
  UPDATE  DCO_CONF_PGTO_RES                
   SET  LOJA= B.O4DESCR    --  SELECT *              
   FROM CDCSANTANAMicroCredito..TORG4 B (NOLOCK)                  WHERE DCO_CONF_PGTO_RES.OPCODORG4 = B.O4CODORG              
                    
              
  -- ajusta os dados da Garantia              
  UPDATE  DCO_CONF_PGTO_RES                
   SET  ABRENAVAM= B.ABPLACA, -- USO O RENAVAM PARA A PLACA              
     ABCHASSI=B.ABCHASSI, ABUFLCPL=B.ABUFLCPL              
   FROM CDCSANTANAMicroCredito..CBFIN B (NOLOCK)               
   WHERE B.ABNROPER=DCO_CONF_PGTO_RES.OPNROPER              
    AND B.ABCNTRL = ( SELECT     MAX(ABCNTRL) FROM     CDCSANTANAMICROCREDITO..CBFIN B1 (NOLOCK)              
            WHERE B1.ABNROPER = B.ABNROPER ) --  AND B1.ABNRGAR IN ('01','1' ) )              
              
  -- ajusta os dados do CLIENTE NOME E NAO DO BENEFICIARIO              
  UPDATE  DCO_CONF_PGTO_RES                
   SET  OPNOMEBNF= B.CLNOMECLI              
   FROM CDCSANTANAMicroCredito..CCLIE B (NOLOCK)               
   WHERE B.CLCODCLI=DCO_CONF_PGTO_RES.OPCODCLI              
              
  -- insere número do renavam              
  UPDATE  DCO_CONF_PGTO_RES                
   SET  NRRENAVAM= B.ABRENAVAM              
   FROM CDCSANTANAMicroCredito..CBFIN B (NOLOCK)               
   WHERE B.ABNROPER=DCO_CONF_PGTO_RES.OPNROPER              
    AND B.ABCNTRL = ( SELECT     MAX(ABCNTRL) FROM     CDCSANTANAMICROCREDITO..CBFIN B1 (NOLOCK)              
            WHERE B1.ABNROPER = B.ABNROPER )              
          
  --altera nome favorecido  
  UPDATE DCO_CONF_PGTO_RES
  SET DCFAVNOME = B.DCFAVNOME, DCVALOR = B.DCVALOR FROM(
 SELECT   DCNROPER, DCFAVNOME, SUM(DCVALOR) AS DCVALOR            
 FROM  CDCSANTANAMICROCREDITO..CDOCS AS B1  (NOLOCK)  
	WHERE (B1.DCFAVNOME <> 'SCFI-PGFR' AND B1.DCCODMOV IN ('505') AND B1.DCVALOR > 900.00)
	OR (B1.DCFAVNOME <> 'SCFI-PGFR' AND B1.DCCODMOV NOT IN ('505','506'))
	GROUP BY B1.DCNROPER, B1.DCFAVNOME     ) AS B              
   WHERE   OPNROPER=B.DCNROPER  
  

  UPDATE DCO_CONF_PGTO_RES
  SET DCVALOR_PAGFROTA = B.DCVALOR FROM(
	 SELECT   DCNROPER, DCFAVNOME, SUM(DCVALOR) AS DCVALOR              
	FROM  CDCSANTANAMICROCREDITO..CDOCS AS B1  (NOLOCK)  
	WHERE B1.DCFAVNOME = 'SCFI-PGFR' AND B1.DCCODMOV = '501'
	GROUP BY B1.DCNROPER, B1.DCFAVNOME) AS B WHERE   
	OPNROPER=B.DCNROPER 

  --UPDATE DCO_CONF_PGTO_RES            
  --SET DCFAVNOME = 'BOLETO'            
  --FROM CDCSANTANAMICROCREDITO..CDOCS WHERE DCDTEMISS BETWEEN @DT_INI AND @DT_FIM AND DCCODMOV ='506'            
  --AND DCNROPER = OPNROPER AND DCO_CONF_PGTO_RES.DCFAVNOME = 'SCFI-PGFR'     
  --AND DCO_CONF_PGTO_RES.DCVALOR = (SELECT MAX(V.DCVALOR) FROM DCO_CONF_PGTO_RES V WHERE V.OPNROPER = DCO_CONF_PGTO_RES.OPNROPER AND DCO_CONF_PGTO_RES.DCFAVNOME = 'SCFI-PGFR')            
 
 --25/02/2019 TIAGO   
 UPDATE DCO_CONF_PGTO_RES
 SET DCVALOR_BOLETO = B.DCVALOR FROM(
 SELECT   DCNROPER, DCFAVNOME, SUM(DCVALOR) AS DCVALOR              
 FROM  CDCSANTANAMICROCREDITO..CDOCS AS B1  (NOLOCK)  
	WHERE B1.DCCODMOV ='506'            
	AND B1.DCFAVNOME = 'SCFI-PGFR' GROUP BY B1.DCNROPER, B1.DCFAVNOME) AS B              
   WHERE   OPNROPER=B.DCNROPER     
    
  --UPDATE DCO_CONF_PGTO_RES            
  --SET DCFAVNOME = 'ACESSÓRIOS'            
  --FROM CDCSANTANAMICROCREDITO..CDOCS WHERE DCDTEMISS BETWEEN @DT_INI AND @DT_FIM AND DCCODMOV ='505'            
  --AND DCNROPER = OPNROPER     
  --AND DCO_CONF_PGTO_RES.DCFAVNOME <> 'SCFI-PGFR' AND DCO_CONF_PGTO_RES.DCVALOR < 700.00    

 UPDATE DCO_CONF_PGTO_RES
 SET DCVALOR_ACESSORIOS = B.DCVALOR FROM(
 SELECT   DCNROPER, DCFAVNOME, SUM(DCVALOR) AS DCVALOR              
 FROM  CDCSANTANAMICROCREDITO..CDOCS AS B1  (NOLOCK)  
	WHERE DCCODMOV ='505'  AND B1.DCFAVNOME <> 'SCFI-PGFR' AND B1.DCVALOR <= 900.00
	GROUP BY B1.DCNROPER, B1.DCFAVNOME) AS B              
	WHERE   OPNROPER=B.DCNROPER         
        
		  
  UPDATE DCO_CONF_PGTO_RES        
  SET CODPROD = CODPROD + ' - ' + TPDESCR        
  FROM PROPWEBSMC..TPROD (NOLOCK) INNER JOIN DCO_CONF_PGTO_RES (NOLOCK)        
  ON TPCODPRD = CODPROD        
        
                
  SELECT A13CODORG,A13DESCR,OPNROPER,OPDTBASE,OPCODCLI,OPNOMEBNF,ABRENAVAM,NRRENAVAM,DCFAVNOME,              
  DCVALOR,DCVALOR_PAGFROTA, DCVALOR_BOLETO, DCVALOR_ACESSORIOS, ABCHASSI,ABUFLCPL,EPDTLNC,              
  --CAST(EPHORALNC AS TIME) AS EPHORALNC              
  ltrim(right(convert(varchar(25), EPHORALNC, 120), 8))  AS EPHORALNC, OPCODORG3, OPERADOR              
  , OPCODORG4, LOJA, CODPROD              
  FROM DCO_CONF_PGTO_RES (NOLOCK)    
  WHERE 1= 0+ CASE WHEN  @PAGTO='0' THEN 1     
   WHEN  @PAGTO = '1' AND A13CODORG = 149 THEN 1    
   WHEN  @PAGTO = '2' AND A13CODORG <> 149 THEN 1    
   END      
  AND 1= 0+ CASE WHEN @FAVOR='0' THEN 1     
   WHEN  @FAVOR = '1' AND DCFAVNOME NOT IN ('BOLETO', 'ACESSÓRIOS', 'SCFI-PGFR') THEN 1    
   WHEN  @FAVOR = '2' AND DCFAVNOME IN ('BOLETO') THEN 1    
   WHEN  @FAVOR = '3' AND DCFAVNOME IN ('SCFI-PGFR') THEN 1    
   WHEN  @FAVOR = '4' AND DCFAVNOME IN ('ACESSÓRIOS') THEN 1    
   END                   
  ORDER BY OPDTBASE, OPNROPER              
    
END    
    
IF @AGNT <> '99'    
BEGIN    
  INSERT INTO  DCO_CONF_PGTO_RES              
  SELECT              
  O3CODORG,O3DESCR,              
  OPNROPER,              
  OPDTBASE,              
  OPCODCLI,              
  OPNOMEBNF,               
  '' AS ABRENAVAM,                      
  --'TOTAL' AS DCFAVNOME,   
  --SUM(B.DCVALOR),              
  '','',
  '' AS ABCHASSI,              
  '' AS ABUFLCPL,              
  ISNULL(EP,OPDTBASE),     
  ISNULL(EPHORALNC,'') , OPCODORG6, '','' AS NRRENAVAM,               
  OPCODORG4, '',           
  OPCODPROD ,
  '','','',''         
  FROM (SELECT * FROM CDCSANTANAMICROCREDITO..COPER AS OP1 (NOLOCK) WHERE OPDTBASE BETWEEN @DT_INI AND @DT_FIM) AS OP              
  INNER JOIN CDCSANTANAMICROCREDITO..TORG6 WITH (NOLOCK) ON OPCODORG6 = O6CODORG              
  INNER JOIN CDCSANTANAMICROCREDITO..TORG3 WITH (NOLOCK)ON O6CODORG3 = O3CODORG              
  LEFT  JOIN (SELECT  EPNRPROP,MAX(EPDTLNC +EPHORALNC) AS EP,MAX(EPHORALNC) AS EPHORALNC              
  FROM PROPWEBSMC..EPROP (NOLOCK)               
  WHERE EPNRDECI = '22' -- PAGAMENTO DA REMESSA              
  GROUP BY  EPNRPROP ) AS P              
  ON EPNRPROP = OPNRPROP              
  --LEFT  JOIN (SELECT   DCNROPER, DCFAVNOME, DCVALOR AS DCVALOR     
  --FROM  CDCSANTANAMICROCREDITO..CDOCS AS B1  (NOLOCK)                       
  --) AS B              
  --ON   OP.OPNROPER=B.DCNROPER        
  WHERE O3CODORG = @AGNT    
  GROUP BY O3CODORG, O3DESCR, OPNROPER,OPDTBASE, OPCODCLI, OPNOMEBNF, EP, EPHORALNC,OPCODORG6, OPCODORG4, OPCODPROD    
  ORDER BY OP.OPNROPER     
     
                  
  DELETE FROM  DCO_CONF_PGTO_RES                 
   WHERE RIGHT(OPNROPER,1) IN ('A','B','C','D','E','F','G') -- REMOVE RENEGS              
              
              
  -- 30/10/17 AJUSTA NOME DO OPERADOR              
  UPDATE  DCO_CONF_PGTO_RES                
   SET  OPERADOR= B.O6DESCR    --  SELECT *              
   FROM CDCSANTANAMicroCredito..TORG6 B (NOLOCK)               
   WHERE DCO_CONF_PGTO_RES.OPCODORG3 = B.O6CODORG              
              
  -- 10/01/18 AJUSTA NOME DA LOJA         
  UPDATE  DCO_CONF_PGTO_RES                
   SET  LOJA= B.O4DESCR    --  SELECT *              
   FROM CDCSANTANAMicroCredito..TORG4 B (NOLOCK)               
   WHERE DCO_CONF_PGTO_RES.OPCODORG4 = B.O4CODORG              
                    
              
  -- ajusta os dados da Garantia              
  UPDATE  DCO_CONF_PGTO_RES                
   SET  ABRENAVAM= B.ABPLACA, -- USO O RENAVAM PARA A PLACA              
     ABCHASSI=B.ABCHASSI, ABUFLCPL=B.ABUFLCPL              
   FROM CDCSANTANAMicroCredito..CBFIN B (NOLOCK)               
   WHERE B.ABNROPER=DCO_CONF_PGTO_RES.OPNROPER              
    AND B.ABCNTRL = ( SELECT     MAX(ABCNTRL) FROM     CDCSANTANAMICROCREDITO..CBFIN B1 (NOLOCK)              
            WHERE B1.ABNROPER = B.ABNROPER ) --  AND B1.ABNRGAR IN ('01','1' ) )              
              
  -- ajusta os dados do CLIENTE NOME E NAO DO BENEFICIARIO              
  UPDATE  DCO_CONF_PGTO_RES                
   SET  OPNOMEBNF= B.CLNOMECLI              
   FROM CDCSANTANAMicroCredito..CCLIE B (NOLOCK)               
   WHERE B.CLCODCLI=DCO_CONF_PGTO_RES.OPCODCLI              
              
  -- insere número do renavam              
  UPDATE  DCO_CONF_PGTO_RES                
   SET  NRRENAVAM= B.ABRENAVAM              
   FROM CDCSANTANAMicroCredito..CBFIN B (NOLOCK)               
   WHERE B.ABNROPER=DCO_CONF_PGTO_RES.OPNROPER              
    AND B.ABCNTRL = ( SELECT     MAX(ABCNTRL) FROM     CDCSANTANAMICROCREDITO..CBFIN B1 (NOLOCK)              
            WHERE B1.ABNROPER = B.ABNROPER )      
                
  --altera nome favorecido  
  UPDATE DCO_CONF_PGTO_RES
  SET DCFAVNOME = B.DCFAVNOME, DCVALOR = B.DCVALOR FROM(
 SELECT   DCNROPER, DCFAVNOME, SUM(DCVALOR) AS DCVALOR            
 FROM  CDCSANTANAMICROCREDITO..CDOCS AS B1  (NOLOCK)  
	WHERE B1.DCDTEMISS BETWEEN @DT_INI AND @DT_FIM AND B1.DCFAVNOME <> 'SCFI-PGFR' AND DCCODMOV NOT IN ('505','506')
	GROUP BY B1.DCNROPER, B1.DCFAVNOME     ) AS B              
   WHERE   OPNROPER=B.DCNROPER  
  

  UPDATE DCO_CONF_PGTO_RES
  SET DCVALOR_PAGFROTA = B.DCVALOR FROM(
	 SELECT   DCNROPER, DCFAVNOME, DCVALOR              
	FROM  CDCSANTANAMICROCREDITO..CDOCS AS B1  (NOLOCK)  
	WHERE B1.DCDTEMISS BETWEEN @DT_INI AND @DT_FIM AND B1.DCFAVNOME = 'SCFI-PGFR') AS B WHERE   OPNROPER=B.DCNROPER 

  --UPDATE DCO_CONF_PGTO_RES            
  --SET DCFAVNOME = 'BOLETO'            
  --FROM CDCSANTANAMICROCREDITO..CDOCS WHERE DCDTEMISS BETWEEN @DT_INI AND @DT_FIM AND DCCODMOV ='506'            
  --AND DCNROPER = OPNROPER AND DCO_CONF_PGTO_RES.DCFAVNOME = 'SCFI-PGFR'     
  --AND DCO_CONF_PGTO_RES.DCVALOR = (SELECT MAX(V.DCVALOR) FROM DCO_CONF_PGTO_RES V WHERE V.OPNROPER = DCO_CONF_PGTO_RES.OPNROPER AND DCO_CONF_PGTO_RES.DCFAVNOME = 'SCFI-PGFR')            
 
 --25/02/2019 TIAGO   
 UPDATE DCO_CONF_PGTO_RES
 SET DCVALOR_BOLETO = B.DCVALOR FROM(
 SELECT   DCNROPER, DCFAVNOME, DCVALOR              
 FROM  CDCSANTANAMICROCREDITO..CDOCS AS B1  (NOLOCK)  
	WHERE B1.DCDTEMISS BETWEEN @DT_INI AND @DT_FIM AND B1.DCCODMOV ='506'            
	AND B1.DCFAVNOME = 'SCFI-PGFR') AS B              
   WHERE   OPNROPER=B.DCNROPER     
    
  --UPDATE DCO_CONF_PGTO_RES            
  --SET DCFAVNOME = 'ACESSÓRIOS'            
  --FROM CDCSANTANAMICROCREDITO..CDOCS WHERE DCDTEMISS BETWEEN @DT_INI AND @DT_FIM AND DCCODMOV ='505'            
  --AND DCNROPER = OPNROPER     
  --AND DCO_CONF_PGTO_RES.DCFAVNOME <> 'SCFI-PGFR' AND DCO_CONF_PGTO_RES.DCVALOR < 700.00    

 UPDATE DCO_CONF_PGTO_RES
 SET DCVALOR_ACESSORIOS = B.DCVALOR FROM(
 SELECT   DCNROPER, DCFAVNOME, DCVALOR              
 FROM  CDCSANTANAMICROCREDITO..CDOCS AS B1  (NOLOCK)  
	WHERE DCDTEMISS BETWEEN @DT_INI AND @DT_FIM AND DCCODMOV ='505'  
	AND B1.DCFAVNOME <> 'SCFI-PGFR' AND B1.DCVALOR <= 900.00) AS B              
	WHERE   OPNROPER=B.DCNROPER         
        
		  
  UPDATE DCO_CONF_PGTO_RES        
  SET CODPROD = CODPROD + ' - ' + TPDESCR        
  FROM PROPWEBSMC..TPROD (NOLOCK) INNER JOIN DCO_CONF_PGTO_RES (NOLOCK)        
  ON TPCODPRD = CODPROD        
        
                
  SELECT A13CODORG,A13DESCR,OPNROPER,OPDTBASE,OPCODCLI,OPNOMEBNF,ABRENAVAM,NRRENAVAM,DCFAVNOME,              
  DCVALOR,DCVALOR_PAGFROTA, DCVALOR_BOLETO, DCVALOR_ACESSORIOS, ABCHASSI,ABUFLCPL,EPDTLNC,              
  --CAST(EPHORALNC AS TIME) AS EPHORALNC              
  ltrim(right(convert(varchar(25), EPHORALNC, 120), 8))  AS EPHORALNC, OPCODORG3, OPERADOR              
  , OPCODORG4, LOJA, CODPROD              
  FROM DCO_CONF_PGTO_RES (NOLOCK)    
  WHERE 1= 0+ CASE WHEN  @PAGTO='0' THEN 1     
   WHEN  @PAGTO = '1' AND A13CODORG = 149 THEN 1    
   WHEN  @PAGTO = '2' AND A13CODORG <> 149 THEN 1    
   END      
  AND 1= 0+ CASE WHEN @FAVOR='0' THEN 1     
   WHEN  @FAVOR = '1' AND DCFAVNOME NOT IN ('BOLETO', 'ACESSÓRIOS', 'SCFI-PGFR') THEN 1    
   WHEN  @FAVOR = '2' AND DCFAVNOME IN ('BOLETO') THEN 1    
   WHEN  @FAVOR = '3' AND DCFAVNOME IN ('SCFI-PGFR') THEN 1    
   WHEN  @FAVOR = '4' AND DCFAVNOME IN ('ACESSÓRIOS') THEN 1    
   END                   
  ORDER BY OPDTBASE, OPNROPER   
  END              
              
              
end 