USE sig --[Santana]
GO
/****** Object:  StoredProcedure [dbo].SCR_DCO_PendGravames    Script Date: 05/01/2017 16:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_DCO_PendenciaGravames' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_DCO_PendenciaGravames] 
GO

/*
SCR_DCO_PendenciaGravames '20170801', '20170831', '99'
   DROP PROCEDURE [dbo].[SCR_DCO_PendGravames] 
   DROP PROCEDURE [dbo].[SCR_PendGravames] 
   DROP PROCEDURE [dbo].[SCR_DCO_PendenciaGravames] 
*/
CREATE Procedure [dbo].SCR_DCO_PendenciaGravames (      
         @DT_INI SMALLDATETIME,          
         @DT_FIM SMALLDATETIME,         
         @AGNT   INT ) AS        
      
      
 begin      
      
/*       
DROP   TABLE DCO_PENDGravames      
GO      
      
CREATE TABLE DCO_PENDGravames (      
OPCODPROD varchar(6),      
OPNROPER varchar(15),      
OPDTBASE smalldatetime,      
OPVLRFIN float,      
OPCODORG1 varchar(6),      
O1DESCR varchar(20),      
OPCODORG2 varchar(6),      
O2DESCR varchar(30),      
OPCODORG3 varchar(6),      
O3DESCR varchar(20),      
OPCODORG4 varchar(6),      
O4DESCR varchar(15),      
OPCODORG5 varchar(6),      
O5DESCR varchar(15),      
OPCODORG6 varchar(6),      
EPCODPEN varchar(3),      
EPCMPLTO varchar(255),      
OPCODCLI varchar(15),      
A13CODORG int,      
A13DESCR varchar(20),      
CLNOMECLI varchar(60),      
CLFONEFIS varchar(20),      
CLFONECOM varchar(20),      
CLCGC varchar(18),      
DIASATRASO int,      
DOCUMENTO varchar(200),  -- obs      
VLR_LIBERADO FLOAT,      
VLR_PRODUCAO FLOAT,      
VLR_DEBITO  FLOAT,      
prc_pend  FLOAT,      
EPDTAGEN smalldatetime,      
EPDTPEN smalldatetime,      
EPDTCAD smalldatetime,      
EPDTLNCBX smalldatetime,      
EPDTFIM smalldatetime )      
      
CREATE INDEX DCO_PENDGravames_IDX1 ON DCO_PENDGravames (OPNROPER)      
      
ALTER TABLE DCO_PENDGravames ADD       
ABMODELO varchar(80),      
ABPLACA  varchar(7),      
ABCHASSI varchar(20),      
ABRENAVAM varchar(11)      
      
ALTER TABLE DCO_PENDGravames ADD OPNRPROP VARCHAR(20)
  */      
        
TRUNCATE TABLE DCO_PENDGravames         
        
INSERT INTO  DCO_PENDGravames  (OPCODPROD, OPNROPER, OPDTBASE, OPVLRFIN, OPCODORG1, O1DESCR,        
 OPCODORG2, O2DESCR, OPCODORG3, O3DESCR,  OPCODORG4, O4DESCR,        
 OPCODORG5, O5DESCR, OPCODORG6, EPCODPEN, EPCMPLTO, OPCODCLI,        
 A13CODORG, A13DESCR,       
 CLNOMECLI, CLFONEFIS, CLFONECOM, CLCGC,        
 DIASATRASO, EPDTAGEN, EPDTPEN, EPDTCAD, EPDTLNCBX, EPDTFIM, OPNRPROP)        
        
        
SELECT  distinct OPCODPROD,  O.OPNROPER, O.OPDTBASE, O.OPVLRFIN,O.OPCODORG1, T1.O1DESCR, O.OPCODORG2, T2.O2DESCR, O.OPCODORG3, T3.O3DESCR,        
  O.OPCODORG4, T4.O4DESCR, O.OPCODORG5, T5.O5DESCR, O.OPCODORG6, E.EPCODPEN, E.EPCMPLTO, O.OPCODCLI,       
 -- 16/4/18 ******* ORIGENS PROMOTOR      
  O.OPCODORG3,  replace( REPLACE( replace (O3DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''),        
--  T1O3.A13CODORG,  replace( REPLACE( replace (A13DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''),       
  C.CLNOMECLI, C.CLFONEFIS, C.CLFONECOM, C.CLCGC,            
  ISNULL((SELECT MAX(DATEDIFF(DD, P.PADTVCTO, GETDATE()))       
   FROM CDCSANTANAMicroCredito..CPARC P  (NOLOCK)      
   WHERE P.PANROPER = O.OPNROPER         
     AND ( P.PADTMOV IS NULL OR P.PADTMOV > @DT_FIM) AND  P.PADTVAL <= @DT_FIM AND  NOT (P.PACODMOV IN ('07', '08', '09', '13', '91', '94') AND         
     P.PADTLIQ IS NOT NULL)), 0) AS DIASATRASO,         
  E.EPDTAGEN, E.EPDTPEN, E.EPDTCAD, E.EPDTLNCBX, E.EPDTFIM, OPNRPROP        
        
FROM         
    CDCSANTANAMicroCredito..COPER O    (NOLOCK)      
  INNER JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.OPCODCLI = C.CLCODCLI         
  INNER JOIN CDCSANTANAMicroCredito..EPEND E (NOLOCK) ON O.OPNROPER = E.EPNROPER         
  INNER JOIN CDCSANTANAMicroCredito..TPEND TP (NOLOCK) ON E.EPCODPEN = TP.PDCODPEN         
      
  LEFT  JOIN CDCSANTANAMicroCredito..TORG1 T1 (NOLOCK) ON O.OPCODORG1 = T1.O1CODORG         
  LEFT  JOIN CDCSANTANAMicroCredito..TORG2 T2 (NOLOCK) ON O.OPCODORG2 = T2.O2CODORG         
 -- O3 PROMOTORA 16/4/18      
  LEFT  JOIN CDCSANTANAMicroCredito..TORG3 T3 (NOLOCK) ON O.OPCODORG3 = T3.O3CODORG         
  LEFT  JOIN CDCSANTANAMicroCredito..TORG4 T4 (NOLOCK) ON O.OPCODORG4 = T4.O4CODORG         
  LEFT  JOIN CDCSANTANAMicroCredito..TORG5 T5 (NOLOCK) ON O.OPCODORG5 = T5.O5CODORG         
 -- O6 OPERADOR 16/4/18      
  LEFT  JOIN CDCSANTANAMicroCredito..TORG6 T6 (NOLOCK) ON O.OPCODORG6 = T6.O6CODORG         
      
--  LEFT JOIN CDCSANTANAMicroCredito..TA1O3 T1O3 (NOLOCK) ON T3.O3CODORGA13 = T1O3.A13CODORG        
WHERE  E.EPCODPEN IN ( '200','407','507')  -- pend de gravames      
and ( O.OPDTLIQ IS NULL OR O.OPDTLIQ > @DT_FIM)         
AND O.OPDTBASE <= @DT_FIM   -- somente Pendentes OR E.EPDTFIM > @DT_FIM      
AND (E.EPDTFIM IS NULL  )  AND E.EPDTCAD <= @DT_FIM        
AND E.EPDTCAD >= @DT_INI        
AND E.EPDTCAD <= @DT_FIM        
AND 1= 0+ CASE WHEN  @AGNT='99' THEN 1 -- TODOS OS AGENTES      
      WHEN  @AGNT<>'99' AND OPCODORG3 = @AGNT  THEN 1      
--      WHEN  @AGNT<>'99' AND T1O3.A13CODORG = @AGNT  THEN 1      
      ELSE  0   END       
      
      
-- insere as operacoes da SERVICE CF CADASTRO de usuario complementar      
IF @AGNT<>'99'      
-- select * from usuario_svc      
INSERT INTO  DCO_PENDGravames (OPCODPROD, OPNROPER, OPDTBASE, OPVLRFIN, OPCODORG1, O1DESCR,        
 OPCODORG2, O2DESCR, OPCODORG3, O3DESCR,  OPCODORG4, O4DESCR,        
 OPCODORG5, O5DESCR, OPCODORG6, EPCODPEN, EPCMPLTO, OPCODCLI,        
 A13CODORG, A13DESCR,       
 CLNOMECLI, CLFONEFIS, CLFONECOM, CLCGC,        
 DIASATRASO, EPDTAGEN, EPDTPEN, EPDTCAD, EPDTLNCBX, EPDTFIM)        
        
        
SELECT  distinct OPCODPROD,  O.OPNROPER, O.OPDTBASE, O.OPVLRFIN,O.OPCODORG1, T1.O1DESCR, O.OPCODORG2, T2.O2DESCR, O.OPCODORG3, T3.O3DESCR,        
  O.OPCODORG4, T4.O4DESCR, O.OPCODORG5, T5.O5DESCR, O.OPCODORG6, E.EPCODPEN, E.EPCMPLTO, O.OPCODCLI,       
  O.OPCODORG3,  replace( REPLACE( replace (O3DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''),        
--  T1O3.A13CODORG,  replace( REPLACE( replace (A13DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''),       
  C.CLNOMECLI, C.CLFONEFIS, C.CLFONECOM, C.CLCGC,            
  ISNULL((SELECT MAX(DATEDIFF(DD, P.PADTVCTO, GETDATE()))       
   FROM CDCSANTANAMicroCredito..CPARC P  (NOLOCK)      
   WHERE P.PANROPER = O.OPNROPER         
     AND ( P.PADTMOV IS NULL OR P.PADTMOV > @DT_FIM) AND  P.PADTVAL <= @DT_FIM AND  NOT (P.PACODMOV IN ('07', '08', '09', '13', '91', '94') AND         
     P.PADTLIQ IS NOT NULL)), 0) AS DIASATRASO,         
  E.EPDTAGEN, E.EPDTPEN, E.EPDTCAD, E.EPDTLNCBX, E.EPDTFIM         
        
FROM   CDCSANTANAMicroCredito..COPER O (NOLOCK)      
  INNER JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.OPCODCLI = C.CLCODCLI         
  INNER JOIN CDCSANTANAMicroCredito..EPEND E (NOLOCK) ON O.OPNROPER = E.EPNROPER         
  INNER JOIN CDCSANTANAMicroCredito..TPEND TP (NOLOCK) ON E.EPCODPEN = TP.PDCODPEN         
  INNER  JOIN CDCSANTANAMicroCredito..TORG1 T1 (NOLOCK) ON O.OPCODORG1 = T1.O1CODORG         
  INNER  JOIN CDCSANTANAMicroCredito..TORG2 T2 (NOLOCK) ON O.OPCODORG2 = T2.O2CODORG         
 -- O3 PROMOTOR      
  INNER  JOIN CDCSANTANAMicroCredito..TORG3 T3 (NOLOCK) ON O.OPCODORG3 = T3.O3CODORG         
      
  INNER  JOIN CDCSANTANAMicroCredito..TORG4 T4 (NOLOCK) ON O.OPCODORG4 = T4.O4CODORG         
  INNER  JOIN CDCSANTANAMicroCredito..TORG5 T5 (NOLOCK) ON O.OPCODORG5 = T5.O5CODORG         
 -- O6 OPERADOR      
  --INNER  JOIN CDCSANTANAMicroCredito..TORG6 T6 (NOLOCK) ON O.OPCODORG6 = T6.O6CODORG         
  INNER  JOIN (SELECT * FROM CDCSANTANAMicroCredito..TORG6 TAUX6 (NOLOCK)       
    where convert(int,o6codorg) in (select distinct codOperador from usuario_svc S1 (NOLOCK)  where codAgente=@AGNT) ) AS T6      
    ON O.OPCODORG6 = T6.O6CODORG        
/*  -- OPERADOR      
  INNER  JOIN (select * from CDCSANTANAMicroCredito..TORG3 T3a (NOLOCK)      
    where convert(int,o3codorg) in (select distinct codOperador from usuario_svc S1 (NOLOCK)  where codAgente=@AGNT)      
       ) as T3-- SERVICE      
  ON O.OPCODORG3 = T3.O3CODORG         
  INNER JOIN CDCSANTANAMicroCredito..TA1O3 T1O3 (NOLOCK)       
   ON  T1O3.A13CODORG = T3.O3CODORGA13   */      
WHERE  E.EPCODPEN IN ( '200','407','507')  -- pend de gravames      
 AND   ( O.OPDTLIQ IS NULL OR O.OPDTLIQ > @DT_FIM)         
 AND O.OPDTBASE <= @DT_FIM   -- somente Pendentes OR E.EPDTFIM > @DT_FIM       
 AND (E.EPDTFIM IS NULL  )  AND E.EPDTCAD <= @DT_FIM        
 AND E.EPDTCAD >= @DT_INI        
 AND E.EPDTCAD <= @DT_FIM        
 -- FILTRO OK PELO JOIN      
      
-- REMOVE PEND CONTRATO ********** SEM RENEG  em 20/10/17 ***********      
-- SELECT * FROM  DCO_PENDContrato         
DELETE  FROM  DCO_PENDGravames         
 WHERE RIGHT(OPNROPER,1) IN ('A','B','C','D') -- REMOVE RENEGS      
      
      
-- ajusta os dados da Garantia *******************      
UPDATE  DCO_PENDGravames        
 SET  ABRENAVAM= B.ABRENAVAM, ABCHASSI=B.ABCHASSI,       
   ABPLACA  = B.ABPLACA, ABMODELO=B.ABMODELO    -- SELECT *      
 FROM CDCSANTANAMicroCredito..CBFIN B (NOLOCK)       
 WHERE B.ABNROPER=DCO_PENDGravames.OPNROPER      
  AND B.ABNRGAR = (SELECT  MAX(BX.ABNRGAR) FROM CDCSANTANAMicroCredito..CBFIN BX (NOLOCK)       
       WHERE BX.ABNROPER = DCO_PENDGravames.OPNROPER )       
/*      
SELECT * FROM DCO_PENDGravames      
      
  AND    B.ABCNTRL = (SELECT  MAX(BX.ABCNTRL) FROM CDCSANTANAMicroCredito..CBFIN BX (NOLOCK)       
       WHERE BX.ABNROPER = DCO_PENDGravames.OPNROPER AND BX.ABNRGAR ) -- ALTEREI 13/2/17      
*/        
        
      
      
      
-- ajusta os dados DO CONTRATO VLR LIB      
UPDATE  DCO_PENDGravames         
 SET  VLR_LIBERADO= B.OPVLROPCZ   -- SELECT *      
 FROM CDCSANTANAMicroCredito..COPER B (NOLOCK)       
 WHERE B.OPNROPER=DCO_PENDGravames.OPNROPER      
        
        
        
-- ajusta os dados DO CONTRATO VLR DEB      
UPDATE  DCO_PENDGravames         
 SET  VLR_DEBITO= VLR_LIBERADO * 0.015  -- 15% desconto retidos      
   --,VLR_CREDITO = 0.0      
      
      
-- ajusta PRODUCAO      
DECLARE  @DT_REF_INI DATETIME       
SET   @DT_REF_INI = CONVERT(CHAR(4),DATEPART(YEAR,@DT_FIM))+      
       RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DT_FIM))),2)+'01'      
-- PRODUCAO NO MES DE REF      
-- SELECT * FROM DCO_PENDGravames (NOLOCK)      
UPDATE  DCO_PENDGravames         
 SET  VLR_PRODUCAO= (SELECT   SUM(B.OPVLROPCZ)      
       FROM CDCSANTANAMicroCredito..COPER B (NOLOCK)       
       WHERE OPDTBASE BETWEEN  @DT_INI AND @DT_FIM      
        AND  B.OPCODORG3 = DCO_PENDGravames.A13CODORG ) -- SOH AGENTE      
/*       -- SOMENTE PELO OPERADOR       
        AND B.OPCODORG3 IN (SELECT DISTINCT O3CODORG       
             FROM CDCSANTANAMicroCredito..TORG3 B (NOLOCK)       
             WHERE B.O3CODORGA13 = DCO_PENDGravames.A13CODORG ) ) */      
          
      
-- ajusta os DIAS DE ATRASO      
UPDATE  DCO_PENDGravames         
 SET  PRC_PEND  = CASE WHEN VLR_PRODUCAO = 0.0  THEN 0.0 ELSE VLR_LIBERADO/VLR_PRODUCAO * 100.0 END      
       
SELECT A13CODORG, A13DESCR, OPNROPER,OPNRPROP, OPDTBASE, CLNOMECLI, OPCODORG3, O3DESCR, OPCODORG4, O4DESCR,       
  ISNULL(epCmplto,'') AS obs , ISNULL(VLR_LIBERADO,0.0) AS vlr_lib, ISNULL(VLR_DEBITO,0.0) AS vlr_reter,      
  vlr_producao, prc_pend      
  ,ABMODELO, ABPLACA, ABCHASSI, ABRENAVAM,CASE WHEN DIASATRASO < 0 THEN 0 ELSE DIASATRASO END AS DIASATRASO
FROM DCO_PENDGravames  (NOLOCK)      
ORDER BY  OPDTBASE,  OPNROPER       
          
end   
go