USE sig --[Santana]
GO
/****** Object:  StoredProcedure [dbo].[SCR_DCO_Prop_PG_Cta_AG]    Script Date: 27/10/2017  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_DCO_Prop_PG_Cta_AG' AND type = 'P')
   DROP PROCEDURE [dbo].SCR_DCO_Prop_PG_Cta_AG 
GO

-- EXEC [dbo].SCR_DCO_Prop_PG_Cta_AG '20170801','20170831'
-- EXEC [dbo].SCR_DCO_Prop_PG_Cta_AG '20171001','20171130'
-- EXEC SCR_DCO_Prop_PG_Cta_AG '20170701','20170731'

-- EXEC SCR_DCO_Prop_PG_Cta_AG '20170701','20171020'


CREATE Procedure [dbo].SCR_DCO_Prop_PG_Cta_AG (
@DT_INI SMALLDATETIME,    
@DT_FIM SMALLDATETIME  -- INT SOH INTERNO
 ) AS  


	begin


  
/*  
DROP   TABLE DCO_Prop_PG_Cta_AG
GO
CREATE TABLE DCO_Prop_PG_Cta_AG (
A13CODORG	int,
A13DESCR	varchar(20),
OPNROPER	varchar(15),
OPDTBASE	smalldatetime,
OPCODCLI	varchar(15),
OPNOMEBNF	varchar(200),

ABRENAVAM	varchar(11),
DCFAVNOME	varchar(200),
DCVALOR	float	,
ABCHASSI	varchar	(20),

ABUFLCPL	varchar	(10),
EPDTLNC		DATETIME,
EPHORALNC	DATETIME,

OPNRPROP	varchar	(20),
Cod_loja	varchar	(20),
Loja		varchar	(200),
NOME_CLI	varchar	(200)
)

ALTER TABLE DCO_Prop_PG_Cta_AG ADD OPCODORG3 VARCHAR(10)  -- OPERADOR COD
ALTER TABLE DCO_Prop_PG_Cta_AG ADD OPERADOR  VARCHAR(200) -- OPERADOR NOM


--ALTER TABLE DCO_Prop_PG_Cta_AG ADD CODPRODUTO VARCHAR(10)  -- PRODUTO COD
--ALTER TABLE DCO_Prop_PG_Cta_AG ADD PRODUTO    VARCHAR(200) -- PRODUTO NOM

ALTER TABLE DCO_Prop_PG_Cta_AG DROP COLUMN CODPRODUTO  -- PRODUTO COD
ALTER TABLE DCO_Prop_PG_Cta_AG DROP COLUMN PRODUTO     -- PRODUTO NOM

SELECT * FROM DCO_Prop_PG_Cta_AG
  */
  
TRUNCATE TABLE DCO_Prop_PG_Cta_AG  
  
INSERT INTO  DCO_Prop_PG_Cta_AG
SELECT		A13CODORG,A13DESCR,
			OPNROPER,
			OPDTBASE,
			OPCODCLI,
			OPNOMEBNF, 
			'' AS ABRENAVAM,

			--'' AS DCFAVNOME,  0.0 AS DCVALOR,
			B.DCFAVNOME, B.DCVALOR,

			'' AS ABCHASSI,
			'' AS ABUFLCPL,
			ISNULL(EP,OPDTBASE), -- EPDTLNC +EPHORALNC
			--EPDTLNC +
			 ISNULL(EPHORALNC,''), 
				-- OPNRPROP	varchar	(20),  Cod_loja	varchar	(20),  Loja		varchar	(200)
			 OPNRPROP, OpCodORG4, '','',OPCODORG3,''
			--,OPCODOP,''
FROM (SELECT  * FROM  CDCSANTANAMICROCREDITO..COPER    AS OP1 (NOLOCK)
		WHERE OPDTBASE BETWEEN  @DT_INI AND @DT_FIM )  AS OP
INNER JOIN CDCSANTANAMICROCREDITO..TORG3 WITH (NOLOCK) ON OPCODORG3 = O3CODORG
INNER JOIN CDCSANTANAMICROCREDITO..TA1O3 WITH (NOLOCK) ON O3CODORGA13 = A13CODORG
LEFT  JOIN (SELECT  EPNRPROP,MAX(EPDTLNC +EPHORALNC)   AS EP, MAX(EPHORALNC) AS EPHORALNC
			FROM	PROPWEBSMC..EPROP (NOLOCK) 
			WHERE	EPNRDECI = '22' -- PAGAMENTO DA REMESSA
			GROUP BY  EPNRPROP ) AS P
 ON EPNRPROP = OPNRPROP
LEFT  JOIN	(select   DCNROPER, DCFAVNOME, DCVALOR
				FROM  CDCSANTANAMICROCREDITO..CDOCS AS B1  (NOLOCK) 
			) AS B
	ON   OP.OPNROPER=B.DCNROPER 

DELETE FROM		DCO_Prop_PG_Cta_AG   
	WHERE RIGHT(OPNROPER,1) IN ('A','B','C','D') -- REMOVE RENEGS

-- ATUALIZA O NOME DA LOJA
-- Cod_loja	varchar	(20),  Loja		varchar	(200)
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		LOJA = B.O4NOME
	--		SELECT *
	FROM	CDCSANTANAMicroCredito..TORG4 B	(NOLOCK)  --- LOJA
	WHERE	B.O4CODORG=DCO_Prop_PG_Cta_AG.Cod_loja


-- ATUALIZA O NOME DO CLIENTE		-- PRECISO SEPARAR BNF E CLIENTE
-- Cod_loja	varchar	(20),  Loja		varchar	(200)
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		OPNOMEBNF = B.CLNOMECLI
	--		SELECT *
	FROM	CDCSANTANAMicroCredito..CCLIE B	(NOLOCK)  --- LOJA
	WHERE	B.CLCODCLI=DCO_Prop_PG_Cta_AG.OPCODCLI	

/*
-- ATUALIZA O NOME DO PRODUTO
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		PRODUTO = B.TONOMEOP
	--		SELECT *
	FROM	CDCSANTANAMicroCredito..TMODA B	(NOLOCK)  
	WHERE	B.TOCODOP=DCO_Prop_PG_Cta_AG.CODPRODUTO
*/


-- DEZ 17 *********** 13/12/17 mudou de ideia -- continuar a aparecer balcao
-- REMOVE O LOJA = BALCÃO  BALC BALCAO 
-- SELECT * FROM DCO_Prop_PG_Cta_AG (NOLOCK)
/*
DELETE		DCO_Prop_PG_Cta_AG  
	WHERE	LEFT(LTRIM(LOJA),4) = 'BALC'  OR LEFT(LTRIM(LOJA),4) = 'BAL ' 
-- OR (NOME_CLI LIKE '%BALCÃO%' ) OR (NOME_CLI LIKE '%BALCAO%' )
*/

-- REMOVE AGENTE CORPAL
DELETE		DCO_Prop_PG_Cta_AG  
	WHERE	A13DESCR LIKE '%CORPAL%'

-- CLIENTE E FAVORECIDO = REMOVER
DELETE		DCO_Prop_PG_Cta_AG  
	WHERE	NOME_CLI = OPNOMEBNF
--  SELECT * FROM		DCO_Prop_PG_Cta_AG  (NOLOCK)  WHERE   CHARINDEX(LEFT(OPNOMEBNF,5),A13DESCR) >0 OR CHARINDEX(LEFT(OPNOMEBNF,4),A13DESCR) >0  -- NOME DO BENEF

-- ajusta os dados do CLIENTE NOME E NAO DO BENEFICIARIO
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		NOME_CLI= B.CLNOMECLI
	FROM	CDCSANTANAMicroCredito..CCLIE B	(NOLOCK) 
	WHERE	B.CLCODCLI=DCO_Prop_PG_Cta_AG.OPCODCLI

-- -- condicao	Cliente e Favorecido <>   e Favorecido Prox do Agente.  SEM Balcao
-- REMOVE O LOJA = BALCÃO  BALC BALCAO 
/*
DELETE		DCO_Prop_PG_Cta_AG  
	WHERE	(NOME_CLI LIKE '%BALC%' ) OR (NOME_CLI LIKE '%BALCÃO%' ) OR (NOME_CLI LIKE '%BALCAO%' ) */


-- 30/10/17 AJUSTA NOME DO OPERADOR
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		OPERADOR= B.O3DESCR				--		SELECT *
	FROM	CDCSANTANAMicroCredito..TORG3 B	(NOLOCK) 
	WHERE	DCO_Prop_PG_Cta_AG.OPCODORG3 = B.O3CODORG

-- ajusta os dados da Garantia
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		ABRENAVAM= B.ABRENAVAM, 
			ABCHASSI=B.ABCHASSI, ABUFLCPL=B.ABUFLCPL
	FROM	CDCSANTANAMicroCredito..CBFIN B	(NOLOCK) 
	WHERE	B.ABNROPER=DCO_Prop_PG_Cta_AG.OPNROPER
		AND B.ABCNTRL = ( SELECT     MAX(ABCNTRL) FROM     CDCSANTANAMICROCREDITO..CBFIN B1 (NOLOCK)
                               WHERE B1.ABNROPER = B.ABNROPER ) --  AND B1.ABNRGAR IN ('01','1' ) )
  
SELECT	A13CODORG,A13DESCR,OPNROPER,OPDTBASE,OPCODCLI,NOME_CLI,
		ABRENAVAM,DCFAVNOME,
		DCVALOR,ABCHASSI,ABUFLCPL,EPDTLNC,
		-- CAST(EPHORALNC AS TIME) AS EPHORALNC
		ltrim(right(convert(varchar(25), EPHORALNC, 120), 8))  AS EPHORALNC, 
		OPNRPROP,  Cod_loja	,  Loja	, OPCODORG3,OPERADOR   -- NOME_CLI,
--		,CODPRODUTO,PRODUTO
-- SELECT *
 FROM	DCO_Prop_PG_Cta_AG	(NOLOCK)
 WHERE   CHARINDEX(LEFT(OPNOMEBNF,5),A13DESCR) >0  -- NOME DO BENEF
 ORDER BY	OPDTBASE, OPNROPER




end

/*
SELECT * FROM	DCO_Prop_PG_Cta_AG	(NOLOCK)
 WHERE   CHARINDEX(LEFT(OPNOMEBNF,5),A13DESCR) >0  -- NOME DO BENEF
 ORDER BY	OPDTBASE, OPNROPER
SELECT OPNRPROP,* FROM CDCSANTANAMICROCREDITO..COPER (nolock)  WHERE OPNROPER = '616029988'
SELECT * FROM PROPWEBSMC..CPROP (nolock)  WHERE PPNRPROP = '941655094'
SELECT * FROM PROPWEBSMC..CCLIE (nolock)  WHERE CLCODCLI = '07790652478'
SELECT * FROM PROPWEBSMC..CCLIP (nolock)  WHERE CLCODCLI = '07790652478'
-- HOMOLOG NAO TEM O CLIENTE PROD TEM!!
616030075
SELECT * FROM CDCSANTANAMICROCREDITO..CCLIE (nolock)  WHERE cLCODCLI = '07790652478'
*/
-- select * from CDCSANTANAMICROCREDITO..CDOCS (nolock) where dcnroper='613007391'
-- select * from CDCSANTANAMICROCREDITO..CDOCS (nolock) where dcnroper='616025488' -- AGENTE
-- select * from CDCSANTANAMICROCREDITO..COPER (nolock) where OPnroper='616025488' -- 941640308 PROP

-- select * from CDCSANTANAMICROCREDITO..COPER (nolock) where OPnroper='613003307'  -- PROP 941642110 BKF
-- SELECT  EPNRPROP,(EPDTLNC +EPHORALNC) AS EP,(EPHORALNC) AS EPHORALNC,* FROM	PROPWEBSMC..EPROP (NOLOCK)  WHERE EPNRPROP='941642110'





