USE sig 
GO
/****** Object:  StoredProcedure [dbo].SCR_PendFORMALIZA    Script Date: 11/2017  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_PendFORMALIZ' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_PendFORMALIZ] 
GO

  
-- EXEC SCR_PendFORMALIZ '20170801','20170831',99  
-- EXEC SCR_PendFORMALIZ '20170401','20170831',99  
  
-- EXEC SCR_PendFORMALIZ '20170601','20170831',99  
-- EXEC SCR_PendFORMALIZ '20170801','20170831',119  
  
--  pend Int DCO 107,   pend Agente Doc 602,  pend Contrato 007, pend Gravames (200,407,507)  
  
-- PROPOSTA , AINDA NAO EH OPERACAO  
/*  
ALTER TABLE  DCO_PEND_FORMALIZ   ADD 	QTD_BALCAO FLOAT

sp_help crv_PEND  
-- epdtagen entra formaliza 1a  
-- epdtpen  sai   formaliza 1a  
-- select * from crv_PEND (nolock)  
  
SELECT DISTINCT O.* FROM (SELECT * FROM propWebSmc..CPROP E (NOLOCK) WHERE PPDTBASE BETWEEN '20170801' AND '20170831') AS O  
  INNER JOIN propWebSmc..EPROP E (NOLOCK) ON  E.EPNRPROP   =O.PPNRPROP  
-- PROP  
SELECT DISTINCT O.* FROM (SELECT * FROM propWebSmc..CPROP E1 (NOLOCK) WHERE PPDTBASE BETWEEN '20170801' AND '20170831') AS O  
  INNER JOIN (SELECT * FROM propWebSmc..CMOVP S (NOLOCK) WHERE MPSIT='INT') AS E ON  E.MPNRPROP   =O.PPNRPROP  
-- OPER  
SELECT DISTINCT O.* FROM (SELECT * FROM CDCSANTANAMicroCredito..COPER E1 (NOLOCK) WHERE OPDTBASE BETWEEN '20170801' AND '20170831') AS O  
  INNER JOIN (SELECT * FROM propWebSmc..CMOVP S (NOLOCK) WHERE MPSIT='INT') AS E ON  E.MPNRPROP   =O.OPNRPROP  
  
  
SELECT E.* FROM (SELECT * FROM propWebSmc..CPROP E (NOLOCK) WHERE PPDTBASE BETWEEN '20170801' AND '20170831') AS O  
  INNER JOIN propWebSmc..EPROP E (NOLOCK) ON  E.EPNRPROP   =O.PPNRPROP  
WHERE PPNRPROP='941654888'  
  
  
*/  
  
CREATE Procedure [dbo].SCR_PendFORMALIZ (                  
         @DT_INI SMALLDATETIME,      
         @DT_FIM SMALLDATETIME,     
         @AGNT   INT ) AS    
  
 begin  
  
  
    
/*   
ALTER  TABLE DCO_PEND_FORMALIZ     ADD QTD_PG_CTA_AG FLOAT
  
  */  
-- DECLARE @DT_INI SMALLDATETIME DECLARE @DT_FIM SMALLDATETIME DECLARE @AGNT   INT  SET @DT_INI='20170801' SET @DT_FIM='20170801' SET @AGNT=99  
    
TRUNCATE TABLE crv_PEND     
    
INSERT INTO  crv_PEND  (OPCODPROD, OPNROPER, OPDTBASE, OPVLRFIN, OPCODORG1, O1DESCR,    
					  OPCODORG2, O2DESCR, OPCODORG3, O3DESCR,  OPCODORG4, O4DESCR,    
					  OPCODORG5, O5DESCR, OPCODORG6,   -- opcodorg6 com no. Proposta  
					  EPCODPEN, EPCMPLTO, OPCODCLI,    
					  A13CODORG, A13DESCR,   
					  CLNOMECLI, CLFONEFIS, CLFONECOM, CLCGC,    
					  DIASATRASO)  
     --, EPDTAGEN, EPDTPEN, EPDTCAD, EPDTLNCBX, EPDTFIM)       
-- declare @DT_INI datetime declare @DT_FIM datetime set @DT_INI='20170801'  set @DT_FIM='20170831'   
SELECT  distinct PPCODPRD,  O.PPNROPER, O.PPDTBASE, O.PPVLRFIN,  
		  --O.PPCODORG1, T1.O1DESCR, O.PPCODORG2, T2.O2DESCR,   
		   '','',  '','',  
		  O.PPCODORG3, T3.O3DESCR,    
		  O.PPCODORG4, T4.O4DESCR, O.PPCODORG5, T5.O5DESCR, -- O.PPCODORG6,  
		  O.PPNRPROP , -- -- opcodorg6 com no. Proposta  
		  E.EPNRDECI,'', -- E.epTPmotivo,   
		  O.PPCODCLI,    
		  T1O3.A13CODORG,  LTRIM(REPLACE(replace( REPLACE( replace (A13DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''),'.','')),   
		  C.CLNOMECLI, C.CLFONEFIS, C.CLFONECOM, C.CLCGC,        
		  0 AS DIASATRASO  
			 -- E.EPDTAGEN, E.EPDTPEN, E.EPDTCAD, E.EPDTLNCBX, E.EPDTFIM     
FROM     
   (SELECT * FROM propWebSmc..CPROP E (NOLOCK) WHERE PPDTBASE BETWEEN @DT_INI AND @DT_FIM ) AS O  
  INNER JOIN propWebSmc..EPROP E (NOLOCK) ON  E.EPNRPROP   =O.PPNRPROP  
  LEFT  JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.PPCODCLI = C.CLCODCLI     
-- ANTIGOS, AGORA NA ESTEIRA DA PROPOSTA  
--  INNER JOIN CDCSANTANAMicroCredito..EPEND E (NOLOCK) ON O.OPNROPER = E.EPNROPER     
--  INNER JOIN CDCSANTANAMicroCredito..TPEND TP (NOLOCK) ON E.EPCODPEN = TP.PDCODPEN     
 
--  LEFT  JOIN CDCSANTANAMicroCredito..TORG1 T1 (NOLOCK) ON O.PPCODORG1 = T1.O1CODORG     
--  LEFT  JOIN CDCSANTANAMicroCredito..TORG2 T2 (NOLOCK) ON O.PPCODORG2 = T2.O2CODORG     
  
  LEFT  JOIN CDCSANTANAMicroCredito..TORG3 T3 (NOLOCK) ON O.PPCODORG3 = T3.O3CODORG     
  LEFT  JOIN CDCSANTANAMicroCredito..TORG4 T4 (NOLOCK) ON O.PPCODORG4 = T4.O4CODORG     
  LEFT  JOIN CDCSANTANAMicroCredito..TORG5 T5 (NOLOCK) ON O.PPCODORG5 = T5.O5CODORG     
  LEFT  JOIN CDCSANTANAMicroCredito..TA1O3 T1O3 (NOLOCK) ON T3.O3CODORGA13 = T1O3.A13CODORG    
WHERE    E.EPNRDECI = '602'  --  Pend AGENTE DOC  ,  pend formalizacao    apos 600 DCO  
 AND	(E.EPNRSEQ > (SELECT	MIN(E1.EPNRSEQ) FROM  propWebSmc..EPROP E1 (NOLOCK)   
						WHERE	E1.EPNRPROP = O.PPNRPROP  AND  E1.EPNRDECI ='600') ) -- FORMALIZACAO  
  
--and ( O.OPDTLIQ IS NULL OR O.OPDTLIQ > @DT_FIM)     
--AND O.PPDTBASE BETWEEN @DT_INI AND @DT_FIM    
  
/*  
-- pend contrato 7 151  
select * from CDCSANTANAMicroCredito..EPEND E (NOLOCK) where ePNROPER = '613003814'     
941644889  
select * from propWebSmc..EPROP (NOLOCK) where ePNRprop = '941644889'     
600 2x formaliz   , 3x  602 pend  
  
 '056'  -- pend CREDITO   
-- ajusta os dados DO CONTRATO VLR LIB  
UPDATE  crv_PEND     
 SET  VLR_LIBERADO= B.OPVLROPCZ   -- SELECT *  
 FROM CDCSANTANAMicroCredito..COPER B (NOLOCK)   
 WHERE B.OPNROPER=crv_PEND.OPNROPER  
  */  
  
-- limpa pend formaliz  
-- SELECT * FROM DCO_PEND_FORMALIZ (NOLOCK)  
TRUNCATE   TABLE DCO_PEND_FORMALIZ  
-- PENDENTES POR AGENTE  
INSERT		DCO_PEND_FORMALIZ  
			(A13CODORG ,A13DESCR,REGIAO,integradas,pend_AGENTE)  
SELECT		A13CODORG, A13DESCR, O1DESCR, 0 ,COUNT(*)    
 FROM		crv_PEND (NOLOCK)  
 GROUP BY	A13CODORG, A13DESCR, O1DESCR  
  
  
-- total de contratos no período por AGENTE MES ANT  
UPDATE   DCO_PEND_FORMALIZ  
 SET	 integradas = (  
    SELECT  COUNT(*) as CONTRATO   
	  FROM	CDCSANTANAMicroCredito..TA1O3 T1O3 (NOLOCK),  -- AGENTE  
			(SELECT		OPNROPER,OPCODORG3,OPDTLIQ,OPDTBASE FROM CDCSANTANAMicroCredito..COPER  (NOLOCK)  
				WHERE ((OPDTLIQ IS NULL) OR OPDTLIQ >= DATEADD(DD,5,OPDTBASE))  
					AND OPDTBASE  between @DT_INI AND @DT_FIM ) AS OP,   
			CDCSANTANAMicroCredito..TORG3 T3 (NOLOCK)   -- OPERADOR  
	  WHERE OPCODORG3   = T3.O3CODORG   
	   AND	T3.O3CODORGA13 = T1O3.A13CODORG  
	   And	T1O3.A13CODORG = DCO_PEND_FORMALIZ.A13CODORG )  
  
-- SELECT * FROM DCO_PEND_FORMALIZ  
  
  
-- AGENTE ATIVO S N  
UPDATE	DCO_PEND_FORMALIZ  
 SET	AGATIVO = (SELECT	CASE WHEN ISNULL(A13CODORGA23,0)=1 THEN 'S' ELSE 'N' END  
					 FROM	CDCSANTANAMicroCredito..TA1O3 T1O3 (NOLOCK)  -- AGENTE  
					 WHERE	DCO_PEND_FORMALIZ.A13CODORG = T1O3.A13CODORG )  
  
-- ***********************************************************  TEMPO DE FORMALIZACAO  
-- HORA DE FORMALIZACAO INICIO  
-- SELECT * FROM DCO_PEND_FORMALIZ (NOLOCK)  
-- SELECT * FROM crv_PEND (NOLOCK) WHERE OPCODORG6='941645379'  
-- SELECT * FROM   propWebSmc..EPROP E (NOLOCK) WHERE EPNRPROP='941654888'  
-- SELECT * FROM   propWebSmc..EPROP E (NOLOCK) WHERE EPNRPROP='941645379'  
-- SELECT * FROM   propWebSmc..CMOVP E (NOLOCK) WHERE MPNRPROP='941645379' MPCODPRD = 000204 MPCODDECI=179  
-- SELECT * FROM   propWebSmc..EPROP E (NOLOCK) JOIN (  SELECT * FROM   propWebSmc..TDECI E (NOLOCK) WHERE TDCODDECI=179 ) AS D ON EPNRDECI=TDNRDECI WHERE EPNRPROP='941645379'  
-- 941655193  
UPDATE  crv_PEND     
 SET	EPDTAGEN  = EPDTLNC ,  
		ABRENAVAM = EPHORALNC  
 FROM   PropWebSmc..EPROP E (NOLOCK)   
 WHERE  E.EPNRPROP   =crv_PEND.OPCODORG6 -- PROPOSTA  
  AND	E.EPNRDECI=600 -- ENTRA EM FORMALIZACAO  1a vez  
  AND	E.EPNRSEQ = (SELECT		MIN(EPNRSEQ) FROM    PropWebSmc..EPROP E1 (NOLOCK)   
						WHERE   E1.EPNRPROP = E.EPNRPROP -- PROPOSTA  
							AND E1.EPNRDECI = 600 )-- ENTRA EM FORMALIZACAO  
-- FIM DA FORMALIZACAO -- sobra EPDTCAD,EPDTLNCBX  
UPDATE  crv_PEND     
 SET	EPDTPEN   = EPDTLNC ,  
		ABCHASSI  = EPHORALNC  
 FROM   PropWebSmc..EPROP E (NOLOCK)   
 WHERE  E.EPNRPROP   =crv_PEND.OPCODORG6 -- PROPOSTA  
  AND	E.EPNRSEQ = (SELECT		MAX(EPNRSEQ) FROM    PropWebSmc..EPROP E1 (NOLOCK)   
						WHERE   E1.EPNRPROP   =E.EPNRPROP ) -- PROPOSTA FIM  
  
-- SELECT dbo.FN_TEMPO_ANALISE(EPDTAGEN,EPDTPEN,EPDTCAD,EPDTLNCBX),* FROM crv_PEND (NOLOCK)  
-- sp_help crv_PEND  -- sobra EPDTCAD,EPDTLNCBX  
UPDATE	Crv_PEND  
 SET	ABVLRTAB = dbo.FN_TEMPO_ANALISE(EPDTAGEN, ABRENAVAM,  EPDTPEN,ABCHASSI )  
-- ABVLRTAB = ENTRA DT HR SAI DT HR -- TEMPO FORMALIZACAO  
         
-- TEMPO MEDIO DE FORMALIZ  
-- SELECT * FROM crv_PEND (NOLOCK)  
-- SELECT * FROM DCO_PEND_FORMALIZ (NOLOCK)  
UPDATE	DCO_PEND_FORMALIZ  
 SET	TEMPO = T.T  
	-- ABVLRTAB = ENTRA DT HR SAI DT HR -- TEMPO FORMALIZACAO  
FROM (SELECT	A13CODORG,AVG(ABVLRTAB) AS T  
		 FROM	crv_PEND P (NOLOCK)  -- AGENTE  
		 GROUP BY A13CODORG  ) AS T  
WHERE DCO_PEND_FORMALIZ.A13CODORG = T.A13CODORG  
  
-- ***********************************************************  PEND INTERNA DCO  
TRUNCATE TABLE crv_PEND     
-- 107 PEND INT DCO    
INSERT INTO  crv_PEND  (OPCODPROD, OPNROPER, OPDTBASE, OPVLRFIN, OPCODORG1, O1DESCR,    
		  OPCODORG2, O2DESCR, OPCODORG3, O3DESCR,  OPCODORG4, O4DESCR,    
		  OPCODORG5, O5DESCR, OPCODORG6, EPCODPEN, EPCMPLTO, OPCODCLI,    
		  A13CODORG, A13DESCR,   
		  CLNOMECLI, CLFONEFIS, CLFONECOM, CLCGC,    
		  DIASATRASO)  
		  --, EPDTAGEN, EPDTPEN, EPDTCAD, EPDTLNCBX, EPDTFIM)    
		  --   declare @DT_INI datetime declare @DT_FIM datetime set @DT_INI='20170801'  set @DT_FIM='20170831'   
SELECT  distinct PPCODPRD,  O.PPNROPER, O.PPDTBASE, O.PPVLRFIN,  
		--O.PPCODORG1, T1.O1DESCR, O.PPCODORG2, T2.O2DESCR,   
		'','',  '','',  
		O.PPCODORG3, T3.O3DESCR,    
		O.PPCODORG4, T4.O4DESCR, O.PPCODORG5, T5.O5DESCR, --O.PPCODORG6,  
		O.PPNRPROP,  -- COM PROP  
		E.EPNRDECI, '', -- E.epTPmotivo,  
		O.PPCODCLI,    
		T1O3.A13CODORG,  replace( REPLACE( replace (A13DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''),   
		C.CLNOMECLI, C.CLFONEFIS, C.CLFONECOM, C.CLCGC,        
		0 AS DIASATRASO  
		--E.EPDTAGEN, E.EPDTPEN, E.EPDTCAD, E.EPDTLNCBX, E.EPDTFIM     
FROM     
  (SELECT * FROM propWebSmc..CPROP E (NOLOCK) WHERE PPDTBASE BETWEEN @DT_INI AND @DT_FIM ) AS O  
 INNER JOIN propWebSmc..EPROP E (NOLOCK) ON  E.EPNRPROP   =O.PPNRPROP  
 LEFT  JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.PPCODCLI = C.CLCODCLI     
--  LEFT  JOIN CDCSANTANAMicroCredito..TORG1 T1 (NOLOCK) ON O.PPCODORG1 = T1.O1CODORG     
--  LEFT  JOIN CDCSANTANAMicroCredito..TORG2 T2 (NOLOCK) ON O.PPCODORG2 = T2.O2CODORG     
  LEFT  JOIN CDCSANTANAMicroCredito..TORG3 T3 (NOLOCK) ON O.PPCODORG3 = T3.O3CODORG     
  LEFT  JOIN CDCSANTANAMicroCredito..TORG4 T4 (NOLOCK) ON O.PPCODORG4 = T4.O4CODORG     
  LEFT  JOIN CDCSANTANAMicroCredito..TORG5 T5 (NOLOCK) ON O.PPCODORG5 = T5.O5CODORG     
  LEFT  JOIN CDCSANTANAMicroCredito..TA1O3 T1O3 (NOLOCK) ON T3.O3CODORGA13 = T1O3.A13CODORG    
WHERE  E.EPNRDECI = '107'  -- pend int DCO formalizacao    apos 600 DCO  -- ALTERADOS DESATIVADOS EM 13/9/17  
 AND   (E.EPNRSEQ > (SELECT MIN(E1.EPNRSEQ) FROM  propWebSmc..EPROP E1 (NOLOCK)   
      WHERE E1.EPNRPROP = O.PPNRPROP  AND  E1.EPNRDECI ='600') ) -- FORMALIZACAO  
  
/*  
SELECT * FROM propWebSmc..EPROP E (NOLOCK)  WHERE EPNRPROP='941639375'  
SELECT OPNRPROP,* FROM  CDCSANTANAMicroCredito..COPER (NOLOCK) WHERE OPNROPER= '613002763'  
  
*/  
-- select * from CDCSANTANAMicroCredito..TORG1 T1 (NOLOCK)  
-- select * from CDCSANTANAMicroCredito..TORG2 T1 (NOLOCK)  
-- ATUALIZA OS AGENTES CF PEND  
UPDATE	DCO_PEND_FORMALIZ  
 SET	PENDENCIAS = P.Q   -- PEND INTERNA DCO COD 107  
 FROM	(SELECT		P1.A13CODORG, P1.A13DESCR, COUNT(*) AS Q    
			FROM	crv_PEND P1 (NOLOCK)  
			GROUP BY P1.A13CODORG, P1.A13DESCR  ) AS P  
 WHERE  DCO_PEND_FORMALIZ.A13CODORG = P.A13CODORG  
--   AND	DCO_PEND_FORMALIZ.A13DESCR  = P.A13DESCR  
  
  
-- ajusta NULOS  
UPDATE  DCO_PEND_FORMALIZ  
 SET    PENDENCIAS = 0.0 , PRC=0.0  
 WHERE  PENDENCIAS IS NULL  
  
  
-- ***********************************************************  PEND CONTRATO  
TRUNCATE TABLE crv_PEND     
-- 007 PEND CONTRATO     
INSERT INTO  crv_PEND  (OPCODPROD, OPNROPER, OPDTBASE, OPVLRFIN, OPCODORG1, O1DESCR,    
       OPCODORG2, O2DESCR, OPCODORG3, O3DESCR,  OPCODORG4, O4DESCR,    
       OPCODORG5, O5DESCR, OPCODORG6, EPCODPEN, EPCMPLTO, OPCODCLI,    
       A13CODORG, A13DESCR,   
      CLNOMECLI, CLFONEFIS, CLFONECOM, CLCGC,    
      DIASATRASO)  
   --, EPDTAGEN, EPDTPEN, EPDTCAD, EPDTLNCBX, EPDTFIM)    
--   declare @DT_INI datetime declare @DT_FIM datetime set @DT_INI='20170801'  set @DT_FIM='20170831'   
SELECT  distinct '' , --PPCODPRD,   
		O.OPNROPER, O.OPDTBASE, O.OPVLRFIN,  
 	    --O.PPCODORG1, T1.O1DESCR, O.PPCODORG2, T2.O2DESCR,   
	    '','',  '','',  
	    O.OPCODORG3, T3.O3DESCR,    
		O.OPCODORG4, T4.O4DESCR, O.OPCODORG5, T5.O5DESCR, --O.PPCODORG6,  
	    O.OPNRPROP,  -- COM PROP  
		E.EPCODPEN, '', -- E.epTPmotivo,  
		O.OPCODCLI,    
		T1O3.A13CODORG,  replace( REPLACE( replace (A13DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''),   
		C.CLNOMECLI, C.CLFONEFIS, C.CLFONECOM, C.CLCGC,        
		0 AS DIASATRASO  
		--E.EPDTAGEN, E.EPDTPEN, E.EPDTCAD, E.EPDTLNCBX, E.EPDTFIM     
FROM     
  ( SELECT		* FROM  CDCSANTANAMicroCredito..COPER O1    (NOLOCK)  
		WHERE	OPDTBASE BETWEEN  @DT_INI AND @DT_FIM ) AS O  
 -- PENDENCIAS DE CONTRATO  --------------  
  INNER JOIN CDCSANTANAMicroCredito..EPEND E  (NOLOCK) ON O.OPNROPER = E.EPNROPER     
  INNER JOIN CDCSANTANAMicroCredito..TPEND TP (NOLOCK) ON E.EPCODPEN = TP.PDCODPEN     
/*  
  INNER JOIN CDCSANTANAMicroCredito..EPEND E (NOLOCK) ON O.OPNROPER = E.EPNROPER     
  INNER JOIN CDCSANTANAMicroCredito..TPEND TP (NOLOCK) ON E.EPCODPEN = TP.PDCODPEN     
*/  
  
  LEFT  JOIN CDCSANTANAMicroCredito..CCLIE C  (NOLOCK) ON C.CLCODCLI  = O.OPCODCLI   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG3 T3 (NOLOCK) ON T3.O3CODORG = O.OPCODORG3   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG4 T4 (NOLOCK) ON T4.O4CODORG = O.OPCODORG4  
  LEFT  JOIN CDCSANTANAMicroCredito..TORG5 T5 (NOLOCK) ON T5.O5CODORG = O.OPCODORG5     
  LEFT  JOIN CDCSANTANAMicroCredito..TA1O3 T1O3 (NOLOCK) ON  T1O3.A13CODORG = T3.O3CODORGA13  
WHERE  E.EPCODPEN = '007'  --    pend CONTRATOS   007  
	-- INCLUI MAIS CONDICOES DEZ/17	
	AND   ( O.OPDTLIQ IS NULL OR O.OPDTLIQ > @DT_FIM)   
	AND O.OPDTBASE <= @DT_FIM    -- REMOVI  E.EPDTFIM > @DT_FIM
	-- EM 25/10/17 SOMENTE OS PENDENTES  **********   EPDTFIM PREENCHIDA NAO ESTAH MAIS PEND
	AND (E.EPDTFIM IS NULL OR E.EPDTFIM > @DT_FIM)  AND E.EPDTCAD <= @DT_FIM  
  
-- select * from CDCSANTANAMicroCredito..TORG1 T1 (NOLOCK)  
-- select * from CDCSANTANAMicroCredito..TORG2 T1 (NOLOCK)  
-- ATUALIZA OS AGENTES CF PEND  
UPDATE	DCO_PEND_FORMALIZ  
 SET	PEND_CONTRATO = P.Q   -- PEND INTERNA DCO COD 107  
 FROM	(SELECT		P1.A13CODORG, P1.A13DESCR, COUNT(*) AS Q    
			FROM	crv_PEND P1 (NOLOCK)  
			GROUP BY P1.A13CODORG, P1.A13DESCR  ) AS P  
 WHERE DCO_PEND_FORMALIZ.A13CODORG = P.A13CODORG  
--   AND DCO_PEND_FORMALIZ.A13DESCR  = P.A13DESCR  
  
  
-- ***********************************************************  PEND GRAVAMES  
TRUNCATE TABLE crv_PEND     
-- 3 PEND GRAVAMES     
INSERT INTO  crv_PEND  (OPCODPROD, OPNROPER, OPDTBASE, OPVLRFIN, OPCODORG1, O1DESCR,    
       OPCODORG2, O2DESCR, OPCODORG3, O3DESCR,  OPCODORG4, O4DESCR,    
       OPCODORG5, O5DESCR, OPCODORG6, EPCODPEN, EPCMPLTO, OPCODCLI,    
       A13CODORG, A13DESCR,   
	   CLNOMECLI, CLFONEFIS, CLFONECOM, CLCGC,    
       DIASATRASO)  
   --, EPDTAGEN, EPDTPEN, EPDTCAD, EPDTLNCBX, EPDTFIM)    
--   declare @DT_INI datetime declare @DT_FIM datetime set @DT_INI='20170801'  set @DT_FIM='20170831'   
SELECT  distinct '' , --PPCODPRD,   
		O.OPNROPER, O.OPDTBASE, O.OPVLRFIN,  
 	    --O.PPCODORG1, T1.O1DESCR, O.PPCODORG2, T2.O2DESCR,   
	    '','',  '','',  
	    O.OPCODORG3, T3.O3DESCR,    
		O.OPCODORG4, T4.O4DESCR, O.OPCODORG5, T5.O5DESCR, --O.PPCODORG6,  
	    O.OPNRPROP,  -- COM PROP  
		E.EPCODPEN, '', -- E.epTPmotivo,  
		O.OPCODCLI,    
		T1O3.A13CODORG,  replace( REPLACE( replace (A13DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''),   
		C.CLNOMECLI, C.CLFONEFIS, C.CLFONECOM, C.CLCGC,        
		0 AS DIASATRASO  
		--E.EPDTAGEN, E.EPDTPEN, E.EPDTCAD, E.EPDTLNCBX, E.EPDTFIM     
FROM     
  ( SELECT *	FROM  CDCSANTANAMicroCredito..COPER O1    (NOLOCK)  
		WHERE	OPDTBASE BETWEEN  @DT_INI AND @DT_FIM ) AS O  
 -- PENDENCIAS DE CONTRATO  --------------  
  INNER JOIN CDCSANTANAMicroCredito..EPEND E  (NOLOCK) ON O.OPNROPER = E.EPNROPER     
  INNER JOIN CDCSANTANAMicroCredito..TPEND TP (NOLOCK) ON E.EPCODPEN = TP.PDCODPEN     
  LEFT  JOIN CDCSANTANAMicroCredito..CCLIE C  (NOLOCK) ON C.CLCODCLI  = O.OPCODCLI   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG3 T3 (NOLOCK) ON T3.O3CODORG = O.OPCODORG3   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG4 T4 (NOLOCK) ON T4.O4CODORG = O.OPCODORG4  
  LEFT  JOIN CDCSANTANAMicroCredito..TORG5 T5 (NOLOCK) ON T5.O5CODORG = O.OPCODORG5     
  LEFT  JOIN CDCSANTANAMicroCredito..TA1O3 T1O3 (NOLOCK) ON  T1O3.A13CODORG = T3.O3CODORGA13  
WHERE  E.EPCODPEN  IN ( '200','407','507')  -- pend de gravames  
  
-- select * from CDCSANTANAMicroCredito..TORG1 T1 (NOLOCK)  
-- select * from CDCSANTANAMicroCredito..TORG2 T1 (NOLOCK)  
-- ATUALIZA OS AGENTES CF PEND  
UPDATE	DCO_PEND_FORMALIZ  
 SET	PEND_GRAVAMES = P.Q   -- PEND INTERNA DCO COD 107  
 FROM	(SELECT		P1.A13CODORG, P1.A13DESCR, COUNT(*) AS Q    
			FROM	crv_PEND P1 (NOLOCK)  
			GROUP BY P1.A13CODORG, P1.A13DESCR		) AS P  
 WHERE  DCO_PEND_FORMALIZ.A13CODORG = P.A13CODORG  
   AND	DCO_PEND_FORMALIZ.A13DESCR  = P.A13DESCR  
  
  
-- PG CTA AG SINTETICO NA FORMALIZACAO ************************* NOV DEZ/17  
TRUNCATE TABLE DCO_Prop_PG_Cta_AG  
  
INSERT INTO  DCO_Prop_PG_Cta_AG
SELECT		A13CODORG,A13DESCR,
			OPNROPER,
			OPDTBASE,
			OPCODCLI,
			OPNOMEBNF, 
			'' AS ABRENAVAM,

			--'' AS DCFAVNOME,  0.0 AS DCVALOR,
			B.DCFAVNOME, B.DCVALOR,

			'' AS ABCHASSI,
			'' AS ABUFLCPL,
			ISNULL(EP,OPDTBASE), -- EPDTLNC +EPHORALNC
			--EPDTLNC +
			 ISNULL(EPHORALNC,''), 
				-- OPNRPROP	varchar	(20),  Cod_loja	varchar	(20),  Loja		varchar	(200)
			 OPNRPROP, OpCodORG4, '','',OPCODORG3,''
			--,OPCODOP,''
FROM (SELECT  * FROM  CDCSANTANAMICROCREDITO..COPER    AS OP1 (NOLOCK)
		WHERE OPDTBASE BETWEEN  @DT_INI AND @DT_FIM )  AS OP
INNER JOIN CDCSANTANAMICROCREDITO..TORG3 WITH (NOLOCK) ON OPCODORG3 = O3CODORG
INNER JOIN CDCSANTANAMICROCREDITO..TA1O3 WITH (NOLOCK) ON O3CODORGA13 = A13CODORG
LEFT  JOIN (SELECT  EPNRPROP,MAX(EPDTLNC +EPHORALNC)   AS EP, MAX(EPHORALNC) AS EPHORALNC
			FROM	PROPWEBSMC..EPROP (NOLOCK) 
			WHERE	EPNRDECI = '22' -- PAGAMENTO DA REMESSA
			GROUP BY  EPNRPROP ) AS P
 ON EPNRPROP = OPNRPROP
LEFT  JOIN	(select   DCNROPER, DCFAVNOME, DCVALOR
				FROM  CDCSANTANAMICROCREDITO..CDOCS AS B1  (NOLOCK) 
			) AS B
	ON   OP.OPNROPER=B.DCNROPER 

DELETE FROM		DCO_Prop_PG_Cta_AG   
	WHERE RIGHT(OPNROPER,1) IN ('A','B','C','D') -- REMOVE RENEGS

-- ATUALIZA O NOME DA LOJA
-- Cod_loja	varchar	(20),  Loja		varchar	(200)
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		LOJA = B.O4NOME
	--		SELECT *
	FROM	CDCSANTANAMicroCredito..TORG4 B	(NOLOCK)  --- LOJA
	WHERE	B.O4CODORG=DCO_Prop_PG_Cta_AG.Cod_loja


-- ATUALIZA O NOME DO CLIENTE		-- PRECISO SEPARAR BNF E CLIENTE
-- Cod_loja	varchar	(20),  Loja		varchar	(200)
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		OPNOMEBNF = B.CLNOMECLI
	--		SELECT *
	FROM	CDCSANTANAMicroCredito..CCLIE B	(NOLOCK)  --- LOJA
	WHERE	B.CLCODCLI=DCO_Prop_PG_Cta_AG.OPCODCLI	


-- DEZ 17 ***********
-- REMOVE O LOJA = BALCÃO  BALC BALCAO 
-- SELECT * FROM DCO_Prop_PG_Cta_AG (NOLOCK)
-- DELETE		DCO_Prop_PG_Cta_AG  	WHERE	LEFT(LTRIM(LOJA),4) = 'BALC'  OR LEFT(LTRIM(LOJA),4) = 'BAL ' 
-- OR (NOME_CLI LIKE '%BALCÃO%' ) OR (NOME_CLI LIKE '%BALCAO%' )


-- REMOVE AGENTE CORPAL
DELETE		DCO_Prop_PG_Cta_AG  
	WHERE	A13DESCR LIKE '%CORPAL%'

-- CLIENTE E FAVORECIDO = REMOVER
DELETE		DCO_Prop_PG_Cta_AG  
	WHERE	NOME_CLI = OPNOMEBNF
--  SELECT * FROM		DCO_Prop_PG_Cta_AG  (NOLOCK)  WHERE   CHARINDEX(LEFT(OPNOMEBNF,5),A13DESCR) >0 OR CHARINDEX(LEFT(OPNOMEBNF,4),A13DESCR) >0  -- NOME DO BENEF

-- ajusta os dados do CLIENTE NOME E NAO DO BENEFICIARIO
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		NOME_CLI= B.CLNOMECLI
	FROM	CDCSANTANAMicroCredito..CCLIE B	(NOLOCK) 
	WHERE	B.CLCODCLI=DCO_Prop_PG_Cta_AG.OPCODCLI

-- -- condicao	Cliente e Favorecido <>   e Favorecido Prox do Agente.  SEM Balcao
-- REMOVE O LOJA = BALCÃO  BALC BALCAO 
DELETE		DCO_Prop_PG_Cta_AG  
	WHERE	(NOME_CLI LIKE '%BALC%' ) OR (NOME_CLI LIKE '%BALCÃO%' ) OR (NOME_CLI LIKE '%BALCAO%' )


-- 30/10/17 AJUSTA NOME DO OPERADOR
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		OPERADOR= B.O3DESCR				--		SELECT *
	FROM	CDCSANTANAMicroCredito..TORG3 B	(NOLOCK) 
	WHERE	DCO_Prop_PG_Cta_AG.OPCODORG3 = B.O3CODORG

-- ajusta os dados da Garantia
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		ABRENAVAM= B.ABRENAVAM, 
			ABCHASSI=B.ABCHASSI, ABUFLCPL=B.ABUFLCPL
	FROM	CDCSANTANAMicroCredito..CBFIN B	(NOLOCK) 
	WHERE	B.ABNROPER=DCO_Prop_PG_Cta_AG.OPNROPER
		AND B.ABCNTRL = ( SELECT     MAX(ABCNTRL) FROM     CDCSANTANAMICROCREDITO..CBFIN B1 (NOLOCK)
                               WHERE B1.ABNROPER = B.ABNROPER ) --  AND B1.ABNRGAR IN ('01','1' ) )

-- TRANSFERE DADOS
-- SELECT * FROM DCO_PEND_FORMALIZ
UPDATE  DCO_PEND_FORMALIZ  
 SET	QTD_PG_CTA_AG = Q
FROM	(SELECT		A13CODORG,COUNT(DISTINCT OPNROPER) AS Q
			FROM	DCO_Prop_PG_Cta_AG (NOLOCK) 
			WHERE   CHARINDEX(LEFT(OPNOMEBNF,5),A13DESCR) >0  -- NOME DO BENEF
				AND (LEFT(LOJA,4) NOT IN ('BAL ','BALC'))
			GROUP BY A13CODORG	) AS QTD
WHERE	DCO_PEND_FORMALIZ.A13CODORG = QTD.A13CODORG
-- FIM DO PG CTA AGENTE *********************    

UPDATE  DCO_PEND_FORMALIZ  
 SET	QTD_BALCAO = Q
FROM	(SELECT		A13CODORG,COUNT(DISTINCT OPNROPER) AS Q
			FROM	DCO_Prop_PG_Cta_AG (NOLOCK) 
			WHERE   --CHARINDEX(LEFT(OPNOMEBNF,5),A13DESCR) >0  AND  -- NOME DO BENEF
					(LEFT(LOJA,4) IN ('BAL ','BALC'))
			GROUP BY A13CODORG	) AS QTD
WHERE	DCO_PEND_FORMALIZ.A13CODORG = QTD.A13CODORG

  
-- CALCULO DO PERCENTUAL *********************   FORMALIZACAO
UPDATE  DCO_PEND_FORMALIZ  
 SET  PRC = CASE	WHEN integradas =0					 THEN 0.0   
					ELSE (pendencias/integradas) * 100.0 END ,  
	  PRC_PEND_AGENTE = CASE WHEN integradas =0			 THEN 0.0   
							 ELSE (PEND_AGENTE/integradas) * 100.0 END ,   
      PRC_PEND_CONTRATO = CASE	WHEN integradas =0		 THEN 0.0   
								ELSE (PEND_CONTRATO/integradas) * 100.0 END ,  
	  PRC_PEND_GRAVAMES = CASE  WHEN integradas =0		 THEN 0.0   
								ELSE (PEND_GRAVAMES/integradas) * 100.0 END   
  
  
-- ************** MOSTRA DADOS NA TELA *******************  
select	 A13CODORG, A13DESCR, -- AGATIVO,  
		 ISNULL(regiao,'')				AS regiao, 
		 integradas, PEND_AGENTE, PRC_PEND_AGENTE,  pendencias, PRC,  
		 ISNULL(PEND_CONTRATO,0.0)		AS PEND_CONTRATO, 
		 ISNULL(PRC_PEND_CONTRATO,0.0)  AS PRC_PEND_CONTRATO, 
		 ISNULL(PEND_GRAVAMES,0.0)		AS PEND_GRAVAMES, 
		 ISNULL(PRC_PEND_GRAVAMES,0.0)	AS PRC_PEND_GRAVAMES,   
		 --TEMPO, TEMPO_ALCADA  ,
		 ISNULL(QTD_PG_CTA_AG,0)		AS QTD_PG_CTA_AG,
		 ISNULL(QTD_BALCAO,0.0)			AS QTD_BALCAO
--  SELECT *  
 FROM		DCO_PEND_FORMALIZ (NOLOCK)  
 ORDER BY	REGIAO, A13DESCR  
  
end  
  
-- select * from DCO_PEND_FORMALIZ (nolock)  
-- alter table  DCO_PEND_FORMALIZ add pend_DCO int ,pend_ttl int, Tempo_form float   
 -- 1) EpDtAgen EpDtPen 2)EpDtLncBx  EpDtFim   
  
  
  
  
  

  