USE sig --[Santana]
GO
/****** Object:  StoredProcedure [dbo].SCR_DCO_Prop_PG_Cta_AG_TTL    Script Date: 30/10/2017  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_DCO_Prop_PG_Cta_AG_TTL' AND type = 'P')
   DROP PROCEDURE [dbo].SCR_DCO_Prop_PG_Cta_AG_TTL
GO

-- EXEC SCR_DCO_Prop_PG_Cta_AG_TTL '20170801','20170831'
-- EXEC SCR_DCO_Prop_PG_Cta_AG_TTL '20170720','20170720'
-- EXEC SCR_DCO_Prop_PG_Cta_AG_TTL '20170701','20171020'

CREATE Procedure [dbo].SCR_DCO_Prop_PG_Cta_AG_TTL (
@DT_INI SMALLDATETIME,    
@DT_FIM SMALLDATETIME  --   INT SOH INTERNO
 ) AS  

	begin

TRUNCATE TABLE DCO_Prop_PG_Cta_AG  
  
INSERT INTO  DCO_Prop_PG_Cta_AG
SELECT		A13CODORG,A13DESCR,
			OPNROPER,
			OPDTBASE,
			OPCODCLI,
			OPNOMEBNF, 
			'' AS ABRENAVAM,

			--'' AS DCFAVNOME,  0.0 AS DCVALOR,
			B.DCFAVNOME, B.DCVALOR,

			'' AS ABCHASSI,
			'' AS ABUFLCPL,
			ISNULL(EP,OPDTBASE), -- EPDTLNC +EPHORALNC
			--EPDTLNC +
			 ISNULL(EPHORALNC,''), 
				-- OPNRPROP	varchar	(20),  Cod_loja	varchar	(20),  Loja		varchar	(200)
			 OPNRPROP, OpCodORG4, '','',OPCODORG3,''
			--,OPCODOP,''
FROM (SELECT  * FROM  CDCSANTANAMICROCREDITO..COPER    AS OP1 (NOLOCK)
		WHERE OPDTBASE BETWEEN  @DT_INI AND @DT_FIM )  AS OP
INNER JOIN CDCSANTANAMICROCREDITO..TORG3 WITH (NOLOCK) ON OPCODORG3 = O3CODORG
INNER JOIN CDCSANTANAMICROCREDITO..TA1O3 WITH (NOLOCK) ON O3CODORGA13 = A13CODORG
LEFT  JOIN (SELECT  EPNRPROP,MAX(EPDTLNC +EPHORALNC)   AS EP, MAX(EPHORALNC) AS EPHORALNC
			FROM	PROPWEBSMC..EPROP (NOLOCK) 
			WHERE	EPNRDECI = '22' -- PAGAMENTO DA REMESSA
			GROUP BY  EPNRPROP ) AS P
 ON EPNRPROP = OPNRPROP
LEFT  JOIN	(select   DCNROPER, DCFAVNOME, DCVALOR
				FROM  CDCSANTANAMICROCREDITO..CDOCS AS B1  (NOLOCK) 
			) AS B
	ON   OP.OPNROPER=B.DCNROPER 

DELETE FROM		DCO_Prop_PG_Cta_AG   
	WHERE RIGHT(OPNROPER,1) IN ('A','B','C','D') -- REMOVE RENEGS

-- ATUALIZA O NOME DA LOJA
-- Cod_loja	varchar	(20),  Loja		varchar	(200)
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		LOJA = B.O4NOME
	--		SELECT *
	FROM	CDCSANTANAMicroCredito..TORG4 B	(NOLOCK)  --- LOJA
	WHERE	B.O4CODORG=DCO_Prop_PG_Cta_AG.Cod_loja


-- ATUALIZA O NOME DO CLIENTE		-- PRECISO SEPARAR BNF E CLIENTE
-- Cod_loja	varchar	(20),  Loja		varchar	(200)
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		OPNOMEBNF = B.CLNOMECLI
	--		SELECT *
	FROM	CDCSANTANAMicroCredito..CCLIE B	(NOLOCK)  --- LOJA
	WHERE	B.CLCODCLI=DCO_Prop_PG_Cta_AG.OPCODCLI	

/*
-- ATUALIZA O NOME DO PRODUTO
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		PRODUTO = B.TONOMEOP
	--		SELECT *
	FROM	CDCSANTANAMicroCredito..TMODA B	(NOLOCK)  
	WHERE	B.TOCODOP=DCO_Prop_PG_Cta_AG.CODPRODUTO
*/


-- DEZ 17 *********** voltei 13/12/17
-- REMOVE O LOJA = BALCÃO  BALC BALCAO 
-- SELECT * FROM DCO_Prop_PG_Cta_AG (NOLOCK)
/*
DELETE		DCO_Prop_PG_Cta_AG  
	WHERE	LEFT(LTRIM(LOJA),4) = 'BALC'  OR LEFT(LTRIM(LOJA),4) = 'BAL ' */
-- OR (NOME_CLI LIKE '%BALCÃO%' ) OR (NOME_CLI LIKE '%BALCAO%' )


-- REMOVE AGENTE CORPAL
DELETE		DCO_Prop_PG_Cta_AG  
	WHERE	A13DESCR LIKE '%CORPAL%'

-- CLIENTE E FAVORECIDO = REMOVER
DELETE		DCO_Prop_PG_Cta_AG  
	WHERE	NOME_CLI = OPNOMEBNF
--  SELECT * FROM		DCO_Prop_PG_Cta_AG  (NOLOCK)  WHERE   CHARINDEX(LEFT(OPNOMEBNF,5),A13DESCR) >0 OR CHARINDEX(LEFT(OPNOMEBNF,4),A13DESCR) >0  -- NOME DO BENEF

-- ajusta os dados do CLIENTE NOME E NAO DO BENEFICIARIO
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		NOME_CLI= B.CLNOMECLI
	FROM	CDCSANTANAMicroCredito..CCLIE B	(NOLOCK) 
	WHERE	B.CLCODCLI=DCO_Prop_PG_Cta_AG.OPCODCLI

-- -- condicao	Cliente e Favorecido <>   e Favorecido Prox do Agente.  SEM Balcao
-- REMOVE O LOJA = BALCÃO  BALC BALCAO 
/* DELETE		DCO_Prop_PG_Cta_AG  
	WHERE	(NOME_CLI LIKE '%BALC%' ) OR (NOME_CLI LIKE '%BALCÃO%' ) OR (NOME_CLI LIKE '%BALCAO%' )
*/

-- 30/10/17 AJUSTA NOME DO OPERADOR
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		OPERADOR= B.O3DESCR				--		SELECT *
	FROM	CDCSANTANAMicroCredito..TORG3 B	(NOLOCK) 
	WHERE	DCO_Prop_PG_Cta_AG.OPCODORG3 = B.O3CODORG

-- ajusta os dados da Garantia
UPDATE		DCO_Prop_PG_Cta_AG  
	SET		ABRENAVAM= B.ABRENAVAM, 
			ABCHASSI=B.ABCHASSI, ABUFLCPL=B.ABUFLCPL
	FROM	CDCSANTANAMicroCredito..CBFIN B	(NOLOCK) 
	WHERE	B.ABNROPER=DCO_Prop_PG_Cta_AG.OPNROPER
		AND B.ABCNTRL = ( SELECT     MAX(ABCNTRL) FROM     CDCSANTANAMICROCREDITO..CBFIN B1 (NOLOCK)
                               WHERE B1.ABNROPER = B.ABNROPER ) --  AND B1.ABNRGAR IN ('01','1' ) )
  
SELECT		COUNT(DISTINCT OPNROPER) AS QTD, isnull(SUM(DCVALOR),0.0) AS VLR 
	FROM	DCO_Prop_PG_Cta_AG	(NOLOCK)
	WHERE   CHARINDEX(LEFT(OPNOMEBNF,5),A13DESCR) >0  -- NOME DO BENEF
--  SELECT	* FROM DCO_Prop_PG_Cta_AG	(NOLOCK) WHERE   CHARINDEX(LEFT(OPNOMEBNF,5),A13DESCR) >0  -- NOME DO BENEF
			

end









