USE sig --[Santana]
GO
/****** Object:  StoredProcedure [dbo].[scr_graf_Rolag_Consolid]    Script Date: 05/01/2017 16:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_DCO_CONF_PAGTO_TTL_DET' AND type = 'P')
   DROP PROCEDURE [dbo].SCR_DCO_CONF_PAGTO_TTL_DET
GO

-- EXEC SCR_DCO_CONF_PAGTO '20170720','20170720'
-- EXEC SCR_DCO_CONF_PAGTO '20170701','20171020'

CREATE Procedure [dbo].SCR_DCO_CONF_PAGTO_TTL_DET (@DT_INI SMALLDATETIME,              
@DT_FIM SMALLDATETIME,  --, @AGNT   INT SOH INTERNO          
@ATIVO INT,    
@PAGTO INT,    
@FAVOR INT      ) AS  

	begin

SELECT COUNT(DISTINCT OPNROPER) AS QTD, SUM(DCVALOR)  VLR FROM DCO_CONF_PGTO (NOLOCK)         
WHERE 1= 0+ CASE WHEN  @PAGTO='0' THEN 1       
 WHEN  @PAGTO = '1' AND A13CODORG = 149 THEN 1      
 WHEN  @PAGTO = '2' AND A13CODORG <> 149 THEN 1      
 END            
AND 1= 0+ CASE WHEN @FAVOR='0' THEN 1       
 WHEN  @FAVOR = '1' AND DCFAVNOME NOT IN ('BOLETO', 'ACESSÓRIOS', 'SCFI-PGFR') THEN 1      
 WHEN  @FAVOR = '2' AND DCFAVNOME IN ('BOLETO') THEN 1      
 WHEN  @FAVOR = '3' AND DCFAVNOME IN ('SCFI-PGFR') THEN 1      
 WHEN  @FAVOR = '4' AND DCFAVNOME IN ('ACESSÓRIOS') THEN 1      
 END 


end









