USE sig 
GO
/****** Object:  StoredProcedure [dbo].SCR_PendFORMALIZA    Script Date: 05/01/2017 16:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_PendFORMALIZ' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_PendFORMALIZ] 
GO

-- EXEC SCR_PendFORMALIZ '20170801','20170831',99
-- EXEC SCR_PendFORMALIZ '20170401','20170831',99

-- EXEC SCR_PendFORMALIZ '20170601','20170831',99
-- EXEC SCR_PendFORMALIZ '20170801','20170831',119
-- PROPOSTA , AINDA NAO EH OPERACAO
/*
sp_help crv_PEND
-- epdtagen entra formaliza 1a
-- epdtpen  sai   formaliza 1a
-- select * from crv_PEND (nolock)

SELECT DISTINCT O.* FROM (SELECT * FROM propWebSmc..CPROP E	(NOLOCK) WHERE PPDTBASE BETWEEN '20170801' AND '20170831') AS O
  INNER JOIN propWebSmc..EPROP E	(NOLOCK) ON  E.EPNRPROP   =O.PPNRPROP
-- PROP
SELECT DISTINCT O.* FROM (SELECT * FROM propWebSmc..CPROP E1	(NOLOCK) WHERE PPDTBASE BETWEEN '20170801' AND '20170831') AS O
  INNER JOIN (SELECT * FROM propWebSmc..CMOVP S	(NOLOCK) WHERE MPSIT='INT') AS E ON  E.MPNRPROP   =O.PPNRPROP
-- OPER
SELECT DISTINCT O.* FROM (SELECT * FROM CDCSANTANAMicroCredito..COPER E1	(NOLOCK) WHERE OPDTBASE BETWEEN '20170801' AND '20170831') AS O
  INNER JOIN (SELECT * FROM propWebSmc..CMOVP S	(NOLOCK) WHERE MPSIT='INT') AS E ON  E.MPNRPROP   =O.OPNRPROP


SELECT E.* FROM (SELECT * FROM propWebSmc..CPROP E	(NOLOCK) WHERE PPDTBASE BETWEEN '20170801' AND '20170831') AS O
  INNER JOIN propWebSmc..EPROP E	(NOLOCK) ON  E.EPNRPROP   =O.PPNRPROP
WHERE PPNRPROP='941654888'


*/

CREATE Procedure [dbo].SCR_PendFORMALIZ (									       
									@DT_INI SMALLDATETIME,    
									@DT_FIM SMALLDATETIME,   
									@AGNT   INT ) AS  

	begin


  
/* 

DROP   TABLE DCO_PEND_FORMALIZ 
GO

SP_HELP crv_PEND
ALTER TABLE crv_PEND ALTER COLUMN OPCODORG6 VARCHAR(20)


CREATE TABLE DCO_PEND_FORMALIZ (
A13CODORG	int,
A13DESCR	varchar(20),
AGATIVO		VARCHAR(2),
regiao		varchar(200),
integradas	FLOAT,
pendencias	FLOAT,
PRC			FLOAT )

CREATE INDEX DCO_PEND_FORMALIZ_IDX1 ON DCO_PEND_FORMALIZ (A13CODORG)

A13CODORG	A13DESCR	regiao	integradas	pendencias	prc

 Cód Agente 	 Agente 	 Região 	 Integradas 	 Pendências 	%

-- ALTERADA 16/10/17 ************************
ALTER TABLE DCO_PEND_FORMALIZ ADD PEND_AGENTE FLOAT, PRC_PEND_AGENTE FLOAT, TEMPO FLOAT, TEMPO_ALCADA FLOAT

  */
-- DECLARE	@DT_INI SMALLDATETIME DECLARE @DT_FIM SMALLDATETIME DECLARE @AGNT   INT  SET @DT_INI='20170801' SET @DT_FIM='20170801' SET @AGNT=99
  
TRUNCATE TABLE crv_PEND   
  
INSERT INTO  crv_PEND  (OPCODPROD, OPNROPER, OPDTBASE, OPVLRFIN, OPCODORG1, O1DESCR,  
 OPCODORG2, O2DESCR, OPCODORG3, O3DESCR,  OPCODORG4, O4DESCR,  
 OPCODORG5, O5DESCR, OPCODORG6,			-- opcodorg6 com no. Proposta
 EPCODPEN, EPCMPLTO, OPCODCLI,  
 A13CODORG, A13DESCR, 
	CLNOMECLI, CLFONEFIS, CLFONECOM, CLCGC,  
 DIASATRASO)
--, EPDTAGEN, EPDTPEN, EPDTCAD, EPDTLNCBX, EPDTFIM)  
  
  
SELECT  distinct PPCODPRD,  O.PPNROPER, O.PPDTBASE, O.PPVLRFIN,O.PPCODORG1, T1.O1DESCR, O.PPCODORG2, T2.O2DESCR, O.PPCODORG3, T3.O3DESCR,  
		O.PPCODORG4, T4.O4DESCR, O.PPCODORG5, T5.O5DESCR, -- O.PPCODORG6,
		O.PPNRPROP , -- -- opcodorg6 com no. Proposta
		E.EPNRDECI, E.epTPmotivo, O.PPCODCLI,  
		T1O3.A13CODORG,  LTRIM(REPLACE(replace( REPLACE( replace (A13DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''),'.','')), 
		C.CLNOMECLI, C.CLFONEFIS, C.CLFONECOM, C.CLCGC,      
		0 AS DIASATRASO
	    -- E.EPDTAGEN, E.EPDTPEN, E.EPDTCAD, E.EPDTLNCBX, E.EPDTFIM   
  
FROM   
			(SELECT * FROM propWebSmc..CPROP E	(NOLOCK) WHERE PPDTBASE BETWEEN @DT_INI AND @DT_FIM ) AS O
  INNER JOIN propWebSmc..EPROP E	(NOLOCK) ON  E.EPNRPROP   =O.PPNRPROP
  LEFT  JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.PPCODCLI = C.CLCODCLI   
-- ANTIGOS, AGORA NA ESTEIRA DA PROPOSTA
--  INNER JOIN CDCSANTANAMicroCredito..EPEND E	(NOLOCK) ON O.OPNROPER = E.EPNROPER   
--  INNER JOIN CDCSANTANAMicroCredito..TPEND TP	(NOLOCK) ON E.EPCODPEN = TP.PDCODPEN   

  LEFT  JOIN CDCSANTANAMicroCredito..TORG1 T1	(NOLOCK) ON O.PPCODORG1 = T1.O1CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG2 T2	(NOLOCK) ON O.PPCODORG2 = T2.O2CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG3 T3	(NOLOCK) ON O.PPCODORG3 = T3.O3CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG4 T4	(NOLOCK) ON O.PPCODORG4 = T4.O4CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG5 T5	(NOLOCK) ON O.PPCODORG5 = T5.O5CODORG   
  LEFT JOIN CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK) ON T3.O3CODORGA13 = T1O3.A13CODORG  
WHERE 	   E.EPNRDECI = '602'  -- pend formalizacao    apos 600 DCO
	AND	  (E.EPNRSEQ > (SELECT MIN(E1.EPNRSEQ) FROM  propWebSmc..EPROP E1	(NOLOCK) 
						WHERE E1.EPNRPROP = O.PPNRPROP  AND  E1.EPNRDECI ='600') ) -- FORMALIZACAO
--and ( O.OPDTLIQ IS NULL OR O.OPDTLIQ > @DT_FIM)   
--AND O.PPDTBASE BETWEEN @DT_INI AND @DT_FIM  

/*
 '056'  -- pend CREDITO 
-- ajusta os dados DO CONTRATO VLR LIB
UPDATE		crv_PEND   
	SET		VLR_LIBERADO= B.OPVLROPCZ			--	SELECT *
	FROM	CDCSANTANAMicroCredito..COPER B	(NOLOCK) 
	WHERE	B.OPNROPER=crv_PEND.OPNROPER
  */

-- limpa pend formaliz
-- SELECT * FROM DCO_PEND_FORMALIZ (NOLOCK)
TRUNCATE   TABLE DCO_PEND_FORMALIZ
-- PENDENTES POR AGENTE
INSERT	DCO_PEND_FORMALIZ
		(A13CODORG	,A13DESCR,REGIAO,integradas,pend_AGENTE)
SELECT		A13CODORG, A13DESCR, O1DESCR, 0 ,COUNT(*)		
	FROM	crv_PEND	(NOLOCK)
	GROUP BY A13CODORG, A13DESCR, O1DESCR


-- total de contratos no período por AGENTE MES ANT
UPDATE		 DCO_PEND_FORMALIZ
	SET		 integradas = (
    SELECT		COUNT(*) as CONTRATO 
		FROM	CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK),  -- AGENTE
				(SELECT OPNROPER,OPCODORG3,OPDTLIQ,OPDTBASE FROM CDCSANTANAMicroCredito..COPER		(NOLOCK)
					WHERE	((OPDTLIQ IS NULL) OR OPDTLIQ >= DATEADD(DD,5,OPDTBASE))
						AND OPDTBASE  between @DT_INI AND @DT_FIM ) AS OP, 
				CDCSANTANAMicroCredito..TORG3 T3	(NOLOCK)   -- OPERADOR
		WHERE	OPCODORG3   = T3.O3CODORG 
			AND T3.O3CODORGA13 = T1O3.A13CODORG
			And T1O3.A13CODORG = DCO_PEND_FORMALIZ.A13CODORG )

-- UPDATE		DCO_PEND_FORMALIZ 	SET	AgATIVO, REGIAO
-- SELECT * FROM DCO_PEND_FORMALIZ


-- AGENTE ATIVO S N
UPDATE	DCO_PEND_FORMALIZ
	SET	AGATIVO = (SELECT CASE WHEN ISNULL(A13CODORGA23,0)=1 THEN 'S' ELSE 'N' END
					FROM	CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK)  -- AGENTE
					WHERE	DCO_PEND_FORMALIZ.A13CODORG = T1O3.A13CODORG )

-- ***********************************************************  TEMPO DE FORMALIZACAO
-- HORA DE FORMALIZACAO INICIO
-- SELECT * FROM DCO_PEND_FORMALIZ (NOLOCK)
-- SELECT * FROM crv_PEND (NOLOCK) WHERE OPCODORG6='941645379'
-- SELECT * FROM   propWebSmc..EPROP E	(NOLOCK) WHERE EPNRPROP='941654888'
-- SELECT * FROM   propWebSmc..EPROP E	(NOLOCK) WHERE EPNRPROP='941645379'
-- SELECT * FROM   propWebSmc..CMOVP E	(NOLOCK) WHERE MPNRPROP='941645379' MPCODPRD = 000204 MPCODDECI=179
-- SELECT * FROM   propWebSmc..EPROP E	(NOLOCK) JOIN (  SELECT * FROM   propWebSmc..TDECI E	(NOLOCK) WHERE TDCODDECI=179 ) AS D ON EPNRDECI=TDNRDECI WHERE EPNRPROP='941645379'
-- 941655193
UPDATE		crv_PEND   
	SET		EPDTAGEN  = EPDTLNC ,
			ABRENAVAM = EPHORALNC
	FROM    PropWebSmc..EPROP E	(NOLOCK) 
	WHERE   E.EPNRPROP   =crv_PEND.OPCODORG6 -- PROPOSTA
		AND E.EPNRDECI=600 -- ENTRA EM FORMALIZACAO
		AND E.EPNRSEQ = (SELECT	MIN(EPNRSEQ)	FROM    PropWebSmc..EPROP E1	(NOLOCK) 
						WHERE   E1.EPNRPROP   =E.EPNRPROP -- PROPOSTA
							AND E1.EPNRDECI=600 )-- ENTRA EM FORMALIZACAO
-- FIM DA FORMALIZACAO -- sobra EPDTCAD,EPDTLNCBX
UPDATE		crv_PEND   
	SET		EPDTPEN   = EPDTLNC ,
			ABCHASSI  = EPHORALNC
	FROM    PropWebSmc..EPROP E	(NOLOCK) 
	WHERE   E.EPNRPROP   =crv_PEND.OPCODORG6 -- PROPOSTA
		AND E.EPNRSEQ = (SELECT		MAX(EPNRSEQ)	FROM    PropWebSmc..EPROP E1	(NOLOCK) 
							WHERE   E1.EPNRPROP   =E.EPNRPROP ) -- PROPOSTA FIM
-- SELECT dbo.FN_TEMPO_ANALISE(EPDTAGEN,EPDTPEN,EPDTCAD,EPDTLNCBX),* FROM crv_PEND (NOLOCK)
-- sp_help crv_PEND  -- sobra EPDTCAD,EPDTLNCBX
UPDATE	Crv_PEND
	SET	ABVLRTAB = dbo.FN_TEMPO_ANALISE(EPDTAGEN, ABRENAVAM,  EPDTPEN,ABCHASSI )
-- ABVLRTAB = ENTRA DT HR SAI DT HR -- TEMPO FORMALIZACAO
							
-- TEMPO MEDIO DE FORMALIZ
-- SELECT * FROM crv_PEND (NOLOCK)
-- SELECT * FROM DCO_PEND_FORMALIZ (NOLOCK)
UPDATE	DCO_PEND_FORMALIZ
	SET	TEMPO = T.T
-- ABVLRTAB = ENTRA DT HR SAI DT HR -- TEMPO FORMALIZACAO
FROM (SELECT A13CODORG,AVG(ABVLRTAB) AS T
					FROM	crv_PEND P	(NOLOCK)  -- AGENTE
					GROUP BY A13CODORG  ) AS T
WHERE DCO_PEND_FORMALIZ.A13CODORG = T.A13CODORG

-- ***********************************************************  PEND INTERNA DCO
TRUNCATE TABLE crv_PEND   
-- 107 PEND INT DCO  
INSERT INTO  crv_PEND  (OPCODPROD, OPNROPER, OPDTBASE, OPVLRFIN, OPCODORG1, O1DESCR,  
	 OPCODORG2, O2DESCR, OPCODORG3, O3DESCR,  OPCODORG4, O4DESCR,  
	 OPCODORG5, O5DESCR, OPCODORG6, EPCODPEN, EPCMPLTO, OPCODCLI,  
	 A13CODORG, A13DESCR, 
	CLNOMECLI, CLFONEFIS, CLFONECOM, CLCGC,  
	DIASATRASO)
	--, EPDTAGEN, EPDTPEN, EPDTCAD, EPDTLNCBX, EPDTFIM)  
SELECT  distinct PPCODPRD,  O.PPNROPER, O.PPDTBASE, O.PPVLRFIN,O.PPCODORG1, T1.O1DESCR, O.PPCODORG2, T2.O2DESCR, O.PPCODORG3, T3.O3DESCR,  
		  O.PPCODORG4, T4.O4DESCR, O.PPCODORG5, T5.O5DESCR, --O.PPCODORG6,
			O.PPNRPROP, -- COM PROP
		 E.EPNRDECI, E.epTPmotivo, O.PPCODCLI,  
		  T1O3.A13CODORG,  replace( REPLACE( replace (A13DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''), 
		  C.CLNOMECLI, C.CLFONEFIS, C.CLFONECOM, C.CLCGC,      
		  0 AS DIASATRASO
		  --E.EPDTAGEN, E.EPDTPEN, E.EPDTCAD, E.EPDTLNCBX, E.EPDTFIM   
  
FROM   
			(SELECT * FROM propWebSmc..CPROP E	(NOLOCK) WHERE PPDTBASE BETWEEN @DT_INI AND @DT_FIM ) AS O
  INNER JOIN propWebSmc..EPROP E	(NOLOCK) ON  E.EPNRPROP   =O.PPNRPROP
  LEFT  JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.PPCODCLI = C.CLCODCLI   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG1 T1	(NOLOCK) ON O.PPCODORG1 = T1.O1CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG2 T2	(NOLOCK) ON O.PPCODORG2 = T2.O2CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG3 T3	(NOLOCK) ON O.PPCODORG3 = T3.O3CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG4 T4	(NOLOCK) ON O.PPCODORG4 = T4.O4CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG5 T5	(NOLOCK) ON O.PPCODORG5 = T5.O5CODORG   
  LEFT JOIN CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK) ON T3.O3CODORGA13 = T1O3.A13CODORG  
WHERE 	E.EPNRDECI = '107'  -- pend formalizacao    apos 600 DCO  -- ALTERADOS DESATIVADOS EM 13/9/17
/*
AND 1= 0+ CASE WHEN  @AGNT='99'  THEN 1 -- TODOS OS AGENTES
			   WHEN	 @AGNT='980' THEN 1 -- SOH OS DESATIVADOS
			   WHEN	 @AGNT NOT IN ('99','980') AND T1O3.A13CODORG = @AGNT  THEN 1
			   ELSE  0			END			*/

-- ATUALIZA OS AGENTES CF PEND
UPDATE	DCO_PEND_FORMALIZ
	SET	PENDENCIAS = P.Q
	FROM	(SELECT		P1.A13CODORG, P1.A13DESCR, COUNT(*) AS Q		
				FROM	crv_PEND P1	(NOLOCK)
				GROUP BY P1.A13CODORG, P1.A13DESCR		) AS P
	WHERE		DCO_PEND_FORMALIZ.A13CODORG = P.A13CODORG
		 AND	DCO_PEND_FORMALIZ.A13DESCR  = P.A13DESCR

-- ajusta NULOS
UPDATE		DCO_PEND_FORMALIZ
	SET		PENDENCIAS = 0.0 , PRC=0.0
	WHERE	PENDENCIAS IS NULL


-- CALCULO DO PERCENTUAL	*********************
UPDATE		DCO_PEND_FORMALIZ
	SET		PRC = CASE WHEN integradas =0 THEN 0.0 
						ELSE (pendencias/integradas) * 100.0	END ,
			PRC_PEND_AGENTE = CASE WHEN integradas =0 THEN 0.0 
						ELSE (PEND_AGENTE/integradas) * 100.0	END 


-- ************** MOSTRA DADOS NA TELA *******************
select A13CODORG,	A13DESCR,	-- AGATIVO,
	ISNULL(regiao,'') AS regiao,	integradas,	PEND_AGENTE,	PRC_PEND_AGENTE, 	pendencias,	PRC,
	TEMPO, TEMPO_ALCADA
-- SELECT *
	FROM	DCO_PEND_FORMALIZ	(NOLOCK)
	ORDER BY REGIAO, A13DESCR


-- select * from DCO_PEND_FORMALIZ (nolock)
-- alter table 	DCO_PEND_FORMALIZ add pend_DCO int ,pend_ttl int, Tempo_form float 
 -- 1) EpDtAgen EpDtPen 2)EpDtLncBx  EpDtFim 





end

