USE sig --[Santana]
GO
/****** Object:  StoredProcedure [dbo].SCR_DCO_PendGravames    Script Date: 05/01/2017 16:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP   TABLE DCO_PENDGravames
GO

CREATE TABLE DCO_PENDGravames (
OPCODPROD	varchar(6),
OPNROPER	varchar(15),
OPDTBASE	smalldatetime,
OPVLRFIN	float,
OPCODORG1	varchar(6),
O1DESCR	varchar(20),
OPCODORG2	varchar(6),
O2DESCR	varchar(30),
OPCODORG3	varchar(6),
O3DESCR	varchar(20),
OPCODORG4	varchar(6),
O4DESCR	varchar(15),
OPCODORG5	varchar(6),
O5DESCR	varchar(15),
OPCODORG6	varchar(6),
EPCODPEN	varchar(3),
EPCMPLTO	varchar(255),
OPCODCLI	varchar(15),
A13CODORG	int,
A13DESCR	varchar(20),
CLNOMECLI	varchar(60),
CLFONEFIS	varchar(20),
CLFONECOM	varchar(20),
CLCGC	varchar(18),
DIASATRASO	int,
DOCUMENTO	varchar(200),  -- obs
VLR_LIBERADO	FLOAT,
VLR_PRODUCAO	FLOAT,
VLR_DEBITO		FLOAT,
prc_pend		FLOAT,
EPDTAGEN	smalldatetime,
EPDTPEN	smalldatetime,
EPDTCAD	smalldatetime,
EPDTLNCBX	smalldatetime,
EPDTFIM	smalldatetime )

CREATE INDEX DCO_PENDGravames_IDX1 ON DCO_PENDGravames (OPNROPER)

ALTER TABLE DCO_PENDGravames ADD 
ABMODELO	varchar(80),
ABPLACA		varchar(7),
ABCHASSI	varchar(20),
ABRENAVAM	varchar(11)

/*
Modelo veículo
Placa
Chassi do veículo
Renavam

A13CODORG	A13DESCR	OPNROPER	OPDTBASE	CLNOMECLI	OPCODORG3	O3DESCR	OPCODORG4	O4DESCR
	obs	vlr_lib	vlr_reter	vlr_producao	prc_pend
select * from DCO_PENDGravames (nolock)
select * from DCO_CONF_PGTO (nolock)
*/

/*
DROP   TABLE DCO_CONF_PGTO
GO
CREATE TABLE DCO_CONF_PGTO (
A13CODORG	int,
A13DESCR	varchar(20),
OPNROPER	varchar(15),
OPDTBASE	smalldatetime,
OPCODCLI	varchar(15),
OPNOMEBNF	varchar(200),

ABRENAVAM	varchar(11),
DCFAVNOME	varchar(200),
DCVALOR	float	,
ABCHASSI	varchar	(20),

ABUFLCPL	varchar	(10),
EPDTLNC		DATETIME,
EPHORALNC	DATETIME)

ALTER TABLE DCO_CONF_PGTO ADD O3CODORG VARCHAR(10) -- OPERADOR
ALTER TABLE DCO_CONF_PGTO DROP COLUMN O3CODORG 

ALTER TABLE DCO_CONF_PGTO ADD OPCODORG3 VARCHAR(10)  -- OPERADOR COD
ALTER TABLE DCO_CONF_PGTO ADD OPERADOR  VARCHAR(200) -- OPERADOR NOM


--

DROP   TABLE DCO_PEND_FORMALIZ 
GO
*/
-- SP_HELP crv_PEND
-- ALTER TABLE crv_PEND ALTER COLUMN OPCODORG6 VARCHAR(20)
-- sp_help DCO_PEND_FORMALIZ

CREATE TABLE DCO_PEND_FORMALIZ (
A13CODORG	int,
A13DESCR	varchar(20),
AGATIVO		VARCHAR(2),
regiao		varchar(200),
integradas	FLOAT,
pendencias	FLOAT,
PRC			FLOAT )

CREATE INDEX DCO_PEND_FORMALIZ_IDX1 ON DCO_PEND_FORMALIZ (A13CODORG)

ALTER TABLE DCO_PEND_FORMALIZ ADD PEND_CONTRATO		FLOAT
ALTER TABLE DCO_PEND_FORMALIZ ADD PRC_PEND_CONTRATO FLOAT
ALTER TABLE DCO_PEND_FORMALIZ ADD PEND_GRAVAMES		FLOAT
ALTER TABLE DCO_PEND_FORMALIZ ADD PRC_PEND_GRAVAMES FLOAT

/*
A13CODORG	A13DESCR	regiao	integradas	pendencias	prc

 Cód Agente 	 Agente 	 Região 	 Integradas 	 Pendências 	%

-- ALTERADA 16/10/17 ************************
ALTER TABLE DCO_PEND_FORMALIZ ADD PEND_AGENTE FLOAT, PRC_PEND_AGENTE FLOAT, TEMPO FLOAT, TEMPO_ALCADA FLOAT

  */


-- ALTERADA 16/10/17 ************************
ALTER TABLE DCO_PEND_FORMALIZ ADD PEND_AGENTE FLOAT, PRC_PEND_AGENTE FLOAT, TEMPO FLOAT, TEMPO_ALCADA FLOAT

