USE sig --[Santana]
GO
/****** Object:  StoredProcedure [dbo].[scr_graf_Rolag_Consolid]    Script Date: 05/01/2017 16:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CRV' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CRV] 
GO

-- EXEC SCR_CRV '','20160601','20160601','20160730',30
CREATE Procedure [dbo].SCR_CRV (
	@DataContrato as datetime,
@DT_REF SMALLDATETIME,        
@DT_INI SMALLDATETIME,    
@DT_FIM SMALLDATETIME,   
@AGNT   INT ) AS  

/*
	@DataContrato as datetime,
	@DataReferencia as datetime,
	@DataDe as datetime,
	@DataAte as datetime,
	@Agente as int) AS   
SELECT * from TAgente (nolock) 
SELECT A13CODORG,A13DESCR,* from  CDCSANTANAMicroCredito..TA1O3  (nolock) 

SELECT A13CODORG AS AGCod,A13DESCR  + ' - ' + CAST(A13CODORG AS VARCHAR(10)) AS Descricao  from  CDCSANTANAMicroCredito..TA1O3  (nolock) ORDER BY A13DESCR

    SSQL = "SELECT COUNT(*) as CONTRATO FROM CDCSANTANAMicroCredito..TA1O3 T1O3, CDCSANTANAMicroCredito..COPER, CDCSANTANAMicroCredito..TORG3 T3 WHERE  OPDTLIQ IS NULL AND T3.O3CODORGA13 = T1O3.A13CODORG AND  OPCODORG3   = T3.O3CODORG AND OPDTLIQ IS NULL AND OPDTBASE<='" + Mid(dt_CONT, 7, 4) & "-" & Mid(dt_CONT, 4, 2) & "-" & Mid(dt_CONT, 1, 2) & "' And T1O3.A13CODORG = '" + cd_AGN + "'"
    


*/

	begin


  
/*  CREATE  PROCEDURE [dbo].[PENDENCIA_151]        
@DT_REF SMALLDATETIME,        
@DT_INI SMALLDATETIME,    
@DT_FIM SMALLDATETIME,   
@AGNT   INT  AS  

CREATE TABLE crv_PEND (
OPCODPROD	varchar(6),
OPNROPER	varchar(15),
OPDTBASE	smalldatetime,
OPVLRFIN	float,
OPCODORG1	varchar(6),
O1DESCR	varchar(20),
OPCODORG2	varchar(6),
O2DESCR	varchar(30),
OPCODORG3	varchar(6),
O3DESCR	varchar(20),
OPCODORG4	varchar(6),
O4DESCR	varchar(15),
OPCODORG5	varchar(6),
O5DESCR	varchar(15),
OPCODORG6	varchar(6),
EPCODPEN	varchar(3),
EPCMPLTO	varchar(255),
OPCODCLI	varchar(15),
A13CODORG	int,
A13DESCR	varchar(20),
ABRENAVAM	varchar(11),
ABVLRTAB	float	,
ABCHASSI	varchar	(20),
ABCERTIF	varchar	(10),
ABPLACA	varchar(7),
ABMODELO	varchar(80),
CLNOMECLI	varchar(60),
CLFONEFIS	varchar(20),
CLFONECOM	varchar(20),
CLCGC	varchar(18),
DIASATRASO	int,
EPDTAGEN	smalldatetime,
EPDTPEN	smalldatetime,
EPDTCAD	smalldatetime,
EPDTLNCBX	smalldatetime,
EPDTFIM	smalldatetime )

  */
  
TRUNCATE TABLE crv_PEND  
  
INSERT INTO  crv_PEND (OPCODPROD, OPNROPER, OPDTBASE, OPVLRFIN, OPCODORG1, O1DESCR,  
 OPCODORG2, O2DESCR, OPCODORG3, O3DESCR,  OPCODORG4, O4DESCR,  
 OPCODORG5, O5DESCR, OPCODORG6, EPCODPEN, EPCMPLTO, OPCODCLI,  
 A13CODORG, A13DESCR, ABRENAVAM, ABVLRTAB, ABCHASSI, ABCERTIF,  
 ABPLACA, ABMODELO, CLNOMECLI, CLFONEFIS, CLFONECOM, CLCGC,  
 DIASATRASO, EPDTAGEN, EPDTPEN, EPDTCAD, EPDTLNCBX, EPDTFIM)  
  
  
SELECT  distinct OPCODPROD,  O.OPNROPER, O.OPDTBASE, O.OPVLRFIN,O.OPCODORG1, T1.O1DESCR, O.OPCODORG2, T2.O2DESCR, O.OPCODORG3, T3.O3DESCR,  
  O.OPCODORG4, T4.O4DESCR, O.OPCODORG5, T5.O5DESCR, O.OPCODORG6, E.EPCODPEN, E.EPCMPLTO, O.OPCODCLI,  
  T1O3.A13CODORG,  replace( REPLACE( replace (A13DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''), B.ABRENAVAM, B.ABVLRTAB, B.ABCHASSI, B.ABCERTIF, B.ABPLACA, B.ABMODELO, C.CLNOMECLI, C.CLFONEFIS, C.CLFONECOM, C.CLCGC,      
  ISNULL((SELECT MAX(DATEDIFF(DD, P.PADTVCTO, @DT_REF)) FROM CDCSANTANAMicroCredito..CPARC P WHERE P.PANROPER = O.OPNROPER   
  AND ( P.PADTMOV IS NULL OR P.PADTMOV > @DT_REF) AND  P.PADTVAL <= @DT_REF AND  NOT (P.PACODMOV IN ('07', '08', '09', '13', '91', '94') AND   
  P.PADTLIQ IS NOT NULL)), 0) AS DIASATRASO,   
  E.EPDTAGEN, E.EPDTPEN, E.EPDTCAD, E.EPDTLNCBX, E.EPDTFIM   
  
FROM   
  CDCSANTANAMicroCredito..COPER O				(NOLOCK)
  INNER JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.OPCODCLI = C.CLCODCLI   
  INNER JOIN CDCSANTANAMicroCredito..EPEND E	(NOLOCK) ON O.OPNROPER = E.EPNROPER   
  INNER JOIN CDCSANTANAMicroCredito..TPEND TP	(NOLOCK) ON E.EPCODPEN = TP.PDCODPEN   
  LEFT  JOIN CDCSANTANAMicroCredito..CBFIN B	(NOLOCK) ON O.OPNROPER = B.ABNROPER AND E.EPNRGAR = B.ABNRGAR AND   
    B.ABCNTRL = (SELECT		MAX(BX.ABCNTRL) FROM CDCSANTANAMicroCredito..CBFIN BX (NOLOCK) 
					WHERE	BX.ABNROPER = O.OPNROPER AND BX.ABNRGAR = E.EPNRGAR)  
  LEFT  JOIN CDCSANTANAMicroCredito..TORG1 T1	(NOLOCK) ON O.OPCODORG1 = T1.O1CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG2 T2	(NOLOCK) ON O.OPCODORG2 = T2.O2CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG3 T3	(NOLOCK) ON O.OPCODORG3 = T3.O3CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG4 T4	(NOLOCK) ON O.OPCODORG4 = T4.O4CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG5 T5	(NOLOCK) ON O.OPCODORG5 = T5.O5CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG6 T6	(NOLOCK) ON O.OPCODORG6 = T6.O6CODORG   
  LEFT JOIN CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK) ON T3.O3CODORGA13 = T1O3.A13CODORG  
WHERE E.EPCODPEN =  '151'  
--and O.OPDTLIQ IS NULL  
and   ( O.OPDTLIQ IS NULL OR O.OPDTLIQ > @DT_REF)   
AND O.OPDTBASE <= @DT_FIM  
AND (E.EPDTFIM IS NULL OR E.EPDTFIM > @DT_REF )  AND E.EPDTCAD <= @DT_REF  
--AND O.OPCODPROD IN ('000010','000009','000030','000072','000073','000005','000004','020001','000002','000003','999999','000001','000020','020003','000011','000013','000007','002000','000026','000019','020004','000012','000014','000025','000008','020006','020002','020005','020007')   
AND E.EPDTCAD >= @DT_INI  
AND E.EPDTCAD <= @DT_FIM  
AND T1O3.A13CODORG = @AGNT  
  
  
  
  
  
--SELECT OPNROPER, OPDTBASE, CLNOMECLI, OPCODORG3, O3DESCR, OPCODORG4, O4DESCR, ABPLACA, ABRENAVAM, ABCHASSI, CASE WHEN DIASATRASO <0 then '0' else  DIASATRASO  END dias_atraso FROM PEND151
SELECT	OPNROPER, OPDTBASE, CLNOMECLI, OPCODORG3, O3DESCR, OPCODORG4, O4DESCR, ABPLACA, ABRENAVAM, ABCHASSI, 
		CASE WHEN DIASATRASO <0 then '0' else  DIASATRASO  END dias_atraso 
FROM	crv_PEND	(NOLOCK)
			

/*
		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

*/



end









