USE sig --[Santana]
GO
/****** Object:  StoredProcedure [dbo].[scr_graf_Rolag_Consolid]    Script Date: 05/01/2017 16:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].SCR_CRV (
	@DataContrato as datetime,
	@DataReferencia as datetime,
	@DataDe as datetime,
	@DataAte as datetime,
	@Agente as int) AS

	begin


			

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO

		union all

		select
			'612112543' OPNROPER,
			'24/05/2013' OPDTBASE,
			'DAIANE CRISTINA ROQUE FERNANDES' CLNOMECLI,
			'001297' OPCODORG3,
			'SEBRACO - APARECIDO' O3DESCR,
			'007325' OPCODORG4,
			'BALCAO SEBRACO' O4DESCR,
			'SDS5739' ABPLACA,
			'3434343' ABRENAVAM,
			'9BWZZZ377VT004251' ABCHASSI,
			12 DIASATRASO





end









