USE SIG

-- [SCR_POT_MKT_SHARE]		'201603', '201603', '', '', '', '(TODOS)', '0', '0', '99', '(TODOS)','99'
-- [SCR_POT_MKT_SHARE]		'201603', '201603', '', '', '', '(TODOS)', '0', '0', '99', '(TODOS)','30'

-- [SCR_POT_MKT_SHARE] '" & Right(txtDataDe.Text, 4) & Mid(txtDataDe.Text, 1, 2) & "', '" & Right(txtDataATE.Text, 4) & Mid(txtDataATE.Text, 1, 2) & "', '" & txtLocalizar.Text & "', '" & txtCepDe.Text & "', '" & TxtCepAte.Text & "', '" & lbREGIAO.SelectedItem.Text & "', '" & ddlUF.SelectedValue & "', '" & param_agente & "', '" & ddlFxAno.SelectedValue & "', '" & ddlCidade.SelectedItem.Text & "','" & codGerente & "'"	"
-- [SCR_POT_MKT_SHARE] '201606', '201608', '', '', '', '(TODOS)', '0', '30-Diniz Norte', '99', '(TODOS)','30'

-- [SCR_POT_MKT_SHARE] '201606', '201608', '', '', '', '(TODOS)', '0', '30-PROMOT DINIZ - NORTE', '99', '(TODOS)','30'

-- EXEC [SCR_POT_MKT_SHARE] '201512','201512','','','','','','','1997','AMPARO'
-- EXEC [SCR_POT_MKT_SHARE] '201601','201602','','','','','','','1997','AMPARO'
-- EXEC [SCR_POT_MKT_SHARE] '201601','201602','','','','','','','99','0'

-- select A13DESCR,* from CDCSANTANAMicroCredito..TA1O3 A (NOLOCK) WHERE	a13codorg = '30'
-- [SCR_POT_MKT_SHARE]		'201602', '201604', '', '', '', 'GRANDE SÃO PAULO', '0', '0', '99', '(TODOS)'
-- [SCR_POT_MKT_SHARE]		'201602', '201604', '', '', '', 'GRANDE SÃO PAULO', '0', '118-ANDERSON ABC', '99', '(TODOS)'
-- ALTER TABLE 	AUX_SCR_Cetip_Pot_MKT_SHARE  ADD SEGMENTO VARCHAR (100)

/****** Object:  StoredProcedure [dbo].[SCR_POT_MKT_SHARE]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_POT_MKT_SHARE' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_POT_MKT_SHARE]
GO

-- ***********
CREATE PROCEDURE [dbo].[SCR_POT_MKT_SHARE] (        
 @DataDE  as varchar(10),        
 @DataATE as varchar(10),         
 @localizar as varchar(200),        
 @CEPde as varchar(10),        
 @CEPate as varchar(10),        
 @regiao as varchar(200),        
 @uf  as varchar(10),        
 @agente  as varchar(200),        
 @fx_ano  as varchar(10),        
 @cidade  as varchar(200),        
 @CodAGENTE1  as varchar(10)  -- alterado 28/10/16 acesso agente        
)        
AS        
BEGIN        
        
DECLARE  @codAgente as varchar(10)        
SET   @codAgente= RTRIM(@codAgente1)        
        
        
DECLARE @DTINI  DATETIME          
DECLARE @DTFIM  DATETIME          
          
SET @DTINI = DATEADD(M,-1,CONVERT(DATETIME,@DataDE +'01') )        
SET @DTFIM = CONVERT(DATETIME,@DataATE+'01')          
        
/*        
select * from  Cetip_Potencial_ANALItico    (nolock)    
        
CREATE INDEX TCIDADE_IDX1 ON TCIDADE (cep_de )        
        
sp_help AUX_SCR_Cetip_Potencial_MKT_SHARE        
select count(*) from AUX_SCR_Cetip_Potencial_MKT_SHARE (nolock)        
truncate table AUX_SCR_Cetip_Potencial_MKT_SHARE        
create index AUX_SCR_Cetip_Potencial_MKT_SHARE_idx1 on AUX_SCR_Cetip_Potencial_MKT_SHARE (cnpj)        
        
sp_help Cetip_Potencial_ANALItico        
select count(*) from Cetip_Potencial_ANALItico (nolock)        
select top 100 * from Cetip_Potencial_ANALItico (nolock)  -- segmento         
create index  Cetip_Potencial_ANALItico_idx1 on  Cetip_Potencial_ANALItico(mesReferencia,CNPJ)        
        
sp_help Cetip_Potencial_sintetico        
select count(*) from Cetip_Potencial_sintetico (nolock)        
create index  Cetip_Potencial_sintetico_idx1 on  Cetip_Potencial_sintetico(mesReferencia,CNPJ)        
        
-- cidade        
SELECT  *  FROM CepSantana..cepLOC (NOLOCK) where uf_local ='sp'        
SELECT * FROM TCIDADE        
UPDATE  TCIDADE   SET  CIDADE='Braganca Paulista' WHERE CIDADE='Braganca'        
UPDATE  TCIDADE        
 SET  CEP_DE = CEP8_LOCAL        
 FROM (SELECT  *  FROM CepSantana..cepLOC (NOLOCK) where uf_local ='sp') AS C        
 WHERE NOME_LOCAL = CIDADE        
  AND CEP_DE =''        
UPDATE  TCIDADE        
 SET  CEP_DE = CEP        
 FROM (SELECT  NOME_LOC, MIN(CEP_UNOPER) AS CEP  FROM CepSantana..cepUNIDOPER (NOLOCK) where SIGLA_uf ='sp' GROUP BY NOME_LOC) AS C        
 WHERE NOME_LOC = CIDADE AND CEP_DE=''        
SELECT  *  FROM CepSantana..cepUNIDOPER (NOLOCK) where SIGLA_uf ='sp'        
AND NOME_LOC='Atibaia'        
        
        
TRUNCATE TABLE AUX_SCR_Cetip_Potencial_MKT_SHARE        
        
SP_HELP AUX_SCR_Cetip_Potencial_Sintetico        
        
SELECT * FROM AUX_SCR_Cetip_Potencial_Sintetico        
        
DROP   TABLE AUX_SCR_Cetip_Potencial_MKT_SHARE          
CREATE TABLE AUX_SCR_Cetip_Potencial_MKT_SHARE  (        
CNPJ  varchar(18),        
SEGMENTO VARCHAR(40),        
COD_LOJA VARCHAR(20),        
COD_OPER VARCHAR(20),        
COD_AGENTE VARCHAR(20),        
AGENTE  VARCHAR(200),        
        
LOJA_ATIVA  VARCHAR(20),        
LOJA_SANTANA VARCHAR(20),        
Cidade  varchar(100),        
UF   varchar(2),        
REGIAO  VARCHAR(200),        
GRUPO  VARCHAR(200),        
CEP   VARCHAR(20),        
FX_CEP_DE VARCHAR(20),        
FX_CEP_ATE VARCHAR(20),        
Quantidade int,        
Volume  FLOAT,        
MarketShare FLOAT,        
PRC   FLOAT  )        
        
ALTER TABLE AUX_SCR_Cetip_Potencial_MKT_SHARE ADD QTDE_POTENCIAL INT        
        
UF REGIAO GRUPO CIDADE AGENTE CIDADE CEP_DE CEP_ATE         
FX1_QTDE FX1_VLR FX1_MKT FX1_PRC FX2_QTDE FX2_VLR FX2_MKT FX2_PRC        
        
DROP   TABLE AUX_SCR_Cetip_Pot_MKT_SHARE          
CREATE TABLE AUX_SCR_Cetip_Pot_MKT_SHARE  (        
UF   varchar(2),        
REGIAO  VARCHAR(200),        
GRUPO  VARCHAR(200),        
CIDADE  VARCHAR(200),        
AGENTE  VARCHAR(200),        
FX_CEP_DE VARCHAR(20),        
FX_CEP_ATE VARCHAR(20),        
        
FX1_QTDE FLOAT,        
FX1_VLR  FLOAT,        
FX1_MKT  FLOAT,        
FX1_PRC  FLOAT,        
FX2_QTDE FLOAT,        
FX2_VLR  FLOAT,        
FX2_MKT  FLOAT,        
FX2_PRC  FLOAT  )        
        
        
SELECT a13codOrg, a13descr FROM CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)        
        
Loja ativa trazer do Função Ag, reg        
Lj não é Santana trazer pelos CEPs        
        
Trazer Segmento do Potencial Analitico        
Trazer Volume e MKT Share do Pot. Sintetico        
        
-- SEGMENTO        
SELECT DISTINCT SEGMENTO FROM Cetip_Potencial_ANALItico (NOLOCK)        
ORDER BY 1        
<= 2004        
>= 2005        
        
SELECT * FROM        
(SELECT CNPJ, SUM(QUANTIDADE) AS Q, SUM(VOLUME) AS V        
FROM Cetip_Potencial_Sintetico (NOLOCK)        
WHERE MESREFERENCIA = '201512'        
GROUP BY CNPJ ) AS SINT        
JOIN         
FROM  (select o4codorg, o4nome, o4descr, o4rua,o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ          
    from CDCSANTANAMicroCredito..torg4 O (NOLOCK) ) as c          
 WHERE o4cpfcgc= LEFT(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,2)+'.'+substring(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,3,3)+'.'+substring(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,6,3)+'/'+substring(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,9,4)+'-'+right(AUX_SCR
  
    
      
_Cetip_Potencial_Sintetico.cnpj,2)          
        
        
*/        
        
TRUNCATE TABLE AUX_SCR_Cetip_Potencial_MKT_SHARE          
        
/*        
INSERT AUX_SCR_Cetip_Potencial_MKT_SHARE   (        
CNPJ , -- varchar(18),        
SEGMENTO, --        
COD_LOJA, -- VARCHAR(20),        
COD_OPER, -- VARCHAR(20),        
COD_AGENTE, -- VARCHAR(20),        
AGENTE   , -- VARCHAR(200),        
        
LOJA_ATIVA , --  VARCHAR(20),        
LOJA_SANTANA, -- VARCHAR(20),        
Cidade  , --    varchar(100),        
UF   , -- varchar(2),        
REGIAO  , -- VARCHAR(200),        
GRUPO  , -- VARCHAR(200),        
CEP   , -- VARCHAR(20),        
FX_CEP_DE , -- VARCHAR(20),        
FX_CEP_ATE , -- VARCHAR(20),        
Quantidade , -- int,        
Volume  , -- FLOAT,        
MarketShare , -- FLOAT,        
PRC   ) -- FLOAT  )        
*/        
        
-- SE TIVER QUEBRA/FILTRO POR SEGMENTO = ANO VEIC        
INSERT AUX_SCR_Cetip_Potencial_MKT_SHARE   (
CNPJ	, --	varchar(18),
-- cep,	-- inclui 24/6 NAO TEM NO ANALITICO , SOH NO SINTETICO
SEGMENTO, --	VARCHAR(40),
Quantidade	, -- int,
Volume		,
MarketShare ,
QTDE_POTENCIAL) -- FLOAT  )
SELECT  ANALIT.CNPJ,   ANALIT.SEGM, 0, 0.0, ANALIT.V, ANALIT.Q
FROM
(SELECT CNPJ,  CASE WHEN SEGMENTO='NOVO' THEN '2010 a 0 KM' ELSE SEGMENTO END AS SEGM, SUM(QUANTIDADE) AS Q, SUM(VOLUME) AS V
FROM	Cetip_Potencial_ANALItico (NOLOCK)
WHERE	MESREFERENCIA BETWEEN @DataDE		AND @DataATE
	-- REMOVE PJ
	AND	TIPOPESSOA NOT IN ('J') 
	-- REMOVE AS CATEGORIAS D VEICULOS NAO UTILIZADOS
	AND CATEGORIA NOT IN (	'CHASSI/PLATAFORMA','CICLOMOTOR','CAMINHAO TRATOR','MOTONETA',
							'TRATOR DE RODAS','SEMI-REBOQUE','INEXISTENTE','REBOQUE','TRICICLO' )
GROUP BY CNPJ, CASE WHEN SEGMENTO='NOVO' THEN '2010 a 0 KM' ELSE SEGMENTO END  ) AS ANALIT    
        
/*        
SELECT * --CNPJ, SEGMENTO, SUM(QUANTIDADE) AS Q, SUM(VOLUME) AS V        
FROM Cetip_Potencial_ANALItico (NOLOCK)        
WHERE MESREFERENCIA='201603'        
SELECT * --CNPJ, SEGMENTO, SUM(QUANTIDADE) AS Q, SUM(VOLUME) AS V        
FROM Cetip_Potencial_SINTEtico (NOLOCK)        
WHERE MESREFERENCIA='201603'        
        
*/        
        
        
-- DADOS DA LOJA DO FUNCAO -------------  SE LJ SANTANA, INDICA O COMERCIAL        
UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  Loja_Ativa  = ISNULL(o4ativa  ,'')  ,        
  COD_LOJA = ISNULL(o4codOrg ,'') ,        
  COD_OPER = ISNULL(O6CODORG ,'') ,        
  LOJA_SANTANA= 'S' ,        
  Cidade = ISNULL(o4cid  ,'')  ,        
  UF  = ISNULL(o4uf   ,'')          
  --CEP  = ISNULL(o4cep  ,'')   -- NAO TROCAR O CEP PELO DO CADASTRO        
FROM  (select o4codorg, --o4nome, o4descr, o4rua,  o4bai, o4dtdesat, o4dtativ  ,o4fone,         
     o4cpfcgc, o4cid, o4cep, O6CODORG, o4ativa,o4uf        
    from CDCSANTANAMicroCredito..torg4 O (NOLOCK)     
 INNER JOIN CDCSANTANAMICROCREDITO..TORG3 (NOLOCK) ON O4CODORG3 = O3CODORG    
 INNER JOIN CDCSANTANAMICROCREDITO..TORG6 (NOLOCK) ON O6CODORG3 = O3CODORG ) as c          
 WHERE o4cpfcgc= LEFT(AUX_SCR_Cetip_Potencial_MKT_SHARE.cnpj,2)+'.'+substring(AUX_SCR_Cetip_Potencial_MKT_SHARE.cnpj,3,3)+'.'+substring(AUX_SCR_Cetip_Potencial_MKT_SHARE.cnpj,6,3)+'/'+substring(AUX_SCR_Cetip_Potencial_MKT_SHARE.cnpj,9,4)+'-'+right(AUX_SCR_Cetip_Potencial_MKT_SHARE.cnpj,2)          
        
-- DADOS DA LOJA DA CETIP -------------  SE NAO EH LJ SANTANA, INDICA O CEP P/ LOCALIZAR A REGIAO        
-- DECLARE @DataDE VARCHAR(6) SET @DataDE ='201601'  DECLARE @DataATE VARCHAR(6) SET @DataATE ='201604'        
-- DECLARE @DataDE VARCHAR(6) SET @DataDE ='201602'  DECLARE @DataATE VARCHAR(6) SET @DataATE ='201604'        
UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  CEP  = ISNULL(C.CEP  ,'')          
FROM  (select DISTINCT CNPJ,CEP        
    from Cetip_Potencial_SINTEtico O (NOLOCK)         
   WHERE MESREFERENCIA BETWEEN @DataDE  AND @DataATE        
   ) as C        
 WHERE AUX_SCR_Cetip_Potencial_MKT_SHARE.CNPJ = C.CNPJ        
  AND AUX_SCR_Cetip_Potencial_MKT_SHARE.CEP  IS NULL        
-- CEP DO CADASTRO DA LOJA        
UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  CEP  = ISNULL(o4cep  ,'')   -- NAO TROCAR O CEP PELO DO CADASTRO        
FROM  (select o4codorg, --o4nome, o4descr, o4rua,  o4bai, o4dtdesat, o4dtativ  ,o4fone,         
     o4cpfcgc, o4cid, o4cep, O6CODORG, o4ativa,o4uf        
    from CDCSANTANAMicroCredito..torg4 O (NOLOCK)    
 INNER JOIN CDCSANTANAMICROCREDITO..TORG3 (NOLOCK) ON O4CODORG3 = O3CODORG     
 INNER JOIN CDCSANTANAMICROCREDITO..TORG6 (NOLOCK) ON O6CODORG3 = O3CODORG    ) as c          
 WHERE o4cpfcgc= LEFT(AUX_SCR_Cetip_Potencial_MKT_SHARE.cnpj,2)+'.'+substring(AUX_SCR_Cetip_Potencial_MKT_SHARE.cnpj,3,3)+'.'+substring(AUX_SCR_Cetip_Potencial_MKT_SHARE.cnpj,6,3)+'/'+substring(AUX_SCR_Cetip_Potencial_MKT_SHARE.cnpj,9,4)+'-'+right(AUX_SCR_Cetip_Potencial_MKT_SHARE.cnpj,2)          
  AND AUX_SCR_Cetip_Potencial_MKT_SHARE.CEP  IS NULL        
        
        
-- POSICIONA LOJA PELA FX DE CEP        
UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  FX_CEP_DE  = ISNULL(C.CEP_DE  ,'')  ,        
  FX_CEP_ATE  = ISNULL(C.CEP_ATE ,'')  ,        
  CIDADE = ISNULL(C.CIDADE  ,'')  ,        
  UF = ISNULL(C.COD_UF,''),        
  REGIAO = cod_regiao,         
  GRUPO  = cod_grupo,        
  COD_AGENTE  = ISNULL(C.COD_AGENTE  ,'')   -- agente com PB em SUMARE        
FROM TCIDADE C (NOLOCK)        
WHERE convert(float,AUX_SCR_Cetip_Potencial_MKT_SHARE.CEP) BETWEEN convert(float,C.CEP_DE) AND convert(float,C.CEP_ATE)        
AND  AUX_SCR_Cetip_Potencial_MKT_SHARE.FX_CEP_DE IS NULL        
AND  AUX_SCR_Cetip_Potencial_MKT_SHARE.CEP  IS NOT NULL        
        
UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  COD_AGENTE  = ISNULL(C.COD_AGENTE  ,'')  ,        
  LOJA_ATIVA  = '',        
  LOJA_SANTANA = 'N',        
  UF = COD_UF,        
  REGIAO = cod_regiao,         
  GRUPO  = cod_grupo ,        
  CIDADE = C.CIDADE ,        
  FX_CEP_DE  = ISNULL(C.CEP_DE  ,'')  ,        
  FX_CEP_ATE  = ISNULL(C.CEP_ATE ,'')          
FROM TCIDADE C (NOLOCK)        
WHERE convert(float,AUX_SCR_Cetip_Potencial_MKT_SHARE.FX_CEP_DE) = convert(float,C.CEP_DE)        
AND  AUX_SCR_Cetip_Potencial_MKT_SHARE.LOJA_SANTANA IS NULL        
--AND  AUX_SCR_Cetip_Potencial_MKT_SHARE.LOJA_ATIVA   IS NULL        
        
        
/*        
select *        
FROM  (select o4codorg, --o4nome, o4descr, o4rua,  o4bai, o4dtdesat, o4dtativ  ,o4fone,         
     o4cpfcgc, o4cid, o4cep, o4codorg3, o4ativa,o4uf        
    from CDCSANTANAMicroCredito..torg4 O (NOLOCK) ) as c  ,        
AUX_SCR_Cetip_Potencial_MKT_SHARE (nolock)        
 WHERE o4cpfcgc= LEFT(AUX_SCR_Cetip_Potencial_MKT_SHARE.cnpj,2)+'.'+substring(AUX_SCR_Cetip_Potencial_MKT_SHARE.cnpj,3,3)+'.'+substring(AUX_SCR_Cetip_Potencial_MKT_SHARE.cnpj,6,3)+'/'+substring(AUX_SCR_Cetip_Potencial_MKT_SHARE.cnpj,9,4)+'-'+right(AUX_SCR
  
    
      
_Cetip_Potencial_MKT_SHARE.cnpj,2)          
        
select count(*) from AUX_SCR_Cetip_Potencial_MKT_SHARE (nolock) where loja_santana='s'        
        
SELECT * FROM AUX_SCR_Cetip_Potencial_MKT_SHARE (NOLOCK) WHERE FX_CEP_DE IS NULL AND CEP  IS NOT NULL        
        
select * from tcidade c (nolock)         
order by cep_de        
        
select * from tcidade c (nolock)         
where convert(float,'03090000') between  convert(float,C.CEP_DE) AND convert(float,C.CEP_ATE)        
        
        
select * from tcidade c (nolock)         
where convert(float,'06029900') between  convert(float,C.CEP_DE) AND convert(float,C.CEP_ATE)        
06029900        
        
select *         
FROM TCIDADE C (NOLOCK),AUX_SCR_Cetip_Potencial_MKT_SHARE (nolock)        
WHERE convert(float,AUX_SCR_Cetip_Potencial_MKT_SHARE.CEP) BETWEEN convert(float,C.CEP_DE) AND convert(float,C.CEP_ATE)        
AND  AUX_SCR_Cetip_Potencial_MKT_SHARE.FX_CEP_DE IS NULL        
AND  AUX_SCR_Cetip_Potencial_MKT_SHARE.CEP  IS NOT NULL        
        
UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  Agente  = ISNULL(CONVERT(VARCHAR(10),A13CODORG)+'-'+A13DESCR,''),        
  COD_AGENTE = ISNULL(A13CODORG,'')        
FROM (SELECT DISTINCT PPCODORG4,PPCODORG3 FROM  PropWebSmc..CProp  (NOLOCK)          
    WHERE PPDTBASE BETWEEN @DTINI AND @DTFIM ) AS PROP          
left join          
  (select DISTINCT O3CODORG,O3DESCR,o3codOrgA13 from CDCSANTANAMicroCredito..TORG3 OPE1 (NOLOCK) ) as OPERADOR          
  ON O3CODORG = PPCODORG3          
-- AGENTE          
left join          
  (select A13CODORG,A13DESCR,A13DTCAD from CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) ) as A          
  ON OPERADOR.o3codOrgA13 = A.A13CODORG          
WHERE PPCODORG4= COD_LOJA  -- o4codorg          
        
        
select distinct cnpj , razaoSocial,endereco,Cidade,cep from Cetip_Potencial_SINTEtico O (NOLOCK)        
select * from CDCSANTANAMicroCredito..TORG4 OPE1 (NOLOCK) where o4ativa ='A'        
        
select * from Cetip_Potencial_SINTEtico O (NOLOCK) where mesReferencia='201504'        
WHERE CNPJ_LJ = O.CNPJ        
        
select * from Cetip_Potencial_SINTEtico O (NOLOCK) where mesReferencia='201606'        
        
select distinct cnpj , razaoSocial,endereco,Cidade,cep from Cetip_Potencial_SINTEtico O (NOLOCK)        
 where mesReferencia='201606'        
*/        
-- COD OPERADOR        
UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  COD_OPER = ISNULL(PPCODORG6,'')        
FROM (SELECT DISTINCT PPCODORG4,PPCODORG6 FROM  PropWebSmc..CProp  (NOLOCK)          
    WHERE PPDTBASE BETWEEN @DTINI AND @DTFIM ) AS PROP          
WHERE PPCODORG4= COD_LOJA  -- o4codorg          
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_AGENTE IS NULL   -- BRANCOS        
        
-- COD AGENTE        
--UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
--SET  COD_AGENTE = ISNULL(o6codOrg3,'')        
--FROM (select DISTINCT O6CODORG,O6DESCR,o6codOrg3 from CDCSANTANAMicroCredito..TORG6 OPE1 (NOLOCK) ) as OPERADOR          
--WHERE  O6CODORG = COD_OPER -- OPERADOR TRABALHA P/ UM AGENTE=PROMOTORA        
-- NOME AG        
UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  Agente  = ISNULL(CONVERT(VARCHAR(10),O3CODORG)+'-'+O3DESCR,'')        
-- AGENTE          
FROM (select O3CODORG,O3DESCR,O3DTCAD from CDCSANTANAMicroCredito..TORG3 A1 (NOLOCK) ) as A          
WHERE COD_AGENTE = A.O3CODORG          
        
-- **********************************************  ESTRUTURA COMERCIAL ****************************        
/* ALTEREI 24-6-16  */        
UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  REGIAO= COD_REGIAO,        
  GRUPO = COD_GRUPO,        
  FX_CEP_DE  = CEP_DE,        
  FX_CEP_ATE = CEP_ATE,        
  UF = COD_UF,        
  CIDADE = C.CIDADE ,        
  COD_AGENTE  = ISNULL(C.COD_AGENTE  ,'')          
-- SELECT *        
FROM TCIDADE C (NOLOCK)        
WHERE AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE = C.CIDADE        
        
-- AND AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_AGENTE = C.COD_AGENTE  removi, pb algumas cidades        
-- INSERT TCIDADE (COD_REGIAO,COD_GRUPO,CODIGO, CIDADE,COD_UF,COD_AGENTE,CEP_DE,CEP_ATE)         
        
        
UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  REGIAO= C.REGIAO        
-- SELECT *        
FROM TREGIAO C (NOLOCK)        
WHERE AUX_SCR_Cetip_Potencial_MKT_SHARE.REGIAO = C.CODIGO        
        
UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  GRUPO= C.GRUPO        
-- SELECT *        
FROM TGRUPO C (NOLOCK)        
WHERE AUX_SCR_Cetip_Potencial_MKT_SHARE.GRUPO = C.CODIGO        
        
        
-- PRODUCAO NAS LOJAS DA SANTANA  ****************************** INCLUIDO 29/05/16        
-- DECLARE @DATADE VARCHAR(10) DECLARE @DATAATE VARCHAR(10) SET @DATADE='201601' SET @DATAATE ='201601' SELECT CONVERT(DATETIME,LEFT(@DATADE,4)+RIGHT('00'+RTRIM(RIGHT(@DATADE,2)),2)+'01')        
/*        
-- PRODUCAO COM OPERADOR E LOJA        
UPDATE  AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  QUANTIDADE = Q, VOLUME = V        
FROM (SELECT OPCODORG4,OPCODORG3,COUNT(*) AS Q, SUM(OPVLROPCZ) AS V FROM CDCSANTANAMicroCredito..COPER OPE1 (NOLOCK)         
WHERE OPDTBASE BETWEEN CONVERT(DATETIME,LEFT(@DATADE,4)+RIGHT('00'+LTRIM(RIGHT(@DATADE,2)),2)+'01')         
AND DATEADD(D,-1,DATEADD(M,+1,CONVERT(DATETIME,LEFT(@DATAATE,4)+RIGHT('00'+LTRIM(RIGHT(@DATAATE,2)),2)+'01')))        
--AND OPDT  NAO CANCELADO        
GROUP BY OPCODORG4,OPCODORG3        
) AS  O        
WHERE O.OPCODORG4= COD_LOJA        
AND LOJA_SANTANA='S'  -- SIM LOJA CADASTRADA        
AND O.OPCODORG3= COD_OPER -- MESMO OPERADOR        
AND SEGMENTO = (SELECT MIN (SEGMENTO) FROM  AUX_SCR_Cetip_Potencial_MKT_SHARE M1 (NOLOCK)         
    WHERE  AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_LOJA= M1.COD_LOJA        
    AND M1.LOJA_SANTANA='S'  -- SIM LOJA CADASTRADA        
    AND AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_OPER= M1.COD_OPER -- MESMO OPERADOR        
    )        
*/        
/*        
-- PRODUCAO POR AGENTE        
UPDATE  AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  QUANTIDADE = Q, VOLUME = V        
FROM (SELECT  --OPCODORG4,OPCODORG3,        
     O3CODORGA13, COUNT(*) AS Q, SUM(OPVLROPCZ) AS V         
   FROM CDCSANTANAMicroCredito..COPER OPE1 (NOLOCK)         
   LEFT JOIN CDCSANTANAMicroCredito..TORG3 O (NOLOCK)         
    ON  OPCODORG3 = O3CODORG        
   WHERE OPDTBASE BETWEEN CONVERT(DATETIME,LEFT(@DATADE,4)+RIGHT('00'+LTRIM(RIGHT(@DATADE,2)),2)+'01')         
    AND DATEADD(D,-1,DATEADD(M,+1,CONVERT(DATETIME,LEFT(@DATAATE,4)+RIGHT('00'+LTRIM(RIGHT(@DATAATE,2)),2)+'01')))        
    --AND OPDT  NAO CANCELADO        
   GROUP BY O3CODORGA13 -- OPCODORG4,OPCODORG3        
  ) AS  O        
WHERE O3CODORGA13 = COD_AGENTE        
--O.OPCODORG4= COD_LOJA        
--AND LOJA_SANTANA='S'  -- SIM LOJA CADASTRADA        
--AND O.OPCODORG3= COD_OPER -- MESMO OPERADOR        
AND SEGMENTO = (SELECT MIN (SEGMENTO) FROM  AUX_SCR_Cetip_Potencial_MKT_SHARE M1 (NOLOCK)         
    WHERE  AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_AGENTE= M1.COD_AGENTE -- MESMO AGENTE        
--AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_LOJA= M1.COD_LOJA    AND M1.LOJA_SANTANA='S'  -- SIM LOJA CADASTRADA        
--    AND AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_OPER= M1.COD_OPER -- MESMO OPERADOR        
    )        
 OPNROPER [varchar](20) ,        
 OPCODOP  [varchar](20) ,        
 OPCODCLI [varchar](20) ,        
 OPDTBASE DATETIME,        
        
 OPCODORG4 [varchar](20),        
 OPCODORG3 [varchar](20),        
 OPCODORGA13 [varchar](20),        
        
 CEP_LJ [varchar](20) ,        
 CIDADE_ESTR [varchar](20) ,        
 OPVLROPCZ FLOAT,        
 ANO_BEM  VARCHAR(20),        
        
 [cod_uf] [varchar](2),        
 [cod_regiao] [int],        
 [cod_grupo] [int] ,        
 [cep_de] [varchar](9),        
 [cep_ate] [varchar](9),        
 [cod_agente] [varchar](10),        
 SEGMENTO VARCHAR(200)        
*/        
        
TRUNCATE TABLE [AUX_POT_PROD_CIDADE]        
        
INSERT [AUX_POT_PROD_CIDADE]        
SELECT         
 OPNROPER,        
 OPCODOP ,        
 OPCODCLI,        
 OPDTBASE,        
        
 OPCODORG4,        
 OPCODORG6,        
 OPCODORG3, --OPCODORGA13,        
        
 '', --CEP_LJ        
 '', --CIDADE_ESTR         
 OPVLROPCZ ,        
 '', --ANO_BEM          
        
 '', --[cod_uf] [varchar](2),        
 '', --[cod_regiao] [int],        
 '', --[cod_grupo] [int] ,        
 '', --[cep_de] [varchar](9),        
 '', --[cep_ate] [varchar](9),        
 '', --[cod_agente] [varchar](10),        
 '',  --SEGMENTO VARCHAR(200)        
 '' -- CNPJ LJ        
FROM CDCSANTANAMicroCredito..COPER OPE1 (NOLOCK)         
WHERE OPDTBASE BETWEEN CONVERT(DATETIME,LEFT(@DATADE,4)+RIGHT('00'+LTRIM(RIGHT(@DATADE,2)),2)+'01')         
 AND DATEADD(D,-1,DATEADD(M,+1,CONVERT(DATETIME,LEFT(@DATAATE,4)+RIGHT('00'+LTRIM(RIGHT(@DATAATE,2)),2)+'01')))        
  --   LISTA COM MODALIDADES DO PRODUTO VEIC        
  AND (OPCODOP IN (SELECT M.COD_MODA        
      FROM  Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)          
      WHERE M.COD_PROD = T.COD_PROD         
       AND T.COD_MODALIDADE = M.COD_MODALIDADE         
      AND T.COD_PROD = 'V' ))        
  --OR OPCODOP IN ( '751','752'))  RENEG NÃO EH PRODUCAO        
        
        
-- COD DO AGENTE DO FUNCAO         
-- SELECT * FROM [AUX_POT_PROD_CIDADE]        
--UPDATE [AUX_POT_PROD_CIDADE]        
--SET  OPCODORG3 = O6CODORG3        
--FROM CDCSANTANAMicroCredito..TORG6 O (NOLOCK)         
--WHERE OPCODORG3 = O6CODORG        
        
-- CEP_LJ E CNPJ_LJ        
UPDATE [AUX_POT_PROD_CIDADE]        
SET  CEP_LJ = O4CEP,        
  -- 00146957000140  14 POSICOES        
  CNPJ_LJ = RIGHT(REPLICATE('0',14)+RTRIM(REPLACE(REPLACE(REPLACE(O4CPFCGC,'.',''),'/',''),'-','')) ,14)  -- O4CPF_CGC  --45.590.114/0001-77        
FROM CDCSANTANAMicroCredito..TORG4 O (NOLOCK)         
WHERE OPCODORG4 = O4CODORG        
        
-- 01203002  SP CENTRO  -- NAO OPERAMOS , JOGAR NA 02000000  -- ZONA NORTE SANTANA        
UPDATE [AUX_POT_PROD_CIDADE]        
SET  CEP_LJ   = '02000000'        
WHERE CEP_LJ   < '02000000'        
        
        
/*        
-- alterado 27/07/16 ***************************************  não considerar a Região do Potencial p/ Produção *******        
-- CEP NAO ENCONTRADO DA LOJA, BUSCAR NO POTENCIAL PELO CNPJ_LJ        
UPDATE [AUX_POT_PROD_CIDADE]        
SET  CEP_LJ = O.CEP        
FROM Cetip_Potencial_SINTEtico O (NOLOCK)         
WHERE CNPJ_LJ = O.CNPJ        
AND  ISNULL([AUX_POT_PROD_CIDADE].CEP_LJ ,'') IN ('','0')        
-- ajustar Balcao sem CEP  O4CODORG ='008175', Balcao , usar o cep Santana 02010200        
UPDATE [AUX_POT_PROD_CIDADE]        
SET  CEP_LJ   = '02010200'        
WHERE OPCODORG4 = '008175'        
-- 1308040 BV SP -- SP ZONA NORTE        
UPDATE [AUX_POT_PROD_CIDADE]        
SET  CEP_LJ   = '02010200'        
WHERE CEP_LJ   = '01308040'        
        
UPDATE [AUX_POT_PROD_CIDADE]        
SET  CEP_LJ   = '17203320'        
WHERE CEP_LJ   = '27203320'        
        
*/        
  -- ANO MODELO ********************        
  UPDATE  [AUX_POT_PROD_CIDADE]        
  SET  ANO_BEM = ISNULL(ABANOMOD,'')  -- com Ano Modelo        
  FROM CDCSANTANAMicroCredito..CBFIN B (NOLOCK)        
  WHERE OPNROPER= B.ABNROPER        
   AND B.ABCNTRL = (SELECT  MAX(BX.ABCNTRL)         
        FROM CDCSANTANAMicroCredito..CBFIN BX (NOLOCK)         
        WHERE BX.ABNROPER = B.ABNROPER )        
   AND B.ABNRGAR = '01'        
        
        
UPDATE [AUX_POT_PROD_CIDADE]        
SET  CIDADE_ESTR = ISNULL(C.CIDADE  ,'')  ,        
  [cod_uf] = ISNULL(C.COD_UF,''),        
  [cod_regiao] = ISNULL(C.cod_regiao,'') ,         
  [cod_grupo]  = ISNULL(C.cod_grupo ,'')         
--  [cod_agente] = ISNULL(C.COD_AGENTE,'')   -- alterado 27/07/16 **********  considerar agente da Producao        
FROM TCIDADE C (NOLOCK)        
WHERE convert(float,[AUX_POT_PROD_CIDADE].CEP_LJ) BETWEEN convert(float,C.CEP_DE) AND convert(float,C.CEP_ATE)        
 AND [AUX_POT_PROD_CIDADE].CEP_LJ  IS NOT NULL        
        
        
  -- ANO MODELO ********************        
  UPDATE  [AUX_POT_PROD_CIDADE]        
  SET  SEGMENTO = CASE WHEN CONVERT(INT,ANO_BEM) BETWEEN 1991 AND 1996 THEN '1991 a 1996'  -- producao desde 1990        
        WHEN CONVERT(INT,ANO_BEM) BETWEEN 1997 AND 2000 THEN '1997 a 2000'        
        WHEN CONVERT(INT,ANO_BEM) BETWEEN 2001 AND 2004 THEN '2001 a 2004'        
        WHEN CONVERT(INT,ANO_BEM) BETWEEN 2005 AND 2009 THEN '2005 a 2009'        
        WHEN CONVERT(INT,ANO_BEM) >= 2010 THEN '2010 a 0 KM'        
        ELSE '' END        
  WHERE ISNULL(ANO_BEM,'') <> ''        
        
-- AJUSTA AS QTDES E VALOR DE PRODUCAO QDO NAO LOCALIZA O SEGMENTO  ****************** JUL-16        
UPDATE  [AUX_POT_PROD_CIDADE]        
SET  SEGMENTO = (SELECT  MIN(SEGMENTO) FROM AUX_SCR_Cetip_Potencial_MKT_SHARE (NOLOCK)        
      WHERE AUX_SCR_Cetip_Potencial_MKT_SHARE.CNPJ    =  [AUX_POT_PROD_CIDADE].CNPJ_LJ        
       AND AUX_SCR_Cetip_Potencial_MKT_SHARE.SEGMENTO >= [AUX_POT_PROD_CIDADE].SEGMENTO )        
FROM    AUX_SCR_Cetip_Potencial_MKT_SHARE P (NOLOCK)        
WHERE P.CNPJ    = [AUX_POT_PROD_CIDADE].CNPJ_LJ        
-- AND P.SEGMENTO = [AUX_POT_PROD_CIDADE].SEGMENTO        
 AND [AUX_POT_PROD_CIDADE].SEGMENTO NOT IN (SELECT DISTINCT SEGMENTO FROM AUX_SCR_Cetip_Potencial_MKT_SHARE P1 (NOLOCK)        
            WHERE P1.CNPJ    =  [AUX_POT_PROD_CIDADE].CNPJ_LJ)        
        
-- INSERE NO POTENCIAL MKT SHARE O SEGMENTO NULL -- NAO ENCONTRADO DA PRODUCAO NO POT        
/*  6/7/16        
CNPJ SEGMENTO COD_LOJA COD_OPER COD_AGENTE AGENTE LOJA_ATIVA LOJA_SANTANA Cidade UF REGIAO GRUPO CEP FX_CEP_DE FX_CEP_ATE Quantidade Volume MarketShare PRC QTDE_POTENCIAL        
07145218000183 2001 a 2004 NULL NULL 143 143-PROM. ACF - LIMEIRA  N AMERICANA SP SÃO PAULO CENTRAL LIMEIRA 13472520 13465000 13479999 0 0 14500 NULL 1        
        
-- REMOVI PRA TESTE 6/7/16 FALTAM 49 NA PROD DE MAR-16        
*/        
INSERT AUX_SCR_Cetip_Potencial_MKT_SHARE        
  (CNPJ, SEGMENTO,         
  COD_LOJA, COD_OPER, COD_AGENTE, AGENTE, LOJA_ATIVA, LOJA_SANTANA,         
  Cidade, UF, REGIAO, GRUPO, CEP, FX_CEP_DE, FX_CEP_ATE,         
  Quantidade, Volume, MarketShare, PRC, QTDE_POTENCIAL)        
    SELECT  MAX(CNPJ_LJ), P.SEGMENTO,        
/*        
CASE WHEN CONVERT(INT,ANO_BEM) BETWEEN 1990 AND 1996 THEN '1991 a 1996'  -- producao desde 1990        
        WHEN CONVERT(INT,ANO_BEM) BETWEEN 1997 AND 2000 THEN '1997 a 2000'        
        WHEN CONVERT(INT,ANO_BEM) BETWEEN 2001 AND 2004 THEN '2001 a 2004'        
        WHEN CONVERT(INT,ANO_BEM) BETWEEN 2005 AND 2009 THEN '2005 a 2009'        
        WHEN CONVERT(INT,ANO_BEM) >= 2010 THEN '2010 a 0 KM'        
        ELSE '' END , */        
  MAX(OPCODORG4), MAX(OPCODORG3), --MAX(OPCODORGA13),        
  OPCODORGA13  ,  -- AGENTE DA PRODUCAO        
  '','S',  'S',        
  MAX(CIDADE_ESTR),MAX(C.COD_UF),  '','',        
  MAX(CEP_LJ),MAX(C.CEP_DE), MAX(C.CEP_ATE),        
  COUNT(OPNROPER), SUM(OPVLROPCZ),0.0,0.0,0.0--,0.0        
-- SELECT *          
FROM [AUX_POT_PROD_CIDADE] P (NOLOCK)        
 JOIN TCIDADE C (NOLOCK) ON C.CIDADE= P.CIDADE_ESTR        
WHERE NOT EXISTS (SELECT * FROM AUX_SCR_Cetip_Potencial_MKT_SHARE P1 (NOLOCK)        
     WHERE P.OPCODORG3 = P1.COD_AGENTE AND P.CIDADE_ESTR = P1.CIDADE AND P.SEGMENTO=P1.SEGMENTO)        
/* alterado 3/8/16  removi         
WHERE SEGMENTO IS NULL  OR         
  CNPJ_LJ NOT IN (SELECT DISTINCT CNPJ FROM AUX_SCR_Cetip_Potencial_MKT_SHARE P1 (NOLOCK))        
GROUP BY  CNPJ_LJ,     
*/        
GROUP BY  OPCODORGA13, P.SEGMENTO        
        
-- INCLUI 3/8/16  *************** REGIAO SEM DESCRICAO        
UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  REGIAO = G.REGIAO        
FROM TCIDADE C (NOLOCK),        
  TREGIAO G (NOLOCK)          
WHERE ISNULL(AUX_SCR_Cetip_Potencial_MKT_SHARE.REGIAO,'') = ''        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE = C.CIDADE         
 AND G.CODIGO=C.COD_REGIAO        
        
        
-- INCLUI 3/8/16  *************** REGIAO SEM DESCRICAO        
UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  GRUPO = G.GRUPO        
FROM TCIDADE C (NOLOCK),        
  TGRUPO  G (NOLOCK)          
WHERE ISNULL(AUX_SCR_Cetip_Potencial_MKT_SHARE.GRUPO,'') = ''        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE = C.CIDADE         
 AND G.CODIGO=C.COD_GRUPO        
        
--  (SELECT GRUPO  FROM TGRUPO G (NOLOCK)   WHERE G.CODIGO=C.COD_GRUPO),        
        
        
        
/*        
SELECT * FROM  AUX_SCR_Cetip_Potencial_MKT_SHARE        
 CASE WHEN CONVERT(INT,ANO_BEM) BETWEEN 1990 AND 1996 THEN '1991 a 1996'  -- producao desde 1990        
       WHEN CONVERT(INT,ANO_BEM) BETWEEN 1997 AND 2000 THEN '1997 a 2000'        
       WHEN CONVERT(INT,ANO_BEM) BETWEEN 2001 AND 2004 THEN '2001 a 2004'        
       WHEN CONVERT(INT,ANO_BEM) BETWEEN 2005 AND 2009 THEN '2005 a 2009'        
       WHEN CONVERT(INT,ANO_BEM) >= 2010 THEN '2010 a 0 KM'        
       ELSE '' END   */        
         
/*        
1991 a 1996        
1997 a 2000        
2001 a 2004        
2005 a 2009        
2010 a 0 KM        
NOVO        
*/        
        
        
        
-- PRODUCAO POR AGENTE, SEGMENTO E LOJA **************************        
/*        
TESTE IDENTIFICAR OS SEGMENTOS NAO LOCALIZADOS        
  SELECT * FROM   [AUX_POT_PROD_CIDADE] C (NOLOCK)        
     LEFT JOIN  AUX_SCR_Cetip_Potencial_MKT_SHARE  P (NOLOCK)        
     ON         
 AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_AGENTE = O.COD_AGENTE        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_LOJA  = O.OPCODORG4        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE  = O.CIDADE_ESTR        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.SEGMENTO  = O.SEGMENTO        
WHERE          
        
        
 REMOVI 29/6/16 , MANTER SOMENTE O SEM LOJA: MAX CNPJ DA LOJA        
UPDATE  AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  QUANTIDADE = Q, VOLUME = V        
FROM (SELECT  OPCODORG4,COD_AGENTE, CIDADE_ESTR,SEGMENTO, COUNT(*) AS Q, SUM(OPVLROPCZ) AS V         
   FROM [AUX_POT_PROD_CIDADE] OP (NOLOCK)         
   GROUP BY OPCODORG4,COD_AGENTE, CIDADE_ESTR, SEGMENTO        
  ) AS  O        
WHERE AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_AGENTE = O.COD_AGENTE        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_LOJA  = O.OPCODORG4        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE  = O.CIDADE_ESTR        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.SEGMENTO  = O.SEGMENTO        
        
-- ajusta producao 29/6/16        
UPDATE  AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  QUANTIDADE = Q, VOLUME = V        
FROM (SELECT  COD_AGENTE, CIDADE_ESTR,SEGMENTO, COUNT(*) AS Q, SUM(OPVLROPCZ) AS V         
   FROM [AUX_POT_PROD_CIDADE] OP (NOLOCK)         
   GROUP BY COD_AGENTE, CIDADE_ESTR, SEGMENTO        
  ) AS  O        
WHERE AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_AGENTE = O.COD_AGENTE        
-- AND AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_LOJA  is null --= O.OPCODORG4 nao localizou loja        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE  = O.CIDADE_ESTR        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.SEGMENTO  = O.SEGMENTO        
 -- 1 loja soh        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.CNPJ = (SELECT MAX(CNPJ) FROM AUX_SCR_Cetip_Potencial_MKT_SHARE (NOLOCK)        
          WHERE AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_AGENTE = O.COD_AGENTE        
           AND AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_LOJA  IS NULL        
           AND AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE  = O.CIDADE_ESTR        
           AND AUX_SCR_Cetip_Potencial_MKT_SHARE.SEGMENTO  = O.SEGMENTO )        
        
CREATE TABLE [dbo].[AUX_POT_PROD_CIDADE_TTL](        
 COD_LOJA [varchar](20),-- COD_OPERAD  [varchar](20),        
 COD_AGENTE  [varchar](20),        
 CNPJ_LJ  VARCHAR(25),        
 CEP_LJ  [varchar](20) ,        
 CIDADE_ESTR [varchar](200) ,        
        
 SEGMENTO VARCHAR(200),        
 QTD   FLOAT,        
 VLR   FLOAT        
)         
select * from [AUX_POT_PROD_CIDADE]        
select * from [AUX_POT_PROD_CIDADE_TTL]        
select SUM(QTD) from [AUX_POT_PROD_CIDADE_TTL]        
*/        
        
-- AJUSTA O SEGMENTO SE NULL 11/7/16] -- apos ajuste do MKT SHARE  *************        
        
UPDATE  [AUX_POT_PROD_CIDADE]        
SET  SEGMENTO =CASE  WHEN CONVERT(INT,ANO_BEM) BETWEEN 1990 AND 1996 THEN '1991 a 1996'  -- producao desde 1990        
      WHEN CONVERT(INT,ANO_BEM) BETWEEN 1997 AND 2000 THEN '1997 a 2000'        
      WHEN CONVERT(INT,ANO_BEM) BETWEEN 2001 AND 2004 THEN '2001 a 2004'        
      WHEN CONVERT(INT,ANO_BEM) BETWEEN 2005 AND 2009 THEN '2005 a 2009'        
      WHEN CONVERT(INT,ANO_BEM) >= 2010 THEN '2010 a 0 KM'        
      ELSE '' END        
WHERE SEGMENTO IS NULL        
        
-- 17900000  Dracena ainda em Prospeccao mas tem producao 1 contrato        
/*  CADASTREI EM JALES TEMPORARIAMENTE        
-- ********** trata excecao        
UPDATE  [AUX_POT_PROD_CIDADE]        
SET  cidade_estr ='DRACENA'        
WHERE CEP_LJ ='17900000'        
*/        
        
-- REMOVI PRA TESTE 6/7/16 *******************************        
-- ajusta producao 29/6/16  ****************   CALCULO DA PRODUCAO AGRUPADA POR CIDADE,SEG,AGENTE        
TRUNCATE TABLE [AUX_POT_PROD_CIDADE_TTL]        
        
INSERT  [AUX_POT_PROD_CIDADE_TTL]        
SELECT  '',OPCODORGA13, -- COD_AGENTE, ALTERADO 22/7/16 **************** AGENTE DA PRODUCAO        
   '','',CIDADE_ESTR,SEGMENTO, COUNT(*) AS Q, SUM(OPVLROPCZ) AS V         
   FROM [AUX_POT_PROD_CIDADE] OP (NOLOCK)         
  GROUP BY OPCODORGA13, CIDADE_ESTR, SEGMENTO        
        
-- 1 loja soh, MAIOR LOJA DO AGENTE        
UPDATE  [AUX_POT_PROD_CIDADE_TTL]        
SET  CNPJ_LJ= (SELECT MAX(CNPJ) FROM AUX_SCR_Cetip_Potencial_MKT_SHARE (NOLOCK)        
      WHERE AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE  = [AUX_POT_PROD_CIDADE_TTL].CIDADE_ESTR        
       AND AUX_SCR_Cetip_Potencial_MKT_SHARE.SEGMENTO  = [AUX_POT_PROD_CIDADE_TTL].SEGMENTO         
       AND AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_AGENTE = [AUX_POT_PROD_CIDADE_TTL].COD_AGENTE)        
/*        
-- AJUSTA O SEGMENTO SE NULL 6/7/16]        
UPDATE  [AUX_POT_PROD_CIDADE_TTL]        
SET  SEGMENTO ='1991 a 1996'        
WHERE SEGMENTO IS NULL        
*/        
-- FALTAM CNPJ LJ 6/7/16  ***********  PQ NAO TEM NO MKT SHARE        
-- INCLUIR NO MKT SHARE  SELECT * FROM AUX_POT_PROD_CIDADE_TTL  SELECT * FROM AUX_SCR_Cetip_Potencial_MKT_SHARE (NOLOCK)        
--   SELECT * FROM TCIDADE (NOLOCK)        
/*        
  REMOVI 27/7/16        
INSERT AUX_SCR_Cetip_Potencial_MKT_SHARE         
SELECT         
        
--         
(SELECT MAX(PP.CNPJ_lj) FROM AUX_POT_PROD_CIDADE PP (NOLOCK)        
      WHERE PP.CIDADE_ESTR  = P.CIDADE_ESTR), --CNPJ_LJ,         
        
  (SELECT MAX(PP.CNPJ_lj) FROM AUX_POT_PROD_CIDADE PP (NOLOCK)        
      WHERE PP.CIDADE_ESTR  = P.CIDADE_ESTR AND PP.SEGMENTO=P.SEGMENTO AND PP.COD_AGENTE=P.COD_AGENTE) ,         
  SEGMENTO, COD_LOJA, '',        
  --C.COD_AGENTE   REMOVI 27/7/16        
  P.COD_AGENTE ,(select A13DESCR from CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)         
      WHERE CONVERT(INT,P.COD_AGENTE) = CONVERT(INT,A.A13CODORG )) ,        
--SELECT O3DESCR,* FROM CDCSANTANAMicroCredito..TORG3 O (NOLOCK) WHERE O3CODORG -- OPERADOR        
  'S','S',        
  CIDADE_ESTR,C.COD_UF,        
  (SELECT REGIAO FROM TREGIAO G (NOLOCK)  WHERE G.CODIGO=C.COD_REGIAO),        
  (SELECT GRUPO  FROM TGRUPO G (NOLOCK)   WHERE G.CODIGO=C.COD_GRUPO),        
  C.CEP_DE,C.CEP_DE,C.CEP_ATE,        
  QTD,VLR, 0.0 ,0.0, 0.0        
FROM [AUX_POT_PROD_CIDADE_TTL] P (NOLOCK),        
  TCIDADE  C (NOLOCK)        
WHERE P.CNPJ_LJ IS NULL        
 AND P.CIDADE_ESTR =  C.CIDADE        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE = P.SEGMENTO        
*/        
        
        
-- INSERE CIDADES FALTANTES: TEM PRODUCAO E NAO ESTAH NO MKT SHARE        
--   SELECT * FROM TCIDADE (NOLOCK)  SELECT * FROM [AUX_POT_PROD_CIDADE_TTL] P (NOLOCK)  WHERE CIDADE_ESTR='DIADEMA'        
INSERT AUX_SCR_Cetip_Potencial_MKT_SHARE         
SELECT '0', --CNPJ_LJ,   27/7/16        
  SEGMENTO, COD_LOJA, '',        
  P.COD_AGENTE ,  -- C.COD_AGENTE, ALTERADO 22/7/16  ***************** CF PRODUCAO        
  (select  O3DESCR from CDCSANTANAMicroCredito..TORG3 A (NOLOCK)         
   WHERE CONVERT(INT,P.COD_AGENTE) = CONVERT(INT,A.O3CODORG )) ,        
--SELECT O3DESCR,* FROM CDCSANTANAMicroCredito..TORG3 O (NOLOCK) WHERE O3CODORG -- OPERADOR        
  'S','S',        
  P.CIDADE_ESTR,C.COD_UF,        
  (SELECT REGIAO FROM TREGIAO G (NOLOCK)  WHERE G.CODIGO=C.COD_REGIAO),        
  (SELECT GRUPO  FROM TGRUPO G (NOLOCK)   WHERE G.CODIGO=C.COD_GRUPO),        
  C.CEP_DE,C.CEP_DE,C.CEP_ATE,        
  QTD,VLR, 0.0 ,0.0, 0.0        
-- select *         
FROM [AUX_POT_PROD_CIDADE_TTL] P (NOLOCK)         
  JOIN   TCIDADE C (NOLOCK) ON P.CIDADE_ESTR = C.CIDADE         
WHERE NOT EXISTS (SELECT * FROM AUX_SCR_Cetip_Potencial_MKT_SHARE M (NOLOCK)         
      -- ALTERADO 27/07/16  ***************        
      WHERE M.CIDADE=P.CIDADE_ESTR AND M.COD_AGENTE =P.COD_AGENTE AND M.SEGMENTO =P.SEGMENTO)        
 -- INCLUI 22/7/16  ***********  AND M.SEGMENTO =P.SEGMENTO        
        
        
-- SELECT * FROM [AUX_POT_PROD_CIDADE] (NOLOCK) WHERE CIDADE_ESTR ='SANTO ANDRE'        
-- SELECT * FROM [AUX_POT_PROD_CIDADE_TTL] (NOLOCK) WHERE CIDADE_ESTR ='SANTO ANDRE'        
-- SELECT * FROM [AUX_POT_PROD_CIDADE_TTL] (NOLOCK) WHERE CIDADE_ESTR ='DIADEMA'        
UPDATE  [AUX_POT_PROD_CIDADE_TTL]        
SET  CNPJ_LJ= (SELECT MAX(CNPJ_lj) FROM AUX_POT_PROD_CIDADE  P (NOLOCK)        
      WHERE P.CIDADE_ESTR  = [AUX_POT_PROD_CIDADE_TTL].CIDADE_ESTR        
       --AND P.OPCODORGA13  = [AUX_POT_PROD_CIDADE_TTL].COD_AGENTE  -- INCLUI 27/7/16 ****** PROD NO AGENTE        
      )        
WHERE CNPJ_LJ IS NULL        
        
/*        
-- TESTE 27/7/16        
UPDATE  AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  QUANTIDADE = 0.0, VOLUME = 0.0        
-- INCLUI 27/7/16       ************ FALTAM SEGMENTOS DO AGENTE PQ TEM PRODUCAO E NAO TEM POTENCIAL        
INSERT  AUX_SCR_Cetip_Potencial_MKT_SHARE        
SELECT CNPJ_LJ,SEGMENTO,COD_LOJA,'',COD_AGENTE,'','A','S',CIDADE_ESTR,        
  C.UF,C.REGIAO,C.GRUPO,        
  C.CEP_DE,C.CEP_DE,C.CEP_ATE,        
  O.QTD, O.VLR, 0.0,0.0,0.0        
        
SELECT * FROM [AUX_POT_PROD_CIDADE_TTL] AS  O (NOLOCK)         
SELECT * FROM AUX_SCR_Cetip_Potencial_MKT_SHARE AS  O (NOLOCK)         
        
SELECT * FROM [AUX_POT_PROD_CIDADE_TTL] AS  O (NOLOCK)  WHERE CIDADE_ESTR='DIADEMA'        
        
SELECT * FROM AUX_SCR_Cetip_Potencial_MKT_SHARE AS  O (NOLOCK)         
where cidade='DIADEMA' and segmento ='2001 a 2004' and cod_agente='86'        
86 1,57007E+13  DIADEMA 2001 a 2004        
SELECT * FROM AUX_SCR_Cetip_Pot_MKT_SHARE AS  O (NOLOCK)         
where cidade='DIADEMA' and segmento ='2001 a 2004' --and cod_agente='86'        
        
*/        
        
-- AJUSTA AS QTDES E VALOR DE PRODUCAO   ************ ANTERIOR        
UPDATE  AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  QUANTIDADE = O.QTD, VOLUME = O.VLR        
FROM [AUX_POT_PROD_CIDADE_TTL] AS  O (NOLOCK)         
--,  TCIDADE C (NOLOCK)       -- INCLUI 27/7/16        
WHERE AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE  = O.CIDADE_ESTR        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.SEGMENTO  = O.SEGMENTO        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_AGENTE = O.COD_AGENTE        
 -- 1 loja soh        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.CNPJ =         
 (SELECT MAX(M1.CNPJ) FROM AUX_SCR_Cetip_Potencial_MKT_SHARE AS M1 (NOLOCK)        
 WHERE M1.CIDADE  = O.CIDADE_ESTR AND M1.SEGMENTO  = O.SEGMENTO AND M1.COD_AGENTE = O.COD_AGENTE )        
        
-- INSERE AS FALTANTES        
        
--O.CNPJ_LJ        
/* REMOVI 3/8/16        
  ALTEREI EM 27/7/16 PRA BATER A PRODUCAO  **************        
 (SELECT MAX(M1.CNPJ) FROM AUX_SCR_Cetip_Potencial_MKT_SHARE AS M1 (NOLOCK)        
 WHERE M1.CIDADE  = O.CIDADE_ESTR AND M1.SEGMENTO  = O.SEGMENTO AND M1.COD_AGENTE = O.COD_AGENTE )        
*/        
/*        
 -- ALTERADO 27/7/16  **************************************  CIDADE DO AGENTE TEM O POTENCIAL -- A PRODUCAO TEM POT ZERO        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE  = C.CIDADE        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_AGENTE = C.COD_AGENTE        
SELECT * FROM [AUX_POT_PROD_CIDADE_TTL] ORDER BY CIDADE_ESTR         
SELECT * FROM [AUX_POT_PROD_CIDADE_TTL]  WHERE CIDADE_ESTR='DIADEMA'        
SELECT * FROM AUX_SCR_Cetip_Potencial_MKT_SHARE  WHERE CIDADE='DIADEMA'        
        
SELECT SUM(QUANTIDADE) FROM AUX_SCR_Cetip_Potencial_MKT_SHARE (NOLOCK) WHERE CIDADE='GUARULHOS'        
SELECT SUM(QUANTIDADE) FROM AUX_SCR_Cetip_Potencial_MKT_SHARE (NOLOCK) WHERE CIDADE='DIADEMA'        
        
*/        
/*        
SELECT * FROM TCIDADE C (NOLOCK)         
-- NAO PRECISA SE FX D CEP NULL   SEM CIDADE        
-- AJUSTE FX DE CEPS  ******************** INCLUI 27/7/16        
UPDATE  AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  FX_CEP_DE = CEP_DE, FX_CEP_ATE = CEP_ATE        
-- SELECT *        
FROM TCIDADE AS  O (NOLOCK)         
WHERE AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE = O.CIDADE        
 AND ISNULL(FX_CEP_DE,'')+ISNULL(FX_CEP_ATE,'') = ''         
*/        
        
/*        
SELECT * FROM AUX_SCR_Cetip_Potencial_MKT_SHARE WHERE ISNULL(FX_CEP_DE,'')+ISNULL(FX_CEP_ATE,'') = ''         
        
CREATE TABLE AUX_POT_FALTA (        
COD_LOJA varchar(20),        
COD_AGENTE varchar(20),        
CNPJ_LJ varchar(25),        
CEP_LJ varchar(20),        
CIDADE_ESTR varchar(200),        
SEGMENTO varchar(200),        
QTD float,        
VLR float )        
SELECT * FROM AUX_POT_FALTA        
*/        
        
/* -- REMOVI 27/7/16 P/ TESTE        
-- ALTERACAO PQ FALTA PRODUCAO SEM SEGMENTO, CNPJ DIFERENTES  *************** 25/07/16        
TRUNCATE TABLE   AUX_POT_FALTA        
INSERT   AUX_POT_FALTA        
SELECT  O.*          
  FROM    [AUX_POT_PROD_CIDADE_TTL] AS  O (NOLOCK)         
LEFT JOIN        
  AUX_SCR_Cetip_Potencial_MKT_SHARE AS P(NOLOCK)        
ON P.CIDADE  = O.CIDADE_ESTR        
 AND P.SEGMENTO  = O.SEGMENTO        
 AND P.COD_AGENTE = O.COD_AGENTE        
 -- 1 loja soh        
 AND P.CNPJ = O.CNPJ_LJ        
WHERE P.SEGMENTO IS NULL        
-- AJUSTA AS QTDES E VALOR DE PRODUCAO  NAO ENCONTRADOS         
UPDATE  AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  QUANTIDADE = QUANTIDADE + O.QTD, VOLUME = VOLUME + O.VLR        
FROM AUX_POT_FALTA AS  O (NOLOCK)   -- ALTERADO HJ 25/07/16        
WHERE AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE  = O.CIDADE_ESTR        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.SEGMENTO  = O.SEGMENTO        
-- AND AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_AGENTE = O.COD_AGENTE        
 -- 1 loja soh        
-- AND AUX_SCR_Cetip_Potencial_MKT_SHARE.CNPJ = O.CNPJ_LJ        
*/        
        
        
/*        
-- TEM PRODUCAO NUM SEGMENTO DIFERENTE        
SELECT * FROM   [AUX_POT_PROD_CIDADE] O (NOLOCK)        
   LEFT JOIN  AUX_SCR_Cetip_Potencial_MKT_SHARE  P (NOLOCK)        
   ON    P.CNPJ  = O.CNPJ_LJ        
      AND P.SEGMENTO  = O.SEGMENTO        
      AND P.SEGMENTO IS NULL        
        
UPDATE  AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  QUANTIDADE = O.QTD, VOLUME = O.VLR        
FROM (        
FROM AUX_SCR_Cetip_Potencial_MKT_SHARE P1 (NOLOCK), [AUX_POT_PROD_CIDADE_TTL] AS  O (NOLOCK)         
WHERE AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE  = O.CIDADE_ESTR        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.SEGMENTO  = O.SEGMENTO        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_AGENTE = O.COD_AGENTE        
 -- 1 loja soh        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.CNPJ = O.CNPJ_LJ        
        
*/        
/*        
SELECT * FROM  AUX_SCR_Cetip_Potencial_MKT_SHARE (NOLOCK) ,        
 (SELECT   CIDADE_ESTR,SEGMENTO, COUNT(*) AS Q, SUM(OPVLROPCZ) AS V         
   FROM [AUX_POT_PROD_CIDADE] OP (NOLOCK)         
   GROUP BY  CIDADE_ESTR, SEGMENTO        
  ) AS  O        
WHERE  AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE  = O.CIDADE_ESTR        
 AND  AUX_SCR_Cetip_Potencial_MKT_SHARE.SEGMENTO  = O.SEGMENTO        
 -- 1 loja soh        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.CNPJ = (SELECT MAX(CNPJ) FROM AUX_SCR_Cetip_Potencial_MKT_SHARE (NOLOCK)        
          WHERE AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE  = O.CIDADE_ESTR        
           AND AUX_SCR_Cetip_Potencial_MKT_SHARE.SEGMENTO  = O.SEGMENTO )        
*/        
-- ********************************     MARKET SHARE *******************        
/*        
SELECT * FROM AUX_SCR_Cetip_Potencial_MKT_SHARE (NOLOCK)        
SELECT TOP 100 * FROM CDCSANTANAMicroCredito..COPER OPE1 (NOLOCK)         
1991 a 1996        
1997 a 2000        
2001 a 2004        
2005 a 2009        
2010 a 0 KM        
NOVO        
SELECT * FROM AUX_SCR_Cetip_Potencial_MKT_SHARE        
SELECT * FROM AUX_SCR_Cetip_Pot_MKT_SHARE (nolock) where left(agente,2)='86' and cidade='DIADEMA'        
and segmento='2001 a 2004'         
*/        
UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  MARKETSHARE    = ISNULL(SINT.V  ,0.0),        
  QTDE_POTENCIAL = ISNULL(SINT.Q,0.0)        
-- NAO TEM COD_AGENTE NA CETIP 03/08/16  ************        
FROM (SELECT  CNPJ,SEGMENTO,SUM(VOLUME) AS V , SUM(QUANTIDADE) AS Q -- MARKETSHAREacimaValor   SEGMENTO        
   FROM Cetip_Potencial_ANALITICO (NOLOCK) -- SINTEtico        
   WHERE MESREFERENCIA BETWEEN @DataDE AND @DataATE        
   GROUP BY CNPJ,SEGMENTO ) AS SINT,        
  TCIDADE C (NOLOCK)  -- INCLUI 27/7/16   PROD DO AGENTE  **************        
WHERE AUX_SCR_Cetip_Potencial_MKT_SHARE.CNPJ       = SINT.CNPJ        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.SEGMENTO   = SINT.SEGMENTO        
 -- INCLUI 27/7/16   PROD DO AGENTE  **************  POTENCIAL SOMENTE NO AGENTE DA ESTRUTURA/ CIDADE        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.COD_AGENTE = C.COD_AGENTE        
 AND AUX_SCR_Cetip_Potencial_MKT_SHARE.CIDADE     = C.CIDADE        
        
-- INSERE CIDADES FALTANTES: TEM PRODUCAO E NAO ESTAH NO MKT SHARE        
--   SELECT * FROM TCIDADE (NOLOCK)  SELECT * FROM [AUX_POT_PROD_CIDADE_TTL] P (NOLOCK)  WHERE CIDADE_ESTR='DIADEMA'        
--   SELECT SUM(QUANTIDADE) FROM [AUX_SCR_Cetip_Potencial_MKT_SHARE] P (NOLOCK)  WHERE CIDADE='DIADEMA'        
--   SELECT * FROM [AUX_SCR_Cetip_Potencial_MKT_SHARE] P (NOLOCK)  WHERE CIDADE='DIADEMA'        
--   SELECT * FROM [AUX_SCR_Cetip_Pot_MKT_SHARE] P (NOLOCK)  WHERE CIDADE='DIADEMA'        
INSERT AUX_SCR_Cetip_Potencial_MKT_SHARE         
SELECT '0', --CNPJ_LJ,   27/7/16        
  SEGMENTO, COD_LOJA, '',        
  P.COD_AGENTE ,  -- C.COD_AGENTE, ALTERADO 22/7/16  ***************** CF PRODUCAO        
  (select  O3DESCR from CDCSANTANAMicroCredito..TORG3 A (NOLOCK)         
   WHERE CONVERT(INT,P.COD_AGENTE) = CONVERT(INT,A.O3CODORG )) ,        
--SELECT O3DESCR,* FROM CDCSANTANAMicroCredito..TORG3 O (NOLOCK) WHERE O3CODORG -- OPERADOR        
  'S','S',        
  P.CIDADE_ESTR,C.COD_UF,        
  (SELECT REGIAO FROM TREGIAO G (NOLOCK)  WHERE G.CODIGO=C.COD_REGIAO),        
  (SELECT GRUPO  FROM TGRUPO G (NOLOCK)   WHERE G.CODIGO=C.COD_GRUPO),        
  C.CEP_DE,C.CEP_DE,C.CEP_ATE,        
  QTD,VLR, 0.0 ,0.0, 0.0        
-- select *         
FROM [AUX_POT_PROD_CIDADE_TTL] P (NOLOCK)         
  JOIN   TCIDADE C (NOLOCK) ON P.CIDADE_ESTR = C.CIDADE         
WHERE NOT EXISTS (SELECT * FROM AUX_SCR_Cetip_Potencial_MKT_SHARE M (NOLOCK)         
      -- ALTERADO 27/07/16  ***************        
      WHERE M.CIDADE=P.CIDADE_ESTR AND M.COD_AGENTE =P.COD_AGENTE AND M.SEGMENTO =P.SEGMENTO)        
 -- INCLUI 22/7/16  ***********  AND M.SEGMENTO =P.SEGMENTO        
        
        
-- SELECT * FROM AUX_SCR_Cetip_Potencial_MKT_SHARE (NOLOCK) WHERE FX_CEP_DE=''        
-- [AUX_POT_PROD_CIDADE_TTL]        
        
-- REMOVI PRA TESTE 03/08/16        
-- LIMPA OS SEM CEP        
-- DELETE FROM AUX_SCR_Cetip_Potencial_MKT_SHARE  WHERE FX_CEP_DE=''        
        
        
-- NOME AG  *************************  alterada posicao 13/7/16 **************        
UPDATE AUX_SCR_Cetip_Potencial_MKT_SHARE        
SET  Agente  = ISNULL(CONVERT(VARCHAR(10),O3CODORG)+'-'+O3DESCR,'')        
-- AGENTE          
FROM (select O3CODORG,O3DESCR,O3DTCAD from CDCSANTANAMicroCredito..TORG3 A1 (NOLOCK) ) as A          
WHERE COD_AGENTE = CONVERT(INT,A.O3CODORG )        
-- AND LEN(LTRIM(Agente))<=4        
        
        
-- ********************************  DADOS TELA ************************        
        
TRUNCATE TABLE AUX_SCR_Cetip_Pot_MKT_SHARE          
INSERT  AUX_SCR_Cetip_Pot_MKT_SHARE         
/* (UF   varchar(2),        
REGIAO  VARCHAR(200),        
GRUPO  VARCHAR(200),        
CIDADE  VARCHAR(200),        
AGENTE  VARCHAR(200),        
FX_CEP_DE VARCHAR(20),        
FX_CEP_ATE VARCHAR(20),        
        
FX1_QTDE FLOAT,        
FX1_VLR  FLOAT,        
FX1_MKT  FLOAT,        
FX1_PRC  FLOAT,        
FX2_QTDE FLOAT,        
FX2_VLR  FLOAT,        
FX2_MKT  FLOAT,        
FX2_PRC  FLOAT  )  */  -- ALTERADO 29/05/2016        
SELECT  MAX(UF),        
  MAX(REGIAO),        
  MAX(GRUPO),        
  P.CIDADE,        
  AGENTE , -- MAX(AGENTE), ALTERADO 27/07/16  **************        
  FX_CEP_DE,        
  FX_CEP_ATE,        
  SUM(QUANTIDADE), SUM(VOLUME), 0.0,0.0,        
  SUM(QTDE_POTENCIAL),        
  SUM(MARKETSHARE),        
  0.0, 0.0,SEGMENTO -- SEGMENTO        
-- SELECT *        
FROM AUX_SCR_Cetip_Potencial_MKT_SHARE P (NOLOCK)        
LEFT JOIN TCIDADE C (NOLOCK) ON C.CIDADE = P.CIDADE        
--WHERE NOT ( LEFT(CIDADE,9)='SAO PAULO'  AND RTRIM(FX_CEP_DE+FX_CEP_ATE) =''  )        
--WHERE C.CIDADE='DIADEMA'        
GROUP BY P.CIDADE,         
-- UF,    REGIAO,    GRUPO,    CIDADE,   AGENTE,        
   FX_CEP_DE,        
   FX_CEP_ATE,         
   AGENTE , -- INCLUIDO 27/07/16  **************        
   SEGMENTO        
        
/*        
        
SELECT * FROM AUX_SCR_Cetip_Pot_MKT_SHARE (NOLOCK) WHERE CIDADE='DIADEMA'        
        
  SUM(CASE WHEN  SEGMENTO IN ('1991 a 1996','1997 a 2000','2001 a 2004')  THEN QUANTIDADE ELSE 0.0 END),        
  SUM(CASE WHEN  SEGMENTO IN ('1991 a 1996','1997 a 2000','2001 a 2004')   THEN VOLUME  ELSE 0.0 END),        
--  SUM(CASE WHEN SEGMENTO <'2004'  THEN MARKETSHARE ELSE 0.0 END),        
 SUM(CASE WHEN SEGMENTO IN ('1991 a 1996','1997 a 2000','2001 a 2004')  THEN MARKETSHARE ELSE 0.0 END),        
-- 1991 a 1996 1997 a 2000 2001 a 2004        
  0.0,         
  SUM(CASE WHEN  SEGMENTO IN ('1991 a 1996','1997 a 2000','2001 a 2004')  THEN QUANTIDADE ELSE 0.0 END),        
  SUM(CASE WHEN  SEGMENTO IN ('1991 a 1996','1997 a 2000','2001 a 2004')  THEN VOLUME  ELSE 0.0 END),        
--  SUM(CASE WHEN SEGMENTO >='2004'  THEN MARKETSHARE ELSE 0.0 END),        
-- 2005 a 2009, 2010 a 0 KM, NOVO        
        
  SUM(CASE WHEN SEGMENTO IN (' 2005 a 2009','2010 a 0 KM','NOVO')  THEN MARKETSHARE ELSE 0.0 END),        
  0.0        
        
        
SELECT SUM(QUANTIDADE) FROM AUX_SCR_Cetip_Potencial_MKT_SHARE (NOLOCK)        
SELECT * FROM   [AUX_POT_PROD_CIDADE] O (NOLOCK) WHERE CIDADE_ESTR='DIADEMA'        
SELECT * FROM   [AUX_POT_PROD_CIDADE_TTL] O (NOLOCK) WHERE CIDADE_estr='DIADEMA'        
        
        
SELECT * FROM   [AUX_SCR_Cetip_Potencial_MKT_SHARE] O (NOLOCK) WHERE CIDADE='DIADEMA'        
SELECT *  FROM AUX_SCR_Cetip_Pot_MKT_SHARE (NOLOCK) WHERE CIDADE='DIADEMA'         
AND NOT ( LEFT(CIDADE,9)='SAO PAULO'  AND RTRIM(FX_CEP_DE+FX_CEP_ATE) =''  )        
select A13CODORG,A13DESCR,A13DTCAD from CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK)        
SELECT * FROM   [TCIDADE] O (NOLOCK) JOIN CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) ON A1.A13CODORG=COD_AGENTE        
 WHERE CIDADE='SANTA ROSA DE VITERBO'        
codigo cidade cod_uf cod_regiao cod_grupo cep_de cep_ate cod_agente A13CODORG A13DESCR A13CODORGA23 A13DDDTEL A13TEL A13DTCAD        
265 SANTA ROSA DE VITERBO SP 4 19 14270000 14299999 120 120 PROMOTORA INTERCRED NULL 19 3585-6533 2015-04-01 00:00:00        
309 SANTA ROSA DE VITERBO SP 4 20 14270000 14299999 123 123 PROM. TMC FINANCEIRA NULL 16 3663-2323 2015-06-03 00:00:00        
DELETE [TCIDADE] WHERE CODIGO=309  -- REMOV RIBEIRAO TMC        
-- FICA EM PORTO FERREIRA INTERCRED        
        
SELECT * FROM   [TCIDADE] O (NOLOCK) JOIN CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) ON A1.A13CODORG=COD_AGENTE        
 WHERE CIDADE='SERRA NEGRA'        
codigo cidade cod_uf cod_regiao cod_grupo cep_de cep_ate cod_agente A13CODORG A13DESCR A13CODORGA23 A13DDDTEL A13TEL A13DTCAD        
44 SERRA NEGRA SP 1 4 13930000 13939999 20 20 PROM PCRED GUARULHOS NULL NULL  2010-03-01 00:00:00        
202 SERRA NEGRA SP 3 16 13930000 13939999 125 125 PROM. GUACU CRED NULL 19 3891-2471 2015-06-25 00:00:00        
DELETE [TCIDADE] WHERE CODIGO=44  -- REMOV ZL  PESSOA        
-- FICA EM MOGI GUACU   NA GUACU CRED        
        
        
SELECT * FROM   [TCIDADE] O (NOLOCK) JOIN CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) ON A1.A13CODORG=COD_AGENTE        
 WHERE CIDADE='SAO PAULO - Zona Leste'        
-- AJUSTE ZL        
UPDATE [TCIDADE] SET CIDADE = 'SAO PAULO - Zona Leste 1' WHERE CODIGO=3        
UPDATE [TCIDADE] SET CIDADE = 'SAO PAULO - Zona Leste 2' WHERE CODIGO=602        
        
SELECT * FROM   [AUX_POT_PROD_CIDADE] O (NOLOCK) WHERE CIDADE_ESTR='SANTA ROSA DE VITERBO'        
SELECT * FROM   [AUX_POT_PROD_CIDADE_TTL] O (NOLOCK) WHERE CIDADE_estr='SANTA ROSA DE VITERBO'        
SELECT * FROM   [AUX_SCR_Cetip_Potencial_MKT_SHARE] O (NOLOCK) WHERE CIDADE='SANTA ROSA DE VITERBO'        
SELECT * FROM   [AUX_SCR_Cetip_Pot_MKT_SHARE] O (NOLOCK) WHERE CIDADE='SANTA ROSA DE VITERBO'        
-- 51 TTL QTD MKT SHR        
        
        
*/        
        
        
-- CALCULAR OS % PRCS        
UPDATE AUX_SCR_Cetip_Pot_MKT_SHARE         
 SET FX1_PRC = CASE WHEN ISNULL(FX1_MKT,0.0) = 0.0 THEN 0.0 ELSE FX1_VLR / FX1_MKT * 100.0 END,        
  FX2_PRC = CASE WHEN ISNULL(FX2_MKT,0.0) = 0.0 THEN 0.0 ELSE FX2_VLR / FX2_MKT * 100.0 END        
        
        
-- LIMPAR SEM SEGMENTO        
DELETE FROM AUX_SCR_Cetip_Pot_MKT_SHARE WHERE ISNULL(SEGMENTO,'')=''        
        
        
        
IF @fx_ano = '99'  -- TODOS        
SELECT MAX(ISNULL(UF,''))  AS UF,        
  MAX(ISNULL(REGIAO,'')) AS REGIAO ,        
  MAX(ISNULL(GRUPO,'')) AS GRUPO ,        
  ISNULL(CIDADE,'')  AS CIDADE , --MAX(ISNULL(CIDADE,'')) AS CIDADE ,        
  --MAX(ISNULL(AGENTE,'')) AS AGENTE ,        
  AGENTE , -- MAX(AGENTE), ALTERADO 27/07/16  **************        
  (ISNULL(FX_CEP_DE,'')) AS CEP_DE ,        
  (ISNULL(FX_CEP_ATE,'')) AS CEP_ATE ,        
  isnull(segmento,'')   AS FX_ANO ,        
        
  SUM(ISNULL(FX1_QTDE,0.0)) AS FX1_QTDE  ,        
  SUM(ISNULL(FX1_VLR,0.0)) AS FX1_VLR  ,        
  SUM(ISNULL(FX1_PRC,0.0)) AS FX1_PRC  ,        
        
  SUM(ISNULL(FX2_QTDE,0.0)) AS FX2_QTDE  ,        
  SUM(ISNULL(FX2_VLR,0.0)) AS FX2_VLR  ,        
  SUM(ISNULL(FX2_MKT,0.0)) AS FX2_MKT  ,        
  (CASE WHEN SUM(ISNULL(FX2_VLR,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_VLR,0.0))/SUM(ISNULL(FX2_VLR,0.0)) * 100.0 END) AS FX2_PRC ,        
        
  (CASE WHEN SUM(ISNULL(FX2_QTDE,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_QTDE,0.0))/SUM(ISNULL(FX2_QTDE,0.0)) * 100.0 END) AS FX1_MKT          
        
 FROM AUX_SCR_Cetip_Pot_MKT_SHARE (NOLOCK)        
 WHERE 1=0 + CASE  WHEN @CIDADE= '(TODOS)'  THEN 1        
      WHEN @CIDADE<>'(TODOS)' AND CIDADE = @CIDADE THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @REGIAO= '(TODOS)'  THEN 1        
      WHEN @REGIAO<>'(TODOS)' AND REGIAO = @REGIAO THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @agente= '0-(TODOS)'  THEN 1        
      WHEN @agente<>'0-(TODOS)' AND AGENTE = @AGENTE THEN 1 ELSE 0 END  -- TODOS        
  AND CIDADE IS NOT NULL  -- REMOVE AS CIDADES NAO ATENDIDAS PELA SANTANA        
  -- ALTERACAO 28/10/16 ACESSO AGENTES   ******************        
  AND (LEFT(AGENTE,CHARINDEX('-',AGENTE,1)-1) = @CodAGENTE OR @CodAGENTE = '99')        
        
 GROUP BY CIDADE, FX_CEP_DE,FX_CEP_ATE,  --  ALTERADO 27/07/16  **************        
    AGENTE , segmento        
UNION        
SELECT 'Total'  AS UF,        
  'Total' AS REGIAO ,        
  'Total' AS GRUPO ,        
  'Total' AS CIDADE ,        
  'Total' AS AGENTE ,        
  'Total' AS CEP_DE ,        
  'Total' AS CEP_ATE ,        
  'Total'   AS FX_ANO ,        
        
  SUM(ISNULL(FX1_QTDE,0.0)) AS FX1_QTDE  ,        
  SUM(ISNULL(FX1_VLR,0.0)) AS FX1_VLR  ,        
  SUM(ISNULL(FX1_PRC,0.0)) AS FX1_PRC  ,        
        
  SUM(ISNULL(FX2_QTDE,0.0)) AS FX2_QTDE  ,        
  SUM(ISNULL(FX2_VLR,0.0)) AS FX2_VLR  ,        
  SUM(ISNULL(FX2_MKT,0.0)) AS FX2_MKT  ,        
  (CASE WHEN SUM(ISNULL(FX2_VLR,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_VLR,0.0))/SUM(ISNULL(FX2_VLR,0.0)) * 100.0 END) AS FX2_PRC ,        
        
  (CASE WHEN SUM(ISNULL(FX2_QTDE,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_QTDE,0.0))/SUM(ISNULL(FX2_QTDE,0.0)) * 100.0 END) AS FX1_MKT          
        
 FROM AUX_SCR_Cetip_Pot_MKT_SHARE (NOLOCK)        
 WHERE 1=0 + CASE  WHEN @CIDADE= '(TODOS)'  THEN 1        
      WHEN @CIDADE<>'(TODOS)' AND CIDADE = @CIDADE THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @REGIAO= '(TODOS)'  THEN 1        
      WHEN @REGIAO<>'(TODOS)' AND REGIAO = @REGIAO THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @agente= '0-(TODOS)'  THEN 1        
      WHEN @agente<>'0-(TODOS)' AND AGENTE = @AGENTE THEN 1 ELSE 0 END  -- TODOS        
  AND CIDADE IS NOT NULL  -- REMOVE AS CIDADES NAO ATENDIDAS PELA SANTANA        
  -- ALTERACAO 28/10/16 ACESSO AGENTES   ******************        
  AND (LEFT(AGENTE,CHARINDEX('-',AGENTE,1)-1) = @CodAGENTE OR @CodAGENTE = '99')        
        
        
IF @fx_ano NOT IN ('2004','2007','99')  -- FX ANO SEM AGRUPAMENTO        
SELECT MAX(ISNULL(UF,''))  AS UF,        
  MAX(ISNULL(REGIAO,'')) AS REGIAO ,        
  MAX(ISNULL(GRUPO,'')) AS GRUPO ,        
  MAX(ISNULL(CIDADE,'')) AS CIDADE ,        
  --MAX(ISNULL(AGENTE,'')) AS AGENTE ,        
  AGENTE , -- MAX(AGENTE), ALTERADO 27/07/16  **************        
  ISNULL(FX_CEP_DE,'') AS CEP_DE ,        
  ISNULL(FX_CEP_ATE,'') AS CEP_ATE ,        
  ISNULL(SEGMENTO,'')  AS FX_ANO ,        
        
  SUM(ISNULL(FX1_QTDE,0.0)) AS FX1_QTDE  ,        
  SUM(ISNULL(FX1_VLR,0.0)) AS FX1_VLR  ,        
  SUM(ISNULL(FX1_PRC,0.0)) AS FX1_PRC  ,        
        
  SUM(ISNULL(FX2_QTDE,0.0)) AS FX2_QTDE  ,        
  SUM(ISNULL(FX2_VLR,0.0)) AS FX2_VLR  ,        
  SUM(ISNULL(FX2_MKT,0.0)) AS FX2_MKT  ,        
  (CASE WHEN SUM(ISNULL(FX2_VLR,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_VLR,0.0))/SUM(ISNULL(FX2_VLR,0.0)) * 100.0 END) AS FX2_PRC ,        
        
  (CASE WHEN SUM(ISNULL(FX2_QTDE,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_QTDE,0.0))/SUM(ISNULL(FX2_QTDE,0.0)) * 100.0 END) AS FX1_MKT          
        
 FROM AUX_SCR_Cetip_Pot_MKT_SHARE (NOLOCK)        
 WHERE left(SEGMENTO,4) = @fx_ano        
  AND 1=0 + CASE  WHEN @CIDADE= '(TODOS)' THEN 1        
      WHEN @CIDADE<>'(TODOS)' AND CIDADE = @CIDADE THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @REGIAO= '(TODOS)'  THEN 1        
      WHEN @REGIAO<>'(TODOS)' AND REGIAO = @REGIAO THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @agente= '0-(TODOS)'  THEN 1        
      WHEN @agente<>'0-(TODOS)' AND AGENTE = @AGENTE THEN 1 ELSE 0 END  -- TODOS        
  AND CIDADE IS NOT NULL  -- REMOVE AS CIDADES NAO ATENDIDAS PELA SANTANA        
  -- ALTERACAO 28/10/16 ACESSO AGENTES   ******************        
  AND (LEFT(AGENTE,CHARINDEX('-',AGENTE,1)-1) = @CodAGENTE OR @CodAGENTE = '99')        
 GROUP BY FX_CEP_DE,FX_CEP_ATE,AGENTE , -- MAX(AGENTE), ALTERADO 27/07/16  **************        
     SEGMENTO        
UNION        
SELECT 'Total'  AS UF,        
  'Total' AS REGIAO ,        
  'Total' AS GRUPO ,        
  'Total' AS CIDADE ,        
  'Total' AS AGENTE ,        
  'Total' AS CEP_DE ,        
  'Total' AS CEP_ATE ,        
  'Total'   AS FX_ANO ,        
        
  SUM(ISNULL(FX1_QTDE,0.0)) AS FX1_QTDE  ,        
  SUM(ISNULL(FX1_VLR,0.0)) AS FX1_VLR  ,        
  SUM(ISNULL(FX1_PRC,0.0)) AS FX1_PRC  ,        
        
  SUM(ISNULL(FX2_QTDE,0.0)) AS FX2_QTDE  ,        
  SUM(ISNULL(FX2_VLR,0.0)) AS FX2_VLR  ,        
  SUM(ISNULL(FX2_MKT,0.0)) AS FX2_MKT  ,        
  (CASE WHEN SUM(ISNULL(FX2_VLR,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_VLR,0.0))/SUM(ISNULL(FX2_VLR,0.0)) * 100.0 END) AS FX2_PRC ,        
        
  (CASE WHEN SUM(ISNULL(FX2_QTDE,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_QTDE,0.0))/SUM(ISNULL(FX2_QTDE,0.0)) * 100.0 END) AS FX1_MKT          
        
 FROM AUX_SCR_Cetip_Pot_MKT_SHARE (NOLOCK)        
 WHERE left(SEGMENTO,4) = @fx_ano        
  AND 1=0 + CASE  WHEN @CIDADE= '(TODOS)'  THEN 1        
      WHEN @CIDADE<>'(TODOS)' AND CIDADE = @CIDADE THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @REGIAO= '(TODOS)'  THEN 1        
      WHEN @REGIAO<>'(TODOS)' AND REGIAO = @REGIAO THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @agente= '0-(TODOS)'  THEN 1        
      WHEN @agente<>'0-(TODOS)' AND AGENTE = @AGENTE THEN 1 ELSE 0 END  -- TODOS        
  AND CIDADE IS NOT NULL  -- REMOVE AS CIDADES NAO ATENDIDAS PELA SANTANA        
  -- ALTERACAO 28/10/16 ACESSO AGENTES   ******************        
  AND (LEFT(AGENTE,CHARINDEX('-',AGENTE,1)-1) = @CodAGENTE OR @CodAGENTE = '99')        
        
IF @fx_ano  ='2004'  -- FX ANO  AGRUPAMENTO ATE 2004, APOS 2004        
SELECT MAX(ISNULL(UF,''))  AS UF,        
  MAX(ISNULL(REGIAO,'')) AS REGIAO ,        
  MAX(ISNULL(GRUPO,'')) AS GRUPO ,        
  MAX(ISNULL(CIDADE,'')) AS CIDADE ,        
  --MAX(ISNULL(AGENTE,'')) AS AGENTE ,        
  AGENTE , -- MAX(AGENTE), ALTERADO 27/07/16  **************        
  ISNULL(FX_CEP_DE,'') AS CEP_DE ,        
  ISNULL(FX_CEP_ATE,'') AS CEP_ATE ,        
  'ATE 2004' AS FX_ANO ,        
        
  SUM(ISNULL(FX1_QTDE,0.0)) AS FX1_QTDE  ,        
  SUM(ISNULL(FX1_VLR,0.0)) AS FX1_VLR  ,        
  SUM(ISNULL(FX1_PRC,0.0)) AS FX1_PRC  ,        
        
  SUM(ISNULL(FX2_QTDE,0.0)) AS FX2_QTDE  ,        
  SUM(ISNULL(FX2_VLR,0.0)) AS FX2_VLR  ,        
  SUM(ISNULL(FX2_MKT,0.0)) AS FX2_MKT  ,        
  (CASE WHEN SUM(ISNULL(FX2_VLR,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_VLR,0.0))/SUM(ISNULL(FX2_VLR,0.0)) * 100.0 END) AS FX2_PRC ,        
        
  (CASE WHEN SUM(ISNULL(FX2_QTDE,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_QTDE,0.0))/SUM(ISNULL(FX2_QTDE,0.0)) * 100.0 END) AS FX1_MKT          
        
 FROM AUX_SCR_Cetip_Pot_MKT_SHARE (NOLOCK)        
 WHERE LEFT(SEGMENTO,4) <= '2004' AND SEGMENTO NOT IN ('NOVO')        
  AND 1=0 + CASE  WHEN @CIDADE= '(TODOS)'  THEN 1        
      WHEN @CIDADE<>'(TODOS)' AND CIDADE = @CIDADE THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @REGIAO= '(TODOS)'  THEN 1        
      WHEN @REGIAO<>'(TODOS)' AND REGIAO = @REGIAO THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @agente= '0-(TODOS)'  THEN 1        
      WHEN @agente<>'0-(TODOS)' AND AGENTE = @AGENTE THEN 1 ELSE 0 END  -- TODOS        
  AND CIDADE IS NOT NULL  -- REMOVE AS CIDADES NAO ATENDIDAS PELA SANTANA        
  -- ALTERACAO 28/10/16 ACESSO AGENTES   ******************        
  AND (LEFT(AGENTE,CHARINDEX('-',AGENTE,1)-1) = @CodAGENTE OR @CodAGENTE = '99')        
 GROUP BY FX_CEP_DE,FX_CEP_ATE ,AGENTE  -- INCLUIDO 27/07/16  **************        
UNION        
SELECT 'Total'  AS UF,        
  'Total' AS REGIAO ,        
  'Total' AS GRUPO ,        
  'Total' AS CIDADE ,        
  'Total' AS AGENTE ,        
  'Total' AS CEP_DE ,        
  'Total' AS CEP_ATE ,        
  'Total'   AS FX_ANO ,        
        
  SUM(ISNULL(FX1_QTDE,0.0)) AS FX1_QTDE  ,        
  SUM(ISNULL(FX1_VLR,0.0)) AS FX1_VLR  ,        
  SUM(ISNULL(FX1_PRC,0.0)) AS FX1_PRC  ,        
        
  SUM(ISNULL(FX2_QTDE,0.0)) AS FX2_QTDE  ,        
  SUM(ISNULL(FX2_VLR,0.0)) AS FX2_VLR  ,        
  SUM(ISNULL(FX2_MKT,0.0)) AS FX2_MKT  ,        
  (CASE WHEN SUM(ISNULL(FX2_VLR,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_VLR,0.0))/SUM(ISNULL(FX2_VLR,0.0)) * 100.0 END) AS FX2_PRC ,        
        
  (CASE WHEN SUM(ISNULL(FX2_QTDE,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_QTDE,0.0))/SUM(ISNULL(FX2_QTDE,0.0)) * 100.0 END) AS FX1_MKT          
        
 FROM AUX_SCR_Cetip_Pot_MKT_SHARE (NOLOCK)        
 WHERE LEFT(SEGMENTO,4) <= '2004' AND SEGMENTO NOT IN ('NOVO')        
  AND 1=0 + CASE  WHEN @CIDADE= '(TODOS)'  THEN 1        
      WHEN @CIDADE<>'(TODOS)' AND CIDADE = @CIDADE THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @REGIAO= '(TODOS)'  THEN 1        
      WHEN @REGIAO<>'(TODOS)' AND REGIAO = @REGIAO THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @agente= '0-(TODOS)'  THEN 1        
      WHEN @agente<>'0-(TODOS)' AND AGENTE = @AGENTE THEN 1 ELSE 0 END  -- TODOS        
  AND CIDADE IS NOT NULL  -- REMOVE AS CIDADES NAO ATENDIDAS PELA SANTANA        
  -- ALTERACAO 28/10/16 ACESSO AGENTES   ******************        
  AND (LEFT(AGENTE,CHARINDEX('-',AGENTE,1)-1) = @CodAGENTE OR @CodAGENTE = '99')        
        
IF @fx_ano  ='2007'  -- FX ANO  AGRUPAMENTO  APOS 2004        
SELECT MAX(ISNULL(UF,''))  AS UF,        
  MAX(ISNULL(REGIAO,'')) AS REGIAO ,        
  MAX(ISNULL(GRUPO,'')) AS GRUPO ,        
  MAX(ISNULL(CIDADE,'')) AS CIDADE ,        
  --MAX(ISNULL(AGENTE,'')) AS AGENTE ,        
  AGENTE , -- MAX(AGENTE), ALTERADO 27/07/16  **************        
  ISNULL(FX_CEP_DE,'') AS CEP_DE ,        
  ISNULL(FX_CEP_ATE,'') AS CEP_ATE ,        
  'APOS 2004' AS FX_ANO ,        
        
  SUM(ISNULL(FX1_QTDE,0.0)) AS FX1_QTDE  ,        
  SUM(ISNULL(FX1_VLR,0.0)) AS FX1_VLR  ,        
  SUM(ISNULL(FX1_PRC,0.0)) AS FX1_PRC  ,        
        
  SUM(ISNULL(FX2_QTDE,0.0)) AS FX2_QTDE  ,        
  SUM(ISNULL(FX2_VLR,0.0)) AS FX2_VLR  ,        
  SUM(ISNULL(FX2_MKT,0.0)) AS FX2_MKT  ,        
  (CASE WHEN SUM(ISNULL(FX2_VLR,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_VLR,0.0))/SUM(ISNULL(FX2_VLR,0.0)) * 100.0 END) AS FX2_PRC ,        
        
  (CASE WHEN SUM(ISNULL(FX2_QTDE,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_QTDE,0.0))/SUM(ISNULL(FX2_QTDE,0.0)) * 100.0 END) AS FX1_MKT          
        
 FROM AUX_SCR_Cetip_Pot_MKT_SHARE (NOLOCK)        
 WHERE LEFT(SEGMENTO,4) > '2004' or segmento ='novo'        
  AND 1=0 + CASE  WHEN @CIDADE= '(TODOS)'  THEN 1        
      WHEN @CIDADE<>'(TODOS)' AND CIDADE = @CIDADE THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @REGIAO= '(TODOS)'  THEN 1        
      WHEN @REGIAO<>'(TODOS)' AND REGIAO = @REGIAO THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @agente= '0-(TODOS)'  THEN 1        
      WHEN @agente<>'0-(TODOS)' AND AGENTE = @AGENTE THEN 1 ELSE 0 END  -- TODOS        
  AND CIDADE IS NOT NULL  -- REMOVE AS CIDADES NAO ATENDIDAS PELA SANTANA        
  -- ALTERACAO 28/10/16 ACESSO AGENTES   ******************        
  AND (LEFT(AGENTE,CHARINDEX('-',AGENTE,1)-1) = @CodAGENTE OR @CodAGENTE = '99')        
 GROUP BY FX_CEP_DE,FX_CEP_ATE , AGENTE  -- INCLUIDO 27/07/16  **************        
UNION        
SELECT 'Total'  AS UF,        
  'Total' AS REGIAO ,        
  'Total' AS GRUPO ,        
  'Total' AS CIDADE ,        
  'Total' AS AGENTE ,        
  'Total' AS CEP_DE ,        
  'Total' AS CEP_ATE ,        
  'Total'   AS FX_ANO ,        
        
  SUM(ISNULL(FX1_QTDE,0.0)) AS FX1_QTDE  ,        
  SUM(ISNULL(FX1_VLR,0.0)) AS FX1_VLR  ,        
  SUM(ISNULL(FX1_PRC,0.0)) AS FX1_PRC  ,        
        
  SUM(ISNULL(FX2_QTDE,0.0)) AS FX2_QTDE  ,        
  SUM(ISNULL(FX2_VLR,0.0)) AS FX2_VLR  ,        
  SUM(ISNULL(FX2_MKT,0.0)) AS FX2_MKT  ,        
  (CASE WHEN SUM(ISNULL(FX2_VLR,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_VLR,0.0))/SUM(ISNULL(FX2_VLR,0.0)) * 100.0 END) AS FX2_PRC ,        
        
  (CASE WHEN SUM(ISNULL(FX2_QTDE,0.0))=0.0 THEN 0.0 ELSE SUM(ISNULL(FX1_QTDE,0.0))/SUM(ISNULL(FX2_QTDE,0.0)) * 100.0 END) AS FX1_MKT          
        
 FROM AUX_SCR_Cetip_Pot_MKT_SHARE (NOLOCK)        
 WHERE LEFT(SEGMENTO,4) > '2004' or segmento ='novo'        
  AND 1=0 + CASE WHEN @CIDADE= '(TODOS)'  THEN 1        
      WHEN @CIDADE<>'(TODOS)' AND CIDADE = @CIDADE THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @REGIAO= '(TODOS)'  THEN 1        
      WHEN @REGIAO<>'(TODOS)' AND REGIAO = @REGIAO THEN 1 ELSE 0 END  -- TODOS        
  AND 1=0 + CASE WHEN @agente= '0-(TODOS)'  THEN 1        
      WHEN @agente<>'0-(TODOS)' AND AGENTE = @AGENTE THEN 1 ELSE 0 END  -- TODOS        
  AND CIDADE IS NOT NULL  -- REMOVE AS CIDADES NAO ATENDIDAS PELA SANTANA        
  -- ALTERACAO 28/10/16 ACESSO AGENTES   ******************        
  AND (LEFT(AGENTE,CHARINDEX('-',AGENTE,1)-1) = @CodAGENTE OR @CodAGENTE = '99')        
        
        
/*  AND 1 = 0+ CASE WHEN @regiao>'' AND @regiao = REGIAO THEN 1        
      WHEN @REGIAO ='' THEN 1        
      ELSE 0 END   */        
        
        
-- ***********************************************************************************        
-- MKT SHARE DO SINTETICO CF LOJA E O SEGMENTO??        
-- SE VOLUME = , MKT SHARE =        
-- SELECT * FROM AUX_SCR_Cetip_Potencial_MKT_SHARE        
-- SELECT * FROM AUX_SCR_Cetip_Pot_MKT_SHARE        
/*        
 @DataDE  as varchar(10),        
 @DataATE as varchar(10),         
 @localizar as varchar(200),        
 @CEPde as varchar(10),        
 @CEPate as varchar(10),        
 @regiao as varchar(10),        
 @uf  as varchar(10),        
 @agente  as varchar(200)        
        
        
-- TOTAIS        
SELECT        
 MesReferencia         
 ,CNPJ        
 ,Classificacao        
 ,RazaoSocial        
 ,NomeFantasia        
 ,'' Agente        
-- ,ISNULL(CONVERT(VARCHAR(10),A13CODORG)+'-'+A13DESCR,'') AS Agente          
 ,'' Loja_Ativa        
-- ,ISNULL(o4ativa,'')   AS  Loja_Ativa          
 ,CNAE        
 ,Endereco        
 ,Complemento        
 ,Numero        
 ,Bairro        
 ,Cidade        
 ,UF        
 ,CEP        
 ,Quantidade        
 ,Volume        
 ,MarketShareQuant        
 ,MarketShareValor        
 ,MarketShareAcimaQuant        
 ,MarketShareAcimaValor        
 ,MarketShareAbaixoQuant        
 ,MarketShareAbaxoValor  , ''         
FROM  Cetip_Potencial_Sintetico (NOLOCK)        
        
        
-- DECLARE  @MesReferencia as varchar(6) DECLARE  @localizar as varchar(200) SET @MesReferencia='201506' SET @localizar=''          
-- ( SELECT * FROM   Cetip_Potencial_Sintetico (NOLOCK)        
        
  WHERE    MesReferencia        
    between @DataDE and @DataATE        
        
        
 = @MesReferencia        ) AS PS         
        
        
UPDATE AUX_SCR_Cetip_Potencial_Sintetico        
SET  Loja_Ativa  = ISNULL(o4ativa,'')    ,        
  COD_LOJA = ISNULL(o4codorg ,'')         
FROM  (select o4codorg, o4nome, o4descr, o4rua,o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ          
    from CDCSANTANAMicroCredito..torg4 O (NOLOCK) ) as c          
 WHERE o4cpfcgc= LEFT(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,2)+'.'+substring(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,3,3)+'.'+substring(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,6,3)+'/'+substring(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,9,4)+'-'+right(AUX_SC
  
    
      
R_Cetip_Potencial_Sintetico.cnpj,2)          
        
UPDATE AUX_SCR_Cetip_Potencial_Sintetico        
SET  Agente  = ISNULL(CONVERT(VARCHAR(10),A13CODORG)+'-'+A13DESCR,'')        
FROM (SELECT DISTINCT PPCODORG4,PPCODORG3 FROM  PropWebSmc..CProp  (NOLOCK)          
    WHERE PPDTBASE BETWEEN @DTINI AND @DTFIM ) AS PROP          
left join          
  (select DISTINCT O3CODORG,O3DESCR,o3codOrgA13 from CDCSANTANAMicroCredito..TORG3 OPE1 (NOLOCK) ) as OPERADOR          
  ON O3CODORG = PPCODORG3          
-- AGENTE          
left join          
  (select A13CODORG,A13DESCR,A13DTCAD from CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) ) as A          
  ON OPERADOR.o3codOrgA13 = A.A13CODORG          
        
WHERE PPCODORG4= COD_LOJA  -- o4codorg          
        
        
SELECT * FROM AUX_SCR_Cetip_Potencial_Sintetico (NOLOCK)        
WHERE        
      (@localizar = '' or (          
       CNPJ like '%'+@localizar+'%' or           
       RazaoSocial like '%'+@localizar+'%' or          
       --NOMEFANTASIA  like '%'+@localizar+'%' or          
       CNAE    like '%'+@localizar+'%' or          
       Endereco   like '%'+@localizar+'%' or          
       Bairro   like '%'+@localizar+'%' or          
       Cidade   like '%'+@localizar+'%' or          
       NomeFantasia like '%'+@localizar+'%'          
        )   )        
*/        
END           
        