USE SIG

-- EXEC [SCR_CETIP_POTENCIAL_SINTETICO_CONSULTA] '201508',''
/****** Object:  StoredProcedure [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_CONSULTA]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_POTENCIAL_SINTETICO_CONSULTA' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_CONSULTA]
GO

-- ***********
CREATE PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_CONSULTA] (
	@MesReferencia as varchar(6),
	@localizar as varchar(200))
AS
BEGIN

DECLARE @DTINI  DATETIME  
DECLARE @DTFIM  DATETIME  
  
SET @DTINI = DATEADD(MM,-1,CONVERT(DATETIME,@MesReferencia+'01'))  
SET @DTFIM = DATEADD(MM,+1,CONVERT(DATETIME,@MesReferencia+'01'))  


TRUNCATE TABLE AUX_SCR_Cetip_Potencial_Sintetico

INSERT AUX_SCR_Cetip_Potencial_Sintetico
SELECT
	MesReferencia 
	,CNPJ
	,Classificacao
	,RazaoSocial
	,NomeFantasia
	,'' Agente
--	,ISNULL(CONVERT(VARCHAR(10),A13CODORG)+'-'+A13DESCR,'') AS Agente  
	,'' Loja_Ativa
--	,ISNULL(o4ativa,'')   AS  Loja_Ativa  
	,CNAE
	,Endereco
	,Complemento
	,Numero
	,Bairro
	,Cidade
	,UF
	,CEP
	,Quantidade
	,Volume
	,MarketShareQuant
	,MarketShareValor
	,MarketShareAcimaQuant
	,MarketShareAcimaValor
	,MarketShareAbaixoQuant
	,MarketShareAbaxoValor  , '' 
FROM 
-- Cetip_Potencial_Sintetico (NOLOCK)


(  
-- DECLARE  @MesReferencia as varchar(6) DECLARE  @localizar as varchar(200) SET @MesReferencia='201506' SET @localizar=''  
	SELECT * FROM   Cetip_Potencial_Sintetico (NOLOCK)
	 WHERE    MesReferencia = @MesReferencia 
				   ) AS PS 


UPDATE	AUX_SCR_Cetip_Potencial_Sintetico
SET		Loja_Ativa  = ISNULL(o4ativa,'')    ,
		COD_LOJA = ISNULL(o4codorg ,'') 
FROM	 (select	o4codorg, o4nome, o4descr, o4rua,o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ  
			 from	CDCSANTANAMicroCredito..torg4 O (NOLOCK) ) as c  
	WHERE o4cpfcgc= LEFT(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,2)+'.'+substring(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,3,3)+'.'+substring(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,6,3)+'/'+substring(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,9,4)+'-'+right(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,2)  

UPDATE	AUX_SCR_Cetip_Potencial_Sintetico
SET		Agente  = ISNULL(CONVERT(VARCHAR(10),A13CODORG)+'-'+A13DESCR,'')
FROM (SELECT DISTINCT PPCODORG4,PPCODORG3 FROM  PropWebSmc..CProp  (NOLOCK)  
		  WHERE PPDTBASE BETWEEN @DTINI AND @DTFIM ) AS PROP  
left join  
	 (select DISTINCT O3CODORG,O3DESCR,o3codOrgA13 from CDCSANTANAMicroCredito..TORG3 OPE1 (NOLOCK) ) as OPERADOR  
	 ON O3CODORG = PPCODORG3  
-- AGENTE  
left join  
	 (select A13CODORG,A13DESCR,A13DTCAD from CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) ) as A  
	 ON OPERADOR.o3codOrgA13 = A.A13CODORG  

WHERE PPCODORG4= COD_LOJA  -- o4codorg  


SELECT * FROM AUX_SCR_Cetip_Potencial_Sintetico (NOLOCK)
WHERE
				  (@localizar = '' or (  
					  CNPJ like '%'+@localizar+'%' or   
					  RazaoSocial like '%'+@localizar+'%' or  
					  --NOMEFANTASIA  like '%'+@localizar+'%' or  
					  CNAE		  like '%'+@localizar+'%' or  
					  Endereco	  like '%'+@localizar+'%' or  
					  Bairro	  like '%'+@localizar+'%' or  
					  Cidade	  like '%'+@localizar+'%' or  
					  NomeFantasia like '%'+@localizar+'%'  
					   )   )

END




GO

/*
SELECT
	MesReferencia 
	,CNPJ
	,Classificacao
	,RazaoSocial
	,NomeFantasia
--	,'' Agente
	,ISNULL(CONVERT(VARCHAR(10),A13CODORG)+'-'+A13DESCR,'') AS Agente  
--	,'' Loja_Ativa
	,ISNULL(o4ativa,'')   AS  Loja_Ativa  
	,CNAE
	,Endereco
	,Complemento
	,Numero
	,Bairro
	,Cidade
	,UF
	,CEP
	,Quantidade
	,Volume
	,MarketShareQuant
	,MarketShareValor
	,MarketShareAcimaQuant
	,MarketShareAcimaValor
	,MarketShareAbaixoQuant
	,MarketShareAbaxoValor
FROM 

(  
-- DECLARE  @MesReferencia as varchar(6) DECLARE  @localizar as varchar(200) SET @MesReferencia='201506' SET @localizar=''  
	SELECT * FROM   Cetip_Potencial_Sintetico (NOLOCK)
	 WHERE    MesReferencia = @MesReferencia 
				   ) AS PS 
/* WHERE  	(@localizar = '' or (
					CNPJ like '%'+@localizar+'%' or 
					RazaoSocial like '%'+@localizar+'%' or
					NomeFantasia like '%'+@localizar+'%'   						) 	)
	AND MesReferencia = @MesReferencia		*/

left join   
	 (select  o4codorg, o4nome, o4descr, o4rua,o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ  
	 from  CDCSANTANAMicroCredito..torg4 O (NOLOCK) ) as c  
	 on o4cpfcgc= LEFT(PS.cnpj,2)+'.'+substring(PS.cnpj,3,3)+'.'+substring(PS.cnpj,6,3)+'/'+substring(PS.cnpj,9,4)+'-'+right(PS.cnpj,2)  
left join  
	 (SELECT DISTINCT PPCODORG4,PPCODORG3 FROM  PropWebSmc..CProp  (NOLOCK)  
	  WHERE PPDTBASE BETWEEN @DTINI AND @DTFIM ) AS PROP  
	 ON PPCODORG4= o4codorg  
/*  
 (select OPCODORG4,OPCODORG3 --,OPDTBASE  
  from CDCSANTANAMicroCredito..COPER O1 (NOLOCK)  
 WHERE OPDTBASE BETWEEN @DTINI AND @DTFIM  
  ) as o  
 ON O4CODORG = OPCODORG4  */  
left join  
	 (select DISTINCT O3CODORG,O3DESCR,o3codOrgA13 from CDCSANTANAMicroCredito..TORG3 OPE1 (NOLOCK) ) as OPERADOR  
	 ON O3CODORG = PPCODORG3  
-- AGENTE  
left join  
	 (select A13CODORG,A13DESCR,A13DTCAD from CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) ) as A  
	 ON OPERADOR.o3codOrgA13 = A.A13CODORG  
	

WHERE
				  (@localizar = '' or (  
					  CNPJ like '%'+@localizar+'%' or   
					  RazaoSocial like '%'+@localizar+'%' or  
					  A13DESCR	  like '%'+@localizar+'%' or  
					  CNAE		  like '%'+@localizar+'%' or  
					  Endereco	  like '%'+@localizar+'%' or  
					  Bairro	  like '%'+@localizar+'%' or  
					  Cidade	  like '%'+@localizar+'%' or  
					  NomeFantasia like '%'+@localizar+'%'  
					   )   )
*/


-- sp_help Cetip_Potencial_Sintetico
-- create index Cetip_Potencial_Sintetico_idx1 on Cetip_Potencial_Sintetico(MesReferencia,CNPJ,RazaoSocial,NomeFantasia,CNAE,Endereco,Bairro,Cidade)

/*
TABELA AUXILIAR P/ AGILIZAR O RESULTADO
SP_HELP Cetip_Potencial_Sintetico_HISTORICO
SELECT * INTO AUX_SCR_Cetip_Potencial_Sintetico FROM Cetip_Potencial_Sintetico (NOLOCK)
ALTER TABLE	AUX_SCR_Cetip_Potencial_Sintetico ADD  COD_LOJA VARCHAR(6)
SP_HELP AUX_SCR_Cetip_Potencial_Sintetico

DROP   TABLE AUX_SCR_Cetip_Potencial_Sintetico 
CREATE TABLE AUX_SCR_Cetip_Potencial_Sintetico (
MesReferencia	varchar(8),
CNPJ	varchar(18),
Classificacao	varchar(1),
RazaoSocial	varchar(200),
NomeFantasia	varchar(200),

AGENTE  VARCHAR(200),
LOJA_ATIVA VARCHAR(2),

CNAE	varchar(200),
Endereco	varchar(200),
Complemento	varchar(137),
Numero	varchar(10),
Bairro	varchar(100),
Cidade	varchar(100),
UF	varchar(2),
CEP	varchar(8),
Quantidade	int,
Volume	decimal(9),
MarketShareQuant	int,
MarketShareValor	decimal(9),
MarketShareAcimaQuant	int	,
MarketShareAcimaValor	decimal(9),
MarketShareAbaixoQuant	int	,
MarketShareAbaxoValor	decimal(9),
COD_LOJA	varchar(8) )

*/
