USE sig
GO
/****** Object:  Table [dbo].[TCIDADE]    Script Date: 28/03/2016 00:18:32 ******/
-- SELECT * FROM [AUX_POT_PROD_CIDADE] (NOLOCK)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

DROP   TABLE [dbo].[AUX_POT_PROD_CIDADE]
CREATE TABLE [dbo].[AUX_POT_PROD_CIDADE](
	OPNROPER [varchar](20) ,
	OPCODOP  [varchar](20) ,
	OPCODCLI [varchar](20) ,
	OPDTBASE	DATETIME,

	OPCODORG4 [varchar](20),
	OPCODORG3 [varchar](20),
	OPCODORGA13 [varchar](20),

	CEP_LJ		[varchar](20) ,
	CIDADE_ESTR [varchar](200) ,
	OPVLROPCZ	FLOAT,
	ANO_BEM		VARCHAR(20),

	[cod_uf]	[varchar](2),
	[cod_regiao] [int],
	[cod_grupo] [int] ,
	[cep_de] [varchar](9),
	[cep_ate] [varchar](9),
	[cod_agente] [varchar](10),
	SEGMENTO	VARCHAR(200),
	CNPJ_LJ		VARCHAR(25)
) 


-- ********************
DROP   TABLE [dbo].[AUX_POT_PROD_CIDADE_TTL]
CREATE TABLE [dbo].[AUX_POT_PROD_CIDADE_TTL](
	COD_LOJA	[varchar](20),
--	COD_OPERAD  [varchar](20),
	COD_AGENTE  [varchar](20),
	CNPJ_LJ		VARCHAR(25),
	CEP_LJ		[varchar](20) ,
	CIDADE_ESTR [varchar](200) ,

	SEGMENTO	VARCHAR(200),
	QTD			FLOAT,
	VLR			FLOAT
) 

GO
SET ANSI_PADDING OFF
GO
