USE sig
GO
/****** Object:  Table [dbo].[TCIDADE]    Script Date: 28/03/2016 00:18:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

DROP   TABLE [dbo].[TCIDADE]
CREATE TABLE [dbo].[TCIDADE](
	[codigo] [int] NOT NULL,
	[cidade] [varchar](200) NOT NULL,
	[cod_uf] [varchar](2) NOT NULL,
	[cod_regiao] [int] NOT NULL,
	[cod_grupo] [int] NOT NULL,
	[cep_de] [varchar](9) NOT NULL,
	[cep_ate] [varchar](9) NOT NULL,
	[cod_agente] [varchar](10) NOT NULL,
 CONSTRAINT [PK_TCIDADE] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TGRUPO]    Script Date: 28/03/2016 00:18:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
DROP   TABLE [dbo].[TGRUPO]
CREATE TABLE [dbo].[TGRUPO](
	[codigo] [int] NOT NULL,
	[grupo] [varchar](200) NOT NULL,
	[cod_regiao] [int] NOT NULL,
 CONSTRAINT [PK_TGRUPO] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TREGIAO]    Script Date: 28/03/2016 00:18:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
DROP   TABLE [dbo].[TREGIAO]

CREATE TABLE [dbo].[TREGIAO](
	[codigo] [int] NOT NULL,
	[regiao] [varchar](200) NOT NULL,
 CONSTRAINT [PK_TREGIAO] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TUF]    Script Date: 28/03/2016 00:18:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
DROP   TABLE [dbo].[TUF]
CREATE TABLE [dbo].[TUF](
	[codigo] [varchar](2) NOT NULL,
	[UF] [varchar](200) NOT NULL,
 CONSTRAINT [PK_TUF] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/*
ALTER TABLE [dbo].[TCIDADE]  WITH CHECK ADD  CONSTRAINT [FK_TCIDADE_TGRUPO] FOREIGN KEY([cod_grupo])
REFERENCES [dbo].[TGRUPO] ([codigo])
GO
ALTER TABLE [dbo].[TCIDADE] CHECK CONSTRAINT [FK_TCIDADE_TGRUPO]
GO
ALTER TABLE [dbo].[TCIDADE]  WITH CHECK ADD  CONSTRAINT [FK_TCIDADE_TREGIAO] FOREIGN KEY([cod_regiao])
REFERENCES [dbo].[TREGIAO] ([codigo])
GO
ALTER TABLE [dbo].[TCIDADE] CHECK CONSTRAINT [FK_TCIDADE_TREGIAO]
GO
ALTER TABLE [dbo].[TCIDADE]  WITH CHECK ADD  CONSTRAINT [FK_TCIDADE_TUF] FOREIGN KEY([cod_uf])
REFERENCES [dbo].[TUF] ([codigo])
GO
ALTER TABLE [dbo].[TCIDADE] CHECK CONSTRAINT [FK_TCIDADE_TUF]
GO
ALTER TABLE [dbo].[TGRUPO]  WITH CHECK ADD  CONSTRAINT [FK_TGRUPO_TREGIAO] FOREIGN KEY([cod_regiao])
REFERENCES [dbo].[TREGIAO] ([codigo])
GO
ALTER TABLE [dbo].[TGRUPO] CHECK CONSTRAINT [FK_TGRUPO_TREGIAO]
GO

*/