USE SIG
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC scr_IP_ANALITICO '20150501', '20150520',730,1,3
-- EXEC scr_IP_ANALITICO '20150501', '20150520',0,1,0
-- EXEC scr_IP_ANALITICO '20150501', '20150520',0,1,3

-- PROC TELA IP ANALITICO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_IP_ANALITICO' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_IP_ANALITICO]
GO

CREATE Procedure [dbo].[scr_IP_ANALITICO]
		(@data_DE as datetime, @data_ATE as datetime,@cobradora varchar(6),	 
		 @RECEBIDO INT, @FAIXA VARCHAR(100)
			) AS
BEGIN

SELECT --TOP 100 * 
--LTRIM(LEFT(FAIXA,1))+(CASE WHEN SUBSTRING(FAIXA,2,1)='-' THEN ''	ELSE SUBSTRING(FAIXA,2,1) END ) AS FX,
		CONTRATO,
		PARCELA,
		ISNULL(DATA_REF,'') AS  DATA_REF,
		ISNULL(DATA_PAGAMENTO,'') AS DATA_PAGAMENTO,
		ISNULL(RECEBIDO,0)  AS RECEBIDO,
		ISNULL(VALORREC,0.0) AS VALORREC,
		ISNULL(CODCOBRADORA,0) AS CODCOBRADORA,
		ISNULL(NOME_CLIENTE,'') AS NOME_CLIENTE,
		ISNULL(CARTEIRA,0) AS CARTEIRA,
		ISNULL(MODALIDADE,0) AS MODALIDADE,
		ISNULL(DATA_CONTRATO,'') AS  DATA_CONTRATO,
		ISNULL(PLANO,0) AS PLANO,
		ISNULL(ATRASO,0) AS ATRASO,
		ISNULL(VENCIMENTO,'') AS  VENCIMENTO,
		ISNULL(VLR_PARCELA,0) AS VLR_PARCELA,
		ISNULL(QTD_PARC_ATRASO,0) AS QTD_PARC_ATRASO,
		ISNULL(VALOR_FINANCIADO,0) AS VALOR_FINANCIADO,
		ISNULL(TAC,0) AS TAC,
		ISNULL(IOC,0) AS IOC,
		ISNULL(CPF_CNPJ,'') AS  CPF_CNPJ,
		ISNULL(RG,'') AS  RG,
		ISNULL(ENDERECO,'') AS  ENDERECO,
		ISNULL(BAIRRO,'') AS  BAIRRO,
		ISNULL(CIDADE,'') AS  CIDADE,
		ISNULL(CEP,'') AS  CEP,
		ISNULL(UF,'') AS  UF,	
		ISNULL(TELEFONE,'') AS  TELEFONE,
		ISNULL(CELULAR,'') AS CELULAR,
		ISNULL(FONE_COMERCIAL,'') AS FONE_COMERCIAL,
		ISNULL(LOCAL_TRABALHO,'') AS LOCAL_TRABALHO,
		ISNULL(VALORBEM,0) AS VALORBEM,
		ISNULL(MARCA,'')   AS MARCA,
		ISNULL(MODELO,'')   AS MODELO,
		ISNULL(ANO_FABRIC,'')   AS ANO_FABRIC,
		ISNULL(ANO_MODELO,'')   AS ANO_MODELO,
		ISNULL(COBRADORA,'')    AS COBRADORA,
		ISNULL(REGRA,'')		AS REGRA,
		ISNULL(BLOQUEIO,'')		AS BLOQUEIO,
		ISNULL(DESBLOQUEIO,'')  AS DESBLOQUEIO,
		ISNULL(FAIXA,'')		AS FAIXA,
		ISNULL(QTDPAGAR,0)	    AS QTDPAGAR,
		ISNULL(PROFISSAO,'')    AS PROFISSAO,
		ISNULL(CARGO,'')	    AS CARGO
	FROM PERFORMANCE_HISTORICO (NOLOCK)
	WHERE	DATA_REF  BETWEEN @data_DE AND @data_ATE
		AND 1= 1+ CASE WHEN CODCOBRADORA = @COBRADORA AND @COBRADORA <> 0 THEN 0
					   WHEN	@COBRADORA = 0 THEN 0
					   ELSE 1 END
		AND 1= 1+ CASE WHEN @RECEBIDO=1 AND RECEBIDO = @RECEBIDO AND @RECEBIDO <> 99 THEN 0
					   WHEN @RECEBIDO=0 AND RECEBIDO  IN ('',0)  AND @RECEBIDO <> 99 THEN 0	
					   WHEN	@RECEBIDO = 99 THEN 0
					   ELSE 1 END

		AND 1= 1+ CASE WHEN LTRIM(LEFT(@FAIXA,2)) = 
--LTRIM(LEFT(FAIXA,1)+SUBSTRING(FAIXA,2,1)) 
LTRIM(LEFT(FAIXA,1))+(CASE WHEN SUBSTRING(FAIXA,2,1)='-' THEN ''
	ELSE SUBSTRING(FAIXA,2,1) END )
AND @FAIXA <> 0 THEN 0
					   WHEN	@FAIXA = 0 THEN 0
					   WHEN	@FAIXA = 99 THEN 0
					   ELSE 1 END

/*
		AND LEFT(FAIXA,2) = LEFT(@FAIXA,2)
-- LIMPA TABELA AUXILIAR
DELETE FROM TAUX_CONTRATO



if @linha = 1
begin
		-- saldo inicial

end


if @linha = 1		-- SALDO INICIAL
begin
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from	RR_prj_CONTRATO_2M  R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			AND NVL_RISCO = @coluna_classe
END

if @linha = 2		-- ENTRADAS
begin
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from	RR_prj_CONTRATO_2M  R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end

			and ENTRA = 1
			AND NVL_RISCO = @coluna_classe
END

if @linha = 3		-- RECUPERA
begin
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from RR_prj_CONTRATO_2M   R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			and RECUPERA  = 1
			AND NVL_RISCO = @coluna_classe

/*
-- insere os liquidados q estavam na faixa no mes anterior
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from RATING_HISTORICO   R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			and RECUPERA  = 1
			AND NVL_RISCO = @coluna_classe
*/
END

if @linha = 4		-- ROLA
begin
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from RR_prj_CONTRATO_2M   R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			and ROLA	  = 1
			AND NVL_RISCO = @coluna_classe
END
			
if @linha = 5
begin
		-- saldo FINAL
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from RR_prj_CONTRATO_2M   R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			AND NVL_RISCO = @coluna_classe

end


UPDATE TAUX_CONTRATO
SET
			CPF_CNPJ		= OPCODCLI,
			DATA_CONTRATO	= OPDTBASE,
			PLANO			= OPQTDDPARC,
			COD_CLI			= OPCODCLI,
		 	VLR_FINANCIADO	= OPVLRFIN,
			PARC_PAGAS		= OPPARCLIQ,
			COD_OPERADOR    = OPCODORG3,  -- OPERADOR
			VLR_PARCELA		= OPVLRPARC
-- SELECT TOP 10 *			
FROM		CDCSANTANAMicroCredito..COPER O (NOLOCK) 
	WHERE	OPNROPER=CONTRATO


UPDATE TAUX_CONTRATO
SET
			NOME_CLIENTE= CLNOMECLI,
			CPF_CNPJ	= CLCGC,
			PROFISSAO	= CLPROFI,
			CARGO		= CLCARGO
-- SELECT TOP 10 *			
FROM		CDCSANTANAMicroCredito..CCLIE O (NOLOCK) 
	WHERE
			COD_CLI	= CLCODCLI


-- ***************************** COBRADORA
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
UPDATE	TAUX_CONTRATO
SET		COD_COB		= COBR.LCCODACOB
FROM	(
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
		SELECT LCNROPER,LCCODACOB FROM GESTORCOB..ELCCB E (NOLOCK)
			WHERE   LCNROPER IN (SELECT CONTRATO FROM TAUX_CONTRATO)
				AND LCNRPARC = (SELECT MAX(LCNRPARC) 
								FROM GESTORCOB..ELCCB AUX (NOLOCK)
								WHERE AUX.LCNROPER= E.LCNROPER
								AND LCDTVCTO <= @DATA_REF)   ) AS COBR
WHERE	TAUX_CONTRATO.CONTRATO = COBR.LCNROPER

/*  INNER JOIN GESTORCOB..AOPER A 
		ON	 AONROPER = LCNROPER 
		AND	 AOCODPRD = LCCODPRD --AND AOCODBACK = '01'
SELECT * FROM TAUX_CONTRATO
SELECT * FROM	GESTORCOB..ELCCB E WHERE LCNROPER = '612132422'
  INNER JOIN GESTORCOB..TACOB C ON C.ACCODACOB = E.LCCODACOB  
  INNER JOIN CDCSANTANAMicroCredito..COPER O ON O.OPNROPER=E.LCNROPER 
  INNER JOIN CDCSANTANAMicroCredito..CPARC P ON P.PANROPER = E.LCNROPER AND P.PANRPARC = E.LCNRPARC  
SELECT * FROM	TCOBRADORA
SELECT * FROM	Torg3_agente
*/

-- NOME DA COBRADORA ********************	
UPDATE	TAUX_CONTRATO
SET		COBRADORA		= ISNULL(CODESCR,'')
FROM	TCOBRADORA
WHERE	COD_COB = COCOD

UPDATE	TAUX_CONTRATO
SET		COBRADORA		= ''
WHERE	COBRADORA IS NULL


-- COD DO AGENTE ********************	
UPDATE	TAUX_CONTRATO
SET		TAUX_CONTRATO.COD_AGENTE		= A.COD_AGENTE
FROM	Torg3_agente	A (NOLOCK)
WHERE	COD_PROMOTORA = COD_OPERADOR
-- NOME DO AGENTE ********************	
UPDATE	TAUX_CONTRATO
SET		AGENTE		= ISNULL(AGDESCR,'')
FROM	TAGENTE
WHERE	COD_AGENTE = AGCOD



/*
	AGENTE,

	COD_AGE			VARCHAR(20)

			PRIMEIRO_VCTO = ,


	COD_COB			VARCHAR(20),
	COBRADORA,
	
	QTD_PARC_ATRASO,

-- VEICULOS	
MARCA,
	MODELO,
	ANO_FABRIC,

*/
-- PARCELAS ************************
UPDATE	TAUX_CONTRATO
SET		PRIMEIRO_VCTO = P.PADTVCTO
FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK)
WHERE	CONTRATO = P.PANROPER
	AND	PANRPARC=1
-- PARCELAS EM ATRASO ************************
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
--   DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
UPDATE	TAUX_CONTRATO
SET		QTD_PARC_ATRASO = ISNULL(QTDE,0)
FROM
	(SELECT		PANROPER,COUNT(*) AS QTDE
			FROM	CDCSANTANAMicroCredito..CPARC AUX (NOLOCK)
			WHERE	AUX.PANROPER	IN (SELECT CONTRATO
										FROM TAUX_CONTRATO)
				AND	AUX.PADTVCTO <= @DATA_REF   -- VENCIDOS
				AND (AUX.PADTLIQ IS NULL		-- NAO PAGOS
				OR	 AUX.PADTLIQ >  @DATA_REF )  -- PAGOS APOS A DT REF		
				AND AUX.PACNTRL = (SELECT MAX(PACNTRL)
							FROM	CDCSANTANAMicroCredito..CPARC A (NOLOCK)
							WHERE	A.PANROPER= AUX.PANROPER
								AND A.PANRPARC= AUX.PANRPARC  )
			GROUP BY PANROPER) P
WHERE	PANROPER = CONTRATO



-- VEICULOS	
-- SELECT TOP 100 * FROM CDCSANTANAMicroCredito..CBFIN
UPDATE	TAUX_CONTRATO
SET		MODELO		= ISNULL(ABMODELO,''),
		ANO_FABRIC  = ISNULL(ABANOFAB,''),
		MARCA		= '' ,
		COD_VEIC    = ISNULL(ABCODMARCA,'')
FROM	CDCSANTANAMicroCredito..CBFIN V (NOLOCK)
WHERE	CONTRATO = ABNROPER
	AND	ABNRGAR='01'
	AND ABCNTRL = (SELECT	MAX(ABCNTRL) 
					FROM	CDCSANTANAMicroCredito..CBFIN V1 (NOLOCK)
					WHERE	V1.ABNROPER = CONTRATO)
-- SELECT TOP 100 * FROM CDCSANTANAMicroCredito..TMODEL

/*
MARCA,
	MODELO,
	ANO_FABRIC,
  INNER JOIN CDCSANTANAMicroCredito..COPER O ON O.OPNROPER=E.LCNROPER 
select top 10 * from  CDCSANTANAMicroCredito..COPER
opdt1vencto,



SELECT contrato as panroper, '' as opdtbase, '' as regiao,'' as o1descr,
		nome_cliente as clnomecli,

		cpf_cnpj as clcgc,
		'' clfonefis,
		'' clfonecom,
		'' as codempregador,
	'' as o4nome,
data_contrato as padtvcto,
primeiro_vcto as padtvcto1,
COBRADORA,
'' DT_ENVIO_COBR,
0 ENVIO_EST_NOV,
'' O2DESCR,
'' O3DESCR,
'' Modalidade,
ano_fabric AbAnoFab,
modelo AbModelo,
0.0 PDD,
'' MATRICULA
*/
--select *		
SELECT CONTRATO 

      ,[CPF_CNPJ]

      ,[NOME_CLIENTE]

      ,[AGENTE]

      ,[COBRADORA]

      ,Convert(varchar, [DATA_CONTRATO], 103) [DATA_CONTRATO]

      ,Convert(varchar, [PLANO]) [PLANO]

      ,Convert(varchar, [PARCELA_ABERTO]) [PARCELA_ABERTO]

      ,Convert(varchar, [PRIMEIRO_VCTO], 103) [PRIMEIRO_VCTO]

      ,Convert(varchar, [ATRASO]) [ATRASO]

      ,Convert(varchar, [VENCIMENTO], 103) [VENCIMENTO]

      ,Convert(varchar, [VLR_PARCELA]) [VLR_PARCELA]

      ,Convert(varchar, [QTD_PARC_ATRASO]) [QTD_PARC_ATRASO]

      ,Convert(varchar, [SALDO_INSCRITO]) [SALDO_INSCRITO]

      ,Convert(varchar, [VLR_FINANCIADO]) [VLR_FINANCIADO]

      ,[MARCA]

      ,[MODELO]

      ,[ANO_FABRIC]

      ,Convert(varchar, [PARC_PAGAS]) [PARC_PAGAS]

      ,[PROFISSAO]

      ,[CARGO]

      ,[COD_CLI]

      ,[COD_COB]

      ,cod_Agente as [COD_AGE]

  FROM [dbo].[TAUX_CONTRATO]
*/

-- select * FROM TAUX_CONTRATO
END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

