
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
use sig
go

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SIG_IP_PAGAMENTO_DT' AND type = 'P')
   DROP PROCEDURE [dbo].[SIG_IP_PAGAMENTO_DT]
GO

/*
 EXEC [SIG_IP_PAGAMENTO_DT] '20151030'
 EXEC [SIG_IP_PAGAMENTO_DT] '20151031'
  EXEC [SIG_IP_CALCULO]   '20151030'
  EXEC [SIG_IP_RELATORIO] '20151030'

  EXEC [SIG_IP_CALCULO]   '20151031'
  EXEC [SIG_IP_RELATORIO] '20151031'

 EXEC [SIG_IP_PAGAMENTO_DT] '20150903'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150904'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150905'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150906'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150907'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150908'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150909'

 EXEC [SIG_IP_PAGAMENTO_DT] '20150910'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150911'

  EXEC [SIG_IP_CALCULO]   '20150901'
  EXEC [SIG_IP_RELATORIO] '20150901'

  EXEC [SIG_IP_CALCULO]   '20150902'
  EXEC [SIG_IP_RELATORIO] '20150902'

  EXEC [SIG_IP_CALCULO]   '20150903'
  EXEC [SIG_IP_RELATORIO] '20150903'

  EXEC [SIG_IP_CALCULO]   '20150904'
  EXEC [SIG_IP_RELATORIO] '20150904'

  EXEC [SIG_IP_CALCULO]   '20150905'
  EXEC [SIG_IP_RELATORIO] '20150905'

  EXEC [SIG_IP_CALCULO]   '20150906'
  EXEC [SIG_IP_RELATORIO] '20150906'

  EXEC [SIG_IP_CALCULO]   '20150907'
  EXEC [SIG_IP_RELATORIO] '20150907'

  EXEC [SIG_IP_CALCULO]   '20150908'
  EXEC [SIG_IP_RELATORIO] '20150908'

  EXEC [SIG_IP_CALCULO]   '20150909'
  EXEC [SIG_IP_RELATORIO] '20150909'

  EXEC [SIG_IP_CALCULO]   '20150910'
  EXEC [SIG_IP_RELATORIO] '20150910'

 EXEC [SIG_IP_PAGAMENTO_DT] '20150801'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150802'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150803'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150804'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150805'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150806'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150807'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150808'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150809'

 EXEC [SIG_IP_PAGAMENTO_DT] '20150810'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150811'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150812'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150813'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150814'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150815'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150816'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150817'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150818'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150819'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150820'

 EXEC [SIG_IP_PAGAMENTO_DT] '20150821'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150822'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150823'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150824'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150825'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150826'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150827'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150828'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150829'
 
 EXEC [SIG_IP_PAGAMENTO_DT] '20150830'
 EXEC [SIG_IP_PAGAMENTO_DT] '20150831'
*/
-- EXEC [SIG_IP_PAGAMENTO_DT] '20150324'
-- EXEC [SIG_IP_PAGAMENTO_DT] '20150323'
-- EXEC [SIG_IP_PAGAMENTO_DT] '20150322'
-- EXEC [SIG_IP_PAGAMENTO_DT] '20150321'
-- EXEC [SIG_IP_PAGAMENTO_DT] '20150320'
-- EXEC [SIG_IP_PAGAMENTO_DT] '20150731'
-- 38 SEG PROD
-- EXEC [SIG_IP_PAGAMENTO_DT] '20150430'

-- select top 10 * from  PERFORMANCE_HISTORICO where  data_ref ='2014-06-06'
-- select * from  PERFORMANCE_HISTORICO where  data_pagamento ='2014-06-09'
-- 


CREATE  PROCEDURE [dbo].[SIG_IP_PAGAMENTO_DT] (@DTREF  as datetime )  AS
--IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'CST_VEICULOS_TESTE') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)                  
BEGIN      

--DECLARE @DTREF  as datetime
DECLARE @data_ini  as datetime

--set @DTREF = GETDATE () 
--set @DTREF = CONVERT(VARCHAR(10),GETDATE(),112)
-- SELECT CONVERT(VARCHAR(10),GETDATE(),112)

set @data_ini = CONVERT(CHAR(4),DATEPART(YYYY,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@DTREF))),2)+ '01'

/*
-- LIMPAR OS REPETIDOS			PERFORMANCE_CARGA
DELETE  PERFORMANCE_CARGA FROM  PERFORMANCE_HISTORICO 
WHERE PERFORMANCE_HISTORICO.CONTRATO = PERFORMANCE_CARGA.CONTRATO 
  AND PERFORMANCE_HISTORICO.PARCELA = PERFORMANCE_CARGA.PARCELA 
  AND  PERFORMANCE_HISTORICO.CODCOBRADORA = PERFORMANCE_CARGA.CODCOBRADORA 
  AND  PERFORMANCE_HISTORICO.DATA_REF BETWEEN @data_ini AND @DTREF

select *   FROM  PERFORMANCE_HISTORICO 
DELETE  FROM  PERFORMANCE_HISTORICO 
insert  PERFORMANCE_HISTORICO  select * from sf_relatorios..PERFORMANCE_HISTORICO
-- 252715 regs 23/6 OK
-- 259227 REGS 26/6 

sp_help PERFORMANCE_HISTORICO
alter table PERFORMANCE_HISTORICO alter column agente varchar(60)
alter table PERFORMANCE_HISTORICO alter column  loja varchar(60)

SELECT * FROM #AUX_PARC_PAGA
*/


--  DECLARE @data_ini DATETIME SET @data_ini = '20150801'   DECLARE @DTREF DATETIME SET @DTREF = '20150831'
-- DT DE LIQUIDACAO
SELECT		CASE	WHEN ISNULL(PADTMOV,'')='' OR PADTMOV>@DTREF THEN 0 ELSE 1 END AS RECEBIDO,
		CASE	WHEN PADTMOV =NULL OR PADTMOV>@DTREF
						THEN NULL	ELSE	PADTMOV END AS DATA_PAGAMENTO, 
		PAVLRPR+PAVLRJR AS VALORREC, *
INTO	#AUX_PARC_PAGA
FROM	(SELECT		* 
			FROM	CDCSANTANAMicroCredito..CPARC p1  (NOLOCK)
			WHERE	(P1.PADTLIQ IS NOT NULL )  --  LIQUIDADO	
				AND	P1.PADTLIQ  BETWEEN --'20150801'
					@DTREF AND  @DTREF     --  LIQUIDADO NA DATA
--					@data_ini AND  @DTREF     --  LIQUIDADO ATEH A DATA
				AND P1.PACNTRL = (SELECT	MAX(E1.PACNTRL) 
					FROM	CDCSANTANAMicroCredito..CPARC E1  (NOLOCK)
					WHERE	E1.PANROPER = P1.PANROPER 
     					AND	E1.PANRPARC = P1.PANRPARC)
		) AS P
LEFT JOIN
		 (SELECT		*   -- LCCODACOB,
				FROM	GESTORCOB .. ELCCB WITH (NOLOCK)     
				WHERE	 LCCODMOVR2 IN (101 ,105, 116)
		 ) AS C
			ON C.LCNROPER =P.PANROPER AND C.LCNRPARC=P.PANRPARC
WHERE	
			 (LcDtMOV) = (select MIN(C1.LcDtMOV)
						FROM	GESTORCOB .. ELCCB C1 (NOLOCK)     
						WHERE	 C1.LCNROPER =P.PANROPER 
							AND C1.LCNRPARC=P.PANRPARC AND LCCODMOVR2  IN (101 ,105, 116)  -- ANTES DE SET-15  =101, 116 incluido em 5/8/16 boleto sem cobradora da redistrib
								AND  LcDtMOV BETWEEN  @data_ini AND DATEADD(D,+5,@DTREF) )

-- 102 boleto de acordo  , 116 boleto sem cobradora da redistribuicao inclui em 5/8/16
--	DATA_REF <= @DTREF   -- ENVIO  AND '2014-04-10'
--and DATA_REF >=  @data_ini AND P.PANROPER = CONTRATO  AND P.PANRPARC = PARCELA
--   (P.PADTLIQ IS NOT NULL )  --  LIQUIDADO		
--AND	P.PADTLIQ  <=  @DTREF     --  LIQUIDADO ATEH A DATA
--AND
 			-- menor envio (ANTES LCDTMOV) MELHOR LCDTEFET
--			AND 
/*
			 (LcDtEFET) = (select MIN(C1.LcDtEFET)
						FROM	GESTORCOB .. ELCCB C1 (NOLOCK)     
						WHERE	 C1.LCNROPER =P.PANROPER 
							AND C1.LCNRPARC=P.PANRPARC AND LCCODMOVR2  IN (101 ,105)  -- ANTES DE SET-15  =101
							--	AND  LcDtEFET BETWEEN  @data_ini AND DATEADD(D,+3,@DTREF)
							)
*/
-- SELECT * FROM #AUX_PARC_PAGA p1  (NOLOCK) WHERE DATA_PAGAMENTO ='20150831'
-- 683
-- (677 row(s) affected)
--  DECLARE @data_ini DATETIME SET @data_ini = '20150801'   DECLARE @DTREF DATETIME SET @DTREF = '20150831'
UPDATE  PERFORMANCE_HISTORICO	-- NAO PAGO 0,  PAGO 1
SET		RECEBIDO=P.RECEBIDO,
		DATA_PAGAMENTO=P.DATA_PAGAMENTO, 
		VALORREC = P.VALORREC
		--dt_VCTO	= PADTVCTO
FROM	(SELECT * FROM #AUX_PARC_PAGA p1  (NOLOCK)
			WHERE DATA_PAGAMENTO = @DTREF ) AS P
WHERE	
	PERFORMANCE_HISTORICO.DATA_REF BETWEEN @data_ini AND  @DTREF   -- ENVIO  AND '2014-04-10'
--	PERFORMANCE_HISTORICO.DATA_REF <= @DTREF   -- ENVIO  AND '2014-04-10'
--and PERFORMANCE_HISTORICO.DATA_REF >=  @data_ini
AND PERFORMANCE_HISTORICO.DATA_PAGAMENTO IS NULL  -- SEM PAGAMENTO
AND PERFORMANCE_HISTORICO.CODCOBRADORA = P.LCCODACOB		-- COBRADORA RECEBEDORA
AND P.PANROPER = CONTRATO  
AND P.PANRPARC = PARCELA
AND (P.PADTLIQ IS NOT NULL )  --  LIQUIDADO		
AND	P.PADTLIQ  =  @DTREF     --  LIQUIDADO NA DATA

/*
SELECT * FROM PERFORMANCE_HISTORICO
(663 row(s) affected)
DECLARE @data_ini DATETIME SET @data_ini = '20150801'   DECLARE @DTREF DATETIME SET @DTREF = '20150831'
UPDATE  PERFORMANCE_HISTORICO	-- NAO PAGO 0,  PAGO 1
SET		RECEBIDO=0,
		DATA_PAGAMENTO = NULL, 
		VALORREC = 0.0
		--dt_VCTO	= PADTVCTO
FROM	(SELECT * FROM #AUX_PARC_PAGA p1  (NOLOCK)
			WHERE DATA_PAGAMENTO = @DTREF ) AS P
WHERE	
	PERFORMANCE_HISTORICO.DATA_REF <= @DTREF   -- ENVIO  AND '2014-04-10'
and PERFORMANCE_HISTORICO.DATA_REF >=  @data_ini
AND PERFORMANCE_HISTORICO.DATA_PAGAMENTO IS NOT NULL  -- ESTAVA SEM PAGAMENTO
-- FALTOU COBRADORA
AND P.PANROPER = CONTRATO  
AND P.PANRPARC = PARCELA
AND (P.PADTLIQ IS NOT NULL )  --  LIQUIDADO		
AND	P.PADTLIQ  =  @DTREF     --  LIQUIDADO ATEH A DATA

-- PERFORMANCE
-- DECLARE @data_ini SMALLDATETIME DECLARE @dtref DATETIME SET @data_ini='20140601' SET @dtref='20140609'
-- DATEADD(D,+5,@DTREF)
UPDATE PERFORMANCE_HISTORICO	-- NAO PAGO 0,  PAGO 1
SET		RECEBIDO=CASE	WHEN ISNULL(PADTMOV,'')='' OR PADTMOV>@DTREF THEN 0 ELSE 1 END,
		DATA_PAGAMENTO=CASE	WHEN PADTMOV =NULL OR PADTMOV>@DTREF
						THEN NULL	ELSE	PADTMOV END, 
		VALORREC = PAVLRPR+PAVLRJR 
		--dt_VCTO	= PADTVCTO

FROM	CDCSANTANAMicroCredito..CPARC p  (NOLOCK)
-- , performance_historico h  (NOLOCK)
WHERE	
	DATA_REF <= @DTREF   -- ENVIO  AND '2014-04-10'
and DATA_REF >=  @data_ini
AND DATA_PAGAMENTO IS NULL  -- SEM PAGAMENTO
AND P.PANROPER = CONTRATO  
AND P.PANRPARC = PARCELA
AND (P.PADTLIQ IS NOT NULL )  --  LIQUIDADO		
AND	P.PADTLIQ  <=  @DTREF     --  LIQUIDADO ATEH A DATA
AND P.PACNTRL = (SELECT	MAX(PACNTRL) 
					FROM	CDCSANTANAMicroCredito..CPARC E1  (NOLOCK)
					WHERE	E1.PANROPER = CONTRATO 
     					AND	E1.PANRPARC = PARCELA)
	-- INSERI COBRADORA RECEBEDORA -- ALTERADO 20/FEV/15
			AND PERFORMANCE_HISTORICO.CODCOBRADORA =  (SELECT LCCODACOB 
						FROM	GESTORCOB .. ELCCB WITH (NOLOCK)     
						WHERE	LCNROPER =CONTRATO AND LCNRPARC=PARCELA AND LCCODMOVR2=101 
			-- menor envio (ANTES LCDTMOV) MELHOR LCDTEFET
			AND  (LcDtEFET) = (select MIN(C1.LcDtEFET)
						FROM	GESTORCOB .. ELCCB C1 (NOLOCK)     
						WHERE	 C1.LCNROPER =CONTRATO AND C1.LCNRPARC=PARCELA AND LCCODMOVR2=101
						--	AND  LcDtEFET BETWEEN  @data_ini AND DATEADD(D,+3,@DTREF)
 ))

*/
--@DTREF  ))
--DATEADD(D,+3,@DTREF) ))


--						AND  LCDTMOV BETWEEN  @data_ini AND DATEADD(D,+3,@DTREF) )
						-- BX POR PAGAMENTO 
-- LCDTMOV ANTES 


-- ZERA O RECEBIMENTO
UPDATE PERFORMANCE_HISTORICO		SET  VALORREC = 0.0 
WHERE DATA_REF between @data_ini and @DTREF  AND VALORREC IS NULL 
--UPDATE PERFORMANCE_HISTORICO_PARC	SET  VALORREC = 0.0 WHERE VALORREC IS NULL 


-- fim do mes  ??
-- declare @data_ini datetime set @data_ini = '20150201' select dateadd(dd,-1,dateadd(mm,+1, @data_ini) ) select datepart(dw,dateadd(dd,-1,dateadd(mm,+1, @data_ini) ))

--  DECLARE  @DTREF  DATETIME SET @DTREF='20150228'  DECLARE  @data_ini  DATETIME SET @data_ini='20150201' 

--  AJUSTE DE PROBLEMAS NO FIM DE MES EM FDS  ***********  MAR/2015
UPDATE PERFORMANCE_HISTORICO	-- NAO PAGO 0 MAS COM RECEBIDO=1
SET		RECEBIDO=0,
		DATA_PAGAMENTO=NULL, 
		VALORREC = 0.0
where	DATA_REF between @data_ini and @DTREF 
	and	DATA_PAGAMENTO is null and recebido=1


-- AJUSTAR QDO PAGO SEM VLR
UPDATE PERFORMANCE_HISTORICO	-- NAO PAGO 0 MAS COM RECEBIDO=1
SET		RECEBIDO=1,
		VALORREC = VLR_PARCELA
where	DATA_REF between @data_ini and @DTREF 
	and	DATA_PAGAMENTO is NOT null and recebido=''

-- AJUSTAR O NOME DA COBRADORA SE ESTIVER EM BRANCO
update PERFORMANCE_HISTORICO
set cobradora= (select coDescr from tcobradora 
				where CoCOD =codcobradora )
  WHERE	DATA_REF between  @data_ini and @DTREF
		and cobradora=''




end
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

