<?xml version="1.0"?>
<configuration>
  <!--<configSections>

    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral,PublicKeyToken=692fbea5521e1304, Custom=null"/>
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler"/>
        <section name="printControl" type="System.Configuration.NameValueSectionHandler"/>
      </sectionGroup>
    </sectionGroup>

  </configSections>-->
  <connectionStrings>
    <!--
      
      Homologacao
    <add name="SantanaConnectionString" connectionString="Data Source=192.168.0.190;Initial Catalog=SIG;Persist Security Info=True;User ID=sa;Password=@sf#2012" providerName="System.Data.SqlClient"/>
      Producao
    <add name="SantanaConnectionString" connectionString="Data Source=192.168.0.235;Initial Catalog=SIG;Persist Security Info=True;User ID=sa;Password=!@#sf!@#2011" providerName="System.Data.SqlClient"/>
  
    
    
    -->
    <add name="SantanaConnectionString" connectionString="Data Source=192.168.0.190;Initial Catalog=SIG;Persist Security Info=True;User ID=sa;Password=@sf#2012" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <!--
  
<add name="SantanaConnectionString" connectionString="Data Source=ANDERSONOLIVEIR;Initial Catalog=Santana;Persist Security Info=True;User ID=sa;Password=573509" providerName="System.Data.SqlClient"/>
<businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="/crystalreportviewers13" />
      </crystalReportViewer>
      <printControl>
          <add key="url" value="/crystalreportviewers13/ActiveXControls/PrintControl.cab"/>
      </printControl>    
    </crystalReports>
  </businessObjects>-->
  <appSettings>
    <!--
    <add key="ConexaoPrincipal" value="Data Source=ANDERSONOLIVEIR;Initial Catalog=Santana;User=sa;password=573509;Connect Timeout=800000"/>
    -->
    
    <add key="ConexaoPrincipal" value="Data Source=192.168.0.190;Initial Catalog=SIG;User=sa;password=@sf#2012;Connect Timeout=9000000" />
    <!--
    producao acima
    <add key="ConexaoPrincipal" value="Data Source=192.168.0.235;Initial Catalog=Sig;User=sa;password=!@#sf!@#2011;Connect Timeout=800000"/>
    homologacao    
        <add key="ConexaoPrincipal" value="Data Source=192.168.0.190;Initial Catalog=SIG;User=sa;password=@sf#2012;Connect Timeout=800000"/>

    <add key="ConexaoPrincipal" value="Data Source=PC-VW-MSSQL\DRACO2012;Initial Catalog=Santana;User=sa;password=573509;Connect Timeout=800000" />
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    -->
  </appSettings>
  <system.webServer>
    <modules>
      <add type="Santana.Seguranca.PermissoesModule" name="PermissoesModule"/>
    </modules>
    <!--
    
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>-->
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <!--<compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>

        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
    </compilation>
    
    <httpRuntime/>
    
    ALTERADO TIMEOUT CF ROGERIO MELFI
    -->
    <httpRuntime executionTimeout="1000000" maxRequestLength="214748364"/>
    
    <!--IIS6-->
    <!--<httpModules>
        <add type="Modules.PermissoesModule" name="PermissoesModule" />
      </httpModules>-->
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <compilation debug="true" />
    <sessionState mode="InProc" stateNetworkTimeout="300"/>
  </system.web>
  <!--<runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <!--IIS7+-->
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->



</configuration>