<?xml version="1.0"?>
<configuration>
  <!--<configSections>

    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral,PublicKeyToken=692fbea5521e1304, Custom=null"/>
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler"/>
        <section name="printControl" type="System.Configuration.NameValueSectionHandler"/>
      </sectionGroup>
    </sectionGroup>

  </configSections>-->
  <connectionStrings>
    <!--<add name="SantanaConnectionString" connectionString="Data Source=PC-VW-MSSQL\DRACO2012;Initial Catalog=Santana;Persist Security Info=True;User ID=sa;Password=573509"
      providerName="System.Data.SqlClient" />
      
      Homologacao
    <add name="SantanaConnectionString" connectionString="Data Source=192.168.0.190;Initial Catalog=sf_relatorios;Persist Security Info=True;User ID=sa;Password=@sf#2012" providerName="System.Data.SqlClient"/>
      Producao
      -->
    <add name="SantanaConnectionString" connectionString="Data Source=192.168.0.190;Initial Catalog=SIG;Persist Security Info=True;User ID=sa;Password=@sf#2012" providerName="System.Data.SqlClient" />
    <!--<add name="SantanaConnectionString" connectionString="Data Source=192.168.81.11;Initial Catalog=SIG;Persist Security Info=True;User ID=usr_sig;Password=vpm8Ju5X7Xu7tioZLpHs" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--<businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="/crystalreportviewers13" />
      </crystalReportViewer>
      <printControl>
          <add key="url" value="/crystalreportviewers13/ActiveXControls/PrintControl.cab"/>
      </printControl>    
    </crystalReports>
  </businessObjects>-->
  <appSettings>
    <add key="ConexaoPrincipal" value="Data Source=192.168.0.190;Initial Catalog=SIG;User=sa;password=@sf#2012;Connect Timeout=9000000" />
    <!--<add key="ConexaoPrincipal" value="Data Source=192.168.81.11;Initial Catalog=SIG;User=usr_sig;password=vpm8Ju5X7Xu7tioZLpHs;Connect Timeout=9000000" />-->
    <!--
    producao acima
    homologacao    
        <add key="ConexaoPrincipal" value="Data Source=192.168.0.190;Initial Catalog=Sf_relatorios;User=sa;password=@sf#2012;Connect Timeout=800000"/>

    <add key="ConexaoPrincipal" value="Data Source=PC-VW-MSSQL\DRACO2012;Initial Catalog=Santana;User=sa;password=573509;Connect Timeout=800000" />
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    -->
  </appSettings>
  <system.webServer>
    <modules>
      <add type="Santana.Seguranca.PermissoesModule" name="PermissoesModule"/>
    </modules>
    <!--
    
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="logon.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <!--<compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>

        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
    </compilation>
  
  

    <httpRuntime    />
    ALTERADO TIMEOUT CF ROGERIO MELFI dez-15
    -->
    <httpRuntime executionTimeout="3000000" maxRequestLength="214748364"/>
    <!--IIS6-->
    <!--<httpModules>
        <add type="Modules.PermissoesModule" name="PermissoesModule" />
      </httpModules>-->
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <!--<pages controlRenderingCompatibilityVersion="4.0"/>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    -->
    <compilation debug="true" targetFramework="4.5.1"/>
    <sessionState mode="InProc" stateNetworkTimeout="300"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <!--IIS7+-->
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>