set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO

use sig
go

IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_credito_producao' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_credito_producao] 
GO 

-- EXEC  [SCR_credito_producao] '20150701','20150830','Alexandre de Almeida Medina','0'

-- EXEC  [SCR_credito_producao] '20150701','20150830','','0'

-- EXEC  [SCR_credito_producao] '20160418','20160418','','0'

-- SELECT USNOMEUSUC, USNOMEUSU FROM ACESSOCORP..TUSU (NOLOCK) WHERE USATIVO='S' AND USGRUPO1 IN ('04895','04896','04897') ORDER BY USNOMEUSUC

CREATE  PROCEDURE [dbo].[SCR_credito_producao]
	(@DTINI SMALLDATETIME,
	@DTFIM SMALLDATETIME ,@ANALISTA VARCHAR(100), @DATAS_REF VARCHAR(20))
AS
BEGIN

/********************************************************************************************
***********SEPARAR OS CONTRATOS POR PRODUTOS LEVES, PESADOS, MOTOS E UTILITÁRIOS*************
********************************************************************************************/
-- APAGA A TABELA QUE CONTERÁ OS DADOS, CASO A TABELA EXISTA
--IF isnull (object_id ('PRODUTIVIDADE'), 0) <> 0
--    DROP TABLE PRODUTIVIDADE
/*
IF isnull (object_id ('RELAPRODTEMP'), 0) <> 0
    DROP TABLE RELAPRODTEMP
/********************************************************************************************
*****CRIAR TABELA TEMPORARIA PARA ARMAZENAR AS INFORMAÇÕES QUE SERÃO USADAS NO RELATORIO*****
********************************************************************************************/
CREATE TABLE RELAPRODTEMP(
	PROPOSTA VARCHAR(9) NOT NULL,
	CODIGO_GERENTE VARCHAR(6) NOT NULL,
	GERENTE VARCHAR(40) NOT NULL,
	CODIGO_PROM VARCHAR(6) NOT NULL,
	PROMOTORA VARCHAR(43) NOT NULL,
	PAGAS SMALLINT NULL,
	APROVADAS SMALLINT NULL,
	REPROVADAS SMALLINT NULL,
	REPROVADASPROMOTORA SMALLINT NULL,
	PROMOTORAS SMALLINT NULL,
	ANALISE SMALLINT NULL,
	PENDENTES SMALLINT NULL,
	CANCELADAS SMALLINT NULL,
	DATA_BASE SMALLDATETIME,
	DATA_CAD SMALLDATETIME,
	VLR_FINANC FLOAT(8)NULL,
	COD_ANALISTA VARCHAR(20) NULL,
	ANALISTA VARCHAR(200) NULL)

SP_HELP RELAPRODTEMP
*/
/********************************************************************************************
**INSERIR AS INFORMAÇÕES COMO CODIGO DO GERENTE, DESCRIÇÃO DO GERENTE, CODIGO DA PROMOTORA***
**DESCRICAO DA PROMOTORA, CODIGO DO OPERADOR, DESCRICAO DO OPERADOR, CODIGO PRODUTO,      ***
**SE PAGA COLOCA 1, SE APROVADA COLOCA 1, SE REPROVADA COLOCA 1, SE PENDENTE COLOCA 1     ***
**DE ACORDO COM A SITUAÇÃO DA PROPOSTA, NA TABELA TEMPORARIA DE ACORDO COM AS CONDICOES   ***
**ESPECIFICADAS NO "WHERE" COMO CODIGO DA PROMOTORA, CODIGO DO PRODUTO, DATA BASE.        ***
********************************************************************************************/

DELETE		RELAPRODTEMP
INSERT		RELAPRODTEMP
	(PROPOSTA, CODIGO_GERENTE, GERENTE, CODIGO_PROM, PROMOTORA, PAGAS, APROVADAS, REPROVADAS, 
	 REPROVADASPROMOTORA, PENDENTES, PROMOTORAS, ANALISE, CANCELADAS, DATA_BASE, DATA_CAD, VLR_FINANC, COD_ANALISTA,ANALISTA) 
SELECT	DISTINCT
	P.PPNRPROP, 
	O2.O2CODORG, 
	O2.O2DESCR, 
	O3.O3CODORG, 
	O3.O3DESCR,
	0 AS PAGAS,
    0 AS APROVADAS,
	0 AS REPROVADAS,
	0 AS REPROVADASPROMOTORA,
	0 AS PENDENTES,
	0 AS PROMOTORAS,
	0 AS ANALISE,
	0 AS CANCELADAS,
	P.PPDTBASE, 
	P.PPDTCAD, 
	P.PPVLRFIN+P.PPIOC+P.PPDESPESA1+P.PPDESPESA2+P.PPDESPESA3 AS PPVLRFIN,
	'',''
--   SELECT TOP 100 * FROM PROPWEBSMC..EPROP E (NOLOCK)
FROM PROPWEBSMC..CPROP P (NOLOCK), CDCSANTANAMicrocredito .. TORG3 O3 (NOLOCK),
	 PROPWEBSMC..EPROP E (NOLOCK), CDCSANTANAMicrocredito..TORG2 O2 (NOLOCK)
WHERE 
	P.PPCODORG3 = O3.O3CODORG AND 
	P.PPCODORG2 = O2.O2CODORG AND 
	E.EPNRPROP = P.PPNRPROP   AND 
	ISNULL(P.PPVLRFIN,0) > 0  AND
	P.PPCODCLI IS NOT NULL    AND 
	P.PPQTDDPARC IS NOT NULL  AND
-- DATA PROPOSTA INICIO = DT BASE
1=0 + CASE WHEN @DATAS_REF =0 AND	P.PPDTBASE BETWEEN @DTINI AND @DTFIM THEN 1
--  DATA PROPOSTA FIM 
		   WHEN @DATAS_REF =1 AND	P.PPDTCAD  BETWEEN @DTINI AND @DTFIM THEN 1
		   ELSE 0 END	
GROUP BY P.PPNRPROP, O2.O2CODORG, O2.O2DESCR, O3.O3CODORG, O3.O3DESCR, P.PPDTBASE, P.PPDTCAD, P.PPVLRFIN,P.PPIOC,P.PPDESPESA1,P.PPDESPESA2,P.PPDESPESA3

/*

SELECT COUNT(*)  FROM PROPWEBSMC .. CPROP P (NOLOCK)
 WHERE P.PPCODCLI IS NOT NULL    AND P.PPQTDDPARC IS NOT NULL    AND P.PPDTBASE BETWEEN '20150917' AND '20150917'
SELECT COUNT(*)  FROM  RELAPRODTEMP
SELECT * FROM  RELAPRODTEMP  (NOLOCK)

INSERT		RELAPRODTEMP
(PROPOSTA, CODIGO_GERENTE, GERENTE, CODIGO_PROM, PROMOTORA, PAGAS, APROVADAS, REPROVADAS, 
REPROVADASPROMOTORA, PENDENTES, PROMOTORAS, ANALISE, CANCELADAS, DATA_BASE, DATA_CAD, VLR_FINANC, COD_ANALISTA,ANALISTA) 
SELECT	DISTINCT
	P.PPNRPROP, 
	'', -- O2.O2CODORG, 
	'', -- O2.O2DESCR, 
	'', -- O3.O3CODORG, 
	'', -- O3.O3DESCR,
	0 AS PAGAS,
    0 AS APROVADAS,
	0 AS REPROVADAS,
	0 AS REPROVADASPROMOTORA,
	0 AS PENDENTES,
	0 AS PROMOTORAS,
	0 AS ANALISE,
	0 AS CANCELADAS,
	P.PPDTBASE, 
	P.PPDTCAD, 
	P.PPVLRFIN+P.PPIOC+P.PPDESPESA1+P.PPDESPESA2+P.PPDESPESA3 AS PPVLRFIN,
	'',''
--   SELECT TOP 100 * FROM PROPWEBSMC..EPROP E (NOLOCK)
FROM	PROPWEBSMC..CPROP P (NOLOCK)
WHERE	P.PPCODCLI	 IS NOT NULL
   AND	P.PPQTDDPARC IS NOT NULL
--   AND	P.PPDTBASE	 BETWEEN @DT_INI AND @DT_FIM
					-- DATA PROPOSTA INICIO = DT BASE
   AND		1=0 + CASE WHEN @DATAS_REF =0 AND	P.PPDTBASE BETWEEN @DTINI AND @DTFIM THEN 1
					--  DATA PROPOSTA FIM 
					   WHEN @DATAS_REF =1 AND	P.PPDTCAD  BETWEEN @DTINI AND @DTFIM THEN 1
					   ELSE 0 END	
*/
-- ANALISTA
UPDATE	RELAPRODTEMP
SET		COD_ANALISTA = EPUSUARIO
		--ANALISTA
-- SELECT TOP 100 *
FROM 	PROPWEBSMC..EPROP E  (NOLOCK)
WHERE   E.EPNRPROP = PROPOSTA   
	AND EPNRDECI IN (100, 120)  -- 100 P/ ANTIGAS E 120 P/ NOVAS
	AND EPNRSEQ = (SELECT MAX(EPNRSEQ)
                    FROM PROPWEBSMC .. EPROP
                   WHERE EPNRPROP = PROPOSTA
                     AND EPNRDECI IN (100, 120))

UPDATE	RELAPRODTEMP
SET		ANALISTA = USNOMEUSUC
		--ANALISTA
-- SELECT TOP 100 *
FROM	ACESSOCORP..TUSU (NOLOCK)
WHERE	USNOMEUSU = COD_ANALISTA

/*
SELECT * FROM	RELAPRODTEMP (NOLOCK)
SELECT TOP 100 * FROM 	PROPWEBSMC..EPROP E  (NOLOCK)
WHERE	E.EPNRPROP ='941466848'  AND EPNRDECI=120



SELECT * FROM RELAPRODTEMP (NOLOCK)
SELECT * FROM 	PROPWEBSMC..EPROP E  (NOLOCK)
WHERE EPNRPROP='941469406' AND EPNRDECI=120


*******************************************************************************************
*********ALTERAR TUDO QUE É NULL PARA VALOR ZERO '0' E ASSIM GERAR O VALOR TOTAL*************
********************************************************************************************/
UPDATE RELAPRODTEMP SET PAGAS = 1 
WHERE  PROPOSTA IN(SELECT 
							MPNRPROP 
					FROM 
							PROPWEBSMC..CMOVP (NOLOCK)
					WHERE 
							MPNRPROP = PROPOSTA AND MPSIT IN('INT'))

UPDATE RELAPRODTEMP SET APROVADAS = 1 
WHERE  PROPOSTA IN(SELECT 
							MPNRPROP 
					FROM 
							PROPWEBSMC..CMOVP (NOLOCK)
					WHERE 
							MPNRPROP = PROPOSTA AND MPSIT IN('LIB','APR'))

UPDATE RELAPRODTEMP SET REPROVADAS = 1,REPROVADASPROMOTORA = 0 -- INCLUI 0 PARA NAO DUPLICAR EM 7/3/17
WHERE  PROPOSTA IN(SELECT 
							MPNRPROP 
					FROM 
							PROPWEBSMC..CMOVP (NOLOCK)
					WHERE 
							MPNRPROP = PROPOSTA AND MPSIT IN('REP')) AND
       PROPOSTA IN(SELECT
							EPNRPROP
					FROM
							PROPWEBSMC..EPROP (NOLOCK)
					WHERE 
							EPNRPROP = PROPOSTA AND EPSITFIM = 'REP' AND
							EPUSUARIO IN (SELECT USUARIO FROM SF_RELATORIOS..ANALISTA (NOLOCK)))

UPDATE RELAPRODTEMP SET REPROVADASPROMOTORA = 1, REPROVADAS = 0 -- INCLUI 0 PARA NAO DUPLICAR EM 7/3/17
WHERE  PROPOSTA IN(SELECT 
							MPNRPROP 
					FROM 
							PROPWEBSMC..CMOVP (NOLOCK)
					WHERE 
							MPNRPROP = PROPOSTA AND MPSIT IN('REP')) AND
       PROPOSTA IN(SELECT
							EPNRPROP
					FROM
							PROPWEBSMC..EPROP (NOLOCK)
					WHERE 
							EPNRPROP = PROPOSTA AND EPSITFIM = 'REP' AND
							EPUSUARIO NOT IN(SELECT USUARIO FROM SF_RELATORIOS..ANALISTA  (NOLOCK)))

/* ANTES DE 7/3/17 *************************  FALTOU A LINHA DA MESA DE CREDITO **************
UPDATE RELAPRODTEMP SET ANALISE = 1
WHERE  PROPOSTA IN(SELECT 	MPNRPROP 
					FROM 	PROPWEBSMC..CMOVP (NOLOCK)
					--		removi em 7/3/17 o PEN e o Passo 120
					WHERE	MPNRPROP = PROPOSTA AND MPSIT IN('AND')) AND
       PROPOSTA IN(SELECT	EPNRPROP
					FROM	PROPWEBSMC..EPROP (NOLOCK)
					WHERE	EPNRPROP = PROPOSTA AND 
							--		removi em 7/3/17 o PEN e o Passo 120
							EPNRDECI IN ( '100')    AND
						    EPNRSEQ = (SELECT	MAX(EPNRSEQ) 
										FROM	PROPWEBSMC..EPROP (NOLOCK)
										WHERE EPNRPROP = PROPOSTA AND EPNRDECI IN ( '100')))

SELECT * FROM RELAPRODTEMP
*/ 

-- INCLUIDO 8/3/17	***************
UPDATE		RELAPRODTEMP SET ANALISE = 1,ANALISTA = '3. MESA DE CRÉDITO'--,USUARIO = 'MESA' 
	WHERE	ANALISTA ='' --IS NULL 
		AND   PROPOSTA IN	(SELECT EPNRPROP  
										  FROM PROPWEBSMC .. EPROP   (NOLOCK)
										 WHERE EPNRPROP = PROPOSTA  
										   AND EPNRDECI = '100'  
										   AND EPNRSEQ = (SELECT MAX(EPNRSEQ)  
															FROM PROPWEBSMC .. EPROP   (NOLOCK)
														   WHERE EPNRPROP = PROPOSTA))  
  


/* REMOVI O PROMOTORAS EM 7/3/17  TESTE ****************
UPDATE RELAPRODTEMP SET PROMOTORAS = 1
WHERE  PROPOSTA IN(SELECT 	MPNRPROP 
					FROM 	PROPWEBSMC..CMOVP (NOLOCK)
					WHERE	MPNRPROP = PROPOSTA AND MPSIT IN('AND')) AND
       PROPOSTA NOT IN(	SELECT	EPNRPROP
					FROM	PROPWEBSMC..EPROP (NOLOCK)
					WHERE	EPNRPROP = PROPOSTA AND 
							EPNRDECI IN ( '100','120')    AND
						    EPNRSEQ = (SELECT	MAX(EPNRSEQ) 
										FROM	PROPWEBSMC..EPROP (NOLOCK)
										WHERE	EPNRPROP = PROPOSTA AND EPNRDECI IN ( '100','120') ))
*/

-- AJUSTEI PENDENTES EM 7/3/17
UPDATE RELAPRODTEMP SET PENDENTES = 1,ANALISE=0
WHERE  PROPOSTA IN(SELECT 	MPNRPROP 
					FROM 	PROPWEBSMC..CMOVP (NOLOCK)
					-- INCLUI AND EM 7/3/17		*****
					WHERE	MPNRPROP = PROPOSTA AND MPSIT IN('AND','PEN')) 
--       MPNRPROP = PROPOSTA AND MPSIT IN('AND','PEN'))  


/*  -- REMOVI MUITAS CONDICOES NA PENDENCIA 20/2/17  ***************************
AND
       PROPOSTA NOT IN(SELECT	EPNRPROP
					FROM	PROPWEBSMC..EPROP (NOLOCK)
					WHERE	EPNRPROP = PROPOSTA AND 
							EPNRDECI  IN ( '100','120')    AND
						    EPNRSEQ = (SELECT	MAX(EPNRSEQ) 
										FROM	PROPWEBSMC..EPROP	(NOLOCK)
										WHERE	EPNRPROP = PROPOSTA AND EPNRDECI IN ( '100','120') ))  */

UPDATE RELAPRODTEMP SET CANCELADAS = 1
WHERE  PROPOSTA IN(SELECT 	MPNRPROP 
					FROM 	PROPWEBSMC..CMOVP  (NOLOCK)
					WHERE	MPNRPROP = PROPOSTA AND MPSIT IN('CAN'))

-- AJUSTA O ANALISTA
-- SELECT * FROM  RELAPRODTEMP (NOLOCK)
-- SELECT * FROM  ACESSOCORP..TUSU (NOLOCK)
-- SELECT * FROM  PROPWEBSMC..CPROP PROP  (NOLOCK)
-- SELECT * FROM  PROPWEBSMC..CMOVP PROP  (NOLOCK)
-- SELECT * FROM  PRODUTIVIDADE
UPDATE	RELAPRODTEMP
SET		PROMOTORA= USNOMEUSUC		-- USUARIO
FROM	ACESSOCORP..TUSU  U		(NOLOCK),
		PROPWEBSMC..CMOVP PROP  (NOLOCK)
--		PROPWEBSMC..CPROP PROP  (NOLOCK)
WHERE	PROPOSTA = MPNRPROP
	AND	MPUSUARIO = USCODUSU
/*PROPOSTA  = PPNRPROP
	AND PPUSUARIO = USCODUSU  */



-- SELECT * FROM RELAPRODTEMP (NOLOCK)
UPDATE	RELAPRODTEMP SET ANALISTA = 'PROMOTORA' WHERE ANALISTA = '' AND 
		REPROVADAS = 1 AND PROPOSTA IN	(SELECT EPNRPROP 
							  FROM 	PROPWEBSMC..EPROP (NOLOCK)
							  WHERE EPNRPROP = PROPOSTA AND 
									EPNRDECI = 503		AND 
									EPSITFIM = 'REP')


UPDATE	RELAPRODTEMP SET ANALISTA = '2. CRIVO' WHERE ANALISTA = '' AND 
		APROVADAS = 1 AND PROPOSTA IN	(SELECT EPNRPROP 
							  FROM 	PROPWEBSMC..EPROP  (NOLOCK)
							  WHERE EPNRPROP = PROPOSTA AND 
									EPNRDECI = 502		AND 
									EPSITFIM IN('LIB', 'APR', 'INT'))



-- ANALISTA
/*
UPDATE	RELAPRODTEMP
SET		CODIGO_PROM = 
FROM 	PROPWEBSMC..EPROP E  (NOLOCK)
WHERE
	E.EPNRPROP = PROPOSTA   
SELECT * FROM	RELAPRODTEMP (NOLOCK)

sp_help PRODUTIVIDADE

drop table PRODUTIVIDADE

create table PRODUTIVIDADE (
CODIGO_GERENTE	varchar(6),
CODIGO_PROM	varchar(6),
PROMOTORA	varchar(43),
PAGAS	int,
APROVADAS	int,
REPROVADAS	int,
REPROVADASPROMOTORA	int,
PROMOTORAS	int,
ANALISE	int	,
PENDENTES	int,
CANCELADAS	int,
VLR_PAGO	float,
cod_analista varchar(50),
analista varchar(100) ,
PRC_PENDENTE FLOAT,
PRC_APROVADA FLOAT, 
PRC_REPROVADA FLOAT, 
PRC_CANCELADA FLOAT
)

--alter table PRODUTIVIDADE add analise float
SELECT * FROM PRODUTIVIDADE (NOLOCK)
*/

/********************************************************************************************
*******CRIAR A TABELA DE PRODUTIVIDADE COM OS CAMPOS NECESSARIOS PARA GERAR O RELATORIO******
********************************************************************************************/
--  SP_HELP  PRODUTIVIDADE
--  SP_HELP  RELAPRODTEMP
DELETE PRODUTIVIDADE
INSERT PRODUTIVIDADE
SELECT  --GERENTE AS COD_GERENTE, CODIGO_PROM, PROMOTORA, 
		'' AS 	COD_GERENTE, '' AS CODIGO_PROM, '' AS PROMOTORA, 
		SUM(PAGAS) AS PAGAS, SUM(APROVADAS+PAGAS) AS APROVADAS,
		SUM(REPROVADAS+REPROVADASPROMOTORA) AS REPROVADAS, SUM(REPROVADASPROMOTORA) AS REPROVADASPROMOTORA, 
		SUM(PROMOTORAS) AS PROMOTORAS, SUM(PROMOTORAS)+SUM(ANALISE) AS ANALISE, SUM(PENDENTES) AS PENDENTES, 
		SUM(CANCELADAS) AS CANCELADAS,
		(SELECT		SUM(X.VLR_FINANC) 
			FROM	RELAPRODTEMP X	(NOLOCK) 
			WHERE	X.PAGAS <> 0 AND X.ANALISTA = R.ANALISTA) AS VLR_PAGO,
		'' AS cod_analista,
		ANALISTA ,
		0.0 AS PRC_PENDENTE, 0.0 AS PRC_APROVADA, 0.0 AS PRC_REPROVADA, 
		0.0 AS PRC_CANCELADA
		--SUM(ISNULL(PROMOTORAS,0.0)+ISNULL(ANALISE,0.0)) AS ANALISE, 0.0
		--max(COD_analista) as cod_analista
--  INTO PRODUTIVIDADE  LENTO
FROM RELAPRODTEMP R (NOLOCK)
GROUP BY R.ANALISTA -- cod_analista
--GROUP BY R.PROMOTORA,cod_analista
--GROUP BY GERENTE, R.CODIGO_PROM, R.PROMOTORA

UPDATE PRODUTIVIDADE SET VLR_PAGO = 0.0 WHERE VLR_PAGO IS NULL
--UPDATE PRODUTIVIDADE SET ANALISTA = 'CRIVO/OUTROS' WHERE ANALISTA IS NULL or ANALISTA=''





-- LINHA DE TOTAL
-- SP_HELP PRODUTIVIDADE
-- REPROVADAS PROMOTORA EM REPROVADAS
-- PAGAS EM APROVADAS
INSERT PRODUTIVIDADE
SELECT  --GERENTE AS COD_GERENTE, CODIGO_PROM, PROMOTORA, 
		'' AS 	COD_GERENTE, '' AS CODIGO_PROM, '' AS PROMOTORA, 
		SUM(PAGAS) AS PAGAS, SUM(APROVADAS+PAGAS) AS APROVADAS,
		SUM(REPROVADAS+REPROVADASPROMOTORA) AS REPROVADAS, SUM(REPROVADASPROMOTORA) AS REPROVADASPROMOTORA, 
		SUM(PROMOTORAS) AS PROMOTORAS, SUM(PROMOTORAS)+SUM(ANALISE) AS ANALISE, SUM(PENDENTES) AS PENDENTES, 
		SUM(CANCELADAS) AS CANCELADAS,
		(SELECT		SUM(X.VLR_FINANC) 
			FROM	RELAPRODTEMP X	(NOLOCK)
			WHERE	X.PAGAS <> 0 ) AS VLR_PAGO,
		'' AS cod_analista,
		'1. TOTAL' AS ANALISTA , 
		0.0, 0.0, 0.0,--0.0, 0.0
		--SUM(ISNULL(PROMOTORAS,0.0)+ISNULL(ANALISE,0.0)) ,
		 0.0
		--max(COD_analista) as cod_analista
FROM	RELAPRODTEMP R (NOLOCK)


UPDATE PRODUTIVIDADE	SET ANALISTA='2. CRIVO' WHERE ANALISTA=''

/*
use propwebsmc
select * from tdeci where tddescr like ('NOK%')
Inseri em 6/3/17  ***************** chamado para incluir CRIVO NOK no relatorio de Produção
select * FROM PRODUTIVIDADE  (NOLOCK)

-- removi em 6/3/17
insert PRODUTIVIDADE select '','','',0,0,count(distinct EpNrProp), 0,0,0,0,0,  0.0, '','CRIVO',  0,0,0,0
FROM PROPWEBSMC..CPROP P (NOLOCK), PROPWEBSMC .. TDECI D (NOLOCK),
	 PROPWEBSMC..EPROP E (NOLOCK)
WHERE 
	E.EPNRPROP = P.PPNRPROP   AND 
	ISNULL(P.PPVLRFIN,0) > 0  AND
	P.PPCODCLI IS NOT NULL    AND 
	P.PPQTDDPARC IS NOT NULL  AND
-- DATA PROPOSTA INICIO = DT BASE
1=0 + CASE WHEN @DATAS_REF =0 AND	P.PPDTBASE BETWEEN @DTINI AND @DTFIM THEN 1
--  DATA PROPOSTA FIM 
		   WHEN @DATAS_REF =1 AND	P.PPDTCAD  BETWEEN @DTINI AND @DTFIM THEN 1
		   ELSE 0 END	
AND E.EPNRDECI=D.TDCODDECI 
AND tddescr like ('NOK%')		-- recusados pelo CRIVO

-- SOMA O NOK DO CRIVO NO TOTAL ********************* INCLUI EM 6/3/17 *******************
UPDATE	PRODUTIVIDADE 
	SET	REPROVADAS = REPROVADAS + C.TTL
	FROM (SELECT REPROVADAS AS TTL FROM PRODUTIVIDADE C1 (NOLOCK) WHERE ANALISTA='CRIVO') AS C
	WHERE ANALISTA = 'TOTAL'
*/


-- PRC %
-- SELECT PENDENTES , (PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS),PENDENTES/(PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS),* FROM PRODUTIVIDADE
-- +ANALISE ENTRA NO TTL DA LINHA
/* REMOVI O ANALISE EM 22/2/17
UPDATE	PRODUTIVIDADE
	SET	PRC_PENDENTE = CONVERT(FLOAT,PENDENTES)  / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS  +CANCELADAS+ANALISE))*100.0,
		PRC_APROVADA = CONVERT(FLOAT,APROVADAS) / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS+ANALISE))*100.0,
		PRC_REPROVADA = CONVERT(FLOAT,REPROVADAS) / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS+ANALISE))*100.0
		,PRC_CANCELADA = CONVERT(FLOAT,CANCELADAS) / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS+ANALISE))*100.0
*/
UPDATE	PRODUTIVIDADE
	SET	PRC_PENDENTE =	CASE WHEN (PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS)=0.0 THEN 0.0	 ELSE
				CONVERT(FLOAT,PENDENTES)  / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS  +CANCELADAS))*100.0 END,
		PRC_APROVADA = 	CASE WHEN (PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS)=0.0 THEN 0.0 	 ELSE
				CONVERT(FLOAT,APROVADAS) / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS))*100.0	 END	,
		PRC_REPROVADA =		CASE WHEN (PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS)=0.0 THEN 0.0	ELSE
 CONVERT(FLOAT,REPROVADAS) / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS))*100.0	END
		,PRC_CANCELADA = 	CASE WHEN (PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS)=0.0 THEN 0.0	ELSE
			CONVERT(FLOAT,CANCELADAS) / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS))*100.0	END

-- SELECT * FROM PRODUTIVIDADE (NOLOCK)


IF @ANALISTA = ''   -- TODOS
BEGIN
SELECT  -- PROMOTORA AS usuario, 
		--CODIGO_PROM 
		ANALISTA,
		--PROMOTORA AS ANALISTA,
		-- PROMOTORA,  
		PENDENTES AS PENDENTE , PRC_PENDENTE,
		APROVADAS AS APROVADA , PRC_APROVADA,
		REPROVADAS AS REPROVADA, PRC_REPROVADA,
		CANCELADAS AS CANCELADA, PRC_CANCELADA,
--		PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS AS TOTAL
		PROMOTORAS+ANALISE AS ANALISE, 
		PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS+ PROMOTORAS --+ANALISE  REMOVI EM 22/2/17 PARA AJUSTAR
		-- INSERI DE NOVO EM 7/3/17
		+ANALISE 
							AS TOTAL

		--PAGAS,   REPROVADASPROMOTORA,  PROMOTORAS,  ANALISE,   VLR_PAGO
FROM PRODUTIVIDADE (NOLOCK)
ORDER BY ANALISTA  -- inclui 8/3/17
END

IF @ANALISTA > ''
BEGIN
SELECT	--PROMOTORA AS USUARIO, --CODIGO_PROM, PROMOTORA, 
		ANALISTA,
		--PROMOTORA AS ANALISTA,
		--PAGAS,  APROVADAS,	REPROVADAS,  REPROVADASPROMOTORA,  PROMOTORAS,  ANALISE,  PENDENTES,  CANCELADAS,VLR_PAGO
		PENDENTES AS PENDENTE , PRC_PENDENTE,
		APROVADAS AS APROVADA , PRC_APROVADA,
		REPROVADAS AS REPROVADA, PRC_REPROVADA,
		CANCELADAS AS CANCELADA, PRC_CANCELADA,
		PROMOTORAS+ANALISE AS ANALISE, 
		PENDENTES+ APROVADAS + REPROVADAS +PROMOTORAS
		-- somar o ANALISE 7/3/17
		+ANALISE 		
-- PROMOTORAS  REMOVI POR AJUSTE, SERAH Q VAI, HOMOLOGAR EM 22/2/17 -- ACHO Q PRECISA, VOLTEI
 --+ANALISE  REMOVI EM 22/2/17 PARA AJUSTAR
				AS TOTAL
	
FROM PRODUTIVIDADE  (NOLOCK)
WHERE ANALISTA IN ( @ANALISTA,'1. TOTAL')
ORDER BY ANALISTA
END

-- SELECT * FROM  PRODUTIVIDADE  (NOLOCK)
END



