use sig
go

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go
-- exec SCR_credito_tempo_sintetico '20150601','20150630','MESA','','','',''

-- exec SCR_credito_tempo_sintetico '20150601','20150630','','','','',''
-- exec SCR_credito_tempo_sintetico '20150601','20150630','','',0.0,0.0,''
-- exec SCR_credito_tempo_sintetico '20150601','20150630','Luis  Claudio dos Santos','','','',''
-- exec SCR_credito_tempo_sintetico '20150601','20150630','','',7000,10000,''

-- exec SCR_credito_tempo_sintetico '20150801','20150831','MESA'  

-- exec SCR_credito_tempo_sintetico '20150801','20150831','Alexandre de Almeida Medina'


-- ALTER
-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_credito_tempo_sintetico' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_credito_tempo_sintetico] 
GO

-- MENSAL
-- ***************************************
create PROCEDURE [dbo].[SCR_credito_tempo_sintetico]
	(@DTINI SMALLDATETIME,
	@DTFIM SMALLDATETIME ,@ANALISTA VARCHAR(100))
--, @DATAS_REF VARCHAR(20))

AS
BEGIN



/*
DROP   TABLE CRED_TEMPO_temp2
CREATE TABLE CRED_TEMPO_temp2 (
analista  VARCHAR(100), 
dt_proposta DATETIME, proposta  VARCHAR(50), contrato  VARCHAR(50), dt_contrato DATETIME, produto VARCHAR(50), vlr_financiado FLOAT, 
status VARCHAR(50),  tempo int,DT_entra DATETIME,HR_ENTRA VARCHAR(10),  SITINI VARCHAR(10),
DT_sai DATETIME,HR_SAI VARCHAR(10), SITFIM VARCHAR(10),EPUSUARIO VARCHAR(50), PASSO INT, MODA VARCHAR(10) )
-- tempo VARCHAR(10)

ALTER TABLE CRED_TEMPO_temp2 ADD PAGAS SMALLINT NULL
ALTER TABLE CRED_TEMPO_temp2 ADD APROVADAS SMALLINT NULL
ALTER TABLE CRED_TEMPO_temp2 ADD 	REPROVADAS SMALLINT NULL
ALTER TABLE CRED_TEMPO_temp2 ADD 	REPROVADASPROMOTORA SMALLINT NULL
ALTER TABLE CRED_TEMPO_temp2 ADD 	PROMOTORAS SMALLINT NULL
ALTER TABLE CRED_TEMPO_temp2 ADD 	ANALISE SMALLINT NULL
ALTER TABLE CRED_TEMPO_temp2 ADD 	PENDENTES SMALLINT NULL
ALTER TABLE CRED_TEMPO_temp2 ADD 	CANCELADAS SMALLINT NULL


CREATE TABLE PRODUTIVIDADE2 (
cod_analista	varchar(50),
analista	varchar(100),
PAGAS	int,
APROVADAS	int,
REPROVADAS	int,
REPROVADASPROMOTORA	int,
PROMOTORAS	int,
ANALISE	int,
PENDENTES	int,
CANCELADAS	int,
VLR_PAGO	float,
PRC_PENDENTE	float,
PRC_APROVADA	float,
PRC_REPROVADA	float,
PRC_CANCELADA	float)


DROP   TABLE CRED_TEMPO_sint_rpt
CREATE TABLE CRED_TEMPO_sint_rpt (
analista  VARCHAR(100), 
dt_proposta DATETIME, proposta  VARCHAR(50), contrato  VARCHAR(50), dt_contrato DATETIME, produto VARCHAR(50), vlr_financiado FLOAT, 
status VARCHAR(50), seq int,REANALISE INT)

select * from CRED_TEMPO_sint_rpt (nolock)
select * from CRED_TEMPO_temp2 (nolock)
*/


DELETE CRED_TEMPO_temp2

/*
IF @ANALISTA<>'MESA' 
BEGIN
INSERT INTO CRED_TEMPO_temp2
	(analista, dt_proposta, proposta, contrato, dt_contrato, produto, vlr_financiado, status, 
	tempo,DT_entra ,HR_ENTRA ,  SITINI ,
	DT_sai ,HR_SAI , SITFIM ,EPUSUARIO,PASSO ,MODA ) 
SELECT 	
		EPUSUARIO analista,
		PROP.PPDTBASE dt_proposta,
		PROP.PPNRPROP proposta,
		'' contrato,
		'' dt_contrato, 
		'' produto,
		ISNULL(PROP.PPVLRFIN, 0.00) vlr_financiado,
		'' status,
		'' tempo,
		EPDTLNC   DT_entra ,
		EPHORALNC HR_ENTRA ,  
		EPSITINI  SITINI,
		CONVERT(VARCHAR(4),DATEPART(YYYY,EPDTHRFIM))+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(MM,EPDTHRFIM))),2)+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(DD,EPDTHRFIM))),2)   DT_sai ,
		SUBSTRING(CONVERT(VARCHAR(20),EPDTHRFIM,120),12,5) HR_SAI, 
		EPSITFIM  SITFIM ,
		EPUSUARIO EPUSUARIO,
		EPNRSEQ,
		PROP.PPCODOP  -- MODA
FROM	PROPWEBSMC..CPROP PROP (NOLOCK)
	LEFT JOIN PROPWEBSMC..EPROP E  (NOLOCK)
	ON 	E.EPNRPROP = PROP.PPNRPROP 
	
WHERE 
	E.EPNRPROP = PROP.PPNRPROP   AND 
	ISNULL(PROP.PPVLRFIN,0) > 0  AND
	PROP.PPCODCLI IS NOT NULL    AND 
	PROP.PPQTDDPARC IS NOT NULL  AND
	EPDTLNC BETWEEN @DTINI AND @DTFIM
	--	PROP.PPDTBASE BETWEEN @DATADE AND @DATAATE
	AND 1= 0+ CASE	WHEN @ANALISTA='MESA'  AND EPNRDECI=100 THEN 1
					WHEN @ANALISTA<>'MESA' AND EPNRDECI=120 THEN 1
					ELSE	0	END
	AND EPNRSEQ = (SELECT  MAX(EPNRSEQ) FROM PROPWEBSMC..EPROP E1  (NOLOCK)
					WHERE E1.EPNRPROP = PROP.PPNRPROP
						AND	E1.EPNRDECI IN (100))  -- ANTES TEMPO COM PROMOTORA

END
IF @ANALISTA='MESA' 
BEGIN
*/
INSERT INTO CRED_TEMPO_temp2
	(analista, dt_proposta, proposta, contrato, dt_contrato, produto, vlr_financiado, status, 
	DT_entra ,HR_ENTRA ,  SITINI ,
	DT_sai ,HR_SAI , SITFIM ,EPUSUARIO,PASSO ,MODA ) 
SELECT 	
		EPUSUARIO analista,
		PROP.PPDTBASE dt_proposta,
		PROP.PPNRPROP proposta,
		'' contrato,
		'' dt_contrato, 
		'' produto,
		ISNULL(PROP.PPVLRFIN, 0.00) vlr_financiado,
		'' status,
		-- '' tempo,
		EPDTLNC   DT_entra ,
		EPHORALNC HR_ENTRA ,  
		EPSITINI  SITINI,
		CONVERT(VARCHAR(4),DATEPART(YYYY,EPDTHRFIM))+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(MM,EPDTHRFIM))),2)+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(DD,EPDTHRFIM))),2)   DT_sai ,
		SUBSTRING(CONVERT(VARCHAR(20),EPDTHRFIM,120),12,5) HR_SAI, 
		EPSITFIM  SITFIM ,
		EPUSUARIO EPUSUARIO,
		EPNRSEQ,
		PROP.PPCODOP  -- MODA
FROM	PROPWEBSMC..CPROP PROP (NOLOCK)
	LEFT JOIN PROPWEBSMC..EPROP E  (NOLOCK)
	ON 	E.EPNRPROP = PROP.PPNRPROP 
WHERE 
	E.EPNRPROP = PROP.PPNRPROP   AND 
	ISNULL(PROP.PPVLRFIN,0) > 0  AND
	PROP.PPCODCLI IS NOT NULL    AND 
	PROP.PPQTDDPARC IS NOT NULL  AND
	EPDTLNC BETWEEN @DTINI AND @DTFIM
	--	  PROP.PPDTBASE BETWEEN @DATADE AND @DATAATE
	--    TEMPO DO PASSO 100, 1a PASSAGEM
	AND EPNRDECI IN (100 ,120)
	AND EPNRSEQ = (SELECT  MAX(EPNRSEQ) FROM PROPWEBSMC..EPROP E1  (NOLOCK)
					WHERE E1.EPNRPROP = PROP.PPNRPROP
						AND	E1.EPNRDECI IN (100,120))  -- ANTES TEMPO COM PROMOTORA
-- END

-- CRED_TEMPO_temp2

UPDATE	CRED_TEMPO_temp2
	SET PAGAS=0,	APROVADAS=0,	REPROVADAS=0,
 		REPROVADASPROMOTORA=0, 	PROMOTORAS=0, 	ANALISE =0,
		PENDENTES =0, 	CANCELADAS =0

/*******************************************************************************************
*********ALTERAR TUDO QUE É NULL PARA VALOR ZERO '0' E ASSIM GERAR O VALOR TOTAL*************
********************************************************************************************/
UPDATE CRED_TEMPO_temp2 SET PAGAS = 1 
WHERE  PROPOSTA IN(SELECT 
							MPNRPROP 
					FROM 
							PROPWEBSMC..CMOVP (NOLOCK)
					WHERE 
							MPNRPROP = PROPOSTA AND MPSIT IN('INT'))

UPDATE CRED_TEMPO_temp2 SET APROVADAS = 1 
WHERE  PROPOSTA IN(SELECT 
							MPNRPROP 
					FROM 
							PROPWEBSMC..CMOVP (NOLOCK)
					WHERE 
							MPNRPROP = PROPOSTA AND MPSIT IN('LIB','APR'))

UPDATE CRED_TEMPO_temp2 SET REPROVADAS = 1
WHERE  PROPOSTA IN(SELECT 
							MPNRPROP 
					FROM 
							PROPWEBSMC..CMOVP (NOLOCK)
					WHERE 
							MPNRPROP = PROPOSTA AND MPSIT IN('REP')) AND
       PROPOSTA IN(SELECT
							EPNRPROP
					FROM
							PROPWEBSMC..EPROP (NOLOCK)
					WHERE 
							EPNRPROP = PROPOSTA AND EPSITFIM = 'REP' AND
							EPUSUARIO IN (SELECT USUARIO FROM SF_RELATORIOS..ANALISTA (NOLOCK)))

UPDATE CRED_TEMPO_temp2 SET REPROVADASPROMOTORA = 1
WHERE  PROPOSTA IN(SELECT 
							MPNRPROP 
					FROM 
							PROPWEBSMC..CMOVP (NOLOCK)
					WHERE 
							MPNRPROP = PROPOSTA AND MPSIT IN('REP')) AND
       PROPOSTA IN(SELECT
							EPNRPROP
					FROM
							PROPWEBSMC..EPROP (NOLOCK)
					WHERE 
							EPNRPROP = PROPOSTA AND EPSITFIM = 'REP' AND
							EPUSUARIO NOT IN(SELECT USUARIO FROM SF_RELATORIOS..ANALISTA  (NOLOCK)))

UPDATE CRED_TEMPO_temp2 SET ANALISE = 1
WHERE  PROPOSTA IN(SELECT 	MPNRPROP 
					FROM 	PROPWEBSMC..CMOVP (NOLOCK)
					WHERE	MPNRPROP = PROPOSTA AND MPSIT IN('AND','PEN')) AND
       PROPOSTA IN(SELECT	EPNRPROP
					FROM	PROPWEBSMC..EPROP (NOLOCK)
					WHERE	EPNRPROP = PROPOSTA AND 
							EPNRDECI IN ( '100','120')    AND
						    EPNRSEQ = (SELECT	MAX(EPNRSEQ) 
										FROM	PROPWEBSMC..EPROP (NOLOCK)
										WHERE EPNRPROP = PROPOSTA AND EPNRDECI IN ( '100','120')))

UPDATE CRED_TEMPO_temp2 SET PROMOTORAS = 1
WHERE  PROPOSTA IN(SELECT 	MPNRPROP 
					FROM 	PROPWEBSMC..CMOVP (NOLOCK)
					WHERE	MPNRPROP = PROPOSTA AND MPSIT IN('AND')) AND
       PROPOSTA NOT IN(	SELECT	EPNRPROP
					FROM	PROPWEBSMC..EPROP (NOLOCK)
					WHERE	EPNRPROP = PROPOSTA AND 
							EPNRDECI IN ( '100','120')    AND
						    EPNRSEQ = (SELECT	MAX(EPNRSEQ) 
										FROM	PROPWEBSMC..EPROP (NOLOCK)
										WHERE	EPNRPROP = PROPOSTA AND EPNRDECI IN ( '100','120') ))

UPDATE CRED_TEMPO_temp2 SET PENDENTES = 1
WHERE  PROPOSTA IN(SELECT 	MPNRPROP 
					FROM 	PROPWEBSMC..CMOVP (NOLOCK)
					WHERE	MPNRPROP = PROPOSTA AND MPSIT IN('PEN')) AND
       PROPOSTA NOT IN(SELECT	EPNRPROP
					FROM	PROPWEBSMC..EPROP (NOLOCK)
					WHERE	EPNRPROP = PROPOSTA AND 
							EPNRDECI  IN ( '100','120')    AND
						    EPNRSEQ = (SELECT	MAX(EPNRSEQ) 
										FROM	PROPWEBSMC..EPROP	(NOLOCK)
										WHERE	EPNRPROP = PROPOSTA AND EPNRDECI IN ( '100','120') ))

UPDATE CRED_TEMPO_temp2 SET CANCELADAS = 1
WHERE  PROPOSTA IN(SELECT 	MPNRPROP 
					FROM 	PROPWEBSMC..CMOVP  (NOLOCK)
					WHERE	MPNRPROP = PROPOSTA AND MPSIT IN('CAN'))


/********************************************************************************************
*******CRIAR A TABELA DE PRODUTIVIDADE COM OS CAMPOS NECESSARIOS PARA GERAR O RELATORIO******
********************************************************************************************/
--  SP_HELP  PRODUTIVIDADE2
--  SP_HELP  RELAPRODTEMP
DELETE PRODUTIVIDADE2
INSERT PRODUTIVIDADE2
SELECT
		'' AS cod_analista,
		ISNULL(ANALISTA,'') AS ANALISTA ,
		SUM(PAGAS) AS PAGAS, SUM(APROVADAS+PAGAS) AS APROVADAS,
		SUM(REPROVADAS+REPROVADASPROMOTORA) AS REPROVADAS, SUM(REPROVADASPROMOTORA) AS REPROVADASPROMOTORA, 
		SUM(PROMOTORAS) AS PROMOTORAS, SUM(PROMOTORAS)+SUM(ANALISE) AS ANALISE, SUM(PENDENTES) AS PENDENTES, 
		SUM(CANCELADAS) AS CANCELADAS,
		(SELECT		SUM(X.VLR_FINANC) 
			FROM	RELAPRODTEMP X	(NOLOCK) 
			WHERE	X.PAGAS <> 0 AND X.ANALISTA = R.ANALISTA) AS VLR_PAGO,
		0.0, 0.0, 0.0,		 0.0
FROM CRED_TEMPO_temp2 R (NOLOCK)
GROUP BY R.ANALISTA -- cod_analista

UPDATE PRODUTIVIDADE2 SET VLR_PAGO = 0.0 WHERE VLR_PAGO IS NULL
--UPDATE PRODUTIVIDADE SET ANALISTA = 'CRIVO/OUTROS' WHERE ANALISTA IS NULL or ANALISTA=''


-- LINHA DE TOTAL
-- SP_HELP PRODUTIVIDADE
-- REPROVADAS PROMOTORA EM REPROVADAS
-- PAGAS EM APROVADAS
INSERT PRODUTIVIDADE2
SELECT  
		'' AS cod_analista,
		'TOTAL' AS ANALISTA , 
		SUM(PAGAS) AS PAGAS, SUM(APROVADAS+PAGAS) AS APROVADAS,
		SUM(REPROVADAS+REPROVADASPROMOTORA) AS REPROVADAS, SUM(REPROVADASPROMOTORA) AS REPROVADASPROMOTORA, 
		SUM(PROMOTORAS) AS PROMOTORAS, SUM(PROMOTORAS)+SUM(ANALISE) AS ANALISE, SUM(PENDENTES) AS PENDENTES, 
		SUM(CANCELADAS) AS CANCELADAS,
		ISNULL((SELECT		SUM(X.VLR_FINANC) 
			FROM	RELAPRODTEMP X	(NOLOCK)
			WHERE	X.PAGAS <> 0 ),0.0) AS VLR_PAGO,
		0.0, 0.0, 0.0,		 0.0
FROM	CRED_TEMPO_temp2 R (NOLOCK)

-- PRC %
-- SELECT PENDENTES , (PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS),PENDENTES/(PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS),* FROM PRODUTIVIDADE
-- +ANALISE ENTRA NO TTL DA LINHA
UPDATE	PRODUTIVIDADE2
	SET	PRC_PENDENTE = CONVERT(FLOAT,PENDENTES)  / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS  +CANCELADAS+ANALISE))*100.0,
		PRC_APROVADA = CONVERT(FLOAT,APROVADAS) / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS+ANALISE))*100.0,
		PRC_REPROVADA = CONVERT(FLOAT,REPROVADAS) / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS+ANALISE))*100.0
		,PRC_CANCELADA = CONVERT(FLOAT,CANCELADAS) / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS+ANALISE))*100.0
-- SELECT * FROM PRODUTIVIDADE (NOLOCK)


-- ANALISTA DO CONTRATO
UPDATE	PRODUTIVIDADE2
SET		ANALISTA = USNOMEUSUC
FROM	ACESSOCORP..TUSU (NOLOCK)
WHERE	USNOMEUSU = ANALISTA


IF @ANALISTA = 'MESA'   -- TODOS
BEGIN
SELECT  -- PROMOTORA AS usuario, 
		--CODIGO_PROM 
		ISNULL(ANALISTA,'') AS ANALISTA,
		--PROMOTORA AS ANALISTA,
		-- PROMOTORA,  
		PENDENTES AS PENDENTE , PRC_PENDENTE,
		APROVADAS AS APROVADA , PRC_APROVADA,
		REPROVADAS AS REPROVADA, PRC_REPROVADA,
		CANCELADAS AS CANCELADA, PRC_CANCELADA,
--		PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS AS TOTAL
		PROMOTORAS+ANALISE AS ANALISE, 
				PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS+ PROMOTORAS+ANALISE AS TOTAL

		--PAGAS,   REPROVADASPROMOTORA,  PROMOTORAS,  ANALISE,   VLR_PAGO
FROM PRODUTIVIDADE2 (NOLOCK)
END

IF @ANALISTA <> 'MESA'   -- FILTRO POR ANALISTA
BEGIN
SELECT  -- PROMOTORA AS usuario, 
		--CODIGO_PROM 
		ISNULL(ANALISTA,'') AS ANALISTA,
		--PROMOTORA AS ANALISTA,
		-- PROMOTORA,  
		PENDENTES AS PENDENTE , PRC_PENDENTE,
		APROVADAS AS APROVADA , PRC_APROVADA,
		REPROVADAS AS REPROVADA, PRC_REPROVADA,
		CANCELADAS AS CANCELADA, PRC_CANCELADA,
--		PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS AS TOTAL
		PROMOTORAS+ANALISE AS ANALISE, 
				PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS+ PROMOTORAS+ANALISE AS TOTAL

		--PAGAS,   REPROVADASPROMOTORA,  PROMOTORAS,  ANALISE,   VLR_PAGO
FROM PRODUTIVIDADE2 (NOLOCK)
WHERE ANALISTA IN ( @ANALISTA,'TOTAL')
END

/*
select * FROM PRODUTIVIDADE2 (NOLOCK)
END
IF @ANALISTA > ''
BEGIN
SELECT	--PROMOTORA AS USUARIO, --CODIGO_PROM, PROMOTORA, 
		ANALISTA,
		--PROMOTORA AS ANALISTA,
		--PAGAS,  APROVADAS,	REPROVADAS,  REPROVADASPROMOTORA,  PROMOTORAS,  ANALISE,  PENDENTES,  CANCELADAS,VLR_PAGO
		PENDENTES AS PENDENTE , PRC_PENDENTE,
		APROVADAS AS APROVADA , PRC_APROVADA,
		REPROVADAS AS REPROVADA, PRC_REPROVADA,
		CANCELADAS AS CANCELADA, PRC_CANCELADA,
		PROMOTORAS+ANALISE AS ANALISE, 
		PENDENTES+ APROVADAS + REPROVADAS + PROMOTORAS+ANALISE AS TOTAL
	
FROM PRODUTIVIDADE2  (NOLOCK)
WHERE ANALISTA IN ( @ANALISTA,'TOTAL')
END
*/

END