set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO

use sig
go

IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_cred_ANALISTAS' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_cred_ANALISTAS] 
GO 

-- EXEC  [SCR_cred_ANALISTAS] 

-- SELECT USNOMEUSUC, USNOMEUSU FROM ACESSOCORP..TUSU (NOLOCK) WHERE USATIVO='S' AND USGRUPO1 IN ('04895','04896','04897') ORDER BY USNOMEUSUC

CREATE  PROCEDURE [dbo].[SCR_cred_ANALISTAS] 
AS
BEGIN

/********************************************************************************************
***********SEPARAR OS CONTRATOS POR PRODUTOS LEVES, PESADOS, MOTOS E UTILITÁRIOS*************
********************************************************************************************/
/*
 SELECT USNOMEUSUC, USNOMEUSU 
FROM ACESSOCORP..TUSU (NOLOCK) 
WHERE USATIVO='S' AND USGRUPO1 IN ('04895','04896','04897') ORDER BY USNOMEUSUC

SELECT USNOMEUSUC, USNOMEUSU  

SELECT *  FROM ACESSOCORP..TUSU (NOLOCK) 

*/

select  distinct USNOMEUSUC, USNOMEUSU   
from	ACESSOCORP..TUSU u (NOLOCK)
WHERE	USATIVO='S' AND USGRUPO1 IN ('04895','04896','04897')
	AND ISNULL(USCODPRD,'') <> 221

/*
	AND uscodusu NOT IN (
(SELECT distinct u.uscodusu,*
 from (
-- produto BKF
select *	FROM	PROPWEBSMC..cprop		  (NOLOCK) where ppcodprd=221) as p,
--select *	FROM	
ACESSOCORP..TUSU u (NOLOCK) 
where ppusuario=uscodusu
) )

 ORDER BY USNOMEUSUC
*/
END



