USE sig
GO
/****** Object:  StoredProcedure [dbo].[SCR_credito_tempo_total1]    Script Date: 25/03/2017 22:14:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC anterior Remover  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_credito_tempo_total3' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_credito_tempo_total3]
GO

-- PROC Nova  **********************************************************************************************************************************************************************************
        CREATE Procedure [dbo].[SCR_credito_tempo_total3] (
--			@data_de as datetime,	@data_ate as datetime,	@PAR1 as varchar(5),@PAR2 as varchar(5),@PAR3 as varchar(5),@PAR4 as varchar(5),@PAR5 as varchar(5),@PAR6 as varchar(5),@PAR7 as varchar(5),@PAR8 as varchar(5)) AS

					@DATADE   AS DATETIME, 
					@DATAATE  AS DATETIME,
					@fx_TEMPO AS VARCHAR(100),
					@classe   AS VARCHAR(100),
					@PRODUTO  AS VARCHAR(100),
					@ANALISTA AS VARCHAR(50),
					@AGENTE   AS VARCHAR(100),
					@OPERADOR AS VARCHAR(100),
					@LOJA	  AS VARCHAR(100) ,
					@PROPOSTA AS VARCHAR(30)) AS

		begin

-- SELECT * FROM AUX_CRED_PROP_TTL_FASE (NOLOCK) WHERE EPNRPROP='941605498'
-- SELECT * FROM PROPWEBSMC..CPROP (NOLOCK) WHERE EPNRPROP='941605498'
SELECT		EpNrProp,
			(SELECT INI   FROM AUX_CRED_PROP_TTL (NOLOCK) WHERE EPNRPROP = @PROPOSTA ) 	AS INI, 
			(SELECT FIM   FROM AUX_CRED_PROP_TTL (NOLOCK) WHERE EPNRPROP = @PROPOSTA ) 	AS FIM,
			--DATEDIFF(MINUTE,EPDTLNC+EPHORALNC,EPDTHRFIM)  
			(SELECT TEMPO FROM AUX_CRED_PROP_TTL (NOLOCK) WHERE EPNRPROP = @PROPOSTA ) 	AS TEMPO,
			(select		ppcodOp from PROPWEBSMC..CPROP PROP (NOLOCK)
				where 	PROP.PPNRPROP = @PROPOSTA )			AS 	Moda,
				--		612							Moda,
			CASE WHEN @PRODUTO='TTL' THEN (SELECT	DESCR_TIPO
											FROM	TModa_tipo_prod M (NOLOCK)  , Ttipo_prod T (NOLOCK)
											WHERE 	M.COD_PROD  in ( 'V','CG','CP') 					
												AND T.COD_MODALIDADE = M.COD_MODALIDADE  
												AND M.COD_MODA = (select	ppCodOp from PROPWEBSMC..CPROP PROP (NOLOCK)
																	where 	PROP.PPNRPROP = @PROPOSTA )) 
				 ELSE	@PRODUTO	END		AS PRODUTO,
			CASE WHEN @classe='TTL' THEN	(SELECT		MPSIT		FROM PROPWEBSMC..CMOVP C (NOLOCK)
												WHERE   C.MPNRPROP	= @PROPOSTA)
				 ELSE @classe		END		AS SITUACAO,
				CASE WHEN	EPFASE=1	THEN 'LOJA'
					 WHEN	EPFASE=2	THEN 'PROMOTORA'
					 WHEN	EPFASE=3 AND EPALCADA=9 	THEN 'MESA CREDITO'
					 WHEN	EPFASE=3 AND EPALCADA<>9 	THEN 'ALCADA'
					 WHEN	EPFASE>=4	THEN 'FORMALIZACAO'	
					 ELSE	''	END	AS		EPFASE,
				''					AS		EPALCADA,
				EPNRSEQ						seq,
				EPDTLNC+EPHORALNC			entra,
				EPDTHRFIM					fim_fase,
				''							Fase,
				DATEDIFF(MINUTE,EPDTLNC+EPHORALNC,EPDTHRFIM)  			tempo_fase

			FROM	PROPWEBSMC..EPROP P  (NOLOCK)
			WHERE	P.EpNrProp = @PROPOSTA

/*
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase


			UNION ALL
			
			SELECT
				'941605268'					epnrprop,
				'02/01/2017 10:07'			Ini,
				'02/01/2017 10:51' 			Fim,
				44							tempo,
				612							Moda,
				'Leves'						produto,
				'APR'						situacao,
				3							EPFASE,
				9							EPALCADA,
				10							seq,
				'02/01/2017 13:35'			entra,
				'02/01/2017 13:39'			fim_fase,
				'Alçada'					Fase,
				12							tempo_fase		
*/
			end









