use sig
go

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_credito_tempo' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_credito_tempo] 
GO

-- MENSAL
-- ***************************************
CREATE PROCEDURE [dbo].[SCR_credito_tempo](            
 @DATADE AS DATETIME,             
 @DATAATE AS DATETIME,            
 @ANALISTA AS VARCHAR(50),            
 @PRODUTO AS VARCHAR(100),   
 @VALOR_DE AS VARCHAR(100),            
 @VALOR_ATE AS VARCHAR(100),            
 @REANALISE AS VARCHAR(10) )            
            
AS            
BEGIN            
            
DELETE CRED_TEMPO_temp            
            
IF @ANALISTA NOT IN ('MESA' ,'ALCADA')            
BEGIN            
INSERT INTO CRED_TEMPO_temp            
(analista, dt_proposta, proposta, contrato, dt_contrato, produto, vlr_financiado, status,             
tempo,DT_entra ,HR_ENTRA ,  SITINI ,            
DT_sai ,HR_SAI , SITFIM ,EPUSUARIO,PASSO ,MODA )             
SELECT              
  EPUSUARIO analista,            
  PROP.PPDTBASE dt_proposta,            
  PROP.PPNRPROP proposta,            
  '' contrato,            
  '' dt_contrato,             
  '' produto,            
  ISNULL(PROP.PPVLRFIN, 0.00) vlr_financiado,            
  '' status,            
  '' tempo,            
  EPDTLNC   DT_entra ,            
  EPHORALNC HR_ENTRA ,              
  EPSITINI  SITINI,            
  CONVERT(VARCHAR(4),DATEPART(YYYY,EPDTHRFIM))+            
  RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(MM,EPDTHRFIM))),2)+            
  RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(DD,EPDTHRFIM))),2)   DT_sai ,            
  SUBSTRING(CONVERT(VARCHAR(20),EPDTHRFIM,120),12,5) HR_SAI,             
  EPSITFIM  SITFIM ,            
  EPUSUARIO EPUSUARIO,            
  EPNRSEQ,            
  PROP.PPCODOP            
FROM (SELECT * FROM PROPWEBSMC..EPROP E1  (NOLOCK)            
   WHERE EPDTLNC BETWEEN @DATADE AND @DATAATE            
    AND 1= 0+ CASE WHEN @ANALISTA='MESA'  AND EPNRDECI IN ('1549','100') THEN 1        
        WHEN @ANALISTA<>'MESA' AND EPNRDECI=120 THEN 1  
        ELSE 0 END ) AS E            
 LEFT JOIN  PROPWEBSMC..CPROP PROP (NOLOCK)            
 ON  E.EPNRPROP = PROP.PPNRPROP              
WHERE             
 E.EPNRPROP = PROP.PPNRPROP   AND             
 ISNULL(PROP.PPVLRFIN,0) > 0  AND            
 PROP.PPCODCLI IS NOT NULL   AND             
 PROP.PPQTDDPARC IS NOT NULL              
            
END            
IF @ANALISTA='MESA'             
BEGIN            
INSERT INTO CRED_TEMPO_temp            
(analista, dt_proposta, proposta, contrato, dt_contrato, produto, vlr_financiado, status,             
tempo,DT_entra ,HR_ENTRA ,  SITINI ,            
DT_sai ,HR_SAI , SITFIM ,EPUSUARIO,PASSO ,MODA )             
SELECT              
  EPUSUARIO analista,            
  PROP.PPDTBASE dt_proposta,            
  PROP.PPNRPROP proposta,            
  '' contrato,            
  '' dt_contrato,             
  '' produto,            
  ISNULL(PROP.PPVLRFIN, 0.00) vlr_financiado,            
  '' status,            
  '' tempo,            
  EPDTLNC   DT_entra ,            
  EPHORALNC HR_ENTRA ,              
  EPSITINI  SITINI,            
  CONVERT(VARCHAR(4),DATEPART(YYYY,EPDTHRFIM))+            
  RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(MM,EPDTHRFIM))),2)+            
  RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(DD,EPDTHRFIM))),2)   DT_sai ,            
  SUBSTRING(CONVERT(VARCHAR(20),EPDTHRFIM,120),12,5) HR_SAI,             
  EPSITFIM  SITFIM ,            
  EPUSUARIO EPUSUARIO,            
  EPNRSEQ,            
  PROP.PPCODOP  -- MODA            
FROM (SELECT * FROM PROPWEBSMC..EPROP E1  (NOLOCK)            
   WHERE EPDTLNC BETWEEN @DATADE AND @DATAATE            
    AND EPNRDECI IN('1549','100')  
    AND EPNRSEQ = (SELECT MIN(EPNRSEQ) FROM PROPWEBSMC..EPROP E2  (NOLOCK)            
        WHERE E2.EPNRPROP = E1.EPNRPROP            
         AND E2.EPNRDECI=100)            
    ) AS E            
 LEFT JOIN PROPWEBSMC..CPROP PROP (NOLOCK)            
  ON   E.EPNRPROP = PROP.PPNRPROP             
WHERE             
 E.EPNRPROP = PROP.PPNRPROP   AND             
 ISNULL(PROP.PPVLRFIN,0) > 0  AND            
 PROP.PPCODCLI IS NOT NULL    AND           
 PROP.PPQTDDPARC IS NOT NULL              
END            
            
-- calculo do TEMPO  ************************************************            
IF @ANALISTA='MESA'     -- tempo q proposta fica parada            
-- NAO CONTAR O SABADO            
BEGIN            
 UPDATE CRED_TEMPO_temp            
  SET TEMPO= (dbo.FN_TEMPO_ANALISE(DT_ENTRA, HR_ENTRA,DT_sai, HR_sai))            
END            
                    
  IF  @ANALISTA='ALCADA'            
  BEGIN            
   -- INCLUI ALCADA EM JAN-16 ********************* PASSOS DA ALÇADA: 12,13,32,62,155            
   INSERT INTO CRED_TEMPO_temp            
   (analista, dt_proposta, proposta, contrato, dt_contrato, produto, vlr_financiado, status,             
   tempo,DT_entra ,HR_ENTRA ,  SITINI ,            
   DT_sai ,HR_SAI , SITFIM ,EPUSUARIO,PASSO ,MODA )             
   SELECT              
     EPUSUARIO analista,            
     PROP.PPDTBASE dt_proposta,            
     PROP.PPNRPROP proposta,            
     '' contrato,            
     '' dt_contrato,             
     '' produto,            
     ISNULL(PROP.PPVLRFIN, 0.00) vlr_financiado,            
     '' status,            
     '' tempo,            
     EPDTLNC   DT_entra ,            
     EPHORALNC HR_ENTRA ,              
     EPSITINI  SITINI,            
     CONVERT(VARCHAR(4),DATEPART(YYYY,EPDTHRFIM))+            
     RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(MM,EPDTHRFIM))),2)+            
     RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(DD,EPDTHRFIM))),2)   DT_sai ,            
     SUBSTRING(CONVERT(VARCHAR(20),EPDTHRFIM,120),12,5) HR_SAI,             
     EPSITFIM  SITFIM ,            
     EPUSUARIO EPUSUARIO,            
     EPNRSEQ,            
     PROP.PPCODOP  -- MODA            
   FROM (SELECT * FROM PROPWEBSMC..EPROP E1  (NOLOCK)            
      WHERE EPDTLNC BETWEEN @DATADE AND @DATAATE            
       AND EPNRDECI IN (6,7, 12,13,32,62,  63,149,150,151,  155)             
      ) AS E            
    LEFT JOIN PROPWEBSMC..CPROP PROP (NOLOCK)            
     ON   E.EPNRPROP = PROP.PPNRPROP             
   WHERE             
    E.EPNRPROP = PROP.PPNRPROP   AND             
    ISNULL(PROP.PPVLRFIN,0) > 0  AND            
    PROP.PPCODCLI IS NOT NULL    AND             
    PROP.PPQTDDPARC IS NOT NULL                       
  END            
            
            
IF @ANALISTA<>'MESA'     -- tempo q proposta fica parada            
-- CONTAR O SABADO DE 8H30 A 13H            
BEGIN            
  -- atualiza            
            
 UPDATE CRED_TEMPO_temp            
  SET TEMPO= (dbo.FN_TEMPO_ANALISE_SAB(DT_ENTRA, HR_ENTRA,DT_sai, HR_sai))            
END            
             
            
DELETE CRED_TEMPO_rpt            
            
INSERT CRED_TEMPO_rpt (ANALISTA,PROPOSTA, DT_PROPOSTA,VLR_FINANCIADO,TEMPO,seq,PRODUTO)            
SELECT ANALISTA,  -- DT_PROPOSTA,            
  PROPOSTA,            
  MAX(DT_PROPOSTA),                      
  MAX(VLR_FINANCIADO),            
  --MPSIT,            
  SUM(ISNULL(tempo,0.0))  AS TEMPO            
  ,seq = MAX(PASSO),            
  PRODUTO = MAX(MODA)                      
FROM CRED_TEMPO_temp (NOLOCK)            
GROUP BY ANALISTA, PROPOSTA            
 
-----------------ALTERAÇÃO APÓS INCLUSÃO DE ROTINA SEMANAL--------------------------------------                    
DELETE CRED_TEMPO_RPT WHERE PROPOSTA IN (SELECT PROPOSTA FROM CRED_ANALISE_ANALISTA (NOLOCK) WHERE DT_PROPOSTA BETWEEN @DATADE AND @DATAATE)
AND DT_PROPOSTA BETWEEN @DATADE AND @DATAATE

INSERT CRED_TEMPO_rpt (ANALISTA,PROPOSTA, DT_PROPOSTA,VLR_FINANCIADO,TEMPO,seq,PRODUTO)            
SELECT ANALISTA,  -- DT_PROPOSTA,            
  PROPOSTA,            
  MAX(DT_PROPOSTA),                       
  MAX(VLR_FINANCIADO),            
  SUM(ISNULL(tempo,0.0))  AS TEMPO            
  ,max(seq)
  ,max(PRODUTO)
  --MIN(DT_ENTRA) AS DT_ENTRA, MAX(DT_SAI) AS DT_SAI,            
FROM CRED_ANALISE_ANALISTA (NOLOCK)  
WHERE DT_PROPOSTA BETWEEN @DATADE AND @DATAATE          
GROUP BY ANALISTA, PROPOSTA
-------------------------------------------------------------------------------------------------  
            
UPDATE CRED_TEMPO_rpt            
SET  STATUS   = MPSIT,            
  REANALISE = CASE WHEN MPNUMRA IS NULL THEN 0  -- 1A ANALISE            
       ELSE 1  -- CONTADOR >=1 EH REANALISE            
     END            
FROM PROPWEBSMC..CMOVP E  (NOLOCK)            
WHERE MPNRPROP = PROPOSTA            
            
-- ATUALIZA DADOS DA PROPOSTA **********************              
-- ATUALIZA DADOS DO CONTRATO            
UPDATE CRED_TEMPO_rpt            
SET  contrato = OPCODORG3,   --OPNROPER,  OPERADOR            
  dt_contrato = OPCODORG3,            
  PRODUTO = OPCODOP            
FROM  CRED_TEMPO_rpt R (NOLOCK)            
JOIN CDCSANTANAMicroCredito..coper  OPER  (NOLOCK)             
 ON OPER.OPNRPROP = R.proposta            
            
-- ATUALIZA DADOS DO CONTRATO COM AGENTE ALTERADO 11/2015 ****************            
  -- COD OPERADOR            
  UPDATE CRED_TEMPO_rpt            
  SET  CONTRATO = PPCODORG3            
  FROM CRED_TEMPO_rpt R (NOLOCK)            
  JOIN PROPWEBSMC..CPROP PROP (NOLOCK)            
   ON PROP.PPNRPROP = R.proposta            
  -- COD AGENTE            
  UPDATE  CRED_TEMPO_rpt            
   SET  CONTRATO =  ISNULL(OP.O3CODORGA13,'')     --AGENTE            
    , dt_contrato = ISNULL(OP.O3CODORGA13,'')   --AGENTE            
   FROM CDCSANTANAMicroCredito..TORG3 OP (NOLOCK)             
   WHERE CONTRATO = O3CODORG             
  -- NOME DO AGENTE ********************             
  UPDATE  CRED_TEMPO_rpt            
   SET  CONTRATO  = ISNULL(A.A13DESCR,'') -- NOME DO AGENTE OU PROMOTORA            
   FROM CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)           
   WHERE CONTRATO = A13CODORG --a.COD_agente  -- CONTEM CODIGO            
             
            
UPDATE CRED_TEMPO_rpt            
SET  PRODUTO = DESCR_TIPO            
--  SELECT *            
FROM  CRED_TEMPO_rpt R (NOLOCK)            
  -- INCLUIDO PRODUTO CP EM  24/02/2017            
  LEFT JOIN TModa_tipo_prod M (NOLOCK)  ON R.PRODUTO = M.COD_MODA AND M.COD_PROD  in ( 'V','CG','CP')                  
  LEFT JOIN Ttipo_prod T (NOLOCK) ON T.COD_MODALIDADE = M.COD_MODALIDADE                
            
-- ULTIMO STATUS DA PROPOSTA            
UPDATE CRED_TEMPO_rpt            
SET  status = C.MPSIT            
FROM PROPWEBSMC..CMOVP  C (NOLOCK)            
WHERE   PROPOSTA = C.MPNRPROP            
            
-- NOME DO ANALISTA            
UPDATE CRED_TEMPO_rpt            
SET  ANALISTA = USNOMEUSUC            
FROM ACESSOCORP..TUSU  C (NOLOCK)            
WHERE   ANALISTA = C.USNOMEUSU            
            
            
DELETE            
FROM  CRED_TEMPO_rpt             
   -- NAO APAGAR            
WHERE NOT (            
     1= 0 + CASE WHEN @ANALISTA NOT IN ('','MESA','ALCADA') AND ANALISTA =@ANALISTA THEN 1             
     WHEN @ANALISTA='MESA'  THEN 1             
     WHEN @ANALISTA='ALCADA'  THEN 1             
     WHEN @ANALISTA=''  THEN 1             
      ELSE 0 END            
 AND 1= 0 + CASE WHEN @PRODUTO<>'' AND PRODUTO =@PRODUTO THEN 1             
     WHEN @PRODUTO=''  THEN 1             
      ELSE 0 END            
 AND 1= 0 + CASE WHEN @REANALISE='0' AND REANALISE =0 THEN 1            
      WHEN @REANALISE='1' AND REANALISE =1 THEN 1            
      WHEN @REANALISE=''     THEN 1            
    ELSE 0 END            
 AND 1= 0 + CASE WHEN @VALOR_DE<>'' AND @VALOR_ATE<>'' AND VLR_FINANCIADO BETWEEN CONVERT(FLOAT,@VALOR_DE) AND CONVERT(FLOAT,@VALOR_ATE)  THEN 1             
     WHEN @VALOR_DE='' AND @VALOR_ATE=''  THEN 1             
      ELSE 0 END             
)            
            
            
INSERT  CRED_TEMPO_rpt             
  -- ALTERADO 22/2/17            
  (analista, dt_proposta, proposta, contrato, dt_contrato,             
  produto, vlr_financiado, status,             
  tempo,SEQ,REANALISE,SCORE,PRC_GARANTIA )           
SELECT  'TOTAL','',COUNT(PROPOSTA) ,   --TIREI O DISTINCT - TIAGO - 07/03/2019          
  COUNT(DISTINCT CONTRATO),  '',            
  COUNT(DISTINCT PRODUTO),             
  SUM(DISTINCT VLR_FINANCIADO),            
  '',            
  -- TEMPO            
  (SUM(TEMPO)            
    /            
    COUNT(DISTINCT PROPOSTA)),            
  0,0,  0,0            
FROM CRED_TEMPO_rpt (NOLOCK)             
             
-- ALTERA CONTRATO POR PROMOTORA            
UPDATE  CRED_TEMPO_rpt            
SET  CONTRATO =  ISNULL(A13DESCR,''),   -- PROMOTORA            
  DT_CONTRATO = ISNULL(CONVERT(VARCHAR(10),A13CODORG),'')            
 FROM             
    (SELECT PPNRPROP, PPCODORG4,PPCODORG3 FROM  PropWebSmc..CProp  (NOLOCK)              
     --WHERE PPDTBASE BETWEEN '20100101'  AND @DTFIM            
     ) AS PROP              
  left join              
    (select DISTINCT O3CODORG,O3DESCR,o3codOrgA13 from CDCSANTANAMicroCredito..TORG3 OPE1 (NOLOCK) ) as OPERADOR              
    ON O3CODORG = PPCODORG3              
  -- AGENTE              
  left join              
    (select A13CODORG,A13DESCR,A13DTCAD from CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) ) as A              
    ON OPERADOR.o3codOrgA13 = A.A13CODORG               
 WHERE PPNRPROP= PROPOSTA -- o4codorg                      
-- alter table CRED_TEMPO_rpt alter column score varchar(10)            
-- create index CRED_TEMPO_rpt_idx1 on CRED_TEMPO_rpt (proposta)            
            
-- ALTERA CONTRATO - SCORE E PRC_GARANTIA            
UPDATE  CRED_TEMPO_rpt            
SET  PRC_GARANTIA = ISNULL(PPTETOFIN,0.0),            
  SCORE =  ISNULL(PPCODORG0,'')  -- SCORE EM LETRAS CF TRIGGER            
--ISNULL(PPSCORING,0)   -- antes ago/17            
-- SELECT *            
 FROM   PropWebSmc..CProp  (NOLOCK)              
 WHERE PROPOSTA=PPNRPROP            
            
--MOT RECUSA - 19/02/2019 - TIAGO            
UPDATE CRED_TEMPO_RPT            
SET MOT_RECUSA = A.MTDESCR FROM            
(SELECT DISTINCT PPNRPROP,MTDESCR            
FROM PROPWEBSMC..EPROP (NOLOCK) INNER JOIN PROPWEBSMC..CPROP (NOLOCK) ON EPNRPROP = PPNRPROP                      
INNER JOIN CDCSANTANAMICROCREDITO..TORG3 (NOLOCK) ON EPNRPROP = PPNRPROP AND PPCODORG3=O3CODORG                      
INNER JOIN PROPWEBSMC..TMOTI (NOLOCK) ON REPLACE(EPTPMOTIVO,';','') = MTCODMOT                      
INNER JOIN PROPWEBSMC..CMOVP (NOLOCK) ON MPNRPROP = PPNRPROP            
WHERE MPSIT IN ('PEN','REP') AND EPNRDECI IN('91','158','120'))AS A            
WHERE A.PPNRPROP = PROPOSTA            
            
            
  /*            
UPDATE  CRED_TEMPO_rpt            
SET  SCORE =  ISNULL(A13DESCR,''),               
  PRC_GARANTIA = ISNULL(PPTETOFIN,0.0)            
-- SELECT *            
 FROM   PropWebSmc..CProp  (NOLOCK)              
 WHERE PROPOSTA=PPNRPROP            
ISNULL((SELECT MAX(PPSCORING) FROM  PropWebSMC..CPROP B2 (NOLOCK)            
     WHERE B2.PPNRPROP=(SELECT OPNRPROP FROM  CDCSANTANAMicroCredito..COPER O (NOLOCK)            
     WHERE O.OPNROPER=NUM_OPE )),'')  AS SCORE            
*/            
            
UPDATE CRED_TEMPO_rpt            
SET  contrato = a.PPCODORG3, nome_promot = a.o3descr  --OPNROPER,  OPERADOR              
FROM  (select ppnrprop, ppcodorg3, o3descr from propwebsmc..cprop (nolock)      
inner join cdcsantanamicrocredito..torg3 (nolock) on ppcodorg3 = o3codorg)a        
 where a.pPNRPROP = CRED_TEMPO_rpt.proposta        
     
UPDATE CRED_TEMPO_RPT    
SET SCORE = PPSCORING FROM    
PROPWEBSMC..CPROP (NOLOCK) WHERE PPNRPROP = PROPOSTA       
        
-- MOSTRA NA TELA O RESULTADO NO GRID            
SELECT             
 ISNULL(ANALISTA,'') AS ANALISTA,            
 DT_PROPOSTA,            
 PROPOSTA,            
 ISNULL(CONTRATO,'') AS CONTRATO,      
 NOME_PROMOT,            
 ISNULL(DT_CONTRATO,'') AS DT_CONTRATO,            
 PRODUTO,VLR_FINANCIADO,STATUS,            
 CASE WHEN dbo.FN_CONVMIN(tempo)='' THEN '0:0'            
   ELSE dbo.FN_CONVMIN(tempo) END AS TEMPO,            
 REANALISE ,            
 SCORE, PRC_GARANTIA,MOT_RECUSA            
FROM  CRED_TEMPO_rpt (NOLOCK)   
ORDER BY PROPOSTA            
/*            
WHERE 1= 0 + CASE WHEN @REANALISE='0' AND REANALISE =0 THEN 1            
      WHEN @REANALISE='1' AND REANALISE =1 THEN 1            
      WHEN @REANALISE=''     THEN 1            
    ELSE 0 END            
 AND 1= 0 + CASE WHEN @ANALISTA<>'' AND ANALISTA =@ANALISTA THEN 1             
     WHEN @ANALISTA=''  THEN 1             
      ELSE 0 END            
 AND 1= 0 + CASE WHEN @PRODUTO<>'' AND PRODUTO =@PRODUTO THEN 1             
     WHEN @PRODUTO=''  THEN 1             
      ELSE 0 END            
 AND 1= 0 + CASE WHEN @VALOR_DE<>'' AND @VALOR_ATE<>'' AND VLR_FINANCIADO BETWEEN CONVERT(FLOAT,@VALOR_DE) AND CONVERT(FLOAT,@VALOR_ATE)  THEN 1             
 WHEN @VALOR_DE='' AND @VALOR_ATE=''  THEN 1             
      ELSE 0 END            
*/              
END 