use sig
go

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

/*
alteraçoes de tabela necessarias na publicacao Mar-17  *************
ALTER TABLE PRODUTIVIDADE2 ADD T_Aprovada  INT
ALTER TABLE PRODUTIVIDADE2 ADD T_Reprovada INT
ALTER TABLE PRODUTIVIDADE2 ADD T_cancelada INT

CREATE INDEX CRED_TEMPO_temp2_IDX1 ON CRED_TEMPO_temp2 (ANALISTA,APROVADA,REPROVADA,CANCELADA)
CREATE INDEX CRED_TEMPO_temp2_IDX2 ON CRED_TEMPO_temp2 (PROPOSTA, DT_SAI)

CREATE INDEX PRODUTIVIDADE2_IDX1 ON PRODUTIVIDADE2 (ANALISTA)
*/
-- exec SCR_credito_tempo_sintetico '20170101','20170111','MESA'

-- exec SCR_credito_tempo_sintetico '20160101','20160111','MESA'
--,'','','',''

-- exec SCR_credito_tempo_sintetico '20150601','20150630','','','','',''
-- exec SCR_credito_tempo_sintetico '20150601','20150630','','',0.0,0.0,''
-- exec SCR_credito_tempo_sintetico '20150601','20150630','Luis  Claudio dos Santos','','','',''
-- exec SCR_credito_tempo_sintetico '20150601','20150630','','',7000,10000,''

-- exec SCR_credito_tempo_sintetico '20150801','20150831','MESA'  

-- exec SCR_credito_tempo_sintetico '20150801','20150831','Alexandre de Almeida Medina'


-- ALTER TABLE INDEX
-- CREATE INDEX CRED_TEMPO_temp2_IDX1 ON CRED_TEMPO_temp2 (PROPOSTA, DT_SAI)

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_credito_tempo_sintetico' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_credito_tempo_sintetico] 
GO

-- MENSAL
-- ***************************************
create PROCEDURE [dbo].[SCR_credito_tempo_sintetico]
	(@DTINI SMALLDATETIME,
	@DTFIM SMALLDATETIME ,@ANALISTA VARCHAR(100))
--, @DATAS_REF VARCHAR(20))

AS
BEGIN



/*
DROP   TABLE CRED_TEMPO_temp2
CREATE TABLE CRED_TEMPO_temp2 (
analista  VARCHAR(100), 
dt_proposta DATETIME, proposta  VARCHAR(50), contrato  VARCHAR(50), dt_contrato DATETIME, produto VARCHAR(50), vlr_financiado FLOAT, 
status VARCHAR(50),  tempo int,DT_entra DATETIME,HR_ENTRA VARCHAR(10),  SITINI VARCHAR(10),
DT_sai DATETIME,HR_SAI VARCHAR(10), SITFIM VARCHAR(10),EPUSUARIO VARCHAR(50), PASSO INT, MODA VARCHAR(10) )
-- tempo VARCHAR(10)

ALTER TABLE CRED_TEMPO_temp2 ADD PAGAS SMALLINT NULL
ALTER TABLE CRED_TEMPO_temp2 ADD APROVADAS SMALLINT NULL
ALTER TABLE CRED_TEMPO_temp2 ADD 	REPROVADAS SMALLINT NULL
ALTER TABLE CRED_TEMPO_temp2 ADD 	REPROVADASPROMOTORA SMALLINT NULL
ALTER TABLE CRED_TEMPO_temp2 ADD 	PROMOTORAS SMALLINT NULL
ALTER TABLE CRED_TEMPO_temp2 ADD 	ANALISE SMALLINT NULL
ALTER TABLE CRED_TEMPO_temp2 ADD 	PENDENTES SMALLINT NULL
ALTER TABLE CRED_TEMPO_temp2 ADD 	CANCELADAS SMALLINT NULL


CREATE TABLE PRODUTIVIDADE2 (
cod_analista	varchar(50),
analista	varchar(100),
PAGAS	int,
APROVADAS	int,
REPROVADAS	int,
REPROVADASPROMOTORA	int,
PROMOTORAS	int,
ANALISE	int,
PENDENTES	int,
CANCELADAS	int,
VLR_PAGO	float,
PRC_PENDENTE	float,
PRC_APROVADA	float,
PRC_REPROVADA	float,
PRC_CANCELADA	float)


DROP   TABLE CRED_TEMPO_sint_rpt
CREATE TABLE CRED_TEMPO_sint_rpt (
analista  VARCHAR(100), 
dt_proposta DATETIME, proposta  VARCHAR(50), contrato  VARCHAR(50), dt_contrato DATETIME, produto VARCHAR(50), vlr_financiado FLOAT, 
status VARCHAR(50), seq int,REANALISE INT)

select * from CRED_TEMPO_sint_rpt (nolock)
select * from CRED_TEMPO_temp2 (nolock)
*/


DELETE CRED_TEMPO_temp2

/*
IF @ANALISTA<>'MESA' 
BEGIN
INSERT INTO CRED_TEMPO_temp2
	(analista, dt_proposta, proposta, contrato, dt_contrato, produto, vlr_financiado, status, 
	tempo,DT_entra ,HR_ENTRA ,  SITINI ,
	DT_sai ,HR_SAI , SITFIM ,EPUSUARIO,PASSO ,MODA ) 
SELECT 	
		EPUSUARIO analista,
		PROP.PPDTBASE dt_proposta,
		PROP.PPNRPROP proposta,
		'' contrato,
		'' dt_contrato, 
		'' produto,
		ISNULL(PROP.PPVLRFIN, 0.00) vlr_financiado,
		'' status,
		'' tempo,
		EPDTLNC   DT_entra ,
		EPHORALNC HR_ENTRA ,  
		EPSITINI  SITINI,
		CONVERT(VARCHAR(4),DATEPART(YYYY,EPDTHRFIM))+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(MM,EPDTHRFIM))),2)+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(DD,EPDTHRFIM))),2)   DT_sai ,
		SUBSTRING(CONVERT(VARCHAR(20),EPDTHRFIM,120),12,5) HR_SAI, 
		EPSITFIM  SITFIM ,
		EPUSUARIO EPUSUARIO,
		EPNRSEQ,
		PROP.PPCODOP  -- MODA
FROM	PROPWEBSMC..CPROP PROP (NOLOCK)
	LEFT JOIN PROPWEBSMC..EPROP E  (NOLOCK)
	ON 	E.EPNRPROP = PROP.PPNRPROP 
	
WHERE 
	E.EPNRPROP = PROP.PPNRPROP   AND 
	ISNULL(PROP.PPVLRFIN,0) > 0  AND
	PROP.PPCODCLI IS NOT NULL    AND 
	PROP.PPQTDDPARC IS NOT NULL  AND
	EPDTLNC BETWEEN @DTINI AND @DTFIM
	--	PROP.PPDTBASE BETWEEN @DATADE AND @DATAATE
	AND 1= 0+ CASE	WHEN @ANALISTA='MESA'  AND EPNRDECI=100 THEN 1
					WHEN @ANALISTA<>'MESA' AND EPNRDECI=120 THEN 1
					ELSE	0	END
	AND EPNRSEQ = (SELECT  MAX(EPNRSEQ) FROM PROPWEBSMC..EPROP E1  (NOLOCK)
					WHERE E1.EPNRPROP = PROP.PPNRPROP
						AND	E1.EPNRDECI IN (100))  -- ANTES TEMPO COM PROMOTORA

END
IF @ANALISTA='MESA' 
BEGIN


*/
/* MTO LENTO *****************
INSERT INTO CRED_TEMPO_temp2
	(analista, dt_proposta, proposta, contrato, dt_contrato, produto, vlr_financiado, status, 
	DT_entra ,HR_ENTRA ,  SITINI ,
	DT_sai ,HR_SAI , SITFIM ,EPUSUARIO,PASSO ,MODA ) 
SELECT 	
		EPUSUARIO analista,
		PROP.PPDTBASE dt_proposta,
		PROP.PPNRPROP proposta,
		'' contrato,
		'' dt_contrato, 
		'' produto,
		ISNULL(PROP.PPVLRFIN, 0.00) vlr_financiado,
		'' status,
		-- '' tempo,
		EPDTLNC   DT_entra ,
		EPHORALNC HR_ENTRA ,  
		EPSITINI  SITINI,
		CONVERT(VARCHAR(4),DATEPART(YYYY,EPDTHRFIM))+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(MM,EPDTHRFIM))),2)+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(DD,EPDTHRFIM))),2)   DT_sai ,
		SUBSTRING(CONVERT(VARCHAR(20),EPDTHRFIM,120),12,5) HR_SAI, 
		EPSITFIM  SITFIM ,
		EPUSUARIO EPUSUARIO,
		EPNRSEQ,
		PROP.PPCODOP  -- MODA
FROM	PROPWEBSMC..CPROP PROP (NOLOCK)
	LEFT JOIN (SELECT * FROM PROPWEBSMC..EPROP E1  (NOLOCK) 
				WHERE EPDTLNC BETWEEN @DTINI AND @DTFIM
					--    TEMPO DO PASSO 100, 1a PASSAGEM
						AND (EPNRDECI=100 )) AS E
	ON 	E.EPNRPROP = PROP.PPNRPROP 
WHERE 
	PROP.PPNRPROP  =  E.EPNRPROP    AND 	
	ISNULL(PROP.PPVLRFIN,0) > 0  AND
	PROP.PPCODCLI IS NOT NULL    AND 
	PROP.PPQTDDPARC IS NOT NULL  
	--    TEMPO DO PASSO 100, 1a PASSAGEM
*/

-- MODIFICADO 13/3/17
INSERT INTO CRED_TEMPO_temp2
	(analista, PROPOSTA,
--dt_proposta, proposta, contrato, dt_contrato, produto, vlr_financiado, status, 
	DT_entra ,HR_ENTRA ,  SITINI ,
	DT_sai ,HR_SAI , SITFIM ,EPUSUARIO,PASSO )
-- ,MODA ) 
SELECT 	DISTINCT
		EPUSUARIO analista,	EPNRPROP,
		--PROP.PPDTBASE dt_proposta,		PROP.PPNRPROP proposta,		'' contrato,		'' dt_contrato, 		'' produto,
		--ISNULL(PROP.PPVLRFIN, 0.00) vlr_financiado,		'' status,
		-- '' tempo,
		EPDTLNC   DT_entra ,
		EPHORALNC HR_ENTRA ,  
		EPSITINI  SITINI,
		CONVERT(VARCHAR(4),DATEPART(YYYY,EPDTHRFIM))+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(MM,EPDTHRFIM))),2)+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(DD,EPDTHRFIM))),2)   DT_sai ,
		SUBSTRING(CONVERT(VARCHAR(20),EPDTHRFIM,120),12,5) HR_SAI, 
		EPSITFIM  SITFIM ,
		EPUSUARIO EPUSUARIO,
		EPNRSEQ --,		PROP.PPCODOP  -- MODA
FROM	-- PROPWEBSMC..CPROP PROP (NOLOCK)		LEFT JOIN
 (SELECT * FROM PROPWEBSMC..EPROP E1  (NOLOCK) 
				WHERE EPDTLNC BETWEEN @DTINI AND @DTFIM
					--    TEMPO DO PASSO 100, 1a PASSAGEM
						AND (EPNRDECI=100 )) AS E
--	ON 	E.EPNRPROP = PROP.PPNRPROP 
/*WHERE 	PROP.PPNRPROP  =  E.EPNRPROP    AND 	
	ISNULL(PROP.PPVLRFIN,0) > 0  AND
	PROP.PPCODCLI IS NOT NULL    AND 
	PROP.PPQTDDPARC IS NOT NULL  
	--    TEMPO DO PASSO 100, 1a PASSAGEM
*/

-- ALTERACAO
UPDATE CRED_TEMPO_temp2
	SET	dt_proposta=PROP.PPDTBASE, 
	--	proposta=PROP.PPNRPROP, 
		contrato='', dt_contrato='', produto='', vlr_financiado=ISNULL(PROP.PPVLRFIN, 0.00), status='', 
		MODA = PROP.PPCODOP  -- MODA
FROM	PROPWEBSMC..CPROP PROP (NOLOCK)
WHERE 	PROPOSTA=PROP.PPNRPROP  AND 	
		--PROP.PPNRPROP  =  E.EPNRPROP    AND 	
		ISNULL(PROP.PPVLRFIN,0) > 0  AND
		PROP.PPCODCLI IS NOT NULL    AND 
		PROP.PPQTDDPARC IS NOT NULL  




/*
-- REMOVI 15/01/2016 PARA TER AS REPETICOES E O TRABALHO DE TODOS OS ANALISTAS
	AND EPNRSEQ = (SELECT  MIN(EPNRSEQ) FROM PROPWEBSMC..EPROP E1  (NOLOCK)
					WHERE E1.EPNRPROP = PROP.PPNRPROP
						AND	E1.EPNRDECI=100)  -- ANTES TEMPO COM PROMOTORA
		) --OR 	EPNRDECI IN ( 120) 
		)  --  TENTAR 2 PASSOS

-- REMOVI 11/2015 PARA BATER COM O TEMPOS DE ANALISTA
	AND EPNRSEQ = (SELECT  MIN(EPNRSEQ) FROM PROPWEBSMC..EPROP E1  (NOLOCK)
					WHERE E1.EPNRPROP = PROP.PPNRPROP
						AND	E1.EPNRDECI IN (120))  -- ANTES TEMPO COM PROMOTORA  100,


AND 1= 0+ CASE	WHEN @ANALISTA='MESA'  AND EPNRDECI=100 THEN 1   -- tempo q proposta fica parada
				WHEN @ANALISTA<>'MESA' AND EPNRDECI=120 THEN 1	 -- tempo q os analistas ATUAM na proposta
				ELSE	0	END

*/

-- 15/01/16
-- CRED_TEMPO_temp2
-- ver todos as analises do dia iniciado no passo 100 do analista - ATÉ O FIM
UPDATE  CRED_TEMPO_temp2
SET		HR_SAI = SUBSTRING(CONVERT(VARCHAR(20),EPDTHRFIM,120),12,5), 
		SITFIM = EPSITFIM  
FROM	( SELECT	* FROM 		PROPWEBSMC..EPROP E  (NOLOCK)
			WHERE	E.EPNRPROP IN (SELECT  DISTINCT proposta FROM CRED_TEMPO_temp2 (NOLOCK))
				AND	E.EPDTLNC BETWEEN @DTINI AND @DTFIM				-- NO PERIODO DO RELATORIO
				-- MAX POR DIA DE LNC
			    AND E.EPNRSEQ =   (SELECT MAX(E2.EPNRSEQ) FROM 		PROPWEBSMC..EPROP E2  (NOLOCK)
										WHERE	E2.EPNRPROP =E.EPNRPROP
											AND	E2.EPDTLNC  =E.EPDTLNC ) ) AS E1
WHERE	CRED_TEMPO_temp2.PROPOSTA  = E1.EPNRPROP  
	AND CRED_TEMPO_temp2.DT_sai	   = E1. EPDTLNC
--	AND CRED_TEMPO_temp2.PASSO     > E1.EPNRSEQ      -- CONTINUACAO DA ANALISE  NO DIA , NAO SOMENTE PASSO 100
--	AND	CRED_TEMPO_temp2.EPUSUARIO = E1.EPUSUARIO	 -- PODE SER OUTRO USUARIO Q APROVA, ALCADA
/*
 CONVERT(VARCHAR(4),DATEPART(YYYY,EPDTLNC))+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(MM,EPDTLNC))),2)+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(DD,EPDTLNC))),2) 
*/
-- 15/01/16			***************************
-- incluir outras Datas do EP com inicio e FIM  -- DATAS SUPERIORES AOS JA INSERIDOS (100)
/*
INSERT 	CRED_TEMPO_temp2
INSERT INTO CRED_TEMPO_temp2
	(analista, dt_proposta, proposta, contrato, dt_contrato, produto, vlr_financiado, status, 
	DT_entra ,HR_ENTRA ,  SITINI ,
	DT_sai ,HR_SAI , SITFIM ,EPUSUARIO,PASSO ,MODA ) 
SELECT 	
		EPUSUARIO analista,
		PROP.PPDTBASE dt_proposta,
		PROP.PPNRPROP proposta,
		'' contrato,
		'' dt_contrato, 
		'' produto,
		ISNULL(PROP.PPVLRFIN, 0.00) vlr_financiado,
		'' status,
		-- '' tempo,
		EPDTLNC   DT_entra ,
		EPHORALNC HR_ENTRA ,  
		EPSITINI  SITINI,
		CONVERT(VARCHAR(4),DATEPART(YYYY,EPDTHRFIM))+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(MM,EPDTHRFIM))),2)+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(DD,EPDTHRFIM))),2)   DT_sai ,
		SUBSTRING(CONVERT(VARCHAR(20),EPDTHRFIM,120),12,5) HR_SAI, 
		EPSITFIM  SITFIM ,
		''		  EPUSUARIO,
		EPNRSEQ,
		PROP.PPCODOP  -- MODA
		-- SOMENTE AS PROPOSTAS ANALISADAS.		INSERIR OUTROS STATUS DA PROPOSTA	
FROM	(SELECT		* FROM PROPWEBSMC..CPROP P1 (NOLOCK) 
			WHERE	PPNRPROP IN (SELECT DISTINCT proposta
								  FROM	CRED_TEMPO_temp2 (NOLOCK) )  AS PROP
	JOIN PROPWEBSMC..EPROP E  (NOLOCK)
	ON 	E.EPNRPROP = PROP.PPNRPROP 
WHERE 
	E.EPNRPROP = PROP.PPNRPROP   AND 
	ISNULL(PROP.PPVLRFIN,0) > 0  AND
	PROP.PPCODCLI IS NOT NULL    AND 
	PROP.PPQTDDPARC IS NOT NULL  AND
	EPDTLNC BETWEEN @DTINI AND @DTFIM
	AND (EPNRSEQ > (SELECT		MAX(EPNRSEQ) FROM CRED_TEMPO_temp2 A1  (NOLOCK)
						WHERE	A1.EPNRPROP = PROP.PPNRPROP  )  -- TEMPOS JAH CADASTRADOS
		) 		) 
*/

-- ULTIMO STATUS DA PROPOSTA  ************************** INCLUI EM 11/2015
UPDATE	CRED_TEMPO_temp2
SET		STATUS = SITFIM   -- situacao dia a dia
/*  alterado em 15/1/16
C.MPSIT
FROM	PROPWEBSMC..CMOVP  C (NOLOCK)
WHERE   PROPOSTA = C.MPNRPROP
*/

UPDATE	CRED_TEMPO_temp2
	SET PAGAS=0,	APROVADAS=0,	REPROVADAS=0,
 		REPROVADASPROMOTORA=0, 	PROMOTORAS=0, 	ANALISE =0,
		PENDENTES =0, 	CANCELADAS =0

UPDATE CRED_TEMPO_temp2 SET APROVADAS = 1 
WHERE  STATUS IN  ('LIB','APR')

UPDATE CRED_TEMPO_temp2 SET REPROVADAS = 1
WHERE  STATUS IN ('REP')

UPDATE CRED_TEMPO_temp2 SET PENDENTES = 1
WHERE  STATUS IN ('AND','PEN')

UPDATE CRED_TEMPO_temp2 SET CANCELADAS = 1
WHERE  STATUS IN ('CAN')

/*******************************************************************************************
*********ALTERAR TUDO QUE É NULL PARA VALOR ZERO '0' E ASSIM GERAR O VALOR TOTAL*************
********************************************************************************************/
/*

WHERE  PROPOSTA IN ('REP')
WHERE  PROPOSTA IN ('AND','PEN')
WHERE  PROPOSTA IN ('CAN')

UPDATE CRED_TEMPO_temp2 SET PAGAS = 1 
WHERE  PROPOSTA IN(SELECT 
							MPNRPROP 
					FROM 
							PROPWEBSMC..CMOVP (NOLOCK)
					WHERE 
							MPNRPROP = PROPOSTA AND MPSIT IN('INT'))

UPDATE CRED_TEMPO_temp2 SET APROVADAS = 1 
WHERE  PROPOSTA IN(SELECT 
							MPNRPROP 
					FROM 
							PROPWEBSMC..CMOVP (NOLOCK)
					WHERE 
							MPNRPROP = PROPOSTA AND MPSIT IN('LIB','APR'))

UPDATE CRED_TEMPO_temp2 SET REPROVADAS = 1
WHERE  PROPOSTA IN(SELECT 
							MPNRPROP 
					FROM 
							PROPWEBSMC..CMOVP (NOLOCK)
					WHERE 
							MPNRPROP = PROPOSTA AND MPSIT IN('REP')) AND
       PROPOSTA IN(SELECT
							EPNRPROP
					FROM
							PROPWEBSMC..EPROP (NOLOCK)
					WHERE 
							EPNRPROP = PROPOSTA AND EPSITFIM = 'REP' AND
							EPUSUARIO IN (SELECT USUARIO FROM SF_RELATORIOS..ANALISTA (NOLOCK)))

UPDATE CRED_TEMPO_temp2 SET REPROVADASPROMOTORA = 1
WHERE  PROPOSTA IN(SELECT 
							MPNRPROP 
					FROM 
							PROPWEBSMC..CMOVP (NOLOCK)
					WHERE 
							MPNRPROP = PROPOSTA AND MPSIT IN('REP')) AND
       PROPOSTA IN(SELECT
							EPNRPROP
					FROM
							PROPWEBSMC..EPROP (NOLOCK)
					WHERE 
							EPNRPROP = PROPOSTA AND EPSITFIM = 'REP' AND
							EPUSUARIO NOT IN(SELECT USUARIO FROM SF_RELATORIOS..ANALISTA  (NOLOCK)))

UPDATE CRED_TEMPO_temp2 SET ANALISE = 1
WHERE  PROPOSTA IN(SELECT 	MPNRPROP 
					FROM 	PROPWEBSMC..CMOVP (NOLOCK)
					WHERE	MPNRPROP = PROPOSTA AND MPSIT IN('AND','PEN')) AND
       PROPOSTA IN(SELECT	EPNRPROP
					FROM	PROPWEBSMC..EPROP (NOLOCK)
					WHERE	EPNRPROP = PROPOSTA AND 
							EPNRDECI IN ( '100','120')    AND
						    EPNRSEQ = (SELECT	MAX(EPNRSEQ) 
										FROM	PROPWEBSMC..EPROP (NOLOCK)
										WHERE EPNRPROP = PROPOSTA AND EPNRDECI IN ( '100','120')))

UPDATE CRED_TEMPO_temp2 SET PROMOTORAS = 1
WHERE  PROPOSTA IN(SELECT 	MPNRPROP 
					FROM 	PROPWEBSMC..CMOVP (NOLOCK)
					WHERE	MPNRPROP = PROPOSTA AND MPSIT IN('AND')) AND
       PROPOSTA NOT IN(	SELECT	EPNRPROP
					FROM	PROPWEBSMC..EPROP (NOLOCK)
					WHERE	EPNRPROP = PROPOSTA AND 
							EPNRDECI IN ( '100','120')    AND
						    EPNRSEQ = (SELECT	MAX(EPNRSEQ) 
										FROM	PROPWEBSMC..EPROP (NOLOCK)
										WHERE	EPNRPROP = PROPOSTA AND EPNRDECI IN ( '100','120') ))

UPDATE CRED_TEMPO_temp2 SET PENDENTES = 1
WHERE  PROPOSTA IN(SELECT 	MPNRPROP 
					FROM 	PROPWEBSMC..CMOVP (NOLOCK)
					WHERE	MPNRPROP = PROPOSTA AND MPSIT IN('PEN')) AND
       PROPOSTA NOT IN(SELECT	EPNRPROP
					FROM	PROPWEBSMC..EPROP (NOLOCK)
					WHERE	EPNRPROP = PROPOSTA AND 
							EPNRDECI  IN ( '100','120')    AND
						    EPNRSEQ = (SELECT	MAX(EPNRSEQ) 
										FROM	PROPWEBSMC..EPROP	(NOLOCK)
										WHERE	EPNRPROP = PROPOSTA AND EPNRDECI IN ( '100','120') ))

UPDATE CRED_TEMPO_temp2 SET CANCELADAS = 1
WHERE  PROPOSTA IN(SELECT 	MPNRPROP 
					FROM 	PROPWEBSMC..CMOVP  (NOLOCK)
					WHERE	MPNRPROP = PROPOSTA AND MPSIT IN('CAN'))
*/


-- ***************************** INCLUIDO 13/3/17 ************** KAWANO PEDE TEMPOS MEDIOS
	UPDATE	CRED_TEMPO_temp2
		-- CONTAR O SABADO DE 8H30 A 13H
		SET TEMPO=	(dbo.FN_TEMPO_ANALISE_SAB(DT_ENTRA, HR_ENTRA,DT_sai, HR_sai))
	WHERE	ANALISTA<>'MESA'     -- tempo q proposta fica parada

	-- NAO CONTAR O SABADO
	UPDATE CRED_TEMPO_temp2
		SET TEMPO=	(dbo.FN_TEMPO_ANALISE(DT_ENTRA, HR_ENTRA,DT_sai, HR_sai))
	WHERE	ANALISTA='MESA'     -- tempo q proposta fica parada


/********************************************************************************************
*******CRIAR A TABELA DE PRODUTIVIDADE COM OS CAMPOS NECESSARIOS PARA GERAR O RELATORIO******
********************************************************************************************/
--  SP_HELP  PRODUTIVIDADE2
--  SP_HELP  RELAPRODTEMP
DELETE PRODUTIVIDADE2
INSERT PRODUTIVIDADE2
		(cod_analista,analista,PAGAS,APROVADAS,REPROVADAS,REPROVADASPROMOTORA,PROMOTORAS,ANALISE,PENDENTES,CANCELADAS,
			VLR_PAGO,PRC_PENDENTE,PRC_APROVADA,PRC_REPROVADA,PRC_CANCELADA)
SELECT
		'' AS cod_analista,
		ISNULL(ANALISTA,'') AS ANALISTA ,
		SUM(PAGAS) AS PAGAS, SUM(APROVADAS+PAGAS) AS APROVADAS,
		SUM(REPROVADAS+REPROVADASPROMOTORA) AS REPROVADAS, SUM(REPROVADASPROMOTORA) AS REPROVADASPROMOTORA, 
		SUM(PROMOTORAS) AS PROMOTORAS, SUM(PROMOTORAS)+SUM(ANALISE) AS ANALISE, SUM(PENDENTES) AS PENDENTES, 
		SUM(CANCELADAS) AS CANCELADAS,
		(SELECT		SUM(X.VLR_FINANC) 
			FROM	RELAPRODTEMP X	(NOLOCK) 
			WHERE	X.PAGAS <> 0 AND X.ANALISTA = R.ANALISTA) AS VLR_PAGO,
		0.0, 0.0, 0.0,		 0.0
FROM CRED_TEMPO_temp2 R (NOLOCK)
GROUP BY R.ANALISTA -- cod_analista

UPDATE PRODUTIVIDADE2 SET VLR_PAGO = 0.0 WHERE VLR_PAGO IS NULL
--UPDATE PRODUTIVIDADE SET ANALISTA = 'CRIVO/OUTROS' WHERE ANALISTA IS NULL or ANALISTA=''


-- LINHA DE TOTAL
-- SP_HELP PRODUTIVIDADE
-- REPROVADAS PROMOTORA EM REPROVADAS
-- PAGAS EM APROVADAS
INSERT PRODUTIVIDADE2
		(cod_analista,analista,PAGAS,APROVADAS,REPROVADAS,REPROVADASPROMOTORA,PROMOTORAS,ANALISE,PENDENTES,CANCELADAS,
			VLR_PAGO,PRC_PENDENTE,PRC_APROVADA,PRC_REPROVADA,PRC_CANCELADA)
SELECT  
		'' AS cod_analista,
		'TOTAL' AS ANALISTA , 
		SUM(PAGAS) AS PAGAS, SUM(APROVADAS+PAGAS) AS APROVADAS,
		SUM(REPROVADAS+REPROVADASPROMOTORA) AS REPROVADAS, SUM(REPROVADASPROMOTORA) AS REPROVADASPROMOTORA, 
		SUM(PROMOTORAS) AS PROMOTORAS, SUM(PROMOTORAS)+SUM(ANALISE) AS ANALISE, SUM(PENDENTES) AS PENDENTES, 
		SUM(CANCELADAS) AS CANCELADAS,
		ISNULL((SELECT		SUM(X.VLR_FINANC) 
			FROM	RELAPRODTEMP X	(NOLOCK)
			WHERE	X.PAGAS <> 0 ),0.0) AS VLR_PAGO,
		0.0, 0.0, 0.0,		 0.0
FROM	CRED_TEMPO_temp2 R (NOLOCK)

-- PRC %
-- SELECT PENDENTES , (PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS),PENDENTES/(PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS),* FROM PRODUTIVIDADE
-- +ANALISE ENTRA NO TTL DA LINHA
UPDATE	PRODUTIVIDADE2
	SET	PRC_PENDENTE = CASE WHEN PENDENTES+ APROVADAS +REPROVADAS  +CANCELADAS+ANALISE = 0 THEN 0 ELSE CONVERT(FLOAT,PENDENTES)  / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS  +CANCELADAS+ANALISE))*100.0 END,
		PRC_APROVADA = CASE WHEN PENDENTES+ APROVADAS +REPROVADAS  +CANCELADAS+ANALISE = 0 THEN 0 ELSE  CONVERT(FLOAT,APROVADAS) / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS+ANALISE))*100.0 END,
		PRC_REPROVADA = CASE WHEN PENDENTES+ APROVADAS +REPROVADAS  +CANCELADAS+ANALISE = 0 THEN 0 ELSE  CONVERT(FLOAT,REPROVADAS) / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS+ANALISE))*100.0 END,
		PRC_CANCELADA = CASE WHEN PENDENTES+ APROVADAS +REPROVADAS  +CANCELADAS+ANALISE = 0 THEN 0 ELSE  CONVERT(FLOAT,CANCELADAS) / CONVERT(FLOAT,(PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS+ANALISE))*100.0 END
-- SELECT * FROM PRODUTIVIDADE (NOLOCK)

-- INSERIDO 13/3/17		*************************		CALCULO DO TEMPO MEDIO *******
UPDATE		PRODUTIVIDADE2
	SET		T_Aprovada = ISNULL(R.TEMPO_MED,0.0)
	FROM	(SELECT ANALISTA,AVG(TEMPO) AS TEMPO_MED FROM CRED_TEMPO_temp2 R1 (NOLOCK)	WHERE APROVADAS=1 GROUP BY ANALISTA) AS R
	WHERE	PRODUTIVIDADE2.ANALISTA = R.ANALISTA
UPDATE		PRODUTIVIDADE2
	SET		T_Reprovada = ISNULL(R.TEMPO_MED,0.0)
	FROM	(SELECT ANALISTA,AVG(TEMPO) AS TEMPO_MED FROM CRED_TEMPO_temp2 R1 (NOLOCK)	WHERE REPROVADAS=1 GROUP BY ANALISTA) AS R
	WHERE	PRODUTIVIDADE2.ANALISTA = R.ANALISTA
UPDATE		PRODUTIVIDADE2
	SET		T_Cancelada = ISNULL(R.TEMPO_MED,0.0)
	FROM	(SELECT ANALISTA,AVG(TEMPO) AS TEMPO_MED FROM CRED_TEMPO_temp2 R1 (NOLOCK)	WHERE CANCELADAS=1 GROUP BY ANALISTA) AS R
	WHERE	PRODUTIVIDADE2.ANALISTA = R.ANALISTA
-- SELECT * FROM CRED_TEMPO_temp2 (NOLOCK)


-- ANALISTA DO CONTRATO
UPDATE	PRODUTIVIDADE2
SET		ANALISTA = USNOMEUSUC
FROM	ACESSOCORP..TUSU (NOLOCK)
WHERE	USNOMEUSU = ANALISTA


IF @ANALISTA = 'MESA'   -- TODOS
BEGIN
SELECT  -- PROMOTORA AS usuario, 
		--CODIGO_PROM 
		ISNULL(ANALISTA,'') AS ANALISTA,
		--PROMOTORA AS ANALISTA,
		-- PROMOTORA,  
		PENDENTES AS PENDENTE , PRC_PENDENTE,
		APROVADAS AS APROVADA ,  PRC_APROVADA, ISNULL(T_APROVADA,0)  AS T_APROVADA,
		REPROVADAS AS REPROVADA, PRC_REPROVADA,ISNULL(T_REPROVADA,0) AS T_REPROVADA,
		CANCELADAS AS CANCELADA, PRC_CANCELADA,ISNULL(T_CANCELADA,0) AS T_CANCELADA,
--		PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS AS TOTAL
		PROMOTORAS+ANALISE AS ANALISE, 
				PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS+ PROMOTORAS+ANALISE AS TOTAL

		--PAGAS,   REPROVADASPROMOTORA,  PROMOTORAS,  ANALISE,   VLR_PAGO
FROM PRODUTIVIDADE2 (NOLOCK)
END

IF @ANALISTA <> 'MESA'   -- FILTRO POR ANALISTA
BEGIN
SELECT  -- PROMOTORA AS usuario, 
		--CODIGO_PROM 
		ISNULL(ANALISTA,'') AS ANALISTA,
		--PROMOTORA AS ANALISTA,
		-- PROMOTORA,  
		PENDENTES AS PENDENTE ,  PRC_PENDENTE,
		APROVADAS AS APROVADA ,  PRC_APROVADA, ISNULL(T_APROVADA,0)  AS T_APROVADA,
		REPROVADAS AS REPROVADA, PRC_REPROVADA,ISNULL(T_REPROVADA,0) AS T_REPROVADA,
		CANCELADAS AS CANCELADA, PRC_CANCELADA,ISNULL(T_CANCELADA,0) AS T_CANCELADA,
--		PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS AS TOTAL
		PROMOTORAS+ANALISE AS ANALISE, 
				PENDENTES+ APROVADAS +REPROVADAS +CANCELADAS+ PROMOTORAS+ANALISE AS TOTAL

		--PAGAS,   REPROVADASPROMOTORA,  PROMOTORAS,  ANALISE,   VLR_PAGO
FROM PRODUTIVIDADE2 (NOLOCK)
WHERE ANALISTA IN ( @ANALISTA,'TOTAL')
END

/*
select * FROM PRODUTIVIDADE2 (NOLOCK)
END
IF @ANALISTA > ''
BEGIN
SELECT	--PROMOTORA AS USUARIO, --CODIGO_PROM, PROMOTORA, 
		ANALISTA,
		--PROMOTORA AS ANALISTA,
		--PAGAS,  APROVADAS,	REPROVADAS,  REPROVADASPROMOTORA,  PROMOTORAS,  ANALISE,  PENDENTES,  CANCELADAS,VLR_PAGO
		PENDENTES AS PENDENTE , PRC_PENDENTE,
		APROVADAS AS APROVADA , PRC_APROVADA,
		REPROVADAS AS REPROVADA, PRC_REPROVADA,
		CANCELADAS AS CANCELADA, PRC_CANCELADA,
		PROMOTORAS+ANALISE AS ANALISE, 
		PENDENTES+ APROVADAS + REPROVADAS + PROMOTORAS+ANALISE AS TOTAL
	
FROM PRODUTIVIDADE2  (NOLOCK)
WHERE ANALISTA IN ( @ANALISTA,'TOTAL')
END
*/

END