USE sig
GO
/****** Object:  StoredProcedure [dbo].[SCR_credito_tempo_total1]    Script Date: 19/03/2017 17:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SCR_credito_tempo_total2 '20170101','20170120','3','NEG','LEVES','','','','',''

-- SCR_credito_tempo_total2 '20170101','20170120','3','APR','LEVES','','','','',''
-- SCR_credito_tempo_total2 '20170101','20170120','4','TTL','LEVES','','','','',''
-- SCR_credito_tempo_total2 '20170101','20170120','TODOS','','','','',''


-- SCR_credito_tempo_total1 '20170101','20170120','TODOS','','','','','941599721'
--AGENTE	OPERADOR	LOJA
--145	001679	008335

-- SCR_credito_tempo_total1 '20170101','20170120','TODOS','','145','','',''


--OLD  SCR_credito_tempo_total1 '20170101','20170120','','LEVES',0,0,''

-- PROC anterior Remover  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_credito_tempo_total2' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_credito_tempo_total2]
GO




        create Procedure [dbo].[SCR_credito_tempo_total2] (

	@DATADE   AS DATETIME, 
	@DATAATE  AS DATETIME,
	@fx_TEMPO AS VARCHAR(100),
	@classe   AS VARCHAR(100),
	@PRODUTO  AS VARCHAR(100),
	@ANALISTA AS VARCHAR(50),
	@AGENTE   AS VARCHAR(100),
	@OPERADOR AS VARCHAR(100),
	@LOJA	  AS VARCHAR(100) ,
	@PROPOSTA AS VARCHAR(30)) AS

		begin


/*
SELECT @DATADE  , 	@DATAATE  ,	@fx_TEMPO ,	@classe   
SELECT	@PRODUTO ,	@ANALISTA ,	@AGENTE  ,	@OPERADOR ,	@LOJA ,	@PROPOSTA


USE SIG

DROP	table AUX_CRED_PROP_TTL
create  table AUX_CRED_PROP_TTL (EpNrProp varchar(30), INI DATETIME , FIM DATETIME , Tempo INT, MODA varchar(20),produto varchar(100),situacao  varchar(10),COD_FX_TEMPO INT,
	ANALISTA VARCHAR(100), AGENTE VARCHAR(100), OPERADOR VARCHAR(100), LOJA VARCHAR(100))


create table AUX_CRED_PROP_TTL_FASE (EpNrProp varchar(30),
EPFASE	INT,EPALCADA	INT,Seq	INT,Entra	DATETIME,Fim	DATETIME)

USE SIG
create table Cred_Cod_tempo (cod_fx_tempo varchar(10), faixa_tempo varchar(100), DE INT, ATE INT)

TRUNCATE TABLE Cred_Cod_tempo 
INSERT Cred_Cod_tempo SELECT  1,'0-30 min' ,0,30
INSERT Cred_Cod_tempo SELECT  2,'31-60 min',31,60
INSERT Cred_Cod_tempo SELECT  3,'1-4 Hrs',61,240
INSERT Cred_Cod_tempo SELECT  4,'4-12 Hrs',241,720
INSERT Cred_Cod_tempo SELECT  5,'12-24 hrs',721,1440  -- 24*60
INSERT Cred_Cod_tempo SELECT  6,'2-3 dias',1441,4320
INSERT Cred_Cod_tempo SELECT  7,'4-7 dias',4321,10080
INSERT Cred_Cod_tempo SELECT  8,'>1 sem',10081,999999

SELECT * FROM Cred_Cod_tempo (NOLOCK)

DROP	table CRED_RPT_TTL2
create  table CRED_RPT_TTL2 (EpNrProp varchar(30), INI DATETIME , FIM DATETIME , Tempo INT, MODA varchar(20),
produto varchar(100),situacao  varchar(10),COD_FX_TEMPO INT, TEMPO_LOJA FLOAT, TEMPO_PROMOTORA FLOAT, TEMPO_MESA FLOAT,
ALCADA FLOAT, FORMALIZACAO FLOAT,
	ANALISTA VARCHAR(100), AGENTE VARCHAR(100), OPERADOR VARCHAR(100), LOJA VARCHAR(100))

create  table CRED_RPT_TTL (COD_FX_TEMPO INT, FAIXA_TEMPO varchar(100), QTDE FLOAT , PRC_QTDE FLOAT , 
APROVADAS FLOAT, PRC_APROVADAS FLOAT,INTEGRADAS FLOAT,PRC_INTEGRADAS FLOAT
,NEGADAS FLOAT, PRC_NEGADAS FLOAT, PENDENTES FLOAT, PRC_PENDENTES FLOAT)


*/




-- propostas q circularam na mesa NO PERIODO *****************  SELECT * FROM AUX_CRED_PROP_TTL
/* -- VEM DA 1A TELA
TRUNCATE TABLE AUX_CRED_PROP_TTL

INSERT AUX_CRED_PROP_TTL (EpNrProp)
SELECT DISTINCT PPNRPROP FROM PROPWEBSMC..CPROP PROP (NOLOCK)
			WHERE	(ppdtbase BETWEEN @DATADE AND @DATAATE
				AND @PROPOSTA='') OR PPNRPROP =@PROPOSTA
--'20160101' and '20160131'

*/

-- MODALIDADE DA PROPOSTA
UPDATE		AUX_CRED_PROP_TTL 
	SET		MODA = (select ppcodOp from PROPWEBSMC..CPROP PROP (NOLOCK)
						where 		AUX_CRED_PROP_TTL.EPNRPROP = PROP.PPNRPROP )

-- **********************
-- das circulantes, qdo entraram	E SUAS FASES
--	TRUNCATE	table AUX_CRED_PROP_TTL_FASE
/*
select * from AUX_CRED_PROP_TTL_FASE (nolock)
INSERT		AUX_CRED_PROP_TTL_FASE
SELECT		EpNrPROP,EPFASE,EPALCADA,MIN(EPNRSEQ) as seq,MIN(EPDTLNC+EPHORALNC) as entra,Max(EPDTHRFIM) as fim , 0.0
	from  (select *
			FROM	PROPWEBSMC..EPROP E2  (NOLOCK)
			order by e2.EpNrPROP,e2.EPNRSEQ) as e1
	where	EpNrProp in (select p.epNrProp from AUX_CRED_PROP_TTL p (nolock))
	GROUP BY EpNrPROP,EPFASE,EPALCADA


SELECT		EpNrPROP,EPFASE,EPALCADA,MIN(EPNRSEQ) as seq,MIN(EPDTLNC+EPHORALNC) as entra,Max(EPDTHRFIM) as fim , 0.0
	from  (	select *
			FROM	PROPWEBSMC..EPROP E2  (NOLOCK)
			where	EpNrProp in (select p.epNrProp from AUX_CRED_PROP_TTL p (nolock))
			order by e2.EpNrPROP,e2.EPNRSEQ

) as e1
	GROUP BY EpNrPROP,EPFASE,EPALCADA


-- AJUSTAR O HR FIM NO FIM DA FASE ************  PELA SEQUENCIA EPNRSEQ  **************
-- SELECT * FROM AUX_CRED_PROP_TTL_FASE (NOLOCK) WHERE EPNRPROP='941596793'
-- SELECT		*	FROM	PROPWEBSMC..EPROP E1  (NOLOCK) WHERE EPNRPROP='941596793'
-- CONTADOR SEQ		******* VER A FASE *******   P/ MESA FASE 3 VER ALCADA TB

select *
FROM (SELECT *
			FROM	PROPWEBSMC..EPROP E1  (NOLOCK)
			where	E1.EpNrProp in (select p.epNrProp from AUX_CRED_PROP_TTL p (nolock))  ) AS E	,
		(SELECT *
			FROM	PROPWEBSMC..EPROP E2  (NOLOCK)
			where	E2.EpNrProp in (select p1.epNrProp from AUX_CRED_PROP_TTL p1 (nolock))
				AND E2.EPNRSEQ = E.EPNRSEQ+1 ) AS S
		WHERE E.EPNRPROP=S.EPNRPROP


SELECT *	FROM	PROPWEBSMC..EPROP E1  (NOLOCK)
			where	E1.EpNrProp in (select p.epNrProp from AUX_CRED_PROP_TTL p (nolock)) 
*/
TRUNCATE TABLE  AUX_CRED_PROP_TTL_FASE
DECLARE @PROP VARCHAR(30)
-- @schemaName VARCHAR(30)    , @procName VARCHAR(30)    , @fullName VARCHAR(60)

/* -- TABELA CARREGADA DA TELA ANTERIOR ****************
-- PRODUTO
update AUX_CRED_PROP_TTL set produto = DESCR_TIPO
FROM	TModa_tipo_prod M (NOLOCK)  , Ttipo_prod T (NOLOCK)
where AUX_CRED_PROP_TTL.Moda =	M.COD_MODA	AND M.COD_PROD  in ( 'V','CG','CP') 					
		 and T.COD_MODALIDADE = M.COD_MODALIDADE 
-- situacao
update	 AUX_CRED_PROP_TTL 
SET		situacao = C.MPSIT
FROM	PROPWEBSMC..CMOVP  C (NOLOCK)
WHERE   AUX_CRED_PROP_TTL.epNrProp = C.MPNRPROP

-- COD_FX_TEMPO
update	 AUX_CRED_PROP_TTL 
SET		COD_FX_TEMPO = C.COD_FX_TEMPO
FROM	Cred_Cod_tempo  C (NOLOCK)
WHERE   AUX_CRED_PROP_TTL.TEMPO BETWEEN  C.DE and C.ATE

-- COD_FX_TEMPO
update	 AUX_CRED_PROP_TTL 
SET		COD_FX_TEMPO = C.COD_FX_TEMPO
FROM	Cred_Cod_tempo  C (NOLOCK)
WHERE   AUX_CRED_PROP_TTL.TEMPO BETWEEN  C.DE and C.ATE

--	ANALISTA VARCHAR(100), AGENTE VARCHAR(100), OPERADOR VARCHAR(100), LOJA VARCHAR(100))
--  SELECT USNOMEUSUC, USNOMEUSU FROM ACESSOCORP..TUSU (NOLOCK) WHERE USATIVO='S'
--  select * from AUX_CRED_PROP_TTL
update	 AUX_CRED_PROP_TTL 
SET		 ANALISTA = U.USNOMEUSUC       -- C.EPUSUARIO
FROM	 PROPWEBSMC..EPROP C  (NOLOCK),
		 ACESSOCORP..TUSU  U  (NOLOCK)
WHERE    AUX_CRED_PROP_TTL.EPNRPROP = C.EPNRPROP
	AND  USNOMEUSU = C.EPUSUARIO
	AND  1= 0+ CASE	WHEN EPNRDECI=100 THEN 1   -- tempo q proposta fica parada
					WHEN EPNRDECI=120 THEN 1	 -- tempo q os analistas ATUAM na proposta
					ELSE	0	END	
/*@ANALISTA='TODOS'  AND  @ANALISTA<>'TODOS' AND 
	AND 1= 0+ CASE	WHEN @ANALISTA='TODOS'  AND EPNRDECI=100 THEN 1   -- tempo q proposta fica parada
					WHEN @ANALISTA<>'TODOS' AND EPNRDECI=120 THEN 1	 -- tempo q os analistas ATUAM na proposta
					ELSE	0	END			*/

-- OPERADOR
--  select * from AUX_CRED_PROP_TTL
--  SELECT * FROM	 PROPWEBSMC..CPROP C  (NOLOCK)
update	 AUX_CRED_PROP_TTL 
SET		 OPERADOR = C.PPCODORG3 --O3DESCR
FROM	 PROPWEBSMC..CPROP C  (NOLOCK)
	--,		 CDCSANTANAMicrocredito..TORG3 O  (NOLOCK) 
WHERE    AUX_CRED_PROP_TTL.EPNRPROP = C.PPNRPROP
--	AND	 C.PPCODORG3 = O3CODORG		-- COD OPERADOR

-- LOJA
--  select * from AUX_CRED_PROP_TTL
--  SELECT * FROM	 PROPWEBSMC..CPROP C  (NOLOCK)
update	 AUX_CRED_PROP_TTL 
SET		 LOJA = PPCODORG4  --O4DESCR
FROM	 PROPWEBSMC..CPROP C  (NOLOCK)
	--,	 CDCSANTANAMicrocredito..TORG4 O  (NOLOCK) 
WHERE    AUX_CRED_PROP_TTL.EPNRPROP = C.PPNRPROP
--	AND	 C.PPCODORG4 = O4CODORG		-- COD LOJA

-- SELECT O3CODORG,O3DESCR FROM 	CDCSANTANAMicrocredito..TORG3 O2  (NOLOCK) WHERE O3ATIVA='A' 
-- AGENTE
--  select * from AUX_CRED_PROP_TTL
--  SELECT * FROM	 PROPWEBSMC..CPROP C  (NOLOCK)
update	 AUX_CRED_PROP_TTL 
SET		 AGENTE = O3CODORGA13	--A13DESCR
FROM	 PROPWEBSMC..CPROP C  (NOLOCK)
		, CDCSANTANAMicrocredito..TORG3 A  (NOLOCK) 
		--, CDCSANTANAMicroCredito..TA1O3  P (nolock)
WHERE    AUX_CRED_PROP_TTL.EPNRPROP = C.PPNRPROP
	AND	 C.PPCODORG3 = O3CODORG		-- COD AGENTE
	--AND  O3CODORGA13 = A13CODORG	-- COD PROMOTOR

*/


-- LIMPA OS CONTRATOS Q NAO SERVEM
DELETE AUX_CRED_PROP_TTL 
		WHERE	NOT (1=0+ CASE WHEN @PRODUTO IN ('0','TODOS')  THEN 1
						  WHEN @PRODUTO NOT IN ('0','TODOS')  AND produto=@PRODUTO THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @ANALISTA IN ('','0','TODOS')  THEN 1
						  WHEN @ANALISTA NOT IN ('','0','TODOS')  AND ANALISTA=@ANALISTA THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @AGENTE IN ('','0','TODOS')  THEN 1
						  WHEN @AGENTE NOT IN ('','0','TODOS')  AND AGENTE=@AGENTE THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @OPERADOR IN ('','0','TODOS')  THEN 1
						  WHEN @OPERADOR NOT IN ('','0','TODOS')  AND OPERADOR=@OPERADOR THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @LOJA IN ('','0','TODOS')  THEN 1
						  WHEN @LOJA NOT IN ('','0','TODOS')  AND LOJA=@LOJA THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @CLASSE='TTL'	THEN 1
						  WHEN	SITUACAO IN ('REP','CAN') AND @CLASSE='NEG'	 THEN 1	--NEGADAS
						  WHEN	SITUACAO IN ('PEN','AND') AND @CLASSE='PEN'	 THEN 1	--PENDENTES
						  WHEN @CLASSE=SITUACAO THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @fx_TEMPO=COD_FX_TEMPO THEN 1
						  ELSE 0 END

			AND	1=0+ CASE WHEN @PROPOSTA=''			THEN 1
						  WHEN @PROPOSTA=EPNRPROP	THEN 1
						  ELSE 0 END

			 AND TEMPO IS NOT NULL )



-- Cursor para percorrer os nomes dos objetos 
DECLARE		@SEQ		INT		SET		@SEQ = 1
DECLARE		@SEQ_MAX	INT		SET		@SEQ_MAX = 9999
DECLARE		@SEQ_ULT	INT		SET		@SEQ_ULT = 1		-- CONTROLA FASES
DECLARE		@ALCADA_ULT	INT		SET		@ALCADA_ULT = 1		-- CONTROLA ALCADA
DECLARE		@FASE		INT		SET		@FASE  = 0
DECLARE		@FASE2		INT		SET		@FASE2 = 1
DECLARE		@ALCADA		INT		SET		@ALCADA  = 0
DECLARE		@ALCADA2	INT		SET		@ALCADA2 = 1

DECLARE		cursor_objects	CURSOR FOR select p.epNrProp from AUX_CRED_PROP_TTL p (nolock)
/*DECLARE	cursor_objects  CURSOR FOR
    SELECT
          ROUTINE_SCHEMA
        , ROUTINE_NAME
    FROM
        INFORMATION_SCHEMA.ROUTINES
    WHERE
        ROUTINE_TYPE = 'PROCEDURE'	*/

-- Abrindo Cursor para leitura
OPEN cursor_objects

-- Lendo a próxima linha
FETCH NEXT FROM cursor_objects INTO @PROP --@schemaName, @procName

-- Percorrendo linhas do cursor (enquanto houverem)
WHILE @@FETCH_STATUS = 0
BEGIN
--    SELECT @fullName = @schemaName + '.' + @procName    EXEC sp_helptext @fullName
	SET		@SEQ = 1
	SET		@SEQ_MAX = (	SELECT	MAX(EPNRSEQ)
							FROM	PROPWEBSMC..EPROP E2  (NOLOCK)
							WHERE	E2.EpNrProp = @PROP)
	WHILE	@SEQ <= @SEQ_MAX
	BEGIN
		SELECT		@FASE = EPFASE, @ALCADA = EPALCADA
			FROM	PROPWEBSMC..EPROP E2  (NOLOCK)
			where	E2.EpNrProp = @PROP
				AND E2.EPNRSEQ  = @SEQ	
		SET			@SEQ = @SEQ + 1		-- proximo passo
		SELECT		@FASE2 = EPFASE, @ALCADA2 = EPALCADA
			FROM	PROPWEBSMC..EPROP E2  (NOLOCK)
			where	E2.EpNrProp = @PROP
				AND E2.EPNRSEQ  = @SEQ	
		IF	@SEQ=2  -- 1A FASE NO INICIO DO 1o PASSO  *********** GRAVA INICIO E FIM
		BEGIN	
			SET			@SEQ_ULT = 1		-- ATUALIZA O CONTROLE DA MUDANCA DE FASE = 1A FASE
			INSERT		AUX_CRED_PROP_TTL_FASE (EPNRPROP, EPFASE,EPALCADA,SEQ,ENTRA,FIM)
				SELECT	@PROP, @FASE, EPALCADA, 1, EPDTLNC+EPHORALNC, EPDTHRFIM
				--SELECT		EpNrPROP,EPFASE,EPALCADA,MIN(EPNRSEQ) as seq,MIN(EPDTLNC+EPHORALNC) as entra,Max(EPDTHRFIM) as fim , 0.0
				FROM	PROPWEBSMC..EPROP E2  (NOLOCK)
				WHERE	EpNrProp = @PROP AND EPNRSEQ = 1  -- FASE ANTERIOR	FIM
		END

		-- 1A FASE NO INICIO OU FASE DIFERENTE  *********** GRAVA INICIO E FIM		-- FASE 3 MESA E ALCADA DIFERENTE
		IF	(@FASE <> @FASE2  AND NOT (@FASE = @FASE2 AND @FASE = 3 AND @ALCADA <> @ALCADA2 ))
			--	AND @ALCADA<>9 		AND @ALCADA2<>9)) 
			AND @SEQ>2 
		BEGIN	
			--  UPDATE EM VEZ DE INSERT		NO FIM DA FASE  EX FASE 1, SEQ 1
			--  INSERT		AUX_CRED_PROP_TTL_FASE (EPNRPROP, EPFASE,EPALCADA,SEQ,ENTRA,FIM)  SELECT	@PROP, @FASE2, EPALCADA, @SEQ, EPDTLNC+EPHORALNC, EPDTHRFIM
				-- ATUALIZA O TEMPO FINAL  ************** DA FASE
				UPDATE	AUX_CRED_PROP_TTL_FASE
					SET	FIM = P.F
				FROM	(SELECT		MAX(EPDTHRFIM) AS F
							FROM	PROPWEBSMC..EPROP E2  (NOLOCK)
							WHERE	EpNrProp = @PROP AND EPNRSEQ BETWEEN @SEQ_ULT AND @SEQ  -- FASE ATUAL INICIO NO CONTROLE E FIM NA SEQ ATUAL
								AND EPFASE   = @FASE )	AS P
				WHERE	EpNrProp = @PROP AND EPFASE = @FASE AND SEQ = @SEQ_ULT
			-- INSERE A NOVA FASE   EX 2
			INSERT		AUX_CRED_PROP_TTL_FASE (EPNRPROP, EPFASE,EPALCADA,SEQ,ENTRA,FIM)
				SELECT	@PROP, @FASE2, EPALCADA, @SEQ, EPDTLNC+EPHORALNC, EPDTHRFIM
				--SELECT		EpNrPROP,EPFASE,EPALCADA,MIN(EPNRSEQ) as seq,MIN(EPDTLNC+EPHORALNC) as entra,Max(EPDTHRFIM) as fim , 0.0
				FROM	PROPWEBSMC..EPROP E2  (NOLOCK)
				WHERE	EpNrProp = @PROP AND EPNRSEQ = @SEQ  -- FASE Atual
				-- GROUP BY EpNrPROP,EPFASE,EPALCADA
			SET			@SEQ_ULT = @SEQ		-- ATUALIZA O CONTROLE DA MUDANCA DE FASE
			SET			@ALCADA_ULT = (SELECT	EPALCADA
										FROM	PROPWEBSMC..EPROP E2  (NOLOCK)
										WHERE	EpNrProp = @PROP AND EPNRSEQ = @SEQ  )
		END
		-- TRATA ALCADAS SEPARADAMENTE DA MESA DE CREDITO
		IF	@FASE = @FASE2  AND @FASE2 = 3   AND @ALCADA <> @ALCADA2 -- FASE 3 MESA OU ALCADA  -- MUDOU DE ALCADA, INCLUI
			--  AND @ALCADA<>9 AND @ALCADA2<>9
			AND @SEQ>2  -- 1A FASE NO INICIO OU FASE DIFERENTE  *********** GRAVA INICIO E FIM
		BEGIN	
			--  UPDATE EM VEZ DE INSERT		NO FIM DA FASE  EX FASE 1, SEQ 1
			--  INSERT		AUX_CRED_PROP_TTL_FASE (EPNRPROP, EPFASE,EPALCADA,SEQ,ENTRA,FIM)  SELECT	@PROP, @FASE2, EPALCADA, @SEQ, EPDTLNC+EPHORALNC, EPDTHRFIM
				-- ATUALIZA O TEMPO FINAL  ************** DA FASE
				UPDATE	AUX_CRED_PROP_TTL_FASE
					SET	FIM = P.F
				FROM	(SELECT		MAX(EPDTHRFIM) AS F
							FROM	PROPWEBSMC..EPROP E2  (NOLOCK)
							WHERE	EpNrProp = @PROP AND EPNRSEQ BETWEEN @SEQ_ULT AND @SEQ  -- FASE ATUAL INICIO NO CONTROLE E FIM NA SEQ ATUAL
								AND EPFASE   = @FASE )	AS P
				WHERE	EpNrProp = @PROP AND EPFASE = @FASE AND SEQ = @SEQ_ULT	AND EPALCADA = @ALCADA_ULT
			-- INSERE A NOVA FASE   EX 2
			INSERT		AUX_CRED_PROP_TTL_FASE (EPNRPROP, EPFASE,EPALCADA,SEQ,ENTRA,FIM)
				SELECT	@PROP, @FASE2, EPALCADA, @SEQ, EPDTLNC+EPHORALNC, EPDTHRFIM
				--SELECT		EpNrPROP,EPFASE,EPALCADA,MIN(EPNRSEQ) as seq,MIN(EPDTLNC+EPHORALNC) as entra,Max(EPDTHRFIM) as fim , 0.0
				FROM	PROPWEBSMC..EPROP E2  (NOLOCK)
				WHERE	EpNrProp = @PROP AND EPNRSEQ = @SEQ  -- FASE Atual COM ALCADA NOVA
				-- GROUP BY EpNrPROP,EPFASE,EPALCADA
			SET			@SEQ_ULT = @SEQ		-- ATUALIZA O CONTROLE DA MUDANCA DE FASE
		END


/* NAO PRECISA PQ ALTEREI O FIM COM O MAX  TEMPO TOTAL DA FASE		*******************
		IF	@FASE = @FASE2    -- MESMA FASE, MAS TEM TEMPO TRABALHADO** CONTAR
		BEGIN	
			INSERT		AUX_CRED_PROP_TTL_FASE (EPNRPROP, EPFASE,EPALCADA,SEQ,ENTRA,FIM)
				SELECT	@PROP, @FASE, EPALCADA, @SEQ, EPDTLNC+EPHORALNC, EPDTHRFIM
				FROM	PROPWEBSMC..EPROP E2  (NOLOCK)
				WHERE	EpNrProp = @PROP AND EPNRSEQ = @SEQ  -- FASE ATUAL 
					AND	DATEDIFF(MINUTE,EPDTLNC+EPHORALNC,EPDTHRFIM)  >0	-- TEM TEMPO TRABALHADO
		END

		-- TRATA ALÇADAS
		IF	@FASE =3 AND @FASE2=3 AND @ALCADA <> @ALCADA2 -- FASE 3 MESA OU ALCADA
			INSERT	AUX_CRED_PROP_TTL_FASE (EPNRPROP, EPFASE,EPALCADA,SEQ,ENTRA,FIM)
			SELECT	@PROP, @FASE, EPALCADA, @SEQ-1, EPDTLNC+EPHORALNC, EPDTHRFIM
			--SELECT		EpNrPROP,EPFASE,EPALCADA,MIN(EPNRSEQ) as seq,MIN(EPDTLNC+EPHORALNC) as entra,Max(EPDTHRFIM) as fim , 0.0
			FROM	PROPWEBSMC..EPROP E2  (NOLOCK)
			WHERE	EpNrProp = @PROP AND EPNRSEQ = @SEQ-1  -- FASE ANTERIOR
			-- GROUP BY EpNrPROP,EPFASE,EPALCADA
*/
			
	END
-- SELECT * FROM AUX_CRED_PROP_TTL_FASE 
    -- Lendo a próxima linha
    FETCH NEXT FROM cursor_objects INTO @PROP  -- @schemaName, @procName
END

-- Fechando Cursor para leitura
CLOSE cursor_objects

-- Desalocando o cursor
DEALLOCATE cursor_objects 


-- FIM   AJUSTE O HR FIM NO FIM DA FASE ************  PELA SEQUENCIA EPNRSEQ  **************


-- tempo TOTAL	1 ************
UPDATE		AUX_CRED_PROP_TTL 
SET			AUX_CRED_PROP_TTL.INI=T.INI, AUX_CRED_PROP_TTL.FIM=T.FIM, AUX_CRED_PROP_TTL.TEMPO=T.TEMPO
FROM		(select		 EpNrProp , min(entra) as Ini, max(isnull(fim,entra)) as Fim,datediff(mi,min(entra), max(isnull(fim,entra))) as tempo
				from	 AUX_CRED_PROP_TTL_FASE	(NOLOCK)-- order by epNrProp,Seq
				group by EpNrProp	) AS T
WHERE		AUX_CRED_PROP_TTL.EPNRPROP = T.EPNRPROP

-- RELATORIO COM OS TEMPOS ***********************************
TRUNCATE TABLE CRED_RPT_TTL2
INSERT	CRED_RPT_TTL2
 (	EpNrProp , INI  , FIM  , Tempo , MODA ,
	produto ,situacao  ,	COD_FX_TEMPO ,
	 TEMPO_LOJA , TEMPO_PROMOTORA , TEMPO_MESA ,ALCADA , FORMALIZACAO ,
	ANALISTA , AGENTE , OPERADOR , LOJA )
SELECT	DISTINCT	EpNrProp , INI  , FIM  , Tempo , MODA , produto ,situacao  ,COD_FX_TEMPO,
	0.0,0.0,0.0,0.0,0.0,
	ANALISTA , AGENTE , OPERADOR , LOJA 
	--SELECT *  FROM CRED_RPT_TTL2
FROM	AUX_CRED_PROP_TTL	(NOLOCK)
		WHERE	1=0+ CASE WHEN @PRODUTO IN ('0','TODOS')  THEN 1
						  WHEN @PRODUTO NOT IN ('0','TODOS')  AND produto=@PRODUTO THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @ANALISTA IN ('','0','TODOS')  THEN 1
						  WHEN @ANALISTA NOT IN ('','0','TODOS')  AND ANALISTA=@ANALISTA THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @AGENTE IN ('','0','TODOS')  THEN 1
						  WHEN @AGENTE NOT IN ('','0','TODOS')  AND AGENTE=@AGENTE THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @OPERADOR IN ('','0','TODOS')  THEN 1
						  WHEN @OPERADOR NOT IN ('','0','TODOS')  AND OPERADOR=@OPERADOR THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @LOJA IN ('','0','TODOS')  THEN 1
						  WHEN @LOJA NOT IN ('','0','TODOS')  AND LOJA=@LOJA THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @CLASSE='TTL'	THEN 1
						  WHEN	SITUACAO IN ('REP','CAN') AND @CLASSE='NEG'	 THEN 1	--NEGADAS
						  WHEN	SITUACAO IN ('PEN','AND') AND @CLASSE='PEN'	 THEN 1	--PENDENTES
						  WHEN @CLASSE=SITUACAO THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @fx_TEMPO=COD_FX_TEMPO THEN 1
						  ELSE 0 END


			 AND TEMPO IS NOT NULL

-- SOMA OS TEMPOS POR FASE
UPDATE	AUX_CRED_PROP_TTL_FASE	
	SET TEMPO_TTL = CASE	WHEN FIM IS NULL THEN 0.0 
							ELSE DATEDIFF(MINUTE,ENTRA,FIM) END	


--	 TEMPO_LOJA , TEMPO_PROMOTORA , TEMPO_MESA ,ALCADA , FORMALIZACAO 
--   alter table AUX_CRED_PROP_TTL_FASE add tempo_ttl float
UPDATE		CRED_RPT_TTL2
	SET		TEMPO_LOJA=  T.TTL
	FROM	(SELECT		 EPNRPROP, EPFASE, SUM(TEMPO_TTL) AS TTL
				FROM	 AUX_CRED_PROP_TTL_FASE	(NOLOCK)
				WHERE	 EPFASE=1 -- LOJA
				GROUP BY EPNRPROP, EPFASE ) AS T
	WHERE	CRED_RPT_TTL2.EPNRPROP = T.EPNRPROP

UPDATE		CRED_RPT_TTL2
	SET		TEMPO_PROMOTORA=  T.TTL
	FROM	(SELECT		 EPNRPROP, EPFASE, SUM(TEMPO_TTL) AS TTL
				FROM	 AUX_CRED_PROP_TTL_FASE	(NOLOCK)
				WHERE	 EPFASE=2 -- PROMOTORA 
				GROUP BY EPNRPROP, EPFASE ) AS T
	WHERE	CRED_RPT_TTL2.EPNRPROP = T.EPNRPROP

UPDATE		CRED_RPT_TTL2
	SET		TEMPO_MESA=  T.TTL
	FROM	(SELECT		 EPNRPROP, EPFASE, SUM(TEMPO_TTL) AS TTL
				FROM	 AUX_CRED_PROP_TTL_FASE	(NOLOCK)
				WHERE	 EPFASE = 3  AND EPALCADA = 9 -- MESA D CREDITO
				GROUP BY EPNRPROP, EPFASE ) AS T
	WHERE	CRED_RPT_TTL2.EPNRPROP = T.EPNRPROP

UPDATE		CRED_RPT_TTL2
	SET		ALCADA=  T.TTL
	FROM	(SELECT		 EPNRPROP, EPFASE, SUM(TEMPO_TTL) AS TTL
				FROM	 AUX_CRED_PROP_TTL_FASE	(NOLOCK)
				WHERE	 EPFASE = 3  AND EPALCADA <> 9 -- ALÇADA
				GROUP BY EPNRPROP, EPFASE ) AS T
	WHERE	CRED_RPT_TTL2.EPNRPROP = T.EPNRPROP

UPDATE		CRED_RPT_TTL2
	SET		FORMALIZACAO=  T.TTL
	FROM	(SELECT		 EPNRPROP, SUM(TEMPO_TTL) AS TTL
				FROM	 AUX_CRED_PROP_TTL_FASE	(NOLOCK)
				WHERE	 EPFASE >= 4 -- FORMALIZACAO
				GROUP BY EPNRPROP) AS T
	WHERE	CRED_RPT_TTL2.EPNRPROP = T.EPNRPROP

-- AGENTE NOME  ************** INCLUI EM 14/8/17
update	 CRED_RPT_TTL2 
SET		 AGENTE = AGENTE+ '-' +A13DESCR
FROM	 CDCSANTANAMicroCredito..TA1O3  P (nolock)
WHERE    CRED_RPT_TTL2.AGENTE = A13CODORG	-- COD PROMOTOR OU AGENTE


/*
SELECT * FROM	AUX_CRED_PROP_TTL_FASE	(NOLOCK) WHERE EPNRPROP='941609794'

SELECT * FROM	CRED_RPT_TTL2	(NOLOCK) WHERE EPNRPROP='941605498'
SELECT * FROM	AUX_CRED_PROP_TTL_FASE	(NOLOCK) WHERE EPNRPROP='941605498'

SELECT * 	FROM	PROPWEBSMC..EPROP E2  (NOLOCK)
			WHERE	EpNrProp = '941605498'

create  table CRED_RPT_TTL2 (EpNrProp varchar(30), INI DATETIME , FIM DATETIME , Tempo INT, MODA varchar(20),
produto varchar(100),situacao  varchar(10),COD_FX_TEMPO INT, TEMPO_LOJA FLOAT, TEMPO_PROMOTORA FLOAT, TEMPO_MESA FLOAT,
ALCADA FLOAT, FORMALIZACAO FLOAT,
	ANALISTA VARCHAR(100), AGENTE VARCHAR(100), OPERADOR VARCHAR(100), LOJA VARCHAR(100))

*/

-- MOSTRA NA TELA
/*
SELECT	COD_FX_TEMPO,FAIXA_TEMPO,QTDE,PRC_QTDE AS PRC_QTD,APROVADAS,PRC_APROVADAS,INTEGRADAS,
		PRC_INTEGRADAS,NEGADAS,PRC_NEGADAS,PENDENTES,PRC_PENDENTES FROM	CRED_RPT_TTL (NOLOCK) 
ORDER BY COD_FX_TEMPO
*/


SELECT	--TOP 50
		epnrprop,
		Ini,
		Fim	,
		tempo,
		Moda,
		ISNULL(produto,'') AS produto,
		situacao,
		TEMPO_LOJA AS fase_Loja,
		TEMPO_PROMOTORA AS fase_Promotora,
		TEMPO_MESA AS Mesa,
		ALCADA,
		Formalizacao,
/*		'1' as fase_Loja,
		'2' as fase_Promotora,
		'3' as Mesa,
		'4' as alcada,
		'5' as Formalizacao, */
		Agente
--,		Operador,		Loja
FROM	CRED_RPT_TTL2 (NOLOCK)

/*
SP_HELP CRED_RPT_TTL2
ALTER TABLE CRED_RPT_TTL2 ALTER COLUMN AGENTE VARCHAR(200)

SELECT * FROM	CRED_RPT_TTL2 (NOLOCK)
from AUX_CRED_PROP_TTL (nolock)
		WHERE	1=0+ CASE WHEN @PRODUTO IN ('0','TODOS')  THEN 1
						  WHEN @PRODUTO NOT IN ('0','TODOS')  AND produto=@PRODUTO THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @ANALISTA IN ('','0','TODOS')  THEN 1
						  WHEN @ANALISTA NOT IN ('','0','TODOS')  AND ANALISTA=@ANALISTA THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @AGENTE IN ('','0','TODOS')  THEN 1
						  WHEN @AGENTE NOT IN ('','0','TODOS')  AND AGENTE=@AGENTE THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @OPERADOR IN ('','0','TODOS')  THEN 1
						  WHEN @OPERADOR NOT IN ('','0','TODOS')  AND OPERADOR=@OPERADOR THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @LOJA IN ('','0','TODOS')  THEN 1
						  WHEN @LOJA NOT IN ('','0','TODOS')  AND LOJA=@LOJA THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @CLASSE='TTL'	THEN 1
						  WHEN @CLASSE=SITUACAO THEN 1
						  ELSE 0 END
			 AND TEMPO IS NOT NULL

*/
		end

-- SELECT USNOMEUSUC, USNOMEUSU FROM ACESSOCORP..TUSU (NOLOCK) WHERE USATIVO='S'
-- select DISTINCT SITUACAO  from AUX_CRED_PROP_TTL P  (NOLOCK) where produto='LEVES' AND TEMPO IS NOT NULL
-- SELECT * FROM	 PROPWEBSMC..CPROP C  (NOLOCK) WHERE PPNRPROP='941603724'
-- SELECT * FROM	 PROPWEBSMC..CPROP C  (NOLOCK) WHERE PPNRPROP='941603724'
-- SELECT * FROM	 CDCSANTANAMicrocredito..TORG3 A  (NOLOCK) WHERE O3CODORG='001503'  -- TMC - MARCELO
-- SELECT * FROM	 CDCSANTANAMicrocredito..TORG4 A  (NOLOCK) ORDER BY O4CODORG
--941596793 941599721
--  select * from AUX_CRED_PROP_TTL WHERE AGENTE=145
-- SELECT * FROM CRED_RPT_TTL
-- SELECT *  FROM AUX_CRED_PROP_TTL WHERE '145' NOT IN ('','0','TODOS')  AND AGENTE='145'  -- JP NEGOCIOS ITAPEVA
-- 001503 OPER 
-- 005415 LOJA  FERRARI COMERCIO DE AUT E SERV LTDA ME

