use sig
go

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


SELECT * FROM PROPWEBSMC..EPROP E1  (NOLOCK)
			WHERE	
epNrProp ='941605250' and
EPDTLNC BETWEEN '20170101' AND '20170131'

/*
ALTERADO EM 22/2/17 PARA INCLUIR 2 COLUNAS EM CRED_TEMPO_rpt

ALTER TABLE CRED_TEMPO_rpt ADD  SCORE			FLOAT
ALTER TABLE CRED_TEMPO_rpt ADD  PRC_GARANTIA	FLOAT


ALTER TABLE CRED_TEMPO_rpt alter column produto	varchar(100)

sp_help CRED_TEMPO_rpt
SELECT descr_tipo, descr_tipo as PRODUTO FROM Ttipo_prod (NOLOCK) where COD_PROD  in ( 'V','cg','cp')
*/

-- exec [SCR_credito_tempo] '20160101','20160131','','REFINANCIAMENTO','','',''


-- 5 SEG
-- exec [SCR_credito_tempo] '20151201','20160131','','','','',''
-- exec [SCR_credito_tempo] '20151201','20160131','ALCADA','','','',''

-- exec [SCR_credito_tempo] '20150601','20150630','MESA','','','',''

-- exec [SCR_credito_tempo] '20150601','20150630','','','','',''
-- exec [SCR_credito_tempo] '20150601','20150630','','',0.0,0.0,''
-- exec [SCR_credito_tempo] '20150601','20150630','Luis  Claudio dos Santos','','','',''
-- exec [SCR_credito_tempo] '20150601','20150630','','',7000,10000,''
-- exec [SCR_credito_tempo] '20150801','20150830','MESA','','','',''



-- exec [SCR_credito_tempo] '20150301','20150330',''
-- SOMENTE APOS MES 6
-- exec [SCR_credito_tempo] '20150601','20150630',''
-- select * from CRED_TEMPO_rpt (nolock)
-- select * from CRED_TEMPO_temp (nolock)
-- SELECT * FROM   ACESSOCORP..TUSU (NOLOCK) WHERE USATIVO='S' AND USGRUPO1 IN ('04897','04896') ORDER BY USNOMEUSUC 
-- SELECT * FROM  TModa_tipo_prod M (NOLOCK)  where M.COD_PROD  in ( 'V','cg') 					
-- SELECT descr_tipo FROM   Ttipo_prod T (NOLOCK)   where COD_PROD  in ( 'V','cg') 	order by descr_tipo

-- SELECT descr_tipo, cod_modalidade as cod_prod FROM Ttipo_prod (NOLOCK) where COD_PROD  in ( 'V','cg')
/*
SELECT * FROM	PROPWEBSMC..EPROP E  (NOLOCK) WHERE EPNRPROP='941510565'

SELECT *
FROM	PROPWEBSMC..CPROP PROP (NOLOCK)
	LEFT JOIN PROPWEBSMC..EPROP E  (NOLOCK)
	ON 	E.EPNRPROP = PROP.PPNRPROP 
WHERE 
	E.EPNRPROP = PROP.PPNRPROP   AND 
	ISNULL(PROP.PPVLRFIN,0) > 0  AND
	PROP.PPCODCLI IS NOT NULL    AND 
	PROP.PPQTDDPARC IS NOT NULL  AND
	EPDTLNC BETWEEN '20150801' AND '20150831'
AND EPNRDECI=100

AND 1= 0+ CASE	WHEN @ANALISTA='MESA'  AND EPNRDECI=100 THEN 1
				WHEN @ANALISTA<>'MESA' AND EPNRDECI=120 THEN 1
				ELSE	0	END

SELECT TOP 100 * FROM	PROPWEBSMC..EPROP PROP (NOLOCK)
	WHERE EPNRPROP='941487086'
941493398'

SELECT TOP 100 * FROM	PROPWEBSMC..EPROP PROP (NOLOCK)
	WHERE EPNRPROP='941478517'
WHERE  EPNRDECI=120

*/

-- ALTER
-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_credito_tempoJOCA' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_credito_tempoJOCA] 
GO

-- MENSAL
-- ***************************************
create PROCEDURE [dbo].[SCR_credito_tempoJOCA](
	@DATADE AS DATETIME, 
	@DATAATE AS DATETIME,
	@ANALISTA AS VARCHAR(50),
	@PRODUTO AS VARCHAR(100),
	@VALOR_DE AS VARCHAR(100),
	@VALOR_ATE AS VARCHAR(100),
	@REANALISE AS VARCHAR(10) )

AS
BEGIN

/*
select
	@DATADE , 
	@DATAATE ,
	@ANALISTA ,
	@PRODUTO ,
	@VALOR_DE ,
	@VALOR_ATE ,
	@REANALISE 


-- 20/2/17
ALTER   TABLE CRED_TEMPO_temp	ADD	SCORE FLOAT
ALTER   TABLE CRED_TEMPO_temp	ADD	PERC_GARANTIA FLOAT


DROP   TABLE CRED_TEMPO_temp
CREATE TABLE CRED_TEMPO_temp (
analista  VARCHAR(100), 
dt_proposta datetime, proposta  VARCHAR(50), contrato  VARCHAR(50), dt_contrato varchar(10), produto VARCHAR(50), vlr_financiado FLOAT, 
status VARCHAR(50),  tempo int,DT_entra DATETIME,HR_ENTRA VARCHAR(10),  SITINI VARCHAR(10),
DT_sai DATETIME,HR_SAI VARCHAR(10), SITFIM VARCHAR(10),EPUSUARIO VARCHAR(50), PASSO INT, MODA VARCHAR(10) )

-- antiga
DROP   TABLE CRED_TEMPO_temp
CREATE TABLE CRED_TEMPO_temp (
analista  VARCHAR(100), 
dt_proposta DATETIME, proposta  VARCHAR(50), contrato  VARCHAR(50), dt_contrato DATETIME, produto VARCHAR(50), vlr_financiado FLOAT, 
status VARCHAR(50),  tempo int,DT_entra DATETIME,HR_ENTRA VARCHAR(10),  SITINI VARCHAR(10),
DT_sai DATETIME,HR_SAI VARCHAR(10), SITFIM VARCHAR(10),EPUSUARIO VARCHAR(50), PASSO INT, MODA VARCHAR(10) )
-- tempo VARCHAR(10)

DROP   TABLE CRED_TEMPO_rpt
CREATE TABLE CRED_TEMPO_rpt (
analista  VARCHAR(100), 
dt_proposta DATETIME, proposta  VARCHAR(50), contrato  VARCHAR(50), dt_contrato DATETIME, produto VARCHAR(50), vlr_financiado FLOAT, 
status VARCHAR(50),  tempo int, seq int,REANALISE INT)

ANALISTA,PROPOSTA, DT_PROPOSTA,VLR_FINANCIADO,TEMPO,seq,PRODUTO

select * from CRED_TEMPO_rpt (nolock)
select top 100 * FROM	PROPWEBSMC..CPROP PROP (NOLOCK)

-- REANALISE
SELECT 'VERDADEIRO' FROM CMOVP WHERE ISNULL(MPNUMRA,0) <= '4' AND MPNRPROP = @NRPROP


SELECT TOP 100 * FROM PROPWEBSMC..EPROP E  (NOLOCK) WHERE EPNRPROP='941483954'

-- ANALISTA
SELECT * FROM ACESSOCORP..TUSU  (NOLOCK)
USNOMEUSUC
*/


DELETE CRED_TEMPO_temp

IF @ANALISTA NOT IN ('MESA' ,'ALCADA')
BEGIN
INSERT INTO CRED_TEMPO_temp
(analista, dt_proposta, proposta, contrato, dt_contrato, produto, vlr_financiado, status, 
tempo,DT_entra ,HR_ENTRA ,  SITINI ,
DT_sai ,HR_SAI , SITFIM ,EPUSUARIO,PASSO ,MODA ) 
SELECT 	
		EPUSUARIO analista,
		PROP.PPDTBASE dt_proposta,
		PROP.PPNRPROP proposta,
		'' contrato,
		'' dt_contrato, 
		'' produto,
		ISNULL(PROP.PPVLRFIN, 0.00) vlr_financiado,
		'' status,
		'' tempo,
		EPDTLNC   DT_entra ,
		EPHORALNC HR_ENTRA ,  
		EPSITINI  SITINI,
		CONVERT(VARCHAR(4),DATEPART(YYYY,EPDTHRFIM))+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(MM,EPDTHRFIM))),2)+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(DD,EPDTHRFIM))),2)   DT_sai ,
		SUBSTRING(CONVERT(VARCHAR(20),EPDTHRFIM,120),12,5) HR_SAI, 
		EPSITFIM  SITFIM ,
		EPUSUARIO EPUSUARIO,
		EPNRSEQ,
		PROP.PPCODOP  -- MODA
/*		INCLUIR NOVOS CAMPOS SCORE, PERCENTUAL DE GARANTIA  **************** 20/2/17
		,(SELECT PPSCORING FROM  PropWebSMC..CPROP B2 (NOLOCK)
					WHERE	B2.PPNRPROP= E.EPNRPROP)  
*/
FROM	(SELECT * FROM PROPWEBSMC..EPROP E1  (NOLOCK)
			WHERE	EPDTLNC BETWEEN @DATADE AND @DATAATE
				AND 1= 0+ CASE	WHEN @ANALISTA='MESA'  AND EPNRDECI=100 THEN 1   -- tempo q proposta fica parada
								WHEN @ANALISTA<>'MESA' AND EPNRDECI=120 THEN 1	 -- tempo q os analistas ATUAM na proposta
								ELSE	0	END	) AS E
--		CDCSANTANAMicrocredito .. TORG3 O3  (NOLOCK), 
	LEFT JOIN 	PROPWEBSMC..CPROP PROP (NOLOCK)
	ON 	E.EPNRPROP = PROP.PPNRPROP 
	
--, 		CDCSANTANAMicrocredito..TORG2 O2  (NOLOCK)
-- 	PROPWEBSMC..CMOVP MOV (NOLOCK)
WHERE 
/*	P.PPCODORG3 = O3.O3CODORG AND 
	P.PPCODORG2 = O2.O2CODORG AND   */
	E.EPNRPROP = PROP.PPNRPROP   AND 
	ISNULL(PROP.PPVLRFIN,0) > 0  AND
	PROP.PPCODCLI IS NOT NULL    AND 
	PROP.PPQTDDPARC IS NOT NULL  
--	PROP.PPDTBASE BETWEEN @DATADE AND @DATAATE

END
IF @ANALISTA='MESA' 
BEGIN
INSERT INTO CRED_TEMPO_temp
(analista, dt_proposta, proposta, contrato, dt_contrato, produto, vlr_financiado, status, 
tempo,DT_entra ,HR_ENTRA ,  SITINI ,
DT_sai ,HR_SAI , SITFIM ,EPUSUARIO,PASSO ,MODA ) 
SELECT 	
		EPUSUARIO analista,
		PROP.PPDTBASE dt_proposta,
		PROP.PPNRPROP proposta,
		'' contrato,
		'' dt_contrato, 
		'' produto,
		ISNULL(PROP.PPVLRFIN, 0.00) vlr_financiado,
		'' status,
		'' tempo,
		EPDTLNC   DT_entra ,
		EPHORALNC HR_ENTRA ,  
		EPSITINI  SITINI,
		CONVERT(VARCHAR(4),DATEPART(YYYY,EPDTHRFIM))+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(MM,EPDTHRFIM))),2)+
		RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(DD,EPDTHRFIM))),2)   DT_sai ,
		SUBSTRING(CONVERT(VARCHAR(20),EPDTHRFIM,120),12,5) HR_SAI, 
		EPSITFIM  SITFIM ,
		EPUSUARIO EPUSUARIO,
		EPNRSEQ,
		PROP.PPCODOP  -- MODA
FROM	(SELECT * FROM PROPWEBSMC..EPROP E1  (NOLOCK)
			WHERE	EPDTLNC BETWEEN @DATADE AND @DATAATE
				--	  PROP.PPDTBASE BETWEEN @DATADE AND @DATAATE
				--    TEMPO DO PASSO 100, 1a PASSAGEM
				AND EPNRDECI=100 
				AND EPNRSEQ = (SELECT	MIN(EPNRSEQ) FROM PROPWEBSMC..EPROP E2  (NOLOCK)
								WHERE	E2.EPNRPROP = E1.EPNRPROP
									AND	E2.EPNRDECI=100)  -- ANTES TEMPO COM PROMOTORA
				) AS E
	LEFT JOIN	PROPWEBSMC..CPROP PROP (NOLOCK)
		ON 		E.EPNRPROP = PROP.PPNRPROP 
WHERE 
	E.EPNRPROP = PROP.PPNRPROP   AND 
	ISNULL(PROP.PPVLRFIN,0) > 0  AND
	PROP.PPCODCLI IS NOT NULL    AND 
	PROP.PPQTDDPARC IS NOT NULL  
END

-- calculo do TEMPO  ************************************************
IF @ANALISTA='MESA'     -- tempo q proposta fica parada
-- NAO CONTAR O SABADO
BEGIN
	UPDATE CRED_TEMPO_temp
		SET TEMPO=	(dbo.FN_TEMPO_ANALISE(DT_ENTRA, HR_ENTRA,DT_sai, HR_sai))
END


		-- QDO SELECIONAR ALCADA, APARECEM NA TELA.
		-- QDO SELECIONAR TODOS,  AS ALÇADAS NÃO APARECEM
		IF		@ANALISTA='ALCADA'
		BEGIN
			-- INCLUI ALCADA EM JAN-16 ********************* PASSOS DA ALÇADA: 12,13,32,62,155
			INSERT INTO CRED_TEMPO_temp
			(analista, dt_proposta, proposta, contrato, dt_contrato, produto, vlr_financiado, status, 
			tempo,DT_entra ,HR_ENTRA ,  SITINI ,
			DT_sai ,HR_SAI , SITFIM ,EPUSUARIO,PASSO ,MODA ) 
			SELECT 	
					EPUSUARIO analista,
					PROP.PPDTBASE dt_proposta,
					PROP.PPNRPROP proposta,
					'' contrato,
					'' dt_contrato, 
					'' produto,
					ISNULL(PROP.PPVLRFIN, 0.00) vlr_financiado,
					'' status,
					'' tempo,
					EPDTLNC   DT_entra ,
					EPHORALNC HR_ENTRA ,  
					EPSITINI  SITINI,
					CONVERT(VARCHAR(4),DATEPART(YYYY,EPDTHRFIM))+
					RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(MM,EPDTHRFIM))),2)+
					RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(DD,EPDTHRFIM))),2)   DT_sai ,
					SUBSTRING(CONVERT(VARCHAR(20),EPDTHRFIM,120),12,5) HR_SAI, 
					EPSITFIM  SITFIM ,
					EPUSUARIO EPUSUARIO,
					EPNRSEQ,
					PROP.PPCODOP  -- MODA
			FROM	(SELECT *	FROM PROPWEBSMC..EPROP E1  (NOLOCK)
						WHERE	EPDTLNC BETWEEN @DATADE AND @DATAATE
							--  AND 1= 0+ CASE	WHEN @ANALISTA<>'MESA' AND 
							AND EPNRDECI IN (6,7, 12,13,32,62,  63,149,150,151,  155) 
							--  THEN 1	 -- tempo q os analistas ATUAM na proposta
							--	ELSE	0	END		
						) AS E
				LEFT JOIN	PROPWEBSMC..CPROP PROP (NOLOCK)
					ON 		E.EPNRPROP = PROP.PPNRPROP 
			WHERE 
				E.EPNRPROP = PROP.PPNRPROP   AND 
				ISNULL(PROP.PPVLRFIN,0) > 0  AND
				PROP.PPCODCLI IS NOT NULL    AND 
				PROP.PPQTDDPARC IS NOT NULL  
			--	PROP.PPDTBASE BETWEEN @DATADE AND @DATAATE
		END


IF @ANALISTA<>'MESA'     -- tempo q proposta fica parada
-- CONTAR O SABADO DE 8H30 A 13H
BEGIN
		-- atualiza

	UPDATE CRED_TEMPO_temp
		SET TEMPO=	(dbo.FN_TEMPO_ANALISE_SAB(DT_ENTRA, HR_ENTRA,DT_sai, HR_sai))
END


/*

SELECT * FROM	PROPWEBSMC..CPROP PROP (NOLOCK)
-- TODOS OS PASSOS
SELECT * FROM PROPWEBSMC..EPROP E  (NOLOCK) WHERE EPDTLNC BETWEEN '20150301' AND '20150331' 
-- NOVO STATUS MESA DE CREDITO DEPOIS ALCADA NAO CONTA. SOMENTE HC
SELECT * FROM PROPWEBSMC..EPROP E  (NOLOCK) WHERE EPDTLNC BETWEEN '20150601' AND '20150630' AND EPNRDECI=120
SELECT * FROM PROPWEBSMC..CMOVP E  (NOLOCK) WHERE MPDTCAD BETWEEN '20150301' AND '20150331'
-- ULTIMO STATUS E USUARIO

-- NAO CONTAR O TEMPO DE PENDENTE

SELECT * FROM ACESSOCORP..TUSU (NOLOCK) WHERE USCODUSU='01037'

SELECT * FROM PROPWEBSMC..EPROP E  (NOLOCK) WHERE EPNRPROP='941478456'

SELECT SUBSTRING('1234567890ABCDEFGHI',12,6)

SELECT SUBSTRING(CONVERT(VARCHAR(20),GETDATE()),12,6)

SELECT CONVERT(VARCHAR(20),GETDATE(),120)

*/

/*
-- DADOS DO CONTRATO

UPDATE	CRED_TEMPO_temp
	SET	contrato	= OPNROPER,
		dt_contrato = OPDTBASE
FROM	CDCSANTANAMicroCredito..coper  OPER  (NOLOCK) 
WHERE	OPER.OPNRPROP = CRED_TEMPO_temp.PROPOSTA



-- ENTRADA



-- TELA
SELECT * FROM CRED_TEMPO_temp (NOLOCK)

select convert(varchar(4),SUM(DATEDIFF(MINUTE, '0:00:00', tempo)) /60 )+':'+convert(varchar(2),(SUM(DATEDIFF(MINUTE, '0:00:00', tempo)) -SUM(DATEDIFF(MINUTE, '0:00:00', tempo))/60*60))  from  CRED_TEMPO_temp (NOLOCK)

SP_HELP CRED_TEMPO_rpt
*/

-- SELECT * FROM CRED_TEMPO_temp (NOLOCK)
-- 


DELETE CRED_TEMPO_rpt

INSERT CRED_TEMPO_rpt (ANALISTA,PROPOSTA, DT_PROPOSTA,VLR_FINANCIADO,TEMPO,seq,PRODUTO)
SELECT	ANALISTA,	 --	DT_PROPOSTA,
		PROPOSTA,
		MAX(DT_PROPOSTA),
		-- OPNROPER AS CONTRATO, 		OPDTBASE AS DT_CONTRATO, '' AS PRODUTO, 
		MAX(VLR_FINANCIADO),
		--MPSIT,
		SUM(ISNULL(tempo,0.0))  AS TEMPO
		,seq = MAX(PASSO),
		PRODUTO = MAX(MODA)
		--MIN(DT_ENTRA) AS DT_ENTRA, MAX(DT_SAI) AS DT_SAI,
FROM	CRED_TEMPO_temp (NOLOCK)
GROUP BY ANALISTA, PROPOSTA

-- SP_HELP CRED_TEMPO_rpt
/*
UPDATE	CRED_TEMPO_rpt
SET		--analista = C.EPUSUARIO,
		STATUS   = C.SITFIM
FROM		CRED_TEMPO_temp  C (NOLOCK)
LEFT JOIN	CDCSANTANAMicroCredito..coper  OPER  (NOLOCK) 
	ON		OPER.OPNRPROP = C.proposta
*/

UPDATE	CRED_TEMPO_rpt
SET		STATUS   = MPSIT,
		REANALISE = CASE	WHEN MPNUMRA IS NULL THEN 0  -- 1A ANALISE
							ELSE 1		-- CONTADOR >=1 EH REANALISE
					END
FROM	PROPWEBSMC..CMOVP E  (NOLOCK)
WHERE	MPNRPROP = PROPOSTA

-- ATUALIZA DADOS DA PROPOSTA **********************  
-- ATUALIZA DADOS DO CONTRATO
UPDATE	CRED_TEMPO_rpt
SET		contrato = OPCODORG3,   --OPNROPER,  OPERADOR
		dt_contrato = OPCODORG3,
		PRODUTO = OPCODOP
FROM		CRED_TEMPO_rpt R (NOLOCK)
JOIN	CDCSANTANAMicroCredito..coper  OPER  (NOLOCK) 
	ON	OPER.OPNRPROP = R.proposta

-- ATUALIZA DADOS DO CONTRATO COM AGENTE ALTERADO 11/2015 ****************
		-- COD OPERADOR
		UPDATE	CRED_TEMPO_rpt
		SET		CONTRATO = PPCODORG3
		FROM	CRED_TEMPO_rpt R (NOLOCK)
		JOIN	PROPWEBSMC..CPROP PROP (NOLOCK)
			ON	PROP.PPNRPROP = R.proposta
		-- COD AGENTE
		UPDATE		CRED_TEMPO_rpt
			SET		CONTRATO =  ISNULL(OP.O3CODORGA13,'')     --AGENTE
				,	dt_contrato = ISNULL(OP.O3CODORGA13,'')   --AGENTE
			FROM	CDCSANTANAMicroCredito..TORG3 OP (NOLOCK) 
			WHERE	CONTRATO = O3CODORG 
		-- NOME DO AGENTE ********************	
		UPDATE		CRED_TEMPO_rpt
			SET		CONTRATO		= ISNULL(A.A13DESCR,'') -- NOME DO AGENTE OU PROMOTORA
			FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)
			WHERE	CONTRATO = A13CODORG --a.COD_agente  -- CONTEM CODIGO



-- SELECT * FROM CRED_TEMPO_rpt (NOLOCK)
/*
SP_HELP CRED_TEMPO_rpt
		-- COD DO AGENTE ********************	
		UPDATE	RATING_PROJETADO
		SET		AGENTE		= ISNULL(OP.O3CODORGA13,'') -- ISNULL(A.COD_AGENTE,'')
		FROM	CDCSANTANAMicroCredito..TORG3 OP (NOLOCK) 
		WHERE	AGENTE = O3CODORG  -- OPERADOR
		-- OPERADOR AGENTE= OPCODORG3
		-- NOME DO AGENTE ********************	
		UPDATE	RATING_PROJETADO
		SET		AGENTE		= ISNULL(A.A13DESCR,'') --ISNULL(A.agente,'')
		FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)
		WHERE	AGENTE = A13CODORG --a.COD_agente  -- CONTEM CODIGO

SELECT * FROM CDCSANTANAMicroCredito..coper  OPER  (NOLOCK)  WHERE OPNRPROP='941481549'
SELECT * FROM CDCSANTANAMicroCredito..coper  OPER  (NOLOCK)  WHERE OPNRPROP='941400069'



-- ANTES SOMENTE O ULTIMO ANALISTA DAS PROPOSTAS
UPDATE	CRED_TEMPO_rpt
SET		analista = C.EPUSUARIO
FROM		CRED_TEMPO_rpt R (NOLOCK)
JOIN		CRED_TEMPO_temp  C (NOLOCK)
	ON R.PROPOSTA = C.PROPOSTA
	AND C.PASSO = R.SEQ
*/

UPDATE	CRED_TEMPO_rpt
SET		PRODUTO = DESCR_TIPO
--  SELECT *
FROM		CRED_TEMPO_rpt R (NOLOCK)
		-- INCLUIDO PRODUTO CP EM  24/02/2017
		LEFT JOIN TModa_tipo_prod M (NOLOCK)  ON R.PRODUTO =	M.COD_MODA	AND M.COD_PROD  in ( 'V','CG','CP') 					
		LEFT JOIN Ttipo_prod T (NOLOCK) ON T.COD_MODALIDADE = M.COD_MODALIDADE 			

-- ULTIMO STATUS DA PROPOSTA
UPDATE	CRED_TEMPO_rpt
SET		status = C.MPSIT
FROM	PROPWEBSMC..CMOVP  C (NOLOCK)
WHERE   PROPOSTA = C.MPNRPROP

-- NOME DO ANALISTA
UPDATE	CRED_TEMPO_rpt
SET		ANALISTA = USNOMEUSUC
FROM	ACESSOCORP..TUSU  C (NOLOCK)
WHERE   ANALISTA = C.USNOMEUSU


/* 
-- REANALISE
SELECT * FROM CRED_TEMPO_rpt JOIN
 PROPWEBSMC..CMOVP ON MPNRPROP = PROPOSTA
WHERE ISNULL(MPNUMRA,0) <= '4'  AND MPNUMRA IS NOT NULL
AND MPNRPROP = @NRPROP

SELECT * FROM		ACESSOCORP..TUSU  C (NOLOCK)
SELECT * FROM CRED_TEMPO_rpt (NOLOCK)
		AND OPCODOP IN (SELECT	M.COD_MODA
						FROM	 Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
						AND T.COD_PROD = 'V' )

SELECT * FROM CRED_TEMPO_rpt (NOLOCK)
SELECT * FROM CRED_TEMPO_temp  C (NOLOCK)

DO MELFI
	select 
		USU.USNOMEUSU analista,
		PROP.PPDTBASE dt_proposta,
		PROP.PPNRPROP proposta,
		OPER.OPNROPER contrato,
		OPER.OPDTBASE dt_contrato, 
		descr_tipo produto,
		ISNULL(PROP.PPVLROPCZ, 0.00) vlr_financiado,
		MPSIT staus,
		dbo.FN_CONVMIN(dbo.FN_TEMPO_ANALISE(ENT.EPDTLNC, ENT.EPHORALNC,SAI2.EPDTLNC, SAI2.EPHORALNC)) tempo

	FROM
		propwebsmc..cprop (NOLOCK) PROP
		INNER JOIN propwebsmc..EPROP AS ENT (NOLOCK) ON PROP.PPNRPROP = ENT.EPNRPROP 
			AND  ENT.EPNRPROP  -- NOT 
				IN (SELECT 		DISTINCT Y.EPNRPROP 
						FROM	propwebsmc..EPROP Y (NOLOCK)
						JOIN	PROPWEBSMC..CMOVP M (NOLOCK)
						ON		Y.EPNRPROP = M.MPNRPROP  
						WHERE	Y.EPNRPROP = PROP.PPNRPROP    -- ALTEREI DE 92 P/ 120
							AND Y.EPNRDECI = 120 )
				--			AND MPSIT IN ('AND') )
							AND ENT.EPNRDECI IN (   120)  -- 155 MUDEI PRA 120  ANTES 13, 
							AND ENT.EPNRSEQ = (SELECT MIN(X.EPNRSEQ) FROM propwebsmc..EPROP X 	(NOLOCK) 
												WHERE X.EPNRPROP = PROP.PPNRPROP
													AND X.EPNRDECI = 120 ) 
--AND X.EPNRDECI IN ( 13,    155) )  --154,

			LEFT JOIN propwebsmc..CMOVP 	(NOLOCK)	ON MPNRPROP = PPNRPROP
			LEFT JOIN propwebsmc..EPROP AS SAI (NOLOCK)  ON PROP.PPNRPROP = SAI.EPNRPROP  
--				  AND SAI.EPNRDECI IN ( 20, 22 ,  37,  38,  99, 71, 73, 75) 
			  AND SAI.EPDTLNC + SAI.EPHORALNC = (SELECT MIN(X.EPDTLNC + X.EPHORALNC) 
												   FROM propwebsmc..EPROP X  (NOLOCK) 
												  WHERE X.EPNRPROP = ENT.EPNRPROP 
												AND X.EPNRDECI IN ( 120) )
										--			AND X.EPNRDECI IN ( 20, 22 ,  37,  38,  99, 71, 73, 75)  ) 
												  AND SAI.EPNRSEQ = (SELECT MIN(X1.EPNRSEQ) 
																	   FROM propwebsmc..EPROP X1  (NOLOCK) 
																	  WHERE X1.EPNRPROP = PROP.PPNRPROP  
AND X1.EPNRDECI IN ( 120))
																--		AND X1.EPNRDECI IN ( 20, 22 ,  37,  38,  99, 71, 73, 75)) 
			LEFT JOIN propwebsmc..EPROP AS SAI2 (NOLOCK)  ON PROP.PPNRPROP  = SAI2.EPNRPROP 
				AND     ( SAI2.EPNRDECI IN ( 120) )		AND 
--  ( SAI2.EPNRDECI IN ( 20, 22,   38,  99, 73, 75) )		AND 
				SAI2.EPDTLNC + SAI2.EPHORALNC = (SELECT MIN(X.EPDTLNC + X.EPHORALNC) 
													  FROM propwebsmc..EPROP X  (NOLOCK) 
													 WHERE X.EPNRPROP = ENT.EPNRPROP 
AND X.EPNRDECI IN ( 120)
									--				   AND X.EPNRDECI IN ( 20, 22,   38,  99, 73, 75)
													   AND X.EPNRSEQ > ENT.EPNRSEQ) 
				AND SAI2.EPNRSEQ = (SELECT MIN(X1.EPNRSEQ) 
									 FROM propwebsmc..EPROP X1  (NOLOCK) 
									WHERE X1.EPNRPROP = PROP.PPNRPROP 
AND X1.EPNRDECI IN ( 120)
									--  AND X1.EPNRDECI IN  ( 20, 22,   38,  99, 73, 75)
									  AND X1.EPNRSEQ > ENT.EPNRSEQ) 
				AND SAI2.EPNRSEQ > ENT.EPNRSEQ
		INNER JOIN ACESSOCORP..TUSU (NOLOCK) USU ON SAI2.EPUSUINI = USU.USNOMEUSU 
		LEFT  JOIN CDCSANTANAMicroCredito..coper (NOLOCK) OPER ON OPER.OPNROPER = PROP.PPNROPER
		LEFT JOIN TModa_tipo_prod M (NOLOCK)  ON OPCODOP =	M.COD_MODA	AND m.COD_PROD  in ( 'V','cg') 					
		LEFT JOIN Ttipo_prod T (NOLOCK) ON T.COD_MODALIDADE = M.COD_MODALIDADE 			
-- 52 E 53 ESTEIRAS DE VEICULO E MOTO
-- SELECT * FROM 	propwebsmc..TDECI (NOLOCK)

	 WHERE  	
	 (    --    MPSIT <> 'AND' or 
 SAI.EPSITfim<> 'AND' OR SAI.EPSITINI<>'AND'
--					or mpnrdeci in  ( 20, 22 , 38 , 99 ,96, 73 , 75, 92)

 ) AND
	  PROP.PPDTBASE BETWEEN @DATADE AND @DATAATE AND
	  (
		@ANALISTA = '' OR USU.USNOMEUSU = @ANALISTA
	   )
	GROUP BY USU.USNOMEUSU, PROP.PPNRPROP, PROP.PPDTBASE,OPER.OPDTBASE, OPER.OPNROPER, PROP.PPTPPROD, descr_tipo,
	MPSIT, PROP.PPVLROPCZ,SAI2.EPDTLNC, SAI2.EPHORALNC, ENT.EPDTLNC, ENT.EPHORALNC
*/

-- EXCLUI OS REGISTROS DESNECESSARIOS
/* PROBLEMA COM PRODUTOS REFIN -- TESTE 24/02/17  */

DELETE
FROM 	CRED_TEMPO_rpt 
			-- NAO APAGAR
WHERE NOT (
	    1= 0 + CASE WHEN @ANALISTA NOT IN ('','MESA','ALCADA') AND ANALISTA =@ANALISTA THEN 1	
					WHEN @ANALISTA='MESA'	 THEN 1	
					WHEN @ANALISTA='ALCADA'  THEN 1	
					WHEN @ANALISTA=''  THEN 1	
				  ELSE 0 END
	AND 1= 0 + CASE WHEN @PRODUTO<>'' AND PRODUTO =@PRODUTO THEN 1	
					WHEN @PRODUTO=''  THEN 1	
				  ELSE 0 END
	AND 1= 0 + CASE WHEN @REANALISE='0' AND REANALISE =0 THEN 1
				  WHEN @REANALISE='1' AND REANALISE =1 THEN 1
				  WHEN @REANALISE=''					THEN 1
				ELSE 0 END
	AND 1= 0 + CASE WHEN @VALOR_DE<>'' AND @VALOR_ATE<>'' AND VLR_FINANCIADO BETWEEN CONVERT(FLOAT,@VALOR_DE) AND CONVERT(FLOAT,@VALOR_ATE)  THEN 1	
					WHEN @VALOR_DE='' AND @VALOR_ATE=''  THEN 1	
				  ELSE 0 END 
)


-- INCLUIR LINHA DE TTL
--  SP_HELP CRED_TEMPO_rpt
--  SELECT * FROM CRED_TEMPO_rpt (NOLOCK)
/*
SELECT  'TOTAL','',COUNT(DISTINCT PROPOSTA) , COUNT(DISTINCT CONTRATO), '',COUNT(DISTINCT PRODUTO), SUM(DISTINCT VLR_FINANCIADO),
'','',CONVERT(VARCHAR(10),CONVERT(INT,(SUM(CONVERT(INT,LEFT(TEMPO,1)))*60.0 + SUM(CONVERT(INT,SUBSTRING(TEMPO,3,2))) )/COUNT(DISTINCT PROPOSTA) ))+':00',''
FROM CRED_TEMPO_rpt (NOLOCK)
SP_HELP CRED_TEMPO_rpt
*/
INSERT 	CRED_TEMPO_rpt 
		-- ALTERADO 22/2/17
		(analista, dt_proposta, proposta, contrato, dt_contrato, 
		produto, vlr_financiado, status, 
		tempo,SEQ,REANALISE,SCORE,PRC_GARANTIA ) 
SELECT  'TOTAL','',COUNT(DISTINCT PROPOSTA) , 
		COUNT(DISTINCT CONTRATO), 	'',
		COUNT(DISTINCT PRODUTO), 
		SUM(DISTINCT VLR_FINANCIADO),
		'',
		-- TEMPO
		(SUM(TEMPO)
				/
				COUNT(DISTINCT PROPOSTA)),
		0,0,		0,0
FROM CRED_TEMPO_rpt (NOLOCK)
-- TEMPO 00:03:00

-- ALTERADO 15/01/2016  **************** PROMOTORA
-- SP_HELP CRED_TEMPO_rpt
/*
-- CONTRATO COM A LOJA
UPDATE 	CRED_TEMPO_rpt
SET		CONTRATO =  (SELECT		ISNULL(PPCODORG4,'')
						FROM	PropWebSmc..CProp  (NOLOCK)  WHERE PPNRPROP= CRED_TEMPO_rpt.PROPOSTA)
*/
-- ALTERA CONTRATO POR PROMOTORA
UPDATE 	CRED_TEMPO_rpt
SET		CONTRATO =  ISNULL(A13DESCR,''),			-- PROMOTORA
		DT_CONTRATO	= ISNULL(CONVERT(VARCHAR(10),A13CODORG),'')
	FROM 
			 (SELECT PPNRPROP, PPCODORG4,PPCODORG3 FROM  PropWebSmc..CProp  (NOLOCK)  
			  --WHERE PPDTBASE BETWEEN '20100101'  AND @DTFIM
				 ) AS PROP  
		left join  
			 (select DISTINCT O3CODORG,O3DESCR,o3codOrgA13 from CDCSANTANAMicroCredito..TORG3 OPE1 (NOLOCK) ) as OPERADOR  
			 ON O3CODORG = PPCODORG3  
		-- AGENTE  
		left join  
			 (select A13CODORG,A13DESCR,A13DTCAD from CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) ) as A  
			 ON OPERADOR.o3codOrgA13 = A.A13CODORG  	
	 WHERE PPNRPROP= PROPOSTA -- o4codorg          


-- ALTERA CONTRATO - SCORE E PRC_GARANTIA
UPDATE 	CRED_TEMPO_rpt
SET		PRC_GARANTIA = ISNULL(PPTETOFIN,0.0),
		SCORE =  ISNULL(PPSCORING,0)			
-- SELECT *
	FROM   PropWebSmc..CProp  (NOLOCK)  
	WHERE PROPOSTA=PPNRPROP
		/*
UPDATE 	CRED_TEMPO_rpt
SET		SCORE =  ISNULL(A13DESCR,''),			
		PRC_GARANTIA = ISNULL(PPTETOFIN,0.0)
-- SELECT *
	FROM   PropWebSmc..CProp  (NOLOCK)  
	WHERE PROPOSTA=PPNRPROP
ISNULL((SELECT MAX(PPSCORING) FROM  PropWebSMC..CPROP B2 (NOLOCK)
					WHERE	B2.PPNRPROP=(SELECT OPNRPROP FROM  CDCSANTANAMicroCredito..COPER O (NOLOCK)
					WHERE	O.OPNROPER=NUM_OPE )),'')  AS SCORE
*/

-- MOSTRA NA TELA O RESULTADO NO GRID
SELECT 
	ISNULL(ANALISTA,'') AS ANALISTA,
	DT_PROPOSTA,
	PROPOSTA,
	ISNULL(CONTRATO,'') AS CONTRATO,
	ISNULL(DT_CONTRATO,'') AS DT_CONTRATO,
	PRODUTO,VLR_FINANCIADO,STATUS,
	CASE WHEN dbo.FN_CONVMIN(tempo)='' THEN '0:0'
		 ELSE dbo.FN_CONVMIN(tempo) END AS TEMPO,
	REANALISE ,
	SCORE, PRC_GARANTIA
FROM 	CRED_TEMPO_rpt (NOLOCK)
ORDER BY PROPOSTA
/*
WHERE 1= 0 + CASE WHEN @REANALISE='0' AND REANALISE =0 THEN 1
				  WHEN @REANALISE='1' AND REANALISE =1 THEN 1
				  WHEN @REANALISE=''					THEN 1
				ELSE 0 END
	AND 1= 0 + CASE WHEN @ANALISTA<>'' AND ANALISTA =@ANALISTA THEN 1	
					WHEN @ANALISTA=''  THEN 1	
				  ELSE 0 END
	AND 1= 0 + CASE WHEN @PRODUTO<>'' AND PRODUTO =@PRODUTO THEN 1	
					WHEN @PRODUTO=''  THEN 1	
				  ELSE 0 END
	AND 1= 0 + CASE WHEN @VALOR_DE<>'' AND @VALOR_ATE<>'' AND VLR_FINANCIADO BETWEEN CONVERT(FLOAT,@VALOR_DE) AND CONVERT(FLOAT,@VALOR_ATE)  THEN 1	
					WHEN @VALOR_DE='' AND @VALOR_ATE=''  THEN 1	
				  ELSE 0 END
*/
END

-- alter table CRED_TEMPO_rpt alter column dt_contrato varchar(20)