USE sig
GO
/****** Object:  StoredProcedure [dbo].[SCR_credito_tempo_total1]    Script Date: 19/03/2017 17:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SCR_credito_tempo_total1 '20170101','20170120','LEVES','','','','',''
-- SCR_credito_tempo_total1 '20170101','20170120','TODOS','','','','',''


-- SCR_credito_tempo_total1 '20170101','20170120','TODOS','','','','','941599721'
--AGENTE	OPERADOR	LOJA
--145	001679	008335

-- SCR_credito_tempo_total1 '20170101','20170120','TODOS','','145','','',''


--OLD  SCR_credito_tempo_total1 '20170101','20170120','','LEVES',0,0,''

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_credito_tempo_total1' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_credito_tempo_total1]
GO




        create Procedure [dbo].[SCR_credito_tempo_total1] (

	@DATADE   AS DATETIME, 
	@DATAATE  AS DATETIME,
	@PRODUTO  AS VARCHAR(100),
	@ANALISTA AS VARCHAR(50),
	@AGENTE   AS VARCHAR(100),
	@OPERADOR AS VARCHAR(100),
	@LOJA	  AS VARCHAR(100) ,
	@PROPOSTA AS VARCHAR(30)) AS

		begin

/*
USE SIG

DROP	table AUX_CRED_PROP_TTL
create  table AUX_CRED_PROP_TTL (EpNrProp varchar(30), INI DATETIME , FIM DATETIME , Tempo INT, MODA varchar(20),produto varchar(100),situacao  varchar(10),COD_FX_TEMPO INT,
	ANALISTA VARCHAR(100), AGENTE VARCHAR(100), OPERADOR VARCHAR(100), LOJA VARCHAR(100))


create table AUX_CRED_PROP_TTL_FASE (EpNrProp varchar(30),
EPFASE	INT,EPALCADA	INT,Seq	INT,Entra	DATETIME,Fim	DATETIME)
  alter table AUX_CRED_PROP_TTL_FASE add tempo_ttl float

USE SIG
create table Cred_Cod_tempo (cod_fx_tempo varchar(10), faixa_tempo varchar(100), DE INT, ATE INT)

TRUNCATE TABLE Cred_Cod_tempo 
INSERT Cred_Cod_tempo SELECT  1,'0-30 min' ,0,30
INSERT Cred_Cod_tempo SELECT  2,'31-60 min',31,60
INSERT Cred_Cod_tempo SELECT  3,'1-4 Hrs',61,240
INSERT Cred_Cod_tempo SELECT  4,'4-12 Hrs',241,720
INSERT Cred_Cod_tempo SELECT  5,'12-24 hrs',721,1440  -- 24*60
INSERT Cred_Cod_tempo SELECT  6,'2-3 dias',1441,4320
INSERT Cred_Cod_tempo SELECT  7,'4-7 dias',4321,10080
INSERT Cred_Cod_tempo SELECT  8,'>1 sem',10081,999999

SELECT * FROM Cred_Cod_tempo (NOLOCK)

DROP	table CRED_RPT_TTL
create  table CRED_RPT_TTL (COD_FX_TEMPO INT, FAIXA_TEMPO varchar(100), QTDE FLOAT , PRC_QTDE FLOAT , 
APROVADAS FLOAT, PRC_APROVADAS FLOAT,INTEGRADAS FLOAT,PRC_INTEGRADAS FLOAT
,NEGADAS FLOAT, PRC_NEGADAS FLOAT, PENDENTES FLOAT, PRC_PENDENTES FLOAT)


*/

-- propostas q circularam na mesa NO PERIODO *****************
TRUNCATE TABLE AUX_CRED_PROP_TTL

INSERT AUX_CRED_PROP_TTL (EpNrProp)
SELECT DISTINCT PPNRPROP FROM PROPWEBSMC..CPROP PROP (NOLOCK)
			WHERE	(ppdtbase BETWEEN @DATADE AND @DATAATE
				AND @PROPOSTA='') OR PPNRPROP =@PROPOSTA
--'20160101' and '20160131'
-- MODALIDADE DA PROPOSTA
UPDATE		AUX_CRED_PROP_TTL 
	SET		MODA = (select ppcodOp from PROPWEBSMC..CPROP PROP (NOLOCK)
						where 		AUX_CRED_PROP_TTL.EPNRPROP = PROP.PPNRPROP )


-- **********************
-- das circulantes, qdo entraram	E SUAS FASES
	TRUNCATE	table AUX_CRED_PROP_TTL_FASE
INSERT		AUX_CRED_PROP_TTL_FASE
SELECT		EpNrPROP,EPFASE,EPALCADA,MIN(EPNRSEQ) as seq,MIN(EPDTLNC+EPHORALNC) as entra,Max(EPDTHRFIM) as fim , 0.0
	FROM	PROPWEBSMC..EPROP E1  (NOLOCK)
	where	EpNrProp in (select p.epNrProp from AUX_CRED_PROP_TTL p (nolock))
	GROUP BY EpNrPROP,EPFASE,EPALCADA


-- tempo TOTAL	************
UPDATE		AUX_CRED_PROP_TTL 
SET			AUX_CRED_PROP_TTL.INI=T.INI, AUX_CRED_PROP_TTL.FIM=T.FIM, AUX_CRED_PROP_TTL.TEMPO=T.TEMPO
FROM		(select		 EpNrProp , min(entra) as Ini, max(isnull(fim,entra)) as Fim,datediff(mi,min(entra), max(isnull(fim,entra))) as tempo
				from	 AUX_CRED_PROP_TTL_FASE	(NOLOCK)-- order by epNrProp,Seq
				group by EpNrProp	) AS T
WHERE		AUX_CRED_PROP_TTL.EPNRPROP = T.EPNRPROP

-- PRODUTO
update AUX_CRED_PROP_TTL set produto = DESCR_TIPO
FROM	TModa_tipo_prod M (NOLOCK)  , Ttipo_prod T (NOLOCK)
where AUX_CRED_PROP_TTL.Moda =	M.COD_MODA	AND M.COD_PROD  in ( 'V','CG','CP') 					
		 and T.COD_MODALIDADE = M.COD_MODALIDADE 
-- situacao
update	 AUX_CRED_PROP_TTL 
SET		situacao = C.MPSIT
FROM	PROPWEBSMC..CMOVP  C (NOLOCK)
WHERE   AUX_CRED_PROP_TTL.epNrProp = C.MPNRPROP

-- COD_FX_TEMPO
update	 AUX_CRED_PROP_TTL 
SET		COD_FX_TEMPO = C.COD_FX_TEMPO
FROM	Cred_Cod_tempo  C (NOLOCK)
WHERE   AUX_CRED_PROP_TTL.TEMPO BETWEEN  C.DE and C.ATE

-- COD_FX_TEMPO		10
update	 AUX_CRED_PROP_TTL 
SET		COD_FX_TEMPO = C.COD_FX_TEMPO
FROM	Cred_Cod_tempo  C (NOLOCK)
WHERE   AUX_CRED_PROP_TTL.TEMPO BETWEEN  C.DE and C.ATE

--	ANALISTA VARCHAR(100), AGENTE VARCHAR(100), OPERADOR VARCHAR(100), LOJA VARCHAR(100))
--  SELECT USNOMEUSUC, USNOMEUSU FROM ACESSOCORP..TUSU (NOLOCK) WHERE USATIVO='S'
--  select * from AUX_CRED_PROP_TTL
update	 AUX_CRED_PROP_TTL 
SET		 ANALISTA = U.USNOMEUSUC       -- C.EPUSUARIO
FROM	 PROPWEBSMC..EPROP C  (NOLOCK),
		 ACESSOCORP..TUSU  U  (NOLOCK)
WHERE    AUX_CRED_PROP_TTL.EPNRPROP = C.EPNRPROP
	AND  USNOMEUSU = C.EPUSUARIO
	AND  1= 0+ CASE	WHEN EPNRDECI=100 THEN 1   -- tempo q proposta fica parada
					WHEN EPNRDECI=120 THEN 1	 -- tempo q os analistas ATUAM na proposta
					ELSE	0	END	
/*@ANALISTA='TODOS'  AND  @ANALISTA<>'TODOS' AND 
	AND 1= 0+ CASE	WHEN @ANALISTA='TODOS'  AND EPNRDECI=100 THEN 1   -- tempo q proposta fica parada
					WHEN @ANALISTA<>'TODOS' AND EPNRDECI=120 THEN 1	 -- tempo q os analistas ATUAM na proposta
					ELSE	0	END			*/

-- OPERADOR
--  select * from AUX_CRED_PROP_TTL
--  SELECT * FROM	 PROPWEBSMC..CPROP C  (NOLOCK)
update	 AUX_CRED_PROP_TTL 
SET		 OPERADOR = C.PPCODORG3 --O3DESCR
FROM	 PROPWEBSMC..CPROP C  (NOLOCK)
	--,		 CDCSANTANAMicrocredito..TORG3 O  (NOLOCK) 
WHERE    AUX_CRED_PROP_TTL.EPNRPROP = C.PPNRPROP
--	AND	 C.PPCODORG3 = O3CODORG		-- COD OPERADOR

-- LOJA
--  select * from AUX_CRED_PROP_TTL
--  SELECT * FROM	 PROPWEBSMC..CPROP C  (NOLOCK)
update	 AUX_CRED_PROP_TTL 
SET		 LOJA = PPCODORG4  --O4DESCR
FROM	 PROPWEBSMC..CPROP C  (NOLOCK)
	--,	 CDCSANTANAMicrocredito..TORG4 O  (NOLOCK) 
WHERE    AUX_CRED_PROP_TTL.EPNRPROP = C.PPNRPROP
--	AND	 C.PPCODORG4 = O4CODORG		-- COD LOJA

-- SELECT O3CODORG,O3DESCR FROM 	CDCSANTANAMicrocredito..TORG3 O2  (NOLOCK) WHERE O3ATIVA='A' 
-- AGENTE
--  select * from AUX_CRED_PROP_TTL
--  SELECT * FROM	 PROPWEBSMC..CPROP C  (NOLOCK)
update	 AUX_CRED_PROP_TTL 
SET		 AGENTE = O3CODORGA13	--A13DESCR
FROM	 PROPWEBSMC..CPROP C  (NOLOCK)
		, CDCSANTANAMicrocredito..TORG3 A  (NOLOCK) 
		--, CDCSANTANAMicroCredito..TA1O3  P (nolock)
WHERE    AUX_CRED_PROP_TTL.EPNRPROP = C.PPNRPROP
	AND	 C.PPCODORG3 = O3CODORG		-- COD AGENTE
	--AND  O3CODORGA13 = A13CODORG	-- COD PROMOTOR

-- Select * from CDCSANTANAMicroCredito..TORG3 (nolock)
-- Select *,A13DESCR from CDCSANTANAMicroCredito..TA1O3 (nolock)
-- *********************************************  RELATORIOS
TRUNCATE TABLE CRED_RPT_TTL
-- SELECT * FROM CRED_RPT_TTL
-- declare @PRODUTO varchar(20) set @PRODUTO='todos
INSERT	CRED_RPT_TTL
SELECT  T.COD_FX_TEMPO,
		(SELECT F.FAIXA_TEMPO FROM Cred_Cod_tempo F (NOLOCK)  WHERE F.COD_FX_TEMPO=T.COD_FX_TEMPO )
			as faixa_tempo,
		count(epNrProp) as QTDE,
		0.0 AS PRC_QTD,
		SUM(CASE WHEN SITUACAO='APR' THEN 1 ELSE 0 END) as APROVADAS,
		0.0 AS PRC_APROVADAS,
		SUM(CASE WHEN SITUACAO='INT' THEN 1 ELSE 0 END) as INTEGRADAS,
		0.0 AS PRC_INTEGRADAS,
		SUM(CASE WHEN SITUACAO IN ('REP','CAN') THEN 1 ELSE 0 END) as NEGADAS,
		0.0 AS PRC_NEGADAS,
		SUM(CASE WHEN SITUACAO IN ('PEN','AND') THEN 1 ELSE 0 END) as PENDENTES,
		0.0 AS PRC_PENDENTES
 FROM (select * from AUX_CRED_PROP_TTL P  (NOLOCK) 
		WHERE	1=0+ CASE WHEN @PRODUTO IN ('0','TODOS')  THEN 1
						  WHEN @PRODUTO NOT IN ('0','TODOS')  AND produto=@PRODUTO THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @ANALISTA IN ('','0','TODOS')  THEN 1
						  WHEN @ANALISTA NOT IN ('','0','TODOS')  AND ANALISTA=@ANALISTA THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @AGENTE IN ('','0','TODOS')  THEN 1
						  WHEN @AGENTE NOT IN ('','0','TODOS')  AND AGENTE=@AGENTE THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @OPERADOR IN ('','0','TODOS')  THEN 1
						  WHEN @OPERADOR NOT IN ('','0','TODOS')  AND OPERADOR=@OPERADOR THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @LOJA IN ('','0','TODOS')  THEN 1
						  WHEN @LOJA NOT IN ('','0','TODOS')  AND LOJA=@LOJA THEN 1
						  ELSE 0 END
			AND TEMPO IS NOT NULL ) as T
group by
		T.COD_FX_TEMPO
ORDER BY 1

-- TOTAL
INSERT	CRED_RPT_TTL
SELECT  99,
		'TOTAL'			as faixa_tempo,
		count(epNrProp) as QTDE,
		100.0 AS PRC_QTD,
		SUM(CASE WHEN SITUACAO='APR' THEN 1 ELSE 0 END) as APROVADAS,
		100.0 AS PRC_APROVADAS,
		SUM(CASE WHEN SITUACAO='INT' THEN 1 ELSE 0 END) as INTEGRADAS,
		100.0 AS PRC_INTEGRADAS,
		SUM(CASE WHEN SITUACAO IN ('REP','CAN') THEN 1 ELSE 0 END) as NEGADAS,
		100.0 AS PRC_NEGADAS,
		SUM(CASE WHEN SITUACAO IN ('PEN','AND') THEN 1 ELSE 0 END) as PENDENTES,
		100.0 AS PRC_PENDENTES
 FROM (select * from AUX_CRED_PROP_TTL P  (NOLOCK) 
		WHERE	1=0+ CASE WHEN @PRODUTO IN ('0','TODOS')  THEN 1
						  WHEN @PRODUTO NOT IN ('0','TODOS')  AND produto=@PRODUTO THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @ANALISTA IN ('','0','TODOS')  THEN 1
						  WHEN @ANALISTA NOT IN ('','0','TODOS')  AND ANALISTA=@ANALISTA THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @AGENTE IN ('','0','TODOS')  THEN 1
						  WHEN @AGENTE NOT IN ('','0','TODOS')  AND AGENTE=@AGENTE THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @OPERADOR IN ('','0','TODOS')  THEN 1
						  WHEN @OPERADOR NOT IN ('','0','TODOS')  AND OPERADOR=@OPERADOR THEN 1
						  ELSE 0 END
			AND	1=0+ CASE WHEN @LOJA IN ('','0','TODOS')  THEN 1
						  WHEN @LOJA NOT IN ('','0','TODOS')  AND LOJA=@LOJA THEN 1
						  ELSE 0 END
			 AND TEMPO IS NOT NULL ) as T

-- PERCENTUAIS
UPDATE	CRED_RPT_TTL
SET		CRED_RPT_TTL.PRC_QTDE		= CASE WHEN T.QTDE = 0.0 THEN 0.0 ELSE
										(CRED_RPT_TTL.QTDE/		T.QTDE)		 * 100.0	END,
		CRED_RPT_TTL.PRC_APROVADAS  = CASE WHEN T.APROVADAS = 0.0 THEN 0.0 ELSE
										(CRED_RPT_TTL.APROVADAS/  T.APROVADAS) * 100.0	END, 	
		CRED_RPT_TTL.PRC_INTEGRADAS =  CASE WHEN T.INTEGRADAS = 0.0 THEN 0.0 ELSE
										(CRED_RPT_TTL.INTEGRADAS/ T.INTEGRADAS)* 100.0	END, 	
		CRED_RPT_TTL.PRC_NEGADAS	= CASE WHEN T.NEGADAS = 0.0 THEN 0.0 ELSE
										(CRED_RPT_TTL.NEGADAS/	T.NEGADAS)	 * 100.0	END,	 	
		CRED_RPT_TTL.PRC_PENDENTES  =  CASE WHEN T.PENDENTES = 0.0 THEN 0.0 ELSE
										(CRED_RPT_TTL.PENDENTES/  T.PENDENTES) * 100.0	END
FROM	CRED_RPT_TTL (NOLOCK),
		(select * from CRED_RPT_TTL P  (NOLOCK) where COD_FX_TEMPO=99) as T  -- LINHA DE TOTAIS
WHERE CRED_RPT_TTL.COD_FX_TEMPO <>99 -- EXCETO SEM O TOTAL



-- MOSTRA NA TELA
SELECT	COD_FX_TEMPO,FAIXA_TEMPO,QTDE,PRC_QTDE AS PRC_QTD,APROVADAS,PRC_APROVADAS,INTEGRADAS,
		PRC_INTEGRADAS,NEGADAS,PRC_NEGADAS,PENDENTES,PRC_PENDENTES FROM	CRED_RPT_TTL (NOLOCK) 
ORDER BY COD_FX_TEMPO

		end

-- SELECT USNOMEUSUC, USNOMEUSU FROM ACESSOCORP..TUSU (NOLOCK) WHERE USATIVO='S'
-- select DISTINCT SITUACAO  from AUX_CRED_PROP_TTL P  (NOLOCK) where produto='LEVES' AND TEMPO IS NOT NULL
-- SELECT * FROM	 PROPWEBSMC..CPROP C  (NOLOCK) WHERE PPNRPROP='941603724'
-- SELECT * FROM	 PROPWEBSMC..CPROP C  (NOLOCK) WHERE PPNRPROP='941603724'
-- SELECT * FROM	 CDCSANTANAMicrocredito..TORG3 A  (NOLOCK) WHERE O3CODORG='001503'  -- TMC - MARCELO
-- SELECT * FROM	 CDCSANTANAMicrocredito..TORG4 A  (NOLOCK) ORDER BY O4CODORG
--941596793 941599721
--  select * from AUX_CRED_PROP_TTL WHERE AGENTE=145
-- SELECT * FROM CRED_RPT_TTL
-- SELECT *  FROM AUX_CRED_PROP_TTL WHERE '145' NOT IN ('','0','TODOS')  AND AGENTE='145'  -- JP NEGOCIOS ITAPEVA
-- 001503 OPER 
-- 005415 LOJA  FERRARI COMERCIO DE AUT E SERV LTDA ME

