
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
--use SF_relatorios
go

-- 25-33 SEG CARGA
-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO
-- select * FROM RATING_HISTORICO where dt_fecha='2014-01-31'
-- select * FROM RATING_HISTORICO_parc where dt_fecha='2014-01-31'

-- SP_HELP RATING_HISTORICO
-- delete FROM rating_historiCo where dt_ref = '12_13'
-- EXEC [dbo].[PDD_CARGA] '2015-09-30'
-- EXEC [dbo].[PDD_RECARGA] '2015-09-30'
-- EXEC [dbo].[PDD_RECARGA] '2014-02-28'
-- EXEC [dbo].[PDD_RECARGA] '2014-02-28'
-- EXEC [dbo].[PDD_reCARGA] '2014-03-31'
-- EXEC [dbo].[PDD_reCARGA] '2014-10-31'

-- SELECT * FROM RATING_HISTORICO WHERE DT_FECHA= '2014-03-31' AND NUM_OPE = '612145175'
-- select * from BACENSANTANAMicroCredito..ECLAS (NOLOCK) where	CsDtRef = '20140731'
-- DROP PROCEDURE   [dbo].[PDD_CARGA]

-- POR CARTEIRA


-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PDD_CARGA' AND type = 'P')
   DROP PROCEDURE [dbo].[PDD_CARGA]
GO


CREATE Procedure [dbo].[PDD_CARGA] (@data_ref as datetime) AS
BEGIN

-- APAGA PROCESSAMENTO ANTERIOR
-- delete * from rating_historico where dt_FECHA ='2014-03-31'

--			declare @data_ref as datetime	set @data_ref ='20150930'
DECLARE @DT_REF AS  VARCHAR(20)
-- MES_ANO  MM_AA
SET @DT_REF =  RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MONTH,@DATA_REF))),2) 
			   + '_'+ 
			   RIGHT(	  RTRIM(CONVERT(VARCHAR(4),DATEPART(YEAR ,@DATA_REF))),2)

-- select @DT_REF
/*

	-- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES		RISCO
	SELECT	@DtRefRISCO= CASE WHEN DATEPART(DW,@DtRefDB) = 1 THEN DATEADD(D,-2,@DtRefDB)	-- DOMINGO
							  WHEN DATEPART(DW,@DtRefDB) = 7 THEN DATEADD(D,-1,@DtRefDB)	-- SABADO
							  ELSE @DtRefDB					 END

select @dt_ref
end
exec pdd_fecha '2014-01-20'
*/

-- SELECT RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MONTH,GETDATE()))),2)
-- SELECT '00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MONTH,GETDATE())))
-- SELECT RIGHT(RTRIM(CONVERT(VARCHAR(4),DATEPART(YEAR,GETDATE()))),2)

--1  CARREGA DADOS ATUAIS
INSERT	RATING_HISTORICO
	(	DT_REF,		-- varchar	no	20
		NUM_OPE,	--	varchar	no	50
	--	DT_BASE,	--	smalldatetime	no	4
		NVL_RISCO,	--	varchar	no	50
	--	NOM_CLI,	--	varchar	no	100
	--	DT_VCTO1,	--	smalldatetime	no	4
		SLD_INSCRITO,	--	float	no	8
/*
		VLR_PRINC,	--	float	no	8
		VL_JUROS,	--	float	no	8
		TX_RAP,		--	float	no	8
		RRF_JR,		--	float	no	8
		VLR_FV,		--	float	no	8
*/
	--	PERC_PDD,	--	float	no	8
		VLR_PDD,	--	nchar	no	20
		Atraso,		--	int	no	4

		AGENTE,		--	VARCHAR(6),
		COBRADORA,	--	VARCHAR(6),
		DT_FECHA	--	SMALLDATETIME

	)
SELECT	@DT_REF,
		CsNrOPER,
		CsNivOp, --
		 --1o vencto
		ISNULL(CsVlrInsc,0.0),
		CsSldProv, 0,

		'','',@DATA_REF
		-- CsPrzPJz -- ??
-- fechamento ult dia util, calcular
FROM
-- eCLAS_janeiro  (NOLOCK)
		BACENSANTANAMicroCredito..ECLAS (NOLOCK)
where	CsDtRef = @data_ref
--	SELECT * FROM	BACENSANTANAMicroCredito..ECLAS (NOLOCK) WHERE CSNROPER='612145175'
 
--	SELECT * FROM	BACENSANTANAMicroCredito..ECLAS (NOLOCK) WHERE CSNROPER='862000174A'

/*
-- RELATORIO FUNCAO - POSICAO CONTABIL ANALITICA
SELECT  TCNROPER, TCCNTRL, TCCODOP, TCCODAGE, TCTPAPTAC, TCDTBASE, TCDTVCTO, TCDTVAL, TCDTMOV, TCVLRTAC
FROM   ECNTT
INNER JOIN EACNT ON(ACNROPER = TCNROPER)
INNER JOIN ECNTP ON(APNROPER = ACNROPER)
WHERE ((APDTMOV IS NULL) OR (APDTMOV > '2014-03-31')) 
AND (APDTVAL <= '2014-03-31') 
AND ((TCDTMOV IS NULL) OR (TCDTMOV > '2014-03-31')) 
AND (TCDTVAL <= '2014-03-31') 
AND (ACDTMOV IS NULL OR ACDTMOV > '2014-03-31')
AND ACDTVAL <= '2014-03-31' 
AND TCNROPER = '612145175'
GROUP BY TCNROPER, TCCNTRL, TCCODOP, TCCODAGE, TCTPAPTAC, TCDTBASE, TCDTVCTO, TCDTVAL, TCDTMOV, TCVLRTAC
ORDER BY TCNROPER

SELECT  TCNROPER, TCCNTRL, TCCODOP, TCCODAGE, TCTPAPTAC, TCDTBASE, TCDTVCTO, TCDTVAL, TCDTMOV, TCVLRTAC
FROM  ECNTT
INNER JOIN EACNT ON(ACNROPER = TCNROPER)
INNER JOIN ECNTP ON(APNROPER = ACNROPER)
WHERE ((APDTMOV IS NULL) OR (APDTMOV > '03/31/2014')) 
AND (APDTVAL <= '03/31/2014') 
AND ((TCDTMOV IS NULL) OR (TCDTMOV > '03/31/2014')) 
AND (TCDTVAL <= '03/31/2014') 
AND (ACDTMOV IS NULL OR ACDTMOV > '03/31/2014')
AND ACDTVAL <= '03/31/2014' 
AND TCNROPER = '612145175'
GROUP BY TCNROPER, TCCNTRL, TCCODOP, TCCODAGE, TCTPAPTAC, TCDTBASE, TCDTVCTO, TCDTVAL, TCDTMOV, TCVLRTAC
ORDER BY TCNROPER

SELECT * FROM   ECNTT WHERE TCNROPER = '612145175'
SELECT * FROM   EACNT WHERE ACNROPER = '612145175'  -- TX
SELECT * FROM   ECNTP WHERE APNROPER = '612145175'
*/
-- ************************************
-- 2 REMOVER CONTRATOS Q NAO SAO VEICULOS
DELETE FROM pdd_sem_veic WHERE  DT_FECHA=@DATA_REF

-- 3
IF @DATA_REF >= '20141001'
BEGIN
	INSERT pdd_sem_veic
	SELECT * FROM RATING_HISTORICO (nolock)
	WHERE DT_FECHA=@DATA_REF --	mes atual
	AND  RATING_HISTORICO.NUM_OPE  in (select opnroper from
											  CDCSANTANAMicroCredito..COPER O (NOLOCK)  
										where	RATING_HISTORICO.num_ope =O.OPNROPER 
															-- MODALIDADES CADASTRADAS  VEICULOS E RENEGOC
											AND OPCODOP NOT IN (SELECT	M.COD_MODA
															FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
															WHERE	M.COD_PROD = T.COD_PROD 
																AND T.COD_MODALIDADE = M.COD_MODALIDADE 
																AND T.COD_PROD IN ( 'R','V') 
																-- SEM RENEG CP, SEM RENEG PJ
																AND T.COD_MODALIDADE NOT IN (14, 87) ) ) 
			/*
						and OPCODOP not IN (550,551,    552,553, 610,  611 , 612, 613 ,  630, 631,632 ,633,  640, 641  ,642,643,670,672,700,  751,752, 760,   860, 861, 863, 862,  893,894,
							800,	200,201, 250,251,   400,401,450,451  ,500,501,  600,601,  650,651, 671, 673, 720,   741,742
			, 554,555, 800,801, 802,890, 891,892) )
			*/

END
IF @DATA_REF < '20141001'
BEGIN
	INSERT pdd_sem_veic
	SELECT * FROM RATING_HISTORICO (nolock)
	WHERE DT_FECHA=@DATA_REF --	mes atual
		AND  RATING_HISTORICO.NUM_OPE  in (SELECT	OpNrOper 
										   FROM		CDCSANTANAMicroCredito..COPER O (NOLOCK)  
										   WHERE	RATING_HISTORICO.num_ope = O.OPNROPER 
													-- MODALIDADES CADASTRADAS  VEICULOS E RENEGOC
												AND OPCODOP NOT IN (SELECT	M.COD_MODA
																	FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
																	WHERE	M.COD_PROD = T.COD_PROD 
																		AND T.COD_MODALIDADE = M.COD_MODALIDADE 
																		AND T.COD_PROD IN ( 'R','V')  
																		-- SEM RENEG CP, SEM RENEG PJ
																		AND T.COD_MODALIDADE NOT IN (14, 87) ) )  

/*
CADASTRO DE MODALIDADES DO SIG
990,751,752,870,500,501,550,551,552,553,554,  600,601,640,641,642,643,650,651,  
200,201,250,251,   610,611,612,613,700,760,  400,401,450,451,630,631,632,633,670,671,672,673,
800,801,720,730,731,741,742,   860,862,863,890,891,892,893,894,862
						and OPCODOP not IN (550,551,    552,553, 610,  611 , 612, 613 ,  630, 631,632 ,633,  640, 641  ,642,643,670,672,700,  751,752, 760,   860, 861, 863, 862,  893,894,
								200,201, 250,251,   400,401,450,451  ,500,501,  600,601,  650,651, 671, 673, 720,   741,742) )
*/
	-- SEM 800 RENEG UTILIT
END

--  ,870, 990 classificados antes de set-14, em out-14 752,751 acerto de Negociacao com garantia de VEIC
-- 800 depois de out-14
-- 890 nao

-- 200,201, 250,251,   400,401,450,451  ,500,501,  600,601,  650,651, 671, 673, 720,   741,742,   

--, 800 ,	 200,201, 250,251,   400,401,450,451  ,500,501,  600,601,  650,651, 671, 673, 720,   741,742,   890 ) )

--	and OPCODOP not IN (550,551,    552,610,  611 , 612, 613 ,  630, 631,632 ,633,  640, 641  ,642,643,670,672,700,  751,752, 760,   860, 861, 863, 862,  893,553,894 , 800  )	)

-- AND OPCODOP not in (552,610,612,630,632,642,643,670,672,700,751,752,760,862,893,553,894))

-- OPCODOP not IN (550,551,    552,610,  611 , 612, 613 ,  630, 631,632 ,633,  640, 641  ,642,643,670,672,700,  751,752, 760,   860, 861, 863, 862,  893,553,894 , 800  )

-- estao no _jan14  249 reg


-- ******************************************* ajuste
-- 4 se for set/14 mudar a modalidade
DELETE  pdd_sem_veic
WHERE	DT_FECHA=@DATA_REF --	mes atual
	AND @DATA_REF = '20140930'  -- somente em set14
	and NUM_OPE  in ('353002833A','353002856A','353002861A','353002879A','353002880A','353002884A',
			'363000750B','363000751B','363000751C','90513623A','90513912A','90514037A','90514046A')

-- ******************************************* ajuste
--  se for nov/14 incluir o PREJUIZO
IF @DATA_REF= '20141130'
BEGIN
		insert RATING_HISTORICO
		SELECT '11_14','612091301',	'2012-12-04','HH','29651101865',	'2013-01-04',8448.62,	415.07,	0,	33.6065019970913,
			0,	10791.82,	100,	8448.62,	360,	11,	'2013-11-04','','','2014-11-30',	NULL,	NULL,	NULL
		insert RATING_HISTORICO
		select '11_14',	'612060559',	'2012-03-14',	'HH','08766510821A',	'2012-04-14',	1415.95,	288.68,	0.0,	
			44.2102708717869,	0.0 ,	1443.4,	100.0,	1443.4,	360	,20,	'2013-11-14',	'','','2014-11-30',	NULL,	NULL,NULL
END


-- 5
-- limpa os contratos q não são VEIC
delete	FROM RATING_HISTORICO 
WHERE	DT_FECHA=@DATA_REF --	mes atual
	AND RATING_HISTORICO.NUM_OPE  
	in (select num_ope from  pdd_sem_veic (nolock)
			WHERE	DT_FECHA=@DATA_REF ) --	mes atual


/*
select	opnroper 
		from	CDCSANTANAMicroCredito..COPER O (NOLOCK)  
		where	RATING_HISTORICO.num_ope =O.OPNROPER 
			and OPCODOP not IN (550,551,    552,553, 610,  611 , 612, 613 ,  630, 631,632 ,633,  640, 641  ,642,643,670,672,700,  751,752, 760,   860, 861, 863, 862,  893,894 ))

*/

--			AND OPCODOP not in (552,610,612,630,632,642,643,670,672,700,751,752,760,862,893,553,894))

-- AJUSTE PARA NAO IR PARA PREJUIZO
--  se for nov/14 incluir o PREJUIZO
IF @DATA_REF= '20141231'
BEGIN
		UPDATE		RATING_HISTORICO 
			SET		NVL_RISCO='H'	
			WHERE	dt_fecha = '20141231' and NUM_OPE IN ('862000196','862000217','862000308','612054459A','61248251A','61248435A')
END


-- ATUALIZA RENEGOCIACAO DO PREJUIZO  **************** ALTERADO OUT-15
-- MES ANTERIOR ERA HH  @data_ANT
--		DECLARE @DT_REF DATETIME	SET @DT_REF = '20150930' 
DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  convert(datetime,CONVERT(CHAR(4),DATEPART(YEAR,@DATA_REF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DATA_REF))),2)+'01')
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- SELECT  @data_ANT
UPDATE	rating_historico 
SET		NVL_RISCO='H'
--		SELECT * FROM rating_historico AS rating_historico (NOLOCK) ,
FROM	(SELECT * FROM rating_historico  (NOLOCK) WHERE  dt_fecha= @data_ANT AND NVL_RISCO='HH' ) AS P
where	rating_historico.dt_fecha=@DATA_REF
	and rating_historico.NUM_ope=P.NUM_OPE+'A' AND rating_historico.NVL_RISCO='HH'


-- 6 atualiza a aliquota
--		DECLARE @DT_REF DATETIME	SET @DT_REF = '20150930' 
UPDATE	RATING_HISTORICO
SET		PERC_PDD =	--	float	no	8
			ISNULL(C.NVALIQUOTA,0.0),
		-- CALCULA O VLR DA PDD : % * VLR SALDO
		VLR_PDD  =  ISNULL(ISNULL(C.NVALIQUOTA,0.0) * SLD_INSCRITO, 0.0)
FROM	BACENSANTANAMicroCredito..TNIVE C (NOLOCK) 
WHERE	dt_fecha = @DATA_REF
   AND C.NVCODNIV  = RATING_HISTORICO.NVL_RISCO

-- 7 atualiza os dados do contrato
UPDATE	RATING_HISTORICO
SET		DT_BASE	= OpDTBASE,	--	smalldatetime	no	4
		DT_VCTO1= OPDT1VCTO,	--	smalldatetime	no	4
		NOM_CLI = OPCODCLI,  --  VARCHAR 100, CPF DO CLIENTE
		Atraso=
	       DATEDIFF(DD, @DATA_REF, D.OPDTVCTO),

		-- pmt
		VLR_PRINC = OPVLRPARC,	--	float	no	8
		VL_JUROS =0.0,	--	float	no	8   -- ??
		-- vlr Princ PMT, Vl Juros
		-- tx rap optxjrap ,
		TX_RAP = OPTXJRAP,		--	float	no	8
		-- rrf jr  opsldjr NT		OPVLRJRATO ??
		-- perc PDD  calc 
		-- OPTXJR
		RRF_JR = ISNULL(OPTXJRREBA * OpVlrPARC, 0.0),		--	float	no	8
		--	float	no	8		 PARCELAS Q FALTAM * PMT
		VLR_FV =ISNULL((OPQTDDPARC - OPPARCLIQ)*OPVLRPARC , 0.0)

FROM	CDCSANTANAMicroCredito..COPER D (NOLOCK) 
WHERE	dt_fecha = @DATA_REF
   AND D.OPNROPER  = RATING_HISTORICO.NUM_OPE  -- CONTRATO


-- 8 SEM PMT
UPDATE	RATING_HISTORICO
SET		VLR_PRINC = PAVLRPR + PAVLRJR + PAVLRTARP	--	FLOAT
FROM	CDCSANTANAMicroCredito..CPARC D (NOLOCK) 
WHERE	dt_fecha = @DATA_REF
   AND  VLR_PRINC IS NULL -- PB NO PMT
   AND  D.PANROPER  = RATING_HISTORICO.NUM_OPE  -- CONTRATO
   AND  D.PANRPARC  = 1  -- PARCELA


-- **************************************************************  PARCELA
-- 9 ATUALIZA NOVOS DADOS PARCELA
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-03-31'
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-04-30'
DELETE	AUX_PARC

-- MENOR PARCELA VENCIDA NAO PAGA
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-01-31'
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-01-31'
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-02-28'
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-03-31'
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-10-31'
-- 10
INSERT	AUX_PARC
SELECT  P.PANROPER, 
		MIN(P.PANRPARC), 
		MIN(P.PADTVCTO),
		MIN(P.PAVLRPR + P.PAVLRJR),
		MIN(P.PADTLIQ)
FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK) ,
		(SELECT * FROM RATING_HISTORICO	R1 (NOLOCK) WHERE DT_FECHA = @data_ref) AS R
WHERE	P.PANROPER = NUM_OPE AND 
		P.PADTVCTO <= @data_ref			-- VENCIDO 
	AND	(P.PADTLIQ	IS NULL				-- NAO PAGO
	OR	 P.PADTLIQ	> 	@data_ref)		-- PAGO APOS PERIODO
	AND P.PACNTRL = (SELECT MAX(AUX.PACNTRL)
						FROM  CDCSANTANAMicroCredito..CPARC AUX (NOLOCK) 
								-- CONTRATO
						WHERE	AUX.PANROPER  = P.PANROPER
							AND	AUX.PANRPARC  = P.PANRPARC )
GROUP BY P.PANROPER



--  PAGOS  **************************
-- select * FROM AUX_PARC
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-01-31'
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-02-28'
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-03-31'
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-10-31'
-- 11
INSERT	AUX_PARC
SELECT  P.PANROPER, MAX(P.PANRPARC), MAX(P.PADTVCTO),
		MAX(P.PAVLRPR + P.PAVLRJR),
		MAX(P.PADTLIQ)
FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK) ,
		(select num_ope from RATING_HISTORICO	 (NOLOCK)
			where DT_FECHA = @DATA_REF ) R
WHERE	
		P.PANROPER = NUM_OPE AND 
		P.PADTVCTO <= @data_ref				-- VENCIDO 
	AND	P.PADTLIQ IS NOT NULL				-- PAGA 
	AND	P.PADTLIQ  <=  @data_ref				-- PAGA NO PERIODO
	AND P.PANROPER NOT IN (SELECT PANROPER FROM AUX_PARC (NOLOCK))
	AND P.PACNTRL = (SELECT MAX(AUX.PACNTRL)
						FROM  CDCSANTANAMicroCredito..CPARC AUX (NOLOCK) 
								-- CONTRATO
						WHERE	AUX.PANROPER  = P.PANROPER
							AND	AUX.PANRPARC  = P.PANRPARC )
GROUP BY P.PANROPER



-- 12
-- ATUALIZA O RATING     -- ULTIMOS PAGTOS/ ATRASOS
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-01-31'
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-03-31'
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-10-31'
UPDATE	RATING_HISTORICO
SET		PARC	  = PANRPARC,	--	INT
		dtVencParc= PADTVCTO,	--	smalldatetime	no	4
		Atraso= --0,  -- SEM ATRASO
				CASE	-- PAGO ANTES DA PROJECAO, EM DIA
					 WHEN	D.PADTLIQ IS NOT NULL AND
							D.PADTLIQ <= @data_ref   AND	 
						  DATEDIFF(D, D.PADTLIQ, @DATA_REF) >=0 THEN 0
				ELSE
					DATEDIFF(D, D.PADTVCTO, @DATA_REF)   -- ATRASO
			
				END
FROM	AUX_PARC D (NOLOCK) 
WHERE	DT_FECHA = @DATA_REF
   AND  D.PANROPER  = RATING_HISTORICO.NUM_OPE  -- CONTRATO


-- 13  ************************** PROBLEMA LENTO
-- RENEGOCIADOS NO MES
-- SELECT * FROM AUX_PARC
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-03-31'
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-04-30'
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-10-31'

--  DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END



UPDATE	RATING_HISTORICO
SET		PARC	  = ANT.PARC,	--	INT
		dtVencParc= ANT.DTVENCPARC,	--	smalldatetime	no	4
		Atraso= ANT.ATRASO
FROM	
		-- RENEGOCIADOS NO MES
		-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-03-31'
		(SELECT * FROM 	RATING_HISTORICO R2 (NOLOCK)
			WHERE	R2.DT_FECHA = @data_ANT			-- MES ANTERIOR
				AND R2.NUM_OPE IN 
					(SELECT LEFT(R1.NUM_OPE,LEN(R1.NUM_OPE)-1) AS OPER FROM 	RATING_HISTORICO R1 (NOLOCK)
						WHERE	R1.DT_FECHA = @data_ref			-- MES ATUAL
							AND RIGHT(R1.NUM_OPE,1) IN ('A','B')
							AND	R1.NUM_OPE NOT IN (SELECT DISTINCT PANROPER
													FROM AUX_PARC  (NOLOCK)) ) 
			--AND NUM_OPE='612064319A') OK
				)	AS	ANT 


WHERE	RATING_HISTORICO.DT_FECHA = @DATA_REF
   AND  ANT.NUM_OPE+'A' = RATING_HISTORICO.NUM_OPE  -- CONTRATO ORIGINAL E RENEGOC


/* ANTIGO NO AUX_PARC 
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-03-31' SELECT *  FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK) 
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-03-31'

		(SELECT * FROM 	RATING_HISTORICO R1 (NOLOCK)
			WHERE	R1.DT_FECHA = @data_ref			-- MES ATUAL
				AND RIGHT(R1.NUM_OPE,1) IN ('A','B')
				AND	R1.NUM_OPE NOT IN (SELECT DISTINCT PANROPER
										FROM AUX_PARC ) )
--AND NUM_OPE='612064319A') OK
		AS	R 
WHERE	
		-- RENEGOCIADOS NO MES
		RIGHT(R.NUM_OPE,1) IN ('A','B')
		-- CONTRATO ORIGINAL 
--AND --P.PANROPER= '612064319'--LEFT('612064319A',LEN('612064319A')-1)
-- SELECT LEFT('612064319A',LEN('612064319A')-1)
	AND P.PANROPER = LEFT(R.NUM_OPE,LEN(R.NUM_OPE)-1)
	AND P.PADTVCTO <= @data_ref			-- ORIGINAL VENCIDO, RENEGOCIADO NAO VENCIDO AINDA
	AND	DATEPART(MM,P.PADTLIQ)	= DATEPART(MM,@data_ref)		-- LIQUIDA NO DIA DA RENEGOCIACAO
	AND	 DATEPART(YY,P.PADTLIQ)	= DATEPART(YY,@data_ref)		-- PAGO APOS PERIODO
	AND P.PACNTRL = (SELECT MAX(AUX.PACNTRL)
						FROM  CDCSANTANAMicroCredito..CPARC AUX (NOLOCK) 
								-- CONTRATO
						WHERE	AUX.PANROPER  = P.PANROPER
							AND	AUX.PANRPARC  = P.PANRPARC )
GROUP BY R.NUM_OPE
-- SELECT DATEPART(mm,'20140331')
*/
	
-- SELECT DATEADD(DD,-2,'2014-01-01')

-- ATUALIZA OS DADOS DA PARCELA NO ARQUIVO DE CONTRATOS
-- SELECT  DATEDIFF(D, '2014-02-11', '2014-02-27')
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-01-31'
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-02-28'
/*
UPDATE	RATING_HISTORICO
SET		PARC	  = PANRPARC,	--	INT
		dtVencParc= PADTVCTO,	--	smalldatetime	no	4
		Atraso= --0,  -- SEM ATRASO
				CASE	-- PAGO ANTES DA PROJECAO, EM DIA
					 WHEN	D.PADTLIQ IS NOT NULL AND
							D.PADTLIQ <= @data_ref   AND	 
						  DATEDIFF(D, D.PADTLIQ, @DATA_REF) >=0 THEN 0
				ELSE
					DATEDIFF(D, D.PADTVCTO, @DATA_REF)   -- ATRASO
			
				END
--		VL_JUROS =PAVLRJR	--	float	no	8   -- ??
FROM	AUX_PARC D (NOLOCK) 
WHERE	DT_FECHA = @DATA_REF
   AND  D.PANROPER  = RATING_HISTORICO.NUM_OPE  -- CONTRATO
*/
-- COBRADORA
/*
UPDATE	RATING_HISTORICO
SET		COBRADORA	 = LCCODACOB	--	INT
FROM	GESTORCOB..ELCCB  (NOLOCK) -- ALOCACAO
		-- COBRADORAS , GESTORCOB..TACOB           ACCODACOB
WHERE	DT_REF = @DT_REF
	AND LCNROPER = RATING_HISTORICO.NUM_OPE   -- CONTRATO                 
    AND @DATA_REF <= (SELECT MAX(LCDTMOV) FROM GESTORCOB..ELCCB  AUX   (NOLOCK)
                       WHERE AUX.LCNROPER = RATING_HISTORICO.NUM_OPE)                  
						 --AND LCCODACOB = ACCODACOB                  
						 --ORDER BY LCDTMOV DESC)  
*/

-- AGENTE SERA DEFINIDO

-- ATUALIZA OS DADOS DO CLIENTE
/*

alter table RATING_HISTORICO
add  parc	int,
	 dtVencParc smalldatetime

alter table RATING_HISTORICO
add   AGENTE	VARCHAR(6),
	  COBRADORA VARCHAR(6),
	  DT_FECHA	SMALLDATETIME


UPDATE	RATING_HISTORICO
SET		NOM_CLI =,	--	varchar	no	100

SELECT * FROM pdd_sem_veic
DROP TABLE pdd_sem_veic


select * intO pdd_sem_veic FROM RATING_HISTORICO WHERE 1=0

*/

-- *********************************************************************
-- RECALCULAR SALDOS ERRADOS BACEN, ACERTO CF RELATORIO 3040
-- RECALC 751 E 752

-- SELECT * FROM SALDO_AUX
DROP TABLE SALDO_AUX

-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-03-31'
-- 751 DIFERENCA DE SALDO
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-10-31'
SELECT O.OPCODOP, P.OPNATOP, C.CLATIV, O.OPNROPER, C.CLNOMECLI, O.OPDTPRCAB, O.OPCODPRD, (E.CSCODNIV)  AS OPCODNIV, 
 SUM( P.OPVLRPR) AS OPVLRPR, SUM( P.OPVLRJR) AS OPVLRJR, SUM( P.OPRAP) AS OPRAP, 
 SUM( P.OPMORA) AS OPMORA, SUM( P.OPRRFPR) AS OPRRFPR, SUM( P.OPRRFJR) AS OPRRFJR, 
 SUM( P.OPRRFMR) AS OPRRFMR
INTO SALDO_AUX
 FROM		BACENSANTANAMicroCredito..COPERB O (NOLOCK)
	 JOIN	BACENSANTANAMicroCredito..ECLAS  E (NOLOCK) ON (E.CSDTREF = O.OPDTREF AND E.CSEMPRESA = O.OPEMPRESA AND E.CSNROPER = O.OPNROPER AND E.CSCGCCLI = O.OPCGCCLI)
	 JOIN	BACENSANTANAMicroCredito..CPARCB P (NOLOCK) ON (P.OPEMPRESA = O.OPEMPRESA AND P.OPNROPER = O.OPNROPER AND P.OPCODPRD = O.OPCODPRD AND P.OPDTREF = O.OPDTREF)
	 LEFT   JOIN CDCSANTANAMicroCredito..CCLIE C (NOLOCK)  ON(C.CLCGC = O.OPCGCCLI)
 WHERE O.OPDTREF = @DATA_REF
 AND O.OPEMPRESA = '001'
 AND O.OPCODPRD = '004'
 AND O.OPCODOP IN ('751','752')
 AND O.OPTPCNT NOT IN ('F','P')
 AND P.OPNATOP NOT IN ('11','12','13','14','15')
GROUP BY O.OPCODOP, P.OPNATOP, C.CLATIV, O.OPNROPER, C.CLNOMECLI, O.OPDTPRCAB, O.OPCODPRD, O.OPDTREF, O.OPEMPRESA, O.OPCGCCLI, E.CSCODNIV 


-- ATUALIZA  754 CONTRATOS CART 751,752
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-10-31'
UPDATE	RATING_HISTORICO
SET		SLD_INSCRITO = OPVLRPR+ OPVLRJR
FROM	SALDO_AUX O (NOLOCK)
WHERE	RATING_HISTORICO.NUM_OPE = O.OPNROPER
AND		DT_FECHA=@DATA_REF


-- RECALCULAR SALDOS ERRADOS BACEN, ACERTO CF RELATORIO 3040
-- RECALC 751 E 752


DROP TABLE SALDO_AUX

-- VERIFICA DIFERENCA DE SALDO
-- SELECT *   FROM BACENSANTANAMicroCredito..COPERB O WHERE OPNROPER='612145175'
-- SELECT *   FROM BACENSANTANAMicroCredito..CPARCB O WHERE OPNROPER='612145175'
-- declare @data_ref smalldatetime set @data_ref = '2014-03-31'
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-10-31'
SELECT O.OPCODOP, P.OPNATOP, C.CLATIV, O.OPNROPER, C.CLNOMECLI, O.OPDTPRCAB, O.OPCODPRD, (E.CSCODNIV)  AS OPCODNIV, 
 SUM( P.OPVLRPR) AS OPVLRPR, SUM( P.OPVLRJR) AS OPVLRJR, SUM( P.OPRAP) AS OPRAP, 
 SUM( P.OPMORA) AS OPMORA, SUM( P.OPRRFPR) AS OPRRFPR, SUM( P.OPRRFJR) AS OPRRFJR, 
 SUM( P.OPRRFMR) AS OPRRFMR
INTO SALDO_AUX
 FROM BACENSANTANAMicroCredito..COPERB O	(NOLOCK)
 JOIN BACENSANTANAMicroCredito..ECLAS E		(NOLOCK) ON(E.CSDTREF = O.OPDTREF AND E.CSEMPRESA = O.OPEMPRESA AND E.CSNROPER = O.OPNROPER AND E.CSCGCCLI = O.OPCGCCLI)
 JOIN BACENSANTANAMicroCredito..CPARCB P	(NOLOCK) ON(P.OPEMPRESA = O.OPEMPRESA AND P.OPNROPER = O.OPNROPER AND P.OPCODPRD = O.OPCODPRD AND P.OPDTREF = O.OPDTREF)
 LEFT  JOIN CDCSANTANAMicroCredito..CCLIE C (NOLOCK) ON(C.CLCGC = O.OPCGCCLI)
 WHERE O.OPDTREF = @DATA_REF
-- AND O.OPEMPRESA = '001' AND O.OPCODPRD = '004'
-- todas veiculos
-- AND O.OPCODOP IN ('552','610','612','630','632','642','643','670','672','700','751','752','760','862','893','553','894')
-- AND O.OPTPCNT NOT IN ('F','P')
-- AND P.OPNATOP NOT IN ('11','12','13','14','15')
GROUP BY O.OPCODOP, P.OPNATOP, C.CLATIV, O.OPNROPER, C.CLNOMECLI, O.OPDTPRCAB, O.OPCODPRD, O.OPDTREF, O.OPEMPRESA, O.OPCGCCLI, E.CSCODNIV 


-- ATUALIZA  200 CONTRATOS SALDO NULL, 0 OU 1
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-03-31'
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF='2014-10-31'
UPDATE RATING_HISTORICO
SET SLD_INSCRITO = OPVLRPR+ OPVLRJR
FROM SALDO_AUX O (NOLOCK)
WHERE RATING_HISTORICO.NUM_OPE = O.OPNROPER
AND  DT_FECHA=@DATA_REF
AND	 SLD_INSCRITO IS NULL
-- ATUALIZA  200 CONTRATOS SALDO NULL, 0 OU 1
-- SELECT * FROM SALDO_AUX WHERE OPNROPER='612145175'
-- declare @data_ref smalldatetime set @data_ref = '2014-03-31'
UPDATE RATING_HISTORICO
SET SLD_INSCRITO = OPVLRPR+ OPVLRJR
FROM SALDO_AUX O (NOLOCK)
WHERE RATING_HISTORICO.NUM_OPE = O.OPNROPER
AND  DT_FECHA=@DATA_REF
AND	 SLD_INSCRITO = 0.0
-- ATUALIZA  200 CONTRATOS SALDO NULL, 0 OU 1
UPDATE RATING_HISTORICO
SET SLD_INSCRITO = OPVLRPR+ OPVLRJR
FROM SALDO_AUX O (NOLOCK)
WHERE RATING_HISTORICO.NUM_OPE = O.OPNROPER
AND  DT_FECHA=@DATA_REF
AND	 SLD_INSCRITO = 1.0


-- REMOVE CONTRATOS Q NAO EXISTEM NO FUNCAO
-- declare @data_ref smalldatetime set @data_ref = '2014-03-31'
delete 
	from	RATING_HISTORICO 
	WHERE	DT_FECHA=@DATA_REF
		AND num_ope in ('6706','6784','8121','8386','8542')


-- *******************************************************************
-- PARCELAS EM ATRASO **** CRIACAO ESTOQUE DE PARCELAS DO FECHAMENTO
-- *******************************************************************
-- LIMPA PARCELAS ANT
DELETE FROM	AUX_PARC

-- CARREGA PARCELAS NAO PAGAS
-- declare @data_ref smalldatetime set @data_ref = '2014-01-31'
-- declare @data_ref smalldatetime set @data_ref = '2014-03-31'
-- declare @data_ref smalldatetime set @data_ref = '2014-05-31'
INSERT	AUX_PARC
SELECT  P.PANROPER, (P.PANRPARC), (P.PADTVCTO),
		(P.PAVLRPR + P.PAVLRJR),-- pmt
		(P.PADTLIQ)
FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK) ,
		RATING_HISTORICO	R (NOLOCK)		-- SOMENTE DO FECHAMENTO
WHERE	R.DT_FECHA = @data_ref				-- FECHAMENTO
	AND	P.PANROPER = NUM_OPE 
	AND	P.PADTVCTO <= @data_ref				-- VENCIDO 
	AND	(P.PADTLIQ IS  NULL					-- NAO PAGA 
	OR	 P.PADTLIQ >	@data_ref	)		-- PAGA APOS PERIODO
	AND P.PACNTRL = (SELECT MAX(AUX.PACNTRL)
						FROM  CDCSANTANAMicroCredito..CPARC AUX (NOLOCK) 
								-- CONTRATO
						WHERE	AUX.PANROPER  = P.PANROPER
							AND	AUX.PANRPARC  = P.PANRPARC )



-- REMOVE PROCESSO ANTERIOR
-- declare @data_ref smalldatetime set @data_ref = '2014-03-31'
-- declare @data_ref smalldatetime set @data_ref = '2014-05-31'
DELETE	RATING_HISTORICO_PARC WHERE DT_FECHA = @data_ref


-- SELECT * FROM RATING_HISTORICO_PARC WHERE DT_FECHA='2014-03-31'
-- ATUALIZA HISTORICO DE PARCELAS NAO PAGAS
-- TRANSFERE DE AUX_PARC PARA O HISTORICO_PARC
-- declare @data_ref smalldatetime set @data_ref = '2014-03-31'
-- declare @data_ref smalldatetime set @data_ref = '2014-05-31'
INSERT	RATING_HISTORICO_PARC
/*
(DT_FECHA	SMALLDATETIME,
AGENTE		varchar(10),
COBRADORA	varchar(10),
NVL_RISCO	varchar(2),
SLD_INSCRITO
PANROPER	varchar(20),
PANRPARC	varchar(5),
PADTVCTO	SMALLDATETIME,
PAPMT		FLOAT,
PADTLIQ		smalldatetime)
*/
SELECT	@data_ref,
		'','','',PAPMT,
		*
	FROM	AUX_PARC P (NOLOCK)

-- select * from AUX_PARC
-- select count(*) from 	RATING_HISTORICO_PARC   1m6
-- select distinct dt_fecha  from 	RATING_HISTORICO_PARC   3m
-- select count(*) from 	RATING_HISTORICO_PARC  where dt_fecha='2014-03-31' 
-- ATUALIZA DADOS DOS CONTRATOS	
-- declare @data_ref smalldatetime set @data_ref = '2014-01-31'
-- declare @data_ref smalldatetime set @data_ref = '2014-10-31'
UPDATE	RATING_HISTORICO_PARC
SET		AGENTE	  = H.AGENTE,
		COBRADORA = H.COBRADORA, 
		NVL_RISCO = H.NVL_RISCO
	FROM  RATING_HISTORICO H (NOLOCK)
	WHERE H.DT_FECHA =@data_ref		-- FECHAMENTO DA PDD
	AND		RATING_HISTORICO_PARC.DT_FECHA = @data_ref	-- PAGAMENTOS DT REF
	AND		RATING_HISTORICO_PARC.PANROPER = H.NUM_OPE 



-- NOVOS CONTRATOS
-- PARC A VENCER FICA COM NULLO, NAO VENCEU AINDA
UPDATE		RATING_HISTORICO 	
	SET		ATRASO=0 
	WHERE	DT_FECHA =@data_ref
	 and	PARC IS NULL 
	 AND	DTVENCPARC IS NULL


-- CONTRATOS ENVIADOS PARA PREJUIZO NO MES E NAO ALTERADOS NO FUNCAO
-- SELECT * FROM RATING_HISTORICO WHERE DT_FECHA='20140530' AND ATRASO>360 AND NVL_RISCO <>'HH'
UPDATE		RATING_HISTORICO 	
	SET		NVL_RISCO = 'HH'
	WHERE	DT_FECHA  = @data_ref
	 and	ATRASO    > 360			-- ATRASO ACIMA DE 360 
	 AND    NVL_RISCO <>'HH'		-- NAO ESTAH EM PREJUIZO


/*  antigo, mudou a definicao
-- AJUSTA O SALDO DA MENOR PARCELA
-- declare @data_ref smalldatetime set @data_ref = '2014-01-31'
UPDATE	RATING_HISTORICO_PARC
SET		SLD_INSCRITO = H.SLD_INSCRITO
	FROM  RATING_HISTORICO H (NOLOCK)
	WHERE H.DT_FECHA =@data_ref		-- FECHAMENTO DA PDD
	AND		RATING_HISTORICO_PARC.DT_FECHA = @data_ref	-- FECHAMENTO DA PDD = CARGA
	AND		RATING_HISTORICO_PARC.PANROPER = H.NUM_OPE 
	AND		RATING_HISTORICO_PARC.PANRPARC = (SELECT		--PANROPER,
							MIN(AUX.PANRPARC) 
					FROM RATING_HISTORICO_PARC AUX (NOLOCK)
					WHERE AUX.PANROPER = H.NUM_OPE	)
					--GROUP BY AUX.PANROPER	)
*/
-- SELECT * FROM RATING_HISTORICO_PARC
-- SELECT * FROM RATING_HISTORICO WHERE DT_FECHA='20140530' AND ATRASO>360 AND NVL_RISCO <>'HH'

-- inclui ajuste 7/11/16 
UPDATE		RATING_HISTORICO 	
	SET		NVL_RISCO = 'HH', ATRASO=362,VLR_PDD =1625.97, SLD_INSCRITO=1625.97
 	WHERE	DT_FECHA  = '20161031' AND NUM_OPE ='61247416A'
UPDATE		RATING_HISTORICO 	
	SET		NVL_RISCO = 'HH', ATRASO=362,VLR_PDD =3854.97, SLD_INSCRITO=3854.97
 	WHERE	DT_FECHA  = '20161031' AND NUM_OPE ='612150132A'

-- verifica se CONSTA  ************** 09/11/2016  **********
DECLARE @EXISTE INT
SET		@EXISTE= ISNULL((select COUNT(*)  from RATING_HISTORICO (nolock) 
 					WHERE	DT_FECHA  = '20161031' AND NUM_OPE ='612116808A'),0)
--SELECT	@EXISTE
IF		@EXISTE=0
BEGIN
		insert RATING_HISTORICO
			select '10_16',NUM_OPE,	DT_BASE,	
					'hh', --NVL_RISCO,	
					NOM_CLI,DT_VCTO1,SLD_INSCRITO,VLR_PRINC,VL_JUROS,TX_RAP,RRF_JR,VLR_FV,PERC_PDD,VLR_PDD,
					362,--Atraso,
					parc,dtVencParc,AGENTE,COBRADORA,
					'20161031',--DT_FECHA,
					DT_VCTO1P,CODCLI,CODPROD
			from RATING_HISTORICO (nolock) 
 				WHERE	DT_FECHA  = '20160930' AND NUM_OPE ='612116808A'
END

-- ******************************************* ajuste MAR-17
UPDATE		RATING_HISTORICO    
	SET		NVL_RISCO = 'HH',ATRASO=362
   from		RATING_HISTORICO (nolock)   
     WHERE	DT_FECHA  = '20170331' AND NUM_OPE ='612096318A'  -- AJUSTE DE H PARA HH
-- INCLUI EM HH, FALTA 1 CONTRATO
SET  @EXISTE= ISNULL((select COUNT(*)  from RATING_HISTORICO (nolock)   
      WHERE DT_FECHA  = '20170331' AND NUM_OPE ='612142507A'),0)  
--SELECT @EXISTE  
IF  @EXISTE=0  
BEGIN  
  insert RATING_HISTORICO  
   select '03_17',NUM_OPE, DT_BASE,   
     'hh', --NVL_RISCO,   
     NOM_CLI,DT_VCTO1,SLD_INSCRITO,VLR_PRINC,VL_JUROS,TX_RAP,RRF_JR,VLR_FV,PERC_PDD,VLR_PDD,  
     362,--Atraso,  
     parc,dtVencParc,AGENTE,COBRADORA,  
     '20170331',--DT_FECHA,  
     DT_VCTO1P,CODCLI,CODPROD  
   from RATING_HISTORICO (nolock)   
     WHERE DT_FECHA  = '20170228' AND NUM_OPE ='612142507A'  
   --   02_17	612142507A	2015-07-23 00:00:00	H	31005343870	2015-08-10 00:00:00	3328,06	675	0	47,6638594602112	0	0	100	3328,06	355	8	2016-03-10 00:00:00			2017-02-28 00:00:00	NULL	NULL	NULL
END
-- ****************************************** FIM MAR-17		


-- AJUSTA VLR PDD -- RECALCULADO  -- ALTERADO 18/7/14
UPDATE		RATING_HISTORICO 	
	SET		VLR_PDD = SLD_INSCRITO * PERC_PDD/100.0
	WHERE	DT_FECHA  = @data_ref



END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

