
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
--use SF_relatorios
go

-- EXEC [dbo].[PDD_reCARGA] '2014-06-30'

-- EXEC [dbo].[PDD_reCARGA] '2014-07-31'
--			 EXEC [dbo].[RR_CALCULO]   '2014-07-31'
			-- MONTAR OS RESULTADOS DO RELATORIO ROLLRATE DO MES
--			 EXEC [dbo].[RR_RELATORIO]  '2014-07-31'
			-- calculo PDD
--			EXEC [dbo].[PDD_CUBO_CALCULO]   '2014-07-31'

--			EXEC [dbo].[RR_RATING_PROJETADO_FECHADO]	  '2014-07-31'
--			EXEC [dbo].[RR_CALCULO_diario]		  '2014-07-31',  '2014-06-30'
--			EXEC [dbo].[RR_RELATORIO_DIARIO]	  '2014-07-31',  '2014-06-30'


-- 25 SEG CARGA
-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

-- delete FROM rating_historiCo where dt_ref = '12_13'
-- EXEC [dbo].[PDD_CARGA] '2013-12-31'
-- DROP PROCEDURE   [dbo].[PDD_CARGA]


--	SELECT * FROM	BACENSANTANAMicroCredito..ECLAS (NOLOCK) WHERE CSdtref='20140630'


-- PROC RECARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PDD_RECARGA' AND type = 'P')
   DROP PROCEDURE [dbo].[PDD_RECARGA]
GO


CREATE Procedure [dbo].[PDD_RECARGA] (@data_ref as datetime) AS
BEGIN

		-- APAGA PROCESSAMENTO ANTERIOR
		delete from rating_historico 
			where DT_FECHA = @data_ref

		-- EXECUTA A CARGA
		exec [PDD_CARGA] @data_ref

END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

