
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

-- delete FROM rating_historiCo where dt_ref = '12_13'
-- EXEC [dbo].[PDD_CUBO_CALCULO] '2017-04-30'

-- EXEC [dbo].[PDD_CUBO_CALCULO] '2014-01-31'
-- EXEC [dbo].[PDD_CUBO_CALCULO] '2014-02-28'
-- EXEC [dbo].[PDD_CUBO_CALCULO] '2014-03-31'
-- EXEC [dbo].[PDD_CUBO_CALCULO] '2014-04-30'
-- EXEC [dbo].[PDD_CUBO_CALCULO] '2014-05-30'
-- EXEC [dbo].[PDD_CUBO_CALCULO] '2014-06-30'
-- EXEC [dbo].[PDD_CUBO_CALCULO] '2014-07-31'

-- EXEC [dbo].[PDD_CUBO_CALCULO] '2015-04-30'

-- select sum(sld_inscrito) from rating_historiCo where dt_fecha='20140530' and nvl_risco <>'hh'
-- SELECT MAX(DT_FECHA)  FROM rating_historiCo 
-- SELECT *  FROM rating_historiCo WHERE DT_FECHA='20140530'

/* CRIAR TABELA AUXILIAR
select cubo, Descr from Tcubo (nolock)  order by cubo
INSERT Tcubo SELECT 8,'LOJAS'

SELECT * FROM  PDD_CUBO ORDER BY NUM_CUBO, M0_DESCR1

-- AGENTE
SELECT * FROM  PDD_CUBO WHERE NUM_CUBO = 1 ORDER BY NUM_CUBO, ORDEM, M0_DESCR1
-- ANO
SELECT * FROM  PDD_CUBO WHERE NUM_CUBO = 2 ORDER BY NUM_CUBO, ORDEM, M0_DESCR1
-- TIPO ORIGEM
SELECT * FROM  PDD_CUBO WHERE NUM_CUBO = 3 ORDER BY NUM_CUBO, ORDEM, M0_DESCR1
--  ORIGEM
SELECT * FROM  PDD_CUBO WHERE NUM_CUBO = 4 ORDER BY NUM_CUBO, ORDEM, M0_DESCR1
-- MODALIDADE
SELECT * FROM  PDD_CUBO WHERE NUM_CUBO = 5 ORDER BY NUM_CUBO, ORDEM, M0_DESCR1
-- RATING
SELECT * FROM  PDD_CUBO WHERE NUM_CUBO = 6 ORDER BY NUM_CUBO, ORDEM, M0_DESCR1

DROP   TABLE TCUBO
CREATE TABLE TCUBO
( CUBO INT, DESCR VARCHAR(100))

INSERT TCUBO	SELECT 1,'AGENTE'
INSERT TCUBO	SELECT 2,'ANO VEICULO'
INSERT TCUBO	SELECT 3,'VEICULO E ORIGINAÇÃO'
INSERT TCUBO	SELECT 4,'ORIGINAÇÃO'
INSERT TCUBO	SELECT 5,'FAIXA RISCO'
INSERT TCUBO	SELECT 6,'MODALIDADE'
INSERT TCUBO	SELECT 7,'NATUREZA OCUPAÇÃO'

SELECT * FROM TCUBO

select cubo, Descr from Tcubo (nolock)  order by cubo

SELECT * FROM RATING_HISTORICO_AUX
SELECT * FROM usuario

CLATIV
SELECT TOP 100 * FROM CDCSANTANAMicroCredito..CCLIE
select * from PROPOSTASMC..TOCUP

select * from PROPOSTAGA..TOCUP
select * from PROPOSTASANTANA..TOCUP
select * from PROPOSTASMC..TOCUP
select * from PROPWEBSHP..TOCUP
-- ***
select * from PROPWEBSMC..TOCUP

*/

use SIG
--use SF_relatorios
go

-- DROP Procedure [dbo].[PDD_CUBO_CALCULO] 

/*

 EXEC [dbo].[PDD_CUBO_CALCULO]  '2014-06-30'

 EXEC [dbo].[PDD_CUBO_CALCULO]  '2014-04-30'


 EXEC [dbo].[RR_CALCULO]  '2013-01-31'
 EXEC [dbo].[RR_CALCULO]  '2013-02-28'
 EXEC [dbo].[RR_CALCULO]  '2013-03-29'

 EXEC [dbo].[RR_CALCULO]  '2013-04-30'
 EXEC [dbo].[RR_CALCULO]  '2013-05-31'
 EXEC [dbo].[RR_CALCULO]  '2013-06-28'

 EXEC [dbo].[RR_CALCULO]  '2013-07-31'
 EXEC [dbo].[RR_CALCULO]  '2013-08-30'
 EXEC [dbo].[RR_CALCULO]  '2013-09-30'

 EXEC [dbo].[RR_CALCULO]  '2013-10-31'
 EXEC [dbo].[RR_CALCULO]  '2013-11-29'
 EXEC [dbo].[RR_CALCULO]  '2013-12-31'

 EXEC [dbo].[RR_CALCULO]  '2014-01-31'
 EXEC [dbo].[RR_CALCULO]  '2014-02-28'

 EXEC [dbo].[RR_CALCULO]  '2014-03-31'

DROP TABLE PDD_CUBO

CREATE TABLE PDD_CUBO
	(	
		DT_FECHA		SMALLDATETIME,
		NUM_CUBO		INT,
		ORDEM			INT,

		M0_DESCR1		VARCHAR(100),
		M0_DESCR2		VARCHAR(100),
		M0_CARTEIRA		float,
		M0_PDD			float,
		M0_PDD_PRC		float,

		M1_PREJUIZO		float,
		M1_DESPESA		float,
		M1_DESCR1		VARCHAR(100),
		M1_DESCR2		VARCHAR(100),
		M1_CARTEIRA		float,
		M1_PDD			float,
		M1_PDD_PRC		float
	)

CREATE INDEX PDD_CUBO_IDX1 ON PDD_CUBO
	(	DT_FECHA,		NUM_CUBO,	ORDEM,	M0_DESCR1,	M0_DESCR2)


SELECT SUM(SLD_INSCRITO),SUM(VLR_PDD) FROM RATING_HISTORICO WHERE DT_FECHA = '20140630' AND NVL_RISCO <> 'HH'
SELECT * FROM RATING_HISTORICO WHERE DT_FECHA = '20140630' AND NVL_RISCO <> 'HH'

UPDATE		RATING_HISTORICO 	
	SET		VLR_PDD = SLD_INSCRITO * PERC_PDD/100.0
	WHERE	DT_FECHA  =  '20140630'
UPDATE		RATING_HISTORICO 	
	SET		VLR_PDD = SLD_INSCRITO * PERC_PDD/100.0
	WHERE	DT_FECHA  =  '20140530'

SELECT * FROM RATING_HISTORICO_AUX
SELECT * INTO RATING_HISTORICO_AUX  FROM RATING_HISTORICO   WHERE 1=0
ALTER TABLE RATING_HISTORICO_AUX ADD DESCR1 VARCHAR(100),DESCR2 VARCHAR(100)
-- ALTER TABLE RATING_HISTORICO_AUX ADD MODALIDADE VARCHAR(10)
-- ALTER TABLE RATING_HISTORICO_AUX DROP COLUMN MODALIDADE

*/

-- SELECT * FROM RR_ROLLRATE WHERE RATING='HH'
-- SELECT * FROM RATING_HISTORICO WHERE NVL_RISCO='HH'


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PDD_CUBO_CALCULO' AND type = 'P')
   DROP PROCEDURE [dbo].[PDD_CUBO_CALCULO]
GO


CREATE Procedure [dbo].[PDD_CUBO_CALCULO] (@data_ref as datetime) AS
BEGIN


DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)

	-- ALTERACAO DT FECHAMENTO ULTIMO DIA DO MES
	IF @data_ANT <= '20140801' -- ANTES AGO/2014
	BEGIN
		-- CHECA SE EH DIA UTIL
		SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
								WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
								ELSE @data_ANT					 END
	END
	-- SELECT  CONVERT(CHAR(4),DATEPART(YEAR,GETDATE()))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,GETDATE()))),2)+'01'

-- APAGA PROCESSAMENTO ANTERIOR
delete  from PDD_CUBO
	WHERE	 DT_FECHA = @data_ref
	

-- LIMPA TABELA AUXILIAR
TRUNCATE TABLE   RATING_HISTORICO_AUX

-- CARREGA TABELA AUXILIAR
INSERT RATING_HISTORICO_AUX
	SELECT	*, '',''		-- DESCR 1 E 2
	FROM	RATING_HISTORICO (NOLOCK)
	where	DT_FECHA IN ( @data_ref , @DATA_ANT )  -- MES ATUAL E MES ANTERIOR


	-- CUBO 2 -- ANO MODELO ****************************************************
		-- ATUALIZA O ANO MODELO NA DESCR1
		UPDATE	RATING_HISTORICO_AUX
			SET	DESCR1 = ISNULL(ABANOMOD,'')
		FROM	CDCSANTANAMicroCredito..CBFIN V (NOLOCK)
		WHERE	RATING_HISTORICO_AUX.NUM_OPE = ABNROPER
			AND	ABNRGAR in ('01','1',' 1','1 ') -- alterado 24/7/17
			AND ABCNTRL = (SELECT	MAX(ABCNTRL) 
							FROM	CDCSANTANAMicroCredito..CBFIN V1 (NOLOCK)
							WHERE	V1.ABNROPER = RATING_HISTORICO_AUX.NUM_OPE) 
			
	-- CARREGA DADOS ATUAIS 
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			, -- INT

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	@data_ref,
				2,		-- CUBO 2 ANO MODELO
				1,		-- ORDEM
				DESCR1, -- ANO_MODELO,   -- GRUPO POR ANO
				'',
				0.0,0.0,0.0, -- MES ANTERIOR
				 -- MES ATUAL  DATA_REF
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA

				DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
				'',
				SUM(SLD_INSCRITO),
				SUM(VLR_PDD),
				0.0		-- PERC CALC
		FROM
				RATING_HISTORICO_AUX  (NOLOCK)
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NVL_RISCO <> 'HH'     -- SEM PREJUIZO
		GROUP   BY DESCR1

-- ********************** INCLUIDO 14/7/17 ************ PROBLEMA ANO 85 TEM EM MARCO E NAO EM ABRIL 17 ...
--	INSERE NO PDD CUBO QDO NAO TEM ANO NO MES ANTERIOR
	-- CARREGA DADOS ATUAIS 
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			, -- INT

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	DISTINCT
				@data_ref,
				2,		-- CUBO 2 ANO MODELO
				1,		-- ORDEM
				H.DESCR1, -- ANO_MODELO,   -- GRUPO POR ANO
				'',
				-- MES ANTERIOR Q NAO LOCALIZOU NO ATUAL		*************
				H.SALDO,				H.PDD, 0.0,
				 -- MES ATUAL  DATA_REF
				0.0,
				0.0,

				H.DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
				--'',
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA
				0.0,
				0.0		-- PERC CALC
		FROM	PDD_CUBO P (NOLOCK),
				(	SELECT	AUX.DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  AUX (NOLOCK)
					WHERE	AUX.DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND AUX.NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR1					) AS H
		WHERE	P.DT_FECHA = @data_ref  -- MES ATUAL
			AND P.NUM_CUBO = 2 -- ANO MODELO
			AND H.DESCR1 NOT IN (SELECT		M0_DESCR1 FROM PDD_CUBO P1 (NOLOCK) 
									WHERE	P1.DT_FECHA = @data_ref		-- MES ATUAL
										AND P1.NUM_CUBO = 2	)	-- ANO MODELO


		-- atualiza OS CAMPOS DO MES ATUAL ******* PREJUIZO
		UPDATE	PDD_CUBO
		SET		
				M1_PREJUIZO	= SALDO	
		FROM	(
					SELECT	DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
							SUM(SLD_INSCRITO) AS SALDO
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_REF	-- MES ATUAL
						AND NVL_RISCO = 'HH'		-- SOMENTE PREJUIZO
						-- NOVOS CONTRATOS EM PREJUIZO. Q NAO ESTAVAM NO MES ANTERIOR
						AND NUM_OPE NOT IN (SELECT		NUM_OPE 
												FROM	RATING_HISTORICO_AUX  (NOLOCK)
												WHERE	DT_FECHA = @data_ANT AND NVL_RISCO ='HH')
					GROUP BY DESCR1
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 2 -- ANO MODELO
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR1

		-- SELECT	SUM(SLD_INSCRITO) AS SALDO	FROM	RATING_HISTORICO_AUX  (NOLOCK)	WHERE	DT_FECHA ='20140430' AND NVL_RISCO = 'HH'
		-- SELECT	* 	FROM	RATING_HISTORICO  (NOLOCK)	WHERE	DT_FECHA ='20140430' AND NVL_RISCO = 'HH'




		-- ATUALIZA CAMPOS CALCULADOS  ******************** **************************************
		-- ATUALIZA CAMPOS CALCULADOS  ********************
		-- LINHAS DO MES ANTERIOR DO FECHAMENTO
		-- atualiza OS CAMPOS DO MES ANTERIOR
		UPDATE	PDD_CUBO
		SET		
				M0_CARTEIRA	= SALDO	,--float,
				M0_PDD		= PDD	 --float, 
				--M0_PDD_PRC	=0.0	,--float,  CALCULADO
		FROM	(
					SELECT	DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR1
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 2 -- ANO MODELO
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR1






		-- CUBO 1 AGENTE ********************	***********************************************************
		-- LIMPA
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= '', DESCR2 = ''
/*
-- a13codOrg
select  opcodorg3,* from CDCSANTANAMicroCredito..coper  -- operador
select  * from CDCSANTANAMicroCredito..TA1O3
select  O3CODORGA13,* from CDCSANTANAMicroCredito..TORG3 T3 -- o3codorg2
select  * -- distinct o3descr
 from CDCSANTANAMicroCredito..TA1O3, CDCSANTANAMicroCredito..TORG3 T3
LEFT JOIN CDCSANTANAMicroCredito..TA1O3 T1O3 ON T3.O3CODORGA13 = T1O3.A13CODORG  
select  * from CDCSANTANAMicroCredito..TA1O3
*/

 
		-- COD DO AGENTE ********************	
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR2		= ISNULL(OP.O3CODORGA13,'') -- ISNULL(A.COD_AGENTE,'')
		FROM	--Torg3_agente	A (NOLOCK),
				CDCSANTANAMicroCredito..TORG3 OP (NOLOCK) ,
				--CDCSANTANAMicroCredito..TA1O3 A,
				CDCSANTANAMicroCredito..COPER O (NOLOCK) 
		WHERE	OPNROPER=NUM_OPE
			AND OPCODORG3 = O3CODORG  -- OPERADOR
			--AND O3CODORGA13 = A13CODORG -- PROMOTORA
		
			--AND		COD_PROMOTORA =  OPCODORG3  -- OPERADOR
		
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR2	='' WHERE DESCR2 IS NULL

		-- SELECT * FROM RATING_HISTORICO_AUX
		-- SELECT * FROM	Torg3_agente
		-- SELECT * FROM	Torg3_agente2

		-- NOME DO AGENTE ********************	
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= ISNULL(A.A13DESCR,'') --ISNULL(A.agente,'')
		FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)
				--Torg3_agente	A (NOLOCK)
		        --SF_RELATORIOS..TORG3_AGENTE2 a (NOLOCK)
		WHERE	DESCR2 = A13CODORG --a.COD_agente  -- CONTEM CODIGO

		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1	='' WHERE DESCR1 IS NULL

	-- CUBO 1 -- AGENTE ****************************************************		
	-- CARREGA DADOS ATUAIS 
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			,--INT,

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	@data_ref,
				1, -- CUBO 1 AGENTE
				1, -- ORDEM
				DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
				'',
				0.0,0.0,0.0, -- MES ANTERIOR
				 -- MES ATUAL  DATA_REF
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA

				DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
				'',
				SUM(SLD_INSCRITO),
				SUM(VLR_PDD),
				0.0		-- PERC CALC
		FROM
				RATING_HISTORICO_AUX  (NOLOCK)
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NVL_RISCO <> 'HH'     -- SEM PREJUIZO
		GROUP   BY DESCR1

		-- SELECT * FROM		RATING_HISTORICO (NOLOCK)

		-- SELECT	SUM(SLD_INSCRITO) AS SALDO	FROM	RATING_HISTORICO_AUX  (NOLOCK)	WHERE	DT_FECHA ='20140430' AND NVL_RISCO = 'HH'
		-- SELECT	* 	FROM	RATING_HISTORICO  (NOLOCK)	WHERE	DT_FECHA ='20140430' AND NVL_RISCO = 'HH'


-- ********************** INCLUIDO 14/7/17 ************ PROBLEMA ANO 85 TEM EM MARCO E NAO EM ABRIL 17 ...
--	INSERE NO PDD CUBO QDO NAO TEM ANO NO MES ANTERIOR  cub 1 ag
	-- CARREGA DADOS ATUAIS  
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			, -- INT

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	DISTINCT
				@data_ref,
				1,		-- CUBO 1 Agente
				1,		-- ORDEM
				H.DESCR1, -- ANO_MODELO,   -- GRUPO POR ANO
				'',
				-- MES ANTERIOR Q NAO LOCALIZOU NO ATUAL		*************
				H.SALDO,				H.PDD, 0.0,
				 -- MES ATUAL  DATA_REF
				0.0,
				0.0,

				H.DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
				--'',
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA
				0.0,
				0.0		-- PERC CALC
		FROM	PDD_CUBO P (NOLOCK),
				(	SELECT	AUX.DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  AUX (NOLOCK)
					WHERE	AUX.DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND AUX.NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR1					) AS H
		WHERE	P.DT_FECHA = @data_ref  -- MES ATUAL
			AND P.NUM_CUBO = 1 -- AGENTE
			AND H.DESCR1 NOT IN (SELECT		M0_DESCR1 FROM PDD_CUBO P1 (NOLOCK) 
									WHERE	P1.DT_FECHA = @data_ref		-- MES ATUAL
										AND P1.NUM_CUBO = 1	)	-- AGENTE


		-- atualiza OS CAMPOS DO MES ATUAL ******* PREJUIZO
		UPDATE	PDD_CUBO
		SET		
				M1_PREJUIZO	= SALDO	
		FROM	(
					SELECT	DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
							SUM(SLD_INSCRITO) AS SALDO
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_REF	-- MES ATUAL
						AND NVL_RISCO = 'HH'		-- SOMENTE PREJUIZO
						-- NOVOS CONTRATOS EM PREJUIZO. Q NAO ESTAVAM NO MES ANTERIOR
						AND NUM_OPE NOT IN (SELECT		NUM_OPE 
												FROM	RATING_HISTORICO_AUX  (NOLOCK)
												WHERE	DT_FECHA = @data_ANT AND NVL_RISCO ='HH')
					GROUP BY DESCR1
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 1 -- AGENTE
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR1



		-- ATUALIZA CAMPOS CALCULADOS  ******************** **************************************
		-- ATUALIZA CAMPOS CALCULADOS  ********************
		-- LINHAS DO MES ANTERIOR DO FECHAMENTO
		-- atualiza OS CAMPOS DO MES ANTERIOR
		UPDATE	PDD_CUBO
		SET		
				M0_CARTEIRA	= SALDO	,--float,
				M0_PDD		= PDD	 --float, 
				--M0_PDD_PRC	=0.0	,--float,  CALCULADO
		FROM	(
					SELECT	DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR1
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 1 -- AGENTE
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR1



-- SELECT charindex('e', 'LEVES')
-- SELECT charindex('t', 'LEVES')
-- OPCODPROD
-- SELECT TPCODPRD,TPDESCR,*  	FROM	CDCSANTANAMicroCredito..TPROD P (NOLOCK)
-- SELECT '00'+RTRIM(CONVERT(CHAR(2),DATEPART(MM,GETDATE())))

	-- CUBO 3 --  ****************************************************
	-- CUBO 3 -- VEICULO E ORIGINACAO ****************************************************
		-- LIMPA
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= '', DESCR2 = ''

		-- DT BASE NO AUX
		UPDATE	RATING_HISTORICO_AUX
		SET		DT_BASE		= OPDTBASE
		FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
		WHERE	NUM_OPE = O.OPNROPER

		-- RENEGOCIADOS DISTRIBUIR *******************   +++++++++++++
		UPDATE	RATING_HISTORICO_AUX 
		SET		DESCR2 = LEFT(NUM_OPE,LEN(NUM_OPE)-1) 
			WHERE  RIGHT(NUM_OPE,1) IN ('A','B','C','D')
		-- RENEGOCIADOS DISTRIBUIR *******************   +++++++++++++
		UPDATE	RATING_HISTORICO_AUX 
		SET		DT_BASE		= OPDTBASE
		FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
		WHERE	RIGHT(NUM_OPE,1) IN ('A','B','C','D')
			AND DESCR2 = O.OPNROPER  -- contrato original			
		-- SE RENEGOCIADO ALTERA DATA CF CONTRATO ORIGINAL
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= '', DESCR2 = ''

		-- ATUALIZA O VEICULO NA DESCR1 E PERIODO DE ORIGINACAO NA DESCR2
		UPDATE	RATING_HISTORICO_AUX
			SET	DESCR1 = CASE WHEN CHARINDEX('LEVES',ISNULL(P.TPDESCR,'')) > 0 THEN 'LEVES'
							  WHEN CHARINDEX('MOTOS',ISNULL(P.TPDESCR,'')) > 0 THEN 'MOTOS'	
							  WHEN CHARINDEX('CAMINH',ISNULL(P.TPDESCR,''))+
									CHARINDEX('UTILIT',ISNULL(P.TPDESCR,'')) > 0 THEN 'UTILIT/CAMINHOES'	
							  ELSE 'LEVES' END
		FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK), 
				CDCSANTANAMicroCredito..TPROD P (NOLOCK)
		WHERE	RATING_HISTORICO_AUX.NUM_OPE = OPNROPER
			AND	OPCODPROD = P.TPCODPRD

		-- ATUALIZA O VEICULO NA DESCR1 E PERIODO DE ORIGINACAO NA DESCR2 -- CONTRATO ORIGINAL
		UPDATE		RATING_HISTORICO_AUX
			SET		DESCR1 = CASE WHEN LEFT(OPCODTAB,2)='VL' THEN 'LEVES'
								  WHEN LEFT(OPCODTAB,2)='DR' THEN 'MOTOS'	
								  ELSE 'LEVES' END	
			FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
			WHERE	DESCR1 = ''   -- SEM PRODUTO
				AND	RATING_HISTORICO_AUX.NUM_OPE = OPNROPER

		-- ATUALIZA O VEICULO NA DESCR1 E PERIODO DE ORIGINACAO NA DESCR2
		UPDATE		RATING_HISTORICO_AUX
			SET		DESCR1 = CASE WHEN LEFT(OPCODTAB,2)='VL' THEN 'LEVES'
								  WHEN LEFT(OPCODTAB,2)='DR' THEN 'MOTOS'	
								  ELSE 'LEVES' END	
			FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
			WHERE	DESCR1 = ''   -- SEM PRODUTO
				AND	RATING_HISTORICO_AUX.NUM_OPE = OPNROPER
			-- SEM MODALIDADE NO COPER, TABELA VL..= LEVES, DR..=MOTOS

		-- ATUALIZA O VEICULO NA DESCR1 E PERIODO DE ORIGINACAO NA DESCR2
			/*		
			SELECT O.OPCODPROD,* FROM RATING_HISTORICO_AUX  H, 
						CDCSANTANAMicroCredito..COPER O (NOLOCK)
						--, 			CDCSANTANAMicroCredito..TPROD P (NOLOCK)	
				WHERE	H.NUM_OPE = O.OPNROPER	
					--AND	O.OPCODPROD = P.TPCODPRD 
					AND H.DESCR1 = ''

			*/		-- SELECT * FROM RATING_HISTORICO_AUX WHERE DESCR1 = ''
		UPDATE	RATING_HISTORICO_AUX
			SET	DESCR2 = CASE	WHEN DATEPART(YYYY,DT_BASE)<2012 AND  DATEPART(MM,DT_BASE) BETWEEN 1 AND 6 
								THEN CONVERT(CHAR(4),DATEPART(YYYY,DT_BASE))+' 1o SEM.'

								WHEN DATEPART(YYYY,DT_BASE)<2012 AND  DATEPART(MM,DT_BASE) BETWEEN 7 AND 12 
								THEN CONVERT(CHAR(4),DATEPART(YYYY,DT_BASE))+' 2o SEM.'

								WHEN DATEPART(YYYY,DT_BASE)>=2012 
								THEN CONVERT(CHAR(4),DATEPART(YYYY,DT_BASE)) + ' '+RIGHT('00'+RTRIM( CONVERT(CHAR(2),DATEPART(MM,DT_BASE)) ),2)
							END								
			
	-- CARREGA DADOS ATUAIS 
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			,--INT,

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	@data_ref,
				3,	-- CUBO 3 TIPO E ORIGINACAO
				1,	-- ORDEM
				DESCR1+' '+DESCR2,  -- TIPO E PERIODO
				'',
				0.0,0.0,0.0, -- MES ANTERIOR
				 -- MES ATUAL  DATA_REF
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA

				DESCR1+' '+DESCR2,  -- TIPO E PERIODO
				'',
				SUM(SLD_INSCRITO),
				SUM(VLR_PDD),
				0.0		-- PERC CALC
		FROM
				RATING_HISTORICO_AUX  (NOLOCK)
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NVL_RISCO <> 'HH'     -- SEM PREJUIZO
		GROUP   BY 
				DESCR1+' '+DESCR2

		-- SELECT * FROM		RATING_HISTORICO (NOLOCK)

-- ********************** INCLUIDO 14/7/17 ************ PROBLEMA ANO 85 TEM EM MARCO E NAO EM ABRIL 17 ...
--	INSERE NO PDD CUBO QDO NAO TEM ANO NO MES ANTERIOR  cub 1 ag
	-- CARREGA DADOS ATUAIS  
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			, -- INT

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	DISTINCT
				@data_ref,
				3,	-- CUBO 3 TIPO E ORIGINACAO
				1,	-- ORDEM
				H.DESCR,  -- TIPO E PERIODO
				'',
				-- MES ANTERIOR Q NAO LOCALIZOU NO ATUAL		*************
				H.SALDO,				H.PDD, 0.0,
				 -- MES ATUAL  DATA_REF
				0.0,
				0.0,

				H.DESCR,  -- TIPO E PERIODO				--'',
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA
				0.0,
				0.0		-- PERC CALC
		FROM	PDD_CUBO P (NOLOCK),
				(	SELECT	DESCR1+' '+DESCR2 AS DESCR,
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  AUX (NOLOCK)
					WHERE	AUX.DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND AUX.NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR1+' '+DESCR2			) AS H
		WHERE	P.DT_FECHA = @data_ref  --  MES ATUAL
			AND P.NUM_CUBO = 3			--  TIPO E ORIGINACAO
			AND H.DESCR NOT IN (SELECT		M0_DESCR1 FROM PDD_CUBO P1 (NOLOCK) 
									WHERE	P1.DT_FECHA = @data_ref		-- MES ATUAL
										AND P1.NUM_CUBO = 3	)	-- AGENTE


		-- atualiza OS CAMPOS DO MES ATUAL ******* PREJUIZO
		UPDATE	PDD_CUBO
		SET		
				M1_PREJUIZO	= SALDO	
		FROM	(
					SELECT	DESCR1+' '+DESCR2 AS DESCR,  -- TIPO E DATA ORIGEM
							SUM(SLD_INSCRITO) AS SALDO
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_REF	-- MES ATUAL
						AND NVL_RISCO = 'HH'		-- SOMENTE PREJUIZO
						-- NOVOS CONTRATOS EM PREJUIZO. Q NAO ESTAVAM NO MES ANTERIOR
						AND NUM_OPE NOT IN (SELECT		NUM_OPE 
												FROM	RATING_HISTORICO_AUX  (NOLOCK)
												WHERE	DT_FECHA = @data_ANT AND NVL_RISCO ='HH')
					GROUP BY DESCR1+' '+DESCR2
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 3 -- TIPO E ORIGINACAO
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR

		-- SELECT	SUM(SLD_INSCRITO) AS SALDO	FROM	RATING_HISTORICO_AUX  (NOLOCK)	WHERE	DT_FECHA ='20140430' AND NVL_RISCO = 'HH'
		-- SELECT	* 	FROM	RATING_HISTORICO  (NOLOCK)	WHERE	DT_FECHA ='20140430' AND NVL_RISCO = 'HH'



		-- ATUALIZA CAMPOS CALCULADOS  ******************** **************************************
		-- ATUALIZA CAMPOS CALCULADOS  ********************
		-- LINHAS DO MES ANTERIOR DO FECHAMENTO
		-- atualiza OS CAMPOS DO MES ANTERIOR
		UPDATE	PDD_CUBO
		SET		
				M0_CARTEIRA	= SALDO	,--float,
				M0_PDD		= PDD	 --float, 
				--M0_PDD_PRC	=0.0	,--float,  CALCULADO
		FROM	(
					SELECT	DESCR1+' '+DESCR2 AS DESCR,  -- TIPO E DT ORIGEM
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR1+' '+DESCR2
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 3 -- tipo e originacao
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR

		-- CUBO 3 ORDEM TIPO DE VEICULO E SUB TTL
		UPDATE	PDD_CUBO
		SET		ORDEM	= 20
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 3 -- TIPO E ORIGINACAO
			AND LEFT(PDD_CUBO.M0_DESCR1,5)	=	'MOTOS'
		-- CUBO 3 ORDEM TIPO DE VEICULO E SUB TTL
		UPDATE	PDD_CUBO
		SET		ORDEM	= 30
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 3 -- TIPO E ORIGINACAO
			AND LEFT(PDD_CUBO.M0_DESCR1,5)	=	'UTILI'



	-- CUBO 4 --  ****************************************************
	-- CUBO 4 --  ORIGINACAO ****************************************************
		-- LIMPA
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= '', DESCR2 = ''

		-- DT BASE NO AUX
		UPDATE	RATING_HISTORICO_AUX
		SET		DT_BASE		= OPDTBASE
		FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
		WHERE	NUM_OPE = O.OPNROPER

		-- RENEGOCIADOS DISTRIBUIR *******************   +++++++++++++
		UPDATE	RATING_HISTORICO_AUX 
		SET		DESCR2 = LEFT(NUM_OPE,LEN(NUM_OPE)-1) 
			WHERE  RIGHT(NUM_OPE,1) IN ('A','B','C','D')
		-- RENEGOCIADOS DISTRIBUIR *******************   +++++++++++++
		UPDATE	RATING_HISTORICO_AUX 
		SET		DT_BASE		= OPDTBASE
		FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
		WHERE	RIGHT(NUM_OPE,1) IN ('A','B','C','D')
			AND DESCR2 = O.OPNROPER  -- contrato original
			
		-- SE RENEGOCIADO ALTERA DATA CF CONTRATO ORIGINAL

		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= '', DESCR2 = ''

		-- ATUALIZA O VEICULO NA DESCR1 E PERIODO DE ORIGINACAO NA DESCR2
		-- SELECT * FROM RATING_HISTORICO_AUX
		UPDATE	RATING_HISTORICO_AUX
			SET	DESCR1 = CASE	WHEN DATEPART(YYYY,DT_BASE)<2012 AND  DATEPART(MM,DT_BASE) BETWEEN 1 AND 6 
								THEN CONVERT(CHAR(4),DATEPART(YYYY,DT_BASE))+' 1o SEM.'

								WHEN DATEPART(YYYY,DT_BASE)<2012 AND  DATEPART(MM,DT_BASE) BETWEEN 7 AND 12 
								THEN CONVERT(CHAR(4),DATEPART(YYYY,DT_BASE))+' 2o SEM.'

								WHEN DATEPART(YYYY,DT_BASE)>=2012 
								THEN CONVERT(CHAR(4),DATEPART(YYYY,DT_BASE)) + ' '+RIGHT('00'+RTRIM( CONVERT(CHAR(2),DATEPART(MM,DT_BASE)) ),2)
							END								
			
	-- CARREGA DADOS ATUAIS 
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			,--INT,

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	@data_ref,
				4, -- CUBO 4 ORIGINACAO
				1, -- ORDEM
				DESCR1,  --  PERIODO
				'',
				0.0,0.0,0.0, -- MES ANTERIOR
				 -- MES ATUAL  DATA_REF
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA

				DESCR1,  --  PERIODO
				'',
				SUM(SLD_INSCRITO),
				SUM(VLR_PDD),
				0.0		-- PERC CALC
		FROM
				RATING_HISTORICO_AUX  (NOLOCK)
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NVL_RISCO <> 'HH'     -- SEM PREJUIZO
		GROUP   BY 
				DESCR1

-- ********************** INCLUIDO 14/7/17 ************ PROBLEMA ANO 85 TEM EM MARCO E NAO EM ABRIL 17 ...
--	INSERE NO PDD CUBO QDO NAO TEM ANO NO MES ANTERIOR  cub 1 ag
	-- CARREGA DADOS ATUAIS  
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			, -- INT

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	DISTINCT
				@data_ref,
				4,		-- CUBO 4 ORIGINACAO
				1,		-- ORDEM
				H.DESCR1, -- ANO_MODELO,   -- GRUPO POR ANO
				'',
				-- MES ANTERIOR Q NAO LOCALIZOU NO ATUAL		*************
				H.SALDO,				H.PDD, 0.0,
				 -- MES ATUAL  DATA_REF
				0.0,
				0.0,

				H.DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
				--'',
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA
				0.0,
				0.0		-- PERC CALC
		FROM	PDD_CUBO P (NOLOCK),
				(	SELECT	AUX.DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  AUX (NOLOCK)
					WHERE	AUX.DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND AUX.NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR1					) AS H
		WHERE	P.DT_FECHA = @data_ref  -- MES ATUAL
			AND P.NUM_CUBO = 4			-- ORIGINACAO
			AND H.DESCR1 NOT IN (SELECT		M0_DESCR1 FROM PDD_CUBO P1 (NOLOCK) 
									WHERE	P1.DT_FECHA = @data_ref		-- MES ATUAL
										AND P1.NUM_CUBO = 4	)			-- ORIGINACAO


		-- atualiza OS CAMPOS DO MES ATUAL ******* PREJUIZO
		UPDATE	PDD_CUBO
		SET		
				M1_PREJUIZO	= SALDO	
		FROM	(
					SELECT	DESCR1 AS DESCR,  -- TIPO E DATA ORIGEM
							SUM(SLD_INSCRITO) AS SALDO
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_REF	-- MES ATUAL
						AND NVL_RISCO = 'HH'		-- SOMENTE PREJUIZO
						-- NOVOS CONTRATOS EM PREJUIZO. Q NAO ESTAVAM NO MES ANTERIOR
						AND NUM_OPE NOT IN (SELECT		NUM_OPE 
												FROM	RATING_HISTORICO_AUX  (NOLOCK)
												WHERE	DT_FECHA = @data_ANT AND NVL_RISCO ='HH')
					GROUP BY DESCR1
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 4 --  ORIGINACAO
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR

		-- SELECT	SUM(SLD_INSCRITO) AS SALDO	FROM	RATING_HISTORICO_AUX  (NOLOCK)	WHERE	DT_FECHA ='20140430' AND NVL_RISCO = 'HH'
		-- SELECT	* 	FROM	RATING_HISTORICO  (NOLOCK)	WHERE	DT_FECHA ='20140430' AND NVL_RISCO = 'HH'



		-- ATUALIZA CAMPOS CALCULADOS  ******************** **************************************
		-- ATUALIZA CAMPOS CALCULADOS  ********************
		-- LINHAS DO MES ANTERIOR DO FECHAMENTO
		-- atualiza OS CAMPOS DO MES ANTERIOR
		UPDATE	PDD_CUBO
		SET		
				M0_CARTEIRA	= SALDO	,--float,
				M0_PDD		= PDD	 --float, 
				--M0_PDD_PRC	=0.0	,--float,  CALCULADO
		FROM	(
					SELECT	DESCR1,  -- DT ORIGEM
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR1
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 4 --  originacao
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR1




	-- CUBO 5 --  ****************************************************
	-- CUBO 5 --  RATING ****************************************************
		-- LIMPA
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= '', DESCR2 = ''



		-- ATUALIZA O VEICULO NA DESCR1 E PERIODO DE ORIGINACAO NA DESCR2
		-- SELECT * FROM RATING_HISTORICO_AUX
		UPDATE		RATING_HISTORICO_AUX
			SET		DESCR1		= NVL_RISCO
			
	-- CARREGA DADOS ATUAIS 
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			,--INT,

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	@data_ref,
				5, -- CUBO 5 RATING
				1, -- ORDEM
				DESCR1,  --  RATING
				'',
				0.0,0.0,0.0, -- MES ANTERIOR
				 -- MES ATUAL  DATA_REF
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA

				DESCR1,  --  RATING
				'',
				SUM(SLD_INSCRITO),
				SUM(VLR_PDD),
				0.0		-- PERC CALC
		FROM
				RATING_HISTORICO_AUX  (NOLOCK)
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NVL_RISCO <> 'HH'     -- SEM PREJUIZO
		GROUP   BY 
				DESCR1

-- ********************** INCLUIDO 14/7/17 ************ PROBLEMA ANO 85 TEM EM MARCO E NAO EM ABRIL 17 ...
--	INSERE NO PDD CUBO QDO NAO TEM ANO NO MES ANTERIOR  cub 1 ag
	-- CARREGA DADOS ATUAIS  
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			, -- INT

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	DISTINCT
				@data_ref,
				5,		-- CUBO 5 RATING
				1,		-- ORDEM
				H.DESCR1, -- ANO_MODELO,   -- GRUPO POR ANO
				'',
				-- MES ANTERIOR Q NAO LOCALIZOU NO ATUAL		*************
				H.SALDO,				H.PDD, 0.0,
				 -- MES ATUAL  DATA_REF
				0.0,
				0.0,

				H.DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
				--'',
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA
				0.0,
				0.0		-- PERC CALC
		FROM	PDD_CUBO P (NOLOCK),
				(	SELECT	AUX.DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  AUX (NOLOCK)
					WHERE	AUX.DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND AUX.NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR1					) AS H
		WHERE	P.DT_FECHA = @data_ref  -- MES ATUAL
			AND P.NUM_CUBO = 5			-- RATING
			AND H.DESCR1 NOT IN (SELECT		M0_DESCR1 FROM PDD_CUBO P1 (NOLOCK) 
									WHERE	P1.DT_FECHA = @data_ref		-- MES ATUAL
										AND P1.NUM_CUBO = 5	)			-- RATING


		-- atualiza OS CAMPOS DO MES ATUAL ******* PREJUIZO
		UPDATE	PDD_CUBO
		SET		
				M1_PREJUIZO	= SALDO	
		FROM	(
					SELECT	DESCR1 AS DESCR,  -- TIPO E DATA ORIGEM
							SUM(SLD_INSCRITO) AS SALDO
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_REF	-- MES ATUAL
						AND NVL_RISCO = 'HH'		-- SOMENTE PREJUIZO
						-- NOVOS CONTRATOS EM PREJUIZO. Q NAO ESTAVAM NO MES ANTERIOR
						AND NUM_OPE NOT IN (SELECT		NUM_OPE 
												FROM	RATING_HISTORICO_AUX  (NOLOCK)
												WHERE	DT_FECHA = @data_ANT AND NVL_RISCO ='HH')
					GROUP BY DESCR1
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 5 --  RATING
			AND PDD_CUBO.M0_DESCR1	=	'H'  -- no H

		-- SELECT	SUM(SLD_INSCRITO) AS SALDO	FROM	RATING_HISTORICO_AUX  (NOLOCK)	WHERE	DT_FECHA ='20140430' AND NVL_RISCO = 'HH'
		-- SELECT	* 	FROM	RATING_HISTORICO  (NOLOCK)	WHERE	DT_FECHA ='20140430' AND NVL_RISCO = 'HH'



		-- ATUALIZA CAMPOS CALCULADOS  ******************** **************************************
		-- ATUALIZA CAMPOS CALCULADOS  ********************
		-- LINHAS DO MES ANTERIOR DO FECHAMENTO
		-- atualiza OS CAMPOS DO MES ANTERIOR
		UPDATE	PDD_CUBO
		SET		
				M0_CARTEIRA	= SALDO	,--float,
				M0_PDD		= PDD	 --float, 
				--M0_PDD_PRC	=0.0	,--float,  CALCULADO
		FROM	(
					SELECT	DESCR1 AS DESCR,  -- CARTEIRA
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR1
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 5 --  RATING
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR




	-- CUBO 6 --  ****************************************************
	-- CUBO 6 --  MODALIDADE ****************************************************
		-- LIMPA
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= '', DESCR2 = ''


		-- LIMPA
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR2		= O.OPCODOP
		-- SELECT *
		FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
		WHERE	NUM_OPE = O.OPNROPER

		-- ATUALIZA O VEICULO NA DESCR1 E PERIODO DE ORIGINACAO NA DESCR2
		-- SELECT * FROM RATING_HISTORICO_AUX
		UPDATE		RATING_HISTORICO_AUX
			SET		DESCR1		= TONOMEOP
			-- SELECT *
			FROM	CDCSANTANAMicroCredito..TMODA O (NOLOCK)
			WHERE	DESCR2 = O.TOCODOP
			
	-- CARREGA DADOS ATUAIS 
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			,--INT,

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	@data_ref,
				6, -- CUBO 6 MODALIDADE
				1, -- ORDEM
				DESCR2+' '+DESCR1,  --  CARTEIRA
				'',
				0.0,0.0,0.0, -- MES ANTERIOR
				 -- MES ATUAL  DATA_REF
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA

				DESCR2+' '+DESCR1,  --  CARTEIRA
				'',
				SUM(SLD_INSCRITO),
				SUM(VLR_PDD),
				0.0		-- PERC CALC
		FROM
				RATING_HISTORICO_AUX  (NOLOCK)
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NVL_RISCO <> 'HH'     -- SEM PREJUIZO
		GROUP   BY 
				DESCR2+' '+DESCR1

-- ********************** INCLUIDO 14/7/17 ************ PROBLEMA ANO 85 TEM EM MARCO E NAO EM ABRIL 17 ...
--	INSERE NO PDD CUBO QDO NAO TEM ANO NO MES ANTERIOR  cub 1 ag
	-- CARREGA DADOS ATUAIS  
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			, -- INT

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	DISTINCT
				@data_ref,
				6,		-- CUBO 6 MODALIDADE
				1,		-- ORDEM
				H.DESCR1, -- ANO_MODELO,   -- GRUPO POR ANO
				'',
				-- MES ANTERIOR Q NAO LOCALIZOU NO ATUAL		*************
				H.SALDO,				H.PDD, 0.0,
				 -- MES ATUAL  DATA_REF
				0.0,
				0.0,

				H.DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
				--'',
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA
				0.0,
				0.0		-- PERC CALC
		FROM	PDD_CUBO P (NOLOCK),
				(	SELECT	AUX.DESCR2+' '+AUX.DESCR1 AS DESCR1,  --  CARTEIRA
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  AUX (NOLOCK)
					WHERE	AUX.DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND AUX.NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR2+' '+DESCR1				) AS H    --  CARTEIRA	
		WHERE	P.DT_FECHA = @data_ref  -- MES ATUAL
			AND P.NUM_CUBO = 6			-- MODALIDADE
			AND H.DESCR1 NOT IN (SELECT		M0_DESCR1 FROM PDD_CUBO P1 (NOLOCK) 
									WHERE	P1.DT_FECHA = @data_ref		-- MES ATUAL
										AND P1.NUM_CUBO = 6	)			-- MODALIDADE


		-- atualiza OS CAMPOS DO MES ATUAL ******* PREJUIZO
		UPDATE	PDD_CUBO
		SET		
				M1_PREJUIZO	= SALDO	
		FROM	(
					SELECT	DESCR2+' '+DESCR1 AS DESCR,  -- TIPO E DATA ORIGEM
							SUM(SLD_INSCRITO) AS SALDO
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_REF	-- MES ATUAL
						AND NVL_RISCO = 'HH'		-- SOMENTE PREJUIZO
						-- NOVOS CONTRATOS EM PREJUIZO. Q NAO ESTAVAM NO MES ANTERIOR
						AND NUM_OPE NOT IN (SELECT		NUM_OPE 
												FROM	RATING_HISTORICO_AUX  (NOLOCK)
												WHERE	DT_FECHA = @data_ANT AND NVL_RISCO ='HH')
					GROUP BY DESCR2+' '+DESCR1
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 6 --  MODALIDADE
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR -- prejuizo 

		-- SELECT	SUM(SLD_INSCRITO) AS SALDO	FROM	RATING_HISTORICO_AUX  (NOLOCK)	WHERE	DT_FECHA ='20140430' AND NVL_RISCO = 'HH'
		-- SELECT	* 	FROM	RATING_HISTORICO  (NOLOCK)	WHERE	DT_FECHA ='20140430' AND NVL_RISCO = 'HH'



		-- ATUALIZA CAMPOS CALCULADOS  ******************** **************************************
		-- ATUALIZA CAMPOS CALCULADOS  ********************
		-- LINHAS DO MES ANTERIOR DO FECHAMENTO
		-- atualiza OS CAMPOS DO MES ANTERIOR
		UPDATE	PDD_CUBO
		SET		
				M0_CARTEIRA	= SALDO	,--float,
				M0_PDD		= PDD	 --float, 
				--M0_PDD_PRC	=0.0	,--float,  CALCULADO
		FROM	(
					SELECT	DESCR2+' '+DESCR1 AS DESCR,  -- CARTEIRA
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR2+' '+DESCR1
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 6 --  MODALIDADE
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR

		-- CARTEIRA VEICULOS PESADOS
		UPDATE	PDD_CUBO
		SET		ORDEM	= 3
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 6 --  MODALIDADE
			AND LEFT(PDD_CUBO.M0_DESCR1,3) IN ('553','643','894')


	-- CUBO 7 --  ****************************************************
	-- CUBO 7 --  NATUREZA OCUPACAO ****************************************************
		-- LIMPA
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= '', DESCR2 = ''

		-- SELECT * FROM RATING_HISTORICO_AUX
		-- LIMPA
		UPDATE	RATING_HISTORICO_AUX
		SET		CODCLI		= ISNULL(O.OPCODCLI,'')
		-- SELECT *
		FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
		WHERE	NUM_OPE = O.OPNROPER

		-- ATUALIZA O VEICULO NA DESCR1 E PERIODO DE ORIGINACAO NA DESCR2
		-- SELECT * FROM RATING_HISTORICO_AUX
		-- select CLCODOCUP,* from PROPWEBSMC..cclip
		UPDATE		RATING_HISTORICO_AUX
			SET		DESCR2		= ISNULL(CLCODOCUP,'')		--  cod ocupacao
			-- SELECT *
			FROM	PROPWEBSMC..cclip O (NOLOCK)
			WHERE	CODCLI = O.CLCODCLI


		/* antes de 29-08-2014
		UPDATE		RATING_HISTORICO_AUX
			SET		DESCR2		= CLATIV
			-- SELECT *
			FROM	CDCSANTANAMicroCredito..CCLIE O (NOLOCK)
			WHERE	CODCLI = O.CLCODCLI
		*/

		UPDATE		RATING_HISTORICO_AUX
			SET		DESCR1		= OCDESCR -- CLT, AUTONOMO , ETC
			-- SELECT *
			FROM	PROPWEBSMC..TOCUP  O (NOLOCK)
			WHERE	DESCR2 = O.OCCODOCUP

			
	-- CARREGA DADOS ATUAIS 
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			,--INT,

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	@data_ref,
				7, -- CUBO 7 OCUPACAO
				1, -- ORDEM
				DESCR2+' '+DESCR1,  --  CARTEIRA
				'',
				0.0,0.0,0.0, -- MES ANTERIOR
				 -- MES ATUAL  DATA_REF
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA

				DESCR2+' '+DESCR1,  --  CARTEIRA
				'',
				SUM(SLD_INSCRITO),
				SUM(VLR_PDD),
				0.0		-- PERC CALC
		FROM
				RATING_HISTORICO_AUX  (NOLOCK)
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NVL_RISCO <> 'HH'     -- SEM PREJUIZO
		GROUP   BY 
				DESCR2+' '+DESCR1

/*
-- ********************** INCLUIDO 14/7/17 ************ PROBLEMA ANO 85 TEM EM MARCO E NAO EM ABRIL 17 ...
--	INSERE NO PDD CUBO QDO NAO TEM ANO NO MES ANTERIOR  cub 1 ag
	-- CARREGA DADOS ATUAIS  
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			, -- INT

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	DISTINCT
				@data_ref,
				7, -- CUBO 7 OCUPACAO
				1, -- ORDEM
				H.DESCR1,  --  OCUPACAO
				'',
				-- MES ANTERIOR Q NAO LOCALIZOU NO ATUAL		*************
				H.SALDO,				H.PDD, 0.0,
				 -- MES ATUAL  DATA_REF
				0.0,
				0.0,

				H.DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
				--'',
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA
				0.0,
				0.0		-- PERC CALC
		FROM	PDD_CUBO P (NOLOCK),
				(	SELECT	DESCR2+' '+DESCR1 AS DESCR1,  --  OCUPACAO
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  AUX (NOLOCK)
					WHERE	AUX.DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND AUX.NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR2+' '+DESCR1 					) AS H
		WHERE	P.DT_FECHA = @data_ref  -- MES ATUAL
			AND P.NUM_CUBO = 7			-- OCUPACAO
			AND H.DESCR1 NOT IN (SELECT		M0_DESCR1 FROM PDD_CUBO P1 (NOLOCK) 
									WHERE	P1.DT_FECHA = @data_ref		-- MES ATUAL
										AND P1.NUM_CUBO = 7	)			-- OCUPACAO
*/

		-- atualiza OS CAMPOS DO MES ATUAL ******* PREJUIZO
		UPDATE	PDD_CUBO
		SET		
				M1_PREJUIZO	= SALDO	
		FROM	(
					SELECT	DESCR2+' '+DESCR1 AS DESCR,  -- TIPO E DATA ORIGEM
							SUM(SLD_INSCRITO) AS SALDO
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_REF	-- MES ATUAL
						AND NVL_RISCO = 'HH'		-- SOMENTE PREJUIZO
						-- NOVOS CONTRATOS EM PREJUIZO. Q NAO ESTAVAM NO MES ANTERIOR
						AND NUM_OPE NOT IN (SELECT		NUM_OPE 
												FROM	RATING_HISTORICO_AUX  (NOLOCK)
												WHERE	DT_FECHA = @data_ANT AND NVL_RISCO ='HH')
					GROUP BY DESCR2+' '+DESCR1
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 7 --  NATUREZA OCUPACAO
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR -- prejuizo 

		-- SELECT	SUM(SLD_INSCRITO) AS SALDO	FROM	RATING_HISTORICO_AUX  (NOLOCK)	WHERE	DT_FECHA ='20140430' AND NVL_RISCO = 'HH'
		-- SELECT	* 	FROM	RATING_HISTORICO  (NOLOCK)	WHERE	DT_FECHA ='20140430' AND NVL_RISCO = 'HH'



		-- ATUALIZA CAMPOS CALCULADOS  ******************** **************************************
		-- ATUALIZA CAMPOS CALCULADOS  ********************
		-- LINHAS DO MES ANTERIOR DO FECHAMENTO
		-- atualiza OS CAMPOS DO MES ANTERIOR
		UPDATE	PDD_CUBO
		SET		
				M0_CARTEIRA	= SALDO	,--float,
				M0_PDD		= PDD	 --float, 
				--M0_PDD_PRC	=0.0	,--float,  CALCULADO
		FROM	(
					SELECT	DESCR2+' '+DESCR1 AS DESCR,  -- CARTEIRA
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR2+' '+DESCR1
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 7 --  NATUREZA OCUPACAO
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR

-- fim do cubo 7 ************************************************

	-- CUBO 8 --  ****************************************************
	-- CUBO 8 --  LOJA ****************************************************
		-- LIMPA
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= '', DESCR2 = ''

		-- SELECT * FROM RATING_HISTORICO_AUX
		-- LIMPA
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= O.OPCODORG4  -- LOJA
		-- SELECT *
		FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
		WHERE	NUM_OPE = O.OPNROPER

		-- ATUALIZA O COD LOJA NA DESCR1 E NOME DA LOJA NA DESCR2
		-- SELECT * FROM RATING_HISTORICO_AUX
		UPDATE		RATING_HISTORICO_AUX
			SET		DESCR2		= O4NOME  -- NOME DA LOJA
			-- SELECT *
			FROM	CDCSANTANAMicroCredito..TORG4 O (NOLOCK)
			WHERE	DESCR1 = O.O4CODORG

			
	-- CARREGA DADOS ATUAIS 
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			,--INT,

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	@data_ref,
				8, -- CUBO 8 LOJA
				1, -- ORDEM
				DESCR1+' '+DESCR2,  --  CARTEIRA : COD E NOME DA LOJA
				'',
				0.0,0.0,0.0, -- MES ANTERIOR
				 -- MES ATUAL  DATA_REF
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA

				DESCR1+' '+DESCR2,  --  CARTEIRA
				'',
				SUM(SLD_INSCRITO),
				SUM(VLR_PDD),
				0.0		-- PERC CALC
		FROM
				RATING_HISTORICO_AUX  (NOLOCK)
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NVL_RISCO <> 'HH'     -- SEM PREJUIZO
		GROUP   BY 
				DESCR1+' '+DESCR2

-- ********************** INCLUIDO 14/7/17 ************ PROBLEMA ANO 85 TEM EM MARCO E NAO EM ABRIL 17 ...
--	INSERE NO PDD CUBO QDO NAO TEM ANO NO MES ANTERIOR  cub 1 ag
	-- CARREGA DADOS ATUAIS  
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			, -- INT

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	DISTINCT
				@data_ref,
				8, -- CUBO 8 LOJA
				1, -- ORDEM
				H.DESCR1,  --  LOJA
				'',
				-- MES ANTERIOR Q NAO LOCALIZOU NO ATUAL		*************
				H.SALDO,				H.PDD, 0.0,
				 -- MES ATUAL  DATA_REF
				0.0,
				0.0,

				H.DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
				--'',
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA
				0.0,
				0.0		-- PERC CALC
		FROM	PDD_CUBO P (NOLOCK),
				(	SELECT	DESCR1+' '+DESCR2 AS DESCR1,  --  LOJA
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  AUX (NOLOCK)
					WHERE	AUX.DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND AUX.NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR1+' '+DESCR2 					) AS H
		WHERE	P.DT_FECHA = @data_ref  -- MES ATUAL
			AND P.NUM_CUBO = 8			-- LOJA
			AND H.DESCR1 NOT IN (SELECT		M0_DESCR1 FROM PDD_CUBO P1 (NOLOCK) 
									WHERE	P1.DT_FECHA = @data_ref		-- MES ATUAL
										AND P1.NUM_CUBO = 8	)			-- LOJA

		-- atualiza OS CAMPOS DO MES ATUAL ******* PREJUIZO
		UPDATE	PDD_CUBO
		SET		
				M1_PREJUIZO	= SALDO	
		FROM	(
					SELECT	DESCR1+' '+DESCR2 AS DESCR,  -- COD E NOME LOJA
							SUM(SLD_INSCRITO) AS SALDO
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_REF	-- MES ATUAL
						AND NVL_RISCO = 'HH'		-- SOMENTE PREJUIZO
						-- NOVOS CONTRATOS EM PREJUIZO. Q NAO ESTAVAM NO MES ANTERIOR
						AND NUM_OPE NOT IN (SELECT		NUM_OPE 
												FROM	RATING_HISTORICO_AUX  (NOLOCK)
												WHERE	DT_FECHA = @data_ANT AND NVL_RISCO ='HH')
					GROUP BY DESCR1+' '+DESCR2
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 8 --  NATUREZA OCUPACAO
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR -- prejuizo 
-- SELECT * FROM PDD_CUBO

		-- ATUALIZA CAMPOS CALCULADOS  ******************** **************************************
		-- ATUALIZA CAMPOS CALCULADOS  ********************
		-- LINHAS DO MES ANTERIOR DO FECHAMENTO
		-- atualiza OS CAMPOS DO MES ANTERIOR
		UPDATE	PDD_CUBO
		SET		
				M0_CARTEIRA	= SALDO	,--float,
				M0_PDD		= PDD	 
		FROM	(
					SELECT	DESCR1+' '+DESCR2 AS DESCR,  -- CARTEIRA
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR1+' '+DESCR2
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 8 --  CUBO 8 = LOJAS
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR

-- fim do cubo 8 *************************************


-- INCLUIDOS EM 6/6/17 RPT DE 9 A 12 *****************************************************
	-- CUBO 9 --  ****************************************************
	-- CUBO 9 --  fx renda ****************************************************
		-- LIMPA
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= '', DESCR2 = ''

		-- SELECT * FROM RATING_HISTORICO_AUX
		-- ACERTA RENDA ********************************************************* ACRESCENTA OUTRAS RENDAS
		UPDATE		RATING_HISTORICO_AUX 
			SET 	VL_JUROS=	ISNULL(C.CLRENDA,0.0)
			FROM 	CDCSANTANAMicroCredito..CCLIE C (NOLOCK)
			WHERE	-- DT_FECHA=@data_ref  	AND 
					RATING_HISTORICO_AUX.CODCLI =C.CLCODCLI
		-- RENDA OUTRAS EM VL_JUROS
		UPDATE		RATING_HISTORICO_AUX 
			SET 	VL_JUROS=	ISNULL(VL_JUROS,0.0) + ISNULL(clOutrenda,0.0)
			FROM 	PROPWEBSMC..cclip C (NOLOCK)
			--FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
			WHERE	--	DT_FECHA=@data_ref	AND 
					RATING_HISTORICO_AUX.CODCLI =C.CLCODCLI

		-- mes atual  *** faixa de renda
		UPDATE		RATING_HISTORICO_AUX 
			SET 	DESCR2= CASE	WHEN VL_JUROS/S.VLR_SM <= 1.0								THEN '1- Até 1 SM'
									WHEN VL_JUROS/S.VLR_SM > 1.0 AND VL_JUROS/S.VLR_SM <= 2.0	THEN '2- De 1 a 2 SM'
									WHEN VL_JUROS/S.VLR_SM > 2.0 AND VL_JUROS/S.VLR_SM <= 3.0	THEN '3- De 2 a 3 SM'
									WHEN VL_JUROS/S.VLR_SM > 3.0 AND VL_JUROS/S.VLR_SM <= 5.0	THEN '4- De 3 a 5 SM'
									WHEN VL_JUROS/S.VLR_SM > 5.0 AND VL_JUROS/S.VLR_SM <= 10.0	THEN '5- De 5 a 10 SM'
									WHEN VL_JUROS/S.VLR_SM > 10.0 AND VL_JUROS/S.VLR_SM <= 20.0 THEN '6- De 10 a 20 SM'
									WHEN VL_JUROS/S.VLR_SM > 20.0								THEN '7- Mais de 20 SM'
									END
		-- SELECT * 
			FROM	TSM	S (NOLOCK) 
			WHERE	DT_FECHA=@data_ref	AND 
				S.DT_DE = (SELECT MAX(S1.DT_DE) FROM TSM	S1 (NOLOCK) WHERE DT_DE <=@data_ref)
		-- mes ANTERIOR  *** faixa de renda
		UPDATE		RATING_HISTORICO_AUX 
			SET 	DESCR2= CASE	WHEN VL_JUROS/S.VLR_SM <= 1.0								THEN '1- Até 1 SM'
									WHEN VL_JUROS/S.VLR_SM > 1.0 AND VL_JUROS/S.VLR_SM <= 2.0	THEN '2- De 1 a 2 SM'
									WHEN VL_JUROS/S.VLR_SM > 2.0 AND VL_JUROS/S.VLR_SM <= 3.0	THEN '3- De 2 a 3 SM'
									WHEN VL_JUROS/S.VLR_SM > 3.0 AND VL_JUROS/S.VLR_SM <= 5.0	THEN '4- De 3 a 5 SM'
									WHEN VL_JUROS/S.VLR_SM > 5.0 AND VL_JUROS/S.VLR_SM <= 10.0	THEN '5- De 5 a 10 SM'
									WHEN VL_JUROS/S.VLR_SM > 10.0 AND VL_JUROS/S.VLR_SM <= 20.0 THEN '6- De 10 a 20 SM'
									WHEN VL_JUROS/S.VLR_SM > 20.0								THEN '7- Mais de 20 SM'
									END
		-- SELECT * 
			FROM	TSM	S (NOLOCK) 
			WHERE	DT_FECHA=@data_ANT	AND 
				S.DT_DE = (SELECT MAX(S1.DT_DE) FROM TSM	S1 (NOLOCK) WHERE DT_DE <=@data_ANT)
 
			
	-- CARREGA DADOS ATUAIS 
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			,--INT,

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	@data_ref,
				9, -- CUBO 9 fx RENDA
				1, -- ORDEM
				DESCR2,  --  CARTEIRA : FX DE RENDA 
				'',
				0.0,0.0,0.0, -- MES ANTERIOR
				 -- MES ATUAL  DATA_REF
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA

				DESCR2,  --  FX DE RENDA
				'',
				SUM(SLD_INSCRITO),
				SUM(VLR_PDD),
				0.0		-- PERC CALC
		FROM
				RATING_HISTORICO_AUX  (NOLOCK)
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NVL_RISCO <> 'HH'     -- SEM PREJUIZO
		GROUP   BY		DESCR2

		-- atualiza OS CAMPOS DO MES ATUAL ******* PREJUIZO
		UPDATE	PDD_CUBO
		SET		M1_PREJUIZO	= SALDO	
		FROM	(
					SELECT	DESCR2 AS DESCR,  -- FX RENDA
							SUM(SLD_INSCRITO) AS SALDO
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_REF	-- MES ATUAL
						AND NVL_RISCO = 'HH'		-- SOMENTE PREJUIZO
						-- NOVOS CONTRATOS EM PREJUIZO. Q NAO ESTAVAM NO MES ANTERIOR
						AND NUM_OPE NOT IN (SELECT		NUM_OPE 
												FROM	RATING_HISTORICO_AUX  (NOLOCK)
												WHERE	DT_FECHA = @data_ANT AND NVL_RISCO ='HH')
					GROUP BY DESCR2
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref	-- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 9			--  FX RENDA
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR -- prejuizo 
-- SELECT * FROM PDD_CUBO

		-- ATUALIZA CAMPOS CALCULADOS  ******************** **************************************
		-- ATUALIZA CAMPOS CALCULADOS  ********************
		-- LINHAS DO MES ANTERIOR DO FECHAMENTO
		-- atualiza OS CAMPOS DO MES ANTERIOR
		UPDATE	PDD_CUBO
		SET		
				M0_CARTEIRA	= SALDO	,--float,
				M0_PDD		= PDD	 
		FROM	(
					SELECT	DESCR2 AS DESCR,  -- CARTEIRA
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR2
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 9 --  CUBO 9 = FX RENDA
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR

-- fim do cubo 9 *************************************		FX RENDA



	-- SELECT * FROM RATING_HISTORICO_AUX
	-- CUBO 10 --  ****************************************************
	-- CUBO 10 --  fx IDADE ****************************************************
		-- LIMPA
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= '', DESCR2 = ''

		-- ACERTA IDADE ********************************************************* ACRESCENTA IDADE MES ATUAL
		UPDATE		RATING_HISTORICO_AUX 
			SET 	VL_JUROS = (DATEDIFF(DD, CLDtNASC, @data_ref)/365.0)  -- IDADE EM ANOS    FLOAT USAR O NUMERO CALCULADO
			FROM	CDCSANTANAMicroCredito..CCLIE O (NOLOCK)
			WHERE	DT_FECHA  =  @data_ref
				AND RATING_HISTORICO_AUX.CODCLI =O.CLCODCLI
		-- ACERTA IDADE ********************************************************* ACRESCENTA IDADE MES ANT
		UPDATE		RATING_HISTORICO_AUX 
			SET 	VL_JUROS = (DATEDIFF(DD, CLDtNASC, @data_ANT)/365.0)  -- IDADE EM ANOS    FLOAT USAR O NUMERO CALCULADO
			FROM	CDCSANTANAMicroCredito..CCLIE O (NOLOCK)
			WHERE	DT_FECHA  = @data_ANT 
				AND RATING_HISTORICO_AUX.CODCLI =O.CLCODCLI
			-- ACERTA FX IDADE  *********************************************************
			UPDATE		RATING_HISTORICO_AUX 
				SET 	DESCR2=CASE	WHEN len(rtrim(codcli))>=13		THEN '  PJ'
									WHEN VL_JUROS <= 20.0			THEN ' Até 20 anos'  -- antes 23
									WHEN VL_JUROS > 20.0 AND VL_JUROS <= 29.0 THEN '21 a 29 anos'
									WHEN VL_JUROS > 29.0 AND VL_JUROS <= 39.0 THEN '30 a 39 anos'
									WHEN VL_JUROS > 39.0 AND VL_JUROS <= 49.0 THEN '40 a 49 anos'
									WHEN VL_JUROS > 49.0 AND VL_JUROS <= 59.0 THEN '50 a 59 anos'
									WHEN VL_JUROS > 59.0 AND VL_JUROS <= 69.0 THEN '60 a 69 anos'
									WHEN VL_JUROS > 69.0					  THEN '70 a 79 anos'
									END
 
			
	-- CARREGA DADOS ATUAIS 
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			,--INT,

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	@data_ref,
				10, -- CUBO 10 fx IDADE
				1, -- ORDEM
				DESCR2,  --  CARTEIRA : FX DE RENDA 
				'',
				0.0,0.0,0.0, -- MES ANTERIOR
				 -- MES ATUAL  DATA_REF
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA

				DESCR2,  --  FX DE RENDA
				'',
				SUM(SLD_INSCRITO),
				SUM(VLR_PDD),
				0.0		-- PERC CALC
		FROM
				RATING_HISTORICO_AUX  (NOLOCK)
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NVL_RISCO <> 'HH'     -- SEM PREJUIZO
		GROUP   BY		DESCR2

		-- atualiza OS CAMPOS DO MES ATUAL ******* PREJUIZO
		UPDATE	PDD_CUBO
		SET		M1_PREJUIZO	= SALDO	
		FROM	(
					SELECT	DESCR2 AS DESCR,  -- FX RENDA
							SUM(SLD_INSCRITO) AS SALDO
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_REF	-- MES ATUAL
						AND NVL_RISCO = 'HH'		-- SOMENTE PREJUIZO
						-- NOVOS CONTRATOS EM PREJUIZO. Q NAO ESTAVAM NO MES ANTERIOR
						AND NUM_OPE NOT IN (SELECT		NUM_OPE 
												FROM	RATING_HISTORICO_AUX  (NOLOCK)
												WHERE	DT_FECHA = @data_ANT AND NVL_RISCO ='HH')
					GROUP BY DESCR2
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref	-- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 10			--  FX IDADE
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR -- prejuizo 
-- SELECT * FROM PDD_CUBO

		-- ATUALIZA CAMPOS CALCULADOS  ******************** **************************************
		-- ATUALIZA CAMPOS CALCULADOS  ********************
		-- LINHAS DO MES ANTERIOR DO FECHAMENTO
		-- atualiza OS CAMPOS DO MES ANTERIOR
		UPDATE	PDD_CUBO
		SET		
				M0_CARTEIRA	= SALDO	,--float,
				M0_PDD		= PDD	 
		FROM	(
					SELECT	DESCR2 AS DESCR,  -- CARTEIRA
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR2
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref	-- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 10			--  CUBO 10 = FX IDADE
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR

-- fim do cubo 10 *************************************		FX IDADE


	-- CUBO 11 --  ****************************************************
	-- CUBO 11 --  fx PARCELAS ****************************************************
		-- LIMPA
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= '', DESCR2 = ''

		-- ACERTA IDADE ********************************************************* ACRESCENTA IDADE MES ATUAL
-- PRAZO EM DIAS, PLANO EM MESES
-- SELECT * FROM RATING_HISTORICO_AUX 
		UPDATE		RATING_HISTORICO_AUX 
			SET 	VL_JUROS = O.OPQTDDPARC -- PLANO PARCELAS
			FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
			WHERE	--DT_FECHA  BETWEEN @data_ANT AND  @data_ref 	AND 
					RATING_HISTORICO_AUX.NUM_OPE =O.OPNROPER

		-- FAIXA DE PRAZO **************************************** MES ATUAL
		UPDATE	 RATING_HISTORICO_AUX 
		SET		 DESCR2=  (SELECT DESCR FROM FX_PLANO P (NOLOCK)
						WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
											WHERE	P1.DT_DE <=   @data_ref)
						AND RATING_HISTORICO_AUX.VL_JUROS BETWEEN P.DE AND P.ATE)
			WHERE	DT_FECHA=@data_ref
		-- FAIXA DE PRAZO **************************************** MES ANTERIOR
		UPDATE	 RATING_HISTORICO_AUX 
		SET		 DESCR2=  (SELECT DESCR FROM FX_PLANO P (NOLOCK)
						WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
											WHERE	P1.DT_DE <=   @data_ANT)
						AND RATING_HISTORICO_AUX.VL_JUROS BETWEEN P.DE AND P.ATE)
			WHERE	DT_FECHA=@data_ANT

			
	-- CARREGA DADOS ATUAIS 
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			,--INT,

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	@data_ref,
				11, -- CUBO 11 fx PLANO
				1, -- ORDEM
				DESCR2,  --  CARTEIRA : FX DE RENDA 
				'',
				0.0,0.0,0.0, -- MES ANTERIOR
				 -- MES ATUAL  DATA_REF
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA

				DESCR2,  --  FX DE RENDA
				'',
				SUM(SLD_INSCRITO),
				SUM(VLR_PDD),
				0.0		-- PERC CALC
		FROM
				RATING_HISTORICO_AUX  (NOLOCK)
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NVL_RISCO <> 'HH'     -- SEM PREJUIZO
		GROUP   BY		DESCR2

		-- atualiza OS CAMPOS DO MES ATUAL ******* PREJUIZO
		UPDATE	PDD_CUBO
		SET		M1_PREJUIZO	= SALDO	
		FROM	(
					SELECT	DESCR2 AS DESCR,  -- FX RENDA
							SUM(SLD_INSCRITO) AS SALDO
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_REF	-- MES ATUAL
						AND NVL_RISCO = 'HH'		-- SOMENTE PREJUIZO
						-- NOVOS CONTRATOS EM PREJUIZO. Q NAO ESTAVAM NO MES ANTERIOR
						AND NUM_OPE NOT IN (SELECT		NUM_OPE 
												FROM	RATING_HISTORICO_AUX  (NOLOCK)
												WHERE	DT_FECHA = @data_ANT AND NVL_RISCO ='HH')
					GROUP BY DESCR2
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref	-- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 11			--  FX PLANO
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR -- prejuizo 
-- SELECT * FROM PDD_CUBO

		-- ATUALIZA CAMPOS CALCULADOS  ******************** **************************************
		-- ATUALIZA CAMPOS CALCULADOS  ********************
		-- LINHAS DO MES ANTERIOR DO FECHAMENTO
		-- atualiza OS CAMPOS DO MES ANTERIOR
		UPDATE	PDD_CUBO
		SET		
				M0_CARTEIRA	= SALDO	,--float,
				M0_PDD		= PDD	 
		FROM	(
					SELECT	DESCR2 AS DESCR,  -- CARTEIRA
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR2
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref	-- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 11			--  CUBO 11 = FX PLANO
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR

-- fim do cubo 11 *************************************		FX parcelas

	-- CUBO 12 --  ****************************************************
	-- CUBO 12 --  OPERADOR ****************************************************
		-- LIMPA
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= '', DESCR2 = ''

		-- SELECT * FROM RATING_HISTORICO_AUX
		-- LIMPA
		UPDATE	RATING_HISTORICO_AUX
		SET		DESCR1		= O.OPCODORG3  -- OPERADOR
		-- SELECT *
		FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
		WHERE	NUM_OPE = O.OPNROPER

		-- ATUALIZA O COD OPERADOR NA DESCR1 E NOME  OPERADOR NA DESCR2
		-- SELECT * FROM RATING_HISTORICO_AUX
		UPDATE		RATING_HISTORICO_AUX
			SET		DESCR2		= O3NOME  -- NOME DA LOJA
			-- SELECT *
			FROM	CDCSANTANAMicroCredito..TORG3 O (NOLOCK)
			WHERE	DESCR1 = O.O3CODORG

			
	-- CARREGA DADOS ATUAIS 
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			,--INT,

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	@data_ref,
				12, -- CUBO 12 OPERADOR
				1, -- ORDEM
				DESCR1+' '+DESCR2,  --  CARTEIRA : COD E NOME OPERADOR
				'',
				0.0,0.0,0.0, -- MES ANTERIOR
				 -- MES ATUAL  DATA_REF
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA

				DESCR1+' '+DESCR2,  --  CARTEIRA
				'',
				SUM(SLD_INSCRITO),
				SUM(VLR_PDD),
				0.0		-- PERC CALC
		FROM
				RATING_HISTORICO_AUX  (NOLOCK)
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NVL_RISCO <> 'HH'     -- SEM PREJUIZO
		GROUP   BY 
				DESCR1+' '+DESCR2

-- ********************** INCLUIDO 14/7/17 ************ PROBLEMA ANO 85 TEM EM MARCO E NAO EM ABRIL 17 ...
--	INSERE NO PDD CUBO QDO NAO TEM ANO NO MES ANTERIOR  cub 12 oper
	-- CARREGA DADOS ATUAIS  
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			, -- INT

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	DISTINCT
				@data_ref,
				12,			-- OPERADOR
				1, -- ORDEM
				H.DESCR1,  --  LOJA
				'',
				-- MES ANTERIOR Q NAO LOCALIZOU NO ATUAL		*************
				H.SALDO,				H.PDD, 0.0,
				 -- MES ATUAL  DATA_REF
				0.0,
				0.0,

				H.DESCR1,  --ANO_MODELO,   -- GRUPO POR ANO
				--'',
				0.0,  -- PREJUIZO
				0.0,  -- DESPESA CALCULADA
				0.0,
				0.0		-- PERC CALC
		FROM	PDD_CUBO P (NOLOCK),
				(	SELECT	DESCR1+' '+DESCR2 AS DESCR1,  --  LOJA
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  AUX (NOLOCK)
					WHERE	AUX.DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND AUX.NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR1+' '+DESCR2 					) AS H
		WHERE	P.DT_FECHA = @data_ref  -- MES ATUAL
			AND P.NUM_CUBO =  12			-- OPERADOR
			AND H.DESCR1 NOT IN (SELECT		M0_DESCR1 FROM PDD_CUBO P1 (NOLOCK) 
									WHERE	P1.DT_FECHA = @data_ref		-- MES ATUAL
										AND P1.NUM_CUBO = 12	)			-- OPERADOR

		-- atualiza OS CAMPOS DO MES ATUAL ******* PREJUIZO
		UPDATE	PDD_CUBO
		SET		
				M1_PREJUIZO	= SALDO	
		FROM	(
					SELECT	DESCR1+' '+DESCR2 AS DESCR,  -- COD E NOME LOJA
							SUM(SLD_INSCRITO) AS SALDO
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_REF	-- MES ATUAL
						AND NVL_RISCO = 'HH'		-- SOMENTE PREJUIZO
						-- NOVOS CONTRATOS EM PREJUIZO. Q NAO ESTAVAM NO MES ANTERIOR
						AND NUM_OPE NOT IN (SELECT		NUM_OPE 
												FROM	RATING_HISTORICO_AUX  (NOLOCK)
												WHERE	DT_FECHA = @data_ANT AND NVL_RISCO ='HH')
					GROUP BY DESCR1+' '+DESCR2
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref	-- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 12			-- OPERADOR
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR -- prejuizo 
-- SELECT * FROM PDD_CUBO

		-- ATUALIZA CAMPOS CALCULADOS  ******************** **************************************
		-- ATUALIZA CAMPOS CALCULADOS  ********************
		-- LINHAS DO MES ANTERIOR DO FECHAMENTO
		-- atualiza OS CAMPOS DO MES ANTERIOR
		UPDATE	PDD_CUBO
		SET		
				M0_CARTEIRA	= SALDO	,--float,
				M0_PDD		= PDD	 
		FROM	(
					SELECT	DESCR1+' '+DESCR2 AS DESCR,  -- CARTEIRA
							SUM(SLD_INSCRITO) AS SALDO,
							SUM(VLR_PDD)      AS PDD
					FROM	RATING_HISTORICO_AUX  (NOLOCK)
					WHERE	DT_FECHA = @data_ANT	-- MES ANTERIOR
						AND NVL_RISCO <> 'HH'		-- SEM PREJUIZO
					GROUP BY DESCR1+' '+DESCR2
						) AS H
		WHERE	PDD_CUBO.DT_FECHA = @data_ref  -- MES ATUAL
			AND PDD_CUBO.NUM_CUBO = 12 --  CUBO 12 = OPERADOR
			AND PDD_CUBO.M0_DESCR1	=	H.DESCR

-- fim do cubo 12 *************************************		OPERADOR




	-- ************************************************************************************************
	-- CALCULA O TTL DE CADA CUBO
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			,--INT,

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	@data_ref,
				NUM_CUBO, -- CUBOS
				99		, -- TTL ORDEM
				'TOTAL'	, --M0_DESCR1	,  --  DESCR
				''		, --M0_DESCR2	,
				SUM(M0_CARTEIRA), -- FLOAT
				 -- MES ATUAL  DATA_REF
				SUM(M0_PDD),  
				0.0, 
				SUM(M1_PREJUIZO), -- PREJUIZO

				SUM(M1_DESPESA),  -- DESPESA CALCULADA

				'TOTAL'	, --M1_DESCR1,  -- 
				''		, --M1_DESCR2,
				SUM(M1_CARTEIRA), -- CARTEIRA
				SUM(M1_PDD),
				0.0		-- PERC CALC
		FROM
				PDD_CUBO  (NOLOCK)
		where	DT_FECHA = @data_ref  -- MES ATUAL
		GROUP   BY 
				NUM_CUBO


	-- ************************************************************************************************
	-- CALCULA O SUB TTL SOMENTE CUBO =6 MODALIDADE
		INSERT	PDD_CUBO
			(	DT_FECHA		,--SMALLDATETIME,
				NUM_CUBO		,--INT,
				ORDEM			,--INT,

				M0_DESCR1		,--VARCHAR(100),
				M0_DESCR2		,--VARCHAR(100),
				M0_CARTEIRA		,--float,
				M0_PDD			,--float,
				M0_PDD_PRC		,--float,

				M1_PREJUIZO		,--float,
				M1_DESPESA		,--float,
				M1_DESCR1		,--VARCHAR(100),
				M1_DESCR2		,--VARCHAR(100),
				M1_CARTEIRA		,--float,
				M1_PDD			,--float,
				M1_PDD_PRC		 --float
				)
		SELECT	@data_ref,
				6, -- CUBOS
				2		, -- TTL ORDEM
				'SUB-TOTAL'	, --M0_DESCR1	,  --  DESCR
				''		, --M0_DESCR2	,
				SUM(M0_CARTEIRA), -- FLOAT
				 -- MES ATUAL  DATA_REF
				SUM(M0_PDD),  
				0.0, 
				SUM(M1_PREJUIZO), -- PREJUIZO

				SUM(M1_DESPESA),  -- DESPESA CALCULADA

				'SUB-TOTAL'	, --M1_DESCR1,  -- 
				''		, --M1_DESCR2,
				SUM(M1_CARTEIRA), -- CARTEIRA
				SUM(M1_PDD),
				0.0		-- PERC CALC
		FROM
				PDD_CUBO  (NOLOCK)
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NUM_CUBO =6


	-- ************************************************************************************************
	-- CALCULA O SUB TTL SOMENTE CUBO =3 TIPO DE VEICULO   **** LEVES
		INSERT	PDD_CUBO
		SELECT	@data_ref,
				3, -- CUBOS
				19		, -- TTL ORDEM
				'SUB-TOTAL'	, --M0_DESCR1	,  --  DESCR
				''		, --M0_DESCR2	,
				SUM(M0_CARTEIRA), -- FLOAT
				SUM(M0_PDD),  
				0.0, 
				SUM(M1_PREJUIZO), -- PREJUIZO
				SUM(M1_DESPESA),  -- DESPESA CALCULADA
				'SUB-TOTAL'	, --M1_DESCR1,  -- 
				''		, --M1_DESCR2,
				SUM(M1_CARTEIRA), -- CARTEIRA
				SUM(M1_PDD),
				0.0		-- PERC CALC
		FROM	PDD_CUBO
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NUM_CUBO =3 AND ORDEM=1 -- LEVES
	-- CALCULA O SUB TTL SOMENTE CUBO =3 TIPO DE VEICULO   **** MOTOS
		INSERT	PDD_CUBO
		SELECT	@data_ref,
				3, -- CUBOS
				29		, -- TTL ORDEM
				'SUB-TOTAL'	, --M0_DESCR1	,  --  DESCR
				''		, --M0_DESCR2	,
				SUM(M0_CARTEIRA), -- FLOAT
				SUM(M0_PDD),  
				0.0, 
				SUM(M1_PREJUIZO), -- PREJUIZO
				SUM(M1_DESPESA),  -- DESPESA CALCULADA
				'SUB-TOTAL'	, --M1_DESCR1,  -- 
				''		, --M1_DESCR2,
				SUM(M1_CARTEIRA), -- CARTEIRA
				SUM(M1_PDD),
				0.0		-- PERC CALC
		FROM	PDD_CUBO
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NUM_CUBO =3 AND ORDEM=20 -- MOTOS
	-- CALCULA O SUB TTL SOMENTE CUBO =3 TIPO DE VEICULO   **** UTILIT
		INSERT	PDD_CUBO
		SELECT	@data_ref,
				3, -- CUBOS
				39		, -- TTL ORDEM
				'SUB-TOTAL'	, --M0_DESCR1	,  --  DESCR
				''		, --M0_DESCR2	,
				SUM(M0_CARTEIRA), -- FLOAT
				SUM(M0_PDD),  
				0.0, 
				SUM(M1_PREJUIZO), -- PREJUIZO
				SUM(M1_DESPESA),  -- DESPESA CALCULADA
				'SUB-TOTAL'	, --M1_DESCR1,  -- 
				''		, --M1_DESCR2,
				SUM(M1_CARTEIRA), -- CARTEIRA
				SUM(M1_PDD),
				0.0		-- PERC CALC
		FROM	PDD_CUBO
		where	DT_FECHA = @data_ref  -- MES ATUAL
			AND NUM_CUBO =3 AND ORDEM=30 -- UTILIT


	-- ************************************************************************************************
	-- ATUALIZA CAMPOS CALCULADOS  ********************
		UPDATE	PDD_CUBO
		SET		M1_PDD_PRC = CASE WHEN M1_CARTEIRA = 0.0 THEN 0.0 ELSE M1_PDD/M1_CARTEIRA * 100.0 END
	--			M0_PDD_PRC = M0_PDD/M0_CARTEIRA * 100.0
		WHERE	DT_FECHA =	@data_ref  -- MES ATUAL


		UPDATE	PDD_CUBO
		SET		--M1_PDD_PRC = M1_PDD/M1_CARTEIRA * 100.0
				M0_PDD_PRC = CASE WHEN M0_CARTEIRA=0.0 THEN 0.0 ELSE M0_PDD/M0_CARTEIRA  * 100.0 END
		WHERE	M0_CARTEIRA <> 0.0
			AND DT_FECHA =	@data_ref  -- MES ATUAL

		UPDATE	PDD_CUBO
		SET		M1_DESPESA = M1_PDD - M0_PDD + M1_PREJUIZO  -- CALCULO
		WHERE	DT_FECHA =	@data_ref  -- MES ATUAL

END
GO


-- SELECT * FROM RR_AUX_CONTRATO_2M