
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

use SIG
--use SF_relatorios
go

/*
-- EXEC [dbo].[PE_ESTOQUE_RELAT] '2014-05-30','2014-06-01','2014-06-30','2014-06-30'  -- jun
-- EXEC [dbo].[PE_ESTOQUE_RELAT] '2014-05-01','2014-05-03','2014-05-03'  -- ATEH ANTES DE ABRIL

-- EXEC [dbo].[PE_ESTOQUE_RELAT] '20140430', '2014-05-01','2014-05-05','2014-05-05'  -- ATEH ANTES DE ABRIL
-- select * from PE_ESTOQUE_RPT where dt_ref='2014-05-05' and descricao='e_receb' 
-- select * from PE_ESTOQUE_RPT where dt_ref='2014-05-05' and descricao='%rec' 

-- EXEC [dbo].[PE_ESTOQUE_CALC] '2014-03-31'  -- ATEH ANTES DE ABRIL


-- EXEC [dbo].[PE_ESTOQUE_RECEB] '2014-03-31','2014-04-20'  -- ATEH ANTES DE abril ESTOQUE, RECEBIDO ATEH HOJE
-- EXEC [dbo].[PE_ESTOQUE_RECEB] '2014-04-30','2014-05-05'  -- ATEH ANTES DE maio ESTOQUE, RECEBIDO ATEH HOJE
	 EXEC [dbo].[PE_ESTOQUE_RECEB] @data_FIM_MES_ANT , @data_ref


 EXEC [dbo].[PE_ESTOQUE_RELAT]  '2014-04-01','2014-04-20','2014-04-20'
SELECT * FROM PE_ESTOQUE_RPT  WHERE DT_REF = '2014-04-20'

SELECT CODACOB,'' AS COBRADORA, COUNT(*),SUM(VLR_ENVIO),SUM(RECEBIDO),SUM(VLR_RECEB),SUM(VLR_RECEB)/SUM(VLR_ENVIO)*100.00
 FROM PERFORM_SAFRA
WHERE DT_ENVIO BETWEEN '20140301' AND '20140331'
GROUP BY CODACOB ORDER BY CODACOB

select *
 FROM PERFORM_SAFRA
WHERE DT_ENVIO BETWEEN '20140201' AND '20140228'



SELECT CODACOB,'' AS COBRADORA, COUNT(*),SUM(VLR_ENVIO),SUM(RECEBIDO),SUM(VLR_RECEB),SUM(VLR_RECEB)/SUM(VLR_ENVIO)*100.00
 FROM PERFORM_SAFRA
WHERE DT_ENVIO BETWEEN '20140401' AND '20140422'
GROUP BY CODACOB ORDER BY CODACOB

SELECT CODACOB,'' AS COBRADORA, COUNT(*),SUM(VLR_ENVIO),SUM(RECEBIDO),SUM(VLR_RECEB),SUM(VLR_RECEB)/SUM(VLR_ENVIO)*100.00
 FROM PERFORM_ESTOQUE
WHERE DT_REF= '20140331'
GROUP BY CODACOB ORDER BY CODACOB


SELECT * FROM PERFORM_SAFRA
SELECT * FROM PE_ESTOQUE_RPT

ip
*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PE_ESTOQUE_RELAT' AND type = 'P')
   DROP PROCEDURE [dbo].[PE_ESTOQUE_RELAT]
GO


CREATE Procedure [dbo].[PE_ESTOQUE_RELAT] (@data_fim_mes_ant as datetime,@dataini as datetime, @datafim as datetime, @data_ref as datetime) AS
BEGIN

-- declare @dataini as datetime, @datafim as datetime, @data_ref as datetime
-- set @dataini = '20140201'  set @dataFIM = '20140228' set @data_REF = '20140301'  

DELETE FROM TMP_IP


INSERT  TMP_IP
SELECT	CODACOB,
		'' AS COBRADORA, 

--SELECT DATEDIFF(D, '20140101',GETDATE())
			CASE		-- ATRASO
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF)<= 15 THEN 15
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 30 THEN 30  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 60 THEN 60  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 90 THEN 90  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 120 THEN 120  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 150 THEN 150  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 180 THEN 180  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 360 THEN 360  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) >  360 THEN 999   
					 END AS ATRASO     ,
/*			CASE  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 15 THEN 'A'
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 30 THEN 'B'
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 60 THEN 'C' 
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 90 THEN 'D' 
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 120 THEN 'E'
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 150 THEN 'F'  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 180 THEN 'G'  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 360 THEN 'H'  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) >  360 THEN 'HH'   
					 END  , */

		COUNT(*) AS QTDE,
		SUM(VLR_ENVIO) AS VLR_ENVIO,
		SUM(RECEBIDO) AS REC,SUM(VLR_RECEB) AS VREC,
		SUM(VLR_RECEB)/SUM(VLR_ENVIO)*100.00 AS PRC
--INTO  TMP_IP
 FROM PERFORM_SAFRA
WHERE DT_ENVIO BETWEEN @DATAINI AND @DATAFIM
GROUP BY CODACOB ,
			CASE		-- ATRASO
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF)<= 15 THEN 15
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 30 THEN 30  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 60 THEN 60  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 90 THEN 90  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 120 THEN 120  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 150 THEN 150  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 180 THEN 180  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 360 THEN 360  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) >  360 THEN 999   
					 END     
ORDER BY CODACOB

DELETE FROM TMP_IP_EST


INSERT  TMP_IP_EST
-- declare @data_fim_mes_ant as datetime set @data_fim_mes_ant= '20140430' declare @data_ref as datetime set @data_ref= '20140505'
SELECT	CODACOB,
		'' AS COBRADORA, 

--SELECT DATEDIFF(D, '20140101',GETDATE())
			CASE		-- ATRASO
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF)<= 15 THEN 15
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 30 THEN 30  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 60 THEN 60  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 90 THEN 90  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 120 THEN 120  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 150 THEN 150  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 180 THEN 180  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 360 THEN 360  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) >  360 THEN 999   
					 END AS ATRASO     ,

		COUNT(*) AS QTDE,
		SUM(VLR_ENVIO) AS VLR_ENVIO,
		SUM(RECEBIDO) AS REC,SUM(VLR_RECEB) AS VREC,
		SUM(VLR_RECEB)/SUM(VLR_ENVIO)*100.00 AS PRC
--INTO  TMP_IP_EST
 FROM PERFORM_ESTOQUE
WHERE dt_ref=@data_fim_mes_ant
--DT_ENVIO BETWEEN @DATAINI AND @DATAFIM
GROUP BY CODACOB ,
			CASE		-- ATRASO
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF)<= 15 THEN 15
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 30 THEN 30  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 60 THEN 60  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 90 THEN 90  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 120 THEN 120  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 150 THEN 150  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 180 THEN 180  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) <= 360 THEN 360  
					 WHEN DATEDIFF(D, DT_VCTO, @DATA_REF) >  360 THEN 999   
					 END     
ORDER BY CODACOB


/*
SELECT * FROM  TMP_IP
--DROP TABLE   TMP_IP
SELECT * FROM  TMP_IP_EST

*/

DECLARE @data_ANT AS SMALLDATETIME
-- ultimo DIA DO MES = FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END


-- SELECT  CONVERT(CHAR(4),DATEPART(YEAR,GETDATE()))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,GETDATE()))),2)+'01'

-- APAGA PROCESSAMENTO ANTERIOR
delete  from PE_ESTOQUE_RPT 
	WHERE	 DT_REF = @data_ref
	
-- CARREGA TABELA RESULTADO  
/*
SELECT * from PE_ESTOQUE_RPT 
DROP TABLE PE_ESTOQUE_RPT
CREATE TABLE PE_ESTOQUE_RPT (
		DT_REF	smalldatetime,
		AGENTE		varchar	(6),
		COBRADORA	varchar(6),
		ORDEM_LINHA	int	,
		FORMATO		varchar	(6),
		DESCRICAO	varchar	(50),
		AA_QTDE		float	,
		AA_SALDO	float	,
		AA_PRC		float	,
		A_QTDE		float	,
		A_SALDO		float	,
		A_PRC		float	,
		B_QTDE		float	,
		B_SALDO		float	,
		B_PRC		float	,

		C_QTDE		float	,
		C_SALDO	float	,
		C_PRC		float	,
		D_QTDE		float	,
		D_SALDO	float	,
		D_PRC		float	,
		E_QTDE		float	,
		E_SALDO	float	,
		E_PRC		float	,
		F_QTDE		float	,
		F_SALDO	float	,
		F_PRC		float	,
		G_QTDE		float	,
		G_SALDO	float	,
		G_PRC		float	,
		H_QTDE		float	,
		H_SALDO	float	,
		H_PRC		float	,

		TTL_QTDE		float,
		TTL_SALDO	float,
		TTL_PRC	float,
		IP_PRC	float
	 )

*/



-- CARREGA DADOS ATUAIS
-- INSERE LINHAS ZERADAS E DEPOIS UPDATE
-- 10A LINHA PESOS
INSERT	PE_ESTOQUE_RPT
SELECT	DISTINCT 
		@data_ref,
		'',--AGENTE,
		CODACOB,--COBRADORA,
		10,  -- PESOS
		'',	-- FORMATO
		'PESO' ,		-- DESCRICAO
		0.0,	-- QTDE  AA
		0.0,	-- SALDO
		0.0,	-- PRC
		-- OUTRAS FAIXAS
		0.0, 0.0, 25.0,	-- A
		0.0, 0.0, 30.0,	-- B
		0.0, 0.0, 13.0,	-- C
		0.0, 0.0, 10.0,	-- D
		0.0, 0.0, 9.0,	-- E
		0.0, 0.0, 7.0,	-- F
		0.0, 0.0, 6.0,	-- G
		0.0, 0.0, 0.0,	-- H
		0.0, 0.0, 0.0	-- TTL
		,0.0			-- IP
FROM	TMP_IP_EST

-- 11A LINHA % REC
INSERT	PE_ESTOQUE_RPT
SELECT	DISTINCT 
		@data_ref,
		'',--AGENTE,
		CODACOB,--COBRADORA,
		11,  -- PERC RECEB
		'',	-- FORMATO
		'%REC' ,		-- DESCRICAO
		0.0,	-- QTDE  AA
		0.0,	-- SALDO
		0.0,	-- PRC
		-- OUTRAS FAIXAS
		0.0, 0.0, 0.0,	-- A
		0.0, 0.0, 0.0,	-- B
		0.0, 0.0, 0.0,	-- C
		0.0, 0.0, 0.0,	-- D
		0.0, 0.0, 0.0,	-- E
		0.0, 0.0, 0.0,	-- F
		0.0, 0.0, 0.0,	-- G
		0.0, 0.0, 0.0,	-- H
		0.0, 0.0, 0.0	-- TTL
		,0.0			-- IP
FROM	TMP_IP_EST
 
-- 12A LINHA % IP
INSERT	PE_ESTOQUE_RPT
SELECT	DISTINCT 
		@data_ref,
		'',--AGENTE,
		CODACOB,--COBRADORA,
		12,  -- PERC RECEB
		'',	-- FORMATO
		'%IP' ,		-- DESCRICAO
		0.0,	-- QTDE  AA
		0.0,	-- SALDO
		0.0,	-- PRC
		-- OUTRAS FAIXAS
		0.0, 0.0, 0.0,	-- A
		0.0, 0.0, 0.0,	-- B
		0.0, 0.0, 0.0,	-- C
		0.0, 0.0, 0.0,	-- D
		0.0, 0.0, 0.0,	-- E
		0.0, 0.0, 0.0,	-- F
		0.0, 0.0, 0.0,	-- G
		0.0, 0.0, 0.0,	-- H
		0.0, 0.0, 0.0	-- TTL
		,0.0			-- IP
FROM	TMP_IP_EST


--SELECT * FROM TCOBRADORA
INSERT	PE_ESTOQUE_RPT
SELECT	DISTINCT 
		@data_ref,
		'',--AGENTE,
		CODACOB,--COBRADORA,
		2,  -- ENVIO
		'',	-- FORMATO
		'S_ENVIO' ,		-- DESCRICAO

		--SELECT CODACOB, 
		0.0, ISNULL([15],0.0) AS AA, 0.0,
		0.0, ISNULL([30],0.0) AS A, 0.0,
		0.0, ISNULL([60],0.0) AS B, 0.0,
		0.0, ISNULL([90],0.0) AS C, 0.0,
		0.0, ISNULL([120],0.0) AS D,0.0,
		0.0, ISNULL([150],0.0) AS E,0.0,
		0.0, ISNULL([180],0.0) AS F,0.0,
		0.0, ISNULL([360],0.0) AS G,0.0,
		0.0, ISNULL([999],0.0) AS HH,0.0,

		0.0, 0.0, 0.0	-- TTL
		,0.0			-- IP
FROM 
	(SELECT		 CODACOB,VLR_ENVIO, ATRASO
			FROM TMP_IP) p
PIVOT
	(SUM (VLR_ENVIO)
		FOR ATRASO IN
			( [15], [30], [60], [90], [120], [150], [180], [360], [999] )
	) AS pvt
ORDER BY pvt.CODACOB;



--SELECT * FROM TCOBRADORA
INSERT	PE_ESTOQUE_RPT
SELECT	DISTINCT 
		@data_ref,
		'',--AGENTE,
		CODACOB,--COBRADORA,
		3,  -- ENVIO
		'',	-- FORMATO
		'E_ENVIO' ,		-- DESCRICAO

		--SELECT CODACOB, 
		0.0, ISNULL([15],0.0) AS AA, 0.0,
		0.0, ISNULL([30],0.0) AS A, 0.0,
		0.0, ISNULL([60],0.0) AS B, 0.0,
		0.0, ISNULL([90],0.0) AS C, 0.0,
		0.0, ISNULL([120],0.0) AS D,0.0,
		0.0, ISNULL([150],0.0) AS E,0.0,
		0.0, ISNULL([180],0.0) AS F,0.0,
		0.0, ISNULL([360],0.0) AS G,0.0,
		0.0, ISNULL([999],0.0) AS HH,0.0,

		0.0, 0.0, 0.0	-- TTL
		,0.0			-- IP
FROM 
	(SELECT		 CODACOB,VLR_ENVIO, ATRASO
			FROM TMP_IP_EST) p
PIVOT
	(SUM (VLR_ENVIO)
		FOR ATRASO IN
			( [15], [30], [60], [90], [120], [150], [180], [360], [999] )
	) AS pvt
ORDER BY pvt.CODACOB;


INSERT	PE_ESTOQUE_RPT
SELECT	DISTINCT 
		@data_ref,
		'',--AGENTE,
		CODACOB,--COBRADORA,
		5,  -- ENVIO
		'',	-- FORMATO
		'E_RECEB' ,		-- DESCRICAO

		--SELECT CODACOB, 
		0.0, ISNULL([15],0.0) AS AA, 0.0,
		0.0, ISNULL([30],0.0) AS A, 0.0,
		0.0, ISNULL([60],0.0) AS B, 0.0,
		0.0, ISNULL([90],0.0) AS C, 0.0,
		0.0, ISNULL([120],0.0) AS D,0.0,
		0.0, ISNULL([150],0.0) AS E,0.0,
		0.0, ISNULL([180],0.0) AS F,0.0,
		0.0, ISNULL([360],0.0) AS G,0.0,
		0.0, ISNULL([999],0.0) AS HH,0.0,

		0.0, 0.0, 0.0	-- TTL
		,0.0			-- IP
FROM 
	(SELECT		 CODACOB,VREC, ATRASO
			FROM TMP_IP_EST) p
PIVOT
	(SUM (VREC)
		FOR ATRASO IN
			( [15], [30], [60], [90], [120], [150], [180], [360], [999] )
	) AS pvt
ORDER BY pvt.CODACOB;



INSERT	PE_ESTOQUE_RPT
SELECT	DISTINCT 
		@data_ref,
		'',--AGENTE,
		CODACOB,--COBRADORA,
		4,  -- RECEB
		'',	-- FORMATO
		'S_RECEB' ,		-- DESCRICAO

		--SELECT CODACOB, 
		0.0, ISNULL([15],0.0) AS AA, 0.0,
		0.0, ISNULL([30],0.0) AS A, 0.0,
		0.0, ISNULL([60],0.0) AS B, 0.0,
		0.0, ISNULL([90],0.0) AS C, 0.0,
		0.0, ISNULL([120],0.0) AS D,0.0,
		0.0, ISNULL([150],0.0) AS E,0.0,
		0.0, ISNULL([180],0.0) AS F,0.0,
		0.0, ISNULL([360],0.0) AS G,0.0,
		0.0, ISNULL([999],0.0) AS HH,0.0,

		0.0, 0.0, 0.0	-- TTL
		,0.0			-- IP
FROM 
	(SELECT		 CODACOB,VREC, ATRASO
			FROM TMP_IP) p
PIVOT
	(SUM (VREC)
		FOR ATRASO IN
			( [15], [30], [60], [90], [120], [150], [180], [360], [999] )
	) AS pvt
ORDER BY pvt.CODACOB;

-- TTL
UPDATE	PE_ESTOQUE_RPT
SET		
		TTL_QTDE = AA_QTDE + A_QTDE + B_QTDE + C_QTDE + D_QTDE+ E_QTDE+F_QTDE+G_QTDE,	--	FLOAT
		TTL_SALDO = AA_SALDO + A_SALDO + B_SALDO + C_SALDO + D_SALDO+ E_SALDO+F_SALDO+G_SALDO
WHERE	PE_ESTOQUE_RPT.DT_REF = @data_ref

-- % recuperacao / SALDO INICIAL
UPDATE	PE_ESTOQUE_RPT
SET		
		AA_PRC = ISNULL((ISNULL(E_RECEB.AA_SALDO,0.0)+ ISNULL(S_RECEB.AA_SALDO,0.0)) /NULLIF( ISNULL( E_ENVIO.AA_SALDO,0.0)+ ISNULL(S_ENVIO.AA_SALDO,0.0) ,0.0) ,0.0) *100.0,
		A_PRC = ISNULL((ISNULL(E_RECEB.A_SALDO,0.0)+ ISNULL(S_RECEB.A_SALDO,0.0)) /NULLIF( ISNULL( E_ENVIO.A_SALDO,0.0)+ ISNULL(S_ENVIO.A_SALDO,0.0) ,0.0) ,0.0) *100.0,
		B_PRC = ISNULL((ISNULL(E_RECEB.B_SALDO,0.0)+ ISNULL(S_RECEB.B_SALDO,0.0)) /NULLIF( ISNULL( E_ENVIO.B_SALDO,0.0)+ ISNULL(S_ENVIO.B_SALDO,0.0) ,0.0) ,0.0) *100.0,
		C_PRC = ISNULL((ISNULL(E_RECEB.C_SALDO,0.0)+ ISNULL(S_RECEB.C_SALDO,0.0)) /NULLIF( ISNULL( E_ENVIO.C_SALDO,0.0)+ ISNULL(S_ENVIO.C_SALDO,0.0) ,0.0) ,0.0) *100.0,
		D_PRC = ISNULL((ISNULL(E_RECEB.D_SALDO,0.0)+ ISNULL(S_RECEB.D_SALDO,0.0)) /NULLIF( ISNULL( E_ENVIO.D_SALDO,0.0)+ ISNULL(S_ENVIO.D_SALDO,0.0) ,0.0) ,0.0) *100.0,
		E_PRC = ISNULL((ISNULL(E_RECEB.E_SALDO,0.0)+ ISNULL(S_RECEB.E_SALDO,0.0)) /NULLIF( ISNULL( E_ENVIO.E_SALDO,0.0)+ ISNULL(S_ENVIO.E_SALDO,0.0) ,0.0) ,0.0) *100.0,
		F_PRC = ISNULL((ISNULL(E_RECEB.F_SALDO,0.0)+ ISNULL(S_RECEB.F_SALDO,0.0)) /NULLIF( ISNULL( E_ENVIO.F_SALDO,0.0)+ ISNULL(S_ENVIO.F_SALDO,0.0) ,0.0) ,0.0) *100.0,
		G_PRC = ISNULL((ISNULL(E_RECEB.G_SALDO,0.0)+ ISNULL(S_RECEB.G_SALDO,0.0)) /NULLIF( ISNULL( E_ENVIO.G_SALDO,0.0)+ ISNULL(S_ENVIO.G_SALDO,0.0) ,0.0) ,0.0) *100.0,
		H_PRC = ISNULL((ISNULL(E_RECEB.H_SALDO,0.0)+ ISNULL(S_RECEB.H_SALDO,0.0)) /NULLIF( ISNULL( E_ENVIO.H_SALDO,0.0)+ ISNULL(S_ENVIO.H_SALDO,0.0) ,0.0) ,0.0) *100.0,

		TTL_QTDE  = 0.0,
		TTL_SALDO = 0.0
FROM	(SELECT		* 
			FROM	PE_ESTOQUE_RPT R1	(NOLOCK) 
			WHERE	R1.DT_REF		= @data_ref
				AND	R1.ORDEM_LINHA	= 3	) AS E_ENVIO, -- ESTOQUE ENVIO
		(SELECT		* 
			FROM	PE_ESTOQUE_RPT R2	(NOLOCK) 
			WHERE	R2.DT_REF		= @data_ref
				AND	R2.ORDEM_LINHA	= 2	) AS S_ENVIO, -- SAFRA ENVIO
		(SELECT		* 
			FROM	PE_ESTOQUE_RPT R1	(NOLOCK) 
			WHERE	R1.DT_REF		= @data_ref
				AND	R1.ORDEM_LINHA	= 5	) AS E_RECEB, -- ESTOQUE RECEB
		(SELECT		* 
			FROM	PE_ESTOQUE_RPT R2	(NOLOCK) 
			WHERE	R2.DT_REF		= @data_ref
				AND	R2.ORDEM_LINHA	= 4	) AS S_RECEB -- SAFRA RECEB
	
WHERE	PE_ESTOQUE_RPT.DT_REF = @data_ref
	AND PE_ESTOQUE_RPT.ORDEM_LINHA=11	-- % RECEB
	AND E_ENVIO.AGENTE     = PE_ESTOQUE_RPT.AGENTE	-- QUEBRAS
	AND	E_ENVIO.COBRADORA  = PE_ESTOQUE_RPT.COBRADORA

	AND S_ENVIO.AGENTE   = PE_ESTOQUE_RPT.AGENTE
	AND	S_ENVIO.COBRADORA= PE_ESTOQUE_RPT.COBRADORA

	AND E_RECEB.AGENTE   = PE_ESTOQUE_RPT.AGENTE
	AND	E_RECEB.COBRADORA= PE_ESTOQUE_RPT.COBRADORA

	AND S_RECEB.AGENTE   = PE_ESTOQUE_RPT.AGENTE
	AND	S_RECEB.COBRADORA= PE_ESTOQUE_RPT.COBRADORA


-- % IP final peso*%receb
UPDATE	PE_ESTOQUE_RPT
SET		
		AA_PRC = ISNULL(PESO.AA_PRC,0.0)* ISNULL(RECEB.AA_PRC,0.0)/100.00,
		A_PRC = ISNULL(PESO.A_PRC,0.0)* ISNULL(RECEB.A_PRC,0.0)/100.00,
		B_PRC = ISNULL(PESO.B_PRC,0.0)* ISNULL(RECEB.B_PRC,0.0)/100.00,
		C_PRC = ISNULL(PESO.C_PRC,0.0)* ISNULL(RECEB.C_PRC,0.0)/100.00,
		D_PRC = ISNULL(PESO.D_PRC,0.0)* ISNULL(RECEB.D_PRC,0.0)/100.00,
		E_PRC = ISNULL(PESO.E_PRC,0.0)* ISNULL(RECEB.E_PRC,0.0)/100.00,
		F_PRC = ISNULL(PESO.F_PRC,0.0)* ISNULL(RECEB.F_PRC,0.0)/100.00,
		G_PRC = ISNULL(PESO.G_PRC,0.0)* ISNULL(RECEB.G_PRC,0.0)/100.00,
		H_PRC = ISNULL(PESO.H_PRC,0.0)* ISNULL(RECEB.H_PRC,0.0)/100.00
FROM	(SELECT		* 
			FROM	PE_ESTOQUE_RPT R1	(NOLOCK) 
			WHERE	R1.DT_REF		= @data_ref
				AND	R1.ORDEM_LINHA	= 10	) AS PESO, -- PESO
		(SELECT		* 
			FROM	PE_ESTOQUE_RPT R2	(NOLOCK) 
			WHERE	R2.DT_REF		= @data_ref
				AND	R2.ORDEM_LINHA	= 11	) AS RECEB -- % RECEB
	
WHERE	PE_ESTOQUE_RPT.DT_REF = @data_ref
	AND PE_ESTOQUE_RPT.ORDEM_LINHA=12	-- % IP
	AND PESO.AGENTE     = PE_ESTOQUE_RPT.AGENTE	-- QUEBRAS
	AND	PESO.COBRADORA  = PE_ESTOQUE_RPT.COBRADORA

	AND RECEB.AGENTE   = PE_ESTOQUE_RPT.AGENTE
	AND	RECEB.COBRADORA= PE_ESTOQUE_RPT.COBRADORA


-- CALCULA O IP TTL
UPDATE	PE_ESTOQUE_RPT
SET		
		IP_PRC = ISNULL(AA_PRC,0.0)+ ISNULL(A_PRC,0.0) +ISNULL(B_PRC,0.0) +ISNULL(C_PRC,0.0) +ISNULL(D_PRC,0.0) +ISNULL(E_PRC,0.0) +ISNULL(F_PRC,0.0) +ISNULL(G_PRC,0.0) +ISNULL(H_PRC,0.0)
WHERE	PE_ESTOQUE_RPT.DT_REF = @data_ref
	AND PE_ESTOQUE_RPT.ORDEM_LINHA=12	-- % IP


/*
-- % CONTRATOS VARIA RECUPERA / ESTOQUE
SELECT * FROM PE_ESTOQUE_RPT
UPDATE	PE_ESTOQUE_RPT
SET		
		PRCC_REC = ISNULL( (RC_SALDO) /NULLIF(EC_SALDO,0.0)  ,0.0) * 100.0,	--	FLOAT
		PRCP_REC = ISNULL( (RP_SALDO) /NULLIF(EP_SALDO,0.0)  ,0.0) * 100.0
WHERE	PE_ESTOQUE_RPT.DT_FECHA = @data_ref

*/
END
GO


-- SELECT * FROM 