
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- DIARIO, RECEBIMENTOS DO ESTOQUE

use SIG
--use SF_relatorios
go
-- 25-33 SEG CARGA
-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

-- HOMOLOG						DT SAFRA OU ENVIO		DT RECEBIM
/*
-- 39SEG 

EXEC [dbo].[PE_ESTOQUE_RECEB] '2014-03-31','2014-04-22'  -- ATEH ANTES DE ABRIL ESTOQUE, RECEBIDO ATEH HOJE
EXEC [dbo].[PE_ESTOQUE_RECEB] '2014-04-30','2014-05-05'   
-- 153k ESTOQUE
*/
-- SELECT * FROM PERFORM_ESTOQUE where dt_ref='20140430'  and recebido=1  -- ENVIADOS COBRADORA, ACOMPANHA - NAO PAGOS ATEH HOJE


-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PE_ESTOQUE_RECEB' AND type = 'P')
   DROP PROCEDURE [dbo].[PE_ESTOQUE_RECEB]
GO

-- FECHAMENTO DO MES
CREATE Procedure [dbo].[PE_ESTOQUE_RECEB] 
 (	@DTREF		SMALLDATETIME,
	@DTRECEB	SMALLDATETIME
  )
AS  
BEGIN


-- TABELA


/*
select * FROM	CDCSANTANAMicroCredito..CPARC E1 where paNROPER='862000177' and 	paNRPARC=5
select * FROM GESTORCOB..ELCCB WHERE LCNROPER='862000177' and 		LCNRPARC=5

select * FROM	CDCSANTANAMicroCredito..CPARC E1 where paNROPER='612145175' and 	paNRPARC=2
select * FROM GESTORCOB..ELCCB WHERE LCNROPER='612145175' and 		LCNRPARC=2


select * FROM	CDCSANTANAMicroCredito..CPARC E1 where paNROPER='10114530'


*/


-- PAGAMENTO
-- VERIFICAR O RECEBIMENTO
UPDATE PERFORM_ESTOQUE	-- NAO PAGO 0,  PAGO 1
SET		RECEBIDO=CASE	WHEN ISNULL(PADTMOV,'')='' OR PADTMOV>@DTRECEB THEN 0 ELSE 1 END,
		DT_RECEB=CASE	WHEN PADTMOV =NULL OR PADTMOV>@DTRECEB
						THEN NULL	ELSE	PADTMOV END, 
		VLR_RECEB = CASE WHEN PADTMOV IS NULL OR PADTMOV>@DTRECEB
						 THEN 0.0	ELSE	PAVLRPR+PAVLRJR END

FROM	CDCSANTANAMicroCredito..CPARC P  (NOLOCK)
WHERE	
	DT_REF = @DTREF   -- ESTOQUE REF FECHAMENTO
AND P.PANROPER = NROPER  
AND P.PANRPARC = NRPARC
AND P.PACNTRL = (SELECT		MAX(PACNTRL) 
					FROM	CDCSANTANAMicroCredito..CPARC E1  (NOLOCK)
					WHERE	E1.PANROPER = NROPER
						AND	E1.PANRPARC = NRPARC)

-- LIMPAR OS RECEBIDOS
-- DECLARE @DTREF  SMALLDATETIME SET @DTREF = '2014-03-31'


END


--END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

