
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
--use SF_relatorios
go
-- 25-33 SEG CARGA
-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

-- HOMOLOG						DT SAFRA OU ENVIO		DT RECEBIM
/*
-- 39SEG 

EXEC [dbo].[PE_ESTOQUE_CALC] '2014-03-31'  -- ATEH ANTES DE ABRIL
 
-- 153k ESTOQUE
*/
-- SELECT * FROM PERFORM_ESTOQUE  -- ENVIADOS COBRADORA, ACOMPANHA - NAO PAGOS ATEH HOJE


-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PE_ESTOQUE_CALC' AND type = 'P')
   DROP PROCEDURE [dbo].[PE_ESTOQUE_CALC]
GO

-- FECHAMENTO DO MES
CREATE Procedure [dbo].[PE_ESTOQUE_CALC] 
 (@DTREF  SMALLDATETIME
  )
AS  
BEGIN


-- APAGA PROCESSAMENTO ANTERIOR
-- ESTOQUE ARMAZENA DURANTE O MES, REPROCESSA
delete  from PERFORM_ESTOQUE WHERE DT_REF=@DTREF


-- LIMPA AUX
DELETE  FROM AUX_PARC


-- TABELA

-- ENVIOS  1325 C/ CNTRL 944 ENVIADAS 1D
INSERT PERFORM_ESTOQUE 
 (DT_REF,dt_ENVIO, NROPER, NRPARC, VLR_ENVIO,CODACOB,CODREGR,
		RECEBIDO,DT_RECEB, VLR_RECEB, dt_VCTO)
		

select	@DTREF,
		MAX(E.LCDTVAL),   -- ULTIMO ENVIO , PODE HAVER REDISTRIBUICAO
	E.LCNROPER, E.LCNRPARC, 
--P.PADTVCTO, 	CASE WHEN P.PAVLRPAGO > 0 THEN LCVLRENV ELSE 0 END ) AS VLR_PAGO
--	 LCDTVAL AS DTENVIO,  
	MAX(LCVLRENV)	AS VLR_ENVIO,  
	--CONVERT(NUMERIC(22,2),LCVLRENV) AS VLR_ENVIADO,
	MAX(LCCODACOB),  
	MAX(LCCODREGR) --, *
	, 0,NULL,0.0
	, MAX(LCDTVCTO)
--,	LCCODFIL
-- SELECT TOP 100 *
FROM GESTORCOB..ELCCB E (NOLOCK)
WHERE  
 LCDTVAL <= @DTREF   -- ENVIO  PARA COBRADORA  ATEH A DTA DE REF (FECHAMENTO)
-- ULTIMO ENVIO
AND LCCNTRL = (SELECT	 MAX(LCCNTRL) 
					FROM GESTORCOB..ELCCB E1 (NOLOCK)
					WHERE  E1.LCDTVAL <= @DTREF
						AND	E1.LCNROPER = E.LCNROPER
						AND	E1.LCNRPARC = E.LCNRPARC)
-- SEM PAGAMENTO
AND LCCODMOVR <> 2 -- PAGO
AND LCDTVCTO <= DATEADD(D,-5,@DtREF) -- VENCIDO ANTES DA DTA DE ENVIO  -- 5D
GROUP BY LCNROPER, LCNRPARC

/*
select * FROM	CDCSANTANAMicroCredito..CPARC E1 where paNROPER='862000177' and 	paNRPARC=5
select * FROM GESTORCOB..ELCCB WHERE LCNROPER='862000177' and 		LCNRPARC=5

select * FROM	CDCSANTANAMicroCredito..CPARC E1 where paNROPER='612145175' and 	paNRPARC=2
select * FROM GESTORCOB..ELCCB WHERE LCNROPER='612145175' and 		LCNRPARC=2


select * FROM	CDCSANTANAMicroCredito..CPARC E1 where paNROPER='10114530'


*/

-- REMOVER OS Q NAO SAO VEICULOS
-- DECLARE @DTENVIO  SMALLDATETIME SET @DTENVIO ='20140227'
DELETE	from PERFORM_ESTOQUE
-- SELECT * 	from PERFORM_SAFRA
	WHERE	 dt_REF = @DTREF
		AND	 NROPER NOT IN
		(SELECT		OPNROPER	-- 36097
			FROM	CDCSANTANAMicroCredito..Coper   (NOLOCK)
			where     -- NAO EH VEICULOS
			--todas veiculos
					 OPCODOP IN ('552','610','612','630','632','642','643','670','672','700','751','752','760','862','893','553','894')
		)


-- PAGAMENTO
-- VERIFICAR O RECEBIMENTO
UPDATE PERFORM_ESTOQUE	-- NAO PAGO 0,  PAGO 1
SET		RECEBIDO=CASE	WHEN ISNULL(PADTMOV,'')='' OR PADTMOV>@DTREF THEN 0 ELSE 1 END,
		DT_RECEB=CASE	WHEN PADTMOV =NULL OR PADTMOV>@DTREF
						THEN NULL	ELSE	PADTMOV END, 
		VLR_RECEB = CASE WHEN PADTMOV IS NULL OR PADTMOV>@DTREF
						 THEN 0.0	ELSE	PAVLRPR+PAVLRJR END
		--dt_VCTO	= PADTVCTO

FROM	CDCSANTANAMicroCredito..CPARC P  (NOLOCK)
WHERE	
	DT_REF = @DTREF   -- ENVIO  AND '2014-04-10'
AND P.PANROPER = NROPER  
AND P.PANRPARC = NRPARC
AND P.PACNTRL = (SELECT		MAX(PACNTRL) 
					FROM	CDCSANTANAMicroCredito..CPARC E1  (NOLOCK)
					WHERE	E1.PANROPER = NROPER
						AND	E1.PANRPARC = NRPARC)

-- LIMPAR OS RECEBIDOS
-- DECLARE @DTREF  SMALLDATETIME SET @DTREF = '2014-03-31'

DELETE FROM PERFORM_ESTOQUE WHERE DT_REF =@DTREF AND RECEBIDO = 1

--DELETE FROM PERFORM_ESTOQUE WHERE DT_REF =@DTREF AND DT_VCTO IS NULL

END


--END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

