
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
--use SF_relatorios
go
-- 25-33 SEG CARGA
-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

-- HOMOLOG						DT SAFRA OU ENVIO	DE ATE,	DT RECEBIM
/*
 EXEC [dbo].[PE_SAFRA_EXEC] '2014-04-01','2014-04-22','2014-04-22'

delete  from PERFORM_SAFRA where dt_ENVIO between '2014-03-01' and '2014-03-31'
 EXEC [dbo].[PE_SAFRA_EXEC] '2014-03-01','2014-03-31','2014-04-02'  -- FECHAMENTO 2DU DEPOIS


delete  from PERFORM_SAFRA where dt_ENVIO between '2014-02-01' and '2014-02-28'
 EXEC [dbo].[PE_SAFRA_EXEC] '2014-02-01','2014-02-28','2014-03-04'


SELECT *  from PERFORM_SAFRA where dt_ENVIO = '2014-02-03' AND NROPER='30214436'
SELECT *  from PERFORM_SAFRA where  NROPER='61636643'

SELECT *  from PERFORM_SAFRA where  NROPER='89312578' AND
dt_ENVIO = '2014-02-27' AND LCDTVCTO< DATEADD(D,-5,'2014-02-27')

SELECT DATEADD(D,-5,'2014-02-27')
Select top 100  *
FROM	gestorCob..elccb P  (NOLOCK)
where lcnroper='89312578' AND LCNRPARC=8
 AND LCDTVAL='20140227' AND LCDTVCTO<DATEADD(D,-5,'20140227')

*/
-- SELECT * FROM PERFORM_SAFRA  -- ENVIADOS COBRADORA, ACOMPANHA

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PE_SAFRA_EXEC' AND type = 'P')
   DROP PROCEDURE [dbo].[PE_SAFRA_EXEC]
GO


CREATE Procedure [dbo].[PE_SAFRA_EXEC] 
 (	@DTENVIO_DE		SMALLDATETIME,  
	@DTENVIO_ATE	SMALLDATETIME,  	
	@DTRECEB		SMALLDATETIME
  )
AS  
BEGIN

-- VARIAVEL DE DATA
DECLARE @DT		SMALLDATETIME
SET	@DT = @DTENVIO_DE


WHILE  @DT <= @DTENVIO_ATE
BEGIN

	EXEC [dbo].[PE_SAFRA_CALC] @DT, @DTRECEB
	SET		@DT = DATEADD(DD,+1,@DT)

END

END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

