
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
--use SF_relatorios
go
-- 25-33 SEG CARGA
-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

-- HOMOLOG						DT SAFRA OU ENVIO		DT RECEBIM
/*
 EXEC [dbo].[PE_SAFRA_CALC] '2014-04-01','2014-04-22'
 EXEC [dbo].[PE_SAFRA_CALC] '2014-04-02','2014-04-22'
 EXEC [dbo].[PE_SAFRA_CALC] '2014-04-03','2014-04-22'
 EXEC [dbo].[PE_SAFRA_CALC] '2014-04-04','2014-04-22'
 EXEC [dbo].[PE_SAFRA_CALC] '2014-04-07','2014-04-22'
 EXEC [dbo].[PE_SAFRA_CALC] '2014-04-08','2014-04-22'
 EXEC [dbo].[PE_SAFRA_CALC] '2014-04-09','2014-04-22'
 EXEC [dbo].[PE_SAFRA_CALC] '2014-04-10','2014-04-22'
 EXEC [dbo].[PE_SAFRA_CALC] '2014-04-11','2014-04-22'
*/
-- SELECT * FROM PERFORM_SAFRA  -- ENVIADOS COBRADORA, ACOMPANHA

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PE_SAFRA_CALC' AND type = 'P')
   DROP PROCEDURE [dbo].[PE_SAFRA_CALC]
GO


CREATE Procedure [dbo].[PE_SAFRA_CALC] 
 (@DTENVIO  SMALLDATETIME,  
  @DTRECEB  SMALLDATETIME
  )
AS  
BEGIN

-- APAGA PROCESSAMENTO ANTERIOR
delete  from PERFORM_SAFRA where dt_ENVIO = @DTENVIO --AND DT_RECEB = @DTRECEB


-- LIMPA AUX
DELETE  FROM AUX_PARC

-- ENVIOS  1325 C/ CNTRL 944 ENVIADAS 1D
INSERT PERFORM_SAFRA 
 (dt_ENVIO, NROPER, NRPARC, VLR_ENVIO,CODACOB,CODREGR,
		RECEBIDO,DT_RECEB, VLR_RECEB)
select	@DTENVIO,
	E.LCNROPER, E.LCNRPARC, --E.LCDTVAL, 
--P.PADTVCTO, 	CASE WHEN P.PAVLRPAGO > 0 THEN LCVLRENV ELSE 0 END ) AS VLR_PAGO
--	 LCDTVAL AS DTENVIO,  
	LCVLRENV	AS VLR_ENVIO,  
	--CONVERT(NUMERIC(22,2),LCVLRENV) AS VLR_ENVIADO,
	LCCODACOB,  
	LCCODREGR --, *
	, 0,NULL,0.0
--,	LCCODFIL
FROM GESTORCOB..ELCCB E  (NOLOCK)
WHERE  
	LCDTVAL = @DTENVIO   -- ENVIO  PARA COBRADORA
AND LCCNTRL = (SELECT	 MAX(LCCNTRL) 
					FROM GESTORCOB..ELCCB E1  (NOLOCK)
					WHERE  E1.LCDTVAL <= @DTENVIO
						AND	E1.LCNROPER = E.LCNROPER
						AND	E1.LCNRPARC = E.LCNRPARC)
AND LCDTVCTO <= DATEADD(D,-5,@DTENVIO) -- VENCIDO ANTES DA DTA DE ENVIO  -- 5D

-- SELECT DATEADD(D,-5,GETDATE())
-- REMOVER OS Q NAO SAO VEICULOS
-- DECLARE @DTENVIO  SMALLDATETIME SET @DTENVIO ='20140227'
DELETE	from PERFORM_SAFRA
-- SELECT * 	from PERFORM_SAFRA
	WHERE	 dt_ENVIO = @DTENVIO
		AND	 NROPER NOT IN
		(SELECT		OPNROPER	-- 36097
			FROM	CDCSANTANAMicroCredito..Coper   (NOLOCK)
			where     -- NAO EH VEICULOS
			--todas veiculos
					 OPCODOP IN ('552','610','612','630','632','642','643','670','672','700','751','752','760','862','893','553','894')
		)




/*
SELECT * 	from PERFORM_SAFRA  where nroper = '61636643' 
Select *
FROM	CDCSANTANAMicroCredito..Coper P  (NOLOCK)
where opnroper = '30214436'  -- NAO EH VEICULOS
Select *
FROM	CDCSANTANAMicroCredito..Coper P  (NOLOCK)
where opnroper = '61636643'  --  EH VEICULOS
Select top 100  *
FROM	gestorCob..elccb P  (NOLOCK)
where lcnroper='61636643' AND LCDTVAL='20140228'
Select top 100  *
FROM	gestorCob..elccb P  (NOLOCK)
where lcnroper='89312578' AND LCDTVAL='20140227' AND LCDTVCTO<DATEADD(D,-5,'20140227')
-- ENVIO MAS VENCIDO HA +5D

*/

-- PAGAMENTO
-- VERIFICAR O RECEBIMENTO
UPDATE PERFORM_SAFRA	-- NAO PAGO 0,  PAGO 1
SET		RECEBIDO=CASE	WHEN ISNULL(PADTMOV,'')='' OR PADTMOV>@DTRECEB THEN 0 ELSE 1 END,
		DT_RECEB=CASE	WHEN PADTMOV =NULL OR PADTMOV>@DTRECEB
						THEN NULL	ELSE	PADTMOV END, 
		VLR_RECEB = CASE WHEN PADTMOV IS NULL OR PADTMOV>@DTRECEB
						 THEN 0.0	ELSE	PAVLRPR+PAVLRJR END,
		dt_VCTO	= PADTVCTO

FROM	CDCSANTANAMicroCredito..CPARC P  (NOLOCK)
WHERE	
	DT_ENVIO = @DTENVIO   -- ENVIO  AND '2014-04-10'
AND P.PANROPER = NROPER  
AND P.PANRPARC = NRPARC
AND P.PACNTRL = (SELECT		MAX(PACNTRL) 
					FROM	CDCSANTANAMicroCredito..CPARC E1  (NOLOCK)
					WHERE	E1.PANROPER = NROPER
						AND	E1.PANRPARC = NRPARC)


DELETE	FROM	PERFORM_SAFRA
		WHERE	DT_ENVIO = @DTENVIO  
			AND DT_VCTO IS NULL
/*

DELETE	FROM	PERFORM_SAFRA
		WHERE	DT_VCTO IS NULL

SELECT * FROM PERFORM_SAFRA
SELECT * FROM vwmodalidadecategorias
SELECT * FROM RATING_PROJETADO
SELECT	TOP 10 *			FROM	CDCSANTANAMicroCredito..CPARC
DROP TABLE RATING_PROJETADO
SELECT * 
INTO RATING_PROJETADO
FROM RATING_HISTORICO
	WHERE 1 =0

If @VerTrilha = '1' 
   Begin
	Select '01 - Verificando tabelas temporarias para exclusão' as Status
   End

IF ISNULL (OBJECT_ID ('PERFORMANCE'), 0) <> 0 DROP TABLE PERFORMANCE  
IF OBJECT_ID ('LEVANTAMENTO') IS NOT NULL DROP TABLE LEVANTAMENTO   
If @VerTrilha = '1' 
   Begin
	Select '02 - Excluindo tabelas temporarias' as Status
   End

DROP   TABLE RATING_PROJETADO_PARC  

CREATE TABLE RATING_PROJETADO_PARC(   
ID1 INT IDENTITY ,   
LCNROPER VARCHAR(15),   
LCNRPARC VARCHAR(3),   
LCDTVAL SMALLDATETIME,   
PADTVCTO SMALLDATETIME,  
PADTMOV SMALLDATETIME,  
LCCODACOB VARCHAR(3),   
DESCR_COBRADORA VARCHAR(50),   
LCCODREGR VARCHAR(6),   
DESCR_REGRA VARCHAR(50),  
LCCODFIL VARCHAR(6),  
DESCR_FILIAL VARCHAR(50),  
PRODUTO VARCHAR(50),  
DESCR_PRODUTO VARCHAR(50),  
ATRASO INT,  
RATING VARCHAR(2),  
PAGO INT NULL,   
VLR_PAGO NUMERIC(22,2) NULL,   
VLR_ENVIADO NUMERIC(22,2) NULL,  
DTENVIO SMALLDATETIME NULL,  
DTPGTO SMALLDATETIME NULL)  
  
CREATE TABLE PERFORMANCE  
(ID1 INT IDENTITY,  
 REFERENCIA VARCHAR(6) NOT NULL,  
 FILIAL VARCHAR(30),   
 COBRADORA VARCHAR(50),  
 PRODUTO VARCHAR(50),  
 QTD_ENVIO60 INT,  
 VLR_ENVIO60 NUMERIC(22,2),  
 QTD_PAGO60 INT,  
 VLR_PAGO60 NUMERIC(22,2),  

 QTD_ENVIO90 INT,  
 VLR_ENVIO90 NUMERIC(22,2),  
 QTD_PAGO90 INT,  
 VLR_PAGO90 NUMERIC(22,2),  

 QTD_ENVIO180 INT,  
 VLR_ENVIO180 NUMERIC(22,2),  
 QTD_PAGO180 INT,  
 VLR_PAGO180 NUMERIC(22,2),  

 QTD_ENVIO360 INT,  
 VLR_ENVIO360 NUMERIC(22,2),  
 QTD_PAGO360 INT,  
 VLR_PAGO360 NUMERIC(22,2),  

 QTD_ENVIO999 INT,  
 VLR_ENVIO999 NUMERIC(22,2),  
 QTD_PAGO999 INT,  
 VLR_PAGO999 NUMERIC(22,2))  
If @VerTrilha = '1' 
   Begin
	Select '03 - Tabelas temporarias Criadas' as Status
   End

If @VerTrilha = '1' 
   Begin
	Select '04 - Abrindo Cursor para Alimentar as Tabelas temporarias Criadas - Levantamento' as Status
   End



-- ENVIOS  1325 C/ CNTRL 944 ENVIADAS 1D 
select 
	E.LCNROPER, E.LCNRPARC, E.LCDTVAL, 
--P.PADTVCTO, 	CASE WHEN P.PAVLRPAGO > 0 THEN LCVLRENV ELSE 0 END ) AS VLR_PAGO
	 LCDTVAL AS DTENVIO,  
	LCVLRENV	AS VLR_PAGO,  
	CONVERT(NUMERIC(22,2),LCVLRENV) AS VLR_ENVIADO,
	LCCODACOB,  
	LCCODREGR, *
--,	LCCODFIL
FROM GESTORCOB..ELCCB E 
WHERE  
 E.LCDTVAL = '2014-04-11'   -- ENVIO  AND '2014-01-31'
AND LCCNTRL = (SELECT	 MAX(LCCNTRL) 
					FROM GESTORCOB..ELCCB E1 
					WHERE  E1.LCDTVAL <= '2014-04-11'  
						AND	E1.LCNROPER = E.LCNROPER
						AND	E1.LCNRPARC = E.LCNRPARC)
and lcnroper='86011335'
/*
-- paDtMOV  dt pagamento parcela
LCNROPER	LCNRPARC
40102519	006
LCNROPER	LCNRPARC
86011335	023		*/
select * 
FROM	CDCSANTANAMicroCredito..CPARC P 
WHERE	P.PANROPER = '86011335'  --AND 		P.PANRPARC = 6

-- registro
select top 100 * from GESTORCOB..TREGC R 
select  * from GESTORCOB..TREGC R 

ON R.RCCODREGR=E.LCCODREGR  

-- 108k tpACAO tpPAG
select * from GESTORCOB..AOPER A 
where aodtvcto = '2014-04-10'
ON AONROPER = LCNROPER AND AOCODPRD = LCCODPRD --AND AOCODBACK = '01'  
*/

-- ANTERIOR
/*
INSERT INTO RATING_PROJETADO_PARC
			(LCNROPER, LCNRPARC, LCDTVAL, DTENVIO ,
			-- da PARCELA
			--PADTVCTO, PADTMOV, PAGO, 
			VLR_PAGO, VLR_ENVIADO,
			LCCODACOB, --DESCR_COBRADORA,
			LCCODREGR  )
			--DESCR_REGRA, 
--			LCCODFIL
 
			--, DESCR_FILIAL, PRODUTO, DESCR_PRODUTO, ATRASO, RATING)  
select 
	E.LCNROPER, E.LCNRPARC, E.LCDTVAL, 
--P.PADTVCTO, 	CASE WHEN P.PAVLRPAGO > 0 THEN LCVLRENV ELSE 0 END ) AS VLR_PAGO
	 LCDTVAL AS DTENVIO,  
	LCVLRENV	AS VLR_PAGO,  
	CONVERT(NUMERIC(22,2),LCVLRENV) AS VLR_ENVIADO,
	LCCODACOB,  
	LCCODREGR
--,	LCCODFIL
FROM GESTORCOB..ELCCB E 
WHERE  
 E.LCDTVAL between @DTINI AND @DTFIM  

-- ATUALIZA parcelas
UPDATE	RATING_PROJETADO_PARC
	SET PADTVCTO =	P.PADTVCTO
	,		DTPGTO = P.PADTLIQ
FROM	CDCSANTANAMicroCredito..CPARC P 
WHERE	P.PANROPER = LCNROPER AND 
		P.PANRPARC = LCNRPARC   


-- SP_HELP RATING_PROJETADO
-- Select * from RATING_PROJETADO
-- ATUALIZA
UPDATE	RATING_PROJETADO_PARC
	SET --PADTVCTO =	P.PADTVCTO, 
		DTPGTO =  P.PADTMOV,
		--PADTMOV	 =	MIN(P.PADTMOV), 
		PAGO	 =  1,
		VLR_PAGO =  CONVERT(NUMERIC(22,2), 
				CASE WHEN P.PAVLRPAGO > 0 THEN VLR_PAGO ELSE 0 END ) 
FROM	CDCSANTANAMicroCredito..CPARC P 
WHERE	P.PANROPER = LCNROPER AND 
		P.PANRPARC = LCNRPARC AND  
		P.PADTMOV BETWEEN LCDTVAL AND DATEADD(DD, 2, RATING_PROJETADO.PADTMOV) AND  
		P.PACODMOV IN ('03', '04', '11', '12', '20', '21', '23', '24', '90', '93')  
		AND P.PADTMOV <= @DTREF  

-- AUXILIAR

DELETE	FROM   AUX_RR_PARC_PROJETADA

INSERT   AUX_RR_PARC_PROJETADA
SELECT   PANROPER, PANRPARC, P1.PADTVCTO, MIN(P1.PADTMOV) AS MINPADTMOV
	FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK),
			RATING_PROJETADO R (NOLOCK)
	WHERE	P1.PANROPER = R.LCNROPER 
	AND		P1.PANRPARC = R.LCNRPARC AND  
			P1.PADTMOV BETWEEN R.LCDTVAL AND DATEADD(DD, 2, R.PADTMOV) AND  
			P1.PACODMOV IN ('03', '04', '11', '12', '20', '21', '23', '24', '90', '93')  
			AND P1.PADTMOV <= @DTREF  
	GROUP BY	P1.PANROPER, P1.PANRPARC, P1.PADTVCTO

UPDATE		RATING_PROJETADO_PARC
	SET		PADTMOV	 =	(P.MINPADTMOV),
			ATRASO   =	CASE  
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 14 THEN 14
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 30 THEN 30  
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 60 THEN 60  
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 90 THEN 90  
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 120 THEN 120  
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 150 THEN 150  
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 180 THEN 180  
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 360 THEN 360  
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) >  360 THEN 999   
					 END     ,
			RATING	 =CASE  
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 14 THEN 'A'
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 30 THEN 'B'
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 60 THEN 'C' 
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 90 THEN 'D' 
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 120 THEN 'E'
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 150 THEN 'F'  
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 180 THEN 'G'  
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) <= 360 THEN 'H'  
					 WHEN DATEDIFF(D, P.PADTVCTO, (P.MINPADTMOV)) >  360 THEN 'HH'   
					 END  
 

	FROM	AUX_RR_PARC_PROJETADA AS P
	WHERE	P.PANROPER = RATING_PROJETADO.LCNROPER AND 
			P.PANRPARC = RATING_PROJETADO.LCNRPARC 


--O.OPcodOp As 'PRODUTO',  
UPDATE		RATING_PROJETADO_PARC
	SET		PRODUTO	 =	O.OPcodOp
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	O.OPNROPER = RATING_PROJETADO.LCNROPER 
*/

/*
  
INSERT INTO RATING_PROJETADO 
			(LCNROPER, LCNRPARC, LCDTVAL, PADTVCTO, PADTMOV, PAGO, VLR_PAGO, VLR_ENVIADO,  
							DTENVIO,DTPGTO,
--                        DIAENVIO,MESANOENVIO, MESANOPGTO,   
                           LCCODACOB, DESCR_COBRADORA,LCCODREGR, 
		DESCR_REGRA, LCCODFIL, DESCR_FILIAL, PRODUTO, DESCR_PRODUTO, ATRASO, RATING)  
SELECT  
	E.LCNROPER, E.LCNRPARC, E.LCDTVAL, P.PADTVCTO, 
	MIN(PADTMOV) AS DTMOV,   
  1 AS PAGO, 
	CONVERT(NUMERIC(22,2), 
	CASE WHEN P.PAVLRPAGO > 0 THEN LCVLRENV ELSE 0 END ) AS VLR_PAGO,  
  CONVERT(NUMERIC(22,2),LCVLRENV) AS VLR_ENVIADO,  
  LCDTVAL AS DTENVIO,  
  PADTMOV  AS DTPGTO,  

/*
  SUBSTRING(CONVERT(VARCHAR, LCDTVAL, 112),7,2) AS DIAENVIO,  
  SUBSTRING(CONVERT(VARCHAR, LCDTVAL, 112),1,6) AS MESANOENVIO,  
  SUBSTRING(CONVERT(VARCHAR, MIN(PADTMOV), 112),1,6)  AS MESANOPGTO,  
*/
LCCODACOB,  
'', --ACNOMEACOB,  
LCCODREGR,  

RCDESCR AS DESCR_REGRA,  --  '' AS DESCR_REGRA,   

 OPCODORG1 AS LCCODFIL,  
'' AS DESCR_FILIAL,  
-- O1.O1DESCR AS DESCR_FILIAL,  
O.OPcodOp As 'PRODUTO',  
' ' As 'TPDESCR',  
CASE  
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 14 THEN 14
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 30 THEN 30  
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 60 THEN 60  
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 90 THEN 90  
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 120 THEN 120  
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 150 THEN 150  
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 180 THEN 180  
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 360 THEN 360  
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) >  360 THEN 999   
 END  
 AS ATRASO   ,

CASE  
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 14 THEN 'A'
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 30 THEN 'B'
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 60 THEN 'C' 
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 90 THEN 'D' 
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 120 THEN 'E'
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 150 THEN 'F'  
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 180 THEN 'G'  
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) <= 360 THEN 'H'  
 WHEN DATEDIFF(D, P.PADTVCTO, MIN(P.PADTMOV)) >  360 THEN 'HH'   
 END  
 AS RATING
FROM GESTORCOB..ELCCB E 
  INNER JOIN CDCSANTANAMicroCredito..CPARC P ON P.PANROPER = E.LCNROPER AND P.PANRPARC = E.LCNRPARC AND  
                                              P.PADTMOV BETWEEN E.LCDTVAL AND DATEADD(DD, 2, E.LCDTMOV) AND  
                                              P.PACODMOV IN ('03', '04', '11', '12', '20', '21', '23', '24', '90', '93')  
                                              AND P.PADTMOV <= @DTREF  
  INNER JOIN GESTORCOB..AOPER A ON AONROPER = LCNROPER AND AOCODPRD = LCCODPRD --AND AOCODBACK = '01'  
--  INNER JOIN GESTORCOB..TACOB C ON C.ACCODACOB = E.LCCODACOB  
  INNER JOIN CDCSANTANAMicroCredito..COPER O ON O.OPNROPER=E.LCNROPER   
  --INNER JOIN SF_Relatorios..vwmodalidadecategorias T ON T.Modalidade=O.OPcodOp
  INNER JOIN GESTORCOB..TREGC R ON R.RCCODREGR=E.LCCODREGR  
--  INNER JOIN CDCSANTANAMicroCredito..TORG1 O1 ON O1.O1CODORG= O.OPCODORG1  
WHERE  
 E.LCDTVAL between @DTINI AND @DTFIM  
  AND P.PACNTRL = (SELECT MAX(PACNTRL) FROM CDCSANTANAMicroCredito..CPARC P2 WHERE P.PANROPER = P2.PANROPER AND P.PANRPARC = P2.PANRPARC)
  and r.RCCNTRL = (SELECT MAX(X.RCCNTRL) FROM GESTORCOB..TREGC X WHERE R.RCCODREGR = X.RCCODREGR)
-- TODOS
--  AND O.OPcodOp IN ( '400', '401', '450', '451', '500', '501', '550', '551', '552', '553', '600', '601', '610', '611', '612', '613', '630', '631', '632', '633', '640', '641','642', '643', '650', '651', '670', '671', '860', '861','862', '863', '890', '893', '894', '760', '800', '751', '752')

-- VEICULOS
--  AND O.OPcodOp IN ( '400', '401', '450', '451', '500', '501', '550', '551', '552', '553', '600', '601', '610', '611', '612', '613', '630', '631', '632', '633', '640', '641','642', '643', '650', '651', '670', '671', '860', '861','862', '863', '890', '893', '894', '760', '800', '751', '752')
	AND OPCODOP IN (552,610,612,630,632,642,643,670,672,700,751,752,760,862,893,553,894)

 AND NOT EXISTS(  SELECT 1 FROM GESTORCOB..ELCCB X      WHERE X.LCNROPER = E.LCNROPER AND X.LCNRPARC = E.LCNRPARC        AND X.LCCODACOB <> E.LCCODACOB           AND DATEDIFF(DD, X.LCDTMOV, P.PADTMOV)<=2 AND X.LCDTVAL < E.LCDTVAL)  
        -- AND NOT EXISTS (SELECT 1 FROM GESTORCOB..TREGC, GESTORCOB..TCOBR WHERE LCCODREGR = RCCODREGR AND COCODREGR = RCCODREGR AND COCNTRL = RCCNTRL AND RCCNTRL = (SELECT MAX(X.RCCNTRL) FROM GESTORCOB..TREGC X WHERE LCCODREGR = X.RCCODREGR) AND COATRASFIM < 16) 
GROUP BY   
-- O1.O1CODORG,  O1.O1DESCR , 
O.OPCODORG1,
E.LCNRPARC, P.PADTVCTO, E.LCNROPER, LCCODACOB, LCCODREGR, RCDESCR, OPCODOP, O.OPcodOp, E.LCDTVAL, E.LCVLRENV, P.PAVLRPAGO, 
--C.ACNOMEACOB  ,
P.PADTMOV

*/


/*  
If @VerTrilha = '1' 
   Begin
	Select '05 - Abrindo Cursor para Alimentar as Tabelas temporarias Criadas - Levantamento' as Status
   End


INSERT INTO RATING_PROJETADO
				 (LCNROPER, LCNRPARC, LCDTVAL, PADTVCTO, PADTMOV, PAGO, VLR_PAGO, VLR_ENVIADO,  
                           DIAENVIO,MESANOENVIO, MESANOPGTO,   
                           LCCODACOB, DESCR_COBRADORA,LCCODREGR, DESCR_REGRA, LCCODFIL, DESCR_FILIAL, PRODUTO, DESCR_PRODUTO, FAIXA)  
SELECT  
  LCNROPER, LCNRPARC, MIN(LCDTVAL), PADTVCTO, NULL AS PADTMOV, 0 AS PAGO, 0 VLR_PAGO ,  
  CONVERT(NUMERIC(22,2),LCVLRENV) AS VLR_ENVIADO,  
  SUBSTRING(CONVERT(VARCHAR, MIN(LCDTVAL), 112),7,2) AS DIAENVIO,  
  SUBSTRING(CONVERT(VARCHAR, MIN(LCDTVAL), 112),1,6)  AS MESANOENVIO,  
  SUBSTRING(CONVERT(VARCHAR, MIN(LCDTVAL), 112),1,6)  AS MESANOPGTO,   
 LCCODACOB,  
 ACNOMEACOB,  
 LCCODREGR,  
 RCDESCR AS DESCR_REGRA,  
 O.OPCODORG1 AS LCCODFIL,  
 O1.O1DESCR AS DESCR_FILIAL,  
 O.OPcodOp As 'PRODUTO',  
 ' ' As 'TPDESCR',  
 CASE  
 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 60 THEN 60  
 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 90 THEN 90  
 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 180 THEN 180  
 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) <= 360 THEN 360  
 WHEN DATEDIFF(D, P.PADTVCTO, @DTREF) >  360 THEN 999   
 END AS FAIXA  
FROM GESTORCOB..ELCCB E
  INNER JOIN GESTORCOB..AOPER A ON AONROPER = LCNROPER AND AOCODPRD = LCCODPRD --AND AOCODBACK = '01'
  INNER JOIN GESTORCOB..TACOB C ON C.ACCODACOB = E.LCCODACOB  
  INNER JOIN CDCSANTANAMicroCredito..COPER O ON O.OPNROPER=E.LCNROPER 
  INNER JOIN CDCSANTANAMicroCredito..CPARC P ON P.PANROPER = E.LCNROPER AND P.PANRPARC = E.LCNRPARC  
  --INNER JOIN SF_Relatorios..vwmodalidadecategorias T ON T.Modalidade=O.OPcodOp
  INNER JOIN GESTORCOB..TREGC R ON R.RCCODREGR=E.LCCODREGR
  INNER JOIN CDCSANTANAMicroCredito..TORG1 O1 ON O1.O1CODORG=O.OPCODORG1
WHERE
   E.LCDTVAL >= @DTINI AND LCDTVAL <= @DTFIM
   AND P.PACNTRL = (SELECT MAX(PACNTRL) FROM CDCSANTANAMicroCredito..CPARC P2 WHERE P.PANROPER = P2.PANROPER AND P.PANRPARC = P2.PANRPARC)
   and r.RCCNTRL = (SELECT MAX(X.RCCNTRL) FROM GESTORCOB..TREGC X WHERE R.RCCODREGR = X.RCCODREGR)
   AND O.OPcodOp IN ('400', '401', '450', '451', '500', '501', '550', '551', '552', '553', '600', '601', '610', '611', '612', '613', '630', '631', '632', '633', '640', '641','642', '643', '650', '651', '670', '671', '860', '861','862',  '863', '890', '893', '894', '760', '800', '751', '752')
   AND NOT EXISTS(SELECT 1 FROM CDCSANTANAMicroCredito..CPARC P WHERE P.PANROPER = E.LCNROPER AND P.PANRPARC = E.LCNRPARC AND P.PADTMOV BETWEEN E.LCDTVAL AND DATEADD(DD, 2, E.LCDTMOV))
   --AND NOT EXISTS (SELECT 1 FROM GESTORCOB..TREGC, GESTORCOB..TCOBR WHERE LCCODREGR = RCCODREGR AND COCODREGR = RCCODREGR AND COCNTRL = RCCNTRL AND RCCNTRL = (SELECT MAX(X.RCCNTRL) FROM GESTORCOB..TREGC X WHERE LCCODREGR = X.RCCODREGR) AND COATRASFIM < 12) 
GROUP BY 
   O1.O1CODORG, O.OPCODORG1, O1.O1DESCR , E.LCNRPARC, E.LCNROPER, P.PADTVCTO, E.LCVLRENV, C.ACNOMEACOB, E.LCCODACOB, E.LCCODREGR,RCDESCR, O.OPcodOp

select * from GESTORCOB..TREGC
select * from GESTORCOB..TREGC
*/


END


--END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

