
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

use SIG
--use SF_relatorios
go

/*
 EXEC [dbo].[PE_SAFRA_RELAT]  '2014-04-20'
SELECT * FROM PE_SAFRA_RPT  WHERE DT_ENVIO BETWEEN '2014-04-01' AND '2014-04-20'
			ORDER BY DT_ENVIO 

-- TTL
SELECT	DT_ENVIO,COUNT(*) AS QTD_ENVIO,SUM(VLR_ENVIO) AS VLR_ENVIO,
		SUM(RECEBIDO) AS QTD_RECEB,SUM(VLR_RECEB) AS VLR_RECEB, SUM(VLR_RECEB)/SUM(VLR_ENVIO)*100.0 AS PRC
 FROM PERFORM_SAFRA
GROUP BY DT_ENVIO ORDER BY DT_ENVIO

-- COBRADORAS
SELECT	CODACOB,DT_ENVIO,COUNT(*) AS QTD_ENVIO,SUM(VLR_ENVIO) AS VLR_ENVIO,
		SUM(RECEBIDO) AS QTD_RECEB,SUM(VLR_RECEB) AS VLR_RECEB, SUM(VLR_RECEB)/SUM(VLR_ENVIO)*100.0 AS PRC
 FROM PERFORM_SAFRA
GROUP BY CODACOB,DT_ENVIO ORDER BY CODACOB,DT_ENVIO

SELECT * FROM PERFORM_SAFRA
*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PE_SAFRA_RELAT' AND type = 'P')
   DROP PROCEDURE [dbo].[PE_SAFRA_RELAT]
GO

-- ref relatorio, dta fechamento pdd
CREATE Procedure [dbo].[PE_SAFRA_RELAT] (@data_ref as datetime, @data_ANT AS SMALLDATETIME) AS
BEGIN


DECLARE @data_INI AS SMALLDATETIME
SET @data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

/*
DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END

*/

-- SELECT  CONVERT(CHAR(4),DATEPART(YEAR,GETDATE()))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,GETDATE()))),2)+'01'

-- APAGA PROCESSAMENTO ANTERIOR
delete  from PE_SAFRA_RPT 
	WHERE	 DT_FECHA = @data_ref
	
-- CARREGA TABELA RESULTADO  
/*
SELECT * FROM PE_SAFRA_RPT
DROP TABLE PE_SAFRA_RPT
CREATE TABLE PE_SAFRA_RPT (
		DT_FECHA	smalldatetime,
		DT_ENVIO	smalldatetime,
		AGENTE		varchar	(6),
		COBRADORA	varchar(6),
		ORDEM_LINHA	int	,
		FORMATO		varchar	(6),
		DESCRICAO	varchar	(50),
		EC_QTDE		float	,
		EC_SALDO	float	,
		EP_QTDE		float	,
		EP_SALDO	float	,
		RC_QTDE		float	,
		RC_SALDO	float	,
		PRCC_REC	float,
		RP_QTDE		float,
		RP_SALDO	float,
		PRCP_REC	float
	 )
CREATE INDEX PE_SAFRA_RPT_IND1 ON PE_SAFRA_RPT ( DT_FECHA,DT_ENVIO,COBRADORA )
*/

-- CARREGA DADOS ATUAIS
-- QUEBRA POR COBRADORA
INSERT	PE_SAFRA_RPT
	(	
		DT_FECHA	, --smalldatetime,
		DT_ENVIO	, --smalldatetime,
		AGENTE		, --varchar	(6),
		COBRADORA	, --varchar(6),
		ORDEM_LINHA	, --int	,
		FORMATO		, --varchar	(6),
		DESCRICAO	, --varchar	(50),
		EC_QTDE		, -- float
		EC_SALDO	,
		EP_QTDE		,
		EP_SALDO	,
		RC_QTDE		,
		RC_SALDO	,
		PRCC_REC	,
		RP_QTDE		,
		RP_SALDO	,
		PRCP_REC	
)
SELECT	DISTINCT 
		@data_ref,
		DT_ENVIO,
		'',
		CODACOB,

		1,
		'',
		-- DESCRICAO 
		--DATEPART(DD,DT_ENVIO)&'-'&DATEPART(MM,DT_ENVIO)&DATEPART(YYYY,DT_ENVIO),
		'COBRADORA',
		0.0,0.0,	-- CONTRATOS
		-- PARC
		COUNT(*) ,SUM(VLR_ENVIO) ,
		-- RECEB
		0.0,0.0,0.0,
		-- PARCELAS
		SUM(RECEBIDO) ,SUM(VLR_RECEB) , SUM(VLR_RECEB)/SUM(VLR_ENVIO)*100.0 
 FROM PERFORM_SAFRA	(NOLOCK)

where		DT_ENVIO BETWEEN @DATA_INI AND @data_ref			-- DO FECHAMENTO DA PDD
GROUP BY 	--AGENTE,
			CODACOB,
			DT_ENVIO 
ORDER BY DT_ENVIO

/*
SELECT *  FROM PERFORM_SAFRA	(NOLOCK)

UPDATE	PE_SAFRA_RPT
SET		
		PRCC_REC = ISNULL( (RC_SALDO) /NULLIF(EC_SALDO,0.0)  ,0.0) * 100.0,	--	FLOAT
		PRCP_REC = ISNULL( (RP_SALDO) /NULLIF(EP_SALDO,0.0)  ,0.0) * 100.0
WHERE	PE_SAFRA_RPT.DT_FECHA = @data_ref
*/

END
GO


-- SELECT * FROM 