
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO
-- erro na select 37
/*
 EXEC [dbo].[PRC_PDD_CALCULO] '2015-01-31'
 EXEC [dbo].[PRC_PDD_CALCULO] '2015-02-28'
 EXEC [dbo].[PRC_PDD_CALCULO] '2015-03-31'
 EXEC [dbo].[PRC_PDD_CALCULO] '2015-04-30'
 EXEC [dbo].[PRC_PDD_CALCULO] '2015-05-31'
 EXEC [dbo].[PRC_PDD_CALCULO] '2015-06-30'
 
 EXEC [dbo].[PRC_PDD_CALCULO] '2016-01-31'
 EXEC [dbo].[PRC_PDD_CALCULO] '2016-02-29'
 EXEC [dbo].[PRC_PDD_CALCULO] '2016-03-31'
 EXEC [dbo].[PRC_PDD_CALCULO] '2016-04-30'
 EXEC [dbo].[PRC_PDD_CALCULO] '2016-05-31'

 EXEC [dbo].[PRC_PDD_CALCULO] '2016-06-30'

  SELECT * FROM PDD_RPT WHERE DT_SAFRA = '2016-04-30' AND RPT=1 
  SELECT * FROM PDD_RPT WHERE DT_SAFRA = '2016-01-31' AND  RPT=2
  SELECT * FROM PDD_RPT WHERE DT_SAFRA = '2016-01-31' AND  RPT=3

Scr_vlr_p123Gerencial '20160131','20160430',1,1
Scr_grafico_p123Gerencial '20160131','20160430',1,1
scr_vlr_GerencialP123_AnoAnterior '20160131','20160430',1,1

*/
use SIG
go


/*

USE SIG

DROP TABLE PDD_RPT
SP_HELP CML_PRODUCAO_ANALISE
SP_HELP P123_RPT
SP_HELP PDD_RPT
CREATE TABLE PDD_RPT
	(	DT_FECHA		SMALLDATETIME,
--		DT_SAFRA		SMALLDATETIME,
		RPT				INT,
		CARTEIRA		INT,
		ORDEM			INT,
		DESCR			VARCHAR(100),

		M1		float,
		M2		float,
		M3		float,
		M4		float,
		M5		float,

		M6		FLOAT,
		M7		float,
		M8		float,
		M9		FLOAT,
		M10		FLOAT,

		M11		FLOAT,	
		M12		FLOAT,
		M13		FLOAT,
		M14		FLOAT,	
		COR_LINHA   varchar(3)
	)
CREATE INDEX PDD_RPT_IDX1 ON PDD_RPT  	(	DT_FECHA,	RPT, ORDEM,	DESCR)

--	(	DT_SAFRA,	RPT, ORDEM,	DESCR)


*/

-- SELECT * FROM RR_ROLLRATE WHERE RATING='HH'
-- SELECT * FROM RATING_HISTORICO WHERE NVL_RISCO='HH'


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_PDD_CALCULO' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_PDD_CALCULO]
GO


CREATE Procedure [dbo].[PRC_PDD_CALCULO] (@data_ref as datetime) AS
BEGIN


		DECLARE @data_INI AS SMALLDATETIME
		-- DIA 1 DO MES DO FECHAMENTO
		SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

		-- APAGA PROCESSAMENTO ANTERIOR		 -- PRODUCAO GLOBAL  1 a 3		-- SQL 1
		delete  from PDD_RPT
			--WHERE	 DT_SAFRA = @data_ref
				--AND	 RPT=2 AND CARTEIRA=2


		-- faltou COR_LINHA

		-- ANALISE COM GRAFICO POR PRODUTO E OPERADOR

	--	 declare @data_ref datetime	set @data_ref ='20140630'
	--	 declare @data_ref datetime	set @data_ref ='20160131'
	--	declare @data_ref datetime set @data_ref = '20160430'
-- DECLARE @data_REF DATETIME SET @data_REF = '20160630'

	--		M24   M23  M22  M21 , M11  M10  M9  M6, M3 M2 M1  @data_ref
	--  13 MESES
	DECLARE @M1  AS DATETIME 
	DECLARE @M2  AS DATETIME
	DECLARE @M3  AS DATETIME
	DECLARE @M4  AS DATETIME
	DECLARE @M5  AS DATETIME
	DECLARE @M6  AS DATETIME
	DECLARE @M7  AS DATETIME
	DECLARE @M8  AS DATETIME
	DECLARE @M9  AS DATETIME
	DECLARE @M10  AS DATETIME
	DECLARE @M11  AS DATETIME
	DECLARE @M12  AS DATETIME
	DECLARE @M13  AS DATETIME
	DECLARE @M14  AS DATETIME  -- DT REF


		-- MES  DE FECHAMENTO
		SET		@M14 =  @data_ref
		SET		@M13 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01' 

		-- MES ANTERIOR AO DO FECHAMENTO
		SET		@M12 = CONVERT(CHAR(4),DATEPART(YEAR,@M13))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M13))),2)+'01'
		SET		@M12 = DATEADD(DD,-1,@M12)
		SET		@M12 = CONVERT(CHAR(4),DATEPART(YEAR,@M12))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M12))),2)+'01'
		--		SELECT @M14, @m13, @m12

		set		@M11 = CONVERT(CHAR(4),DATEPART(YEAR,@M12))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M12))),2)+'01'
		SET		@M11=DATEADD(DD,-1,@M11)
		SET		@M11 = CONVERT(CHAR(4),DATEPART(YEAR,@M11))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M11))),2)+'01'
		--		SELECT @M1, @M2,@M3

		set  @M10 = CONVERT(CHAR(4),DATEPART(YEAR,@M11))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M11))),2)+'01'
		SET	 @M10=DATEADD(DD,-1,@M10)
		SET		@M10 = CONVERT(CHAR(4),DATEPART(YEAR,@M10))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M10))),2)+'01'
		--		  SELECT @M4

	set  @M9 = CONVERT(CHAR(4),DATEPART(YEAR,@M10))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M10))),2)+'01'
	SET	 @M9 = DATEADD(DD,-1,@M9)
		SET		@M9 = CONVERT(CHAR(4),DATEPART(YEAR,@M9))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M9))),2)+'01'
	--		 	SELECT @M5

	set  @M8 = CONVERT(CHAR(4),DATEPART(YEAR,@M9))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M9))),2)+'01'
	SET	 @M8 = DATEADD(DD,-1,@M8)
		SET		@M8 = CONVERT(CHAR(4),DATEPART(YEAR,@M8))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M8))),2)+'01'

	set  @M7 = CONVERT(CHAR(4),DATEPART(YEAR,@M8))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M8))),2)+'01'
	SET	 @M7 = DATEADD(DD,-1,@M7)
		SET		@M7 = CONVERT(CHAR(4),DATEPART(YEAR,@M7))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M7))),2)+'01'

	set  @M6 = CONVERT(CHAR(4),DATEPART(YEAR,@M7))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M7))),2)+'01'
	SET	 @M6 = DATEADD(DD,-1,@M6)
		SET		@M6 = CONVERT(CHAR(4),DATEPART(YEAR,@M6))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M6))),2)+'01'

	set  @M5 = CONVERT(CHAR(4),DATEPART(YEAR,@M6))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M6))),2)+'01'
	SET	 @M5 = DATEADD(DD,-1,@M5)
		SET		@M5 = CONVERT(CHAR(4),DATEPART(YEAR,@M5))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M5))),2)+'01'

	set		@M4 = CONVERT(CHAR(4),DATEPART(YEAR,@M5))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M5))),2)+'01'
	SET		@M4 = DATEADD(DD,-1,@M4)
		SET		@M4 = CONVERT(CHAR(4),DATEPART(YEAR,@M4))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M4))),2)+'01'

	set		@M3 = CONVERT(CHAR(4),DATEPART(YEAR,@M4))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M4))),2)+'01'
	SET		@M3 = DATEADD(DD,-1,@M3)
		SET		@M3 = CONVERT(CHAR(4),DATEPART(YEAR,@M3))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M3))),2)+'01'

	set		@M2 = CONVERT(CHAR(4),DATEPART(YEAR,@M3))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M3))),2)+'01'
	SET		@M2 = DATEADD(DD,-1,@M2)
		SET		@M2 = CONVERT(CHAR(4),DATEPART(YEAR,@M2))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M2))),2)+'01'

	set		@M1 = CONVERT(CHAR(4),DATEPART(YEAR,@M2))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M2))),2)+'01'
	SET		@M1 = DATEADD(DD,-1,@M1)
		SET		@M1 = CONVERT(CHAR(4),DATEPART(YEAR,@M1))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M1))),2)+'01'

/*
	set		@M1 = CONVERT(CHAR(4),DATEPART(YEAR,@M2))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M2))),2)+'01'
	SET		@M1 = DATEADD(DD,-1,@M1)
*/
		-- 		SELECT @M1, @M2,@M3 , @M4, @M5,@M6,@M7,@m8,@M9,@M10,@M11,@M12,@M13 ,@M14

		--		VARIAVEIS PARA COMPOR OS 14 MESES   M1 ANTIGO,  M14 RECENTE
		DECLARE @columns VARCHAR(200)
		SET		@columns = '['+CONVERT(VARCHAR(8),@M1,112)+']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M2 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M3 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M4 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M5 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M6 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M7 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M8 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M9 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M10 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M11 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M12 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M13 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M14 ,112)  + ']'


		--		SELECT  @columns		-- M1= MES ANTIGO,	M14 = MES RECENTE


	--		M24   M23  M22  M21 , M11  M10  M9  M6, M3 M2 M1  @data_ref

/*
		SELECT	@M1 as m1, @M2 as m2, @M3 as m3, @M6 as m6, @M9 as m9, @M10 as m10, 
				@M11 as m11, @M21 as m21, @M22 as m22,@M23 as m23, @M24 as m24
*/
-- **************************************************  PRODUCAO GLOBAL  RPT 1, 2, 3
--  QUEBRAS
-- ******************************************************************** PV  4  PRODUCAO QTDE CONTRATOS
DECLARE @query VARCHAR(max)
--	DESCR 1 E 2
--	cart, ordem, prod, 
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES		-- SQL 2
TRUNCATE TABLE   AUX_CML_PROD_MES
								-- INVERTIDO	M14 ANTIGO, M1 RECENTE
	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,PRODUTO, SALDO	FROM PDD_MES (NOLOCK) WHERE DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +''' AND PRODUTO=''V'') P '+
					 ' PIVOT( SUM (SALDO) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
													-- COLUMNS  M1 A M14	-- ANTIGO A RECENTE

--   3
--	select  @query

EXEC (@query)


--  SELECT * FROM COMERCIAL_PRODUCAO_MES 
--  SELECT * FROM  CML_PRODUCAO_ANALISE
--  SELECT * FROM AUX_CML_PROD_MES
--  SELECT * FROM P123GER_RPT
--  SELECT SUM (VLR_PRESENTE) FROM COMERCIAL_PRODUCAO (NOLOCK)
-- SP_HELP CML_PRODUCAO_ANALISE
-- SP_HELP AUX_CML_PROD_MES  -- INVERTIDO 14 A 1
-- 4
	INSERT PDD_RPT		 -- ORDEM DE 1 A 14  *************
		SELECT
			@data_ref,	-- DT  @data_ref, -- CONVERT(VARCHAR(8),@data_ref,112)
			1,			1,		-- RPT, CART
			1 ,	-- ORDEM PRODUCAO
			'CARTEIRA' ,	-- DESCR
			M14,			M13		,			M12		,		M11		,
			M10		,		M9		,			M8		,		M7		,
			M6		,		M5		,			M4		,		M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)		-- INVERTIDO	M14 ANTIGO E M1 RECENTE			*****


-- ******************************************************************** SALDO POR FAIXA
-- ******************************************************************** SALDO POR FAIXA
--	DESCR 1 E 2
--	cart, ordem, prod, 
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA, PRODUTO, SLDO_A	FROM PDD_MES (NOLOCK) WHERE DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +''' AND PRODUTO=''V'') P '+
					 ' PIVOT( SUM (SLDO_A) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'

--   5
--	select  @query
EXEC (@query)

--  SELECT * FROM PDD_MES 
--  SELECT * FROM  CML_PRODUCAO_ANALISE
--  SELECT * FROM AUX_CML_PROD_MES
--  SELECT * FROM P123GER_RPT
--  SELECT SUM (VLR_PRESENTE) FROM COMERCIAL_PRODUCAO (NOLOCK)
-- SP_HELP CML_PRODUCAO_ANALISE
-- SP_HELP AUX_CML_PROD_MES
-- 6

	INSERT PDD_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			2 ,	-- ORDEM PRODUCAO
			'A - NIVEL A' ,	-- DESCR
			M14,			M13		,			M12		,		M11		,
			M10		,		M9		,			M8		,		M7		,
			M6		,		M5		,			M4		,		M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)



-- ************************************************ B  **********************************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, SLDO_B	FROM PDD_MES (NOLOCK) WHERE  DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +''' ) P '+
					 ' PIVOT( SUM (SLDO_B) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT PDD_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			3 ,	-- ORDEM PRODUCAO
			'B - NIVEL B' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ************************************************ C  **********************************************
-- VLR SLDO  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, SLDO_C	FROM PDD_MES (NOLOCK) WHERE  DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +''' ) P '+
					 ' PIVOT( SUM (SLDO_C) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT PDD_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			4 ,	-- ORDEM PRODUCAO
			'C - NIVEL C' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ************************************************ D  **********************************************
-- D	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, SLDO_D	FROM PDD_MES (NOLOCK) WHERE  DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +'''  ) P '+
					 ' PIVOT( SUM (SLDO_D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT PDD_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			5 ,	-- ORDEM PRODUCAO
			'D - NIVEL D' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ************************************************ E  **********************************************
-- VLR SLDO
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, SLDO_E	FROM PDD_MES (NOLOCK) WHERE  DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +'''  ) P '+
					 ' PIVOT( SUM (SLDO_E) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT PDD_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			6 ,	-- ORDEM PRODUCAO
			'E - NIVEL E' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ************************************************ F  **********************************************
-- VLR SLDO  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, SLDO_F	FROM PDD_MES (NOLOCK)  WHERE  DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +''' ) P '+
					 ' PIVOT( SUM (SLDO_F) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT PDD_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			7 ,	-- ORDEM PRODUCAO
			'F - NIVEL F' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)


-- ************************************************ G  **********************************************
-- G	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, SLDO_G	FROM PDD_MES (NOLOCK)  WHERE  DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +''' ) P '+
					 ' PIVOT( SUM (SLDO_G) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT PDD_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			8 ,	-- ORDEM PRODUCAO
			'G - NIVEL G' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)


-- ************************************************ H  **********************************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, SLDO_H	FROM PDD_MES (NOLOCK)  WHERE  DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +''' ) P '+
					 ' PIVOT( SUM (SLDO_H) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT PDD_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			9 ,	-- ORDEM PRODUCAO
			'H - NIVEL H' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- PERCENTUAIS  ***************************
-- SELECT * FROM  PDD_MES (NOLOCK)
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, PRC_A	FROM PDD_MES (NOLOCK)  WHERE  DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +''' ) P '+
					 ' PIVOT( SUM (PRC_A) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT PDD_RPT
		SELECT
			@data_ref,	-- DT  CONVERT(VARCHAR(8),@data_ref,112)
			1,			1,		-- RPT, CART
			15 ,	-- ORDEM PRODUCAO
			'A - NIVEL A %' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- B %	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, PRC_B	FROM PDD_MES (NOLOCK)  WHERE  DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +''' ) P '+
					 ' PIVOT( SUM (PRC_B) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT PDD_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			16 ,	-- ORDEM PRODUCAO
			'B - NIVEL B %' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, PRC_C	FROM PDD_MES (NOLOCK)  WHERE  DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +''' ) P '+
					 ' PIVOT( SUM (PRC_C) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
	--select  @query
EXEC (@query)

--  SELECT * FROM P123GER_RPT
--  SELECT SUM (P2_QTDE_30D) FROM P123Ger_MES (NOLOCK)
-- SP_HELP AUX_CML_PROD_MES
	INSERT PDD_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			17 ,	-- ORDEM PRODUCAO
			'C - NIVEL C %' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

--	cart, ordem, prod, 
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, PRC_D	FROM PDD_MES (NOLOCK)  WHERE  DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +''' ) P '+
					 ' PIVOT( SUM (PRC_D) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT PDD_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			18 ,	-- ORDEM PRODUCAO
			'D - NIVEL D %' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ***************************************************  E %
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, PRC_E	FROM PDD_MES (NOLOCK)  WHERE  DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +''' ) P '+
					 ' PIVOT( SUM (PRC_E) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT PDD_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			19 ,	-- ORDEM PRODUCAO
			'E - NIVEL E %' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)


-- ************************************************ 2o MOMENTO  **********************************************
-- 2o Momento (60d) - QTDE
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, PRC_F	FROM PDD_MES (NOLOCK)  WHERE  DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +''' ) P '+
					 ' PIVOT( SUM (PRC_F) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT PDD_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			20 ,	-- ORDEM PRODUCAO
			'F - NIVEL F %' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)
-- G %  ***************************
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, PRC_G	FROM PDD_MES (NOLOCK)  WHERE  DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +''') P '+
					 ' PIVOT( SUM (PRC_G) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
--	select  @query
EXEC (@query)
	INSERT PDD_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			21 ,	-- ORDEM PRODUCAO
			'G - NIVEL G %' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- H % 	***************************
-- LIMPA ANTERIOR   SP_HELP AUX_CML_PROD_MES
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_SAFRA,''V'' AS PRODUTO, PRC_H	FROM PDD_MES (NOLOCK)  WHERE  DT_FECHA= '''+CONVERT(VARCHAR(8),@data_REF ,112) +''' ) P '+
					 ' PIVOT( SUM (PRC_H) FOR DT_SAFRA IN ('+ @columns + ') ) AS PVT'
EXEC (@query)
	INSERT PDD_RPT
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			22 ,	-- ORDEM PRODUCAO
			'H - NIVEL H %' ,	-- DESCR
			M14, 			M13		,			M12		,			M11		,
			M10		,		M9		,			M8		,			M7		,
			M6		,		M5		,			M4		,			M3		,
			M2		,		M1		,			''		-- COR_LINHA			
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- M14 MES ATUAL COM TTL DO FECHAMENTO  **************************************
-- VARIAVEL AUX TTL
DECLARE @TTL	FLOAT
SET @TTL = (SELECT		SUM(SALDO)	AS V
			FROM	PDD_MES (NOLOCK) )
-- CART
UPDATE	PDD_RPT
SET		M14 = V
FROM	(SELECT		SUM(SALDO)	AS V
			FROM	PDD_MES (NOLOCK) ) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND DESCR='CARTEIRA'
-- A
UPDATE	PDD_RPT
SET		M14 = V
FROM	(SELECT		SUM(SLDO_A)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='A -' AND ORDEM=2
-- B
UPDATE	PDD_RPT
SET		M14 = V
FROM	(SELECT		SUM(SLDO_B)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='B -' AND ORDEM=3
-- C
UPDATE	PDD_RPT
SET		M14 = V
FROM	(SELECT		SUM(SLDO_C)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='C -' AND ORDEM=4
-- D
UPDATE	PDD_RPT
SET		M14 = V
FROM	(SELECT		SUM(SLDO_D)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='D -' AND ORDEM=5
-- E
UPDATE	PDD_RPT
SET		M14 = V
FROM	(SELECT		SUM(SLDO_E)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='E -' AND ORDEM=6
-- F
UPDATE	PDD_RPT
SET		M14 = V
FROM	(SELECT		SUM(SLDO_F)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='F -' AND ORDEM=7
-- G
UPDATE	PDD_RPT
SET		M14 = V
FROM	(SELECT		SUM(SLDO_G)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='G -' AND ORDEM=8
-- H
UPDATE	PDD_RPT
SET		M14 = V
FROM	(SELECT		SUM(SLDO_H)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='H -' AND ORDEM=9

-- A PERCENTUAIS ***************
UPDATE	PDD_RPT
SET		M14 = (V/@TTL * 100.0)
FROM	(SELECT		SUM(SLDO_A)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='A -' AND ORDEM>2
-- B
UPDATE	PDD_RPT
SET		M14 = (V/@TTL * 100.0)
FROM	(SELECT		SUM(SLDO_B)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='B -' AND ORDEM>3
-- C
UPDATE	PDD_RPT
SET		M14 = (V/@TTL * 100.0)
FROM	(SELECT		SUM(SLDO_C)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='C -' AND ORDEM>4
-- D
UPDATE	PDD_RPT
SET		M14 = (V/@TTL * 100.0)
FROM	(SELECT		SUM(SLDO_D)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='D -' AND ORDEM>5
-- E
UPDATE	PDD_RPT
SET		M14 = (V/@TTL * 100.0)
FROM	(SELECT		SUM(SLDO_E)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='E -' AND ORDEM>6
-- F
UPDATE	PDD_RPT
SET		M14 = (V/@TTL * 100.0)
FROM	(SELECT		SUM(SLDO_F)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='F -' AND ORDEM>7
-- G
UPDATE	PDD_RPT
SET		M14 = (V/@TTL * 100.0)
FROM	(SELECT		SUM(SLDO_G)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='G -' AND ORDEM>8
-- H
UPDATE	PDD_RPT
SET		M14 = (V/@TTL * 100.0)
FROM	(SELECT		SUM(SLDO_H)	AS V
			FROM	PDD_MES (NOLOCK)	) AS P
WHERE	RPT=1 AND CARTEIRA=1 AND LEFT(DESCR,3)='H -' AND ORDEM>9




END
GO


-- SELECT * FROM  PDD_MES
-- SELECT * FROM  PDD_RPT