
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

use SIG
--use SF_relatorios
go

/*
 EXEC [dbo].[RE_ESTOQUE_RELAT]  '2014-05-05','20140430'

 EXEC [dbo].[RE_ESTOQUE_RELAT]  '2014-02-27'
SELECT * FROM RE_ESTOQUE_RPT  WHERE DT_FECHA = '2014-02-27'


 EXEC [dbo].[RE_ESTOQUE_RELAT]  '2014-03-20'



SELECT * FROM RE_ESTOQUE_RPT ORDER BY DT_FECHA DESC, ORDEM_LINHA ASC

-- TTL
SELECT	DT_ENVIO,COUNT(*) AS QTD_ENVIO,SUM(VLR_ENVIO) AS VLR_ENVIO,
		SUM(RECEBIDO) AS QTD_RECEB,SUM(VLR_RECEB) AS VLR_RECEB, SUM(VLR_RECEB)/SUM(VLR_ENVIO)*100.0 AS PRC
 FROM PERFORM_SAFRA
GROUP BY DT_ENVIO ORDER BY DT_ENVIO

-- TTL  estoque
SELECT	datepart(yy,DT_ref),datepart(mm,DT_ref),COUNT(*) AS QTD_ENVIO,SUM(VLR_ENVIO) AS VLR_ENVIO,
		SUM(RECEBIDO) AS QTD_RECEB,SUM(VLR_RECEB) AS VLR_RECEB, SUM(VLR_RECEB)/SUM(VLR_ENVIO)*100.0 AS PRC
 FROM PERFORM_estoque
GROUP BY datepart(yy,DT_ref),datepart(mm,DT_ref)
-- ORDER BY DT_ENVIO

-- TTL  estoque  por COBRADORA
SELECT	datepart(yy,DT_ref),datepart(mm,DT_ref),CODACOB,
		COUNT(*) AS QTD_ENVIO,SUM(VLR_ENVIO) AS VLR_ENVIO,
		SUM(RECEBIDO) AS QTD_RECEB,SUM(VLR_RECEB) AS VLR_RECEB, SUM(VLR_RECEB)/SUM(VLR_ENVIO)*100.0 AS PRC
 FROM PERFORM_estoque
GROUP BY datepart(yy,DT_ref),datepart(mm,DT_ref),CODACOB
-- ORDER BY DT_ENVIO

-- COBRADORAS
SELECT	CODACOB,DT_ENVIO,COUNT(*) AS QTD_ENVIO,SUM(VLR_ENVIO) AS VLR_ENVIO,
		SUM(RECEBIDO) AS QTD_RECEB,SUM(VLR_RECEB) AS VLR_RECEB, SUM(VLR_RECEB)/SUM(VLR_ENVIO)*100.0 AS PRC
 FROM PERFORM_SAFRA
GROUP BY CODACOB,DT_ENVIO ORDER BY CODACOB,DT_ENVIO

SELECT * FROM PERFORM_SAFRA


*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'RE_ESTOQUE_RELAT' AND type = 'P')
   DROP PROCEDURE [dbo].[RE_ESTOQUE_RELAT]
GO


CREATE Procedure [dbo].[RE_ESTOQUE_RELAT] (@data_ref as datetime, @data_ANT AS SMALLDATETIME) AS
BEGIN





/*
DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END

*/
-- SELECT  CONVERT(CHAR(4),DATEPART(YEAR,GETDATE()))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,GETDATE()))),2)+'01'

-- APAGA PROCESSAMENTO ANTERIOR
delete  from RE_ESTOQUE_RPT 
	WHERE	 DT_FECHA = @data_ref


-- CRIA TABELA AUXILIAR
-- SELECT * INTO AUX_RATING FROM		RATING_HISTORICO	R	(NOLOCK) WHERE 1=0	-- DO MENSAL
DELETE FROM AUX_RATING
-- TRANSFERE O FECHAMENTO DO MES
INSERT AUX_RATING 
SELECT *
FROM	RATING_HISTORICO	R	(NOLOCK)	-- DO MENSAL
WHERE   DT_FECHA	= @data_ANT
-- AJUSTA A COBRADORA NO AUXILIAR
UPDATE AUX_RATING 
SET  COBRADORA= COBR
FROM ( SELECT	LCNROPER, LCNRPARC, MAX(LCCODACOB) AS COBR
	-- SELECT TOP 100 *
FROM GESTORCOB..ELCCB E (NOLOCK)
WHERE   LCDTVAL <= @data_ANT   -- ENVIO  PARA COBRADORA  ATEH A DTA DE REF (FECHAMENTO)
-- ULTIMO ENVIO
AND LCCNTRL = (SELECT	 MAX(LCCNTRL) 
					FROM GESTORCOB..ELCCB E1 (NOLOCK)
					WHERE  E1.LCDTVAL <= @data_ANT
						AND	E1.LCNROPER = E.LCNROPER
						AND	E1.LCNRPARC = E.LCNRPARC)
-- SEM PAGAMENTO   AND LCCODMOVR <> 2 -- PAGO
AND LCDTVCTO <= DATEADD(D,-5,@data_ANT) -- VENCIDO ANTES DA DTA DE ENVIO  -- 5D
GROUP BY LCNROPER, LCNRPARC ) as cobranca
where cobranca.lcnroper= num_ope
and	cobranca.lcnrparc=parc



-- CARREGA TABELA RESULTADO  
/*

SP_HELP RE_ESTOQUE_RPT
DROP TABLE RE_ESTOQUE_RPT
CREATE TABLE RE_ESTOQUE_RPT (
		DT_FECHA	smalldatetime,
		AGENTE		varchar	(6),
		COBRADORA	varchar(6),
		ORDEM_LINHA	int	,
		FORMATO		varchar	(6),
		DESCRICAO	varchar	(50),
		EC_QTDE		float	,
		EC_SALDO	float	,
		EP_QTDE		float	,
		EP_SALDO	float	,
		RC_QTDE		float	,
		RC_SALDO	float	,
		PRCC_REC	float,
		RP_QTDE		float,
		RP_SALDO	float,
		PRCP_REC	float
	 )

*/

-- CARREGA DADOS ATUAIS
-- INSERE LINHAS ZERADAS E DEPOIS UPDATE
-- 1A LINHA
INSERT	RE_ESTOQUE_RPT
	(	
		DT_FECHA	, --smalldatetime,
		AGENTE		, --varchar	(6),
		COBRADORA	, --varchar(6),
		ORDEM_LINHA	, --int	,
		FORMATO		, --varchar	(6),
		DESCRICAO	, --varchar	(50),
		EC_QTDE		, -- float
		EC_SALDO	,
		EP_QTDE		,
		EP_SALDO	,
		RC_QTDE		,
		RC_SALDO	,
		PRCC_REC	,
		RP_QTDE		,
		RP_SALDO	,
		PRCP_REC	
)
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		1,  -- SALDO ANTERIOR
		'',	-- FORMATO
		'A- 0 A 15' ,		-- DESCRICAO
			-- QTDE
			-- SALDO
		-- OUTRAS FAIXAS
		COUNT(*), SUM(SLD_INSCRITO),	-- ESTOQUE
		0.0, 0.0,	-- PARC ESTOQ
		0.0, 0.0,	-- CONTR RECUP
		0.0,		-- %SLD
		0.0, 0.0,	-- PARC RECUP
		0.0			-- PRC PARC
FROM
		AUX_RATING	R	(NOLOCK)	-- DO MENSAL
where		R.DT_FECHA = @data_ANT			-- DO FECHAMENTO DA PDD
			--RE_ESTOQUE_RPT =@data_ref	-- DATA DIARIO/ATUAL DO RELATORIO
		AND NVL_RISCO = 'A'
GROUP BY 	AGENTE,
			COBRADORA




-- 2A LINHA
INSERT	RE_ESTOQUE_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		2,  -- SALDO ANTERIOR
		'',	-- FORMATO
		'B- 16 A 30' ,		-- DESCRICAO
			-- QTDE			-- SALDO
		COUNT(*), SUM(SLD_INSCRITO),	-- ESTOQUE
		0.0, 0.0,	-- PARC ESTOQ
		0.0, 0.0,	-- CONTR RECUP
		0.0,		-- %SLD
		0.0, 0.0,	-- PARC RECUP
		0.0			-- PRC PARC
FROM
		AUX_RATING	R	(NOLOCK)	
where		DT_FECHA = @data_ANT			-- DO FECHAMENTO DA PDD
			--RE_ESTOQUE_RPT =@data_ref	-- DATA DIARIO/ATUAL DO RELATORIO
		AND NVL_RISCO = 'B'
GROUP BY 	AGENTE,
			COBRADORA

-- 3A LINHA
INSERT	RE_ESTOQUE_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		3,  -- SALDO ANTERIOR
		'',	-- FORMATO
		'C- 31 A 60' ,		-- DESCRICAO
			-- QTDE			-- SALDO
		COUNT(*), SUM(SLD_INSCRITO),	-- ESTOQUE
		0.0, 0.0,	-- PARC ESTOQ
		0.0, 0.0,	-- CONTR RECUP
		0.0,		-- %SLD
		0.0, 0.0,	-- PARC RECUP
		0.0			-- PRC PARC

FROM
		AUX_RATING	R	(NOLOCK)	
where		DT_FECHA = @data_ANT			-- DO FECHAMENTO DA PDD
			--RE_ESTOQUE_RPT =@data_ref	-- DATA DIARIO/ATUAL DO RELATORIO
		AND NVL_RISCO = 'C'
GROUP BY 	AGENTE,
			COBRADORA

-- 4A LINHA
INSERT	RE_ESTOQUE_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		4,  -- SALDO ANTERIOR
		'',	-- FORMATO
		'D- 61 A 90' ,		-- DESCRICAO
			-- QTDE			-- SALDO
		COUNT(*), SUM(SLD_INSCRITO),	-- ESTOQUE
		0.0, 0.0,	-- PARC ESTOQ
		0.0, 0.0,	-- CONTR RECUP
		0.0,		-- %SLD
		0.0, 0.0,	-- PARC RECUP
		0.0			-- PRC PARC

FROM
		AUX_RATING	R	(NOLOCK)	
where		DT_FECHA = @data_ANT			-- DO FECHAMENTO DA PDD
		AND NVL_RISCO = 'D'
GROUP BY 	AGENTE,
			COBRADORA

-- 5A LINHA
INSERT	RE_ESTOQUE_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		5,  -- SALDO ANTERIOR
		'',	-- FORMATO
		'E- 91 A 120' ,		-- DESCRICAO
			-- QTDE			-- SALDO
		COUNT(*), SUM(SLD_INSCRITO),	-- ESTOQUE
		0.0, 0.0,	-- PARC ESTOQ
		0.0, 0.0,	-- CONTR RECUP
		0.0,		-- %SLD
		0.0, 0.0,	-- PARC RECUP
		0.0			-- PRC PARC

FROM
		AUX_RATING	R	(NOLOCK)	
where		DT_FECHA = @data_ANT			-- DO FECHAMENTO DA PDD
		AND NVL_RISCO = 'E'
GROUP BY 	AGENTE,
			COBRADORA

-- 6A LINHA
INSERT	RE_ESTOQUE_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		6,  -- SALDO ANTERIOR
		'',	-- FORMATO
		'F- 121 A 150' ,		-- DESCRICAO
			-- QTDE			-- SALDO
		COUNT(*), SUM(SLD_INSCRITO),	-- ESTOQUE
		0.0, 0.0,	-- PARC ESTOQ
		0.0, 0.0,	-- CONTR RECUP
		0.0,		-- %SLD
		0.0, 0.0,	-- PARC RECUP
		0.0			-- PRC PARC

FROM
		AUX_RATING	R	(NOLOCK)	
where		DT_FECHA = @data_ANT			-- DO FECHAMENTO DA PDD
		AND NVL_RISCO = 'F'
GROUP BY 	AGENTE,
			COBRADORA

-- 7A LINHA
INSERT	RE_ESTOQUE_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		7,  -- SALDO ANTERIOR
		'',	-- FORMATO
		'G- 151 A 180' ,		-- DESCRICAO
			-- QTDE			-- SALDO
		COUNT(*), SUM(SLD_INSCRITO),	-- ESTOQUE
		0.0, 0.0,	-- PARC ESTOQ
		0.0, 0.0,	-- CONTR RECUP
		0.0,		-- %SLD
		0.0, 0.0,	-- PARC RECUP
		0.0			-- PRC PARC

FROM
		AUX_RATING	R	(NOLOCK)	
where		DT_FECHA = @data_ANT			-- DO FECHAMENTO DA PDD
		AND NVL_RISCO = 'G'
GROUP BY 	AGENTE,
			COBRADORA

-- 8A LINHA
INSERT	RE_ESTOQUE_RPT

-- DECLARE @data_ANT SMALLDATETIME SET @data_ANT ='2014-01-31'  DECLARE @data_REF SMALLDATETIME SET @data_REF ='2014-02-27' 
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		8,  -- SALDO ANTERIOR
		'',	-- FORMATO
		'H- 181 A 360' ,		-- DESCRICAO
			-- QTDE			-- SALDO
		COUNT(*), SUM(SLD_INSCRITO),	-- ESTOQUE
		0.0, 0.0,	-- PARC ESTOQ
		0.0, 0.0,	-- CONTR RECUP
		0.0,		-- %SLD
		0.0, 0.0,	-- PARC RECUP
		0.0			-- PRC PARC

-- DECLARE @data_ANT SMALLDATETIME SET @data_ANT ='2014-01-31' SELECT AGENTE,COBRADORA,COUNT(*)
FROM
		AUX_RATING	R	(NOLOCK)	
where		DT_FECHA = @data_ANT			-- DO FECHAMENTO DA PDD
		AND NVL_RISCO = 'H'
GROUP BY 	AGENTE,
			COBRADORA

-- CRIA TABELA AUX PARA PARCELAS
-- SELECT * INTO AUX_RATING_PARC FROM	RATING_HISTORICO_PARC WHERE 1=0
-- CREATE INDEX AUX_RATING_PARC_IDX1 ON AUX_RATING_PARC (DT_FECHA,NVL_RISCO,AGENTE,COBRADORA,PANROPER,PANRPARC)
DELETE AUX_RATING_PARC
INSERT AUX_RATING_PARC
SELECT * FROM RATING_HISTORICO_PARC WHERE DT_FECHA=@data_ANT
-- select * from AUX_RATING_PARC
-- AJUSTA A COBRADORA NO AUXILIAR
UPDATE AUX_RATING_PARC 
SET  COBRADORA= COBR
FROM ( SELECT	LCNROPER, LCNRPARC, MAX(LCCODACOB) AS COBR
	-- SELECT TOP 100 *
FROM GESTORCOB..ELCCB E (NOLOCK)
WHERE   LCDTVAL <= @data_ANT   -- ENVIO  PARA COBRADORA  ATEH A DTA DE REF (FECHAMENTO)
-- ULTIMO ENVIO
AND LCCNTRL = (SELECT	 MAX(LCCNTRL) 
					FROM GESTORCOB..ELCCB E1 (NOLOCK)
					WHERE  E1.LCDTVAL <= @data_ANT
						AND	E1.LCNROPER = E.LCNROPER
						AND	E1.LCNRPARC = E.LCNRPARC)
-- SEM PAGAMENTO   AND LCCODMOVR <> 2 -- PAGO
AND LCDTVCTO <= DATEADD(D,-5,@data_ANT) -- VENCIDO ANTES DA DTA DE ENVIO  -- 5D
GROUP BY LCNROPER, LCNRPARC ) as cobranca
where cobranca.lcnroper= panroper
and	cobranca.lcnrparc=panrparc


-- PARCELAS ESTOQUE ******************************************** 
-- SELECT * FROM	RATING_HISTORICO_PARC
-- NIVEL A
-- SP_HELP RE_ESTOQUE_RPT
UPDATE	RE_ESTOQUE_RPT
SET		EP_QTDE = QTDE, 
		EP_SALDO= SALDO
FROM
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM	AUX_RATING_PARC	R	(NOLOCK)	
	where		DT_FECHA = @data_ANT	-- DO FECHAMENTO DA PDD
			AND NVL_RISCO = 'A'			-- NIVEL A
	GROUP BY 	AGENTE,
				COBRADORA ) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 1			-- LINHA 1	FX A
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA

/*
	SELECT *
		FROM	RATING_HISTORICO_PARC	R	(NOLOCK)	
	where		DT_FECHA = '2014-01-31'	-- DO FECHAMENTO DA PDD
			AND NVL_RISCO = 'A'			-- NIVEL A

	SELECT *
		FROM	RATING_RECUPERA_PARC	R	(NOLOCK)	
	where		DT_FECHA = '2014-02-27'	-- DO FECHAMENTO DA PDD
			AND NVL_RISCO = 'A'			-- NIVEL A

select * from AUX_RATING_PARC

*/
-- NIVEL B
UPDATE	RE_ESTOQUE_RPT
SET		EP_QTDE = QTDE, 
		EP_SALDO= SALDO
FROM
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM	AUX_RATING_PARC	R	(NOLOCK)	
		where		DT_FECHA = @data_ANT	-- DO FECHAMENTO DA PDD
				AND NVL_RISCO = 'B'			-- NIVEL B
		GROUP BY 	AGENTE,
					COBRADORA   ) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 2			-- LINHA 2
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA
-- NIVEL C
UPDATE	RE_ESTOQUE_RPT
SET		EP_QTDE = QTDE, 
		EP_SALDO= SALDO
FROM
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM	AUX_RATING_PARC	R	(NOLOCK)	
		where		DT_FECHA = @data_ANT	-- DO FECHAMENTO DA PDD
				AND NVL_RISCO = 'C'			-- NIVEL C
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 3			-- LINHA 3
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL D
UPDATE	RE_ESTOQUE_RPT
SET		EP_QTDE = QTDE, 
		EP_SALDO= SALDO
FROM
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM	AUX_RATING_PARC	R	(NOLOCK)	
		where		DT_FECHA = @data_ANT	-- DO FECHAMENTO DA PDD
				AND NVL_RISCO = 'D'			-- NIVEL D
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 4			-- LINHA 4
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL E
UPDATE	RE_ESTOQUE_RPT
SET		EP_QTDE = QTDE, 
		EP_SALDO= SALDO
FROM
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM	AUX_RATING_PARC	R	(NOLOCK)	
		where		DT_FECHA = @data_ANT	-- DO FECHAMENTO DA PDD
				AND NVL_RISCO = 'E'			-- NIVEL E
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 5			-- LINHA 5
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL F
UPDATE	RE_ESTOQUE_RPT
SET		EP_QTDE = QTDE, 
		EP_SALDO= SALDO
FROM
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM		AUX_RATING_PARC	R	(NOLOCK)	
		where		DT_FECHA = @data_ANT	-- DO FECHAMENTO DA PDD
				AND NVL_RISCO = 'F'			-- NIVEL F
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 6			-- LINHA 6
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL G
UPDATE	RE_ESTOQUE_RPT
SET		EP_QTDE = QTDE, 
		EP_SALDO= SALDO
FROM
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM		AUX_RATING_PARC	R	(NOLOCK)	
		where		DT_FECHA = @data_ANT	-- DO FECHAMENTO DA PDD
				AND NVL_RISCO = 'G'			-- NIVEL G
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 7			-- LINHA 7
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL H
UPDATE	RE_ESTOQUE_RPT
SET		EP_QTDE = QTDE, 
		EP_SALDO= SALDO
FROM
	(SELECT AGENTE,  COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM		AUX_RATING_PARC	R	(NOLOCK)	
		where		DT_FECHA = @data_ANT	-- DO FECHAMENTO DA PDD
				AND NVL_RISCO = 'H'			-- NIVEL H
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 8			-- LINHA 8
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA

-- FIM ESTOQUE PARC ******************* ATIVO

-- RECUPERA CONTRATOS ********************************************
-- NIVEL A
-- SP_HELP RE_ESTOQUE_RPT
-- RATING_RECUPERA E _PARC
UPDATE	RE_ESTOQUE_RPT
SET		RC_QTDE = QTDE, 
		RC_SALDO= SALDO
FROM
	(SELECT AGENTE,  COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM		RATING_RECUPERA	R	(NOLOCK)	
		where		DT_FECHA = @data_ref	-- MES CORRENTE
				AND NVL_RISCO = 'A'			-- NIVEL A
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 1			-- LINHA 1
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA

-- NIVEL B
UPDATE	RE_ESTOQUE_RPT
SET		RC_QTDE = QTDE, 
		RC_SALDO= SALDO
FROM
	(SELECT AGENTE,  COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM	RATING_RECUPERA	R	(NOLOCK)	
		where		DT_FECHA = @data_ref	-- MES CORRENTE
				AND NVL_RISCO = 'B'			-- NIVEL B
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 2			-- LINHA 2
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL C
UPDATE	RE_ESTOQUE_RPT
SET		RC_QTDE = QTDE, 
		RC_SALDO= SALDO
FROM
	(SELECT AGENTE,  COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM		RATING_RECUPERA	R	(NOLOCK)	
		where		DT_FECHA = @data_ref	-- MES CORRENTE
				AND NVL_RISCO = 'C'			-- NIVEL C
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 3			-- LINHA 3
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL D
UPDATE	RE_ESTOQUE_RPT
SET		RC_QTDE = QTDE, 
		RC_SALDO= SALDO
FROM
	(SELECT AGENTE,  COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM 		RATING_RECUPERA	R	(NOLOCK)	
		where		DT_FECHA = @data_ref	-- MES CORRENTE
				AND NVL_RISCO = 'D'			-- NIVEL D
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 4			-- LINHA 4
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL E
UPDATE	RE_ESTOQUE_RPT
SET		RC_QTDE = QTDE, 
		RC_SALDO= SALDO
FROM
	(SELECT AGENTE,  COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM		RATING_RECUPERA	R	(NOLOCK)	
		where		DT_FECHA = @data_ref	-- MES CORRENTE
				AND NVL_RISCO = 'E'			-- NIVEL E
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 5			-- LINHA 5
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL F
UPDATE	RE_ESTOQUE_RPT
SET		RC_QTDE = QTDE, 
		RC_SALDO= SALDO
FROM
	(SELECT AGENTE,  COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM
				RATING_RECUPERA	R	(NOLOCK)	
		where		DT_FECHA = @data_ref	-- MES CORRENTE
				AND NVL_RISCO = 'F'			-- NIVEL F
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 6			-- LINHA 6
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL G
UPDATE	RE_ESTOQUE_RPT
SET		RC_QTDE = QTDE, 
		RC_SALDO= SALDO
FROM
	(SELECT AGENTE,  COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM		RATING_RECUPERA	R	(NOLOCK)	
		where		DT_FECHA = @data_ref	-- MES CORRENTE
				AND NVL_RISCO = 'G'			-- NIVEL G
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 7			-- LINHA 7
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL H
UPDATE	RE_ESTOQUE_RPT
SET		RC_QTDE = QTDE, 
		RC_SALDO= SALDO
FROM
	(SELECT AGENTE,  COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM		RATING_RECUPERA	R	(NOLOCK)	
		where		DT_FECHA = @data_ref	-- MES CORRENTE
				AND NVL_RISCO = 'H'			-- NIVEL H
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 8			-- LINHA 8
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA

-- FIM RECUPERA CONTRATO *******************



-- RECUPERA PARCELAS  ******************************************** 
-- NIVEL A
-- SP_HELP RE_ESTOQUE_RPT
UPDATE	RE_ESTOQUE_RPT
SET		RP_QTDE = QTDE, 
		RP_SALDO= SALDO
FROM
-- SP_HELP  RATING_RECUPERA_PARC
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(PAPMT) SALDO
		FROM	RATING_RECUPERA_PARC	R	(NOLOCK)	
	where		DT_FECHA = @data_ref	-- MES CORRENTE
			AND NVL_RISCO = 'A'			-- NIVEL A
	GROUP BY 	AGENTE,
				COBRADORA ) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 1			-- LINHA 1	FX A
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA

-- NIVEL B
UPDATE	RE_ESTOQUE_RPT
SET		RP_QTDE = QTDE, 
		RP_SALDO= SALDO
FROM
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(PAPMT) SALDO
		FROM	RATING_RECUPERA_PARC	R	(NOLOCK)	
		where		DT_FECHA = @data_ref	-- MES CORRENTE
				AND NVL_RISCO = 'B'			-- NIVEL B
		GROUP BY 	AGENTE,
					COBRADORA   ) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 2			-- LINHA 2
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA
-- NIVEL C
UPDATE	RE_ESTOQUE_RPT
SET		RP_QTDE = QTDE, 
		RP_SALDO= SALDO
FROM
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(PAPMT) SALDO
		FROM	RATING_RECUPERA_PARC	R	(NOLOCK)	
		where		DT_FECHA = @data_ref	-- MES CORRENTE
				AND NVL_RISCO = 'C'			-- NIVEL C
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 3			-- LINHA 3
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL D
UPDATE	RE_ESTOQUE_RPT
SET		RP_QTDE = QTDE, 
		RP_SALDO= SALDO
FROM
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(PAPMT) SALDO
		FROM	RATING_RECUPERA_PARC	R	(NOLOCK)	
		where		DT_FECHA = @data_ref	-- MES CORRENTE
				AND NVL_RISCO = 'D'			-- NIVEL D
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 4			-- LINHA 4
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL E
UPDATE	RE_ESTOQUE_RPT
SET		RP_QTDE = QTDE, 
		RP_SALDO= SALDO
FROM
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(PAPMT) SALDO
		FROM	RATING_RECUPERA_PARC	R	(NOLOCK)	
		where		DT_FECHA = @data_ref	-- MES CORRENTE
				AND NVL_RISCO = 'E'			-- NIVEL E
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 5			-- LINHA 5
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL F
UPDATE	RE_ESTOQUE_RPT
SET		RP_QTDE = QTDE, 
		RP_SALDO= SALDO
FROM
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(PAPMT) SALDO
		FROM		RATING_RECUPERA_PARC	R	(NOLOCK)	
		where		DT_FECHA = @data_ref	-- MES CORRENTE
				AND NVL_RISCO = 'F'			-- NIVEL F
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 6			-- LINHA 6
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL G
UPDATE	RE_ESTOQUE_RPT
SET		RP_QTDE = QTDE, 
		RP_SALDO= SALDO
FROM
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(PAPMT) SALDO
		FROM		RATING_RECUPERA_PARC	R	(NOLOCK)	
		where		DT_FECHA = @data_ref	-- MES CORRENTE
				AND NVL_RISCO = 'G'			-- NIVEL G
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 7			-- LINHA 7
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA


-- NIVEL H
UPDATE	RE_ESTOQUE_RPT
SET		RP_QTDE = QTDE, 
		RP_SALDO= SALDO
FROM
	(SELECT AGENTE,  COBRADORA,
			COUNT(*) QTDE, 
			SUM(PAPMT) SALDO
		FROM		RATING_RECUPERA_PARC	R	(NOLOCK)	
		where		DT_FECHA = @data_ref	-- MES CORRENTE
				AND NVL_RISCO = 'H'			-- NIVEL H
		GROUP BY 	AGENTE,
					COBRADORA) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 8			-- LINHA 8
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA

-- FIM RECUPERA PARC ******************* ATIVO

/*
SELECT	@data_ref,
		AGENTE,
		COBRADORA,
		1,  -- SALDO ANTERIOR
		'',	-- FORMATO
		'SALDO INICIAL' ,		-- DESCRICAO
		IsNULL(SUM(QTDE),0),	-- QTDE
		ISNULL(SUM(SALDO),0.0),	-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		IsNULL(SUM(QTDE),0),	-- QTDE
		ISNULL(SUM(SALDO),0.0)	-- SALDO
FROM
		RR_ROLLRATE	R	(NOLOCK)	
where	DT_FECHA = @data_ANT  -- FINAL DO MES ANTERIOR = INICIAL DESTE MES
	AND	ORDEM_LINHA = 5       -- LINHA DE SALDO FINAL	
 -- MES CORRENTE JA CALCULADO
	AND	RATING   = 'A'
GROUP	BY R.AGENTE, R.COBRADORA
*/


-- ATUALIZAR O RELATORIO COM AS QTDES E SALDOS POR FAIXA DE ATRASO
-- FAIXA AA
/*
UPDATE	RE_ESTOQUE_RPT
SET		AA_QTDE = R.QTDE,	--	FLOAT
		AA_SALDO= R.SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE_123	R (NOLOCK) 
WHERE	R.DT_FECHA = @data_ref
	AND	RE_ESTOQUE_RPT.DT_FECHA = @data_ref
	AND	R.RATING='AA'
	AND R.AGENTE     = RE_ESTOQUE_RPT.AGENTE
	AND	R.COBRADORA  = RE_ESTOQUE_RPT.COBRADORA
	AND R.ORDEM_LINHA= RE_ESTOQUE_RPT.ORDEM_LINHA
*/

/*
SELECT R.QTDE,R.SALDO
FROM	(SELECT		* 
			FROM 	RR_ROLLRATE	R	(NOLOCK)	
			where	DT_FECHA = '2013-12-31'
			AND		RATING='A') AS R  -- MES CORRENTE
JOIN	(SELECT		*
			FROM 	RE_ESTOQUE_RPT	R	(NOLOCK)	
			where	DT_FECHA = '2013-12-31') AS RPT  -- MES CORRENTE
ON		R.DT_FECHA = RPT.DT_FECHA
	AND R.AGENTE   = RPT.AGENTE
	AND	R.COBRADORA= RPT.COBRADORA
	AND R.ORDEM_LINHA= RPT.ORDEM_LINHA

where	DT_FECHA = @data_ref  -- MES CORRENTE
*/

-- SELECT IF(0=1,'V','F')
-- SELECT 10/0
-- **********************************
-- CALCULA OS %
-- % RECUPERACAO / ESTOQUE

/*
-- % ROLAGEM / SALDO INICIAL
UPDATE	RE_ESTOQUE_RPT
SET		
		A_QTDE = ISNULL( ROLA.A_QTDE /NULLIF(ESTOQUE.A_QTDE,0.0)  ,0.0),	--	FLOAT
		A_SALDO= ISNULL( ROLA.A_SALDO/NULLIF(ESTOQUE.A_SALDO,0.0) ,0.0),
		B_QTDE = ISNULL( ROLA.B_QTDE /NULLIF(ESTOQUE.B_QTDE,0.0)  ,0.0),	--	FLOAT
		B_SALDO= ISNULL( ROLA.B_SALDO/NULLIF(ESTOQUE.B_SALDO,0.0) ,0.0),
		C_QTDE = ISNULL( ROLA.C_QTDE /NULLIF(ESTOQUE.C_QTDE,0.0)  ,0.0),	--	FLOAT
		C_SALDO= ISNULL( ROLA.C_SALDO/NULLIF(ESTOQUE.C_SALDO,0.0) ,0.0),
		D_QTDE = ISNULL( ROLA.D_QTDE /NULLIF(ESTOQUE.D_QTDE,0.0)  ,0.0),	--	FLOAT
		D_SALDO= ISNULL( ROLA.D_SALDO/NULLIF(ESTOQUE.D_SALDO,0.0) ,0.0),
		E_QTDE = ISNULL( ROLA.E_QTDE /NULLIF(ESTOQUE.E_QTDE ,0.0) ,0.0),	--	FLOAT
		E_SALDO= ISNULL( ROLA.E_SALDO/NULLIF(ESTOQUE.E_SALDO,0.0) ,0.0),
		F_QTDE = ISNULL( ROLA.F_QTDE /NULLIF(ESTOQUE.F_QTDE ,0.0) ,0.0),	--	FLOAT
		F_SALDO= ISNULL( ROLA.F_SALDO/NULLIF(ESTOQUE.F_SALDO,0.0) ,0.0),
		G_QTDE = ISNULL( ROLA.G_QTDE /NULLIF(ESTOQUE.G_QTDE ,0.0) ,0.0),	--	FLOAT
		G_SALDO= ISNULL( ROLA.G_SALDO/NULLIF(ESTOQUE.G_SALDO,0.0) ,0.0),
		H_QTDE = ISNULL( ROLA.H_QTDE /NULLIF(ESTOQUE.H_QTDE ,0.0) ,0.0),	--	FLOAT
		H_SALDO= ISNULL( ROLA.H_SALDO/NULLIF(ESTOQUE.H_SALDO,0.0) ,0.0),
		HH_QTDE = ISNULL( ROLA.HH_QTDE /NULLIF(ESTOQUE.HH_QTDE ,0.0) ,0.0),	--	FLOAT
		HH_SALDO= ISNULL( ROLA.HH_SALDO/NULLIF(ESTOQUE.HH_SALDO,0.0) ,0.0),
		TTL_QTDE  = 0.0,
		TTL_SALDO = 0.0
FROM	(SELECT		* 
			FROM	RE_ESTOQUE_RPT R1	(NOLOCK) 
			WHERE	R1.DT_FECHA		= @data_ref
				AND	R1.ORDEM_LINHA	= 4	) AS ROLA, -- ROLA
		(SELECT		* 
			FROM	RE_ESTOQUE_RPT R2	(NOLOCK) 
			WHERE	R2.DT_FECHA		= @data_ref
				AND	R2.ORDEM_LINHA	= 1	) AS ESTOQUE -- SALDO INICIAL
	
WHERE	RE_ESTOQUE_RPT.DT_FECHA = @data_ref
	AND RE_ESTOQUE_RPT.ORDEM_LINHA=7	-- % ROLA/ESTOQUE
	AND ROLA.AGENTE     = RE_ESTOQUE_RPT.AGENTE	-- QUEBRAS
	AND	ROLA.COBRADORA  = RE_ESTOQUE_RPT.COBRADORA
	AND ESTOQUE.AGENTE   = RE_ESTOQUE_RPT.AGENTE
	AND	ESTOQUE.COBRADORA= RE_ESTOQUE_RPT.COBRADORA
*/



/*
-- TOTAL *********************************
-- 9A LINHA   -- P1
-- SP_HELP RE_ESTOQUE_RPT
INSERT	RE_ESTOQUE_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		9,  -- TTL  LINHA 9
		'',	-- FORMATO
		'TTL ATIVO TOTAL' ,		-- DESCRICAO
			-- QTDE			-- SALDO
		COUNT(*), SUM(SLD_INSCRITO),	-- P1
		0.0, 0.0,	-- P2
		0.0, 0.0,	-- P3
		COUNT(*), SUM(SLD_INSCRITO),	-- TTL
		0.0, 0.0	-- PRC
FROM
		RR_PRJ_CONTRATO_2M	R	(NOLOCK)	
where		DT_FECHA = @data_ref	-- MES CORRENTE
		AND PARC = 1				-- PARCELA 1
		AND NVL_RISCO IN ('A','B','C','D','E','F','G','H')
GROUP BY 	AGENTE,
			COBRADORA
-- TTL ATIVO   P2
UPDATE	RE_ESTOQUE_RPT
SET		P2_QTDE = QTDE, 
		P2_SALDO= SALDO,
		TTL_QTDE= TTL_QTDE + QTDE, 
		TTL_SALDO= TTL_SALDO + SALDO	-- TTL
FROM
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM	RR_PRJ_CONTRATO_2M	R	(NOLOCK)	
	where		DT_FECHA = @data_ref	-- MES CORRENTE
			AND PARC = 2				-- PARCELA 2
			AND NVL_RISCO IN ('A','B','C','D','E','F','G','H')
	GROUP BY 	AGENTE,
				COBRADORA ) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 9			-- LINHA 9 TTL
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA

-- TTL ATIVO   P3
UPDATE	RE_ESTOQUE_RPT
SET		RC_QTDE = QTDE, 
		RC_SALDO= SALDO,
		TTL_QTDE= TTL_QTDE + QTDE, 
		TTL_SALDO= TTL_SALDO + SALDO	-- TTL
FROM
	(SELECT AGENTE,
			COBRADORA,
			COUNT(*) QTDE, 
			SUM(SLD_INSCRITO) SALDO
		FROM	RR_PRJ_CONTRATO_2M	R	(NOLOCK)	
	where		DT_FECHA = @data_ref	-- MES CORRENTE
			AND PARC = 3				-- PARCELA 3
			AND NVL_RISCO IN ('A','B','C','D','E','F','G','H')
	GROUP BY 	AGENTE,
				COBRADORA ) as R
	where		RE_ESTOQUE_RPT.DT_FECHA = @data_ref	-- MES CORRENTE
			AND RE_ESTOQUE_RPT.ORDEM_LINHA = 9			-- LINHA 9 TTL
			AND RE_ESTOQUE_RPT.AGENTE= R.AGENTE
			AND	RE_ESTOQUE_RPT.COBRADORA = R.COBRADORA

*/

-- % CONTRATOS VARIA RECUPERA / ESTOQUE

UPDATE	RE_ESTOQUE_RPT
SET		
		PRCC_REC = ISNULL( (RC_SALDO) /NULLIF(EC_SALDO,0.0)  ,0.0) * 100.0,	--	FLOAT
		PRCP_REC = ISNULL( (RP_SALDO) /NULLIF(EP_SALDO,0.0)  ,0.0) * 100.0
WHERE	RE_ESTOQUE_RPT.DT_FECHA = @data_ref


END
GO


-- SELECT * FROM 