
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
--use SF_relatorios
go
-- EXEC [dbo].[RE_ESTOQUE_RECUPERA] '2014-03-20','2014-02-28','2014-03-01','2014-03-20'
-- EXEC [dbo].[RE_ESTOQUE_RECUPERA] '2014-02-27','2014-01-31','2014-02-01','2014-02-27'
-- EXEC [dbo].[RE_ESTOQUE_RECUPERA] '2014-05-03','2014-03-31','2014-05-01','2014-05-03'

-- SELECT * FROM AUX_PARC
-- 4565
-- SELECT * FROM RATING_HISTORICO WHERE DT_FECHA='2014-01-31' 
-- SELECT DISTINCT * FROM RATING_RECUPERA_PARC WHERE DT_FECHA='2014-02-27'   --AND NVL_RISCO='A'
-- SELECT DISTINCT * FROM RATING_RECUPERA WHERE DT_FECHA='2014-02-27'   --AND NVL_RISCO='A'


-- 3593
-- SELECT * FROM RATING_RECUPERA WHERE DT_FECHA='2014-02-27' AND NVL_RISCO_ant='A'
-- DELETE FROM RATING_RECUPERA

-- 729
-- SELECT DISTINCT * FROM RATING_RECUPERA_PARC WHERE DT_FECHA='2014-02-27' AND NVL_RISCO='B'
-- 714
-- SELECT DISTINCT * FROM RATING_RECUPERA WHERE DT_FECHA='2014-02-27' AND NVL_RISCO='B'


-- SELECT * FROM RATING_HISTORICO WHERE DT_FECHA='2014-01-31' AND NVL_RISCO_ant='A'

-- SELECT * FROM RATING_RECUPERA WHERE DT_FECHA='2014-02-27' AND NVL_RISCO='AA'

-- SELECT * FROM RATING_RECUPERA WHERE DT_FECHA='2014-02-27' AND NVL_RISCO='B'
-- SELECT DATEDIFF(DD, '2014-02-06','2014-02-27')
-- SELECT * FROM CDCSANTANAMicroCredito..CPARC P (NOLOCK) WHERE PANROPER='89313022'
-- SELECT * FROM CDCSANTANAMicroCredito..CPARC P (NOLOCK) WHERE PANROPER='89313022'

-- 25-33 SEG CARGA
-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

-- EXEC [dbo].[RR_RATING_RECUPERA] '2014-03-20','2014-02-28','2014-03-01','2014-03-20'
-- Select * from RATING_RECUPERA

-- HOMOLOG
-- EXEC [dbo].[RR_RATING_RECUPERA] '2013-12-10','2013-11-31','2013-12-01','2013-12-10'
-- SELECT DTPGTO,* FROM RATING_RECUPERA  -- SEM PGTO

-- SELECT * from rating_historico
-- SELECT * FROM RATING_RECUPERA WHERE ATRASO>4

-- EXEC [dbo].[RR_RATING_RECUPERA] '2014-01-08','2014-01-01','2014-01-08'
-- SELECT DTPGTO,* FROM RATING_RECUPERA  -- SEM PGTO

-- PROD
-- EXEC [dbo].[RR_RATING_RECUPERA] '2014-04-09','2014-03-31','2014-04-09'

-- DROP PROCEDURE   [dbo].[RR_RATING_RECUPERA]


-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'RE_ESTOQUE_RECUPERA' AND type = 'P')
   DROP PROCEDURE [dbo].[RE_ESTOQUE_RECUPERA] 
GO

-- APAGA PROCESSAMENTO ANTERIOR
-- delete * from RATING_RECUPERA where dt_ref = datepart(month,data_ref)
-- EXEC [RR_RATING_RECUPERA] '2014-04-09','2014-03-28','2014-03-01','2014-03-28'
-- EXEC [RR_RATING_RECUPERA] '2014-03-20','2014-02-28','2014-03-01','2014-03-20'
-- SELECT * 	FROM RATING_RECUPERA WHERE 


CREATE Procedure [dbo].[RE_ESTOQUE_RECUPERA] 
 (@DTREF  SMALLDATETIME,  
 @DTFECHA SMALLDATETIME,    -- PDD
 @DTINI SMALLDATETIME,  
 @DTFIM SMALLDATETIME  )	AS  

BEGIN

-- SELECT * INTO RATING_RECUPERA FROM RATING_RECUPERA WHERE 1=0
-- DELETE FROM RATING_RECUPERA_PARC
-- SP_HELP RATING_RECUPERA
-- LIMPA O PROCESSO ANTERIOR
DELETE FROM RATING_RECUPERA WHERE DT_FECHA =@DTREF

-- COPIA O ULTIMO FECHAMENTO PDD
-- DECLARE @DTFECHA SMALLDATETIME SET @DTFECHA='2014-03-31'  DECLARE @DTreF SMALLDATETIME SET @DTREF='2014-05-03'
INSERT RATING_RECUPERA
SELECT  DT_REF,NUM_OPE,DT_BASE,NVL_RISCO,
		NOM_CLI,DT_VCTO1,SLD_INSCRITO,VLR_PRINC,
		VL_JUROS,TX_RAP,RRF_JR,VLR_FV,
		PERC_PDD, VLR_PDD,ATRASO,PARC,DTVENCPARC,
		AGENTE,COBRADORA,
		@DTREF AS DT_FECHA,  -- FECHAMENTO RECEBE DTREF DO PROCESSAMENTO
		DT_VCTO1P, CODCLI,CODPROD
	FROM RATING_HISTORICO	R (NOLOCK)
	WHERE DT_FECHA =@DTFECHA


-- ZERA OS DADOS PARA PROJETAR


-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2013-12-10'
/*

UPDATE	RATING_RECUPERA
SET		DT_FECHA=@DTREF
WHERE   DT_FECHA =@DTFECHA

UPDATE	RATING_RECUPERA
SET		DT_FECHA=@DTREF,
		ATRASO = NULL, PARC=0, DTVENCPARC = NULL
*/
-- LIMPA AUX
-- 10100 EM ATRASO
-- SELECT * FROM AUX_PARC WHERE PADTLIQ IS NULL OR PADTLIQ>'2014-02-27'
-- LIMPA PARCELAS ANT
DELETE  FROM AUX_PARC



-- PAGAMENTOS NO PERIODO
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-01-31'
-- CARREGA PARCELAS  PAGAS NO PERIODO
INSERT	AUX_PARC
SELECT  DISTINCT
		P.PANROPER, 
		P.PANRPARC, -- VARIAS PARCELAS PAGAS
		P.PADTVCTO,
		P.PAVLRPR + P.PAVLRJR,
		P.PADTLIQ
FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK) ,
		RATING_RECUPERA	R (NOLOCK)
WHERE	R.DT_FECHA = @DTREF AND   -- PROCESSAMENTO
		P.PANROPER = NUM_OPE AND 
		P.PADTVCTO <= @DTFECHA		-- FECHAMENTO DA PDD			-- VENCIDO 
		-- PAGO NO PERIODO DE INI A FIM
	AND	P.PADTLIQ  BETWEEN  @DTINI	AND	@DTFIM		-- PAGO NO PERIODO INI
	AND P.PACNTRL = (SELECT MAX(AUX.PACNTRL)
						FROM  CDCSANTANAMicroCredito..CPARC AUX (NOLOCK) 
								-- CONTRATO
						WHERE	AUX.PANROPER  = P.PANROPER
							AND	AUX.PANRPARC  = P.PANRPARC )
 --GROUP BY P.PANROPER


-- REMOVE OS CONTRATOS Q NAO TEM MOVIMENTO DE PAGAMENTO
-- SOH GUARDA A RECUPERACAO
-- SELECT * FROM RATING_RECUPERA
DELETE	RATING_RECUPERA
WHERE	NUM_OPE NOT IN (SELECT DISTINCT PANROPER FROM AUX_PARC )
	AND DT_FECHA = @DTREF


-- LIMPA O PROCESSO ANTERIOR
-- LIMPA PARCELAS ANT
DELETE FROM RATING_RECUPERA_PARC WHERE DT_FECHA =@DTREF

-- COPIA O ULTIMO FECHAMENTO
-- DECLARE @DTFECHA SMALLDATETIME SET @DTFECHA='2014-01-31'

-- ATUALIZA HISTORICO DE PARCELAS PAGAS LIQUIDADAS
-- TRANSFERE DE AUX_PARC PARA O RATING_RECUPERA_PARC
INSERT RATING_RECUPERA_PARC
--		DTFECHA, AGENTE, COBRADORA, NVL_RISCO, SLD_INSCRITO
SELECT @DTREF, '','','',0.0,* 
	FROM  AUX_PARC  (NOLOCK)

-- ATUALIZA DADOS DOS CONTRATOS	
UPDATE	RATING_RECUPERA_PARC
SET		AGENTE = H.AGENTE,
		COBRADORA = H.COBRADORA, 
		NVL_RISCO = H.NVL_RISCO
	FROM  RATING_RECUPERA H (NOLOCK)
	WHERE   H.DT_FECHA =@DTREF		-- DT REF PROCESSADO
	AND		RATING_RECUPERA_PARC.DT_FECHA = @DTREF	-- PAGAMENTOS DT REF
	AND		RATING_RECUPERA_PARC.PANROPER = H.NUM_OPE  

UPDATE	RATING_RECUPERA_PARC
SET		SLD_INSCRITO = H.SLD_INSCRITO
	FROM  RATING_RECUPERA H (NOLOCK)
	WHERE   H.DT_FECHA =@DTREF		-- DT REF PROCESSADO
	AND		RATING_RECUPERA_PARC.DT_FECHA = @DTREF	-- PAGAMENTOS DT REF
	AND		H.NUM_OPE = RATING_RECUPERA_PARC.PANROPER
	AND		RATING_RECUPERA_PARC.PANRPARC = (SELECT MIN(PANRPARC) 
					FROM RATING_RECUPERA_PARC AUX (NOLOCK)
					WHERE AUX.PANROPER = H.NUM_OPE)

-- SP_HELP AUX_PARC

END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
