
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

-- delete FROM rating_historiCo where dt_ref = '12_13'
-- EXEC [dbo].[RR_CALCULO] '2013-12-31'

/* CRIAR TABELA AUXILIAR



*/

use SIG
--use SF_relatorios
go

-- DROP Procedure [dbo].[RR_CALCULO] 

/*

 EXEC [dbo].[RR_CALCULO]  '2012-12-31'

 EXEC [dbo].[RR_CALCULO]  '2013-01-31'
 EXEC [dbo].[RR_CALCULO]  '2013-02-28'
 EXEC [dbo].[RR_CALCULO]  '2013-03-29'

 EXEC [dbo].[RR_CALCULO]  '2013-04-30'
 EXEC [dbo].[RR_CALCULO]  '2013-05-31'
 EXEC [dbo].[RR_CALCULO]  '2013-06-28'

 EXEC [dbo].[RR_CALCULO]  '2013-07-31'
 EXEC [dbo].[RR_CALCULO]  '2013-08-30'
 EXEC [dbo].[RR_CALCULO]  '2013-09-30'

 EXEC [dbo].[RR_CALCULO]  '2013-10-31'
 EXEC [dbo].[RR_CALCULO]  '2013-11-29'
 EXEC [dbo].[RR_CALCULO]  '2013-12-31'

 EXEC [dbo].[RR_CALCULO]  '2014-01-31'
 EXEC [dbo].[RR_CALCULO]  '2014-02-28'

 EXEC [dbo].[RR_CALCULO]  '2014-03-31'

*/

-- SELECT * FROM RR_ROLLRATE WHERE RATING='HH'
--SELECT * FROM RATING_HISTORICO WHERE NVL_RISCO='HH'


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'RR_CALCULO' AND type = 'P')
   DROP PROCEDURE [dbo].[RR_CALCULO]
GO


CREATE Procedure [dbo].[RR_CALCULO] (@data_ref as datetime) AS
BEGIN


DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)

	-- ALTERACAO DT FECHAMENTO ULTIMO DIA DO MES
	IF @data_ANT <= '20140801' -- ANTES AGO/2014
	BEGIN
		-- CHECA SE EH DIA UTIL
		SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
								WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
								ELSE @data_ANT					 END
	END

-- SELECT  CONVERT(CHAR(4),DATEPART(YEAR,GETDATE()))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,GETDATE()))),2)+'01'


-- ****************************************************************
--  NOV/14		AJUSTE NO FECHAMENTO  VOLTAR PARA H 11 CONTRATOS 
IF	 @data_ref = '20141031'
BEGIN
		-- VOLTA P/ RATING H
		UPDATE	RATING_HISTORICO
		SET		NVL_RISCO	 = 'H'
		WHERE	DT_FECHA     = '20141031'
			AND	NUM_OPE IN ('63205827','612052001','612084240','612090662','612099649','612099864','612110733',
							'612113745','612127447','612127722','612127840')
		-- 							('612091301','61246421A','862000198A')

		-- GUARDA OS REGISTROS
		INSERT pdd_sem_veic
		SELECT * FROM RATING_HISTORICO (nolock)
				 WHERE  DT_FECHA='20141031' 
					AND	NUM_OPE IN ('63205827','612052001','612084240','612090662','612099649','612099864','612110733',
									'612113745','612127447','612127722','612127840')
								--	'612091301','61246421A','862000198A')
				
		-- EXCLUI DO RATING
		DELETE	RATING_HISTORICO
		WHERE	DT_FECHA     = '20141031'
			AND	NUM_OPE IN ('63205827','612052001','612084240','612090662','612099649','612099864','612110733',
							'612113745','612127447','612127722','612127840')
						--	'612091301','61246421A','862000198A')
		
		
END

-- ****************************************************************
--  DEZ/14		AJUSTE NO FECHAMENTO  VOLTAR PARA H 6 CONTRATOS 
IF	 @data_ref = '20141231'
BEGIN
		-- AJUSTE PARA NAO IR PARA PREJUIZO
		UPDATE		RATING_HISTORICO 
			SET		NVL_RISCO='H'	
			WHERE	dt_fecha = '20141231' and NUM_OPE IN ('862000196','862000217','862000308','612054459A','61248251A','61248435A')
END

-- ****************************************************************
--  JAN/15		AJUSTE NO FECHAMENTO  HH 6 CONTRATOS  DO MES ANTERIOR
IF	 @data_ref = '20150131'
BEGIN
		-- AJUSTE PARA NAO IR PARA PREJUIZO
		UPDATE		RATING_HISTORICO 
			SET		NVL_RISCO='HH'	
			WHERE	dt_fecha = '20150131' and NUM_OPE IN ('862000196','862000217','862000308','612054459A','61248251A','61248435A')
END

-- *************************************
-- FEV/2017   AJUSTE 1 CONTRATO
IF	 @data_ref = '20170228'
BEGIN
	UPDATE	RATING_HISTORICO SET NVL_RISCO='HH', ATRASO=372 WHERE DT_FECHA='20170228' AND NUM_OPE IN ('612136442B')
END



-- APAGA PROCESSAMENTO ANTERIOR
delete  from RR_AUX_CONTRATO_2M 
	WHERE	 DT_FECHA = @data_ref
	





/*

	-- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES		RISCO
	SELECT	@DtRefRISCO= CASE WHEN DATEPART(DW,@DtRefDB) = 1 THEN DATEADD(D,-2,@DtRefDB)	-- DOMINGO
							  WHEN DATEPART(DW,@DtRefDB) = 7 THEN DATEADD(D,-1,@DtRefDB)	-- SABADO
							  ELSE @DtRefDB					 END

*/


-- CARREGA DADOS ATUAIS
INSERT	RR_AUX_CONTRATO_2M
	(	
		DT_FECHA		,   --SMALLDATETIME,
		NUM_OPE			,	--varchar(50),
		AGENTE			,	-- VARCHAR(6)
		COBRADORA		,	-- VARCHAR(6)
		NVL_RISCO		,	--varchar(50),
		NVL_RISCO_ANT	,	--varchar(50),
		SLD_INSCRITO	,	--float,
		SLD_INSCRITO_ANT,	--float,
		Atraso			,	--int,
		Atraso_ANT		,	--int,

		PARC		,	--INT,
		PARC_ANT	,	--INT,

		VENCTO		,	--SMALLDATETIME,
		VENCTO_ANT	,	--SMALLDATETIME,

--		INICIO		,	--INT,
		ENTRA		,	--int,
		RECUPERA	,	--int,
		ROLA		,	--int
		CODPROD		)	--int	 
SELECT	@data_ref,
		NUM_OPE,
		AGENTE,
		COBRADORA,
		NVL_RISCO, -- RISCO ATUAL
		 -- RISCO NO MES ANTERIOR
		'',
		SLD_INSCRITO,
		0.0,
		ATRASO,
		0,
		parc, 0,
		dtVencParc,'',
		--0,
		0,0,0, CODPROD
FROM
		RATING_HISTORICO (NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL



-- APAGA PROCESSAMENTO ATUAL *************** SEM VEICULOS
--delete  from RR_AUX_CONTRATO_2M 	WHERE	 DT_FECHA = @data_ref AND CODPROD<>2


-- LINHAS DO MES ATUAL DO FECHAMENTO
-- atualiza OS CAMPOS DO MES ANTERIOR
UPDATE	RR_AUX_CONTRATO_2M
SET		
		NVL_RISCO_ANT	=H.NVL_RISCO,
		SLD_INSCRITO_ANT=H.SLD_INSCRITO,--float,		
		Atraso_ANT		=H.Atraso,		--int,
		PARC_ANT		=H.PARC,		--INT,
		VENCTO_ANT		=H.dtVencParc	--SMALLDATETIME,
FROM	RATING_HISTORICO H	
WHERE	RR_AUX_CONTRATO_2M.DT_FECHA = @data_ref
   AND	H.DT_FECHA  = @data_ANT		-- MES ANTERIOR
   AND  RR_AUX_CONTRATO_2M.NUM_OPE	 = H.NUM_OPE

-- RENEGOCIADOS NUM OPE DIFERENTE, FINAL A
UPDATE	RR_AUX_CONTRATO_2M
SET		
		NVL_RISCO_ANT	=H.NVL_RISCO,
		SLD_INSCRITO_ANT=H.SLD_INSCRITO,--float,		
		Atraso_ANT		=H.Atraso,		--int,
		PARC_ANT		=H.PARC,		--INT,
		VENCTO_ANT		=H.dtVencParc	--SMALLDATETIME,
	,	RECUPERA=1  -- RENEGOCIADO EH RECUPERACAO
FROM	RATING_HISTORICO H	
WHERE	RR_AUX_CONTRATO_2M.DT_FECHA = @data_ref
	AND RIGHT(RR_AUX_CONTRATO_2M.NUM_OPE,1)='A'		-- ATUAL RENEGOCIADO
	AND RR_AUX_CONTRATO_2M.NVL_RISCO_ANT =''		-- SEM RATING ANTERIOR
   AND	H.DT_FECHA  = @data_ANT		-- MES ANTERIOR
	--  CONTRATO ANTERIOR SEM A
   AND  LEFT(RR_AUX_CONTRATO_2M.NUM_OPE,LEN(RR_AUX_CONTRATO_2M.NUM_OPE)-1)	 = H.NUM_OPE

-- RENEGOCIADOS NUM OPE DIFERENTE, FINAL B  = 2A RENEGOCIACAO
UPDATE	RR_AUX_CONTRATO_2M
SET		
		NVL_RISCO_ANT	=H.NVL_RISCO,
		SLD_INSCRITO_ANT=H.SLD_INSCRITO,--float,		
		Atraso_ANT		=H.Atraso,		--int,
		PARC_ANT		=H.PARC,		--INT,
		VENCTO_ANT		=H.dtVencParc	--SMALLDATETIME,
	,	RECUPERA=1  -- RENEGOCIADO EH RECUPERACAO
FROM	RATING_HISTORICO H	
WHERE	RR_AUX_CONTRATO_2M.DT_FECHA = @data_ref
	AND RIGHT(RR_AUX_CONTRATO_2M.NUM_OPE,1)='B'		-- ATUAL RENEGOCIADO
	AND RR_AUX_CONTRATO_2M.NVL_RISCO_ANT =''			-- SEM RATING ANTERIOR
   AND	H.DT_FECHA  = @data_ANT		-- MES ANTERIOR
	--  CONTRATO ANTERIOR RENEGOCIADO A
   AND  LEFT(RR_AUX_CONTRATO_2M.NUM_OPE,LEN(RR_AUX_CONTRATO_2M.NUM_OPE)-1)+'A'	 = H.NUM_OPE

-- RENEGOCIACAO ANTIGA
-- RENEGOCIADOS NUM OPE DIFERENTE, VER CODCLI = E DTLIQ ANT = DTBASE DO RENEGOCIADO
UPDATE	RR_AUX_CONTRATO_2M
SET		
		NVL_RISCO_ANT	=H.NVL_RISCO,
		SLD_INSCRITO_ANT=H.SLD_INSCRITO,--float,		
		Atraso_ANT		=H.Atraso,		--int,
		PARC_ANT		=H.PARC,		--INT,
		VENCTO_ANT		=H.dtVencParc	--SMALLDATETIME,
FROM	RATING_HISTORICO H	(NOLOCK) ,
		CDCSANTANAMicroCredito..COPER O (NOLOCK)		
WHERE	RR_AUX_CONTRATO_2M.DT_FECHA = @data_ref
	AND RR_AUX_CONTRATO_2M.NVL_RISCO_ANT =''		-- SEM RATING ANTERIOR
   AND	H.DT_FECHA  = @data_ANT						-- MES ANTERIOR

	AND RR_AUX_CONTRATO_2M.NUM_OPE=O.OPNROPER  		-- ATUAL RENEGOCIADO LOCALIZAR A OPERACAO
	AND O.OPCODOP  IN (720,730,731,741,742,751,752,  800,860,861,862,863,890,891,892,893,894  )  -- RENEGOCIACAO

	--  LOCALIZAR CONTRATO ANTERIOR NO HISTORICO  RENEGOCIADO 
	AND H.NUM_OPE= O.OPNROPER2  		-- OPERACAO ANTERIOR
	AND	H.CODCLI = O.OPCODCLI			-- MESMO CODIGO DE CLIENTE


-- SELECT TOP 10 * FROM	RATING_HISTORICO

-- INCLUI OS CONTRATOS LIQUIDADOS NO MES DE FECHAMENTO **********************
/*
INSERT	RR_AUX_CONTRATO_2M
	(	
		DT_FECHA		,   --SMALLDATETIME,
		NUM_OPE			,	--varchar(50),
		AGENTE			,	-- VARCHAR(6)
		COBRADORA		,	-- VARCHAR(6)
		NVL_RISCO		,	--varchar(50),
		NVL_RISCO_ANT	,	--varchar(50),
		SLD_INSCRITO	,	--float,
		SLD_INSCRITO_ANT,	--float,
		Atraso			,	--int,
		Atraso_ANT		,	--int,

		PARC		,	--INT,
		PARC_ANT	,	--INT,

		VENCTO		,	--SMALLDATETIME,
		VENCTO_ANT	,	--SMALLDATETIME,

--		INICIO		,	--INT,
		ENTRA		,	--int,
		RECUPERA	,	--int,
		ROLA		,	--int
		CODPROD		)	--int	 
-- DECLARE @data_ref DATETIME DECLARE @data_ANT DATETIME SET @data_ref='20140331' SET @data_ANT='20140228'
SELECT	@data_ref,
		NUM_OPE,
		AGENTE,
		COBRADORA,
		NVL_RISCO, -- RISCO ATUAL
		NVL_RISCO, -- RISCO NO MES ANTERIOR
		0.0,  -- saldo atual 0, pq foi liquidado
		SLD_INSCRITO,
		ATRASO,
		0,		-- LIQUIDADO
		parc, 0,
		dtVencParc,'',
		--0,
-- ENTRA=0, RECUPERA=1, ROLA=0
		0,1,0, CODPROD
FROM
		RATING_HISTORICO (NOLOCK)
where	DT_FECHA = @data_ANT  -- MES ANTERIOR
		-- MES ANTERIOR E LIQUIDADOS NO MES ATUAL
		-- SEM RENEGOCIACAO
		AND RIGHT(NUM_OPE,1) NOT IN ('A','B')
		AND NUM_OPE NOT IN (SELECT	NUM_OPE 
							FROM	RATING_HISTORICO (NOLOCK)
							where	DT_FECHA = @data_REF  -- MES ATUAL
													)
		-- SEM O RENEGOCIADO NO MES
		AND NUM_OPE+'A' NOT IN (SELECT NUM_OPE
							FROM RR_AUX_CONTRATO_2M  (NOLOCK)
							where	DT_FECHA = @data_REF  -- MES ATUAL
													)
*/

-- CALCULO DO MES ***************************
-- verifica ENTRADAS
-- ENTRADAS NOVAS
UPDATE	RR_AUX_CONTRATO_2M
SET		ENTRA=1
WHERE	DT_FECHA = @data_ref
	AND	NVL_RISCO_ANT =''
--	AND CODPROD=2

-- VERIFICA ENTRADAS DE FAIXAS SUPERIORES
-- ex: estava no C e foi para A: 
-- RECUPERA EM C e Entrada em A=nvl_risco
UPDATE	RR_AUX_CONTRATO_2M
SET		ENTRA=1
WHERE	DT_FECHA = @data_ref
	AND	NVL_RISCO_ANT > NVL_RISCO
	AND	NVL_RISCO_ANT <> ''
--	AND CODPROD=2

-- VERIFICA ENTRADAS DE FAIXAS INFERIORES
-- ex: estava em A e foi para B : rola em A, entra em B
UPDATE	RR_AUX_CONTRATO_2M
SET		ENTRA=1
WHERE	DT_FECHA = @data_ref
	AND	NVL_RISCO_ANT < NVL_RISCO
	AND	NVL_RISCO_ANT <> ''
--	AND CODPROD=2



-- VERIFICA ROLA
-- ex: estava em A e foi para B : rola em A, entra em B
-- ROLAGEM NO NIVEL ANTERIOR	*************
UPDATE	RR_AUX_CONTRATO_2M
SET		ROLA=1
WHERE	DT_FECHA = @data_ref
	AND	NVL_RISCO_ANT < NVL_RISCO
	AND	NVL_RISCO_ANT <> ''
--	AND CODPROD=2

-- VERIFICA RECUPERACAO
-- ex: estava em B e foi para A: recupera em B, entra em A
-- RECUPERACAO NO NIVEL ANTERIOR  ************
UPDATE	RR_AUX_CONTRATO_2M
SET		RECUPERA=1
WHERE	DT_FECHA = @data_ref
	AND	NVL_RISCO_ANT > NVL_RISCO
--	AND CODPROD=2


-- ATUALIZA OS DADOS DO CLIENTE
/*
RR_AUX_CONTRATO_2M
*/

-- LIMPA O RELATORIO ANTERIOR
DELETE FROM RR_ROLLRATE WHERE DT_FECHA = @data_ref

-- *****************************************
-- CALCULA O RELATORIO
-- 1. SALDO INICIAL		********************* DO MES ANTERIOR
-- 1. SALDO INICIAL  FAIXA 1 A  DE 0 A 14
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		--	AGENTE,	COBRADORA		VARCHAR(6),
		R.AGENTE,R.COBRADORA,
		1,1,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		0, 14, 'A'
FROM
		RATING_HISTORICO	R	(NOLOCK)	
where	DT_FECHA = @data_ANT  -- MES ANTERIOR
	AND	NVL_RISCO='A'
--	AND CODPROD=2
--AND		ATRASO <= 14
GROUP	BY R.AGENTE, R.COBRADORA
-- *****************
-- 1. SALDO INICIAL  FAIXA 2 B  DE 15 A 30
INSERT RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,2,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		15, 30, 'B'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ANT  -- MES ANTERIOR
	AND	NVL_RISCO='B'
--	AND CODPROD=2
--AND		ATRASO BETWEEN 15 AND 30
GROUP	BY R.AGENTE, R.COBRADORA
-- *****************
-- 1. SALDO INICIAL  FAIXA 3 C  DE 31 A 60
INSERT RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,3,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		31, 60, 'C'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ANT  -- MES ANTERIOR
	AND	NVL_RISCO='C'
--	AND CODPROD=2
--AND		ATRASO BETWEEN 31 AND 60
GROUP BY 		R.AGENTE,R.COBRADORA

-- *****************
-- 1. SALDO INICIAL  FAIXA 4 D  DE 61 A 90
INSERT RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,4,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		61, 90, 'D'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ANT  -- MES ANTERIOR
--	AND CODPROD=2
	AND	NVL_RISCO='D'
--AND		ATRASO BETWEEN 61 AND 90
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 1. SALDO INICIAL  FAIXA 5 E  DE 91 A 120
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,5,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		91, 120, 'E'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ANT  -- MES ANTERIOR
	AND	NVL_RISCO='E'
--	AND CODPROD=2
--AND		ATRASO BETWEEN 91 AND 120
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 1. SALDO INICIAL  FAIXA 6 F  DE 121 A 150
INSERT RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,6,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		121, 150, 'F'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ANT  -- MES ANTERIOR
	AND	NVL_RISCO='F'
--	AND CODPROD=2
--AND		ATRASO BETWEEN 121 AND 150
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 1. SALDO INICIAL  FAIXA 7 G  DE 151 A 180
INSERT RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,7,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		151, 180, 'G'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ANT  -- MES ANTERIOR
	AND	NVL_RISCO='G'
--	AND CODPROD=2
--AND		ATRASO BETWEEN 151 AND 180
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 1. SALDO INICIAL  FAIXA 8 H  DE 181 A 360
INSERT RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,8,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		181, 360, 'H'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ANT  -- MES ANTERIOR
	AND	NVL_RISCO= 'H'
--	AND CODPROD=2
--AND		ATRASO BETWEEN 181 AND 360
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 1. SALDO INICIAL  FAIXA 9 HH  ACIMA 360
INSERT RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		1,9,
		'',
		'SALDO INICIAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		360, 99999, 'HH'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ANT  -- MES ANTERIOR
	AND	NVL_RISCO= 'HH'
--	AND CODPROD=2
--AND		ATRASO > 360
GROUP BY		R.AGENTE,R.COBRADORA


-- *****************************************
-- 2. ENTRADAS		********************* NO MES
-- *****************
-- 2. ENTRADAS	  FAIXA 1 A  ATE 14
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		1, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		0, 14, 'A'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	ENTRA = 1			  -- ENTRADA
	AND	NVL_RISCO= 'A'
--	AND CODPROD=2
--	AND Atraso <= 14
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 2 B  DE 15  A 30
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		2, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		15, 30, 'B'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	ENTRA = 1			  -- ENTRADA
	AND	NVL_RISCO= 'B'
--	AND CODPROD=2
--	AND Atraso	BETWEEN  15	AND 30
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 3 C  DE 31  A 60
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		3, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		31, 60, 'C'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ENTRA = 1				-- ENTRADA
	AND	NVL_RISCO= 'C'
--	AND CODPROD=2
--	AND Atraso	BETWEEN  31	AND 60
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 4 D  DE 61  A 90
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		4, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		61, 90, 'D'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ENTRA = 1				-- ENTRADA
	AND	NVL_RISCO= 'D'
--	AND CODPROD=2
--	AND Atraso	BETWEEN  61	AND 90
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 5 E  DE 91  A 120
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		5, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		91, 120, 'E'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ENTRA = 1				-- ENTRADA
	AND	NVL_RISCO= 'E'
--	AND CODPROD=2
--	AND Atraso	BETWEEN  91	AND 120
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 6 F  DE 121  A 150
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		6, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		121, 150, 'F'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ENTRA = 1				-- ENTRADA
	AND	NVL_RISCO= 'F'
--	AND CODPROD=2
--	AND Atraso	BETWEEN  121	AND 150
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 7 G  DE 151  A 180
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		7, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		151, 180, 'G'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ENTRA = 1				-- ENTRADA
	AND	NVL_RISCO= 'G'
--	AND CODPROD=2
--	AND Atraso	BETWEEN  151	AND 180
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 8 H  DE 181  A 360
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		8, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		181, 360, 'H'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ENTRA = 1				-- ENTRADA
	AND	NVL_RISCO= 'H'
--	AND CODPROD=2
--	AND Atraso	BETWEEN  181	AND 360
GROUP BY		C.AGENTE,C.COBRADORA

-- *****************
-- 2. ENTRADAS	  FAIXA 9 HH  ACIMA 360
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		2, -- ORDEM LINHA
		9, -- ORDEM FAIXA
		'V',
		'ENTRADAS' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		360, 99999, 'HH'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ENTRA	 = 1			-- ENTRADA
	AND	NVL_RISCO= 'HH'
--	AND CODPROD=2
--	AND Atraso	 > 360
GROUP BY		C.AGENTE,C.COBRADORA

-- DIFERENÇA DE ENTRADA. RECALCULAR NO FINAL.



-- *****************************************
-- 3. RECUPERACAO	********************* NO MES
-- *****************
-- 3. RECUPERACAO	  FAIXA 1 A  ATE 14
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		1, -- ORDEM FAIXA
		'A',
		'RECUPERACAO' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		0, 14, 'A'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	RECUPERA = 1		  -- RECUPERACAO
	AND NVL_RISCO_ANT = 'A'	  -- ESTAVA EM A
--	AND CODPROD=2
--	AND Atraso <= 14  -- NIVEL ATUAL
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 2 B  DE 15 A 30
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		2, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,		-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		15, 30, 'B'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	RECUPERA = 1  -- RECUPERACAO
	AND NVL_RISCO_ANT = 'B'	  -- ESTAVA EM B
--	AND CODPROD=2
--		AND Atraso BETWEEN 15 AND 30  -- NIVEL ATUAL
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 3 C   DE 31 A 60
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		3, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,		-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		31, 60, 'C'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	RECUPERA = 1  -- RECUPERACAO
	AND NVL_RISCO_ANT = 'C'	  -- ESTAVA EM C
--	AND CODPROD=2
--		AND Atraso BETWEEN 31 AND 60
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 4 D  DE 61 A 90
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		4, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,					-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		61, 90, 'D'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	RECUPERA = 1		  -- RECUPERACAO
	AND NVL_RISCO_ANT = 'D'	  -- ESTAVA EM D
--	AND CODPROD=2
--		AND Atraso BETWEEN 61 AND 90
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 5 E  DE 91 A 120
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		5, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,		-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		91, 120, 'E'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
	AND	RECUPERA = 1  -- RECUPERACAO
	AND NVL_RISCO_ANT = 'E'	  -- ESTAVA EM E
--	AND CODPROD=2
--		AND Atraso BETWEEN 91 AND 120
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 6 F  DE 121 A 150
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		6, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,		-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		121, 150, 'F'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	RECUPERA = 1			-- RECUPERACAO
	AND NVL_RISCO_ANT = 'F'		-- ESTAVA EM F
--	AND CODPROD=2
--		AND Atraso BETWEEN 121 AND 150
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 7 G  DE 151 A 180
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		7, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,		-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		151, 180, 'G'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	RECUPERA = 1			-- RECUPERACAO
	AND NVL_RISCO_ANT = 'G'		-- ESTAVA EM G
--	AND CODPROD=2
--		AND Atraso BETWEEN 15 AND 30
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 8 H  DE 181 A 360
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		8, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,		-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		181, 360, 'H'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	RECUPERA = 1			-- RECUPERACAO
	AND NVL_RISCO_ANT = 'H'		-- ESTAVA EM H
--	AND CODPROD=2
--		AND Atraso BETWEEN 181 AND 360
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************
-- 3. RECUPERACAO	  FAIXA 9 HH  ACIMA 360
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		9, -- ORDEM FAIXA
		'A',	-- FORMATO
		'RECUPERACAO' ,		-- DESCRICAO
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		360, 99999, 'HH'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	RECUPERA = 1			-- RECUPERACAO
	AND NVL_RISCO_ANT = 'HH'	-- ESTAVA EM HH
--	AND CODPROD=2
--		AND Atraso > 360
GROUP BY	C.AGENTE,C.COBRADORA

-- *****************************************
-- 4. ROLAGEM	********************* NO MES
-- *****************
-- 4. ROLAGEM	  FAIXA 1 A  ATE 14
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		1, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		0, 14, 'A'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'A'		-- ESTAVA EM A
--	AND CODPROD=2
--			AND Atraso <= 14	ATRASO ATUAL
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 2 B  DE 15 A 30
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		2, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		15, 30, 'B'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'B'		-- ESTAVA EM B
--	AND CODPROD=2
--		AND Atraso	BETWEEN	15 AND 30	ATRASO ATUAL
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 3 C  DE 31 A 60
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		3, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		31, 60, 'C'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'C'		-- ESTAVA EM C
--	AND CODPROD=2
--	AND Atraso	BETWEEN	31 AND 60	ATRASO ATUAL
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 4 D  DE 61 A 90
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		4, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		61, 90, 'D'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'D'		-- ESTAVA EM D
--	AND CODPROD=2
--	AND Atraso	BETWEEN	61 AND 90
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 5 E  DE 91 A 120
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		5, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		91, 120, 'E'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'E'		-- ESTAVA EM E
--	AND CODPROD=2
--	AND Atraso	BETWEEN	91 AND 120	ATUAL
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 6 F  DE 121 A 150
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		6, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		121, 150, 'F'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'F'		-- ESTAVA EM F
--	AND CODPROD=2
--	AND Atraso	BETWEEN	121 AND 150
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 7 G  DE 151 A 180
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		7, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		151, 180, 'G'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'G'		-- ESTAVA EM G
--	AND CODPROD=2
--	AND Atraso	BETWEEN	151 AND 180
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 8 H  DE 181 A 360
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		8, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		181, 360, 'H'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA = 1				-- ROLAGEM
	AND NVL_RISCO_ANT = 'H'		-- ESTAVA EM H
--	AND CODPROD=2
--	AND Atraso	BETWEEN	181 AND 360
GROUP BY C.AGENTE,C.COBRADORA

-- *****************
-- 4. ROLAGEM	  FAIXA 9 HH  ACIMA 360
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		C.AGENTE,C.COBRADORA,
		4, -- ORDEM LINHA
		9, -- ORDEM FAIXA
		'V',
		'ROLAGEM' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		360, 99999, 'HH'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref	-- MES ATUAL
	AND	ROLA	 = 1			-- ROLAGEM
	AND NVL_RISCO_ANT = 'HH'	-- ESTAVA EM HH
--	AND CODPROD=2
--	AND Atraso	 > 360			ATRASO ATUAL
GROUP BY C.AGENTE,C.COBRADORA

-- *****************************************
-- 5. SALDO FINAL	********************* NO MES
-- *****************
-- 5. SALDO FINAL	  FAIXA 1 A  ATE 14
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5, -- ORDEM LINHA
		1, -- ORDEM FAIXA
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		0, 14, 'A'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO= 'A'
--	AND CODPROD=2
--	AND	ATRASO <= 14
GROUP BY	R.AGENTE,R.COBRADORA

-- *****************
-- 5. SALDO FINAL  FAIXA 2 B  DE 15 A 30
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,2,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		15, 30, 'B'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO= 'B'
--	AND CODPROD=2
--	AND	ATRASO BETWEEN 15 AND 30
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 5. SALDO FINAL  FAIXA 3 C  DE 31 A 60
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,3,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		31, 60, 'C'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO= 'C'
--	AND CODPROD=2
--	AND	ATRASO BETWEEN 31 AND 60
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 5. SALDO FINAL  FAIXA 4 D  DE 61 A 90
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,4,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		61, 90, 'D'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO= 'D'
--	AND CODPROD=2
--	AND	ATRASO BETWEEN 61 AND 90
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- F. SALDO FINAL  FAIXA 5 E  DE 91 A 120
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,5,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		91, 120, 'E'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO= 'E'
--	AND CODPROD=2
--	AND	ATRASO BETWEEN 91 AND 120
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 5. SALDO FINAL  FAIXA 6 F  DE 121 A 150
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,6,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		121, 150, 'F'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO= 'F'
--	AND CODPROD=2
--	AND	ATRASO BETWEEN 121 AND 150
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 5. SALDO FINAL  FAIXA 7 G  DE 151 A 180
INSERT RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,7,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		151, 180, 'G'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO= 'G'
--	AND CODPROD=2
--	AND	ATRASO BETWEEN 151 AND 180
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 5. SALDO FINAL  FAIXA 8 H  DE 181 A 360
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,8,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		181, 360, 'H'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO= 'H'
--	AND CODPROD=2
--	AND	ATRASO BETWEEN 181 AND 360
GROUP BY		R.AGENTE,R.COBRADORA

-- *****************
-- 5. SALDO FINAL  FAIXA 9 HH  ACIMA 360
INSERT  RR_ROLLRATE
SELECT	@data_ref,
		R.AGENTE,R.COBRADORA,
		5,9,
		'',
		'SALDO FINAL' ,
		IsNULL(COUNT(NUM_OPE),0),		-- QTDE
		0.0,
		ISNULL(SUM(SLD_INSCRITO),0.0),	-- SALDO
		0.0,	-- PRC
		360, 99999, 'HH'
FROM
		RATING_HISTORICO	R	(NOLOCK)
where	DT_FECHA = @data_ref  -- mes atual
	AND	NVL_RISCO= 'HH'
--	AND CODPROD=2
--	AND	ATRASO > 360
GROUP BY		R.AGENTE,R.COBRADORA


-- INSERIR A LINHA RECUPERACAO NA FAIXA A
-- SE NAO HOUVER
-- 3. RECUPERACAO	  FAIXA 1 A  ATE 14
INSERT  RR_ROLLRATE
SELECT	DISTINCT
		@data_ref,
		C.AGENTE,C.COBRADORA,
		3, -- ORDEM LINHA
		1, -- ORDEM FAIXA
		'A',
		'RECUPERACAO' ,
		0,		-- QTDE
		0.0,
		0.0,	-- SALDO
		0.0,	-- PRC
		0, 14, 'A'
FROM
		RR_AUX_CONTRATO_2M	C	(NOLOCK)
where	DT_FECHA = @data_ref  -- MES ATUAL
		AND NOT EXISTS (SELECT * 
			FROM 	RR_ROLLRATE	R	(NOLOCK)
			WHERE   R.DT_FECHA = @data_ref  -- mes atual
			AND		R.DESCRICAO='RECUPERACAO' AND R.RATING='A' )
GROUP BY	C.AGENTE,C.COBRADORA



-- RECUPERAR A = SALDO FINAL EM A - 
-- 12267 - 11883 = 384
-- CONTRATOS FINDOS EM DIA
UPDATE  RR_ROLLRATE
SET		RR_ROLLRATE.QTDE  = SALDO.QTDE  - A.QTDE ,
		RR_ROLLRATE.SALDO = SALDO.SALDO - A.SALDO
FROM
	(	SELECT	AGENTE, COBRADORA,
				ISNULL(COUNT(*),0.0)			AS QTDE,
				ISNULL(SUM(SLD_INSCRITO),0.0)	AS SALDO
		 FROM	RR_AUX_CONTRATO_2M R	(NOLOCK)
		WHERE	DT_FECHA	= @data_ref   -- NO MES
			AND	NVL_RISCO	= 'A'
		GROUP BY AGENTE, COBRADORA
	)	AS SALDO	,
	(	SELECT	AGENTE, COBRADORA,
				ISNULL(COUNT(*),0.0)			AS QTDE,
				ISNULL(SUM(SLD_INSCRITO),0.0)	AS SALDO
		 FROM	RR_AUX_CONTRATO_2M R	(NOLOCK)
		WHERE	DT_FECHA		= @data_ref   -- NO MES
			AND	NVL_RISCO_ANT	= 'A'
		GROUP BY AGENTE, COBRADORA
	)	AS A	

where	RR_ROLLRATE.DT_FECHA = @data_ref	  -- mes atual
	AND RR_ROLLRATE.DESCRICAO= 'RECUPERACAO'  -- SOMENTE A LINHA DE RECUPERACAO RECALCULADA	
	AND	RR_ROLLRATE.RATING	 = 'A'
	AND	RR_ROLLRATE.AGENTE	 = SALDO.AGENTE
	AND	RR_ROLLRATE.COBRADORA= SALDO.COBRADORA

	AND	RR_ROLLRATE.AGENTE	 = A.AGENTE
	AND	RR_ROLLRATE.COBRADORA= A.COBRADORA

-- 2. ENTRADAS OK
-- 3. RECUPERACAO - AJUSTE FALTAM OS LIQUIDADOS

/*
-- SELECT * FROM RR_AUX_CONTRATO_2M
-- SELECT * FROM RR_ROLLRATE
*/
-- *****************************************
-- 3. RECUPERA	********************* NO MES
-- *****************
-- 3. RECALCULAR RECUPERA =   ESTOQUE INICIAL +ENTRADA - ROLA - SALDO FINAL

UPDATE  RR_ROLLRATE
SET		RR_ROLLRATE.QTDE = ISNULL(INICIO.QTDE,0.0)  + ISNULL(ENTRADA.QTDE,0.0) - ISNULL(ROLA.QTDE,0.0) -ISNULL(SALDO.QTDE,0.0) ,
		RR_ROLLRATE.SALDO= ISNULL(INICIO.SALDO,0.0) + ISNULL(ENTRADA.SALDO,0.0) - ISNULL(ROLA.SALDO,0.0) - ISNULL(SALDO.SALDO,0.0)
		
FROM
		(SELECT	    * FROM 	RR_ROLLRATE	R	(NOLOCK)
			WHERE   R.DT_FECHA = @data_ref  -- mes atual
			AND		R.DESCRICAO='SALDO FINAL'
			) AS SALDO,
		(SELECT	    * FROM 	RR_ROLLRATE	R	(NOLOCK)
			WHERE   R.DT_FECHA = @data_ref  -- mes atual
			AND		R.DESCRICAO='SALDO INICIAL'
			) AS INICIO,
		(SELECT	    * FROM 	RR_ROLLRATE	R	(NOLOCK)
			WHERE   R.DT_FECHA = @data_ref  -- mes atual
			AND		R.DESCRICAO='ENTRADAS'
			) AS ENTRADA,

		(SELECT	    * FROM 	RR_ROLLRATE	R	(NOLOCK)
			WHERE   R.DT_FECHA = @data_ref  -- mes atual
			AND		R.DESCRICAO='ROLAGEM'
			) AS ROLA

where	RR_ROLLRATE.DT_FECHA = @data_ref  -- mes atual
	AND RR_ROLLRATE.DESCRICAO='RECUPERACAO'  -- SOMENTE A LINHA DE RECUPERACAO RECALCULADA	

	AND	RR_ROLLRATE.RATING	 = SALDO.RATING
	AND	RR_ROLLRATE.AGENTE	 = SALDO.AGENTE
	AND	RR_ROLLRATE.COBRADORA= SALDO.COBRADORA

	AND	RR_ROLLRATE.RATING	 = INICIO.RATING
	AND	RR_ROLLRATE.AGENTE	 = INICIO.AGENTE
	AND	RR_ROLLRATE.COBRADORA= INICIO.COBRADORA

	AND	RR_ROLLRATE.RATING	 = ENTRADA.RATING
	AND	RR_ROLLRATE.AGENTE	 = ENTRADA.AGENTE
	AND	RR_ROLLRATE.COBRADORA= ENTRADA.COBRADORA

	AND	RR_ROLLRATE.RATING	 = ROLA.RATING
	AND	RR_ROLLRATE.AGENTE	 = ROLA.AGENTE
	AND	RR_ROLLRATE.COBRADORA= ROLA.COBRADORA



END
GO


-- SELECT * FROM RR_AUX_CONTRATO_2M