
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

use SIG
--use SF_relatorios
go

/*
 EXEC [dbo].[RR_RELATORIO]  '2012-12-31'

 EXEC [dbo].[RR_RELATORIO]  '2013-01-31'
 EXEC [dbo].[RR_RELATORIO]  '2013-02-28'
 EXEC [dbo].[RR_RELATORIO]  '2013-03-29'

 EXEC [dbo].[RR_RELATORIO]  '2013-04-30'
 EXEC [dbo].[RR_RELATORIO]  '2013-05-31'
 EXEC [dbo].[RR_RELATORIO]  '2013-06-28'

 EXEC [dbo].[RR_RELATORIO]  '2013-07-31'
 EXEC [dbo].[RR_RELATORIO]  '2013-08-30'
 EXEC [dbo].[RR_RELATORIO]  '2013-09-30'

 EXEC [dbo].[RR_RELATORIO]  '2013-10-31'
 EXEC [dbo].[RR_RELATORIO]  '2013-11-29'
 EXEC [dbo].[RR_RELATORIO]  '2013-12-31'

 EXEC [dbo].[RR_RELATORIO]  '2014-01-31'
 EXEC [dbo].[RR_RELATORIO]  '2014-02-28'

 EXEC [dbo].[RR_RELATORIO]  '2014-03-31'
 EXEC [dbo].[RR_RELATORIO]  '2014-04-30'
 EXEC [dbo].[RR_RELATORIO]  '2014-05-30'

SELECT * FROM RR_ROLLRATE_RPT ORDER BY DT_FECHA DESC, ORDEM_LINHA ASC


*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'RR_RELATORIO' AND type = 'P')
   DROP PROCEDURE [dbo].[RR_RELATORIO]
GO


CREATE Procedure [dbo].[RR_RELATORIO] (@data_ref as datetime) AS
BEGIN



DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)

	-- ALTERACAO DT FECHAMENTO ULTIMO DIA DO MES
	IF @data_ANT <= '20140801' -- ANTES AGO/2014
	BEGIN
		-- CHECA SE EH DIA UTIL
		SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
								WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
								ELSE @data_ANT					 END
	END

-- SELECT  CONVERT(CHAR(4),DATEPART(YEAR,GETDATE()))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,GETDATE()))),2)+'01'

-- APAGA PROCESSAMENTO ANTERIOR
delete  from RR_ROLLRATE_RPT 
	WHERE	 DT_FECHA = @data_ref
	
-- CARREGA TABELA RESULTADO  
/*
CREATE TABLE RR_ROLLRATE_RPT (
	DT_FECHA		SMALLDATETIME,
	AGENTE			VARCHAR(6),
	COBRADORA		VARCHAR(6),
	ORDEM_LINHA		int,
	FORMATO			VARCHAR(6),
	DESCRICAO		VARCHAR(50),

	A_QTDE			FLOAT,
	A_SALDO			FLOAT,
	B_QTDE			FLOAT,
	B_SALDO			FLOAT,
	C_QTDE			FLOAT,
	C_SALDO			FLOAT,
	D_QTDE			FLOAT,
	D_SALDO			FLOAT,
	E_QTDE			FLOAT,
	E_SALDO			FLOAT,
	F_QTDE			FLOAT,
	F_SALDO			FLOAT,
	G_QTDE			FLOAT,
	G_SALDO			FLOAT,
	H_QTDE			FLOAT,
	H_SALDO			FLOAT,
	HH_QTDE			FLOAT,
	HH_SALDO		FLOAT,
	TTL_QTDE		FLOAT,
	TTL_SALDO		FLOAT
	 )

*/

-- CARREGA DADOS ATUAIS
-- INSERE LINHAS ZERADAS E DEPOIS UPDATE
-- 1A LINHA
INSERT	RR_ROLLRATE_RPT
	(	
	DT_FECHA	,--	SMALLDATETIME,
	AGENTE		,--	VARCHAR(6),
	COBRADORA	,--	VARCHAR(6),
	ORDEM_LINHA	,--	int,
	FORMATO		,--	VARCHAR(6),
	DESCRICAO	,--	VARCHAR(50),

	A_QTDE		,--	FLOAT,
	A_SALDO		,--	FLOAT,
	B_QTDE		,--	FLOAT,
	B_SALDO		,--	FLOAT,
	C_QTDE		,--	FLOAT,
	C_SALDO		,--	FLOAT,
	D_QTDE		,--	FLOAT,
	D_SALDO		,--	FLOAT,
	E_QTDE		,--	FLOAT,
	E_SALDO		,--	FLOAT,
	F_QTDE		,--	FLOAT,
	F_SALDO		,--	FLOAT,
	G_QTDE		,--	FLOAT,
	G_SALDO		,--	FLOAT,
	H_QTDE		,--	FLOAT,
	H_SALDO		,--	FLOAT,
	HH_QTDE		,--	FLOAT,
	HH_SALDO	,--	FLOAT,
	TTL_QTDE	,--	FLOAT,
	TTL_SALDO	--	FLOAT
)
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		1,  -- SALDO ANTERIOR
		'',	-- FORMATO
		'SALDO INICIAL' ,		-- DESCRICAO
		0.0,	-- QTDE
		0.0,	-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE	R	(NOLOCK)	
where	DT_FECHA = @data_ref  -- MES CORRENTE


-- 2A LINHA
INSERT	RR_ROLLRATE_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		2,				-- linha 2
		'V',			-- FORMATO
		'ENTRADAS' ,	-- DESCRICAO
		0.0,			-- QTDE
		0.0,			-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE	R	(NOLOCK)	
where	DT_FECHA = @data_ref  -- MES CORRENTE

-- 3A LINHA
INSERT	RR_ROLLRATE_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		3,				-- linha 3
		'A',			-- FORMATO
		'RECUPERACAO' ,	-- DESCRICAO
		0.0,			-- QTDE
		0.0,			-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE	R	(NOLOCK)	
where	DT_FECHA = @data_ref  -- MES CORRENTE

-- 4A LINHA
INSERT	RR_ROLLRATE_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		4,				-- linha 4
		'A',			-- FORMATO
		'ROLAGEM' ,		-- DESCRICAO
		0.0,			-- QTDE
		0.0,			-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE	R	(NOLOCK)	
where	DT_FECHA = @data_ref  -- MES CORRENTE

-- 5A LINHA
INSERT	RR_ROLLRATE_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		5,				-- linha 5
		'',				-- FORMATO
		'SALDO FINAL' ,	-- DESCRICAO
		0.0,			-- QTDE
		0.0,			-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE	R	(NOLOCK)	
where	DT_FECHA = @data_ref  -- MES CORRENTE

-- 6A LINHA
INSERT	RR_ROLLRATE_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		6,				-- linha 6
		'',				-- FORMATO
		'% RECUP/ESTOQUE' ,	-- DESCRICAO
		0.0,			-- QTDE
		0.0,			-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE	R	(NOLOCK)	
where	DT_FECHA = @data_ref  -- MES CORRENTE

-- 7A LINHA
INSERT	RR_ROLLRATE_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		7,				-- linha 7
		'',				-- FORMATO
		'% ROLAGENS' ,	-- DESCRICAO
		0.0,			-- QTDE
		0.0,			-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE	R	(NOLOCK)	
where	DT_FECHA = @data_ref  -- MES CORRENTE

-- 8A LINHA
INSERT	RR_ROLLRATE_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		8,				-- linha 8
		'',				-- FORMATO
		'% VAR SALDO' ,	-- DESCRICAO
		0.0,			-- QTDE
		0.0,			-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE	R	(NOLOCK)	
where	DT_FECHA = @data_ref  -- MES CORRENTE


-- 9A LINHA  nova  -- VLR PROVISAO PDD *********************** NOV/14
INSERT	RR_ROLLRATE_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		9,				-- linha 9
		'',				-- FORMATO
		'VLR PROVISAO PDD' ,	-- DESCRICAO
		0.0,			-- QTDE
		0.0,			-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE	R	(NOLOCK)	
where	DT_FECHA = @data_ref  -- MES CORRENTE


/*
SELECT	@data_ref,
		AGENTE,
		COBRADORA,
		1,  -- SALDO ANTERIOR
		'',	-- FORMATO
		'SALDO INICIAL' ,		-- DESCRICAO
		IsNULL(SUM(QTDE),0),	-- QTDE
		ISNULL(SUM(SALDO),0.0),	-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		IsNULL(SUM(QTDE),0),	-- QTDE
		ISNULL(SUM(SALDO),0.0)	-- SALDO
FROM
		RR_ROLLRATE	R	(NOLOCK)	
where	DT_FECHA = @data_ANT  -- FINAL DO MES ANTERIOR = INICIAL DESTE MES
	AND	ORDEM_LINHA = 5       -- LINHA DE SALDO FINAL	
 -- MES CORRENTE JA CALCULADO
	AND	RATING   = 'A'
GROUP	BY R.AGENTE, R.COBRADORA
*/


-- ATUALIZAR O RELATORIO COM AS QTDES E SALDOS POR FAIXA DE ATRASO
-- FAIXA A
UPDATE	RR_ROLLRATE_RPT
SET		A_QTDE = R.QTDE,	--	FLOAT
		A_SALDO= R.SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE	R (NOLOCK) 
WHERE	R.DT_FECHA = @data_ref
	AND	RR_ROLLRATE_RPT.DT_FECHA = @data_ref
	AND	R.RATING='A'
	AND R.AGENTE     = RR_ROLLRATE_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_RPT.ORDEM_LINHA

-- FAIXA B
UPDATE	RR_ROLLRATE_RPT
SET		B_QTDE = QTDE,	--	FLOAT
		B_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE	R (NOLOCK) 
WHERE	R.DT_FECHA = @data_ref
	AND	RR_ROLLRATE_RPT.DT_FECHA = @data_ref
	AND	R.RATING='B'
	AND R.AGENTE     = RR_ROLLRATE_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_RPT.ORDEM_LINHA

-- FAIXA C
UPDATE	RR_ROLLRATE_RPT
SET		C_QTDE = QTDE,	--	FLOAT
		C_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE	R (NOLOCK) 
WHERE	R.DT_FECHA = @data_ref
	AND	RR_ROLLRATE_RPT.DT_FECHA = @data_ref
	AND	R.RATING='C'
	AND R.AGENTE     = RR_ROLLRATE_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_RPT.ORDEM_LINHA

-- FAIXA D
UPDATE	RR_ROLLRATE_RPT
SET		D_QTDE = QTDE,	--	FLOAT
		D_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE	R (NOLOCK) 
WHERE	R.DT_FECHA = @data_ref
	AND	RR_ROLLRATE_RPT.DT_FECHA = @data_ref
	AND	R.RATING='D'
	AND R.AGENTE     = RR_ROLLRATE_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_RPT.ORDEM_LINHA

-- FAIXA E
UPDATE	RR_ROLLRATE_RPT
SET		E_QTDE = QTDE,	--	FLOAT
		E_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE	R (NOLOCK) 
WHERE	R.DT_FECHA = @data_ref
	AND	RR_ROLLRATE_RPT.DT_FECHA = @data_ref
	AND	R.RATING='E'
	AND R.AGENTE     = RR_ROLLRATE_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_RPT.ORDEM_LINHA

-- FAIXA F
UPDATE	RR_ROLLRATE_RPT
SET		F_QTDE = QTDE,	--	FLOAT
		F_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE	R (NOLOCK) 
WHERE	R.DT_FECHA = @data_ref
	AND	RR_ROLLRATE_RPT.DT_FECHA = @data_ref
	AND	R.RATING='F'
	AND R.AGENTE     = RR_ROLLRATE_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_RPT.ORDEM_LINHA

-- FAIXA G
UPDATE	RR_ROLLRATE_RPT
SET		G_QTDE = QTDE,	--	FLOAT
		G_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE	R (NOLOCK) 
WHERE	R.DT_FECHA = @data_ref
	AND	RR_ROLLRATE_RPT.DT_FECHA = @data_ref
	AND	R.RATING='G'
	AND R.AGENTE     = RR_ROLLRATE_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_RPT.ORDEM_LINHA

-- FAIXA H
UPDATE	RR_ROLLRATE_RPT
SET		H_QTDE = QTDE,	--	FLOAT
		H_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE	R (NOLOCK) 
WHERE	R.DT_FECHA = @data_ref
	AND	RR_ROLLRATE_RPT.DT_FECHA = @data_ref
	AND	R.RATING='H'
	AND R.AGENTE     = RR_ROLLRATE_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_RPT.ORDEM_LINHA

-- FAIXA HH
UPDATE	RR_ROLLRATE_RPT
SET		HH_QTDE = QTDE,	--	FLOAT
		HH_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE	R (NOLOCK) 
WHERE	R.DT_FECHA = @data_ref
	AND	RR_ROLLRATE_RPT.DT_FECHA = @data_ref
	AND	R.RATING='HH'
	AND R.AGENTE     = RR_ROLLRATE_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_RPT.ORDEM_LINHA


/*
SELECT R.QTDE,R.SALDO
FROM	(SELECT		* 
			FROM 	RR_ROLLRATE	R	(NOLOCK)	
			where	DT_FECHA = '2013-12-31'
			AND		RATING='A') AS R  -- MES CORRENTE
JOIN	(SELECT		*
			FROM 	RR_ROLLRATE_RPT	R	(NOLOCK)	
			where	DT_FECHA = '2013-12-31') AS RPT  -- MES CORRENTE
ON		R.DT_FECHA = RPT.DT_FECHA
	AND R.AGENTE   = RPT.AGENTE
	AND	R.COBRADORA= RPT.COBRADORA
	AND R.ORDEM_LINHA= RPT.ORDEM_LINHA

where	DT_FECHA = @data_ref  -- MES CORRENTE
*/

-- SELECT IF(0=1,'V','F')
-- SELECT 10/0
-- **********************************
-- CALCULA OS %
-- % RECUPERACAO / ESTOQUE
UPDATE	RR_ROLLRATE_RPT
SET		
		A_QTDE = ISNULL(RECUP.A_QTDE /NULLIF(ESTOQUE.A_QTDE,0.0) ,0.0) *100.0 ,	--	FLOAT
		A_SALDO= ISNULL(RECUP.A_SALDO/NULLIF(ESTOQUE.A_SALDO,0.0) ,0.0)*100.0,
		B_QTDE = ISNULL(RECUP.B_QTDE /NULLIF(ESTOQUE.B_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		B_SALDO= ISNULL(RECUP.B_SALDO/NULLIF(ESTOQUE.B_SALDO,0.0) ,0.0)*100.0,
		C_QTDE = ISNULL(RECUP.C_QTDE /NULLIF(ESTOQUE.C_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		C_SALDO= ISNULL(RECUP.C_SALDO/NULLIF(ESTOQUE.C_SALDO,0.0) ,0.0)*100.0,
		D_QTDE = ISNULL(RECUP.D_QTDE /NULLIF(ESTOQUE.D_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		D_SALDO= ISNULL(RECUP.D_SALDO/NULLIF(ESTOQUE.D_SALDO,0.0) ,0.0)*100.0,
		E_QTDE = ISNULL(RECUP.E_QTDE /NULLIF(ESTOQUE.E_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		E_SALDO= ISNULL(RECUP.E_SALDO/NULLIF(ESTOQUE.E_SALDO,0.0) ,0.0)*100.0,
		F_QTDE = ISNULL(RECUP.F_QTDE /NULLIF(ESTOQUE.F_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		F_SALDO= ISNULL(RECUP.F_SALDO/NULLIF(ESTOQUE.F_SALDO,0.0) ,0.0)*100.0,
		G_QTDE = ISNULL(RECUP.G_QTDE /NULLIF(ESTOQUE.G_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		G_SALDO= ISNULL(RECUP.G_SALDO/NULLIF(ESTOQUE.G_SALDO,0.0) ,0.0)*100.0,
		H_QTDE = ISNULL(RECUP.H_QTDE /NULLIF(ESTOQUE.H_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		H_SALDO= ISNULL(RECUP.H_SALDO/NULLIF(ESTOQUE.H_SALDO,0.0) ,0.0)*100.0,
		HH_QTDE = ISNULL(RECUP.HH_QTDE /NULLIF(ESTOQUE.HH_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		HH_SALDO= ISNULL(RECUP.HH_SALDO/NULLIF(ESTOQUE.HH_SALDO,0.0) ,0.0)*100.0,
		TTL_QTDE  = 0.0,
		TTL_SALDO = 0.0
FROM	(SELECT		* 
			FROM	RR_ROLLRATE_RPT R1	(NOLOCK) 
			WHERE	R1.DT_FECHA		= @data_ref
				AND	R1.ORDEM_LINHA	= 3	) AS RECUP, -- RECUP
		(SELECT		* 
			FROM	RR_ROLLRATE_RPT R2	(NOLOCK) 
			WHERE	R2.DT_FECHA		= @data_ref
				AND	R2.ORDEM_LINHA	= 1	) AS ESTOQUE -- SALDO INICIAL
	
WHERE	RR_ROLLRATE_RPT.DT_FECHA = @data_ref
	AND RR_ROLLRATE_RPT.ORDEM_LINHA=6	-- % RECUP/ESTOQUE
	AND RECUP.AGENTE     = RR_ROLLRATE_RPT.AGENTE	-- QUEBRAS
	AND	RECUP.COBRADORA  = RR_ROLLRATE_RPT.COBRADORA
	AND ESTOQUE.AGENTE   = RR_ROLLRATE_RPT.AGENTE
	AND	ESTOQUE.COBRADORA= RR_ROLLRATE_RPT.COBRADORA

-- % ROLAGEM / SALDO INICIAL
UPDATE	RR_ROLLRATE_RPT
SET		
		A_QTDE = ISNULL( ROLA.A_QTDE /NULLIF(ESTOQUE.A_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		A_SALDO= ISNULL( ROLA.A_SALDO/NULLIF(ESTOQUE.A_SALDO,0.0) ,0.0)*100.0,
		B_QTDE = ISNULL( ROLA.B_QTDE /NULLIF(ESTOQUE.B_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		B_SALDO= ISNULL( ROLA.B_SALDO/NULLIF(ESTOQUE.B_SALDO,0.0) ,0.0)*100.0,
		C_QTDE = ISNULL( ROLA.C_QTDE /NULLIF(ESTOQUE.C_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		C_SALDO= ISNULL( ROLA.C_SALDO/NULLIF(ESTOQUE.C_SALDO,0.0) ,0.0)*100.0,
		D_QTDE = ISNULL( ROLA.D_QTDE /NULLIF(ESTOQUE.D_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		D_SALDO= ISNULL( ROLA.D_SALDO/NULLIF(ESTOQUE.D_SALDO,0.0) ,0.0)*100.0,
		E_QTDE = ISNULL( ROLA.E_QTDE /NULLIF(ESTOQUE.E_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		E_SALDO= ISNULL( ROLA.E_SALDO/NULLIF(ESTOQUE.E_SALDO,0.0) ,0.0)*100.0,
		F_QTDE = ISNULL( ROLA.F_QTDE /NULLIF(ESTOQUE.F_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		F_SALDO= ISNULL( ROLA.F_SALDO/NULLIF(ESTOQUE.F_SALDO,0.0) ,0.0)*100.0,
		G_QTDE = ISNULL( ROLA.G_QTDE /NULLIF(ESTOQUE.G_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		G_SALDO= ISNULL( ROLA.G_SALDO/NULLIF(ESTOQUE.G_SALDO,0.0) ,0.0)*100.0,
		H_QTDE = ISNULL( ROLA.H_QTDE /NULLIF(ESTOQUE.H_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		H_SALDO= ISNULL( ROLA.H_SALDO/NULLIF(ESTOQUE.H_SALDO,0.0) ,0.0)*100.0,
		HH_QTDE = ISNULL( ROLA.HH_QTDE /NULLIF(ESTOQUE.HH_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		HH_SALDO= ISNULL( ROLA.HH_SALDO/NULLIF(ESTOQUE.HH_SALDO,0.0) ,0.0)*100.0,
		TTL_QTDE  = 0.0,
		TTL_SALDO = 0.0
FROM	(SELECT		* 
			FROM	RR_ROLLRATE_RPT R1	(NOLOCK) 
			WHERE	R1.DT_FECHA		= @data_ref
				AND	R1.ORDEM_LINHA	= 4	) AS ROLA, -- ROLA
		(SELECT		* 
			FROM	RR_ROLLRATE_RPT R2	(NOLOCK) 
			WHERE	R2.DT_FECHA		= @data_ref
				AND	R2.ORDEM_LINHA	= 1	) AS ESTOQUE -- SALDO INICIAL
	
WHERE	RR_ROLLRATE_RPT.DT_FECHA = @data_ref
	AND RR_ROLLRATE_RPT.ORDEM_LINHA=7	-- % ROLA/ESTOQUE
	AND ROLA.AGENTE     = RR_ROLLRATE_RPT.AGENTE	-- QUEBRAS
	AND	ROLA.COBRADORA  = RR_ROLLRATE_RPT.COBRADORA
	AND ESTOQUE.AGENTE   = RR_ROLLRATE_RPT.AGENTE
	AND	ESTOQUE.COBRADORA= RR_ROLLRATE_RPT.COBRADORA

-- % VARIA SALDO / SALDO INICIAL
UPDATE	RR_ROLLRATE_RPT
SET		
		A_QTDE = ISNULL( (FINAL.A_QTDE  - ESTOQUE.A_QTDE) /NULLIF(ESTOQUE.A_QTDE,0.0)  ,0.0) *100.0,	--	FLOAT
		A_SALDO= ISNULL( (FINAL.A_SALDO - ESTOQUE.A_SALDO)/NULLIF(ESTOQUE.A_SALDO,0.0) ,0.0) *100.0,
		B_QTDE = ISNULL( (FINAL.B_QTDE  - ESTOQUE.B_QTDE) /NULLIF(ESTOQUE.B_QTDE ,0.0) ,0.0) *100.0,	--	FLOAT
		B_SALDO= ISNULL( (FINAL.B_SALDO - ESTOQUE.B_SALDO)/NULLIF(ESTOQUE.B_SALDO,0.0) ,0.0) *100.0,
		C_QTDE = ISNULL( (FINAL.C_QTDE  - ESTOQUE.C_QTDE) /NULLIF(ESTOQUE.C_QTDE ,0.0) ,0.0) *100.0,	--	FLOAT
		C_SALDO= ISNULL( (FINAL.C_SALDO - ESTOQUE.C_SALDO)/NULLIF(ESTOQUE.C_SALDO,0.0) ,0.0) *100.0,
		D_QTDE = ISNULL( (FINAL.D_QTDE  - ESTOQUE.D_QTDE) /NULLIF(ESTOQUE.D_QTDE ,0.0) ,0.0) *100.0,	--	FLOAT
		D_SALDO= ISNULL( (FINAL.D_SALDO - ESTOQUE.D_SALDO)/NULLIF(ESTOQUE.D_SALDO,0.0) ,0.0) *100.0,
		E_QTDE = ISNULL( (FINAL.E_QTDE  - ESTOQUE.E_QTDE) /NULLIF(ESTOQUE.E_QTDE ,0.0) ,0.0) *100.0,	--	FLOAT
		E_SALDO= ISNULL( (FINAL.E_SALDO - ESTOQUE.E_SALDO)/NULLIF(ESTOQUE.E_SALDO,0.0) ,0.0) *100.0,
		F_QTDE = ISNULL( (FINAL.F_QTDE  - ESTOQUE.F_QTDE) /NULLIF(ESTOQUE.F_QTDE ,0.0) ,0.0) *100.0,	--	FLOAT
		F_SALDO= ISNULL( (FINAL.F_SALDO - ESTOQUE.F_SALDO)/NULLIF(ESTOQUE.F_SALDO,0.0) ,0.0) *100.0,
		G_QTDE = ISNULL( (FINAL.G_QTDE  - ESTOQUE.G_QTDE) /NULLIF(ESTOQUE.G_QTDE ,0.0) ,0.0) *100.0,	--	FLOAT
		G_SALDO= ISNULL( (FINAL.G_SALDO - ESTOQUE.G_SALDO)/NULLIF(ESTOQUE.G_SALDO,0.0) ,0.0) *100.0,
		H_QTDE = ISNULL( (FINAL.H_QTDE  - ESTOQUE.H_QTDE) /NULLIF(ESTOQUE.H_QTDE ,0.0) ,0.0) *100.0,	--	FLOAT
		H_SALDO= ISNULL( (FINAL.H_SALDO - ESTOQUE.H_SALDO)/NULLIF(ESTOQUE.H_SALDO,0.0) ,0.0) *100.0,
		HH_QTDE = ISNULL( (FINAL.HH_QTDE- ESTOQUE.HH_QTDE)/NULLIF(ESTOQUE.HH_QTDE ,0.0) ,0.0) *100.0,	--	FLOAT
		HH_SALDO= ISNULL( (FINAL.HH_SALDO-ESTOQUE.HH_SALDO)/NULLIF(ESTOQUE.HH_SALDO,0.0) ,0.0) *100.0,
		TTL_QTDE  = 0.0,
		TTL_SALDO = 0.0
FROM	(SELECT		* 
			FROM	RR_ROLLRATE_RPT R1	(NOLOCK) 
			WHERE	R1.DT_FECHA		= @data_ref
				AND	R1.ORDEM_LINHA	= 5	) AS FINAL, -- FINAL
		(SELECT		* 
			FROM	RR_ROLLRATE_RPT R2	(NOLOCK) 
			WHERE	R2.DT_FECHA		= @data_ref
				AND	R2.ORDEM_LINHA	= 1	) AS ESTOQUE -- SALDO INICIAL
	
WHERE	RR_ROLLRATE_RPT.DT_FECHA = @data_ref
	AND RR_ROLLRATE_RPT.ORDEM_LINHA=8	-- % VAR SALDO
	AND FINAL.AGENTE     = RR_ROLLRATE_RPT.AGENTE	-- QUEBRAS
	AND	FINAL.COBRADORA  = RR_ROLLRATE_RPT.COBRADORA
	AND ESTOQUE.AGENTE   = RR_ROLLRATE_RPT.AGENTE
	AND	ESTOQUE.COBRADORA= RR_ROLLRATE_RPT.COBRADORA

-- LINHA 9 NOVA -- VLR PROVISAO PDD ************* NOV/14
-- SELECT * FROM RR_ROLLRATE_RPT WHERE DT_FECHA='2014-10-31'
UPDATE	RR_ROLLRATE_RPT
SET		
		A_SALDO= ISNULL( (FINAL.A_SALDO - ESTOQUE.A_SALDO)* 0.005 ,0.0) ,
		B_SALDO= ISNULL( (FINAL.B_SALDO - ESTOQUE.B_SALDO)* 0.01 ,0.0) ,
		C_SALDO= ISNULL( (FINAL.C_SALDO - ESTOQUE.C_SALDO)* 0.03 ,0.0) ,
		D_SALDO= ISNULL( (FINAL.D_SALDO - ESTOQUE.D_SALDO)* 0.10 ,0.0) ,
		E_SALDO= ISNULL( (FINAL.E_SALDO - ESTOQUE.E_SALDO)* 0.30 ,0.0) ,
		F_SALDO= ISNULL( (FINAL.F_SALDO - ESTOQUE.F_SALDO)* 0.50 ,0.0) ,
		G_SALDO= ISNULL( (FINAL.G_SALDO - ESTOQUE.G_SALDO)* 0.70 ,0.0) ,
		H_SALDO= ISNULL( (FINAL.H_SALDO - ESTOQUE.H_SALDO)* 1.00 ,0.0) ,
		--HH_SALDO= ISNULL( (FINAL.HH_SALDO-ESTOQUE.HH_SALDO) * 1.00 ,0.0) *100.0,
		TTL_SALDO = 0.0
FROM	(SELECT		* 
			FROM	RR_ROLLRATE_RPT R1	(NOLOCK) 
			WHERE	R1.DT_FECHA		= @data_ref
				AND	R1.ORDEM_LINHA	= 5	) AS FINAL, -- FINAL
		(SELECT		* 
			FROM	RR_ROLLRATE_RPT R2	(NOLOCK) 
			WHERE	R2.DT_FECHA		= @data_ref
				AND	R2.ORDEM_LINHA	= 1	) AS ESTOQUE -- SALDO INICIAL
	
WHERE	RR_ROLLRATE_RPT.DT_FECHA = @data_ref
	AND RR_ROLLRATE_RPT.ORDEM_LINHA=9	-- VLR PROV PDD
	AND FINAL.AGENTE     = RR_ROLLRATE_RPT.AGENTE	-- QUEBRAS
	AND	FINAL.COBRADORA  = RR_ROLLRATE_RPT.COBRADORA
	AND ESTOQUE.AGENTE   = RR_ROLLRATE_RPT.AGENTE
	AND	ESTOQUE.COBRADORA= RR_ROLLRATE_RPT.COBRADORA
-- HH ENTRADA EM PREJU
UPDATE	RR_ROLLRATE_RPT
SET		
		HH_SALDO= ISNULL( FINAL.HH_SALDO ,0.0) 
FROM	(SELECT		* 
			FROM	RR_ROLLRATE_RPT R1	(NOLOCK) 
			WHERE	R1.DT_FECHA		= @data_ref
				AND	R1.ORDEM_LINHA	= 2	) AS FINAL -- ENTRADA EM PREJU
WHERE	RR_ROLLRATE_RPT.DT_FECHA = @data_ref
	AND RR_ROLLRATE_RPT.ORDEM_LINHA=9	-- VLR PROV PDD
	AND FINAL.AGENTE     = RR_ROLLRATE_RPT.AGENTE	-- QUEBRAS
	AND	FINAL.COBRADORA  = RR_ROLLRATE_RPT.COBRADORA

-- TTL
UPDATE	RR_ROLLRATE_RPT
SET		
		TTL_SALDO = A_SALDO + B_SALDO + C_SALDO + D_SALDO  + E_SALDO + F_SALDO + G_SALDO + H_SALDO + HH_SALDO
WHERE	RR_ROLLRATE_RPT.DT_FECHA = @data_ref
	AND RR_ROLLRATE_RPT.ORDEM_LINHA=9	-- VLR PROV PDD


END
GO


-- SELECT * FROM RR_AUX_CONTRATO_2M
-- SELECT * FROM RR_ROLLRATE_RPT WHERE DT_FECHA='2014-10-31'