
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

use SIG
--use SF_relatorios
go

/*

 EXEC [dbo].[RR_RATING_PROJETADO]	'2014-06-30', '2014-05-30', '2014-06-01', '2014-06-30'
 EXEC [dbo].[RR_CALCULO_diario]		'2014-06-30' , '2014-05-30'
 EXEC [dbo].[RR_RELATORIO_DIARIO]	'2014-06-30' , '2014-05-30'


 EXEC [dbo].[RR_RELATORIO_DIARIO]  '2014-05-05','20140430'

 EXEC [dbo].[RR_RELATORIO_DIARIO]  '2014-02-27'
SELECT * FROM RR_ROLLRATE_DIA_RPT  WHERE DT_FECHA = '2014-02-27'


 EXEC [dbo].[RR_RELATORIO_DIARIO]  '2014-03-20'
SELECT * FROM RR_ROLLRATE_DIA_RPT  WHERE DT_FECHA = '2014-03-20'

EXEC [dbo].[RR_RELATORIO_DIARIO]  '2014-05-02', '2014-03-31'


 EXEC [dbo].[RR_RELATORIO_DIARIO]  '2014-03-31'

SELECT * FROM RR_ROLLRATE_DIA_RPT ORDER BY DT_FECHA DESC, ORDEM_LINHA ASC


*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'RR_RELATORIO_DIARIO' AND type = 'P')
   DROP PROCEDURE [dbo].[RR_RELATORIO_DIARIO]
GO


CREATE Procedure [dbo].[RR_RELATORIO_DIARIO] (@data_ref as datetime,  @data_ANT AS SMALLDATETIME) AS
BEGIN

DECLARE @DTREF AS VARCHAR(8)
SET @DTREF = CONVERT(varchar(8),@data_ref,112)


/*  PARAMETRO DATA FECHAMENTO DA PDD
DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END

*/
-- SELECT  CONVERT(CHAR(4),DATEPART(YEAR,GETDATE()))+RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,GETDATE()))),2)+'01'

-- APAGA PROCESSAMENTO ANTERIOR
delete  from RR_ROLLRATE_DIA_RPT 
	WHERE	 CONVERT(varchar(8),DT_FECHA,112) = @DTREF
	
-- CARREGA TABELA RESULTADO  
/*
CREATE TABLE RR_ROLLRATE_DIA_RPT (
	DT_FECHA		SMALLDATETIME,
	AGENTE			VARCHAR(6),
	COBRADORA		VARCHAR(6),
	ORDEM_LINHA		int,
	FORMATO			VARCHAR(6),
	DESCRICAO		VARCHAR(50),

	AA_QTDE			FLOAT,
	AA_SALDO		FLOAT,
	A_QTDE			FLOAT,
	A_SALDO			FLOAT,
	B_QTDE			FLOAT,
	B_SALDO			FLOAT,
	C_QTDE			FLOAT,
	C_SALDO			FLOAT,
	D_QTDE			FLOAT,
	D_SALDO			FLOAT,
	E_QTDE			FLOAT,
	E_SALDO			FLOAT,
	F_QTDE			FLOAT,
	F_SALDO			FLOAT,
	G_QTDE			FLOAT,
	G_SALDO			FLOAT,
	H_QTDE			FLOAT,
	H_SALDO			FLOAT,
	HH_QTDE			FLOAT,
	HH_SALDO		FLOAT,
	TTL_QTDE		FLOAT,
	TTL_SALDO		FLOAT
	 )

*/

-- CARREGA DADOS ATUAIS
-- INSERE LINHAS ZERADAS E DEPOIS UPDATE
-- 1A LINHA
INSERT	RR_ROLLRATE_DIA_RPT
	(	
	DT_FECHA	,--	SMALLDATETIME,
	AGENTE		,--	VARCHAR(6),
	COBRADORA	,--	VARCHAR(6),
	ORDEM_LINHA	,--	int,
	FORMATO		,--	VARCHAR(6),
	DESCRICAO	,--	VARCHAR(50),

	AA_QTDE		,--	FLOAT,
	AA_SALDO		,--	FLOAT,
	A_QTDE		,--	FLOAT,
	A_SALDO		,--	FLOAT,
	B_QTDE		,--	FLOAT,
	B_SALDO		,--	FLOAT,
	C_QTDE		,--	FLOAT,
	C_SALDO		,--	FLOAT,
	D_QTDE		,--	FLOAT,
	D_SALDO		,--	FLOAT,
	E_QTDE		,--	FLOAT,
	E_SALDO		,--	FLOAT,
	F_QTDE		,--	FLOAT,
	F_SALDO		,--	FLOAT,
	G_QTDE		,--	FLOAT,
	G_SALDO		,--	FLOAT,
	H_QTDE		,--	FLOAT,
	H_SALDO		,--	FLOAT,
	HH_QTDE		,--	FLOAT,
	HH_SALDO	,--	FLOAT,
	TTL_QTDE	,--	FLOAT,
	TTL_SALDO	--	FLOAT
)
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		1,  -- SALDO ANTERIOR
		'',	-- FORMATO
		'SALDO INICIAL' ,		-- DESCRICAO
		0.0,	-- QTDE
		0.0,	-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- A
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL

/*
 DECLARE @data_ref SMALLDATETIME SET @data_ref='2014-05-02 19:22:00'
 SELECT @data_ref
 SELECT CONVERT(varchar(8),@data_ref,112)
 --SELECT CAST(@data_ref AS date)
SELECT *  */
FROM
		RR_ROLLRATE_DIA	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE


-- 2A LINHA
INSERT	RR_ROLLRATE_DIA_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		2,				-- linha 2
		'V',			-- FORMATO
		'ENTRADAS' ,	-- DESCRICAO
		0.0,			-- QTDE
		0.0,			-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- A
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE_DIA	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 3A LINHA
INSERT	RR_ROLLRATE_DIA_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		3,				-- linha 3
		'A',			-- FORMATO
		'RECUPERACAO' ,	-- DESCRICAO
		0.0,			-- QTDE
		0.0,			-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- A
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE_DIA	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 4A LINHA
INSERT	RR_ROLLRATE_DIA_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		4,				-- linha 4
		'A',			-- FORMATO A= VERMELHO NA TELA
		'ROLAGEM' ,		-- DESCRICAO
		0.0,			-- QTDE
		0.0,			-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- A
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE_DIA	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 5A LINHA
INSERT	RR_ROLLRATE_DIA_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		5,				-- linha 5
		'',				-- FORMATO
		'SALDO FINAL' ,	-- DESCRICAO
		0.0,			-- QTDE
		0.0,			-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- A
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE_DIA	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 6A LINHA
INSERT	RR_ROLLRATE_DIA_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		6,				-- linha 6
		'',				-- FORMATO
		'% RECUP/ESTOQUE' ,	-- DESCRICAO
		0.0,			-- QTDE
		0.0,			-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- A
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE_DIA	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 7A LINHA
INSERT	RR_ROLLRATE_DIA_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		7,				-- linha 7
		'',				-- FORMATO
		'% ROLAGENS' ,	-- DESCRICAO
		0.0,			-- QTDE
		0.0,			-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- A
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE_DIA	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- 8A LINHA
INSERT	RR_ROLLRATE_DIA_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		8,				-- linha 8
		'',				-- FORMATO
		'% VAR SALDO' ,	-- DESCRICAO
		0.0,			-- QTDE
		0.0,			-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- A
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE_DIA	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

/*
SELECT	@data_ref,
		AGENTE,
		COBRADORA,
		1,  -- SALDO ANTERIOR
		'',	-- FORMATO
		'SALDO INICIAL' ,		-- DESCRICAO
		IsNULL(SUM(QTDE),0),	-- QTDE
		ISNULL(SUM(SALDO),0.0),	-- SALDO
		-- OUTRAS FAIXAS
		0.0, 0.0,	-- B
		0.0, 0.0,	-- C
		0.0, 0.0,	-- D
		0.0, 0.0,	-- E
		0.0, 0.0,	-- F
		0.0, 0.0,	-- G
		0.0, 0.0,	-- H
		0.0, 0.0,	-- HH
		-- TOTAL
		IsNULL(SUM(QTDE),0),	-- QTDE
		ISNULL(SUM(SALDO),0.0)	-- SALDO
FROM
		RR_ROLLRATE	R	(NOLOCK)	
where	DT_FECHA = @data_ANT  -- FINAL DO MES ANTERIOR = INICIAL DESTE MES
	AND	ORDEM_LINHA = 5       -- LINHA DE SALDO FINAL	
 -- MES CORRENTE JA CALCULADO
	AND	RATING   = 'A'
GROUP	BY R.AGENTE, R.COBRADORA
*/


-- ATUALIZAR O RELATORIO COM AS QTDES E SALDOS POR FAIXA DE ATRASO
-- FAIXA AA
UPDATE	RR_ROLLRATE_DIA_RPT
SET		AA_QTDE = R.QTDE,	--	FLOAT
		AA_SALDO= R.SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE_DIA	R (NOLOCK) 
WHERE	CONVERT(varchar(8),R.DT_FECHA,112) = @DTREF
	AND	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND	R.RATING='AA'
	AND R.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_DIA_RPT.ORDEM_LINHA

-- FAIXA A
UPDATE	RR_ROLLRATE_DIA_RPT
SET		A_QTDE = R.QTDE,	--	FLOAT
		A_SALDO= R.SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE_DIA	R (NOLOCK) 
WHERE	CONVERT(varchar(8),R.DT_FECHA,112) = @DTREF
	AND	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND	R.RATING='A'
	AND R.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_DIA_RPT.ORDEM_LINHA

-- FAIXA B
UPDATE	RR_ROLLRATE_DIA_RPT
SET		B_QTDE = QTDE,	--	FLOAT
		B_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE_DIA	R (NOLOCK) 
WHERE	CONVERT(varchar(8),R.DT_FECHA,112) = @DTREF
	AND	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND	R.RATING='B'
	AND R.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_DIA_RPT.ORDEM_LINHA

-- FAIXA C
UPDATE	RR_ROLLRATE_DIA_RPT
SET		C_QTDE = QTDE,	--	FLOAT
		C_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE_DIA	R (NOLOCK) 
WHERE	CONVERT(varchar(8),R.DT_FECHA,112) = @DTREF
	AND	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND	R.RATING='C'
	AND R.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_DIA_RPT.ORDEM_LINHA

-- FAIXA D
UPDATE	RR_ROLLRATE_DIA_RPT
SET		D_QTDE = QTDE,	--	FLOAT
		D_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE_DIA	R (NOLOCK) 
WHERE	CONVERT(varchar(8),R.DT_FECHA,112) = @DTREF
	AND	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND	R.RATING='D'
	AND R.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_DIA_RPT.ORDEM_LINHA

-- FAIXA E
UPDATE	RR_ROLLRATE_DIA_RPT
SET		E_QTDE = QTDE,	--	FLOAT
		E_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE_DIA	R (NOLOCK) 
WHERE	CONVERT(varchar(8),R.DT_FECHA,112) = @DTREF
	AND	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND	R.RATING='E'
	AND R.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_DIA_RPT.ORDEM_LINHA

-- FAIXA F
UPDATE	RR_ROLLRATE_DIA_RPT
SET		F_QTDE = QTDE,	--	FLOAT
		F_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE_DIA	R (NOLOCK) 
WHERE	CONVERT(varchar(8),R.DT_FECHA,112) = @DTREF
	AND	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND	R.RATING='F'
	AND R.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_DIA_RPT.ORDEM_LINHA

-- FAIXA G
UPDATE	RR_ROLLRATE_DIA_RPT
SET		G_QTDE = QTDE,	--	FLOAT
		G_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE_DIA	R (NOLOCK) 
WHERE	CONVERT(varchar(8),R.DT_FECHA,112) = @DTREF
	AND	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND	R.RATING='G'
	AND R.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_DIA_RPT.ORDEM_LINHA

-- FAIXA H
UPDATE	RR_ROLLRATE_DIA_RPT
SET		H_QTDE = QTDE,	--	FLOAT
		H_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE_DIA	R (NOLOCK) 
WHERE	CONVERT(varchar(8),R.DT_FECHA,112) = @DTREF
	AND	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND	R.RATING='H'
	AND R.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_DIA_RPT.ORDEM_LINHA

-- FAIXA HH
UPDATE	RR_ROLLRATE_DIA_RPT
SET		HH_QTDE = QTDE,	--	FLOAT
		HH_SALDO= SALDO,
		TTL_QTDE  = TTL_QTDE  + R.QTDE,
		TTL_SALDO = TTL_SALDO + R.SALDO
FROM	RR_ROLLRATE_DIA	R (NOLOCK) 
WHERE	CONVERT(varchar(8),R.DT_FECHA,112) = @DTREF
	AND	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND	R.RATING='HH'
	AND R.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE
	AND	R.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
	AND R.ORDEM_LINHA= RR_ROLLRATE_DIA_RPT.ORDEM_LINHA


/*
SELECT R.QTDE,R.SALDO
FROM	(SELECT		* 
			FROM 	RR_ROLLRATE	R	(NOLOCK)	
			where	DT_FECHA = '2013-12-31'
			AND		RATING='A') AS R  -- MES CORRENTE
JOIN	(SELECT		*
			FROM 	RR_ROLLRATE_DIA_RPT	R	(NOLOCK)	
			where	DT_FECHA = '2013-12-31') AS RPT  -- MES CORRENTE
ON		R.DT_FECHA = RPT.DT_FECHA
	AND R.AGENTE   = RPT.AGENTE
	AND	R.COBRADORA= RPT.COBRADORA
	AND R.ORDEM_LINHA= RPT.ORDEM_LINHA

where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE
*/

-- SELECT IF(0=1,'V','F')
-- SELECT 10/0
-- **********************************
-- CALCULA OS %
-- % RECUPERACAO / ESTOQUE
UPDATE	RR_ROLLRATE_DIA_RPT
SET		
		AA_QTDE = ISNULL(RECUP.AA_QTDE /NULLIF(ESTOQUE.AA_QTDE,0.0) ,0.0)*100.0 ,	--	FLOAT
		AA_SALDO= ISNULL(RECUP.AA_SALDO/NULLIF(ESTOQUE.AA_SALDO,0.0) ,0.0)*100.0,
		A_QTDE = ISNULL(RECUP.A_QTDE /NULLIF(ESTOQUE.A_QTDE,0.0) ,0.0)*100.0 ,	--	FLOAT
		A_SALDO= ISNULL(RECUP.A_SALDO/NULLIF(ESTOQUE.A_SALDO,0.0) ,0.0)*100.0,
		B_QTDE = ISNULL(RECUP.B_QTDE /NULLIF(ESTOQUE.B_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		B_SALDO= ISNULL(RECUP.B_SALDO/NULLIF(ESTOQUE.B_SALDO,0.0) ,0.0)*100.0,
		C_QTDE = ISNULL(RECUP.C_QTDE /NULLIF(ESTOQUE.C_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		C_SALDO= ISNULL(RECUP.C_SALDO/NULLIF(ESTOQUE.C_SALDO,0.0) ,0.0)*100.0,
		D_QTDE = ISNULL(RECUP.D_QTDE /NULLIF(ESTOQUE.D_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		D_SALDO= ISNULL(RECUP.D_SALDO/NULLIF(ESTOQUE.D_SALDO,0.0) ,0.0)*100.0,
		E_QTDE = ISNULL(RECUP.E_QTDE /NULLIF(ESTOQUE.E_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		E_SALDO= ISNULL(RECUP.E_SALDO/NULLIF(ESTOQUE.E_SALDO,0.0) ,0.0)*100.0,
		F_QTDE = ISNULL(RECUP.F_QTDE /NULLIF(ESTOQUE.F_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		F_SALDO= ISNULL(RECUP.F_SALDO/NULLIF(ESTOQUE.F_SALDO,0.0) ,0.0)*100.0,
		G_QTDE = ISNULL(RECUP.G_QTDE /NULLIF(ESTOQUE.G_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		G_SALDO= ISNULL(RECUP.G_SALDO/NULLIF(ESTOQUE.G_SALDO,0.0) ,0.0)*100.0,
		H_QTDE = ISNULL(RECUP.H_QTDE /NULLIF(ESTOQUE.H_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		H_SALDO= ISNULL(RECUP.H_SALDO/NULLIF(ESTOQUE.H_SALDO,0.0) ,0.0)*100.0,
		HH_QTDE = ISNULL(RECUP.HH_QTDE /NULLIF(ESTOQUE.HH_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		HH_SALDO= ISNULL(RECUP.HH_SALDO/NULLIF(ESTOQUE.HH_SALDO,0.0) ,0.0)*100.0,
		TTL_QTDE  = 0.0,
		TTL_SALDO = 0.0
FROM	(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R1	(NOLOCK) 
			WHERE	CONVERT(VARCHAR(8),R1.DT_FECHA,112)		= @DTREF
				AND	R1.ORDEM_LINHA	= 3	) AS RECUP, -- RECUP
		(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R2	(NOLOCK) 
			WHERE	CONVERT(VARCHAR(8),R2.DT_FECHA,112)		= @DTREF
				AND	R2.ORDEM_LINHA	= 1	) AS ESTOQUE -- SALDO INICIAL
	
WHERE	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND RR_ROLLRATE_DIA_RPT.ORDEM_LINHA=6	-- % RECUP/ESTOQUE
	AND RECUP.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE	-- QUEBRAS
	AND	RECUP.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
	AND ESTOQUE.AGENTE   = RR_ROLLRATE_DIA_RPT.AGENTE
	AND	ESTOQUE.COBRADORA= RR_ROLLRATE_DIA_RPT.COBRADORA

-- % ROLAGEM / SALDO INICIAL
UPDATE	RR_ROLLRATE_DIA_RPT
SET		
		AA_QTDE = ISNULL( ROLA.AA_QTDE /NULLIF(ESTOQUE.AA_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		AA_SALDO= ISNULL( ROLA.AA_SALDO/NULLIF(ESTOQUE.AA_SALDO,0.0) ,0.0)*100.0,
		A_QTDE = ISNULL( ROLA.A_QTDE /NULLIF(ESTOQUE.A_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		A_SALDO= ISNULL( ROLA.A_SALDO/NULLIF(ESTOQUE.A_SALDO,0.0) ,0.0)*100.0,
		B_QTDE = ISNULL( ROLA.B_QTDE /NULLIF(ESTOQUE.B_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		B_SALDO= ISNULL( ROLA.B_SALDO/NULLIF(ESTOQUE.B_SALDO,0.0) ,0.0)*100.0,
		C_QTDE = ISNULL( ROLA.C_QTDE /NULLIF(ESTOQUE.C_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		C_SALDO= ISNULL( ROLA.C_SALDO/NULLIF(ESTOQUE.C_SALDO,0.0) ,0.0)*100.0,
		D_QTDE = ISNULL( ROLA.D_QTDE /NULLIF(ESTOQUE.D_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		D_SALDO= ISNULL( ROLA.D_SALDO/NULLIF(ESTOQUE.D_SALDO,0.0) ,0.0)*100.0,
		E_QTDE = ISNULL( ROLA.E_QTDE /NULLIF(ESTOQUE.E_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		E_SALDO= ISNULL( ROLA.E_SALDO/NULLIF(ESTOQUE.E_SALDO,0.0) ,0.0)*100.0,
		F_QTDE = ISNULL( ROLA.F_QTDE /NULLIF(ESTOQUE.F_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		F_SALDO= ISNULL( ROLA.F_SALDO/NULLIF(ESTOQUE.F_SALDO,0.0) ,0.0)*100.0,
		G_QTDE = ISNULL( ROLA.G_QTDE /NULLIF(ESTOQUE.G_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		G_SALDO= ISNULL( ROLA.G_SALDO/NULLIF(ESTOQUE.G_SALDO,0.0) ,0.0)*100.0,
		H_QTDE = ISNULL( ROLA.H_QTDE /NULLIF(ESTOQUE.H_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		H_SALDO= ISNULL( ROLA.H_SALDO/NULLIF(ESTOQUE.H_SALDO,0.0) ,0.0)*100.0,
		HH_QTDE = ISNULL( ROLA.HH_QTDE /NULLIF(ESTOQUE.HH_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		HH_SALDO= ISNULL( ROLA.HH_SALDO/NULLIF(ESTOQUE.HH_SALDO,0.0) ,0.0)*100.0,
		TTL_QTDE  = 0.0,
		TTL_SALDO = 0.0
FROM	(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R1	(NOLOCK) 
			WHERE	CONVERT(varchar(8),R1.DT_FECHA,112)		= @DTREF
				AND	R1.ORDEM_LINHA	= 4	) AS ROLA, -- ROLA
		(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R2	(NOLOCK) 
			WHERE	CONVERT(varchar(8),R2.DT_FECHA,112)		= @DTREF
				AND	R2.ORDEM_LINHA	= 1	) AS ESTOQUE -- SALDO INICIAL
	
WHERE	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND RR_ROLLRATE_DIA_RPT.ORDEM_LINHA=7	-- % ROLA/ESTOQUE
	AND ROLA.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE	-- QUEBRAS
	AND	ROLA.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
	AND ESTOQUE.AGENTE   = RR_ROLLRATE_DIA_RPT.AGENTE
	AND	ESTOQUE.COBRADORA= RR_ROLLRATE_DIA_RPT.COBRADORA

-- % VARIA SALDO / SALDO INICIAL
UPDATE	RR_ROLLRATE_DIA_RPT
SET		
		AA_QTDE = ISNULL( (FINAL.AA_QTDE  - ESTOQUE.AA_QTDE) /NULLIF(ESTOQUE.AA_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		AA_SALDO= ISNULL( (FINAL.AA_SALDO - ESTOQUE.AA_SALDO)/NULLIF(ESTOQUE.AA_SALDO,0.0) ,0.0)*100.0,
		A_QTDE = ISNULL( (FINAL.A_QTDE  - ESTOQUE.A_QTDE) /NULLIF(ESTOQUE.A_QTDE,0.0)  ,0.0)*100.0,	--	FLOAT
		A_SALDO= ISNULL( (FINAL.A_SALDO - ESTOQUE.A_SALDO)/NULLIF(ESTOQUE.A_SALDO,0.0) ,0.0)*100.0,
		B_QTDE = ISNULL( (FINAL.B_QTDE  - ESTOQUE.B_QTDE) /NULLIF(ESTOQUE.B_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		B_SALDO= ISNULL( (FINAL.B_SALDO - ESTOQUE.B_SALDO)/NULLIF(ESTOQUE.B_SALDO,0.0) ,0.0)*100.0,
		C_QTDE = ISNULL( (FINAL.C_QTDE  - ESTOQUE.C_QTDE) /NULLIF(ESTOQUE.C_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		C_SALDO= ISNULL( (FINAL.C_SALDO - ESTOQUE.C_SALDO)/NULLIF(ESTOQUE.C_SALDO,0.0) ,0.0)*100.0,
		D_QTDE = ISNULL( (FINAL.D_QTDE  - ESTOQUE.D_QTDE) /NULLIF(ESTOQUE.D_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		D_SALDO= ISNULL( (FINAL.D_SALDO - ESTOQUE.D_SALDO)/NULLIF(ESTOQUE.D_SALDO,0.0) ,0.0)*100.0,
		E_QTDE = ISNULL( (FINAL.E_QTDE  - ESTOQUE.E_QTDE) /NULLIF(ESTOQUE.E_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		E_SALDO= ISNULL( (FINAL.E_SALDO - ESTOQUE.E_SALDO)/NULLIF(ESTOQUE.E_SALDO,0.0) ,0.0)*100.0,
		F_QTDE = ISNULL( (FINAL.F_QTDE  - ESTOQUE.F_QTDE) /NULLIF(ESTOQUE.F_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		F_SALDO= ISNULL( (FINAL.F_SALDO - ESTOQUE.F_SALDO)/NULLIF(ESTOQUE.F_SALDO,0.0) ,0.0)*100.0,
		G_QTDE = ISNULL( (FINAL.G_QTDE  - ESTOQUE.G_QTDE) /NULLIF(ESTOQUE.G_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		G_SALDO= ISNULL( (FINAL.G_SALDO - ESTOQUE.G_SALDO)/NULLIF(ESTOQUE.G_SALDO,0.0) ,0.0)*100.0,
		H_QTDE = ISNULL( (FINAL.H_QTDE  - ESTOQUE.H_QTDE) /NULLIF(ESTOQUE.H_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		H_SALDO= ISNULL( (FINAL.H_SALDO - ESTOQUE.H_SALDO)/NULLIF(ESTOQUE.H_SALDO,0.0) ,0.0)*100.0,
		HH_QTDE = ISNULL( (FINAL.HH_QTDE- ESTOQUE.HH_QTDE)/NULLIF(ESTOQUE.HH_QTDE ,0.0) ,0.0)*100.0,	--	FLOAT
		HH_SALDO= ISNULL( (FINAL.HH_SALDO-ESTOQUE.HH_SALDO)/NULLIF(ESTOQUE.HH_SALDO,0.0) ,0.0)*100.0,
		TTL_QTDE  = 0.0,
		TTL_SALDO = 0.0
FROM	(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R1	(NOLOCK) 
			WHERE	R1.DT_FECHA		= @data_ref
				AND	R1.ORDEM_LINHA	= 5	) AS FINAL, -- FINAL
		(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R2	(NOLOCK) 
			WHERE	R2.DT_FECHA		= @data_ref
				AND	R2.ORDEM_LINHA	= 1	) AS ESTOQUE -- SALDO INICIAL
	
WHERE	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND RR_ROLLRATE_DIA_RPT.ORDEM_LINHA=8	-- % VAR SALDO
	AND FINAL.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE	-- QUEBRAS
	AND	FINAL.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
	AND ESTOQUE.AGENTE   = RR_ROLLRATE_DIA_RPT.AGENTE
	AND	ESTOQUE.COBRADORA= RR_ROLLRATE_DIA_RPT.COBRADORA


-- select * from BACENSANTANAMicroCredito..TNIVE
-- 0,5  1   3  10  30  50  70  100  100
-- 9A LINHA
INSERT	RR_ROLLRATE_DIA_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		9,				-- linha 9
		'',				-- FORMATO
		'% PDD' ,		-- DESCRICAO
		0.0,			-- QTDE
		0.5,			-- SALDO AA
		-- OUTRAS FAIXAS
		0.0, 0.5,	-- A
		0.0, 1.0,	-- B
		0.0, 3.0,	-- C
		0.0, 10.0,	-- D
		0.0, 30.0,	-- E
		0.0, 50.0,	-- F
		0.0, 70.0,	-- G
		0.0, 100.0,	-- H
		0.0, 100.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE_DIA	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE

-- **********************************************************************************************
-- 10A LINHA
INSERT	RR_ROLLRATE_DIA_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		10,				-- linha 10
		'',				-- FORMATO
		'VLR PDD PROVISAO' ,		-- DESCRICAO
		0.0,			-- QTDE
		0.5,			-- SALDO AA
		-- OUTRAS FAIXAS
		0.0, 0.5,	-- A
		0.0, 1.0,	-- B
		0.0, 3.0,	-- C
		0.0, 10.0,	-- D
		0.0, 30.0,	-- E
		0.0, 50.0,	-- F
		0.0, 70.0,	-- G
		0.0, 100.0,	-- H
		0.0, 100.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE_DIA	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE
-- CALCULA O VLR PDD
-- CALCULO DA PROVISAO DE PDD
UPDATE	RR_ROLLRATE_DIA_RPT
SET		
		AA_QTDE = 0.0,	--	FLOAT
		AA_SALDO= ISNULL( (FINAL.AA_SALDO - ESTOQUE.AA_SALDO)* NULLIF(PDD.AA_SALDO,0.0)/100.0 ,0.0),
		A_QTDE = 0.0,	--	FLOAT
		A_SALDO= ISNULL( (FINAL.A_SALDO - ESTOQUE.A_SALDO)* NULLIF(PDD.A_SALDO,0.0)/100.0 ,0.0),
		B_QTDE = 0.0,	--	FLOAT
		B_SALDO= ISNULL( (FINAL.B_SALDO - ESTOQUE.B_SALDO)* NULLIF(PDD.B_SALDO,0.0)/100.0 ,0.0),
		C_QTDE = 0.0,	--	FLOAT
		C_SALDO= ISNULL( (FINAL.C_SALDO - ESTOQUE.C_SALDO)* NULLIF(PDD.C_SALDO,0.0)/100.0 ,0.0),
		D_QTDE = 0.0,	--	FLOAT
		D_SALDO= ISNULL( (FINAL.D_SALDO - ESTOQUE.D_SALDO)* NULLIF(PDD.D_SALDO,0.0)/100.0 ,0.0),
		E_QTDE = 0.0,	--	FLOAT
		E_SALDO= ISNULL( (FINAL.E_SALDO - ESTOQUE.E_SALDO)* NULLIF(PDD.E_SALDO,0.0)/100.0 ,0.0),
		F_QTDE = 0.0,	--	FLOAT
		F_SALDO= ISNULL( (FINAL.F_SALDO - ESTOQUE.F_SALDO)* NULLIF(PDD.F_SALDO,0.0)/100.0 ,0.0),
		G_QTDE = 0.0,	--	FLOAT
		G_SALDO= ISNULL( (FINAL.G_SALDO - ESTOQUE.G_SALDO)* NULLIF(PDD.G_SALDO,0.0)/100.0 ,0.0),
		H_QTDE = 0.0,	--	FLOAT
		H_SALDO= ISNULL( (FINAL.H_SALDO - ESTOQUE.H_SALDO)* NULLIF(PDD.H_SALDO,0.0)/100.0 ,0.0),
		HH_QTDE = 0.0,	--	FLOAT
		HH_SALDO= 0.0,  -- NAO PROVISIONA HH
--ISNULL( (FINAL.HH_SALDO-ESTOQUE.HH_SALDO)*NULLIF(PDD.HH_SALDO,0.0)/100.0 ,0.0),
		TTL_QTDE  = 0.0,
		TTL_SALDO = ISNULL( (FINAL.TTL_SALDO-ESTOQUE.TTL_SALDO)*NULLIF(PDD.TTL_SALDO,0.0) ,0.0)
FROM	(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R1	(NOLOCK) 
			WHERE	R1.DT_FECHA		= @data_ref
				AND	R1.ORDEM_LINHA	= 5	) AS FINAL, -- FINAL
		(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R2	(NOLOCK) 
			WHERE	R2.DT_FECHA		= @data_ref
				AND	R2.ORDEM_LINHA	= 1	) AS ESTOQUE, -- SALDO INICIAL
		(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R2	(NOLOCK) 
			WHERE	R2.DT_FECHA		= @data_ref
				AND	R2.ORDEM_LINHA	= 9	) AS PDD -- PERCENT PDD
	
WHERE	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND RR_ROLLRATE_DIA_RPT.ORDEM_LINHA=10	-- VLR PDD PROVISIONADO
	AND FINAL.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE	-- QUEBRAS
	AND	FINAL.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
	AND ESTOQUE.AGENTE   = RR_ROLLRATE_DIA_RPT.AGENTE
	AND	ESTOQUE.COBRADORA= RR_ROLLRATE_DIA_RPT.COBRADORA

-- HH PREJUIZO ENTRADA
/*
-- CALCULO DA PROVISAO DE PDD
UPDATE	RR_ROLLRATE_DIA_RPT
SET		
		AA_QTDE = 0.0,	--	FLOAT
		AA_SALDO= ISNULL( (FINAL.AA_SALDO - ESTOQUE.AA_SALDO)* NULLIF(PDD.AA_SALDO,0.0)/100.0 ,0.0),
		A_QTDE = 0.0,	--	FLOAT
		A_SALDO= ISNULL( (FINAL.A_SALDO - ESTOQUE.A_SALDO)* NULLIF(PDD.A_SALDO,0.0)/100.0 ,0.0),
		B_QTDE = 0.0,	--	FLOAT
		B_SALDO= ISNULL( (FINAL.B_SALDO - ESTOQUE.B_SALDO)* NULLIF(PDD.B_SALDO,0.0)/100.0 ,0.0),
		C_QTDE = 0.0,	--	FLOAT
		C_SALDO= ISNULL( (FINAL.C_SALDO - ESTOQUE.C_SALDO)* NULLIF(PDD.C_SALDO,0.0)/100.0 ,0.0),
		D_QTDE = 0.0,	--	FLOAT
		D_SALDO= ISNULL( (FINAL.D_SALDO - ESTOQUE.D_SALDO)* NULLIF(PDD.D_SALDO,0.0)/100.0 ,0.0),
		E_QTDE = 0.0,	--	FLOAT
		E_SALDO= ISNULL( (FINAL.E_SALDO - ESTOQUE.E_SALDO)* NULLIF(PDD.E_SALDO,0.0)/100.0 ,0.0),
		F_QTDE = 0.0,	--	FLOAT
		F_SALDO= ISNULL( (FINAL.F_SALDO - ESTOQUE.F_SALDO)* NULLIF(PDD.F_SALDO,0.0)/100.0 ,0.0),
		G_QTDE = 0.0,	--	FLOAT
		G_SALDO= ISNULL( (FINAL.G_SALDO - ESTOQUE.G_SALDO)* NULLIF(PDD.G_SALDO,0.0)/100.0 ,0.0),
		H_QTDE = 0.0,	--	FLOAT
		H_SALDO= ISNULL( (FINAL.H_SALDO - ESTOQUE.H_SALDO)* NULLIF(PDD.H_SALDO,0.0)/100.0 ,0.0),
		HH_QTDE = 0.0,	--	FLOAT
		HH_SALDO= 0.0,  -- NAO PROVISIONA HH
--ISNULL( (FINAL.HH_SALDO-ESTOQUE.HH_SALDO)*NULLIF(PDD.HH_SALDO,0.0)/100.0 ,0.0),
		TTL_QTDE  = 0.0,
		TTL_SALDO = ISNULL( (FINAL.TTL_SALDO-ESTOQUE.TTL_SALDO)*NULLIF(PDD.TTL_SALDO,0.0) ,0.0)
FROM	(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R1	(NOLOCK) 
			WHERE	R1.DT_FECHA		= @data_ref
				AND	R1.ORDEM_LINHA	= 5	) AS FINAL	
WHERE	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND RR_ROLLRATE_DIA_RPT.ORDEM_LINHA=10	-- VLR PDD PROVISIONADO
	AND FINAL.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE	-- QUEBRAS
	AND	FINAL.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA


UPDATE	RR_ROLLRATE_DIA_RPT
SET		
		HH_SALDO=   FINAL.HH_SALDO  -- NAO PROVISIONA HH
FROM	(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R1	(NOLOCK) 
			WHERE	R1.DT_FECHA		= @data_ref
				AND	R1.ORDEM_LINHA	= 2	) AS FINAL
WHERE	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND RR_ROLLRATE_DIA_RPT.ORDEM_LINHA=10	-- VLR PDD PROVISIONADO
	AND FINAL.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE	-- QUEBRAS
	AND	FINAL.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
*/
-- pdd final 
-- CALCULO DA PROVISAO DE PDD  desembolso ttl + HH rola
-- select * from RR_ROLLRATE_DIA_RPT
-- HH VALOR DO PREJUIZO    -- PROVISAO PDD
UPDATE	RR_ROLLRATE_DIA_RPT
SET		
		HH_SALDO= (ENTRADA.HH_SALDO) --  PROVISIONA HH
FROM	(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R1	(NOLOCK) 
			WHERE	R1.DT_FECHA		= @data_ref
				AND	R1.ORDEM_LINHA	= 2	) AS ENTRADA
WHERE	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND RR_ROLLRATE_DIA_RPT.ORDEM_LINHA=10	-- VLR PDD TTL
	AND ENTRADA.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE	-- QUEBRAS
	AND	ENTRADA.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
/*
UPDATE	RR_ROLLRATE_DIA_RPT
SET		TTL_saldo = ISNULL( ENTRA.HH_SALDO,0.0)
FROM	(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R1	(NOLOCK) 
			WHERE	R1.DT_FECHA		= @data_ref
				AND	R1.ORDEM_LINHA	= 2		-- ENTRADAS EM HH
			) AS ENTRA
WHERE	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND RR_ROLLRATE_DIA_RPT.ORDEM_LINHA=10	-- VLR PDD PROVISIONADO
	AND ENTRA.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE	-- QUEBRAS
	AND	ENTRA.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
*/

-- CALCULO DO TTL PROVISAO DE PDD
UPDATE	RR_ROLLRATE_DIA_RPT
SET		
		TTL_SALDO =  (AA_SALDO + A_SALDO + B_SALDO + C_SALDO + D_SALDO + E_SALDO + F_SALDO + G_SALDO+ H_SALDO) + HH_SALDO
----TTL_SALDO +
		-- HH rola no mes +  TTL provisao de PDD
WHERE	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND RR_ROLLRATE_DIA_RPT.ORDEM_LINHA=10	-- VLR PDD PROVISIONADO



-- **********************************************************************************************
-- 11A LINHA   VLR PDD TTL
INSERT	RR_ROLLRATE_DIA_RPT
SELECT	DISTINCT 
		@data_ref,
		AGENTE,
		COBRADORA,
		11,				-- linha 10
		'',				-- FORMATO
		'VLR PDD' ,		-- DESCRICAO
		0.0,			-- QTDE
		0.5,			-- SALDO AA
		-- OUTRAS FAIXAS
		0.0, 0.5,	-- A
		0.0, 1.0,	-- B
		0.0, 3.0,	-- C
		0.0, 10.0,	-- D
		0.0, 30.0,	-- E
		0.0, 50.0,	-- F
		0.0, 70.0,	-- G
		0.0, 100.0,	-- H
		0.0, 100.0,	-- HH
		-- TOTAL
		0.0, 0.0	-- TTL
FROM
		RR_ROLLRATE_DIA	R	(NOLOCK)	
where	CONVERT(varchar(8),DT_FECHA,112) = @DTREF  -- MES CORRENTE
-- CALCULA O VLR PDD 
-- CALCULO DA PROVISAO DE PDD
UPDATE	RR_ROLLRATE_DIA_RPT
SET		
		AA_QTDE = 0.0,	--	FLOAT
		AA_SALDO= ISNULL( FINAL.AA_SALDO * NULLIF(PDD.AA_SALDO,0.0)/100.0 ,0.0),
		A_QTDE = 0.0,	--	FLOAT
		A_SALDO= ISNULL( (FINAL.A_SALDO)* NULLIF(PDD.A_SALDO,0.0)/100.0 ,0.0),
		B_QTDE = 0.0,	--	FLOAT
		B_SALDO= ISNULL( (FINAL.B_SALDO)* NULLIF(PDD.B_SALDO,0.0)/100.0 ,0.0),
		C_QTDE = 0.0,	--	FLOAT
		C_SALDO= ISNULL( (FINAL.C_SALDO)* NULLIF(PDD.C_SALDO,0.0)/100.0 ,0.0),
		D_QTDE = 0.0,	--	FLOAT
		D_SALDO= ISNULL( (FINAL.D_SALDO)* NULLIF(PDD.D_SALDO,0.0)/100.0 ,0.0),
		E_QTDE = 0.0,	--	FLOAT
		E_SALDO= ISNULL( (FINAL.E_SALDO)* NULLIF(PDD.E_SALDO,0.0)/100.0 ,0.0),
		F_QTDE = 0.0,	--	FLOAT
		F_SALDO= ISNULL( (FINAL.F_SALDO)* NULLIF(PDD.F_SALDO,0.0)/100.0 ,0.0),
		G_QTDE = 0.0,	--	FLOAT
		G_SALDO= ISNULL( (FINAL.G_SALDO)* NULLIF(PDD.G_SALDO,0.0)/100.0 ,0.0),
		H_QTDE = 0.0,	--	FLOAT
		H_SALDO= ISNULL( (FINAL.H_SALDO)* NULLIF(PDD.H_SALDO,0.0)/100.0 ,0.0),
		HH_QTDE = 0.0,	--	FLOAT
		HH_SALDO= 0.0,  -- NAO PROVISIONA HH
--ISNULL( (FINAL.HH_SALDO-ESTOQUE.HH_SALDO)*NULLIF(PDD.HH_SALDO,0.0)/100.0 ,0.0),
		TTL_QTDE  = 0.0,
		TTL_SALDO = ISNULL( (FINAL.TTL_SALDO)*NULLIF(PDD.TTL_SALDO,0.0) ,0.0)
FROM	(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R1	(NOLOCK) 
			WHERE	R1.DT_FECHA		= @data_ref
				AND	R1.ORDEM_LINHA	= 5	) AS FINAL, -- FINAL
		(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R2	(NOLOCK) 
			WHERE	R2.DT_FECHA		= @data_ref
				AND	R2.ORDEM_LINHA	= 1	) AS ESTOQUE, -- SALDO INICIAL
		(SELECT		* 
			FROM	RR_ROLLRATE_DIA_RPT R2	(NOLOCK) 
			WHERE	R2.DT_FECHA		= @data_ref
				AND	R2.ORDEM_LINHA	= 9	) AS PDD -- PERCENT PDD
	
WHERE	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND RR_ROLLRATE_DIA_RPT.ORDEM_LINHA=11	-- VLR PDD TTL
	AND FINAL.AGENTE     = RR_ROLLRATE_DIA_RPT.AGENTE	-- QUEBRAS
	AND	FINAL.COBRADORA  = RR_ROLLRATE_DIA_RPT.COBRADORA
	AND ESTOQUE.AGENTE   = RR_ROLLRATE_DIA_RPT.AGENTE
	AND	ESTOQUE.COBRADORA= RR_ROLLRATE_DIA_RPT.COBRADORA


-- CALCULO DO TTL  DE PDD
UPDATE	RR_ROLLRATE_DIA_RPT
SET		
		TTL_SALDO = AA_SALDO + A_SALDO + B_SALDO + C_SALDO + D_SALDO + E_SALDO + F_SALDO + G_SALDO+ H_SALDO--+ HH_SALDO
WHERE	CONVERT(varchar(8),RR_ROLLRATE_DIA_RPT.DT_FECHA,112) = @DTREF
	AND RR_ROLLRATE_DIA_RPT.ORDEM_LINHA=11	-- VLR PDD  TTL

END
GO


-- SELECT * FROM RR_AUX_CONTRATO_2M