SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
go

/*
CREATE  TABLE		PDD_SAFRA	 (
		DT_PROD		DATETIME,
		DT_PDD		DATETIME,
		DESCR_MES	VARCHAR(8),
		PRAZO		INT,
		VLR_PDD		FLOAT,
		TTL_PDD		FLOAT,
		RATIO		FLOAT)

CREATE	INDEX PDD_SAFRA_IDX1 ON	PDD_SAFRA (DT_PROD,DT_PDD)
CREATE	INDEX PDD_SAFRA_IDX2 ON	PDD_SAFRA (DT_PROD,PRAZO)

CREATE  TABLE		PDD_SAFRA_RPT	 (
		DT_PROD	smalldatetime,
		RPT		int,
		ORDEM	int,
		DESCR1	varchar(100),
		M0		FLOAT,
		M1		FLOAT,
		M2		FLOAT,
		M3		FLOAT,
		M4		FLOAT,
		M5		FLOAT,
		M6		FLOAT,
		M7		FLOAT,
		M8		FLOAT,
		M9		FLOAT,
		M10		FLOAT,		
		M11		FLOAT,	
		M12		FLOAT,
		M13		FLOAT,
		M14		FLOAT,
		M15		FLOAT,
		M16		FLOAT,
		M17		FLOAT,
		M18		FLOAT,
		M19		FLOAT,
		M20		FLOAT,
		M21		FLOAT,
		M22		FLOAT,
		M23		FLOAT,
		M24		FLOAT,
		M25		FLOAT,
		M26		FLOAT,
		M27		FLOAT,
		M28		FLOAT,
		M29		FLOAT,
		M30		FLOAT,
		M31		FLOAT,
		M32		FLOAT,
		M33		FLOAT	)

CREATE	INDEX PDD_SAFRA_RPT_IDX1 ON	PDD_SAFRA_RPT (DT_PROD,RPT,ORDEM,DESCR1)

drop    TABLE		AUX_PDD_SF
CREATE  TABLE		AUX_PDD_SF	 (
--		DT_PROD	smalldatetime,		RPT		int,		ORDEM	int,
		DESCR1	varchar(100),
		M0		FLOAT,
		M1		FLOAT,
		M2		FLOAT,
		M3		FLOAT,
		M4		FLOAT,
		M5		FLOAT,
		M6		FLOAT,
		M7		FLOAT,
		M8		FLOAT,
		M9		FLOAT,
		M10		FLOAT,		
		M11		FLOAT,	
		M12		FLOAT,
		M13		FLOAT,
		M14		FLOAT,
		M15		FLOAT,
		M16		FLOAT,
		M17		FLOAT,
		M18		FLOAT,
		M19		FLOAT,
		M20		FLOAT,
		M21		FLOAT,
		M22		FLOAT,
		M23		FLOAT,
		M24		FLOAT,
		M25		FLOAT,
		M26		FLOAT,
		M27		FLOAT,
		M28		FLOAT,
		M29		FLOAT,
		M30		FLOAT,
		M31		FLOAT,
		M32		FLOAT,
		M33		FLOAT	)

CREATE	INDEX AUX_PDD_SF_IDX1 ON	AUX_PDD_SF (DESCR1)

-- alter  TABLE		AUX_PDD_SF	 add ordem int
-- CREATE	INDEX AUX_PDD_SF_IDX2 ON	AUX_PDD_SF (ordem)

*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'Scr_risco_PDD_safra_tempo' AND type = 'P')
   DROP PROCEDURE [dbo].[Scr_risco_PDD_safra_tempo]
GO

-- [Scr_risco_PDD_safra_tempo] '20160930'
--  select * from 	PDD_SAFRA   (NOLOCK) WHERE DT_PDD = '20160930'
--  select * from 	PDD_SAFRA   (NOLOCK) WHERE DT_PDD = '20140131'

--  select * from 	AUX_PDD_SF  (NOLOCK) 
--  select MAX(DT_PDD) from 		PDD_SAFRA   (NOLOCK) WHERE DT_PDD = '20160930'

-- SELECT * FROM PDD_CUBO (NOLOCK) WHERE DT_FECHA = ''
CREATE Procedure [dbo].[Scr_risco_PDD_safra_tempo] (@data_ref as datetime) AS
BEGIN

--	DECLARE @DTREF AS VARCHAR(8)	SET @DTREF = CONVERT(varchar(8),@data_ref,112)

-- DATAS DOS PERIODOS
--		DECLARE @data_ref AS DATETIME		SET @data_ref ='20160930'
DECLARE @DDTINI AS VARCHAR(8)
SET		@DDTINI = CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref)-2)+' 01'  -- JAN DE 2 ANOS ANTERIORES
--SELECT  @DDTINI

DECLARE @DDTFIM AS VARCHAR(8)
SET		@DDTFIM = CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref))+ ' ' + RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MM,@data_ref))),2)
--SELECT  @DDTFIM

DECLARE @DTINI AS VARCHAR(8)
SET		@DTINI = CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref)-2)+'0101'  -- JAN DE 2 ANOS ANTERIORES
--SELECT  @DTINI

--	DECLARE @data_ref AS DATETIME	SET @data_ref ='20160831'
DECLARE @DTFIM AS DATETIME
--SET		@DTFIM = CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref)) + RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MM,@data_ref))),2)+ '01'
--SET		@DTFIM = CONVERT(VARCHAR(4),DATEPART(YYYY,DATEADD(M,+1,@data_ref))) + RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MM,DATEADD(M,+1,@data_ref)))),2)+ '01'
--SET		@DTFIM = DATEADD (D,-1,@DTFIM)
SET @DTFIM=@data_ref
--	SELECT  @DTFIM


-- LIMPA OS VALORES ANTERIORES
-- DELETE FROM PDD_SAFRA	WHERE DT_PROD BETWEEN	@DTINI AND @DTFIM
TRUNCATE TABLE PDD_SAFRA

-- CADA MES			**********************
-- TOTAL DESPESA DE PDD NO MES DE REF
-- DECLARE @TTL AS FLOAT	SET		@TTL =  (SELECT M1_DESPESA FROM	PDD_CUBO (NOLOCK) 	WHERE	DT_FECHA = @data_ref AND NUM_CUBO =4 AND M0_DESCR1='TOTAL')
--		SELECT  @TTL


--  SELECT CONVERT(DATETIME,LEFT(M0_DESCR1,4)+RIGHT(M0_DESCR1,2)+'01') AS DT_PROD,* FROM	PDD_CUBO (NOLOCK) 	WHERE	DT_FECHA = '20160930'  AND NUM_CUBO =4 AND M0_DESCR1 BETWEEN '2014 01' AND '2016 08'
--  SELECT CONVERT(DATETIME,LEFT(M0_DESCR1,4)+RIGHT(M0_DESCR1,2)+'01') AS DT_PROD,* FROM	PDD_CUBO (NOLOCK) 	WHERE	DT_FECHA = '20160930'  AND NUM_CUBO =4 AND M0_DESCR1 BETWEEN '2014 01' AND '2016 08'


--	REGISTROS
INSERT		PDD_SAFRA
	(	DT_PROD,	DT_PDD	,	DESCR_MES ,
		PRAZO	,	VLR_PDD	,	TTL_PDD	,	RATIO	)

SELECT		CONVERT(DATETIME,LEFT(M0_DESCR1,4)+RIGHT(M0_DESCR1,2)+'01') AS DT_PROD,
			DT_FECHA,	M0_DESCR1 , 0, M1_DESPESA, 
			--@TTL, M1_DESPESA/@TTL*100.0 AS RATIO ****** NAO PRECISA CALCULAR, JA ESTAH NO PDD
			0.0, M1_PDD_PRC
-- SELECT * 
	FROM	PDD_CUBO (NOLOCK) 	
	WHERE	DT_FECHA	BETWEEN	@DTINI AND @DTFIM  -- DATEADD(M,+1,@DTFIM)    --= @data_ref  
		AND NUM_CUBO =4		AND M0_DESCR1 BETWEEN @DDTINI AND @DDTFIM

-- AJUSTA TTL DO FECHAMENTO DA PDD
UPDATE		PDD_SAFRA
	SET		TTL_PDD = (SELECT	M1_DESPESA FROM	PDD_CUBO (NOLOCK) 	
						WHERE	DT_FECHA = PDD_SAFRA.DT_PDD AND NUM_CUBO =4 AND M0_DESCR1='TOTAL')
	WHERE	DT_PROD		BETWEEN	@DTINI AND @DTFIM 

-- CALCULA O RATIO ENTRE A DESPESA DO MES, PERIODO / TTL		************ NAO PRECISA RECALC
/*
UPDATE		PDD_SAFRA
	SET		RATIO   =	PDD_SAFRA.VLR_PDD	/ PDD_SAFRA.TTL_PDD * 100.0
	WHERE	PDD_SAFRA.DT_PROD		BETWEEN	@DTINI AND @DTFIM 
*/
-- DIF DTAS DT_FECHA DT_PROD   DATEDIFF(MM, DT_PROD, DT_FECHA)
UPDATE			PDD_SAFRA	 
		SET		PRAZO = DATEDIFF(MM,DT_PROD,	DT_PDD)
		WHERE	DT_PROD BETWEEN	@DTINI AND @DTFIM


--  ********************  RELATORIO
	--  13 MESES
	DECLARE @M0  AS INT  -- PRAZO
	DECLARE @M1  AS INT  
	DECLARE @M2  AS INT
	DECLARE @M3  AS INT
	DECLARE @M4  AS INT
	DECLARE @M5  AS INT
	DECLARE @M6  AS INT
	DECLARE @M7  AS INT
	DECLARE @M8  AS INT
	DECLARE @M9  AS INT
	DECLARE @M10  AS INT
	DECLARE @M11  AS INT  
	DECLARE @M12  AS INT
	DECLARE @M13  AS INT
	DECLARE @M14  AS INT
	DECLARE @M15  AS INT
	DECLARE @M16  AS INT
	DECLARE @M17  AS INT
	DECLARE @M18  AS INT
	DECLARE @M19  AS INT
	DECLARE @M20  AS INT
	DECLARE @M21  AS INT  
	DECLARE @M22  AS INT
	DECLARE @M23  AS INT
	DECLARE @M24  AS INT
	DECLARE @M25  AS INT
	DECLARE @M26  AS INT
	DECLARE @M27  AS INT
	DECLARE @M28  AS INT
	DECLARE @M29  AS INT
	DECLARE @M30  AS INT
	DECLARE @M31  AS INT  
	DECLARE @M32  AS INT
	DECLARE @M33  AS INT

		SET		@M0 = 0
		SET		@M1 = 1
		SET		@M2 = 2
		SET		@M3 = 3
		SET		@M4 = 4
		SET		@M5 = 5
		SET		@M6 = 6
		SET		@M7 = 7
		SET		@M8 = 8
		SET		@M9 = 9
		SET		@M10 = 10
		SET		@M11 = 11
		SET		@M12 = 12
		SET		@M13 = 13
		SET		@M14 = 14
		SET		@M15 = 15
		SET		@M16 = 16
		SET		@M17 = 17
		SET		@M18 = 18
		SET		@M19 = 19
		SET		@M20 = 20
		SET		@M21 = 21
		SET		@M22 = 22
		SET		@M23 = 23
		SET		@M24 = 24
		SET		@M25 = 25
		SET		@M26 = 26
		SET		@M27 = 27
		SET		@M28 = 28
		SET		@M29 = 29
		SET		@M30 = 30
		SET		@M31 = 31
		SET		@M32 = 32
		SET		@M33 = 33

		--		VARIAVEIS PARA COMPOR OS PRAZOS
		DECLARE @columns VARCHAR(2000)
		SET		@columns = '['+CONVERT(VARCHAR(3),@M0)+']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M1 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M2 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M3 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M4 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M5 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M6 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M7 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M8 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M9 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M10 ) + ']'

		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M11 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M12 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M13 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M14 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M15 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M16 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M17 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M18 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M19 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M20 ) + ']'

		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M21 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M22 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M23 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M24 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M25 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M26 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M27 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M28 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M29 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M30 ) + ']'

		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M31 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M32 )  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(3),@M33 )  + ']'


DECLARE @query VARCHAR(max)
--	DESCR 1 E 2
--	cart, ordem, prod, 
-- LIMPA ANTERIOR
TRUNCATE TABLE   AUX_PDD_SF

	SET		@query = ' INSERT	AUX_PDD_SF  SELECT * '+					
					 ' FROM (SELECT DESCR_MES,PRAZO, RATIO	FROM PDD_SAFRA (NOLOCK) ) P '+
					 ' PIVOT( AVG (RATIO) FOR PRAZO IN ('+ @columns + ') ) AS PVT'

--   5
--	select  @query

 EXEC (@query)

/*
	--  13 MESES
	DECLARE @M0  AS DATETIME  -- DT REF
	DECLARE @M1  AS DATETIME  -- DT REF
	DECLARE @M2  AS DATETIME
	DECLARE @M3  AS DATETIME
	DECLARE @M4  AS DATETIME
	DECLARE @M5  AS DATETIME
	DECLARE @M6  AS DATETIME
	DECLARE @M7  AS DATETIME
	DECLARE @M8  AS DATETIME
	DECLARE @M9  AS DATETIME
	DECLARE @M10  AS DATETIME
	DECLARE @M11  AS DATETIME
	DECLARE @M12  AS DATETIME
	DECLARE @M13  AS DATETIME
	DECLARE @M14  AS DATETIME
	DECLARE @M15  AS DATETIME
	DECLARE @M16  AS DATETIME
	DECLARE @M17  AS DATETIME
	DECLARE @M18  AS DATETIME
	DECLARE @M19  AS DATETIME
	DECLARE @M20  AS DATETIME
	DECLARE @M21  AS DATETIME
	DECLARE @M22  AS DATETIME
	DECLARE @M23  AS DATETIME
	DECLARE @M24  AS DATETIME
	DECLARE @M25  AS DATETIME
	DECLARE @M26  AS DATETIME
	DECLARE @M27  AS DATETIME
	DECLARE @M28  AS DATETIME
	DECLARE @M29  AS DATETIME
	DECLARE @M30  AS DATETIME
	DECLARE @M31  AS DATETIME
	DECLARE @M32  AS DATETIME
	DECLARE @M33  AS DATETIME

		-- MES  DE FECHAMENTO
		SET		@M0 = @data_ref

		-- MES ANTERIOR AO DO FECHAMENTO
		SET		@M1 = CONVERT(CHAR(4),DATEPART(YEAR,@M0))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M0))),2)+'01'
		SET		@M1 = DATEADD(DD,-1,@M1)
		SET		@M2 = CONVERT(CHAR(4),DATEPART(YEAR,@M1))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M1))),2)+'01'
		SET		@M2 = DATEADD(DD,-1,@M2)
		--		SELECT @M1, @m2

		set		@M3 = CONVERT(CHAR(4),DATEPART(YEAR,@M2))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M2))),2)+'01'
		SET		@M3=DATEADD(DD,-1,@M3)
		--		SELECT @M1, @M2,@M3

		set  @M4 = CONVERT(CHAR(4),DATEPART(YEAR,@M3))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M3))),2)+'01'
		SET	 @M4=DATEADD(DD,-1,@M4)
		--		  SELECT @M4

	set  @M5 = CONVERT(CHAR(4),DATEPART(YEAR,@M4))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M4))),2)+'01'
	SET	 @M5 = DATEADD(DD,-1,@M5)
	--		 	SELECT @M5

	set  @M6 = CONVERT(CHAR(4),DATEPART(YEAR,@M5))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M5))),2)+'01'
	SET	 @M6 = DATEADD(DD,-1,@M6)

	set  @M7 = CONVERT(CHAR(4),DATEPART(YEAR,@M6))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M6))),2)+'01'
	SET	 @M7 = DATEADD(DD,-1,@M7)

	set  @M8 = CONVERT(CHAR(4),DATEPART(YEAR,@M7))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M7))),2)+'01'
	SET	 @M8 = DATEADD(DD,-1,@M8)

	set  @M9 = CONVERT(CHAR(4),DATEPART(YEAR,@M8))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M8))),2)+'01'
	SET	 @M9 = DATEADD(DD,-1,@M9)

	set		@M10 = CONVERT(CHAR(4),DATEPART(YEAR,@M9))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M9))),2)+'01'
	SET		@M10 = DATEADD(DD,-1,@M10)
	--			SELECT	@M10

	set		@M11 = CONVERT(CHAR(4),DATEPART(YEAR,@M10))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M10))),2)+'01'
	SET		@M11 = DATEADD(DD,-1,@M11)
	--			SELECT	@M11 

	set		@M12 = CONVERT(CHAR(4),DATEPART(YEAR,@M11))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M11))),2)+'01'
	SET		@M12 = DATEADD(DD,-1,@M12)

	set		@M13 = CONVERT(CHAR(4),DATEPART(YEAR,@M12))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M12))),2)+'01'
	SET		@M13 = DATEADD(DD,-1,@M13)

	set		@M14 = CONVERT(CHAR(4),DATEPART(YEAR,@M13))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M13))),2)+'01'
	SET		@M14 = DATEADD(DD,-1,@M14)
		-- 		SELECT @M1, @M2,@M3 , @M4, @M5,@M6,@M7,@m8,@M9,@M10,@M11,@M12,@M13

	set		@M15 = CONVERT(CHAR(4),DATEPART(YEAR,@M14))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M14))),2)+'01'
	SET		@M15 = DATEADD(DD,-1,@M15)

	set		@M16 = CONVERT(CHAR(4),DATEPART(YEAR,@M15))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M15))),2)+'01'
	SET		@M16 = DATEADD(DD,-1,@M16)

	set		@M17 = CONVERT(CHAR(4),DATEPART(YEAR,@M16))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M16))),2)+'01'
	SET		@M17 = DATEADD(DD,-1,@M17)

	set		@M18 = CONVERT(CHAR(4),DATEPART(YEAR,@M17))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M17))),2)+'01'
	SET		@M18 = DATEADD(DD,-1,@M18)

	set		@M19 = CONVERT(CHAR(4),DATEPART(YEAR,@M18))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M18))),2)+'01'
	SET		@M19 = DATEADD(DD,-1,@M19)

	set		@M20 = CONVERT(CHAR(4),DATEPART(YEAR,@M19))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M19))),2)+'01'
	SET		@M20 = DATEADD(DD,-1,@M20)

		SET		@M21 = CONVERT(CHAR(4),DATEPART(YEAR,@M20))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M20))),2)+'01'
		SET		@M21 = DATEADD(DD,-1,@M21)

		SET		@M22 = CONVERT(CHAR(4),DATEPART(YEAR,@M21))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M21))),2)+'01'
		SET		@M22 = DATEADD(DD,-1,@M22)
		
		set		@M23 = CONVERT(CHAR(4),DATEPART(YEAR,@M22))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M22))),2)+'01'
		SET		@M23=DATEADD(DD,-1,@M23)

		set  @M24 = CONVERT(CHAR(4),DATEPART(YEAR,@M23))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M23))),2)+'01'
		SET	 @M24=DATEADD(DD,-1,@M24)

	set  @M25 = CONVERT(CHAR(4),DATEPART(YEAR,@M24))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M24))),2)+'01'
	SET	 @M25 = DATEADD(DD,-1,@M25)

	set  @M26 = CONVERT(CHAR(4),DATEPART(YEAR,@M25))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M25))),2)+'01'
	SET	 @M26 = DATEADD(DD,-1,@M26)

	set  @M27 = CONVERT(CHAR(4),DATEPART(YEAR,@M26))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M26))),2)+'01'
	SET	 @M27 = DATEADD(DD,-1,@M27)

	set  @M28 = CONVERT(CHAR(4),DATEPART(YEAR,@M27))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M27))),2)+'01'
	SET	 @M28 = DATEADD(DD,-1,@M28)

	set  @M29 = CONVERT(CHAR(4),DATEPART(YEAR,@M28))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M28))),2)+'01'
	SET	 @M29 = DATEADD(DD,-1,@M29)

	set		@M30 = CONVERT(CHAR(4),DATEPART(YEAR,@M29))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M29))),2)+'01'
	SET		@M30 = DATEADD(DD,-1,@M30)

		SET		@M31 = CONVERT(CHAR(4),DATEPART(YEAR,@M30))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M30))),2)+'01'
		SET		@M31 = DATEADD(DD,-1,@M31)

		SET		@M32 = CONVERT(CHAR(4),DATEPART(YEAR,@M31))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M31))),2)+'01'
		SET		@M32 = DATEADD(DD,-1,@M32)
		
		set		@M33 = CONVERT(CHAR(4),DATEPART(YEAR,@M32))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M32))),2)+'01'
		SET		@M33=DATEADD(DD,-1,@M33)

		--		VARIAVEIS PARA COMPOR OS 13 MESES 
		DECLARE @columns VARCHAR(2000)
		SET		@columns = '['+CONVERT(VARCHAR(8),@M33,112)+']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M32 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M31 ,112)  + ']'

		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M30 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M29 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M28 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M27 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M26 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M25 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M24 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M23 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M22 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M21 ,112)  + ']'

		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M20 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M19 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M18 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M17 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M16 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M15 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M14 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M13 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M12 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M11 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M10 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M9 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M8 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M7 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M6 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M5 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M4 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M3 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M2 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M1 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M0 ,112)  + ']'


-- **************************************************  PRODUCAO GLOBAL  RPT 1, 2, 3
--  QUEBRAS
-- ******************************************************************** PV  4
DECLARE @query VARCHAR(max)
--	DESCR 1 E 2
--	cart, ordem, prod, 
-- LIMPA ANTERIOR
TRUNCATE TABLE   AUX_PDD_SF

	SET		@query = ' INSERT	AUX_PDD_SF  SELECT * '+					
					 ' FROM (SELECT DESCR_MES,RATIO	FROM PDD_SAFRA (NOLOCK) ) P '+
					 ' PIVOT( AVG (RATIO) FOR DESCR_MES IN ('+ @columns + ') ) AS PVT'

--   5
--	select  @query

 EXEC (@query)

*/


/*  PARAMETRO DATA FECHAMENTO DA PDD

SELECT * FROM PDD_SAFRA (NOLOCK)

SELECT	M1_DESPESA FROM	PDD_CUBO (NOLOCK) WHERE	DT_FECHA = '20160930' AND NUM_CUBO =4 AND M0_DESCR1='TOTAL'

SELECT * FROM	PDD_CUBO (NOLOCK) 	WHERE	DT_FECHA = '20160930' AND NUM_CUBO =4 AND M0_DESCR1 BETWEEN '2014 01' AND '2016 08'

SELECT M1_DESPESA,* FROM	PDD_CUBO (NOLOCK) 	WHERE	DT_FECHA = '20160930' AND NUM_CUBO =4 AND M0_DESCR1='TOTAL'


SELECT *		FROM RATING_HISTORICO	R (NOLOCK) 
			WHERE	R.DT_FECHA= @data_ref   AND R.NVL_RISCO <> 'HH' -- AND R1.NVL_RISCO = 'A' 
--AND DT_BASE BETWEEN '20140101' AND @data_REF
			GROUP	BY CONVERT(VARCHAR(4),DATEPART(YYYY,DT_BASE))+RIGHT('00'+CONVERT(VARCHAR(2),DATEPART(MM,DT_BASE)),2)+'01'

EXEC PRC_PDD_MES @DTREF

EXEC [dbo].[PRC_PDD_CALCULO] @DTREF


DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END

SELECT * FROM  RR_ROLLRATE_DIA_RPT

SP_HELP RR_ROLLRATE_DIA_RPT
-- SP_HELP P123_RPT
-- SP_HELP P123_HISTORICO
DROP TABLE P123_RPT


SELECT * FROM P123GER_RPT



		SELECT	
				'C1' as  Formato,
				DESCR AS DESCRICAO,
				M1,
				M2,
				M3,
				M4,
				M5,
				M6,
				M7,
				M8,
				M9,
				M10,
				M11,
				M12,
				M13,
				M14
,				ORDEM AS ORDEM_LINHA

/*
				CASE WHEN  @parcela=3		THEN NULL
					 ELSE				M12_VLR		END		AS M12,
				CASE WHEN ORDEM_LINHA >=11	AND @parcela>=3  THEN NULL
					 WHEN @parcela>=2		THEN NULL	
					 ELSE M13_VLR			END  AS M13,
				CASE WHEN ORDEM_LINHA >=7	AND @parcela>=3	THEN NULL
					 WHEN ORDEM_LINHA >=11	AND @parcela>=1	THEN NULL
					 WHEN @parcela>=1		THEN NULL
					 ELSE M14_VLR			END  AS M14
*/	
			FROM	PDD_RPT  (NOLOCK)
			where 	dt_fecha = @DTREF 				
			ORDER BY ORDEM,DESCR
DESCR1	M0	M1	M2	M3	M4	M5	M6	M7	M8	M9	M10	M11	M12	M13	M14	M15	M16	M17	M18	M19	M20	M21	M22	M23	M24	M25	M26	M27	M28	M29	M30	M31	M32	M33
2015 09	0,5	0,5108862497756	0,57475559479453	0,712392321357511	1,13632810727892	1,77024190319858	3,01645380411777	4,14950869147666	5,27795533260989	6,22643675482779	6,87253987391313	7,91525738857994	9,87627882047885	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL

select * from PDD_SAFRA_RPT (nolock)
*/

DELETE	FROM PDD_SAFRA_RPT	WHERE DT_PROD=@data_ref

INSERT	PDD_SAFRA_RPT
select		@data_ref,1,0,* 
--  DESCR1,	M0,ISNULL(M0,'') AS M0, M1,ISNULL(M1,'') AS M1
--	M1	M2	M3	M4	M5	M6	M7	M8	M9	M10	M11	M12	M13	M14	M15	M16	M17	M18	M19	M20	M21	M22	M23	M24	M25	M26	M27	M28	M29	M30	M31	M32	M33
	from 	AUX_PDD_SF  (NOLOCK) 

UPDATE		PDD_SAFRA_RPT	
	SET		ORDEM =	33 - DATEDIFF(MM, CONVERT(DATETIME,LEFT(DESCR1,4)+'-'+RIGHT(DESCR1,2)+'-01'),@data_ref) 
	WHERE	DT_PROD=@data_ref

SELECT	DESCR1 as DESCR,M0,M1,M2,	M3,	M4	,M5,	M6,	M7,	M8,	M9,	M10,
	M11,	M12,	M13,	M14,	M15,	M16,	M17,	M18,	M19,	M20,
	M21,	M22,	M23,	M24,	M25,	M26,	M27,	M28,	M29,	M30,
	M31,	M32,	M33,	ordem
	FROM PDD_SAFRA_RPT	(NOLOCK)	WHERE DT_PROD=@data_ref
	ORDER BY DESCR1

END
GO


-- SELECT * FROM PDD_RPT
/*

 SELECT * 	FROM	PDD_CUBO (NOLOCK) 	
	WHERE	DT_FECHA='20141231' and num_cubo=4

 SELECT * 	FROM	rating_historico (NOLOCK) 	 	WHERE	DT_FECHA='20140131'
 SELECT * 	FROM	rating_historico (NOLOCK) 	 	WHERE	DT_FECHA='20140228'
 SELECT * 	FROM	rating_historico (NOLOCK) 	 	WHERE	DT_FECHA='20140331'

 SELECT * 	FROM	rating_historico (NOLOCK) 	 	WHERE	DT_FECHA='20140430'
 SELECT * 	FROM	rating_historico (NOLOCK) 	 	WHERE	DT_FECHA='20140530'  -- pb

-- pb vlr pdd  *************** AJUSTE ************************* JAN/16
 SELECT * 	FROM	rating_historico (NOLOCK) 	 	WHERE	DT_FECHA='20140131'
 UPDATE 	rating_historico SET  VLR_PDD = SLD_INSCRITO *PERC_PDD / 100.0 	 	WHERE	DT_FECHA='20140131'
 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-01-31'

-- pb vlr pdd  *************** AJUSTE ************************* FEV/16
 SELECT * 	FROM	rating_historico (NOLOCK) 	 	WHERE	DT_FECHA='20140228'
 UPDATE 	rating_historico SET  VLR_PDD = SLD_INSCRITO *PERC_PDD / 100.0 	 	WHERE	DT_FECHA='20140228'
 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-02-28'


-- pb vlr pdd  *************** AJUSTE ************************* MAR/16
 SELECT * 	FROM	rating_historico (NOLOCK) 	 	WHERE	DT_FECHA='20140331'
 UPDATE 	rating_historico SET  VLR_PDD = SLD_INSCRITO *PERC_PDD / 100.0 	 	WHERE	DT_FECHA='20140331'
 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-03-31'

-- pb vlr pdd  *************** AJUSTE ************************* ABR/16
 SELECT * 	FROM	rating_historico (NOLOCK) 	 	WHERE	DT_FECHA='20140430'
 UPDATE 	rating_historico SET  VLR_PDD = SLD_INSCRITO *PERC_PDD / 100.0 	 	WHERE	DT_FECHA='20140430'
 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-04-30'

 SELECT * 	FROM	pdd_cubo (NOLOCK) 	 	WHERE	DT_FECHA='20140430' and num_cubo=4
 SELECT * 	FROM	pdd_cubo (NOLOCK) 	 	WHERE	DT_FECHA='20140530' and num_cubo=4

[Scr_risco_PDD_safra_tempo] '20160930'

 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-01-31'
 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-02-28'
 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-03-31'

 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-04-30'
 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-05-31' -- fech
 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-05-30'

 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-06-30'
 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-07-31'

 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-08-31'
 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-09-30'
 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-10-31'
 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-11-30'

 EXEC [dbo].[PDD_CUBO_CALCULO] '2014-12-31'
 
EXEC [dbo].[PDD_CUBO_CALCULO] '2015-01-31'
EXEC [dbo].[PDD_CUBO_CALCULO] '2015-02-28'

[Scr_risco_PDD_safra_tempo] '20160731'
[Scr_risco_PDD_safra_tempo] '20160831'

[Scr_risco_PDD_safra_tempo] '20160930'
  select * from 	AUX_PDD_SF  (NOLOCK) 


*/

