SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
go


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'Scr_grafico_pddGerencial' AND type = 'P')
   DROP PROCEDURE [dbo].[Scr_grafico_pddGerencial]
GO

-- Scr_pdd_Gerencial '20160430'
-- Scr_grafico_pddGerencial  '20160430'

CREATE Procedure [dbo].[Scr_grafico_pddGerencial] (@data_ref as datetime) AS
BEGIN

DECLARE @DTREF AS VARCHAR(8)
SET @DTREF = CONVERT(varchar(8),@data_ref,112)


/*  PARAMETRO DATA FECHAMENTO DA PDD
DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END

SELECT * FROM  RR_ROLLRATE_DIA_RPT

SP_HELP RR_ROLLRATE_DIA_RPT
-- SP_HELP P123_RPT
-- SP_HELP P123_HISTORICO
DROP TABLE P123_RPT

CREATE TABLE  P123_RPT (
DT_FECHA	smalldatetime,
RPT		INT,
AGENTE	varchar(6),
COBRADORA	varchar(6),
ORDEM_LINHA	int,
FORMATO	varchar(6),
DESCRICAO	varchar(50),
M1_VLR	float,
M2_VLR	float,
M3_VLR	float,
M4_VLR	float,
M5_VLR	float,
M6_VLR	float,
M7_VLR	float,
M8_VLR	float,
M9_VLR	float,
M10_VLR	float,
M11_VLR	float,
M12_VLR	float,
M13_VLR	float,
M14_VLR	float
)
 
CREATE INDEX P123_RPT_IDX1 ON P123_RPT  
	(DT_FECHA		,
	RPT		,
	AGENTE			,
	COBRADORA		,
	ORDEM_LINHA		) 

SELECT * FROM P123GER_RPT
*/



		SELECT	distinct
			-- Formato,
				left(DESCR,11) AS DESCRICAO,
				M1,
				M2,
				M3,
				M4,
				M5,
				M6,
				M7,
				M8,
				M9,
				M10,
				M11,
				M12,
				M13,
				M14
--,				ORDEM AS ORDEM_LINHA

/*
				CASE WHEN  @parcela=3		THEN NULL
					 ELSE				M12_VLR		END		AS M12,
				CASE WHEN ORDEM_LINHA >=11	AND @parcela>=3  THEN NULL
					 WHEN @parcela>=2		THEN NULL	
					 ELSE M13_VLR			END  AS M13,
				CASE WHEN ORDEM_LINHA >=7	AND @parcela>=3	THEN NULL
					 WHEN ORDEM_LINHA >=11	AND @parcela>=1	THEN NULL
					 WHEN @parcela>=1		THEN NULL
					 ELSE M14_VLR			END  AS M14
*/	
			FROM	Pdd_RPT 
			where 	dt_fecha = @DTREF 
				and ordem >=15
and left(descr,1) in ('a','b')
--				AND RIGHT(RTRIM(DESCRICAO),7) = 'CTO - %'
--			ORDER BY ORDEM_LINHA,DESCR

END
GO


-- SELECT * FROM P123_RPT
/*
-- SELECT * FROM [AUX_GRAFICO_CHART]
CREATE TABLE [dbo].[AUX_GRAFICO_CHART](
	[indice] [int] IDENTITY(1,1) NOT NULL,
	[DT_FECHA] [datetime] NULL,
	[ANO] [varchar](10) NULL,
	[M1] [float] NULL,
	[M2] [float] NULL,
	[M3] [float] NULL,
	[M4] [float] NULL,
	[M5] [float] NULL,
	[M6] [float] NULL,
	[M7] [float] NULL,
	[M8] [float] NULL,
	[M9] [float] NULL,
	[M10] [float] NULL,
	[M11] [float] NULL,
	[M12] [float] NULL,
	[DESCRICAO] [varchar](50) NULL,
	[FORMATO] [varchar](10) NULL,
 CONSTRAINT [PK_AUX_GRAFICO_CART] PRIMARY KEY CLUSTERED 
(
	[indice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO





SET IDENTITY_INSERT [dbo].[AUX_GRAFICO_CHART] ON 
*/