SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

USE SIG
GO


/*
scr_risco_pdd_safra_tempo2 '20160930'

SP_HELP	PDD_SAFRA_RPT	
DROP TABLE  AUX_PDD_SAFRA_MEDIA
CREATE  TABLE		AUX_PDD_SAFRA_MEDIA	 (
-- 		DT_PROD		DATETIME,		RPT	int,	,
		DESCR	varchar(100),
		M1	float,
		M2	float,
		M3	float,
		M4	float,
		M5	float,
		M6	float,
		M7	float,
		M8	float,
		M9	float,
		M10	float,
		ORDEM	int  )

CREATE	INDEX PDD_SAFRA_IDX1 ON	PDD_SAFRA (DT_PROD,DT_PDD)
*/

/****** Object:  StoredProcedure [dbo].[scr_risco_pdd_safra_tempo]    Script Date: 22/12/2016 23:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'Scr_risco_PDD_safra_tempo2' AND type = 'P')
   DROP PROCEDURE [dbo].[Scr_risco_PDD_safra_tempo2]
GO
/*
        CREATE Procedure [dbo].[scr_risco_pdd_safra_tempo2] (
			@data_ref as datetime) AS
*/
CREATE Procedure [dbo].[Scr_risco_PDD_safra_tempo2] (@data_ref as datetime) AS
BEGIN

DECLARE @ANO1 VARCHAR(4)
DECLARE @ANO2 VARCHAR(4)
DECLARE @ANO3 VARCHAR(4)

SET		@ANO1 = CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref))
SET		@ANO2 = CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref)-1)
SET		@ANO3 = CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref)-2)

DECLARE @MES_REF VARCHAR(2)
SET		@MES_REF = RIGHT('00'+RTRIM(CONVERT(VARCHAR(2),DATEPART(MM,@data_ref))),2)
--SELECT  @MES
DECLARE @MES	 VARCHAR(2)

TRUNCATE TABLE AUX_PDD_SAFRA_MEDIA

-- INCLUI A MEDIA DAS LINHAS HACHURADAS M1
INSERT	AUX_PDD_SAFRA_MEDIA
SELECT	--DESCR1 as DESCR,
	'MÉDIA '+@ANO3 AS DESCR,
	AVG(ROUND(M0,2)) AS M1, 
	0.0, 0.0, 0.0, 0.0, 
	0.0, 0.0, 0.0, 0.0, 
	0.0, 
	1 AS ordem
	FROM	PDD_SAFRA_RPT	(NOLOCK)	
	WHERE	DT_PROD=@data_ref
	AND DESCR1 BETWEEN @ANO3+' 01' AND @ANO3+' 10'


--UNION ALL
INSERT	AUX_PDD_SAFRA_MEDIA
SELECT	--DESCR1 as DESCR,
	'MÉDIA '+@ANO2 AS DESCR,
	AVG(ROUND(M0,2)) AS M1,
	0.0, 0.0, 0.0, 0.0, 
	0.0, 0.0, 0.0, 0.0, 
	0.0, 
	2 AS ordem
	FROM	PDD_SAFRA_RPT	(NOLOCK)	
	WHERE	DT_PROD=@data_ref
	AND DESCR1 BETWEEN @ANO2+' 01' AND @ANO2+' 10'  -- 2015

--UNION ALL
INSERT	AUX_PDD_SAFRA_MEDIA
SELECT	--DESCR1 as DESCR,  2016
	'MÉDIA '+@ANO1 DESCR,
	AVG(ROUND(M0,2)) AS M1,
	0.0, 0.0, 0.0, 0.0, 
	0.0, 0.0, 0.0, 0.0, 
	0.0, 
	3 AS ordem
	FROM	PDD_SAFRA_RPT	(NOLOCK)	
	WHERE	DT_PROD=@data_ref
		AND DESCR1 BETWEEN @ANO1+' 01' AND @ANO1+' 10'

-- ALTERA M2 NA MEDIA DAS LINHAS HACHURADAS  **************** NOS 3 ANOS
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M2=	R1.VLR
	FROM	(SELECT 	AVG(ROUND(R.M1,2)) AS VLR 
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO3+' 01' AND @ANO3+' 09' ) AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO3
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M2=	R1.VLR
	FROM	(SELECT		AVG(ROUND(R.M1,2)) AS VLR 	
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO2+' 01' AND @ANO2+' 09') AS R1 
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO2
SET		@MES =	@MES_REF		-- INICIALIZA O MES CF MES REF
IF		@MES_REF >= '10'		-- APOS 10 MESES OK
	SET		@MES = '09'
IF		@MES_REF <= '09'			-- ANTES DE 10 MESES, ESCADA MENOR
	SET		@MES = @MES - 1 
IF		@MES >= '01'			-- CALCULA SE NECESSARIO, SENAO MANTEM ZERO 0.0
		UPDATE		AUX_PDD_SAFRA_MEDIA
			SET		AUX_PDD_SAFRA_MEDIA.M2=	R1.VLR
			FROM	(SELECT		AVG(ROUND(R.M1,2)) AS VLR 	
						FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
						WHERE	R.DT_PROD=@data_ref
							AND R.DESCR1 BETWEEN @ANO1+' 01' AND @ANO1+' '+@MES) AS R1  -- '09'
			WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO1


-- ALTERA M3 NA MEDIA DAS LINHAS HACHURADAS  **************** NOS 3 ANOS
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M3=	R1.VLR
	FROM	(SELECT 	AVG(ROUND(R.M2,2)) AS VLR 
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO3+' 01' AND @ANO3+' 08' ) AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO3
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M3=	R1.VLR
	FROM	(SELECT		AVG(ROUND(R.M2,2)) AS VLR 	
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO2+' 01' AND @ANO2+' 08') AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO2
IF		@MES_REF >= '10'		-- APOS 10 MESES OK
	SET		@MES = '08'
IF		@MES_REF <= '09'			-- ANTES DE 10 MESES, ESCADA MENOR
	SET		@MES = @MES - 1 
IF		@MES >= '01'			-- CALCULA SE NECESSARIO, SENAO MANTEM ZERO 0.0
		UPDATE		AUX_PDD_SAFRA_MEDIA
			SET		AUX_PDD_SAFRA_MEDIA.M3=	R1.VLR
			FROM	(SELECT		AVG(ROUND(R.M2,2)) AS VLR 	
						FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
						WHERE	R.DT_PROD=@data_ref
							AND R.DESCR1 BETWEEN @ANO1+' 01' AND @ANO1+' '+@MES) AS R1   -- ' 08'
			WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO1


-- ALTERA M4 NA MEDIA DAS LINHAS HACHURADAS  **************** NOS 3 ANOS
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M4=	R1.VLR
	FROM	(SELECT 	AVG(ROUND(R.M3,2)) AS VLR 
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO3+' 01' AND @ANO3+' 07' ) AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO3
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M4=	R1.VLR
	FROM	(SELECT		AVG(ROUND(R.M3,2)) AS VLR 	
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO2+' 01' AND @ANO2+' 07') AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO2
IF		@MES_REF >= '10'		-- APOS 10 MESES OK
	SET		@MES = '07'
IF		@MES_REF <= '09'			-- ANTES DE 10 MESES, ESCADA MENOR
	SET		@MES = @MES - 1 
IF		@MES >= '01'			-- CALCULA SE NECESSARIO, SENAO MANTEM ZERO 0.0
	UPDATE		AUX_PDD_SAFRA_MEDIA
		SET		AUX_PDD_SAFRA_MEDIA.M4=	R1.VLR
		FROM	(SELECT		AVG(ROUND(R.M3,2)) AS VLR 	
					FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
					WHERE	R.DT_PROD=@data_ref
						AND R.DESCR1 BETWEEN @ANO1+' 01' AND @ANO1+' '+@MES) AS R1  -- ' 07'
		WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO1

-- ALTERA M5 NA MEDIA DAS LINHAS HACHURADAS  **************** NOS 3 ANOS
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M5=	R1.VLR
	FROM	(SELECT 	AVG(ROUND(R.M4,2)) AS VLR 
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO3+' 01' AND @ANO3+' 06' ) AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO3
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M5=	R1.VLR
	FROM	(SELECT		AVG(ROUND(R.M4,2)) AS VLR 	
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO2+' 01' AND @ANO2+' 06') AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO2
IF		@MES_REF >= '10'		-- APOS 10 MESES OK
	SET		@MES = '06'
IF		@MES_REF <= '09'			-- ANTES DE 10 MESES, ESCADA MENOR
	SET		@MES = @MES - 1 
IF		@MES >= '01'			-- CALCULA SE NECESSARIO, SENAO MANTEM ZERO 0.0
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M5=	R1.VLR
	FROM	(SELECT		AVG(ROUND(R.M4,2)) AS VLR 	
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO1+' 01' AND @ANO1+' ' +@MES) AS R1  -- ' 06'
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO1

-- ALTERA M6 NA MEDIA DAS LINHAS HACHURADAS  **************** NOS 3 ANOS
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M6=	R1.VLR
	FROM	(SELECT 	AVG(ROUND(R.M5,2)) AS VLR 
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO3+' 01' AND @ANO3+' 05' ) AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO3
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M6=	R1.VLR
	FROM	(SELECT		AVG(ROUND(R.M5,2)) AS VLR 	
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO2+' 01' AND @ANO2+' 05') AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO2
IF		@MES_REF >= '10'		-- APOS 10 MESES OK
	SET		@MES = '05'
IF		@MES_REF <= '09'			-- ANTES DE 10 MESES, ESCADA MENOR
	SET		@MES = @MES - 1 
IF		@MES >= '01'			-- CALCULA SE NECESSARIO, SENAO MANTEM ZERO 0.0
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M6=	R1.VLR
	FROM	(SELECT		AVG(ROUND(R.M5,2)) AS VLR 	
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO1+' 01' AND @ANO1+' '+@MES) AS R1  -- ' 05'
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO1

-- ALTERA M7 NA MEDIA DAS LINHAS HACHURADAS  **************** NOS 3 ANOS
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M7=	R1.VLR
	FROM	(SELECT 	AVG(ROUND(R.M6,2)) AS VLR 
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO3+' 01' AND @ANO3+' 04' ) AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO3
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M7=	R1.VLR
	FROM	(SELECT		AVG(ROUND(R.M6,2)) AS VLR 	
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO2+' 01' AND @ANO2+' 04') AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO2
IF		@MES_REF >= '10'		-- APOS 10 MESES OK
	SET		@MES = '04'
IF		@MES_REF <= '09'			-- ANTES DE 10 MESES, ESCADA MENOR
	SET		@MES = @MES - 1 
IF		@MES >= '01'			-- CALCULA SE NECESSARIO, SENAO MANTEM ZERO 0.0
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M7=	R1.VLR
	FROM	(SELECT		AVG(ROUND(R.M6,2)) AS VLR 	
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO1+' 01' AND @ANO1+' '+@MES) AS R1 -- ' 04'
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO1

-- ALTERA M8 NA MEDIA DAS LINHAS HACHURADAS  **************** NOS 3 ANOS
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M8=	R1.VLR
	FROM	(SELECT 	AVG(ROUND(R.M7,2)) AS VLR 
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO3+' 01' AND @ANO3+' 03' ) AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO3
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M8=	R1.VLR
	FROM	(SELECT		AVG(ROUND(R.M7,2)) AS VLR 	
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO2+' 01' AND @ANO2+' 03') AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO2
IF		@MES_REF >= '10'		-- APOS 10 MESES OK
	SET		@MES = '03'
IF		@MES_REF <= '09'			-- ANTES DE 10 MESES, ESCADA MENOR
	SET		@MES = @MES - 1 
IF		@MES >= '01'			-- CALCULA SE NECESSARIO, SENAO MANTEM ZERO 0.0
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M8=	R1.VLR
	FROM	(SELECT		AVG(ROUND(R.M7,2)) AS VLR 	
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO1+' 01' AND @ANO1+' '+@MES) AS R1  -- +' 03'
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO1

-- ALTERA M9 NA MEDIA DAS LINHAS HACHURADAS  **************** NOS 3 ANOS
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M9=	R1.VLR
	FROM	(SELECT 	AVG(ROUND(R.M8,2)) AS VLR 
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO3+' 01' AND @ANO3+' 02' ) AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO3
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M9=	R1.VLR
	FROM	(SELECT		AVG(ROUND(R.M8,2)) AS VLR 	
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO2+' 01' AND @ANO2+' 02') AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO2
IF		@MES_REF >= '10'		-- APOS 10 MESES OK
	SET		@MES = '02'
IF		@MES_REF <= '09'			-- ANTES DE 10 MESES, ESCADA MENOR
	SET		@MES = @MES - 1 
IF		@MES >= '01'			-- CALCULA SE NECESSARIO, SENAO MANTEM ZERO 0.0
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M9=	R1.VLR
	FROM	(SELECT		AVG(ROUND(R.M8,2)) AS VLR 	
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO1+' 01' AND @ANO1+' ' +@MES) AS R1  --' 02'
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO1

-- ALTERA M10 NA MEDIA DAS LINHAS HACHURADAS  **************** NOS 3 ANOS
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M10=	R1.VLR
	FROM	(SELECT 	AVG(ROUND(R.M9,2))		AS VLR 
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO3+' 01' AND @ANO3+' 01' ) AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO3
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M10=	R1.VLR
	FROM	(SELECT		AVG(ROUND(R.M9,2)) AS VLR 	
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO2+' 01' AND @ANO2+' 01') AS R1
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO2
IF		@MES_REF >= '10'		-- APOS 10 MESES OK
	SET		@MES = '01'
IF		@MES_REF <= '09'			-- ANTES DE 10 MESES, ESCADA MENOR
	SET		@MES = @MES - 1 
IF		@MES >= '01'			-- CALCULA SE NECESSARIO, SENAO MANTEM ZERO 0.0
UPDATE		AUX_PDD_SAFRA_MEDIA
	SET		AUX_PDD_SAFRA_MEDIA.M10=	R1.VLR
	FROM	(SELECT		AVG(ROUND(R.M9,2)) AS VLR 	
				FROM	PDD_SAFRA_RPT	R	(NOLOCK)	
				WHERE	R.DT_PROD=@data_ref
					AND R.DESCR1 BETWEEN @ANO1+' 01' AND @ANO1+' ' +@MES) AS R1  -- ' 01'
	WHERE	RIGHT(AUX_PDD_SAFRA_MEDIA.DESCR,4) = @ANO1

-- ************************ VARIACAO
INSERT	AUX_PDD_SAFRA_MEDIA
SELECT	--DESCR1 as DESCR,  2016
	'VARIAÇÃO '+@ANO1 DESCR1,
	-- ALTERADO PARA APARECER 0.0 SE NAO TEM VALOR NO 2o ANO	SOLICITADO POR VIDAL    EM 14/6/17
	CASE WHEN ANO1.M1 = 0.0 THEN 0.0 ELSE (ANO1.M1 - ANO2.M1)/ANO2.M1*100.0 END AS M1,
	CASE WHEN ANO1.M2 = 0.0 THEN 0.0 ELSE (ANO1.M2 - ANO2.M2)/ANO2.M2*100.0 END AS M2,
	CASE WHEN ANO1.M3 = 0.0 THEN 0.0 ELSE (ANO1.M3 - ANO2.M3)/ANO2.M3*100.0 END AS M3,
	CASE WHEN ANO1.M4 = 0.0 THEN 0.0 ELSE (ANO1.M4 - ANO2.M4)/ANO2.M4*100.0 END AS M4,
	CASE WHEN ANO1.M5 = 0.0 THEN 0.0 ELSE (ANO1.M5 - ANO2.M5)/ANO2.M5*100.0 END AS M5,
	CASE WHEN ANO1.M6 = 0.0 THEN 0.0 ELSE (ANO1.M6 - ANO2.M6)/ANO2.M6*100.0 END AS M6,
	CASE WHEN ANO1.M7 = 0.0 THEN 0.0 ELSE (ANO1.M7 - ANO2.M7)/ANO2.M7*100.0 END AS M7,
	CASE WHEN ANO1.M8 = 0.0 THEN 0.0 ELSE (ANO1.M8 - ANO2.M8)/ANO2.M8*100.0 END AS M8,
	CASE WHEN ANO1.M9 = 0.0 THEN 0.0 ELSE (ANO1.M9 - ANO2.M9)/ANO2.M9*100.0 END AS M9,
	CASE WHEN ANO1.M10 = 0.0 THEN 0.0 ELSE (ANO1.M10 - ANO2.M10)/ANO2.M10*100.0 END AS M10,
	4 AS ordem
FROM
	(SELECT	*
	FROM	AUX_PDD_SAFRA_MEDIA	(NOLOCK)	
	WHERE	RIGHT(DESCR,4) = @ANO1 ) AS ANO1,
	(SELECT	*
	FROM	AUX_PDD_SAFRA_MEDIA	(NOLOCK)	
	WHERE	RIGHT(DESCR,4) = @ANO2 ) AS ANO2

--
INSERT	AUX_PDD_SAFRA_MEDIA
SELECT	--DESCR1 as DESCR,  2015
	'VARIAÇÃO '+@ANO2 DESCR,
	-- ALTERADO PARA APARECER 0.0 SE NAO TEM VALOR NO 2o ANO	SOLICITADO POR VIDAL    EM 14/6/17
	CASE WHEN ANO2.M1 = 0.0 THEN 0.0 ELSE (ANO2.M1 - ANO3.M1)/ANO3.M1*100.0 END AS M1,
	CASE WHEN ANO2.M2 = 0.0 THEN 0.0 ELSE (ANO2.M2 - ANO3.M2)/ANO3.M2*100.0 END AS M2,
	CASE WHEN ANO2.M3 = 0.0 THEN 0.0 ELSE (ANO2.M3 - ANO3.M3)/ANO3.M3*100.0 END AS M3,
	CASE WHEN ANO2.M4 = 0.0 THEN 0.0 ELSE (ANO2.M4 - ANO3.M4)/ANO3.M4*100.0 END AS M4,
	CASE WHEN ANO2.M5 = 0.0 THEN 0.0 ELSE (ANO2.M5 - ANO3.M5)/ANO3.M5*100.0 END AS M5,
	CASE WHEN ANO2.M6 = 0.0 THEN 0.0 ELSE (ANO2.M6 - ANO3.M6)/ANO3.M6*100.0 END AS M6,
	CASE WHEN ANO2.M7 = 0.0 THEN 0.0 ELSE (ANO2.M7 - ANO3.M7)/ANO3.M7*100.0 END AS M7,
	CASE WHEN ANO2.M8 = 0.0 THEN 0.0 ELSE (ANO2.M8 - ANO3.M8)/ANO3.M8*100.0 END AS M8,
	CASE WHEN ANO2.M9 = 0.0 THEN 0.0 ELSE (ANO2.M9 - ANO3.M9)/ANO3.M9*100.0 END AS M9,
	CASE WHEN ANO2.M10 = 0.0 THEN 0.0 ELSE (ANO2.M10 - ANO3.M10)/ANO3.M10*100.0 END AS M10,
	5 AS ordem
FROM
	(SELECT	*
	FROM	AUX_PDD_SAFRA_MEDIA	(NOLOCK)	
	WHERE	RIGHT(DESCR,4) =  @ANO3 ) AS ANO3,
	(SELECT	*
	FROM	AUX_PDD_SAFRA_MEDIA	(NOLOCK)	
	WHERE	RIGHT(DESCR,4) =  @ANO2 ) AS ANO2

--UNION ALL
/*
INSERT	AUX_PDD_SAFRA_MEDIA
		(	DT_PROD	, RPT,	DESCR1	,	M0, M1,	M2	,	M3	,	M4	,	M5	,
		M6	,	M7	,	M8	,	M9	,	M10	 , 	ORDEM   )
SELECT	--DESCR1 as DESCR,  2016
	'VARIAÇÃO '+@ANO1 DESCR,
	(ANO1.M1 - ANO2.M1)/ANO2.M1*100.0  AS M1,
	(ANO1.M2 - ANO2.M2)/ANO2.M2*100.0  AS M2,
	(ANO1.M3 - ANO2.M3)/ANO2.M3*100.0  AS M3,
	(ANO1.M4 - ANO2.M4)/ANO2.M4*100.0  AS M4,
	(ANO1.M5 - ANO2.M5)/ANO2.M5*100.0  AS M5,
	(ANO1.M6 - ANO2.M6)/ANO2.M6*100.0  AS M6,
	(ANO1.M7 - ANO2.M7)/ANO2.M7*100.0  AS M7,
	(ANO1.M8 - ANO2.M8)/ANO2.M8*100.0  AS M8,
	(ANO1.M9 - ANO2.M9)/ANO2.M9*100.0  AS M9,
	(ANO1.M10 - ANO2.M10)/ANO2.M10*100.0  AS M10,
	4 AS ordem
FROM
	(SELECT	AVG(M0) AS M1,
			AVG(M1) AS M2,
			AVG(M2) AS M3,	
			AVG(M3) AS M4,	
			AVG(M4) AS M5	,
			AVG(M5) AS M6,	
			AVG(M6) AS M7,	
			AVG(M7) AS M8,	
			AVG(M8) AS M9,	
			AVG(M9) AS M10
	FROM	PDD_SAFRA_RPT	(NOLOCK)	
	WHERE	DT_PROD=@data_ref
	AND DESCR1 BETWEEN @ANO1+' 01' AND @ANO1+' 10' ) AS ANO1,
	(SELECT	AVG(M0) AS M1,
			AVG(M1) AS M2,
			AVG(M2) AS M3,	
			AVG(M3) AS M4,	
			AVG(M4) AS M5	,
			AVG(M5) AS M6,	
			AVG(M6) AS M7,	
			AVG(M7) AS M8,	
			AVG(M8) AS M9,	
			AVG(M9) AS M10
	FROM	PDD_SAFRA_RPT	(NOLOCK)	
	WHERE	DT_PROD=@data_ref
	AND DESCR1 BETWEEN @ANO2+' 01' AND @ANO2+' 10' ) AS ANO2

UNION ALL
SELECT	--DESCR1 as DESCR,  2015
	'VARIAÇÃO '+@ANO2 DESCR,
	(ANO2.M1 - ANO3.M1)/ANO3.M1*100.0  AS M1,
	(ANO2.M2 - ANO3.M2)/ANO3.M2*100.0  AS M2,
	(ANO2.M3 - ANO3.M3)/ANO3.M3*100.0  AS M3,
	(ANO2.M4 - ANO3.M4)/ANO3.M4*100.0  AS M4,
	(ANO2.M5 - ANO3.M5)/ANO3.M5*100.0  AS M5,
	(ANO2.M6 - ANO3.M6)/ANO3.M6*100.0  AS M6,
	(ANO2.M7 - ANO3.M7)/ANO3.M7*100.0  AS M7,
	(ANO2.M8 - ANO3.M8)/ANO3.M8*100.0  AS M8,
	(ANO2.M9 - ANO3.M9)/ANO3.M9*100.0  AS M9,
	(ANO2.M10 - ANO3.M10)/ANO3.M10*100.0  AS M10,
	5 AS ordem
FROM
	(SELECT	AVG(M0) AS M1,
			AVG(M1) AS M2,
			AVG(M2) AS M3,	
			AVG(M3) AS M4,	
			AVG(M4) AS M5	,
			AVG(M5) AS M6,	
			AVG(M6) AS M7,	
			AVG(M7) AS M8,	
			AVG(M8) AS M9,	
			AVG(M9) AS M10
	FROM	PDD_SAFRA_RPT	(NOLOCK)	
	WHERE	DT_PROD=@data_ref
	AND DESCR1 BETWEEN @ANO3+' 01' AND @ANO3+' 10' ) AS ANO3,
	(SELECT	AVG(M0) AS M1,
			AVG(M1) AS M2,
			AVG(M2) AS M3,	
			AVG(M3) AS M4,	
			AVG(M4) AS M5	,
			AVG(M5) AS M6,	
			AVG(M6) AS M7,	
			AVG(M7) AS M8,	
			AVG(M8) AS M9,	
			AVG(M9) AS M10
	FROM	PDD_SAFRA_RPT	(NOLOCK)	
	WHERE	DT_PROD=@data_ref
	AND DESCR1 BETWEEN @ANO2+' 01' AND @ANO2+' 10' ) AS ANO2
*/


/*		
VARIAÇÃO 2016	0,0%
		select
					'MÉDIA 2014' DESCR,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					1 ORDEM

			
				union all

				select
					'MÉDIA 2015' DESCR,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					2 ORDEM

			
				union all

				select
					'MÉDIA 2016' DESCR,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					3 ORDEM

			
				union all

				select
					'VARIAÇÃO 2016 (%)' DESCR,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					4 ORDEM

			
				union all

				select
					'VARIAÇÃO 2015 (%)' DESCR,
					775 m10,
					683 m9,
					574 m8,
					748 m7,
					828 m6,
					535 m5,
					420 m4,
					519 m3,
					570 m2,
					384 m1,
					5 ORDEM
*/
			


SELECT	DESCR	,	 M1,	M2	,	M3	,	M4	,	M5	,
		M6	,	M7	,	M8	,	M9	,	M10	 , 	ORDEM   
FROM	AUX_PDD_SAFRA_MEDIA		(NOLOCK) 

			end



-- SELECT * FROM	AUX_PDD_SAFRA_MEDIA		(NOLOCK) 








