
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios
Use SIG
go

-- exec scr_carteira_3m '20140930','',''
-- exec scr_carteira_3m '20140831','',''

-- exec scr_carteira_3m '20140430','',''
-- exec scr_carteira_3m '20140530','',''
-- exec scr_carteira_3m '20140630','',''
-- exec scr_carteira_3m '20140731','',''

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_carteira_3m' AND type = 'P')
   DROP PROCEDURE [dbo].scr_carteira_3m
GO


CREATE Procedure [dbo].scr_carteira_3m (@data_ref as datetime, @agente varchar(6), @cobradora varchar(6)) AS
BEGIN

/*
select * from  PERFORMANCE_CALC   (NOLOCK)

CLASSE	QTDM3	VLRM3	TM3	QTDM2	VLRM2	TM2	QTDM1	VLRM1	TM1
drop   table PERFORMANCE_3m
drop   table Carteira_3m
create table Carteira_3m  (
		data_ref datetime,
		CLASSE varchar(50),
		QTDM3	float,
		VLRM3	float,
		TM3		float,
		QTDM2	float,
		VLRM2	float,
		TM2		float,
		QTDM1	float,
		VLRM1	float,
		TM1		float)

*/

-- limpa
delete from CARTEIRA_3m where data_ref=@data_ref


-- select * from CARTEIRA_3m
-- select * from rating_HISTORICO
-- carrega MES 1 -- DATA REF
insert CARTEIRA_3m
(
		data_ref , --datetime,
		CLASSE   , --varchar(50),
		QTDM1	 , --float,
		VLRM1	 , --float,
		TM1		)  --float)
select	@data_ref,
		NVL_RISCO,
		COUNT(*),
		SUM(SLD_INSCRITO),
		0.0
FROM	RATING_HISTORICO	(NOLOCK)
	WHERE DT_FECHA =@data_ref
	AND	NVL_RISCO<>'HH'
GROUP BY NVL_RISCO

DECLARE @M2 DATETIME
	-- DATA DE FECHAMENTO ************************************
	-- DIA 1 DO MES ATUAL
	SET		@M2 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
	-- FIM DO MES ANTERIOR = FECHAMENTO
	SET		@M2=DATEADD(DD,-1,@M2)

	-- ALTERACAO DT FECHAMENTO ULTIMO DIA DO MES
	IF @M2 <= '20140831' -- ANTES AGO/2014
	BEGIN
		-- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES		RISCO
		-- CHECA SE EH DIA UTIL
		SELECT	@M2= CASE WHEN DATEPART(DW,@M2) = 1 THEN DATEADD(D,-2,@M2)	-- DOMINGO
						  WHEN DATEPART(DW,@M2) = 7 THEN DATEADD(D,-1,@M2)	-- SABADO
						  ELSE @M2					 END
	END
	--SELECT @M2

-- ATUALIZA O MES 2
UPDATE	CARTEIRA_3m
SET		QTDM2 = QTD,
		VLRM2 = VLR
FROM	(
			select	NVL_RISCO,
					COUNT(*) AS QTD,
					SUM(SLD_INSCRITO) AS VLR
			FROM	RATING_HISTORICO	(NOLOCK)
				WHERE DT_FECHA =@M2
				AND	NVL_RISCO<>'HH'
			GROUP BY NVL_RISCO	) AS H	
WHERE	CARTEIRA_3m.data_ref =@data_ref
	AND	CARTEIRA_3m.CLASSE   =H.NVL_RISCO

-- *************************************************************
-- M3
	DECLARE @M3 DATETIME
	-- DATA DE FECHAMENTO ************************************
	-- DIA 1 DO MES ATUAL
	SET		@M3 =  CONVERT(CHAR(4),DATEPART(YEAR,@M2))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M2))),2)+'01'
	-- FIM DO MES ANTERIOR = FECHAMENTO
	SET		@M3=DATEADD(DD,-1,@M3)
	-- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES		RISCO

	-- ALTERACAO DT FECHAMENTO ULTIMO DIA DO MES
	IF @M3 <= '20140831' -- ANTES AGO/2014
	BEGIN
		-- CHECA SE EH DIA UTIL
		SELECT	@M3= CASE WHEN DATEPART(DW,@M3) = 1 THEN DATEADD(D,-2,@M3)	-- DOMINGO
						  WHEN DATEPART(DW,@M3) = 7 THEN DATEADD(D,-1,@M3)	-- SABADO
						  ELSE @M3					 END
	END
	-- SELECT @M3

-- ATUALIZA O MES 3
UPDATE	CARTEIRA_3m
SET		QTDM3 = QTD,
		VLRM3 = VLR
FROM	(
			select	NVL_RISCO,
					COUNT(*) AS QTD,
					SUM(SLD_INSCRITO) AS VLR
			FROM	RATING_HISTORICO	(NOLOCK)
				WHERE DT_FECHA =@M3
				AND	NVL_RISCO<>'HH'
			GROUP BY NVL_RISCO	) AS H	
WHERE	CARTEIRA_3m.data_ref =@data_ref
	AND	CARTEIRA_3m.CLASSE   =H.NVL_RISCO



-- INSERE TTL
INSERT CARTEIRA_3m
select	@data_ref,
		'TTL',
		QTD3,
		VLR3, 0.0,
		QTD2,
		VLR2, 0.0,
		QTD1,
		VLR1, 0.0
FROM	(SELECT SUM(QTDM3) AS QTD3,
				SUM(VLRM3) AS VLR3,
				SUM(QTDM2) AS QTD2,
				SUM(VLRM2) AS VLR2,
				SUM(QTDM1) AS QTD1,
				SUM(VLRM1) AS VLR1
			FROM	CARTEIRA_3m		(NOLOCK)
			WHERE	data_ref =@data_ref
		) AS C


-- CALCULA PERCENTUAL
UPDATE	CARTEIRA_3m
SET		TM3 = CARTEIRA_3m.VLRM3 / T.VLRM3 * 100.0,
		TM2 = CARTEIRA_3m.VLRM2 / T.VLRM2 * 100.0,
		TM1 = CARTEIRA_3m.VLRM1 / T.VLRM1 * 100.0
FROM	(   SELECT  *
			FROM	CARTEIRA_3m		(NOLOCK)
			WHERE	data_ref =@data_ref	
				AND	CLASSE   = 'TTL' 	
		) AS T
WHERE	CARTEIRA_3m.data_ref =@data_ref


-- FAIXAS
UPDATE		CARTEIRA_3m
	SET		CLASSE = 'A - 0 A 14D'
	WHERE	data_ref =@data_ref
		AND	CLASSE = 'A'
UPDATE		CARTEIRA_3m
	SET		CLASSE = 'B - 15 A 30D'
	WHERE	data_ref =@data_ref
		AND	CLASSE = 'B'
UPDATE		CARTEIRA_3m
	SET		CLASSE = 'C - 31 A 60D'
	WHERE	data_ref =@data_ref
		AND	CLASSE = 'C'
UPDATE		CARTEIRA_3m
	SET		CLASSE = 'D - 61 A 90D'
	WHERE	data_ref =@data_ref
		AND	CLASSE = 'D'
UPDATE		CARTEIRA_3m
	SET		CLASSE = 'E - 91 A 120D'
	WHERE	data_ref =@data_ref
		AND	CLASSE = 'E'
UPDATE		CARTEIRA_3m
	SET		CLASSE = 'F - 121 A 150D'
	WHERE	data_ref =@data_ref
		AND	CLASSE = 'F'
UPDATE		CARTEIRA_3m
	SET		CLASSE = 'G - 151 A 180D'
	WHERE	data_ref =@data_ref
		AND	CLASSE = 'G'
UPDATE		CARTEIRA_3m
	SET		CLASSE = 'H - 181 A 359D'
	WHERE	data_ref =@data_ref
		AND	CLASSE = 'H'

-- MOSTRA NA TELA
SELECT * FROM CARTEIRA_3m WHERE data_ref =@data_ref AND CLASSE <>'TTL'


END


GO
