
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios
Use SIG
go

-- exec [scr_grafico_cart0d] '20140630','',''
-- exec [scr_grafico_cart0d] '20140630','0','0'

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_grafico_cart0d' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_grafico_cart0d]
GO


CREATE Procedure [dbo].[scr_grafico_cart0d] (@data_ref as datetime, @agente varchar(6), @cobradora varchar(6)) AS
BEGIN

-- 	mar/14			abr/14			mai/14		
-- Classe de Atraso	Qtde	Vlr Risco	t%	Qtde	Vlr Risco	t%	Qtde	Vlr Risco	t%
-- 2- 0 a 14	 10.000 	 87.000.000 	77,43	 10.000 	 87.000.000 	77,43	 10.000 	 87.000.000 	77,43
/*

ANO	JAN	FEV	MAR	ABR	MAI	JUN	JUL	AGO	SET	OUT	NOV	DEZ
2013	75,77	75,99	75,84	76,79	76,65	77,3	78,21	78,46	80,3	79,82	79,35	79,87
2014	79,6	79,45	77,43	77,04	76,86							

drop TABLE AUX_GRAFICO_CART

CREATE TABLE AUX_GRAFICO_CART

(	DT_FECHA	DATETIME,
	ordem_linha int,
	ANO		VARCHAR(10),
	M1		FLOAT,
	M2		FLOAT,
	M3		FLOAT,
	M4		FLOAT,
	M5		FLOAT,
	M6		FLOAT,
	M7		FLOAT,
	M8		FLOAT,
	M9		FLOAT,
	M10		FLOAT,
	M11		FLOAT,
	M12		FLOAT )


*/


-- CALCULAR 2 M ANTERIORES
-- 
DECLARE @DTM1 DATETIME
DECLARE @DTM2 DATETIME
DECLARE @DTM3 DATETIME
DECLARE @DTM4 DATETIME
DECLARE @DTM5 DATETIME
DECLARE @DTM6 DATETIME
DECLARE @DTM7 DATETIME
DECLARE @DTM8 DATETIME
DECLARE @DTM9 DATETIME
DECLARE @DTM10 DATETIME
DECLARE @DTM11 DATETIME
DECLARE @DTM12 DATETIME

-- FECHAMENTO M1 = JANEIRO
SET @DTM1 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0201'
			--RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@DTM1=DATEADD(DD,-1,@DTM1) -- FIM JANEIRO
IF		@DTM1 <  '20140831'
BEGIN
	-- CHECA SE EH DIA UTIL
	SET	@DTM1= CASE WHEN DATEPART(DW,@DTM1) = 1 THEN DATEADD(D,-2,@DTM1)	-- DOMINGO
							WHEN DATEPART(DW,@DTM1) = 7 THEN DATEADD(D,-1,@DTM1)	-- SABADO
							ELSE @DTM1					 END
END
--SELECT @DTM1


-- FECHAMENTO M2= FEV
SET @DTM2 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0301'
-- FIM DO MES ANTERIOR
SET		@DTM2=DATEADD(DD,-1,@DTM2)
IF		@DTM2 <  '20140831'
BEGIN
	-- CHECA SE EH DIA UTIL
	SET	@DTM2= CASE WHEN DATEPART(DW,@DTM2) = 1 THEN DATEADD(D,-2,@DTM2)	-- DOMINGO
							WHEN DATEPART(DW,@DTM2) = 7 THEN DATEADD(D,-1,@DTM2)	-- SABADO
							ELSE @DTM2					 END
END

-- FECHAMENTO M3= MAR
SET @DTM3 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0401'
-- FIM DO MES ANTERIOR
SET		@DTM3=DATEADD(DD,-1,@DTM3)
IF		@DTM3 <  '20140831'
BEGIN
	-- CHECA SE EH DIA UTIL
	SET	@DTM3= CASE WHEN DATEPART(DW,@DTM3) = 1 THEN DATEADD(D,-2,@DTM3)	-- DOMINGO
							WHEN DATEPART(DW,@DTM3) = 7 THEN DATEADD(D,-1,@DTM3)	-- SABADO
							ELSE @DTM3					 END
END

-- FECHAMENTO M4= ABR
SET @DTM4 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0501'
-- FIM DO MES ANTERIOR
SET		@DTM4=DATEADD(DD,-1,@DTM4)
IF		@DTM4 <  '20140831'
BEGIN
	-- CHECA SE EH DIA UTIL
	SET	@DTM4= CASE WHEN DATEPART(DW,@DTM4) = 1 THEN DATEADD(D,-2,@DTM4)	-- DOMINGO
							WHEN DATEPART(DW,@DTM4) = 7 THEN DATEADD(D,-1,@DTM4)	-- SABADO
							ELSE @DTM4					 END
END

-- FECHAMENTO M5= MAI
SET @DTM5 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0601'
-- FIM DO MES ANTERIOR
SET		@DTM5=DATEADD(DD,-1,@DTM5)
IF		@DTM5 <  '20140831'
BEGIN
	-- CHECA SE EH DIA UTIL
	SET	@DTM5= CASE WHEN DATEPART(DW,@DTM5) = 1 THEN DATEADD(D,-2,@DTM5)	-- DOMINGO
							WHEN DATEPART(DW,@DTM5) = 7 THEN DATEADD(D,-1,@DTM5)	-- SABADO
							ELSE @DTM5					 END
END

-- FECHAMENTO M6= JUN
SET @DTM6 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0701'
-- FIM DO MES ANTERIOR
SET		@DTM6=DATEADD(DD,-1,@DTM6)
IF		@DTM10 <  '20140831'
BEGIN
	-- CHECA SE EH DIA UTIL
	SET	@DTM6= CASE WHEN DATEPART(DW,@DTM6) = 1 THEN DATEADD(D,-2,@DTM6)	-- DOMINGO
					WHEN DATEPART(DW,@DTM6) = 7 THEN DATEADD(D,-1,@DTM6)	-- SABADO
					ELSE @DTM6					 END
END

-- FECHAMENTO M7= JUL
SET @DTM7 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0801'
-- FIM DO MES ANTERIOR
SET		@DTM7=DATEADD(DD,-1,@DTM7)
IF		@DTM7 <  '20140831'
BEGIN
	-- CHECA SE EH DIA UTIL
	SET	@DTM7= CASE WHEN DATEPART(DW,@DTM7) = 1 THEN DATEADD(D,-2,@DTM7)	-- DOMINGO
					WHEN DATEPART(DW,@DTM7) = 7 THEN DATEADD(D,-1,@DTM7)	-- SABADO
					ELSE @DTM7					 END
END

-- FECHAMENTO M8= AGO
SET @DTM8 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0901'
-- FIM DO MES ANTERIOR
SET		@DTM8=DATEADD(DD,-1,@DTM8)
IF		@DTM8 <  '20140831'
BEGIN
-- CHECA SE EH DIA UTIL
	SET	@DTM8= CASE WHEN DATEPART(DW,@DTM8) = 1 THEN DATEADD(D,-2,@DTM8)	-- DOMINGO
					WHEN DATEPART(DW,@DTM8) = 7 THEN DATEADD(D,-1,@DTM8)	-- SABADO
					ELSE @DTM8					 END
END

-- FECHAMENTO M9= SET
SET @DTM9 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'1001'
-- FIM DO MES ANTERIOR
SET		@DTM9=DATEADD(DD,-1,@DTM9)
IF		@DTM9 <  '20140831'
BEGIN
-- CHECA SE EH DIA UTIL
	SET	@DTM9= CASE WHEN DATEPART(DW,@DTM9) = 1 THEN DATEADD(D,-2,@DTM9)	-- DOMINGO
					WHEN DATEPART(DW,@DTM9) = 7 THEN DATEADD(D,-1,@DTM9)	-- SABADO
					ELSE @DTM9					 END
END

-- FECHAMENTO M10= OUT
SET @DTM10 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'1101'
-- FIM DO MES ANTERIOR
SET		@DTM10 = DATEADD(DD,-1,@DTM10)
IF		@DTM10 <  '20140831'
BEGIN
-- CHECA SE EH DIA UTIL
	SET	@DTM10= CASE WHEN DATEPART(DW,@DTM10) = 1 THEN DATEADD(D,-2,@DTM10)	-- DOMINGO
					 WHEN DATEPART(DW,@DTM10) = 7 THEN DATEADD(D,-1,@DTM10)	-- SABADO
					 ELSE @DTM10				  END
END

-- FECHAMENTO M11= NOV
SET @DTM11 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'1201'
-- FIM DO MES ANTERIOR
SET		@DTM11=DATEADD(DD,-1,@DTM11)
IF		@DTM11 <  '20140831'
BEGIN
	-- CHECA SE EH DIA UTIL
	SET	@DTM11= CASE WHEN DATEPART(DW,@DTM11) = 1 THEN DATEADD(D,-2,@DTM11)	-- DOMINGO
					 WHEN DATEPART(DW,@DTM11) = 7 THEN DATEADD(D,-1,@DTM11)	-- SABADO
					 ELSE @DTM11				  END
END

-- FECHAMENTO M12= DEZ
SET @DTM12 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'1231'  -- FIM DO MES
IF		@DTM12 <  '20140831'
BEGIN
	-- CHECA SE EH DIA UTIL
	SET	@DTM12= CASE WHEN DATEPART(DW,@DTM12) = 1 THEN DATEADD(D,-2,@DTM12)	-- DOMINGO
					 WHEN DATEPART(DW,@DTM12) = 7 THEN DATEADD(D,-1,@DTM12)	-- SABADO
					 ELSE @DTM12				  END
END

-- APAGA ANTERIOR
delete AUX_GRAFICO_CART 

-- ANO CORRENTE  -- ********************************** LINHA 1
INSERT AUX_GRAFICO_CART
select @data_ref,1, datepart(year,@data_ref)
				,0.0	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	

-- DECLARE @data_ref DATETIME		SET	@data_ref='20140630' DECLARE @DTM1 DATETIME		SET	@DTM1='20140131'
-- SELECT * FROM AUX_GRAFICO_CART WHERE DT_FECHA=@data_ref AND ORDEM_LINHA=1
    -- LINHA 1 , M1
	UPDATE	   AUX_GRAFICO_CART
		SET    M1=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM1
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 


    -- LINHA 1 , M2
	UPDATE	   AUX_GRAFICO_CART
		SET    M2=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM2
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M3
	UPDATE	   AUX_GRAFICO_CART
		SET    M3=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM3
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M4
	UPDATE	   AUX_GRAFICO_CART
		SET    M4=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM4
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M5
	UPDATE	   AUX_GRAFICO_CART
		SET    M5=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM5
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M6
	UPDATE	   AUX_GRAFICO_CART
		SET    M6=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM6
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M7
	UPDATE	   AUX_GRAFICO_CART
		SET    M7=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM7
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M8
	UPDATE	   AUX_GRAFICO_CART
		SET    M8=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM8
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M9
	UPDATE	   AUX_GRAFICO_CART
		SET    M9=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM9
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M10
	UPDATE	   AUX_GRAFICO_CART
		SET    M10=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM10
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M11
	UPDATE	   AUX_GRAFICO_CART
		SET    M11=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM11
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M12
	UPDATE	   AUX_GRAFICO_CART
		SET    M12=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM12
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 




-- ********************************************************** ANO ANTERIOR

-- FECHAMENTO M1 = JANEIRO	
SET @DTM1 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0201'
			--RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@DTM1=DATEADD(DD,-1,@DTM1) -- FIM JANEIRO
-- CHECA SE EH DIA UTIL
IF		@DTM1 <  '20140831'
BEGIN
	SET	@DTM1= CASE WHEN DATEPART(DW,@DTM1) = 1 THEN DATEADD(D,-2,@DTM1)	-- DOMINGO
							WHEN DATEPART(DW,@DTM1) = 7 THEN DATEADD(D,-1,@DTM1)	-- SABADO
							ELSE @DTM1					 END
END
--SELECT @DTM1


-- FECHAMENTO M2= FEV
SET @DTM2 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0301'
-- FIM DO MES ANTERIOR
SET		@DTM2=DATEADD(DD,-1,@DTM2)
-- CHECA SE EH DIA UTIL
IF		@DTM2 <  '20140831'
BEGIN
	SET	@DTM2= CASE WHEN DATEPART(DW,@DTM2) = 1 THEN DATEADD(D,-2,@DTM2)	-- DOMINGO
							WHEN DATEPART(DW,@DTM2) = 7 THEN DATEADD(D,-1,@DTM2)	-- SABADO
							ELSE @DTM2					 END
END

-- FECHAMENTO M3= MAR
SET @DTM3 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0401'
-- FIM DO MES ANTERIOR
SET		@DTM3=DATEADD(DD,-1,@DTM3)
-- CHECA SE EH DIA UTIL
IF		@DTM3 <  '20140831'
BEGIN
	SET	@DTM3= CASE WHEN DATEPART(DW,@DTM3) = 1 THEN DATEADD(D,-2,@DTM3)	-- DOMINGO
							WHEN DATEPART(DW,@DTM3) = 7 THEN DATEADD(D,-1,@DTM3)	-- SABADO
							ELSE @DTM3					 END
END

-- FECHAMENTO M4= ABR
SET @DTM4 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0501'
-- FIM DO MES ANTERIOR
SET		@DTM4=DATEADD(DD,-1,@DTM4)
-- CHECA SE EH DIA UTIL
IF		@DTM4 <  '20140831'
BEGIN
	SET	@DTM4= CASE WHEN DATEPART(DW,@DTM4) = 1 THEN DATEADD(D,-2,@DTM4)	-- DOMINGO
							WHEN DATEPART(DW,@DTM4) = 7 THEN DATEADD(D,-1,@DTM4)	-- SABADO
							ELSE @DTM4					 END
END

-- FECHAMENTO M5= MAI
SET @DTM5 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0601'
-- FIM DO MES ANTERIOR
SET		@DTM5=DATEADD(DD,-1,@DTM5)
-- CHECA SE EH DIA UTIL
IF		@DTM5 <  '20140831'
BEGIN
	SET	@DTM5= CASE WHEN DATEPART(DW,@DTM5) = 1 THEN DATEADD(D,-2,@DTM5)	-- DOMINGO
							WHEN DATEPART(DW,@DTM5) = 7 THEN DATEADD(D,-1,@DTM5)	-- SABADO
							ELSE @DTM5					 END
END

-- FECHAMENTO M6= JUN
SET @DTM6 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0701'
-- FIM DO MES ANTERIOR
SET		@DTM6=DATEADD(DD,-1,@DTM6)
-- CHECA SE EH DIA UTIL
IF		@DTM6 <  '20140831'
BEGIN
	SET	@DTM6= CASE WHEN DATEPART(DW,@DTM6) = 1 THEN DATEADD(D,-2,@DTM6)	-- DOMINGO
					WHEN DATEPART(DW,@DTM6) = 7 THEN DATEADD(D,-1,@DTM6)	-- SABADO
					ELSE @DTM6					 END
END

-- FECHAMENTO M7= JUL
SET @DTM7 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0801'
-- FIM DO MES ANTERIOR
SET		@DTM7=DATEADD(DD,-1,@DTM7)
-- CHECA SE EH DIA UTIL
IF		@DTM7 <  '20140831'
BEGIN
	SET	@DTM7= CASE WHEN DATEPART(DW,@DTM7) = 1 THEN DATEADD(D,-2,@DTM7)	-- DOMINGO
					WHEN DATEPART(DW,@DTM7) = 7 THEN DATEADD(D,-1,@DTM7)	-- SABADO
					ELSE @DTM7					 END
END

-- FECHAMENTO M8= AGO
SET @DTM8 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0901'
-- FIM DO MES ANTERIOR
SET		@DTM8=DATEADD(DD,-1,@DTM8)
-- CHECA SE EH DIA UTIL
IF		@DTM8 <  '20140831'
BEGIN
	SET	@DTM8= CASE WHEN DATEPART(DW,@DTM8) = 1 THEN DATEADD(D,-2,@DTM8)	-- DOMINGO
					WHEN DATEPART(DW,@DTM8) = 7 THEN DATEADD(D,-1,@DTM8)	-- SABADO
					ELSE @DTM8					 END
END

-- FECHAMENTO M9= SET
SET @DTM9 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'1001'
-- FIM DO MES ANTERIOR
SET		@DTM9=DATEADD(DD,-1,@DTM9)
-- CHECA SE EH DIA UTIL
IF		@DTM9 <  '20140831'
BEGIN
	SET	@DTM9= CASE WHEN DATEPART(DW,@DTM9) = 1 THEN DATEADD(D,-2,@DTM9)	-- DOMINGO
					WHEN DATEPART(DW,@DTM9) = 7 THEN DATEADD(D,-1,@DTM9)	-- SABADO
					ELSE @DTM9					 END
END

-- FECHAMENTO M10= OUT
SET @DTM10 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'1101'
-- FIM DO MES ANTERIOR
SET		@DTM10=DATEADD(DD,-1,@DTM10)
-- CHECA SE EH DIA UTIL
IF		@DTM10 <  '20140831'
BEGIN
	SET	@DTM10= CASE WHEN DATEPART(DW,@DTM10) = 1 THEN DATEADD(D,-2,@DTM10)	-- DOMINGO
					 WHEN DATEPART(DW,@DTM10) = 7 THEN DATEADD(D,-1,@DTM10)	-- SABADO
					 ELSE @DTM10				  END
END

-- FECHAMENTO M11= NOV
SET @DTM11 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'1201'
-- FIM DO MES ANTERIOR
SET		@DTM11=DATEADD(DD,-1,@DTM11)
-- CHECA SE EH DIA UTIL
IF		@DTM11 <  '20140831'
BEGIN
	SET	@DTM11= CASE WHEN DATEPART(DW,@DTM11) = 1 THEN DATEADD(D,-2,@DTM11)	-- DOMINGO
					 WHEN DATEPART(DW,@DTM11) = 7 THEN DATEADD(D,-1,@DTM11)	-- SABADO
					 ELSE @DTM11				  END
END

-- FECHAMENTO M12= DEZ
SET @DTM12 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'1231'  -- FIM DO MES
-- CHECA SE EH DIA UTIL
IF		@DTM12 <  '20140831'
BEGIN
	SET	@DTM12= CASE WHEN DATEPART(DW,@DTM12) = 1 THEN DATEADD(D,-2,@DTM12)	-- DOMINGO
					 WHEN DATEPART(DW,@DTM12) = 7 THEN DATEADD(D,-1,@DTM12)	-- SABADO
					 ELSE @DTM12				  END
END

-- ANO ANTERIOR *********************************************** LINHA 2
INSERT AUX_GRAFICO_CART
select @data_ref,2, datepart(year,@data_ref)-1
				,0.0	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	

-- DECLARE @data_ref DATETIME		SET	@data_ref='20140630' DECLARE @DTM1 DATETIME		SET	@DTM1='20140131'
-- SELECT * FROM AUX_GRAFICO_CART WHERE DT_FECHA=@data_ref AND ORDEM_LINHA=1
    -- LINHA 2 , M1
	UPDATE	   AUX_GRAFICO_CART
		SET    M1=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM1
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 


    -- LINHA 2 , M2
	UPDATE	   AUX_GRAFICO_CART
		SET    M2=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM2
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M3
	UPDATE	   AUX_GRAFICO_CART
		SET    M3=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM3
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M4
	UPDATE	   AUX_GRAFICO_CART
		SET    M4=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM4
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M5
	UPDATE	   AUX_GRAFICO_CART
		SET    M5=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM5
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M6
	UPDATE	   AUX_GRAFICO_CART
		SET    M6=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM6
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M7
	UPDATE	   AUX_GRAFICO_CART
		SET    M7=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM7
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M8
	UPDATE	   AUX_GRAFICO_CART
		SET    M8=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM8
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M9
	UPDATE	   AUX_GRAFICO_CART
		SET    M9=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM9
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M10
	UPDATE	   AUX_GRAFICO_CART
		SET    M10=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM10
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M11
	UPDATE	   AUX_GRAFICO_CART
		SET    M11=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM11
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M12
	UPDATE	   AUX_GRAFICO_CART
		SET    M12=   ROUND(([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0), 2) -- [QTDM3]
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM12
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 



-- APRESENTAR DADOS NA TELA
select 
			@data_ref  AS			 [DT_FECHA]

               ,'' AS [AGENTE]



               ,'' AS [COBRADORA]

               , [ORDEM_LINHA]

               ,'' AS [FORMATO],

	ANO		,
	M1		,
	CASE WHEN M2=0 THEN NULL ELSE M2 END AS M2		,
	CASE WHEN M3=0 THEN NULL ELSE M3 END AS M3		,
	CASE WHEN M4=0 THEN NULL ELSE M4 END AS M4		,
	CASE WHEN M5=0 THEN NULL ELSE M5 END AS M5		,
	CASE WHEN M6=0 THEN NULL ELSE M6 END AS M6		,
	CASE WHEN M7=0 THEN NULL ELSE M7 END AS M7		,
	CASE WHEN M8=0 THEN NULL ELSE M8 END AS M8		,
	CASE WHEN M9=0 THEN NULL ELSE M9 END AS M9		,

	CASE WHEN M10=0 THEN NULL ELSE M10 END AS M10		,
	CASE WHEN M11=0 THEN NULL ELSE M11 END AS M11		,
	CASE WHEN M12=0 THEN NULL ELSE M12 END AS M12		



from		AUX_GRAFICO_CART   (NOLOCK)
	ORDER BY ORDEM_LINHA



END


GO

-- SELECT * from		AUX_GRAFICO_CART 
-- SELECT * from  RR_ROLLRATE_RPT
-- SELECT ROUND([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0,2) from  RR_ROLLRATE_RPT WHERE DT_FECHA='20140131' AND ORDEM_LINHA=5
--ORDER BY cobradora, rating
--  from		SIG_IP_VLR_VIEW p (NOLOCK)
--	WHERE	DaTa_ref = ( @data_ref )
--	order by ORDEM ASC , ORDEM_LINHA ASC
--  select * from PERFORMANCE_CALC			
