USE sig
GO

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_graf1_Rolag_Consolid' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_graf1_Rolag_Consolid]
GO

-- SELECT * FROM PDD_consolidada (NOLOCK)
--			EXEC [scr_graf1_Rolag_Consolid] '20160630' ,1
--			EXEC [scr_graf1_Rolag_Consolid] '20160630' ,' 2'
/****** Object:  StoredProcedure [dbo].[scr_graf1_Rolag_Consolid]    Script Date: 28/12/2016 02:21:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        create Procedure [dbo].[scr_graf1_Rolag_Consolid] (
			@data_ref as datetime, @rpt as varchar(10)    ) AS

			begin

SET @RPT = RTRIM(@RPT)

				SELECT
					DESCR,

					CONVERT(NUMERIC(15,2),m24) as m24,
					CONVERT(NUMERIC(15,2),m23) as m23,
					CONVERT(NUMERIC(15,2),m22) as m22,
					CONVERT(NUMERIC(15,2),m21) as m21,
					CONVERT(NUMERIC(15,2),m20) as m20,
					CONVERT(NUMERIC(15,2),m19) as m19,
					CONVERT(NUMERIC(15,2),m18) as m18,
					CONVERT(NUMERIC(15,2),m17) as m17,
					CONVERT(NUMERIC(15,2),m16) as m16,
					CONVERT(NUMERIC(15,2),m15) as m15,
					CONVERT(NUMERIC(15,2),m14) as m14,
					CONVERT(NUMERIC(15,2),m13) as m13,
					CONVERT(NUMERIC(15,2),m12) as m12,
					CONVERT(NUMERIC(15,2),m11) as m11,
					CONVERT(NUMERIC(15,2),m10) as m10,
					CONVERT(NUMERIC(15,2),m9)  as m9,
					CONVERT(NUMERIC(15,2),m8)  as m8,
					CONVERT(NUMERIC(15,2),m7)  as m7,
					CONVERT(NUMERIC(15,2),m6)  as m6,
					CONVERT(NUMERIC(15,2),m5)  as m5,
					CONVERT(NUMERIC(15,2),m4)  as m4,
					CONVERT(NUMERIC(15,2),m3)  as m3,
					CONVERT(NUMERIC(15,2),m2)  as m2,
					CONVERT(NUMERIC(15,2),m1)  as m1,
					CONVERT(NUMERIC(15,2),m0)  as m0
	FROM	PDD_consolidada (NOLOCK)
	WHERE	1=0 + CASE 
						WHEN @RPT = 1 AND 	LEFT(DESCR,8) ='ENTRADAS'	THEN 1
						WHEN @RPT = 2 AND 	LEFT(DESCR,7) ='ESTOQUE'	THEN 1
						WHEN @RPT = 3 AND 	LEFT(DESCR,7) ='REGULAR'	THEN 1
						WHEN @RPT = 4 AND 	LEFT(DESCR,7) ='ROLAGEM'	THEN 1
						ELSE 0
				  END	
			end
GO








