
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios
use SIG
go

/*
-- teste
-- dt fechamento, plano de , ate
EXEC [dbo].scr_RR_mensal_ANALITICO_HH  '20140731',1,99
 
EXEC [dbo].scr_RR_mensal_ANALITICO_HH  '20140630',1,99

SELECT * FROM TAUX_CONTRATO2

-- ATEH MAIO H, JUN NAO CONSTA HH SOMENTE 2 CONTRATOS
SELECT * FROM RATING_HISTORICO WHERE NUM_OPE ='63208111'

63208111
SELECT * FROM RATING_HISTORICO WHERE NUM_OPE ='67072440'
67072440

-- EX PERC VLR, PREJU OK
SELECT * FROM RATING_HISTORICO WHERE NUM_OPE ='612078644A'

-- INSERIR 1
INSERT RATING_HISTORICO
SELECT  '06_14',--DT_REF
	NUM_OPE,	DT_BASE,
	'HH', --	NVL_RISCO
	NOM_CLI,
	DT_VCTO1,	SLD_INSCRITO,	VLR_PRINC,
	VL_JUROS,	TX_RAP,	RRF_JR,	VLR_FV,	PERC_PDD,	VLR_PDD	,
Atraso,	parc,	dtVencParc,	AGENTE,	COBRADORA,	
'20140630', --DT_FECHA
	DT_VCTO1P,	CODCLI	,CODPROD
FROM  RATING_HISTORICO WHERE NUM_OPE ='63208111' AND DT_FECHA = '20140530'


-- INSERIR 1
INSERT RATING_HISTORICO
SELECT  '06_14',--DT_REF
	NUM_OPE,	DT_BASE,
	'HH', --	NVL_RISCO
	NOM_CLI,
	DT_VCTO1,	SLD_INSCRITO,	VLR_PRINC,
	VL_JUROS,	TX_RAP,	RRF_JR,	VLR_FV,	PERC_PDD,	VLR_PDD	,
Atraso,	parc,	dtVencParc,	AGENTE,	COBRADORA,	
'20140630', --DT_FECHA
	DT_VCTO1P,	CODCLI	,CODPROD
FROM  RATING_HISTORICO WHERE NUM_OPE ='67072440' AND DT_FECHA = '20140530'



-- PREJU OK, vlr diferente
SELECT * FROM RATING_HISTORICO WHERE NUM_OPE ='63602930'
SELECT * FROM RATING_HISTORICO WHERE NUM_OPE ='612050161A'
SELECT * FROM RATING_HISTORICO WHERE NUM_OPE ='61629235A'

-- NAO alterei 3 valores
UPDATE RATING_HISTORICO SET SLD_INSCRITO= 1143.46, VLR_PDD=1143.46 WHERE NUM_OPE ='63602930'

-- PARCELA PULADA
SELECT * from	CDCSANTANAMicroCredito..CPARC WHERE PANROPER= '63602930'
-- NAO PAGOU NENHUMA
SELECT * from	CDCSANTANAMicroCredito..CPARC WHERE PANROPER= '612050161A'
-- NAO PAGOU NENHUMA
SELECT * from	CDCSANTANAMicroCredito..CPARC WHERE PANROPER= '61629235A'



 EXEC [dbo].scr_RR_mensal_ANALITICO  '20140430',1,12

SELECT * from	RR_AUX_CONTRATO_2m
SELECT * from	CDCSANTANAMicroCredito..TPROD
SELECT ABCODBEM,* from	CDCSANTANAMicroCredito..CBFIN
-- COD_MARCA 0144
SELECT * from	CDCSANTANAMicroCredito..TMARCA
SELECT * from	PROPOSTASANTANA..TMODE
SELECT * from	TABCORPSANTANA..TMARC
SELECT * FROM TAUX_CONTRATO2

SP_HELP  TAUX_CONTRATO

SELECT * FROM RATING_HISTORICO WHERE DT_FECHA='20140630'

SELECT * FROM RATING_HISTORICO WHERE DT_FECHA='20140530' AND NVL_RISCO <>'HH'
SELECT SUM(SLD_INSCRITO) FROM RATING_HISTORICO WHERE DT_FECHA='20140530' AND NVL_RISCO <>'HH'


SELECT * FROM RATING_HISTORICO WHERE DT_FECHA='20140530' AND NUM_OPE='612113590' 
UPDATE RATING_HISTORICO SET NVL_RISCO ='C' WHERE DT_FECHA='20140530' AND NUM_OPE='612113590' 
UPDATE RATING_HISTORICO SET PERC_PDD =3.0 WHERE DT_FECHA='20140530' AND NUM_OPE='612113590' 

8338,28

612113590	C
612131159	D
612058776A	C

SELECT * FROM RATING_HISTORICO WHERE DT_FECHA='20140530' AND NUM_OPE='612131159' 
UPDATE RATING_HISTORICO SET NVL_RISCO ='D' WHERE DT_FECHA='20140530' AND NUM_OPE='612131159' 
UPDATE RATING_HISTORICO SET PERC_PDD =10.0 WHERE DT_FECHA='20140530' AND NUM_OPE='612131159' 

SELECT * FROM RATING_HISTORICO WHERE DT_FECHA='20140530' AND NUM_OPE='612058776A' 
UPDATE RATING_HISTORICO SET NVL_RISCO ='C' WHERE DT_FECHA='20140530' AND NUM_OPE='612058776A' 
UPDATE RATING_HISTORICO SET PERC_PDD =3.0 WHERE DT_FECHA='20140530' AND NUM_OPE='612058776A' 
-- RECALCULAR O PDD MAIO
UPDATE RATING_HISTORICO SET VLR_PDD =SLD_INSCRITO * PERC_PDD/100.00 WHERE DT_FECHA='20140530' AND NUM_OPE IN ('612113590','612131159' ,'612058776A' )
SELECT * FROM RATING_HISTORICO WHERE DT_FECHA='20140530' AND NUM_OPE IN ('612113590','612131159' ,'612058776A' )

SELECT * FROM RATING_HISTORICO WHERE DT_FECHA='20140630' AND NVL_RISCO = 'A'

CONTRATO	RISCO	PRC_PDD

CREATE TABLE carga_DIF  (CONTRATO VARCHAR(25), RISCO VARCHAR(5),PRC_PDD FLOAT)
-- BCP DIFERENCA 258 CONTRATOS
SELECT * FROM carga_DIF
-- TRANSFERE PARA HISTORICO
SELECT COUNT(*) FROM RATING_HISTORICO -- 370K REG
-- BACKUP
SELECT * INTO RATING_HISTORICO_BAK FROM RATING_HISTORICO 
-- JOIN
SELECT * FROM RATING_HISTORICO,CARGA_DIF WHERE DT_FECHA='20140630' AND CONTRATO=NUM_OPE 
UPDATE RATING_HISTORICO SET NVL_RISCO= RISCO, PERC_PDD= PRC_PDD FROM CARGA_DIF WHERE DT_FECHA='20140630' AND CONTRATO=NUM_OPE 

UPDATE RATING_HISTORICO SET VLR_PDD= SLD_INSCRITO * PERC_PDD/100.0 FROM CARGA_DIF WHERE DT_FECHA='20140630' AND CONTRATO=NUM_OPE 

-- AJUSTE RECALCULO


--  ***********************************


DROP table TAUX_CONTRATO2
create table TAUX_CONTRATO2 (

	CONTRATO	VARCHAR(20)	,
	CPF_CNPJ	VARCHAR(20),
	NOME_CLIENTE	VARCHAR(200),
	PROFISSAO		VARCHAR(200),
	CARGO			VARCHAR(200),

	AGENTE			VARCHAR(200),
	COBRADORA		VARCHAR(200),
	DATA_CONTRATO	SMALLDATETIME,

	NVL_RISCO	VARCHAR(5),

	PLANO			INT,
	PARCELA_ABERTO	INT,
	PARCELA_AVENCER	INT,
	PARC_PAGAS		INT,	
	PRIMEIRO_VCTO	SMALLDATETIME,
	ATRASO			INT,
	VENCIMENTO		SMALLDATETIME,
	VLR_PARCELA		FLOAT,
	QTD_PARC_ATRASO	INT,
 	SALDO_INSCRITO	FLOAT,
 	VLR_FINANCIADO	FLOAT,

	PRAZO			VARCHAR(50),
	TIPO_VEIC		VARCHAR(50),
	VEICULO			VARCHAR(200),
	MARCA			VARCHAR(200),
	MODELO			VARCHAR(200),
	ANO_FABRIC		VARCHAR(50),
	ANO_MODELO		VARCHAR(50),
	VERSAO			VARCHAR(200),
	PRODUTO			VARCHAR(200),  -- 

	COD_MARCA		VARCHAR(10),
	COD_PROD		VARCHAR(10),
	COD_MODA		VARCHAR(10),
	COD_CLI			VARCHAR(50),
	COD_VEIC		VARCHAR(50),
	COD_COB			VARCHAR(50),
	COD_OPERADOR	VARCHAR(50),
    COD_AGENTE		VARCHAR(50)


)


ALTER TABLE TAUX_CONTRATO2
ADD COD_ATIVIDADE VARCHAR(10), ATIVIDADE VARCHAR(30)


-- SP_HELP TAUX_CONTRATO2


SELECT *	 from	TAUX_CONTRATO2


select *  FROM GESTORCOB..ELCCB where lcnroper='612143338'

select LCCNTRL,LCCODMOVR,*  FROM GESTORCOB..ELCCB where lcnroper='612143338' ORDER BY LCNRPARC,LCCNTRL
select *  FROM GESTORCOB..ELCCB where lcnroper='612143338a'

select *  FROM CDCSANTANAMicroCredito..coper where opnroper='612143338a'

select * from GESTORCOB..tdipara
select * from GESTORCOB..tdistref
select * from GESTORCOB..tcnpara
select * from GESTORCOB..tmtpara
select * from GESTORCOB..tmoti

select * from GESTORCOB..tparaverb
select * from GESTORCOB..ttbpara
select * from GESTORCOB..ttbtab

*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_RR_mensal_ANALITICO_HH' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_RR_mensal_ANALITICO_HH]
GO


CREATE Procedure [dbo].[scr_RR_mensal_ANALITICO_HH]
		(@data_ref as datetime,  @PRAZO_DE INT, @PRAZO_ATE INT	) AS
BEGIN

DECLARE @data_ANT AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END



-- LIMPA TABELA AUXILIAR
DELETE FROM TAUX_CONTRATO2

	INSERT	TAUX_CONTRATO2
		(	CONTRATO,
			NVL_RISCO,
			PARCELA_ABERTO,
			PARCELA_AVENCER,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			NVL_RISCO,
			PARC,
			parc,
			DtVENCparc,
			ATRASO,
			SLD_INSCRITO
	 from	RATING_HISTORICO  R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_REF		--mes ATUAL da linha
			AND	 NVL_RISCO = 'HH'			-- SOH PREJUIZO	
-- SELECT *  from	RATING_HISTORICO 

-- APAGA OS Q ESTAVAM NO MES ANTERIOR
DELETE FROM TAUX_CONTRATO2
		WHERE CONTRATO IN (SELECT NUM_OPE 
							FROM RATING_HISTORICO  R	(NOLOCK)
							WHERE	 DT_FECHA = @data_ANT		--mes ANTERIOR da linha
								AND	 NVL_RISCO = 'HH'			-- SOH PREJUIZO	
								)

UPDATE TAUX_CONTRATO2
SET
			CPF_CNPJ		= OPCODCLI,
			DATA_CONTRATO	= OPDTBASE,
			PLANO			= OPQTDDPARC,
			COD_CLI			= OPCODCLI,
		 	VLR_FINANCIADO	= OPVLRFIN,
			PARC_PAGAS		= OPPARCLIQ,
			COD_OPERADOR    = OPCODORG3,  -- OPERADOR
			COD_MODA		= OPCODOP,	  -- MODALIDADE
			VLR_PARCELA		= OPVLRPARC
-- SELECT TOP 10 *			
FROM		CDCSANTANAMicroCredito..COPER O (NOLOCK) 
	WHERE	OPNROPER=CONTRATO
-- OPCODPROD TPROD		
-- REMOVE OS CONTRATOS FORA DOS PRAZOS DE INTERVALO
DELETE TAUX_CONTRATO2
WHERE  1=1+ CASE WHEN @PRAZO_DE+@PRAZO_ATE = 0 THEN 1
				 WHEN @PRAZO_DE+@PRAZO_ATE > 0 AND 	PLANO BETWEEN @PRAZO_DE AND @PRAZO_ATE  THEN 1
				 ELSE 0		END


UPDATE TAUX_CONTRATO2
SET
			CPF_CNPJ		= OPCODCLI,
			DATA_CONTRATO	= OPDTBASE,
			PLANO			= OPQTDDPARC,
			COD_CLI			= OPCODCLI,
		 	VLR_FINANCIADO	= OPVLRFIN,
			PARC_PAGAS		= OPPARCLIQ,
			COD_OPERADOR    = OPCODORG3,  -- OPERADOR
			COD_PROD		= OPCODPROD,
			VLR_PARCELA		= OPVLRPARC
-- SELECT TOP 10 OPCODPROD,*			
FROM		CDCSANTANAMicroCredito..COPER O (NOLOCK) 
	WHERE	OPNROPER=CONTRATO
-- OPCODPROD  TPROD



UPDATE  TAUX_CONTRATO2
SET		TIPO_VEIC= TPDESCR
--SELECT *  
	FROM	CDCSANTANAMicroCredito..TPROD P (NOLOCK)
	WHERE   TPCODPRD = COD_PROD
-- SELECT * FROM TAUX_CONTRATO2

UPDATE TAUX_CONTRATO2
SET
			NOME_CLIENTE= CLNOMECLI,
			CPF_CNPJ	= CLCGC,
			PROFISSAO	= CLPROFI,
			CARGO		= CLCARGO
-- SELECT TOP 10 *			
FROM		CDCSANTANAMicroCredito..CCLIE O (NOLOCK) 
	WHERE
			COD_CLI	= CLCODCLI


-- ***************************** COBRADORA
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
UPDATE	TAUX_CONTRATO2
SET		COD_COB		= COBR.LCCODACOB
FROM	(
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
		SELECT LCNROPER,LCNRPARC,LCCODACOB FROM GESTORCOB..ELCCB E (NOLOCK)
			WHERE   LCNROPER IN (SELECT CONTRATO FROM TAUX_CONTRATO2)
				AND LCCNTRL = (SELECT	MAX(LCCNTRL) 
								FROM	GESTORCOB..ELCCB AUX (NOLOCK)
								WHERE	AUX.LCNROPER= E.LCNROPER
									AND AUX.LCNRPARC= E.LCNRPARC )
			/*	AND LCNRPARC = (SELECT MAX(LCNRPARC) 
								FROM GESTORCOB..ELCCB AUX (NOLOCK)
								WHERE AUX.LCNROPER= E.LCNROPER
								  AND LCDTVCTO <= @DATA_REF) 
			AND LCDTVCTO <= @DATA_REF		   */

	 ) AS COBR
WHERE	TAUX_CONTRATO2.CONTRATO = COBR.LCNROPER
	AND TAUX_CONTRATO2.PARCELA_AVENCER = COBR.LCNRPARC

-- SELECT * FROM GESTORCOB..ELCCB E (NOLOCK) WHERE LCNROPER='612068339A'
-- SELECT * FROM TAUX_CONTRATO2 WHERE CONTRATO='612068339A'  -- PARC 5

/*
SELECT LCNROPER,LCNRPARC,LCCODACOB FROM GESTORCOB..ELCCB E (NOLOCK)
			WHERE   LCNROPER = '612068339A'
				AND LCCNTRL = (SELECT	MAX(LCCNTRL) 
								FROM	GESTORCOB..ELCCB AUX (NOLOCK)
								WHERE	AUX.LCNROPER= E.LCNROPER
									AND AUX.LCNRPARC= E.LCNRPARC )

UPDATE	TAUX_CONTRATO2
SET		COD_COB		= COBR.LCCODACOB
FROM	(		SELECT LCNROPER,LCNRPARC,LCCODACOB FROM GESTORCOB..ELCCB E (NOLOCK)
			WHERE   LCNROPER IN (SELECT CONTRATO FROM TAUX_CONTRATO2)
				AND LCCNTRL = (SELECT	MAX(LCCNTRL) 
								FROM	GESTORCOB..ELCCB AUX (NOLOCK)
								WHERE	AUX.LCNROPER= E.LCNROPER
									AND AUX.LCNRPARC= E.LCNRPARC )  	 ) AS COBR
WHERE	TAUX_CONTRATO2.CONTRATO = COBR.LCNROPER
	AND TAUX_CONTRATO2.PARCELA_AVENCER = COBR.LCNRPARC
	AND CONTRATO='612068339A'
*/
-- NOME DA COBRADORA ********************	
UPDATE	TAUX_CONTRATO2
SET		COBRADORA		= ISNULL(CODESCR,'')
FROM	TCOBRADORA
WHERE	COD_COB = COCOD

UPDATE	TAUX_CONTRATO2
SET		COBRADORA		= ''
WHERE	COBRADORA IS NULL


-- COD DO AGENTE ********************	
UPDATE	TAUX_CONTRATO2
SET		TAUX_CONTRATO2.COD_AGENTE		= A.COD_AGENTE
FROM	Torg3_agente	A (NOLOCK)
WHERE	COD_PROMOTORA = COD_OPERADOR
-- NOME DO AGENTE ********************	
UPDATE	TAUX_CONTRATO2
SET		AGENTE		= ISNULL(A.agente,'')
FROM	Torg3_agente	A (NOLOCK)
--      SF_RELATORIOS..TORG3_AGENTE2 a (NOLOCK)
WHERE	TAUX_CONTRATO2.COD_AGENTE = a.COD_agente
/*
-- sig
UPDATE	TAUX_CONTRATO2
SET		AGENTE		= ISNULL(AGDESCR,'')
from    TAGENTE
WHERE	COD_AGENTE = AGCOD
*/
-- SELECT * FROM TAUX_CONTRATO2 000045
----  SELECT *  SF_RELATORIOS.TORG3_AGENTE
----  SELECT *  SF_RELATORIOS..TORG3_AGENTE
--  SELECT * FROM SF_RELATORIOS..TORG3_AGENTE2
--  SELECT * FROM SF_RELATORIOS..TORG3_AGENTEBKP
--  SELECT * FROM TAGENTE

-- NOME DO TIPO_VEIC ********************	
UPDATE	TAUX_CONTRATO2
SET		PRODUTO		= ISNULL(TONOMEOP,'')  -- TIPO_VEIC
FROM	CDCSANTANAMicroCredito..TMODA (NOLOCK)
WHERE	COD_MODA = TOCODOP
-- SELECT *  FROM	CDCSANTANAMicroCredito..TMODA
-- TIPO_VEIC

-- PARCELAS ************************
UPDATE	TAUX_CONTRATO2
SET		PRIMEIRO_VCTO = P.PADTVCTO
FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK)
WHERE	CONTRATO = P.PANROPER
	AND	PANRPARC=1
-- PARCELAS EM ATRASO ************************
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
--   DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
UPDATE	TAUX_CONTRATO2
SET		QTD_PARC_ATRASO = ISNULL(QTDE,0)
FROM
	(SELECT		PANROPER,COUNT(*) AS QTDE
			FROM	CDCSANTANAMicroCredito..CPARC AUX (NOLOCK)
			WHERE	AUX.PANROPER	IN (SELECT CONTRATO
										FROM TAUX_CONTRATO)
				AND	AUX.PADTVCTO <= @DATA_REF   -- VENCIDOS
				AND (AUX.PADTLIQ IS NULL		-- NAO PAGOS
				OR	 AUX.PADTLIQ >  @DATA_REF )  -- PAGOS APOS A DT REF		
				AND AUX.PACNTRL = (SELECT MAX(PACNTRL)
							FROM	CDCSANTANAMicroCredito..CPARC A (NOLOCK)
							WHERE	A.PANROPER= AUX.PANROPER
								AND A.PANRPARC= AUX.PANRPARC  )
			GROUP BY PANROPER) P
WHERE	PANROPER = CONTRATO



-- VEICULOS	
-- SELECT TOP 100 ABCODMARCA, ABCODBEM,* FROM CDCSANTANAMicroCredito..CBFIN
UPDATE	TAUX_CONTRATO2
SET		MODELO		= ISNULL(ABMODELO,''),
		ANO_FABRIC  = ISNULL(ABANOFAB,''),
		ANO_MODELO  = ISNULL(ABANOMOD,''),
		COD_MARCA	= ISNULL(ABCODMARCA,''), -- ISNULL(ABCODMARCA,'')  , --  tmarca
		COD_VEIC    = ISNULL(ABCODBEM,'')
FROM	CDCSANTANAMicroCredito..CBFIN V (NOLOCK)
WHERE	CONTRATO = ABNROPER
	AND	ABNRGAR='01'
	AND ABCNTRL = (SELECT	MAX(ABCNTRL) 
					FROM	CDCSANTANAMicroCredito..CBFIN V1 (NOLOCK)
					WHERE	V1.ABNROPER = CONTRATO)


-- SELECT * FROM	CDCSANTANAMicroCredito..CBFIN V (NOLOCK) WHERE ABNROPER='612064977A'
-- COD MARCA 0070
-- NATUREZA DE OCUPACAO

	-- ALTERADO 29-08-2014
		UPDATE		TAUX_CONTRATO2
			SET		COD_ATIVIDADE	= CLCODOCUP
			-- SELECT *
			FROM	PROPWEBSMC..cclip O (NOLOCK)
			WHERE	COD_CLI = O.CLCODCLI

/*
select CLCODOCUP from PROPWEBSMC..cclip
		UPDATE		TAUX_CONTRATO2
			SET		COD_ATIVIDADE	= CLATIV
			-- SELECT *
			FROM	CDCSANTANAMicroCredito..CCLIE O (NOLOCK)
			WHERE	COD_CLI = O.CLCODCLI
*/

		UPDATE		TAUX_CONTRATO2
			SET		ATIVIDADE		= OCDESCR -- CLT, AUTONOMO , ETC
			-- SELECT *
			FROM	PROPWEBSMC..TOCUP  O (NOLOCK)
			WHERE	COD_ATIVIDADE = O.OCCODOCUP



-- MARCA DESCRICAO
UPDATE	TAUX_CONTRATO2
SET		MARCA		= ISNULL(TMDESCR,'')
FROM	TABCORPSANTANA..TMARC V (NOLOCK)
WHERE	COD_MARCA = TMCODMARC


-- SELECT * FROM	CDCSANTANAMicroCredito..TMODEL
-- SELECT * FROM	CDCSANTANAMicroCredito..TSUBMOD
-- SELECT * FROM	CDCSANTANAMicroCredito..TSER
-- SELECT * FROM	CDCSANTANAMicroCredito..TSEG
-- SELECT * FROM	CDCSANTANAMicroCredito..TMarca
-- SELECT * FROM	CDCSANTANAMicroCredito..TMODA_STN
-- SELECT * FROM	CDCSANTANAMicroCredito..TMODAB  -- VAZIO
-- SELECT * FROM	CDCSANTANAMicroCredito..TMODAI  -- VAZIO
-- SELECT * FROM	CDCSANTANAMicroCredito..TMODEL  -- VAZIO
-- SELECT * FROM	CDCSANTANAMicroCredito..TMPRO  -- VAZIO
-- SELECT * FROM	CDCSANTANAMicroCredito..TMPSM  -- VAZIO
-- SELECT * FROM	CDCSANTANAMicroCredito..TMTPARA  -- 1 EMPRESA
-- SELECT * FROM	CDCSANTANAMicroCredito..TMTRINV  -- VAZIO
-- SELECT * FROM	CDCSANTANAMicroCredito..TMVND  -- VAZIO
-- SELECT * FROM	CDCSANTANAMicroCredito..TNIVEM  -- VAZIO
-- SELECT * FROM	CDCSANTANAMicroCredito..TNTSE  -- VAZIO
-- SELECT * FROM	CDCSANTANAMicroCredito..TTPBD  -- VAZIO
-- SELECT * FROM	CDCSANTANAMicroCredito..TTPEM  -- VAZIO


-- AJUSTA AGENTE
UPDATE	TAUX_CONTRATO2
SET		AGENTE		= ISNULL(AGENTE,'')
  WHERE AGENTE IS NULL

-- AJUSTA PARC_PAGAS
UPDATE	TAUX_CONTRATO2
SET		PARC_PAGAS		= ISNULL(PARC_PAGAS,0)
  WHERE PARC_PAGAS IS NULL

-- AJUSTA QTD_PARC_ATRASO
UPDATE	TAUX_CONTRATO2
SET		QTD_PARC_ATRASO		= ISNULL(QTD_PARC_ATRASO,0)
  WHERE QTD_PARC_ATRASO IS NULL


-- AJUSTA COD_COB
UPDATE	TAUX_CONTRATO2
SET		COD_COB		= ISNULL(COD_COB,'')
  WHERE COD_COB IS NULL

-- AJUSTA MARCA
UPDATE	  TAUX_CONTRATO2
SET		  MARCA		= ''
	WHERE MARCA IS NULL

-- AJUSTA COD_VEIC
UPDATE	  TAUX_CONTRATO2
SET		  COD_VEIC		= ''
	WHERE COD_VEIC IS NULL


-- AJUSTA ANO_FABRIC
UPDATE	  TAUX_CONTRATO2
SET		  ANO_FABRIC		= ''
	WHERE ANO_FABRIC IS NULL
-- AJUSTA ANO_FABRIC
UPDATE	  TAUX_CONTRATO2
SET		  ANO_MODELO		= ''
	WHERE ANO_MODELO IS NULL

-- AJUSTA MODELO NULL
UPDATE	  TAUX_CONTRATO2
SET		  MODELO		= ''
	WHERE MODELO IS NULL

-- AJUSTA PARCELA_ABERTO
UPDATE	  TAUX_CONTRATO2
SET		  PARCELA_ABERTO		= 0
	WHERE PARCELA_ABERTO IS NULL

-- AJUSTA PARCELA_AVENCER
UPDATE	  TAUX_CONTRATO2
SET		  PARCELA_AVENCER		= 0
	WHERE PARCELA_AVENCER IS NULL


-- AJUSTA VENCIMENTO
UPDATE	  TAUX_CONTRATO2
SET		  VENCIMENTO		= ''
	WHERE VENCIMENTO IS NULL


-- AJUSTA TIPO_VEIC
UPDATE	  TAUX_CONTRATO2
SET		  TIPO_VEIC		= ''
	WHERE TIPO_VEIC IS NULL


-- AJUSTA VERSAO
UPDATE	  TAUX_CONTRATO2
SET		  VERSAO		= ''
	WHERE VERSAO IS NULL

-- AJUSTA VEICULO
UPDATE	  TAUX_CONTRATO2
SET		  VEICULO		= ''
	WHERE VEICULO IS NULL

-- AJUSTA NOME_CLIENTE
UPDATE	  TAUX_CONTRATO2
SET		  NOME_CLIENTE		= ''
	WHERE NOME_CLIENTE IS NULL

-- AJUSTA PROFISSAO
UPDATE	  TAUX_CONTRATO2
SET		  PROFISSAO		= ''
	WHERE PROFISSAO IS NULL

-- AJUSTA CARGO
UPDATE	  TAUX_CONTRATO2
SET		  CARGO		= ''
	WHERE CARGO IS NULL

-- AJUSTA VEICULO
UPDATE	  TAUX_CONTRATO2
SET		  COD_MARCA		= ''
	WHERE COD_MARCA IS NULL


-- AJUSTA PRAZO
UPDATE	TAUX_CONTRATO2
SET		PRAZO		= CASE  WHEN PLANO BETWEEN 1 AND 12  THEN '1 A 12 MESES'
							WHEN PLANO BETWEEN 13 AND 24 THEN '13 A 24 MESES'
							WHEN PLANO BETWEEN 25 AND 36 THEN '25 A 36 MESES'
							WHEN PLANO > 36 THEN 'ACIMA 36 MESES'
							ELSE ''
							END
	
--select *  FROM [dbo].[TAUX_CONTRATO2]


END
GO

--grant execute [scr_RR_mensal_DETALHE] on usrSIv

-- SELECT * FROM RR_AUX_CONTRATO_2M

-- select *  FROM CDCSANTANAMicroCredito..TMODA