
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios]
use SIG
go

/*
 EXEC [dbo].[scr_RR_mensal]  '2014-01-31', '',''

*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_RR_mensal' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_RR_mensal]
GO


CREATE Procedure [dbo].[scr_RR_mensal] (@data_ref as datetime, @agente varchar(6), @cobradora varchar(6)) AS
BEGIN

DECLARE @data_ANT SMALLDATETIME
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)

-- **************************************************	IF	INCLUIDO 8/2/17 P MOSTRAR O MES ANTERIOR
	-- ALTERACAO DT FECHAMENTO ULTIMO DIA DO MES
	IF @data_ANT <= '20140801' -- ANTES AGO/2014
	BEGIN
		-- CHECA SE EH DIA UTIL
		SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
								WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
								ELSE @data_ANT					 END
	END



select 
				 [DT_FECHA]

               ,[AGENTE]

               ,[COBRADORA]

               ,[ORDEM_LINHA]

               ,[FORMATO]

               ,[DESCRICAO]

               ,COALESCE([A_QTDE], 0) [A_QTDE]

               ,COALESCE([A_SALDO], 0) [A_SALDO]

               ,COALESCE([B_QTDE], 0) [B_QTDE]

               ,COALESCE([B_SALDO], 0) [B_SALDO]

               ,COALESCE([C_QTDE], 0) [C_QTDE]

               ,COALESCE([C_SALDO], 0) [C_SALDO]

               ,COALESCE([D_QTDE], 0) [D_QTDE]

               ,COALESCE([D_SALDO], 0) [D_SALDO]

               ,COALESCE([E_QTDE], 0) [E_QTDE]

               ,COALESCE([E_SALDO], 0) [E_SALDO]

               ,COALESCE([F_QTDE], 0) [F_QTDE]

               ,COALESCE([F_SALDO], 0) [F_SALDO]

               ,COALESCE([G_QTDE], 0) [G_QTDE]

               ,COALESCE([G_SALDO], 0) [G_SALDO]

               ,COALESCE([H_QTDE], 0) [H_QTDE]

               ,COALESCE([H_SALDO], 0) [H_SALDO]

               ,COALESCE([HH_QTDE], 0) [HH_QTDE]

               ,COALESCE([HH_SALDO], 0) [HH_SALDO]

               ,COALESCE([TTL_QTDE], 0) [TTL_QTDE]

               ,COALESCE([TTL_SALDO], 0) [TTL_SALDO]

  from		RR_ROLLRATE_RPT 
	WHERE	DT_FECHA IN ( @data_ref , @data_ANT)  -- 2 MESES ANTERIORES
		and	1=1+case	when @agente='0'  then 0   -- todos
					when  @agente<>'0' and agente   = @agente then 0
					else  1
					end
		and	1=1+case	when @cobradora='0' then 0       -- todos
						when  @cobradora<>'0' and  cobradora = @cobradora then 0
						else  1
						end
	order by DT_FECHA DESC, ORDEM_LINHA ASC
			

END
GO

--grant execute [scr_RR_mensal] on usrSIv

-- SELECT * FROM RR_AUX_CONTRATO_2M