
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG

go
-- 674.174
-- exec [scr_PROCESSA_RRDIA] '20160818'
-- select * FROM RR_ROLLRATE_DIA_RPT  WHERE DT_FECHA>= '20160818'
-- DELETE FROM RR_ROLLRATE_DIA_RPT  WHERE CONVERT(VARCHAR(8),DT_FECHA,112) = '20160818'


-- PROC scr_PROCESSA_RRDIA TELA PROCESSO ROLLRATE DIARIO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_PROCESSA_RRDIA2' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_PROCESSA_RRDIA2]
GO


CREATE Procedure [dbo].[scr_PROCESSA_RRDIA2] ( @data_ref	as datetime)
AS
BEGIN


DECLARE @data_FECHA as datetime  -- 2o D UTIL
DECLARE @data_FECHA_PDD as datetime  -- ULTIMO DU DO MES ANTERIOR

DECLARE @data_INI   as datetime
DECLARE @data_FIM_MES_ANT   as datetime -- 30 OU 31
DECLARE @CONTADOR	as INT

-- DTA INICIO DO MES REF
SET @data_INI = CONVERT(CHAR(4),DATEPART(YYYY,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@data_ref))),2)+ '01'

--SElecT @data_INI 

-- @data_FIM_MES_ANT  INICIO DO MES, MENOS -1D 
SET @data_FIM_MES_ANT = DATEADD(DD,-1,@data_INI)  


	-- DTA FECHAM PDD , ULTIMO DU DO MES ANT
	-- DATA DE FECHAMENTO ************************************
	-- DIA 1 DO MES ATUAL
	SET		@data_FECHA_PDD =  CONVERT(CHAR(4),DATEPART(yyyy,@data_ref))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(mm,@data_ref))),2)+'01'
	-- FIM DO MES ANTERIOR = FECHAMENTO
	SET		@data_FECHA_PDD=DATEADD(DD,-1,@data_FECHA_PDD)
	-- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES		RISCO
	-- CHECA SE EH DIA UTIL

	-- VERIFICA ULTIMO FECHAMENTO PDD  -- ALTERADO 6/6/14 ****************************
	SET @data_FECHA_PDD= ISNULL((SELECT	MAX(DT_FECHA)
						FROM RATING_HISTORICO  (NOLOCK) where dt_fecha <=@data_FECHA_PDD ),'')




-- PROCESSA O PDD DIARIO	*****************************************************
--													PDD
-- EXEC [dbo].[RR_RATING_PROJETADO] '2014-02-27','2014-01-31','2014-02-01','2014-02-27'
-- EXEC [dbo].[RR_RATING_PROJETADO] '2014-05-03','2014-03-31','2014-05-01','2014-05-03'
-- EXEC [RR_RATING_PROJETADO] '2014-05-29','2014-04-30','2014-05-01','2014-05-29'

--	EXEC [dbo].[RR_RATING_PROJETADO]	@data_ref, @data_FECHA_PDD, @data_INI, @data_ref

 --EXEC [dbo].[RR_CALCULO_diario]  '2014-02-27',  '2014-03-31'
 -- EXEC [dbo].[RR_CALCULO_diario]  '2014-05-03',  '2014-03-31'
	EXEC [dbo].[RR_CALCULO_diario]		@data_ref , @data_FECHA_PDD

	-- EXEC [dbo].[RR_RELATORIO_DIARIO]  '2014-03-20'
	-- EXEC [dbo].[RR_RELATORIO_DIARIO]  '2014-05-03',  '2014-03-31'
	EXEC [dbo].[RR_RELATORIO_DIARIO]	@data_ref , @data_FECHA_PDD




END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

