USE sig
GO

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_graf4_Rolag_Consolid' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_graf4_Rolag_Consolid]
GO

-- SELECT * FROM PDD_consolidada (NOLOCK)
--			EXEC [scr_graf1_Rolag_Consolid] '20160630'

/****** Object:  StoredProcedure [dbo].[scr_graf4_Rolag_Consolid]    Script Date: 28/12/2016 02:25:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        create Procedure [dbo].[scr_graf4_Rolag_Consolid] (
			@data_ref as datetime) AS

			begin

				SELECT
					DESCR,

					m24,
					m23,
					m22,
					m21,
					m20,
					m19,
					m18,
					m17,
					m16,
					m15,
					m14,
					m13,
					m12,
					m11,
					m10,
					m9,
					m8,
					m7,
					m6,
					m5,
					m4,
					m3,
					m2,
					m1,
					m0
	FROM	PDD_consolidada (NOLOCK)
	WHERE	LEFT(DESCR,7) ='ROLAGEM'

			end









