
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios
Use SIG
go

-- exec [scr_grafico_perda] '20140430','',''

-- exec [scr_grafico_perda] '20140630','',''
-- exec [scr_grafico_perda] '20140630','0','0'

-- SELECT * from		AUX_GRAFICO_CART 
-- SELECT * from	GRAFICO_perda

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_grafico_perda' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_grafico_perda]
GO


CREATE Procedure [dbo].[scr_grafico_perda] (@data_ref as datetime, @agente varchar(6), @cobradora varchar(6)) AS
BEGIN

-- 	mar/14			abr/14			mai/14		
-- Classe de Atraso	Qtde	Vlr Risco	t%	Qtde	Vlr Risco	t%	Qtde	Vlr Risco	t%
-- 2- 0 a 14	 10.000 	 87.000.000 	77,43	 10.000 	 87.000.000 	77,43	 10.000 	 87.000.000 	77,43
/*

ANO	JAN	FEV	MAR	ABR	MAI	JUN	JUL	AGO	SET	OUT	NOV	DEZ
2013	75,77	75,99	75,84	76,79	76,65	77,3	78,21	78,46	80,3	79,82	79,35	79,87
2014	79,6	79,45	77,43	77,04	76,86							

drop TABLE GRAFICO_perda

CREATE TABLE GRAFICO_perda

(	DT_FECHA	DATETIME,
	ordem_linha int,
	ANO		VARCHAR(10),
	M1		FLOAT,
	M2		FLOAT,
	M3		FLOAT,
	M4		FLOAT,
	M5		FLOAT,
	M6		FLOAT,
	M7		FLOAT,
	M8		FLOAT,
	M9		FLOAT,
	M10		FLOAT,
	M11		FLOAT,
	M12		FLOAT )


*/


-- CALCULAR 2 M ANTERIORES
-- 
DECLARE @DTM1 DATETIME
DECLARE @DTM2 DATETIME
DECLARE @DTM3 DATETIME
DECLARE @DTM4 DATETIME
DECLARE @DTM5 DATETIME
DECLARE @DTM6 DATETIME
DECLARE @DTM7 DATETIME
DECLARE @DTM8 DATETIME
DECLARE @DTM9 DATETIME
DECLARE @DTM10 DATETIME
DECLARE @DTM11 DATETIME
DECLARE @DTM12 DATETIME

-- FECHAMENTO M1 = JANEIRO
SET @DTM1 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0201'
			--RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@DTM1=DATEADD(DD,-1,@DTM1) -- FIM JANEIRO
-- CHECA SE EH DIA UTIL
	SET	@DTM1= CASE WHEN DATEPART(DW,@DTM1) = 1 THEN DATEADD(D,-2,@DTM1)	-- DOMINGO
							WHEN DATEPART(DW,@DTM1) = 7 THEN DATEADD(D,-1,@DTM1)	-- SABADO
							ELSE @DTM1					 END
--SELECT @DTM1


-- FECHAMENTO M2= FEV
SET @DTM2 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0301'
-- FIM DO MES ANTERIOR
SET		@DTM2=DATEADD(DD,-1,@DTM2)
-- CHECA SE EH DIA UTIL
	SET	@DTM2= CASE WHEN DATEPART(DW,@DTM2) = 1 THEN DATEADD(D,-2,@DTM2)	-- DOMINGO
							WHEN DATEPART(DW,@DTM2) = 7 THEN DATEADD(D,-1,@DTM2)	-- SABADO
							ELSE @DTM2					 END

-- FECHAMENTO M3= MAR
SET @DTM3 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0401'
-- FIM DO MES ANTERIOR
SET		@DTM3=DATEADD(DD,-1,@DTM3)
-- CHECA SE EH DIA UTIL
	SET	@DTM3= CASE WHEN DATEPART(DW,@DTM3) = 1 THEN DATEADD(D,-2,@DTM3)	-- DOMINGO
							WHEN DATEPART(DW,@DTM3) = 7 THEN DATEADD(D,-1,@DTM3)	-- SABADO
							ELSE @DTM3					 END

-- FECHAMENTO M4= ABR
SET @DTM4 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0501'
-- FIM DO MES ANTERIOR
SET		@DTM4=DATEADD(DD,-1,@DTM4)
-- CHECA SE EH DIA UTIL
	SET	@DTM4= CASE WHEN DATEPART(DW,@DTM4) = 1 THEN DATEADD(D,-2,@DTM4)	-- DOMINGO
							WHEN DATEPART(DW,@DTM4) = 7 THEN DATEADD(D,-1,@DTM4)	-- SABADO
							ELSE @DTM4					 END

-- FECHAMENTO M5= MAI
SET @DTM5 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0601'
-- FIM DO MES ANTERIOR
SET		@DTM5=DATEADD(DD,-1,@DTM5)
-- CHECA SE EH DIA UTIL
	SET	@DTM5= CASE WHEN DATEPART(DW,@DTM5) = 1 THEN DATEADD(D,-2,@DTM5)	-- DOMINGO
							WHEN DATEPART(DW,@DTM5) = 7 THEN DATEADD(D,-1,@DTM5)	-- SABADO
							ELSE @DTM5					 END

-- FECHAMENTO M6= JUN
SET @DTM6 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0701'
-- FIM DO MES ANTERIOR
SET		@DTM6=DATEADD(DD,-1,@DTM6)
-- CHECA SE EH DIA UTIL
	SET	@DTM6= CASE WHEN DATEPART(DW,@DTM6) = 1 THEN DATEADD(D,-2,@DTM6)	-- DOMINGO
					WHEN DATEPART(DW,@DTM6) = 7 THEN DATEADD(D,-1,@DTM6)	-- SABADO
					ELSE @DTM6					 END

-- FECHAMENTO M7= JUL
SET @DTM7 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0801'
-- FIM DO MES ANTERIOR
SET		@DTM7=DATEADD(DD,-1,@DTM7)
-- CHECA SE EH DIA UTIL
	SET	@DTM7= CASE WHEN DATEPART(DW,@DTM7) = 1 THEN DATEADD(D,-2,@DTM7)	-- DOMINGO
					WHEN DATEPART(DW,@DTM7) = 7 THEN DATEADD(D,-1,@DTM7)	-- SABADO
					ELSE @DTM7					 END

-- FECHAMENTO M8= AGO
SET @DTM8 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0901'
-- FIM DO MES ANTERIOR
SET		@DTM8=DATEADD(DD,-1,@DTM8)
-- CHECA SE EH DIA UTIL
/*
	SET	@DTM8= CASE WHEN DATEPART(DW,@DTM8) = 1 THEN DATEADD(D,-2,@DTM8)	-- DOMINGO
					WHEN DATEPART(DW,@DTM8) = 7 THEN DATEADD(D,-1,@DTM8)	-- SABADO
					ELSE @DTM8					 END
*/

-- FECHAMENTO M9= SET
SET @DTM9 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'1001'
-- FIM DO MES ANTERIOR
SET		@DTM9=DATEADD(DD,-1,@DTM9)
-- CHECA SE EH DIA UTIL
	SET	@DTM9= CASE WHEN DATEPART(DW,@DTM9) = 1 THEN DATEADD(D,-2,@DTM9)	-- DOMINGO
					WHEN DATEPART(DW,@DTM9) = 7 THEN DATEADD(D,-1,@DTM9)	-- SABADO
					ELSE @DTM9					 END

-- FECHAMENTO M10= OUT
SET @DTM10 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'1101'
-- FIM DO MES ANTERIOR
SET		@DTM10=DATEADD(DD,-1,@DTM10)
-- CHECA SE EH DIA UTIL
	SET	@DTM10= CASE WHEN DATEPART(DW,@DTM10) = 1 THEN DATEADD(D,-2,@DTM10)	-- DOMINGO
					 WHEN DATEPART(DW,@DTM10) = 7 THEN DATEADD(D,-1,@DTM10)	-- SABADO
					 ELSE @DTM10				  END
-- FECHAMENTO M11= NOV
SET @DTM11 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'1201'
-- FIM DO MES ANTERIOR
SET		@DTM11=DATEADD(DD,-1,@DTM11)
-- CHECA SE EH DIA UTIL
	SET	@DTM11= CASE WHEN DATEPART(DW,@DTM11) = 1 THEN DATEADD(D,-2,@DTM11)	-- DOMINGO
					 WHEN DATEPART(DW,@DTM11) = 7 THEN DATEADD(D,-1,@DTM11)	-- SABADO
					 ELSE @DTM11				  END
-- FECHAMENTO M12= DEZ
SET @DTM12 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'1231'  -- FIM DO MES
-- CHECA SE EH DIA UTIL
	SET	@DTM12= CASE WHEN DATEPART(DW,@DTM12) = 1 THEN DATEADD(D,-2,@DTM12)	-- DOMINGO
					 WHEN DATEPART(DW,@DTM12) = 7 THEN DATEADD(D,-1,@DTM12)	-- SABADO
					 ELSE @DTM12				  END

-- APAGA ANTERIOR
delete GRAFICO_perda 

-- *************************************************************************************************************
-- ANO CORRENTE  -- ********************************** LINHA 10 -- default atual = Estoque 91 a 360
INSERT GRAFICO_perda
select @data_ref,10, datepart(year,@data_ref)
				,0.0	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	

-- DECLARE @data_ref DATETIME		SET	@data_ref='20140630' DECLARE @DTM1 DATETIME		SET	@DTM1='20140131'
-- SELECT * FROM AUX_GRAFICO_CART WHERE DT_FECHA=@data_ref AND ORDEM_LINHA=1
    -- LINHA 10 , M1
	UPDATE	   GRAFICO_perda
		SET    M1=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=10
			AND R.DT_FECHA = @DTM1
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 10 , M2
	UPDATE	   GRAFICO_perda
		SET    M2=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=10
			AND R.DT_FECHA = @DTM2
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

/*
    -- LINHA 1 , M2
	UPDATE	   AUX_GRAFICO_CART
		SET    M2=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM2
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 
*/

    -- LINHA 1 , M3
	UPDATE	   GRAFICO_perda
		SET    M3=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=10
			AND R.DT_FECHA = @DTM3
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M4
	UPDATE	   GRAFICO_perda
		SET    M4=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=10
			AND R.DT_FECHA = @DTM4
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M5
	UPDATE	   GRAFICO_perda
		SET    M5=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=10
			AND R.DT_FECHA = @DTM5
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M6
	UPDATE	   GRAFICO_perda
		SET    M6=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=10
			AND R.DT_FECHA = @DTM6
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M7
	UPDATE	   GRAFICO_perda
		SET    M7=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=10
			AND R.DT_FECHA = @DTM7
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M8
	UPDATE	   GRAFICO_perda
		SET    M8=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=10
			AND R.DT_FECHA = @DTM8
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M9
	UPDATE	   GRAFICO_perda
		SET    M9=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=10
			AND R.DT_FECHA = @DTM9
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M10
	UPDATE	   GRAFICO_perda
		SET    M10=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=10
			AND R.DT_FECHA = @DTM10
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M11
	UPDATE	   GRAFICO_perda
		SET    M11=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=10
			AND R.DT_FECHA = @DTM11
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 10 , M12
	UPDATE	   GRAFICO_perda
		SET    M12=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=10
			AND R.DT_FECHA = @DTM12
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

-- *************************************************************************************************************
-- ANO CORRENTE  -- ********************************** LINHA 11 -- default ANTERIOR = Estoque 91 a 360
INSERT GRAFICO_perda
select @data_ref,11, datepart(year,DATEADD(YY,-1,@data_ref))  -- ANO ANTERIOR
				,0.0	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	

DECLARE @DTant SMALLDATETIME
-- FECHAMENTO M1 = JANEIRO
SET @DTant =  CONVERT(CHAR(4),DATEPART(YEAR,DATEADD(YY,-1,@data_ref)))+'0201'
-- FIM DO MES ANTERIOR
SET		@DTant=DATEADD(DD,-1,@DTant) -- FIM JANEIRO
-- CHECA SE EH DIA UTIL
	SET	@DTant= CASE WHEN DATEPART(DW,@DTant) = 1 THEN DATEADD(D,-2,@DTant)	-- DOMINGO
							WHEN DATEPART(DW,@DTant) = 7 THEN DATEADD(D,-1,@DTant)	-- SABADO
							ELSE @DTant					 END
SELECT @DTM1, @DTant

-- DECLARE @data_ref DATETIME		SET	@data_ref='20140630' DECLARE @DTM1 DATETIME		SET	@DTM1='20140131'
-- SELECT * FROM AUX_GRAFICO_CART WHERE DT_FECHA=@data_ref AND ORDEM_LINHA=1
    -- LINHA 11 , M1
	UPDATE	   GRAFICO_perda
		SET    M1=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default ANTERIOR Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=11
			AND R.DT_FECHA = @DTant  
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

-- FECHAMENTO M2 = FEV
SET @DTant =  CONVERT(CHAR(4),DATEPART(YEAR,DATEADD(YY,-1,@data_ref)))+'0301'
-- FIM DO MES ANTERIOR
SET		@DTant=DATEADD(DD,-1,@DTant) -- FIM FEV
-- CHECA SE EH DIA UTIL
	SET	@DTant= CASE WHEN DATEPART(DW,@DTant) = 1 THEN DATEADD(D,-2,@DTant)	-- DOMINGO
							WHEN DATEPART(DW,@DTant) = 7 THEN DATEADD(D,-1,@DTant)	-- SABADO
							ELSE @DTant					 END
SELECT @DTM1, @DTant
    -- LINHA 11 , M2
	UPDATE	   GRAFICO_perda
		SET    M1=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default ANTERIOR Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=11
			AND R.DT_FECHA = @DTant  
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 


-- FECHAMENTO M3 = MAR
SET @DTant =  CONVERT(CHAR(4),DATEPART(YEAR,DATEADD(YY,-1,@data_ref)))+'0401'
-- FIM DO MES ANTERIOR
SET		@DTant=DATEADD(DD,-1,@DTant) -- FIM MAR
-- CHECA SE EH DIA UTIL
	SET	@DTant= CASE WHEN DATEPART(DW,@DTant) = 1 THEN DATEADD(D,-2,@DTant)	-- DOMINGO
							WHEN DATEPART(DW,@DTant) = 7 THEN DATEADD(D,-1,@DTant)	-- SABADO
							ELSE @DTant					 END
SELECT @DTM1, @DTant
    -- LINHA 1 , M3
	UPDATE	   GRAFICO_perda
		SET    M3=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default ANTERIOR Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=11
			AND R.DT_FECHA = @DTant
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

-- FECHAMENTO M4 = ABR
SET @DTant =  CONVERT(CHAR(4),DATEPART(YEAR,DATEADD(YY,-1,@data_ref)))+'0501'
-- FIM DO MES ANTERIOR
SET		@DTant=DATEADD(DD,-1,@DTant) -- FIM ABR
-- CHECA SE EH DIA UTIL
	SET	@DTant= CASE WHEN DATEPART(DW,@DTant) = 1 THEN DATEADD(D,-2,@DTant)	-- DOMINGO
							WHEN DATEPART(DW,@DTant) = 7 THEN DATEADD(D,-1,@DTant)	-- SABADO
							ELSE @DTant					 END
SELECT @DTM1, @DTant
    -- LINHA 1 , M4
	UPDATE	   GRAFICO_perda
		SET    M4=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=11
			AND R.DT_FECHA = @DTant
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

-- FECHAMENTO M5 = MAI
SET @DTant =  CONVERT(CHAR(4),DATEPART(YEAR,DATEADD(YY,-1,@data_ref)))+'0601'
-- FIM DO MES ANTERIOR
SET		@DTant=DATEADD(DD,-1,@DTant) -- FIM MAI
-- CHECA SE EH DIA UTIL
	SET	@DTant= CASE WHEN DATEPART(DW,@DTant) = 1 THEN DATEADD(D,-2,@DTant)	-- DOMINGO
							WHEN DATEPART(DW,@DTant) = 7 THEN DATEADD(D,-1,@DTant)	-- SABADO
							ELSE @DTant					 END
SELECT @DTM1, @DTant
    -- LINHA 1 , M5
	UPDATE	   GRAFICO_perda
		SET    M5=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=11
			AND R.DT_FECHA = @DTant
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

-- FECHAMENTO M6 = JUN
SET @DTant =  CONVERT(CHAR(4),DATEPART(YEAR,DATEADD(YY,-1,@data_ref)))+'0701'
-- FIM DO MES ANTERIOR
SET		@DTant=DATEADD(DD,-1,@DTant) -- FIM JUN
-- CHECA SE EH DIA UTIL
	SET	@DTant= CASE WHEN DATEPART(DW,@DTant) = 1 THEN DATEADD(D,-2,@DTant)	-- DOMINGO
							WHEN DATEPART(DW,@DTant) = 7 THEN DATEADD(D,-1,@DTant)	-- SABADO
							ELSE @DTant					 END
SELECT @DTM1, @DTant

    -- LINHA 1 , M6
	UPDATE	   GRAFICO_perda
		SET    M6=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=11
			AND R.DT_FECHA = @DTant
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

-- FECHAMENTO M7 = JUL
SET @DTant =  CONVERT(CHAR(4),DATEPART(YEAR,DATEADD(YY,-1,@data_ref)))+'0801'
-- FIM DO MES ANTERIOR
SET		@DTant=DATEADD(DD,-1,@DTant) -- FIM JUL
-- CHECA SE EH DIA UTIL
	SET	@DTant= CASE WHEN DATEPART(DW,@DTant) = 1 THEN DATEADD(D,-2,@DTant)	-- DOMINGO
							WHEN DATEPART(DW,@DTant) = 7 THEN DATEADD(D,-1,@DTant)	-- SABADO
							ELSE @DTant					 END
SELECT @DTM1, @DTant
    -- LINHA 1 , M7
	UPDATE	   GRAFICO_perda
		SET    M7=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=11
			AND R.DT_FECHA = @DTant
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

-- FECHAMENTO M8 = AGO
SET @DTant =  CONVERT(CHAR(4),DATEPART(YEAR,DATEADD(YY,-1,@data_ref)))+'0901'
-- FIM DO MES ANTERIOR
SET		@DTant=DATEADD(DD,-1,@DTant) -- FIM AGO
-- CHECA SE EH DIA UTIL
	SET	@DTant= CASE WHEN DATEPART(DW,@DTant) = 1 THEN DATEADD(D,-2,@DTant)	-- DOMINGO
							WHEN DATEPART(DW,@DTant) = 7 THEN DATEADD(D,-1,@DTant)	-- SABADO
							ELSE @DTant					 END
SELECT @DTM1, @DTant
    -- LINHA 1 , M8
	UPDATE	   GRAFICO_perda
		SET    M8=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=11
			AND R.DT_FECHA = @DTant
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

-- FECHAMENTO M9 = SET
SET @DTant =  CONVERT(CHAR(4),DATEPART(YEAR,DATEADD(YY,-1,@data_ref)))+'1001'
-- FIM DO MES ANTERIOR
SET		@DTant=DATEADD(DD,-1,@DTant) -- FIM SET
-- CHECA SE EH DIA UTIL
	SET	@DTant= CASE WHEN DATEPART(DW,@DTant) = 1 THEN DATEADD(D,-2,@DTant)	-- DOMINGO
							WHEN DATEPART(DW,@DTant) = 7 THEN DATEADD(D,-1,@DTant)	-- SABADO
							ELSE @DTant					 END
SELECT @DTM1, @DTant
    -- LINHA 1 , M9
	UPDATE	   GRAFICO_perda
		SET    M9=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=11
			AND R.DT_FECHA = @DTant
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

-- FECHAMENTO M10 = OUT
SET @DTant =  CONVERT(CHAR(4),DATEPART(YEAR,DATEADD(YY,-1,@data_ref)))+'1101'
-- FIM DO MES ANTERIOR
SET		@DTant=DATEADD(DD,-1,@DTant) -- FIM ABR
-- CHECA SE EH DIA UTIL
	SET	@DTant= CASE WHEN DATEPART(DW,@DTant) = 1 THEN DATEADD(D,-2,@DTant)	-- DOMINGO
							WHEN DATEPART(DW,@DTant) = 7 THEN DATEADD(D,-1,@DTant)	-- SABADO
							ELSE @DTant					 END
SELECT @DTM1, @DTant
    -- LINHA 1 , M10
	UPDATE	   GRAFICO_perda
		SET    M10=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=11
			AND R.DT_FECHA = @DTant
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

-- FECHAMENTO M11 = NOV
SET @DTant =  CONVERT(CHAR(4),DATEPART(YEAR,DATEADD(YY,-1,@data_ref)))+'1201'
-- FIM DO MES ANTERIOR
SET		@DTant=DATEADD(DD,-1,@DTant) -- FIM NOV
-- CHECA SE EH DIA UTIL
	SET	@DTant= CASE WHEN DATEPART(DW,@DTant) = 1 THEN DATEADD(D,-2,@DTant)	-- DOMINGO
							WHEN DATEPART(DW,@DTant) = 7 THEN DATEADD(D,-1,@DTant)	-- SABADO
							ELSE @DTant					 END
SELECT @DTM1, @DTant
    -- LINHA 1 , M11
	UPDATE	   GRAFICO_perda
		SET    M11=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=11
			AND R.DT_FECHA = @DTant
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

-- FECHAMENTO M12 = DEZ
SET @DTant =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+'0101'  -- ANO+1
-- FIM DO MES ANTERIOR
SET		@DTant=DATEADD(DD,-1,@DTant) -- FIM DEZ
-- CHECA SE EH DIA UTIL
	SET	@DTant= CASE WHEN DATEPART(DW,@DTant) = 1 THEN DATEADD(D,-2,@DTant)	-- DOMINGO
							WHEN DATEPART(DW,@DTant) = 7 THEN DATEADD(D,-1,@DTant)	-- SABADO
							ELSE @DTant					 END
SELECT @DTM1, @DTant
    -- LINHA 1 , M12
	UPDATE	   GRAFICO_perda
		SET    M12=   ([E_SALDO]+F_SALDO+G_SALDO+H_SALDO)/1000.0		-- default Estoque 91-360 fx E-H
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=11
			AND R.DT_FECHA = @DTant
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

-- *************************************************************************************************************
-- ANO CORRENTE  -- ********************************** LINHA 12 -- CARTEIRA SEM HH = TTL - HH
INSERT GRAFICO_perda
select @data_ref,12, datepart(year,@data_ref)
				,0.0	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	

-- DECLARE @data_ref DATETIME		SET	@data_ref='20140630' DECLARE @DTM1 DATETIME		SET	@DTM1='20140131'
-- SELECT * FROM AUX_GRAFICO_CART WHERE DT_FECHA=@data_ref AND ORDEM_LINHA=1
    -- LINHA 12 , M1
	UPDATE	   GRAFICO_perda
		SET    M1=   ([TTL_SALDO]-HH_SALDO)/1000.0		--  CARTEIRA SEM HH = TTL - HH
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=12
			AND R.DT_FECHA = @DTM1
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 12 , M2
	UPDATE	   GRAFICO_perda
		SET    M2=   ([TTL_SALDO]-HH_SALDO)/1000.0		--  CARTEIRA SEM HH = TTL - HH
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=12
			AND R.DT_FECHA = @DTM2
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

/*
    -- LINHA 1 , M2
	UPDATE	   AUX_GRAFICO_CART
		SET    M2=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM2
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 
*/

    -- LINHA 1 , M3
	UPDATE	   GRAFICO_perda
		SET    M3=   ([TTL_SALDO]-HH_SALDO)/1000.0		--  CARTEIRA SEM HH = TTL - HH
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=12
			AND R.DT_FECHA = @DTM3
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M4
	UPDATE	   GRAFICO_perda
		SET    M4=   ([TTL_SALDO]-HH_SALDO)/1000.0		--  CARTEIRA SEM HH = TTL - HH
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=12
			AND R.DT_FECHA = @DTM4
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M5
	UPDATE	   GRAFICO_perda
		SET    M5=   ([TTL_SALDO]-HH_SALDO)/1000.0		--  CARTEIRA SEM HH = TTL - HH
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=12
			AND R.DT_FECHA = @DTM5
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M6
	UPDATE	   GRAFICO_perda
		SET    M6=   ([TTL_SALDO]-HH_SALDO)/1000.0		--  CARTEIRA SEM HH = TTL - HH
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=12
			AND R.DT_FECHA = @DTM6
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M7
	UPDATE	   GRAFICO_perda
		SET    M7=   ([TTL_SALDO]-HH_SALDO)/1000.0		--  CARTEIRA SEM HH = TTL - HH
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=12
			AND R.DT_FECHA = @DTM7
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M8
	UPDATE	   GRAFICO_perda
		SET    M8=   ([TTL_SALDO]-HH_SALDO)/1000.0		--  CARTEIRA SEM HH = TTL - HH
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=12
			AND R.DT_FECHA = @DTM8
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M9
	UPDATE	   GRAFICO_perda
		SET    M9=   ([TTL_SALDO]-HH_SALDO)/1000.0		--  CARTEIRA SEM HH = TTL - HH
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=12
			AND R.DT_FECHA = @DTM9
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M10
	UPDATE	   GRAFICO_perda
		SET    M10=   ([TTL_SALDO]-HH_SALDO)/1000.0		--  CARTEIRA SEM HH = TTL - HH
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=12
			AND R.DT_FECHA = @DTM10
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 1 , M11
	UPDATE	   GRAFICO_perda
		SET    M11=   ([TTL_SALDO]-HH_SALDO)/1000.0		--  CARTEIRA SEM HH = TTL - HH
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=12
			AND R.DT_FECHA = @DTM11
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 12 , M12
	UPDATE	   GRAFICO_perda
		SET    M12=   ([TTL_SALDO]-HH_SALDO)/1000.0		--  CARTEIRA SEM HH = TTL - HH
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=12
			AND R.DT_FECHA = @DTM12
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

-- *************************************************************************************************************
-- ANO CORRENTE  -- ********************************** LINHA 13 -- PREJUIZO NO MES H
INSERT GRAFICO_perda
select @data_ref,13, datepart(year,@data_ref)
				,0.0	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	

-- DECLARE @data_ref DATETIME		SET	@data_ref='20140630' DECLARE @DTM1 DATETIME		SET	@DTM1='20140131'
-- SELECT * FROM AUX_GRAFICO_CART WHERE DT_FECHA=@data_ref AND ORDEM_LINHA=1
-- SELECT * FROM    RR_ROLLRATE_RPT WHERE DT_FECHA='20140630' 
    -- LINHA 13 , M1
	UPDATE	   GRAFICO_perda
		SET    M1=   (H_SALDO)/1000.0		--  ENTRADA DE PREJUIZO NO MES
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=13
			AND R.DT_FECHA = @DTM1
			AND R.ORDEM_LINHA=2  -- ENTRADA

    -- LINHA 13 , M2
	UPDATE	   GRAFICO_perda
		SET    M2=   (H_SALDO)/1000.0		--  ENTRADA DE PREJUIZO NO MES
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=13
			AND R.DT_FECHA = @DTM2
			AND R.ORDEM_LINHA=2  -- ENTRADA

/*
    -- LINHA 1 , M2
	UPDATE	   AUX_GRAFICO_CART
		SET    M2=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM2
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 
*/

    -- LINHA 13 , M3
	UPDATE	   GRAFICO_perda
		SET    M3=   (H_SALDO)/1000.0		--  ENTRADA DE PREJUIZO NO MES
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=13
			AND R.DT_FECHA = @DTM3
			AND R.ORDEM_LINHA=2  -- ENTRADA

    -- LINHA 1 , M4
	UPDATE	   GRAFICO_perda
		SET    M4=   (H_SALDO)/1000.0		--  ENTRADA DE PREJUIZO NO MES
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=13
			AND R.DT_FECHA = @DTM4
			AND R.ORDEM_LINHA=2  -- ENTRADA

    -- LINHA 13 , M5
	UPDATE	   GRAFICO_perda
		SET    M5=   (H_SALDO)/1000.0		--  ENTRADA DE PREJUIZO NO MES
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=13
			AND R.DT_FECHA = @DTM5
			AND R.ORDEM_LINHA=2  -- ENTRADA

    -- LINHA 1 , M6
	UPDATE	   GRAFICO_perda
		SET    M6=   ([TTL_SALDO]-HH_SALDO)/1000.0		--  CARTEIRA SEM HH = TTL - HH
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=13
			AND R.DT_FECHA = @DTM6
			AND R.ORDEM_LINHA=2  -- ENTRADA

    -- LINHA 1 , M7
	UPDATE	   GRAFICO_perda
		SET    M7=   (H_SALDO)/1000.0		--  ENTRADA DE PREJUIZO NO MES
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=13
			AND R.DT_FECHA = @DTM7
			AND R.ORDEM_LINHA=2  -- ENTRADA

    -- LINHA 1 , M8
	UPDATE	   GRAFICO_perda
		SET    M8=   (H_SALDO)/1000.0		--  ENTRADA DE PREJUIZO NO MES
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=13
			AND R.DT_FECHA = @DTM8
			AND R.ORDEM_LINHA=2  -- ENTRADA

    -- LINHA 1 , M9
	UPDATE	   GRAFICO_perda
		SET    M9=   (H_SALDO)/1000.0		--  ENTRADA DE PREJUIZO NO MES
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=13
			AND R.DT_FECHA = @DTM9
			AND R.ORDEM_LINHA=2  -- ENTRADA

    -- LINHA 1 , M10
	UPDATE	   GRAFICO_perda
		SET    M10=   (H_SALDO)/1000.0		--  ENTRADA DE PREJUIZO NO MES
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=13
			AND R.DT_FECHA = @DTM10
			AND R.ORDEM_LINHA=2  -- ENTRADA

    -- LINHA 1 , M11
	UPDATE	   GRAFICO_perda
		SET    M11=   (H_SALDO)/1000.0		--  ENTRADA DE PREJUIZO NO MES
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=13
			AND R.DT_FECHA = @DTM11
			AND R.ORDEM_LINHA=2  -- ENTRADA

    -- LINHA 12 , M12
	UPDATE	   GRAFICO_perda
		SET    M12=   (H_SALDO)/1000.0		--  ENTRADA DE PREJUIZO NO MES
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=12
			AND R.DT_FECHA = @DTM12
			AND R.ORDEM_LINHA=2  -- ENTRADA


-- ANO CORRENTE  -- ********************************** LINHA 14 -- RECUPERACAO DO PREJUIZO
INSERT GRAFICO_perda
select @data_ref,14, datepart(year,@data_ref)
				,0.0	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	

-- DECLARE @data_ref DATETIME		SET	@data_ref='20140630' DECLARE @DTM1 DATETIME		SET	@DTM1='20140131'
-- SELECT * FROM AUX_GRAFICO_CART WHERE DT_FECHA=@data_ref AND ORDEM_LINHA=1

-- DECLARE @data_ref DATETIME		SET	@data_ref='20140630' DECLARE @DTM1 DATETIME		SET	@DTM1='20140630' 
    -- LINHA 14 , M1
	UPDATE	   GRAFICO_perda
		SET    M1=   (PG)/1000.0		
		from   (SELECT SUM(PaVlrPAGO) AS PG,P1.PANROPER
				FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
				WHERE   DATEPART(YY,P1.PADTLIQ)  = DATEPART(YY,@DTM1)
					AND DATEPART(MM,P1.PADTLIQ)  = DATEPART(MM,@DTM1) 
				GROUP BY P1.PANROPER) AS P,
			   RATING_HISTORICO H (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=14
			AND H.DT_FECHA = @DTM1
			AND H.NVL_RISCO = 'HH'   -- RECUPER DO HH
			AND P.PANROPER = H.NUM_OPE

-- DECLARE @data_ref DATETIME		SET	@data_ref='20140630' DECLARE @DTM1 DATETIME		SET	@DTM1='20140630' 
/*SELECT SUM(PaVlrPAGO) AS PG,P1.PANROPER
				FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
				WHERE   DATEPART(YY,P1.PADTLIQ)  = DATEPART(YY,@DTM1)
					AND DATEPART(MM,P1.PADTLIQ)  = DATEPART(MM,@DTM1) 
				GROUP BY P1.PANROPER  */
    -- LINHA 14 , M2
	UPDATE	   GRAFICO_perda
		SET    M2=    (PG)/1000.0		
		from   (SELECT SUM(PaVlrPAGO) AS PG,P1.PANROPER
				FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
				WHERE   DATEPART(YY,P1.PADTLIQ)  = DATEPART(YY,@DTM2)
					AND DATEPART(MM,P1.PADTLIQ)  = DATEPART(MM,@DTM2) 
				GROUP BY P1.PANROPER) AS P,
			   RATING_HISTORICO H (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=14
			AND H.DT_FECHA = @DTM2
			AND H.NVL_RISCO = 'HH'   -- RECUPER DO HH
			AND P.PANROPER = H.NUM_OPE
/*
    -- LINHA 1 , M2
	UPDATE	   AUX_GRAFICO_CART
		SET    M2=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_CART.DT_FECHA
			AND AUX_GRAFICO_CART.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM2
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 
*/

    -- LINHA 14 , M3
	UPDATE	   GRAFICO_perda
		SET    M3=    (PG)/1000.0		
		from   (SELECT SUM(PaVlrPAGO) AS PG,P1.PANROPER
				FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
				WHERE   DATEPART(YY,P1.PADTLIQ)  = DATEPART(YY,@DTM3)
					AND DATEPART(MM,P1.PADTLIQ)  = DATEPART(MM,@DTM3) 
				GROUP BY P1.PANROPER) AS P,
			   RATING_HISTORICO H (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=14
			AND H.DT_FECHA = @DTM3
			AND H.NVL_RISCO = 'HH'   -- RECUPER DO HH
			AND P.PANROPER = H.NUM_OPE

    -- LINHA 14 , M4
	UPDATE	   GRAFICO_perda
		SET    M4=    (PG)/1000.0		
		from   (SELECT SUM(PaVlrPAGO) AS PG,P1.PANROPER
				FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
				WHERE   DATEPART(YY,P1.PADTLIQ)  = DATEPART(YY,@DTM4)
					AND DATEPART(MM,P1.PADTLIQ)  = DATEPART(MM,@DTM4) 
				GROUP BY P1.PANROPER) AS P,
			   RATING_HISTORICO H (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=14
			AND H.DT_FECHA = @DTM4
			AND H.NVL_RISCO = 'HH'   -- RECUPER DO HH
			AND P.PANROPER = H.NUM_OPE

    -- LINHA 1 , M5
	UPDATE	   GRAFICO_perda
		SET    M5=    (PG)/1000.0		
		from   (SELECT SUM(PaVlrPAGO) AS PG,P1.PANROPER
				FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
				WHERE   DATEPART(YY,P1.PADTLIQ)  = DATEPART(YY,@DTM5)
					AND DATEPART(MM,P1.PADTLIQ)  = DATEPART(MM,@DTM5) 
				GROUP BY P1.PANROPER) AS P,
			   RATING_HISTORICO H (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=14
			AND H.DT_FECHA = @DTM5
			AND H.NVL_RISCO = 'HH'   -- RECUPER DO HH
			AND P.PANROPER = H.NUM_OPE
    -- LINHA 1 , M6
	UPDATE	   GRAFICO_perda
		SET    M6=    (PG)/1000.0		
		from   (SELECT SUM(PaVlrPAGO) AS PG,P1.PANROPER
				FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
				WHERE   DATEPART(YY,P1.PADTLIQ)  = DATEPART(YY,@DTM6)
					AND DATEPART(MM,P1.PADTLIQ)  = DATEPART(MM,@DTM6) 
				GROUP BY P1.PANROPER) AS P,
			   RATING_HISTORICO H (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=14
			AND H.DT_FECHA = @DTM6
			AND H.NVL_RISCO = 'HH'   -- RECUPER DO HH
			AND P.PANROPER = H.NUM_OPE


    -- LINHA 1 , M7
	UPDATE	   GRAFICO_perda
		SET    M7=    (PG)/1000.0		
		from   (SELECT SUM(PaVlrPAGO) AS PG,P1.PANROPER
				FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
				WHERE   DATEPART(YY,P1.PADTLIQ)  = DATEPART(YY,@DTM7)
					AND DATEPART(MM,P1.PADTLIQ)  = DATEPART(MM,@DTM7) 
				GROUP BY P1.PANROPER) AS P,
			   RATING_HISTORICO H (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=14
			AND H.DT_FECHA = @DTM7
			AND H.NVL_RISCO = 'HH'   -- RECUPER DO HH
			AND P.PANROPER = H.NUM_OPE 

    -- LINHA 1 , M8
	UPDATE	   GRAFICO_perda
		SET    M8=    (PG)/1000.0		
		from   (SELECT SUM(PaVlrPAGO) AS PG,P1.PANROPER
				FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
				WHERE   DATEPART(YY,P1.PADTLIQ)  = DATEPART(YY,@DTM8)
					AND DATEPART(MM,P1.PADTLIQ)  = DATEPART(MM,@DTM8) 
				GROUP BY P1.PANROPER) AS P,
			   RATING_HISTORICO H (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=14
			AND H.DT_FECHA = @DTM8
			AND H.NVL_RISCO = 'HH'   -- RECUPER DO HH
			AND P.PANROPER = H.NUM_OPE

    -- LINHA 1 , M9
	UPDATE	   GRAFICO_perda
		SET    M9=    (PG)/1000.0		
		from   (SELECT SUM(PaVlrPAGO) AS PG,P1.PANROPER
				FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
				WHERE   DATEPART(YY,P1.PADTLIQ)  = DATEPART(YY,@DTM9)
					AND DATEPART(MM,P1.PADTLIQ)  = DATEPART(MM,@DTM9) 
				GROUP BY P1.PANROPER) AS P,
			   RATING_HISTORICO H (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=14
			AND H.DT_FECHA = @DTM9
			AND H.NVL_RISCO = 'HH'   -- RECUPER DO HH
			AND P.PANROPER = H.NUM_OPE


    -- LINHA 1 , M10
	UPDATE	   GRAFICO_perda
		SET    M10=    (PG)/1000.0		
		from   (SELECT SUM(PaVlrPAGO) AS PG,P1.PANROPER
				FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
				WHERE   DATEPART(YY,P1.PADTLIQ)  = DATEPART(YY,@DTM10)
					AND DATEPART(MM,P1.PADTLIQ)  = DATEPART(MM,@DTM10) 
				GROUP BY P1.PANROPER) AS P,
			   RATING_HISTORICO H (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=14
			AND H.DT_FECHA = @DTM10
			AND H.NVL_RISCO = 'HH'   -- RECUPER DO HH
			AND P.PANROPER = H.NUM_OPE

    -- LINHA 1 , M11
	UPDATE	   GRAFICO_perda
		SET    M11=   (PG)/1000.0		
		from   (SELECT SUM(PaVlrPAGO) AS PG,P1.PANROPER
				FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
				WHERE   DATEPART(YY,P1.PADTLIQ)  = DATEPART(YY,@DTM11)
					AND DATEPART(MM,P1.PADTLIQ)  = DATEPART(MM,@DTM11) 
				GROUP BY P1.PANROPER) AS P,
			   RATING_HISTORICO H (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=14
			AND H.DT_FECHA = @DTM11
			AND H.NVL_RISCO = 'HH'   -- RECUPER DO HH
			AND P.PANROPER = H.NUM_OPE
    -- LINHA 10 , M12
	UPDATE	   GRAFICO_perda
		SET    M12=    (PG)/1000.0		
		from   (SELECT SUM(PaVlrPAGO) AS PG,P1.PANROPER
				FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
				WHERE   DATEPART(YY,P1.PADTLIQ)  = DATEPART(YY,@DTM12)
					AND DATEPART(MM,P1.PADTLIQ)  = DATEPART(MM,@DTM12) 
				GROUP BY P1.PANROPER) AS P,
			   RATING_HISTORICO H (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=14
			AND H.DT_FECHA = @DTM12
			AND H.NVL_RISCO = 'HH'   -- RECUPER DO HH
			AND P.PANROPER = H.NUM_OPE

-- *************************************************************************************************************
-- ANO CORRENTE  -- ********************************** LINHA 1 -- CALCULO % PERDA
INSERT GRAFICO_perda
select @data_ref,1, datepart(year,@data_ref)
				,0.0	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	


    -- LINHA 1 , M12
	UPDATE	   GRAFICO_perda
		SET		M1=  CASE WHEN CART.M1=0.0 THEN 0.0 ELSE ((DEF_ATU.M1-DEF_ANT.M1)+(ENTRA.M1-RECUP.M1))/CART.M1 *100.0	END,	-- CALC %
				M2=  CASE WHEN CART.M2=0.0 THEN 0.0 ELSE  ((DEF_ATU.M2-DEF_ANT.M2)+(ENTRA.M2-RECUP.M2))/CART.M2 *100.0	END,
				M3=  CASE WHEN CART.M3=0.0 THEN 0.0 ELSE  ((DEF_ATU.M3-DEF_ANT.M3)+(ENTRA.M3-RECUP.M3))/CART.M3	*100.0 END,
				M4=  CASE WHEN CART.M4=0.0 THEN 0.0 ELSE  ((DEF_ATU.M4-DEF_ANT.M4)+(ENTRA.M4-RECUP.M4))/CART.M4	*100.0 END,
				M5=  CASE WHEN CART.M5=0.0 THEN 0.0 ELSE  ((DEF_ATU.M5-DEF_ANT.M5)+(ENTRA.M5-RECUP.M5))/CART.M5	*100.0 END,
				M6=  CASE WHEN CART.M6=0.0 THEN 0.0 ELSE  ((DEF_ATU.M6-DEF_ANT.M6)+(ENTRA.M6-RECUP.M6))/CART.M6	*100.0 END,
				M7=  CASE WHEN CART.M7=0.0 THEN 0.0 ELSE  ((DEF_ATU.M7-DEF_ANT.M7)+(ENTRA.M7-RECUP.M7))/CART.M7	*100.0 END,
				M8=  CASE WHEN CART.M8=0.0 THEN 0.0 ELSE  ((DEF_ATU.M8-DEF_ANT.M8)+(ENTRA.M8-RECUP.M8))/CART.M8	*100.0 END,
				M9=  CASE WHEN CART.M9=0.0 THEN 0.0 ELSE  ((DEF_ATU.M9-DEF_ANT.M9)+(ENTRA.M9-RECUP.M9))/CART.M9	*100.0 END,
				M10= CASE WHEN CART.M10=0.0 THEN 0.0 ELSE   ((DEF_ATU.M10-DEF_ANT.M10)+(ENTRA.M10-RECUP.M10))/CART.M10*100.0	END,
				M11= CASE WHEN CART.M11=0.0 THEN 0.0 ELSE   ((DEF_ATU.M11-DEF_ANT.M11)+(ENTRA.M11-RECUP.M11))/CART.M11*100.0	END,
				M12= CASE WHEN CART.M12=0.0 THEN 0.0 ELSE   ((DEF_ATU.M12-DEF_ANT.M12)+(ENTRA.M12-RECUP.M12))/CART.M12*100.0	END
		from   (SELECT *	FROM GRAFICO_perda  R (NOLOCK)
					WHERE	DT_FECHA = @data_ref 
						AND ORDEM_LINHA=10 ) AS DEF_ATU,
				(SELECT *	FROM GRAFICO_perda  R (NOLOCK)
					WHERE	DT_FECHA = @data_ref 
						AND ORDEM_LINHA=11 ) AS DEF_ANT,
				(SELECT *	FROM GRAFICO_perda  R (NOLOCK)
					WHERE	DT_FECHA = @data_ref 
						AND ORDEM_LINHA=12 ) AS CART,
				(SELECT *	FROM GRAFICO_perda  R (NOLOCK)
					WHERE	DT_FECHA = @data_ref 
						AND ORDEM_LINHA=13 ) AS ENTRA,
				(SELECT *	FROM GRAFICO_perda  R (NOLOCK)
					WHERE	DT_FECHA = @data_ref 
						AND ORDEM_LINHA=14 ) AS RECUP				
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=1


-- ********************************************************** ANO ANTERIOR

-- FECHAMENTO M1 = JANEIRO	
SET @DTM1 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0201'
			--RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@DTM1=DATEADD(DD,-1,@DTM1) -- FIM JANEIRO
-- CHECA SE EH DIA UTIL
	SET	@DTM1= CASE WHEN DATEPART(DW,@DTM1) = 1 THEN DATEADD(D,-2,@DTM1)	-- DOMINGO
							WHEN DATEPART(DW,@DTM1) = 7 THEN DATEADD(D,-1,@DTM1)	-- SABADO
							ELSE @DTM1					 END
--SELECT @DTM1


-- FECHAMENTO M2= FEV
SET @DTM2 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0301'
-- FIM DO MES ANTERIOR
SET		@DTM2=DATEADD(DD,-1,@DTM2)
-- CHECA SE EH DIA UTIL
	SET	@DTM2= CASE WHEN DATEPART(DW,@DTM2) = 1 THEN DATEADD(D,-2,@DTM2)	-- DOMINGO
							WHEN DATEPART(DW,@DTM2) = 7 THEN DATEADD(D,-1,@DTM2)	-- SABADO
							ELSE @DTM2					 END

-- FECHAMENTO M3= MAR
SET @DTM3 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0401'
-- FIM DO MES ANTERIOR
SET		@DTM3=DATEADD(DD,-1,@DTM3)
-- CHECA SE EH DIA UTIL
	SET	@DTM3= CASE WHEN DATEPART(DW,@DTM3) = 1 THEN DATEADD(D,-2,@DTM3)	-- DOMINGO
							WHEN DATEPART(DW,@DTM3) = 7 THEN DATEADD(D,-1,@DTM3)	-- SABADO
							ELSE @DTM3					 END

-- FECHAMENTO M4= ABR
SET @DTM4 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0501'
-- FIM DO MES ANTERIOR
SET		@DTM4=DATEADD(DD,-1,@DTM4)
-- CHECA SE EH DIA UTIL
	SET	@DTM4= CASE WHEN DATEPART(DW,@DTM4) = 1 THEN DATEADD(D,-2,@DTM4)	-- DOMINGO
							WHEN DATEPART(DW,@DTM4) = 7 THEN DATEADD(D,-1,@DTM4)	-- SABADO
							ELSE @DTM4					 END

-- FECHAMENTO M5= MAI
SET @DTM5 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0601'
-- FIM DO MES ANTERIOR
SET		@DTM5=DATEADD(DD,-1,@DTM5)
-- CHECA SE EH DIA UTIL
	SET	@DTM5= CASE WHEN DATEPART(DW,@DTM5) = 1 THEN DATEADD(D,-2,@DTM5)	-- DOMINGO
							WHEN DATEPART(DW,@DTM5) = 7 THEN DATEADD(D,-1,@DTM5)	-- SABADO
							ELSE @DTM5					 END

-- FECHAMENTO M6= JUN
SET @DTM6 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0701'
-- FIM DO MES ANTERIOR
SET		@DTM6=DATEADD(DD,-1,@DTM6)
-- CHECA SE EH DIA UTIL
	SET	@DTM6= CASE WHEN DATEPART(DW,@DTM6) = 1 THEN DATEADD(D,-2,@DTM6)	-- DOMINGO
					WHEN DATEPART(DW,@DTM6) = 7 THEN DATEADD(D,-1,@DTM6)	-- SABADO
					ELSE @DTM6					 END

-- FECHAMENTO M7= JUL
SET @DTM7 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0801'
-- FIM DO MES ANTERIOR
SET		@DTM7=DATEADD(DD,-1,@DTM7)
-- CHECA SE EH DIA UTIL
	SET	@DTM7= CASE WHEN DATEPART(DW,@DTM7) = 1 THEN DATEADD(D,-2,@DTM7)	-- DOMINGO
					WHEN DATEPART(DW,@DTM7) = 7 THEN DATEADD(D,-1,@DTM7)	-- SABADO
					ELSE @DTM7					 END

-- FECHAMENTO M8= AGO
SET @DTM8 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'0901'
-- FIM DO MES ANTERIOR
SET		@DTM8=DATEADD(DD,-1,@DTM8)
-- CHECA SE EH DIA UTIL
	SET	@DTM8= CASE WHEN DATEPART(DW,@DTM8) = 1 THEN DATEADD(D,-2,@DTM8)	-- DOMINGO
					WHEN DATEPART(DW,@DTM8) = 7 THEN DATEADD(D,-1,@DTM8)	-- SABADO
					ELSE @DTM8					 END

-- FECHAMENTO M9= SET
SET @DTM9 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'1001'
-- FIM DO MES ANTERIOR
SET		@DTM9=DATEADD(DD,-1,@DTM9)
-- CHECA SE EH DIA UTIL
	SET	@DTM9= CASE WHEN DATEPART(DW,@DTM9) = 1 THEN DATEADD(D,-2,@DTM9)	-- DOMINGO
					WHEN DATEPART(DW,@DTM9) = 7 THEN DATEADD(D,-1,@DTM9)	-- SABADO
					ELSE @DTM9					 END

-- FECHAMENTO M10= OUT
SET @DTM10 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'1101'
-- FIM DO MES ANTERIOR
SET		@DTM10=DATEADD(DD,-1,@DTM10)
-- CHECA SE EH DIA UTIL
	SET	@DTM10= CASE WHEN DATEPART(DW,@DTM10) = 1 THEN DATEADD(D,-2,@DTM10)	-- DOMINGO
					 WHEN DATEPART(DW,@DTM10) = 7 THEN DATEADD(D,-1,@DTM10)	-- SABADO
					 ELSE @DTM10				  END
-- FECHAMENTO M11= NOV
SET @DTM11 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'1201'
-- FIM DO MES ANTERIOR
SET		@DTM11=DATEADD(DD,-1,@DTM11)
-- CHECA SE EH DIA UTIL
	SET	@DTM11= CASE WHEN DATEPART(DW,@DTM11) = 1 THEN DATEADD(D,-2,@DTM11)	-- DOMINGO
					 WHEN DATEPART(DW,@DTM11) = 7 THEN DATEADD(D,-1,@DTM11)	-- SABADO
					 ELSE @DTM11				  END
-- FECHAMENTO M12= DEZ
SET @DTM12 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref)-1)+'1231'  -- FIM DO MES
-- CHECA SE EH DIA UTIL
	SET	@DTM12= CASE WHEN DATEPART(DW,@DTM12) = 1 THEN DATEADD(D,-2,@DTM12)	-- DOMINGO
					 WHEN DATEPART(DW,@DTM12) = 7 THEN DATEADD(D,-1,@DTM12)	-- SABADO
					 ELSE @DTM12				  END


-- ANO ANTERIOR *********************************************** LINHA 2
INSERT GRAFICO_perda
select @data_ref,2, datepart(year,@data_ref)-1
				,0.0	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	

-- DECLARE @data_ref DATETIME		SET	@data_ref='20140630' DECLARE @DTM1 DATETIME		SET	@DTM1='20140131'
-- SELECT * FROM AUX_GRAFICO_CART WHERE DT_FECHA=@data_ref AND ORDEM_LINHA=1
    -- LINHA 2 , M1
	UPDATE	   GRAFICO_perda
		SET    M1=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM1
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 


    -- LINHA 2 , M2
	UPDATE	   GRAFICO_perda
		SET    M2=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM2
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M3
	UPDATE	   GRAFICO_perda
		SET    M3=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM3
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M4
	UPDATE	   GRAFICO_perda
		SET    M4=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM4
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M5
	UPDATE	   GRAFICO_perda
		SET    M5=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM5
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M6
	UPDATE	   GRAFICO_perda
		SET    M6=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM6
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M7
	UPDATE	   GRAFICO_perda
		SET    M7=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM7
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M8
	UPDATE	   GRAFICO_perda
		SET    M8=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM8
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M9
	UPDATE	   GRAFICO_perda
		SET    M9=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM9
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M10
	UPDATE	   GRAFICO_perda
		SET    M10=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM10
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M11
	UPDATE	   GRAFICO_perda
		SET    M11=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM11
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 

    -- LINHA 2 , M12
	UPDATE	   GRAFICO_perda
		SET    M12=   [hh_SALDO]		-- vlr perda
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = GRAFICO_perda.DT_FECHA
			AND GRAFICO_perda.ORDEM_LINHA=2
			AND R.DT_FECHA = @DTM12
			AND R.ORDEM_LINHA=5  -- SALDO FINAL 



-- APRESENTAR DADOS NA TELA
select 
			@data_ref  AS			 [DT_FECHA]

               ,'' AS [AGENTE]



               ,'' AS [COBRADORA]

               , [ORDEM_LINHA]

               ,'' AS [FORMATO],

	ANO		,
	M1		,
	CASE WHEN M2=0 THEN NULL ELSE M2 END AS M2		,
	CASE WHEN M3=0 THEN NULL ELSE M3 END AS M3		,
	CASE WHEN M4=0 THEN NULL ELSE M4 END AS M4		,
	CASE WHEN M5=0 THEN NULL ELSE M5 END AS M5		,
	CASE WHEN M6=0 THEN NULL ELSE M6 END AS M6		,
	CASE WHEN M7=0 THEN NULL ELSE M7 END AS M7		,
	CASE WHEN M8=0 THEN NULL ELSE M8 END AS M8		,
	CASE WHEN M9=0 THEN NULL ELSE M9 END AS M9		,

	CASE WHEN M10=0 THEN NULL ELSE M10 END AS M10		,
	CASE WHEN M11=0 THEN NULL ELSE M11 END AS M11		,
	CASE WHEN M12=0 THEN NULL ELSE M12 END AS M12		



from		GRAFICO_perda   (NOLOCK)
	WHERE ORDEM_LINHA IN (1,2)
	ORDER BY ORDEM_LINHA



END


GO

-- SELECT * from	GRAFICO_perda
-- SELECT * from		AUX_GRAFICO_CART 
-- SELECT * from  RR_ROLLRATE_RPT
-- SELECT ROUND([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0,2) from  RR_ROLLRATE_RPT WHERE DT_FECHA='20140131' AND ORDEM_LINHA=5
--ORDER BY cobradora, rating
--  from		SIG_IP_VLR_VIEW p (NOLOCK)
--	WHERE	DaTa_ref = ( @data_ref )
--	order by ORDEM ASC , ORDEM_LINHA ASC
--  select * from PERFORMANCE_CALC			
