
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios
Use SIG
go

/*
 EXEC [dbo].[scr_RR_DIARIO]  '2014-05-02', '0','0'
 EXEC [dbo].[scr_RR_DIARIO]  '2014-05-03', '0','0'
 EXEC [dbo].[scr_RR_DIARIO]  '2014-03-20', '0','0'

SELECT * from		RR_ROLLRATE_DIA_RPT 
*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_RR_DIARIO' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_RR_DIARIO]
GO


CREATE Procedure [dbo].[scr_RR_DIARIO] (@data_ref as datetime, @agente varchar(6), @cobradora varchar(6)) AS
BEGIN

DECLARE @data_ANT SMALLDATETIME
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)

IF @data_ANT <= '20140831'
BEGIN
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END
END

/*
-- MESMO DIA NO MES ANTERIOR
DECLARE @data_MES_ANT SMALLDATETIME
SET		@data_MES_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,DATEADD(MM,-1,@data_ref)))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,DATEADD(MM,-1,@data_ref)))),2)+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(DAY,DATEADD(MM,-1,@data_ref)))),2)
-- YYYYMMDD
-- SELECT DATEADD(MM,-1,GETDATE())
*/

-- 1o DIA DO MES CORRENTE
DECLARE @data_INI SMALLDATETIME
SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

--  DECLARE @data_INI SMALLDATETIME  SET @data_INI ='20140601' DECLARE @data_REF SMALLDATETIME  SET @data_REF ='20140613'

-- MESMO DIA UTIL NO MES ANTERIOR
DECLARE @data_MES_ANT SMALLDATETIME
DECLARE @QTDE INT
SET		@QTDE = 0
DECLARE @AUX  INT
SET		@AUX  = 0
-- QTDE DE DIAS UTEIS NO MES
-- FERIADOS NO FUNCAO
-- SELECT * FROM  CDCSANTANAMicroCredito..TFERI WHERE FEDTFER BETWEEN '20140601' AND '20140610'
-- DIAS DECORRIDOS SELECT DATEDIFF(DD,'20140601','20140610')
-- ************************************************************************
DECLARE @data_AUX SMALLDATETIME
SET		@data_AUX =  @data_INI
--SET @data_AUX ='20140601' DECLARE @DATA_REF DATETIME SET @DATA_REF='20140610'
-- CONTAR QTDE DE DIAS UTEIS ATEH DT REF
-- LOOP DE DATAS DE INI ATE REF
WHILE   @data_AUX <= @data_ref
BEGIN
	-- SELECT  @QTDE = DATEDIFF(DD,@data_INI,@data_ref) 
	-- DIA UTIL ??  NAO EH FIM-DE-SEMANA, NAO EH FERIADO
	IF DATEPART(DW,@data_AUX) NOT IN (1,7) 
	BEGIN
		-- NAO EH FERIADO
		IF 	(SELECT COUNT(*) FROM CDCSANTANAMicroCredito..TFERI   (NOLOCK) WHERE	FEDTFER=	@data_AUX) =0 
		BEGIN
			SET @QTDE = @QTDE + 1
		END
	END

	-- PROXIMO DIA
	SET @data_AUX =DATEADD(DD,+1,@data_AUX)
END


SET @QTDE = @QTDE - 1

-- SELECT @QTDE
-- SET @QTDE = @QTDE + 2

-- SELECT * FROM CDCSANTANAMicroCredito..TFERI WHERE	FEDTFER>='20140501' ORDER BY FEDTFER
-- INSERT CDCSANTANAMicroCredito..TFERI SELECT '20140612' ,'000','COPA FUTEBOL 2014',''
 


--  DECLARE @data_MES_ANT SMALLDATETIME  DECLARE @QTDE INT    SET		@QTDE = 7 DECLARE @AUX  INT  SET		@AUX  = 0 DECLARE @data_AUX SMALLDATETIME  DECLARE @data_REF SMALLDATETIME SET		@data_REF =  '20140610'
-- SELECT * FROM  CDCSANTANAMicroCredito..TFERI WHERE FEDTFER BETWEEN '20140501' AND '20140530'
-- DIA UTIL DO MES ANTERIOR
--  DECLARE @data_MES_ANT SMALLDATETIME  DECLARE @QTDE INT    SET		@QTDE = 9 DECLARE @AUX  INT  SET		@AUX  = 0 DECLARE @data_AUX SMALLDATETIME  DECLARE @data_REF SMALLDATETIME SET		@data_REF =  '20140613'
SET		@data_MES_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,DATEADD(MM,-1,@data_ref)))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,DATEADD(MM,-1,@data_ref)))),2)+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(DAY,DATEADD(MM,-1,@data_ref)))),2)



SET		@AUX =  0
-- VERIFICAR A DATA EQUIVALENTE EM No DE DIAS UTEIS DO MES ANTERIOR
-- INICIO DO MES ANTERIOR
SET		@data_AUX =  CONVERT(CHAR(4),DATEPART(YEAR,@data_MES_ANT))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_MES_ANT))),2)+'01'

--		alterado 13/10/16
SET		@data_AUX =  dateadd(dd,-1,@data_AUX)  -- RETIRA UM DIA PARA SOMAR +1 ABAIXO

--SET		@data_AUX = DATEDIFF (DD, -1, @data_AUX) -- RETIRA UM DIA PARA SOMAR +1 ABAIXO
-- LOOP DE QTDE DE DIAS UTEIS PARA ACHAR A DATA EQUIVALENTE (MES ANTERIOR)
-- SELECT @DATA_AUX
WHILE   @AUX <= @QTDE  
BEGIN
	-- PROXIMO DIA A TESTAR
	SET @data_AUX =DATEADD(DD,+1,@data_AUX)

	-- DIA UTIL ??  NAO EH FIM-DE-SEMANA, NAO EH FERIADO
	IF DATEPART(DW,@data_AUX) NOT IN (1,7) 
	BEGIN
		-- NAO EH FERIADO
		IF 	(SELECT COUNT(*) FROM CDCSANTANAMicroCredito..TFERI   (NOLOCK) WHERE	FEDTFER=	@data_AUX) =0 
		BEGIN
			-- PROXIMO DIA UTIL
			SET @AUX = @AUX + 1
		END
	END

END

SET @data_MES_ANT =@data_AUX
-- FINAL
-- SET @data_MES_ANT =DATEADD(DD,-1,@data_AUX)
--SELECT @data_MES_ANT

-- se a data for menor q o fim do mes -- por o fim do mes
IF  DATEPART(MONTH,@data_MES_ANT) <> DATEPART(MONTH,DATEADD(MM,-1,@data_ref))
BEGIN
	SET @data_MES_ANT = (SELECT MAX(DT_FECHA) FROM 	RR_ROLLRATE_DIA_RPT  (NOLOCK)
							WHERE	DATEPART(MONTH,DT_FECHA) = DATEPART(MONTH,DATEADD(MM,-1,@data_ref))    -- MES ANTERIOR 
								AND DATEPART(YEAR ,DT_FECHA) = DATEPART(YEAR ,DATEADD(MM,-1,@data_ref))  ) -- ANO ANTERIOR

END
select 
				 [DT_FECHA]

               ,[AGENTE]

               ,[COBRADORA]

               ,[ORDEM_LINHA]

               ,[FORMATO]

               ,[DESCRICAO]

--               ,COALESCE([AA_QTDE], 0) [AA_QTDE]

               ,round([AA_QTDE], 0) [AA_QTDE]

               ,round([AA_SALDO], 0) [AA_SALDO]

               ,round([A_QTDE], 0) [A_QTDE]

               ,round([A_SALDO], 0) [A_SALDO]

               ,round([B_QTDE], 0) [B_QTDE]

               ,round([B_SALDO], 0) [B_SALDO]

               ,round([C_QTDE], 0) [C_QTDE]

               ,round([C_SALDO], 0) [C_SALDO]

               ,round([D_QTDE], 0) [D_QTDE]

               ,round([D_SALDO], 0) [D_SALDO]

               ,round([E_QTDE], 0) [E_QTDE]

               ,round([E_SALDO], 0) [E_SALDO]

               ,round([F_QTDE], 0) [F_QTDE]

               ,round([F_SALDO], 0) [F_SALDO]

               ,round([G_QTDE], 0) [G_QTDE]

               ,round([G_SALDO], 0) [G_SALDO]

               ,round([H_QTDE], 0) [H_QTDE]

               ,round([H_SALDO], 0) [H_SALDO]

               ,round([HH_QTDE], 0) [HH_QTDE]

               ,round([HH_SALDO], 0) [HH_SALDO]

               ,round([TTL_QTDE], 0) [TTL_QTDE]

               ,round([TTL_SALDO], 0) [TTL_SALDO]

				, CASE	WHEN DT_FECHA = @data_ref	  THEN 1
						WHEN DT_FECHA = @data_MES_ANT THEN 2
						WHEN DT_FECHA = @data_ANT	  THEN 3
						ELSE 0 END
				 AS ORDEM

  from		RR_ROLLRATE_DIA_RPT (NOLOCK)
	WHERE	DT_FECHA IN ( @data_ref , @data_ANT, @data_MES_ANT)  -- hoje, FECHAMENTO ANTERIOR, MESMO DIA DO MES ANTERIOR
		and	1=1+case	when @agente='0'  then 0   -- todos
					when  @agente<>'0' and agente   = @agente then 0
					else  1
					end
		and	1=1+case	when @cobradora='0' then 0       -- todos
						when  @cobradora<>'0' and  cobradora = @cobradora then 0
						else  1
						end
	order by ORDEM ASC , ORDEM_LINHA ASC
--	order by DT_FECHA DESC, ORDEM_LINHA ASC
			

END


GO

--grant execute [scr_RR_DIARIO] on usrSIv

-- SELECT * FROM RR_AUX_CONTRATO_2M