
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios
Use SIG
go

-- exec [scr_grafico_estoque] 15,'20140630','',''
-- exec [scr_grafico_estoque] 31,'20140630','0','0'

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_grafico_estoque' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_grafico_estoque]
GO


CREATE Procedure [dbo].[scr_grafico_estoque] (@FAIXA AS INT, @data_ref as datetime, @agente varchar(6), @cobradora varchar(6)) AS
BEGIN

-- 	mar/14			abr/14			mai/14		
-- Classe de Atraso	Qtde	Vlr Risco	t%	Qtde	Vlr Risco	t%	Qtde	Vlr Risco	t%
-- 2- 0 a 14	 10.000 	 87.000.000 	77,43	 10.000 	 87.000.000 	77,43	 10.000 	 87.000.000 	77,43
/*

ANO	JAN	FEV	MAR	ABR	MAI	JUN	JUL	AGO	SET	OUT	NOV	DEZ
2013	75,77	75,99	75,84	76,79	76,65	77,3	78,21	78,46	80,3	79,82	79,35	79,87
2014	79,6	79,45	77,43	77,04	76,86							


drop TABLE AUX_GRAFICO_estoque

CREATE TABLE AUX_GRAFICO_estoque

(	DT_FECHA	DATETIME,
	ordem_linha int,
	ANO		VARCHAR(10),
	M1		FLOAT,
	M2		FLOAT,
	M3		FLOAT,
	M4		FLOAT,
	M5		FLOAT,
	M6		FLOAT,
	M7		FLOAT,
	M8		FLOAT,
	M9		FLOAT,
	M10		FLOAT,
	M11		FLOAT,
	M12		FLOAT,
	M13		FLOAT,
 )


*/


-- CALCULAR 2 M ANTERIORES
-- 
DECLARE @DTM1 DATETIME
DECLARE @DTM2 DATETIME
DECLARE @DTM3 DATETIME
DECLARE @DTM4 DATETIME
DECLARE @DTM5 DATETIME
DECLARE @DTM6 DATETIME
DECLARE @DTM7 DATETIME
DECLARE @DTM8 DATETIME
DECLARE @DTM9 DATETIME
DECLARE @DTM10 DATETIME
DECLARE @DTM11 DATETIME
DECLARE @DTM12 DATETIME
DECLARE @DTM13 DATETIME

-- FECHAMENTO M1 = 13 meses anteriores
SET @DTM13 =  @data_ref  -- mes atual

	-- inicio mes REF  ********************
	SET @DTM12 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
	SET	@DTM12 =  DATEADD(DD,-1,@DTM12) -- FIM mes anterior

	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM12 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM12= CASE WHEN DATEPART(DW,@DTM12) = 1 THEN DATEADD(D,-2,@DTM12)	-- DOMINGO
						WHEN DATEPART(DW,@DTM12) = 7 THEN DATEADD(D,-1,@DTM12)	-- SABADO
						ELSE @DTM12					 END
	END

	-- 2o mes anterior  ********************
	SET @DTM11 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM12))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM12))),2)+'01'
	SET	@DTM11 =  DATEADD(DD,-1,@DTM11) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM11 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM11 = CASE	WHEN DATEPART(DW,@DTM11) = 1 THEN DATEADD(D,-2,@DTM11)	-- DOMINGO
							WHEN DATEPART(DW,@DTM11) = 7 THEN DATEADD(D,-1,@DTM11)	-- SABADO
							ELSE @DTM11					 END
	END

	-- 3o mes anterior  ********************
	SET @DTM10 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM11))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM11))),2)+'01'
	SET	@DTM10 =  DATEADD(DD,-1,@DTM10) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM10 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM10 = CASE	WHEN DATEPART(DW,@DTM10) = 1 THEN DATEADD(D,-2,@DTM10)	-- DOMINGO
							WHEN DATEPART(DW,@DTM10) = 7 THEN DATEADD(D,-1,@DTM10)	-- SABADO
							ELSE @DTM10					 END
	END

	-- 4o mes anterior  ********************
	SET @DTM9  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM10))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM10))),2)+'01'
	SET	@DTM9 =  DATEADD(DD,-1,@DTM9) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM9 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM9 = CASE	WHEN DATEPART(DW,@DTM9) = 1 THEN DATEADD(D,-2,@DTM9)	-- DOMINGO
							WHEN DATEPART(DW,@DTM9) = 7 THEN DATEADD(D,-1,@DTM9)	-- SABADO
							ELSE @DTM9					END
	END

	-- 5o mes anterior  ********************
	SET @DTM8  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM9))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM9))),2)+'01'
	SET	@DTM8 =  DATEADD(DD,-1,@DTM8) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM8 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM8 = CASE	WHEN DATEPART(DW,@DTM8) = 1 THEN DATEADD(D,-2,@DTM8)	-- DOMINGO
							WHEN DATEPART(DW,@DTM8) = 7 THEN DATEADD(D,-1,@DTM8)	-- SABADO
							ELSE @DTM8					END
	END

	-- 6o mes anterior  ********************
	SET @DTM7  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM8))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM8))),2)+'01'
	SET	@DTM7 =  DATEADD(DD,-1,@DTM7) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM7 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM7 = CASE	WHEN DATEPART(DW,@DTM7) = 1 THEN DATEADD(D,-2,@DTM7)	-- DOMINGO
							WHEN DATEPART(DW,@DTM7) = 7 THEN DATEADD(D,-1,@DTM7)	-- SABADO
							ELSE @DTM7					END
	END

	-- 7o mes anterior  ********************
	SET @DTM6  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM7))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM7))),2)+'01'
	SET	@DTM6 =  DATEADD(DD,-1,@DTM6) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM6 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM6 = CASE	WHEN DATEPART(DW,@DTM6) = 1 THEN DATEADD(D,-2,@DTM6)	-- DOMINGO
							WHEN DATEPART(DW,@DTM6) = 7 THEN DATEADD(D,-1,@DTM6)	-- SABADO
							ELSE @DTM6					END
	END

	-- 8o mes anterior  ********************
	SET @DTM5  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM6))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM6))),2)+'01'
	SET	@DTM5 =  DATEADD(DD,-1,@DTM5) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM5 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM5 = CASE	WHEN DATEPART(DW,@DTM5) = 1 THEN DATEADD(D,-2,@DTM5)	-- DOMINGO
							WHEN DATEPART(DW,@DTM5) = 7 THEN DATEADD(D,-1,@DTM5)	-- SABADO
							ELSE @DTM5					END
	END

	-- 8o mes anterior  ********************
	SET @DTM4  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM5))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM5))),2)+'01'
	SET	@DTM4 =  DATEADD(DD,-1,@DTM4) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM4 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM4 = CASE	WHEN DATEPART(DW,@DTM4) = 1 THEN DATEADD(D,-2,@DTM4)	-- DOMINGO
							WHEN DATEPART(DW,@DTM4) = 7 THEN DATEADD(D,-1,@DTM4)	-- SABADO
							ELSE @DTM4					END
	END

	-- 9o mes anterior  ********************
	SET @DTM3  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM4))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM4))),2)+'01'
	SET	@DTM3 =  DATEADD(DD,-1,@DTM3) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM3 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM3 = CASE	WHEN DATEPART(DW,@DTM3) = 1 THEN DATEADD(D,-2,@DTM3)	-- DOMINGO
							WHEN DATEPART(DW,@DTM3) = 7 THEN DATEADD(D,-1,@DTM3)	-- SABADO
							ELSE @DTM3					END
	END

	-- 10o mes anterior  ********************
	SET @DTM2  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM3))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM3))),2)+'01'
	SET	@DTM2 =  DATEADD(DD,-1,@DTM2) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM2 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM2 = CASE	WHEN DATEPART(DW,@DTM2) = 1 THEN DATEADD(D,-2,@DTM2)	-- DOMINGO
							WHEN DATEPART(DW,@DTM2) = 7 THEN DATEADD(D,-1,@DTM2)	-- SABADO
							ELSE @DTM2					END
	END

	-- 11o mes anterior  ********************
	SET @DTM1  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM2))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM2))),2)+'01'
	SET	@DTM1 =  DATEADD(DD,-1,@DTM1) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM1 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM1 = CASE	WHEN DATEPART(DW,@DTM1) = 1 THEN DATEADD(D,-2,@DTM1)	-- DOMINGO
							WHEN DATEPART(DW,@DTM1) = 7 THEN DATEADD(D,-1,@DTM1)	-- SABADO
							ELSE @DTM1					END
	END
-- APAGA ANTERIOR
delete AUX_GRAFICO_estoque 

-- ANO CORRENTE  -- ********************************** LINHA 1
INSERT AUX_GRAFICO_estoque
select @data_ref,1, datepart(year,@data_ref)
				,0.0	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0 	,0.0 	,0.0 	
				,0.0

-- DECLARE @data_ref DATETIME		SET	@data_ref='20140630' DECLARE @DTM1 DATETIME		SET	@DTM1='20140131'
-- SELECT * FROM AUX_GRAFICO_CART WHERE DT_FECHA=@data_ref AND ORDEM_LINHA=1
-- SELECT * FROM RR_ROLLRATE_RPT WHERE DT_FECHA='20140630' AND ORDEM_LINHA=4 -- ROLAGEM

    -- LINHA 1 , M1
	UPDATE	   AUX_GRAFICO_estoque
		SET    M1=    CASE	WHEN @FAIXA =  15 THEN round([B_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  31 THEN round([C_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  61 THEN round([D_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  91 THEN round([E_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 121 THEN round([F_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 151 THEN round([G_SALDO] / 1000000.0,2) 
							WHEN @FAIXA = 181 THEN round([H_SALDO] / 1000000.0,2) 
							ELSE 0.0 END
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_estoque.DT_FECHA
			AND AUX_GRAFICO_estoque.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM1
			AND R.ORDEM_LINHA=  5   --  SALDO FINAL


    -- LINHA 1 , M2
	UPDATE	   AUX_GRAFICO_estoque
		SET    M2=    CASE	WHEN @FAIXA =  15 THEN round([B_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  31 THEN round([C_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  61 THEN round([D_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  91 THEN round([E_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 121 THEN round([F_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 151 THEN round([G_SALDO] / 1000000.0,2) 
							WHEN @FAIXA = 181 THEN round([H_SALDO] / 1000000.0,2) 
							ELSE 0.0 END
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_estoque.DT_FECHA
			AND AUX_GRAFICO_estoque.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM2
			AND R.ORDEM_LINHA=  5   --  SALDO FINAL

    -- LINHA 1 , M3
	UPDATE	   AUX_GRAFICO_estoque
		SET    M3=    CASE	WHEN @FAIXA =  15 THEN round([B_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  31 THEN round([C_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  61 THEN round([D_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  91 THEN round([E_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 121 THEN round([F_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 151 THEN round([G_SALDO] / 1000000.0,2) 
							WHEN @FAIXA = 181 THEN round([H_SALDO] / 1000000.0,2) 
							ELSE 0.0 END
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_estoque.DT_FECHA
			AND AUX_GRAFICO_estoque.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM3
			AND R.ORDEM_LINHA=  5   --  SALDO FINAL

    -- LINHA 1 , M4
	UPDATE	   AUX_GRAFICO_estoque
		SET    M4=    CASE	WHEN @FAIXA =  15 THEN round([B_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  31 THEN round([C_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  61 THEN round([D_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  91 THEN round([E_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 121 THEN round([F_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 151 THEN round([G_SALDO] / 1000000.0,2) 
							WHEN @FAIXA = 181 THEN round([H_SALDO] / 1000000.0,2) 
							ELSE 0.0 END
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_estoque.DT_FECHA
			AND AUX_GRAFICO_estoque.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM4
			AND R.ORDEM_LINHA=  5   --  SALDO FINAL

    -- LINHA 1 , M5
	UPDATE	   AUX_GRAFICO_estoque
		SET    M5=   CASE	WHEN @FAIXA =  15 THEN round([B_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  31 THEN round([C_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  61 THEN round([D_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  91 THEN round([E_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 121 THEN round([F_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 151 THEN round([G_SALDO] / 1000000.0,2) 
							WHEN @FAIXA = 181 THEN round([H_SALDO] / 1000000.0,2) 
							ELSE 0.0 END
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_estoque.DT_FECHA
			AND AUX_GRAFICO_estoque.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM5
			AND R.ORDEM_LINHA=  5   --  SALDO FINAL

    -- LINHA 1 , M6
	UPDATE	   AUX_GRAFICO_estoque
		SET    M6=   CASE	WHEN @FAIXA =  15 THEN round([B_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  31 THEN round([C_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  61 THEN round([D_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  91 THEN round([E_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 121 THEN round([F_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 151 THEN round([G_SALDO] / 1000000.0,2) 
							WHEN @FAIXA = 181 THEN round([H_SALDO] / 1000000.0,2) 
							ELSE 0.0 END
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_estoque.DT_FECHA
			AND AUX_GRAFICO_estoque.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM6
			AND R.ORDEM_LINHA=  5   --  SALDO FINAL

    -- LINHA 1 , M7
	UPDATE	   AUX_GRAFICO_estoque
		SET    M7=   CASE	WHEN @FAIXA =  15 THEN round([B_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  31 THEN round([C_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  61 THEN round([D_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  91 THEN round([E_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 121 THEN round([F_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 151 THEN round([G_SALDO] / 1000000.0,2) 
							WHEN @FAIXA = 181 THEN round([H_SALDO] / 1000000.0,2) 
							ELSE 0.0 END
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_estoque.DT_FECHA
			AND AUX_GRAFICO_estoque.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM7
			AND R.ORDEM_LINHA=  5   --  SALDO FINAL

    -- LINHA 1 , M8
	UPDATE	   AUX_GRAFICO_estoque
		SET    M8=   CASE	WHEN @FAIXA =  15 THEN round([B_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  31 THEN round([C_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  61 THEN round([D_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  91 THEN round([E_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 121 THEN round([F_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 151 THEN round([G_SALDO] / 1000000.0,2) 
							WHEN @FAIXA = 181 THEN round([H_SALDO] / 1000000.0,2) 
							ELSE 0.0 END
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_estoque.DT_FECHA
			AND AUX_GRAFICO_estoque.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM8
			AND R.ORDEM_LINHA=  5   --  SALDO FINAL

    -- LINHA 1 , M9
	UPDATE	   AUX_GRAFICO_estoque
		SET    M9=   CASE	WHEN @FAIXA =  15 THEN round([B_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  31 THEN round([C_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  61 THEN round([D_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  91 THEN round([E_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 121 THEN round([F_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 151 THEN round([G_SALDO] / 1000000.0,2) 
							WHEN @FAIXA = 181 THEN round([H_SALDO] / 1000000.0,2) 
							ELSE 0.0 END
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_estoque.DT_FECHA
			AND AUX_GRAFICO_estoque.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM9
			AND R.ORDEM_LINHA=  5   --  SALDO FINAL

    -- LINHA 1 , M10
	UPDATE	   AUX_GRAFICO_estoque
		SET    M10=   CASE	WHEN @FAIXA =  15 THEN round([B_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  31 THEN round([C_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  61 THEN round([D_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  91 THEN round([E_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 121 THEN round([F_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 151 THEN round([G_SALDO] / 1000000.0,2) 
							WHEN @FAIXA = 181 THEN round([H_SALDO] / 1000000.0,2) 
							ELSE 0.0 END
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_estoque.DT_FECHA
			AND AUX_GRAFICO_estoque.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM10
			AND R.ORDEM_LINHA=  5   --  SALDO FINAL

    -- LINHA 1 , M11
	UPDATE	   AUX_GRAFICO_estoque
		SET    M11=   CASE	WHEN @FAIXA =  15 THEN round([B_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  31 THEN round([C_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  61 THEN round([D_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  91 THEN round([E_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 121 THEN round([F_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 151 THEN round([G_SALDO] / 1000000.0,2) 
							WHEN @FAIXA = 181 THEN round([H_SALDO] / 1000000.0,2) 
							ELSE 0.0 END
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_estoque.DT_FECHA
			AND AUX_GRAFICO_estoque.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM11
			AND R.ORDEM_LINHA=  5   --  SALDO FINAL

    -- LINHA 1 , M12
	UPDATE	   AUX_GRAFICO_estoque
		SET    M12=   CASE	WHEN @FAIXA =  15 THEN round([B_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  31 THEN round([C_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  61 THEN round([D_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  91 THEN round([E_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 121 THEN round([F_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 151 THEN round([G_SALDO] / 1000000.0,2) 
							WHEN @FAIXA = 181 THEN round([H_SALDO] / 1000000.0,2) 
							ELSE 0.0 END
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_estoque.DT_FECHA
			AND AUX_GRAFICO_estoque.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM12
			AND R.ORDEM_LINHA=  5   --  SALDO FINAL


    -- LINHA 1 , M13
	UPDATE	   AUX_GRAFICO_estoque
		SET    M13=   CASE	WHEN @FAIXA =  15 THEN round([B_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  31 THEN round([C_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  61 THEN round([D_SALDO] / 1000000.0,2)
							WHEN @FAIXA =  91 THEN round([E_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 121 THEN round([F_SALDO] / 1000000.0,2)
							WHEN @FAIXA = 151 THEN round([G_SALDO] / 1000000.0,2) 
							WHEN @FAIXA = 181 THEN round([H_SALDO] / 1000000.0,2) 
							ELSE 0.0 END
		from   RR_ROLLRATE_RPT  R (NOLOCK)
		where  @data_ref = AUX_GRAFICO_estoque.DT_FECHA
			AND AUX_GRAFICO_estoque.ORDEM_LINHA=1
			AND R.DT_FECHA = @DTM13
			AND R.ORDEM_LINHA=  5   --  SALDO FINAL



-- APRESENTAR DADOS NA TELA
select 
			@data_ref  AS			 [DT_FECHA]

               ,'' AS [AGENTE]



               ,'' AS [COBRADORA]

               , [ORDEM_LINHA]

               ,'' AS [FORMATO],

	ANO		,
	M1		,
	CASE WHEN M2=0 THEN NULL ELSE M2 END AS M2		,
	CASE WHEN M3=0 THEN NULL ELSE M3 END AS M3		,
	CASE WHEN M4=0 THEN NULL ELSE M4 END AS M4		,
	CASE WHEN M5=0 THEN NULL ELSE M5 END AS M5		,
	CASE WHEN M6=0 THEN NULL ELSE M6 END AS M6		,
	CASE WHEN M7=0 THEN NULL ELSE M7 END AS M7		,
	CASE WHEN M8=0 THEN NULL ELSE M8 END AS M8		,
	CASE WHEN M9=0 THEN NULL ELSE M9 END AS M9		,

	CASE WHEN M10=0 THEN NULL ELSE M10 END AS M10		,
	CASE WHEN M11=0 THEN NULL ELSE M11 END AS M11		,
	CASE WHEN M12=0 THEN NULL ELSE M12 END AS M12		,
	CASE WHEN M13=0 THEN NULL ELSE M13 END AS M13		



from		AUX_GRAFICO_estoque   (NOLOCK)
	ORDER BY ORDEM_LINHA



END


GO

-- SELECT * from		AUX_GRAFICO_CART 
-- SELECT * from  RR_ROLLRATE_RPT
-- SELECT ROUND([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0,2) from  RR_ROLLRATE_RPT WHERE DT_FECHA='20140131' AND ORDEM_LINHA=5
--ORDER BY cobradora, rating
--  from		SIG_IP_VLR_VIEW p (NOLOCK)
--	WHERE	DaTa_ref = ( @data_ref )
--	order by ORDEM ASC , ORDEM_LINHA ASC
--  select * from PERFORMANCE_CALC			
