
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios]
use SIG
go

/*
 EXEC [dbo].[scr_RR_mensal_grafico]  '2014-06-30', '',''

SELECT voDescr,vom12Ind,vom11ind,vom10ind,vom9Ind,vom8ind,vom7ind,vom6Ind,vom5ind,vom4ind,vom3Ind,vom2ind,vom1ind,vom0ind,VoTotal FROM [VOPRPT] where Convert(Varchar(10),VoDtRef, 103) = @dt  and vocodproduto=3 and vorpt=1 Order By VoSequencia
CREATE TABLE VopRPT
( 
VoDtRef SMALLDATETIME,
vocodproduto INT, -- 2
vorpt INT ,  -- RELATORIO 1 
VoSequencia INT , --Order By 
voDescr	VARCHAR(30),
vom12Ind FLOAT,
vom11ind FLOAT,
vom10ind FLOAT,
vom9Ind	 FLOAT,
vom8ind	 FLOAT,
vom7ind	 FLOAT,
vom6Ind	 FLOAT,
vom5ind	 FLOAT,
vom4ind	 FLOAT,
vom3Ind	 FLOAT,
vom2ind	 FLOAT,
vom1ind	 FLOAT,
vom0ind	 FLOAT,
VoTotal	 FLOAT
)

INSERT  VopRPT
SELECT '20140630', 2,1,1,'ENTRADA',
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = '2013-05-31'  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = '2013-06-28'  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = '2013-07-31'  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = '2013-08-30'  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = '2013-09-30'  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = '2013-10-31'  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = '2013-07-30'  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = '2013-07-30'  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = '2013-07-30'  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = '2013-07-30'  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = '2013-07-30'  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = '2013-07-30'  and ordem_linha=2 -- ENTRADAS
			),0.0),
0.0,0.0

 SELECT *   from		VOPRPT
 DELETE   from		VOPRPT

-- SELECT *   from		RR_ROLLRATE_RPT
-- SELECT dt_fecha,b_saldo as '% recup'   from		RR_ROLLRATE_RPT where dt_fecha between '2013-05-30' and '20140530' and ordem_linha=6
*/
-- SELECT *  from		RR_ROLLRATE_RPT where dt_fecha between '2013-05-30' and '20140530' and ordem_linha=2
-- SELECT dt_fecha,b_saldo as '% recup',*   from		RR_ROLLRATE_RPT where dt_fecha between '2013-05-30' and '20140530' and ordem_linha=6

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_RR_mensal_grafico' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_RR_mensal_grafico]
GO


CREATE Procedure [dbo].[scr_RR_mensal_grafico] (@data_ref as datetime, @agente varchar(6), @cobradora varchar(6)) AS
BEGIN

DECLARE @data_M12 SMALLDATETIME
DECLARE @data_M11 SMALLDATETIME
DECLARE @data_M10 SMALLDATETIME
DECLARE @data_M9 SMALLDATETIME
DECLARE @data_M8 SMALLDATETIME
DECLARE @data_M7 SMALLDATETIME
DECLARE @data_M6 SMALLDATETIME
DECLARE @data_M5 SMALLDATETIME
DECLARE @data_M4 SMALLDATETIME
DECLARE @data_M3 SMALLDATETIME
DECLARE @data_M2 SMALLDATETIME
DECLARE @data_M1 SMALLDATETIME

-- DIA 1o DO MES CORRENTE
SET		@data_M1 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_M1=DATEADD(DD,-1,@data_M1)
-- CHECA SE EH DIA UTIL
	SET	@data_M1= CASE WHEN DATEPART(DW,@data_M1) = 1 THEN DATEADD(D,-2,@data_M1)	-- DOMINGO
				   	   WHEN DATEPART(DW,@data_M1) = 7 THEN DATEADD(D,-1,@data_M1)	-- SABADO
							ELSE @data_M1					 END

-- M2 ****************************************
-- DIA 1o DO MES CORRENTE
SET		@data_M2 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- CALCULO DE 2 MESES ANTERIORES
SET		@data_M2=DATEADD(MM,-2,@data_M2)
-- FIM DO MES ANTERIOR
SET		@data_M2=DATEADD(DD,-1,@data_M2)
-- CHECA SE EH DIA UTIL
	SET	@data_M2= CASE WHEN DATEPART(DW,@data_M2) = 1 THEN DATEADD(D,-2,@data_M2)	-- DOMINGO
				   	   WHEN DATEPART(DW,@data_M2) = 7 THEN DATEADD(D,-1,@data_M2)	-- SABADO
							ELSE @data_M2					 END


-- M3 ****************************************
-- DIA 1o DO MES CORRENTE
SET		@data_M3 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- CALCULO DE 2 MESES ANTERIORES
SET		@data_M3=DATEADD(MM,-3,@data_M3)
-- FIM DO MES ANTERIOR
SET		@data_M3=DATEADD(DD,-1,@data_M3)
-- CHECA SE EH DIA UTIL
	SET	@data_M3= CASE WHEN DATEPART(DW,@data_M3) = 1 THEN DATEADD(D,-2,@data_M3)	-- DOMINGO
				   	   WHEN DATEPART(DW,@data_M3) = 7 THEN DATEADD(D,-1,@data_M3)	-- SABADO
							ELSE @data_M3					 END


-- M4 ****************************************
-- DIA 1o DO MES CORRENTE
SET		@data_M4 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- CALCULO DE 4 MESES ANTERIORES
SET		@data_M4=DATEADD(MM,-4,@data_M4)
-- FIM DO MES ANTERIOR
SET		@data_M4=DATEADD(DD,-1,@data_M4)
-- CHECA SE EH DIA UTIL
	SET	@data_M4= CASE WHEN DATEPART(DW,@data_M4) = 1 THEN DATEADD(D,-2,@data_M4)	-- DOMINGO
				   	   WHEN DATEPART(DW,@data_M4) = 7 THEN DATEADD(D,-1,@data_M4)	-- SABADO
							ELSE @data_M4					 END

-- M5 ****************************************
-- DIA 1o DO MES CORRENTE
SET		@data_M5 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- CALCULO DE 4 MESES ANTERIORES
SET		@data_M5=DATEADD(MM,-5,@data_M5)
-- FIM DO MES ANTERIOR
SET		@data_M5=DATEADD(DD,-1,@data_M5)
-- CHECA SE EH DIA UTIL
	SET	@data_M5= CASE WHEN DATEPART(DW,@data_M5) = 1 THEN DATEADD(D,-2,@data_M5)	-- DOMINGO
				   	   WHEN DATEPART(DW,@data_M5) = 7 THEN DATEADD(D,-1,@data_M5)	-- SABADO
							ELSE @data_M5					 END


-- M6 ****************************************
-- DIA 1o DO MES CORRENTE
SET		@data_M6 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- CALCULO DE 4 MESES ANTERIORES
SET		@data_M6=DATEADD(MM,-6,@data_M6)
-- FIM DO MES ANTERIOR
SET		@data_M6=DATEADD(DD,-1,@data_M6)
-- CHECA SE EH DIA UTIL
	SET	@data_M6= CASE WHEN DATEPART(DW,@data_M6) = 1 THEN DATEADD(D,-2,@data_M6)	-- DOMINGO
				   	   WHEN DATEPART(DW,@data_M6) = 7 THEN DATEADD(D,-1,@data_M6)	-- SABADO
							ELSE @data_M6					 END


-- M7 ****************************************
-- DIA 1o DO MES CORRENTE
SET		@data_M7 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- CALCULO DE 4 MESES ANTERIORES
SET		@data_M7=DATEADD(MM,-7,@data_M7)
-- FIM DO MES ANTERIOR
SET		@data_M7=DATEADD(DD,-1,@data_M7)
-- CHECA SE EH DIA UTIL
	SET	@data_M7= CASE WHEN DATEPART(DW,@data_M7) = 1 THEN DATEADD(D,-2,@data_M7)	-- DOMINGO
				   	   WHEN DATEPART(DW,@data_M7) = 7 THEN DATEADD(D,-1,@data_M7)	-- SABADO
							ELSE @data_M7					 END


-- M8 ****************************************
-- DIA 1o DO MES CORRENTE
SET		@data_M8 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- CALCULO DE 4 MESES ANTERIORES
SET		@data_M8=DATEADD(MM,-8,@data_M8)
-- FIM DO MES ANTERIOR
SET		@data_M8=DATEADD(DD,-1,@data_M8)
-- CHECA SE EH DIA UTIL
	SET	@data_M8= CASE WHEN DATEPART(DW,@data_M8) = 1 THEN DATEADD(D,-2,@data_M8)	-- DOMINGO
				   	   WHEN DATEPART(DW,@data_M8) = 7 THEN DATEADD(D,-1,@data_M8)	-- SABADO
							ELSE @data_M8					 END

-- M9 ****************************************
-- DIA 1o DO MES CORRENTE
SET		@data_M9 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- CALCULO DE 4 MESES ANTERIORES
SET		@data_M9=DATEADD(MM,-9,@data_M9)
-- FIM DO MES ANTERIOR
SET		@data_M9=DATEADD(DD,-1,@data_M9)
-- CHECA SE EH DIA UTIL
	SET	@data_M9= CASE WHEN DATEPART(DW,@data_M9) = 1 THEN DATEADD(D,-2,@data_M9)	-- DOMINGO
				   	   WHEN DATEPART(DW,@data_M9) = 7 THEN DATEADD(D,-1,@data_M9)	-- SABADO
							ELSE @data_M9					 END


-- M10 ****************************************
-- DIA 1o DO MES CORRENTE
SET		@data_M10 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- CALCULO DE 10 MESES ANTERIORES
SET		@data_M10=DATEADD(MM,-10,@data_M10)
-- FIM DO MES ANTERIOR
SET		@data_M10=DATEADD(DD,-1,@data_M10)
-- CHECA SE EH DIA UTIL
	SET	@data_M10= CASE WHEN DATEPART(DW,@data_M10) = 1 THEN DATEADD(D,-2,@data_M10)	-- DOMINGO
				   	   WHEN DATEPART(DW,@data_M10) = 7 THEN DATEADD(D,-1,@data_M10)	-- SABADO
							ELSE @data_M10					 END

-- M11 ****************************************
-- DIA 1o DO MES CORRENTE
SET		@data_M11 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- CALCULO DE 4 MESES ANTERIORES
SET		@data_M11=DATEADD(MM,-11,@data_M11)
-- FIM DO MES ANTERIOR
SET		@data_M11=DATEADD(DD,-1,@data_M11)
-- CHECA SE EH DIA UTIL
	SET	@data_M11= CASE WHEN DATEPART(DW,@data_M11) = 1 THEN DATEADD(D,-2,@data_M11)	-- DOMINGO
				   	   WHEN DATEPART(DW,@data_M11) = 7 THEN DATEADD(D,-1,@data_M11)	-- SABADO
							ELSE @data_M11					 END


-- M12 ****************************************
-- DIA 1o DO MES CORRENTE
SET		@data_M12 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- CALCULO DE 12 MESES ANTERIORES
SET		@data_M12=DATEADD(MM,-12,@data_M12)
-- FIM DO MES ANTERIOR
SET		@data_M12=DATEADD(DD,-1,@data_M12)
-- CHECA SE EH DIA UTIL
	SET	@data_M12= CASE WHEN DATEPART(DW,@data_M12) = 1 THEN DATEADD(D,-2,@data_M12)	-- DOMINGO
				   	   WHEN DATEPART(DW,@data_M12) = 7 THEN DATEADD(D,-1,@data_M12)	-- SABADO
							ELSE @data_M12					 END

-- LIMPA A TABELA AUXILIAR
DELETE   from		VOPRPT


-- LINHA 1 ENTRADAS **************************************************************
INSERT  VopRPT
SELECT	@data_ref, 2,1,1,'ENTRADA',
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M12  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M11  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M10  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M9  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M8  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M7  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M6  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M5  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M4  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M3  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M2  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M1  and ordem_linha=2 -- ENTRADAS
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_REF  and ordem_linha=2 -- ENTRADAS
			),0.0),
0.0




-- LINHA 2 RECUPERACAO **************************************************************
INSERT  VopRPT
SELECT	@data_ref, 2,1,2,'RECUPERACAO',
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M12  and ordem_linha=3 -- RECUPERACAO
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M11  and ordem_linha=3 -- RECUPERACAO
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M10  and ordem_linha=3 -- RECUPERACAO
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M9  and ordem_linha=3 -- RECUPERACAO
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M8  and ordem_linha=3 -- RECUPERACAO
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M7  and ordem_linha=3 -- RECUPERACAO
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M6  and ordem_linha=3 -- RECUPERACAO
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M5  and ordem_linha=3 -- RECUPERACAO
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M4  and ordem_linha=3 -- RECUPERACAO
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M3  and ordem_linha=3 -- RECUPERACAO
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M2  and ordem_linha=3 -- RECUPERACAO
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M1  and ordem_linha=3 -- RECUPERACAO
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_REF  and ordem_linha=3 -- RECUPERACAO
			),0.0),
0.0

-- LINHA 3 ROLAGEM **************************************************************
INSERT  VopRPT
SELECT	@data_ref, 2,1,3,'ROLAGEM',
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M12  and ordem_linha=4 -- ROLAGEM
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M11  and ordem_linha=4 -- ROLAGEM
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M10  and ordem_linha=4 -- ROLAGEM
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M9  and ordem_linha=4 -- ROLAGEM
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M8  and ordem_linha=4 -- ROLAGEM
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M7  and ordem_linha=4 -- ROLAGEM
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M6  and ordem_linha=4 -- ROLAGEM
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M5  and ordem_linha=4 -- ROLAGEM
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M4  and ordem_linha=4 -- ROLAGEM
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M3  and ordem_linha=4 -- ROLAGEM
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M2  and ordem_linha=4 -- ROLAGEM
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_M1  and ordem_linha=4 -- ROLAGEM
			),0.0),
		ISNULL((SELECT b_saldo  from		RR_ROLLRATE_RPT (NOLOCK)
				where dt_fecha = @data_REF  and ordem_linha=4 -- ROLAGEM
			),0.0),
0.0


-- MOSTRAR OS DADOS NA TABELA E TELA
select 
				 VoDtRef	 [DT_FECHA]

               , VoSequencia [ORDEM_LINHA]

               , voDescr     [DESCRICAO]

               ,ROUND(vom12Ind/1000000.0, 1) [vom12Ind]

               ,ROUND(vom11Ind/1000000.0, 1) [vom11Ind]

               ,ROUND(vom10Ind/1000000.0, 1) [vom10Ind]

               ,ROUND(vom9Ind/1000000.0, 1) [vom9Ind]

               ,ROUND(vom8Ind/1000000.0, 1) [vom8Ind]

               ,ROUND(vom7Ind/1000000.0, 1) [vom7Ind]

               ,ROUND(vom6Ind/1000000.0, 1) [vom6Ind]

               ,ROUND(vom5Ind/1000000.0, 1) [vom5Ind]

               ,ROUND(vom4Ind/1000000.0, 1) [vom4Ind]

               ,ROUND(vom3Ind/1000000.0, 1) [vom3Ind]

               ,ROUND(vom2Ind/1000000.0, 1) [vom2Ind]

               ,ROUND(vom1Ind/1000000.0, 1) [vom1Ind]

               ,ROUND(vom0Ind/1000000.0, 1) [vom0Ind]

               ,0.0 [voTOTAL]

  from		VopRPT


/*
	WHERE	DT_FECHA IN ( @data_ref , @data_ANT)  -- 2 MESES ANTERIORES
		and	1=1+case	when @agente='0'  then 0   -- todos
					when  @agente<>'0' and agente   = @agente then 0
					else  1
					end
		and	1=1+case	when @cobradora='0' then 0       -- todos
						when  @cobradora<>'0' and  cobradora = @cobradora then 0
						else  1
						end
	order by DT_FECHA DESC, ORDEM_LINHA ASC
			
*/
END
GO

--grant execute [scr_RR_mensal] on usrSIv

-- SELECT * FROM RR_AUX_CONTRATO_2M

-- SELECT *   from		RR_ROLLRATE
-- SELECT *   from		RR_ROLLRATE_RPT
-- SELECT dt_fecha,b_saldo as '% recup'   from		RR_ROLLRATE_RPT where dt_fecha between '2013-05-30' and '20140530' and ordem_linha=6