
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios
Use SIG
go

-- exec [scr_graf_Rolag_Consolid] '20160630'
-- exec [scr_graf_Rolag_Consolid] '20150630'
-- exec [scr_graf_Rolag_Consolid] '20140630'

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_graf_Rolag_Consolid' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_graf_Rolag_Consolid]
GO


CREATE Procedure [dbo].[scr_graf_Rolag_Consolid] (@data_ref as datetime , @rpt as varchar(10)) AS
BEGIN


SET @RPT = RTRIM(@RPT)

-- 	mar/14			abr/14			mai/14		
-- Classe de Atraso	Qtde	Vlr Risco	t%	Qtde	Vlr Risco	t%	Qtde	Vlr Risco	t%
-- 2- 0 a 14	 10.000 	 87.000.000 	77,43	 10.000 	 87.000.000 	77,43	 10.000 	 87.000.000 	77,43
/*

ANO	JAN	FEV	MAR	ABR	MAI	JUN	JUL	AGO	SET	OUT	NOV	DEZ
2013	75,77	75,99	75,84	76,79	76,65	77,3	78,21	78,46	80,3	79,82	79,35	79,87
2014	79,6	79,45	77,43	77,04	76,86							

drop	table		PDD_consolidada
CREATE  TABLE		PDD_consolidada	 (
--		DT_PROD	smalldatetime,		RPT		int,
		DESCR	varchar(100),
		ORDEM	int ,
		M0		FLOAT,
		M1		FLOAT,
		M2		FLOAT,
		M3		FLOAT,
		M4		FLOAT,
		M5		FLOAT,
		M6		FLOAT,
		M7		FLOAT,
		M8		FLOAT,
		M9		FLOAT,
		M10		FLOAT,		
		M11		FLOAT,	
		M12		FLOAT,
		M13		FLOAT,
		M14		FLOAT,
		M15		FLOAT,
		M16		FLOAT,
		M17		FLOAT,
		M18		FLOAT,
		M19		FLOAT,
		M20		FLOAT,
		M21		FLOAT,
		M22		FLOAT,
		M23		FLOAT,
		M24		FLOAT	)

CREATE	INDEX PDD_consolidada_IDX1 ON	PDD_consolidada (ORDEM,DESCR)

drop TABLE AUX_GRAFICO_estoque

CREATE TABLE AUX_GRAFICO_estoque

(	DT_FECHA	DATETIME,
	ordem_linha int,
	ANO		VARCHAR(10),
	M1		FLOAT,
	M2		FLOAT,
	M3		FLOAT,
	M4		FLOAT,
	M5		FLOAT,
	M6		FLOAT,
	M7		FLOAT,
	M8		FLOAT,
	M9		FLOAT,
	M10		FLOAT,
	M11		FLOAT,
	M12		FLOAT,
	M13		FLOAT,
 )


*/


-- CALCULAR 24 M ANTERIORES
-- declare @data_ref as datetime	set	@data_ref ='20140630'
DECLARE @DTM0 DATETIME
DECLARE @DTM1 DATETIME
DECLARE @DTM2 DATETIME
DECLARE @DTM3 DATETIME
DECLARE @DTM4 DATETIME
DECLARE @DTM5 DATETIME
DECLARE @DTM6 DATETIME
DECLARE @DTM7 DATETIME
DECLARE @DTM8 DATETIME
DECLARE @DTM9 DATETIME
DECLARE @DTM10 DATETIME

DECLARE @DTM11 DATETIME
DECLARE @DTM12 DATETIME
DECLARE @DTM13 DATETIME
DECLARE @DTM14 DATETIME
DECLARE @DTM15 DATETIME
DECLARE @DTM16 DATETIME
DECLARE @DTM17 DATETIME
DECLARE @DTM18 DATETIME
DECLARE @DTM19 DATETIME
DECLARE @DTM20 DATETIME

DECLARE @DTM21 DATETIME
DECLARE @DTM22 DATETIME
DECLARE @DTM23 DATETIME
DECLARE @DTM24 DATETIME

-- FECHAMENTO M1 = 24 meses anteriores
SET @DTM24 =  @data_ref  -- mes atual

	-- inicio mes REF  ********************
	SET @DTM23 =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
	SET	@DTM23 =  DATEADD(DD,-1,@DTM23) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF  @DTM23 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM23= CASE WHEN DATEPART(DW,@DTM23) = 1 THEN DATEADD(D,-2,@DTM23)	-- DOMINGO
						 WHEN DATEPART(DW,@DTM23) = 7 THEN DATEADD(D,-1,@DTM23)	-- SABADO
						 ELSE @DTM23					 END
	END

	-- 2o mes anterior  ********************
	SET @DTM22 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM23))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM23))),2)+'01'
	SET	@DTM22 =  DATEADD(DD,-1,@DTM22) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM22 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM22= CASE WHEN DATEPART(DW,@DTM22) = 1 THEN DATEADD(D,-2,@DTM22)	-- DOMINGO
						WHEN DATEPART(DW,@DTM22) = 7 THEN DATEADD(D,-1,@DTM22)	-- SABADO
						ELSE @DTM22					 END
	END

	-- 21
	SET @DTM21 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM22))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM22))),2)+'01'
	SET	@DTM21 =  DATEADD(DD,-1,@DTM21) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM21 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM21 = CASE	WHEN DATEPART(DW,@DTM21) = 1 THEN DATEADD(D,-2,@DTM21)	-- DOMINGO
							WHEN DATEPART(DW,@DTM21) = 7 THEN DATEADD(D,-1,@DTM21)	-- SABADO
							ELSE @DTM21					 END
	END

	-- m20  ********************
	SET @DTM20 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM21))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM21))),2)+'01'
	SET	@DTM20 =  DATEADD(DD,-1,@DTM20) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM20 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM20 = CASE	WHEN DATEPART(DW,@DTM20) = 1 THEN DATEADD(D,-2,@DTM20)	-- DOMINGO
							WHEN DATEPART(DW,@DTM20) = 7 THEN DATEADD(D,-1,@DTM20)	-- SABADO
							ELSE @DTM20					 END
	END

	-- m19  ********************
	SET @DTM19  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM20))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM20))),2)+'01'
	SET	@DTM19 =  DATEADD(DD,-1,@DTM19) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM19 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM19 = CASE	WHEN DATEPART(DW,@DTM19) = 1 THEN DATEADD(D,-2,@DTM19)	-- DOMINGO
							WHEN DATEPART(DW,@DTM19) = 7 THEN DATEADD(D,-1,@DTM19)	-- SABADO
							ELSE @DTM19					END
	END

	-- m18  ********************
	SET @DTM18  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM19))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM19))),2)+'01'
	SET	@DTM18 =  DATEADD(DD,-1,@DTM18) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM18 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM18 = CASE	WHEN DATEPART(DW,@DTM18) = 1 THEN DATEADD(D,-2,@DTM18)	-- DOMINGO
							WHEN DATEPART(DW,@DTM18) = 7 THEN DATEADD(D,-1,@DTM18)	-- SABADO
							ELSE @DTM18					END
	END

	-- 6o mes anterior  ********************
	SET @DTM17  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM18))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM18))),2)+'01'
	SET	@DTM17 =  DATEADD(DD,-1,@DTM17) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM17 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM17 = CASE	WHEN DATEPART(DW,@DTM17) = 1 THEN DATEADD(D,-2,@DTM17)	-- DOMINGO
							WHEN DATEPART(DW,@DTM17) = 7 THEN DATEADD(D,-1,@DTM17)	-- SABADO
							ELSE @DTM17					END
	END

	-- m16  ********************
	SET @DTM16  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM17))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM17))),2)+'01'
	SET	@DTM16 =  DATEADD(DD,-1,@DTM16) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM16 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM16 = CASE	WHEN DATEPART(DW,@DTM16) = 1 THEN DATEADD(D,-2,@DTM16)	-- DOMINGO
							WHEN DATEPART(DW,@DTM16) = 7 THEN DATEADD(D,-1,@DTM16)	-- SABADO
							ELSE @DTM16					END
	END

	-- m15  ********************
	SET @DTM15  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM16))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM16))),2)+'01'
	SET	@DTM15 =  DATEADD(DD,-1,@DTM15) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM15 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM15 = CASE	WHEN DATEPART(DW,@DTM15) = 1 THEN DATEADD(D,-2,@DTM15)	-- DOMINGO
							WHEN DATEPART(DW,@DTM15) = 7 THEN DATEADD(D,-1,@DTM15)	-- SABADO
							ELSE @DTM15					END
	END

	-- m14  ********************
	SET @DTM14  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM15))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM15))),2)+'01'
	SET	@DTM14 =  DATEADD(DD,-1,@DTM14) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM14 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM14 = CASE	WHEN DATEPART(DW,@DTM14) = 1 THEN DATEADD(D,-2,@DTM14)	-- DOMINGO
							WHEN DATEPART(DW,@DTM14) = 7 THEN DATEADD(D,-1,@DTM14)	-- SABADO
							ELSE @DTM14					END
	END

	-- m13  ********************
	SET @DTM13  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM14))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM14))),2)+'01'
	SET	@DTM13 =  DATEADD(DD,-1,@DTM13) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM13 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM13 = CASE	WHEN DATEPART(DW,@DTM13) = 1 THEN DATEADD(D,-2,@DTM13)	-- DOMINGO
							WHEN DATEPART(DW,@DTM13) = 7 THEN DATEADD(D,-1,@DTM13)	-- SABADO
							ELSE @DTM13					END
	END

	-- m12  ********************
	SET @DTM12  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM13))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM13))),2)+'01'
	SET	@DTM12 =  DATEADD(DD,-1,@DTM12) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM12 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM12 = CASE	WHEN DATEPART(DW,@DTM12) = 1 THEN DATEADD(D,-2,@DTM12)	-- DOMINGO
							WHEN DATEPART(DW,@DTM12) = 7 THEN DATEADD(D,-1,@DTM12)	-- SABADO
							ELSE @DTM12					END
	END

	-- 11o mes anterior  ********************
	SET @DTM11  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM12))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM12))),2)+'01'
	SET	@DTM11 =  DATEADD(DD,-1,@DTM11) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM11 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM11 = CASE	WHEN DATEPART(DW,@DTM11) = 1 THEN DATEADD(D,-2,@DTM11)	-- DOMINGO
							WHEN DATEPART(DW,@DTM11) = 7 THEN DATEADD(D,-1,@DTM11)	-- SABADO
							ELSE @DTM11					END
	END

	-- m10
	SET @DTM10 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM11))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM11))),2)+'01'
	SET	@DTM10 =  DATEADD(DD,-1,@DTM10) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM10 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM10 = CASE	WHEN DATEPART(DW,@DTM10) = 1 THEN DATEADD(D,-2,@DTM10)	-- DOMINGO
							WHEN DATEPART(DW,@DTM10) = 7 THEN DATEADD(D,-1,@DTM10)	-- SABADO
							ELSE @DTM10					 END
	END

	-- m9  ********************
	SET @DTM9  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM10))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM10))),2)+'01'
	SET	@DTM9 =  DATEADD(DD,-1,@DTM9) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM9 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM9 = CASE	WHEN DATEPART(DW,@DTM9) = 1 THEN DATEADD(D,-2,@DTM9)	-- DOMINGO
							WHEN DATEPART(DW,@DTM9) = 7 THEN DATEADD(D,-1,@DTM9)	-- SABADO
							ELSE @DTM9					END
	END

	-- m8  ********************
	SET @DTM8  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM9))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM9))),2)+'01'
	SET	@DTM8 =  DATEADD(DD,-1,@DTM8) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM8 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM8 = CASE	WHEN DATEPART(DW,@DTM8) = 1 THEN DATEADD(D,-2,@DTM8)	-- DOMINGO
							WHEN DATEPART(DW,@DTM8) = 7 THEN DATEADD(D,-1,@DTM8)	-- SABADO
							ELSE @DTM8					END
	END

	-- m7  ********************
	SET @DTM7  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM8))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM8))),2)+'01'
	SET	@DTM7 =  DATEADD(DD,-1,@DTM7) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM7 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM7 = CASE	WHEN DATEPART(DW,@DTM7) = 1 THEN DATEADD(D,-2,@DTM7)	-- DOMINGO
							WHEN DATEPART(DW,@DTM7) = 7 THEN DATEADD(D,-1,@DTM7)	-- SABADO
							ELSE @DTM7					END
	END

	-- m6  ********************
	SET @DTM6  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM7))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM7))),2)+'01'
	SET	@DTM6 =  DATEADD(DD,-1,@DTM6) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM6 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM6 = CASE	WHEN DATEPART(DW,@DTM6) = 1 THEN DATEADD(D,-2,@DTM6)	-- DOMINGO
							WHEN DATEPART(DW,@DTM6) = 7 THEN DATEADD(D,-1,@DTM6)	-- SABADO
							ELSE @DTM6					END
	END

	-- m5  ********************
	SET @DTM5  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM6))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM6))),2)+'01'
	SET	@DTM5 =  DATEADD(DD,-1,@DTM5) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM5 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM5 = CASE	WHEN DATEPART(DW,@DTM5) = 1 THEN DATEADD(D,-2,@DTM5)	-- DOMINGO
							WHEN DATEPART(DW,@DTM5) = 7 THEN DATEADD(D,-1,@DTM5)	-- SABADO
							ELSE @DTM5					END
	END

	-- m4  ********************
	SET @DTM4  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM5))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM5))),2)+'01'
	SET	@DTM4 =  DATEADD(DD,-1,@DTM4) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM4 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM4 = CASE	WHEN DATEPART(DW,@DTM4) = 1 THEN DATEADD(D,-2,@DTM4)	-- DOMINGO
							WHEN DATEPART(DW,@DTM4) = 7 THEN DATEADD(D,-1,@DTM4)	-- SABADO
							ELSE @DTM4					END
	END

	-- m3  ********************
	SET @DTM3  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM4))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM4))),2)+'01'
	SET	@DTM3 =  DATEADD(DD,-1,@DTM3) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM3 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM3 = CASE	WHEN DATEPART(DW,@DTM3) = 1 THEN DATEADD(D,-2,@DTM3)	-- DOMINGO
							WHEN DATEPART(DW,@DTM3) = 7 THEN DATEADD(D,-1,@DTM3)	-- SABADO
							ELSE @DTM3					END
	END

	-- m2  ********************
	SET @DTM2  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM3))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM3))),2)+'01'
	SET	@DTM2 =  DATEADD(DD,-1,@DTM2) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM2 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM2 = CASE	WHEN DATEPART(DW,@DTM2) = 1 THEN DATEADD(D,-2,@DTM2)	-- DOMINGO
							WHEN DATEPART(DW,@DTM2) = 7 THEN DATEADD(D,-1,@DTM2)	-- SABADO
							ELSE @DTM2					END
	END

	-- m1 ********************
	SET @DTM1  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM2))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM2))),2)+'01'
	SET	@DTM1 =  DATEADD(DD,-1,@DTM1) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM1 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM1 = CASE	WHEN DATEPART(DW,@DTM1) = 1 THEN DATEADD(D,-2,@DTM1)	-- DOMINGO
							WHEN DATEPART(DW,@DTM1) = 7 THEN DATEADD(D,-1,@DTM1)	-- SABADO
							ELSE @DTM1					END
	END

	-- m0 ********************
	SET @DTM0  =  CONVERT(CHAR(4),DATEPART(YEAR,@DTM1))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTM1))),2)+'01'
	SET	@DTM0 =  DATEADD(DD,-1,@DTM0) -- FIM mes anterior
	-- ATE JULHO/14 OK, ANTES DIA UTIL, DEPOIS FIM DO MES
	IF @DTM0 <='20140731'
	BEGIN
		-- CHECA SE EH DIA UTIL
		SET	@DTM0 = CASE	WHEN DATEPART(DW,@DTM0) = 1 THEN DATEADD(D,-2,@DTM0)	-- DOMINGO
							WHEN DATEPART(DW,@DTM0) = 7 THEN DATEADD(D,-1,@DTM0)	-- SABADO
							ELSE @DTM0					END
	END


		--		VARIAVEIS PARA COMPOR OS PRAZOS
		DECLARE @columns VARCHAR(2000)
		SET		@columns = '['+CONVERT(VARCHAR(8),@DTM0,112)+']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM1,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM2,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM3,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM4,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM5,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM6,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM7,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM8,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM9,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM10,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM11,112) + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM12,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM13,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM14,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM15,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM16,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM17,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM18,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM19,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM20,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM21,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM22,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM23,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@DTM24,112)  + ']'

-- select @columns

-- APAGA ANTERIOR
truncate table PDD_consolidada 

-- ***************
-- B - 15 a 30 d, C - 31 a 60 d , D - 61 a 90 d , E - 91 a 120 d , F - 121 a 150 d , G - 151 a 180 d , H - 181 a 359 d , HH - acima 360 d


-- ANO CORRENTE  -- ********************************** LINHA 1
-- WHEN @FAIXA =  15 THEN round([B_SALDO] / 1000000.0,2) ************************
-- ******************************************************************** VALOR LIBERADO COM QUEBRA
DECLARE @query VARCHAR(max)
--	DESCR 1 E 2
--	cart, ordem, prod, 

-- 1
-- LIMPA ANTERIOR
TRUNCATE TABLE     PDD_consolidada

-- ************************************************** ENTRADAS			*************************************
-- ************************************************** CARREGA AUXILIAR  B - 15 a 30 d
--  SELECT *	FROM RR_ROLLRATE_RPT (NOLOCK)
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,B_SALDO,''ENTRADAS 15 a 30 d'' AS DESCR,''1'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''ENTRADAS'' ) P '+
					 ' PIVOT( SUM ([B_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)


-- ************************************************** CARREGA AUXILIAR  C - 31 a 60 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,C_SALDO,''ENTRADAS 31 a 60 d'' AS DESCR,''2'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''ENTRADAS'' ) P '+
					 ' PIVOT( SUM ([C_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  D - 61 a 90 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,D_SALDO,''ENTRADAS 61 a 90 d'' AS DESCR,''3'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''ENTRADAS'' ) P '+
					 ' PIVOT( SUM ([D_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  E - 91 a 120 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,E_SALDO,''ENTRADAS 91 a 120 d'' AS DESCR,''4'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''ENTRADAS'' ) P '+
					 ' PIVOT( SUM ([E_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  F - 121 a 150 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,F_SALDO,''ENTRADAS 121 a 150 d'' AS DESCR,''5'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''ENTRADAS'' ) P '+
					 ' PIVOT( SUM ([F_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  G - 151 a 180 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,G_SALDO,''ENTRADAS 151 a 180 d'' AS DESCR,''6'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''ENTRADAS'' ) P '+
					 ' PIVOT( SUM ([G_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)


-- ************************************************** ESTOQUE			*************************************
-- ************************************************** CARREGA AUXILIAR  B - 15 a 30 d
--  SELECT *	FROM RR_ROLLRATE_RPT (NOLOCK)
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,B_SALDO,''ESTOQUE 15 a 30 d'' AS DESCR,''11'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''SALDO INICIAL'' ) P '+
					 ' PIVOT( SUM ([B_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)


-- ************************************************** CARREGA AUXILIAR  C - 31 a 60 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,C_SALDO,''ESTOQUE 31 a 60 d'' AS DESCR,''12'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''SALDO INICIAL'' ) P '+
					 ' PIVOT( SUM ([C_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  D - 61 a 90 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,D_SALDO,''ESTOQUE 61 a 90 d'' AS DESCR,''13'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''SALDO INICIAL'' ) P '+
					 ' PIVOT( SUM ([D_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  E - 91 a 120 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,E_SALDO,''ESTOQUE 91 a 120 d'' AS DESCR,''14'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''SALDO INICIAL'' ) P '+
					 ' PIVOT( SUM ([E_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  F - 121 a 150 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,F_SALDO,''ESTOQUE 121 a 150 d'' AS DESCR,''15'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''SALDO INICIAL'' ) P '+
					 ' PIVOT( SUM ([F_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  G - 151 a 180 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,G_SALDO,''ESTOQUE 151 a 180 d'' AS DESCR,''16'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''SALDO INICIAL'' ) P '+
					 ' PIVOT( SUM ([G_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

/*
-- ************************************************** CARREGA AUXILIAR  H - 181 a 359 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,H_SALDO,''ENTRADAS 181 a 359 d'' AS DESCR,''7'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''ENTRADAS'' ) P '+
					 ' PIVOT( SUM ([H_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)
*/

--	ENTRADAS  15 a 30 d,	ENTRADAS  31 a 60 d,	ENTRADAS  61 a 90 d,	ENTRADAS  91 a 120 d,	ENTRADAS 121 a 150 d,ENTRADAS 151 a 180 d


-- ************************************************** RECUPERACAO			*************************************
-- ************************************************** CARREGA AUXILIAR  B - 15 a 30 d
--  SELECT *	FROM RR_ROLLRATE_RPT (NOLOCK)
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,B_SALDO,''REGULARIZAÇÕES 15 a 30 d'' AS DESCR,''21'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''RECUPERACAO'' ) P '+
					 ' PIVOT( SUM ([B_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)


-- ************************************************** CARREGA AUXILIAR  C - 31 a 60 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,C_SALDO,''REGULARIZAÇÕES 31 a 60 d'' AS DESCR,''22'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''RECUPERACAO'' ) P '+
					 ' PIVOT( SUM ([C_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  D - 61 a 90 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,D_SALDO,''REGULARIZAÇÕES 61 a 90 d'' AS DESCR,''23'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''RECUPERACAO'' ) P '+
					 ' PIVOT( SUM ([D_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  E - 91 a 120 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,E_SALDO,''REGULARIZAÇÕES 91 a 120 d'' AS DESCR,''24'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''RECUPERACAO'' ) P '+
					 ' PIVOT( SUM ([E_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  F - 121 a 150 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,F_SALDO,''REGULARIZAÇÕES 121 a 150 d'' AS DESCR,''25'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''RECUPERACAO'' ) P '+
					 ' PIVOT( SUM ([F_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  G - 151 a 180 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,G_SALDO,''REGULARIZAÇÕES 151 a 180 d'' AS DESCR,''26'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''RECUPERACAO'' ) P '+
					 ' PIVOT( SUM ([G_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** ROLAGEM			*************************************
-- ************************************************** CARREGA AUXILIAR  B - 15 a 30 d
--  SELECT *	FROM RR_ROLLRATE_RPT (NOLOCK)
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,B_SALDO,''ROLAGEM 15 a 30 d'' AS DESCR,''21'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''ROLAGEM'' ) P '+
					 ' PIVOT( SUM ([B_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)


-- ************************************************** CARREGA AUXILIAR  C - 31 a 60 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,C_SALDO,''ROLAGEM 31 a 60 d'' AS DESCR,''22'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''ROLAGEM'' ) P '+
					 ' PIVOT( SUM ([C_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  D - 61 a 90 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,D_SALDO,''ROLAGEM 61 a 90 d'' AS DESCR,''23'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''ROLAGEM'' ) P '+
					 ' PIVOT( SUM ([D_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  E - 91 a 120 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,E_SALDO,''ROLAGEM 91 a 120 d'' AS DESCR,''24'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''ROLAGEM'' ) P '+
					 ' PIVOT( SUM ([E_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  F - 121 a 150 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,F_SALDO,''ROLAGEM 121 a 150 d'' AS DESCR,''25'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''ROLAGEM'' ) P '+
					 ' PIVOT( SUM ([F_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)

-- ************************************************** CARREGA AUXILIAR  G - 151 a 180 d
	SET		@query = ' INSERT	PDD_consolidada  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,G_SALDO,''ROLAGEM 151 a 180 d'' AS DESCR,''26'' AS ORDEM	FROM RR_ROLLRATE_RPT (NOLOCK) WHERE DESCRICAO = ''ROLAGEM'' ) P '+
					 ' PIVOT( SUM ([G_SALDO]) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	select  @query
	EXEC (@query)


UPDATE		PDD_consolidada
	SET		M0 = ROUND(M0/1000000.0,2),
			M1 = ROUND(M1/1000000.0,2),
			M2 = ROUND(M2/1000000.0,2),
			M3 = ROUND(M3/1000000.0,2),
			M4 = ROUND(M4/1000000.0,2),
			M5 = ROUND(M5/1000000.0,2),
			M6 = ROUND(M6/1000000.0,2),
			M7 = ROUND(M7/1000000.0,2),
			M8 = ROUND(M8/1000000.0,2),
			M9 = ROUND(M9/1000000.0,2),
			M10= ROUND(M10/1000000.0,2),
			M11= ROUND(M11/1000000.0,2),
			M12= ROUND(M12/1000000.0,2),
			M13= ROUND(M13/1000000.0,2),
			M14= ROUND(M14/1000000.0,2),
			M15= ROUND(M15/1000000.0,2),
			M16 = ROUND(M16/1000000.0,2),
			M17 = ROUND(M17/1000000.0,2),
			M18 = ROUND(M18/1000000.0,2),
			M19 = ROUND(M19/1000000.0,2),
			M20 = ROUND(M20/1000000.0,2),
			M21 = ROUND(M21/1000000.0,2),
			M22 = ROUND(M22/1000000.0,2),
			M23 = ROUND(M23/1000000.0,2),
			M24 = ROUND(M24/1000000.0,2)
			


SELECT	DESCR,M0,M1,M2,M3,M4,M5,M6,M7,M8,M9,M10,
		M11,M12,M13,M14,M15,M16,M17,M18,M19,M20,
		M21,M22,M23,M24	, ORDEM					
	 FROM PDD_consolidada (NOLOCK)
	WHERE	1=0 + CASE 
						WHEN @RPT = 1 AND 	LEFT(DESCR,8) ='ENTRADAS'	THEN 1
						WHEN @RPT = 2 AND 	LEFT(DESCR,7) ='ESTOQUE'	THEN 1
						WHEN @RPT = 3 AND 	LEFT(DESCR,7) ='REGULAR'	THEN 1
						WHEN @RPT = 4 AND 	LEFT(DESCR,7) ='ROLAGEM'	THEN 1
						ELSE 0
				  END	

END
GO

-- SELECT * from		AUX_GRAFICO_CART 
-- SELECT * from  AUX_GRAFICO_estoque
-- SELECT ROUND([A_SALDO]/(TTL_SALDO - HH_SALDO)*100.0,2) from  RR_ROLLRATE_RPT WHERE DT_FECHA='20140131' AND ORDEM_LINHA=5
--ORDER BY cobradora, rating
--  from		SIG_IP_VLR_VIEW p (NOLOCK)
--	WHERE	DaTa_ref = ( @data_ref )
--	order by ORDEM ASC , ORDEM_LINHA ASC
--  select * from PERFORMANCE_CALC			
--  select * 		from   RR_ROLLRATE_RPT  R (NOLOCK) 		where  @data_ref = AUX_GRAFICO_estoque.DT_FECHA
