
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios
use SIG
go

/*
-- teste
 EXEC [dbo].[scr_RR_mensal_DETALHE]  '20140430', 'TODOS','TODOS',1,'E' -- inicial 382
 EXEC [dbo].[scr_RR_mensal_DETALHE]  '20140430', 'TODOS','TODOS',2,'E' -- ENTRADA 309
 EXEC [dbo].[scr_RR_mensal_DETALHE]  '20140430', 'TODOS','TODOS',3,'E' -- recup 40 >
EXEC [dbo].[scr_RR_mensal_DETALHE]  '20140430', 'TODOS','TODOS',4,'E' -- rola 234
EXEC [dbo].[scr_RR_mensal_DETALHE]  '20140430', 'TODOS','TODOS',5,'E' -- final 417

 EXEC [dbo].[scr_RR_mensal_DETALHE]  '2014-01-31', '','',2,'B'
 EXEC [dbo].[scr_RR_mensal_DETALHE]  '2014-01-31', '','',1,'B'
 EXEC [dbo].[scr_RR_mensal_DETALHE]  '2014-03-20', 'TODOS','TODOS',2,'B'

 EXEC [dbo].[scr_RR_mensal_DETALHE]  '20140331', 'TODOS','TODOS',1,'E' -- ENTRADA

 EXEC [dbo].[scr_RR_mensal_DETALHE]  '20140331', 'TODOS','TODOS',3,'E' -- RECUP
SELECT *	 from RR_AUX_CONTRATO_2M   R	(NOLOCK)  WHERE DT_FECHA='20140331' AND NVL_RISCO_ANT='E' AND RECUPERA=1

-- FINAL OK
SELECT *	 from RATING_HISTORICO   R	(NOLOCK)  WHERE DT_FECHA='20140331' AND NVL_RISCO='E' -- FINAL 382
SELECT *	 from RR_AUX_CONTRATO_2M   R	(NOLOCK)  WHERE DT_FECHA='20140331' AND NVL_RISCO='E' -- FINAL 382
-- INICIAL DIFERENTE DO HISTORICO OK!!
SELECT COUNT(*)	 from RATING_HISTORICO   R	(NOLOCK)  WHERE DT_FECHA='20140228' AND NVL_RISCO='E' -- INICIAL 323, 323
SELECT COUNT(*)	 from RR_AUX_CONTRATO_2M   R	(NOLOCK)  WHERE DT_FECHA='20140331' AND NVL_RISCO_ANT='E' 
AND ENTRA+RECUPERA<>1
-- AND RECUPERA+ENTRA+ROLA=0		-- INICIAL 312, 328
SELECT *	 from RATING_HISTORICO   R	(NOLOCK)  WHERE DT_FECHA='20140228' AND NVL_RISCO='E' -- INICIAL 323
SELECT *	 from RR_AUX_CONTRATO_2M   R	(NOLOCK)  WHERE DT_FECHA='20140331' AND NVL_RISCO_ANT='E' -- INICIAL 312, 328 COM RENEG
--DIFERENCA
SELECT * FROM	CDCSANTANAMicroCredito..COPER V1 (NOLOCK) WHERE OPNROPER='55001562'
SELECT * FROM	CDCSANTANAMicroCredito..CPARC V1 (NOLOCK) WHERE PANROPER='55001562' -- PAGOU EM 3-14 LIQUID

-- RENEGOCIADOS NO MES
SELECT * FROM	CDCSANTANAMicroCredito..COPER V1 (NOLOCK) WHERE OPNROPER='612064319A' -- RENEGOCIOU EM 3-14
SELECT * FROM	CDCSANTANAMicroCredito..CPARC V1 (NOLOCK) WHERE PANROPER='612064319A' -- NAO VENCEU
SELECT *	 from RATING_HISTORICO   R	(NOLOCK)  WHERE DT_FECHA='20140331' AND NUM_OPE='612064319A'
SELECT *	 from RATING_HISTORICO   R	(NOLOCK)  WHERE NUM_OPE='612064319A'
SELECT *	 from RATING_HISTORICO   R	(NOLOCK)  WHERE NUM_OPE='612064319'  -- PARC 2013-11-12 VENCIDA NPG
SELECT *	 from RR_AUX_CONTRATO_2M   R	(NOLOCK)  WHERE DT_FECHA='20140331' AND NUM_OPE='612064319A'

-- INSERIR OS LIQUIDADOS, RECUPERA =1 E RATING IGUAL ***************
-- CARGA E CALCULO

-- ENTRADAS
SELECT *	 from RR_AUX_CONTRATO_2M   R	(NOLOCK)  WHERE DT_FECHA='20140331' AND NVL_RISCO='E' AND ENTRA=1
 -- ENTROU 280 OK

-- RECUPERA
SELECT *	 from RR_AUX_CONTRATO_2M   R	(NOLOCK)  WHERE DT_FECHA='20140331' AND NVL_RISCO_ANT='E' AND RECUPERA=1

SELECT *	 from RR_AUX_CONTRATO_2M   R	(NOLOCK)  WHERE DT_FECHA='20140331' AND NVL_RISCO_ANT='E' AND ROLA>=1
 -- RECUPEROU 44 SIG, 49

SELECT *	 from RR_AUX_CONTRATO_2M   R	(NOLOCK)  WHERE NUM_OPE='61622602'
SELECT *	 from RR_AUX_CONTRATO_2M   R	(NOLOCK)  WHERE NUM_OPE='61622602A'
SELECT *	 from RATING_HISTORICO   R	(NOLOCK)  WHERE  NUM_OPE='61622602' -- LIQUIDOU EM 3-14
SELECT * FROM	CDCSANTANAMicroCredito..CPARC V1 (NOLOCK) WHERE PANROPER='61622602' -- PAGOU EM 3-14 LIQUID


-- ROLA
SELECT *	 from RR_AUX_CONTRATO_2M   R	(NOLOCK)  WHERE DT_FECHA='20140331' AND NVL_RISCO_ANT='E' AND ROLA=1
 -- ROLOU 177 OK


SP_HELP TAUX_CONTRATO
SELECT * from	RR_AUX_CONTRATO_2m
EXEC [dbo].[scr_RR_mensal_DETALHE]  '2014-03-31', 'TODOS','TODOS',3,'G'
EXEC [dbo].[scr_RR_mensal_DETALHE]  '2014-03-31', '0','0',3,'G'
  
EXEC [dbo].[scr_RR_mensal]  '2014-01-31', '',''

exec scr_RR_mensal_DETALHE '20140331','0','0',3,'g'

exec scr_RR_mensal_DETALHE '03/31/2014','TODOS','TODOS',3,'g'
SELECT *	 from	RR_PRJ_CONTRATO_2M 
*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_RR_mensal_DETALHE' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_RR_mensal_DETALHE]
GO


CREATE Procedure [dbo].[scr_RR_mensal_DETALHE]
		(@data_ref as datetime, @agente varchar(6), @cobradora varchar(6),	 
		 @linha INT, @coluna_classe VARCHAR(3)
			) AS
BEGIN

-- LIMPA TABELA AUXILIAR
DELETE FROM TAUX_CONTRATO

DECLARE @data_ANT SMALLDATETIME		--mes ANTERIOR
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END


/*
if @linha = 1
begin
		-- saldo inicial

end
*/

if @linha = 1		-- SALDO INICIAL
begin
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			DtVENCparc,
			ATRASO,
			SLD_INSCRITO
-- SELECT  TOP 10 *
	 from	RATING_HISTORICO  R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ANT		--mes ANTERIOR da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			AND NVL_RISCO = @coluna_classe
END

if @linha = 2		-- ENTRADAS
begin
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from	RR_AUX_CONTRATO_2M  R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end

			and ENTRA = 1
			AND NVL_RISCO = @coluna_classe
END

if @linha = 3		-- RECUPERA
begin
-- SELECT * FROM TAUX_CONTRATO
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from RR_AUX_CONTRATO_2M   R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			and RECUPERA  = 1
			AND NVL_RISCO_ANT = @coluna_classe

/*
-- insere os liquidados q estavam na faixa no mes anterior
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from RATING_HISTORICO   R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			and RECUPERA  = 1
			AND NVL_RISCO = @coluna_classe
*/
END

if @linha = 4		-- ROLA
begin
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from RR_AUX_CONTRATO_2M   R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			and ROLA	  = 1
			AND NVL_RISCO_ANT = @coluna_classe
END
			
if @linha = 5
begin
		-- saldo FINAL
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			DtVENCparc,
			ATRASO,
			SLD_INSCRITO
-- SELECT  TOP 10 *
	 from	RATING_HISTORICO  R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_REF		--mes  da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			AND NVL_RISCO = @coluna_classe

/*
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from RR_AUX_CONTRATO_2M   R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			AND NVL_RISCO = @coluna_classe
*/
end


UPDATE TAUX_CONTRATO
SET
			CPF_CNPJ		= OPCODCLI,
			DATA_CONTRATO	= OPDTBASE,
			PLANO			= OPQTDDPARC,
			COD_CLI			= OPCODCLI,
		 	VLR_FINANCIADO	= OPVLRFIN,
			PARC_PAGAS		= OPPARCLIQ,
			COD_OPERADOR    = OPCODORG3,  -- OPERADOR
			VLR_PARCELA		= OPVLRPARC
-- SELECT TOP 10 *			
FROM		CDCSANTANAMicroCredito..COPER O (NOLOCK) 
	WHERE	OPNROPER=CONTRATO


UPDATE TAUX_CONTRATO
SET
			NOME_CLIENTE= CLNOMECLI,
			CPF_CNPJ	= CLCGC,
			PROFISSAO	= CLPROFI,
			CARGO		= CLCARGO
-- SELECT TOP 10 *			
FROM		CDCSANTANAMicroCredito..CCLIE O (NOLOCK) 
	WHERE
			COD_CLI	= CLCODCLI


-- ***************************** COBRADORA
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
UPDATE	TAUX_CONTRATO
SET		COD_COB		= COBR.LCCODACOB
FROM	(
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
		SELECT LCNROPER,LCCODACOB FROM GESTORCOB..ELCCB E (NOLOCK)
			WHERE   LCNROPER IN (SELECT CONTRATO FROM TAUX_CONTRATO)
				AND LCNRPARC = (SELECT MAX(LCNRPARC) 
								FROM GESTORCOB..ELCCB AUX (NOLOCK)
								WHERE AUX.LCNROPER= E.LCNROPER
								AND LCDTVCTO <= @DATA_REF)   ) AS COBR
WHERE	TAUX_CONTRATO.CONTRATO = COBR.LCNROPER

/*  INNER JOIN GESTORCOB..AOPER A 
		ON	 AONROPER = LCNROPER 
		AND	 AOCODPRD = LCCODPRD --AND AOCODBACK = '01'
SELECT * FROM TAUX_CONTRATO
SELECT * FROM	GESTORCOB..ELCCB E WHERE LCNROPER = '612132422'
  INNER JOIN GESTORCOB..TACOB C ON C.ACCODACOB = E.LCCODACOB  
  INNER JOIN CDCSANTANAMicroCredito..COPER O ON O.OPNROPER=E.LCNROPER 
  INNER JOIN CDCSANTANAMicroCredito..CPARC P ON P.PANROPER = E.LCNROPER AND P.PANRPARC = E.LCNRPARC  
SELECT * FROM	TCOBRADORA
SELECT * FROM	Torg3_agente
*/

-- NOME DA COBRADORA ********************	
UPDATE	TAUX_CONTRATO
SET		COBRADORA		= ISNULL(CODESCR,'')
FROM	TCOBRADORA
WHERE	COD_COB = COCOD

UPDATE	TAUX_CONTRATO
SET		COBRADORA		= ''
WHERE	COBRADORA IS NULL


-- COD DO AGENTE ********************	
UPDATE	TAUX_CONTRATO
SET		TAUX_CONTRATO.COD_AGENTE		= A.COD_AGENTE
FROM	Torg3_agente	A (NOLOCK)
WHERE	COD_PROMOTORA = COD_OPERADOR
-- NOME DO AGENTE ********************	
UPDATE	TAUX_CONTRATO
SET		AGENTE		= ISNULL(AGDESCR,'')
FROM	TAGENTE
WHERE	COD_AGENTE = AGCOD



/*
	AGENTE,

	COD_AGE			VARCHAR(20)

			PRIMEIRO_VCTO = ,


	COD_COB			VARCHAR(20),
	COBRADORA,
	
	QTD_PARC_ATRASO,

-- VEICULOS	
MARCA,
	MODELO,
	ANO_FABRIC,

*/
-- PARCELAS ************************
UPDATE	TAUX_CONTRATO
SET		PRIMEIRO_VCTO = P.PADTVCTO
FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK)
WHERE	CONTRATO = P.PANROPER
	AND	PANRPARC=1
-- PARCELAS EM ATRASO ************************
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
--   DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
UPDATE	TAUX_CONTRATO
SET		QTD_PARC_ATRASO = ISNULL(QTDE,0)
FROM
	(SELECT		PANROPER,COUNT(*) AS QTDE
			FROM	CDCSANTANAMicroCredito..CPARC AUX (NOLOCK)
			WHERE	AUX.PANROPER	IN (SELECT CONTRATO
										FROM TAUX_CONTRATO)
				AND	AUX.PADTVCTO <= @DATA_REF   -- VENCIDOS
				AND (AUX.PADTLIQ IS NULL		-- NAO PAGOS
				OR	 AUX.PADTLIQ >  @DATA_REF )  -- PAGOS APOS A DT REF		
				AND AUX.PACNTRL = (SELECT MAX(PACNTRL)
							FROM	CDCSANTANAMicroCredito..CPARC A (NOLOCK)
							WHERE	A.PANROPER= AUX.PANROPER
								AND A.PANRPARC= AUX.PANRPARC  )
			GROUP BY PANROPER) P
WHERE	PANROPER = CONTRATO



-- VEICULOS	
-- SELECT TOP 100 * FROM CDCSANTANAMicroCredito..CBFIN
UPDATE	TAUX_CONTRATO
SET		MODELO		= ISNULL(ABMODELO,''),
		ANO_FABRIC  = ISNULL(ABANOFAB,''),
		MARCA		= '' ,
		COD_VEIC    = ISNULL(ABCODMARCA,'')
FROM	CDCSANTANAMicroCredito..CBFIN V (NOLOCK)
WHERE	CONTRATO = ABNROPER
	AND	ABNRGAR='01'
	AND ABCNTRL = (SELECT	MAX(ABCNTRL) 
					FROM	CDCSANTANAMicroCredito..CBFIN V1 (NOLOCK)
					WHERE	V1.ABNROPER = CONTRATO)

-- AJUSTA AGENTE
UPDATE	TAUX_CONTRATO
SET		AGENTE		= ISNULL(AGENTE,'')
WHERE AGENTE IS NULL

-- AJUSTA PARC_PAGAS
UPDATE	TAUX_CONTRATO
SET		PARC_PAGAS		= ISNULL(PARC_PAGAS,0)
WHERE PARC_PAGAS IS NULL

-- AJUSTA QTD_PARC_ATRASO
UPDATE	TAUX_CONTRATO
SET		QTD_PARC_ATRASO		= ISNULL(QTD_PARC_ATRASO,0)
WHERE QTD_PARC_ATRASO IS NULL


-- AJUSTA COD_COB
UPDATE	TAUX_CONTRATO
SET		COD_COB		= ISNULL(COD_COB,'')
WHERE COD_COB IS NULL

-- SELECT TOP 100 * FROM CDCSANTANAMicroCredito..TMODEL

/*
MARCA,
	MODELO,
	ANO_FABRIC,
  INNER JOIN CDCSANTANAMicroCredito..COPER O ON O.OPNROPER=E.LCNROPER 
select top 10 * from  CDCSANTANAMicroCredito..COPER
opdt1vencto,



SELECT contrato as panroper, '' as opdtbase, '' as regiao,'' as o1descr,
		nome_cliente as clnomecli,

		cpf_cnpj as clcgc,
		'' clfonefis,
		'' clfonecom,
		'' as codempregador,
	'' as o4nome,
data_contrato as padtvcto,
primeiro_vcto as padtvcto1,
COBRADORA,
'' DT_ENVIO_COBR,
0 ENVIO_EST_NOV,
'' O2DESCR,
'' O3DESCR,
'' Modalidade,
ano_fabric AbAnoFab,
modelo AbModelo,
0.0 PDD,
'' MATRICULA
*/
--select *		FROM TAUX_CONTRATO

SELECT  Convert(varchar, CONTRATO )  CONTRATO 


      ,[CPF_CNPJ]

      ,[NOME_CLIENTE]

      ,[AGENTE]

      ,[COBRADORA]

      ,Convert(varchar, [DATA_CONTRATO], 103) [DATA_CONTRATO]

      ,Convert(varchar, [PLANO]) [PLANO]

      ,Convert(varchar, [PARCELA_ABERTO]) [PARCELA_ABERTO]

      ,Convert(varchar, [PRIMEIRO_VCTO], 103) [PRIMEIRO_VCTO]

      ,Convert(varchar, [ATRASO]) [ATRASO]

      ,Convert(varchar, [VENCIMENTO], 103) [VENCIMENTO]

      ,Convert(varchar, [VLR_PARCELA]) [VLR_PARCELA]

      ,Convert(varchar, [QTD_PARC_ATRASO]) [QTD_PARC_ATRASO]

      ,Convert(varchar, [SALDO_INSCRITO]) [SALDO_INSCRITO]

      ,Convert(varchar, ISNULL([VLR_FINANCIADO],0.0)) [VLR_FINANCIADO]

      ,ISNULL(MARCA,'')  AS [MARCA]

      ,ISNULL(MODELO,'') AS [MODELO]

      ,ISNULL(ANO_FABRIC,'') AS [ANO_FABRIC]

      ,Convert(varchar, [PARC_PAGAS]) [PARC_PAGAS]

      ,[PROFISSAO]

      ,[CARGO]

      ,[COD_CLI]

      ,[COD_COB]

      ,cod_Agente as [COD_AGE]

  FROM [dbo].[TAUX_CONTRATO]


END
GO

--grant execute [scr_RR_mensal_DETALHE] on usrSIv

-- SELECT * FROM RR_AUX_CONTRATO_2M