
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- [scr_CUBO_RRMENSAL] '20140630', '1', 'M0_DESCR1 ASC'
-- exec scr_CUBO_RRMENSAL '20140630','1','M0_DESCR1 DESC'
-- exec scr_CUBO_RRMENSAL '20140630','1','M0_DESCR1 ASC'
-- exec scr_CUBO_RRMENSAL '20140630','3', 'M0_DESCR1'
-- exec scr_CUBO_RRMENSAL '20140630','6', 'M0_DESCR1 ASC'


-- exec scr_CUBO_RRMENSAL '20140530','1', 'M0_DESCR1 ASC'
-- exec scr_CUBO_RRMENSAL '20140530','2', 'M0_DESCR1 ASC'
-- exec scr_CUBO_RRMENSAL '20140530','3', 'M0_DESCR1 ASC'
-- exec scr_CUBO_RRMENSAL '20140530','4', 'M0_DESCR1 ASC'
-- exec scr_CUBO_RRMENSAL '20140530','5', 'M0_DESCR1 ASC'
-- exec scr_CUBO_RRMENSAL '20140530','6', 'M0_DESCR1 ASC'

-- SELECT * FROM TCUBO

-- PROC tela CUBO RR MENSAL  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_CUBO_RRMENSAL' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_CUBO_RRMENSAL]
GO


CREATE Procedure [dbo].[scr_CUBO_RRMENSAL] (@data_ref as datetime, @CUBO varchar(6), @ordenar varchar(30)) AS
BEGIN

DECLARE @sortOrder  AS VARCHAR(5)

SET @sortOrder = CASE	WHEN RIGHT(RTRIM(@ordenar),4) = 'DESC' THEN 'DESC'
						WHEN RIGHT(RTRIM(@ordenar),3) = 'ASC'  THEN 'ASC'
						ELSE  'ASC' END

-- SELECT CASE	WHEN RIGHT(RTRIM('M0_DESCR1 DESC'),4) = 'DESC' THEN 'DESC' END
-- SELECT @sortOrder

DECLARE @ORDEM_TELA AS VARCHAR(30)
SET		@ORDEM_TELA= CASE	WHEN RIGHT(RTRIM(@ordenar),4) = 'DESC' THEN LEFT(@ordenar,LEN(@ordenar)-5)
						WHEN RIGHT(RTRIM(@ordenar),3) = 'ASC'  THEN  LEFT(@ordenar,LEN(@ordenar)-4)
						ELSE  @ordenar END
-- SELECT @ORDEM_TELA

--'AGENTE'
if @cubo =1 and  @sortOrder = 'ASC' 
	BEGIN
		SET @ORDEM_TELA='M0_CARTEIRA'
		SET  @sortOrder = 'DESC'
	END


-- ORDEM CRESCENTE *************************
IF @sortOrder = 'ASC' 
BEGIN
	SELECT	  --* 

/*
		DT_FECHA		SMALLDATETIME,
		NUM_CUBO		INT,
		ORDEM			INT,
*/
		DT_FECHA,
		M0_DESCR1		,
		M0_CARTEIRA		,
		M0_PDD			,
		M0_PDD_PRC		,

		M1_PREJUIZO		,
		M1_DESPESA		,
		M1_DESCR1		,
		M1_CARTEIRA		,
		M1_PDD			,
		M1_PDD_PRC		
		, ORDEM
	FROM	PDD_CUBO 
	WHERE	DT_FECHA = @DATA_REF 
		AND NUM_CUBO = @CUBO
    ORDER BY ORDEM ASC,
	--	CASE WHEN @ORDEM_TELA = 'M0_DESCR1'	        THEN ORDEM    END ASC,
		CASE WHEN @ORDEM_TELA = 'M0_DESCR1'	        THEN M0_DESCR1    END ASC,
 --M0_DESCR1   END ASC,
		CASE WHEN @ORDEM_TELA = 'M0_CARTEIRA'	    THEN M0_CARTEIRA END ASC,
		CASE WHEN @ORDEM_TELA = 'M0_PDD'			THEN M0_PDD		 END ASC,
		CASE WHEN @ORDEM_TELA = 'M0_PDD_PRC'	    THEN M0_PDD_PRC  END ASC,

		CASE WHEN @ORDEM_TELA = 'M1_PREJUIZO'	    THEN M1_PREJUIZO END ASC,
		CASE WHEN @ORDEM_TELA = 'M1_DESPESA'	    THEN M1_DESPESA  END ASC,

		CASE WHEN @ORDEM_TELA = 'M1_CARTEIRA'	    THEN M1_CARTEIRA END ASC,
		CASE WHEN @ORDEM_TELA = 'M1_PDD'			THEN M1_PDD		 END ASC,
		CASE WHEN @ORDEM_TELA = 'M1_PDD_PRC'	    THEN M1_PDD_PRC  END ASC

END

-- ORDEM DECRESCENTE  ************************
IF @sortOrder = 'DESC' 
BEGIN
	SELECT	  --* 

/*
		DT_FECHA		SMALLDATETIME,
		NUM_CUBO		INT,
		ORDEM			INT,
*/
		DT_FECHA,
		M0_DESCR1		,
		M0_CARTEIRA		,
		M0_PDD			,
		M0_PDD_PRC		,

		M1_PREJUIZO		,
		M1_DESPESA		,
		M1_DESCR1		,
		M1_CARTEIRA		,
		M1_PDD			,
		M1_PDD_PRC		
		, ORDEM
	FROM	PDD_CUBO 
	WHERE	DT_FECHA = @DATA_REF 
		AND NUM_CUBO = @CUBO
    ORDER BY ORDEM DESC,
		CASE WHEN @ORDEM_TELA = 'M0_DESCR1'	        THEN  M0_DESCR1   END DESC,
		CASE WHEN @ORDEM_TELA = 'M0_CARTEIRA'	    THEN M0_CARTEIRA END DESC,
		CASE WHEN @ORDEM_TELA = 'M0_PDD'			THEN M0_PDD		 END DESC,
		CASE WHEN @ORDEM_TELA = 'M0_PDD_PRC'	    THEN M0_PDD_PRC  END DESC,

		CASE WHEN @ORDEM_TELA = 'M1_PREJUIZO'	    THEN M1_PREJUIZO END DESC,
		CASE WHEN @ORDEM_TELA = 'M1_DESPESA'	    THEN M1_DESPESA  END DESC,

		CASE WHEN @ORDEM_TELA = 'M1_CARTEIRA'	    THEN M1_CARTEIRA END DESC,
		CASE WHEN @ORDEM_TELA = 'M1_PDD'			THEN M1_PDD		 END DESC,
		CASE WHEN @ORDEM_TELA = 'M1_PDD_PRC'	    THEN M1_PDD_PRC  END DESC

END
/*
IF @sortOrder = 'Desc'
  BEGIN
    SELECT * FROM #t_results
    ORDER BY
	CASE WHEN @OrderBy = 'surname'	         THEN surname END DESC,
	CASE WHEN @OrderBy = 'forename'	         THEN forename END DESC,
	CASE WHEN @OrderBy = 'fullName'	         THEN fullName END DESC,
	CASE WHEN @OrderBy = 'userId'	         THEN userId END DESC,
	CASE WHEN @OrderBy = 'MobileNumber'      THEN MSISDN END DESC,
	CASE WHEN @OrderBy = 'DeviceStatus'      THEN DeviceStatus END DESC,
	CASE WHEN @OrderBy = 'LastPosition'      THEN LastPosition END DESC,
	CASE WHEN @OrderBy = 'LastAlert'         THEN LastAlert END DESC,
	CASE WHEN @OrderBy = 'LastCommunication' THEN LastCommunication END DESC,
	CASE WHEN @OrderBy = 'LastPreAlert'      THEN LastPreAlert END DESC	
	END
 ELSE
   BEGIN
    SELECT * FROM #t_results
    ORDER BY
	CASE WHEN @OrderBy = 'surname'	         THEN surname END DESC,
	CASE WHEN @OrderBy = 'forename'	         THEN forename END DESC,
	CASE WHEN @OrderBy = 'fullName'	         THEN fullName END DESC,
	CASE WHEN @OrderBy = 'userId'	         THEN userId END DESC,
	CASE WHEN @OrderBy = 'MobileNumber'      THEN MSISDN END DESC,
	CASE WHEN @OrderBy = 'DeviceStatus'      THEN DeviceStatus END DESC,
	CASE WHEN @OrderBy = 'LastPosition'      THEN LastPosition END DESC,
	CASE WHEN @OrderBy = 'LastAlert'         THEN LastAlert END DESC,
	CASE WHEN @OrderBy = 'LastCommunication' THEN LastCommunication END DESC,
	CASE WHEN @OrderBy = 'LastPreAlert'      THEN LastPreAlert END DESC	
    END
END
*/

--  ORDER BY NUM_CUBO, ORDEM, @ordenar

/*
	case when @ordenar ='' then
		 M0_DESCR1 
		else 
		M0_DESCR1 
end

*/



END
GO
