USE sig --[Santana]
GO

drop   table tbl_svc
create table tbl_svc
 (codigo	int primary key,nome	varchar(50)		)


create table usuario_svc
( CodAGENTE varchar(20),
  CodAgSVC	varchar(20),
  CodOperador	varchar(20))

CREATE INDEX usuario_svc_IDX1 ON usuario_svc (CodAGENTE ,  CodAgSVC)

--  PENDENCIA CONTRATO
CREATE TABLE DCO_PENDContrato (
OPCODPROD	varchar(6),
OPNROPER	varchar(15),
OPDTBASE	smalldatetime,
OPVLRFIN	float,
OPCODORG1	varchar(6),
O1DESCR	varchar(20),
OPCODORG2	varchar(6),
O2DESCR	varchar(30),
OPCODORG3	varchar(6),
O3DESCR	varchar(20),
OPCODORG4	varchar(6),
O4DESCR	varchar(15),
OPCODORG5	varchar(6),
O5DESCR	varchar(15),
OPCODORG6	varchar(6),
EPCODPEN	varchar(3),
EPCMPLTO	varchar(255),
OPCODCLI	varchar(15),
A13CODORG	int,
A13DESCR	varchar(20),
CLNOMECLI	varchar(60),
CLFONEFIS	varchar(20),
CLFONECOM	varchar(20),
CLCGC	varchar(18),
DIASATRASO	int,
DOCUMENTO	varchar(200),  -- obs
VLR_LIBERADO	FLOAT,
VLR_PRODUCAO	FLOAT,
VLR_DEBITO		FLOAT,
prc_pend		FLOAT,
EPDTAGEN	smalldatetime,
EPDTPEN	smalldatetime,
EPDTCAD	smalldatetime,
EPDTLNCBX	smalldatetime,
EPDTFIM	smalldatetime )

CREATE INDEX DCO_PENDContrato_IDX1 ON DCO_PENDContrato (OPNROPER)
----
DROP TABLE DCO_PEND_FORMALIZ 
CREATE TABLE DCO_PEND_FORMALIZ (
A13CODORG	int,
A13DESCR	varchar(200),
AGATIVO		VARCHAR(2),
regiao		varchar(200),
integradas	FLOAT,
pendencias	FLOAT,
PRC			FLOAT )

CREATE INDEX DCO_PEND_FORMALIZ_IDX1 ON DCO_PEND_FORMALIZ (A13CODORG)

----
DROP   TABLE DCO_SUBST_GARANTIA 
CREATE TABLE DCO_SUBST_GARANTIA (
A13CODORG	int,
A13DESCR	varchar(200),
AGATIVO		VARCHAR(2),
--A13CODORG	A13DESCR	qtd_substitui	vlr_substitui	qtd_transfer	vlr_transfer	qtd_ttl	vlr_ttl
regiao		varchar(200),
qtd_substitui	FLOAT,
vlr_substitui	FLOAT,
qtd_transfer	FLOAT,
vlr_transfer	FLOAT,
qtd_ttl	FLOAT,
vlr_ttl	FLOAT
 )

CREATE INDEX DCO_SUBST_GARANTIA_IDX1 ON DCO_SUBST_GARANTIA (A13CODORG)

A13CODORG	A13DESCR	qtd_substitui	vlr_substitui	qtd_transfer	vlr_transfer	qtd_ttl	vlr_ttl


----
select * from usuario_svc
truncate table usuario_svc
insert usuario_svc select 119,164,1821
insert usuario_svc select 119,146,1720
insert usuario_svc select 119,165,1873
insert usuario_svc select 119,164,1873


-- 146	BKF SOLUCOES
insert usuario_svc select 143,146,1723
insert usuario_svc select 156,146,1793
insert usuario_svc select 157,146,1794
insert usuario_svc select 118,146,1704
insert usuario_svc select 109,146,1700
insert usuario_svc select 139,146,1709
insert usuario_svc select 151,146,1756
insert usuario_svc select 2,146,1698
insert usuario_svc select 153,146,1790
insert usuario_svc select 3,146,1699
insert usuario_svc select 141,146,1715
insert usuario_svc select 86,146,1705
insert usuario_svc select 159,146,1801
insert usuario_svc select 30,146,1719
insert usuario_svc select 119,146,1720
insert usuario_svc select 113,146,1710
insert usuario_svc select 112,146,1724
insert usuario_svc select 125,146,1712
insert usuario_svc select 120,146,1713
insert usuario_svc select 150,146,1755
insert usuario_svc select 145,146,1711
insert usuario_svc select 148,146,1754
insert usuario_svc select 121,146,1714
insert usuario_svc select 101,146,1703
insert usuario_svc select 140,146,1707
insert usuario_svc select 142,146,1708
insert usuario_svc select 158,146,1795
insert usuario_svc select 88,146,1701
insert usuario_svc select 97,146,1702
insert usuario_svc select 155,146,1792
insert usuario_svc select 138,146,1706
insert usuario_svc select 152,146,1757
insert usuario_svc select 128,146,1718
insert usuario_svc select 127,146,1716
insert usuario_svc select 126,146,1717
insert usuario_svc select 144,146,1722
insert usuario_svc select 123,146,1721
insert usuario_svc select 154,146,1791


--164	FINANZERO AGENTES
insert usuario_svc select 109,164,1820
insert usuario_svc select 153,164,1816
insert usuario_svc select 3,164,1817
insert usuario_svc select 119,164,1821
insert usuario_svc select 143,164,1838
insert usuario_svc select 157,164,1839
insert usuario_svc select 151,164,1833
insert usuario_svc select 2,164,1815
insert usuario_svc select 141,164,1834
insert usuario_svc select 158,164,1837
insert usuario_svc select 142,164,1836
insert usuario_svc select 162,164,1841
insert usuario_svc select 155,164,1840
insert usuario_svc select 152,164,1831
insert usuario_svc select 128,164,1830
insert usuario_svc select 127,164,1829
insert usuario_svc select 126,164,1828
insert usuario_svc select 154,164,1819
insert usuario_svc select 88,164,1818
insert usuario_svc select 139,164,1832
insert usuario_svc select 159,164,1822
insert usuario_svc select 120,164,1823
insert usuario_svc select 150,164,1824
insert usuario_svc select 145,164,1842
insert usuario_svc select 148,164,1843
insert usuario_svc select 121,164,1825
insert usuario_svc select 144,164,1827
insert usuario_svc select 123,164,1826

select * from CDCSANTANAMicroCredito..TA1O3 (nolock)

SELECT * FROM CDCSANTANAMicroCredito..Torg3 (nolock) 
where o3codorg in ('001901','001872','001867','001868')
o3codOrgA13

SELECT * FROM CDCSANTANAMicroCredito..Torg4 (nolock) 
where o4codorg in ('001901','001872','001867','001868')
where convert(numeric,o4codorg) in (1901,1872,1867,1868)
