
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

use SIG
go

/*
CREATE TABLE CML_RPT
(
DT_FECHA	smalldatetime,
RPT			int,  
VEICULOS	int,
CONTRATOS	int,
ORDEM_LINHA	int,
FORMATO		varchar(6),	     
DESCR_VEIC	varchar(50),	     
DESCRICAO	varchar(50),   
AGENTE	    varchar(200),
FX1			float,
FX2			float,
FX3			float,
FX4			float,
FX5			float,
TTL			float,
VLR_FX1		float,
VLR_FX2		float,
VLR_FX3		float,
VLR_FX4		float,
VLR_FX5		float,
VLR_TTL		float )
*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'CML_CALCULO_RPT' AND type = 'P')
   DROP PROCEDURE [dbo].[CML_CALCULO_RPT]
GO

-- de ate datas PERIODO DE PRODUCAO
CREATE Procedure [dbo].[CML_CALCULO_RPT] (@DT3M as datetime, @data_ref as datetime,@veiculo as int) AS    
BEGIN    
    
DECLARE @DTREF AS VARCHAR(8)    
SET @DTREF = CONVERT(varchar(8),@data_ref,112)    
    
    
    
-- APAGA PROCESSAMENTO ANTERIOR    
delete  from CML_RPT     
 WHERE DT_FECHA = @DTREF    
       
 UPDATE SPREAD_HISTORICO    
 SET  FX_ANO = FX_ANO.DESCR    
 FROM (SELECT * FROM SPREAD_HISTORICO S1 (NOLOCK)     
    WHERE DT_FECHA BETWEEN @DT3M AND @DTREF ) AS S    
  LEFT JOIN     
   (SELECT * FROM FX_ANO_COML F (NOLOCK) WHERE DT_DE = (SELECT MAX(DT_DE)     
              FROM FX_ANO_COML A1 (NOLOCK)    
              WHERE A1.DT_DE <=@DTREF)    
            AND F.VEICULO=@VEICULO   )  AS FX_ANO    
   ON S.ANO_MODELO BETWEEN FX_ANO.DE AND FX_ANO.ATE    
 WHERE SPREAD_HISTORICO.DT_FECHA BETWEEN @DT3M AND @DTREF    
  AND 1=0+ CASE  WHEN @VEICULO = 1 AND (SPREAD_HISTORICO.VEICULO = 'LEVES' )    
         THEN 1    
       WHEN @VEICULO = 2 AND SPREAD_HISTORICO.VEICULO= 'MOTOS'   THEN 1    
       WHEN @VEICULO = 3 AND (SPREAD_HISTORICO.VEICULO= 'UTILITARIO'    
OR (SPREAD_HISTORICO.VEICULO = 'REFINANCIAMENTO' AND LEFT(SPREAD_HISTORICO.NUM_OPE,2) = '80' ) )  THEN 1 END    
    
INSERT CML_RPT    
 (     
  DT_FECHA,    
  RPT,    
  VEICULOS,    
  CONTRATOS,    
  ORDEM_LINHA,    
  FORMATO,    
  DESCR_VEIC,    
  DESCRICAO,    
  AGENTE,    
  FX1,    
  FX2,    
  FX3,    
  FX4,    
  FX5,    
  TTL,    
  VLR_FX1,    
  VLR_FX2,    
  VLR_FX3,    
  VLR_FX4,    
  VLR_FX5,    
  VLR_TTL    
  )    
SELECT      
  @data_ref,    
  1 , -- RPT ANALISE TTL VEIC    
  @VEICULO, --PARAMETRO    
  99 , -- TODOS CONTRATOS    
  1,  -- LINHA 1 = SAFRA QTDE    
  '', -- FORMATO    
  CASE WHEN @VEICULO=1 THEN 'LEVES'   -- DESCRICAO VEIC    
    WHEN @VEICULO=2 THEN 'MOTOS'      
    WHEN @VEICULO=3 THEN 'UTILITARIOS'  END,    
  ''   ,   
  AG.AGENTE,     
  CASE WHEN  AG.ORDEM=5 THEN AG.OP  ELSE 0.0 END,    
  CASE WHEN  AG.ORDEM=4 THEN AG.OP  ELSE 0.0 END,    
  CASE WHEN  AG.ORDEM=3 THEN AG.OP  ELSE 0.0 END,     
  CASE WHEN  AG.ORDEM=2 THEN AG.OP  ELSE 0.0 END,    
  CASE WHEN  AG.ORDEM=1 THEN AG.OP  ELSE 0.0 END,    
  AG.OP,      
  CASE WHEN  AG.ORDEM=5 THEN AG.OP  ELSE 0.0 END,    
  CASE WHEN  AG.ORDEM=4 THEN AG.OP  ELSE 0.0 END,    
  CASE WHEN  AG.ORDEM=3 THEN AG.OP  ELSE 0.0 END,     
  CASE WHEN  AG.ORDEM=2 THEN AG.OP  ELSE 0.0 END,    
  CASE WHEN  AG.ORDEM=1 THEN AG.OP  ELSE 0.0 END,    
  AG.OP    
FROM     
  ( SELECT --VEICULO,     
     AGENTE, FX_ANO.ORDEM , FX_ANO.DESCR , SUM(VLR_OP) AS OP    
   FROM SPREAD_HISTORICO S (NOLOCK) LEFT JOIN     
     (SELECT * FROM FX_ANO_COML F (NOLOCK) WHERE DT_DE = (SELECT MAX(DT_DE)     
                FROM FX_ANO_COML A1 (NOLOCK)    
                WHERE A1.DT_DE <=@data_ref    
                 AND A1.VEICULO= @VEICULO)    
             AND F.VEICULO=@VEICULO   )  AS FX_ANO    
     ON ANO_MODELO BETWEEN FX_ANO.DE AND FX_ANO.ATE    
   WHERE S.DT_FECHA BETWEEN @DT3M  AND @data_ref     
    AND S.RENEGOCIADO = 0  -- PRODUCAO SEM RENEGOCIADOS    
    AND 1=0+ CASE  WHEN @VEICULO = 1 AND (S.VEICULO= 'LEVES'  )    THEN 1       
         WHEN @VEICULO = 2 AND S.VEICULO= 'MOTOS'   THEN 1    
         WHEN @VEICULO = 3 AND (S.VEICULO= 'UTILITARIO'  )  THEN 1      
         ELSE 0 END    
   GROUP BY      
     AGENTE, FX_ANO.ORDEM, FX_ANO.DESCR     
  ) AS AG    

    
INSERT  CML_RPT    
SELECT      
  @data_ref,    
  1 , -- RPT VEIC POR FX ANO E %    
  @VEICULO, --PARAMETRO    
  99 , -- TODOS CONTRATOS    
  99,  -- LINHA 1 = VLR OPERADO    
  '', -- FORMATO    
  AG.VEICULO ,  -- DESCRICAO VEIC    
  ''   ,  -- DESCRICAO = NOME AGENTE    
  '',   -- COD AGENTE    
    
  --SELECT AG.AGENTE,     
  SUM(FX1),    
  SUM(FX2),    
  SUM(FX3),     
  SUM(FX4),    
  SUM(FX5),    
  SUM(FX1)+SUM(FX2)+SUM(FX3)+SUM(FX4)+SUM(FX5),    
  SUM(VLR_FX1),    
  SUM(VLR_FX2),    
  SUM(VLR_FX3),     
  SUM(VLR_FX4),    
  SUM(VLR_FX5),    
  SUM(FX1)+SUM(FX2)+SUM(FX3)+SUM(FX4)+SUM(FX5)    
FROM     
  ( SELECT DESCR_VEIC AS VEICULO, *    
   FROM CML_RPT (NOLOCK)    
   WHERE DT_FECHA = @data_ref and RPT=1  ) AS AG    
GROUP BY VEICULO    
    
-- AJUSTA TTLS    
UPDATE  CML_RPT    
 SET TTL  = AG.OP,    
  VLR_TTL = AG.OP    
 FROM ( SELECT VEICULO, AGENTE,  SUM(VLR_OP) AS OP    
   FROM SPREAD_HISTORICO (NOLOCK)     
   WHERE DT_FECHA BETWEEN @DT3M  AND @data_ref         AND RENEGOCIADO = 0  -- PRODUCAO SEM RENEGOCIADOS    
    AND 1=0+ CASE  WHEN @VEICULO = 1 AND (VEICULO= 'LEVES'  ) THEN 1      
         WHEN @VEICULO = 2 AND VEICULO= 'MOTOS'   THEN 1    
         WHEN @VEICULO = 3 AND (VEICULO= 'UTILITARIO' ) THEN 1    
         ELSE 0 END    
   GROUP BY VEICULO, AGENTE    
  ) AS AG    
 WHERE CML_RPT.DT_FECHA= @DTREF    
  AND CML_RPT.AGENTE = AG.AGENTE    
    
INSERT CML_RPT    
 (     
  DT_FECHA,    
  RPT,    
  VEICULOS,    
  CONTRATOS,    
  ORDEM_LINHA,    
  FORMATO,    
  DESCR_VEIC,    
  DESCRICAO,    
  AGENTE,    
  FX1,    
  FX2,    
  FX3,    
  FX4,    
  FX5,    
  TTL,    
  VLR_FX1,    
  VLR_FX2,    
  VLR_FX3,    
  VLR_FX4,    
  VLR_FX5,    
  VLR_TTL    
  )    
SELECT      
  @data_ref,    
  2 , -- RPT VEIC POR FX ANO E %    
  @VEICULO, --PARAMETRO    
  99 , -- TODOS CONTRATOS    
  1,  -- LINHA 1 = VLR OPERADO    
  '', -- FORMATO    
  AG.VEICULO ,  -- DESCRICAO VEIC    
  ''   ,  -- DESCRICAO = NOME AGENTE    
  AG.AGENTE,
  SUM(FX1),    
  SUM(FX2),    
  SUM(FX3),     
  SUM(FX4),    
  SUM(FX5),    
  MAX(TTL),    
  SUM(VLR_FX1),    
  SUM(VLR_FX2),    
  SUM(VLR_FX3),     
  SUM(VLR_FX4),    
  SUM(VLR_FX5),    
  SUM(VLR_TTL)    
FROM     
  ( SELECT DESCR_VEIC AS VEICULO, *    
   FROM CML_RPT (NOLOCK)    
   WHERE DT_FECHA = @data_ref  ) AS AG    
GROUP BY AG.VEICULO, AG.AGENTE    
ORDER BY AG.VEICULO,AG.AGENTE    
    
-- %    
INSERT CML_RPT    
 (     
  DT_FECHA,    
  RPT,    
  VEICULOS,    
  CONTRATOS,    
  ORDEM_LINHA,    
  FORMATO,    
  DESCR_VEIC,    
  DESCRICAO,    
  AGENTE,    
  FX1,    
  FX2,    
  FX3,    
  FX4,    
  FX5,    
  TTL,    
  VLR_FX1,    
  VLR_FX2,    
  VLR_FX3,    
  VLR_FX4,    
  VLR_FX5,    
  VLR_TTL    
  )    
SELECT      
  @data_ref,    
  2 , -- RPT VEIC POR FX ANO E %    
  @VEICULO, --PARAMETRO    
  99 , -- TODOS CONTRATOS    
  2,  -- LINHA 1 =  PERCENT    
  '', -- FORMATO    
  AG.VEICULO ,  -- DESCRICAO VEIC    
  ' % '  ,  -- DESCRICAO = NOME AGENTE    
  AG.AGENTE,   -- COD AGENTE    
    
  --SELECT AG.AGENTE,     
  CASE WHEN AVG(TTL) = 0.0 THEN 0.0 ELSE SUM(FX1)/AVG(TTL) * 100.0 END,    
  CASE WHEN AVG(TTL) = 0.0 THEN 0.0 ELSE SUM(FX2)/AVG(TTL) * 100.0 END,    
  CASE WHEN AVG(TTL) = 0.0 THEN 0.0 ELSE SUM(FX3)/AVG(TTL) * 100.0 END,     
  CASE WHEN AVG(TTL) = 0.0 THEN 0.0 ELSE SUM(FX4)/AVG(TTL) * 100.0 END,    
  CASE WHEN AVG(TTL) = 0.0 THEN 0.0 ELSE SUM(FX5)/AVG(TTL) * 100.0 END,    
  CASE WHEN AVG(TTL) = 0.0 THEN 0.0 ELSE (SUM(FX1)+SUM(FX2)+SUM(FX3)+SUM(FX4)+SUM(FX5))/AVG(TTL) * 100.0 END,    
  SUM(VLR_FX1),    
  SUM(VLR_FX2),    
  SUM(VLR_FX3),     
  SUM(VLR_FX4),    
  SUM(VLR_FX5),    
  SUM(VLR_TTL)    
FROM     
  ( SELECT DESCR_VEIC AS VEICULO, *    
   FROM CML_RPT (NOLOCK)    
   WHERE DT_FECHA = @data_ref -- TTL VALOR    
    AND RPT=1 ) AS AG    
GROUP BY AG.VEICULO, AG.AGENTE    
ORDER BY AG.VEICULO,AG.AGENTE    
    
    
    
-- % G2 *********************  4  LIN FX 1 A 3   E   FX 4E5    
INSERT CML_RPT    
 (     
  DT_FECHA,    
  RPT,    
  VEICULOS,    
  CONTRATOS,    
  ORDEM_LINHA,    
  FORMATO,    
  DESCR_VEIC,    
  DESCRICAO,    
  AGENTE,    
  FX1,    
  FX2,    
  FX3,    
  FX4,    
  FX5,    
  TTL,    
  VLR_FX1,    
  VLR_FX2,    
  VLR_FX3,    
  VLR_FX4,    
  VLR_FX5,    
  VLR_TTL    
  )    
SELECT      
  @data_ref,    
  2 , -- RPT VEIC POR FX ANO E %    
  @VEICULO, --PARAMETRO    
  99 , -- TODOS CONTRATOS    
  4,  -- LINHA 1 =  PERCENT    
  '', -- FORMATO    
  AG.VEICULO ,  -- DESCRICAO VEIC    
  ' % 2 '  ,  -- DESCRICAO = NOME AGENTE    
  AG.AGENTE,   -- COD AGENTE    
    
  --SELECT AG.AGENTE,     
  0.0,    
  CASE WHEN AVG(TTL) = 0.0 THEN 0.0 ELSE (SUM(FX1)+SUM(FX2)+SUM(FX3))/AVG(TTL) * 100.0 END,   
  0.0,     
    
  0.0,     
  CASE WHEN AVG(TTL) = 0.0 THEN 0.0 ELSE (SUM(FX4)+SUM(FX5))/AVG(TTL) * 100.0 END,    
  0.0,    
  SUM(VLR_FX1),    
  SUM(VLR_FX2),    
  SUM(VLR_FX3),     
  SUM(VLR_FX4),    
  SUM(VLR_FX5),    
  SUM(VLR_TTL)    
FROM     
  ( SELECT DESCR_VEIC AS VEICULO, *    
   FROM CML_RPT (NOLOCK)    
   WHERE DT_FECHA = @data_ref -- TTL VALOR    
    AND RPT=1 ) AS AG    
GROUP BY AG.VEICULO, AG.AGENTE    
ORDER BY AG.VEICULO,AG.AGENTE    
    
-- % G3 *********************  5  LIN FX  3 A 5    
INSERT CML_RPT    
 (     
  DT_FECHA,    
  RPT,    
  VEICULOS,    
  CONTRATOS,    
  ORDEM_LINHA,    
  FORMATO,    
  DESCR_VEIC,    
  DESCRICAO,    
  AGENTE,    
  FX1,    
  FX2,    
  FX3,    
  FX4,    
  FX5,    
  TTL,    
  VLR_FX1,    
  VLR_FX2,    
  VLR_FX3,    
  VLR_FX4,    
  VLR_FX5,    
  VLR_TTL    
  )    
SELECT      
  @data_ref,    
  2 , -- RPT VEIC POR FX ANO E %    
  @VEICULO, --PARAMETRO    
  99 , -- TODOS CONTRATOS    
  5,  -- LINHA 1 =  PERCENT    
  '', -- FORMATO    
  AG.VEICULO ,  -- DESCRICAO VEIC    
  ' % 3 '  ,  -- DESCRICAO = NOME AGENTE    
  AG.AGENTE,   -- COD AGENTE    
    
  --SELECT AG.AGENTE,     
  0.0,    
  0.0,    
  0.0,     
    
  CASE WHEN AVG(TTL) = 0.0 THEN 0.0 ELSE (SUM(FX3)+SUM(FX4)+SUM(FX5))/AVG(TTL) * 100.0 END,     
  0.0,    
  0.0,    
  SUM(VLR_FX1),    
  SUM(VLR_FX2),    
  SUM(VLR_FX3),     
  SUM(VLR_FX4),    
  SUM(VLR_FX5),    
  SUM(VLR_TTL)    
FROM     
  ( SELECT DESCR_VEIC AS VEICULO, *    
   FROM CML_RPT (NOLOCK)    
   WHERE DT_FECHA = @data_ref -- TTL VALOR    
    AND RPT=1 ) AS AG    
GROUP BY AG.VEICULO, AG.AGENTE    
ORDER BY AG.VEICULO,AG.AGENTE    
    
-- NOME DO AGENTE    
 UPDATE  CML_RPT    
  SET DESCRICAO = ISNULL(O3DESCR,'')+DESCRICAO    
 FROM CDCSANTANAMicroCredito..TORG3 O (NOLOCK)        
 WHERE CML_RPT.DT_FECHA=@data_ref       
  AND CML_RPT.RPT=2   -- RELATORIO FINAL    
  AND LEN(CML_RPT.AGENTE) <= 9    
  AND CML_RPT.AGENTE = O3CODORG   --a.COD_agente  -- CONTEM CODIGO    
    
-- TTL DO RELATORIO    
 UPDATE  CML_RPT    
  SET DESCRICAO = 'TOTAL '+DESCRICAO    
 WHERE CML_RPT.DT_FECHA=@data_ref       
  AND CML_RPT.RPT=2   -- RELATORIO FINAL    
  AND CML_RPT.AGENTE= ''    
    
    
-- TTL nas LINHAS DO RELATORIO    
 UPDATE  CML_RPT    
  SET VLR_TTL = ISNULL(VLR_FX1,0.0) +ISNULL(VLR_FX2,0.0) +ISNULL(VLR_FX3,0.0) +ISNULL(VLR_FX4,0.0) + ISNULL(VLR_FX5,0.0) ,    
   TTL = ISNULL(FX1,0.0) +ISNULL(FX2,0.0) +ISNULL(FX3,0.0) +ISNULL(FX4,0.0) + ISNULL(FX5,0.0)     
 WHERE CML_RPT.DT_FECHA=@data_ref       

END 
GO