
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

use SIG
go

/*
CREATE TABLE CML_PDV_VEIC
(
DT_FECHA	smalldatetime,
RPT			int,  
CODLOJA		varchar(20),
LOJA		varchar(100),
CODAGENTE	varchar(20),
AGENTE		varchar(100),
CODOPERADOR	varchar(20),
OPERADOR	varchar(100),
QTDM1	float,
VLRM1	float,
TM1		float,
QTDM2	float,
VLRM2	float,
TM2		float,
QTDM3	float,
VLRM3	float,
TM3		float
)

*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PDV_CALCULO_VEIC_3M' AND type = 'P')
   DROP PROCEDURE [dbo].[PDV_CALCULO_VEIC_3M]
GO

-- de ate datas PERIODO DE PRODUCAO
CREATE Procedure [dbo].[PDV_CALCULO_VEIC_3M] (@DTREF as datetime) AS
BEGIN



-- APAGA PROCESSAMENTO ANTERIOR
delete		from CML_PDV_VEIC 
	WHERE	DT_FECHA = @DTREF
	
DECLARE @DT3M DATETIME
DECLARE @M1 DATETIME
	-- DATA DE FECHAMENTO ************************************
	-- DIA 1 DO MES ATUAL
	SET		@M1 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'
	-- INICIO DO MES DE FECHAMENTO
	SET @DT3M = DATEADD(M,-2,@M1)   -- 3 M ANT


DECLARE @M2 DATETIME
	SET @M2 = DATEADD(M,-1,@M1)   -- 2 M ANT  DT INICIO

DECLARE @M3 DATETIME
	SET @M3 = DATEADD(M,-1,@M2)   -- 3 M ANT  DT INICIO


insert CML_PDV_VEIC
(
		DT_FECHA,
		RPT,
		CODLOJA,
		LOJA,
		CODAGENTE,
		AGENTE,
		CODOPERADOR,
		OPERADOR,
		QTDM1	 , --float,
		VLRM1	 , --float,
		TM1		)  --float)
select	@DTREF,
		1,
		CODLOJA,
		'',
		AGENTE,
		'',
		CODOPER,
		'',
		QTD,
		VLR,
		0.0
FROM	(
select	
		CODLOJA,
		AGENTE,
		CODOPER,
		COUNT(*) AS QTD,
		SUM(OPVLRFIN) AS VLR
		FROM ( SELECT	CODLOJA,AGENTE,CODOPER,NUM_OPE
				FROM	SPREAD_HISTORICO	(NOLOCK)
				WHERE	DT_FECHA BETWEEN @M1 AND @DTREF
					AND	VLR_OP>0.0
					AND RENEGOCIADO=0 )  AS S
	JOIN (SELECT OPNROPER, OPVLRFIN  
		FROM CDCSANTANAMicroCredito..COPER O (NOLOCK)	) AS OPER
	ON OPNROPER = NUM_OPE
	GROUP BY CODLOJA,AGENTE,CODOPER
	) AS H	

-- ATUALIZA O MES 2
UPDATE	CML_PDV_VEIC
SET		QTDM2 = QTD,
		VLRM2 = VLR
FROM	(
select	
		CODLOJA,
		AGENTE,
		CODOPER,
		COUNT(*) AS QTD,
		SUM(OPVLRFIN) AS VLR
		FROM ( SELECT	CODLOJA,AGENTE,CODOPER,NUM_OPE
				FROM	SPREAD_HISTORICO	(NOLOCK)

				WHERE	DT_FECHA BETWEEN @M2 AND DATEADD(DD,-1,@M1) 
					AND	VLR_OP>0.0
					AND RENEGOCIADO=0 )  AS S
	JOIN (SELECT OPNROPER, OPVLRFIN  
		FROM CDCSANTANAMicroCredito..COPER O (NOLOCK)	) AS OPER
	ON OPNROPER = NUM_OPE
	GROUP BY CODLOJA,AGENTE,CODOPER
	) AS H	
WHERE	CML_PDV_VEIC.DT_FECHA	=@DTREF
	AND	CML_PDV_VEIC.RPT		=1
	AND	CML_PDV_VEIC.CODLOJA	=H.CODLOJA
	AND	CML_PDV_VEIC.CODAGENTE  =H.AGENTE
	AND	CML_PDV_VEIC.CODOPERADOR=H.CODOPER

-- ATUALIZA O MES 2
UPDATE	CML_PDV_VEIC
SET		QTDM3 = QTD,
		VLRM3 = VLR
FROM	(
select	
		CODLOJA,
		AGENTE,
		CODOPER,
		COUNT(*) AS QTD,
		SUM(OPVLRFIN) AS VLR
		FROM ( SELECT	CODLOJA,AGENTE,CODOPER,NUM_OPE
				FROM	SPREAD_HISTORICO	(NOLOCK)
				WHERE	DT_FECHA BETWEEN @M3 AND DATEADD(DD,-1,@M2) 
					AND	VLR_OP>0.0
					AND RENEGOCIADO=0 )  AS S
	JOIN (SELECT OPNROPER, OPVLRFIN  
		FROM CDCSANTANAMicroCredito..COPER O (NOLOCK)	) AS OPER
	ON OPNROPER = NUM_OPE
	GROUP BY CODLOJA,AGENTE,CODOPER
	) AS H	
WHERE	CML_PDV_VEIC.DT_FECHA	=@DTREF
	AND	CML_PDV_VEIC.RPT		=1
	AND	CML_PDV_VEIC.CODLOJA	=H.CODLOJA
	AND	CML_PDV_VEIC.CODAGENTE  =H.AGENTE
	AND	CML_PDV_VEIC.CODOPERADOR=H.CODOPER


	UPDATE  CML_PDV_VEIC
		SET LOJA = ISNULL(O4NOME,'')
	FROM	CDCSANTANAMicroCredito..TORG4 O (NOLOCK)				
	WHERE	CML_PDV_VEIC.DT_FECHA=@DTREF
		AND CML_PDV_VEIC.RPT = 1
		AND LEFT(O4CODORG,1) NOT IN ('T','R')
		AND CODLOJA = CONVERT(INT,O4CODORG)		


UPDATE	CML_PDV_VEIC
SET		OPERADOR = O3DESCR
		FROM		 CDCSANTANAMicroCredito..TORG3  H (NOLOCK)
WHERE	CML_PDV_VEIC.DT_FECHA	=@DTREF
	AND	CML_PDV_VEIC.RPT		=1
	AND	CML_PDV_VEIC.CODOPERADOR	=H.O3CODORG

-- AGENTE
UPDATE	CML_PDV_VEIC
	SET AGENTE = ISNULL(A13DESCR,'')
	FROM	CDCSANTANAMicroCredito..TA1O3 O (NOLOCK)				
	WHERE	CML_PDV_VEIC.DT_FECHA=@DTREF
		AND CML_PDV_VEIC.RPT =1
		AND CML_PDV_VEIC.CODAGENTE= A13CODORG		

END
GO


