
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

use SIG
go

/*
drop table Cml_PDV_VEIC_loja
CREATE TABLE CML_PDV_VEIC_loja
(
DT_FECHA	smalldatetime,
RPT			int,  
CODAGENTE	varchar(20),
AGENTE		varchar(100),
QTDM1	float,
QTDM2	float,
QTDM3	float,
LJ_3M	float,
LJ_ATIVA	float,
GRAU		float,
QTD_LJ_SAI	float,
PERDA	float
)
*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PDV_CALCULO_VEIC_3M_loja' AND type = 'P')
   DROP PROCEDURE [dbo].[PDV_CALCULO_VEIC_3M_loja]
GO

-- de ate datas PERIODO DE PRODUCAO
CREATE Procedure [dbo].[PDV_CALCULO_VEIC_3M_loja] (@DTREF as datetime) AS    
BEGIN    
    
    
    
-- APAGA PROCESSAMENTO ANTERIOR    
delete  from CML_PDV_VEIC_loja     
 WHERE DT_FECHA = @DTREF    
     
DECLARE @DT3M DATETIME    
DECLARE @M1 DATETIME    
 
 SET  @M1 =  CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+    
    RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'    
 -- INICIO DO MES DE FECHAMENTO    
 SET @DT3M = DATEADD(M,-2,@M1)   -- 3 M ANT    
    
DECLARE @M2 DATETIME    
 SET @M2 = DATEADD(M,-1,@M1)   -- 2 M ANT  DT INICIO    
    
DECLARE @M3 DATETIME    
 SET @M3 = DATEADD(M,-1,@M2)   -- 3 M ANT  DT INICIO    
    
insert CML_PDV_VEIC_LOJA    
(    
  DT_FECHA,    
  RPT,    
  CODAGENTE,    
  AGENTE,    
  QTDM1  ,    
  QTDM2  ,    
  QTDM3  ,    
  LJ_3M  ,    
  LJ_ATIVA ,    
  GRAU  ,    
  QTD_LJ_SAI ,    
  PERDA  )     
select @DTREF,    
  1,    
  AGENTE,    
  '',    
  QTD,    
  0.0,      
  0.0,    
  0.0, 0.0, 0.0, 0.0, 0.0      
FROM (    
  SELECT   AGENTE,    
      COUNT(DISTINCT CODLOJA) AS QTD      
  FROM SPREAD_HISTORICO (NOLOCK)    
  WHERE DT_FECHA BETWEEN @M1 AND @DTREF    
   AND VLR_OP>0.0    
   AND RENEGOCIADO=0    
  GROUP BY AGENTE    
 ) AS H     
    

-- LJ ATIVAS NO MES DE REF  **********************    
UPDATE CML_PDV_VEIC_LOJA    
SET  LJ_ATIVA = QTD  -- VLRM2 = VLR    
FROM (       
    SELECT O4CODORG3,  COUNT(DISTINCT O4CodOrg) AS QTD     
    FROM CDCSantanaMicroCredito..TORG4 (NOLOCK)    
    JOIN CDCSantanaMicroCredito..TORG3 (NOLOCK)    
     ON O3CODORG = O4CodOrg3    
    WHERE O4ATIVA='A'    
    GROUP BY O4CODORG3 
   ) AS H     
WHERE CML_PDV_VEIC_LOJA.DT_FECHA =@DTREF    
 AND CML_PDV_VEIC_LOJA.RPT  =1    
 AND CML_PDV_VEIC_LOJA.CODAGENTE =H.O4CODORG3    

-- ATUALIZA O MES 2    
UPDATE CML_PDV_VEIC_LOJA    
SET  QTDM2 = QTD  -- VLRM2 = VLR    
FROM (    
  SELECT AGENTE,    
    COUNT(DISTINCT CODLOJA) AS QTD      
  FROM SPREAD_HISTORICO (NOLOCK)      
  WHERE DT_FECHA BETWEEN @M2 AND DATEADD(DD,-1,@M1) -- FIM M1    
   AND VLR_OP>0.0    
   AND RENEGOCIADO=0    
  GROUP BY AGENTE    
   ) AS H     
WHERE CML_PDV_VEIC_LOJA.DT_FECHA =@DTREF    
 AND CML_PDV_VEIC_LOJA.RPT  =1    
 AND CML_PDV_VEIC_LOJA.CODAGENTE  =H.AGENTE    
    
-- ATUALIZA O LOJAS DOS 3 MESES    
UPDATE CML_PDV_VEIC_LOJA    
SET  LJ_3M = QTD  
FROM (    
  SELECT AGENTE,    
    COUNT(DISTINCT CODLOJA) AS QTD      
  FROM SPREAD_HISTORICO (NOLOCK)    
  WHERE DT_FECHA BETWEEN @M3 AND @DTREF -- FIM DT REF 3M    
   AND VLR_OP>0.0    
   AND RENEGOCIADO=0    
  GROUP BY AGENTE    
   ) AS H     
WHERE CML_PDV_VEIC_LOJA.DT_FECHA =@DTREF    
 AND CML_PDV_VEIC_LOJA.RPT  =1    
 AND CML_PDV_VEIC_LOJA.CODAGENTE  =H.AGENTE    
    
    
-- ATUALIZA O MES 2    
UPDATE CML_PDV_VEIC_LOJA    
SET  QTDM3 = QTD 
FROM (    
  SELECT AGENTE,    
    COUNT(DISTINCT CODLOJA) AS QTD      
  FROM SPREAD_HISTORICO (NOLOCK)    
  WHERE DT_FECHA BETWEEN @M3 AND DATEADD(DD,-1,@M2)
   AND VLR_OP>0.0    
   AND RENEGOCIADO=0    
  GROUP BY AGENTE    
   ) AS H     
WHERE CML_PDV_VEIC_LOJA.DT_FECHA =@DTREF    
 AND CML_PDV_VEIC_LOJA.RPT  =1    
 AND CML_PDV_VEIC_LOJA.CODAGENTE  =H.AGENTE    
       
UPDATE CML_PDV_VEIC_LOJA    
SET  GRAU = CASE WHEN LJ_ATIVA = 0.0 THEN 0.0 ELSE LJ_3M/LJ_ATIVA*100.0 END,    
  QTD_LJ_SAI = LJ_ATIVA - LJ_3M,    
  PERDA = CASE WHEN LJ_ATIVA = 0.0 THEN 0.0 ELSE  (LJ_ATIVA - LJ_3M)/ LJ_ATIVA *100.0 END    
WHERE CML_PDV_VEIC_LOJA.DT_FECHA =@DTREF    
 AND CML_PDV_VEIC_LOJA.RPT  =1    
    
-- AGENTE    
-- DECLARE @DTREF DATETIME SET @DTREF = '20150531'    
UPDATE CML_PDV_VEIC_LOJA    
 SET AGENTE = ISNULL(O3DESCR,'')    
 FROM CDCSANTANAMicroCredito..TORG3 O (NOLOCK)        
 WHERE CML_PDV_VEIC_LOJA.DT_FECHA=@DTREF    
  AND CML_PDV_VEIC_LOJA.RPT =1    
  AND CML_PDV_VEIC_LOJA.CODAGENTE= O3CODORG   --a.COD_agente  -- CONTEM CODIGO    
    
END    
GO


