
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

use SIG
go

/*
EXEC [PDV_CALCULO_LIMITES] '20170131','D'
EXEC [PDV_CALCULO_LIMITES] '20170228','D'
EXEC [PDV_CALCULO_LIMITES] '20170331','D'
EXEC [PDV_CALCULO_LIMITES] '20170430','D'

EXEC [PDV_CALCULO_LIMITES] '20170531','D'
EXEC [PDV_CALCULO_LIMITES] '20170630','D'



EXEC [PDV_CALCULO_LIMITES] '20170201','D'
EXEC [PDV_CALCULO_LIMITES] '20170202','D'
EXEC [PDV_CALCULO_LIMITES] '20170203','D'
EXEC [PDV_CALCULO_LIMITES] '20170204','D'
EXEC [PDV_CALCULO_LIMITES] '20170205','D'

EXEC [PDV_CALCULO_LIMITES] '20170206','D'
EXEC [PDV_CALCULO_LIMITES] '20170207','D'
EXEC [PDV_CALCULO_LIMITES] '20170208','D'
EXEC [PDV_CALCULO_LIMITES] '20170209','D'
EXEC [PDV_CALCULO_LIMITES] '20170210','D'

EXEC [PDV_CALCULO_LIMITES] '20170211','D'
EXEC [PDV_CALCULO_LIMITES] '20170212','D'
EXEC [PDV_CALCULO_LIMITES] '20170213','D'
EXEC [PDV_CALCULO_LIMITES] '20170214','D'
EXEC [PDV_CALCULO_LIMITES] '20170215','D'

EXEC [PDV_CALCULO_LIMITES] '20170216','D'
EXEC [PDV_CALCULO_LIMITES] '20170217','D'
EXEC [PDV_CALCULO_LIMITES] '20170218','D'
EXEC [PDV_CALCULO_LIMITES] '20170219','D'
EXEC [PDV_CALCULO_LIMITES] '20170220','D'

EXEC [PDV_CALCULO_LIMITES] '20170221','D'
EXEC [PDV_CALCULO_LIMITES] '20170222','D'
EXEC [PDV_CALCULO_LIMITES] '20170223','D'
EXEC [PDV_CALCULO_LIMITES] '20170224','D'
EXEC [PDV_CALCULO_LIMITES] '20170225','D'
EXEC [PDV_CALCULO_LIMITES] '20170226','D'
EXEC [PDV_CALCULO_LIMITES] '20170227','D'
EXEC [PDV_CALCULO_LIMITES] '20170228','D'

--
EXEC [PDV_CALCULO_LIMITES] '20160107','D'

EXEC [PDV_CALCULO_LIMITES] '20150805','D'
EXEC [PDV_CALCULO_LIMITES] '20150815','D'
EXEC [PDV_CALCULO_LIMITES] '20150830','D'

EXEC [PDV_CALCULO_LIMITES] '20150518','D'
EXEC [PDV_CALCULO_LIMITES] '20150611','D'

EXEC [PDV_CALCULO_LIMITES] '20150630','D'
EXEC [PDV_CALCULO_LIMITES] '20150731','D'

EXEC [PDV_CALCULO_LIMITES] '20150131','D'
EXEC [PDV_CALCULO_LIMITES] '20150228','D'
EXEC [PDV_CALCULO_LIMITES] '20150331','D'
EXEC [PDV_CALCULO_LIMITES] '20150430','D'
EXEC [PDV_CALCULO_LIMITES] '20150531','D'

EXEC [PDV_CALCULO_LIMITES] '20150802','D'

SELECT * FROM CML_PDV  (NOLOCK)  WHERE DT_FECHA= '20170131'


EXEC [PDV_CALCULO_LIMITES] '20150528','D'
SELECT * FROM CML_PDV WHERE DT_FECHA= '20150528'

118001  ALFA COLLANA SERVIÇOS GRAFICOS LTDA ME 12439928000156
tem CG
SELECT * FROM CDCSANTANAMicroCredito..Coper (nolock) WHERE opcodcli = '12439928000156'


CREATE INDEX CML_PDV_IDX1 ON CML_PDV  (DT_FECHA, COD_CEDN)
SP_HELP CML_PDV

*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PDV_CALCULO_LIMITES' AND type = 'P')
   DROP PROCEDURE [dbo].[PDV_CALCULO_LIMITES]
GO

-- de ate datas PERIODO DE PRODUCAO
CREATE Procedure [dbo].[PDV_CALCULO_LIMITES] (@data_ref as datetime,@PRODUTO as VARCHAR(3)) AS
BEGIN

--DECLARE @DTREF AS VARCHAR(8)
--SET @DTREF = CONVERT(varchar(8),@data_ref,112)
-- INICIO DO MES ANTERIOR
DECLARE @data_ini  as datetime
/*
set @data_ini = CONVERT(CHAR(4),DATEPART(YYYY,DATEADD(M,-3,@data_ref)))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,DATEADD(M,-3,@data_ref)))),2)+ '01'
SP_HELP CML_PDV
ALTER TABLE CML_PDV ALTER COLUMN CONTATO	varchar(200)
ALTER TABLE CML_PDV ALTER COLUMN COD_CEDN	varchar(20)
ALTER TABLE CML_PDV ALTER COLUMN COD_OPERADOR	varchar(20)
ALTER TABLE CML_PDV ALTER COLUMN TELEFONE	varchar(50)



Column_name	Type	Computed	Length
DT_FECHA	datetime	no	8
COD_CEDN	int	no	4
NOM_CEDN	varchar	no	200
COD_OPERADOR	int	no	4
NOM_OPERADOR	varchar	no	200
CNPJ	varchar	no	20
TELEFONE	varchar	no	15
CONTATO	varchar	no	40
QTD_CANHOTO	int	no	4
PRC_CANHOTO	float	no	8
SLD_DEVEDOR_ATT	float	no	8
SLD_DEVEDOR_CDC	float	no	8
SLD_DEVEDOR_TTL	float	no	8
LIMITE	float	no	8
SLD_DISPONIVEL	float	no	8
COR_LINHA	varchar	no	3
ORDEM_LINHA	int	no	4
QTD_TITULO	int	no	4
QTD_CANHOTO_REC	int	no	4
saldoCC	float	no	8
Prc_checa	float	no	8
vlr_carteira_PV	float	no	8
limite_op	float	no	8
DUPLICATA	float	no	8
CHEQUE	float	no	8
NP	float	no	8

index_name	index_description	index_keys
CML_PDV_IDX1	nonclustered located on PRIMARY	DT_FECHA, COD_CEDN

DROP INDEX CML_PDV.CML_PDV_IDX1

CREATE INDEX CML_PDV_IDX1	on CML_PDV(DT_FECHA, COD_CEDN)

*/
set @data_ini = '20170101'

DECLARE @DTREF AS DATETIME
SET @DTREF = @data_ref

-- SELECT * FROM CML_PDV (NOLOCK) where DT_FECHA='20170228'
-- ALTER TABLE CML_PDV ADD  SLD_DEVEDOR_DUPL FLOAT

-- DECLARE @DTREF DATETIME SET @DTREF='20170228'
DELETE CML_PDV WHERE DT_FECHA= @DTREF

-- CEDENTES
INSERT		CML_PDV (DT_FECHA, COD_CEDN, NOM_CEDN, COD_OPERADOR,CNPJ,TELEFONE,CONTATO,
					QTD_CANHOTO,PRC_CANHOTO,SLD_DEVEDOR_ATT,SLD_DEVEDOR_CDC,SLD_DEVEDOR_TTL,
					LIMITE,SLD_DISPONIVEL,COR_LINHA,ORDEM_LINHA,
					DUPLICATA, CHEQUE, NP	)
	SELECT		@DTREF, cedCodigo, pesNOME, ageCODigo, C.pesCnpjCpf ,pesFone,pesContato 	,
				0,0.0,0.0,0.0,0.0,
				0.0,0.0,'',1
				,0.0,0.0,0.0
	From	NETFACTOR..nfCedente C (NOLOCK) 
INNER JOIN  NETFACTOR..nfPessoa  P (NOLOCK) 
	ON P.pesCNPJCPF = C.pesCNPJCPF
WHERE  C.empCodigo IN (1)  -- SEM FIDC

/*
	SELECT		cedCodigo, pesNOME, ageCODigo, C.pesCnpjCpf ,pesFone,pesContato 	,
				0,0.0,0.0,0.0,0.0,
				0.0,0.0,'',1
				,0.0,0.0,0.0
	From	NETFACTOR..nfCedente C (NOLOCK) 
INNER JOIN  NETFACTOR..nfPessoa  P (NOLOCK) 
	ON P.pesCNPJCPF = C.PESCNPJCPF
WHERE  C.empCodigo IN (1)  -- SEM FIDC

select * 	From	NETFACTOR..nfCedente C (NOLOCK) 
INNER JOIN  NETFACTOR..nfPessoa  P (NOLOCK) 
	ON P.pesCNPJCPF = C.PESCNPJCPF
WHERE  C.empCodigo IN (1)  -- SEM FIDC


select * from  NETFACTOR..nfCedente  (NOLOCK) 
INNER JOIN  NETFACTOR..nfPessoa  (NOLOCK) ON nfPessoa.pesCNPJCPF = nfCedente.pesCNPJCPF
-- nfCedente.cedCodigo = operacaoStruc.cedCodigo AND nfCedente.empCodigo = operacaoStruc.empCodigo

cedValorLimiteCreditoCheque	ID	cedCodigo	pesCNPJCPF	idgCodigo	cedContratoNumero	cedContratoData	cedFomentoSaldoDevedor	empCodigo	cedObservacao	filFiltro	cedSimples	hisCodigo	cedRubricaOperacaoAtivo	cedRubricaOperacaoCobranca	cedRubricaOperacaoCaucao	cedRubricaPassivo	cedRubricaDespesa	cedAbaterIRRF	cedIRRFAcumulado	cedAbaterRetidos	ageCodigo	cedMsgDocControle	cedValorLimiteCreditoCheque	cedValorLimiteCreditoDuplicata	cedValorLimiteCreditoSacadoCheque	cedValorLimiteCreditoSacadoDuplicata	cedSacadorPadrao	cccCodigo	cedTotalPendencias	cedInstrucaoCobranca	cedEmiteBoleto	cedDataConnstEmpresa	cedValorDoc	cedValorTed	cedIncentIssqn	cedNaoCobraCpmf	cedGerarTarifaAuto	scoCodigo	cedprazoAtrasoPonderado	cedRubricaContaGrafica	cglHisCodigo	cedEmailEnvioDocumento	cedContadorNome	cedContadorCRC	cedContadorCPF	cedSacadorPadraoCNPJCPF	cedEmailEnvioEfetivacao	cedEnviarConsultaTitulosIntegracao	desconsideraCedOuvidoria	cedContato	cedPercComissao	cedClassificacao	cedDataInclusao	cedUsuarioInclusao	cedCodime	cedLimiteControleSecuritizacaoValor	cedLimiteControleSecuritizacaoPeriodo	cedRecompraTaxaMulta	cedContabilidadeContaTransferencia	usuarioUltimaAlteracao	alteracaoViaCadastro	cedSerasaMonitoreValorSaldoDevedorGerenciamento	cedSerasaMonitorePrazo	cedSerasaGru_ID	cedSerasaPer_ID	cedSerasaMonitoreValorSaldoDevedorSacadoCNPJ	cedSerasaMonitoreValorSaldoDevedorSacadoCPF	cedPercentualMulta	cedConsideraInstrucaoSegundaVia	cedNaoProtetar	cedIsentoInscricaoEstadual	cedAutorizacaoCarga	cedPorte	cedTipodeSociedade	cedNaoContabilizaComprova	cedNaoGeraPendenciaEmissaoBoleto	cgr_id	cedOcultarCausaRejeicoes	usuAgenteChecagem	cedQtdeDiasChecagem	cedPriorizarPainelChecagem	usuLogin1	usuLogin2	usuLogin3	usuLogin4	usuLogin5	cedObrigarMonitoramentoNfe	cedAlterarValoresOutraEmpresa	cnaeCodigo	cedNPLimiteData	cedNPLimiteValor	cedNPLimitePrazo	cedImprimeNPLimite	conCodigo	cedCalcularImpostosRetidosOpe	cedNPGarantiaLimiteValor	ID_Importacao	cedNaoCobrarTarifaEmailComunicadoSacado	cedTarifaEmailComunicadoSacado	cedDesconsideraTxBoletoCartorio	cedDesconsiderarAbatimentoDiferenteArqRetorno	cedPermitirLigarNfeOperacaoEfetivada	cedDesagioBaseCalculo	cedComissaoBase	cedConglomeradoEconomico	cedNumMinAprovacao	cedTarifaAssinaturaDigital	cedDesconsiderarTarifaAssinaturaDigital	cedTarifaMonitorNFe	cedDesconsiderarTarifaMonitorNFe	ratID	cedNaoCobrarTarifaARComunicadoSacado	cedTarifaARComunicadoSacado	cedEmailPendencia	cedNaoEnviarBoletoEmail	cedTaxaComissionamento	cedTcValorProducao	cedNaoPagarComissao
0.00	3	3	07105038000178	010101  	0	1969-12-31 00:00:00.000	NULL	2	NULL	NULL	0	NULL	NULL	NULL	NULL	NULL	NULL	1	NULL	0	6		0.00	0.00	0.00	0.00		94	NULL		0	NULL	0.00	0.00	0	0	0	NULL	NULL	NULL	NULL							0	0		0.00		2016-11-28 00:00:00.000	master	NULL	0.00		0.00	NULL	SOLANGE	1	0.00	0	0	0	0.00	0.00	0.00	0	0	0	0	11	2	0	0	0	0	EDSON	0	0	CINTIA	0	0	0	0	0	0	2219600	1969-12-31 00:00:00.000	0.00	0	0	0	0	0.00	NULL	0	0.00	0	0	0	0.00	0.00		0	0.00	0	0.00	0	1	NULL	NULL	NULL	NULL	NULL	NULL	NULL

USE NETFACTOR
select   operacaoStruc.empCodigo as EMP,
         operacaoStruc.opecodigo as 'OPE',
       agentepessoa.pesNome as 'AGENTE',
       operacaoStruc.opeData as DATA,
         operacaoStruc.cedCodigo as CED,
       nfPessoa.pesnome as 'NOME CEDENTE',
       ingvalordeface  as 'VALOR DE FACE',
       INGDOCUMENTO  AS 'NUM TIT',
       INGDATAOPE  AS 'DATA OPER',
       INGDATALIQUIDACAO AS 'DATA LIQ',
       INGLIQUIDO  AS 'VALOR LIQ',
       INGDESAGIO AS 'DESAGIO'  ,
		operacaoStruc.IDGCODIGO   -- INCLUI
		, opeFatorEfetivo as Efetiva,-- INCLUI
		opeDesagioFatorSacTaxa as Nominal-- INCLUI
FROM nfOperacao operacaoStruc  (NOLOCK)
INNER JOIN  nfIngressos  (NOLOCK) on nfIngressos.opecodigo =  operacaoStruc.opecodigo
INNER JOIN  nfEmpresa  (NOLOCK) ON nfEmpresa.empCodigo = operacaoStruc.empCodigo
INNER JOIN  nfCedente  (NOLOCK) ON nfCedente.cedCodigo = operacaoStruc.cedCodigo AND nfCedente.empCodigo = operacaoStruc.empCodigo
INNER JOIN  nfPessoa  (NOLOCK) ON nfPessoa.pesCNPJCPF = nfCedente.pesCNPJCPF
LEFT JOIN nfagente  (NOLOCK) ON operacaoStruc.agecodigo = nfagente.agecodigo and nfagente.empcodigo = operacaoStruc.empcodigo
LEFT JOIN  nfPessoa as agentepessoa  (NOLOCK)  ON agentepessoa.pesCNPJCPF = nfAgente.pesCNPJCPF
INNER JOIN nfIdentificadorGlobal  (NOLOCK) ON operacaoStruc.idgCodigo = nfIdentificadorGlobal.idgCodigo
LEFT JOIN nfCedenteParametroOperacao  (NOLOCK) ON nfCedenteParametroOperacao.cedCodigo = nfCedente.cedCodigo AND nfCedenteParametroOperacao.empCodigo = nfCedente.empCodigo AND nfCedenteParametroOperacao.cpoDataFimVigencia IS NULL
INNER JOIN nfFocoNegocio  (NOLOCK) ON nfFocoNegocio.fneCodigo = nfIdentificadorGlobal.fneCodigo 
WHERE 1 = 1 AND operacaoStruc.opeStatus in ( 61, 71 )
and operacaoStruc.opedata between '2017-01-01' and '2017-06-25'
AND (operacaoStruc.opeCodigoCobranca IS NULL OR operacaoStruc.opeCodigoCobranca = 0) 


*/
/*
-- DESCONTO DO NETFACTOR ---------
	INSERT	COMERCIAL_PRODUCAO
declare  @DTINI datetime declare @DTFIM  datetime set  @DTINI ='20170201' set @DTFIM ='20170228'
	select	 'D',
			--NUM_OPE	DT_BASE	VLR_OP	VLR_PARC	VLR_PRESENTE
			--    operacaoStruc.empCodigo as EMP,
         opeCodigo,opeData , opeTotalBruto, 0.0,opeTotalBruto - opeTotalDesagio,
		--	borCODIGO ,borDATA, borVALOR,0.0,0.0,
--       ingvalordeface  as VLR_OP, 0.0, INGLIQUIDO  AS VLR_PRESENTE,
--       INGDOCUMENTO  AS 'NUM TIT',       INGDATAOPE  AS 'DATA OPER',     

--	VLR_RECEITA,VLR_FUTURO,VLR_LIBERADO,VLR_TC,VLR_TARIFA,VLR_IOF,  ********
-- RECEITA, LIBERADO CALCULAR APOS opeTotalBruto-opTotalDesagio-   .  JUROS OpeTotalDesagio
	opeTotalDesagio,		OpeTotalBruto, 0.0	, 0.0	 ,	opeTotalTarifaCobranca,	opeTotalIOF	,
-- opeTotalLiquido NOK, faltam valores, calcular

--	VLR_FIPE,SCORE,
	0.0,'',

--	PRAZO,PLANO,TAXA,RETORNO,TAXA_SEM_RET,
--	opePrazoMedioDMaisFaixaDesagio ou opePrazoMedioDMais ++ ou  opePrazoMedio
	opePrazoMedioDMais,opePrazoMedioDMais/30.0,opeDesagioFator ,0.0,opeFatorEfetivo,

--ATRASO,dtVencParc,DT_PAGTO,RENEGOCIADO,RATING,
	0,'', '', 0,'',		--	INGDATALIQUIDACAO    IDGCODIGO

	--  CODCLI,CODPROD,CODMODA,AGENTE,VEICULO,  
	--       operacaoStruc.cedCodigo as CED, operacaoStruc.agecodigo, nfPessoa.pesnome as 'NOME CEDENTE',  INGDATALIQUIDACAO AS 'DATA LIQ',INGDESAGIO AS 'DESAGIO', agentepessoa.pesNome as 'AGENTE'
	cedCodigo,empCodigo,	CASE WHEN empCodigo=2 THEN 2 ELSE idgCodigo END , agecodigo, '',

	--  CODOPER,CODLOJA,ANO_MODELO,TX_X_VLR,PRZ_X_VLR,BORDERO
	0,0,'',opeTotalBruto*opeDesagioFator,  opeTotalBruto*opePrazoMedioDMais ,'',

	--	FX_ANO,FX_PLANO,NVL_RISCO,	PLANO_X_VLR,TAXA_AA,TX_AA_X_VLR
	'','','',	opePrazoMedioDMais*opeTotalBruto ,opeDesagioFator,opeDesagioFator*opeTotalBruto
	,0.0,0.0		-- INCLUI 6/9/17  TX CET 
	,0.0,0.0		-- INCLUI 13/9/17
--	SELECT * 
FROM	NETFACTOR..nfOperacao  (NOLOCK) 
WHERE	opeStatus IN ( 61, 71 )				-- EFETIVADAS
	AND opeData BETWEEN  @DTINI AND @DTFIM 
	AND (opeCodigoCobranca IS NULL OR opeCodigoCobranca = 0) 
	AND	EMPCODIGO IN ( 1,2) -- SANTANA SEM FIDC , FIDIC EMPRESA 2
	AND CONVERT(FLOAT,IDGCODIGO) IN (SELECT		CONVERT(FLOAT,COD_MODA) 
										FROM	TModa_tipo_prod	(NOLOCK)	WHERE COD_PROD='D' )

SELECT cedValorLimiteCreditoCheque,*  FROM	NETFACTOR..nfcedente (NOLOCK) 

cedValorLimiteCreditoCheque	ID	cedCodigo	pesCNPJCPF	idgCodigo	cedContratoNumero	cedContratoData	cedFomentoSaldoDevedor	empCodigo	cedObservacao	filFiltro	cedSimples	hisCodigo	cedRubricaOperacaoAtivo	cedRubricaOperacaoCobranca	cedRubricaOperacaoCaucao	cedRubricaPassivo	cedRubricaDespesa	cedAbaterIRRF	cedIRRFAcumulado	cedAbaterRetidos	ageCodigo	cedMsgDocControle	cedValorLimiteCreditoCheque	cedValorLimiteCreditoDuplicata	cedValorLimiteCreditoSacadoCheque	cedValorLimiteCreditoSacadoDuplicata	cedSacadorPadrao	cccCodigo	cedTotalPendencias	cedInstrucaoCobranca	cedEmiteBoleto	cedDataConnstEmpresa	cedValorDoc	cedValorTed	cedIncentIssqn	cedNaoCobraCpmf	cedGerarTarifaAuto	scoCodigo	cedprazoAtrasoPonderado	cedRubricaContaGrafica	cglHisCodigo	cedEmailEnvioDocumento	cedContadorNome	cedContadorCRC	cedContadorCPF	cedSacadorPadraoCNPJCPF	cedEmailEnvioEfetivacao	cedEnviarConsultaTitulosIntegracao	desconsideraCedOuvidoria	cedContato	cedPercComissao	cedClassificacao	cedDataInclusao	cedUsuarioInclusao	cedCodime	cedLimiteControleSecuritizacaoValor	cedLimiteControleSecuritizacaoPeriodo	cedRecompraTaxaMulta	cedContabilidadeContaTransferencia	usuarioUltimaAlteracao	alteracaoViaCadastro	cedSerasaMonitoreValorSaldoDevedorGerenciamento	cedSerasaMonitorePrazo	cedSerasaGru_ID	cedSerasaPer_ID	cedSerasaMonitoreValorSaldoDevedorSacadoCNPJ	cedSerasaMonitoreValorSaldoDevedorSacadoCPF	cedPercentualMulta	cedConsideraInstrucaoSegundaVia	cedNaoProtetar	cedIsentoInscricaoEstadual	cedAutorizacaoCarga	cedPorte	cedTipodeSociedade	cedNaoContabilizaComprova	cedNaoGeraPendenciaEmissaoBoleto	cgr_id	cedOcultarCausaRejeicoes	usuAgenteChecagem	cedQtdeDiasChecagem	cedPriorizarPainelChecagem	usuLogin1	usuLogin2	usuLogin3	usuLogin4	usuLogin5	cedObrigarMonitoramentoNfe	cedAlterarValoresOutraEmpresa	cnaeCodigo	cedNPLimiteData	cedNPLimiteValor	cedNPLimitePrazo	cedImprimeNPLimite	conCodigo	cedCalcularImpostosRetidosOpe	cedNPGarantiaLimiteValor	ID_Importacao	cedNaoCobrarTarifaEmailComunicadoSacado	cedTarifaEmailComunicadoSacado	cedDesconsideraTxBoletoCartorio	cedDesconsiderarAbatimentoDiferenteArqRetorno	cedPermitirLigarNfeOperacaoEfetivada	cedDesagioBaseCalculo	cedComissaoBase	cedConglomeradoEconomico	cedNumMinAprovacao	cedTarifaAssinaturaDigital	cedDesconsiderarTarifaAssinaturaDigital	cedTarifaMonitorNFe	cedDesconsiderarTarifaMonitorNFe	ratID	cedNaoCobrarTarifaARComunicadoSacado	cedTarifaARComunicadoSacado	cedEmailPendencia	cedNaoEnviarBoletoEmail	cedTaxaComissionamento	cedTcValorProducao	cedNaoPagarComissao
0.00	3	3	07105038000178	010101  	0	1969-12-31 00:00:00.000	NULL	2	NULL	NULL	0	NULL	NULL	NULL	NULL	NULL	NULL	1	NULL	0	6		0.00	0.00	0.00	0.00		94	NULL		0	NULL	0.00	0.00	0	0	0	NULL	NULL	NULL	NULL							0	0		0.00		2016-11-28 00:00:00.000	master	NULL	0.00		0.00	NULL	SOLANGE	1	0.00	0	0	0	0.00	0.00	0.00	0	0	0	0	11	2	0	0	0	0	EDSON	0	0	CINTIA	0	0	0	0	0	0	2219600	1969-12-31 00:00:00.000	0.00	0	0	0	0	0.00	NULL	0	0.00	0	0	0	0.00	0.00		0	0.00	0	0.00	0	1	NULL	NULL	NULL	NULL	NULL	NULL	NULL
cedClassificacao, cedFomentoSaldoDevedor

select  PPSCORING  		from CDCSANTANAMicroCredito..coper  (NOLOCK), PROPWEBSMC..cprop  (NOLOCK)
		where OPNRPROP = PPNRPROP  and OPNROPER= COMERCIAL_PRODUCAO.NUM_OPE 
							and OPDTBASE >= '2014-01-01' 	

select  *  		from CDCSANTANAMicroCredito..cclie  (NOLOCK) where clnomecli like 'frm%'
select  ppscoring,*  		from PROPWEBSMC..cprop  (NOLOCK) where ppcodcli='04048863000190'
PPNRPROP	PPNROPER
941508200	3641000912
-- operacoes no funcao antigas 2016 15

SELECT *  FROM	NETFACTOR..nfBordero (NOLOCK) 

SELECT *  FROM	NETFACTOR..nfCedenteContato (NOLOCK) 
SELECT *  FROM	NETFACTOR..nfCedenteContratoMatriz (NOLOCK) 
-- vazio
SELECT *  FROM	NETFACTOR..nfCedenteEvento (NOLOCK) 
SELECT *  FROM	NETFACTOR..nfCedenteAssina (NOLOCK) 

-- CED ClcLimiteValor max(clcDataInicioVigencia) and clcDataFimVigencia=NULL
SELECT *  FROM	NETFACTOR..nfCedenteLimiteCredito (NOLOCK) 
campo clcLimiteValor
SELECT *  FROM	NETFACTOR..NET_DADOS_TELA (NOLOCK) 
SELECT *  FROM	NETFACTOR..Results (NOLOCK) 
dbo.Results
NET_DADOS_TELA
-- dbo.nfAgente PJ sem NOMES
SELECT *  FROM	NETFACTOR..nfAgente (NOLOCK) 
SELECT *  FROM	NETFACTOR..netCedenteAgente (NOLOCK) 

SELECT *  FROM	NETFACTOR..netCedenteGrupo (NOLOCK) 
cgr_id	cgrDescricao	cgrLimiteCredito	usuLogin	cgrObservacao	cgrDataModificacao
1	FIBRAN - FIBBER	140000.00	solange		2017-01-03 00:00:00.000
15

-- vazios
SELECT *  FROM	NETFACTOR..NETBOAVISTATEMP (nolock)
SELECT *  FROM	NETFACTOR..NetConsultaOrgaoCredito (nolock)
SELECT *  FROM	NETFACTOR..netContaCorrenteCaixaContratoCredito (nolock)
SELECT *  FROM	NETFACTOR..NetEmailCanhotoPendentes (nolock)
SELECT *  FROM	NETFACTOR..netFichasCadastraisPJTemp (nolock)
SELECT *  FROM	NETFACTOR..netFichasCadastraisTemp (nolock)
SELECT *  FROM	NETFACTOR..netFirmasPoderesAssinatura (nolock)
SELECT *  FROM	NETFACTOR..netGrupoCedenteDadosCedentePadrao (nolock)
SELECT *  FROM	NETFACTOR..netGrupoSacadoDadosSacadoPadrao (nolock)
use NETFACTOR
SELECT *  FROM	dbo.netMonitorFinanceiroHistorico (nolock)
-- conteudos 100
SELECT *  FROM	dbo.NetOperacaoAgrupamento (nolock) order by agr_id
-- vazio
SELECT *  FROM	dbo.NetParametroEmailCanhotoPendente (nolock)
-- 8 fxs de rating a,b,...
SELECT *  FROM	dbo.NetRating (nolock)  
-- 2
SELECT *  FROM	netSacadoGrupo (nolock)  
-- saldo por SACADO
SELECT *  FROM	dbo.NetSaldoCarteiraDiario (nolock)  
-- vazio
SELECT *  FROM	dbo.netscpcresposta (nolock)  
-- BORDERO  *********************
SELECT *  FROM	dbo.nfBordero (nolock)  
SELECT *  FROM	dbo.nfBorderoTitulos (nolock)  

-- cedente
SELECT *  FROM	dbo.nfCedente (nolock)  
SELECT *  FROM	dbo.nfCedenteContaCorrente (nolock)  
-- vazio
SELECT *  FROM	dbo.nfCedenteEvolucaoSaldoDevedor (nolock)  
-- 7 reg
SELECT *  FROM	dbo.nfCedenteFiador (nolock)  

-- cta grafica 1 reg empr 1
SELECT *  FROM	dbo.nfCedenteContaGrafica (nolock)  
SELECT *  FROM	dbo.nfCedenteContaGraficaLancamento (nolock)  
SELECT *  FROM	dbo.nfCedenteLimiteCredito (nolock)  
SELECT *  FROM	dbo.nfCedenteParametroOperacao (nolock)  
SELECT *  FROM	dbo.nfConsultaSerasa (nolock)  
SELECT max(sconsData)  FROM	NETFACTOR..nfConsultaSerasa (nolock)  
2017-11-13 00:00:00.000 -- hoje
-- ver string Serasa   campo retLinhaSerasa

-- cc bancos
SELECT *  FROM	dbo.nfContaCorrenteCaixa (nolock)  

-- vazio
SELECT *  FROM	dbo.nfcontacorrentecaixaCarteira (nolock)  
SELECT *  FROM	dbo.nfEtiqueta (nolock)  
SELECT *  FROM	dbo.nfFluxoCaixaRelatorio (nolock)  
SELECT *  FROM	dbo.nfFornecedor (nolock)  
SELECT *  FROM	dbo.nfFornecedorContaCorrente (nolock)  
-- 60 descr movimento bancarios e contabil
SELECT *  FROM	dbo.nfHistorico (nolock)  

SELECT *  FROM	dbo.nfMovimentacao (nolock)  
-- score de pzo aa,a,b,c,d,e
SELECT *  FROM	dbo.nfParametroScore (nolock)    
SELECT *  FROM	dbo.nfPessoaContaCorrente (nolock)    

-- vazio
SELECT *  FROM	dbo.nfSacadoEvolucaoSaldoDevedor (nolock)   
-- 2007 reg limite valor 0 
SELECT *  FROM	dbo.nfSacadoLimiteCredito (nolock)    
-- 50 situacoes de credito/ cobrança / contabil
SELECT *  FROM	dbo.nfSituacao (nolock)    
-- grupo de usuarios
SELECT *  FROM	dbo.obGrupo (nolock)    

dbo.obGrupo
-- CPF E CC CAD
SELECT *  FROM	NETFACTOR..nfPessoaContaCorrente (nolock)    

*/

-- OPERADORES
-- DECLARE @DTREF DATETIME SET @DTREF='20170228'
/*
UPDATE		CML_PDV 
	SET		NOM_OPERADOR = OPER_NOM,
			SLD_DEVEDOR_CDC = 0.0
--	FROM	FinSGRDBS..tb_oper (NOLOCK)
--			select *
*/
--		declare @DTREF datetime set @DTREF='20170228'
UPDATE		CML_PDV 
	SET		NOM_OPERADOR = (select	PesNome
							from	NETFACTOR..nfPessoa as agentepessoa  (NOLOCK)  
							where	AgentePessoa.pesCNPJCPF = (
									Select  Max(pesCNPJCPF)
									FROM	NETFACTOR..nfAgente  (NOLOCK)
									WHERE	ageCodigo = COD_OPERADOR )  )
	WHERE	DT_FECHA	 = @DTREF

--  select * from NETFACTOR..nfPessoa as agentepessoa  (NOLOCK)  ON agentepessoa.pesCNPJCPF = nfAgente.pesCNPJCPF
-- SELECT * FROM NETFACTOR..NFagente  (NOLOCK) ON operacaoStruc.agecodigo = nfagente.agecodigo and nfagente.empcodigo = operacaoStruc.empcodigo
-- LEFT JOIN NETFACTOR..nfagente  (NOLOCK) ON operacaoStruc.agecodigo = nfagente.agecodigo and nfagente.empcodigo = operacaoStruc.empcodigo
-- SELECT * FROM   nfPessoa  (NOLOCK) ON nfPessoa.pesCNPJCPF = nfCedente.pesCNPJCPF
-- SELECT * FROM	CML_PDV (NOLOCK) WHERE	DT_FECHA	 = '20170228'
-- SELECT * FROM	NETFACTOR..nfCedente (NOLOCK) WHERE CEDCODIGO=472
-- SELECT * FROM	NETFACTOR..nfCedenteLimiteCredito (NOLOCK) WHERE CEDCODIGO=472


--		LIMITE DE CREDITO ************************************
--		declare @DTREF datetime set @DTREF='20170228'
UPDATE		CML_PDV 
	SET		LIMITE = (Select	L.ClcLimiteValor
						FROM	NETFACTOR..nfCedenteLimiteCredito L (NOLOCK) 
						WHERE	L.CedCODIGO = COD_CEDN
						  And	L.clcDataFimVigencia IS NULL 
						  AND	L.clcDataInicioVigencia = (SELECT MAX(L1.clcDataInicioVigencia)
								FROM	NETFACTOR..nfCedenteLimiteCredito L1 (NOLOCK) 
								WHERE	L1.CedCODIGO = COD_CEDN)  )
	WHERE	DT_FECHA	 = @DTREF
-- CED ClcLimiteValor max(clcDataInicioVigencia) and clcDataFimVigencia=NULL
-- SELECT *  FROM	NETFACTOR..nfCedenteLimiteCredito (NOLOCK)  WHERE CEDCODIGO=93 AND clcDataFimVigencia IS NULL

/*
OpeTotalMoeda
SELECT Op.*,I.* FROM NETFACTOR..nfOperacao Op  (NOLOCK)
INNER JOIN  NETFACTOR..nfIngressos I (NOLOCK) on I.opecodigo =  Op.opecodigo

ingDataliquidacao	ingValorPrincipalRecebido  ingValorDeFaceOriginal
2017-01-19 00:00:00.000	517.00					517.00

*/


-- ******************** SALDO DEVEDOR NETFACTOR ??
-- VARIOS TITULOS EM ABERTO
-- TABELA AUXILIAR DE SALDOS
/*
-- ANTIGA
-- CREATE TABLE AUX_SALDO_DEVEDOR  (OPER_COD INT, CEDNTE_CEDN INT, QTDE INT, VALOR FLOAT)

sp_help AUX_SALDO_DEVEDOR2
DROP   TABLE AUX_SALDO_DEVEDOR2
CREATE TABLE AUX_SALDO_DEVEDOR2  (EMPRESA INT, OPER_COD INT, CEDNTE_CEDN INT, QTDE INT, VALOR FLOAT)

SELECT * FROM AUX_SALDO_DEVEDOR2
*/
-- declare @DTREF DATETIME SET @DTREF ='20170530'
DECLARE @DT_INI DATETIME 
SET		@DT_INI =  CONVERT(VARCHAR(4),DATEPART(YYYY,@DTREF))+'0101'  -- INICIO DO ANO CORRENTE

-- CALCULA O SALDO DEVEDOR ************ CARTEIRA
TRUNCATE TABLE   AUX_SALDO_DEVEDOR2
INSERT			 AUX_SALDO_DEVEDOR2
SELECT			O.empCodigo,  -- EMPRESA
				O.opecodigo,  -- COD OPERACAO
				O.cedCodigo,  -- CEDENTE
				-- considerar o VALOR do TITULO pendente
				SUM(ingValordeFace)  ,
				SUM(CASE WHEN INGDATALIQUIDACAO IS NOT NULL AND INGDATALIQUIDACAO<= @DTREF THEN INGLIQUIDO
						 ELSE 0.0 END) --  VLR PAGO  NO SLD_DEVEDOR  
--     INGLIQUIDO  AS 'VALOR LIQ',
FROM		NETFACTOR..nfOperacao   AS O (NOLOCK)
INNER JOIN  NETFACTOR..nfIngressos I (NOLOCK) ON I.opecodigo =  O.opecodigo
	WHERE	O.opeStatus IN ( 61, 71 )
		And O.opedata Between @DT_INI and @DTREF
		AND (O.opeCodigoCobranca IS NULL OR O.opeCodigoCobranca = 0) 
GROUP BY		O.empCodigo,  -- EMPRESA
				O.opecodigo,  -- COD OPERACAO
				O.cedCodigo   -- CEDENTE


/*
INNER JOIN  NETFACTOR..nfEmpresa  (NOLOCK) ON nfEmpresa.empCodigo = operacaoStruc.empCodigo
INNER JOIN  NETFACTOR..nfCedente  (NOLOCK) ON nfCedente.cedCodigo = operacaoStruc.cedCodigo AND nfCedente.empCodigo = operacaoStruc.empCodigo
INNER JOIN  NETFACTOR..nfPessoa  (NOLOCK) ON nfPessoa.pesCNPJCPF = nfCedente.pesCNPJCPF
LEFT JOIN  NETFACTOR..nfagente  (NOLOCK) ON operacaoStruc.agecodigo = nfagente.agecodigo and nfagente.empcodigo = operacaoStruc.empcodigo
LEFT JOIN  NETFACTOR..nfPessoa as agentepessoa  (NOLOCK)  ON agentepessoa.pesCNPJCPF = nfAgente.pesCNPJCPF
INNER JOIN NETFACTOR..nfIdentificadorGlobal  (NOLOCK) ON operacaoStruc.idgCodigo = nfIdentificadorGlobal.idgCodigo
LEFT JOIN  NETFACTOR..nfCedenteParametroOperacao  (NOLOCK) ON nfCedenteParametroOperacao.cedCodigo = nfCedente.cedCodigo AND nfCedenteParametroOperacao.empCodigo = nfCedente.empCodigo AND nfCedenteParametroOperacao.cpoDataFimVigencia IS NULL
INNER JOIN NETFACTOR..nfFocoNegocio  (NOLOCK) ON nfFocoNegocio.fneCodigo = nfIdentificadorGlobal.fneCodigo 
WHERE 1 = 1 AND operacaoStruc.opeStatus in ( 61, 71 )
and operacaoStruc.opedata between '2017-01-01' and '2017-06-25'
AND (operacaoStruc.opeCodigoCobranca IS NULL OR operacaoStruc.opeCodigoCobranca = 0) 
*/


/*
TRUNCATE TABLE   AUX_SALDO_DEVEDOR
INSERT			 AUX_SALDO_DEVEDOR
USE NETFACTOR
-- VAZIO
SELECT * FROM netCedenteFirmasPoderesDocumento
SELECT * FROM netCedenteGrupo
-- 15 GRUPOS COM LIMITE CREDITO
-- VAZIO
SELECT * FROM netCedenteRiscoCedenteCoafDocumentosContratos
SELECT * FROM netConciliacao
SELECT * FROM dbo.netConciliacaoDetalhe
SELECT * FROM dbo.NetConsultaOrgaoCredito
SELECT * FROM dbo.netContaCorrenteCaixaContratoCredito
SELECT * FROM dbo.NetContaCorrenteCustoDebitos
SELECT * FROM dbo.NetContaCorrenteCustoEvento
SELECT * FROM dbo.NetContaCorrenteCustoTipoPapel

-- VAZIO
SELECT * FROM dbo.netDocumentoMonitorAssinatura
SELECT * FROM dbo.NetDocumentosPoc

-- VAZIO
SELECT * FROM dbo.netIngressoDocumento
SELECT * FROM dbo.netObservacaoControladoria
-- 35 REG PDFs
SELECT * FROM dbo.netOperacaoDocumentos
-- VAZIO
SELECT * FROM dbo.netPagadoria

-- VAZIO
SELECT * FROM dbo.netParametroDocumentoTitulo
SELECT * FROM dbo.netParametroDocumentoTituloCedente
SELECT * FROM NetParametroEmailCanhotoPendente
SELECT * FROM dbo.NetDocumentosPoc
SELECT * FROM dbo.netPocHistorico

SELECT * FROM dbo.netTituloDocumento

-- VAZIO
SELECT * FROM dbo.nfCedenteContaCobranca
SELECT * FROM dbo.nfCedenteContaCorrente  -- ID BCO
SELECT * FROM dbo.nfCedenteContaGrafica
SELECT * FROM nfCedenteContaGraficaLancamento  -- CUSTAS E PROTESTOS, DESPESAS

-- VAZIO
SELECT * FROM dbo.nfCedenteEvolucaoSaldoDevedor
... 
SELECT * FROM dbo.nfConciliacao
... 
SELECT * FROM dbo.nfContaCorrenteCaixa  -- 10 CTA BCO CX
... 
SELECT * FROM dbo.nfDocumentoEnviado  -- 300 REG ENVIOS EMAIL DOCs DESCRICAO

SELECT * FROM dbo.nfHistorico
SELECT * FROM dbo.nfMovimentacao  -- 57K REG DTA DESCR MOV
SELECT * FROM dbo.nfOperacaoDocumento

SELECT * FROM netOperacaoPendenciaDesconto

-- 43K REG RELATORIOS LOGINS E CAMPOS
SELECT * FROM dbo.NET_DADOS_TELA
SELECT * FROM dbo.netTarifaMonitorNFePendencia

-- relatorio PENDENCIA = conta corrente ATT, codigo ruim
SELECT * FROM NETFACTOR..nfPendencia (nolock)  where rcpcodigo=86
SELECT * FROM NETFACTOR..nfReciboPendencia (nolock) where rcpcodigo=86
SELECT * FROM NETFACTOR..nfReciboPendenciaPendencia (nolock) where rcpcodigo=86
-- id teste
SELECT * FROM NETFACTOR..nfPendencia (nolock)  where id=286
SELECT * FROM NETFACTOR..nfReciboPendencia (nolock) where id=286
--SELECT * FROM NETFACTOR..nfReciboPendenciaPendencia (nolock) where id=286

-- pencod OK *****************
SELECT * FROM NETFACTOR..nfPendencia (nolock)  where pencodigo=989
-- liquidada 2017-02-24 00:00:00.000  penData 2017-01-20 00:00:00.000
SELECT * FROM NETFACTOR..nfReciboPendencia (nolock) where rcpcodigo=86
-- coerente, penDataLiquidacao=rpcData  , ced=ced codigo, empresa =
SELECT * FROM NETFACTOR..nfReciboPendenciaPendencia (nolock) where rcpcodigo=86 and pencodigo=989


SELECT * FROM NETFACTOR..nfPendencia (nolock)  where penDataLiquidacao is null

USE SIG
*/

-- CREATE TABLE AUX_SALDO_DEVEDOR2  (OPER_COD INT, CEDNTE_CEDN INT, QTDE INT, VALOR FLOAT)
-- ATUALIZA O SALDO DEVEDOR NETFACTOR  *********************** NOV-17
UPDATE		CML_PDV 
	SET		SLD_DEVEDOR_ATT = VLR,
			SLD_DEVEDOR_TTL = VLR + SLD_DEVEDOR_TTL,
			QTD_TITULO = QTD
	FROM	(SELECT		CEDNTE_CEDN, COUNT(*) AS QTD, SUM(QTDE-VALOR) AS VLR
				FROM	AUX_SALDO_DEVEDOR2 (NOLOCK) 
				GROUP BY  CEDNTE_CEDN ) AS AUX
	WHERE	DT_FECHA	 = @DTREF
		AND COD_CEDN	 = CEDNTE_CEDN



-- ATUALIZA O SALDO DEVEDOR NETFACTOR  *********************** NOV-17
-- inclui dados do Conta Corrente
/*
SELECT		* --CEDNTE_CEDN, COUNT(*) AS QTD, SUM(QTDE-VALOR) AS VLR
				FROM	AUX_SALDO_DEVEDOR2 (NOLOCK) 
LEFT  JOIN	( SELECT * FROM 
NETFACTOR..nfPendencia P1 (NoLock) 
where P.penDataLiquidacao IS NULL ) AS P   ON P.EMPCODIGO= I.EMPCODIGO AND P.INGCODIGO = I.INGCODIGO
*/
-- ******************************************************



-- CANHOTOS  **** 
/*
em cobrança >manutenção de ingressos>em aberto>documentos pendentes ingressos avançado.

SELECT * FROM NETFACTOR..nfDocPendTotais (NOLOCK)
SELECT * FROM NETFACTOR..nfIngressos (nolock) where ingDataLiquidacao is null
ingNotaFiscal   P  OU A
ingCanhoto		P  OU A  PEND ACEITE

ingConfirmacaoTipo 1 a 16 status

SELECT * FROM NETFACTOR..nfHistoricoDocumentosIngresso (nolock) 
hisTipoDOC Canhoto de Entrega   hisDocStatus Presente   Ausente HisData 2017-05-10 00:00:00.000
ingCodigo

dbo.nfHistoricoDocumentosIngresso
SELECT * FROM NETFACTOR..nfParametroControleDocumento (nolock) 
ctrTipoId
*/
-- DECLARE @data_ini DATETIME SET @data_ini='20150401'  DECLARE @DTREF DATETIME SET @DTREF='20150524' 
-- SELECT * FROM AUX_SALDO_DEVEDOR
-- DECLARE @DTREF DATETIME SET @DTREF ='20150830'
TRUNCATE TABLE   AUX_SALDO_DEVEDOR2
INSERT		AUX_SALDO_DEVEDOR2
SELECT		I.EMPCODIGO,
			I.INGCODIGO, 
			I.cedCODIGO,
			-- AUXILIAR EM QTDE ESTOCAR O NUMERO DO TITULO
			0.0 AS QTDE,
			I.ingValordeFace   AS SLD_DEVEDOR
 FROM	(SELECT *   FROM NETFACTOR..nfIngressos   (NOLOCK)
			WHERE	IngDATAope <= 	@DTREF		-- NO MOVIMENTO DO PERIODO, SEM LIQ
				AND (IngDATAliquidacao IS NULL	OR IngDATAliquidacao >=@DTREF)
				AND  IngCanhoto	='A' 	) AS I   -- SOMENTE CANHOTOS RECEBIDOS

--		AND ( tb_titlo.CtlCART_cod = 11)	 -- somente cart 11 *********** alterado 23/03/2016
--		 and TB_TITLO.EMP_COD = 1
		--	and tb_titlo.operc_cod = 99 --AND TB_COB_CLISGR.OPER_COD = 1 POR GERENTE
		-- sem pgtos, sem prejuizo
		-- AND (( tb_titlo.sit_cod > 159 ) or ( tb_titlo.sit_cod < 151 ))
--		and (tb_titlo.titlo_dat_baix IS NULL OR tb_titlo.titlo_dat_baix >=@DTREF)




-- compara os titulos em aberto com os canhotos recebidos
-- DECLARE @DTREF DATETIME SET @DTREF ='20150528'
-- SELECT * FROM AUX_SALDO_DEVEDOR2
-- CANHOTO 
UPDATE		CML_PDV 
	SET		QTD_CANHOTO_REC = D.QTDE
	FROM	(SELECT		D1.cednte_cedn,--COUNT(*) AS QTDE
						SUM(S1.VALOR) AS QTDE -- VLR EM QTDE
				FROM	FinSGRDBS..SgrTblDotDocTitulo D1 (NOLOCK) 
				JOIN	AUX_SALDO_DEVEDOR S1 (NOLOCK)
					ON	S1.cednte_cedn = D1.cednte_cedn
					AND S1.QTDE = D1.Titlo_noss_num  
				WHERE	D1.DocCod=1  -- CANHOTO
				GROUP BY D1.cednte_cedn
				) AS D
	WHERE	CML_PDV.DT_FECHA = @DTREF
		AND CML_PDV.COD_CEDN = D.cednte_cedn

-- SELECT * FROM CML_PDV

/*

SELECT * FROM AUX_SALDO_DEVEDOR
DROP   TABLE CML_PDV 
CREATE TABLE CML_PDV (DT_FECHA DATETIME, COD_CEDN INT, 
NOM_CEDN	 VARCHAR(200),
COD_OPERADOR INT,
NOM_OPERADOR VARCHAR(200),
CNPJ	 VARCHAR(20), --099.999.999/9999-99
TELEFONE VARCHAR(15), 
CONTATO  VARCHAR(40), 
QTD_CANHOTO INT, 
PRC_CANHOTO FLOAT, 
SLD_DEVEDOR_ATT FLOAT,
SLD_DEVEDOR_CDC FLOAT,
SLD_DEVEDOR_TTL FLOAT,
LIMITE			FLOAT,
SLD_DISPONIVEL	FLOAT,
COR_LINHA		VARCHAR(3),
ORDEM_LINHA		INT )

ALTER TABLE CML_PDV ADD QTD_TITULO INT
ALTER TABLE CML_PDV ADD QTD_CANHOTO_REC INT

SELECT *  	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK)
 SELECT distinct CEDNTE_cpfcgc  	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK)
where cednte_situacao='a'	-- 200

SELECT *  	FROM FinSGRDBS..tb_cednte_mck (NOLOCK)
SELECT *  	FROM FinSGRDBS..tb_cob_clisgr (NOLOCK)
-- operadores
select *	FROM FinSGRDBS..tb_oper (NOLOCK)

Ced.	Cedente	Oper.	Telefone	Contato	Canhotos Pendentes Qtde	Canhotos Pendentes     %	 Saldo Devedor Dupls. 	 Saldo Devedor CDC 	 Saldo Devedor Total 	 Limite 	 Saldo Disponível para operar 
118001	ALFA COLLANA SERVIÇOS GRAFICOS LTDA ME                      	2	20622266	Andressa	 0 	4204000%	 47.992 	 -   	 47.992 	 95.000 	 47.008 

*/

-- compara os titulos em aberto com CARTEIRA CHECADA
-- DECLARE @DTREF DATETIME SET @DTREF ='20150528'
-- SELECT * FROM AUX_SALDO_DEVEDOR
UPDATE		CML_PDV 
	SET		PRC_CHECA = CASE WHEN  ISNULL(D.QTDE,0.0) = 0.0 THEN 0.0  -- VALOR CHECADO
							 WHEN  SLD_DEVEDOR_ATT    = 0.0 THEN 0.0 
							 ELSE  D.QTDE / SLD_DEVEDOR_ATT  * 100.0 END
	FROM	(SELECT		D1.cednte_cedn,
						SUM(S1.VALOR) AS QTDE -- VLR EM QTDE
				FROM	FinSGRDBS..SgrTblDotDocTitulo D1 (NOLOCK) 
				JOIN	AUX_SALDO_DEVEDOR S1 (NOLOCK)
					ON	S1.cednte_cedn = D1.cednte_cedn
					AND S1.QTDE = D1.Titlo_noss_num
				WHERE	D1.DocCod=2  -- CHECADA
				GROUP BY D1.cednte_cedn
				) AS D
	WHERE	CML_PDV.DT_FECHA = @DTREF
		AND CML_PDV.COD_CEDN = D.cednte_cedn




-- ******************** SALDO DEVEDOR FUNCAO

-- SLD_DEVEDOR_CDC  clientes q operam em CG Funcao
-- ATUALIZA O SALDO DEVEDOR ATT
-- DECLARE @DTREF DATETIME SET @DTREF = '20150528'
/*
UPDATE		CML_PDV 
	SET		SLD_DEVEDOR_CDC = CDC.VLR,
			SLD_DEVEDOR_TTL = CDC.VLR+SLD_DEVEDOR_TTL
	FROM	(SELECT	OpCodCli,
					SUM(PaVLRPR+PAVLRJR) AS VLR
				FROM	(SELECT		OpNrOPER, OPDTBASE, OpCodCli FROM CDCSANTANAMicroCredito..Coper O1 (nolock) 
							WHERE	(OpDtLIQ IS NULL OR OpDtLIQ >= @DTREF)
								AND OPCODOP IN (302,353,363,553,610,613,643,752,870)
								AND	OPDTBASE <= @DTREF				-- OPERACOES DO PERIODO
							 ) AS O ,
						CDCSANTANAMicroCredito..CParc P (nolock)
				WHERE	OpNrOPER = PaNrOPER
					AND (PADtLIQ IS NULL OR PaDtLIQ >= @DTREF)
					AND PaCNTRL = (SELECT MAX(PaCNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (nolock)
									 WHERE P1.PANROPER = P.PANROPER AND P1.PANRPARC = P.PANRPARC)
					GROUP BY OpCodCli
					) AS  CDC
	WHERE 	DT_FECHA	 = @DTREF
		AND 1 = 0 + CASE WHEN RIGHT(OpCodCli,1) IN ('A','B','C') THEN 0
						 WHEN CNPJ=CONVERT(NUMERIC(18,0),OpCodCli) THEN 1 
						 ELSE 0 END		*/
-- CDC DO FUNÇÃO **************************
UPDATE		CML_PDV 
	SET		SLD_DEVEDOR_CDC = CDC.VLR,
			SLD_DEVEDOR_TTL = CDC.VLR + SLD_DEVEDOR_TTL
	FROM	(SELECT	OpCodCli,
					SUM(PaVLRPR+PAVLRJR) AS VLR
				FROM	(SELECT		OpNrOPER,OPDTBASE,OpCodCli 
							FROM	CDCSANTANAMicroCredito..Coper O1 (nolock) 
							WHERE	(OpDtLIQ IS NULL OR OpDtLIQ >= @DTREF)
								AND OPCODOP IN (302,353,363,553,610,613,643,752,870)
								AND	OPDTBASE <= @DTREF				-- OPERACOES DO PERIODO
							 ) AS O ,
						CDCSANTANAMicroCredito..CParc P (nolock)
				WHERE	OpNrOPER = PaNrOPER
					AND (PADtLIQ IS NULL OR PaDtLIQ >= @DTREF)
					AND PaCNTRL = (SELECT MAX(PaCNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (nolock)
									 WHERE P1.PANROPER = P.PANROPER AND P1.PANRPARC = P.PANRPARC)
					GROUP BY OpCodCli
					) AS  CDC
	WHERE 	DT_FECHA	 = @DTREF
--		AND RIGHT(OpCodCli,1) IN ('A','B','C') 
		AND 1=0+ CASE	WHEN --CNPJ=CONVERT(NUMERIC(18,0),SUBSTRING(OpCodCli,1,LEN(OpCodCli)-1)) THEN 1 
--						CNPJ=(select	replace(replace(clCGC,'.',''),'-','')
-- ALTERADO 11/7/16 ****************
		RIGHT(CNPJ,14)=(select		RIGHT(REPLICATE('0',14)+LTRIM(REPLACE(replace(replace(clCGC,'.',''),'-',''),'/','')),14)
							FROM	CDCSANTANAMicroCredito..cclie (nolock)
							WHERE	OPCODCLI = CLCODCLI)
						THEN 1 
						ELSE 0 END


-- ATUALIZA O LIMITE DE CREDITO DO CEDENTE
UPDATE		CML_PDV 
	SET		LIMITE = VALOR,
			SLD_DISPONIVEL= VALOR - SLD_DEVEDOR_TTL,
			COR_LINHA='',
			ORDEM_LINHA = 1
	FROM	AUX_SALDO_DEVEDOR (NOLOCK)
	WHERE	DT_FECHA	 = @DTREF
		AND COD_CEDN	 = CEDNTE_CEDN

-- TTL POR AGENTE

UPDATE	CML_PDV
SET		QTD_TITULO = 0
WHERE   DT_FECHA	 = @DTREF
	AND QTD_TITULO IS NULL

UPDATE	CML_PDV
SET		QTD_CANHOTO_REC = 0
WHERE   DT_FECHA	 = @DTREF
	AND QTD_CANHOTO_REC IS NULL


UPDATE	CML_PDV
SET		QTD_CANHOTO = 0
WHERE   DT_FECHA	 = @DTREF
	AND QTD_CANHOTO IS NULL

UPDATE	CML_PDV
SET		QTD_CANHOTO = QTD_TITULO - QTD_CANHOTO_REC
WHERE   DT_FECHA	 = @DTREF

-- select * from CML_PDV (nolock) where dt_fecha='20160107'
UPDATE	CML_PDV
SET		PRC_CANHOTO = CASE WHEN SLD_DEVEDOR_ATT = 0.0 THEN 0.0 ELSE QTD_CANHOTO / SLD_DEVEDOR_ATT * 100.0 END
WHERE   DT_FECHA	 = @DTREF
	--AND PRC_CANHOTO IS NULL

UPDATE	CML_PDV
SET		PRC_CANHOTO = 0
WHERE   DT_FECHA	 = @DTREF
	AND PRC_CANHOTO IS NULL

UPDATE	CML_PDV
SET		SLD_DEVEDOR_ATT = 0
WHERE   DT_FECHA	 = @DTREF
	AND SLD_DEVEDOR_ATT IS NULL

UPDATE	CML_PDV
SET		LIMITE = 0
WHERE   DT_FECHA	 = @DTREF
	AND LIMITE IS NULL

-- FECHAMENTO PDD
DECLARE @DT_PDD DATETIME
SET		@DT_PDD = DATEADD(DD,-1,CONVERT(CHAR(4),DATEPART(YYYY,@DTREF))+	
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@DTREF))),2)+ '01')
-- SALDO DO FECHAMENTO PDD  **************
UPDATE	CML_PDV
SET		vlr_carteira_PV =ISNULL(PDD.VLR,0.0)
	FROM	(SELECT		OPCodCli,	SUM(SLD_INSCRITO) AS VLR					
				FROM	(SELECT * FROM	RATING_HISTORICO R1 (NOLOCK) 
								WHERE	DT_FECHA = @DT_PDD ) AS R , 
						(SELECT		OPNROPER, OPCODCLI,OPCODOP FROM CDCSANTANAMicroCredito..Coper O1 (nolock) 
							WHERE	OPDTBASE <= @DTREF				-- OPERACOES DO PERIODO
							) AS O
				WHERE	R.NUM_OPE = OPNROPER
					AND	OPCODOP		IN (302,353,363,553,610,613,643,752,870)  -- CG
			GROUP BY OPCodCli) AS PDD
	WHERE 	DT_FECHA	 = @DTREF
		AND 1 = 0 + CASE 
-- ALTERADO 8/7/16 ****************
WHEN RIGHT(CNPJ,14)=(select RIGHT(REPLICATE('0',14)+LTRIM(REPLACE(replace(replace(clCGC,'.',''),'-',''),'/','')),14)
			 FROM CDCSANTANAMicroCredito..cclie (nolock)
			WHERE OPCODCLI = CLCODCLI)	THEN	1
--WHEN RIGHT(OPCodCli,1) IN ('A','B','C') THEN 0						 WHEN CNPJ=CONVERT(NUMERIC(18,0),OPCodCli) THEN 1 
						 ELSE 0 END

-- SALDO DO FECHAMENTO PDD  **************
UPDATE	CML_PDV
SET		vlr_carteira_PV =ISNULL(PDD.VLR,0.0)
	FROM	(SELECT		OPCodCli,	SUM(SLD_INSCRITO) AS VLR					
				FROM	(SELECT * FROM	PDD_SEM_VEIC R1 (NOLOCK) 
								WHERE	DT_FECHA = @DT_PDD ) AS R , 
						(SELECT		OPNROPER, OPCODCLI,OPCODOP FROM CDCSANTANAMicroCredito..Coper O1 (nolock) ) AS O
				WHERE	R.NUM_OPE = OPNROPER
					AND	OPCODOP		IN (302,353,363,553,610,613,643,752,870)  -- CG
			GROUP BY OPCodCli) AS PDD
	WHERE 	DT_FECHA	 = @DTREF
		AND 1 = 0 + CASE 
-- ALTERADO 8/7/16 ****************
WHEN RIGHT(CNPJ,14)=(select RIGHT(REPLICATE('0',14)+LTRIM(REPLACE(replace(replace(clCGC,'.',''),'-',''),'/','')),14)
			 FROM CDCSANTANAMicroCredito..cclie (nolock)
			WHERE OPCODCLI = CLCODCLI)	THEN	1
--WHEN RIGHT(OPCodCli,1) IN ('A','B','C') THEN 0						 WHEN CNPJ=CONVERT(NUMERIC(18,0),OPCodCli) THEN 1 
						 ELSE 0 END
--		AND ISNULL(vlr_carteira_PV,0.0) = 0.0

-- AJUSTE DO VP = SALDO DO FECHAMENTO PDD - VLR BXS
UPDATE	CML_PDV
SET		vlr_carteira_PV = CASE	WHEN vlr_carteira_PV=0.0 THEN 0.0
								ELSE ISNULL(vlr_carteira_PV,0.0) - ISNULL(CDC.VLR,0.0)
								END
	FROM	(SELECT	OpCodCli,
					SUM(PaVLRPR+PAVLRJR) AS VLR
				FROM	(SELECT		OpNrOPER,OpCodCli FROM CDCSANTANAMicroCredito..Coper O1 (nolock) 
							WHERE	OPDTBASE <= @DTREF				-- OPERACOES DO PERIODO
								AND	(OpDtLIQ IS NULL OR OpDtLIQ >= @DTREF)
								AND OPCODOP IN (302,353,363,553,610,613,643,752,870) ) AS O ,
						CDCSANTANAMicroCredito..CParc P (nolock)
				WHERE	OpNrOPER = PaNrOPER
					AND (PADtLIQ BETWEEN DATEADD(DD,+1,@DT_PDD) AND @DTREF)	-- BXAS NO MES
					AND PaCNTRL = (SELECT MAX(PaCNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (nolock)
									 WHERE P1.PANROPER = P.PANROPER AND P1.PANRPARC = P.PANRPARC)
					GROUP BY OpCodCli
					) AS  CDC
	WHERE 	DT_FECHA	 = @DTREF
		AND 1 = 0 + CASE 
-- ALTERADO 8/7/16 ****************
WHEN RIGHT(CNPJ,14)=(select RIGHT(REPLICATE('0',14)+LTRIM(REPLACE(replace(replace(clCGC,'.',''),'-',''),'/','')),14)
			 FROM CDCSANTANAMicroCredito..cclie (nolock)
			WHERE OPCODCLI = CLCODCLI)	THEN	1
--WHEN RIGHT(OpCodCli,1) IN ('A','B','C') THEN 0						 WHEN CNPJ=CONVERT(NUMERIC(18,0),OpCodCli) THEN 1 
						 ELSE 0 END

-- INCLUIDO *************** 11/07/2016
-- PARCELA
-- AJUSTE DO VP = SALDO DO FECHAMENTO PDD - VLR BXS
UPDATE	CML_PDV
SET		vlr_carteira_PV = ISNULL(C.VLR,0.0)
FROM	(SELECT		O.OPCGCCLI , SUM(P.OPVLRPR+P.OPVLRJR) AS VLR
		 FROM		BACENSANTANAMicroCredito..COPERB O (NOLOCK)
			 JOIN	BACENSANTANAMicroCredito..CPARCB P (NOLOCK) ON (P.OPEMPRESA = O.OPEMPRESA AND P.OPNROPER = O.OPNROPER AND P.OPCODPRD = O.OPCODPRD AND P.OPDTREF = O.OPDTREF)
			WHERE	O.OPDTREF = @DT_PDD
			GROUP BY O.OPCGCCLI) C
WHERE 	DT_FECHA	 = @DTREF
	AND ISNULL(CML_PDV.vlr_carteira_PV,0.0) =0.0-- SOMENTE SE ZERO	
--	AND CML_PDV.vlr_carteira_PV IS NULL  -- SOMENTE SE ZERO	OU NULL
	AND	RIGHT(CML_PDV.CNPJ,14)  =C.OPCGCCLI


-- CALCULO LIMITE_OP = LIMITE - SLD_DEV DESCTO - SLD_DEV  CG SEM GARANTIA ********* COD MOD  353
-- SLD_DEVEDOR_CDC  clientes q operam em CG Funcao
-- DECLARE @DTREF DATETIME SET @DTREF = '20150528'
UPDATE		CML_PDV 
	SET		LIMITE_OP = LIMITE - SLD_DEVEDOR_ATT - ISNULL(CDC.CG_SEM_GARANTIA,0.0)
	FROM	(SELECT	OpCodCli,
					SUM(PaVLRPR+PAVLRJR) AS CG_SEM_GARANTIA
				FROM	(SELECT		OpNrOPER,OpCodCli FROM CDCSANTANAMicroCredito..Coper O1 (nolock) 
							WHERE	OPDTBASE <= @DTREF				-- OPERACOES DO PERIODO
								AND (OpDtLIQ IS NULL OR OpDtLIQ >= @DTREF)  -- CONTRATO NAO LIQUIDADO
								AND OPCODOP IN (353) ) AS O ,				-- CG SEM GARANTIA
						CDCSANTANAMicroCredito..CParc P (nolock)
				WHERE	OpNrOPER = PaNrOPER
					AND (PADtLIQ IS NULL OR PaDtLIQ >= @DTREF)				-- PARCELA NAO PAGA
					AND PaCNTRL = (SELECT MAX(PaCNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (nolock)
									 WHERE P1.PANROPER = P.PANROPER AND P1.PANRPARC = P.PANRPARC)
					GROUP BY OpCodCli
					) AS  CDC
	WHERE 	DT_FECHA	 = @DTREF
		AND 1 = 0 + CASE
-- ALTERADO 8/7/16 ****************
WHEN RIGHT(CNPJ,14)=(select RIGHT(REPLICATE('0',14)+LTRIM(REPLACE(replace(replace(clCGC,'.',''),'-',''),'/','')),14)
			 FROM CDCSANTANAMicroCredito..cclie (nolock)
			WHERE OPCODCLI = CLCODCLI)	THEN	1
-- WHEN RIGHT(OpCodCli,1) IN ('A','B','C') THEN 0						 WHEN CNPJ=CONVERT(NUMERIC(18,0),OpCodCli) THEN 1 
						 ELSE 0 END

-- LIMITE DE CREDITO DO CLIENTE  NETFACTOR *********
-- SP_HELP AUX_SALDO_DEVEDOR2
TRUNCATE TABLE   AUX_SALDO_DEVEDOR2
INSERT		AUX_SALDO_DEVEDOR2
SELECT  
			0, 0,
			cedCodigo,
			0,
			SUM(clcLimiteValor)  -- LIMITE DE CREDITO		
  --  SELECT *
  FROM		NETFACTOR..nfCedenteLimiteCredito (NOLOCK)
	WHERE   CLCdataFIMvigencia IS NULL	 
  GROUP BY  CedCodigo

-- SALDO DA CC DO SISTEMA DE DESCONTO
UPDATE	CML_PDV
SET		SALDOCC = ISNULL(LIMITE,0.0) - ISNULL(SLD_DEVEDOR_ATT,0.0)- ISNULL(vlr_carteira_PV,0.0)
WHERE   DT_FECHA	 = @DTREF



-- **************************************** NOVO NOV NETFACTOR
/*
SP_HELP AUX_SALDO_DEVEDOR2
  DROP  	TABLE AUX_SALDO_DEVEDOR3
  CREATE	TABLE AUX_SALDO_DEVEDOR3  (
			EMPRESA	int,
			OPER_COD	int,
			CEDNTE_CEDN	int,
			--QTDE	int,
			VALOR1	float,			-- DUPLIC, CHEQ, NP
			VALOR2	float,
			VALOR3	float   )

select * from AUX_SALDO_DEVEDOR3
*/
TRUNCATE TABLE AUX_SALDO_DEVEDOR3
INSERT AUX_SALDO_DEVEDOR3
select   DISTINCT 
		 operacaoStruc.empCodigo , --as EMP,
         operacaoStruc.opecodigo , --as 'OPE',
		 --		agentepessoa.pesNome as 'AGENTE',   operacaoStruc.opeData as DATA,
         operacaoStruc.cedCodigo , --as CED,
		 --		TIPO	 	ADIANTA		Outros	FIDC
		 --		operacaoStruc.IDGCODIGO   -- INCLUI
VALOR1= CASE WHEN TIPO.DESCR_TIPO='Duplicatas'	THEN	(OpeTotalBruto) ELSE 0.0 END,
VALOR2= CASE WHEN TIPO.DESCR_TIPO='Cheques'		THEN	(OpeTotalBruto) ELSE 0.0 END,
VALOR3= CASE WHEN TIPO.DESCR_TIPO='DPC' 	THEN	(OpeTotalBruto) ELSE 0.0 END
--       ingvalordeface  as 'VALOR DE FACE'
--		 select *		
FROM NETFACTOR..nfOperacao operacaoStruc  (NOLOCK)
INNER JOIN  NETFACTOR..nfIngressos  (NOLOCK) on nfIngressos.opecodigo =  operacaoStruc.opecodigo
INNER JOIN  NETFACTOR..nfEmpresa  (NOLOCK) ON nfEmpresa.empCodigo = operacaoStruc.empCodigo
INNER JOIN  NETFACTOR..nfCedente  (NOLOCK) ON nfCedente.cedCodigo = operacaoStruc.cedCodigo AND nfCedente.empCodigo = operacaoStruc.empCodigo
INNER JOIN  NETFACTOR..nfPessoa  (NOLOCK) ON nfPessoa.pesCNPJCPF = nfCedente.pesCNPJCPF
LEFT JOIN NETFACTOR..nfagente  (NOLOCK) ON operacaoStruc.agecodigo = nfagente.agecodigo and nfagente.empcodigo = operacaoStruc.empcodigo
LEFT JOIN  NETFACTOR..nfPessoa as agentepessoa  (NOLOCK)  ON agentepessoa.pesCNPJCPF = nfAgente.pesCNPJCPF
INNER JOIN NETFACTOR..nfIdentificadorGlobal  (NOLOCK) ON operacaoStruc.idgCodigo = nfIdentificadorGlobal.idgCodigo
LEFT JOIN NETFACTOR..nfCedenteParametroOperacao  (NOLOCK) ON nfCedenteParametroOperacao.cedCodigo = nfCedente.cedCodigo AND nfCedenteParametroOperacao.empCodigo = nfCedente.empCodigo AND nfCedenteParametroOperacao.cpoDataFimVigencia IS NULL
INNER JOIN NETFACTOR..nfFocoNegocio  (NOLOCK) ON nfFocoNegocio.fneCodigo = nfIdentificadorGlobal.fneCodigo 
INNER JOIN (SELECT	*	FROM	dbo.TModa_tipo_prod	(NOLOCK)	WHERE COD_PROD='D') AS MODA
ON MODA.COD_MODA = CONVERT(FLOAT,operacaoStruc.IDGCODIGO)
INNER JOIN (SELECT	*	FROM	dbo.Ttipo_prod	(NOLOCK)	WHERE COD_PROD='D') AS TIPO
ON MODA.COD_MODALIDADE = TIPO.COD_MODALIDADE
WHERE 1 = 1 AND operacaoStruc.opeStatus in ( 61, 71 )
and operacaoStruc.opedata between @DT_INI and @DTREF
AND (operacaoStruc.opeCodigoCobranca IS NULL OR operacaoStruc.opeCodigoCobranca = 0) 
	AND CONVERT(FLOAT,operacaoStruc.IDGCODIGO) IN (SELECT		CONVERT(FLOAT,COD_MODA) 
										FROM	TModa_tipo_prod	(NOLOCK)	WHERE COD_PROD='D' )

/*		SELECT	*	FROM	TModa_tipo_prod	(NOLOCK)	WHERE COD_PROD='D'
		SELECT	*	FROM	dbo.Ttipo_prod	(NOLOCK)	WHERE COD_PROD='D'
cod_prod	cod_modalidade	descr_tipo	SIGLA	agente
D	100101	ADIANTA	A	NULL
D	101	Duplicatas	NULL	NULL
D	2	FIDC	F	NULL
D	201	Cheques	NULL	NULL
D	303	DPC	NULL	NULL
D	99	Outros	o	NULL
			tb_titlo.titlo_vlr_total  AS SLD_DEVEDOR
		CASE	WHEN O.PARDIV_COD =4		  THEN  2 --'DPC'
				WHEN O.PARDIV_COD IN (3)	  THEN  1 --'CHEQUES'  7 não é mais cheque
				WHEN O.PARDIV_COD IN (2,7,10) THEN  1 --'DUPLICATAS' 7 é duplicata
				ELSE 1
				END, -- PLANO

select * from AUX_SALDO_DEVEDOR3
*/

-- 3 COLUNAS DE VALORES
-- 
UPDATE	CML_PDV
SET		DUPLICATA = ISNULL(D.V1,0.0) ,
		CHEQUE	  = ISNULL(D.V2,0.0) ,
		NP		  = ISNULL(D.V3,0.0)
FROM	(SELECT  --OPER_COD, 
					CEDNTE_CEDN , SUM(VALOR1) AS V1, SUM(VALOR2) AS V2, SUM(VALOR3) AS V3
			FROM AUX_SALDO_DEVEDOR3 D1 (NOLOCK) 	
			GROUP BY --OPER_COD, 
					CEDNTE_CEDN ) AS D
WHERE   DT_FECHA	 = @DTREF
	AND CML_PDV.COD_CEDN = D.cednte_cedn
--	AND	CML_PDV.COD_OPERADOR = D.OPER_COD

END

-- SALDO CC CALCULADO POR CEDENTE  ************************** NOV 17
-- SP_HELP AUX_SALDO_DEVEDOR2
TRUNCATE TABLE   AUX_SALDO_DEVEDOR2
INSERT		AUX_SALDO_DEVEDOR2
SELECT		EMPCODIGO, 0, CEDCODIGO, 
			0,  -- QTDE
			SUM( CASE WHEN penDataliquidacao IS NULL  THEN penValorCorrigido ELSE 0.0 END )  AS SLD_DEVEDOR	-- VLR
 FROM	NETFACTOR..nfPendencia (NoLock) 
 WHERE	penData < = @DTREF
GROUP BY EmpCODIGO,  CedCODIGO

/*

select sum(ingValorTotalRecebidoArqRetorno)--,* 
FROM NETFACTOR..nfOperacao o  (NOLOCK)
INNER JOIN  NETFACTOR..nfIngressos  (NOLOCK) on nfIngressos.opecodigo =  o.opecodigo
 where  o.cedcodigo=200 and ingVencimento <='20170731'
 
54571.64


select sum(OpeTotalBruto) FROM NETFACTOR..nfOperacao o  (NOLOCK) where  cedcodigo=200 
183363.28
select * FROM NETFACTOR..nfOperacao o  (NOLOCK) where  cedcodigo=200 

635.18
select sum(penValorCorrigido) - sum(penValorLiquidado) FROM	NETFACTOR..nfPendencia (NoLock) where cedcodigo=200
select sum(penValorCorrigido) - sum(penValorLiquidado) FROM	NETFACTOR..nfPendencia (NoLock) where cedcodigo=200 order by penData

select * FROM	NETFACTOR..nfPendencia (NoLock) where cedcodigo=200 order by penData
 
penDataliquidacao	penValorliquidado	penData	penValorCorrigido

-- pencod OK *****************
SELECT * FROM NETFACTOR..nfPendencia (nolock)  where pencodigo=989
-- liquidada 2017-02-24 00:00:00.000  penData 2017-01-20 00:00:00.000
SELECT * FROM NETFACTOR..nfReciboPendencia (nolock) where rcpcodigo=86
-- coerente, penDataLiquidacao=rpcData  , ced=ced codigo, empresa =
SELECT * FROM NETFACTOR..nfReciboPendenciaPendencia (nolock) where rcpcodigo=86 and pencodigo=989
*/
-- ZERAR O SALDO CC
UPDATE	CML_PDV
SET		SALDOCC  = 0.0
WHERE   DT_FECHA		 = @DTREF

UPDATE	CML_PDV
SET		SALDOCC  = ISNULL(QTDE,0.0) -  ISNULL(VALOR,0.0) 
FROM	AUX_SALDO_DEVEDOR2 D (NOLOCK) 	
WHERE   DT_FECHA		 = @DTREF
	AND CML_PDV.COD_CEDN = D.cednte_cedn
--	AND	CML_PDV.COD_OPERADOR = D.OPER_COD  ??


-- alterado 9/3/16  ******************    
UPDATE		CML_PDV 
	SET		SLD_DEVEDOR_TTL = 	ISNULL(SLD_DEVEDOR_ATT,0.0) + 	ISNULL(vlr_carteira_PV,0.0),
			LIMITE_OP		=	ISNULL(LIMITE,0.0) - (ISNULL(SLD_DEVEDOR_ATT,0.0) + 	ISNULL(vlr_carteira_PV,0.0))
	WHERE 	DT_FECHA	    =	@DTREF


GO

/*
USE NETFACTOR
SELECT * 
FROM nfOperacao operacaoStruc  (NOLOCK)
INNER JOIN  nfIngressos  (NOLOCK) on nfIngressos.opecodigo =  operacaoStruc.opecodigo
INNER JOIN  nfEmpresa  (NOLOCK) ON nfEmpresa.empCodigo = operacaoStruc.empCodigo
INNER JOIN  nfCedente  (NOLOCK) ON nfCedente.cedCodigo = operacaoStruc.cedCodigo AND nfCedente.empCodigo = operacaoStruc.empCodigo
INNER JOIN  nfPessoa  (NOLOCK) ON nfPessoa.pesCNPJCPF = nfCedente.pesCNPJCPF
LEFT JOIN nfagente  (NOLOCK) ON operacaoStruc.agecodigo = nfagente.agecodigo and nfagente.empcodigo = operacaoStruc.empcodigo
LEFT JOIN  nfPessoa as agentepessoa  (NOLOCK)  ON agentepessoa.pesCNPJCPF = nfAgente.pesCNPJCPF
INNER JOIN nfIdentificadorGlobal  (NOLOCK) ON operacaoStruc.idgCodigo = nfIdentificadorGlobal.idgCodigo
LEFT JOIN nfCedenteParametroOperacao  (NOLOCK) ON nfCedenteParametroOperacao.cedCodigo = nfCedente.cedCodigo AND nfCedenteParametroOperacao.empCodigo = nfCedente.empCodigo AND nfCedenteParametroOperacao.cpoDataFimVigencia IS NULL
INNER JOIN nfFocoNegocio  (NOLOCK) ON nfFocoNegocio.fneCodigo = nfIdentificadorGlobal.fneCodigo 
WHERE 1 = 1 AND operacaoStruc.opeStatus in ( 61, 71 )
and operacaoStruc.opedata between '2017-01-01' and '2017-04-30'
AND (operacaoStruc.opeCodigoCobranca IS NULL OR operacaoStruc.opeCodigoCobranca = 0) 
AND ((INGDATALIQUIDACAO IS NULL) OR  INGDATALIQUIDACAO <= '2017-04-30')
AND operacaoStruc.CEDCODIGO =200


*/
