
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

use SIG
go

/*
EXEC [PDV_CALCULO_LIMITES] '20160201','D'
EXEC [PDV_CALCULO_LIMITES] '20160202','D'
EXEC [PDV_CALCULO_LIMITES] '20160203','D'
EXEC [PDV_CALCULO_LIMITES] '20160204','D'
EXEC [PDV_CALCULO_LIMITES] '20160205','D'

EXEC [PDV_CALCULO_LIMITES] '20160206','D'
EXEC [PDV_CALCULO_LIMITES] '20160207','D'
EXEC [PDV_CALCULO_LIMITES] '20160208','D'
EXEC [PDV_CALCULO_LIMITES] '20160209','D'
EXEC [PDV_CALCULO_LIMITES] '20160210','D'

EXEC [PDV_CALCULO_LIMITES] '20160211','D'
EXEC [PDV_CALCULO_LIMITES] '20160212','D'
EXEC [PDV_CALCULO_LIMITES] '20160213','D'
EXEC [PDV_CALCULO_LIMITES] '20160214','D'
EXEC [PDV_CALCULO_LIMITES] '20160215','D'

EXEC [PDV_CALCULO_LIMITES] '20160216','D'
EXEC [PDV_CALCULO_LIMITES] '20160217','D'
EXEC [PDV_CALCULO_LIMITES] '20160218','D'
EXEC [PDV_CALCULO_LIMITES] '20160219','D'
EXEC [PDV_CALCULO_LIMITES] '20160220','D'

EXEC [PDV_CALCULO_LIMITES] '20160221','D'
EXEC [PDV_CALCULO_LIMITES] '20160222','D'
EXEC [PDV_CALCULO_LIMITES] '20160223','D'

EXEC [PDV_CALCULO_LIMITES] '20160107','D'

EXEC [PDV_CALCULO_LIMITES] '20150805','D'
EXEC [PDV_CALCULO_LIMITES] '20150815','D'
EXEC [PDV_CALCULO_LIMITES] '20150830','D'

EXEC [PDV_CALCULO_LIMITES] '20150518','D'
EXEC [PDV_CALCULO_LIMITES] '20150611','D'

EXEC [PDV_CALCULO_LIMITES] '20150630','D'
EXEC [PDV_CALCULO_LIMITES] '20150731','D'

EXEC [PDV_CALCULO_LIMITES] '20150131','D'
EXEC [PDV_CALCULO_LIMITES] '20150228','D'
EXEC [PDV_CALCULO_LIMITES] '20150331','D'
EXEC [PDV_CALCULO_LIMITES] '20150430','D'
EXEC [PDV_CALCULO_LIMITES] '20150531','D'

EXEC [PDV_CALCULO_LIMITES] '20150802','D'

SELECT * FROM CML_PDV WHERE DT_FECHA= '20150518'

EXEC [PDV_CALCULO_LIMITES] '20150528','D'
SELECT * FROM CML_PDV WHERE DT_FECHA= '20150528'

118001  ALFA COLLANA SERVIÇOS GRAFICOS LTDA ME 12439928000156
tem CG
SELECT * FROM CDCSANTANAMicroCredito..Coper (nolock) WHERE opcodcli = '12439928000156'


CREATE INDEX CML_PDV_IDX1 ON CML_PDV  (DT_FECHA, COD_CEDN)
SP_HELP CML_PDV
SELECT  
			tb_cob_clisgr.oper_cod, 
			tb_titlo.cednte_cedn, --*
			COUNT(tb_titlo.titlo_noss_num) AS QTDE,			SUM(tb_titlo.titlo_vlr_total)  AS SLD_DEVEDOR,
			SUM(tb_titlo.titlo_vlr_moe_tit)
 FROM	FinSGRDBS..tb_titlo (NOLOCK), FinSGRDBS..tb_depend (NOLOCK),
		FinSGRDBS..tb_espc (NOLOCK), FinSGRDBS..tb_sit (NOLOCK), FinSGRDBS..tb_ctlcart (NOLOCK), FinSGRDBS..tb_cednte (NOLOCK),
		FinSGRDBS..tb_cob_clisgr (NOLOCK), FinSGRDBS..sgrtblmoeda (NOLOCK), FinSGRDBS..tb_procob (NOLOCK),
		FinSGRDBS..tb_cob_parger (NOLOCK)
WHERE		( tb_titlo.emp_cod = tb_depend.emp_cod )
		and ( tb_titlo.cednte_dep_agn = tb_depend.depend_cod )
		and ( tb_titlo.emp_cod = tb_espc.emp_cod )
		and ( tb_titlo.espc_cod = tb_espc.espc_cod )
		and ( tb_titlo.sit_cod = tb_sit.sit_cod )
		and ( tb_titlo.ctlcart_cod = tb_ctlcart.ctlcart_cod )
		and ( tb_cednte.emp_cod = tb_titlo.emp_cod )
		and ( tb_cednte.cednte_cedn = tb_titlo.cednte_cedn )
		and ( tb_cob_clisgr.emp_cod = tb_cednte.emp_cod )
		and ( tb_cob_clisgr.clisgr_cod = tb_cednte.cli_cod )
		and ( tb_titlo.emp_cod = sgrtblmoeda.moeempcod )
		and ( tb_titlo.indice_cod = sgrtblmoeda.moecodmoedacli )
		and ( tb_titlo.emp_cod = tb_procob.emp_cod )
		and ( tb_titlo.emp_cod = tb_cob_parger.emp_cod )
		and ( tb_procob.proc_cod = 99)
		and not exists (Select * from FinSGRDBS..tb_cob_instru (NOLOCK)
						where	( tb_cob_instru.emp_cod= tb_titlo.emp_cod)
							and ( tb_cob_instru.cednte_cedn = tb_titlo.cednte_cedn)
							and ( tb_cob_instru.titlo_noss_num = tb_titlo.titlo_noss_num)
							and tb_cob_instru.instru_cod = 90) and TB_TITLO.EMP_COD = 1
						--	and tb_titlo.operc_cod = 99 --AND TB_COB_CLISGR.OPER_COD = 1 POR GERENTE
-- sem pgtos, sem prejuizo
							-- AND (( tb_titlo.sit_cod > 159 ) or ( tb_titlo.sit_cod < 151 ))
AND tb_titlo.cednte_cedn=11001
and (tb_titlo.titlo_dat_baix IS NULL OR tb_titlo.titlo_dat_baix >='20150528')
GROUP BY tb_cob_clisgr.oper_cod,tb_titlo.cednte_cedn


AND tb_titlo.cednte_cedn=14001
titlo_dat_incl_prejuizo 2015-04-30 sit_cod=154
--GROUP BY tb_cob_clisgr.oper_cod,tb_titlo.cednte_cedn

*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PDV_CALCULO_LIMITES' AND type = 'P')
   DROP PROCEDURE [dbo].[PDV_CALCULO_LIMITES]
GO

-- de ate datas PERIODO DE PRODUCAO
CREATE Procedure [dbo].[PDV_CALCULO_LIMITES] (@data_ref as datetime,@PRODUTO as VARCHAR(3)) AS
BEGIN

--DECLARE @DTREF AS VARCHAR(8)
--SET @DTREF = CONVERT(varchar(8),@data_ref,112)
-- INICIO DO MES ANTERIOR
DECLARE @data_ini  as datetime
/*
set @data_ini = CONVERT(CHAR(4),DATEPART(YYYY,DATEADD(M,-3,@data_ref)))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,DATEADD(M,-3,@data_ref)))),2)+ '01'
*/
set @data_ini = '20100101'

DECLARE @DTREF AS DATETIME
SET @DTREF = @data_ref

-- SELECT * FROM CML_PDV (NOLOCK)
-- ALTER TABLE CML_PDV ADD  SLD_DEVEDOR_DUPL FLOAT

DELETE CML_PDV WHERE DT_FECHA= @DTREF

-- CEDENTES
INSERT		CML_PDV (DT_FECHA, COD_CEDN, NOM_CEDN, COD_OPERADOR,CNPJ,TELEFONE,CONTATO,
					QTD_CANHOTO,PRC_CANHOTO,SLD_DEVEDOR_ATT,SLD_DEVEDOR_CDC,SLD_DEVEDOR_TTL,
					LIMITE,SLD_DISPONIVEL,COR_LINHA,ORDEM_LINHA,
					DUPLICATA, CHEQUE, NP	)
	SELECT		@DTREF, cednte_cedn, CEDNTE_NOME, OPER_COD, CEDNTE_cpfcgc ,'','' 	,
				0,0.0,0.0,0.0,0.0,
				0.0,0.0,'',1
				,0.0,0.0,0.0
	FROM		FinSGRDBS..tb_CEDNTE  (NOLOCK)
	JOIN		FinSGRDBS..tb_cob_clisgr (NOLOCK)
	ON			( tb_cob_clisgr.emp_cod		= tb_cednte.emp_cod )
			and ( tb_cob_clisgr.clisgr_cod  = tb_cednte.cli_cod )
	WHERE	cednte_situacao='a'	-- 200

-- OPERADORES
UPDATE		CML_PDV 
	SET		NOM_OPERADOR = OPER_NOM,
			SLD_DEVEDOR_CDC = 0.0
	FROM	FinSGRDBS..tb_oper (NOLOCK)
	WHERE	DT_FECHA	 = @DTREF
		AND COD_OPERADOR = OPER_COD




-- ******************** SALDO DEVEDOR ATT
-- VARIOS TITULOS EM ABERTO
-- TABELA AUXILIAR DE SALDOS
-- CREATE TABLE AUX_SALDO_DEVEDOR  (OPER_COD INT, CEDNTE_CEDN INT, QTDE INT, VALOR FLOAT)
-- CALCULA O SALDO DEVEDOR ************ CARTEIRA
TRUNCATE TABLE   AUX_SALDO_DEVEDOR
INSERT AUX_SALDO_DEVEDOR
SELECT  
			tb_cob_clisgr.oper_cod, 
			tb_titlo.cednte_cedn,
			-- AUXILIAR EM QTDE ESTOCAR O NUMERO DO TITULO
			--COUNT(tb_titlo.titlo_noss_num) AS QTDE,  
			-- considerar o VALOR do TITULO pendente
			SUM(tb_titlo.titlo_vlr_total)  AS QTDE,
			SUM(tb_titlo.titlo_vlr_total)  AS SLD_DEVEDOR
			--SUM(tb_titlo.titlo_vlr_moe_tit)
 FROM	(SELECT * FROM FinSGRDBS..tb_titlo (NOLOCK)
			WHERE	titlo_DAT_ENTR <= 	@DTREF		-- NO MOVIMENTO DO PERIODO, SEM LIQ
--		and (tb_titlo.titlo_dat_baix IS NULL OR tb_titlo.titlo_dat_baix >=@DTREF)
				AND (titlo_DAT_BAIX IS NULL	OR titlo_dat_baix >=@DTREF)
				and EMP_COD = 1	) AS tb_titlo 		, FinSGRDBS..tb_depend (NOLOCK),
		FinSGRDBS..tb_espc (NOLOCK), FinSGRDBS..tb_sit (NOLOCK), FinSGRDBS..tb_ctlcart (NOLOCK), FinSGRDBS..tb_cednte (NOLOCK),
		FinSGRDBS..tb_cob_clisgr (NOLOCK), FinSGRDBS..sgrtblmoeda (NOLOCK), FinSGRDBS..tb_procob (NOLOCK),
		FinSGRDBS..tb_cob_parger (NOLOCK)
WHERE		( tb_titlo.emp_cod = tb_depend.emp_cod )
		and ( tb_titlo.cednte_dep_agn = tb_depend.depend_cod )
		and ( tb_titlo.emp_cod = tb_espc.emp_cod )
		and ( tb_titlo.espc_cod = tb_espc.espc_cod )
		and ( tb_titlo.sit_cod = tb_sit.sit_cod )
		and ( tb_titlo.ctlcart_cod = tb_ctlcart.ctlcart_cod )
		and ( tb_cednte.emp_cod = tb_titlo.emp_cod )
		and ( tb_cednte.cednte_cedn = tb_titlo.cednte_cedn )
		and ( tb_cob_clisgr.emp_cod = tb_cednte.emp_cod )
		and ( tb_cob_clisgr.clisgr_cod = tb_cednte.cli_cod )
		and ( tb_titlo.emp_cod = sgrtblmoeda.moeempcod )
		and ( tb_titlo.indice_cod = sgrtblmoeda.moecodmoedacli )
		and ( tb_titlo.emp_cod = tb_procob.emp_cod )
		and ( tb_titlo.emp_cod = tb_cob_parger.emp_cod )
		and ( tb_procob.proc_cod = 99)
		and not exists (Select * from FinSGRDBS..tb_cob_instru (NOLOCK)
						where	( tb_cob_instru.emp_cod= tb_titlo.emp_cod)
							and ( tb_cob_instru.cednte_cedn = tb_titlo.cednte_cedn)
							and ( tb_cob_instru.titlo_noss_num = tb_titlo.titlo_noss_num)
							and tb_cob_instru.instru_cod = 90) 

--		and TB_TITLO.EMP_COD = 1
		--	and tb_titlo.operc_cod = 99 --AND TB_COB_CLISGR.OPER_COD = 1 POR GERENTE
		-- sem pgtos, sem prejuizo
		-- AND (( tb_titlo.sit_cod > 159 ) or ( tb_titlo.sit_cod < 151 ))
		-- ABERTOS OU LIQUIDADOS NA DATA REF
--		and (tb_titlo.titlo_dat_baix IS NULL OR tb_titlo.titlo_dat_baix >=@DTREF)
GROUP BY 
		tb_cob_clisgr.oper_cod, 
		tb_titlo.cednte_cedn

-- CREATE TABLE AUX_SALDO_DEVEDOR  (OPER_COD INT, CEDNTE_CEDN INT, QTDE INT, VALOR FLOAT)
-- ATUALIZA O SALDO DEVEDOR ATT
UPDATE		CML_PDV 
	SET		SLD_DEVEDOR_ATT = VALOR,
			SLD_DEVEDOR_TTL = VALOR + SLD_DEVEDOR_TTL,
			QTD_TITULO = QTDE
	FROM	AUX_SALDO_DEVEDOR (NOLOCK)
	WHERE	DT_FECHA	 = @DTREF
		AND COD_CEDN	 = CEDNTE_CEDN

-- ******************************************************



-- CANHOTOS
-- DECLARE @data_ini DATETIME SET @data_ini='20150401'  DECLARE @DTREF DATETIME SET @DTREF='20150524' 
-- SELECT * FROM AUX_SALDO_DEVEDOR
-- DECLARE @DTREF DATETIME SET @DTREF ='20150830'
TRUNCATE TABLE   AUX_SALDO_DEVEDOR
INSERT AUX_SALDO_DEVEDOR
SELECT  
			tb_cob_clisgr.oper_cod, 
			tb_titlo.cednte_cedn,
			-- AUXILIAR EM QTDE ESTOCAR O NUMERO DO TITULO
			tb_titlo.titlo_noss_num AS QTDE,
			--tb_titlo.titlo_vlr_total  AS QTDE,
			tb_titlo.titlo_vlr_total  AS SLD_DEVEDOR
			--SUM(tb_titlo.titlo_vlr_moe_tit)
-- FROM	FinSGRDBS..tb_titlo (NOLOCK), FinSGRDBS..tb_depend (NOLOCK),
 FROM	(SELECT * FROM FinSGRDBS..tb_titlo (NOLOCK)
			WHERE	titlo_DAT_ENTR <= 	@DTREF		-- NO MOVIMENTO DO PERIODO, SEM LIQ
--		and (tb_titlo.titlo_dat_baix IS NULL OR tb_titlo.titlo_dat_baix >=@DTREF)
				AND (titlo_DAT_BAIX IS NULL	OR titlo_dat_baix >=@DTREF)
				and EMP_COD = 1	) AS tb_titlo 		, FinSGRDBS..tb_depend (NOLOCK),
		FinSGRDBS..tb_espc (NOLOCK), FinSGRDBS..tb_sit (NOLOCK), FinSGRDBS..tb_ctlcart (NOLOCK), FinSGRDBS..tb_cednte (NOLOCK),
		FinSGRDBS..tb_cob_clisgr (NOLOCK), FinSGRDBS..sgrtblmoeda (NOLOCK), FinSGRDBS..tb_procob (NOLOCK),
		FinSGRDBS..tb_cob_parger (NOLOCK)
WHERE		( tb_titlo.emp_cod = tb_depend.emp_cod )
		and ( tb_titlo.cednte_dep_agn = tb_depend.depend_cod )
		and ( tb_titlo.emp_cod = tb_espc.emp_cod )
		and ( tb_titlo.espc_cod = tb_espc.espc_cod )
		and ( tb_titlo.sit_cod = tb_sit.sit_cod )
		and ( tb_titlo.ctlcart_cod = tb_ctlcart.ctlcart_cod )
		and ( tb_cednte.emp_cod = tb_titlo.emp_cod )
		and ( tb_cednte.cednte_cedn = tb_titlo.cednte_cedn )
		and ( tb_cob_clisgr.emp_cod = tb_cednte.emp_cod )
		and ( tb_cob_clisgr.clisgr_cod = tb_cednte.cli_cod )
		and ( tb_titlo.emp_cod = sgrtblmoeda.moeempcod )
		and ( tb_titlo.indice_cod = sgrtblmoeda.moecodmoedacli )
		and ( tb_titlo.emp_cod = tb_procob.emp_cod )
		and ( tb_titlo.emp_cod = tb_cob_parger.emp_cod )
		and ( tb_procob.proc_cod = 99)
--		AND ( tb_titlo.CtlCART_cod = 11)	 -- somente cart 11 *********** alterado 23/03/2016
		and not exists (Select * from FinSGRDBS..tb_cob_instru (NOLOCK)
						where	( tb_cob_instru.emp_cod= tb_titlo.emp_cod)
							and ( tb_cob_instru.cednte_cedn = tb_titlo.cednte_cedn)
							and ( tb_cob_instru.titlo_noss_num = tb_titlo.titlo_noss_num)
							and tb_cob_instru.instru_cod = 90)
--		 and TB_TITLO.EMP_COD = 1
		--	and tb_titlo.operc_cod = 99 --AND TB_COB_CLISGR.OPER_COD = 1 POR GERENTE
		-- sem pgtos, sem prejuizo
		-- AND (( tb_titlo.sit_cod > 159 ) or ( tb_titlo.sit_cod < 151 ))
--		and (tb_titlo.titlo_dat_baix IS NULL OR tb_titlo.titlo_dat_baix >=@DTREF)




-- compara os titulos em aberto com os canhotos recebidos
-- DECLARE @DTREF DATETIME SET @DTREF ='20150528'
-- SELECT * FROM AUX_SALDO_DEVEDOR
UPDATE		CML_PDV 
	SET		QTD_CANHOTO_REC = D.QTDE
	FROM	(SELECT		D1.cednte_cedn,--COUNT(*) AS QTDE
						SUM(S1.VALOR) AS QTDE -- VLR EM QTDE
				FROM	FinSGRDBS..SgrTblDotDocTitulo D1 (NOLOCK) 
				JOIN	AUX_SALDO_DEVEDOR S1 (NOLOCK)
					ON	S1.cednte_cedn = D1.cednte_cedn
					AND S1.QTDE = D1.Titlo_noss_num  
				WHERE	D1.DocCod=1  -- CANHOTO
				GROUP BY D1.cednte_cedn
				) AS D
	WHERE	CML_PDV.DT_FECHA = @DTREF
		AND CML_PDV.COD_CEDN = D.cednte_cedn

-- SELECT * FROM CML_PDV

/*

SELECT * FROM AUX_SALDO_DEVEDOR
DROP   TABLE CML_PDV 
CREATE TABLE CML_PDV (DT_FECHA DATETIME, COD_CEDN INT, 
NOM_CEDN	 VARCHAR(200),
COD_OPERADOR INT,
NOM_OPERADOR VARCHAR(200),
CNPJ	 VARCHAR(20), --099.999.999/9999-99
TELEFONE VARCHAR(15), 
CONTATO  VARCHAR(40), 
QTD_CANHOTO INT, 
PRC_CANHOTO FLOAT, 
SLD_DEVEDOR_ATT FLOAT,
SLD_DEVEDOR_CDC FLOAT,
SLD_DEVEDOR_TTL FLOAT,
LIMITE			FLOAT,
SLD_DISPONIVEL	FLOAT,
COR_LINHA		VARCHAR(3),
ORDEM_LINHA		INT )

ALTER TABLE CML_PDV ADD QTD_TITULO INT
ALTER TABLE CML_PDV ADD QTD_CANHOTO_REC INT

SELECT *  	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK)
 SELECT distinct CEDNTE_cpfcgc  	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK)
where cednte_situacao='a'	-- 200

SELECT *  	FROM FinSGRDBS..tb_cednte_mck (NOLOCK)
SELECT *  	FROM FinSGRDBS..tb_cob_clisgr (NOLOCK)
-- operadores
select *	FROM FinSGRDBS..tb_oper (NOLOCK)

Ced.	Cedente	Oper.	Telefone	Contato	Canhotos Pendentes Qtde	Canhotos Pendentes     %	 Saldo Devedor Dupls. 	 Saldo Devedor CDC 	 Saldo Devedor Total 	 Limite 	 Saldo Disponível para operar 
118001	ALFA COLLANA SERVIÇOS GRAFICOS LTDA ME                      	2	20622266	Andressa	 0 	4204000%	 47.992 	 -   	 47.992 	 95.000 	 47.008 

*/

-- compara os titulos em aberto com CARTEIRA CHECADA
-- DECLARE @DTREF DATETIME SET @DTREF ='20150528'
-- SELECT * FROM AUX_SALDO_DEVEDOR
UPDATE		CML_PDV 
	SET		PRC_CHECA = CASE WHEN  ISNULL(D.QTDE,0.0) = 0.0 THEN 0.0  -- VALOR CHECADO
							 WHEN  SLD_DEVEDOR_ATT    = 0.0 THEN 0.0 
							 ELSE  D.QTDE / SLD_DEVEDOR_ATT  * 100.0 END
	FROM	(SELECT		D1.cednte_cedn,
						SUM(S1.VALOR) AS QTDE -- VLR EM QTDE
				FROM	FinSGRDBS..SgrTblDotDocTitulo D1 (NOLOCK) 
				JOIN	AUX_SALDO_DEVEDOR S1 (NOLOCK)
					ON	S1.cednte_cedn = D1.cednte_cedn
					AND S1.QTDE = D1.Titlo_noss_num
				WHERE	D1.DocCod=2  -- CHECADA
				GROUP BY D1.cednte_cedn
				) AS D
	WHERE	CML_PDV.DT_FECHA = @DTREF
		AND CML_PDV.COD_CEDN = D.cednte_cedn




-- ******************** SALDO DEVEDOR FUNCAO

-- SLD_DEVEDOR_CDC  clientes q operam em CG Funcao
-- ATUALIZA O SALDO DEVEDOR ATT
-- DECLARE @DTREF DATETIME SET @DTREF = '20150528'
/*
UPDATE		CML_PDV 
	SET		SLD_DEVEDOR_CDC = CDC.VLR,
			SLD_DEVEDOR_TTL = CDC.VLR+SLD_DEVEDOR_TTL
	FROM	(SELECT	OpCodCli,
					SUM(PaVLRPR+PAVLRJR) AS VLR
				FROM	(SELECT		OpNrOPER, OPDTBASE, OpCodCli FROM CDCSANTANAMicroCredito..Coper O1 (nolock) 
							WHERE	(OpDtLIQ IS NULL OR OpDtLIQ >= @DTREF)
								AND OPCODOP IN (302,353,363,553,610,613,643,752,870)
								AND	OPDTBASE <= @DTREF				-- OPERACOES DO PERIODO
							 ) AS O ,
						CDCSANTANAMicroCredito..CParc P (nolock)
				WHERE	OpNrOPER = PaNrOPER
					AND (PADtLIQ IS NULL OR PaDtLIQ >= @DTREF)
					AND PaCNTRL = (SELECT MAX(PaCNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (nolock)
									 WHERE P1.PANROPER = P.PANROPER AND P1.PANRPARC = P.PANRPARC)
					GROUP BY OpCodCli
					) AS  CDC
	WHERE 	DT_FECHA	 = @DTREF
		AND 1 = 0 + CASE WHEN RIGHT(OpCodCli,1) IN ('A','B','C') THEN 0
						 WHEN CNPJ=CONVERT(NUMERIC(18,0),OpCodCli) THEN 1 
						 ELSE 0 END		*/
UPDATE		CML_PDV 
	SET		SLD_DEVEDOR_CDC = CDC.VLR,
			SLD_DEVEDOR_TTL = CDC.VLR + SLD_DEVEDOR_TTL
	FROM	(SELECT	OpCodCli,
					SUM(PaVLRPR+PAVLRJR) AS VLR
				FROM	(SELECT		OpNrOPER,OPDTBASE,OpCodCli FROM CDCSANTANAMicroCredito..Coper O1 (nolock) 
							WHERE	(OpDtLIQ IS NULL OR OpDtLIQ >= @DTREF)
								AND OPCODOP IN (302,353,363,553,610,613,643,752,870)
								AND	OPDTBASE <= @DTREF				-- OPERACOES DO PERIODO
							 ) AS O ,
						CDCSANTANAMicroCredito..CParc P (nolock)
				WHERE	OpNrOPER = PaNrOPER
					AND (PADtLIQ IS NULL OR PaDtLIQ >= @DTREF)
					AND PaCNTRL = (SELECT MAX(PaCNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (nolock)
									 WHERE P1.PANROPER = P.PANROPER AND P1.PANRPARC = P.PANRPARC)
					GROUP BY OpCodCli
					) AS  CDC
	WHERE 	DT_FECHA	 = @DTREF
--		AND RIGHT(OpCodCli,1) IN ('A','B','C') 
		AND 1=0+ CASE	WHEN --CNPJ=CONVERT(NUMERIC(18,0),SUBSTRING(OpCodCli,1,LEN(OpCodCli)-1)) THEN 1 
--						CNPJ=(select	replace(replace(clCGC,'.',''),'-','')
-- ALTERADO 11/7/16 ****************
		RIGHT(CNPJ,14)=(select		RIGHT(REPLICATE('0',14)+LTRIM(REPLACE(replace(replace(clCGC,'.',''),'-',''),'/','')),14)
							FROM	CDCSANTANAMicroCredito..cclie (nolock)
							WHERE	OPCODCLI = CLCODCLI)
						THEN 1 
						ELSE 0 END


-- SELECT * FROM CDCSANTANAMicroCredito..Coper (nolock) WHERE opcodcli = '12439928000156'
-- SELECT * FROM CML_PDV
-- SELECT * FROM CDCSANTANAMicroCredito..CpArC (nolock) WHERE PANROPER = '3641000879'

/*
SELECT		OpNrOPER,OpCodCli FROM CDCSANTANAMicroCredito..Coper O1 (nolock) 
				WHERE	OpDtLIQ IS NULL
					AND OPCODOP IN (302,353,363,553,610,613,643,752,870)
SELECT	OpCodCli,
					SUM(PaVLRPR+PAVLRJR) AS VLR
				FROM	(SELECT		OpNrOPER,OpCodCli FROM CDCSANTANAMicroCredito..Coper O1 (nolock) 
							WHERE	OpDtLIQ IS NULL 
								AND OPCODOP IN (302,353,363,553,610,613,643,752,870) ) AS O ,
						CDCSANTANAMicroCredito..CParc P (nolock)
				WHERE	OpNrOPER = PaNrOPER
					AND PADtLIQ IS NULL 
					AND PaCNTRL = (SELECT MAX(PaCNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (nolock)
									 WHERE P1.PANROPER = P.PANROPER AND P1.PANRPARC = P.PANRPARC)
					GROUP BY OpCodCli
			
*/



-- LIMITE DE CREDITO DO CLIENTE 
TRUNCATE TABLE   AUX_SALDO_DEVEDOR
INSERT AUX_SALDO_DEVEDOR
SELECT  
			0, 
			cednte_cedn,
			0,
			SUM(CNTRAT_VLR)  AS SLD_DEVEDOR		
 FROM	FinSGRDBS..tb_cob_cntrat (NOLOCK)
GROUP BY cednte_cedn


-- ATUALIZA O LIMITE DE CREDITO DO CEDENTE
UPDATE		CML_PDV 
	SET		LIMITE = VALOR,
			SLD_DISPONIVEL= VALOR - SLD_DEVEDOR_TTL,
			COR_LINHA='',
			ORDEM_LINHA = 1
	FROM	AUX_SALDO_DEVEDOR (NOLOCK)
	WHERE	DT_FECHA	 = @DTREF
		AND COD_CEDN	 = CEDNTE_CEDN

-- TTL POR AGENTE

UPDATE	CML_PDV
SET		QTD_TITULO = 0
WHERE   DT_FECHA	 = @DTREF
	AND QTD_TITULO IS NULL

UPDATE	CML_PDV
SET		QTD_CANHOTO_REC = 0
WHERE   DT_FECHA	 = @DTREF
	AND QTD_CANHOTO_REC IS NULL


UPDATE	CML_PDV
SET		QTD_CANHOTO = 0
WHERE   DT_FECHA	 = @DTREF
	AND QTD_CANHOTO IS NULL

UPDATE	CML_PDV
SET		QTD_CANHOTO = QTD_TITULO - QTD_CANHOTO_REC
WHERE   DT_FECHA	 = @DTREF

-- select * from CML_PDV (nolock) where dt_fecha='20160107'
UPDATE	CML_PDV
SET		PRC_CANHOTO = CASE WHEN SLD_DEVEDOR_ATT = 0.0 THEN 0.0 ELSE QTD_CANHOTO / SLD_DEVEDOR_ATT * 100.0 END
WHERE   DT_FECHA	 = @DTREF
	--AND PRC_CANHOTO IS NULL

UPDATE	CML_PDV
SET		PRC_CANHOTO = 0
WHERE   DT_FECHA	 = @DTREF
	AND PRC_CANHOTO IS NULL

UPDATE	CML_PDV
SET		SLD_DEVEDOR_ATT = 0
WHERE   DT_FECHA	 = @DTREF
	AND SLD_DEVEDOR_ATT IS NULL

UPDATE	CML_PDV
SET		LIMITE = 0
WHERE   DT_FECHA	 = @DTREF
	AND LIMITE IS NULL

-- FECHAMENTO PDD
DECLARE @DT_PDD DATETIME
SET		@DT_PDD = DATEADD(DD,-1,CONVERT(CHAR(4),DATEPART(YYYY,@DTREF))+	
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@DTREF))),2)+ '01')
-- SALDO DO FECHAMENTO PDD  **************
UPDATE	CML_PDV
SET		vlr_carteira_PV =ISNULL(PDD.VLR,0.0)
	FROM	(SELECT		OPCodCli,	SUM(SLD_INSCRITO) AS VLR					
				FROM	(SELECT * FROM	RATING_HISTORICO R1 (NOLOCK) 
								WHERE	DT_FECHA = @DT_PDD ) AS R , 
						(SELECT		OPNROPER, OPCODCLI,OPCODOP FROM CDCSANTANAMicroCredito..Coper O1 (nolock) 
							WHERE	OPDTBASE <= @DTREF				-- OPERACOES DO PERIODO
							) AS O
				WHERE	R.NUM_OPE = OPNROPER
					AND	OPCODOP		IN (302,353,363,553,610,613,643,752,870)  -- CG
			GROUP BY OPCodCli) AS PDD
	WHERE 	DT_FECHA	 = @DTREF
		AND 1 = 0 + CASE 
-- ALTERADO 8/7/16 ****************
WHEN RIGHT(CNPJ,14)=(select RIGHT(REPLICATE('0',14)+LTRIM(REPLACE(replace(replace(clCGC,'.',''),'-',''),'/','')),14)
			 FROM CDCSANTANAMicroCredito..cclie (nolock)
			WHERE OPCODCLI = CLCODCLI)	THEN	1
--WHEN RIGHT(OPCodCli,1) IN ('A','B','C') THEN 0						 WHEN CNPJ=CONVERT(NUMERIC(18,0),OPCodCli) THEN 1 
						 ELSE 0 END

-- SALDO DO FECHAMENTO PDD  **************
UPDATE	CML_PDV
SET		vlr_carteira_PV =ISNULL(PDD.VLR,0.0)
	FROM	(SELECT		OPCodCli,	SUM(SLD_INSCRITO) AS VLR					
				FROM	(SELECT * FROM	PDD_SEM_VEIC R1 (NOLOCK) 
								WHERE	DT_FECHA = @DT_PDD ) AS R , 
						(SELECT		OPNROPER, OPCODCLI,OPCODOP FROM CDCSANTANAMicroCredito..Coper O1 (nolock) ) AS O
				WHERE	R.NUM_OPE = OPNROPER
					AND	OPCODOP		IN (302,353,363,553,610,613,643,752,870)  -- CG
			GROUP BY OPCodCli) AS PDD
	WHERE 	DT_FECHA	 = @DTREF
		AND 1 = 0 + CASE 
-- ALTERADO 8/7/16 ****************
WHEN RIGHT(CNPJ,14)=(select RIGHT(REPLICATE('0',14)+LTRIM(REPLACE(replace(replace(clCGC,'.',''),'-',''),'/','')),14)
			 FROM CDCSANTANAMicroCredito..cclie (nolock)
			WHERE OPCODCLI = CLCODCLI)	THEN	1
--WHEN RIGHT(OPCodCli,1) IN ('A','B','C') THEN 0						 WHEN CNPJ=CONVERT(NUMERIC(18,0),OPCodCli) THEN 1 
						 ELSE 0 END
--		AND ISNULL(vlr_carteira_PV,0.0) = 0.0

-- AJUSTE DO VP = SALDO DO FECHAMENTO PDD - VLR BXS
UPDATE	CML_PDV
SET		vlr_carteira_PV = CASE	WHEN vlr_carteira_PV=0.0 THEN 0.0
								ELSE ISNULL(vlr_carteira_PV,0.0) - ISNULL(CDC.VLR,0.0)
								END
	FROM	(SELECT	OpCodCli,
					SUM(PaVLRPR+PAVLRJR) AS VLR
				FROM	(SELECT		OpNrOPER,OpCodCli FROM CDCSANTANAMicroCredito..Coper O1 (nolock) 
							WHERE	OPDTBASE <= @DTREF				-- OPERACOES DO PERIODO
								AND	(OpDtLIQ IS NULL OR OpDtLIQ >= @DTREF)
								AND OPCODOP IN (302,353,363,553,610,613,643,752,870) ) AS O ,
						CDCSANTANAMicroCredito..CParc P (nolock)
				WHERE	OpNrOPER = PaNrOPER
					AND (PADtLIQ BETWEEN DATEADD(DD,+1,@DT_PDD) AND @DTREF)	-- BXAS NO MES
					AND PaCNTRL = (SELECT MAX(PaCNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (nolock)
									 WHERE P1.PANROPER = P.PANROPER AND P1.PANRPARC = P.PANRPARC)
					GROUP BY OpCodCli
					) AS  CDC
	WHERE 	DT_FECHA	 = @DTREF
		AND 1 = 0 + CASE 
-- ALTERADO 8/7/16 ****************
WHEN RIGHT(CNPJ,14)=(select RIGHT(REPLICATE('0',14)+LTRIM(REPLACE(replace(replace(clCGC,'.',''),'-',''),'/','')),14)
			 FROM CDCSANTANAMicroCredito..cclie (nolock)
			WHERE OPCODCLI = CLCODCLI)	THEN	1
--WHEN RIGHT(OpCodCli,1) IN ('A','B','C') THEN 0						 WHEN CNPJ=CONVERT(NUMERIC(18,0),OpCodCli) THEN 1 
						 ELSE 0 END

-- INCLUIDO *************** 11/07/2016
-- PARCELA
-- AJUSTE DO VP = SALDO DO FECHAMENTO PDD - VLR BXS
UPDATE	CML_PDV
SET		vlr_carteira_PV = ISNULL(C.VLR,0.0)
FROM	(SELECT		O.OPCGCCLI , SUM(P.OPVLRPR+P.OPVLRJR) AS VLR
		 FROM		BACENSANTANAMicroCredito..COPERB O (NOLOCK)
			 JOIN	BACENSANTANAMicroCredito..CPARCB P (NOLOCK) ON (P.OPEMPRESA = O.OPEMPRESA AND P.OPNROPER = O.OPNROPER AND P.OPCODPRD = O.OPCODPRD AND P.OPDTREF = O.OPDTREF)
			WHERE	O.OPDTREF = @DT_PDD
			GROUP BY O.OPCGCCLI) C
WHERE 	DT_FECHA	 = @DTREF
	AND ISNULL(CML_PDV.vlr_carteira_PV,0.0) =0.0-- SOMENTE SE ZERO	
--	AND CML_PDV.vlr_carteira_PV IS NULL  -- SOMENTE SE ZERO	OU NULL
	AND	RIGHT(CML_PDV.CNPJ,14)  =C.OPCGCCLI


-- CALCULO LIMITE_OP = LIMITE - SLD_DEV DESCTO - SLD_DEV  CG SEM GARANTIA ********* COD MOD  353
-- SLD_DEVEDOR_CDC  clientes q operam em CG Funcao
-- DECLARE @DTREF DATETIME SET @DTREF = '20150528'
UPDATE		CML_PDV 
	SET		LIMITE_OP = LIMITE - SLD_DEVEDOR_ATT - ISNULL(CDC.CG_SEM_GARANTIA,0.0)
	FROM	(SELECT	OpCodCli,
					SUM(PaVLRPR+PAVLRJR) AS CG_SEM_GARANTIA
				FROM	(SELECT		OpNrOPER,OpCodCli FROM CDCSANTANAMicroCredito..Coper O1 (nolock) 
							WHERE	OPDTBASE <= @DTREF				-- OPERACOES DO PERIODO
								AND (OpDtLIQ IS NULL OR OpDtLIQ >= @DTREF)  -- CONTRATO NAO LIQUIDADO
								AND OPCODOP IN (353) ) AS O ,				-- CG SEM GARANTIA
						CDCSANTANAMicroCredito..CParc P (nolock)
				WHERE	OpNrOPER = PaNrOPER
					AND (PADtLIQ IS NULL OR PaDtLIQ >= @DTREF)				-- PARCELA NAO PAGA
					AND PaCNTRL = (SELECT MAX(PaCNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (nolock)
									 WHERE P1.PANROPER = P.PANROPER AND P1.PANRPARC = P.PANRPARC)
					GROUP BY OpCodCli
					) AS  CDC
	WHERE 	DT_FECHA	 = @DTREF
		AND 1 = 0 + CASE
-- ALTERADO 8/7/16 ****************
WHEN RIGHT(CNPJ,14)=(select RIGHT(REPLICATE('0',14)+LTRIM(REPLACE(replace(replace(clCGC,'.',''),'-',''),'/','')),14)
			 FROM CDCSANTANAMicroCredito..cclie (nolock)
			WHERE OPCODCLI = CLCODCLI)	THEN	1
-- WHEN RIGHT(OpCodCli,1) IN ('A','B','C') THEN 0						 WHEN CNPJ=CONVERT(NUMERIC(18,0),OpCodCli) THEN 1 
						 ELSE 0 END

-- LIMITE DE CREDITO DO CLIENTE 
TRUNCATE TABLE   AUX_SALDO_DEVEDOR
INSERT AUX_SALDO_DEVEDOR
SELECT  
			0, 
			cednte_cedn,
			0,
			SUM(CNTRAT_VLR)  AS SLD_DEVEDOR		
 FROM	FinSGRDBS..tb_cob_cntrat (NOLOCK)
GROUP BY cednte_cedn

-- SALDO DA CC DO SISTEMA DE DESCONTO
UPDATE	CML_PDV
SET		SALDOCC = ISNULL(LIMITE,0.0) - ISNULL(SLD_DEVEDOR_ATT,0.0)- ISNULL(vlr_carteira_PV,0.0)
WHERE   DT_FECHA	 = @DTREF

/*
-- ANTIGO
UPDATE	CML_PDV
SET		SALDOCC = ISNULL(LIMITE,0.0) - ISNULL(SLD_DEVEDOR_ATT,0.0)- ISNULL(vlr_carteira_PV,0.0)
WHERE   DT_FECHA	 = @DTREF
*/


-- **************************************** NOVO 22/2/16  SEPARAR DUPLICATA, CHEQUE, NP
/*
  CREATE	TABLE AUX_SALDO_DEVEDOR2  (
			OPER_COD	int,
			CEDNTE_CEDN	int,
			--QTDE	int,
			VALOR1	float,			-- DUPLIC, CHEQ, NP
			VALOR2	float,
			VALOR3	float   )

*/
TRUNCATE TABLE AUX_SALDO_DEVEDOR2
INSERT AUX_SALDO_DEVEDOR2
SELECT		tb_cob_clisgr.oper_cod, 
			tb_titlo.cednte_cedn,
			-- AUXILIAR EM QTDE ESTOCAR O NUMERO DO TITULO
			-- tb_titlo.titlo_noss_num AS QTDE,
			-- tb_titlo.titlo_vlr_total  AS QTDE,
			SUM(CASE	WHEN O.PARDIV_COD IN (2,7,10) 	THEN		tb_titlo.titlo_vlr_total ELSE 0.0 END),
			SUM(CASE	WHEN O.PARDIV_COD IN (3) 		THEN		tb_titlo.titlo_vlr_total ELSE 0.0 END),
			SUM(CASE	WHEN O.PARDIV_COD IN (4) 		THEN		tb_titlo.titlo_vlr_total ELSE 0.0 END)
/*			tb_titlo.titlo_vlr_total  AS SLD_DEVEDOR
		CASE	WHEN O.PARDIV_COD =4		  THEN  2 --'DPC'
				WHEN O.PARDIV_COD IN (3)	  THEN  1 --'CHEQUES'  7 não é mais cheque
				WHEN O.PARDIV_COD IN (2,7,10) THEN  1 --'DUPLICATAS' 7 é duplicata
				ELSE 1
				END, -- PLANO
*/
FROM  FinSGRDBS..tb_bordro O (NOLOCK)
--		JOIN	FinSGRDBS..tb_TITLO  T (NOLOCK) ON	O.CEDNTE_CEDN = T.CEDNTE_CEDN 	AND O.BORDRO_NUM  = T.BORDRO_NUM
JOIN (SELECT * FROM FinSGRDBS..tb_titlo T (NOLOCK)
			WHERE	titlo_DAT_ENTR <= 	@DTREF		-- NO MOVIMENTO DO PERIODO, SEM LIQ
				AND (titlo_DAT_BAIX IS NULL	OR titlo_dat_baix >=@DTREF)
				and EMP_COD = 1	) AS tb_titlo 	
ON	O.CEDNTE_CEDN = tb_titlo.CEDNTE_CEDN 	AND O.BORDRO_NUM  = tb_titlo.BORDRO_NUM
JOIN FinSGRDBS..tb_cednte C (NOLOCK)
	ON			( C.emp_cod		= O.emp_cod )
			and ( C.CEDNTE_CEDN  = O.CEDNTE_CEDN )
JOIN FinSGRDBS..tb_cob_clisgr (NOLOCK)
	ON			( tb_cob_clisgr.emp_cod		= O.emp_cod )
			and ( tb_cob_clisgr.clisgr_cod  = cli_cod )
	WHERE	cednte_situacao='a'	-- 200
GROUP BY	tb_cob_clisgr.oper_cod, 
			tb_titlo.cednte_cedn

-- 3 COLUNAS DE VALORES
UPDATE	CML_PDV
SET		DUPLICATA = ISNULL(VALOR1,0.0) ,
		CHEQUE	  = ISNULL(VALOR2,0.0) ,
		NP		  = ISNULL(VALOR3,0.0)
FROM	AUX_SALDO_DEVEDOR2 D (NOLOCK) 	
WHERE   DT_FECHA	 = @DTREF
	AND CML_PDV.COD_CEDN = D.cednte_cedn
	AND	CML_PDV.COD_OPERADOR = D.OPER_COD

END

-- SALDO CC CALCULADO POR CEDENTE  ************************** FEV-2016
TRUNCATE TABLE   AUX_SALDO_DEVEDOR
INSERT AUX_SALDO_DEVEDOR
SELECT  
			0, 
			ccnnumcta,
			SUM( CASE WHEN ccNnatLanc='C'  THEN ccnval ELSE 0.0 END ),  -- QTDE
			SUM( CASE WHEN ccNnatLanc='D'  THEN ccnval ELSE 0.0 END )  AS SLD_DEVEDOR	-- VLR
 FROM	FinSGRDBS..SGRTBLCCNNAOCORRENT (NOLOCK)
 WHERE	ccNDat < = @DTREF
GROUP BY ccnnumcta

-- ZERAR O SALDO CC
UPDATE	CML_PDV
SET		SALDOCC  = 0.0
WHERE   DT_FECHA		 = @DTREF

UPDATE	CML_PDV
SET		SALDOCC  = ISNULL(QTDE,0.0) -  ISNULL(VALOR,0.0) 
FROM	AUX_SALDO_DEVEDOR D (NOLOCK) 	
WHERE   DT_FECHA		 = @DTREF
	AND CML_PDV.COD_CEDN = D.cednte_cedn
--	AND	CML_PDV.COD_OPERADOR = D.OPER_COD  ??


-- alterado 9/3/16  ******************    
UPDATE		CML_PDV 
	SET		SLD_DEVEDOR_TTL = 	ISNULL(SLD_DEVEDOR_ATT,0.0) + 	ISNULL(vlr_carteira_PV,0.0),
			LIMITE_OP		=	ISNULL(LIMITE,0.0) - (ISNULL(SLD_DEVEDOR_ATT,0.0) + 	ISNULL(vlr_carteira_PV,0.0))
	WHERE 	DT_FECHA	    =	@DTREF



/*
select sum(ccnval) from FinSGRDBS..SGRTBLCCNNAOCORRENT (NOLOCK) where ccnnumcta=82001  and ccNnatLanc='C' and ccNDat < = '20160201'
select sum(ccnval) from FinSGRDBS..SGRTBLCCNNAOCORRENT (NOLOCK) where ccnnumcta=82001  and ccNnatLanc='D' and ccNDat < = '20160201'
*/
GO


/*

SELECT * FROM CML_PDV 
-- tem saldo Devedor
SELECT tb_espc.espc_cod, tb_espc.espc_desc, tb_depend.depend_nom,
tb_titlo.indice_cod, tb_titlo.cednte_cedn, tb_titlo.titlo_noss_num,
tb_titlo.cednte_dep_agn, tb_titlo.sit_cod, tb_titlo.titlo_seu_num,
tb_titlo.titlo_bco_cob_cod, tb_titlo.sacdo_nome, tb_titlo.titlo_nosncob,
tb_titlo.titlo_dat_venc, tb_titlo.titlo_vlr_total, tb_titlo.titlo_dat_entr,
tb_titlo.titlo_env_prot, tb_titlo.sacdo_cpfcgc_novo, tb_titlo.titlo_agn_cob_cod,
tb_cob_clisgr.oper_cod, tb_sit.sit_desc, tb_titlo.ctlcart_cod,
tb_ctlcart.ctlcart_desc, tb_cednte.cednte_nome, tb_cob_instru.instru_cod,
tb_titlo.titlo_vlr_moe_tit, tb_titlo.titlo_vlr_moe_datent, tb_titlo.titlo_vlr_conv_cotacao,
sgrtblmoeda.moevalcotacao, tb_procob.proc_dtanter, tb_cob_parger.parger_moeda_principal,
tb_titlo.titlo_indice_correcao, *
 FROM FinSGRDBS..tb_titlo (NOLOCK), FinSGRDBS..tb_depend (NOLOCK) , FinSGRDBS..tb_espc (NOLOCK),
FinSGRDBS..tb_sit (NOLOCK), FinSGRDBS..tb_ctlcart (NOLOCK), FinSGRDBS..tb_cednte (NOLOCK), 
FinSGRDBS..tb_cob_clisgr (NOLOCK),
FinSGRDBS..tb_cob_instru (NOLOCK), FinSGRDBS..sgrtblmoeda (NOLOCK), FinSGRDBS..tb_procob (NOLOCK), 
FinSGRDBS..tb_cob_parger (NOLOCK)
WHERE ( tb_titlo.emp_cod = tb_cob_instru.emp_cod) and ( tb_titlo.cednte_cedn = tb_cob_instru.cednte_cedn) and ( tb_titlo.titlo_noss_num = tb_cob_instru.titlo_noss_num) and ( tb_titlo.emp_cod = tb_depend.emp_cod ) and ( tb_titlo.cednte_dep_agn = tb_depend.depend_cod ) and ( tb_titlo.emp_cod = tb_espc.emp_cod ) and ( tb_titlo.espc_cod = tb_espc.espc_cod ) and ( tb_titlo.sit_cod = tb_sit.sit_cod ) and ( tb_titlo.ctlcart_cod = tb_ctlcart.ctlcart_cod ) and ( tb_cednte.emp_cod = tb_titlo.emp_cod ) and ( tb_cednte.cednte_cedn = tb_titlo.cednte_cedn ) and ( tb_cob_clisgr.emp_cod = tb_cednte.emp_cod ) and ( tb_cob_clisgr.clisgr_cod = tb_cednte.cli_cod ) and ( tb_titlo.emp_cod = sgrtblmoeda.moeempcod ) and ( tb_titlo.indice_cod = sgrtblmoeda.moecodmoedacli ) and ( tb_titlo.emp_cod = tb_procob.emp_cod ) and ( tb_titlo.emp_cod = tb_cob_parger.emp_cod ) and
( tb_procob.proc_cod = 99) and tb_cob_instru.instru_cod = 90
and TB_TITLO.EMP_COD = 1 and tb_titlo.operc_cod = 99 
--AND TB_COB_CLISGR.OPER_COD = 1  POR GERENTE
AND (( tb_titlo.sit_cod > 159 ) or ( tb_titlo.sit_cod < 151 ))
-- ZERO
UNION 

-- VARIOS TITULOS EM ABERTO
SELECT tb_espc.espc_cod, tb_espc.espc_desc,
tb_depend.depend_nom, tb_titlo.indice_cod,
tb_titlo.cednte_cedn, tb_titlo.titlo_noss_num,
tb_titlo.cednte_dep_agn, tb_titlo.sit_cod,
tb_titlo.titlo_seu_num, tb_titlo.titlo_bco_cob_cod,
tb_titlo.sacdo_nome, tb_titlo.titlo_nosncob,
tb_titlo.titlo_dat_venc, tb_titlo.titlo_vlr_total,
tb_titlo.titlo_dat_entr, tb_titlo.titlo_env_prot,
tb_titlo.sacdo_cpfcgc_novo, tb_titlo.titlo_agn_cob_cod,
tb_cob_clisgr.oper_cod, tb_sit.sit_desc,
tb_titlo.ctlcart_cod, tb_ctlcart.ctlcart_desc,
tb_cednte.cednte_nome, 0 instru_cod,
tb_titlo.titlo_vlr_moe_tit, tb_titlo.titlo_vlr_moe_datent,
tb_titlo.titlo_vlr_conv_cotacao, sgrtblmoeda.moevalcotacao,
tb_procob.proc_dtanter, tb_cob_parger.parger_moeda_principal,
tb_titlo.titlo_indice_correcao, *
 FROM FinSGRDBS..tb_titlo (NOLOCK), FinSGRDBS..tb_depend (NOLOCK),
FinSGRDBS..tb_espc (NOLOCK), FinSGRDBS..tb_sit (NOLOCK), FinSGRDBS..tb_ctlcart (NOLOCK), FinSGRDBS..tb_cednte (NOLOCK),
FinSGRDBS..tb_cob_clisgr (NOLOCK), FinSGRDBS..sgrtblmoeda (NOLOCK), FinSGRDBS..tb_procob (NOLOCK),
 FinSGRDBS..tb_cob_parger (NOLOCK)
WHERE ( tb_titlo.emp_cod = tb_depend.emp_cod )
and ( tb_titlo.cednte_dep_agn = tb_depend.depend_cod )
and ( tb_titlo.emp_cod = tb_espc.emp_cod )
and ( tb_titlo.espc_cod = tb_espc.espc_cod )
and ( tb_titlo.sit_cod = tb_sit.sit_cod )
and ( tb_titlo.ctlcart_cod = tb_ctlcart.ctlcart_cod )
and ( tb_cednte.emp_cod = tb_titlo.emp_cod )
and ( tb_cednte.cednte_cedn = tb_titlo.cednte_cedn )
and ( tb_cob_clisgr.emp_cod = tb_cednte.emp_cod )
and ( tb_cob_clisgr.clisgr_cod = tb_cednte.cli_cod )
and ( tb_titlo.emp_cod = sgrtblmoeda.moeempcod )
and ( tb_titlo.indice_cod = sgrtblmoeda.moecodmoedacli )
and ( tb_titlo.emp_cod = tb_procob.emp_cod )
and ( tb_titlo.emp_cod = tb_cob_parger.emp_cod )
and ( tb_procob.proc_cod = 99)
and not exists (Select * from FinSGRDBS..tb_cob_instru (NOLOCK)
where ( tb_cob_instru.emp_cod= tb_titlo.emp_cod)
and ( tb_cob_instru.cednte_cedn = tb_titlo.cednte_cedn)
and ( tb_cob_instru.titlo_noss_num = tb_titlo.titlo_noss_num)
and tb_cob_instru.instru_cod = 90) and TB_TITLO.EMP_COD = 1
and tb_titlo.operc_cod = 99 --AND TB_COB_CLISGR.OPER_COD = 1 POR GERENTE
 AND (( tb_titlo.sit_cod > 159 ) or ( tb_titlo.sit_cod < 151 ));


-- CLIENTES
-- 180 NO PDV,  266 CADASTRO ATT
SELECT * FROM DADOS_CED -- 75
 SELECT distinct CEDNTE_cpfcgc  	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK)
where cednte_situacao='a'	-- 200

SELECT *  	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK)
where cednte_situacao='a'	-- 211

 SELECT CEDNTE_NOME,cednte_pct_canhoto,cednte_vlr_titlo,*  	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK)
where cednte_situacao='i'

 SELECT distinct cednte_situacao  	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK)
a i

SELECT CEDNTE_NOME,cednte_pct_canhoto,cednte_vlr_titlo,*  	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK)
where cednte_pct_canhoto >0.0
só 2 
CEDNTE_NOME	cednte_pct_canhoto	cednte_vlr_titlo
SANSONE CORREIAS TRANSPORTADORAS FERROS E METAIS LTDA       	25	35000.00
DATA CABLE DO BRASIL COMERCIAL EPP                          	25	35000.00

-- 252
 SELECT DISTINCT CEDNTE_CPFcgc  	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK)

 SELECT OPER_COD,*  	FROM	FinSGRDBS..tb_cob_clisgr  (NOLOCK)
and ( tb_cob_clisgr.emp_cod = tb_cednte.emp_cod )
and ( tb_cob_clisgr.clisgr_cod = tb_cednte.cli_cod )


select *	FROM FinSGRDBS..tb_espc (NOLOCK)
select *	FROM FinSGRDBS..tb_sit (NOLOCK)
select *	FROM  FinSGRDBS..tb_ctlcart (NOLOCK)
select *	FROM   FinSGRDBS..tb_depend (NOLOCK) -- matriz
select *	FROM   FinSGRDBS..tb_cob_clisgr (NOLOCK)
select *	FROM   FinSGRDBS..sgrtblmoeda (NOLOCK)  -- moeda
select *	FROM   FinSGRDBS..tb_procob (NOLOCK) -- operacoes Ti cargas

select *	FROM   FinSGRDBS..tb_cob_parger (NOLOCK)  -- geracao de parcelas


select *	FROM FinSGRDBS..TSPOPERACOES (NOLOCK) -- vazio

select *	FROM   FinSGRDBS..tb_titlo (NOLOCK)
select *	FROM   FinSGRDBS..tb_bordro (NOLOCK)

FROM FinSGRDBS..tb_titlo, FinSGRDBS..tb_depend, FinSGRDBS..tb_espc,
FinSGRDBS..tb_sit, FinSGRDBS..tb_ctlcart, FinSGRDBS..tb_cednte, FinSGRDBS..tb_cob_clisgr,
FinSGRDBS..tb_cob_instru, FinSGRDBS..sgrtblmoeda, FinSGRDBS..tb_procob, FinSGRDBS..tb_cob_parger
select *	FROM   FinSGRDBS..tb_cob_instru (NOLOCK)  -- instrucoes

select *	FROM   FinSGRDBS..sgrtblctfcntratfilhote (NOLOCK) 
select *	FROM   FinSGRDBS..sgrtblctfcntrat (NOLOCK) -- nao tem

select *	FROM   FinSGRDBS..sgrtblctacrt  (NOLOCK) --vazio
select *	FROM   FinSGRDBS..sgrtblctrsaldos (NOLOCK)--vazio
select *	FROM   FinSGRDBS..SGRTBLHSTCNTRAT (NOLOCK)--vazio
select *	FROM   FinSGRDBS..sgrtblhstcrt (NOLOCK) -- log
select *	FROM   FinSGRDBS..sgrtblloplimiteope  (NOLOCK) --vazio
select *	FROM   FinSGRDBS..sgrtblmotgarantia  (NOLOCK) -- motivos garantia
select *	FROM   FinSGRDBS..sgrtbloricntrat (NOLOCK) -- sgr 1 reg
select *	FROM   FinSGRDBS..SGRTBLSLDCNTRAT (NOLOCK) --vazio
select *	FROM   FinSGRDBS..tb_bgnrope (NOLOCK) --vazio

select *	FROM   FinSGRDBS..tb_cob_cntrat  (NOLOCK) --contratos *************
where cednte_cedn =11001
90000.00

select *	FROM   FinSGRDBS..tb_cob_depdia  (NOLOCK) --dia

-- TTL DO RELATORIO
	UPDATE  CML_RPT
		SET DESCRICAO = 'TOTAL '+DESCRICAO
	WHERE	CML_RPT.DT_FECHA=@data_ref			
		AND	CML_RPT.RPT=2   -- RELATORIO FINAL
		AND CML_RPT.AGENTE= ''

use FinSGRDBS
SELECT name,* FROM sysobjects 
         WHERE name like '%canhoto%'
 
sp_help SGRCFKCCNHST02
sp_helptext SGRCFKCCNHST02
  OPERADOR
UPDATE CML_RPT
SET DESCRICAO= O3DESCR+DESCRICAO
	FROM	CDCSANTANAMicroCredito..TORG3 O (NOLOCK)				
WHERE CML_RPT.DT_FECHA = @data_ref	-- TTL VALOR
		AND COD_OPERADOR = O3CODORG
				AND	RPT=2

select * from FinSGRDBS..SGRTBLSLDCNTRAT (nolock)
select * from FinSGRDBS..SGRTBLINCCLIENTE (nolock)
select * from FinSGRDBS..sgrtblbctcedente (nolock)
select * from FinSGRDBS..sgrtbldom (nolock)

TITLO_VLR_TITULO_DIA	5K
TITLO_VLR_TOTAL_DATENT  1K7
CEDNTE_VLR_TITLO		35K

titlo_vlr_moe_datent  VP ???

emp_cod	cednte_cedn	titlo_noss_num	cednte_dep_agn	ctlcart_cod	indice_cod	bordro_num	bordro_prod	cednte_nome	sit_cod	operc_cod	empre_cod	titlo_datmov	titlo_dat_entr	titlo_dat_venc	titlo_dat_emiss	titlo_seu_num	espc_cod	titlo_clas_tit	titlo_vlr_moe_tit	titlo_vlr_moe_datent	titlo_vlr_moe_datbai	titlo_vlr_total	titlo_vlr_titaux	titlo_vlr_jur_desctos	titlo_tax_jur_desctos	titlo_dat_limdesc	titlo_tax_abat	titlo_vlr_abat	titlo_dat_limabat	titlo_vlr_permdia	titlo_vlr_corr_descto	titlo_tax_corr_descto	titlo_tax_permcor	titlo_agn_contra_cod	titlo_num_contra	titlo_env_prot	titlo_prz_prot	titlo_disp_jur	titlo_prz_reapr	titlo_prz_baix	titlo_num_totprest	titlo_num_prest	titlo_bco_cob_cod	titlo_agn_cob_cod	sacdo_tip_ident	sacdo_cpfcgc	sacdo_filial	sacdo_ctl	sacdo_nome	sacdo_end	sacdo_compl	sacdo_bai	sacdo_cid	sacdo_cep	sacdo_est	titlo_tip_sacaval	titlo_cpfcgc_sacaval	titlo_nome_sacaval	titlo_nosncob	titlo_instr1	titlo_instr2	titlo_vlr_iofentr	titlo_vlr_tarcobr	titlo_ctl_remcor	titlo_dat_remcor	titlo_ctl_retcor	titlo_dat_retcor	titlo_dat_clirem	titlo_dat_cliret	titlo_dat_ultmov	titlo_dat_altvenc	titlo_dat_altdesc	titlo_dat_altabat	titlo_dat_altinst	titlo_dat_altprot	titlo_dat_altsac	titlo_dat_altjuros	titlo_dat_altreapr	titlo_dat_altbaix	titlo_ctl_reembloqt	titlo_dat_reembloqt	titlo_dat_envprot	titlo_vlr_iofd	titlo_cres	titlo_valodesc	titlo_vlr_cordia	titlo_vlr_cortit	titlo_vlr_titcor	titlo_vlr_jurcor	titlo_vlr_corvenc	titlo_dat_ultcorvenc	titlo_vlr_jurctb	titlo_vlr_corctb	titlo_dat_baix	titlo_dat_liq	titlo_tip_pagto	titlo_bco_pag_cod	titlo_agn_pag_cod	titlo_dat_credt	titlo_vlr_liqcredt	titlo_vlr_pago	titlo_vlr_liqpag	titlo_vlr_descpagto	titlo_vlr_abatpagto	titlo_vlr_iofpagto	titlo_vlr_outrpagto	titlo_vlr_despcart	titlo_vlr_jurpagto	titlo_tar_pagto_cod	titlo_cart_ant	titlo_vlr_pgconta	titlo_dat_pgconta	titlo_nrpl	titlo_mens	titlo_iniof	titlo_icor	titlo_dtiof	titlo_txpe	titlo_dat_mudcart	titlo_dat_incl	titlo_rsp_incl	titlo_dat_ultalt	titlo_rsp_ultalt	titlo_agn_recb	titlo_dep_rcb	titlo_env_bloqueto	titlo_dat_bloqueto	titlo_cor_sit	titlo_cor_motivo	titlo_dat_fran	titlo_vlr_juro_dia	titlo_vlr_titulo_dia	titlo_trf_tdatraso	titlo_emiss_aviso	titlo_vlr_juro_dia_maior60dias	sacdo_cpfcgc_novo	titlo_sit_relcont	titlo_des_mensagem	titlo_noss_num_char	titlo_frm_contabil	titlo_vlr_iof_qtdmda	titlo_vlr_jurtot_qtdmda	titlo_vlr_juraap_qtdmda	titlo_vlr_equalz_qtdmda	titlo_vlr_rndacu	titlo_dac_nosncob	titlo_tip_prot	titlo_mensag_cod	titlo_tip_mora	titlo_vlr_iofmoradia	liqcor_cod	titlo_env_bloqueto_old	titlo_dat_bloqueto_old	titlo_dat_bloq	titlo_cobsemreg	titlo_flag_corresp	titlo_sit_contabil	titlo_tip_dias_prot	num_contrato_sacado	num_operacao	num_parcelas	indice_cod_banco	titlo_vlr_rndacu_banco	titlo_vlr_juracu_banco	titlo_noss_num_sig	titlo_num_planilha	cntrat_orig	titlo_vlr_descbon_dia	titlo_vlr_conv_cotacao	titlo_cotacao_moeda	titlo_vlr_moe_permdia	titlo_vlr_moe_abat	titlo_vlr_moe_desc	titlo_vlr_moe_descbon_dia	titlo_indice_correcao	titlo_sem_coobrig	titlo_num_versao	titlo_dat_incl_prejuizo	titlo_vlr_total_datent	titlo_vlr_juro_dia_banco	titlo_vlr_jurodia_maior60d_bco	titlo_vlr_titulo_dia_banco	titlo_qtd_tit_operacao	titlo_idtconta_2	titlo_vlr_tac	titlo_nota_fiscal	titlo_tipo_venc	titlo_interveniente	titlo_carcor_num	titlo_tip_iof	titlo_tip_protesto	titlo_vnd_tip_gap	titlo_vnd_tx_banco	titlo_vnd_tx_cliente	titlo_baix_aut	titlo_dias_apos_venc	titlo_diaspos_venc_cntrat	titlo_prz_baixaut	titlo_tax_perm	titlo_tax_perm_ctb	titlo_tax_perm_indcor	titlo_tax_perm_liqced	titlo_tip_dia	titlo_vlr_multa_dia	titlo_vlr_multa_fixo	titlo_vlr_multa_pct	titlo_dias_envio_corresp	titlo_num_recompra	reccodmot	titlo_vlr_abat_lancado	titlo_dat_receb_doc_prot	titlo_custodia_chq	ccanum	titlo_cartorio	titlo_protocolocart	titlo_tipoocorrencia	titlo_datprotocolo	titlo_custascart	titlo_datocorrencia	titlo_codirregularidade	titlo_custascartdistr	titlo_sacdo_debaut_bco	titlo_sacdo_debaut_age	titlo_sacdo_debaut_digage	titlo_sacdo_debaut_cta	titlo_sacdo_debaut_digcta	titlo_sacdo_razao	titlo_hist_idtconta2	titlo_atu_sld_ctb	titlo_des_confretcli1	titlo_qtd_dias_bloqueio	titlo_tip_multa	titlo_cod_linha_dig	ctlcart_cod_ant	titlo_des_confretcli2	titlo_des_confretcli3	titlo_vlr_multa_pagto	titlo_idc_rcp_doc	titlo_cmc7	titlo_dat_compens	titlo_dat_emis_carta	titlo_dat_envio_spc	titlo_dat_baixa_spc	titlo_idtdda	titlo_linhadig_baixa	titlo_dat_retliq	titlo_cod_aceite	titlo_num_contrato_boleta	titlo_num_interbook	titlo_vlr_cntrat_sislegado	titlo_dat_cntrat_sislegado	titlo_end_sacaval	titlo_bai_sacaval	titlo_cid_sacaval	titlo_cep_sacaval	titlo_uf_sacaval	titlo_vlr_titcor_banco	titlo_vlr_cortit_banco	titlo_idtsacdda	hdrdathor	hdrcodusu	hdrcodetc	hdrcodpgr	titlo_idt_desagio	titlo_num_cartao	titlo_agencia_associada	titlo_conta_associada	titlo_conta_associada_dv	titlo_dat_integracao	titlo_arq_numseq	titlo_vlr_cet_ano	titlo_vlr_cet_mes	titlo_vlr_iof_flat	titlo_vlr_iof_dia	titlo_tax_ope_vendor	titlo_numseq_grafica	TITLO_VAL_DESAGIO	TITLO_VAL_RA_DESAGIO	TITLO_COD_BOLETA	TITLO_VLR_JURO_DIA_ATE90DIAS	TITLO_VLR_JURO_DIA_MAIOR90DIAS	TITLO_DES_OFAC	TITLO_SEQ_TIT_BOLETA	TITLO_SACDO_EMAIL	TITLO_SIT_OFAC	TITLO_TAX_SPREAD	TITLO_IDT_CHECADO	TITLO_LIQUIDA_LOTE	TITLO_NUMERO_LOTE	TITLO_IDT_IMPRESSAO	TITLO_MOTIVO_BAIXA_CORRESP	TITLO_ENV_AUT_CORESP	TITLO_IDT_ENV_2VIA	TITLO_SACDO_BANCO	TITLO_SACDO_NUMAGE	TITLO_SACDO_NUMCTA	TITLO_SACDO_FRM_PAGTO	TITLO_CCUSTO_PASSIVO	TITLO_CCUSTO_ATIVO	TITLO_ID_LANCAMENTO	TITLO_DAT_ALTBAIX_D1	TITLO_VLR_CORTIT_EQUAL	TITLO_IDT_CASHFLOW_VENC	TITLO_IDT_CASHFLOW_ATRASO	TITLO_VLR_OUTRCRED	TITLO_VLR_OUTRACRESC	DSCTIT_TIT_MSG1	DSCTIT_TIT_MSG2	DSCTIT_TIT_MSG3	DSCTIT_TIT_MSG4	TITLO_IDC_MSGLOTE	TITLO_DAT_SAIDA_INC	TITLO_VLR_REBATE	TITLO_DATPAGTO_REBATE	TITLO_ID_REBATE	TITLO_VLR_DIAREBATE	TITLO_VLR_JAAPREBATE	EMP_COD	DEPEND_COD	DEPEND_ABV_NOM	DEPEND_NOM	DEPEND_CGC	DEPEND_END	DEPEND_CEP	DEPEND_TEL	DEPEND_FAX	DEPEND_DAT_INI	DEPEND_DAT_FIM	DEPEND_NVL_SUP	DEPEND_CAM_COMP	MUNICI_COD	DEPEND_UNF	PAI_FEDERACAO	DEPEND_TIP	DEPEND_PAI	DEPEND_SEQ	TIP_LOG_DEP	END_DEP	CPL_LOG_DEP	BAI_DEP	NUM_LOG_DEP	emp_cod	espc_cod	grpcodesp	espc_desc	espc_dat_incl	espc_rsp_incl	espc_dat_ultalt	espc_rsp_ultalt	espc_sgl	espc_doc_esp	espc_cod_cli	ESPC_FLOAT_JUROS	sit_cod	sit_desc	sit_dat_incl	sit_rsp_incl	sit_dat_ultalt	sit_rsp_ult_alt	ctlcart_cod	ctlcart_desc	ctlcart_dat_incl	ctlcart_rsp_incl	ctlcart_dat_ultalt	ctlcart_rsp_ultalt	ctlcart_cod_cli	ctlcart_cod_serasa	ctlcart_cod_concent	ctlcart_analise_receb	ctlcart_contabil_ndias	prodbc_cod	ctlcart_tip	cart_prz_dias_vencido	ctlcart_sit_chkdup	ctlcart_aprop_rendas	ctlcart_percent_pontualidade	ctlcart_tem_pre_boletagem	ctlcart_tip_oper	ctlcart_tip_oper_banco	ctlcart_moeda	ctlcart_protesto_cep	ctlcart_busca_limite_cuc	ctlcart_recompra	ctlcart_acate	ctlcart_vlr_acate	ctlcart_pct_acate	hdrdathor	hdrcodusu	hdrcodetc	hdrcodpgr	ctlcart_cod_sistem	CTLCART_CRT_PRAZO	CTLCART_LGN_PRAZO	CTLCART_PRD_RENT	CTLCART_MOD_PROD	CTLCART_TIP_APROP_RENDA	CTLCART_COD_PROD_FMS	CTLCART_COD_NATUREZA	CTLCART_CRT_PRAZO_SEM_COOBRIG	CTLCART_LGN_PRAZO_SEM_COOBRIG	CTLCART_PRD_RENT_SEM_COOBRIG	CTLCART_MOD_PROD_SEM_COOBRIG	CTLCART_COD_FMS_SEM_COOBRIG	CTLCART_PERC_MULTA	CTLCART_TAX_PERM	emp_cod	cednte_cedn	cednte_dep_agn	cednte_ctanum	cednte_codcli	cednte_cpfcgc	cednte_nome	empre_cod	ativ_cod	gremp_cod	cli_set	cli_cod	grprod_cod	cednte_tip_rem_cod	cednte_tip_ret_cod	cednte_dat_movatu	cednte_tip_pessoa	cednte_aliqt_iof	cednte_emis_extrato	cednte_tax_perm	cednte_tax_juros	cednte_instr_perm1	cednte_instr_perm2	cednte_instr_perm3	cednte_flag_baixaut	cednte_dias_baixaut	cednte_tar_entrbord	cednte_pct_tarentrbord	cednte_tar_entrtrans	cednte_pct_tarentrtrans	cednte_tar_entrdisqt	cednte_pct_tarentrdisqt	cednte_tar_baixa	cednte_pct_tarbaixa	cednte_tar_alter	cednte_pct_taralter	cednte_tar_liquid	cednte_pct_tarliquid	cednte_tar_envprot	cednte_pct_tarenvprot	cednte_tar_titvenc	cednte_pct_tartitvenc	cednte_ndia_tarvenc	cednte_tar_sustprot	cednte_pct_tarsustprot	cednte_tar_avisvenc	cednte_pct_taravisvenc	cednte_ndia_avisvenc	cednte_tar_reapr	cednte_pct_tarreapr	cednte_tar_extrat	cednte_pct_tarextrat	cednte_tar_corresp	cednte_pct_tarcorresp	cednte_tar_formul	cednte_pct_tarformul	cednte_tar_cobesp	cednte_pct_tarcobesp	cednte_tar_prorr	cednte_pct_tarprorr	cednte_flag_mudacart	cednte_iof	cednte_tar	cednte_protesto	cednte_cres	cednte_navis	cednte_emac	cednte_emti	cednte_ende	cednte_cep	cednte_cid	cednte_unf	cednte_dat_incl	cednte_rsp_incl	cednte_dat_ultalt	cednte_rsp_ultalt	cednte_tar_baixprot	cednte_pct_tarbaixprot	cednte_pct_concent_oper	cednte_pct_concent_cart	cednte_vlr_titlo	cednte_vlr_concent_cart	niv_risco	cednte_tar_baixa_ch	cednte_pct_tarbaixa_ch	cednte_banco	cednte_agencia	cednte_conta	cednte_dig_agn	bcocor_cod	cednte_mensag_cod1	cednte_mensag_cod2	cednte_emt_francesa	cednte_deb_tarifa	analise_risco	cednte_limprorrog	cednte_dt_boa	cednte_cepcoberto	cednte_concent_sac	cednte_consiste_cnpj_cep	indliquidez_ced	indperced	indliquidez_sac	indpersac	cednte_vlr_concent_oper	cednte_pct_baixa	cednte_pct_desc_abat	cednte_qtd_dias_contra	cednte_pct_praca_sac	cednte_per_praca_sac	cednte_baix_corresp	cednte_codident	cednte_ctamov	cednte_dias_envio_corresp	cednte_isent_cpmf	cednte_dias_atraso	cednte_pct_atraso	cedsitchddup	cednte_usoemp	cednte_przpont_sacdo	cednte_pctpont_sacado	cednte_vlr_lim_chddup	cednte_cevar	cednte_cevar_param	cednte_qtd_dias_emis_venc	cednte_protesto_cep	cednte_situacao	cednte_prz_situacao	cednte_qtd_dias_bloqueio	ramcodatividade	setcodatividade	cednte_tarifa_liber	cednte_prz_medio	cednte_chd_pctamostra	cednte_chd_pctmaiordev	cednte_chd_aleatorio	cednte_idc_sislegado	cednte_email	cednte_ger_boleto_pdf	hdrdathor	hdrcodusu	hdrcodetc	hdrcodpgr	cednte_cod_ans	cednte_cobra_tarifa	cednte_nome_reduzido	CEDNTE_TIP_LANCTO_DEBT	CEDNTE_TIP_LANCTO_CRED	CEDNTE_IDC_TESTE	CEDNTE_ENV_2A_VIA_EMAIL	CEDNTE_CCUSTO	CEDNTE_LIQUIDEZ_APURADA	CEDNTE_VLR_TITULO_VENC	CEDNTE_LIQ_DATA_REAL	CEDNTE_SEQ_NNUM	CEDNTE_DAT_CONT_MASTER	CEDNTE_VAL_FATURAMENTO	CEDNTE_PCT_CANHOTO	CEDNTE_RISCO_INSTITUICAO	CEDNTE_CAPITAL_GIRO	CEDNTE_DAT_FIM_RELCOB	CEDNTE_DAT_ALTCIP	emp_cod	clisgr_cod	clisgr_pct_concent_oper	clisgr_pct_concent_cart	clisgr_vlr_concent_cart	clisgr_vlr_titlo	clisgr_ver_cco	oper_cod	CLISGR_SIT_BENEF	CLISGR_NOM_FANTASIA	CLISGR_SIT_RELACIF	CLISGR_NUM_BENEF	CLISGR_DAT_INI_RELACIF	CLISGR_DAT_FIM_RELACIF	CLISGR_DAT_ALTCIP	CLISGR_DAT_RETCIP	CLISGR_IDC_ALT_STATUS	hdrdathor	hdrcodusu	hdrcodetc	hdrcodpgr	moeempcod	moecodmoedasgr	moecodmoedacli	moedes	moetip	moevalcotacao	moedatcotacao	moeindmodalidade	moetipcalc	emp_cod	proc_cod	proc_dtatual	proc_dtanter	proc_dtfutur	proc_ctaproc	proc_sitproc	proc_desc	proc_tab_nossn	proc_txt_cta	proc_txt_nossn	proc_ctlprc	proc_path	proc_path_psr	procob_dat_d2	procob_dat_d3	procob_dat_d4	procob_dat_d5	procob_idc_feriado	procob_nom_exe	emp_cod	parger_cod_sistem	parger_cod	parger_dep_central	parger_hst_cco_debcob	parger_hst_cco_debdes	parger_hst_cco_debcobesp	parger_hst_cco_crecob	parger_hst_cco_credes	parger_hst_cco_crecobesp	parger_moeda_principal	parger_seq_nnum	parger_ctb_result_cod_despcor	parger_ctb_agn_despcor	parger_hst_cco_debiof	parger_rel_path	parger_dep_central_adm	parger_num_automat	parger_ano	parger_tax_perm	parger_seq_retint	parger_interc_proc	parger_vlr_liquido	parger_sit_concentracao	parger_sit_cobradora	parger_nom_intrem	parger_tar_entdes	parger_ctb_transf	parger_cod_cheque	parger_cod_automacao	parger_automacao	parger_compensacao	parger_lista_negra	parger_cob_emp	parger_ident_retro	parger_tar_devcob	parger_analise_pont	parger_serv_interch	parger_valida_interch	parger_critica_sacdo	parger_aproveit_registro	parger_motivo_rejeicao	parger_est_baixa	parger_taxa_over	parger_taxa_perm	parger_moe_dollar	parger_manut_lista_negra	parger_tar_cheque	parger_ver_cco	parger_sac_avalista	parger_movctb_funcao	parger_iof_separado	parger_cheque	parger_mov_entrada	parger_interchange	parger_cod_factoring	parger_iof_adicional	parger_val_cancentracao	parger_val_concentracao_dia	parger_val_periodo	parger_prz_serasa_vencido	parger_perc_cart_cednte	parger_val_concent_carteira	parger_cod_restricao_protesto	parger_cod_restricao_concent	parger_movctb_juncao	parger_cednte_concent	parger_cod_restricao_vencidos	parger_mod_vndcmp	parger_hst_cco_debvnd	parger_hst_cco_crevnd	parger_anr_vlr_maxoper	parger_anr_vlr_maxban	parger_anr_vlr_concbco	parger_anr_pct_concbco	parger_anr_vlr_concoper	parger_anr_pct_concoper	parger_anr_prz_valtit	parger_anr_qtd_sacdo	parger_rel_francesa	parger_anr_pct_sacdo	parger_mod_compl	parger_vendor	parger_garantia	parger_desconto	parger_hst_dbt_central	parger_hst_crd_vinculada	parger_hst_dbt_vinculada	parger_hst_crd_livre	parger_conta2_num_dia	parger_conta2_dif_dia	parger_grava_arq	parger_ced_depagn	parger_titlo_vlr_tarifa	parger_boletagem_desc	parge_indice_cdi	parger_baix_protesto	parger_versao_vendor	parger_sacdo_end	parger_sacdo_compl	parger_sacdo_bai	parger_sacdo_cid	parger_sacdo_cep	parger_sacdo_est	parger_areceb_dias_avencer	parger_rel_franc_txt	parger_vendor_fcb	parger_atv_spb	parger_serv_spb	parger_tax_perm_ctb	parger_cep_cuc	parger_cco_sgr	parger_cntrat_lastro	parger_rating_manual	parger_prz_mov_retroativo	parger_vendor_retro	parger_prz_prot_ced_cart	parger_ver_liber_cred	parger_valid_data	parger_ver_rating	parger_controle_protesto	parger_vnd_libcco	parger_mora_iof	parger_remcli_nosncob_posalt	parger_max_float	parger_iof_atraso	parger_sit_chq	parger_saldo_financ	parger_atraso_medio	parger_chqdup	parger_mult_emp	parger_banco_cuc	parger_sit_pagfor	parger_param_automa	parger_rating_diario	parger_ver_dados_sacdo	parger_vlr_spread	parger_spread_min_inferior	parger_spread_min_superior	parger_anarisco_aprov_aut	parger_considera_alcada	parger_cnfesp01	parger_controle_alegacoes	parger_nosncob	parger_boleta_desc	parger_hst_crd_central	parger_hst_dbt_livre	parger_limprorrog_cednte	parger_altertitlo_te	parger_libcco	parger_rel_txmedia	parger_qtd_dias_contra	parger_pct_atraso_sac	parger_valida_contrato	parger_diautilano	parger_hst_dbt_central_31	parger_hst_crd_central_31	parger_hst_dbt_vinculada_31	parger_hst_crd_vinculada_31	parger_hst_dbt_livre_31	parger_hst_crd_livre_31	parger_liber_garantia	parger_gera_contrato	parger_max_venc_contr_tit	parger_tit_restr_conta1	parger_dt_boa	parger_valoriza_tit_atraso	parger_qtd_cnpj_cep	parger_qtd_altcnpj	parger_saldo_disp	parger_cessaocredito	parger_pct_sacado_180d	parger_qtd_sac_serasa	parger_floating_juros	parger_duplic_titulo	parger_vlr_max_tit	parger_prz_corresp	parger_primeiro_diautilano	indliquidez_banco	parger_prz_venc_liq	parger_qtd_dias_venc_liq	parger_ctb_baix_onl	parger_anr_duasfases_chq	parger_equal_pos_venc	parger_chq_liquid	parger_chq_float	parger_libgar_retro	parger_cpmf	parger_dias_venc	parger_mens_bloqt	parger_ver_dup_sac	parger_float_dt_contabil	parger_desc_livremov	parger_prz_val_entrada	parger_hst_cco_debcessao	parger_hst_cco_crecessao	parger_ctm	parger_idtalfa_vlb	parger_cntrat_filhote	parger_operacao_parcela	parger_integra_bacenjud	parger_qtd_dias_emis_venc	parger_sgrweb	parger_integracao	parger_baxaut_pagtoparcial	parger_rel_path_pdf	parger_dias_faixa_atraso	parger_compror	pargercartaparte1	pargercartaparte2	parger_utiliza_calculus	parger_protesto_cep	parger_mutuo	parger_idc_interveniente	parger_idc_prior_intcap	parger_busca_limite_cuc	parger_recompra	parger_cobertura_cep	parger_debita_prorrog_vendor	parger_idc_crt_abat	parger_restricao_cli	parger_cednte_composto	parger_cednte_ativo	parger_valor_kbyte	parger_empresa_arq	parger_vlr_tac	parger_usa_cooperativa	parger_dep_central_corresp	parger_idt_retroativo	parger_ndia_tarvenc	parger_vlr_cons_serasa	parger_pro_tit_vendor_sta	parger_cessao_venda	parger_custodia_cheque	parger_deb_cond_saldo	parger_fecha_contabil	parger_usuario_pfc	parger_data_pfc	parger_acate	parger_vlr_acate	parger_pct_acate	parger_lanc_retroativo_cco	parger_prox_cli_naocor	parger_ind_estorno_detalhado	parger_varmax_taxmin	parger_dat_efetiva_float	hdrdathor	hdrcodusu	hdrcodetc	hdrcodpgr	parger_consulta_serasa	parger_desc_cartorio	parger_registro_cartorio	parger_data_cartorio	parger_cobra_tarifa	PARGER_TAX_OPER_DEFAULT	PARGER_DIAS_FAIXA_ATRASO_US	PARGER_DIAS_LIMITE_VENC_DDA	PARGER_BOLETO_PREIMP	PARGER_COD_TARF_51	PARGER_INTER_EXEC_AUTOPROCESS	PARGER_HORAINI_AUTOPROCESS	PARGER_HORAFIM_AUTOPROCESS	PARGER_SPREAD_MIN	PARGER_DATA_INI_SPREAD	PARGER_TELCAB_NUM_SEQ	PARGER_ID_ARQUIVO
1	9001	278491	1	11	1	1	10	ART'S GOMES COMERCIO DE MADEIRAS LTDA                       	4	2	825	2013-02-28 00:00:00.000	2012-08-28 00:00:00.000	2012-10-29 00:00:00.000	2012-08-28 00:00:00.000	000237	2	N 	5010.14	4666.82000	NULL	5010.14	5010.14	NULL	NULL	NULL	NULL	NULL	NULL	15.03	NULL	NULL	NULL	99	4171	N	0	NULL	NULL	NULL	NULL	NULL	825	1	2	342610	1	73	ARTS GOMES COMERCIO DE MADEIRAS LTDA	R. GOMES CARDIM, 628	NULL	BRAS	SAO PAULO	3050000	SP	2	00342610000173     	ART'S GOMES COMERCIO DE MADEIRAS LTDA	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	2012-08-28 00:00:00.000	2013-02-28 00:00:00.000	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	2012-10-29 00:00:00.000	NULL	NULL	2012-08-28 00:00:00.000	NULL	0	NULL	5.06	0.00	313.53	NULL	NULL	NULL	NULL	NULL	2013-02-28 00:00:00.000	NULL	3	NULL	NULL	NULL	0.00	0.00	5033.63	0.00	0.00	23.49	0.00	NULL	0.00	NULL	NULL	5010.14	NULL	42	                                                            	NULL	NULL	NULL	NULL	NULL	2012-08-28 00:00:00.000	NULL	NULL		NULL	1	N	2012-08-28 00:00:00.000	NULL	NULL	NULL	210.43	6828.82	N	NULL	1608.25	00342610000173	B	NULL	NULL	NULL	29.79	313.53	0.00	NULL	NULL	NULL	2	NULL	2	NULL	NULL	NULL	NULL	NULL	N	NULL	NULL	C	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	1	NULL	NULL	NULL	15.03042	NULL	NULL	NULL	1	N	3	NULL	4666.82000	0.00	0.00	NULL	NULL	NULL	50.00	NULL	V	NULL	NULL	NULL	E	NULL	NULL	NULL	N	NULL	NULL	0	9.000000	0.000	3	NULL	C	NULL	NULL	NULL	NULL	NULL	NULL	0.00	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	 	NULL	NULL	NULL	0	NULL	NULL	NULL	NULL	0.00	NULL	NULL	NULL	2012-09-13 00:00:00.000	NULL	NULL	NULL	NULL	2013-02-28 00:00:00.000	N	NULL	NULL	NULL	NULL	GOMES CARDIM	NULL	SAO PAULO	3050000	SP	NULL	NULL	NULL	NULL	NULL	NULL	NULL	N	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	S	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	1	1	MATRIZ SAO PAULO  	MATRIZ SAO PAULO                                            	   854006000104	RUA AMARAL GAMA 315 	02018001  	                    	             	1999-01-01 00:00:00.000	NULL	NULL	2	5306	SP	BRASIL              	A	BRASIL	NULL	RUA       	AMARAL GAMA                                                      	                    	SANTANA             	315       	1	2	2	NOTA PROMISSORIA	NULL	NULL	NULL	NULL	NP1	NULL	02, 22	NULL	4	Baixa Normal	NULL	NULL	NULL	NULL	11	DESCONTO	2011-11-08 00:00:00.000	att	2015-07-31 00:00:00.000	NULL	11	S	S	S	1 	1020	E	NULL	NULL	NULL	NULL	S	PRE	NULL	NULL	S	NULL	S	N	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	1	9001	1	9001	NULL	000342610000173	ART'S GOMES COMERCIO DE MADEIRAS LTDA                       	1	NULL	NULL	P 	9	NULL	NULL	3	2012-02-15 00:00:00.000	2	NULL	N	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	507	NULL	0	NULL	NULL	509	100.00	0	NULL	100.00	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	N	NULL	N	NULL	NULL	NULL	NULL	GOMES CARDIM	03050000  	SAO PAULO	SP	2012-02-15 00:00:00.000	att	NULL	NULL	NULL	NULL	20.00	0.00	35000.00	0.00	NULL	NULL	NULL	1	100	100	1	825	NULL	NULL	N	D	S	1	NULL	S	S	NULL	NULL	NULL	NULL	NULL	35000.00	NULL	NULL	NULL	NULL	NULL	N	NULL	NULL	NULL	N	NULL	NULL	S	N	NULL	NULL	NULL	N	NULL	NULL	N	A	NULL	NULL	NULL	NULL	A	NULL	NULL	NULL	NULL	N	NULL	M	NULL	NULL	NULL	NULL	NULL	N	ART'S GOMES 	NULL	NULL	NULL	N	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	1	9	NULL	NULL	NULL	NULL	N	2	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	3/1/2014 10:10:15	r.klock	MC-SHOP-47	cobdesc	1	1	1	Real                          	M	1.000000	2015-09-17 00:00:00.000	NULL	NULL	1	99	2015-09-21 00:00:00.000	2015-09-18 00:00:00.000	2015-09-22 00:00:00.000	0	A	OPCAO ONLINE	0	0	0	0	\\srv-shop-db\ATTPS\SGR\files\infile\	\\srv-shop-db\ATTPS\SGR\files\relat\	2015-09-17 00:00:00.000	2015-09-16 00:00:00.000	2015-09-15 00:00:00.000	2015-09-14 00:00:00.000	N	NULL	1	3	1	1	601	602	310	401	402	711	1	376422	2	2	81	\\srv-shop-db\ATTPS\sgr\files\relat\                                            	1	S 	0	9.00	1	NULL	S	0	2	TEddmmnn.020	N	N	0	1  	0	0	0	1	S	0	0	1	1	0	1	0	N	1	0	7	0	S	31	1	NULL	S	1	1	1	100	A	0.00	0.00	0	2	0.00	0.00	0	0	S	1	NULL	N	611	411	100.00	100.00	0.00	0.00	35000.00	20.00	999	0	NULL	20.00	1	0	0	1	NULL	NULL	NULL	NULL	0	99	NULL	NULL	NULL	NULL	NULL	NULL	0	Rua Amaral Gama, 315	NULL	Santana	São Paulo	2018001	SP	5	NULL	0	N	attbhzw006a	0.00	N	S	N	NULL	888	S	0	N	9999	S	N	N	NULL	S	NULL	NULL	NULL	100000.00	5	S	0	N	N	NULL	D	N	10.00	10.000000	10.000000	N	N	N	NULL	S	N	NULL	1	1	S	S	S	15	0.00	S	2008-02-05 00:00:00.000	NULL	NULL	NULL	NULL	NULL	NULL	N	N	9999	S	NULL	NULL	0	1	S	N	0.00	NULL	S	1	35000.00	10	NULL	90.00	20	180	N	S	NULL	N	13	NULL	NULL	0	S	NULL	S	S	NULL	NULL	NULL	NULL	NULL	S	S	NULL	180	S	NULL	NULL	\\srv-shop-db\ATTPS\sgr\files\relat\	15	N	NULL	NULL	N	N	N	N	S	N	S	N	NULL	NULL	N	S	S	NULL	NULL	50.00	NULL	1	N	0	NULL	0	NULL	N	NULL	P	m.gouveia           	2014-03-26 00:00:00.000	NULL	NULL	NULL	S	18	NULL	NULL	N	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	N	3.100000	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	1	NULL


SELECT		* FROM CDCSANTANAMicroCredito..Coper O1 (nolock) 
							WHERE	OPNROPER='3641000893'

SELECT		* FROM CDCSANTANAMicroCredito..CBFIN O1 (nolock) 
							WHERE	ABNROPER='3641000893'

SELECT		* FROM CDCSANTANAMicroCredito..Coper O1 (nolock) 
							WHERE	OPNROPER='3630000746'

SELECT		* FROM CDCSANTANAMicroCredito..CBFIN O1 (nolock) 
							WHERE	ABNROPER='3630000746'

SELECT		* FROM CDCSANTANAMicroCredito..Coper O1 (nolock) 
							WHERE	OPNROPER='373000771'

SELECT		* FROM CDCSANTANAMicroCredito..CBFIN O1 (nolock) 
							WHERE	ABNROPER='373000771'

SELECT * FROM CDCSANTANAMicroCredito..TMODA O1 (nolock) 
*/


