USE sig --[Santana]
GO
/****** Object:  StoredProcedure [dbo].SCR_PendContrato    Script Date: 05/01/2017 16:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_PendenciaContrato' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_PendenciaContrato] 
GO


CREATE Procedure [dbo].SCR_PendenciaContrato (        
         @DT_INI SMALLDATETIME,      
         @DT_FIM SMALLDATETIME,     
         @AGNT   INT ) AS    
    
 begin  

/*   
DROP   TABLE DCO_PENDContrato   
GO  
  
CREATE TABLE DCO_PENDContrato (  
OPCODPROD varchar(6),  
OPNROPER varchar(15),  
OPDTBASE smalldatetime,  
OPVLRFIN float,  
OPCODORG1 varchar(6),  
O1DESCR varchar(20),  
OPCODORG2 varchar(6),  
O2DESCR varchar(30),  
OPCODORG3 varchar(6),  
O3DESCR varchar(20),  
OPCODORG4 varchar(6),  
O4DESCR varchar(15),  
OPCODORG5 varchar(6),  
O5DESCR varchar(15),  
OPCODORG6 varchar(6),  
EPCODPEN varchar(3),  
EPCMPLTO varchar(255),  
OPCODCLI varchar(15),  
A13CODORG int,  
A13DESCR varchar(20),  
CLNOMECLI varchar(60),  
CLFONEFIS varchar(20),  
CLFONECOM varchar(20),  
CLCGC varchar(18),  
DIASATRASO int,  
DOCUMENTO varchar(200),  -- obs  
VLR_LIBERADO FLOAT,  
VLR_PRODUCAO FLOAT,  
VLR_DEBITO  FLOAT,  
prc_pend  FLOAT,  
EPDTAGEN smalldatetime,  
EPDTPEN smalldatetime,  
EPDTCAD smalldatetime,  
EPDTLNCBX smalldatetime,  
EPDTFIM smalldatetime )  
  
CREATE INDEX DCO_PENDContrato_IDX1 ON DCO_PENDContrato (OPNROPER)  

ALTER TABLE DCO_PENDContrato ADD DT_LIMITE SMALLDATETIME, DT_BLOQUEIO SMALLDATETIME
ALTER TABLE DCO_PENDContrato ADD OPNRPROP VARCHAR(20)
ALTER TABLE DCO_PENDContrato ADD ATRASO_PEN INTEGER
ALTER TABLE DCO_PENDContrato DROP COLUMN ATRASO_PEN 
  */  
    
TRUNCATE TABLE DCO_PENDContrato     
    
INSERT INTO  DCO_PENDContrato  (OPCODPROD, OPNROPER, OPDTBASE, OPVLRFIN, OPCODORG1, O1DESCR,    
 OPCODORG2, O2DESCR, OPCODORG3, O3DESCR,  OPCODORG4, O4DESCR,    
 OPCODORG5, O5DESCR, OPCODORG6, EPCODPEN, EPCMPLTO, OPCODCLI,    
 A13CODORG, A13DESCR,   
 CLNOMECLI, CLFONEFIS, CLFONECOM, CLCGC,    
 DIASATRASO, EPDTAGEN, EPDTPEN, EPDTCAD, EPDTLNCBX, EPDTFIM, OPNRPROP)    
    
    
SELECT  distinct OPCODPROD,  O.OPNROPER, O.OPDTBASE, O.OPVLRFIN,O.OPCODORG1, T1.O1DESCR, O.OPCODORG2, T2.O2DESCR, O.OPCODORG6, T3.O6DESCR,    
  O.OPCODORG4, T4.O4DESCR, O.OPCODORG5, T5.O5DESCR, O.OPCODORG6, E.EPCODPEN, E.EPCMPLTO, O.OPCODCLI,    
  T1O3.O3CODORG,  replace( REPLACE( replace (O3DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''),   
  C.CLNOMECLI, C.CLFONEFIS, C.CLFONECOM, C.CLCGC,        
  ISNULL((SELECT MAX(DATEDIFF(DD, P.PADTVCTO, GETDATE()))   
   FROM CDCSANTANAMicroCredito..CPARC P  (NOLOCK)  
   WHERE P.PANROPER = O.OPNROPER     
     AND ( P.PADTMOV IS NULL OR P.PADTMOV > @DT_FIM) AND  P.PADTVAL <= @DT_FIM AND  NOT (P.PACODMOV IN ('07', '08', '09', '13', '91', '94') AND     
     P.PADTLIQ IS NOT NULL)), 0) AS DIASATRASO,     
  E.EPDTAGEN, E.EPDTPEN, E.EPDTCAD, E.EPDTLNCBX, E.EPDTFIM, OPNRPROP     
    
FROM     
    CDCSANTANAMicroCredito..COPER O    (NOLOCK)  
  INNER JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.OPCODCLI = C.CLCODCLI     
  INNER JOIN CDCSANTANAMicroCredito..EPEND E (NOLOCK) ON O.OPNROPER = E.EPNROPER     
  INNER JOIN CDCSANTANAMicroCredito..TPEND TP (NOLOCK) ON E.EPCODPEN = TP.PDCODPEN     
  
  LEFT  JOIN CDCSANTANAMicroCredito..TORG1 T1 (NOLOCK) ON O.OPCODORG1 = T1.O1CODORG     
  LEFT  JOIN CDCSANTANAMicroCredito..TORG2 T2 (NOLOCK) ON O.OPCODORG2 = T2.O2CODORG     
  LEFT  JOIN CDCSANTANAMicroCredito..TORG6 T3 (NOLOCK) ON O.OPCODORG6 = T3.O6CODORG     
  LEFT  JOIN CDCSANTANAMicroCredito..TORG4 T4 (NOLOCK) ON O.OPCODORG4 = T4.O4CODORG     
  LEFT  JOIN CDCSANTANAMicroCredito..TORG5 T5 (NOLOCK) ON O.OPCODORG5 = T5.O5CODORG     
-- removi em 28/8/17  
--  LEFT  JOIN CDCSANTANAMicroCredito..TORG6 T6 (NOLOCK) ON O.OPCODORG6 = T6.O6CODORG     
  LEFT JOIN CDCSANTANAMicroCredito..TORG3 T1O3 (NOLOCK) ON T3.O6CODORG3 = T1O3.O3CODORG    
WHERE  E.EPCODPEN = '007'  -- ok em 1/9/17   --  '200'    pend crv antes 151 alterado em 28/8/17  
and ( O.OPDTLIQ IS NULL OR O.OPDTLIQ > @DT_FIM)     
AND O.OPDTBASE <= @DT_FIM   -- removi 25/10/17 OR E.EPDTFIM > @DT_FIM   
AND (E.EPDTFIM IS NULL )  AND E.EPDTCAD <= @DT_FIM    
--AND O.OPCODPROD IN ('000010','000009','000030','000072','000073','000005','000004','020001','000002','000003','999999','000001','000020','020003','000011','000013','000007','002000','000026','000019','020004','000012','000014',
--'000025','000008','020006','020002','020005','020007')     
--AND E.EPDTCAD >= @DT_INI    
--AND E.EPDTCAD <= @DT_FIM    
AND 1= 0+ CASE WHEN  @AGNT='99' THEN 1 -- TODOS OS AGENTES  
      WHEN  @AGNT<>'99' AND T1O3.O3CODORG = @AGNT  THEN 1  
      ELSE  0   END   
  
  
-- insere as operacoes da SERVICE CF CADASTRO de usuario complementar  
IF @AGNT<>'99'  
-- select * from usuario_svc  
INSERT INTO  DCO_PENDContrato (OPCODPROD, OPNROPER, OPDTBASE, OPVLRFIN, OPCODORG1, O1DESCR,    
 OPCODORG2, O2DESCR, OPCODORG3, O3DESCR,  OPCODORG4, O4DESCR,    
 OPCODORG5, O5DESCR, OPCODORG6, EPCODPEN, EPCMPLTO, OPCODCLI,    
 A13CODORG, A13DESCR,   
 CLNOMECLI, CLFONEFIS, CLFONECOM, CLCGC,    
 DIASATRASO, EPDTAGEN, EPDTPEN, EPDTCAD, EPDTLNCBX, EPDTFIM)    
    
    
SELECT  distinct OPCODPROD,  O.OPNROPER, O.OPDTBASE, O.OPVLRFIN,O.OPCODORG1, T1.O1DESCR, O.OPCODORG2, T2.O2DESCR, O.OPCODORG6, T3.O6DESCR,    
  O.OPCODORG4, T4.O4DESCR, O.OPCODORG5, T5.O5DESCR, O.OPCODORG6, E.EPCODPEN, E.EPCMPLTO, O.OPCODCLI,    
  T1O3.O3CODORG,  replace( REPLACE( replace (O3DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''),   
  C.CLNOMECLI, C.CLFONEFIS, C.CLFONECOM, C.CLCGC,        
  ISNULL((SELECT MAX(DATEDIFF(DD, P.PADTVCTO, @DT_FIM))   
   FROM CDCSANTANAMicroCredito..CPARC P  (NOLOCK)  
   WHERE P.PANROPER = O.OPNROPER     
     AND ( P.PADTMOV IS NULL OR P.PADTMOV > @DT_FIM) AND  P.PADTVAL <= @DT_FIM AND  NOT (P.PACODMOV IN ('07', '08', '09', '13', '91', '94') AND     
     P.PADTLIQ IS NOT NULL)), 0) AS DIASATRASO,     
  E.EPDTAGEN, E.EPDTPEN, E.EPDTCAD, E.EPDTLNCBX, E.EPDTFIM     
    
FROM     
  CDCSANTANAMicroCredito..COPER O    (NOLOCK)  
  INNER JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.OPCODCLI = C.CLCODCLI     
  INNER JOIN CDCSANTANAMicroCredito..EPEND E (NOLOCK) ON O.OPNROPER = E.EPNROPER     
  INNER JOIN CDCSANTANAMicroCredito..TPEND TP (NOLOCK) ON E.EPCODPEN = TP.PDCODPEN     
  INNER  JOIN CDCSANTANAMicroCredito..TORG1 T1 (NOLOCK) ON O.OPCODORG1 = T1.O1CODORG     
  INNER  JOIN CDCSANTANAMicroCredito..TORG2 T2 (NOLOCK) ON O.OPCODORG2 = T2.O2CODORG     
  INNER  JOIN CDCSANTANAMicroCredito..TORG4 T4 (NOLOCK) ON O.OPCODORG4 = T4.O4CODORG     
  INNER  JOIN CDCSANTANAMicroCredito..TORG5 T5 (NOLOCK) ON O.OPCODORG5 = T5.O5CODORG     
  
 -- OPERADOR  
  INNER  JOIN (select * from CDCSANTANAMicroCredito..TORG6 T3a (NOLOCK)  
    where convert(int,o6codorg) in (select distinct codOperador from usuario_svc S1 (NOLOCK)  where codAgente=@AGNT)  
       ) as T3-- SERVICE  
  ON O.OPCODORG6 = T3.O6CODORG     
  
  INNER JOIN CDCSANTANAMicroCredito..TORG3 T1O3 (NOLOCK)   
   ON  T1O3.O3CODORG = T3.O6CODORG3  
WHERE E.EPCODPEN = '007'  -- pendencia de CONTRATO  
 AND ( O.OPDTLIQ IS NULL OR O.OPDTLIQ > @DT_FIM)     
 AND O.OPDTBASE <= @DT_FIM    -- REMOVI  E.EPDTFIM > @DT_FIM  
 -- EM 25/10/17 SOMENTE OS PENDENTES  **********   EPDTFIM PREENCHIDA NAO ESTAH MAIS PEND  
 AND (E.EPDTFIM IS NULL )  AND E.EPDTCAD <= @DT_FIM    
 --AND O.OPCODPROD IN ('000010','000009','000030','000072','000073','000005','000004','020001','000002','000003','999999','000001','000020','020003','000011','000013','000007','002000','000026','000019','020004',
 --'000012','000014','000025','000008','020006','020002','020005','020007')     
  
-- AND E.EPDTCAD >= @DT_INI  *********** REMOVI PROPOSTAS ENTRARAM NO MES ANT  
-- AND E.EPDTCAD <= @DT_FIM    
 -- FILTRO OK PELO JOIN  
  
-- REMOVE PEND CONTRATO ********** SEM RENEG  em 20/10/17 ***********  
-- SELECT * FROM  DCO_PENDContrato     
DELETE FROM  DCO_PENDContrato     
 WHERE RIGHT(OPNROPER,1) IN ('A','B','C','D','E','F') -- REMOVE RENEGS  
  
  
-- AJUSTADO  -- 30/10/2017  
-- REMOVE . E ESPACOS A ESQUERDA  
UPDATE  DCO_PENDContrato     
 SET  A13DESCR= LTRIM(REPLACE(A13DESCR,'.',''))  
  
  
  
-- AJUSTADO  -- 30/10/2017  
-- ajusta os dados DO CONTRATO VLR LIB  
UPDATE  DCO_PENDContrato     
 SET  VLR_LIBERADO= B.OPVLRFIN   -- SELECT *  OPVLROPCZ= vlr bruto  
 FROM CDCSANTANAMicroCredito..COPER B (NOLOCK)   
 WHERE B.OPNROPER=DCO_PENDContrato.OPNROPER  
    
    
    
-- ajusta os dados DO CONTRATO VLR DEB  
UPDATE  DCO_PENDContrato     
 SET  VLR_DEBITO= VLR_LIBERADO * 0.015  -- 15% desconto retidos  
   --,VLR_CREDITO = 0.0  
  
/*  
-- ajusta os dados da Pendencia  
UPDATE  DCO_PENDContrato     
 SET  DOCUMENTO= PDDESCRPEN   
  INNER JOIN CDCSANTANAMicroCredito..EPEND E (NOLOCK) ON O.OPNROPER = E.EPNROPER     
-- select * from  CDCSANTANAMicroCredito..EPEND E (NOLOCK) where epnroper='616026902'  
-- select * from  CDCSANTANAMicroCredito..TPEND E (NOLOCK) where epnroper='616026902'  
 FROM CDCSANTANAMicroCredito..TPEND TP (NOLOCK)   
 WHERE DCO_PENDContrato.EPCODPEN = TP.PDCODPEN    
*/  
  
-- ajusta PRODUCAO  
DECLARE  @DT_REF_INI DATETIME   
SET   @DT_REF_INI = CONVERT(CHAR(4),DATEPART(YEAR,@DT_FIM))+  
       RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DT_FIM))),2)+'01'  
-- PRODUCAO NO MES DE REF    
-- VLR BRUTO = OPVLROPCZ = PRODUCAO  
-- SELECT * FROM DCO_PENDContrato (NOLOCK)  
UPDATE  DCO_PENDContrato     
 SET  VLR_PRODUCAO= (SELECT   SUM(B.OPVLRFIN)  
       FROM CDCSANTANAMicroCredito..COPER B (NOLOCK)   
       WHERE OPDTBASE BETWEEN  @DT_INI AND @DT_FIM  
        -- SOMENTE PELO OPERADOR   
        AND B.OPCODORG6 IN (SELECT DISTINCT O6CODORG   
             FROM CDCSANTANAMicroCredito..TORG6 B (NOLOCK)   
             WHERE B.O6CODORG3 = DCO_PENDContrato.A13CODORG ) )  
      
  
-- ajusta os DIAS DE ATRASO  
UPDATE  DCO_PENDContrato     
 SET  ATRASO_PEN= DATEDIFF(D,OPDTBASE,@DT_FIM),  
   PRC_PEND  = CASE WHEN VLR_PRODUCAO = 0.0  THEN 0.0 ELSE VLR_LIBERADO/VLR_PRODUCAO * 100.0 END  

--AJUSTA DATA LIMITE E BLOQUEIO
UPDATE DCO_PENDContrato
SET DT_LIMITE = DATEADD(DAY,10,OPDTBASE), DT_BLOQUEIO = DATEADD(DAY,11,OPDTBASE)
    
SELECT A13CODORG, A13DESCR, OPNROPER, OPNRPROP, OPDTBASE, CLNOMECLI, OPCODORG3, O3DESCR, OPCODORG4, O4DESCR,   
ISNULL(epCmplto,'') AS obs , ISNULL(VLR_LIBERADO,0.0) AS vlr_lib, ISNULL(VLR_DEBITO,0.0) AS vlr_reter, vlr_producao, prc_pend,
DT_LIMITE, DT_BLOQUEIO, CASE WHEN DIASATRASO < 0 THEN '0' ELSE DIASATRASO END AS DIASATRASO, ATRASO_PEN
FROM DCO_PENDContrato  (NOLOCK)  
ORDER BY OPDTBASE, OPNROPER   
  
  
  
end  