USE sig --[Santana]
GO
/****** Object:  StoredProcedure [dbo].[scr_graf_Rolag_Consolid]    Script Date: 05/01/2017 16:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CRV_AGENTE' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CRV_AGENTE] 
GO

-- EXEC SCR_CRV_AGENTE 30
CREATE Procedure [dbo].SCR_CRV_AGENTE (
@AGNT   INT ) AS  

	begin


SELECT (CASE WHEN ISNULL(A13CODORGA23,0)=0 THEN 'N' ELSE 'S' END) AS ATIVO  from  CDCSANTANAMicroCredito..TA1O3  (nolock) 
WHERE A13CODORG =@AGNT

/*
SELECT *  from  CDCSANTANAMicroCredito..TA1O3  (nolock) 
A13CODORG	A13DESCR
2	PROMOTORA ARANDA- ZL
--SELECT ISNULL(A13CODORGA23,'N') AS ATIVO  from  

UPDATE CDCSANTANAMicroCredito..TA1O3 SET A13CODORGA23 =1
WHERE A13CODORG in (2,30)

			AND 1= 0+ CASE WHEN  @AGNT='99' THEN 1 -- TODOS OS AGENTES
						   WHEN	 @AGNT<>'99' AND T1O3.A13CODORG = @AGNT  THEN 1
						   ELSE  0			END	
*/

END
GO