USE sig --[Santana]
GO
/****** Object:  StoredProcedure [dbo].SCR_PendContrato    Script Date: 05/01/2017 16:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_PendenciaContrato_TTL' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_PendenciaContrato_TTL] 
GO

-- EXEC SCR_PendenciaContrato_TTL '20170801','20170831',99
-- EXEC SCR_PendenciaContrato_TTL '20170801','20170831',119


CREATE Procedure [dbo].SCR_PendenciaContrato_TTL (
									@DT_INI SMALLDATETIME,    
									@DT_FIM SMALLDATETIME,   
									@AGNT   INT ) AS  

	begin

TRUNCATE TABLE DCO_PENDContrato   
  
INSERT INTO  DCO_PENDContrato  (OPCODPROD, OPNROPER, OPDTBASE, OPVLRFIN, OPCODORG1, O1DESCR,  
 OPCODORG2, O2DESCR, OPCODORG3, O3DESCR,  OPCODORG4, O4DESCR,  
 OPCODORG5, O5DESCR, OPCODORG6, EPCODPEN, EPCMPLTO, OPCODCLI,  
 A13CODORG, A13DESCR, 
	CLNOMECLI, CLFONEFIS, CLFONECOM, CLCGC,  
 DIASATRASO, EPDTAGEN, EPDTPEN, EPDTCAD, EPDTLNCBX, EPDTFIM)  
  
  
SELECT  distinct OPCODPROD,  O.OPNROPER, O.OPDTBASE, O.OPVLRFIN,O.OPCODORG1, T1.O1DESCR, O.OPCODORG2, T2.O2DESCR, O.OPCODORG3, T3.O3DESCR,  
  O.OPCODORG4, T4.O4DESCR, O.OPCODORG5, T5.O5DESCR, O.OPCODORG6, E.EPCODPEN, E.EPCMPLTO, O.OPCODCLI,  
  T1O3.A13CODORG,  replace( REPLACE( replace (A13DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''), 
  C.CLNOMECLI, C.CLFONEFIS, C.CLFONECOM, C.CLCGC,      
  ISNULL((SELECT MAX(DATEDIFF(DD, P.PADTVCTO, @DT_FIM)) 
			FROM	CDCSANTANAMicroCredito..CPARC P		(NOLOCK)
			WHERE	P.PANROPER = O.OPNROPER   
			  AND ( P.PADTMOV IS NULL OR P.PADTMOV > @DT_FIM) AND  P.PADTVAL <= @DT_FIM AND  NOT (P.PACODMOV IN ('07', '08', '09', '13', '91', '94') AND   
			  P.PADTLIQ IS NOT NULL)), 0) AS DIASATRASO,   
  E.EPDTAGEN, E.EPDTPEN, E.EPDTCAD, E.EPDTLNCBX, E.EPDTFIM   
  
FROM   
			 CDCSANTANAMicroCredito..COPER O				(NOLOCK)
  INNER JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.OPCODCLI = C.CLCODCLI   
  INNER JOIN CDCSANTANAMicroCredito..EPEND E	(NOLOCK) ON O.OPNROPER = E.EPNROPER   
  INNER JOIN CDCSANTANAMicroCredito..TPEND TP	(NOLOCK) ON E.EPCODPEN = TP.PDCODPEN   

  LEFT  JOIN CDCSANTANAMicroCredito..TORG1 T1	(NOLOCK) ON O.OPCODORG1 = T1.O1CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG2 T2	(NOLOCK) ON O.OPCODORG2 = T2.O2CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG3 T3	(NOLOCK) ON O.OPCODORG3 = T3.O3CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG4 T4	(NOLOCK) ON O.OPCODORG4 = T4.O4CODORG   
  LEFT  JOIN CDCSANTANAMicroCredito..TORG5 T5	(NOLOCK) ON O.OPCODORG5 = T5.O5CODORG   
-- removi em 28/8/17
--  LEFT  JOIN CDCSANTANAMicroCredito..TORG6 T6	(NOLOCK) ON O.OPCODORG6 = T6.O6CODORG   
  LEFT JOIN CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK) ON T3.O3CODORGA13 = T1O3.A13CODORG  
WHERE 	E.EPCODPEN = '007'  -- ok em 1/9/17   --  '200'    pend crv antes 151 alterado em 28/8/17
and ( O.OPDTLIQ IS NULL OR O.OPDTLIQ > @DT_FIM)   
AND O.OPDTBASE <= @DT_FIM  -- 25/10/17 removi OR E.EPDTFIM > @DT_FIM 
AND (E.EPDTFIM IS NULL  )  AND E.EPDTCAD <= @DT_FIM  
--AND O.OPCODPROD IN ('000010','000009','000030','000072','000073','000005','000004','020001','000002','000003','999999','000001','000020','020003','000011','000013','000007','002000','000026','000019','020004','000012','000014','000025','000008','020006','020002','020005','020007')   
--AND E.EPDTCAD >= @DT_INI  AND E.EPDTCAD <= @DT_FIM  ************ removi em 27/10/17
AND 1= 0+ CASE WHEN  @AGNT='99' THEN 1 -- TODOS OS AGENTES
			   WHEN	 @AGNT<>'99' AND T1O3.A13CODORG = @AGNT  THEN 1
			   ELSE  0			END	


-- insere as operacoes da SERVICE CF CADASTRO de usuario complementar
IF @AGNT<>'99'
-- select * from usuario_svc
INSERT INTO  DCO_PENDContrato (OPCODPROD, OPNROPER, OPDTBASE, OPVLRFIN, OPCODORG1, O1DESCR,  
 OPCODORG2, O2DESCR, OPCODORG3, O3DESCR,  OPCODORG4, O4DESCR,  
 OPCODORG5, O5DESCR, OPCODORG6, EPCODPEN, EPCMPLTO, OPCODCLI,  
 A13CODORG, A13DESCR, 
	CLNOMECLI, CLFONEFIS, CLFONECOM, CLCGC,  
 DIASATRASO, EPDTAGEN, EPDTPEN, EPDTCAD, EPDTLNCBX, EPDTFIM)  
  
  
SELECT  distinct OPCODPROD,  O.OPNROPER, O.OPDTBASE, O.OPVLRFIN,O.OPCODORG1, T1.O1DESCR, O.OPCODORG2, T2.O2DESCR, O.OPCODORG3, T3.O3DESCR,  
  O.OPCODORG4, T4.O4DESCR, O.OPCODORG5, T5.O5DESCR, O.OPCODORG6, E.EPCODPEN, E.EPCMPLTO, O.OPCODCLI,  
  T1O3.A13CODORG,  replace( REPLACE( replace (A13DESCR,'PROMOTORA',''), 'PROMOT ',''), 'PROM',''), 
  C.CLNOMECLI, C.CLFONEFIS, C.CLFONECOM, C.CLCGC,      
  ISNULL((SELECT MAX(DATEDIFF(DD, P.PADTVCTO, @DT_FIM)) 
			FROM	CDCSANTANAMicroCredito..CPARC P		(NOLOCK)
			WHERE	P.PANROPER = O.OPNROPER   
			  AND ( P.PADTMOV IS NULL OR P.PADTMOV > @DT_FIM) AND  P.PADTVAL <= @DT_FIM AND  NOT (P.PACODMOV IN ('07', '08', '09', '13', '91', '94') AND   
			  P.PADTLIQ IS NOT NULL)), 0) AS DIASATRASO,   
  E.EPDTAGEN, E.EPDTPEN, E.EPDTCAD, E.EPDTLNCBX, E.EPDTFIM   
  
FROM   
  CDCSANTANAMicroCredito..COPER O				(NOLOCK)
  INNER JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.OPCODCLI = C.CLCODCLI   
  INNER JOIN CDCSANTANAMicroCredito..EPEND E	(NOLOCK) ON O.OPNROPER = E.EPNROPER   
  INNER JOIN CDCSANTANAMicroCredito..TPEND TP	(NOLOCK) ON E.EPCODPEN = TP.PDCODPEN   
  INNER  JOIN CDCSANTANAMicroCredito..TORG1 T1	(NOLOCK) ON O.OPCODORG1 = T1.O1CODORG   
  INNER  JOIN CDCSANTANAMicroCredito..TORG2 T2	(NOLOCK) ON O.OPCODORG2 = T2.O2CODORG   
  INNER  JOIN CDCSANTANAMicroCredito..TORG4 T4	(NOLOCK) ON O.OPCODORG4 = T4.O4CODORG   
  INNER  JOIN CDCSANTANAMicroCredito..TORG5 T5	(NOLOCK) ON O.OPCODORG5 = T5.O5CODORG   

	-- OPERADOR
  INNER  JOIN (select * from CDCSANTANAMicroCredito..TORG3 T3a	(NOLOCK)
				where convert(int,o3codorg) in (select distinct codOperador from usuario_svc S1 (NOLOCK)  where codAgente=@AGNT)
					  ) as T3-- SERVICE
		ON O.OPCODORG3 = T3.O3CODORG   

  INNER JOIN CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK) 
			ON  T1O3.A13CODORG = T3.O3CODORGA13
WHERE E.EPCODPEN = '007'  -- pendencia de formalizacao
	AND   ( O.OPDTLIQ IS NULL OR O.OPDTLIQ > @DT_FIM)   
	AND O.OPDTBASE <= @DT_FIM  
	-- EM 25/10/17 SOMENTE OS PENDENTES  **********   EPDTFIM PREENCHIDA NAO ESTAH MAIS PEND
	AND (E.EPDTFIM IS NULL )  AND E.EPDTCAD <= @DT_FIM  
--	AND (E.EPDTFIM IS NULL OR E.EPDTFIM > @DT_FIM )  AND E.EPDTCAD <= @DT_FIM  

	-- AND O.OPCODPROD IN ('000010','000009','000030','000072','000073','000005','000004','020001','000002','000003','999999','000001','000020','020003','000011','000013','000007','002000','000026','000019','020004','000012','000014','000025','000008','020006','020002','020005','020007')   

	-- AND E.EPDTCAD >= @DT_INI  	AND E.EPDTCAD <= @DT_FIM    *************** removi em 27/10/17
	-- FILTRO OK PELO JOIN

-- REMOVE PEND CONTRATO ********** SEM RENEG  em 20/10/17 ***********
-- SELECT * FROM		DCO_PENDContrato   
DELETE FROM		DCO_PENDContrato   
	WHERE RIGHT(OPNROPER,1) IN ('A','B','C','D','E','F') -- REMOVE RENEGS



-- ajusta os dados DO CONTRATO VLR LIB
-- OPVLROPCZ ANTES EM 30/10/17  VLRFIN
UPDATE		DCO_PENDContrato   
	SET		VLR_LIBERADO= B.OPVLRFIN			--	SELECT *
	FROM	CDCSANTANAMicroCredito..COPER B	(NOLOCK) 
	WHERE	B.OPNROPER=DCO_PENDContrato.OPNROPER
  

-- ajusta PRODUCAO
DECLARE		@DT_REF_INI DATETIME 
SET			@DT_REF_INI =	CONVERT(CHAR(4),DATEPART(YEAR,@DT_FIM))+
							RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DT_FIM))),2)+'01'
-- PRODUCAO NO MES DE REF
-- SELECT * FROM DCO_PENDContrato (NOLOCK)
UPDATE		DCO_PENDContrato   
	SET		VLR_PRODUCAO= (SELECT   SUM(B.OPVLRFIN)
							FROM	CDCSANTANAMicroCredito..COPER B	(NOLOCK) 
							WHERE	OPDTBASE BETWEEN  @DT_INI AND @DT_FIM
								-- SOMENTE PELO OPERADOR 
								AND	B.OPCODORG3 IN (SELECT DISTINCT O3CODORG 
													FROM	CDCSANTANAMicroCredito..TORG3 B	(NOLOCK) 
													WHERE B.O3CODORGA13 = DCO_PENDContrato.A13CODORG ) )

--SELECT * FROM	DCO_PENDContrato	(NOLOCK)
			 
SELECT COUNT(DISTINCT OPNROPER) AS QTD, SUM(VLR_LIBERADO) AS VLR FROM	DCO_PENDContrato	(NOLOCK)

end
GO








