USE sig --[Santana]
GO
/****** Object:  StoredProcedure [dbo].[scr_graf_Rolag_Consolid]    Script Date: 05/01/2017 16:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CRV_pend' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CRV_pend] 
GO

-- EXEC SCR_CRV_PEND '','20160601','20160601','20160730',30
CREATE Procedure [dbo].SCR_CRV_pend (
	@DataContrato as datetime,
@DT_REF SMALLDATETIME,        
@DT_INI SMALLDATETIME,    
@DT_FIM SMALLDATETIME,   
@AGNT   INT ) AS  

/*
	@DataContrato as datetime,
	@DataReferencia as datetime,
	@DataDe as datetime,
	@DataAte as datetime,
	@Agente as int) AS   
SELECT * from TAgente (nolock) 
SELECT A13CODORG,A13DESCR,* from  CDCSANTANAMicroCredito..TA1O3  (nolock) 

SELECT A13CODORG AS AGCod,A13DESCR  + ' - ' + CAST(A13CODORG AS VARCHAR(10)) AS Descricao  from  CDCSANTANAMicroCredito..TA1O3  (nolock) ORDER BY A13DESCR

    SSQL = "SELECT COUNT(*) as CONTRATO FROM CDCSANTANAMicroCredito..TA1O3 T1O3, CDCSANTANAMicroCredito..COPER, CDCSANTANAMicroCredito..TORG3 T3 WHERE  OPDTLIQ IS NULL AND T3.O3CODORGA13 = T1O3.A13CODORG AND  OPCODORG3   = T3.O3CODORG AND OPDTLIQ IS NULL AND OPDTBASE<='" + Mid(dt_CONT, 7, 4) & "-" & Mid(dt_CONT, 4, 2) & "-" & Mid(dt_CONT, 1, 2) & "' And T1O3.A13CODORG = '" + cd_AGN + "'"
    


*/

	begin


    SELECT		COUNT(*) as CONTRATO 
		FROM	CRV_PEND (NOLOCK)
END
GO