USE sig --[Santana]
GO

create table usuario_svc
( CodAGENTE varchar(20),
  CodAgSVC	varchar(20),
  CodOperador	varchar(20))

CREATE INDEX usuario_svc_IDX1 ON usuario_svc (CodAGENTE ,  CodAgSVC)

--  PENDENCIA CONTRATO
CREATE TABLE DCO_PENDContrato (
OPCODPROD	varchar(6),
OPNROPER	varchar(15),
OPDTBASE	smalldatetime,
OPVLRFIN	float,
OPCODORG1	varchar(6),
O1DESCR	varchar(20),
OPCODORG2	varchar(6),
O2DESCR	varchar(30),
OPCODORG3	varchar(6),
O3DESCR	varchar(20),
OPCODORG4	varchar(6),
O4DESCR	varchar(15),
OPCODORG5	varchar(6),
O5DESCR	varchar(15),
OPCODORG6	varchar(6),
EPCODPEN	varchar(3),
EPCMPLTO	varchar(255),
OPCODCLI	varchar(15),
A13CODORG	int,
A13DESCR	varchar(20),
CLNOMECLI	varchar(60),
CLFONEFIS	varchar(20),
CLFONECOM	varchar(20),
CLCGC	varchar(18),
DIASATRASO	int,
DOCUMENTO	varchar(200),  -- obs
VLR_LIBERADO	FLOAT,
VLR_PRODUCAO	FLOAT,
VLR_DEBITO		FLOAT,
prc_pend		FLOAT,
EPDTAGEN	smalldatetime,
EPDTPEN	smalldatetime,
EPDTCAD	smalldatetime,
EPDTLNCBX	smalldatetime,
EPDTFIM	smalldatetime )

CREATE INDEX DCO_PENDContrato_IDX1 ON DCO_PENDContrato (OPNROPER)


---------
CREATE TABLE crv_PEND_SINT (
A13CODORG	int,
A13DESCR	varchar(20),
AGATIVO		VARCHAR(2),
QTDE		FLOAT,
QTDE_PEND	FLOAT,
PRC			FLOAT,
VLR_RETIDO	FLOAT,
PRC_ANT		FLOAT,

QTDE_ANT		FLOAT,
QTDE_PEND_ANT	FLOAT   )





-- 

DROP   TABLE crv_PEND 
GO
CREATE TABLE crv_PEND (
OPCODPROD	varchar(6),
OPNROPER	varchar(15),
OPDTBASE	smalldatetime,
OPVLRFIN	float,
OPCODORG1	varchar(6),
O1DESCR	varchar(20),
OPCODORG2	varchar(6),
O2DESCR	varchar(30),
OPCODORG3	varchar(6),
O3DESCR	varchar(20),
OPCODORG4	varchar(6),
O4DESCR	varchar(15),
OPCODORG5	varchar(6),
O5DESCR	varchar(15),
OPCODORG6	varchar(6),
EPCODPEN	varchar(3),
EPCMPLTO	varchar(255),
OPCODCLI	varchar(15),
A13CODORG	int,
A13DESCR	varchar(20),
ABRENAVAM	varchar(11),
ABVLRTAB	float	,
ABCHASSI	varchar	(20),
ABCERTIF	varchar	(10),
ABPLACA	varchar(7),
ABMODELO	varchar(80),
CLNOMECLI	varchar(60),
CLFONEFIS	varchar(20),
CLFONECOM	varchar(20),
CLCGC	varchar(18),
DIASATRASO	int,
EPDTAGEN	smalldatetime,
EPDTPEN	smalldatetime,
EPDTCAD	smalldatetime,
EPDTLNCBX	smalldatetime,
EPDTFIM	smalldatetime )





-- diniz 30
insert usuario_svc select 30,164,1821
insert usuario_svc select 30,146,1720
insert usuario_svc select 30,165,1873
update usuario_svc set  CodAGENTE = 119 -- dinizOeste

insert usuario_svc select 119,164,1821
insert usuario_svc select 119,146,1720
insert usuario_svc select 119,165,1873
insert usuario_svc select 119,164,1873

select * from usuario_svc

select * from usuario_svc S1 (NOLOCK)  where codAgente=119

INNER  JOIN (select * from CDCSANTANAMicroCredito..TORG3 T3a	(NOLOCK)
				where o3codorg in (select distinct codOperador from usuario_svc S1 (NOLOCK)  where codAgente=119)
					  ) as T3-- SERVICE
		ON O.OPCODORG3 = T3.O3CODORG   

SELECT * FROM CDCSANTANAMicroCredito..TA1O3 T1O3 (NOLOCK) WHERE A13CODORG IN (146,164,165,168)

SELECT * FROM CDCSANTANAMicroCredito..TA1O3 T1O3 (NOLOCK) WHERE A13CODORG not IN (146,164,165,168)

select o3codorga13,* from CDCSANTANAMicroCredito..TORG3 T3a	(NOLOCK) where o3codorga13  IN (146,164,165,168)

SELECT O3CODORGA13,* FROM  CDCSANTANAMicroCredito..TORG3 T3	(NOLOCK) WHERE O3DESCR LIKE ('%BKF%')
ON O.OPCODORG3 = T3.O3CODORG   

SELECT O3CODORGA13,* FROM  CDCSANTANAMicroCredito..TORG3 T3	(NOLOCK) WHERE O3CODORG IN (1821,1720,1873)
O3CODORGA13	O3CODORG	O3DESCR	O3CODORG2	O3TXCMS	O3CODCCUS	O3ATIVA	O3CODREC	O3CODCLI	O3NRFUNC	O3TPFJ	O3CPFCGC	O3CC1COMP	O3CC1AGNR	O3CC1AGNM	O3CC1BCONR	O3CC1CONTA	O3CC1END	O3METAVLR	O3METAQTD	O3NOME	O3CC2COMP	O3CC2AGNR	O3CC2AGNM	O3CC2BCONR	O3CC2CONTA	O3CC2END	O3CC3COMP	O3CC3AGNR	O3CC3AGNM	O3CC3BCONR	O3CC3CONTA	O3CC3END	O3CODGAR1	O3CODGAR2	O3CODGAR3	O3VLRGAR1	O3VLRGAR2	O3VLRGAR3	O3PRZLIB	O3CCPGTO	O3RUA	O3CMPT	O3EMAIL	O3CC1TCCCP	O3CC2TCCCP	O3CC3TCCCP	O3BAI	O3CID	O3CEP	O3UF	O3DTCAD	O3NMRESP	O3FONERESP	O3OBSERV	O3CELRESP	O3TPORG3	O3CODBACK	O3CODORGA13	O3CODORGB13	O3DTADMIN	O3DTDESLIG	O3DDDTEL1	O3TEL1	O3DDDTEL2	O3TEL2	O3VISTORIA	O3LBD0SN	O3DTALT	O3PERCOMIS	O3PRZMAXDOF	O3CODORGEX	O3CODUSUALT	O3CLCMSS	O3AQSITPROP	O3CODUSU	O3DTNASC	O3CDCLIRIS	O3RATING	O3RESPABERT	O3USUCNET	O3SENCNET	O3EXCLFIEL	O3OBPRFCRT	O3RG	O3ORGEMI	O3DTEMIRG	O3NAC	O3NRREGIS	O3CODEXT	O3ORGESP	O3CODCREDIS	O3DVCREDIS	O3INDIFRAU	O3TPORG3MASTER	O3CODORGMS	O3AGPORLOC	O3CODINTCC
146	001720	BKF_DINIZ OESTE	000051	NULL	001	A		NULL		F	702.429.821-90							NULL	NULL	BANKFACIL																NULL	NULL	NULL		1									02010200		2016-07-05 00:00:00						 	146	NULL	NULL	NULL	NULL		NULL		N	N	NULL	NULL	NULL	NULL	NULL	N	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	N	NULL	NULL	N	NULL	NULL	S	NULL
164	001821	FINAN - DINIZ OESTE	000051	NULL	001	A		NULL		J	23.722.194/0001-34							NULL	NULL	FINANZERO DINIZ OESTE																NULL	NULL	NULL		1	ALAMEDA TIETE,615						CERQUEIRA CESAR	SAO PAULO	01417020	SP	2017-03-22 00:00:00							164	NULL	NULL	NULL	11	3897-4680	NULL		N	N	NULL	NULL	NULL	NULL	NULL	N	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	N	NULL	NULL	N	NULL	NULL	S	NULL
164	001873	CREDFIT - DINIZ ZO	000051	NULL	001	A		NULL		J	23.722.194/0001-34							NULL	NULL	CREDFIT DINIZ OESTE																NULL	NULL	NULL		1	ALAMEDA TIETE,615						CERQUEIRA CESAR	SAO PAULO	01417020	SP	2017-03-22 00:00:00							164	NULL	NULL	NULL	11	3897-4680	NULL		N	N	NULL	NULL	NULL	NULL	NULL	N	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	N	NULL	NULL	N	NULL	NULL	S	NULL

select * from CDCSANTANAMicroCredito..TORG3 T3a	(NOLOCK)
				where o3codorg in (1821,1720)

select * FROM     CDCSANTANAMicroCredito..COPER O				(NOLOCK)
 where opcodOrg3 in (1720)


select * FROM     CDCSANTANAMicroCredito..COPER O				(NOLOCK)
  INNER JOIN CDCSANTANAMicroCredito..EPEND E	(NOLOCK) ON O.OPNROPER = E.EPNROPER   
  INNER JOIN CDCSANTANAMicroCredito..TPEND TP	(NOLOCK) ON E.EPCODPEN = TP.PDCODPEN   
	-- OPERADOR
  INNER  JOIN (select * from CDCSANTANAMicroCredito..TORG3 T3a	(NOLOCK)
				where convert(int,o3codorg) in (select distinct codOperador from usuario_svc S1 (NOLOCK)  where codAgente='119')
					  ) as T3-- SERVICE
		ON O.OPCODORG3 = T3.O3CODORG   
-- removi em 28/8/17
  LEFT JOIN CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK) ON T3.O3CODORGA13 = T1O3.A13CODORG  
WHERE E.EPCODPEN = '151'  -- ok em 1/9/17   --  '200'    pend crv antes 151 alterado em 28/8/17


-- diniz 30
select * from usuario
sp_help usuario
Column_name	Type	Computed	Length
Login	varchar	no	20
NomeUsuario	varchar	no	20
Funcao	char	no	3
CodGerente	varchar	no	20
CodFilial	char	no	5
Cpf	char	no	11
EMail	varchar	no	50
Ativo	int	no	4
NomeCompleto	varchar	no	50
senha	varchar	no	40
perfil	int	no	4
PRODUTO	int	no	4
select O3CODORGA13,* from CDCSANTANAMicroCredito..TORG3 T3a	(NOLOCK)
				where o3codorg in (1821,1720,1873)
O3CODORGA13	O3CODORG	O3DESCR
164	001873	CREDFIT - DINIZ ZO

CDCSANTANAMicroCredito..TORG3 T3	(NOLOCK)

select * from CDCSANTANAMicroCredito..COPER T3a	(NOLOCK)
				where oPcodorg3 in (1821,1720,1873)

select * FROM    
  CDCSANTANAMicroCredito..COPER O				(NOLOCK)
--	INNER JOIN usuario_svc S (NOLOCK) ON S.CodAgente = 30   -- agente SELECIONADO
	-- OPERADOR
  INNER  JOIN (select * from CDCSANTANAMicroCredito..TORG3 T3a	(NOLOCK)
				where o3codorg in (select codOperador from usuario_svc S1 (NOLOCK)  where codAgente=30)
					  ) as T3-- SERVICE
ON O.OPCODORG3 = T3.O3CODORG   
	-- AGENTES
  INNER JOIN CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK) ON  T1O3.A13CODORG = S.CodAgSVC
and T1O3.A13CODORG = S.CodAgente
		AND  T1O3.A13CODORG = T3.O3CODORGA13


  INNER JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.OPCODCLI = C.CLCODCLI   
  INNER JOIN CDCSANTANAMicroCredito..EPEND E	(NOLOCK) ON O.OPNROPER = E.EPNROPER   
  INNER JOIN CDCSANTANAMicroCredito..TPEND TP	(NOLOCK) ON E.EPCODPEN = TP.PDCODPEN   

    JOIN CDCSANTANAMicroCredito..TORG1 T1	(NOLOCK) ON O.OPCODORG1 = T1.O1CODORG   
    JOIN CDCSANTANAMicroCredito..TORG2 T2	(NOLOCK) ON O.OPCODORG2 = T2.O2CODORG   
    JOIN CDCSANTANAMicroCredito..TORG4 T4	(NOLOCK) ON O.OPCODORG4 = T4.O4CODORG   
    JOIN CDCSANTANAMicroCredito..TORG5 T5	(NOLOCK) ON O.OPCODORG5 = T5.O5CODORG   

	 JOIN usuario_svc S (NOLOCK) ON S.CodAgente = 30   -- agente SELECIONADO

	-- OPERADOR
    JOIN CDCSANTANAMicroCredito..TORG3 T3	(NOLOCK) ON O.OPCODORG3 = T3.O3CODORG   
		 AND O.OPCODORG3= S.CODOPERADOR -- SERVICE

	-- AGENTES
   JOIN CDCSANTANAMicroCredito..TA1O3 T1O3	(NOLOCK) ON  T1O3.A13CODORG = S.CodAgSVC
		AND  T1O3.A13CODORG = T3.O3CODORGA13
WHERE E.EPCODPEN = '151'  -- ok em 1/9/17   --  '200'    pend crv antes 151 alterado em 28/8/17

sp_help	crv_PEND	
(NOLOCK)

SELECT * FROM   
  CDCSANTANAMicroCredito..COPER O				(NOLOCK)
  INNER JOIN CDCSANTANAMicroCredito..CCLIE C    (NOLOCK) ON O.OPCODCLI = C.CLCODCLI   
  INNER JOIN CDCSANTANAMicroCredito..EPEND E	(NOLOCK) ON O.OPNROPER = E.EPNROPER   
  INNER JOIN CDCSANTANAMicroCredito..TPEND TP	(NOLOCK) ON E.EPCODPEN = TP.PDCODPEN   

  INNER  JOIN CDCSANTANAMicroCredito..TORG1 T1	(NOLOCK) ON O.OPCODORG1 = T1.O1CODORG   
  INNER  JOIN CDCSANTANAMicroCredito..TORG2 T2	(NOLOCK) ON O.OPCODORG2 = T2.O2CODORG   
  INNER  JOIN CDCSANTANAMicroCredito..TORG4 T4	(NOLOCK) ON O.OPCODORG4 = T4.O4CODORG   
  INNER  JOIN CDCSANTANAMicroCredito..TORG5 T5	(NOLOCK) ON O.OPCODORG5 = T5.O5CODORG   
  INNER  JOIN (select * from CDCSANTANAMicroCredito..TORG3 T3a	(NOLOCK)
				where o3codorg in (select DISTINCT codOperador from usuario_svc S1 (NOLOCK)  where codAgente=119)
					  ) as T3-- SERVICE
		ON O.OPCODORG3 = T3.O3CODORG   

	-- AGENTES
  INNER JOIN (SELECT * FROM CDCSANTANAMicroCredito..TA1O3 t1	(NOLOCK) 
		WHERE   A13CODORG IN (SELECT CodAgSVC FROM usuario_svc (NOLOCK) WHERE CodAGENTE =119) ) AS T1O3
			ON  T1O3.A13CODORG = T3.O3CODORGA13
WHERE E.EPCODPEN = '151'  -- ok em 1/9/17   --  '200'    pend crv antes 151 alterado em 28/8/17

select * from  CDCSANTANAMicroCredito..EPEND E	(NOLOCK) where 
epnroper in ('612233895A','612263429A','616025516','616025999','616026485','616026630',
'616026818','616026902','616027080','616027094','616027190','616027274','616027336',
'616027482','616027687','63235996A','895001339','895001400','895001427')


select * from  gestorCOB..tPEND E	(NOLOCK) 

select * from  gestorCOB..ePEND E	(NOLOCK) where 
epnroper in ('612233895A','612263429A','616025516','616025999','616026485','616026630',
'616026818','616026902','616027080','616027094','616027190','616027274','616027336',
'616027482','616027687','63235996A','895001339','895001400','895001427')


select * from  CDCSANTANAMicroCredito..coper E	(NOLOCK) where 
epnroper in ('612233895A','612263429A','616025516','616025999','616026485','616026630',
'616026818','616026902','616027080','616027094','616027190','616027274','616027336',
'616027482','616027687','63235996A','895001339','895001400','895001427')

select * from  CDCSANTANAMicroCredito..cobs E	(NOLOCK)
select * from  gestorCob..cobse E	(NOLOCK)
 where 

select * from  CDCSANTANAMicroCredito..torg4 E	(NOLOCK)
9100
