use sig
go

USE SIG

USE SF_RELATORIOS

SP_HELPTEXT PRODUCAO_ANALISTA_DataBase



CREATE       PROCEDURE [dbo].[PRODUCAO_ANALISTA_DataBase]  
 @DT_INI SMALLDATETIME,  
 @DT_FIM SMALLDATETIME,  
    @VerTrilha char(1) = '0'  
as  
IF isnull (object_id ('PRODANALISTA'), 0) <> 0  
BEGIN  
 DROP TABLE PRODANALISTA  
END  
CREATE TABLE PRODANALISTA(  
 PROPOSTA VARCHAR(9) NULL,  
 NOME_ANALISTA VARCHAR(35) NULL,  
 USUARIO VARCHAR(25) NULL,  
 APROVADAS SMALLINT NULL,  
 PENDENTES SMALLINT NULL,  
 REPROVADAS SMALLINT NULL,  
 CANCELADAS SMALLINT NULL)  
If @VerTrilha = '1'   
   Begin  
       Select 'Selecionando Registros Para Incluir em ProdAnalista' As Status  
   End  
INSERT INTO PRODANALISTA(PROPOSTA, NOME_ANALISTA, USUARIO, APROVADAS, PENDENTES, REPROVADAS, CANCELADAS)  
  
SELECT P.PPNRPROP AS Proposta,  
       (SELECT USNOMEUSUC  
          FROM ACESSOCORP .. TUSU  
         WHERE USNOMEUSU IN  
               (SELECT EPUSUARIO  
                  FROM PROPWEBSMC .. EPROP  
                 WHERE EPNRPROP = P.PPNRPROP  
                   AND EPNRDECI = '100'  
                   AND EPNRSEQ = (SELECT MAX(EPNRSEQ)  
                                    FROM PROPWEBSMC .. EPROP  
                                   WHERE EPNRPROP = P.PPNRPROP  
                                     AND EPNRDECI = '100'))) AS NOME_ANALISTA,  
       (SELECT EPUSUARIO  
                  FROM PROPWEBSMC .. EPROP  
                 WHERE EPNRPROP = P.PPNRPROP  
                   AND EPNRDECI = '100'  
                   AND EPNRSEQ = (SELECT MAX(EPNRSEQ)  
                                    FROM PROPWEBSMC .. EPROP  
                                   WHERE EPNRPROP = P.PPNRPROP  
                                     AND EPNRDECI = '100')) AS USUARIO,  
  0 As APROVADAS,  
  0 AS PENDENTES,  
  0 AS REPROVADAS,  
        0 AS CANCELADAS  
  FROM PROPWEBSMC .. CPROP P  
 WHERE P.PPCODCLI IS NOT NULL  
   AND P.PPQTDDPARC IS NOT NULL  
   AND P.PPDTBASE BETWEEN @DT_INI AND @DT_FIM  
  
If @VerTrilha = '1'   
   Begin  
       Select 'Gravando Como OUTROS as Propostas Com Usuario Null em ProdAnalista' As Status  
   End  
  
INSERT INTO PRODANALISTA(PROPOSTA, NOME_ANALISTA, USUARIO, APROVADAS, PENDENTES, REPROVADAS, CANCELADAS)  
SELECT X.EPNRPROP,'MESA DE CRÉDITO','MESA',0,1,0,0  
                  FROM PROPWEBSMC .. EPROP X,PROPWEBSMC..CPROP C  
                 WHERE   
        C.PPNRPROP = X.EPNRPROP   
                   AND X.EPNRDECI = '100'  
                   AND X.EPNRSEQ = (SELECT MAX(Y.EPNRSEQ)  
                                    FROM PROPWEBSMC .. EPROP Y  
                                   WHERE Y.EPNRPROP = X.EPNRPROP)  
       AND X.EPNRPROP NOT IN(SELECT PROPOSTA FROM PRODANALISTA)  
       AND C.PPDTBASE >= @DT_INI AND C.PPDTBASE < @DT_FIM   
  
  
UPDATE PRODANALISTA SET NOME_ANALISTA = 'MESA DE CRÉDITO',USUARIO = 'MESA' WHERE USUARIO IS NULL AND   
PROPOSTA IN(SELECT EPNRPROP  
                  FROM PROPWEBSMC .. EPROP  
                 WHERE EPNRPROP = PROPOSTA  
                   AND EPNRDECI = '100'  
                   AND EPNRSEQ = (SELECT MAX(EPNRSEQ)  
                                    FROM PROPWEBSMC .. EPROP  
                                   WHERE EPNRPROP = PROPOSTA))  
  
UPDATE PRODANALISTA SET NOME_ANALISTA = 'CRIVO/OUTROS',USUARIO = 'CRIVO/OUTROS' WHERE USUARIO IS NULL  
  
  
If @VerTrilha = '1'   
   Begin  
       Select 'Gravando Aprovadas com Situação APR,LIB e INT em ProdAnalista' As Status  
   End  
  
UPDATE   
  PRODANALISTA SET APROVADAS = 1   
WHERE PROPOSTA IN(SELECT   
       MPNRPROP   
     FROM   
       PROPWEBSMC..CMOVP   
     WHERE   
       MPNRPROP = PROPOSTA AND MPSIT IN('APR','LIB','INT'))  
If @VerTrilha = '1'   
   Begin  
       Select 'Gravando Pendentes com Situação AND e PEN em ProdAnalista' As Status  
   End  
  
UPDATE   
  PRODANALISTA SET PENDENTES = 1   
WHERE PROPOSTA IN(SELECT   
       MPNRPROP   
     FROM   
       PROPWEBSMC..CMOVP   
     WHERE   
       MPNRPROP = PROPOSTA AND MPSIT IN('AND','PEN'))  
  
If @VerTrilha = '1'   
   Begin  
       Select 'Gravando Reprovadas com Situação REP em ProdAnalista' As Status  
   End  
  
UPDATE   
  PRODANALISTA SET REPROVADAS = 1   
WHERE PROPOSTA IN(SELECT   
       MPNRPROP   
     FROM   
       PROPWEBSMC..CMOVP   
     WHERE   
       MPNRPROP = PROPOSTA AND MPSIT IN('REP'))  
If @VerTrilha = '1'   
   Begin  
       Select 'Gravando Canceladas com Situação CAN em ProdAnalista' As Status  
   End  
  
UPDATE   
  PRODANALISTA SET CANCELADAS = 1   
WHERE PROPOSTA IN(SELECT   
       MPNRPROP   
     FROM   
       PROPWEBSMC..CMOVP   
     WHERE   
       MPNRPROP = PROPOSTA AND MPSIT IN('CAN'))  
  
If @VerTrilha = '1'   
   Begin  
       Select 'Gravando Como CRIVO as Propostas Com Usuario OUTROS e Propostas REP atividade 503 em ProdAnalista' As Status  
   End  
  
  
UPDATE PRODANALISTA SET NOME_ANALISTA = 'CRIVO',USUARIO = 'CRIVO' WHERE USUARIO = 'OUTROS' AND   
REPROVADAS = 1 AND PROPOSTA IN(SELECT   
         EPNRPROP   
         FROM   
         PROPWEBSMC..EPROP   
         WHERE   
         EPNRPROP = PROPOSTA AND   
         EPNRDECI = 503  AND   
         EPSITFIM = 'REP')  
  
If @VerTrilha = '1'   
   Begin  
       Select 'Gravando Como CRIVO as Propostas Com Usuario OUTROS e Propostas LIB,APR e INT atividade 502 em ProdAnalista' As Status  
   End  
  
UPDATE PRODANALISTA SET NOME_ANALISTA = 'CRIVO/OUTROS',USUARIO = 'CRIVO/OUTROS' WHERE USUARIO = 'OUTROS' AND   
APROVADAS = 1 AND PROPOSTA IN(SELECT   
         EPNRPROP   
         FROM   
         PROPWEBSMC..EPROP   
         WHERE   
         EPNRPROP = PROPOSTA AND   
         EPNRDECI = 502  AND   
         EPSITFIM IN('LIB', 'APR', 'INT'))  
  
  
  
  
  
  
  
  
  