USE sig
GO
/****** Object:  StoredProcedure [dbo].[SCR_credito_tempo_total1]    Script Date: 19/03/2017 17:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_credito_tempo_total1' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_credito_tempo_total1]
GO




        create Procedure [dbo].[SCR_credito_tempo_total1] (
			@data_de as datetime,
			@data_ate as datetime,
			@PAR1 as varchar(5),
			@PAR2 as varchar(5),
			@PAR3 as varchar(5),
			@PAR4 as varchar(5),
			@PAR5 as varchar(5),
			@PAR6 as varchar(5)) AS

		begin



			SELECT
				1				Cod_fx_tempo,
				'0-30 min'		Faixa_Tempo,
				2157 			Qtde,
				53				prc_qtd,
				11				aprovadas,
				0				prc_aprovadas,
				0				integradas,
				0				prc_integradas,
				0				negadas,
				0				prc_negadas,
				0				pendentes,
				0				prc_pendentes


			UNION ALL

			SELECT

				2				Cod_fx_tempo,
				'31-60 min'		Faixa_Tempo,
				147 			Qtde,
				4				prc_qtd,
				10				aprovadas,
				4				prc_aprovadas,
				0				integradas,
				0				prc_integradas,
				0				negadas,
				0				prc_negadas,
				0				pendentes,
				0				prc_pendentes
				

			UNION ALL

			SELECT

				3				Cod_fx_tempo,
				'1-4 Hrs'		Faixa_Tempo,
				615 			Qtde,
				15				prc_qtd,
				76				aprovadas,
				32				prc_aprovadas,
				0				integradas,
				0				prc_integradas,
				0				negadas,
				0				prc_negadas,
				0				pendentes,
				0				prc_pendentes
				

			UNION ALL

			SELECT

				4				Cod_fx_tempo,
				'14-12 Hrs'		Faixa_Tempo,
				136 			Qtde,
				3				prc_qtd,
				33				aprovadas,
				14				prc_aprovadas,
				2				integradas,
				1				prc_integradas,
				2				negadas,
				1				prc_negadas,
				2				pendentes,
				1				prc_pendentes
				

			UNION ALL

			SELECT

				5				Cod_fx_tempo,
				'1-3 dias'		Faixa_Tempo,
				511 			Qtde,
				13				prc_qtd,
				96				aprovadas,
				41				prc_aprovadas,
				40				integradas,
				14				prc_integradas,
				40				negadas,
				14				prc_negadas,
				40				pendentes,
				14				prc_pendentes
				

			UNION ALL

			SELECT

				6				Cod_fx_tempo,
				'4-7 dias'		Faixa_Tempo,
				211 			Qtde,
				5				prc_qtd,
				12				aprovadas,
				5				prc_aprovadas,
				117				integradas,
				40				prc_integradas,
				117				negadas,
				40				prc_negadas,
				118				pendentes,
				41				prc_pendentes
				

			UNION ALL

			SELECT

				7				Cod_fx_tempo,
				'>1 sem'		Faixa_Tempo,
				298 			Qtde,
				7				prc_qtd,
				9				aprovadas,
				4				prc_aprovadas,
				133				integradas,
				46				prc_integradas,
				133				negadas,
				47				prc_negadas,
				134				pendentes,
				48				prc_pendentes
				

			UNION ALL

			SELECT

				0				Cod_fx_tempo,
				'TOTAL'			Faixa_Tempo,
				4075 			Qtde,
				100				prc_qtd,
				236				aprovadas,
				6				prc_aprovadas,
				292				integradas,
				7				prc_integradas,
				296				negadas,
				7				prc_negadas,
				324				pendentes,
				9				prc_pendentes



			end









