
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
go

-- EXEC JOB_COMERCIAL_CRED_CART '20150731'

-- PROC producao  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'JOB_COMERCIAL_CRED_CART' AND type = 'P')
   DROP PROCEDURE [dbo].[JOB_COMERCIAL_CRED_CART]
GO


CREATE Procedure [dbo].[JOB_COMERCIAL_CRED_CART] (@DT as datetime) AS
BEGIN


		DECLARE @data_INI AS SMALLDATETIME
		-- DIA 1 DO MES DO FECHAMENTO
		SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@DT))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DT))),2)+'01'

--			DECLARE @DT DATETIME  SET @DT ='20150731'
	-- PRODUCAO
  EXEC PRC_COMERCIAL_PRODUCAO @DT

 -- VEICULOS LEVES, MOTOS, UTILIT, REFIN
 EXEC	PRC_COMERCIAL_VEIC_QUEBRAS @DT

 EXEC PRC_COMERCIAL_PRODUCAO_CARTEIRA  @DT
 
-- OPERACAO
 EXEC [dbo].[PRC_COMERCIAL_CALCULO] @DT
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] @DT
 
--EXEC [dbo].[PRC_COMERCIAL_CALCULO_mes_ttl] @DT

--			DECLARE @DT DATETIME  SET @DT ='20150731'
-- EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES_OPER] @DT

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES_OPER] @DT
  -- VLR OPERADO  INSERIDO EM 12/5/17
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES_OPER2] @DT

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_TIPO_VEIC] @DT
EXEC [dbo].[PRC_COMERCIAL_SCORE_OPERADOR] @DT

 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER @DT


 EXEC [dbo].[PRC_COMERCIAL_PLANO] @DT
 EXEC [dbo].[PRC_COMERCIAL_PLANO_ANO] @DT

EXEC [dbo].[PRC_COMERCIAL_ANO] @DT
EXEC [dbo].PRC_COMERCIAL_CALCULO_clientes @DT
 

END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

