
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- [JOB_COMERCIAL_CRED_PROD] '20150930'

-- [JOB_COMERCIAL_CRED_PROD] '20150831'
-- [JOB_COMERCIAL_CRED_PROD] '20150630'

use SIG
go

-- PROC producao  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'JOB_COMERCIAL_CRED_PROD' AND type = 'P')
   DROP PROCEDURE [dbo].[JOB_COMERCIAL_CRED_PROD]
GO


CREATE Procedure [dbo].[JOB_COMERCIAL_CRED_PROD] (@DT as datetime) AS
BEGIN


		DECLARE @data_INI AS SMALLDATETIME
		-- DIA 1 DO MES DO FECHAMENTO
		SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@DT))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DT))),2)+'01'


-- PRODUCAO
-- DECLARE @DT DATETIME
--SET @DT ='20150331'
--SET @DT ='20150430'
-- SET @DT ='20150531'

  EXEC PRC_COMERCIAL_PRODUCAO @DT

  EXEC PRC_COMERCIAL_PRODUCAO_PROPOSTAS  @DT

-- SCORE ANTIGO, NAO PRECISA MAIS
-- PROPOSTAS VEICULOS

 EXEC PRC_COMERCIAL_PRODUCAO_CARTEIRA @DT

 -- VEICULOS LEVES, MOTOS, UTILIT, REFIN
 EXEC	PRC_COMERCIAL_VEIC_QUEBRAS @DT
-- RELATORIOS 

-- OPERACAO
 EXEC [dbo].[PRC_COMERCIAL_CALCULO] @DT
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] @DT
 
--EXEC [dbo].[PRC_COMERCIAL_CALCULO_mes_ttl] @DT

--			DECLARE @DT DATETIME  SET @DT ='20150531'
-- EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES_OPER] @DT

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES_OPER]  @DT
  -- VLR OPERADO  INSERIDO EM 12/5/17
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES_OPER2] @DT

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_TIPO_VEIC] @DT
EXEC [dbo].[PRC_COMERCIAL_SCORE_OPERADOR] @DT

 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER @DT


 EXEC [dbo].[PRC_COMERCIAL_PLANO] @DT
 EXEC [dbo].[PRC_COMERCIAL_PLANO_ANO] @DT

EXEC [dbo].[PRC_COMERCIAL_ANO] @DT
EXEC [dbo].PRC_COMERCIAL_CALCULO_clientes @DT
 


END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


