
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

/*
--
 EXEC [dbo].[PRC_COMERCIAL_SCORE_OPERADOR] '2015-01-31'

--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-02-28'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-03-31'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-04-30'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-05-30'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-06-30'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-07-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-08-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-09-30'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-10-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-11-30'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-12-31'

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2015-01-31'

select * from CML_PRODUCAO_MES WHERE PRODUTO='CG' ORDER BY ORDEM

select * from CML_PRODUCAO_MES WHERE PRODUTO='V' ORDER BY ORDEM

select * from COMERCIAL_PRODUCAO WHERE PRODUTO IN ('CG','CP')

*/

-- select sum(sld_inscrito) from rating_historiCo where dt_fecha='20140530' and nvl_risco <>'hh'
-- SELECT MAX(DT_FECHA)  FROM rating_historiCo 
-- SELECT *  FROM rating_historiCo WHERE DT_FECHA='20140530'

/* CRIAR TABELA AUXILIAR


select * from PROPOSTASMC..TOCUP

select * from PROPOSTAGA..TOCUP
select * from PROPOSTASANTANA..TOCUP
select * from PROPOSTASMC..TOCUP
select * from PROPWEBSHP..TOCUP
-- ***
select * from PROPWEBSMC..TOCUP

SELECT * FROM CML_PRODUCAO_OPE
SELECT * FROM COMERCIAL_PRODUCAO where veiculo='REFINANCIAMENTO UTILITARIOS'

SELECT * FROM CDCSANTANAMicroCredito..Coper where opnroper='800000060'

*/

use SIG
go


/*

 EXEC [dbo].[COMERCIAL_CALCULO_MES]  '2014-03-31'

USE SIG


DROP TABLE CML_PRODUCAO_MES
SP_HELP CML_PRODUCAO_MES
DROP TABLE CML_PRODUCAO_MES
CREATE TABLE CML_PRODUCAO_MES
	(	
		DT_FECHA		SMALLDATETIME,
		CARTEIRA		INT,
		ORDEM			INT,

--DT_FECHA	CARTEIRA	ORDEM	PRODUTO	COD_AGENTE	AGENTE	COD	OPERADOR	MEDIA_3A	MES_1A_2A	MES_ATUAL_2A
--      	MES_3M_2A	MES_6M_2A	MEDIA_2A	MES_1A_1A	MES_ATUAL_1A	MES_3M_1A	MES_6M_1A	MEDIA_1A	MES_3A_ANO_ATUAL	MES_2A_ANO_ATUAL	MES_1A_ANO_ATUAL	MES_ATUAL	MEDIA_ATUAL	COR_LINHA

		PRODUTO			VARCHAR(100),
		COD_AGENTE		VARCHAR(20),
		AGENTE			VARCHAR(100),
		COD_OPERADOR	VARCHAR(20),
		OPERADOR		VARCHAR(100),
		MEDIA_3A		float,
		MES_1A_2A		float,
		MES_ATUAL_2A	float,

		MES_3M_2A		float,
		MES_6M_2A		float,
		MEDIA_2A		FLOAT,
		MES_1A_1A		float,
		MES_ATUAL_1A	float,
		MES_3M_1A		FLOAT,
		MES_6M_1A		FLOAT,
		MEDIA_1A		FLOAT,	
		MES_3A_ANO_ATUAL	FLOAT,
		MES_2A_ANO_ATUAL	FLOAT,
		MES_1A_ANO_ATUAL	FLOAT,
		MES_ATUAL			FLOAT,
		MEDIA_ATUAL			FLOAT,

		COR_LINHA   varchar(3)
	)

CREATE INDEX CML_PRODUCAO_MES_IDX1 ON CML_PRODUCAO_MES
	(	DT_FECHA,		CARTEIRA,	ORDEM,	COD_AGENTE , AGENTE ,  COD_OPERADOR, OPERADOR)



*/

-- SELECT * FROM RR_ROLLRATE WHERE RATING='HH'
-- SELECT * FROM RATING_HISTORICO WHERE NVL_RISCO='HH'


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_COMERCIAL_SCORE_OPERADOR' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_COMERCIAL_SCORE_OPERADOR]
GO


CREATE Procedure [dbo].[PRC_COMERCIAL_SCORE_OPERADOR] (@data_ref as datetime) AS        
BEGIN        
        
        
DECLARE @data_INI AS SMALLDATETIME        
-- DIA 1 DO MES DO FECHAMENTO        
SET  @data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+        
   RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'        
        
-- APAGA PROCESSAMENTO ANTERIOR        
delete  from CML_PRODUCAO_SCORE        
 WHERE  DT_FECHA = @data_ref        
  AND  CARTEIRA=1        
  
SELECT *,VLR_OP * SCORE AS VLR_POND   
INTO #CML_PRODUCAO_SCORE FROM COMERCIAL_PRODUCAO (NOLOCK)  
WHERE DT_FECHA = @data_ref AND PRODUTO='V' AND VLR_PRESENTE > 0.0 AND CODMODA NOT IN ('613','615')  
  
--  QUEBRAS        
INSERT CML_PRODUCAO_SCORE        
 SELECT   -- DESCR 1 E 2        
   @data_ref,        
   1,1,PRODUTO,    -- cart, ordem, prod,         
   AGENTE, '' ,    -- AGENTE        
   '','',   -- CODOPER, '',  -- OPERADOR        
        
 -- m3_qtd FLOAT, m3_vlr FLOAT, m3_score FLOAT,        
   0.0, 0.0, 0.0,        
 -- m2_qtd FLOAT, m2_vlr FLOAT, m2_score FLOAT,        
   0.0, 0.0, 0.0,        
 -- m1_qtd FLOAT, m1_vlr FLOAT, m1_score FLOAT,        
   COUNT(*),         
   SUM(VLR_PRESENTE), -- MES ATUAL        
   --AVG(CONVERT(FLOAT,SCORE)),  -- MEDIA ATUAL        
   SUM(VLR_POND)/SUM(VLR_PRESENTE),  -- MEDIA ATUAL PONDERADA
   ''        
 FROM #CML_PRODUCAO_SCORE O1 (NOLOCK)        
 where DT_FECHA =  @data_ref   -- MES ATUAL        
  AND PRODUTO='V' AND VLR_PRESENTE >0.0     
  AND CODMODA NOT IN ('613','615')   --10/04/2019 TIAGO     
 GROUP BY PRODUTO, AGENTE -- , CODOPER        
        
        
        
-- **************************************************  MES ATUAL  TTL        
--  QUEBRAS        
INSERT CML_PRODUCAO_SCORE        
-- DECLARE @data_ref DATETIME SET @data_ref = '20150131'        
 SELECT   -- DESCR 1 E 2        
   @data_ref,        
   1,1,PRODUTO,    -- cart, ordem, prod,         
   '999', 'TOTAL' ,    -- AGENTE        
   '','',   -- CODOPER, '',  -- OPERADOR        
        
 -- m3_qtd FLOAT, m3_vlr FLOAT, m3_score FLOAT,        
   0.0, 0.0, 0.0,        
 -- m2_qtd FLOAT, m2_vlr FLOAT, m2_score FLOAT,        
   0.0, 0.0, 0.0,        
 -- m1_qtd FLOAT, m1_vlr FLOAT, m1_score FLOAT,        
   COUNT(*),         
   SUM(VLR_PRESENTE), -- MES ATUAL        
   --AVG(CONVERT(FLOAT,SCORE)),  -- MEDIA ATUAL        
   SUM(VLR_POND)/SUM(VLR_PRESENTE),  -- MEDIA ATUAL PONDERADA
   ''        
 FROM #CML_PRODUCAO_SCORE O1 (NOLOCK)        
 where DT_FECHA =  @data_ref   -- MES ATUAL        
  AND PRODUTO='V' AND VLR_PRESENTE >0.0      
  AND CODMODA NOT IN ('613','615')  --10/04/2019 TIAGO         
 GROUP BY PRODUTO        


 -------------------------------------------------MÊS ANTERIOR A DATAREF------------------------------------------------------------
DECLARE @DT_M1 AS SMALLDATETIME
SET @DT_M1  = DATEADD(D,-1, @data_INI)

SELECT *,VLR_OP * SCORE AS VLR_POND   
INTO #CML_PRODUCAO_SCORE1 FROM COMERCIAL_PRODUCAO (NOLOCK)  
WHERE DT_FECHA = @DT_M1 AND PRODUTO='V' AND VLR_PRESENTE > 0.0 AND CODMODA NOT IN ('613','615')  
  
--  QUEBRAS        
INSERT CML_PRODUCAO_SCORE        
 SELECT   -- DESCR 1 E 2        
   @data_ref,        
   1,1,PRODUTO,    -- cart, ordem, prod,         
   AGENTE, '' ,    -- AGENTE        
   '','',   -- CODOPER, '',  -- OPERADOR        
        
 -- m3_qtd FLOAT, m3_vlr FLOAT, m3_score FLOAT,        
   0.0, 0.0, 0.0,               
 -- m1_qtd FLOAT, m1_vlr FLOAT, m1_score FLOAT,        
   COUNT(*),         
   SUM(VLR_PRESENTE), -- MES ATUAL        
   --AVG(CONVERT(FLOAT,SCORE)),  -- MEDIA ATUAL        
   SUM(VLR_POND)/SUM(VLR_PRESENTE),
   0.0, 0.0, 0.0,   -- MEDIA ATUAL PONDERADA
   ''        
 FROM #CML_PRODUCAO_SCORE1 O1 (NOLOCK)        
 where DT_FECHA =  @DT_M1   -- MES ATUAL        
  AND PRODUTO='V' AND VLR_PRESENTE >0.0     
  AND CODMODA NOT IN ('613','615')   --10/04/2019 TIAGO     
 GROUP BY PRODUTO, AGENTE -- , CODOPER        
        
        
        
-- **************************************************  MES ATUAL  TTL        
--  QUEBRAS        
INSERT CML_PRODUCAO_SCORE        
-- DECLARE @data_ref DATETIME SET @data_ref = '20150131'        
 SELECT   -- DESCR 1 E 2        
   @data_ref,        
   1,1,PRODUTO,    -- cart, ordem, prod,         
   '999', 'TOTAL' ,    -- AGENTE        
   '','',   -- CODOPER, '',  -- OPERADOR        
        
 -- m3_qtd FLOAT, m3_vlr FLOAT, m3_score FLOAT,        
   0.0, 0.0, 0.0,        
 -- m1_qtd FLOAT, m1_vlr FLOAT, m1_score FLOAT,        
   COUNT(*),         
   SUM(VLR_PRESENTE), -- MES ATUAL        
   --AVG(CONVERT(FLOAT,SCORE)),  -- MEDIA ATUAL        
   SUM(VLR_POND)/SUM(VLR_PRESENTE),  -- MEDIA ATUAL PONDERADA
   0.0, 0.0, 0.0,        
   ''        
 FROM #CML_PRODUCAO_SCORE1 O1 (NOLOCK)        
 where DT_FECHA =  @DT_M1   -- MES ATUAL        
  AND PRODUTO='V' AND VLR_PRESENTE >0.0      
  AND CODMODA NOT IN ('613','615')  --10/04/2019 TIAGO         
 GROUP BY PRODUTO         
-------------------------------------------------FIM MÊS ANTERIOR A DATAREF------------------------------------------------------------
-------------------------------------------------MÊS ANTERIOR(2) A DATAREF------------------------------------------------------------
DECLARE @data_INI1 AS SMALLDATETIME        
-- DIA 1 DO MES DO FECHAMENTO        
SET  @data_INI1 =  CONVERT(CHAR(4),DATEPART(YEAR,@DT_M1))+        
   RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DT_M1))),2)+'01'   

DECLARE @DT_M2 AS SMALLDATETIME
SET @DT_M2  = DATEADD(D,-1, @data_INI1)

SELECT *,VLR_OP * SCORE AS VLR_POND   
INTO #CML_PRODUCAO_SCORE2 FROM COMERCIAL_PRODUCAO (NOLOCK)  
WHERE DT_FECHA = @DT_M2 AND PRODUTO='V' AND VLR_PRESENTE > 0.0 AND CODMODA NOT IN ('613','615')  

INSERT CML_PRODUCAO_SCORE        
 SELECT   -- DESCR 1 E 2        
   @data_ref,        
   1,1,PRODUTO,    -- cart, ordem, prod,         
   AGENTE, '' ,    -- AGENTE        
   '','',   -- CODOPER, '',  -- OPERADOR        
   COUNT(*),         
   SUM(VLR_PRESENTE), -- MES ATUAL        
   --AVG(CONVERT(FLOAT,SCORE)),  -- MEDIA ATUAL        
   SUM(VLR_POND)/SUM(VLR_PRESENTE),
   0.0, 0.0, 0.0, 
   0.0, 0.0, 0.0,   -- MEDIA ATUAL PONDERADA
   ''        
 FROM #CML_PRODUCAO_SCORE2 O1 (NOLOCK)        
 where DT_FECHA =  @DT_M2   -- MES ATUAL        
  AND PRODUTO='V' AND VLR_PRESENTE >0.0     
  AND CODMODA NOT IN ('613','615')   --10/04/2019 TIAGO     
 GROUP BY PRODUTO, AGENTE -- , CODOPER   
 
 INSERT CML_PRODUCAO_SCORE        
-- DECLARE @data_ref DATETIME SET @data_ref = '20150131'        
 SELECT   -- DESCR 1 E 2        
   @data_ref,        
   1,1,PRODUTO,    -- cart, ordem, prod,         
   '999', 'TOTAL' ,    -- AGENTE        
   '','',   -- CODOPER, '',  -- OPERADOR           
   COUNT(*),         
   SUM(VLR_PRESENTE), -- MES ATUAL        
   --AVG(CONVERT(FLOAT,SCORE)),  -- MEDIA ATUAL        
   SUM(VLR_POND)/SUM(VLR_PRESENTE),  -- MEDIA ATUAL PONDERADA
   0.0, 0.0, 0.0,   
   0.0, 0.0, 0.0,        
   ''        
 FROM #CML_PRODUCAO_SCORE2 O1 (NOLOCK)        
 where DT_FECHA =  @DT_M2   -- MES ATUAL        
  AND PRODUTO='V' AND VLR_PRESENTE >0.0      
  AND CODMODA NOT IN ('613','615')  --10/04/2019 TIAGO         
 GROUP BY PRODUTO    

-------------------------------------------------FIM MÊS ANTERIOR(2) A DATAREF------------------------------------------------------------

 -- NOME DO AGENTE   ORIGENS ALTERADO 30/4/18      
    -- SELECT * FROM CML_PRODUCAO_SCORE        
 -- DECLARE @data_ref DATETIME SET @data_ref = '20150131'        
 UPDATE  CML_PRODUCAO_SCORE        
  SET AGENTE = ISNULL(O3DESCR,'')        
 FROM CDCSANTANAMicroCredito..TORG3 O (NOLOCK)            
 WHERE CML_PRODUCAO_SCORE.DT_FECHA=@data_ref        
   AND PRODUTO = 'V'   -- VEICULO       
   AND LEN(COD_AGENTE) <= 9        
  AND COD_AGENTE = O3CODORG   --a.COD_agente  -- CONTEM CODIGO        
   AND (COD_AGENTE) <> 999        
        
END        
GO