
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

/*
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-01-31'

--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-02-28'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-03-31'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-04-30'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-05-30'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-06-30'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-07-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-08-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-09-30'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-10-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-11-30'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES] '2014-12-31'

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_TIPO_VEIC] '2015-01-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_TIPO_VEIC] '2015-02-28'

 SELECT * FROM CML_PRODUCAO_TIPO_VEIC

select * from CML_PRODUCAO_MES WHERE PRODUTO='CG' ORDER BY ORDEM

select * from CML_PRODUCAO_MES WHERE PRODUTO='V' ORDER BY ORDEM

select * from COMERCIAL_PRODUCAO WHERE PRODUTO IN ('CG','CP')

*/

-- select sum(sld_inscrito) from rating_historiCo where dt_fecha='20140530' and nvl_risco <>'hh'
-- SELECT MAX(DT_FECHA)  FROM rating_historiCo 
-- SELECT *  FROM rating_historiCo WHERE DT_FECHA='20140530'

/* CRIAR TABELA AUXILIAR


select * from PROPOSTASMC..TOCUP

select * from PROPOSTAGA..TOCUP
select * from PROPOSTASANTANA..TOCUP
select * from PROPOSTASMC..TOCUP
select * from PROPWEBSHP..TOCUP
-- ***
select * from PROPWEBSMC..TOCUP

SELECT * FROM CML_PRODUCAO_OPE
SELECT * FROM COMERCIAL_PRODUCAO where veiculo='REFINANCIAMENTO UTILITARIOS'

SELECT * FROM CDCSANTANAMicroCredito..Coper where opnroper='800000060'

*/

use SIG
go


/*

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_TIPO_VEIC]  '2014-03-31'

USE SIG

SP_HELP		  CML_PRODUCAO_TIPO_VEIC
DROP	TABLE CML_PRODUCAO_TIPO_VEIC
CREATE	TABLE CML_PRODUCAO_TIPO_VEIC
	(	
		DT_FECHA		SMALLDATETIME,
		RPT				INT,
		ORDEM			INT,

--DT_FECHA	CARTEIRA	ORDEM	PRODUTO	COD_AGENTE	AGENTE	COD	OPERADOR	MEDIA_3A	MES_1A_2A	MES_ATUAL_2A
--      	MES_3M_2A	MES_6M_2A	MEDIA_2A	MES_1A_1A	MES_ATUAL_1A	MES_3M_1A	MES_6M_1A	MEDIA_1A	MES_3A_ANO_ATUAL	MES_2A_ANO_ATUAL	MES_1A_ANO_ATUAL	MES_ATUAL	MEDIA_ATUAL	COR_LINHA

		COD_PRODUTO		VARCHAR(10),
		COD_TIPO		VARCHAR(20),
		TIPO			VARCHAR(100),
		M13		float,
		P13		float,
		M12		float,
		P12		float,
		M11		float,
		P11		float,

		M10		float,
		P10		float,
		M9		float,
		P9		float,
		M8		FLOAT,
		P8		float,
		M7		float,
		P7		float,
		M6		float,
		P6		float,
		M5		FLOAT,
		P5		float,
		M4		FLOAT,
		P4		float,
		M3		FLOAT,	
		P3		float,
		M2		FLOAT,
		P2		float,
		M1		FLOAT,
		P1		float,
		COR_LINHA   varchar(3)
	)

CREATE INDEX CML_PRODUCAO_TIPO_VEIC_IDX1 ON CML_PRODUCAO_TIPO_VEIC
	(	DT_FECHA,		RPT,	ORDEM,	COD_PRODUTO , COD_TIPO ,  TIPO)



*/

-- SELECT * FROM RR_ROLLRATE WHERE RATING='HH'
-- SELECT * FROM RATING_HISTORICO WHERE NVL_RISCO='HH'


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_COMERCIAL_CALCULO_TIPO_VEIC' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_COMERCIAL_CALCULO_TIPO_VEIC]
GO


CREATE Procedure [dbo].[PRC_COMERCIAL_CALCULO_TIPO_VEIC] (@data_ref as datetime) AS
BEGIN


DECLARE @data_INI AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

-- APAGA PROCESSAMENTO ANTERIOR
-- SP_HELP CML_PRODUCAO_TIPO_VEIC
delete  from CML_PRODUCAO_TIPO_VEIC
	WHERE	 DT_FECHA = @data_ref
--		AND  RPT=1 2  QTDE E VALOR
-- faltou COR_LINHA

-- ANALISE COM GRAFICO POR PRODUTO E OPERADOR

-- ************************************************
/*
CREATE TABLE AUX_CML_OPER_MES
(
		PRODUTO			VARCHAR(100),
		AGENTE			VARCHAR(100),
		M13		float,
		M12		float,
		M11		float,
		M10		float,

		M9		float,
		M8		float,
		M7		FLOAT,
		M6		FLOAT,

		M5		FLOAT,
		M4		FLOAT,
		M3		FLOAT,
		M2		FLOAT,
		M1		FLOAT
	)
*/
	--  13 MESES
	DECLARE @M1  AS DATETIME
	DECLARE @M2  AS DATETIME
	DECLARE @M3  AS DATETIME
	DECLARE @M4  AS DATETIME
	DECLARE @M5  AS DATETIME
	DECLARE @M6  AS DATETIME
	DECLARE @M7  AS DATETIME
	DECLARE @M8  AS DATETIME
	DECLARE @M9  AS DATETIME
	DECLARE @M10  AS DATETIME
	DECLARE @M11  AS DATETIME
	DECLARE @M12  AS DATETIME
	DECLARE @M13  AS DATETIME

	--				declare @data_ref datetime set @data_ref = '20150228'
		-- MES  DE FECHAMENTO
		SET		@M1 = @data_ref

		-- MES ANTERIOR AO DO FECHAMENTO
		SET		@M2 = CONVERT(CHAR(4),DATEPART(YEAR,@M1))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M1))),2)+'01'
		SET		@M2 = DATEADD(DD,-1,@M2)
		--		SELECT @M1, @m2

		set		@M3 = CONVERT(CHAR(4),DATEPART(YEAR,@M2))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M2))),2)+'01'
		SET		@M3=DATEADD(DD,-1,@M3)
		--		SELECT @M1, @M2,@M3

		set  @M4 = CONVERT(CHAR(4),DATEPART(YEAR,@M3))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M3))),2)+'01'
		SET	 @M4=DATEADD(DD,-1,@M4)
		--		  SELECT @M4

	set  @M5 = CONVERT(CHAR(4),DATEPART(YEAR,@M4))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M4))),2)+'01'
	SET	 @M5 = DATEADD(DD,-1,@M5)
	--		 	SELECT @M5

	set  @M6 = CONVERT(CHAR(4),DATEPART(YEAR,@M5))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M5))),2)+'01'
	SET	 @M6 = DATEADD(DD,-1,@M6)

	set  @M7 = CONVERT(CHAR(4),DATEPART(YEAR,@M6))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M6))),2)+'01'
	SET	 @M7 = DATEADD(DD,-1,@M7)

	set  @M8 = CONVERT(CHAR(4),DATEPART(YEAR,@M7))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M7))),2)+'01'
	SET	 @M8 = DATEADD(DD,-1,@M8)

	set  @M9 = CONVERT(CHAR(4),DATEPART(YEAR,@M8))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M8))),2)+'01'
	SET	 @M9 = DATEADD(DD,-1,@M9)

	set		@M10 = CONVERT(CHAR(4),DATEPART(YEAR,@M9))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M9))),2)+'01'
	SET		@M10 = DATEADD(DD,-1,@M10)
	--			SELECT	@M10

	set		@M11 = CONVERT(CHAR(4),DATEPART(YEAR,@M10))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M10))),2)+'01'
	SET		@M11 = DATEADD(DD,-1,@M11)
	--			SELECT	@M11 

	set		@M12 = CONVERT(CHAR(4),DATEPART(YEAR,@M11))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M11))),2)+'01'
	SET		@M12 = DATEADD(DD,-1,@M12)

	set		@M13 = CONVERT(CHAR(4),DATEPART(YEAR,@M12))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M12))),2)+'01'
	SET		@M13 = DATEADD(DD,-1,@M13)

		-- 		SELECT @M1, @M2,@M3 , @M4, @M5,@M6,@M7,@m8,@M9,@M10,@M11,@M12,@M13


		--		VARIAVEIS PARA COMPOR OS 13 MESES 
		DECLARE @columns VARCHAR(200)
		SET		@columns = '['+CONVERT(VARCHAR(8),@M13,112)+']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M12 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M11 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M10 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M9 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M8 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M7 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M6 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M5 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M4 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M3 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M2 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M1 ,112)  + ']'


		--		SELECT  @columns

-- CARREGA TABELA AUXILIAR
TRUNCATE TABLE     AUX_CML_OPER_MES

-- ******************************************************************** VALOR LIBERADO COM QUEBRA
DECLARE @query VARCHAR(max)
--	DESCR 1 E 2
--	cart, ordem, prod, 

-- 1
-- LIMPA ANTERIOR
TRUNCATE TABLE     AUX_CML_OPER_MES

-- ULTIMOS 13 MESES  VLR LIBERADO (ANTES DAS TARIFAS)
	SET		@query = ' INSERT	AUX_CML_OPER_MES  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, VEICULO, VLR_PRESENTE	FROM COMERCIAL_PRODUCAO (NOLOCK) WHERE PRODUTO = ''V'' AND VLR_PRESENTE>0.0 ) P '+
					 ' PIVOT( SUM (VLR_PRESENTE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'


--	select  @query

EXEC (@query)


-- ************************************************** 12 MES ANTERIORES + ATUAL
--  QUEBRAS POR PRODUTO E AGENTE
-- SP_HELP  CML_PRODUCAO_TIPO_VEIC
	INSERT	CML_PRODUCAO_TIPO_VEIC
	-- DECLARE 	@data_ref DATETIME SET @data_ref = '20150131'
	SELECT
			@data_ref,	-- DT FECHA
			2,					-- RPT = 1 QTDE, 2= VALOR
			1,			-- ORDEM
			PRODUTO,
			'',			-- COD TIPO
			AGENTE ,    -- TIPO
			ISNULL(M13,0.0),
			0.0,
			ISNULL(M12,0.0),
			0.0,
			ISNULL(M11,0.0),
			0.0,
			ISNULL(M10,0.0),
			0.0,

			ISNULL(M9,0.0),  -- MEDIA 2A
			0.0,
			ISNULL(M8,0.0),
			0.0,
			ISNULL(M7,0.0),
			0.0,
			ISNULL(M6,0.0),
			0.0,
			ISNULL(M5,0.0),
			0.0,

			ISNULL(M4,0.0),	-- MEDIA 1A
			0.0,
			ISNULL(M3,0.0),
			0.0,
			ISNULL(M2,0.0),
			0.0,
			ISNULL(M1,0.0),
			0.0,
			''		-- COR_LINHA
						
	FROM		AUX_CML_OPER_MES	(NOLOCK)
--	SELECT * FROM AUX_CML_OPER_MES 	(NOLOCK)

-- ******************************************************************** QTDE COM QUEBRA
-- LIMPA ANTERIOR
TRUNCATE TABLE     AUX_CML_OPER_MES
-- ULTIMOS 13 MESES  VLR LIBERADO (ANTES DAS TARIFAS)
	SET		@query = ' INSERT	AUX_CML_OPER_MES  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, VEICULO, VLR_LIBERADO	FROM COMERCIAL_PRODUCAO (NOLOCK) WHERE PRODUTO = ''V'' AND VLR_LIBERADO>0.0 ) P '+
					 ' PIVOT( COUNT (VLR_LIBERADO) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'


EXEC (@query)

-- ************************************************** 12 MES ANTERIORES + ATUAL
--  INSERE NA TABELA DO RELATORIO  PRODUTO+ VEICULO
-- SP_HELP  CML_PRODUCAO_TIPO_VEIC
	INSERT	CML_PRODUCAO_TIPO_VEIC
	SELECT
			@data_ref,	-- DT FECHA
			1,			-- RPT = 1 QTDE, 2= VALOR
			1,			-- ORDEM
			PRODUTO,
			'',			-- COD TIPO
			AGENTE ,    -- TIPO
			ISNULL(M13,0.0),
			0.0,
			ISNULL(M12,0.0),
			0.0,
			ISNULL(M11,0.0),
			0.0,
			ISNULL(M10,0.0),
			0.0,

			ISNULL(M9,0.0),  -- MEDIA 2A
			0.0,
			ISNULL(M8,0.0),
			0.0,
			ISNULL(M7,0.0),
			0.0,
			ISNULL(M6,0.0),
			0.0,
			ISNULL(M5,0.0),
			0.0,

			ISNULL(M4,0.0),	-- MEDIA 1A
			0.0,
			ISNULL(M3,0.0),
			0.0,
			ISNULL(M2,0.0),
			0.0,
			ISNULL(M1,0.0),
			0.0,
			''		-- COR_LINHA
					
FROM		AUX_CML_OPER_MES	(NOLOCK)



--   TTL DE TODOS OS TIPOS  *********************
--  SP_HELP CML_PRODUCAO_TIPO_VEIC
INSERT CML_PRODUCAO_TIPO_VEIC
	-- DECLARE 	@data_ref DATETIME SET @data_ref = '20150131'
	SELECT						-- TIPO 1 E 2
			@data_ref,
			RPT,9999,COD_PRODUTO,	-- RPT, ordem, prod, 
			9999, 'TOTAL',		-- TIPO
			
			SUM(M13),
			0.0,
			SUM(M12),
			0.0,
			SUM(M11),
			0.0,
			SUM(M10),
			0.0,
			SUM(M9),
			0.0,
			SUM(M8),
			0.0,
			SUM(M7),
			0.0,
			SUM(M6),
			0.0,
			SUM(M5),
			0.0,
			SUM(M4),
			0.0,
			SUM(M3),
			0.0,
			SUM(M2),
			0.0,
			SUM(M1),
			0.0,
			'' --COR_LINHA
	FROM	CML_PRODUCAO_TIPO_VEIC O1 (NOLOCK)
	where	DT_FECHA =  @data_ref   -- MES ATUAL
	GROUP BY	COD_PRODUTO, RPT

--  % DE TODOS OS TIPOS  ********************* RPT 1
--  SP_HELP CML_PRODUCAO_TIPO_VEIC
UPDATE		CML_PRODUCAO_TIPO_VEIC
	-- DECLARE 	@data_ref DATETIME SET @data_ref = '20150131'
	SET						-- TIPO 1 E 2
			P13=(CML_PRODUCAO_TIPO_VEIC.M13)/TTL.M13*100.0,
			P12=(CML_PRODUCAO_TIPO_VEIC.M12)/TTL.M12*100.0,
			P11=(CML_PRODUCAO_TIPO_VEIC.M11)/TTL.M11*100.0,
			P10=(CML_PRODUCAO_TIPO_VEIC.M10)/TTL.M10*100.0,
			P9=(CML_PRODUCAO_TIPO_VEIC.M9)/TTL.M9*100.0,
			P8=(CML_PRODUCAO_TIPO_VEIC.M8)/TTL.M8*100.0,
			P7=(CML_PRODUCAO_TIPO_VEIC.M7)/TTL.M7*100.0,
			P6=(CML_PRODUCAO_TIPO_VEIC.M6)/TTL.M6*100.0,
			P5=(CML_PRODUCAO_TIPO_VEIC.M5)/TTL.M5*100.0,
			P4=(CML_PRODUCAO_TIPO_VEIC.M4)/TTL.M4*100.0,
			P3=(CML_PRODUCAO_TIPO_VEIC.M3)/TTL.M3*100.0,
			P2=(CML_PRODUCAO_TIPO_VEIC.M2)/TTL.M2*100.0,
			P1=(CML_PRODUCAO_TIPO_VEIC.M1)/TTL.M1*100.0
	FROM	(SELECT * FROM CML_PRODUCAO_TIPO_VEIC O1 (NOLOCK) WHERE DT_FECHA =  @data_ref  AND RPT=1 AND ORDEM=9999) AS TTL
	where	CML_PRODUCAO_TIPO_VEIC.DT_FECHA =  @data_ref	-- MES ATUAL
	AND		CML_PRODUCAO_TIPO_VEIC.RPT = 1 
--	AND		CML_PRODUCAO_TIPO_VEIC.TIPO = TTL.TIPO	-- MESMO TIPO

--  % DE TODOS OS TIPOS  ********************* RPT 1
--  SP_HELP CML_PRODUCAO_TIPO_VEIC
UPDATE		CML_PRODUCAO_TIPO_VEIC
	-- DECLARE 	@data_ref DATETIME SET @data_ref = '20150131'
	SET						-- TIPO 1 E 2
			P13=(CML_PRODUCAO_TIPO_VEIC.M13)/TTL.M13*100.0,
			P12=(CML_PRODUCAO_TIPO_VEIC.M12)/TTL.M12*100.0,
			P11=(CML_PRODUCAO_TIPO_VEIC.M11)/TTL.M11*100.0,
			P10=(CML_PRODUCAO_TIPO_VEIC.M10)/TTL.M10*100.0,
			P9=(CML_PRODUCAO_TIPO_VEIC.M9)/TTL.M9*100.0,
			P8=(CML_PRODUCAO_TIPO_VEIC.M8)/TTL.M8*100.0,
			P7=(CML_PRODUCAO_TIPO_VEIC.M7)/TTL.M7*100.0,
			P6=(CML_PRODUCAO_TIPO_VEIC.M6)/TTL.M6*100.0,
			P5=(CML_PRODUCAO_TIPO_VEIC.M5)/TTL.M5*100.0,
			P4=(CML_PRODUCAO_TIPO_VEIC.M4)/TTL.M4*100.0,
			P3=(CML_PRODUCAO_TIPO_VEIC.M3)/TTL.M3*100.0,
			P2=(CML_PRODUCAO_TIPO_VEIC.M2)/TTL.M2*100.0,
			P1=(CML_PRODUCAO_TIPO_VEIC.M1)/TTL.M1*100.0
	FROM	(SELECT * FROM CML_PRODUCAO_TIPO_VEIC O1 (NOLOCK) WHERE DT_FECHA =  @data_ref  AND RPT=2 AND ORDEM=9999) AS TTL
	where	CML_PRODUCAO_TIPO_VEIC.DT_FECHA =  @data_ref   -- MES ATUAL
	AND		CML_PRODUCAO_TIPO_VEIC.RPT = 2 
--	AND		CML_PRODUCAO_TIPO_VEIC.TIPO = TTL.TIPO	-- MESMO TIPO


END
GO


-- SELECT * FROM CML_PRODUCAO_TIPO_VEIC