
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
go


/*

 EXEC PRC_COMERCIAL_PRODUCAO_PROPOSTAS '20170911'
 EXEC PRC_COMERCIAL_PRODUCAO_PROPOSTAS '20150131'


*/



-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_COMERCIAL_PRODUCAO_PROPOSTAS' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_COMERCIAL_PRODUCAO_PROPOSTAS] 
GO

-- MENSAL
-- ***************************************
CREATE Procedure [dbo].[PRC_COMERCIAL_PRODUCAO_PROPOSTAS] 
		 (@DTREF1  SMALLDATETIME )	AS  

BEGIN

DECLARE @DTREF  AS SMALLDATETIME
DECLARE @DTINI  AS SMALLDATETIME
DECLARE @DTFIM  AS SMALLDATETIME
DECLARE @DTPDD  AS SMALLDATETIME

SET @DTREF = CONVERT(VARCHAR(8),@DTREF1,112)
--  SELECT  @DTREF
SET @DTINI = CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'
SET @DTFIM = CONVERT(VARCHAR(8),@DTREF1,112)
--  SELECT  @DTINI , @DTFIM

-- FECHAMENTO DA PDD
SET @DTPDD = @DTREF1
	-- ALTERACAO DT FECHAMENTO ULTIMO DIA DO MES
	IF @DTPDD <= '20140801' -- ANTES AGO/2014
	BEGIN
		-- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES		RISCO
		-- CHECA SE EH DIA UTIL
		SELECT	@DTPDD= CASE  WHEN DATEPART(DW,@DTPDD) = 1 THEN DATEADD(D,-2,@DTPDD)	-- DOMINGO
							  WHEN DATEPART(DW,@DTPDD) = 7 THEN DATEADD(D,-1,@DTPDD)	-- SABADO
							  ELSE @DTPDD					 END
	END

-- LIMPA PROPOSTAS DO MES ANTERIOR
-- DECLARE @DTINI DATETIME DECLARE @DTREF DATETIME SET @DTINI='20150301' SET @DTREF='20150331'
DELETE FROM CML_PROPOSTA_MES WHERE DT_FECHA = @DTREF

-- SP_HELP CML_PROPOSTA_MES
-- SELECT * FROM  CML_PROPOSTA_MES
-- DECLARE @DTINI DATETIME DECLARE @DTREF DATETIME SET @DTINI='20150301' SET @DTREF='20150331'
INSERT CML_PROPOSTA_MES
	SELECT			-- DESCR 1 E 2
			@DTREF,
			1,1,'V',  -- RPT, ordem, prod, 
			0, '' ,  -- AGENTE
			COD_OPERADOR, '',  -- OPERADOR
			
			-- RECEBIDAS = APR +INT+LIB+PEN+REP  + AND + CAN INCLUI 16/10/17 ************
			SUM(CASE WHEN SITUACAO IN ('APR','INT','LIB','PEN','REP', 'AND','CAN') THEN 1 ELSE 0 END) ,
			-- aprovadas
			SUM(CASE WHEN SITUACAO IN ('APR','INT','LIB') THEN 1 ELSE 0 END),
			-- pagas
			SUM(CASE WHEN SITUACAO IN ('INT') THEN 1 ELSE 0 END),
			0.0,0.0,0.0,
			SUM(CASE WHEN SITUACAO IN ('APR','INT','LIB','PEN','REP') THEN VALOR_FIN ELSE 0 END) ,
			SUM(CASE WHEN SITUACAO IN ('APR','INT','LIB') THEN VALOR_FIN ELSE 0 END),
			SUM(CASE WHEN SITUACAO IN ('INT') THEN VALOR_FIN ELSE 0 END),
			0.0,0.0,0.0
--from propwebsmc..cprop  (NOLOCK) join propwebsmc..cmovp (NOLOCK) on (ppnrprop = mpnrprop)
-- veiculos
FROM (SELECT *	FROM PAGAS_RECEBIDAS (NOLOCK)
		WHERE	PROP_DATAREF= @DTREF AND PROP_DATABASE between @DTINI AND @DTREF
			--  EXCETO O AND COM ESTEIRA *********** 16/10/17
			AND ESTEIRA <>'DADOS BASICOS') AS P
LEFT	JOIN (SELECT * from propwebsmc..TPROD (NOLOCK) 
--WHERE CHARINDEX('VEIC',TPDESCR,1)>0 OR CHARINDEX('VEíC',TPDESCR,1)>0 OR CHARINDEX('MOTO',TPDESCR,1)>0 OR CHARINDEX('UTILIT',TPDESCR,1)>0 OR CHARINDEX('CAMIN',TPDESCR,1)>0 
				) AS PROD
		ON PROD.TPCODPRD = COD_PROD
GROUP BY COD_OPERADOR


		-- COD DO AGENTE ********************	DO SISTEMA FUNCAO
		UPDATE	CML_PROPOSTA_MES
		SET		COD_AGENTE		= ISNULL(OP.O3CODORGA13,'') -- ISNULL(A.COD_AGENTE,'')
		FROM	CDCSANTANAMicroCredito..TORG3 OP (NOLOCK) 
		WHERE	DT_FECHA=@DTREF
			AND COD_OPERADOR = O3CODORG  -- OPERADOR
		-- OPERADOR AGENTE= OPCODORG3

		-- NOME DO AGENTE ********************	
		-- DECLARE @DTINI DATETIME DECLARE @DTREF DATETIME SET @DTINI='20150301' SET @DTREF='20150331'
		UPDATE	CML_PROPOSTA_MES
		SET		AGENTE		= ISNULL(A.A13DESCR,'') --ISNULL(A.agente,'')
		FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)
		WHERE	COD_AGENTE = A13CODORG --a.COD_agente  -- CONTEM CODIGO
		-- 
		UPDATE	CML_PROPOSTA_MES
		SET		AGENTE	='' 
		WHERE	DT_FECHA=@DTREF
			AND AGENTE IS NULL

		-- DECLARE @DTINI DATETIME DECLARE @DTREF DATETIME SET @DTINI='20150301' SET @DTREF='20150331'		
		UPDATE	CML_PROPOSTA_MES 
		SET		APROV_REC	= CASE WHEN RECEBIDAS=0.0 THEN 0.0 ELSE APROVADAS/RECEBIDAS*100.0 END,
				PAGA_REC	= CASE WHEN RECEBIDAS=0.0 THEN 0.0 ELSE PAGAS/RECEBIDAS*100.0 END, 
				PAGA_APROV	= CASE WHEN APROVADAS=0.0 THEN 0.0 ELSE PAGAS/APROVADAS*100.0 END,
				VLR_APROV_REC	= CASE WHEN VLR_RECEBIDAS=0.0 THEN 0.0 ELSE VLR_APROVADAS/VLR_RECEBIDAS*100.0 END,
				VLR_PAGA_REC	= CASE WHEN VLR_RECEBIDAS=0.0 THEN 0.0 ELSE VLR_PAGAS/VLR_RECEBIDAS*100.0 END, 
				VLR_PAGA_APROV	= CASE WHEN VLR_APROVADAS=0.0 THEN 0.0 ELSE VLR_PAGAS/VLR_APROVADAS*100.0 END
		WHERE	DT_FECHA=@DTREF

END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

