
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

/*
--
 EXEC [dbo].[PRC_COMERCIAL_PLANO_ANO] '2015-01-31'
 EXEC [dbo].[PRC_COMERCIAL_PLANO_ANO] '2015-02-28'
 EXEC [dbo].[PRC_COMERCIAL_PLANO_ANO] '2015-03-31'

select * from COMERCIAL_PRODUCAO WHERE PRODUTO IN ('V')
select * from CML_PRODUCAO_PLANO_ANO
*/


use SIG
go


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_COMERCIAL_PLANO_ANO' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_COMERCIAL_PLANO_ANO]
GO


CREATE Procedure [dbo].[PRC_COMERCIAL_PLANO_ANO] (@data_ref as datetime) AS
BEGIN


DECLARE @data_INI	AS SMALLDATETIME
DECLARE @TRIM		AS VARCHAR(20)

-- DIA 1 DO TRIMESTRE  DO FECHAMENTO  -- 2015
-- SET		@data_INI =  '20150101'
-- DECLARE @data_ref DATETIME SET @data_ref ='20150331' DECLARE @data_INI DATETIME
--  SET	@data_INI =  '20150101'

IF 	DATEPART(MM,@data_ref) BETWEEN 1 AND 3
BEGIN
		-- INICIO DO ANO
	 SET  @data_INI = CONVERT(DATETIME,(CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref)) +  '0101'))
	 SET  @TRIM		= '1o TRIM '+CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref))
END
IF 	DATEPART(MM,@data_ref) BETWEEN 4 AND 6
BEGIN
		-- INICIO DO 2o TRIMESTRE
	 SET  @data_INI = CONVERT(DATETIME,(CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref)) +  '0401'))
	 SET  @TRIM		= '2o TRIM '+CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref))
END
IF 	DATEPART(MM,@data_ref) BETWEEN 7 AND 9
BEGIN
		-- INICIO DO 3o TRIMESTRE
	 SET  @data_INI = CONVERT(DATETIME,(CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref)) +  '0701'))
	 SET  @TRIM		= '3o TRIM '+CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref))
END
IF 	DATEPART(MM,@data_ref) BETWEEN 10 AND 12
BEGIN
		-- INICIO DO 4o TRIMESTRE
	 SET  @data_INI = CONVERT(DATETIME,(CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref)) +  '1001'))
	 SET  @TRIM		= '4o TRIM '+CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref))
END


	--	SELECT  @data_INI



-- APAGA PROCESSAMENTO ANTERIOR
delete  from CML_PRODUCAO_PLANO_ANO
	WHERE	 DT_FECHA = @data_ref

-- CRIA TABELA
-- SP_HELP  CML_PRODUCAO_PLANO_ANO
/* 
DROP   TABLE  CML_PRODUCAO_PLANO_ANO
CREATE TABLE  CML_PRODUCAO_PLANO_ANO
(
DT_FECHA	smalldatetime,
RPT		int,
ORDEM	int,
PRODUTO	varchar(10),
DESCR	varchar(100),
	FX1 FLOAT,
	FX2 FLOAT,
	FX3 FLOAT,
	FX4 FLOAT,
	FX5 FLOAT,
	VLR_FX1 FLOAT,
	VLR_FX2 FLOAT,
	VLR_FX3 FLOAT,
	VLR_FX4 FLOAT,
	VLR_FX5 FLOAT,
	TTL		FLOAT,
	cor_linha  varchar(20)
)

--DT_FECHA	CARTEIRA	ORDEM	PRODUTO	DESCR	fx1	fx2	fx3	fx4	fx5	vlr_fx1	vlr_fx2	vlr_fx3	vlr_fx4	vlr_fx5	ttl	cor_linha

CREATE INDEX  CML_PRODUCAO_PLANO_ANO_IDX1 ON CML_PRODUCAO_PLANO_ANO (DT_FECHA,PRODUTO,RPT,ORDEM)

*/
-- SELECT * FROM  CML_PRODUCAO_PLANO_ANO
/*
DROP TABLE TAUXILIAR
CREATE TABLE TAUXILIAR 
(
DT_FECHA	smalldatetime,
RPT		int,
ORDEM	int,
PRODUTO	varchar(10),
DESCR	varchar(100),
	FX1 FLOAT,
	FX2 FLOAT,
	FX3 FLOAT,
	FX4 FLOAT,
	FX5 FLOAT,
	VLR_FX1 FLOAT,
	VLR_FX2 FLOAT,
	VLR_FX3 FLOAT,
	VLR_FX4 FLOAT,
	VLR_FX5 FLOAT,
	TTL		FLOAT,
	cor_linha  varchar(20)
)
*/
-- SELECT * FROM  TAUXILIAR
-- **************************************************  MES ATUAL
--  QUEBRAS
--INSERT		CML_PRODUCAO_PLANO_ANO

TRUNCATE TABLE   TAUXILIAR

INSERT TAUXILIAR
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,1,'V',    -- RPT, ordem, prod, 
			@TRIM ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
	-- VLR 1 A 5
			CASE WHEN FX.ORDEM = 1 THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN FX.ORDEM = 2 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 3 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 4 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 5 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			0.0, 
			''
	-- INTO AUX
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131' DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	--		SELECT *
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DATA_INI AND   @data_ref   -- MES ATUAL
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	JOIN
			( SELECT * FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref)) AS FX
		ON	OPER.ANO_MODELO BETWEEN FX.DE AND FX.ATE 
	GROUP BY	 FX.ORDEM



-- 4 TRIMESTRES DO ANO ANTERIOR  ********************************
DECLARE @ANO_ANT INT 
SET @ANO_ANT = DATEPART(YYYY,@data_ref) - 1
DECLARE @DT_INI_TRIM DATETIME
DECLARE @DT_FIM_TRIM DATETIME
SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0101')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0331')
INSERT TAUXILIAR
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,1,'V',    -- RPT, ordem, prod, 
			'1o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
	-- VLR 1 A 5
			CASE WHEN FX.ORDEM = 1 THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN FX.ORDEM = 2 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 3 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 4 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 5 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	JOIN
			( SELECT * FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref)) AS FX
		ON	OPER.ANO_MODELO BETWEEN FX.DE AND FX.ATE 
	GROUP BY	 FX.ORDEM

-- 2o TRIMESTRE  *****************

SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0401')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0630')
INSERT TAUXILIAR
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,1,'V',    -- RPT, ordem, prod, 
			'2o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
	-- VLR 1 A 5
			CASE WHEN FX.ORDEM = 1 THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN FX.ORDEM = 2 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 3 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 4 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 5 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	JOIN
			( SELECT * FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref)) AS FX
		ON	OPER.ANO_MODELO BETWEEN FX.DE AND FX.ATE 
	GROUP BY	 FX.ORDEM

-- 3o TRIMESTRE  *****************

SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0701')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0930')
INSERT TAUXILIAR
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,1,'V',    -- RPT, ordem, prod, 
			'3o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
	-- VLR 1 A 5
			CASE WHEN FX.ORDEM = 1 THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN FX.ORDEM = 2 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 3 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 4 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 5 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	JOIN
			( SELECT * FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref)) AS FX
		ON	OPER.ANO_MODELO BETWEEN FX.DE AND FX.ATE 
	GROUP BY	 FX.ORDEM


-- 4o TRIMESTRE  *****************

SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'1001')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'1231')
INSERT TAUXILIAR
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,1,'V',    -- RPT, ordem, prod, 
			'4o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
	-- VLR 1 A 5
			CASE WHEN FX.ORDEM = 1 THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN FX.ORDEM = 2 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 3 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 4 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 5 THEN SUM(VLR_PRESENTE) ELSE 0.0 END, 
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	JOIN
			( SELECT * FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref)) AS FX
		ON	OPER.ANO_MODELO BETWEEN FX.DE AND FX.ATE 
	GROUP BY	 FX.ORDEM



-- SELECT * FROM FX_ANO_SAFRA --  ++ FXS
-- SELECT * FROM FX_ANO WHERE DT_DE ='20141101'
-- ALTER TABLE FX_ANO ADD ORDEM INT
/*
 UPDATE FX_ANO SET ORDEM = 5 WHERE DT_DE ='20141101' AND DE = 1900
 UPDATE FX_ANO SET ORDEM = 4 WHERE DT_DE ='20141101' AND DE = 1996
 UPDATE FX_ANO SET ORDEM = 3 WHERE DT_DE ='20141101' AND DE = 2000
 UPDATE FX_ANO SET ORDEM = 2 WHERE DT_DE ='20141101' AND DE = 2004
 UPDATE FX_ANO SET ORDEM = 1 WHERE DT_DE ='20141101' AND DE = 2009
*/
-- SELECT MAX(DT_DE) FROM   FX_ANO WHERE DT_DE<='20150131'
-- **************************************************  MES ATUAL  TTL
--  QUEBRAS
INSERT CML_PRODUCAO_PLANO_ANO
-- DECLARE @data_ref DATETIME SET @data_ref = '20150131'
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,1,'V',    -- RPT , ordem, prod, 
			DESCR ,    -- DESCR
			0.0, 0.0, 0.0,			0.0, 0.0, 
			SUM(O1.VLR_FX1),	
			SUM(O1.VLR_FX2),	
			SUM(O1.VLR_FX3),	
			SUM(O1.VLR_FX4),	
			SUM(O1.VLR_FX5),	0.0,
			''
	FROM	TAUXILIAR O1 (NOLOCK)
	GROUP BY DESCR

-- SELECT * FROM TAUXILIAR

-- **************************************************  MES ATUAL  QTDE  ******************************
--  QUEBRAS
--INSERT		CML_PRODUCAO_PLANO_ANO

TRUNCATE TABLE   TAUXILIAR

INSERT TAUXILIAR
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,1,'V',    -- RPT, ordem, prod, 
			@TRIM ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
	-- VLR 1 A 5
			CASE WHEN FX.ORDEM = 1 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN FX.ORDEM = 2 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 3 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 4 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 5 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			0.0, 
			''
	-- INTO AUX
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131' DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	--		SELECT *
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DATA_INI AND   @data_ref   -- MES ATUAL
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	JOIN
			( SELECT * FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref)) AS FX
		ON	OPER.ANO_MODELO BETWEEN FX.DE AND FX.ATE 
	GROUP BY	 FX.ORDEM


-- 4 TRIMESTRES DO ANO ANTERIOR  ********************************
-- DECLARE @ANO_ANT INT 
SET @ANO_ANT = DATEPART(YYYY,@data_ref) - 1
-- DECLARE @DT_INI_TRIM DATETIME  DECLARE @DT_FIM_TRIM DATETIME
SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0101')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0331')
INSERT TAUXILIAR
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,1,'V',    -- RPT, ordem, prod, 
			'1o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
	-- VLR 1 A 5
			CASE WHEN FX.ORDEM = 1 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN FX.ORDEM = 2 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 3 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 4 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 5 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	JOIN
			( SELECT * FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref)) AS FX
		ON	OPER.ANO_MODELO BETWEEN FX.DE AND FX.ATE 
	GROUP BY	 FX.ORDEM

-- 2o TRIMESTRE  *****************

SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0401')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0630')
INSERT TAUXILIAR
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,1,'V',    -- RPT, ordem, prod, 
			'2o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
	-- VLR 1 A 5
			CASE WHEN FX.ORDEM = 1 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN FX.ORDEM = 2 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 3 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 4 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 5 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	JOIN
			( SELECT * FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref)) AS FX
		ON	OPER.ANO_MODELO BETWEEN FX.DE AND FX.ATE 
	GROUP BY	 FX.ORDEM

-- 3o TRIMESTRE  *****************

SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0701')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0930')
INSERT TAUXILIAR
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,1,'V',    -- RPT, ordem, prod, 
			'3o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
	-- VLR 1 A 5
			CASE WHEN FX.ORDEM = 1 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN FX.ORDEM = 2 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 3 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 4 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 5 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	JOIN
			( SELECT * FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref)) AS FX
		ON	OPER.ANO_MODELO BETWEEN FX.DE AND FX.ATE 
	GROUP BY	 FX.ORDEM


-- 4o TRIMESTRE  *****************

SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'1001')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'1231')
INSERT TAUXILIAR
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,1,'V',    -- RPT, ordem, prod, 
			'4o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
	-- VLR 1 A 5
			CASE WHEN FX.ORDEM = 1 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN FX.ORDEM = 2 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 3 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 4 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			CASE WHEN FX.ORDEM = 5 THEN COUNT(VLR_PRESENTE) ELSE 0.0 END, 
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	JOIN
			( SELECT * FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref)) AS FX
		ON	OPER.ANO_MODELO BETWEEN FX.DE AND FX.ATE 
	GROUP BY	 FX.ORDEM




-- SELECT MAX(DT_DE) FROM   FX_ANO WHERE DT_DE<='20150131'
-- **************************************************  MES ATUAL  TTL QTDE
--  QUEBRAS
INSERT CML_PRODUCAO_PLANO_ANO
-- DECLARE @data_ref DATETIME SET @data_ref = '20150131'
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,1,'V',    -- RPT , ordem, prod, 
			DESCR ,    -- DESCR
			0.0, 0.0, 0.0,			0.0, 0.0, 
			SUM(O1.VLR_FX1),	
			SUM(O1.VLR_FX2),	
			SUM(O1.VLR_FX3),	
			SUM(O1.VLR_FX4),	
			SUM(O1.VLR_FX5),	0.0,
			''
	FROM	TAUXILIAR O1 (NOLOCK)
	GROUP BY DESCR


-- **************************************************  MES ATUAL  TTL  ALTERACAO
-- SELECT * FROM CML_PRODUCAO_PLANO_ANO
UPDATE	CML_PRODUCAO_PLANO_ANO
	SET	TTL = VLR_FX1 + VLR_FX2 + VLR_FX3 + VLR_FX4 + VLR_FX5 
	WHERE DT_FECHA = 	@data_ref
			

UPDATE	CML_PRODUCAO_PLANO_ANO
	SET	FX1 = VLR_FX1/TTL * 100.0,
		FX2 = VLR_FX2/TTL * 100.0,
		FX3 = VLR_FX3/TTL * 100.0,
		FX4 = VLR_FX4/TTL * 100.0,
		FX5 = VLR_FX5/TTL * 100.0
	WHERE DT_FECHA = 	@data_ref

END
GO


-- SELECT * FROM CML_PRODUCAO_PLANO_ANO