
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

/*
--
EXEC [dbo].PRC_COMERCIAL_CALCULO_clientes '20150531'

 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER '2014-07-31'
 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER '2014-08-31'
 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER '2014-09-30'
 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER '2014-10-31'
 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER '2014-11-30'
 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER '2014-12-31'

 EXEC [dbo].PRC_COMERCIAL_CALCULO_clientes '2015-01-31'
 EXEC [dbo].PRC_COMERCIAL_CALCULO_clientes '2015-02-28'
 EXEC [dbo].PRC_COMERCIAL_CALCULO_clientes '2015-03-31'

SELECT * FROM CML_CLIENTE_RPT 
SELECT * FROM tproduto 
*/



/* CRIAR TABELA AUXILIAR

SP_HELP CML_PROPOSTA_RPT

CREATE TABLE CML_CLIENTE_RPT  (
		DT_FECHA	smalldatetime,
		RPT	int,
		ORDEM	int,
		--PRODUTO	varchar(10)
		CODCLI	varchar(20),	     
		DESCR	varchar(100), -- NOME CLIENTE	     
		pv	float,
		TTL	float,
		perc_part	float,
		perc_evol	float,
		COR_LINHA	varchar(4) )

*/

use SIG
go



-- SELECT * FROM CML_PROPOSTA_MES WHERE RATING='HH'
-- SELECT * FROM RATING_HISTORICO WHERE NVL_RISCO='HH'


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_COMERCIAL_CALCULO_clientes' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_COMERCIAL_CALCULO_clientes]
GO


CREATE Procedure [dbo].[PRC_COMERCIAL_CALCULO_clientes] (@data_ref as datetime) AS
BEGIN


DECLARE @data_INI AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

-- APAGA PROCESSAMENTO ANTERIOR
delete  from CML_CLIENTE_RPT
	WHERE	 DT_FECHA = @data_ref
		--AND  RPT=1
-- faltou COR_LINHA

-- ANALISE COM GRAFICO POR PRODUTO E OPERADOR

-- carteira 1 = producao GLOBAL ,	2= carteira ,	3= prod mensal 
/*
SELECT *  from CML_PRODUCAO_MES
PRODUÇÃO GLOBAL	CART=1			RPT=1	PRODUTO='T'
CARTEIRA	CART=2	(LIST BOX)		RPT=2	PRODUTO='T'
PRODUÇÃO MENSAL	CART=3	PRODUTO	TOTAL	RPT=3	PRODUTO='T'
	(SE FOR PRODUCAO MENSAL, 		DESCONTO	RPT=3	PRODUTO='D'
	LISTA DE PRODUTO)		CAPITAL GIRO	RPT=3	PRODUTO='CG'
			VEICULO	RPT=3	PRODUTO='V'
			RENEG	RPT=3	PRODUTO='R'
			CP	RPT=3	PRODUTO='CP'
*/

-- CARREGA TABELA AUXILIAR
-- SP_HELP CML_PRODUCAO_MES
-- SELECT * FROM  CML_PRODUCAO_MES

-- **************************************************  MES ATUAL
--  QUEBRAS
-- SP_HELP CML_CLIENTE_RPT
-- DECLARE @data_ref as datetime SET @data_ref ='20150531'
INSERT CML_CLIENTE_RPT
 SELECT TOP 10 
		@data_ref,
			1,1,  -- RPT, ordem, 
		CODCLI ,
	'' AS DESCR,
	SUM(Vlr_Presente) as pv,
	0.0, -- TTL
	0.0 as perc_part,
	0.0 as perc_evol,
	 'AZ1' as cor_linha
FROM COMERCIAL_PRODUCAO  (nolock)
WHERE DT_FECHA = @data_ref AND PRODUTO IN ('D','CG') 
GROUP BY CODCLI
ORDER BY SUM(Vlr_Presente) DESC


-- NOME DO CLIENTE DESCONTO
-- DECLARE @data_ref as datetime SET @data_ref ='20150531'
-- NOME DO CLIENTE  FUNCAO
UPDATE		CML_CLIENTE_RPT
	SET		DESCR = (SELECT		CLNOMECLI 
						FROM	CDCSANTANAMicroCredito..CCLIE O (NOLOCK) 
						WHERE	CLCODCLI = CODCLI)
	WHERE	DT_FECHA = @data_ref
	AND ISNULL(DESCR,'') =''

-- NOME DO CLIENTE DO DESCONTO
-- SELECT * FROM CML_CLIENTE_RPT (NOLOCK) WHERE DT_FECHA='20150531'
-- DECLARE @data_ref as datetime SET @data_ref ='20150531'
UPDATE		CML_CLIENTE_RPT
	SET		DESCR = (SELECT		CEDNTE_NOME 
						FROM	FinSGRDBS..tb_CEDNTE O (NOLOCK) 
						WHERE	CEDNTE_CEDN = CONVERT(FLOAT,CODCLI) )
						-- alterado para ampliar o range de numeros, usando float  ******* em 16/3/17
						-- WHERE	CEDNTE_CEDN = CONVERT(NUMERIC,CODCLI) )
	WHERE	DT_FECHA = @data_ref
		AND ISNULL(DESCR,'') =''
		AND ISNULL(CODCLI,'') <>''


-- TTL DESC + CG
UPDATE		CML_CLIENTE_RPT
	SET		TTL = (SELECT		SUM(VLR_PRESENTE) 
						FROM	COMERCIAL_PRODUCAO O (NOLOCK) 
						WHERE	DT_FECHA = @data_ref
							AND	PRODUTO IN ('D','CG')   )
	WHERE	DT_FECHA = @data_ref


UPDATE		CML_CLIENTE_RPT
	SET		Perc_Part = CASE WHEN TTL=0.0 THEN 0.0 ELSE PV/TTL*100.0 END
	WHERE	DT_FECHA = @data_ref

/*	
 SELECT CEDNTE_NOME,*  	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK) WHERE CEDNTE_CEDN='259001'

SELECT CLNOMECLI,* FROM	CDCSANTANAMicroCredito..CCLIE O (NOLOCK) WHERE CLCODCLI = '08719291000184'

SELECT			-- DESCR 1 E 2
			@data_ref,
			1,1,'V',  -- RPT, ordem, prod, 
			COD_AGENTE, AGENTE ,  -- AGENTE
			0, '',  -- OPERADOR
			
			-- RECEBIDAS = APR +INT+LIB+PEN+REP
			SUM(RECEBIDAS) ,
			-- aprovadas
			SUM(APROVADAS),
			-- pagas
			SUM(PAGAS),
			-- MES_ATUAL_APR
			CASE WHEN SUM(RECEBIDAS) =0.0 THEN 0.0 ELSE SUM(APROVADAS)/SUM(RECEBIDAS)*100.0 END, 
			0.0, 0.0, 
			0.0, 0.0, 0.0,
			-- MES ATUAL PG
			CASE WHEN SUM(RECEBIDAS) =0.0 THEN 0.0 ELSE SUM(PAGAS)/SUM(RECEBIDAS)*100.0	  END,
			0.0, 0.0, 
			0.0, 0.0, 0.0,
			''
from CML_PROPOSTA_MES	(NOLOCK)
WHERE DT_FECHA = @data_ref
GROUP BY COD_AGENTE, AGENTE

-- RPT 2 VLR
INSERT CML_PROPOSTA_RPT
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,1,'V',  -- RPT, ordem, prod, 
			COD_AGENTE, AGENTE ,  -- AGENTE
			0, '',  -- OPERADOR
			
			-- RECEBIDAS = APR +INT+LIB+PEN+REP
			SUM(VLR_RECEBIDAS) ,
			-- aprovadas
			SUM(VLR_APROVADAS),
			-- pagas
			SUM(VLR_PAGAS),
			-- MES_ATUAL_APR
			CASE WHEN SUM(VLR_RECEBIDAS) =0.0 THEN 0.0 ELSE SUM(VLR_APROVADAS)/SUM(VLR_RECEBIDAS)*100.0 END, 
			0.0, 0.0, 
			0.0, 0.0, 0.0,
			-- MES ATUAL PG
			CASE WHEN SUM(VLR_RECEBIDAS) =0.0 THEN 0.0 ELSE SUM(VLR_PAGAS)/SUM(VLR_RECEBIDAS)*100.0	  END,
			0.0, 0.0, 
			0.0, 0.0, 0.0,
			''
from CML_PROPOSTA_MES	(NOLOCK)
WHERE DT_FECHA = @data_ref
GROUP BY COD_AGENTE, AGENTE

-- RPT 3 HIST QTD
INSERT CML_PROPOSTA_RPT
	SELECT			-- DESCR 1 E 2
			@data_ref,
			3,1,'V',  -- RPT, ordem, prod, 
			0,@data_ref, -- MES NA DESCRICAO DO AGENTE
			--COD_AGENTE, AGENTE ,  -- AGENTE
			0, '',  -- OPERADOR
			
			-- RECEBIDAS = APR +INT+LIB+PEN+REP
			SUM(RECEBIDAS) ,
			-- aprovadas
			SUM(APROVADAS),
			-- pagas
			SUM(PAGAS),
			-- MES_ATUAL_APR
			CASE WHEN SUM(RECEBIDAS) =0.0 THEN 0.0 ELSE SUM(APROVADAS)/SUM(RECEBIDAS)*100.0 END, 
			0.0, 0.0, 
			0.0, 0.0, 0.0,
			-- MES ATUAL PG
			CASE WHEN SUM(RECEBIDAS) =0.0 THEN 0.0 ELSE SUM(PAGAS)/SUM(RECEBIDAS)*100.0	  END,
			0.0, 0.0, 
			0.0, 0.0, 0.0,
			''
from CML_PROPOSTA_MES	(NOLOCK)
WHERE DT_FECHA = @data_ref
*/

END

GO


-- SELECT * FROM CML_PRODUCAO_MES