
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

/*
--
 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER '2014-07-31'
 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER '2014-08-31'
 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER '2014-09-30'
 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER '2014-10-31'
 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER '2014-11-30'
 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER '2014-12-31'

 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER '2015-01-31'
 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER '2015-02-28'
 EXEC [dbo].PRC_COMERCIAL_CALCULO_prop_OPER '2015-03-31'


*/


/* CRIAR TABELA AUXILIAR


Use propwebsmc

select ppcodorg4, ppnrprop, ppnroper, ppnomecli, ppcgc, ppcodorg3, ppusuario, PPCODPRD, PPCODTAB, ppdtbase, ppdtcad, PPVLROPCZ, ppvlrliq1, pppropfim, mpsit

from propwebsmc..cprop join propwebsmc..cmovp on (ppnrprop = mpnrprop)

WHERE ppdtbase between '20150101' AND '20150131'

-- PRODUTOS DE VEICULOS
SELECT * from propwebsmc..TPROD WHERE CHARINDEX('VEIC',TPDESCR,1)>0 OR CHARINDEX('VEíC',TPDESCR,1)>0 OR CHARINDEX('MOTO',TPDESCR,1)>0 OR CHARINDEX('UTILIT',TPDESCR,1)>0 OR CHARINDEX('CAMIN',TPDESCR,1)>0

SELECT  CHARINDEX('VEIC','VEICULO') 
*/

use SIG
go


/*


USE SIG


SP_HELP CML_PROPOSTA_MES

DROP TABLE CML_PROPOSTA_MES
CREATE TABLE CML_PROPOSTA_MES
	(	
		DT_FECHA		SMALLDATETIME,
		RPT				INT,
		ORDEM			INT,
		PRODUTO			VARCHAR(100),
		COD_AGENTE		VARCHAR(20),
		AGENTE			VARCHAR(100),
		COD_OPERADOR	VARCHAR(20),
		OPERADOR		VARCHAR(100),
		RECEBIDAS		float,
		APROVADAS		float,
		PAGAS			float
)
ALTER TABLE CML_PROPOSTA_MES ADD  APROV_REC FLOAT
ALTER TABLE CML_PROPOSTA_MES ADD   PAGA_REC FLOAT, PAGA_APROV FLOAT
ALTER TABLE CML_PROPOSTA_MES ADD   	VLR_RECEBIDAS		float,		VLR_APROVADAS		float,		VLR_PAGAS	float
ALTER TABLE CML_PROPOSTA_MES ADD  VLR_APROV_REC FLOAT, VLR_PAGA_REC FLOAT, VLR_PAGA_APROV FLOAT

CREATE INDEX CML_PROPOSTA_MES_IDX1 ON CML_PROPOSTA_MES
	(	DT_FECHA,	PRODUTO,	  OPERADOR)
CREATE INDEX CML_PROPOSTA_MES_IDX2 ON CML_PROPOSTA_MES
	(	DT_FECHA,	PRODUTO,	  AGENTE)

DROP TABLE CML_PROPOSTA_RPT
CREATE TABLE CML_PROPOSTA_RPT
	(	
		DT_FECHA		SMALLDATETIME,
		RPT				INT,
		ORDEM			INT,
		PRODUTO			VARCHAR(100),
		COD_AGENTE		VARCHAR(20),
		AGENTE			VARCHAR(100),
		COD_OPERADOR	VARCHAR(20),
		OPERADOR		VARCHAR(100),
		RECEBIDAS		float,
		APROVADAS		float,
		PAGAS			float,
		MES_ATUAL_APR	float,
		M1A_APR		float,
		M2A_APR		FLOAT,
		M3A_APR		float,
		M4A_APR		float,
		M5A_APR		FLOAT,
		MES_ATUAL_PG		FLOAT,
		M1A_PG		FLOAT,	
		M2A_PG	FLOAT,
		M3A_PG	FLOAT,
		M4A_PG	FLOAT,
		M5A_PG			FLOAT,
		COR_LINHA   varchar(3)
	)

CREATE INDEX CML_PROPOSTA_RPT_IDX1 ON CML_PROPOSTA_RPT
	(	DT_FECHA,	RPT,	PRODUTO,	ORDEM,	  OPERADOR)



*/

-- SELECT * FROM CML_PROPOSTA_MES WHERE RATING='HH'
-- SELECT * FROM RATING_HISTORICO WHERE NVL_RISCO='HH'


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_COMERCIAL_CALCULO_prop_OPER' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_COMERCIAL_CALCULO_prop_OPER]
GO


CREATE Procedure [dbo].[PRC_COMERCIAL_CALCULO_prop_OPER] (@data_ref as datetime) AS
BEGIN


DECLARE @data_INI AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

-- APAGA PROCESSAMENTO ANTERIOR
delete  from CML_PROPOSTA_RPT
	WHERE	 DT_FECHA = @data_ref
		--AND  RPT=1
-- faltou COR_LINHA

-- ANALISE COM GRAFICO POR PRODUTO E OPERADOR

-- carteira 1 = producao GLOBAL ,	2= carteira ,	3= prod mensal 
/*
SELECT *  from CML_PRODUCAO_MES
PRODUÇÃO GLOBAL	CART=1			RPT=1	PRODUTO='T'
CARTEIRA	CART=2	(LIST BOX)		RPT=2	PRODUTO='T'
PRODUÇÃO MENSAL	CART=3	PRODUTO	TOTAL	RPT=3	PRODUTO='T'
	(SE FOR PRODUCAO MENSAL, 		DESCONTO	RPT=3	PRODUTO='D'
	LISTA DE PRODUTO)		CAPITAL GIRO	RPT=3	PRODUTO='CG'
			VEICULO	RPT=3	PRODUTO='V'
			RENEG	RPT=3	PRODUTO='R'
			CP	RPT=3	PRODUTO='CP'
*/

-- CARREGA TABELA AUXILIAR
-- SP_HELP CML_PRODUCAO_MES
-- SELECT * FROM  CML_PRODUCAO_MES

-- **************************************************  MES ATUAL
--  QUEBRAS
-- SP_HELP CML_PROPOSTA_MES
-- SP_HELP CML_PROPOSTA_RPT
INSERT CML_PROPOSTA_RPT
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,1,'V',  -- RPT, ordem, prod, 
			COD_AGENTE, AGENTE ,  -- AGENTE
			0, '',  -- OPERADOR
			
			-- RECEBIDAS = APR +INT+LIB+PEN+REP
			SUM(RECEBIDAS) ,
			-- aprovadas
			SUM(APROVADAS),
			-- pagas
			SUM(PAGAS),
			-- MES_ATUAL_APR
			CASE WHEN SUM(RECEBIDAS) =0.0 THEN 0.0 ELSE SUM(APROVADAS)/SUM(RECEBIDAS)*100.0 END, 
			0.0, 0.0, 
			0.0, 0.0, 0.0,
			-- MES ATUAL PG
			CASE WHEN SUM(RECEBIDAS) =0.0 THEN 0.0 ELSE SUM(PAGAS)/SUM(RECEBIDAS)*100.0	  END,
			0.0, 0.0, 
			0.0, 0.0, 0.0,
			''
from CML_PROPOSTA_MES	(NOLOCK)
WHERE DT_FECHA = @data_ref
GROUP BY COD_AGENTE, AGENTE


-- RPT 2 VLR
INSERT CML_PROPOSTA_RPT
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,1,'V',  -- RPT, ordem, prod, 
			COD_AGENTE, AGENTE ,  -- AGENTE
			0, '',  -- OPERADOR
			
			-- RECEBIDAS = APR +INT+LIB+PEN+REP
			SUM(VLR_RECEBIDAS) ,
			-- aprovadas
			SUM(VLR_APROVADAS),
			-- pagas
			SUM(VLR_PAGAS),
			-- MES_ATUAL_APR
			CASE WHEN SUM(VLR_RECEBIDAS) =0.0 THEN 0.0 ELSE SUM(VLR_APROVADAS)/SUM(VLR_RECEBIDAS)*100.0 END, 
			0.0, 0.0, 
			0.0, 0.0, 0.0,
			-- MES ATUAL PG
			CASE WHEN SUM(VLR_RECEBIDAS) =0.0 THEN 0.0 ELSE SUM(VLR_PAGAS)/SUM(VLR_RECEBIDAS)*100.0	  END,
			0.0, 0.0, 
			0.0, 0.0, 0.0,
			''
from CML_PROPOSTA_MES	(NOLOCK)
WHERE DT_FECHA = @data_ref
GROUP BY COD_AGENTE, AGENTE

-- HISTORICO *****************************
DECLARE @DTINI DATETIME
SET @DTINI = '20140101'

-- RPT 3 HIST QTD
INSERT CML_PROPOSTA_RPT
	SELECT			-- DESCR 1 E 2
			@data_ref,
			3,1,'V',  -- RPT, ordem, prod, 
			0,DT_FECHA, -- MES NA DESCRICAO DO AGENTE
			--COD_AGENTE, AGENTE ,  -- AGENTE
			0, '',  -- OPERADOR
			
			-- RECEBIDAS = APR +INT+LIB+PEN+REP
			SUM(RECEBIDAS) ,
			-- aprovadas
			SUM(APROVADAS),
			-- pagas
			SUM(PAGAS),
			-- MES_ATUAL_APR
			CASE WHEN SUM(RECEBIDAS) =0.0 THEN 0.0 ELSE SUM(APROVADAS)/SUM(RECEBIDAS)*100.0 END, 
			0.0, 0.0, 
			0.0, 0.0, 0.0,
			-- MES ATUAL PG
			CASE WHEN SUM(RECEBIDAS) =0.0 THEN 0.0 ELSE SUM(PAGAS)/SUM(RECEBIDAS)*100.0	  END,
			0.0, 0.0, 
			0.0, 0.0, 0.0,
			''
from CML_PROPOSTA_MES	(NOLOCK)
WHERE DT_FECHA BETWEEN @DTINI AND @data_ref
GROUP BY DT_FECHA


-- RPT 4 HIST VLR
INSERT CML_PROPOSTA_RPT
	SELECT			-- DESCR 1 E 2
			@data_ref,
			4,1,'V',  -- RPT, ordem, prod, 
			0,DT_FECHA, -- MES NA DESCRICAO DO AGENTE
			--COD_AGENTE, AGENTE ,  -- AGENTE
			0, '',  -- OPERADOR
			
			-- RECEBIDAS = APR +INT+LIB+PEN+REP
			SUM(VLR_RECEBIDAS) ,
			-- aprovadas
			SUM(VLR_APROVADAS),
			-- pagas
			SUM(VLR_PAGAS),
			-- MES_ATUAL_APR
			CASE WHEN SUM(VLR_RECEBIDAS) =0.0 THEN 0.0 ELSE SUM(VLR_APROVADAS)/SUM(VLR_RECEBIDAS)*100.0 END, 
			0.0, 0.0, 
			0.0, 0.0, 0.0,
			-- MES ATUAL PG
			CASE WHEN SUM(VLR_RECEBIDAS) =0.0 THEN 0.0 ELSE SUM(VLR_PAGAS)/SUM(VLR_RECEBIDAS)*100.0	  END,
			0.0, 0.0, 
			0.0, 0.0, 0.0,
			''
from CML_PROPOSTA_MES	(NOLOCK)
WHERE DT_FECHA BETWEEN @DTINI AND  @data_ref
GROUP BY DT_FECHA
--GROUP BY COD_AGENTE, AGENTE


/*
SELECT * from CML_PROPOSTA_MES (NOLOCK)
select ppcodorg4, ppnrprop, ppnroper, ppnomecli, ppcgc, ppcodorg3, ppusuario, PPCODPRD, PPCODTAB, ppdtbase, ppdtcad, PPVLROPCZ, ppvlrliq1, pppropfim, mpsit

SELECT SUM(CASE WHEN mpsit IN ('APR','INT','LIB','PEN','REP') THEN 1 ELSE 0 END) AS REC,
		SUM(CASE WHEN mpsit IN ('APR','INT','LIB') THEN 1 ELSE 0 END) AS APR,
		SUM(CASE WHEN mpsit IN ('INT') THEN 1 ELSE 0 END) AS PAG
from propwebsmc..cprop join propwebsmc..cmovp on (ppnrprop = mpnrprop)
	JOIN (SELECT * from propwebsmc..TPROD WHERE 
--CHARINDEX('VEIC',TPDESCR,1)>0 OR CHARINDEX('VEíC',TPDESCR,1)>0) AS PROD
CHARINDEX('VEIC',TPDESCR,1)>0 OR CHARINDEX('VEíC',TPDESCR,1)>0 OR CHARINDEX('MOTO',TPDESCR,1)>0 OR CHARINDEX('UTILIT',TPDESCR,1)>0 OR CHARINDEX('CAMIN',TPDESCR,1)>0 ) AS PROD
		ON PROD.TPCODPRD = MPCODPRD
WHERE ppdtbase between '20150101' AND '20150131'

	GROUP BY	PRODUTO, AGENTE, CODOPER

WHERE ppdtbase between '20150101' AND '20150131'

	where	DT_FECHA =  @data_ref   -- MES ATUAL


SELECT pPCODORG3,
 (CASE WHEN mpsit IN ('APR','INT','LIB','PEN','REP') THEN 1 ELSE 0 END) AS REC,
		(CASE WHEN mpsit IN ('APR','INT','LIB') THEN 1 ELSE 0 END) AS APR,
		(CASE WHEN mpsit IN ('INT') THEN 1 ELSE 0 END) AS PAG,*
from propwebsmc..cprop join propwebsmc..cmovp on (ppnrprop = mpnrprop)
	JOIN (SELECT * from propwebsmc..TPROD WHERE 
--CHARINDEX('VEIC',TPDESCR,1)>0 OR CHARINDEX('VEíC',TPDESCR,1)>0) AS PROD
CHARINDEX('VEIC',TPDESCR,1)>0 OR CHARINDEX('VEíC',TPDESCR,1)>0 OR CHARINDEX('MOTO',TPDESCR,1)>0 OR CHARINDEX('UTILIT',TPDESCR,1)>0 OR CHARINDEX('CAMIN',TPDESCR,1)>0 ) AS PROD
		ON PROD.TPCODPRD = MPCODPRD
WHERE ppdtbase between '20150101' AND '20150131'

--  SUB TTL ANTES TARIFAS
INSERT CML_PRODUCAO_MES
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,20,PRODUTO,  -- cart, ordem, prod, 
			'', '' ,  -- AGENTE
			9999, 'Sub antes das tarifas',  -- OPERADOR
			
			0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 
			0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 
			0.0, 0.0, 
			SUM(VLR_LIBERADO), -- MES ATUAL
			0.0,  -- MEDIA ATUAL
			''
	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @data_ref   -- MES ATUAL
	GROUP BY	PRODUTO

-- TTL DE TARIFAS -- *******		EXCETO VEICULOS
INSERT CML_PRODUCAO_MES
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,30,PRODUTO,	-- cart, ordem, prod, 
			0, '' ,			-- AGENTE
			0, 'TARIFAS',   -- OPERADOR
			
			0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 
			0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 
			0.0, 0.0, 
			SUM(VLR_TC+VLR_IOF), -- MES ATUAL  TARIFAS: TC+IOF
			0.0,  -- MEDIA ATUAL
			'AM1'
	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @data_ref   -- MES ATUAL
		AND PRODUTO <> 'V'	
	GROUP BY	PRODUTO

-- TTL DE TC  -- *******		SOH PARA VEICULOS
INSERT CML_PRODUCAO_MES
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,30,PRODUTO,	-- cart, ordem, prod, 
			0, '' ,			-- AGENTE
			0, 
			'TC',			-- TC
			
			0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 
			0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 
			0.0, 0.0, 
			SUM(VLR_TC), -- MES ATUAL  TARIFAS: TC
			0.0,  -- MEDIA ATUAL
			''
	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @data_ref   -- MES ATUAL
		AND PRODUTO = 'V'	
	GROUP BY	PRODUTO

-- TTL DE IOF  -- *******		SOH PARA VEICULOS
INSERT CML_PRODUCAO_MES
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,31,PRODUTO,	-- cart, ordem, prod, 
			0, '' ,			-- AGENTE
			0, 
			'IOF',			-- TC
			
			0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 
			0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 
			0.0, 0.0, 
			SUM(VLR_IOF), -- MES ATUAL  TARIFAS: IOF
			0.0,  -- MEDIA ATUAL
			''
	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @data_ref   -- MES ATUAL
		AND PRODUTO = 'V'	
	GROUP BY	PRODUTO

-- SELECT * FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)

-- TTL DE RENEGOCIACAO  -- *******		SOH PARA VEICULOS
INSERT CML_PRODUCAO_MES
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,50,'V',	-- cart, ordem, prod INSERE RENEG NO RELATORIO DE VEIC
			0, '' ,			-- AGENTE
			0, 
			'RENEGOCIAÇÃO',			-- TC
			
			0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 
			0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 
			0.0, 0.0, 
			SUM(VLR_LIBERADO), -- MES ATUAL   VLR_LIBERADO
			0.0,  -- MEDIA ATUAL
			''
	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @data_ref   -- MES ATUAL
		AND PRODUTO = 'R'	
	--GROUP BY	PRODUTO

--  SUB TTL ANTES TARIFAS
INSERT CML_PRODUCAO_MES
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,20,PRODUTO,  -- cart, ordem, prod, 
			'', '' ,  -- AGENTE
			99999, 'TOTAL',  -- OPERADOR
			
			0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 
			0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 
			0.0, 0.0, 
			SUM(VLR_LIBERADO)+SUM(VLR_TC)+SUM(VLR_IOF)+SUM(VLR_TARIFA), -- MES ATUAL
			0.0,  -- MEDIA ATUAL
			''
	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @data_ref   -- MES ATUAL
	GROUP BY	PRODUTO

-- SELECT * FROM 	COMERCIAL_PRODUCAO
-- **************************************************  MES ANTERIOR -- ANO ATUAL
-- SP_HELP CML_PRODUCAO_MES
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'
DECLARE @M1 DATETIME 
SET @M1 = DATEADD(D,+1,@data_ref)
SET @M1 = DATEADD(M,-1,@M1)
SET @M1 = DATEADD(D,-1,@M1)
--  SELECT @M1
UPDATE		CML_PRODUCAO_MES
	SET		MES_1A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, AGENTE, CODOPER,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES ANTERIOR
				GROUP BY	PRODUTO, AGENTE, CODOPER ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_AGENTE  = P.AGENTE
		AND CML_PRODUCAO_MES.COD_OPERADOR = P.CODOPER


-- TTL ANTES TARIFAS
UPDATE		CML_PRODUCAO_MES
	SET		MES_1A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES ANTERIOR
				GROUP BY	PRODUTO ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR = 9999 -- TTL ANTES TARIFAS

-- TTL DE TARIFAS		****************			EXCETO VEICULOS
UPDATE CML_PRODUCAO_MES
	SET	MES_1A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC+VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1				-- MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM = 30				-- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO <> 'V'	

-- TTL DE	TC		****************			SOH VEICULOS
UPDATE CML_PRODUCAO_MES
	SET	MES_1A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM    = 30		-- TTL TC
		AND CML_PRODUCAO_MES.PRODUTO = 'V'	

-- TTL DE	IOF		****************			SOH VEICULOS
UPDATE CML_PRODUCAO_MES
	SET	MES_1A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1				-- MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref   -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM    = 31			-- TTL IOF
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'	

-- TTL DE	RENEG		****************			SOH VEICULOS
UPDATE CML_PRODUCAO_MES
	SET	MES_1A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						--PRODUTO ,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1				-- MES ANTERIOR
					AND PRODUTO  = 'R'
				-- GROUP BY	PRODUTO
						) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref   -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'
		AND	CML_PRODUCAO_MES.ORDEM    = 50			-- RENEG

-- **************************************************  2 MESES ANTERIORES -- ANO ATUAL
-- SP_HELP CML_PRODUCAO_MES
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'
DECLARE @M2 DATETIME 
SET @M2 = DATEADD(D,+1,@data_ref)
SET @M2 = DATEADD(M,-2,@M2)  -- 2 MESES ANTERIORES
SET @M2 = DATEADD(D,-1,@M2)
-- SELECT @M2
UPDATE		CML_PRODUCAO_MES
	SET		MES_2A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, AGENTE, CODOPER,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M2    -- MES ANTERIOR
				GROUP BY	PRODUTO, AGENTE, CODOPER ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_AGENTE  = P.AGENTE
		AND CML_PRODUCAO_MES.COD_OPERADOR = P.CODOPER

-- TTL ANTES TARIFAS
UPDATE		CML_PRODUCAO_MES
	SET		MES_2A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, 
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M2				-- MES ANTERIOR
				GROUP BY	PRODUTO ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref   -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR = 9999	-- TTL ANTES TARIFAS

-- TTL DE TARIFAS				******************		EXCETO VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_2A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC+VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M2				 -- MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM    = 30			 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  <> 'V'

-- TTL DE TC				******************		SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_2A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M2				 -- MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM    = 30			 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'

-- TTL DE IOF				******************		SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_2A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M2				 -- MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM    = 31			 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'

-- TTL DE RENEG				******************		SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_2A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M2				 -- MES ANTERIOR
					AND	PRODUTO	 = 'R' ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'
		AND	CML_PRODUCAO_MES.ORDEM    = 50			 -- TTL RENEG

-- **************************************************  3 MESES ANTERIORES -- ANO ATUAL
-- SP_HELP CML_PRODUCAO_MES
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'
DECLARE @M3 DATETIME 
SET @M3 = DATEADD(D,+1,@data_ref)
SET @M3 = DATEADD(M,-3,@M3)  -- 3 MESES ANTERIORES
SET @M3 = DATEADD(D,-1,@M3)
--   SELECT @M3
UPDATE		CML_PRODUCAO_MES
	SET		MES_3A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, AGENTE, CODOPER,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M3    -- MES ANTERIOR
				GROUP BY	PRODUTO, AGENTE, CODOPER ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA    = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO     = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_AGENTE  = P.AGENTE
		AND CML_PRODUCAO_MES.COD_OPERADOR= P.CODOPER

-- TTL ANTES TARIFAS
UPDATE		CML_PRODUCAO_MES
	SET		MES_3A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, 
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M3    -- MES ANTERIOR
				GROUP BY	PRODUTO ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR = 9999 -- TTL ANTES TARIFAS


-- TTL DE TARIFAS		***************		EXCETO VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_3A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC+VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M3				 -- MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM    = 30			 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  <> 'V'

-- TTL DE TC			***************		SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_3A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M3    -- MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM    = 30			 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'

-- TTL DE IOF			***************		SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_3A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M3    -- MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM    = 31			 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'

-- TTL DE RENEG			***************		SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_3A_ANO_ATUAL = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M3    -- MES ANTERIOR
					AND	PRODUTO	 = 'R'	) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND	CML_PRODUCAO_MES.ORDEM    = 50			 -- TTL RENEG
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'

-- **************************************************  MEDIA  -- ANO ATUAL  ***************************
-- SP_HELP CML_PRODUCAO_MES
-- select * from CML_PRODUCAO_MES where produto='cg'
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'
UPDATE		CML_PRODUCAO_MES
	SET		MEDIA_ATUAL = MEDIA
	FROM	

-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'
		(	SELECT PRODUTO, AGENTE, CODOPER,  AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						PRODUTO, AGENTE, CODOPER, DT_FECHA,
						AVG(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)    -- ANO ATUAL
					AND DT_FECHA <= @data_ref
				GROUP BY	PRODUTO, AGENTE, CODOPER, DT_FECHA ) AS V
			GROUP BY	PRODUTO, AGENTE, CODOPER ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_AGENTE  = P.AGENTE
		AND CML_PRODUCAO_MES.COD_OPERADOR = P.CODOPER

-- TTL ANTES TARIFAS
UPDATE		CML_PRODUCAO_MES
	SET		MEDIA_ATUAL = MEDIA
	FROM	
		(	SELECT PRODUTO,      AVG(VLR) AS MEDIA
			FROM
				(	SELECT			-- DESCR 1 E 2
								PRODUTO,  DT_FECHA,  
								SUM(VLR_LIBERADO) AS VLR
						FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
						where	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref) -- MEDIA ANO ATUAL
						GROUP BY	PRODUTO , DT_FECHA) AS V
			GROUP BY	PRODUTO ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR = 9999 -- TTL ANTES TARIFAS

-- MEDIA DE TARIFAS			*******************			EXCETO VEIC
UPDATE CML_PRODUCAO_MES
	SET		MEDIA_ATUAL = MEDIA
	FROM
		(	SELECT PRODUTO,   AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						PRODUTO, DT_FECHA,
						SUM(VLR_TC+VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)    -- ANO ATUAL
					AND DT_FECHA <= @data_ref
				GROUP BY	PRODUTO, DT_FECHA ) AS V
			GROUP BY	PRODUTO ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref		-- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM	  = 30				-- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  <> 'V'			-- SEM VEIC

-- MEDIA DE TC				*******************			SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET		MEDIA_ATUAL = MEDIA
	FROM
-- DECLARE @data_ref DATETIME SET @data_ref='20140630' 
		(	SELECT PRODUTO,   AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						PRODUTO, DT_FECHA,
						SUM(VLR_TC) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)    -- ANO ATUAL
					AND DT_FECHA <= @data_ref
				GROUP BY	PRODUTO, DT_FECHA ) AS V
			GROUP BY	PRODUTO ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM	  = 30			 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'			 -- SOH VEIC

-- MEDIA DE IOF				*******************			SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET		MEDIA_ATUAL = MEDIA
	FROM
		(	SELECT PRODUTO,   AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						PRODUTO, DT_FECHA,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)    -- ANO ATUAL
					AND DT_FECHA <= @data_ref
				GROUP BY	PRODUTO, DT_FECHA ) AS V
			GROUP BY	PRODUTO ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM	  = 31			 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'			 -- SOH VEIC

-- MEDIA DE RENEG				*******************			SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET		MEDIA_ATUAL = MEDIA
	FROM
		(	SELECT PRODUTO,   AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						PRODUTO, DT_FECHA,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)    -- ANO ATUAL
					AND DT_FECHA <= @data_ref
				GROUP BY	PRODUTO, DT_FECHA ) AS V
			GROUP BY	PRODUTO ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND	CML_PRODUCAO_MES.ORDEM	  = 50			 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'			 -- SOH VEIC


-- **************************************************  MEDIA  -- ANO ANTERIOR
-- SP_HELP CML_PRODUCAO_MES
-- select * from CML_PRODUCAO_MES where produto='cg'
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'
UPDATE		CML_PRODUCAO_MES
	SET		MEDIA_1A = MEDIA
	FROM	

-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'
		(	SELECT PRODUTO, AGENTE, CODOPER,  AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						PRODUTO, AGENTE, CODOPER, DT_FECHA,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-1    -- ANO ANTERIOR
					AND DT_FECHA <= @data_ref
				GROUP BY	PRODUTO, AGENTE, CODOPER, DT_FECHA ) AS V
			GROUP BY	PRODUTO, AGENTE, CODOPER ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_AGENTE  = P.AGENTE
		AND CML_PRODUCAO_MES.COD_OPERADOR = P.CODOPER

-- TTL ANTES TARIFAS
UPDATE		CML_PRODUCAO_MES
	SET		MEDIA_1A = MEDIA
	FROM	
		(	SELECT PRODUTO,   AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						PRODUTO, DT_FECHA,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-1 
				GROUP BY	PRODUTO, DT_FECHA ) AS V
			GROUP BY	PRODUTO ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR = 9999	 -- TTL ANTES TARIFAS



-- MEDIA DE TARIFAS			*****************		EXCETO VEIC
UPDATE CML_PRODUCAO_MES
	SET		MEDIA_1A = MEDIA
	FROM
		(	SELECT PRODUTO,   AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						PRODUTO, DT_FECHA,
						SUM(VLR_TC+VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-1    -- ANO ANTERIOR
					AND DT_FECHA <= @data_ref
				GROUP BY	PRODUTO,  DT_FECHA ) AS V
			GROUP BY	PRODUTO ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM = 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO <> 'V'

-- MEDIA DE TC			*****************		SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET		MEDIA_1A = MEDIA
	FROM
		(	SELECT PRODUTO,   AVG(VLR) AS MEDIA
			FROM
-- DECLARE @data_ref DATETIME SET @data_ref='20140630'  SELECT DATEPART(YYYY,@data_ref)-1
			(	SELECT			-- DESCR 1 E 2
						PRODUTO, DT_FECHA,
						SUM(VLR_TC) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-1    -- ANO ANTERIOR
					AND PRODUTO  = 'V'
				--	AND DT_FECHA <= @data_ref
				GROUP BY	PRODUTO,  DT_FECHA ) AS V
			GROUP BY	PRODUTO ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM	  = 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'

-- MEDIA DE IOF			*****************		SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET		MEDIA_1A = MEDIA
	FROM
		(	SELECT    AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						DT_FECHA,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-1    -- ANO ANTERIOR
					AND PRODUTO = 'V'
				GROUP BY	DT_FECHA ) AS V
			  ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'
		AND	CML_PRODUCAO_MES.ORDEM	  = 31 -- TTL TARIFAS

-- MEDIA DE RENEG			*****************		SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET		MEDIA_1A = MEDIA
	FROM
		(	SELECT   AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						DT_FECHA,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-1    -- ANO ANTERIOR
					AND	PRODUTO = 'R'
				GROUP BY  DT_FECHA ) AS V
			 ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'
		AND	CML_PRODUCAO_MES.ORDEM	  = 50		-- RENEG

-- **************************************************  MEDIA  -- 2 ANO ANTERIOR
-- SP_HELP CML_PRODUCAO_MES
-- select * from CML_PRODUCAO_MES where produto='cg'
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'
UPDATE		CML_PRODUCAO_MES
	SET		MEDIA_2A = MEDIA
	FROM	

-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'
		(	SELECT PRODUTO, AGENTE, CODOPER,  AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						PRODUTO, AGENTE, CODOPER, DT_FECHA,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-2    --  2 ANO ANTERIOR
					AND DT_FECHA <= @data_ref
				GROUP BY	PRODUTO, AGENTE, CODOPER, DT_FECHA ) AS V
			GROUP BY	PRODUTO, AGENTE, CODOPER ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_AGENTE  = P.AGENTE
		AND CML_PRODUCAO_MES.COD_OPERADOR = P.CODOPER


-- TTL ANTES TARIFAS
UPDATE		CML_PRODUCAO_MES
	SET		MEDIA_2A = MEDIA
	FROM	
		(	SELECT PRODUTO,  AVG(VLR) AS MEDIA
		FROM (	SELECT			-- DESCR 1 E 2
						PRODUTO, DT_FECHA,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-2 -- MEDIA 2 ANO ANTERIORES
				GROUP BY	PRODUTO, DT_FECHA ) AS V
			GROUP BY	PRODUTO ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR = 9999 -- TTL ANTES TARIFAS

 -- MEDIA DE TARIFAS			********************	EXCETO VEIC
UPDATE CML_PRODUCAO_MES
	SET		MEDIA_2A = MEDIA
	FROM
		(	SELECT PRODUTO,   AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						PRODUTO, DT_FECHA,
						SUM(VLR_TC+VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-2    -- 2 ANO ANTERIOR
					AND DT_FECHA <= @data_ref
				GROUP BY	PRODUTO, DT_FECHA ) AS V
			GROUP BY	PRODUTO ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM    = 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  <> 'V'

 -- MEDIA DE TC			********************	SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET		MEDIA_2A = MEDIA
	FROM
		(	SELECT    AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						DT_FECHA,
						SUM(VLR_TC) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-2    -- 2 ANO ANTERIOR
					AND PRODUTO = 'V'
				GROUP BY	DT_FECHA ) AS V
			  ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'
		AND	CML_PRODUCAO_MES.ORDEM    = 30 -- TTL TARIFAS

 -- MEDIA DE IOF			********************	SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET		MEDIA_2A = MEDIA
	FROM
		(	SELECT    AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						DT_FECHA,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-2    -- 2 ANO ANTERIOR
					AND PRODUTO = 'V'
				GROUP BY	DT_FECHA ) AS V
			  ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'
		AND	CML_PRODUCAO_MES.ORDEM    = 31 -- TTL TARIFAS

-- **************************************************  MEDIA  -- 3 ANO ANTERIOR
-- SP_HELP CML_PRODUCAO_MES
-- select * from CML_PRODUCAO_MES where produto='cg'
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'
UPDATE		CML_PRODUCAO_MES
	SET		MEDIA_3A = MEDIA
	FROM	

-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'
		(	SELECT PRODUTO, AGENTE, CODOPER,  AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						PRODUTO, DT_FECHA, AGENTE, CODOPER, 
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-3    --  3 ANO ANTERIOR
					AND DT_FECHA <= @data_ref
				GROUP BY	PRODUTO, DT_FECHA, AGENTE, CODOPER ) AS V
			GROUP BY	PRODUTO, AGENTE, CODOPER ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_AGENTE  = P.AGENTE
		AND CML_PRODUCAO_MES.COD_OPERADOR = P.CODOPER


-- TTL ANTES TARIFAS
-- DECLARE @data_ref DATETIME SET @data_ref='20140630'
UPDATE		CML_PRODUCAO_MES
	SET		MEDIA_3A = MEDIA
	FROM	
		(	SELECT PRODUTO,  AVG(VLR) AS MEDIA
		FROM (	SELECT			-- DESCR 1 E 2
						PRODUTO, DT_FECHA,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-3 -- MEDIA 3 ANO ANTERIORES
				GROUP BY	PRODUTO, DT_FECHA ) AS V
			GROUP BY	PRODUTO, DT_FECHA ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR = '9999'		-- TTL ANTES TARIFAS

-- MEDIA DE TARIFAS				************	EXCETO VEIC
-- DECLARE @data_ref DATETIME SET @data_ref='20140630'
UPDATE		CML_PRODUCAO_MES
	SET		MEDIA_3A = MEDIA
	FROM
		(	SELECT PRODUTO,   AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						PRODUTO, DT_FECHA,
						SUM(VLR_TC+VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-3    -- 3 ANO ANTERIOR
					--  AND DT_FECHA <= @data_ref
				GROUP BY	PRODUTO, DT_FECHA ) AS V
			GROUP BY	    PRODUTO ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM = 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO <> 'V'

-- MEDIA DE TC				************	SOH VEIC
-- DECLARE @data_ref DATETIME SET @data_ref='20140630'
UPDATE		CML_PRODUCAO_MES
	SET		MEDIA_3A = MEDIA
	FROM
		(	SELECT  AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						DT_FECHA,
						SUM(VLR_TC) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-3    -- 3 ANO ANTERIOR
					AND PRODUTO = 'V'
				GROUP BY	DT_FECHA ) AS V
			   ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'
		AND	CML_PRODUCAO_MES.ORDEM    = 30 -- TTL TARIFAS

-- MEDIA DE IOF				************	SOH VEIC
-- DECLARE @data_ref DATETIME SET @data_ref='20140630'
UPDATE		CML_PRODUCAO_MES
	SET		MEDIA_3A = MEDIA
	FROM
		(	SELECT   AVG(VLR) AS MEDIA
			FROM
			(	SELECT			-- DESCR 1 E 2
						DT_FECHA,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,@data_ref)-3    -- 3 ANO ANTERIOR
					AND PRODUTO = 'V'
				GROUP BY	DT_FECHA ) AS V
			   ) AS P

	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'
		AND	CML_PRODUCAO_MES.ORDEM	  = 31 -- TTL TARIFAS


-- **************************************************  6 MESES ANTERIORES -- ANO ANTERIOR
-- SP_HELP CML_PRODUCAO_MES
-- SELECT * FROM CML_PRODUCAO_MES WHERE PRODUTO='V' ORDER BY ORDEM
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
SET @M1 = DATEADD(D,+1,@data_ref)
SET @M1 = DATEADD(M,-6,@M1)
SET @M1 = DATEADD(D,-1,@M1)
--  
SELECT @M1   -- DEZ
UPDATE		CML_PRODUCAO_MES
	SET		MES_6M_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, AGENTE, CODOPER,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES ANTERIOR
				GROUP BY	PRODUTO, AGENTE, CODOPER ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA    = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO     = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_AGENTE  = P.AGENTE
		AND CML_PRODUCAO_MES.COD_OPERADOR= P.CODOPER


-- TTL ANTES TARIFAS
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME  SET @M1='20140630'
UPDATE		CML_PRODUCAO_MES
	SET		MES_6M_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, 
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- 9 MES ANTERIOR
				GROUP BY	PRODUTO ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA		= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO		= P.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR	= 9999 -- TTL ANTES TARIFAS

-- TTL DE TARIFAS		************************		 EXCETO VEIC
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME  SET @M1='20140630'
UPDATE CML_PRODUCAO_MES
	SET	MES_6M_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC+VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- 9 MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA	= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO	= P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM		= 30				-- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO	<> 'V'			-- EXCETO VEIC



-- TTL DE TC			***************		SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_6M_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						SUM(VLR_TC) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DT_FECHA = @M1    -- 9 MES ANTERIOR
					AND	PRODUTO  = 'V'    ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'
		AND	CML_PRODUCAO_MES.ORDEM    = 30			 -- TTL TARIFAS

-- TTL DE IOF			***************		SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_6M_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DT_FECHA = @M1    -- 9 MES ANTERIOR
					AND	PRODUTO  = 'V'	) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'
		AND	CML_PRODUCAO_MES.ORDEM    = 31			 -- TTL TARIFAS

-- TTL DE IOF			***************		SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_6M_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DT_FECHA = @M1    -- 9 MES ANTERIOR
					AND	PRODUTO  = 'V'	) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'
		AND	CML_PRODUCAO_MES.ORDEM    = 31			 -- TTL TARIFAS


-- **************************************************  9 MESES ANTERIORES -- ANO ANTERIOR
-- SP_HELP CML_PRODUCAO_MES
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
SET @M1 = DATEADD(D,+1,@data_ref)
SET @M1 = DATEADD(M,-9,@M1)
SET @M1 = DATEADD(D,-1,@M1)
--  SELECT @M1  -- SET13
UPDATE		CML_PRODUCAO_MES
	SET		MES_3M_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, AGENTE, CODOPER,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES ANTERIOR
				GROUP BY	PRODUTO, AGENTE, CODOPER ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_AGENTE  = P.AGENTE
		AND CML_PRODUCAO_MES.COD_OPERADOR = P.CODOPER


-- TTL ANTES TARIFAS
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE		CML_PRODUCAO_MES
	SET		MES_3M_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, 
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- 9 MES ANTERIOR
				GROUP BY	PRODUTO ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR = 9999 -- TTL ANTES TARIFAS

-- TTL DE TARIFAS			******************************	EXCETO VEIC
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE CML_PRODUCAO_MES
	SET	MES_3M_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC+VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- 9 MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM	  = 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  <> 'V'

-- TTL DE TC			******************************	SOH VEIC
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE CML_PRODUCAO_MES
	SET	MES_3M_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- 9 MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM	  = 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'

-- TTL DE IOF			******************************	SOH VEIC
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE CML_PRODUCAO_MES
	SET	MES_3M_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- 9 MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM	  = 31 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'


-- **************************************************  12 MESES ANTERIORES -- ANO ANTERIOR
-- SP_HELP CML_PRODUCAO_MES
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
SET @M1 = DATEADD(D,+1,@data_ref)
SET @M1 = DATEADD(M,-12,@M1)
SET @M1 = DATEADD(D,-1,@M1)
-- SELECT @M1
UPDATE		CML_PRODUCAO_MES
	SET		MES_ATUAL_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, AGENTE, CODOPER,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES = , ANO ANTERIOR
				GROUP BY	PRODUTO, AGENTE, CODOPER ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_AGENTE  = P.AGENTE
		AND CML_PRODUCAO_MES.COD_OPERADOR = P.CODOPER

-- TTL ANTES TARIFAS
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE		CML_PRODUCAO_MES
	SET		MES_ATUAL_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, 
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    --  MES = ANO ANTERIOR
				GROUP BY	PRODUTO ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- RELATORIO
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR = 9999 -- TTL ANTES TARIFAS

-- TTL DE TARIFAS			***************	EXCETO VEIC
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE CML_PRODUCAO_MES
	SET	MES_ATUAL_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC+VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES = ANO ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM = 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO <> 'V'

-- TTL DE TC			***************	SOH VEIC
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE CML_PRODUCAO_MES
	SET	MES_ATUAL_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES = ANO ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM = 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO = 'V'

-- TTL DE IOF			***************	SOH VEIC
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE CML_PRODUCAO_MES
	SET	MES_ATUAL_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES = ANO ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA	= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO	= P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM		= 31 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO	= 'V'


-- **************************************************  13 MESES ANTERIORES -- ANO ANTERIOR
-- SP_HELP CML_PRODUCAO_MES
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
SET @M1 = DATEADD(D,+1,@data_ref)
SET @M1 = DATEADD(M,-13,@M1)
SET @M1 = DATEADD(D,-1,@M1)
-- SELECT @M1
--  SELECT @M1
UPDATE		CML_PRODUCAO_MES
	SET		MES_1A_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, AGENTE, CODOPER,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES ANTERIOR
				GROUP BY	PRODUTO, AGENTE, CODOPER ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA		= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO		= P.PRODUTO
		AND CML_PRODUCAO_MES.COD_AGENTE		= P.AGENTE
		AND CML_PRODUCAO_MES.COD_OPERADOR	= P.CODOPER


-- TTL ANTES TARIFAS
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE		CML_PRODUCAO_MES
	SET		MES_1A_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, 
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    --  13 MES ANTERIOR
				GROUP BY	PRODUTO ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA		= @data_ref    -- RELATORIO
		AND CML_PRODUCAO_MES.PRODUTO		= P.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR	= 9999 -- TTL ANTES TARIFAS

-- TTL DE TARIFAS		****************** EXCETO VEIC
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE CML_PRODUCAO_MES
	SET	MES_1A_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC+VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA	= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO	= P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM		= 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO	<> 'V'

-- TTL DE TC		****************** SOH VEIC
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE CML_PRODUCAO_MES
	SET	MES_1A_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA	= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO	= P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM		= 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO	= 'V'

-- TTL DE IOF		****************** SOH VEIC
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE CML_PRODUCAO_MES
	SET	MES_1A_1A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA	= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO	= P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM		= 31 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO	= 'V'

-- ******************************************************************* 2 ANOS ANTERIORES
-- **************************************************  18 MESES ANTERIORES -- ANO ANTERIOR
-- SP_HELP CML_PRODUCAO_MES
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
SET @M1 = DATEADD(D,+1,@data_ref)
SET @M1 = DATEADD(M,-18,@M1)
SET @M1 = DATEADD(D,-1,@M1)
--  SELECT @M1   -- DEZ12
UPDATE		CML_PRODUCAO_MES
	SET		MES_6M_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, AGENTE, CODOPER,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES ANTERIOR
				GROUP BY	PRODUTO, AGENTE, CODOPER ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA		= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO		= P.PRODUTO
		AND CML_PRODUCAO_MES.COD_AGENTE		= P.AGENTE
		AND CML_PRODUCAO_MES.COD_OPERADOR	= P.CODOPER


-- TTL ANTES TARIFAS
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE		CML_PRODUCAO_MES
	SET		MES_6M_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, 
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- 9 MES ANTERIOR
				GROUP BY	PRODUTO ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA		= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO		= P.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR	= 9999 -- TTL ANTES TARIFAS

-- TTL DE TARIFAS		********************		EXCETO VEIC
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE CML_PRODUCAO_MES
	SET	MES_6M_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC+VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- 9 MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA	= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO	= P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM		= 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO	<> 'V'

-- TTL DE TC		********************		SOH VEIC
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE CML_PRODUCAO_MES
	SET	MES_6M_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- 9 MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA	= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO	= P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM		= 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO	= 'V'

-- TTL DE IOF		********************		SOH VEIC
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE CML_PRODUCAO_MES
	SET	MES_6M_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- 9 MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA	= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO	= P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM		= 31 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO	= 'V'


-- **************************************************  21 MESES ANTERIORES -- ANO ANTERIOR
-- SP_HELP CML_PRODUCAO_MES
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
SET @M1 = DATEADD(D,+1,@data_ref)
SET @M1 = DATEADD(M,-21,@M1)
SET @M1 = DATEADD(D,-1,@M1)
--  SELECT @M1   -- SET12
UPDATE		CML_PRODUCAO_MES
	SET		MES_3M_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, AGENTE, CODOPER,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES ANTERIOR
				GROUP BY	PRODUTO, AGENTE, CODOPER ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA		= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO		= P.PRODUTO
		AND CML_PRODUCAO_MES.COD_AGENTE		= P.AGENTE
		AND CML_PRODUCAO_MES.COD_OPERADOR	= P.CODOPER


-- TTL ANTES TARIFAS
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
UPDATE		CML_PRODUCAO_MES
	SET		MES_3M_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, 
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- 9 MES ANTERIOR
				GROUP BY	PRODUTO ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA		= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO		= P.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR	= 9999 -- TTL ANTES TARIFAS

-- TTL DE TARIFAS			***************		EXCETO VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_3M_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC+VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- 9 MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM    = 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  <> 'V'


-- TTL DE TC			***************		SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_3M_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- 9 MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM    = 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'

-- TTL DE IOF			***************		SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_3M_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- 9 MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM    = 31 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'



-- **************************************************  24 MESES ANTERIORES -- 2 ANO ANTERIOR, MES =
-- SP_HELP CML_PRODUCAO_MES
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
SET @M1 = DATEADD(D,+1,@data_ref)
SET @M1 = DATEADD(M,-24,@M1)
SET @M1 = DATEADD(D,-1,@M1)
-- SELECT @M1		-- JUN12
UPDATE		CML_PRODUCAO_MES
	SET		MES_ATUAL_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, AGENTE, CODOPER,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES = , ANO ANTERIOR
				GROUP BY	PRODUTO, AGENTE, CODOPER ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA		= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO		= P.PRODUTO
		AND CML_PRODUCAO_MES.COD_AGENTE		= P.AGENTE
		AND CML_PRODUCAO_MES.COD_OPERADOR	= P.CODOPER

-- TTL ANTES TARIFAS
UPDATE		CML_PRODUCAO_MES
	SET		MES_ATUAL_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, 
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    --  MES = ANO ANTERIOR
				GROUP BY	PRODUTO ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA		= @data_ref    -- RELATORIO
		AND CML_PRODUCAO_MES.PRODUTO		= P.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR	= 9999 -- TTL ANTES TARIFAS

-- TTL DE TARIFAS		******************			EXCETO VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_ATUAL_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC+VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES = ANO ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM	  = 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  <> 'V'

-- TTL DE TC		******************			SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_ATUAL_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES = ANO ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM	  = 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'

-- TTL DE IOF		******************			SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_ATUAL_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES = ANO ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM	  = 31 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'



-- **************************************************  25 MESES ANTERIORES -- ANO ANTERIOR
-- SP_HELP CML_PRODUCAO_MES
-- DECLARE @data_ref DATETIME SET @data_ref = '20140630'   DECLARE @M1 DATETIME 
SET @M1 = DATEADD(D,+1,@data_ref)
SET @M1 = DATEADD(M,-25,@M1)
SET @M1 = DATEADD(D,-1,@M1)
-- SELECT @M1		--  MAI12  
UPDATE		CML_PRODUCAO_MES
	SET		MES_1A_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, AGENTE, CODOPER,
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES ANTERIOR
				GROUP BY	PRODUTO, AGENTE, CODOPER ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA		= @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO		= P.PRODUTO
		AND CML_PRODUCAO_MES.COD_AGENTE		= P.AGENTE
		AND CML_PRODUCAO_MES.COD_OPERADOR	= P.CODOPER


-- TTL ANTES TARIFAS
UPDATE		CML_PRODUCAO_MES
	SET		MES_1A_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO, 
						SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    --  13 MES ANTERIOR
				GROUP BY	PRODUTO ) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA		= @data_ref    -- RELATORIO
		AND CML_PRODUCAO_MES.PRODUTO		= P.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR	= 9999 -- TTL ANTES TARIFAS

-- TTL DE TARIFAS		*******************			EXCETO VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_1A_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC+VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM    = 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  <> 'V'

-- TTL DE TC		*******************			SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_1A_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_TC) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM    = 30 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'

-- TTL DE IOF		*******************			SOH VEIC
UPDATE CML_PRODUCAO_MES
	SET	MES_1A_2A = VLR
	FROM	(	SELECT			-- DESCR 1 E 2
						PRODUTO ,
						SUM(VLR_IOF) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA = @M1    -- MES ANTERIOR
				GROUP BY	PRODUTO) AS P
	WHERE 	CML_PRODUCAO_MES.DT_FECHA = @data_ref    -- MES ATUAL
		AND CML_PRODUCAO_MES.PRODUTO  = P.PRODUTO
		AND	CML_PRODUCAO_MES.ORDEM    = 31 -- TTL TARIFAS
		AND CML_PRODUCAO_MES.PRODUTO  = 'V'


-- TTL ANTES TARIFAS
-- SELECT * FROM CML_PRODUCAO_MES
-- SP_HELP  CML_PRODUCAO_MES
UPDATE		CML_PRODUCAO_MES
	SET		MEDIA_3A = A.MEDIA_3A + B.MEDIA_3A,
			MES_1A_2A= A.MES_1A_2A + B.MES_1A_2A,
			MES_ATUAL_2A = A.MES_ATUAL_2A + B.MES_ATUAL_2A,
			MES_3M_2A = A.MES_3M_2A + B.MES_3M_2A,
			MES_6M_2A = A.MES_6M_2A + B.MES_6M_2A,
			MEDIA_2A  = A.MEDIA_2A + B.MEDIA_2A,
			MES_1A_1A = A.MES_1A_1A + B.MES_1A_1A,
			MES_ATUAL_1A = A.MES_ATUAL_1A + B.MES_ATUAL_1A,
			MES_3M_1A = A.MES_3M_1A + B.MES_3M_1A,
			MES_6M_1A = A.MES_6M_1A + B.MES_6M_1A,
			MEDIA_1A  = A.MEDIA_1A + B.MEDIA_1A,
			MES_3A_ANO_ATUAL = A.MES_3A_ANO_ATUAL + B.MES_3A_ANO_ATUAL,
			MES_2A_ANO_ATUAL = A.MES_2A_ANO_ATUAL + B.MES_2A_ANO_ATUAL,
			MES_1A_ANO_ATUAL = A.MES_1A_ANO_ATUAL + B.MES_1A_ANO_ATUAL,
			MES_ATUAL   = A.MES_ATUAL + B.MES_ATUAL,
			MEDIA_ATUAL = A.MEDIA_ATUAL + B.MEDIA_ATUAL
			
	FROM	(	SELECT	*
				FROM	CML_PRODUCAO_MES O1 (NOLOCK)
				where	DT_FECHA = @data_ref    --  MES ATUAL
					AND COD_OPERADOR	= 9999  -- SUB TTL 
				 ) AS A,
			(	SELECT	*
				FROM	CML_PRODUCAO_MES O1 (NOLOCK)
				where	DT_FECHA = @data_ref    --  MES ATUAL
					--  AND COD_OPERADOR	= 9999  -- SUB TTL 
					AND	O1.ORDEM	  = 30 -- TTL TARIFAS
				 ) AS B

	WHERE 	CML_PRODUCAO_MES.DT_FECHA		= @data_ref    -- RELATORIO
		AND CML_PRODUCAO_MES.PRODUTO		= A.PRODUTO
		AND CML_PRODUCAO_MES.COD_OPERADOR	= 99999 -- TTL GERAL
		AND A.PRODUTO		= B.PRODUTO
-- TX 
--RTRIM(LTRIM(STR(((POWER(((@TXJRCLAA/100)+1),(1./12))-1)*100),10,4))) + ' a.m.'
--
/*
-- agente
SELECT * FROM	 CDCSANTANAMicroCredito..TA1O3 O (NOLOCK)
Santana 100 e 204
1 PROMOTORA SHOPCRED

-- operador
SELECT * FROM	CDCSANTANAMicroCredito..TORG3 O (NOLOCK)	
001371
001379
001399
000002
000100

operador
O3CODORG	O3DESCR
000100	SANTANA - DIRETO


SELECT				PRODUTO ,					SUM(VLR_TC+VLR_IOF) AS VLR			FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	DT_FECHA ='20140331' GROUP BY PRODUTO

-- MEDIA
	SELECT			PRODUTO, AGENTE, CODOPER, DT_FECHA,			SUM(VLR_LIBERADO) AS VLR
				FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	DATEPART(YYYY,DT_FECHA) = DATEPART(YYYY,'20140630')    -- ANO ATUAL
					AND DT_FECHA <= '20140630'
				GROUP BY	PRODUTO, AGENTE, CODOPER, DT_FECHA 


TOCODOP	TONOMEOP
350	CAPITAL GIRO S/ GAR CARNE - PF
351	CAPITAL GIRO S/ GAR CARNE - PJ
352	CAPITAL GIRO S/GAR -CARNE- PF
353	CAPITAL GIRO S/GAR -CARNE- PJ
360	CAP. DE GIRO C/GAR - CARN - PF
361	CAP. DE GIRO C/GAR - CARN - PJ
362	CAPITAL GIRO C/GAR -CARNE- PF
363	CAPITAL GIRO C/GAR -CARNE- PJ
371	CAPITAL GIRO S/ GAR CARNE - PJ
381	CAP. DE GIRO C/GAR - CARN - PJ


SELECT * FROM	COMERCIAL_PRODUCAO
UPDATE		SPREAD_HISTORICO 
	SET 	VEICULO='REFINANCIAMENTO',
			RENEGOCIADO=0
	FROM	--CDCSANTANAMicroCredito..COPER O (NOLOCK),
			CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		--AND SPREAD_HISTORICO.NUM_OPE =O.OPNROPER
		--AND O.OPCODOP=M.TOCODOP		-- MODALIDADE *********************		
		AND CODMODA = M.TOCODOP
		AND M.TOCODCART = 80		-- CARTEIRA DE REFINANCIAMENTO	 80 	


-- REFINANCIAMENTO
UPDATE		SPREAD_HISTORICO 
	SET 	VEICULO=CASE WHEN LEFT(NUM_OPE,2) ='89' THEN 'REFINANCIAMENTO' ELSE VEICULO END
	WHERE	DT_FECHA=@DTREF
-- RENEGOCIADOS DEPOIS
-- RENEGOCIACAO
UPDATE		SPREAD_HISTORICO 
	SET 	VEICULO=CASE WHEN RENEGOCIADO > 0 THEN 'RENEGOCIACAO' ELSE VEICULO END
	WHERE	DT_FECHA=@DTREF




SELECT * FROM		CDCSANTANAMicroCredito..COPER O
SELECT * FROM		CDCSANTANAMicroCredito..TMODA P (NOLOCK)
SELECT * FROM		CDCSANTANAMicroCredito..TPROD P (NOLOCK)
	WHERE	DT_FECHA=@DTREF
			AND	CODPROD = CONVERT(INT,P.TPCODPRD)

						  CDCSANTANAMicroCredito..COPER O (NOLOCK)  
					where	RATING_HISTORICO.num_ope =O.OPNROPER 
						and OPCODOP not IN (550,551,    552,553, 610,  611 , 612, 613 ,  630, 631,632 ,633,  640, 641  ,642,643,670,672,700,  751,752, 760,   860, 861, 863, 862,  893,894,
								200,201, 250,251,   400,401,450,451  ,500,501,  600,601,  650,651, 671, 673, 720,   741,742) )

	-- CUBO 2 -- ANO MODELO ****************************************************
		-- ATUALIZA O ANO MODELO NA DESCR1


		UPDATE	PDD_CUBO
		SET		--M1_PDD_PRC = M1_PDD/M1_CARTEIRA * 100.0
				M0_PDD_PRC = CASE WHEN M0_CARTEIRA=0.0 THEN 0.0 ELSE M0_PDD/M0_CARTEIRA  * 100.0 END
		WHERE	M0_CARTEIRA <> 0.0
			AND DT_FECHA =	@data_ref  -- MES ATUAL

		UPDATE	PDD_CUBO
		SET		M1_DESPESA = M1_PDD - M0_PDD + M1_PREJUIZO  -- CALCULO
		WHERE	DT_FECHA =	@data_ref  -- MES ATUAL
*/


	-- NOME DO AGENTE
    -- SELECT * FROM CML_PRODUCAO_MES
	-- DECLARE @DTREF DATETIME SET @DTREF = '20140630'
	UPDATE  CML_PRODUCAO_MES
		SET AGENTE = ISNULL(A13DESCR,'')
	FROM	CDCSANTANAMicroCredito..TA1O3 O (NOLOCK)				
	WHERE	CML_PRODUCAO_MES.DT_FECHA=@data_ref
	--		AND PRODUTO = 'V'			-- VEICULO
			AND LEN(COD_AGENTE) <= 9
		AND COD_AGENTE = A13CODORG		 --a.COD_agente  -- CONTEM CODIGO

	-- NOME DO OPERADOR
    -- SELECT * FROM  SPREAD_RPT_LOJA CDCSANTANAMicroCredito..TORG3
	-- DECLARE @DTREF DATETIME SET @DTREF = '20140630'
	UPDATE  CML_PRODUCAO_MES
		SET OPERADOR = O3DESCR
	FROM	CDCSANTANAMicroCredito..TORG3 O (NOLOCK)				
	WHERE	CML_PRODUCAO_MES.DT_FECHA=@data_ref
		AND COD_OPERADOR = O3CODORG

*/

END

GO


-- SELECT * FROM CML_PRODUCAO_MES