
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO
-- erro na select 37
/*
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2016-02-29'

-- erro na select 17

--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2015-07-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-01-31'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-02-28'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-03-31'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-04-30'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-05-30'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-06-30'
--
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-07-31'

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-08-31'

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-09-30'

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-10-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-11-30'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '2014-12-31'

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '20150131'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '20150228'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '20150331'

-- prod global
select * from CML_PRODUCAO_ANALISE where dt_fecha='20150131' and rpt=1 and carteira=1 and produto='d'

-- carteira
select * from CML_PRODUCAO_ANALISE where dt_fecha='20150131' and rpt=2 and carteira=2 and produto='d'

-- prod mensal
select * from CML_PRODUCAO_ANALISE where dt_fecha='20150131' and rpt=3 and carteira=3 and produto='d'

select * from rating_historico where dt_fecha='20140530' 
select * from pdd_SEM_veic where dt_fecha='20140531' and nvl_risco<>'hh'
update  pdd_SEM_veic set dt_fecha='20140530' where dt_fecha='20140531'

select * from COMERCIAL_PRODUCAO_MES_AUX
 INSERT AUX_CML_PROD_MEDIA     
SELECT *  FROM (    SELECT DATEPART(YY,DT_FECHA) AS ANO,PRODUTO, 'PV' AS DESCR2, AVG(VLR_PRESENTE) AS VLR_MES FROM  COMERCIAL_PRODUCAO_MES_AUX (NOLOCK)  P    GROUP BY DATEPART(YY,DT_FECHA),PRODUTO    
 ) A  PIVOT( AVG (VLR_MES) FOR ANO IN ([2011],[2012],[2013],[2014] ) ) AS PVT
SELECT * FROM  AUX_CML_PROD_MEDIA     
select DISTINCT RPT,CARTEIRA,PRODUTO from CML_PRODUCAO_ANALISE
DELETE FROM CML_PRODUCAO_ANALISE

select * from CML_PRODUCAO_ANALISE WHERE RPT=1		ORDER BY ORDEM
select * from CML_PRODUCAO_ANALISE WHERE RPT=3 AND PRODUTO='CG' ORDER BY ORDEM
select * from CML_PRODUCAO_ANALISE WHERE RPT=3 AND PRODUTO='V' ORDER BY ORDEM

select * from CML_PRODUCAO_ANALISE WHERE PRODUTO='V' ORDER BY ORDEM

select * from CML_PRODUCAO_ANALISE WHERE PRODUTO='R' ORDER BY ORDEM
select * from COMERCIAL_PRODUCAO WHERE PRODUTO IN ('CG','CP')

 INSERT AUX_CML_PROD_MES 
 SELECT *  FROM (SELECT DT_FECHA,PRODUTO, VLR_PRESENTE FROM COMERCIAL_PRODUCAO_mes (NOLOCK) ) P  PIVOT( SUM (VLR_PRESENTE) FOR DT_FECHA IN ([20140630],[20140531],[20140430],[20140331],[20131231],[20130930],[20130630],[20130531],[20121231],[20120930],[20120630],[20120531]) ) AS PVT

		SELECT DT_FECHA,  PRODUTO, QTDE, VLR_PRESENTE, VLR_FUTURO FROM COMERCIAL_CARTEIRA_MES 
			WHERE DT_FECHA <= '20140630'
			  AND DATEPART(YY,DT_FECHA) >= '2011'  -- MEDIA DE 4 ANOS
			  AND PRODUTO IS NOT NULL


2 TABELA AUXILIAR MENSAL TTL  PRODUCAO E CARTEIRA
		COM A DT_FECHA, PRODUTO, PRODUCAO,  PLANO MEDIO, TAXA MÉDIA, QTDE, TKT MEDIO, PROD PV, TKT PV, ANO, FIPE, SCORE, QTDE, TKT_X_OP, CED_CLI, CED, QTD_CED, CED_CLI, TARIFA, TC, 

*/

use SIG
go


/*


USE SIG


DROP TABLE CML_PRODUCAO_ANALISE
SP_HELP CML_PRODUCAO_ANALISE
CREATE TABLE CML_PRODUCAO_ANALISE
	(	
		DT_FECHA		SMALLDATETIME,
		RPT				INT,
		CARTEIRA		INT,
		ORDEM			INT,

--DT_FECHA	CARTEIRA	ORDEM	PRODUTO	COD_AGENTE	AGENTE	COD	OPERADOR	MEDIA_3A	MES_1A_2A	MES_ATUAL_2A
--      	MES_3M_2A	MES_6M_2A	MEDIA_2A	MES_1A_1A	MES_ATUAL_1A	MES_3M_1A	MES_6M_1A	MEDIA_1A	MES_3A_ANO_ATUAL	MES_2A_ANO_ATUAL	MES_1A_ANO_ATUAL	MES_ATUAL	MEDIA_ATUAL	COR_LINHA

		PRODUTO			VARCHAR(100),
		DESCR1			VARCHAR(100),
		DESCR2			VARCHAR(100),
		MEDIA_3A		float,
		MES_1A_2A		float,
		MES_ATUAL_2A	float,
		MES_3M_2A		float,
		MES_6M_2A		float,

		MEDIA_2A		FLOAT,
		MES_1A_1A		float,
		MES_ATUAL_1A	float,
		MES_3M_1A		FLOAT,
		MES_6M_1A		FLOAT,

		MEDIA_1A			FLOAT,	
		MES_3A_ANO_ATUAL	FLOAT,
		MES_2A_ANO_ATUAL	FLOAT,
		MES_1A_ANO_ATUAL	FLOAT,
		MES_ATUAL			FLOAT,
		MEDIA_ATUAL			FLOAT,

		VAR_MEDIA_ATUAL_1A		FLOAT,
		VAR_MEDIA_MES_ATUAL_M1A	FLOAT,
		VAR_MEDIA_MES_FIM1A		FLOAT,
		VAR_MEDIA_MES_ATUAL_1A	FLOAT,
	
		COR_LINHA   varchar(3)
	)
-- ****************** ALTERADO MAI-2015
DROP TABLE CML_PRODUCAO_ANALISE
SP_HELP CML_PRODUCAO_ANALISE
CREATE TABLE CML_PRODUCAO_ANALISE
	(	
		DT_FECHA		SMALLDATETIME,
		RPT				INT,
		CARTEIRA		INT,
		ORDEM			INT,
		PRODUTO			VARCHAR(100),
		DESCR1			VARCHAR(100),
		DESCR2			VARCHAR(100),
		M14		float,
		M13		float,
		M12		float,
		M11		float,
		M10		float,

		M9		FLOAT,
		M8		float,
		M7		float,
		M6		FLOAT,
		M5		FLOAT,

		M4		FLOAT,	
		M3		FLOAT,
		M2		FLOAT,
		M1		FLOAT,	
		COR_LINHA   varchar(3)
	)
CREATE INDEX CML_PRODUCAO_ANALISE_IDX1 ON CML_PRODUCAO_ANALISE
	(	DT_FECHA,	RPT,	CARTEIRA,	PRODUTO, ORDEM,	DESCR1, DESCR2)


-- ************************************************
drop   TABLE AUX_CML_PROD_MES
CREATE TABLE AUX_CML_PROD_MES
(
		PRODUTO			VARCHAR(100),
		M14		float,
		M13		float,
		M12		float,
		M11		float,
		M10		float,

		M9		float,
		M8		float,
		M7		FLOAT,
		M6		FLOAT,

		M5		FLOAT,
		M4		FLOAT,
		M3		FLOAT,
		M2		FLOAT,
		M1		FLOAT
	)

-- ************************************************
drop   TABLE AUX_CML_PROD_MES2
-- ************************************************
CREATE TABLE AUX_CML_PROD_MES2
(
		PRODUTO			VARCHAR(100),
		DESCR2			VARCHAR(100),
		M14		float,
		M13		float,
		M12		float,
		M11		float,
		M10		float,

		M9		float,
		M8		float,
		M7		FLOAT,
		M6		FLOAT,

		M5		FLOAT,
		M4		FLOAT,
		M3		FLOAT,
		M2		FLOAT,
		M1		FLOAT
	)


*/

-- SELECT * FROM RR_ROLLRATE WHERE RATING='HH'
-- SELECT * FROM RATING_HISTORICO WHERE NVL_RISCO='HH'


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_COMERCIAL_CALCULO_ANALISE' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_COMERCIAL_CALCULO_ANALISE]
GO


CREATE Procedure [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] (@data_ref as datetime) AS
BEGIN


		DECLARE @data_INI AS SMALLDATETIME
		-- DIA 1 DO MES DO FECHAMENTO
		SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

		-- APAGA PROCESSAMENTO ANTERIOR		 -- PRODUCAO GLOBAL  1 a 3
		delete  from CML_PRODUCAO_ANALISE
			WHERE	 DT_FECHA = @data_ref
				AND  RPT=1 AND CARTEIRA=1

		-- APAGA PROCESSAMENTO ANTERIOR		 -- CARTEIRA 
		delete  from CML_PRODUCAO_ANALISE
			WHERE	 DT_FECHA = @data_ref
				AND	 RPT=2 AND CARTEIRA=2

		-- APAGA PROCESSAMENTO ANTERIOR	  	 -- PRODUCAO MENSAL 
		delete  from CML_PRODUCAO_ANALISE
			WHERE	 DT_FECHA = @data_ref
				AND  RPT=3 AND CARTEIRA=3

		-- faltou COR_LINHA

		-- ANALISE COM GRAFICO POR PRODUTO E OPERADOR

		-- carteira 1 = producao GLOBAL ,	2= carteira ,	3= prod mensal 
		/*
		PRODUÇÃO GLOBAL	CART=1			RPT=1	PRODUTO='T'
		CARTEIRA	CART=2	(LIST BOX)		RPT=2	PRODUTO='T'
		PRODUÇÃO MENSAL	CART=3	PRODUTO	TOTAL	RPT=3	PRODUTO='T'
			(SE FOR PRODUCAO MENSAL, 		DESCONTO	RPT=3	PRODUTO='D'
			LISTA DE PRODUTO)		CAPITAL GIRO	RPT=3	PRODUTO='CG'
					VEICULO	RPT=3	PRODUTO='V'
					RENEG	RPT=3	PRODUTO='R'
					CP	RPT=3	PRODUTO='CP'
		*/

		-- CARREGA TABELA AUXILIAR
		-- SP_HELP CML_PRODUCAO_MES
		-- SELECT * FROM  CML_PRODUCAO_ANALISE
		-- SELECT * FROM  COMERCIAL_PRODUCAO
		/*
		SELECT PRODUTO, [20140430] AS D1 ,[20140531] AS D2,[20140630] AS D3
		FROM (SELECT DT_FECHA,PRODUTO, VLR_FUTURO	FROM COMERCIAL_PRODUCAO) P
		PIVOT( SUM (VLR_FUTURO) FOR DT_FECHA IN ([20140430] ,[20140531],[20140630])
		) AS PVT

		sp_help CML_PRODUCAO_ANALISE
		*/
	--	 declare @data_ref datetime	set @data_ref ='20140630'
	--	 declare @data_ref datetime	set @data_ref ='20141130'

	--		M24   M23  M22  M21 , M11  M10  M9  M6, M3 M2 M1  @data_ref
	--  13 MESES
	DECLARE @M1  AS DATETIME  -- DT REF
	DECLARE @M2  AS DATETIME
	DECLARE @M3  AS DATETIME
	DECLARE @M4  AS DATETIME
	DECLARE @M5  AS DATETIME
	DECLARE @M6  AS DATETIME
	DECLARE @M7  AS DATETIME
	DECLARE @M8  AS DATETIME
	DECLARE @M9  AS DATETIME
	DECLARE @M10  AS DATETIME
	DECLARE @M11  AS DATETIME
	DECLARE @M12  AS DATETIME
	DECLARE @M13  AS DATETIME
	DECLARE @M14  AS DATETIME

	--				declare @data_ref datetime set @data_ref = '20150228'
		-- MES  DE FECHAMENTO
		SET		@M1 = @data_ref

		-- MES ANTERIOR AO DO FECHAMENTO
		SET		@M2 = CONVERT(CHAR(4),DATEPART(YEAR,@M1))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M1))),2)+'01'
		SET		@M2 = DATEADD(DD,-1,@M2)
		--		SELECT @M1, @m2

		set		@M3 = CONVERT(CHAR(4),DATEPART(YEAR,@M2))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M2))),2)+'01'
		SET		@M3=DATEADD(DD,-1,@M3)
		--		SELECT @M1, @M2,@M3

		set  @M4 = CONVERT(CHAR(4),DATEPART(YEAR,@M3))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M3))),2)+'01'
		SET	 @M4=DATEADD(DD,-1,@M4)
		--		  SELECT @M4

	set  @M5 = CONVERT(CHAR(4),DATEPART(YEAR,@M4))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M4))),2)+'01'
	SET	 @M5 = DATEADD(DD,-1,@M5)
	--		 	SELECT @M5

	set  @M6 = CONVERT(CHAR(4),DATEPART(YEAR,@M5))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M5))),2)+'01'
	SET	 @M6 = DATEADD(DD,-1,@M6)

	set  @M7 = CONVERT(CHAR(4),DATEPART(YEAR,@M6))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M6))),2)+'01'
	SET	 @M7 = DATEADD(DD,-1,@M7)

	set  @M8 = CONVERT(CHAR(4),DATEPART(YEAR,@M7))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M7))),2)+'01'
	SET	 @M8 = DATEADD(DD,-1,@M8)

	set  @M9 = CONVERT(CHAR(4),DATEPART(YEAR,@M8))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M8))),2)+'01'
	SET	 @M9 = DATEADD(DD,-1,@M9)

	set		@M10 = CONVERT(CHAR(4),DATEPART(YEAR,@M9))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M9))),2)+'01'
	SET		@M10 = DATEADD(DD,-1,@M10)
	--			SELECT	@M10

	set		@M11 = CONVERT(CHAR(4),DATEPART(YEAR,@M10))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M10))),2)+'01'
	SET		@M11 = DATEADD(DD,-1,@M11)
	--			SELECT	@M11 

	set		@M12 = CONVERT(CHAR(4),DATEPART(YEAR,@M11))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M11))),2)+'01'
	SET		@M12 = DATEADD(DD,-1,@M12)

	set		@M13 = CONVERT(CHAR(4),DATEPART(YEAR,@M12))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M12))),2)+'01'
	SET		@M13 = DATEADD(DD,-1,@M13)

	set		@M14 = CONVERT(CHAR(4),DATEPART(YEAR,@M13))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M13))),2)+'01'
	SET		@M14 = DATEADD(DD,-1,@M14)
		-- 		SELECT @M1, @M2,@M3 , @M4, @M5,@M6,@M7,@m8,@M9,@M10,@M11,@M12,@M13


		--		VARIAVEIS PARA COMPOR OS 13 MESES 
		DECLARE @columns VARCHAR(200)
		SET		@columns = '['+CONVERT(VARCHAR(8),@M14,112)+']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M13 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M12 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M11 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M10 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M9 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M8 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M7 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M6 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M5 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M4 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M3 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M2 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M1 ,112)  + ']'


		--		SELECT  @columns


	--		M24   M23  M22  M21 , M11  M10  M9  M6, M3 M2 M1  @data_ref

/*
		SELECT	@M1 as m1, @M2 as m2, @M3 as m3, @M6 as m6, @M9 as m9, @M10 as m10, 
				@M11 as m11, @M21 as m21, @M22 as m22,@M23 as m23, @M24 as m24
*/
-- **************************************************  PRODUCAO GLOBAL  RPT 1, 2, 3
--  QUEBRAS
-- ******************************************************************** PV  4
DECLARE @query VARCHAR(max)
--	DESCR 1 E 2
--	cart, ordem, prod, 
-- LIMPA ANTERIOR
TRUNCATE TABLE   AUX_CML_PROD_MES

	SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, VLR_PRESENTE	FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (VLR_PRESENTE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

--   5
--	select  @query
EXEC (@query)

--  SELECT * FROM  CML_PRODUCAO_ANALISE
--  SELECT * FROM AUX_CML_PROD_MES
--  SELECT SUM (VLR_PRESENTE) FROM COMERCIAL_PRODUCAO (NOLOCK)
-- SP_HELP CML_PRODUCAO_ANALISE
-- SP_HELP AUX_CML_PROD_MES
-- 6
	INSERT CML_PRODUCAO_ANALISE
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			CASE	 WHEN PRODUTO='D' 	THEN 11
					 WHEN PRODUTO='CG'	THEN 21 
					 WHEN PRODUTO='CP'	THEN 31 
					 WHEN PRODUTO='V' 	THEN 41 
					 WHEN PRODUTO='R' 	THEN 51 
					 END ,	-- ORDEM
			PRODUTO,	
			CASE	 WHEN PRODUTO='D'	THEN  'DESCONTO'
					 WHEN PRODUTO='CG'	THEN  'CAPITAL DE GIRO' 
					 WHEN PRODUTO='CP'	THEN  'CREDITO PESSOAL' 
					 WHEN PRODUTO='V' 	THEN  'VEICULO' 
					 WHEN PRODUTO='R' 	THEN  'RENEGOCIAÇÃO' 
					 END ,	-- DESCR1
			'PV' ,	-- DESCR2

			--0.0, -- media_3a
			M14, 
			M13		,
			M12		,
			M11		,
			M10		,

			M9		,
			M8		,
			M7		,
			M6		,

			M5		,
			M4		,
			M3		,
			M2		,
			M1		,
			--0.0, 0.0, 0.0, 0.0, 0.0,
			''		-- COR_LINHA
					
FROM		AUX_CML_PROD_MES	(NOLOCK)



-- ************************************************************* VF  7
	--  DECLARE @query VARCHAR(max)
	-- DESCR 1 E 2
	-- cart, ordem, prod, 
	-- limpa para o proximo VF
		TRUNCATE TABLE   AUX_CML_PROD_MES
		SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
						 ' FROM (SELECT DT_FECHA,PRODUTO, VLR_FUTURO	FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ) P '+
						 ' PIVOT( SUM (VLR_FUTURO) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	EXEC (@query)

	--  SELECT * FROM  CML_PRODUCAO_ANALISE
	--  SELECT * FROM AUX_CML_PROD_MES
	--  9  **************
	INSERT CML_PRODUCAO_ANALISE
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			CASE	 WHEN PRODUTO='D' 	THEN 12 
					 WHEN PRODUTO='CG'	THEN 22 
					 WHEN PRODUTO='CP'	THEN 32
					 WHEN PRODUTO='V' 	THEN 42 
					 WHEN PRODUTO='R' 	THEN 52 
					 END ,	-- ORDEM
			PRODUTO,	
			CASE	 WHEN PRODUTO='D'	THEN  'DESCONTO'
					 WHEN PRODUTO='CG'	THEN  'CAPITAL DE GIRO' 
					 WHEN PRODUTO='CP'	THEN  'CREDITO PESSOAL' 
					 WHEN PRODUTO='V' 	THEN  'VEICULO' 
					 WHEN PRODUTO='R' 	THEN  'RENEGOCIAÇÃO' 
					 END ,	-- DESCR1
			'FV' ,	-- DESCR2

			--0.0, -- media_3a
			M14, 
			M13		,
			M12		,
			M11		,
			M10		,

			M9		,
			M8		,
			M7		,
			M6		,

			M5		,
			M4		,
			M3		,
			M2		,
			M1		,
			--0.0, 0.0, 0.0, 0.0, 0.0,
			''		-- COR_LINHA
					
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- SP_HELP CML_PRODUCAO_ANALISE
-- SP_HELP AUX_CML_PROD_MES
-- SP_HELP COMERCIAL_PRODUCAO

-- ************************************************************* VARIACAO %  10 e 11
	--  DECLARE @query VARCHAR(max)
	-- DESCR 1 E 2
	-- cart, ordem, prod, 
	-- limpa para o proximo VF
		TRUNCATE TABLE   AUX_CML_PROD_MES
		SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
						 ' FROM (SELECT DT_FECHA,PRODUTO, VARIACAO	FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ) P '+
						 ' PIVOT( MAX (VARIACAO) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	EXEC (@query)

	--  SELECT * FROM  CML_PRODUCAO_ANALISE
	--  SELECT * FROM AUX_CML_PROD_MES
	-- 12  **************
	INSERT CML_PRODUCAO_ANALISE
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			CASE	 WHEN PRODUTO='D' 	THEN 14 
					 WHEN PRODUTO='CG'	THEN 24 
					 WHEN PRODUTO='CP'	THEN 34
					 WHEN PRODUTO='V' 	THEN 44 
					 WHEN PRODUTO='R' 	THEN 54 
					 END ,	-- ORDEM
			PRODUTO,	
			CASE	 WHEN PRODUTO='D'	THEN  'DESCONTO'
					 WHEN PRODUTO='CG'	THEN  'CAPITAL DE GIRO' 
					 WHEN PRODUTO='CP'	THEN  'CREDITO PESSOAL' 
					 WHEN PRODUTO='V' 	THEN  'VEICULO' 
					 WHEN PRODUTO='R' 	THEN  'RENEGOCIAÇÃO' 
					 END ,	-- DESCR1
			'VARIACAO' ,	-- DESCR2

			--0.0, -- media_3a
			M14		, 
			M13		,
			M12		,
			M11		,
			M10		,

			M9		,
			M8		,
			M7		,
			M6		,

			M5		,
			M4		,
			M3		,
			M2		,
			M1		,
			-- 0.0, 0.0, 0.0, 0.0, 0.0,
			''		-- COR_LINHA
					
FROM		AUX_CML_PROD_MES	(NOLOCK)

-- ************************************************************* RECEITA 13 e 14
	--  DECLARE @query VARCHAR(max)
	-- DESCR 1 E 2
	-- cart, ordem, prod, 
	-- limpa para o proximo VF
		TRUNCATE TABLE   AUX_CML_PROD_MES
		SET		@query = ' INSERT	AUX_CML_PROD_MES  SELECT * '+					
						 ' FROM (SELECT DT_FECHA,PRODUTO, VLR_RECEITA	FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ) P '+
						 ' PIVOT( MAX (VLR_RECEITA) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	EXEC (@query)

	--  SELECT * FROM  CML_PRODUCAO_ANALISE
	--  SELECT * FROM AUX_CML_PROD_MES
	--  15  **************
	INSERT CML_PRODUCAO_ANALISE
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			CASE	 WHEN PRODUTO='D' 	THEN 14 
					 WHEN PRODUTO='CG'	THEN 24 
					 WHEN PRODUTO='CP'	THEN 34
					 WHEN PRODUTO='V' 	THEN 44 
					 WHEN PRODUTO='R' 	THEN 54 
					 END ,	-- ORDEM
			PRODUTO,	
			CASE	 WHEN PRODUTO='D'	THEN  'DESCONTO'
					 WHEN PRODUTO='CG'	THEN  'CAPITAL DE GIRO' 
					 WHEN PRODUTO='CP'	THEN  'CREDITO PESSOAL' 
					 WHEN PRODUTO='V' 	THEN  'VEICULO' 
					 WHEN PRODUTO='R' 	THEN  'RENEGOCIAÇÃO' 
					 END ,	-- DESCR1
			'RECEITA' ,	-- DESCR2

			--  0.0, -- media_3a
			M14		, 
			M13		,
			M12		,
			M11		,
			M10		,

			M9		,
			M8		,
			M7		,
			M6		,

			M5		,
			M4		,
			M3		,
			M2		,
			M1		,
			--  0.0, 0.0, 0.0, 0.0, 0.0,
			''		-- COR_LINHA
					
FROM		AUX_CML_PROD_MES	(NOLOCK)

/*
-- ******************************************************************** receita
--  DECLARE @query VARCHAR(max)
--	DESCR 1 E 2
--	cart, ordem, prod, 
--   10  *********

--  SELECT * FROM  CML_PRODUCAO_ANALISE
--  SELECT * FROM AUX_CML_PROD_MES
--  SELECT SUM (VLR_PRESENTE) FROM COMERCIAL_PRODUCAO (NOLOCK)
-- SP_HELP CML_PRODUCAO_ANALISE
-- SP_HELP AUX_CML_PROD_MES
	DELETE AUX_CML_PROD_MES
	INSERT CML_PRODUCAO_ANALISE
		SELECT DISTINCT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			1,			1,		-- RPT, CART
			CASE	 WHEN FV.PRODUTO='D' 	THEN 13
					 WHEN FV.PRODUTO='CG'	THEN 23 
					 WHEN FV.PRODUTO='CP'	THEN 33
					 WHEN FV.PRODUTO='V' 	THEN 43 
					 WHEN FV.PRODUTO='R' 	THEN 53 
					 END ,	-- ORDEM
			FV.PRODUTO,	
			CASE	 WHEN FV.PRODUTO='D'	THEN  'DESCONTO'
					 WHEN FV.PRODUTO='CG'	THEN  'CAPITAL DE GIRO' 
					 WHEN FV.PRODUTO='CP'	THEN  'CREDITO PESSOAL' 
					 WHEN FV.PRODUTO='V' 	THEN  'VEICULO' 
					 WHEN FV.PRODUTO='R' 	THEN  'RENEGOCIAÇÃO' 
					 END ,	-- DESCR1
			'Receita' ,	-- DESCR2

			FV.MEDIA_3A - PV.MEDIA_3A , -- media_3a
			FV.MES_1A_2A - PV.MES_1A_2A,
			FV.MES_ATUAL_2A - PV.MES_ATUAL_2A,
			FV.MES_3M_2A - PV.MES_3M_2A,
			FV.MES_6M_2A - PV.MES_6M_2A,

			FV.MEDIA_3A - PV.MEDIA_3A,  -- MEDIA 2A
			FV.MES_1A_1A - PV.MES_1A_1A,
			FV.MES_ATUAL_1A - PV.MES_ATUAL_1A,
			FV.MES_3M_1A - PV.MES_3M_1A,
			FV.MES_6M_1A - PV.MES_6M_1A,

			FV.MEDIA_1A - PV.MEDIA_1A ,	-- MEDIA 1A
			FV.MES_3A_ANO_ATUAL - PV.MES_3A_ANO_ATUAL,
			FV.MES_2A_ANO_ATUAL - PV.MES_2A_ANO_ATUAL,
			FV.MES_1A_ANO_ATUAL - PV.MES_1A_ANO_ATUAL,
			FV.MES_ATUAL - PV.MES_ATUAL,

			FV.MEDIA_ATUAL - PV.MEDIA_ATUAL ,	-- MEDIA_ATUAL
			0.0,	-- VAR_MEDIA_ATUAL_1A
			0.0,	-- VAR_MEDIA_MES_ATUAL_M1A
			0.0,	-- VAR_MEDIA_MES_FIM1A
			0.0,	-- VAR_MEDIA_MES_ATUAL_1A
			''		-- COR_LINHA
					
FROM		( SELECT * FROM CML_PRODUCAO_ANALISE	(NOLOCK) 
				WHERE	DT_FECHA = @data_ref
					AND DESCR2= 'FV'
					AND	RPT = 1 AND CARTEIRA=1 ) AS FV

JOIN		( SELECT * FROM CML_PRODUCAO_ANALISE	(NOLOCK) 
				WHERE	DT_FECHA = @data_ref
					AND DESCR2= 'PV'
					AND	RPT = 1 AND CARTEIRA=1 ) AS PV

	ON		FV.PRODUTO = PV.PRODUTO


*/

-- ******************************************************************** PROD GLOBAL  ****   CDC = V+R  ANTES CG+CP
--  SELECT * FROM  CML_PRODUCAO_ANALISE
--  SELECT * FROM AUX_CML_PROD_MES
--  SELECT SUM (VLR_PRESENTE) FROM COMERCIAL_PRODUCAO (NOLOCK)
-- SP_HELP CML_PRODUCAO_ANALISE
-- SP_HELP AUX_CML_PROD_MES
-- 16 
	INSERT CML_PRODUCAO_ANALISE
		SELECT DISTINCT
			@data_ref,	-- DT
			1,			1,		-- RPT, CART
			--		63 ,	-- ORDEM
			CASE WHEN DESCR2='PV'			THEN 61
				 WHEN DESCR2='FV'			THEN 62
				 WHEN DESCR2='Receita'		THEN 63
				 WHEN DESCR2='VARIAÇÃO (%)' THEN 64
			END,

			'CDC',	
			'CDC' ,	-- DESCR1
			DESCR2 ,	-- DESCR2

/*			SUM(MEDIA_3A) , -- media_3a
			SUM(MES_1A_2A) ,
			SUM(MES_ATUAL_2A),
			SUM(MES_3M_2A) ,
			SUM(MES_6M_2A) ,

			SUM(MEDIA_2A),  -- MEDIA 2A
			SUM(MES_1A_1A) ,
			SUM(MES_ATUAL_1A),
			SUM(MES_3M_1A) ,
			SUM(MES_6M_1A) ,

			SUM(MEDIA_1A),	-- MEDIA 1A
			SUM(MES_3A_ANO_ATUAL),
			SUM(MES_2A_ANO_ATUAL),
			SUM(MES_1A_ANO_ATUAL),
			SUM(MES_ATUAL),

			SUM(MEDIA_ATUAL) ,	-- MEDIA_ATUAL
			0.0,	-- VAR_MEDIA_ATUAL_1A
			0.0,	-- VAR_MEDIA_MES_ATUAL_M1A
			0.0,	-- VAR_MEDIA_MES_FIM1A
			0.0,	-- VAR_MEDIA_MES_ATUAL_1A
*/
			SUM(M14)		, 
			SUM(M13)		,
			SUM(M12)		,
			SUM(M11)		,
			SUM(M10)		,

			SUM(M9)		,
			SUM(M8)		,
			SUM(M7)		,
			SUM(M6)		,

			SUM(M5)		,
			SUM(M4)		,
			SUM(M3)		,
			SUM(M2)		,
			SUM(M1)		,

			''		-- COR_LINHA
					
FROM		( SELECT 	* FROM CML_PRODUCAO_ANALISE	(NOLOCK) 
				WHERE	DT_FECHA = @data_ref
					AND DESCR2 IN ('PV','FV','RECEITA') AND	RPT = 1 AND CARTEIRA=1 AND PRODUTO IN ('V','R') ) AS REC
GROUP BY DESCR2


-- 'CP','CG',  SOMA CDC: VEIC+ RENEG
-- ******************************************************************** PROD GLOBAL  ****    TTL CDC = CDC + D
-- 17
	INSERT CML_PRODUCAO_ANALISE
		SELECT DISTINCT
			@data_ref,	-- DT
			1,			1,		-- RPT, CART
			--		73 ,	-- ORDEM
			CASE WHEN DESCR2='PV'			THEN 71
				 WHEN DESCR2='FV'			THEN 72
				 WHEN DESCR2='Receita'		THEN 73
				 WHEN DESCR2='VARIAÇÃO (%)' THEN 74
			END,

			'T',	-- PROD
			'CDC+DESCONTO' ,	-- DESCR1
			DESCR2 ,	-- DESCR2
			SUM(M14)		, 
			SUM(M13)		,
			SUM(M12)		,
			SUM(M11)		,
			SUM(M10)		,

			SUM(M9)		,
			SUM(M8)		,
			SUM(M7)		,
			SUM(M6)		,

			SUM(M5)		,
			SUM(M4)		,
			SUM(M3)		,
			SUM(M2)		,
			SUM(M1)		,

/*			SUM(MEDIA_3A) , -- media_3a
			SUM(MES_1A_2A) ,
			SUM(MES_ATUAL_2A),
			SUM(MES_3M_2A) ,
			SUM(MES_6M_2A) ,

			SUM(MEDIA_2A),  -- MEDIA 2A
			SUM(MES_1A_1A) ,
			SUM(MES_ATUAL_1A),
			SUM(MES_3M_1A) ,
			SUM(MES_6M_1A) ,

			SUM(MEDIA_1A),	-- MEDIA 1A
			SUM(MES_3A_ANO_ATUAL),
			SUM(MES_2A_ANO_ATUAL),
			SUM(MES_1A_ANO_ATUAL),
			SUM(MES_ATUAL),

			SUM(MEDIA_ATUAL) ,	-- MEDIA_ATUAL
			0.0,	-- VAR_MEDIA_ATUAL_1A
			0.0,	-- VAR_MEDIA_MES_ATUAL_M1A
			0.0,	-- VAR_MEDIA_MES_FIM1A
			0.0,	-- VAR_MEDIA_MES_ATUAL_1A
*/
			''		-- COR_LINHA
					
FROM		( SELECT 	* FROM CML_PRODUCAO_ANALISE	(NOLOCK) 
				WHERE	DT_FECHA = @data_ref
					AND DESCR2 IN ('PV','FV','RECEITA') AND	RPT = 1 AND CARTEIRA=1 AND PRODUTO IN ('CDC','D') ) AS REC
GROUP BY DESCR2

-- ******************************************************************** PROD GLOBAL  ****  VARIACAO MES 18
--  SELECT * FROM  CML_PRODUCAO_ANALISE
	INSERT CML_PRODUCAO_ANALISE
		SELECT DISTINCT
			@data_ref,	-- DT
			1,			1,		-- RPT, CART
			--		63 ,	-- ORDEM
			CASE WHEN REC.PRODUTO='CDC' THEN 65 ELSE 200 END,

			PRODUTO,	
			PRODUTO ,	-- DESCR1
			'VARIACAO' ,	-- DESCR2

			0.0,		-- M14
			CASE WHEN REC.M14=0.0 THEN 0.0 ELSE (REC.M13/REC.M14-1.0)*100.0	END	,
			CASE WHEN REC.M13=0.0 THEN 0.0 ELSE (REC.M12/REC.M13-1.0)*100.0	END	,
			CASE WHEN REC.M12=0.0 THEN 0.0 ELSE (REC.M11/REC.M12-1.0)*100.0	END	,
			CASE WHEN REC.M11=0.0 THEN 0.0 ELSE (REC.M10/REC.M11-1.0)*100.0	END	,
			CASE WHEN REC.M10=0.0 THEN 0.0 ELSE (REC.M9/REC.M10-1.0)*100.0	END	,
			CASE WHEN REC.M9=0.0 THEN 0.0 ELSE (REC.M8/REC.M9-1.0)*100.0	END	,
			CASE WHEN REC.M8=0.0 THEN 0.0 ELSE (REC.M7/REC.M8-1.0)*100.0	END	,
			CASE WHEN REC.M7=0.0 THEN 0.0 ELSE (REC.M6/REC.M7-1.0)*100.0	END	,
			CASE WHEN REC.M6=0.0 THEN 0.0 ELSE (REC.M5/REC.M6-1.0)*100.0	END	,
			CASE WHEN REC.M5=0.0 THEN 0.0 ELSE (REC.M4/REC.M5-1.0)*100.0	END	,

			CASE WHEN REC.M4=0.0 THEN 0.0 ELSE (REC.M3/REC.M4-1.0)*100.0	END	,
			CASE WHEN REC.M3=0.0 THEN 0.0 ELSE (REC.M2/REC.M3-1.0)*100.0	END	,
			CASE WHEN REC.M2=0.0 THEN 0.0 ELSE (REC.M1/REC.M2-1.0)*100.0 	END	,

			''		-- COR_LINHA
					
FROM		( SELECT 	* FROM CML_PRODUCAO_ANALISE	(NOLOCK) 
				WHERE	DT_FECHA = @data_ref
					AND DESCR2 IN ('RECEITA') AND	RPT = 1 AND CARTEIRA=1 AND PRODUTO IN ('CDC','T') ) AS REC
-- ******************************************************************** VARIACAO MENSAL RPT 1 fim


-- **************************************************  PRODUCAO GLOBAL  RPT 1 CART 1 ***************  FIM  *************************

/*

SP_HELP CML_PRODUCAO_ANALISE
SELECT * FROM #TEMP_PVT

SELECT * FROM AUX_CML_PROD_MES


DECLARE @columns VARCHAR(200)
SET @columns = '['+CONVERT(VARCHAR(8),'20140430',112)+']'
SET @columns = @columns + ',[' + CONVERT(VARCHAR(8),'20140531',112)  + ']'
SELECT  @columns

DECLARE @query VARCHAR(2000)
SET @query = 'SELECT *
FROM (SELECT DT_FECHA,PRODUTO, ''TESTE'' AS DESCR, VLR_FUTURO	FROM COMERCIAL_PRODUCAO) P
PIVOT( SUM (VLR_FUTURO) FOR DT_FECHA IN ('+ @columns + ')) AS PVT'
--[20140430] ,[20140531],[20140630])  ) AS PVT
             
SELECT @query
EXEC (@query)

--
SELECT PRODUTO, [20140430] AS D1 ,[20140531] AS D2,[20140630] AS D3
SELECT *
FROM (SELECT DT_FECHA,PRODUTO, VLR_FUTURO	FROM COMERCIAL_PRODUCAO) P
PIVOT( SUM (VLR_FUTURO) FOR DT_FECHA IN ([20140430] ,[20140531],[20140630])
) AS PVT


SELECT * FROM COMERCIAL_PRODUCAO

SELECT * FROM		CDCSANTANAMicroCredito..COPER O
SELECT * FROM		CDCSANTANAMicroCredito..TMODA P (NOLOCK)
SELECT * FROM		CDCSANTANAMicroCredito..TPROD P (NOLOCK)
	WHERE	DT_FECHA=@DTREF
			AND	CODPROD = CONVERT(INT,P.TPCODPRD)

SELECT *
FROM (SELECT DT_FECHA,PRODUTO,'prodUÇÃO' as descr2, VLR_Op	FROM COMERCIAL_PRODUCAO) P
PIVOT( SUM (VLR_Op) FOR DT_FECHA IN ([20140430] ,[20140531],[20140630])
) AS PVT

SELECT * FROM SPREAD_HISTORICO
SELECT * FROM COMERCIAL_PRODUCAO
8
*/


-- *************************************************************  PROD RPT 3  
-- ************************************************************* 
--			 PROD RPT 3
-- ************************************************************* 
-- *************************************************************		PRODUCAO
--   36  *********
	TRUNCATE TABLE   AUX_CML_PROD_MES2

	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Produção (PV)'' as descr2, VLR_PRESENTE	FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ) P '+
					 ' PIVOT( MAX (VLR_PRESENTE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	SELECT (@query)
	EXEC (@query)


-- *************************************************************	VARIACAO	PRODUCAO
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Variação'' as descr2, VAR_PROD	FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ) P '+
					 ' PIVOT( MAX (VAR_PROD) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	--   XX  *********
	EXEC (@query)


	--  SELECT * FROM  COMERCIAL_PRODUCAO
	--  SELECT * FROM  CML_PRODUCAO_ANALISE
	--  SELECT * FROM AUX_CML_PROD_MES2
--					 ' PIVOT( COUNT (VLR_OP) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

-- *************************************************************		QTDE

	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Qtde contratos'' as descr2, QTDE	FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM(QTDE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	--   select @query
	EXEC (@query)

-- *************************************************************		ticket médio  
--					 ' PIVOT( AVG (VLR_OP) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
--  SUM (VLR_OP)/SUM(QTDE)
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Tkt Médio (líquida)'' as descr2, TKT_MEDIO	FROM COMERCIAL_PRODUCAO_MES (NOLOCK)  ) P '+
					 ' PIVOT(  AVG(TKT_MEDIO) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)
/*
-- *************************************************************		producao (liquida)
	-- ULTIMOS 4 MESES
	IF DATEPART(MM,@data_ref) >=4    
	BEGIN
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Produção (líquida)'' as descr2, VLR_OP '+
					 '		   FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (VLR_OP) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	END
	-- SEM OS ULTIMOS 4 MESES
	IF DATEPART(MM,@data_ref) = 3   -- MAR   
	BEGIN
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT *  , 0.0 '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Produção (líquida)'' as descr2, VLR_OP '+
					 '		   FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (VLR_OP) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	END
	IF DATEPART(MM,@data_ref) = 2   -- FEV
	BEGIN
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT *  , 0.0 , 0.0 '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Produção (líquida)'' as descr2, VLR_OP '+
					 '		   FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (VLR_OP) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	END
	IF DATEPART(MM,@data_ref) = 1   -- JAN
	BEGIN
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT *  , 0.0 , 0.0 , 0.0 '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Produção (líquida)'' as descr2, VLR_OP '+
					 '		   FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ) P '+
					 ' PIVOT( SUM (VLR_OP) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	END

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)
*/

--12
-- *************************************************************		PLANO MÉDIO
-- ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) / 30.0, 0)	 no Operacoes Realiz
-- SELECT * FROM COMERCIAL_PRODUCAO
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT		 DT_FECHA,PRODUTO, ''Plano Médio'' as descr2, PLANO_MEDIO	'+
					 '				FROM COMERCIAL_PRODUCAO_MES (NOLOCK)	 ) P '+
					 ' PIVOT( AVG (PLANO_MEDIO)  FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

/* antigo *********** antes de 14/3/16
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT		 DT_FECHA,PRODUTO, ''Plano Médio'' as descr2, PLANO_MEDIO	'+
					 '				FROM COMERCIAL_PRODUCAO_MES (NOLOCK)	 ) P '+
					 ' PIVOT( AVG (PLANO_MEDIO) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
*/
-- *************************************************************		PRAZO MÉDIO
-- SELECT * FROM COMERCIAL_PRODUCAO
-- SELECT * FROM COMERCIAL_PRODUCAO_MES
	-- ULTIMOS 4 MESES
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT		 DT_FECHA,PRODUTO, ''Prazo Médio'' as descr2, PRAZO	'+
					 '				FROM COMERCIAL_PRODUCAO_MES (NOLOCK)	 ) P '+
					 ' PIVOT( AVG (PRAZO) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		QTDE CLIENTES
-- SELECT * FROM COMERCIAL_PRODUCAO
-- SELECT * FROM COMERCIAL_PRODUCAO_MES
	-- ULTIMOS 4 MESES
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT		 DT_FECHA,PRODUTO, ''Qtde Clientes'' as descr2, QTDE_CLI	'+
					 '				FROM COMERCIAL_PRODUCAO_MES (NOLOCK)	 ) P '+
					 ' PIVOT( AVG (QTDE_CLI) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		VLR TARIFA
-- SELECT * FROM COMERCIAL_PRODUCAO
-- SELECT * FROM COMERCIAL_PRODUCAO_MES
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT		 DT_FECHA,PRODUTO, ''Tarifa'' as descr2, VLR_TARIFA	'+
					 '				FROM COMERCIAL_PRODUCAO_MES (NOLOCK)	 ) P '+
					 ' PIVOT( SUM (VLR_TARIFA) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)


-- *************************************************************		TAXA MÉDIA
-- SELECT * FROM COMERCIAL_PRODUCAO
-- SELECT * FROM COMERCIAL_PRODUCAO_MES
	-- ULTIMOS 4 MESES
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''TAXA Média'' as descr2, TAXA_MEDIA ' +
					 '				FROM COMERCIAL_PRODUCAO_MES (NOLOCK)	 ) P '+
					 ' PIVOT( AVG (TAXA_MEDIA) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		TAXA MÉDIA
-- SELECT * FROM COMERCIAL_PRODUCAO
-- SELECT * FROM COMERCIAL_PRODUCAO_MES
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Tkt Médio'' as descr2, TKT_MEDIO ' +
					 '				FROM COMERCIAL_PRODUCAO_MES (NOLOCK)	 ) P '+
					 ' PIVOT( AVG (TKT_MEDIO) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		TC só CG e DESC
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''TC'' as descr2, VLR_TC	FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ' +
					 ' WHERE PRODUTO IN (''CG'',''D'') ) P '+
					 ' PIVOT( SUM (VLR_TC) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		QTDE LJ SÓ VEIC
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Qtde Loja'' as descr2, QTDE_LJ   FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ' +
					 ' WHERE LEFT(PRODUTO,1) = ''V'' ) P '+
					 ' PIVOT( SUM (QTDE_LJ) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		MEDIA LJ só VEIC E DESC
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Média por Loja'' as descr2, MEDIA_LJ   FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ' +
					 ' WHERE LEFT(PRODUTO,1) IN ( ''V'' ,''D'' )) AS  P '+
					 ' PIVOT( SUM (MEDIA_LJ) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	--	insere no auxiliar a pivot de qtde
	--	SELECT @query
	EXEC (@query)

	-- ALTERA DESCRICAO
	UPDATE	AUX_CML_PROD_MES2
	SET		DESCR2 = 'Média por Cliente'
	WHERE	DESCR2 = 'Média por Loja'
		AND PRODUTO ='D'	

-- *************************************************************		QTDE CLIENTES SÓ DESC
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''CARTEIRA - Qtde Clientes'' as descr2, QTDE_CLIENTE   FROM COMERCIAL_CARTEIRA_MES (NOLOCK) ' +
					 ' WHERE PRODUTO = ''D'' ) P '+
					 ' PIVOT( SUM (QTDE_CLIENTE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		PRODUCAO LIQ SÓ VEIC
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Produção Líquida'' as descr2, PRODUCAO_LIQ   FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ' +
					 ' WHERE LEFT(PRODUTO,1) = ''V'' ) P '+
					 ' PIVOT( SUM (PRODUCAO_LIQ) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		TKT medio LIQ SÓ VEIC
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Tkt médio Líquida'' as descr2, TKT_MEDIO_LIQ   FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ' +
					 ' WHERE LEFT(PRODUTO,1) = ''V'' ) P '+
					 ' PIVOT( SUM (TKT_MEDIO_LIQ) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		ANO MEDIO SÓ VEIC
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Ano Médio'' as descr2, ANO_MEDIO   FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ' +
					 ' WHERE LEFT(PRODUTO,1) = ''V'' ) P '+
					 ' PIVOT( SUM (ANO_MEDIO) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		VALOR FIPE MEDIO SÓ VEIC
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Valor Médio Fipe'' as descr2, VLR_FIPE   FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ' +
					 ' WHERE LEFT(PRODUTO,1) = ''V''  ) P '+
					 ' PIVOT( SUM (VLR_FIPE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		SCORE MEDIO SÓ VEIC
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Score Médio'' as descr2, SCORE   FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ' +
					 ' WHERE LEFT(PRODUTO,1) = ''V''  ) P '+
					 ' PIVOT( SUM (SCORE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		VLR CARTEIRA NA PRODUCAO MENSAL  ******
-- *************************************************************		VLR CARTEIRA NA PRODUCAO MENSAL  ******
-- SELECT * FROM COMERCIAL_CARTEIRA_MES
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT		 DT_FECHA,PRODUTO, ''CARTEIRA - PV'' as descr2, VLR_PRESENTE	'+
					 '				FROM COMERCIAL_CARTEIRA_MES (NOLOCK)	 ) P '+
					 ' PIVOT( SUM (VLR_PRESENTE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		VLR CARTEIRA R75  NA PRODUCAO MENSAL VEIC ******
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT		 DT_FECHA,''V'' AS PRODUTO, ''CARTEIRA RENEG - PV'' as descr2, VLR_PRESENTE	'+
					 '				FROM COMERCIAL_CARTEIRA_MES (NOLOCK)	WHERE PRODUTO =''R75'' ) P '+
					 ' PIVOT( SUM (VLR_PRESENTE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)


-- *************************************************************		QTDE  CARTEIRA NA PRODUCAO MENSAL  ******
-- SELECT * FROM COMERCIAL_CARTEIRA_MES
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT		 DT_FECHA,PRODUTO, ''CARTEIRA - QTDE'' as descr2, QTDE	'+
					 '				FROM COMERCIAL_CARTEIRA_MES (NOLOCK)	 ) P '+
					 ' PIVOT( SUM (QTDE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		QTDE CARTEIRA R75  NA PRODUCAO MENSAL VEIC ******
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT		 DT_FECHA,''V'' AS PRODUTO, ''CARTEIRA - QTDE RENEG'' as descr2, QTDE	'+
					 '				FROM COMERCIAL_CARTEIRA_MES (NOLOCK)	WHERE PRODUTO =''R75'' ) P '+
					 ' PIVOT( SUM (QTDE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		QTDE_CLIENTE  CARTEIRA NA PRODUCAO MENSAL  ******
-- SELECT * FROM COMERCIAL_CARTEIRA_MES
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT		 DT_FECHA,PRODUTO, ''CARTEIRA - Qtde cliente'' as descr2, QTDE_CLIENTE	'+
					 '				FROM COMERCIAL_CARTEIRA_MES (NOLOCK)	 ) P '+
					 ' PIVOT( SUM (QTDE_CLIENTE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		QTDE  CARTEIRA NA PRODUCAO MENSAL  ******
-- SELECT * FROM COMERCIAL_CARTEIRA_MES
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT		 DT_FECHA,PRODUTO, ''CARTEIRA - QTDE LJ'' as descr2, QTD_LOJAS	'+
					 '				FROM COMERCIAL_CARTEIRA_MES (NOLOCK)	 ) P '+
					 ' PIVOT( SUM (QTD_LOJAS) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	-- insere no auxiliar a pivot de qtde
	EXEC (@query)



-- *************************************************************		TKT MEDIO  CARTEIRA NA PRODUCAO MENSAL  ******
-- SELECT * FROM COMERCIAL_CARTEIRA_MES
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT		 DT_FECHA,PRODUTO, ''CARTEIRA - TKT MÉDIO'' as descr2, TKT_MEDIO_PV	'+
					 '				FROM COMERCIAL_CARTEIRA_MES (NOLOCK)	 ) P '+
					 ' PIVOT( SUM (TKT_MEDIO_PV) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)

-- *************************************************************		 MEDIA CLIENTE  CARTEIRA NA PRODUCAO MENSAL  ******
-- SELECT * FROM COMERCIAL_CARTEIRA_MES
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT		 DT_FECHA,PRODUTO, ''CARTEIRA - MÉDIA CLIENTE'' as descr2, MEDIA_CLIENTE	'+
					 '				FROM COMERCIAL_CARTEIRA_MES (NOLOCK)	 ) P '+
					 ' PIVOT( SUM (MEDIA_CLIENTE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de qtde
	EXEC (@query)



-- *************************************************************		PRODUCAO
--   VL,VM,VU,VR *********
/*	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,''V''+LEFT(VEICULO,1) AS PRODUTO, ''Produção (PV)'' as descr2, VLR_PRESENTE	FROM COMERCIAL_PRODUCAO_MES (NOLOCK)  WHERE PRODUTO=''V'' AND VEICULO<> ''RENEGOCIACAO'') P '+
					 ' PIVOT( MAX (VLR_PRESENTE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	EXEC (@query)

-- *************************************************************	VARIACAO	PRODUCAO
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''Variação'' as descr2, VAR_PROD	FROM COMERCIAL_PRODUCAO_MES (NOLOCK) ) P '+
					 ' PIVOT( MAX (VAR_PROD) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	EXEC (@query)
*/




-- *************************************************************	TRANSFERE O AUX PARA O ARQ DE RELATORIO

	INSERT CML_PRODUCAO_ANALISE
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			3,			3,		-- RPT 3 PROD MES, CART  3 PROD MENSAL PRODUTO
			
			CASE	 WHEN P.DESCR2='Produção (PV)' 	THEN 10
					 WHEN P.DESCR2='Variação'		THEN 15
					 WHEN P.DESCR2='Qtde Contratos'	THEN 20 
					 WHEN P.DESCR2='Tkt Médio'		THEN 30 

					 WHEN P.DESCR2='Qtde Loja'		THEN 31 
					 WHEN P.DESCR2='Qtde Clientes'	THEN 32 

					 WHEN P.DESCR2='Qtde lojas prod.'			 THEN 40
					 WHEN P.DESCR2='Média por Loja'				 THEN 50
					 WHEN P.DESCR2='Média por Cliente'				 THEN 51
					 WHEN P.DESCR2='Tarifa'						 THEN 53
					 WHEN P.DESCR2='TC'							 THEN 55
					 WHEN P.DESCR2='Produção Líquida' 			 THEN 90
					 WHEN P.DESCR2='Tkt médio Líquida' 		 THEN 100
					 WHEN P.DESCR2='Plano Médio'				 THEN 110
					 WHEN P.DESCR2='Prazo Médio'				 THEN 115


					 WHEN P.DESCR2='TAXA Média'					 THEN 120
					 WHEN P.DESCR2='Ano Médio'					 THEN 130
					 WHEN P.DESCR2='Valor Médio Fipe'			 THEN 140
					 WHEN P.DESCR2='Score Médio'			 THEN 150

					 WHEN P.DESCR2='CARTEIRA - PV'				 THEN 200
					 WHEN P.DESCR2='CARTEIRA - QTDE'			 THEN 210
					 WHEN P.DESCR2='CARTEIRA - TKT MÉDIO'		 THEN 220
					 WHEN P.DESCR2='CARTEIRA - Qtde cliente'	 THEN 230
					 WHEN P.DESCR2='CARTEIRA - Média cliente'	 THEN 240
					 WHEN P.DESCR2='CARTEIRA - QTDE LJ'			 THEN 250

					 END ,	-- ORDEM
			P.PRODUTO,	
			CASE	 WHEN P.PRODUTO='D'		THEN  'DESCONTO'
					 WHEN P.PRODUTO='CG'	THEN  'CAPITAL DE GIRO' 
					 WHEN P.PRODUTO='CP'	THEN  'CREDITO PESSOAL' 
					 WHEN P.PRODUTO='V' 	THEN  'VEICULO' 
					 WHEN P.PRODUTO='R' 	THEN  'RENEGOCIAÇÃO' 
					 WHEN P.PRODUTO='R75' 	THEN  'RENEGOCIAÇÃO' 
					 WHEN P.PRODUTO='R86' 	THEN  'RENEGOCIAÇÃO' 
					 END ,	-- DESCR1
			P.DESCR2,		-- DESCR2

--			0.0, -- media_3a
			M14		, 
			M13		,
			M12		,
			M11		,
			M10		,

			M9		,
			M8		,
			M7		,
			M6		,

			M5		,
			M4		,
			M3		,
			M2		,
			M1		,
			--		0.0, 0.0, 0.0, 0.0, 0.0,
			''		-- COR_LINHA
					
FROM		AUX_CML_PROD_MES2	P (NOLOCK) 



/*

SP_HELP CML_PRODUCAO_ANALISE

CREATE TABLE AUX_CML_PROD_MEDIA (
PRODUTO		VARCHAR(2), 
DESCR2		VARCHAR(100), 
MEDIA_3A	FLOAT,
MEDIA_2A	FLOAT,
MEDIA_1A	FLOAT,
MEDIA_ATUAL	FLOAT		)

PIVOT DA MEDIA DO ANO 4 ANOS
 SELECT *  FROM (SELECT DATEPART(YY,DT_FECHA) AS ANO,PRODUTO, VLR_PRESENTE FROM COMERCIAL_PRODUCAO (NOLOCK) ) P 
 PIVOT( SUM (VLR_PRESENTE) FOR ANO IN ([2014],[2013],[2012]) ) AS PVT

TTL MENSAL
SELECT DATEPART(YY,DT_FECHA) AS ANO,PRODUTO, AVG(VLR) FROM (
SELECT DT_FECHA,PRODUTO,SUM (VLR_PRESENTE) AS VLR FROM COMERCIAL_PRODUCAO (NOLOCK)  P 
GROUP BY DT_FECHA,PRODUTO
) AS MENSAL
WHERE DATEPART(YY,DT_FECHA) IN ('2014','2013','2012','2011')
GROUP BY DATEPART(YY,DT_FECHA),PRODUTO

MEDIA ANUAL
 SELECT *  FROM (
SELECT DATEPART(YY,DT_FECHA) AS ANO,PRODUTO, AVG(VLR) AS VLR_MES FROM (
SELECT DT_FECHA,PRODUTO,SUM (VLR_PRESENTE) AS VLR FROM COMERCIAL_PRODUCAO (NOLOCK)  P 
GROUP BY DT_FECHA,PRODUTO
) AS MENSAL
WHERE DATEPART(YY,DT_FECHA) IN ('2014','2013','2012','2011')
						WHERE	DT_FECHA <=   '20140630'
GROUP BY DATEPART(YY,DT_FECHA),PRODUTO
 ) A
PIVOT( AVG (VLR_MES) FOR ANO IN ([2014],[2013],[2012]) ) AS PVT

-- CALCULO DA PIVOT OK
					 SELECT *  FROM (   
						SELECT DATEPART(YY,DT_FECHA) AS ANO,PRODUTO, 'Produção (líquida)' AS DESCR2, AVG(VLR_OP) AS VLR_MES FROM  COMERCIAL_PRODUCAO_MES (NOLOCK)  P   
						WHERE	DT_FECHA <=   '20140630'
						GROUP BY DATEPART(YY,DT_FECHA),PRODUTO  
						 ) A 
					  PIVOT( AVG (VLR_MES) FOR ANO IN ([2014],[2013],[2012],[2011]) ) AS PVT

*/
/*  CALCULO A PARTIR DO DETALHE
	SET		@query = ' INSERT	AUX_CML_PROD_MEDIA   '+					
					 '	 SELECT *  FROM (   '+
					'	SELECT DATEPART(YY,DT_FECHA) AS ANO,PRODUTO, ''Produção (líquida)'' AS DESCR2, AVG(VLR) AS VLR_MES FROM (   '+
					'	SELECT DT_FECHA,PRODUTO,SUM (VLR_PRESENTE) AS VLR FROM COMERCIAL_PRODUCAO (NOLOCK)  P   '+
					'	GROUP BY DT_FECHA,PRODUTO   '+
					'	) AS MENSAL  '+
--					'	WHERE DATEPART(YY,DT_FECHA) IN ('2014','2013','2012','2011')  '+
					'	GROUP BY DATEPART(YY,DT_FECHA),PRODUTO   '+
					'	 ) A '+
					 ' PIVOT( AVG (VLR_MES) FOR ANO IN ('+ @ANOS + ') ) AS PVT'

SELECT * INTO COMERCIAL_PRODUCAO_MES_AUX FROM COMERCIAL_PRODUCAO_MES 
SP_HELP COMERCIAL_PRODUCAO_MES_AUX
*/


-- *************************************************************	INSERE TTL POR PRODUTO
/*
	INSERT CML_PRODUCAO_ANALISE
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			3,			3,		-- RPT 3 PROD MES, CART  3 PROD MENSAL PRODUTO
			
			CASE	 WHEN P.DESCR2='Produção (PV)' 	THEN 10
					 WHEN P.DESCR2='Qtde Contratos'	THEN 20 
					 WHEN P.DESCR2='Tkt médio (PV)' THEN 30 
					 WHEN P.DESCR2='Tkt médio (líquida)' 		 THEN 100
					 WHEN P.DESCR2='Qtde lojas prod.'			 THEN 40
					 WHEN P.DESCR2='Média por loja - produtivas' THEN 50
					 WHEN P.DESCR2='TC'							 THEN 55
					 WHEN P.DESCR2='Produção (líquida)' 		 THEN 90
					 WHEN P.DESCR2='Plano Médio'				 THEN 110
					 WHEN P.DESCR2='TAXA Média'					 THEN 120

					 END ,	-- ORDEM
			P.PRODUTO,	
			CASE	 WHEN P.PRODUTO='D'		THEN  'DESCONTO'
					 WHEN P.PRODUTO='CG'	THEN  'CAPITAL DE GIRO' 
					 WHEN P.PRODUTO='CP'	THEN  'CREDITO PESSOAL' 
					 WHEN P.PRODUTO='V' 	THEN  'VEICULO' 
					 WHEN P.PRODUTO='R' 	THEN  'RENEGOCIAÇÃO' 
					 END ,	-- DESCR1
			P.DESCR2,		-- DESCR2

			0.0, -- media_3a
			MES_1A_2A,
			MES_ATUAL_2A,
			MES_3M_2A,
			MES_6M_2A,

			0.0,  -- MEDIA 2A
			MES_1A_1A,
			MES_ATUAL_1A,
			MES_3M_1A,
			MES_6M_1A,

			0.0,	-- MEDIA 1A
			MES_3A_ANO_ATUAL,
			MES_2A_ANO_ATUAL,
			MES_1A_ANO_ATUAL,
			MES_ATUAL,

			0.0,	-- MEDIA_ATUAL
			0.0,	-- VAR_MEDIA_ATUAL_1A
			0.0,	-- VAR_MEDIA_MES_ATUAL_M1A
			0.0,	-- VAR_MEDIA_MES_FIM1A
			0.0,	-- VAR_MEDIA_MES_ATUAL_1A
			''		-- COR_LINHA
					
FROM		AUX_CML_PROD_MES2	P (NOLOCK) 
*/


-- *************************************************************	INSERE TTL  GERAL

	INSERT CML_PRODUCAO_ANALISE
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			3,			3,		-- RPT 3 PROD MES, CART  3 PROD MENSAL PRODUTO

			CASE	 WHEN P.DESCR2='Produção (PV)' 	THEN 10
					 WHEN P.DESCR2='Variação'		THEN 15
					 WHEN P.DESCR2='Qtde Contratos'	THEN 20 
					 WHEN P.DESCR2='Tkt Médio'		THEN 30 
					 WHEN P.DESCR2='Qtde Clientes'  THEN 31 

					 WHEN P.DESCR2='Qtde lojas prod.'			 THEN 40
					 WHEN P.DESCR2='Média por Loja'				 THEN 50
					 WHEN P.DESCR2='Tarifa'						 THEN 53
					 WHEN P.DESCR2='TC'							 THEN 55
					 WHEN P.DESCR2='Produção Líquida' 			 THEN 90
					 WHEN P.DESCR2='Tkt médio (líquida)' 		 THEN 100
					 WHEN P.DESCR2='Plano Médio'				 THEN 110
					 WHEN P.DESCR2='Prazo Médio'				 THEN 115


					 WHEN P.DESCR2='TAXA Média'					 THEN 120

					 WHEN P.DESCR2='CARTEIRA - PV'				 THEN 200
					 WHEN P.DESCR2='CARTEIRA - QTDE'			 THEN 210
					 WHEN P.DESCR2='CARTEIRA - TKT MÉDIO'		 THEN 220
					 WHEN P.DESCR2='CARTEIRA - Qtde cliente'	 THEN 230
					 WHEN P.DESCR2='CARTEIRA - Média cliente'	 THEN 240
					 WHEN P.DESCR2='CARTEIRA - QTDE LJ'			 THEN 250

					 END ,	-- ORDEM
			
/*			CASE	 WHEN P.DESCR2='Produção (PV)' 	THEN 10
					 WHEN P.DESCR2='Variação'		THEN 11
					 WHEN P.DESCR2='Qtde Contratos'	THEN 20 
					 WHEN P.DESCR2='Tkt médio (PV)' THEN 30 
					 WHEN P.DESCR2='Qtde lojas prod.'			 THEN 40
					 WHEN P.DESCR2='Média por Loja'				 THEN 50
					 WHEN P.DESCR2='Tarifa'						 THEN 55
					 WHEN P.DESCR2='TC'							 THEN 56
					 WHEN P.DESCR2='Prazo Médio'				 THEN 55
					 WHEN P.DESCR2='Produção (líquida)' 		 THEN 90

					 WHEN P.DESCR2='Tkt médio (líquida)' 		 THEN 100
					 WHEN P.DESCR2='Plano Médio'				 THEN 110
					 WHEN P.DESCR2='TAXA Média'					 THEN 120

					 WHEN P.DESCR2='CARTEIRA - PV'				 THEN 200
					 WHEN P.DESCR2='CARTEIRA - QTDE'			 THEN 210
					 WHEN P.DESCR2='CARTEIRA - TKT MÉDIO'		 THEN 220
					 WHEN P.DESCR2='CARTEIRA - Qtde cliente'	 THEN 230
					 WHEN P.DESCR2='CARTEIRA - Média cliente'	 THEN 240
					 WHEN P.DESCR2='CARTEIRA - QTDE LJ'			 THEN 250

					 END ,	-- ORDEM
*/
			'T',	
			'T' ,	-- DESCR1
			P.DESCR2,		-- DESCR2

			-- 0.0, -- media_3a
			SUM(M14)	, 
			SUM(M13)		,
			SUM(M12)		,
			SUM(M11)		,
			SUM(M10)		,

			SUM(M9)		,
			SUM(M8)		,
			SUM(M7)		,
			SUM(M6)		,

			SUM(M5)		,
			SUM(M4)		,
			SUM(M3)		,
			SUM(M2)		,
			SUM(M1)		,
			--0.0, 0.0, 0.0, 0.0, 0.0,
			''		-- COR_LINHA
					
FROM		AUX_CML_PROD_MES2	P (NOLOCK) 
GROUP BY    P.DESCR2

-- *************************************************************	RPT 2  CARTEIRA  ********************
-- *************************************************************	RPT 2  CARTEIRA
-- *************************************************************	RPT 2  CARTEIRA
TRUNCATE TABLE    AUX_CML_PROD_MES2
/*
PRODUCAO
SELECT * FROM COMERCIAL_PRODUCAO
SELECT * FROM COMERCIAL_PRODUCAO_MES

CARTEIRA
SELECT * FROM RATING_HISTORICO WHERE DT_FECHA = '20140630'
SELECT * FROM COMERCIAL_CARTEIRA_MES  WHERE DT_FECHA = '20140630'

*/
-- *************************************************************		PV DOS PRODUTOS
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''PV'' as descr2, VLR_PRESENTE	FROM COMERCIAL_CARTEIRA_MES (NOLOCK) ' +
					 '       ) P '+
					 ' PIVOT( SUM (VLR_PRESENTE) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'
	-- insere no auxiliar a pivot de PV
	EXEC (@query)
-- *************************************************************		FV DOS PRODUTOS
	SET		@query = ' INSERT	AUX_CML_PROD_MES2  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''FV'' as descr2, VLR_FUTURO	FROM COMERCIAL_CARTEIRA_MES (NOLOCK) ' +
					 '       ) P '+
					 ' PIVOT( SUM (VLR_FUTURO) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

	-- insere no auxiliar a pivot de FV
	EXEC (@query)

-- *************************************************************	INSERE TTL POR PRODUTO
-- sp_help CML_PRODUCAO_ANALISE
	INSERT CML_PRODUCAO_ANALISE
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			2,			2,		-- RPT 2 CARTEIRA , CART2   POR PRODUTO
			
			CASE	 WHEN P.PRODUTO='D'	AND	P.DESCR2='PV' 		THEN 10
					 WHEN P.PRODUTO='D'	AND	P.DESCR2='FV' 		THEN 20 
					 WHEN P.PRODUTO='CG'	AND	P.DESCR2='PV'	THEN 30 
					 WHEN P.PRODUTO='CG'	AND	P.DESCR2='FV'	THEN 40
					 WHEN P.PRODUTO='CP'	AND	P.DESCR2='PV'	THEN 50
					 WHEN P.PRODUTO='CP'	AND	P.DESCR2='FV'	THEN 60
					 WHEN P.PRODUTO='V'	AND	P.DESCR2='PV'		THEN 70
					 WHEN P.PRODUTO='V'	AND	P.DESCR2='FV' 		THEN 80
					 WHEN P.PRODUTO='R'	AND	P.DESCR2='PV'		THEN 90
					 WHEN P.PRODUTO='R'	AND	P.DESCR2='FV' 		THEN 100
					 WHEN P.PRODUTO='T'	AND	P.DESCR2='PV'		THEN 130
					 WHEN P.PRODUTO='T'	AND	P.DESCR2='FV'		THEN 140

					 END ,	-- ORDEM
			P.PRODUTO,	
			CASE	 WHEN P.PRODUTO='D'		THEN  'DESCONTO'
					 WHEN P.PRODUTO='CG'	THEN  'CAPITAL DE GIRO' 
					 WHEN P.PRODUTO='CP'	THEN  'CREDITO PESSOAL' 
					 WHEN P.PRODUTO='V' 	THEN  'VEICULO' 
					 WHEN P.PRODUTO='R' 	THEN  'RENEGOCIAÇÃO' 
					 WHEN P.PRODUTO='T' 	THEN  'TOTAL' 
					 END ,	-- DESCR1
			P.DESCR2,		-- DESCR2

			-- 0.0,
			ISNULL(M14,0.0),
			ISNULL(M13,0.0),
			ISNULL(M12,0.0),
			ISNULL(M11,0.0),
			ISNULL(M10,0.0),

			ISNULL(M9,0.0),  -- MEDIA 2A
			ISNULL(M8,0.0),
			ISNULL(M7,0.0),
			ISNULL(M6,0.0),
			ISNULL(M5,0.0),

			ISNULL(M4,0.0),	-- MEDIA 1A
			ISNULL(M3,0.0),
			ISNULL(M2,0.0),
			ISNULL(M1,0.0),
			-- 0.0, 0.0, 0.0, 0.0, 0.0,
			''		-- COR_LINHA
					
FROM		AUX_CML_PROD_MES2	P (NOLOCK)
-- SP_HELP AUX_CML_PROD_MES2 

-- *************************************************************	INSERE TTL  CDC

	INSERT CML_PRODUCAO_ANALISE
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			2,			2,		-- RPT 2 CARTEIRA, CART  2 TTL
			
			CASE	 WHEN P.DESCR2='PV'		THEN 130
					 WHEN P.DESCR2='FV'		THEN 140
					 END ,	-- ORDEM
			'CDC',	
			'CDC' ,	-- DESCR1
			P.DESCR2,		-- DESCR2

			--0.0, -- media_3a
			SUM(M14)	, 
			SUM(M13)		,
			SUM(M12)		,
			SUM(M11)		,
			SUM(M10)		,

			SUM(M9)		,
			SUM(M8)		,
			SUM(M7)		,
			SUM(M6)		,

			SUM(M5)		,
			SUM(M4)		,
			SUM(M3)		,
			SUM(M2)		,
			SUM(M1)		,
			-- 0.0, 0.0, 0.0, 0.0, 0.0,
			''		-- COR_LINHA
					
FROM		AUX_CML_PROD_MES2	P (NOLOCK) 
WHERE		PRODUTO IN ('V','R')	-- SOMENTE VEIC + RENEG
GROUP BY    P.DESCR2



/*
'CG','CP', 
 SELECT * FROM COMERCIAL_PRODUCAO_MES_AUX
 SELECT * FROM COMERCIAL_CARTEIRA_MES

alter table COMERCIAL_PRODUCAO_MES_AUX alter column produto varchar(10)

alter table AUX_CML_PROD_MEDIA  alter column produto varchar(10)

*/




-- *************************************************************	INSERE TTL  GERAL carteira

	INSERT CML_PRODUCAO_ANALISE
		SELECT
			CONVERT(VARCHAR(8),@data_ref,112),	-- DT
			2,			2,		-- RPT 2 CARTEIRA, CART  2 TTL
			
			CASE	 WHEN P.DESCR2='Produção (PV)' 	THEN 10
					 WHEN P.DESCR2='Qtde Contratos'	THEN 20 
					 WHEN P.DESCR2='Tkt médio (PV)' THEN 30 
					 WHEN P.DESCR2='Tkt médio (líquida)' 		 THEN 100
					 WHEN P.DESCR2='Qtde lojas prod.'			 THEN 40
					 WHEN P.DESCR2='Média por loja - produtivas' THEN 50
					 WHEN P.DESCR2='TC'							 THEN 55
					 WHEN P.DESCR2='Produção (líquida)' 		 THEN 90
					 WHEN P.DESCR2='Plano Médio'				 THEN 110
					 WHEN P.DESCR2='TAXA Média'					 THEN 120

					 END ,	-- ORDEM
			'T',	
			'T' ,	-- DESCR1
			P.DESCR2,		-- DESCR2

			-- 0.0, -- media_3a
			SUM(M14)		, 
			SUM(M13)		,
			SUM(M12)		,
			SUM(M11)		,
			SUM(M10)		,

			SUM(M9)		,
			SUM(M8)		,
			SUM(M7)		,
			SUM(M6)		,

			SUM(M5)		,
			SUM(M4)		,
			SUM(M3)		,
			SUM(M2)		,
			SUM(M1)		,
			--	0.0, 0.0, 0.0, 0.0, 0.0,
			''		-- COR_LINHA
					
FROM		AUX_CML_PROD_MES2	P (NOLOCK) 
GROUP BY    P.DESCR2

/*
-- MEDIA DOS 4 ANOS    LINHA TTL    RPT   CARTEIRA
-- SP_HELP CML_PRODUCAO_ANALISE  
	UPDATE		CML_PRODUCAO_ANALISE	
		SET		MEDIA_3A	=	(SELECT		SUM(MEDIA_3A) FROM CML_PRODUCAO_ANALISE (NOLOCK)
									WHERE	DT_FECHA = @data_ref
										AND PRODUTO <> 'T' AND RPT = 2 AND CARTEIRA = 2 
										AND RIGHT(DESCR2,2) = 'PV'),
				MEDIA_2A	=	(SELECT		SUM(MEDIA_2A) FROM CML_PRODUCAO_ANALISE (NOLOCK)
									WHERE	DT_FECHA = @data_ref
										AND PRODUTO <> 'T' AND RPT = 2 AND CARTEIRA = 2 
										AND RIGHT(DESCR2,2) = 'PV'),
				MEDIA_1A	=	(SELECT		SUM(MEDIA_1A) FROM CML_PRODUCAO_ANALISE (NOLOCK)
									WHERE	DT_FECHA = @data_ref
										AND PRODUTO <> 'T' AND RPT = 2 AND CARTEIRA = 2 
										AND RIGHT(DESCR2,2) = 'PV'),
				MEDIA_ATUAL	=	(SELECT		SUM(MEDIA_ATUAL) FROM CML_PRODUCAO_ANALISE (NOLOCK)
									WHERE	DT_FECHA = @data_ref
										AND PRODUTO <> 'T' AND RPT = 2 AND CARTEIRA = 2 
										AND RIGHT(DESCR2,2) = 'PV')
		WHERE	DT_FECHA = @data_ref
			and PRODUTO = 'T' AND RPT = 2 AND CARTEIRA = 2
			AND RIGHT(DESCR2,2) = 'PV'
	-- FV	********
	UPDATE		CML_PRODUCAO_ANALISE	
		SET		MEDIA_3A	=	(SELECT		SUM(MEDIA_3A) FROM CML_PRODUCAO_ANALISE (NOLOCK)
									WHERE	DT_FECHA = @data_ref
										AND PRODUTO <> 'T' AND RPT = 2 AND CARTEIRA = 2 
										AND RIGHT(DESCR2,2) = 'FV'),
				MEDIA_2A	=	(SELECT		SUM(MEDIA_2A) FROM CML_PRODUCAO_ANALISE (NOLOCK)
									WHERE	DT_FECHA = @data_ref
										AND PRODUTO <> 'T' AND RPT = 2 AND CARTEIRA = 2 
										AND RIGHT(DESCR2,2) = 'FV'),
				MEDIA_1A	=	(SELECT		SUM(MEDIA_1A) FROM CML_PRODUCAO_ANALISE (NOLOCK)
									WHERE	DT_FECHA = @data_ref
										AND PRODUTO <> 'T' AND RPT = 2 AND CARTEIRA = 2 
										AND RIGHT(DESCR2,2) = 'FV'),
				MEDIA_ATUAL	=	(SELECT		SUM(MEDIA_ATUAL) FROM CML_PRODUCAO_ANALISE (NOLOCK)
									WHERE	DT_FECHA = @data_ref
										AND PRODUTO <> 'T' AND RPT = 2 AND CARTEIRA = 2 
										AND RIGHT(DESCR2,2) = 'FV')
		WHERE	DT_FECHA = @data_ref
			and PRODUTO = 'T' AND RPT = 2 AND CARTEIRA = 2
			AND RIGHT(DESCR2,2) = 'FV'


	-- ***************************************************** VARIACAO  fim  ***********
	UPDATE		CML_PRODUCAO_ANALISE	
		SET		VAR_MEDIA_ATUAL_1A		=	CASE	WHEN	MEDIA_1A = 0.0		THEN 0.0
													ELSE	(MEDIA_ATUAL - MEDIA_1A)/MEDIA_1A *100.0			END	,
				VAR_MEDIA_MES_ATUAL_M1A =   CASE	WHEN	MES_ATUAL_1A=0.0	THEN 0.0
													ELSE	(MES_ATUAL   - MES_ATUAL_1A)/MES_ATUAL_1A  *100.0   END,
				VAR_MEDIA_MES_FIM1A		=	CASE	WHEN	MES_6M_1A=0.0		THEN 0.0
													ELSE	(MES_ATUAL   - MES_6M_1A) / MES_6M_1A *100.0		END,
				VAR_MEDIA_MES_ATUAL_1A	=	CASE	WHEN	MES_1A_ANO_ATUAL=0.0 THEN 0.0
													ELSE	(MES_ATUAL   - MES_1A_ANO_ATUAL)/MES_1A_ANO_ATUAL *100.0	END
		WHERE	DT_FECHA = @data_ref

*/

-- Qtde Clientes MUDA NO RPT PARA QTDE LJ ATIVAS
-- declare @data_ref datetime set @data_ref = '20150331'
	UPDATE		CML_PRODUCAO_ANALISE	
		SET		DESCR2		=	'Qtde lojas ativas de Agente/Operador que Produziu'
		WHERE	DT_FECHA = @data_ref
			and LEFT(PRODUTO,1) = 'V' AND RPT = 3 AND CARTEIRA = 3
			AND DESCR2 = 'Qtde Clientes'

	-- VEIC - INCLUIR TTL CARTEIRA SEM RENEG
/*
	INSERT CML_PRODUCAO_ANALISE
		-- DECLARE  @data_ref DATETIME SET @data_ref = '20150331'
		SELECT
			@data_ref,	-- DT
			3,			3,		-- RPT 3 CARTEIRA, CART 3 TTL
			
			200 ,	-- ORDEM
			CT.PRODUTO,	
			CT.DESCR1 ,	-- DESCR1
			'CARTEIRA - PV (sem reneg.)',		-- DESCR2

			0.0, -- media_3a
			0.0, 
			CT.M13 - CR.M13		,
			CT.M12 - CR.M12		,
			CT.M11 - CR.M11		,
			CT.M10 - CR.M10		,

			CT.M9 - CR.M9		,
			CT.M8 - CR.M8		,
			CT.M7 - CR.M7		,
			CT.M6 - CR.M6		,

			CT.M5 - CR.M5		,
			CT.M4 - CR.M4		,
			CT.M3 - CR.M3		,
			CT.M2 - CR.M2		,
			CR.M1 - CR.M1		,
			0.0, 0.0, 0.0, 0.0, 0.0,
			''		-- COR_LINHA
 FROM (SELECT * FROM	CML_PRODUCAO_ANALISE (NOLOCK) 
		WHERE	DT_FECHA = @data_ref
			and PRODUTO = 'V' AND RPT = 3 AND CARTEIRA = 3
			AND DESCR2 = 'CARTEIRA - PV' ) AS CT,
	  (SELECT * FROM	CML_PRODUCAO_ANALISE (NOLOCK)  							
		WHERE	DT_FECHA = @data_ref
			and PRODUTO = 'V' AND RPT = 3 AND CARTEIRA = 3
			AND DESCR2 = 'CARTEIRA RENEG - PV' ) AS CR
-- QTDE SEM RENEG
	INSERT CML_PRODUCAO_ANALISE
		-- DECLARE  @data_ref DATETIME SET @data_ref = '20150331'
		SELECT
			@data_ref,	-- DT
			3,			3,		-- RPT 3 CARTEIRA, CART 3 TTL
			
			200 ,	-- ORDEM
			CT.PRODUTO,	
			CT.DESCR1 ,	-- DESCR1
			'CARTEIRA - QTDE (sem reneg.)',		-- DESCR2

			0.0, -- media_3a
			0.0, 
			CT.M13 - CR.M13		,
			CT.M12 - CR.M12		,
			CT.M11 - CR.M11		,
			CT.M10 - CR.M10		,

			CT.M9 - CR.M9		,
			CT.M8 - CR.M8		,
			CT.M7 - CR.M7		,
			CT.M6 - CR.M6		,

			CT.M5 - CR.M5		,
			CT.M4 - CR.M4		,
			CT.M3 - CR.M3		,
			CT.M2 - CR.M2		,
			CT.M1 - CR.M1		,
			0.0, 0.0, 0.0, 0.0, 0.0,
			''		-- COR_LINHA
 FROM (SELECT * FROM	CML_PRODUCAO_ANALISE (NOLOCK) 
		WHERE	DT_FECHA = @data_ref
			and PRODUTO = 'V' AND RPT = 3 AND CARTEIRA = 3
			AND DESCR2 = 'CARTEIRA - QTDE' ) AS CT,
	  (SELECT * FROM	CML_PRODUCAO_ANALISE (NOLOCK)  							
		WHERE	DT_FECHA = @data_ref
			and PRODUTO = 'V' AND RPT = 3 AND CARTEIRA = 3
			AND DESCR2 = 'CARTEIRA - QTDE RENEG' ) AS CR

UPDATE		CML_PRODUCAO_ANALISE
	SET		CML_PRODUCAO_ANALISE.M13= C.M13/ Q.M13		,
			CML_PRODUCAO_ANALISE.M12= C.M12/ Q.M12		,
			CML_PRODUCAO_ANALISE.M11= C.M11/ Q.M11		,
			CML_PRODUCAO_ANALISE.M10= C.M10/ Q.M10		,

			CML_PRODUCAO_ANALISE.M9= C.M9/ Q.M9		,
			CML_PRODUCAO_ANALISE.M8= C.M8/ Q.M8		,
			CML_PRODUCAO_ANALISE.M7= C.M7/ Q.M7		,
			CML_PRODUCAO_ANALISE.M6= C.M6/ Q.M6	,

			CML_PRODUCAO_ANALISE.M5= C.M5/ Q.M5	,
			CML_PRODUCAO_ANALISE.M4= C.M4/ Q.M4	,
			CML_PRODUCAO_ANALISE.M3= C.M3/ Q.M3	,
			CML_PRODUCAO_ANALISE.M2= C.M2/ Q.M2	,
			CML_PRODUCAO_ANALISE.M1= C.M1/ Q.M1		
 FROM (SELECT * FROM	CML_PRODUCAO_ANALISE (NOLOCK) 
		WHERE	DT_FECHA = @data_ref
			and PRODUTO = 'V' AND RPT = 3 AND CARTEIRA = 3
			AND DESCR2 = 'CARTEIRA - QTDE' ) AS C,
	  (SELECT * FROM	CML_PRODUCAO_ANALISE (NOLOCK)  							
		WHERE	DT_FECHA = @data_ref
			and PRODUTO = 'V' AND RPT = 3 AND CARTEIRA = 3
			AND DESCR2 = 'CARTEIRA - QTDE RENEG' ) AS Q
WHERE		DT_FECHA = @data_ref
		AND PRODUTO = 'V' AND RPT = 3 AND CARTEIRA = 3
		AND DESCR2 = 'CARTEIRA - TKT MÉDIO'

*/
END
GO


-- SELECT * FROM  CML_PRODUCAO_MES
-- SELECT * FROM  CML_PRODUCAO_ANALISE