
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
go


/*
 EXEC PRC_COMERCIAL_PRODUCAO '20160930'

-- 2011
 EXEC PRC_COMERCIAL_PRODUCAO '20110131'
 EXEC PRC_COMERCIAL_PRODUCAO '20110228'
 EXEC PRC_COMERCIAL_PRODUCAO '20110331'

 EXEC PRC_COMERCIAL_PRODUCAO '20110430'
 EXEC PRC_COMERCIAL_PRODUCAO '20110531'
 EXEC PRC_COMERCIAL_PRODUCAO '20110630'

 EXEC PRC_COMERCIAL_PRODUCAO '20110731'
 EXEC PRC_COMERCIAL_PRODUCAO '20110831'
 EXEC PRC_COMERCIAL_PRODUCAO '20110930'

 EXEC PRC_COMERCIAL_PRODUCAO '20111031'
 EXEC PRC_COMERCIAL_PRODUCAO '20111130'
 EXEC PRC_COMERCIAL_PRODUCAO '20111231'


-- 2012
SELECT * FROM RATING_HISTORICO_BAK WHERE DT_FECHA='20120131' AND NVL_RISCO<>'HH'
 EXEC PRC_COMERCIAL_PRODUCAO '20120131'
 EXEC PRC_COMERCIAL_PRODUCAO '20120229'
 EXEC PRC_COMERCIAL_PRODUCAO '20120331'
--DECLARE @DT DATETIME SET @DT=  '20120229' SELECT @DT

 EXEC PRC_COMERCIAL_PRODUCAO '20120430'
 EXEC PRC_COMERCIAL_PRODUCAO '20120531'
 EXEC PRC_COMERCIAL_PRODUCAO '20120630'

 EXEC PRC_COMERCIAL_PRODUCAO '20120731'
 EXEC PRC_COMERCIAL_PRODUCAO '20120831'
 EXEC PRC_COMERCIAL_PRODUCAO '20120930'

 EXEC PRC_COMERCIAL_PRODUCAO '20121031'
 EXEC PRC_COMERCIAL_PRODUCAO '20121130'
 EXEC PRC_COMERCIAL_PRODUCAO '20121231'


-- 2013
SELECT * FROM RATING_HISTORICO WHERE DT_FECHA='20130131' AND NVL_RISCO<>'HH'
 EXEC PRC_COMERCIAL_PRODUCAO '20130131'
 EXEC PRC_COMERCIAL_PRODUCAO '20130228'
 EXEC PRC_COMERCIAL_PRODUCAO '20130331'
--DECLARE @DT DATETIME SET @DT=  '20130228' SELECT @DT

 EXEC PRC_COMERCIAL_PRODUCAO '20130430'
 EXEC PRC_COMERCIAL_PRODUCAO '20130531'
 EXEC PRC_COMERCIAL_PRODUCAO '20130630'

 EXEC PRC_COMERCIAL_PRODUCAO '20130731'
 EXEC PRC_COMERCIAL_PRODUCAO '20130831'
 EXEC PRC_COMERCIAL_PRODUCAO '20130930'

 EXEC PRC_COMERCIAL_PRODUCAO '20131031'
 EXEC PRC_COMERCIAL_PRODUCAO '20131130'
 EXEC PRC_COMERCIAL_PRODUCAO '20131231'

-- 2014
 EXEC PRC_COMERCIAL_PRODUCAO '20140131'
 EXEC PRC_COMERCIAL_PRODUCAO '20140228'
 EXEC PRC_COMERCIAL_PRODUCAO '20140331'

 EXEC PRC_COMERCIAL_PRODUCAO '20140430'
 EXEC PRC_COMERCIAL_PRODUCAO '20140531'
 EXEC PRC_COMERCIAL_PRODUCAO '20140630'

 EXEC PRC_COMERCIAL_PRODUCAO '20140731'
 EXEC PRC_COMERCIAL_PRODUCAO '20140831'
 EXEC PRC_COMERCIAL_PRODUCAO '20140930'

 EXEC PRC_COMERCIAL_PRODUCAO '20141031'
 EXEC PRC_COMERCIAL_PRODUCAO '20141130'
 EXEC PRC_COMERCIAL_PRODUCAO '20141231'

 EXEC PRC_COMERCIAL_PRODUCAO '20150131'
EXEC [dbo].[PRC_COMERCIAL_CALCULO] '2015-01-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '20150131'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_CARTEIRA] '20150131'XX
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_mes_ttl] '2015-01-31'

 EXEC PRC_COMERCIAL_PRODUCAO '20150228'

 EXEC PRC_COMERCIAL_PRODUCAO '20150331'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO] '20150331'


 EXEC PRC_COMERCIAL_PRODUCAO '20150630'

SELECT * FROM COMERCIAL_PRODUCAO WHERE DT_FECHA='20150228' AND VLR_PRESENTE>0.0

SELECT * FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK) WHERE PANROPER='612155441'
SELECT * FROM	CDCSANTANAMicroCredito..COPER P (NOLOCK) WHERE OPNROPER='612155441'


SELECT * FROM	COMERCIAL_PRODUCAO WHERE DT_FECHA='20140228' AND PRODUTO='CG'
SELECT * FROM	COMERCIAL_PRODUCAO WHERE DT_FECHA='20140331' AND PRODUTO='CG'

SELECT * FROM	COMERCIAL_PRODUCAO WHERE DT_FECHA='20130331' AND PRODUTO='CG'
SELECT * FROM	COMERCIAL_PRODUCAO_MES WHERE DT_FECHA='20130331' AND PRODUTO='CG'


SP_HELP COMERCIAL_CARTEIRA_MES

CREATE INDEX COMERCIAL_CARTEIRA_MES_IDX1 ON COMERCIAL_CARTEIRA_MES (DT_FECHA,PRODUTO)

SP_HELP COMERCIAL_PRODUCAO

SP_HELP FX_ANO
SELECT * FROM FX_ANO
CREATE INDEX FX_ANO_IDX1 ON FX_ANO (DT_DE,DE)


SP_HELP COMERCIAL_PRODUCAO_MES

select *			FROM	 Ttipo_prod T (NOLOCK)
select *			FROM	 TModa_tipo_prod M (NOLOCK)  

update Ttipo_prod set sigla = null where cod_prod='cp' and	cod_modalidade='16'
CP	16

*/



-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_COMERCIAL_PRODUCAO_ATT' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_COMERCIAL_PRODUCAO_ATT] 
GO

-- MENSAL
-- ***************************************
CREATE Procedure [dbo].[PRC_COMERCIAL_PRODUCAO_ATT] 
		 (@DTREF1  SMALLDATETIME )	AS  

BEGIN

DECLARE @DTREF  AS SMALLDATETIME
DECLARE @DTINI  AS SMALLDATETIME
DECLARE @DTFIM  AS SMALLDATETIME
DECLARE @DTPDD  AS SMALLDATETIME

SET @DTREF = CONVERT(VARCHAR(8),@DTREF1,112)
--  SELECT  @DTREF
SET @DTINI = CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'
SET @DTFIM = CONVERT(VARCHAR(8),@DTREF1,112)
--  SELECT  @DTINI , @DTFIM

-- FECHAMENTO DA PDD
SET @DTPDD = @DTREF1
	-- ALTERACAO DT FECHAMENTO ULTIMO DIA DO MES
	IF @DTPDD <= '20140801' -- ANTES AGO/2014
	BEGIN
		-- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES		RISCO
		-- CHECA SE EH DIA UTIL
		SELECT	@DTPDD= CASE  WHEN DATEPART(DW,@DTPDD) = 1 THEN DATEADD(D,-2,@DTPDD)	-- DOMINGO
							  WHEN DATEPART(DW,@DTPDD) = 7 THEN DATEADD(D,-1,@DTPDD)	-- SABADO
							  ELSE @DTPDD					 END
	END
--	SELECT @DTPDD

-- 1 
-- LIMPA PROCESSO ANTERIOR
DELETE FROM COMERCIAL_PRODUCAO WHERE DT_FECHA = @DTREF

-- FIM DO MES ANTERIOR
-- SET		@data_ANT=DATEADD(DD,-1,@data_ANT)



-- COPIA O ULTIMO FECHAMENTO
-- DECLARE @DTFECHA SMALLDATETIME SET @DTFECHA='2014-04-30'
/*
SP_HELP COMERCIAL_PRODUCAO
CREATE TABLE COMERCIAL_PRODUCAO
(
DT_FECHA		smalldatetime,
PRODUTO			VARCHAR(2),  -- DESCONTO, CAPITAL GIRO, VEICULO, RENEGOCI, CP
NUM_OPE			varchar(50),
DT_BASE			smalldatetime,
VLR_OP			float,
VLR_PARC		float,
VLR_PRESENTE	float,
VLR_RECEITA		float,
VLR_FUTURO		float,
VLR_LIBERADO	float,
VLR_TC			float,
VLR_TARIFA		float,
VLR_IOF			float,
VLR_FIPE		float,

SCORE		INT,

PRAZO		int,
PLANO		INT,

TAXA		float,
RETORNO		float,
TAXA_SEM_RET	float,

ATRASO		int,
dtVencParc	smalldatetime,
DT_PAGTO	smalldatetime,
RENEGOCIADO	int,
RATING		varchar(2),

CODCLI		varchar(15),
CODPROD		smallint,
CODMODA		smallint,
AGENTE		varchar(6),
VEICULO		varchar(20),
CODOPER		varchar(20),
CODLOJA		varchar(20),
ANO_MODELO	varchar(20),
TX_X_VLR	float,
PRZ_X_VLR	float,
BORDERO		INT


 )

CREATE INDEX  COMERCIAL_PRODUCAO_IDX1 ON COMERCIAL_PRODUCAO ( DT_FECHA	, PRODUTO	, NUM_OPE	)

ALTER TABLE COMERCIAL_PRODUCAO ADD   FX_ANO varchar(100)
 ALTER TABLE COMERCIAL_PRODUCAO ADD  FX_PLANO varchar(100)
 ALTER TABLE COMERCIAL_PRODUCAO ADD  NVL_RISCO varchar(2)
 ALTER TABLE COMERCIAL_PRODUCAO ADD  PLANO_X_VLR 	float
 ALTER TABLE COMERCIAL_PRODUCAO ADD  TAXA_AA 	float
 ALTER TABLE COMERCIAL_PRODUCAO ADD  TX_AA_X_VLR	float


ALTER TABLE COMERCIAL_PRODUCAO ALTER COLUMN  VEICULO varchar(30)

-------------------------------------------
DROP TABLE	 COMERCIAL_PRODUCAO_MES
CREATE TABLE COMERCIAL_PRODUCAO_MES
(
DT_FECHA		smalldatetime,
PRODUTO			VARCHAR(2),  -- DESCONTO, CAPITAL GIRO, VEICULO, RENEGOCI, CP
QTDE			float,
VLR_OP			float,
VLR_PRESENTE	float,
VLR_RECEITA		float,
VLR_FUTURO		float,
VLR_TC			float,
VLR_TARIFA		float,
VLR_IOF			float,
VLR_FIPE		float,
SCORE			INT,
PLANO_MEDIO		FLOAT,
TAXA_MEDIA		float
 )

CREATE INDEX  COMERCIAL_PRODUCAO_MES_IDX1 ON COMERCIAL_PRODUCAO_MES ( DT_FECHA	, PRODUTO		)

ALTER TABLE  COMERCIAL_PRODUCAO_MES  ADD VARIACAO FLOAT, TKT_MEDIO FLOAT, QTDE_LJ FLOAT, MEDIA_LJ FLOAT,
			 PRODUCAO_LIQ FLOAT, TKT_MEDIO_LIQ FLOAT, ANO_MEDIO FLOAT

DROP TABLE COMERCIAL_PRODUCAO_MES_AUX
SELECT * INTO COMERCIAL_PRODUCAO_MES_AUX FROM COMERCIAL_PRODUCAO_MES WHERE 1=0

SELECT * FROM SPREAD_HISTORICO

sp_help SPREAD_HISTORICO


-------------------------------------------
DROP TABLE	 COMERCIAL_CARTEIRA_MES
CREATE TABLE COMERCIAL_CARTEIRA_MES
(
DT_FECHA		smalldatetime,
PRODUTO			VARCHAR(2),  -- DESCONTO, CAPITAL GIRO, VEICULO, RENEGOCI, CP
QTDE			float,
VLR_OP			float,
VLR_PRESENTE	float,
VLR_FUTURO		float,
VLR_RECEITA		float,
VLR_VAR_RECEITA	float,

MEDIA_OP		float,
QTDE_CLIENTE	float,
MEDIA_CLIENTE	float,
TKT_MEDIO_PV	float,
TKT_MEDIO_LIQ	float,
TKT_MEDIO_OP	float,
VLR_FIPE		float

 )

CREATE INDEX  COMERCIAL_CARTEIRA_MES_IDX1 ON COMERCIAL_CARTEIRA_MES ( DT_FECHA	, PRODUTO		)



*/

-- 2   VEICULOS
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES   TABELA AUXILIAR
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-05-29'
-- SELECT * FROM RATING_PROJETADO WHERE NUM_OPE='89313224'
-- ******************									OK
INSERT	COMERCIAL_PRODUCAO
			(DT_FECHA		, --smalldatetime,
			PRODUTO			, --VARCHAR(2),  -- DESCONTO, CAPITAL GIRO, VEICULO, RENEGOCI, CP
			NUM_OPE			, --varchar(50),
			DT_BASE			, --smalldatetime,
			VLR_OP			, --float,
			VLR_PARC		, --float,
			VLR_PRESENTE	, --float,
			VLR_RECEITA		, --float,
			VLR_FUTURO		, --float,
			VLR_LIBERADO	, --float,
			VLR_TC			, --float,
			VLR_TARIFA		, --float,
			VLR_IOF			, --float,
			VLR_FIPE		, --float,

			SCORE		, --INT,

			PRAZO		, --int,
			PLANO		, --INT,

			TAXA_AA		, --float,
			taxa,
			RETORNO			, --float,
			TAXA_SEM_RET	, --float,

			ATRASO		, --int,
			dtVencParc	, --smalldatetime,
			DT_PAGTO	, --smalldatetime,
			RENEGOCIADO	, --int,
			RATING		, --varchar(2),

			CODCLI		, --varchar(15),
			CODPROD		, --smallint,
			CODMODA		, --smallint,
			AGENTE		, --varchar(6),
			VEICULO		, --varchar(20),
			CODOPER		, --varchar(20),
			CODLOJA		, --varchar(20),
			ANO_MODELO	, --varchar(20),
			TX_X_VLR	, --float,
			PRZ_X_VLR	, --float,
			BORDERO		  --INT

				 )   
-- DECLARE  @DTINI DATETIME DECLARE @DTFIM DATETIME DECLARE @DTREF DATETIME SET @DTINI='20160901' SET @DTFIM='20160930' SET  @DTREF='20160930'
SELECT	@DTREF,	'V',
		OPNROPER, OPDTBASE,
		OPVLROPCZ,	 -- VLR OPERADO
		OPVLRPARC,   -- VLR PARCELA NO VLR_PRINC
		OPVlrOpCZ,		 -- VLR_PRESENTE	, --float,  *******************
		0.0,		 -- VLR_RECEITA		, --float,
		OPVLRPARC *  OPQTDDPARC,		 -- VLR_FUTURO				, --float,
		OPVLRFIN,			 --  VLR_LIBERADO	, --float,
		OPDESPESA3,		 -- VLR_TC			, --float,
		OPTAC,		 -- VLR_TARIFA		, --float,
		OPIOC,		 -- VLR_IOF			, --float,
		0.0,		 -- VLR_FIPE		, --float,

		0,			 -- SCORE		, --INT,

		DATEDIFF(DD,OPDTBASE,OPDTVCTO),  -- PRAZO EM DIAS PRAZO		, --int,
		OPQTDDPARC,  --PLANO		, --INT,

		--TAXA		, --float,
		OPTXJRCL,	 -- OPTXNET, OPSPREAD  EM TX_RATP OPTXJRCL, OPTXJRNOM  56,7054, OPTXJRAP
		OPTXJRCL,
		OPDESPESA4,  -- RETORNO RETORNO			, --float,
		OPTXJRCL,		 --TAXA_SEM_RET	, --float,

		0,--ATRASO		, --int,
		0,--dtVencParc	, --smalldatetime,
		'',--DT_PAGTO	, --smalldatetime,
		0, --RENEGOCIADO	, --int,
		'', --RATING		, --varchar(2),


		OPCODCLI,--CODCLI		, --varchar(15),
		OPCODPROD,  -- PRODUTO CODPROD		, --smallint,
		OPCODOP  ,  -- MODALIDADE NO COBRADORA  CODMODA		, --smallint,
		0,			-- AGENTE		, --varchar(6),
		'', -- VEICULO		, -- varchar(20),
		OPCODORG3  ,  -- OPERADOR  CODOPER		, --varchar(20),
		OPCODORG4,   -- COD LOJA  CODLOJA		, --varchar(20),
		'',    -- ANO_MODELO	, --varchar(20),
		0.0 ,  -- TX_X_VLR	, --float,
		0.0 ,  -- PRZ_X_VLR	, --float,
		0      -- BORDERO		  --INT

		
-- SELECT DATEDIFF(DD,OPDTBASE,OPDTVCTO),* 
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	-- PRODUCAO
			CONVERT(VARCHAR(8),OPDTBASE,112) BETWEEN @DTINI AND @DTFIM 
		--   LISTA COM MODALIDADES DO PRODUTO VEIC
		AND OPCODOP IN (SELECT	M.COD_MODA
						FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
						AND T.COD_PROD = 'V' )

			-- SOMENTE VEICULOS
--		AND OPCODOP IN (552,610,612,630,632,642,643,670,672,700,751,752,760,862,893,553,894 , 800)
		-- se nao for renegociacao
		-- AND RIGHT(OPNROPER,1) NOT IN ('A','B')

-- OK


-- CG E CP
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES   TABELA AUXILIAR
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-05-29'
-- SELECT * FROM RATING_PROJETADO WHERE NUM_OPE='89313224'
-- SP_HELP COMERCIAL_PRODUCAO
-- OK PARA TX JR RAP!! ****************************************

-- ******************									OK
-- 3
INSERT	COMERCIAL_PRODUCAO
SELECT	@DTREF,	
		-- PRODUTO CADASTRADO PARA A MODALIDADE DA OPERACAO
		(SELECT COD_PROD FROM	TModa_tipo_prod M (NOLOCK)  WHERE COD_MODA=OPCODOP),
				/*
				--350,351,352,353 s/ gar
				--360,361,362,363 c/ gar
					CASE WHEN OPCODOP IN (362, 363,  350,351,352,353,  360,361,362,363,  371,381) THEN 'CG'
						 WHEN OPCODOP IN (906, 908, 909 )		THEN 'CP'
						 WHEN OPCODOP IN (870, 990 )			THEN 'R'
						 ELSE '' END,	 */
		OPNROPER, OPDTBASE,
		OPVLROPCZ,	 -- VLR OPERADO
		OPVLRPARC,   -- VLR PARCELA NO VLR_PRINC
		OPVlrOpCZ,	 -- VLR_PRESENTE	, --float,
		0.0,		 -- VLR_RECEITA		, --float,
		CASE WHEN	OPVLRPARC *  OPQTDDPARC =0.0 THEN OPVlrBRUTO
			 ELSE	OPVLRPARC *  OPQTDDPARC		 END ,		 -- VLR_FUTURO				, --float,
		OPVLRFIN,			 -- RETORNO VLR_LIBERADO	, --float,
		OPDESPESA3,	 -- VLR_TC			, --float,
		OPTAC,		 -- VLR_TARIFA		, --float,
		OPIOC,		 -- VLR_IOF			, --float,
		0.0,		 -- VLR_FIPE		, --float,

		0,			 -- SCORE		, --INT,

		DATEDIFF(DD,OPDTBASE,OPDTVCTO),  -- PRAZO EM DIAS PRAZO		, --int,
		OPQTDDPARC,  --PLANO		, --INT,

		--TAXA		, --float,
		OPTXJRAP,	 -- OPTXNET, OPSPREAD  EM TX_RATP OPTXJRAP
		OPDESPESA4,  -- RETORNO RETORNO			, --float,
		OPTXJRAP,	 --TAXA_SEM_RET	, --float,

		0,--ATRASO		, --int,
		0,--dtVencParc	, --smalldatetime,
		'',--DT_PAGTO	, --smalldatetime,
		0, --RENEGOCIADO	, --int,
		'', --RATING		, --varchar(2),


		OPCODCLI,--CODCLI		, --varchar(15),
		OPCODPROD,  -- PRODUTO CODPROD		, --smallint,
		OPCODOP  ,  -- MODALIDADE NO COBRADORA  CODMODA		, --smallint,
		0,			-- AGENTE		, --varchar(6),
		'', -- VEICULO		, -- varchar(20),
		OPCODORG3  ,  -- OPERADOR  CODOPER		, --varchar(20),
		OPCODORG4,   -- COD LOJA  CODLOJA		, --varchar(20),
		'',    -- ANO_MODELO	, --varchar(20),
		0.0 ,  -- TX_X_VLR	, --float,
		0.0 ,  -- PRZ_X_VLR	, --float,
		0      -- BORDERO		  --INT
		, '','', '',0.0,	--   FX_ANO , FX_PLANO ,  NVL_RISCO ,  PLANO_X_VLR ,  
		OPTXjRAP ,0.0		--   TAXA_AA ,	TX_AA_X_VLR		

-- DECLARE  @DTINI DATETIME DECLARE @DTFIM DATETIME DECLARE @DTREF DATETIME SET @DTINI='20160901' SET @DTFIM='20160930' SET  @DTREF='20160930'
-- SELECT DATEDIFF(DD,OPDTBASE,OPDTVCTO),OPVLRPARC *  OPQTDDPARC,* 
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	-- PRODUCAO
		--  opdtbase between '20150101' and '20150131' and opcodop =870 and opnroper= '373000764'
			CONVERT(VARCHAR(8),OPDTBASE,112) BETWEEN @DTINI AND @DTFIM 
			-- MODALIDADES CADASTRADAS SEM DESCONTO, SEM VEICULOS = TRATADOS A PARTE
		AND OPCODOP IN (SELECT	M.COD_MODA
						FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
							AND T.COD_PROD NOT IN ( 'D','V') )  -- OUTROS PRODUTOS DO FUNCAO

--		AND OPCODOP IN (362, 363, 350,351,352,353,360,361,362,363,371,381   , 906, 908, 909 , 870, 990 )

			-- SOMENTE CAPITAL GIRO, CREDITO PESSOAL
			-- 362 - CAPITAL GIRO C/GAR -CARNE- PF  , 363 - CAPITAL GIRO C/GAR -CARNE- PJ

		--906 - CREDITO PESSOAL PF - CA, 908 - CREDITO PESSOAL PF - CA, 909 - CREDITO PESSOAL PF - CA, 
		-- 800 - REFI / CP - CARNE (MUDOU PARA REFIN UTILIT),    990 - CREDITO PESSOAL - RENEGOCIACAO

		--  INCOMPLETO
		--  AND OPCODOP IN (362, 363 , 906, 908, 909, 990 )
		-- se nao for renegociacao
		-- AND RIGHT(OPNROPER,1) NOT IN ('A','B')


-- INCLUIR AGENTES COM PRODUCAO ZERADA
-- CG E CP
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES   TABELA AUXILIAR
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-05-29'
-- SELECT * FROM RATING_PROJETADO WHERE NUM_OPE='89313224'
-- ******************									OK
INSERT	COMERCIAL_PRODUCAO
SELECT	@DTREF,	
		A.PRODUTO,	
		'', '',
		0.0,	 -- VLR OPERADO
		0.0,   -- VLR PARCELA NO VLR_PRINC
		0.0,		 -- VLR_PRESENTE	, --float,
		0.0,		 -- VLR_RECEITA		, --float,
		0.0,		 -- VLR_FUTURO				, --float,
		0.0,			 -- RETORNO VLR_LIBERADO	, --float,
		0.0,		 -- VLR_TC			, --float,
		0.0,		 -- VLR_TARIFA		, --float,
		0.0,		 -- VLR_IOF			, --float,
		0.0,		 -- VLR_FIPE		, --float,

		0,			 -- SCORE		, --INT,

		0,  -- PRAZO EM DIAS PRAZO		, --int,
		0,  --PLANO		, --INT,

		--TAXA		, --float,
		0.0,	 -- OPTXNET, OPSPREAD  EM TX_RATP
		0.0,  -- RETORNO RETORNO			, --float,
		0.0,		 --TAXA_SEM_RET	, --float,

		0,--ATRASO		, --int,
		0,--dtVencParc	, --smalldatetime,
		'',--DT_PAGTO	, --smalldatetime,
		0, --RENEGOCIADO	, --int,
		'', --RATING		, --varchar(2),


		'',--CODCLI		, --varchar(15),
		'',  -- PRODUTO CODPROD		, --smallint,
		0  ,  -- MODALIDADE NO COBRADORA  CODMODA		, --smallint,
		A.AGENTE,			-- AGENTE		, --varchar(6),
		'', -- VEICULO		, -- varchar(20),
		A.CODOPER  ,  -- OPERADOR  CODOPER		, --varchar(20),
		'', --A.CODLOJA,   -- COD LOJA  CODLOJA		, --varchar(20),
		'',    -- ANO_MODELO	, --varchar(20),
		0.0 ,  -- TX_X_VLR	, --float,
		0.0 ,  -- PRZ_X_VLR	, --float,
		0      -- BORDERO		  --INT
		, '','', '',0.0,0.0 ,0.0 --   FX_ANO , FX_PLANO ,  NVL_RISCO ,  PLANO_X_VLR ,  TAXA_AA ,	TX_AA_X_VLR	

		
-- PRODUCAO DOS AGENTES E OPERADORES NAO LOCALIZADO NO MES
--    declare @DTREF datetime set @DTREF = '20140630' select convert(char(4),datepart(yyyy,@DTREF)-3)+'0101'
-- DECLARE  @DTINI DATETIME DECLARE @DTFIM DATETIME DECLARE @DTREF DATETIME SET @DTINI='20160901' SET @DTFIM='20160930' SET  @DTREF='20160930'
-- SELECT * 
	FROM	
			(SELECT		DISTINCT 
						PRODUTO, AGENTE, VEICULO, CODOPER 
				FROM	COMERCIAL_PRODUCAO O (NOLOCK)
						-- 2011 ate hj
				WHERE	DT_FECHA BETWEEN  convert(char(4),datepart(yyyy,@DTREF)-3)+'0101' AND @DTREF ) AS A
		LEFT JOIN
			(SELECT		DISTINCT 
						PRODUTO, AGENTE, VEICULO, CODOPER 
				FROM	COMERCIAL_PRODUCAO O (NOLOCK)
				WHERE	DT_FECHA= @DTREF) AS P
		ON		A.PRODUTO=P.PRODUTO
			AND A.AGENTE =P.AGENTE
			AND A.VEICULO=P.VEICULO
			AND A.CODOPER=P.CODOPER
	WHERE	P.PRODUTO	IS NULL
		AND	P.AGENTE	IS NULL 
		AND P.VEICULO	IS NULL 
		AND	P.CODOPER   IS NULL

--@DTFIM 

			
-- DESCONTO
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES   TABELA AUXILIAR
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-06-30'
-- ******************									OK
INSERT	COMERCIAL_PRODUCAO
-- DECLARE  @DTINI DATETIME DECLARE @DTFIM DATETIME DECLARE @DTREF DATETIME SET @DTINI='20160901' SET @DTFIM='20160930' SET  @DTREF='20160930'
SELECT	DISTINCT
		@DTREF,	
		'D',	
		O.bordro_num, --
		O.bordro_dat_MOVatu,	-- DT
		--T.TITLO_DAT_ENTR,		-- DT
		O.bordro_vlr_bord,		-- VLR OPERADO  VP
		0.0,   -- VLR PARCELA NO VLR_PRINC
		0.0  ,		 -- VLR_PRESENTE	, --float,-- VP = vf - VLR Juros 
		0.0,		 -- VLR_RECEITA		, --float,		-- RECEITA = JUROS
		O.bordro_vlr_bord,  	 -- VLR_FUTURO		 float--bordro_vlr_TitABERT,		
		 O.bordro_vlr_bord- 	O.bordro_vlr_tarifa - 	 O.bordro_vlr_tac ,			-- Valor Liberado   -Juros - 	 IOF -- RETORNO VLR_LIBERADO	, --float, 
		O.bordro_vlr_tac,	    	 -- VLR_TC			, --float,
		O.bordro_vlr_tarifa,	 -- VLR_TARIFA		, --float,
		0.0,		 -- VLR_IOF			, --float,
		0.0,		 -- VLR_FIPE		, --float,
		0,			 -- SCORE		, --INT,
		0,  -- PRAZO EM DIAS PRAZO		, --int,
		CASE	WHEN O.PARDIV_COD =4		  THEN  2 --'DPC'
				WHEN O.PARDIV_COD IN (3)	  THEN  1 --'CHEQUES'  7 não é mais cheque
				WHEN O.PARDIV_COD IN (6, 2,7,10) THEN  1 --'DUPLICATAS' 7 é duplicata -- INCLUI 6 NA DUPLICATA em 8/2/17 ******
				ELSE 1
				END, -- PLANO
		O.bordro_Tax_CustOPER,	 -- OPTXNET, OPSPREAD  EM TX_RATP		--TAXA		, --float,
		0.0,  -- RETORNO RETORNO			, --float,
		O.bordro_tax_custoper,	-- tx am	 --TAXA_SEM_RET	, --float,
		0,--ATRASO		, --int,
		0,--dtVencParc	, --smalldatetime,
		'',--DT_PAGTO	, --smalldatetime,
		0, --RENEGOCIADO	, --int,
		ISNULL(O.Bordro_Niv_Risco_Aplic,''), --RATING		, --varchar(2),
		O.Cednte_Cedn,	--CODCLI		, --varchar(15),
		O.bordro_prod,  --O.ctlCart_Cod,    -- PRODUTO CODPROD		, --smallint,   *******  ALTERADO 8/7/16 DIF. IOF NOS TITULOS, BORDERO REPETIDO PRO MESMO CLIENTE, PRODUTO DIFERENTE
		O.ParDIV_cod  ,   -- MODALIDADE NO COBRADORA  CODMODA		, --smallint,		--(SELECT espc_cod  FROM FinSGRDBS..tb_TITLO T (NOLOCK) WHERE T.BORDRO_NUM= O.BORDRO_NUM), CF ATT
		0,			-- AGENTE		, --varchar(6),
		bordro_prod, -- '', 		-- MODALIDADE  		-- Espc_cod no Tb_titlo
		''  ,  -- OPERADOR  CODOPER		, --varchar(20),
		'',   -- COD LOJA  CODLOJA		, --varchar(20),
		'',    -- ANO_MODELO	, --varchar(20),
		0.0 ,  -- TX_X_VLR	, --float,
		0.0 ,  -- PRZ_X_VLR	, --float,
		0      -- BORDERO		  --INT
		, '','', '',0.0,0.0 ,0.0 --   FX_ANO , FX_PLANO ,  NVL_RISCO ,  PLANO_X_VLR ,  TAXA_AA ,	TX_AA_X_VLR	
	FROM		FinSGRDBS..tb_bordro O (NOLOCK)  -- PRODUCAO
--		JOIN	FinSGRDBS..tb_TITLO  T (NOLOCK) ON	O.CEDNTE_CEDN = T.CEDNTE_CEDN 	AND O.BORDRO_NUM  = T.BORDRO_NUM
	WHERE		O.bordro_dat_MOVatu BETWEEN @DTINI AND @DTFIM 
			AND O.CtlCART_COD =11 


-- INCLUIR MOV DE 1/FEV/17 EM JANEIRO/17 E NAO CONSIDERAR EM FEV	******************** ALTERADO EM 8/2/17
-- ******************									OK
IF @DTFIM = '20170131'
INSERT	COMERCIAL_PRODUCAO
-- DECLARE  @DTINI DATETIME DECLARE @DTFIM DATETIME DECLARE @DTREF DATETIME SET @DTINI='20160901' SET @DTFIM='20160930' SET  @DTREF='20160930'
SELECT	DISTINCT
		@DTREF,	
		'D',	
		O.bordro_num, --
		O.bordro_dat_MOVatu,	-- DT
		--T.TITLO_DAT_ENTR,		-- DT
		O.bordro_vlr_bord,		-- VLR OPERADO  VP
		0.0,   -- VLR PARCELA NO VLR_PRINC
		0.0  ,		 -- VLR_PRESENTE	, --float,-- VP = vf - VLR Juros 
		0.0,		 -- VLR_RECEITA		, --float,		-- RECEITA = JUROS
		O.bordro_vlr_bord,  	 -- VLR_FUTURO		 float--bordro_vlr_TitABERT,		
		 O.bordro_vlr_bord- 	O.bordro_vlr_tarifa - 	 O.bordro_vlr_tac ,			-- Valor Liberado   -Juros - 	 IOF -- RETORNO VLR_LIBERADO	, --float, 
		O.bordro_vlr_tac,	    	 -- VLR_TC			, --float,
		O.bordro_vlr_tarifa,	 -- VLR_TARIFA		, --float,
		0.0,		 -- VLR_IOF			, --float,
		0.0,		 -- VLR_FIPE		, --float,
		0,			 -- SCORE		, --INT,
		0,  -- PRAZO EM DIAS PRAZO		, --int,
		CASE	WHEN O.PARDIV_COD =4		  THEN  2 --'DPC'
				WHEN O.PARDIV_COD IN (3)	  THEN  1 --'CHEQUES'  7 não é mais cheque
				WHEN O.PARDIV_COD IN (6, 2,7,10) THEN  1 --'DUPLICATAS' 7 é duplicata -- INCLUI 6 NA DUPLICATA em 8/2/17 ******
				ELSE 1
				END, -- PLANO
		O.bordro_Tax_CustOPER,	 -- OPTXNET, OPSPREAD  EM TX_RATP		--TAXA		, --float,
		0.0,  -- RETORNO RETORNO			, --float,
		O.bordro_tax_custoper,	-- tx am	 --TAXA_SEM_RET	, --float,
		0,--ATRASO		, --int,
		0,--dtVencParc	, --smalldatetime,
		'',--DT_PAGTO	, --smalldatetime,
		0, --RENEGOCIADO	, --int,
		ISNULL(O.Bordro_Niv_Risco_Aplic,''), --RATING		, --varchar(2),
		O.Cednte_Cedn,	--CODCLI		, --varchar(15),
		O.bordro_prod,  --O.ctlCart_Cod,    -- PRODUTO CODPROD		, --smallint,   *******  ALTERADO 8/7/16 DIF. IOF NOS TITULOS, BORDERO REPETIDO PRO MESMO CLIENTE, PRODUTO DIFERENTE
		O.ParDIV_cod  ,   -- MODALIDADE NO COBRADORA  CODMODA		, --smallint,		--(SELECT espc_cod  FROM FinSGRDBS..tb_TITLO T (NOLOCK) WHERE T.BORDRO_NUM= O.BORDRO_NUM), CF ATT
		0,			-- AGENTE		, --varchar(6),
		bordro_prod, -- '', 		-- MODALIDADE  		-- Espc_cod no Tb_titlo
		''  ,  -- OPERADOR  CODOPER		, --varchar(20),
		'',   -- COD LOJA  CODLOJA		, --varchar(20),
		'',    -- ANO_MODELO	, --varchar(20),
		0.0 ,  -- TX_X_VLR	, --float,
		0.0 ,  -- PRZ_X_VLR	, --float,
		0      -- BORDERO		  --INT
		, '','', '',0.0,0.0 ,0.0 --   FX_ANO , FX_PLANO ,  NVL_RISCO ,  PLANO_X_VLR ,  TAXA_AA ,	TX_AA_X_VLR	
	FROM		FinSGRDBS..tb_bordro O (NOLOCK)  -- PRODUCAO
--		JOIN	FinSGRDBS..tb_TITLO  T (NOLOCK) ON	O.CEDNTE_CEDN = T.CEDNTE_CEDN 	AND O.BORDRO_NUM  = T.BORDRO_NUM
	WHERE		O.bordro_dat_MOVatu ='20170201'
			AND O.CtlCART_COD =11 

-- ***********  FEV/17 NAO CONSIDERAR DESCONTO DE 1/FEV/17
IF @DTINI = '20170201'
	DELETE FROM	COMERCIAL_PRODUCAO  WHERE DT_BASE='20170201' AND PRODUTO='D'

-- ALTERACAO P/ CORRIGIR PROBLEMA NO DESCONTO, OPERACAO NAO FINALIZADA ************* 11/05/2016  ************
IF @DTINI = '20160401' --04/05/2016 00:00:00
BEGIN
	-- MOVIMENTADO EM MAIO/16 MAS OPERACAO DE ABR/16 ***********
	INSERT	COMERCIAL_PRODUCAO
	SELECT	DISTINCT
			@DTREF,	
			'D',	
			O.bordro_num, --
			O.bordro_dat_MOVatu,	-- DT
			--T.TITLO_DAT_ENTR,		-- DT
			O.bordro_vlr_bord,		-- VLR OPERADO  VP
			0.0,   -- VLR PARCELA NO VLR_PRINC
			-- VP = vf - VLR Juros 
			0.0  ,		 -- VLR_PRESENTE	, --float,
			-- RECEITA = JUROS
			0.0,		 -- VLR_RECEITA		, --float,
			O.bordro_vlr_bord,  	 -- VLR_FUTURO		 float
			--bordro_vlr_TitABERT,		
	-- Valor Liberado   -Juros - 	 IOF 
			 O.bordro_vlr_bord- 	O.bordro_vlr_tarifa - 	 O.bordro_vlr_tac ,	
		 -- RETORNO VLR_LIBERADO	, --float,
			O.bordro_vlr_tac,	    	 -- VLR_TC			, --float,
			O.bordro_vlr_tarifa,	 -- VLR_TARIFA		, --float,
			0.0,		 -- VLR_IOF			, --float,
			0.0,		 -- VLR_FIPE		, --float,
			0,			 -- SCORE		, --INT,
			0,  -- PRAZO EM DIAS PRAZO		, --int,
	--		1,  --PLANO		, --INT,
			CASE	WHEN O.PARDIV_COD =4		  THEN  2 --'DPC'
					WHEN O.PARDIV_COD IN (3)	  THEN  1 --'CHEQUES'  7 não é mais cheque
					WHEN O.PARDIV_COD IN (6, 2,7,10) THEN  1 --'DUPLICATAS' 7 é duplicata -- INCLUI 6 NA DUPLICATA em 8/2/17 ******
					ELSE 1
					END, -- PLANO
			--TAXA		, --float,
			O.bordro_Tax_CustOPER,	 -- OPTXNET, OPSPREAD  EM TX_RATP
			0.0,  -- RETORNO RETORNO			, --float,
			O.bordro_tax_custoper,	-- tx am	 --TAXA_SEM_RET	, --float,

			0,--ATRASO		, --int,
			0,--dtVencParc	, --smalldatetime,
			'',--DT_PAGTO	, --smalldatetime,
			0, --RENEGOCIADO	, --int,
			ISNULL(O.Bordro_Niv_Risco_Aplic,''), --RATING		, --varchar(2),

			O.Cednte_Cedn,	--  CODCLI		, --varchar(15),
			O.bordro_prod,  --  O.ctlCart_Cod,    -- PRODUTO CODPROD		, --smallint,   ********* ALTERADO  8/7/16

			O.ParDIV_cod  ,   -- MODALIDADE NO COBRADORA  CODMODA		, --smallint,
			--(SELECT espc_cod  FROM FinSGRDBS..tb_TITLO T (NOLOCK) WHERE T.BORDRO_NUM= O.BORDRO_NUM), CF ATT

			0,			-- AGENTE		, --varchar(6),
			-- MODALIDADE  		-- Espc_cod no Tb_titlo
			'', 
			''  ,  -- OPERADOR  CODOPER		, --varchar(20),
			'',   -- COD LOJA  CODLOJA		, --varchar(20),
			'',    -- ANO_MODELO	, --varchar(20),
			0.0 ,  -- TX_X_VLR	, --float,
			0.0 ,  -- PRZ_X_VLR	, --float,
			0      -- BORDERO		  --INT
			, '','', '',0.0,0.0 ,0.0 --   FX_ANO , FX_PLANO ,  NVL_RISCO ,  PLANO_X_VLR ,  TAXA_AA ,	TX_AA_X_VLR	
		FROM		FinSGRDBS..tb_bordro O (NOLOCK)
		WHERE	-- PRODUCAO AJUSTADA EXCECAO
					O.bordro_num = 32 AND O.cednte_cedn = 294001  -- 294001	32
				AND O.CtlCART_COD =11 
END
-- REMOVE A EXCECAO DE  MAIO/16
IF @DTINI = '20160501' --04/05/2016 00:00:00
BEGIN
	-- MOVIMENTADO EM MAIO/16 MAS OPERACAO DE ABR/16 ***********
	DELETE FROM	COMERCIAL_PRODUCAO WHERE  DT_FECHA='20160531' AND PRODUTO='D' AND NUM_OPE = 32 AND CODCLI = 294001 
END


/*
-- ***************************** INCLUIDO BKF EM 30/01/2017
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES  BKF NO FUNCAO MAS SEPARADO NO COML E CRED
-- ******************									OK
INSERT	COMERCIAL_PRODUCAO
			(DT_FECHA		, --smalldatetime,
			PRODUTO			, --VARCHAR(2),  -- DESCONTO, CAPITAL GIRO, VEICULO, RENEGOCI, CP
			NUM_OPE			, --varchar(50),
			DT_BASE			, --smalldatetime,
			VLR_OP			, --float,
			VLR_PARC		, --float,
			VLR_PRESENTE	, --float,
			VLR_RECEITA		, --float,
			VLR_FUTURO		, --float,
			VLR_LIBERADO	, --float,
			VLR_TC			, --float,
			VLR_TARIFA		, --float,
			VLR_IOF			, --float,
			VLR_FIPE		, --float,

			SCORE		, --INT,

			PRAZO		, --int,
			PLANO		, --INT,

			TAXA_AA		, --float,
			taxa,
			RETORNO			, --float,
			TAXA_SEM_RET	, --float,

			ATRASO		, --int,
			dtVencParc	, --smalldatetime,
			DT_PAGTO	, --smalldatetime,
			RENEGOCIADO	, --int,
			RATING		, --varchar(2),

			CODCLI		, --varchar(15),
			CODPROD		, --smallint,
			CODMODA		, --smallint,
			AGENTE		, --varchar(6),
			VEICULO		, --varchar(20),
			CODOPER		, --varchar(20),
			CODLOJA		, --varchar(20),
			ANO_MODELO	, --varchar(20),
			TX_X_VLR	, --float,
			PRZ_X_VLR	, --float,
			BORDERO		  --INT

				 )   
-- DECLARE  @DTINI DATETIME DECLARE @DTFIM DATETIME DECLARE @DTREF DATETIME SET @DTINI='20150101' SET @DTFIM='20150131' SET  @DTREF='20150131'
SELECT	@DTREF,	'BF',
		OPNROPER, OPDTBASE,
		OPVLROPCZ,	 -- VLR OPERADO
		OPVLRPARC,   -- VLR PARCELA NO VLR_PRINC
		OPVlrOpCZ,		 -- VLR_PRESENTE	, --float,  *******************
		0.0,		 -- VLR_RECEITA		, --float,
		OPVLRPARC *  OPQTDDPARC,		 -- VLR_FUTURO				, --float,
		OPVLRFIN,			 --  VLR_LIBERADO	, --float,
		OPDESPESA3,		 -- VLR_TC			, --float,
		OPTAC,		 -- VLR_TARIFA		, --float,
		OPIOC,		 -- VLR_IOF			, --float,
		0.0,		 -- VLR_FIPE		, --float,

		0,			 -- SCORE		, --INT,

		DATEDIFF(DD,OPDTBASE,OPDTVCTO),  -- PRAZO EM DIAS PRAZO		, --int,
		OPQTDDPARC,  --PLANO		, --INT,

		--TAXA		, --float,
		OPTXJRCL,	 -- OPTXNET, OPSPREAD  EM TX_RATP OPTXJRCL, OPTXJRNOM  56,7054, OPTXJRAP
		OPTXJRCL,
		OPDESPESA4,  -- RETORNO RETORNO			, --float,
		OPTXJRCL,		 --TAXA_SEM_RET	, --float,

		0,--ATRASO		, --int,
		0,--dtVencParc	, --smalldatetime,
		'',--DT_PAGTO	, --smalldatetime,
		0, --RENEGOCIADO	, --int,
		'', --RATING		, --varchar(2),


		OPCODCLI,--CODCLI		, --varchar(15),
		OPCODPROD,  -- PRODUTO CODPROD		, --smallint,
		OPCODOP  ,  -- MODALIDADE NO COBRADORA  CODMODA		, --smallint,
		0,			-- AGENTE		, --varchar(6),
		'', -- VEICULO		, -- varchar(20),
		OPCODORG3  ,  -- OPERADOR  CODOPER		, --varchar(20),
		OPCODORG4,   -- COD LOJA  CODLOJA		, --varchar(20),
		'',    -- ANO_MODELO	, --varchar(20),
		0.0 ,  -- TX_X_VLR	, --float,
		0.0 ,  -- PRZ_X_VLR	, --float,
		0      -- BORDERO		  --INT
		
-- SELECT DATEDIFF(DD,OPDTBASE,OPDTVCTO),* 
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	-- PRODUCAO
			OPDTBASE BETWEEN @DTINI AND @DTFIM 
		--   LISTA COM MODALIDADES DO PRODUTO VEIC
		AND OPCODOP IN (SELECT	M.COD_MODA
						FROM	 Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
						AND T.COD_PROD IN ( 'BF','BK' ) ) -- ALTERADO 30/01/2017 INCLUIDO BANKFACIL
--  fim inclusao BKF ********************
nao precisa entra pela carteira
*/





-- ATUALIZA VEICULO COM DESCRICAO DA MODALIDADE
--		DECLARE @DTREF DATETIME SET @DTREF = '20160630'
UPDATE		COMERCIAL_PRODUCAO
	SET		VEICULO = T.DESCR_TIPO
	FROM	Ttipo_prod T (NOLOCK) ,
			TModa_tipo_prod M (NOLOCK) 
	WHERE	COMERCIAL_PRODUCAO.DT_FECHA = @DTREF
		AND	COMERCIAL_PRODUCAO.PRODUTO  = 'D'		  -- desconto
		AND T.COD_PROD = COMERCIAL_PRODUCAO.PRODUTO	  -- PRODUTO
		AND T.COD_PROD = M.COD_PROD
--		AND COMERCIAL_PRODUCAO.CODPROD  = 11		  -- DESCONTO
		AND COMERCIAL_PRODUCAO.CODPROD  IN (1,10, 11) -- DESCONTO  *********** ALTERADO 8/7/16
		AND COMERCIAL_PRODUCAO.CODMODA  = M.COD_MODA  -- BAIXO NIVEL MODALIDADE DA OPERACAO
		AND T.COD_MODALIDADE = M.COD_MODALIDADE		  -- TIPO DA OPERACAO	
/*		
-- nome do Operador
select * FROM		FinSGRDBS..tb_oper
-- SELECT * 
	FROM		FinSGRDBS..tb_bordro O (NOLOCK)
	WHERE	-- PRODUCAO
			bordro_dat_MOVatu BETWEEN @DTINI AND @DTFIM 
		AND CtlCART_COD =11  -- SOMENTE DESCONTO

*/


 -- SELECT COD_OPER,*  	FROM		FinSGRDBS..tb_OPERADOR
-- SELECT *  	FROM		FinSGRDBS..tb_TITLO O (NOLOCK)
-- SELECT *  	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK)
-- SELECT *  	FROM		FinSGRDBS..tb_CEDNTE_MCK O (NOLOCK)
-- SELECT *  	FROM		FinSGRDBS..tb_OPERC  -- COD OPERACAO

-- SELECT *  	FROM		FinSGRDBS..SGRtbLeNTtIT O (NOLOCK)
-- SELECT *  	FROM		FinSGRDBS..tSPoPERACOES O (NOLOCK)
-- SELECT *  	FROM		FinSGRDBS..tSPheader O (NOLOCK)
-- SELECT *  	FROM		FinSGRDBS..sgrTblBctCedente
-- SELECT *  	FROM		FinSGRDBS..ctbtblitcevento
-- SELECT *  	FROM		FinSGRDBS..sgrTblCedtar
-- SELECT *  	FROM		FinSGRDBS..sgrTblCsdCedenteSacado

-- *************************************
-- PRAZO MEDIO DO ATT DESCONTO
UPDATE	COMERCIAL_PRODUCAO
SET		PRAZO = (SELECT MAX(opeblt_prz_medio)
				FROM	FinSGRDBS..tb_bordro BORD (NOLOCK)	
				JOIN	FINSGRDBS..tb_cob_opeblt  B (NOLOCK)
					ON CONVERT(INT,COMERCIAL_PRODUCAO.CODCLI) = B.cednte_cedn 
					-- removi **************** dias diferentes  1d ***********  ALTERADO 17/10/16
					-- and COMERCIAL_PRODUCAO.DT_BASE= B.boleta_dat_entr
					AND OPEBLT_VLR =BORD.BORDRO_VLR_BORD
					AND BORD.BORDRO_QTD_TIT = B.OPEBLT_NUM_TITULOS 

				WHERE	CONVERT(INT,COMERCIAL_PRODUCAO.CODCLI) = BORD.cednte_cedn 
					and CONVERT(INT,COMERCIAL_PRODUCAO.NUM_OPE) =  BORD.BORDRO_NUM
				
					and COMERCIAL_PRODUCAO.DT_BASE= BORD.boRDRO_dat_MOVatu
					 )
WHERE	PRODUTO='D' AND DT_FECHA = @DTREF  
--		AND COMERCIAL_PRODUCAO.CODPROD  = 11		  -- DESCONTO
		AND COMERCIAL_PRODUCAO.CODPROD  IN (1,10, 11)	  -- DESCONTO  *********** ALTERADO 8/7/16


-- AJUSTA VALORES DESCONTO COM BASE NOS TITULOS CONTIDOS NUM BORDERO
-- SELECT * FROM COMERCIAL_PRODUCAO WHERE DT_FECHA='20140630' AND PRODUTO='D'
-- liberado  =pv-iofv-tarif-tac
-- DECLARE @DTREF DATETIME  SET @DTREF='20160630'  declare @DTINI datetime  SET @DTINI='20160601' declare @DTFIM datetime set @DTFIM='20160630' 
-- DECLARE @DTREF DATETIME  SET @DTREF='20150131' declare @DTINI datetime declare @DTFIM datetime set @DTINI='20150101' set @DTFIM='20150131' 
UPDATE		COMERCIAL_PRODUCAO
	SET		VLR_PRESENTE = TITULO.VP + TITULO.IOF,
			VLR_IOF		 = TITULO.IOF,
			VLR_LIBERADO = TITULO.VP  -VLR_TARIFA - VLR_TC
--			PRAZO		 = CASE WHEN VEICULO IN ('DUPLICATAS','CHEQUES') THEN TITULO.PZOM--+2.0
--								ELSE TITULO.PZO+1.0 END				
	FROM	(   SELECT	CEDNTE_CEDN, Bordro_Prod, BORDRO_NUM , SUM( titlo_vlr_moe_datEnt ) AS VP,
						SUM( titlo_vlr_iof_qtdMda ) AS IOF ,
-- VP MEDIA PONDERADA
-- antes media simples
--						SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_emiss,TITLO_DAT_VENC)))/CONVERT(FLOAT,COUNT(TITLO_DAT_emiss))  AS PZO

-- prazo=	media ponderada pelo vlr tit
--			titlo_vlr_moe_tit
-- prazo=prazo cheq+ 2d compens
--						SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_emiss,TITLO_DAT_VENC))* titlo_vlr_moe_tit)/
--							SUM(titlo_vlr_moe_tit)  AS PZO

/*
						-- tratar se 0 -- media simples do PRAZO
						case when ISNULL(COUNT(TITLO_DAT_emiss),0) = 0 then 0.0
							 else
								SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_ENTR,TITLO_DAT_venc)))/
									CONVERT(FLOAT,COUNT(TITLO_DAT_emiss)) 
							 end	 AS PZOM ,
						-- tratar se 0, p/ nao resultar em Erro DIV0
						case when ISNULL(COUNT(TITLO_DAT_emiss),0) = 0 then 0.0
							 else
								SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_ENTR,TITLO_DAT_VENC)))/
									CONVERT(FLOAT,COUNT(TITLO_DAT_emiss)) 
							 end	 AS PZO
*/

						-- tratar se 0  -- media ponderada do PRAZO
						-- vp=titlo_vlr_moe_datent				vf=titlo_vlr_moe_tit
						case when ISNULL(COUNT(TITLO_DAT_ENTR),0) = 0 then 0.0
							 else
/*
-- 2 DIAS DE COMPENSACAO, SE FDS + DIAS
CASE WHEN DATEPART(DW,DATEADD(DD,+2,TITLO_DAT_VENC)) IN (1,7) THEN 
								SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_ENTR,DATEADD(DD,+4,TITLO_DAT_venc) ))*titlo_vlr_moe_tit)/
									SUM(titlo_vlr_moe_tit) 
ELSE
*/
		-- COM A COMPENSACAO +2 , VCTO CAI EM DIA DA SEMANA
								SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_ENTR,DATEADD(DD,+2,TITLO_DAT_venc) ))*titlo_vlr_moe_tit)/
									SUM(titlo_vlr_moe_tit) 
--END

							 end	 AS PZOM ,
						-- tratar se 0, p/ nao resultar em Erro DIV0
						case when ISNULL(COUNT(TITLO_DAT_emiss),0) = 0 then 0.0
							 else
								SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_ENTR,TITLO_DAT_VENC))*titlo_vlr_moe_tit)/
									SUM(titlo_vlr_moe_tit) 
							 end	 AS PZO

						-- prazo de cada titulo : TITLO_DAT_VENC	-	TITLO_DAT_emiss
				FROM		FinSGRDBS..tb_TITLO O (NOLOCK) 
				WHERE		--TITLO_DAT_ENTR BETWEEN dateadd(m,-1,@DTINI) AND @DTFIM   -- alterado 13/5/16 pq nao entrou Titulo de Mar em Bordero d 1/Abr
							TITLO_DAT_ENTR BETWEEN @DTINI AND @DTFIM   -- alterado 08/7/16 p/ ajustar IOF a maior
							--BETWEEN '20140601' AND '20140630' 
						AND CtlCART_COD =11 
				GROUP BY	CEDNTE_CEDN, Bordro_Prod, BORDRO_NUM ) AS TITULO 
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  = 'D'
		--AND CODPROD  = 11  -- DESCONTO
		AND CONVERT(INT,CODCLI)   = TITULO.CEDNTE_CEDN
		AND CONVERT(INT,NUM_OPE)  = TITULO.BORDRO_NUM
--		AND CODCLI   = TITULO.CEDNTE_CEDN		AND NUM_OPE  = TITULO.BORDRO_NUM  -- ****** ALTERADO 8/7/16
		AND CODPROD = TITULO.Bordro_Prod  -- INCLUIDO 8/7/16 PQ DIFERE IOF , SIG A MAIOR. CHAVE ALTERADO: PRODUTO
-- VOLTA O CODPROD   **************
UPDATE		COMERCIAL_PRODUCAO
	SET		CODPROD  = 11  -- DESCONTO 
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  = 'D'

/* PRAZO DO ATT NAO PRECISA CALCULAR
-- AJUSTA O PRAZO + 2D PARA COMPENSACAO DE CHEQUES E DUPLICATAS
UPDATE		COMERCIAL_PRODUCAO
	SET		PRAZO		 = PRAZO --+ 2.0
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  = 'D'
		AND CODPROD  = 11  -- DESCONTO
		AND VEICULO  = 'CHEQUES'

UPDATE		COMERCIAL_PRODUCAO
	SET		PRAZO		 = PRAZO - 1.0
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  = 'D'
		AND CODPROD  = 11  -- DESCONTO
		AND VEICULO  = 'DUPLICATAS'

UPDATE		COMERCIAL_PRODUCAO
	SET		PRAZO		 = PRAZO  + 1.0
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  = 'D'
		AND CODPROD  = 11  -- DESCONTO
		AND VEICULO  = 'DPC'
*/

-- CALCULO DO PRAZO COM TABELA AUXILIAR
/*
DROP   TABLE TAUX_PRAZO_DESC
CREATE TABLE TAUX_PRAZO_DESC
(	CEDNTE_CEDN		numeric(9),
	BORDRO_NUM		numeric(9),	
	TIPO			VARCHAR(50),
	VALOR			FLOAT,
	TITLO_NOSS_NUM	numeric(9),
	TITLO_DAT_ENTR	DATETIME,
	TITLO_DAT_VENC	DATETIME, 
	VENCTO			DATETIME,
	PRAZO			INT,
	PRAZOMED		FLOAT

)

*/

-- select opeblt_prz_medio, * from FINSGRDBS..tb_cob_opeblt where cednte_cedn = 49001 and boleta_num = 1 and boleta_datmov = '02 apr 2015' and boleta_dat_entr = '02 apr 2015';


-- SELECT * FROM   COMERCIAL_PRODUCAO WHERE DT_FECHA='20150131' AND PRODUTO='D' AND VEICULO='CHEQUES'
/*

 SELECT	CEDNTE_CEDN, BORDRO_NUM , SUM( titlo_vlr_moe_datEnt ) AS VP,
						SUM( titlo_vlr_iof_qtdMda ) AS IOF ,

--  media simples ok
						SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_emiss,TITLO_DAT_VENC)))/CONVERT(FLOAT,COUNT(TITLO_DAT_emiss))  AS PZO_MED_SIMPL,

-- prazo=	media ponderada pelo vlr tit  MENOR
--			titlo_vlr_moe_tit
-- prazo=prazo cheq+ 2d compens
						SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_emiss,TITLO_DAT_VENC))* titlo_vlr_moe_tit)/
							SUM(titlo_vlr_moe_tit)  AS PZO
						-- prazo de cada titulo : TITLO_DAT_VENC	-	TITLO_DAT_emiss
				FROM		FinSGRDBS..tb_TITLO O (NOLOCK) 
				WHERE		 bordro_num=123 and cednte_cedn=58001
GROUP BY bordro_num,cednte_cedn

SELECT	* FROM FinSGRDBS..tb_TITLO O (NOLOCK) WHERE	 bordro_num=129 and cednte_cedn=58001
*/
		-- (H25/K25)^(1/N25))^30)-1)*100)
		-- TAXA_SEM_RET=( POWER(VLR_FUTURO /VLR_PRESENTE,(1/PRAZO)^30-1)*100
		-- PRAZO 35.38 MENOR
		-- SELECT 	(POWER( POWER((3510.0 /3355.06),(1.0/38.38)),30.0)-1.0)*100.0
-- SELECT power(3.0  , 2.0)
-- DECLARE @DTREF DATETIME  SET @DTREF='20140630'
-- DECLARE @DTREF DATETIME  SET @DTREF='20150131' declare @DTINI datetime declare @DTFIM datetime set @DTINI='20150101' set @DTFIM='20150131' 

-- *********************************** TX DESCONTO
-- DECLARE @DTREF DATETIME  SET @DTREF='20150131'
-- DECLARE @DTREF DATETIME  SET @DTREF='20170207'
UPDATE		COMERCIAL_PRODUCAO
	SET		TAXA_SEM_RET = case when isnull(VLR_PRESENTE,0.0) =0.0 or isnull(PRAZO,0)=0 then 0.0
								else (POWER( POWER((VLR_FUTURO /VLR_PRESENTE),(1.0/PRAZO)) ,30.0)-1.0)*100.0 
								end,
			--TX_X_VLR     = TAXA_SEM_RET * VLR_PRESENTE,			
			PRZ_X_VLR    = PRAZO * VLR_PRESENTE, -- VLR_PRESENTE,
			RETORNO      = 0.0,
			VLR_RECEITA  = VLR_FUTURO - VLR_PRESENTE
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  = 'D'
		AND CODPROD  = 11  -- DESCONTO 
--		AND CODPROD  IN (1,10) -- = 11  -- DESCONTO  *************** ALTERADO 8/7/16
-- TX AA
UPDATE		COMERCIAL_PRODUCAO
	SET		TAXA_AA =( (POWER(((TAXA_SEM_RET/100.0)+1.0),(12.0))-1.0)*100.0) 
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  = 'D'
		AND CODPROD  = 11  -- DESCONTO 
--		AND CODPROD  IN (1,10) -- = 11  -- DESCONTO  *************** ALTERADO 8/7/16

-- CALCULA VALORES COM MEDIA PONDERADA PELO VLR_PRESENTE (antes)
-- nao alterar! MUDEI PARA VLR_OP= VLR FUTURO
-- DECLARE @DTREF DATETIME SET @DTREF ='20150131'
-- DECLARE @DTREF DATETIME SET @DTREF ='20150228'
UPDATE		COMERCIAL_PRODUCAO
SET			TX_X_VLR	= 	TAXA_SEM_RET * VLR_PRESENTE  -- AUXILIAR NO CALCULO DA MEDIA PONDERADA
		,	TX_AA_X_VLR = 	TAXA_AA  *  VLR_PRESENTE     -- AUXILIAR NO CALCULO DA MEDIA PONDERADA
		,	PRZ_X_VLR	= PRAZO * VLR_PRESENTE  
		,	PLANO_X_VLR = PLANO * VLR_PRESENTE  
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  = 'D'
		AND CODPROD  = 11  -- DESCONTO 
--		AND CODPROD  IN (1,10) -- = 11  -- DESCONTO  *************** ALTERADO 8/7/16


-- SELECT * 	FROM		FinSGRDBS..tb_bordro O (NOLOCK)	WHERE bordro_dat_MOVatu BETWEEN  '20140601' AND '20140630' 	AND cednte_cedn=118001
-- SELECT * 	FROM		FinSGRDBS..tb_bordro O (NOLOCK)	WHERE  cednte_cedn=118001 and bordro_vlr_bord = 6668.0

-- SELECT * 	FROM		FinSGRDBS..tb_bordro O (NOLOCK)	WHERE bordro_dat_MOVatu BETWEEN  '20140601' AND '20140630' 	AND CtlCART_COD =11  -- SOMENTE DESCONTO
-- SELECT * 	FROM		FinSGRDBS..tb_TITLO O (NOLOCK) WHERE TITLO_DAT_ENTR BETWEEN '20140601' AND '20140630' AND CtlCART_COD =11 

-- SELECT * 	FROM		FinSGRDBS..tb_TITLO O (NOLOCK) WHERE  bordro_num=160 and cednte_cedn=42001
-- juros, iof, prazo
-- cliente  42001
-- SELECT * 	FROM		FinSGRDBS..tb_cednte O (NOLOCK) WHERE   cednte_cedn=42001
-- SELECT *     FROM	CDCSANTANAMicroCredito..cclie where clcodcli ='42001'
-- SELECT *     FROM	CDCSANTANAMicroCredito..cclie where clcodcli ='5942637000110'


-- prazo medio em dias 
-- select 	SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_emiss,TITLO_DAT_VENC)))/CONVERT(FLOAT,COUNT(TITLO_DAT_emiss))  AS PZO 	FROM		FinSGRDBS..tb_TITLO O (NOLOCK) WHERE TITLO_DAT_ENTR BETWEEN '20140601' AND '20140630' AND CtlCART_COD =11 and bordro_num=123 and cednte_cedn=58001

-- 58001
--  SELECT * 	FROM		FinSGRDBS..tb_bordro O (NOLOCK)	WHERE  cednte_cedn=58001 and bordro_vlr_bord = 3510.0
-- SELECT * 	FROM		FinSGRDBS..tb_TITLO O (NOLOCK) WHERE  bordro_num=123 and cednte_cedn=58001
-- SELECT * FROM COMERCIAL_PRODUCAO WHERE DT_FECHA='20140630' AND PRODUTO='D' and codcli=58001 AND NUM_OPE = 123
-- SELECT * FROM COMERCIAL_PRODUCAO WHERE DT_FECHA='20140630' AND PRODUTO='D' and codcli=58001 AND NUM_OPE = 129


-- SELECT * 	FROM FinSGRDBS..tb_bordro_mck vazio
-- SELECT * 	FROM FinSGRDBS..TSPPARCELAS   vazio
-- SELECT * 	FROM FinSGRDBS..sgrtblsanfrancesa  vazio
-- SELECT * 	FROM COMERCIAL_PRODUCAO


		-- COD DO AGENTE ********************	DO SISTEMA FUNCAO
		UPDATE	COMERCIAL_PRODUCAO
		SET		AGENTE		= ISNULL(OP.O3CODORGA13,'') -- ISNULL(A.COD_AGENTE,'')
		FROM	CDCSANTANAMicroCredito..TORG3 OP (NOLOCK) 
		WHERE	DT_FECHA=@DTREF
			AND CODOPER = O3CODORG  -- OPERADOR
		-- OPERADOR AGENTE= OPCODORG3
		
		UPDATE	COMERCIAL_PRODUCAO
		SET		AGENTE	='' 
		WHERE	DT_FECHA=@DTREF
			AND AGENTE IS NULL


		-- RATING DO HISTORICO ********************
		-- SP_HELP COMERCIAL_PRODUCAO
		-- TODOS OS PRODUTOS
		UPDATE	COMERCIAL_PRODUCAO
		SET		NVL_RISCO		= ISNULL(OP.NVL_RISCO,'') -- RETORNO
				--,VLR_PRESENTE    = ISNULL(OP.SLD_INSCRITO, 0.0)  ESTA NO COPER, OPVlrOpCZ
		FROM	(SELECT NUM_OPE, NVL_RISCO, SLD_INSCRITO FROM RATING_HISTORICO O (NOLOCK) 
					WHERE DT_FECHA = @DTPDD ) AS OP
		WHERE	DT_FECHA=@DTREF
			AND	COMERCIAL_PRODUCAO.NUM_OPE = OP.NUM_OPE  -- OPERADOR
			AND PRODUTO NOT IN ('D')  -- EXCETO DESCONTO, SOMENTE VEICULOS

/*
		-- NAO VEICULOS E NAO DESCONTO
		-- DECLARE 	@DTREF DATETIME		SET @DTREF='20140630'
		UPDATE	COMERCIAL_PRODUCAO
		SET		--NVL_RISCO		= ISNULL(OP.NVL_RISCO,''), -- RETORNO
				VLR_PRESENTE    = ISNULL(OP.SLD_INSCRITO, 0.0)
		FROM	(SELECT NUM_OPE, NVL_RISCO, SLD_INSCRITO FROM PDD_SEM_VEIC O (NOLOCK) 
					WHERE DT_FECHA = @DTPDD ) AS OP
		WHERE	PRODUTO NOT IN ('V','D')
			AND	COMERCIAL_PRODUCAO.NUM_OPE = OP.NUM_OPE  -- OPERADOR
*/
-- 10			
		-- ANO MODELO ********************   
		UPDATE		COMERCIAL_PRODUCAO
		SET		ANO_MODELO = ISNULL(ABANOMOD,'S/INF')  -- com Ano Modelo
		--		ALTERADO PARA TRAZER OS ANOS DE MODELO DOS VEICULOS 22/3/17	**********
		FROM	(	SELECT  ABNROPER, MAX(ABANOMOD) AS ABANOMOD
					FROM	CDCSANTANAMicroCredito..CBFIN B (NOLOCK)-- order by abnroper
					GROUP BY ABNROPER	) AS M
		WHERE	DT_FECHA=@DTREF
			AND PRODUTO='V'				-- INCLUI PARA AJUSTAR EM 16/3/17  **************
			AND	NUM_OPE= M.ABNROPER

/* -- ANTES DE 22/03/17
		FROM	CDCSANTANAMicroCredito..CBFIN B (NOLOCK)
		WHERE	DT_FECHA=@DTREF
			AND PRODUTO='V'				-- INCLUI PARA AJUSTAR EM 16/3/17  **************
			AND	NUM_OPE= B.ABNROPER
			AND B.ABCNTRL = (SELECT		MAX(BX.ABCNTRL) 
								FROM	CDCSANTANAMicroCredito..CBFIN BX (NOLOCK) 
								WHERE	BX.ABNROPER = B.ABNROPER )
			AND B.ABNRGAR = '01'
*/



--SELECT CLRENDACPV,* FROM PROPwEBsmc..CCLIP

/*

			
		-- VLR DO RETORNO ********************	 NA TABELA DE DESPESA
		UPDATE	RATING_PROJETADO
		SET		VLR_PDD		= ISNULL(OP.O3CODORGA13,0.0) -- RETORNO
		FROM	CDCSANTANAMicroCredito..T OP (NOLOCK) 
		WHERE	NUM_OPE = O3CODORG  -- OPERADOR




-- FALTOU CARTEIRA 80 = REFIN UTILIT 
-- CODOP 800
SELECT * FROM CDCSANTANAMicroCredito..TMODA WHERE TOCODCART=80
		-- NOME DO AGENTE ********************	
		UPDATE	RATING_PROJETADO
		SET		AGENTE		= ISNULL(A.A13DESCR,'') --ISNULL(A.agente,'')
		FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)
		WHERE	AGENTE = A13CODORG --a.COD_agente  -- CONTEM CODIGO

		UPDATE	RATING_PROJETADO
		SET		AGENTE	='' WHERE AGENTE IS NULL
*/


			-- P1 VCTO OPDT1VCTO
--		AND OPNROPER = PANROPER
--		AND CONVERT(INT,PANRPARC) = 1 
--		AND CONVERT(VARCHAR(8),PADTVCTO,112) BETWEEN @DTINI AND @DTFIM   -- VENCIDO NO PERIODO, APOS FECHAMENTO
		-- AND CONVERT(VARCHAR(8),PADTVCTO,112) BETWEEN '20140501' AND '20140531'   -- VENCIDO NO PERIODO, APOS FECHAMENTO
		-- se nao existem NO ARQUIVO
		-- AND OPNROPER NOT IN (SELECT NUM_OPE FROM	RATING_PROJETADO (NOLOCK) )
		-- ALTERADO 6/8/2014 ********************************************************************
		-- SE FOR RENEGOCIACAO, PRECISA MANTER A DT BASE DA OPERACAO RENEGOCIADA, NAO ORIGINAL!!


-- SELECT *	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)	WHERE	OPDT1VCTO BETWEEN '20140801' AND '20140831' AND OPDTLIQ1 IS NULL
-- DT VENCTO P1 = OPDT1VCTO
-- SOMENTE VEICULOS FILTRAR OPCODOP
-- OPDTBASE BETWEEN '20140801' AND '20140831'  -- DT CONTRATO
	--OPDTBASE BETWEEN @DTINI AND @DTFIM	AND
--		CONVERT(VARCHAR(8),OPDTBASE,112) BETWEEN @DTINI AND @DTFIM 

/*
 SELECT *	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK),
					CDCSANTANAMicroCredito..CPARC P (NOLOCK)
	WHERE	OPDT1VCTO BETWEEN '20140801' AND '20140831'  --AND OPDTLIQ1 IS NULL
		AND P.PANROPER=O.OPNROPER AND P.PANRPARC=1

SELECT *	FROM	RATING_PROJETADO


UPDATE	COMERCIAL_PRODUCAO 
	SET DT_VCTO = PADTLIQ,  -- USAR PARA PAGTO
		-- ATRASO 
		ATRASO = CASE WHEN  PADTLIQ IS NULL THEN --DATEDIFF(DD,PADTVCTO,'20140430') ELSE 0 END
							DATEDIFF(DD,PADTVCTO,@DTM1) ELSE 0 END
	FROM	COMERCIAL_PRODUCAO O (NOLOCK),
			CDCSANTANAMicroCredito..CPARC P (NOLOCK)
	WHERE	O.NUM_OPE =P.PANROPER
		AND P.PANRPARC=1		-- PARCELA 1 *********************
		AND P.PACNTRL = (SELECT MAX(P1.PACNTRL) FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
							WHERE P1.PANROPER= P.PANROPER AND P1.PANRPARC = P.PANRPARC)
*/

/*
-- SP_HELP RATING_HISTORICO
DROP   TABLE SPREAD_HISTORICO
CREATE TABLE SPREAD_HISTORICO (
DT_FECHA	smalldatetime,
NUM_OPE		varchar(50),
DT_BASE		smalldatetime,
VLR_OP		float,
VLR_PARC	float,
PRAZO		int,
TAXA		float,
RETORNO		FLOAT,
TAXA_SEM_RET	float,

ATRASO		int,
dtVencParc	smalldatetime,
DT_PAGTO	smalldatetime,
RENEGOCIADO	INT,  -- 0 OU 1
RATING	varchar(2),

CODCLI	varchar(15),
CODPROD	smallint,
CODMODA SMALLINT,
AGENTE		varchar(6),
VEICULO		varchar(20),
ANO_MODELO	VARCHAR(20),
RENDA		FLOAT,
FX_RENDA	VARCHAR(20),
FX_PRAZO	VARCHAR(20)
)

CREATE INDEX SPREAD_HISTORICO_idx1 ON SPREAD_HISTORICO  
	(DT_FECHA		,
	NUM_OPE			,
	AGENTE			,
	VEICULO			,
	RENEGOCIADO		-- 0 OU 1
		) 


ALTER TABLE  SPREAD_HISTORICO ADD CODOPER VARCHAR(20), CODLOJA VARCHAR(20), TX_X_VLR FLOAT, PRZ_X_VLR FLOAT
ALTER TABLE  SPREAD_HISTORICO ADD PLANO INT

 alter table SPREAD_HISTORICO add  idade float, fx_idade  varchar(50) 

 alter table SPREAD_HISTORICO add  fx_ANO  varchar(50) 

 alter table SPREAD_HISTORICO add  OCUPACAO  varchar(50) 

SELECT * FROM SPREAD_HISTORICO
SPREAD_HISTORICO_SAFRA

-- SP_HELP TSM
DROP   TABLE TSM
CREATE TABLE TSM (
DT_DE		smalldatetime,
VLR_SM		float )

INSERT TSM SELECT '20140101' , 810
SELECT * FROM TSM
*/


/*  REMOVIDO EM 30/MAR/2015  ALTERACAO POR TABELAS DE PARAMETROS
--11
-- RENEGOCIADOS , INCLUIR CARTEIRA 75 ****************************************
UPDATE		COMERCIAL_PRODUCAO 
	SET 	VEICULO='RENEGOCIACAO',
			RENEGOCIADO=1
	FROM	--CDCSANTANAMicroCredito..COPER O (NOLOCK),
			CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		and CODMODA = M.TOCODOP
		--AND SPREAD_HISTORICO.NUM_OPE =O.OPNROPER
		--aND O.OPCODOP=M.TOCODOP		-- MODALIDADE *********************
		AND M.TOCODCART = 75		-- CARTEIRA DE RENEGOCIACAO	 75 	
		AND PRODUTO = 'V'			-- SOMENTE VEICULOS
-- SELECT * FROM 	CDCSANTANAMicroCredito..COPER O (NOLOCK)
-- SELECT * FROM 	CDCSANTANAMicroCredito..TMODA O (NOLOCK) -- TOCODCART = 75
-- SELECT * FROM 	CDCSANTANAMicroCredito..TCART O (NOLOCK) -- 75 = RENEGOCIACAO

-- RENEGOCIADOS , INCLUIR CARTEIRA 87 ****************************************
UPDATE		COMERCIAL_PRODUCAO 
	SET 	VEICULO='NEGOCIACAO PJ',
			RENEGOCIADO=1
	FROM	CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		and CODMODA = M.TOCODOP
		AND M.TOCODCART = 87		-- CARTEIRA DE RENEGOCIACAO	 87 	 MODALIDADE 870
		AND PRODUTO = 'R'			-- SOMENTE RENEGOCIADOS

-- RENEGOCIADOS , INCLUIR CARTEIRA 87 ****************************************
UPDATE		COMERCIAL_PRODUCAO 
	SET 	VEICULO='CP RENEGOCIACAO',
			RENEGOCIADO=1
	FROM	CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		and CODMODA = M.TOCODOP
		AND M.TOCODCART = 14		-- CARTEIRA DE RENEGOCIACAO	 14 	 MODALIDADE 990
		AND PRODUTO = 'R'			-- SOMENTE RENEGOCIADOS



-- 12
-- PRAZO EM DIAS, PLANO EM MESES
-- FAIXA DE PRAZO ****************************************
UPDATE		COMERCIAL_PRODUCAO 
	SET 	FX_PLANO= DESCR_FX_PLANO  -- FAIXA DE PLANO CADASTRADA	
	FROM	TFX_PLANO (NOLOCK) 
	WHERE	DT_FECHA=@DTREF
		AND	PLANO BETWEEN  PLANO_DE AND PLANO_ATE
/*
UPDATE		COMERCIAL_PRODUCAO 
	SET 	FX_PLANO= CASE	WHEN PLANO BETWEEN  1 AND 12 THEN '1 A 12'
							WHEN PLANO BETWEEN 13 AND 18 THEN '13 A 18'
							WHEN PLANO BETWEEN 19 AND 24 THEN '19 A 24'
							WHEN PLANO BETWEEN 25 AND 36 THEN '25 A 36'
							WHEN PLANO BETWEEN 37 AND 48 THEN '37 A 48'
					  END	
	WHERE	DT_FECHA=@DTREF
*/


-- 13
-- TIPO DE VEICULO = PRODUTO
-- DECLARE @DTREF  SMALLDATETIME  SET @DTREF = '20140131'
UPDATE COMERCIAL_PRODUCAO 
	SET 	VEICULO=CASE	WHEN CHARINDEX('LEVES',ISNULL(P.TPDESCR,'')) > 0  THEN 'LEVES'
							WHEN CHARINDEX('MOTOS',ISNULL(P.TPDESCR,'')) > 0  THEN 'MOTOS'	
							WHEN CHARINDEX('CAMINH',ISNULL(P.TPDESCR,''))+
							 	 CHARINDEX('UTILIT',ISNULL(P.TPDESCR,'')) > 0 THEN 'UTILITARIO'	
							ELSE 'LEVES' END
 FROM		CDCSANTANAMicroCredito..TPROD P (NOLOCK)
	WHERE	DT_FECHA=@DTREF
			AND	CODPROD = CONVERT(INT,P.TPCODPRD)
			AND PRODUTO ='V'
		--AND	P123_HISTORICO.NUM_OPE = OPNROPER

-- 14
-- VEICULO POR MODALIDADE
-- SELECT * FROM 		CDCSANTANAMicroCredito..TPROD P (NOLOCK)
-- SELECT * FROM 		COMERCIAL_PRODUCAO WHERE DT_FECHA='20140630' AND VEICULO='AUTOMATICO'
-- DECLARE @DTREF DATETIME SET @DTREF = '20140630'
UPDATE		COMERCIAL_PRODUCAO 
	--SET 	VEICULO=CASE WHEN RENEGOCIADO > 0 THEN 'RENEGOCIACAO' ELSE VEICULO END
	SET 	VEICULO=CASE	WHEN CHARINDEX('AUTOM',ISNULL(P.TONOMEOP,'')) > 0  THEN 'AUTOMATICO'
							WHEN CHARINDEX('VEIC',ISNULL(P.TONOMEOP,'')) > 0   THEN 'LEVES'
							WHEN CHARINDEX('MOTOS',ISNULL(P.TONOMEOP,'')) > 0  THEN 'MOTOS'	
							WHEN CHARINDEX('CAMINH',ISNULL(P.TONOMEOP,''))+
							 	 CHARINDEX('UTILIT',ISNULL(P.TONOMEOP,'')) > 0 THEN 'UTILITARIO'	
							ELSE 'LEVES' END

-- SELECT CHARINDEX('AUTOM',ISNULL(P.TONOMEOP,'')),*
 FROM		CDCSANTANAMicroCredito..TMODA P (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		AND	PRODUTO='V'
		--AND (VEICULO = ''  OR  VEICULO = 'LEVES')
		AND CODMODA = TOCODOP



/*
TOCODOP	TONOMEOP
670	FINANC. VEIC - AUTOM AUT - PF
671	FINANC  VEIC - AUTOM AUT- PJ
672	FINANC  VEIC - AUTOM CLT  - PF
*/


-- 15
-- REFINANCIAMENTO , INCLUIR CARTEIRA 80 ****************************************
-- REFIN UTILITARIOS
UPDATE		COMERCIAL_PRODUCAO 
	SET 	VEICULO='REFINANCIAMENTO UTILITARIOS',
			RENEGOCIADO=0
	FROM	--CDCSANTANAMicroCredito..COPER O (NOLOCK),
			CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	DT_FECHA=@DTREF
		--AND SPREAD_HISTORICO.NUM_OPE =O.OPNROPER
		--AND O.OPCODOP=M.TOCODOP		-- MODALIDADE *********************		
		AND CODMODA = M.TOCODOP
		AND M.TOCODCART = 80		-- CARTEIRA DE REFINANCIAMENTO	 80 	
		AND	PRODUTO='V'

-- 16
-- REFINANCIAMENTO   **********************  COD MODALIDADE 893 CF TABELA TModa_tipo_prod
UPDATE		COMERCIAL_PRODUCAO 
	SET 	VEICULO=CASE WHEN LEFT(NUM_OPE,2) ='89' THEN 'REFINANCIAMENTO' ELSE VEICULO END
	WHERE	DT_FECHA=@DTREF
		AND	PRODUTO='V'
		AND RIGHT(NUM_OPE,1) NOT IN ('A','B')
-- 17
-- RENEGOCIADOS DEPOIS
-- RENEGOCIACAO
UPDATE		COMERCIAL_PRODUCAO 
	SET 	VEICULO=CASE WHEN RENEGOCIADO > 0 THEN 'RENEGOCIACAO' ELSE VEICULO END
	WHERE	DT_FECHA=@DTREF
		AND	PRODUTO='V'


-- 18
-- CG
-- DECLARE @DTREF DATETIME	SET @DTREF = '20140630'
UPDATE		COMERCIAL_PRODUCAO 
	SET 	VEICULO='Capital de Giro c/garantia-ca'
	WHERE	DT_FECHA=@DTREF
		AND PRODUTO = 'CG'
		AND CODMODA	NOT	IN (350, 351, 352, 353)

-- SELECT * FROM 	COMERCIAL_PRODUCAO 	WHERE	DT_FECHA='20140630'		AND PRODUTO = 'CG'

-- 19
-- CP
UPDATE		COMERCIAL_PRODUCAO 
	SET 	VEICULO='Crédito Pessoal - carnê'
	WHERE	DT_FECHA=@DTREF
		AND PRODUTO = 'CP'
*/

-- DECLARE @DTREF DATETIME SET @DTREF = '20150630'
UPDATE	COMERCIAL_PRODUCAO
SET		VEICULO = DESCR_TIPO
FROM	Ttipo_prod		T (NOLOCK), 
		TModa_tipo_prod M (NOLOCK)  
WHERE	DT_FECHA		 = @DTREF
	AND	PRODUTO			 = 'D'		-- desconto
	AND	PRODUTO			 = M.COD_PROD 
	AND PRODUTO			 = T.COD_PROD 
	AND T.COD_MODALIDADE = M.COD_MODALIDADE 
	AND COMERCIAL_PRODUCAO.CODMODA = M.COD_MODA


-- DECLARE @DTREF DATETIME SET @DTREF = '20150630'
-- sp_help COMERCIAL_PRODUCAO
-- alter table COMERCIAL_PRODUCAO alter column veiculo varchar(40)
UPDATE	COMERCIAL_PRODUCAO
SET		VEICULO = DESCR_TIPO
FROM	Ttipo_prod		T (NOLOCK), 
		TModa_tipo_prod M (NOLOCK)  
WHERE	DT_FECHA		 = @DTREF
	AND	PRODUTO			 <> 'D'		-- desconto
	AND	PRODUTO			 = M.COD_PROD 
	AND PRODUTO			 = T.COD_PROD 
	AND T.COD_MODALIDADE = M.COD_MODALIDADE 
	AND COMERCIAL_PRODUCAO.CODMODA = M.COD_MODA

-- select * from Ttipo_prod (nolock)
-- ATUALIZAR PARC 1, 2, 3


/*
-- ajusta taxa
--SELECT @TEXTO = 'Taxa CL: ' + RTRIM(LTRIM(STR(@TXJRCLAA,10,4))) + ' a.a.' + ' - ' + RTRIM(LTRIM(STR(((POWER(((@TXJRCLAA/100)+1),(1./12))-1)*100),10,4))) + ' a.m.'
UPDATE SPREAD_HISTORICO
SET	TAXA =( (POWER(((TAXA/100.0)+1.0),(1.0/12.0))-1.0)*100.0)
	WHERE	DT_FECHA = @DTREF

-- SELECT TAXA_SEM_RET,TAXA,* FROM SPREAD_HISTORICO WHERE DT_FECHA='20141231' and retorno=0.0
-- ADECORRER, -- PLANO EM MESES
UPDATE SPREAD_HISTORICO
SET	TAXA_SEM_RET = dbo.Rate(PLANO, vlr_parc,(VLR_OP + RETORNO)) -- EM % *100.0
	WHERE	DT_FECHA = @DTREF

UPDATE SPREAD_HISTORICO   -- QUANDO O RETORNO FOR 0, USAR A TAXA DO FUNCAO
SET	TAXA_SEM_RET = TAXA -- EM % *100.0
	WHERE	DT_FECHA = @DTREF
		AND RETORNO  = 0.0

--ALTER TABLE  SPREAD_HISTORICO ADD CODOPER VARCHAR(20), CODLOJA VARCHAR(20), TX_X_VLR FLOAT, PRZ_X_VLR FLOAT
UPDATE	SPREAD_HISTORICO
SET		TX_X_VLR = 	TAXA_SEM_RET * (VLR_OP + RETORNO)  -- AUXILIAR NO CALCULO DA MEDIA PONDERADA
	,	PRZ_X_VLR = PRAZO * VLR_OP  
	WHERE	DT_FECHA = @DTREF
*/
-- 20
-- SELECT * FROM SPREAD_HISTORICO WHERE DT_FECHA=''
-- ADECORRER, -- PLANO EM MESES
UPDATE		COMERCIAL_PRODUCAO
	SET		TAXA_SEM_RET = dbo.Rate(PLANO, vlr_parc,(VLR_OP + RETORNO)) -- EM % *100.0
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  IN ( 'V','BF')		-- SOMENTE VEIC  ************** ALTERADO 30/01/2017
		AND RETORNO  > 0.0      -- QUANDO O RETORNO FOR 0, USAR A TAXA DO FUNCAO
/*
UPDATE		COMERCIAL_PRODUCAO   -- QUANDO O RETORNO FOR 0, USAR A TAXA DO FUNCAO
	SET		TAXA_SEM_RET = TAXA -- EM % *100.0
	WHERE	DT_FECHA = @DTREF
		AND RETORNO  = 0.0
		AND	PRODUTO  = 'V'		-- SOMENTE VEIC
*/
-- ajusta taxa
--SELECT @TEXTO = 'Taxa CL: ' + RTRIM(LTRIM(STR(@TXJRCLAA,10,4))) + ' a.a.' + ' - ' + RTRIM(LTRIM(STR(((POWER(((@TXJRCLAA/100)+1),(1./12))-1)*100),10,4))) + ' a.m.'
/*
UPDATE COMERCIAL_PRODUCAO
SET	TAXA =( (POWER(((TAXA_AA/100.0)+1.0),(1.0/12.0))-1.0)*100.0)
	WHERE	DT_FECHA = @DTREF
*/

-- SALVO DESCONTO, TX NO FUNCAO AA, CONVERTER AM
UPDATE		COMERCIAL_PRODUCAO
	SET		TAXA_SEM_RET =( (POWER(((TAXA_AA/100.0)+1.0),(1.0/12.0))-1.0)*100.0)
	WHERE	DT_FECHA = @DTREF
		AND RETORNO  = 0.0      -- QUANDO O RETORNO FOR 0, USAR A TAXA DO FUNCAO AA, CONVERTER AM

-- 21
-- DECLARE @DTREF DATETIME   SET @DTREF = '20140630'
-- TODOS OS PRODUTOS
UPDATE		COMERCIAL_PRODUCAO
	SET		TAXA_AA =( (POWER(((TAXA_SEM_RET/100.0)+1.0),(12.0))-1.0)*100.0)
	WHERE	DT_FECHA = @DTREF

-- ALTER TABLE  SPREAD_HISTORICO ADD CODOPER VARCHAR(20), CODLOJA VARCHAR(20), TX_X_VLR FLOAT, PRZ_X_VLR FLOAT
-- DECLARE @DTREF DATETIME   SET @DTREF = '20140630'
UPDATE	COMERCIAL_PRODUCAO
SET		TX_X_VLR	= 	TAXA_SEM_RET * (VLR_OP + RETORNO)  -- AUXILIAR NO CALCULO DA MEDIA PONDERADA
	,	TX_AA_X_VLR = 	TAXA_AA  *  (VLR_OP + RETORNO)   -- AUXILIAR NO CALCULO DA MEDIA PONDERADA
	,	PRZ_X_VLR	= PRAZO * VLR_OP  
	,	PLANO_X_VLR = PLANO * VLR_OP  
	WHERE	DT_FECHA= @DTREF
		AND PRODUTO <> 'D'	  
	

-- ************************************ FAIXA DE ANO
-- DECLARE @DTREF SMALLDATETIME SET @DTREF = '20140630'
	UPDATE	COMERCIAL_PRODUCAO
	SET		FX_ANO = FX.DESCR
	FROM	COMERCIAL_PRODUCAO (NOLOCK) LEFT JOIN 
		 (SELECT * FROM FX_ANO (NOLOCK) WHERE DATEPART(YYYY,DT_DE)=DATEPART(YYYY,@DTREF) )  AS FX
			ON ANO_MODELO BETWEEN FX.DE AND FX.ATE
	


-- DECLARE @DTREF  DATETIME  SET @DTREF = '20140630'
-- SP_HELP COMERCIAL_PRODUCAO
UPDATE	COMERCIAL_PRODUCAO
SET		VLR_RECEITA  = VLR_FUTURO - VLR_PRESENTE
--VLR_TC + VLR_TARIFA
WHERE	DT_FECHA	= @DTREF


-- SELECT * FROM CDCSANTANAMicroCredito..TMODA
-- TTLS DO MES ********************************************* AUXILIA NOS RELATORIOS
-- DECLARE @DTREF  DATETIME  SET @DTREF = '20140630'
		DELETE	FROM	COMERCIAL_PRODUCAO_MES
				WHERE	DT_FECHA	= @DTREF

-- SP_HELP COMERCIAL_PRODUCAO_MES
-- ALTER TABLE COMERCIAL_PRODUCAO_MES ADD  PRAZO FLOAT
-- ALTER TABLE COMERCIAL_PRODUCAO_MES ADD  QTDE_CLI FLOAT
-- ALTER TABLE COMERCIAL_PRODUCAO_MES ADD  VAR_PROD FLOAT
		INSERT	COMERCIAL_PRODUCAO_MES
		SELECT	@DTREF,
				PRODUTO,
				COUNT(NUM_OPE),		-- QTDE
				SUM(VLR_OP),
				SUM(VLR_PRESENTE),
				SUM(VLR_RECEITA),
				SUM(VLR_FUTURO),
				SUM(VLR_TC),
				SUM(VLR_TARIFA),
				SUM(VLR_IOF),
				AVG(VLR_FIPE),
				AVG(CONVERT(INT,SCORE)),
				--CASE	WHEN SUM(VLR_OP) = 0.0			THEN 0.0   antes
				--		ELSE ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) / 30.0 , 0) END,  -- PLANO_MEDIO antes: SUM(PLANO_X_VLR)/SUM(VLR_OP)
				-- ********** alterado 14/03/16		-- plano_MEDIO
				CASE WHEN	PRODUTO = 'D' THEN 
							CASE WHEN	SUM(VLR_PRESENTE) =0.0		THEN 0.0					ELSE
										ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_PRESENTE) / 30.0, 0)	END
					 ELSE	
							CASE WHEN	SUM(VLR_OP) =0.0 THEN 0.0						ELSE
										ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) / 30.0, 0)	END		END,		    -- PLANO MEDIO

				CASE	WHEN SUM(VLR_OP)+SUM(RETORNO) = 0.0				THEN 0.0 
						ELSE SUM(TX_X_VLR)/(SUM(VLR_OP)+SUM(RETORNO))	END, -- TAXA_MEDIA
				0.0, -- VARIACAO
				--	0.0,0.0, 
				--AVG(VLR_OP),				-- TKT_MEDIO ANTIGO, COM DIFERENCA
				SUM(VLR_PRESENTE)/COUNT(NUM_OPE),   -- TKT_MEDIO
				CASE WHEN	PRODUTO = 'D' THEN COUNT(DISTINCT CODCLI)		-- QTDE CLIENTES
					 ELSE	COUNT(DISTINCT CODLOJA)		END	,				-- QTDE_LJ
				0.0,0.0, 0.0,0.0,
				--AVG(PRAZO),			************* alterado 14/03/16
				CASE WHEN PRODUTO = 'D' THEN 
						-- PRODUTO ZERADO, ERRO DIV0  CORRIGI EM 10/02/17	 ************
							CASE WHEN SUM(VLR_PRESENTE) =0.0 THEN 0.0		ELSE
							ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_PRESENTE) , 0)	END
					 ELSE	
							CASE WHEN SUM(VLR_OP) =0.0 THEN 0.0 ELSE
							ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) , 0)		END		END ,		    -- PRAZO MEDIO
				COUNT(DISTINCT CODCLI)  -- QTDE CLIENTES
				, 0.0 -- VAR_PROD
/*	
AVG(VLR_OP), -- TKT_MEDIO
COUNT(DISTINCT CODLOJA) , --QTDE_LJ
MEDIA_LJ
PRODUCAO_LIQ
TKT_MEDIO_LIQ
ANO_MEDIO				
*/
		FROM	COMERCIAL_PRODUCAO		(NOLOCK)
		WHERE	DT_FECHA	= @DTREF
			AND	NUM_OPE  <>''
		GROUP	BY	PRODUTO
-- SP_HELP 		COMERCIAL_PRODUCAO


		-- DECLARE @DTREF DATETIME SET @DTREF ='20150131'
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150228'
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO_MES
			SET		QTDE_CLI  =  (SELECT	COUNT(DISTINCT O4CodORG)
		--o4codorg, o4nome, o4descr, o4rua,o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ 
				FROM	CdcSantanaMicroCredito..TOrg4  (NOLOCK)
				JOIN	(SELECT * FROM COMERCIAL_PRODUCAO (nolock) WHERE DT_FECHA=@DTREF AND PRODUTO='V') AS PROD
						ON PROD.CODOPER =O4CODORG3 
				WHERE (O4DTDESAT IS NULL OR O4DTDESAT <=@DTREF) AND O4ATIVA='A'  )
		WHERE DT_FECHA=@DTREF AND PRODUTO='V'

-- AJUSTA PROD LIQ VEIC
-- SELECT SUM(VLR_LIBERADO) FROM	COMERCIAL_PRODUCAO		(NOLOCK) 		WHERE	DT_FECHA	= '20150131' AND PRODUTO='V'
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150131'
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150228'
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO_MES
			SET		PRODUCAO_LIQ  =  (SELECT		SUM(VLR_LIBERADO) AS VLR
								FROM COMERCIAL_PRODUCAO  (NOLOCK) 
						WHERE	DT_FECHA	= @DTREF
							AND PRODUTO IN ('V','BF') ) ,  -- *********** ALTERAO 30/01/2017
					TKT_MEDIO_LIQ  =  ISNULL((SELECT		SUM(VLR_LIBERADO)/COUNT(*) AS VLR
								FROM COMERCIAL_PRODUCAO  (NOLOCK) 
						WHERE	DT_FECHA	= @DTREF
							AND PRODUTO IN ('V','BF')      -- *********** ALTERAO 30/01/2017
							AND VLR_OP > 0.0 ),0.0) 
			WHERE	COMERCIAL_PRODUCAO_MES.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO_MES.PRODUTO  IN ('V','BF')  -- *********** ALTERAO 30/01/2017

-- ano médio, SCORE , FIPE DE VEIC *******************
-- AJUSTA NO DETALHE
/*  -- TABELA FIPE
Use cdcsantanamicrocredito
select distinct coper.opnroper, coper.OPQTDDPARC, coper.opvlrfin, cbfin.abmodelo,cbfin.abanomod,cbfin.abvlrtab from coper inner join cbfin
on coper.opnroper = cbfin.abnroper
where coper.OPDTBASE >= '2012-11-01' and coper.OPDTBASE <='2013-11-01'
-- SCORE
use master
select distinct proposta ,   opnroper, cod_inter, score  from CDCSANTANAMicroCredito..coper, crivo_proposta  where OPNRPROP = proposta  and OPDTBASE >= '2014-01-01' order by opnroper

SELECT VLR_FIPE,* FROM COMERCIAL_PRODUCAO WHERE DT_FECHA='20150131' AND PRODUTO='V' AND VLR_OP>0 AND VLR_FIPE=0
SELECT VLR_FIPE,* FROM COMERCIAL_PRODUCAO WHERE DT_FECHA='20150228' AND PRODUTO='V'
 
SELECT abvlrtab,* FROM CdcSantanaMicroCredito..cbfin  (NOLOCK) WHERE abnroper ='63224738'

*/
		-- TABELA FIPE VEIC ****************
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO
			SET		VLR_FIPE = convert(float,VEIC.abvlrtab)
			FROM  (SELECT		coper.opnroper, coper.OPQTDDPARC, coper.opvlrfin, cbfin.abmodelo,
								cbfin.abanomod,cbfin.abvlrtab
						 from CdcSantanaMicroCredito..COper coper (NOLOCK)
						 inner join CdcSantanaMicroCredito..cbfin  (NOLOCK)
							on coper.opnroper = cbfin.abnroper 
							) AS VEIC
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO.PRODUTO  IN ('V','BF')      -- *********** ALTERAO 30/01/2017
				AND COMERCIAL_PRODUCAO.NUM_OPE  = OPNROPER

		-- SCORE  VEIC ****************
		-- SCORE  VEIC ****************
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
-- SELECT * FROM MASTER..crivo_proposta
		-- DECLARE @DTREF DATETIME SET @DTREF ='20140131'

		UPDATE		COMERCIAL_PRODUCAO
			SET		SCORE = isnull((select  PPSCORING  
						from CDCSANTANAMicroCredito..coper  (NOLOCK),
								PROPWEBSMC..cprop  (NOLOCK)
						where OPNRPROP = PPNRPROP  and OPNROPER= COMERCIAL_PRODUCAO.NUM_OPE 
							and OPDTBASE >= '2014-01-01' 		),0) --AS VEIC
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO.PRODUTO  IN ('V','BF')        -- *********** ALTERAO 30/01/2017
				AND Vlr_OP >0.0	
		

-- CALCULA MEDIAS
		--		DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO_MES
			SET		ANO_MEDIO  = VEIC.ANO ,
					SCORE =VEIC.SCORE,
					VLR_FIPE = VEIC.FIPE
			FROM  (SELECT		AVG(CONVERT(FLOAT,ANO_MODELO)) AS ANO, 
								SUM(CONVERT(FLOAT,SCORE) * VLR_PRESENTE)/SUM(VLR_PRESENTE) AS SCORE, 
								AVG(VLR_FIPE) AS FIPE
								FROM COMERCIAL_PRODUCAO  (NOLOCK) 
						WHERE	DT_FECHA	= @DTREF
							AND PRODUTO  IN ('V','BF')				-- *********** ALTERAO 30/01/2017
							AND VLR_OP > 0.0 ) AS VEIC
			WHERE	COMERCIAL_PRODUCAO_MES.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO_MES.PRODUTO  IN ('V','BF')   -- *********** ALTERAO 30/01/2017

 
	-- AJUSTA MEDIA LOJA
		--		DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO_MES
			SET		MEDIA_LJ  =  CASE WHEN ISNULL(M.Q,0.0)=0.0 THEN 0.0 ELSE M.VLR/M.Q END
			FROM	(SELECT		PRODUTO,AVG(VLR_PRESENTE) AS VLR,
								AVG(QTDE_LJ) AS Q FROM COMERCIAL_PRODUCAO_MES  (NOLOCK) 
						WHERE	DT_FECHA	= @DTREF
						GROUP BY PRODUTO ) AS M
			WHERE	COMERCIAL_PRODUCAO_MES.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO_MES.PRODUTO  = M.PRODUTO


DECLARE @DT_MES_ANT SMALLDATETIME
SET @DT_MES_ANT = DATEADD(D,-1,@DTINI)  -- FIM DO MES ANT
--		SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+	RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

	-- AJUSTA VARIACAO NO MES
	-- DECLARE @DTREF DATETIME SET @DTREF ='20150131'  DECLARE @DT_MES_ANT DATETIME SET @DT_MES_ANT ='20141231'
		UPDATE		COMERCIAL_PRODUCAO_MES
			SET		VARIACAO  =  CASE WHEN ISNULL(M1.VLR_RECEITA ,0.0)>0.0 THEN (ISNULL(M.VLR_RECEITA,0.0) - ISNULL(M1.VLR_RECEITA ,0.0))/ISNULL(M1.VLR_RECEITA ,0.0)* 100.0
									  ELSE 0.0 END	,
					VAR_PROD  =  CASE WHEN ISNULL(M1.VLR_PRESENTE ,0.0)>0.0 THEN (ISNULL(M.VLR_PRESENTE,0.0) - ISNULL(M1.VLR_PRESENTE ,0.0))/ISNULL(M1.VLR_PRESENTE ,0.0)* 100.0
									  ELSE 0.0 END	
			FROM (SELECT PRODUTO,VLR_RECEITA,VLR_PRESENTE FROM COMERCIAL_PRODUCAO_MES  (NOLOCK) 
						WHERE	DT_FECHA	= @DTREF) AS M
			JOIN (SELECT PRODUTO,VLR_RECEITA,VLR_PRESENTE FROM COMERCIAL_PRODUCAO_MES  (NOLOCK) 
						WHERE	DT_FECHA	= @DT_MES_ANT) AS M1
			ON M.PRODUTO = M1.PRODUTO
			WHERE COMERCIAL_PRODUCAO_MES.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO_MES.PRODUTO  = M.PRODUTO



-- **************************************************** CARTEIRA
-- REMOVE O TTL CARTEIRA NO MES
-- DECLARE @DTREF DATETIME SET @DTREF='20150131'
-- DECLARE @DTREF DATETIME SET @DTREF='20150331'
-- 1
		DELETE	FROM	COMERCIAL_CARTEIRA_MES
				WHERE	DT_FECHA	= @DTREF
-- INSERE O TTL CARTEIRA NO MES
-- 2
		INSERT	COMERCIAL_CARTEIRA_MES
						(DT_FECHA,
						PRODUTO,
						QTDE,
						VLR_PRESENTE )
		SELECT	@DTREF,
				CASE	WHEN MOPCOD IN ('0215')			THEN 'CG'
						WHEN MOPCOD IN ('0301','0302')  THEN 'D'
						WHEN MOPCOD IN ('0203','0401','0402')  THEN 'V'
						WHEN MOPCOD IN ('0216')			THEN 'BF'   -- BANKFACIL ALTERADO 30/01/2017
						--WHEN MOPCOD IN ('0216')			THEN 'R'
						WHEN MOPCOD IN ('0206','1511')  THEN 'CP'
						END,	  		-- PRODUTO
				COUNT(RATVALSALDO)  ,	-- QTDE
				SUM(RATVALSALDO)	
		--	SELECT RATCODSIS,MOPCOD,SUM(RATVALSALDO)	
		FROM			FinCilDbs..CilTblRat 	R	(NOLOCK)	
			where	ratDatRef = @DTREF    -- MES Ref Fechamento
				--and ratcodemp = 1
				and CrsCodRatFIM <> 'HH'  -- CARTEIRA SEM PREJUIZO
				and ISNULL(RatValSaldo,0.0) > 0.0
		GROUP BY CASE	WHEN MOPCOD IN ('0215')			THEN 'CG'
						WHEN MOPCOD IN ('0301','0302')  THEN 'D'
						WHEN MOPCOD IN ('0203','0401','0402')  THEN 'V'
						WHEN MOPCOD IN ('0216')			THEN 'BF'   -- BANKFACIL ALTERADO 30/01/2017
						--WHEN MOPCOD IN ('0216')			THEN 'R'
						WHEN MOPCOD IN ('0206','1511')  THEN 'CP'
						END

-- 0215 ,0301,0402, 0203, 0302,                0216,         0401
-- 3
		-- TABELA DE CONTRATOS AUXILIAR
		-- SELECT * FROM TAUX_CONTRATOC
		TRUNCATE TABLE  TAUX_CONTRATOC
-- 4
		INSERT			TAUX_CONTRATOC (CONTRATO,AGENTE,COD_CLI,CPF_CNPJ,SALDO_INSCRITO,RATING_FINAL)
				SELECT	RATCODCONTR,
						-- AGENTE COM PRODUTO
						CASE	WHEN MOPCOD IN ('0215')			THEN 'CG'
								WHEN MOPCOD IN ('0101','0201','0301','0302','0303')  THEN 'D'
								WHEN MOPCOD IN ('0203','0401','0402')  THEN 'V'
								WHEN MOPCOD IN ('0216')			THEN 'BF'   -- BANKFACIL ALTERADO 30/01/2017
								--WHEN MOPCOD IN ('0216')			THEN 'R'
								WHEN MOPCOD IN ('0206','1511')  THEN 'CP'
						END,

						-- COD_CLI COM MODALIDADE
						(SELECT OPCODOP FROM	CDCSANTANAMicroCredito..COPER (NOLOCK) 
										WHERE	OPNROPER=RATCODCONTR),
						-- CPF_CNPJ COM CODCLI
						RATCODCLI,
						RATVALSALDO,
						CRSCODRATFIM
				-- SELECT *
				FROM	FinCilDbs..CilTblRat 	R	(NOLOCK)	
--WHERE ratDatRef = '20141130' AND MOPCOD IN ('0301','0302')
					where	ratDatRef = @DTREF    -- MES Ref Fechamento
						--and ratcodemp = 1
						and CrsCodRatFIM <> 'HH'  -- CARTEIRA SEM PREJUIZO
						and ISNULL(RatValSaldo,0.0) > 0.0

--0203 v ,0215 cg, 0216 r, 0301 d, 0302 d , 0401 v , 0402 v
-- 5
		UPDATE		TAUX_CONTRATOC
			SET		VF = ISNULL(OP.VLR_FUTURO,0.0)
			FROM	
				(SELECT		PANROPER,SUM(PAVLRPR + PAVLRJR) AS VLR_FUTURO
					FROM	CDCSANTANAMicroCredito..CPARC O (NOLOCK)	
					WHERE	(PADTLIQ IS NULL OR PADTLIQ > @DTREF ) 	AND		 -- NAO PAGAS
							PACNTRL = (SELECT	MAX(PACNTRL) 
										FROM	CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
										WHERE	P1.PANROPER = O.PANROPER
											AND	P1.PANRPARC = O.PANRPARC
						  )
					GROUP BY PANROPER ) AS OP	
		WHERE		CONTRATO = OP.PANROPER
			--AND		AGENTE <> 'D'	

-- 6
-- FACTORING
-- DECLARE @DTREF DATETIME SET @DTREF='20150131'
	UPDATE	TAUX_CONTRATOC
	SET	 	
/*
SALDO_INSCRITO =
			case	when AtdtVAL between @DTINI and @DTREF then 	AtVlrTitOG
					else AtVlrTit end , -- sld inscr
AtVlrTit
*/
			VF = titlo_vlr_moe_tit
	FROM	FinSGRDBS..tb_titlo O (NOLOCK)
	where titlo_noss_num = CONTRATO
		  AND		AGENTE = 'D'	-- DESCONTO
--SanFifa..ArqTit 	R	(NOLOCK)
	--, 		SanFifa..cclie      C   (NOLOCK)  	where	ATNSSNR = CONTRATO
--			CPF_CNPJ = ATCGCSAC  AND
		-- CLCODCLI = ATCODCED and
--		 (AtDtLiq is NULL or AtDtLiq>@DTREF) -- nao pago		
--		and atNrOrd = (SELECT MAX(atnrord) FROM SanFifa..ArqTit WHERE  ATNSSNR= R.ATNSSNR) -- sem repeticao, max controle
--		  and 	 ATDIAS <= 360  -- RATING ativos atraso

	
		-- SELECT * FROM COMERCIAL_CARTEIRA_MES
		-- SELECT * FROM TAUX_CONTRATOC WHERE AGENTE='D'
-- 7
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		--VLR_PRESENTE =  ISNULL(C.VP ,0.0),
					VLR_FUTURO   =  ISNULL(C.VLR,0.0),
					VLR_RECEITA  =  ISNULL(C.VLR,0.0) - ISNULL(C.VP ,0.0)
			FROM 	(SELECT		C1.AGENTE,SUM(C1.VF) AS VLR, SUM(C1.SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  C1 (NOLOCK)
						GROUP BY C1.AGENTE	) AS C
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND	COMERCIAL_CARTEIRA_MES.PRODUTO  = C.AGENTE
-- 8
-- DESCONTO JOIN COM O TITULO DO DESCONTO ATT
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI ='1', AGENTE = 'D'
	FROM	FinSGRDBS..tb_TITLO O (NOLOCK)
	WHERE	TITLO_NOSS_NUM= CONVERT(NUMERIC,CONTRATO)
		AND COD_CLI IS NULL  -- ??
		AND CtlCART_COD =11  -- E 21 -- SOMENTE DESCONTO
		AND TITLO_NOSS_NUM NOT IN (3156338,3156346,3156354,3156362,
					3156370,3156389,3156397,3156400,3156419,3156427,3156435,3156443,3156451,
					3156460,3156478,3156486,3156494,3156508,3156516,3156524)
		--AND TITLO_DAT_ENVPROT IS NULL -- SEM ENVIO PARA PROTESTO
-- DESCONTO JOIN COM O TITULO DO DESCONTO ATT
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI ='1', AGENTE = 'D'
	FROM	FinSGRDBS..tb_TITLO O (NOLOCK)
	WHERE	TITLO_NOSS_NUM IN (938483,938491,1250167)
		AND CONTRATO IN  ('938483','938491','1250167')
		AND TITLO_NOSS_NUM= CONVERT(NUMERIC,CONTRATO)
--		AND COD_CLI IS NULL  -- ??

-- DESCONTO JOIN COM FUNCAO  FACTORING FOI INTEGRADA DO FIFA PARA O FUNCAO
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '870', 
			AGENTE	= 'D'  			--,			VF		= OPVLRBRUTO
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	OPNROPER= CONTRATO
		AND OPCODOP = '302'  -- MODALIDADE 870   NEGOCIACAO - PJ

--select * from TAUX_CONTRATOC where contrato='6784'
-- 1 contrato faltante
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '870', 
			AGENTE	= 'D'  			,			VF		= saldo_inscrito
	WHERE	CONTRATO='6784'

-- 9
-- DESCONTO JOIN COM FUNCAO  FACTORING FOI INTEGRADA DO FIFA PARA O FUNCAO
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '870', 
			AGENTE	= 'D'  			--,			VF		= OPVLRBRUTO
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	OPNROPER= CONTRATO
		AND OPCODOP = '870'  -- MODALIDADE 870   NEGOCIACAO - PJ
-- REMOVE 2 OPER Q NAO ESTAO NO CONTABIL
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '9', 
			AGENTE	= '9'  			--,			VF		= OPVLRBRUTO
	WHERE	CONTRATO IN  ('353002877A','3641000865A')
		  -- MODALIDADE 870   NEGOCIACAO - PJ

-- reclassifica 1 CONTRATO CP
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '3', 
			AGENTE	= 'CP'  			--,			VF		= OPVLRBRUTO
	WHERE	CONTRATO IN  ('353002877A')

-- AJUSTE DESCONTO DESCONTO 1	CG MODALIDADE 870
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		VLR_PRESENTE =   ISNULL(C.VP ,0.0),
					VLR_FUTURO   =   ISNULL(C.VLR,0.0)
			FROM 	(SELECT		SUM(VF) AS VLR, SUM(SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  (NOLOCK)	
								-- COD_CLI COM MODALIDADE	1 = DESCONTO, 870 = FACTORING
						WHERE 	COD_CLI IN ('1', '870') ) AS C
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND	COMERCIAL_CARTEIRA_MES.PRODUTO  = 'D'

-- AJUSTE CG		CG MODALIDADE 353, 363
-- SELECT * FROM  COMERCIAL_CARTEIRA_MES
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		VLR_PRESENTE =  ISNULL(C.VP ,0.0),
					VLR_FUTURO   =  ISNULL(C.VLR,0.0)
			FROM 	(SELECT		SUM(VF) AS VLR, SUM(SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  (NOLOCK)	
								-- COD_CLI COM MODALIDADE	
						WHERE 	COD_CLI IN --('353', '363')
						-- ALTERADO 15/2/16 ******************
					 (SELECT	COD_MODA
						FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
							AND T.COD_PROD IN ('CG') )
						) AS C
					--  353,363					CG
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND	COMERCIAL_CARTEIRA_MES.PRODUTO  = 'CG'

-- OPERADOR
-- SELECT * FROM TAUX_CONTRATOC
UPDATE 		TAUX_CONTRATOC  
	SET		COD_OPERADOR = 	OPCODORG3  , -- OPERADOR  CODOPER		, --varchar(20),		 
			COD_COB      =  OPCODORG4    -- COD LOJA  CODLOJA		, --varchar(20),
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	OPNROPER= CONTRATO


-- AJUSTE V		CONSIDERAR SOMENTE VEIC
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = 2, 
			AGENTE	= 'V'  			
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	OPNROPER= CONTRATO
		AND O.OPCODOP  IN 	(SELECT		COD_MODA
								FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
								WHERE	M.COD_PROD = T.COD_PROD 
									AND T.COD_MODALIDADE = M.COD_MODALIDADE 
									AND T.COD_PROD = 'V' )


/*
(720,730,741,742,  751,752,  800,860,861,862,863,890,891,893,894  
				,612,630 ,553, 642, 612, 632, 552, 700, 670, 610, 643, 672,   760
,200,201,250,251
,400,401,450,451,500,501
,550,551,552,553,600,601
,610,611,612,613,630,631,632,633,640,641,642,643
,650,651,670,671,672,673
,700,720,730
,741,742,760,   800,860
,861,  862,863,  893
			)  -- RENEGOCIACAO

-- veic cadastrados nos parametros do SIG
200,201,250,251,
354, 400,401,450,451,
500,501,550,551,552,553,554,555,
600,601,
610,611,612,613,630,631,632,633,
640,641,642,643,
650,651,
670,671,672,673,

700,760,
720,730,731,741,742,
800,801,860,     862,863,890,891,892,893,894



*/
-- sem 892 reneg PJ
-- 731, CG

-- ajusta VEIC
-- select * from TAUX_CONTRATOC where coNtrato ='3641000865A'
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = 2, 
			AGENTE	= 'V'  			
	WHERE	coNtrato ='3641000865A'

-- AJUSTE cp		CONSIDERAR CP + CDC LJ
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = 3, 
			AGENTE	= 'CP'  			
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	OPNROPER= CONTRATO
		AND (O.OPCODOP  IN (SELECT	COD_MODA
						FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
							AND T.COD_PROD IN ('CP') )
		 OR O.OPCODOP  IN ('990' )  )   -- EXCECAO RENEG CP  ???

/*  ALTERADO 15/2/16 *****************
 (901, 906, 908, 990,
240, 900,901,905,910,911,915, 920,921,925,930,931,935,
940,941,945,950,951,955,960,961,965,970,971,975,
980,985,
100,101,102,103,150,151,152,153
,892	)  -- CP E CDC LJ
*/

--  906,908,909,995,290		CP
--  990				cod_prod	cod_modalidade	descr_tipo
--						R	14	Crédito Pessoal - Renegociação
-- 892 reneg PJ ??
-- AJUSTA A CARTEIRA CP
		INSERT		COMERCIAL_CARTEIRA_MES
				(DT_FECHA,	PRODUTO,	QTDE,		VLR_PRESENTE,	VLR_FUTURO)
				SELECT	@DTREF , 'CP', ISNULL(C.QTD,0.0) , 
						ISNULL(C.VP ,0.0),
						ISNULL(C.VLR,0.0)
			FROM 	(SELECT		COUNT(*) AS QTD, SUM(VF) AS VLR, SUM(SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  (NOLOCK)	
								-- COD_CLI COM MODALIDADE	 3 = CP
						WHERE 	COD_CLI IN (3)) AS C


-- AJUSTE RENEG CART 86 E 75
-- SELECT * FROM CDCSANTANAMicroCredito..TMODA  (NOLOCK)
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '4', 
			AGENTE	= CASE  WHEN TOCODCART = '75' THEN 'R75' 
							WHEN TOCODCART = '86' THEN 'R86'  			
							ELSE 'R' END
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK),
			CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	OPNROPER = CONTRATO
		AND	OPCODOP  = M.TOCODOP 
		AND TOCODCART IN ('75','86')	
-- AJUSTA A CARTEIRA RENEG
		-- DECLARE @DTREF DATETIME SET @DTREF = '20150131'
		INSERT		COMERCIAL_CARTEIRA_MES
				(DT_FECHA,	PRODUTO,	QTDE,		VLR_PRESENTE,	VLR_FUTURO, TKT_MEDIO_PV)
				SELECT	@DTREF , AGENTE, ISNULL(C.QTD,0.0) , 
						ISNULL(C.VP ,0.0),
						ISNULL(C.VLR,0.0),
						-- ************************* ALTERADO PQ DIV 0 EM 8/2/17
						CASE	WHEN C.QTD = 0.0	THEN 0.0 
								ELSE
									CASE  WHEN AGENTE='R86' THEN VLR/C.QTD
										  WHEN AGENTE='R75' THEN VP /C.QTD ELSE 0.0 END	
								END
			FROM 	(SELECT		AGENTE,COUNT(*) AS QTD, SUM(VF) AS VLR, SUM(SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  (NOLOCK)	
								-- COD_CLI COM MODALIDADE	 4 = reneg
						WHERE 	COD_CLI IN (4)
						GROUP BY AGENTE) AS C

-- AJUSTA A CARTEIRA
-- declare @dtref datetime set @dtref = '20150131'
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		VLR_PRESENTE =  ISNULL(C.VP ,0.0),
					VLR_FUTURO   =  ISNULL(C.VLR,0.0)
			FROM 	(SELECT		SUM(VF) AS VLR, SUM(SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  (NOLOCK)	
								-- COD_CLI COM MODALIDADE	 2 = VEIC + 4= reneg
						WHERE 	COD_CLI IN (2,4)) AS C
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND	COMERCIAL_CARTEIRA_MES.PRODUTO  = 'V'
--R86 , R75

		
-- AJUSTA A QTDE CLIENTES NA CARTEIRA
-- SELECT * FROM TAUX_CONTRATOC
-- SELECT * FROM 	COMERCIAL_CARTEIRA_MES WHERE DT_FECHA='20150131'
--    DECLARE @DTREF DATETIME SET @DTREF = '20150131'
--    MEDIAS POR LJ CLI 
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		COMERCIAL_CARTEIRA_MES.QTDE_CLIENTE= AG.QTD,
					COMERCIAL_CARTEIRA_MES.MEDIA_CLIENTE= CASE WHEN ISNULL(AG.QTD,0.0)=0.0 THEN 0.0
																ELSE AG.VLR/AG.QTD END,
					COMERCIAL_CARTEIRA_MES.TKT_MEDIO_PV= CASE WHEN ISNULL(AG.QTD_OP,0.0)=0.0 THEN 0.0
															 	ELSE		AG.VLR/AG.QTD_OP END,
					COMERCIAL_CARTEIRA_MES.QTD_LOJAS= AG.QTD_LJ,
					COMERCIAL_CARTEIRA_MES.MEDIA_LJ= CASE	WHEN ISNULL(AG.QTD_LJ,0.0)=0.0 THEN 0.0
															ELSE AG.VLR/AG.QTD_LJ END

			FROM    (SELECT		C.AGENTE, COUNT(*) AS QTD_OP,
								COUNT(DISTINCT C.CPF_CNPJ) AS QTD, SUM(SALDO_INSCRITO) AS VLR ,
								COUNT(DISTINCT C.COD_COB) AS QTD_LJ								
						FROM	TAUX_CONTRATOC  C (NOLOCK)
						GROUP BY C.AGENTE) AS AG
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA = @DTREF 
				AND COMERCIAL_CARTEIRA_MES.PRODUTO  = AG.AGENTE

-- SELECT SUM(SALDO_INSCRITO) FROM	TAUX_CONTRATOC  (NOLOCK) WHERE 	COD_CLI = 353
-- SELECT COD_CLI,SUM(SALDO_INSCRITO) FROM	TAUX_CONTRATOC  (NOLOCK) GROUP BY	COD_CLI 
/*
 SELECT COD_CLI,TONOMEOP,SUM(SALDO_INSCRITO) FROM	TAUX_CONTRATOC  (NOLOCK) LEFT JOIN
(SELECT * FROM CDCSANTANAMicroCredito..TMODA   (NOLOCK) ) AS M
ON COD_CLI =TOCODOP 
 GROUP BY	COD_CLI , TONOMEOP

UPDATE 	TAUX_CONTRATOC  
SET COD_CLI ='D'
FROM FinSGRDBS..tb_bordro O (NOLOCK)

 SELECT * 
	FROM		FinSGRDBS..tb_bordro O (NOLOCK)
	WHERE	-- PRODUCAO
			bordro_dat_MOVatu BETWEEN @DTINI AND @DTFIM 
		AND CtlCART_COD =11 
*/

		-- inclui FACTORING NO DESCONTO  ******************
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		VLR_PRESENTE =  VLR_PRESENTE+1182096.0
					--,VLR_FUTURO   =  VLR_FUTURO+118
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND	COMERCIAL_CARTEIRA_MES.PRODUTO  = 'D'

		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		VLR_RECEITA  =  ISNULL(VLR_FUTURO,0.0) - ISNULL(VLR_PRESENTE ,0.0)
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 


		-- CARTEIRA QTDE LOJAS ATIVAS
		-- DECLARE @DTREF DATETIME SET @DTREF = '20150131'
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		QTD_LOJAS  =  (SELECT	COUNT(DISTINCT O4CodOrg)
									FROM	CdcSantanaMicroCredito..TOrg4  (NOLOCK)
									WHERE	(O4DTDESAT IS NULL OR O4DTDESAT <=@DTREF) AND O4ATIVA='A' )
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND COMERCIAL_CARTEIRA_MES.PRODUTO  = 'V'
/*
-- QTDE LOJAS ATIVAS CARTEIRA
select o4codorg, o4nome, o4descr, o4rua,o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ 
from cdcsantanamicrocredito..torg4  (NOLOCK)
WHERE (O4DTDESAT IS NULL OR O4DTDESAT <='20150331') AND O4ATIVA='A' 
*/


/*
SELECT ATSLDXRAP,ATVLRTITOG,ATVLRTIT,* FROM SANFIFA..ARQTIT (NOLOCK) WHERE ATDTEMI <='20150131'  AND ATDTLIQ IS NULL
SELECT SUM(ATSLDXRAP) FROM SANFIFA..ARQTIT (NOLOCK) WHERE ATDTEMI <='20150131' AND ATDTLIQ IS NULL AND ATDTVCTO<='20150131'
1182096
SELECT * FROM COMERCIAL_PRODUCAO WHERE DT_FECHA='20150131' AND  produto='cg'
Capital de Giro c/garantia-ca
*/

		UPDATE		COMERCIAL_PRODUCAO
			SET		VEICULO  =  'Capital de Giro S/garantia-ca'
			WHERE	DT_FECHA	= @DTREF 
				AND PRODUTO		= 'CG'
				AND CODMODA		IN  --(350, 351, 352, 353,363)
				-- 353 , 363  no cadastro
				--   LISTA COM MODALIDADES DO PRODUTO VEIC
					(SELECT		M.COD_MODA
						FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
							AND T.COD_PROD = 'CG' )

			-- SOMENTE VEICULOS
--		AND OPCODOP IN (552,610,612,630,632,642,643,670,672,700,751,752,760,862,893,553,894 , 800)
		-- se nao for renegociacao
		-- AND RIGHT(OPNROPER,1) NOT IN ('A','B')

-- OPERADOR DO DESCONTO
-- SELECT * FROM COMERCIAL_PRODUCAO WHERE  DT_FECHA	= '20150131' AND PRODUTO='D'
-- DECLARE @DTREF DATETIME SET @DTREF ='20150131'
-- DECLARE @DTREF DATETIME SET @DTREF ='20150228'
		UPDATE		COMERCIAL_PRODUCAO
			SET		AGENTE  =  (SELECT TB_COB_CLISGR.OPER_COD
									FROM FinSGRDBS..tb_cednte (NOLOCK), FinSGRDBS..tb_cob_clisgr (NOLOCK)
									WHERE --  cednte_cedn = tb_cob_instru.cednte_cedn)  and 
										( tb_cednte.emp_cod = 1 ) and ( CONVERT(VARCHAR(10),tb_cednte.cednte_cedn) = CODCLI ) 
									and ( tb_cob_clisgr.emp_cod = tb_cednte.emp_cod ) 
									and ( tb_cob_clisgr.clisgr_cod = tb_cednte.cli_cod ) 
													)
			WHERE	DT_FECHA	= @DTREF 
				AND PRODUTO		= 'D'

-- MAI/17
		UPDATE		COMERCIAL_PRODUCAO
			SET		VEICULO  =  'DUPLICATAS'
			WHERE	DT_FECHA	= @DTREF 
				AND PRODUTO		= 'D' AND VEICULO='FIDC'

END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

