
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
go


/*
 EXEC PRC_COMERCIAL_PRODUCAO_CARTEIRA '20160131'
SELECT * FROM COMERCIAL_CARTEIRA_MES (NOLOCK) WHERE DT_FECHA='20160131' AND PRODUTO='CG'

 EXEC PRC_COMERCIAL_PRODUCAO_CARTEIRA '20150930'
--EXEC [dbo].[PRC_COMERCIAL_CALCULO] '20150930'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '20150930'


SELECT * FROM COMERCIAL_CARTEIRA_MES (NOLOCK) WHERE DT_FECHA='20150930'
 
EXEC PRC_COMERCIAL_PRODUCAO_CARTEIRA '20150131'
EXEC [dbo].[PRC_COMERCIAL_CALCULO] '2015-01-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_ANALISE] '20150131'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_CARTEIRA] '20150131'XX
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_mes_ttl] '2015-01-31'

 EXEC PRC_COMERCIAL_PRODUCAO '20150228'

 EXEC PRC_COMERCIAL_PRODUCAO '20150331'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO] '20150331'


SELECT * FROM COMERCIAL_PRODUCAO WHERE DT_FECHA='20150228' AND VLR_PRESENTE>0.0

SELECT * FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK) WHERE PANROPER='612155441'
SELECT * FROM	CDCSANTANAMicroCredito..COPER P (NOLOCK) WHERE OPNROPER='612155441'


SELECT * FROM	COMERCIAL_PRODUCAO WHERE DT_FECHA='20140228' AND PRODUTO='CG'
SELECT * FROM	COMERCIAL_PRODUCAO WHERE DT_FECHA='20140331' AND PRODUTO='CG'

SELECT * FROM	COMERCIAL_PRODUCAO WHERE DT_FECHA='20130331' AND PRODUTO='CG'
SELECT * FROM	COMERCIAL_PRODUCAO_MES WHERE DT_FECHA='20130331' AND PRODUTO='CG'


SP_HELP COMERCIAL_CARTEIRA_MES

CREATE INDEX COMERCIAL_CARTEIRA_MES_IDX1 ON COMERCIAL_CARTEIRA_MES (DT_FECHA,PRODUTO)

SP_HELP COMERCIAL_PRODUCAO

SP_HELP FX_ANO
SELECT * FROM FX_ANO
CREATE INDEX FX_ANO_IDX1 ON FX_ANO (DT_DE,DE)


SP_HELP COMERCIAL_PRODUCAO_MES


*/



-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_COMERCIAL_PRODUCAO_CARTEIRA' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_COMERCIAL_PRODUCAO_CARTEIRA] 
GO

-- MENSAL
-- ***************************************
CREATE Procedure [dbo].[PRC_COMERCIAL_PRODUCAO_CARTEIRA] 
		 (@DTREF1  SMALLDATETIME )	AS  

BEGIN

DECLARE @DTREF  AS SMALLDATETIME
DECLARE @DTINI  AS SMALLDATETIME
DECLARE @DTFIM  AS SMALLDATETIME
DECLARE @DTPDD  AS SMALLDATETIME

SET @DTREF = CONVERT(VARCHAR(8),@DTREF1,112)
--  SELECT  @DTREF
SET @DTINI = CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'
SET @DTFIM = CONVERT(VARCHAR(8),@DTREF1,112)
--  SELECT  @DTINI , @DTFIM

-- FECHAMENTO DA PDD
SET @DTPDD = @DTREF1
	-- ALTERACAO DT FECHAMENTO ULTIMO DIA DO MES
	IF @DTPDD <= '20140801' -- ANTES AGO/2014
	BEGIN
		-- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES		RISCO
		-- CHECA SE EH DIA UTIL
		SELECT	@DTPDD= CASE  WHEN DATEPART(DW,@DTPDD) = 1 THEN DATEADD(D,-2,@DTPDD)	-- DOMINGO
							  WHEN DATEPART(DW,@DTPDD) = 7 THEN DATEADD(D,-1,@DTPDD)	-- SABADO
							  ELSE @DTPDD					 END
	END
--	SELECT @DTPDD





/*
SELECT * FROM COMERCIAL_CARTEIRA_MES
SP_HELP COMERCIAL_CARTEIRA_MES
*/



-- **************************************************** CARTEIRA
-- REMOVE O TTL CARTEIRA NO MES
-- DECLARE @DTREF DATETIME SET @DTREF='20150131'
-- DECLARE @DTREF DATETIME SET @DTREF='20150331'
-- 1
		DELETE	FROM	COMERCIAL_CARTEIRA_MES
				WHERE	DT_FECHA	= @DTREF
-- INSERE O TTL CARTEIRA NO MES
-- 2
		INSERT	COMERCIAL_CARTEIRA_MES
						(DT_FECHA,
						PRODUTO,
						QTDE,
						VLR_PRESENTE )
		SELECT	@DTREF,
				CASE	WHEN MOPCOD IN ('0216')			THEN 'CG'   -- '0215' ANTES
						WHEN MOPCOD IN ('0301','0302')  THEN 'D'
						WHEN MOPCOD IN ('0203','0401','0402')  THEN 'V'
						--WHEN MOPCOD IN ('0216')			THEN 'R'
						WHEN MOPCOD IN ('0206','1511')  THEN 'CP'
						END,	  		-- PRODUTO
				COUNT(RATVALSALDO)  ,	-- QTDE
				SUM(RATVALSALDO)	
		--	SELECT RATCODSIS,MOPCOD,SUM(RATVALSALDO)	
		FROM			FinCilDbs..CilTblRat 	R	(NOLOCK)	
			where	ratDatRef = @DTREF    -- MES Ref Fechamento
				--and ratcodemp = 1
				and CrsCodRatFIM <> 'HH'  -- CARTEIRA SEM PREJUIZO
				and ISNULL(RatValSaldo,0.0) > 0.0
		GROUP BY CASE	WHEN MOPCOD IN ('0216')			THEN 'CG'		-- '0215' ANTES
						WHEN MOPCOD IN ('0301','0302')  THEN 'D'
						WHEN MOPCOD IN ('0203','0401','0402')  THEN 'V'
						--WHEN MOPCOD IN ('0216')			THEN 'R'
						WHEN MOPCOD IN ('0206','1511')  THEN 'CP'
						END



-- 3
		-- TABELA DE CONTRATOS AUXILIAR
		-- SELECT * FROM TAUX_CONTRATOC
		TRUNCATE TABLE  TAUX_CONTRATOC
-- 4
		INSERT			TAUX_CONTRATOC (CONTRATO,AGENTE,COD_CLI,CPF_CNPJ,SALDO_INSCRITO,RATING_FINAL)
				SELECT	RATCODCONTR,
						-- AGENTE COM PRODUTO
						CASE	WHEN MOPCOD IN ('0216')			THEN 'CG'				-- '0215' ANTES
								WHEN MOPCOD IN ('0101','0201','0301','0302','0303')  THEN 'D'
								WHEN MOPCOD IN ('0203','0401','0402')  THEN 'V'
								--WHEN MOPCOD IN ('0216')			THEN 'R'
								WHEN MOPCOD IN ('0206','1511')  THEN 'CP'
						END,

						-- COD_CLI COM MODALIDADE
						(SELECT OPCODOP FROM CDCSANTANAMicroCredito..COPER (NOLOCK) WHERE OPNROPER=RATCODCONTR),
						-- CPF_CNPJ COM CODCLI
						RATCODCLI,
						RATVALSALDO,
						CRSCODRATFIM
				-- SELECT *
				FROM	FinCilDbs..CilTblRat 	R	(NOLOCK)	
--WHERE ratDatRef = '20141130' AND MOPCOD IN ('0301','0302')
					where	ratDatRef = @DTREF    -- MES Ref Fechamento
						--and ratcodemp = 1
						and CrsCodRatFIM <> 'HH'  -- CARTEIRA SEM PREJUIZO
						and ISNULL(RatValSaldo,0.0) > 0.0

-- ALTERADO OUT-15 *******************
-- INSERE OS CONTRATOS DE HH RENEGOCIADOS, VOLTAM A CARTEIRA EM H
		INSERT			TAUX_CONTRATOC (CONTRATO,AGENTE,COD_CLI,CPF_CNPJ,SALDO_INSCRITO,RATING_FINAL)
				-- DECLARE @DTREF DATETIME SET @DTREF = '20150930'
				SELECT  NUM_OPE, 'V', NULL,NULL, SLD_INSCRITO,NVL_RISCO
				FROM	RATING_HISTORICO	R	(NOLOCK)	
				WHERE	DT_FECHA = @DTREF    -- MES Ref Fechamento
					AND NVL_RISCO <> 'HH'    -- SEM O PREJUIZO
					AND NUM_OPE NOT IN (SELECT CONTRATO FROM TAUX_CONTRATOC (NOLOCK))
					 -- CARTEIRA SEM PREJUIZO
				

/*
-- ajusta a CARTEIRA DO FECHAMENTO COMERCIAL. COD MODALIDADES ERRADOS NO CIL.
 UPDATE TAUX_CONTRATOC
	SET	AGENTE =  COD_PROD
		--	SELECT *
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK) 
		JOIN
			(SELECT M1.COD_MODA,T1.COD_PROD,T1.DESCR_TIPO FROM Ttipo_prod T1 (NOLOCK) JOIN TModa_tipo_prod M1 (NOLOCK) ON T1.COD_PROD	 = M1.COD_PROD
		AND T1.COD_MODALIDADE = M1.COD_MODALIDADE		  -- TIPO DA OPERACAO	
				) AS M
		ON	OPCODOP		= M.COD_MODA  -- BAIXO NIVEL MODALIDADE DA OPERACAO
	WHERE	CONTRATO	= OPNROPER
-- AJUSTA A CARTEIRA
	UPDATE	COMERCIAL_CARTEIRA_MES
		SET	VLR_PRESENTE = VLR
		FROM (SELECT	AGENTE,SUM(SALDO_INSCRITO) AS VLR FROM TAUX_CONTRATOC (NOLOCK)
			  GROUP BY  AGENTE) AS C
		WHERE	DT_FECHA =  @DTREF    -- MES Ref Fechamento
			AND	C.AGENTE =  PRODUTO
*/
-- SELECT * FROM  COMERCIAL_CARTEIRA_MES (NOLOCK)
-- SELECT * FROM  TAUX_CONTRATOC (NOLOCK)
--0203 v ,0215 cg, 0216 r, 0301 d, 0302 d , 0401 v , 0402 v
-- 5
		UPDATE		TAUX_CONTRATOC
			SET		VF = ISNULL(OP.VLR_FUTURO,0.0)
			FROM	
				(SELECT		PANROPER,SUM(PAVLRPR + PAVLRJR) AS VLR_FUTURO
					FROM	CDCSANTANAMicroCredito..CPARC O (NOLOCK)	
					WHERE	(PADTLIQ IS NULL OR PADTLIQ > @DTREF ) 	AND		 -- NAO PAGAS
							PACNTRL = (SELECT	MAX(PACNTRL) 
										FROM	CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
										WHERE	P1.PANROPER = O.PANROPER
											AND	P1.PANRPARC = O.PANRPARC
						  )
					GROUP BY PANROPER ) AS OP	
		WHERE		CONTRATO = OP.PANROPER
			--AND		AGENTE <> 'D'	


-- 6
-- FACTORING
-- DECLARE @DTREF DATETIME SET @DTREF='20150131'
	UPDATE	TAUX_CONTRATOC
	SET	 	
/*
SALDO_INSCRITO =
			case	when AtdtVAL between @DTINI and @DTREF then 	AtVlrTitOG
					else AtVlrTit end , -- sld inscr
AtVlrTit
*/
			VF = titlo_vlr_moe_tit
	FROM	FinSGRDBS..tb_titlo O (NOLOCK)
	where titlo_noss_num = CONTRATO
		  AND		AGENTE = 'D'	-- DESCONTO
--SanFifa..ArqTit 	R	(NOLOCK)
	--, 		SanFifa..cclie      C   (NOLOCK)  	where	ATNSSNR = CONTRATO
--			CPF_CNPJ = ATCGCSAC  AND
		-- CLCODCLI = ATCODCED and
--		 (AtDtLiq is NULL or AtDtLiq>@DTREF) -- nao pago		
--		and atNrOrd = (SELECT MAX(atnrord) FROM SanFifa..ArqTit WHERE  ATNSSNR= R.ATNSSNR) -- sem repeticao, max controle
--		  and 	 ATDIAS <= 360  -- RATING ativos atraso

	
		-- SELECT * FROM COMERCIAL_CARTEIRA_MES
		-- SELECT * FROM TAUX_CONTRATOC WHERE AGENTE='D'
-- 7
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		--VLR_PRESENTE =  ISNULL(C.VP ,0.0),
					VLR_FUTURO   =  ISNULL(C.VLR,0.0),
					VLR_RECEITA  =  ISNULL(C.VLR,0.0) - ISNULL(C.VP ,0.0)
			FROM 	(SELECT		C1.AGENTE,SUM(C1.VF) AS VLR, SUM(C1.SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  C1 (NOLOCK)
						GROUP BY C1.AGENTE	) AS C
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND	COMERCIAL_CARTEIRA_MES.PRODUTO  = C.AGENTE
-- 8
-- DESCONTO JOIN COM O TITULO DO DESCONTO ATT
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI =1, AGENTE = 'D'
	FROM	FinSGRDBS..tb_TITLO O (NOLOCK)
	WHERE	CONVERT(VARCHAR(20),TITLO_NOSS_NUM)= CONTRATO
		AND COD_CLI IS NULL  -- ??
		AND CtlCART_COD =11  -- E 21 -- SOMENTE DESCONTO
		AND TITLO_NOSS_NUM NOT IN (3156338,3156346,3156354,3156362,
3156370,3156389,3156397,3156400,3156419,3156427,3156435,3156443,3156451,
3156460,3156478,3156486,3156494,3156508,3156516,3156524)
		--AND TITLO_DAT_ENVPROT IS NULL -- SEM ENVIO PARA PROTESTO

/* -- ERRO DE CONVERSAO
SELECT		*	FROM  		TAUX_CONTRATOC  (NOLOCK),	FinSGRDBS..tb_TITLO O (NOLOCK)
	WHERE	CONVERT(VARCHAR(20),TITLO_NOSS_NUM)= CONTRATO
		AND COD_CLI IS NULL  -- ??
--		AND CtlCART_COD =11  -- E 21 -- SOMENTE DESCONTO
		AND TITLO_NOSS_NUM NOT IN (3156338,3156346,3156354,3156362,
3156370,3156389,3156397,3156400,3156419,3156427,3156435,3156443,3156451,
3156460,3156478,3156486,3156494,3156508,3156516,3156524)
*/
-- DESCONTO JOIN COM O TITULO DO DESCONTO ATT
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI ='1', AGENTE = 'D'
	FROM	FinSGRDBS..tb_TITLO O (NOLOCK)
	WHERE	TITLO_NOSS_NUM IN (938483,938491,1250167)
		AND CONTRATO IN  ('938483','938491','1250167')
		AND TITLO_NOSS_NUM= CONVERT(NUMERIC,CONTRATO)
--		AND COD_CLI IS NULL  -- ??

-- DESCONTO JOIN COM FUNCAO  FACTORING FOI INTEGRADA DO FIFA PARA O FUNCAO
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '870', 
			AGENTE	= 'D'  			--,			VF		= OPVLRBRUTO
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	OPNROPER= CONTRATO
		AND OPCODOP = '302'  -- MODALIDADE 870   NEGOCIACAO - PJ

--select * from TAUX_CONTRATOC (nolock) where contrato='6784'
-- 1 contrato faltante
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '870', 
			AGENTE	= 'D'  			,			VF		= saldo_inscrito
	WHERE	CONTRATO='6784'

-- 9
-- DESCONTO JOIN COM FUNCAO  FACTORING FOI INTEGRADA DO FIFA PARA O FUNCAO
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '870', 
			AGENTE	= 'D'  			--,			VF		= OPVLRBRUTO
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	OPNROPER= CONTRATO
		AND OPCODOP = '870'  -- MODALIDADE 870   NEGOCIACAO - PJ
-- REMOVE 2 OPER Q NAO ESTAO NO CONTABIL
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '9', 
			AGENTE	= '9'  			--,			VF		= OPVLRBRUTO
	WHERE	CONTRATO IN  ('353002877A','3641000865A')
		  -- MODALIDADE 870   NEGOCIACAO - PJ

-- reclassifica 1 CONTRATO CP
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '3', 
			AGENTE	= 'CP'  			--,			VF		= OPVLRBRUTO
	WHERE	CONTRATO IN  ('353002877A')

-- AJUSTE DESCONTO DESCONTO 1	CG MODALIDADE 870
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		VLR_PRESENTE =   ISNULL(C.VP ,0.0),
					VLR_FUTURO   =   ISNULL(C.VLR,0.0)
			FROM 	(SELECT		SUM(VF) AS VLR, SUM(SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  (NOLOCK)	
								-- COD_CLI COM MODALIDADE	1 = DESCONTO, 870 = FACTORING
						WHERE 	COD_CLI IN ('1', '870') ) AS C
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND	COMERCIAL_CARTEIRA_MES.PRODUTO  = 'D'

-- AJUSTE CG		CG MODALIDADE 353, 363
-- SELECT * FROM  COMERCIAL_CARTEIRA_MES
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		VLR_PRESENTE =  ISNULL(C.VP ,0.0),
					VLR_FUTURO   =  ISNULL(C.VLR,0.0)
			FROM 	(SELECT		SUM(VF) AS VLR, SUM(SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  (NOLOCK)	
								-- COD_CLI COM MODALIDADE	
						WHERE 	COD_CLI IN ('353', '363')) AS C
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND	COMERCIAL_CARTEIRA_MES.PRODUTO  = 'CG'

-- OPERADOR
-- SELECT * FROM TAUX_CONTRATOC
UPDATE 		TAUX_CONTRATOC  
	SET		COD_OPERADOR = 	OPCODORG3  , -- OPERADOR  CODOPER		, --varchar(20),		 
			COD_COB      =  OPCODORG4    -- COD LOJA  CODLOJA		, --varchar(20),
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	OPNROPER= CONTRATO


-- AJUSTE V		CONSIDERAR SOMENTE VEIC
--  ALTERADO EM OUT-15
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = 2, 
			AGENTE	= 'V'  			
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	OPNROPER= CONTRATO
		--   LISTA COM MODALIDADES DO PRODUTO VEIC
		AND (OPCODOP IN (SELECT	M.COD_MODA
						FROM	 Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
						AND T.COD_PROD = 'V' ) ) 
		-- OR OPCODOP IN (751 ,752)  ) --  SEM  RENEGOCIADOS 
-- 990 , 751 ,752 , 870
/*
 ALTERADO EM SET/15
	AND O.OPCODOP  IN (720,730,741,742,  751,752,  800,860,861,862,863,890,891,893,894  
				,612,630 ,553, 642, 612, 632, 552, 700, 670, 610, 643, 672,   760
,200,201,250,251
,400,401,450,451,500,501
,550,551,552,553,600,601
,610,611,612,613,630,631,632,633,640,641,642,643
,650,651,670,671,672,673
,700,720,730
,741,742,760,   800,860
,861,  862,863,  893
			)  -- RENEGOCIACAO
*/
-- sem 892 reneg PJ
-- 731, CG

-- ajusta VEIC
-- select * from TAUX_CONTRATOC where coNtrato ='3641000865A'
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = 2, 
			AGENTE	= 'V'  			
	WHERE	coNtrato ='3641000865A'

-- AJUSTE cp		CONSIDERAR CP + CDC LJ
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = 3, 
			AGENTE	= 'CP'  			
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	OPNROPER= CONTRATO
		--   LISTA COM MODALIDADES DO PRODUTO VEIC
		AND (OPCODOP IN (SELECT	M.COD_MODA
						FROM	 Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
						AND T.COD_PROD IN ( 'CP')  )
-- 909, 995 NO COML E CRED P/ CP
		OR OPCODOP IN (901,  990 ,
240, 900,901,905,910,911,915, 920,921,925,930,931,935,
940,941,945,950,951,955,960,961,965,970,971,975,
980,985,
100,101,102,103,150,151,152,153
,892	)  ) -- RENEGOCIADOS

/* ALTERADO EM SET-15
	AND O.OPCODOP  IN (901, 906, 908, 990,
240, 900,901,905,910,911,915, 920,921,925,930,931,935,
940,941,945,950,951,955,960,961,965,970,971,975,
980,985,
100,101,102,103,150,151,152,153
,892	)  -- CP E CDC LJ			*/
-- 892 reneg PJ ??
-- AJUSTA A CARTEIRA CP
		INSERT		COMERCIAL_CARTEIRA_MES
				(DT_FECHA,	PRODUTO,	QTDE,		VLR_PRESENTE,	VLR_FUTURO)
				SELECT	@DTREF , 'CP', ISNULL(C.QTD,0.0) , 
						ISNULL(C.VP ,0.0),
						ISNULL(C.VLR,0.0)
			FROM 	(SELECT		COUNT(*) AS QTD, SUM(VF) AS VLR, SUM(SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  (NOLOCK)	
								-- COD_CLI COM MODALIDADE	 3 = CP
						WHERE 	COD_CLI IN (3)) AS C


-- AJUSTE RENEG CART 86 E 75
-- SELECT * FROM CDCSANTANAMicroCredito..TMODA  (NOLOCK)
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '4', 
			AGENTE	= CASE  WHEN TOCODCART = '75' THEN 'R75' 
							WHEN TOCODCART = '86' THEN 'R86'  			
							ELSE 'R' END
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK),
			CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	OPNROPER = CONTRATO
		AND	OPCODOP  = M.TOCODOP 
		AND TOCODCART IN ('75','86')	
-- AJUSTA A CARTEIRA RENEG
		-- DECLARE @DTREF DATETIME SET @DTREF = '20150131'
		INSERT		COMERCIAL_CARTEIRA_MES
				(DT_FECHA,	PRODUTO,	QTDE,		VLR_PRESENTE,	VLR_FUTURO, TKT_MEDIO_PV)
				SELECT	@DTREF , AGENTE, ISNULL(C.QTD,0.0) , 
						ISNULL(C.VP ,0.0),
						ISNULL(C.VLR,0.0),
						CASE  WHEN AGENTE='R86' THEN VLR/C.QTD
							  WHEN AGENTE='R75' THEN VP /C.QTD ELSE 0.0 END	
			FROM 	(SELECT		AGENTE,COUNT(*) AS QTD, SUM(VF) AS VLR, SUM(SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  (NOLOCK)	
								-- COD_CLI COM MODALIDADE	 4 = reneg
						WHERE 	COD_CLI IN (4)
						GROUP BY AGENTE) AS C

-- AJUSTA A CARTEIRA
-- declare @dtref datetime set @dtref = '20150131'
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		VLR_PRESENTE =  ISNULL(C.VP ,0.0),
					VLR_FUTURO   =  ISNULL(C.VLR,0.0)
			FROM 	(SELECT		SUM(VF) AS VLR, SUM(SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  (NOLOCK)	
								-- COD_CLI COM MODALIDADE	 2 = VEIC + 4= reneg
						WHERE 	COD_CLI IN (2,4)) AS C
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND	COMERCIAL_CARTEIRA_MES.PRODUTO  = 'V'
--R86 , R75

		
-- AJUSTA A QTDE CLIENTES NA CARTEIRA
-- SELECT * FROM TAUX_CONTRATOC
-- SELECT * FROM 	COMERCIAL_CARTEIRA_MES WHERE DT_FECHA='20150131'
--    DECLARE @DTREF DATETIME SET @DTREF = '20150131'
--    MEDIAS POR LJ CLI 
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		COMERCIAL_CARTEIRA_MES.QTDE_CLIENTE= AG.QTD,
					COMERCIAL_CARTEIRA_MES.MEDIA_CLIENTE= CASE WHEN ISNULL(AG.QTD,0.0)=0.0 THEN 0.0
																ELSE AG.VLR/AG.QTD END,
					COMERCIAL_CARTEIRA_MES.TKT_MEDIO_PV= CASE WHEN ISNULL(AG.QTD_OP,0.0)=0.0 THEN 0.0
															 	ELSE		AG.VLR/AG.QTD_OP END,
					COMERCIAL_CARTEIRA_MES.QTD_LOJAS= AG.QTD_LJ,
					COMERCIAL_CARTEIRA_MES.MEDIA_LJ= CASE	WHEN ISNULL(AG.QTD_LJ,0.0)=0.0 THEN 0.0
															ELSE AG.VLR/AG.QTD_LJ END

			FROM    (SELECT		C.AGENTE, COUNT(*) AS QTD_OP,
								COUNT(DISTINCT C.CPF_CNPJ) AS QTD, SUM(SALDO_INSCRITO) AS VLR ,
								COUNT(DISTINCT C.COD_COB) AS QTD_LJ								
						FROM	TAUX_CONTRATOC  C (NOLOCK)
						GROUP BY C.AGENTE) AS AG
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA = @DTREF 
				AND COMERCIAL_CARTEIRA_MES.PRODUTO  = AG.AGENTE

-- SELECT SUM(SALDO_INSCRITO) FROM	TAUX_CONTRATOC  (NOLOCK) WHERE 	COD_CLI = 353
-- SELECT COD_CLI,SUM(SALDO_INSCRITO) FROM	TAUX_CONTRATOC  (NOLOCK) GROUP BY	COD_CLI 
/*
 SELECT COD_CLI,TONOMEOP,SUM(SALDO_INSCRITO) FROM	TAUX_CONTRATOC  (NOLOCK) LEFT JOIN
(SELECT * FROM CDCSANTANAMicroCredito..TMODA   (NOLOCK) ) AS M
ON COD_CLI =TOCODOP 
 GROUP BY	COD_CLI , TONOMEOP

UPDATE 	TAUX_CONTRATOC  
SET COD_CLI ='D'
FROM FinSGRDBS..tb_bordro O (NOLOCK)

 SELECT * 
	FROM		FinSGRDBS..tb_bordro O (NOLOCK)
	WHERE	-- PRODUCAO
			bordro_dat_MOVatu BETWEEN @DTINI AND @DTFIM 
		AND CtlCART_COD =11 
*/

		-- inclui FACTORING NO DESCONTO  ******************
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		VLR_PRESENTE =  VLR_PRESENTE+1182096.0
					--,VLR_FUTURO   =  VLR_FUTURO+118
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND	COMERCIAL_CARTEIRA_MES.PRODUTO  = 'D'

		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		VLR_RECEITA  =  ISNULL(VLR_FUTURO,0.0) - ISNULL(VLR_PRESENTE ,0.0)
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 


		-- CARTEIRA QTDE LOJAS ATIVAS
		-- DECLARE @DTREF DATETIME SET @DTREF = '20150131'
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		QTD_LOJAS  =  (SELECT	COUNT(DISTINCT O4CodOrg)
									FROM	CdcSantanaMicroCredito..TOrg4  (NOLOCK)
									WHERE	(O4DTDESAT IS NULL OR O4DTDESAT <=@DTREF) AND O4ATIVA='A' )
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND COMERCIAL_CARTEIRA_MES.PRODUTO  = 'V'


-- inclui BKF na CARTEIRA em 8/3/17 ********* operacoes desde 8/16
		INSERT		COMERCIAL_CARTEIRA_MES
				(DT_FECHA,	PRODUTO,	QTDE,		VLR_PRESENTE,	VLR_FUTURO)
				SELECT	@DTREF , 'BF', ISNULL(C.QTD,0.0) , 
						ISNULL(C.VP ,0.0),
						ISNULL(C.VLR,0.0)
			FROM 	(SELECT		COUNT(*) AS QTD, SUM(O.OPQTDDPARC * OPVLRPARC) AS VLR, SUM(RATVALSALDO) AS VP
						FROM	(SELECT * 		
									FROM	FinCilDbs..CilTblRat 	R	(NOLOCK)	
									where	ratDatRef =  @DTREF) as C1,  -- '20160831'
							CDCSANTANAMicroCredito..COPER O (NOLOCK)
					WHERE	o.OPNROPER= C1.ratCodContr
						--   LISTA COM MODALIDADES DO PRODUTO VEIC
						AND (OPCODOP IN (SELECT	M.COD_MODA
										FROM	 Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
										WHERE	M.COD_PROD = T.COD_PROD 
											AND T.COD_MODALIDADE = M.COD_MODALIDADE 
										AND T.COD_PROD = 'BF' ) ) )  AS C


-- REMOVER BKF DA CARTEIRA DE VEICULOS  ********************** ESTAH SOMANDO EM VEICULOS BKF
--  PRECISA INCLUI  EM 8/3/17  ****************
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		COMERCIAL_CARTEIRA_MES.QTDE=COMERCIAL_CARTEIRA_MES.QTDE - ISNULL(C.QTDE,0.0) ,		
					COMERCIAL_CARTEIRA_MES.VLR_PRESENTE= COMERCIAL_CARTEIRA_MES.VLR_PRESENTE - ISNULL(C.VLR_PRESENTE,0.0),
					COMERCIAL_CARTEIRA_MES.VLR_FUTURO = COMERCIAL_CARTEIRA_MES.VLR_FUTURO - ISNULL(C.VLR_FUTURO,0.0)
			FROM	(SELECT * FROM COMERCIAL_CARTEIRA_MES C1 (NOLOCK)
						WHERE	C1.DT_FECHA = @DTREF
							AND C1.PRODUTO = 'BF')  AS C
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA = @DTREF
				AND COMERCIAL_CARTEIRA_MES.PRODUTO = 'V'
				--(DT_FECHA,	PRODUTO,	QTDE,		VLR_PRESENTE,	VLR_FUTURO)


/*
-- QTDE LOJAS ATIVAS CARTEIRA
select o4codorg, o4nome, o4descr, o4rua,o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ 
from cdcsantanamicrocredito..torg4  (NOLOCK)
WHERE (O4DTDESAT IS NULL OR O4DTDESAT <='20150331') AND O4ATIVA='A' 
*/


/*
SELECT ATSLDXRAP,ATVLRTITOG,ATVLRTIT,* FROM SANFIFA..ARQTIT (NOLOCK) WHERE ATDTEMI <='20150131'  AND ATDTLIQ IS NULL
SELECT SUM(ATSLDXRAP) FROM SANFIFA..ARQTIT (NOLOCK) WHERE ATDTEMI <='20150131' AND ATDTLIQ IS NULL AND ATDTVCTO<='20150131'
1182096
SELECT * FROM COMERCIAL_PRODUCAO WHERE DT_FECHA='20150131' AND  produto='cg'
Capital de Giro c/garantia-ca
*/


 
/*

SELECT TOP 100 * FROM	SanFifa..ArqTit 	R	(NOLOCK) WHERE ATNSSNR='10669'
 ATCMC7='12439928'      

ATNRLNC='10669'
ATNRLNC
-- INDEX
ATNRORD
ATNROP
ATCGCSAC
ATCODCED
ATNRPROP
ATCMC7
ATNSSNR, ATNRORD 

ATNROP='10669'
ORDER BY ATNRTIT


ATNSSNR='10669'
ATNRLNC ='10669'
ATNRBRD='10669'
ATNRTIT='10669' VARIOS
ATNROP='10669'

'4499'

SELECT TOP 100 * FROM SanFifa..cclie      C   (NOLOCK) WHERE 59496877      
T04557

SELECT * FROM 		FinSgrDbs..tb_cednte A   WHERE CLI_COD='59496877'
RTRIM(CEDNTE_CEDN) = '59496877'

-- CLIENTES SCM NAO ENCONTRADOS NO FUNCAO
UPDATE	TAUX_CONTRATOC
SET		CPF_CNPJ		= cednte_cpfcgc,--ISNULL(cednte_cpfcgc,''),
		NOME_CLIENTE    = cednte_nome
-- SELECT * FROM TAUX_CONTRATOC ,
-- SELECT * 
FROM
		FinSgrDbs..TB_ENDERE_CLI B (NOLOCK)	,
		FinSgrDbs..tb_cednte A   
WHERE	A.CLI_COD = B.CLI_COD
--FROM	FinCilDbs..CilTblCLI 	R	(NOLOCK)	
	AND	TAUX_CONTRATOC.PLANO = 1 -- EMPRESA SCM
--and TAUX_CONTRATOC.nome_CLIENTE = ''
	AND TAUX_CONTRATOC.CPF_CNPJ =''
	AND	B.CLI_COD = CONVERT(NUMERIC,TAUX_CONTRATOC.COD_CLI)

SELECT * FROM 		SanFifa..ArqTit A   WHERE  ATNSSNR='767554'

select * FROM	FinSGRDBS..tb_bordro where  cednte_cedn ='348658'

select * FROM	FinSGRDBS..tb_TITLO where  cednte_cedn ='348658'
TITLO_NOSS_NUM
 --bordro_dat_movatu between '20140601' and '20140630' and

Codigo Cedente (Oper.)	Nome Cedente (Oper.)	Cod. Org3
36001	ESAMAR MARMORES GRANITOS E MINERAÇÃO LTDA	1349
96001	TRATORLINK RECONDICIONAMENTO DE TRATORES LTDA               	1349
99001	OSMAR JOSE VIEIRA MARMORES EPP                              	1349
123001	DECAUPECAS COMERCIO DE PECAS LTDA.                          	2

select * FROM	FinSGRDBS..tb_cednte where  cednte_cedn ='36001' AND 
048773816000184
select CLorg3,* FROM	SanFifa..cclie       where  cLCODCLI ='36001'
select CLorg3,* FROM	SanFifa..cclie       where CLorg3='2'
select CLorg3,* FROM	SanFifa..cclie        ORDER BY CLNOMECLI

CLorg3	CLCODCLI	CLNOMECLI
000368	T04493	ESAMAR MARMORES GRAN

DIFERENCA DE PRAZO MEDIO DE DUPLICATAS - DESCONTO
OP 121 CLI 74001

-- DIFERENCA PRAZO 
select * FROM	FinSGRDBS..tb_bordro where  cednte_cedn ='74001' AND BORDRO_NUM='121'
select TITLO_DAT_VENC,DATEPART(DW,TITLO_DAT_VENC),DATEDIFF(DD,TITLO_DAT_ENTR,TITLO_DAT_VENC),* FROM	FinSGRDBS..tb_TITLO where  cednte_cedn ='74001' AND BORDRO_NUM='121'
SELECT * FROM  COMERCIAL_PRODUCAO where  cODCLI ='74001' AND NUM_OPE='121'

-- DIFERENCA PRAZO DE CHEQUE
SELECT * FROM  COMERCIAL_PRODUCAO where  NUM_OPE='103' AND DT_FECHA='20150228' AND VEICULO='CHEQUES'
select * FROM	FinSGRDBS..tb_bordro where  cednte_cedn ='118001' AND BORDRO_NUM='103'
select TITLO_DAT_VENC,DATEPART(DW,TITLO_DAT_VENC),DATEDIFF(DD,TITLO_DAT_ENTR,TITLO_DAT_VENC),* FROM	FinSGRDBS..tb_TITLO 
where  cednte_cedn ='118001' AND BORDRO_NUM='103'

select TITLO_DAT_VENC,DATEPART(DW,TITLO_DAT_VENC),DATEDIFF(DD,TITLO_DAT_ENTR,TITLO_DAT_VENC),* FROM	FinSGRDBS..tb_TITLO 
where  cednte_cedn ='146001' AND BORDRO_NUM='6' AND TITLO_DAT_ENTR BETWEEN '20150101' AND '20150131'
SELECT * FROM  COMERCIAL_PRODUCAO where  NUM_OPE='6' AND DT_FECHA='20150131' AND VEICULO='CHEQUES'

select * FROM	FinSGRDBS..SGRTBLDOM
select * FROM	FinSGRDBS..SGRTBLrts
select * FROM	CDCSANTANAMicroCredito..tferi where fedtfer >='20150201'

SELECT tb_espc.espc_cod, tb_espc.espc_desc, tb_depend.depend_nom,
tb_titlo.indice_cod, tb_titlo.cednte_cedn, tb_titlo.titlo_noss_num,
tb_titlo.cednte_dep_agn, tb_titlo.sit_cod, tb_titlo.titlo_seu_num,
tb_titlo.titlo_bco_cob_cod, tb_titlo.sacdo_nome, tb_titlo.titlo_nosncob,
tb_titlo.titlo_dat_venc, tb_titlo.titlo_vlr_total, tb_titlo.titlo_dat_entr,
tb_titlo.titlo_env_prot, tb_titlo.sacdo_cpfcgc_novo, tb_titlo.titlo_agn_cob_cod,
tb_cob_clisgr.oper_cod, tb_sit.sit_desc, tb_titlo.ctlcart_cod,
tb_ctlcart.ctlcart_desc, tb_cednte.cednte_nome, tb_cob_instru.instru_cod,
tb_titlo.titlo_vlr_moe_tit, tb_titlo.titlo_vlr_moe_datent, tb_titlo.titlo_vlr_conv_cotacao,
sgrtblmoeda.moevalcotacao, tb_procob.proc_dtanter, tb_cob_parger.parger_moeda_principal,
tb_titlo.titlo_indice_correcao, *
 FROM FinSGRDBS..tb_titlo, FinSGRDBS..tb_depend, FinSGRDBS..tb_espc,
FinSGRDBS..tb_sit, FinSGRDBS..tb_ctlcart, FinSGRDBS..tb_cednte, FinSGRDBS..tb_cob_clisgr,
FinSGRDBS..tb_cob_instru, FinSGRDBS..sgrtblmoeda, FinSGRDBS..tb_procob, FinSGRDBS..tb_cob_parger
WHERE ( tb_titlo.emp_cod = tb_cob_instru.emp_cod) and ( tb_titlo.cednte_cedn = tb_cob_instru.cednte_cedn) and ( tb_titlo.titlo_noss_num = tb_cob_instru.titlo_noss_num) and ( tb_titlo.emp_cod = tb_depend.emp_cod ) and ( tb_titlo.cednte_dep_agn = tb_depend.depend_cod ) and ( tb_titlo.emp_cod = tb_espc.emp_cod ) and ( tb_titlo.espc_cod = tb_espc.espc_cod ) and ( tb_titlo.sit_cod = tb_sit.sit_cod ) and ( tb_titlo.ctlcart_cod = tb_ctlcart.ctlcart_cod ) and ( tb_cednte.emp_cod = tb_titlo.emp_cod ) and ( tb_cednte.cednte_cedn = tb_titlo.cednte_cedn ) and ( tb_cob_clisgr.emp_cod = tb_cednte.emp_cod ) and ( tb_cob_clisgr.clisgr_cod = tb_cednte.cli_cod ) and ( tb_titlo.emp_cod = sgrtblmoeda.moeempcod ) and ( tb_titlo.indice_cod = sgrtblmoeda.moecodmoedacli ) and ( tb_titlo.emp_cod = tb_procob.emp_cod ) and ( tb_titlo.emp_cod = tb_cob_parger.emp_cod ) and
( tb_procob.proc_cod = 99) and tb_cob_instru.instru_cod = 90
and TB_TITLO.EMP_COD = 1 and tb_titlo.operc_cod = 99 AND TB_COB_CLISGR.OPER_COD = 1 AND (( tb_titlo.sit_cod > 159 ) or ( tb_titlo.sit_cod < 151 ))
UNION 
SELECT tb_espc.espc_cod, tb_espc.espc_desc,
tb_depend.depend_nom, tb_titlo.indice_cod,
tb_titlo.cednte_cedn, tb_titlo.titlo_noss_num,
tb_titlo.cednte_dep_agn, tb_titlo.sit_cod,
tb_titlo.titlo_seu_num, tb_titlo.titlo_bco_cob_cod,
tb_titlo.sacdo_nome, tb_titlo.titlo_nosncob,
tb_titlo.titlo_dat_venc, tb_titlo.titlo_vlr_total,
tb_titlo.titlo_dat_entr, tb_titlo.titlo_env_prot,
tb_titlo.sacdo_cpfcgc_novo, tb_titlo.titlo_agn_cob_cod,
tb_cob_clisgr.oper_cod, tb_sit.sit_desc,
tb_titlo.ctlcart_cod, tb_ctlcart.ctlcart_desc,
tb_cednte.cednte_nome, 0 instru_cod,
tb_titlo.titlo_vlr_moe_tit, tb_titlo.titlo_vlr_moe_datent,
tb_titlo.titlo_vlr_conv_cotacao, sgrtblmoeda.moevalcotacao,
tb_procob.proc_dtanter, tb_cob_parger.parger_moeda_principal,
tb_titlo.titlo_indice_correcao, *
 FROM FinSGRDBS..tb_titlo, FinSGRDBS..tb_depend,
FinSGRDBS..tb_espc, FinSGRDBS..tb_sit, FinSGRDBS..tb_ctlcart, FinSGRDBS..tb_cednte,
FinSGRDBS..tb_cob_clisgr, FinSGRDBS..sgrtblmoeda, FinSGRDBS..tb_procob, FinSGRDBS..tb_cob_parger
WHERE ( tb_titlo.emp_cod = tb_depend.emp_cod )
and ( tb_titlo.cednte_dep_agn = tb_depend.depend_cod )
and ( tb_titlo.emp_cod = tb_espc.emp_cod )
and ( tb_titlo.espc_cod = tb_espc.espc_cod )
and ( tb_titlo.sit_cod = tb_sit.sit_cod )
and ( tb_titlo.ctlcart_cod = tb_ctlcart.ctlcart_cod )
and ( tb_cednte.emp_cod = tb_titlo.emp_cod )
and ( tb_cednte.cednte_cedn = tb_titlo.cednte_cedn )
and ( tb_cob_clisgr.emp_cod = tb_cednte.emp_cod )
and ( tb_cob_clisgr.clisgr_cod = tb_cednte.cli_cod )
and ( tb_titlo.emp_cod = sgrtblmoeda.moeempcod )
and ( tb_titlo.indice_cod = sgrtblmoeda.moecodmoedacli )
and ( tb_titlo.emp_cod = tb_procob.emp_cod )
and ( tb_titlo.emp_cod = tb_cob_parger.emp_cod )
and ( tb_procob.proc_cod = 99)
and not exists (Select * from FinSGRDBS..tb_cob_instru
where ( tb_cob_instru.emp_cod= tb_titlo.emp_cod)
and ( tb_cob_instru.cednte_cedn = tb_titlo.cednte_cedn)
and ( tb_cob_instru.titlo_noss_num = tb_titlo.titlo_noss_num)
and tb_cob_instru.instru_cod = 90) and TB_TITLO.EMP_COD = 1
and tb_titlo.operc_cod = 99 AND TB_COB_CLISGR.OPER_COD = 1 AND (( tb_titlo.sit_cod > 159 ) or ( tb_titlo.sit_cod < 151 ));

SELECT * FROM FinSGRDBS..TB_COB_CLISGR 
TB_COB_CLISGR.OPER_COD = 1 

-- NOME DOS OPERADORES
SELECT * FROM FinSGRDBS..TB_OPER 

Use propwebsmc

select ppcodorg4, ppnrprop, ppnroper, ppnomecli, ppcgc, ppcodorg3, ppusuario, PPCODPRD, PPCODTAB, ppdtbase, ppdtcad, PPVLROPCZ, ppvlrliq1, pppropfim, mpsit

from propwebsmc..cprop join propwebsmc..cmovp on (ppnrprop = mpnrprop)
WHERE ppdtbase >='2015-03-01' AND ppdtbase <='20150331'

WHERE ppdtbase >='2015-01-01' AND ppdtbase <='20150131'

 
*/


END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

