
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

/*

EXEC [dbo].[PRC_COMERCIAL_CALCULO] '2017-08-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO] '2017-09-30'

select * from CML_PRODUCAO_OPE (NOLOCK) WHERE DT_FECHA ='20170930' ORDER BY ORDEM
select * FROM	COMERCIAL_PRODUCAO O1 (NOLOCK) WHERE DT_FECHA BETWEEN '20170901' AND '20170930' 

 EXEC PRC_COMERCIAL_PRODUCAO '20170131'
	EXEC	PRC_COMERCIAL_VEIC_QUEBRAS		'20170131'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO] '2017-01-31'


 EXEC PRC_COMERCIAL_PRODUCAO '2017-02-28'
	EXEC	PRC_COMERCIAL_VEIC_QUEBRAS		'2017-02-28'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO] '2017-02-28'

 EXEC PRC_COMERCIAL_PRODUCAO '2017-03-31'
	EXEC	PRC_COMERCIAL_VEIC_QUEBRAS		'2017-03-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO] '2017-03-31'

 EXEC PRC_COMERCIAL_PRODUCAO '2017-04-30'
	EXEC	PRC_COMERCIAL_VEIC_QUEBRAS		'2017-04-30'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO] '2017-04-30'

 EXEC PRC_COMERCIAL_PRODUCAO '2017-05-31'
	EXEC	PRC_COMERCIAL_VEIC_QUEBRAS		'2017-05-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO] '2017-05-31'


select * from CML_PRODUCAO_OPE WHERE DT_FECHA ='20170131' ORDER BY ORDEM
select * from CML_PRODUCAO_OPE WHERE DT_FECHA ='20170228' ORDER BY ORDEM

select * from COMERCIAL_PRODUCAO WHERE PRODUTO IN ('CG','CP')
select * from COMERCIAL_PRODUCAO WHERE  DT_FECHA ='20170131'
*/

-- select sum(sld_inscrito) from rating_historiCo where dt_fecha='20140530' and nvl_risco <>'hh'
-- SELECT MAX(DT_FECHA)  FROM rating_historiCo 
-- SELECT *  FROM rating_historiCo WHERE DT_FECHA='20140530'

/* CRIAR TABELA AUXILIAR


select * from PROPOSTASMC..TOCUP

select * from PROPOSTAGA..TOCUP
select * from PROPOSTASANTANA..TOCUP
select * from PROPOSTASMC..TOCUP
select * from PROPWEBSHP..TOCUP
-- ***
select * from PROPWEBSMC..TOCUP

SELECT * FROM CML_PRODUCAO_OPE
SELECT * FROM COMERCIAL_PRODUCAO where veiculo='REFINANCIAMENTO UTILITARIOS'

SELECT * FROM CDCSANTANAMicroCredito..Coper where opnroper='800000060'

*/

use SIG
go


/*

 EXEC [dbo].[COMERCIAL_CALCULO]  '2014-03-31'

USE SIG


DROP TABLE CML_PRODUCAO_OPE
SP_HELP CML_PRODUCAO_OPE
CREATE TABLE CML_PRODUCAO_OPE
	(	
		DT_FECHA		SMALLDATETIME,
		CARTEIRA		INT,
		ORDEM			INT,

		PRODUTO			VARCHAR(100),
		DESCR			VARCHAR(100),
		COD				VARCHAR(10),
		QTDE			INT,
		PRAZO			INT,
		PLANO			INT,
		TX_AA			float,
		TX_AM			float,
		PV				float,

		RECEITA		float,
		FV			float,
		LIBERADO	FLOAT,
		TC_TARIFA		float,
		IOF			float,
		COR_LINHA   varchar(3)
	)

CREATE INDEX CML_PRODUCAO_OPE_IDX1 ON CML_PRODUCAO_OPE
	(	DT_FECHA,		CARTEIRA,	ORDEM,	PRODUTO, DESCR)



*/

-- SELECT * FROM RR_ROLLRATE WHERE RATING='HH'
-- SELECT * FROM RATING_HISTORICO WHERE NVL_RISCO='HH'


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_COMERCIAL_CALCULO' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_COMERCIAL_CALCULO]
GO


CREATE Procedure [dbo].[PRC_COMERCIAL_CALCULO] (@data_ref as datetime) AS
BEGIN


DECLARE @data_INI AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

-- APAGA PROCESSAMENTO ANTERIOR
delete  from CML_PRODUCAO_OPE
	WHERE	 DT_FECHA = @data_ref
	
-- faltou COR_LINHA

-- SP_HELP CML_PRODUCAO_OPE
-- SELECT * FROM  CML_PRODUCAO_OPE WHERE DT_FECHA='20170930'
INSERT CML_PRODUCAO_OPE
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,1,PRODUTO,
			
			VEICULO,  -- VEIC DESCR
			'',
			COUNT(*),
			-- ALTERADO D VLR_PRESENTE ANTES, APOS FEV/2015 VLR_FUTURO
			CASE WHEN PRODUTO = 'D' THEN 
					-- INCLUI 10/02/17	CORRECAO PARA ERRO DIV0
					CASE WHEN	SUM(VLR_PRESENTE) =0.0	THEN 0.0		ELSE
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_PRESENTE) , 0)	END
				 ELSE	
					CASE WHEN	SUM(VLR_OP) =0.0		THEN 0.0		ELSE	
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) , 0)		END		END ,		    -- PRAZO MEDIO
			CASE WHEN PRODUTO = 'D' THEN 
					-- INCLUI 10/02/17	CORRECAO PARA ERRO DIV0
					CASE WHEN	SUM(VLR_PRESENTE) =0.0	THEN 0.0		ELSE
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_PRESENTE) / 30.0, 0)	END					
				 ELSE	
					CASE WHEN SUM(VLR_OP)=0.0			THEN 0.0		ELSE
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) / 30.0, 0)	END		END,		    -- PLANO MEDIO
		--	SUM(PLANO_X_VLR) / SUM(VLR_OP) ,		 -- PLANO MEDIO	
			CASE WHEN PRODUTO = 'D' THEN 
					-- INCLUI 10/02/17	CORRECAO PARA ERRO DIV0
					CASE WHEN	SUM(VLR_PRESENTE) =0.0	THEN 0.0		ELSE
								-- teste 9/6/17
	--							( (POWER(((TAXA/100.000)+1.000),(12.000))-1.000)*100.000) 
								SUM(TX_AA_X_VLR) / SUM(VLR_PRESENTE)	END
				 ELSE	SUM(TX_AA_X_VLR) / SUM(VLR_OP + RETORNO)		END, -- TX AA X VLR OPERACAO
			CASE WHEN PRODUTO = 'D' THEN
					-- INCLUI 10/02/17	CORRECAO PARA ERRO DIV0
					CASE WHEN	SUM(VLR_PRESENTE) =0.0	THEN 0.0		ELSE
							 SUM(TX_X_VLR)    / SUM(VLR_PRESENTE)		END
				 ELSE	SUM(TX_X_VLR)    / SUM(VLR_OP + RETORNO)		END,	-- TX AM
			SUM(VLR_PRESENTE),	-- PV
			SUM(VLR_FUTURO) - SUM(VLR_PRESENTE),	-- RECEITA
			SUM(VLR_FUTURO),  -- FV

			-- ALTERADO EM 6/11/17 ********** CONSIDERA ACESSORIO E FICA MAIOR
			-- SUM(VLR_LIBERADO), 
			CASE WHEN	PRODUTO = 'V'			THEN	-- VEIC
						-- LIBERADO SEM ACESSORIOS = LIBERADO - DIFERENCA (SOMA( LIBERADO+TC+TARIFA+IOF) -  VP))
						SUM(VLR_LIBERADO	-	((VLR_LIBERADO + VLR_TC + VLR_TARIFA + VLR_IOF  ) - VLR_OP)  )
				 ELSE	SUM(VLR_LIBERADO)		END,	-- OUTROS PRODUTOS

			SUM(VLR_TC + VLR_TARIFA),  -- TC (COM DESP3 TTL COM ACESSORIO) + TAC
	
			SUM(VLR_IOF),
			'' ,
			-- INCLUI CAMPO TX CET EM 6/9/17	**************
			CASE WHEN PRODUTO = 'D' THEN	0.0
/*					-- INCLUI 10/02/17	CORRECAO PARA ERRO DIV0
					CASE WHEN	SUM(VLR_PRESENTE) =0.0	THEN 0.0		ELSE
								-- teste 9/6/17
	--							( (POWER(((TAXA/100.000)+1.000),(12.000))-1.000)*100.000) 
								SUM(TX_AA_X_VLR) / SUM(VLR_PRESENTE)	END  */
				 ELSE	SUM(TX_CET_X_VLR) / SUM(VLR_OP + RETORNO)		END -- MEDIA PONDERADA

			-- INCLUI CAMPO TX CET am EM 13/9/17	**************
			,CASE WHEN PRODUTO = 'D' THEN	0.0
				 ELSE	SUM(TX_CET_X_VLR_am) / SUM(VLR_OP + RETORNO)	END -- MEDIA PONDERADA
	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @data_ref   -- MES ATUAL
		and VLR_OP   > 0.0			-- SOMENTE OPERACOES VALIDAS
	GROUP BY	PRODUTO,VEICULO




/*
ORDEM	PRODUTO	DESCR
1	D	DESCONTO
		
20	CG	Capital de Giro c/garantia-ca
		
		
31	V	LEVES
32	V	MOTOS
33	V	UTILITARIO
34	V	AUTOMATICO
35	V	REFINANCIAMENTO UTILITARIOS
36	V	REFINANCIAMENTO
37	V	TTL
38	V	M-1
39	V	M-2
		
40	R	RENEGOCIACAO
		
50	CP	Crédito Pessoal - carnê

SELECT * FROM CML_PRODUCAO_OPE WHERE DT_FECHA = '20140630' AND PRODUTO = 'D' @data_ref   -- MES ATUAL
*/



-- ************************************ AJUSTA ORDEM CF SEQUENCIA
-- DECLARE @DTREF SMALLDATETIME SET @DTREF = '20140630'
	UPDATE	CML_PRODUCAO_OPE
	SET		ORDEM = CASE	
							WHEN PRODUTO IN ('BF','B','BK')	THEN 1		-- INCLUI 1/2/17	
							WHEN PRODUTO='D'	THEN 3   -- ANTES 1
							WHEN PRODUTO='CG'	THEN 20

							WHEN PRODUTO='V' AND DESCR='LEVES' 			THEN 31
							WHEN PRODUTO='V' AND DESCR='MOTOS' 			THEN 32
							WHEN PRODUTO='V' AND DESCR='UTILITARIO' 	THEN 33
							WHEN PRODUTO='V' AND DESCR='AUTOMATICO' 	THEN 34
							WHEN PRODUTO='V' AND DESCR='REFINANCIAMENTO UTILITARIOS' 	THEN 35
							WHEN PRODUTO='V' AND DESCR='REFINANCIAMENTO' 	THEN 36
							-- NOVO ITEM Veículos PJ
							-- ALTERADO EM 01/02/2017		***********************
							WHEN PRODUTO='V' AND DESCR='Veículos PJ' 		THEN 37
							-- ALTERADO EM 19/05/2017		***********************
							WHEN PRODUTO='V' AND LEFT(DESCR,15)='REFINANCIAMENTO' 	THEN 38
							WHEN PRODUTO='V'  		THEN 30	--	nao estah na lista acima


							--37	V	TTL , 38	V	M-1, 39	V	M-2		-- ALTERADO DE 40 P/ 51 1/2/17
							WHEN PRODUTO='R' AND DESCR='RENEGOCIACAO' 		THEN 51
							WHEN PRODUTO='R' AND DESCR='NEGOCIACAO PJ' 		THEN 52
							WHEN PRODUTO='R' AND DESCR='Negociação PJ' 		THEN 52

							WHEN PRODUTO='R' AND DESCR='CP RENEGOCIACAO' 	THEN 53
							-- ALTERADO EM 01/02/2017		***********************
							WHEN PRODUTO='R' AND DESCR='Crédito Pessoal - Renegociação' 	THEN 54

							WHEN PRODUTO='CP'							 	THEN 61  -- ALTERADO DE 50 P/ 61 1/2/17
							END
	--FROM	CML_PRODUCAO_OPE (NOLOCK) 
	WHERE	DT_FECHA = @data_ref   -- MES ATUAL



-- ************************************ INSERIR OS TOTAIS ***** QUEBRA POR PRODUTO
--  DECLARE @data_ref SMALLDATETIME SET @data_ref = '20140630'
	INSERT  CML_PRODUCAO_OPE
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2, -- CART
			-- ORDEM
			CASE	
					WHEN PRODUTO IN ('BF','B','BK')	THEN 2		-- INCLUI 1/2/17	
					WHEN PRODUTO ='D'  THEN  7
					WHEN PRODUTO ='CG' THEN 27
					WHEN PRODUTO ='V'  THEN 38		-- ALTERADO 1/2/17  ANTES 37  ****
					WHEN PRODUTO ='R'  THEN 57		-- ALTERADO 1/2/17  ANTES 47  ****
					WHEN PRODUTO ='CP' THEN 70		-- ALTERADO 1/2/17  ANTES 57  ****
					END,
			PRODUTO,
			
			'TOTAL',  -- VEIC DESCR
			'',
			COUNT(*),			
			-- INCLUIDO EM 13/03/17	CORRECAO ERRO DIV0	
			CASE WHEN	SUM(VLR_OP)=0.0		THEN 0.0	ELSE
					ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) , 0)	END,		    -- PRAZO MEDIO
			-- INCLUIDO EM 13/03/17	CORRECAO ERRO DIV0	
			CASE WHEN	SUM(VLR_OP)=0.0		THEN 0.0	ELSE
					ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) / 30.0, 0)	END,		    -- PLANO MEDIO
		--	SUM(PLANO_X_VLR) / SUM(VLR_OP) ,		 -- PLANO MEDIO	
			-- INCLUIDO EM 13/03/17	CORRECAO ERRO DIV0	
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0	THEN 0.0	ELSE
					SUM(TX_AA_X_VLR) / SUM(VLR_OP + RETORNO)	END, -- TX AA X VLR OPERACAO
			-- INCLUIDO EM 13/03/17	CORRECAO ERRO DIV0	
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0	THEN 0.0	ELSE
					SUM(TX_X_VLR)    / SUM(VLR_OP + RETORNO)	END,	-- TX AM
			SUM(VLR_PRESENTE),	-- PV
			SUM(VLR_FUTURO) - SUM(VLR_PRESENTE),	-- RECEITA
			SUM(VLR_FUTURO),  -- FV

			-- ALTERADO EM 6/11/17 ********** CONSIDERA ACESSORIO E FICA MAIOR
			-- SUM(VLR_LIBERADO), 
			CASE WHEN	PRODUTO = 'V'			THEN	-- VEIC
						-- LIBERADO SEM ACESSORIOS = LIBERADO - DIFERENCA (SOMA( LIBERADO+TC+TARIFA+IOF) -  VP))
						SUM(VLR_LIBERADO	-	((VLR_LIBERADO + VLR_TC + VLR_TARIFA + VLR_IOF  ) - VLR_OP)  )
				 ELSE	SUM(VLR_LIBERADO)		END,	-- OUTROS PRODUTOS

			SUM(VLR_TC + VLR_TARIFA),
			SUM(VLR_IOF),
			-- COR
			CASE	
					WHEN PRODUTO IN ('B','BF','BK')  THEN 'AZ1'		-- INCLUI 1/2/17
					WHEN PRODUTO ='D'  THEN 'AZ1'
					WHEN PRODUTO ='CG' THEN 'LR1'
					WHEN PRODUTO ='V'  THEN 'AZ2'
					WHEN PRODUTO ='R'  THEN 'AM2'
					WHEN PRODUTO ='CP' THEN 'VD1'
					END,
			-- INCLUI CAMPO TX CET EM 6/9/17	**************
			CASE WHEN PRODUTO = 'D' THEN	0.0
			/*		-- INCLUI 10/02/17	CORRECAO PARA ERRO DIV0
					CASE WHEN	SUM(VLR_PRESENTE) =0.0	THEN 0.0		ELSE
						--		( (POWER(((TAXA/100.000)+1.000),(12.000))-1.000)*100.000) 
								SUM(TX_AA_X_VLR) / SUM(VLR_PRESENTE)	END  */
				 ELSE	SUM(TX_CET_X_VLR) / SUM(VLR_OP + RETORNO)		END -- MEDIA PONDERADA
			-- INCLUI CAMPO TX CET am EM 13/9/17	**************
			,CASE WHEN PRODUTO = 'D' THEN	0.0
				 ELSE	SUM(TX_CET_X_VLR_am) / SUM(VLR_OP + RETORNO)	END -- MEDIA PONDERADA
	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @data_ref   -- MES ATUAL     
		AND PRODUTO <> 'D'
		AND VLR_OP  > 0.0			-- SOMENTE CONTRATOS VALIDOS
	GROUP BY	PRODUTO

--	************************* SOMENTE DESCONTO
--  DECLARE @data_ref SMALLDATETIME SET @data_ref = '20140630'
	INSERT  CML_PRODUCAO_OPE
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2, -- CART
			-- ORDEM
			7,
			PRODUTO,			
			'TOTAL',  -- VEIC DESCR
			'',
			COUNT(*),
			-- INCLUIDO EM 10/02/17	CORRECAO ERRO DIV0	
			CASE WHEN	SUM(VLR_PRESENTE)=0.0		THEN 0.0			ELSE
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_PRESENTE) , 0)	END ,		    -- PRAZO MEDIO
			-- INCLUIDO EM 10/02/17	CORRECAO ERRO DIV0	
			CASE WHEN	SUM(VLR_PRESENTE)=0.0		THEN 0.0			ELSE
				ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_PRESENTE) / 30.0, 0)	END,		    -- PLANO MEDIO
			-- INCLUIDO EM 10/02/17	CORRECAO ERRO DIV0	
			CASE WHEN	SUM(VLR_PRESENTE)=0.0			THEN 0.0	ELSE
				SUM(TX_AA_X_VLR) / SUM(VLR_PRESENTE)	END, -- TX AA X VLR OPERACAO
			-- INCLUIDO EM 10/02/17	CORRECAO ERRO DIV0	
			CASE WHEN	SUM(VLR_PRESENTE)=0.0			THEN 0.0	ELSE
				SUM(TX_X_VLR)    / SUM(VLR_PRESENTE)	END,	-- TX AM
			SUM(VLR_PRESENTE),	-- PV
			SUM(VLR_FUTURO) - SUM(VLR_PRESENTE),	-- RECEITA
			SUM(VLR_FUTURO),  -- FV
			SUM(VLR_LIBERADO), -- DESCTO OK
			SUM(VLR_TC + VLR_TARIFA),
			SUM(VLR_IOF),
			-- COR
			'AZ1',
			-- INCLUI CAMPO TX CET EM 6/9/17	**************
			CASE WHEN PRODUTO = 'D' THEN	0.0
/*					CASE WHEN	SUM(VLR_PRESENTE) =0.0	THEN 0.0		ELSE
	--							( (POWER(((TAXA/100.000)+1.000),(12.000))-1.000)*100.000) 
								SUM(TX_AA_X_VLR) / SUM(VLR_PRESENTE)	END  */
				 ELSE	SUM(TX_CET_X_VLR) / SUM(VLR_OP + RETORNO)		END -- MEDIA PONDERADA
			-- INCLUI CAMPO TX CET am EM 13/9/17	**************
			,CASE WHEN PRODUTO = 'D' THEN	0.0
				 ELSE	SUM(TX_CET_X_VLR_am) / SUM(VLR_OP + RETORNO)	END -- MEDIA PONDERADA

	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @data_ref   -- MES ATUAL
		AND PRODUTO = 'D'
		AND VLR_OP   > 0.0			-- SOMENTE CONTRATOS VALIDOS
		--- ALTERADO 19/5/17 NAO CONSIDERAR ADIANTA NO TTL  **************
		AND VEICULO <> 'ADIANTA'
		-- AND VLR_PRESENTE  > 0.0			-- SOMENTE CONTRATOS VALIDOS  ******** ALTERADO P/ INCLUIR TX 0 EM 13/5/16
	GROUP BY	PRODUTO


-- ************************************ INSERIR OS TOTAIS ***** QUEBRA POR PRODUTO ***** M-1 *****
--  DECLARE @data_ref SMALLDATETIME SET @data_ref = '20140630'
	DECLARE @M1 SMALLDATETIME 
	SET @M1= DATEADD(DD,+1,@data_ref)
	SET @M1= DATEADD(MM,-1,@M1)
	SET @M1= DATEADD(DD,-1,@M1)  -- FIM DO MES ANTERIOR
--SELECT @M1

-- EXCETO DESCONTO *************************** MEDIA PODERADA VLR OP
	INSERT  CML_PRODUCAO_OPE
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2, -- CART
			-- ORDEM
			CASE	
					WHEN PRODUTO IN ('B','BF','BK')  THEN 3		-- INCLUI 8/2/17
					WHEN PRODUTO ='D'  THEN  8
					WHEN PRODUTO ='CG' THEN 28
					WHEN PRODUTO ='V'  THEN 39		-- ALTERADO 1/2/17  ANTES 38  ****
					WHEN PRODUTO ='R'  THEN 58		-- ALTERADO 1/2/17  ANTES 48  ****
					WHEN PRODUTO ='CP' THEN 71		-- ALTERADO 1/2/17  ANTES 58  ****
					END,
			PRODUTO,
			
			' M-1 '+ CASE	WHEN DATEPART(MM,@M1) =1 THEN 'JANEIRO'
							WHEN DATEPART(MM,@M1) =2 THEN 'FEVEREIRO'
							WHEN DATEPART(MM,@M1) =3 THEN 'MARÇO'
							WHEN DATEPART(MM,@M1) =4 THEN 'ABRIL'
							WHEN DATEPART(MM,@M1) =5 THEN 'MAIO'
							WHEN DATEPART(MM,@M1) =6 THEN 'JUNHO'
							WHEN DATEPART(MM,@M1) =7 THEN 'JULHO'
							WHEN DATEPART(MM,@M1) =8 THEN 'AGOSTO'
							WHEN DATEPART(MM,@M1) =9 THEN 'SETEMBRO'
							WHEN DATEPART(MM,@M1) =10 THEN 'OUTUBRO'
							WHEN DATEPART(MM,@M1) =11 THEN 'NOVEMBRO'
							WHEN DATEPART(MM,@M1) =12 THEN 'DEZEMBRO'
						END,  -- VEIC DESCR
			'',
			COUNT(*),
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN SUM(VLR_OP)=0.0 THEN 0.0			ELSE
				ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) , 0)	END ,		    -- PRAZO MEDIO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN SUM(VLR_OP)=0.0 THEN 0.0				ELSE
				ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) / 30.0, 0)	END,		    -- PLANO MEDIO
		--	SUM(PLANO_X_VLR) / SUM(VLR_OP) ,		 -- PLANO MEDIO	
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN SUM(VLR_OP + RETORNO)=0.0 THEN 0.0			ELSE
				SUM(TX_AA_X_VLR) / SUM(VLR_OP + RETORNO)	END, -- TX AA X VLR OPERACAO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN SUM(VLR_OP + RETORNO)=0.0 THEN 0.0			ELSE
				SUM(TX_X_VLR)    / SUM(VLR_OP + RETORNO)	END,	-- TX AM
			SUM(VLR_PRESENTE),	-- PV
			SUM(VLR_FUTURO) - SUM(VLR_PRESENTE),	-- RECEITA
			SUM(VLR_FUTURO),  -- FV
			-- ALTERADO EM 6/11/17 ********** CONSIDERA ACESSORIO E FICA MAIOR
			-- SUM(VLR_LIBERADO), 
			CASE WHEN	PRODUTO = 'V'			THEN	-- VEIC
						-- LIBERADO SEM ACESSORIOS = LIBERADO - DIFERENCA (SOMA( LIBERADO+TC+TARIFA+IOF) -  VP))
						SUM(VLR_LIBERADO	-	((VLR_LIBERADO + VLR_TC + VLR_TARIFA + VLR_IOF  ) - VLR_OP)  )
				 ELSE	SUM(VLR_LIBERADO)		END,	-- OUTROS PRODUTOS
			SUM(VLR_TC + VLR_TARIFA),
			SUM(VLR_IOF),
			-- COR
			CASE	
					WHEN PRODUTO IN ('B','BF','BK')  THEN 'AZ1'		-- INCLUI 8/2/17
					WHEN PRODUTO ='CG' THEN 'LR1'
					WHEN PRODUTO ='V'  THEN 'AZ2'
					WHEN PRODUTO ='R'  THEN 'AM2'
					WHEN PRODUTO ='CP' THEN 'VD1'
					END,
			-- INCLUI CAMPO TX CET EM 6/9/17	**************
			CASE WHEN PRODUTO = 'D' THEN	0.0
			/*		CASE WHEN	SUM(VLR_PRESENTE) =0.0	THEN 0.0		ELSE
			--					( (POWER(((TAXA/100.000)+1.000),(12.000))-1.000)*100.000) 
								SUM(TX_AA_X_VLR) / SUM(VLR_PRESENTE)	END  */
				 ELSE	SUM(TX_CET_X_VLR) / SUM(VLR_OP + RETORNO)		END -- MEDIA PONDERADA
			-- INCLUI CAMPO TX CET am EM 13/9/17	**************
			,CASE WHEN PRODUTO = 'D' THEN	0.0
				 ELSE	SUM(TX_CET_X_VLR_am) / SUM(VLR_OP + RETORNO)	END -- MEDIA PONDERADA

	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @M1   -- MES ANTERIOR
		AND VLR_OP  > 0.0			-- SOMENTE CONTRATOS VALIDOS
		AND PRODUTO <> 'D'
	GROUP BY	PRODUTO

--  DESCONTO *************************** MEDIA PODERADA VLR PRESENTE
	INSERT  CML_PRODUCAO_OPE
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2, -- CART
			-- ORDEM
			8,
			PRODUTO,
			
			' M-1 '+ CASE	WHEN DATEPART(MM,@M1) =1 THEN 'JANEIRO'
							WHEN DATEPART(MM,@M1) =2 THEN 'FEVEREIRO'
							WHEN DATEPART(MM,@M1) =3 THEN 'MARÇO'
							WHEN DATEPART(MM,@M1) =4 THEN 'ABRIL'
							WHEN DATEPART(MM,@M1) =5 THEN 'MAIO'
							WHEN DATEPART(MM,@M1) =6 THEN 'JUNHO'
							WHEN DATEPART(MM,@M1) =7 THEN 'JULHO'
							WHEN DATEPART(MM,@M1) =8 THEN 'AGOSTO'
							WHEN DATEPART(MM,@M1) =9 THEN 'SETEMBRO'
							WHEN DATEPART(MM,@M1) =10 THEN 'OUTUBRO'
							WHEN DATEPART(MM,@M1) =11 THEN 'NOVEMBRO'
							WHEN DATEPART(MM,@M1) =12 THEN 'DEZEMBRO'
						END,  -- VEIC DESCR
			'',
			COUNT(*),
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN SUM(VLR_PRESENTE)=0.0		THEN 0.0			ELSE		
				ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_PRESENTE) , 0)		END,		    -- PRAZO MEDIO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN SUM(VLR_PRESENTE)=0.0		THEN 0.0				ELSE		
				ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_PRESENTE) / 30.0, 0)	END,		    -- PLANO MEDIO
		--	SUM(PLANO_X_VLR) / SUM(VLR_OP) ,		 -- PLANO MEDIO	
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN SUM(VLR_PRESENTE)=0.0		THEN 0.0			ELSE		
				SUM(TX_AA_X_VLR) / SUM(VLR_PRESENTE)				END, -- TX AA X VLR OPERACAO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN SUM(VLR_PRESENTE)=0.0		THEN 0.0			ELSE		
				SUM(TX_X_VLR)    / SUM(VLR_PRESENTE)	END,	-- TX AM
			SUM(VLR_PRESENTE),	-- PV
			SUM(VLR_FUTURO) - SUM(VLR_PRESENTE),	-- RECEITA
			SUM(VLR_FUTURO),  -- FV
			SUM(VLR_LIBERADO),	-- DESCONTO OK
			SUM(VLR_TC + VLR_TARIFA),
			SUM(VLR_IOF),
			-- COR
			'AZ1',
			-- INCLUI CAMPO TX CET EM 6/9/17	**************
			CASE WHEN PRODUTO = 'D' THEN	0.0
			/*		CASE WHEN	SUM(VLR_PRESENTE) =0.0	THEN 0.0		ELSE
			--					( (POWER(((TAXA/100.000)+1.000),(12.000))-1.000)*100.000) 
								SUM(TX_AA_X_VLR) / SUM(VLR_PRESENTE)	END  */
				 ELSE	SUM(TX_CET_X_VLR) / SUM(VLR_OP + RETORNO)		END -- MEDIA PONDERADA
			-- INCLUI CAMPO TX CET am EM 13/9/17	**************
			,CASE WHEN PRODUTO = 'D' THEN	0.0
				 ELSE	SUM(TX_CET_X_VLR_am) / SUM(VLR_OP + RETORNO)	END -- MEDIA PONDERADA
	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @M1			-- MES ANTERIOR
		AND VLR_OP  > 0.0			-- SOMENTE CONTRATOS VALIDOS -- AND VLR_PRESENTE  > 0.0			-- SOMENTE CONTRATOS VALIDOS
		AND PRODUTO = 'D'			-- SOMENTE DESCONTO
	GROUP BY	PRODUTO


-- ************************************ INSERIR OS TOTAIS ***** QUEBRA POR PRODUTO ***** M-2 *****
--  DECLARE @data_ref SMALLDATETIME SET @data_ref = '20140630'
	DECLARE @M2 SMALLDATETIME 
	SET @M2= DATEADD(DD,+1,@data_ref)
	SET @M2= DATEADD(MM,-2,@M2)
	SET @M2= DATEADD(DD,-1,@M2)  -- FIM DO MES ANTERIOR
--SELECT @M1

	INSERT  CML_PRODUCAO_OPE
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2, -- CART
			-- ORDEM
			CASE	
					WHEN PRODUTO IN ('B','BF','BK')  THEN 3		-- INCLUI 8/2/17
					WHEN PRODUTO ='D'  THEN  9
					WHEN PRODUTO ='CG' THEN 29
					WHEN PRODUTO ='V'  THEN 40		-- ALTERADO 1/2/17  ANTES 39  ****
					WHEN PRODUTO ='R'  THEN 59		-- ALTERADO 1/2/17  ANTES 49  ****
					WHEN PRODUTO ='CP' THEN 72		-- ALTERADO 1/2/17  ANTES 59  ****
					END,
			PRODUTO,
			
			' M-2 '+ CASE	WHEN DATEPART(MM,@M2) =1 THEN 'JANEIRO'
							WHEN DATEPART(MM,@M2) =2 THEN 'FEVEREIRO'
							WHEN DATEPART(MM,@M2) =3 THEN 'MARÇO'
							WHEN DATEPART(MM,@M2) =4 THEN 'ABRIL'
							WHEN DATEPART(MM,@M2) =5 THEN 'MAIO'
							WHEN DATEPART(MM,@M2) =6 THEN 'JUNHO'
							WHEN DATEPART(MM,@M2) =7 THEN 'JULHO'
							WHEN DATEPART(MM,@M2) =8 THEN 'AGOSTO'
							WHEN DATEPART(MM,@M2) =9 THEN 'SETEMBRO'
							WHEN DATEPART(MM,@M2) =10 THEN 'OUTUBRO'
							WHEN DATEPART(MM,@M2) =11 THEN 'NOVEMBRO'
							WHEN DATEPART(MM,@M2) =12 THEN 'DEZEMBRO'
						END,  -- VEIC DESCR
			'',
			COUNT(*),
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP)=0.0		THEN 0.0				ELSE			
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) , 0)	END,		    -- PRAZO MEDIO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP)=0.0		THEN 0.0					ELSE				
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) / 30.0, 0)	END,	-- PLANO MEDIO
		--	SUM(PLANO_X_VLR) / SUM(VLR_OP) ,		 -- PLANO MEDIO	
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0			THEN 0.0				ELSE			
				SUM(TX_AA_X_VLR) / SUM(VLR_OP + RETORNO)	END, -- TX AA X VLR OPERACAO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0			THEN 0.0				ELSE			
				SUM(TX_X_VLR)    / SUM(VLR_OP + RETORNO)	END,	-- TX AM
			SUM(VLR_PRESENTE),	-- PV
			SUM(VLR_FUTURO) - SUM(VLR_PRESENTE),	-- RECEITA
			SUM(VLR_FUTURO),  -- FV
			-- ALTERADO EM 6/11/17 ********** CONSIDERA ACESSORIO E FICA MAIOR
			-- SUM(VLR_LIBERADO), 
			CASE WHEN	PRODUTO = 'V'			THEN	-- VEIC
						-- LIBERADO SEM ACESSORIOS = LIBERADO - DIFERENCA (SOMA( LIBERADO+TC+TARIFA+IOF) -  VP))
						SUM(VLR_LIBERADO	-	((VLR_LIBERADO + VLR_TC + VLR_TARIFA + VLR_IOF  ) - VLR_OP)  )
				 ELSE	SUM(VLR_LIBERADO)		END,	-- OUTROS PRODUTOS
			SUM(VLR_TC + VLR_TARIFA),
			SUM(VLR_IOF),
			-- COR
			CASE	
					WHEN PRODUTO IN ('B','BF','BK')  THEN 'AZ1'		-- INCLUI 8/2/17
					WHEN PRODUTO ='D'  THEN 'AZ1'
					WHEN PRODUTO ='CG' THEN 'LR1'
					WHEN PRODUTO ='V'  THEN 'AZ2'
					WHEN PRODUTO ='R'  THEN 'AM2'
					WHEN PRODUTO ='CP' THEN 'VD1'
					END,
			-- INCLUI CAMPO TX CET EM 6/9/17	**************
			CASE WHEN PRODUTO = 'D' THEN	0.0
			/*		CASE WHEN	SUM(VLR_PRESENTE) =0.0	THEN 0.0		ELSE
			--					( (POWER(((TAXA/100.000)+1.000),(12.000))-1.000)*100.000) 
								SUM(TX_AA_X_VLR) / SUM(VLR_PRESENTE)	END  */
				 ELSE	SUM(TX_CET_X_VLR) / SUM(VLR_OP + RETORNO)		END -- MEDIA PONDERADA
			-- INCLUI CAMPO TX CET am EM 13/9/17	**************
			,CASE WHEN PRODUTO = 'D' THEN	0.0
				 ELSE	SUM(TX_CET_X_VLR_am) / SUM(VLR_OP + RETORNO)	END -- MEDIA PONDERADA
	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @M2   -- MES 2 ANTERIORES
		AND PRODUTO <> 'D'	  -- SEM DESCONTO, CALCULO DIFERENTE
		AND VLR_OP  > 0.0			-- SOMENTE CONTRATOS VALIDOS
	GROUP BY	PRODUTO

	-- ********************************** M-2 SOMENTE DESCONTO
	INSERT  CML_PRODUCAO_OPE
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2, -- CART
			-- ORDEM
			9,
			PRODUTO,
			
			' M-2 '+ CASE	WHEN DATEPART(MM,@M2) =1 THEN 'JANEIRO'
							WHEN DATEPART(MM,@M2) =2 THEN 'FEVEREIRO'
							WHEN DATEPART(MM,@M2) =3 THEN 'MARÇO'
							WHEN DATEPART(MM,@M2) =4 THEN 'ABRIL'
							WHEN DATEPART(MM,@M2) =5 THEN 'MAIO'
							WHEN DATEPART(MM,@M2) =6 THEN 'JUNHO'
							WHEN DATEPART(MM,@M2) =7 THEN 'JULHO'
							WHEN DATEPART(MM,@M2) =8 THEN 'AGOSTO'
							WHEN DATEPART(MM,@M2) =9 THEN 'SETEMBRO'
							WHEN DATEPART(MM,@M2) =10 THEN 'OUTUBRO'
							WHEN DATEPART(MM,@M2) =11 THEN 'NOVEMBRO'
							WHEN DATEPART(MM,@M2) =12 THEN 'DEZEMBRO'
						END,  -- VEIC DESCR
			'',
			COUNT(*),
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_PRESENTE)=0.0		THEN 0.0		ELSE			
				ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_PRESENTE) , 0)		END,		    -- PRAZO MEDIO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_PRESENTE)=0.0		THEN 0.0		ELSE			
				ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_PRESENTE) / 30.0, 0)	END,		    -- PLANO MEDIO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_PRESENTE)=0.0		THEN 0.0		ELSE			
				SUM(TX_AA_X_VLR) / SUM(VLR_PRESENTE) END , -- TX AA X VLR OPERACAO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_PRESENTE)=0.0		THEN 0.0		ELSE			
				SUM(TX_X_VLR)    / SUM(VLR_PRESENTE) END,	-- TX AM
			SUM(VLR_PRESENTE),	-- PV
			SUM(VLR_FUTURO) - SUM(VLR_PRESENTE),	-- RECEITA
			SUM(VLR_FUTURO),  -- FV
			SUM(VLR_LIBERADO), -- DESCTO OK
			SUM(VLR_TC + VLR_TARIFA),
			SUM(VLR_IOF),
			-- COR
			'AZ1',
			-- INCLUI CAMPO TX CET EM 6/9/17	**************
			CASE WHEN PRODUTO = 'D' THEN	0.0
			/*		CASE WHEN	SUM(VLR_PRESENTE) =0.0	THEN 0.0		ELSE
			--					( (POWER(((TAXA/100.000)+1.000),(12.000))-1.000)*100.000) 
								SUM(TX_AA_X_VLR) / SUM(VLR_PRESENTE)	END  */
				 ELSE	SUM(TX_CET_X_VLR) / SUM(VLR_OP + RETORNO)		END -- MEDIA PONDERADA
			-- INCLUI CAMPO TX CET am EM 13/9/17	**************
			,CASE WHEN PRODUTO = 'D' THEN	0.0
				 ELSE	SUM(TX_CET_X_VLR_am) / SUM(VLR_OP + RETORNO)	END -- MEDIA PONDERADA
	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @M2   -- MES 2 ANTERIORES
		AND	PRODUTO ='D' 
		AND VLR_OP  > 0.0			-- SOMENTE CONTRATOS VALIDOS  --AND VLR_PRESENTE  > 0.0			-- SOMENTE CONTRATOS VALIDOS
	GROUP BY	PRODUTO

		--- ********************************************** TOTAIS GERAIS -- SUB TTL CDC
	-- SP_HELP  CML_PRODUCAO_OPE
	INSERT  CML_PRODUCAO_OPE
	SELECT			-- DESCR 1 E 2
			@data_ref,
			3, -- CART
			75,-- ORDEM			-- ALTERADO DE 60 EM 1/2/17
			'T', -- PRODUTO
			'SUB-TOTAL CDC',  -- VEIC DESCR
			'',
			COUNT(*),
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP)=0.0		THEN 0.0			ELSE			
					ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) , 0)	END,		    -- PRAZO MEDIO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP)=0.0		THEN 0.0				ELSE			
					ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) / 30.0, 0)	END,		    -- PLANO MEDIO
		--	SUM(PLANO_X_VLR) / SUM(VLR_OP) ,		 -- PLANO MEDIO	
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0		THEN 0.0	ELSE				
					SUM(TX_AA_X_VLR) / SUM(VLR_OP + RETORNO)		END, -- TX AA X VLR OPERACAO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0	THEN 0.0	ELSE				
					SUM(TX_X_VLR)    / SUM(VLR_OP + RETORNO)	END,	-- TX AM
			SUM(VLR_PRESENTE),	-- PV
			SUM(VLR_FUTURO) - SUM(VLR_PRESENTE),	-- RECEITA
			SUM(VLR_FUTURO),  -- FV
				-- ALTERADO 6/11/17
				-- LIBERADO SEM ACESSORIOS = LIBERADO - DIFERENCA (SOMA( LIBERADO+TC+TARIFA+IOF) -  VP))
				SUM(VLR_LIBERADO	-	((VLR_LIBERADO + VLR_TC + VLR_TARIFA + VLR_IOF  ) - VLR_OP)  ),
			SUM(VLR_TC + VLR_TARIFA),
			SUM(VLR_IOF),
			-- COR
			'AZ2',
			-- INCLUI CAMPO TX CET EM 6/9/17	**************
			SUM(TX_CET_X_VLR) / SUM(VLR_OP + RETORNO)	 -- MEDIA PONDERADA
			-- INCLUI CAMPO TX CET am EM 13/9/17	**************
			,SUM(TX_CET_X_VLR_am) / SUM(VLR_OP + RETORNO)	 -- MEDIA PONDERADA

	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @data_ref		-- MES ATUAL
		--AND	PRODUTO <> 'D'			-- SEM DESCONTO

--		AND (PRODUTO IN ('CP','V')	-- VEIC, RENEG DE VEIC, CP DE PF  -- alterado 5/2/16 *******
		AND (PRODUTO IN ('V')	-- VEIC, RENEG DE VEIC, CP DE PF
		OR  (PRODUTO = 'R' AND VEICULO='Renegociacao') )
		AND VLR_OP  > 0.0			-- SOMENTE CONTRATOS VALIDOS


-- ************************************ INSERIR OS SUB TOTAIS ***** CDC ***** M-1 *****
--  DECLARE @data_ref SMALLDATETIME SET @data_ref = '20140630'
--  SELECT @M1

	INSERT  CML_PRODUCAO_OPE
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2, -- CART
			-- ORDEM
			76,		-- ALTERADO DE 62 EM 1/2/17
			'T',
			
			' M-1 '+ CASE	WHEN DATEPART(MM,@M1) =1 THEN 'JANEIRO'
							WHEN DATEPART(MM,@M1) =2 THEN 'FEVEREIRO'
							WHEN DATEPART(MM,@M1) =3 THEN 'MARÇO'
							WHEN DATEPART(MM,@M1) =4 THEN 'ABRIL'
							WHEN DATEPART(MM,@M1) =5 THEN 'MAIO'
							WHEN DATEPART(MM,@M1) =6 THEN 'JUNHO'
							WHEN DATEPART(MM,@M1) =7 THEN 'JULHO'
							WHEN DATEPART(MM,@M1) =8 THEN 'AGOSTO'
							WHEN DATEPART(MM,@M1) =9 THEN 'SETEMBRO'
							WHEN DATEPART(MM,@M1) =10 THEN 'OUTUBRO'
							WHEN DATEPART(MM,@M1) =11 THEN 'NOVEMBRO'
							WHEN DATEPART(MM,@M1) =12 THEN 'DEZEMBRO'
						END,  -- VEIC DESCR
			'',
			COUNT(*),
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP)=0.0		THEN 0.0				ELSE				
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) , 0)	END ,		    -- PRAZO MEDIO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP)=0.0		THEN 0.0			ELSE				
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) / 30.0, 0)		END,		    -- PLANO MEDIO
		--	SUM(PLANO_X_VLR) / SUM(VLR_OP) ,		 -- PLANO MEDIO	
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0		THEN 0.0	ELSE				
						SUM(TX_AA_X_VLR) / SUM(VLR_OP + RETORNO)	END, -- TX AA X VLR OPERACAO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0		THEN 0.0	ELSE				
						SUM(TX_X_VLR)    / SUM(VLR_OP + RETORNO)	END,	-- TX AM
			SUM(VLR_PRESENTE),	-- PV
			SUM(VLR_FUTURO) - SUM(VLR_PRESENTE),	-- RECEITA
			SUM(VLR_FUTURO),  -- FV
				-- ALTERADO 6/11/17
				-- LIBERADO SEM ACESSORIOS = LIBERADO - DIFERENCA (SOMA( LIBERADO+TC+TARIFA+IOF) -  VP))
				SUM(VLR_LIBERADO	-	((VLR_LIBERADO + VLR_TC + VLR_TARIFA + VLR_IOF  ) - VLR_OP)  ),
			SUM(VLR_TC + VLR_TARIFA),
			SUM(VLR_IOF),
			-- COR
			'AZ1',
			-- INCLUI CAMPO TX CET EM 6/9/17	**************
			SUM(TX_CET_X_VLR) / SUM(VLR_OP + RETORNO)		-- MEDIA PONDERADA
			-- INCLUI CAMPO TX CET am EM 13/9/17	**************
			,SUM(TX_CET_X_VLR_am) / SUM(VLR_OP + RETORNO)	 -- MEDIA PONDERADA

	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @M1   -- MES ANTERIOR
		--AND	PRODUTO <> 'D'			-- SEM DESCONTO
		AND (PRODUTO IN ('CP','V')	-- VEIC, RENEG DE VEIC, CP DE PF
		OR  (PRODUTO = 'R' AND VEICULO='Renegociacao') )
		AND VLR_OP  > 0.0			-- SOMENTE CONTRATOS VALIDOS

-- ************************************ INSERIR OS SUB TOTAIS ***** CDC ***** M-2 *****
--  DECLARE @data_ref SMALLDATETIME SET @data_ref = '20140630'
--  SELECT @M2

	INSERT  CML_PRODUCAO_OPE
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2, -- CART
			-- ORDEM
			76,		-- ALTERADO DE 62 EM 1/2/17
			'T',
			
			' M-2 '+ CASE	WHEN DATEPART(MM,@M2) =1 THEN 'JANEIRO'
							WHEN DATEPART(MM,@M2) =2 THEN 'FEVEREIRO'
							WHEN DATEPART(MM,@M2) =3 THEN 'MARÇO'
							WHEN DATEPART(MM,@M2) =4 THEN 'ABRIL'
							WHEN DATEPART(MM,@M2) =5 THEN 'MAIO'
							WHEN DATEPART(MM,@M2) =6 THEN 'JUNHO'
							WHEN DATEPART(MM,@M2) =7 THEN 'JULHO'
							WHEN DATEPART(MM,@M2) =8 THEN 'AGOSTO'
							WHEN DATEPART(MM,@M2) =9 THEN 'SETEMBRO'
							WHEN DATEPART(MM,@M2) =10 THEN 'OUTUBRO'
							WHEN DATEPART(MM,@M2) =11 THEN 'NOVEMBRO'
							WHEN DATEPART(MM,@M2) =12 THEN 'DEZEMBRO'
						END,  -- VEIC DESCR
			'',
			COUNT(*),

			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP)=0.0			THEN 0.0			ELSE				
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) , 0)	END ,		    -- PRAZO MEDIO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP)=0.0			THEN 0.0			ELSE				
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) / 30.0, 0)	END,		    -- PLANO MEDIO
		--	SUM(PLANO_X_VLR) / SUM(VLR_OP) ,		 -- PLANO MEDIO	
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0			THEN 0.0	ELSE				
						SUM(TX_AA_X_VLR) / SUM(VLR_OP + RETORNO)		END, -- TX AA X VLR OPERACAO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0			THEN 0.0	ELSE				
						SUM(TX_X_VLR)    / SUM(VLR_OP + RETORNO)		END,	-- TX AM
			SUM(VLR_PRESENTE),	-- PV
			SUM(VLR_FUTURO) - SUM(VLR_PRESENTE),	-- RECEITA
			SUM(VLR_FUTURO),  -- FV
				-- ALTERADO 6/11/17
				-- LIBERADO SEM ACESSORIOS = LIBERADO - DIFERENCA (SOMA( LIBERADO+TC+TARIFA+IOF) -  VP))
				SUM(VLR_LIBERADO	-	((VLR_LIBERADO + VLR_TC + VLR_TARIFA + VLR_IOF  ) - VLR_OP)  ),
			SUM(VLR_TC + VLR_TARIFA),
			SUM(VLR_IOF),
			-- COR
			'AZ1',
			-- INCLUI CAMPO TX CET EM 6/9/17	**************
			SUM(TX_CET_X_VLR) / SUM(VLR_OP + RETORNO)		 -- MEDIA PONDERADA
			-- INCLUI CAMPO TX CET am EM 13/9/17	**************
			,SUM(TX_CET_X_VLR_am) / SUM(VLR_OP + RETORNO)	 -- MEDIA PONDERADA

	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @M2   -- MES 2 ANTERIORES
		--AND	PRODUTO <> 'D'			-- SEM DESCONTO
		AND (PRODUTO IN ('CP','V')	-- VEIC, RENEG DE VEIC, CP DE PF
		OR  (PRODUTO = 'R' AND VEICULO='Renegociacao') )
		AND VLR_OP  > 0.0			-- SOMENTE CONTRATOS VALIDOS

		--- ********************************************** TOTAIS GERAIS -- COMPLETO
	INSERT  CML_PRODUCAO_OPE
	SELECT			-- DESCR 1 E 2
			@data_ref,
			4,	 -- CART				
			80,	 -- ORDEM		-- ALTERADO DE 70 EM 1/2/17
			'T', -- PRODUTO
			'TOTAL GERAL',  -- VEIC DESCR
			'',
			COUNT(*),
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP)=0.0					THEN 0.0	ELSE				
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) , 0)	END ,		    -- PRAZO MEDIO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP)=0.0					THEN 0.0		ELSE				
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) / 30.0, 0)	END,		    -- PLANO MEDIO
		--	SUM(PLANO_X_VLR) / SUM(VLR_OP) ,		 -- PLANO MEDIO	
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0		THEN 0.0	ELSE				
						SUM(TX_AA_X_VLR) / SUM(VLR_OP + RETORNO)	END, -- TX AA X VLR OPERACAO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0		THEN 0.0	ELSE				
						SUM(TX_X_VLR)    / SUM(VLR_OP + RETORNO)	END,	-- TX AM
			SUM(VLR_PRESENTE),	-- PV
			SUM(VLR_FUTURO) - SUM(VLR_PRESENTE),	-- RECEITA
			SUM(VLR_FUTURO),  -- FV
				-- ALTERADO 6/11/17
				-- LIBERADO SEM ACESSORIOS = LIBERADO - DIFERENCA (SOMA( LIBERADO+TC+TARIFA+IOF) -  VP))
				SUM(VLR_LIBERADO	-	((VLR_LIBERADO + VLR_TC + VLR_TARIFA + VLR_IOF  ) - VLR_OP)  ),

			SUM(VLR_TC + VLR_TARIFA),
			SUM(VLR_IOF),
			-- COR
			'CZ1',
			-- INCLUI CAMPO TX CET EM 6/9/17	**************
			SUM(TX_CET_X_VLR) / SUM(VLR_OP + RETORNO)		 -- MEDIA PONDERADA
			-- INCLUI CAMPO TX CET am EM 13/9/17	**************
			,SUM(TX_CET_X_VLR_am) / SUM(VLR_OP + RETORNO)	 -- MEDIA PONDERADA

	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @data_ref   -- MES ATUAL
		AND VLR_OP  > 0.0			-- SOMENTE CONTRATOS VALIDOS

-- ************************************ INSERIR OS TOTAIS GERAIS ***** CDC ***** M-1 *****
--  DECLARE @data_ref SMALLDATETIME SET @data_ref = '20140630'
--  SELECT @M1

	INSERT  CML_PRODUCAO_OPE
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2, -- CART
			-- ORDEM	-- ALTERADO DE 72 EM 1/2/17
			81,
			'T',
			
			' M-1 '+ CASE	WHEN DATEPART(MM,@M1) =1 THEN 'JANEIRO'
							WHEN DATEPART(MM,@M1) =2 THEN 'FEVEREIRO'
							WHEN DATEPART(MM,@M1) =3 THEN 'MARÇO'
							WHEN DATEPART(MM,@M1) =4 THEN 'ABRIL'
							WHEN DATEPART(MM,@M1) =5 THEN 'MAIO'
							WHEN DATEPART(MM,@M1) =6 THEN 'JUNHO'
							WHEN DATEPART(MM,@M1) =7 THEN 'JULHO'
							WHEN DATEPART(MM,@M1) =8 THEN 'AGOSTO'
							WHEN DATEPART(MM,@M1) =9 THEN 'SETEMBRO'
							WHEN DATEPART(MM,@M1) =10 THEN 'OUTUBRO'
							WHEN DATEPART(MM,@M1) =11 THEN 'NOVEMBRO'
							WHEN DATEPART(MM,@M1) =12 THEN 'DEZEMBRO'
						END,  -- VEIC DESCR
			'',
			COUNT(*),
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP)=0.0					THEN 0.0	ELSE				
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) , 0)	END,		    -- PRAZO MEDIO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP)=0.0					THEN 0.0		ELSE				
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) / 30.0, 0) END,		    -- PLANO MEDIO
		--	SUM(PLANO_X_VLR) / SUM(VLR_OP) ,		 -- PLANO MEDIO	
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0					THEN 0.0		ELSE				
						SUM(TX_AA_X_VLR) / SUM(VLR_OP + RETORNO)	END, -- TX AA X VLR OPERACAO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0					THEN 0.0		ELSE				
						SUM(TX_X_VLR)    / SUM(VLR_OP + RETORNO)	END,	-- TX AM
			SUM(VLR_PRESENTE),	-- PV
			SUM(VLR_FUTURO) - SUM(VLR_PRESENTE),	-- RECEITA
			SUM(VLR_FUTURO),  -- FV
			--  ALTERADO 06/11/17
			--	SUM(VLR_LIBERADO), 
			-- LIBERADO SEM ACESSORIOS = LIBERADO - DIFERENCA (SOMA( LIBERADO+TC+TARIFA+IOF) -  VP))
			SUM(VLR_LIBERADO	-	((VLR_LIBERADO + VLR_TC + VLR_TARIFA + VLR_IOF  ) - VLR_OP)  ),

			SUM(VLR_TC + VLR_TARIFA),
			SUM(VLR_IOF),
			-- COR
			'CZ1',
			-- INCLUI CAMPO TX CET EM 6/9/17	**************
			SUM(TX_CET_X_VLR) / SUM(VLR_OP + RETORNO)		 -- MEDIA PONDERADA
			-- INCLUI CAMPO TX CET am EM 13/9/17	**************
			,SUM(TX_CET_X_VLR_am) / SUM(VLR_OP + RETORNO)	 -- MEDIA PONDERADA
	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @M1   -- MES ANTERIOR

-- ************************************ INSERIR OS TOTAIS ***** QUEBRA POR PRODUTO ***** M-2 *****
--  DECLARE @data_ref SMALLDATETIME SET @data_ref = '20140630'
--  SELECT @M2

	INSERT  CML_PRODUCAO_OPE
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2, -- CART
			-- ORDEM  -- ALTERADO DE 72 EM 1/2/17
			82,
			'T',
			
			' M-2 '+ CASE	WHEN DATEPART(MM,@M2) =1 THEN 'JANEIRO'
							WHEN DATEPART(MM,@M2) =2 THEN 'FEVEREIRO'
							WHEN DATEPART(MM,@M2) =3 THEN 'MARÇO'
							WHEN DATEPART(MM,@M2) =4 THEN 'ABRIL'
							WHEN DATEPART(MM,@M2) =5 THEN 'MAIO'
							WHEN DATEPART(MM,@M2) =6 THEN 'JUNHO'
							WHEN DATEPART(MM,@M2) =7 THEN 'JULHO'
							WHEN DATEPART(MM,@M2) =8 THEN 'AGOSTO'
							WHEN DATEPART(MM,@M2) =9 THEN 'SETEMBRO'
							WHEN DATEPART(MM,@M2) =10 THEN 'OUTUBRO'
							WHEN DATEPART(MM,@M2) =11 THEN 'NOVEMBRO'
							WHEN DATEPART(MM,@M2) =12 THEN 'DEZEMBRO'
						END,  -- VEIC DESCR
			'',
			COUNT(*),
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP)=0.0					THEN 0.0	ELSE				
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) , 0)	END,		    -- PRAZO MEDIO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP)=0.0					THEN 0.0		ELSE				
						ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) / 30.0, 0)	END,		    -- PLANO MEDIO
		--	SUM(PLANO_X_VLR) / SUM(VLR_OP) ,		 -- PLANO MEDIO	
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0		THEN 0.0	ELSE				
						SUM(TX_AA_X_VLR) / SUM(VLR_OP + RETORNO)	END, -- TX AA X VLR OPERACAO
			-- TRATADO DIV 0		EM 13/3/17  *********************
			CASE WHEN	SUM(VLR_OP + RETORNO)=0.0		THEN 0.0	ELSE				
						SUM(TX_X_VLR)    / SUM(VLR_OP + RETORNO)	END,	-- TX AM
			SUM(VLR_PRESENTE),	-- PV
			SUM(VLR_FUTURO) - SUM(VLR_PRESENTE),	-- RECEITA
			SUM(VLR_FUTURO),  -- FV
			--  ALTERADO 06/11/17
			--  SUM(VLR_LIBERADO), 
			-- LIBERADO SEM ACESSORIOS = LIBERADO - DIFERENCA (SOMA( LIBERADO+TC+TARIFA+IOF) -  VP))
			SUM(VLR_LIBERADO	-	((VLR_LIBERADO + VLR_TC + VLR_TARIFA + VLR_IOF  ) - VLR_OP)  ),

			SUM(VLR_TC + VLR_TARIFA),
			SUM(VLR_IOF),
			-- COR
			'CZ1',
			-- INCLUI CAMPO TX CET EM 6/9/17	**************
			SUM(TX_CET_X_VLR) / SUM(VLR_OP + RETORNO)		 -- MEDIA PONDERADA
			-- INCLUI CAMPO TX CET am EM 13/9/17	**************
			,SUM(TX_CET_X_VLR_am) / SUM(VLR_OP + RETORNO)	 -- MEDIA PONDERADA

	FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
	where	DT_FECHA =  @M2   -- MES 2 ANTERIORES


-- ALTERADO 9/6/17 PARA CONFERIR CALCULOS CF TELA		**************************
UPDATE		CML_PRODUCAO_OPE
	SET		TX_AA=	( (POWER(((ROUND(TX_AM,2)/100.000)+1.000),(12.000))-1.000)*100.000) 
	WHERE	DT_FECHA =  @data_ref   -- MES ATUAL
		AND	PRODUTO = 'D'		--AND CARTEIRA=1		-- AJUSTE TX AO ANO



-- SELECT * FROM	CML_PRODUCAO_OPE
-- TX 
--RTRIM(LTRIM(STR(((POWER(((@TXJRCLAA/100)+1),(1./12))-1)*100),10,4))) + ' a.m.'
--

END
GO


-- SELECT * FROM CML_PRODUCAO_OPE 

-- SELECT * FROM COMERCIAL_PRODUCAO where dt_fecha='20170131' and produto='d' AND VEICULO='CHEQUES'
-- SELECT * FROM COMERCIAL_PRODUCAO where dt_fecha='20170228' and produto='d'