
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

/*

 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES_OPER2] '2017-01-31'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES_OPER2] '2017-02-28'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES_OPER2] '2017-03-31'

select * from CML_PRODUCAO_MES WHERE PRODUTO='CG' ORDER BY ORDEM

select * from CML_PRODUCAO_MES WHERE PRODUTO='V' ORDER BY ORDEM

select * from COMERCIAL_PRODUCAO WHERE PRODUTO IN ('CG','CP')

*/

-- select sum(sld_inscrito) from rating_historiCo where dt_fecha='20140530' and nvl_risco <>'hh'
-- SELECT MAX(DT_FECHA)  FROM rating_historiCo 
-- SELECT *  FROM rating_historiCo WHERE DT_FECHA='20140530'

/* CRIAR TABELA AUXILIAR


select * from PROPOSTASMC..TOCUP

select * from PROPOSTAGA..TOCUP
select * from PROPOSTASANTANA..TOCUP
select * from PROPOSTASMC..TOCUP
select * from PROPWEBSHP..TOCUP
-- ***
select * from PROPWEBSMC..TOCUP

SELECT * FROM CML_PRODUCAO_OPE
SELECT * FROM COMERCIAL_PRODUCAO where veiculo='REFINANCIAMENTO UTILITARIOS'

SELECT * FROM CDCSANTANAMicroCredito..Coper where opnroper='800000060'

*/

use SIG
go


/*

 EXEC [dbo].[COMERCIAL_CALCULO_MES]  '2014-03-31'

USE SIG


DROP TABLE CML_PRODUCAO_MES
SP_HELP CML_PRODUCAO_MES
DROP TABLE CML_PRODUCAO_MES
CREATE TABLE CML_PRODUCAO_MES
	(	
		DT_FECHA		SMALLDATETIME,
		CARTEIRA		INT,
		ORDEM			INT,

--DT_FECHA	CARTEIRA	ORDEM	PRODUTO	COD_AGENTE	AGENTE	COD	OPERADOR	MEDIA_3A	MES_1A_2A	MES_ATUAL_2A
--      	MES_3M_2A	MES_6M_2A	MEDIA_2A	MES_1A_1A	MES_ATUAL_1A	MES_3M_1A	MES_6M_1A	MEDIA_1A	MES_3A_ANO_ATUAL	MES_2A_ANO_ATUAL	MES_1A_ANO_ATUAL	MES_ATUAL	MEDIA_ATUAL	COR_LINHA

		PRODUTO			VARCHAR(100),
		COD_AGENTE		VARCHAR(20),
		AGENTE			VARCHAR(100),
		COD_OPERADOR	VARCHAR(20),
		OPERADOR		VARCHAR(100),
		MEDIA_3A		float,
		MES_1A_2A		float,
		MES_ATUAL_2A	float,

		MES_3M_2A		float,
		MES_6M_2A		float,
		MEDIA_2A		FLOAT,
		MES_1A_1A		float,
		MES_ATUAL_1A	float,
		MES_3M_1A		FLOAT,
		MES_6M_1A		FLOAT,
		MEDIA_1A		FLOAT,	
		MES_3A_ANO_ATUAL	FLOAT,
		MES_2A_ANO_ATUAL	FLOAT,
		MES_1A_ANO_ATUAL	FLOAT,
		MES_ATUAL			FLOAT,
		MEDIA_ATUAL			FLOAT,

		COR_LINHA   varchar(3)
	)

CREATE INDEX CML_PRODUCAO_MES_IDX1 ON CML_PRODUCAO_MES
	(	DT_FECHA,		CARTEIRA,	ORDEM,	COD_AGENTE , AGENTE ,  COD_OPERADOR, OPERADOR)



*/

-- SELECT * FROM RR_ROLLRATE WHERE RATING='HH'
-- SELECT * FROM RATING_HISTORICO WHERE NVL_RISCO='HH'


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_COMERCIAL_CALCULO_MES_OPER2' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_COMERCIAL_CALCULO_MES_OPER2]
GO


CREATE Procedure [dbo].[PRC_COMERCIAL_CALCULO_MES_OPER2] (@data_ref as datetime) AS
BEGIN


-- DECLARE @data_ref as datetime SET @data_ref='20150331'

DECLARE @data_INI AS SMALLDATETIME
-- DIA 1 DO MES DO FECHAMENTO
SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

-- APAGA PROCESSAMENTO ANTERIOR
delete  from CML_PRODUCAO_MES
	WHERE	 DT_FECHA = @data_ref
		AND  CARTEIRA=2 -- valor operado
-- carteira =1 -- valor 
-- faltou COR_LINHA

-- ANALISE COM GRAFICO POR PRODUTO E OPERADOR

-- ************************************************
/*
use sig
select * from  CML_PRODUCAO_MES (nolock)
select distinct carteira from  CML_PRODUCAO_MES (nolock) 

CREATE TABLE AUX_CML_OPER_MES
(
		PRODUTO			VARCHAR(100),
		AGENTE			VARCHAR(100),
		M13		float,
		M12		float,
		M11		float,
		M10		float,

		M9		float,
		M8		float,
		M7		FLOAT,
		M6		FLOAT,

		M5		FLOAT,
		M4		FLOAT,
		M3		FLOAT,
		M2		FLOAT,
		M1		FLOAT
	)
*/

--	DECLARE @data_ref as datetime SET @data_ref='20150430'

	--  13 MESES
	DECLARE @M1  AS DATETIME
	DECLARE @M2  AS DATETIME
	DECLARE @M3  AS DATETIME
	DECLARE @M4  AS DATETIME
	DECLARE @M5  AS DATETIME
	DECLARE @M6  AS DATETIME
	DECLARE @M7  AS DATETIME
	DECLARE @M8  AS DATETIME
	DECLARE @M9  AS DATETIME
	DECLARE @M10  AS DATETIME
	DECLARE @M11  AS DATETIME
	DECLARE @M12  AS DATETIME
	DECLARE @M13  AS DATETIME

	--				declare @data_ref datetime set @data_ref = '20150228'
		-- MES  DE FECHAMENTO
		SET		@M1 = @data_ref

		-- MES ANTERIOR AO DO FECHAMENTO
		SET		@M2 = CONVERT(CHAR(4),DATEPART(YEAR,@M1))+
						RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M1))),2)+'01'
		SET		@M2 = DATEADD(DD,-1,@M2)
		--		SELECT @M1, @m2

		set		@M3 = CONVERT(CHAR(4),DATEPART(YEAR,@M2))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M2))),2)+'01'
		SET		@M3=DATEADD(DD,-1,@M3)
		--		SELECT @M1, @M2,@M3

		set  @M4 = CONVERT(CHAR(4),DATEPART(YEAR,@M3))+
					RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M3))),2)+'01'
		SET	 @M4=DATEADD(DD,-1,@M4)
		--		  SELECT @M4

	set  @M5 = CONVERT(CHAR(4),DATEPART(YEAR,@M4))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M4))),2)+'01'
	SET	 @M5 = DATEADD(DD,-1,@M5)
	--		 	SELECT @M5

	set  @M6 = CONVERT(CHAR(4),DATEPART(YEAR,@M5))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M5))),2)+'01'
	SET	 @M6 = DATEADD(DD,-1,@M6)

	set  @M7 = CONVERT(CHAR(4),DATEPART(YEAR,@M6))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M6))),2)+'01'
	SET	 @M7 = DATEADD(DD,-1,@M7)

	set  @M8 = CONVERT(CHAR(4),DATEPART(YEAR,@M7))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M7))),2)+'01'
	SET	 @M8 = DATEADD(DD,-1,@M8)

	set  @M9 = CONVERT(CHAR(4),DATEPART(YEAR,@M8))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M8))),2)+'01'
	SET	 @M9 = DATEADD(DD,-1,@M9)

	set		@M10 = CONVERT(CHAR(4),DATEPART(YEAR,@M9))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M9))),2)+'01'
	SET		@M10 = DATEADD(DD,-1,@M10)
	--			SELECT	@M10

	set		@M11 = CONVERT(CHAR(4),DATEPART(YEAR,@M10))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M10))),2)+'01'
	SET		@M11 = DATEADD(DD,-1,@M11)
	--			SELECT	@M11 

	set		@M12 = CONVERT(CHAR(4),DATEPART(YEAR,@M11))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M11))),2)+'01'
	SET		@M12 = DATEADD(DD,-1,@M12)

	set		@M13 = CONVERT(CHAR(4),DATEPART(YEAR,@M12))+
				RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@M12))),2)+'01'
	SET		@M13 = DATEADD(DD,-1,@M13)

		-- 		SELECT @M1, @M2,@M3 , @M4, @M5,@M6,@M7,@m8,@M9,@M10,@M11,@M12,@M13


		--		VARIAVEIS PARA COMPOR OS 13 MESES 
		DECLARE @columns VARCHAR(200)
		SET		@columns = '['+CONVERT(VARCHAR(8),@M13,112)+']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M12 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M11 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M10 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M9 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M8 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M7 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M6 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M5 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M4 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M3 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M2 ,112)  + ']'
		SET     @columns = @columns + ',[' + CONVERT(VARCHAR(8),@M1 ,112)  + ']'


		--		SELECT  @columns

-- CARREGA TABELA AUXILIAR
-- SP_HELP CML_PRODUCAO_MES
-- SELECT * FROM  CML_PRODUCAO_MES
/*
SELECT * FROM COMERCIAL_PRODUCAO_MES 

SELECT PRODUTO,AGENTE,SUM(VLR_PRESENTE) FROM COMERCIAL_PRODUCAO WHERE DT_FECHA ='20150131' GROUP BY PRODUTO,AGENTE

select * from AUX_CML_OPER_MES (nolock)
SELECT * 
					  FROM (SELECT DT_FECHA,PRODUTO,AGENTE, (VLR_PRESENTE)	FROM COMERCIAL_PRODUCAO (NOLOCK) ) P 
					  PIVOT( SUM (VLR_PRESENTE) FOR DT_FECHA IN ("20150131") ) AS PVT
*/
-- LIMPA AUXILIAR
TRUNCATE TABLE     AUX_CML_OPER_MES

-- ******************************************************************** VALOR LIBERADO COM QUEBRA
DECLARE @query VARCHAR(max)
--	DESCR 1 E 2
--	cart, ordem, prod, 

-- 1
-- LIMPA ANTERIOR
TRUNCATE TABLE     AUX_CML_OPER_MES

-- ************************************************** CARREGA AUXILIAR
-- POR AGENTE EXCETO CP E R
-- ULTIMOS 13 MESES  VLR LIBERADO (ANTES DAS TARIFAS)
	SET		@query = ' INSERT	AUX_CML_OPER_MES  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, AGENTE, VLR_OP	FROM COMERCIAL_PRODUCAO (NOLOCK) WHERE PRODUTO NOT IN (''CG'',''CP'',''R'') AND VLR_OP>0.0  ) P '+
					 ' PIVOT( SUM (VLR_OP) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'


--	
select  @query

EXEC (@query)

-- ************************************************** CARREGA AUXILIAR
-- POR OPERADOR SOMENTE CP E R
-- SELECT TOP 100 *  	FROM COMERCIAL_PRODUCAO (NOLOCK)
-- SELECT  *  	FROM AUX_CML_OPER_MES 
-- ULTIMOS 13 MESES  VLR LIBERADO (ANTES DAS TARIFAS)
	SET		@query = ' INSERT	AUX_CML_OPER_MES  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, CODOPER, VLR_OP	FROM COMERCIAL_PRODUCAO (NOLOCK) WHERE PRODUTO  IN (''CG'',''CP'',''R'') AND VLR_OP>0.0 ) P '+
					 ' PIVOT( SUM (VLR_OP) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

--	
select  @query

EXEC (@query)

-- ************************************************** 12 MES ANTERIORES + ATUAL
-- SELECT DISTINCT CARTEIRA,ORDEM FROM CML_PRODUCAO_MES (NOLOCK)
--  QUEBRAS POR PRODUTO E AGENTE
-- SP_HELP  CML_PRODUCAO_MES
	INSERT	CML_PRODUCAO_MES
	SELECT
			@data_ref,	-- DT
			2,			1,		--  CART, ORDEM
			PRODUTO,
			-- CP OU R POR OPERADOR
			-- COD AGENTE
			CASE WHEN PRODUTO IN ('CG','CP','R')  THEN ''	
				 WHEN PRODUTO IN ('D','V') THEN AGENTE	
				 ELSE AGENTE END, '' ,   -- AGENTE
			CASE WHEN PRODUTO IN ('CG','CP','R','D') THEN AGENTE ELSE ''		END, '' ,	-- CODOPER, '',  -- OPERADOR

			0.0, -- media_3a
			0.0,0.0,
			ROUND(ISNULL(M13,0.0),0), -- INCLUI ARREDONDAMENTO EM 10/05/17
			ROUND(ISNULL(M12,0.0),0),
			ROUND(ISNULL(M11,0.0),0),
			ROUND(ISNULL(M10,0.0),0),

			ROUND(ISNULL(M9,0.0),0),  -- MEDIA 2A
			ROUND(ISNULL(M8,0.0),0),
			ROUND(ISNULL(M7,0.0),0),
			ROUND(ISNULL(M6,0.0),0),
			ROUND(ISNULL(M5,0.0),0),

			ROUND(ISNULL(M4,0.0),0),	-- MEDIA 1A
			ROUND(ISNULL(M3,0.0),0),
			ROUND(ISNULL(M2,0.0),0),
			ROUND(ISNULL(M1,0.0),0),
			''		-- COR_LINHA
					
FROM		AUX_CML_OPER_MES	(NOLOCK)

/*
--  SUB TTL ANTES TARIFAS  *********************
--  SP_HELP CML_PRODUCAO_MES
INSERT CML_PRODUCAO_MES
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,20,PRODUTO,  -- cart, ordem, prod, 
			'', '' ,  -- AGENTE
			9999, 'Sub antes das tarifas',  -- OPERADOR
			
			0.0, 0.0, 
/*
			SUM(M13), SUM(M12), SUM(M11), SUM(M10), 
			SUM(M9), SUM(M8), SUM(M7), SUM(M6), SUM(M5), SUM(M4), 
			SUM(M3), SUM(M2), 
			SUM(M1), -- MES ATUAL
*/

			SUM(MES_ATUAL_2A),
			SUM(MES_3M_2A),
			SUM(MES_6M_2A),
			SUM(MEDIA_2A),
			SUM(MES_1A_1A),
			SUM(MES_ATUAL_1A),
			SUM(MES_3M_1A),
			SUM(MES_6M_1A),
			SUM(MEDIA_1A),
			SUM(MES_3A_ANO_ATUAL),
			SUM(MES_2A_ANO_ATUAL),
			SUM(MES_1A_ANO_ATUAL),
			SUM(MES_ATUAL),
			SUM(MEDIA_ATUAL),
			'' --COR_LINHA
	FROM	CML_PRODUCAO_MES O1 (NOLOCK)
	where	DT_FECHA =  @data_ref   -- MES ATUAL
		AND	CARTEIRA = 2 -- VLR OPERADO
	GROUP BY	PRODUTO
*/

--  ******************************************************************** TC E IOF VEICULOS
--  DECLARE @query VARCHAR(max)

-- 1
-- LIMPA ANTERIOR
/*
TRUNCATE TABLE     AUX_CML_OPER_MES

-- TC
-- ULTIMOS 13 MESES  TTL TC
	SET		@query = ' INSERT	AUX_CML_OPER_MES  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''TC'' AS AGENTE, VLR_TC	FROM COMERCIAL_PRODUCAO_MES (NOLOCK) WHERE PRODUTO=''V'' ) P '+
					 ' PIVOT( SUM (VLR_TC) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

--	select  @query
EXEC (@query)
SELECT 'TC'

-- IOF
-- ULTIMOS 13 MESES  TTL IOF
	SET		@query = ' INSERT	AUX_CML_OPER_MES  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''IOF'' AS AGENTE, VLR_IOF	FROM COMERCIAL_PRODUCAO_MES (NOLOCK) WHERE PRODUTO=''V'' ) P '+
					 ' PIVOT( SUM (VLR_IOF) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

--	
select  @query
EXEC (@query)
SELECT 'IOF'

-- TARIFAS DE OUTROS PRODUTOS
-- ULTIMOS 13 MESES  VLR_TARIFA
	SET		@query = ' INSERT	AUX_CML_OPER_MES  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''TARIFAS'' AS AGENTE, VLR_TARIFA	FROM COMERCIAL_PRODUCAO_MES (NOLOCK) WHERE PRODUTO NOT IN (''D'', ''V'',''CG'' ) ) P '+
					 ' PIVOT( SUM (VLR_TARIFA) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

-- ULTIMOS 13 MESES  VLR_TARIFA DO DESCONTO, cg ********              TC+ TARIFA+ IOF 
	SET		@query = ' INSERT	AUX_CML_OPER_MES  SELECT * '+					
					 ' FROM (SELECT DT_FECHA,PRODUTO, ''TARIFAS'' AS AGENTE, VLR_TARIFA+VLR_TC+VLR_IOF AS VLR	FROM COMERCIAL_PRODUCAO_MES (NOLOCK) WHERE PRODUTO  IN (''D'',''CG'') ) P '+
					 ' PIVOT( SUM (VLR) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

EXEC (@query)
-- select  @query
SELECT 'TARIFA'

-- TTL DE RENEG EM VEIC
-- ULTIMOS 13 MESES  RENEG
	SET		@query = ' INSERT	AUX_CML_OPER_MES  SELECT * '+					
					 ' FROM (SELECT DT_FECHA, ''V'' AS PRODUTO, ''RENEG'' AS AGENTE, VLR_OP	FROM COMERCIAL_PRODUCAO (NOLOCK) WHERE PRODUTO=''R'' ) P '+
					 ' PIVOT( SUM (VLR_OP) FOR DT_FECHA IN ('+ @columns + ') ) AS PVT'

EXEC (@query)
SELECT 'RENEG'

-- ************************************************** TC, IOF PARA VEIC . TARIFAS PARA OUTROS PRODUTOS
--  QUEBRAS POR PRODUTO E AGENTE
-- SP_HELP  CML_PRODUCAO_MES
	INSERT	CML_PRODUCAO_MES
	SELECT
			@data_ref,	-- DT
			2,					-- RPT, 
			-- ORDEM
			CASE WHEN AGENTE='TC'		THEN 30
				 WHEN AGENTE='IOF'		THEN 40
				 WHEN AGENTE='TARIFAS'  THEN 45
				 WHEN AGENTE='RENEG'	THEN 50
				 END,	
			PRODUTO,
			AGENTE, '' ,    -- AGENTE
			'9999','',			-- CODOPER, '',  -- OPERADOR

			0.0, -- media_3a
			0.0,0.0, 
			ISNULL(M13,0.0),
			ISNULL(M12,0.0),
			ISNULL(M11,0.0),
			ISNULL(M10,0.0),

			ISNULL(M9,0.0),  -- MEDIA 2A
			ISNULL(M8,0.0),
			ISNULL(M7,0.0),
			ISNULL(M6,0.0),
			ISNULL(M5,0.0),

			ISNULL(M4,0.0),	-- MEDIA 1A
			ISNULL(M3,0.0),
			ISNULL(M2,0.0),
			ISNULL(M1,0.0),
			''		-- COR_LINHA
					
FROM		AUX_CML_OPER_MES	(NOLOCK)
*/


-- SELECT * FROM	COMERCIAL_PRODUCAO O1 (NOLOCK)
/*
 SELECT * FROM	AUX_CML_OPER_MES
-- TTL DE RENEGOCIACAO  -- *******		SOH PARA VEICULOS
INSERT CML_PRODUCAO_MES
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,50,'V',	-- cart, ordem, prod INSERE RENEG NO RELATORIO DE VEIC
			0, '' ,			-- AGENTE
			0, 
			'RENEGOCIAÇÃO',			-- TC
			
			0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 
			0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 
			0.0, 0.0, 
			SUM(VLR_PRESENTE), -- MES ATUAL   VLR_LIBERADO
			0.0,  -- MEDIA ATUAL
			''
	FROM	COMERCIAL_PRODUCAO_MES O1 (NOLOCK)
	where	DT_FECHA =  @data_ref   -- MES ATUAL
		AND PRODUTO = 'R'	
	--GROUP BY	PRODUTO
*/

--  SUB TTL apos TARIFAS  ***********************************************************
-- SP_HELP CML_PRODUCAO_MES
INSERT CML_PRODUCAO_MES
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,99,PRODUTO,  -- cart, ordem, prod, 
			'', '' ,  -- AGENTE
			'99999', 'TOTAL',  -- OPERADOR
			
/*
			SUM(M13), SUM(M12), SUM(M11), SUM(M10), 
			SUM(M9), SUM(M8), SUM(M7), SUM(M6), SUM(M5), SUM(M4), 
			SUM(M3), SUM(M2), 
			SUM(M1), -- MES ATUAL
*/
			0.0, 0.0,
			SUM(MES_ATUAL_2A),
			SUM(MES_3M_2A),
			SUM(MES_6M_2A),
			SUM(MEDIA_2A),
			SUM(MES_1A_1A),
			SUM(MES_ATUAL_1A),
			SUM(MES_3M_1A),
			SUM(MES_6M_1A),
			SUM(MEDIA_1A),
			SUM(MES_3A_ANO_ATUAL),
			SUM(MES_2A_ANO_ATUAL),
			SUM(MES_1A_ANO_ATUAL),
			SUM(MES_ATUAL),
			SUM(MEDIA_ATUAL),
			'' --COR_LINHA
	FROM	CML_PRODUCAO_MES O1 (NOLOCK)
	where	DT_FECHA =  @data_ref   -- MES ATUAL
		AND	CARTEIRA = 2 -- VLR OPERADO
--		AND COD_OPERADOR = '9999'    -- total do produto
--AGENTE = '99999'
	GROUP BY	PRODUTO


	-- NOME DO AGENTE
    -- SELECT * FROM CML_PRODUCAO_MES
	-- DECLARE @data_ref DATETIME SET @data_ref = '20150131'
	UPDATE  CML_PRODUCAO_MES
		SET AGENTE = ISNULL(A13DESCR,'')
	FROM	CDCSANTANAMicroCredito..TA1O3 O (NOLOCK)				
	WHERE	CML_PRODUCAO_MES.DT_FECHA=@data_ref
		AND	CARTEIRA = 2 -- VLR OPERADO
			AND PRODUTO NOT IN ( 'D')			-- SEM DESCONTO
			AND LEN(COD_AGENTE) <= 9
--			AND COD_AGENTE NOT IN ('IOF','TC','RENEG','TARIFAS')
		AND COD_AGENTE = A13CODORG		 --a.COD_agente  -- CONTEM CODIGO


	--   AGENTE DO DESCONTO
	--   SELECT * FROM	NETFACTOR..nfUsuarioAgente  (NOLOCK)
	UPDATE  CML_PRODUCAO_MES
		SET AGENTE = ISNULL(USULOGIN,'')
	FROM	NETFACTOR..nfUsuarioAgente  O (NOLOCK)				
	WHERE	CML_PRODUCAO_MES.DT_FECHA=@data_ref
		AND	CARTEIRA = 2 -- VLR OPERADO
			AND PRODUTO  IN ( 'D')			-- SOH DESCONTO
--			AND LEN(COD_AGENTE) <= 9
--			AND COD_AGENTE NOT IN ('IOF','TC','RENEG','TARIFAS')
		AND COD_AGENTE = AGECODIGO AND EMPCODIGO IN (1,2)		 --a.COD_agente  -- CONTEM CODIGO

/*
	-- AGENTE DO ATT DESCONTO ANTIGO
	UPDATE  CML_PRODUCAO_MES
		SET AGENTE = ISNULL(A13DESCR,'')
	FROM	CDCSANTANAMicroCredito..TA1O3 O (NOLOCK)				
	WHERE	CML_PRODUCAO_MES.DT_FECHA=@data_ref
		AND	CARTEIRA = 2 -- VLR OPERADO
			AND PRODUTO  IN ( 'D')			-- SOH DESCONTO ATT ANTIGO
			AND RTRIM(AGENTE) = ''
--			AND COD_AGENTE NOT IN ('IOF','TC','RENEG','TARIFAS')
		AND COD_AGENTE = A13CODORG		 --a.COD_agente  -- CONTEM CODIGO
*/


	-- NOME DO AGENTE DO DESCONTO
    -- SELECT * FROM CML_PRODUCAO_MES WHERE DT_FECHA='20150131' AND PRODUTO='D'
	-- DECLARE @data_ref DATETIME SET @data_ref = '20150331'
/* REMOVI EM 5/4/17		***************** DESCONTO NO NETFACTOR
	UPDATE  CML_PRODUCAO_MES
		SET OPERADOR = ISNULL(OPER_ABV_NOM,''),
			AGENTE   = ISNULL(OPER_ABV_NOM,'')
	FROM	FinSGRDBS..TB_OPER  O (NOLOCK)				
	WHERE	CML_PRODUCAO_MES.DT_FECHA=@data_ref
			AND PRODUTO = 'D'			-- DESCONTO
		AND COD_AGENTE = CONVERT(VARCHAR(10),OPER_COD)		-- CONTEM CODIGO

	-- NOME DO OPERADOR
    -- SELECT * FROM  SPREAD_RPT_LOJA CDCSANTANAMicroCredito..TORG3
	-- DECLARE @DTREF DATETIME SET @DTREF = '20140630'
SELECT * FROM CML_PRODUCAO_MES (NOLOCK)
*/

	--		DECLARE @data_ref DATETIME SET @data_ref ='20150331'
	UPDATE  CML_PRODUCAO_MES
		SET OPERADOR = O3DESCR
	FROM	CDCSANTANAMicroCredito..TORG3 O (NOLOCK)				
	WHERE	CML_PRODUCAO_MES.DT_FECHA=@data_ref
		AND	CARTEIRA = 2 -- VLR OPERADO ******************** NOVO RELATORIO ****** 3/5/2017
		AND CML_PRODUCAO_MES.PRODUTO IN ('CG','CP','R','V')
		AND COD_OPERADOR = O3CODORG


END
GO

-- SELECT * FROM CML_PRODUCAO_MES where produto='V' and dt_fecha='20150430'
-- SELECT * FROM CML_PRODUCAO_MES where produto='D' and dt_fecha='20150331'
-- SELECT * FROM CML_PRODUCAO_MES where produto='cg' and dt_fecha='20150331'
-- SELECT * FROM COMERCIAL_PRODUCAO (NOLOCK) WHERE dt_fecha='20150331' AND PRODUTO='D' AND VLR_OP >0.0
-- SELECT DT_FECHA,PRODUTO, AGENTE, VLR_LIBERADO	FROM COMERCIAL_PRODUCAO (NOLOCK) WHERE dt_fecha='20150430' AND PRODUTO='V' AND VLR_OP >0.0