
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
go


/*

 EXEC PRC_COMERCIAL_PRODUCAO_SCORE '20150131'

 EXEC PRC_COMERCIAL_PRODUCAO_SCORE '20150228'

 EXEC PRC_COMERCIAL_PRODUCAO_SCORE '20150331'

SELECT * FROM COMERCIAL_PRODUCAO (NOLOCK) WHERE DT_FECHA='20150331' AND PRODUTO='V' AND VLR_OP>0.0
UPDATE  COMERCIAL_PRODUCAO SET SCORE=NULL WHERE DT_FECHA='20150331' AND PRODUTO='V' AND VLR_OP>0.0

SELECT *						FROM	propWebSmc..COBSE   (NOLOCK) ,
								CDCSANTANAMicroCredito..coper  (NOLOCK)
						where	OPNROPER IN ('612195088','6179503','67275374')
							AND	OpNrPROP = ObNrProp 
							AND ObObs LIKE ('%Score%') 

select distinct proposta ,   opnroper,  score  
						from CDCSANTANAMicroCredito..coper  (NOLOCK),
								MASTER..crivo_proposta  (NOLOCK)
						where OPNRPROP = proposta  
							and OPDTBASE >= '2014-01-01' AND OPNROPER  IN ('612195088','6179503','67275374')

*/



-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_COMERCIAL_PRODUCAO_SCORE' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_COMERCIAL_PRODUCAO_SCORE] 
GO

-- MENSAL
-- ***************************************
CREATE Procedure [dbo].[PRC_COMERCIAL_PRODUCAO_SCORE] 
		 (@DTREF1  SMALLDATETIME )	AS  

BEGIN

DECLARE @DTREF  AS SMALLDATETIME
DECLARE @DTINI  AS SMALLDATETIME
DECLARE @DTFIM  AS SMALLDATETIME

SET @DTREF = CONVERT(VARCHAR(8),@DTREF1,112)
--  SELECT  @DTREF
SET @DTINI = CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'
SET @DTFIM = CONVERT(VARCHAR(8),@DTREF1,112)
--  SELECT  @DTINI , @DTFIM




		-- SCORE  VEIC ****************
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
-- SELECT * FROM MASTER..crivo_proposta
		-- DECLARE @DTREF DATETIME SET @DTREF ='20140131'
		UPDATE		COMERCIAL_PRODUCAO
			SET		SCORE = VEIC.SCORE
			FROM  (select distinct proposta ,   opnroper,  score  
						from CDCSANTANAMicroCredito..coper  (NOLOCK),
								MASTER..crivo_proposta  (NOLOCK)
						where OPNRPROP = proposta  
							and OPDTBASE >= '2014-01-01' 		) AS VEIC
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO.PRODUTO  = 'V'
				AND COMERCIAL_PRODUCAO.NUM_OPE  = OPNROPER

		-- SCORE  VEIC **************** NAO LOCALIZADO NO CRIVO -- PARADO 
		-- PROCURAR NA OBSERVACAO DA PROPOSTA
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150131'
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO
			SET		SCORE = 
					(SELECT		-- CHARindex('score',ObObs,1), 
								MIN( RIGHT( substring(obObs,CHARindex('score',ObObs,1)+6,6), 4) ) as score 
								-- ,obNrProp,  opnroper
						FROM	propWebSmc..COBSE   (NOLOCK) ,
								CDCSANTANAMicroCredito..coper  (NOLOCK)
						where	OPNROPER = NUM_OPE  
							AND	OpNrPROP = ObNrProp 
							AND ObObs LIKE ('%Score%') 
							AND RIGHT( substring(obObs,CHARindex('score',ObObs,1)+6,6), 4) <' A'
							AND ISNUMERIC(RIGHT( substring(obObs,CHARindex('score',ObObs,1)+6,6), 4))=1  )
					
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO.PRODUTO  = 'V'
				AND (COMERCIAL_PRODUCAO.SCORE  IS NULL  OR COMERCIAL_PRODUCAO.SCORE< 300)
				AND COMERCIAL_PRODUCAO.VLR_PRESENTE > 0.0
			

		-- SCORE  VEIC **************** NAO LOCALIZADO NO CRIVO -- PARADO 
		-- PROCURAR NA OBSERVACAO DA PROPOSTA  + CONDICOES
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150131'
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO
			SET		SCORE = 
					(SELECT		-- CHARindex('score',ObObs,1), 
								MIN( RIGHT( substring(obObs,CHARindex('score',ObObs,1)+6,6), 4) ) as score 
								-- ,obNrProp,  opnroper
						FROM	propWebSmc..COBSE   (NOLOCK) ,
								CDCSANTANAMicroCredito..coper  (NOLOCK)
						where	OPNROPER = NUM_OPE  
							AND	OpNrPROP = ObNrProp 
							AND ObObs LIKE ('%Score%') 
							AND ISNUMERIC(RIGHT( substring(obObs,CHARindex('score',ObObs,1)+6,6), 4))=1  
							AND RIGHT( substring(obObs,CHARindex('score',ObObs,1)+6,6), 4)>'0,00'
 ) 
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO.PRODUTO  = 'V'
				AND (COMERCIAL_PRODUCAO.SCORE  IS NULL  OR COMERCIAL_PRODUCAO.SCORE< 300)
				AND COMERCIAL_PRODUCAO.VLR_PRESENTE > 0.0



		-- SCORE  VEIC **************** NAO LOCALIZADO NO CRIVO -- PARADO 
		-- PROCURAR NA OBSERVACAO DA PROPOSTA  + CONDICOES ++
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150131'
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO
			SET		SCORE =		
					(SELECT		-- CHARindex('score',ObObs,1), 
								MIN( LEFT( substring(obObs,CHARindex('score',ObObs,1)+6,6), 3) ) as score 
								-- ,obNrProp,  opnroper
						FROM	propWebSmc..COBSE   (NOLOCK) ,
								CDCSANTANAMicroCredito..coper  (NOLOCK)
						where	OPNROPER = NUM_OPE  
							AND	OpNrPROP = ObNrProp 
							AND ObObs LIKE ('%Score%') 
							AND ISNUMERIC(LEFT( substring(obObs,CHARindex('score',ObObs,1)+6,3), 4))=1  
						)
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO.PRODUTO  = 'V'
				AND (COMERCIAL_PRODUCAO.SCORE  IS NULL  OR COMERCIAL_PRODUCAO.SCORE< 300)
				AND COMERCIAL_PRODUCAO.VLR_PRESENTE > 0.0

-- SCORE MIN 300 -- PRECISA AJUSTAR
		-- SCORE  VEIC **************** NAO LOCALIZADO NO CRIVO -- PARADO 
		-- PROCURAR NA OBSERVACAO DA PROPOSTA  + CONDICOES ++
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO
			SET		SCORE =	
					(SELECT		-- CHARindex('score',ObObs,1), 
								MAX(  convert(int,substring(obObs,CHARindex('score',ObObs,1)+5,6)) ) as score 
								-- ,obNrProp,  opnroper
						FROM	propWebSmc..COBSE   (NOLOCK) ,
								CDCSANTANAMicroCredito..coper  (NOLOCK)
						where	OPNROPER = NUM_OPE  
							AND	OpNrPROP = ObNrProp 
							AND ObObs LIKE ('%Score%') 
							AND ISNUMERIC( substring(obObs,CHARindex('score',ObObs,1)+5,6) )=1  
AND RIGHT( RTRIM(substring(obObs,CHARindex('score',ObObs,1)+5,6) ),1) <> '.'  
AND RIGHT( RTRIM(substring(obObs,CHARindex('score',ObObs,1)+5,6) ),2) <> ',0'  
AND RIGHT( RTRIM(substring(obObs,CHARindex('score',ObObs,1)+5,6) ),1) <> ','  
 )
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO.PRODUTO  = 'V'
				AND ISNULL(COMERCIAL_PRODUCAO.SCORE,0) < 300
				AND COMERCIAL_PRODUCAO.VLR_PRESENTE > 0.0

		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO
			SET		SCORE =	
					(SELECT		-- CHARindex('score',ObObs,1), 
								MAX(  convert(int,substring(obObs,CHARindex('score',ObObs,1)+5,6)) ) as score 
								-- ,obNrProp,  opnroper
						FROM	propWebSmc..COBSE   (NOLOCK) ,
								CDCSANTANAMicroCredito..coper  (NOLOCK)
						where	OPNROPER = NUM_OPE  
							AND	OpNrPROP = ObNrProp 
							AND ObObs LIKE ('%Score%') 
							AND ISNUMERIC( substring(obObs,CHARindex('score',ObObs,1)+5,6) )=1  
AND RIGHT( RTRIM(substring(obObs,CHARindex('score',ObObs,1)+5,6) ),2) <> ',0'  
AND RIGHT( RTRIM(substring(obObs,CHARindex('score',ObObs,1)+5,6) ),1) <> ','  
AND RIGHT( RTRIM(substring(obObs,CHARindex('score',ObObs,1)+5,6) ),1) <> '.'  
 )
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO.PRODUTO  = 'V'
				AND ISNULL(COMERCIAL_PRODUCAO.SCORE,0) < 300
				AND COMERCIAL_PRODUCAO.VLR_PRESENTE > 0.0

		--		DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO
			SET		SCORE = 
					(SELECT		-- CHARindex('score',ObObs,1), 
								MAX(  convert(int,substring(obObs,CHARindex('score',ObObs,1)+5,5)) ) as score 
								-- ,obNrProp,  opnroper
						FROM	propWebSmc..COBSE   (NOLOCK) ,
								CDCSANTANAMicroCredito..coper  (NOLOCK)
						where	OPNROPER = NUM_OPE  
							AND	OpNrPROP = ObNrProp 
							AND ObObs LIKE ('%Score%') 
							AND ISNUMERIC( substring(obObs,CHARindex('score',ObObs,1)+5,5) )=1  
AND RIGHT( RTRIM(substring(obObs,CHARindex('score',ObObs,1)+5,5) ),1) <> '.'  
AND RIGHT( RTRIM(substring(obObs,CHARindex('score',ObObs,1)+5,5) ),1) <> ','  
 )
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO.PRODUTO  = 'V'
				AND ISNULL(COMERCIAL_PRODUCAO.SCORE,0) < 300
				AND COMERCIAL_PRODUCAO.VLR_PRESENTE > 0.0
		--	DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO
			SET		SCORE =
					(SELECT		-- CHARindex('score',ObObs,1), 
								MAX(  convert(int,substring(obObs,CHARindex('score',ObObs,1)+6,5)) ) as score 
								-- ,obNrProp,  opnroper
						FROM	propWebSmc..COBSE   (NOLOCK) ,
								CDCSANTANAMicroCredito..coper  (NOLOCK)
						where	OPNROPER = NUM_OPE  
							AND	OpNrPROP = ObNrProp 
							AND ObObs LIKE ('%Score%') 
							AND ISNUMERIC( substring(obObs,CHARindex('score',ObObs,1)+6,5) )=1  
AND RIGHT( RTRIM(substring(obObs,CHARindex('score',ObObs,1)+6,5) ),1) <> '.'  
AND RIGHT( RTRIM(substring(obObs,CHARindex('score',ObObs,1)+6,5) ),1) <> ','  
AND RIGHT( RTRIM(substring(obObs,CHARindex('score',ObObs,1)+6,5) ),2) <> ',0'  
 )
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO.PRODUTO  = 'V'
				AND ISNULL(COMERCIAL_PRODUCAO.SCORE,0) < 300
				AND COMERCIAL_PRODUCAO.VLR_PRESENTE > 0.0

		--		DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO
			SET		SCORE =
					(SELECT		-- CHARindex('score',ObObs,1), 
								MAX(  convert(int,substring(obObs,CHARindex('score',ObObs,1)+6,4)) ) as score 
								-- ,obNrProp,  opnroper
						FROM	propWebSmc..COBSE   (NOLOCK) ,
								CDCSANTANAMicroCredito..coper  (NOLOCK)
						where	OPNROPER = NUM_OPE  
							AND	OpNrPROP = ObNrProp 
							AND ObObs LIKE ('%Score%') 
							AND ISNUMERIC( substring(obObs,CHARindex('score',ObObs,1)+6,4) )=1  
AND RIGHT( RTRIM(substring(obObs,CHARindex('score',ObObs,1)+6,4) ),1) <> '.'  
AND RIGHT( RTRIM(substring(obObs,CHARindex('score',ObObs,1)+6,4) ),1) <> ','  
AND RIGHT( RTRIM(substring(obObs,CHARindex('score',ObObs,1)+6,4) ),2) <> ',0'  
 )
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO.PRODUTO  = 'V'
				AND ISNULL(COMERCIAL_PRODUCAO.SCORE,0) < 300
				AND COMERCIAL_PRODUCAO.VLR_PRESENTE > 0.0


		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO
			SET		SCORE =
					(SELECT		-- CHARindex('score',ObObs,1), 
								MAX(  convert(int,substring(obObs,CHARindex('score ATUAL',ObObs,1)+6,5)) ) as score 
								-- ,obNrProp,  opnroper
						FROM	propWebSmc..COBSE   (NOLOCK) ,
								CDCSANTANAMicroCredito..coper  (NOLOCK)
						where	OPNROPER = NUM_OPE  
							AND	OpNrPROP = ObNrProp 
							AND ObObs LIKE ('%Score ATUAL%') 
							AND ISNUMERIC( substring(obObs,CHARindex('score ATUAL',ObObs,1)+6,5) )=1  
 )
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO.PRODUTO  = 'V'
			--	AND COMERCIAL_PRODUCAO.SCORE IS NULL
				AND ISNULL(COMERCIAL_PRODUCAO.SCORE,0) < 300
				AND COMERCIAL_PRODUCAO.VLR_PRESENTE > 0.0

		--		DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO
			SET		SCORE =
					(SELECT		-- CHARindex('score',ObObs,1), 
								MAX(  convert(int,substring(obObs,CHARindex('score ATUAL',ObObs,1)+5,5)) ) as score 
								-- ,obNrProp,  opnroper
						FROM	propWebSmc..COBSE   (NOLOCK) ,
								CDCSANTANAMicroCredito..coper  (NOLOCK)
						where	OPNROPER = NUM_OPE  
							AND	OpNrPROP = ObNrProp 
							AND ObObs LIKE ('%Score ATUAL%') 
							AND ISNUMERIC( substring(obObs,CHARindex('score ATUAL',ObObs,1)+5,5) )=1  
 )
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO.PRODUTO  = 'V'
--				AND COMERCIAL_PRODUCAO.SCORE IS NULL
				AND ISNULL(COMERCIAL_PRODUCAO.SCORE,0) < 300
				AND COMERCIAL_PRODUCAO.VLR_PRESENTE > 0.0




END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

