
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- @data_ref = DATA DE FECHAMENTO
-- ULTIMO DIA UTIL DO MES DE FECHAMENTO

/*
--
 EXEC [dbo].[PRC_COMERCIAL_PLANO] '2015-04-30'
EXEC [dbo].[PRC_COMERCIAL_PLANO] '2015-05-31'
EXEC [dbo].[PRC_COMERCIAL_PLANO] '2015-06-30'
EXEC [dbo].[PRC_COMERCIAL_PLANO] '2015-07-31'


create table FX_PLANO(
DT_DE	smalldatetime,
DESCR	varchar(30),
DE	int,
ATE	int,
ORDEM	int)

SELECT * FROM FX_PLANO P (NOLOCK)
delete FROM FX_PLANO
insert  FX_PLANO select '2015-01-01',' 1-18',0,	18,	1
insert  FX_PLANO select '2015-01-01','19-24',19,24,	2
insert  FX_PLANO select '2015-01-01','25-36',25,36,	3
insert  FX_PLANO select '2015-01-01','37-42',37,42,	4
insert  FX_PLANO select '2015-01-01','43-48',43,48,	5
2015-01-01 00:00:00	19-24	19	24	2
2015-01-01 00:00:00	25-36	25	36	3
2015-01-01 00:00:00	37-48	37	48	4

select * from COMERCIAL_PRODUCAO WHERE PRODUTO IN ('V')
-- 1 QTDE, 2 VLR
select * from CML_PRODUCAO_PLANO WHERE DT_FECHA='20150331' AND RPT=1 AND VEICULO='TOTAL' ORDER BY ORDEM
select * from CML_PRODUCAO_PLANO WHERE DT_FECHA='20150430' AND RPT=1 AND VEICULO='LEVES' ORDER BY ORDEM

select * from CML_PRODUCAO_PLANO WHERE DT_FECHA='20150331' AND RPT=2 AND VEICULO='TOTAL' ORDER BY ORDEM
select * from CML_PRODUCAO_PLANO WHERE DT_FECHA='20150331' AND RPT=2 AND VEICULO='LEVES' ORDER BY ORDEM

ALTER TABLE CML_PRODUCAO_PLANO ADD VEICULO VARCHAR(50)
SP_HELP CML_PRODUCAO_PLANO

DROP TABLE CML_PRODUCAO_PLANO
CREATE TABLE CML_PRODUCAO_PLANO
(DT_FECHA	smalldatetime,
RPT	int,
ORDEM	int,
PRODUTO	varchar(10),
VEICULO	varchar(50),
DESCR	varchar(100),
FX1	float,
FX2	float,
FX3	float,
FX4	float,
FX5	float,
VLR_FX1	float,
VLR_FX2	float,
VLR_FX3	float,
VLR_FX4	float,
VLR_FX5	float,
TTL	float,
cor_linha	varchar(20) )
*/


use SIG
go


-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_COMERCIAL_PLANO' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_COMERCIAL_PLANO]
GO


CREATE Procedure [dbo].[PRC_COMERCIAL_PLANO] (@data_ref as datetime) AS
BEGIN

-- APAGA PROCESSAMENTO ANTERIOR
delete  from CML_PRODUCAO_PLANO
	WHERE	 DT_FECHA = @data_ref

DECLARE @data_INI AS SMALLDATETIME
-- DIA 1 DO TRIMESTRE  DO FECHAMENTO  -- 2015
DECLARE @DT_FIM_1T AS SMALLDATETIME

-- 1o TRIMESTRE DO ANO CORRENTE  **********************************
	--SET		@data_INI =  '20150101'
	SET		@data_INI =  CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref ))+'0101'
-- FIM 1T ANO CORRENTE
SET	@DT_FIM_1T = CASE	WHEN	DATEPART(MM,@data_ref) <= 3		THEN  @data_ref
						--WHEN DATEPART(MM,@data_ref) >4		THEN  
						ELSE	CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref ))+'0331'
						END


-- CRIA TABELA
-- SP_HELP  CML_PRODUCAO_PLANO
/* 
DROP   TABLE  CML_PRODUCAO_PLANO
CREATE TABLE  CML_PRODUCAO_PLANO
(
DT_FECHA	smalldatetime,
RPT		int,
ORDEM	int,
PRODUTO	varchar(10),
VEICULO	varchar(50),  -- NOVO
DESCR	varchar(100),
	FX1 FLOAT,
	FX2 FLOAT,
	FX3 FLOAT,
	FX4 FLOAT,
	FX5 FLOAT,
	VLR_FX1 FLOAT,
	VLR_FX2 FLOAT,
	VLR_FX3 FLOAT,
	VLR_FX4 FLOAT,
	VLR_FX5 FLOAT,
	TTL		FLOAT,
	cor_linha  varchar(20)
)

--DT_FECHA	CARTEIRA	ORDEM	PRODUTO	DESCR	fx1	fx2	fx3	fx4	fx5	vlr_fx1	vlr_fx2	vlr_fx3	vlr_fx4	vlr_fx5	ttl	cor_linha

CREATE INDEX  CML_PRODUCAO_PLANO_IDX1 ON CML_PRODUCAO_PLANO (DT_FECHA,PRODUTO,VEICULO,RPT,ORDEM)

*/
-- SELECT * FROM  CML_PRODUCAO_PLANO
/*
DROP TABLE TAUXILIAR_TIPO
CREATE TABLE TAUXILIAR_TIPO
(
DT_FECHA	smalldatetime,
RPT		int,
ORDEM	int,
PRODUTO	varchar(10),
VEICULO	varchar(50),  -- NOVO
DESCR	varchar(100),
	FX1 FLOAT,
	FX2 FLOAT,
	FX3 FLOAT,
	FX4 FLOAT,
	FX5 FLOAT,
	VLR_FX1 FLOAT,
	VLR_FX2 FLOAT,
	VLR_FX3 FLOAT,
	VLR_FX4 FLOAT,
	VLR_FX5 FLOAT,
	TTL		FLOAT,
	cor_linha  varchar(20)
)

*/
-- SELECT * FROM  TAUXILIAR_TIPO
-- AJUSTA FX PLANO
UPDATE	 COMERCIAL_PRODUCAO 
SET	FX_PLANO=  (SELECT DESCR FROM FX_PLANO P (NOLOCK)
				WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
									WHERE	P1.DT_DE <=   @data_ref)
				AND COMERCIAL_PRODUCAO.PLANO BETWEEN P.DE AND P.ATE)
WHERE	COMERCIAL_PRODUCAO.DT_FECHA BETWEEN CONVERT(VARCHAR(4),(DATEPART(YYYY,@data_INI)-2))+'0101' AND   @data_ref   -- MES ATUAL
	AND COMERCIAL_PRODUCAO.PRODUTO='V' AND COMERCIAL_PRODUCAO.VLR_PRESENTE >0.0	

DECLARE @FX1 VARCHAR(100)
DECLARE @FX2 VARCHAR(100)
DECLARE @FX3 VARCHAR(100)
DECLARE @FX4 VARCHAR(100)
DECLARE @FX5 VARCHAR(100)

SET	@FX1 = (SELECT DESCR FROM FX_PLANO P (NOLOCK)
			WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
								WHERE	P1.DT_DE <=   @data_ref)
				AND	P.ORDEM=1)
SET	@FX2 = (SELECT DESCR FROM FX_PLANO P (NOLOCK)
			WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
								WHERE	P1.DT_DE <=   @data_ref)
				AND	P.ORDEM=2)
SET	@FX3 = (SELECT DESCR FROM FX_PLANO P (NOLOCK)
			WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
								WHERE	P1.DT_DE <=   @data_ref)
				AND	P.ORDEM=3)
SET	@FX4 = (SELECT DESCR FROM FX_PLANO P (NOLOCK)
			WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
								WHERE	P1.DT_DE <=   @data_ref)
				AND	P.ORDEM=4)
SET	@FX5 = (SELECT DESCR FROM FX_PLANO P (NOLOCK)
			WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
								WHERE	P1.DT_DE <=   @data_ref)
				AND	P.ORDEM=5)

-- **************************************************  MES ATUAL  1o TRIMESTRE DO ANO CORRENTE
-- **************************************************  MES ATUAL  1o TRIMESTRE DO ANO CORRENTE
--  QUEBRAS
--INSERT		CML_PRODUCAO_PLANO
DECLARE	 @ANO INT
SET		 @ANO = DATEPART(YYYY, @data_ref)

TRUNCATE TABLE    TAUXILIAR_TIPO
INSERT TAUXILIAR_TIPO

	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  DECLARE	 @ANO INT  SET		 @ANO = DATEPART(YY, @data_ref)

	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,30,'V','TOTAL',    -- RPT, ordem, prod, VEIC
			'1o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
	-- VLR 1 A 5
			CASE WHEN @FX1 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	O1.DT_FECHA BETWEEN @DATA_INI AND   @DT_FIM_1T   -- 1o TRIM ANO CORRENTE
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
GROUP BY FX_PLANO

-- SELECT * FROM COMERCIAL_PRODUCAO (nolock) where dt_fecha='20150131'
-- SELECT * FROM TAUXILIAR_TIPO



-- **************************************************  1o TRIM   QTDE  ANO CORRENTE
--  QUEBRAS
--INSERT		CML_PRODUCAO_PLANO
--DELETE TAUXILIAR_TIPO
INSERT TAUXILIAR_TIPO
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,30,'V','TOTAL',    -- RPT, ordem, prod, VEIC
			'1o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
	-- VLR 1 A 5
			CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DATA_INI AND   @DT_FIM_1T   -- 1o TRIM ANO CORRENTE
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
GROUP BY FX_PLANO

-- 1 TRIM ATUAL VLR TTL
INSERT TAUXILIAR_TIPO
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  DECLARE	 @ANO INT  SET		 @ANO = DATEPART(YY, @data_ref)
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,30,'V','TOTAL',    -- RPT, ordem, prod, VEIC
			'1o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
	-- VLR 1 A 5
			CASE WHEN @FX1 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	O1.DT_FECHA BETWEEN @DATA_INI AND   @DT_FIM_1T   -- 1o TRIM ANO CORRENTE
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
GROUP BY FX_PLANO

-- 1 TRIM ATUAL LEVES TTL
INSERT TAUXILIAR_TIPO
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  DECLARE	 @ANO INT  SET		 @ANO = DATEPART(YY, @data_ref)
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,30,'V','LEVES',    -- RPT, ordem, prod, VEIC
			'1o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
	-- VLR 1 A 5
			CASE WHEN @FX1 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				WHERE	O1.DT_FECHA BETWEEN @DATA_INI AND   @DT_FIM_1T   -- 1o TRIM ANO CORRENTE
					AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
GROUP BY FX_PLANO

-- SELECT * FROM COMERCIAL_PRODUCAO (nolock) where dt_fecha='20150131'
-- SELECT * FROM TAUXILIAR_TIPO



-- ************************************************** 2o TRIM   QTDE  ANO CORRENTE
IF DATEPART(MM,@data_ref ) > 3 
BEGIN 

		DECLARE @DT_INI_2T DATETIME
		DECLARE @DT_FIM_2T DATETIME
		-- INI 2T ANO CORRENTE
		SET		@DT_INI_2T = CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref ))+'0401'
		-- FIM 2T ANO CORRENTE
		SET		@DT_FIM_2T = CASE	WHEN	DATEPART(MM,@data_ref ) < 6 THEN  @data_ref	
									ELSE	CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref ))+'0630'
									END
		INSERT TAUXILIAR_TIPO
			--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  DECLARE	 @ANO INT  SET		 @ANO = DATEPART(YY, @data_ref)
			SELECT			-- DESCR 1 E 2
					@data_ref,
					2,30,'V','TOTAL',    -- RPT, ordem, prod, VEIC
					'2o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR
			-- FX1 A FX5
					0.0, 0.0, 0.0, 	0.0, 0.0, 
			-- VLR 1 A 5
					CASE WHEN @FX1 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX2 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX3 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX4 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					0.0,
					0.0, 
					''
			FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
						WHERE	O1.DT_FECHA BETWEEN @DT_INI_2T AND   @DT_FIM_2T  -- 2T ANO CORRENTE
							AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
							) AS OPER
		GROUP BY FX_PLANO


		-- ************************************************** 2o TRIM  QTDE  ANO CORRENTE
		--  QUEBRAS
		INSERT TAUXILIAR_TIPO
			--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
			SELECT			-- DESCR 1 E 2
					@data_ref,
					1,30,'V','TOTAL',    -- RPT, ordem, prod, VEIC
					'2o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR

			-- FX1 A FX5
					0.0, 0.0, 0.0, 	0.0, 0.0, 
			-- VLR 1 A 5
					CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					0.0,
					0.0, 
					''
			FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
						where	O1.DT_FECHA BETWEEN @DT_INI_2T AND   @DT_FIM_2T   --  2 TRIM ANO CORRENTE
							AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
							) AS OPER
		GROUP BY FX_PLANO


		INSERT TAUXILIAR_TIPO
			--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  DECLARE	 @ANO INT  SET		 @ANO = DATEPART(YY, @data_ref)
			SELECT			-- DESCR 1 E 2
					@data_ref,
					2,30,'V','TOTAL',    -- RPT, ordem, prod, VEIC
					'2o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR
			-- FX1 A FX5
					0.0, 0.0, 0.0, 	0.0, 0.0, 
			-- VLR 1 A 5
					CASE WHEN @FX1 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX2 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX3 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX4 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					0.0,
					0.0, 
					''
			FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
						WHERE	O1.DT_FECHA BETWEEN @DT_INI_2T AND   @DT_FIM_2T   -- MES 2 T
							AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
							) AS OPER
		GROUP BY FX_PLANO

		-- 2 TRIMESTRE  *****************		VLR LEVES 
		INSERT TAUXILIAR_TIPO
			--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  DECLARE	 @ANO INT  SET		 @ANO = DATEPART(YY, @data_ref)
			SELECT			-- DESCR 1 E 2			VALOR
					@data_ref,
					2,30,'V','LEVES',    -- RPT, ordem, prod, VEIC 
					'2o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR
			-- FX1 A FX5
					0.0, 0.0, 0.0, 	0.0, 0.0, 
			-- VLR 1 A 5
					CASE WHEN @FX1 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX2 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX3 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX4 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					0.0,
					0.0, 
					''
			FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
						where	O1.DT_FECHA BETWEEN @DT_INI_2T AND   @DT_FIM_2T   -- MES 2 T
							AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
							) AS OPER
		GROUP BY FX_PLANO
		-- 2 TRIMESTRE  *****************		QTDE LEVES 
		INSERT TAUXILIAR_TIPO
			--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  DECLARE	 @ANO INT  SET		 @ANO = DATEPART(YY, @data_ref)
			SELECT			-- DESCR 1 E 2			VALOR
					@data_ref,
					1,30,'V','LEVES',    -- RPT, ordem, prod, VEIC 
					'2o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR
			-- FX1 A FX5
					0.0, 0.0, 0.0, 	0.0, 0.0, 
			-- VLR 1 A 5
					CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					0.0,
					0.0, 
					''
			FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
						where	O1.DT_FECHA BETWEEN @DT_INI_2T AND   @DT_FIM_2T   -- MES 2 T
							AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
							) AS OPER
		GROUP BY FX_PLANO

END
-- FIM DO 2o TRIM ANO CORRENTE


-- ************************************************** 3o TRIM   QTDE  ANO CORRENTE
IF DATEPART(MM,@data_ref ) > 6 
BEGIN 

		DECLARE @DT_INI_3T DATETIME
		DECLARE @DT_FIM_3T DATETIME
		-- INI 2T ANO CORRENTE
		SET		@DT_INI_3T = CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref ))+'0401'
		-- FIM 2T ANO CORRENTE
		SET		@DT_FIM_3T = CASE	WHEN	DATEPART(MM,@data_ref ) < 6 THEN  @data_ref	
									ELSE	CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref ))+'0630'
									END
		INSERT TAUXILIAR_TIPO
			--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  DECLARE	 @ANO INT  SET		 @ANO = DATEPART(YY, @data_ref)
			SELECT			-- DESCR 1 E 2
					@data_ref,
					2,30,'V','TOTAL',    -- RPT, ordem, prod, VEIC
					'3o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR
			-- FX1 A FX5
					0.0, 0.0, 0.0, 	0.0, 0.0, 
			-- VLR 1 A 5
					CASE WHEN @FX1 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX2 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX3 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX4 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					0.0,
					0.0, 
					''
			FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
						WHERE	O1.DT_FECHA BETWEEN @DT_INI_3T AND   @DT_FIM_3T   -- 3o TRIM ANO CORRENTE
							AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
							) AS OPER
		GROUP BY FX_PLANO


		-- ************************************************** 3o TRIM  QTDE  ANO CORRENTE
		--  QUEBRAS
		INSERT TAUXILIAR_TIPO
			--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
			SELECT			-- DESCR 1 E 2
					@data_ref,
					1,30,'V','TOTAL',    -- RPT, ordem, prod, VEIC
					'3o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR
			-- FX1 A FX5
					0.0, 0.0, 0.0, 	0.0, 0.0, 
			-- VLR 1 A 5
					CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					0.0,
					0.0, 
					''
			FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
						where	O1.DT_FECHA BETWEEN @DT_INI_3T AND   @DT_FIM_3T   -- 3o TRIM ANO CORRENTE
							AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
							) AS OPER
		GROUP BY FX_PLANO

		-- 3 TRIMESTRE  *****************		VLR LEVES 
		INSERT TAUXILIAR_TIPO
			--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  DECLARE	 @ANO INT  SET		 @ANO = DATEPART(YY, @data_ref)
			SELECT			-- DESCR 1 E 2			VALOR
					@data_ref,
					2,30,'V','LEVES',    -- RPT, ordem, prod, VEIC 
					'3o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR
			-- FX1 A FX5
					0.0, 0.0, 0.0, 	0.0, 0.0, 
			-- VLR 1 A 5
					CASE WHEN @FX1 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX2 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX3 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX4 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					0.0,
					0.0, 
					''
			FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
						where	O1.DT_FECHA BETWEEN @DT_INI_3T AND   @DT_FIM_3T   -- MES 3 T ATUAL
							AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
							) AS OPER
		GROUP BY FX_PLANO
		-- 3 TRIMESTRE  *****************		QTDE LEVES 
		INSERT TAUXILIAR_TIPO
			--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  DECLARE	 @ANO INT  SET		 @ANO = DATEPART(YY, @data_ref)
			SELECT			-- DESCR 1 E 2			VALOR
					@data_ref,
					1,30,'V','LEVES',    -- RPT, ordem, prod, VEIC 
					'3o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR
			-- FX1 A FX5
					0.0, 0.0, 0.0, 	0.0, 0.0, 
			-- VLR 1 A 5
					CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					0.0,
					0.0, 
					''
			FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
						where	O1.DT_FECHA BETWEEN @DT_INI_3T AND   @DT_FIM_3T   -- MES 3 T ATUAL
							AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
							) AS OPER
		GROUP BY FX_PLANO
END
-- FIM DO 3o TRIM ANO CORRENTE


-- ************************************************** 4o TRIM   QTDE  ANO CORRENTE
IF DATEPART(MM,@data_ref ) > 9 
BEGIN 

		DECLARE @DT_INI_4T DATETIME				-- vlr
		DECLARE @DT_FIM_4T DATETIME
		-- INI 2T ANO CORRENTE
		SET		@DT_INI_4T = CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref ))+'1001'
		-- FIM 2T ANO CORRENTE
		SET		@DT_FIM_4T = CASE	WHEN	DATEPART(MM,@data_ref ) < 12 THEN  @data_ref	
									ELSE	CONVERT(VARCHAR(4),DATEPART(YYYY,@data_ref ))+'1231'
									END
		-- 4o TRIM ATUAL   TTL VLR
		INSERT TAUXILIAR_TIPO
			--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  DECLARE	 @ANO INT  SET		 @ANO = DATEPART(YY, @data_ref)
			SELECT			-- DESCR 1 E 2
					@data_ref,
					2,30,'V','TOTAL',    -- RPT, ordem, prod, VEIC
					'4o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR
			-- FX1 A FX5
					0.0, 0.0, 0.0, 	0.0, 0.0, 
			-- VLR 1 A 5
					CASE WHEN @FX1 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX2 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX3 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX4 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					0.0,
					0.0, 
					''
			FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
						WHERE	O1.DT_FECHA BETWEEN @DT_INI_4T AND   @DT_FIM_4T   -- 4o TRIM ANO CORRENTE
							AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
							) AS OPER
		GROUP BY FX_PLANO


		-- ************************************************** 4o TRIM  QTDE  ANO CORRENTE
		--  QUEBRAS			-- 4o TRIM ATUAL   TTL QTDE
		INSERT TAUXILIAR_TIPO
			--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
			SELECT			-- DESCR 1 E 2
					@data_ref,
					1,30,'V','TOTAL',    -- RPT, ordem, prod, VEIC
					'4o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR
			-- FX1 A FX5
					0.0, 0.0, 0.0, 	0.0, 0.0, 
			-- VLR 1 A 5
					CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					0.0,
					0.0, 
					''
			FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
						where	O1.DT_FECHA BETWEEN @DT_INI_4T AND   @DT_FIM_4T   -- 4o TRIM ANO CORRENTE
							AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
							) AS OPER
		GROUP BY FX_PLANO

		-- 4o TRIM ATUAL   LEVES VLR
		INSERT TAUXILIAR_TIPO
			--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  DECLARE	 @ANO INT  SET		 @ANO = DATEPART(YY, @data_ref)
			SELECT			-- DESCR 1 E 2
					@data_ref,
					2,30,'V','LEVES',    -- RPT, ordem, prod, VEIC
					'4o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR
			-- FX1 A FX5
					0.0, 0.0, 0.0, 	0.0, 0.0, 
			-- VLR 1 A 5
					CASE WHEN @FX1 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX2 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX3 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX4 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
					0.0,
					0.0, 
					''
			FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
						WHERE	O1.DT_FECHA BETWEEN @DT_INI_4T AND   @DT_FIM_4T   -- 4o TRIM ANO CORRENTE
							AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
							) AS OPER
		GROUP BY FX_PLANO

		-- 4o TRIM ATUAL   LEVES QTDE
		INSERT TAUXILIAR_TIPO
			--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  DECLARE	 @ANO INT  SET		 @ANO = DATEPART(YY, @data_ref)
			SELECT			-- DESCR 1 E 2
					@data_ref,
					1,30,'V','LEVES',    -- RPT, ordem, prod, VEIC
					'4o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR
			-- FX1 A FX5
					0.0, 0.0, 0.0, 	0.0, 0.0, 
			-- VLR 1 A 5
					CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
					0.0,
					0.0, 
					''
			FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
						WHERE	O1.DT_FECHA BETWEEN @DT_INI_4T AND   @DT_FIM_4T   -- 4o TRIM ANO CORRENTE
							AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
							) AS OPER
		GROUP BY FX_PLANO


END
-- FIM DO 4o TRIM ANO CORRENTE     ****************************


-- **************************************************  ANO ANTERIOR
-- **************************************************  ANO ANTERIOR
-- 4 TRIMESTRES DO ANO ANTERIOR  ********************************   QTDE ***************
DECLARE @ANO_ANT INT 
SET @ANO_ANT = DATEPART(YYYY,@data_ref) - 1
DECLARE @DT_INI_TRIM DATETIME
DECLARE @DT_FIM_TRIM DATETIME
SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0101')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0331')
INSERT TAUXILIAR_TIPO
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @DT_INI_TRIM DATETIME SET @DT_INI_TRIM ='20150131'  DECLARE @DT_FIM_TRIM DATETIME SET @DT_FIM_TRIM ='20150331'  DECLARE @ANO_ANT INT SET @ANO_ANT = 2014
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,20,'V', 'TOTAL',   -- RPT, ordem, prod, VEIC
			'1o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR
	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0,
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
		GROUP BY FX_PLANO

/*	  PLANO
 */


-- 2o TRIMESTRE  *****************  ANO ANT

SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0401')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0630')
INSERT TAUXILIAR_TIPO
--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @DT_INI_TRIM DATETIME SET @DT_INI_TRIM ='20150131'  DECLARE @DT_FIM_TRIM DATETIME SET @DT_FIM_TRIM ='20150331'  DECLARE @ANO_ANT INT SET @ANO_ANT = 2014
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,20,'V', 'TOTAL',   -- RPT, ordem, prod, VEIC
			'2o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 2o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
		GROUP BY FX_PLANO

-- 3o TRIMESTRE  *****************

SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0701')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0930')
INSERT TAUXILIAR_TIPO
--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @DT_INI_TRIM DATETIME SET @DT_INI_TRIM ='20150131'  DECLARE @DT_FIM_TRIM DATETIME SET @DT_FIM_TRIM ='20150331'  DECLARE @ANO_ANT INT SET @ANO_ANT = 2014
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,20,'V', 'TOTAL',    -- RPT, ordem, prod, VEIC
			'3o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 3o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	GROUP BY FX_PLANO

-- 4o TRIMESTRE  *****************  ANO ANT

SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'1001')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'1231')
INSERT TAUXILIAR_TIPO
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,20,'V', 'TOTAL',    -- RPT, ordem, prod, VEIC
			'1o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	GROUP BY FX_PLANO
/*	JOIN
			( SELECT * FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref)) AS FX
		ON	OPER.ANO_MODELO BETWEEN FX.DE AND FX.ATE 
	GROUP BY	 FX.ORDEM		*/


-- 4 TRIMESTRES DO ANO ANTERIOR  ********************************   VLR ***************
SET @ANO_ANT = DATEPART(YYYY,@data_ref) - 1
SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0101')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0331')
INSERT TAUXILIAR_TIPO
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @DT_INI_TRIM DATETIME SET @DT_INI_TRIM ='20150131'  DECLARE @DT_FIM_TRIM DATETIME SET @DT_FIM_TRIM ='20150331'  DECLARE @ANO_ANT INT SET @ANO_ANT = 2014
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,20,'V', 'TOTAL',    -- RPT, ordem, prod, VEIC
			'1o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0,
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
		GROUP BY FX_PLANO



-- 2o TRIMESTRE  *****************

SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0401')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0630')
INSERT TAUXILIAR_TIPO
--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @DT_INI_TRIM DATETIME SET @DT_INI_TRIM ='20150131'  DECLARE @DT_FIM_TRIM DATETIME SET @DT_FIM_TRIM ='20150331'  DECLARE @ANO_ANT INT SET @ANO_ANT = 2014
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,20,'V', 'TOTAL',    -- RPT, ordem, prod, VEIC
			'2o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
		GROUP BY FX_PLANO

-- 3o TRIMESTRE  *****************

SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0701')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0930')
INSERT TAUXILIAR_TIPO
--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @DT_INI_TRIM DATETIME SET @DT_INI_TRIM ='20150131'  DECLARE @DT_FIM_TRIM DATETIME SET @DT_FIM_TRIM ='20150331'  DECLARE @ANO_ANT INT SET @ANO_ANT = 2014
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,20,'V',  'TOTAL',   -- RPT, ordem, prod, VEIC
			'3o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 3o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	GROUP BY FX_PLANO


-- 4o TRIMESTRE  *****************

SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'1001')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'1231')
-- ttl qtd
INSERT TAUXILIAR_TIPO
--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @DT_INI_TRIM DATETIME SET @DT_INI_TRIM ='20150131'  DECLARE @DT_FIM_TRIM DATETIME SET @DT_FIM_TRIM ='20150331'  DECLARE @ANO_ANT INT SET @ANO_ANT = 2014
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,20,'V',  'TOTAL',   -- RPT, ordem, prod, VEIC
			'4o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR
	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 3o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	GROUP BY FX_PLANO

-- ttl vlr
INSERT TAUXILIAR_TIPO
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,20,'V',  'TOTAL',   -- RPT, ordem, prod, VEIC
			'4o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR
	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 4o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	GROUP BY FX_PLANO


-- **************************************************  MES ATUAL  QTDE   -- ************ LEVES
--  QUEBRAS
--INSERT		CML_PRODUCAO_PLANO
--DELETE TAUXILIAR_TIPO
INSERT TAUXILIAR_TIPO
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,30,'V','LEVES',    -- RPT, ordem, prod, VEIC
			'1o TRIM '+CONVERT(VARCHAR(4),@ANO) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
	-- VLR 1 A 5
			CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DATA_INI AND   @data_ref   -- MES ATUAL
					AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
GROUP BY FX_PLANO

-- 4 TRIMESTRES DO ANO ANTERIOR  ********************************   QTDE *************** ** LEVES ***
SET @ANO_ANT = DATEPART(YYYY,@data_ref) - 1
SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0101')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0331')
INSERT TAUXILIAR_TIPO
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @DT_INI_TRIM DATETIME SET @DT_INI_TRIM ='20150131'  DECLARE @DT_FIM_TRIM DATETIME SET @DT_FIM_TRIM ='20150331'  DECLARE @ANO_ANT INT SET @ANO_ANT = 2014
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,20,'V', 'LEVES',   -- RPT, ordem, prod, VEIC
			'1o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0,
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
		GROUP BY FX_PLANO

-- 2o TRIMESTRE  *****************
SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0401')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0630')
INSERT TAUXILIAR_TIPO
--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @DT_INI_TRIM DATETIME SET @DT_INI_TRIM ='20150131'  DECLARE @DT_FIM_TRIM DATETIME SET @DT_FIM_TRIM ='20150331'  DECLARE @ANO_ANT INT SET @ANO_ANT = 2014
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,20,'V', 'LEVES',   -- RPT, ordem, prod, VEIC
			'2o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
		GROUP BY FX_PLANO

-- 3o TRIMESTRE  *****************
SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0701')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0930')
INSERT TAUXILIAR_TIPO
--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @DT_INI_TRIM DATETIME SET @DT_INI_TRIM ='20150131'  DECLARE @DT_FIM_TRIM DATETIME SET @DT_FIM_TRIM ='20150331'  DECLARE @ANO_ANT INT SET @ANO_ANT = 2014
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,20,'V', 'LEVES',    -- RPT, ordem, prod, VEIC
			'3o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	GROUP BY FX_PLANO


-- 4o TRIMESTRE  *****************
SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'1001')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'1231')
INSERT TAUXILIAR_TIPO
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			1,20,'V', 'LEVES',    -- RPT, ordem, prod, VEIC
			'4o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN COUNT(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	GROUP BY FX_PLANO


-- 4 TRIMESTRES DO ANO ANTERIOR  ********************************   VLR ***************
SET @ANO_ANT = DATEPART(YYYY,@data_ref) - 1
SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0101')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0331')
INSERT TAUXILIAR_TIPO
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @DT_INI_TRIM DATETIME SET @DT_INI_TRIM ='20150131'  DECLARE @DT_FIM_TRIM DATETIME SET @DT_FIM_TRIM ='20150331'  DECLARE @ANO_ANT INT SET @ANO_ANT = 2014
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,20,'V', 'LEVES',    -- RPT, ordem, prod, VEIC
			'1o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0,
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
		GROUP BY FX_PLANO

-- 2o TRIMESTRE  *****************

SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0401')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0630')
INSERT TAUXILIAR_TIPO
--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @DT_INI_TRIM DATETIME SET @DT_INI_TRIM ='20150131'  DECLARE @DT_FIM_TRIM DATETIME SET @DT_FIM_TRIM ='20150331'  DECLARE @ANO_ANT INT SET @ANO_ANT = 2014
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,20,'V', 'LEVES',    -- RPT, ordem, prod, VEIC
			'2o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
		GROUP BY FX_PLANO

-- 3o TRIMESTRE  *****************

SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0701')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'0930')
INSERT TAUXILIAR_TIPO
--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @DT_INI_TRIM DATETIME SET @DT_INI_TRIM ='20150131'  DECLARE @DT_FIM_TRIM DATETIME SET @DT_FIM_TRIM ='20150331'  DECLARE @ANO_ANT INT SET @ANO_ANT = 2014
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,20,'V',  'LEVES',   -- RPT, ordem, prod, VEIC
			'3o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	GROUP BY FX_PLANO


-- 4o TRIMESTRE  *****************

SET	@DT_INI_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'1001')
SET	@DT_FIM_TRIM  = CONVERT(DATETIME,CONVERT(VARCHAR(4),@ANO_ANT)+'1231')
INSERT TAUXILIAR_TIPO
	--		DECLARE @data_ref DATETIME SET @data_ref ='20150131'  DECLARE @data_INI DATETIME SET @data_INI ='20150131'  
	SELECT			-- DESCR 1 E 2
			@data_ref,
			2,20,'V',  'LEVES',   -- RPT, ordem, prod, VEIC
			'4o TRIM '+CONVERT(VARCHAR(4),@ANO_ANT) ,      -- DESCR

	-- FX1 A FX5
			0.0, 0.0, 0.0, 	0.0, 0.0, 
			CASE WHEN @FX1 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX2 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX3 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			CASE WHEN @FX4 = FX_PLANO THEN SUM(VLR_PRESENTE) ELSE 0.0 END,	
			0.0,
			0.0, 
			''
	FROM	(SELECT * FROM COMERCIAL_PRODUCAO O1 (NOLOCK)
				where	O1.DT_FECHA BETWEEN @DT_INI_TRIM AND   @DT_FIM_TRIM   -- 1o TRIM ANO ANTERIOR
					AND O1.PRODUTO='V' AND O1.VEICULO='LEVES' AND O1.VLR_PRESENTE >0.0	
					) AS OPER
	GROUP BY FX_PLANO




-- **************************************************  MES ATUAL  TTL
--  QUEBRAS
INSERT CML_PRODUCAO_PLANO
-- SELECT * FROM TAUXILIAR_TIPO O1 (NOLOCK)	
-- DECLARE @data_ref DATETIME SET @data_ref = '20150131'
	SELECT			-- DESCR 1 E 2
			@data_ref,
			RPT,ORDEM,PRODUTO,VEICULO,    -- RPT , ordem, prod, VEIC
			DESCR  ,    -- DESCR
			0.0, 0.0, 0.0,			0.0, 0.0, 
			SUM(O1.VLR_FX1),	
			SUM(O1.VLR_FX2),	
			SUM(O1.VLR_FX3),	
			SUM(O1.VLR_FX4),	
			SUM(O1.VLR_FX5),	0.0,
			''
	FROM	TAUXILIAR_TIPO O1 (NOLOCK)	
	GROUP BY 
			RPT,ORDEM,PRODUTO, VEICULO,   -- RPT , ordem, prod, VEIC
			DESCR      -- DESCR




-- **************************************************  MES ATUAL  CALCULOS

UPDATE	CML_PRODUCAO_PLANO
	SET	TTL = VLR_FX1 + VLR_FX2 + VLR_FX3 + VLR_FX4 + VLR_FX5 
	WHERE DT_FECHA = 	@data_ref

UPDATE	CML_PRODUCAO_PLANO
	SET	FX1 = VLR_FX1/TTL * 100.0,
		FX2 = VLR_FX2/TTL * 100.0,
		FX3 = VLR_FX3/TTL * 100.0,
		FX4 = VLR_FX4/TTL * 100.0,
		FX5 = VLR_FX5/TTL * 100.0
	WHERE DT_FECHA = 	@data_ref

END
GO


-- SELECT * FROM CML_PRODUCAO_PLANO CML_PRODUCAO_PLANO
