
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec scr_comercial_clientes '20150331'
-- exec scr_comercial_proposta '20150331','V',4
-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_comercial_clientes' AND type = 'P')
   DROP PROCEDURE [dbo].scr_comercial_clientes
GO


CREATE Procedure [dbo].scr_comercial_clientes (@data_ref as datetime) AS
BEGIN


-- MOSTRA NA TELA
	-- MOSTRA NA TELA
SELECT	DESCR,
		PV,
		PERC_PART,
		PERC_EVOL,
		COR_LINHA
FROM CML_CLIENTE_RPT (NOLOCK)
WHERE DT_FECHA=@data_ref 

/*
 select top 10 
		codcli as DESCR,sum(vlr_presente) as pv,0.0 as perc_part,0.0 as perc_evol, '' as cor_linha
from CoMerciaL_PROducao  (nolock)
where dt_fecha=@data_ref and produto in('d','cg') 
group by codcli ORDER BY sum(vlr_presente) desc
*/

-- select top 10 * from CoMerciaL_PROducao where dt_fecha='20150331' and produto in('d','cg') ORDER BY vlr_presente desc

-- select top 10 codcli,sum(vlr_presente) from CoMerciaL_PROducao where dt_fecha='20150331' and produto in('d','cg') group by codcli ORDER BY sum(vlr_presente) desc

-- MES_1A_2A


END


GO
