
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec scr_comercial_tipo '20150131','V',1
-- exec scr_comercial_tipo '20150131','V',2

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_comercial_tipo' AND type = 'P')
   DROP PROCEDURE [dbo].scr_comercial_tipo
GO


CREATE Procedure [dbo].scr_comercial_tipo (@data_ref as datetime, @PRODUTO AS VARCHAR(2), @RPT AS VARCHAR(2)) AS
BEGIN


-- MOSTRA NA TELA
	-- MOSTRA NA TELA
	SELECT		
-- descr1, 
tipo AS DESCR,
				--COD_OPERADOR, OPERADOR,
--0.0 AS MEDIA_3A,
				ISNULL(M13,0.0)	AS M13,
 P13, 
				ISNULL(M12,0.0)	AS M12,
 P12, 

				ISNULL(M11,0.0)	AS M11,
 P11, 
				ISNULL(M10,0.0)	AS M10,
 P10, 
				ISNULL(M9,0.0)	AS M9,
 P9, 

				ISNULL(M8,0.0)	AS M8,
 P8, 
				ISNULL(M7,0.0) AS M7,
 P7, 

--0.0 AS mediaAnt,

				ISNULL(M6,0.0)	 AS M6,
 P6, 
				ISNULL(M5,0.0)	 AS M5,
 P5, 
				ISNULL(M4,0.0) AS M4,
 P4, 
				ISNULL(M3,0.0) AS M3,
 P3, 
				ISNULL(M2,0.0) AS M2,
 P2, 
				ISNULL(M1,0.0)	AS M1,
 P1 
,COR_LINHA
--				0.0		AS MEDIAATUAL,				0.0		AS MEDIAant
--,DT_FECHA, COD_PRODUTO AS PRODUTO				,COR_LINHA, ORDEM

	FROM	CML_PRODUCAO_TIPO_VEIC o (NOLOCK) 
	WHERE	DT_FECHA = @data_ref 
		AND COD_PRODUTO  = 'V' 
		-- @PRODUTO  --and produto='v'
		AND	RPT		 = @RPT		
/*		and carteira=3 and rpt=3 
		and 1=0+CASE WHEN @RPT=1  THEN 1
					 WHEN @RPT=2  THEN 1
					 ELSE 0 END
*/
	ORDER BY ORDEM

-- select * from CML_PRODUCAO_mes where carteira=1 and produto='v' ORDER BY ORDEM
-- select * from CML_PRODUCAO_ANALISE where carteira=1 and rpt=1 and produto='v' ORDER BY ORDEM
-- select * from CML_PRODUCAO_ANALISE where carteira=3 and rpt=3 and produto='v' ORDER BY ORDEM
-- MES_1A_2A


END


GO
