
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec scr_comercial_GRAFICO_producao '20140630','V'
-- exec scr_comercial_GRAFICO_producao '20141130','V'

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_comercial_GRAFICO_prod2' AND type = 'P')
   DROP PROCEDURE [dbo].scr_comercial_GRAFICO_prod2
GO


CREATE Procedure [dbo].scr_comercial_GRAFICO_prod2 (@data_ref as datetime, @PRODUTO AS VARCHAR(2)) AS
BEGIN


-- MOSTRA NA TELA
	-- MOSTRA NA TELA
	SELECT		
--DT_FECHA, PRODUTO, COD_AGENTE, AGENTE, 				COD_OPERADOR, OPERADOR,
'' descr,
/*				ISNULL(MEDIA_3A,0.0)	AS MEDIA_3A, 
				ISNULL(MES_1A_2A,0.0)	AS MES_1A_2A,
				ISNULL(MES_ATUAL_2A,0.0)	AS MES_ATUAL_2A, */
--				ISNULL(MES_3M_2A,0.0)	AS M13,
				ISNULL(MES_6M_2A,0.0)	AS M12,

				ISNULL(MEDIA_2A,0.0)	AS M11,
				ISNULL(MES_1A_1A,0.0)	AS M10,
				ISNULL(MES_ATUAL_1A,0.0) AS M9,
				ISNULL(MES_3M_1A,0.0)	 AS M8,
				ISNULL(MES_6M_1A,0.0)	 AS M7,

				ISNULL(MEDIA_1A,0.0)	 AS M6,
				ISNULL(MES_3A_ANO_ATUAL,0.0) AS M5,
				ISNULL(MES_2A_ANO_ATUAL,0.0) AS M4,
				ISNULL(MES_1A_ANO_ATUAL,0.0) AS M3,
				ISNULL(MES_ATUAL,0.0)	AS M2,
				ISNULL(MEDIA_ATUAL,0.0) AS M1
				,COR_LINHA, ORDEM

	FROM	CML_PRODUCAO_MES o (NOLOCK) 
	WHERE	DT_FECHA = @data_ref 
		AND PRODUTO  = @PRODUTO
		AND OPERADOR = 'TOTAL'
	ORDER BY ORDEM

-- select * from CML_PRODUCAO_MES WHERE DT_FECHA='20141130' AND PRODUTO='V' ORDER BY ORDEM
-- MES_1A_2A


END


GO
