
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec scr_comercial_proposta_GRAF '20150331','V',3

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_comercial_Proposta_GRAF' AND type = 'P')
   DROP PROCEDURE [dbo].scr_comercial_Proposta_GRAF
GO


CREATE Procedure [dbo].scr_comercial_Proposta_GRAF (@data_ref as datetime, @PRODUTO AS VARCHAR(2), @RPT AS VARCHAR(2)) AS
BEGIN


-- MOSTRA NA TELA
	-- MOSTRA NA TELA
	SELECT		--DT_FECHA,-- COD_PRODUTO AS PRODUTO,
-- descr1, 
dt_fecha AS DESCR,
				--COD_OPERADOR, OPERADOR,
 SUM(recebidas) AS RECEBIDAS, 
 SUM(aprovadas) AS APROVADAS, 
 SUM(Pagas) AS PAGAS
--				,COR_LINHA, ORDEM

	FROM	CML_PROPOSTA_MES o (NOLOCK) 
	WHERE	DT_FECHA = @data_ref 
--		AND PRODUTO  = 'V' 
		-- @PRODUTO  --and produto='v'
--		AND	RPT		 = @RPT		
--		AND TIPO	 = 'LEVES'
/*		and carteira=3 and rpt=3 
		and 1=0+CASE WHEN @RPT=1  THEN 1
					 WHEN @RPT=2  THEN 1
					 ELSE 0 END
*/
GROUP BY DT_FECHA
--	ORDER BY ORDEM

-- select * from CML_PRODUCAO_mes where carteira=1 and produto='v' ORDER BY ORDEM
-- select * from CML_PRODUCAO_ANALISE where carteira=1 and rpt=1 and produto='v' ORDER BY ORDEM
-- select * from CML_PRODUCAO_ANALISE where carteira=3 and rpt=3 and produto='v' ORDER BY ORDEM
-- MES_1A_2A


END


GO
