
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios
Use SIG
go

-- exec scr_COMERCIAL_PLANO_ANO '20150131' ,'V',1,3
-- exec scr_COMERCIAL_PLANO_ANO '20150131' ,'V',2,1
-- 
/*
exec scr_COMERCIAL_PLANO_ANO '20150331' ,'V',1,1
--
 exec scr_COMERCIAL_PLANO_ANO '20150331' ,'V',2,1
*/

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_COMERCIAL_PLANO_ANO' AND type = 'P')
   DROP PROCEDURE [dbo].scr_COMERCIAL_PLANO_ANO
GO


CREATE Procedure [dbo].scr_COMERCIAL_PLANO_ANO (@data_ref as datetime, @PRODUTO AS VARCHAR(3) , @RPT AS INT,@VEIC AS INT) AS
BEGIN

-- DT_FECHA	CARTEIRA	ORDEM	PRODUTO	DESCR	m3_qtd	m3_vlr	m3_score	m2_qtd	m2_vlr	m2_score	m1_qtd	m1_vlr	m1_score	cor_linha
/*
SELECT * FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<='20150131')

SELECT * FROM CML_PRODUCAO_PLANO_ANO
*/
-- MOSTRA NA TELA
SELECT
--	DT_FECHA,	DESCR,
		'PERIODO' AS DESCR, 
		(SELECT DESCR FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref) AND ORDEM=1) AS FX1,
(SELECT DESCR FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref) AND ORDEM=2)  AS FX2, 
(SELECT DESCR FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref) AND ORDEM=3)  FX3,
(SELECT DESCR FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref) AND ORDEM=4)  FX4,
(SELECT DESCR FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref) AND ORDEM=5)  FX5 ,
'' COR_LINHA, 1 AS ORDEM

--	FROM	CML_PRODUCAO_PLANO_ANO o (NOLOCK) 	WHERE	DT_FECHA = @data_ref 	ORDER BY ORDEM,DESCR

UNION
SELECT
--	DT_FECHA,	DESCR,
		DESCR, CONVERT(VARCHAR(10),FX1) AS FX1,
		CONVERT(VARCHAR(10),FX2) AS FX2, 
		CONVERT(VARCHAR(10),FX3) AS FX3, 
		CONVERT(VARCHAR(10),FX4) AS FX4, 
		CONVERT(VARCHAR(10),FX5) AS FX5 , COR_LINHA, 10 AS ORDEM
	FROM	CML_PRODUCAO_PLANO_ANO o (NOLOCK) 
	WHERE	DT_FECHA = @data_ref 
AND RPT = @RPT
	ORDER BY ORDEM,DESCR

-- select * from CML_PRODUCAO_OPE ORDER BY ORDEM

-- select * from CML_PRODUCAO_PLANO_ANO ORDER BY ORDEM

END


GO
