
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec scr_comercial_PLANO_GRAF1 '20150131','V',1,1

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_comercial_PLANO_GRAF1' AND type = 'P')
   DROP PROCEDURE [dbo].scr_comercial_PLANO_GRAF1
GO


CREATE Procedure [dbo].scr_comercial_PLANO_GRAF1 (@data_ref as datetime, @PRODUTO AS VARCHAR(2), @RPT AS VARCHAR(2), @VEIC AS INT) AS
BEGIN


-- MOSTRA NA TELA
	-- MOSTRA NA TELA
	SELECT		DT_FECHA, PRODUTO,
-- descr1, 
DESCR,
				--COD_OPERADOR, OPERADOR,
 FX1, 
 FX2, 
 FX3, 
 FX4, 
 FX5

--				,COR_LINHA, ORDEM

	FROM	CML_PRODUCAO_PLANO o (NOLOCK) 
	WHERE	DT_FECHA = @data_ref 
		AND PRODUTO  = 'V' 
		-- @PRODUTO  --and produto='v'
		AND	RPT		 = @RPT		
		AND VEICULO	 = 'LEVES'
/*		and carteira=3 and rpt=3 
		and 1=0+CASE WHEN @RPT=1  THEN 1
					 WHEN @RPT=2  THEN 1
					 ELSE 0 END
*/
	ORDER BY ORDEM

-- select * from CML_PRODUCAO_PLANO where carteira=1 and produto='v' ORDER BY ORDEM
-- select * from CML_PRODUCAO_ANALISE where carteira=1 and rpt=1 and produto='v' ORDER BY ORDEM
-- select * from CML_PRODUCAO_ANALISE where carteira=3 and rpt=3 and produto='v' ORDER BY ORDEM
-- MES_1A_2A


END


GO
