
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios
Use SIG
go

-- exec scr_COMERCIAL_PLANO '20150430' ,'V',1,3
-- exec scr_COMERCIAL_PLANO '20150430' ,'V',2,1
-- exec scr_COMERCIAL_PLANO '20150630' ,'V',2,1
-- 
/*
exec scr_COMERCIAL_PLANO '20150331' ,'V',1,1
--
 exec scr_COMERCIAL_PLANO '20150331' ,'V',2,1

select	distinct dt_fecha FROM	CML_PRODUCAO_PLANO o (NOLOCK) 

select	* FROM	CML_PRODUCAO_PLANO o (NOLOCK) where dt_fecha='20140101'

*/

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_COMERCIAL_PLANO' AND type = 'P')
   DROP PROCEDURE [dbo].scr_COMERCIAL_PLANO
GO


CREATE Procedure [dbo].scr_COMERCIAL_PLANO (@data_ref as datetime, @PRODUTO AS VARCHAR(3) , @RPT AS INT,@VEIC AS INT) AS
BEGIN

-- DT_FECHA	CARTEIRA	ORDEM	PRODUTO	DESCR	m3_qtd	m3_vlr	m3_score	m2_qtd	m2_vlr	m2_score	m1_qtd	m1_vlr	m1_score	cor_linha
/*
SELECT * FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<='20150131')

SELECT * FROM CML_PRODUCAO_PLANO_ANO
*/

DECLARE @FX1 VARCHAR(100)
DECLARE @FX2 VARCHAR(100)
DECLARE @FX3 VARCHAR(100)
DECLARE @FX4 VARCHAR(100)
DECLARE @FX5 VARCHAR(100)

SET	@FX1 = (SELECT DESCR FROM FX_PLANO P (NOLOCK)
			WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
								WHERE	P1.DT_DE <=   @data_ref)
				AND	P.ORDEM=1)
SET	@FX2 = (SELECT DESCR FROM FX_PLANO P (NOLOCK)
			WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
								WHERE	P1.DT_DE <=   @data_ref)
				AND	P.ORDEM=2)
SET	@FX3 = (SELECT DESCR FROM FX_PLANO P (NOLOCK)
			WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
								WHERE	P1.DT_DE <=   @data_ref)
				AND	P.ORDEM=3)
SET	@FX4 = (SELECT DESCR FROM FX_PLANO P (NOLOCK)
			WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
								WHERE	P1.DT_DE <=   @data_ref)
				AND	P.ORDEM=4)
SET	@FX5 = ISNULL((SELECT DESCR FROM FX_PLANO P (NOLOCK)
			WHERE	P.DT_DE  = (SELECT MAX(P1.DT_DE) FROM FX_PLANO P1 (NOLOCK) 
								WHERE	P1.DT_DE <=   @data_ref)
				AND	P.ORDEM=5),'')

-- MOSTRA NA TELA
SELECT
--	DT_FECHA,	DESCR,
		'PERIODO' AS DESCR, 
			@FX1 AS FX1,	
			@FX2 AS FX2, 
			@FX3 AS FX3, 
			@FX4 AS FX4, 
			@FX5  AS FX5, 
			
/*
		(SELECT DESCR FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref) AND ORDEM=1) AS FX1,
(SELECT DESCR FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref) AND ORDEM=2)  AS FX2, 
(SELECT DESCR FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref) AND ORDEM=3)  FX3,
(SELECT DESCR FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref) AND ORDEM=4)  FX4,
(SELECT DESCR FROM FX_ANO (NOLOCK) 
				WHERE DT_DE = (SELECT		MAX(DT_DE) 
									FROM	FX_ANO (NOLOCK)  
									WHERE	DT_DE<=@data_ref) AND ORDEM=5)  FX5 ,

SELECT REPLACE(CONVERT(VARCHAR(10),9.5800),'.',',') 
*/
'' COR_LINHA, 1 AS ORDEM

--	FROM	CML_PRODUCAO_PLANO_ANO o (NOLOCK) 	WHERE	DT_FECHA = @data_ref 	ORDER BY ORDEM,DESCR

UNION
SELECT
--	DT_FECHA,	DESCR,
		DESCR, REPLACE(CONVERT(VARCHAR(10),FX1),'.',',') AS FX1,
		REPLACE(CONVERT(VARCHAR(10),FX2),'.',',') AS FX2, 
		REPLACE(CONVERT(VARCHAR(10),FX3),'.',',') AS FX3, 
		REPLACE(CONVERT(VARCHAR(10),FX4),'.',',') AS FX4, 
		REPLACE(CONVERT(VARCHAR(10),FX5),'.',',') AS FX5 , 
		COR_LINHA,  ORDEM
	FROM	CML_PRODUCAO_PLANO o (NOLOCK) 
	WHERE	DT_FECHA = @data_ref 
AND RPT = @RPT
AND 1= CASE WHEN @VEIC = 1 AND VEICULO = 'LEVES' THEN 1 
			WHEN @VEIC = 2 AND VEICULO = 'TOTAL' THEN 1 
			ELSE 0 END
	ORDER BY ORDEM,DESCR

-- select * from CML_PRODUCAO_OPE ORDER BY ORDEM

-- select * from CML_PRODUCAO_PLANO ORDER BY ORDEM

END


GO
