
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec scr_comercial_proposta '20150331','V',3
-- exec scr_comercial_proposta '20150331','V',4
-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_comercial_proposta' AND type = 'P')
   DROP PROCEDURE [dbo].scr_comercial_proposta
GO


CREATE Procedure [dbo].scr_comercial_proposta (@data_ref as datetime, @PRODUTO AS VARCHAR(2), @RPT AS VARCHAR(2)) AS
BEGIN


-- MOSTRA NA TELA
	-- MOSTRA NA TELA
	SELECT		DT_FECHA, PRODUTO, --COD_AGENTE,
 AGENTE AS DESCR, 
				--COD_OPERADOR, OPERADOR,
				RECEBIDAS, 
				APROVADAS,
				--APROVADAS,
				PAGAS,
				MES_ATUAL_APR,
				M1A_APR,
				M2A_APR,
				M3A_APR,
				M4A_APR,
				M5A_APR,
				MES_ATUAL_PG,
				M1A_PG,
				M2A_PG,
				M3A_PG,
				M4A_PG,
				M5A_PG
				,COR_LINHA, ORDEM

	FROM	CML_PROPOSTA_RPT o (NOLOCK) 
	WHERE	DT_FECHA = @data_ref 
		AND PRODUTO  = @PRODUTO
		AND RPT=@RPT
	ORDER BY ORDEM

-- select * from CML_PROPOSTA_RPT ORDER BY ORDEM
-- MES_1A_2A


END


GO
