
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec scr_comercial_proposta_HIST '20150331','V',3
-- exec scr_comercial_proposta_HIST '20150331','V',4
-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_comercial_proposta_HIST' AND type = 'P')
   DROP PROCEDURE [dbo].scr_comercial_proposta_HIST
GO


CREATE Procedure [dbo].scr_comercial_proposta_HIST (@data_ref as datetime, @PRODUTO AS VARCHAR(2), @RPT AS VARCHAR(2)) AS
BEGIN


-- MOSTRA NA TELA
	-- MOSTRA NA TELA
	SELECT		--DT_FECHA, PRODUTO, --COD_AGENTE,
 AGENTE AS DESCR, 
				--COD_OPERADOR, OPERADOR,
				RECEBIDAS, 
				APROVADAS,

				MES_ATUAL_APR,
				PAGAS,

				CASE WHEN APROVADAS =0.0 THEN 0.0 ELSE (PAGAS/APROVADAS)*100.0 END AS M3A_APR,
				CASE WHEN RECEBIDAS =0.0 THEN 0.0 ELSE (PAGAS/RECEBIDAS)*100.0 END AS M4A_APR
				,COR_LINHA
--, ORDEM

	FROM	CML_PROPOSTA_RPT o (NOLOCK) 
	WHERE	DT_FECHA = @data_ref 
		AND PRODUTO  = @PRODUTO
		AND RPT=@RPT
	ORDER BY ORDEM

-- select * from CML_PROPOSTA_RPT  (NOLOCK) where dt_fecha='20150331' and produto='v' and rpt=1  ORDER BY ORDEM
-- hist
-- select * from CML_PROPOSTA_RPT  (NOLOCK) where dt_fecha='20150331' and produto='v' and rpt=3  ORDER BY ORDEM
-- MES_1A_2A


END


GO
