
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec scr_comercial_tipo_GRAF1 '20150131','V',1

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_comercial_tipo_GRAF1' AND type = 'P')
   DROP PROCEDURE [dbo].scr_comercial_tipo_GRAF1
GO


CREATE Procedure [dbo].scr_comercial_tipo_GRAF1 (@data_ref as datetime, @PRODUTO AS VARCHAR(2), @RPT AS VARCHAR(2)) AS
BEGIN


-- MOSTRA NA TELA
	-- MOSTRA NA TELA
	SELECT		DT_FECHA, COD_PRODUTO AS PRODUTO,
-- descr1, 
tipo AS DESCR,
				--COD_OPERADOR, OPERADOR,
 P13, 
 P12, 
 P11, 
 P10, 
 P9, 
 P8, 
 P7, 
 P6, 
 P5, 
 P4, 
 P3, 
 P2, 
 P1

--				,COR_LINHA, ORDEM

	FROM	CML_PRODUCAO_TIPO_VEIC o (NOLOCK) 
	WHERE	DT_FECHA = @data_ref 
		AND COD_PRODUTO  = 'V' 
		-- @PRODUTO  --and produto='v'
		AND	RPT		 = @RPT		
		AND TIPO	 = 'LEVES'
/*		and carteira=3 and rpt=3 
		and 1=0+CASE WHEN @RPT=1  THEN 1
					 WHEN @RPT=2  THEN 1
					 ELSE 0 END
*/
	ORDER BY ORDEM

-- select * from CML_PRODUCAO_mes where carteira=1 and produto='v' ORDER BY ORDEM
-- select * from CML_PRODUCAO_ANALISE where carteira=1 and rpt=1 and produto='v' ORDER BY ORDEM
-- select * from CML_PRODUCAO_ANALISE where carteira=3 and rpt=3 and produto='v' ORDER BY ORDEM
-- MES_1A_2A


END


GO
