
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

-- exec scr_comercial_producao '20140630','V'
-- exec scr_comercial_producao2 '20150331','cg'

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_comercial_producaoOP' AND type = 'P')
   DROP PROCEDURE [dbo].scr_comercial_producaoOP
GO


CREATE Procedure [dbo].scr_comercial_producaoOP (@data_ref as datetime, @PRODUTO AS VARCHAR(2)) AS
BEGIN


-- MOSTRA NA TELA
	-- MOSTRA NA TELA
	SELECT		DT_FECHA,
				PRODUTO , COD_AGENTE, AGENTE, 
				COD_OPERADOR, OPERADOR,
/*				ISNULL(MEDIA_3A,0.0)	AS MEDIA_3A, 
				ISNULL(MES_1A_2A,0.0)	AS MES_1A_2A,
				ISNULL(MES_ATUAL_2A,0.0)	AS MES_ATUAL_2A, */
				ISNULL(MES_3M_2A,0.0)	AS M13,
				ISNULL(MES_6M_2A,0.0)	AS M12,
				ISNULL(MEDIA_2A,0.0)	AS M11,
				ISNULL(MES_1A_1A,0.0)	AS M10,
				ISNULL(MES_ATUAL_1A,0.0) AS M9,
				ISNULL(MES_3M_1A,0.0)	 AS M8,
				ISNULL(MES_6M_1A,0.0)	 AS M7,
				ISNULL(MEDIA_1A,0.0)	 AS M6,
				ISNULL(MES_3A_ANO_ATUAL,0.0) AS M5,
				ISNULL(MES_2A_ANO_ATUAL,0.0) AS M4,
				ISNULL(MES_1A_ANO_ATUAL,0.0) AS M3,
				ISNULL(MES_ATUAL,0.0)	AS M2,
				ISNULL(MEDIA_ATUAL,0.0) AS M1
				,COR_LINHA
, '' as carteira, ORDEM

	FROM	CML_PRODUCAO_MES o (NOLOCK) 
	WHERE	DT_FECHA = @data_ref 
		AND PRODUTO  = @PRODUTO
		AND CARTEIRA  = 2  --  *************** VALOR OPERADO CRIADO 3/5/17
	ORDER BY ORDEM

-- select * from CML_PRODUCAO_MES where dt_fecha='20150331' and produto='d' ORDER BY ORDEM
-- MES_1A_2A


END


GO
