
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Use SIG
go

/*
 exec [scr_comercial_ANALISE] '20140630','1','V'
exec [scr_comercial_ANALISE] '20141031','2','V'
exec [scr_comercial_ANALISE] '20141031','3','V'

 exec [scr_comercial_ANALISE] '20140630','1','R'

 exec [scr_comercial_ANALISE] '20140630','1','CG'

-- analise de Producao Mensal ttl de todos produtos
select * from CML_PRODUCAO_ANALISE o (NOLOCK)  WHERE	DT_FECHA = '20140630' AND RPT= 1 AND CARTEIRA = 3
-- falta carteira

-- analise de Producao Mensal por Produto
select * from CML_PRODUCAO_ANALISE o (NOLOCK)  WHERE	DT_FECHA = '20140630' AND RPT= 3 AND CARTEIRA = 3 and produto='cg'

SELECT * FROM Ttipo_prod (NOLOCK) WHERE COD_PROD='V' ORDER BY DESCR_TIPO
ALTER TABLE Ttipo_prod ADD SIGLA VARCHAR(5)

UPDATE Ttipo_prod SET SIGLA='L' WHERE COD_PROD='V' AND COD_MODALIDADE='61'	
UPDATE Ttipo_prod SET SIGLA='M' WHERE COD_PROD='V' AND COD_MODALIDADE='63'	
UPDATE Ttipo_prod SET SIGLA='R' WHERE COD_PROD='V' AND COD_MODALIDADE='89'	
UPDATE Ttipo_prod SET SIGLA='RU' WHERE COD_PROD='V' AND COD_MODALIDADE='80'	
UPDATE Ttipo_prod SET SIGLA='U'  WHERE COD_PROD='V' AND COD_MODALIDADE='55'
*/


-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_comercial_ANALISE2' AND type = 'P')
   DROP PROCEDURE [dbo].scr_comercial_ANALISE2
GO


CREATE Procedure [dbo].scr_comercial_ANALISE2 
	(@data_ref as datetime,@RPT AS VARCHAR(2), @PRODUTO AS VARCHAR(4),@tipo as varchar(4)) AS
BEGIN

IF @RPT = 1 -- PRODUCAO GLOBAL
BEGIN
	-- MOSTRA NA TELA
	SELECT		DT_FECHA, PRODUTO, DESCR1 AS DESCR, DESCR2 AS DESCR2, 

/*				ISNULL(MEDIA_3A,0.0)	AS M13, 
				ISNULL(MES_1A_2A,0.0)	AS M12,
				ISNULL(MES_ATUAL_2A,0.0)	AS M13,
				ISNULL(MES_3M_2A,0.0)	AS M12,
				ISNULL(MES_6M_2A,0.0)	AS M11,
				ISNULL(MEDIA_2A,0.0)	AS M10,
				ISNULL(MES_1A_1A,0.0)	AS M9,
				ISNULL(MES_ATUAL_1A,0.0) AS M8,
				ISNULL(MES_3M_1A,0.0)	 AS M7,
				ISNULL(MES_6M_1A,0.0)	 AS M6,
				ISNULL(MEDIA_1A,0.0)	 AS M5,
				ISNULL(MES_3A_ANO_ATUAL,0.0) AS M4,
				ISNULL(MES_2A_ANO_ATUAL,0.0) AS M3,
				ISNULL(MES_1A_ANO_ATUAL,0.0) AS M2,
				ISNULL(MES_ATUAL,0.0)	AS M1,
 */				

				ISNULL(M13,0.0)	AS M13,
				ISNULL(M12,0.0)	AS M12,
				ISNULL(M11,0.0)	AS M11,
				ISNULL(M10,0.0)	AS M10,
				ISNULL(M9,0.0)	AS M9,
				ISNULL(M8,0.0)  AS M8,
				ISNULL(M7,0.0)	AS M7,
				ISNULL(M6,0.0)	AS M6,
				ISNULL(M5,0.0)	AS M5,
				ISNULL(M4,0.0)  AS M4,
				ISNULL(M3,0.0)  AS M3,
				ISNULL(M2,0.0)  AS M2,
				ISNULL(M1,0.0)	AS M1,


				

/*				ISNULL(MEDIA_ATUAL,0.0) AS M1
ISNULL(MEDIA_3A,0.0)	AS MEDIA_3A, 
				ISNULL(MES_1A_2A,0.0)	AS MES_1A_2A,
				ISNULL(MES_ATUAL_2A,0.0)	AS MES_ATUAL_2A,
				ISNULL(MES_3M_2A,0.0)	AS MES_3M_2A,
				ISNULL(MES_6M_2A,0.0)	AS MES_6M_2A,
				ISNULL(MEDIA_2A,0.0)	AS MEDIA_2A,
				ISNULL(MES_1A_1A,0.0)	AS MES_1A_1A,
				ISNULL(MES_ATUAL_1A,0.0) AS MES_ATUAL_1A,
				ISNULL(MES_3M_1A,0.0)	 AS MES_3M_1A,
				ISNULL(MES_6M_1A,0.0)	 AS MES_6M_1A,
				ISNULL(MEDIA_1A,0.0)	 AS MEDIA_1A,
				ISNULL(MES_3A_ANO_ATUAL,0.0) AS MES_3A_ANO_ATUAL,
				ISNULL(MES_2A_ANO_ATUAL,0.0) AS MES_2A_ANO_ATUAL,
				ISNULL(MES_1A_ANO_ATUAL,0.0) AS MES_1A_ANO_ATUAL,
				ISNULL(MES_ATUAL,0.0)	AS MES_ATUAL,
				ISNULL(MEDIA_ATUAL,0.0) AS MEDIA_ATUAL
,
				ISNULL(VAR_MEDIA_ATUAL_1A,0.0)		AS VAR_M_ANO_ATUALXANT,
				ISNULL(VAR_MEDIA_MES_ATUAL_M1A,0.0) AS VAR_M_ATUALXANT,
				ISNULL(VAR_MEDIA_MES_FIM1A,0.0)	    AS VAR_MES_ATUALXFIM_ANT,
				ISNULL(VAR_MEDIA_MES_ATUAL_1A,0.0)  AS VAR_MEDIAS  */

				ISNULL(M13,0.0)	AS M13,
				ISNULL(M12,0.0)	AS M12,
				ISNULL(M11,0.0)	AS M11,
				ISNULL(M10,0.0)	AS M10,
				ISNULL(M9,0.0)	AS M9,
				ISNULL(M8,0.0)  AS M8,
				ISNULL(M7,0.0)	AS M7,
				ISNULL(M6,0.0)	AS M6,
				ISNULL(M5,0.0)	AS M5,
				ISNULL(M4,0.0)  AS M4,
				ISNULL(M3,0.0)  AS M3,
				ISNULL(M2,0.0)  AS M2,
				ISNULL(M1,0.0)	AS M1,
				COR_LINHA, ORDEM
		FROM	CML_PRODUCAO_ANALISE o (NOLOCK) 
		WHERE	DT_FECHA = @data_ref 
			AND RPT		 = 1
			AND carteira = 1 --@carteira
			AND PRODUTO NOT IN ('VL','VU','VM','VR','VRU')
		ORDER BY ORDEM
END

IF @RPT = 2 -- RELATORIO CARTEIRA
BEGIN
	-- MOSTRA NA TELA
	SELECT		DT_FECHA, PRODUTO, DESCR1 AS DESCR, DESCR2 AS DESCR2, 
				ISNULL(M13,0.0)	AS M13,
				ISNULL(M12,0.0)	AS M12,
				ISNULL(M11,0.0)	AS M11,
				ISNULL(M10,0.0)	AS M10,
				ISNULL(M9,0.0)	AS M9,
				ISNULL(M8,0.0)  AS M8,
				ISNULL(M7,0.0)	AS M7,
				ISNULL(M6,0.0)	AS M6,
				ISNULL(M5,0.0)	AS M5,
				ISNULL(M4,0.0)  AS M4,
				ISNULL(M3,0.0)  AS M3,
				ISNULL(M2,0.0)  AS M2,
				ISNULL(M1,0.0)	AS M1,
				COR_LINHA, ORDEM
		FROM	CML_PRODUCAO_ANALISE o (NOLOCK) 
		WHERE	DT_FECHA = @data_ref 
			AND RPT		 = 2
			AND carteira = 2 --@carteira
		ORDER BY ORDEM, PRODUTO, DESCR2
END

IF @RPT = 3 -- PRODUCAO MENSAL
	AND @PRODUTO<>'T'
BEGIN

	IF @PRODUTO='VT' 
	BEGIN
		SET @PRODUTO='V' 
	END

	-- MOSTRA NA TELA
	SELECT		DT_FECHA, PRODUTO, DESCR1 AS DESCR, DESCR2 AS DESCR2, 
				ISNULL(M13,0.0)	AS M13,
				ISNULL(M12,0.0)	AS M12,
				ISNULL(M11,0.0)	AS M11,
				ISNULL(M10,0.0)	AS M10,
				ISNULL(M9,0.0)	AS M9,
				ISNULL(M8,0.0)  AS M8,
				ISNULL(M7,0.0)	AS M7,
				ISNULL(M6,0.0)	AS M6,
				ISNULL(M5,0.0)	AS M5,
				ISNULL(M4,0.0)  AS M4,
				ISNULL(M3,0.0)  AS M3,
				ISNULL(M2,0.0)  AS M2,
				ISNULL(M1,0.0)	AS M1,
				COR_LINHA, ORDEM
		FROM	CML_PRODUCAO_ANALISE o (NOLOCK) 
		WHERE	DT_FECHA = @data_ref 
			AND RPT		 = 3
			AND 1=0 + CASE  WHEN @PRODUTO = 'R' AND PRODUTO  IN ('R','R75','R86') THEN  1
							WHEN PRODUTO  = @PRODUTO  THEN 1
							ELSE 0 END
			AND carteira = 3 -- @carteira			
		ORDER BY ORDEM
END

IF @RPT = 3 -- PRODUCAO MENSAL
	AND @PRODUTO='T'
BEGIN
	-- MOSTRA NA TELA
	SELECT		DT_FECHA, PRODUTO, DESCR1 AS DESCR, DESCR2 AS DESCR2, 
				ISNULL(M13,0.0)	AS M13,
				ISNULL(M12,0.0)	AS M12,
				ISNULL(M11,0.0)	AS M11,
				ISNULL(M10,0.0)	AS M10,
				ISNULL(M9,0.0)	AS M9,
				ISNULL(M8,0.0)  AS M8,
				ISNULL(M7,0.0)	AS M7,
				ISNULL(M6,0.0)	AS M6,
				ISNULL(M5,0.0)	AS M5,
				ISNULL(M4,0.0)  AS M4,
				ISNULL(M3,0.0)  AS M3,
				ISNULL(M2,0.0)  AS M2,
				ISNULL(M1,0.0)	AS M1,
				COR_LINHA, ORDEM
		FROM	CML_PRODUCAO_ANALISE o (NOLOCK) 
		WHERE	DT_FECHA = @data_ref 
			AND RPT		 = 3
			AND CARTEIRA = 3
			AND PRODUTO  = @PRODUTO
		ORDER BY ORDEM
END

-- select * from CML_PRODUCAO_ANALISE ORDER BY ORDEM
-- select * from CML_PRODUCAO_ANALISE WHERE RPT =2
-- SP_HELP CML_PRODUCAO_ANALISE

END


GO
