
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios
Use SIG
go

-- exec scr_comercial_SCORE '20150131'

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_comercial_SCORE' AND type = 'P')
   DROP PROCEDURE [dbo].scr_comercial_SCORE
GO


CREATE Procedure [dbo].scr_comercial_SCORE (@data_ref as datetime) AS  
BEGIN  
  
-- DT_FECHA CARTEIRA ORDEM PRODUTO DESCR m3_qtd m3_vlr m3_score m2_qtd m2_vlr m2_score m1_qtd m1_vlr m1_score cor_linha  
  
  
-- MOSTRA NA TELA  
SELECT  DT_FECHA,  
 AGENTE AS DESCR,  
 SUM(m3_qtd) AS M3_QTD,  
 SUM(m3_vlr) AS M3_VLR, 
 SUM(m3_score) AS M3_SCORE,  
 SUM(m2_qtd) AS M2_QTD,  
 SUM(m2_vlr) AS M2_VLR,  
 SUM(m2_score) AS M2_SCORE,  
 SUM(m1_qtd) AS M1_QTD,  
 SUM(m1_vlr) AS M1_VLR,  
 SUM(m1_score) AS M1_SCORE,  
  
 cor_linha,  
 CARTEIRA,  
 ORDEM,  
 PRODUTO  
  
 FROM CML_PRODUCAO_SCORE o (NOLOCK)   
 WHERE DT_FECHA = @DATA_REF   
 GROUP BY DT_FECHA, AGENTE, COR_LINHA, CARTEIRA, ORDEM, PRODUTO
 ORDER BY ORDEM,DESCR  
  
-- select * from CML_PRODUCAO_OPE ORDER BY ORDEM  
  
  
END  
  
GO