
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios
Use SIG
go

-- exec scr_comercial_operacao '20140630'

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_comercial_operacao' AND type = 'P')
   DROP PROCEDURE [dbo].scr_comercial_operacao
GO


CREATE Procedure [dbo].scr_comercial_operacao (@data_ref as datetime) AS
BEGIN


-- MOSTRA NA TELA
SELECT		DT_FECHA,
			PRODUTO,
			DESCR,
			COD,
			QTDE,
			PRAZO,
			PLANO,
			TX_AA,
			TX_AM,
			ISNULL(TX_CET,0.0) AS TX_CET, -- INCLUI 6/9/17	*******
			ISNULL(TX_CET_am,0.0) AS TX_CET_am, -- INCLUI 13/9/17	*******
			PV,
			RECEITA,
			FV,
			LIBERADO,
			TC_TARIFA,
			IOF,
			COR_LINHA,
			ORDEM
			--CARTEIRA,			ORDEM

	FROM	CML_PRODUCAO_OPE o (NOLOCK) 
	WHERE	DT_FECHA = @data_ref 
	ORDER BY ORDEM,DESCR

-- select * from CML_PRODUCAO_OPE ORDER BY ORDEM


END


GO
