
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


use SIG
go

/*
sP_HELP COMERCIAL_PRODUCAO
--12/5/17
ALTER TABLE COMERCIAL_PRODUCAO ALTER COLUMN CODMODA INT

 EXEC PRC_COMERCIAL_PRODUCAO '20170430'
 EXEC	PRC_COMERCIAL_VEIC_QUEBRAS		'20170131'

 EXEC [dbo].[PRC_COMERCIAL_CALCULO]		'20170131'
 EXEC [dbo].[PRC_COMERCIAL_CALCULO_MES_OPER] '20170131'

*/



-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'PRC_COMERCIAL_PRODUCAO' AND type = 'P')
   DROP PROCEDURE [dbo].[PRC_COMERCIAL_PRODUCAO] 
GO

-- MENSAL
-- ***************************************
CREATE Procedure [dbo].[PRC_COMERCIAL_PRODUCAO] 
		 (@DTREF1  SMALLDATETIME )	AS  

BEGIN




DECLARE @DTREF  AS SMALLDATETIME
DECLARE @DTINI  AS SMALLDATETIME
DECLARE @DTFIM  AS SMALLDATETIME
DECLARE @DTPDD  AS SMALLDATETIME

SET @DTREF = CONVERT(VARCHAR(8),@DTREF1,112)
--  SELECT  @DTREF
SET @DTINI = CONVERT(CHAR(4),DATEPART(YEAR,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@DTREF))),2)+'01'
SET @DTFIM = CONVERT(VARCHAR(8),@DTREF1,112)
--  SELECT  @DTINI , @DTFIM

-- FECHAMENTO DA PDD
SET @DTPDD = @DTREF1
	-- ALTERACAO DT FECHAMENTO ULTIMO DIA DO MES
	IF @DTPDD <= '20140801' -- ANTES AGO/2014
	BEGIN
		-- PROCESSAMENTO NO ULTIMO DIA UTIL DO MES		RISCO
		-- CHECA SE EH DIA UTIL
		SELECT	@DTPDD= CASE  WHEN DATEPART(DW,@DTPDD) = 1 THEN DATEADD(D,-2,@DTPDD)	-- DOMINGO
							  WHEN DATEPART(DW,@DTPDD) = 7 THEN DATEADD(D,-1,@DTPDD)	-- SABADO
							  ELSE @DTPDD					 END
	END
--	SELECT @DTPDD

-- 1 
-- LIMPA PROCESSO ANTERIOR
DELETE FROM COMERCIAL_PRODUCAO WHERE DT_FECHA = @DTREF


-- COPIA O ULTIMO FECHAMENTO
-- DECLARE @DTFECHA SMALLDATETIME SET @DTFECHA='2014-04-30'
/*
SP_HELP COMERCIAL_PRODUCAO
CREATE TABLE COMERCIAL_PRODUCAO
(
DT_FECHA		smalldatetime,
PRODUTO			VARCHAR(2),  -- DESCONTO, CAPITAL GIRO, VEICULO, RENEGOCI, CP
NUM_OPE			varchar(50),
DT_BASE			smalldatetime,
VLR_OP			float,
VLR_PARC		float,
VLR_PRESENTE	float,
VLR_RECEITA		float,
VLR_FUTURO		float,
VLR_LIBERADO	float,
VLR_TC			float,
VLR_TARIFA		float,
VLR_IOF			float,
VLR_FIPE		float,

SCORE		INT,

PRAZO		int,
PLANO		INT,

TAXA		float,
RETORNO		float,
TAXA_SEM_RET	float,

ATRASO		int,
dtVencParc	smalldatetime,
DT_PAGTO	smalldatetime,
RENEGOCIADO	int,
RATING		varchar(2),

CODCLI		varchar(15),
CODPROD		smallint,
CODMODA		smallint,
AGENTE		varchar(6),
VEICULO		varchar(20),
CODOPER		varchar(20),
CODLOJA		varchar(20),
ANO_MODELO	varchar(20),
TX_X_VLR	float,
PRZ_X_VLR	float,
BORDERO		INT


 )

CREATE INDEX  COMERCIAL_PRODUCAO_IDX1 ON COMERCIAL_PRODUCAO ( DT_FECHA	, PRODUTO	, NUM_OPE	)

ALTER TABLE COMERCIAL_PRODUCAO ADD   FX_ANO varchar(100)
 ALTER TABLE COMERCIAL_PRODUCAO ADD  FX_PLANO varchar(100)
 ALTER TABLE COMERCIAL_PRODUCAO ADD  NVL_RISCO varchar(2)
 ALTER TABLE COMERCIAL_PRODUCAO ADD  PLANO_X_VLR 	float
 ALTER TABLE COMERCIAL_PRODUCAO ADD  TAXA_AA 	float
 ALTER TABLE COMERCIAL_PRODUCAO ADD  TX_AA_X_VLR	float


ALTER TABLE COMERCIAL_PRODUCAO ALTER COLUMN  VEICULO varchar(30)

-------------------------------------------
DROP TABLE	 COMERCIAL_PRODUCAO_MES
CREATE TABLE COMERCIAL_PRODUCAO_MES
(
DT_FECHA		smalldatetime,
PRODUTO			VARCHAR(2),  -- DESCONTO, CAPITAL GIRO, VEICULO, RENEGOCI, CP
QTDE			float,
VLR_OP			float,
VLR_PRESENTE	float,
VLR_RECEITA		float,
VLR_FUTURO		float,
VLR_TC			float,
VLR_TARIFA		float,
VLR_IOF			float,
VLR_FIPE		float,
SCORE			INT,
PLANO_MEDIO		FLOAT,
TAXA_MEDIA		float
 )

CREATE INDEX  COMERCIAL_PRODUCAO_MES_IDX1 ON COMERCIAL_PRODUCAO_MES ( DT_FECHA	, PRODUTO		)

ALTER TABLE  COMERCIAL_PRODUCAO_MES  ADD VARIACAO FLOAT, TKT_MEDIO FLOAT, QTDE_LJ FLOAT, MEDIA_LJ FLOAT,
			 PRODUCAO_LIQ FLOAT, TKT_MEDIO_LIQ FLOAT, ANO_MEDIO FLOAT

DROP TABLE COMERCIAL_PRODUCAO_MES_AUX
SELECT * INTO COMERCIAL_PRODUCAO_MES_AUX FROM COMERCIAL_PRODUCAO_MES WHERE 1=0

SELECT * FROM SPREAD_HISTORICO

sp_help SPREAD_HISTORICO


-------------------------------------------
DROP TABLE	 COMERCIAL_CARTEIRA_MES
CREATE TABLE COMERCIAL_CARTEIRA_MES
(
DT_FECHA		smalldatetime,
PRODUTO			VARCHAR(2),  -- DESCONTO, CAPITAL GIRO, VEICULO, RENEGOCI, CP
QTDE			float,
VLR_OP			float,
VLR_PRESENTE	float,
VLR_FUTURO		float,
VLR_RECEITA		float,
VLR_VAR_RECEITA	float,

MEDIA_OP		float,
QTDE_CLIENTE	float,
MEDIA_CLIENTE	float,
TKT_MEDIO_PV	float,
TKT_MEDIO_LIQ	float,
TKT_MEDIO_OP	float,
VLR_FIPE		float

 )

CREATE INDEX  COMERCIAL_CARTEIRA_MES_IDX1 ON COMERCIAL_CARTEIRA_MES ( DT_FECHA	, PRODUTO		)



*/

-- 2   VEICULOS
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES   TABELA AUXILIAR
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-05-29'
-- SELECT * FROM RATING_PROJETADO WHERE NUM_OPE='89313224'
-- ******************									OK
INSERT	COMERCIAL_PRODUCAO
			(DT_FECHA		, --smalldatetime,
			PRODUTO			, --VARCHAR(2),  -- DESCONTO, CAPITAL GIRO, VEICULO, RENEGOCI, CP
			NUM_OPE			, --varchar(50),
			DT_BASE			, --smalldatetime,
			VLR_OP			, --float,
			VLR_PARC		, --float,
			VLR_PRESENTE	, --float,
			VLR_RECEITA		, --float,
			VLR_FUTURO		, --float,
			VLR_LIBERADO	, --float,
			VLR_TC			, --float,
			VLR_TARIFA		, --float,
			VLR_IOF			, --float,
			VLR_FIPE		, --float,

			SCORE		, --INT,

			PRAZO		, --int,
			PLANO		, --INT,

			TAXA_AA		, --float,
			taxa,
			RETORNO			, --float,
			TAXA_SEM_RET	, --float,

			ATRASO		, --int,
			dtVencParc	, --smalldatetime,
			DT_PAGTO	, --smalldatetime,
			RENEGOCIADO	, --int,
			RATING		, --varchar(2),

			CODCLI		, --varchar(15),
			CODPROD		, --smallint,
			CODMODA		, --smallint,
			AGENTE		, --varchar(6),
			VEICULO		, --varchar(20),
			CODOPER		, --varchar(20),
			CODLOJA		, --varchar(20),
			ANO_MODELO	, --varchar(20),
			TX_X_VLR	, --float,
			PRZ_X_VLR	, --float,
			BORDERO		,  --INT
			TX_CET		-- INCLUI 6/9/17	**********
				 )   
-- DECLARE  @DTINI DATETIME DECLARE @DTFIM DATETIME DECLARE @DTREF DATETIME SET @DTINI='20160901' SET @DTFIM='20160930' SET  @DTREF='20160930'
SELECT	@DTREF,	'V',
		OPNROPER, OPDTBASE,
		OPVLROPCZ,	 -- VLR OPERADO
		OPVLRPARC,   -- VLR PARCELA NO VLR_PRINC
		OPVlrOpCZ,		 -- VLR_PRESENTE	, --float,  *******************
		0.0,		 -- VLR_RECEITA		, --float,
		OPVLRPARC *  OPQTDDPARC,		 -- VLR_FUTURO				, --float,
		OPVLRFIN,			 --  VLR_LIBERADO	, --float,
		OPDESPESA3,		 -- VLR_TC			, --float,
		OPTAC,		 -- VLR_TARIFA		, --float,
		OPIOC,		 -- VLR_IOF			, --float,
		0.0,		 -- VLR_FIPE		, --float,

		0,			 -- SCORE		, --INT,

		DATEDIFF(DD,OPDTBASE,OPDTVCTO),  -- PRAZO EM DIAS PRAZO		, --int,
		OPQTDDPARC,  --PLANO		, --INT,

		--TAXA		, --float,
		OPTXJRCL,	 -- OPTXNET, OPSPREAD  EM TX_RATP OPTXJRCL, OPTXJRNOM  56,7054, OPTXJRAP
		OPTXJRCL,
		OPDESPESA4,  -- RETORNO RETORNO			, --float,
		OPTXJRCL,		 --TAXA_SEM_RET	, --float,

		0,--ATRASO		, --int,
		0,--dtVencParc	, --smalldatetime,
		'',--DT_PAGTO	, --smalldatetime,
		0, --RENEGOCIADO	, --int,
		'', --RATING		, --varchar(2),


		OPCODCLI,--CODCLI		, --varchar(15),
		OPCODPROD,  -- PRODUTO CODPROD		, --smallint,
		OPCODOP  ,  -- MODALIDADE NO COBRADORA  CODMODA		, --smallint,
		0,			-- AGENTE		, --varchar(6),
		'', -- VEICULO		, -- varchar(20),
		OPCODORG3  ,  -- OPERADOR  CODOPER		, --varchar(20),
		OPCODORG4,   -- COD LOJA  CODLOJA		, --varchar(20),
		'',    -- ANO_MODELO	, --varchar(20),
		0.0 ,  -- TX_X_VLR	, --float,
		0.0 ,  -- PRZ_X_VLR	, --float,
		0      -- BORDERO		  --INT
		,OPTXJRCET	-- INCLUI 06/09/17
		
-- SELECT DATEDIFF(DD,OPDTBASE,OPDTVCTO),* 
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	-- PRODUCAO
			CONVERT(VARCHAR(8),OPDTBASE,112) BETWEEN @DTINI AND @DTFIM 
		--   LISTA COM MODALIDADES DO PRODUTO VEIC
		AND OPCODOP IN (SELECT	M.COD_MODA
						FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
						AND T.COD_PROD = 'V' )

			-- SOMENTE VEICULOS
--		AND OPCODOP IN (552,610,612,630,632,642,643,670,672,700,751,752,760,862,893,553,894 , 800)
		-- se nao for renegociacao
		-- AND RIGHT(OPNROPER,1) NOT IN ('A','B')

-- OK


-- CG E CP
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES   TABELA AUXILIAR
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-05-29'
-- SELECT * FROM RATING_PROJETADO WHERE NUM_OPE='89313224'
-- SP_HELP COMERCIAL_PRODUCAO
-- OK PARA TX JR RAP!! ****************************************

-- ******************									OK
-- 3
INSERT	COMERCIAL_PRODUCAO
SELECT	@DTREF,	
		-- PRODUTO CADASTRADO PARA A MODALIDADE DA OPERACAO
		(SELECT COD_PROD FROM	TModa_tipo_prod M (NOLOCK)  WHERE COD_MODA=OPCODOP),
				/*
				--350,351,352,353 s/ gar
				--360,361,362,363 c/ gar
					CASE WHEN OPCODOP IN (362, 363,  350,351,352,353,  360,361,362,363,  371,381) THEN 'CG'
						 WHEN OPCODOP IN (906, 908, 909 )		THEN 'CP'
						 WHEN OPCODOP IN (870, 990 )			THEN 'R'
						 ELSE '' END,	 */
		OPNROPER, OPDTBASE,
		OPVLROPCZ,	 -- VLR OPERADO
		OPVLRPARC,   -- VLR PARCELA NO VLR_PRINC
		OPVlrOpCZ,	 -- VLR_PRESENTE	, --float,
		0.0,		 -- VLR_RECEITA		, --float,
		CASE WHEN	OPVLRPARC *  OPQTDDPARC =0.0 THEN OPVlrBRUTO
			 ELSE	OPVLRPARC *  OPQTDDPARC		 END ,		 -- VLR_FUTURO				, --float,
		OPVLRFIN,			 -- RETORNO VLR_LIBERADO	, --float,
		OPDESPESA3,	 -- VLR_TC			, --float,
		OPTAC,		 -- VLR_TARIFA		, --float,
		OPIOC,		 -- VLR_IOF			, --float,
		0.0,		 -- VLR_FIPE		, --float,

		0,			 -- SCORE		, --INT,

		DATEDIFF(DD,OPDTBASE,OPDTVCTO),  -- PRAZO EM DIAS PRAZO		, --int,
		OPQTDDPARC,  --PLANO		, --INT,

		--TAXA		, --float,
		OPTXJRAP,	 -- OPTXNET, OPSPREAD  EM TX_RATP OPTXJRAP
		OPDESPESA4,  -- RETORNO RETORNO			, --float,
		OPTXJRAP,	 --TAXA_SEM_RET	, --float,

		0,--ATRASO		, --int,
		0,--dtVencParc	, --smalldatetime,
		'',--DT_PAGTO	, --smalldatetime,
		0, --RENEGOCIADO	, --int,
		'', --RATING		, --varchar(2),


		OPCODCLI,--CODCLI		, --varchar(15),
		OPCODPROD,  -- PRODUTO CODPROD		, --smallint,
		OPCODOP  ,  -- MODALIDADE NO COBRADORA  CODMODA		, --smallint,
		0,			-- AGENTE		, --varchar(6),
		'', -- VEICULO		, -- varchar(20),
		OPCODORG3  ,  -- OPERADOR  CODOPER		, --varchar(20),
		OPCODORG4,   -- COD LOJA  CODLOJA		, --varchar(20),
		'',    -- ANO_MODELO	, --varchar(20),
		0.0 ,  -- TX_X_VLR	, --float,
		0.0 ,  -- PRZ_X_VLR	, --float,
		0      -- BORDERO		  --INT
		, '','', '',0.0,	--   FX_ANO , FX_PLANO ,  NVL_RISCO ,  PLANO_X_VLR ,  
		OPTXjRAP ,0.0		--   TAXA_AA ,	TX_AA_X_VLR		
		,0.0, 0.0			--   TX_CET ,	TX_CET_X_VLR			-- INCLUIDO 6/9/17 ***

-- DECLARE  @DTINI DATETIME DECLARE @DTFIM DATETIME DECLARE @DTREF DATETIME SET @DTINI='20160901' SET @DTFIM='20160930' SET  @DTREF='20160930'
-- SELECT DATEDIFF(DD,OPDTBASE,OPDTVCTO),OPVLRPARC *  OPQTDDPARC,* 
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	-- PRODUCAO
		--  opdtbase between '20150101' and '20150131' and opcodop =870 and opnroper= '373000764'
			CONVERT(VARCHAR(8),OPDTBASE,112) BETWEEN @DTINI AND @DTFIM 
			-- MODALIDADES CADASTRADAS SEM DESCONTO, SEM VEICULOS = TRATADOS A PARTE
		AND OPCODOP IN (SELECT	M.COD_MODA
						FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
							AND T.COD_PROD NOT IN ( 'D','V') )  -- OUTROS PRODUTOS DO FUNCAO

		-- excecao LIQUIDACAO DE CONTRATO COM PB TX RENEG		************** ALTERADO 14/6/17
		AND OPNROPER NOT IN ('612260563A')

--		AND OPCODOP IN (362, 363, 350,351,352,353,360,361,362,363,371,381   , 906, 908, 909 , 870, 990 )

			-- SOMENTE CAPITAL GIRO, CREDITO PESSOAL
			-- 362 - CAPITAL GIRO C/GAR -CARNE- PF  , 363 - CAPITAL GIRO C/GAR -CARNE- PJ

		--906 - CREDITO PESSOAL PF - CA, 908 - CREDITO PESSOAL PF - CA, 909 - CREDITO PESSOAL PF - CA, 
		-- 800 - REFI / CP - CARNE (MUDOU PARA REFIN UTILIT),    990 - CREDITO PESSOAL - RENEGOCIACAO

		--  INCOMPLETO
		--  AND OPCODOP IN (362, 363 , 906, 908, 909, 990 )
		-- se nao for renegociacao
		-- AND RIGHT(OPNROPER,1) NOT IN ('A','B')


-- INCLUIR AGENTES COM PRODUCAO ZERADA
-- CG E CP
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES   TABELA AUXILIAR
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-05-29'
-- SELECT * FROM RATING_PROJETADO WHERE NUM_OPE='89313224'
-- ******************									OK
INSERT	COMERCIAL_PRODUCAO
SELECT	@DTREF,	
		A.PRODUTO,	
		'', '',
		0.0,	 -- VLR OPERADO
		0.0,   -- VLR PARCELA NO VLR_PRINC
		0.0,		 -- VLR_PRESENTE	, --float,
		0.0,		 -- VLR_RECEITA		, --float,
		0.0,		 -- VLR_FUTURO				, --float,
		0.0,			 -- RETORNO VLR_LIBERADO	, --float,
		0.0,		 -- VLR_TC			, --float,
		0.0,		 -- VLR_TARIFA		, --float,
		0.0,		 -- VLR_IOF			, --float,
		0.0,		 -- VLR_FIPE		, --float,

		0,			 -- SCORE		, --INT,

		0,  -- PRAZO EM DIAS PRAZO		, --int,
		0,  --PLANO		, --INT,

		--TAXA		, --float,
		0.0,	 -- OPTXNET, OPSPREAD  EM TX_RATP
		0.0,  -- RETORNO RETORNO			, --float,
		0.0,		 --TAXA_SEM_RET	, --float,

		0,--ATRASO		, --int,
		0,--dtVencParc	, --smalldatetime,
		'',--DT_PAGTO	, --smalldatetime,
		0, --RENEGOCIADO	, --int,
		'', --RATING		, --varchar(2),


		'',--CODCLI		, --varchar(15),
		'',  -- PRODUTO CODPROD		, --smallint,
		0  ,  -- MODALIDADE NO COBRADORA  CODMODA		, --smallint,
		A.AGENTE,			-- AGENTE		, --varchar(6),
		'', -- VEICULO		, -- varchar(20),
		A.CODOPER  ,  -- OPERADOR  CODOPER		, --varchar(20),
		'', --A.CODLOJA,   -- COD LOJA  CODLOJA		, --varchar(20),
		'',    -- ANO_MODELO	, --varchar(20),
		0.0 ,  -- TX_X_VLR	, --float,
		0.0 ,  -- PRZ_X_VLR	, --float,
		0      -- BORDERO		  --INT
		, '','', '',0.0,0.0 ,0.0 --   FX_ANO , FX_PLANO ,  NVL_RISCO ,  PLANO_X_VLR ,  TAXA_AA ,	TX_AA_X_VLR	
		,0.0, 0.0			--   TX_CET ,	TX_CET_X_VLR			-- INCLUIDO 6/9/17 ***

		
-- PRODUCAO DOS AGENTES E OPERADORES NAO LOCALIZADO NO MES
--    declare @DTREF datetime set @DTREF = '20140630' select convert(char(4),datepart(yyyy,@DTREF)-3)+'0101'
-- DECLARE  @DTINI DATETIME DECLARE @DTFIM DATETIME DECLARE @DTREF DATETIME SET @DTINI='20160901' SET @DTFIM='20160930' SET  @DTREF='20160930'
-- SELECT * 
	FROM	
			(SELECT		DISTINCT 
						PRODUTO, AGENTE, VEICULO, CODOPER 
				FROM	COMERCIAL_PRODUCAO O (NOLOCK)
						-- 2011 ate hj
				WHERE	DT_FECHA BETWEEN  convert(char(4),datepart(yyyy,@DTREF)-3)+'0101' AND @DTREF ) AS A
		LEFT JOIN
			(SELECT		DISTINCT 
						PRODUTO, AGENTE, VEICULO, CODOPER 
				FROM	COMERCIAL_PRODUCAO O (NOLOCK)
				WHERE	DT_FECHA= @DTREF) AS P
		ON		A.PRODUTO=P.PRODUTO
			AND A.AGENTE =P.AGENTE
			AND A.VEICULO=P.VEICULO
			AND A.CODOPER=P.CODOPER
	WHERE	P.PRODUTO	IS NULL
		AND	P.AGENTE	IS NULL 
		AND P.VEICULO	IS NULL 
		AND	P.CODOPER   IS NULL

--@DTFIM 

-- REMOVI EM 5/4/2017			
-- DESCONTO A PARTIR DE 01/01/2017 ******************  SOMENTE NETFACTOR  
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES   TABELA AUXILIAR
-- DECLARE @DTREF SMALLDATETIME SET @DTREF='2014-06-30'
-- ******************									OK
/*
INSERT	COMERCIAL_PRODUCAO
-- DECLARE  @DTINI DATETIME DECLARE @DTFIM DATETIME DECLARE @DTREF DATETIME SET @DTINI='20160901' SET @DTFIM='20160930' SET  @DTREF='20160930'
SELECT	DISTINCT
		@DTREF,	
		'D',	
		O.bordro_num, --
		O.bordro_dat_MOVatu,	-- DT
		--T.TITLO_DAT_ENTR,		-- DT
		O.bordro_vlr_bord,		-- VLR OPERADO  VP
		0.0,   -- VLR PARCELA NO VLR_PRINC
		0.0  ,		 -- VLR_PRESENTE	, --float,-- VP = vf - VLR Juros 
		0.0,		 -- VLR_RECEITA		, --float,		-- RECEITA = JUROS
		O.bordro_vlr_bord,  	 -- VLR_FUTURO		 float--bordro_vlr_TitABERT,		
		 O.bordro_vlr_bord- 	O.bordro_vlr_tarifa - 	 O.bordro_vlr_tac ,			-- Valor Liberado   -Juros - 	 IOF -- RETORNO VLR_LIBERADO	, --float, 
		O.bordro_vlr_tac,	    	 -- VLR_TC			, --float,
		O.bordro_vlr_tarifa,	 -- VLR_TARIFA		, --float,
		0.0,		 -- VLR_IOF			, --float,
		0.0,		 -- VLR_FIPE		, --float,
		0,			 -- SCORE		, --INT,
		0,  -- PRAZO EM DIAS PRAZO		, --int,
		CASE	WHEN O.PARDIV_COD =4		  THEN  2 --'DPC'
				WHEN O.PARDIV_COD IN (3)	  THEN  1 --'CHEQUES'  7 não é mais cheque
				WHEN O.PARDIV_COD IN (6, 2,7,10) THEN  1 --'DUPLICATAS' 7 é duplicata -- INCLUI 6 NA DUPLICATA em 8/2/17 ******
				ELSE 1
				END, -- PLANO
		O.bordro_Tax_CustOPER,	 -- OPTXNET, OPSPREAD  EM TX_RATP		--TAXA		, --float,
		0.0,  -- RETORNO RETORNO			, --float,
		O.bordro_tax_custoper,	-- tx am	 --TAXA_SEM_RET	, --float,
		0,--ATRASO		, --int,
		0,--dtVencParc	, --smalldatetime,
		'',--DT_PAGTO	, --smalldatetime,
		0, --RENEGOCIADO	, --int,
		ISNULL(O.Bordro_Niv_Risco_Aplic,''), --RATING		, --varchar(2),
		O.Cednte_Cedn,	--CODCLI		, --varchar(15),
		O.bordro_prod,  --O.ctlCart_Cod,    -- PRODUTO CODPROD		, --smallint,   *******  ALTERADO 8/7/16 DIF. IOF NOS TITULOS, BORDERO REPETIDO PRO MESMO CLIENTE, PRODUTO DIFERENTE
		O.ParDIV_cod  ,   -- MODALIDADE NO COBRADORA  CODMODA		, --smallint,		--(SELECT espc_cod  FROM FinSGRDBS..tb_TITLO T (NOLOCK) WHERE T.BORDRO_NUM= O.BORDRO_NUM), CF ATT
		0,			-- AGENTE		, --varchar(6),
		bordro_prod, -- '', 		-- MODALIDADE  		-- Espc_cod no Tb_titlo
		''  ,  -- OPERADOR  CODOPER		, --varchar(20),
		'',   -- COD LOJA  CODLOJA		, --varchar(20),
		'',    -- ANO_MODELO	, --varchar(20),
		0.0 ,  -- TX_X_VLR	, --float,
		0.0 ,  -- PRZ_X_VLR	, --float,
		0      -- BORDERO		  --INT
		, '','', '',0.0,0.0 ,0.0 --   FX_ANO , FX_PLANO ,  NVL_RISCO ,  PLANO_X_VLR ,  TAXA_AA ,	TX_AA_X_VLR	
	FROM		FinSGRDBS..tb_bordro O (NOLOCK)  -- PRODUCAO
--		JOIN	FinSGRDBS..tb_TITLO  T (NOLOCK) ON	O.CEDNTE_CEDN = T.CEDNTE_CEDN 	AND O.BORDRO_NUM  = T.BORDRO_NUM
	WHERE		O.bordro_dat_MOVatu BETWEEN @DTINI AND @DTFIM 
			AND O.CtlCART_COD =11 


-- INCLUIR MOV DE 1/FEV/17 EM JANEIRO/17 E NAO CONSIDERAR EM FEV	******************** ALTERADO EM 8/2/17
-- ******************									OK
IF @DTFIM = '20170131'
INSERT	COMERCIAL_PRODUCAO
-- DECLARE  @DTINI DATETIME DECLARE @DTFIM DATETIME DECLARE @DTREF DATETIME SET @DTINI='20160901' SET @DTFIM='20160930' SET  @DTREF='20160930'
SELECT	DISTINCT
		@DTREF,	
		'D',	
		O.bordro_num, --
		O.bordro_dat_MOVatu,	-- DT
		--T.TITLO_DAT_ENTR,		-- DT
		O.bordro_vlr_bord,		-- VLR OPERADO  VP
		0.0,   -- VLR PARCELA NO VLR_PRINC
		0.0  ,		 -- VLR_PRESENTE	, --float,-- VP = vf - VLR Juros 
		0.0,		 -- VLR_RECEITA		, --float,		-- RECEITA = JUROS
		O.bordro_vlr_bord,  	 -- VLR_FUTURO		 float--bordro_vlr_TitABERT,		
		 O.bordro_vlr_bord- 	O.bordro_vlr_tarifa - 	 O.bordro_vlr_tac ,			-- Valor Liberado   -Juros - 	 IOF -- RETORNO VLR_LIBERADO	, --float, 
		O.bordro_vlr_tac,	    	 -- VLR_TC			, --float,
		O.bordro_vlr_tarifa,	 -- VLR_TARIFA		, --float,
		0.0,		 -- VLR_IOF			, --float,
		0.0,		 -- VLR_FIPE		, --float,
		0,			 -- SCORE		, --INT,
		0,  -- PRAZO EM DIAS PRAZO		, --int,
		CASE	WHEN O.PARDIV_COD =4		  THEN  2 --'DPC'
				WHEN O.PARDIV_COD IN (3)	  THEN  1 --'CHEQUES'  7 não é mais cheque
				WHEN O.PARDIV_COD IN (6, 2,7,10) THEN  1 --'DUPLICATAS' 7 é duplicata -- INCLUI 6 NA DUPLICATA em 8/2/17 ******
				ELSE 1
				END, -- PLANO
		O.bordro_Tax_CustOPER,	 -- OPTXNET, OPSPREAD  EM TX_RATP		--TAXA		, --float,
		0.0,  -- RETORNO RETORNO			, --float,
		O.bordro_tax_custoper,	-- tx am	 --TAXA_SEM_RET	, --float,
		0,--ATRASO		, --int,
		0,--dtVencParc	, --smalldatetime,
		'',--DT_PAGTO	, --smalldatetime,
		0, --RENEGOCIADO	, --int,
		ISNULL(O.Bordro_Niv_Risco_Aplic,''), --RATING		, --varchar(2),
		O.Cednte_Cedn,	--CODCLI		, --varchar(15),
		O.bordro_prod,  --O.ctlCart_Cod,    -- PRODUTO CODPROD		, --smallint,   *******  ALTERADO 8/7/16 DIF. IOF NOS TITULOS, BORDERO REPETIDO PRO MESMO CLIENTE, PRODUTO DIFERENTE
		O.ParDIV_cod  ,   -- MODALIDADE NO COBRADORA  CODMODA		, --smallint,		--(SELECT espc_cod  FROM FinSGRDBS..tb_TITLO T (NOLOCK) WHERE T.BORDRO_NUM= O.BORDRO_NUM), CF ATT
		0,			-- AGENTE		, --varchar(6),
		bordro_prod, -- '', 		-- MODALIDADE  		-- Espc_cod no Tb_titlo
		''  ,  -- OPERADOR  CODOPER		, --varchar(20),
		'',   -- COD LOJA  CODLOJA		, --varchar(20),
		'',    -- ANO_MODELO	, --varchar(20),
		0.0 ,  -- TX_X_VLR	, --float,
		0.0 ,  -- PRZ_X_VLR	, --float,
		0      -- BORDERO		  --INT
		, '','', '',0.0,0.0 ,0.0 --   FX_ANO , FX_PLANO ,  NVL_RISCO ,  PLANO_X_VLR ,  TAXA_AA ,	TX_AA_X_VLR	
	FROM		FinSGRDBS..tb_bordro O (NOLOCK)  -- PRODUCAO
--		JOIN	FinSGRDBS..tb_TITLO  T (NOLOCK) ON	O.CEDNTE_CEDN = T.CEDNTE_CEDN 	AND O.BORDRO_NUM  = T.BORDRO_NUM
	WHERE		O.bordro_dat_MOVatu ='20170201'
			AND O.CtlCART_COD =11 

-- ***********  FEV/17 NAO CONSIDERAR DESCONTO DE 1/FEV/17
IF @DTINI = '20170201'
	DELETE FROM	COMERCIAL_PRODUCAO  WHERE DT_BASE='20170201' AND PRODUTO='D'

-- ALTERACAO P/ CORRIGIR PROBLEMA NO DESCONTO, OPERACAO NAO FINALIZADA ************* 11/05/2016  ************
IF @DTINI = '20160401' --04/05/2016 00:00:00
BEGIN
	-- MOVIMENTADO EM MAIO/16 MAS OPERACAO DE ABR/16 ***********
	INSERT	COMERCIAL_PRODUCAO
	SELECT	DISTINCT
			@DTREF,	
			'D',	
			O.bordro_num, --
			O.bordro_dat_MOVatu,	-- DT
			--T.TITLO_DAT_ENTR,		-- DT
			O.bordro_vlr_bord,		-- VLR OPERADO  VP
			0.0,   -- VLR PARCELA NO VLR_PRINC
			-- VP = vf - VLR Juros 
			0.0  ,		 -- VLR_PRESENTE	, --float,
			-- RECEITA = JUROS
			0.0,		 -- VLR_RECEITA		, --float,
			O.bordro_vlr_bord,  	 -- VLR_FUTURO		 float
			--bordro_vlr_TitABERT,		
	-- Valor Liberado   -Juros - 	 IOF 
			 O.bordro_vlr_bord- 	O.bordro_vlr_tarifa - 	 O.bordro_vlr_tac ,	
		 -- RETORNO VLR_LIBERADO	, --float,
			O.bordro_vlr_tac,	    	 -- VLR_TC			, --float,
			O.bordro_vlr_tarifa,	 -- VLR_TARIFA		, --float,
			0.0,		 -- VLR_IOF			, --float,
			0.0,		 -- VLR_FIPE		, --float,
			0,			 -- SCORE		, --INT,
			0,  -- PRAZO EM DIAS PRAZO		, --int,
	--		1,  --PLANO		, --INT,
			CASE	WHEN O.PARDIV_COD =4		  THEN  2 --'DPC'
					WHEN O.PARDIV_COD IN (3)	  THEN  1 --'CHEQUES'  7 não é mais cheque
					WHEN O.PARDIV_COD IN (6, 2,7,10) THEN  1 --'DUPLICATAS' 7 é duplicata -- INCLUI 6 NA DUPLICATA em 8/2/17 ******
					ELSE 1
					END, -- PLANO
			--TAXA		, --float,
			O.bordro_Tax_CustOPER,	 -- OPTXNET, OPSPREAD  EM TX_RATP
			0.0,  -- RETORNO RETORNO			, --float,
			O.bordro_tax_custoper,	-- tx am	 --TAXA_SEM_RET	, --float,

			0,--ATRASO		, --int,
			0,--dtVencParc	, --smalldatetime,
			'',--DT_PAGTO	, --smalldatetime,
			0, --RENEGOCIADO	, --int,
			ISNULL(O.Bordro_Niv_Risco_Aplic,''), --RATING		, --varchar(2),

			O.Cednte_Cedn,	--  CODCLI		, --varchar(15),
			O.bordro_prod,  --  O.ctlCart_Cod,    -- PRODUTO CODPROD		, --smallint,   ********* ALTERADO  8/7/16

			O.ParDIV_cod  ,   -- MODALIDADE NO COBRADORA  CODMODA		, --smallint,
			--(SELECT espc_cod  FROM FinSGRDBS..tb_TITLO T (NOLOCK) WHERE T.BORDRO_NUM= O.BORDRO_NUM), CF ATT

			0,			-- AGENTE		, --varchar(6),
			-- MODALIDADE  		-- Espc_cod no Tb_titlo
			'', 
			''  ,  -- OPERADOR  CODOPER		, --varchar(20),
			'',   -- COD LOJA  CODLOJA		, --varchar(20),
			'',    -- ANO_MODELO	, --varchar(20),
			0.0 ,  -- TX_X_VLR	, --float,
			0.0 ,  -- PRZ_X_VLR	, --float,
			0      -- BORDERO		  --INT
			, '','', '',0.0,0.0 ,0.0 --   FX_ANO , FX_PLANO ,  NVL_RISCO ,  PLANO_X_VLR ,  TAXA_AA ,	TX_AA_X_VLR	
		FROM		FinSGRDBS..tb_bordro O (NOLOCK)
		WHERE	-- PRODUCAO AJUSTADA EXCECAO
					O.bordro_num = 32 AND O.cednte_cedn = 294001  -- 294001	32
				AND O.CtlCART_COD =11 
END
-- REMOVE A EXCECAO DE  MAIO/16
IF @DTINI = '20160501' --04/05/2016 00:00:00
BEGIN
	-- MOVIMENTADO EM MAIO/16 MAS OPERACAO DE ABR/16 ***********
	DELETE FROM	COMERCIAL_PRODUCAO WHERE  DT_FECHA='20160531' AND PRODUTO='D' AND NUM_OPE = 32 AND CODCLI = 294001 
END
*/



/*
-- ***************************** INCLUIDO BKF EM 30/01/2017
-- **************************************************************************
-- INCLUIR NOVOS CONTRATOS NO MES  BKF NO FUNCAO MAS SEPARADO NO COML E CRED
--  fim inclusao BKF ********************
nao precisa entra pela carteira		PQ ESTA NO FUNCAO
*/




/* -- REMOVI EM 5/4/17		DESCONTO DO ATT ************* A PARTIR DE 2017 NETFACTOR
-- ATUALIZA VEICULO COM DESCRICAO DA MODALIDADE
--		DECLARE @DTREF DATETIME SET @DTREF = '20160630'
UPDATE		COMERCIAL_PRODUCAO
	SET		VEICULO = T.DESCR_TIPO
	FROM	Ttipo_prod T (NOLOCK) ,
			TModa_tipo_prod M (NOLOCK) 
	WHERE	COMERCIAL_PRODUCAO.DT_FECHA = @DTREF
		AND	COMERCIAL_PRODUCAO.PRODUTO  = 'D'	-- desconto
		AND T.COD_PROD = COMERCIAL_PRODUCAO.PRODUTO	  -- PRODUTO
		AND T.COD_PROD = M.COD_PROD
--		AND COMERCIAL_PRODUCAO.CODPROD  = 11		  -- DESCONTO
		AND COMERCIAL_PRODUCAO.CODPROD  IN (1,10, 11)	  -- DESCONTO  *********** ALTERADO 8/7/16
		AND COMERCIAL_PRODUCAO.CODMODA  = M.COD_MODA  -- BAIXO NIVEL MODALIDADE DA OPERACAO
		AND T.COD_MODALIDADE = M.COD_MODALIDADE		  -- TIPO DA OPERACAO	

 -- SELECT COD_OPER,*  	FROM		FinSGRDBS..tb_OPERADOR
-- SELECT *  	FROM		FinSGRDBS..tb_TITLO O (NOLOCK)
-- SELECT *  	FROM		FinSGRDBS..tb_CEDNTE O (NOLOCK)
-- SELECT *  	FROM		FinSGRDBS..tb_CEDNTE_MCK O (NOLOCK)
-- SELECT *  	FROM		FinSGRDBS..tb_OPERC  -- COD OPERACAO

-- SELECT *  	FROM		FinSGRDBS..SGRtbLeNTtIT O (NOLOCK)
-- SELECT *  	FROM		FinSGRDBS..tSPoPERACOES O (NOLOCK)
-- SELECT *  	FROM		FinSGRDBS..tSPheader O (NOLOCK)
-- SELECT *  	FROM		FinSGRDBS..sgrTblBctCedente
-- SELECT *  	FROM		FinSGRDBS..ctbtblitcevento
-- SELECT *  	FROM		FinSGRDBS..sgrTblCedtar
-- SELECT *  	FROM		FinSGRDBS..sgrTblCsdCedenteSacado

-- REMOVI 5/4/17		DESCONTO DO NETFACTOR ---------
-- *************************************
-- PRAZO MEDIO DO ATT DESCONTO
UPDATE	COMERCIAL_PRODUCAO
SET		PRAZO = (SELECT MAX(opeblt_prz_medio)
				FROM	FinSGRDBS..tb_bordro BORD (NOLOCK)	
				JOIN	FINSGRDBS..tb_cob_opeblt  B (NOLOCK)
					ON CONVERT(INT,COMERCIAL_PRODUCAO.CODCLI) = B.cednte_cedn 
					-- removi **************** dias diferentes  1d ***********  ALTERADO 17/10/16
					-- and COMERCIAL_PRODUCAO.DT_BASE= B.boleta_dat_entr
					AND OPEBLT_VLR =BORD.BORDRO_VLR_BORD
					AND BORD.BORDRO_QTD_TIT = B.OPEBLT_NUM_TITULOS 

				WHERE	CONVERT(INT,COMERCIAL_PRODUCAO.CODCLI) = BORD.cednte_cedn 
					and CONVERT(INT,COMERCIAL_PRODUCAO.NUM_OPE) =  BORD.BORDRO_NUM
				
					and COMERCIAL_PRODUCAO.DT_BASE= BORD.boRDRO_dat_MOVatu
					 )
WHERE	PRODUTO='D' AND DT_FECHA = @DTREF  
--		AND COMERCIAL_PRODUCAO.CODPROD  = 11		  -- DESCONTO
		AND COMERCIAL_PRODUCAO.CODPROD  IN (1,10, 11)	  -- DESCONTO  *********** ALTERADO 8/7/16

-- REMOVI 5/4/17		DESCONTO DO NETFACTOR ---------
-- AJUSTA VALORES DESCONTO COM BASE NOS TITULOS CONTIDOS NUM BORDERO
-- SELECT * FROM COMERCIAL_PRODUCAO WHERE DT_FECHA='20140630' AND PRODUTO='D'
-- liberado  =pv-iofv-tarif-tac
-- DECLARE @DTREF DATETIME  SET @DTREF='20160630'  declare @DTINI datetime  SET @DTINI='20160601' declare @DTFIM datetime set @DTFIM='20160630' 
-- DECLARE @DTREF DATETIME  SET @DTREF='20150131' declare @DTINI datetime declare @DTFIM datetime set @DTINI='20150101' set @DTFIM='20150131' 
UPDATE		COMERCIAL_PRODUCAO
	SET		VLR_PRESENTE = TITULO.VP + TITULO.IOF,
			VLR_IOF		 = TITULO.IOF,
			VLR_LIBERADO = TITULO.VP  -VLR_TARIFA - VLR_TC
--			PRAZO		 = CASE WHEN VEICULO IN ('DUPLICATAS','CHEQUES') THEN TITULO.PZOM--+2.0
--								ELSE TITULO.PZO+1.0 END				
	FROM	(   SELECT	CEDNTE_CEDN, Bordro_Prod, BORDRO_NUM , SUM( titlo_vlr_moe_datEnt ) AS VP,
						SUM( titlo_vlr_iof_qtdMda ) AS IOF ,
-- VP MEDIA PONDERADA
-- antes media simples
--						SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_emiss,TITLO_DAT_VENC)))/CONVERT(FLOAT,COUNT(TITLO_DAT_emiss))  AS PZO

-- prazo=	media ponderada pelo vlr tit
--			titlo_vlr_moe_tit
-- prazo=prazo cheq+ 2d compens
--						SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_emiss,TITLO_DAT_VENC))* titlo_vlr_moe_tit)/
--							SUM(titlo_vlr_moe_tit)  AS PZO

						-- tratar se 0  -- media ponderada do PRAZO
						-- vp=titlo_vlr_moe_datent				vf=titlo_vlr_moe_tit
						case when ISNULL(COUNT(TITLO_DAT_ENTR),0) = 0 then 0.0
							 else
		-- COM A COMPENSACAO +2 , VCTO CAI EM DIA DA SEMANA
								SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_ENTR,DATEADD(DD,+2,TITLO_DAT_venc) ))*titlo_vlr_moe_tit)/
									SUM(titlo_vlr_moe_tit) 

							 end	 AS PZOM ,
						-- tratar se 0, p/ nao resultar em Erro DIV0
						case when ISNULL(COUNT(TITLO_DAT_emiss),0) = 0 then 0.0
							 else
								SUM(CONVERT(FLOAT,DATEDIFF(DD,TITLO_DAT_ENTR,TITLO_DAT_VENC))*titlo_vlr_moe_tit)/
									SUM(titlo_vlr_moe_tit) 
							 end	 AS PZO

						-- prazo de cada titulo : TITLO_DAT_VENC	-	TITLO_DAT_emiss
				FROM		FinSGRDBS..tb_TITLO O (NOLOCK) 
				WHERE		--TITLO_DAT_ENTR BETWEEN dateadd(m,-1,@DTINI) AND @DTFIM   -- alterado 13/5/16 pq nao entrou Titulo de Mar em Bordero d 1/Abr
							TITLO_DAT_ENTR BETWEEN @DTINI AND @DTFIM   -- alterado 08/7/16 p/ ajustar IOF a maior
							--BETWEEN '20140601' AND '20140630' 
						AND CtlCART_COD =11 
				GROUP BY	CEDNTE_CEDN, Bordro_Prod, BORDRO_NUM ) AS TITULO 
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  = 'D'
		--AND CODPROD  = 11  -- DESCONTO
		AND CONVERT(INT,CODCLI)   = TITULO.CEDNTE_CEDN
		AND CONVERT(INT,NUM_OPE)  = TITULO.BORDRO_NUM
--		AND CODCLI   = TITULO.CEDNTE_CEDN		AND NUM_OPE  = TITULO.BORDRO_NUM  -- ****** ALTERADO 8/7/16
		AND CODPROD = TITULO.Bordro_Prod  -- INCLUIDO 8/7/16 PQ DIFERE IOF , SIG A MAIOR. CHAVE ALTERADO: PRODUTO
-- VOLTA O CODPROD   **************
UPDATE		COMERCIAL_PRODUCAO
	SET		CODPROD  = 11  -- DESCONTO 
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  = 'D'

SP_HELP COMERCIAL_PRODUCAO
DT_FECHA
PRODUTO
NUM_OPE
DT_BASE
VLR_OP
VLR_PARC
VLR_PRESENTE
VLR_RECEITA
VLR_FUTURO
VLR_LIBERADO
VLR_TC
VLR_TARIFA
VLR_IOF
VLR_FIPE
SCORE
PRAZO
PLANO
TAXA
RETORNO
TAXA_SEM_RET
ATRASO
dtVencParc
DT_PAGTO
RENEGOCIADO
RATING
CODCLI
CODPROD
CODMODA
AGENTE
VEICULO
CODOPER
CODLOJA
ANO_MODELO
TX_X_VLR
PRZ_X_VLR
BORDERO
FX_ANO
FX_PLANO
NVL_RISCO
PLANO_X_VLR
TAXA_AA
TX_AA_X_VLR
*/
	INSERT	COMERCIAL_PRODUCAO
	select	@DTREF  , 'D',
			--NUM_OPE	DT_BASE	VLR_OP	VLR_PARC	VLR_PRESENTE
			--    operacaoStruc.empCodigo as EMP,
         opeCodigo,opeData , opeTotalBruto, 0.0,opeTotalBruto - opeTotalDesagio,
		--	borCODIGO ,borDATA, borVALOR,0.0,0.0,
--       ingvalordeface  as VLR_OP, 0.0, INGLIQUIDO  AS VLR_PRESENTE,
--       INGDOCUMENTO  AS 'NUM TIT',       INGDATAOPE  AS 'DATA OPER',     

--	VLR_RECEITA,VLR_FUTURO,VLR_LIBERADO,VLR_TC,VLR_TARIFA,VLR_IOF,  ********
-- RECEITA, LIBERADO CALCULAR APOS opeTotalBruto-opTotalDesagio-   .  JUROS OpeTotalDesagio
	opeTotalDesagio,		OpeTotalBruto, 0.0	, 0.0	 ,	opeTotalTarifaCobranca,	opeTotalIOF	,
-- opeTotalLiquido NOK, faltam valores, calcular

--	VLR_FIPE,SCORE,
	0.0,'',

--	PRAZO,PLANO,TAXA,RETORNO,TAXA_SEM_RET,
--	opePrazoMedioDMaisFaixaDesagio ou opePrazoMedioDMais ++ ou  opePrazoMedio
	opePrazoMedioDMais,opePrazoMedioDMais/30.0,opeDesagioFator ,0.0,opeFatorEfetivo,

--ATRASO,dtVencParc,DT_PAGTO,RENEGOCIADO,RATING,
	0,'', '', 0,'',		--	INGDATALIQUIDACAO    IDGCODIGO

	--  CODCLI,CODPROD,CODMODA,AGENTE,VEICULO,  
	--       operacaoStruc.cedCodigo as CED, operacaoStruc.agecodigo, nfPessoa.pesnome as 'NOME CEDENTE',  INGDATALIQUIDACAO AS 'DATA LIQ',INGDESAGIO AS 'DESAGIO', agentepessoa.pesNome as 'AGENTE'
	cedCodigo,empCodigo,	CASE WHEN empCodigo=2 THEN 2 ELSE idgCodigo END , agecodigo, '',

	--  CODOPER,CODLOJA,ANO_MODELO,TX_X_VLR,PRZ_X_VLR,BORDERO
	0,0,'',opeTotalBruto*opeDesagioFator,  opeTotalBruto*opePrazoMedioDMais ,'',

	--	FX_ANO,FX_PLANO,NVL_RISCO,	PLANO_X_VLR,TAXA_AA,TX_AA_X_VLR
	'','','',	opePrazoMedioDMais*opeTotalBruto ,opeDesagioFator,opeDesagioFator*opeTotalBruto
		,0.0, 0.0			--   TX_CET ,	TX_CET_X_VLR			-- INCLUIDO 6/9/17 ***
 
--	SELECT * 
FROM	NETFACTOR..nfOperacao  (NOLOCK) 
WHERE	opeStatus IN ( 61, 71 )				-- EFETIVADAS
	AND opeData BETWEEN  @DTINI AND @DTFIM 
	AND (opeCodigoCobranca IS NULL OR opeCodigoCobranca = 0) 
	AND	EMPCODIGO IN ( 1,2) -- SANTANA SEM FIDC , FIDIC EMPRESA 2
	AND CONVERT(FLOAT,IDGCODIGO) IN (SELECT		CONVERT(FLOAT,COD_MODA) 
										FROM	TModa_tipo_prod	(NOLOCK)	WHERE COD_PROD='D' )

/*
SELECT * FROM TModa_tipo_prod	(NOLOCK)	WHERE COD_PROD='D' 

SELECT * FROM Ttipo_prod	(NOLOCK)	WHERE COD_PROD='D' 

cod_prod	cod_modalidade	descr_tipo	SIGLA
D	100101	FIDC	F

Ttipo_prod		TPRODUTO (NOLOCK)

-- AJUSTE MODALIDADE 2 P/ FIDIC 
SELECT * FROM TModa_tipo_prod	(NOLOCK)	WHERE COD_PROD='D' AND COD_MODALIDADE =101 AND COD_MODA=2

UPDATE TModa_tipo_prod	SET COD_MODA=20	WHERE COD_PROD='D' AND COD_MODALIDADE =101 AND COD_MODA=2

SELECT * FROM TModa_tipo_prod	(NOLOCK)	WHERE COD_PROD='D' AND COD_MODALIDADE =100101 AND COD_MODA=100101

UPDATE TModa_tipo_prod	SET COD_MODA=2	WHERE COD_PROD='D' AND COD_MODALIDADE =100101 AND COD_MODA=100101


*/

	--	AJUSTE DO IOF
	--	declare @DTREF datetime set @DTREF='20170131'
	UPDATE	COMERCIAL_PRODUCAO
		SET	VLR_IOF = VLR_IOF + OdeValor
	FROM	NETFACTOR..nfOperacaoDebito (NOLOCK)  
	WHERE	DT_FECHA	= @DTREF		-- CHAVES
		AND	PRODUTO		= 'D'
		AND	convert(float,EmpCodigo)= convert(float,COMERCIAL_PRODUCAO.CODPROD)
		AND convert(FLOAT,OpeCodigo)= convert(FLOAT,COMERCIAL_PRODUCAO.NUM_OPE)
		AND convert(FLOAT,cedCodigo)= convert(FLOAT,COMERCIAL_PRODUCAO.CODCLI)
		AND	TdCodigo = 12				-- IOF ADICIONAL

	--	AJUSTE DA	TAC OU TC
	--	declare @DTREF datetime set @DTREF='20170131'
	UPDATE	COMERCIAL_PRODUCAO
		SET	VLR_TC = VLR_TC + DEB.V
	FROM	(SELECT		EmpCodigo,OpeCodigo,cedCodigo, SUM(odeValor) AS V 
				FROM	NETFACTOR..nfOperacaoDebito (NOLOCK)  
				WHERE	OpeCodigo IN (SELECT DISTINCT NUM_OPE FROM COMERCIAL_PRODUCAO C1 (NOLOCK)
										WHERE	DT_FECHA	= @DTREF		-- CHAVES
											AND	PRODUTO		= 'D'	)
					AND	TdCodigo IN ( 0, 4 ) 		-- TC 4 + TED 0
				GROUP BY EmpCodigo,OpeCodigo,cedCodigo ) AS DEB			
	WHERE	DT_FECHA	= @DTREF						-- CHAVES
		AND	PRODUTO		= 'D'
		AND	DEB.EmpCodigo= COMERCIAL_PRODUCAO.CODPROD 
		AND DEB.OpeCodigo= COMERCIAL_PRODUCAO.NUM_OPE
		AND DEB.cedCodigo= COMERCIAL_PRODUCAO.CODCLI


	--	AJUSTE DOS CAMPOS CALCULADOS
	UPDATE	COMERCIAL_PRODUCAO
		SET	VLR_LIBERADO = VLR_PRESENTE - VLR_IOF  -VLR_TARIFA - VLR_TC
-- VLR_RECEITA = JUROS ,VLR_FUTURO,VLR_LIBERADO,VLR_TC,VLR_TARIFA,VLR_IOF,  ********
-- RECEITA, LIBERADO CALCULAR APOS opeTotalBruto-opTotalDesagio-   .  JUROS OpeTotalDesagioVLR_IOF = VLR_IOF + OdeValor
	WHERE	DT_FECHA	= @DTREF		-- CHAVES
		AND	PRODUTO		= 'D'

	-- TX AA		ALTERADO CORRECAO EM 9/6/17		*****************
	UPDATE		COMERCIAL_PRODUCAO
--		SET		TAXA_AA =( (POWER(((TAXA_SEM_RET/100.00000000)+1.00000000),(12.00000000))-1.00000000)*100.00000000) 
		SET		TAXA_AA =( (POWER(((TAXA/100.000)+1.000),(12.000))-1.000)*100.000) 
		WHERE	DT_FECHA = @DTREF
			AND	PRODUTO  = 'D'
	--		AND CODPROD  = 11  -- DESCONTO 
	--		AND CODPROD  IN (1,10) -- = 11  -- DESCONTO  *************** ALTERADO 8/7/16
	-- TX AA		ALTERADO CORRECAO EM 6/6/17		*****************
	UPDATE		COMERCIAL_PRODUCAO
		SET		TX_AA_X_VLR = TAXA_AA * VLR_PRESENTE 
		WHERE	DT_FECHA = @DTREF
			AND	PRODUTO  = 'D'



	-- AJUSTE DE FIDIC
--SELECT * FROM COMERCIAL_PRODUCAO (NOLOCK) WHERE DT_FECHA='20170131' AND PRODUTO='D' AND VLR_OP>0.0 and codProd=2
	--	declare @DTREF datetime set @DTREF='20170131'
	UPDATE		COMERCIAL_PRODUCAO
		SET		CODMODA = '2'	--	MODALIDADE FIDC empresa=2 sem GARANTIA OU ADIANTA
		WHERE	COMERCIAL_PRODUCAO.DT_FECHA = @DTREF
			AND	COMERCIAL_PRODUCAO.PRODUTO  = 'D'	-- desconto
			AND COMERCIAL_PRODUCAO.codProd	=  2	-- PRODUTO

	-- DESCRICAO DO PRODUTO
	--	declare @DTREF datetime set @DTREF='20170131'
	UPDATE		COMERCIAL_PRODUCAO
		SET		VEICULO = T.DESCR_TIPO
		FROM	Ttipo_prod T (NOLOCK) ,
				TModa_tipo_prod M (NOLOCK) 
		WHERE	COMERCIAL_PRODUCAO.DT_FECHA = @DTREF
			AND	COMERCIAL_PRODUCAO.PRODUTO  = 'D'	-- desconto
			AND T.COD_PROD = COMERCIAL_PRODUCAO.PRODUTO	  -- PRODUTO
			AND T.COD_PROD = M.COD_PROD
			AND convert(float,COMERCIAL_PRODUCAO.CODMODA)   = convert(float,M.COD_MODA)  -- BAIXO NIVEL MODALIDADE DA OPERACAO
			AND T.COD_MODALIDADE				= M.COD_MODALIDADE		  -- TIPO DA OPERACAO	



/*
SELECT * FROM	NETFACTOR..nfUsuarioAgente  (NOLOCK)
SELECT * FROM	NETFACTOR..netAgenteDesconto  (NOLOCK)

SELECT * FROM	NETFACTOR..nfOperacao  (NOLOCK) WHERE	OPECODIGO =60001

SELECT * FROM	NETFACTOR..nfOperacao  (NOLOCK) WHERE	CEDCODIGO=105
	opeCodigo	empCodigo	idgCodigo	VLR BRTO
	1000006		1	010201				6.800,20		Cheques
	opeCodigo	empCodigo	idgCodigo	cedCodigo	opeData
	1000007		1	010101  	105	2017-01-04 00:00:00.000		13.507,00  Duplicatas

	1 SANTANA 2 FIDIC

SELECT * FROM NETFACTOR..NetOperacaoAgrupamento (NOLOCK) 
SELECT DISTINCT idgCodigo FROM NETFACTOR..nfOperacao (NOLOCK) 
010101  Duplicatas
010125  
010201  Cheques
010301  
010601  
020101  
100101  

SELECT * FROM NETFACTOR..nfOperacao (NOLOCK)  WHERE cedCodigo=97

ID	opeCodigo	empCodigo	idgCodigo	cedCodigo	opeData	opeDesagioFator	opeDesagioFormula	opeTarifaCobrancaValor	opeAdValoremTaxa	opeDMaisDias	opeTotalBruto	opeTotalDesagio	opeTotalTarifaCobranca	opeTotalAdValorem	opeTotalIOF	opeTotalCPMF	opeTotalISSQN	opeTotalLiquido	opePrazoMedio	opePrazoMedioDMais	opeTotalCPMFRecolhe	opeTotalIOFRecolhe	opeTotalISSQNRecolhe	opeTotalCOFINSRecolhe	opeTotalPISRecolhe	opeTotalIRRFRecolhe	opeNumTitulos	opeStatus	opeUsuarioDigita	opeUsuarioLibera	opeUsuarioPaga	opeTotalReembolso	opeTotalPendencia	cccCodigo	opeValorBaseIof	opeValorBaseIss	opeValorBasePis	opeValorBaseCofins	ageCodigo	opePercentualComissao	opeTotalComissao	filFiltro	opeCobrancaFormaDebito	opeTotalCofins	opeTotalIRRF	opeTotalCSLLRetem	opeTotalCOFINSRetem	opeTotalPISRetem	opeTotalCSLLRetidoRecolhe	opeTotalCOFINSRetidoRecolhe	opeTotalPISRetidoRecolhe	opeTransferencia	opeUsuarioEfetuouPgt	opeContemErroCed	opeMsgErroCed	opeAutorizada	opeAutorizadorCedObs	opeAutorizadorUsuario	opeObservacaoCed	opeObservacaoUsuario	opeCedAutorizado	opeFatorEfetivo	opeNumeroAditivo	opeTotaltaxaServico	opeTaxaServicoFator	nofNumero	opeCotacaoDolar	opeTotalISSQNRetem	opeUsuarioDigitaHora	opeUsuarioLiberaHora	opeUsuarioPagaHora	opeUsuarioEfetuaPagtoHora	nofValorNota	opeSimulacao	opeNumeroPromissoria	opeJaGerouPendEfetivacao	opeAutorizacaoAlcada	opeAutorizacaoAlcadaPrazoExcedido	opeRPS	opeRPSData	opeRPSSituacao	nofNFeCodVerificacao	nofNFeSituacao	opeDataNFE	opeRPSRetorno	opeEmpCodigoServico	opeDataEfetivacao	opeUsuarioDigitaData	opeUsuarioLiberaData	opeUsuarioEfetuaPagtoData	opeqtdGarantia	opeValorTotalGarantia	opeUsaTaxaAdicionalDesagio	opeTaxaAdicionalDesagio	opeTaxaAdicional	opeTotalGarantRecebiveis	opeValorTotalGarantBens	opeTipoTaxaEmprestimo	opeTaxaEmprestimo	opeValorFinalTaxa	opeNumParcelas	opeValorParcelar	opeTratamentoTaxa	opeMensagem	opeMensagemExtraLimite	opeAlteracaoPosEfetivacao	opeDataAlterouEfetivada	opeTotalIssqnComDebito	opeTotalIrrfComDebito	opeTipoPrazo	opeTipoPrazoDias	opeQtdCarencia	opeAutorizacaoAlcadaPrazoMedioMaximoOperacao	opeAutorizacaoAlcadaFatorMinimoOperacao	opeAutorizacaoAlcadaConsisteConcentracaoMaximaCedenteCarteira	opeAutorizacaoAlcadaConcentracaoSacadoSaldoDevedorCedente	opeAutorizacaoAlcadaCedenteBloqueado	opeAutorizacaoAlcadaPrazoMaximoDocumentoPendenteOperacao	opeAutorizacaoAlcadaPrazoMaximoDocumentoPendenteIngresso	opeAutorizacaoAlcadaValorBrutoMaximoBrutoOperacao	opePorcentagemIndice	opeCcbValorAtual	opeCcbValorPago	opePorcentagemGarantiaRequerida	opeBaseComissao	opeLimiteAdicional	opeUsuLoginLimiteAdicional	opeUnificaIDs	opeUnificaTotTitulos	opeUnificaTotGarantias	opeCustoCapitacao	opeBaseComissionamento	moeda_id	moeCotCotacao	moeCotData	opeFaturaMoeda	opeFaturaReais	opeTotalMoeda	opeSaldoDevedorAtualizadoNaDataVencimento	opeSaldoDevedorAtualizado	opeCcbValorAtualComissao	opeCCbValorAtualTxAdcio	opeDuplicada	opeCodigoDuplicada	opeTotalCOFINSSub	opeTotalPIS	opeUsuarioSemRestricao	opeDesagioFatorOrig	opeTotalDesagioOrig	opeTarifaCobrancaValorOrig	opeTotalTarifaCobrancaOrig	opeTotalAdValoremOrig	opeTotalIOFOrig	opeTotalCPMFOrig	opeTotalISSQNOrig	opeTotalCofinsOrig	opeTotalPISOrig	opeTotalIRRFOrig	opeTotalTaxaServicoOrig	opeTotalPendenciaOrig	opeIRRFSecuritizadora	opeIRRFAdicionalSecuritizadora	opePISSecuritizadora	opeCOFINSSecuritizadora	opeCSLLSecuritizadora	opeOrdemTitulo	opeRPSLote	opeMsgConsisteVencimento	opeBloqueadaVencimento	opeConsistiuVencimento	opeConsistiuVencimentoOk	opeMsgConsisteValor	opeBloqueadaValor	opeConsistiuValor	opeConsistiuValorOk	opeAutorizacaoGeral	opePrecisaCalculoAutomatico	opePercentualDinheiro	opeReembolsoAuto	opeReciboPendenciaAuto	opeAutorizacaoAlcadaPoliticaDocumento	opeAutorizacaoAlcadaPoliticaDocumentData	sop_id	opeAnalizada	sopRetorno	opeAutorizadaCoaf	opeUsuarioAutorizouCoaf	opeSolicitaReembolsoConsultoria	opeNaturezaBacen	opeOrigemBacen	opeArquivoPalistaGerado	passouPelaTelaTitulos	isCopia	opeRecalculoAposRejeitados	opePrecisaRecalculo	opeTipoContrato	tdCodigoExcluido	opeUsuarioAcessando	opeRejeitada	opeAlterouDmaisZero	opeDesagioFatorSacTaxa	opeNfeDuplicada	opeNfeDuplicadaDescricao	opeNfeDuplicataLiberacaoMensagem	opeNfeDuplicadaLiberacaoUsuario	opeComFloat	opePrazoMedioDMaisFaixaDesagio	opeDiasPrazoAposEfetivacao	opeAgrupada	opeTransmissaoNum	opeTransmissaoData	opeTransmissaoPrazo	opeAutorizacaoAlcadaPercExcedido	opeCodigoCobrancaOriginal	opeIOFFomentoAProducao	opeCodigoCobranca	opeSolicitacaoAncora	opeHora	opeArquivoFidcJaGerado	opePagaPaulista	SaldoOpeTransmissao	GerouAditivoOpeTransmissao	opeTarifaCobrancaValorDiferenciada
279	1000103	1	010101  	97	2017-01-20 00:00:00.000	3.4000	S                   	6.6000	0.0000	1	87381.76	5427.7500	26.40	0.00	178.94	0.00	0.00	79731.22	53.26	54.81	0.00	NULL	0.00	0.00	0.00	0.00	4	71	97	FINANCEIRO	FINANCEIRO	NULL	NULL	341	81954.01	0.00	0.00	0.00	3	0.00	0.00			NULL	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0	CINTIA	0		N	NULL	NULL	NULL	NULL	1	3.5700	1000103	0.00	0.00	NULL	0.00	0.00	1900-01-01 10:46:59.393	1900-01-01 13:31:54.927	1900-01-01 13:32:03.257	1900-01-01 11:53:30.980	NULL	0	0	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	1	2017-01-20 00:00:00.000	2017-01-20 00:00:00.000	2017-01-20 00:00:00.000	2017-01-20 00:00:00.000	NULL	NULL	0	0.00	0.0000	NULL	NULL	0	0.0000	0.0000	0	0.00			NULL	0	1969-12-31 00:00:00.000	0.0000	0.0000		0	0	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	0.0000	NULL	NULL	0.00	87381.76	NULL	NULL	NULL	NULL	NULL	NULL	NULL	0	0.00	1969-12-31 00:00:00.000	0.00	0.00	87381.76	NULL	NULL	NULL	NULL	NULL	NULL	0.00	0.00	0	0.0000	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL	NULL		NULL		0	0	0		0	0	0	0	0	0	1	1	NULL	NULL	4	1	1	NULL	NULL	NULL			NULL	1	NULL	0	0		,		NULL	1	3.40	0		NULL	NULL	0	54.81	0	NULL	0	1969-12-31 00:00:00.000	0	NULL	NULL	NULL	NULL	0	1900-01-01 10:46:42.000	NULL	NULL	NULL	NULL	NULL


SELECT * FROM NETFACTOR..nfOperacao (NOLOCK)  WHERE idgCodigo=010125


SELECT * FROM NETFACTOR..netParametroDocumentoTitulo (NOLOCK)
select * from  NETFACTOR..nfTipoCredito (NOLOCK)
select * from  NETFACTOR..nfTipoPapel (NOLOCK)
select * from  NETFACTOR..obGrupo (NOLOCK) DE USUARIO
select * from  NETFACTOR..nfEtiqueta (NOLOCK) 
select * from  NETFACTOR..netPocGrupo (NOLOCK) 
select * from  NETFACTOR..netPocModalidade (NOLOCK) 
select * from  NETFACTOR..netSetorOperacional (NOLOCK) 
select * from  NETFACTOR..nfClassificacao (NOLOCK) 
select * from  NETFACTOR..nfFiltro (NOLOCK) 
select * from  NETFACTOR..nfNomenclatura (NOLOCK) 
select * from  NETFACTOR..nfOperacaoTitulo (NOLOCK) 
select * from  NETFACTOR..nfParametro (NOLOCK) 
select * from  NETFACTOR..nfParametroOperacao (NOLOCK)   -- CODIGOS

select * from  NETFACTOR..nfOperacaoDebito (NOLOCK)  where empcodigo=1 and opecodigo=21
 and odecodigo=280
select * from  COMERCIAL_PRODUCAO (NOLOCK)  where codprod=1 and num_ope=21


opeCodigo	empCodigo	cedCodigo	tdCodigo	odeCodigo	odeValor	odeDescricao	isPercLancamento	odeAutomatico	odeRetencaoCedente	opeCodigoOrig	odeAutomaticoCedente	odePgtTarifa
21	1	52	0	280	5.00		NULL	0	0	NULL	0	NULL	****** TED soma na TC
21	1	52	4	281	47.45		NULL	0	0	NULL	0	NULL	******** TC	 
21	1	52	12	282	13.71		NULL	1	0	NULL	0	NULL	******** IOF ADIC SOMA NO IOF


declare @DTREF datetime set @DTREF='20170131'
	UPDATE	COMERCIAL_PRODUCAO
		SET	VLR_IOF = VLR_IOF + OdeValor
SELECT * 
	FROM	COMERCIAL_PRODUCAO (NOLOCK), NETFACTOR..nfOperacaoDebito (NOLOCK)  
	WHERE	DT_FECHA	= '20170131'		-- CHAVES
		AND	PRODUTO		= 'D'
		AND	EmpCodigo= convert(int,COMERCIAL_PRODUCAO.CODPROD)
		AND OpeCodigo= convert(int,COMERCIAL_PRODUCAO.NUM_OPE)
		AND cedCodigo= convert(int,COMERCIAL_PRODUCAO.CODCLI)
		AND	odeCodigo = 282			
use NETFACTOR

sp_help nfOperacaoDebito
-- VLR_LIBERADO =VLR_FUTURO - juros
-- Select * from NETFACTOR..nfBordero (nolock)	 WHERE BORDATA BETWEEN '20170101' AND '20170131'


-- NFBORDERO A PARTIR DE 5/2 E POUCOS 
FROM	NETFACTOR..nfBordero (nolock)	
WHERE		BorDATA BETWEEN @DTINI AND @DTFIM 
		AND BorEFETIVADO =1

2/1/17
52	PAGINA BRASIL
SELECT * FROM NETFACTOR..nfCedente (NOLOCK) WHERE CEDCODIGO=52

SELECT * FROM  NETFACTOR..nfPessoa  (NOLOCK) 
	WHERE pesCNPJCPF IN ('20336658000186','18309421000164')

20336658000186 COD EMPR 1  PAGINA BRASIL
18309421000164			2
 ON nfCedente.cedCodigo = operacaoStruc.cedCodigo AND nfCedente.empCodigo = operacaoStruc.empCodigo

-- testes Ok
SELECT * FROM NETFACTOR..nfOperacao  (NOLOCK) WHERE 	EMPCODIGO=1 AND CEDCODIGO=52

SELECT * FROM NETFACTOR..nfOperacao  (NOLOCK) WHERE		 opeStatus in ( 61, 71 )
and opedata between '2017-01-01' and '2017-01-31'
AND (opeCodigoCobranca IS NULL OR opeCodigoCobranca = 0) 
-- pagtos
select * from NETFACTOR..nfIngressos (NOLOCK)   where empCodigo=1 and cedCodigo=52
 and opecodigo=21

-- parametros de codigos de operacao
select * from  NETFACTOR..nfIdentificadorGlobal (NOLOCK)   
where empCodigo=1 and cedCodigo=52

-- santana e fdic
select * from NETFACTOR..nfEmpresa (NOLOCK) 

-- dados do cedente
select * from  NETFACTOR..nfPessoa (NOLOCK) 

-- tx juros = desagio do cliente/cedente
select * from  NETFACTOR..nfCedenteParametroOperacao  (NOLOCK)  where empCodigo=1 and cedCodigo=52

select * from  NETFACTOR..nfFocoNegocio  (NOLOCK)  
NETFACTOR..nfFocoNegocio 

-- saldo devedor cedente
select * from  NETFACTOR..nfCedente (NOLOCK) 
  NETFACTOR..nfCedente

NETFACTOR..nfOperacao operacaoStruc (NOLOCK) 
INNER JOIN  NETFACTOR..nfIngressos  on nfIngressos.opecodigo =  operacaoStruc.opecodigo
INNER JOIN  NETFACTOR..nfEmpresa ON nfEmpresa.empCodigo = operacaoStruc.empCodigo
INNER JOIN  NETFACTOR..nfCedente ON nfCedente.cedCodigo = operacaoStruc.cedCodigo AND nfCedente.empCodigo = operacaoStruc.empCodigo
INNER JOIN  NETFACTOR..nfPessoa  ON nfPessoa.pesCNPJCPF = nfCedente.pesCNPJCPF
-- LEFT JOIN nfagente ON operacaoStruc.agecodigo = nfagente.agecodigo and nfagente.empcodigo = operacaoStruc.empcodigo
-- LEFT JOIN  nfPessoa as agentepessoa  ON agentepessoa.pesCNPJCPF = nfAgente.pesCNPJCPF
INNER JOIN NETFACTOR..nfIdentificadorGlobal ON operacaoStruc.idgCodigo = nfIdentificadorGlobal.idgCodigo
LEFT JOIN NETFACTOR..nfCedenteParametroOperacao ON nfCedenteParametroOperacao.cedCodigo = nfCedente.cedCodigo AND nfCedenteParametroOperacao.empCodigo = nfCedente.empCodigo AND nfCedenteParametroOperacao.cpoDataFimVigencia IS NULL
INNER JOIN NETFACTOR..nfFocoNegocio ON nfFocoNegocio.fneCodigo = nfIdentificadorGlobal.fneCodigo 
WHERE 1 = 1 AND operacaoStruc.opeStatus in ( 61, 71 )
and operacaoStruc.opedata between '2017-01-01' and '2017-03-31'
AND (operacaoStruc.opeCodigoCobranca IS NULL OR operacaoStruc.opeCodigoCobranca = 0) 

select * from  NETFACTOR..nfRelatorioDemonstrativoOperacaoLayout (NOLOCK) 

select * from  NETFACTOR..nfParametroImposto (NOLOCK) 
IOF 0.00410


select * from  NETFACTOR..nfParametroOperacao (NOLOCK) 
select * from  NETFACTOR..nfParametroControleDocumento (NOLOCK) 
select * from  NETFACTOR..nfParametroContratosVariaveis (NOLOCK) 
select * from  NETFACTOR..nfParametro (NOLOCK) 
select * from  NETFACTOR..nfOperacaoAnaliseArmazenada (NOLOCK)  where opecodigo=21

use NETFACTOR	
sp_help nfOperacaoAnaliseArmazenada

campo armPosicaoCarteira_xml
<?xml version="1.0" standalone="yes"?><relatorio>     <sistema>NetFactor - 16.06</sistema>     <emissao>02/01/2017 - 15:58:41</emissao>     <cedentes>          <cedente>               <cedcnpj>20.336.658/0001-86</cedcnpj>               <cedfone>11-2522-6973</cedfone>               <cedramo></cedramo>               <cednome>52 - Pagina Brasil Ind e Com de Art. de papel</cednome>               <empsigla>SAN - Santana SA Credito Financiamento e Investimento</empsigla>               <ceddatainclusao>07/12/2016</ceddatainclusao>               <cedsaldodevedor>7.165,84</cedsaldodevedor>               <cedrecompra>0,00</cedrecompra>               <cedsaldoatraso>0,00</cedsaldoatraso>               <cedsaldopendenciapositiva>0,00</cedsaldopendenciapositiva>               <cedsaldopendencianegativa>0,00</cedsaldopendencianegativa>               <cedsaldototal>7.165,84</cedsaldototal>               <cedpercentualatraso>0,00</cedpercentualatraso>               <cedpercentualtotal>29,65</cedpercentualtotal>               <cedlimitevalor>60.000,00</cedlimitevalor>               <cedlimitedisponivel>52.834,16</cedlimitedisponivel>               <cedlimitedata>31/12/2017</cedlimitedata>               <cedlimitedataanterior>31/12/2017</cedlimitedataanterior>               <cedlimitetranche>0,00</cedlimitetranche>               <cedtotaloperado>7.165,84</cedtotaloperado>               <cedtotaloperadoperiodo>7.165,84</cedtotaloperadoperiodo>               <cedtotalliquidadoperiodo>0,00</cedtotalliquidadoperiodo>               <cedfatordesagio>3,1000</cedfatordesagio>               <liquidezmensagem>N&#195;O CONSTAM INFORMA&#199;&#213;ES</liquidezmensagem>               <operado>                    <tipopapel>Cheque</tipopapel>                    <minimo>3.490,00</minimo>                    <media>3.490,00</media>                    <maximo>3.490,00</maximo>               </operado>               <operado>                    <tipopapel>Duplicata</tipopapel>                    <minimo>3.675,84</minimo>                    <media>3.675,84</media>                    <maximo>3.675,84</maximo>               </operado>               <opecodigo>21</opecodigo>               <opedata>02/01/2017</opedata>               <opedesagio>3,10%</opedesagio>               <opeadvalorem>0,00%</opeadvalorem>               <opedmais>1</opedmais>               <opeTarifaCobrancaValor>6,60</opeTarifaCobrancaValor>               <opetotalbruto>3.675,84</opetotalbruto>               <debito>                    <descricao>Tarifa de TED</descricao>                    <valor>5,00</valor>               </debito>               <debito>                    
<descricao>TC</descricao>                    <valor>47,45</valor>               </debito>               <aberto>                    <idg>010101   Aquisi&#231;&#227;o-Duplicata-Operado             </idg>                    <valor>3.675,84</valor>               </aberto>               <aberto>                    <idg>010201   Aquisi&#231;&#227;o-Cheque-Operado             </idg>                    <valor>3.490,00</valor>               </aberto>               <documento>                    <documento>ACEITE</documento>                    <porcentagem>100,00</porcentagem>                    <valor>7.165,84</valor>               </documento>               <documento>                    <documento>CANHOTO</documento>                    <porcentagem>100,00</porcentagem>                    <valor>7.165,84</valor>               </documento>               <documento></documento>               <documento>                    <documento>DOCUMENTO FISICO</documento>                    <porcentagem>100,00</porcentagem>                    <valor>7.165,84</valor>               </documento>               <documento>                    <documento>ENTREGA MERCADORIA</documento>                    <porcentagem>100,00</porcentagem>                    <valor>7.165,84</valor>               </documento>               <documento>                    <documento>EXPEDI&#199;&#195;O MERCADORIA</documento>                    <porcentagem>100,00</porcentagem>                    <valor>7.165,84</valor>               </documento>               <documento>                    <documento>NOTA FISCAL</documento>                    <porcentagem>51,30</porcentagem>                    <valor>3.675,84</valor>               </documento>               <documento>                    <documento>Termo Aditivo</documento>                    <porcentagem>2</porcentagem>                    <valor>7.165,84</valor>               </documento>               <confirmadomensagem>N&#195;O CONSTAM INFORMA&#199;&#213;ES</confirmadomensagem>               <sacado>                    <nome>CKS COM DE MATS</nome>                    <porcentagem>51,30</porcentagem>                    <valor>3.675,84</valor>               </sacado>               <sacado>                    <nome>PAPELARIA E BAZAR POL</nome>                    <porcentagem>48,70</porcentagem>                    <valor>3.490,00</valor>               </sacado>               <atrasado>0,00</atrasado>               <zero>0,00</zero>               <oito>0,00</oito>               <dezesseis>7.165,84</dezesseis>               <maistrinta>0,00</maistrinta>               <observacaomensagem>N&#195;O CONSTAM INFORMA&#199;&#213;ES</observacaomensagem>               <imprimirsaldodevedor>true</imprimirsaldodevedor>               <evolucoes>                    <evolucao></evolucao>               </evolucoes>               <evolucaomensagem>N&#195;O CONSTAM INFORMA&#199;&#213;ES</evolucaomensagem>               <imprimirbloqueiocedente>true</imprimirbloqueiocedente>               <bloqueiomensagem>N&#195;O CONSTAM INFORMA&#199;&#213;ES</bloqueiomensagem>               <imprimiringressoaberto>true</imprimiringressoaberto>               <ingressos>                    <totalvalor>0,00</totalvalor>                    <totalajuste>0,00</totalajuste>                    <totaldesconto>0,00</totaldesconto>                    <totaltotal>0,00</totaltotal>                    <totalqtd>0</totalqtd>                    <totalvalorvencer>0,00</totalvalorvencer>                    <totalajustevencer>0,00</totalajustevencer>                    <totaldescontovencer>0,00</totaldescontovencer>                    <totaltotalvencer>0,00</totaltotalvencer>                    <totalqtdvencer>0</totalqtdvencer>                    <totalvalorvencido>0,00</totalvalorvencido>                    <totalajustevencido>0,00</totalajustevencido>                    <totaldescontovencido>0,00</totaldescontovencido>                    <totaltotalvencido>0,00</totaltotalvencido>                    <totalqtdvencido>0</totalqtdvencido>               </ingressos>               <ingressomensagem>N&#195;O CONSTAM INFORMA&#199;&#213;ES</ingressomensagem>               <imprimirperfiloperacao>true</imprimirperfiloperacao>               <perfil>                    <mes>2016/Fevereiro</mes>                    <qtd>0</qtd>                    <valortotal>0,00</valortotal>                    <valormedio>0,00</valormedio>                    <qtdtitulos>0</qtdtitulos>                    <valormediotitulos>0,00</valormediotitulos>                    <prazomedio>0,00</prazomedio>                    <taxamedia>0,00</taxamedia>               </perfil>               <perfil>                    <mes>2016/Mar&#231;o</mes>                    <qtd>0</qtd>                    <valortotal>0,00</valortotal>                    <valormedio>0,00</valormedio>                    <qtdtitulos>0</qtdtitulos>                    <valormediotitulos>0,00</valormediotitulos>                    <prazomedio>0,00</prazomedio>                    <taxamedia>0,00</taxamedia>               </perfil>               <perfil>                    <mes>2016/Abril</mes>                    <qtd>0</qtd>                    <valortotal>0,00</valortotal>                    <valormedio>0,00</valormedio>                    <qtdtitulos>0</qtdtitulos>                    <valormediotitulos>0,00</valormediotitulos>                    <prazomedio>0,00</prazomedio>                    <taxamedia>0,00</taxamedia>               </perfil>               <perfil>                    <mes>2016/Maio</mes>                    <qtd>0</qtd>                    <valortotal>0,00</valortotal>                    <valormedio>0,00</valormedio>                    <qtdtitulos>0</qtdtitulos>                    <valormediotitulos>0,00</valormediotitulos>                    <prazomedio>0,00</prazomedio>                    <taxamedia>0,00</taxamedia>               </perfil>               <perfil>                    <mes>2016/Junho</mes>                    <qtd>0</qtd>                    <valortotal>0,00</valortotal>                    <valormedio>0,00</valormedio>                    <qtdtitulos>0</qtdtitulos>                    <valormediotitulos>0,00</valormediotitulos>                    <prazomedio>0,00</prazomedio>                    <taxamedia>0,00</taxamedia>               </perfil>               <perfil>                    <mes>2016/Julho</mes>                    <qtd>0</qtd>                    <valortotal>0,00</valortotal>                    <valormedio>0,00</valormedio>                    <qtdtitulos>0</qtdtitulos>                    <valormediotitulos>0,00</valormediotitulos>                    <prazomedio>0,00</prazomedio>                    <taxamedia>0,00</taxamedia>               </perfil>               <perfil>                    <mes>2016/Agosto</mes>                    <qtd>0</qtd>                    <valortotal>0,00</valortotal>                    <valormedio>0,00</valormedio>                    <qtdtitulos>0</qtdtitulos>                    <valormediotitulos>0,00</valormediotitulos>                    <prazomedio>0,00</prazomedio>                    <taxamedia>0,00</taxamedia>               </perfil>               <perfil>                    <mes>2016/Setembro</mes>                    <qtd>0</qtd>                    <valortotal>0,00</valortotal>                    <valormedio>0,00</valormedio>                    <qtdtitulos>0</qtdtitulos>                    <valormediotitulos>0,00</valormediotitulos>                    <prazomedio>0,00</prazomedio>                    <taxamedia>0,00</taxamedia>               </perfil>               <perfil>                    <mes>2016/Outubro</mes>                    <qtd>0</qtd>                    <valortotal>0,00</valortotal>                    <valormedio>0,00</valormedio>                    <qtdtitulos>0</qtdtitulos>                    <valormediotitulos>0,00</valormediotitulos>                    <prazomedio>0,00</prazomedio>                    <taxamedia>0,00</taxamedia>               </perfil>               <perfil>                    <mes>2016/Novembro</mes>                    <qtd>0</qtd>                    <valortotal>0,00</valortotal>                    <valormedio>0,00</valormedio>                    <qtdtitulos>0</qtdtitulos>                    <valormediotitulos>0,00</valormediotitulos>                    <prazomedio>0,00</prazomedio>                    <taxamedia>0,00</taxamedia>               </perfil>               <perfil>                    <mes>2016/Dezembro</mes>                    <qtd>0</qtd>                    <valortotal>0,00</valortotal>                    <valormedio>0,00</valormedio>                    <qtdtitulos>0</qtdtitulos>                    <valormediotitulos>0,00</valormediotitulos>                    <prazomedio>0,00</prazomedio>                    <taxamedia>0,00</taxamedia>               </perfil>               <perfil>                    <mes>2017/Janeiro</mes>                    <qtd>2</qtd>                    <valortotal>7.165,84</valortotal>                    <valormedio>3.582,92</valormedio>                    <qtdtitulos>2</qtdtitulos>                    <valormediotitulos>3.582,92</valormediotitulos>                    <prazomedio>21,00</prazomedio>                    <taxamedia>3,10</taxamedia>               </perfil>               <imprimirpendencia>true</imprimirpendencia>               <pendencias>                    <cedentecont>0</cedentecont>                    <cedentevalor>0,00</cedentevalor>                    <cedentevalorcorrigido>0,00</cedentevalorcorrigido>                    <sacadocont>0</sacadocont>                    <sacadovalor>0,00</sacadovalor>                    <sacadovalorcorrigido>0,00</sacadovalorcorrigido>                    <cont>0</cont>                    <valor>0,00</valor>                    <valorcorrigido>0,00</valorcorrigido>               </pendencias>               <pendenciamensagem>N&#195;O CONSTAM INFORMA&#199;&#213;ES</pendenciamensagem>               <imprimirconta>true</imprimirconta>               <conta>                    <cnpj>20.336.658/0001-86</cnpj>                    <nome>Pagina Brasil Ind e Com de Art. de papel</nome>                    <descricao>BRADESCO</descricao>                    <banco>237</banco>                    <agencia>6635</agencia>                    <conta>56553</conta>               </conta>               <quebra>false</quebra>               <quebra2>false</quebra2>          </cedente>     </cedentes></relatorio>

select * from  NETFACTOR..nfOperacaoAnaliseArmazenada (NOLOCK)  where opecodigo=21

-- vazio
select * from  NETFACTOR..nfOperacaoControleRecolhimentoImpostos (NOLOCK)  where opecodigo=21

-- debito de tc , ted,  iof adic
select * from  NETFACTOR..nfOperacaoDebito (NOLOCK)  where empcodigo=1 and opecodigo=21
opeCodigo	empCodigo	cedCodigo	tdCodigo	odeCodigo	odeValor	odeDescricao	isPercLancamento	odeAutomatico	odeRetencaoCedente	opeCodigoOrig	odeAutomaticoCedente	odePgtTarifa
21	1	52	0	280	5.00		NULL	0	0	NULL	0	NULL  ****** TED
21	1	52	4	281	47.45		NULL	0	0	NULL	0	NULL	******** TC	
21	1	52	12	282	13.71		NULL	1	0	NULL	0	NULL	******** IOF ADIC

-- VAZIO
select * from  NETFACTOR..nfConfigBoleto (NOLOCK)  

-- DESPESAS
select * from  NETFACTOR..nfDespesa (NOLOCK)    where empcodigo=1 and opecodigo=21

-- tac e tc

-- iof no ing
*/






-- CALCULO DO PRAZO COM TABELA AUXILIAR
/*

-- REMOVI EM 5/4/17		******************  DESCONTO NO NETFACTOR  2017
-- *********************************** TX DESCONTO
-- DECLARE @DTREF DATETIME  SET @DTREF='20150131'
-- DECLARE @DTREF DATETIME  SET @DTREF='20170207'
UPDATE		COMERCIAL_PRODUCAO
	SET		TAXA_SEM_RET = case when isnull(VLR_PRESENTE,0.0) =0.0 or isnull(PRAZO,0)=0 then 0.0
								else (POWER( POWER((VLR_FUTURO /VLR_PRESENTE),(1.0/PRAZO)) ,30.0)-1.0)*100.0 
								end,
			--TX_X_VLR     = TAXA_SEM_RET * VLR_PRESENTE,			
			PRZ_X_VLR    = PRAZO * VLR_PRESENTE, -- VLR_PRESENTE,
			RETORNO      = 0.0,
			VLR_RECEITA  = VLR_FUTURO - VLR_PRESENTE
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  = 'D'
		AND CODPROD  = 11  -- DESCONTO 
--		AND CODPROD  IN (1,10) -- = 11  -- DESCONTO  *************** ALTERADO 8/7/16
-- TX AA
UPDATE		COMERCIAL_PRODUCAO
	SET		TAXA_AA =( (POWER(((TAXA_SEM_RET/100.0)+1.0),(12.0))-1.0)*100.0) 
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  = 'D'
		AND CODPROD  = 11  -- DESCONTO 
--		AND CODPROD  IN (1,10) -- = 11  -- DESCONTO  *************** ALTERADO 8/7/16

-- CALCULA VALORES COM MEDIA PONDERADA PELO VLR_PRESENTE (antes)
-- nao alterar! MUDEI PARA VLR_OP= VLR FUTURO
-- DECLARE @DTREF DATETIME SET @DTREF ='20150131'
-- DECLARE @DTREF DATETIME SET @DTREF ='20150228'
UPDATE		COMERCIAL_PRODUCAO
SET			TX_X_VLR	= 	TAXA_SEM_RET * VLR_PRESENTE  -- AUXILIAR NO CALCULO DA MEDIA PONDERADA
		,	TX_AA_X_VLR = 	TAXA_AA  *  VLR_PRESENTE     -- AUXILIAR NO CALCULO DA MEDIA PONDERADA
		,	PRZ_X_VLR	= PRAZO * VLR_PRESENTE  
		,	PLANO_X_VLR = PLANO * VLR_PRESENTE  
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  = 'D'
		AND CODPROD  = 11  -- DESCONTO 

*/



		-- COD DO AGENTE ********************	DO SISTEMA FUNCAO
		UPDATE	COMERCIAL_PRODUCAO
		SET		AGENTE		= ISNULL(OP.O3CODORGA13,'') -- ISNULL(A.COD_AGENTE,'')
		FROM	CDCSANTANAMicroCredito..TORG3 OP (NOLOCK) 
		WHERE	DT_FECHA=@DTREF
			AND CODOPER = O3CODORG  -- OPERADOR
		-- OPERADOR AGENTE= OPCODORG3
		
		UPDATE	COMERCIAL_PRODUCAO
		SET		AGENTE	='' 
		WHERE	DT_FECHA=@DTREF
			AND AGENTE IS NULL


		-- RATING DO HISTORICO ********************
		-- SP_HELP COMERCIAL_PRODUCAO
		-- TODOS OS PRODUTOS
		UPDATE	COMERCIAL_PRODUCAO
		SET		NVL_RISCO		= ISNULL(OP.NVL_RISCO,'') -- RETORNO
				--,VLR_PRESENTE    = ISNULL(OP.SLD_INSCRITO, 0.0)  ESTA NO COPER, OPVlrOpCZ
		FROM	(SELECT NUM_OPE, NVL_RISCO, SLD_INSCRITO FROM RATING_HISTORICO O (NOLOCK) 
					WHERE DT_FECHA = @DTPDD ) AS OP
		WHERE	DT_FECHA=@DTREF
			AND	COMERCIAL_PRODUCAO.NUM_OPE = OP.NUM_OPE  -- OPERADOR
			AND PRODUTO NOT IN ('D')  -- EXCETO DESCONTO, SOMENTE VEICULOS

-- 10			
		-- ANO MODELO ********************   
		UPDATE		COMERCIAL_PRODUCAO
		SET		ANO_MODELO = ISNULL(ABANOMOD,'S/INF')  -- com Ano Modelo
		--		ALTERADO PARA TRAZER OS ANOS DE MODELO DOS VEICULOS 22/3/17	**********
		FROM	(	SELECT  ABNROPER, MAX(ABANOMOD) AS ABANOMOD
					FROM	CDCSANTANAMicroCredito..CBFIN B (NOLOCK)-- order by abnroper
					GROUP BY ABNROPER	) AS M
		WHERE	DT_FECHA=@DTREF
			AND PRODUTO='V'				-- INCLUI PARA AJUSTAR EM 16/3/17  **************
			AND	NUM_OPE= M.ABNROPER





-- DECLARE @DTREF DATETIME SET @DTREF = '20170131'
UPDATE	COMERCIAL_PRODUCAO
SET		VEICULO = DESCR_TIPO
FROM	Ttipo_prod		T (NOLOCK), 
		TModa_tipo_prod M (NOLOCK)  
WHERE	DT_FECHA		 = @DTREF
	AND	PRODUTO			 = 'D'		-- desconto
	AND	PRODUTO			 = M.COD_PROD 
	AND PRODUTO			 = T.COD_PROD 
	AND T.COD_MODALIDADE = M.COD_MODALIDADE 
	AND CONVERT(FLOAT,COMERCIAL_PRODUCAO.CODMODA) = CONVERT(FLOAT,M.COD_MODA)


-- DECLARE @DTREF DATETIME SET @DTREF = '20170131'
-- sp_help COMERCIAL_PRODUCAO
-- alter table COMERCIAL_PRODUCAO alter column veiculo varchar(40)
UPDATE	COMERCIAL_PRODUCAO
SET		VEICULO = DESCR_TIPO
FROM	Ttipo_prod		T (NOLOCK), 
		TModa_tipo_prod M (NOLOCK)  
WHERE	DT_FECHA		 = @DTREF
	AND	PRODUTO			 <> 'D'		-- desconto
	AND	PRODUTO			 = M.COD_PROD 
	AND PRODUTO			 = T.COD_PROD 
	AND T.COD_MODALIDADE = M.COD_MODALIDADE 
	AND CONVERT(FLOAT,COMERCIAL_PRODUCAO.CODMODA) = CONVERT(FLOAT,M.COD_MODA)

-- INSERI TRATAMENTO ADIANTA E OUTROS AGENTES   NO VEIC **************   ALTERADO 14/8/17
-- SOMENTE VEIC  E AJUSTAR O NOME DO VEIC
-- SELECT * FROM Ttipo_prod		T (NOLOCK)
UPDATE	COMERCIAL_PRODUCAO
SET		VEICULO = DESCR_TIPO
FROM	Ttipo_prod		T (NOLOCK)  
WHERE	DT_FECHA		 = @DTREF
	AND	PRODUTO			 = 'V'		-- VEICULOS PROMOTORAS
	AND	PRODUTO			 = T.COD_PROD 
	AND T.COD_MODALIDADE = T.COD_MODALIDADE 
	AND COMERCIAL_PRODUCAO.Agente = T.AGENTE  -- COD AGENTE OU PROMOTORA FINAZERO,CREDIFIT, ADIANTA
	--and produto='v' and agente in (164,165,146)


-- 20
-- SELECT * FROM SPREAD_HISTORICO WHERE DT_FECHA=''
-- ADECORRER, -- PLANO EM MESES
UPDATE		COMERCIAL_PRODUCAO
	SET		TAXA_SEM_RET = dbo.Rate(PLANO, vlr_parc,(VLR_OP + RETORNO)) -- EM % *100.0
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO  IN ( 'V','BF')		-- SOMENTE VEIC  ************** ALTERADO 30/01/2017
		AND RETORNO  > 0.0      -- QUANDO O RETORNO FOR 0, USAR A TAXA DO FUNCAO

-- SALVO DESCONTO, TX NO FUNCAO AA, CONVERTER AM
UPDATE		COMERCIAL_PRODUCAO
	SET		TAXA_SEM_RET =( (POWER(((TAXA_AA/100.0)+1.0),(1.0/12.0))-1.0)*100.0)
	WHERE	DT_FECHA = @DTREF
		AND	PRODUTO NOT  IN ( 'D')		-- SEM DESCONTO   INCLUIDO 7/6/17
		AND RETORNO  = 0.0      -- QUANDO O RETORNO FOR 0, USAR A TAXA DO FUNCAO AA, CONVERTER AM

-- 21
-- DECLARE @DTREF DATETIME   SET @DTREF = '20140630'
-- TODOS OS PRODUTOS
UPDATE		COMERCIAL_PRODUCAO
	SET		TAXA_AA =( (POWER(((TAXA_SEM_RET/100.0)+1.0),(12.0))-1.0)*100.0)
	WHERE	DT_FECHA = @DTREF
		AND PRODUTO <> 'D'	    -- INCLUIDO 7/6/17

-- ALTER TABLE  SPREAD_HISTORICO ADD CODOPER VARCHAR(20), CODLOJA VARCHAR(20), TX_X_VLR FLOAT, PRZ_X_VLR FLOAT
-- DECLARE @DTREF DATETIME   SET @DTREF = '20140630'
UPDATE	COMERCIAL_PRODUCAO
SET		TX_X_VLR	= 	TAXA_SEM_RET * (VLR_OP + RETORNO)  -- AUXILIAR NO CALCULO DA MEDIA PONDERADA
	,	TX_AA_X_VLR = 	TAXA_AA  *  (VLR_OP + RETORNO)   -- AUXILIAR NO CALCULO DA MEDIA PONDERADA
	,	PRZ_X_VLR	= PRAZO * VLR_OP  
	,	PLANO_X_VLR = PLANO * VLR_OP  
	WHERE	DT_FECHA= @DTREF
		AND PRODUTO <> 'D'	  
	

-- ************************************ FAIXA DE ANO
-- DECLARE @DTREF SMALLDATETIME SET @DTREF = '20140630'
	UPDATE	COMERCIAL_PRODUCAO
	SET		FX_ANO = FX.DESCR
	FROM	COMERCIAL_PRODUCAO (NOLOCK) LEFT JOIN 
		 (SELECT * FROM FX_ANO (NOLOCK) WHERE DATEPART(YYYY,DT_DE)=DATEPART(YYYY,@DTREF) )  AS FX
			ON ANO_MODELO BETWEEN FX.DE AND FX.ATE
	


-- DECLARE @DTREF  DATETIME  SET @DTREF = '20140630'
-- SP_HELP COMERCIAL_PRODUCAO
UPDATE	COMERCIAL_PRODUCAO
SET		VLR_RECEITA  = VLR_FUTURO - VLR_PRESENTE
--VLR_TC + VLR_TARIFA
WHERE	DT_FECHA	= @DTREF


-- SELECT * FROM CDCSANTANAMicroCredito..TMODA
-- TTLS DO MES ********************************************* AUXILIA NOS RELATORIOS
-- DECLARE @DTREF  DATETIME  SET @DTREF = '20140630'
		DELETE	FROM	COMERCIAL_PRODUCAO_MES
				WHERE	DT_FECHA	= @DTREF

-- SP_HELP COMERCIAL_PRODUCAO_MES
-- ALTER TABLE COMERCIAL_PRODUCAO_MES ADD  PRAZO FLOAT
-- ALTER TABLE COMERCIAL_PRODUCAO_MES ADD  QTDE_CLI FLOAT
-- ALTER TABLE COMERCIAL_PRODUCAO_MES ADD  VAR_PROD FLOAT
		INSERT	COMERCIAL_PRODUCAO_MES
		SELECT	@DTREF,
				PRODUTO,
				COUNT(NUM_OPE),		-- QTDE
				SUM(VLR_OP),
				SUM(VLR_PRESENTE),
				SUM(VLR_RECEITA),
				SUM(VLR_FUTURO),
				SUM(VLR_TC),
				SUM(VLR_TARIFA),
				SUM(VLR_IOF),
				AVG(VLR_FIPE),
				AVG(CONVERT(INT,SCORE)),
				--CASE	WHEN SUM(VLR_OP) = 0.0			THEN 0.0   antes
				--		ELSE ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) / 30.0 , 0) END,  -- PLANO_MEDIO antes: SUM(PLANO_X_VLR)/SUM(VLR_OP)
				-- ********** alterado 14/03/16		-- plano_MEDIO
				CASE WHEN	PRODUTO = 'D' THEN 
							CASE WHEN	SUM(VLR_PRESENTE) =0.0		THEN 0.0					ELSE
										ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_PRESENTE) / 30.0, 0)	END
					 ELSE	
							CASE WHEN	SUM(VLR_OP) =0.0 THEN 0.0						ELSE
										ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) / 30.0, 0)	END		END,		    -- PLANO MEDIO

				CASE	WHEN SUM(VLR_OP)+SUM(RETORNO) = 0.0				THEN 0.0 
						ELSE SUM(TX_X_VLR)/(SUM(VLR_OP)+SUM(RETORNO))	END, -- TAXA_MEDIA
				0.0, -- VARIACAO
				--	0.0,0.0, 
				--AVG(VLR_OP),				-- TKT_MEDIO ANTIGO, COM DIFERENCA
				SUM(VLR_PRESENTE)/COUNT(NUM_OPE),   -- TKT_MEDIO
				CASE WHEN	PRODUTO = 'D' THEN COUNT(DISTINCT CODCLI)		-- QTDE CLIENTES
					 ELSE	COUNT(DISTINCT CODLOJA)		END	,				-- QTDE_LJ
				0.0,0.0, 0.0,0.0,
				--AVG(PRAZO),			************* alterado 14/03/16
				CASE WHEN PRODUTO = 'D' THEN 
						-- PRODUTO ZERADO, ERRO DIV0  CORRIGI EM 10/02/17	 ************
							CASE WHEN SUM(VLR_PRESENTE) =0.0 THEN 0.0		ELSE
							ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_PRESENTE) , 0)	END
					 ELSE	
							CASE WHEN SUM(VLR_OP) =0.0 THEN 0.0 ELSE
							ROUND(SUM(PRZ_X_VLR)   / SUM(VLR_OP) , 0)		END		END ,		    -- PRAZO MEDIO
				COUNT(DISTINCT CODCLI)  -- QTDE CLIENTES
				, 0.0 -- VAR_PROD
		FROM	COMERCIAL_PRODUCAO		(NOLOCK)
		WHERE	DT_FECHA	= @DTREF
			AND	NUM_OPE  <>''
		GROUP	BY	PRODUTO
-- SP_HELP 		COMERCIAL_PRODUCAO


		-- DECLARE @DTREF DATETIME SET @DTREF ='20150131'
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150228'
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO_MES
			SET		QTDE_CLI  =  (SELECT	COUNT(DISTINCT O4CodORG)
		--o4codorg, o4nome, o4descr, o4rua,o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ 
				FROM	CdcSantanaMicroCredito..TOrg4  (NOLOCK)
				JOIN	(SELECT * FROM COMERCIAL_PRODUCAO (nolock) WHERE DT_FECHA=@DTREF AND PRODUTO='V') AS PROD
						ON PROD.CODOPER =O4CODORG3 
				WHERE (O4DTDESAT IS NULL OR O4DTDESAT <=@DTREF) AND O4ATIVA='A'  )
		WHERE DT_FECHA=@DTREF AND PRODUTO='V'

-- AJUSTA PROD LIQ VEIC
-- SELECT SUM(VLR_LIBERADO) FROM	COMERCIAL_PRODUCAO		(NOLOCK) 		WHERE	DT_FECHA	= '20150131' AND PRODUTO='V'
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150131'
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150228'
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO_MES
			SET		PRODUCAO_LIQ  =  (SELECT		SUM(VLR_LIBERADO) AS VLR
								FROM COMERCIAL_PRODUCAO  (NOLOCK) 
						WHERE	DT_FECHA	= @DTREF
							AND PRODUTO IN ('V','BF') ) ,  -- *********** ALTERAO 30/01/2017
					TKT_MEDIO_LIQ  =  ISNULL((SELECT		SUM(VLR_LIBERADO)/COUNT(*) AS VLR
								FROM COMERCIAL_PRODUCAO  (NOLOCK) 
						WHERE	DT_FECHA	= @DTREF
							AND PRODUTO IN ('V','BF')      -- *********** ALTERAO 30/01/2017
							AND VLR_OP > 0.0 ),0.0) 
			WHERE	COMERCIAL_PRODUCAO_MES.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO_MES.PRODUTO  IN ('V','BF')  -- *********** ALTERAO 30/01/2017

-- ano médio, SCORE , FIPE DE VEIC *******************
-- AJUSTA NO DETALHE
		-- TABELA FIPE VEIC ****************
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO
			SET		VLR_FIPE = convert(float,VEIC.abvlrtab)
			FROM  (SELECT		coper.opnroper, coper.OPQTDDPARC, coper.opvlrfin, cbfin.abmodelo,
								cbfin.abanomod,cbfin.abvlrtab
						 from CdcSantanaMicroCredito..COper coper (NOLOCK)
						 inner join CdcSantanaMicroCredito..cbfin  (NOLOCK)
							on coper.opnroper = cbfin.abnroper 
							) AS VEIC
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO.PRODUTO  IN ('V','BF')      -- *********** ALTERAO 30/01/2017
				AND COMERCIAL_PRODUCAO.NUM_OPE  = OPNROPER

		-- SCORE  VEIC ****************
		-- SCORE  VEIC ****************
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
-- SELECT * FROM MASTER..crivo_proposta
		-- DECLARE @DTREF DATETIME SET @DTREF ='20140131'

		UPDATE		COMERCIAL_PRODUCAO
			SET		SCORE = isnull((select  PPSCORING  
						from CDCSANTANAMicroCredito..coper  (NOLOCK),
								PROPWEBSMC..cprop  (NOLOCK)
						where OPNRPROP = PPNRPROP  and OPNROPER= COMERCIAL_PRODUCAO.NUM_OPE 
							and OPDTBASE >= '2014-01-01' 		),0) --AS VEIC
			WHERE	COMERCIAL_PRODUCAO.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO.PRODUTO  IN ('V','BF')        -- *********** ALTERAO 30/01/2017
				AND Vlr_OP >0.0	
		

-- CALCULA MEDIAS
		--		DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO_MES
			SET		ANO_MEDIO  = VEIC.ANO ,
					SCORE =VEIC.SCORE,
					VLR_FIPE = VEIC.FIPE
			FROM  (SELECT		AVG(CONVERT(FLOAT,ANO_MODELO)) AS ANO, 
								SUM(CONVERT(FLOAT,SCORE) * VLR_PRESENTE)/SUM(VLR_PRESENTE) AS SCORE, 
								AVG(VLR_FIPE) AS FIPE
								FROM COMERCIAL_PRODUCAO  (NOLOCK) 
						WHERE	DT_FECHA	= @DTREF
							AND PRODUTO  IN ('V','BF')				-- *********** ALTERAO 30/01/2017
							AND VLR_OP > 0.0 ) AS VEIC
			WHERE	COMERCIAL_PRODUCAO_MES.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO_MES.PRODUTO  IN ('V','BF')   -- *********** ALTERAO 30/01/2017

 
	-- AJUSTA MEDIA LOJA
		--		DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_PRODUCAO_MES
			SET		MEDIA_LJ  =  CASE WHEN ISNULL(M.Q,0.0)=0.0 THEN 0.0 ELSE M.VLR/M.Q END
			FROM	(SELECT		PRODUTO,AVG(VLR_PRESENTE) AS VLR,
								AVG(QTDE_LJ) AS Q FROM COMERCIAL_PRODUCAO_MES  (NOLOCK) 
						WHERE	DT_FECHA	= @DTREF
						GROUP BY PRODUTO ) AS M
			WHERE	COMERCIAL_PRODUCAO_MES.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO_MES.PRODUTO  = M.PRODUTO


DECLARE @DT_MES_ANT SMALLDATETIME
SET @DT_MES_ANT = DATEADD(D,-1,@DTINI)  -- FIM DO MES ANT
--		SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+	RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'

	-- AJUSTA VARIACAO NO MES
	-- DECLARE @DTREF DATETIME SET @DTREF ='20150131'  DECLARE @DT_MES_ANT DATETIME SET @DT_MES_ANT ='20141231'
		UPDATE		COMERCIAL_PRODUCAO_MES
			SET		VARIACAO  =  CASE WHEN ISNULL(M1.VLR_RECEITA ,0.0)>0.0 THEN (ISNULL(M.VLR_RECEITA,0.0) - ISNULL(M1.VLR_RECEITA ,0.0))/ISNULL(M1.VLR_RECEITA ,0.0)* 100.0
									  ELSE 0.0 END	,
					VAR_PROD  =  CASE WHEN ISNULL(M1.VLR_PRESENTE ,0.0)>0.0 THEN (ISNULL(M.VLR_PRESENTE,0.0) - ISNULL(M1.VLR_PRESENTE ,0.0))/ISNULL(M1.VLR_PRESENTE ,0.0)* 100.0
									  ELSE 0.0 END	
			FROM (SELECT PRODUTO,VLR_RECEITA,VLR_PRESENTE FROM COMERCIAL_PRODUCAO_MES  (NOLOCK) 
						WHERE	DT_FECHA	= @DTREF) AS M
			JOIN (SELECT PRODUTO,VLR_RECEITA,VLR_PRESENTE FROM COMERCIAL_PRODUCAO_MES  (NOLOCK) 
						WHERE	DT_FECHA	= @DT_MES_ANT) AS M1
			ON M.PRODUTO = M1.PRODUTO
			WHERE COMERCIAL_PRODUCAO_MES.DT_FECHA	= @DTREF
				AND COMERCIAL_PRODUCAO_MES.PRODUTO  = M.PRODUTO



-- **************************************************** CARTEIRA
-- REMOVE O TTL CARTEIRA NO MES
-- DECLARE @DTREF DATETIME SET @DTREF='20150131'
-- DECLARE @DTREF DATETIME SET @DTREF='20150331'
-- 1
		DELETE	FROM	COMERCIAL_CARTEIRA_MES
				WHERE	DT_FECHA	= @DTREF
-- INSERE O TTL CARTEIRA NO MES
-- 2
		INSERT	COMERCIAL_CARTEIRA_MES
						(DT_FECHA,
						PRODUTO,
						QTDE,
						VLR_PRESENTE )
		SELECT	@DTREF,
				CASE	WHEN MOPCOD IN ('0215')			THEN 'CG'
						WHEN MOPCOD IN ('0301','0302')  THEN 'D'
						WHEN MOPCOD IN ('0203','0401','0402')  THEN 'V'
						WHEN MOPCOD IN ('0216')			THEN 'BF'   -- BANKFACIL ALTERADO 30/01/2017
						--WHEN MOPCOD IN ('0216')			THEN 'R'
						WHEN MOPCOD IN ('0206','1511')  THEN 'CP'
						END,	  		-- PRODUTO
				COUNT(RATVALSALDO)  ,	-- QTDE
				SUM(RATVALSALDO)	
		--	SELECT RATCODSIS,MOPCOD,SUM(RATVALSALDO)	
		FROM			FinCilDbs..CilTblRat 	R	(NOLOCK)	
			where	ratDatRef = @DTREF    -- MES Ref Fechamento
				--and ratcodemp = 1
				and CrsCodRatFIM <> 'HH'  -- CARTEIRA SEM PREJUIZO
				and ISNULL(RatValSaldo,0.0) > 0.0
		GROUP BY CASE	WHEN MOPCOD IN ('0215')			THEN 'CG'
						WHEN MOPCOD IN ('0301','0302')  THEN 'D'
						WHEN MOPCOD IN ('0203','0401','0402')  THEN 'V'
						WHEN MOPCOD IN ('0216')			THEN 'BF'   -- BANKFACIL ALTERADO 30/01/2017
						--WHEN MOPCOD IN ('0216')			THEN 'R'
						WHEN MOPCOD IN ('0206','1511')  THEN 'CP'
						END

-- 0215 ,0301,0402, 0203, 0302,                0216,         0401
-- 3
		-- TABELA DE CONTRATOS AUXILIAR
		-- SELECT * FROM TAUX_CONTRATOC
		TRUNCATE TABLE  TAUX_CONTRATOC
-- 4
		INSERT			TAUX_CONTRATOC (CONTRATO,AGENTE,COD_CLI,CPF_CNPJ,SALDO_INSCRITO,RATING_FINAL)
				SELECT	RATCODCONTR,
						-- AGENTE COM PRODUTO
						CASE	WHEN MOPCOD IN ('0215')			THEN 'CG'
								WHEN MOPCOD IN ('0101','0201','0301','0302','0303')  THEN 'D'
								WHEN MOPCOD IN ('0203','0401','0402')  THEN 'V'
								WHEN MOPCOD IN ('0216')			THEN 'BF'   -- BANKFACIL ALTERADO 30/01/2017
								--WHEN MOPCOD IN ('0216')			THEN 'R'
								WHEN MOPCOD IN ('0206','1511')  THEN 'CP'
						END,

						-- COD_CLI COM MODALIDADE
						(SELECT OPCODOP FROM	CDCSANTANAMicroCredito..COPER (NOLOCK) 
										WHERE	OPNROPER=RATCODCONTR),
						-- CPF_CNPJ COM CODCLI
						RATCODCLI,
						RATVALSALDO,
						CRSCODRATFIM
				-- SELECT *
				FROM	FinCilDbs..CilTblRat 	R	(NOLOCK)	
--WHERE ratDatRef = '20141130' AND MOPCOD IN ('0301','0302')
					where	ratDatRef = @DTREF    -- MES Ref Fechamento
						--and ratcodemp = 1
						and CrsCodRatFIM <> 'HH'  -- CARTEIRA SEM PREJUIZO
						and ISNULL(RatValSaldo,0.0) > 0.0

--0203 v ,0215 cg, 0216 r, 0301 d, 0302 d , 0401 v , 0402 v
-- 5
		UPDATE		TAUX_CONTRATOC
			SET		VF = ISNULL(OP.VLR_FUTURO,0.0)
			FROM	
				(SELECT		PANROPER,SUM(PAVLRPR + PAVLRJR) AS VLR_FUTURO
					FROM	CDCSANTANAMicroCredito..CPARC O (NOLOCK)	
					WHERE	(PADTLIQ IS NULL OR PADTLIQ > @DTREF ) 	AND		 -- NAO PAGAS
							PACNTRL = (SELECT	MAX(PACNTRL) 
										FROM	CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)
										WHERE	P1.PANROPER = O.PANROPER
											AND	P1.PANRPARC = O.PANRPARC
						  )
					GROUP BY PANROPER ) AS OP	
		WHERE		CONTRATO = OP.PANROPER
			--AND		AGENTE <> 'D'	

-- 6
-- FACTORING
-- DECLARE @DTREF DATETIME SET @DTREF='20150131'
	UPDATE	TAUX_CONTRATOC
	SET	 	
			VF = titlo_vlr_moe_tit
	FROM	FinSGRDBS..tb_titlo O (NOLOCK)
	where titlo_noss_num = CONTRATO
		  AND		AGENTE = 'D'	-- DESCONTO
		-- SELECT * FROM COMERCIAL_CARTEIRA_MES
		-- SELECT * FROM TAUX_CONTRATOC WHERE AGENTE='D'
-- 7
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		--VLR_PRESENTE =  ISNULL(C.VP ,0.0),
					VLR_FUTURO   =  ISNULL(C.VLR,0.0),
					VLR_RECEITA  =  ISNULL(C.VLR,0.0) - ISNULL(C.VP ,0.0)
			FROM 	(SELECT		C1.AGENTE,SUM(C1.VF) AS VLR, SUM(C1.SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  C1 (NOLOCK)
						GROUP BY C1.AGENTE	) AS C
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND	COMERCIAL_CARTEIRA_MES.PRODUTO  = C.AGENTE
-- 8
-- DESCONTO JOIN COM O TITULO DO DESCONTO ATT
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI ='1', AGENTE = 'D'
	FROM	FinSGRDBS..tb_TITLO O (NOLOCK)
	WHERE	TITLO_NOSS_NUM= CONVERT(NUMERIC,CONTRATO)
		AND COD_CLI IS NULL  -- ??
		AND CtlCART_COD =11  -- E 21 -- SOMENTE DESCONTO
		AND TITLO_NOSS_NUM NOT IN (3156338,3156346,3156354,3156362,
					3156370,3156389,3156397,3156400,3156419,3156427,3156435,3156443,3156451,
					3156460,3156478,3156486,3156494,3156508,3156516,3156524)
		--AND TITLO_DAT_ENVPROT IS NULL -- SEM ENVIO PARA PROTESTO
-- DESCONTO JOIN COM O TITULO DO DESCONTO ATT
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI ='1', AGENTE = 'D'
	FROM	FinSGRDBS..tb_TITLO O (NOLOCK)
	WHERE	TITLO_NOSS_NUM IN (938483,938491,1250167)
		AND CONTRATO IN  ('938483','938491','1250167')
		AND TITLO_NOSS_NUM= CONVERT(NUMERIC,CONTRATO)
--		AND COD_CLI IS NULL  -- ??

-- DESCONTO JOIN COM FUNCAO  FACTORING FOI INTEGRADA DO FIFA PARA O FUNCAO
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '870', 
			AGENTE	= 'D'  			--,			VF		= OPVLRBRUTO
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	OPNROPER= CONTRATO
		AND OPCODOP = '302'  -- MODALIDADE 870   NEGOCIACAO - PJ

--select * from TAUX_CONTRATOC where contrato='6784'
-- 1 contrato faltante
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '870', 
			AGENTE	= 'D'  			,			VF		= saldo_inscrito
	WHERE	CONTRATO='6784'

-- 9
-- DESCONTO JOIN COM FUNCAO  FACTORING FOI INTEGRADA DO FIFA PARA O FUNCAO
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '870', 
			AGENTE	= 'D'  			--,			VF		= OPVLRBRUTO
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	OPNROPER= CONTRATO
		AND OPCODOP = '870'  -- MODALIDADE 870   NEGOCIACAO - PJ
-- REMOVE 2 OPER Q NAO ESTAO NO CONTABIL
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '9', 
			AGENTE	= '9'  			--,			VF		= OPVLRBRUTO
	WHERE	CONTRATO IN  ('353002877A','3641000865A')
		  -- MODALIDADE 870   NEGOCIACAO - PJ

-- reclassifica 1 CONTRATO CP
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '3', 
			AGENTE	= 'CP'  			--,			VF		= OPVLRBRUTO
	WHERE	CONTRATO IN  ('353002877A')

-- AJUSTE DESCONTO DESCONTO 1	CG MODALIDADE 870
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		VLR_PRESENTE =   ISNULL(C.VP ,0.0),
					VLR_FUTURO   =   ISNULL(C.VLR,0.0)
			FROM 	(SELECT		SUM(VF) AS VLR, SUM(SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  (NOLOCK)	
								-- COD_CLI COM MODALIDADE	1 = DESCONTO, 870 = FACTORING
						WHERE 	COD_CLI IN ('1', '870') ) AS C
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND	COMERCIAL_CARTEIRA_MES.PRODUTO  = 'D'

-- AJUSTE CG		CG MODALIDADE 353, 363
-- SELECT * FROM  COMERCIAL_CARTEIRA_MES
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		VLR_PRESENTE =  ISNULL(C.VP ,0.0),
					VLR_FUTURO   =  ISNULL(C.VLR,0.0)
			FROM 	(SELECT		SUM(VF) AS VLR, SUM(SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  (NOLOCK)	
								-- COD_CLI COM MODALIDADE	
						WHERE 	COD_CLI IN --('353', '363')
						-- ALTERADO 15/2/16 ******************
					 (SELECT	COD_MODA
						FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
							AND T.COD_PROD IN ('CG') )
						) AS C
					--  353,363					CG
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND	COMERCIAL_CARTEIRA_MES.PRODUTO  = 'CG'

-- OPERADOR
-- SELECT * FROM TAUX_CONTRATOC
UPDATE 		TAUX_CONTRATOC  
	SET		COD_OPERADOR = 	OPCODORG3  , -- OPERADOR  CODOPER		, --varchar(20),		 
			COD_COB      =  OPCODORG4    -- COD LOJA  CODLOJA		, --varchar(20),
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	OPNROPER= CONTRATO


-- AJUSTE V		CONSIDERAR SOMENTE VEIC
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = 2, 
			AGENTE	= 'V'  			
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	OPNROPER= CONTRATO
		AND O.OPCODOP  IN 	(SELECT		COD_MODA
								FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
								WHERE	M.COD_PROD = T.COD_PROD 
									AND T.COD_MODALIDADE = M.COD_MODALIDADE 
									AND T.COD_PROD = 'V' )


-- sem 892 reneg PJ
-- 731, CG

-- ajusta VEIC
-- select * from TAUX_CONTRATOC where coNtrato ='3641000865A'
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = 2, 
			AGENTE	= 'V'  			
	WHERE	coNtrato ='3641000865A'

-- AJUSTE cp		CONSIDERAR CP + CDC LJ
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = 3, 
			AGENTE	= 'CP'  			
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK)
	WHERE	OPNROPER= CONTRATO
		AND (O.OPCODOP  IN (SELECT	COD_MODA
						FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
							AND T.COD_PROD IN ('CP') )
		 OR O.OPCODOP  IN ('990' )  )   -- EXCECAO RENEG CP  ???


--  906,908,909,995,290		CP
--  990				cod_prod	cod_modalidade	descr_tipo
--						R	14	Crédito Pessoal - Renegociação
-- 892 reneg PJ ??
-- AJUSTA A CARTEIRA CP
		INSERT		COMERCIAL_CARTEIRA_MES
				(DT_FECHA,	PRODUTO,	QTDE,		VLR_PRESENTE,	VLR_FUTURO)
				SELECT	@DTREF , 'CP', ISNULL(C.QTD,0.0) , 
						ISNULL(C.VP ,0.0),
						ISNULL(C.VLR,0.0)
			FROM 	(SELECT		COUNT(*) AS QTD, SUM(VF) AS VLR, SUM(SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  (NOLOCK)	
								-- COD_CLI COM MODALIDADE	 3 = CP
						WHERE 	COD_CLI IN (3)) AS C


-- AJUSTE RENEG CART 86 E 75
-- SELECT * FROM CDCSANTANAMicroCredito..TMODA  (NOLOCK)
UPDATE 		TAUX_CONTRATOC  
	SET		COD_CLI = '4', 
			AGENTE	= CASE  WHEN TOCODCART = '75' THEN 'R75' 
							WHEN TOCODCART = '86' THEN 'R86'  			
							ELSE 'R' END
	FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK),
			CDCSANTANAMicroCredito..TMODA M (NOLOCK)
	WHERE	OPNROPER = CONTRATO
		AND	OPCODOP  = M.TOCODOP 
		AND TOCODCART IN ('75','86')	
-- AJUSTA A CARTEIRA RENEG
		-- DECLARE @DTREF DATETIME SET @DTREF = '20150131'
		INSERT		COMERCIAL_CARTEIRA_MES
				(DT_FECHA,	PRODUTO,	QTDE,		VLR_PRESENTE,	VLR_FUTURO, TKT_MEDIO_PV)
				SELECT	@DTREF , AGENTE, ISNULL(C.QTD,0.0) , 
						ISNULL(C.VP ,0.0),
						ISNULL(C.VLR,0.0),
						-- ************************* ALTERADO PQ DIV 0 EM 8/2/17
						CASE	WHEN C.QTD = 0.0	THEN 0.0 
								ELSE
									CASE  WHEN AGENTE='R86' THEN VLR/C.QTD
										  WHEN AGENTE='R75' THEN VP /C.QTD ELSE 0.0 END	
								END
			FROM 	(SELECT		AGENTE,COUNT(*) AS QTD, SUM(VF) AS VLR, SUM(SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  (NOLOCK)	
								-- COD_CLI COM MODALIDADE	 4 = reneg
						WHERE 	COD_CLI IN (4)
						GROUP BY AGENTE) AS C

-- AJUSTA A CARTEIRA
-- declare @dtref datetime set @dtref = '20150131'
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		VLR_PRESENTE =  ISNULL(C.VP ,0.0),
					VLR_FUTURO   =  ISNULL(C.VLR,0.0)
			FROM 	(SELECT		SUM(VF) AS VLR, SUM(SALDO_INSCRITO) AS VP
						FROM	TAUX_CONTRATOC  (NOLOCK)	
								-- COD_CLI COM MODALIDADE	 2 = VEIC + 4= reneg
						WHERE 	COD_CLI IN (2,4)) AS C
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND	COMERCIAL_CARTEIRA_MES.PRODUTO  = 'V'
--R86 , R75

		
-- AJUSTA A QTDE CLIENTES NA CARTEIRA
-- SELECT * FROM TAUX_CONTRATOC
-- SELECT * FROM 	COMERCIAL_CARTEIRA_MES WHERE DT_FECHA='20150131'
--    DECLARE @DTREF DATETIME SET @DTREF = '20150131'
--    MEDIAS POR LJ CLI 
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		COMERCIAL_CARTEIRA_MES.QTDE_CLIENTE= AG.QTD,
					COMERCIAL_CARTEIRA_MES.MEDIA_CLIENTE= CASE WHEN ISNULL(AG.QTD,0.0)=0.0 THEN 0.0
																ELSE AG.VLR/AG.QTD END,
					COMERCIAL_CARTEIRA_MES.TKT_MEDIO_PV= CASE WHEN ISNULL(AG.QTD_OP,0.0)=0.0 THEN 0.0
															 	ELSE		AG.VLR/AG.QTD_OP END,
					COMERCIAL_CARTEIRA_MES.QTD_LOJAS= AG.QTD_LJ,
					COMERCIAL_CARTEIRA_MES.MEDIA_LJ= CASE	WHEN ISNULL(AG.QTD_LJ,0.0)=0.0 THEN 0.0
															ELSE AG.VLR/AG.QTD_LJ END

			FROM    (SELECT		C.AGENTE, COUNT(*) AS QTD_OP,
								COUNT(DISTINCT C.CPF_CNPJ) AS QTD, SUM(SALDO_INSCRITO) AS VLR ,
								COUNT(DISTINCT C.COD_COB) AS QTD_LJ								
						FROM	TAUX_CONTRATOC  C (NOLOCK)
						GROUP BY C.AGENTE) AS AG
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA = @DTREF 
				AND COMERCIAL_CARTEIRA_MES.PRODUTO  = AG.AGENTE

		-- inclui FACTORING NO DESCONTO  ******************
		-- DECLARE @DTREF DATETIME SET @DTREF ='20150331'
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		VLR_PRESENTE =  VLR_PRESENTE+1182096.0
					--,VLR_FUTURO   =  VLR_FUTURO+118
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND	COMERCIAL_CARTEIRA_MES.PRODUTO  = 'D'

		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		VLR_RECEITA  =  ISNULL(VLR_FUTURO,0.0) - ISNULL(VLR_PRESENTE ,0.0)
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 


		-- CARTEIRA QTDE LOJAS ATIVAS
		-- DECLARE @DTREF DATETIME SET @DTREF = '20150131'
		UPDATE		COMERCIAL_CARTEIRA_MES
			SET		QTD_LOJAS  =  (SELECT	COUNT(DISTINCT O4CodOrg)
									FROM	CdcSantanaMicroCredito..TOrg4  (NOLOCK)
									WHERE	(O4DTDESAT IS NULL OR O4DTDESAT <=@DTREF) AND O4ATIVA='A' )
			WHERE	COMERCIAL_CARTEIRA_MES.DT_FECHA	= @DTREF 
				AND COMERCIAL_CARTEIRA_MES.PRODUTO  = 'V'


		UPDATE		COMERCIAL_PRODUCAO
			SET		VEICULO  =  'Capital de Giro S/garantia-ca'
			WHERE	DT_FECHA	= @DTREF 
				AND PRODUTO		= 'CG'
				AND CODMODA		IN  --(350, 351, 352, 353,363)
				-- 353 , 363  no cadastro
				--   LISTA COM MODALIDADES DO PRODUTO VEIC
					(SELECT		M.COD_MODA
						FROM	Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)  
						WHERE	M.COD_PROD = T.COD_PROD 
							AND T.COD_MODALIDADE = M.COD_MODALIDADE 
							AND T.COD_PROD = 'CG' )

/*
-- REMOVI EM 5/4/17		******************* DESCONTO  NO NETFACTOR EM 2017
-- OPERADOR DO DESCONTO
-- SELECT * FROM COMERCIAL_PRODUCAO WHERE  DT_FECHA	= '20150131' AND PRODUTO='D'
-- DECLARE @DTREF DATETIME SET @DTREF ='20150131'
-- DECLARE @DTREF DATETIME SET @DTREF ='20150228'
		UPDATE		COMERCIAL_PRODUCAO
			SET		AGENTE  =  (SELECT TB_COB_CLISGR.OPER_COD
									FROM FinSGRDBS..tb_cednte (NOLOCK), FinSGRDBS..tb_cob_clisgr (NOLOCK)
									WHERE --  cednte_cedn = tb_cob_instru.cednte_cedn)  and 
										( tb_cednte.emp_cod = 1 ) and ( CONVERT(VARCHAR(10),tb_cednte.cednte_cedn) = CODCLI ) 
									and ( tb_cob_clisgr.emp_cod = tb_cednte.emp_cod ) 
									and ( tb_cob_clisgr.clisgr_cod = tb_cednte.cli_cod ) 
													)
			WHERE	DT_FECHA	= @DTREF 
				AND PRODUTO		= 'D'

SELECT OPTXJRCET,* FROM	CDCSANTANAMicroCredito..COPER O (NOLOCK) -- TX AA

SELECT * FROM	COMERCIAL_PRODUCAO (NOLOCK)
alter table COMERCIAL_PRODUCAO ADD TX_CET FLOAT, TX_CET_X_VLR FLOAT

alter table COMERCIAL_PRODUCAO_MES ADD TX_CET FLOAT, TX_CET_X_VLR FLOAT


*/

END
GO


SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

