
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



select * from  CDCSANTANAMicroCredito..cclie O (NOLOCK) where clcodcli='74587841000183'


select left(o4cpfcgc,2),substring(o4cpfcgc,3,3),o4ativa,o4descr,o4rua,o4cmpt,o4cep,o4bai,o4cid,o4cpfcgc,* from  CDCSANTANAMicroCredito..torg4 O (NOLOCK) where o4cpfcgc='74.587.841/0001-83'
o4dtAtiv
o4obs
--'74.587.841/0001-83'

use sig
select * into cetip_ranking_historico from Cetip_Ranking	(NOLOCK)

-- 93
select r.* from Cetip_Ranking r	(NOLOCK) 
select r.* from Cetip_Ranking_historico r	(NOLOCK) 

-- loja endereço e ativa 106 LJS REPETIDAS
-- 365 OPERACOES REPETE AGENTES
select DISTINCT r.*,c.*,O.OPCODORG4,OPERADOR.*,A.* from Cetip_Ranking_historico r	(NOLOCK) 
left join 
(select --o4ativa,o4descr,o4rua,o4cmpt,o4cep,o4bai,o4cid,o4cpfcgc 
o4codorg, o4nome, o4descr, o4rua,o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ
from  CDCSANTANAMicroCredito..torg4 O (NOLOCK) ) as c
on o4cpfcgc= left(r.cnpj,2)+'.'+substring(r.cnpj,3,3)+'.'+substring(r.cnpj,6,3)+'/'+substring(r.cnpj,9,4)+'-'+right(r.cnpj,2)
left join
(select OPCODORG4,OPCODORG3 --,OPDTBASE
 from CDCSANTANAMicroCredito..COPER O1 (NOLOCK) ) as o
ON O4CODORG = OPCODORG4
left join
(select O3CODORG,O3DESCR,o3codOrgA13 from CDCSANTANAMicroCredito..TORG3 OPE1 (NOLOCK) ) as OPERADOR
ON O3CODORG = OPCODORG3

-- AGENTE
left join
(select * from CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) ) as A
ON o3codOrgA13 = A13CODORG


-- operador e agente
SELECT   o3codOrgA13,* FROM CDCSANTANAMicroCredito..TORG3 O (NOLOCK)
SELECT   * FROM	CDCSANTANAMicroCredito..TA1O3 A (NOLOCK)



-- ********************
SELECT * FROM Cetip_Potencial_Sintetico	(NOLOCK)

SELECT * INTO Cetip_Potencial_Sintetico_HISTORICO FROM Cetip_Potencial_Sintetico	(NOLOCK)

-- 536
SELECT DISTINCT * FROM Cetip_Potencial_Sintetico_HISTORICO	 R (NOLOCK)
-- 538
left join 
(select --o4ativa,o4descr,o4rua,o4cmpt,o4cep,o4bai,o4cid,o4cpfcgc 
o4codorg, o4nome, o4descr, o4rua,o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ
from  CDCSANTANAMicroCredito..torg4 O (NOLOCK) ) as c
on o4cpfcgc= left(r.cnpj,2)+'.'+substring(r.cnpj,3,3)+'.'+substring(r.cnpj,6,3)+'/'+substring(r.cnpj,9,4)+'-'+right(r.cnpj,2)
-- 589
left join
(select OPCODORG4,OPCODORG3 --,OPDTBASE
 from CDCSANTANAMicroCredito..COPER O1 (NOLOCK) ) as o
ON O4CODORG = OPCODORG4
-- 589
left join
(select O3CODORG,O3DESCR,o3codOrgA13 from CDCSANTANAMicroCredito..TORG3 OPE1 (NOLOCK) ) as OPERADOR
ON O3CODORG = OPCODORG3
-- 589
-- AGENTE
left join
(select * from CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) ) as A
ON o3codOrgA13 = A13CODORG


-- ********************
SELECT * FROM Cetip_Potencial_ANALItico	(NOLOCK)
-- 26664

SELECT * INTO Cetip_Potencial_ANALItico_HISTORICO FROM Cetip_Potencial_ANALItico	(NOLOCK)

-- 536
SELECT DISTINCT * FROM Cetip_Potencial_ANALItico_HISTORICO	 R (NOLOCK)
-- 538
left join 
(select --o4ativa,o4descr,o4rua,o4cmpt,o4cep,o4bai,o4cid,o4cpfcgc 
o4codorg, o4nome, o4descr, o4rua,o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ
from  CDCSANTANAMicroCredito..torg4 O (NOLOCK) ) as c
on o4cpfcgc= left(r.cnpj,2)+'.'+substring(r.cnpj,3,3)+'.'+substring(r.cnpj,6,3)+'/'+substring(r.cnpj,9,4)+'-'+right(r.cnpj,2)
-- 589
left join
(select OPCODORG4,OPCODORG3 --,OPDTBASE
 from CDCSANTANAMicroCredito..COPER O1 (NOLOCK) ) as o
ON O4CODORG = OPCODORG4
-- 589
left join
(select O3CODORG,O3DESCR,o3codOrgA13 from CDCSANTANAMicroCredito..TORG3 OPE1 (NOLOCK) ) as OPERADOR
ON O3CODORG = OPCODORG3
-- 589
-- AGENTE
left join
(select * from CDCSANTANAMicroCredito..TA1O3 A1 (NOLOCK) ) as A
ON o3codOrgA13 = A13CODORG


