USE SIG

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_POTENCIAL_ANALITICO_CONSULTA' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_ANALITICO_CONSULTA]
GO

CREATE PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_ANALITICO_CONSULTA] (    
 @MesReferencia as varchar(6), @MesATE as varchar(6),    
 @localizar as varchar(200), @CEPDE AS VARCHAR(20), @CEPATE AS VARCHAR(20),@LOJA_ATIVA as varchar(2)     
 ,@AGENTE AS INT    
 )    
AS    
BEGIN    
    
DECLARE @DTINI  DATETIME      
DECLARE @DTFIM  DATETIME      
      
SET @DTINI = DATEADD(MM,-2,CONVERT(DATETIME,@MesReferencia+'01'))      
SET @DTFIM = DATEADD(MM,+1,CONVERT(DATETIME,@MesATE+'01'))      
    
/*    
    
DROP   table aux_scr_potencial_analitico     
create table aux_scr_potencial_analitico (    
MesReferencia varchar(6),    
CNPJ varchar(14),    
Loja_Ativa  varchar(1), --    
Loja        varchar(150), --    
ENDERECO      varchar(400), --    
Complemento varchar(137),    
Numero varchar(10),    
Bairro varchar(100),    
UF varchar(2),    
Cidade varchar(150),    
CEP varchar(8),    
AGENTE        varchar(100), --    
Categoria varchar(1000),    
Segmento varchar(50),    
Consorcio varchar(1),    
TipoPessoa varchar(1),    
Quantidade int,    
Volume decimal (9),    
COD_LOJA VARCHAR(6) )    
*/    
    
TRUNCATE TABLE aux_scr_potencial_analitico    
    
INSERT aux_scr_potencial_analitico    
SELECT     
 MesReferencia    
 ,CNPJ    
 ,'' Loja_Ativa    
 ,'' Loja    
 ,'' Endereco    
 ,'' Complemento     
 ,'' Numero     
 ,'' Bairro     
 ,'' UF    
 ,'' Cidade    
 ,'' CEP     
 ,'' Agente    
 ,Categoria    
 ,Segmento    
 ,Consorcio    
 ,TipoPessoa    
 ,Quantidade    
 ,Volume, ''     
FROM     
 (SELECT * FROM Cetip_Potencial_Analitico (NOLOCK)    
  WHERE  MesReferencia BETWEEN @MesReferencia AND @MesATE ) AS PA    
    
    
UPDATE aux_scr_potencial_analitico     
SET  Loja_Ativa = ISNULL(o4ativa,'')   ,    
  Loja    = ISNULL(o4descr,'')   ,    
  ENDERECO   = ISNULL(o4rua,'') ,    
  Complemento  = ISNULL(o4cmpt,'') ,    
  Bairro = ISNULL(o4bai,'') ,    
  UF      = ISNULL(o4UF ,'') ,    
  Cidade  = ISNULL(o4cid,'') ,    
  CEP     = ISNULL(o4cep,'') ,    
  COD_LOJA = o4codorg    
FROM     
  (select    
  o4codorg, o4nome, o4descr, o4rua,o4cmpt, o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ  , O4UF    
  from  CDCSANTANAMicroCredito..torg4 O (NOLOCK) ) as c      
WHERE o4cpfcgc= left(aux_scr_potencial_analitico.cnpj,2)+'.'+substring(aux_scr_potencial_analitico.cnpj,3,3)+'.'+substring(aux_scr_potencial_analitico.cnpj,6,3)+'/'+substring(aux_scr_potencial_analitico.cnpj,9,4)+'-'+right(aux_scr_potencial_analitico.cnpj,2)      
    
    
-- LOJAS Q NAO SAO SANTANA DA CETIP    
UPDATE aux_scr_potencial_analitico     
SET  Loja     = ISNULL(C.NOMEFANTASIA,'')   ,    
  ENDERECO = ISNULL(C.ENDERECO+','+C.NUMERO,''),    
  COMPLEMENTO = ISNULL(C.COMPLEMENTO,'') ,    
  BAIRRO  = ISNULL(C.BAIRRO,'') ,    
  CIDADE  = ISNULL(C.CIDADE,'') ,    
  UF  = ISNULL(C.UF,'') ,    
  CEP = ISNULL(C.CEP,'')     
FROM     
  (select      
  CNPJ,NOMEFANTASIA, CNAE, ENDERECO,COMPLEMENTO,NUMERO,BAIRRO,CIDADE,UF,CEP    
  from  CETIP_potencial_SINTEtico O (NOLOCK) ) as c        
WHERE C.CNPJ= aux_scr_potencial_analitico.cnpj    
   
UPDATE aux_scr_potencial_analitico     
SET  Loja     = ISNULL(C.RazaoSocial,'')       
FROM     
  (select      
  CNPJ,RazaoSocial,NOMEFANTASIA, CNAE, ENDERECO,COMPLEMENTO,NUMERO,BAIRRO,CIDADE,UF,CEP    
  from  CETIP_potencial_SINTEtico O (NOLOCK) ) as c       
WHERE C.CNPJ= aux_scr_potencial_analitico.cnpj    
  AND RTRIM(aux_scr_potencial_analitico.LOJA) =''        

UPDATE aux_scr_potencial_analitico     
SET  Agente = ISNULL(CONVERT(VARCHAR(10),O3CODORG)+'-'+O3DESCR,'')    
  FROM       (SELECT DISTINCT PPCODORG4,PPCODORG6 FROM  PropWebSmc..CProp  (NOLOCK)      
     WHERE PPDTBASE BETWEEN '20100101' AND @DTFIM ) AS PROP      
  left join      
    (select DISTINCT O6CODORG,O6DESCR,o6codOrg3 from CDCSANTANAMicroCredito..TORG6 OPE1 (NOLOCK) ) as OPERADOR      
    ON O6CODORG = PPCODORG6      
  -- AGENTE      
  left join      
    (select O3CODORG,O3DESCR,O3DTCAD from CDCSANTANAMicroCredito..TORG3 A1 (NOLOCK) ) as A      
    ON OPERADOR.o6codOrg3 = A.O3CODORG       
  WHERE PPCODORG4= COD_LOJA -- o4codorg              
    
SELECT * FROM aux_scr_potencial_analitico (NOLOCK)    
  WHERE  (@localizar = '' or (    
       CNPJ like '%'+@localizar+'%' or     
       LOJA like '%'+@localizar+'%' or    
       ENDERECO   like '%'+@localizar+'%' or -- loja    
           
       BAIRRO   like '%'+@localizar+'%' or -- loja    
       CIDADE   like '%'+@localizar+'%' or -- loja    
       UF      like '%'+@localizar+'%' or -- loja    
    
       AGENTE  like '%'+@localizar+'%' or -- agente    
       CATEGORIA  like '%'+@localizar+'%' or  -- endereco lj    
       Segmento  like '%'+@localizar+'%'   ) )      
  AND  (@CEPDE+@CEPATE = '' or ( CEP BETWEEN @CEPDE AND @CEPATE   ) )    
  AND  (@LOJA_ATIVA = ''    or ( Loja_Ativa =  @LOJA_ATIVA  ) )    
 AND 1=0+ CASE WHEN @AGENTE IN (0,99) THEN 1  -- TODOS    
     WHEN  CHARINDEX('-',AGENTE,1)=0 THEN 0  -- NAO LOCALIZADO AGENTE    
     WHEN LEFT(AGENTE, CHARINDEX('-',AGENTE,1)-1)=@AGENTE  -- AGENTE COD 3 OU 2 POS    
       THEN 1    
     ELSE 0 END     
    
END    