USE SIG

-- EXEC [SCR_CETIP_POTENCIAL_SINTETICO_CONSULTA] '201508',''
/****** Object:  StoredProcedure [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_CONSULTA]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_POTENCIAL_SINTETICO_CONSULTA' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_CONSULTA]
GO

-- ***********
CREATE PROCEDURE [dbo].[SCR_CETIP_POTENCIAL_SINTETICO_CONSULTA] (    
 @MesReferencia as varchar(6),    
 @localizar as varchar(200)    
 ,@AGENTE AS INT    
)    
AS    
BEGIN    
    
DECLARE @DTINI  DATETIME      
DECLARE @DTFIM  DATETIME      
      
SET @DTINI = DATEADD(MM,-1,CONVERT(DATETIME,@MesReferencia+'01'))      
SET @DTFIM = DATEADD(MM,+1,CONVERT(DATETIME,@MesReferencia+'01'))      
    
    
TRUNCATE TABLE AUX_SCR_Cetip_Potencial_Sintetico    
    
INSERT AUX_SCR_Cetip_Potencial_Sintetico    
SELECT    
 MesReferencia     
 ,CNPJ    
 ,Classificacao    
 ,RazaoSocial    
 ,NomeFantasia    
 ,'' Agente    
 ,'' Loja_Ativa    
 ,CNAE    
 ,Endereco    
 ,Complemento    
 ,Numero    
 ,Bairro    
 ,Cidade    
 ,UF    
 ,CEP    
 ,Quantidade    
 ,Volume    
 ,MarketShareQuant    
 ,MarketShareValor    
 ,MarketShareAcimaQuant    
 ,MarketShareAcimaValor    
 ,MarketShareAbaixoQuant    
 ,MarketShareAbaxoValor  , ''     
FROM     
(SELECT * FROM   Cetip_Potencial_Sintetico (NOLOCK)    
  WHERE    MesReferencia = @MesReferencia     
       ) AS PS     

UPDATE AUX_SCR_Cetip_Potencial_Sintetico    
SET  Loja_Ativa  = ISNULL(o4ativa,'')    ,    
  COD_LOJA = ISNULL(o4codorg ,'')     
FROM  (select o4codorg, o4nome, o4descr, o4rua,o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ      
    from CDCSANTANAMicroCredito..torg4 O (NOLOCK) ) as c      
 WHERE o4cpfcgc= LEFT(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,2)+'.'+substring(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,3,3)+'.'+substring(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,6,3)+'/'+substring(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,9,4)+'-'+right(AUX_SCR_Cetip_Potencial_Sintetico.cnpj,2)      
    
UPDATE AUX_SCR_Cetip_Potencial_Sintetico    
SET  Agente  = ISNULL(CONVERT(VARCHAR(10),O3CODORG)+'-'+O3DESCR,'')    
FROM (SELECT DISTINCT PPCODORG4,PPCODORG6 FROM  PropWebSmc..CProp  (NOLOCK)      
    WHERE PPDTBASE BETWEEN @DTINI AND @DTFIM ) AS PROP      
left join      
  (select DISTINCT O6CODORG,O6DESCR,o6codOrg3 from CDCSANTANAMicroCredito..TORG6 OPE1 (NOLOCK) ) as OPERADOR      
  ON O6CODORG = PPCODORG6          
left join      
  (select O3CODORG,O3DESCR,O3DTCAD from CDCSANTANAMicroCredito..TORG3 A1 (NOLOCK) ) as A      
  ON OPERADOR.o6codOrg3 = A.O3CODORG       
WHERE PPCODORG4= COD_LOJA  -- o4codorg      
    
    
SELECT * FROM AUX_SCR_Cetip_Potencial_Sintetico (NOLOCK)    
WHERE    
      (@localizar = '' or (      
       CNPJ like '%'+@localizar+'%' or       
       RazaoSocial like '%'+@localizar+'%' or      
       CNAE    like '%'+@localizar+'%' or      
       Endereco   like '%'+@localizar+'%' or      
       Bairro   like '%'+@localizar+'%' or      
       Cidade   like '%'+@localizar+'%' or      
       NomeFantasia like '%'+@localizar+'%'      
        )   )    
    
 AND 1=0+ CASE WHEN @AGENTE IN (0,99) THEN 1  -- TODOS    
     WHEN  CHARINDEX('-',AGENTE,1)=0 THEN 0  -- NAO LOCALIZADO AGENTE    
     WHEN LEFT(AGENTE, CHARINDEX('-',AGENTE,1)-1)=@AGENTE  -- AGENTE COD 3 OU 2 POS    
       THEN 1    
     ELSE 0 END     
    
END    