USE SIG

/****** Object:  StoredProcedure [dbo].[SCR_CETIP_RANKING_CONSULTA]    Script Date: 02/12/2015 03:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SCR_CETIP_RANKING_CONSULTA' AND type = 'P')
   DROP PROCEDURE [dbo].[SCR_CETIP_RANKING_CONSULTA]
GO

CREATE PROCEDURE [dbo].[SCR_CETIP_RANKING_CONSULTA] (    
 @MesReferencia as varchar(6),    
 @localizar as varchar(200)      
 ,@AGENTE AS INT    
)    
AS     
BEGIN    
    
DECLARE @DTINI  DATETIME    
DECLARE @DTFIM  DATETIME    
    
SET @DTINI = DATEADD(MM,-1,CONVERT(DATETIME,@MesReferencia+'01'))    
SET @DTFIM = DATEADD(MM,+1,CONVERT(DATETIME,@MesReferencia+'01'))    

 SELECT     
  MesReferencia    
  ,CNPJ    
  ,Classificacao    
  ,RazaoSocial    
  ,NomeFantasia    
  ,ISNULL(CONVERT(VARCHAR(10),O3CODORG)+'-'+O3DESCR,'') AS Agente       
 ,ISNULL((select MAX(o4ativa) from  CDCSANTANAMicroCredito..torg4 O (NOLOCK)     
  WHERE o4cpfcgc= left(r.cnpj,2)+'.'+substring(r.cnpj,3,3)+'.'+substring(r.cnpj,6,3)+'/'+substring(r.cnpj,9,4)+'-'+right(r.cnpj,2) ),'')    
  AS Loja_Ativa    
  ,CNAE    
  ,Endereco    
  ,Complemento    
  ,Número    
  ,Bairro    
  ,Cidade    
  ,UF    
  ,CEP    
  ,QuantidadedeBancos    
  ,RankingCliente    
 FROM    
(    

SELECT * FROM   Cetip_Ranking (NOLOCK)    
 WHERE    
  MesReferencia = @MesReferencia       
   ) AS R        
left join     
 (select    
 o4codorg, o4nome, o4descr, o4rua,o4cpfcgc, o4bai, o4cid, o4cep, o4fone, o4codorg3, o4ativa, o4dtdesat, o4dtativ    
 from  CDCSANTANAMicroCredito..torg4 O (NOLOCK) ) as c    
 on o4cpfcgc= left(r.cnpj,2)+'.'+substring(r.cnpj,3,3)+'.'+substring(r.cnpj,6,3)+'/'+substring(r.cnpj,9,4)+'-'+right(r.cnpj,2)    
left join    
 (SELECT DISTINCT PPCODORG4,PPCODORG6 FROM  PropWebSmc..CProp  (NOLOCK)    
  WHERE PPDTBASE BETWEEN @DTINI AND @DTFIM ) AS PROP    
 ON PPCODORG4= o4codorg      
left join    
 (select DISTINCT O6CODORG,O6DESCR,o6codOrg3 from CDCSANTANAMicroCredito..TORG6 OPE1 (NOLOCK) ) as OPERADOR    
 ON O6CODORG = PPCODORG6      
left join    
 (select O3CODORG,O3DESCR,O3DTCAD from CDCSANTANAMicroCredito..TORG3 A1 (NOLOCK) ) as A    
 ON OPERADOR.o6codOrg3 = A.O3CODORG    
 WHERE       
(  @localizar = '' or (    
      CNPJ like '%'+@localizar+'%'   or     
      RazaoSocial like '%'+@localizar+'%'  or    
      NomeFantasia like '%'+@localizar+'%' OR    
      CNAE  like '%'+@localizar+'%'  OR    
      ENDERECO like '%'+@localizar+'%'  OR    
      A.O3DESCR   like '%'+@localizar+'%'      
       )     
)  AND     
   1= 0 + CASE WHEN @AGENTE   IN (0, 99) THEN 1    
      WHEN O3CODORG = @AGENTE  THEN 1    
      ELSE 0 END    

END    