USE SIG
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC scr_base_Renegociados '20170101', '20170120',730,1,3
-- EXEC scr_base_Renegociados '20170101', '20170220',0  --,99,1

-- PROC TELA IP ANALITICO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_base_Renegociados' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_base_Renegociados]
GO

CREATE PROCEDURE [DBO].[SCR_BASE_RENEGOCIADOS]                
  (@DATA_DE AS DATETIME, @DATA_ATE AS DATETIME,@COBRADORA VARCHAR(6), @URA VARCHAR(2)                
   ) AS        
             
BEGIN                    
                    
/*                    
SELECT * FROM  COBR_BASE_RENEG (NOLOCK)                    
                    
SP_HELP PERFORMANCE_HISTORICO                    
                    
CREATE TABLE COBR_BASE_RENEG                    
(                    
CONTRATO varchar(15),                    
PROPOSTA varchar(9),                    
AGENTE varchar(60),                    
CODPROMOTORA varchar(6),                    
PROMOTORA varchar(20),                    
LOJA varchar(60),                    
NOME_CLIENTE varchar(60),                    
CARTEIRA varchar(2),                    
MODALIDADE varchar(3),                    
DATA_CONTRATO smalldatetime,                    
PLANO smallint,                    
PARCELA varchar(3),                    
PRI_VCTO smalldatetime,                    
ATRASO int,                    
Rating varchar(2),                    
SituacaoBacen varchar(2),                    
VENCIMENTO smalldatetime,                    
VLR_PARCELA float,                    
QTD_PARC_ATRASO int,                    
VALOR_RISCO float,                    
VALOR_FINANCIADO float,                    
TAC float,                    
IOC float,                    
CPF_CNPJ varchar(18),                    
RG varchar(16),                    
ENDERECO varchar(43),                    
BAIRRO varchar(25),                    
CIDADE varchar(40),                    
CEP varchar(8),                    
UF varchar(2),                    
TELEFONE varchar(20),                    
CELULAR varchar(15),                    
FONE_COMERCIAL varchar(20),                    
LOCAL_TRABALHO varchar(40),                    
REFERENCIA1 varchar(20),                    
REFERENCIA2 varchar(20),                    
VALORBEM float,                    
MARCA varchar(20),                    
MODELO varchar(80),                    
ANO_FABRIC varchar(4),                    
ANO_MODELO varchar(4),                    
COR varchar(15),                    
PLACA varchar(7),                    
COBRADORA varchar(24),                    
SERASA varchar(3),                    
OCORRENCIA varchar(258),                    
REGRA varchar(61),                    
BLOQUEIO smalldatetime,                    
DESBLOQUEIO smalldatetime,                    
FAIXA varchar(50),                    
GRUPO varchar(50),                    
RENAVAM varchar(50),                    
CHASSI varchar(50),                    
QTDPAGAR int,                    
PROFISSAO varchar(100),                    
CARGO varchar(100),                    
COD_AGENTE varchar(50),                    
PARCELAS_PAGAS int,                    
FAIXA_RATING varchar(50),                    
SALDOINSC float,                    
DATA_REF smalldatetime,                    
DATA_PAGAMENTO smalldatetime,                    
RECEBIDO varchar(1),                    
VALORREC float,                    
CODCOBRADORA int ,                    
CONTRATO_ORIG varchar(20),                    
CODLOJA   varchar(20),                    
CODCLI   varchar(20)  )                    
                    
CREATE INDEX COBR_BASE_RENEG_IDX1 ON COBR_BASE_RENEG (CONTRATO)                    
                    
PARCELA,                    
*/                    
                    
-- EM CASO DE REPROCESSAMENTO, PRECISA MATAR                    
-- DROP TABLE #TEMP                    
                    
TRUNCATE  TABLE COBR_BASE_RENEG                    
INSERT    COBR_BASE_RENEG                     
   (CONTRATO,PROPOSTA, -- AGENTE,                     
  CODPROMOTORA, CODLOJA,   CODCLI,MODALIDADE, DATA_CONTRATO, PLANO,                      
   PRI_VCTO,VENCIMENTO,VLR_PARCELA,                    
  VALOR_FINANCIADO,TAC, IOC, CPF_CNPJ)                    
SELECT         distinct                     
                opNROPER , --AS CONTRATO,                                      
              OPNRPROP,                     
                    
    --CODPROMOTORA , CODLOJA                    
    --OPCODORG3,                  
     OPCODORG6, --Alterado Tiago           
     OPCODORG4,                    
                    
    -- CODCLI  , MODALIDADE , DATA_CONTRATO, PLANO                     
    OPCODCLI,                    
                OPCODOP ,       
                OPDTBASE ,                                      
                OPQTDDPARC ,                                    
                    
                -- PRI_VCTO ,VENCIMENTO, VLR_PARCELA                     
       OPDT1VCTO,               OPDTVCTO,                         
                opvlrparc ,                                       
                    
              --  VALOR_FINANCIADO ,  TAC  , IOC                     
    OPVLRFIN ,                          
                OPTAC ,                                      
                OPIOC    ,                    
    OPCODCLI                    
                    
-- SELECT '000' AS COBRADORA,REPLICATE(' ',100) AS COBRADORA_DESCR,'                ' AS CONTRATO_ORIG,'     ' AS ULT_PARCELA, O.* INTO #TEMP                    
 FROM CDCSANTANAMicroCredito..COPER O (NOLOCK)                     
--,   CDCSANTANAMicroCredito..CPARC P (NOLOCK)                     
 WHERE -- PRODUCAO DA RENEG                    
  OPDTBASE BETWEEN @data_DE  AND @data_ATE             
  AND OPCODOP IN (SELECT M.COD_MODA                    
     FROM Ttipo_prod T (NOLOCK), TModa_tipo_prod M (NOLOCK)                      
       WHERE M.COD_PROD = T.COD_PROD                     
        AND T.COD_MODALIDADE = M.COD_MODALIDADE                     
        AND T.COD_PROD IN ('R') )  -- OUTROS PRODUTOS DO FUNCAO                    
  AND O.OPDTLIQ IS  NULL  -- CONTRATO EM ABERTO                    
/*  AND O.OPNROPER = P.PANROPER  -- CONTRATO                    
  AND P.PANRPARC = ( SELECT MAX(P1.PANRPARC)                     
       FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)                     
       WHERE P1.PANROPER = O.OPNROPER )                    
  AND P.PADTLIQ IS  NULL -- ULTIMA EM ABERTO                    
*/                    
                    
                    
-- AJUSTA O  CONTRATO_ORIG   
   --NOVAS RENEGS
UPDATE  COBR_BASE_RENEG                    
 SET  CONTRATO_ORIG = LEFT(CONTRATO, LEN( CONTRATO)-2)+'A'                    
 WHERE RIGHT(CONTRATO ,2) = 'AB'                   
  AND 1= (SELECT COUNT(*) FROM CDCSANTANAMicroCredito..COPER O1 (NOLOCK)                    
   WHERE O1.OPNROPER= COBR_BASE_RENEG.CONTRATO )   
UPDATE  COBR_BASE_RENEG                    
 SET  CONTRATO_ORIG = LEFT(CONTRATO, LEN( CONTRATO)-2)+'A'                    
 WHERE RIGHT(CONTRATO ,2) = 'AC'                   
  AND 1= (SELECT COUNT(*) FROM CDCSANTANAMicroCredito..COPER O1 (NOLOCK)                    
   WHERE O1.OPNROPER= COBR_BASE_RENEG.CONTRATO )       
UPDATE  COBR_BASE_RENEG                    
 SET  CONTRATO_ORIG = LEFT(CONTRATO, LEN( CONTRATO)-2)+'B'                    
 WHERE RIGHT(CONTRATO ,2) = 'BC'                   
  AND 1= (SELECT COUNT(*) FROM CDCSANTANAMicroCredito..COPER O1 (NOLOCK)                    
   WHERE O1.OPNROPER= COBR_BASE_RENEG.CONTRATO )    
UPDATE  COBR_BASE_RENEG                    
 SET  CONTRATO_ORIG = LEFT(CONTRATO, LEN( CONTRATO)-2)+'C'                    
 WHERE RIGHT(CONTRATO ,2) = 'CD'                    
  AND 1= (SELECT COUNT(*) FROM CDCSANTANAMicroCredito..COPER O1 (NOLOCK)                    
   WHERE O1.OPNROPER= COBR_BASE_RENEG.CONTRATO )      
UPDATE  COBR_BASE_RENEG                    
 SET  CONTRATO_ORIG = LEFT(CONTRATO, LEN( CONTRATO)-2)+'D'                    
 WHERE RIGHT(CONTRATO ,2) = 'DE'                  
  AND 1= (SELECT COUNT(*) FROM CDCSANTANAMicroCredito..COPER O1 (NOLOCK)                    
   WHERE O1.OPNROPER= COBR_BASE_RENEG.CONTRATO )     
UPDATE  COBR_BASE_RENEG                    
 SET  CONTRATO_ORIG = LEFT(CONTRATO, LEN( CONTRATO)-2)+'E'                    
 WHERE RIGHT(CONTRATO ,2) = 'EF'                    
  AND 1= (SELECT COUNT(*) FROM CDCSANTANAMicroCredito..COPER O1 (NOLOCK)                    
   WHERE O1.OPNROPER= COBR_BASE_RENEG.CONTRATO )     
UPDATE  COBR_BASE_RENEG                    
 SET  CONTRATO_ORIG = LEFT(CONTRATO, LEN( CONTRATO)-2)+'F'                    
 WHERE RIGHT(CONTRATO ,2) = 'FG'                   
  AND 1= (SELECT COUNT(*) FROM CDCSANTANAMicroCredito..COPER O1 (NOLOCK)                    
   WHERE O1.OPNROPER= COBR_BASE_RENEG.CONTRATO )                                   
                    
UPDATE  COBR_BASE_RENEG                    
 SET  CONTRATO_ORIG = LEFT(CONTRATO, LEN( CONTRATO)-1)                    
 WHERE RIGHT(CONTRATO ,1) = 'A'-- 1A RENEG                    
  AND 1= (SELECT COUNT(*) FROM CDCSANTANAMicroCredito..COPER O1 (NOLOCK)                    
   WHERE O1.OPNROPER= COBR_BASE_RENEG.CONTRATO )                    
UPDATE  COBR_BASE_RENEG                    
 SET  CONTRATO_ORIG = LEFT(CONTRATO, LEN( CONTRATO)-1)+'A'                    
 WHERE RIGHT(CONTRATO ,1) = 'B' AND RIGHT(CONTRATO,2) <> 'AB'-- 2A RENEG                    
  AND 1= (SELECT COUNT(*) FROM CDCSANTANAMicroCredito..COPER O1 (NOLOCK)                    
   WHERE O1.OPNROPER= COBR_BASE_RENEG.CONTRATO )                    
UPDATE  COBR_BASE_RENEG                    
 SET  CONTRATO_ORIG = LEFT(CONTRATO, LEN( CONTRATO)-1)+'B'                    
 WHERE RIGHT(CONTRATO ,1) = 'C' AND RIGHT(CONTRATO,2) NOT IN ('BC','AC') -- 3A RENEG                    
  AND 1= (SELECT COUNT(*) FROM CDCSANTANAMicroCredito..COPER O1 (NOLOCK)                    
   WHERE O1.OPNROPER= COBR_BASE_RENEG.CONTRATO )                    
UPDATE  COBR_BASE_RENEG                    
 SET  CONTRATO_ORIG = LEFT(CONTRATO, LEN( CONTRATO)-1)+'C'                    
 WHERE RIGHT(CONTRATO ,1) = 'D' AND RIGHT(CONTRATO,2) <> 'CD' -- 4A RENEG                    
  AND 1= (SELECT COUNT(*) FROM CDCSANTANAMicroCredito..COPER O1 (NOLOCK)                    
   WHERE O1.OPNROPER= COBR_BASE_RENEG.CONTRATO )  
                     
                    
-- AJUSTA O  ULT_PARCELA                    
UPDATE  COBR_BASE_RENEG                    
 SET  PARCELA = ISNULL((SELECT  MIN(PANRPARC) AS PARC                    
    FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)                    
    WHERE P1.PANROPER= COBR_BASE_RENEG.CONTRATO_ORIG -- CONTRATO ORIGINAL LIQUIDADO NA RENEG                   
     AND P1.PADTLIQ = COBR_BASE_RENEG.DATA_CONTRATO  ),'000')                    
                     
/*PARC                    
 FROM (SELECT  PANROPER,MIN(PANRPARC) AS PARC                    
    FROM CDCSANTANAMicroCredito..CPARC P1 (NOLOCK)                    
    WHERE P1.PANROPER= #TEMP.OPNROPER -- CONTRATO ORIGINAL LIQUIDADO NA RENEG                    
     AND P1.PADTLIQ = #TEMP.OPDTBASE                     
    GROUP BY  P1.PANROPER) AS P                    
 WHERE  #TEMP.OPNROPER = P.PANROPER  */                    
                     
                    
                    
-- AJUSTA A COBRADORA DO CONTRATO_ORIG E ULT PARC          
UPDATE  COBR_BASE_RENEG                    
 SET  CODCOBRADORA =         
   ISNULL((SELECT LCCODACOB                       
     FROM GESTORCOB .. ELCCB WITH (NOLOCK)                         
     WHERE LcNrOper = CONTRATO_ORIG  AND LCNRPARC=PARCELA            
     --AND  LCCODMOVR2 IN (101 ,105) -- BAIXADA                    
     AND  LCDTMOV = (SELECT MAX(C1.LCDTMOV)  -- BX MAIS ANTIGA                    
      FROM GESTORCOB .. ELCCB C1 WITH (NOLOCK)                         
      WHERE  C1.lcNrOper = CONTRATO_ORIG  AND C1.LCNRPARC=PARCELA                    
       AND  C1.LCCODMOVR2 IN (101 ,105)) -- BAIXADA                    
  AND  LCCNTRL = (SELECT MAX(C1.LCCNTRL)  --ALTERADO TIAGO 23/07            
     FROM GESTORCOB .. ELCCB C1 WITH (NOLOCK)                         
     WHERE  C1.lcNrOper = CONTRATO_ORIG  AND C1.LCNRPARC=PARCELA                    
     AND  C1.LCCODMOVR2 IN (101 ,105))    
  AND LCDTMOV >= DATA_CONTRATO-- alterado Tiago 20/09/18      
       )  ,'')                     
-- WHERE COBRADORA =''                    
                    
-- AJUSTA A COBRADORA DO CONTRATO_ORIG E ULT PARC                    
UPDATE  COBR_BASE_RENEG                    
 SET CODCOBRADORA = ISNULL((SELECT LCCODACOB                       
     FROM GESTORCOB .. ELCCB WITH (NOLOCK)                         
     WHERE  lcNrOper = CONTRATO_ORIG  AND LCNRPARC=PARCELA                    
      AND  LCCODMOVR2 IN (101 ,105) -- BAIXADA                    
      AND  LCDTMOV = (SELECT MIN(C1.LCDTMOV)  -- BX MAIS ANTIGA                    
        FROM GESTORCOB .. ELCCB C1 WITH (NOLOCK)                         
        WHERE  C1.lcNrOper = CONTRATO_ORIG  AND C1.LCNRPARC=PARCELA                    
         AND  C1.LCCODMOVR2 IN (101 ,105)) -- BAIXADA                    
   AND LCDTMOV >= DATA_CONTRATO -- alterado Tiago 20/09/18    
          )  ,'')                     
 WHERE CODCOBRADORA =''                    
                    
-- AJUSTA A COBRADORA DO CONTRATO_ORIG E ULT PARC  SEM INDICACAO PAGA                    
UPDATE  COBR_BASE_RENEG                    
 SET  CODCOBRADORA = ISNULL((SELECT LCCODACOB                       
    FROM GESTORCOB .. ELCCB WITH (NOLOCK)                         
    WHERE  lcNrOper = CONTRATO_ORIG                      
     AND  LCNRPARC=(SELECT MAX(C1.LCNRPARC)  -- BX MAIS ANTIGA                    
     FROM GESTORCOB .. ELCCB C1 WITH (NOLOCK)                         
     WHERE  C1.lcNrOper = CONTRATO_ORIG )                    
    -- AND  LCNRPARC=ULT_PARCELA AND  LCCODMOVR2 IN (101 ,105) -- BAIXADA, O Q TIVER                    
    AND  LCDTMOV = (SELECT MAX(C1.LCDTMOV)  -- BX MAIS ANTIGA                    
     FROM GESTORCOB .. ELCCB C1 WITH (NOLOCK)                         
     WHERE  C1.lcNrOper = CONTRATO_ORIG )    
  AND LCDTMOV <= DATA_CONTRATO   -- alterado Tiago 20/09/18                 
    --AND C1.LCNRPARC=ULT_PARCELA AND  C1.LCCODMOVR2 IN (101 ,105)) -- BAIXADA                    
         )  ,'')                     
 WHERE CODCOBRADORA =''                               
        
-- ALTERADO EM 05/09/2018  *************        
-- LIMPA OS CONTRATOS SE A SELEÇÃO DE COBRADORA FOR DIFERENTE  DA SELECIONADA                  
IF @cobradora <> '0'        
BEGIN        
   DELETE FROM COBR_BASE_RENEG WHERE CODCOBRADORA <> @COBRADORA         
END        
               
-- ATUALIZA DADOS DOS CLIENTES                    
UPDATE COBR_BASE_RENEG                     
SET  RG=       CLRG ,                                      
  NOME_CLIENTE = CLNOMECLI,                    
        ENDERECO= CLENDCOB ,                                      
        BAIRRO=   CLBAICOB ,                                      
        CIDADE=   CLCIDCOB ,                                      
        CEP=      CLCEPFIS ,                                      
  UF=       CLUFCOB ,                                      
        TELEFONE= CLFONEFIS ,                                      
        CELULAR=  CLCELULAR ,                                      
        FONE_COMERCIAL=        CLFONECOM ,                                      
        LOCAL_TRABALHO=        CLEMPTRBL ,                                      
        REFERENCIA1=        CLFONERF1 ,                                      
        REFERENCIA2=        CLFONERF2 ,                    
                    
    PROFISSAO=CLPROFI   ,                              
    CARGO=CLCARGO                       
  FROM CDCSANTANAMicrocredito .. cclie  (NOLOCK)                    
 where CODCLI= ClCODCLI                    
                    
                    
-- DESCR COBRADORA                    
UPDATE  COBR_BASE_RENEG                    
 SET  COBRADORA = LEFT( ISNULL((SELECT CODESCR FROM TCOBRADORA (NOLOCK) WHERE COCOD=CODCOBRADORA),''),100)                    
                    
-- CARTEIRA                    
UPDATE  COBR_BASE_RENEG                     
 SET     CARTEIRA= TOCODCART                     
 FROM    CDCSANTANAMicrocredito .. tmoda WITH (NOLOCK)                    
 where ToCodOp = MODALIDADE  -- opcodop                                      
                    
-- ATUALIZA DADOS DOS CONTRATOS DO BEM E GARANTIA                    
UPDATE COBR_BASE_RENEG                     
SET  VALORBEM    =    ABVLRVND ,                                    
        MARCA=     ABCODMARCA ,                                      
  MODELO = ABMODELO ,                                 
  ANO_FABRIC = ABANOFAB  ,                                      
  ANO_MODELO = ABANOMOD ,                                      
  COR = ABCOR ,                                      
  PLACA= ABPLACA ,                               
  RENAVAM = ABRENAVAM ,                               
  CHASSI =ABCHASSI                      
-- SELECT TOP 200 *                     
FROM    CDCSANTANAMicroCredito..CBFIN B (NOLOCK)                                            
WHERE ABNROPER = CONTRATO                                 
 AND ABCNTRL = ( SELECT   MAX(ABCNTRL) FROM     CDCSANTANAMicroCredito..CBFIN B1 (NOLOCK)                   
 -- ALTERADO EM 23/11/2016  PB NO JOB DIARIO, 1 CONTRATO 612265783 COM ABNRGAR MA                    
      WHERE B1.ABNROPER = B.ABNROPER  AND B1.ABNRGAR IN ('01','1' ) )                    
--CONVERT(INT,B1.ABNRGAR)=1  )  AND CONVERT(INT,ABNRGAR) = 1                    
 AND ABNRGAR  IN ('01','1' )                    
                    
                    
-- ATUALIZA DADOS DOS CONTRATOS DO BEM E GARANTIA  ********** DO ORIGIN                    
UPDATE COBR_BASE_RENEG                     
SET  VALORBEM    =    ABVLRVND ,                                    
        MARCA=     ABCODMARCA ,                                      
  MODELO = ABMODELO ,                                      
  ANO_FABRIC = ABANOFAB  ,                                      
ANO_MODELO = ABANOMOD ,                                      
  COR = ABCOR ,                                      
  PLACA= ABPLACA ,                               
  RENAVAM = ABRENAVAM ,                               
  CHASSI =ABCHASSI                      
-- SELECT TOP 200 *                     
FROM    CDCSANTANAMicroCredito..CBFIN B (NOLOCK)                                            
WHERE MODELO IS NULL -- ***** NAO LOCALIZOU NO RENEG, TENTO NO ORIGINAL                    
 AND ABNROPER = CONTRATO_ORIG  -- ****                                 
 AND ABCNTRL = ( SELECT   MAX(ABCNTRL) FROM     CDCSANTANAMicroCredito..CBFIN B1 (NOLOCK)                     
 -- ALTERADO EM 23/11/2016  PB NO JOB DIARIO, 1 CONTRATO 612265783 COM ABNRGAR MA                    
      WHERE B1.ABNROPER = B.ABNROPER  AND B1.ABNRGAR IN ('01','1' ) )                    
--CONVERT(INT,B1.ABNRGAR)=1  )  AND CONVERT(INT,ABNRGAR) = 1                  
 AND ABNRGAR  IN ('01','1' )                    
                    
                    
-- ATUALIZA DADOS DO OPERADOR ********* CODPROMOTORA COM OPERADOR                    
--Alterado Tiago                  
UPDATE COBR_BASE_RENEG                     
SET     PROMOTORA  =     O6DESCR ,                    
  COD_AGENTE = O6CODORG3-- SELECT *                     
FROM    CDCSANTANAMicrocredito .. TORG6 O  (NOLOCK)                    
WHERE O.O6CODORG = CODPROMOTORA                    
                    
              -- ATUALIZA DADOS DA LOJA                    
UPDATE COBR_BASE_RENEG                     
SET     LOJA= O4CODORG + '-' + O4NOME                                      
FROM    CDCSANTANAMicrocredito .. TORG4 O  (NOLOCK)                    
WHERE O.O4CODORG = CODLOJA                    
                    
                    
-- ATUALIZA DADOS DO AGENTE , OPERADOR  *******************                    
--Alterado Tiago                    
UPDATE COBR_BASE_RENEG                     
SET     AGENTE= O.O3DESCR   --, COD_AGENTE = O.A13CODORG   -- SELECT *                    
FROM  CDCSANTANAMicrocredito .. TORG3  O (NOLOCK)                    
WHERE O.O3CODORG = COBR_BASE_RENEG.COD_AGENTE                    
                    
                    
 DECLARE @DT_PDD DATETIME                    
SET @DT_PDD = (select MAX(Csdtref)         
  From BacenSantanaMicrocredito .. Eclas Y1  WITH (NOLOCK)                      
  Where y1.Csdtref  <=   @data_ATE      )                    
                    
-- ALTERA  DADOS DO BACEN                    
 UPDATE   COBR_BASE_RENEG                     
 SET   SituacaoBacen = CSCODNIV,                                    
    VALOR_RISCO =CSVLRINSC , --, QTD_PARC_ATRASO =                    
   RATING = CSCODNIV,            SALDOINSC   = CSVLRINSC                      
  FROM  (select * from BacenSantanaMicrocredito .. Eclas Y1  WITH (NOLOCK)                                  
    where y1.Csdtref = @DT_PDD      ) as Y                    
 WHERE COBR_BASE_RENEG.CONTRATO_ORIG = Y.CSNROPER                                                                           
                    
                    
-- select MAX(Csdtref) from BacenSantanaMicrocredito .. Eclas Y1  WITH (NOLOCK) where y1.Csdtref  <= '20170131'                     
-- select * from BacenSantanaMicrocredito .. Eclas Y1  WITH (NOLOCK) where y1.Csdtref  <= '20170131'                     
-- select * from RATING_HISTORICO Y1  WITH (NOLOCK)                    
IF  @DT_PDD IS NULL -- NAO LOCALIZOU, TENTA NO SIG                    
BEGIN                    
 -- ULTIMA PDD                    
 SET @DT_PDD = (select MAX(DT_FECHA) from RATING_HISTORICO Y1  WITH (NOLOCK)  )                    
     --  where y1.DT_FECHA  <=   @data_ATE      )                    
                    
 -- ALTERA  DADOS DO BACEN                    
  UPDATE   COBR_BASE_RENEG                     
  SET   SituacaoBacen = NVL_RISCO,                                    
   RATING = NVL_RISCO,            SALDOINSC   = SLD_INSCRITO,                         
     VALOR_RISCO   = SLD_INSCRITO --, QTD_PARC_ATRASO =                    
  FROM  (select * from RATING_HISTORICO Y1  WITH (NOLOCK)                                  
     where y1.DT_FECHA = @DT_PDD      ) as Y                    
  WHERE COBR_BASE_RENEG.CONTRATO_ORIG = Y.NUM_OPE                                                                           
END                    
                    
-- IP E PDD ATUAL                    
DECLARE @DT_IP DATETIME                    
SET  @DT_IP =  (select MAX(DATA_REF) from PERFORMANCE_HISTORICO Y1  WITH (NOLOCK)       )                           
     -- where y1.DATA_REF <= @DATA_ATE      )                    
                    
-- DECLARE @DT_IP DATETIME SET @DT_IP ='20170131'                    
DECLARE @DT_IP_INI DATETIME                    
SET  @DT_IP_INI =  CONVERT(VARCHAR(4),DATEPART(YYYY,@DT_IP))+RIGHT('00'+LTRIM(CONVERT(VARCHAR(2),DATEPART(MM,@DT_IP))),2)+'01'                    
-- SELECT @DT_IP_INI                    
                    
                    
                    
 -- ALTERA  DADOS DO IP                    
 -- DECLARE @DT_IP DATETIME SET @DT_IP ='20170131' DECLARE @DT_IP_INI DATETIME SET @DT_IP_INI ='20170101'                    
  UPDATE   COBR_BASE_RENEG                     
  SET  PARCELAS_PAGAS = Y.PARCELAS_PAGAS,                                    
    DATA_REF = Y.DATA_REF,                                     
    DATA_PAGAMENTO   = Y.DATA_PAGAMENTO,                    
    RECEBIDO=Y.RECEBIDO, VALORREC=Y.RECEBIDO,                    
    FAIXA=Y.FAIXA,SERASA=Y.SERASA, OCORRENCIA=Y.OCORRENCIA, REGRA =Y.REGRA, BLOQUEIO=Y.BLOQUEIO,                     
    DESBLOQUEIO = Y.DESBLOQUEIO, GRUPO=Y.GRUPO, QTD_PARC_ATRASO = Y.QTD_PARC_ATRASO,                     
    ATRASO = Y.ATRASO, TAC=Y.TAC                    
    , VENCIMENTO = Y.VENCIMENTO                    
, PARCELA = Y.PARCELA                    
 --, QTD_PARC_ATRASO =                    
FROM  (select * from PERFORMANCE_HISTORICO Y1  WITH (NOLOCK)                                  
       where y1.DATA_REF BETWEEN @DT_IP_INI AND  @DT_IP                     
-- ULTIMO ENVIO                    
-- NAO PAGA                    
    AND Y1.VENCIMENTO = (SELECT MIN(Y2.VENCIMENTO)                      
       from PERFORMANCE_HISTORICO Y2  WITH (NOLOCK)                                  
       where y2.DATA_REF BETWEEN @DT_IP_INI AND  @DT_IP                    
       AND Y2.CONTRATO=Y1.CONTRATO AND Y2.DATA_PAGAMENTO IS NULL)                       
   ) as Y                    
  WHERE COBR_BASE_RENEG.CONTRATO_ORIG = Y.CONTRATO                     
--and COBR_BASE_RENEG.PARCELA = Y.PARCELA                    
                    
-- NAO PAGAMENTO PELO FUNCAO MAIS SIMPLES                    
  --UPDATE   COBR_BASE_RENEG                     
  --SET  PARCELA= 0                    
                    
  --UPDATE  COBR_BASE_RENEG  -- MENOR NAO PAGA                    
  --SET  PARCELA= ISNULL((SELECT MIN (PANRPARC)                    
  -- FROM  CDCSANTANAMicroCredito..CPARC B1 (NOLOCK)                     
  --WHERE  COBR_BASE_RENEG.CONTRATO = PANROPER                    
  --AND PADTVCTO <=@DT_IP                    
  --AND PADTLIQ IS NULL),0)                    
                    
  UPDATE  COBR_BASE_RENEG  -- MENOR NAO PAGA                    
  SET  VENCIMENTO= PADTVCTO, ATRASO = DATEDIFF(D,PADTVCTO,@DT_IP)                    
   FROM  CDCSANTANAMicroCredito..CPARC B1 (NOLOCK)                     
  WHERE   PANROPER= COBR_BASE_RENEG.CONTRATO                    
  AND PANRPARC=COBR_BASE_RENEG.PARCELA               
            
  UPDATE COBR_BASE_RENEG          
 SET VENCIMENTO = Y.PADTVCTO         
  FROM (SELECT DISTINCT P.PADTVCTO,P.PANROPER         
    FROM CDCSANTANAMICROCREDITO..CPARC P (NOLOCK)           
    WHERE P.PADTLIQ IS NULL          
    AND P.PANRPARC = (SELECT MIN(P1.PANRPARC)         
        FROM CDCSANTANAMICROCREDITO..CPARC P1 (NOLOCK)        
        WHERE P1.PANROPER = P.PANROPER AND P1.PADTLIQ IS NULL))         
        AS Y          
 WHERE COBR_BASE_RENEG.CONTRATO = Y.PANROPER         
  AND DATA_REF IS NULL AND DATA_PAGAMENTO IS NULL          
  
--ALTERADO TIAGO 20/09/2018  
UPDATE COBR_BASE_RENEG          
SET VENCIMENTO = Y.PADTVCTO         
FROM (SELECT DISTINCT P.PADTVCTO,P.PANROPER         
FROM CDCSANTANAMICROCREDITO..CPARC P (NOLOCK)           
WHERE P.PADTLIQ IS NULL          
AND P.PANRPARC = (SELECT MIN(P1.PANRPARC)         
FROM CDCSANTANAMICROCREDITO..CPARC P1 (NOLOCK)        
WHERE P1.PANROPER = P.PANROPER AND P1.PADTLIQ IS NULL)  
AND P.PACNTRL = (SELECT MAX(P1.PACNTRL) FROM CDCSANTANAMICROCREDITO..CPARC  P1 (NOLOCK) WHERE P1.PANROPER = P.PANROPER))        
AS Y          
WHERE COBR_BASE_RENEG.CONTRATO = Y.PANROPER    
  
                
SELECT -- *                     
  CONTRATO,                    
  PARCELA,                    
  ISNULL(DATA_REF,'') AS  DATA_REF,                    
  ISNULL(DATA_PAGAMENTO,'') AS DATA_PAGAMENTO,                    
  ISNULL(RECEBIDO,0)  AS RECEBIDO,                    
  ISNULL(VALORREC,0.0) AS VALORREC,                    
  ISNULL(CODCOBRADORA,0) AS CODCOBRADORA,                    
  ISNULL(NOME_CLIENTE,'') AS NOME_CLIENTE,                    
  ISNULL(CARTEIRA,0) AS CARTEIRA,                    
  ISNULL(MODALIDADE,0) AS MODALIDADE,                    
  ISNULL(DATA_CONTRATO,'') AS  DATA_CONTRATO,                    
  ISNULL(PLANO,0) AS PLANO,                    
  ISNULL(ATRASO,0) AS ATRASO,                    
  ISNULL(VENCIMENTO,'') AS  VENCIMENTO,                    
  ISNULL(VLR_PARCELA,0) AS VLR_PARCELA,                    
  ISNULL(QTD_PARC_ATRASO,0) AS QTD_PARC_ATRASO,                    
  ISNULL(VALOR_FINANCIADO,0) AS VALOR_FINANCIADO,                    
  ISNULL(TAC,0) AS TAC,                    
  ISNULL(IOC,0) AS IOC,                    
  ISNULL(CPF_CNPJ,'') AS  CPF_CNPJ,                    
  ISNULL(RG,'') AS  RG,                    
  ISNULL(ENDERECO,'') AS  ENDERECO,                    
  ISNULL(BAIRRO,'') AS  BAIRRO,                    
  ISNULL(CIDADE,'') AS  CIDADE,                    
  ISNULL(CEP,'') AS  CEP,                    
  ISNULL(UF,'') AS  UF,                     
  ISNULL(TELEFONE,'') AS  TELEFONE,                    
  ISNULL(CELULAR,'') AS CELULAR,                    
  ISNULL(FONE_COMERCIAL,'') AS FONE_COMERCIAL,                    
  ISNULL(LOCAL_TRABALHO,'') AS LOCAL_TRABALHO,                    
  ISNULL(VALORBEM,0) AS VALORBEM,                    
  ISNULL(MARCA,'')   AS MARCA,                    
  ISNULL(MODELO,'')   AS MODELO,                    
  ISNULL(ANO_FABRIC,'')   AS ANO_FABRIC,                    
  ISNULL(ANO_MODELO,'')   AS ANO_MODELO,                    
  ISNULL(COBRADORA,'')    AS COBRADORA,                    
  ISNULL(REGRA,'')  AS REGRA,                    
  ISNULL(BLOQUEIO,'')  AS BLOQUEIO,                    
  ISNULL(DESBLOQUEIO,'')  AS DESBLOQUEIO,                    
  ISNULL(FAIXA,'')  AS FAIXA,                    
  ISNULL(QTDPAGAR,0)     AS QTDPAGAR,                    
  ISNULL(PROFISSAO,'')    AS PROFISSAO,                    
  ISNULL(CARGO,'')  AS CARGO,                    
  ISNULL(RATING,'')     AS RATING ,                    
     ISNULL(valor_risco,0.0) AS valor_risco                    
-- FROM COBR_HISTORICO (NOLOCK)  select *                    
 FROM COBR_BASE_RENEG (NOLOCK)                    
 WHERE --DATA_REF  BETWEEN @data_DE AND @data_ATE  AND                     
   1= 1+ CASE                     
        WHEN @COBRADORA = 0 THEN 0                    
      WHEN CODCOBRADORA = @COBRADORA AND @COBRADORA <> 0 THEN 0                    
        ELSE 1 END         
  AND 1= 0+ CASE WHEN  @URA='0' THEN 1 -- TODAS OS AGENTES      
      WHEN  @URA<>'0' AND CARTEIRA = '75' THEN 1              
      ELSE  0   END                      
                    
/*                    
  AND 1= 1+ CASE WHEN @RECEBIDO=1 AND RECEBIDO = @RECEBIDO AND @RECEBIDO <> 99 THEN 0                    
        WHEN @RECEBIDO=0 AND RECEBIDO  IN ('',0)  AND @RECEBIDO <> 99 THEN 0                     
        WHEN @RECEBIDO = 99 THEN 0                    
        ELSE 1 END                    
                    
  AND 1= 1+ CASE WHEN LTRIM(LEFT(@FAIXA,2)) =                     
    --LTRIM(LEFT(FAIXA,1)+SUBSTRING(FAIXA,2,1))                     
     LTRIM(LEFT(FAIXA,1))+(CASE WHEN SUBSTRING(FAIXA,2,1)='-' THEN ''                    
      ELSE SUBSTRING(FAIXA,2,1) END )                    
  AND @FAIXA <> 0 THEN 0                    
        WHEN @FAIXA = 0 THEN 0                    
        WHEN @FAIXA = 99 THEN 0                    
        ELSE 1 END                    
*/                    
                    
                    
/*            
SELECT --TOP 100 *                     
--LTRIM(LEFT(FAIXA,1))+(CASE WHEN SUBSTRING(FAIXA,2,1)='-' THEN '' ELSE SUBSTRING(FAIXA,2,1) END ) AS FX,                    
  CONTRATO,                    
  PARCELA,                    
  ISNULL(DATA_REF,'') AS  DATA_REF,                    
  ISNULL(DATA_PAGAMENTO,'') AS DATA_PAGAMENTO,                    
  ISNULL(RECEBIDO,0)  AS RECEBIDO,                    
  ISNULL(VALORREC,0.0) AS VALORREC,                    
 ISNULL(CODCOBRADORA,0) AS CODCOBRADORA,                    
  ISNULL(NOME_CLIENTE,'') AS NOME_CLIENTE,                    
  ISNULL(CARTEIRA,0) AS CARTEIRA,                    
  ISNULL(MODALIDADE,0) AS MODALIDADE,                    
  ISNULL(DATA_CONTRATO,'') AS  DATA_CONTRATO,                    
  ISNULL(PLANO,0) AS PLANO,                   
  ISNULL(ATRASO,0) AS ATRASO,                    
  ISNULL(VENCIMENTO,'') AS  VENCIMENTO,                    
  ISNULL(VLR_PARCELA,0) AS VLR_PARCELA,                    
  ISNULL(QTD_PARC_ATRASO,0) AS QTD_PARC_ATRASO,                    
  ISNULL(VALOR_FINANCIADO,0) AS VALOR_FINANCIADO,                    
  ISNULL(TAC,0) AS TAC,                    
  ISNULL(IOC,0) AS IOC,                    
  ISNULL(CPF_CNPJ,'') AS  CPF_CNPJ,                    
  ISNULL(RG,'') AS  RG,                    
  ISNULL(ENDERECO,'') AS  ENDERECO,                    
  ISNULL(BAIRRO,'') AS  BAIRRO,                    
  ISNULL(CIDADE,'') AS  CIDADE,                    
  ISNULL(CEP,'') AS  CEP,                    
  ISNULL(UF,'') AS  UF,                     
  ISNULL(TELEFONE,'') AS  TELEFONE,                    
  ISNULL(CELULAR,'') AS CELULAR,                    
  ISNULL(FONE_COMERCIAL,'') AS FONE_COMERCIAL,                    
  ISNULL(LOCAL_TRABALHO,'') AS LOCAL_TRABALHO,                    
  ISNULL(VALORBEM,0) AS VALORBEM,                    
  ISNULL(MARCA,'')   AS MARCA,           
  ISNULL(MODELO,'')   AS MODELO,                    
  ISNULL(ANO_FABRIC,'')   AS ANO_FABRIC,                    
  ISNULL(ANO_MODELO,'')   AS ANO_MODELO,                    
  ISNULL(COBRADORA,'')    AS COBRADORA,                    
  ISNULL(REGRA,'')  AS REGRA,                    
  ISNULL(BLOQUEIO,'')  AS BLOQUEIO,                    
  ISNULL(DESBLOQUEIO,'')  AS DESBLOQUEIO,                    
  ISNULL(FAIXA,'')  AS FAIXA,                    
  ISNULL(QTDPAGAR,0)     AS QTDPAGAR,                    
  ISNULL(PROFISSAO,'')    AS PROFISSAO,                    
  ISNULL(CARGO,'')     AS CARGO                    
 FROM COBR_HISTORICO (NOLOCK)                    
 WHERE DATA_REF  BETWEEN @data_DE AND @data_ATE                    
  AND 1= 1+ CASE WHEN CODCOBRADORA = @COBRADORA AND @COBRADORA <> 0 THEN 0                    
        WHEN @COBRADORA = 0 THEN 0                    
        ELSE 1 END                    
  AND 1= 1+ CASE WHEN @RECEBIDO=1 AND RECEBIDO = @RECEBIDO AND @RECEBIDO <> 99 THEN 0                    
        WHEN @RECEBIDO=0 AND RECEBIDO  IN ('',0)  AND @RECEBIDO <> 99 THEN 0                     
        WHEN @RECEBIDO = 99 THEN 0                    
      ELSE 1 END                    
                    
  AND 1= 1+ CASE WHEN LTRIM(LEFT(@FAIXA,2)) =                     
--LTRIM(LEFT(FAIXA,1)+SUBSTRING(FAIXA,2,1))                     
LTRIM(LEFT(FAIXA,1))+(CASE WHEN SUBSTRING(FAIXA,2,1)='-' THEN ''                    
 ELSE SUBSTRING(FAIXA,2,1) END )                    
AND @FAIXA <> 0 THEN 0                    
        WHEN @FAIXA = 0 THEN 0                    
        WHEN @FAIXA = 99 THEN 0                    
        ELSE 1 END                    
                    
*/                    
                    
END 
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

