
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios
Use SIG
go

-- exec [scr_IP_COBRADORA] '20140706','',''

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_IP_COBRADORA' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_IP_COBRADORA]
GO


CREATE Procedure [dbo].[scr_IP_COBRADORA] (@data_ref as datetime, @agente varchar(6), @cobradora varchar(6)) AS
BEGIN


select 
			[Data_REF] AS			 [DT_FECHA]

               ,'' AS [AGENTE]



               ,[COBRADORA]

               ,1 AS [ORDEM_LINHA]

               ,'' AS [FORMATO]

				--FAIXA as 'CLASSE DE ATRASO',
               ,[FAIXA] AS [DESCRICAO]


--		VLR_PARC AS 'ESTOQUE DE PARC.',
               ,ROUND([VLR_PARC], 2) [B_PERC]

--		VLR_REC AS 'VALOR REC. PARC' ,PRC_REC*100.0 AS 'T%'

               ,ROUND([VLR_REC], 2) [C_PERC]

               ,ROUND([PRC_REC]*100.0, 2) [D_PERC]

-- REMOVER AS OUTRAS COLUNAS
               ,0.0 [E_PERC]

               ,0.0 [F_PERC]

               ,0.0 [G_PERC]

               ,0.0 [H_PERC]

               ,0.0 [TTL_QTDE]

               ,0.0 [TTL_SALDO]


			,0 ORDEM


from  PERFORMANCE_CALC   (NOLOCK)
	where  data_ref =( @data_ref )

-- INCLUI FILTRO DE COBRADORA PARA TELA EM 6/3/17  ****************
	AND	1=0 + CASE WHEN		@cobradora='0' 
							-- 699 690 722 730  ALTERADO JUL-15 .   720 para 710 em  7/3/17
								AND (( cod_cobradora in (  710,725)  -- INCLUI 725 GRB-PA EM 22/2/17
										OR cod_cobradora in (select CoCOD from tcobradora (nolock) where CoTela = 1 ))
								AND  rating in ('B','C','D','E','F','G','H','hh','T') 
										-- INCLUI 725 GRB-PA EM 22/2/17
-- inclui hh em 7/3/17
-- inclui hh em 17/7/17 *******
								or   (cod_cobradora in ( 710, 725) and rating in ('A','B','C','D','E','F','G','H','hh','T') ))

							THEN 1
-- inclui hh em 7/3/17
-- inclui hh em 17/7/17 *******
					WHEN (@cobradora<>'0' AND cod_cobradora= @cobradora) AND  (rating in ('B','C','D','E','F','G','H','hh','T') 
					or   (cod_cobradora in ( 710, 725) and rating in ('A','B','C','D','E','F','G','H','hh','T') )  )  
							THEN 1
					ELSE 0	END


-- ANTES DE JUL-15
--	AND (cod_cobradora in ( 690,699,  720, 722) and rating in ('B','C','D','E','F','G','H','T') 
--	or   (cod_cobradora in ( 710) and rating in ('A','B','C','D','E','F','G','H','T') ))


/*
-- ALTERADO 25/08/2017	**************************** SUB TOTAL POR COBRADORA
-- ACRESCENTA O SUB TTL DA COBRADORA
UNION
select 
			[Data_REF] AS			 [DT_FECHA]

               ,'' AS [AGENTE]

			 -- DESCRICAO DOS SUBTTLS AGRUPADOS
			, CASE	WHEN LEFT(COBRADORA,5)='UNIAO'	  THEN 'SUBTTL UNIAO COBRAN€AS'
					WHEN LEFT(COBRADORA,6)='RENNOV'   THEN 'SUBTTL RENNOV'
					WHEN LEFT(COBRADORA,4)='GRB '	  THEN 'SUBTTL GRB'
					--   alterado 31/10/16   **************  nova cobradora
					WHEN LEFT(COBRADORA,3)='ICR'	  THEN 'SUBTTL ICR'
					ELSE 'SUBTTL '+COBRADORA			END  AS [COBRADORA]
--               ,'CARTEIRA' AS [COBRADORA]

               ,9 AS [ORDEM_LINHA]

               ,'' AS [FORMATO]

				--FAIXA as 'CLASSE DE ATRASO',
               ,[FAIXA] AS [DESCRICAO]


--		VLR_PARC AS 'ESTOQUE DE PARC.',
               ,ROUND(SUM([VLR_PARC]), 2) [B_PERC]

--		VLR_REC AS 'VALOR REC. PARC' ,PRC_REC*100.0 AS 'T%'

               ,ROUND(SUM([VLR_REC]), 2) [C_PERC]

               ,ROUND(SUM([VLR_REC])/SUM([VLR_PARC])*100.0, 2) [D_PERC]

-- REMOVER AS OUTRAS COLUNAS
               ,0.0 [E_PERC]

               ,0.0 [F_PERC]

               ,0.0 [G_PERC]

               ,0.0 [H_PERC]

               ,0.0 [TTL_QTDE]

               ,0.0 [TTL_SALDO]


			,9 ORDEM


from  PERFORMANCE_CALC   (NOLOCK)
	where  data_ref =( @data_ref )
	-- SEM RENNOV PA 710 	AND cod_cobradora in ( 690,699,  720, 722)   -- antes de jul-15
	--
	-- 699 690 722 730  ALTERADO JUL-15  *************************
	AND ( cod_cobradora in (  720,725)   -- INCLUI 725 GRB-PA EM 22/2/17
			OR cod_cobradora in (select CoCOD from tcobradora (nolock) where CoTela = 1 ))
	AND  rating in ('B','C','D','E','F','G','H','HH','T') 
-- inclui hh em 17/7/17 *******


	GROUP BY [Data_REF] 
			, CASE	WHEN LEFT(COBRADORA,5)='UNIAO'	  THEN 'SUBTTL UNIAO COBRAN€AS'
					WHEN LEFT(COBRADORA,6)='RENNOV'   THEN 'SUBTTL RENNOV'
					WHEN LEFT(COBRADORA,4)='GRB '	  THEN 'SUBTTL GRB'
					--   alterado 31/10/16   **************  nova cobradora
					WHEN LEFT(COBRADORA,3)='ICR'	  THEN 'SUBTTL ICR'
					ELSE 'SUBTTL '+COBRADORA			END 
			,[FAIXA] 
*/


-- rennov pa rating a e b
--ORDER BY cobradora, rating
-- INCLUI 722= GRBC

-- ACRESCENTA O TTL
UNION
select 
			[Data_REF] AS			 [DT_FECHA]

               ,'' AS [AGENTE]



               ,'CARTEIRA' AS [COBRADORA]

               ,9 AS [ORDEM_LINHA]

               ,'' AS [FORMATO]

				--FAIXA as 'CLASSE DE ATRASO',
               ,[FAIXA] AS [DESCRICAO]


--		VLR_PARC AS 'ESTOQUE DE PARC.',
               ,ROUND(SUM([VLR_PARC]), 2) [B_PERC]

--		VLR_REC AS 'VALOR REC. PARC' ,PRC_REC*100.0 AS 'T%'

               ,ROUND(SUM([VLR_REC]), 2) [C_PERC]

               ,ROUND(SUM([VLR_REC])/SUM([VLR_PARC])*100.0, 2) [D_PERC]

-- REMOVER AS OUTRAS COLUNAS
               ,0.0 [E_PERC]

               ,0.0 [F_PERC]

               ,0.0 [G_PERC]

               ,0.0 [H_PERC]

               ,0.0 [TTL_QTDE]

               ,0.0 [TTL_SALDO]


			,9 ORDEM


from  PERFORMANCE_CALC   (NOLOCK)
	where  data_ref =( @data_ref )
	-- SEM RENNOV PA 710 	AND cod_cobradora in ( 690,699,  720, 722)   -- antes de jul-15
	--
	-- 699 690 722 730  ALTERADO JUL-15  *************************
	AND ( cod_cobradora in (  720,725)   -- INCLUI 725 GRB-PA EM 22/2/17
			OR cod_cobradora in (select CoCOD from tcobradora (nolock) where CoTela = 1 ))
	AND  rating in ('B','C','D','E','F','G','H','HH','T') 
-- inclui hh em 17/7/17 *******


	GROUP BY [Data_REF] ,[FAIXA] 



-- inclui em 8/3/17  ************** a pedido da Fernanda 
-- ACRESCENTA O TTL DAS FXS A E HH
UNION
select 
			[Data_REF] AS			 [DT_FECHA]

               ,'' AS [AGENTE]



               ,'SANTANA' AS [COBRADORA]

               ,9 AS [ORDEM_LINHA]

               ,'' AS [FORMATO]

				--FAIXA as 'CLASSE DE ATRASO',
               ,[FAIXA] AS [DESCRICAO]


--		VLR_PARC AS 'ESTOQUE DE PARC.',
               ,ROUND(SUM([VLR_PARC]), 2) [B_PERC]

--		VLR_REC AS 'VALOR REC. PARC' ,PRC_REC*100.0 AS 'T%'

               ,ROUND(SUM([VLR_REC]), 2) [C_PERC]

               ,ROUND(SUM([VLR_REC])/SUM([VLR_PARC])*100.0, 2) [D_PERC]

-- REMOVER AS OUTRAS COLUNAS
               ,0.0 [E_PERC]

               ,0.0 [F_PERC]

               ,0.0 [G_PERC]

               ,0.0 [H_PERC]

               ,0.0 [TTL_QTDE]

               ,0.0 [TTL_SALDO]


			,9 ORDEM


from  PERFORMANCE_CALC   (NOLOCK)
	where  data_ref =( @data_ref )
	-- SEM RENNOV PA 710 	AND cod_cobradora in ( 690,699,  720, 722)   -- antes de jul-15
	--
	-- 699 690 722 730  ALTERADO JUL-15  *************************
	AND ( cod_cobradora in (  710,725)   -- INCLUI 725 GRB-PA EM 22/2/17, ALTEREI 720 PARA 710
			OR cod_cobradora in (select CoCOD from tcobradora (nolock) where CoTela = 1 ))
	AND  rating in ('A','HH') 
GROUP BY [Data_REF] ,[FAIXA] 



--ORDER BY cobradora, rating
-- INCLUI 722= GRBC
-- SELECT * from  PERFORMANCE_CALC   (NOLOCK)	where  data_ref ='20140720' AND cod_cobradora in ( 690,699, 710, 720) and rating in ('B','C','D','E','F','G','H','T') 


--  from		SIG_IP_VLR_VIEW p (NOLOCK)
--	WHERE	DaTa_ref = ( @data_ref )
--	order by ORDEM ASC , ORDEM_LINHA ASC
--  select * from PERFORMANCE_CALC			
-- INSERT TCOBRADORA SELECT 2,	723,	'GRB JURIDICO',	1,	0

/*
NO PERFORMANCE_CALC JAH ESTAO SOMADOS OS JURIDICOS DAS 3 COBRADORAS
CASE	WHEN CODCOBRADORA= 693 THEN 690 -- UNIAO
				WHEN CODCOBRADORA= 711 THEN 699 -- RENNOV
				WHEN CODCOBRADORA= 723 THEN 722 -- GRB + GRB JURIDICO
				ELSE CODCOBRADORA		END,	-- COD COBRADORA	
*/
END


GO
