USE SIG
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC scr_AR '20151001', '20151031'
-- SP_HELP AR_HISTORICO

-- SELECT * FROM AR_SEGMENTO
-- SELECT * FROM AR_NUM_CARTA
-- SELECT * FROM AR_RETORNO
-- SELECT * FROM AR_MOTIVO

-- PROC TELA scr_AR  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_AR' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_AR]
GO

CREATE Procedure [dbo].[scr_AR]
		(@data_DE as datetime, @data_ATE as datetime 			) AS
BEGIN

--		DECLARE @data_DE as datetime, @data_ATE as datetime SET @data_DE='20151001' SET  @data_ATE= '20151031'
SELECT	Data_Mov,
CODigo,
Tipo_Registro,
Sequencia,
Sistema,
Segmento,
(SELECT S.DESCR FROM AR_SEGMENTO S (NOLOCK) WHERE S.COD = SEGMENTO ) AS DESCR_SEGMENTO,

Documento,
Contrato,
Valor,
Data_Vcto_Debito,
Data_Inclusao_Debito,
Dt_Envio_Carta,
Dt_Agendam_Carta,
Tipo_Carta,
No_Carta,
(SELECT S.DESCR FROM AR_NUM_CARTA S (NOLOCK) WHERE S.COD = No_Carta ) AS DESCR_NUM_CARTA,

NSU_Carta,
Dt_Retorno_Correio,
Cod_Retorno,
(SELECT S.DESCR FROM AR_RETORNO S (NOLOCK) WHERE convert(int,S.COD) = convert(int,Cod_Retorno) ) AS DESCR_RETORNO,

Motivo_Devolucao,
(SELECT S.DESCR FROM AR_MOTIVO  S (NOLOCK) WHERE convert(int,S.COD) = convert(int,Motivo_Devolucao) ) AS DESCR_MOTIVO_DEVOL,

Cod_Cliente,
Endereco,
Bairro,
Cidade,
UF,
CEP,
Reservado,
Controle,
ISNULL(RIGHT('000'+RTRIM((SELECT R.COD_FC		FROM AR_ocorrencia_de_para R (NOLOCK) WHERE convert(int,R.Cod_Retorno) = CONVERT(INT,AR.COD_RETORNO))),3),'')    AS FC_COD,
ISNULL((SELECT R.OCORRENCIA_FC FROM AR_ocorrencia_de_para R (NOLOCK) WHERE convert(int,R.Cod_Retorno) = convert(int,AR.COD_RETORNO)),'') AS FC_DESCR


--TOP 100 * 
--LTRIM(LEFT(FAIXA,1))+(CASE WHEN SUBSTRING(FAIXA,2,1)='-' THEN ''	ELSE SUBSTRING(FAIXA,2,1) END ) AS FX,
/*
		CONTRATO,

		CPF_CNPJ,
		NOME_CLIENTE,

		FAIXA,
		CODCOBRADORA,
		COBRADORA,
		--PARCELA,
		DATA_REF
	INTO	#AUX_URA	*/
	FROM	AR_HISTORICO  AR (NOLOCK)
	WHERE	DATA_MOV  BETWEEN @data_DE AND @data_ATE
END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

-- SELECT * FROM PERFORMANCE_HISTORICO (NOLOCK) WHERE	CONTRATO='10711622' AND DATA_REF BETWEEN '20151001' AND '20151030'
-- SELECT * FROM GESTORCOB..ELCCB  (NOLOCK) WHERE	LCNROPER='10711622' AND LCDTMOV BETWEEN '20151001' AND '20151030'
-- SELECT * FROM TCOBRADORA (NOLOCK)
-- 690	UNIAO COBRAN€AS			691	RENNOV SERVI€OS
-- 730  MOPC 731 UNIONCOBRA  510 CRISMICO