USE SIG
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC scr_URA_GERARarquivo '20151001', '20151031'

-- PROC TELA scr_URA_GERARarquivo  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_URA_GERARarquivo' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_URA_GERARarquivo]
GO

CREATE Procedure [dbo].[scr_URA_GERARarquivo]
		(@data_DE as datetime, @data_ATE as datetime
			) AS
BEGIN

--		DECLARE @data_DE as datetime, @data_ATE as datetime SET @data_DE='20151001' SET  @data_ATE= '20151031'
SELECT	DISTINCT
--TOP 100 * 
--LTRIM(LEFT(FAIXA,1))+(CASE WHEN SUBSTRING(FAIXA,2,1)='-' THEN ''	ELSE SUBSTRING(FAIXA,2,1) END ) AS FX,

		CONTRATO,

		CPF_CNPJ,
		NOME_CLIENTE,

		FAIXA,
		CODCOBRADORA,
		COBRADORA,
		--PARCELA,
		DATA_REF
	INTO	#AUX_URA
	FROM	PERFORMANCE_HISTORICO (NOLOCK)
	WHERE	DATA_REF  BETWEEN @data_DE AND @data_ATE
		AND RECEBIDO <> 1 -- PAGAS NAO VAO P/ URA
		AND (CODCOBRADORA IN (SELECT COCOD FROM	TCOBRADORA (NOLOCK) WHERE COTELA=1)
		OR	 CODCOBRADORA IN (  691, 730, 731, 510 , 735) )   -- inclui 735= icr em 6/jan/17
-- 690	UNIAO COBRAN€AS	NAO
--		691	RENNOV SERVI€OS  -- 730  MOPC 731 UNIONCOBRA  510 CRISMICO  SIM

-- SELECT * FROM #AUX_URA
SELECT	DISTINCT
		CONTRATO,

		ISNULL(CPF_CNPJ,'') AS CPF_CNPJ,
		ISNULL(NOME_CLIENTE,'') AS NOME_CLIENTE,

		ISNULL(FAIXA,'') AS FAIXA,
		ISNULL(CODCOBRADORA,'') AS CODCOBRADORA,
		ISNULL(COBRADORA,'') AS COBRADORA  --,*
	FROM	#AUX_URA AS U
	WHERE	DATA_REF = (SELECT MAX(DATA_REF) FROM	#AUX_URA AS URA2
						WHERE	U.CONTRATO = URA2.CONTRATO )
						--	AND	U.PARCELA  = URA2.PARCELA)
	AND	CODCOBRADORA = (SELECT MAX(CODCOBRADORA) FROM	#AUX_URA AS URA3
						WHERE	U.CONTRATO = URA3.CONTRATO )
--  AND CONTRATO = '61634734'
END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

-- SELECT * FROM PERFORMANCE_HISTORICO (NOLOCK) WHERE	CONTRATO='10711622' AND DATA_REF BETWEEN '20151001' AND '20151030'
-- SELECT * FROM GESTORCOB..ELCCB  (NOLOCK) WHERE	LCNROPER='10711622' AND LCDTMOV BETWEEN '20151001' AND '20151030'
-- SELECT * FROM TCOBRADORA (NOLOCK)
-- 690	UNIAO COBRAN€AS			691	RENNOV SERVI€OS
-- 730  MOPC 731 UNIONCOBRA  510 CRISMICO