USE SIG
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC scr_IP_ANALITICO '20150501', '20150520',730,1,3
-- EXEC scr_IP_ANALITICO '20150501', '20150520',0,1,0
-- EXEC scr_IP_ANALITICO '20150501', '20150520',0,1,3

-- PROC TELA IP ANALITICO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_IP_ANALITICO' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_IP_ANALITICO]
GO

CREATE Procedure [dbo].[scr_IP_ANALITICO]
		(@data_DE as datetime, @data_ATE as datetime,@cobradora varchar(6),	 
		 @RECEBIDO INT, @FAIXA VARCHAR(100)
			) AS
BEGIN

SELECT --TOP 100 * 
--LTRIM(LEFT(FAIXA,1))+(CASE WHEN SUBSTRING(FAIXA,2,1)='-' THEN ''	ELSE SUBSTRING(FAIXA,2,1) END ) AS FX,
		CONTRATO,
		PARCELA,
		ISNULL(DATA_REF,'') AS  DATA_REF,
		ISNULL(DATA_PAGAMENTO,'') AS DATA_PAGAMENTO,
		ISNULL(RECEBIDO,0)  AS RECEBIDO,
		ISNULL(VALORREC,0.0) AS VALORREC,
		ISNULL(CODCOBRADORA,0) AS CODCOBRADORA,
		ISNULL(NOME_CLIENTE,'') AS NOME_CLIENTE,
		ISNULL(CARTEIRA,0) AS CARTEIRA,
		ISNULL(MODALIDADE,0) AS MODALIDADE,
		ISNULL(DATA_CONTRATO,'') AS  DATA_CONTRATO,
		ISNULL(PLANO,0) AS PLANO,
		ISNULL(ATRASO,0) AS ATRASO,
		ISNULL(VENCIMENTO,'') AS  VENCIMENTO,
		ISNULL(VLR_PARCELA,0) AS VLR_PARCELA,
		ISNULL(QTD_PARC_ATRASO,0) AS QTD_PARC_ATRASO,
		ISNULL(VALOR_FINANCIADO,0) AS VALOR_FINANCIADO,
		ISNULL(TAC,0) AS TAC,
		ISNULL(IOC,0) AS IOC,
		ISNULL(CPF_CNPJ,'') AS  CPF_CNPJ,
		ISNULL(RG,'') AS  RG,
		ISNULL(ENDERECO,'') AS  ENDERECO,
		ISNULL(BAIRRO,'') AS  BAIRRO,
		ISNULL(CIDADE,'') AS  CIDADE,
		ISNULL(CEP,'') AS  CEP,
		ISNULL(UF,'') AS  UF,	
		ISNULL(TELEFONE,'') AS  TELEFONE,
		ISNULL(CELULAR,'') AS CELULAR,
		ISNULL(FONE_COMERCIAL,'') AS FONE_COMERCIAL,
		ISNULL(LOCAL_TRABALHO,'') AS LOCAL_TRABALHO,
		ISNULL(VALORBEM,0) AS VALORBEM,
		ISNULL(MARCA,'')   AS MARCA,
		ISNULL(MODELO,'')   AS MODELO,
		ISNULL(ANO_FABRIC,'')   AS ANO_FABRIC,
		ISNULL(ANO_MODELO,'')   AS ANO_MODELO,
		ISNULL(COBRADORA,'')    AS COBRADORA,
		ISNULL(REGRA,'')		AS REGRA,
		ISNULL(BLOQUEIO,'')		AS BLOQUEIO,
		ISNULL(DESBLOQUEIO,'')  AS DESBLOQUEIO,
		ISNULL(FAIXA,'')		AS FAIXA,
		ISNULL(QTDPAGAR,0)	    AS QTDPAGAR,
		ISNULL(PROFISSAO,'')    AS PROFISSAO,
		ISNULL(CARGO,'')	    AS CARGO
	FROM PERFORMANCE_HISTORICO (NOLOCK)
	WHERE	DATA_REF  BETWEEN @data_DE AND @data_ATE
		AND 1= 1+ CASE WHEN CODCOBRADORA = @COBRADORA AND @COBRADORA <> 0 THEN 0
					   WHEN	@COBRADORA = 0 THEN 0
					   ELSE 1 END
		AND 1= 1+ CASE WHEN @RECEBIDO=1 AND RECEBIDO = @RECEBIDO AND @RECEBIDO <> 99 THEN 0
					   WHEN @RECEBIDO=0 AND RECEBIDO  IN ('',0)  AND @RECEBIDO <> 99 THEN 0	
					   WHEN	@RECEBIDO = 99 THEN 0
					   ELSE 1 END

		AND 1= 1+ CASE WHEN LTRIM(LEFT(@FAIXA,2)) = 
--LTRIM(LEFT(FAIXA,1)+SUBSTRING(FAIXA,2,1)) 
LTRIM(LEFT(FAIXA,1))+(CASE WHEN SUBSTRING(FAIXA,2,1)='-' THEN ''
	ELSE SUBSTRING(FAIXA,2,1) END )
AND @FAIXA <> 0 THEN 0
					   WHEN	@FAIXA = 0 THEN 0
					   WHEN	@FAIXA = 99 THEN 0
					   ELSE 1 END

END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

