
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[scr_RR_diario_DETALHE]
		(@data_ref as datetime, @agente varchar(6), @cobradora varchar(6),	 
		 @linha INT, @coluna_classe VARCHAR(3)
			) AS
BEGIN

-- LIMPA TABELA AUXILIAR
DELETE FROM TAUX_CONTRATO


/*
if @linha = 1
begin
		-- saldo inicial

end
*/

if @linha = 1		-- SALDO INICIAL
begin
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from	RR_prj_CONTRATO_2M  R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			AND NVL_RISCO = @coluna_classe
END

if @linha = 2		-- ENTRADAS
begin
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from	RR_prj_CONTRATO_2M  R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end

			and ENTRA = 1
			AND NVL_RISCO = @coluna_classe
END

if @linha = 3		-- RECUPERA
begin
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from RR_prj_CONTRATO_2M   R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			and RECUPERA  = 1
			AND NVL_RISCO = @coluna_classe

/*
-- insere os liquidados q estavam na faixa no mes anterior
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from RATING_HISTORICO   R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			and RECUPERA  = 1
			AND NVL_RISCO = @coluna_classe
*/
END

if @linha = 4		-- ROLA
begin
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from RR_prj_CONTRATO_2M   R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			and ROLA	  = 1
			AND NVL_RISCO = @coluna_classe
END
			
if @linha = 5
begin
		-- saldo FINAL
	INSERT	TAUX_CONTRATO
		(	CONTRATO,
			PARCELA_ABERTO,
			VENCIMENTO,
			ATRASO,
		 	SALDO_INSCRITO
			)
	select	NUM_OPE ,
			PARC,
			VENCTO,
			ATRASO,
			SLD_INSCRITO
	 from RR_prj_CONTRATO_2M   R	(NOLOCK) 
		WHERE	 DT_FECHA = @data_ref		--mes da linha
			and	1=1+case	when @agente='TODOS'  then 0   -- todos
						when  @agente<>'TODOS' and agente   = @agente then 0
						else  1
						end
			and	1=1+case	when @cobradora='TODOS' then 0       -- todos
							when  @cobradora<>'TODOS' and  cobradora = @cobradora then 0
							else  1
							end
			AND NVL_RISCO = @coluna_classe

end


UPDATE TAUX_CONTRATO
SET
			CPF_CNPJ		= OPCODCLI,
			DATA_CONTRATO	= OPDTBASE,
			PLANO			= OPQTDDPARC,
			COD_CLI			= OPCODCLI,
		 	VLR_FINANCIADO	= OPVLRFIN,
			PARC_PAGAS		= OPPARCLIQ,
			COD_OPERADOR    = OPCODORG3,  -- OPERADOR
			VLR_PARCELA		= OPVLRPARC
-- SELECT TOP 10 *			
FROM		CDCSANTANAMicroCredito..COPER O (NOLOCK) 
	WHERE	OPNROPER=CONTRATO


UPDATE TAUX_CONTRATO
SET
			NOME_CLIENTE= CLNOMECLI,
			CPF_CNPJ	= CLCGC,
			PROFISSAO	= CLPROFI,
			CARGO		= CLCARGO
-- SELECT TOP 10 *			
FROM		CDCSANTANAMicroCredito..CCLIE O (NOLOCK) 
	WHERE
			COD_CLI	= CLCODCLI


-- ***************************** COBRADORA
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
UPDATE	TAUX_CONTRATO
SET		COD_COB		= COBR.LCCODACOB
FROM	(
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
		SELECT LCNROPER,LCCODACOB FROM GESTORCOB..ELCCB E (NOLOCK)
			WHERE   LCNROPER IN (SELECT CONTRATO FROM TAUX_CONTRATO)
				AND LCNRPARC = (SELECT MAX(LCNRPARC) 
								FROM GESTORCOB..ELCCB AUX (NOLOCK)
								WHERE AUX.LCNROPER= E.LCNROPER
								AND LCDTVCTO <= @DATA_REF)   ) AS COBR
WHERE	TAUX_CONTRATO.CONTRATO = COBR.LCNROPER

/*  INNER JOIN GESTORCOB..AOPER A 
		ON	 AONROPER = LCNROPER 
		AND	 AOCODPRD = LCCODPRD --AND AOCODBACK = '01'
SELECT * FROM TAUX_CONTRATO
SELECT * FROM	GESTORCOB..ELCCB E WHERE LCNROPER = '612132422'
  INNER JOIN GESTORCOB..TACOB C ON C.ACCODACOB = E.LCCODACOB  
  INNER JOIN CDCSANTANAMicroCredito..COPER O ON O.OPNROPER=E.LCNROPER 
  INNER JOIN CDCSANTANAMicroCredito..CPARC P ON P.PANROPER = E.LCNROPER AND P.PANRPARC = E.LCNRPARC  
SELECT * FROM	TCOBRADORA
SELECT * FROM	Torg3_agente
*/

-- NOME DA COBRADORA ********************	
UPDATE	TAUX_CONTRATO
SET		COBRADORA		= ISNULL(CODESCR,'')
FROM	TCOBRADORA
WHERE	COD_COB = COCOD

UPDATE	TAUX_CONTRATO
SET		COBRADORA		= ''
WHERE	COBRADORA IS NULL


-- COD DO AGENTE ********************	
UPDATE	TAUX_CONTRATO
SET		TAUX_CONTRATO.COD_AGENTE		= A.COD_AGENTE
FROM	Torg3_agente	A (NOLOCK)
WHERE	COD_PROMOTORA = COD_OPERADOR
-- NOME DO AGENTE ********************	
UPDATE	TAUX_CONTRATO
SET		AGENTE		= ISNULL(AGDESCR,'')
FROM	TAGENTE
WHERE	COD_AGENTE = AGCOD



/*
	AGENTE,

	COD_AGE			VARCHAR(20)

			PRIMEIRO_VCTO = ,


	COD_COB			VARCHAR(20),
	COBRADORA,
	
	QTD_PARC_ATRASO,

-- VEICULOS	
MARCA,
	MODELO,
	ANO_FABRIC,

*/
-- PARCELAS ************************
UPDATE	TAUX_CONTRATO
SET		PRIMEIRO_VCTO = P.PADTVCTO
FROM	CDCSANTANAMicroCredito..CPARC P (NOLOCK)
WHERE	CONTRATO = P.PANROPER
	AND	PANRPARC=1
-- PARCELAS EM ATRASO ************************
-- DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
--   DECLARE @DATA_REF SMALLDATETIME SET @DATA_REF ='2014-02-27'
UPDATE	TAUX_CONTRATO
SET		QTD_PARC_ATRASO = ISNULL(QTDE,0)
FROM
	(SELECT		PANROPER,COUNT(*) AS QTDE
			FROM	CDCSANTANAMicroCredito..CPARC AUX (NOLOCK)
			WHERE	AUX.PANROPER	IN (SELECT CONTRATO
										FROM TAUX_CONTRATO)
				AND	AUX.PADTVCTO <= @DATA_REF   -- VENCIDOS
				AND (AUX.PADTLIQ IS NULL		-- NAO PAGOS
				OR	 AUX.PADTLIQ >  @DATA_REF )  -- PAGOS APOS A DT REF		
				AND AUX.PACNTRL = (SELECT MAX(PACNTRL)
							FROM	CDCSANTANAMicroCredito..CPARC A (NOLOCK)
							WHERE	A.PANROPER= AUX.PANROPER
								AND A.PANRPARC= AUX.PANRPARC  )
			GROUP BY PANROPER) P
WHERE	PANROPER = CONTRATO



-- VEICULOS	
-- SELECT TOP 100 * FROM CDCSANTANAMicroCredito..CBFIN
UPDATE	TAUX_CONTRATO
SET		MODELO		= ISNULL(ABMODELO,''),
		ANO_FABRIC  = ISNULL(ABANOFAB,''),
		MARCA		= '' ,
		COD_VEIC    = ISNULL(ABCODMARCA,'')
FROM	CDCSANTANAMicroCredito..CBFIN V (NOLOCK)
WHERE	CONTRATO = ABNROPER
	AND	ABNRGAR='01'
	AND ABCNTRL = (SELECT	MAX(ABCNTRL) 
					FROM	CDCSANTANAMicroCredito..CBFIN V1 (NOLOCK)
					WHERE	V1.ABNROPER = CONTRATO)
-- SELECT TOP 100 * FROM CDCSANTANAMicroCredito..TMODEL

/*
MARCA,
	MODELO,
	ANO_FABRIC,
  INNER JOIN CDCSANTANAMicroCredito..COPER O ON O.OPNROPER=E.LCNROPER 
select top 10 * from  CDCSANTANAMicroCredito..COPER
opdt1vencto,



SELECT contrato as panroper, '' as opdtbase, '' as regiao,'' as o1descr,
		nome_cliente as clnomecli,

		cpf_cnpj as clcgc,
		'' clfonefis,
		'' clfonecom,
		'' as codempregador,
	'' as o4nome,
data_contrato as padtvcto,
primeiro_vcto as padtvcto1,
COBRADORA,
'' DT_ENVIO_COBR,
0 ENVIO_EST_NOV,
'' O2DESCR,
'' O3DESCR,
'' Modalidade,
ano_fabric AbAnoFab,
modelo AbModelo,
0.0 PDD,
'' MATRICULA
*/
--select *		
SELECT CONTRATO 

      ,[CPF_CNPJ]

      ,[NOME_CLIENTE]

      ,[AGENTE]

      ,[COBRADORA]

      ,Convert(varchar, [DATA_CONTRATO], 103) [DATA_CONTRATO]

      ,Convert(varchar, [PLANO]) [PLANO]

      ,Convert(varchar, [PARCELA_ABERTO]) [PARCELA_ABERTO]

      ,Convert(varchar, [PRIMEIRO_VCTO], 103) [PRIMEIRO_VCTO]

      ,Convert(varchar, [ATRASO]) [ATRASO]

      ,Convert(varchar, [VENCIMENTO], 103) [VENCIMENTO]

      ,Convert(varchar, [VLR_PARCELA]) [VLR_PARCELA]

      ,Convert(varchar, [QTD_PARC_ATRASO]) [QTD_PARC_ATRASO]

      ,Convert(varchar, [SALDO_INSCRITO]) [SALDO_INSCRITO]

      ,Convert(varchar, [VLR_FINANCIADO]) [VLR_FINANCIADO]

      ,[MARCA]

      ,[MODELO]

      ,[ANO_FABRIC]

      ,Convert(varchar, [PARC_PAGAS]) [PARC_PAGAS]

      ,[PROFISSAO]

      ,[CARGO]

      ,[COD_CLI]

      ,[COD_COB]

      ,cod_Agente as [COD_AGE]

  FROM [dbo].[TAUX_CONTRATO]


-- select * FROM TAUX_CONTRATO
END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

