
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--use SF_relatorios
Use SIG
go

/*
 EXEC [dbo].[scr_INDICE_PERFORMANCE]  '2014-06-18',0,0
 EXEC [dbo].[scr_RR_DIARIO]  '2014-05-03', '0','0'
 EXEC [dbo].[scr_RR_DIARIO]  '2014-03-20', '0','0'

SELECT * from		RR_ROLLRATE_DIA_RPT 
*/

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_INDICE_PERFORMANCE' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_INDICE_PERFORMANCE]
GO


CREATE Procedure [dbo].[scr_INDICE_PERFORMANCE] (@data_ref as datetime, @agente varchar(6), @cobradora varchar(6)) AS
BEGIN

/*
DECLARE @data_ANT SMALLDATETIME
SET		@data_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
-- FIM DO MES ANTERIOR
SET		@data_ANT=DATEADD(DD,-1,@data_ANT)
-- CHECA SE EH DIA UTIL
	SELECT	@data_ANT= CASE WHEN DATEPART(DW,@data_ANT) = 1 THEN DATEADD(D,-2,@data_ANT)	-- DOMINGO
							WHEN DATEPART(DW,@data_ANT) = 7 THEN DATEADD(D,-1,@data_ANT)	-- SABADO
							ELSE @data_ANT					 END
*/
/*
-- MESMO DIA NO MES ANTERIOR
DECLARE @data_MES_ANT SMALLDATETIME
SET		@data_MES_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,DATEADD(MM,-1,@data_ref)))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,DATEADD(MM,-1,@data_ref)))),2)+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(DAY,DATEADD(MM,-1,@data_ref)))),2)
-- YYYYMMDD
-- SELECT DATEADD(MM,-1,GETDATE())
*/

/*
-- 1o DIA DO MES CORRENTE
DECLARE @data_INI SMALLDATETIME
SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'


-- MESMO DIA UTIL NO MES ANTERIOR
DECLARE @data_MES_ANT SMALLDATETIME
DECLARE @QTDE INT
SET		@QTDE = 0
DECLARE @AUX  INT
SET		@AUX  = 0
-- QTDE DE DIAS UTEIS NO MES
-- FERIADOS NO FUNCAO
-- SELECT * FROM  CDCSANTANAMicroCredito..TFERI WHERE FEDTFER BETWEEN '20140601' AND '20140610'
-- DIAS DECORRIDOS SELECT DATEDIFF(DD,'20140601','20140610')
-- ************************************************************************
DECLARE @data_AUX SMALLDATETIME
SET		@data_AUX =  @data_INI
--SET @data_AUX ='20140601' DECLARE @DATA_REF DATETIME SET @DATA_REF='20140610'
-- CONTAR QTDE DE DIAS UTEIS ATEH DT REF
-- LOOP DE DATAS DE INI ATE REF
WHILE   @data_AUX <= @data_ref
BEGIN
	-- SELECT  @QTDE = DATEDIFF(DD,@data_INI,@data_ref) 
	-- DIA UTIL ??  NAO EH FIM-DE-SEMANA, NAO EH FERIADO
	IF DATEPART(DW,@data_AUX) NOT IN (1,7) 
	BEGIN
		-- NAO EH FERIADO
		IF 	(SELECT COUNT(*) FROM CDCSANTANAMicroCredito..TFERI WHERE	FEDTFER=	@data_AUX) =0 
		BEGIN
			SET @QTDE = @QTDE + 1
		END
	END

	-- PROXIMO DIA
	SET @data_AUX =DATEADD(DD,+1,@data_AUX)
END
--SELECT @QTDE


--  DECLARE @data_MES_ANT SMALLDATETIME  DECLARE @QTDE INT    SET		@QTDE = 7 DECLARE @AUX  INT  SET		@AUX  = 0 DECLARE @data_AUX SMALLDATETIME  DECLARE @data_REF SMALLDATETIME SET		@data_REF =  '20140610'
-- SELECT * FROM  CDCSANTANAMicroCredito..TFERI WHERE FEDTFER BETWEEN '20140501' AND '20140530'
-- DIA UTIL DO MES ANTERIOR
SET		@data_MES_ANT =  CONVERT(CHAR(4),DATEPART(YEAR,DATEADD(MM,-1,@data_ref)))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,DATEADD(MM,-1,@data_ref)))),2)+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(DAY,DATEADD(MM,-1,@data_ref)))),2)


SET		@AUX =  1
-- VERIFICAR A DATA EQUIVALENTE EM No DE DIAS UTEIS DO MES ANTERIOR
-- INICIO DO MES ANTERIOR
SET		@data_AUX =  CONVERT(CHAR(4),DATEPART(YEAR,@data_MES_ANT))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_MES_ANT))),2)+'01'
-- LOOP DE QTDE DE DIAS UTEIS PARA ACHAR A DATA EQUIVALENTE (MES ANTERIOR)
-- SELECT @DATA_AUX
WHILE   @AUX <= @QTDE
BEGIN
	-- DIA UTIL ??  NAO EH FIM-DE-SEMANA, NAO EH FERIADO
	IF DATEPART(DW,@data_AUX) NOT IN (1,7) 
	BEGIN
		-- NAO EH FERIADO
		IF 	(SELECT COUNT(*) FROM CDCSANTANAMicroCredito..TFERI WHERE	FEDTFER=	@data_AUX) =0 
		BEGIN
			-- PROXIMO DIA UTIL
			SET @AUX = @AUX + 1
		END
	END
		-- PROXIMO DIA A TESTAR
		SET @data_AUX =DATEADD(DD,+1,@data_AUX)
END
-- FINAL
SET @data_MES_ANT =DATEADD(DD,-1,@data_AUX)
--SELECT @data_MES_ANT

SELECT * FROM PERFORMANCE_RPT 
*/


select 
			DATA_REF AS			 [DT_FECHA]

               ,'' AS [AGENTE]

               ,[COBRADORA]

               ,[ORDEM_LINHA]

               ,[FORMATO]

               ,[DESCRICAO]

--               ,COALESCE([AA_QTDE], 0) [AA_QTDE]
--,0.0 AS [AA_PERC]
--,0.0 AS [A_PERC]

               ,ROUND([B_PRC], 2) [B_PERC]

               ,ROUND([C_PRC], 2) [C_PERC]

               ,ROUND([D_PRC], 2) [D_PERC]

               ,round([E_PRC], 2) [E_PERC]

               ,round([F_PRC], 2) [F_PERC]

               ,round([G_PRC], 2) [G_PERC]

               ,round([H_PRC], 2) [H_PERC]

--,0.0 AS [HH_PERC]
               ,round([TTL_IP], 2) [TTL_QTDE]

               ,round([DIF_IP], 2) [TTL_SALDO]

  --             ,0.0 as [TTL_PRC]

,ORDEM

/*				, CASE	WHEN DT_FECHA = @data_ref	  THEN 1
						WHEN DT_FECHA = @data_MES_ANT THEN 2
						WHEN DT_FECHA = @data_ANT	  THEN 3
						ELSE 0 END
				 AS ORDEM
*/
  from		PERFORMANCE_RPT p (NOLOCK)
	WHERE	DaTa_ref = ( @data_ref )

/*			tcobradora C (NOLOCK)
		and C.COCOD = P.CODCOBRADORA
		AND C.COTELA = 1 */

--, @data_ANT, @data_MES_ANT)  -- hoje, FECHAMENTO ANTERIOR, MESMO DIA DO MES ANTERIOR
/*		and	1=1+case	when @agente='0'  then 0   -- todos
					when  @agente<>'0' and agente   = @agente then 0
					else  1
					end
		and	1=1+case	when @cobradora='0' then 0       -- todos
						when  @cobradora<>'0' and  cobradora = @cobradora then 0
						else  1
						end */
	order by ORDEM ASC , ORDEM_LINHA ASC
--	order by DT_FECHA DESC, ORDEM_LINHA ASC
			

END


GO

--grant execute [scr_RR_DIARIO] on usrSIv

-- SELECT * FROM PERFORMANCE_RPT ORDER BY ORDEM, ORDEM_LINHA
-- RR_AUX_CONTRATO_2M
-- SELECT * FROM tcobradora
-- alter table  tcobradora add coTela int
-- update tcobradora set coTela =  0
-- update tcobradora set coTela =  1 where coCOD in (699,  690 , 720)
-- RENNOV,  DNR 690 e 692,  SOTOPIETRA
-- insert tcobradora select 2,720,'SOTOPIETRA',1,1



