
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Use SIG
go

-- exec scr_IP_safra_diaria '20140908','0','0'

-- PROC tela IP para cobradora  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'scr_IP_safra_diaria' AND type = 'P')
   DROP PROCEDURE [dbo].[scr_IP_safra_diaria]
GO


CREATE Procedure [dbo].[scr_IP_safra_diaria] (@data_ref as datetime, @agente varchar(6), @cobradora varchar(6)) AS
BEGIN

DECLARE @data_INI SMALLDATETIME
SET		@data_INI =  CONVERT(CHAR(4),DATEPART(YEAR,@data_ref))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MONTH,@data_ref))),2)+'01'
--SELECT @data_INI

select  DATA_REF AS [DT_FECHA], 
		--'' AS [AGENTE],
		COBRADORA, 
		FAIXA as [DESCRICAO], 
		ROUND(SUM(VLR_PARCELA), 2) AS [B_PERC],  -- VLR PARCELA
		sum (VALORREC)   AS [C_PERC],  -- 'VALOR REC. PARC' ,
		ROUND(sum (VALORREC)/SUM(VLR_PARCELA)*100.0 ,2) AS [D_PERC],  -- AS 'T%'
		COUNT(PARCELA)   AS [E_PERC],  -- 'QTDE PARC.', 
		SUM(CONVERT(INT,RECEBIDO))  AS [F_PERC]  -- AS 'QTDE RECEB.', 

FROM performance_historico  (NOLOCK)

where 
-- ( 510,520,   690,699,710  ,720, 722 , 693, 711)  ANTES DE JUL-15
--510 520 642 690 691 692 695 697 699 720 722 723 730  TODOS CADASTRADOS
-- 699 690 722 730
( codcobradora in ( 510,520,710, 693, 711 ) 
OR codcobradora in (select CoCOD from tcobradora (nolock) where CoTela = 1  ) )
and data_ref  BETWEEN @data_INI AND @data_ref

-- INCLUI 722 GRBC
-- INCLUI 693= UNIAO JURID E 711= RENNOV JURID, SOMADOS NAS COBRADORAS 692 E 699

-- CONVERT(CHAR(4),DATEPART(YYYY,CONVERT(VARCHAR(10),GETDATE(),112)))+
--			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,CONVERT(VARCHAR(10),GETDATE(),112)))),2)+ '01'

--@dt_ini

group by DATA_REF , CODCOBRADORA, COBRADORA, FAIXA 

order by DATA_REF ASC, COBRADORA ASC, 	FAIXA ASC


/*
select 
			[Data_REF] AS			 [DT_FECHA]

               ,'' AS [AGENTE]



               ,[COBRADORA]

--               ,1 AS [ORDEM_LINHA]               ,'' AS [FORMATO]

				--FAIXA as 'CLASSE DE ATRASO',
               ,[FAIXA] AS [DESCRICAO]


--		VLR_PARC AS 'ESTOQUE DE PARC.',
               ,ROUND([VLR_PARC], 2) [B_PERC]

--		VLR_REC AS 'VALOR REC. PARC' ,PRC_REC*100.0 AS 'T%'

               ,ROUND([VLR_REC], 2) [C_PERC]

               ,ROUND([PRC_REC]*100.0, 2) [D_PERC]

-- REMOVER AS OUTRAS COLUNAS
               ,QTDE [E_PERC]

               ,0.0 [F_PERC]

               ,0.0 [G_PERC]

               ,0.0 [H_PERC]

               ,0.0 [TTL_QTDE]

               ,0.0 [TTL_SALDO]


			,0 ORDEM


from  PERFORMANCE_CALC   (NOLOCK)
	where  DATA_REF BETWEEN @DATA_INI AND @data_ref 
	AND (cod_cobradora in ( 690,699,  720) and rating in ('B','C','D','E','F','G','H','T') 
	or   (cod_cobradora in ( 710) and rating in ('A','B','C','D','E','F','G','H','T') ))
-- rennov pa rating a e b
--ORDER BY cobradora, rating
order by DATA_REF ASC
--, ORDEM ASC , ORDEM_LINHA ASC

-- select * from   PERFORMANCE_CALC 
-- SELECT * FROM PERFORMANCE_RPT


*/


/*
-- ACRESCENTA O TTL
UNION
select 
			[Data_REF] AS			 [DT_FECHA]

               ,'' AS [AGENTE]



               ,'CARTEIRA' AS [COBRADORA]

               ,9 AS [ORDEM_LINHA]

               ,'' AS [FORMATO]

				--FAIXA as 'CLASSE DE ATRASO',
               ,[FAIXA] AS [DESCRICAO]


--		VLR_PARC AS 'ESTOQUE DE PARC.',
               ,ROUND(SUM([VLR_PARC]), 2) [B_PERC]

--		VLR_REC AS 'VALOR REC. PARC' ,PRC_REC*100.0 AS 'T%'

               ,ROUND(SUM([VLR_REC]), 2) [C_PERC]

               ,ROUND(SUM([VLR_REC])/SUM([VLR_PARC])*100.0, 2) [D_PERC]

-- REMOVER AS OUTRAS COLUNAS
               ,0.0 [E_PERC]

               ,0.0 [F_PERC]

               ,0.0 [G_PERC]

               ,0.0 [H_PERC]

               ,0.0 [TTL_QTDE]

               ,0.0 [TTL_SALDO]


			,9 ORDEM


from  PERFORMANCE_CALC   (NOLOCK)
	where  data_ref =( @data_ref )
	-- SEM RENNOV PA 710
	AND cod_cobradora in ( 690,699,  720) and rating in ('B','C','D','E','F','G','H','T') 
	GROUP BY [Data_REF] ,[FAIXA] 
--ORDER BY cobradora, rating

-- SELECT * from  PERFORMANCE_CALC   (NOLOCK)	where  data_ref ='20140720' AND cod_cobradora in ( 690,699, 710, 720) and rating in ('B','C','D','E','F','G','H','T') 


--  from		SIG_IP_VLR_VIEW p (NOLOCK)
--	WHERE	DaTa_ref = ( @data_ref )
--	order by ORDEM ASC , ORDEM_LINHA ASC
--  select * from PERFORMANCE_CALC			
*/


END


GO
