
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
use sig
go

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SIG_IP_HISTORICO' AND type = 'P')
   DROP PROCEDURE [dbo].[SIG_IP_HISTORICO]
GO

/*
-- EXEC [SIG_IP_CARGA]
-- EXEC [SIG_IP_HISTORICO]
EXEC [SIG_IP_CALCULO]     '20151027'
-- SELECT 'IP RElat'
EXEC [SIG_IP_RELATORIO]  '20151027'
*/
-- 38 SEG PROD

-- select top 10 * from  PERFORMANCE_HISTORICO where  data_ref ='2014-06-06'
-- select * from  PERFORMANCE_HISTORICO where  data_pagamento ='2014-06-09'
-- 


CREATE  PROCEDURE [dbo].[SIG_IP_HISTORICO] AS
--IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'CST_VEICULOS_TESTE') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)                  
BEGIN      

DECLARE @DTREF  as datetime
DECLARE @data_ini  as datetime

--set @DTREF = GETDATE () 
set @DTREF = CONVERT(VARCHAR(10),GETDATE(),112)
-- SELECT CONVERT(VARCHAR(10),GETDATE(),112)

set @data_ini = CONVERT(CHAR(4),DATEPART(YYYY,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@DTREF))),2)+ '01'

/*
-- LIMPAR OS REPETIDOS			PERFORMANCE_CARGA
DELETE  PERFORMANCE_CARGA FROM  PERFORMANCE_HISTORICO 
WHERE PERFORMANCE_HISTORICO.CONTRATO = PERFORMANCE_CARGA.CONTRATO 
  AND PERFORMANCE_HISTORICO.PARCELA = PERFORMANCE_CARGA.PARCELA 
  AND  PERFORMANCE_HISTORICO.CODCOBRADORA = PERFORMANCE_CARGA.CODCOBRADORA 
  AND  PERFORMANCE_HISTORICO.DATA_REF BETWEEN @data_ini AND @DTREF

select *   FROM  PERFORMANCE_HISTORICO 
DELETE  FROM  PERFORMANCE_HISTORICO 
insert  PERFORMANCE_HISTORICO  select * from sf_relatorios..PERFORMANCE_HISTORICO
-- 252715 regs 23/6 OK
-- 259227 REGS 26/6 

sp_help PERFORMANCE_HISTORICO
alter table PERFORMANCE_HISTORICO alter column agente varchar(60)
alter table PERFORMANCE_HISTORICO alter column  loja varchar(60)

*/

-- LIMPAR OS REPETIDOS			PERFORMANCE_CARGA	PARCELA
-- remove do carga			reprocessamento
DELETE  PERFORMANCE_CARGA_PARC FROM  PERFORMANCE_HISTORICO
WHERE PERFORMANCE_HISTORICO.CONTRATO = PERFORMANCE_CARGA_PARC.CONTRATO 
  AND PERFORMANCE_HISTORICO.PARCELA = PERFORMANCE_CARGA_PARC.PARCELA 
  AND  PERFORMANCE_HISTORICO.CODCOBRADORA = PERFORMANCE_CARGA_PARC.CODCOBRADORA 
  AND  PERFORMANCE_HISTORICO.DATA_REF BETWEEN @data_ini AND @DTREF


-- INCLUIR NO HISTORICO
INSERT INTO PERFORMANCE_HISTORICO
 (CONTRATO,  	 PROPOSTA, 	AGENTE,
CODPROMOTORA,	 PROMOTORA,	LOJA,
NOME_CLIENTE,	 CARTEIRA,	MODALIDADE,
DATA_CONTRATO,	 PLANO,		PARCELA,
PRI_VCTO,	 ATRASO,	Rating,
SituacaoBacen,	 VENCIMENTO,	VLR_PARCELA,
QTD_PARC_ATRASO, VALOR_RISCO,	VALOR_FINANCIADO,
TAC,		 IOC,		CPF_CNPJ,
RG,		 ENDERECO,	BAIRRO,
CIDADE,		 CEP,		UF,
TELEFONE,	 CELULAR,	FONE_COMERCIAL,
LOCAL_TRABALHO,	 REFERENCIA1,   REFERENCIA2,
VALORBEM,	 MARCA,		MODELO,
ANO_FABRIC,	 ANO_MODELO,	COR,
PLACA,		 COBRADORA,	SERASA,
OCORRENCIA,	 REGRA,		BLOQUEIO,
DESBLOQUEIO,	 FAIXA,		GRUPO,
RENAVAM,	 CHASSI,	QTDPAGAR,
PROFISSAO,	 CARGO,		COD_AGENTE,
PARCELAS_PAGAS,	 FAIXA_RATING,	 SALDOINSC,
DATA_REF,	 DATA_PAGAMENTO, RECEBIDO,
VALORREC,	 CODCOBRADORA)


SELECT P.CONTRATO,  	 
PROPOSTA, 	AGENTE,
CODPROMOTORA,	 PROMOTORA,	LOJA,
NOME_CLIENTE,	 CARTEIRA,	MODALIDADE,
DATA_CONTRATO,	 PLANO,		

P.PARCELA, PRI_VCTO,	 
P.ATRASO,	C.Rating,
SituacaoBacen,	 P.VENCIMENTO,	VLR_PARCELA,
QTD_PARC_ATRASO, 
VALOR_RISCO,	VALOR_FINANCIADO,
TAC,		 IOC,		CPF_CNPJ,
RG,		 ENDERECO,	BAIRRO,
CIDADE,		 CEP,		UF,
TELEFONE,	 CELULAR,	FONE_COMERCIAL,
LOCAL_TRABALHO,	 REFERENCIA1,   REFERENCIA2,
VALORBEM,	 MARCA,		MODELO,
ANO_FABRIC,	 ANO_MODELO,	COR,
PLACA,		 

P.COBRADORA,	
SERASA,
OCORRENCIA,	 REGRA,		BLOQUEIO,
DESBLOQUEIO,	 
p.FAIXA,		 -- faixa de ATRASO DA PARCELA
GRUPO,
RENAVAM,	 CHASSI,	QTDPAGAR,
PROFISSAO,	 CARGO,		COD_AGENTE,
PARCELAS_PAGAS,	 

C.FAIXA_RATING,	 -- contrato
SALDOINSC,
P.DATA_REF,	 
P.DATA_PAGAMENTO, 
P.RECEBIDO,
P.VALORREC,	 
P.CODCOBRADORA

FROM	PERFORMANCE_CARGA C (NOLOCK),
		PERFORMANCE_CARGA_PARC P (NOLOCK)
WHERE C.CONTRATO = P.CONTRATO



-- MAIOR ATRASO DOS CONTRATOS NO HISTORICO
-- DECLARE @data_ini SMALLDATETIME DECLARE @dtref DATETIME SET @data_ini='20150501' SET @dtref='20150519'
select contrato as contratoatr , max(faixa) faixatr, codcobradora codcobradoraatr, max(atraso) atradoatr
 into #ATRASOCOB
 from Performance_historico (NOLOCK)
-- NO PERIODO
where data_ref between @data_ini and @dtref
group by  contrato, codcobradora

-- 13104 CONTRATOS
-- SELECT * FROM #ATRASOCOB

-- 226K PARCELAS
-- ATUALIZA O HISTORICO
update	Performance_historico  set faixa = faixatr, atraso = atradoatr
from	#ATRASOCOB
where	data_ref between @data_ini and @dtref
	and  contrato = contratoatr 
	and  codcobradora = codcobradoraatr






TRUNCATE TABLE PERFORMANCE_CARGA 

--1462 PAGOS ATE DIA 9
-- SELECT * FROM PERFORMANCE_HISTORICO WHERE RECEBIDO=1 AND DATA_REF>='20140601'

-- tabela auxiliar *********************************** alterado out-15
-- DECLARE @data_ini SMALLDATETIME DECLARE @dtref DATETIME SET @data_ini='20150501' SET @dtref='20150519'
SELECT DATA_REF,P.PANROPER,P.PANRPARC,PADTMOV,LCDTMOV, PADTLIQ,PAVLRPR,PAVLRJR, LCCODACOB 	INTO #AUX
FROM	CDCSANTANAMicroCredito..CPARC p  (NOLOCK)
	 , performance_historico h  (NOLOCK)
	, GESTORCOB .. ELCCB C (NOLOCK)     
WHERE	
	DATA_REF <= @DTREF   -- ENVIO  AND '2014-04-10'
and DATA_REF >=  @data_ini
AND P.PANROPER = CONTRATO  
AND P.PANRPARC = PARCELA
AND (P.PADTLIQ IS NOT NULL )  --  LIQUIDADO		
AND	P.PADTLIQ  <=  @DTREF     --  LIQUIDADO ATEH A DATA
AND P.PACNTRL = (SELECT	MAX(PACNTRL) 
					FROM	CDCSANTANAMicroCredito..CPARC E1  (NOLOCK)
					WHERE	E1.PANROPER = CONTRATO 
     					AND	E1.PANRPARC = PARCELA)
AND C.LCNROPER = CONTRATO  
AND C.LCNRPARC = PARCELA
AND LCCODMOVR2 IN (101 , 105)    -- REMOVI O 116 PQ EH REDISTRIBUICAO DA COBRADORA  *********** EM 25/11/16
-- RECEBIDO,  inclui 116 em 5/8/16 dos boletos sem cobradora da redistribuicao
			-- menor envio antes LCDTMOV , out-15 alterei para LcDtEfet
			-- LcDtEfet do mes anterior, voltei p/ LCDTMOV
			AND  (LCDTMOV) = (select	 MIN(C1.LCDTMOV)
								FROM	 GESTORCOB .. ELCCB C1 (NOLOCK)     
								WHERE	 C1.LCNROPER =CONTRATO AND C1.LCNRPARC=PARCELA AND LCCODMOVR2  IN (101 , 105)
									AND  LCDTMOV BETWEEN  @data_ini AND DATEADD(D,+3,@DTREF) )


-- PERFORMANCE  ALTERADO  OUT-15
-- DECLARE @data_ini SMALLDATETIME DECLARE @dtref DATETIME SET @data_ini='20151001' SET @dtref='20151020'
UPDATE PERFORMANCE_HISTORICO	-- NAO PAGO 0,  PAGO 1
SET		RECEBIDO=CASE	WHEN ISNULL(PADTMOV,'')='' OR PADTMOV>@DTREF THEN 0 ELSE 1 END,
		DATA_PAGAMENTO=CASE	WHEN PADTMOV =NULL OR PADTMOV>@DTREF
						THEN NULL	ELSE	PADTMOV END, 
		VALORREC = PAVLRPR+PAVLRJR 
FROM	#AUX H  (NOLOCK)
WHERE	PERFORMANCE_HISTORICO.DATA_REF <= @DTREF   -- ENVIO  AND '2014-04-10'
	AND PERFORMANCE_HISTORICO.DATA_REF >=  @data_ini
	AND H.PANROPER = CONTRATO  
	AND H.PANRPARC = PARCELA
	-- INSERI COBRADORA RECEBEDORA -- ALTERADO 20/FEV/15 e 4/mar/15 envio anterior
	AND PERFORMANCE_HISTORICO.CODCOBRADORA =  H.LCCODACOB 
	AND (H.PADTLIQ IS NOT NULL )  --  LIQUIDADO		
	AND	H.PADTLIQ  <=  @DTREF     --  LIQUIDADO ATEH A DATA

/*
UPDATE PERFORMANCE_HISTORICO	-- NAO PAGO 0,  PAGO 1
SET		RECEBIDO=CASE	WHEN ISNULL(PADTMOV,'')='' OR PADTMOV>@DTREF THEN 0 ELSE 1 END,
		DATA_PAGAMENTO=CASE	WHEN PADTMOV =NULL OR PADTMOV>@DTREF
						THEN NULL	ELSE	PADTMOV END, 
		VALORREC = PAVLRPR+PAVLRJR 
		--dt_VCTO	= PADTVCTO

FROM	CDCSANTANAMicroCredito..CPARC p
-- , performance_historico h  (NOLOCK)
WHERE	
	DATA_REF <= @DTREF   -- ENVIO  AND '2014-04-10'
and DATA_REF >=  @data_ini
AND P.PANROPER = CONTRATO  
AND P.PANRPARC = PARCELA
AND (P.PADTLIQ IS NOT NULL )  --  LIQUIDADO		
AND	P.PADTLIQ  <=  @DTREF     --  LIQUIDADO ATEH A DATA
AND P.PACNTRL = (SELECT	MAX(PACNTRL) 
					FROM	CDCSANTANAMicroCredito..CPARC E1  (NOLOCK)
					WHERE	E1.PANROPER = CONTRATO 
     					AND	E1.PANRPARC = PARCELA)
-- INSERI COBRADORA RECEBEDORA -- ALTERADO 20/FEV/15 e 4/mar/15 envio anterior
AND PERFORMANCE_HISTORICO.CODCOBRADORA =  (SELECT LCCODACOB 
						FROM GESTORCOB .. ELCCB WITH (NOLOCK)     
						-- INCLUI 105 EM SET 2015
						WHERE  LCNROPER =CONTRATO AND LCNRPARC=PARCELA AND LCCODMOVR2 IN (101 , 105)
						-- menor envio antes LCDTMOV , out-15 alterei para LcDtEfet
						-- LcDtEfet do mes anterior, voltei p/ LCDTMOV
						AND  (LCDTMOV) = (select	 MIN(C1.LCDTMOV)
											FROM	 GESTORCOB .. ELCCB C1 (NOLOCK)     
											WHERE	 C1.LCNROPER =CONTRATO AND C1.LCNRPARC=PARCELA AND LCCODMOVR2  IN (101 , 105)
												AND  LCDTMOV BETWEEN  @data_ini AND DATEADD(D,+3,@DTREF) ))

-- INSERI COBRADORA RECEBEDORA -- ALTERADO 20/FEV/15
AND PERFORMANCE_HISTORICO.CODCOBRADORA =  (SELECT LCCODACOB 
						FROM GESTORCOB .. ELCCB WITH (NOLOCK)     
						WHERE  LCNROPER =CONTRATO AND LCNRPARC=PARCELA AND LCCODMOVR2=101 
						AND  LCDTEFET BETWEEN  @data_ini AND @DTREF)
						-- BX POR PAGAMENTO 
*/
-- LCDTMOV  antes

/*
SELECT TOP 100 LCCODACOB,* FROM GESTORCOB .. ELCCB WITH (NOLOCK)     WHERE  LCNROPER ='612179575' AND LCNRPARC=3 AND LCCODMOVR2=101    

-- ALTERADO 20/FEV/15
AND PERFORMANCE_HISTORICO.DATA_REF = (SELECT MIN(DATA_REF)  -- MIN PARCELA MAIS ANTIGA NO MES
										FROM PERFORMANCE_HISTORICO I (NOLOCK)
										WHERE I.CONTRATO = PERFORMANCE_HISTORICO.CONTRATO 
                                          AND I.PARCELA = PERFORMANCE_HISTORICO.PARCELA
										  and I.DATA_REF BETWEEN  @data_ini AND @DTREF	)

-- PERFORMANCE PARCELA
UPDATE PERFORMANCE_HISTORICO_PARC	-- NAO PAGO 0,  PAGO 1
SET		RECEBIDO=CASE	WHEN ISNULL(PADTMOV,'')='' OR PADTMOV>@DTREF THEN 0 ELSE 1 END,
		DATA_PAGAMENTO=CASE	WHEN PADTMOV =NULL OR PADTMOV>@DTREF
						THEN NULL	ELSE	PADTMOV END, 
		VALORREC = PAVLRPR+PAVLRJR 
		--dt_VCTO	= PADTVCTO

FROM	CDCSANTANAMicroCredito..CPARC p , performance_historico_PARC h  (NOLOCK)
WHERE	
	DATA_REF <= @DTREF   -- ENVIO  AND '2014-04-10'
and DATA_REF >=  @data_ini
AND P.PANROPER = CONTRATO  
AND P.PANRPARC = PARCELA
AND P.PADTLIQ IS NOT NULL 
AND P.PACNTRL = (SELECT	MAX(PACNTRL) 
					FROM	CDCSANTANAMicroCredito..CPARC E1  (NOLOCK)
					WHERE	E1.PANROPER = CONTRATO 
     				AND	E1.PANRPARC = PARCELA)
AND H.DATA_REF = (SELECT MAX(DATA_REF) FROM PERFORMANCE_HISTORICO_PARC I
										WHERE I.CONTRATO = H.CONTRATO 
                                          AND I.PARCELA = H.PARCELA)
*/

-- ZERA O RECEBIMENTO
UPDATE PERFORMANCE_HISTORICO		SET  VALORREC = 0.0 WHERE VALORREC IS NULL 
--UPDATE PERFORMANCE_HISTORICO_PARC	SET  VALORREC = 0.0 WHERE VALORREC IS NULL 


-- fim do mes  ??
-- declare @data_ini datetime set @data_ini = '20150201' select dateadd(dd,-1,dateadd(mm,+1, @data_ini) ) select datepart(dw,dateadd(dd,-1,dateadd(mm,+1, @data_ini) ))
--  AJUSTE DE PROBLEMAS NO FIM DE MES EM FDS  ***********  MAR/2015
UPDATE PERFORMANCE_HISTORICO	-- NAO PAGO 0 MAS COM RECEBIDO=1
SET		RECEBIDO=0,
		DATA_PAGAMENTO=NULL, 
		VALORREC = 0.0
where	DATA_REF between @data_ini and @DTREF 
	and	DATA_PAGAMENTO is null and recebido=1


-- fim do mes  ********************* FDS
-- declare @data_ini datetime set @data_ini = '20150201' select dateadd(dd,-1,dateadd(mm,+1, @data_ini) ) select datepart(dw,dateadd(dd,-1,dateadd(mm,+1, @data_ini) ))
if  @DTREF  = dateadd(dd,-1,dateadd(mm,+1, @data_ini) )
begin 
	-- dt ref  dt pgto
	 EXEC SIG_IP_pulada   @DTREF, @DTREF  

	-- domingo
	update		performance_historico 
		set		data_pagamento = null, recebido=0, VALORREC = 0.0
		WHERE	DATA_REF between  @data_ini and  @DTREF		-- ENVIO  AND '2014-04-10'
			and data_pagamento = @DTREF
			and datepart(dw,@DTREF) in (1,7)				-- domingo ou sabado
	-- sabado
	update		performance_historico 
		set		data_pagamento = null, recebido=0, VALORREC = 0.0
		WHERE	DATA_REF between  @data_ini and  @DTREF   -- ENVIO  AND '2014-04-10'
			and data_pagamento = dateadd(dd,-1,@DTREF)	  -- sabado
			and datepart(dw,@DTREF) in (1)				  -- domingo 
end

end
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

