
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
use sig
go

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SIG_IP_RELATORIO' AND type = 'P')
   DROP PROCEDURE [dbo].[SIG_IP_RELATORIO]
GO

/*
 EXEC [SIG_IP_RELATORIO] '20170531'

 EXEC [SIG_IP_RELATORIO] '20140916'

 EXEC [SIG_IP_RELATORIO] '20140617'
 EXEC [SIG_IP_RELATORIO] '20140618'
 EXEC [SIG_IP_RELATORIO] '20140619'
 EXEC [SIG_IP_RELATORIO] '20140620'
 EXEC [SIG_IP_RELATORIO] '20140621'
 EXEC [SIG_IP_RELATORIO] '20140622'

EXEC [SIG_IP_CALCULO] '20140623'
 EXEC [SIG_IP_RELATORIO] '20140623'

EXEC [SIG_IP_CALCULO] '20140625'
EXEC [SIG_IP_RELATORIO] '20140625'

EXEC [SIG_IP_CALCULO] '20140626'
EXEC [SIG_IP_RELATORIO] '20140626'  -- OK

EXEC [SIG_IP_CALCULO] '20140627'
EXEC [SIG_IP_RELATORIO] '20140627'

*/
-- 38 SEG PROD

-- select * from  PERFORMANCE_RPT  where  data_ref ='2014-06-18' ORDER BY ORDEM, ORDEM_LINHA
-- select * from  PERFORMANCE_RPT  where  data_ref ='2014-06-06' ORDER BY ORDEM, ORDEM_LINHA
-- select * from  PERFORMANCE_CALC  where  data_ref ='2014-06-06'
-- select * from  PERFORMANCE_HISTORICO where  data_pagamento ='2014-06-09'
-- COM FX A
-- select * from  PERFORMANCE_CALC  where  data_ref ='2014-06-27'  AND cod_cobradora in ( 510,520,690,699,710,720, 9999) and rating in ('A','B','C','D','E','F','G','H','hh') ORDER BY cod_cobradora, rating
-- SEM FX A
-- select * from  PERFORMANCE_CALC  where  data_ref ='2014-06-27'  AND cod_cobradora in ( 510,520,690,699,710,720, 9999) and rating in ('B','C','D','E','F','G','H') ORDER BY cod_cobradora, rating
-- cf Tela
-- select * from  PERFORMANCE_CALC  where  data_ref ='2014-06-27'  AND cod_cobradora in ( 690,699,720) and rating in ('B','C','D','E','F','G','H','T') ORDER BY cobradora, rating
-- select data_ref,COBRADORA,FAIXA,VLR_PARC,VLR_REC,PRC_REC*100.0 AS 'T%' from  PERFORMANCE_CALC  where  data_ref ='2014-06-27'  AND cod_cobradora in ( 690,699,720) and rating in ('B','C','D','E','F','G','H','T') ORDER BY cobradora, rating
-- DELETE from  PERFORMANCE_RPT  where  data_ref ='2014-06-24'
-- DELETE from  PERFORMANCE_RPT  where  data_ref ='2014-06-25'


CREATE  PROCEDURE [dbo].[SIG_IP_RELATORIO] (@DTREF  as datetime) AS
--IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'CST_VEICULOS_TESTE') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)                  
BEGIN      

--set @DTREF = GETDATE () 
-- SELECT CONVERT(VARCHAR(10),GETDATE(),112)
--DECLARE @DTREF  as datetime
--set @DTREF = CONVERT(VARCHAR(10),GETDATE(),112)

DECLARE @data_ini  as datetime


set @data_ini = CONVERT(CHAR(4),DATEPART(YYYY,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@DTREF))),2)+ '01'

/*
SP_HELP  tcobradora
select * from  tcobradora
update  tcobradora set  cotela=0
insert tcobradora select 2,710,	'RENNOV PA',1,1
insert tcobradora select 2,720,	'SOTOPIETRA',1,1

update  tcobradora set  cotela=1 where cocod in (699,690)
update  tcobradora set  cocalc=1 where cocod in (510,691,699,520)

select * from PERFORMANCE_rpt

SP_HELP  RR_ROLLRATE_DIA_RPT

CREATE TABLE PERFORMANCE_rpt
( DATA_REF smalldatetime,
CODCOBRADORA  varchar(10),
 COBRADORA  varchar(100),
ORDEM INT,
ORDEM_LINHA	int	,
FORMATO	varchar(6),
DESCRICAO	varchar(50),
B_PRC	float,
C_PRC	float,
D_PRC	float,
E_PRC	float,
F_PRC	float,
G_PRC	float,
H_PRC	float,  -- ATE 360
TTL_IP	float,
DIF_IP	float)

CREATE INDEX PERFORMANCE_rpt_IDX1 ON PERFORMANCE_rpt (DATA_REF,CODCOBRADORA,ORDEM_LINHA )
CREATE INDEX PERFORMANCE_rpt_IDX2 ON PERFORMANCE_rpt (DATA_REF,ORDEM,ORDEM_LINHA )

-- LIMPAR OS REPETIDOS			PERFORMANCE_CARGA
DELETE  PERFORMANCE_CARGA FROM  PERFORMANCE_HISTORICO 
WHERE PERFORMANCE_HISTORICO.CONTRATO = PERFORMANCE_CARGA.CONTRATO 
  AND PERFORMANCE_HISTORICO.PARCELA = PERFORMANCE_CARGA.PARCELA 
  AND  PERFORMANCE_HISTORICO.CODCOBRADORA = PERFORMANCE_CARGA.CODCOBRADORA 
  AND  PERFORMANCE_HISTORICO.DATA_REF BETWEEN @data_ini AND @DTREF
*/

-- LIMPAR OS RELATORIO			reprocessamento
DELETE		PERFORMANCE_RPT 
	WHERE	DATA_REF = @DTREF


-- INCLUIR NO RELATORIO
-- LINHA 1 PESO
INSERT PERFORMANCE_RPT 
	( DATA_REF , --smalldatetime,
	CODCOBRADORA, --  varchar(10),
	 COBRADORA  , --varchar(100),
	ORDEM , --INT,
	ORDEM_LINHA	, --int	,
	FORMATO		, --varchar(6),
	DESCRICAO	, --varchar(50),
	B_PRC		, --float,
	C_PRC	, --float,
	D_PRC	, --float,
	E_PRC	, --float,
	F_PRC	, --float,
	G_PRC	, --float,
	H_PRC	, --float,  -- ATE 360
	TTL_IP	, --float,
	DIF_IP	) --float)


SELECT 
	@DTREF,  --( DATA_REF , --smalldatetime,
	--'9999', ----  varchar(10),
	COD_COBRADORA, 
	--'TOTAL CARTEIRA', -- --varchar(100),
	COBRADORA  ,
	100 , --ORDEM , --INT,
	1,  -- LINHA 1 PESO
	'',	-- FORMATO
	'PESO' ,		-- DESCRICAO
	-- DECLARE @DTREF DATETIME  SET @DTREF = '20140610'
	(SELECT PESO FROM IP_PESO P1 (NOLOCK)			
			WHERE DATA_REF = 
					(SELECT MAX(P2.DATA_REF)  -- ULTIMA TABELA VALIDA
							FROM IP_PESO P2 (NOLOCK)	WHERE P2.DATA_REF<=@DTREF) 
			AND	RATING='B') ,	-- PESO 
	(SELECT PESO FROM IP_PESO P1 (NOLOCK)			
			WHERE DATA_REF = 
					(SELECT MAX(P2.DATA_REF)  -- ULTIMA TABELA VALIDA
							FROM IP_PESO P2 (NOLOCK)	WHERE P2.DATA_REF<=@DTREF) 
			AND	RATING='C') ,	-- PESO 
	(SELECT PESO FROM IP_PESO P1 (NOLOCK)			
			WHERE DATA_REF = 
					(SELECT MAX(P2.DATA_REF)  -- ULTIMA TABELA VALIDA
							FROM IP_PESO P2 (NOLOCK)	WHERE P2.DATA_REF<=@DTREF) 
			AND	RATING='D') ,	-- PESO 
	(SELECT PESO FROM IP_PESO P1 (NOLOCK)			
			WHERE DATA_REF = 
					(SELECT MAX(P2.DATA_REF)  -- ULTIMA TABELA VALIDA
							FROM IP_PESO P2 (NOLOCK)	WHERE P2.DATA_REF<=@DTREF) 
			AND	RATING='E') ,	-- PESO 
	(SELECT PESO FROM IP_PESO P1 (NOLOCK)			
			WHERE DATA_REF = 
					(SELECT MAX(P2.DATA_REF)  -- ULTIMA TABELA VALIDA
							FROM IP_PESO P2 (NOLOCK)	WHERE P2.DATA_REF<=@DTREF) 
			AND	RATING='F') ,	-- PESO 
	(SELECT PESO FROM IP_PESO P1 (NOLOCK)			
			WHERE DATA_REF = 
					(SELECT MAX(P2.DATA_REF)  -- ULTIMA TABELA VALIDA
							FROM IP_PESO P2 (NOLOCK)	WHERE P2.DATA_REF<=@DTREF) 
			AND	RATING='G') ,	-- PESO 
	(SELECT PESO FROM IP_PESO P1 (NOLOCK)			
			WHERE DATA_REF = 
					(SELECT MAX(P2.DATA_REF)  -- ULTIMA TABELA VALIDA
							FROM IP_PESO P2 (NOLOCK)	WHERE P2.DATA_REF<=@DTREF) 
			AND	RATING='H') ,	-- PESO 
	0.0,
	0.0

FROM (SELECT DISTINCT	COD_COBRADORA, 	COBRADORA  --CODESCR AS 
			FROM	PERFORMANCE_CALC P (NOLOCK),
					tcobradora C (NOLOCK)
			WHERE	P.DATA_REF = @DTREF 
				and C.COCOD	   = P.COD_COBRADORA
				AND C.COTELA   = 1) AS COBRA
-- SELECT * FROM PERFORMANCE_CALC

-- 3
-- INCLUIR O PESO PARA AS COBRADORAS - ********* LINHA DE TTL
-- DECLARE @DTREF DATETIME SET @DTREF = '20160630'
INSERT PERFORMANCE_RPT 
SELECT 
	@DTREF,  --( DATA_REF , --smalldatetime,
	'9999', ----  varchar(10)  COD_COBRADORA, 
	'TOTAL CARTEIRA', -- --varchar(100),	COBRADORA  ,
	100 , --ORDEM , --INT,
	1,  -- LINHA 1 PESO
	'',	-- FORMATO
	'PESO' ,		-- DESCRICAO
	-- DECLARE @DTREF DATETIME  SET @DTREF = '20140610'
	(SELECT PESO FROM IP_PESO P1 (NOLOCK)			
			WHERE DATA_REF = 
					(SELECT MAX(P2.DATA_REF)  -- ULTIMA TABELA VALIDA
							FROM IP_PESO P2 (NOLOCK)	WHERE P2.DATA_REF<=@DTREF) 
			AND	RATING='B') ,	-- PESO 
	(SELECT PESO FROM IP_PESO P1 (NOLOCK)			
			WHERE DATA_REF = 
					(SELECT MAX(P2.DATA_REF)  -- ULTIMA TABELA VALIDA
							FROM IP_PESO P2 (NOLOCK)	WHERE P2.DATA_REF<=@DTREF) 
			AND	RATING='C') ,	-- PESO 
	(SELECT PESO FROM IP_PESO P1 (NOLOCK)			
			WHERE DATA_REF = 
					(SELECT MAX(P2.DATA_REF)  -- ULTIMA TABELA VALIDA
							FROM IP_PESO P2 (NOLOCK)	WHERE P2.DATA_REF<=@DTREF) 
			AND	RATING='D') ,	-- PESO 
	(SELECT PESO FROM IP_PESO P1 (NOLOCK)			
			WHERE DATA_REF = 
					(SELECT MAX(P2.DATA_REF)  -- ULTIMA TABELA VALIDA
							FROM IP_PESO P2 (NOLOCK)	WHERE P2.DATA_REF<=@DTREF) 
			AND	RATING='E') ,	-- PESO 
	(SELECT PESO FROM IP_PESO P1 (NOLOCK)			
			WHERE DATA_REF = 
					(SELECT MAX(P2.DATA_REF)  -- ULTIMA TABELA VALIDA
							FROM IP_PESO P2 (NOLOCK)	WHERE P2.DATA_REF<=@DTREF) 
			AND	RATING='F') ,	-- PESO 
	(SELECT PESO FROM IP_PESO P1 (NOLOCK)			
			WHERE DATA_REF = 
					(SELECT MAX(P2.DATA_REF)  -- ULTIMA TABELA VALIDA
							FROM IP_PESO P2 (NOLOCK)	WHERE P2.DATA_REF<=@DTREF) 
			AND	RATING='G') ,	-- PESO 
	(SELECT PESO FROM IP_PESO P1 (NOLOCK)			
			WHERE DATA_REF = 
					(SELECT MAX(P2.DATA_REF)  -- ULTIMA TABELA VALIDA
							FROM IP_PESO P2 (NOLOCK)	WHERE P2.DATA_REF<=@DTREF) 
			AND	RATING='H') ,	-- PESO 
	0.0,
	0.0


-- INCLUIR O % REC  -- CADA COBRADORA

INSERT PERFORMANCE_RPT 
	( DATA_REF , --smalldatetime,
	CODCOBRADORA, --  varchar(10),
	 COBRADORA  , --varchar(100),
	ORDEM , --INT,
	ORDEM_LINHA	, --int	,
	FORMATO		, --varchar(6),
	DESCRICAO	, --varchar(50),
	B_PRC		, --float,
	C_PRC	, --float,
	D_PRC	, --float,
	E_PRC	, --float,
	F_PRC	, --float,
	G_PRC	, --float,
	H_PRC	, --float,  -- ATE 360
	TTL_IP	, --float,
	DIF_IP	) --float)

-- DECLARE @DTREF DATETIME SET @DTREF ='20170531'
SELECT 
	@DTREF,  --( DATA_REF , --smalldatetime,
	COBRA.COD_COBRADORA,  --'9999', --CODCOBRADORA, --  varchar(10),
	COBRA.COBRADORA,  --'TOTAL CARTEIRA', --COBRADORA  , --varchar(100),
	100 , --ORDEM , --INT,
	2,  -- LINHA 2 % REC
	'',	-- FORMATO
	'% REC' ,		-- DESCRICAO
	-- DECLARE @DTREF DATETIME  SET @DTREF = '20140610'
	ISNULL((SELECT PRC_REC*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND COD_COBRADORA =COBRA.COD_COBRADORA  -- TTL
				AND	RATING='B') ,0.0),	-- PESO 
	ISNULL((SELECT PRC_REC*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND COD_COBRADORA =COBRA.COD_COBRADORA  -- TTL
				AND	RATING='C') ,0.0) ,	-- PESO 
	ISNULL((SELECT PRC_REC*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND COD_COBRADORA =COBRA.COD_COBRADORA  -- TTL
				AND	RATING='D') ,0.0) ,	-- PESO 
	ISNULL((SELECT PRC_REC*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND COD_COBRADORA =COBRA.COD_COBRADORA  -- TTL
				AND	RATING='E') ,0.0) ,	-- PESO 
	ISNULL((SELECT PRC_REC*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND COD_COBRADORA =COBRA.COD_COBRADORA  -- TTL
				AND	RATING='F') ,0.0) ,	-- PESO 
	ISNULL((SELECT PRC_REC*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND COD_COBRADORA =COBRA.COD_COBRADORA  -- TTL
				AND	RATING='G') ,0.0),	-- PESO 
	ISNULL((SELECT PRC_REC*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND COD_COBRADORA =COBRA.COD_COBRADORA  -- TTL
				AND	RATING='H') ,0.0),	-- PESO 

	ISNULL((SELECT SUM(PRC_REC)*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND P1.COD_COBRADORA =COBRA.COD_COBRADORA  AND RATING BETWEEN 'B' AND 'H'),0.0) -- TTL RATINGS DE B A H
				-- TODOS OS RATING 

	, 0.0  -- DIFERENCA IP
FROM (SELECT DISTINCT	COD_COBRADORA, 	COBRADORA   --CODESCR AS 
			FROM  PERFORMANCE_CALC P (NOLOCK),
					tcobradora C (NOLOCK)
			WHERE	P.DATA_REF = @DTREF 
				and C.COCOD	   = P.COD_COBRADORA
				AND C.COTELA   = 1) AS COBRA



-- INCLUIR O % REC  -- CADA COBRADORA

INSERT PERFORMANCE_RPT 
SELECT 
	@DTREF,  --( DATA_REF , --smalldatetime,
	COBRA.COD_COBRADORA,  --'9999', --CODCOBRADORA, --  varchar(10),
	COBRA.COBRADORA,  --'TOTAL CARTEIRA', --COBRADORA  , --varchar(100),
	100 , --ORDEM , --INT,
	2,  -- LINHA 2 % REC
	'',	-- FORMATO
	'% REC' ,		-- DESCRICAO
	-- DECLARE @DTREF DATETIME  SET @DTREF = '20140610'
	ISNULL((SELECT PRC_REC*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND COD_COBRADORA =COBRA.COD_COBRADORA  -- TTL
				AND	RATING='B') ,0.0),	-- PESO 
	ISNULL((SELECT PRC_REC*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND COD_COBRADORA =COBRA.COD_COBRADORA  -- TTL
				AND	RATING='C') ,0.0) ,	-- PESO 
	ISNULL((SELECT PRC_REC*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND COD_COBRADORA =COBRA.COD_COBRADORA  -- TTL
				AND	RATING='D') ,0.0) ,	-- PESO 
	ISNULL((SELECT PRC_REC*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND COD_COBRADORA =COBRA.COD_COBRADORA  -- TTL
				AND	RATING='E') ,0.0) ,	-- PESO 
	ISNULL((SELECT PRC_REC*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND COD_COBRADORA =COBRA.COD_COBRADORA  -- TTL
				AND	RATING='F') ,0.0) ,	-- PESO 
	ISNULL((SELECT PRC_REC*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND COD_COBRADORA =COBRA.COD_COBRADORA  -- TTL
				AND	RATING='G') ,0.0),	-- PESO 
	ISNULL((SELECT PRC_REC*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND COD_COBRADORA =COBRA.COD_COBRADORA  -- TTL
				AND	RATING='H') ,0.0),	-- PESO 

	ISNULL((SELECT SUM(PRC_REC)*100.0 FROM  PERFORMANCE_CALC P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND P1.COD_COBRADORA =COBRA.COD_COBRADORA  AND RATING BETWEEN 'B' AND 'H'),0.0) -- TTL RATINGS DE B A H
				-- TODOS OS RATING 

	, 0.0  -- DIFERENCA IP
FROM (SELECT DISTINCT	COD_COBRADORA, 	COBRADORA  
			FROM  PERFORMANCE_CALC P (NOLOCK)
			WHERE	P.DATA_REF = @DTREF 
				and P.COD_COBRADORA = '9999') AS COBRA


--  IP NO RELATORIO - CALCULADO
INSERT PERFORMANCE_RPT 
SELECT 
	@DTREF,  --( DATA_REF , --smalldatetime,
	PESO.CODCOBRADORA, --  varchar(10),
	PESO.COBRADORA  , --varchar(100),
	PESO.ORDEM , --INT,
	3,  -- LINHA 3 IP
	'V',	-- FORMATO
	'IP' ,		-- DESCRICAO
	-- % REC * PESO / 100.0   = % IP
	ISNULL(REC.B_PRC,0.0) * ISNULL(PESO.B_PRC,0.0) / 100.0,
	ISNULL(REC.C_PRC,0.0) * ISNULL(PESO.C_PRC,0.0) / 100.0,
	ISNULL(REC.D_PRC,0.0) * ISNULL(PESO.D_PRC,0.0) / 100.0,
	ISNULL(REC.E_PRC,0.0) * ISNULL(PESO.E_PRC,0.0) / 100.0,
	ISNULL(REC.F_PRC,0.0) * ISNULL(PESO.F_PRC,0.0) / 100.0,
	ISNULL(REC.G_PRC,0.0) * ISNULL(PESO.G_PRC,0.0) / 100.0,
	ISNULL(REC.H_PRC,0.0) * ISNULL(PESO.H_PRC,0.0) / 100.0,
	-- TTL
	(ISNULL(REC.B_PRC,0.0) * ISNULL(PESO.B_PRC,0.0)+ ISNULL(REC.C_PRC,0.0) * ISNULL(PESO.C_PRC,0.0)+ ISNULL(REC.D_PRC,0.0) * ISNULL(PESO.D_PRC,0.0)+ 
ISNULL(REC.E_PRC,0.0) * ISNULL(PESO.E_PRC,0.0)+ ISNULL(REC.F_PRC,0.0) * ISNULL(PESO.F_PRC,0.0)
   + ISNULL(REC.G_PRC,0.0) * ISNULL(PESO.G_PRC,0.0)+ ISNULL(REC.H_PRC,0.0) * ISNULL(PESO.H_PRC,0.0) ) / 100.0,
	 0.0  -- DIFERENCA IP

FROM  (SELECT * FROM PERFORMANCE_RPT P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND ORDEM_LINHA =1 ) AS PESO ,
	 (SELECT * FROM PERFORMANCE_RPT P1 (NOLOCK)			
			WHERE	DATA_REF = @DTREF
				AND ORDEM_LINHA =2 ) AS REC
WHERE
		PESO.CODCOBRADORA= REC.CODCOBRADORA
	AND	PESO.COBRADORA   = REC.COBRADORA

-- ORDEM DECRESCENTE DE IP
-- DROP table aux_ip_ordem
-- create table aux_ip_ordem
-- (codcobradora varchar(20), ttl_ip float, ordem int identity (1,1) )
-- limpou a tabela COM A ORDEM DESCRESCENTE


--DROP table aux_ip_ordem
--create table aux_ip_ordem (codcobradora varchar(20), ttl_ip float, ordem int identity (1,1) )

TRUNCATE TABLE  aux_ip_ordem
insert aux_ip_ordem
	SELECT		codcobradora,ttl_ip 
		FROM	PERFORMANCE_RPT r (NOLOCK)
		where	DATA_REF = @DTREF
			AND	ordem_linha=3 and codcobradora <>'9999' -- SEM TOTAL
		order by ttl_ip desc, cobradora asc

-- select * from  aux_ip_ordem
UPDATE		PERFORMANCE_RPT
	SET		ORDEM = O.ORDEM
	FROM	aux_ip_ordem  O (NOLOCK)
	WHERE	PERFORMANCE_RPT.DATA_REF = @DTREF
		AND PERFORMANCE_RPT.CODCOBRADORA = O.CODCOBRADORA



/*
UPDATE		PERFORMANCE_RPT
	SET		ORDEM = 1
	WHERE	DATA_REF = @DTREF
		AND CODCOBRADORA = (SELECT CODCOBRADORA FROM PERFORMANCE_RPT P1 (NOLOCK)			
							WHERE	P1.DATA_REF = @DTREF
								AND P1.ORDEM_LINHA= 3 -- IP
								AND P1.CODCOBRADORA <> '9999'  -- SEM O TOTAL
								AND P1.TTL_IP = (SELECT MAX(TTL_IP) FROM PERFORMANCE_RPT P2 (NOLOCK)			
													WHERE	P2.DATA_REF = @DTREF
														AND P2.ORDEM_LINHA= 3 -- IP
	-- TODAS AS COBRADORAS
														--AND P2.CODCOBRADORA = P1.CODCOBRADORA
														 ) )

*/
-- 1o TOTAL
UPDATE		PERFORMANCE_RPT
	SET		ORDEM = 0
	WHERE	DATA_REF = @DTREF
		AND CODCOBRADORA ='9999'  -- TOTAL APARECE 1o NA TELA


-- CALCULAR A DIFERENCA DO IP DO 2o PARA O 1o LUGAR
UPDATE		PERFORMANCE_RPT
	SET		[DIF_IP] = PERFORMANCE_RPT.[TTL_IP] - P1.[TTL_IP]
	FROM    (SELECT * FROM PERFORMANCE_RPT P (NOLOCK)
				WHERE	DATA_REF = @DTREF
					AND ORDEM =1  --  RANKING 1o NA TELA
					AND ORDEM_LINHA =3 -- IP
				) AS P1
	WHERE	PERFORMANCE_RPT.DATA_REF = @DTREF
		AND PERFORMANCE_RPT.ORDEM =2  -- DIFERENCA RANKING 1o NA TELA
		AND PERFORMANCE_RPT.ORDEM_LINHA =3 -- IP


-- CALCULAR A DIFERENCA DO IP DO 3o PARA O 1o LUGAR
UPDATE		PERFORMANCE_RPT
	SET		[DIF_IP] = PERFORMANCE_RPT.[TTL_IP] - P1.[TTL_IP]
	FROM    (SELECT * FROM PERFORMANCE_RPT P (NOLOCK)
				WHERE	DATA_REF = @DTREF
					AND ORDEM =1  --  RANKING 1o NA TELA
					AND ORDEM_LINHA =3 -- IP
				) AS P1
	WHERE	PERFORMANCE_RPT.DATA_REF = @DTREF
		AND PERFORMANCE_RPT.ORDEM =3  -- DIFERENCA RANKING 1o NA TELA
		AND PERFORMANCE_RPT.ORDEM_LINHA =3 -- IP

/*
SELECT * FROM		PERFORMANCE_CALC C (NOLOCK)
SELECT * FROM		PERFORMANCE_RPT
-- ip ordem descresc
DROP table aux_ip_ordem
create table aux_ip_ordem
(codcobradora varchar(20), ttl_ip float, ordem int identity(1,1) )

insert aux_ip_ordem
SELECT codcobradora,ttl_ip FROM		PERFORMANCE_RPT where ordem_linha=3 order by ttl_ip desc, cobradora asc

select * from  aux_ip_ordem
			WHERE	DATA_REF = @DTREF
	9999

SELECT * FROM IP_PESO	
FROM	IP_PESO
SELECT * FROM		PERFORMANCE_CALC C (NOLOCK)
	WHERE   DATA_REF = @DTREF

*/


end
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

