
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
use sig
go
/*
select * from [dbo].[SIG_IP_CALC_VIEW]
*/

-- DROP  view [dbo].[SIG_IP_CALC_VIEW]

CREATE  view [dbo].[SIG_IP_CALC_VIEW]  AS
--IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'CST_VEICULOS_TESTE') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)                  

/*
select  data_ref AS Data,COBRADORA,FAIXA as 'CLASSE DE ATRASO',
		VLR_PARC AS 'ESTOQUE DE PARC.',
		VLR_REC AS 'VALOR REC. PARC' ,PRC_REC*100.0 AS 'T%'
	from  PERFORMANCE_CALC   (NOLOCK)
	where  data_ref =(SELECT MAX(DATA_REF) FROM PERFORMANCE_CALC (NOLOCK) )
		AND cod_cobradora in ( 510,520,690,699,710,720, 9999) 
		and rating in ('A','B','C','D','E','F','G','H','hh') 


DECLARE @DTREF DATETIME
DECLARE @data_ini DATETIME

set @DTREF = CONVERT(VARCHAR(10),GETDATE(),112)
-- SELECT CONVERT(VARCHAR(10),GETDATE(),112)

set @data_ini = CONVERT(CHAR(4),DATEPART(YYYY,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@DTREF))),2)+ '01'


set @data_ini = CONVERT(CHAR(4),DATEPART(YYYY,CONVERT(VARCHAR(10),GETDATE(),112)))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,CONVERT(VARCHAR(10),GETDATE(),112)))),2)+ '01'


*/
--BEGIN


select DATA_REF AS Data, COBRADORA, FAIXA as 'CLASSE DE ATRASO', 
		COUNT(PARCELA)  AS 'QTDE PARC.', 
		SUM(VLR_PARCELA) AS 'ESTOQUE DE PARC.',

		SUM(CONVERT(INT,RECEBIDO))  AS 'QTDE RECEB.', 
		sum (VALORREC)  'VALOR REC. PARC' ,
		sum (VALORREC)/SUM(VLR_PARCELA)*100.0 AS 'T%'

FROM performance_historico  (NOLOCK)
						-- inativas			ativas
where ( codcobradora   IN 
						--( 510,520,710,720,  690,699,722)  ANTES DE JUL-15
		 (select CoCOD from tcobradora (nolock) where CoTela = 1 )
		-- 510 520 642 690 691 692 695 697 699 720 722 723 730  TODAS COBRADORAS CADASTRADAS
		-- 699 690 722 730	COBRADORAS CoTela = 1 
	OR 	codcobradora   IN ( 510,520,710,720)   -- INATIVAS
	OR	 (CodCobradora IN (693, 711) AND  LEFT(FAIXA,2) BETWEEN '2' AND '9-') )-- JURIDICO NAS FAIXAS ATE 360
				--- juridicos uniao e rennov respectiv
and data_ref >= CONVERT(CHAR(4),DATEPART(YYYY,CONVERT(VARCHAR(10),GETDATE(),112)))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,CONVERT(VARCHAR(10),GETDATE(),112)))),2)+ '01'

-- inclui 722 grb
--@dt_ini

group by DATA_REF , CODCOBRADORA, COBRADORA, FAIXA 

--order by DATA_REF , CODCOBRADORA, COBRADORA, FAIXA

 
--END

-- TELA IP P/ COBRADORA
--	AND cod_cobradora in ( 690,699,720) and rating in ('B','C','D','E','F','G','H','T') 
--ORDER BY cobradora, rating

/*
-- select * from  PERFORMANCE_CALC  where  data_ref ='2014-06-27'  AND cod_cobradora in ( 510,520,690,699,710,720, 9999) and rating in ('A','B','C','D','E','F','G','H','hh') ORDER BY cod_cobradora, rating

select * from [SIG_IP_VLR_VIEW] ORDER BY cobradora, FAIXA
select * from PERFORMANCE_CALC

SP_HELP  RR_ROLLRATE_DIA_RPT

*/



GO