
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

USE SIG
GO

-- EXEC SIG_IP_FIM_MES '20151103','20151031'  -- 65 PARC
-- EXEC SIG_IP_FIM_MES '20151103','20151030'  -- 559 PARC
-- 1s
--  EXEC [SIG_IP_CALCULO]   '20151110'
--  EXEC [SIG_IP_RELATORIO] '20151110'


-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SIG_IP_FIM_MES' AND type = 'P')
   DROP PROCEDURE [dbo].[SIG_IP_FIM_MES]
GO

CREATE Procedure [dbo].[SIG_IP_FIM_MES]  (@DTREF  as datetime, @DTPGTO  as datetime) AS
BEGIN               


DECLARE @data_ini  as datetime
set @data_ini = CONVERT(CHAR(4),DATEPART(YYYY,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@DTREF))),2)+ '01'
  
/*

SP_HELP Performance_historico 
contrato,parcela,data_ref,data_pagamento, codcobradora

CREATE INDEX PERFORMANCE_HISTORICO_IDX2 ON PERFORMANCE_HISTORICO (DATA_REF, data_pagamento)

DROP   TABLE AUX_IP_CONTRATO

CREATE TABLE AUX_IP_CONTRATO
(CONTRATO	varchar(15),
PARCELA		varchar(05),
data_ref	SMALLDATETIME,
data_pagamento	SMALLDATETIME,
CODCOBRADORA	int	)

select * INTO BAK_IP_PARC112015 from AUX_IP_CONTRATO

*/


TRUNCATE TABLE AUX_IP_CONTRATO

-- select * from AUX_IP_CONTRATO
-- DECLARE @DTREF  as datetime set @DTREF = '20151101' DECLARE @data_ini  as datetime set @data_ini = '20151101' DECLARE @DTPGTO  as datetime set @DTPGTO = '20151031' 

INSERT			AUX_IP_CONTRATO
	select		contrato,parcela,data_ref,data_pagamento, codcobradora
		FROM	Performance_historico        (nolock)
		WHERE	data_ref between  @data_ini and @DTREF
			-- pagos NO MES ANTERIOR
			and data_pagamento = @DTPGTO


-- remove parcelas PAGAS NO MES ANTERIOR
		delete  H
		FROM Performance_historico      H,
			 AUX_IP_CONTRATO P 
		WHERE	H.data_ref between   @data_ini and @DTREF
			AND P.DATA_REF = H.DATA_REF
			and p.codcobradora = h.codcobradora
			and p.CONTRATO=h.contrato
			and p.PARCELA = h.parcela 

END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

