
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
use sig
go

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SIG_IP_ESTORNO_PAGAMENTO_DT' AND type = 'P')
   DROP PROCEDURE [dbo].[SIG_IP_ESTORNO_PAGAMENTO_DT]
GO

-- 38 SEG PROD
-- EXEC [SIG_IP_ESTORNO_PAGAMENTO_DT] '20150430'
-- EXEC [SIG_IP_ESTORNO_PAGAMENTO_DT] '20150430'

-- select top 10 * from  PERFORMANCE_HISTORICO where  data_ref ='2014-06-06'
-- select * from  PERFORMANCE_HISTORICO where  data_pagamento ='2014-06-09'
-- 


CREATE  PROCEDURE [dbo].[SIG_IP_ESTORNO_PAGAMENTO_DT] (@DTREF  as datetime )  AS
--IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'CST_VEICULOS_TESTE') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)                  
BEGIN      

--DECLARE @DTREF  as datetime
DECLARE @data_ini  as datetime

--set @DTREF = GETDATE () 
--set @DTREF = CONVERT(VARCHAR(10),GETDATE(),112)
-- SELECT CONVERT(VARCHAR(10),GETDATE(),112)

set @data_ini = CONVERT(CHAR(4),DATEPART(YYYY,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@DTREF))),2)+ '01'

/*
-- LIMPAR OS REPETIDOS			PERFORMANCE_CARGA
DELETE  PERFORMANCE_CARGA FROM  PERFORMANCE_HISTORICO 
WHERE PERFORMANCE_HISTORICO.CONTRATO = PERFORMANCE_CARGA.CONTRATO 
  AND PERFORMANCE_HISTORICO.PARCELA = PERFORMANCE_CARGA.PARCELA 
  AND  PERFORMANCE_HISTORICO.CODCOBRADORA = PERFORMANCE_CARGA.CODCOBRADORA 
  AND  PERFORMANCE_HISTORICO.DATA_REF BETWEEN @data_ini AND @DTREF

select *   FROM  PERFORMANCE_HISTORICO 
DELETE  FROM  PERFORMANCE_HISTORICO 
insert  PERFORMANCE_HISTORICO  select * from sf_relatorios..PERFORMANCE_HISTORICO
-- 252715 regs 23/6 OK
-- 259227 REGS 26/6 

sp_help PERFORMANCE_HISTORICO
alter table PERFORMANCE_HISTORICO alter column agente varchar(60)
alter table PERFORMANCE_HISTORICO alter column  loja varchar(60)

*/




-- PERFORMANCE  REABRE AS PARCELAS PAGAS E ESTORNADAS NA PARCELA PULADA
-- DECLARE @data_ini SMALLDATETIME DECLARE @dtref DATETIME SET @data_ini='20140601' SET @dtref='20140609'
-- DATEADD(D,+5,@DTREF)
UPDATE PERFORMANCE_HISTORICO	-- NAO PAGO 0,  PAGO 1
SET		RECEBIDO= 0 ,
		DATA_PAGAMENTO=NULL, 
		VALORREC = 0.0
FROM	CDCSANTANAMicroCredito..CPARC p  (NOLOCK)
-- , performance_historico h  (NOLOCK)
WHERE	
	DATA_REF BETWEEN  @data_ini AND @DTREF   -- ENVIO  AND '2014-04-10'
--and DATA_REF >=  @data_ini
AND P.PANROPER = CONTRATO  
AND P.PANRPARC = PARCELA
-- estava recebido
and recebido=1
AND (P.PADTLIQ IS NULL OR P.PADTLIQ > @DTREF) -- SEM PAGAMENTO NO FUNCAO, REABERTA
-- PAGO NO IP SIG
AND (data_pagamento IS NOT NULL )  --  LIQUIDADO NO SIG, MAS REABERTO NO FUNCAO
AND P.PACNTRL = (SELECT	MAX(PACNTRL) 
					FROM	CDCSANTANAMicroCredito..CPARC E1  (NOLOCK)
					WHERE	E1.PANROPER = CONTRATO 
     					AND	E1.PANRPARC = PARCELA)

/*
	-- INSERI COBRADORA RECEBEDORA -- ALTERADO 20/FEV/15
			AND PERFORMANCE_HISTORICO.CODCOBRADORA =  (SELECT LCCODACOB 
						FROM	GESTORCOB .. ELCCB WITH (NOLOCK)     
						WHERE	LCNROPER =CONTRATO AND LCNRPARC=PARCELA AND LCCODMOVR2=101 
			-- menor envio (ANTES LCDTMOV) MELHOR LCDTEFET
			AND  (LcDtEFET) = (select MIN(C1.LcDtEFET)
						FROM	GESTORCOB .. ELCCB C1 (NOLOCK)     
						WHERE	 C1.LCNROPER =CONTRATO AND C1.LCNRPARC=PARCELA AND LCCODMOVR2=101
						--	AND  LcDtEFET BETWEEN  @data_ini AND DATEADD(D,+3,@DTREF)
 ))
*/
--@DTREF  ))
--DATEADD(D,+3,@DTREF) ))


--						AND  LCDTMOV BETWEEN  @data_ini AND DATEADD(D,+3,@DTREF) )
						-- BX POR PAGAMENTO 
-- LCDTMOV ANTES 


-- ZERA O RECEBIMENTO
--UPDATE PERFORMANCE_HISTORICO		SET  VALORREC = 0.0 WHERE DATA_REF between @data_ini and @DTREF  AND VALORREC IS NULL 
--UPDATE PERFORMANCE_HISTORICO_PARC	SET  VALORREC = 0.0 WHERE VALORREC IS NULL 


-- fim do mes  ??
-- declare @data_ini datetime set @data_ini = '20150201' select dateadd(dd,-1,dateadd(mm,+1, @data_ini) ) select datepart(dw,dateadd(dd,-1,dateadd(mm,+1, @data_ini) ))

--  DECLARE  @DTREF  DATETIME SET @DTREF='20150228'  DECLARE  @data_ini  DATETIME SET @data_ini='20150201' 




end
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

