
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

USE SIG
GO

-- EXEC SIG_IP_Ajuste
-- 8s

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SIG_IP_pulada' AND type = 'P')
   DROP PROCEDURE [dbo].[SIG_IP_pulada]
GO

-- CARGA IP
-- EXEC SIG_IP_pulada  '20150131'
-- EXEC SIG_IP_pulada  '20150228'
--  EXEC [SIG_IP_CALCULO]   '20150228'
--  EXEC [SIG_IP_RELATORIO] '20150228'

-- DT REF,  DT PGTO
-- EXEC SIG_IP_pulada   '20150305','20150228'  
--  EXEC [SIG_IP_CALCULO]   '20150305'
--  EXEC [SIG_IP_RELATORIO] '20150305'
-- EXEC SIG_IP_pulada   '20150804','20150731' 
--  EXEC [SIG_IP_CALCULO]   '20150804'
--  EXEC [SIG_IP_RELATORIO] '20150804'

/*
 EXEC SIG_IP_pulada   '20150831','20150829'  
 EXEC [SIG_IP_CALCULO]   '20150831'
 EXEC [SIG_IP_RELATORIO] '20150831'

 EXEC SIG_IP_pulada   '20150901','20150829'  
 EXEC [SIG_IP_CALCULO]   '20150901'
 EXEC [SIG_IP_RELATORIO] '20150901'


select * --distinct efDtMov --* 
	from CDCSANTANAMicrocredito .. efina f (nolock)
	where f.efcodmov=098 
		and f.efDtMov  = '2015-08-29'
@DTPGTO    -- MOVIMENTO DE PAGAMENTO PARCELA PULADA
--		and f.efDtMov  between @data_ini and @DTREF
--		and f.efDtMov  between '20150101' and '20150131' 
--		and f.efdtmov  between '20150201' and '20150228' 
		and f.efCntrl = (select		max(f1.efCntrl) 
							from	CDCSANTANAMicrocredito .. eFina f1 (nolock)
							where	f1.efNrOper = f.efNrOper 
								and f1.efNrParc = f.efNrParc)

*/

CREATE Procedure [dbo].[SIG_IP_pulada]  (@DTREF  as datetime, @DTPGTO  as datetime) AS
--IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'CST_VEICULOS_TESTE') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)                  
BEGIN               

-- DECLARE @DTREF  as datetime
-- set @DTREF = CONVERT(VARCHAR(10),GETDATE(),112)
-- SELECT CONVERT(VARCHAR(10),GETDATE(),112)


DECLARE @data_ini  as datetime
set @data_ini = CONVERT(CHAR(4),DATEPART(YYYY,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@DTREF))),2)+ '01'
  
-- SP_HELP Performance_carga
-- TRUNCATE TABLE Performance_carga                
-- select * FROM Performance_historico where datepart(yyyy,data_ref) = 2015 and datepart(mm,data_ref) = 1 and contrato ='612168795' and parcela=	4
-- select * FROM Performance_historico where datepart(yyyy,data_ref) = 2015 and datepart(mm,data_ref) = 1 and contrato ='612135327A' and parcela=	2
-- select * FROM Performance_historico where datepart(yyyy,data_ref) = 2015 and datepart(mm,data_ref) = 1 and contrato ='612165322' and parcela=	6
-- select * FROM Performance_historico where datepart(yyyy,data_ref) = 2015 and datepart(mm,data_ref) = 1 and contrato ='612175275' and parcela=	2
/*
select *
		FROM Performance_historico             
	WHERE	data_ref between '20150101' and '20150131' 


DELETE
select *
		FROM Performance_historico             
	WHERE	data_ref between @data_ini and @DTREF
join 

select top 100 * from CDCSANTANAMicrocredito .. efina where efcodmov=098 
and efdtmov  between '20150101' and '20150131' 
and efnroper='67275292'

select  * from CDCSANTANAMicrocredito .. cparc where panroper = '67275292'

-- parcela pulada pgto cod 098
-- limpar do historico do IP
select *
		FROM Performance_historico             
	WHERE	contrato = '67275292'
data_ref between @data_ini and @DTREF


DATEPART(YYYY,data_ref) = 2015 AND DATEPART(MM,data_ref) = 1 AND 
CONTRATO ='61245498'  AND PARCELA= 37

select * 
--into #aux_parc_pulada
	from CDCSANTANAMicrocredito .. efina f (nolock)
	where f.efcodmov=098 
		and f.efdtmov  between '20150201' and '20150228' 
		and f.efCntrl = (select		max(f1.efCntrl) 
							from	CDCSANTANAMicrocredito .. eFina f1 (nolock)
							where	f1.efNrOper = f.efNrOper 
								and f1.efNrParc = f.efNrParc)

select * from
(select contrato,parcela,data_ref,data_pagamento, codcobradora
		FROM Performance_historico        (nolock)
	WHERE	data_ref between  '20150301' and '20150305' 
--		and data_pagamento is null
 ) as H
		join #aux_parc_pulada P on p.efnroper=h.contrato and p.efNrParc = h.parcela 

select * from #aux_parc_pulada
select * 	
into #aux_parc_pulada
from CDCSANTANAMicrocredito .. efina f (nolock)
	where f.efcodmov=098 
		and f.efDtMov  = '20150430'   -- MOVIMENTO DE PAGAMENTO PARCELA PULADA
		and f.efCntrl = (select		max(f1.efCntrl) 
							from	CDCSANTANAMicrocredito .. eFina f1 (nolock)
							where	f1.efNrOper = f.efNrOper 
								and f1.efNrParc = f.efNrParc)


select * from
(select contrato,parcela,data_ref,data_pagamento, codcobradora
		FROM Performance_historico        (nolock)
	WHERE	data_ref between  '20150501' and '20150505' 
		and data_pagamento is null ) as H
		join #aux_parc_pulada P on p.efnroper=h.contrato and p.efNrParc = h.parcela 
delete  H
FROM Performance_historico      H,
	 #aux_parc_pulada P 
WHERE	data_ref between  '20150501' and '20150531' 
	and p.efnroper=h.contrato and p.efNrParc = h.parcela 

select *  FROM Performance_historico      H (nolock) where contrato='61641611A' and parcela='021'
*/

-- drop table #aux_parc_pulada

-- 210 em jan-15
--		DECLARE @DTPGTO  as datetime set @DTPGTO ='20150930'

select * ,'      ' as codCobradora
--	
into #aux_parc_pulada
	from CDCSANTANAMicrocredito .. efina f (nolock)
	where f.efcodmov=098 
		and f.efDtMov  = @DTPGTO    -- MOVIMENTO DE PAGAMENTO PARCELA PULADA
--		and f.efDtMov  between @data_ini and @DTREF
--		and f.efDtMov  between '20150101' and '20150131' 
--		and f.efdtmov  between '20150201' and '20150228' 
		and f.efCntrl = (select		max(f1.efCntrl) 
							from	CDCSANTANAMicrocredito .. eFina f1 (nolock)
							where	f1.efNrOper = f.efNrOper 
								and f1.efNrParc = f.efNrParc)



-- alterado abr-16


	--  select * from #aux_parc_pulada , GESTORCOB .. ELCCB WITH (NOLOCK)  WHERE	LCCODMOVR2 IN (101 ,105) and LCNROPER =EfNrOper AND LCNRPARC=EfNrParc

	--		DECLARE @DTPGTO  as datetime set @DTPGTO ='20150930'
	update  #aux_parc_pulada
	SET		codCobradora= LCCODACOB
		FROM	GESTORCOB .. ELCCB L (NOLOCK)     
		WHERE	--LcDtMov=@DTPGTO 		
				L.LCNROPER =EfNrOper AND L.LCNRPARC=EfNrParc
			and L.LCCODMOVR2 IN (101 ,104 , 105)
			and L.LcCntrl = (select	MAX (L2.LCCNTRL) FROM GESTORCOB .. ELCCB L2 (NOLOCK)     
							WHERE	L2.LCNROPER =EfNrOper AND L2.LCNRPARC=EfNrParc)


-- select * from #aux_parc_pulada
-- DECLARE @DTREF  as datetime set @DTREF = '20150930' DECLARE @data_ini  as datetime set @data_ini = '20150901' 
select * from
(select contrato,parcela,data_ref,data_pagamento, codcobradora
		FROM Performance_historico        (nolock)
--	WHERE	data_ref between  '20150101' and '20150131' 
	WHERE	data_ref between  @data_ini and @DTREF
		-- pagos e parcela pulada
		--and data_pagamento is null 
		) as H
		join #aux_parc_pulada P on p.efnroper=h.contrato and p.efNrParc = h.parcela  and p.CodCobradora = h.CodCobradora


-- remove parcelas puladas
IF DATEPART(DD,@DTREF ) < 20 
BEGIN
		delete  H
		FROM Performance_historico      H,
			 #aux_parc_pulada P 
		WHERE	data_ref between   @data_ini and @DTREF
		--WHERE	data_ref between  '20150101' and '20150131' 
			and p.efnroper=h.contrato and p.efNrParc = h.parcela 
		and p.codcobradora = h.codcobradora

		-- remove as com cobradora, já excluidas
		-- delete from #aux_parc_pulada where codCobradora <>''
		-- remove parcelas puladas sem cobradora
		delete  H
		FROM Performance_historico      H,
			 #aux_parc_pulada P 
		WHERE	data_ref between   @data_ini and @DTREF
			and p.efnroper=h.contrato and p.efNrParc = h.parcela 
			and p.codCobradora =''
END



/*
-- check : é mesmo pulada!
EFNROPER	EFNRPARC
67075093	024
select  * from CDCSANTANAMicrocredito .. cparc where panroper = '67075093'
EFNROPER	EFNRPARC
612162143	007
select  * from CDCSANTANAMicrocredito .. cparc where panroper = '612162143'
select  * FROM Performance_historico      (nolock)
WHERE	data_ref between  '20150101' and '20150131' and  contrato = '612162143' and parcela=7


UPDATE PERFORMANCE_HISTORICO	-- NAO PAGO 0,  PAGO 1
SET		RECEBIDO= 0 ,
		DATA_PAGAMENTO=NULL, 
		VALORREC = 0.0
FROM	CDCSANTANAMicroCredito..CPARC p  (NOLOCK)
--#aux_parc_pulada pula
WHERE	
	DATA_REF BETWEEN  '20150701' AND '20150731'   -- ENVIO  AND '2014-04-10'
--and pula.efnroper = contrato and pula.efnrparc=parcela

AND P.PANROPER = CONTRATO  
AND P.PANRPARC = PARCELA

AND (P.PADTLIQ IS NULL OR P.PADTLIQ > '20150731') -- SEM PAGAMENTO NO FUNCAO, REABERTA
-- PAGO NO IP SIG
AND (data_pagamento IS NOT NULL )  --  LIQUIDADO NO SIG, MAS REABERTO NO FUNCAO
AND P.PACNTRL = (SELECT	MAX(PACNTRL) 
					FROM	CDCSANTANAMicroCredito..CPARC E1  (NOLOCK)
					WHERE	E1.PANROPER = CONTRATO 
     					AND	E1.PANRPARC = PARCELA)


*/




-- remove as baixas das parcelas pagas pelo cliente mas ajustadas cf PULADA
 EXEC [SIG_IP_ESTORNO_PAGAMENTO_DT] @DTREF
END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

