
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
use sig
go
/*

select * from [dbo].[SIG_IP_VLR_VIEW]
*/

-- DROP  view [dbo].[SIG_IP_VLR_VIEW]

CREATE  view [dbo].[SIG_IP_VLR_VIEW]  AS
--IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'CST_VEICULOS_TESTE') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)                  

select  data_ref AS Data,COBRADORA,FAIXA as 'CLASSE DE ATRASO',
		VLR_PARC AS 'ESTOQUE DE PARC.',
		VLR_REC AS 'VALOR REC. PARC' ,PRC_REC*100.0 AS 'T%'
	from  PERFORMANCE_CALC   (NOLOCK)
	where  data_ref =(SELECT MAX(DATA_REF) FROM PERFORMANCE_CALC (NOLOCK) )
	AND (  cod_cobradora in (710 )  OR
	-- ( 690,699, 710, 722)   ANTES DE JUL-15
	-- 699 690 722 730 (NOVA)  APOS JUL-15
		cod_cobradora IN (select CoCOD from tcobradora (nolock) where CoTela = 1 ) )
	and rating in ('A','B','C','D','E','F','G','H','T') 

-- 710 rennov PA
-- INCLUI 722 GRBC
-- 710 REMOVER RENNOV PA somente do TTL IP, deixar nos analiticos
-- 720	SOTOPIETRA REMOVI

--ORDER BY cobradora, rating

/*

select * from [SIG_IP_VLR_VIEW] ORDER BY cobradora, FAIXA
select * from PERFORMANCE_CALC
select * from PERFORMANCE_historico where data_ref<'20140630'
select distinct data_ref from PERFORMANCE_historico where data_ref<='20140630'
select  data_ref,count(*) from PERFORMANCE_historico where data_ref<='20140630' group by data_ref

select  data_ref,count(*) from PERFORMANCE_historico   group by data_ref

SP_HELP  RR_ROLLRATE_DIA_RPT

select * from [SIG_IP_VLR_VIEW]

select * from tcobradora
*/



GO