
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
use sig
go

-- PROC CALCULO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SIG_IP_CALCULO' AND type = 'P')
   DROP PROCEDURE [dbo].[SIG_IP_CALCULO]
GO

--  EXEC [SIG_IP_CALCULO]   '20170531'
--  EXEC [SIG_IP_RELATORIO] '20170531'

--  EXEC [SIG_IP_CALCULO] '20141120'
--  EXEC [SIG_IP_RELATORIO] '20141120'

-- EXEC [SIG_IP_CALCULO] '20140916'
-- 38 SEG PROD

-- SET-2014 INCLUI COBRADORA
-- select * FROM tcobradora
-- insert tcobradora select 2,722,'GRBC',1,1


-- select  cobradora,ttl_ip from  PERFORMANCE_rpt where ordem_linha=3 order by ttl_ip desc

-- select  * from  PERFORMANCE_rpt where ordem_linha=3 order by ttl_ip desc
-- select  * from  PERFORMANCE_rpt where ordem_linha=2 order by ttl_ip desc

-- select distinct cobradora from  PERFORMANCE_CALC 
-- select * from  PERFORMANCE_CALC where  data_ref ='2014-06-06'
-- select * from  PERFORMANCE_HISTORICO where  data_pagamento ='2014-06-09'
-- TOTAL CARTEIRA	16 a 30	31 a 60	61 a 90	91 a 120	121 a 150	151 a 180	181 a 359
-- Peso	13,00%	15,00%	15,00%	15,00%	20,00%	16,00%	6,00%

/*

SELECT * FROM IP_PESO 
DROP  TABLE IP_PESO 

CREATE TABLE IP_PESO (DATA_REF SMALLDATETIME, RATING VARCHAR(3), FAIXA VARCHAR(50), PESO FLOAT)
DELETE IP_PESO
INSERT IP_PESO SELECT '20140101','B','16 a 30' , 0.13 *100.0
INSERT IP_PESO SELECT '20140101','C','31 a 60' , 0.15 *100.0
INSERT IP_PESO SELECT '20140101','D','61 a 90' , 0.15 *100.0
INSERT IP_PESO SELECT '20140101','E','91 a 120' , 0.15 *100.0

INSERT IP_PESO SELECT '20140101','F','121 a 150' , 0.20 *100.0
INSERT IP_PESO SELECT '20140101','G','151 a 180' , 0.16 *100.0
INSERT IP_PESO SELECT '20140101','H','181 a 359' , 0.06 *100.0

*/



CREATE  PROCEDURE [dbo].[SIG_IP_CALCULO] (@DTREF  as datetime )AS
--IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'CST_VEICULOS_TESTE') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)                  
BEGIN      

--set @DTREF = GETDATE () 
-- SELECT CONVERT(VARCHAR(10),GETDATE(),112)

--DECLARE @DTREF  as datetime
--set @DTREF = CONVERT(VARCHAR(10),GETDATE(),112)

DECLARE @data_ini  as datetime


set @data_ini = CONVERT(CHAR(4),DATEPART(YYYY,@DTREF))+
			RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@DTREF))),2)+ '01'

/*

SELECT LEFT (FAIXA,1),* FROM PERFORMANCE_CALC WHERE DATA_REF ='20140616'
-- LIMPAR OS REPETIDOS			PERFORMANCE_CARGA
DELETE  PERFORMANCE_CARGA FROM  PERFORMANCE_HISTORICO 
WHERE PERFORMANCE_HISTORICO.CONTRATO = PERFORMANCE_CARGA.CONTRATO 
  AND PERFORMANCE_HISTORICO.PARCELA = PERFORMANCE_CARGA.PARCELA 
  AND  PERFORMANCE_HISTORICO.CODCOBRADORA = PERFORMANCE_CARGA.CODCOBRADORA 
  AND  PERFORMANCE_HISTORICO.DATA_REF BETWEEN @data_ini AND @DTREF

Data Referencia 	Cod Cobradora 	Cobradora 	Faixa	Qtd Parc enviada	Vlr de Parc Enviada 	Vlr Recebido 
03/06/2014 00:00	510	Crismico Cobradora	2- 6 A 15	35	9428,63	0


DROP TABLE PERFORMANCE_CALC
CREATE TABLE PERFORMANCE_CALC  (
DATA_REF  SMALLDATETIME,
COD_COBRADORA	 VARCHAR(10) ,
COBRADORA	 VARCHAR(200) ,
RATING VARCHAR(2),
FAIXA VARCHAR(200) ,
QTDE INT ,
VLR_PARC FLOAT ,
VLR_REC  FLOAT ,
PRC_REC  FLOAT ,
PRC_REC_DIA  FLOAT ,
PRC_REC_REAL  FLOAT ,
META	FLOAT,
REALIZADO FLOAT,
DIF_DIA	FLOAT,
DIF_ACUM FLOAT
)

select DATA_REF , CODCOBRADORA, COBRADORA, FAIXA, COUNT(PARCELA), sUM(VLR_PARCELA) , sum (VALORREC)  

FROM performance_historico

where codcobradora in ( 510,520,690,699,710,720)

and data_ref >= @dt_ini

group by DATA_REF , CODCOBRADORA, COBRADORA, FAIXA order by DATA_REF , CODCOBRADORA, COBRADORA, FAIXA

-- SELECT * FROM TCOBRADORA
COCod	CODescr
520	Pontual  Cobran‡as 

-- SELECT * FROM TCOBRADORA where COcod in ( 510,520,690,699,710,720)


SELECT  DISTINCT CODCOBRADORA,COBRADORA FROM PERFORMANCE_HISTORICO
*/

-- LIMPAR OS REPETIDOS			PERFORMANCE_CARGA	PARCELA
-- remove do historico			reprocessamento
DELETE		FROM PERFORMANCE_CALC
	WHERE DATA_REF = @DTREF


-- INCLUIR NO HISTORICO POR COBRADORA
INSERT PERFORMANCE_CALC
		 (DATA_REF  ,
		COD_COBRADORA,
		COBRADORA	 ,
		RATING,
		FAIXA ,
		QTDE ,
		VLR_PARC,
		VLR_REC 
		)



SELECT	@DTREF,  	 
		CASE	WHEN CODCOBRADORA= 693 THEN 690 -- UNIAO
				WHEN CODCOBRADORA= 711 THEN 699 -- RENNOV
				WHEN CODCOBRADORA= 723 THEN 722 -- GRB + GRB JURIDICO
				--   alterado 31/10/16   **************  nova cobradora
				WHEN CODCOBRADORA= 736 THEN 735 -- icr + icr JURIDICO
				ELSE CODCOBRADORA		END,	-- COD COBRADORA	
		CASE	WHEN COBRADORA='UNIAO - JURIDICO' THEN 'UNIAO COBRAN€AS'
				WHEN COBRADORA='RENNOV JURIDICO'  THEN 'RENNOV - VEICULOS'
				WHEN COBRADORA='GRB JURIDICO'	  THEN 'GRB - COBRAN€AS'
				--   alterado 31/10/16   **************  nova cobradora
				WHEN COBRADORA='ICR JURIDICO'	  THEN 'ICR COBRANÇAS' --VOLTEI em 30/08/17-- removi em 28/8/17 COBRANÇAS
				ELSE COBRADORA			END,	
		CASE WHEN LEFT(FAIXA,1) = '2' THEN 'A'
			 WHEN LEFT(FAIXA,1) = '3' THEN 'B'
			 WHEN LEFT(FAIXA,1) = '4' THEN 'C'
			 WHEN LEFT(FAIXA,1) = '5' THEN 'D'
			 WHEN LEFT(FAIXA,1) = '6' THEN 'E'
			 WHEN LEFT(FAIXA,1) = '7' THEN 'F'
			 WHEN LEFT(FAIXA,1) = '8' THEN 'G'
			 WHEN LEFT(FAIXA,2) = '9-' THEN 'H'
			 WHEN LEFT(FAIXA,2) = '99' THEN 'HH'
			 ELSE ''
		END,   -- RATING
		FAIXA,		 -- faixa de ATRASO DA PARCELA
		--FAIXA_RATING,	 -- contrato
		COUNT(PARCELA),

		SUM(ISNULL(VLR_PARCELA,0.0)),
		-- recebimentos somente ateh a data ref
		SUM(CASE WHEN ISNULL(RECEBIDO,0)=1 and data_pagamento IS NOT NULL AND ISNULL(data_pagamento,'')<=@DTREF 
				 THEN ISNULL(VALORREC,0.0) ELSE 0.0 END)

FROM	PERFORMANCE_HISTORICO H (NOLOCK)
WHERE	DATA_REF BETWEEN @data_ini AND @DTREF
	AND (( CodCobradora in --( 690,699 ,710, 722)  -- cobradoras
				(select CoCOD from tcobradora (nolock) where CoTela = 1 )  
				-- CADASTRADAS 699 690 722 730 (NOVA)
			OR CodCobradora in (710,725) )  -- INCLUI 725 GRB-PA EM 22/2/17
				--   alterado 31/10/16   **************  nova cobradora 736 icr jurid
				-- inclui 720 sotopietra em 7/3/17   -- INCLUI FAIXA 99 EM 25/08/2017
	OR	 (CodCobradora IN (693 , 711, 723 , 736 , 720) AND  LEFT(FAIXA,2) BETWEEN '2' AND '99') )
--	OR	 (CodCobradora IN (693 , 711, 723 , 736 , 720) AND  LEFT(FAIXA,2) BETWEEN '2' AND '9-') )
-- JURIDICO NAS FAIXAS ATE 360
-- INCLUI > 360 99 EM 25/8/17
-- 723 , 736 , 711

/*
COCod	CODescr		INCLUIR NO IP
711	Rennov Juridico
736	ICR JURIDICO
723	GRB JURIDICO
*/
-- ,722,  693,711
--  LEFT(FAIXA,2) <= '9-' -- atraso ate 360d
-- 690 = UNIAO COBRAN€AS, 699=RENNOV - VEICULOS, 710= RENNOV PA, 722=GRBC
-- INCLUI 693= UNIAO JURID E 711= RENNOV JURID, SOMADOS NAS COBRADORAS 690 E 699
-- INCLUI 722 GRBC
-- 710 REMOVER RENNOV PA somente do TTL IP, deixar nos analiticos PERF_CALC
-- 720	SOTOPIETRA REMOVI
-- 510,520,  
-- 520	Pontual  Cobran‡as  removi
-- 510	Crismico Cobradora  removi
-- SELECT * FROM TCOBRADORA
	GROUP BY CASE	WHEN CODCOBRADORA= 693 THEN 690 -- UNIAO
					WHEN CODCOBRADORA= 711 THEN 699 -- RENNOV
					WHEN CODCOBRADORA= 723 THEN 722 -- GRB + GRB JURIDICO
					--   alterado 31/10/16   **************  nova cobradora
					WHEN CODCOBRADORA= 736 THEN 735 -- icr + icr JURIDICO
					ELSE CODCOBRADORA		END,
			 CASE	WHEN COBRADORA='UNIAO - JURIDICO' THEN 'UNIAO COBRAN€AS'
					WHEN COBRADORA='RENNOV JURIDICO'  THEN 'RENNOV - VEICULOS'
					WHEN COBRADORA='GRB JURIDICO'	  THEN 'GRB - COBRAN€AS'
					--   alterado 31/10/16   **************  nova cobradora
					WHEN COBRADORA='ICR JURIDICO'	  THEN 'ICR COBRANÇAS' -- removi  COBRANÇAS em 28/8/17
					ELSE COBRADORA			END,	
			FAIXA

-- INCLUIR NO CALCULO O  TOTAL CARTEIRA
INSERT PERFORMANCE_CALC
		(DATA_REF  ,
		COD_COBRADORA,
		COBRADORA	 ,
		RATING,
		FAIXA ,
		QTDE ,
		VLR_PARC,
		VLR_REC 
		)


SELECT	@DTREF,  	 
		'9999',
		'TOTAL CARTEIRA',	
		CASE WHEN LEFT(FAIXA,1) = '2' THEN 'A'
			 WHEN LEFT(FAIXA,1) = '3' THEN 'B'
			 WHEN LEFT(FAIXA,1) = '4' THEN 'C'
			 WHEN LEFT(FAIXA,1) = '5' THEN 'D'
			 WHEN LEFT(FAIXA,1) = '6' THEN 'E'
			 WHEN LEFT(FAIXA,1) = '7' THEN 'F'
			 WHEN LEFT(FAIXA,1) = '8' THEN 'G'
			 WHEN LEFT(FAIXA,2) = '9-' THEN 'H'
			 WHEN LEFT(FAIXA,2) = '99' THEN 'HH'
			 ELSE ''
		END,   -- RATING
		FAIXA,		 -- faixa de ATRASO DA PARCELA
		--FAIXA_RATING,	 -- contrato
		COUNT(PARCELA),

		SUM(ISNULL(VLR_PARCELA,0.0)),
		-- recebimentos somente ateh a data ref
		SUM(CASE WHEN ISNULL(RECEBIDO,0)=1 and  data_pagamento IS NOT NULL AND ISNULL(data_pagamento,'')<=@DTREF 
				 THEN ISNULL(VALORREC,0.0) ELSE 0.0 END)

FROM		PERFORMANCE_HISTORICO H (NOLOCK)
	WHERE	DATA_REF BETWEEN @data_ini AND @DTREF
--		AND codcobradora in ( 510,520,690,699, 722)  ANTIGAS 2014
--	AND ( CodCobradora in ( 690,699 ,722)  -- cobradoras ALTERADO CF PARAMETRO JUL-15
	AND ( CodCobradora in 	(select CoCOD from tcobradora (nolock) where CoTela = 1 )
							-- CADASTRADAS 699 690 722 730 (NOVA)  JUL-15

				--   alterado 31/10/16   **************  nova cobradora 736 icr jurid
				--	 inclui 720 sotopietra em 7/3/17
				-- inclui 720 sotopietra em 7/3/17   -- INCLUI FAIXA 99 EM 25/08/2017
	OR	 (CodCobradora IN (693 , 711, 723 , 736 , 720) AND  LEFT(FAIXA,2) BETWEEN '2' AND '99') )
--	OR	 (CodCobradora IN (693, 711 , 723 , 736 , 720 ) AND  LEFT(FAIXA,2) BETWEEN '2' AND '9-') )-- JURIDICO NAS FAIXAS ATE 360

-- , 722,  693,711
-- 710 REMOVER RENNOV PA DO TTL
-- 710 rennov PA  VAI no calculo de ttl
-- 720  SOTOPIETRA removido
-- ,722 GRBC   INCLUIR
-- 520	Pontual  Cobran‡as  removi
-- 510	Crismico Cobradora  removi

GROUP BY	--CODCOBRADORA,			COBRADORA,	
			FAIXA



-- INCLUIR NO CALCULO A LINHA DE   TOTAL DE CADA COBRADORA **************************
INSERT PERFORMANCE_CALC
		(DATA_REF  ,
		COD_COBRADORA,
		COBRADORA	 ,
		RATING,
		FAIXA ,
		QTDE ,
		VLR_PARC,
		VLR_REC 
		)
SELECT	@DTREF,  	 
		H.COD_COBRADORA,
		H.COBRADORA,	
		'T',	 -- RATING TTL
		'TOTAL GERAL',		 -- faixa de ATRASO DA PARCELA
		--FAIXA_RATING,	 -- contrato
		SUM(QTDE),
		SUM(ISNULL(VLR_PARC,0.0)),
		-- recebimentos somente ateh a data ref
		SUM(VLR_REC)
FROM		PERFORMANCE_CALC H (NOLOCK)
	WHERE	H.DATA_REF = @DTREF
	--	AND H.cod_cobradora in ( 690,699,722) -- 3 COBRADORAS ATIVAS IP  ANTES DE JUL-15
	--  ALTERADO EM JUL-15 CF PARAMETROS DE COBRADORA CADASTRADA
		AND (H.cod_cobradora in 	(select CoCOD from tcobradora (nolock) where CoTela = 1 ))
								-- CADASTRADAS 699 690 722 730 (NOVA)  JUL-15
		--OR	 (h.Cod_Cobradora IN (693 , 711, 723 , 736 , 720))  -- AND  LEFT(FAIXA,2) BETWEEN '2' AND '99')
		AND H.rating in ('B','C','D','E','F','G','H','HH')
		-- INCLUI HH EM 25/8/17
GROUP BY H.COD_COBRADORA, H.COBRADORA

-- COCod	CODescr 691	RENNOV SERVI€OS
-- 690	UNIAO COBRAN€AS
-- 699	RENNOV - VEICULOS
-- 720  SOTOPIETRA removido
-- ,722 GRBC   INCLUIR
-- CALCULA O PERC RECEBIDO 
UPDATE	PERFORMANCE_CALC
SET		PRC_REC  = CASE WHEN  ISNULL(VLR_PARC,0.0) = 0.0 THEN 0.0
							ELSE  ISNULL(VLR_REC,0.0) / ISNULL(VLR_PARC,0.0) END
	WHERE DATA_REF = @DTREF

-- SELECT * FROM 	PERFORMANCE_HISTORICO WHERE DATA_REF BETWEEN '20140601' AND '20140610'
-- SELECT * FROM PERFORMANCE_CALC WHERE DATA_REF='20140918'
end
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

