
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

USE SIG
GO

-- EXEC [SIG_IP_CARGA]
-- 2 min 15s
-- 1 min 36 s prod

-- PROC CARGA FECHAMENTO  **********************************************************************************************************************************************************************************
IF EXISTS (SELECT name FROM sysobjects 
         WHERE name = 'SIG_IP_CARGA' AND type = 'P')
   DROP PROCEDURE [dbo].[SIG_IP_CARGA]
GO

-- CARGA IP
-- EXEC SIG_IP_CARGA
CREATE Procedure [dbo].[SIG_IP_CARGA] AS  
--IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'CST_VEICULOS_TESTE') AND OBJECTPROPERTY(id, N'IsUserTable') = 1)                    
BEGIN                 
  
DECLARE @DTREF  as datetime  
set @DTREF = CONVERT(VARCHAR(10),GETDATE(),112)  
-- SELECT CONVERT(VARCHAR(10),GETDATE(),112)  
  
  
DECLARE @data_ini  as datetime  
set @data_ini = CONVERT(CHAR(4),DATEPART(YYYY,@DTREF))+  
   RIGHT(RTRIM('00'+CONVERT(CHAR(2),DATEPART(MM,@DTREF))),2)+ '01'  
    
-- SP_HELP Performance_carga  
-- TRUNCATE TABLE Performance_carga                  
TRUNCATE TABLE  Performance_carga                  
TRUNCATE TABLE  Performance_carga_PARC  
  
DECLARE @DT_PDD  as datetime  
 set @DT_PDD = (Select max(csdtref)  from BacenSantanaMicrocredito .. Eclas   (NOLOCK) where CsDtRef < @data_ini )  
                  
-- 20-6-2014  
-- Select *  from BacenSantanaMicrocredito .. Eclas  
-- Select *  from Performance_carga  
-- Sp_help Performance_carga  
-- ALTER TABLE Performance_carga ADD CODLOJA VARCHAR(20)  
-- ALTER TABLE Performance_carga ADD CODCLI VARCHAR(20)  
 INSERT  Performance_carga  
   (DATA_REF, CONTRATO,  --MODALIDADE,                   
                CPF_CNPJ,                            --ATRASO,   
   SituacaoBacen,                  
          --VENCIMENTO, VLR_PARCELA, QTD_PARC_ATRASO,  
    VALOR_RISCO , QTD_PARC_ATRASO  
--, VALOR_FINANCIADO   
   )                    
SELECT         distinct   
                @DTREF  , -- AS DATA_REF,   
                opNROPER , --AS CONTRATO,                    
    CSCGCCLI,  
    CSCODNIV,  
    CSVLRINSC,  
                0 -- QTD_PARC_ATRASO,                  
                  
--INTO COBRANCA_VEICULO  */                  
  FROM   
       (select * from BacenSantanaMicrocredito .. Eclas Y1  WITH (NOLOCK)                
    where y1.Csdtref = @DT_PDD      ) as Y  
  RIGHT JOIN   
  (SELECT * FROM CDCSANTANAMicrocredito .. COPER O1 WITH (NOLOCK)                    
   WHERE (O1.opdtliq is null) or (O1.opdtliq  > @DTREF)     -- nao liquidado    OU LIQUIDADO APOS O PERIODO  
   ) AS O  
 ON O.OPnroper = Y.CSNROPER                                                         
  
/*  
select *  FROM  BacenSantanaMicrocredito .. Eclas Y  WITH (NOLOCK) , CDCSANTANAMicrocredito .. COPER O WITH (NOLOCK)                    
 where y.Csdtref = '20140531'   and O.opnroper *= Y.CSNROPER and O.opdtliq is null                    
 and csnroper='90903219'  
*/  
-- ALTER TABLE Performance_carga ADD CODCLI VARCHAR(30)  
-- sp_help Performance_carga   
  
-- ATUALIZA DADOS DOS CONTRATOS  
UPDATE Performance_carga   
SET  PROPOSTA =  OPNRPROP,  
/*  
        CODPROMOTORA =  O3CODORG ,                    
        PROMOTORA =     O3DESCR ,                    
                O4CODORG + '-' + O4NOME AS LOJA,                    
                CLNOMECLI AS NOME_CLIENTE,                    
                TOCODCART AS CARTEIRA,          
                --panrparc AS PARCELA,                    
                DATEDIFF(D, (x.padtvcto) ,  GETDATE())AS ATRASO,                  
                --' '   'Rating',                  
                CSCODNIV AS SituacaoBacen,                                  
                x.padtvcto VENCIMENTO,                   
  
                ' ' as QTD_PARC_ATRASO,                  
                ' 'as VALOR_RISCO,                  
/*             as VALOR_RISCO,*/                  
     */       
    CODCLI = OPCODCLI,  
                MODALIDADE = OPCODOP ,                    
                DATA_CONTRATO = OPDTBASE ,                    
                PLANO = OPQTDDPARC ,                    
                 PRI_VCTO = OPDT1VCTO,                      
                VLR_PARCELA = opvlrparc ,                     
                VALOR_FINANCIADO = OPVLRFIN ,                    
                TAC = OPTAC ,                    
                IOC = OPIOC    ,  
    VENCIMENTO = OPDTVCTO, -- VENCTO DO CONTRATO  
    CODPROMOTORA =  OPCODORG3,  
    CODLOJA = OPCODORG4  
  
  FROM CDCSANTANAMicrocredito .. COPER WITH (NOLOCK)                    
  
 where opnroper = CONTRATO  
  
  
-- REMOVE OS Q NAO SAO VEICULOS  
-- 3  TUDO O Q VAI PARA COBRADORA  
/*  
delete FROM Performance_carga   
WHERE DATA_REF=@DTREF -- mes atual  
 AND MODALIDADE not in (552,610,612,630,632,642,643,670,672,700,751,752,760,862,893,553,894)  
*/  
/* AND Performance_carga.CONTRATO  
 in (select opnroper   
  from CDCSANTANAMicroCredito..COPER O (NOLOCK)    
  where Performance_carga.CONTRATO =O.OPNROPER   
   AND OPCODOP not in (552,610,612,630,632,642,643,670,672,700,751,752,760,862,893,553,894))  
*/  
  
  
-- 1M17  
-- ATUALIZA DADOS DOS CLIENTES  
UPDATE Performance_carga   
SET  RG=       CLRG ,                    
  NOME_CLIENTE = CLNOMECLI,  
        ENDERECO= CLENDCOB ,                    
        BAIRRO=   CLBAICOB ,                    
        CIDADE=   CLCIDCOB ,                    
        CEP=      CLCEPFIS ,                    
        UF=       CLUFCOB ,                    
        TELEFONE= CLFONEFIS ,                    
        CELULAR=  CLCELULAR ,                    
        FONE_COMERCIAL=        CLFONECOM ,                    
        LOCAL_TRABALHO=        CLEMPTRBL ,                    
        REFERENCIA1=        CLFONERF1 ,                    
        REFERENCIA2=        CLFONERF2 ,  
  
    PROFISSAO=CLPROFI   ,            
    CARGO=CLCARGO     
                  
--INTO COBRANCA_VEICULO          
  FROM CDCSANTANAMicrocredito .. cclie  (NOLOCK)  
 where CODCLI= ClCODCLI  
  
-- select *  FROM CDCSANTANAMicrocredito .. cclie   
-- select *  FROM Performance_carga   
  
UPDATE  Performance_carga   
 SET     CARTEIRA= TOCODCART   
 FROM    CDCSANTANAMicrocredito .. tmoda WITH (NOLOCK)  
 where ToCodOp = MODALIDADE  -- opcodop                    
  
  
-- ATUALIZA DADOS DOS CONTRATOS  
UPDATE Performance_carga   
SET  VALORBEM    =    ABVLRVND ,                  
        MARCA=     ABCODMARCA ,                    
  MODELO = ABMODELO ,                    
  ANO_FABRIC = ABANOFAB  ,                    
  ANO_MODELO = ABANOMOD ,                    
  COR = ABCOR ,                    
  PLACA= ABPLACA ,             
  RENAVAM = ABRENAVAM ,             
  CHASSI =ABCHASSI    
-- SELECT TOP 200 *   
FROM    CDCSANTANAMicroCredito..CBFIN B (NOLOCK)                          
WHERE ABNROPER = CONTRATO               
 AND ABCNTRL = ( SELECT   MAX(ABCNTRL) FROM     CDCSANTANAMicroCredito..CBFIN B1 (NOLOCK)   
 -- ALTERADO EM 23/11/2016  PB NO JOB DIARIO, 1 CONTRATO 612265783 COM ABNRGAR MA  
      WHERE B1.ABNROPER = B.ABNROPER  AND B1.ABNRGAR IN ('01','1' ) )  
--CONVERT(INT,B1.ABNRGAR)=1  )  AND CONVERT(INT,ABNRGAR) = 1  
 AND ABNRGAR  IN ('01','1' )  
  
  
  
-- ATUALIZA DADOS DA PROMOTORA  
UPDATE Performance_carga   
SET  
        PROMOTORA =     O3DESCR   
FROM    CDCSANTANAMicrocredito .. TORG3 O  (NOLOCK)  
WHERE O.O3CODORG = CODPROMOTORA  
  
  
-- ATUALIZA DADOS DA LOJA  
UPDATE Performance_carga   
SET  
        LOJA= O4CODORG + '-' + O4NOME                    
FROM    CDCSANTANAMicrocredito .. TORG4 O  (NOLOCK)  
WHERE O.O4CODORG = CODLOJA  
  
-- sp_help Performance_carga  
-- alter table Performance_carga alter column LOJA varchar(60)  
  
  
-- ATUALIZA DADOS DO AGENTE  
UPDATE Performance_carga   
SET  
                AGENTE= O.AGENTE   ,            
                COD_AGENTE = O.COD_AGENTE   
FROM    --SF_RELATORIOS ..   
  TORG3_AGENTE O  (NOLOCK)  
WHERE O.COD_PROMOTORA = Performance_carga.CODPROMOTORA  
-- sp_help Performance_carga  
-- alter table Performance_carga alter column AGENTE varchar(60)  
  
  
-- SELECT *              FROM SF_RELATORIOS .. TORG3_AGENTE         -- 000488  
-- SELECT *              FROM Performance_carga   
-- SELECT CODPROMOTORA,*              FROM Performance_carga -- 000360  
  
    
  
/*  
        CODPROMOTORA =  O3CODORG ,                    
        PROMOTORA =     O3DESCR ,                    
                O4CODORG + '-' + O4NOME AS LOJA,                    
                CLNOMECLI AS NOME_CLIENTE,                    
                TOCODCART AS CARTEIRA,          
                --panrparc AS PARCELA,                    
                DATEDIFF(D, (x.padtvcto) ,  GETDATE())AS ATRASO,                  
                --' '   'Rating',                  
                CSCODNIV AS SituacaoBacen,                                  
                x.padtvcto VENCIMENTO,                   
  
/*             as VALOR_RISCO,*/                  
     */       
  
  
  
-- DECLARE @DTREF AS DATETIME SET @DTREF = GETDATE()                    
/*  
  
  
        VALORBEM        ABVLRVND ,                  
                ABCODMARCA AS MARCA,                    
    ABMODELO AS MODELO,                    
    ABANOFAB AS ANO_FABRIC,                    
    ABANOMOD AS ANO_MODELO,                    
    ABCOR AS COR,                    
    ABPLACA AS PLACA,             
    ABRENAVAM AS RENAVAM,             
    ABCHASSI  AS CHASSI,             
  
 INSERT  Performance_carga  
   (DATA_REF, CONTRATO, PROPOSTA, AGENTE,COD_AGENTE, CODPROMOTORA,                   
          PROMOTORA, LOJA, NOME_CLIENTE, CARTEIRA, MODALIDADE,                   
          DATA_CONTRATO, PLANO, PARCELA, PRI_VCTO, ATRASO, SituacaoBacen,                  
          VENCIMENTO, VLR_PARCELA, QTD_PARC_ATRASO, VALOR_RISCO, VALOR_FINANCIADO,                  
          TAC, IOC, CPF_CNPJ, RG, ENDERECO, BAIRRO, CIDADE, CEP, UF, TELEFONE,                   
          CELULAR, FONE_COMERCIAL, LOCAL_TRABALHO, REFERENCIA1, REFERENCIA2,                   
          VALORBEM, MARCA, MODELO, ANO_FABRIC,  ANO_MODELO, COR, PLACA, RENAVAM,CHASSI, PROFISSAO, CARGO, SALDOINSC)                    
                  
                  
SELECT         distinct   
                @DTREF   AS DATA_REF,   
                OPNROPER AS CONTRATO,                    
                OPNRPROP AS PROPOSTA,                    
                AGENTE   AS AGENTE,            
                COD_AGENTE as CODAGENTE,                              
                O3CODORG AS CODPROMOTORA,                    
                O3DESCR AS PROMOTORA,                    
                O4CODORG + '-' + O4NOME AS LOJA,                    
                CLNOMECLI AS NOME_CLIENTE,                    
                TOCODCART AS CARTEIRA,                    
                OPCODOP AS MODALIDADE,                    
                OPDTBASE AS DATA_CONTRATO,                    
                OPQTDDPARC AS PLANO,                    
                panrparc AS PARCELA,                    
                OPDT1VCTO PRI_VCTO,                      
                DATEDIFF(D, (x.padtvcto) ,  GETDATE())AS ATRASO,                  
                --' '   'Rating',                  
                CSCODNIV AS SituacaoBacen,                                  
                x.padtvcto VENCIMENTO,                   
                opvlrparc VLR_PARCELA,                     
                ' ' as QTD_PARC_ATRASO,                  
                ' 'as VALOR_RISCO,                  
/*             as VALOR_RISCO,*/                  
                OPVLRFIN AS VALOR_FINANCIADO,                    
                OPTAC AS TAC,                    
                OPIOC AS IOC,                    
                CLCGC AS CPF_CNPJ,                    
                CLRG AS RG,                    
                CLENDCOB AS ENDERECO,                    
                CLBAICOB AS BAIRRO,                    
                CLCIDCOB AS CIDADE,                    
                CLCEPFIS AS CEP,                    
                CLUFCOB AS UF,                    
                CLFONEFIS AS TELEFONE,                    
                CLCELULAR AS CELULAR,                    
                CLFONECOM AS FONE_COMERCIAL,                    
                CLEMPTRBL AS LOCAL_TRABALHO,                    
                CLFONERF1 AS REFERENCIA1,                    
                CLFONERF2 AS REFERENCIA2,                    
                ABVLRVND AS VALORBEM,                  
                ABCODMARCA AS MARCA,                    
    ABMODELO AS MODELO,                    
    ABANOFAB AS ANO_FABRIC,                    
    ABANOMOD AS ANO_MODELO,                    
    ABCOR AS COR,                    
    ABPLACA AS PLACA,             
    ABRENAVAM AS RENAVAM,             
    ABCHASSI  AS CHASSI,             
    CLPROFI   AS PROFISSAO,            
    CLCARGO   AS CARGO,   
    CSVLRINSC   
                 
                             
             
                  
                  
--INTO COBRANCA_VEICULO          
  FROM CDCSANTANAMicrocredito .. COPER WITH (NOLOCK),                    
       CDCSANTANAMicrocredito .. cclie WITH (NOLOCK),                  
       BacenSantanaMicrocredito .. Eclas Y  WITH (NOLOCK),                   
      CDCSANTANAMicrocredito .. cparc X WITH (NOLOCK),                  
       SF_RELATORIOS .. TORG3_AGENTE WITH (NOLOCK),                    
      -- CDCSANTANAMicrocredito .. TORG2 WITH (NOLOCK),                    
       CDCSANTANAMicrocredito .. TORG3 WITH (NOLOCK),                    
       CDCSANTANAMicrocredito .. TORG4 WITH (NOLOCK),                    
       CDCSANTANAMicrocredito .. tmoda WITH (NOLOCK),                  
       CDCSANTANAMicroCredito..CBFIN B WITH (NOLOCK)                          
                       
                      
                    
 where clcodcli = opcodcli                    
   and opnroper = panroper             
   AND COD_PROMOTORA = opcodorg3                 
   --and o1codorg = opcodorg1                    
   --and o2codorg = opcodorg2                    
   and o3codorg = opcodorg3                    
   and o4codorg = opcodorg4                    
   and tocodop = opcodop                    
   and Y.Csnroper =* opnroper                  
   and ABNROPER =* OPNROPER                   
   and opdtliq is null                    
   and padtliq is null                                  
   and x.pacntrl = (select max(y.pacntrl) from CDCSANTANAMicrocredito .. cparc y  where x.panroper = y.panroper and x.panrparc = y.panrparc)                    
   And y.Csdtref = (Select max(csdtref)  from BacenSantanaMicrocredito .. Eclas )                  
   AND B.ABCNTRL = (SELECT MAX(ABCNTRL) FROM CDCSANTANAMicroCredito..CBFIN B2 WHERE B.ABNROPER = B2.ABNROPER AND B.ABNRGAR = B2.ABNRGAR)                   
      
-- SOMENTE VENCIDAS                     
*/                  
  
/* PARCELAS */                  
/*  
CREATE TABLE Performance_carga_PARC  (  
  CONTRATO varchar(15),  
  PARCELA varchar(3),  
  ATRASO int,  
  VENCIMENTO smalldatetime,  
  DATA_REF smalldatetime,  
  DATA_PAGAMENTO smalldatetime,  
  RECEBIDO varchar(1),  
  VALORREC float,  
  CODCOBRADORA int )  
  
  
CREATE INDEX  Performance_carga_PARC_IDX1 ON Performance_carga_PARC  
    ( CONTRATO,PARCELA )  
*/  
  
INSERT  Performance_carga_PARC  (  
  CONTRATO , --varchar(15),  
  PARCELA  , --varchar(3),  
  ATRASO  , --int,  
  VENCIMENTO  , --smalldatetime,  
  DATA_REF  , --smalldatetime,  
  DATA_PAGAMENTO , -- smalldatetime,  
  RECEBIDO  , --varchar(1),  
  VALORREC  , --float,  
  CODCOBRADORA, --int   
  COBRADORA )   
  
SELECT PANROPER, PANRPARC,  
    
                DATEDIFF(D, (x.padtvcto) , @DTREF )AS ATRASO,                  
  PADTVCTO, @DTREF, PADTLIQ, '',0.0,NULL ,''  
  
FROM     Performance_carga P (NOLOCK),  
   CDCSANTANAMicrocredito .. cparc X  (NOLOCK)  
 where  P.CONTRATO = X.panroper             
   and ((PAdtliq is null)  or (PAdtliq >= @DTREF))  -- NAO PAGA OU PAGA APOS O PERIODO  
   and x.pacntrl = (select  max(y.pacntrl) from CDCSANTANAMicrocredito .. cparc y    (NOLOCK)  
      where x.panroper = y.panroper and x.panrparc = y.panrparc)                    
/*  -- CRITERIOS DIFERENTES  
 AND PADTVCTO <= @DTREF  -- VENCIDAS  
   and (padtliq is null      -- NAO PAGAS    
  OR PADTLIQ >= @DTREF )  -- PAGA FORA DO PERIODO  
*/  
  
                  
/* AJUSTA RISCO */                  
                
  
  
/* AJUSTA COBRADORA*/                  
                  
                  
UPDATE Performance_carga_PARC SET CODCOBRADORA =  (SELECT TOP 1 LCCODACOB                                                    
                   FROM GESTORCOB .. ELCCB WITH (NOLOCK)                   
                  WHERE LCNROPER = CONTRATO    
                    AND LCNRPARC = PARCELA                 
                    AND LCDTVAL = (SELECT MAX(LCDTVAL) FROM GESTORCOB .. ELCCB   L1   (NOLOCK)                 
                                    WHERE L1.LCNROPER = CONTRATO  
                    AND   L1.LCNRPARC = PARCELA     -- ENVIO ATE DT REF            
					AND   L1.LCDTVAL  <= @DTREF)     
                    AND NOT (  LCDTVCTO >@DTREF) 
					AND   LCDTMOV = '2079-02-02'
                  ORDER BY LCDTVAL DESC)      
  
UPDATE  Performance_carga_PARC SET COBRADORA =  ACNOMEACOB   
 FROM GESTORCOB .. TACOB (NOLOCK)  where  ACCODACOB = codcobradora                    
                
UPDATE  Performance_carga  
SET  ATRASO = P.ATRASO,  
  PARCELA = P.PARC  
FROM  (SELECT P1.CONTRATO,MIN(P1.PARCELA) AS PARC,MAX(P1.ATRASO) AS ATRASO FROM Performance_carga_PARC  P1 (NOLOCK)  
  GROUP BY P1.CONTRATO) AS P  
WHERE Performance_carga.CONTRATO = P.CONTRATO  
      
-- ALTERA A COBRADORA NO CONTRATO  SEGUNDO A PARCELA MAIS ATRASADA  
UPDATE  Performance_carga  
SET  CODCOBRADORA =P.CODCOBRADORA,  
  COBRADORA =P.COBRADORA  
FROM Performance_carga_PARC  P (NOLOCK)  
WHERE Performance_carga.CONTRATO = P.CONTRATO  
 AND Performance_carga.PARCELA = P.PARCELA  
  
                
/*AJUSTA RATING */                  
-- sp_help performance_carga_parc                  
-- alter table  performance_carga_parc   add faixa varchar(100), faixa_rating varchar(100)  
-- rating do contrato                    
UPDATE  Performance_carga  SET RATING = 'A', FAIXA_RATING = 'A- 6 a 15' WHERE  ATRASO  <= 15                               
    
UPDATE  Performance_carga  SET RATING = 'B', FAIXA_RATING = 'B- 16 a 30' WHERE ATRASO  >15 and ATRASO <= 30                  
                  
UPDATE  Performance_carga  SET RATING = 'C' , FAIXA_RATING = 'C- 31 a 60'WHERE ATRASO > 30 and ATRASO  <= 60                  
                  
UPDATE  Performance_carga  SET RATING = 'D', FAIXA_RATING = 'D- 61 a 90' WHERE ATRASO > 60 and ATRASO <= 90                  
                  
UPDATE  Performance_carga  SET RATING = 'E', FAIXA_RATING = 'E- 91 a 120' WHERE ATRASO >90 and ATRASO <= 120                  
                
UPDATE  Performance_carga  SET RATING = 'F', FAIXA_RATING = 'F- 121 a 150' WHERE ATRASO >120 and ATRASO<= 150                  
                  
UPDATE  Performance_carga  SET RATING = 'G', FAIXA_RATING = 'G- 151 a 180' WHERE ATRASO > 150 and ATRASO <= 180                  
                   
UPDATE  Performance_carga  SET RATING = 'H', FAIXA_RATING = 'H- 181 a 360' WHERE ATRASO >180 and ATRASO  <= 360                  
                  
UPDATE  Performance_carga  SET RATING = 'HH', FAIXA_RATING = 'H- > 360' WHERE ATRASO  > 360                  
                  
                  
  
                                  
  
  
  
---------  
  
                 
                  
/* AJUSTA REGRA*/                  
                  
                   
UPDATE Performance_carga  SET REGRA =  (SELECT TOP 1 LTRIM(RTRIM(CONVERT(CHAR, RCCODREGR))) + '-' + RCDESCR          
                   FROM GESTORCOB..ELCCB (NOLOCK), GESTORCOB..TREGC  WITH (NOLOCK)                  
                  WHERE LCNROPER = CONTRATO                     
                    AND LCDTVAL = (SELECT MAX(LCDTVAL)                    
                                     FROM GESTORCOB .. ELCCB      (NOLOCK)                
                                    WHERE LCNROPER = CONTRATO)                    
                    AND LCCODREGR = RCCODREGR                    
                    AND RCCNTRL = (SELECT MAX(RCCNTRL)                    
                                     FROM GESTORCOB .. TREGC       (NOLOCK)               
                                    WHERE RCCODREGR = LCCODREGR)
					AND LCDTMOV = '2079-02-02')                  
/* AJUSTA BLOQUEIO */                  
                  
UPDATE Performance_carga    
 SET BLOQUEIO =  (SELECT MAX(EODTOCOR)   
   FROM CDCSANTANAMICROCREDITO..EOCOR   (NOLOCK)  
   WHERE EONROPER = CONTRATO  AND EOCODOCOR = '122')                  
                  
                  
/* AJUSTA DESBLOQUEIO */                  
                  
                      
UPDATE Performance_carga    
  SET  DESBLOQUEIO = (SELECT MAX(EODTOCOR)   
       FROM CDCSANTANAMICROCREDITO..EOCOR   (NOLOCK)  
       WHERE EONROPER = CONTRATO  AND EOCODOCOR = '123')                  
                  
                  
/* AJUSTA MARCA */                  
                  
 UPDATE Performance_carga   
   SET MARCA  = TMDESCR    
   FROM  CDCSANTANAMicroCredito..TMARC  (NOLOCK)  
     --,      Performance_carga   
   WHERE  Performance_carga.MARCA = TMCODMARC                   
                  
                  
/* AJUSTA VALOR DO BEM */                  
--UPDATE SF_RELATORIOS..  
UPDATE Performance_carga SET VALORBEM =  ABVLRVND    
from CDCSANTANAMicroCredito..cbfin c (NOLOCK)   
--, SF_RELATORIOS..  Performance_carga v (NOLOCK)  
where Performance_carga.contrato = ABNROPER                  
                  
END                  
  
  
  
/* AJUSTA FAIXA DE ATRASO */            
-- faixa de atraso da PARCELA  
                  
UPDATE  Performance_carga_parc  SET FAIXA = '2- 6 A 15' WHERE ATRASO  <= 15;            
        
UPDATE  Performance_carga_parc  SET FAIXA = '3- 16 A 30' WHERE ATRASO >  15 AND ATRASO <= 30;            
        
UPDATE  Performance_carga_parc  SET FAIXA = '4- 31 A 60'  WHERE ATRASO >  30 AND ATRASO <= 60;           
        
UPDATE  Performance_carga_parc  SET FAIXA = '5- 61 A 90'  WHERE ATRASO >  60 AND ATRASO <= 90;            
        
UPDATE  Performance_carga_parc  SET FAIXA = '6- 91 A 120'  WHERE ATRASO >  90 AND ATRASO <= 120;            
        
UPDATE  Performance_carga_parc  SET FAIXA = '7- 121 A 150'  WHERE ATRASO >  120 AND ATRASO <= 150;            
        
UPDATE  Performance_carga_parc  SET FAIXA = '8- 151 A 180'  WHERE ATRASO >  150 AND ATRASO <= 180;            
        
UPDATE  Performance_carga_parc  SET FAIXA = '9- 181 A 360'  WHERE ATRASO >  180 AND ATRASO <= 360;            
        
UPDATE  Performance_carga_parc  SET FAIXA = '99- > 360'  WHERE ATRASO >  360;             
            
  
  
DELETE  PERFORMANCE_CARGA  WHERE CODCOBRADORA IS NULL  
DELETE  PERFORMANCE_CARGA_PARC  WHERE CODCOBRADORA IS NULL  
  

GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

