use sig
go

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


-- DROP   TABLE AR_SEGMENTO

CREATE TABLE AR_SEGMENTO (
COD		VARCHAR(3), 
DESCR	VARCHAR(150) )

CREATE INDEX AR_SEGMENTO_IDX1 ON AR_SEGMENTO (COD)
 
-- DROP   TABLE AR_NUM_CARTA
CREATE TABLE AR_NUM_CARTA (
COD		VARCHAR(3), 
DESCR	VARCHAR(150) )

CREATE INDEX AR_NUM_CARTA_IDX1 ON AR_NUM_CARTA (COD)


-- DROP   TABLE AR_RETORNO
CREATE TABLE AR_RETORNO (
COD		VARCHAR(3), 
DESCR	VARCHAR(150) )

CREATE INDEX AR_RETORNO_IDX1 ON AR_RETORNO (COD)

-- DROP   TABLE AR_MOTIVO
CREATE TABLE AR_MOTIVO (
COD		VARCHAR(3), 
DESCR	VARCHAR(200) )

CREATE INDEX AR_MOTIVO_IDX1 ON AR_MOTIVO (COD)


-- DROP   TABLE AR_CARGA
CREATE TABLE AR_CARGA (
CODigo			VARCHAR(08), -- 1	8	8	N
Tipo_Registro	INT,		 -- 9	9	1	N
Sequencia		INT,		 -- 10	14	5	N
Sistema			INT,		 -- 15	15	1	N
Segmento		VARCHAR(03), -- 16	18	3	X
Documento		VARCHAR(20), -- 19	38	20	X
Contrato		VARCHAR(30), -- 39	68	30	X
Valor			FLOAT,		 -- 69	79	11	N
Data_Vcto_Debito	 DATETIME,	  -- 	80	87	8	N
Data_Inclusao_Debito DATETIME,    -- 	88	95	8	N
Dt_Envio_Carta		 DATETIME,    -- 	96	103	8	N
Dt_Agendam_Carta	 DATETIME,    -- 		104	111	8	N
Tipo_Carta			 VARCHAR(02), -- 112	113	2	X
No_Carta			 VARCHAR(02), -- 114	115	2	X
NSU_Carta			 VARCHAR(11), -- 116	126	11	N ID  **
Dt_Retorno_Correio	 DATETIME,	  -- 127	134	8	N
Cod_Retorno			 VARCHAR(02), -- 135	136	2	X
Motivo_Devolucao	 VARCHAR(02), -- 137	138	2	X
Cod_Cliente	VARCHAR(08), -- 139	146	8	N
Endereco	VARCHAR(50), -- 147	196	50	X
Bairro		VARCHAR(20), -- 197	216	20	X
Cidade		VARCHAR(20), -- 217	236	20	X
UF			VARCHAR(02), -- 237	238	2	X
CEP			VARCHAR(08), -- 239	246	8	N
Reservado	VARCHAR(53), -- 247	299	53	N
Controle	VARCHAR(01)  -- 300	300	1	X
)

CREATE INDEX AR_CARGA_IDX1 ON AR_CARGA (Sequencia)


-- DROP   TABLE AR_HISTORICO
CREATE TABLE AR_HISTORICO (
Data_Mov		DATETIME,	 --  HEADER DO ARQ DE MOV
CODigo			VARCHAR(08), -- 1	8	8	N
Tipo_Registro	INT,		 -- 9	9	1	N
Sequencia		INT,		 -- 10	14	5	N
Sistema			INT,		 -- 15	15	1	N
Segmento		VARCHAR(03), -- 16	18	3	X
Documento		VARCHAR(20), -- 19	38	20	X
Contrato		VARCHAR(30), -- 39	68	30	X
Valor			FLOAT,		 -- 69	79	11	N
Data_Vcto_Debito	 DATETIME,	  -- 	80	87	8	N
Data_Inclusao_Debito DATETIME,	  -- 	88	95	8	N
Dt_Envio_Carta		 DATETIME,	  -- 	96	103	8	N
Dt_Agendam_Carta	 DATETIME,	  -- 		104	111	8	N
Tipo_Carta			 VARCHAR(02), -- 112	113	2	X
No_Carta			 VARCHAR(02), -- 114	115	2	X
NSU_Carta			 VARCHAR(11), -- 116	126	11	N ID  **
Dt_Retorno_Correio	 DATETIME,	  -- 127	134	8	N
Cod_Retorno			 VARCHAR(02), -- 135	136	2	X
Motivo_Devolucao	 VARCHAR(02), -- 137	138	2	X
Cod_Cliente	VARCHAR(08), -- 139	146	8	N
Endereco	VARCHAR(50), -- 147	196	50	X
Bairro		VARCHAR(20), -- 197	216	20	X
Cidade		VARCHAR(20), -- 217	236	20	X
UF			VARCHAR(02), -- 237	238	2	X
CEP			VARCHAR(08), -- 239	246	8	N
Reservado	VARCHAR(53), -- 247	299	53	N
Controle	VARCHAR(01)  -- 300	300	1	X
)


CREATE INDEX AR_HISTORICO_IDX1 ON AR_HISTORICO (Data_Mov, Contrato )
CREATE INDEX AR_HISTORICO_IDX2 ON AR_HISTORICO (Contrato, Data_Mov )

USE SIG

CREATE TABLE [dbo].[AR_ocorrencia_de_para](

COD_RETORNO		VARCHAR(20),
OCORRENCIA_RET	VARCHAR(300),
COD_FC			VARCHAR(20),
OCORRENCIA_FC	VARCHAR(300)

) ON [PRIMARY]

GO
